{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.opencode.api#Auth": {
      "type": "union",
      "members": {
        "OAuth": {
          "target": "com.opencode.api#OAuth"
        },
        "ApiAuth": {
          "target": "com.opencode.api#ApiAuth"
        },
        "WellKnownAuth": {
          "target": "com.opencode.api#WellKnownAuth"
        }
      },
      "traits": {}
    },
    "com.opencode.api#OAuth": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.opencode.api#OAuthType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "refresh": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "access": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expires": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "accountId": {
          "target": "smithy.api#String"
        },
        "enterpriseUrl": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.opencode.api#OAuthType": {
      "type": "enum",
      "members": {
        "OAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth"
          }
        }
      },
      "traits": {}
    },
    "com.opencode.api#ApiAuth": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.opencode.api#ApiAuthType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.opencode.api#ApiAuthMetadataMap"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ApiAuthType": {
      "type": "enum",
      "members": {
        "API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api"
          }
        }
      },
      "traits": {}
    },
    "com.opencode.api#ApiAuthMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#WellKnownAuth": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.opencode.api#WellKnownAuthType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.opencode.api#WellKnownAuthType": {
      "type": "enum",
      "members": {
        "WELLKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wellknown"
          }
        }
      },
      "traits": {}
    },
    "com.opencode.api#AuthSetRequest": {
      "type": "structure",
      "members": {
        "providerID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.opencode.api#Auth",
          "traits": {
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.opencode.api#AuthSetResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.opencode.api#AuthSet": {
      "type": "operation",
      "input": {
        "target": "com.opencode.api#AuthSetRequest"
      },
      "output": {
        "target": "com.opencode.api#AuthSetResponse"
      },
      "errors": [
        {
          "target": "com.opencode.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/auth/{providerID}",
          "code": 200
        },
        "smithy.api#documentation": "Set auth credentials\n\nSet authentication credentials"
      }
    },
    "com.opencode.api#AuthRemoveRequest": {
      "type": "structure",
      "members": {
        "providerID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.opencode.api#AuthRemoveResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.opencode.api#AuthRemove": {
      "type": "operation",
      "input": {
        "target": "com.opencode.api#AuthRemoveRequest"
      },
      "output": {
        "target": "com.opencode.api#AuthRemoveResponse"
      },
      "errors": [
        {
          "target": "com.opencode.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/auth/{providerID}",
          "code": 200
        },
        "smithy.api#documentation": "Remove auth credentials\n\nRemove authentication credentials"
      }
    },
    "com.opencode.api#AppLogRequestLevel": {
      "type": "enum",
      "members": {
        "DEBUG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "debug"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "info"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "WARN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warn"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Log level"
      }
    },
    "com.opencode.api#AppLogRequest": {
      "type": "structure",
      "members": {
        "directory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "directory"
          }
        },
        "workspace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "workspace"
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service name for the log entry",
            "smithy.api#required": {}
          }
        },
        "level": {
          "target": "com.opencode.api#AppLogRequestLevel",
          "traits": {
            "smithy.api#documentation": "Log level",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Log message",
            "smithy.api#required": {}
          }
        },
        "extra": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.opencode.api#AppLogResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.opencode.api#AppLog": {
      "type": "operation",
      "input": {
        "target": "com.opencode.api#AppLogRequest"
      },
      "output": {
        "target": "com.opencode.api#AppLogResponse"
      },
      "errors": [
        {
          "target": "com.opencode.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/log",
          "code": 200
        },
        "smithy.api#documentation": "Write log\n\nWrite a log entry to the server logs with specified level and metadata."
      }
    },
    "com.opencode.api#MoveSessionDestination": {
      "type": "structure",
      "members": {
        "directory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.opencode.api#ExperimentalControlPlaneMoveSessionRequest": {
      "type": "structure",
      "members": {
        "sessionID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "destination": {
          "target": "com.opencode.api#MoveSessionDestination",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "moveChanges": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.opencode.api#ExperimentalControlPlaneMoveSession": {
      "type": "operation",
      "input": {
        "target": "com.opencode.api#ExperimentalControlPlaneMoveSessionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.opencode.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/experimental/control-plane/move-session",
          "code": 200
        },
        "smithy.api#documentation": "Move session\n\nMove a session to another project directory, optionally transferring local changes."
      }
    },
    "com.opencode.api#GlobalHealthResponse": {
      "type": "structure",
      "members": {
        "healthy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.opencode.api#GlobalHealth": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.opencode.api#GlobalHealthResponse"
      },
      "errors": [
        {
          "target": "com.opencode.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/global/health",
          "code": 200
        },
        "smithy.api#documentation": "Get health\n\nGet health information about the OpenCode server."
      }
    },
    "com.opencode.api#GlobalEvent": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.opencode.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/global/event",
          "code": 200
        },
        "smithy.api#documentation": "Get global events\n\nSubscribe to global events from the OpenCode system using server-sent events."
      }
    },
    "com.opencode.api#Config": {
      "type": "structure",
      "members": {
        "_schema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "$schema"
          }
        },
        "shell": {
          "target": "smithy.api#String"
        },
        "logLevel": {
          "target": "com.opencode.api#LogLevel"
        },
        "server": {
          "target": "com.opencode.api#ServerConfig"
        },
        "command": {
          "target": "com.opencode.api#ConfigCommandMap"
        },
        "skills": {
          "target": "com.opencode.api#ConfigSkills"
        },
        "references": {
          "target": "com.opencode.api#ConfigReferencesMap"
        },
        "reference": {
          "target": "com.opencode.api#ConfigReferenceMap"
        },
        "watcher": {
          "target": "com.opencode.api#ConfigWatcher"
        },
        "snapshot": {
          "target": "smithy.api#Boolean"
        },
        "plugin": {
          "target": "com.opencode.api#ConfigPluginList"
        },
        "share": {
          "target": "com.opencode.api#ConfigShare"
        },
        "autoshare": {
          "target": "smithy.api#Boolean"
        },
        "autoupdate": {
          "target": "com.opencode.api#ConfigAutoupdate",
          "traits": {
            "smithy.api#documentation": "Automatically update to the latest version. Set to true to auto-update, false to disable, or 'notify' to show update notifications"
          }
        },
        "disabled_providers": {
          "target": "com.opencode.api#ConfigDisabledProvidersList"
        },
        "enabled_providers": {
          "target": "com.opencode.api#ConfigEnabledProvidersList"
        },
        "model": {
          "target": "smithy.api#String"
        },
        "small_model": {
          "target": "smithy.api#String"
        },
        "default_agent": {
          "target": "smithy.api#String"
        },
        "subagent_depth": {
          "target": "smithy.api#Integer"
        },
        "username": {
          "target": "smithy.api#String"
        },
        "mode": {
          "target": "com.opencode.api#ConfigMode"
        },
        "agent": {
          "target": "com.opencode.api#ConfigAgent"
        },
        "provider": {
          "target": "com.opencode.api#ConfigProviderMap"
        },
        "mcp": {
          "target": "com.opencode.api#ConfigMcpMap"
        },
        "formatter": {
          "target": "com.opencode.api#ConfigFormatter",
          "traits": {
            "smithy.api#documentation": "Enable or configure formatters. Omit or set to false to disable, true to enable built-ins, or an object to enable built-ins with overrides."
          }
        },
        "lsp": {
          "target": "com.opencode.api#ConfigLsp",
          "traits": {
            "smithy.api#documentation": "Enable or configure LSP servers. Omit or set to false to disable, true to enable built-ins, or an object to enable built-ins with overrides."
          }
        },
        "instructions": {
          "target": "com.opencode.api#ConfigInstructionsList"
        },
        "layout": {
          "target": "com.opencode.api#LayoutConfig"
        },
        "permission": {
          "target": "com.opencode.api#PermissionConfig"
        },
        "tools": {
          "target": "com.opencode.api#ConfigToolsMap"
        },
        "attachment": {
          "target": "com.opencode.api#AttachmentConfig"
        },
        "enterprise": {
          "target": "com.opencode.api#ConfigEnterprise"
        },
        "tool_output": {
          "target": "com.opencode.api#ConfigToolOutput"
        },
        "compaction": {
          "target": "com.opencode.api#ConfigCompaction"
        },
        "experimental": {
          "target": "com.opencode.api#ConfigExperimental"
        }
      },
      "traits": {}
    },
    "com.opencode.api#LogLevel": {
      "type": "enum",
      "members": {
        "DEBUG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEBUG"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFO"
          }
        },
        "WARN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARN"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Log level"
      }
    },
    "com.opencode.api#ServerConfig": {
      "type": "structure",
      "members": {
        "port": {
          "target": "smithy.api#Integer"
        },
        "hostname": {
          "target": "smithy.api#String"
        },
        "mdns": {
          "target": "smithy.api#Boolean"
        },
        "mdnsDomain": {
          "target": "smithy.api#String"
        },
        "cors": {
          "target": "com.opencode.api#ServerConfigCorsList"
        }
      },
      "traits": {
        "smithy.api#documentation": "Server configuration for opencode serve and web commands"
      }
    },
    "com.opencode.api#ServerConfigCorsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigCommandValue": {
      "type": "structure",
      "members": {
        "template": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "agent": {
          "target": "smithy.api#String"
        },
        "model": {
          "target": "smithy.api#String"
        },
        "variant": {
          "target": "smithy.api#String"
        },
        "subtask": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigCommandMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.opencode.api#ConfigCommandValue"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigSkillsPathsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigSkillsUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigSkills": {
      "type": "structure",
      "members": {
        "paths": {
          "target": "com.opencode.api#ConfigSkillsPathsList"
        },
        "urls": {
          "target": "com.opencode.api#ConfigSkillsUrlsList"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigV2ReferenceGit": {
      "type": "structure",
      "members": {
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branch": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "hidden": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigV2ReferenceLocal": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "hidden": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigReferencesValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "ConfigV2ReferenceGit": {
          "target": "com.opencode.api#ConfigV2ReferenceGit"
        },
        "ConfigV2ReferenceLocal": {
          "target": "com.opencode.api#ConfigV2ReferenceLocal"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigReferencesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.opencode.api#ConfigReferencesValue"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigReferenceValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "ConfigV2ReferenceGit": {
          "target": "com.opencode.api#ConfigV2ReferenceGit"
        },
        "ConfigV2ReferenceLocal": {
          "target": "com.opencode.api#ConfigV2ReferenceLocal"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigReferenceMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.opencode.api#ConfigReferenceValue"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigWatcherIgnoreList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigWatcher": {
      "type": "structure",
      "members": {
        "ignore": {
          "target": "com.opencode.api#ConfigWatcherIgnoreList"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigPluginItemCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigPluginItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.opencode.api#ConfigPluginItemCase1List"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigPluginList": {
      "type": "list",
      "member": {
        "target": "com.opencode.api#ConfigPluginItem"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigShare": {
      "type": "enum",
      "members": {
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigAutoupdateCase1": {
      "type": "enum",
      "members": {
        "NOTIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "notify"
          }
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigAutoupdate": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Boolean"
        },
        "Case1": {
          "target": "com.opencode.api#ConfigAutoupdateCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "Automatically update to the latest version. Set to true to auto-update, false to disable, or 'notify' to show update notifications"
      }
    },
    "com.opencode.api#ConfigDisabledProvidersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigEnabledProvidersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#AgentConfig": {
      "type": "structure",
      "members": {
        "model": {
          "target": "smithy.api#String"
        },
        "variant": {
          "target": "smithy.api#String"
        },
        "temperature": {
          "target": "smithy.api#Double"
        },
        "top_p": {
          "target": "smithy.api#Double"
        },
        "prompt": {
          "target": "smithy.api#String"
        },
        "tools": {
          "target": "com.opencode.api#AgentConfigToolsMap"
        },
        "disable": {
          "target": "smithy.api#Boolean"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "mode": {
          "target": "com.opencode.api#AgentConfigMode"
        },
        "hidden": {
          "target": "smithy.api#Boolean"
        },
        "options": {
          "target": "smithy.api#Document"
        },
        "color": {
          "target": "com.opencode.api#AgentConfigColor",
          "traits": {
            "smithy.api#documentation": "Hex color code (e.g., #FF5733) or theme color (e.g., primary)"
          }
        },
        "steps": {
          "target": "smithy.api#Integer"
        },
        "maxSteps": {
          "target": "smithy.api#Integer"
        },
        "permission": {
          "target": "com.opencode.api#PermissionConfig"
        }
      },
      "traits": {}
    },
    "com.opencode.api#AgentConfigToolsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Boolean"
      },
      "traits": {}
    },
    "com.opencode.api#AgentConfigMode": {
      "type": "enum",
      "members": {
        "SUBAGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subagent"
          }
        },
        "PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "primary"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      },
      "traits": {}
    },
    "com.opencode.api#AgentConfigColorCase1": {
      "type": "enum",
      "members": {
        "PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "primary"
          }
        },
        "SECONDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secondary"
          }
        },
        "ACCENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accent"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warning"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "info"
          }
        }
      },
      "traits": {}
    },
    "com.opencode.api#AgentConfigColor": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.opencode.api#AgentConfigColorCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "Hex color code (e.g., #FF5733) or theme color (e.g., primary)"
      }
    },
    "com.opencode.api#PermissionConfig": {
      "type": "union",
      "members": {
        "PermissionActionConfig": {
          "target": "com.opencode.api#PermissionActionConfig"
        },
        "Case1": {
          "target": "com.opencode.api#PermissionConfigCase1"
        }
      },
      "traits": {}
    },
    "com.opencode.api#PermissionActionConfig": {
      "type": "enum",
      "members": {
        "ASK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ask"
          }
        },
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        }
      },
      "traits": {}
    },
    "com.opencode.api#PermissionRuleConfig": {
      "type": "union",
      "members": {
        "PermissionActionConfig": {
          "target": "com.opencode.api#PermissionActionConfig"
        },
        "PermissionObjectConfig": {
          "target": "com.opencode.api#PermissionObjectConfig"
        }
      },
      "traits": {}
    },
    "com.opencode.api#PermissionObjectConfig": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.opencode.api#PermissionActionConfig"
      },
      "traits": {}
    },
    "com.opencode.api#PermissionConfigCase1": {
      "type": "structure",
      "members": {
        "read": {
          "target": "com.opencode.api#PermissionRuleConfig"
        },
        "edit": {
          "target": "com.opencode.api#PermissionRuleConfig"
        },
        "glob": {
          "target": "com.opencode.api#PermissionRuleConfig"
        },
        "grep": {
          "target": "com.opencode.api#PermissionRuleConfig"
        },
        "list": {
          "target": "com.opencode.api#PermissionRuleConfig"
        },
        "bash": {
          "target": "com.opencode.api#PermissionRuleConfig"
        },
        "task": {
          "target": "com.opencode.api#PermissionRuleConfig"
        },
        "external_directory": {
          "target": "com.opencode.api#PermissionRuleConfig"
        },
        "todowrite": {
          "target": "com.opencode.api#PermissionActionConfig"
        },
        "question": {
          "target": "com.opencode.api#PermissionActionConfig"
        },
        "webfetch": {
          "target": "com.opencode.api#PermissionActionConfig"
        },
        "websearch": {
          "target": "com.opencode.api#PermissionActionConfig"
        },
        "lsp": {
          "target": "com.opencode.api#PermissionRuleConfig"
        },
        "doom_loop": {
          "target": "com.opencode.api#PermissionActionConfig"
        },
        "skill": {
          "target": "com.opencode.api#PermissionRuleConfig"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigMode": {
      "type": "structure",
      "members": {
        "build": {
          "target": "com.opencode.api#AgentConfig"
        },
        "plan": {
          "target": "com.opencode.api#AgentConfig"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigAgent": {
      "type": "structure",
      "members": {
        "plan": {
          "target": "com.opencode.api#AgentConfig"
        },
        "build": {
          "target": "com.opencode.api#AgentConfig"
        },
        "general": {
          "target": "com.opencode.api#AgentConfig"
        },
        "explore": {
          "target": "com.opencode.api#AgentConfig"
        },
        "title": {
          "target": "com.opencode.api#AgentConfig"
        },
        "summary": {
          "target": "com.opencode.api#AgentConfig"
        },
        "compaction": {
          "target": "com.opencode.api#AgentConfig"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ProviderConfig": {
      "type": "structure",
      "members": {
        "api": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "env": {
          "target": "com.opencode.api#ProviderConfigEnvList"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "npm": {
          "target": "smithy.api#String"
        },
        "whitelist": {
          "target": "com.opencode.api#ProviderConfigWhitelistList"
        },
        "blacklist": {
          "target": "com.opencode.api#ProviderConfigBlacklistList"
        },
        "options": {
          "target": "com.opencode.api#ProviderConfigOptions"
        },
        "models": {
          "target": "com.opencode.api#ProviderConfigModelsMap"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ProviderConfigEnvList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#ProviderConfigWhitelistList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#ProviderConfigBlacklistList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#ProviderConfigOptionsTimeout": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Integer"
        },
        "Case1": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Timeout in milliseconds for full requests to this provider. Set to false to disable timeout."
      }
    },
    "com.opencode.api#ProviderConfigOptionsHeaderTimeout": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Integer"
        },
        "Case1": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Timeout in milliseconds to wait for response headers. Provider integrations may set defaults. Set to false to disable timeout."
      }
    },
    "com.opencode.api#ProviderConfigOptions": {
      "type": "structure",
      "members": {
        "apiKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        },
        "baseURL": {
          "target": "smithy.api#String"
        },
        "enterpriseUrl": {
          "target": "smithy.api#String"
        },
        "setCacheKey": {
          "target": "smithy.api#Boolean"
        },
        "timeout": {
          "target": "com.opencode.api#ProviderConfigOptionsTimeout",
          "traits": {
            "smithy.api#documentation": "Timeout in milliseconds for full requests to this provider. Set to false to disable timeout."
          }
        },
        "headerTimeout": {
          "target": "com.opencode.api#ProviderConfigOptionsHeaderTimeout",
          "traits": {
            "smithy.api#documentation": "Timeout in milliseconds to wait for response headers. Provider integrations may set defaults. Set to false to disable timeout."
          }
        },
        "chunkTimeout": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ProviderConfigModelsValueInterleavedCase1": {
      "type": "enum",
      "members": {
        "REASONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reasoning"
          }
        },
        "REASONING_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reasoning_content"
          }
        },
        "REASONING_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reasoning_text"
          }
        }
      },
      "traits": {}
    },
    "com.opencode.api#ProviderConfigModelsValueInterleavedCase3FieldCase0": {
      "type": "enum",
      "members": {
        "REASONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reasoning"
          }
        },
        "REASONING_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reasoning_content"
          }
        },
        "REASONING_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reasoning_text"
          }
        }
      },
      "traits": {}
    },
    "com.opencode.api#ProviderConfigModelsValueInterleavedCase3Field": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.opencode.api#ProviderConfigModelsValueInterleavedCase3FieldCase0"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ProviderConfigModelsValueInterleavedCase3": {
      "type": "structure",
      "members": {
        "field": {
          "target": "com.opencode.api#ProviderConfigModelsValueInterleavedCase3Field",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.opencode.api#ProviderConfigModelsValueInterleaved": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Boolean"
        },
        "Case1": {
          "target": "com.opencode.api#ProviderConfigModelsValueInterleavedCase1"
        },
        "Case2": {
          "target": "smithy.api#String"
        },
        "Case3": {
          "target": "com.opencode.api#ProviderConfigModelsValueInterleavedCase3"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ProviderConfigModelsValueCostContextOver200k": {
      "type": "structure",
      "members": {
        "input": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "output": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cache_read": {
          "target": "smithy.api#Double"
        },
        "cache_write": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ProviderConfigModelsValueCost": {
      "type": "structure",
      "members": {
        "input": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "output": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cache_read": {
          "target": "smithy.api#Double"
        },
        "cache_write": {
          "target": "smithy.api#Double"
        },
        "context_over_200k": {
          "target": "com.opencode.api#ProviderConfigModelsValueCostContextOver200k"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ProviderConfigModelsValueLimit": {
      "type": "structure",
      "members": {
        "context": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "input": {
          "target": "smithy.api#Double"
        },
        "output": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.opencode.api#ProviderConfigModelsValueModalitiesInputItem": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audio"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image"
          }
        },
        "VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "video"
          }
        },
        "PDF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pdf"
          }
        }
      },
      "traits": {}
    },
    "com.opencode.api#ProviderConfigModelsValueModalitiesInputList": {
      "type": "list",
      "member": {
        "target": "com.opencode.api#ProviderConfigModelsValueModalitiesInputItem"
      },
      "traits": {}
    },
    "com.opencode.api#ProviderConfigModelsValueModalitiesOutputItem": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audio"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image"
          }
        },
        "VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "video"
          }
        },
        "PDF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pdf"
          }
        }
      },
      "traits": {}
    },
    "com.opencode.api#ProviderConfigModelsValueModalitiesOutputList": {
      "type": "list",
      "member": {
        "target": "com.opencode.api#ProviderConfigModelsValueModalitiesOutputItem"
      },
      "traits": {}
    },
    "com.opencode.api#ProviderConfigModelsValueModalities": {
      "type": "structure",
      "members": {
        "input": {
          "target": "com.opencode.api#ProviderConfigModelsValueModalitiesInputList"
        },
        "output": {
          "target": "com.opencode.api#ProviderConfigModelsValueModalitiesOutputList"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ProviderConfigModelsValueStatus": {
      "type": "enum",
      "members": {
        "ALPHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alpha"
          }
        },
        "BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "beta"
          }
        },
        "DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deprecated"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        }
      },
      "traits": {}
    },
    "com.opencode.api#ProviderConfigModelsValueProvider": {
      "type": "structure",
      "members": {
        "npm": {
          "target": "smithy.api#String"
        },
        "api": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ProviderConfigModelsValueHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#ProviderConfigModelsValueVariantsValue": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ProviderConfigModelsValueVariantsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.opencode.api#ProviderConfigModelsValueVariantsValue"
      },
      "traits": {
        "smithy.api#documentation": "Variant-specific configuration"
      }
    },
    "com.opencode.api#ProviderConfigModelsValue": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "family": {
          "target": "smithy.api#String"
        },
        "release_date": {
          "target": "smithy.api#String"
        },
        "attachment": {
          "target": "smithy.api#Boolean"
        },
        "reasoning": {
          "target": "smithy.api#Boolean"
        },
        "temperature": {
          "target": "smithy.api#Boolean"
        },
        "tool_call": {
          "target": "smithy.api#Boolean"
        },
        "interleaved": {
          "target": "com.opencode.api#ProviderConfigModelsValueInterleaved"
        },
        "cost": {
          "target": "com.opencode.api#ProviderConfigModelsValueCost"
        },
        "limit": {
          "target": "com.opencode.api#ProviderConfigModelsValueLimit"
        },
        "modalities": {
          "target": "com.opencode.api#ProviderConfigModelsValueModalities"
        },
        "experimental": {
          "target": "smithy.api#Boolean"
        },
        "status": {
          "target": "com.opencode.api#ProviderConfigModelsValueStatus"
        },
        "provider": {
          "target": "com.opencode.api#ProviderConfigModelsValueProvider"
        },
        "options": {
          "target": "smithy.api#Document"
        },
        "headers": {
          "target": "com.opencode.api#ProviderConfigModelsValueHeadersMap"
        },
        "variants": {
          "target": "com.opencode.api#ProviderConfigModelsValueVariantsMap",
          "traits": {
            "smithy.api#documentation": "Variant-specific configuration"
          }
        }
      },
      "traits": {}
    },
    "com.opencode.api#ProviderConfigModelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.opencode.api#ProviderConfigModelsValue"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigProviderMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.opencode.api#ProviderConfig"
      },
      "traits": {}
    },
    "com.opencode.api#McpLocalConfig": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.opencode.api#McpLocalConfigType",
          "traits": {
            "smithy.api#documentation": "Type of MCP server connection",
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "com.opencode.api#McpLocalConfigCommandList",
          "traits": {
            "smithy.api#documentation": "Command and arguments to run the MCP server",
            "smithy.api#required": {}
          }
        },
        "cwd": {
          "target": "smithy.api#String"
        },
        "environment": {
          "target": "com.opencode.api#McpLocalConfigEnvironmentMap"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "timeout": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.opencode.api#McpLocalConfigType": {
      "type": "enum",
      "members": {
        "LOCAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "local"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of MCP server connection"
      }
    },
    "com.opencode.api#McpLocalConfigCommandList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Command and arguments to run the MCP server"
      }
    },
    "com.opencode.api#McpLocalConfigEnvironmentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#McpRemoteConfig": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.opencode.api#McpRemoteConfigType",
          "traits": {
            "smithy.api#documentation": "Type of MCP server connection",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the remote MCP server",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "headers": {
          "target": "com.opencode.api#McpRemoteConfigHeadersMap"
        },
        "oauth": {
          "target": "com.opencode.api#McpRemoteConfigOauth",
          "traits": {
            "smithy.api#documentation": "OAuth authentication configuration for the MCP server. Set to false to disable OAuth auto-detection."
          }
        },
        "timeout": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.opencode.api#McpRemoteConfigType": {
      "type": "enum",
      "members": {
        "REMOTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "remote"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of MCP server connection"
      }
    },
    "com.opencode.api#McpRemoteConfigHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#McpOAuthConfig": {
      "type": "structure",
      "members": {
        "clientId": {
          "target": "smithy.api#String"
        },
        "clientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        },
        "scope": {
          "target": "smithy.api#String"
        },
        "callbackPort": {
          "target": "smithy.api#Integer"
        },
        "redirectUri": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.opencode.api#McpRemoteConfigOauth": {
      "type": "union",
      "members": {
        "McpOAuthConfig": {
          "target": "com.opencode.api#McpOAuthConfig"
        },
        "Case1": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "OAuth authentication configuration for the MCP server. Set to false to disable OAuth auto-detection."
      }
    },
    "com.opencode.api#ConfigMcpValueCase2": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigMcpValue": {
      "type": "union",
      "members": {
        "McpLocalConfig": {
          "target": "com.opencode.api#McpLocalConfig"
        },
        "McpRemoteConfig": {
          "target": "com.opencode.api#McpRemoteConfig"
        },
        "Case2": {
          "target": "com.opencode.api#ConfigMcpValueCase2"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigMcpMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.opencode.api#ConfigMcpValue"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigFormatterCase1ValueCommandList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigFormatterCase1ValueEnvironmentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigFormatterCase1ValueExtensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigFormatterCase1Value": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean"
        },
        "command": {
          "target": "com.opencode.api#ConfigFormatterCase1ValueCommandList"
        },
        "environment": {
          "target": "com.opencode.api#ConfigFormatterCase1ValueEnvironmentMap"
        },
        "extensions": {
          "target": "com.opencode.api#ConfigFormatterCase1ValueExtensionsList"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigFormatterCase1Map": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.opencode.api#ConfigFormatterCase1Value"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigFormatter": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Boolean"
        },
        "Case1": {
          "target": "com.opencode.api#ConfigFormatterCase1Map"
        }
      },
      "traits": {
        "smithy.api#documentation": "Enable or configure formatters. Omit or set to false to disable, true to enable built-ins, or an object to enable built-ins with overrides."
      }
    },
    "com.opencode.api#ConfigLspCase1ValueCase0": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigLspCase1ValueCase1CommandList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigLspCase1ValueCase1ExtensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigLspCase1ValueCase1EnvMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigLspCase1ValueCase1": {
      "type": "structure",
      "members": {
        "command": {
          "target": "com.opencode.api#ConfigLspCase1ValueCase1CommandList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "extensions": {
          "target": "com.opencode.api#ConfigLspCase1ValueCase1ExtensionsList"
        },
        "disabled": {
          "target": "smithy.api#Boolean"
        },
        "env": {
          "target": "com.opencode.api#ConfigLspCase1ValueCase1EnvMap"
        },
        "initialization": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigLspCase1Value": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.opencode.api#ConfigLspCase1ValueCase0"
        },
        "Case1": {
          "target": "com.opencode.api#ConfigLspCase1ValueCase1"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigLspCase1Map": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.opencode.api#ConfigLspCase1Value"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigLsp": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Boolean"
        },
        "Case1": {
          "target": "com.opencode.api#ConfigLspCase1Map"
        }
      },
      "traits": {
        "smithy.api#documentation": "Enable or configure LSP servers. Omit or set to false to disable, true to enable built-ins, or an object to enable built-ins with overrides."
      }
    },
    "com.opencode.api#ConfigInstructionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#LayoutConfig": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "STRETCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stretch"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "@deprecated Always uses stretch layout."
      }
    },
    "com.opencode.api#ConfigToolsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Boolean"
      },
      "traits": {}
    },
    "com.opencode.api#AttachmentConfig": {
      "type": "structure",
      "members": {
        "image": {
          "target": "com.opencode.api#ImageAttachmentConfig"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ImageAttachmentConfig": {
      "type": "structure",
      "members": {
        "auto_resize": {
          "target": "smithy.api#Boolean"
        },
        "max_width": {
          "target": "smithy.api#Integer"
        },
        "max_height": {
          "target": "smithy.api#Integer"
        },
        "max_base64_bytes": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigEnterprise": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigToolOutput": {
      "type": "structure",
      "members": {
        "max_lines": {
          "target": "smithy.api#Integer"
        },
        "max_bytes": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigCompaction": {
      "type": "structure",
      "members": {
        "auto": {
          "target": "smithy.api#Boolean"
        },
        "prune": {
          "target": "smithy.api#Boolean"
        },
        "tail_turns": {
          "target": "smithy.api#Integer"
        },
        "preserve_recent_tokens": {
          "target": "smithy.api#Integer"
        },
        "reserved": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigExperimentalPrimaryToolsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigV2ExperimentalPolicy": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.opencode.api#ConfigV2ExperimentalPolicyAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "effect": {
          "target": "com.opencode.api#PolicyEffect",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigV2ExperimentalPolicyAction": {
      "type": "enum",
      "members": {
        "PROVIDER_USE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provider.use"
          }
        }
      },
      "traits": {}
    },
    "com.opencode.api#PolicyEffect": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigExperimentalPoliciesList": {
      "type": "list",
      "member": {
        "target": "com.opencode.api#ConfigV2ExperimentalPolicy"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigExperimental": {
      "type": "structure",
      "members": {
        "disable_paste_summary": {
          "target": "smithy.api#Boolean"
        },
        "batch_tool": {
          "target": "smithy.api#Boolean"
        },
        "openTelemetry": {
          "target": "smithy.api#Boolean"
        },
        "primary_tools": {
          "target": "com.opencode.api#ConfigExperimentalPrimaryToolsList"
        },
        "continue_loop_on_deny": {
          "target": "smithy.api#Boolean"
        },
        "mcp_timeout": {
          "target": "smithy.api#Integer"
        },
        "policies": {
          "target": "com.opencode.api#ConfigExperimentalPoliciesList"
        }
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigGet": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.opencode.api#Config"
      },
      "errors": [
        {
          "target": "com.opencode.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/global/config",
          "code": 200
        },
        "smithy.api#documentation": "Get global configuration\n\nRetrieve the current global OpenCode configuration settings and preferences."
      }
    },
    "com.opencode.api#GlobalConfigUpdateRequestCommandValue": {
      "type": "structure",
      "members": {
        "template": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "agent": {
          "target": "smithy.api#String"
        },
        "model": {
          "target": "smithy.api#String"
        },
        "variant": {
          "target": "smithy.api#String"
        },
        "subtask": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestCommandMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.opencode.api#GlobalConfigUpdateRequestCommandValue"
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestSkillsPathsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestSkillsUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestSkills": {
      "type": "structure",
      "members": {
        "paths": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestSkillsPathsList"
        },
        "urls": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestSkillsUrlsList"
        }
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestReferencesValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "ConfigV2ReferenceGit": {
          "target": "com.opencode.api#ConfigV2ReferenceGit"
        },
        "ConfigV2ReferenceLocal": {
          "target": "com.opencode.api#ConfigV2ReferenceLocal"
        }
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestReferencesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.opencode.api#GlobalConfigUpdateRequestReferencesValue"
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestReferenceValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "ConfigV2ReferenceGit": {
          "target": "com.opencode.api#ConfigV2ReferenceGit"
        },
        "ConfigV2ReferenceLocal": {
          "target": "com.opencode.api#ConfigV2ReferenceLocal"
        }
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestReferenceMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.opencode.api#GlobalConfigUpdateRequestReferenceValue"
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestWatcherIgnoreList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestWatcher": {
      "type": "structure",
      "members": {
        "ignore": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestWatcherIgnoreList"
        }
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestPluginItemCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestPluginItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestPluginItemCase1List"
        }
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestPluginList": {
      "type": "list",
      "member": {
        "target": "com.opencode.api#GlobalConfigUpdateRequestPluginItem"
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestShare": {
      "type": "enum",
      "members": {
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestAutoupdateCase1": {
      "type": "enum",
      "members": {
        "NOTIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "notify"
          }
        }
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestAutoupdate": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Boolean"
        },
        "Case1": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestAutoupdateCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "Automatically update to the latest version. Set to true to auto-update, false to disable, or 'notify' to show update notifications"
      }
    },
    "com.opencode.api#GlobalConfigUpdateRequestDisabledProvidersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestEnabledProvidersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestMode": {
      "type": "structure",
      "members": {
        "build": {
          "target": "com.opencode.api#AgentConfig"
        },
        "plan": {
          "target": "com.opencode.api#AgentConfig"
        }
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestAgent": {
      "type": "structure",
      "members": {
        "plan": {
          "target": "com.opencode.api#AgentConfig"
        },
        "build": {
          "target": "com.opencode.api#AgentConfig"
        },
        "general": {
          "target": "com.opencode.api#AgentConfig"
        },
        "explore": {
          "target": "com.opencode.api#AgentConfig"
        },
        "title": {
          "target": "com.opencode.api#AgentConfig"
        },
        "summary": {
          "target": "com.opencode.api#AgentConfig"
        },
        "compaction": {
          "target": "com.opencode.api#AgentConfig"
        }
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestProviderMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.opencode.api#ProviderConfig"
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestMcpValueCase2": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestMcpValue": {
      "type": "union",
      "members": {
        "McpLocalConfig": {
          "target": "com.opencode.api#McpLocalConfig"
        },
        "McpRemoteConfig": {
          "target": "com.opencode.api#McpRemoteConfig"
        },
        "Case2": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestMcpValueCase2"
        }
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestMcpMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.opencode.api#GlobalConfigUpdateRequestMcpValue"
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestFormatterCase1ValueCommandList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestFormatterCase1ValueEnvironmentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestFormatterCase1ValueExtensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestFormatterCase1Value": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean"
        },
        "command": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestFormatterCase1ValueCommandList"
        },
        "environment": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestFormatterCase1ValueEnvironmentMap"
        },
        "extensions": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestFormatterCase1ValueExtensionsList"
        }
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestFormatterCase1Map": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.opencode.api#GlobalConfigUpdateRequestFormatterCase1Value"
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestFormatter": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Boolean"
        },
        "Case1": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestFormatterCase1Map"
        }
      },
      "traits": {
        "smithy.api#documentation": "Enable or configure formatters. Omit or set to false to disable, true to enable built-ins, or an object to enable built-ins with overrides."
      }
    },
    "com.opencode.api#GlobalConfigUpdateRequestLspCase1ValueCase0": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestLspCase1ValueCase1CommandList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestLspCase1ValueCase1ExtensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestLspCase1ValueCase1EnvMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestLspCase1ValueCase1": {
      "type": "structure",
      "members": {
        "command": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestLspCase1ValueCase1CommandList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "extensions": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestLspCase1ValueCase1ExtensionsList"
        },
        "disabled": {
          "target": "smithy.api#Boolean"
        },
        "env": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestLspCase1ValueCase1EnvMap"
        },
        "initialization": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestLspCase1Value": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestLspCase1ValueCase0"
        },
        "Case1": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestLspCase1ValueCase1"
        }
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestLspCase1Map": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.opencode.api#GlobalConfigUpdateRequestLspCase1Value"
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestLsp": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Boolean"
        },
        "Case1": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestLspCase1Map"
        }
      },
      "traits": {
        "smithy.api#documentation": "Enable or configure LSP servers. Omit or set to false to disable, true to enable built-ins, or an object to enable built-ins with overrides."
      }
    },
    "com.opencode.api#GlobalConfigUpdateRequestInstructionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestToolsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Boolean"
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestEnterprise": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestToolOutput": {
      "type": "structure",
      "members": {
        "max_lines": {
          "target": "smithy.api#Integer"
        },
        "max_bytes": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestCompaction": {
      "type": "structure",
      "members": {
        "auto": {
          "target": "smithy.api#Boolean"
        },
        "prune": {
          "target": "smithy.api#Boolean"
        },
        "tail_turns": {
          "target": "smithy.api#Integer"
        },
        "preserve_recent_tokens": {
          "target": "smithy.api#Integer"
        },
        "reserved": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestExperimentalPrimaryToolsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestExperimentalPoliciesList": {
      "type": "list",
      "member": {
        "target": "com.opencode.api#ConfigV2ExperimentalPolicy"
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequestExperimental": {
      "type": "structure",
      "members": {
        "disable_paste_summary": {
          "target": "smithy.api#Boolean"
        },
        "batch_tool": {
          "target": "smithy.api#Boolean"
        },
        "openTelemetry": {
          "target": "smithy.api#Boolean"
        },
        "primary_tools": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestExperimentalPrimaryToolsList"
        },
        "continue_loop_on_deny": {
          "target": "smithy.api#Boolean"
        },
        "mcp_timeout": {
          "target": "smithy.api#Integer"
        },
        "policies": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestExperimentalPoliciesList"
        }
      },
      "traits": {}
    },
    "com.opencode.api#GlobalConfigUpdateRequest": {
      "type": "structure",
      "members": {
        "_schema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "$schema"
          }
        },
        "shell": {
          "target": "smithy.api#String"
        },
        "logLevel": {
          "target": "com.opencode.api#LogLevel"
        },
        "server": {
          "target": "com.opencode.api#ServerConfig"
        },
        "command": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestCommandMap"
        },
        "skills": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestSkills"
        },
        "references": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestReferencesMap"
        },
        "reference": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestReferenceMap"
        },
        "watcher": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestWatcher"
        },
        "snapshot": {
          "target": "smithy.api#Boolean"
        },
        "plugin": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestPluginList"
        },
        "share": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestShare"
        },
        "autoshare": {
          "target": "smithy.api#Boolean"
        },
        "autoupdate": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestAutoupdate",
          "traits": {
            "smithy.api#documentation": "Automatically update to the latest version. Set to true to auto-update, false to disable, or 'notify' to show update notifications"
          }
        },
        "disabled_providers": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestDisabledProvidersList"
        },
        "enabled_providers": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestEnabledProvidersList"
        },
        "model": {
          "target": "smithy.api#String"
        },
        "small_model": {
          "target": "smithy.api#String"
        },
        "default_agent": {
          "target": "smithy.api#String"
        },
        "subagent_depth": {
          "target": "smithy.api#Integer"
        },
        "username": {
          "target": "smithy.api#String"
        },
        "mode": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestMode"
        },
        "agent": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestAgent"
        },
        "provider": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestProviderMap"
        },
        "mcp": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestMcpMap"
        },
        "formatter": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestFormatter",
          "traits": {
            "smithy.api#documentation": "Enable or configure formatters. Omit or set to false to disable, true to enable built-ins, or an object to enable built-ins with overrides."
          }
        },
        "lsp": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestLsp",
          "traits": {
            "smithy.api#documentation": "Enable or configure LSP servers. Omit or set to false to disable, true to enable built-ins, or an object to enable built-ins with overrides."
          }
        },
        "instructions": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestInstructionsList"
        },
        "layout": {
          "target": "com.opencode.api#LayoutConfig"
        },
        "permission": {
          "target": "com.opencode.api#PermissionConfig"
        },
        "tools": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestToolsMap"
        },
        "attachment": {
          "target": "com.opencode.api#AttachmentConfig"
        },
        "enterprise": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestEnterprise"
        },
        "tool_output": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestToolOutput"
        },
        "compaction": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestCompaction"
        },
        "experimental": {
          "target": "com.opencode.api#GlobalConfigUpdateRequestExperimental"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.opencode.api#GlobalConfigUpdate": {
      "type": "operation",
      "input": {
        "target": "com.opencode.api#GlobalConfigUpdateRequest"
      },
      "output": {
        "target": "com.opencode.api#Config"
      },
      "errors": [
        {
          "target": "com.opencode.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/global/config",
          "code": 200
        },
        "smithy.api#documentation": "Update global configuration\n\nUpdate global OpenCode configuration settings and preferences."
      }
    },
    "com.opencode.api#GlobalDisposeResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.opencode.api#GlobalDispose": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.opencode.api#GlobalDisposeResponse"
      },
      "errors": [
        {
          "target": "com.opencode.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/global/dispose",
          "code": 200
        },
        "smithy.api#documentation": "Dispose instance\n\nClean up and dispose all OpenCode instances, releasing all resources."
      }
    },
    "com.opencode.api#GlobalUpgradeRequest": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.opencode.api#GlobalUpgradeResponseBodyCase0": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.opencode.api#GlobalUpgradeResponseBodyCase1": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.opencode.api#GlobalUpgradeResponseBody": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.opencode.api#GlobalUpgradeResponseBodyCase0"
        },
        "Case1": {
          "target": "com.opencode.api#GlobalUpgradeResponseBodyCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "Upgrade result"
      }
    },
    "com.opencode.api#GlobalUpgradeResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.opencode.api#GlobalUpgradeResponseBody",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.opencode.api#GlobalUpgrade": {
      "type": "operation",
      "input": {
        "target": "com.opencode.api#GlobalUpgradeRequest"
      },
      "output": {
        "target": "com.opencode.api#GlobalUpgradeResponse"
      },
      "errors": [
        {
          "target": "com.opencode.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/global/upgrade",
          "code": 200
        },
        "smithy.api#documentation": "Upgrade opencode\n\nUpgrade opencode to the specified version."
      }
    },
    "com.opencode.api#EventSubscribeRequest": {
      "type": "structure",
      "members": {
        "directory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "directory"
          }
        },
        "workspace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "workspace"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.opencode.api#EventSubscribe": {
      "type": "operation",
      "input": {
        "target": "com.opencode.api#EventSubscribeRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/event",
          "code": 200
        },
        "smithy.api#documentation": "Subscribe to events\n\nGet events"
      }
    },
    "com.opencode.api#ConfigGetRequest": {
      "type": "structure",
      "members": {
        "directory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "directory"
          }
        },
        "workspace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "workspace"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.opencode.api#ConfigGet": {
      "type": "operation",
      "input": {
        "target": "com.opencode.api#ConfigGetRequest"
      },
      "output": {
        "target": "com.opencode.api#Config"
      },
      "errors": [
        {
          "target": "com.opencode.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/config",
          "code": 200
        },
        "smithy.api#documentation": "Get configuration\n\nRetrieve the current OpenCode configuration settings and preferences."
      }
    },
    "com.opencode.api#ConfigUpdateRequestCommandValue": {
      "type": "structure",
      "members": {
        "template": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "agent": {
          "target": "smithy.api#String"
        },
        "model": {
          "target": "smithy.api#String"
        },
        "variant": {
          "target": "smithy.api#String"
        },
        "subtask": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestCommandMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.opencode.api#ConfigUpdateRequestCommandValue"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestSkillsPathsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestSkillsUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestSkills": {
      "type": "structure",
      "members": {
        "paths": {
          "target": "com.opencode.api#ConfigUpdateRequestSkillsPathsList"
        },
        "urls": {
          "target": "com.opencode.api#ConfigUpdateRequestSkillsUrlsList"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestReferencesValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "ConfigV2ReferenceGit": {
          "target": "com.opencode.api#ConfigV2ReferenceGit"
        },
        "ConfigV2ReferenceLocal": {
          "target": "com.opencode.api#ConfigV2ReferenceLocal"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestReferencesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.opencode.api#ConfigUpdateRequestReferencesValue"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestReferenceValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "ConfigV2ReferenceGit": {
          "target": "com.opencode.api#ConfigV2ReferenceGit"
        },
        "ConfigV2ReferenceLocal": {
          "target": "com.opencode.api#ConfigV2ReferenceLocal"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestReferenceMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.opencode.api#ConfigUpdateRequestReferenceValue"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestWatcherIgnoreList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestWatcher": {
      "type": "structure",
      "members": {
        "ignore": {
          "target": "com.opencode.api#ConfigUpdateRequestWatcherIgnoreList"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestPluginItemCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestPluginItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.opencode.api#ConfigUpdateRequestPluginItemCase1List"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestPluginList": {
      "type": "list",
      "member": {
        "target": "com.opencode.api#ConfigUpdateRequestPluginItem"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestShare": {
      "type": "enum",
      "members": {
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestAutoupdateCase1": {
      "type": "enum",
      "members": {
        "NOTIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "notify"
          }
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestAutoupdate": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Boolean"
        },
        "Case1": {
          "target": "com.opencode.api#ConfigUpdateRequestAutoupdateCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "Automatically update to the latest version. Set to true to auto-update, false to disable, or 'notify' to show update notifications"
      }
    },
    "com.opencode.api#ConfigUpdateRequestDisabledProvidersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestEnabledProvidersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestMode": {
      "type": "structure",
      "members": {
        "build": {
          "target": "com.opencode.api#AgentConfig"
        },
        "plan": {
          "target": "com.opencode.api#AgentConfig"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestAgent": {
      "type": "structure",
      "members": {
        "plan": {
          "target": "com.opencode.api#AgentConfig"
        },
        "build": {
          "target": "com.opencode.api#AgentConfig"
        },
        "general": {
          "target": "com.opencode.api#AgentConfig"
        },
        "explore": {
          "target": "com.opencode.api#AgentConfig"
        },
        "title": {
          "target": "com.opencode.api#AgentConfig"
        },
        "summary": {
          "target": "com.opencode.api#AgentConfig"
        },
        "compaction": {
          "target": "com.opencode.api#AgentConfig"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestProviderMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.opencode.api#ProviderConfig"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestMcpValueCase2": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestMcpValue": {
      "type": "union",
      "members": {
        "McpLocalConfig": {
          "target": "com.opencode.api#McpLocalConfig"
        },
        "McpRemoteConfig": {
          "target": "com.opencode.api#McpRemoteConfig"
        },
        "Case2": {
          "target": "com.opencode.api#ConfigUpdateRequestMcpValueCase2"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestMcpMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.opencode.api#ConfigUpdateRequestMcpValue"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestFormatterCase1ValueCommandList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestFormatterCase1ValueEnvironmentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestFormatterCase1ValueExtensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestFormatterCase1Value": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean"
        },
        "command": {
          "target": "com.opencode.api#ConfigUpdateRequestFormatterCase1ValueCommandList"
        },
        "environment": {
          "target": "com.opencode.api#ConfigUpdateRequestFormatterCase1ValueEnvironmentMap"
        },
        "extensions": {
          "target": "com.opencode.api#ConfigUpdateRequestFormatterCase1ValueExtensionsList"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestFormatterCase1Map": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.opencode.api#ConfigUpdateRequestFormatterCase1Value"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestFormatter": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Boolean"
        },
        "Case1": {
          "target": "com.opencode.api#ConfigUpdateRequestFormatterCase1Map"
        }
      },
      "traits": {
        "smithy.api#documentation": "Enable or configure formatters. Omit or set to false to disable, true to enable built-ins, or an object to enable built-ins with overrides."
      }
    },
    "com.opencode.api#ConfigUpdateRequestLspCase1ValueCase0": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestLspCase1ValueCase1CommandList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestLspCase1ValueCase1ExtensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestLspCase1ValueCase1EnvMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestLspCase1ValueCase1": {
      "type": "structure",
      "members": {
        "command": {
          "target": "com.opencode.api#ConfigUpdateRequestLspCase1ValueCase1CommandList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "extensions": {
          "target": "com.opencode.api#ConfigUpdateRequestLspCase1ValueCase1ExtensionsList"
        },
        "disabled": {
          "target": "smithy.api#Boolean"
        },
        "env": {
          "target": "com.opencode.api#ConfigUpdateRequestLspCase1ValueCase1EnvMap"
        },
        "initialization": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestLspCase1Value": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.opencode.api#ConfigUpdateRequestLspCase1ValueCase0"
        },
        "Case1": {
          "target": "com.opencode.api#ConfigUpdateRequestLspCase1ValueCase1"
        }
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestLspCase1Map": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.opencode.api#ConfigUpdateRequestLspCase1Value"
      },
      "traits": {}
    },
    "com.opencode.api#ConfigUpdateRequestLsp": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Boolean"
        },
        "Case1": {
          "target": "com.opencode.api#ConfigUpdateRequestLspCase1Map"
        }
      },
      "traits": {
[...]
