{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.zendesk.api#GetSourcesByTargetRequest": {
      "type": "structure",
      "members": {
        "target_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The type of object the relationship field is targeting.\nThe options are \"zen:user\", \"zen:ticket\", \"zen:organization\", and \"zen:custom_object:CUSTOM_OBJECT_KEY\"\n"
          }
        },
        "target_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The id of the object the relationship field is targeting\n"
          }
        },
        "field_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The id of the lookup relationship field\n"
          }
        },
        "source_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The type of object the relationship field belongs to (example. ticket field belongs to a ticket object).\nThe options are \"zen:user\", \"zen:ticket\", \"zen:organization\", and \"zen:custom_object:CUSTOM_OBJECT_KEY\"\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.zendesk.api#UsersResponse": {
      "type": "structure",
      "members": {
        "users": {
          "target": "com.zendesk.api#UsersResponseUsersList"
        }
      },
      "traits": {}
    },
    "com.zendesk.api#UserObject": {
      "type": "union",
      "members": {
        "UserForAdmin": {
          "target": "com.zendesk.api#UserForAdmin"
        },
        "UserForEndUser": {
          "target": "com.zendesk.api#UserForEndUser"
        }
      },
      "traits": {}
    },
    "com.zendesk.api#UserForAdmin": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "false if the user has been deleted"
          }
        },
        "agent_brand_ids": {
          "target": "com.zendesk.api#UserForAdminAgentBrandIdsList",
          "traits": {
            "smithy.api#documentation": "PUT or POST requests only. Assigns agent or agents to a brand. For more information, see [Agent brand ids](#agent-brand-ids)"
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An alias displayed to end users"
          }
        },
        "chat_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the user is a chat-only agent"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the user was created"
          }
        },
        "custom_role_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "A custom role if the user is an agent on the Enterprise plan or above",
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_group_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The id of the user's default group"
          }
        },
        "details": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Any details you want to store about the user, such as an address"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's primary email address. *Writeable on create only. On update, a secondary email is added. See [Email Address](#email-address)"
          }
        },
        "external_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier from another system. The API treats the id as case insensitive. Example: \"ian1\" and \"IAN1\" are the same value.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "iana_time_zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time zone for the user"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Automatically assigned when the user is created"
          }
        },
        "last_login_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time the user signed in to Zendesk Support or made an API request\nusing an API token\n"
          }
        },
        "locale": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's locale. A BCP-47 compliant tag for the locale. If both \"locale\" and \"locale_id\" are present on create or update, \"locale_id\" is ignored and only \"locale\" is used."
          }
        },
        "locale_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The user's language identifier"
          }
        },
        "moderator": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Designates whether the user has forum moderation capabilities"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's name",
            "smithy.api#required": {}
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Any notes you want to store about the user"
          }
        },
        "only_private_comments": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "true if the user can only create private comments"
          }
        },
        "organization_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The id of the user's organization. If the user has more than one [organization memberships](/api-reference/ticketing/organizations/organization_memberships/), the id of the user's default organization. If updating, see [Organization ID](#organization-id)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's primary phone number. See [Phone Number](#phone-number) below",
            "com.distilled.openapi#nullable": {}
          }
        },
        "photo": {
          "target": "com.zendesk.api#UserForAdminPhotoMap",
          "traits": {
            "smithy.api#documentation": "The user's profile picture represented as an [Attachment](/api-reference/ticketing/tickets/ticket-attachments/) object",
            "com.distilled.openapi#nullable": {}
          }
        },
        "remote_photo_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL pointing to the user's profile picture."
          }
        },
        "report_csv": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This parameter is inert and has no effect. It may be deprecated in the\nfuture.\n\nPreviously, this parameter determined whether a user could access a CSV\nreport in a legacy Guide dashboard. This dashboard has been removed. See\n[Announcing Guide legacy reporting upgrade to\nExplore](https://support.zendesk.com/hc/en-us/articles/4762263171610-Announcing-Guide-legacy-reporting-upgrade-to-Explore-)\n"
          }
        },
        "restricted_agent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the agent has any restrictions; false for admins and unrestricted agents, true for other agents"
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's role. Possible values are \"end-user\", \"agent\", or \"admin\""
          }
        },
        "role_type": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The user's role id. 0 for a custom agent, 1 for a light agent, 2 for a chat agent, 3 for a chat agent added to the Support account as a contributor ([Chat Phase 4](https://support.zendesk.com/hc/en-us/articles/4408836197658#topic_p1h_sx4_pgb)), 4 for an admin, and 5 for a billing admin",
            "com.distilled.openapi#nullable": {}
          }
        },
        "separation": {
          "target": "com.zendesk.api#UserForAdminSeparation",
          "traits": {
            "smithy.api#documentation": "The brand separation scope for the user. Only present when the account has brand separation enabled.\nFor end users, indicates whether they are scoped to the full account or a specific brand.\nStaff users (agents and admins) always have `scope: \"account\"`.\n"
          }
        },
        "shared": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the user is shared from a different Zendesk Support instance. Shared users can be added to organizations but cannot be modified through update requests. Any attempt to update a shared user results in a 403 Forbidden error. Ticket sharing accounts only"
          }
        },
        "shared_agent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the user is a shared agent from a different Zendesk Support instance. Ticket sharing accounts only"
          }
        },
        "shared_phone_number": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the `phone` number is shared or not. See [Phone Number](#phone-number) below",
            "com.distilled.openapi#nullable": {}
          }
        },
        "signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's signature. Only agents and admins can have signatures"
          }
        },
        "suspended": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the agent is suspended. Tickets from suspended users are also suspended, and these users cannot sign in to the end user portal"
          }
        },
        "suspension_details": {
          "target": "com.zendesk.api#UserForAdminSuspensionDetails",
          "traits": {
            "smithy.api#documentation": "Channel-level suspension state for the user. The value is null if the user has no active channel-level suspension",
            "com.distilled.openapi#nullable": {}
          }
        },
        "tags": {
          "target": "com.zendesk.api#UserForAdminTagsList",
          "traits": {
            "smithy.api#documentation": "The user's tags. Only present if your account has user tagging enabled"
          }
        },
        "ticket_restriction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies which tickets the user has access to. Possible values are: \"organization\", \"groups\", \"assigned\", \"requested\", null. \"groups\" and \"assigned\" are valid only for agents. If you pass an invalid value to an end user (for example, \"groups\"), they will be assigned to \"requested\", regardless of their previous access",
            "com.distilled.openapi#nullable": {}
          }
        },
        "time_zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's time zone. See [Time Zone](#time-zone)"
          }
        },
        "two_factor_auth_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If two factor authentication is enabled",
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the user was last updated"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's API url"
          }
        },
        "user_fields": {
          "target": "com.zendesk.api#UserForAdminUserFieldsMap",
          "traits": {
            "smithy.api#documentation": "Values of custom fields in the user's profile. See [User Fields](#user-fields)"
          }
        },
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Any of the user's identities is verified. See [User Identities](/api-reference/ticketing/users/user_identities)"
          }
        }
      },
      "traits": {}
    },
    "com.zendesk.api#UserForAdminAgentBrandIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "PUT or POST requests only. Assigns agent or agents to a brand. For more information, see [Agent brand ids](#agent-brand-ids)"
      }
    },
    "com.zendesk.api#UserForAdminPhotoMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The user's profile picture represented as an [Attachment](/api-reference/ticketing/tickets/ticket-attachments/) object"
      }
    },
    "com.zendesk.api#UserForAdminSeparationScope": {
      "type": "enum",
      "members": {
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account"
          }
        },
        "BRAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brand"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The separation scope. \"account\" means account-level access; \"brand\" means access limited to a specific brand."
      }
    },
    "com.zendesk.api#UserForAdminSeparation": {
      "type": "structure",
      "members": {
        "brand_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The id of the brand the user is scoped to. Only present when \"scope\" is \"brand\"."
          }
        },
        "scope": {
          "target": "com.zendesk.api#UserForAdminSeparationScope",
          "traits": {
            "smithy.api#documentation": "The separation scope. \"account\" means account-level access; \"brand\" means access limited to a specific brand.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The brand separation scope for the user. Only present when the account has brand separation enabled.\nFor end users, indicates whether they are scoped to the full account or a specific brand.\nStaff users (agents and admins) always have `scope: \"account\"`.\n"
      }
    },
    "com.zendesk.api#UserForAdminSuspensionDetailsChannelsItem": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "MESSAGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "messaging"
          }
        }
      },
      "traits": {}
    },
    "com.zendesk.api#UserForAdminSuspensionDetailsChannelsList": {
      "type": "list",
      "member": {
        "target": "com.zendesk.api#UserForAdminSuspensionDetailsChannelsItem"
      },
      "traits": {
        "smithy.api#documentation": "Channels on which the user is suspended. `[\"all\"]` means suspended across every channel. If \"all\" is present, it must be the only element"
      }
    },
    "com.zendesk.api#UserForAdminSuspensionDetails": {
      "type": "structure",
      "members": {
        "channels": {
          "target": "com.zendesk.api#UserForAdminSuspensionDetailsChannelsList",
          "traits": {
            "smithy.api#documentation": "Channels on which the user is suspended. `[\"all\"]` means suspended across every channel. If \"all\" is present, it must be the only element",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Channel-level suspension state for the user. The value is null if the user has no active channel-level suspension"
      }
    },
    "com.zendesk.api#UserForAdminTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The user's tags. Only present if your account has user tagging enabled"
      }
    },
    "com.zendesk.api#UserForAdminUserFieldsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Values of custom fields in the user's profile. See [User Fields](#user-fields)"
      }
    },
    "com.zendesk.api#UserForEndUser": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the user was created"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The primary email address of this user. If the primary email address is not [verified](https://support.zendesk.com/hc/en-us/articles/4408886752410), the secondary email address is used"
          }
        },
        "iana_time_zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time zone for the user"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Automatically assigned when creating users"
          }
        },
        "locale": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The locale for this user"
          }
        },
        "locale_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The language identifier for this user"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the user",
            "smithy.api#required": {}
          }
        },
        "organization_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The id of the user's organization. If the user has more than one [organization memberships](/api-reference/ticketing/organizations/organization_memberships/), the id of the user's default organization. If updating, see [Organization ID](/api-reference/ticketing/users/users/#organization-id)"
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The primary phone number of this user. See [Phone Number](/api-reference/ticketing/users/users/#phone-number) in the Users API"
          }
        },
        "photo": {
          "target": "com.zendesk.api#UserForEndUserPhotoMap",
          "traits": {
            "smithy.api#documentation": "The user's profile picture represented as an [Attachment](/api-reference/ticketing/tickets/ticket-attachments/) object"
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The role of the user. Possible values: `\"end-user\"`, `\"agent\"`, `\"admin\"`"
          }
        },
        "shared_phone_number": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the `phone` number is shared or not. See [Phone Number](/api-reference/ticketing/users/users/#phone-number) in the Users API"
          }
        },
        "time_zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time-zone of this user"
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time of the last update of the user"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API url of this user"
          }
        },
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Any of the user's identities is verified. See [User Identities](/api-reference/ticketing/users/user_identities)"
          }
        }
      },
      "traits": {}
    },
    "com.zendesk.api#UserForEndUserPhotoMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The user's profile picture represented as an [Attachment](/api-reference/ticketing/tickets/ticket-attachments/) object"
      }
    },
    "com.zendesk.api#UsersResponseUsersList": {
      "type": "list",
      "member": {
        "target": "com.zendesk.api#UserObject"
      },
      "traits": {}
    },
    "com.zendesk.api#GetSourcesByTargetResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.zendesk.api#UsersResponse",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.zendesk.api#GetSourcesByTarget": {
      "type": "operation",
      "input": {
        "target": "com.zendesk.api#GetSourcesByTargetRequest"
      },
      "output": {
        "target": "com.zendesk.api#GetSourcesByTargetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v2/{target_type}/{target_id}/relationship_fields/{field_id}/{source_type}",
          "code": 200
        },
        "smithy.api#documentation": "Get sources by target\n\nReturns a list of source objects whose values are populated with the id of a related target object.  For example,\nif you have a lookup field called \"Success Manager\" on a ticket, this endpoint can answer the question,\n\"What tickets (sources) is this user (found by `target_type` and `target_id`)\nassigned as the 'Success Manager' (field referenced by `field_id`)?\"\n\nThis endpoint also resolves [multi-lookup fields](/api-reference/ticketing/lookup_relationships/lookup_relationships/#about-multi-lookup-relationship-fields).\nPass the multi-lookup field's id as `field_id` and \"zen:ticket\" as `source_type` to list the tickets that\nreference a target record through the field. Multi-lookup reverse lookups are resolved through search, so tickets\nthe requesting agent can't view are excluded.\n\n#### Allowed For\n\n* Agents\n\n#### Pagination\n\n* Cursor pagination (recommended)\n* Offset pagination\n\nFor a multi-lookup `field_id`, only cursor pagination applies. Offset pagination parameters are ignored and the\nresponse uses cursor pagination.\n\nSee [Pagination](/api-reference/introduction/pagination/)."
      }
    },
    "com.zendesk.api#EmailSettingsResponse": {
      "type": "structure",
      "members": {
        "settings": {
          "target": "com.zendesk.api#EmailSettingsResponseSettings"
        }
      },
      "traits": {}
    },
    "com.zendesk.api#AccountSettingsEmailObject": {
      "type": "structure",
      "members": {
        "accept_wildcard_emails": {
          "target": "smithy.api#Boolean"
        },
        "custom_dkim_domain": {
          "target": "smithy.api#Boolean"
        },
        "email_sender_authentication": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether incoming email is subjected to sender authentication checks (SPF, DKIM). This setting is deprecated and will be removed soon. It can still be turned on, but after it's on you can't turn it off"
          }
        },
        "email_sender_authentication_profile": {
          "target": "com.zendesk.api#AccountSettingsEmailObjectEmailSenderAuthenticationProfile",
          "traits": {
            "smithy.api#documentation": "The sender authentication profile in use."
          }
        },
        "email_status": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether email status and delivery information is shown in the Agent Workspace"
          }
        },
        "email_template_photos": {
          "target": "smithy.api#Boolean"
        },
        "email_template_selection": {
          "target": "smithy.api#Boolean"
        },
        "gmail_actions": {
          "target": "smithy.api#Boolean"
        },
        "html_mail_template": {
          "target": "smithy.api#String"
        },
        "mail_delimiter": {
          "target": "smithy.api#String"
        },
        "modern_email_template": {
          "target": "smithy.api#Boolean"
        },
        "multi_recipient_email_tickets": {
          "target": "smithy.api#Boolean"
        },
        "no_mail_delimiter": {
          "target": "smithy.api#Boolean"
        },
        "personalized_replies": {
          "target": "smithy.api#Boolean"
        },
        "rich_content_in_emails": {
          "target": "smithy.api#Boolean"
        },
        "send_gmail_messages_via_gmail": {
          "target": "smithy.api#Boolean"
        },
        "text_mail_template": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Email settings"
      }
    },
    "com.zendesk.api#AccountSettingsEmailObjectEmailSenderAuthenticationProfile": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "ENHANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enhanced"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The sender authentication profile in use."
      }
    },
    "com.zendesk.api#EmailSettingsResponseSettings": {
      "type": "structure",
      "members": {
        "email": {
          "target": "com.zendesk.api#AccountSettingsEmailObject"
        }
      },
      "traits": {}
    },
    "com.zendesk.api#GetAccountEmailSettings": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.zendesk.api#EmailSettingsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v2/account/email_settings",
          "code": 200
        },
        "smithy.api#documentation": "Show Email Settings\n\nReturns the email settings for the account.\n\n#### Allowed For\n\n* Admins\n* Agents with extensions_and_channel_management permission"
      }
    },
    "com.zendesk.api#UpdateAccountEmailSettingsRequestSettings": {
      "type": "structure",
      "members": {
        "email": {
          "target": "com.zendesk.api#AccountSettingsEmailObject",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.zendesk.api#UpdateAccountEmailSettingsRequest": {
      "type": "structure",
      "members": {
        "settings": {
          "target": "com.zendesk.api#UpdateAccountEmailSettingsRequestSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.zendesk.api#UpdateAccountEmailSettings": {
      "type": "operation",
      "input": {
        "target": "com.zendesk.api#UpdateAccountEmailSettingsRequest"
      },
      "output": {
        "target": "com.zendesk.api#EmailSettingsResponse"
      },
      "errors": [
        {
          "target": "com.zendesk.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/v2/account/email_settings",
          "code": 200
        },
        "smithy.api#documentation": "Update Email Settings\n\nUpdates email settings for the account.\n\n#### Allowed For\n\n* Admins\n* Agents with extensions_and_channel_management permission"
      }
    },
    "com.zendesk.api#ShowAccountSettingsRequest": {
      "type": "structure",
      "members": {
        "authenticity_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "authenticity_token",
            "smithy.api#documentation": "Legacy CSRF token. Ignored by API."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.zendesk.api#AccountSettingsResponse": {
      "type": "structure",
      "members": {
        "settings": {
          "target": "com.zendesk.api#AccountSettingsObject"
        }
      },
      "traits": {}
    },
    "com.zendesk.api#AccountSettingsObject": {
      "type": "structure",
      "members": {
        "active_features": {
          "target": "com.zendesk.api#AccountSettingsActiveFeaturesObject"
        },
        "agents": {
          "target": "com.zendesk.api#AccountSettingsAgentObject"
        },
        "api": {
          "target": "com.zendesk.api#AccountSettingsApiObject"
        },
        "apps": {
          "target": "com.zendesk.api#AccountSettingsAppsObject"
        },
        "billing": {
          "target": "com.zendesk.api#AccountSettingsBillingObject"
        },
        "branding": {
          "target": "com.zendesk.api#AccountSettingsBrandingObject"
        },
        "brands": {
          "target": "com.zendesk.api#AccountSettingsBrandsObject"
        },
        "cdn": {
          "target": "com.zendesk.api#AccountSettingsCdnObject"
        },
        "chat": {
          "target": "com.zendesk.api#AccountSettingsChatObject"
        },
        "cross_sell": {
          "target": "com.zendesk.api#AccountSettingsCrossSellObject"
        },
        "device_metadata": {
          "target": "com.zendesk.api#AccountSettingsDeviceObject"
        },
        "email": {
          "target": "com.zendesk.api#AccountSettingsEmailObject"
        },
        "google_apps": {
          "target": "com.zendesk.api#AccountSettingsGoogleAppsObject"
        },
        "groups": {
          "target": "com.zendesk.api#AccountSettingsGroupObject"
        },
        "knowledge": {
          "target": "com.zendesk.api#AccountSettingsKnowledgeObject"
        },
        "limits": {
          "target": "com.zendesk.api#AccountSettingsLimitsObject"
        },
        "localization": {
          "target": "com.zendesk.api#AccountSettingsLocalizationObject"
        },
        "lotus": {
          "target": "com.zendesk.api#AccountSettingsLotusObject"
        },
        "messaging_inactivity": {
          "target": "com.zendesk.api#AccountSettingsMessageInactivityObject"
        },
        "metrics": {
          "target": "com.zendesk.api#AccountSettingsMetricsObject"
        },
        "onboarding": {
          "target": "com.zendesk.api#AccountSettingsOnboardingObject"
        },
        "routing": {
          "target": "com.zendesk.api#AccountSettingsRoutingObject"
        },
        "rule": {
          "target": "com.zendesk.api#AccountSettingsRuleObject"
        },
        "side_conversations": {
          "target": "com.zendesk.api#AccountSettingsSideConversationsObject"
        },
        "statistics": {
          "target": "com.zendesk.api#AccountSettingsStatisticsObject"
        },
        "ticket_form": {
          "target": "com.zendesk.api#AccountSettingsTicketFormObject"
        },
        "tickets": {
          "target": "com.zendesk.api#AccountSettingsTicketObject"
        },
        "twitter": {
          "target": "com.zendesk.api#AccountSettingsTwitterObject"
        },
        "user": {
          "target": "com.zendesk.api#AccountSettingsUserObject"
        },
        "voice": {
          "target": "com.zendesk.api#AccountSettingsVoiceObject"
        }
      },
      "traits": {}
    },
    "com.zendesk.api#AccountSettingsActiveFeaturesObject": {
      "type": "structure",
      "members": {
        "agent_forwarding": {
          "target": "smithy.api#Boolean"
        },
        "allow_ccs": {
          "target": "smithy.api#Boolean"
        },
        "allow_email_template_customization": {
          "target": "smithy.api#Boolean"
        },
        "automatic_answers": {
          "target": "smithy.api#Boolean"
        },
        "bcc_archiving": {
          "target": "smithy.api#Boolean"
        },
        "benchmark_opt_out": {
          "target": "smithy.api#Boolean"
        },
        "business_hours": {
          "target": "smithy.api#Boolean"
        },
        "chat": {
          "target": "smithy.api#Boolean"
        },
        "chat_about_my_ticket": {
          "target": "smithy.api#Boolean"
        },
        "csat_reason_code": {
          "target": "smithy.api#Boolean"
        },
        "custom_dkim_domain": {
          "target": "smithy.api#Boolean"
        },
        "customer_context_as_default": {
          "target": "smithy.api#Boolean"
        },
        "customer_satisfaction": {
          "target": "smithy.api#Boolean"
        },
        "customer_satisfaction_survey": {
          "target": "smithy.api#Boolean"
        },
        "dynamic_contents": {
          "target": "smithy.api#Boolean"
        },
        "explore": {
          "target": "smithy.api#Boolean"
        },
        "explore_on_support_ent_plan": {
          "target": "smithy.api#Boolean"
        },
        "explore_on_support_pro_plan": {
          "target": "smithy.api#Boolean"
        },
        "facebook": {
          "target": "smithy.api#Boolean"
        },
        "facebook_login": {
          "target": "smithy.api#Boolean"
        },
        "fallback_composer": {
          "target": "smithy.api#Boolean"
        },
        "forum_analytics": {
          "target": "smithy.api#Boolean"
        },
        "good_data_and_explore": {
          "target": "smithy.api#Boolean"
        },
        "google_login": {
          "target": "smithy.api#Boolean"
        },
        "is_abusive": {
          "target": "smithy.api#Boolean"
        },
        "light_agents": {
          "target": "smithy.api#Boolean"
        },
        "markdown": {
          "target": "smithy.api#Boolean"
        },
        "on_hold_status": {
          "target": "smithy.api#Boolean"
        },
        "organization_access_enabled": {
          "target": "smithy.api#Boolean"
        },
        "rich_content_in_emails": {
          "target": "smithy.api#Boolean"
        },
        "sandbox": {
          "target": "smithy.api#Boolean"
        },
        "satisfaction_prediction": {
          "target": "smithy.api#Boolean"
        },
        "suspended_ticket_notification": {
          "target": "smithy.api#Boolean"
        },
        "ticket_forms": {
          "target": "smithy.api#Boolean"
        },
        "ticket_tagging": {
          "target": "smithy.api#Boolean"
        },
        "topic_suggestion": {
          "target": "smithy.api#Boolean"
        },
        "twitter": {
          "target": "smithy.api#Boolean"
        },
        "twitter_login": {
          "target": "smithy.api#Boolean"
        },
        "user_org_fields": {
          "target": "smithy.api#Boolean"
        },
        "user_tagging": {
          "target": "smithy.api#Boolean"
        },
        "voice": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "The active features for an account. See [Active Features](#active-features)"
      }
    },
    "com.zendesk.api#AccountSettingsAgentObject": {
      "type": "structure",
      "members": {
        "agent_home": {
          "target": "smithy.api#Boolean"
        },
        "agent_workspace": {
          "target": "smithy.api#Boolean"
        },
        "aw_self_serve_migration_enabled": {
          "target": "smithy.api#Boolean"
        },
        "focus_mode": {
          "target": "smithy.api#Boolean"
        },
        "idle_timeout_enabled": {
          "target": "smithy.api#Boolean"
        },
        "unified_agent_statuses": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for the agent workspace. See [Agents](#agents)"
      }
    },
    "com.zendesk.api#AccountSettingsApiObject": {
      "type": "structure",
      "members": {
        "accepted_api_agreement": {
          "target": "smithy.api#Boolean"
        },
        "api_password_access_end_users": {
          "target": "smithy.api#Boolean"
        },
        "api_token_access": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "API configuration options. See [API](#api)"
      }
    },
    "com.zendesk.api#AccountSettingsAppsObject": {
      "type": "structure",
      "members": {
        "create_private": {
          "target": "smithy.api#Boolean"
        },
        "create_public": {
          "target": "smithy.api#Boolean"
        },
        "use": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Apps configuration options. See [Apps](#apps)"
      }
    },
    "com.zendesk.api#AccountSettingsBillingObject": {
      "type": "structure",
      "members": {
        "backend": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Billing configuration options. See [Billing](#billing)"
      }
    },
    "com.zendesk.api#AccountSettingsBrandingObject": {
      "type": "structure",
      "members": {
        "favicon_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "header_color": {
          "target": "smithy.api#String"
        },
        "header_logo_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "page_background_color": {
          "target": "smithy.api#String"
        },
        "tab_background_color": {
          "target": "smithy.api#String"
        },
        "text_color": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Branding settings. See [Branding](#branding)"
      }
    },
    "com.zendesk.api#AccountSettingsBrandsObject": {
      "type": "structure",
      "members": {
        "default_brand_id": {
          "target": "smithy.api#Integer"
        },
        "end_user_across_brand_requests": {
          "target": "smithy.api#Boolean"
        },
        "end_user_upgrade_brand_association_behavior": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Controls how end users are associated with brands when upgraded to agents."
          }
        },
        "new_agent_brand_association_behavior": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Controls how new agents are associated with brands. Determines the default brand assignment for newly created agents."
          }
        },
        "require_brand_on_new_tickets": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Brand settings. See [Brands](#brands)"
      }
    },
    "com.zendesk.api#AccountSettingsCdnObject": {
      "type": "structure",
      "members": {
        "cdn_provider": {
          "target": "smithy.api#String"
        },
        "fallback_cdn_provider": {
          "target": "smithy.api#String"
        },
        "hosts": {
          "target": "com.zendesk.api#AccountSettingsCdnObjectHostsList"
        }
      },
      "traits": {
        "smithy.api#documentation": "CDN settings"
      }
    },
    "com.zendesk.api#AccountSettingsCdnObjectHostsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.zendesk.api#AccountSettingsCdnObjectHostsList": {
      "type": "list",
      "member": {
        "target": "com.zendesk.api#AccountSettingsCdnObjectHostsItem"
      },
      "traits": {}
    },
    "com.zendesk.api#AccountSettingsChatObject": {
      "type": "structure",
      "members": {
        "available": {
          "target": "smithy.api#Boolean"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "integrated": {
          "target": "smithy.api#Boolean"
        },
        "maximum_request_count": {
          "target": "smithy.api#Integer"
        },
        "welcome_message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Zendesk Chat settings. See [Chat](#chat)"
      }
    },
    "com.zendesk.api#AccountSettingsCrossSellObject": {
      "type": "structure",
      "members": {
        "show_chat_tooltip": {
          "target": "smithy.api#Boolean"
        },
        "xsell_source": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cross Sell settings"
      }
    },
    "com.zendesk.api#AccountSettingsDeviceObject": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "hide_ip": {
          "target": "smithy.api#Boolean"
        },
        "hide_location": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "End user device settings. See [Device Metadata](#device-metadata)"
      }
    },
    "com.zendesk.api#AccountSettingsGoogleAppsObject": {
      "type": "structure",
      "members": {
        "has_google_apps": {
          "target": "smithy.api#Boolean"
        },
        "has_google_apps_admin": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Google Apps configuration. See [G Suite](#g-suite)"
      }
    },
    "com.zendesk.api#AccountSettingsGroupObject": {
      "type": "structure",
      "members": {
        "check_group_name_uniqueness": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Group configuration"
      }
    },
    "com.zendesk.api#AccountSettingsKnowledgeObject": {
      "type": "structure",
      "members": {
        "default_search_filters_brands": {
          "target": "smithy.api#String"
        },
        "default_search_filters_categories": {
          "target": "smithy.api#String"
        },
        "default_search_filters_external_content_sources": {
          "target": "smithy.api#String"
        },
        "default_search_filters_locales": {
          "target": "smithy.api#String"
        },
        "default_search_filters_sections": {
          "target": "smithy.api#String"
        },
        "generative_answers": {
          "target": "smithy.api#Boolean"
        },
        "require_article_templates": {
          "target": "smithy.api#Boolean"
        },
        "search_articles": {
          "target": "smithy.api#Boolean"
        },
        "search_community_posts": {
          "target": "smithy.api#Boolean"
        },
        "search_external_content": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Account's knowledge management and search capabilities. See [Knowledge](#knowledge)"
      }
    },
    "com.zendesk.api#AccountSettingsLimitsObject": {
      "type": "structure",
      "members": {
        "attachment_size": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#documentation": "Account limits configuration. See [Limits](#limits)"
      }
    },
    "com.zendesk.api#AccountSettingsLocalizationObject": {
      "type": "structure",
      "members": {
        "locale_ids": {
          "target": "com.zendesk.api#AccountSettingsLocalizationObjectLocaleIdsList"
        }
      },
      "traits": {
        "smithy.api#documentation": "Internationalization configuration settings. See [Localization](#localization)"
      }
    },
    "com.zendesk.api#AccountSettingsLocalizationObjectLocaleIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.zendesk.api#AccountSettingsLotusObject": {
      "type": "structure",
      "members": {
        "pod_id": {
          "target": "smithy.api#Integer"
        },
        "prefer_lotus": {
          "target": "smithy.api#Boolean"
        },
        "reporting": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Support UI settings. See [Lotus](#lotus)"
      }
    },
    "com.zendesk.api#AccountSettingsMessageInactivityObject": {
      "type": "structure",
      "members": {
        "default_localized_messages": {
          "target": "com.zendesk.api#AccountSettingsMessageInactivityObjectDefaultLocalizedMessages"
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the messaging inactivity feature is enabled"
          }
        },
        "end_session": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether messaging session should end with the final reminder"
          }
        },
        "reminders": {
          "target": "com.zendesk.api#AccountSettingsMessageInactivityObjectRemindersList"
        },
        "ticket_status_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Ticket status id to apply on the ticket when it is marked as inactive"
          }
        },
        "timeout": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Timeout in minutes after which the ticket will be marked as inactive"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Auto-release capacity settings. See [Messaging inactivity](#messaging-inactivity)"
      }
    },
    "com.zendesk.api#AccountSettingsMessageInactivityObjectDefaultLocalizedMessages": {
      "type": "structure",
      "members": {
        "pre_solved_message_1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The first pre-solved message"
          }
        },
        "pre_solved_message_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The second pre-solved message"
          }
        },
        "solved_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The solved message"
          }
        }
      },
      "traits": {}
    },
    "com.zendesk.api#AccountSettingsMessageInactivityObjectRemindersItemTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Array of strings, tags added to ticket with each reminder. Can be empty"
      }
    },
    "com.zendesk.api#AccountSettingsMessageInactivityObjectRemindersItem": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mandatory message for the reminder",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.zendesk.api#AccountSettingsMessageInactivityObjectRemindersItemTagsList",
          "traits": {
            "smithy.api#documentation": "Array of strings, tags added to ticket with each reminder. Can be empty"
          }
        },
        "ticket_status_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Ticket status id, available and mandatory for the 2nd and 3rd reminders, if the reminder is configured. The field can be null to indicate no status change",
            "com.distilled.openapi#nullable": {}
          }
        },
        "timeout": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Reminder timeout in seconds, available and mandatory for the 2nd and 3rd reminders, if the reminder is configured",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.zendesk.api#AccountSettingsMessageInactivityObjectRemindersList": {
      "type": "list",
      "member": {
        "target": "com.zendesk.api#AccountSettingsMessageInactivityObjectRemindersItem"
      },
      "traits": {}
    },
    "com.zendesk.api#AccountSettingsMetricsObject": {
      "type": "structure",
      "members": {
        "account_size": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Account metrics settings. See [Metrics](#metrics)"
      }
    },
    "com.zendesk.api#AccountSettingsOnboardingObject": {
      "type": "structure",
      "members": {
        "checklist_onboarding_version": {
          "target": "smithy.api#Integer"
        },
        "onboarding_segments": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "product_sign_up": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Onboarding settings"
      }
    },
    "com.zendesk.api#AccountSettingsRoutingObject": {
      "type": "structure",
      "members": {
        "autorouting_tag": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "max_email_capacity": {
          "target": "smithy.api#Integer"
        },
        "max_messaging_capacity": {
          "target": "smithy.api#Integer"
        },
        "reassignment_messaging_enabled": {
          "target": "smithy.api#Boolean"
        },
        "reassignment_messaging_timeout": {
          "target": "smithy.api#Integer"
        },
        "reassignment_talk_timeout": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for routing. See [Routing](#routing)"
      }
    },
    "com.zendesk.api#AccountSettingsRuleObject": {
      "type": "structure",
      "members": {
        "macro_most_used": {
          "target": "smithy.api#Boolean"
        },
        "macro_order": {
          "target": "smithy.api#String"
        },
        "skill_based_filtered_views": {
          "target": "com.zendesk.api#AccountSettingsRuleObjectSkillBasedFilteredViewsList"
        },
        "using_skill_based_routing": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Rules settings for triggers, macros, views, and automations. See [Rules](#rules)"
      }
    },
    "com.zendesk.api#AccountSettingsRuleObjectSkillBasedFilteredViewsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.zendesk.api#AccountSettingsRuleObjectSkillBasedFilteredViewsList": {
      "type": "list",
      "member": {
        "target": "com.zendesk.api#AccountSettingsRuleObjectSkillBasedFilteredViewsItemMap"
      },
      "traits": {}
    },
    "com.zendesk.api#AccountSettingsSideConversationsObject": {
      "type": "structure",
      "members": {
        "email_channel": {
          "target": "smithy.api#Boolean"
        },
        "msteams_channel": {
          "target": "smithy.api#Boolean"
        },
        "show_in_context_panel": {
          "target": "smithy.api#Boolean"
        },
        "slack_channel": {
          "target": "smithy.api#Boolean"
        },
        "tickets_channel": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Side conversations settings"
      }
    },
    "com.zendesk.api#AccountSettingsStatisticsObject": {
      "type": "structure",
      "members": {
        "forum": {
          "target": "smithy.api#Boolean"
        },
        "rule_usage": {
          "target": "smithy.api#Boolean"
        },
        "search": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Account statistics settings. See [Statistics](#statistics)"
      }
    },
    "com.zendesk.api#AccountSettingsTicketFormObject": {
      "type": "structure",
      "members": {
        "raw_ticket_forms_instructions": {
          "target": "smithy.api#String"
        },
        "ticket_forms_instructions": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Ticket form settings. See [Ticket Form](#ticket-form)"
      }
    },
    "com.zendesk.api#AccountSettingsTicketObject": {
      "type": "structure",
      "members": {
        "accepted_new_collaboration_tos": {
          "target": "smithy.api#Boolean"
        },
        "agent_collision": {
          "target": "smithy.api#Boolean"
        },
        "agent_invitation_enabled": {
          "target": "smithy.api#Boolean"
        },
        "agent_ticket_deletion": {
          "target": "smithy.api#Boolean"
        },
        "allow_group_reset": {
          "target": "smithy.api#Boolean"
        },
        "assign_default_organization": {
          "target": "smithy.api#Boolean"
        },
        "assign_tickets_upon_solve": {
          "target": "smithy.api#Boolean"
        },
        "auto_translation_enabled": {
          "target": "smithy.api#Boolean"
        },
        "auto_updated_ccs_followers_rules": {
          "target": "smithy.api#Boolean"
        },
        "chat_sla_enablement": {
          "target": "smithy.api#Boolean"
        },
        "collaboration": {
          "target": "smithy.api#Boolean"
        },
        "comments_public_by_default": {
          "target": "smithy.api#Boolean"
        },
        "default_solved_ticket_reassignment_strategy": {
          "target": "smithy.api#String"
        },
        "default_to_draft_mode": {
          "target": "smithy.api#Boolean"
        },
        "email_attachments": {
          "target": "smithy.api#Boolean"
        },
        "email_redact_attachments_when_placeholders_disallow": {
          "target": "smithy.api#Boolean"
        },
        "emoji_autocompletion": {
          "target": "smithy.api#Boolean"
        },
        "follower_and_email_cc_collaborations": {
          "target": "smithy.api#Boolean"
        },
        "has_color_text": {
          "target": "smithy.api#Boolean"
        },
        "is_first_comment_private_enabled": {
          "target": "smithy.api#Boolean"
        },
        "light_agent_email_ccs_allowed": {
          "target": "smithy.api#Boolean"
        },
        "list_empty_views": {
          "target": "smithy.api#Boolean"
        },
        "list_newest_comments_first": {
          "target": "smithy.api#Boolean"
        },
        "markdown_ticket_comments": {
          "target": "smithy.api#Boolean"
        },
        "maximum_personal_views_to_list": {
          "target": "smithy.api#Integer"
        },
        "modern_ticket_reassignment": {
          "target": "smithy.api#Boolean"
        },
        "private_attachments": {
          "target": "smithy.api#Boolean"
        },
        "rich_text_comments": {
          "target": "smithy.api#Boolean"
        },
        "show_modern_ticket_reassignment": {
          "target": "smithy.api#Boolean"
        },
        "status_hold": {
          "target": "smithy.api#Boolean"
        },
        "tagging": {
          "target": "smithy.api#Boolean"
        },
        "using_skill_based_routing": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Ticket settings. See [Tickets](#tickets)"
      }
    },
    "com.zendesk.api#AccountSettingsTwitterObject": {
      "type": "structure",
      "members": {
        "shorten_url": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "X (formerly Twitter) settings. See [X](#x-formerly-twitter)"
      }
    },
    "com.zendesk.api#AccountSettingsUserObject": {
      "type": "structure",
      "members": {
        "agent_created_welcome_emails": {
          "target": "smithy.api#Boolean"
        },
        "end_user_phone_number_validation": {
          "target": "smithy.api#Boolean"
        },
        "have_gravatars_enabled": {
          "target": "smithy.api#Boolean"
        },
        "language_selection": {
          "target": "smithy.api#Boolean"
        },
        "multiple_organizations": {
          "target": "smithy.api#Boolean"
        },
        "tagging": {
          "target": "smithy.api#Boolean"
        },
        "time_zone_selection": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "User settings. See [Users](#users)"
      }
    },
    "com.zendesk.api#AccountSettingsVoiceObject": {
      "type": "structure",
      "members": {
        "agent_confirmation_when_forwarding": {
          "target": "smithy.api#Boolean"
        },
        "agent_wrap_up_after_calls": {
          "target": "smithy.api#Boolean"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "logging": {
          "target": "smithy.api#Boolean"
        },
        "maximum_queue_size": {
          "target": "smithy.api#Integer"
        },
        "maximum_queue_wait_time": {
          "target": "smithy.api#Integer"
        },
        "only_during_business_hours": {
          "target": "smithy.api#Boolean"
        },
        "outbound_enabled": {
          "target": "smithy.api#Boolean"
        },
        "recordings_public": {
          "target": "smithy.api#Boolean"
        },
        "uk_mobile_forwarding": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Zendesk Talk settings. See [Voice](#voice)"
      }
    },
    "com.zendesk.api#ShowAccountSettings": {
      "type": "operation",
      "input": {
        "target": "com.zendesk.api#ShowAccountSettingsRequest"
      },
      "output": {
        "target": "com.zendesk.api#AccountSettingsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v2/account/settings",
          "code": 200
        },
        "smithy.api#documentation": "Show Settings\n\nShows the settings that are available for the account.\n\n#### Allowed For\n\n* Agents"
      }
    },
    "com.zendesk.api#UpdateAccountSettings": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.zendesk.api#AccountSettingsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/v2/account/settings",
          "code": 200
        },
        "smithy.api#documentation": "Update Account Settings\n\nUpdates settings for the account. See [JSON Format](#json-format) above for the settings you can update.\n\n#### Allowed For\n\n* Admins"
      }
    },
    "com.zendesk.api#TrialAccountResponse": {
      "type": "structure",
      "members": {
        "account": {
          "target": "com.zendesk.api#TrialAccountObject"
        }
      },
      "traits": {}
    },
    "com.zendesk.api#TrialAccountObject": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the account"
          }
        },
        "subdomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subdomain of the account"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the account"
          }
        }
      },
      "traits": {}
    },
    "com.zendesk.api#CreateTrialAccount": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.zendesk.api#TrialAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v2/accounts",
          "code": 200
        },
        "smithy.api#documentation": "Create Trial Account"
      }
    },
    "com.zendesk.api#VerifySubdomainAvailabilityRequest": {
      "type": "structure",
      "members": {
        "subdomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "subdomain",
            "smithy.api#required": {},
            "smithy.api#documentation": "Specify the name of the subdomain you want to verify. The name can't contain underscores, hyphens, or spaces.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.zendesk.api#VerifySubdomainAvailabilityResponse": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.zendesk.api#VerifySubdomainAvailability": {
      "type": "operation",
      "input": {
        "target": "com.zendesk.api#VerifySubdomainAvailabilityRequest"
      },
      "output": {
        "target": "com.zendesk.api#VerifySubdomainAvailabilityResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v2/accounts/available",
          "code": 200
        },
        "smithy.api#documentation": "Verify Subdomain Availability\n\nZendesk Support credentials are not required to access this endpoint. You can use any Zendesk Support subdomain.\n\nReturns \"true\" if the subdomain is available."
      }
    },
    "com.zendesk.api#ListActivitiesRequestPageCase1": {
      "type": "structure",
      "members": {
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cursor token for next page"
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cursor token for previous page"
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of records per page"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cursor pagination parameters (JSON:API style)"
      }
    },
    "com.zendesk.api#ListActivitiesRequestPage": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Integer"
        },
        "Case1": {
          "target": "com.zendesk.api#ListActivitiesRequestPageCase1"
        }
      },
      "traits": {}
    },
    "com.zendesk.api#ListActivitiesRequest": {
      "type": "structure",
      "members": {
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "since",
            "smithy.api#documentation": "A UTC time in ISO 8601 format to return ticket activities since said date."
          }
        },
        "page": {
          "target": "com.zendesk.api#ListActivitiesRequestPage",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Pagination parameter. Supports both traditional offset and cursor-based pagination:\n\n- Traditional: `?page=2` (integer page number)\n- Cursor: `?page[size]=50&page[after]=cursor` (deepObject with size, after, before)\n\nThese are mutually exclusive - use one format or the other, not both.\n"
          }
        },
        "sort": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "Field to sort results by. Prefix with `-` for descending order.\n\nWhen used with cursor pagination, this determines the cursor ordering.\n\nExample: `?sort=name` or `?sort=-created_at`\n"
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "Number of records to return per page.\n\nNote: Default and maximum values vary by endpoint. Check endpoint-specific\ndocumentation for limits.\n"
          }
        },
        "include": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "include",
            "smithy.api#documentation": "A comma-separated list of sideloads to include. Supported values: `fields_metadata`.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.zendesk.api#ActivitiesResponse": {
      "type": "structure",
      "members": {
        "activities": {
          "target": "com.zendesk.api#ActivitiesResponseActivitiesList"
        },
        "actors": {
          "target": "com.zendesk.api#ActivitiesResponseActorsList"
        },
        "count": {
          "target": "smithy.api#Integer"
        },
        "next_page": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous_page": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "users": {
          "target": "com.zendesk.api#ActivitiesResponseUsersList"
        }
      },
      "traits": {}
    },
    "com.zendesk.api#ActivityObject": {
      "type": "structure",
      "members": {
        "actor": {
          "target": "com.zendesk.api#UserObject",
          "traits": {
            "smithy.api#documentation": "The full user record of the user responsible for the ticket activity. See [Users](/api-reference/ticketing/users/users/)"
          }
        },
        "actor_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The id of the user responsible for the ticket activity. An `actor_id` of \"-1\" is a Zendesk system user, such as an automations action."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the record was created"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Automatically assigned on creation"
          }
        },
        "object": {
          "target": "com.zendesk.api#ActivityObjectObjectMap",
          "traits": {
            "smithy.api#documentation": "The content of the activity. Can be a ticket, comment, or change."
          }
        },
        "target": {
          "target": "com.zendesk.api#ActivityObjectTargetMap",
          "traits": {
            "smithy.api#documentation": "The target of the activity, a ticket."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the activity"
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the record was last updated"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API url of the activity"
          }
        },
        "user": {
          "target": "com.zendesk.api#UserObject",
          "traits": {
            "smithy.api#documentation": "The full user record of the agent making the request. See [Users](/api-reference/ticketing/users/users/)"
          }
        },
        "user_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The id of the agent making the request"
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of activity. Can be \"tickets.assignment\", \"tickets.comment\", or \"tickets.priority_increase\""
          }
        }
      },
      "traits": {}
    },
    "com.zendesk.api#ActivityObjectObjectMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The content of the activity. Can be a ticket, comment, or change."
      }
    },
    "com.zendesk.api#ActivityObjectTargetMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The target of the activity, a ticket."
      }
    },
    "com.zendesk.api#ActivitiesResponseActivitiesList": {
      "type": "list",
      "member": {
        "target": "com.zendesk.api#ActivityObject"
      },
      "traits": {}
    },
    "com.zendesk.api#ActivitiesResponseActorsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.zendesk.api#ActivitiesResponseActorsList": {
      "type": "list",
      "member": {
        "target": "com.zendesk.api#ActivitiesResponseActorsItemMap"
      },
      "traits": {}
    },
    "com.zendesk.api#ActivitiesResponseUsersItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.zendesk.api#ActivitiesResponseUsersList": {
      "type": "list",
      "member": {
        "target": "com.zendesk.api#ActivitiesResponseUsersItemMap"
      },
      "traits": {}
    },
    "com.zendesk.api#ListActivities": {
      "type": "operation",
      "input": {
        "target": "com.zendesk.api#ListActivitiesRequest"
      },
      "output": {
        "target": "com.zendesk.api#ActivitiesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v2/activities",
          "code": 200
        },
        "smithy.api#documentation": "List Activities\n\nLists ticket activities in the last 30 days affecting the agent making the request.\nAlso sideloads the following arrays of user records:\n\n- actors - All actors involved in the listed activities\n- users - All users involved in the listed activities\n\n#### Pagination\n\n- Cursor pagination (recommended)\n- Offset pagination\n\nSee [Pagination](/api-reference/introduction/pagination/).\n\nReturns a maximum of 100 records per page.\n\n#### Allowed For\n\n* Agents",
        "smithy.api#paginated": {
          "mode": "page",
          "inputToken": "page",
          "outputToken": "next_page",
          "items": "activities"
        }
      }
    },
    "com.zendesk.api#ShowActivityRequest": {
      "type": "structure",
      "members": {
        "activity_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The activity ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.zendesk.api#ActivityResponse": {
      "type": "structure",
      "members": {
        "activity": {
          "target": "com.zendesk.api#ActivityObject"
        }
      },
      "traits": {}
    },
    "com.zendesk.api#ShowActivity": {
      "type": "operation",
      "input": {
        "target": "com.zendesk.api#ShowActivityRequest"
      },
      "output": {
        "target": "com.zendesk.api#ActivityResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v2/activities/{activity_id}",
          "code": 200
        },
        "smithy.api#documentation": "Show Activity\n\nLists a specific activity.\n\n#### Allowed For\n\n* Agents"
      }
    },
    "com.zendesk.api#ActivitiesCountResponse": {
      "type": "structure",
      "members": {
        "count": {
          "target": "com.zendesk.api#ActivitiesCountResponseCount"
        }
      },
      "traits": {}
    },
    "com.zendesk.api#ActivitiesCountResponseCount": {
      "type": "structure",
      "members": {
        "refreshed_at": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.zendesk.api#CountActivities": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.zendesk.api#ActivitiesCountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v2/activities/count",
          "code": 200
        },
        "smithy.api#documentation": "Count Activities\n\nReturns an approximate count of ticket activities in the last 30 days affecting the agent making the request. If the count exceeds 100,000, the count will return a cached result. This cached result will update every 24 hours.\n\nThe `count[refreshed_at]` property is a timestamp that indicates when the count was last updated.\n\n**Note**: When the count exceeds 100,000, `count[refreshed_at]` may occasionally be null.\nThis indicates that the count is being updated in the background, and `count[value]` is limited to 100,000 until the update is complete.\n\n#### Allowed For\n* Agents"
      }
    },
    "com.zendesk.api#ReportChannelbackErrorResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.zendesk.api#ReportChannelbackError": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.zendesk.api#ReportChannelbackErrorResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v2/any_channel/channelback/report_error",
          "code": 200
        },
        "smithy.api#documentation": "Report Channelback Error to Zendesk\n\n#### Allowed For\n\n* Admins\n\n#### Request parameters\n\nThe POST request takes a JSON object parameter which contains information about the\nproblematic [channelback](/documentation/channel_framework/understanding-the-channel-framework/channelback/).\n\n\n\n#### Response format\n\nThe response does not include a response body"
      }
    },
    "com.zendesk.api#ChannelFrameworkPushResultsResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.zendesk.api#ChannelFrameworkPushResultsResponseResultsList",
          "traits": {
            "smithy.api#documentation": "An array of [result objects](#result-object)"
          }
        }
      },
      "traits": {}
    },
    "com.zendesk.api#ChannelFrameworkResultObject": {
      "type": "structure",
      "members": {
        "external_resource_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The external ID of the resource, as passed in"
          }
        },
        "status": {
          "target": "com.zendesk.api#ChannelFrameworkResultStatusObject"
        }
      },
      "traits": {}
    },
    "com.zendesk.api#ChannelFrameworkResultStatusObject": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A code indicating the status of the import of the resource, as described in [status codes](#status-codes)"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "In the case of an exception, a description of the exception. Otherwise, not present."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the import for the indicated resource"
      }
    },
    "com.zendesk.api#ChannelFrameworkPushResultsResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.zendesk.api#ChannelFrameworkResultObject"
      },
      "traits": {
        "smithy.api#documentation": "An array of [result objects](#result-object)"
      }
    },
    "com.zendesk.api#PushContentToSupport": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.zendesk.api#ChannelFrameworkPushResultsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v2/any_channel/push",
          "code": 200
        },
        "smithy.api#documentation": "Push Content to Support\n\nPushes Channel framework content to Zendesk.\n\n#### Allowed For\n\n* Admins\n\n#### Request parameters\n\nThe POST request takes a JSON object parameter which contains data about all\nthe resources that the client is pushing.\n\n\n#### external_resource object\n\n\n#### author object\n\n\n#### display_info object\n\n\n#### fields array\n\nThe `fields` array lists ticket fields to set in Zendesk and their values. Each item consists of a field identifier (`id`) and a value (`value`) for the field. For Zendesk system fields such as `subject`, the identifier is the English name. For custom fields, the identifier may be a field ID or a name. See [Ticket Fields](/api-reference/ticketing/tickets/ticket_fields/).\n\nThe `fields` array can only set ticket values on ticket creation, not on ticket updates.\n\n#### Response format\n\nThe response is a JSON object containing a single key:\n\n\nThe `results` array contains an entry for each item in the incoming `external_resources` array, in the\nsame order.  For example, if you call `push` with 3 external resources, a successful response will include\n`results` with three entries, corresponding to your 3 resources.\n\n#### result object\n\n\n#### status object\n\n\n#### status codes"
      }
    },
    "com.zendesk.api#ValidateTokenResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.zendesk.api#ValidateToken": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.zendesk.api#ValidateTokenResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v2/any_channel/validate_token",
          "code": 200
        },
        "smithy.api#documentation": "Validate Token\n\n#### Allowed For\n\n* Admins\n\n#### Request parameters\n\nThe POST request takes a JSON object parameter which contains the token to be validated.\n\n\n#### Response format\n\nThe response body is empty."
      }
    },
    "com.zendesk.api#ListApprovalRequestsRequest": {
      "type": "structure",
      "members": {
        "filter_status_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[status]",
            "smithy.api#documentation": "Filter by a comma-separated list of one or more approval statuses. Allowed values are active, approved, rejected, withdrawn. Maximum 100 values."
          }
        },
        "filter_assignee_user_id_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[assignee_user_id]",
            "smithy.api#documentation": "Filter by a comma-separated list of assigned user ids. Maximum 100 ids."
          }
        },
        "filter_assignee_group_id_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[assignee_group_id]",
            "smithy.api#documentation": "Filter by a comma-separated list of assigned group ids. Maximum 100 ids."
          }
        },
        "before_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before_cursor",
            "smithy.api#documentation": "Cursor for pagination. Fetch records before this cursor"
          }
        },
        "after_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after_cursor",
            "smithy.api#documentation": "Cursor for pagination. Fetch records after this cursor"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.zendesk.api#ApprovalRequestsListResponse": {
      "type": "structure",
      "members": {
        "approval_requests": {
          "target": "com.zendesk.api#ApprovalRequestsListResponseApprovalRequestsList"
        },
        "links": {
          "target": "com.zendesk.api#ApprovalRequestsListResponseLinks",
          "traits": {
            "smithy.api#documentation": "Links for navigation"
          }
        },
        "meta": {
          "target": "com.zendesk.api#ApprovalRequestsListResponseMeta",
          "traits": {
            "smithy.api#documentation": "Metadata about the response"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for listing approval requests with cursor pagination"
      }
    },
    "com.zendesk.api#ApprovalRequestsListResponseApprovalRequestsItemAssigneeGroup": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the assigned group"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the assigned group"
          }
        }
      },
      "traits": {}
    },
    "com.zendesk.api#ApprovalRequestsListResponseApprovalRequestsItemAssigneeUser": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the assigned user"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the assigned user"
          }
        }
      },
      "traits": {}
    },
    "com.zendesk.api#ApprovalRequestsListResponseApprovalRequestsItemClarificationFlowMessagesItemAuthor": {
      "type": "structure",
      "members": {
        "avatar": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL for the author's avatar"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email of the message author"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the message author"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the message author"
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role of the message author"
          }
        }
      },
      "traits": {}
    },
    "com.zendesk.api#ApprovalRequestsListResponseApprovalRequestsItemClarificationFlowMessagesItem": {
      "type": "structure",
      "members": {
        "author": {
          "target": "com.zendesk.api#ApprovalRequestsListResponseApprovalRequestsItemClarificationFlowMessagesItemAuthor"
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the message was created"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the message"
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The message content"
          }
        }
      },
      "traits": {}
    },
    "com.zendesk.api#ApprovalRequestsListResponseApprovalRequestsItemClarificationFlowMessagesList": {
      "type": "list",
      "member": {
        "target": "com.zendesk.api#ApprovalRequestsListResponseApprovalRequestsItemClarificationFlowMessagesItem"
      },
      "traits": {
        "smithy.api#documentation": "List of clarification messages exchanged on this approval request"
      }
    },
    "com.zendesk.api#ApprovalRequestsListResponseApprovalRequestsItemCreatedByUserPhoto": {
      "type": "structure",
      "members": {
        "content_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL for the user's photo"
          }
        }
      },
      "traits": {}
    },
    "com.zendesk.api#ApprovalRequestsListResponseApprovalRequestsItemCreatedByUser": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the user who created the approval request"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the user who created the approval request"
          }
        },
        "photo": {
          "target": "com.zendesk.api#ApprovalRequestsListResponseApprovalRequestsItemCreatedByUserPhoto"
        }
      },
      "traits": {}
    },
    "com.zendesk.api#ApprovalRequestsListResponseApprovalRequestsItemDecisionsItemDecidedByUserPhoto": {
      "type": "structure",
      "members": {
        "content_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL for the user's photo"
          }
        }
      },
      "traits": {}
    },
    "com.zendesk.api#ApprovalRequestsListResponseApprovalRequestsItemDecisionsItemDecidedByUser": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the user who responded"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the user who responded"
          }
        },
        "photo": {
          "target": "com.zendesk.api#ApprovalRequestsListResponseApprovalRequestsItemDecisionsItemDecidedByUserPhoto"
        }
      },
      "traits": {}
    },
    "com.zendesk.api#ApprovalRequestsListResponseApprovalRequestsItemDecisionsItemOriginationType": {
      "type": "enum",
      "members": {
        "UI_ORIGINATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UI_ORIGINATION"
          }
        },
        "API_ORIGINATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_ORIGINATION"
          }
        },
        "SLACK_ORIGINATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SLACK_ORIGINATION"
          }
        },
        "ACTION_FLOW_ORIGINATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION_FLOW_ORIGINATION"
          }
        },
        "UNKNOWN_ORIGINATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_ORIGINATION"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Source where the response was made"
      }
    },
    "com.zendesk.api#ApprovalRequestsListResponseApprovalRequestsItemDecisionsItem": {
      "type": "structure",
      "members": {
        "decided_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the response was made"
          }
        },
        "decided_by_user": {
          "target": "com.zendesk.api#ApprovalRequestsListResponseApprovalRequestsItemDecisionsItemDecidedByUser"
        },
        "decision_notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Notes provided with the decision",
            "com.distilled.openapi#nullable": {}
          }
        },
        "origination_type": {
          "target": "com.zendesk.api#ApprovalRequestsListResponseApprovalRequestsItemDecisionsItemOriginationType",
          "traits": {
            "smithy.api#documentation": "Source where the response was made",
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The decision status. Allowed values: \"approved\", \"rejected\", or \"clarification_requested\""
          }
        }
      },
      "traits": {}
    },
    "com.zendesk.api#ApprovalRequestsListResponseApprovalRequestsItemDecisionsList": {
      "type": "list",
      "member": {
        "target": "com.zendesk.api#ApprovalRequestsListResponseApprovalRequestsItemDecisionsItem"
      },
      "traits": {
        "smithy.api#documentation": "List of responses made on this approval request"
      }
    },
    "com.zendesk.api#ApprovalRequestsListResponseApprovalRequestsItemOriginationType": {
      "type": "enum",
      "members": {
        "API_ORIGINATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_ORIGINATION"
          }
        },
        "UI_ORIGINATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UI_ORIGINATION"
          }
        },
        "TRIGGER_ORIGINATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRIGGER_ORIGINATION"
          }
        },
        "DATA_IMPORTER_ORIGINATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_IMPORTER_ORIGINATION"
          }
        },
        "TEMPLATE_ORIGINATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEMPLATE_ORIGINATION"
          }
        },
        "ACTION_FLOW_ORIGINATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION_FLOW_ORIGINATION"
          }
        },
        "UNKNOWN_ORIGINATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_ORIGINATION"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Source where the approval request originated from"
      }
    },
    "com.zendesk.api#ApprovalRequestsListResponseApprovalRequestsItem": {
      "type": "structure",
      "members": {
        "assignee_group": {
          "target": "com.zendesk.api#ApprovalRequestsListResponseApprovalRequestsItemAssigneeGroup",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "assignee_user": {
          "target": "com.zendesk.api#ApprovalRequestsListResponseApprovalRequestsItemAssigneeUser",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "clarification_flow_messages": {
          "target": "com.zendesk.api#ApprovalRequestsListResponseApprovalRequestsItemClarificationFlowMessagesList",
          "traits": {
            "smithy.api#documentation": "List of clarification messages exchanged on this approval request"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the approval request was created"
          }
        },
        "created_by_user": {
          "target": "com.zendesk.api#ApprovalRequestsListResponseApprovalRequestsItemCreatedByUser"
        },
        "decided_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the approval request was responded to",
            "com.distilled.openapi#nullable": {}
          }
        },
        "decisions": {
          "target": "com.zendesk.api#ApprovalRequestsListResponseApprovalRequestsItemDecisionsList",
          "traits": {
            "smithy.api#documentation": "List of responses made on this approval request"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the approval request"
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Details for the approval request"
          }
        },
        "origination_type": {
          "target": "com.zendesk.api#ApprovalRequestsListResponseApprovalRequestsItemOriginationType",
          "traits": {
            "smithy.api#documentation": "Source where the approval request originated from",
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current status of the approval request (active, approved, rejected, withdrawn)"
          }
        },
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subject for the approval request"
          }
        },
        "ticket_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The id of the ticket associated with this approval request"
          }
        },
        "withdrawn_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason provided when the approval request was withdrawn",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.zendesk.api#ApprovalRequestsListResponseApprovalRequestsList": {
      "type": "list",
      "member": {
        "target": "com.zendesk.api#ApprovalRequestsListResponseApprovalRequestsItem"
      },
      "traits": {}
    },
    "com.zendesk.api#ApprovalRequestsListResponseLinks": {
      "type": "structure",
      "members": {
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to the next page of results",
            "com.distilled.openapi#nullable": {}
          }
        },
        "prev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to the previous page of results",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Links for navigation"
      }
    },
    "com.zendesk.api#ApprovalRequestsListResponseMeta": {
      "type": "structure",
      "members": {
        "after_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cursor for fetching the next page of results",
            "com.distilled.openapi#nullable": {}
          }
        },
        "before_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cursor for fetching the previous page of results",
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_more": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there are more results available"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata about the response"
      }
    },
    "com.zendesk.api#ListApprovalRequests": {
[...]
