{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.plaid.api#AssetReportCreateRequestAccessTokensList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "An array of access tokens corresponding to the Items that will be included in the report. The `assets` product must have been initialized for the Items during Link; the Assets product cannot be added after initialization."
      }
    },
    "com.plaid.api#AssetReportCreateRequestOptions": {
      "type": "structure",
      "members": {
        "client_report_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Client-generated identifier, which can be used by lenders to track loan applications.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "webhook": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to which Plaid will send Assets webhooks, for example when the requested Asset Report is ready.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "include_fast_report": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "true to return balance and identity earlier as a fast report. Defaults to false if omitted.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "products": {
          "target": "com.plaid.api#AssetReportCreateRequestOptionsProductsList",
          "traits": {
            "smithy.api#documentation": "Additional information that can be included in the asset report. Possible values: `\"investments\"`"
          }
        },
        "add_ons": {
          "target": "com.plaid.api#AssetReportCreateRequestOptionsAddOnsList",
          "traits": {
            "smithy.api#documentation": "A list of add-ons that should be included in the Asset Report.\n\nWhen Fast Assets is requested, Plaid will create two versions of the Asset Report: the Fast Asset Report, which will contain only Identity and Balance information, and the Full Asset Report, which will also contain Transactions information. A `PRODUCT_READY` webhook will be fired for each Asset Report when it is ready, and the `report_type` field will indicate whether the webhook is firing for the `FULL` or `FAST` Asset Report. To retrieve the Fast Asset Report, call `/asset_report/get` with `fast_report` set to `true`. There is no additional charge for using Fast Assets. To create a Fast Asset Report, Plaid must successfully retrieve both Identity and Balance data; if Plaid encounters an error obtaining this data, the Fast Asset Report will not be created. However, as long as Plaid can obtain Transactions data, the Full Asset Report will still be available.\n\nWhen Investments is requested, `investments` must be specified in the `optional_products` array when initializing Link."
          }
        },
        "user": {
          "target": "com.plaid.api#AssetReportUser"
        },
        "require_all_items": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "By default (`true`), the asynchronous report generation fails unless all Items extract successfully. If set to `false`, the report will still be generated as long as at least one Item extracts successfully; extraction failures on the remaining Items are tolerated. This setting applies only to failures that occur during asynchronous extraction. It does not relax the synchronous check at call time: if any Item is already unhealthy when `/asset_report/create` is invoked, the request fails immediately regardless of this value.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An optional object to filter `/asset_report/create` results. If provided, must be non-`null`. The optional `user` object is required for the report to be eligible for Fannie Mae's Day 1 Certainty program."
      }
    },
    "com.plaid.api#AssetReportCreateRequestOptionsProductsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Additional information that can be included in the asset report. Possible values: `\"investments\"`"
      }
    },
    "com.plaid.api#AssetReportAddOns": {
      "type": "enum",
      "members": {
        "INVESTMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "investments"
          }
        },
        "FAST_ASSETS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fast_assets"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Add-ons that should be included in the Asset Report.\n\n`investments`: The Investments add-on\n`fast_assets`: The Fast Assets add-on"
      }
    },
    "com.plaid.api#AssetReportCreateRequestOptionsAddOnsList": {
      "type": "list",
      "member": {
        "target": "com.plaid.api#AssetReportAddOns"
      },
      "traits": {
        "smithy.api#documentation": "A list of add-ons that should be included in the Asset Report.\n\nWhen Fast Assets is requested, Plaid will create two versions of the Asset Report: the Fast Asset Report, which will contain only Identity and Balance information, and the Full Asset Report, which will also contain Transactions information. A `PRODUCT_READY` webhook will be fired for each Asset Report when it is ready, and the `report_type` field will indicate whether the webhook is firing for the `FULL` or `FAST` Asset Report. To retrieve the Fast Asset Report, call `/asset_report/get` with `fast_report` set to `true`. There is no additional charge for using Fast Assets. To create a Fast Asset Report, Plaid must successfully retrieve both Identity and Balance data; if Plaid encounters an error obtaining this data, the Fast Asset Report will not be created. However, as long as Plaid can obtain Transactions data, the Full Asset Report will still be available.\n\nWhen Investments is requested, `investments` must be specified in the `optional_products` array when initializing Link."
      }
    },
    "com.plaid.api#AssetReportUser": {
      "type": "structure",
      "members": {
        "client_user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier you determine and submit for the user.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's first name. Required for the Fannie Mae Day 1 Certainty™ program.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "middle_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's middle name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's last name.  Required for the Fannie Mae Day 1 Certainty™ program.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ssn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's Social Security Number. Required for the Fannie Mae Day 1 Certainty™ program.\n\nFormat: \"ddd-dd-dddd\"",
            "com.distilled.openapi#nullable": {}
          }
        },
        "phone_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's phone number, in E.164 format: +{countrycode}{number}. For example: \"+14151234567\". Phone numbers provided in other formats will be parsed on a best-effort basis.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's email address.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The user object allows you to provide additional information about the user to be appended to the Asset Report. All fields are optional. The `first_name`, `last_name`, and `ssn` fields are required if you would like the Report to be eligible for Fannie Mae's Day 1 Certainty™ program."
      }
    },
    "com.plaid.api#AssetReportCreateRequest": {
      "type": "structure",
      "members": {
        "client_id": {
          "target": "smithy.api#String"
        },
        "secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        },
        "access_tokens": {
          "target": "com.plaid.api#AssetReportCreateRequestAccessTokensList",
          "traits": {
            "smithy.api#documentation": "An array of access tokens corresponding to the Items that will be included in the report. The `assets` product must have been initialized for the Items during Link; the Assets product cannot be added after initialization."
          }
        },
        "days_requested": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum integer number of days of history to include in the Asset Report. If using Fannie Mae Day 1 Certainty, `days_requested` must be at least 61 for new originations or at least 31 for refinancings.\n\nAn Asset Report requested with \"Additional History\" (that is, with more than 61 days of transaction history) will incur an Additional History fee.",
            "smithy.api#required": {}
          }
        },
        "options": {
          "target": "com.plaid.api#AssetReportCreateRequestOptions"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.plaid.api#AssetReportCreateResponse": {
      "type": "structure",
      "members": {
        "asset_report_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "asset_report_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "request_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AssetReportCreateResponse defines the response schema for `/asset_report/create`"
      }
    },
    "com.plaid.api#AssetReportCreate": {
      "type": "operation",
      "input": {
        "target": "com.plaid.api#AssetReportCreateRequest"
      },
      "output": {
        "target": "com.plaid.api#AssetReportCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/asset_report/create",
          "code": 200
        },
        "smithy.api#documentation": "Create an Asset Report\n\nThe `/asset_report/create` endpoint initiates the process of creating an Asset Report, which can then be retrieved by passing the `asset_report_token` return value to the `/asset_report/get` or `/asset_report/pdf/get` endpoints.\n\nThe Asset Report takes some time to be created and is not available immediately after calling `/asset_report/create`. The exact amount of time to create the report will vary depending on how many days of history are requested and will typically range from a few seconds to about one minute. When the Asset Report is ready to be retrieved using `/asset_report/get` or `/asset_report/pdf/get`, Plaid will fire a `PRODUCT_READY` webhook. For full details of the webhook schema, see [Asset Report webhooks](https://plaid.com/docs/api/products/assets/#webhooks).\n\nThe `/asset_report/create` endpoint creates an Asset Report at a moment in time. Asset Reports are immutable. To get an updated Asset Report, use the `/asset_report/refresh` endpoint."
      }
    },
    "com.plaid.api#AssetReportGetRequestOptions": {
      "type": "structure",
      "members": {
        "days_to_include": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of days of history to include in the Asset Report.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An optional object to filter or add data to `/asset_report/get` results. If provided, must be non-`null`."
      }
    },
    "com.plaid.api#AssetReportGetRequest": {
      "type": "structure",
      "members": {
        "client_id": {
          "target": "smithy.api#String"
        },
        "secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        },
        "asset_report_token": {
          "target": "smithy.api#String"
        },
        "user_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user token associated with the User for which to create an asset report for. The latest asset report associated with the User will be returned"
          }
        },
        "include_insights": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "`true` if you would like to retrieve the Asset Report with Insights, `false` otherwise. This field defaults to `false` if omitted."
          }
        },
        "fast_report": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "`true` to fetch \"fast\" version of asset report. Defaults to false if omitted. Can only be used if `/asset_report/create` was called with `options.add_ons` set to `[\"fast_assets\"]`."
          }
        },
        "options": {
          "target": "com.plaid.api#AssetReportGetRequestOptions"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.plaid.api#AssetReportGetResponse": {
      "type": "structure",
      "members": {
        "report": {
          "target": "com.plaid.api#AssetReport",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "warnings": {
          "target": "com.plaid.api#AssetReportGetResponseWarningsList",
          "traits": {
            "smithy.api#documentation": "If the Asset Report generation was successful but identity information cannot be returned, this array will contain information about the errors causing identity information to be missing",
            "smithy.api#required": {}
          }
        },
        "request_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AssetReportGetResponse defines the response schema for `/asset_report/get`"
      }
    },
    "com.plaid.api#AssetReport": {
      "type": "structure",
      "members": {
        "asset_report_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "insights": {
          "target": "com.plaid.api#AccountInsights",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "client_report_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier you determine and submit for the Asset Report.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "date_generated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the Asset Report was created, in [ISO 8601](https://wikipedia.org/wiki/ISO_8601) format (e.g. \"2018-04-12T03:32:11Z\").",
            "smithy.api#required": {}
          }
        },
        "days_requested": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The duration of transaction history you requested",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "com.plaid.api#AssetReportUser",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "items": {
          "target": "com.plaid.api#AssetReportItemsList",
          "traits": {
            "smithy.api#documentation": "Data returned by Plaid about each of the Items included in the Asset Report.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object representing an Asset Report"
      }
    },
    "com.plaid.api#AccountInsights": {
      "type": "structure",
      "members": {
        "risk": {
          "target": "com.plaid.api#RiskIndicators",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "affordability": {
          "target": "com.plaid.api#AffordabilityInsights",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This is a container object for all lending-related insights. This field will be returned only for European customers."
      }
    },
    "com.plaid.api#RiskIndicators": {
      "type": "structure",
      "members": {
        "bank_penalties": {
          "target": "com.plaid.api#BankPenaltiesIndicators",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "gambling": {
          "target": "com.plaid.api#GamblingIndicators",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "loan_disbursements": {
          "target": "com.plaid.api#LoanDisbursementsIndicators",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "loan_payments": {
          "target": "com.plaid.api#LoanPaymentsIndicators",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "negative_balance": {
          "target": "com.plaid.api#NegativeBalanceInsights",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Risk indicators focus on providing signal on the possibility of a borrower defaulting on their loan repayments by providing data points related to its payment behavior, debt, and other relevant financial information, helping lenders gauge the level of risk involved in a certain operation."
      }
    },
    "com.plaid.api#BankPenaltiesIndicators": {
      "type": "structure",
      "members": {
        "amount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The total value of outflow transactions categorized as `BANK_PENALTIES`, across all the accounts in the report within the requested time window.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "iso_currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ISO-4217 currency code of the amount. Always `null` if `unofficial_currency_code` is non-`null`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "unofficial_currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unofficial currency code associated with the amount. Always `null` if `iso_currency_code` is non-`null`.\n\nSee the [currency code schema](https://plaid.com/docs/api/accounts#currency-code-schema) for a full listing of supported `unofficial_currency_code`s.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "monthly_average": {
          "target": "com.plaid.api#MonthlyAverage",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "category_details": {
          "target": "com.plaid.api#BankPenaltiesIndicatorsCategoryDetailsList",
          "traits": {
            "smithy.api#documentation": "Detailed categories view of all the transactions that fall into the `BANK_PENALTIES` credit category within the given time window, across all the accounts in the report."
          }
        },
        "transactions_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of transactions that fall into the `BANK_PENALTIES` credit category, across all the accounts in the report.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "monthly_summaries": {
          "target": "com.plaid.api#BankPenaltiesIndicatorsMonthlySummariesList",
          "traits": {
            "smithy.api#documentation": "The monthly summaries of the transactions that fall into the `BANK_PENALTIES` credit category within the given time window, across all the accounts in the report."
          }
        },
        "days_since_last_occurrence": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of days since the last transaction that falls into the `BANK_PENALTIES` credit category, across all the accounts in the report.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "percentage_of_income": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The percentage of the user's monthly inflows that was spent on transactions that fall into the `BANK_PENALTIES` credit category within the given time window, across all the accounts in the report. For example, a value of 100 represents that 100% of the inflows were spent on transactions that fall into the `BANK_PENALTIES` credit category.\nIf there's no available income for the given time period, this field value will be `-1`.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Insights into bank penalties and fees, including overdraft fees, NSF fees, and other bank-imposed charges."
      }
    },
    "com.plaid.api#MonthlyAverage": {
      "type": "structure",
      "members": {
        "amount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The monthly average amount of all the aggregated transactions of the given category, across all the accounts for the given time window.\n\nThe average is calculated by dividing the total amount of the transactions by the number of calendar months in the given time window.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "iso_currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ISO-4217 currency code of the amount. Always `null` if `unofficial_currency_code` is non-`null`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "unofficial_currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unofficial currency code associated with the amount. Always `null` if `iso_currency_code` is non-`null`.\n\nSee the [currency code schema](https://plaid.com/docs/api/accounts#currency-code-schema) for a full listing of supported `unofficial_currency_code`s.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The monthly average amount calculated by dividing the total by the number of calendar months in the time period."
      }
    },
    "com.plaid.api#CategoryExpenses": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the credit category.\n\nSee the [category taxonomy](https://plaid.com/documents/credit-category-taxonomy.csv) for a full listing of category IDs."
          }
        },
        "transactions_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of transactions that fall into this credit category within the given time window.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "amount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The total value for all the transactions that fall into this category within the given time window.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "iso_currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ISO-4217 currency code of the amount. Always `null` if `unofficial_currency_code` is non-`null`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "unofficial_currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unofficial currency code associated with the amount. Always `null` if `iso_currency_code` is non-`null`.\n\nSee the [currency code schema](https://plaid.com/docs/api/accounts#currency-code-schema) for a full listing of supported `unofficial_currency_code`s.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "monthly_average": {
          "target": "com.plaid.api#MonthlyAverage",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Detailed expense information for a specific credit category, including transaction count and total amount spent."
      }
    },
    "com.plaid.api#BankPenaltiesIndicatorsCategoryDetailsList": {
      "type": "list",
      "member": {
        "target": "com.plaid.api#CategoryExpenses"
      },
      "traits": {
        "smithy.api#documentation": "Detailed categories view of all the transactions that fall into the `BANK_PENALTIES` credit category within the given time window, across all the accounts in the report."
      }
    },
    "com.plaid.api#MonthlySummary": {
      "type": "structure",
      "members": {
        "start_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start date of the month for the given report time window. Will be provided in [ISO 8601](https://wikipedia.org/wiki/ISO_8601) format (YYYY-MM-DD).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "end_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end date of the month for the given report time window. Will be provided in [ISO 8601](https://wikipedia.org/wiki/ISO_8601) format (YYYY-MM-DD).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "total_amount": {
          "target": "com.plaid.api#AmountWithCurrency",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Monthly summary of transactions within a specific time period, showing aggregated amounts."
      }
    },
    "com.plaid.api#AmountWithCurrency": {
      "type": "structure",
      "members": {
        "amount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "If the parent object represents a category of transactions, such as `total_amount`, `transfers_in`, `total_income`, etc. the `amount` represents the sum of all of the transactions in the group.\n\nIf the parent object is `cash_flow`, the `amount` represents the total value of all the inflows minus all the outflows across all the accounts in the report in the given time window.\n\nIf the parent object is `minimum_balance`, the `amount` represents the lowest balance of the account during the given time window.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "iso_currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ISO-4217 currency code of the amount. Always `null` if `unofficial_currency_code` is non-`null`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "unofficial_currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unofficial currency code associated with the amount. Always `null` if `iso_currency_code` is non-`null`.\n\nSee the [currency code schema](https://plaid.com/docs/api/accounts#currency-code-schema) for a full listing of supported `unofficial_currency_code`s.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A monetary amount with its associated currency information, supporting both official and unofficial currency codes."
      }
    },
    "com.plaid.api#BankPenaltiesIndicatorsMonthlySummariesList": {
      "type": "list",
      "member": {
        "target": "com.plaid.api#MonthlySummary"
      },
      "traits": {
        "smithy.api#documentation": "The monthly summaries of the transactions that fall into the `BANK_PENALTIES` credit category within the given time window, across all the accounts in the report."
      }
    },
    "com.plaid.api#GamblingIndicators": {
      "type": "structure",
      "members": {
        "amount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The total value of transactions that fall into the `GAMBLING` credit category, across all the accounts in the report.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "iso_currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ISO-4217 currency code of the amount. Always `null` if `unofficial_currency_code` is non-`null`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "unofficial_currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unofficial currency code associated with the amount. Always `null` if `iso_currency_code` is non-`null`.\n\nSee the [currency code schema](https://plaid.com/docs/api/accounts#currency-code-schema) for a full listing of supported `unofficial_currency_code`s.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "monthly_average": {
          "target": "com.plaid.api#MonthlyAverage",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "top_merchants": {
          "target": "com.plaid.api#GamblingIndicatorsTopMerchantsList",
          "traits": {
            "smithy.api#documentation": "Up to 3 top merchants that the user had the most transactions for in the given time window, in descending order of total spend.\n\nIf the user has not spent money on any merchants in the given time window, this list will be empty."
          }
        },
        "transactions_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of transactions that fall into the `GAMBLING` credit category, across all the accounts in the report.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "monthly_summaries": {
          "target": "com.plaid.api#GamblingIndicatorsMonthlySummariesList",
          "traits": {
            "smithy.api#documentation": "The monthly summaries of the transactions that fall into the `GAMBLING` category within the given time window, across all the accounts in the report."
          }
        },
        "days_since_last_occurrence": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of days since the last transaction that falls into the `GAMBLING` category, across all the accounts in the report.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "percentage_of_income": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The percentage of the user's monthly inflows that was spent on transactions that fall into the `GAMBLING` category within the given time window, across all the accounts in the report. For example, a value of 100 indicates that 100% of the inflows were spent on transactions that fall into the `GAMBLING` credit category.\nIf there's no available income for the given time period, this field value will be `-1`",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Insights into gambling-related transactions, including frequency, amounts, and top merchants."
      }
    },
    "com.plaid.api#GamblingIndicatorsTopMerchantsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Up to 3 top merchants that the user had the most transactions for in the given time window, in descending order of total spend.\n\nIf the user has not spent money on any merchants in the given time window, this list will be empty."
      }
    },
    "com.plaid.api#GamblingIndicatorsMonthlySummariesList": {
      "type": "list",
      "member": {
        "target": "com.plaid.api#MonthlySummary"
      },
      "traits": {
        "smithy.api#documentation": "The monthly summaries of the transactions that fall into the `GAMBLING` category within the given time window, across all the accounts in the report."
      }
    },
    "com.plaid.api#LoanDisbursementsIndicators": {
      "type": "structure",
      "members": {
        "amount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The total value of inflow transactions categorized as `LOAN_DISBURSEMENTS`, across all the accounts in the report within the requested time window.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "iso_currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ISO-4217 currency code of the amount. Always `null` if `unofficial_currency_code` is non-`null`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "unofficial_currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unofficial currency code associated with the amount. Always `null` if `iso_currency_code` is non-`null`.\n\nSee the [currency code schema](https://plaid.com/docs/api/accounts#currency-code-schema) for a full listing of supported `unofficial_currency_code`s.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "category_details": {
          "target": "com.plaid.api#LoanDisbursementsIndicatorsCategoryDetailsList",
          "traits": {
            "smithy.api#documentation": "Detailed categories view of all the transactions that fall into the `LOAN_DISBURSEMENTS` credit category within the given time window, across all the accounts in the report."
          }
        },
        "monthly_average": {
          "target": "com.plaid.api#MonthlyAverage",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "top_providers": {
          "target": "com.plaid.api#LoanDisbursementsIndicatorsTopProvidersList",
          "traits": {
            "smithy.api#documentation": "Up to 3 top service providers that the user had the most transactions for in the given time window, in descending order of total spend.\n\nIf the user has not received money from any provider in the given time window, this list will be empty."
          }
        },
        "transactions_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of transactions that fall into the `LOAN_DISBURSEMENTS` credit category, across all the accounts in the report.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "monthly_summaries": {
          "target": "com.plaid.api#LoanDisbursementsIndicatorsMonthlySummariesList",
          "traits": {
            "smithy.api#documentation": "The monthly summaries of the transactions that fall into the `LOAN_DISBURSEMENTS` category within the given time window, across all the accounts in the report."
          }
        },
        "days_since_last_occurrence": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of days since the last transaction that falls into the `LOAN_DISBURSEMENTS` credit category, across all the accounts in the report.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "percentage_of_income": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The percentage of the user's monthly inflows that was received on transactions that fall into the `LOAN_DISBURSEMENTS` credit category within the given time window, across all the accounts in the report. For example, a value of 100 indicates that 100% of the inflows were spent on transactions that fall into the `LOAN_DISBURSEMENTS` credit category.\nIf there's no available income for the given time period, this field value will be `-1`.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Insights into loan disbursement transactions received by the user, tracking incoming funds from loan providers."
      }
    },
    "com.plaid.api#LoanDisbursementsIndicatorsCategoryDetailsList": {
      "type": "list",
      "member": {
        "target": "com.plaid.api#CategoryExpenses"
      },
      "traits": {
        "smithy.api#documentation": "Detailed categories view of all the transactions that fall into the `LOAN_DISBURSEMENTS` credit category within the given time window, across all the accounts in the report."
      }
    },
    "com.plaid.api#LoanDisbursementsIndicatorsTopProvidersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Up to 3 top service providers that the user had the most transactions for in the given time window, in descending order of total spend.\n\nIf the user has not received money from any provider in the given time window, this list will be empty."
      }
    },
    "com.plaid.api#LoanDisbursementsIndicatorsMonthlySummariesList": {
      "type": "list",
      "member": {
        "target": "com.plaid.api#MonthlySummary"
      },
      "traits": {
        "smithy.api#documentation": "The monthly summaries of the transactions that fall into the `LOAN_DISBURSEMENTS` category within the given time window, across all the accounts in the report."
      }
    },
    "com.plaid.api#LoanPaymentsIndicators": {
      "type": "structure",
      "members": {
        "amount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The total value of outflow transactions categorized as `LOAN_PAYMENTS`, across all the accounts in the report within the requested time window.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "iso_currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ISO-4217 currency code of the amount. Always `null` if `unofficial_currency_code` is non-`null`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "unofficial_currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unofficial currency code associated with the amount. Always `null` if `iso_currency_code` is non-`null`.\n\nSee the [currency code schema](https://plaid.com/docs/api/accounts#currency-code-schema) for a full listing of supported `unofficial_currency_code`s.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "monthly_average": {
          "target": "com.plaid.api#MonthlyAverage",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "category_details": {
          "target": "com.plaid.api#LoanPaymentsIndicatorsCategoryDetailsList",
          "traits": {
            "smithy.api#documentation": "Detailed categories view of all the transactions that fall into the `LOAN_PAYMENTS` credit category within the given time window, across all the accounts in the report."
          }
        },
        "top_providers": {
          "target": "com.plaid.api#LoanPaymentsIndicatorsTopProvidersList",
          "traits": {
            "smithy.api#documentation": "Up to 3 top service providers that the user had the most transactions for in the given time window, in descending order of total spend.\n\nIf the user has not spent money on any provider in the given time window, this list will be empty."
          }
        },
        "transactions_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of transactions that fall into the `LOAN_PAYMENTS` credit category, across all the accounts in the report.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "monthly_summaries": {
          "target": "com.plaid.api#LoanPaymentsIndicatorsMonthlySummariesList",
          "traits": {
            "smithy.api#documentation": "The monthly summaries of the transactions that fall into the `LOAN_PAYMENTS` credit category within the given time window, across all the accounts in the report."
          }
        },
        "days_since_last_occurrence": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of days since the last transaction that falls into the `LOAN_PAYMENTS` credit category, across all the accounts in the report.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "percentage_of_income": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The percentage of the user's monthly inflows that was spent on transactions that fall into the `LOAN_PAYMENTS` credit category within the given time window, across all the accounts in the report. For example, a value of 100 indicates that 100% of the inflows were spent on transactions that fall into the `LOAN_PAYMENTS` credit category.\nIf there's no available income for the given time period, this field value will be `-1`",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Insights into loan payment transactions made by the user, tracking outgoing payments to loan providers."
      }
    },
    "com.plaid.api#LoanPaymentsIndicatorsCategoryDetailsList": {
      "type": "list",
      "member": {
        "target": "com.plaid.api#CategoryExpenses"
      },
      "traits": {
        "smithy.api#documentation": "Detailed categories view of all the transactions that fall into the `LOAN_PAYMENTS` credit category within the given time window, across all the accounts in the report."
      }
    },
    "com.plaid.api#LoanPaymentsIndicatorsTopProvidersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Up to 3 top service providers that the user had the most transactions for in the given time window, in descending order of total spend.\n\nIf the user has not spent money on any provider in the given time window, this list will be empty."
      }
    },
    "com.plaid.api#LoanPaymentsIndicatorsMonthlySummariesList": {
      "type": "list",
      "member": {
        "target": "com.plaid.api#MonthlySummary"
      },
      "traits": {
        "smithy.api#documentation": "The monthly summaries of the transactions that fall into the `LOAN_PAYMENTS` credit category within the given time window, across all the accounts in the report."
      }
    },
    "com.plaid.api#NegativeBalanceInsights": {
      "type": "structure",
      "members": {
        "days_since_last_occurrence": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of days since the last transaction that caused any account in the report to have a negative balance.\n\nThis value is inclusive of the date of the last negative balance, meaning that if the last negative balance occurred today, this value will be `0`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "days_with_negative_balance": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of aggregated days that the accounts in the report has had a negative balance within the given time window.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "minimum_balance": {
          "target": "com.plaid.api#AmountWithCurrency",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "occurrences": {
          "target": "com.plaid.api#NegativeBalanceInsightsOccurrencesList",
          "traits": {
            "smithy.api#documentation": "The summary of the negative balance occurrences for this account.\n\nIf the user has not had a negative balance in the account in the given time window, this list will be empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Insights into negative balance occurrences, including frequency, duration, and minimum balance details."
      }
    },
    "com.plaid.api#NegativeBalanceOccurrence": {
      "type": "structure",
      "members": {
        "start_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date of the first transaction that caused the account to have a negative balance.\nThe date will be returned in an ISO 8601 format (YYYY-MM-DD).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "end_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date of the last transaction that caused the account to have a negative balance.\nThe date will be returned in an ISO 8601 format (YYYY-MM-DD).\nThis date is inclusive, meaning that this was the last date that the account had a negative balance.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "minimum_balance": {
          "target": "com.plaid.api#AmountWithCurrency",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about a specific occurrence of a negative balance period, including start and end dates."
      }
    },
    "com.plaid.api#NegativeBalanceInsightsOccurrencesList": {
      "type": "list",
      "member": {
        "target": "com.plaid.api#NegativeBalanceOccurrence"
      },
      "traits": {
        "smithy.api#documentation": "The summary of the negative balance occurrences for this account.\n\nIf the user has not had a negative balance in the account in the given time window, this list will be empty."
      }
    },
    "com.plaid.api#AffordabilityInsights": {
      "type": "structure",
      "members": {
        "expenditure": {
          "target": "com.plaid.api#ExpenditureInsights",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "income": {
          "target": "com.plaid.api#IncomeInsights",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Affordability insights focus on providing signal on the ability of a borrower to repay their loan without experiencing financial strain. It provides insights on factors such as a user's monthly income and expenses, disposable income, average expenditure, etc., helping lenders gauge the level of affordability of a borrower."
      }
    },
    "com.plaid.api#ExpenditureInsights": {
      "type": "structure",
      "members": {
        "cash_flow": {
          "target": "com.plaid.api#AmountWithCurrencyWithMonthlyAverage",
          "traits": {
            "smithy.api#documentation": "Net cash flow for the period (inflows minus outflows), including a monthly average.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "total_expenditure": {
          "target": "com.plaid.api#ExpenditureSummary",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "essential_expenditure": {
          "target": "com.plaid.api#ExpenditureSummary",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "non_essential_expenditure": {
          "target": "com.plaid.api#ExpenditureSummary",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "other": {
          "target": "com.plaid.api#ExpenditureSummary",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "transfers_out": {
          "target": "com.plaid.api#ExpenditureSummary",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "outlier_transactions": {
          "target": "com.plaid.api#OutlierTransactionsInsights",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Comprehensive analysis of spending patterns, categorizing expenses into essential, non-essential, and other categories."
      }
    },
    "com.plaid.api#AmountWithCurrencyWithMonthlyAverage": {
      "type": "structure",
      "members": {
        "amount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "If the parent object represents a category of transactions, such as `total_amount`, `transfers_in`, `total_income`, etc. the `amount` represents the sum of all of the transactions in the group.\n\nIf the parent object is `cash_flow`, the `amount` represents the total value of all the inflows minus all the outflows across all the accounts in the report in the given time window.\n\nIf the parent object is `minimum_balance`, the `amount` represents the lowest balance of the account during the given time window.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "iso_currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ISO-4217 currency code of the amount. Always `null` if `unofficial_currency_code` is non-`null`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "unofficial_currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unofficial currency code associated with the amount. Always `null` if `iso_currency_code` is non-`null`.\n\nSee the [currency code schema](https://plaid.com/docs/api/accounts#currency-code-schema) for a full listing of supported `unofficial_currency_code`s.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an amount and a monthly average"
      }
    },
    "com.plaid.api#ExpenditureSummary": {
      "type": "structure",
      "members": {
        "amount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The total value of all the aggregated transactions in this expenditure category.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "iso_currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ISO-4217 currency code of the amount. Always `null` if `unofficial_currency_code` is non-`null`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "unofficial_currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unofficial currency code associated with the amount. Always `null` if `iso_currency_code` is non-`null`.\n\nSee the [currency code schema](https://plaid.com/docs/api/accounts#currency-code-schema) for a full listing of supported `unofficial_currency_code`s.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "monthly_average": {
          "target": "com.plaid.api#MonthlyAverage",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "transactions_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of outflow transactions in this expenses group, within the given time window across all the accounts in the report.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "percentage_of_income": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The percentage of the total inflows that was spent in this expenses group, within the given time window across all the accounts in the report.\nFor example, a value of 100 represents that 100% of the inflows were spent on transactions that fall into this expenditure group.\nIf there's no available income for the given time period, this field value will be `-1`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "top_categories": {
          "target": "com.plaid.api#ExpenditureSummaryTopCategoriesList",
          "traits": {
            "smithy.api#documentation": "The primary credit categories of the expenses within the given time window, across all the accounts in the report.\n\nThe categories are sorted in descending order by the total value spent.\nSee the [category taxonomy](https://plaid.com/documents/credit-category-taxonomy.csv) for a full listing of category IDs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Summary statistics for a specific expenditure category, including total amount, monthly average, and percentage of income."
      }
    },
    "com.plaid.api#ExpenditureSummaryTopCategoriesList": {
      "type": "list",
      "member": {
        "target": "com.plaid.api#CategoryExpenses"
      },
      "traits": {
        "smithy.api#documentation": "The primary credit categories of the expenses within the given time window, across all the accounts in the report.\n\nThe categories are sorted in descending order by the total value spent.\nSee the [category taxonomy](https://plaid.com/documents/credit-category-taxonomy.csv) for a full listing of category IDs."
      }
    },
    "com.plaid.api#OutlierTransactionsInsights": {
      "type": "structure",
      "members": {
        "transactions_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of transactions whose value is above the threshold of normal amounts for a given account.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "total_amount": {
          "target": "com.plaid.api#AmountWithCurrency",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "top_categories": {
          "target": "com.plaid.api#OutlierTransactionsInsightsTopCategoriesList",
          "traits": {
            "smithy.api#documentation": "Up to 3 top categories of expenses in this group."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Insights into unusually large transactions that exceed typical spending patterns for the account."
      }
    },
    "com.plaid.api#OutlierTransactionsInsightsTopCategoriesList": {
      "type": "list",
      "member": {
        "target": "com.plaid.api#CategoryExpenses"
      },
      "traits": {
        "smithy.api#documentation": "Up to 3 top categories of expenses in this group."
      }
    },
    "com.plaid.api#IncomeInsights": {
      "type": "structure",
      "members": {
        "total_income": {
          "target": "com.plaid.api#AmountWithCurrency",
          "traits": {
            "smithy.api#documentation": "The total amount of all income transactions in the given time period.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "income_excluding_transfers": {
          "target": "com.plaid.api#AmountWithCurrencyWithMonthlyAverage",
          "traits": {
            "smithy.api#documentation": "Income excluding account transfer transactions for the period, including a monthly average.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "transfers_in": {
          "target": "com.plaid.api#AmountWithCurrencyWithMonthlyAverage",
          "traits": {
            "smithy.api#documentation": "Sum of inbound transfer transactions for the period, including a monthly average.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Comprehensive income analysis including total income, income excluding transfers, and inbound transfer amounts."
      }
    },
    "com.plaid.api#AssetReportItem": {
      "type": "structure",
      "members": {
        "item_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "institution_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full financial institution name associated with the Item.",
            "smithy.api#required": {}
          }
        },
        "institution_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the financial institution associated with the Item.",
            "smithy.api#required": {}
          }
        },
        "date_last_updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when this Item's data was last retrieved from the financial institution, in [ISO 8601](https://wikipedia.org/wiki/ISO_8601) format.",
            "smithy.api#required": {}
          }
        },
        "accounts": {
          "target": "com.plaid.api#AssetReportItemAccountsList",
          "traits": {
            "smithy.api#documentation": "Data about each of the accounts open on the Item.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A representation of an Item within an Asset Report."
      }
    },
    "com.plaid.api#AccountAssets": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plaid's unique identifier for the account. This value will not change unless Plaid can't reconcile the account with the data returned by the financial institution. This may occur, for example, when the name of the account changes. If this happens a new `account_id` will be assigned to the account.\n\nThe `account_id` can also change if the `access_token` is deleted and the same credentials that were used to generate that `access_token` are used to generate a new `access_token` on a later date. In that case, the new `account_id` will be different from the old `account_id`.\n\nIf an account with a specific `account_id` disappears instead of changing, the account is likely closed. Closed accounts are not returned by the Plaid API.\n\nLike all Plaid identifiers, the `account_id` is case sensitive.",
            "smithy.api#required": {}
          }
        },
        "balances": {
          "target": "com.plaid.api#AssetReportAccountBalance",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last 2-4 alphanumeric characters of an account's official account number. Note that the mask may be non-unique between an Item's accounts, and it may also not match the mask that the bank displays to the user.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the account, either assigned by the user or by the financial institution itself",
            "smithy.api#required": {}
          }
        },
        "official_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The official name of the account as given by the financial institution",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.plaid.api#AccountType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subtype": {
          "target": "com.plaid.api#AccountSubtype",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "verification_status": {
          "target": "com.plaid.api#AccountAssetsVerificationStatus",
          "traits": {
            "smithy.api#documentation": "The current verification status of an Auth Item initiated through Automated or Manual micro-deposits.  Returned for Auth Items only.\n\n`pending_automatic_verification`: The Item is pending automatic verification.\n\n`pending_manual_verification`: The Item is pending manual micro-deposit verification. Items remain in this state until the user successfully verifies the micro-deposit.\n\n`automatically_verified`: The Item has successfully been automatically verified.\n\n`manually_verified`: The Item has successfully been manually verified.\n\n`verification_expired`: Plaid was unable to automatically verify the deposit within 7 calendar days and will no longer attempt to validate the Item. Users may retry by submitting their information again through Link.\n\n`verification_failed`: The Item failed manual micro-deposit verification because the user exhausted all 3 verification attempts. Users may retry by submitting their information again through Link.\n\n`database_matched`: (deprecated) The Item has successfully been verified using Plaid's data sources. Only returned for Auth Items created via Database Match."
          }
        },
        "persistent_account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique and persistent identifier for accounts that can be used to trace multiple instances of the same account across different Items for depository accounts. This is currently an opt-in field and only supported for Chase Items."
          }
        },
        "days_available": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The duration of transaction history available within this report for this Item, typically defined as the time since the date of the earliest transaction in that account.",
            "smithy.api#required": {}
          }
        },
        "transactions": {
          "target": "com.plaid.api#AccountAssetsTransactionsList",
          "traits": {
            "smithy.api#documentation": "Transaction history associated with the account.",
            "smithy.api#required": {}
          }
        },
        "investments": {
          "target": "com.plaid.api#AssetReportInvestments"
        },
        "owners": {
          "target": "com.plaid.api#AccountAssetsOwnersList",
          "traits": {
            "smithy.api#documentation": "Data returned by the financial institution about the account owner or owners. For business accounts, the name reported may be either the name of the individual or the name of the business, depending on the institution. Multiple owners on a single account will be represented in the same `owner` object, not in multiple owner objects within the array. In API versions 2018-05-22 and earlier, the `owners` object is not returned, and instead identity information is returned in the top level `identity` object. For more details, see [Plaid API versioning](https://plaid.com/docs/api/versioning/#version-2019-05-29)",
            "smithy.api#required": {}
          }
        },
        "ownership_type": {
          "target": "com.plaid.api#OwnershipType",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "historical_balances": {
          "target": "com.plaid.api#AccountAssetsHistoricalBalancesList",
          "traits": {
            "smithy.api#documentation": "Calculated data about the historical balances on the account.\n\nAvailable for `credit` and `depository` type accounts.",
            "smithy.api#required": {}
          }
        },
        "account_insights": {
          "target": "com.plaid.api#AccountInsights",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Asset information about an account"
      }
    },
    "com.plaid.api#AssetReportAccountBalance": {
      "type": "structure",
      "members": {
        "available": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The amount of funds available to be withdrawn from the account, as determined by the financial institution.\n\nFor `credit`-type accounts, the `available` balance typically equals the `limit` less the `current` balance, less any pending outflows plus any pending inflows.\n\nFor `depository`-type accounts, the `available` balance typically equals the `current` balance less any pending outflows plus any pending inflows. For `depository`-type accounts, the `available` balance does not include the overdraft limit.\n\nFor `investment`-type accounts (or `brokerage`-type accounts for API versions 2018-05-22 and earlier), the `available` balance is the total cash available to withdraw as presented by the institution.\n\nNote that not all institutions calculate the `available`  balance. In the event that `available` balance is unavailable, Plaid will return an `available` balance value of `null`.\n\nAvailable balance may be cached and is not guaranteed to be up-to-date in real-time unless the value was returned by `/accounts/balance/get`.\n\nIf `current` is `null` this field is guaranteed not to be `null`.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "current": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The total amount of funds in or owed by the account.\n\nFor `credit`-type accounts, a positive balance indicates the amount owed; a negative amount indicates the lender owing the account holder.\n\nFor `loan`-type accounts, the current balance is the principal remaining on the loan, except in the case of student loan accounts at Sallie Mae (`ins_116944`). For Sallie Mae student loans, the account's balance includes both principal and any outstanding interest.\n\nFor `investment`-type accounts (or `brokerage`-type accounts for API versions 2018-05-22 and earlier), the current balance is the total value of assets as presented by the institution.\n\nNote that balance information may be cached unless the value was returned by `/accounts/balance/get`; if the Item is enabled for Transactions, the balance will be at least as recent as the most recent Transaction update. If you require real-time balance information, use the `available` balance as provided by `/accounts/balance/get`.\n\nWhen returned by `/accounts/balance/get`, this field may be `null`. When this happens, `available` is guaranteed not to be `null`.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "For `credit`-type accounts, this represents the credit limit.\n\nFor `depository`-type accounts, this represents the pre-arranged overdraft limit, which is common for current (checking) accounts in Europe.\n\nIn North America, this field is typically only available for `credit`-type accounts.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "margin_loan_amount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The total amount of borrowed funds in the account, as determined by the financial institution.\nFor investment-type accounts, the margin balance is the total value of borrowed assets in the account, as presented by the institution.\nThis is commonly referred to as margin or a loan.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "iso_currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ISO-4217 currency code of the balance. Always null if `unofficial_currency_code` is non-null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "unofficial_currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unofficial currency code associated with the balance. Always null if `iso_currency_code` is non-null. Unofficial currency codes are used for currencies that do not have official ISO currency codes, such as cryptocurrencies and the currencies of certain countries.\n\nSee the [currency code schema](https://plaid.com/docs/api/accounts#currency-code-schema) for a full listing of supported `unofficial_currency_code`s.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_updated_datetime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format (`YYYY-MM-DDTHH:mm:ssZ`) indicating the oldest acceptable balance when making a request to `/accounts/balance/get`.\n\nThis field is only used and expected when the institution is `ins_128026` (Capital One) and the Item contains one or more accounts with a non-depository account type, in which case a value must be provided or an `INVALID_REQUEST` error with the code of `INVALID_FIELD` will be returned. For Capital One depository accounts as well as all other account types on all other institutions, this field is ignored. See [account type schema](https://plaid.com/docs/api/accounts/#account-type-schema) for a full list of account types.\n\nIf the balance that is pulled is older than the given timestamp for Items with this field required, an `INVALID_REQUEST` error with the code of `LAST_UPDATED_DATETIME_OUT_OF_RANGE` will be returned with the most recent timestamp for the requested account contained in the response.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of fields describing the balance for an account. Balance information may be cached unless the balance object was returned by `/accounts/balance/get`."
      }
    },
    "com.plaid.api#AccountType": {
      "type": "enum",
      "members": {
        "INVESTMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "investment"
          }
        },
        "CREDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "credit"
          }
        },
        "DEPOSITORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "depository"
          }
        },
        "LOAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "loan"
          }
        },
        "BROKERAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brokerage"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`investment:` Investment account. In API versions 2018-05-22 and earlier, this type is called `brokerage` instead.\n\n`credit:` Credit card\n\n`depository:` Depository account\n\n`loan:` Loan account\n\n`other:` Non-specified account type\n\nSee the [Account type schema](https://plaid.com/docs/api/accounts#account-type-schema) for a full listing of account types and corresponding subtypes."
      }
    },
    "com.plaid.api#AccountSubtype": {
      "type": "enum",
      "members": {
        "_401A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "401a"
          }
        },
        "_401K": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "401k"
          }
        },
        "_403B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "403B"
          }
        },
        "_457B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "457b"
          }
        },
        "_529": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "529"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "BROKERAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brokerage"
          }
        },
        "BUSINESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "business"
          }
        },
        "CASH_ISA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cash isa"
          }
        },
        "CASH_MANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cash management"
          }
        },
        "CD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cd"
          }
        },
        "CHARGE_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "charge card"
          }
        },
        "CHECKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "checking"
          }
        },
        "COMMERCIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "commercial"
          }
        },
        "COMMERCIAL_LINE_OF_CREDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "commercial line of credit"
          }
        },
        "CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "construction"
          }
        },
        "CONSUMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "consumer"
          }
        },
        "CREDIT_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "credit card"
          }
        },
        "CRYPTO_EXCHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "crypto exchange"
          }
        },
        "EBT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ebt"
          }
        },
        "EDUCATION_SAVINGS_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "education savings account"
          }
        },
        "FHSA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fhsa"
          }
        },
        "FIXED_ANNUITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed annuity"
          }
        },
        "GIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gic"
          }
        },
        "HEALTH_REIMBURSEMENT_ARRANGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "health reimbursement arrangement"
          }
        },
        "HOME_EQUITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "home equity"
          }
        },
        "HOME_EQUITY_LOAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "home equity loan"
          }
        },
        "HSA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hsa"
          }
        },
        "INSTALLMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "installment"
          }
        },
        "ISA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "isa"
          }
        },
        "IRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ira"
          }
        },
        "KEOGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "keogh"
          }
        },
        "LIF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lif"
          }
        },
        "LIFE_INSURANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "life insurance"
          }
        },
        "LIMITED_PURPOSE_CHECKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "limited purpose checking"
          }
        },
        "LINE_OF_CREDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "line of credit"
          }
        },
        "LIRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lira"
          }
        },
        "LOAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "loan"
          }
        },
        "LRIF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lrif"
          }
        },
        "LRSP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lrsp"
          }
        },
        "MONEY_MARKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "money market"
          }
        },
        "MORTGAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mortgage"
          }
        },
        "MUTUAL_FUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mutual fund"
          }
        },
        "NON_CUSTODIAL_WALLET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "non-custodial wallet"
          }
        },
        "NON_TAXABLE_BROKERAGE_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "non-taxable brokerage account"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        },
        "OTHER_INSURANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other insurance"
          }
        },
        "OTHER_ANNUITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other annuity"
          }
        },
        "OVERDRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "overdraft"
          }
        },
        "PAYPAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paypal"
          }
        },
        "PAYROLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "payroll"
          }
        },
        "PENSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pension"
          }
        },
        "PREDICTION_MARKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "prediction market"
          }
        },
        "PREPAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "prepaid"
          }
        },
        "PRIF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "prif"
          }
        },
        "PROFIT_SHARING_PLAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "profit sharing plan"
          }
        },
        "QSHR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "qshr"
          }
        },
        "RDSP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rdsp"
          }
        },
        "RESP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resp"
          }
        },
        "RETIREMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "retirement"
          }
        },
        "RLIF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rlif"
          }
        },
        "ROTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "roth"
          }
        },
        "ROTH_401K": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "roth 401k"
          }
        },
        "ROTH_403B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "roth 403B"
          }
        },
        "ROTH_457B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "roth 457b"
          }
        },
        "ROTH_PENSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "roth pension"
          }
        },
        "ROTH_PROFIT_SHARING_PLAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "roth profit sharing plan"
          }
        },
        "ROTH_THRIFT_SAVINGS_PLAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "roth thrift savings plan"
          }
        },
        "RRIF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rrif"
          }
        },
        "RRSP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rrsp"
          }
        },
        "SARSEP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sarsep"
          }
        },
        "SAVINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "savings"
          }
        },
        "SEP_IRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sep ira"
          }
        },
        "SIMPLE_IRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "simple ira"
          }
        },
        "SIPP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sipp"
          }
        },
        "STOCK_PLAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stock plan"
          }
        },
        "STUDENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "student"
          }
        },
        "THRIFT_SAVINGS_PLAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thrift savings plan"
          }
        },
        "TFSA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tfsa"
          }
        },
        "TRUST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trust"
          }
        },
        "UGMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ugma"
          }
        },
        "UTMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utma"
          }
        },
        "VARIABLE_ANNUITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "variable annuity"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "See the [Account type schema](https://plaid.com/docs/api/accounts/#account-type-schema) for a full listing of account types and corresponding subtypes."
      }
    },
    "com.plaid.api#AccountAssetsVerificationStatus": {
      "type": "enum",
      "members": {
        "AUTOMATICALLY_VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automatically_verified"
          }
        },
        "PENDING_AUTOMATIC_VERIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_automatic_verification"
          }
        },
        "PENDING_MANUAL_VERIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_manual_verification"
          }
        },
        "MANUALLY_VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manually_verified"
          }
        },
        "VERIFICATION_EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verification_expired"
          }
        },
        "VERIFICATION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verification_failed"
          }
        },
        "DATABASE_MATCHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "database_matched"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current verification status of an Auth Item initiated through Automated or Manual micro-deposits.  Returned for Auth Items only.\n\n`pending_automatic_verification`: The Item is pending automatic verification.\n\n`pending_manual_verification`: The Item is pending manual micro-deposit verification. Items remain in this state until the user successfully verifies the micro-deposit.\n\n`automatically_verified`: The Item has successfully been automatically verified.\n\n`manually_verified`: The Item has successfully been manually verified.\n\n`verification_expired`: Plaid was unable to automatically verify the deposit within 7 calendar days and will no longer attempt to validate the Item. Users may retry by submitting their information again through Link.\n\n`verification_failed`: The Item failed manual micro-deposit verification because the user exhausted all 3 verification attempts. Users may retry by submitting their information again through Link.\n\n`database_matched`: (deprecated) The Item has successfully been verified using Plaid's data sources. Only returned for Auth Items created via Database Match."
      }
    },
    "com.plaid.api#AssetReportTransaction": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the account in which this transaction occurred.",
            "smithy.api#required": {}
          }
        },
        "amount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The settled value of the transaction, denominated in the transaction's currency, as stated in `iso_currency_code` or `unofficial_currency_code`. Positive values when money moves out of the account; negative values when money moves in. For example, debit card purchases are positive; credit card payments, direct deposits, and refunds are negative.",
            "smithy.api#required": {}
          }
        },
        "iso_currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ISO-4217 currency code of the transaction. Always `null` if `unofficial_currency_code` is non-null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "unofficial_currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unofficial currency code associated with the transaction. Always `null` if `iso_currency_code` is non-`null`. Unofficial currency codes are used for currencies that do not have official ISO currency codes, such as cryptocurrencies and the currencies of certain countries.\n\nSee the [currency code schema](https://plaid.com/docs/api/accounts#currency-code-schema) for a full listing of supported `unofficial_currency_code`s.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "original_description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The string returned by the financial institution to describe the transaction.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "category": {
          "target": "com.plaid.api#AssetReportTransactionCategoryList",
          "traits": {
            "smithy.api#documentation": "A hierarchical array of the categories to which this transaction belongs. For a full list of categories, see [`/categories/get`](https://plaid.com/docs/api/products/transactions/#categoriesget).\n\nThis field will only appear in an Asset Report with Insights.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "category_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the category to which this transaction belongs. For a full list of categories, see [`/categories/get`](https://plaid.com/docs/api/products/transactions/#categoriesget).\n\nThis field will only appear in an Asset Report with Insights.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "credit_category": {
          "target": "com.plaid.api#CreditCategory",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "check_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The check number of the transaction. This field is only populated for check transactions.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For pending transactions, the date that the transaction occurred; for posted transactions, the date that the transaction posted. Both dates are returned in an [ISO 8601](https://wikipedia.org/wiki/ISO_8601) format ( `YYYY-MM-DD` ).",
            "smithy.api#required": {}
          }
        },
        "date_transacted": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date on which the transaction took place, in ISO 8601 format.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "location": {
          "target": "com.plaid.api#Location"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The merchant name or transaction description. This is a legacy field that is no longer maintained. For merchant name, use the `merchant_name` field. For description, use the `original_description` field.\n\nThis field will only appear in an Asset Report with Insights."
          }
        },
        "merchant_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The merchant name, as enriched by Plaid. This is typically a more human-readable version of the merchant counterparty in the transaction. For some bank transactions (such as checks or account transfers) where there is no meaningful merchant name, this value will be `null`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "payment_meta": {
          "target": "com.plaid.api#PaymentMeta"
        },
        "pending": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When `true`, identifies the transaction as pending or unsettled. Pending transaction details (name, type, amount, category ID) may change before they are settled.",
            "smithy.api#required": {}
          }
        },
        "pending_transaction_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of a posted transaction's associated pending transaction, where applicable.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "account_owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the account owner. This field is not typically populated and only relevant when dealing with sub-accounts.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "transaction_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the transaction. Like all Plaid identifiers, the `transaction_id` is case sensitive.",
            "smithy.api#required": {}
          }
        },
        "transaction_type": {
          "target": "com.plaid.api#AssetReportTransactionType"
        },
        "income_source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier for an income source."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A transaction on the asset report"
      }
    },
    "com.plaid.api#AssetReportTransactionCategoryList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A hierarchical array of the categories to which this transaction belongs. For a full list of categories, see [`/categories/get`](https://plaid.com/docs/api/products/transactions/#categoriesget).\n\nThis field will only appear in an Asset Report with Insights."
      }
    },
    "com.plaid.api#CreditCategory": {
      "type": "structure",
      "members": {
        "primary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A high level category that communicates the broad category of the transaction.",
            "smithy.api#required": {}
          }
        },
        "detailed": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A granular category conveying the transaction's intent. This field can also be used as a unique identifier for the category.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information describing the intent of the transaction. Most relevant for credit use cases, but not limited to such use cases.\n\nSee the [`taxonomy csv file`](https://plaid.com/documents/credit-category-taxonomy.csv) for a full list of credit categories."
      }
    },
    "com.plaid.api#Location": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The street address where the transaction occurred.",
            "smithy.api#required": {},
[...]
