{
  "smithy": "2.0",
  "metadata": {
    "service": "admin",
    "version": "reports_v1",
    "title": "Admin SDK API",
    "baseUrl": "https://admin.googleapis.com/"
  },
  "shapes": {
    "com.googleworkspace.admin_reports_v1#AgentAttributionInfo": {
      "type": "structure",
      "members": {
        "agentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the agent."
          }
        },
        "agentOwner": {
          "target": "com.googleworkspace.admin_reports_v1#AgentAttributionInfoAgentOwner",
          "traits": {
            "smithy.api#documentation": "The owner of the agent."
          }
        },
        "agentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the agent."
          }
        },
        "agentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user visible name of the agent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of the AI agent that was the actor for the activity."
      }
    },
    "com.googleworkspace.admin_reports_v1#AgentAttributionInfoAgentOwner": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the agent owner."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of the owner of the AI agent."
      }
    },
    "com.googleworkspace.admin_reports_v1#Activity": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.googleworkspace.admin_reports_v1#ActivityId",
          "traits": {
            "smithy.api#documentation": "Unique identifier for each activity record."
          }
        },
        "networkInfo": {
          "target": "com.googleworkspace.admin_reports_v1#ActivityNetworkInfo",
          "traits": {
            "smithy.api#documentation": "Network information of the user doing the action."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the entry."
          }
        },
        "userDeviceInfo": {
          "target": "com.googleworkspace.admin_reports_v1#ActivityUserDeviceInfo",
          "traits": {
            "smithy.api#documentation": "Device details of the user doing the action. This field is only exposed for the `contacts`, `gemini_in_workspace_apps`, `keep`, `meet_hardware`, `meet`, `chat`, `chrome`, `directory_sync`, `drive`, `groups`, `rules`, `data_studio`, `saml` applications."
          }
        },
        "resourceDetails": {
          "target": "com.googleworkspace.admin_reports_v1#ResourceDetailsList",
          "traits": {
            "smithy.api#documentation": "Details of the resource on which the action was performed."
          }
        },
        "isAgenticAction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the activity was performed by an agent."
          }
        },
        "ipAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP address of the user doing the action. This is the Internet Protocol (IP) address of the user when logging into Google Workspace, which may or may not reflect the user's physical location. For example, the IP address can be the user's proxy server's address or a virtual private network (VPN) address. The API supports IPv4 and IPv6."
          }
        },
        "events": {
          "target": "com.googleworkspace.admin_reports_v1#ActivityEventsItemList",
          "traits": {
            "smithy.api#documentation": "Activity events in the report."
          }
        },
        "ownerDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the domain that is affected by the report's event. For example domain of Admin console or the Drive application's document owner."
          }
        },
        "actor": {
          "target": "com.googleworkspace.admin_reports_v1#ActivityActor",
          "traits": {
            "smithy.api#documentation": "User doing the action."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of API resource. For an activity report, the value is `audit#activity`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON template for the activity resource."
      }
    },
    "com.googleworkspace.admin_reports_v1#ActivityId": {
      "type": "structure",
      "members": {
        "uniqueQualifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique qualifier if multiple events have the same time."
          }
        },
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time of occurrence of the activity. This is in UNIX epoch time in seconds."
          }
        },
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for a Google Workspace account."
          }
        },
        "applicationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Application name to which the event belongs. For possible values see the list of applications above in `applicationName`."
          }
        }
      }
    },
    "com.googleworkspace.admin_reports_v1#ResourceDetailsList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.admin_reports_v1#ResourceDetails"
      }
    },
    "com.googleworkspace.admin_reports_v1#ActivityEventsItem": {
      "type": "structure",
      "members": {
        "resourceIds": {
          "target": "com.googleworkspace.admin_reports_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Resource ids associated with the event."
          }
        },
        "status": {
          "target": "com.googleworkspace.admin_reports_v1#ActivityEventsStatus",
          "traits": {
            "smithy.api#documentation": "Status of the event. Note: Not all events have status."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the event. This is the specific name of the activity reported by the API. And each `eventName` is related to a specific Google Workspace service or feature which the API organizes into types of events. For `eventName` request parameters in general: - If no `eventName` is given, the report returns all possible instances of an `eventName`. - When you request an `eventName`, the API's response returns all activities which contain that `eventName`. For more information about `eventName` properties, see the list of event names for various applications above in `applicationName`."
          }
        },
        "parameters": {
          "target": "com.googleworkspace.admin_reports_v1#ActivityEventsItemParametersItemList",
          "traits": {
            "smithy.api#documentation": "Parameter value pairs for various applications. For more information about `eventName` parameters, see the list of event names for various applications above in `applicationName`."
          }
        },
        "sensitiveParameters": {
          "target": "com.googleworkspace.admin_reports_v1#ActivityEventsItemSensitiveParametersItemList",
          "traits": {
            "smithy.api#documentation": "Includes sensitive parameter value pairs for various applications."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of event. The Google Workspace service or feature that an administrator changes is identified in the `type` property which identifies an event using the `eventName` property. For a full list of the API's `type` categories, see the list of event names for various applications above in `applicationName`."
          }
        }
      }
    },
    "com.googleworkspace.admin_reports_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.googleworkspace.admin_reports_v1#ActivityEventsItemParametersItem": {
      "type": "structure",
      "members": {
        "messageValue": {
          "target": "com.googleworkspace.admin_reports_v1#ActivityEventsItemParametersItemMessageValue",
          "traits": {
            "smithy.api#documentation": "Nested parameter value pairs associated with this parameter. Complex value type for a parameter are returned as a list of parameter values. For example, the address parameter may have a value as `[{parameter: [{name: city, value: abc}]}]`"
          }
        },
        "multiValue": {
          "target": "com.googleworkspace.admin_reports_v1#StringList",
          "traits": {
            "smithy.api#documentation": "String values of the parameter."
          }
        },
        "multiMessageValue": {
          "target": "com.googleworkspace.admin_reports_v1#ActivityEventsItemParametersItemMultiMessageValueItemList",
          "traits": {
            "smithy.api#documentation": "List of `messageValue` objects."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String value of the parameter."
          }
        },
        "intValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Integer value of the parameter."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the parameter."
          }
        },
        "multiIntValue": {
          "target": "com.googleworkspace.admin_reports_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Integer values of the parameter."
          }
        },
        "boolValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Boolean value of the parameter."
          }
        }
      }
    },
    "com.googleworkspace.admin_reports_v1#ActivityEventsItemParametersItemMessageValue": {
      "type": "structure",
      "members": {
        "parameter": {
          "target": "com.googleworkspace.admin_reports_v1#NestedParameterList",
          "traits": {
            "smithy.api#documentation": "Parameter values"
          }
        }
      }
    },
    "com.googleworkspace.admin_reports_v1#NestedParameterList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.admin_reports_v1#NestedParameter"
      }
    },
    "com.googleworkspace.admin_reports_v1#ActivityEventsItemParametersItemMultiMessageValueItem": {
      "type": "structure",
      "members": {
        "parameter": {
          "target": "com.googleworkspace.admin_reports_v1#NestedParameterList",
          "traits": {
            "smithy.api#documentation": "Parameter values"
          }
        }
      }
    },
    "com.googleworkspace.admin_reports_v1#ActivityEventsItemParametersItemMultiMessageValueItemList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.admin_reports_v1#ActivityEventsItemParametersItemMultiMessageValueItem"
      }
    },
    "com.googleworkspace.admin_reports_v1#ActivityEventsItemParametersItemList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.admin_reports_v1#ActivityEventsItemParametersItem"
      }
    },
    "com.googleworkspace.admin_reports_v1#ActivityEventsItemSensitiveParametersItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the parameter."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String value of the parameter."
          }
        },
        "intValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Integer value of the parameter."
          }
        },
        "boolValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Boolean value of the parameter."
          }
        },
        "multiValue": {
          "target": "com.googleworkspace.admin_reports_v1#StringList",
          "traits": {
            "smithy.api#documentation": "String values of the parameter."
          }
        },
        "multiIntValue": {
          "target": "com.googleworkspace.admin_reports_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Integer values of the parameter."
          }
        },
        "multiMessageValue": {
          "target": "com.googleworkspace.admin_reports_v1#ActivityEventsItemSensitiveParametersItemMultiMessageValueItemList",
          "traits": {
            "smithy.api#documentation": "List of `messageValue` objects."
          }
        },
        "messageValue": {
          "target": "com.googleworkspace.admin_reports_v1#ActivityEventsItemSensitiveParametersItemMessageValue",
          "traits": {
            "smithy.api#documentation": "Nested parameter value pairs associated with this parameter. Complex value type for a parameter are returned as a list of parameter values. For example, the address parameter may have a value as `[{parameter: [{name: city, value: abc}]}]`"
          }
        }
      }
    },
    "com.googleworkspace.admin_reports_v1#ActivityEventsItemSensitiveParametersItemMultiMessageValueItem": {
      "type": "structure",
      "members": {
        "parameter": {
          "target": "com.googleworkspace.admin_reports_v1#NestedParameterList",
          "traits": {
            "smithy.api#documentation": "Parameter values"
          }
        }
      }
    },
    "com.googleworkspace.admin_reports_v1#ActivityEventsItemSensitiveParametersItemMultiMessageValueItemList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.admin_reports_v1#ActivityEventsItemSensitiveParametersItemMultiMessageValueItem"
      }
    },
    "com.googleworkspace.admin_reports_v1#ActivityEventsItemSensitiveParametersItemMessageValue": {
      "type": "structure",
      "members": {
        "parameter": {
          "target": "com.googleworkspace.admin_reports_v1#NestedParameterList",
          "traits": {
            "smithy.api#documentation": "Parameter values"
          }
        }
      }
    },
    "com.googleworkspace.admin_reports_v1#ActivityEventsItemSensitiveParametersItemList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.admin_reports_v1#ActivityEventsItemSensitiveParametersItem"
      }
    },
    "com.googleworkspace.admin_reports_v1#ActivityEventsItemList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.admin_reports_v1#ActivityEventsItem"
      }
    },
    "com.googleworkspace.admin_reports_v1#ActivityActor": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Only present when `callerType` is `KEY`. Can be the `consumer_key` of the requestor for OAuth 2LO API requests or an identifier for robot accounts."
          }
        },
        "agentAttributionInfo": {
          "target": "com.googleworkspace.admin_reports_v1#AgentAttributionInfo",
          "traits": {
            "smithy.api#documentation": "Details of the AI agent that was the actor for the activity."
          }
        },
        "callerType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of actor."
          }
        },
        "profileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique Google Workspace profile ID of the actor. This value might be absent if the actor is not a Google Workspace user, or may be the number 105250506097979753968 which acts as a placeholder ID."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The primary email address of the actor. May be absent if there is no email address associated with the actor."
          }
        },
        "applicationInfo": {
          "target": "com.googleworkspace.admin_reports_v1#ActivityActorApplicationInfo",
          "traits": {
            "smithy.api#documentation": "Details of the application that was the actor for the activity."
          }
        }
      }
    },
    "com.googleworkspace.admin_reports_v1#ActivityActorApplicationInfo": {
      "type": "structure",
      "members": {
        "applicationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the application used to perform the action."
          }
        },
        "oauthClientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth client id of the third party application used to perform the action."
          }
        },
        "impersonation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the application was impersonating a user."
          }
        }
      }
    },
    "com.googleworkspace.admin_reports_v1#FieldValueUserValue": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email of the user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Setting a user value by selecting a single user."
      }
    },
    "com.googleworkspace.admin_reports_v1#SharedDriveIdentity": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Shared drive gaia id."
          }
        },
        "sharedDriveName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Shared drive name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identity of the shared drive who owns the resource."
      }
    },
    "com.googleworkspace.admin_reports_v1#ActivityNetworkInfo": {
      "type": "structure",
      "members": {
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 3166-1 alpha-2 region code of the user doing the action."
          }
        },
        "subdivisionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 3166-2 region code (states and provinces) for countries of the user doing the action."
          }
        },
        "ipAsn": {
          "target": "com.googleworkspace.admin_reports_v1#IntegerList",
          "traits": {
            "smithy.api#documentation": "IP Address of the user doing the action."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network information of the user doing the action."
      }
    },
    "com.googleworkspace.admin_reports_v1#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.googleworkspace.admin_reports_v1#UserIdentity": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User gaia id."
          }
        },
        "userEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User email."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identity of the user who owns the resource."
      }
    },
    "com.googleworkspace.admin_reports_v1#ActivityUserDeviceInfo": {
      "type": "structure",
      "members": {
        "deviceOsVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Device OS version of the user's device."
          }
        },
        "deviceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the user's device."
          }
        },
        "deviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Device ID of the user's device."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Device details of the user doing the action."
      }
    },
    "com.googleworkspace.admin_reports_v1#FieldValueTextListValue": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.googleworkspace.admin_reports_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of text values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Setting a text list value."
      }
    },
    "com.googleworkspace.admin_reports_v1#UsageReports": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of API resource. For a usage report, the value is `admin#reports#usageReports`."
          }
        },
        "warnings": {
          "target": "com.googleworkspace.admin_reports_v1#UsageReportsWarningsItemList",
          "traits": {
            "smithy.api#documentation": "Warnings, if any."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to specify next page. A report with multiple pages has a `nextPageToken` property in the response. For your follow-on requests getting all of the report's pages, enter the `nextPageToken` value in the `pageToken` query string."
          }
        },
        "usageReports": {
          "target": "com.googleworkspace.admin_reports_v1#UsageReportList",
          "traits": {
            "smithy.api#documentation": "Various application parameter records."
          }
        }
      }
    },
    "com.googleworkspace.admin_reports_v1#UsageReportsWarningsItem": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Machine readable code or warning type. The warning code value is `200`."
          }
        },
        "data": {
          "target": "com.googleworkspace.admin_reports_v1#UsageReportsWarningsItemDataItemList",
          "traits": {
            "smithy.api#documentation": "Key-value pairs to give detailed information on the warning."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human readable messages for a warning are: - Data is not available warning - Sorry, data for date yyyy-mm-dd for application \"`application name`\" is not available. - Partial data is available warning - Data for date yyyy-mm-dd for application \"`application name`\" is not available right now, please try again after a few hours. "
          }
        }
      }
    },
    "com.googleworkspace.admin_reports_v1#UsageReportsWarningsItemDataItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key associated with a key-value pair to give detailed information on the warning."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value associated with a key-value pair to give detailed information on the warning."
          }
        }
      }
    },
    "com.googleworkspace.admin_reports_v1#UsageReportsWarningsItemDataItemList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.admin_reports_v1#UsageReportsWarningsItemDataItem"
      }
    },
    "com.googleworkspace.admin_reports_v1#UsageReportsWarningsItemList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.admin_reports_v1#UsageReportsWarningsItem"
      }
    },
    "com.googleworkspace.admin_reports_v1#UsageReportList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.admin_reports_v1#UsageReport"
      }
    },
    "com.googleworkspace.admin_reports_v1#Channel": {
      "type": "structure",
      "members": {
        "resourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A version-specific identifier for the watched resource."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A UUID or similar unique string that identifies this channel."
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies this as a notification channel used to watch for changes to a resource, which is \"`api#channel`\"."
          }
        },
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The address where notifications are delivered for this channel."
          }
        },
        "expiration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional."
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."
          }
        },
        "payload": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A Boolean value to indicate whether payload is wanted. A payload is data that is sent in the body of an HTTP POST, PUT, or PATCH message and contains important information about the request. Optional."
          }
        },
        "params": {
          "target": "com.googleworkspace.admin_reports_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Additional parameters controlling delivery channel behavior. Optional."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of delivery mechanism used for this channel. The value should be set to `\"web_hook\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A notification channel used to watch for resource changes."
      }
    },
    "com.googleworkspace.admin_reports_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.googleworkspace.admin_reports_v1#GroupIdentity": {
      "type": "structure",
      "members": {
        "groupEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Group email."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Group gaia id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identity of the group who owns the resource."
      }
    },
    "com.googleworkspace.admin_reports_v1#OwnerIdentity": {
      "type": "structure",
      "members": {
        "userIdentity": {
          "target": "com.googleworkspace.admin_reports_v1#UserIdentity",
          "traits": {
            "smithy.api#documentation": "Identity of the user who owns the resource."
          }
        },
        "groupIdentity": {
          "target": "com.googleworkspace.admin_reports_v1#GroupIdentity",
          "traits": {
            "smithy.api#documentation": "Identity of the group who owns the resource."
          }
        },
        "customerIdentity": {
          "target": "com.googleworkspace.admin_reports_v1#CustomerIdentity",
          "traits": {
            "smithy.api#documentation": "Identity of the Google Workspace customer who owns the resource."
          }
        },
        "sharedDriveIdentity": {
          "target": "com.googleworkspace.admin_reports_v1#SharedDriveIdentity",
          "traits": {
            "smithy.api#documentation": "Identity of the shared drive who owns the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identity details of the owner of the resource."
      }
    },
    "com.googleworkspace.admin_reports_v1#Admin_Date": {
      "type": "structure",
      "members": {
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
          }
        },
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
          }
        },
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      }
    },
    "com.googleworkspace.admin_reports_v1#FieldValueSelectionValue": {
      "type": "structure",
      "members": {
        "badged": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the selection is badged."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the selection."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the selection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Setting a selection value by selecting a single value from a dropdown."
      }
    },
    "com.googleworkspace.admin_reports_v1#Reason": {
      "type": "structure",
      "members": {
        "reasonType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the reason."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The reason why the label/field was applied."
      }
    },
    "com.googleworkspace.admin_reports_v1#CustomerIdentity": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identity of the Google Workspace customer who owns the resource."
      }
    },
    "com.googleworkspace.admin_reports_v1#ActivityEventsStatus": {
      "type": "structure",
      "members": {
        "httpStatusCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Status code of the event. Note: Field can be empty."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message of the event. Note: Field can be empty."
          }
        },
        "errorCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error code of the event. Note: Field can be empty."
          }
        },
        "eventStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the event. Possible values if not empty: - UNKNOWN_EVENT_STATUS - SUCCEEDED - SUCCEEDED_WITH_WARNINGS - FAILED - SKIPPED "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the event. Note: Not all events have status."
      }
    },
    "com.googleworkspace.admin_reports_v1#UsageReport": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        },
        "entity": {
          "target": "com.googleworkspace.admin_reports_v1#UsageReportEntity",
          "traits": {
            "smithy.api#documentation": "Output only. Information about the type of the item."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of API resource. For a usage report, the value is `admin#reports#usageReport`."
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The date of the report request."
          }
        },
        "parameters": {
          "target": "com.googleworkspace.admin_reports_v1#UsageReportParametersItemList",
          "traits": {
            "smithy.api#documentation": "Output only. Parameter value pairs for various applications. For the Entity Usage Report parameters and values, see [the Entity Usage parameters reference](https://developers.google.com/workspace/admin/reports/v1/reference/usage-ref-appendix-a/entities)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON template for a usage report."
      }
    },
    "com.googleworkspace.admin_reports_v1#UsageReportEntity": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The type of item. The value is `user`."
          }
        },
        "userEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The user's email address. Only relevant if entity.type = \"USER\""
          }
        },
        "entityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Object key. Only relevant if entity.type = \"OBJECT\" Note: external-facing name of report is \"Entities\" rather than \"Objects\"."
          }
        },
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique identifier of the customer's account."
          }
        },
        "profileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The user's immutable Google Workspace profile identifier."
          }
        }
      }
    },
    "com.googleworkspace.admin_reports_v1#UsageReportParametersItem": {
      "type": "structure",
      "members": {
        "msgValue": {
          "target": "com.googleworkspace.admin_reports_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "Output only. Nested message value of the parameter."
          }
        },
        "datetimeValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The RFC 3339 formatted value of the parameter, for example 2010-10-28T10:26:35.000Z."
          }
        },
        "boolValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Boolean value of the parameter."
          }
        },
        "intValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Integer value of the parameter."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the parameter. For the User Usage Report parameter names, see the User Usage parameters reference."
          }
        },
        "stringValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. String value of the parameter."
          }
        }
      }
    },
    "com.googleworkspace.admin_reports_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.googleworkspace.admin_reports_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.admin_reports_v1#DocumentMap"
      }
    },
    "com.googleworkspace.admin_reports_v1#UsageReportParametersItemList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.admin_reports_v1#UsageReportParametersItem"
      }
    },
    "com.googleworkspace.admin_reports_v1#AppliedLabel": {
      "type": "structure",
      "members": {
        "fieldValues": {
          "target": "com.googleworkspace.admin_reports_v1#FieldValueList",
          "traits": {
            "smithy.api#documentation": "List of fields which are part of the label and have been set by the user. If label has a field which was not set by the user, it would not be present in this list."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the label - Only the label id, not the full OnePlatform resource name."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the label"
          }
        },
        "reason": {
          "target": "com.googleworkspace.admin_reports_v1#Reason",
          "traits": {
            "smithy.api#documentation": "The reason why the label was applied on the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of the label applied on the resource."
      }
    },
    "com.googleworkspace.admin_reports_v1#FieldValueList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.admin_reports_v1#FieldValue"
      }
    },
    "com.googleworkspace.admin_reports_v1#Activities": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token for retrieving the follow-on next page of the report. The `nextPageToken` value is used in the request's `pageToken` query string."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of API resource. For an activity report, the value is `reports#activities`."
          }
        },
        "items": {
          "target": "com.googleworkspace.admin_reports_v1#ActivityList",
          "traits": {
            "smithy.api#documentation": "Each activity record in the response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON template for a collection of activities."
      }
    },
    "com.googleworkspace.admin_reports_v1#ActivityList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.admin_reports_v1#Activity"
      }
    },
    "com.googleworkspace.admin_reports_v1#FieldValueUserListValue": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.googleworkspace.admin_reports_v1#FieldValueUserValueList",
          "traits": {
            "smithy.api#documentation": "List of users."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Setting a user list value by selecting multiple users."
      }
    },
    "com.googleworkspace.admin_reports_v1#FieldValueUserValueList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.admin_reports_v1#FieldValueUserValue"
      }
    },
    "com.googleworkspace.admin_reports_v1#OwnerDetails": {
      "type": "structure",
      "members": {
        "ownerType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the owner of the resource."
          }
        },
        "ownerIdentity": {
          "target": "com.googleworkspace.admin_reports_v1#OwnerIdentityList",
          "traits": {
            "smithy.api#documentation": "Identity details of the owner(s) of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of the owner of the resource."
      }
    },
    "com.googleworkspace.admin_reports_v1#OwnerIdentityList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.admin_reports_v1#OwnerIdentity"
      }
    },
    "com.googleworkspace.admin_reports_v1#FieldValue": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the field"
          }
        },
        "longTextValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Setting a long text value."
          }
        },
        "selectionListValue": {
          "target": "com.googleworkspace.admin_reports_v1#FieldValueSelectionListValue",
          "traits": {
            "smithy.api#documentation": "Setting a selection list value by selecting multiple values from a dropdown."
          }
        },
        "dateValue": {
          "target": "com.googleworkspace.admin_reports_v1#Admin_Date",
          "traits": {
            "smithy.api#documentation": "Setting a date value."
          }
        },
        "textValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Setting a text value."
          }
        },
        "reason": {
          "target": "com.googleworkspace.admin_reports_v1#Reason",
          "traits": {
            "smithy.api#documentation": "The reason why the field was applied to the label."
          }
        },
        "userListValue": {
          "target": "com.googleworkspace.admin_reports_v1#FieldValueUserListValue",
          "traits": {
            "smithy.api#documentation": "Setting a user list value by selecting multiple users."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the field"
          }
        },
        "unsetValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the field is unset, this will be true."
          }
        },
        "textListValue": {
          "target": "com.googleworkspace.admin_reports_v1#FieldValueTextListValue",
          "traits": {
            "smithy.api#documentation": "Setting a text list value."
          }
        },
        "integerValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Setting an integer value."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the field"
          }
        },
        "selectionValue": {
          "target": "com.googleworkspace.admin_reports_v1#FieldValueSelectionValue",
          "traits": {
            "smithy.api#documentation": "Setting a selection value by selecting a single value from a dropdown."
          }
        },
        "userValue": {
          "target": "com.googleworkspace.admin_reports_v1#FieldValueUserValue",
          "traits": {
            "smithy.api#documentation": "Setting a user value by selecting a single user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of the field value set by the user for the particular label."
      }
    },
    "com.googleworkspace.admin_reports_v1#NestedParameter": {
      "type": "structure",
      "members": {
        "multiValue": {
          "target": "com.googleworkspace.admin_reports_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Multiple string values of the parameter."
          }
        },
        "multiIntValue": {
          "target": "com.googleworkspace.admin_reports_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Multiple integer values of the parameter."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the parameter."
          }
        },
        "intValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Integer value of the parameter."
          }
        },
        "multiBoolValue": {
          "target": "com.googleworkspace.admin_reports_v1#BooleanList",
          "traits": {
            "smithy.api#documentation": "Multiple boolean values of the parameter."
          }
        },
        "boolValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Boolean value of the parameter."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String value of the parameter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON template for a parameter used in various reports."
      }
    },
    "com.googleworkspace.admin_reports_v1#BooleanList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Boolean"
      }
    },
    "com.googleworkspace.admin_reports_v1#FieldValueSelectionListValue": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.googleworkspace.admin_reports_v1#FieldValueSelectionValueList",
          "traits": {
            "smithy.api#documentation": "List of selections."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Setting a selection list value by selecting multiple values from a dropdown."
      }
    },
    "com.googleworkspace.admin_reports_v1#FieldValueSelectionValueList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.admin_reports_v1#FieldValueSelectionValue"
      }
    },
    "com.googleworkspace.admin_reports_v1#ResourceDetails": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource - document, email, chat message"
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the resource. For instance, in case of a drive document, this would be the title of the document. In case of an email, this would be the subject."
          }
        },
        "appliedLabels": {
          "target": "com.googleworkspace.admin_reports_v1#AppliedLabelList",
          "traits": {
            "smithy.api#documentation": "List of labels applied on the resource"
          }
        },
        "ownerDetails": {
          "target": "com.googleworkspace.admin_reports_v1#OwnerDetails",
          "traits": {
            "smithy.api#documentation": "Owner details of the resource."
          }
        },
        "relation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines relationship of the resource to the events"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the resource, such as a doc_id for a Drive document, a conference_id for a Meet conference, or a \"gaia_id/rfc2822_message_id\" for an email."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of the resource on which the action was performed."
      }
    },
    "com.googleworkspace.admin_reports_v1#AppliedLabelList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.admin_reports_v1#AppliedLabel"
      }
    },
    "com.googleworkspace.admin_reports_v1#GetCustomerUsageReportsRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to specify next page. A report with multiple pages has a `nextPageToken` property in the response. For your follow-on requests getting all of the report's pages, enter the `nextPageToken` value in the `pageToken` query string.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the customer to retrieve data for.",
            "smithy.api#httpQuery": "customerId"
          }
        },
        "parameters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `parameters` query string is a comma-separated list of event parameters that refine a report's results. The parameter is associated with a specific application. The application values for the Customers usage report include `accounts`, `app_maker`, `apps_scripts`, `calendar`, `chat`, `classroom`, `cros`, `docs`, `gmail`, `gplus`, `device_management`, `meet`, and `sites`. A `parameters` query string is in the CSV form of `app_name1:param_name1, app_name2:param_name2`. *Note:* The API doesn't accept multiple values of a parameter. If a particular parameter is supplied more than once in the API request, the API only accepts the last value of that request parameter. In addition, if an invalid request parameter is supplied in the API request, the API ignores that request parameter and returns the response corresponding to the remaining valid request parameters. An example of an invalid request parameter is one that does not belong to the application. If no parameters are requested, all parameters are returned. ",
            "smithy.api#httpQuery": "parameters"
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represents the date the usage occurred, based on UTC-8:00 (Pacific Standard Time). The timestamp is in the [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601), `yyyy-mm-dd`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.googleworkspace.admin_reports_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.googleworkspace.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.googleworkspace.admin_reports_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.googleworkspace.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.googleworkspace.admin_reports_v1#GetCustomerUsageReports": {
      "type": "operation",
      "input": {
        "target": "com.googleworkspace.admin_reports_v1#GetCustomerUsageReportsRequest"
      },
      "output": {
        "target": "com.googleworkspace.admin_reports_v1#UsageReports"
      },
      "errors": [
        {
          "target": "com.googleworkspace.admin_reports_v1#NotFound"
        },
        {
          "target": "com.googleworkspace.admin_reports_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "admin/reports/v1/usage/dates/{date}"
        },
        "smithy.api#documentation": "Retrieves a report which is a collection of properties and statistics for a specific customer's account. For more information, see the Customers Usage Report guide. For more information about the customer report's parameters, see the Customers Usage parameters reference guides. ",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.googleworkspace.admin_reports_v1#StopChannelsRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.googleworkspace.admin_reports_v1#Channel",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.googleworkspace.admin_reports_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.googleworkspace.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.googleworkspace.admin_reports_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.googleworkspace.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.googleworkspace.admin_reports_v1#StopChannels": {
      "type": "operation",
      "input": {
        "target": "com.googleworkspace.admin_reports_v1#StopChannelsRequest"
      },
      "errors": [
        {
          "target": "com.googleworkspace.admin_reports_v1#NotFound"
        },
        {
          "target": "com.googleworkspace.admin_reports_v1#Forbidden"
        },
        {
          "target": "com.googleworkspace.admin_reports_v1#BadRequest"
        },
        {
          "target": "com.googleworkspace.admin_reports_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "admin/reports_v1/channels/stop"
        },
        "smithy.api#documentation": "Stop watching resources through this channel."
      }
    },
    "com.googleworkspace.admin_reports_v1#GetEntityUsageReportsEntityTypeEnum": {
      "type": "enum",
      "members": {
        "GPLUS_COMMUNITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gplus_communities"
          }
        }
      }
    },
    "com.googleworkspace.admin_reports_v1#GetEntityUsageReportsRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Determines how many activity records are shown on each response page. For example, if the request sets `maxResults=1` and the report has two activities, the report has two pages. The response's `nextPageToken` property has the token to the second page.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "entityKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represents the key of the object to filter the data with. It is a string which can take the value `all` to get activity events for all users, or any other value for an app-specific entity. For details on how to obtain the `entityKey` for a particular `entityType`, see the Entities Usage parameters reference guides.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "entityType": {
          "target": "com.googleworkspace.admin_reports_v1#GetEntityUsageReportsEntityTypeEnum",
          "traits": {
            "smithy.api#documentation": "Represents the type of entity for the report.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represents the date the usage occurred, based on UTC-8:00 (Pacific Standard Time). The timestamp is in the [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601), `yyyy-mm-dd`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `filters` query string is a comma-separated list of an application's event parameters where the parameter's value is manipulated by a relational operator. The `filters` query string includes the name of the application whose usage is returned in the report. The application values for the Entities usage report include `accounts`, `docs`, and `gmail`. Filters are in the form `[application name]:parameter name[parameter value],...`. In this example, the `<>` 'not equal to' operator is URL-encoded in the request's query string (%3C%3E): GET https://www.googleapis.com/admin/reports/v1/usage/gplus_communities/all/dates/2017-12-01 ?parameters=gplus:community_name,gplus:num_total_members &filters=gplus:num_total_members%3C%3E0 The relational operators include: - `==` - 'equal to'. - `<>` - 'not equal to'. It is URL-encoded (%3C%3E). - `<` - 'less than'. It is URL-encoded (%3C). - `<=` - 'less than or equal to'. It is URL-encoded (%3C=). - `>` - 'greater than'. It is URL-encoded (%3E). - `>=` - 'greater than or equal to'. It is URL-encoded (%3E=). Filters can only be applied to numeric parameters.",
            "smithy.api#httpQuery": "filters"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to specify next page. A report with multiple pages has a `nextPageToken` property in the response. In your follow-on request getting the next page of the report, enter the `nextPageToken` value in the `pageToken` query string.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the customer to retrieve data for.",
            "smithy.api#httpQuery": "customerId"
          }
        },
        "parameters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `parameters` query string is a comma-separated list of event parameters that refine a report's results. The parameter is associated with a specific application. The application values for the Entities usage report are only `gplus`. A `parameter` query string is in the CSV form of `[app_name1:param_name1], [app_name2:param_name2]...`. *Note:* The API doesn't accept multiple values of a parameter. If a particular parameter is supplied more than once in the API request, the API only accepts the last value of that request parameter. In addition, if an invalid request parameter is supplied in the API request, the API ignores that request parameter and returns the response corresponding to the remaining valid request parameters. An example of an invalid request parameter is one that does not belong to the application. If no parameters are requested, all parameters are returned. ",
            "smithy.api#httpQuery": "parameters"
          }
        }
      }
    },
    "com.googleworkspace.admin_reports_v1#GetEntityUsageReports": {
      "type": "operation",
      "input": {
        "target": "com.googleworkspace.admin_reports_v1#GetEntityUsageReportsRequest"
      },
      "output": {
        "target": "com.googleworkspace.admin_reports_v1#UsageReports"
      },
      "errors": [
        {
          "target": "com.googleworkspace.admin_reports_v1#NotFound"
        },
        {
          "target": "com.googleworkspace.admin_reports_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "admin/reports/v1/usage/{entityType}/{entityKey}/dates/{date}"
        },
        "smithy.api#documentation": "Retrieves a report which is a collection of properties and statistics for entities used by users within the account. For more information, see the Entities Usage Report guide. For more information about the entities report's parameters, see the Entities Usage parameters reference guides.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.googleworkspace.admin_reports_v1#WatchActivitiesApplicationNameEnum": {
      "type": "enum",
      "members": {
        "ACCESS_TRANSPARENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_transparency"
          }
        },
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "CALENDAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "calendar"
          }
        },
        "CHAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "chat"
          }
        },
        "DRIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "drive"
          }
        },
        "GCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gcp"
          }
        },
        "GPLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gplus"
          }
        },
        "GROUPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "groups"
          }
        },
        "GROUPS_ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "groups_enterprise"
          }
        },
        "JAMBOARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jamboard"
          }
        },
        "LOGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "login"
          }
        },
        "MEET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "meet"
          }
        },
        "MOBILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mobile"
          }
        },
        "RULES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rules"
          }
        },
        "SAML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "saml"
          }
        },
        "TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "token"
          }
        },
        "USER_ACCOUNTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user_accounts"
          }
        },
        "CONTEXT_AWARE_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "context_aware_access"
          }
        },
        "CHROME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "chrome"
          }
        },
        "DATA_STUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data_studio"
          }
        },
        "KEEP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "keep"
          }
        },
        "CLASSROOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "classroom"
          }
        }
      }
    },
    "com.googleworkspace.admin_reports_v1#WatchActivitiesRequest": {
      "type": "structure",
      "members": {
        "orgUnitID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`Deprecated`. This field is deprecated and is no longer supported. ID of the organizational unit to report on. Activity records will be shown only for users who belong to the specified organizational unit. Data before Dec 17, 2018 doesn't appear in the filtered results.",
            "smithy.api#httpQuery": "orgUnitID"
          }
        },
        "eventName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the event being queried by the API. Each `eventName` is related to a specific Google Workspace service or feature which the API organizes into types of events. An example is the Google Calendar events in the Admin console application's reports. The Calendar Settings `type` structure has all of the Calendar `eventName` activities reported by the API. When an administrator changes a Calendar setting, the API reports this activity in the Calendar Settings `type` and `eventName` parameters. For more information about `eventName` query strings and parameters, see the list of event names for various applications above in `applicationName`.",
            "smithy.api#httpQuery": "eventName"
          }
        },
        "userKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represents the profile ID or the user email for which the data should be filtered. Can be `all` for all information, or `userKey` for a user's unique Google Workspace profile ID or their primary email address. Must not be a deleted user. For a deleted user, call `users.list` in Directory API with `showDeleted=true`, then use the returned `ID` as the `userKey`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets the end of the range of time shown in the report. The date is in the RFC 3339 format, for example 2010-10-28T10:26:35.000Z. The default value is the approximate time of the API request. An API report has three basic time concepts: - *Date of the API's request for a report*: When the API created and retrieved the report. - *Report's start time*: The beginning of the timespan shown in the report. The `startTime` must be before the `endTime` (if specified) and the current time when the request is made, or the API returns an error. - *Report's end time*: The end of the timespan shown in the report. For example, the timespan of events summarized in a report can start in April and end in May. The report itself can be requested in August. If the `endTime` is not specified, the report returns all activities from the `startTime` until the current time or the most recent 180 days if the `startTime` is more than 180 days in the past.",
            "smithy.api#httpQuery": "endTime"
          }
        },
        "groupIdFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`Deprecated`. This field is deprecated and is no longer supported. Comma separated group ids (obfuscated) on which user activities are filtered, i.e. the response will contain activities for only those users that are a part of at least one of the group ids mentioned here. Format: \"id:abc123,id:xyz456\" *Important:* To filter by groups, you must explicitly add the groups to your filtering groups allowlist. For more information about adding groups to filtering groups allowlist, see [Filter results by Google Group](https://support.google.com/a/answer/11482175)",
            "smithy.api#httpQuery": "groupIdFilter"
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets the beginning of the range of time shown in the report. The date is in the RFC 3339 format, for example 2010-10-28T10:26:35.000Z. The report returns all activities from `startTime` until `endTime`. The `startTime` must be before the `endTime` (if specified) and the current time when the request is made, or the API returns an error.",
            "smithy.api#httpQuery": "startTime"
          }
        },
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the customer to retrieve data for.",
            "smithy.api#httpQuery": "customerId"
          }
        },
        "actorIpAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Internet Protocol (IP) Address of host where the event was performed. This is an additional way to filter a report's summary using the IP address of the user whose activity is being reported. This IP address may or may not reflect the user's physical location. For example, the IP address can be the user's proxy server's address or a virtual private network (VPN) address. This parameter supports both IPv4 and IPv6 address versions.",
            "smithy.api#httpQuery": "actorIpAddress"
          }
        },
        "filters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `filters` query string is a comma-separated list composed of event parameters manipulated by relational operators. Event parameters are in the form `{parameter1 name}{relational operator}{parameter1 value},{parameter2 name}{relational operator}{parameter2 value},...` These event parameters are associated with a specific `eventName`. An empty report is returned if the request's parameter doesn't belong to the `eventName`. For more information about the available `eventName` fields for each application and their associated parameters, go to the [ApplicationName](#applicationname) table, then click through to the Activity Events page in the Appendix for the application you want. In the following Drive activity examples, the returned list consists of all `edit` events where the `doc_id` parameter value matches the conditions defined by the relational operator. In the first example, the request returns all edited documents with a `doc_id` value equal to `12345`. In the second example, the report returns any edited documents where the `doc_id` value is not equal to `98765`. The `<>` operator is URL-encoded in the request's query string (`%3C%3E`): ``` GET...&eventName=edit&filters=doc_id==12345 GET...&eventName=edit&filters=doc_id%3C%3E98765 ``` A `filters` query supports these relational operators: * `==`—'equal to'. * `<>`—'not equal to'. Must be URL-encoded (%3C%3E). * `<`—'less than'. Must be URL-encoded (%3C). * `<=`—'less than or equal to'. Must be URL-encoded (%3C=). * `>`—'greater than'. Must be URL-encoded (%3E). * `>=`—'greater than or equal to'. Must be URL-encoded (%3E=). **Note:** The API doesn't accept multiple values of the same parameter. If a parameter is supplied more than once in the API request, the API only accepts the last value of that parameter. In addition, if an invalid parameter is supplied in the API request, the API ignores that parameter and returns the response corresponding to the remaining valid parameters. If no parameters are requested, all parameters are returned.",
            "smithy.api#httpQuery": "filters"
          }
        },
        "applicationName": {
          "target": "com.googleworkspace.admin_reports_v1#WatchActivitiesApplicationNameEnum",
          "traits": {
            "smithy.api#documentation": "Application name for which the events are to be retrieved.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Determines how many activity records are shown on each response page. For example, if the request sets `maxResults=1` and the report has two activities, the report has two pages. The response's `nextPageToken` property has the token to the second page. The `maxResults` query string is optional in the request. The default value is 1000.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token to specify next page. A report with multiple pages has a `nextPageToken` property in the response. In your follow-on request getting the next page of the report, enter the `nextPageToken` value in the `pageToken` query string.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "body": {
          "target": "com.googleworkspace.admin_reports_v1#Channel",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.googleworkspace.admin_reports_v1#WatchActivities": {
      "type": "operation",
      "input": {
        "target": "com.googleworkspace.admin_reports_v1#WatchActivitiesRequest"
      },
      "output": {
        "target": "com.googleworkspace.admin_reports_v1#Channel"
      },
      "errors": [
        {
          "target": "com.googleworkspace.admin_reports_v1#NotFound"
        },
        {
          "target": "com.googleworkspace.admin_reports_v1#Forbidden"
        },
        {
          "target": "com.googleworkspace.admin_reports_v1#BadRequest"
        },
        {
          "target": "com.googleworkspace.admin_reports_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "admin/reports/v1/activity/users/{userKey}/applications/{applicationName}/watch"
        },
        "smithy.api#documentation": "Start receiving notifications for account activities. For more information, see Receiving Push Notifications."
      }
    },
    "com.googleworkspace.admin_reports_v1#ListActivitiesApplicationNameEnum": {
      "type": "enum",
      "members": {
        "ACCESS_TRANSPARENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_transparency"
          }
        },
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "CALENDAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "calendar"
          }
        },
        "CHAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "chat"
          }
        },
        "DRIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "drive"
          }
        },
        "GCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gcp"
          }
        },
        "GMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gmail"
          }
        },
        "GPLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gplus"
          }
        },
        "GROUPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "groups"
          }
        },
        "GROUPS_ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "groups_enterprise"
          }
        },
        "JAMBOARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jamboard"
          }
        },
        "LOGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "login"
          }
        },
        "MEET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "meet"
          }
        },
        "MOBILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mobile"
          }
        },
        "RULES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rules"
          }
        },
        "SAML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "saml"
          }
        },
        "TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "token"
          }
        },
        "USER_ACCOUNTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user_accounts"
          }
        },
        "CONTEXT_AWARE_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "context_aware_access"
          }
        },
        "CHROME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "chrome"
          }
        },
        "DATA_STUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data_studio"
          }
        },
        "KEEP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "keep"
          }
        },
        "VAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vault"
          }
        },
        "GEMINI_IN_WORKSPACE_APPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gemini_in_workspace_apps"
          }
        },
        "CLASSROOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "classroom"
          }
        },
        "ASSIGNMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "assignments"
          }
        },
        "CLOUD_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloud_search"
          }
        },
        "TASKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tasks"
          }
        },
        "DATA_MIGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data_migration"
          }
        },
        "MEET_HARDWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "meet_hardware"
          }
        },
        "DIRECTORY_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "directory_sync"
          }
        },
        "LDAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ldap"
          }
        },
        "PROFILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "profile"
          }
        },
        "ACCESS_EVALUATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_evaluation"
          }
        },
        "ADMIN_DATA_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin_data_action"
          }
        },
        "CONTACTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contacts"
          }
        },
        "TAKEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "takeout"
          }
        },
        "GRADUATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "graduation"
          }
        },
        "VOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "voice"
          }
        },
        "CHROME_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "chrome_sync"
          }
        },
        "WORKSPACE_STUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "workspace_studio"
          }
        }
      }
    },
    "com.googleworkspace.admin_reports_v1#ListActivitiesRequest": {
      "type": "structure",
      "members": {
        "groupIdFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma separated group ids (obfuscated) on which user activities are filtered, i.e. the response will contain activities for only those users that are a part of at least one of the group ids mentioned here. Format: \"id:abc123,id:xyz456\" *Important:* To filter by groups, you must explicitly add the groups to your filtering groups allowlist. For more information about adding groups to filtering groups allowlist, see [Filter results by Google Group](https://support.google.com/a/answer/11482175)",
            "smithy.api#httpQuery": "groupIdFilter"
          }
        },
        "statusFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Used to filter on the `statusCode` field present in [`Status`](#status) message. **Usage** ``` GET...&statusFilter=statusCode=\"200\" GET...&statusFilter=statusCode=%22200%22 ```",
            "smithy.api#httpQuery": "statusFilter"
          }
        },
        "applicationInfoFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Used to filter on the `oAuthClientId` field present in [`ApplicationInfo`](#applicationinfo) message. **Usage** ``` GET...&applicationInfoFilter=oAuthClientId=\"clientId\" GET...&applicationInfoFilter=oAuthClientId=%22clientId%22 ```",
            "smithy.api#httpQuery": "applicationInfoFilter"
          }
        },
        "orgUnitID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the organizational unit to report on. Activity records will be shown only for users who belong to the specified organizational unit. Data before Dec 17, 2018 doesn't appear in the filtered results.",
            "smithy.api#httpQuery": "orgUnitID"
          }
        },
        "deviceFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Used to filter on the fields present in [`UserDeviceInfo`](#userdeviceinfo) message like `deviceId`, `deviceType`, and `deviceOsVersion`. **Usage** ``` GET...&deviceFilter=deviceId=\"123\" GET...&deviceFilter=deviceType=\"ANDROID\" GET...&deviceFilter=deviceOsVersion=\"14.0\" ```",
            "smithy.api#httpQuery": "deviceFilter"
          }
        },
        "applicationName": {
          "target": "com.googleworkspace.admin_reports_v1#ListActivitiesApplicationNameEnum",
          "traits": {
            "smithy.api#documentation": "Application name for which the events are to be retrieved.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "agentInfoFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filters on agent info fields in the activity. This filter gets applied in conjunction(AND) with other filters. Example: \"agentInfoFilter=agentId=\\\"agent-id\\\" AND agentName=\\\"agent-name\\\" AND agentOwnerEmail=\\\"agent-owner-email\\\"\"",
            "smithy.api#httpQuery": "agentInfoFilter"
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets the end of the range of time shown in the report. The date is in the RFC 3339 format, for example 2010-10-28T10:26:35.000Z. The default value is the approximate time of the API request. An API report has three basic time concepts: - *Date of the API's request for a report*: When the API created and retrieved the report. - *Report's start time*: The beginning of the timespan shown in the report. The `startTime` must be before the `endTime` (if specified) and the current time when the request is made, or the API returns an error. - *Report's end time*: The end of the timespan shown in the report. For example, the timespan of events summarized in a report can start in April and end in May. The report itself can be requested in August. If the `endTime` is not specified, the report returns all activities from the `startTime` until the current time or the most recent 180 days if the `startTime` is more than 180 days in the past. For Gmail requests, `startTime` and `endTime` must be provided and the difference must not be greater than 30 days.",
            "smithy.api#httpQuery": "endTime"
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Determines how many activity records are shown on each response page. For example, if the request sets `maxResults=1` and the report has two activities, the report has two pages. The response's `nextPageToken` property has the token to the second page. The `maxResults` query string is optional in the request. The default value is 1000.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "networkInfoFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Used to filter on the `regionCode` field present in [`NetworkInfo`](#networkinfo) message. **Usage** ``` GET...&networkInfoFilter=regionCode=\"IN\" GET...&networkInfoFilter=regionCode=%22IN%22 ```",
            "smithy.api#httpQuery": "networkInfoFilter"
          }
        },
        "eventName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the event being queried by the API. Each `eventName` is related to a specific Google Workspace service or feature which the API organizes into types of events. An example is the Google Calendar events in the Admin console application's reports. The Calendar Settings `type` structure has all of the Calendar `eventName` activities reported by the API. When an administrator changes a Calendar setting, the API reports this activity in the Calendar Settings `type` and `eventName` parameters. For more information about `eventName` query strings and parameters, see the list of event names for various applications above in `applicationName`.",
            "smithy.api#httpQuery": "eventName"
          }
        },
        "userKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represents the profile ID or the user email for which the data should be filtered. Can be `all` for all information, or `userKey` for a user's unique Google Workspace profile ID or their primary email address. Must not be a deleted user. For a deleted user, call `users.list` in Directory API with `showDeleted=true`, then use the returned `ID` as the `userKey`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "resourceDetailsFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The `resourceDetailsFilter` query string is an AND separated list composed of [Resource Details](#resourcedetails) fields manipulated by relational operators. Resource Details Filters are in the form `{resourceDetails.field1}{relational operator}{field1 value} AND {resourceDetails.field2}{relational operator}{field2 value}...` All the inner fields are traversed using the `.` operator, as shown in the following example: ``` resourceDetails.id = \"resourceId\" AND resourceDetails.appliedLabels.id = \"appliedLabelId\" AND resourceDetails.appliedLabels.fieldValue.id = \"fieldValueId\" ``` `resourceDetailsFilter` query supports these relational operators: * `=`—'equal to'. * `!=`—'not equal to'. * `:`—'exists'. This is used for filtering on repeated fields. [`FieldValue`](#fieldvalue) types that are repeated in nature uses `exists` operator for filtering. The following [`FieldValue`](#fieldvalue) types are repeated: * [`TextListValue`](#textlistvalue) * [`SelectionListValue`](#selectionlistvalue) * [`UserListValue`](#userlistvalue) For example, in the following filter, [`SelectionListValue`](#selectionlistvalue), is a repeated field. The filter checks whether [`SelectionListValue`](#selectionlistvalue) contains `selection_id`: ``` resourceDetails.id = \"resourceId\" AND resourceDetails.appliedLabels.id = \"appliedLabelId\" AND resourceDetails.appliedLabels.fieldValue.id = \"fieldValueId\" AND resourceDetails.appliedLabels.fieldValue.type = \"SELECTION_LIST_VALUE\" AND resourceDetails.appliedLabels.fieldValue.selectionListValue.id: \"id\" ``` **Usage** ``` GET...&resourceDetailsFilter=resourceDetails.id = \"resourceId\" AND resourceDetails.appliedLabels.id = \"appliedLabelId\" GET...&resourceDetailsFilter=resourceDetails.id=%22resourceId%22%20AND%20resourceDetails.appliedLabels.id=%22appliedLabelId%22 ``` **Note the following**: * You must URL encode the query string before sending the request. * The API supports a maximum of 5 fields separated by the AND operator. - When filtering on deeper levels (e.g., [`AppliedLabel`](#appliedlabel), [`FieldValue`](#fieldvalue)), the IDs of all preceding levels in the hierarchy must be included in the filter. For example: Filtering on [`FieldValue`](#fieldvalue) requires [`AppliedLabel`](#appliedlabel) ID and resourceDetails ID to be present. *Sample Query*: ``` resourceDetails.id = \"resourceId\" AND resourceDetails.appliedLabels.id = \"appliedLabelId\" AND resourceDetails.appliedLabels.fieldValue.id = \"fieldValueId\" ``` * Filtering on inner [`FieldValue`](#fieldvalue) types like `longTextValue` and `textValue` requires `resourceDetails.appliedLabels.fieldValue.type` to be present. * Only Filtering on a single [`AppliedLabel`](#appliedlabel) id and [`FieldValue`](#fieldvalue) id is supported.",
            "smithy.api#httpQuery": "resourceDetailsFilter"
          }
        },
        "includeSensitiveData": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When set to `true`, this field allows sensitive user-generated content to be included in the returned audit logs. This parameter is supported only for Rules (DLP), Chat and Workspace Studio applications; using it with any other application will result in a permission error.",
            "smithy.api#httpQuery": "includeSensitiveData"
          }
        },
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the customer to retrieve data for.",
            "smithy.api#httpQuery": "customerId"
          }
        },
        "actorIpAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Internet Protocol (IP) Address of host where the event was performed. This is an additional way to filter a report's summary using the IP address of the user whose activity is being reported. This IP address may or may not reflect the user's physical location. For example, the IP address can be the user's proxy server's address or a virtual private network (VPN) address. This parameter supports both IPv4 and IPv6 address versions.",
            "smithy.api#httpQuery": "actorIpAddress"
          }
        },
        "filters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `filters` query string is a comma-separated list composed of event parameters manipulated by relational operators. Event parameters are in the form `{parameter1 name}{relational operator}{parameter1 value},{parameter2 name}{relational operator}{parameter2 value},...` These event parameters are associated with a specific `eventName`. An empty report is returned if the request's parameter doesn't belong to the `eventName`. For more information about the available `eventName` fields for each application and their associated parameters, go to the [ApplicationName](#applicationname) table, then click through to the Activity Events page in the Appendix for the application you want. In the following Drive activity examples, the returned list consists of all `edit` events where the `doc_id` parameter value matches the conditions defined by the relational operator. In the first example, the request returns all edited documents with a `doc_id` value equal to `12345`. In the second example, the report returns any edited documents where the `doc_id` value is not equal to `98765`. The `<>` operator is URL-encoded in the request's query string (`%3C%3E`): ``` GET...&eventName=edit&filters=doc_id==12345 GET...&eventName=edit&filters=doc_id%3C%3E98765 ``` A `filters` query supports these relational operators: * `==`—'equal to'. * `<>`—'not equal to'. Must be URL-encoded (%3C%3E). * `<`—'less than'. Must be URL-encoded (%3C). * `<=`—'less than or equal to'. Must be URL-encoded (%3C=). * `>`—'greater than'. Must be URL-encoded (%3E). * `>=`—'greater than or equal to'. Must be URL-encoded (%3E=). **Note:** The API doesn't accept multiple values of the same parameter. If a parameter is supplied more than once in the API request, the API only accepts the last value of that parameter. In addition, if an invalid parameter is supplied in the API request, the API ignores that parameter and returns the response corresponding to the remaining valid parameters. If no parameters are requested, all parameters are returned.",
            "smithy.api#httpQuery": "filters"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token to specify next page. A report with multiple pages has a `nextPageToken` property in the response. In your follow-on request getting the next page of the report, enter the `nextPageToken` value in the `pageToken` query string.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets the beginning of the range of time shown in the report. The date is in the RFC 3339 format, for example 2010-10-28T10:26:35.000Z. The report returns all activities from `startTime` until `endTime`. The `startTime` must be before the `endTime` (if specified) and the current time when the request is made, or the API returns an error. For Gmail requests, `startTime` and `endTime` must be provided and the difference must not be greater than 30 days.",
            "smithy.api#httpQuery": "startTime"
          }
        }
      }
    },
    "com.googleworkspace.admin_reports_v1#ListActivities": {
      "type": "operation",
      "input": {
        "target": "com.googleworkspace.admin_reports_v1#ListActivitiesRequest"
      },
      "output": {
        "target": "com.googleworkspace.admin_reports_v1#Activities"
      },
      "errors": [
        {
          "target": "com.googleworkspace.admin_reports_v1#NotFound"
        },
        {
          "target": "com.googleworkspace.admin_reports_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "admin/reports/v1/activity/users/{userKey}/applications/{applicationName}"
        },
        "smithy.api#documentation": "Retrieves a list of activities for a specific customer's account and application such as the Admin console application or the Google Drive application. For more information, see the guides for administrator and Google Drive activity reports. For more information about the activity report's parameters, see the activity parameters reference guides. ",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken",
          "items": "items"
        }
      }
    },
[...]
