{
  "smithy": "2.0",
  "metadata": {
    "service": "calendar",
    "version": "v3",
    "title": "Calendar API",
    "baseUrl": "https://www.googleapis.com/calendar/v3/"
  },
  "shapes": {
    "com.googleworkspace.calendar_v3#AclRule": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the Access Control List (ACL) rule. See Sharing calendars."
          }
        },
        "scope": {
          "target": "com.googleworkspace.calendar_v3#AclRuleScope",
          "traits": {
            "smithy.api#documentation": "The extent to which calendar access is granted by this ACL rule."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The role assigned to the scope. Possible values are:  \n- \"none\" - Provides no access. \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writerWithoutPrivateAccess\" - Provides read and write access to the calendar. Private events will appear to users with writerWithoutPrivateAccess access, but event details will be hidden. \n- \"writer\" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. Provides read access to the calendar's ACLs. \n- \"owner\" - Provides manager access to the calendar. This role has all of the permissions of the writer role with the additional ability to modify access levels of other users.\nImportant: the owner role is different from the calendar's data owner. A calendar has a single data owner, but can have multiple users with owner role."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource (\"calendar#aclRule\")."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#AclRuleScope": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the scope. Possible values are:  \n- \"default\" - The public scope. This is the default value. \n- \"user\" - Limits the scope to a single user. \n- \"group\" - Limits the scope to a group. \n- \"domain\" - Limits the scope to a domain.  Note: The permissions granted to the \"default\", or public, scope apply to any user, authenticated or not."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of a user or group, or the name of a domain, depending on the scope type. Omitted for type \"default\"."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#EventOutOfOfficeProperties": {
      "type": "structure",
      "members": {
        "declineMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Response message to set if an existing event or new invitation is automatically declined by Calendar."
          }
        },
        "autoDeclineMode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Whether to decline meeting invitations which overlap Out of office events. Valid values are declineNone, meaning that no meeting invitations are declined; declineAllConflictingInvitations, meaning that all conflicting meeting invitations that conflict with the event are declined; and declineOnlyNewConflictingInvitations, meaning that only new conflicting meeting invitations which arrive while the Out of office event is present are to be declined."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#Events": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.googleworkspace.calendar_v3#EventList",
          "traits": {
            "smithy.api#documentation": "List of events on the calendar."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the collection (\"calendar#events\")."
          }
        },
        "nextSyncToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the calendar. Read-only."
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last modification time of the calendar (as a RFC3339 timestamp). Read-only."
          }
        },
        "accessRole": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's access role for this calendar. Read-only. Possible values are:  \n- \"none\" - The user has no access. \n- \"freeBusyReader\" - The user has read access to free/busy information. \n- \"reader\" - The user has read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writerWithoutPrivateAccess\" - The user has read and write access to the calendar. Private events will appear to users with writerWithoutPrivateAccess access, but event details will be hidden. \n- \"writer\" - The user has read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - The user has manager access to the calendar. This role has all of the permissions of the writer role with the additional ability to see and modify access levels of other users.\nImportant: the owner role is different from the calendar's data owner. A calendar has a single data owner, but can have multiple users with owner role."
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time zone of the calendar. Read-only."
          }
        },
        "defaultReminders": {
          "target": "com.googleworkspace.calendar_v3#EventReminderList",
          "traits": {
            "smithy.api#documentation": "The default reminders on the calendar for the authenticated user. These reminders apply to all events on this calendar that do not explicitly override them (i.e. do not have reminders.useDefault set to True)."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the collection."
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the calendar. Read-only."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#EventList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.calendar_v3#Event"
      }
    },
    "com.googleworkspace.calendar_v3#EventReminderList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.calendar_v3#EventReminder"
      }
    },
    "com.googleworkspace.calendar_v3#Channel": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies this as a notification channel used to watch for changes to a resource, which is \"api#channel\"."
          }
        },
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The address where notifications are delivered for this channel."
          }
        },
        "payload": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A Boolean value to indicate whether payload is wanted. Optional."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of delivery mechanism used for this channel. Valid values are \"web_hook\" (or \"webhook\"). Both values refer to a channel where Http requests are used to deliver messages."
          }
        },
        "params": {
          "target": "com.googleworkspace.calendar_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "Additional parameters controlling delivery channel behavior. Optional."
          }
        },
        "resourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A version-specific identifier for the watched resource."
          }
        },
        "expiration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional."
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A UUID or similar unique string that identifies this channel."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.googleworkspace.calendar_v3#EventBirthdayProperties": {
      "type": "structure",
      "members": {
        "customTypeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom type label specified for this event. This is populated if birthdayProperties.type is set to \"custom\". Read-only."
          }
        },
        "contact": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of the contact this birthday event is linked to. This can be used to fetch contact details from People API. Format: \"people/c12345\". Read-only."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of birthday or special event. Possible values are:  \n- \"anniversary\" - An anniversary other than birthday. Always has a contact. \n- \"birthday\" - A birthday event. This is the default value. \n- \"custom\" - A special date whose label is further specified in the customTypeName field. Always has a contact. \n- \"other\" - A special date which does not fall into the other categories, and does not have a custom label. Always has a contact. \n- \"self\" - Calendar owner's own birthday. Cannot have a contact.  The Calendar API only supports creating events with the type \"birthday\". The type cannot be changed after the event is created."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#EventDateTime": {
      "type": "structure",
      "members": {
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date, in the format \"yyyy-mm-dd\", if this is an all-day event."
          }
        },
        "dateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time, as a combined date-time value (formatted according to RFC3339). A time zone offset is required unless a time zone is explicitly specified in timeZone."
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time zone in which the time is specified. (Formatted as an IANA Time Zone Database name, e.g. \"Europe/Zurich\".) For recurring events this field is required and specifies the time zone in which the recurrence is expanded. For single events this field is optional and indicates a custom time zone for the event start/end."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#EventLabel": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the label. Optional when inserting a new label. If not provided, a unique ID will be generated. Required when updating a label.\nIf provided, the ID must be unique within the calendar and follow UUID format."
          }
        },
        "backgroundColor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Background color of the label in hexadecimal format, such as \"#039be5\". Events with this label are displayed in this color. Required."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the label. Optional.\nIf provided this must have at most 50 characters."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#FreeBusyCalendar": {
      "type": "structure",
      "members": {
        "busy": {
          "target": "com.googleworkspace.calendar_v3#TimePeriodList",
          "traits": {
            "smithy.api#documentation": "List of time ranges during which this calendar should be regarded as busy."
          }
        },
        "errors": {
          "target": "com.googleworkspace.calendar_v3#Calendar_ErrorList",
          "traits": {
            "smithy.api#documentation": "Optional error(s) (if computation for the calendar failed)."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#TimePeriodList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.calendar_v3#TimePeriod"
      }
    },
    "com.googleworkspace.calendar_v3#Calendar_ErrorList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.calendar_v3#Calendar_Error"
      }
    },
    "com.googleworkspace.calendar_v3#ColorDefinition": {
      "type": "structure",
      "members": {
        "background": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The background color associated with this color definition."
          }
        },
        "foreground": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The foreground color that can be used to write on top of a background with 'background' color."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#ConferenceSolution": {
      "type": "structure",
      "members": {
        "iconUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user-visible icon for this solution."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user-visible name of this solution. Not localized."
          }
        },
        "key": {
          "target": "com.googleworkspace.calendar_v3#ConferenceSolutionKey",
          "traits": {
            "smithy.api#documentation": "The key which can uniquely identify the conference solution for this event."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#Calendar_Error": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain, or broad category, of the error."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specific reason for the error. Some of the possible values are:  \n- \"groupTooBig\" - The group of users requested is too large for a single query. \n- \"tooManyCalendarsRequested\" - The number of calendars requested is too large for a single query. \n- \"notFound\" - The requested resource was not found. \n- \"internalError\" - The API service has encountered an internal error.  Additional error types may be added in the future, so clients should gracefully handle additional error statuses not included in this list."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#FreeBusyRequest": {
      "type": "structure",
      "members": {
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time zone used in the response. Optional. The default is UTC."
          }
        },
        "calendarExpansionMax": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximal number of calendars for which FreeBusy information is to be provided. Optional. Maximum value is 50."
          }
        },
        "groupExpansionMax": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximal number of calendar identifiers to be provided for a single group. Optional. An error is returned for a group with more members than this value. Maximum value is 100."
          }
        },
        "timeMax": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end of the interval for the query formatted as per RFC3339."
          }
        },
        "timeMin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start of the interval for the query formatted as per RFC3339."
          }
        },
        "items": {
          "target": "com.googleworkspace.calendar_v3#FreeBusyRequestItemList",
          "traits": {
            "smithy.api#documentation": "List of calendars and/or groups to query."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#FreeBusyRequestItemList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.calendar_v3#FreeBusyRequestItem"
      }
    },
    "com.googleworkspace.calendar_v3#ConferenceRequestStatus": {
      "type": "structure",
      "members": {
        "statusCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current status of the conference create request. Read-only.\nThe possible values are:  \n- \"pending\": the conference create request is still being processed.\n- \"success\": the conference create request succeeded, the entry points are populated.\n- \"failure\": the conference create request failed, there are no entry points."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#EventWorkingLocationProperties": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the working location. Possible values are:  \n- \"homeOffice\" - The user is working at home. \n- \"officeLocation\" - The user is working from an office. \n- \"customLocation\" - The user is working from a custom location.  Any details are specified in a sub-field of the specified name, but this field may be missing if empty. Any other fields are ignored.\nRequired when adding working location properties."
          }
        },
        "officeLocation": {
          "target": "com.googleworkspace.calendar_v3#EventWorkingLocationPropertiesOfficeLocation",
          "traits": {
            "smithy.api#documentation": "If present, specifies that the user is working from an office."
          }
        },
        "homeOffice": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "If present, specifies that the user is working at home."
          }
        },
        "customLocation": {
          "target": "com.googleworkspace.calendar_v3#EventWorkingLocationPropertiesCustomLocation",
          "traits": {
            "smithy.api#documentation": "If present, specifies that the user is working from a custom location."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#EventWorkingLocationPropertiesOfficeLocation": {
      "type": "structure",
      "members": {
        "buildingId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional building identifier. This should reference a building ID in the organization's Resources database."
          }
        },
        "floorSectionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional floor section identifier."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The office name that's displayed in Calendar Web and Mobile clients. We recommend you reference a building name in the organization's Resources database."
          }
        },
        "floorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional floor identifier."
          }
        },
        "deskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional desk identifier."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#EventWorkingLocationPropertiesCustomLocation": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional extra label for additional information."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#Settings": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.googleworkspace.calendar_v3#SettingList",
          "traits": {
            "smithy.api#documentation": "List of user settings."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of the collection."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the collection (\"calendar#settings\")."
          }
        },
        "nextSyncToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#SettingList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.calendar_v3#Setting"
      }
    },
    "com.googleworkspace.calendar_v3#FreeBusyRequestItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of a calendar or a group."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#Colors": {
      "type": "structure",
      "members": {
        "event": {
          "target": "com.googleworkspace.calendar_v3#ColorDefinitionMap",
          "traits": {
            "smithy.api#documentation": "A global palette of event colors, mapping from the color ID to its definition. An event resource may refer to one of these color IDs in its colorId field. Read-only."
          }
        },
        "calendar": {
          "target": "com.googleworkspace.calendar_v3#ColorDefinitionMap",
          "traits": {
            "smithy.api#documentation": "A global palette of calendar colors, mapping from the color ID to its definition. A calendarListEntry resource refers to one of these color IDs in its colorId field. Read-only."
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last modification time of the color palette (as a RFC3339 timestamp). Read-only."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource (\"calendar#colors\")."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#ColorDefinitionMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.googleworkspace.calendar_v3#ColorDefinition"
      }
    },
    "com.googleworkspace.calendar_v3#CalendarNotification": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of notification. Possible values are:  \n- \"eventCreation\" - Notification sent when a new event is put on the calendar. \n- \"eventChange\" - Notification sent when an event is changed. \n- \"eventCancellation\" - Notification sent when an event is cancelled. \n- \"eventResponse\" - Notification sent when an attendee responds to the event invitation. \n- \"agenda\" - An agenda with the events of the day (sent out in the morning).  \nRequired when adding a notification."
          }
        },
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The method used to deliver the notification. The possible value is:  \n- \"email\" - Notifications are sent via email.  \nRequired when adding a notification."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#ConferenceSolutionKey": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The conference solution type.\nIf a client encounters an unfamiliar or empty type, it should still be able to display the entry points. However, it should disallow modifications.\nThe possible values are:  \n- \"eventHangout\" for Hangouts for consumers (deprecated; existing events may show this conference solution type but new conferences cannot be created)\n- \"eventNamedHangout\" for classic Hangouts for Google Workspace users (deprecated; existing events may show this conference solution type but new conferences cannot be created)\n- \"hangoutsMeet\" for Google Meet (http://meet.google.com)\n- \"addOn\" for 3P conference providers"
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#FreeBusyGroup": {
      "type": "structure",
      "members": {
        "calendars": {
          "target": "com.googleworkspace.calendar_v3#StringList",
          "traits": {
            "smithy.api#documentation": "List of calendars' identifiers within a group."
          }
        },
        "errors": {
          "target": "com.googleworkspace.calendar_v3#Calendar_ErrorList",
          "traits": {
            "smithy.api#documentation": "Optional error(s) (if computation for the group failed)."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.googleworkspace.calendar_v3#ConferenceParameters": {
      "type": "structure",
      "members": {
        "addOnParameters": {
          "target": "com.googleworkspace.calendar_v3#ConferenceParametersAddOnParameters",
          "traits": {
            "smithy.api#documentation": "Additional add-on specific data."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#CalendarListEntry": {
      "type": "structure",
      "members": {
        "selected": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the calendar content shows up in the calendar UI. Optional. The default is False."
          }
        },
        "defaultReminders": {
          "target": "com.googleworkspace.calendar_v3#EventReminderList",
          "traits": {
            "smithy.api#documentation": "The default reminders that the authenticated user has for this calendar."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Geographic location of the calendar as free-form text. Optional. Read-only."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the calendar. Optional. Read-only."
          }
        },
        "backgroundColor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The main color of the calendar in the hexadecimal format \"#0088aa\". This property supersedes the index-based colorId property. To set or change this property, you need to specify colorRgbFormat=true in the parameters of the insert, update and patch methods. Optional."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the calendar."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this calendar list entry has been deleted from the calendar list. Read-only. Optional. The default is False."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource (\"calendar#calendarListEntry\")."
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time zone of the calendar. Optional. Read-only."
          }
        },
        "foregroundColor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The foreground color of the calendar in the hexadecimal format \"#ffffff\". This property supersedes the index-based colorId property. To set or change this property, you need to specify colorRgbFormat=true in the parameters of the insert, update and patch methods. Optional."
          }
        },
        "autoAcceptInvitations": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this calendar automatically accepts invitations. Only valid for resource calendars. Read-only."
          }
        },
        "conferenceProperties": {
          "target": "com.googleworkspace.calendar_v3#ConferenceProperties",
          "traits": {
            "smithy.api#documentation": "Conferencing properties for this calendar, for example what types of conferences are allowed."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        },
        "accessRole": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective access role that the authenticated user has on the calendar. Read-only. Possible values are:  \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writerWithoutPrivateAccess\" - Provides read and write access to the calendar. Private events will appear to users with writerWithoutPrivateAccess access, but event details will be hidden. \n- \"writer\" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - Provides manager access to the calendar. This role has all of the permissions of the writer role with the additional ability to see and modify access levels of other users.\nImportant: the owner role is different from the calendar's data owner. A calendar has a single data owner, but can have multiple users with owner role."
          }
        },
        "dataOwner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the owner of the calendar. Set only for secondary calendars. Read-only."
          }
        },
        "notificationSettings": {
          "target": "com.googleworkspace.calendar_v3#CalendarListEntryNotificationSettings",
          "traits": {
            "smithy.api#documentation": "The notifications that the authenticated user is receiving for this calendar."
          }
        },
        "summaryOverride": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The summary that the authenticated user has set for this calendar. Optional."
          }
        },
        "colorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The color of the calendar. This is an ID referring to an entry in the calendar section of the colors definition (see the colors endpoint). This property is superseded by the backgroundColor and foregroundColor properties and can be ignored when using these properties. Optional."
          }
        },
        "hidden": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the calendar has been hidden from the list. Optional. The attribute is only returned when the calendar is hidden, in which case the value is true."
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the calendar. Read-only."
          }
        },
        "primary": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the calendar is the primary calendar of the authenticated user. Read-only. Optional. The default is False."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#CalendarListEntryNotificationSettings": {
      "type": "structure",
      "members": {
        "notifications": {
          "target": "com.googleworkspace.calendar_v3#CalendarNotificationList",
          "traits": {
            "smithy.api#documentation": "The list of notifications set for this calendar."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#CalendarNotificationList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.calendar_v3#CalendarNotification"
      }
    },
    "com.googleworkspace.calendar_v3#LabelProperties": {
      "type": "structure",
      "members": {
        "eventLabels": {
          "target": "com.googleworkspace.calendar_v3#EventLabelList",
          "traits": {
            "smithy.api#documentation": "Event labels defined on this calendar. If this is present when updating the calendar, it will replace the existing event labels.\nExtend the list to add a new event label, and remove entities from the list to delete a label from calendar.\nEach calendar can have a maximum of 200 labels."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#EventLabelList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.calendar_v3#EventLabel"
      }
    },
    "com.googleworkspace.calendar_v3#EventReminder": {
      "type": "structure",
      "members": {
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The method used by this reminder. Possible values are:  \n- \"email\" - Reminders are sent via email. \n- \"popup\" - Reminders are sent via a UI popup.  \nRequired when adding a reminder."
          }
        },
        "minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of minutes before the start of the event when the reminder should trigger. Valid values are between 0 and 40320 (4 weeks in minutes).\nRequired when adding a reminder."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#ConferenceData": {
      "type": "structure",
      "members": {
        "conferenceSolution": {
          "target": "com.googleworkspace.calendar_v3#ConferenceSolution",
          "traits": {
            "smithy.api#documentation": "The conference solution, such as Google Meet.\nUnset for a conference with a failed create request.\nEither conferenceSolution and at least one entryPoint, or createRequest is required."
          }
        },
        "conferenceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the conference.\nCan be used by developers to keep track of conferences, should not be displayed to users.\nThe ID value is formed differently for each conference solution type:  \n- eventHangout: ID is not set. (This conference type is deprecated.)\n- eventNamedHangout: ID is the name of the Hangout. (This conference type is deprecated.)\n- hangoutsMeet: ID is the 10-letter meeting code, for example aaa-bbbb-ccc.\n- addOn: ID is defined by the third-party provider.  Optional."
          }
        },
        "signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The signature of the conference data.\nGenerated on server side.\nUnset for a conference with a failed create request.\nOptional for a conference with a pending create request."
          }
        },
        "createRequest": {
          "target": "com.googleworkspace.calendar_v3#CreateConferenceRequest",
          "traits": {
            "smithy.api#documentation": "A request to generate a new conference and attach it to the event. The data is generated asynchronously. To see whether the data is present check the status field.\nEither conferenceSolution and at least one entryPoint, or createRequest is required."
          }
        },
        "parameters": {
          "target": "com.googleworkspace.calendar_v3#ConferenceParameters",
          "traits": {
            "smithy.api#documentation": "Additional properties related to a conference. An example would be a solution-specific setting for enabling video streaming."
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Additional notes (such as instructions from the domain administrator, legal notices) to display to the user. Can contain HTML. The maximum length is 2048 characters. Optional."
          }
        },
        "entryPoints": {
          "target": "com.googleworkspace.calendar_v3#EntryPointList",
          "traits": {
            "smithy.api#documentation": "Information about individual conference entry points, such as URLs or phone numbers.\nAll of them must belong to the same conference.\nEither conferenceSolution and at least one entryPoint, or createRequest is required."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#EntryPointList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.calendar_v3#EntryPoint"
      }
    },
    "com.googleworkspace.calendar_v3#TimePeriod": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The (exclusive) end of the time period."
          }
        },
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The (inclusive) start of the time period."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#FreeBusyResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource (\"calendar#freeBusy\")."
          }
        },
        "calendars": {
          "target": "com.googleworkspace.calendar_v3#FreeBusyCalendarMap",
          "traits": {
            "smithy.api#documentation": "List of free/busy information for calendars."
          }
        },
        "timeMax": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end of the interval."
          }
        },
        "groups": {
          "target": "com.googleworkspace.calendar_v3#FreeBusyGroupMap",
          "traits": {
            "smithy.api#documentation": "Expansion of groups."
          }
        },
        "timeMin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start of the interval."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#FreeBusyCalendarMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.googleworkspace.calendar_v3#FreeBusyCalendar"
      }
    },
    "com.googleworkspace.calendar_v3#FreeBusyGroupMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.googleworkspace.calendar_v3#FreeBusyGroup"
      }
    },
    "com.googleworkspace.calendar_v3#Event": {
      "type": "structure",
      "members": {
        "creator": {
          "target": "com.googleworkspace.calendar_v3#EventCreator",
          "traits": {
            "smithy.api#documentation": "The creator of the event. Read-only."
          }
        },
        "colorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The color of the event. This is an ID referring to an entry in the event section of the colors definition (see the  colors endpoint). Optional."
          }
        },
        "endTimeUnspecified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the end time is actually unspecified. An end time is still provided for compatibility reasons, even if this attribute is set to True. The default is False."
          }
        },
        "organizer": {
          "target": "com.googleworkspace.calendar_v3#EventOrganizer",
          "traits": {
            "smithy.api#documentation": "The organizer of the event. If the organizer is also an attendee, this is indicated with a separate entry in attendees with the organizer field set to True. To change the organizer, use the move operation. Read-only, except when importing an event."
          }
        },
        "gadget": {
          "target": "com.googleworkspace.calendar_v3#EventGadget",
          "traits": {
            "smithy.api#documentation": "A gadget that extends this event. Gadgets are deprecated; this structure is instead only used for returning birthday calendar metadata."
          }
        },
        "outOfOfficeProperties": {
          "target": "com.googleworkspace.calendar_v3#EventOutOfOfficeProperties",
          "traits": {
            "smithy.api#documentation": "Out of office event data. Used if eventType is outOfOffice."
          }
        },
        "extendedProperties": {
          "target": "com.googleworkspace.calendar_v3#EventExtendedProperties",
          "traits": {
            "smithy.api#documentation": "Extended properties of the event."
          }
        },
        "eventLabelId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the event label assigned to the event. Optional. This refers to the ID of an entry in the labelProperties.eventLabels property of the calendar (see the Calendars.get endpoint.)\nThis property supersedes the index-based colorId property. To set or change this property, you need to specify eventLabelVersion=1 in the parameters of the insert, import, update, and patch methods.\nSetting an empty string, or not setting this field at all, will remove the existing label from the event."
          }
        },
        "source": {
          "target": "com.googleworkspace.calendar_v3#EventSource",
          "traits": {
            "smithy.api#documentation": "Source from which the event was created. For example, a web page, an email message or any document identifiable by an URL with HTTP or HTTPS scheme. Can only be seen or modified by the creator of the event."
          }
        },
        "locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this is a locked event copy where no changes can be made to the main event fields \"summary\", \"description\", \"location\", \"start\", \"end\" or \"recurrence\". The default is False. Read-Only."
          }
        },
        "transparency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Whether the event blocks time on the calendar. Optional. Possible values are:  \n- \"opaque\" - Default value. The event does block time on the calendar. This is equivalent to setting Show me as to Busy in the Calendar UI. \n- \"transparent\" - The event does not block time on the calendar. This is equivalent to setting Show me as to Available in the Calendar UI."
          }
        },
        "htmlLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An absolute link to this event in the Google Calendar Web UI. Read-only."
          }
        },
        "end": {
          "target": "com.googleworkspace.calendar_v3#EventDateTime",
          "traits": {
            "smithy.api#documentation": "The (exclusive) end time of the event. For a recurring event, this is the end time of the first instance."
          }
        },
        "anyoneCanAddSelf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether anyone can invite themselves to the event (deprecated). Optional. The default is False."
          }
        },
        "hangoutLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An absolute link to the Google Hangout associated with this event. Read-only."
          }
        },
        "recurrence": {
          "target": "com.googleworkspace.calendar_v3#StringList",
          "traits": {
            "smithy.api#documentation": "List of RRULE, EXRULE, RDATE and EXDATE lines for a recurring event, as specified in RFC5545. Note that DTSTART and DTEND lines are not allowed in this field; event start and end times are specified in the start and end fields. This field is omitted for single events or instances of recurring events."
          }
        },
        "workingLocationProperties": {
          "target": "com.googleworkspace.calendar_v3#EventWorkingLocationProperties",
          "traits": {
            "smithy.api#documentation": "Working location event data."
          }
        },
        "privateCopy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to True, Event propagation is disabled. Note that it is not the same thing as Private event properties. Optional. Immutable. The default is False."
          }
        },
        "attendees": {
          "target": "com.googleworkspace.calendar_v3#EventAttendeeList",
          "traits": {
            "smithy.api#documentation": "The attendees of the event. See the Events with attendees guide for more information on scheduling events with other calendar users. Service accounts need to use domain-wide delegation of authority to populate the attendee list."
          }
        },
        "guestsCanInviteOthers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether attendees other than the organizer can invite others to the event. Optional. The default is True."
          }
        },
        "reminders": {
          "target": "com.googleworkspace.calendar_v3#EventReminders",
          "traits": {
            "smithy.api#documentation": "Information about the event's reminders for the authenticated user. Note that changing reminders does not also change the updated property of the enclosing event."
          }
        },
        "recurringEventId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For an instance of a recurring event, this is the id of the recurring event to which this instance belongs. Immutable."
          }
        },
        "guestsCanSeeOtherGuests": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether attendees other than the organizer can see who the event's attendees are. Optional. The default is True."
          }
        },
        "attendeesOmitted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether attendees may have been omitted from the event's representation. When retrieving an event, this may be due to a restriction specified by the maxAttendee query parameter. When updating an event, this can be used to only update the participant's response. Optional. The default is False."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource (\"calendar#event\")."
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the event."
          }
        },
        "birthdayProperties": {
          "target": "com.googleworkspace.calendar_v3#EventBirthdayProperties",
          "traits": {
            "smithy.api#documentation": "Birthday or special event data. Used if eventType is \"birthday\". Immutable."
          }
        },
        "originalStartTime": {
          "target": "com.googleworkspace.calendar_v3#EventDateTime",
          "traits": {
            "smithy.api#documentation": "For an instance of a recurring event, this is the time at which this event would start according to the recurrence data in the recurring event identified by recurringEventId. It uniquely identifies the instance within the recurring event series even if the instance was moved to a different time. Immutable."
          }
        },
        "focusTimeProperties": {
          "target": "com.googleworkspace.calendar_v3#EventFocusTimeProperties",
          "traits": {
            "smithy.api#documentation": "Focus Time event data. Used if eventType is focusTime."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Geographic location of the event as free-form text. Optional."
          }
        },
        "iCalUID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Event unique identifier as defined in RFC5545. It is used to uniquely identify events accross calendaring systems and must be supplied when importing events via the import method.\nNote that the iCalUID and the id are not identical and only one of them should be supplied at event creation time. One difference in their semantics is that in recurring events, all occurrences of one event have different ids while they all share the same iCalUIDs. To retrieve an event using its iCalUID, call the events.list method using the iCalUID parameter. To retrieve an event using its id, call the events.get method."
          }
        },
        "visibility": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Visibility of the event. Optional. Possible values are:  \n- \"default\" - Uses the default visibility for events on the calendar. This is the default value. \n- \"public\" - The event is public and event details are visible to all readers of the calendar. \n- \"private\" - The event is private and only event attendees may view event details. \n- \"confidential\" - The event is private. This value is provided for compatibility reasons.  \nNote on recurring events: Changing the visibility of a single instance of a recurring event can affect all instances of the series. If the new setting is more restrictive (e.g. from public to private), it is applied to all instances. If the new setting is less restrictive (e.g. from private to public), the change is ignored. To make a recurring event less restrictive, you must update the parent recurring event."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the event. Optional. Possible values are:  \n- \"confirmed\" - The event is confirmed. This is the default status. \n- \"tentative\" - The event is tentatively confirmed. \n- \"cancelled\" - The event is cancelled (deleted). The list method returns cancelled events only on incremental sync (when syncToken or updatedMin are specified) or if the showDeleted flag is set to true. The get method always returns them.\nA cancelled status represents two different states depending on the event type:  \n- Cancelled exceptions of an uncancelled recurring event indicate that this instance should no longer be presented to the user. Clients should store these events for the lifetime of the parent recurring event.\nCancelled exceptions are only guaranteed to have values for the id, recurringEventId and originalStartTime fields populated. The other fields might be empty.  \n- All other cancelled events represent deleted events. Clients should remove their locally synced copies. Such cancelled events will eventually disappear, so do not rely on them being available indefinitely.\nDeleted events are only guaranteed to have the id field populated.   On the organizer's calendar, cancelled events continue to expose event details (summary, location, etc.) so that they can be restored (undeleted). Similarly, the events to which the user was invited and that they manually removed continue to provide details. However, incremental sync requests with showDeleted set to false will not return these details.\nIf an event changes its organizer (for example via the move operation) and the original organizer is not on the attendee list, it will leave behind a cancelled event where only the id field is guaranteed to be populated."
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last modification time of the main event data (as a RFC3339 timestamp). Updating event reminders will not cause this to change. Read-only."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Opaque identifier of the event. When creating new single or recurring events, you can specify their IDs. Provided IDs must follow these rules:  \n- characters allowed in the ID are those used in base32hex encoding, i.e. lowercase letters a-v and digits 0-9, see section 3.1.2 in RFC2938 \n- the length of the ID must be between 5 and 1024 characters \n- the ID must be unique per calendar  Due to the globally distributed nature of the system, we cannot guarantee that ID collisions will be detected at event creation time. To minimize the risk of collisions we recommend using an established UUID algorithm such as one described in RFC4122.\nIf you do not specify an ID, it will be automatically generated by the server.\nNote that the icalUID and the id are not identical and only one of them should be supplied at event creation time. One difference in their semantics is that in recurring events, all occurrences of one event have different ids while they all share the same icalUIDs."
          }
        },
        "start": {
          "target": "com.googleworkspace.calendar_v3#EventDateTime",
          "traits": {
            "smithy.api#documentation": "The (inclusive) start time of the event. For a recurring event, this is the start time of the first instance."
          }
        },
        "guestsCanModify": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether attendees other than the organizer can modify the event. Optional. The default is False."
          }
        },
        "eventType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specific type of the event. This cannot be modified after the event is created. Possible values are:  \n- \"birthday\" - A special all-day event with an annual recurrence. \n- \"default\" - A regular event or not further specified. \n- \"focusTime\" - A focus-time event. \n- \"fromGmail\" - An event from Gmail. This type of event cannot be created. \n- \"outOfOffice\" - An out-of-office event. \n- \"workingLocation\" - A working location event."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the event. Can contain HTML. Optional."
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation time of the event (as a RFC3339 timestamp). Read-only."
          }
        },
        "attachments": {
          "target": "com.googleworkspace.calendar_v3#EventAttachmentList",
          "traits": {
            "smithy.api#documentation": "File attachments for the event.\nIn order to modify attachments the supportsAttachments request parameter should be set to true.\nThere can be at most 25 attachments per event,"
          }
        },
        "conferenceData": {
          "target": "com.googleworkspace.calendar_v3#ConferenceData",
          "traits": {
            "smithy.api#documentation": "The conference-related information, such as details of a Google Meet conference. To create new conference details use the createRequest field. To persist your changes, remember to set the conferenceDataVersion request parameter to 1 for all event modification requests. Warning: Reusing Google Meet conference data across different events can cause access issues and expose meeting details to unintended users. To help ensure meeting privacy, always generate a unique conference for each event by using the createRequest field."
          }
        },
        "sequence": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sequence number as per iCalendar."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#EventCreator": {
      "type": "structure",
      "members": {
        "self": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the creator corresponds to the calendar on which this copy of the event appears. Read-only. The default is False."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creator's Profile ID, if available."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creator's email address, if available."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creator's name, if available."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#EventOrganizer": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The organizer's email address, if available. It must be a valid email address as per RFC5322."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The organizer's name, if available."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The organizer's Profile ID, if available."
          }
        },
        "self": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the organizer corresponds to the calendar on which this copy of the event appears. Read-only. The default is False."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#EventGadget": {
      "type": "structure",
      "members": {
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The gadget's height in pixels. The height must be an integer greater than 0. Optional. Deprecated."
          }
        },
        "display": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The gadget's display mode. Deprecated. Possible values are:  \n- \"icon\" - The gadget displays next to the event's title in the calendar view. \n- \"chip\" - The gadget displays when the event is clicked."
          }
        },
        "link": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The gadget's URL. The URL scheme must be HTTPS. Deprecated."
          }
        },
        "iconLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The gadget's icon URL. The URL scheme must be HTTPS. Deprecated."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The gadget's title. Deprecated."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The gadget's type. Deprecated."
          }
        },
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The gadget's width in pixels. The width must be an integer greater than 0. Optional. Deprecated."
          }
        },
        "preferences": {
          "target": "com.googleworkspace.calendar_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "Preferences."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#EventExtendedProperties": {
      "type": "structure",
      "members": {
        "shared": {
          "target": "com.googleworkspace.calendar_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "Properties that are shared between copies of the event on other attendees' calendars."
          }
        },
        "private": {
          "target": "com.googleworkspace.calendar_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "Properties that are private to the copy of the event that appears on this calendar."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#EventSource": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the source pointing to a resource. The URL scheme must be HTTP or HTTPS."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the source; for example a title of a web page or an email subject."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#EventAttendeeList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.calendar_v3#EventAttendee"
      }
    },
    "com.googleworkspace.calendar_v3#EventReminders": {
      "type": "structure",
      "members": {
        "overrides": {
          "target": "com.googleworkspace.calendar_v3#EventReminderList",
          "traits": {
            "smithy.api#documentation": "If the event doesn't use the default reminders, this lists the reminders specific to the event, or, if not set, indicates that no reminders are set for this event. The maximum number of override reminders is 5."
          }
        },
        "useDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the default reminders of the calendar apply to the event."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#EventAttachmentList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.calendar_v3#EventAttachment"
      }
    },
    "com.googleworkspace.calendar_v3#Calendar": {
      "type": "structure",
      "members": {
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the calendar."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        },
        "conferenceProperties": {
          "target": "com.googleworkspace.calendar_v3#ConferenceProperties",
          "traits": {
            "smithy.api#documentation": "Conferencing properties for this calendar, for example what types of conferences are allowed."
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time zone of the calendar. (Formatted as an IANA Time Zone Database name, e.g. \"Europe/Zurich\".) Optional."
          }
        },
        "autoAcceptInvitations": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this calendar automatically accepts invitations. Only valid for resource calendars."
          }
        },
        "dataOwner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the owner of the calendar. Set only for secondary calendars. Read-only."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the calendar. To retrieve IDs call the calendarList.list() method."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Geographic location of the calendar as free-form text. Optional."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the calendar. Optional."
          }
        },
        "labelProperties": {
          "target": "com.googleworkspace.calendar_v3#LabelProperties",
          "traits": {
            "smithy.api#documentation": "Label properties defined on this calendar. If specified, overwrites the existing label properties. If not specified, the label properties remain unchanged."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource (\"calendar#calendar\")."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#Acl": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the collection (\"calendar#acl\")."
          }
        },
        "items": {
          "target": "com.googleworkspace.calendar_v3#AclRuleList",
          "traits": {
            "smithy.api#documentation": "List of rules on the access control list."
          }
        },
        "nextSyncToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the collection."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#AclRuleList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.calendar_v3#AclRule"
      }
    },
    "com.googleworkspace.calendar_v3#CalendarList": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the collection (\"calendar#calendarList\")."
          }
        },
        "items": {
          "target": "com.googleworkspace.calendar_v3#CalendarListEntryList",
          "traits": {
            "smithy.api#documentation": "Calendars that are present on the user's calendar list."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
          }
        },
        "nextSyncToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the collection."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#CalendarListEntryList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.calendar_v3#CalendarListEntry"
      }
    },
    "com.googleworkspace.calendar_v3#EventAttachment": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Attachment title."
          }
        },
        "iconLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL link to the attachment's icon. This field can only be modified for custom third-party attachments."
          }
        },
        "fileUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL link to the attachment.\nFor adding Google Drive file attachments use the same format as in alternateLink property of the Files resource in the Drive API.\nRequired when adding an attachment."
          }
        },
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Internet media type (MIME type) of the attachment."
          }
        },
        "fileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the attached file. Read-only.\nFor Google Drive files, this is the ID of the corresponding Files resource entry in the Drive API."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#EventAttendee": {
      "type": "structure",
      "members": {
        "additionalGuests": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of additional guests. Optional. The default is 0."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The attendee's Profile ID, if available."
          }
        },
        "asyncOperation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If present, indicates the status of an asynchronous operation ongoing for this attendee (e.g. listing of members of large attendee groups). Read-only. The default is to not be present.\nPossible values are:  \n- \"inProgress\" - The asynchronous operation is in progress. \n- (not present) - Otherwise."
          }
        },
        "optional": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this is an optional attendee. Optional. The default is False."
          }
        },
        "organizer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the attendee is the organizer of the event. Read-only. The default is False."
          }
        },
        "responseStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The attendee's response status. Possible values are:  \n- \"needsAction\" - The attendee has not responded to the invitation (recommended for new events). \n- \"declined\" - The attendee has declined the invitation. \n- \"tentative\" - The attendee has tentatively accepted the invitation. \n- \"accepted\" - The attendee has accepted the invitation.  Warning: If you add an event using the values declined, tentative, or accepted, attendees with the \"Add invitations to my calendar\" setting set to \"When I respond to invitation in email\" or \"Only if the sender is known\" might have their response reset to needsAction and won't see an event in their calendar unless they change their response in the event invitation email. Furthermore, if more than 200 guests are invited to the event, response status is not propagated to the guests."
          }
        },
        "resource": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the attendee is a resource. Can only be set when the attendee is added to the event for the first time. Subsequent modifications are ignored. Optional. The default is False."
          }
        },
        "self": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this entry represents the calendar on which this copy of the event appears. Read-only. The default is False."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The attendee's name, if available. Optional."
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The attendee's response comment. Optional."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The attendee's email address, if available. This field must be present when adding an attendee. It must be a valid email address as per RFC5322.\nRequired when adding an attendee."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#EventFocusTimeProperties": {
      "type": "structure",
      "members": {
        "autoDeclineMode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Whether to decline meeting invitations which overlap Focus Time events. Valid values are declineNone, meaning that no meeting invitations are declined; declineAllConflictingInvitations, meaning that all conflicting meeting invitations that conflict with the event are declined; and declineOnlyNewConflictingInvitations, meaning that only new conflicting meeting invitations which arrive while the Focus Time event is present are to be declined."
          }
        },
        "chatStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status to mark the user in Chat and related products. This can be available or doNotDisturb."
          }
        },
        "declineMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Response message to set if an existing event or new invitation is automatically declined by Calendar."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#ConferenceProperties": {
      "type": "structure",
      "members": {
        "allowedConferenceSolutionTypes": {
          "target": "com.googleworkspace.calendar_v3#StringList",
          "traits": {
            "smithy.api#documentation": "The types of conference solutions that are supported for this calendar.\nThe possible values are:  \n- \"eventHangout\" \n- \"eventNamedHangout\" \n- \"hangoutsMeet\"  Optional."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#EntryPoint": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of the entry point. The maximum length is 1300 characters.\nFormat:  \n- for video, http: or https: schema is required.\n- for phone, tel: schema is required. The URI should include the entire dial sequence (e.g., tel:+12345678900,,,123456789;1234).\n- for sip, sip: schema is required, e.g., sip:12345678@myprovider.com.\n- for more, http: or https: schema is required."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The password to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional."
          }
        },
        "meetingCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The meeting code to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional."
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CLDR/ISO 3166 region code for the country associated with this phone access. Example: \"SE\" for Sweden.\nCalendar backend will populate this field only for EntryPointType.PHONE."
          }
        },
        "pin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The PIN to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional."
          }
        },
        "accessCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The access code to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The label for the URI. Visible to end users. Not localized. The maximum length is 512 characters.\nExamples:  \n- for video: meet.google.com/aaa-bbbb-ccc\n- for phone: +1 123 268 2601\n- for sip: 12345678@altostrat.com\n- for more: should not be filled  \nOptional."
          }
        },
        "passcode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The passcode to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed."
          }
        },
        "entryPointFeatures": {
          "target": "com.googleworkspace.calendar_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Features of the entry point, such as being toll or toll-free. One entry point can have multiple features. However, toll and toll-free cannot be both set on the same entry point."
          }
        },
        "entryPointType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the conference entry point.\nPossible values are:  \n- \"video\" - joining a conference over HTTP. A conference can have zero or one video entry point.\n- \"phone\" - joining a conference by dialing a phone number. A conference can have zero or more phone entry points.\n- \"sip\" - joining a conference over SIP. A conference can have zero or one sip entry point.\n- \"more\" - further conference joining instructions, for example additional phone numbers. A conference can have zero or one more entry point. A conference with only a more entry point is not a valid conference."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#Setting": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the user setting."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value of the user setting. The format of the value depends on the ID of the setting. It must always be a UTF-8 string of length up to 1024 characters."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource (\"calendar#setting\")."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#ConferenceParametersAddOnParameters": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.googleworkspace.calendar_v3#StringMap"
        }
      }
    },
    "com.googleworkspace.calendar_v3#CreateConferenceRequest": {
      "type": "structure",
      "members": {
        "conferenceSolutionKey": {
          "target": "com.googleworkspace.calendar_v3#ConferenceSolutionKey",
          "traits": {
            "smithy.api#documentation": "The conference solution, such as Hangouts or Google Meet."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client-generated unique ID for this request.\nClients should regenerate this ID for every new request. If an ID provided is the same as for the previous request, the request is ignored."
          }
        },
        "status": {
          "target": "com.googleworkspace.calendar_v3#ConferenceRequestStatus",
          "traits": {
            "smithy.api#documentation": "The status of the conference create request."
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#UpdateEventsSendUpdatesEnum": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "EXTERNALONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "externalOnly"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#UpdateEventsRequest": {
      "type": "structure",
      "members": {
        "supportsAttachments": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether API client performing operation supports event attachments. Optional. The default is False.",
            "smithy.api#httpQuery": "supportsAttachments"
          }
        },
        "maxAttendees": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
            "smithy.api#httpQuery": "maxAttendees"
          }
        },
        "sendNotifications": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the event update (for example, description changes, etc.). Note that some emails might still be sent even if you set the value to false. The default is false.",
            "smithy.api#httpQuery": "sendNotifications"
          }
        },
        "alwaysIncludeEmail": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
            "smithy.api#httpQuery": "alwaysIncludeEmail"
          }
        },
        "calendarId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "eventId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Event identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "sendUpdates": {
          "target": "com.googleworkspace.calendar_v3#UpdateEventsSendUpdatesEnum",
          "traits": {
            "smithy.api#documentation": "Guests who should receive notifications about the event update (for example, title changes, etc.).",
            "smithy.api#httpQuery": "sendUpdates"
          }
        },
        "eventLabelVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version number of the event label feature supported by the API client. Version 0 assumes no event label support and processes the colorId field for color management. Version 1 enables support for event labels, and processes the eventLabelId in the event's body. In this case, the colorId field is ignored. The default is 0.",
            "smithy.api#httpQuery": "eventLabelVersion"
          }
        },
        "conferenceDataVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
            "smithy.api#httpQuery": "conferenceDataVersion"
          }
        },
        "body": {
          "target": "com.googleworkspace.calendar_v3#Event",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.googleworkspace.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.googleworkspace.calendar_v3#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.googleworkspace.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.googleworkspace.calendar_v3#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.googleworkspace.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.googleworkspace.calendar_v3#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.googleworkspace.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.googleworkspace.calendar_v3#UpdateEvents": {
      "type": "operation",
      "input": {
        "target": "com.googleworkspace.calendar_v3#UpdateEventsRequest"
      },
      "output": {
        "target": "com.googleworkspace.calendar_v3#Event"
      },
      "errors": [
        {
          "target": "com.googleworkspace.calendar_v3#NotFound"
        },
        {
          "target": "com.googleworkspace.calendar_v3#Forbidden"
        },
        {
          "target": "com.googleworkspace.calendar_v3#BadRequest"
        },
        {
          "target": "com.googleworkspace.calendar_v3#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "calendars/{calendarId}/events/{eventId}"
        },
        "smithy.api#documentation": "Updates an event."
      }
    },
    "com.googleworkspace.calendar_v3#InsertEventsSendUpdatesEnum": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "EXTERNALONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "externalOnly"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#InsertEventsRequest": {
      "type": "structure",
      "members": {
        "eventLabelVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version number of the event label feature supported by the API client. Version 0 assumes no event label support and processes the colorId field for color management. Version 1 enables support for event labels, and processes the eventLabelId in the event's body. In this case, the colorId field is ignored. The default is 0.",
            "smithy.api#httpQuery": "eventLabelVersion"
          }
        },
        "maxAttendees": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
            "smithy.api#httpQuery": "maxAttendees"
          }
        },
        "supportsAttachments": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether API client performing operation supports event attachments. Optional. The default is False.",
            "smithy.api#httpQuery": "supportsAttachments"
          }
        },
        "sendUpdates": {
          "target": "com.googleworkspace.calendar_v3#InsertEventsSendUpdatesEnum",
          "traits": {
            "smithy.api#documentation": "Whether to send notifications about the creation of the new event. Note that some emails might still be sent. The default is false.",
            "smithy.api#httpQuery": "sendUpdates"
          }
        },
        "calendarId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "conferenceDataVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
            "smithy.api#httpQuery": "conferenceDataVersion"
          }
        },
        "sendNotifications": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the creation of the new event. Note that some emails might still be sent even if you set the value to false. The default is false.",
            "smithy.api#httpQuery": "sendNotifications"
          }
        },
        "body": {
          "target": "com.googleworkspace.calendar_v3#Event",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#InsertEvents": {
      "type": "operation",
      "input": {
        "target": "com.googleworkspace.calendar_v3#InsertEventsRequest"
      },
      "output": {
        "target": "com.googleworkspace.calendar_v3#Event"
      },
      "errors": [
        {
          "target": "com.googleworkspace.calendar_v3#NotFound"
        },
        {
          "target": "com.googleworkspace.calendar_v3#Forbidden"
        },
        {
          "target": "com.googleworkspace.calendar_v3#BadRequest"
        },
        {
          "target": "com.googleworkspace.calendar_v3#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "calendars/{calendarId}/events"
        },
        "smithy.api#documentation": "Creates an event."
      }
    },
    "com.googleworkspace.calendar_v3#ListEventsEventTypesEnum": {
      "type": "enum",
      "members": {
        "BIRTHDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "birthday"
          }
        },
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "FOCUSTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "focusTime"
          }
        },
        "FROMGMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fromGmail"
          }
        },
        "OUTOFOFFICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "outOfOffice"
          }
        },
        "WORKINGLOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "workingLocation"
          }
        }
      }
    },
    "com.googleworkspace.calendar_v3#ListEventsEventTypesEnumList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.calendar_v3#ListEventsEventTypesEnum"
      }
    },
    "com.googleworkspace.calendar_v3#ListEventsOrderByEnum": {
      "type": "enum",
      "members": {
        "STARTTIME": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
