{
  "smithy": "2.0",
  "metadata": {
    "service": "chat",
    "version": "v1",
    "title": "Google Chat API",
    "baseUrl": "https://chat.googleapis.com/"
  },
  "shapes": {
    "com.googleworkspace.chat_v1#GoogleAppsCardV1Icon": {
      "type": "structure",
      "members": {
        "altText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A description of the icon used for accessibility. If unspecified, the default value `Button` is provided. As a best practice, you should set a helpful description for what the icon displays, and if applicable, what it does. For example, `A user's account portrait`, or `Opens a new browser tab and navigates to the Google Chat developer documentation at https://developers.google.com/workspace/chat`. If the icon is set in a `Button`, the `altText` appears as helper text when the user hovers over the button. However, if the button also sets `text`, the icon's `altText` is ignored."
          }
        },
        "iconUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display a custom icon hosted at an HTTPS URL. For example: ``` \"iconUrl\": \"https://developers.google.com/workspace/chat/images/quickstart-app-avatar.png\" ``` Supported file types include `.png` and `.jpg`."
          }
        },
        "knownIcon": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display one of the built-in icons provided by Google Workspace. For example, to display an airplane icon, specify `AIRPLANE`. For a bus, specify `BUS`. For a full list of supported icons, see [built-in icons](https://developers.google.com/workspace/chat/format-messages#builtinicons)."
          }
        },
        "imageType": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1IconImageTypeEnum",
          "traits": {
            "smithy.api#documentation": "The crop style applied to the image. In some cases, applying a `CIRCLE` crop causes the image to be drawn larger than a built-in icon."
          }
        },
        "materialIcon": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1MaterialIcon",
          "traits": {
            "smithy.api#documentation": "Display one of the [Google Material Icons](https://fonts.google.com/icons). For example, to display a [checkbox icon](https://fonts.google.com/icons?selected=Material%20Symbols%20Outlined%3Acheck_box%3AFILL%400%3Bwght%40400%3BGRAD%400%3Bopsz%4048), use ``` \"material_icon\": { \"name\": \"check_box\" } ``` [Google Chat apps](https://developers.google.com/workspace/chat):"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An icon displayed in a widget on a card. For an example in Google Chat apps, see [Add an icon](https://developers.google.com/workspace/chat/add-text-image-card-dialog#add_an_icon). Supports [built-in](https://developers.google.com/workspace/chat/format-messages#builtinicons) and [custom](https://developers.google.com/workspace/chat/format-messages#customicons) icons. [Google Workspace add-ons and Chat apps](https://developers.google.com/workspace/extend):"
      }
    },
    "com.googleworkspace.chat_v1#GoogleAppsCardV1IconImageTypeEnum": {
      "type": "enum",
      "members": {
        "SQUARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQUARE"
          }
        },
        "CIRCLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CIRCLE"
          }
        }
      }
    },
    "com.googleworkspace.chat_v1#GoogleAppsCardV1Widgets": {
      "type": "structure",
      "members": {
        "decoratedText": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1DecoratedText",
          "traits": {
            "smithy.api#documentation": "DecoratedText widget."
          }
        },
        "image": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1Image",
          "traits": {
            "smithy.api#documentation": "Image widget."
          }
        },
        "textParagraph": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1TextParagraph",
          "traits": {
            "smithy.api#documentation": "TextParagraph widget."
          }
        },
        "selectionInput": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1SelectionInput",
          "traits": {
            "smithy.api#documentation": "SelectionInput widget."
          }
        },
        "chipList": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1ChipList",
          "traits": {
            "smithy.api#documentation": "ChipList widget."
          }
        },
        "dateTimePicker": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1DateTimePicker",
          "traits": {
            "smithy.api#documentation": "DateTimePicker widget."
          }
        },
        "textInput": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1TextInput",
          "traits": {
            "smithy.api#documentation": "TextInput widget."
          }
        },
        "buttonList": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1ButtonList",
          "traits": {
            "smithy.api#documentation": "ButtonList widget."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The supported widgets that you can include in a column. [Google Workspace add-ons and Chat apps](https://developers.google.com/workspace/extend)"
      }
    },
    "com.googleworkspace.chat_v1#GoogleAppsCardV1OverflowMenu": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1OverflowMenuItemList",
          "traits": {
            "smithy.api#documentation": "Required. The list of menu options."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A widget that presents a pop-up menu with one or more actions that users can invoke. For example, showing non-primary actions in a card. You can use this widget when actions don't fit in the available space. To use, specify this widget in the `OnClick` action of widgets that support it. For example, in a `Button`. [Google Workspace add-ons and Chat apps](https://developers.google.com/workspace/extend):"
      }
    },
    "com.googleworkspace.chat_v1#GoogleAppsCardV1OverflowMenuItemList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1OverflowMenuItem"
      }
    },
    "com.googleworkspace.chat_v1#MarkAsActiveRequest": {
      "type": "structure",
      "members": {
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The duration from the current time until the ACTIVE state expires. Using a short TTL can effectively reset the user's state to be based on activity after this brief duration."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The absolute timestamp when the ACTIVE state expires."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the `MarkAsActive` method."
      }
    },
    "com.googleworkspace.chat_v1#GoogleAppsCardV1SwitchControl": {
      "type": "structure",
      "members": {
        "controlType": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1SwitchControlControlTypeEnum",
          "traits": {
            "smithy.api#documentation": "How the switch appears in the user interface. [Google Workspace add-ons and Chat apps](https://developers.google.com/workspace/extend):"
          }
        },
        "selected": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When `true`, the switch is selected."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name by which the switch widget is identified in a form input event. For details about working with form inputs, see [Receive form data](https://developers.google.com/workspace/chat/read-form-data)."
          }
        },
        "onChangeAction": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1Action",
          "traits": {
            "smithy.api#documentation": "The action to perform when the switch state is changed, such as what function to run."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value entered by a user, returned as part of a form input event. For details about working with form inputs, see [Receive form data](https://developers.google.com/workspace/chat/read-form-data)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Either a toggle-style switch or a checkbox inside a `decoratedText` widget. [Google Workspace add-ons and Chat apps](https://developers.google.com/workspace/extend): Only supported in the `decoratedText` widget."
      }
    },
    "com.googleworkspace.chat_v1#GoogleAppsCardV1SwitchControlControlTypeEnum": {
      "type": "enum",
      "members": {
        "SWITCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SWITCH"
          }
        },
        "CHECKBOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHECKBOX"
          }
        },
        "CHECK_BOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHECK_BOX"
          }
        }
      }
    },
    "com.googleworkspace.chat_v1#QuotedMessageMetadata": {
      "type": "structure",
      "members": {
        "quoteType": {
          "target": "com.googleworkspace.chat_v1#QuotedMessageMetadataQuoteTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the quote type. If not set, defaults to REPLY in the message read/write path for backward compatibility."
          }
        },
        "lastUpdateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The timestamp when the quoted message was created or when the quoted message was last updated. If the message was edited, use this field, `last_update_time`. If the message was never edited, use `create_time`. If `last_update_time` doesn't match the latest version of the quoted message, the request fails."
          }
        },
        "forwardedMetadata": {
          "target": "com.googleworkspace.chat_v1#ForwardedMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. Metadata about the source space of the quoted message. Populated only for FORWARD quote type."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Resource name of the message that is quoted. Format: `spaces/{space}/messages/{message}`"
          }
        },
        "quotedMessageSnapshot": {
          "target": "com.googleworkspace.chat_v1#QuotedMessageSnapshot",
          "traits": {
            "smithy.api#documentation": "Output only. A snapshot of the quoted message's content."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a message that another message quotes. When you update a message, you can't add or replace the `quotedMessageMetadata` field, but you can remove it. For example usage, see [Quote another message](https://developers.google.com/workspace/chat/create-messages#quote-a-message)."
      }
    },
    "com.googleworkspace.chat_v1#QuotedMessageMetadataQuoteTypeEnum": {
      "type": "enum",
      "members": {
        "QUOTE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTE_TYPE_UNSPECIFIED"
          }
        },
        "REPLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPLY"
          }
        },
        "FORWARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FORWARD"
          }
        }
      }
    },
    "com.googleworkspace.chat_v1#SelectionItems": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1SelectionItemList",
          "traits": {
            "smithy.api#documentation": "An array of the SelectionItem objects."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of widget autocomplete results."
      }
    },
    "com.googleworkspace.chat_v1#GoogleAppsCardV1SelectionItemList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1SelectionItem"
      }
    },
    "com.googleworkspace.chat_v1#SlashCommand": {
      "type": "structure",
      "members": {
        "commandId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the slash command."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata about a [slash command](https://developers.google.com/workspace/chat/commands) in Google Chat."
      }
    },
    "com.googleworkspace.chat_v1#GoogleAppsCardV1ImageCropStyle": {
      "type": "structure",
      "members": {
        "aspectRatio": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The aspect ratio to use if the crop type is `RECTANGLE_CUSTOM`. For example, here's how to apply a 16:9 aspect ratio: ``` cropStyle { \"type\": \"RECTANGLE_CUSTOM\", \"aspectRatio\": 16/9 } ```"
          }
        },
        "type": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1ImageCropStyleTypeEnum",
          "traits": {
            "smithy.api#documentation": "The crop type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the crop style applied to an image. [Google Workspace add-ons and Chat apps](https://developers.google.com/workspace/extend): For example, here's how to apply a 16:9 aspect ratio: ``` cropStyle { \"type\": \"RECTANGLE_CUSTOM\", \"aspectRatio\": 16/9 } ```"
      }
    },
    "com.googleworkspace.chat_v1#GoogleAppsCardV1ImageCropStyleTypeEnum": {
      "type": "enum",
      "members": {
        "IMAGE_CROP_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_CROP_TYPE_UNSPECIFIED"
          }
        },
        "SQUARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQUARE"
          }
        },
        "CIRCLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CIRCLE"
          }
        },
        "RECTANGLE_CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECTANGLE_CUSTOM"
          }
        },
        "RECTANGLE_4_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECTANGLE_4_3"
          }
        }
      }
    },
    "com.googleworkspace.chat_v1#ListMembershipsResponse": {
      "type": "structure",
      "members": {
        "memberships": {
          "target": "com.googleworkspace.chat_v1#MembershipList",
          "traits": {
            "smithy.api#documentation": "Unordered list. List of memberships in the requested (or first) page."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that you can send as `pageToken` to retrieve the next page of results. If empty, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response to list memberships of the space."
      }
    },
    "com.googleworkspace.chat_v1#MembershipList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.chat_v1#Membership"
      }
    },
    "com.googleworkspace.chat_v1#DriveDataRef": {
      "type": "structure",
      "members": {
        "driveFileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID for the drive file. Use with the Drive API."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reference to the data of a drive attachment."
      }
    },
    "com.googleworkspace.chat_v1#MembershipBatchCreatedEventData": {
      "type": "structure",
      "members": {
        "memberships": {
          "target": "com.googleworkspace.chat_v1#MembershipCreatedEventDataList",
          "traits": {
            "smithy.api#documentation": "A list of new memberships."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Event payload for multiple new memberships. Event type: `google.workspace.chat.membership.v1.batchCreated`"
      }
    },
    "com.googleworkspace.chat_v1#MembershipCreatedEventDataList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.chat_v1#MembershipCreatedEventData"
      }
    },
    "com.googleworkspace.chat_v1#ReactionBatchCreatedEventData": {
      "type": "structure",
      "members": {
        "reactions": {
          "target": "com.googleworkspace.chat_v1#ReactionCreatedEventDataList",
          "traits": {
            "smithy.api#documentation": "A list of new reactions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Event payload for multiple new reactions. Event type: `google.workspace.chat.reaction.v1.batchCreated`"
      }
    },
    "com.googleworkspace.chat_v1#ReactionCreatedEventDataList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.chat_v1#ReactionCreatedEventData"
      }
    },
    "com.googleworkspace.chat_v1#AccessPermissionSetting": {
      "type": "structure",
      "members": {
        "principals": {
          "target": "com.googleworkspace.chat_v1#PrincipalList",
          "traits": {
            "smithy.api#documentation": "Optional. Unordered list. Allowed principals for this permission."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An access permission setting."
      }
    },
    "com.googleworkspace.chat_v1#PrincipalList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.chat_v1#Principal"
      }
    },
    "com.googleworkspace.chat_v1#SetUpSpaceRequest": {
      "type": "structure",
      "members": {
        "memberships": {
          "target": "com.googleworkspace.chat_v1#MembershipList",
          "traits": {
            "smithy.api#documentation": "Optional. The Google Chat users or groups to invite to join the space. Omit the calling user, as they are added automatically. The set currently allows up to 49 memberships (in addition to the caller). For human membership, the `Membership.member` field must contain a `user` with `name` populated (format: `users/{user}`) and `type` set to `User.Type.HUMAN`. You can only add human users when setting up a space (adding Chat apps is only supported for direct message setup with the calling app). You can also add members using the user's email as an alias for {user}. For example, the `user.name` can be `users/example@gmail.com`. To invite Gmail users or users from external Google Workspace domains, user's email must be used for `{user}`. For Google group membership, the `Membership.group_member` field must contain a `group` with `name` populated (format `groups/{group}`). You can only add Google groups when setting `Space.spaceType` to `SPACE`. Optional when setting `Space.spaceType` to `SPACE`. Required when setting `Space.spaceType` to `GROUP_CHAT`, along with at least two memberships. Required when setting `Space.spaceType` to `DIRECT_MESSAGE` with a human user, along with exactly one membership. Must be empty when creating a 1:1 conversation between a human and the calling Chat app (when setting `Space.spaceType` to `DIRECT_MESSAGE` and `Space.singleUserBotDm` to `true`)."
          }
        },
        "space": {
          "target": "com.googleworkspace.chat_v1#Space",
          "traits": {
            "smithy.api#documentation": "Required. The `Space.spaceType` field is required. To create a space, set `Space.spaceType` to `SPACE` and set `Space.displayName`. If you receive the error message `ALREADY_EXISTS` when setting up a space, try a different `displayName`. An existing space within the Google Workspace organization might already use this display name. To create a group chat, set `Space.spaceType` to `GROUP_CHAT`. Don't set `Space.displayName`. To create a 1:1 conversation between humans, set `Space.spaceType` to `DIRECT_MESSAGE` and set `Space.singleUserBotDm` to `false`. Don't set `Space.displayName` or `Space.spaceDetails`. To create an 1:1 conversation between a human and the calling Chat app, set `Space.spaceType` to `DIRECT_MESSAGE` and `Space.singleUserBotDm` to `true`. Don't set `Space.displayName` or `Space.spaceDetails`. If a `DIRECT_MESSAGE` space already exists, that space is returned instead of creating a new space."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A unique identifier for this request. A random UUID is recommended. Specifying an existing request ID returns the space created with that ID instead of creating a new space. Specifying an existing request ID from the same Chat app with a different authenticated user returns an error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to create a space and add specified users to it."
      }
    },
    "com.googleworkspace.chat_v1#QuotedMessageSnapshot": {
      "type": "structure",
      "members": {
        "formattedText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Contains the quoted message `text` with markups added to support rich formatting like hyperlinks,custom emojis, markup, etc. Populated only for FORWARD quote type."
          }
        },
        "annotations": {
          "target": "com.googleworkspace.chat_v1#AnnotationList",
          "traits": {
            "smithy.api#documentation": "Output only. Annotations parsed from the text body of the quoted message. Populated only for FORWARD quote type."
          }
        },
        "sender": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The quoted message's author name. Populated for both REPLY & FORWARD quote types."
          }
        },
        "attachments": {
          "target": "com.googleworkspace.chat_v1#AttachmentList",
          "traits": {
            "smithy.api#documentation": "Output only. Attachments that were part of the quoted message. These are copies of the quoted message's attachment metadata. Populated only for FORWARD quote type."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Snapshot of the quoted message's text content."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides a snapshot of the content of the quoted message at the time of quoting or forwarding"
      }
    },
    "com.googleworkspace.chat_v1#AnnotationList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.chat_v1#Annotation"
      }
    },
    "com.googleworkspace.chat_v1#AttachmentList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.chat_v1#Attachment"
      }
    },
    "com.googleworkspace.chat_v1#ListSpacesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "You can send a token as `pageToken` to retrieve the next page of results. If empty, there are no subsequent pages."
          }
        },
        "spaces": {
          "target": "com.googleworkspace.chat_v1#SpaceList",
          "traits": {
            "smithy.api#documentation": "List of spaces in the requested (or first) page. Note: The `permissionSettings` field is not returned in the Space object for list requests."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for a list spaces request."
      }
    },
    "com.googleworkspace.chat_v1#SpaceList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.chat_v1#Space"
      }
    },
    "com.googleworkspace.chat_v1#GoogleAppsCardV1DateTimePicker": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1DateTimePickerTypeEnum",
          "traits": {
            "smithy.api#documentation": "Whether the widget supports inputting a date, a time, or the date and time."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text that prompts users to input a date, a time, or a date and time. For example, if users are scheduling an appointment, use a label such as `Appointment date` or `Appointment date and time`."
          }
        },
        "onChangeAction": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1Action",
          "traits": {
            "smithy.api#documentation": "Triggered when the user clicks **Save** or **Clear** from the `DateTimePicker` interface."
          }
        },
        "valueMsEpoch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default value displayed in the widget, in milliseconds since [Unix epoch time](https://en.wikipedia.org/wiki/Unix_time). Specify the value based on the type of picker (`DateTimePickerType`): * `DATE_AND_TIME`: a calendar date and time in UTC. For example, to represent January 1, 2023 at 12:00 PM UTC, use `1672574400000`. * `DATE_ONLY`: a calendar date at 00:00:00 UTC. For example, to represent January 1, 2023, use `1672531200000`. * `TIME_ONLY`: a time in UTC. For example, to represent 12:00 PM, use `43200000` (or `12 * 60 * 60 * 1000`)."
          }
        },
        "timezoneOffsetDate": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number representing the time zone offset from UTC, in minutes. If set, the `value_ms_epoch` is displayed in the specified time zone. If unset, the value defaults to the user's time zone setting."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name by which the `DateTimePicker` is identified in a form input event. For details about working with form inputs, see [Receive form data](https://developers.google.com/workspace/chat/read-form-data)."
          }
        },
        "hostAppDataSource": {
          "target": "com.googleworkspace.chat_v1#HostAppDataSourceMarkup",
          "traits": {
            "smithy.api#documentation": "A data source that's unique to a Google Workspace host application, such as Gmail emails, Google Calendar events, or Google Chat messages. Available for Google Workspace add-ons that extend Google Workspace Studio. Unavailable for Google Chat apps."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Lets users input a date, a time, or both a date and a time. Supports form submission validation. When `Action.all_widgets_are_required` is set to `true` or this widget is specified in `Action.required_widgets`, the submission action is blocked unless a value is selected. For an example in Google Chat apps, see [Let a user pick a date and time](https://developers.google.com/workspace/chat/design-interactive-card-dialog#let_a_user_pick_a_date_and_time). Users can input text or use the picker to select dates and times. If users input an invalid date or time, the picker shows an error that prompts users to input the information correctly. [Google Workspace add-ons and Chat apps](https://developers.google.com/workspace/extend):"
      }
    },
    "com.googleworkspace.chat_v1#GoogleAppsCardV1DateTimePickerTypeEnum": {
      "type": "enum",
      "members": {
        "DATE_AND_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATE_AND_TIME"
          }
        },
        "DATE_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATE_ONLY"
          }
        },
        "TIME_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_ONLY"
          }
        }
      }
    },
    "com.googleworkspace.chat_v1#ActionResponse": {
      "type": "structure",
      "members": {
        "updatedWidget": {
          "target": "com.googleworkspace.chat_v1#UpdatedWidget",
          "traits": {
            "smithy.api#documentation": "Input only. The response of the updated widget."
          }
        },
        "dialogAction": {
          "target": "com.googleworkspace.chat_v1#DialogAction",
          "traits": {
            "smithy.api#documentation": "Input only. A response to an interaction event related to a [dialog](https://developers.google.com/workspace/chat/dialogs). Must be accompanied by `ResponseType.Dialog`."
          }
        },
        "type": {
          "target": "com.googleworkspace.chat_v1#ActionResponseTypeEnum",
          "traits": {
            "smithy.api#documentation": "Input only. The type of Chat app response."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. URL for users to authenticate or configure. (Only for `REQUEST_CONFIG` response types.)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Parameters that a Chat app can use to configure how its response is posted."
      }
    },
    "com.googleworkspace.chat_v1#ActionResponseTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "NEW_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW_MESSAGE"
          }
        },
        "UPDATE_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_MESSAGE"
          }
        },
        "UPDATE_USER_MESSAGE_CARDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_USER_MESSAGE_CARDS"
          }
        },
        "REQUEST_CONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUEST_CONFIG"
          }
        },
        "DIALOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIALOG"
          }
        },
        "UPDATE_WIDGET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_WIDGET"
          }
        }
      }
    },
    "com.googleworkspace.chat_v1#Section": {
      "type": "structure",
      "members": {
        "header": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The header of the section. Formatted text is supported. For more information about formatting text, see [Formatting text in Google Chat apps](https://developers.google.com/workspace/chat/format-messages#card-formatting) and [Formatting text in Google Workspace Add-ons](https://developers.google.com/apps-script/add-ons/concepts/widgets#text_formatting)."
          }
        },
        "widgets": {
          "target": "com.googleworkspace.chat_v1#WidgetMarkupList",
          "traits": {
            "smithy.api#documentation": "A section must contain at least one widget."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A section contains a collection of widgets that are rendered (vertically) in the order that they are specified. Across all platforms, cards have a narrow fixed width, so there's currently no need for layout properties (for example, float)."
      }
    },
    "com.googleworkspace.chat_v1#WidgetMarkupList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.chat_v1#WidgetMarkup"
      }
    },
    "com.googleworkspace.chat_v1#StringInputs": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.googleworkspace.chat_v1#StringList",
          "traits": {
            "smithy.api#documentation": "An list of strings entered by the user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input parameter for regular widgets. For single-valued widgets, it is a single value list. For multi-valued widgets, such as checkbox, all the values are presented."
      }
    },
    "com.googleworkspace.chat_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.googleworkspace.chat_v1#GoogleAppsCardV1Trigger": {
      "type": "structure",
      "members": {
        "actionRuleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the ActionRule."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a trigger. Available for Google Workspace add-ons that extend Google Workspace Studio. Unavailable for Google Chat apps."
      }
    },
    "com.googleworkspace.chat_v1#CalendarEventLinkData": {
      "type": "structure",
      "members": {
        "eventId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [Event identifier](https://developers.google.com/workspace/calendar/api/v3/reference/events) of the linked Calendar event."
          }
        },
        "calendarId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [Calendar identifier](https://developers.google.com/workspace/calendar/api/v3/reference/calendars) of the linked Calendar."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data for Calendar event links."
      }
    },
    "com.googleworkspace.chat_v1#ListReactionsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Continuation token to retrieve the next page of results. It's empty for the last page of results."
          }
        },
        "reactions": {
          "target": "com.googleworkspace.chat_v1#ReactionList",
          "traits": {
            "smithy.api#documentation": "List of reactions in the requested (or first) page."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response to a list reactions request."
      }
    },
    "com.googleworkspace.chat_v1#ReactionList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.chat_v1#Reaction"
      }
    },
    "com.googleworkspace.chat_v1#MessagePin": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the message pin. Format: `spaces/{space}/messagePins/{message_pin}` The resource ID component matches the resource ID component of the message. For example, a message with `spaces/AAA/messages/bbb.ccc` corresponds to the message pin with the resource name `spaces/AAA/messagePins/bbb.ccc`."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The resource name of the message that is pinned. Format: `spaces/{space}/messages/{message}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A pin on a Chat message. For more information see [Pin a message](https://support.google.com/chat?p=chat-board-hc)."
      }
    },
    "com.googleworkspace.chat_v1#GoogleAppsCardV1TextParagraph": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text that's shown in the widget."
          }
        },
        "maxLines": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of lines of text that are displayed in the widget. If the text exceeds the specified maximum number of lines, the excess content is concealed behind a **show more** button. If the text is equal or shorter than the specified maximum number of lines, a **show more** button isn't displayed. The default value is 0, in which case all context is displayed. Negative values are ignored."
          }
        },
        "textSyntax": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1TextParagraphTextSyntaxEnum",
          "traits": {
            "smithy.api#documentation": "The syntax of the text. If not set, the text is rendered as HTML. [Google Chat apps](https://developers.google.com/workspace/chat):"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A paragraph of text that supports formatting. For an example in Google Chat apps, see [Add a paragraph of formatted text](https://developers.google.com/workspace/chat/add-text-image-card-dialog#add_a_paragraph_of_formatted_text). For more information about formatting text, see [Formatting text in Google Chat apps](https://developers.google.com/workspace/chat/format-messages#card-formatting) and [Formatting text in Google Workspace add-ons](https://developers.google.com/apps-script/add-ons/concepts/widgets#text_formatting). [Google Workspace add-ons and Chat apps](https://developers.google.com/workspace/extend):"
      }
    },
    "com.googleworkspace.chat_v1#GoogleAppsCardV1TextParagraphTextSyntaxEnum": {
      "type": "enum",
      "members": {
        "TEXT_SYNTAX_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT_SYNTAX_UNSPECIFIED"
          }
        },
        "HTML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTML"
          }
        },
        "MARKDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MARKDOWN"
          }
        }
      }
    },
    "com.googleworkspace.chat_v1#MarkAsAwayRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for the `MarkAsAway` method."
      }
    },
    "com.googleworkspace.chat_v1#GoogleAppsCardV1BorderStyle": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1BorderStyleTypeEnum",
          "traits": {
            "smithy.api#documentation": "The border type."
          }
        },
        "strokeColor": {
          "target": "com.googleworkspace.chat_v1#Color",
          "traits": {
            "smithy.api#documentation": "The colors to use when the type is `BORDER_TYPE_STROKE`. To set the stroke color, specify a value for the `red`, `green`, and `blue` fields. The value must be a float number between 0 and 1 based on the RGB color value, where `0` (0/255) represents the absence of color and `1` (255/255) represents the maximum intensity of the color. For example, the following sets the color to red at its maximum intensity: ``` \"color\": { \"red\": 1, \"green\": 0, \"blue\": 0, } ``` The `alpha` field is unavailable for stroke color. If specified, this field is ignored."
          }
        },
        "cornerRadius": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The corner radius for the border."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The style options for the border of a card or widget, including the border type and color. [Google Workspace add-ons and Chat apps](https://developers.google.com/workspace/extend):"
      }
    },
    "com.googleworkspace.chat_v1#GoogleAppsCardV1BorderStyleTypeEnum": {
      "type": "enum",
      "members": {
        "BORDER_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BORDER_TYPE_UNSPECIFIED"
          }
        },
        "NO_BORDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_BORDER"
          }
        },
        "STROKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STROKE"
          }
        }
      }
    },
    "com.googleworkspace.chat_v1#CompleteImportSpaceResponse": {
      "type": "structure",
      "members": {
        "space": {
          "target": "com.googleworkspace.chat_v1#Space",
          "traits": {
            "smithy.api#documentation": "The import mode space."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for completing the import process for a space."
      }
    },
    "com.googleworkspace.chat_v1#CustomEmojiMetadata": {
      "type": "structure",
      "members": {
        "customEmoji": {
          "target": "com.googleworkspace.chat_v1#CustomEmoji",
          "traits": {
            "smithy.api#documentation": "The custom emoji."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Annotation metadata for custom emoji."
      }
    },
    "com.googleworkspace.chat_v1#AttachedGif": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URL that hosts the GIF image."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A GIF image that's specified by a URL."
      }
    },
    "com.googleworkspace.chat_v1#WidgetMarkup": {
      "type": "structure",
      "members": {
        "textParagraph": {
          "target": "com.googleworkspace.chat_v1#TextParagraph",
          "traits": {
            "smithy.api#documentation": "Display a text paragraph in this widget."
          }
        },
        "buttons": {
          "target": "com.googleworkspace.chat_v1#ButtonList",
          "traits": {
            "smithy.api#documentation": "A list of buttons. Buttons is also `oneof data` and only one of these fields should be set."
          }
        },
        "image": {
          "target": "com.googleworkspace.chat_v1#Image",
          "traits": {
            "smithy.api#documentation": "Display an image in this widget."
          }
        },
        "keyValue": {
          "target": "com.googleworkspace.chat_v1#KeyValue",
          "traits": {
            "smithy.api#documentation": "Display a key value item in this widget."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A widget is a UI element that presents text and images."
      }
    },
    "com.googleworkspace.chat_v1#ButtonList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.chat_v1#Button"
      }
    },
    "com.googleworkspace.chat_v1#MessageBatchDeletedEventData": {
      "type": "structure",
      "members": {
        "messages": {
          "target": "com.googleworkspace.chat_v1#MessageDeletedEventDataList",
          "traits": {
            "smithy.api#documentation": "A list of deleted messages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Event payload for multiple deleted messages. Event type: `google.workspace.chat.message.v1.batchDeleted`"
      }
    },
    "com.googleworkspace.chat_v1#MessageDeletedEventDataList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.chat_v1#MessageDeletedEventData"
      }
    },
    "com.googleworkspace.chat_v1#GoogleAppsCardV1Condition": {
      "type": "structure",
      "members": {
        "actionRuleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the ActionRule."
          }
        },
        "expressionDataCondition": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1ExpressionDataCondition",
          "traits": {
            "smithy.api#documentation": "The condition that is determined by the expression data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a condition that can be used to trigger an action. Available for Google Workspace add-ons that extend Google Workspace Studio. Unavailable for Google Chat apps."
      }
    },
    "com.googleworkspace.chat_v1#MessageUpdatedEventData": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.googleworkspace.chat_v1#Message",
          "traits": {
            "smithy.api#documentation": "The updated message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Event payload for an updated message. Event type: `google.workspace.chat.message.v1.updated`"
      }
    },
    "com.googleworkspace.chat_v1#GoogleAppsCardV1CarouselCard": {
      "type": "structure",
      "members": {
        "footerWidgets": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1NestedWidgetList",
          "traits": {
            "smithy.api#documentation": "A list of widgets displayed at the bottom of the carousel card. The widgets are displayed in the order that they are specified."
          }
        },
        "widgets": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1NestedWidgetList",
          "traits": {
            "smithy.api#documentation": "A list of widgets displayed in the carousel card. The widgets are displayed in the order that they are specified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A card that can be displayed as a carousel item. [Google Chat apps](https://developers.google.com/workspace/chat):"
      }
    },
    "com.googleworkspace.chat_v1#GoogleAppsCardV1NestedWidgetList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1NestedWidget"
      }
    },
    "com.googleworkspace.chat_v1#Emoji": {
      "type": "structure",
      "members": {
        "customEmoji": {
          "target": "com.googleworkspace.chat_v1#CustomEmoji",
          "traits": {
            "smithy.api#documentation": "A custom emoji."
          }
        },
        "unicode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A basic emoji represented by a unicode string."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An emoji that is used as a reaction to a message."
      }
    },
    "com.googleworkspace.chat_v1#Attachment": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name of the attachment. Format: `spaces/{space}/messages/{message}/attachments/{attachment}`."
          }
        },
        "contentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The original file name for the content, not the full path."
          }
        },
        "contentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The content type (MIME type) of the file."
          }
        },
        "downloadUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The download URL which should be used to allow a human user to download the attachment. Chat apps shouldn't use this URL to download attachment content."
          }
        },
        "source": {
          "target": "com.googleworkspace.chat_v1#AttachmentSourceEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The source of the attachment."
          }
        },
        "attachmentDataRef": {
          "target": "com.googleworkspace.chat_v1#AttachmentDataRef",
          "traits": {
            "smithy.api#documentation": "Optional. A reference to the attachment data. This field is used to create or update messages with attachments, or with the media API to download the attachment data."
          }
        },
        "driveDataRef": {
          "target": "com.googleworkspace.chat_v1#DriveDataRef",
          "traits": {
            "smithy.api#documentation": "Output only. A reference to the Google Drive attachment. This field is used with the Google Drive API."
          }
        },
        "thumbnailUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The thumbnail URL which should be used to preview the attachment to a human user. Chat apps shouldn't use this URL to download attachment content."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An attachment in Google Chat."
      }
    },
    "com.googleworkspace.chat_v1#AttachmentSourceEnum": {
      "type": "enum",
      "members": {
        "SOURCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_UNSPECIFIED"
          }
        },
        "DRIVE_FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRIVE_FILE"
          }
        },
        "UPLOADED_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPLOADED_CONTENT"
          }
        }
      }
    },
    "com.googleworkspace.chat_v1#Dialog": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1Card",
          "traits": {
            "smithy.api#documentation": "Input only. Body of the dialog, which is rendered in a modal. Google Chat apps don't support the following card entities: `DateTimePicker`, `OnChangeAction`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Wrapper around the card body of the dialog."
      }
    },
    "com.googleworkspace.chat_v1#Color": {
      "type": "structure",
      "members": {
        "green": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The amount of green in the color as a value in the interval [0, 1]."
          }
        },
        "blue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The amount of blue in the color as a value in the interval [0, 1]."
          }
        },
        "red": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The amount of red in the color as a value in the interval [0, 1]."
          }
        },
        "alpha": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ..."
      }
    },
    "com.googleworkspace.chat_v1#TextButton": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text of the button."
          }
        },
        "onClick": {
          "target": "com.googleworkspace.chat_v1#OnClick",
          "traits": {
            "smithy.api#documentation": "The `onclick` action of the button."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A button with text and `onclick` action."
      }
    },
    "com.googleworkspace.chat_v1#UpdatedWidget": {
      "type": "structure",
      "members": {
        "suggestions": {
          "target": "com.googleworkspace.chat_v1#SelectionItems",
          "traits": {
            "smithy.api#documentation": "List of widget autocomplete results"
          }
        },
        "widget": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the updated widget. The ID must match the one for the widget that triggered the update request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "For `selectionInput` widgets, returns autocomplete suggestions for a multiselect menu."
      }
    },
    "com.googleworkspace.chat_v1#MessageBatchCreatedEventData": {
      "type": "structure",
      "members": {
        "messages": {
          "target": "com.googleworkspace.chat_v1#MessageCreatedEventDataList",
          "traits": {
            "smithy.api#documentation": "A list of new messages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Event payload for multiple new messages. Event type: `google.workspace.chat.message.v1.batchCreated`"
      }
    },
    "com.googleworkspace.chat_v1#MessageCreatedEventDataList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.chat_v1#MessageCreatedEventData"
      }
    },
    "com.googleworkspace.chat_v1#GoogleAppsCardV1TextInput": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1TextInputTypeEnum",
          "traits": {
            "smithy.api#documentation": "How a text input field appears in the user interface. For example, whether the field is single or multi-line."
          }
        },
        "placeholderText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text that appears in the text input field when the field is empty. Use this text to prompt users to enter a value. For example, `Enter a number from 0 to 100`. [Google Chat apps](https://developers.google.com/workspace/chat):"
          }
        },
        "hintText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text that appears below the text input field meant to assist users by prompting them to enter a certain value. This text is always visible. Required if `label` is unspecified. Otherwise, optional."
          }
        },
        "autoCompleteAction": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1Action",
          "traits": {
            "smithy.api#documentation": "Optional. Specify what action to take when the text input field provides suggestions to users who interact with it. If unspecified, the suggestions are set by `initialSuggestions` and are processed by the client. If specified, the app takes the action specified here, such as running a custom function. [Google Workspace add-ons](https://developers.google.com/workspace/add-ons):"
          }
        },
        "validation": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1Validation",
          "traits": {
            "smithy.api#documentation": "Specify the input format validation necessary for this text field. [Google Workspace add-ons and Chat apps](https://developers.google.com/workspace/extend):"
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text that appears above the text input field in the user interface. Specify text that helps the user enter the information your app needs. For example, if you are asking someone's name, but specifically need their surname, write `surname` instead of `name`. Required if `hintText` is unspecified. Otherwise, optional."
          }
        },
        "initialSuggestions": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1Suggestions",
          "traits": {
            "smithy.api#documentation": "Suggested values that users can enter. These values appear when users click inside the text input field. As users type, the suggested values dynamically filter to match what the users have typed. For example, a text input field for programming language might suggest Java, JavaScript, Python, and C++. When users start typing `Jav`, the list of suggestions filters to show just `Java` and `JavaScript`. Suggested values help guide users to enter values that your app can make sense of. When referring to JavaScript, some users might enter `javascript` and others `java script`. Suggesting `JavaScript` can standardize how users interact with your app. When specified, `TextInput.type` is always `SINGLE_LINE`, even if it's set to `MULTIPLE_LINE`. [Google Workspace add-ons and Chat apps](https://developers.google.com/workspace/extend):"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value entered by a user, returned as part of a form input event. For details about working with form inputs, see [Receive form data](https://developers.google.com/workspace/chat/read-form-data)."
          }
        },
        "hostAppDataSource": {
          "target": "com.googleworkspace.chat_v1#HostAppDataSourceMarkup",
          "traits": {
            "smithy.api#documentation": "A data source that's unique to a Google Workspace host application, such as Gmail emails, Google Calendar events, or Google Chat messages. Available for Google Workspace add-ons that extend Google Workspace Studio. Unavailable for Google Chat apps."
          }
        },
        "onChangeAction": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1Action",
          "traits": {
            "smithy.api#documentation": "What to do when a change occurs in the text input field. For example, a user adding to the field or deleting text. Examples of actions to take include running a custom function or opening a [dialog](https://developers.google.com/workspace/chat/dialogs) in Google Chat."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name by which the text input is identified in a form input event. For details about working with form inputs, see [Receive form data](https://developers.google.com/workspace/chat/read-form-data)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A field in which users can enter text. Supports suggestions and on-change actions. Supports form submission validation. When `Action.all_widgets_are_required` is set to `true` or this widget is specified in `Action.required_widgets`, the submission action is blocked unless a value is entered. For an example in Google Chat apps, see [Add a field in which a user can enter text](https://developers.google.com/workspace/chat/design-interactive-card-dialog#add_a_field_in_which_a_user_can_enter_text). Chat apps receive and can process the value of entered text during form input events. For details about working with form inputs, see [Receive form data](https://developers.google.com/workspace/chat/read-form-data). When you need to collect undefined or abstract data from users, use a text input. To collect defined or enumerated data from users, use the SelectionInput widget. [Google Workspace add-ons and Chat apps](https://developers.google.com/workspace/extend):"
      }
    },
    "com.googleworkspace.chat_v1#GoogleAppsCardV1TextInputTypeEnum": {
      "type": "enum",
      "members": {
        "SINGLE_LINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLE_LINE"
          }
        },
        "MULTIPLE_LINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTIPLE_LINE"
          }
        }
      }
    },
    "com.googleworkspace.chat_v1#PositionSectionRequest": {
      "type": "structure",
      "members": {
        "relativePosition": {
          "target": "com.googleworkspace.chat_v1#PositionSectionRequestRelativePositionEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The relative position of the section in the list of sections."
          }
        },
        "sortOrder": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The absolute position of the section in the list of sections. The position must be greater than 0. If the position is greater than the number of sections, the section will be appended to the end of the list. This operation inserts the section at the given position and shifts the original section at that position, and those below it, to the next position."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for positioning a section."
      }
    },
    "com.googleworkspace.chat_v1#PositionSectionRequestRelativePositionEnum": {
      "type": "enum",
      "members": {
        "POSITION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSITION_UNSPECIFIED"
          }
        },
        "START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START"
          }
        },
        "END": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "END"
          }
        }
      }
    },
    "com.googleworkspace.chat_v1#SectionItem": {
      "type": "structure",
      "members": {
        "space": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The space resource name. Format: `spaces/{space}`"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the section item. Format: `users/{user}/sections/{section}/items/{item}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A user's defined section item. This is used to represent section items, such as spaces, grouped under a section."
      }
    },
    "com.googleworkspace.chat_v1#MembershipUpdatedEventData": {
      "type": "structure",
      "members": {
        "membership": {
          "target": "com.googleworkspace.chat_v1#Membership",
          "traits": {
            "smithy.api#documentation": "The updated membership."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Event payload for an updated membership. Event type: `google.workspace.chat.membership.v1.updated`"
      }
    },
    "com.googleworkspace.chat_v1#SearchMessagesRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of results to return. The service may return fewer than this value. If unspecified, at most 25 are returned. The maximum value is 100. If you use a value more than 100, it's automatically changed to 100."
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. How the results list is ordered. Supported attributes to order by are: - `create_time`: Sorts the results by the time of the message creation. Default value. - `relevance`: Sorts the results by relevance. [Developer Preview](https://developers.google.com/workspace/preview). The default ordering is `create_time desc`. Only a single order per query (`create_time` or `relevance`) is supported. Only descending order (`desc`) is supported, and it must be specified after the order attribute."
          }
        },
        "markupSyntax": {
          "target": "com.googleworkspace.chat_v1#SearchMessagesRequestMarkupSyntaxEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the desired output syntax for the Chat message `formatted_text` field."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A search query. The query can specify one or more search keywords, which are used to filter the results, You can also filter the results using the following message fields: - `create_time`: Accepts a timestamp in [RFC-3339](https://www.rfc-editor.org/rfc/rfc3339) format and the supported comparison operators are: `<` and `>=`. - `sender.name`: The resource name of the sender (`users/{user}`). Only supports `=`. You can use the e-mail as an alias for `{user}`. For example, `users/example@gmail.com`, where `example@gmail.com` is the e-mail of the Google Chat user. - `space.name`: The resource name of the space where the message is posted. (`spaces/{space}`). Only supports `=`. If this filter is not set, the search is performed across all direct messages and spaces the user has access to as a space member. - `space.display_name`: Supports the operator `:` (has) and filters spaces based on a partial match of their display name. Results are limited to the top five space matches. For example, `space.display_name:Project` searches for messages in the top five spaces that contain the word \"Project\" in their display names. - `attachment`: Supports the operator `:*` (has any) to check for the presence of attachments. If `attachment:*` is specified, only messages that have at least one attachment are returned. - `annotations.user_mentions.user.name`: The resource name of the mentioned user (`users/{user}`). Only supports `:` (has). For example: `annotations.user_mentions.user.name:\"users/1234567890\"` returns only messages that contain a mention to the specified user. Alternatively, the alias `me` can be used to filter for messages that mention the caller user, for example: `annotations.user_mentions.user.name:users/me`. You can also use the e-mail as an alias for `{user}`, for example, `users/example@gmail.com`. For advanced filtering, the following functions are also available: - `has_link()`: Returns only messages that have at least one hyperlink in the message text. - `is_unread()`: Filters out messages that have been read by the calling user. Using the `space.display_name` filter requires that the calling credentials include one of the following [authorization scopes](https://developers.google.com/workspace/chat/authenticate-authorize#chat-api-scopes): - `https://www.googleapis.com/auth/chat.spaces.readonly` - `https://www.googleapis.com/auth/chat.spaces` Using the `is_unread()` filter requires that the calling credentials include one of the following [authorization scopes](https://developers.google.com/workspace/chat/authenticate-authorize#chat-api-scopes): - `https://www.googleapis.com/auth/chat.users.readstate.readonly` - `https://www.googleapis.com/auth/chat.users.readstate` Across different fields, only `AND` operators are supported. A valid example is `sender.name = \"users/1234567890\" AND is_unread()`. The word `AND` is optional and is implied if omitted. For example, `sender.name = \"users/1234567890\" is_unread()` is valid and is equivalent to the previous example. An invalid example is `sender.name = \"users/1234567890\" OR is_unread()` because `OR` is not supported between different fields. Among the same field: - `create_time` supports only `AND`, and can only be used to represent an interval, such as `create_time >= \"2022-01-01T00:00:00+00:00\" AND create_time < \"2023-01-01T00:00:00+00:00\"`. - `sender.name` supports only the `OR` operator, for example: `sender.name = \"users/1234567890\" OR sender.name = \"users/0987654321\"`. - `space.name` supports only the `OR` operator, for example: `space.name = \"spaces/ABCDEFGH\" OR space.name = \"spaces/QWERTYUI\"`. - `space.display_name` supports the operators `AND` and `OR`, but not a mix of both. For example: `space.display_name:Project AND space.display_name:Tasks` returns messages that are in spaces with display names containing both `Project` and `Tasks`, whereas `space.display_name:Project OR space.display_name:Tasks` returns messages that are in spaces with display names containing either `Project` or `Tasks` or both. - `annotations.user_mentions.user.name` supports the operators `AND` and `OR`, but not a mix of both. For example: `annotations.user_mentions.user.name:\"users/1234567890\" AND annotations.user_mentions.user.name:\"users/0987654321\"` returns only messages that mentions both users, whereas `annotations.user_mentions.user.name:\"users/1234567890\" OR annotations.user_mentions.user.name:\"users/0987654321\"` returns messages that mention either user or both. Parentheses are required to disambiguate operator precedence when combining `AND` and `OR` operators in the same query. For example: `(sender.name=\"users/me\" OR sender.name=\"users/123456\") AND is_unread()`. Otherwise, parentheses are optional. The following example queries are valid: ``` \"Pending reports\" AND create_time >= \"2023-01-01T00:00:00Z\" sender.name = \"users/example@gmail.com\" annotations.user_mentions.user.name:\"users/0987654321\" attachment:* AND space.name = \"spaces/ABCDEFGH\" tasks AND is_unread() AND sender.name = \"users/1234567890\" \"things to do\" \"urgent\" (sender.name = \"users/1234567890\") AND (create_time < \"2023-05-01T00:00:00Z\") tasks AND space.name = \"spaces/ABCDEFGH\" AND has_link() \"project one\" is_unread() space.display_name:Project tasks ``` The maximum query length is 1,000 characters. Invalid queries are rejected by the server with an `INVALID_ARGUMENT` error."
          }
        },
        "view": {
          "target": "com.googleworkspace.chat_v1#SearchMessagesRequestViewEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies what kind of search results view to return. The default is `SEARCH_MESSAGES_VIEW_BASIC`."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A token, received from the previous search messages call. Provide this parameter to retrieve the subsequent page. When paginating, all other parameters provided should match the call that provided the page token. Passing different values to the other parameters might lead to unexpected results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for searching messages."
      }
    },
    "com.googleworkspace.chat_v1#SearchMessagesRequestMarkupSyntaxEnum": {
      "type": "enum",
      "members": {
        "MARKUP_SYNTAX_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MARKUP_SYNTAX_UNSPECIFIED"
          }
        },
        "MARKUP_SYNTAX_CHAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MARKUP_SYNTAX_CHAT"
          }
        },
        "MARKUP_SYNTAX_MARKDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MARKUP_SYNTAX_MARKDOWN"
          }
        }
      }
    },
    "com.googleworkspace.chat_v1#SearchMessagesRequestViewEnum": {
      "type": "enum",
      "members": {
        "SEARCH_MESSAGES_VIEW_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEARCH_MESSAGES_VIEW_UNSPECIFIED"
          }
        },
        "SEARCH_MESSAGES_VIEW_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEARCH_MESSAGES_VIEW_BASIC"
          }
        },
        "SEARCH_MESSAGES_VIEW_FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEARCH_MESSAGES_VIEW_FULL"
          }
        }
      }
    },
    "com.googleworkspace.chat_v1#Inputs": {
      "type": "structure",
      "members": {
        "stringInputs": {
          "target": "com.googleworkspace.chat_v1#StringInputs",
          "traits": {
            "smithy.api#documentation": "A list of strings that represent the values that the user inputs in a widget. If the widget only accepts one value, such as a [`TextInput`](https://developers.google.com/chat/api/reference/rest/v1/cards#TextInput) widget, the list contains one string object. If the widget accepts multiple values, such as a [`SelectionInput`](https://developers.google.com/chat/api/reference/rest/v1/cards#selectioninput) widget of checkboxes, the list contains a string object for each value that the user inputs or selects."
          }
        },
        "timeInput": {
          "target": "com.googleworkspace.chat_v1#TimeInput",
          "traits": {
            "smithy.api#documentation": "Time input values from a [`DateTimePicker`](https://developers.google.com/chat/api/reference/rest/v1/cards#DateTimePicker) widget that only accepts time values."
          }
        },
        "dateInput": {
          "target": "com.googleworkspace.chat_v1#DateInput",
          "traits": {
            "smithy.api#documentation": "Date input values from a [`DateTimePicker`](https://developers.google.com/chat/api/reference/rest/v1/cards#DateTimePicker) widget that only accepts date values."
          }
        },
        "dateTimeInput": {
          "target": "com.googleworkspace.chat_v1#DateTimeInput",
          "traits": {
            "smithy.api#documentation": "Date and time input values from a [`DateTimePicker`](https://developers.google.com/chat/api/reference/rest/v1/cards#DateTimePicker) widget that accepts both a date and time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Types of data that users can [input on cards or dialogs](https://developers.google.com/chat/ui/read-form-data). The input type depends on the type of values that the widget accepts."
      }
    },
    "com.googleworkspace.chat_v1#GoogleAppsCardV1ExpressionData": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The uncompiled expression."
          }
        },
        "eventActions": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1EventActionList",
          "traits": {
            "smithy.api#documentation": "The list of actions that the ExpressionData can be used."
          }
        },
        "conditions": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1ConditionList",
          "traits": {
            "smithy.api#documentation": "The list of conditions that are determined by the expression evaluation result."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the ExpressionData."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the data that is used to evaluate an expression. Available for Google Workspace add-ons that extend Google Workspace Studio. Unavailable for Google Chat apps."
      }
    },
    "com.googleworkspace.chat_v1#GoogleAppsCardV1EventActionList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1EventAction"
      }
    },
    "com.googleworkspace.chat_v1#GoogleAppsCardV1ConditionList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1Condition"
      }
    },
    "com.googleworkspace.chat_v1#GoogleAppsCardV1Divider": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Displays a divider between widgets as a horizontal line. For an example in Google Chat apps, see [Add a horizontal divider between widgets](https://developers.google.com/workspace/chat/format-structure-card-dialog#add_a_horizontal_divider_between_widgets). [Google Workspace add-ons and Chat apps](https://developers.google.com/workspace/extend): For example, the following JSON creates a divider: ``` \"divider\": {} ```"
      }
    },
    "com.googleworkspace.chat_v1#GoogleAppsCardV1MaterialIcon": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The icon name defined in the [Google Material Icon](https://fonts.google.com/icons), for example, `check_box`. Any invalid names are abandoned and replaced with empty string and results in the icon failing to render."
          }
        },
        "fill": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the icon renders as filled. Default value is false. To preview different icon settings, go to [Google Font Icons](https://fonts.google.com/icons) and adjust the settings under **Customize**."
          }
        },
        "grade": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Weight and grade affect a symbol’s thickness. Adjustments to grade are more granular than adjustments to weight and have a small impact on the size of the symbol. Choose from {-25, 0, 200}. If absent, default value is 0. If any other value is specified, the default value is used. To preview different icon settings, go to [Google Font Icons](https://fonts.google.com/icons) and adjust the settings under **Customize**."
          }
        },
        "weight": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The stroke weight of the icon. Choose from {100, 200, 300, 400, 500, 600, 700}. If absent, default value is 400. If any other value is specified, the default value is used. To preview different icon settings, go to [Google Font Icons](https://fonts.google.com/icons) and adjust the settings under **Customize**."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A [Google Material Icon](https://fonts.google.com/icons), which includes over 2500+ options. For example, to display a [checkbox icon](https://fonts.google.com/icons?selected=Material%20Symbols%20Outlined%3Acheck_box%3AFILL%400%3Bwght%40400%3BGRAD%400%3Bopsz%4048) with customized weight and grade, write the following: ``` { \"name\": \"check_box\", \"fill\": true, \"weight\": 300, \"grade\": -25 } ``` [Google Chat apps](https://developers.google.com/workspace/chat):"
      }
    },
    "com.googleworkspace.chat_v1#GoogleChatV1Section": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name of the section. For system sections, the section ID is a constant string: - DEFAULT_DIRECT_MESSAGES: `users/{user}/sections/default-direct-messages` - DEFAULT_SPACES: `users/{user}/sections/default-spaces` - DEFAULT_APPS: `users/{user}/sections/default-apps` Format: `users/{user}/sections/{section}`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The section's display name. Only populated for sections of type `CUSTOM_SECTION`. Supports up to 80 characters. Required when creating a `CUSTOM_SECTION`."
          }
        },
        "sortOrder": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The order of the section in relation to other sections. Sections with a lower `sort_order` value appear before sections with a higher value."
          }
        },
        "type": {
          "target": "com.googleworkspace.chat_v1#GoogleChatV1SectionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of the section."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a [section](https://support.google.com/chat/answer/16059854) in Google Chat. Sections help users organize their spaces. There are two types of sections: 1. **System Sections:** These are predefined sections managed by Google Chat. Their resource names are fixed, and they cannot be created, deleted, or have their `display_name` modified. Examples include: * `users/{user}/sections/default-direct-messages` * `users/{user}/sections/default-spaces` * `users/{user}/sections/default-apps` 2. **Custom Sections:** These are sections created and managed by the user. Creating a custom section using `CreateSection` **requires** a `display_name`. Custom sections can be updated using `UpdateSection` and deleted using `DeleteSection`."
      }
    },
    "com.googleworkspace.chat_v1#GoogleChatV1SectionTypeEnum": {
      "type": "enum",
      "members": {
        "SECTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECTION_TYPE_UNSPECIFIED"
          }
        },
        "CUSTOM_SECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_SECTION"
          }
        },
        "DEFAULT_DIRECT_MESSAGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT_DIRECT_MESSAGES"
          }
        },
        "DEFAULT_SPACES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT_SPACES"
          }
        },
        "DEFAULT_APPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT_APPS"
          }
        }
      }
    },
    "com.googleworkspace.chat_v1#Card": {
      "type": "structure",
      "members": {
        "header": {
          "target": "com.googleworkspace.chat_v1#CardHeader",
          "traits": {
            "smithy.api#documentation": "The header of the card. A header usually contains a title and an image."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the card."
          }
        },
        "cardActions": {
          "target": "com.googleworkspace.chat_v1#CardActionList",
          "traits": {
            "smithy.api#documentation": "The actions of this card."
          }
        },
        "sections": {
          "target": "com.googleworkspace.chat_v1#SectionList",
          "traits": {
            "smithy.api#documentation": "Sections are separated by a line divider."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A card is a UI element that can contain UI widgets such as text and images."
      }
    },
    "com.googleworkspace.chat_v1#CardActionList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.chat_v1#CardAction"
      }
    },
    "com.googleworkspace.chat_v1#SectionList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.chat_v1#Section"
      }
    },
    "com.googleworkspace.chat_v1#PermissionSetting": {
      "type": "structure",
      "members": {
        "assistantManagersAllowed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether space managers `ROLE_ASSISTANT_MANAGER`) have this permission."
          }
        },
        "membersAllowed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether basic space members (`ROLE_MEMBER`) have this permission."
          }
        },
        "managersAllowed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether space owners (`ROLE_MANAGER`) have this permission."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a space permission setting."
      }
    },
    "com.googleworkspace.chat_v1#ChatClientDataSourceMarkup": {
      "type": "structure",
      "members": {
        "spaceDataSource": {
          "target": "com.googleworkspace.chat_v1#SpaceDataSource",
          "traits": {
            "smithy.api#documentation": "Google Chat spaces that the user is a member of."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "For a `SelectionInput` widget that uses a multiselect menu, a data source from Google Chat. The data source populates selection items for the multiselect menu. For example, a user can select Google Chat spaces that they're a member of. [Google Chat apps](https://developers.google.com/workspace/chat):"
      }
    },
    "com.googleworkspace.chat_v1#MoveSectionItemResponse": {
      "type": "structure",
      "members": {
        "sectionItem": {
          "target": "com.googleworkspace.chat_v1#SectionItem",
          "traits": {
            "smithy.api#documentation": "The updated section item."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for moving a section item."
      }
    },
    "com.googleworkspace.chat_v1#CardHeader": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title must be specified. The header has a fixed height: if both a title and subtitle is specified, each takes up one line. If only the title is specified, it takes up both lines."
          }
        },
        "imageStyle": {
          "target": "com.googleworkspace.chat_v1#CardHeaderImageStyleEnum",
          "traits": {
            "smithy.api#documentation": "The image's type (for example, square border or circular border)."
          }
        },
        "imageUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the image in the card header."
          }
        },
        "subtitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subtitle of the card header."
          }
        }
      }
    },
    "com.googleworkspace.chat_v1#CardHeaderImageStyleEnum": {
      "type": "enum",
      "members": {
        "IMAGE_STYLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_STYLE_UNSPECIFIED"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE"
          }
        },
        "AVATAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVATAR"
          }
        }
      }
    },
    "com.googleworkspace.chat_v1#DateInput": {
      "type": "structure",
      "members": {
        "msSinceEpoch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time since epoch time, in milliseconds."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Date input values."
      }
    },
    "com.googleworkspace.chat_v1#GoogleAppsCardV1Section": {
      "type": "structure",
      "members": {
        "widgets": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1WidgetList",
          "traits": {
            "smithy.api#documentation": "All the widgets in the section. Must contain at least one widget."
          }
        },
        "header": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text that appears at the top of a section. Supports simple HTML formatted text. For more information about formatting text, see [Formatting text in Google Chat apps](https://developers.google.com/workspace/chat/format-messages#card-formatting) and [Formatting text in Google Workspace add-ons](https://developers.google.com/apps-script/add-ons/concepts/widgets#text_formatting)."
          }
        },
        "uncollapsibleWidgetsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of uncollapsible widgets which remain visible even when a section is collapsed. For example, when a section contains five widgets and the `uncollapsibleWidgetsCount` is set to `2`, the first two widgets are always shown and the last three are collapsed by default. The `uncollapsibleWidgetsCount` is taken into account only when `collapsible` is `true`."
          }
        },
        "collapseControl": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1CollapseControl",
          "traits": {
            "smithy.api#documentation": "Optional. Define the expand and collapse button of the section. This button will be shown only if the section is collapsible. If this field isn't set, the default button is used."
          }
        },
        "collapsible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether this section is collapsible. Collapsible sections hide some or all widgets, but users can expand the section to reveal the hidden widgets by clicking **Show more**. Users can hide the widgets again by clicking **Show less**. To determine which widgets are hidden, specify `uncollapsibleWidgetsCount`."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique ID assigned to the section that's used to identify the section to be mutated. The ID has a character limit of 64 characters and should be in the format of `[a-zA-Z0-9-]+`. Available for Google Workspace add-ons that extend Google Workspace Studio. Unavailable for Google Chat apps."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A section contains a collection of widgets that are rendered vertically in the order that they're specified. [Google Workspace add-ons and Chat apps](https://developers.google.com/workspace/extend):"
      }
    },
    "com.googleworkspace.chat_v1#GoogleAppsCardV1WidgetList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1Widget"
      }
    },
    "com.googleworkspace.chat_v1#CompleteImportSpaceRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for completing the import process for a space."
      }
    },
    "com.googleworkspace.chat_v1#AppCommandMetadata": {
      "type": "structure",
      "members": {
        "appCommandType": {
          "target": "com.googleworkspace.chat_v1#AppCommandMetadataAppCommandTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of Chat app command."
          }
        },
        "appCommandId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID for the command specified in the Chat API configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata about a [Chat app command](https://developers.google.com/workspace/chat/commands)."
      }
    },
    "com.googleworkspace.chat_v1#AppCommandMetadataAppCommandTypeEnum": {
      "type": "enum",
      "members": {
        "APP_COMMAND_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_COMMAND_TYPE_UNSPECIFIED"
          }
        },
        "SLASH_COMMAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SLASH_COMMAND"
          }
        },
        "QUICK_COMMAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUICK_COMMAND"
          }
        },
        "MESSAGE_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MESSAGE_ACTION"
          }
        }
      }
    },
    "com.googleworkspace.chat_v1#GoogleAppsCardV1NestedWidget": {
      "type": "structure",
      "members": {
        "textParagraph": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1TextParagraph",
          "traits": {
            "smithy.api#documentation": "A text paragraph widget."
          }
        },
        "image": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1Image",
          "traits": {
            "smithy.api#documentation": "An image widget."
          }
        },
        "buttonList": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1ButtonList",
          "traits": {
            "smithy.api#documentation": "A button list widget."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of widgets that can be displayed in a containing layout, such as a `CarouselCard`. [Google Chat apps](https://developers.google.com/workspace/chat):"
      }
    },
    "com.googleworkspace.chat_v1#GoogleAppsCardV1ExpressionDataCondition": {
      "type": "structure",
      "members": {
        "conditionType": {
          "target": "com.googleworkspace.chat_v1#GoogleAppsCardV1ExpressionDataConditionConditionTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the condition."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a condition that is evaluated using CEL. Available for Google Workspace add-ons that extend Google Workspace Studio. Unavailable for Google Chat apps."
      }
    },
    "com.googleworkspace.chat_v1#GoogleAppsCardV1ExpressionDataConditionConditionTypeEnum": {
      "type": "enum",
      "members": {
[...]
