{
  "smithy": "2.0",
  "metadata": {
    "service": "cloudidentity",
    "version": "v1",
    "title": "Cloud Identity API",
    "baseUrl": "https://cloudidentity.googleapis.com/"
  },
  "shapes": {
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1CertificateTemplate": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The template id of the template. Example: \"1.3.6.1.4.1.311.21.8.15608621.11768144.5720724.16068415.6889630.81.2472537.7784047\"."
          }
        },
        "majorVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Major version of the template. Example: 100."
          }
        },
        "minorVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The minor version of the template. Example: 12."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CertificateTemplate (v3 Extension in X.509)."
      }
    },
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1ListDevicesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results. Empty if there are no more results."
          }
        },
        "devices": {
          "target": "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceList",
          "traits": {
            "smithy.api#documentation": "Devices meeting the list restrictions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message that is returned from the ListDevices method."
      }
    },
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1Device"
      }
    },
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1BrowserAttributes": {
      "type": "structure",
      "members": {
        "chromeProfileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Chrome profile ID that is exposed by the Chrome API. It is unique for each device."
          }
        },
        "chromeBrowserInfo": {
          "target": "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1BrowserInfo",
          "traits": {
            "smithy.api#documentation": "Represents the current state of the [Chrome browser attributes](https://cloud.google.com/access-context-manager/docs/browser-attributes) sent by the [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1)."
          }
        },
        "lastProfileSyncTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp in milliseconds since the Unix epoch when the profile/gcm id was last synced."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains information about browser profiles reported by the [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1)."
      }
    },
    "com.googleworkspace.cloudidentity_v1#SecuritySettings": {
      "type": "structure",
      "members": {
        "memberRestriction": {
          "target": "com.googleworkspace.cloudidentity_v1#MemberRestriction",
          "traits": {
            "smithy.api#documentation": "The Member Restriction value"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the security settings. Shall be of the form `groups/{group_id}/securitySettings`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The definition of security settings."
      }
    },
    "com.googleworkspace.cloudidentity_v1#ListGroupsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results available for listing."
          }
        },
        "groups": {
          "target": "com.googleworkspace.cloudidentity_v1#GroupList",
          "traits": {
            "smithy.api#documentation": "Groups returned in response to list request. The results are not sorted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListGroups operation."
      }
    },
    "com.googleworkspace.cloudidentity_v1#GroupList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.cloudidentity_v1#Group"
      }
    },
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1ListEndpointAppsMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for ListEndpointApps LRO."
      }
    },
    "com.googleworkspace.cloudidentity_v1#InboundOidcSsoProfile": {
      "type": "structure",
      "members": {
        "customer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The customer. For example: `customers/C0123abc`."
          }
        },
        "rpConfig": {
          "target": "com.googleworkspace.cloudidentity_v1#OidcRpConfig",
          "traits": {
            "smithy.api#documentation": "OIDC relying party (RP) configuration for this OIDC SSO profile. These are the RP details provided by Google that should be configured on the corresponding identity provider."
          }
        },
        "idpConfig": {
          "target": "com.googleworkspace.cloudidentity_v1#OidcIdpConfig",
          "traits": {
            "smithy.api#documentation": "OIDC identity provider configuration."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the OIDC SSO profile."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the OIDC SSO profile."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An [OIDC](https://openid.net/developers/how-connect-works/) federation between a Google enterprise customer and an OIDC identity provider."
      }
    },
    "com.googleworkspace.cloudidentity_v1#Status": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.googleworkspace.cloudidentity_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.googleworkspace.cloudidentity_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.googleworkspace.cloudidentity_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.cloudidentity_v1#DocumentMap"
      }
    },
    "com.googleworkspace.cloudidentity_v1#DeleteInboundSamlSsoProfileOperationMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "LRO response metadata for InboundSamlSsoProfilesService.DeleteInboundSamlSsoProfile."
      }
    },
    "com.googleworkspace.cloudidentity_v1#SamlSpConfig": {
      "type": "structure",
      "members": {
        "assertionConsumerServiceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The SAML **Assertion Consumer Service (ACS) URL** to be used for the IDP-initiated login. Assumed to accept response messages via the `HTTP-POST` binding."
          }
        },
        "entityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The SAML **Entity ID** for this service provider."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SAML SP (service provider) configuration."
      }
    },
    "com.googleworkspace.cloudidentity_v1#UpdateMembershipMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for UpdateMembership LRO."
      }
    },
    "com.googleworkspace.cloudidentity_v1#CancelUserInvitationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request to cancel sent invitation for target email in UserInvitation."
      }
    },
    "com.googleworkspace.cloudidentity_v1#ModifyMembershipRolesResponse": {
      "type": "structure",
      "members": {
        "membership": {
          "target": "com.googleworkspace.cloudidentity_v1#Membership",
          "traits": {
            "smithy.api#documentation": "The `Membership` resource after modifying its `MembershipRole`s."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for MembershipsService.ModifyMembershipRoles."
      }
    },
    "com.googleworkspace.cloudidentity_v1#ListPoliciesResponse": {
      "type": "structure",
      "members": {
        "policies": {
          "target": "com.googleworkspace.cloudidentity_v1#PolicyList",
          "traits": {
            "smithy.api#documentation": "The results"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pagination token to retrieve the next page of results. If this field is empty, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for PoliciesService.ListPolicies."
      }
    },
    "com.googleworkspace.cloudidentity_v1#PolicyList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.cloudidentity_v1#Policy"
      }
    },
    "com.googleworkspace.cloudidentity_v1#OidcIdpConfig": {
      "type": "structure",
      "members": {
        "issuerUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Issuer identifier for the IdP. Must be a URL. The discovery URL will be derived from this as described in Section 4 of [the OIDC specification](https://openid.net/specs/openid-connect-discovery-1_0.html)."
          }
        },
        "changePasswordUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The **Change Password URL** of the identity provider. Users will be sent to this URL when changing their passwords at `myaccount.google.com`. This takes precedence over the change password URL configured at customer-level. Must use `HTTPS`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OIDC IDP (identity provider) configuration."
      }
    },
    "com.googleworkspace.cloudidentity_v1#ListInboundSsoAssignmentsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "inboundSsoAssignments": {
          "target": "com.googleworkspace.cloudidentity_v1#InboundSsoAssignmentList",
          "traits": {
            "smithy.api#documentation": "The assignments."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of the InboundSsoAssignmentsService.ListInboundSsoAssignments method."
      }
    },
    "com.googleworkspace.cloudidentity_v1#InboundSsoAssignmentList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.cloudidentity_v1#InboundSsoAssignment"
      }
    },
    "com.googleworkspace.cloudidentity_v1#DynamicGroupQuery": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Query that determines the memberships of the dynamic group. Examples: All users with at least one `organizations.department` of engineering. `user.organizations.exists(org, org.department=='engineering')` All users with at least one location that has `area` of `foo` and `building_id` of `bar`. `user.locations.exists(loc, loc.area=='foo' && loc.building_id=='bar')` All users with any variation of the name John Doe (case-insensitive queries add `equalsIgnoreCase()` to the value being queried). `user.name.value.equalsIgnoreCase('jOhn DoE')`"
          }
        },
        "resourceType": {
          "target": "com.googleworkspace.cloudidentity_v1#DynamicGroupQueryResourceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Resource type for the Dynamic Group Query"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a query on a resource."
      }
    },
    "com.googleworkspace.cloudidentity_v1#DynamicGroupQueryResourceTypeEnum": {
      "type": "enum",
      "members": {
        "RESOURCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_TYPE_UNSPECIFIED"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER"
          }
        }
      }
    },
    "com.googleworkspace.cloudidentity_v1#UpdateGroupMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for UpdateGroup LRO."
      }
    },
    "com.googleworkspace.cloudidentity_v1#UpdateInboundSsoAssignmentOperationMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "LRO response metadata for InboundSsoAssignmentsService.UpdateInboundSsoAssignment."
      }
    },
    "com.googleworkspace.cloudidentity_v1#DeleteIdpCredentialOperationMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "LRO response metadata for InboundSamlSsoProfilesService.DeleteIdpCredential."
      }
    },
    "com.googleworkspace.cloudidentity_v1#Group": {
      "type": "structure",
      "members": {
        "additionalGroupKeys": {
          "target": "com.googleworkspace.cloudidentity_v1#EntityKeyList",
          "traits": {
            "smithy.api#documentation": "Output only. Additional group keys associated with the Group."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group`. Shall be of the form `groups/{group}`."
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The resource name of the entity under which this `Group` resides in the Cloud Identity resource hierarchy. Must be of the form `identitysources/{identity_source}` for external [identity-mapped groups](https://support.google.com/a/answer/9039510) or `customers/{customer_id}` for Google Groups. The `customer_id` must begin with \"C\" (for example, 'C046psxkn'). [Find your customer ID.] (https://support.google.com/cloudidentity/answer/10070793)"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the `Group` was created."
          }
        },
        "groupKey": {
          "target": "com.googleworkspace.cloudidentity_v1#EntityKey",
          "traits": {
            "smithy.api#documentation": "Required. The `EntityKey` of the `Group`."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the `Group` was last updated."
          }
        },
        "dynamicGroupMetadata": {
          "target": "com.googleworkspace.cloudidentity_v1#DynamicGroupMetadata",
          "traits": {
            "smithy.api#documentation": "Optional. Dynamic group metadata like queries and status."
          }
        },
        "labels": {
          "target": "com.googleworkspace.cloudidentity_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Required. One or more label entries that apply to the Group. Labels contain a key with an empty value. Google Groups are the default type of group and have a label with a key of `cloudidentity.googleapis.com/groups.discussion_forum` and an empty value. Existing Google Groups can have an additional label with a key of `cloudidentity.googleapis.com/groups.security` and an empty value added to them. **This is an immutable change and the security label cannot be removed once added.** Dynamic groups have a label with a key of `cloudidentity.googleapis.com/groups.dynamic`. Identity-mapped groups for Cloud Search have a label with a key of `system/groups/external` and an empty value. Google Groups can be [locked](https://support.google.com/a?p=locked-groups). To lock a group, add a label with a key of `cloudidentity.googleapis.com/groups.locked` and an empty value. Doing so locks the group. To unlock the group, remove this label."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An extended description to help users determine the purpose of a `Group`. Must not be longer than 4,096 characters."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the `Group`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A group within the Cloud Identity Groups API. A `Group` is a collection of entities, where each entity is either a user, another group, or a service account."
      }
    },
    "com.googleworkspace.cloudidentity_v1#EntityKeyList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.cloudidentity_v1#EntityKey"
      }
    },
    "com.googleworkspace.cloudidentity_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.googleworkspace.cloudidentity_v1#ListInboundSamlSsoProfilesResponse": {
      "type": "structure",
      "members": {
        "inboundSamlSsoProfiles": {
          "target": "com.googleworkspace.cloudidentity_v1#InboundSamlSsoProfileList",
          "traits": {
            "smithy.api#documentation": "List of InboundSamlSsoProfiles."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of the InboundSamlSsoProfilesService.ListInboundSamlSsoProfiles method."
      }
    },
    "com.googleworkspace.cloudidentity_v1#InboundSamlSsoProfileList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.cloudidentity_v1#InboundSamlSsoProfile"
      }
    },
    "com.googleworkspace.cloudidentity_v1#SendUserInvitationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A request to send email for inviting target user corresponding to the UserInvitation."
      }
    },
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1ApproveDeviceUserResponse": {
      "type": "structure",
      "members": {
        "deviceUser": {
          "target": "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceUser",
          "traits": {
            "smithy.api#documentation": "Resultant DeviceUser object for the action."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for approving the device to access user data."
      }
    },
    "com.googleworkspace.cloudidentity_v1#MembershipAdjacencyList": {
      "type": "structure",
      "members": {
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of the group that the members belong to."
          }
        },
        "edges": {
          "target": "com.googleworkspace.cloudidentity_v1#MembershipList",
          "traits": {
            "smithy.api#documentation": "Each edge contains information about the member that belongs to this group. Note: Fields returned here will help identify the specific Membership resource (e.g `name`, `preferred_member_key` and `role`), but may not be a comprehensive list of all fields."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Membership graph's path information as an adjacency list."
      }
    },
    "com.googleworkspace.cloudidentity_v1#MembershipList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.cloudidentity_v1#Membership"
      }
    },
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeleteDeviceMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for DeleteDevice LRO."
      }
    },
    "com.googleworkspace.cloudidentity_v1#MemberRestriction": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Member Restriction as defined by CEL expression. Supported restrictions are: `member.customer_id` and `member.type`. Valid values for `member.type` are `1`, `2` and `3`. They correspond to USER, SERVICE_ACCOUNT, and GROUP respectively. The value for `member.customer_id` only supports `groupCustomerId()` currently which means the customer id of the group will be used for restriction. Supported operators are `&&`, `||` and `==`, corresponding to AND, OR, and EQUAL. Examples: Allow only service accounts of given customer to be members. `member.type == 2 && member.customer_id == groupCustomerId()` Allow only users or groups to be members. `member.type == 1 || member.type == 3`"
          }
        },
        "evaluation": {
          "target": "com.googleworkspace.cloudidentity_v1#RestrictionEvaluation",
          "traits": {
            "smithy.api#documentation": "The evaluated state of this restriction on a group."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The definition of MemberRestriction"
      }
    },
    "com.googleworkspace.cloudidentity_v1#UpdateMembershipRolesParams": {
      "type": "structure",
      "members": {
        "membershipRole": {
          "target": "com.googleworkspace.cloudidentity_v1#MembershipRole",
          "traits": {
            "smithy.api#documentation": "The `MembershipRole`s to be updated. Only `MEMBER` `MembershipRole` can currently be updated."
          }
        },
        "fieldMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully-qualified names of fields to update. May only contain the field `expiry_detail.expire_time`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The details of an update to a `MembershipRole`."
      }
    },
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1WipeDeviceUserMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for WipeDeviceUser LRO."
      }
    },
    "com.googleworkspace.cloudidentity_v1#ListInboundOidcSsoProfilesResponse": {
      "type": "structure",
      "members": {
        "inboundOidcSsoProfiles": {
          "target": "com.googleworkspace.cloudidentity_v1#InboundOidcSsoProfileList",
          "traits": {
            "smithy.api#documentation": "List of InboundOidcSsoProfiles."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of the InboundOidcSsoProfilesService.ListInboundOidcSsoProfiles method."
      }
    },
    "com.googleworkspace.cloudidentity_v1#InboundOidcSsoProfileList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.cloudidentity_v1#InboundOidcSsoProfile"
      }
    },
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1CreateDeviceMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for CreateDevice LRO."
      }
    },
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1AndroidAttributes": {
      "type": "structure",
      "members": {
        "ctsProfileMatch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the device passes Android CTS compliance."
          }
        },
        "hasPotentiallyHarmfulApps": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether any potentially harmful apps were detected on the device."
          }
        },
        "verifiedBoot": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Android verified boot status is GREEN."
          }
        },
        "ownershipPrivilege": {
          "target": "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1AndroidAttributesOwnershipPrivilegeEnum",
          "traits": {
            "smithy.api#documentation": "Ownership privileges on device."
          }
        },
        "verifyAppsEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Google Play Protect Verify Apps is enabled."
          }
        },
        "ownerProfileAccount": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this account is on an owner/primary profile. For phones, only true for owner profiles. Android 4+ devices can have secondary or restricted user profiles."
          }
        },
        "enabledUnknownSources": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether applications from unknown sources can be installed on device."
          }
        },
        "supportsWorkProfile": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether device supports Android work profiles. If false, this service will not block access to corp data even if an administrator turns on the \"Enforce Work Profile\" policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource representing the Android specific attributes of a Device."
      }
    },
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1AndroidAttributesOwnershipPrivilegeEnum": {
      "type": "enum",
      "members": {
        "OWNERSHIP_PRIVILEGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_PRIVILEGE_UNSPECIFIED"
          }
        },
        "DEVICE_ADMINISTRATOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_ADMINISTRATOR"
          }
        },
        "PROFILE_OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROFILE_OWNER"
          }
        },
        "DEVICE_OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_OWNER"
          }
        }
      }
    },
    "com.googleworkspace.cloudidentity_v1#CreateInboundSsoAssignmentOperationMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "LRO response metadata for InboundSsoAssignmentsService.CreateInboundSsoAssignment."
      }
    },
    "com.googleworkspace.cloudidentity_v1#Operation": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.googleworkspace.cloudidentity_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "error": {
          "target": "com.googleworkspace.cloudidentity_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "response": {
          "target": "com.googleworkspace.cloudidentity_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.googleworkspace.cloudidentity_v1#DeleteInboundSsoAssignmentOperationMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "LRO response metadata for InboundSsoAssignmentsService.DeleteInboundSsoAssignment."
      }
    },
    "com.googleworkspace.cloudidentity_v1#RestrictionEvaluations": {
      "type": "structure",
      "members": {
        "memberRestrictionEvaluation": {
          "target": "com.googleworkspace.cloudidentity_v1#MembershipRoleRestrictionEvaluation",
          "traits": {
            "smithy.api#documentation": "Evaluation of the member restriction applied to this membership. Empty if the user lacks permission to view the restriction evaluation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Evaluations of restrictions applied to parent group on this membership."
      }
    },
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1ApproveDeviceUserMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for ApproveDeviceUser LRO."
      }
    },
    "com.googleworkspace.cloudidentity_v1#ListUserInvitationsResponse": {
      "type": "structure",
      "members": {
        "userInvitations": {
          "target": "com.googleworkspace.cloudidentity_v1#UserInvitationList",
          "traits": {
            "smithy.api#documentation": "The list of UserInvitation resources."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token for the next page. If not empty, indicates that there may be more `UserInvitation` resources that match the listing request; this value can be used in a subsequent ListUserInvitationsRequest to get continued results with the current list call."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for UserInvitation listing request."
      }
    },
    "com.googleworkspace.cloudidentity_v1#UserInvitationList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.cloudidentity_v1#UserInvitation"
      }
    },
    "com.googleworkspace.cloudidentity_v1#SamlIdpConfig": {
      "type": "structure",
      "members": {
        "entityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The SAML **Entity ID** of the identity provider."
          }
        },
        "logoutRedirectUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The **Logout Redirect URL** (sign-out page URL) of the identity provider. When a user clicks the sign-out link on a Google page, they will be redirected to this URL. This is a pure redirect with no attached SAML `LogoutRequest` i.e. SAML single logout is not supported. Must use `HTTPS`."
          }
        },
        "changePasswordUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The **Change Password URL** of the identity provider. Users will be sent to this URL when changing their passwords at `myaccount.google.com`. This takes precedence over the change password URL configured at customer-level. Must use `HTTPS`."
          }
        },
        "singleSignOnServiceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The `SingleSignOnService` endpoint location (sign-in page URL) of the identity provider. This is the URL where the `AuthnRequest` will be sent. Must use `HTTPS`. Assumed to accept the `HTTP-Redirect` binding."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SAML IDP (identity provider) configuration."
      }
    },
    "com.googleworkspace.cloudidentity_v1#OidcRpConfig": {
      "type": "structure",
      "members": {
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth2 client ID for OIDC."
          }
        },
        "clientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. OAuth2 client secret for OIDC."
          }
        },
        "redirectUris": {
          "target": "com.googleworkspace.cloudidentity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The URL(s) that this client may use in authentication requests."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OIDC RP (relying party) configuration."
      }
    },
    "com.googleworkspace.cloudidentity_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1UpdateClientStateMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for UpdateClientState LRO."
      }
    },
    "com.googleworkspace.cloudidentity_v1#EntityKey": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the entity. For Google-managed entities, the `id` should be the email address of an existing group or user. Email addresses need to adhere to [name guidelines for users and groups](https://support.google.com/a/answer/9193374). For external-identity-mapped entities, the `id` must be a string conforming to the Identity Source's requirements. Must be unique within a `namespace`."
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The namespace in which the entity exists. If not specified, the `EntityKey` represents a Google-managed entity such as a Google user or a Google Group. If specified, the `EntityKey` represents an external-identity-mapped group. The namespace must correspond to an identity source created in Admin Console and must be in the form of `identitysources/{identity_source}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A unique identifier for an entity in the Cloud Identity Groups API. An entity can represent either a group with an optional `namespace` or a user without a `namespace`. The combination of `id` and `namespace` must be unique; however, the same `id` can be used with different `namespace`s."
      }
    },
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1ApproveDeviceUserRequest": {
      "type": "structure",
      "members": {
        "customer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for approving the device to access user data."
      }
    },
    "com.googleworkspace.cloudidentity_v1#InboundSamlSsoProfile": {
      "type": "structure",
      "members": {
        "customer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The customer. For example: `customers/C0123abc`."
          }
        },
        "spConfig": {
          "target": "com.googleworkspace.cloudidentity_v1#SamlSpConfig",
          "traits": {
            "smithy.api#documentation": "SAML service provider configuration for this SAML SSO profile. These are the service provider details provided by Google that should be configured on the corresponding identity provider."
          }
        },
        "idpConfig": {
          "target": "com.googleworkspace.cloudidentity_v1#SamlIdpConfig",
          "traits": {
            "smithy.api#documentation": "SAML identity provider configuration."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the SAML SSO profile."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the SAML SSO profile."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A [SAML 2.0](https://www.oasis-open.org/standards#samlv2.0) federation between a Google enterprise customer and a SAML identity provider."
      }
    },
    "com.googleworkspace.cloudidentity_v1#IdpCredential": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the credential."
          }
        },
        "rsaKeyInfo": {
          "target": "com.googleworkspace.cloudidentity_v1#RsaPublicKeyInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Information of a RSA public key."
          }
        },
        "dsaKeyInfo": {
          "target": "com.googleworkspace.cloudidentity_v1#DsaPublicKeyInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Information of a DSA public key."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the `IdpCredential` was last updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Credential for verifying signatures produced by the Identity Provider."
      }
    },
    "com.googleworkspace.cloudidentity_v1#MemberRelation": {
      "type": "structure",
      "members": {
        "preferredMemberKey": {
          "target": "com.googleworkspace.cloudidentity_v1#EntityKeyList",
          "traits": {
            "smithy.api#documentation": "Entity key has an id and a namespace. In case of discussion forums, the id will be an email address without a namespace."
          }
        },
        "roles": {
          "target": "com.googleworkspace.cloudidentity_v1#TransitiveMembershipRoleList",
          "traits": {
            "smithy.api#documentation": "The membership role details (i.e name of role and expiry time)."
          }
        },
        "member": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for this member."
          }
        },
        "relationType": {
          "target": "com.googleworkspace.cloudidentity_v1#MemberRelationRelationTypeEnum",
          "traits": {
            "smithy.api#documentation": "The relation between the group and the transitive member."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message representing a transitive membership of a group."
      }
    },
    "com.googleworkspace.cloudidentity_v1#TransitiveMembershipRoleList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.cloudidentity_v1#TransitiveMembershipRole"
      }
    },
    "com.googleworkspace.cloudidentity_v1#MemberRelationRelationTypeEnum": {
      "type": "enum",
      "members": {
        "RELATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELATION_TYPE_UNSPECIFIED"
          }
        },
        "DIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECT"
          }
        },
        "INDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDIRECT"
          }
        },
        "DIRECT_AND_INDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECT_AND_INDIRECT"
          }
        }
      }
    },
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1ListDeviceUsersResponse": {
      "type": "structure",
      "members": {
        "deviceUsers": {
          "target": "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceUserList",
          "traits": {
            "smithy.api#documentation": "Devices meeting the list restrictions."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results. Empty if there are no more results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message that is returned from the ListDeviceUsers method."
      }
    },
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceUserList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceUser"
      }
    },
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1WipeDeviceUserResponse": {
      "type": "structure",
      "members": {
        "deviceUser": {
          "target": "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceUser",
          "traits": {
            "smithy.api#documentation": "Resultant DeviceUser object for the action."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for wiping the user's account from the device."
      }
    },
    "com.googleworkspace.cloudidentity_v1#ExpiryDetail": {
      "type": "structure",
      "members": {
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the `MembershipRole` will expire."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `MembershipRole` expiry details."
      }
    },
    "com.googleworkspace.cloudidentity_v1#UserInvitation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Shall be of the form `customers/{customer}/userinvitations/{user_email_address}`."
          }
        },
        "mailsSentCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of invitation emails sent to the user."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when the `UserInvitation` was last updated."
          }
        },
        "state": {
          "target": "com.googleworkspace.cloudidentity_v1#UserInvitationStateEnum",
          "traits": {
            "smithy.api#documentation": "State of the `UserInvitation`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `UserInvitation` resource represents an email that can be sent to an unmanaged user account inviting them to join the customer's Google Workspace or Cloud Identity account. An unmanaged account shares an email address domain with the Google Workspace or Cloud Identity account but is not managed by it yet. If the user accepts the `UserInvitation`, the user account will become managed."
      }
    },
    "com.googleworkspace.cloudidentity_v1#UserInvitationStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "NOT_YET_SENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_YET_SENT"
          }
        },
        "INVITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVITED"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCEPTED"
          }
        },
        "DECLINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DECLINED"
          }
        }
      }
    },
    "com.googleworkspace.cloudidentity_v1#OidcSsoInfo": {
      "type": "structure",
      "members": {
        "inboundOidcSsoProfile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the `InboundOidcSsoProfile` to use. Must be of the form `inboundOidcSsoProfiles/{inbound_oidc_sso_profile}`. "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details that are applicable when `sso_mode` is set to `OIDC_SSO`."
      }
    },
    "com.googleworkspace.cloudidentity_v1#DeleteMembershipMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for DeleteMembership LRO."
      }
    },
    "com.googleworkspace.cloudidentity_v1#ListMembershipsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A continuation token to retrieve the next page of results, or empty if there are no more results available."
          }
        },
        "memberships": {
          "target": "com.googleworkspace.cloudidentity_v1#MembershipList",
          "traits": {
            "smithy.api#documentation": "The `Membership`s under the specified `parent`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for MembershipsService.ListMemberships."
      }
    },
    "com.googleworkspace.cloudidentity_v1#SearchTransitiveMembershipsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results."
          }
        },
        "memberships": {
          "target": "com.googleworkspace.cloudidentity_v1#MemberRelationList",
          "traits": {
            "smithy.api#documentation": "List of transitive members satisfying the query."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for MembershipsService.SearchTransitiveMemberships."
      }
    },
    "com.googleworkspace.cloudidentity_v1#MemberRelationList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.cloudidentity_v1#MemberRelation"
      }
    },
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1CustomAttributeValue": {
      "type": "structure",
      "members": {
        "numberValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Represents a double value."
          }
        },
        "stringValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represents a string value."
          }
        },
        "boolValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Represents a boolean value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional custom attribute values may be one of these types"
      }
    },
    "com.googleworkspace.cloudidentity_v1#ListAllowlistedDomainsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contains the next page token if the result is not exhaustive. If there are no more results, this token is empty."
          }
        },
        "allowlistedDomains": {
          "target": "com.googleworkspace.cloudidentity_v1#AllowlistedDomainList",
          "traits": {
            "smithy.api#documentation": "Contains the list of domains in the allowlist. There is no defined ordering of domains within a result."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for AllowlistedDomainsService.ListAllowlistedDomains."
      }
    },
    "com.googleworkspace.cloudidentity_v1#AllowlistedDomainList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.cloudidentity_v1#AllowlistedDomain"
      }
    },
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1BlockDeviceUserResponse": {
      "type": "structure",
      "members": {
        "deviceUser": {
          "target": "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceUser",
          "traits": {
            "smithy.api#documentation": "Resultant DeviceUser object for the action."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for blocking the device from accessing user data."
      }
    },
    "com.googleworkspace.cloudidentity_v1#GetMembershipGraphResponse": {
      "type": "structure",
      "members": {
        "adjacencyList": {
          "target": "com.googleworkspace.cloudidentity_v1#MembershipAdjacencyListList",
          "traits": {
            "smithy.api#documentation": "The membership graph's path information represented as an adjacency list."
          }
        },
        "groups": {
          "target": "com.googleworkspace.cloudidentity_v1#GroupList",
          "traits": {
            "smithy.api#documentation": "The resources representing each group in the adjacency list. Each group in this list can be correlated to a 'group' of the MembershipAdjacencyList using the 'name' of the Group resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for MembershipsService.GetMembershipGraph."
      }
    },
    "com.googleworkspace.cloudidentity_v1#MembershipAdjacencyListList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.cloudidentity_v1#MembershipAdjacencyList"
      }
    },
    "com.googleworkspace.cloudidentity_v1#DeleteGroupMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for DeleteGroup LRO."
      }
    },
    "com.googleworkspace.cloudidentity_v1#MembershipRole": {
      "type": "structure",
      "members": {
        "restrictionEvaluations": {
          "target": "com.googleworkspace.cloudidentity_v1#RestrictionEvaluations",
          "traits": {
            "smithy.api#documentation": "Evaluations of restrictions applied to parent group on this membership."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the `MembershipRole`. Must be one of `OWNER`, `MANAGER`, `MEMBER`."
          }
        },
        "expiryDetail": {
          "target": "com.googleworkspace.cloudidentity_v1#ExpiryDetail",
          "traits": {
            "smithy.api#documentation": "The expiry details of the `MembershipRole`. Expiry details are only supported for `MEMBER` `MembershipRoles`. May be set if `name` is `MEMBER`. Must not be set if `name` is any other value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A membership role within the Cloud Identity Groups API. A `MembershipRole` defines the privileges granted to a `Membership`."
      }
    },
    "com.googleworkspace.cloudidentity_v1#Policy": {
      "type": "structure",
      "members": {
        "policyQuery": {
          "target": "com.googleworkspace.cloudidentity_v1#PolicyQuery",
          "traits": {
            "smithy.api#documentation": "Required. The PolicyQuery the Setting applies to."
          }
        },
        "customer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Customer that the Policy belongs to. The value is in the format 'customers/{customerId}'. The `customerId` must begin with \"C\" To find your customer ID in Admin Console see https://support.google.com/a/answer/10070793."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. The [resource name](https://cloud.google.com/apis/design/resource_names) of the Policy. Format: policies/{policy}."
          }
        },
        "type": {
          "target": "com.googleworkspace.cloudidentity_v1#PolicyTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the policy."
          }
        },
        "setting": {
          "target": "com.googleworkspace.cloudidentity_v1#Setting",
          "traits": {
            "smithy.api#documentation": "Required. The Setting configured by this Policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Policy resource binds an instance of a single Setting with the scope of a PolicyQuery. The Setting instance will be applied to all entities that satisfy the query."
      }
    },
    "com.googleworkspace.cloudidentity_v1#PolicyTypeEnum": {
      "type": "enum",
      "members": {
        "POLICY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POLICY_TYPE_UNSPECIFIED"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM"
          }
        },
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN"
          }
        }
      }
    },
    "com.googleworkspace.cloudidentity_v1#LookupGroupNameResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the looked-up `Group`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for GroupsService.LookupGroupName."
      }
    },
    "com.googleworkspace.cloudidentity_v1#DsaPublicKeyInfo": {
      "type": "structure",
      "members": {
        "keySize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Key size in bits (size of parameter P)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information of a DSA public key."
      }
    },
    "com.googleworkspace.cloudidentity_v1#SamlSsoInfo": {
      "type": "structure",
      "members": {
        "inboundSamlSsoProfile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the `InboundSamlSsoProfile` to use. Must be of the form `inboundSamlSsoProfiles/{inbound_saml_sso_profile}`. "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details that are applicable when `sso_mode` == `SAML_SSO`."
      }
    },
    "com.googleworkspace.cloudidentity_v1#IsInvitableUserResponse": {
      "type": "structure",
      "members": {
        "isInvitableUser": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Returns true if the email address is invitable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for IsInvitableUser RPC."
      }
    },
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1CancelWipeDeviceResponse": {
      "type": "structure",
      "members": {
        "device": {
          "target": "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1Device",
          "traits": {
            "smithy.api#documentation": "Resultant Device object for the action. Note that asset tags will not be returned in the device object."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for cancelling an unfinished device wipe."
      }
    },
    "com.googleworkspace.cloudidentity_v1#GroupRelation": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.googleworkspace.cloudidentity_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels for Group resource."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for this group."
          }
        },
        "relationType": {
          "target": "com.googleworkspace.cloudidentity_v1#GroupRelationRelationTypeEnum",
          "traits": {
            "smithy.api#documentation": "The relation between the member and the transitive group."
          }
        },
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for this group."
          }
        },
        "roles": {
          "target": "com.googleworkspace.cloudidentity_v1#TransitiveMembershipRoleList",
          "traits": {
            "smithy.api#documentation": "Membership roles of the member for the group."
          }
        },
        "groupKey": {
          "target": "com.googleworkspace.cloudidentity_v1#EntityKey",
          "traits": {
            "smithy.api#documentation": "Entity key has an id and a namespace. In case of discussion forums, the id will be an email address without a namespace."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message representing a transitive group of a user or a group."
      }
    },
    "com.googleworkspace.cloudidentity_v1#GroupRelationRelationTypeEnum": {
      "type": "enum",
      "members": {
        "RELATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELATION_TYPE_UNSPECIFIED"
          }
        },
        "DIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECT"
          }
        },
        "INDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDIRECT"
          }
        },
        "DIRECT_AND_INDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECT_AND_INDIRECT"
          }
        }
      }
    },
    "com.googleworkspace.cloudidentity_v1#MembershipRoleRestrictionEvaluation": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.googleworkspace.cloudidentity_v1#MembershipRoleRestrictionEvaluationStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the restriction"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The evaluated state of this restriction."
      }
    },
    "com.googleworkspace.cloudidentity_v1#MembershipRoleRestrictionEvaluationStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "COMPLIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLIANT"
          }
        },
        "FORWARD_COMPLIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FORWARD_COMPLIANT"
          }
        },
        "NON_COMPLIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_COMPLIANT"
          }
        },
        "EVALUATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVALUATING"
          }
        }
      }
    },
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1Device": {
      "type": "structure",
      "members": {
        "deviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the device."
          }
        },
        "imei": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. IMEI number of device if GSM device; empty otherwise."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device}`, where device is the unique id assigned to the Device. Important: Device API scopes require that you use domain-wide delegation to access the API. For more information, see [Set up the Devices API](https://cloud.google.com/identity/docs/how-to/setup-devices)."
          }
        },
        "buildNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Build number of the device."
          }
        },
        "brand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Device brand. Example: Samsung."
          }
        },
        "releaseVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. OS release version. Example: 6.0."
          }
        },
        "compromisedState": {
          "target": "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceCompromisedStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Represents whether the Device is compromised."
          }
        },
        "serialNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Serial Number of device. Example: HT82V1A01076."
          }
        },
        "encryptionState": {
          "target": "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceEncryptionStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Device encryption state."
          }
        },
        "enabledDeveloperOptions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether developer options is enabled on device."
          }
        },
        "ownerType": {
          "target": "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceOwnerTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the device is owned by the company or an individual"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the Company-Owned device was imported. This field is empty for BYOD devices."
          }
        },
        "deviceType": {
          "target": "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceDeviceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Type of device."
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Host name of the device."
          }
        },
        "securityPatchTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. OS security patch update time on device."
          }
        },
        "manufacturer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Device manufacturer. Example: Motorola."
          }
        },
        "androidSpecificAttributes": {
          "target": "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1AndroidAttributes",
          "traits": {
            "smithy.api#documentation": "Output only. Attributes specific to Android devices."
          }
        },
        "managementState": {
          "target": "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceManagementStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Management state of the device"
          }
        },
        "meid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. MEID number of device if CDMA device; empty otherwise."
          }
        },
        "otherAccounts": {
          "target": "com.googleworkspace.cloudidentity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Domain name for Google accounts on device. Type for other accounts on device. On Android, will only be populated if |ownership_privilege| is |PROFILE_OWNER| or |DEVICE_OWNER|. Does not include the account signed in to the device policy app if that account's domain has only one account. Examples: \"com.example\", \"xyz.com\"."
          }
        },
        "kernelVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Kernel version of the device."
          }
        },
        "assetTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Asset tag of the device."
          }
        },
        "bootloaderVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Device bootloader version. Example: 0.6.7."
          }
        },
        "unifiedDeviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unified device id of the device."
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Model name of device. Example: Pixel 3."
          }
        },
        "osVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. OS version of the device. Example: Android 8.1.0."
          }
        },
        "endpointVerificationSpecificAttributes": {
          "target": "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1EndpointVerificationSpecificAttributes",
          "traits": {
            "smithy.api#documentation": "Output only. Attributes specific to [Endpoint Verification](https://cloud.google.com/endpoint-verification/docs/overview) devices."
          }
        },
        "lastSyncTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Most recent time when device synced with this service."
          }
        },
        "wifiMacAddresses": {
          "target": "com.googleworkspace.cloudidentity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "WiFi MAC addresses of device."
          }
        },
        "enabledUsbDebugging": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether USB debugging is enabled on device."
          }
        },
        "networkOperator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Mobile or network operator of device, if available."
          }
        },
        "basebandVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Baseband version of the device."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": " A Device within the Cloud Identity Devices API. Represents a Device known to Google Cloud, independent of the device ownership, type, and whether it is assigned or in use by a user."
      }
    },
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceCompromisedStateEnum": {
      "type": "enum",
      "members": {
        "COMPROMISED_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPROMISED_STATE_UNSPECIFIED"
          }
        },
        "COMPROMISED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPROMISED"
          }
        },
        "UNCOMPROMISED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNCOMPROMISED"
          }
        }
      }
    },
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceEncryptionStateEnum": {
      "type": "enum",
      "members": {
        "ENCRYPTION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTION_STATE_UNSPECIFIED"
          }
        },
        "UNSUPPORTED_BY_DEVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_BY_DEVICE"
          }
        },
        "ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTED"
          }
        },
        "NOT_ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_ENCRYPTED"
          }
        }
      }
    },
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceOwnerTypeEnum": {
      "type": "enum",
      "members": {
        "DEVICE_OWNERSHIP_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_OWNERSHIP_UNSPECIFIED"
          }
        },
        "COMPANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPANY"
          }
        },
        "BYOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BYOD"
          }
        }
      }
    },
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceDeviceTypeEnum": {
      "type": "enum",
      "members": {
        "DEVICE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_TYPE_UNSPECIFIED"
          }
        },
        "ANDROID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANDROID"
          }
        },
        "IOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IOS"
          }
        },
        "GOOGLE_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_SYNC"
          }
        },
        "WINDOWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS"
          }
        },
        "MAC_OS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAC_OS"
          }
        },
        "LINUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINUX"
          }
        },
        "CHROME_OS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_OS"
          }
        }
      }
    },
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1DeviceManagementStateEnum": {
      "type": "enum",
      "members": {
        "MANAGEMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_STATE_UNSPECIFIED"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVED"
          }
        },
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCKED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "UNPROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNPROVISIONED"
          }
        },
        "WIPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIPING"
          }
        },
        "WIPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIPED"
          }
        }
      }
    },
    "com.googleworkspace.cloudidentity_v1#InboundSsoAssignment": {
      "type": "structure",
      "members": {
        "customer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The customer. For example: `customers/C0123abc`."
          }
        },
        "rank": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Must be zero (which is the default value so it can be omitted) for assignments with `target_org_unit` set and must be greater-than-or-equal-to one for assignments with `target_group` set."
          }
        },
        "targetGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Must be of the form `groups/{group}`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Inbound SSO Assignment."
          }
        },
        "oidcSsoInfo": {
          "target": "com.googleworkspace.cloudidentity_v1#OidcSsoInfo",
          "traits": {
            "smithy.api#documentation": "OpenID Connect SSO details. Must be set if and only if `sso_mode` is set to `OIDC_SSO`."
          }
        },
        "samlSsoInfo": {
          "target": "com.googleworkspace.cloudidentity_v1#SamlSsoInfo",
          "traits": {
            "smithy.api#documentation": "SAML SSO details. Must be set if and only if `sso_mode` is set to `SAML_SSO`."
          }
        },
        "signInBehavior": {
          "target": "com.googleworkspace.cloudidentity_v1#SignInBehavior",
          "traits": {
            "smithy.api#documentation": "Assertions about users assigned to an IdP will always be accepted from that IdP. This controls whether/when Google should redirect a user to the IdP. Unset (defaults) is the recommended configuration."
          }
        },
        "ssoMode": {
          "target": "com.googleworkspace.cloudidentity_v1#InboundSsoAssignmentSsoModeEnum",
          "traits": {
            "smithy.api#documentation": "Inbound SSO behavior."
          }
        },
        "targetOrgUnit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Must be of the form `orgUnits/{org_unit}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Targets with \"set\" SSO assignments and their respective assignments."
      }
    },
    "com.googleworkspace.cloudidentity_v1#InboundSsoAssignmentSsoModeEnum": {
      "type": "enum",
      "members": {
        "SSO_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSO_MODE_UNSPECIFIED"
          }
        },
        "SSO_OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSO_OFF"
          }
        },
        "SAML_SSO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAML_SSO"
          }
        },
        "OIDC_SSO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OIDC_SSO"
          }
        },
        "DOMAIN_WIDE_SAML_IF_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOMAIN_WIDE_SAML_IF_ENABLED"
          }
        }
      }
    },
    "com.googleworkspace.cloudidentity_v1#DynamicGroupStatus": {
      "type": "structure",
      "members": {
        "statusTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The latest time at which the dynamic group is guaranteed to be in the given status. If status is `UP_TO_DATE`, the latest time at which the dynamic group was confirmed to be up-to-date. If status is `UPDATING_MEMBERSHIPS`, the time at which dynamic group was created."
          }
        },
        "status": {
          "target": "com.googleworkspace.cloudidentity_v1#DynamicGroupStatusStatusEnum",
          "traits": {
            "smithy.api#documentation": "Status of the dynamic group."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current status of a dynamic group along with timestamp."
      }
    },
    "com.googleworkspace.cloudidentity_v1#DynamicGroupStatusStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNSPECIFIED"
          }
        },
        "UP_TO_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UP_TO_DATE"
          }
        },
        "UPDATING_MEMBERSHIPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING_MEMBERSHIPS"
          }
        },
        "INVALID_QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_QUERY"
          }
        }
      }
    },
    "com.googleworkspace.cloudidentity_v1#RsaPublicKeyInfo": {
      "type": "structure",
      "members": {
        "keySize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Key size in bits (size of the modulus)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information of a RSA public key."
      }
    },
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1WipeDeviceResponse": {
      "type": "structure",
      "members": {
        "device": {
          "target": "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1Device",
          "traits": {
            "smithy.api#documentation": "Resultant Device object for the action. Note that asset tags will not be returned in the device object."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for wiping all data on the device."
      }
    },
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1UpdateDeviceMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for UpdateDevice LRO."
      }
    },
    "com.googleworkspace.cloudidentity_v1#ListIdpCredentialsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "idpCredentials": {
          "target": "com.googleworkspace.cloudidentity_v1#IdpCredentialList",
          "traits": {
            "smithy.api#documentation": "The IdpCredentials from the specified InboundSamlSsoProfile."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of the InboundSamlSsoProfilesService.ListIdpCredentials method."
      }
    },
    "com.googleworkspace.cloudidentity_v1#IdpCredentialList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.cloudidentity_v1#IdpCredential"
      }
    },
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1BrowserInfo": {
      "type": "structure",
      "members": {
        "isRealtimeUrlCheckEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Current state of [real-time URL check](https://chromeenterprise.google/policies/#EnterpriseRealTimeUrlCheckMode). Set to true if provider list from Chrome is non-empty."
          }
        },
        "safeBrowsingProtectionLevel": {
          "target": "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1BrowserInfoSafeBrowsingProtectionLevelEnum",
          "traits": {
            "smithy.api#documentation": "Current state of [Safe Browsing protection level](https://chromeenterprise.google/policies/#SafeBrowsingProtectionLevel)."
          }
        },
        "isThirdPartyBlockingEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Current state of [third-party blocking](https://chromeenterprise.google/policies/#ThirdPartyBlockingEnabled)."
          }
        },
        "browserVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the request initiating browser. E.g. `91.0.4442.4`."
          }
        },
        "browserManagementState": {
          "target": "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1BrowserInfoBrowserManagementStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Browser's management state."
          }
        },
        "isSecurityEventAnalysisEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Current state of [security event analysis](https://chromeenterprise.google/policies/#OnSecurityEventEnterpriseConnector). Set to true if provider list from Chrome is non-empty."
          }
        },
        "isFileUploadAnalysisEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Current state of [file upload analysis](https://chromeenterprise.google/policies/#OnFileAttachedEnterpriseConnector). Set to true if provider list from Chrome is non-empty."
          }
        },
        "isChromeRemoteDesktopAppBlocked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Current state of [Chrome Remote Desktop app](https://chromeenterprise.google/policies/#URLBlocklist)."
          }
        },
        "isSiteIsolationEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Current state of [site isolation](https://chromeenterprise.google/policies/?policy=IsolateOrigins)."
          }
        },
        "passwordProtectionWarningTrigger": {
          "target": "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1BrowserInfoPasswordProtectionWarningTriggerEnum",
          "traits": {
            "smithy.api#documentation": "Current state of [password protection trigger](https://chromeenterprise.google/policies/#PasswordProtectionWarningTrigger)."
          }
        },
        "isChromeCleanupEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated: This field is not used for Chrome version 118 and later. Current state of [Chrome Cleanup](https://chromeenterprise.google/policies/#ChromeCleanupEnabled)."
          }
        },
        "isFileDownloadAnalysisEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Current state of [file download analysis](https://chromeenterprise.google/policies/#OnFileDownloadedEnterpriseConnector). Set to true if provider list from Chrome is non-empty."
          }
        },
        "isBulkDataEntryAnalysisEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Current state of [bulk data analysis](https://chromeenterprise.google/policies/#OnBulkDataEntryEnterpriseConnector). Set to true if provider list from Chrome is non-empty."
          }
        },
        "isBuiltInDnsClientEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Current state of [built-in DNS client](https://chromeenterprise.google/policies/#BuiltInDnsClientEnabled)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Browser-specific fields reported by the [Endpoint Verification extension](https://chromewebstore.google.com/detail/endpoint-verification/callobklhcbilhphinckomhgkigmfocg?pli=1)."
      }
    },
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1BrowserInfoSafeBrowsingProtectionLevelEnum": {
      "type": "enum",
      "members": {
        "SAFE_BROWSING_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAFE_BROWSING_LEVEL_UNSPECIFIED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "ENHANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENHANCED"
          }
        }
      }
    },
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1BrowserInfoBrowserManagementStateEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNMANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNMANAGED"
          }
        },
        "MANAGED_BY_OTHER_DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGED_BY_OTHER_DOMAIN"
          }
        },
        "PROFILE_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROFILE_MANAGED"
          }
        },
        "BROWSER_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BROWSER_MANAGED"
          }
        }
      }
    },
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1BrowserInfoPasswordProtectionWarningTriggerEnum": {
      "type": "enum",
      "members": {
        "PASSWORD_PROTECTION_TRIGGER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSWORD_PROTECTION_TRIGGER_UNSPECIFIED"
          }
        },
        "PROTECTION_OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTECTION_OFF"
          }
        },
        "PASSWORD_REUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSWORD_REUSE"
          }
        },
        "PHISHING_REUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHISHING_REUSE"
          }
        }
      }
    },
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1LookupSelfDeviceUsersResponse": {
      "type": "structure",
      "members": {
        "customer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The customer resource name that may be passed back to other Devices API methods such as List, Get, etc."
          }
        },
        "names": {
          "target": "com.googleworkspace.cloudidentity_v1#StringList",
          "traits": {
            "smithy.api#documentation": "[Resource names](https://cloud.google.com/apis/design/resource_names) of the DeviceUsers in the format: `devices/{device}/deviceUsers/{user_resource}`, where device is the unique ID assigned to a Device and user_resource is the unique user ID"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results. Empty if there are no more results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response containing resource names of the DeviceUsers associated with the caller's credentials."
      }
    },
    "com.googleworkspace.cloudidentity_v1#GetMembershipGraphMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata of GetMembershipGraphResponse LRO. This is currently empty to permit future extensibility."
      }
    },
    "com.googleworkspace.cloudidentity_v1#CreateGroupMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for CreateGroup LRO."
      }
    },
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1ListClientStatesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results. Empty if there are no more results."
          }
        },
        "clientStates": {
          "target": "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1ClientStateList",
          "traits": {
            "smithy.api#documentation": "Client states meeting the list restrictions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message that is returned in ListClientStates."
      }
    },
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1ClientStateList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1ClientState"
      }
    },
    "com.googleworkspace.cloudidentity_v1#MembershipRelation": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.googleworkspace.cloudidentity_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "One or more label entries that apply to the Group. Currently supported labels contain a key with an empty value."
          }
        },
        "roles": {
          "target": "com.googleworkspace.cloudidentity_v1#MembershipRoleList",
          "traits": {
            "smithy.api#documentation": "The `MembershipRole`s that apply to the `Membership`."
          }
        },
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group`. Shall be of the form `groups/{group_id}`."
          }
        },
        "membership": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership`. Shall be of the form `groups/{group_id}/memberships/{membership_id}`."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An extended description to help users determine the purpose of a `Group`."
          }
        },
        "groupKey": {
          "target": "com.googleworkspace.cloudidentity_v1#EntityKey",
          "traits": {
            "smithy.api#documentation": "The `EntityKey` of the `Group`."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the `Group`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message containing membership relation."
      }
    },
    "com.googleworkspace.cloudidentity_v1#MembershipRoleList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.cloudidentity_v1#MembershipRole"
      }
    },
    "com.googleworkspace.cloudidentity_v1#CreateMembershipMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for CreateMembership LRO."
      }
    },
    "com.googleworkspace.cloudidentity_v1#GoogleAppsCloudidentityDevicesV1BlockDeviceUserRequest": {
      "type": "structure",
      "members": {
        "customer": {
          "target": "smithy.api#String",
          "traits": {
[...]
