{
  "smithy": "2.0",
  "metadata": {
    "service": "docs",
    "version": "v1",
    "title": "Google Docs API",
    "baseUrl": "https://docs.googleapis.com/"
  },
  "shapes": {
    "com.googleworkspace.docs_v1#InsertInlineSheetsChartResponse": {
      "type": "structure",
      "members": {
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object ID of the inserted chart."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of inserting an embedded Google Sheets chart."
      }
    },
    "com.googleworkspace.docs_v1#Header": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.googleworkspace.docs_v1#StructuralElementList",
          "traits": {
            "smithy.api#documentation": "The contents of the header. The indexes for a header's content begin at zero."
          }
        },
        "headerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the header."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A document header."
      }
    },
    "com.googleworkspace.docs_v1#StructuralElementList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.docs_v1#StructuralElement"
      }
    },
    "com.googleworkspace.docs_v1#InsertTableRequest": {
      "type": "structure",
      "members": {
        "columns": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of columns in the table."
          }
        },
        "location": {
          "target": "com.googleworkspace.docs_v1#Location",
          "traits": {
            "smithy.api#documentation": "Inserts the table at a specific model index. A newline character will be inserted before the inserted table, therefore the table start index will be at the specified location index + 1. The table must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between an existing table and its preceding paragraph). Tables cannot be inserted inside a footnote or equation."
          }
        },
        "endOfSegmentLocation": {
          "target": "com.googleworkspace.docs_v1#EndOfSegmentLocation",
          "traits": {
            "smithy.api#documentation": "Inserts the table at the end of the given header, footer or document body. A newline character will be inserted before the inserted table. Tables cannot be inserted inside a footnote."
          }
        },
        "rows": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of rows in the table."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Inserts a table at the specified location. A newline character will be inserted before the inserted table."
      }
    },
    "com.googleworkspace.docs_v1#Equation": {
      "type": "structure",
      "members": {
        "suggestedInsertionIds": {
          "target": "com.googleworkspace.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The suggested insertion IDs. An Equation may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
          }
        },
        "suggestedDeletionIds": {
          "target": "com.googleworkspace.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A ParagraphElement representing an equation."
      }
    },
    "com.googleworkspace.docs_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.googleworkspace.docs_v1#Person": {
      "type": "structure",
      "members": {
        "personId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique ID of this link."
          }
        },
        "suggestedDeletionIds": {
          "target": "com.googleworkspace.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "IDs for suggestions that remove this person link from the document. A Person might have multiple deletion IDs if, for example, multiple users suggest deleting it. If empty, then this person link isn't suggested for deletion."
          }
        },
        "suggestedTextStyleChanges": {
          "target": "com.googleworkspace.docs_v1#SuggestedTextStyleMap",
          "traits": {
            "smithy.api#documentation": "The suggested text style changes to this Person, keyed by suggestion ID."
          }
        },
        "textStyle": {
          "target": "com.googleworkspace.docs_v1#TextStyle",
          "traits": {
            "smithy.api#documentation": "The text style of this Person."
          }
        },
        "suggestedInsertionIds": {
          "target": "com.googleworkspace.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "IDs for suggestions that insert this person link into the document. A Person might have multiple insertion IDs if it's a nested suggested change (a suggestion within a suggestion made by a different user, for example). If empty, then this person link isn't a suggested insertion."
          }
        },
        "personProperties": {
          "target": "com.googleworkspace.docs_v1#PersonProperties",
          "traits": {
            "smithy.api#documentation": "Output only. The properties of this Person. This field is always present."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A person or email address mentioned in a document. These mentions behave as a single, immutable element containing the person's name or email address."
      }
    },
    "com.googleworkspace.docs_v1#SuggestedTextStyleMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.googleworkspace.docs_v1#SuggestedTextStyle"
      }
    },
    "com.googleworkspace.docs_v1#DeleteFooterRequest": {
      "type": "structure",
      "members": {
        "tabId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tab that contains the footer to delete. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
          }
        },
        "footerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the footer to delete. If this footer is defined on DocumentStyle, the reference to this footer is removed, resulting in no footer of that type for the first section of the document. If this footer is defined on a SectionStyle, the reference to this footer is removed and the footer of that type is now continued from the previous section."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deletes a Footer from the document."
      }
    },
    "com.googleworkspace.docs_v1#UpdateParagraphStyleRequest": {
      "type": "structure",
      "members": {
        "range": {
          "target": "com.googleworkspace.docs_v1#Range",
          "traits": {
            "smithy.api#documentation": "The range overlapping the paragraphs to style."
          }
        },
        "fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `paragraph_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the paragraph style's alignment property, set `fields` to `\"alignment\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset."
          }
        },
        "paragraphStyle": {
          "target": "com.googleworkspace.docs_v1#ParagraphStyle",
          "traits": {
            "smithy.api#documentation": "The styles to set on the paragraphs. Certain paragraph style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of ParagraphStyle for more information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Update the styling of all paragraphs that overlap with the given range."
      }
    },
    "com.googleworkspace.docs_v1#Size": {
      "type": "structure",
      "members": {
        "height": {
          "target": "com.googleworkspace.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The height of the object."
          }
        },
        "width": {
          "target": "com.googleworkspace.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The width of the object."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A width and height."
      }
    },
    "com.googleworkspace.docs_v1#BackgroundSuggestionState": {
      "type": "structure",
      "members": {
        "backgroundColorSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the current background color has been modified in this suggestion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A mask that indicates which of the fields on the base Background have been changed in this suggestion. For any field set to true, the Backgound has a new suggested value."
      }
    },
    "com.googleworkspace.docs_v1#UpdateDocumentTabPropertiesRequest": {
      "type": "structure",
      "members": {
        "fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `tab_properties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field."
          }
        },
        "tabProperties": {
          "target": "com.googleworkspace.docs_v1#TabProperties",
          "traits": {
            "smithy.api#documentation": "The tab properties to update."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Update the properties of a document tab."
      }
    },
    "com.googleworkspace.docs_v1#UpdateNamedStyleRequest": {
      "type": "structure",
      "members": {
        "fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The NamedStyle fields that should be updated. At least `named_style_type` must be specified. The root `named_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the text style to bold, set `fields` to include `\"text_style\"` and `\"text_style.bold\"`. To update the paragraph style's alignment property, set `fields` to include `\"paragraph_style\"` and `\"paragraph_style.alignment\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset. Specifying `\"text_style\"` or `\"paragraph_style\"` with an empty TextStyle or ParagraphStyle will reset all of its nested fields."
          }
        },
        "namedStyle": {
          "target": "com.googleworkspace.docs_v1#NamedStyle",
          "traits": {
            "smithy.api#documentation": "The document style to update."
          }
        },
        "tabId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The document tab to update. By default, the update is applied to the first tab."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Updates a named style."
      }
    },
    "com.googleworkspace.docs_v1#UpdateTableColumnPropertiesRequest": {
      "type": "structure",
      "members": {
        "fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `tableColumnProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the column width, set `fields` to `\"width\"`."
          }
        },
        "columnIndices": {
          "target": "com.googleworkspace.docs_v1#IntegerList",
          "traits": {
            "smithy.api#documentation": "The list of zero-based column indices whose property should be updated. If no indices are specified, all columns will be updated."
          }
        },
        "tableColumnProperties": {
          "target": "com.googleworkspace.docs_v1#TableColumnProperties",
          "traits": {
            "smithy.api#documentation": "The table column properties to update. If the value of `table_column_properties#width` is less than 5 points (5/72 inch), a 400 bad request error is returned."
          }
        },
        "tableStartLocation": {
          "target": "com.googleworkspace.docs_v1#Location",
          "traits": {
            "smithy.api#documentation": "The location where the table starts in the document."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Updates the TableColumnProperties of columns in a table."
      }
    },
    "com.googleworkspace.docs_v1#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.googleworkspace.docs_v1#EndOfSegmentLocation": {
      "type": "structure",
      "members": {
        "tabId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tab that the location is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
          }
        },
        "segmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the header, footer or footnote the location is in. An empty segment ID signifies the document's body."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Location at the end of a body, header, footer or footnote. The location is immediately before the last newline in the document segment."
      }
    },
    "com.googleworkspace.docs_v1#UnmergeTableCellsRequest": {
      "type": "structure",
      "members": {
        "tableRange": {
          "target": "com.googleworkspace.docs_v1#TableRange",
          "traits": {
            "smithy.api#documentation": "The table range specifying which cells of the table to unmerge. All merged cells in this range will be unmerged, and cells that are already unmerged will not be affected. If the range has no merged cells, the request will do nothing. If there is text in any of the merged cells, the text will remain in the \"head\" cell of the resulting block of unmerged cells. The \"head\" cell is the upper-left cell when the content direction is from left to right, and the upper-right otherwise."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Unmerges cells in a Table."
      }
    },
    "com.googleworkspace.docs_v1#SizeSuggestionState": {
      "type": "structure",
      "members": {
        "widthSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to width."
          }
        },
        "heightSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to height."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A mask that indicates which of the fields on the base Size have been changed in this suggestion. For any field set to true, the Size has a new suggested value."
      }
    },
    "com.googleworkspace.docs_v1#BulletSuggestionState": {
      "type": "structure",
      "members": {
        "textStyleSuggestionState": {
          "target": "com.googleworkspace.docs_v1#TextStyleSuggestionState",
          "traits": {
            "smithy.api#documentation": "A mask that indicates which of the fields in text style have been changed in this suggestion."
          }
        },
        "nestingLevelSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to the nesting_level."
          }
        },
        "listIdSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to the list_id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A mask that indicates which of the fields on the base Bullet have been changed in this suggestion. For any field set to true, there's a new suggested value."
      }
    },
    "com.googleworkspace.docs_v1#SubstringMatchCriteria": {
      "type": "structure",
      "members": {
        "matchCase": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the search should respect case: - `True`: the search is case sensitive. - `False`: the search is case insensitive."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text to search for in the document."
          }
        },
        "searchByRegex": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. True if the find value should be treated as a regular expression. Any backslashes in the pattern should be escaped. - `True`: the search text is treated as a regular expressions. - `False`: the search text is treated as a substring for matching."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A criteria that matches a specific string of text in the document."
      }
    },
    "com.googleworkspace.docs_v1#NamedStyle": {
      "type": "structure",
      "members": {
        "namedStyleType": {
          "target": "com.googleworkspace.docs_v1#NamedStyleNamedStyleTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of this named style."
          }
        },
        "paragraphStyle": {
          "target": "com.googleworkspace.docs_v1#ParagraphStyle",
          "traits": {
            "smithy.api#documentation": "The paragraph style of this named style."
          }
        },
        "textStyle": {
          "target": "com.googleworkspace.docs_v1#TextStyle",
          "traits": {
            "smithy.api#documentation": "The text style of this named style."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A named style. Paragraphs in the document can inherit their TextStyle and ParagraphStyle from this named style when they have the same named style type."
      }
    },
    "com.googleworkspace.docs_v1#NamedStyleNamedStyleTypeEnum": {
      "type": "enum",
      "members": {
        "NAMED_STYLE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NAMED_STYLE_TYPE_UNSPECIFIED"
          }
        },
        "NORMAL_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NORMAL_TEXT"
          }
        },
        "TITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TITLE"
          }
        },
        "SUBTITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBTITLE"
          }
        },
        "HEADING_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADING_1"
          }
        },
        "HEADING_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADING_2"
          }
        },
        "HEADING_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADING_3"
          }
        },
        "HEADING_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADING_4"
          }
        },
        "HEADING_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADING_5"
          }
        },
        "HEADING_6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADING_6"
          }
        }
      }
    },
    "com.googleworkspace.docs_v1#NamedStyleSuggestionState": {
      "type": "structure",
      "members": {
        "paragraphStyleSuggestionState": {
          "target": "com.googleworkspace.docs_v1#ParagraphStyleSuggestionState",
          "traits": {
            "smithy.api#documentation": "A mask that indicates which of the fields in paragraph style have been changed in this suggestion."
          }
        },
        "namedStyleType": {
          "target": "com.googleworkspace.docs_v1#NamedStyleSuggestionStateNamedStyleTypeEnum",
          "traits": {
            "smithy.api#documentation": "The named style type that this suggestion state corresponds to. This field is provided as a convenience for matching the NamedStyleSuggestionState with its corresponding NamedStyle."
          }
        },
        "textStyleSuggestionState": {
          "target": "com.googleworkspace.docs_v1#TextStyleSuggestionState",
          "traits": {
            "smithy.api#documentation": "A mask that indicates which of the fields in text style have been changed in this suggestion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A suggestion state of a NamedStyle message."
      }
    },
    "com.googleworkspace.docs_v1#NamedStyleSuggestionStateNamedStyleTypeEnum": {
      "type": "enum",
      "members": {
        "NAMED_STYLE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NAMED_STYLE_TYPE_UNSPECIFIED"
          }
        },
        "NORMAL_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NORMAL_TEXT"
          }
        },
        "TITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TITLE"
          }
        },
        "SUBTITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBTITLE"
          }
        },
        "HEADING_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADING_1"
          }
        },
        "HEADING_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADING_2"
          }
        },
        "HEADING_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADING_3"
          }
        },
        "HEADING_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADING_4"
          }
        },
        "HEADING_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADING_5"
          }
        },
        "HEADING_6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADING_6"
          }
        }
      }
    },
    "com.googleworkspace.docs_v1#AutoText": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.googleworkspace.docs_v1#AutoTextTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of this auto text."
          }
        },
        "textStyle": {
          "target": "com.googleworkspace.docs_v1#TextStyle",
          "traits": {
            "smithy.api#documentation": "The text style of this AutoText."
          }
        },
        "suggestedDeletionIds": {
          "target": "com.googleworkspace.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
          }
        },
        "suggestedInsertionIds": {
          "target": "com.googleworkspace.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The suggested insertion IDs. An AutoText may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
          }
        },
        "suggestedTextStyleChanges": {
          "target": "com.googleworkspace.docs_v1#SuggestedTextStyleMap",
          "traits": {
            "smithy.api#documentation": "The suggested text style changes to this AutoText, keyed by suggestion ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A ParagraphElement representing a spot in the text that's dynamically replaced with content that can change over time, like a page number."
      }
    },
    "com.googleworkspace.docs_v1#AutoTextTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "PAGE_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAGE_NUMBER"
          }
        },
        "PAGE_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAGE_COUNT"
          }
        }
      }
    },
    "com.googleworkspace.docs_v1#CreateFootnoteRequest": {
      "type": "structure",
      "members": {
        "location": {
          "target": "com.googleworkspace.docs_v1#Location",
          "traits": {
            "smithy.api#documentation": "Inserts the footnote reference at a specific index in the document. The footnote reference must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Footnote references cannot be inserted inside an equation, header, footer or footnote. Since footnote references can only be inserted in the body, the segment ID field must be empty."
          }
        },
        "endOfSegmentLocation": {
          "target": "com.googleworkspace.docs_v1#EndOfSegmentLocation",
          "traits": {
            "smithy.api#documentation": "Inserts the footnote reference at the end of the document body. Footnote references cannot be inserted inside a header, footer or footnote. Since footnote references can only be inserted in the body, the segment ID field must be empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Creates a Footnote segment and inserts a new FootnoteReference to it at the given location. The new Footnote segment will contain a space followed by a newline character."
      }
    },
    "com.googleworkspace.docs_v1#NamedRange": {
      "type": "structure",
      "members": {
        "ranges": {
          "target": "com.googleworkspace.docs_v1#RangeList",
          "traits": {
            "smithy.api#documentation": "The ranges that belong to this named range."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the named range."
          }
        },
        "namedRangeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the named range."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of Ranges with the same named range ID. Named ranges allow developers to associate parts of a document with an arbitrary user-defined label so their contents can be programmatically read or edited later. A document can contain multiple named ranges with the same name, but every named range has a unique ID. A named range is created with a single Range, and content inserted inside a named range generally expands that range. However, certain document changes can cause the range to be split into multiple ranges. Named ranges are not private. All applications and collaborators that have access to the document can see its named ranges."
      }
    },
    "com.googleworkspace.docs_v1#RangeList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.docs_v1#Range"
      }
    },
    "com.googleworkspace.docs_v1#RichLinkProperties": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI to the RichLink. This is always present."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title of the RichLink as displayed in the link. This title matches the title of the linked resource at the time of the insertion or last update of the link. This field is always present."
          }
        },
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [MIME type](https://developers.google.com/drive/api/v3/mime-types) of the RichLink, if there's one (for example, when it's a file in Drive)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties specific to a RichLink."
      }
    },
    "com.googleworkspace.docs_v1#InlineObjectPropertiesSuggestionState": {
      "type": "structure",
      "members": {
        "embeddedObjectSuggestionState": {
          "target": "com.googleworkspace.docs_v1#EmbeddedObjectSuggestionState",
          "traits": {
            "smithy.api#documentation": "A mask that indicates which of the fields in embedded_object have been changed in this suggestion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A mask that indicates which of the fields on the base InlineObjectProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
      }
    },
    "com.googleworkspace.docs_v1#SuggestedDateElementProperties": {
      "type": "structure",
      "members": {
        "dateElementPropertiesSuggestionState": {
          "target": "com.googleworkspace.docs_v1#DateElementPropertiesSuggestionState",
          "traits": {
            "smithy.api#documentation": "A mask that indicates which of the fields on the base DateElementProperties have been changed in this suggestion."
          }
        },
        "dateElementProperties": {
          "target": "com.googleworkspace.docs_v1#DateElementProperties",
          "traits": {
            "smithy.api#documentation": "DateElementProperties that only includes the changes made in this suggestion. This can be used along with the date_element_properties_suggestion_state to see which fields have changed and their new values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A suggested change to a DateElementProperties."
      }
    },
    "com.googleworkspace.docs_v1#EmbeddedObjectBorder": {
      "type": "structure",
      "members": {
        "color": {
          "target": "com.googleworkspace.docs_v1#OptionalColor",
          "traits": {
            "smithy.api#documentation": "The color of the border."
          }
        },
        "dashStyle": {
          "target": "com.googleworkspace.docs_v1#EmbeddedObjectBorderDashStyleEnum",
          "traits": {
            "smithy.api#documentation": "The dash style of the border."
          }
        },
        "propertyState": {
          "target": "com.googleworkspace.docs_v1#EmbeddedObjectBorderPropertyStateEnum",
          "traits": {
            "smithy.api#documentation": "The property state of the border property."
          }
        },
        "width": {
          "target": "com.googleworkspace.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The width of the border."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A border around an EmbeddedObject."
      }
    },
    "com.googleworkspace.docs_v1#EmbeddedObjectBorderDashStyleEnum": {
      "type": "enum",
      "members": {
        "DASH_STYLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DASH_STYLE_UNSPECIFIED"
          }
        },
        "SOLID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOLID"
          }
        },
        "DOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOT"
          }
        },
        "DASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DASH"
          }
        }
      }
    },
    "com.googleworkspace.docs_v1#EmbeddedObjectBorderPropertyStateEnum": {
      "type": "enum",
      "members": {
        "RENDERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RENDERED"
          }
        },
        "NOT_RENDERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_RENDERED"
          }
        }
      }
    },
    "com.googleworkspace.docs_v1#PersonProperties": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address linked to this Person. This field is always present."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the person if it's displayed in the link text instead of the person's email address."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties specific to a linked Person."
      }
    },
    "com.googleworkspace.docs_v1#ReplaceAllTextResponse": {
      "type": "structure",
      "members": {
        "occurrencesChanged": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of occurrences changed by replacing all text."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of replacing text."
      }
    },
    "com.googleworkspace.docs_v1#CreateFooterResponse": {
      "type": "structure",
      "members": {
        "footerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the created footer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of creating a footer."
      }
    },
    "com.googleworkspace.docs_v1#CreateHeaderResponse": {
      "type": "structure",
      "members": {
        "headerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the created header."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of creating a header."
      }
    },
    "com.googleworkspace.docs_v1#SuggestedTableCellStyle": {
      "type": "structure",
      "members": {
        "tableCellStyleSuggestionState": {
          "target": "com.googleworkspace.docs_v1#TableCellStyleSuggestionState",
          "traits": {
            "smithy.api#documentation": "A mask that indicates which of the fields on the base TableCellStyle have been changed in this suggestion."
          }
        },
        "tableCellStyle": {
          "target": "com.googleworkspace.docs_v1#TableCellStyle",
          "traits": {
            "smithy.api#documentation": "A TableCellStyle that only includes the changes made in this suggestion. This can be used along with the table_cell_style_suggestion_state to see which fields have changed and their new values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A suggested change to a TableCellStyle."
      }
    },
    "com.googleworkspace.docs_v1#ColumnBreak": {
      "type": "structure",
      "members": {
        "suggestedDeletionIds": {
          "target": "com.googleworkspace.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
          }
        },
        "textStyle": {
          "target": "com.googleworkspace.docs_v1#TextStyle",
          "traits": {
            "smithy.api#documentation": "The text style of this ColumnBreak. Similar to text content, like text runs and footnote references, the text style of a column break can affect content layout as well as the styling of text inserted next to it."
          }
        },
        "suggestedTextStyleChanges": {
          "target": "com.googleworkspace.docs_v1#SuggestedTextStyleMap",
          "traits": {
            "smithy.api#documentation": "The suggested text style changes to this ColumnBreak, keyed by suggestion ID."
          }
        },
        "suggestedInsertionIds": {
          "target": "com.googleworkspace.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The suggested insertion IDs. A ColumnBreak may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A ParagraphElement representing a column break. A column break makes the subsequent text start at the top of the next column."
      }
    },
    "com.googleworkspace.docs_v1#MergeTableCellsRequest": {
      "type": "structure",
      "members": {
        "tableRange": {
          "target": "com.googleworkspace.docs_v1#TableRange",
          "traits": {
            "smithy.api#documentation": "The table range specifying which cells of the table to merge. Any text in the cells being merged will be concatenated and stored in the \"head\" cell of the range. This is the upper-left cell of the range when the content direction is left to right, and the upper-right cell of the range otherwise. If the range is non-rectangular (which can occur in some cases where the range covers cells that are already merged or where the table is non-rectangular), a 400 bad request error is returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Merges cells in a Table."
      }
    },
    "com.googleworkspace.docs_v1#TextRun": {
      "type": "structure",
      "members": {
        "suggestedDeletionIds": {
          "target": "com.googleworkspace.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text of this run. Any non-text elements in the run are replaced with the Unicode character U+E907."
          }
        },
        "textStyle": {
          "target": "com.googleworkspace.docs_v1#TextStyle",
          "traits": {
            "smithy.api#documentation": "The text style of this run."
          }
        },
        "suggestedTextStyleChanges": {
          "target": "com.googleworkspace.docs_v1#SuggestedTextStyleMap",
          "traits": {
            "smithy.api#documentation": "The suggested text style changes to this run, keyed by suggestion ID."
          }
        },
        "suggestedInsertionIds": {
          "target": "com.googleworkspace.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The suggested insertion IDs. A TextRun may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A ParagraphElement that represents a run of text that all has the same styling."
      }
    },
    "com.googleworkspace.docs_v1#TableColumnProperties": {
      "type": "structure",
      "members": {
        "widthType": {
          "target": "com.googleworkspace.docs_v1#TableColumnPropertiesWidthTypeEnum",
          "traits": {
            "smithy.api#documentation": "The width type of the column."
          }
        },
        "width": {
          "target": "com.googleworkspace.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The width of the column. Set when the column's `width_type` is FIXED_WIDTH."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of a column in a table."
      }
    },
    "com.googleworkspace.docs_v1#TableColumnPropertiesWidthTypeEnum": {
      "type": "enum",
      "members": {
        "WIDTH_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIDTH_TYPE_UNSPECIFIED"
          }
        },
        "EVENLY_DISTRIBUTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENLY_DISTRIBUTED"
          }
        },
        "FIXED_WIDTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIXED_WIDTH"
          }
        }
      }
    },
    "com.googleworkspace.docs_v1#UpdateTableRowStyleRequest": {
      "type": "structure",
      "members": {
        "rowIndices": {
          "target": "com.googleworkspace.docs_v1#IntegerList",
          "traits": {
            "smithy.api#documentation": "The list of zero-based row indices whose style should be updated. If no indices are specified, all rows will be updated."
          }
        },
        "fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `tableRowStyle` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the minimum row height, set `fields` to `\"min_row_height\"`."
          }
        },
        "tableRowStyle": {
          "target": "com.googleworkspace.docs_v1#TableRowStyle",
          "traits": {
            "smithy.api#documentation": "The styles to be set on the rows."
          }
        },
        "tableStartLocation": {
          "target": "com.googleworkspace.docs_v1#Location",
          "traits": {
            "smithy.api#documentation": "The location where the table starts in the document."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Updates the TableRowStyle of rows in a table."
      }
    },
    "com.googleworkspace.docs_v1#UpdateDocumentStyleRequest": {
      "type": "structure",
      "members": {
        "documentStyle": {
          "target": "com.googleworkspace.docs_v1#DocumentStyle",
          "traits": {
            "smithy.api#documentation": "The styles to set on the document. Certain document style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of DocumentStyle for more information."
          }
        },
        "fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `document_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the background, set `fields` to `\"background\"`."
          }
        },
        "tabId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tab that contains the style to update. When omitted, the request applies to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If not provided, the request applies to the first tab in the document."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Updates the DocumentStyle."
      }
    },
    "com.googleworkspace.docs_v1#ParagraphBorder": {
      "type": "structure",
      "members": {
        "width": {
          "target": "com.googleworkspace.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The width of the border."
          }
        },
        "padding": {
          "target": "com.googleworkspace.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The padding of the border."
          }
        },
        "dashStyle": {
          "target": "com.googleworkspace.docs_v1#ParagraphBorderDashStyleEnum",
          "traits": {
            "smithy.api#documentation": "The dash style of the border."
          }
        },
        "color": {
          "target": "com.googleworkspace.docs_v1#OptionalColor",
          "traits": {
            "smithy.api#documentation": "The color of the border."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A border around a paragraph."
      }
    },
    "com.googleworkspace.docs_v1#ParagraphBorderDashStyleEnum": {
      "type": "enum",
      "members": {
        "DASH_STYLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DASH_STYLE_UNSPECIFIED"
          }
        },
        "SOLID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOLID"
          }
        },
        "DOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOT"
          }
        },
        "DASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DASH"
          }
        }
      }
    },
    "com.googleworkspace.docs_v1#TableCellStyle": {
      "type": "structure",
      "members": {
        "paddingTop": {
          "target": "com.googleworkspace.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The top padding of the cell."
          }
        },
        "borderBottom": {
          "target": "com.googleworkspace.docs_v1#TableCellBorder",
          "traits": {
            "smithy.api#documentation": "The bottom border of the cell."
          }
        },
        "backgroundColor": {
          "target": "com.googleworkspace.docs_v1#OptionalColor",
          "traits": {
            "smithy.api#documentation": "The background color of the cell."
          }
        },
        "borderRight": {
          "target": "com.googleworkspace.docs_v1#TableCellBorder",
          "traits": {
            "smithy.api#documentation": "The right border of the cell."
          }
        },
        "paddingBottom": {
          "target": "com.googleworkspace.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The bottom padding of the cell."
          }
        },
        "borderTop": {
          "target": "com.googleworkspace.docs_v1#TableCellBorder",
          "traits": {
            "smithy.api#documentation": "The top border of the cell."
          }
        },
        "borderLeft": {
          "target": "com.googleworkspace.docs_v1#TableCellBorder",
          "traits": {
            "smithy.api#documentation": "The left border of the cell."
          }
        },
        "paddingLeft": {
          "target": "com.googleworkspace.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The left padding of the cell."
          }
        },
        "rowSpan": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The row span of the cell. This property is read-only."
          }
        },
        "columnSpan": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The column span of the cell. This property is read-only."
          }
        },
        "contentAlignment": {
          "target": "com.googleworkspace.docs_v1#TableCellStyleContentAlignmentEnum",
          "traits": {
            "smithy.api#documentation": "The alignment of the content in the table cell. The default alignment matches the alignment for newly created table cells in the Docs editor."
          }
        },
        "paddingRight": {
          "target": "com.googleworkspace.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The right padding of the cell."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The style of a TableCell. Inherited table cell styles are represented as unset fields in this message. A table cell style can inherit from the table's style."
      }
    },
    "com.googleworkspace.docs_v1#TableCellStyleContentAlignmentEnum": {
      "type": "enum",
      "members": {
        "CONTENT_ALIGNMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT_ALIGNMENT_UNSPECIFIED"
          }
        },
        "CONTENT_ALIGNMENT_UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT_ALIGNMENT_UNSUPPORTED"
          }
        },
        "TOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOP"
          }
        },
        "MIDDLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIDDLE"
          }
        },
        "BOTTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOTTOM"
          }
        }
      }
    },
    "com.googleworkspace.docs_v1#BatchUpdateDocumentRequest": {
      "type": "structure",
      "members": {
        "writeControl": {
          "target": "com.googleworkspace.docs_v1#WriteControl",
          "traits": {
            "smithy.api#documentation": "Provides control over how write requests are executed."
          }
        },
        "requests": {
          "target": "com.googleworkspace.docs_v1#RequestList",
          "traits": {
            "smithy.api#documentation": "A list of updates to apply to the document."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for BatchUpdateDocument."
      }
    },
    "com.googleworkspace.docs_v1#RequestList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.docs_v1#Request"
      }
    },
    "com.googleworkspace.docs_v1#CropProperties": {
      "type": "structure",
      "members": {
        "offsetTop": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The offset specifies how far inwards the top edge of the crop rectangle is from the top edge of the original content as a fraction of the original content's height."
          }
        },
        "offsetLeft": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The offset specifies how far inwards the left edge of the crop rectangle is from the left edge of the original content as a fraction of the original content's width."
          }
        },
        "angle": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The clockwise rotation angle of the crop rectangle around its center, in radians. Rotation is applied after the offsets."
          }
        },
        "offsetBottom": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The offset specifies how far inwards the bottom edge of the crop rectangle is from the bottom edge of the original content as a fraction of the original content's height."
          }
        },
        "offsetRight": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The offset specifies how far inwards the right edge of the crop rectangle is from the right edge of the original content as a fraction of the original content's width."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The crop properties of an image. The crop rectangle is represented using fractional offsets from the original content's 4 edges. - If the offset is in the interval (0, 1), the corresponding edge of crop rectangle is positioned inside of the image's original bounding rectangle. - If the offset is negative or greater than 1, the corresponding edge of crop rectangle is positioned outside of the image's original bounding rectangle. - If all offsets and rotation angles are 0, the image is not cropped."
      }
    },
    "com.googleworkspace.docs_v1#TableOfContents": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.googleworkspace.docs_v1#StructuralElementList",
          "traits": {
            "smithy.api#documentation": "The content of the table of contents."
          }
        },
        "suggestedDeletionIds": {
          "target": "com.googleworkspace.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
          }
        },
        "suggestedInsertionIds": {
          "target": "com.googleworkspace.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The suggested insertion IDs. A TableOfContents may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A StructuralElement representing a table of contents."
      }
    },
    "com.googleworkspace.docs_v1#EmbeddedDrawingPropertiesSuggestionState": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A mask that indicates which of the fields on the base EmbeddedDrawingProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
      }
    },
    "com.googleworkspace.docs_v1#TabProperties": {
      "type": "structure",
      "members": {
        "tabId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The immutable ID of the tab."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user-visible name of the tab."
          }
        },
        "parentTabId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The ID of the parent tab. Empty when the current tab is a root-level tab, which means it doesn't have any parents."
          }
        },
        "nestingLevel": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The depth of the tab within the document. Root-level tabs start at 0."
          }
        },
        "index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The zero-based index of the tab within the parent."
          }
        },
        "iconEmoji": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The emoji icon displayed with the tab. A valid emoji icon is represented by a non-empty Unicode string. Any set of characters that don't represent a single emoji is invalid. If an emoji is invalid, a 400 bad request error is returned. If this value is unset or empty, the tab will display the default tab icon."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a tab."
      }
    },
    "com.googleworkspace.docs_v1#RgbColor": {
      "type": "structure",
      "members": {
        "blue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The blue component of the color, from 0.0 to 1.0."
          }
        },
        "red": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The red component of the color, from 0.0 to 1.0."
          }
        },
        "green": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The green component of the color, from 0.0 to 1.0."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An RGB color."
      }
    },
    "com.googleworkspace.docs_v1#DeleteParagraphBulletsRequest": {
      "type": "structure",
      "members": {
        "range": {
          "target": "com.googleworkspace.docs_v1#Range",
          "traits": {
            "smithy.api#documentation": "The range to delete bullets from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deletes bullets from all of the paragraphs that overlap with the given range. The nesting level of each paragraph will be visually preserved by adding indent to the start of the corresponding paragraph."
      }
    },
    "com.googleworkspace.docs_v1#SheetsChartReferenceSuggestionState": {
      "type": "structure",
      "members": {
        "spreadsheetIdSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to spreadsheet_id."
          }
        },
        "chartIdSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to chart_id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A mask that indicates which of the fields on the base SheetsChartReference have been changed in this suggestion. For any field set to true, there's a new suggested value."
      }
    },
    "com.googleworkspace.docs_v1#ListProperties": {
      "type": "structure",
      "members": {
        "nestingLevels": {
          "target": "com.googleworkspace.docs_v1#NestingLevelList",
          "traits": {
            "smithy.api#documentation": "Describes the properties of the bullets at the associated level. A list has at most 9 levels of nesting with nesting level 0 corresponding to the top-most level and nesting level 8 corresponding to the most nested level. The nesting levels are returned in ascending order with the least nested returned first."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of a list that describe the look and feel of bullets belonging to paragraphs associated with a list."
      }
    },
    "com.googleworkspace.docs_v1#NestingLevelList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.docs_v1#NestingLevel"
      }
    },
    "com.googleworkspace.docs_v1#SectionStyle": {
      "type": "structure",
      "members": {
        "flipPageOrientation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates whether to flip the dimensions of DocumentStyle's page_size for this section, which allows changing the page orientation between portrait and landscape. If unset, the value inherits from DocumentStyle's flip_page_orientation. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
          }
        },
        "evenPageHeaderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the header used only for even pages. If the value of DocumentStyle's use_even_page_header_footer is true, this value is used for the headers on even pages in the section. If it is false, the headers on even pages use the default_header_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's even_page_header_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
          }
        },
        "contentDirection": {
          "target": "com.googleworkspace.docs_v1#SectionStyleContentDirectionEnum",
          "traits": {
            "smithy.api#documentation": "The content direction of this section. If unset, the value defaults to LEFT_TO_RIGHT. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
          }
        },
        "pageNumberStart": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The page number from which to start counting the number of pages for this section. If unset, page numbering continues from the previous section. If the value is unset in the first SectionBreak, refer to DocumentStyle's page_number_start. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
          }
        },
        "firstPageFooterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the footer used only for the first page of the section. If use_first_page_header_footer is true, this value is used for the footer on the first page of the section. If it's false, the footer on the first page of the section uses the default_footer_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's first_page_footer_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
          }
        },
        "marginFooter": {
          "target": "com.googleworkspace.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The footer margin of the section. If unset, the value defaults to margin_footer from DocumentStyle. If updated, use_custom_header_footer_margins is set to true on DocumentStyle. The value of use_custom_header_footer_margins on DocumentStyle indicates if a footer margin is being respected for this section If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
          }
        },
        "sectionType": {
          "target": "com.googleworkspace.docs_v1#SectionStyleSectionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of section."
          }
        },
        "marginTop": {
          "target": "com.googleworkspace.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The top page margin of the section. If unset, the value defaults to margin_top from DocumentStyle. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
          }
        },
        "columnProperties": {
          "target": "com.googleworkspace.docs_v1#SectionColumnPropertiesList",
          "traits": {
            "smithy.api#documentation": "The section's columns properties. If empty, the section contains one column with the default properties in the Docs editor. A section can be updated to have no more than 3 columns. When updating this property, setting a concrete value is required. Unsetting this property will result in a 400 bad request error."
          }
        },
        "defaultHeaderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the default header. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's default_header_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
          }
        },
        "marginRight": {
          "target": "com.googleworkspace.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The right page margin of the section. If unset, the value defaults to margin_right from DocumentStyle. Updating the right margin causes columns in this section to resize. Since the margin affects column width, it's applied before column properties. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
          }
        },
        "firstPageHeaderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the header used only for the first page of the section. If use_first_page_header_footer is true, this value is used for the header on the first page of the section. If it's false, the header on the first page of the section uses the default_header_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's first_page_header_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
          }
        },
        "marginBottom": {
          "target": "com.googleworkspace.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The bottom page margin of the section. If unset, the value defaults to margin_bottom from DocumentStyle. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
          }
        },
        "defaultFooterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the default footer. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's default_footer_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
          }
        },
        "columnSeparatorStyle": {
          "target": "com.googleworkspace.docs_v1#SectionStyleColumnSeparatorStyleEnum",
          "traits": {
            "smithy.api#documentation": "The style of column separators. This style can be set even when there's one column in the section. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
          }
        },
        "useFirstPageHeaderFooter": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether to use the first page header / footer IDs for the first page of the section. If unset, it inherits from DocumentStyle's use_first_page_header_footer for the first section. If the value is unset for subsequent sectors, it should be interpreted as false. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
          }
        },
        "marginHeader": {
          "target": "com.googleworkspace.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The header margin of the section. If unset, the value defaults to margin_header from DocumentStyle. If updated, use_custom_header_footer_margins is set to true on DocumentStyle. The value of use_custom_header_footer_margins on DocumentStyle indicates if a header margin is being respected for this section. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
          }
        },
        "evenPageFooterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the footer used only for even pages. If the value of DocumentStyle's use_even_page_header_footer is true, this value is used for the footers on even pages in the section. If it is false, the footers on even pages use the default_footer_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's even_page_footer_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
          }
        },
        "marginLeft": {
          "target": "com.googleworkspace.docs_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The left page margin of the section. If unset, the value defaults to margin_left from DocumentStyle. Updating the left margin causes columns in this section to resize. Since the margin affects column width, it's applied before column properties. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The styling that applies to a section."
      }
    },
    "com.googleworkspace.docs_v1#SectionStyleContentDirectionEnum": {
      "type": "enum",
      "members": {
        "CONTENT_DIRECTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT_DIRECTION_UNSPECIFIED"
          }
        },
        "LEFT_TO_RIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_TO_RIGHT"
          }
        },
        "RIGHT_TO_LEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_TO_LEFT"
          }
        }
      }
    },
    "com.googleworkspace.docs_v1#SectionStyleSectionTypeEnum": {
      "type": "enum",
      "members": {
        "SECTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECTION_TYPE_UNSPECIFIED"
          }
        },
        "CONTINUOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTINUOUS"
          }
        },
        "NEXT_PAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEXT_PAGE"
          }
        }
      }
    },
    "com.googleworkspace.docs_v1#SectionColumnPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.docs_v1#SectionColumnProperties"
      }
    },
    "com.googleworkspace.docs_v1#SectionStyleColumnSeparatorStyleEnum": {
      "type": "enum",
      "members": {
        "COLUMN_SEPARATOR_STYLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLUMN_SEPARATOR_STYLE_UNSPECIFIED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "BETWEEN_EACH_COLUMN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BETWEEN_EACH_COLUMN"
          }
        }
      }
    },
    "com.googleworkspace.docs_v1#UpdateSectionStyleRequest": {
      "type": "structure",
      "members": {
        "sectionStyle": {
          "target": "com.googleworkspace.docs_v1#SectionStyle",
          "traits": {
            "smithy.api#documentation": "The styles to be set on the section. Certain section style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of SectionStyle for more information."
          }
        },
        "range": {
          "target": "com.googleworkspace.docs_v1#Range",
          "traits": {
            "smithy.api#documentation": "The range overlapping the sections to style. Because section breaks can only be inserted inside the body, the segment ID field must be empty."
          }
        },
        "fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `section_style` is implied and must not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the left margin, set `fields` to `\"margin_left\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Updates the SectionStyle."
      }
    },
    "com.googleworkspace.docs_v1#ReplaceAllTextRequest": {
      "type": "structure",
      "members": {
        "tabsCriteria": {
          "target": "com.googleworkspace.docs_v1#TabsCriteria",
          "traits": {
            "smithy.api#documentation": "Optional. The criteria used to specify in which tabs the replacement occurs. When omitted, the replacement applies to all tabs. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the replacement applies to the singular tab. In a document containing multiple tabs: - If provided, the replacement applies to the specified tabs. - If omitted, the replacement applies to all tabs."
          }
        },
        "containsText": {
          "target": "com.googleworkspace.docs_v1#SubstringMatchCriteria",
          "traits": {
            "smithy.api#documentation": "Finds text in the document matching this substring."
          }
        },
        "replaceText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text that will replace the matched text."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Replaces all instances of text matching a criteria with replace text."
      }
    },
    "com.googleworkspace.docs_v1#TableRowStyleSuggestionState": {
      "type": "structure",
      "members": {
        "minRowHeightSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to min_row_height."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion. For any field set to true, there's a new suggested value."
      }
    },
    "com.googleworkspace.docs_v1#Location": {
      "type": "structure",
      "members": {
        "tabId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tab that the location is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document."
          }
        },
        "segmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the header, footer or footnote the location is in. An empty segment ID signifies the document's body."
          }
        },
        "index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The zero-based index, in UTF-16 code units. The index is relative to the beginning of the segment specified by segment_id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A particular location in the document."
      }
    },
    "com.googleworkspace.docs_v1#PositionedObjectProperties": {
      "type": "structure",
      "members": {
        "positioning": {
          "target": "com.googleworkspace.docs_v1#PositionedObjectPositioning",
          "traits": {
            "smithy.api#documentation": "The positioning of this positioned object relative to the newline of the Paragraph that references this positioned object."
          }
        },
        "embeddedObject": {
          "target": "com.googleworkspace.docs_v1#EmbeddedObject",
          "traits": {
            "smithy.api#documentation": "The embedded object of this positioned object."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a PositionedObject."
      }
    },
    "com.googleworkspace.docs_v1#InsertPageBreakRequest": {
      "type": "structure",
      "members": {
        "location": {
          "target": "com.googleworkspace.docs_v1#Location",
          "traits": {
            "smithy.api#documentation": "Inserts the page break at a specific index in the document. The page break must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Page breaks cannot be inserted inside a table, equation, footnote, header or footer. Since page breaks can only be inserted inside the body, the segment ID field must be empty."
          }
        },
        "endOfSegmentLocation": {
          "target": "com.googleworkspace.docs_v1#EndOfSegmentLocation",
          "traits": {
            "smithy.api#documentation": "Inserts the page break at the end of the document body. Page breaks cannot be inserted inside a footnote, header or footer. Since page breaks can only be inserted inside the body, the segment ID field must be empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Inserts a page break followed by a newline at the specified location."
      }
    },
    "com.googleworkspace.docs_v1#LinkedContentReference": {
      "type": "structure",
      "members": {
        "sheetsChartReference": {
          "target": "com.googleworkspace.docs_v1#SheetsChartReference",
          "traits": {
            "smithy.api#documentation": "A reference to the linked chart."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reference to the external linked source content."
      }
    },
    "com.googleworkspace.docs_v1#TabsCriteria": {
      "type": "structure",
      "members": {
        "tabIds": {
          "target": "com.googleworkspace.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of tab IDs in which the request executes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A criteria that specifies in which tabs a request executes."
      }
    },
    "com.googleworkspace.docs_v1#List": {
      "type": "structure",
      "members": {
        "suggestedInsertionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The suggested insertion ID. If empty, then this is not a suggested insertion."
          }
        },
        "suggestedListPropertiesChanges": {
          "target": "com.googleworkspace.docs_v1#SuggestedListPropertiesMap",
          "traits": {
            "smithy.api#documentation": "The suggested changes to the list properties, keyed by suggestion ID."
          }
        },
        "listProperties": {
          "target": "com.googleworkspace.docs_v1#ListProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the list."
          }
        },
        "suggestedDeletionIds": {
          "target": "com.googleworkspace.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The suggested deletion IDs. If empty, then there are no suggested deletions of this list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A List represents the list attributes for a group of paragraphs that all belong to the same list. A paragraph that's part of a list has a reference to the list's ID in its bullet."
      }
    },
    "com.googleworkspace.docs_v1#SuggestedListPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.googleworkspace.docs_v1#SuggestedListProperties"
      }
    },
    "com.googleworkspace.docs_v1#Table": {
      "type": "structure",
      "members": {
        "suggestedInsertionIds": {
          "target": "com.googleworkspace.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The suggested insertion IDs. A Table may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
          }
        },
        "rows": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of rows in the table."
          }
        },
        "tableStyle": {
          "target": "com.googleworkspace.docs_v1#TableStyle",
          "traits": {
            "smithy.api#documentation": "The style of the table."
          }
        },
        "suggestedDeletionIds": {
          "target": "com.googleworkspace.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
          }
        },
        "tableRows": {
          "target": "com.googleworkspace.docs_v1#TableRowList",
          "traits": {
            "smithy.api#documentation": "The contents and style of each row."
          }
        },
        "columns": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of columns in the table. It's possible for a table to be non-rectangular, so some rows may have a different number of cells."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A StructuralElement representing a table."
      }
    },
    "com.googleworkspace.docs_v1#TableRowList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.docs_v1#TableRow"
      }
    },
    "com.googleworkspace.docs_v1#DocumentFormat": {
      "type": "structure",
      "members": {
        "documentMode": {
          "target": "com.googleworkspace.docs_v1#DocumentFormatDocumentModeEnum",
          "traits": {
            "smithy.api#documentation": "Whether the document has pages or is pageless."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents document-level format settings."
      }
    },
    "com.googleworkspace.docs_v1#DocumentFormatDocumentModeEnum": {
      "type": "enum",
      "members": {
        "DOCUMENT_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT_MODE_UNSPECIFIED"
          }
        },
        "PAGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAGES"
          }
        },
        "PAGELESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAGELESS"
          }
        }
      }
    },
    "com.googleworkspace.docs_v1#DeleteNamedRangeRequest": {
      "type": "structure",
      "members": {
        "namedRangeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the named range to delete."
          }
        },
        "tabsCriteria": {
          "target": "com.googleworkspace.docs_v1#TabsCriteria",
          "traits": {
            "smithy.api#documentation": "Optional. The criteria used to specify which tab(s) the range deletion should occur in. When omitted, the range deletion is applied to all tabs. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the range deletion applies to the singular tab. In a document containing multiple tabs: - If provided, the range deletion applies to the specified tabs. - If not provided, the range deletion applies to all tabs."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the range(s) to delete. All named ranges with the given name will be deleted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deletes a NamedRange."
      }
    },
    "com.googleworkspace.docs_v1#UpdateTableCellStyleRequest": {
      "type": "structure",
      "members": {
        "tableRange": {
          "target": "com.googleworkspace.docs_v1#TableRange",
          "traits": {
            "smithy.api#documentation": "The table range representing the subset of the table to which the updates are applied."
          }
        },
        "tableStartLocation": {
          "target": "com.googleworkspace.docs_v1#Location",
          "traits": {
            "smithy.api#documentation": "The location where the table starts in the document. When specified, the updates are applied to all the cells in the table."
          }
        },
        "fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `tableCellStyle` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the table cell background color, set `fields` to `\"backgroundColor\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset."
          }
        },
        "tableCellStyle": {
          "target": "com.googleworkspace.docs_v1#TableCellStyle",
          "traits": {
            "smithy.api#documentation": "The style to set on the table cells. When updating borders, if a cell shares a border with an adjacent cell, the corresponding border property of the adjacent cell is updated as well. Borders that are merged and invisible are not updated. Since updating a border shared by adjacent cells in the same request can cause conflicting border updates, border updates are applied in the following order: - `border_right` - `border_left` - `border_bottom` - `border_top`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Updates the style of a range of table cells."
      }
    },
    "com.googleworkspace.docs_v1#LinkedContentReferenceSuggestionState": {
      "type": "structure",
      "members": {
        "sheetsChartReferenceSuggestionState": {
          "target": "com.googleworkspace.docs_v1#SheetsChartReferenceSuggestionState",
          "traits": {
            "smithy.api#documentation": "A mask that indicates which of the fields in sheets_chart_reference have been changed in this suggestion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A mask that indicates which of the fields on the base LinkedContentReference have been changed in this suggestion. For any field set to true, there's a new suggested value."
      }
    },
    "com.googleworkspace.docs_v1#TableCell": {
      "type": "structure",
      "members": {
        "tableCellStyle": {
          "target": "com.googleworkspace.docs_v1#TableCellStyle",
          "traits": {
            "smithy.api#documentation": "The style of the cell."
          }
        },
        "suggestedDeletionIds": {
          "target": "com.googleworkspace.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
          }
        },
        "content": {
          "target": "com.googleworkspace.docs_v1#StructuralElementList",
          "traits": {
            "smithy.api#documentation": "The content of the cell."
          }
        },
        "suggestedTableCellStyleChanges": {
          "target": "com.googleworkspace.docs_v1#SuggestedTableCellStyleMap",
          "traits": {
            "smithy.api#documentation": "The suggested changes to the table cell style, keyed by suggestion ID."
          }
        },
        "endIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The zero-based end index of this cell, exclusive, in UTF-16 code units."
          }
        },
        "suggestedInsertionIds": {
          "target": "com.googleworkspace.docs_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The suggested insertion IDs. A TableCell may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
          }
        },
        "startIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The zero-based start index of this cell, in UTF-16 code units."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The contents and style of a cell in a Table."
      }
    },
    "com.googleworkspace.docs_v1#SuggestedTableCellStyleMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.googleworkspace.docs_v1#SuggestedTableCellStyle"
      }
    },
    "com.googleworkspace.docs_v1#WeightedFontFamily": {
      "type": "structure",
      "members": {
        "weight": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The weight of the font. This field can have any value that's a multiple of `100` between `100` and `900`, inclusive. This range corresponds to the numerical values described in the CSS 2.1 Specification, [section 15.6](https://www.w3.org/TR/CSS21/fonts.html#font-boldness), with non-numerical values disallowed. The default value is `400` (\"normal\"). The font weight makes up just one component of the rendered font weight. A combination of the `weight` and the text style's resolved `bold` value determine the rendered weight, after accounting for inheritance: * If the text is bold and the weight is less than `400`, the rendered weight is 400. * If the text is bold and the weight is greater than or equal to `400` but is less than `700`, the rendered weight is `700`. * If the weight is greater than or equal to `700`, the rendered weight is equal to the weight. * If the text is not bold, the rendered weight is equal to the weight."
          }
        },
        "fontFamily": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The font family of the text. The font family can be any font from the Font menu in Docs or from [Google Fonts] (https://fonts.google.com/). If the font name is unrecognized, the text is rendered in `Arial`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a font family and weight of text."
      }
    },
    "com.googleworkspace.docs_v1#CreateNamedRangeRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the NamedRange. Names do not need to be unique. Names must be at least 1 character and no more than 256 characters, measured in UTF-16 code units."
          }
        },
        "range": {
          "target": "com.googleworkspace.docs_v1#Range",
          "traits": {
            "smithy.api#documentation": "The range to apply the name to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Creates a NamedRange referencing the given range."
      }
    },
    "com.googleworkspace.docs_v1#ReplaceNamedRangeContentRequest": {
      "type": "structure",
      "members": {
        "namedRangeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the NamedRanges whose content will be replaced. If there are multiple named ranges with the given name, then the content of each one will be replaced. If there are no named ranges with the given name, then the request will be a no-op."
          }
        },
        "tabsCriteria": {
          "target": "com.googleworkspace.docs_v1#TabsCriteria",
          "traits": {
            "smithy.api#documentation": "Optional. The criteria used to specify in which tabs the replacement occurs. When omitted, the replacement applies to all tabs. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the replacement applies to the singular tab. In a document containing multiple tabs: - If provided, the replacement applies to the specified tabs. - If omitted, the replacement applies to all tabs."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Replaces the content of the specified named range(s) with the given text."
          }
        },
        "namedRangeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the named range whose content will be replaced. If there is no named range with the given ID a 400 bad request error is returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Replaces the contents of the specified NamedRange or NamedRanges with the given replacement content. Note that an individual NamedRange may consist of multiple discontinuous ranges. In this case, only the content in the first range will be replaced. The other ranges and their content will be deleted. In cases where replacing or deleting any ranges would result in an invalid document structure, a 400 bad request error is returned."
      }
    },
    "com.googleworkspace.docs_v1#PinTableHeaderRowsRequest": {
      "type": "structure",
      "members": {
        "tableStartLocation": {
          "target": "com.googleworkspace.docs_v1#Location",
          "traits": {
            "smithy.api#documentation": "The location where the table starts in the document."
          }
        },
        "pinnedHeaderRowsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of table rows to pin, where 0 implies that all rows are unpinned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Updates the number of pinned table header rows in a table."
      }
    },
    "com.googleworkspace.docs_v1#CreateFootnoteResponse": {
      "type": "structure",
      "members": {
        "footnoteId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the created footnote."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of creating a footnote."
      }
    },
    "com.googleworkspace.docs_v1#DeleteContentRangeRequest": {
      "type": "structure",
      "members": {
        "range": {
          "target": "com.googleworkspace.docs_v1#Range",
          "traits": {
            "smithy.api#documentation": "The range of content to delete. Deleting text that crosses a paragraph boundary may result in changes to paragraph styles, lists, positioned objects and bookmarks as the two paragraphs are merged. Attempting to delete certain ranges can result in an invalid document structure in which case a 400 bad request error is returned. Some examples of invalid delete requests include: * Deleting one code unit of a surrogate pair. * Deleting the last newline character of a Body, Header, Footer, Footnote, TableCell or TableOfContents. * Deleting the start or end of a Table, TableOfContents or Equation without deleting the entire element. * Deleting the newline character before a Table, TableOfContents or SectionBreak without deleting the element. * Deleting individual rows or cells of a table. Deleting the content within a table cell is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deletes content from the document."
      }
    },
    "com.googleworkspace.docs_v1#TableCellStyleSuggestionState": {
      "type": "structure",
      "members": {
        "paddingBottomSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to padding_bottom."
          }
        },
        "borderTopSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to border_top."
          }
        },
        "borderRightSuggested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there was a suggested change to border_right."
          }
        },
[...]
