{
  "smithy": "2.0",
  "metadata": {
    "service": "sheets",
    "version": "v4",
    "title": "Google Sheets API",
    "baseUrl": "https://sheets.googleapis.com/"
  },
  "shapes": {
    "com.googleworkspace.sheets_v4#DuplicateFilterViewRequest": {
      "type": "structure",
      "members": {
        "filterId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the filter being duplicated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Duplicates a particular filter view."
      }
    },
    "com.googleworkspace.sheets_v4#CopySheetToAnotherSpreadsheetRequest": {
      "type": "structure",
      "members": {
        "destinationSpreadsheetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the spreadsheet to copy the sheet to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request to copy a sheet across spreadsheets."
      }
    },
    "com.googleworkspace.sheets_v4#TreemapChartColorScale": {
      "type": "structure",
      "members": {
        "midValueColorStyle": {
          "target": "com.googleworkspace.sheets_v4#ColorStyle",
          "traits": {
            "smithy.api#documentation": "The background color for cells with a color value at the midpoint between minValue and maxValue. Defaults to #efe6dc if not specified. If mid_value_color is also set, this field takes precedence."
          }
        },
        "minValueColor": {
          "target": "com.googleworkspace.sheets_v4#Color",
          "traits": {
            "smithy.api#documentation": "The background color for cells with a color value less than or equal to minValue. Defaults to #dc3912 if not specified. Deprecated: Use min_value_color_style."
          }
        },
        "maxValueColor": {
          "target": "com.googleworkspace.sheets_v4#Color",
          "traits": {
            "smithy.api#documentation": "The background color for cells with a color value greater than or equal to maxValue. Defaults to #109618 if not specified. Deprecated: Use max_value_color_style."
          }
        },
        "noDataColorStyle": {
          "target": "com.googleworkspace.sheets_v4#ColorStyle",
          "traits": {
            "smithy.api#documentation": "The background color for cells that have no color data associated with them. Defaults to #000000 if not specified. If no_data_color is also set, this field takes precedence."
          }
        },
        "maxValueColorStyle": {
          "target": "com.googleworkspace.sheets_v4#ColorStyle",
          "traits": {
            "smithy.api#documentation": "The background color for cells with a color value greater than or equal to maxValue. Defaults to #109618 if not specified. If max_value_color is also set, this field takes precedence."
          }
        },
        "noDataColor": {
          "target": "com.googleworkspace.sheets_v4#Color",
          "traits": {
            "smithy.api#documentation": "The background color for cells that have no color data associated with them. Defaults to #000000 if not specified. Deprecated: Use no_data_color_style."
          }
        },
        "minValueColorStyle": {
          "target": "com.googleworkspace.sheets_v4#ColorStyle",
          "traits": {
            "smithy.api#documentation": "The background color for cells with a color value less than or equal to minValue. Defaults to #dc3912 if not specified. If min_value_color is also set, this field takes precedence."
          }
        },
        "midValueColor": {
          "target": "com.googleworkspace.sheets_v4#Color",
          "traits": {
            "smithy.api#documentation": "The background color for cells with a color value at the midpoint between minValue and maxValue. Defaults to #efe6dc if not specified. Deprecated: Use mid_value_color_style."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A color scale for a treemap chart."
      }
    },
    "com.googleworkspace.sheets_v4#UpdateDataSourceRequest": {
      "type": "structure",
      "members": {
        "fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `dataSource` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field."
          }
        },
        "dataSource": {
          "target": "com.googleworkspace.sheets_v4#DataSource",
          "traits": {
            "smithy.api#documentation": "The data source to update."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Updates a data source. After the data source is updated successfully, an execution is triggered to refresh the associated DATA_SOURCE sheet to read data from the updated data source. The request requires an additional `bigquery.readonly` OAuth scope if you are updating a BigQuery data source."
      }
    },
    "com.googleworkspace.sheets_v4#UpdateDataSourceResponse": {
      "type": "structure",
      "members": {
        "dataExecutionStatus": {
          "target": "com.googleworkspace.sheets_v4#DataExecutionStatus",
          "traits": {
            "smithy.api#documentation": "The data execution status."
          }
        },
        "dataSource": {
          "target": "com.googleworkspace.sheets_v4#DataSource",
          "traits": {
            "smithy.api#documentation": "The updated data source."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from updating data source."
      }
    },
    "com.googleworkspace.sheets_v4#ValueRange": {
      "type": "structure",
      "members": {
        "range": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The range the values cover, in [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell). For output, this range indicates the entire requested range, even though the values will exclude trailing rows and columns. When appending values, this field represents the range to search for a table, after which values will be appended."
          }
        },
        "values": {
          "target": "com.googleworkspace.sheets_v4#DocumentListList",
          "traits": {
            "smithy.api#documentation": "The data that was read or to be written. This is an array of arrays, the outer array representing all the data and each inner array representing a major dimension. Each item in the inner array corresponds with one cell. For output, empty trailing rows and columns will not be included. For input, supported value types are: bool, string, and double. Null values will be skipped. To set a cell to an empty value, set the string value to an empty string."
          }
        },
        "majorDimension": {
          "target": "com.googleworkspace.sheets_v4#ValueRangeMajorDimensionEnum",
          "traits": {
            "smithy.api#documentation": "The major dimension of the values. For output, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`, then requesting `range=A1:B2,majorDimension=ROWS` will return `[[1,2],[3,4]]`, whereas requesting `range=A1:B2,majorDimension=COLUMNS` will return `[[1,3],[2,4]]`. For input, with `range=A1:B2,majorDimension=ROWS` then `[[1,2],[3,4]]` will set `A1=1,B1=2,A2=3,B2=4`. With `range=A1:B2,majorDimension=COLUMNS` then `[[1,2],[3,4]]` will set `A1=1,B1=3,A2=2,B2=4`. When writing, if this field is not set, it defaults to ROWS."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data within a range of the spreadsheet."
      }
    },
    "com.googleworkspace.sheets_v4#DocumentList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.googleworkspace.sheets_v4#DocumentListList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.sheets_v4#DocumentList"
      }
    },
    "com.googleworkspace.sheets_v4#ValueRangeMajorDimensionEnum": {
      "type": "enum",
      "members": {
        "DIMENSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIMENSION_UNSPECIFIED"
          }
        },
        "ROWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROWS"
          }
        },
        "COLUMNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLUMNS"
          }
        }
      }
    },
    "com.googleworkspace.sheets_v4#InterpolationPoint": {
      "type": "structure",
      "members": {
        "colorStyle": {
          "target": "com.googleworkspace.sheets_v4#ColorStyle",
          "traits": {
            "smithy.api#documentation": "The color this interpolation point should use. If color is also set, this field takes precedence."
          }
        },
        "color": {
          "target": "com.googleworkspace.sheets_v4#Color",
          "traits": {
            "smithy.api#documentation": "The color this interpolation point should use. Deprecated: Use color_style."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value this interpolation point uses. May be a formula. Unused if type is MIN or MAX."
          }
        },
        "type": {
          "target": "com.googleworkspace.sheets_v4#InterpolationPointTypeEnum",
          "traits": {
            "smithy.api#documentation": "How the value should be interpreted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single interpolation point on a gradient conditional format. These pin the gradient color scale according to the color, type and value chosen."
      }
    },
    "com.googleworkspace.sheets_v4#InterpolationPointTypeEnum": {
      "type": "enum",
      "members": {
        "INTERPOLATION_POINT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERPOLATION_POINT_TYPE_UNSPECIFIED"
          }
        },
        "MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIN"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAX"
          }
        },
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NUMBER"
          }
        },
        "PERCENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERCENT"
          }
        },
        "PERCENTILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERCENTILE"
          }
        }
      }
    },
    "com.googleworkspace.sheets_v4#WaterfallChartDomain": {
      "type": "structure",
      "members": {
        "reversed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True to reverse the order of the domain values (horizontal axis)."
          }
        },
        "data": {
          "target": "com.googleworkspace.sheets_v4#ChartData",
          "traits": {
            "smithy.api#documentation": "The data of the WaterfallChartDomain."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The domain of a waterfall chart."
      }
    },
    "com.googleworkspace.sheets_v4#DeleteConditionalFormatRuleResponse": {
      "type": "structure",
      "members": {
        "rule": {
          "target": "com.googleworkspace.sheets_v4#ConditionalFormatRule",
          "traits": {
            "smithy.api#documentation": "The rule that was deleted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of deleting a conditional format rule."
      }
    },
    "com.googleworkspace.sheets_v4#BatchUpdateSpreadsheetRequest": {
      "type": "structure",
      "members": {
        "requests": {
          "target": "com.googleworkspace.sheets_v4#RequestList",
          "traits": {
            "smithy.api#documentation": "A list of updates to apply to the spreadsheet. Requests will be applied in the order they are specified. If any request is not valid, no requests will be applied."
          }
        },
        "responseIncludeGridData": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if grid data should be returned. Meaningful only if include_spreadsheet_in_response is 'true'. This parameter is ignored if a field mask was set in the request."
          }
        },
        "responseRanges": {
          "target": "com.googleworkspace.sheets_v4#StringList",
          "traits": {
            "smithy.api#documentation": "Limits the ranges included in the response spreadsheet. Meaningful only if include_spreadsheet_in_response is 'true'."
          }
        },
        "includeSpreadsheetInResponse": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines if the update response should include the spreadsheet resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for updating any aspect of a spreadsheet."
      }
    },
    "com.googleworkspace.sheets_v4#RequestList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.sheets_v4#Request"
      }
    },
    "com.googleworkspace.sheets_v4#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.googleworkspace.sheets_v4#BatchGetValuesResponse": {
      "type": "structure",
      "members": {
        "spreadsheetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the spreadsheet the data was retrieved from."
          }
        },
        "valueRanges": {
          "target": "com.googleworkspace.sheets_v4#ValueRangeList",
          "traits": {
            "smithy.api#documentation": "The requested values. The order of the ValueRanges is the same as the order of the requested ranges."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response when retrieving more than one range of values in a spreadsheet."
      }
    },
    "com.googleworkspace.sheets_v4#ValueRangeList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.sheets_v4#ValueRange"
      }
    },
    "com.googleworkspace.sheets_v4#FilterView": {
      "type": "structure",
      "members": {
        "tableId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The table this filter view is backed by, if any. When writing, only one of range, named_range_id, or table_id may be set."
          }
        },
        "range": {
          "target": "com.googleworkspace.sheets_v4#GridRange",
          "traits": {
            "smithy.api#documentation": "The range this filter view covers. When writing, only one of range, named_range_id, or table_id may be set."
          }
        },
        "filterSpecs": {
          "target": "com.googleworkspace.sheets_v4#FilterSpecList",
          "traits": {
            "smithy.api#documentation": "The filter criteria for showing or hiding values per column. Both criteria and filter_specs are populated in responses. If both fields are specified in an update request, this field takes precedence."
          }
        },
        "sortSpecs": {
          "target": "com.googleworkspace.sheets_v4#SortSpecList",
          "traits": {
            "smithy.api#documentation": "The sort order per column. Later specifications are used when values are equal in the earlier specifications."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the filter view."
          }
        },
        "namedRangeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The named range this filter view is backed by, if any. When writing, only one of range, named_range_id, or table_id may be set."
          }
        },
        "filterViewId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the filter view."
          }
        },
        "criteria": {
          "target": "com.googleworkspace.sheets_v4#FilterCriteriaMap",
          "traits": {
            "smithy.api#documentation": "The criteria for showing/hiding values per column. The map's key is the column index, and the value is the criteria for that column. This field is deprecated in favor of filter_specs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A filter view. For more information, see [Manage data visibility with filters](https://developers.google.com/workspace/sheets/api/guides/filters)."
      }
    },
    "com.googleworkspace.sheets_v4#FilterSpecList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.sheets_v4#FilterSpec"
      }
    },
    "com.googleworkspace.sheets_v4#SortSpecList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.sheets_v4#SortSpec"
      }
    },
    "com.googleworkspace.sheets_v4#FilterCriteriaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.googleworkspace.sheets_v4#FilterCriteria"
      }
    },
    "com.googleworkspace.sheets_v4#BatchClearValuesByDataFilterRequest": {
      "type": "structure",
      "members": {
        "dataFilters": {
          "target": "com.googleworkspace.sheets_v4#DataFilterList",
          "traits": {
            "smithy.api#documentation": "The DataFilters used to determine which ranges to clear."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for clearing more than one range selected by a DataFilter in a spreadsheet."
      }
    },
    "com.googleworkspace.sheets_v4#DataFilterList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.sheets_v4#DataFilter"
      }
    },
    "com.googleworkspace.sheets_v4#CancelDataSourceRefreshStatus": {
      "type": "structure",
      "members": {
        "reference": {
          "target": "com.googleworkspace.sheets_v4#DataSourceObjectReference",
          "traits": {
            "smithy.api#documentation": "Reference to the data source object whose refresh is being cancelled."
          }
        },
        "refreshCancellationStatus": {
          "target": "com.googleworkspace.sheets_v4#RefreshCancellationStatus",
          "traits": {
            "smithy.api#documentation": "The cancellation status."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of cancelling a single data source object refresh."
      }
    },
    "com.googleworkspace.sheets_v4#FilterSpec": {
      "type": "structure",
      "members": {
        "dataSourceColumnReference": {
          "target": "com.googleworkspace.sheets_v4#DataSourceColumnReference",
          "traits": {
            "smithy.api#documentation": "Reference to a data source column."
          }
        },
        "filterCriteria": {
          "target": "com.googleworkspace.sheets_v4#FilterCriteria",
          "traits": {
            "smithy.api#documentation": "The criteria for the column."
          }
        },
        "columnIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The zero-based column index."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The filter criteria associated with a specific column."
      }
    },
    "com.googleworkspace.sheets_v4#DataSourceRefreshDailySchedule": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "com.googleworkspace.sheets_v4#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "The start time of a time interval in which a data source refresh is scheduled. Only `hours` part is used. The time interval size defaults to that in the Sheets editor."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A schedule for data to refresh every day in a given time interval."
      }
    },
    "com.googleworkspace.sheets_v4#ClearBasicFilterRequest": {
      "type": "structure",
      "members": {
        "sheetId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The sheet ID on which the basic filter should be cleared."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Clears the basic filter, if any exists on the sheet."
      }
    },
    "com.googleworkspace.sheets_v4#AutoResizeDimensionsRequest": {
      "type": "structure",
      "members": {
        "dataSourceSheetDimensions": {
          "target": "com.googleworkspace.sheets_v4#DataSourceSheetDimensionRange",
          "traits": {
            "smithy.api#documentation": "The dimensions on a data source sheet to automatically resize."
          }
        },
        "dimensions": {
          "target": "com.googleworkspace.sheets_v4#DimensionRange",
          "traits": {
            "smithy.api#documentation": "The dimensions to automatically resize."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Automatically resizes one or more dimensions based on the contents of the cells in that dimension."
      }
    },
    "com.googleworkspace.sheets_v4#DataFilterValueRange": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.googleworkspace.sheets_v4#DocumentListList",
          "traits": {
            "smithy.api#documentation": "The data to be written. If the provided values exceed any of the ranges matched by the data filter then the request fails. If the provided values are less than the matched ranges only the specified values are written, existing values in the matched ranges remain unaffected."
          }
        },
        "dataFilter": {
          "target": "com.googleworkspace.sheets_v4#DataFilter",
          "traits": {
            "smithy.api#documentation": "The data filter describing the location of the values in the spreadsheet."
          }
        },
        "majorDimension": {
          "target": "com.googleworkspace.sheets_v4#DataFilterValueRangeMajorDimensionEnum",
          "traits": {
            "smithy.api#documentation": "The major dimension of the values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A range of values whose location is specified by a DataFilter."
      }
    },
    "com.googleworkspace.sheets_v4#DataFilterValueRangeMajorDimensionEnum": {
      "type": "enum",
      "members": {
        "DIMENSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIMENSION_UNSPECIFIED"
          }
        },
        "ROWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROWS"
          }
        },
        "COLUMNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLUMNS"
          }
        }
      }
    },
    "com.googleworkspace.sheets_v4#CandlestickChartSpec": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.googleworkspace.sheets_v4#CandlestickDataList",
          "traits": {
            "smithy.api#documentation": "The Candlestick chart data. Only one CandlestickData is supported."
          }
        },
        "domain": {
          "target": "com.googleworkspace.sheets_v4#CandlestickDomain",
          "traits": {
            "smithy.api#documentation": "The domain data (horizontal axis) for the candlestick chart. String data will be treated as discrete labels, other data will be treated as continuous values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A candlestick chart."
      }
    },
    "com.googleworkspace.sheets_v4#CandlestickDataList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.sheets_v4#CandlestickData"
      }
    },
    "com.googleworkspace.sheets_v4#BasicChartSpec": {
      "type": "structure",
      "members": {
        "chartType": {
          "target": "com.googleworkspace.sheets_v4#BasicChartSpecChartTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the chart."
          }
        },
        "axis": {
          "target": "com.googleworkspace.sheets_v4#BasicChartAxisList",
          "traits": {
            "smithy.api#documentation": "The axis on the chart."
          }
        },
        "series": {
          "target": "com.googleworkspace.sheets_v4#BasicChartSeriesList",
          "traits": {
            "smithy.api#documentation": "The data this chart is visualizing."
          }
        },
        "stackedType": {
          "target": "com.googleworkspace.sheets_v4#BasicChartSpecStackedTypeEnum",
          "traits": {
            "smithy.api#documentation": "The stacked type for charts that support vertical stacking. Applies to Area, Bar, Column, Combo, and Stepped Area charts."
          }
        },
        "compareMode": {
          "target": "com.googleworkspace.sheets_v4#BasicChartSpecCompareModeEnum",
          "traits": {
            "smithy.api#documentation": "The behavior of tooltips and data highlighting when hovering on data and chart area."
          }
        },
        "threeDimensional": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True to make the chart 3D. Applies to Bar and Column charts."
          }
        },
        "interpolateNulls": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If some values in a series are missing, gaps may appear in the chart (e.g, segments of lines in a line chart will be missing). To eliminate these gaps set this to true. Applies to Line, Area, and Combo charts."
          }
        },
        "totalDataLabel": {
          "target": "com.googleworkspace.sheets_v4#DataLabel",
          "traits": {
            "smithy.api#documentation": "Controls whether to display additional data labels on stacked charts which sum the total value of all stacked values at each value along the domain axis. These data labels can only be set when chart_type is one of AREA, BAR, COLUMN, COMBO or STEPPED_AREA and stacked_type is either STACKED or PERCENT_STACKED. In addition, for COMBO, this will only be supported if there is only one type of stackable series type or one type has more series than the others and each of the other types have no more than one series. For example, if a chart has two stacked bar series and one area series, the total data labels will be supported. If it has three bar series and two area series, total data labels are not allowed. Neither CUSTOM nor placement can be set on the total_data_label."
          }
        },
        "legendPosition": {
          "target": "com.googleworkspace.sheets_v4#BasicChartSpecLegendPositionEnum",
          "traits": {
            "smithy.api#documentation": "The position of the chart legend."
          }
        },
        "lineSmoothing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Gets whether all lines should be rendered smooth or straight by default. Applies to Line charts."
          }
        },
        "headerCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of rows or columns in the data that are \"headers\". If not set, Google Sheets will guess how many rows are headers based on the data. (Note that BasicChartAxis.title may override the axis title inferred from the header values.)"
          }
        },
        "domains": {
          "target": "com.googleworkspace.sheets_v4#BasicChartDomainList",
          "traits": {
            "smithy.api#documentation": "The domain of data this is charting. Only a single domain is supported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The specification for a basic chart. See BasicChartType for the list of charts this supports."
      }
    },
    "com.googleworkspace.sheets_v4#BasicChartSpecChartTypeEnum": {
      "type": "enum",
      "members": {
        "BASIC_CHART_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC_CHART_TYPE_UNSPECIFIED"
          }
        },
        "BAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BAR"
          }
        },
        "LINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE"
          }
        },
        "AREA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AREA"
          }
        },
        "COLUMN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLUMN"
          }
        },
        "SCATTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCATTER"
          }
        },
        "COMBO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMBO"
          }
        },
        "STEPPED_AREA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STEPPED_AREA"
          }
        }
      }
    },
    "com.googleworkspace.sheets_v4#BasicChartAxisList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.sheets_v4#BasicChartAxis"
      }
    },
    "com.googleworkspace.sheets_v4#BasicChartSeriesList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.sheets_v4#BasicChartSeries"
      }
    },
    "com.googleworkspace.sheets_v4#BasicChartSpecStackedTypeEnum": {
      "type": "enum",
      "members": {
        "BASIC_CHART_STACKED_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC_CHART_STACKED_TYPE_UNSPECIFIED"
          }
        },
        "NOT_STACKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_STACKED"
          }
        },
        "STACKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STACKED"
          }
        },
        "PERCENT_STACKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERCENT_STACKED"
          }
        }
      }
    },
    "com.googleworkspace.sheets_v4#BasicChartSpecCompareModeEnum": {
      "type": "enum",
      "members": {
        "BASIC_CHART_COMPARE_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC_CHART_COMPARE_MODE_UNSPECIFIED"
          }
        },
        "DATUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATUM"
          }
        },
        "CATEGORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY"
          }
        }
      }
    },
    "com.googleworkspace.sheets_v4#BasicChartSpecLegendPositionEnum": {
      "type": "enum",
      "members": {
        "BASIC_CHART_LEGEND_POSITION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC_CHART_LEGEND_POSITION_UNSPECIFIED"
          }
        },
        "BOTTOM_LEGEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOTTOM_LEGEND"
          }
        },
        "LEFT_LEGEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_LEGEND"
          }
        },
        "RIGHT_LEGEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_LEGEND"
          }
        },
        "TOP_LEGEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOP_LEGEND"
          }
        },
        "NO_LEGEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_LEGEND"
          }
        }
      }
    },
    "com.googleworkspace.sheets_v4#BasicChartDomainList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.sheets_v4#BasicChartDomain"
      }
    },
    "com.googleworkspace.sheets_v4#SpreadsheetProperties": {
      "type": "structure",
      "members": {
        "locale": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The locale of the spreadsheet in one of the following formats: * an ISO 639-1 language code such as `en` * an ISO 639-2 language code such as `fil`, if no 639-1 code exists * a combination of the ISO language code and country code, such as `en_US` Note: when updating this field, not all locales/languages are supported."
          }
        },
        "iterativeCalculationSettings": {
          "target": "com.googleworkspace.sheets_v4#IterativeCalculationSettings",
          "traits": {
            "smithy.api#documentation": "Determines whether and how circular references are resolved with iterative calculation. Absence of this field means that circular references result in calculation errors."
          }
        },
        "defaultFormat": {
          "target": "com.googleworkspace.sheets_v4#CellFormat",
          "traits": {
            "smithy.api#documentation": "The default format of all cells in the spreadsheet. CellData.effectiveFormat will not be set if the cell's format is equal to this default format. This field is read-only."
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time zone of the spreadsheet, in CLDR format such as `America/New_York`. If the time zone isn't recognized, this may be a custom time zone such as `GMT-07:00`."
          }
        },
        "importFunctionsExternalUrlAccessAllowed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to allow external URL access for image and import functions. Read only when true. When false, you can set to true. This value will be bypassed and always return true if the admin has enabled the [allowlisting feature](https://support.google.com/a?p=url_allowlist)."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title of the spreadsheet."
          }
        },
        "spreadsheetTheme": {
          "target": "com.googleworkspace.sheets_v4#SpreadsheetTheme",
          "traits": {
            "smithy.api#documentation": "Theme applied to the spreadsheet."
          }
        },
        "autoRecalc": {
          "target": "com.googleworkspace.sheets_v4#SpreadsheetPropertiesAutoRecalcEnum",
          "traits": {
            "smithy.api#documentation": "The amount of time to wait before volatile functions are recalculated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a spreadsheet."
      }
    },
    "com.googleworkspace.sheets_v4#SpreadsheetPropertiesAutoRecalcEnum": {
      "type": "enum",
      "members": {
        "RECALCULATION_INTERVAL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECALCULATION_INTERVAL_UNSPECIFIED"
          }
        },
        "ON_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_CHANGE"
          }
        },
        "MINUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MINUTE"
          }
        },
        "HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOUR"
          }
        }
      }
    },
    "com.googleworkspace.sheets_v4#ManualRule": {
      "type": "structure",
      "members": {
        "groups": {
          "target": "com.googleworkspace.sheets_v4#ManualRuleGroupList",
          "traits": {
            "smithy.api#documentation": "The list of group names and the corresponding items from the source data that map to each group name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Allows you to manually organize the values in a source data column into buckets with names of your choosing. For example, a pivot table that aggregates population by state: +-------+-------------------+ | State | SUM of Population | +-------+-------------------+ | AK | 0.7 | | AL | 4.8 | | AR | 2.9 | ... +-------+-------------------+ could be turned into a pivot table that aggregates population by time zone by providing a list of groups (for example, groupName = 'Central', items = ['AL', 'AR', 'IA', ...]) to a manual group rule. Note that a similar effect could be achieved by adding a time zone column to the source data and adjusting the pivot table. +-----------+-------------------+ | Time Zone | SUM of Population | +-----------+-------------------+ | Central | 106.3 | | Eastern | 151.9 | | Mountain | 17.4 | ... +-----------+-------------------+"
      }
    },
    "com.googleworkspace.sheets_v4#ManualRuleGroupList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.sheets_v4#ManualRuleGroup"
      }
    },
    "com.googleworkspace.sheets_v4#TimeOfDay": {
      "type": "structure",
      "members": {
        "minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
          }
        },
        "hours": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
          }
        },
        "seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
      }
    },
    "com.googleworkspace.sheets_v4#PersonProperties": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The email address linked to this person. This field is always present."
          }
        },
        "displayFormat": {
          "target": "com.googleworkspace.sheets_v4#PersonPropertiesDisplayFormatEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The display format of the person chip. If not set, the default display format is used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties specific to a linked person."
      }
    },
    "com.googleworkspace.sheets_v4#PersonPropertiesDisplayFormatEnum": {
      "type": "enum",
      "members": {
        "DISPLAY_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISPLAY_FORMAT_UNSPECIFIED"
          }
        },
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        },
        "LAST_NAME_COMMA_FIRST_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAST_NAME_COMMA_FIRST_NAME"
          }
        },
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMAIL"
          }
        }
      }
    },
    "com.googleworkspace.sheets_v4#SheetProperties": {
      "type": "structure",
      "members": {
        "dataSourceSheetProperties": {
          "target": "com.googleworkspace.sheets_v4#DataSourceSheetProperties",
          "traits": {
            "smithy.api#documentation": "Output only. If present, the field contains DATA_SOURCE sheet specific properties."
          }
        },
        "sheetType": {
          "target": "com.googleworkspace.sheets_v4#SheetPropertiesSheetTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of sheet. Defaults to GRID. This field cannot be changed once set."
          }
        },
        "tabColorStyle": {
          "target": "com.googleworkspace.sheets_v4#ColorStyle",
          "traits": {
            "smithy.api#documentation": "The color of the tab in the UI. If tab_color is also set, this field takes precedence."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the sheet."
          }
        },
        "rightToLeft": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the sheet is an RTL sheet instead of an LTR sheet."
          }
        },
        "gridProperties": {
          "target": "com.googleworkspace.sheets_v4#GridProperties",
          "traits": {
            "smithy.api#documentation": "Additional properties of the sheet if this sheet is a grid. (If the sheet is an object sheet, containing a chart or image, then this field will be absent.) When writing it is an error to set any grid properties on non-grid sheets. If this sheet is a DATA_SOURCE sheet, this field is output only but contains the properties that reflect how a data source sheet is rendered in the UI, e.g. row_count."
          }
        },
        "hidden": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the sheet is hidden in the UI, false if it's visible."
          }
        },
        "index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index of the sheet within the spreadsheet. When adding or updating sheet properties, if this field is excluded then the sheet is added or moved to the end of the sheet list. When updating sheet indices or inserting sheets, movement is considered in \"before the move\" indexes. For example, if there were three sheets (S1, S2, S3) in order to move S1 ahead of S2 the index would have to be set to 2. A sheet index update request is ignored if the requested index is identical to the sheets current index or if the requested new index is equal to the current sheet index + 1."
          }
        },
        "tabColor": {
          "target": "com.googleworkspace.sheets_v4#Color",
          "traits": {
            "smithy.api#documentation": "The color of the tab in the UI. Deprecated: Use tab_color_style."
          }
        },
        "sheetId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the sheet. Must be non-negative. This field cannot be changed once set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a sheet."
      }
    },
    "com.googleworkspace.sheets_v4#SheetPropertiesSheetTypeEnum": {
      "type": "enum",
      "members": {
        "SHEET_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHEET_TYPE_UNSPECIFIED"
          }
        },
        "GRID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRID"
          }
        },
        "OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT"
          }
        },
        "DATA_SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SOURCE"
          }
        }
      }
    },
    "com.googleworkspace.sheets_v4#DuplicateSheetResponse": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.googleworkspace.sheets_v4#SheetProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the duplicate sheet."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of duplicating a sheet."
      }
    },
    "com.googleworkspace.sheets_v4#PivotGroup": {
      "type": "structure",
      "members": {
        "valueMetadata": {
          "target": "com.googleworkspace.sheets_v4#PivotGroupValueMetadataList",
          "traits": {
            "smithy.api#documentation": "Metadata about values in the grouping."
          }
        },
        "groupLimit": {
          "target": "com.googleworkspace.sheets_v4#PivotGroupLimit",
          "traits": {
            "smithy.api#documentation": "The count limit on rows or columns to apply to this pivot group."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The labels to use for the row/column groups which can be customized. For example, in the following pivot table, the row label is `Region` (which could be renamed to `State`) and the column label is `Product` (which could be renamed `Item`). Pivot tables created before December 2017 do not have header labels. If you'd like to add header labels to an existing pivot table, please delete the existing pivot table and then create a new pivot table with same parameters. +--------------+---------+-------+ | SUM of Units | Product | | | Region | Pen | Paper | +--------------+---------+-------+ | New York | 345 | 98 | | Oregon | 234 | 123 | | Tennessee | 531 | 415 | +--------------+---------+-------+ | Grand Total | 1110 | 636 | +--------------+---------+-------+"
          }
        },
        "groupRule": {
          "target": "com.googleworkspace.sheets_v4#PivotGroupRule",
          "traits": {
            "smithy.api#documentation": "The group rule to apply to this row/column group."
          }
        },
        "sourceColumnOffset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The column offset of the source range that this grouping is based on. For example, if the source was `C10:E15`, a `sourceColumnOffset` of `0` means this group refers to column `C`, whereas the offset `1` would refer to column `D`."
          }
        },
        "repeatHeadings": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the headings in this pivot group should be repeated. This is only valid for row groupings and is ignored by columns. By default, we minimize repetition of headings by not showing higher level headings where they are the same. For example, even though the third row below corresponds to \"Q1 Mar\", \"Q1\" is not shown because it is redundant with previous rows. Setting repeat_headings to true would cause \"Q1\" to be repeated for \"Feb\" and \"Mar\". +--------------+ | Q1 | Jan | | | Feb | | | Mar | +--------+-----+ | Q1 Total | +--------------+"
          }
        },
        "dataSourceColumnReference": {
          "target": "com.googleworkspace.sheets_v4#DataSourceColumnReference",
          "traits": {
            "smithy.api#documentation": "The reference to the data source column this grouping is based on."
          }
        },
        "sortOrder": {
          "target": "com.googleworkspace.sheets_v4#PivotGroupSortOrderEnum",
          "traits": {
            "smithy.api#documentation": "The order the values in this group should be sorted."
          }
        },
        "valueBucket": {
          "target": "com.googleworkspace.sheets_v4#PivotGroupSortValueBucket",
          "traits": {
            "smithy.api#documentation": "The bucket of the opposite pivot group to sort by. If not specified, sorting is alphabetical by this group's values."
          }
        },
        "showTotals": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the pivot table should include the totals for this grouping."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single grouping (either row or column) in a pivot table."
      }
    },
    "com.googleworkspace.sheets_v4#PivotGroupValueMetadataList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.sheets_v4#PivotGroupValueMetadata"
      }
    },
    "com.googleworkspace.sheets_v4#PivotGroupSortOrderEnum": {
      "type": "enum",
      "members": {
        "SORT_ORDER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SORT_ORDER_UNSPECIFIED"
          }
        },
        "ASCENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASCENDING"
          }
        },
        "DESCENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESCENDING"
          }
        }
      }
    },
    "com.googleworkspace.sheets_v4#AddTableRequest": {
      "type": "structure",
      "members": {
        "table": {
          "target": "com.googleworkspace.sheets_v4#Table",
          "traits": {
            "smithy.api#documentation": "Required. The table to add."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Adds a new table to the spreadsheet."
      }
    },
    "com.googleworkspace.sheets_v4#TrimWhitespaceResponse": {
      "type": "structure",
      "members": {
        "cellsChangedCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of cells that were trimmed of whitespace."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of trimming whitespace in cells."
      }
    },
    "com.googleworkspace.sheets_v4#DataSourceObjectReference": {
      "type": "structure",
      "members": {
        "dataSourceTableAnchorCell": {
          "target": "com.googleworkspace.sheets_v4#GridCoordinate",
          "traits": {
            "smithy.api#documentation": "References to a DataSourceTable anchored at the cell."
          }
        },
        "dataSourceFormulaCell": {
          "target": "com.googleworkspace.sheets_v4#GridCoordinate",
          "traits": {
            "smithy.api#documentation": "References to a cell containing DataSourceFormula."
          }
        },
        "dataSourcePivotTableAnchorCell": {
          "target": "com.googleworkspace.sheets_v4#GridCoordinate",
          "traits": {
            "smithy.api#documentation": "References to a data source PivotTable anchored at the cell."
          }
        },
        "sheetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "References to a DATA_SOURCE sheet."
          }
        },
        "chartId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "References to a data source chart."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reference to a data source object."
      }
    },
    "com.googleworkspace.sheets_v4#WaterfallChartSeries": {
      "type": "structure",
      "members": {
        "positiveColumnsStyle": {
          "target": "com.googleworkspace.sheets_v4#WaterfallChartColumnStyle",
          "traits": {
            "smithy.api#documentation": "Styles for all columns in this series with positive values."
          }
        },
        "negativeColumnsStyle": {
          "target": "com.googleworkspace.sheets_v4#WaterfallChartColumnStyle",
          "traits": {
            "smithy.api#documentation": "Styles for all columns in this series with negative values."
          }
        },
        "subtotalColumnsStyle": {
          "target": "com.googleworkspace.sheets_v4#WaterfallChartColumnStyle",
          "traits": {
            "smithy.api#documentation": "Styles for all subtotal columns in this series."
          }
        },
        "customSubtotals": {
          "target": "com.googleworkspace.sheets_v4#WaterfallChartCustomSubtotalList",
          "traits": {
            "smithy.api#documentation": "Custom subtotal columns appearing in this series. The order in which subtotals are defined is not significant. Only one subtotal may be defined for each data point."
          }
        },
        "data": {
          "target": "com.googleworkspace.sheets_v4#ChartData",
          "traits": {
            "smithy.api#documentation": "The data being visualized in this series."
          }
        },
        "dataLabel": {
          "target": "com.googleworkspace.sheets_v4#DataLabel",
          "traits": {
            "smithy.api#documentation": "Information about the data labels for this series."
          }
        },
        "hideTrailingSubtotal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True to hide the subtotal column from the end of the series. By default, a subtotal column will appear at the end of each series. Setting this field to true will hide that subtotal column for this series."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single series of data for a waterfall chart."
      }
    },
    "com.googleworkspace.sheets_v4#WaterfallChartCustomSubtotalList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.sheets_v4#WaterfallChartCustomSubtotal"
      }
    },
    "com.googleworkspace.sheets_v4#AddSlicerRequest": {
      "type": "structure",
      "members": {
        "slicer": {
          "target": "com.googleworkspace.sheets_v4#Slicer",
          "traits": {
            "smithy.api#documentation": "The slicer that should be added to the spreadsheet, including the position where it should be placed. The slicerId field is optional; if one is not set, an id will be randomly generated. (It is an error to specify the ID of a slicer that already exists.)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Adds a slicer to a sheet in the spreadsheet."
      }
    },
    "com.googleworkspace.sheets_v4#ProtectedRange": {
      "type": "structure",
      "members": {
        "range": {
          "target": "com.googleworkspace.sheets_v4#GridRange",
          "traits": {
            "smithy.api#documentation": "The range that is being protected. The range may be fully unbounded, in which case this is considered a protected sheet. When writing, only one of range or named_range_id or table_id may be set."
          }
        },
        "tableId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The table this protected range is backed by, if any. When writing, only one of range or named_range_id or table_id may be set."
          }
        },
        "requestingUserCanEdit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the user who requested this protected range can edit the protected area. This field is read-only."
          }
        },
        "unprotectedRanges": {
          "target": "com.googleworkspace.sheets_v4#GridRangeList",
          "traits": {
            "smithy.api#documentation": "The list of unprotected ranges within a protected sheet. Unprotected ranges are only supported on protected sheets."
          }
        },
        "editors": {
          "target": "com.googleworkspace.sheets_v4#Editors",
          "traits": {
            "smithy.api#documentation": "The users and groups with edit access to the protected range. This field is only visible to users with edit access to the protected range and the document. Editors are not supported with warning_only protection."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of this protected range."
          }
        },
        "warningOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if this protected range will show a warning when editing. Warning-based protection means that every user can edit data in the protected range, except editing will prompt a warning asking the user to confirm the edit. When writing: if this field is true, then editors are ignored. Additionally, if this field is changed from true to false and the `editors` field is not set (nor included in the field mask), then the editors will be set to all the editors in the document."
          }
        },
        "namedRangeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The named range this protected range is backed by, if any. When writing, only one of range or named_range_id or table_id may be set."
          }
        },
        "protectedRangeId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the protected range. This field is read-only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A protected range."
      }
    },
    "com.googleworkspace.sheets_v4#GridRangeList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.sheets_v4#GridRange"
      }
    },
    "com.googleworkspace.sheets_v4#AddTableResponse": {
      "type": "structure",
      "members": {
        "table": {
          "target": "com.googleworkspace.sheets_v4#Table",
          "traits": {
            "smithy.api#documentation": "Output only. The table that was added."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of adding a table."
      }
    },
    "com.googleworkspace.sheets_v4#UpdateDimensionGroupRequest": {
      "type": "structure",
      "members": {
        "dimensionGroup": {
          "target": "com.googleworkspace.sheets_v4#DimensionGroup",
          "traits": {
            "smithy.api#documentation": "The group whose state should be updated. The range and depth of the group should specify a valid group on the sheet, and all other fields updated."
          }
        },
        "fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `dimensionGroup` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Updates the state of the specified group."
      }
    },
    "com.googleworkspace.sheets_v4#Editors": {
      "type": "structure",
      "members": {
        "users": {
          "target": "com.googleworkspace.sheets_v4#StringList",
          "traits": {
            "smithy.api#documentation": "The email addresses of users with edit access to the protected range."
          }
        },
        "groups": {
          "target": "com.googleworkspace.sheets_v4#StringList",
          "traits": {
            "smithy.api#documentation": "The email addresses of groups with edit access to the protected range."
          }
        },
        "domainUsersCanEdit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if anyone in the document's domain has edit access to the protected range. Domain protection is only supported on documents within a domain."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The editors of a protected range."
      }
    },
    "com.googleworkspace.sheets_v4#HistogramSeries": {
      "type": "structure",
      "members": {
        "barColor": {
          "target": "com.googleworkspace.sheets_v4#Color",
          "traits": {
            "smithy.api#documentation": "The color of the column representing this series in each bucket. This field is optional. Deprecated: Use bar_color_style."
          }
        },
        "data": {
          "target": "com.googleworkspace.sheets_v4#ChartData",
          "traits": {
            "smithy.api#documentation": "The data for this histogram series."
          }
        },
        "barColorStyle": {
          "target": "com.googleworkspace.sheets_v4#ColorStyle",
          "traits": {
            "smithy.api#documentation": "The color of the column representing this series in each bucket. This field is optional. If bar_color is also set, this field takes precedence."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A histogram series containing the series color and data."
      }
    },
    "com.googleworkspace.sheets_v4#HistogramChartSpec": {
      "type": "structure",
      "members": {
        "outlierPercentile": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The outlier percentile is used to ensure that outliers do not adversely affect the calculation of bucket sizes. For example, setting an outlier percentile of 0.05 indicates that the top and bottom 5% of values when calculating buckets. The values are still included in the chart, they will be added to the first or last buckets instead of their own buckets. Must be between 0.0 and 0.5."
          }
        },
        "series": {
          "target": "com.googleworkspace.sheets_v4#HistogramSeriesList",
          "traits": {
            "smithy.api#documentation": "The series for a histogram may be either a single series of values to be bucketed or multiple series, each of the same length, containing the name of the series followed by the values to be bucketed for that series."
          }
        },
        "legendPosition": {
          "target": "com.googleworkspace.sheets_v4#HistogramChartSpecLegendPositionEnum",
          "traits": {
            "smithy.api#documentation": "The position of the chart legend."
          }
        },
        "showItemDividers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether horizontal divider lines should be displayed between items in each column."
          }
        },
        "bucketSize": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "By default the bucket size (the range of values stacked in a single column) is chosen automatically, but it may be overridden here. E.g., A bucket size of 1.5 results in buckets from 0 - 1.5, 1.5 - 3.0, etc. Cannot be negative. This field is optional."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A histogram chart. A histogram chart groups data items into bins, displaying each bin as a column of stacked items. Histograms are used to display the distribution of a dataset. Each column of items represents a range into which those items fall. The number of bins can be chosen automatically or specified explicitly."
      }
    },
    "com.googleworkspace.sheets_v4#HistogramSeriesList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.sheets_v4#HistogramSeries"
      }
    },
    "com.googleworkspace.sheets_v4#HistogramChartSpecLegendPositionEnum": {
      "type": "enum",
      "members": {
        "HISTOGRAM_CHART_LEGEND_POSITION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HISTOGRAM_CHART_LEGEND_POSITION_UNSPECIFIED"
          }
        },
        "BOTTOM_LEGEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOTTOM_LEGEND"
          }
        },
        "LEFT_LEGEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_LEGEND"
          }
        },
        "RIGHT_LEGEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_LEGEND"
          }
        },
        "TOP_LEGEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOP_LEGEND"
          }
        },
        "NO_LEGEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_LEGEND"
          }
        },
        "INSIDE_LEGEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSIDE_LEGEND"
          }
        }
      }
    },
    "com.googleworkspace.sheets_v4#PieChartSpec": {
      "type": "structure",
      "members": {
        "legendPosition": {
          "target": "com.googleworkspace.sheets_v4#PieChartSpecLegendPositionEnum",
          "traits": {
            "smithy.api#documentation": "Where the legend of the pie chart should be drawn."
          }
        },
        "pieHole": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size of the hole in the pie chart."
          }
        },
        "threeDimensional": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the pie is three dimensional."
          }
        },
        "domain": {
          "target": "com.googleworkspace.sheets_v4#ChartData",
          "traits": {
            "smithy.api#documentation": "The data that covers the domain of the pie chart."
          }
        },
        "series": {
          "target": "com.googleworkspace.sheets_v4#ChartData",
          "traits": {
            "smithy.api#documentation": "The data that covers the one and only series of the pie chart."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A pie chart."
      }
    },
    "com.googleworkspace.sheets_v4#PieChartSpecLegendPositionEnum": {
      "type": "enum",
      "members": {
        "PIE_CHART_LEGEND_POSITION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PIE_CHART_LEGEND_POSITION_UNSPECIFIED"
          }
        },
        "BOTTOM_LEGEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOTTOM_LEGEND"
          }
        },
        "LEFT_LEGEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_LEGEND"
          }
        },
        "RIGHT_LEGEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_LEGEND"
          }
        },
        "TOP_LEGEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOP_LEGEND"
          }
        },
        "NO_LEGEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_LEGEND"
          }
        },
        "LABELED_LEGEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LABELED_LEGEND"
          }
        }
      }
    },
    "com.googleworkspace.sheets_v4#TreemapChartSpec": {
      "type": "structure",
      "members": {
        "levels": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of data levels to show on the treemap chart. These levels are interactive and are shown with their labels. Defaults to 2 if not specified."
          }
        },
        "hintedLevels": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of additional data levels beyond the labeled levels to be shown on the treemap chart. These levels are not interactive and are shown without their labels. Defaults to 0 if not specified."
          }
        },
        "colorScale": {
          "target": "com.googleworkspace.sheets_v4#TreemapChartColorScale",
          "traits": {
            "smithy.api#documentation": "The color scale for data cells in the treemap chart. Data cells are assigned colors based on their color values. These color values come from color_data, or from size_data if color_data is not specified. Cells with color values less than or equal to min_value will have minValueColor as their background color. Cells with color values greater than or equal to max_value will have maxValueColor as their background color. Cells with color values between min_value and max_value will have background colors on a gradient between minValueColor and maxValueColor, the midpoint of the gradient being midValueColor. Cells with missing or non-numeric color values will have noDataColor as their background color."
          }
        },
        "sizeData": {
          "target": "com.googleworkspace.sheets_v4#ChartData",
          "traits": {
            "smithy.api#documentation": "The data that determines the size of each treemap data cell. This data is expected to be numeric. The cells corresponding to non-numeric or missing data will not be rendered. If color_data is not specified, this data is used to determine data cell background colors as well."
          }
        },
        "maxValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum possible data value. Cells with values greater than this will have the same color as cells with this value. If not specified, defaults to the actual maximum value from color_data, or the maximum value from size_data if color_data is not specified."
          }
        },
        "minValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The minimum possible data value. Cells with values less than this will have the same color as cells with this value. If not specified, defaults to the actual minimum value from color_data, or the minimum value from size_data if color_data is not specified."
          }
        },
        "headerColorStyle": {
          "target": "com.googleworkspace.sheets_v4#ColorStyle",
          "traits": {
            "smithy.api#documentation": "The background color for header cells. If header_color is also set, this field takes precedence."
          }
        },
        "hideTooltips": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True to hide tooltips."
          }
        },
        "textFormat": {
          "target": "com.googleworkspace.sheets_v4#TextFormat",
          "traits": {
            "smithy.api#documentation": "The text format for all labels on the chart. The link field is not supported."
          }
        },
        "labels": {
          "target": "com.googleworkspace.sheets_v4#ChartData",
          "traits": {
            "smithy.api#documentation": "The data that contains the treemap cell labels."
          }
        },
        "parentLabels": {
          "target": "com.googleworkspace.sheets_v4#ChartData",
          "traits": {
            "smithy.api#documentation": "The data the contains the treemap cells' parent labels."
          }
        },
        "colorData": {
          "target": "com.googleworkspace.sheets_v4#ChartData",
          "traits": {
            "smithy.api#documentation": "The data that determines the background color of each treemap data cell. This field is optional. If not specified, size_data is used to determine background colors. If specified, the data is expected to be numeric. color_scale will determine how the values in this data map to data cell background colors."
          }
        },
        "headerColor": {
          "target": "com.googleworkspace.sheets_v4#Color",
          "traits": {
            "smithy.api#documentation": "The background color for header cells. Deprecated: Use header_color_style."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Treemap chart."
      }
    },
    "com.googleworkspace.sheets_v4#PasteDataRequest": {
      "type": "structure",
      "members": {
        "delimiter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The delimiter in the data."
          }
        },
        "html": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the data is HTML."
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The data to insert."
          }
        },
        "type": {
          "target": "com.googleworkspace.sheets_v4#PasteDataRequestTypeEnum",
          "traits": {
            "smithy.api#documentation": "How the data should be pasted."
          }
        },
        "coordinate": {
          "target": "com.googleworkspace.sheets_v4#GridCoordinate",
          "traits": {
            "smithy.api#documentation": "The coordinate at which the data should start being inserted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Inserts data into the spreadsheet starting at the specified coordinate."
      }
    },
    "com.googleworkspace.sheets_v4#PasteDataRequestTypeEnum": {
      "type": "enum",
      "members": {
        "PASTE_NORMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASTE_NORMAL"
          }
        },
        "PASTE_VALUES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASTE_VALUES"
          }
        },
        "PASTE_FORMAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASTE_FORMAT"
          }
        },
        "PASTE_NO_BORDERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASTE_NO_BORDERS"
          }
        },
        "PASTE_FORMULA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASTE_FORMULA"
          }
        },
        "PASTE_DATA_VALIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASTE_DATA_VALIDATION"
          }
        },
        "PASTE_CONDITIONAL_FORMATTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASTE_CONDITIONAL_FORMATTING"
          }
        }
      }
    },
    "com.googleworkspace.sheets_v4#TextPosition": {
      "type": "structure",
      "members": {
        "horizontalAlignment": {
          "target": "com.googleworkspace.sheets_v4#TextPositionHorizontalAlignmentEnum",
          "traits": {
            "smithy.api#documentation": "Horizontal alignment setting for the piece of text."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Position settings for text."
      }
    },
    "com.googleworkspace.sheets_v4#TextPositionHorizontalAlignmentEnum": {
      "type": "enum",
      "members": {
        "HORIZONTAL_ALIGN_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HORIZONTAL_ALIGN_UNSPECIFIED"
          }
        },
        "LEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT"
          }
        },
        "CENTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CENTER"
          }
        },
        "RIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT"
          }
        }
      }
    },
    "com.googleworkspace.sheets_v4#Table": {
      "type": "structure",
      "members": {
        "tableId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the table."
          }
        },
        "rowsProperties": {
          "target": "com.googleworkspace.sheets_v4#TableRowsProperties",
          "traits": {
            "smithy.api#documentation": "The table rows properties."
          }
        },
        "range": {
          "target": "com.googleworkspace.sheets_v4#GridRange",
          "traits": {
            "smithy.api#documentation": "The table range."
          }
        },
        "columnProperties": {
          "target": "com.googleworkspace.sheets_v4#TableColumnPropertiesList",
          "traits": {
            "smithy.api#documentation": "The table column properties."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The table name. This is unique to all tables in the same spreadsheet."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A table."
      }
    },
    "com.googleworkspace.sheets_v4#TableColumnPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.sheets_v4#TableColumnProperties"
      }
    },
    "com.googleworkspace.sheets_v4#FindReplaceRequest": {
      "type": "structure",
      "members": {
        "includeFormulas": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the search should include cells with formulas. False to skip cells with formulas."
          }
        },
        "sheetId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The sheet to find/replace over."
          }
        },
        "find": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value to search."
          }
        },
        "matchEntireCell": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the find value should match the entire cell."
          }
        },
        "matchCase": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the search is case sensitive."
          }
        },
        "range": {
          "target": "com.googleworkspace.sheets_v4#GridRange",
          "traits": {
            "smithy.api#documentation": "The range to find/replace over."
          }
        },
        "replacement": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value to use as the replacement."
          }
        },
        "searchByRegex": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the find value is a regex. The regular expression and replacement should follow Java regex rules at https://docs.oracle.com/javase/8/docs/api/java/util/regex/Pattern.html. The replacement string is allowed to refer to capturing groups. For example, if one cell has the contents `\"Google Sheets\"` and another has `\"Google Docs\"`, then searching for `\"o.* (.*)\"` with a replacement of `\"$1 Rocks\"` would change the contents of the cells to `\"GSheets Rocks\"` and `\"GDocs Rocks\"` respectively."
          }
        },
        "allSheets": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True to find/replace over all sheets."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Finds and replaces data in cells over a range, sheet, or all sheets."
      }
    },
    "com.googleworkspace.sheets_v4#TextToColumnsRequest": {
      "type": "structure",
      "members": {
        "source": {
          "target": "com.googleworkspace.sheets_v4#GridRange",
          "traits": {
            "smithy.api#documentation": "The source data range. This must span exactly one column."
          }
        },
        "delimiter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The delimiter to use. Used only if delimiterType is CUSTOM."
          }
        },
        "delimiterType": {
          "target": "com.googleworkspace.sheets_v4#TextToColumnsRequestDelimiterTypeEnum",
          "traits": {
            "smithy.api#documentation": "The delimiter type to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Splits a column of text into multiple columns, based on a delimiter in each cell."
      }
    },
    "com.googleworkspace.sheets_v4#TextToColumnsRequestDelimiterTypeEnum": {
      "type": "enum",
      "members": {
        "DELIMITER_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELIMITER_TYPE_UNSPECIFIED"
          }
        },
        "COMMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMA"
          }
        },
        "SEMICOLON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEMICOLON"
          }
        },
        "PERIOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERIOD"
          }
        },
        "SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPACE"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        },
        "AUTODETECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTODETECT"
          }
        }
      }
    },
    "com.googleworkspace.sheets_v4#DataSourceFormula": {
      "type": "structure",
      "members": {
        "dataExecutionStatus": {
          "target": "com.googleworkspace.sheets_v4#DataExecutionStatus",
          "traits": {
            "smithy.api#documentation": "Output only. The data execution status."
          }
        },
        "dataSourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the data source the formula is associated with."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A data source formula."
      }
    },
    "com.googleworkspace.sheets_v4#UpdateBandingRequest": {
      "type": "structure",
      "members": {
        "fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `bandedRange` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field."
          }
        },
        "bandedRange": {
          "target": "com.googleworkspace.sheets_v4#BandedRange",
          "traits": {
            "smithy.api#documentation": "The banded range to update with the new properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Updates properties of the supplied banded range."
      }
    },
    "com.googleworkspace.sheets_v4#UpdateDeveloperMetadataRequest": {
      "type": "structure",
      "members": {
        "fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `developerMetadata` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field."
          }
        },
        "dataFilters": {
          "target": "com.googleworkspace.sheets_v4#DataFilterList",
          "traits": {
            "smithy.api#documentation": "The filters matching the developer metadata entries to update."
          }
        },
        "developerMetadata": {
          "target": "com.googleworkspace.sheets_v4#DeveloperMetadata",
          "traits": {
            "smithy.api#documentation": "The value that all metadata matched by the data filters will be updated to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to update properties of developer metadata. Updates the properties of the developer metadata selected by the filters to the values provided in the DeveloperMetadata resource. Callers must specify the properties they wish to update in the fields parameter, as well as specify at least one DataFilter matching the metadata they wish to update."
      }
    },
    "com.googleworkspace.sheets_v4#ChartAxisViewWindowOptions": {
      "type": "structure",
      "members": {
        "viewWindowMin": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The minimum numeric value to be shown in this view window. If unset, will automatically determine a minimum value that looks good for the data."
          }
        },
        "viewWindowMode": {
          "target": "com.googleworkspace.sheets_v4#ChartAxisViewWindowOptionsViewWindowModeEnum",
          "traits": {
            "smithy.api#documentation": "The view window's mode."
          }
        },
        "viewWindowMax": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum numeric value to be shown in this view window. If unset, will automatically determine a maximum value that looks good for the data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The options that define a \"view window\" for a chart (such as the visible values in an axis)."
      }
    },
    "com.googleworkspace.sheets_v4#ChartAxisViewWindowOptionsViewWindowModeEnum": {
      "type": "enum",
      "members": {
        "DEFAULT_VIEW_WINDOW_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT_VIEW_WINDOW_MODE"
          }
        },
        "VIEW_WINDOW_MODE_UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEW_WINDOW_MODE_UNSUPPORTED"
          }
        },
        "EXPLICIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLICIT"
          }
        },
        "PRETTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRETTY"
          }
        }
      }
    },
    "com.googleworkspace.sheets_v4#TableColumnDataValidationRule": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "com.googleworkspace.sheets_v4#BooleanCondition",
          "traits": {
            "smithy.api#documentation": "The condition that data in the cell must match. Valid only if the [BooleanCondition.type] is ONE_OF_LIST."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A data validation rule for a column in a table."
      }
    },
    "com.googleworkspace.sheets_v4#BatchClearValuesByDataFilterResponse": {
      "type": "structure",
      "members": {
        "clearedRanges": {
          "target": "com.googleworkspace.sheets_v4#StringList",
          "traits": {
            "smithy.api#documentation": "The ranges that were cleared, in [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell). If the requests are for an unbounded range or a range larger than the bounds of the sheet, this is the actual ranges that were cleared, bounded to the sheet's limits."
          }
        },
        "spreadsheetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The spreadsheet the updates were applied to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response when clearing a range of values selected with DataFilters in a spreadsheet."
      }
    },
    "com.googleworkspace.sheets_v4#FindReplaceResponse": {
      "type": "structure",
      "members": {
        "sheetsChanged": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of sheets changed."
          }
        },
        "occurrencesChanged": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of occurrences (possibly multiple within a cell) changed. For example, if replacing `\"e\"` with `\"o\"` in `\"Google Sheets\"`, this would be `\"3\"` because `\"Google Sheets\"` -> `\"Googlo Shoots\"`."
          }
        },
        "rowsChanged": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of rows changed."
          }
        },
        "formulasChanged": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of formula cells changed."
          }
        },
        "valuesChanged": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of non-formula cells changed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of the find/replace."
      }
    },
    "com.googleworkspace.sheets_v4#DeleteDimensionGroupRequest": {
      "type": "structure",
      "members": {
        "range": {
          "target": "com.googleworkspace.sheets_v4#DimensionRange",
          "traits": {
            "smithy.api#documentation": "The range of the group to be deleted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deletes a group over the specified range by decrementing the depth of the dimensions in the range. For example, assume the sheet has a depth-1 group over B:E and a depth-2 group over C:D. Deleting a group over D:E leaves the sheet with a depth-1 group over B:D and a depth-2 group over C:C."
      }
    },
    "com.googleworkspace.sheets_v4#NamedRange": {
      "type": "structure",
      "members": {
        "namedRangeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the named range."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the named range."
          }
        },
        "range": {
          "target": "com.googleworkspace.sheets_v4#GridRange",
          "traits": {
            "smithy.api#documentation": "The range this represents."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A named range."
      }
    },
    "com.googleworkspace.sheets_v4#ChartSourceRange": {
      "type": "structure",
      "members": {
        "sources": {
          "target": "com.googleworkspace.sheets_v4#GridRangeList",
          "traits": {
            "smithy.api#documentation": "The ranges of data for a series or domain. Exactly one dimension must have a length of 1, and all sources in the list must have the same dimension with length 1. The domain (if it exists) & all series must have the same number of source ranges. If using more than one source range, then the source range at a given offset must be in order and contiguous across the domain and series. For example, these are valid configurations: domain sources: A1:A5 series1 sources: B1:B5 series2 sources: D6:D10 domain sources: A1:A5, C10:C12 series1 sources: B1:B5, D10:D12 series2 sources: C1:C5, E10:E12"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Source ranges for a chart."
      }
    },
    "com.googleworkspace.sheets_v4#SearchDeveloperMetadataRequest": {
      "type": "structure",
      "members": {
        "dataFilters": {
          "target": "com.googleworkspace.sheets_v4#DataFilterList",
          "traits": {
            "smithy.api#documentation": "The data filters describing the criteria used to determine which DeveloperMetadata entries to return. DeveloperMetadata matching any of the specified filters are included in the response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to retrieve all developer metadata matching the set of specified criteria."
      }
    },
    "com.googleworkspace.sheets_v4#ChartCustomNumberFormatOptions": {
      "type": "structure",
      "members": {
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom prefix to be prepended to the chart attribute. This field is optional."
          }
        },
        "suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom suffix to be appended to the chart attribute. This field is optional."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Custom number formatting options for chart attributes."
      }
    },
    "com.googleworkspace.sheets_v4#BubbleChartSpec": {
      "type": "structure",
      "members": {
        "bubbleMinRadiusSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The minimum radius size of the bubbles, in pixels. If specific, the field must be a positive value."
          }
        },
        "bubbleOpacity": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The opacity of the bubbles between 0 and 1.0. 0 is fully transparent and 1 is fully opaque."
          }
        },
        "bubbleLabels": {
          "target": "com.googleworkspace.sheets_v4#ChartData",
          "traits": {
            "smithy.api#documentation": "The data containing the bubble labels. These do not need to be unique."
          }
        },
        "bubbleBorderColor": {
          "target": "com.googleworkspace.sheets_v4#Color",
          "traits": {
            "smithy.api#documentation": "The bubble border color. Deprecated: Use bubble_border_color_style."
          }
        },
        "domain": {
          "target": "com.googleworkspace.sheets_v4#ChartData",
          "traits": {
            "smithy.api#documentation": "The data containing the bubble x-values. These values locate the bubbles in the chart horizontally."
          }
        },
        "bubbleSizes": {
          "target": "com.googleworkspace.sheets_v4#ChartData",
          "traits": {
            "smithy.api#documentation": "The data containing the bubble sizes. Bubble sizes are used to draw the bubbles at different sizes relative to each other. If specified, group_ids must also be specified. This field is optional."
          }
        },
        "bubbleMaxRadiusSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The max radius size of the bubbles, in pixels. If specified, the field must be a positive value."
          }
        },
        "bubbleBorderColorStyle": {
          "target": "com.googleworkspace.sheets_v4#ColorStyle",
          "traits": {
            "smithy.api#documentation": "The bubble border color. If bubble_border_color is also set, this field takes precedence."
          }
        },
        "series": {
          "target": "com.googleworkspace.sheets_v4#ChartData",
          "traits": {
            "smithy.api#documentation": "The data containing the bubble y-values. These values locate the bubbles in the chart vertically."
          }
        },
        "bubbleTextStyle": {
          "target": "com.googleworkspace.sheets_v4#TextFormat",
          "traits": {
            "smithy.api#documentation": "The format of the text inside the bubbles. Strikethrough, underline, and link are not supported."
          }
        },
        "legendPosition": {
          "target": "com.googleworkspace.sheets_v4#BubbleChartSpecLegendPositionEnum",
          "traits": {
            "smithy.api#documentation": "Where the legend of the chart should be drawn."
          }
        },
        "groupIds": {
          "target": "com.googleworkspace.sheets_v4#ChartData",
          "traits": {
            "smithy.api#documentation": "The data containing the bubble group IDs. All bubbles with the same group ID are drawn in the same color. If bubble_sizes is specified then this field must also be specified but may contain blank values. This field is optional."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A bubble chart."
      }
    },
    "com.googleworkspace.sheets_v4#BubbleChartSpecLegendPositionEnum": {
      "type": "enum",
      "members": {
        "BUBBLE_CHART_LEGEND_POSITION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUBBLE_CHART_LEGEND_POSITION_UNSPECIFIED"
          }
        },
        "BOTTOM_LEGEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOTTOM_LEGEND"
          }
        },
        "LEFT_LEGEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_LEGEND"
          }
        },
        "RIGHT_LEGEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_LEGEND"
          }
[...]
