{
  "smithy": "2.0",
  "metadata": {
    "service": "slides",
    "version": "v1",
    "title": "Google Slides API",
    "baseUrl": "https://slides.googleapis.com/"
  },
  "shapes": {
    "com.googleworkspace.slides_v1#UpdateTableBorderPropertiesRequest": {
      "type": "structure",
      "members": {
        "tableRange": {
          "target": "com.googleworkspace.slides_v1#TableRange",
          "traits": {
            "smithy.api#documentation": "The table range representing the subset of the table to which the updates are applied. If a table range is not specified, the updates will apply to the entire table."
          }
        },
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object ID of the table."
          }
        },
        "borderPosition": {
          "target": "com.googleworkspace.slides_v1#UpdateTableBorderPropertiesRequestBorderPositionEnum",
          "traits": {
            "smithy.api#documentation": "The border position in the table range the updates should apply to. If a border position is not specified, the updates will apply to all borders in the table range."
          }
        },
        "tableBorderProperties": {
          "target": "com.googleworkspace.slides_v1#TableBorderProperties",
          "traits": {
            "smithy.api#documentation": "The table border properties to update."
          }
        },
        "fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `tableBorderProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the table border solid fill color, set `fields` to `\"tableBorderFill.solidFill.color\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Updates the properties of the table borders in a Table."
      }
    },
    "com.googleworkspace.slides_v1#UpdateTableBorderPropertiesRequestBorderPositionEnum": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL"
          }
        },
        "BOTTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOTTOM"
          }
        },
        "INNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INNER"
          }
        },
        "INNER_HORIZONTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INNER_HORIZONTAL"
          }
        },
        "INNER_VERTICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INNER_VERTICAL"
          }
        },
        "LEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT"
          }
        },
        "OUTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTER"
          }
        },
        "RIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT"
          }
        },
        "TOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOP"
          }
        }
      }
    },
    "com.googleworkspace.slides_v1#Link": {
      "type": "structure",
      "members": {
        "relativeLink": {
          "target": "com.googleworkspace.slides_v1#LinkRelativeLinkEnum",
          "traits": {
            "smithy.api#documentation": "If set, indicates this is a link to a slide in this presentation, addressed by its position."
          }
        },
        "pageObjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If set, indicates this is a link to the specific page in this presentation with this ID. A page with this ID may not exist."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If set, indicates this is a link to the external web page at this URL."
          }
        },
        "slideIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If set, indicates this is a link to the slide at this zero-based index in the presentation. There may not be a slide at this index."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A hypertext link."
      }
    },
    "com.googleworkspace.slides_v1#LinkRelativeLinkEnum": {
      "type": "enum",
      "members": {
        "RELATIVE_SLIDE_LINK_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELATIVE_SLIDE_LINK_UNSPECIFIED"
          }
        },
        "NEXT_SLIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEXT_SLIDE"
          }
        },
        "PREVIOUS_SLIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREVIOUS_SLIDE"
          }
        },
        "FIRST_SLIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIRST_SLIDE"
          }
        },
        "LAST_SLIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAST_SLIDE"
          }
        }
      }
    },
    "com.googleworkspace.slides_v1#LayoutReference": {
      "type": "structure",
      "members": {
        "layoutId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Layout ID: the object ID of one of the layouts in the presentation."
          }
        },
        "predefinedLayout": {
          "target": "com.googleworkspace.slides_v1#LayoutReferencePredefinedLayoutEnum",
          "traits": {
            "smithy.api#documentation": "Predefined layout."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Slide layout reference. This may reference either: - A predefined layout - One of the layouts in the presentation."
      }
    },
    "com.googleworkspace.slides_v1#LayoutReferencePredefinedLayoutEnum": {
      "type": "enum",
      "members": {
        "PREDEFINED_LAYOUT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREDEFINED_LAYOUT_UNSPECIFIED"
          }
        },
        "BLANK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLANK"
          }
        },
        "CAPTION_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAPTION_ONLY"
          }
        },
        "TITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TITLE"
          }
        },
        "TITLE_AND_BODY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TITLE_AND_BODY"
          }
        },
        "TITLE_AND_TWO_COLUMNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TITLE_AND_TWO_COLUMNS"
          }
        },
        "TITLE_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TITLE_ONLY"
          }
        },
        "SECTION_HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECTION_HEADER"
          }
        },
        "SECTION_TITLE_AND_DESCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECTION_TITLE_AND_DESCRIPTION"
          }
        },
        "ONE_COLUMN_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONE_COLUMN_TEXT"
          }
        },
        "MAIN_POINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAIN_POINT"
          }
        },
        "BIG_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIG_NUMBER"
          }
        }
      }
    },
    "com.googleworkspace.slides_v1#UngroupObjectsRequest": {
      "type": "structure",
      "members": {
        "objectIds": {
          "target": "com.googleworkspace.slides_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The object IDs of the objects to ungroup. Only groups that are not inside other groups can be ungrouped. All the groups should be on the same page. The group itself is deleted. The visual sizes and positions of all the children are preserved."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ungroups objects, such as groups."
      }
    },
    "com.googleworkspace.slides_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.googleworkspace.slides_v1#TableBorderProperties": {
      "type": "structure",
      "members": {
        "weight": {
          "target": "com.googleworkspace.slides_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The thickness of the border."
          }
        },
        "tableBorderFill": {
          "target": "com.googleworkspace.slides_v1#TableBorderFill",
          "traits": {
            "smithy.api#documentation": "The fill of the table border."
          }
        },
        "dashStyle": {
          "target": "com.googleworkspace.slides_v1#TableBorderPropertiesDashStyleEnum",
          "traits": {
            "smithy.api#documentation": "The dash style of the border."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The border styling properties of the TableBorderCell."
      }
    },
    "com.googleworkspace.slides_v1#TableBorderPropertiesDashStyleEnum": {
      "type": "enum",
      "members": {
        "DASH_STYLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DASH_STYLE_UNSPECIFIED"
          }
        },
        "SOLID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOLID"
          }
        },
        "DOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOT"
          }
        },
        "DASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DASH"
          }
        },
        "DASH_DOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DASH_DOT"
          }
        },
        "LONG_DASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LONG_DASH"
          }
        },
        "LONG_DASH_DOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LONG_DASH_DOT"
          }
        }
      }
    },
    "com.googleworkspace.slides_v1#StretchedPictureFill": {
      "type": "structure",
      "members": {
        "contentUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reading the content_url: An URL to a picture with a default lifetime of 30 minutes. This URL is tagged with the account of the requester. Anyone with the URL effectively accesses the picture as the original requester. Access to the picture may be lost if the presentation's sharing settings change. Writing the content_url: The picture is fetched once at insertion time and a copy is stored for display inside the presentation. Pictures must be less than 50MB in size, cannot exceed 25 megapixels, and must be in one of PNG, JPEG, or GIF format. The provided URL can be at most 2 kB in length."
          }
        },
        "size": {
          "target": "com.googleworkspace.slides_v1#Size",
          "traits": {
            "smithy.api#documentation": "The original size of the picture fill. This field is read-only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The stretched picture fill. The page or page element is filled entirely with the specified picture. The picture is stretched to fit its container."
      }
    },
    "com.googleworkspace.slides_v1#Shape": {
      "type": "structure",
      "members": {
        "shapeType": {
          "target": "com.googleworkspace.slides_v1#ShapeShapeTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the shape."
          }
        },
        "text": {
          "target": "com.googleworkspace.slides_v1#TextContent",
          "traits": {
            "smithy.api#documentation": "The text content of the shape."
          }
        },
        "shapeProperties": {
          "target": "com.googleworkspace.slides_v1#ShapeProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the shape."
          }
        },
        "placeholder": {
          "target": "com.googleworkspace.slides_v1#Placeholder",
          "traits": {
            "smithy.api#documentation": "Placeholders are page elements that inherit from corresponding placeholders on layouts and masters. If set, the shape is a placeholder shape and any inherited properties can be resolved by looking at the parent placeholder identified by the Placeholder.parent_object_id field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A PageElement kind representing a generic shape that doesn't have a more specific classification. For more information, see [Size and position page elements](https://developers.google.com/workspace/slides/api/guides/transform)."
      }
    },
    "com.googleworkspace.slides_v1#ShapeShapeTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "TEXT_BOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT_BOX"
          }
        },
        "RECTANGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECTANGLE"
          }
        },
        "ROUND_RECTANGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROUND_RECTANGLE"
          }
        },
        "ELLIPSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ELLIPSE"
          }
        },
        "ARC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARC"
          }
        },
        "BENT_ARROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BENT_ARROW"
          }
        },
        "BENT_UP_ARROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BENT_UP_ARROW"
          }
        },
        "BEVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BEVEL"
          }
        },
        "BLOCK_ARC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK_ARC"
          }
        },
        "BRACE_PAIR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BRACE_PAIR"
          }
        },
        "BRACKET_PAIR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BRACKET_PAIR"
          }
        },
        "CAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAN"
          }
        },
        "CHEVRON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHEVRON"
          }
        },
        "CHORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHORD"
          }
        },
        "CLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD"
          }
        },
        "CORNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CORNER"
          }
        },
        "CUBE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUBE"
          }
        },
        "CURVED_DOWN_ARROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CURVED_DOWN_ARROW"
          }
        },
        "CURVED_LEFT_ARROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CURVED_LEFT_ARROW"
          }
        },
        "CURVED_RIGHT_ARROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CURVED_RIGHT_ARROW"
          }
        },
        "CURVED_UP_ARROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CURVED_UP_ARROW"
          }
        },
        "DECAGON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DECAGON"
          }
        },
        "DIAGONAL_STRIPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIAGONAL_STRIPE"
          }
        },
        "DIAMOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIAMOND"
          }
        },
        "DODECAGON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DODECAGON"
          }
        },
        "DONUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DONUT"
          }
        },
        "DOUBLE_WAVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOUBLE_WAVE"
          }
        },
        "DOWN_ARROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOWN_ARROW"
          }
        },
        "DOWN_ARROW_CALLOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOWN_ARROW_CALLOUT"
          }
        },
        "FOLDED_CORNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLDED_CORNER"
          }
        },
        "FRAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRAME"
          }
        },
        "HALF_FRAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HALF_FRAME"
          }
        },
        "HEART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEART"
          }
        },
        "HEPTAGON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEPTAGON"
          }
        },
        "HEXAGON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEXAGON"
          }
        },
        "HOME_PLATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOME_PLATE"
          }
        },
        "HORIZONTAL_SCROLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HORIZONTAL_SCROLL"
          }
        },
        "IRREGULAR_SEAL_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IRREGULAR_SEAL_1"
          }
        },
        "IRREGULAR_SEAL_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IRREGULAR_SEAL_2"
          }
        },
        "LEFT_ARROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_ARROW"
          }
        },
        "LEFT_ARROW_CALLOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_ARROW_CALLOUT"
          }
        },
        "LEFT_BRACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_BRACE"
          }
        },
        "LEFT_BRACKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_BRACKET"
          }
        },
        "LEFT_RIGHT_ARROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_RIGHT_ARROW"
          }
        },
        "LEFT_RIGHT_ARROW_CALLOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_RIGHT_ARROW_CALLOUT"
          }
        },
        "LEFT_RIGHT_UP_ARROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_RIGHT_UP_ARROW"
          }
        },
        "LEFT_UP_ARROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_UP_ARROW"
          }
        },
        "LIGHTNING_BOLT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIGHTNING_BOLT"
          }
        },
        "MATH_DIVIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATH_DIVIDE"
          }
        },
        "MATH_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATH_EQUAL"
          }
        },
        "MATH_MINUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATH_MINUS"
          }
        },
        "MATH_MULTIPLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATH_MULTIPLY"
          }
        },
        "MATH_NOT_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATH_NOT_EQUAL"
          }
        },
        "MATH_PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATH_PLUS"
          }
        },
        "MOON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOON"
          }
        },
        "NO_SMOKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_SMOKING"
          }
        },
        "NOTCHED_RIGHT_ARROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTCHED_RIGHT_ARROW"
          }
        },
        "OCTAGON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OCTAGON"
          }
        },
        "PARALLELOGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARALLELOGRAM"
          }
        },
        "PENTAGON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENTAGON"
          }
        },
        "PIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PIE"
          }
        },
        "PLAQUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLAQUE"
          }
        },
        "PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLUS"
          }
        },
        "QUAD_ARROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUAD_ARROW"
          }
        },
        "QUAD_ARROW_CALLOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUAD_ARROW_CALLOUT"
          }
        },
        "RIBBON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIBBON"
          }
        },
        "RIBBON_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIBBON_2"
          }
        },
        "RIGHT_ARROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_ARROW"
          }
        },
        "RIGHT_ARROW_CALLOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_ARROW_CALLOUT"
          }
        },
        "RIGHT_BRACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_BRACE"
          }
        },
        "RIGHT_BRACKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_BRACKET"
          }
        },
        "ROUND_1_RECTANGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROUND_1_RECTANGLE"
          }
        },
        "ROUND_2_DIAGONAL_RECTANGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROUND_2_DIAGONAL_RECTANGLE"
          }
        },
        "ROUND_2_SAME_RECTANGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROUND_2_SAME_RECTANGLE"
          }
        },
        "RIGHT_TRIANGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_TRIANGLE"
          }
        },
        "SMILEY_FACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMILEY_FACE"
          }
        },
        "SNIP_1_RECTANGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SNIP_1_RECTANGLE"
          }
        },
        "SNIP_2_DIAGONAL_RECTANGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SNIP_2_DIAGONAL_RECTANGLE"
          }
        },
        "SNIP_2_SAME_RECTANGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SNIP_2_SAME_RECTANGLE"
          }
        },
        "SNIP_ROUND_RECTANGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SNIP_ROUND_RECTANGLE"
          }
        },
        "STAR_10": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAR_10"
          }
        },
        "STAR_12": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAR_12"
          }
        },
        "STAR_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAR_16"
          }
        },
        "STAR_24": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAR_24"
          }
        },
        "STAR_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAR_32"
          }
        },
        "STAR_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAR_4"
          }
        },
        "STAR_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAR_5"
          }
        },
        "STAR_6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAR_6"
          }
        },
        "STAR_7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAR_7"
          }
        },
        "STAR_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAR_8"
          }
        },
        "STRIPED_RIGHT_ARROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRIPED_RIGHT_ARROW"
          }
        },
        "SUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUN"
          }
        },
        "TRAPEZOID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAPEZOID"
          }
        },
        "TRIANGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRIANGLE"
          }
        },
        "UP_ARROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UP_ARROW"
          }
        },
        "UP_ARROW_CALLOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UP_ARROW_CALLOUT"
          }
        },
        "UP_DOWN_ARROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UP_DOWN_ARROW"
          }
        },
        "UTURN_ARROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UTURN_ARROW"
          }
        },
        "VERTICAL_SCROLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERTICAL_SCROLL"
          }
        },
        "WAVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WAVE"
          }
        },
        "WEDGE_ELLIPSE_CALLOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEDGE_ELLIPSE_CALLOUT"
          }
        },
        "WEDGE_RECTANGLE_CALLOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEDGE_RECTANGLE_CALLOUT"
          }
        },
        "WEDGE_ROUND_RECTANGLE_CALLOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEDGE_ROUND_RECTANGLE_CALLOUT"
          }
        },
        "FLOW_CHART_ALTERNATE_PROCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOW_CHART_ALTERNATE_PROCESS"
          }
        },
        "FLOW_CHART_COLLATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOW_CHART_COLLATE"
          }
        },
        "FLOW_CHART_CONNECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOW_CHART_CONNECTOR"
          }
        },
        "FLOW_CHART_DECISION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOW_CHART_DECISION"
          }
        },
        "FLOW_CHART_DELAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOW_CHART_DELAY"
          }
        },
        "FLOW_CHART_DISPLAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOW_CHART_DISPLAY"
          }
        },
        "FLOW_CHART_DOCUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOW_CHART_DOCUMENT"
          }
        },
        "FLOW_CHART_EXTRACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOW_CHART_EXTRACT"
          }
        },
        "FLOW_CHART_INPUT_OUTPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOW_CHART_INPUT_OUTPUT"
          }
        },
        "FLOW_CHART_INTERNAL_STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOW_CHART_INTERNAL_STORAGE"
          }
        },
        "FLOW_CHART_MAGNETIC_DISK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOW_CHART_MAGNETIC_DISK"
          }
        },
        "FLOW_CHART_MAGNETIC_DRUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOW_CHART_MAGNETIC_DRUM"
          }
        },
        "FLOW_CHART_MAGNETIC_TAPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOW_CHART_MAGNETIC_TAPE"
          }
        },
        "FLOW_CHART_MANUAL_INPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOW_CHART_MANUAL_INPUT"
          }
        },
        "FLOW_CHART_MANUAL_OPERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOW_CHART_MANUAL_OPERATION"
          }
        },
        "FLOW_CHART_MERGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOW_CHART_MERGE"
          }
        },
        "FLOW_CHART_MULTIDOCUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOW_CHART_MULTIDOCUMENT"
          }
        },
        "FLOW_CHART_OFFLINE_STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOW_CHART_OFFLINE_STORAGE"
          }
        },
        "FLOW_CHART_OFFPAGE_CONNECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOW_CHART_OFFPAGE_CONNECTOR"
          }
        },
        "FLOW_CHART_ONLINE_STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOW_CHART_ONLINE_STORAGE"
          }
        },
        "FLOW_CHART_OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOW_CHART_OR"
          }
        },
        "FLOW_CHART_PREDEFINED_PROCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOW_CHART_PREDEFINED_PROCESS"
          }
        },
        "FLOW_CHART_PREPARATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOW_CHART_PREPARATION"
          }
        },
        "FLOW_CHART_PROCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOW_CHART_PROCESS"
          }
        },
        "FLOW_CHART_PUNCHED_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOW_CHART_PUNCHED_CARD"
          }
        },
        "FLOW_CHART_PUNCHED_TAPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOW_CHART_PUNCHED_TAPE"
          }
        },
        "FLOW_CHART_SORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOW_CHART_SORT"
          }
        },
        "FLOW_CHART_SUMMING_JUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOW_CHART_SUMMING_JUNCTION"
          }
        },
        "FLOW_CHART_TERMINATOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOW_CHART_TERMINATOR"
          }
        },
        "ARROW_EAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARROW_EAST"
          }
        },
        "ARROW_NORTH_EAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARROW_NORTH_EAST"
          }
        },
        "ARROW_NORTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARROW_NORTH"
          }
        },
        "SPEECH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPEECH"
          }
        },
        "STARBURST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARBURST"
          }
        },
        "TEARDROP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEARDROP"
          }
        },
        "ELLIPSE_RIBBON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ELLIPSE_RIBBON"
          }
        },
        "ELLIPSE_RIBBON_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ELLIPSE_RIBBON_2"
          }
        },
        "CLOUD_CALLOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_CALLOUT"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        }
      }
    },
    "com.googleworkspace.slides_v1#DeleteParagraphBulletsRequest": {
      "type": "structure",
      "members": {
        "cellLocation": {
          "target": "com.googleworkspace.slides_v1#TableCellLocation",
          "traits": {
            "smithy.api#documentation": "The optional table cell location if the text to be modified is in a table cell. If present, the object_id must refer to a table."
          }
        },
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object ID of the shape or table containing the text to delete bullets from."
          }
        },
        "textRange": {
          "target": "com.googleworkspace.slides_v1#Range",
          "traits": {
            "smithy.api#documentation": "The range of text to delete bullets from, based on TextElement indexes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deletes bullets from all of the paragraphs that overlap with the given text index range. The nesting level of each paragraph will be visually preserved by adding indent to the start of the corresponding paragraph."
      }
    },
    "com.googleworkspace.slides_v1#LineConnection": {
      "type": "structure",
      "members": {
        "connectionSiteIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index of the connection site on the connected page element. In most cases, it corresponds to the predefined connection site index from the ECMA-376 standard. More information on those connection sites can be found in both the description of the \"cxn\" attribute in section 20.1.9.9 and \"Annex H. Example Predefined DrawingML Shape and Text Geometries\" of \"Office Open XML File Formats - Fundamentals and Markup Language Reference\", part 1 of [ECMA-376 5th edition](https://ecma-international.org/publications-and-standards/standards/ecma-376/). The position of each connection site can also be viewed from Slides editor."
          }
        },
        "connectedObjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object ID of the connected page element. Some page elements, such as groups, tables, and lines do not have connection sites and therefore cannot be connected to a connector line."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties for one end of a Line connection."
      }
    },
    "com.googleworkspace.slides_v1#SheetsChart": {
      "type": "structure",
      "members": {
        "sheetsChartProperties": {
          "target": "com.googleworkspace.slides_v1#SheetsChartProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the Sheets chart."
          }
        },
        "chartId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the specific chart in the Google Sheets spreadsheet that is embedded."
          }
        },
        "spreadsheetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the Google Sheets spreadsheet that contains the source chart."
          }
        },
        "contentUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of an image of the embedded chart, with a default lifetime of 30 minutes. This URL is tagged with the account of the requester. Anyone with the URL effectively accesses the image as the original requester. Access to the image may be lost if the presentation's sharing settings change."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A PageElement kind representing a linked chart embedded from Google Sheets."
      }
    },
    "com.googleworkspace.slides_v1#RgbColor": {
      "type": "structure",
      "members": {
        "green": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The green component of the color, from 0.0 to 1.0."
          }
        },
        "red": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The red component of the color, from 0.0 to 1.0."
          }
        },
        "blue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The blue component of the color, from 0.0 to 1.0."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An RGB color."
      }
    },
    "com.googleworkspace.slides_v1#Response": {
      "type": "structure",
      "members": {
        "createLine": {
          "target": "com.googleworkspace.slides_v1#CreateLineResponse",
          "traits": {
            "smithy.api#documentation": "The result of creating a line."
          }
        },
        "createVideo": {
          "target": "com.googleworkspace.slides_v1#CreateVideoResponse",
          "traits": {
            "smithy.api#documentation": "The result of creating a video."
          }
        },
        "createSheetsChart": {
          "target": "com.googleworkspace.slides_v1#CreateSheetsChartResponse",
          "traits": {
            "smithy.api#documentation": "The result of creating a Google Sheets chart."
          }
        },
        "createShape": {
          "target": "com.googleworkspace.slides_v1#CreateShapeResponse",
          "traits": {
            "smithy.api#documentation": "The result of creating a shape."
          }
        },
        "createTable": {
          "target": "com.googleworkspace.slides_v1#CreateTableResponse",
          "traits": {
            "smithy.api#documentation": "The result of creating a table."
          }
        },
        "replaceAllShapesWithImage": {
          "target": "com.googleworkspace.slides_v1#ReplaceAllShapesWithImageResponse",
          "traits": {
            "smithy.api#documentation": "The result of replacing all shapes matching some criteria with an image."
          }
        },
        "createSlide": {
          "target": "com.googleworkspace.slides_v1#CreateSlideResponse",
          "traits": {
            "smithy.api#documentation": "The result of creating a slide."
          }
        },
        "createImage": {
          "target": "com.googleworkspace.slides_v1#CreateImageResponse",
          "traits": {
            "smithy.api#documentation": "The result of creating an image."
          }
        },
        "replaceAllText": {
          "target": "com.googleworkspace.slides_v1#ReplaceAllTextResponse",
          "traits": {
            "smithy.api#documentation": "The result of replacing text."
          }
        },
        "groupObjects": {
          "target": "com.googleworkspace.slides_v1#GroupObjectsResponse",
          "traits": {
            "smithy.api#documentation": "The result of grouping objects."
          }
        },
        "duplicateObject": {
          "target": "com.googleworkspace.slides_v1#DuplicateObjectResponse",
          "traits": {
            "smithy.api#documentation": "The result of duplicating an object."
          }
        },
        "replaceAllShapesWithSheetsChart": {
          "target": "com.googleworkspace.slides_v1#ReplaceAllShapesWithSheetsChartResponse",
          "traits": {
            "smithy.api#documentation": "The result of replacing all shapes matching some criteria with a Google Sheets chart."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single response from an update."
      }
    },
    "com.googleworkspace.slides_v1#ParagraphMarker": {
      "type": "structure",
      "members": {
        "bullet": {
          "target": "com.googleworkspace.slides_v1#Bullet",
          "traits": {
            "smithy.api#documentation": "The bullet for this paragraph. If not present, the paragraph does not belong to a list."
          }
        },
        "style": {
          "target": "com.googleworkspace.slides_v1#ParagraphStyle",
          "traits": {
            "smithy.api#documentation": "The paragraph's style"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A TextElement kind that represents the beginning of a new paragraph."
      }
    },
    "com.googleworkspace.slides_v1#CreateVideoResponse": {
      "type": "structure",
      "members": {
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object ID of the created video."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of creating a video."
      }
    },
    "com.googleworkspace.slides_v1#ParagraphStyle": {
      "type": "structure",
      "members": {
        "indentEnd": {
          "target": "com.googleworkspace.slides_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The amount indentation for the paragraph on the side that corresponds to the end of the text, based on the current text direction. If unset, the value is inherited from the parent."
          }
        },
        "direction": {
          "target": "com.googleworkspace.slides_v1#ParagraphStyleDirectionEnum",
          "traits": {
            "smithy.api#documentation": "The text direction of this paragraph. If unset, the value defaults to LEFT_TO_RIGHT since text direction is not inherited."
          }
        },
        "spacingMode": {
          "target": "com.googleworkspace.slides_v1#ParagraphStyleSpacingModeEnum",
          "traits": {
            "smithy.api#documentation": "The spacing mode for the paragraph."
          }
        },
        "spaceAbove": {
          "target": "com.googleworkspace.slides_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The amount of extra space above the paragraph. If unset, the value is inherited from the parent."
          }
        },
        "lineSpacing": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The amount of space between lines, as a percentage of normal, where normal is represented as 100.0. If unset, the value is inherited from the parent."
          }
        },
        "spaceBelow": {
          "target": "com.googleworkspace.slides_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The amount of extra space below the paragraph. If unset, the value is inherited from the parent."
          }
        },
        "indentStart": {
          "target": "com.googleworkspace.slides_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The amount indentation for the paragraph on the side that corresponds to the start of the text, based on the current text direction. If unset, the value is inherited from the parent."
          }
        },
        "indentFirstLine": {
          "target": "com.googleworkspace.slides_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The amount of indentation for the start of the first line of the paragraph. If unset, the value is inherited from the parent."
          }
        },
        "alignment": {
          "target": "com.googleworkspace.slides_v1#ParagraphStyleAlignmentEnum",
          "traits": {
            "smithy.api#documentation": "The text alignment for this paragraph."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Styles that apply to a whole paragraph. If this text is contained in a shape with a parent placeholder, then these paragraph styles may be inherited from the parent. Which paragraph styles are inherited depend on the nesting level of lists: * A paragraph not in a list will inherit its paragraph style from the paragraph at the 0 nesting level of the list inside the parent placeholder. * A paragraph in a list will inherit its paragraph style from the paragraph at its corresponding nesting level of the list inside the parent placeholder. Inherited paragraph styles are represented as unset fields in this message."
      }
    },
    "com.googleworkspace.slides_v1#ParagraphStyleDirectionEnum": {
      "type": "enum",
      "members": {
        "TEXT_DIRECTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT_DIRECTION_UNSPECIFIED"
          }
        },
        "LEFT_TO_RIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_TO_RIGHT"
          }
        },
        "RIGHT_TO_LEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_TO_LEFT"
          }
        }
      }
    },
    "com.googleworkspace.slides_v1#ParagraphStyleSpacingModeEnum": {
      "type": "enum",
      "members": {
        "SPACING_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPACING_MODE_UNSPECIFIED"
          }
        },
        "NEVER_COLLAPSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEVER_COLLAPSE"
          }
        },
        "COLLAPSE_LISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLLAPSE_LISTS"
          }
        }
      }
    },
    "com.googleworkspace.slides_v1#ParagraphStyleAlignmentEnum": {
      "type": "enum",
      "members": {
        "ALIGNMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIGNMENT_UNSPECIFIED"
          }
        },
        "START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START"
          }
        },
        "CENTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CENTER"
          }
        },
        "END": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "END"
          }
        },
        "JUSTIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JUSTIFIED"
          }
        }
      }
    },
    "com.googleworkspace.slides_v1#ShapeBackgroundFill": {
      "type": "structure",
      "members": {
        "propertyState": {
          "target": "com.googleworkspace.slides_v1#ShapeBackgroundFillPropertyStateEnum",
          "traits": {
            "smithy.api#documentation": "The background fill property state. Updating the fill on a shape will implicitly update this field to `RENDERED`, unless another value is specified in the same request. To have no fill on a shape, set this field to `NOT_RENDERED`. In this case, any other fill fields set in the same request will be ignored."
          }
        },
        "solidFill": {
          "target": "com.googleworkspace.slides_v1#SolidFill",
          "traits": {
            "smithy.api#documentation": "Solid color fill."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The shape background fill."
      }
    },
    "com.googleworkspace.slides_v1#ShapeBackgroundFillPropertyStateEnum": {
      "type": "enum",
      "members": {
        "RENDERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RENDERED"
          }
        },
        "NOT_RENDERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_RENDERED"
          }
        },
        "INHERIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INHERIT"
          }
        }
      }
    },
    "com.googleworkspace.slides_v1#Shadow": {
      "type": "structure",
      "members": {
        "transform": {
          "target": "com.googleworkspace.slides_v1#AffineTransform",
          "traits": {
            "smithy.api#documentation": "Transform that encodes the translate, scale, and skew of the shadow, relative to the alignment position."
          }
        },
        "blurRadius": {
          "target": "com.googleworkspace.slides_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The radius of the shadow blur. The larger the radius, the more diffuse the shadow becomes."
          }
        },
        "rotateWithShape": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the shadow should rotate with the shape. This property is read-only."
          }
        },
        "alpha": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The alpha of the shadow's color, from 0.0 to 1.0."
          }
        },
        "color": {
          "target": "com.googleworkspace.slides_v1#OpaqueColor",
          "traits": {
            "smithy.api#documentation": "The shadow color value."
          }
        },
        "propertyState": {
          "target": "com.googleworkspace.slides_v1#ShadowPropertyStateEnum",
          "traits": {
            "smithy.api#documentation": "The shadow property state. Updating the shadow on a page element will implicitly update this field to `RENDERED`, unless another value is specified in the same request. To have no shadow on a page element, set this field to `NOT_RENDERED`. In this case, any other shadow fields set in the same request will be ignored."
          }
        },
        "alignment": {
          "target": "com.googleworkspace.slides_v1#ShadowAlignmentEnum",
          "traits": {
            "smithy.api#documentation": "The alignment point of the shadow, that sets the origin for translate, scale and skew of the shadow. This property is read-only."
          }
        },
        "type": {
          "target": "com.googleworkspace.slides_v1#ShadowTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the shadow. This property is read-only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The shadow properties of a page element. If these fields are unset, they may be inherited from a parent placeholder if it exists. If there is no parent, the fields will default to the value used for new page elements created in the Slides editor, which may depend on the page element kind."
      }
    },
    "com.googleworkspace.slides_v1#ShadowPropertyStateEnum": {
      "type": "enum",
      "members": {
        "RENDERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RENDERED"
          }
        },
        "NOT_RENDERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_RENDERED"
          }
        },
        "INHERIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INHERIT"
          }
        }
      }
    },
    "com.googleworkspace.slides_v1#ShadowAlignmentEnum": {
      "type": "enum",
      "members": {
        "RECTANGLE_POSITION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECTANGLE_POSITION_UNSPECIFIED"
          }
        },
        "TOP_LEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOP_LEFT"
          }
        },
        "TOP_CENTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOP_CENTER"
          }
        },
        "TOP_RIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOP_RIGHT"
          }
        },
        "LEFT_CENTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_CENTER"
          }
        },
        "CENTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CENTER"
          }
        },
        "RIGHT_CENTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_CENTER"
          }
        },
        "BOTTOM_LEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOTTOM_LEFT"
          }
        },
        "BOTTOM_CENTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOTTOM_CENTER"
          }
        },
        "BOTTOM_RIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOTTOM_RIGHT"
          }
        }
      }
    },
    "com.googleworkspace.slides_v1#ShadowTypeEnum": {
      "type": "enum",
      "members": {
        "SHADOW_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHADOW_TYPE_UNSPECIFIED"
          }
        },
        "OUTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTER"
          }
        }
      }
    },
    "com.googleworkspace.slides_v1#VideoProperties": {
      "type": "structure",
      "members": {
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The time at which to start playback, measured in seconds from the beginning of the video. If set, the start time should be before the end time. If you set this to a value that exceeds the video's length in seconds, the video will be played from the last second. If not set, the video will be played from the beginning."
          }
        },
        "mute": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to mute the audio during video playback. Defaults to false."
          }
        },
        "outline": {
          "target": "com.googleworkspace.slides_v1#Outline",
          "traits": {
            "smithy.api#documentation": "The outline of the video. The default outline matches the defaults for new videos created in the Slides editor."
          }
        },
        "autoPlay": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable video autoplay when the page is displayed in present mode. Defaults to false."
          }
        },
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The time at which to end playback, measured in seconds from the beginning of the video. If set, the end time should be after the start time. If not set or if you set this to a value that exceeds the video's length, the video will be played until its end."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of the Video."
      }
    },
    "com.googleworkspace.slides_v1#InsertTextRequest": {
      "type": "structure",
      "members": {
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object ID of the shape or table where the text will be inserted."
          }
        },
        "cellLocation": {
          "target": "com.googleworkspace.slides_v1#TableCellLocation",
          "traits": {
            "smithy.api#documentation": "The optional table cell location if the text is to be inserted into a table cell. If present, the object_id must refer to a table."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text to be inserted. Inserting a newline character will implicitly create a new ParagraphMarker at that index. The paragraph style of the new paragraph will be copied from the paragraph at the current insertion index, including lists and bullets. Text styles for inserted text will be determined automatically, generally preserving the styling of neighboring text. In most cases, the text will be added to the TextRun that exists at the insertion index. Some control characters (U+0000-U+0008, U+000C-U+001F) and characters from the Unicode Basic Multilingual Plane Private Use Area (U+E000-U+F8FF) will be stripped out of the inserted text."
          }
        },
        "insertionIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index where the text will be inserted, in Unicode code units, based on TextElement indexes. The index is zero-based and is computed from the start of the string. The index may be adjusted to prevent insertions inside Unicode grapheme clusters. In these cases, the text will be inserted immediately after the grapheme cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Inserts text into a shape or a table cell."
      }
    },
    "com.googleworkspace.slides_v1#CreateVideoRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The video source's unique identifier for this video. e.g. For YouTube video https://www.youtube.com/watch?v=7U3axjORYZ0, the ID is 7U3axjORYZ0. For a Google Drive video https://drive.google.com/file/d/1xCgQLFTJi5_Xl8DgW_lcUYq5e-q6Hi5Q the ID is 1xCgQLFTJi5_Xl8DgW_lcUYq5e-q6Hi5Q. To access a Google Drive video file, you might need to add a resource key to the HTTP header for a subset of old files. For more information, see [Access link-shared files using resource keys](https://developers.google.com/drive/api/v3/resource-keys)."
          }
        },
        "elementProperties": {
          "target": "com.googleworkspace.slides_v1#PageElementProperties",
          "traits": {
            "smithy.api#documentation": "The element properties for the video. The PageElementProperties.size property is optional. If you don't specify a size, a default size is chosen by the server. The PageElementProperties.transform property is optional. The transform must not have shear components. If you don't specify a transform, the video will be placed at the top left corner of the page."
          }
        },
        "source": {
          "target": "com.googleworkspace.slides_v1#CreateVideoRequestSourceEnum",
          "traits": {
            "smithy.api#documentation": "The video source."
          }
        },
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Creates a video. NOTE: Creating a video from Google Drive requires that the requesting app have at least one of the drive, drive.readonly, or drive.file OAuth scopes."
      }
    },
    "com.googleworkspace.slides_v1#CreateVideoRequestSourceEnum": {
      "type": "enum",
      "members": {
        "SOURCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_UNSPECIFIED"
          }
        },
        "YOUTUBE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE"
          }
        },
        "DRIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRIVE"
          }
        }
      }
    },
    "com.googleworkspace.slides_v1#Placeholder": {
      "type": "structure",
      "members": {
        "parentObjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object ID of this shape's parent placeholder. If unset, the parent placeholder shape does not exist, so the shape does not inherit properties from any other shape."
          }
        },
        "type": {
          "target": "com.googleworkspace.slides_v1#PlaceholderTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the placeholder."
          }
        },
        "index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index of the placeholder. If the same placeholder types are present in the same page, they would have different index values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The placeholder information that uniquely identifies a placeholder shape."
      }
    },
    "com.googleworkspace.slides_v1#PlaceholderTypeEnum": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "BODY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BODY"
          }
        },
        "CHART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHART"
          }
        },
        "CLIP_ART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIP_ART"
          }
        },
        "CENTERED_TITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CENTERED_TITLE"
          }
        },
        "DIAGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIAGRAM"
          }
        },
        "DATE_AND_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATE_AND_TIME"
          }
        },
        "FOOTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOOTER"
          }
        },
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADER"
          }
        },
        "MEDIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIA"
          }
        },
        "OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT"
          }
        },
        "PICTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PICTURE"
          }
        },
        "SLIDE_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SLIDE_NUMBER"
          }
        },
        "SUBTITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBTITLE"
          }
        },
        "TABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TABLE"
          }
        },
        "TITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TITLE"
          }
        },
        "SLIDE_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SLIDE_IMAGE"
          }
        }
      }
    },
    "com.googleworkspace.slides_v1#GroupObjectsResponse": {
      "type": "structure",
      "members": {
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object ID of the created group."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of grouping objects."
      }
    },
    "com.googleworkspace.slides_v1#UpdateSlidesPositionRequest": {
      "type": "structure",
      "members": {
        "insertionIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index where the slides should be inserted, based on the slide arrangement before the move takes place. Must be between zero and the number of slides in the presentation, inclusive."
          }
        },
        "slideObjectIds": {
          "target": "com.googleworkspace.slides_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The IDs of the slides in the presentation that should be moved. The slides in this list must be in existing presentation order, without duplicates."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Updates the position of slides in the presentation."
      }
    },
    "com.googleworkspace.slides_v1#UpdatePageElementAltTextRequest": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The updated alt text description of the page element. If unset the existing value will be maintained. The description is exposed to screen readers and other accessibility interfaces. Only use human readable values related to the content of the page element."
          }
        },
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object ID of the page element the updates are applied to."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The updated alt text title of the page element. If unset the existing value will be maintained. The title is exposed to screen readers and other accessibility interfaces. Only use human readable values related to the content of the page element."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Updates the alt text title and/or description of a page element."
      }
    },
    "com.googleworkspace.slides_v1#UpdateShapePropertiesRequest": {
      "type": "structure",
      "members": {
        "shapeProperties": {
          "target": "com.googleworkspace.slides_v1#ShapeProperties",
          "traits": {
            "smithy.api#documentation": "The shape properties to update."
          }
        },
        "fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `shapeProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the shape background solid fill color, set `fields` to `\"shapeBackgroundFill.solidFill.color\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset."
          }
        },
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object ID of the shape the updates are applied to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Update the properties of a Shape."
      }
    },
    "com.googleworkspace.slides_v1#OptionalColor": {
      "type": "structure",
      "members": {
        "opaqueColor": {
          "target": "com.googleworkspace.slides_v1#OpaqueColor",
          "traits": {
            "smithy.api#documentation": "If set, this will be used as an opaque color. If unset, this represents a transparent color."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A color that can either be fully opaque or fully transparent."
      }
    },
    "com.googleworkspace.slides_v1#UnmergeTableCellsRequest": {
      "type": "structure",
      "members": {
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object ID of the table."
          }
        },
        "tableRange": {
          "target": "com.googleworkspace.slides_v1#TableRange",
          "traits": {
            "smithy.api#documentation": "The table range specifying which cells of the table to unmerge. All merged cells in this range will be unmerged, and cells that are already unmerged will not be affected. If the range has no merged cells, the request will do nothing. If there is text in any of the merged cells, the text will remain in the upper-left (\"head\") cell of the resulting block of unmerged cells."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Unmerges cells in a Table."
      }
    },
    "com.googleworkspace.slides_v1#SpeakerSpotlight": {
      "type": "structure",
      "members": {
        "speakerSpotlightProperties": {
          "target": "com.googleworkspace.slides_v1#SpeakerSpotlightProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the Speaker Spotlight."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A PageElement kind representing a Speaker Spotlight."
      }
    },
    "com.googleworkspace.slides_v1#CreateSheetsChartRequest": {
      "type": "structure",
      "members": {
        "spreadsheetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the Google Sheets spreadsheet that contains the chart. You might need to add a resource key to the HTTP header for a subset of old files. For more information, see [Access link-shared files using resource keys](https://developers.google.com/drive/api/v3/resource-keys)."
          }
        },
        "linkingMode": {
          "target": "com.googleworkspace.slides_v1#CreateSheetsChartRequestLinkingModeEnum",
          "traits": {
            "smithy.api#documentation": "The mode with which the chart is linked to the source spreadsheet. When not specified, the chart will be an image that is not linked."
          }
        },
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user-supplied object ID. If specified, the ID must be unique among all pages and page elements in the presentation. The ID should start with a word character [a-zA-Z0-9_] and then followed by any number of the following characters [a-zA-Z0-9_-:]. The length of the ID should not be less than 5 or greater than 50. If empty, a unique identifier will be generated."
          }
        },
        "chartId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the specific chart in the Google Sheets spreadsheet."
          }
        },
        "elementProperties": {
          "target": "com.googleworkspace.slides_v1#PageElementProperties",
          "traits": {
            "smithy.api#documentation": "The element properties for the chart. When the aspect ratio of the provided size does not match the chart aspect ratio, the chart is scaled and centered with respect to the size in order to maintain aspect ratio. The provided transform is applied after this operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Creates an embedded Google Sheets chart. NOTE: Chart creation requires at least one of the spreadsheets.readonly, spreadsheets, drive.readonly, drive.file, or drive OAuth scopes."
      }
    },
    "com.googleworkspace.slides_v1#CreateSheetsChartRequestLinkingModeEnum": {
      "type": "enum",
      "members": {
        "NOT_LINKED_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_LINKED_IMAGE"
          }
        },
        "LINKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINKED"
          }
        }
      }
    },
    "com.googleworkspace.slides_v1#SubstringMatchCriteria": {
      "type": "structure",
      "members": {
        "searchByRegex": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. True if the find value should be treated as a regular expression. Any backslashes in the pattern should be escaped. - `True`: the search text is treated as a regular expressions. - `False`: the search text is treated as a substring for matching."
          }
        },
        "matchCase": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the search should respect case: - `True`: the search is case sensitive. - `False`: the search is case insensitive."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text to search for in the shape or table."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A criteria that matches a specific string of text in a shape or table."
      }
    },
    "com.googleworkspace.slides_v1#LayoutPlaceholderIdMapping": {
      "type": "structure",
      "members": {
        "layoutPlaceholderObjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object ID of the placeholder on a layout that will be applied to a slide."
          }
        },
        "layoutPlaceholder": {
          "target": "com.googleworkspace.slides_v1#Placeholder",
          "traits": {
            "smithy.api#documentation": "The placeholder on a layout that will be applied to a slide. Only type and index are needed. For example, a predefined `TITLE_AND_BODY` layout may usually have a TITLE placeholder with index 0 and a BODY placeholder with index 0."
          }
        },
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user-supplied object ID for the placeholder identified above that to be created onto a slide. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The user-specified ID mapping for a placeholder that will be created on a slide from a specified layout."
      }
    },
    "com.googleworkspace.slides_v1#UpdateParagraphStyleRequest": {
      "type": "structure",
      "members": {
        "style": {
          "target": "com.googleworkspace.slides_v1#ParagraphStyle",
          "traits": {
            "smithy.api#documentation": "The paragraph's style."
          }
        },
        "fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the paragraph alignment, set `fields` to `\"alignment\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset."
          }
        },
        "textRange": {
          "target": "com.googleworkspace.slides_v1#Range",
          "traits": {
            "smithy.api#documentation": "The range of text containing the paragraph(s) to style."
          }
        },
        "cellLocation": {
          "target": "com.googleworkspace.slides_v1#TableCellLocation",
          "traits": {
            "smithy.api#documentation": "The location of the cell in the table containing the paragraph(s) to style. If `object_id` refers to a table, `cell_location` must have a value. Otherwise, it must not."
          }
        },
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object ID of the shape or table with the text to be styled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Updates the styling for all of the paragraphs within a Shape or Table that overlap with the given text index range."
      }
    },
    "com.googleworkspace.slides_v1#Page": {
      "type": "structure",
      "members": {
        "pageType": {
          "target": "com.googleworkspace.slides_v1#PagePageTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the page."
          }
        },
        "slideProperties": {
          "target": "com.googleworkspace.slides_v1#SlideProperties",
          "traits": {
            "smithy.api#documentation": "Slide specific properties. Only set if page_type = SLIDE."
          }
        },
        "revisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The revision ID of the presentation. Can be used in update requests to assert the presentation revision hasn't changed since the last read operation. Only populated if the user has edit access to the presentation. The revision ID is not a sequential number but an opaque string. The format of the revision ID might change over time. A returned revision ID is only guaranteed to be valid for 24 hours after it has been returned and cannot be shared across users. If the revision ID is unchanged between calls, then the presentation has not changed. Conversely, a changed ID (for the same presentation and user) usually means the presentation has been updated. However, a changed ID can also be due to internal factors such as ID format changes."
          }
        },
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object ID for this page. Object IDs used by Page and PageElement share the same namespace."
          }
        },
        "masterProperties": {
          "target": "com.googleworkspace.slides_v1#MasterProperties",
          "traits": {
            "smithy.api#documentation": "Master specific properties. Only set if page_type = MASTER."
          }
        },
        "notesProperties": {
          "target": "com.googleworkspace.slides_v1#NotesProperties",
          "traits": {
            "smithy.api#documentation": "Notes specific properties. Only set if page_type = NOTES."
          }
        },
        "pageElements": {
          "target": "com.googleworkspace.slides_v1#PageElementList",
          "traits": {
            "smithy.api#documentation": "The page elements rendered on the page."
          }
        },
        "layoutProperties": {
          "target": "com.googleworkspace.slides_v1#LayoutProperties",
          "traits": {
            "smithy.api#documentation": "Layout specific properties. Only set if page_type = LAYOUT."
          }
        },
        "pageProperties": {
          "target": "com.googleworkspace.slides_v1#PageProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the page."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A page in a presentation."
      }
    },
    "com.googleworkspace.slides_v1#PagePageTypeEnum": {
      "type": "enum",
      "members": {
        "SLIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SLIDE"
          }
        },
        "MASTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MASTER"
          }
        },
        "LAYOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAYOUT"
          }
        },
        "NOTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTES"
          }
        },
        "NOTES_MASTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTES_MASTER"
          }
        }
      }
    },
    "com.googleworkspace.slides_v1#PageElementList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.slides_v1#PageElement"
      }
    },
    "com.googleworkspace.slides_v1#PageElement": {
      "type": "structure",
      "members": {
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object ID for this page element. Object IDs used by google.apps.slides.v1.Page and google.apps.slides.v1.PageElement share the same namespace."
          }
        },
        "sheetsChart": {
          "target": "com.googleworkspace.slides_v1#SheetsChart",
          "traits": {
            "smithy.api#documentation": "A linked chart embedded from Google Sheets. Unlinked charts are represented as images."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title of the page element. Combined with description to display alt text. The field is not supported for Group elements."
          }
        },
        "video": {
          "target": "com.googleworkspace.slides_v1#Video",
          "traits": {
            "smithy.api#documentation": "A video page element."
          }
        },
        "speakerSpotlight": {
          "target": "com.googleworkspace.slides_v1#SpeakerSpotlight",
          "traits": {
            "smithy.api#documentation": "A Speaker Spotlight."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the page element. Combined with title to display alt text. The field is not supported for Group elements."
          }
        },
        "table": {
          "target": "com.googleworkspace.slides_v1#Table",
          "traits": {
            "smithy.api#documentation": "A table page element."
          }
        },
        "elementGroup": {
          "target": "com.googleworkspace.slides_v1#Group",
          "traits": {
            "smithy.api#documentation": "A collection of page elements joined as a single unit."
          }
        },
        "line": {
          "target": "com.googleworkspace.slides_v1#Line",
          "traits": {
            "smithy.api#documentation": "A line page element."
          }
        },
        "wordArt": {
          "target": "com.googleworkspace.slides_v1#WordArt",
          "traits": {
            "smithy.api#documentation": "A word art page element."
          }
        },
        "shape": {
          "target": "com.googleworkspace.slides_v1#Shape",
          "traits": {
            "smithy.api#documentation": "A generic shape."
          }
        },
        "size": {
          "target": "com.googleworkspace.slides_v1#Size",
          "traits": {
            "smithy.api#documentation": "The size of the page element."
          }
        },
        "image": {
          "target": "com.googleworkspace.slides_v1#Image",
          "traits": {
            "smithy.api#documentation": "An image page element."
          }
        },
        "transform": {
          "target": "com.googleworkspace.slides_v1#AffineTransform",
          "traits": {
            "smithy.api#documentation": "The transform of the page element. The visual appearance of the page element is determined by its absolute transform. To compute the absolute transform, preconcatenate a page element's transform with the transforms of all of its parent groups. If the page element is not in a group, its absolute transform is the same as the value in this field. The initial transform for the newly created Group is always the identity transform."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A visual element rendered on a page."
      }
    },
    "com.googleworkspace.slides_v1#ReplaceAllShapesWithSheetsChartRequest": {
      "type": "structure",
      "members": {
        "pageObjectIds": {
          "target": "com.googleworkspace.slides_v1#StringList",
          "traits": {
            "smithy.api#documentation": "If non-empty, limits the matches to page elements only on the given pages. Returns a 400 bad request error if given the page object ID of a notes page or a notes master, or if a page with that object ID doesn't exist in the presentation."
          }
        },
        "spreadsheetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the Google Sheets spreadsheet that contains the chart."
          }
        },
        "linkingMode": {
          "target": "com.googleworkspace.slides_v1#ReplaceAllShapesWithSheetsChartRequestLinkingModeEnum",
          "traits": {
            "smithy.api#documentation": "The mode with which the chart is linked to the source spreadsheet. When not specified, the chart will be an image that is not linked."
          }
        },
        "chartId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the specific chart in the Google Sheets spreadsheet."
          }
        },
        "containsText": {
          "target": "com.googleworkspace.slides_v1#SubstringMatchCriteria",
          "traits": {
            "smithy.api#documentation": "The criteria that the shapes must match in order to be replaced. The request will replace all of the shapes that contain the given text."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Replaces all shapes that match the given criteria with the provided Google Sheets chart. The chart will be scaled and centered to fit within the bounds of the original shape. NOTE: Replacing shapes with a chart requires at least one of the spreadsheets.readonly, spreadsheets, drive.readonly, or drive OAuth scopes."
      }
    },
    "com.googleworkspace.slides_v1#ReplaceAllShapesWithSheetsChartRequestLinkingModeEnum": {
      "type": "enum",
      "members": {
        "NOT_LINKED_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_LINKED_IMAGE"
          }
        },
        "LINKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINKED"
          }
        }
      }
    },
    "com.googleworkspace.slides_v1#CreateImageResponse": {
      "type": "structure",
      "members": {
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object ID of the created image."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of creating an image."
      }
    },
    "com.googleworkspace.slides_v1#OutlineFill": {
      "type": "structure",
      "members": {
        "solidFill": {
          "target": "com.googleworkspace.slides_v1#SolidFill",
          "traits": {
            "smithy.api#documentation": "Solid color fill."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The fill of the outline."
      }
    },
    "com.googleworkspace.slides_v1#TableCellProperties": {
      "type": "structure",
      "members": {
        "tableCellBackgroundFill": {
          "target": "com.googleworkspace.slides_v1#TableCellBackgroundFill",
          "traits": {
            "smithy.api#documentation": "The background fill of the table cell. The default fill matches the fill for newly created table cells in the Slides editor."
          }
        },
        "contentAlignment": {
          "target": "com.googleworkspace.slides_v1#TableCellPropertiesContentAlignmentEnum",
          "traits": {
            "smithy.api#documentation": "The alignment of the content in the table cell. The default alignment matches the alignment for newly created table cells in the Slides editor."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of the TableCell."
      }
    },
    "com.googleworkspace.slides_v1#TableCellPropertiesContentAlignmentEnum": {
      "type": "enum",
      "members": {
        "CONTENT_ALIGNMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT_ALIGNMENT_UNSPECIFIED"
          }
        },
        "CONTENT_ALIGNMENT_UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT_ALIGNMENT_UNSUPPORTED"
          }
        },
        "TOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOP"
          }
        },
        "MIDDLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIDDLE"
          }
        },
        "BOTTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOTTOM"
          }
        }
      }
    },
    "com.googleworkspace.slides_v1#WriteControl": {
      "type": "structure",
      "members": {
        "requiredRevisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The revision ID of the presentation required for the write request. If specified and the required revision ID doesn't match the presentation's current revision ID, the request is not processed and returns a 400 bad request error. When a required revision ID is returned in a response, it indicates the revision ID of the document after the request was applied."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides control over how write requests are executed."
      }
    },
    "com.googleworkspace.slides_v1#Size": {
      "type": "structure",
      "members": {
        "width": {
          "target": "com.googleworkspace.slides_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The width of the object."
          }
        },
        "height": {
          "target": "com.googleworkspace.slides_v1#Dimension",
          "traits": {
            "smithy.api#documentation": "The height of the object."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A width and height."
      }
    },
    "com.googleworkspace.slides_v1#BatchUpdatePresentationRequest": {
      "type": "structure",
      "members": {
        "writeControl": {
          "target": "com.googleworkspace.slides_v1#WriteControl",
          "traits": {
            "smithy.api#documentation": "Provides control over how write requests are executed."
          }
        },
        "requests": {
          "target": "com.googleworkspace.slides_v1#RequestList",
          "traits": {
            "smithy.api#documentation": "A list of updates to apply to the presentation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for PresentationsService.BatchUpdatePresentation."
      }
    },
    "com.googleworkspace.slides_v1#RequestList": {
      "type": "list",
      "member": {
        "target": "com.googleworkspace.slides_v1#Request"
      }
    },
    "com.googleworkspace.slides_v1#UpdateVideoPropertiesRequest": {
      "type": "structure",
      "members": {
        "videoProperties": {
          "target": "com.googleworkspace.slides_v1#VideoProperties",
          "traits": {
            "smithy.api#documentation": "The video properties to update."
          }
        },
        "fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fields that should be updated. At least one field must be specified. The root `videoProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the video outline color, set `fields` to `\"outline.outlineFill.solidFill.color\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset."
          }
        },
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object ID of the video the updates are applied to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Update the properties of a Video."
      }
    },
    "com.googleworkspace.slides_v1#InsertTableRowsRequest": {
      "type": "structure",
      "members": {
        "insertBelow": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to insert new rows below the reference cell location. - `True`: insert below the cell. - `False`: insert above the cell."
          }
        },
        "number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of rows to be inserted. Maximum 20 per request."
          }
        },
[...]
