{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.modrinth.api#SearchProjectsRequestIndex": {
      "type": "enum",
      "members": {
        "RELEVANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "relevance"
          }
        },
        "DOWNLOADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "downloads"
          }
        },
        "FOLLOWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "follows"
          }
        },
        "NEWEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "newest"
          }
        },
        "UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated"
          }
        }
      },
      "traits": {}
    },
    "com.modrinth.api#SearchProjectsRequest": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "query",
            "smithy.api#documentation": "The query to search for"
          }
        },
        "facets": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "facets",
            "smithy.api#documentation": "Facets are an essential concept for understanding how to filter out results.\n\nThese are the most commonly used facet types:\n- `project_type`\n- `all_project_types` (matches against every project type across all of the project's versions, not just the primary/version-specific type)\n- `categories` (loaders are lumped in with categories in search)\n- `versions`\n- `open_source`\n- `environment` (one of the following values)\n  - `client_and_server`\n  - `client_only`\n  - `client_only_server_optional`\n  - `singleplayer_only`\n  - `server_only`\n  - `server_only_client_optional`\n  - `dedicated_server_only`\n  - `client_or_server`\n  - `client_or_server_prefers_both`\n  - `unknown`\n- `disclosure_types` (list of any of the following values)\n  - `ai_content`\n  - `ai_content_code`\n  - `ai_content_assets`\n  - `ai_content_text`\n  - `ai_content_functionality`\n  - `advertisements`\n  - `epilepsy_triggers`\n  - `system_interactions`\n  - `telemetry`\n  - `telemetry_opt_in`\n  - `telemetry_opt_out`\n  - `telemetry_always_active`\n  - `derivative_work`\n  - `paid_features`\n  - `archived`\n- `client_side` (deprecated - use `environment` instead)\n- `server_side` (deprecated - use `environment` instead)\n\nSeveral others are also available for use, though these should not be used outside very specific use cases.\n- `title`\n- `author`\n- `follows`\n- `project_id`\n- `license`\n- `downloads`\n- `created_timestamp` (uses Unix timestamp)\n- `modified_timestamp` (uses Unix timestamp)\n\nIn order to then use these facets, you need a value to filter by, as well as an operation to perform on this value.\nThe most common operation is `:` (same as `=`), though you can also use `!=`, `>=`, `>`, `<=`, and `<`.\nJoin together the type, operation, and value, and you've got your string.\n```\n{type} {operation} {value}\n```\n\nExamples:\n```\ncategories = adventure\nversions != 1.20.1\ndownloads <= 100\n```\n\nYou then join these strings together in arrays to signal `AND` and `OR` operators.\n\n##### OR\nAll elements in a single array are considered to be joined by OR statements.\nFor example, the search `[[\"versions:1.16.5\", \"versions:1.17.1\"]]` translates to `Projects that support 1.16.5 OR 1.17.1`.\n\n##### AND\nSeparate arrays are considered to be joined by AND statements.\nFor example, the search `[[\"versions:1.16.5\"], [\"project_type:modpack\"]]` translates to `Projects that support 1.16.5 AND are modpacks`.\n"
          }
        },
        "index": {
          "target": "com.modrinth.api#SearchProjectsRequestIndex",
          "traits": {
            "smithy.api#httpQuery": "index",
            "smithy.api#documentation": "The sorting method used for sorting search results"
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The offset into the search. Skips this number of results"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "The number of results returned by the search"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modrinth.api#SearchResults": {
      "type": "structure",
      "members": {
        "hits": {
          "target": "com.modrinth.api#SearchResultsHitsList",
          "traits": {
            "smithy.api#documentation": "The list of results",
            "smithy.api#required": {}
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of results that were skipped by the query",
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of results that were returned by the query",
            "smithy.api#required": {}
          }
        },
        "total_hits": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of results that match the query",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.modrinth.api#ProjectResult": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the project, encoded as a base62 string",
            "smithy.api#required": {}
          }
        },
        "project_type": {
          "target": "com.modrinth.api#ProjectResultProjectType",
          "traits": {
            "smithy.api#documentation": "The project type of the project",
            "smithy.api#required": {}
          }
        },
        "all_project_types": {
          "target": "com.modrinth.api#ProjectResultAllProjectTypesList",
          "traits": {
            "smithy.api#documentation": "All project types across every version of the project, unlike `project_type` which only reflects a version-specific type",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title or name of the project",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short sentence summarizing the project, no more than a sentence or two.",
            "smithy.api#required": {}
          }
        },
        "author": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The username of the project's author",
            "smithy.api#required": {}
          }
        },
        "categories": {
          "target": "com.modrinth.api#ProjectResultCategoriesList",
          "traits": {
            "smithy.api#documentation": "A list of the featured categories that the project has.",
            "smithy.api#required": {}
          }
        },
        "display_categories": {
          "target": "com.modrinth.api#ProjectResultDisplayCategoriesList",
          "traits": {
            "smithy.api#documentation": "A list of the featured categories that the project has. Equivalent to `categories` on the project itself.",
            "smithy.api#required": {}
          }
        },
        "versions": {
          "target": "com.modrinth.api#ProjectResultVersionsList",
          "traits": {
            "smithy.api#documentation": "A list of the minecraft versions supported by the project",
            "smithy.api#required": {}
          }
        },
        "downloads": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of downloads of the project",
            "smithy.api#required": {}
          }
        },
        "follows": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of users following the project",
            "smithy.api#required": {}
          }
        },
        "icon_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the project's icon",
            "smithy.api#required": {}
          }
        },
        "date_created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date the project was created",
            "smithy.api#required": {}
          }
        },
        "date_modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date the latest version of the project was created",
            "smithy.api#required": {}
          }
        },
        "latest_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the latest version of the project",
            "smithy.api#required": {}
          }
        },
        "license": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SPDX license ID of a project",
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "com.modrinth.api#ProjectResultEnvironmentList",
          "traits": {
            "smithy.api#documentation": "All the environments that versions of this project support. Not in any particular order, we recommend using the environment information on a version instead. For an explanation of each environment, see the blog post here: https://modrinth.com/news/article/new-environments/#new-system",
            "smithy.api#required": {}
          }
        },
        "disclosure_types": {
          "target": "com.modrinth.api#ProjectResultDisclosureTypesList",
          "traits": {
            "smithy.api#documentation": "Disclosures listed on the project.",
            "smithy.api#required": {}
          }
        },
        "gallery": {
          "target": "com.modrinth.api#ProjectResultGalleryList",
          "traits": {
            "smithy.api#documentation": "A list of images that have been uploaded to the project's gallery",
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug of a project, used for vanity URLs. Regex: ```^[\\w!@$()`.+,\"\\-']{3,64}$```",
            "com.distilled.openapi#nullable": {}
          }
        },
        "author_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the project's author",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the organization that owns this project",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the organization that owns this project",
            "com.distilled.openapi#nullable": {}
          }
        },
        "featured_gallery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The featured gallery image of the project",
            "com.distilled.openapi#nullable": {}
          }
        },
        "color": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The RGB color of the project, automatically generated from the project icon",
            "com.distilled.openapi#nullable": {}
          }
        },
        "client_side": {
          "target": "com.modrinth.api#ProjectResultClientSide",
          "traits": {
            "smithy.api#documentation": "Deprecated - use `environment` instead. The client side support of the project",
            "smithy.api#required": {}
          }
        },
        "server_side": {
          "target": "com.modrinth.api#ProjectResultServerSide",
          "traits": {
            "smithy.api#documentation": "Deprecated - use `environment` instead. The server side support of the project",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.modrinth.api#ProjectResultProjectType": {
      "type": "enum",
      "members": {
        "MOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mod"
          }
        },
        "MODPACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "modpack"
          }
        },
        "RESOURCEPACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resourcepack"
          }
        },
        "SHADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shader"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The project type of the project"
      }
    },
    "com.modrinth.api#ProjectResultAllProjectTypesItem": {
      "type": "enum",
      "members": {
        "MOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mod"
          }
        },
        "RESOURCEPACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resourcepack"
          }
        },
        "DATAPACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "datapack"
          }
        },
        "SHADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shader"
          }
        },
        "MODPACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "modpack"
          }
        },
        "PLUGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plugin"
          }
        }
      },
      "traits": {}
    },
    "com.modrinth.api#ProjectResultAllProjectTypesList": {
      "type": "list",
      "member": {
        "target": "com.modrinth.api#ProjectResultAllProjectTypesItem"
      },
      "traits": {
        "smithy.api#documentation": "All project types across every version of the project, unlike `project_type` which only reflects a version-specific type"
      }
    },
    "com.modrinth.api#ProjectResultCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of the featured categories that the project has."
      }
    },
    "com.modrinth.api#ProjectResultDisplayCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of the featured categories that the project has. Equivalent to `categories` on the project itself."
      }
    },
    "com.modrinth.api#ProjectResultVersionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of the minecraft versions supported by the project"
      }
    },
    "com.modrinth.api#EnvironmentEnum": {
      "type": "enum",
      "members": {
        "CLIENT_AND_SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "client_and_server"
          }
        },
        "CLIENT_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "client_only"
          }
        },
        "CLIENT_ONLY_SERVER_OPTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "client_only_server_optional"
          }
        },
        "SINGLEPLAYER_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "singleplayer_only"
          }
        },
        "SERVER_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "server_only"
          }
        },
        "SERVER_ONLY_CLIENT_OPTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "server_only_client_optional"
          }
        },
        "DEDICATED_SERVER_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dedicated_server_only"
          }
        },
        "CLIENT_OR_SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "client_or_server"
          }
        },
        "CLIENT_OR_SERVER_PREFERS_BOTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "client_or_server_prefers_both"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The environment a project or version supports. For an explanation of each environment, see the blog post here: https://modrinth.com/news/article/new-environments/#new-system"
      }
    },
    "com.modrinth.api#ProjectResultEnvironmentList": {
      "type": "list",
      "member": {
        "target": "com.modrinth.api#EnvironmentEnum"
      },
      "traits": {
        "smithy.api#documentation": "All the environments that versions of this project support. Not in any particular order, we recommend using the environment information on a version instead. For an explanation of each environment, see the blog post here: https://modrinth.com/news/article/new-environments/#new-system"
      }
    },
    "com.modrinth.api#DisclosureTypeEnum": {
      "type": "enum",
      "members": {
        "AI_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai_content"
          }
        },
        "AI_CONTENT_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai_content_code"
          }
        },
        "AI_CONTENT_ASSETS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai_content_assets"
          }
        },
        "AI_CONTENT_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai_content_text"
          }
        },
        "AI_CONTENT_FUNCTIONALITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai_content_functionality"
          }
        },
        "ADVERTISEMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "advertisements"
          }
        },
        "EPILEPSY_TRIGGERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "epilepsy_triggers"
          }
        },
        "SYSTEM_INTERACTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system_interactions"
          }
        },
        "TELEMETRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "telemetry"
          }
        },
        "TELEMETRY_OPT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "telemetry_opt_in"
          }
        },
        "TELEMETRY_OPT_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "telemetry_opt_out"
          }
        },
        "TELEMETRY_ALWAYS_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "telemetry_always_active"
          }
        },
        "DERIVATIVE_WORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "derivative_work"
          }
        },
        "PAID_FEATURES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paid_features"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "archived"
          }
        }
      },
      "traits": {}
    },
    "com.modrinth.api#ProjectResultDisclosureTypesList": {
      "type": "list",
      "member": {
        "target": "com.modrinth.api#DisclosureTypeEnum"
      },
      "traits": {
        "smithy.api#documentation": "Disclosures listed on the project."
      }
    },
    "com.modrinth.api#ProjectResultGalleryList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of images that have been uploaded to the project's gallery"
      }
    },
    "com.modrinth.api#ProjectResultClientSide": {
      "type": "enum",
      "members": {
        "REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "required"
          }
        },
        "OPTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "optional"
          }
        },
        "UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsupported"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated - use `environment` instead. The client side support of the project"
      }
    },
    "com.modrinth.api#ProjectResultServerSide": {
      "type": "enum",
      "members": {
        "REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "required"
          }
        },
        "OPTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "optional"
          }
        },
        "UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsupported"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated - use `environment` instead. The server side support of the project"
      }
    },
    "com.modrinth.api#SearchResultsHitsList": {
      "type": "list",
      "member": {
        "target": "com.modrinth.api#ProjectResult"
      },
      "traits": {
        "smithy.api#documentation": "The list of results"
      }
    },
    "com.modrinth.api#SearchProjects": {
      "type": "operation",
      "input": {
        "target": "com.modrinth.api#SearchProjectsRequest"
      },
      "output": {
        "target": "com.modrinth.api#SearchResults"
      },
      "errors": [
        {
          "target": "com.modrinth.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/search",
          "code": 200
        },
        "smithy.api#documentation": "Search projects"
      }
    },
    "com.modrinth.api#GetProjectRequest": {
      "type": "structure",
      "members": {
        "id_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID or slug of the project"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modrinth.api#Project": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the project, encoded as a base62 string",
            "smithy.api#required": {}
          }
        },
        "team": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the team that has ownership of this project",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title or name of the project",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short sentence summarizing the project, no more than a sentence or two.",
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A long form description of the project",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.modrinth.api#ProjectStatus",
          "traits": {
            "smithy.api#documentation": "The status of the project",
            "smithy.api#required": {}
          }
        },
        "project_type": {
          "target": "com.modrinth.api#ProjectProjectType",
          "traits": {
            "smithy.api#documentation": "The project type of the project",
            "smithy.api#required": {}
          }
        },
        "categories": {
          "target": "com.modrinth.api#ProjectCategoriesList",
          "traits": {
            "smithy.api#documentation": "A list of the featured categories that the project has.",
            "smithy.api#required": {}
          }
        },
        "additional_categories": {
          "target": "com.modrinth.api#ProjectAdditionalCategoriesList",
          "traits": {
            "smithy.api#documentation": "A list of additional categories that the project also has. These are supplementary to the featured categories, and does not include them again.",
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "com.modrinth.api#ProjectEnvironmentList",
          "traits": {
            "smithy.api#documentation": "All the environments that versions of this project support. Not in any particular order, we recommend using the environment information on a version instead. For an explanation of each environment, see the blog post here: https://modrinth.com/news/article/new-environments/#new-system",
            "smithy.api#required": {}
          }
        },
        "game_versions": {
          "target": "com.modrinth.api#ProjectGameVersionsList",
          "traits": {
            "smithy.api#documentation": "A list of all of the game versions supported by the project",
            "smithy.api#required": {}
          }
        },
        "loaders": {
          "target": "com.modrinth.api#ProjectLoadersList",
          "traits": {
            "smithy.api#documentation": "A list of all of the loaders supported by the project. These vary based on project type.",
            "smithy.api#required": {}
          }
        },
        "versions": {
          "target": "com.modrinth.api#ProjectVersionsList",
          "traits": {
            "smithy.api#documentation": "A list of the version IDs of the project",
            "smithy.api#required": {}
          }
        },
        "license": {
          "target": "com.modrinth.api#ProjectLicense",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "published": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date the project was created",
            "smithy.api#required": {}
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date the latest version of the project was created",
            "smithy.api#required": {}
          }
        },
        "downloads": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of downloads of the project",
            "smithy.api#required": {}
          }
        },
        "followers": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of users following the project",
            "smithy.api#required": {}
          }
        },
        "gallery": {
          "target": "com.modrinth.api#ProjectGalleryList",
          "traits": {
            "smithy.api#documentation": "A list of images that have been uploaded to the project's gallery",
            "smithy.api#required": {}
          }
        },
        "thread_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the moderation thread associated with this project",
            "smithy.api#required": {}
          }
        },
        "monetization_status": {
          "target": "com.modrinth.api#ProjectMonetizationStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug of a project, used for vanity URLs. Regex: ```^[\\w!@$()`.+,\"\\-']{3,64}$```",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the organization that owns this project",
            "com.distilled.openapi#nullable": {}
          }
        },
        "requested_status": {
          "target": "com.modrinth.api#ProjectRequestedStatus",
          "traits": {
            "smithy.api#documentation": "The requested status when submitting for review or scheduling the project for release. Approved status refers to \"Public\" visibility.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "approved": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date the project was first published",
            "com.distilled.openapi#nullable": {}
          }
        },
        "queued": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date the project's status was submitted to moderators for review",
            "com.distilled.openapi#nullable": {}
          }
        },
        "icon_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the project's icon",
            "com.distilled.openapi#nullable": {}
          }
        },
        "raw_icon_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the project's icon without CDN transforms applied",
            "com.distilled.openapi#nullable": {}
          }
        },
        "color": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The RGB color of the project, automatically generated from the project icon",
            "com.distilled.openapi#nullable": {}
          }
        },
        "issues_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional link to where to submit bugs or issues with the project",
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional link to the source code of the project",
            "com.distilled.openapi#nullable": {}
          }
        },
        "wiki_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional link to the project's wiki page or other relevant information",
            "com.distilled.openapi#nullable": {}
          }
        },
        "discord_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional invite link to the project's discord.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "donation_urls": {
          "target": "com.modrinth.api#ProjectDonationUrlsList",
          "traits": {
            "smithy.api#documentation": "A list of donation links for the project",
            "com.distilled.openapi#nullable": {}
          }
        },
        "client_side": {
          "target": "com.modrinth.api#ProjectClientSide",
          "traits": {
            "smithy.api#documentation": "Deprecated - use `environment` instead.",
            "smithy.api#required": {}
          }
        },
        "server_side": {
          "target": "com.modrinth.api#ProjectServerSide",
          "traits": {
            "smithy.api#documentation": "Deprecated - use `environment` instead.",
            "smithy.api#required": {}
          }
        },
        "body_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated - The link to the long description of the project. Always null, only kept for legacy compatibility.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "moderator_message": {
          "target": "com.modrinth.api#ModeratorMessage",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.modrinth.api#ProjectStatus": {
      "type": "enum",
      "members": {
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "archived"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        },
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "draft"
          }
        },
        "UNLISTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unlisted"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "processing"
          }
        },
        "WITHHELD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "withheld"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scheduled"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the project"
      }
    },
    "com.modrinth.api#ProjectProjectType": {
      "type": "enum",
      "members": {
        "MOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mod"
          }
        },
        "MODPACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "modpack"
          }
        },
        "RESOURCEPACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resourcepack"
          }
        },
        "SHADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shader"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The project type of the project"
      }
    },
    "com.modrinth.api#ProjectCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of the featured categories that the project has."
      }
    },
    "com.modrinth.api#ProjectAdditionalCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of additional categories that the project also has. These are supplementary to the featured categories, and does not include them again."
      }
    },
    "com.modrinth.api#ProjectEnvironmentList": {
      "type": "list",
      "member": {
        "target": "com.modrinth.api#EnvironmentEnum"
      },
      "traits": {
        "smithy.api#documentation": "All the environments that versions of this project support. Not in any particular order, we recommend using the environment information on a version instead. For an explanation of each environment, see the blog post here: https://modrinth.com/news/article/new-environments/#new-system"
      }
    },
    "com.modrinth.api#ProjectGameVersionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of all of the game versions supported by the project"
      }
    },
    "com.modrinth.api#ProjectLoadersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of all of the loaders supported by the project. These vary based on project type."
      }
    },
    "com.modrinth.api#ProjectVersionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of the version IDs of the project"
      }
    },
    "com.modrinth.api#ProjectLicense": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SPDX license ID of a project"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The long name of a license"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to this license",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The license of the project"
      }
    },
    "com.modrinth.api#GalleryImage": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the gallery image",
            "smithy.api#required": {}
          }
        },
        "featured": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the image is featured in the gallery",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title of the gallery image",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the gallery image",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the gallery image was created",
            "smithy.api#required": {}
          }
        },
        "ordering": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The order of the gallery image. Gallery images are sorted by this field and then alphabetically by title."
          }
        }
      },
      "traits": {}
    },
    "com.modrinth.api#ProjectGalleryList": {
      "type": "list",
      "member": {
        "target": "com.modrinth.api#GalleryImage"
      },
      "traits": {
        "smithy.api#documentation": "A list of images that have been uploaded to the project's gallery"
      }
    },
    "com.modrinth.api#ProjectMonetizationStatus": {
      "type": "enum",
      "members": {
        "MONETIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "monetized"
          }
        },
        "DEMONETIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "demonetized"
          }
        },
        "FORCE_DEMONETIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "force-demonetized"
          }
        }
      },
      "traits": {}
    },
    "com.modrinth.api#ProjectRequestedStatus": {
      "type": "enum",
      "members": {
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "archived"
          }
        },
        "UNLISTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unlisted"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        },
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "draft"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The requested status when submitting for review or scheduling the project for release. Approved status refers to \"Public\" visibility."
      }
    },
    "com.modrinth.api#ProjectDonationURL": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the donation platform"
          }
        },
        "platform": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The donation platform this link is to"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the donation platform and user"
          }
        }
      },
      "traits": {}
    },
    "com.modrinth.api#ProjectDonationUrlsList": {
      "type": "list",
      "member": {
        "target": "com.modrinth.api#ProjectDonationURL"
      },
      "traits": {
        "smithy.api#documentation": "A list of donation links for the project"
      }
    },
    "com.modrinth.api#ProjectClientSide": {
      "type": "enum",
      "members": {
        "REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "required"
          }
        },
        "OPTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "optional"
          }
        },
        "UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsupported"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated - use `environment` instead."
      }
    },
    "com.modrinth.api#ProjectServerSide": {
      "type": "enum",
      "members": {
        "REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "required"
          }
        },
        "OPTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "optional"
          }
        },
        "UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsupported"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated - use `environment` instead."
      }
    },
    "com.modrinth.api#ModeratorMessage": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The message that a moderator has left for the project"
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The longer body of the message that a moderator has left for the project",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated - A message that a moderator sent regarding the project"
      }
    },
    "com.modrinth.api#GetProject": {
      "type": "operation",
      "input": {
        "target": "com.modrinth.api#GetProjectRequest"
      },
      "output": {
        "target": "com.modrinth.api#Project"
      },
      "errors": [
        {
          "target": "com.modrinth.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/project/{id_slug}",
          "code": 200
        },
        "smithy.api#documentation": "Get a project"
      }
    },
    "com.modrinth.api#ModifyProjectRequestCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of the featured categories that the project has."
      }
    },
    "com.modrinth.api#ModifyProjectRequestAdditionalCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of additional categories that the project also has. These are supplementary to the featured categories, and does not include them again."
      }
    },
    "com.modrinth.api#ModifyProjectRequestStatus": {
      "type": "enum",
      "members": {
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "archived"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        },
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "draft"
          }
        },
        "UNLISTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unlisted"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "processing"
          }
        },
        "WITHHELD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "withheld"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scheduled"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the project"
      }
    },
    "com.modrinth.api#ModifyProjectRequestRequestedStatus": {
      "type": "enum",
      "members": {
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "archived"
          }
        },
        "UNLISTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unlisted"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        },
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "draft"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The requested status when submitting for review or scheduling the project for release. Approved status refers to \"Public\" visibility."
      }
    },
    "com.modrinth.api#ModifyProjectRequestDonationUrlsList": {
      "type": "list",
      "member": {
        "target": "com.modrinth.api#ProjectDonationURL"
      },
      "traits": {
        "smithy.api#documentation": "A list of donation links for the project"
      }
    },
    "com.modrinth.api#ModifyProjectRequestClientSide": {
      "type": "enum",
      "members": {
        "REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "required"
          }
        },
        "OPTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "optional"
          }
        },
        "UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsupported"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated - use `environment` instead."
      }
    },
    "com.modrinth.api#ModifyProjectRequestServerSide": {
      "type": "enum",
      "members": {
        "REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "required"
          }
        },
        "OPTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "optional"
          }
        },
        "UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsupported"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated - use `environment` instead."
      }
    },
    "com.modrinth.api#ModifyProjectRequest": {
      "type": "structure",
      "members": {
        "id_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID or slug of the project"
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug of a project, used for vanity URLs. Regex: ```^[\\w!@$()`.+,\"\\-']{3,64}$```"
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title or name of the project"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short sentence summarizing the project, no more than a sentence or two."
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A long form description of the project"
          }
        },
        "categories": {
          "target": "com.modrinth.api#ModifyProjectRequestCategoriesList",
          "traits": {
            "smithy.api#documentation": "A list of the featured categories that the project has."
          }
        },
        "additional_categories": {
          "target": "com.modrinth.api#ModifyProjectRequestAdditionalCategoriesList",
          "traits": {
            "smithy.api#documentation": "A list of additional categories that the project also has. These are supplementary to the featured categories, and does not include them again."
          }
        },
        "status": {
          "target": "com.modrinth.api#ModifyProjectRequestStatus",
          "traits": {
            "smithy.api#documentation": "The status of the project"
          }
        },
        "requested_status": {
          "target": "com.modrinth.api#ModifyProjectRequestRequestedStatus",
          "traits": {
            "smithy.api#documentation": "The requested status when submitting for review or scheduling the project for release. Approved status refers to \"Public\" visibility.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "issues_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional link to where to submit bugs or issues with the project",
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional link to the source code of the project",
            "com.distilled.openapi#nullable": {}
          }
        },
        "wiki_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional link to the project's wiki page or other relevant information",
            "com.distilled.openapi#nullable": {}
          }
        },
        "discord_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional invite link to the project's discord.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "donation_urls": {
          "target": "com.modrinth.api#ModifyProjectRequestDonationUrlsList",
          "traits": {
            "smithy.api#documentation": "A list of donation links for the project"
          }
        },
        "client_side": {
          "target": "com.modrinth.api#ModifyProjectRequestClientSide",
          "traits": {
            "smithy.api#documentation": "Deprecated - use `environment` instead."
          }
        },
        "server_side": {
          "target": "com.modrinth.api#ModifyProjectRequestServerSide",
          "traits": {
            "smithy.api#documentation": "Deprecated - use `environment` instead."
          }
        },
        "license_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SPDX license ID of a project"
          }
        },
        "license_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to this license",
            "com.distilled.openapi#nullable": {}
          }
        },
        "moderation_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title of the moderators' message for the project",
            "com.distilled.openapi#nullable": {}
          }
        },
        "moderation_message_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The body of the moderators' message for the project",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modrinth.api#ModifyProject": {
      "type": "operation",
      "input": {
        "target": "com.modrinth.api#ModifyProjectRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.modrinth.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/project/{id_slug}",
          "code": 200
        },
        "smithy.api#documentation": "Modify a project"
      }
    },
    "com.modrinth.api#DeleteProjectRequest": {
      "type": "structure",
      "members": {
        "id_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID or slug of the project"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modrinth.api#DeleteProject": {
      "type": "operation",
      "input": {
        "target": "com.modrinth.api#DeleteProjectRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.modrinth.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/project/{id_slug}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a project"
      }
    },
    "com.modrinth.api#GetProjectsRequest": {
      "type": "structure",
      "members": {
        "ids": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "ids",
            "smithy.api#required": {},
            "smithy.api#documentation": "The IDs and/or slugs of the projects"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modrinth.api#GetProjectsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.modrinth.api#Project"
      },
      "traits": {}
    },
    "com.modrinth.api#GetProjectsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.modrinth.api#GetProjectsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modrinth.api#GetProjects": {
      "type": "operation",
      "input": {
        "target": "com.modrinth.api#GetProjectsRequest"
      },
      "output": {
        "target": "com.modrinth.api#GetProjectsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/projects",
          "code": 200
        },
        "smithy.api#documentation": "Get multiple projects"
      }
    },
    "com.modrinth.api#PatchProjectsRequestCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Set all of the categories to the categories specified here"
      }
    },
    "com.modrinth.api#PatchProjectsRequestAddCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Add all of the categories specified here"
      }
    },
    "com.modrinth.api#PatchProjectsRequestRemoveCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Remove all of the categories specified here"
      }
    },
    "com.modrinth.api#PatchProjectsRequestAdditionalCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Set all of the additional categories to the categories specified here"
      }
    },
    "com.modrinth.api#PatchProjectsRequestAddAdditionalCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Add all of the additional categories specified here"
      }
    },
    "com.modrinth.api#PatchProjectsRequestRemoveAdditionalCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Remove all of the additional categories specified here"
      }
    },
    "com.modrinth.api#PatchProjectsRequestDonationUrlsList": {
      "type": "list",
      "member": {
        "target": "com.modrinth.api#ProjectDonationURL"
      },
      "traits": {
        "smithy.api#documentation": "Set all of the donation links to the donation links specified here"
      }
    },
    "com.modrinth.api#PatchProjectsRequestAddDonationUrlsList": {
      "type": "list",
      "member": {
        "target": "com.modrinth.api#ProjectDonationURL"
      },
      "traits": {
        "smithy.api#documentation": "Add all of the donation links specified here"
      }
    },
    "com.modrinth.api#PatchProjectsRequestRemoveDonationUrlsList": {
      "type": "list",
      "member": {
        "target": "com.modrinth.api#ProjectDonationURL"
      },
      "traits": {
        "smithy.api#documentation": "Remove all of the donation links specified here"
      }
    },
    "com.modrinth.api#PatchProjectsRequest": {
      "type": "structure",
      "members": {
        "ids": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "ids",
            "smithy.api#required": {},
            "smithy.api#documentation": "The IDs and/or slugs of the projects"
          }
        },
        "categories": {
          "target": "com.modrinth.api#PatchProjectsRequestCategoriesList",
          "traits": {
            "smithy.api#documentation": "Set all of the categories to the categories specified here"
          }
        },
        "add_categories": {
          "target": "com.modrinth.api#PatchProjectsRequestAddCategoriesList",
          "traits": {
            "smithy.api#documentation": "Add all of the categories specified here"
          }
        },
        "remove_categories": {
          "target": "com.modrinth.api#PatchProjectsRequestRemoveCategoriesList",
          "traits": {
            "smithy.api#documentation": "Remove all of the categories specified here"
          }
        },
        "additional_categories": {
          "target": "com.modrinth.api#PatchProjectsRequestAdditionalCategoriesList",
          "traits": {
            "smithy.api#documentation": "Set all of the additional categories to the categories specified here"
          }
        },
        "add_additional_categories": {
          "target": "com.modrinth.api#PatchProjectsRequestAddAdditionalCategoriesList",
          "traits": {
            "smithy.api#documentation": "Add all of the additional categories specified here"
          }
        },
        "remove_additional_categories": {
          "target": "com.modrinth.api#PatchProjectsRequestRemoveAdditionalCategoriesList",
          "traits": {
            "smithy.api#documentation": "Remove all of the additional categories specified here"
          }
        },
        "donation_urls": {
          "target": "com.modrinth.api#PatchProjectsRequestDonationUrlsList",
          "traits": {
            "smithy.api#documentation": "Set all of the donation links to the donation links specified here"
          }
        },
        "add_donation_urls": {
          "target": "com.modrinth.api#PatchProjectsRequestAddDonationUrlsList",
          "traits": {
            "smithy.api#documentation": "Add all of the donation links specified here"
          }
        },
        "remove_donation_urls": {
          "target": "com.modrinth.api#PatchProjectsRequestRemoveDonationUrlsList",
          "traits": {
            "smithy.api#documentation": "Remove all of the donation links specified here"
          }
        },
        "issues_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional link to where to submit bugs or issues with the projects",
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional link to the source code of the projects",
            "com.distilled.openapi#nullable": {}
          }
        },
        "wiki_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional link to the projects' wiki page or other relevant information",
            "com.distilled.openapi#nullable": {}
          }
        },
        "discord_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional invite link to the projects' discord",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modrinth.api#PatchProjects": {
      "type": "operation",
      "input": {
        "target": "com.modrinth.api#PatchProjectsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.modrinth.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/projects",
          "code": 200
        },
        "smithy.api#documentation": "Bulk-edit multiple projects"
      }
    },
    "com.modrinth.api#RandomProjectsRequest": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "count",
            "smithy.api#required": {},
            "smithy.api#documentation": "The number of random projects to return"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modrinth.api#RandomProjectsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.modrinth.api#Project"
      },
      "traits": {}
    },
    "com.modrinth.api#RandomProjectsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.modrinth.api#RandomProjectsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modrinth.api#RandomProjects": {
      "type": "operation",
      "input": {
        "target": "com.modrinth.api#RandomProjectsRequest"
      },
      "output": {
        "target": "com.modrinth.api#RandomProjectsResponse"
      },
      "errors": [
        {
          "target": "com.modrinth.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/projects_random",
          "code": 200
        },
        "smithy.api#documentation": "Get a list of random projects"
      }
    },
    "com.modrinth.api#CreatableProject": {
      "type": "structure",
      "members": {
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug of a project, used for vanity URLs. Regex: ```^[\\w!@$()`.+,\"\\-']{3,64}$```",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title or name of the project",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short sentence summarizing the project, no more than a sentence or two.",
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A long form description of the project",
            "smithy.api#required": {}
          }
        },
        "categories": {
          "target": "com.modrinth.api#CreatableProjectCategoriesList",
          "traits": {
            "smithy.api#documentation": "A list of the featured categories that the project has.",
            "smithy.api#required": {}
          }
        },
        "additional_categories": {
          "target": "com.modrinth.api#CreatableProjectAdditionalCategoriesList",
          "traits": {
            "smithy.api#documentation": "A list of additional categories that the project also has. These are supplementary to the featured categories, and does not include them again."
          }
        },
        "status": {
          "target": "com.modrinth.api#CreatableProjectStatus",
          "traits": {
            "smithy.api#documentation": "The status of the project"
          }
        },
        "requested_status": {
          "target": "com.modrinth.api#CreatableProjectRequestedStatus",
          "traits": {
            "smithy.api#documentation": "The requested status when submitting for review or scheduling the project for release. Approved status refers to \"Public\" visibility.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "issues_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional link to where to submit bugs or issues with the project",
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional link to the source code of the project",
            "com.distilled.openapi#nullable": {}
          }
        },
        "wiki_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional link to the project's wiki page or other relevant information",
            "com.distilled.openapi#nullable": {}
          }
        },
        "discord_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional invite link to the project's discord.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "donation_urls": {
          "target": "com.modrinth.api#CreatableProjectDonationUrlsList",
          "traits": {
            "smithy.api#documentation": "A list of donation links for the project"
          }
        },
        "client_side": {
          "target": "com.modrinth.api#CreatableProjectClientSide",
          "traits": {
            "smithy.api#documentation": "Deprecated - use `environment` instead.",
            "smithy.api#required": {}
          }
        },
        "server_side": {
          "target": "com.modrinth.api#CreatableProjectServerSide",
          "traits": {
            "smithy.api#documentation": "Deprecated - use `environment` instead.",
            "smithy.api#required": {}
          }
        },
        "license_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SPDX license ID of a project",
            "smithy.api#required": {}
          }
        },
        "license_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to this license",
            "com.distilled.openapi#nullable": {}
          }
        },
        "project_type": {
          "target": "com.modrinth.api#CreatableProjectProjectType",
          "traits": {
            "smithy.api#documentation": "The project type of the project",
            "smithy.api#required": {}
          }
        },
        "initial_versions": {
          "target": "com.modrinth.api#CreatableProjectInitialVersionsList",
          "traits": {
            "smithy.api#documentation": "A list of initial versions to upload with the created project. Deprecated - please upload version files after initial upload."
          }
        },
        "is_draft": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the project should be saved as a draft instead of being sent to moderation for review. Deprecated - please always mark this as true."
          }
        },
        "gallery_items": {
          "target": "com.modrinth.api#CreatableProjectGalleryItemsList",
          "traits": {
            "smithy.api#documentation": "Gallery images to be uploaded with the created project. Deprecated - please upload gallery images after initial upload."
          }
        }
      },
      "traits": {}
    },
    "com.modrinth.api#CreatableProjectCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of the featured categories that the project has."
      }
    },
    "com.modrinth.api#CreatableProjectAdditionalCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of additional categories that the project also has. These are supplementary to the featured categories, and does not include them again."
      }
    },
    "com.modrinth.api#CreatableProjectStatus": {
      "type": "enum",
      "members": {
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "archived"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        },
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "draft"
          }
        },
        "UNLISTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unlisted"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "processing"
          }
        },
        "WITHHELD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "withheld"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scheduled"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the project"
      }
    },
    "com.modrinth.api#CreatableProjectRequestedStatus": {
      "type": "enum",
      "members": {
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "archived"
          }
        },
        "UNLISTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unlisted"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        },
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "draft"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The requested status when submitting for review or scheduling the project for release. Approved status refers to \"Public\" visibility."
      }
    },
    "com.modrinth.api#CreatableProjectDonationUrlsList": {
      "type": "list",
      "member": {
        "target": "com.modrinth.api#ProjectDonationURL"
      },
      "traits": {
        "smithy.api#documentation": "A list of donation links for the project"
      }
    },
    "com.modrinth.api#CreatableProjectClientSide": {
      "type": "enum",
      "members": {
        "REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "required"
          }
        },
        "OPTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "optional"
          }
        },
        "UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsupported"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated - use `environment` instead."
      }
    },
    "com.modrinth.api#CreatableProjectServerSide": {
      "type": "enum",
      "members": {
        "REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "required"
          }
        },
        "OPTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "optional"
          }
        },
        "UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsupported"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated - use `environment` instead."
      }
    },
    "com.modrinth.api#CreatableProjectProjectType": {
      "type": "enum",
      "members": {
        "MOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mod"
          }
        },
        "MODPACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "modpack"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The project type of the project"
      }
    },
    "com.modrinth.api#EditableVersion": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of this version"
          }
        },
        "version_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version number. Ideally will follow semantic versioning"
          }
        },
        "changelog": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The changelog for this version",
            "com.distilled.openapi#nullable": {}
          }
        },
        "dependencies": {
          "target": "com.modrinth.api#EditableVersionDependenciesList",
          "traits": {
            "smithy.api#documentation": "A list of specific versions of projects that this version depends on"
          }
        },
        "game_versions": {
          "target": "com.modrinth.api#EditableVersionGameVersionsList",
          "traits": {
            "smithy.api#documentation": "A list of versions of Minecraft that this version supports"
          }
        },
        "version_type": {
          "target": "com.modrinth.api#EditableVersionVersionType",
          "traits": {
            "smithy.api#documentation": "The release channel for this version"
          }
        },
        "loaders": {
          "target": "com.modrinth.api#EditableVersionLoadersList",
          "traits": {
            "smithy.api#documentation": "The mod loaders that this version supports. In case of resource packs, use \"minecraft\""
          }
        },
        "featured": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the version is featured or not"
          }
        },
        "status": {
          "target": "com.modrinth.api#EditableVersionStatus"
        },
        "requested_status": {
          "target": "com.modrinth.api#EditableVersionRequestedStatus",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "primary_file": {
          "target": "com.modrinth.api#EditableVersionPrimaryFileList",
          "traits": {
            "smithy.api#documentation": "The hash format and the hash of the new primary file"
          }
        },
        "file_types": {
          "target": "com.modrinth.api#EditableVersionFileTypesList",
          "traits": {
            "smithy.api#documentation": "A list of file_types to edit"
          }
        }
      },
      "traits": {}
    },
    "com.modrinth.api#VersionDependency": {
      "type": "structure",
      "members": {
        "version_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the version that this version depends on",
            "com.distilled.openapi#nullable": {}
          }
        },
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the project that this version depends on",
            "com.distilled.openapi#nullable": {}
          }
        },
        "file_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The file name of the dependency, mostly used for showing external dependencies on modpacks",
            "com.distilled.openapi#nullable": {}
          }
        },
        "dependency_type": {
          "target": "com.modrinth.api#VersionDependencyDependencyType",
          "traits": {
            "smithy.api#documentation": "The type of dependency that this version has",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.modrinth.api#VersionDependencyDependencyType": {
      "type": "enum",
      "members": {
        "REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "required"
          }
        },
        "OPTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "optional"
          }
        },
        "INCOMPATIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "incompatible"
          }
        },
        "EMBEDDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "embedded"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of dependency that this version has"
      }
    },
    "com.modrinth.api#EditableVersionDependenciesList": {
      "type": "list",
      "member": {
        "target": "com.modrinth.api#VersionDependency"
      },
      "traits": {
        "smithy.api#documentation": "A list of specific versions of projects that this version depends on"
      }
    },
    "com.modrinth.api#EditableVersionGameVersionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of versions of Minecraft that this version supports"
      }
    },
    "com.modrinth.api#EditableVersionVersionType": {
      "type": "enum",
      "members": {
        "RELEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "release"
          }
        },
        "BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "beta"
          }
        },
        "ALPHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alpha"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The release channel for this version"
      }
    },
    "com.modrinth.api#EditableVersionLoadersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The mod loaders that this version supports. In case of resource packs, use \"minecraft\""
      }
    },
    "com.modrinth.api#EditableVersionStatus": {
      "type": "enum",
      "members": {
        "LISTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "listed"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "archived"
          }
        },
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "draft"
          }
        },
        "UNLISTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unlisted"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scheduled"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {}
    },
    "com.modrinth.api#EditableVersionRequestedStatus": {
      "type": "enum",
      "members": {
        "LISTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "listed"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "archived"
          }
        },
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "draft"
          }
        },
        "UNLISTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unlisted"
          }
        }
      },
      "traits": {}
    },
    "com.modrinth.api#EditableVersionPrimaryFileList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The hash format and the hash of the new primary file"
      }
    },
    "com.modrinth.api#EditableFileType": {
      "type": "structure",
      "members": {
        "algorithm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hash algorithm of the hash specified in the hash field",
            "smithy.api#required": {}
          }
        },
        "hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hash of the file you're editing",
            "smithy.api#required": {}
          }
        },
        "file_type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.modrinth.api#EditableVersionFileTypesList": {
      "type": "list",
      "member": {
        "target": "com.modrinth.api#EditableFileType"
      },
      "traits": {
        "smithy.api#documentation": "A list of file_types to edit"
      }
    },
    "com.modrinth.api#CreatableProjectInitialVersionsList": {
      "type": "list",
      "member": {
        "target": "com.modrinth.api#EditableVersion"
      },
      "traits": {
        "smithy.api#documentation": "A list of initial versions to upload with the created project. Deprecated - please upload version files after initial upload."
      }
    },
    "com.modrinth.api#CreatableProjectGalleryItem": {
      "type": "structure",
      "members": {
        "item": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the multipart item where the gallery media is located"
          }
        },
        "featured": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the image is featured in the gallery"
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title of the gallery image",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the gallery image",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ordering": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The order of the gallery image. Gallery images are sorted by this field and then alphabetically by title."
          }
        }
      },
      "traits": {}
    },
    "com.modrinth.api#CreatableProjectGalleryItemsList": {
      "type": "list",
      "member": {
        "target": "com.modrinth.api#CreatableProjectGalleryItem"
      },
      "traits": {
        "smithy.api#documentation": "Gallery images to be uploaded with the created project. Deprecated - please upload gallery images after initial upload."
      }
    },
    "com.modrinth.api#CreateProjectRequestIcon": {
      "type": "enum",
      "members": {
        "PNG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "*.png"
          }
        },
        "JPG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "*.jpg"
          }
        },
        "JPEG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "*.jpeg"
          }
        },
        "BMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "*.bmp"
          }
        },
        "GIF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "*.gif"
          }
        },
        "WEBP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "*.webp"
          }
        },
        "SVG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "*.svg"
          }
        },
        "SVGZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "*.svgz"
          }
        },
        "RGB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "*.rgb"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Project icon file"
      }
    },
    "com.modrinth.api#CreateProjectRequest": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.modrinth.api#CreatableProject",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "icon": {
          "target": "com.modrinth.api#CreateProjectRequestIcon",
          "traits": {
            "smithy.api#documentation": "Project icon file"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modrinth.api#CreateProject": {
      "type": "operation",
      "input": {
        "target": "com.modrinth.api#CreateProjectRequest"
      },
      "output": {
        "target": "com.modrinth.api#Project"
      },
      "errors": [
        {
          "target": "com.modrinth.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/project",
          "code": 200,
          "contentType": "multipart"
        },
        "smithy.api#documentation": "Create a project",
        "com.distilled.openapi#contentType": "multipart"
      }
    },
    "com.modrinth.api#ChangeProjectIconRequestExt": {
      "type": "enum",
      "members": {
        "PNG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "png"
          }
        },
        "JPG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jpg"
          }
        },
        "JPEG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jpeg"
          }
        },
        "BMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bmp"
          }
        },
        "GIF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gif"
          }
        },
        "WEBP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webp"
          }
        },
        "SVG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "svg"
          }
        },
        "SVGZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "svgz"
          }
        },
        "RGB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rgb"
          }
        }
      },
      "traits": {}
    },
    "com.modrinth.api#ChangeProjectIconRequest": {
      "type": "structure",
      "members": {
        "id_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID or slug of the project"
          }
        },
        "ext": {
          "target": "com.modrinth.api#ChangeProjectIconRequestExt",
          "traits": {
            "smithy.api#httpQuery": "ext",
            "smithy.api#required": {},
            "smithy.api#documentation": "Image extension"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modrinth.api#ChangeProjectIcon": {
      "type": "operation",
      "input": {
        "target": "com.modrinth.api#ChangeProjectIconRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.modrinth.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/project/{id_slug}/icon",
          "code": 200
        },
        "smithy.api#documentation": "Change project's icon\n\nThe new icon may be up to 256KiB in size."
      }
    },
    "com.modrinth.api#DeleteProjectIconRequest": {
      "type": "structure",
      "members": {
        "id_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID or slug of the project"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modrinth.api#DeleteProjectIcon": {
      "type": "operation",
      "input": {
        "target": "com.modrinth.api#DeleteProjectIconRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.modrinth.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/project/{id_slug}/icon",
          "code": 200
        },
        "smithy.api#documentation": "Delete project's icon"
      }
    },
    "com.modrinth.api#CheckProjectValidityRequest": {
      "type": "structure",
      "members": {
        "id_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID or slug of the project"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modrinth.api#ProjectIdentifier": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.modrinth.api#CheckProjectValidity": {
      "type": "operation",
      "input": {
        "target": "com.modrinth.api#CheckProjectValidityRequest"
      },
      "output": {
        "target": "com.modrinth.api#ProjectIdentifier"
      },
      "errors": [
        {
          "target": "com.modrinth.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/project/{id_slug}/check",
          "code": 200
        },
        "smithy.api#documentation": "Check project slug/ID validity"
      }
    },
    "com.modrinth.api#AddGalleryImageRequestExt": {
      "type": "enum",
      "members": {
        "PNG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "png"
          }
        },
        "JPG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jpg"
          }
        },
        "JPEG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jpeg"
          }
        },
        "BMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bmp"
          }
        },
        "GIF": {
[...]
