{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.trigger.dev.api#ListSchedulesV1Request": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page number of the schedule listing"
          }
        },
        "perPage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "perPage",
            "smithy.api#documentation": "Number of schedules per page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.trigger.dev.api#ListSchedulesResult": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.trigger.dev.api#ListSchedulesResultDataList"
        },
        "pagination": {
          "target": "com.trigger.dev.api#ListSchedulesResultPagination"
        }
      },
      "traits": {}
    },
    "com.trigger.dev.api#ScheduleObject": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the schedule, prefixed with 'sched_'"
          }
        },
        "task": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the scheduled task that will be triggered by this schedule"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of schedule, `DECLARATIVE` or `IMPERATIVE`. Declarative schedules are declared in your code by setting the `cron` property on a `schedules.task`. Imperative schedules are created in the dashboard or by using the imperative SDK functions like `schedules.create()`."
          }
        },
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the schedule is active or not"
          }
        },
        "deduplicationKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The deduplication key used to prevent creating duplicate schedules"
          }
        },
        "externalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The external ID of the schedule. Can be anything that is useful to you (e.g., user ID, org ID, etc.)"
          }
        },
        "generator": {
          "target": "com.trigger.dev.api#ScheduleObjectGenerator"
        },
        "timezone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defaults to UTC. In IANA format, if set then it will trigger at the CRON frequency in that timezone and respect daylight savings time."
          }
        },
        "nextRun": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next time the schedule will run"
          }
        },
        "environments": {
          "target": "com.trigger.dev.api#ScheduleObjectEnvironmentsList"
        }
      },
      "traits": {}
    },
    "com.trigger.dev.api#ScheduleObjectGeneratorType": {
      "type": "enum",
      "members": {
        "CRON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRON"
          }
        }
      },
      "traits": {}
    },
    "com.trigger.dev.api#ScheduleObjectGenerator": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.trigger.dev.api#ScheduleObjectGeneratorType"
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cron expression used to generate the schedule"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the generator in plain english"
          }
        }
      },
      "traits": {}
    },
    "com.trigger.dev.api#ScheduleEnvironment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "userName": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.trigger.dev.api#ScheduleObjectEnvironmentsList": {
      "type": "list",
      "member": {
        "target": "com.trigger.dev.api#ScheduleEnvironment"
      },
      "traits": {}
    },
    "com.trigger.dev.api#ListSchedulesResultDataList": {
      "type": "list",
      "member": {
        "target": "com.trigger.dev.api#ScheduleObject"
      },
      "traits": {}
    },
    "com.trigger.dev.api#ListSchedulesResultPagination": {
      "type": "structure",
      "members": {
        "currentPage": {
          "target": "smithy.api#Integer"
        },
        "totalPages": {
          "target": "smithy.api#Integer"
        },
        "count": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.trigger.dev.api#ListSchedulesV1": {
      "type": "operation",
      "input": {
        "target": "com.trigger.dev.api#ListSchedulesV1Request"
      },
      "output": {
        "target": "com.trigger.dev.api#ListSchedulesResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/schedules",
          "code": 200
        },
        "smithy.api#documentation": "List all schedules\n\nList all schedules. You can also paginate the results."
      }
    },
    "com.trigger.dev.api#CreateScheduleV1Request": {
      "type": "structure",
      "members": {
        "task": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cron": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deduplicationKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "externalId": {
          "target": "smithy.api#String"
        },
        "timezone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defaults to \"UTC\". In IANA format (\"America/New_York\"). If set then it will trigger at the CRON frequency in that timezone and respect daylight savings time."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.trigger.dev.api#CreateScheduleV1": {
      "type": "operation",
      "input": {
        "target": "com.trigger.dev.api#CreateScheduleV1Request"
      },
      "output": {
        "target": "com.trigger.dev.api#ScheduleObject"
      },
      "errors": [
        {
          "target": "com.trigger.dev.api#BadRequest"
        },
        {
          "target": "com.trigger.dev.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/schedules",
          "code": 200
        },
        "smithy.api#documentation": "Create a schedule\n\nCreate a new `IMPERATIVE` schedule based on the specified options."
      }
    },
    "com.trigger.dev.api#GetScheduleV1Request": {
      "type": "structure",
      "members": {
        "schedule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the schedule."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.trigger.dev.api#GetScheduleV1": {
      "type": "operation",
      "input": {
        "target": "com.trigger.dev.api#GetScheduleV1Request"
      },
      "output": {
        "target": "com.trigger.dev.api#ScheduleObject"
      },
      "errors": [
        {
          "target": "com.trigger.dev.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/schedules/{schedule_id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve Schedule\n\nGet a schedule by its ID."
      }
    },
    "com.trigger.dev.api#UpdateScheduleV1Request": {
      "type": "structure",
      "members": {
        "schedule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the schedule."
          }
        },
        "task": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cron": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "externalId": {
          "target": "smithy.api#String"
        },
        "timezone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defaults to \"UTC\". In IANA format (\"America/New_York\"). If set then it will trigger at the CRON frequency in that timezone and respect daylight savings time."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.trigger.dev.api#UpdateScheduleV1": {
      "type": "operation",
      "input": {
        "target": "com.trigger.dev.api#UpdateScheduleV1Request"
      },
      "output": {
        "target": "com.trigger.dev.api#ScheduleObject"
      },
      "errors": [
        {
          "target": "com.trigger.dev.api#BadRequest"
        },
        {
          "target": "com.trigger.dev.api#NotFound"
        },
        {
          "target": "com.trigger.dev.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/v1/schedules/{schedule_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update Schedule\n\nUpdate a schedule by its ID. This will only work on `IMPERATIVE` schedules that were created in the dashboard or using the imperative SDK functions like `schedules.create()`."
      }
    },
    "com.trigger.dev.api#DeleteScheduleV1Request": {
      "type": "structure",
      "members": {
        "schedule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the schedule."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.trigger.dev.api#DeleteScheduleV1": {
      "type": "operation",
      "input": {
        "target": "com.trigger.dev.api#DeleteScheduleV1Request"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.trigger.dev.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/schedules/{schedule_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete Schedule\n\nDelete a schedule by its ID. This will only work on `IMPERATIVE` schedules that were created in the dashboard or using the imperative SDK functions like `schedules.create()`."
      }
    },
    "com.trigger.dev.api#DeactivateScheduleV1Request": {
      "type": "structure",
      "members": {
        "schedule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the schedule."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.trigger.dev.api#DeactivateScheduleV1": {
      "type": "operation",
      "input": {
        "target": "com.trigger.dev.api#DeactivateScheduleV1Request"
      },
      "output": {
        "target": "com.trigger.dev.api#ScheduleObject"
      },
      "errors": [
        {
          "target": "com.trigger.dev.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/schedules/{schedule_id}/deactivate",
          "code": 200
        },
        "smithy.api#documentation": "Deactivate Schedule.\n\nDeactivate a schedule by its ID. This will only work on `IMPERATIVE` schedules that were created in the dashboard or using the imperative SDK functions like `schedules.create()`."
      }
    },
    "com.trigger.dev.api#ActivateScheduleV1Request": {
      "type": "structure",
      "members": {
        "schedule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the schedule."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.trigger.dev.api#ActivateScheduleV1": {
      "type": "operation",
      "input": {
        "target": "com.trigger.dev.api#ActivateScheduleV1Request"
      },
      "output": {
        "target": "com.trigger.dev.api#ScheduleObject"
      },
      "errors": [
        {
          "target": "com.trigger.dev.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/schedules/{schedule_id}/activate",
          "code": 200
        },
        "smithy.api#documentation": "Activate Schedule\n\nActivate a schedule by its ID. This will only work on `IMPERATIVE` schedules that were created in the dashboard or using the imperative SDK functions like `schedules.create()`."
      }
    },
    "com.trigger.dev.api#GetTimezonesV1Request": {
      "type": "structure",
      "members": {
        "excludeUtc": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "excludeUtc",
            "smithy.api#documentation": "Defaults to false. Whether to include UTC in the results or not."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.trigger.dev.api#GetTimezonesResult": {
      "type": "structure",
      "members": {
        "timezones": {
          "target": "com.trigger.dev.api#GetTimezonesResultTimezonesList"
        }
      },
      "traits": {}
    },
    "com.trigger.dev.api#GetTimezonesResultTimezonesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.trigger.dev.api#GetTimezonesV1": {
      "type": "operation",
      "input": {
        "target": "com.trigger.dev.api#GetTimezonesV1Request"
      },
      "output": {
        "target": "com.trigger.dev.api#GetTimezonesResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/timezones",
          "code": 200
        },
        "smithy.api#documentation": "Get all supported timezones\n\nGet all supported timezones that schedule tasks support."
      }
    },
    "com.trigger.dev.api#ReplayRunV1Request": {
      "type": "structure",
      "members": {
        "runId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of an run, starts with `run_`. The run ID will be returned when you trigger a run on a task.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.trigger.dev.api#ReplayRunV1Response": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the new run."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.trigger.dev.api#ReplayRunV1": {
      "type": "operation",
      "input": {
        "target": "com.trigger.dev.api#ReplayRunV1Request"
      },
      "output": {
        "target": "com.trigger.dev.api#ReplayRunV1Response"
      },
      "errors": [
        {
          "target": "com.trigger.dev.api#BadRequest"
        },
        {
          "target": "com.trigger.dev.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/runs/{runId}/replay",
          "code": 200
        },
        "smithy.api#documentation": "Replay a run\n\nCreates a new run with the same payload and options as the original run."
      }
    },
    "com.trigger.dev.api#RunTags": {
      "type": "union",
      "members": {
        "RunTag": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.trigger.dev.api#RunTagsCase1List"
        }
      },
      "traits": {
        "smithy.api#documentation": "One or more tags to attach to a run. Runs can have a maximum of 10 tags."
      }
    },
    "com.trigger.dev.api#RunTagsCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.trigger.dev.api#AddRunTagsV1Request": {
      "type": "structure",
      "members": {
        "runId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of an run, starts with `run_`. The run ID will be returned when you trigger a run on a task.\n"
          }
        },
        "tags": {
          "target": "com.trigger.dev.api#RunTags",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.trigger.dev.api#AddRunTagsV1Response": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.trigger.dev.api#AddRunTagsV1": {
      "type": "operation",
      "input": {
        "target": "com.trigger.dev.api#AddRunTagsV1Request"
      },
      "output": {
        "target": "com.trigger.dev.api#AddRunTagsV1Response"
      },
      "errors": [
        {
          "target": "com.trigger.dev.api#BadRequest"
        },
        {
          "target": "com.trigger.dev.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/runs/{runId}/tags",
          "code": 200
        },
        "smithy.api#documentation": "Add tags to a run\n\nAdds one or more tags to a run. Runs can have a maximum of 10 tags. Duplicate tags are ignored."
      }
    },
    "com.trigger.dev.api#GetRunTraceV1Request": {
      "type": "structure",
      "members": {
        "runId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of an run, starts with `run_`. The run ID will be returned when you trigger a run on a task.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.trigger.dev.api#SpanDetailedSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The span ID."
          }
        },
        "parentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The parent span ID, if any.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "runId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The run ID this span belongs to."
          }
        },
        "data": {
          "target": "com.trigger.dev.api#SpanDetailedSummaryData"
        },
        "children": {
          "target": "com.trigger.dev.api#SpanDetailedSummaryChildrenList",
          "traits": {
            "smithy.api#documentation": "Nested child spans. Each child has the same structure as the parent span."
          }
        }
      },
      "traits": {}
    },
    "com.trigger.dev.api#SpanDetailedSummaryDataLevel": {
      "type": "enum",
      "members": {
        "TRACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRACE"
          }
        },
        "DEBUG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEBUG"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFO"
          }
        },
        "WARN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARN"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      },
      "traits": {}
    },
    "com.trigger.dev.api#SpanDetailedSummaryDataEventsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The event name (e.g. \"exception\", \"cancellation\", \"attempt_failed\")."
          }
        },
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the event occurred."
          }
        },
        "properties": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Event-specific properties."
          }
        }
      },
      "traits": {}
    },
    "com.trigger.dev.api#SpanDetailedSummaryDataEventsList": {
      "type": "list",
      "member": {
        "target": "com.trigger.dev.api#SpanDetailedSummaryDataEventsItem"
      },
      "traits": {
        "smithy.api#documentation": "Span events (e.g. exceptions, cancellations) that occurred during this span."
      }
    },
    "com.trigger.dev.api#SpanDetailedSummaryData": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The span message."
          }
        },
        "taskSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The task identifier, if applicable."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of the span."
          }
        },
        "duration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The duration of the span in nanoseconds."
          }
        },
        "isError": {
          "target": "smithy.api#Boolean"
        },
        "isPartial": {
          "target": "smithy.api#Boolean"
        },
        "isCancelled": {
          "target": "smithy.api#Boolean"
        },
        "level": {
          "target": "com.trigger.dev.api#SpanDetailedSummaryDataLevel"
        },
        "attemptNumber": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "properties": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Arbitrary OTel attributes attached to the span."
          }
        },
        "events": {
          "target": "com.trigger.dev.api#SpanDetailedSummaryDataEventsList",
          "traits": {
            "smithy.api#documentation": "Span events (e.g. exceptions, cancellations) that occurred during this span."
          }
        }
      },
      "traits": {}
    },
    "com.trigger.dev.api#SpanDetailedSummaryChildrenList": {
      "type": "list",
      "member": {
        "target": "com.trigger.dev.api#SpanDetailedSummary"
      },
      "traits": {
        "smithy.api#documentation": "Nested child spans. Each child has the same structure as the parent span."
      }
    },
    "com.trigger.dev.api#GetRunTraceV1ResponseTrace": {
      "type": "structure",
      "members": {
        "traceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The OTel trace ID."
          }
        },
        "rootSpan": {
          "target": "com.trigger.dev.api#SpanDetailedSummary",
          "traits": {
            "smithy.api#documentation": "The requested run's span, with nested descendant spans as `children`. Not necessarily the trace-wide root span."
          }
        }
      },
      "traits": {}
    },
    "com.trigger.dev.api#GetRunTraceV1Response": {
      "type": "structure",
      "members": {
        "trace": {
          "target": "com.trigger.dev.api#GetRunTraceV1ResponseTrace"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.trigger.dev.api#GetRunTraceV1": {
      "type": "operation",
      "input": {
        "target": "com.trigger.dev.api#GetRunTraceV1Request"
      },
      "output": {
        "target": "com.trigger.dev.api#GetRunTraceV1Response"
      },
      "errors": [
        {
          "target": "com.trigger.dev.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/runs/{runId}/trace",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve run trace\n\nReturns the OTel trace subtree for the requested run — the run's span as `rootSpan`, its ancestor chain, and its descendant spans. For child or nested runs in a large trace, this is scoped to that run rather than the trace-wide root."
      }
    },
    "com.trigger.dev.api#GetRunEventsV1Request": {
      "type": "structure",
      "members": {
        "runId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of an run, starts with `run_`. The run ID will be returned when you trigger a run on a task.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.trigger.dev.api#GetRunEventsV1ResponseEventsItemLevel": {
      "type": "enum",
      "members": {
        "TRACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRACE"
          }
        },
        "DEBUG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEBUG"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFO"
          }
        },
        "WARN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARN"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The log level of the event."
      }
    },
    "com.trigger.dev.api#GetRunEventsV1ResponseEventsItemKind": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL"
          }
        },
        "SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVER"
          }
        },
        "CLIENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT"
          }
        },
        "PRODUCER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCER"
          }
        },
        "CONSUMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSUMER"
          }
        },
        "UNRECOGNIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNRECOGNIZED"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The kind of span event."
      }
    },
    "com.trigger.dev.api#GetRunEventsV1ResponseEventsItemEventsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The event name (e.g. \"exception\", \"cancellation\", \"attempt_failed\")."
          }
        },
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the event occurred."
          }
        },
        "properties": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Event-specific properties."
          }
        }
      },
      "traits": {}
    },
    "com.trigger.dev.api#GetRunEventsV1ResponseEventsItemEventsList": {
      "type": "list",
      "member": {
        "target": "com.trigger.dev.api#GetRunEventsV1ResponseEventsItemEventsItem"
      },
      "traits": {
        "smithy.api#documentation": "Span events (e.g. exceptions, cancellations) that occurred during this event."
      }
    },
    "com.trigger.dev.api#GetRunEventsV1ResponseEventsItemStyleAccessoryStyle": {
      "type": "enum",
      "members": {
        "CODEPATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "codepath"
          }
        }
      },
      "traits": {}
    },
    "com.trigger.dev.api#GetRunEventsV1ResponseEventsItemStyleAccessory": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String"
        },
        "style": {
          "target": "com.trigger.dev.api#GetRunEventsV1ResponseEventsItemStyleAccessoryStyle"
        }
      },
      "traits": {
        "smithy.api#documentation": "Accessory display element."
      }
    },
    "com.trigger.dev.api#GetRunEventsV1ResponseEventsItemStyle": {
      "type": "structure",
      "members": {
        "icon": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Icon identifier for display."
          }
        },
        "variant": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Visual variant (e.g. \"success\", \"failure\")."
          }
        },
        "accessory": {
          "target": "com.trigger.dev.api#GetRunEventsV1ResponseEventsItemStyleAccessory",
          "traits": {
            "smithy.api#documentation": "Accessory display element."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Display style metadata for the event."
      }
    },
    "com.trigger.dev.api#GetRunEventsV1ResponseEventsItem": {
      "type": "structure",
      "members": {
        "spanId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The span ID of the event."
          }
        },
        "parentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The parent span ID, if any.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "runId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The run ID associated with this event.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The event message."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of the event as a bigint string (nanoseconds since epoch)."
          }
        },
        "duration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The duration of the event in nanoseconds."
          }
        },
        "isError": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this event represents an error."
          }
        },
        "isPartial": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this event is partial (still in progress)."
          }
        },
        "isCancelled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this event was cancelled."
          }
        },
        "level": {
          "target": "com.trigger.dev.api#GetRunEventsV1ResponseEventsItemLevel",
          "traits": {
            "smithy.api#documentation": "The log level of the event."
          }
        },
        "kind": {
          "target": "com.trigger.dev.api#GetRunEventsV1ResponseEventsItemKind",
          "traits": {
            "smithy.api#documentation": "The kind of span event."
          }
        },
        "attemptNumber": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The attempt number this event belongs to.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "taskSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The task identifier."
          }
        },
        "events": {
          "target": "com.trigger.dev.api#GetRunEventsV1ResponseEventsItemEventsList",
          "traits": {
            "smithy.api#documentation": "Span events (e.g. exceptions, cancellations) that occurred during this event."
          }
        },
        "style": {
          "target": "com.trigger.dev.api#GetRunEventsV1ResponseEventsItemStyle",
          "traits": {
            "smithy.api#documentation": "Display style metadata for the event."
          }
        }
      },
      "traits": {}
    },
    "com.trigger.dev.api#GetRunEventsV1ResponseEventsList": {
      "type": "list",
      "member": {
        "target": "com.trigger.dev.api#GetRunEventsV1ResponseEventsItem"
      },
      "traits": {}
    },
    "com.trigger.dev.api#GetRunEventsV1Response": {
      "type": "structure",
      "members": {
        "events": {
          "target": "com.trigger.dev.api#GetRunEventsV1ResponseEventsList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.trigger.dev.api#GetRunEventsV1": {
      "type": "operation",
      "input": {
        "target": "com.trigger.dev.api#GetRunEventsV1Request"
      },
      "output": {
        "target": "com.trigger.dev.api#GetRunEventsV1Response"
      },
      "errors": [
        {
          "target": "com.trigger.dev.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/runs/{runId}/events",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve run events\n\nReturns all OTel span events for a run. Useful for debugging and observability."
      }
    },
    "com.trigger.dev.api#UpdateRunMetadataV1Request": {
      "type": "structure",
      "members": {
        "runId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of an run, starts with `run_`. The run ID will be returned when you trigger a run on a task.\n"
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The new metadata to set on the run."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.trigger.dev.api#UpdateRunMetadataV1Response": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The updated metadata of the run."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.trigger.dev.api#UpdateRunMetadataV1": {
      "type": "operation",
      "input": {
        "target": "com.trigger.dev.api#UpdateRunMetadataV1Request"
      },
      "output": {
        "target": "com.trigger.dev.api#UpdateRunMetadataV1Response"
      },
      "errors": [
        {
          "target": "com.trigger.dev.api#BadRequest"
        },
        {
          "target": "com.trigger.dev.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/v1/runs/{runId}/metadata",
          "code": 200
        },
        "smithy.api#documentation": "Update run metadata\n\nUpdate the metadata of a run."
      }
    },
    "com.trigger.dev.api#CancelRunV1Request": {
      "type": "structure",
      "members": {
        "runId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of an run, starts with `run_`. The run ID will be returned when you trigger a run on a task.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.trigger.dev.api#CancelRunV1Response": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the run that was canceled."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.trigger.dev.api#CancelRunV1": {
      "type": "operation",
      "input": {
        "target": "com.trigger.dev.api#CancelRunV1Request"
      },
      "output": {
        "target": "com.trigger.dev.api#CancelRunV1Response"
      },
      "errors": [
        {
          "target": "com.trigger.dev.api#BadRequest"
        },
        {
          "target": "com.trigger.dev.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v2/runs/{runId}/cancel",
          "code": 200
        },
        "smithy.api#documentation": "Cancel a run\n\nCancels an in-progress run. If the run is already completed, this will have no effect."
      }
    },
    "com.trigger.dev.api#ListDeploymentsV1RequestStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILDING"
          }
        },
        "DEPLOYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYING"
          }
        },
        "DEPLOYED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMED_OUT"
          }
        }
      },
      "traits": {}
    },
    "com.trigger.dev.api#ListDeploymentsV1Request": {
      "type": "structure",
      "members": {
        "page_after_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "page[after]",
            "smithy.api#documentation": "The deployment ID to start the search from, to get the next page."
          }
        },
        "page_size_": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page[size]",
            "smithy.api#documentation": "The number of deployments to return (default 20, min 5, max 100)."
          }
        },
        "status": {
          "target": "com.trigger.dev.api#ListDeploymentsV1RequestStatus",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Filter deployments by status."
          }
        },
        "period": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "period",
            "smithy.api#documentation": "Filter deployments created within this period (e.g. 1d, 7d, 3h)."
          }
        },
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "from",
            "smithy.api#documentation": "Filter deployments created on or after this date (ISO 8601)."
          }
        },
        "to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "to",
            "smithy.api#documentation": "Filter deployments created on or before this date (ISO 8601). Only applied when `from` is also provided."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.trigger.dev.api#ListDeploymentsV1ResponseDataItemStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILDING"
          }
        },
        "DEPLOYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYING"
          }
        },
        "DEPLOYED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMED_OUT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current status of the deployment"
      }
    },
    "com.trigger.dev.api#ListDeploymentsV1ResponseDataItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The deployment ID"
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the deployment was created"
          }
        },
        "shortCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The short code for the deployment"
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The deployment version (e.g., \"20250228.1\")"
          }
        },
        "runtime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The runtime used (e.g., \"node\")",
            "com.distilled.openapi#nullable": {}
          }
        },
        "runtimeVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The runtime version",
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.trigger.dev.api#ListDeploymentsV1ResponseDataItemStatus",
          "traits": {
            "smithy.api#documentation": "The current status of the deployment"
          }
        },
        "deployedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the deployment was promoted to DEPLOYED",
            "com.distilled.openapi#nullable": {}
          }
        },
        "git": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Git metadata associated with the deployment",
            "com.distilled.openapi#nullable": {}
          }
        },
        "error": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Error data if the deployment failed",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.trigger.dev.api#ListDeploymentsV1ResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.trigger.dev.api#ListDeploymentsV1ResponseDataItem"
      },
      "traits": {}
    },
    "com.trigger.dev.api#ListDeploymentsV1ResponsePagination": {
      "type": "structure",
      "members": {
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cursor for the next page. Pass as `page[after]` to get the next page. Omitted if there are no more results."
          }
        }
      },
      "traits": {}
    },
    "com.trigger.dev.api#ListDeploymentsV1Response": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.trigger.dev.api#ListDeploymentsV1ResponseDataList"
        },
        "pagination": {
          "target": "com.trigger.dev.api#ListDeploymentsV1ResponsePagination"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.trigger.dev.api#ListDeploymentsV1": {
      "type": "operation",
      "input": {
        "target": "com.trigger.dev.api#ListDeploymentsV1Request"
      },
      "output": {
        "target": "com.trigger.dev.api#ListDeploymentsV1Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/deployments",
          "code": 200
        },
        "smithy.api#documentation": "List deployments\n\nList deployments for the authenticated environment, ordered by most recent first."
      }
    },
    "com.trigger.dev.api#GetDeploymentV1Request": {
      "type": "structure",
      "members": {
        "deploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The deployment ID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.trigger.dev.api#GetDeploymentV1ResponseStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "INSTALLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLING"
          }
        },
        "BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILDING"
          }
        },
        "DEPLOYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYING"
          }
        },
        "DEPLOYED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMED_OUT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current status of the deployment"
      }
    },
    "com.trigger.dev.api#GetDeploymentV1ResponseWorkerTasksItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "slug": {
          "target": "smithy.api#String"
        },
        "filePath": {
          "target": "smithy.api#String"
        },
        "exportName": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.trigger.dev.api#GetDeploymentV1ResponseWorkerTasksList": {
      "type": "list",
      "member": {
        "target": "com.trigger.dev.api#GetDeploymentV1ResponseWorkerTasksItem"
      },
      "traits": {}
    },
    "com.trigger.dev.api#GetDeploymentV1ResponseWorker": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "version": {
          "target": "smithy.api#String"
        },
        "tasks": {
          "target": "com.trigger.dev.api#GetDeploymentV1ResponseWorkerTasksList"
        }
      },
      "traits": {
        "smithy.api#documentation": "Worker information if available"
      }
    },
    "com.trigger.dev.api#GetDeploymentV1Response": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The deployment ID"
          }
        },
        "status": {
          "target": "com.trigger.dev.api#GetDeploymentV1ResponseStatus",
          "traits": {
            "smithy.api#documentation": "The current status of the deployment"
          }
        },
        "contentHash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hash of the deployment content"
          }
        },
        "shortCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The short code for the deployment"
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The deployment version (e.g., \"20250228.1\")"
          }
        },
        "imageReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reference to the deployment image",
            "com.distilled.openapi#nullable": {}
          }
        },
        "imagePlatform": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Platform of the deployment image"
          }
        },
        "externalBuildData": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "External build data if applicable",
            "com.distilled.openapi#nullable": {}
          }
        },
        "errorData": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Error data if the deployment failed",
            "com.distilled.openapi#nullable": {}
          }
        },
        "worker": {
          "target": "com.trigger.dev.api#GetDeploymentV1ResponseWorker",
          "traits": {
            "smithy.api#documentation": "Worker information if available",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.trigger.dev.api#GetDeploymentV1": {
      "type": "operation",
      "input": {
        "target": "com.trigger.dev.api#GetDeploymentV1Request"
      },
      "output": {
        "target": "com.trigger.dev.api#GetDeploymentV1Response"
      },
      "errors": [
        {
          "target": "com.trigger.dev.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/deployments/{deploymentId}",
          "code": 200
        },
        "smithy.api#documentation": "Get deployment\n\nRetrieve information about a specific deployment by its ID."
      }
    },
    "com.trigger.dev.api#GetLatestDeploymentV1ResponseStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "INSTALLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLING"
          }
        },
        "BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILDING"
          }
        },
        "DEPLOYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYING"
          }
        },
        "DEPLOYED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMED_OUT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current status of the deployment"
      }
    },
    "com.trigger.dev.api#GetLatestDeploymentV1Response": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The deployment ID"
          }
        },
        "status": {
          "target": "com.trigger.dev.api#GetLatestDeploymentV1ResponseStatus",
          "traits": {
            "smithy.api#documentation": "The current status of the deployment"
          }
        },
        "contentHash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hash of the deployment content"
          }
        },
        "shortCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The short code for the deployment"
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The deployment version (e.g., \"20250228.1\")"
          }
        },
        "imageReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reference to the deployment image",
            "com.distilled.openapi#nullable": {}
          }
        },
        "errorData": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Error data if the deployment failed",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.trigger.dev.api#GetLatestDeploymentV1": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.trigger.dev.api#GetLatestDeploymentV1Response"
      },
      "errors": [
        {
          "target": "com.trigger.dev.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/deployments/latest",
          "code": 200
        },
        "smithy.api#documentation": "Get latest deployment\n\nRetrieve information about the latest unmanaged deployment for the authenticated project."
      }
    },
    "com.trigger.dev.api#PromoteDeploymentV1Request": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The deployment version to promote (e.g., \"20250228.1\")."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.trigger.dev.api#PromoteDeploymentV1Response": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The deployment ID"
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The deployment version (e.g., \"20250228.1\")"
          }
        },
        "shortCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The short code for the deployment"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.trigger.dev.api#PromoteDeploymentV1": {
      "type": "operation",
      "input": {
        "target": "com.trigger.dev.api#PromoteDeploymentV1Request"
      },
      "output": {
        "target": "com.trigger.dev.api#PromoteDeploymentV1Response"
      },
      "errors": [
        {
          "target": "com.trigger.dev.api#BadRequest"
        },
        {
          "target": "com.trigger.dev.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/deployments/{version}/promote",
          "code": 200
        },
        "smithy.api#documentation": "Promote deployment\n\nPromote a previously deployed version to be the current version for the environment. This makes the specified version active for new task runs."
      }
    },
    "com.trigger.dev.api#ExecuteQueryV1RequestScope": {
      "type": "enum",
      "members": {
        "ENVIRONMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "environment"
          }
        },
        "PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The scope of data to query - environment (default), project, or organization"
      }
    },
    "com.trigger.dev.api#ExecuteQueryV1RequestFormat": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "csv"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response format - \"json\" returns structured data (default), \"csv\" returns CSV string"
      }
    },
    "com.trigger.dev.api#ExecuteQueryV1Request": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The TRQL query to execute",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "com.trigger.dev.api#ExecuteQueryV1RequestScope",
          "traits": {
            "smithy.api#documentation": "The scope of data to query - environment (default), project, or organization"
          }
        },
        "period": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time period shorthand (e.g., \"7d\", \"30d\", \"1h\"). Cannot be used with from/to.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start of time range as ISO 8601 timestamp. Must be used with 'to'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End of time range as ISO 8601 timestamp. Must be used with 'from'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "format": {
          "target": "com.trigger.dev.api#ExecuteQueryV1RequestFormat",
          "traits": {
            "smithy.api#documentation": "Response format - \"json\" returns structured data (default), \"csv\" returns CSV string"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.trigger.dev.api#ExecuteQueryResponse": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.trigger.dev.api#ExecuteQueryResponseCase0"
        },
        "Case1": {
          "target": "com.trigger.dev.api#ExecuteQueryResponseCase1"
        }
      },
      "traits": {}
    },
    "com.trigger.dev.api#ExecuteQueryResponseCase0Format": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      },
      "traits": {}
    },
    "com.trigger.dev.api#ExecuteQueryResponseCase0ResultsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Array of result rows"
      }
    },
    "com.trigger.dev.api#ExecuteQueryResponseCase0": {
      "type": "structure",
      "members": {
        "format": {
          "target": "com.trigger.dev.api#ExecuteQueryResponseCase0Format"
        },
        "results": {
          "target": "com.trigger.dev.api#ExecuteQueryResponseCase0ResultsList",
          "traits": {
            "smithy.api#documentation": "Array of result rows"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JSON format response"
      }
    },
    "com.trigger.dev.api#ExecuteQueryResponseCase1Format": {
      "type": "enum",
      "members": {
        "CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "csv"
          }
        }
      },
      "traits": {}
    },
    "com.trigger.dev.api#ExecuteQueryResponseCase1": {
      "type": "structure",
      "members": {
        "format": {
          "target": "com.trigger.dev.api#ExecuteQueryResponseCase1Format"
        },
        "results": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CSV-formatted results"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CSV format response"
      }
    },
    "com.trigger.dev.api#ExecuteQueryV1Response": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.trigger.dev.api#ExecuteQueryResponse",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.trigger.dev.api#ExecuteQueryV1": {
      "type": "operation",
      "input": {
        "target": "com.trigger.dev.api#ExecuteQueryV1Request"
      },
      "output": {
        "target": "com.trigger.dev.api#ExecuteQueryV1Response"
      },
      "errors": [
        {
          "target": "com.trigger.dev.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/query",
          "code": 200
        },
        "smithy.api#documentation": "Execute a TRQL query\n\nExecute a TRQL (Trigger.dev Query Language) query against your run data. TRQL is a SQL-style query language that allows you to analyze runs, calculate metrics, and export data."
      }
    },
    "com.trigger.dev.api#GetQuerySchemaV1ResponseTablesItemColumnsItemAllowedValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Allowed values for enum-like columns"
      }
    },
    "com.trigger.dev.api#GetQuerySchemaV1ResponseTablesItemColumnsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column name"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ClickHouse data type"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column description"
          }
        },
        "example": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Example value"
          }
        },
        "allowedValues": {
          "target": "com.trigger.dev.api#GetQuerySchemaV1ResponseTablesItemColumnsItemAllowedValuesList",
          "traits": {
            "smithy.api#documentation": "Allowed values for enum-like columns"
          }
        },
        "coreColumn": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this is a core column included in default queries"
          }
        }
      },
      "traits": {}
    },
    "com.trigger.dev.api#GetQuerySchemaV1ResponseTablesItemColumnsList": {
      "type": "list",
      "member": {
        "target": "com.trigger.dev.api#GetQuerySchemaV1ResponseTablesItemColumnsItem"
      },
      "traits": {}
    },
    "com.trigger.dev.api#GetQuerySchemaV1ResponseTablesItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Table name used in TRQL queries"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the table"
          }
        },
        "timeColumn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The primary time column for this table"
          }
        },
        "columns": {
          "target": "com.trigger.dev.api#GetQuerySchemaV1ResponseTablesItemColumnsList"
        }
      },
      "traits": {}
    },
    "com.trigger.dev.api#GetQuerySchemaV1ResponseTablesList": {
      "type": "list",
      "member": {
        "target": "com.trigger.dev.api#GetQuerySchemaV1ResponseTablesItem"
      },
      "traits": {}
    },
    "com.trigger.dev.api#GetQuerySchemaV1Response": {
      "type": "structure",
      "members": {
        "tables": {
          "target": "com.trigger.dev.api#GetQuerySchemaV1ResponseTablesList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.trigger.dev.api#GetQuerySchemaV1": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.trigger.dev.api#GetQuerySchemaV1Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/query/schema",
          "code": 200
        },
        "smithy.api#documentation": "Get query schema\n\nGet the schema for TRQL queries, including all available tables, their columns, data types, descriptions, and allowed values."
      }
    },
    "com.trigger.dev.api#ListDashboardsV1ResponseDashboardsItemWidgetsItemType": {
      "type": "enum",
      "members": {
        "BIGNUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bignumber"
          }
        },
        "CHART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "chart"
          }
        },
        "TABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "table"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Widget display type"
      }
    },
    "com.trigger.dev.api#ListDashboardsV1ResponseDashboardsItemWidgetsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Widget identifier"
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Widget display title"
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The TRQL query this widget executes"
          }
        },
        "type": {
          "target": "com.trigger.dev.api#ListDashboardsV1ResponseDashboardsItemWidgetsItemType",
          "traits": {
            "smithy.api#documentation": "Widget display type"
          }
        }
      },
      "traits": {}
    },
    "com.trigger.dev.api#ListDashboardsV1ResponseDashboardsItemWidgetsList": {
      "type": "list",
      "member": {
        "target": "com.trigger.dev.api#ListDashboardsV1ResponseDashboardsItemWidgetsItem"
      },
      "traits": {}
    },
    "com.trigger.dev.api#ListDashboardsV1ResponseDashboardsItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dashboard identifier (e.g. \"overview\", \"llm\")"
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dashboard display title"
          }
        },
        "widgets": {
          "target": "com.trigger.dev.api#ListDashboardsV1ResponseDashboardsItemWidgetsList"
        }
      },
      "traits": {}
    },
    "com.trigger.dev.api#ListDashboardsV1ResponseDashboardsList": {
      "type": "list",
      "member": {
        "target": "com.trigger.dev.api#ListDashboardsV1ResponseDashboardsItem"
      },
      "traits": {}
    },
    "com.trigger.dev.api#ListDashboardsV1Response": {
      "type": "structure",
      "members": {
        "dashboards": {
          "target": "com.trigger.dev.api#ListDashboardsV1ResponseDashboardsList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.trigger.dev.api#ListDashboardsV1": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.trigger.dev.api#ListDashboardsV1Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/query/dashboards",
          "code": 200
        },
        "smithy.api#documentation": "List built-in dashboards\n\nList available built-in dashboards with their widgets. Each dashboard contains pre-built TRQL queries for common metrics like run success rates, costs, and LLM usage."
      }
    },
    "com.trigger.dev.api#RescheduleRunV1Request": {
      "type": "structure",
      "members": {
        "runId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of an run, starts with `run_`. The run ID will be returned when you trigger a run on a task.\n"
          }
        },
        "delay": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.trigger.dev.api#RescheduleRunV1ResponseStatus": {
      "type": "enum",
      "members": {
        "PENDING_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_VERSION"
          }
        },
        "DELAYED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELAYED"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "EXECUTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTING"
          }
        },
        "REATTEMPTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REATTEMPTING"
          }
        },
        "FROZEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FROZEN"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CRASHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRASHED"
          }
        },
        "INTERRUPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERRUPTED"
          }
        },
        "SYSTEM_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_FAILURE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the run"
      }
    },
    "com.trigger.dev.api#RescheduleRunV1ResponseTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tags can be attached to a run to make it easy to find runs (in the dashboard or using SDK functions like `runs.list`)"
      }
    },
    "com.trigger.dev.api#RescheduleRunV1ResponseTriggerFunction": {
      "type": "enum",
      "members": {
        "TRIGGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trigger"
          }
        },
        "TRIGGERANDWAIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "triggerAndWait"
          }
        },
        "BATCHTRIGGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "batchTrigger"
          }
        },
        "BATCHTRIGGERANDWAIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "batchTriggerAndWait"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The name of the function that triggered the run"
      }
    },
    "com.trigger.dev.api#CommonRunObject": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the run, prefixed with `run_`",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.trigger.dev.api#CommonRunObjectStatus",
          "traits": {
            "smithy.api#documentation": "The status of the run",
            "smithy.api#required": {}
          }
        },
        "taskIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the task that was run",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the worker that executed the run"
          }
        },
        "idempotencyKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The idempotency key used to prevent creating duplicate runs, if provided"
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isTest": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the run is a test run or not"
          }
        },
        "startedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the run started"
          }
        },
        "finishedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the run finished"
          }
        },
        "delayedUntil": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the run was triggered with a delay, this will be the time the run will be enqueued to execute"
          }
        },
        "ttl": {
          "target": "smithy.api#Document"
        },
        "expiredAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the run had a TTL and that time has passed, when the run \"expired\"."
          }
        },
        "tags": {
          "target": "com.trigger.dev.api#CommonRunObjectTagsList",
          "traits": {
            "smithy.api#documentation": "Tags can be attached to a run to make it easy to find runs (in the dashboard or using SDK functions like `runs.list`)"
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The metadata of the run. See [Metadata](/runs/metadata) for more information."
          }
        },
        "costInCents": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The compute cost of the run (so far) in cents. This cost does not apply to DEV runs."
          }
        },
        "baseCostInCents": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The invocation cost of the run in cents. This cost does not apply to DEV runs."
          }
        },
        "durationMs": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The duration of compute (so far) in milliseconds. This does not include waits."
          }
        },
        "depth": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The depth of the run in the task run hierarchy. The root run has a depth of 0."
          }
        },
        "batchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the batch that this run belongs to"
          }
        },
        "triggerFunction": {
          "target": "com.trigger.dev.api#CommonRunObjectTriggerFunction",
          "traits": {
            "smithy.api#documentation": "The name of the function that triggered the run"
          }
        }
      },
      "traits": {}
    },
    "com.trigger.dev.api#CommonRunObjectStatus": {
      "type": "enum",
      "members": {
        "PENDING_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_VERSION"
          }
        },
        "DELAYED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELAYED"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "EXECUTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTING"
          }
        },
        "REATTEMPTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REATTEMPTING"
          }
        },
        "FROZEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FROZEN"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CRASHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRASHED"
          }
        },
        "INTERRUPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERRUPTED"
          }
        },
        "SYSTEM_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_FAILURE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the run"
      }
    },
    "com.trigger.dev.api#CommonRunObjectTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tags can be attached to a run to make it easy to find runs (in the dashboard or using SDK functions like `runs.list`)"
      }
    },
    "com.trigger.dev.api#CommonRunObjectTriggerFunction": {
      "type": "enum",
      "members": {
        "TRIGGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trigger"
          }
        },
        "TRIGGERANDWAIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "triggerAndWait"
          }
        },
        "BATCHTRIGGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "batchTrigger"
          }
        },
        "BATCHTRIGGERANDWAIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "batchTriggerAndWait"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The name of the function that triggered the run"
      }
    },
    "com.trigger.dev.api#RescheduleRunV1ResponseRelatedRunsChildrenList": {
      "type": "list",
      "member": {
        "target": "com.trigger.dev.api#CommonRunObject"
      },
      "traits": {
        "smithy.api#documentation": "The immediate children of the run. Will be omitted if the run has no children"
      }
    },
    "com.trigger.dev.api#RescheduleRunV1ResponseRelatedRuns": {
      "type": "structure",
      "members": {
        "root": {
          "target": "com.trigger.dev.api#CommonRunObject",
          "traits": {
            "smithy.api#documentation": "The root run of the run hierarchy. Will be omitted if the run is the root run"
          }
        },
        "parent": {
          "target": "com.trigger.dev.api#CommonRunObject",
          "traits": {
            "smithy.api#documentation": "The parent run of the run. Will be omitted if the run is the root run"
          }
        },
        "children": {
          "target": "com.trigger.dev.api#RescheduleRunV1ResponseRelatedRunsChildrenList",
          "traits": {
            "smithy.api#documentation": "The immediate children of the run. Will be omitted if the run has no children"
          }
        }
      },
      "traits": {}
    },
    "com.trigger.dev.api#RescheduleRunV1ResponseScheduleGeneratorType": {
      "type": "enum",
      "members": {
        "CRON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRON"
          }
        }
      },
      "traits": {}
    },
    "com.trigger.dev.api#RescheduleRunV1ResponseScheduleGenerator": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.trigger.dev.api#RescheduleRunV1ResponseScheduleGeneratorType"
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cron expression used to generate the schedule"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the generator in plain english"
          }
        }
      },
      "traits": {}
    },
    "com.trigger.dev.api#RescheduleRunV1ResponseSchedule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the schedule, prefixed with `sched_`",
            "smithy.api#required": {}
          }
        },
        "externalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The external ID of the schedule. Can be anything that is useful to you (e.g., user ID, org ID, etc.)"
          }
        },
        "deduplicationKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The deduplication key used to prevent creating duplicate schedules"
          }
        },
        "generator": {
          "target": "com.trigger.dev.api#RescheduleRunV1ResponseScheduleGenerator",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The schedule that triggered the run. Will be omitted if the run was not triggered by a schedule"
      }
    },
    "com.trigger.dev.api#RescheduleRunV1ResponseAttemptsItemStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "EXECUTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTING"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        }
      },
      "traits": {}
    },
    "com.trigger.dev.api#SerializedError": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "stackTrace": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.trigger.dev.api#RescheduleRunV1ResponseAttemptsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the attempt, prefixed with `attempt_`",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.trigger.dev.api#RescheduleRunV1ResponseAttemptsItemStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.trigger.dev.api#SerializedError"
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "startedAt": {
          "target": "smithy.api#String"
        },
        "completedAt": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.trigger.dev.api#RescheduleRunV1ResponseAttemptsList": {
      "type": "list",
      "member": {
        "target": "com.trigger.dev.api#RescheduleRunV1ResponseAttemptsItem"
      },
      "traits": {}
    },
    "com.trigger.dev.api#RescheduleRunV1Response": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the run, prefixed with `run_`",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.trigger.dev.api#RescheduleRunV1ResponseStatus",
          "traits": {
            "smithy.api#documentation": "The status of the run",
            "smithy.api#required": {}
          }
        },
        "taskIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the task that was run",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the worker that executed the run"
          }
        },
        "idempotencyKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The idempotency key used to prevent creating duplicate runs, if provided"
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isTest": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the run is a test run or not"
          }
        },
        "startedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the run started"
          }
        },
        "finishedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the run finished"
          }
        },
        "delayedUntil": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the run was triggered with a delay, this will be the time the run will be enqueued to execute"
          }
        },
        "ttl": {
          "target": "smithy.api#Document"
        },
        "expiredAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the run had a TTL and that time has passed, when the run \"expired\"."
          }
        },
        "tags": {
          "target": "com.trigger.dev.api#RescheduleRunV1ResponseTagsList",
          "traits": {
            "smithy.api#documentation": "Tags can be attached to a run to make it easy to find runs (in the dashboard or using SDK functions like `runs.list`)"
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The metadata of the run. See [Metadata](/runs/metadata) for more information."
          }
        },
        "costInCents": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The compute cost of the run (so far) in cents. This cost does not apply to DEV runs."
          }
        },
        "baseCostInCents": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The invocation cost of the run in cents. This cost does not apply to DEV runs."
          }
        },
        "durationMs": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The duration of compute (so far) in milliseconds. This does not include waits."
          }
        },
        "depth": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The depth of the run in the task run hierarchy. The root run has a depth of 0."
          }
        },
        "batchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the batch that this run belongs to"
          }
        },
        "triggerFunction": {
          "target": "com.trigger.dev.api#RescheduleRunV1ResponseTriggerFunction",
          "traits": {
            "smithy.api#documentation": "The name of the function that triggered the run"
          }
        },
        "payload": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The payload that was sent to the task. Will be omitted if the request was made with a Public API key"
          }
        },
        "payloadPresignedUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The presigned URL to download the payload. Will only be included if the payload is too large to be included in the response. Expires in 5 minutes."
          }
        },
        "output": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The output of the run. Will be omitted if the request was made with a Public API key"
          }
        },
        "outputPresignedUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The presigned URL to download the output. Will only be included if the output is too large to be included in the response. Expires in 5 minutes."
          }
        },
        "relatedRuns": {
          "target": "com.trigger.dev.api#RescheduleRunV1ResponseRelatedRuns"
        },
        "schedule": {
          "target": "com.trigger.dev.api#RescheduleRunV1ResponseSchedule",
          "traits": {
            "smithy.api#documentation": "The schedule that triggered the run. Will be omitted if the run was not triggered by a schedule"
          }
        },
        "attempts": {
          "target": "com.trigger.dev.api#RescheduleRunV1ResponseAttemptsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.trigger.dev.api#RescheduleRunV1": {
      "type": "operation",
      "input": {
        "target": "com.trigger.dev.api#RescheduleRunV1Request"
      },
      "output": {
        "target": "com.trigger.dev.api#RescheduleRunV1Response"
      },
      "errors": [
        {
          "target": "com.trigger.dev.api#BadRequest"
        },
        {
          "target": "com.trigger.dev.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/runs/{runId}/reschedule",
          "code": 200
        },
        "smithy.api#documentation": "Rescheduled a delayed run\n\nUpdates a delayed run with a new delay. Only valid when the run is in the DELAYED state."
      }
    },
    "com.trigger.dev.api#GetRunResultV1Request": {
      "type": "structure",
      "members": {
        "runId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of an run, starts with `run_`. The run ID will be returned when you trigger a run on a task.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.trigger.dev.api#GetRunResultV1ResponseUsage": {
      "type": "structure",
      "members": {
        "durationMs": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Duration of the run in milliseconds."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Execution usage stats."
      }
    },
    "com.trigger.dev.api#GetRunResultV1Response": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the run completed successfully.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The run ID.",
            "smithy.api#required": {}
          }
        },
        "output": {
          "target": "smithy.api#String",
          "traits": {
[...]
