{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.planetscale.api#ListOrganizationsRequest": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "If provided, specifies the page offset of returned results"
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "If provided, specifies the number of returned results"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.planetscale.api#PaginatedOrganization": {
      "type": "structure",
      "members": {
        "current_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The current page number",
            "smithy.api#required": {}
          }
        },
        "next_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The next page number",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "next_page_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next page of results",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "prev_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The previous page number",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "prev_page_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The previous page of results",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "data": {
          "target": "com.planetscale.api#PaginatedOrganizationDataList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.planetscale.api#PaginatedOrganizationDataItemFeaturesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Features that can be enabled on the organization"
      }
    },
    "com.planetscale.api#PaginatedOrganizationDataItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID for the organization",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the organization",
            "smithy.api#required": {}
          }
        },
        "billing_email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The billing email of the organization",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the organization was created",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the organization was last updated",
            "smithy.api#required": {}
          }
        },
        "plan": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The billing plan of the organization",
            "smithy.api#required": {}
          }
        },
        "valid_billing_info": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the organization's billing information is valid",
            "smithy.api#required": {}
          }
        },
        "sso": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not SSO is enabled on the organization",
            "smithy.api#required": {}
          }
        },
        "sso_directory": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the organization uses an SSO directory",
            "smithy.api#required": {}
          }
        },
        "single_tenancy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the organization has single tenancy enabled",
            "smithy.api#required": {}
          }
        },
        "managed_tenancy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the organization has managed tenancy enabled",
            "smithy.api#required": {}
          }
        },
        "has_past_due_invoices": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the organization has past due billing invoices"
          }
        },
        "database_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of databases in the organization",
            "smithy.api#required": {}
          }
        },
        "sso_portal_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the organization's SSO portal"
          }
        },
        "features": {
          "target": "com.planetscale.api#PaginatedOrganizationDataItemFeaturesMap",
          "traits": {
            "smithy.api#documentation": "Features that can be enabled on the organization",
            "smithy.api#required": {}
          }
        },
        "idp_managed_roles": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the IdP provider is be responsible for managing roles in PlanetScale",
            "smithy.api#required": {}
          }
        },
        "invoice_budget_amount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The expected monthly budget for the organization",
            "smithy.api#required": {}
          }
        },
        "keyspace_shard_limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The keyspace shard limit for the organization",
            "smithy.api#required": {}
          }
        },
        "has_card": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the organization has a payment method on file",
            "smithy.api#required": {}
          }
        },
        "payment_info_required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the organization requires payment information",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.planetscale.api#PaginatedOrganizationDataList": {
      "type": "list",
      "member": {
        "target": "com.planetscale.api#PaginatedOrganizationDataItem"
      },
      "traits": {}
    },
    "com.planetscale.api#ListOrganizations": {
      "type": "operation",
      "input": {
        "target": "com.planetscale.api#ListOrganizationsRequest"
      },
      "output": {
        "target": "com.planetscale.api#PaginatedOrganization"
      },
      "errors": [
        {
          "target": "com.planetscale.api#Forbidden"
        },
        {
          "target": "com.planetscale.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organizations",
          "code": 200
        },
        "smithy.api#documentation": "List organizations\n\nWhen using a service token, returns the list of organizations the service token has access to. When using an OAuth token, returns the list of organizations the user has access to.",
        "smithy.api#paginated": {
          "mode": "page",
          "inputToken": "page",
          "outputToken": "next_page",
          "items": "data"
        }
      }
    },
    "com.planetscale.api#GetOrganizationRequest": {
      "type": "structure",
      "members": {
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization name slug from `list_organizations`. Example: `acme`."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.planetscale.api#Organization": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID for the organization",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the organization",
            "smithy.api#required": {}
          }
        },
        "billing_email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The billing email of the organization",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the organization was created",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the organization was last updated",
            "smithy.api#required": {}
          }
        },
        "plan": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The billing plan of the organization",
            "smithy.api#required": {}
          }
        },
        "valid_billing_info": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the organization's billing information is valid",
            "smithy.api#required": {}
          }
        },
        "sso": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not SSO is enabled on the organization",
            "smithy.api#required": {}
          }
        },
        "sso_directory": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the organization uses an SSO directory",
            "smithy.api#required": {}
          }
        },
        "single_tenancy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the organization has single tenancy enabled",
            "smithy.api#required": {}
          }
        },
        "managed_tenancy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the organization has managed tenancy enabled",
            "smithy.api#required": {}
          }
        },
        "has_past_due_invoices": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the organization has past due billing invoices"
          }
        },
        "database_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of databases in the organization",
            "smithy.api#required": {}
          }
        },
        "sso_portal_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the organization's SSO portal"
          }
        },
        "features": {
          "target": "com.planetscale.api#OrganizationFeaturesMap",
          "traits": {
            "smithy.api#documentation": "Features that can be enabled on the organization",
            "smithy.api#required": {}
          }
        },
        "idp_managed_roles": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the IdP provider is be responsible for managing roles in PlanetScale",
            "smithy.api#required": {}
          }
        },
        "invoice_budget_amount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The expected monthly budget for the organization",
            "smithy.api#required": {}
          }
        },
        "keyspace_shard_limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The keyspace shard limit for the organization",
            "smithy.api#required": {}
          }
        },
        "has_card": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the organization has a payment method on file",
            "smithy.api#required": {}
          }
        },
        "payment_info_required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the organization requires payment information",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.planetscale.api#OrganizationFeaturesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Features that can be enabled on the organization"
      }
    },
    "com.planetscale.api#GetOrganization": {
      "type": "operation",
      "input": {
        "target": "com.planetscale.api#GetOrganizationRequest"
      },
      "output": {
        "target": "com.planetscale.api#Organization"
      },
      "errors": [
        {
          "target": "com.planetscale.api#Forbidden"
        },
        {
          "target": "com.planetscale.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organizations/{organization}",
          "code": 200
        },
        "smithy.api#documentation": "Get an organization"
      }
    },
    "com.planetscale.api#UpdateOrganizationRequest": {
      "type": "structure",
      "members": {
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization name slug from `list_organizations`. Example: `acme`."
          }
        },
        "billing_email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The billing email for the organization"
          }
        },
        "idp_managed_roles": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the IdP provider is be responsible for managing roles in PlanetScale"
          }
        },
        "invoice_budget_amount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The expected monthly budget for the organization"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.planetscale.api#UpdateOrganization": {
      "type": "operation",
      "input": {
        "target": "com.planetscale.api#UpdateOrganizationRequest"
      },
      "output": {
        "target": "com.planetscale.api#Organization"
      },
      "errors": [
        {
          "target": "com.planetscale.api#Forbidden"
        },
        {
          "target": "com.planetscale.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/organizations/{organization}",
          "code": 200
        },
        "smithy.api#documentation": "Update an organization"
      }
    },
    "com.planetscale.api#ListAuditLogsRequest": {
      "type": "structure",
      "members": {
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the organization"
          }
        },
        "starting_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "starting_after",
            "smithy.api#documentation": "If provided, returns results after the specified cursor"
          }
        },
        "ending_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "ending_before",
            "smithy.api#documentation": "If provided, returns results before the specified cursor"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "If provided, specifies the number of returned results (max 100)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.planetscale.api#PaginatedAuditLogEvent": {
      "type": "structure",
      "members": {
        "has_next": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether there is a next page of results",
            "smithy.api#required": {}
          }
        },
        "has_prev": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether there is a previous page of results",
            "smithy.api#required": {}
          }
        },
        "cursor_start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the first object in the current results",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "cursor_end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the last object in the current results",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "data": {
          "target": "com.planetscale.api#PaginatedAuditLogEventDataList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.planetscale.api#PaginatedAuditLogEventDataItemMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Additional metadata containing details about the change"
      }
    },
    "com.planetscale.api#PaginatedAuditLogEventDataItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID for the audit log",
            "smithy.api#required": {}
          }
        },
        "actor_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the actor",
            "smithy.api#required": {}
          }
        },
        "actor_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the actor. Such as 'User' or 'ServiceToken'",
            "smithy.api#required": {}
          }
        },
        "auditable_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the auditable object",
            "smithy.api#required": {}
          }
        },
        "auditable_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the auditable. Such as 'Organization' or 'Database'",
            "smithy.api#required": {}
          }
        },
        "target_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the target",
            "smithy.api#required": {}
          }
        },
        "target_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the target. Such as 'DatabaseBranch' or 'DatabaseBranchPassword'",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the actor based on their IP address",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "target_display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the target",
            "smithy.api#required": {}
          }
        },
        "audit_action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The action that was taken",
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The action that was taken",
            "smithy.api#required": {}
          }
        },
        "actor_display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the actor",
            "smithy.api#required": {}
          }
        },
        "auditable_display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the auditable object",
            "smithy.api#required": {}
          }
        },
        "remote_ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address of the actor",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the audit log was created",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the audit log was last updated",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.planetscale.api#PaginatedAuditLogEventDataItemMetadataMap",
          "traits": {
            "smithy.api#documentation": "Additional metadata containing details about the change",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.planetscale.api#PaginatedAuditLogEventDataList": {
      "type": "list",
      "member": {
        "target": "com.planetscale.api#PaginatedAuditLogEventDataItem"
      },
      "traits": {}
    },
    "com.planetscale.api#ListAuditLogs": {
      "type": "operation",
      "input": {
        "target": "com.planetscale.api#ListAuditLogsRequest"
      },
      "output": {
        "target": "com.planetscale.api#PaginatedAuditLogEvent"
      },
      "errors": [
        {
          "target": "com.planetscale.api#Forbidden"
        },
        {
          "target": "com.planetscale.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organizations/{organization}/audit-log",
          "code": 200
        },
        "smithy.api#documentation": "List audit logs"
      }
    },
    "com.planetscale.api#ListClusterSizeSkusRequestEngine": {
      "type": "enum",
      "members": {
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        }
      },
      "traits": {}
    },
    "com.planetscale.api#ListClusterSizeSkusRequest": {
      "type": "structure",
      "members": {
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization name slug from `list_organizations`. Example: `acme`."
          }
        },
        "engine": {
          "target": "com.planetscale.api#ListClusterSizeSkusRequestEngine",
          "traits": {
            "smithy.api#httpQuery": "engine",
            "smithy.api#documentation": "The database engine to filter by. Defaults to 'mysql'."
          }
        },
        "rates": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "rates",
            "smithy.api#documentation": "Whether to include pricing rates in the response. Defaults to false."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "region",
            "smithy.api#documentation": "The region slug to get rates for. If not specified, uses the organization's default region."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.planetscale.api#ClusterSizeSkuSerializer": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the cluster SKU",
            "smithy.api#required": {}
          }
        },
        "display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name",
            "smithy.api#required": {}
          }
        },
        "cpu": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of CPUs",
            "smithy.api#required": {}
          }
        },
        "storage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The amount of storage in bytes",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ram": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The amount of memory in bytes",
            "smithy.api#required": {}
          }
        },
        "metal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the cluster SKU is Metal",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the cluster SKU is enabled for the organization",
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The provider of the cluster SKU (nil, AWS or GCP)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_vtgate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default vtgate size for the cluster SKU",
            "smithy.api#required": {}
          }
        },
        "default_vtgate_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The default vtgate rate for the cluster SKU",
            "com.distilled.openapi#nullable": {}
          }
        },
        "replica_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The replica rate for the cluster SKU",
            "com.distilled.openapi#nullable": {}
          }
        },
        "rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The rate for the cluster SKU",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sort_order": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The sort order of the cluster SKU",
            "smithy.api#required": {}
          }
        },
        "architecture": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The architecture of the cluster SKU (null, x86_64 or arm64)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "development": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the cluster SKU is a development SKU",
            "smithy.api#required": {}
          }
        },
        "production": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the cluster SKU is a production SKU",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.planetscale.api#ListClusterSizeSkusResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.planetscale.api#ClusterSizeSkuSerializer"
      },
      "traits": {}
    },
    "com.planetscale.api#ListClusterSizeSkusResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.planetscale.api#ListClusterSizeSkusResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.planetscale.api#ListClusterSizeSkus": {
      "type": "operation",
      "input": {
        "target": "com.planetscale.api#ListClusterSizeSkusRequest"
      },
      "output": {
        "target": "com.planetscale.api#ListClusterSizeSkusResponse"
      },
      "errors": [
        {
          "target": "com.planetscale.api#Forbidden"
        },
        {
          "target": "com.planetscale.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organizations/{organization}/cluster-size-skus",
          "code": 200
        },
        "smithy.api#documentation": "List available cluster sizes\n\nList available cluster sizes for an organization"
      }
    },
    "com.planetscale.api#ListDatabasesRequest": {
      "type": "structure",
      "members": {
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization name slug from `list_organizations`. Example: `acme`."
          }
        },
        "q": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "q",
            "smithy.api#documentation": "Search term to filter databases by name"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "If provided, specifies the page offset of returned results"
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "If provided, specifies the number of returned results"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.planetscale.api#PaginatedDatabase": {
      "type": "structure",
      "members": {
        "current_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The current page number",
            "smithy.api#required": {}
          }
        },
        "next_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The next page number",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "next_page_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next page of results",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "prev_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The previous page number",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "prev_page_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The previous page of results",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "data": {
          "target": "com.planetscale.api#PaginatedDatabaseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.planetscale.api#PaginatedDatabaseDataItemDataImportDataSource": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hostname of the data source",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port of the data source",
            "smithy.api#required": {}
          }
        },
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Database name of the data source",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.planetscale.api#PaginatedDatabaseDataItemDataImport": {
      "type": "structure",
      "members": {
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of the data import",
            "smithy.api#required": {}
          }
        },
        "import_check_errors": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Errors encountered during the import check",
            "smithy.api#required": {}
          }
        },
        "started_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the import started",
            "smithy.api#required": {}
          }
        },
        "finished_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the import finished",
            "smithy.api#required": {}
          }
        },
        "data_source": {
          "target": "com.planetscale.api#PaginatedDatabaseDataItemDataImportDataSource",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.planetscale.api#PaginatedDatabaseDataItemRegionPublicIpAddressesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Public IP addresses for the region"
      }
    },
    "com.planetscale.api#PaginatedDatabaseDataItemRegion": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the region",
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provider for the region (ex. AWS)",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the region is currently active",
            "smithy.api#required": {}
          }
        },
        "public_ip_addresses": {
          "target": "com.planetscale.api#PaginatedDatabaseDataItemRegionPublicIpAddressesList",
          "traits": {
            "smithy.api#documentation": "Public IP addresses for the region",
            "smithy.api#required": {}
          }
        },
        "display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the region",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the region",
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug of the region",
            "smithy.api#required": {}
          }
        },
        "current_default": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the region is the default for new branch creation",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.planetscale.api#PaginatedDatabaseDataItemState": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "IMPORTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "importing"
          }
        },
        "SLEEP_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sleep_in_progress"
          }
        },
        "SLEEPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sleeping"
          }
        },
        "AWAKENING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "awakening"
          }
        },
        "IMPORT_READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "import_ready"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State of the database"
      }
    },
    "com.planetscale.api#PaginatedDatabaseDataItemKind": {
      "type": "enum",
      "members": {
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The kind of database"
      }
    },
    "com.planetscale.api#PaginatedDatabaseDataItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the database",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to the database API endpoint",
            "smithy.api#required": {}
          }
        },
        "branches_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to retrieve this database's branches via the API",
            "smithy.api#required": {}
          }
        },
        "branches_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of database branches"
          }
        },
        "open_schema_recommendations_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of schema recommendations"
          }
        },
        "development_branches_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of database development branches"
          }
        },
        "production_branches_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of database production branches"
          }
        },
        "issues_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of ongoing issues within a database"
          }
        },
        "multiple_admins_required_for_deletion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the database requires multiple admins for deletion"
          }
        },
        "ready": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the database is ready to be used",
            "smithy.api#required": {}
          }
        },
        "at_backup_restore_branches_limit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the database has reached its backup restored branch limit"
          }
        },
        "at_development_branch_usage_limit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the database has reached its development branch limit"
          }
        },
        "data_import": {
          "target": "com.planetscale.api#PaginatedDatabaseDataItemDataImport",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "region": {
          "target": "com.planetscale.api#PaginatedDatabaseDataItemRegion",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to see this database's branches in the web UI",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the database",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.planetscale.api#PaginatedDatabaseDataItemState",
          "traits": {
            "smithy.api#documentation": "State of the database",
            "smithy.api#required": {}
          }
        },
        "sharded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the database is sharded"
          }
        },
        "default_branch_shard_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of shards in the default branch"
          }
        },
        "default_branch_read_only_regions_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of read only regions in the default branch"
          }
        },
        "default_branch_table_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of tables in the default branch schema"
          }
        },
        "default_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default branch for the database"
          }
        },
        "require_approval_for_deploy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether an approval is required to deploy schema changes to this database"
          }
        },
        "resizing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if a branch is currently resizing"
          }
        },
        "resize_queued": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if a branch has a queued resize request"
          }
        },
        "config_changing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if a config change is in progress"
          }
        },
        "config_change_queued": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if a config change is queued for maintenance window"
          }
        },
        "allow_data_branching": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether seeding branches with data is enabled for all branches"
          }
        },
        "foreign_keys_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether foreign key constraints are enabled"
          }
        },
        "automatic_migrations": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to automatically manage Rails migrations during deploy requests",
            "com.distilled.openapi#nullable": {}
          }
        },
        "restrict_branch_region": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to restrict branch creation to one region"
          }
        },
        "insights_raw_queries": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether raw SQL queries are collected"
          }
        },
        "plan": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The database plan"
          }
        },
        "insights_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if query insights is enabled for the database"
          }
        },
        "production_branch_web_console": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether web console is enabled for production branches"
          }
        },
        "migration_table_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Table name to use for copying schema migration data",
            "com.distilled.openapi#nullable": {}
          }
        },
        "migration_framework": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Framework used for applying migrations",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the database was created",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the database was last updated",
            "smithy.api#required": {}
          }
        },
        "schema_last_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the default branch schema was last changed."
          }
        },
        "kind": {
          "target": "com.planetscale.api#PaginatedDatabaseDataItemKind",
          "traits": {
            "smithy.api#documentation": "The kind of database",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.planetscale.api#PaginatedDatabaseDataList": {
      "type": "list",
      "member": {
        "target": "com.planetscale.api#PaginatedDatabaseDataItem"
      },
      "traits": {}
    },
    "com.planetscale.api#ListDatabases": {
      "type": "operation",
      "input": {
        "target": "com.planetscale.api#ListDatabasesRequest"
      },
      "output": {
        "target": "com.planetscale.api#PaginatedDatabase"
      },
      "errors": [
        {
          "target": "com.planetscale.api#Forbidden"
        },
        {
          "target": "com.planetscale.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organizations/{organization}/databases",
          "code": 200
        },
        "smithy.api#documentation": "List databases",
        "smithy.api#paginated": {
          "mode": "page",
          "inputToken": "page",
          "outputToken": "next_page",
          "items": "data"
        }
      }
    },
    "com.planetscale.api#CreateDatabaseRequestKind": {
      "type": "enum",
      "members": {
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The kind of database to create."
      }
    },
    "com.planetscale.api#CreateDatabaseRequestStorage": {
      "type": "structure",
      "members": {
        "minimum_storage_bytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The initial minimum storage size in bytes."
          }
        },
        "maximum_storage_bytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum storage size in bytes for autoscaling."
          }
        }
      },
      "traits": {}
    },
    "com.planetscale.api#CreateDatabaseRequest": {
      "type": "structure",
      "members": {
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization name slug from `list_organizations`. Example: `acme`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the database",
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region the database will be deployed in. If left blank, defaults to the organization's default region."
          }
        },
        "cluster_size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The database cluster size name (e.g., 'PS_10', 'PS_80'). Use the 'List available cluster sizes' endpoint to get available options for your organization. /v1/organizations/:organization/cluster-size-skus",
            "smithy.api#required": {}
          }
        },
        "replicas": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of replicas for the database. 0 for non-HA, 2+ for HA."
          }
        },
        "kind": {
          "target": "com.planetscale.api#CreateDatabaseRequestKind",
          "traits": {
            "smithy.api#documentation": "The kind of database to create."
          }
        },
        "major_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For PostgreSQL databases, the PostgreSQL major version to use for the database. Defaults to the latest available major version."
          }
        },
        "storage": {
          "target": "com.planetscale.api#CreateDatabaseRequestStorage"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.planetscale.api#Database": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the database",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to the database API endpoint",
            "smithy.api#required": {}
          }
        },
        "branches_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to retrieve this database's branches via the API",
            "smithy.api#required": {}
          }
        },
        "branches_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of database branches"
          }
        },
        "open_schema_recommendations_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of schema recommendations"
          }
        },
        "development_branches_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of database development branches"
          }
        },
        "production_branches_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of database production branches"
          }
        },
        "issues_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of ongoing issues within a database"
          }
        },
        "multiple_admins_required_for_deletion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the database requires multiple admins for deletion"
          }
        },
        "ready": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the database is ready to be used",
            "smithy.api#required": {}
          }
        },
        "at_backup_restore_branches_limit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the database has reached its backup restored branch limit"
          }
        },
        "at_development_branch_usage_limit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the database has reached its development branch limit"
          }
        },
        "data_import": {
          "target": "com.planetscale.api#DatabaseDataImport",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "region": {
          "target": "com.planetscale.api#DatabaseRegion",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to see this database's branches in the web UI",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the database",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.planetscale.api#DatabaseState",
          "traits": {
            "smithy.api#documentation": "State of the database",
            "smithy.api#required": {}
          }
        },
        "sharded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the database is sharded"
          }
        },
        "default_branch_shard_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of shards in the default branch"
          }
        },
        "default_branch_read_only_regions_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of read only regions in the default branch"
          }
        },
        "default_branch_table_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of tables in the default branch schema"
          }
        },
        "default_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default branch for the database"
          }
        },
        "require_approval_for_deploy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether an approval is required to deploy schema changes to this database"
          }
        },
        "resizing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if a branch is currently resizing"
          }
        },
        "resize_queued": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if a branch has a queued resize request"
          }
        },
        "config_changing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if a config change is in progress"
          }
        },
        "config_change_queued": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if a config change is queued for maintenance window"
          }
        },
        "allow_data_branching": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether seeding branches with data is enabled for all branches"
          }
        },
        "foreign_keys_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether foreign key constraints are enabled"
          }
        },
        "automatic_migrations": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to automatically manage Rails migrations during deploy requests",
            "com.distilled.openapi#nullable": {}
          }
        },
        "restrict_branch_region": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to restrict branch creation to one region"
          }
        },
        "insights_raw_queries": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether raw SQL queries are collected"
          }
        },
        "plan": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The database plan"
          }
        },
        "insights_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if query insights is enabled for the database"
          }
        },
        "production_branch_web_console": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether web console is enabled for production branches"
          }
        },
        "migration_table_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Table name to use for copying schema migration data",
            "com.distilled.openapi#nullable": {}
          }
        },
        "migration_framework": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Framework used for applying migrations",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the database was created",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the database was last updated",
            "smithy.api#required": {}
          }
        },
        "schema_last_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the default branch schema was last changed."
          }
        },
        "kind": {
          "target": "com.planetscale.api#DatabaseKind",
          "traits": {
            "smithy.api#documentation": "The kind of database",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.planetscale.api#DatabaseDataImportDataSource": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hostname of the data source",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port of the data source",
            "smithy.api#required": {}
          }
        },
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Database name of the data source",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.planetscale.api#DatabaseDataImport": {
      "type": "structure",
      "members": {
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of the data import",
            "smithy.api#required": {}
          }
        },
        "import_check_errors": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Errors encountered during the import check",
            "smithy.api#required": {}
          }
        },
        "started_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the import started",
            "smithy.api#required": {}
          }
        },
        "finished_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the import finished",
            "smithy.api#required": {}
          }
        },
        "data_source": {
          "target": "com.planetscale.api#DatabaseDataImportDataSource",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.planetscale.api#DatabaseRegionPublicIpAddressesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Public IP addresses for the region"
      }
    },
    "com.planetscale.api#DatabaseRegion": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the region",
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provider for the region (ex. AWS)",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the region is currently active",
            "smithy.api#required": {}
          }
        },
        "public_ip_addresses": {
          "target": "com.planetscale.api#DatabaseRegionPublicIpAddressesList",
          "traits": {
            "smithy.api#documentation": "Public IP addresses for the region",
            "smithy.api#required": {}
          }
        },
        "display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the region",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the region",
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug of the region",
            "smithy.api#required": {}
          }
        },
        "current_default": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the region is the default for new branch creation",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.planetscale.api#DatabaseState": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "IMPORTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "importing"
          }
        },
        "SLEEP_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sleep_in_progress"
          }
        },
        "SLEEPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sleeping"
          }
        },
        "AWAKENING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "awakening"
          }
        },
        "IMPORT_READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "import_ready"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State of the database"
      }
    },
    "com.planetscale.api#DatabaseKind": {
      "type": "enum",
      "members": {
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The kind of database"
      }
    },
    "com.planetscale.api#CreateDatabase": {
      "type": "operation",
      "input": {
        "target": "com.planetscale.api#CreateDatabaseRequest"
      },
      "output": {
        "target": "com.planetscale.api#Database"
      },
      "errors": [
        {
          "target": "com.planetscale.api#Forbidden"
        },
        {
          "target": "com.planetscale.api#NotFound"
        },
        {
          "target": "com.planetscale.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/organizations/{organization}/databases",
          "code": 200
        },
        "smithy.api#documentation": "Create a database"
      }
    },
    "com.planetscale.api#GetDatabaseRequest": {
      "type": "structure",
      "members": {
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization name slug from `list_organizations`. Example: `acme`."
          }
        },
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Database name slug from `list_databases`. Example: `app-db`."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.planetscale.api#GetDatabase": {
      "type": "operation",
      "input": {
        "target": "com.planetscale.api#GetDatabaseRequest"
      },
      "output": {
        "target": "com.planetscale.api#Database"
      },
      "errors": [
        {
          "target": "com.planetscale.api#Forbidden"
        },
        {
          "target": "com.planetscale.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organizations/{organization}/databases/{database}",
          "code": 200
        },
        "smithy.api#documentation": "Get a database"
      }
    },
    "com.planetscale.api#UpdateDatabaseSettingsRequest": {
      "type": "structure",
      "members": {
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization name slug from `list_organizations`. Example: `acme`."
          }
        },
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Database name slug from `list_databases`. Example: `app-db`."
          }
        },
        "new_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name to update the database to"
          }
        },
        "automatic_migrations": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not to copy migration data to new branches and in deploy requests. (Vitess only)"
          }
        },
        "migration_framework": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A migration framework to use on the database. (Vitess only)"
          }
        },
        "migration_table_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of table to use as migration table for the database. (Vitess only)"
          }
        },
        "require_approval_for_deploy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not deploy requests must be approved by a database administrator other than the request creator"
          }
        },
        "restrict_branch_region": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not to limit branch creation to the same region as the one selected during database creation."
          }
        },
        "allow_data_branching": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not data branching is allowed on the database. (Vitess only)"
          }
        },
        "allow_foreign_key_constraints": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not foreign key constraints are allowed on the database. (Vitess only)"
          }
        },
        "insights_raw_queries": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not full queries should be collected from the database"
          }
        },
        "production_branch_web_console": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the web console can be used on the production branch of the database"
          }
        },
        "default_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default branch of the database"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.planetscale.api#UpdateDatabaseSettings": {
      "type": "operation",
      "input": {
        "target": "com.planetscale.api#UpdateDatabaseSettingsRequest"
      },
      "output": {
        "target": "com.planetscale.api#Database"
      },
      "errors": [
        {
          "target": "com.planetscale.api#Forbidden"
        },
        {
          "target": "com.planetscale.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/organizations/{organization}/databases/{database}",
          "code": 200
        },
        "smithy.api#documentation": "Update database settings"
      }
    },
    "com.planetscale.api#DeleteDatabaseRequest": {
      "type": "structure",
      "members": {
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization name slug from `list_organizations`. Example: `acme`."
          }
        },
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Database name slug from `list_databases`. Example: `app-db`."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.planetscale.api#DeleteDatabase": {
      "type": "operation",
      "input": {
        "target": "com.planetscale.api#DeleteDatabaseRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.planetscale.api#Forbidden"
        },
        {
          "target": "com.planetscale.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/organizations/{organization}/databases/{database}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a database"
      }
    },
    "com.planetscale.api#ListBackupPoliciesRequest": {
      "type": "structure",
      "members": {
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization name slug from `list_organizations`. Example: `acme`."
          }
        },
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Database name slug from `list_databases`. Example: `app-db`."
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "If provided, specifies the page offset of returned results"
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "If provided, specifies the number of returned results"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.planetscale.api#PaginatedBackupPolicy": {
      "type": "structure",
      "members": {
        "current_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The current page number",
            "smithy.api#required": {}
          }
        },
        "next_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The next page number",
            "smithy.api#required": {}
          }
        },
        "next_page_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next page of results",
            "smithy.api#required": {}
          }
        },
        "prev_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The previous page number",
            "smithy.api#required": {}
          }
        },
        "prev_page_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The previous page of results",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.planetscale.api#PaginatedBackupPolicyDataList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.planetscale.api#PaginatedBackupPolicyDataItemTarget": {
      "type": "enum",
      "members": {
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        },
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "development"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether the policy is for production or development branches"
      }
    },
    "com.planetscale.api#PaginatedBackupPolicyDataItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the backup policy",
            "smithy.api#required": {}
          }
        },
        "display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the backup policy",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the backup policy",
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.planetscale.api#PaginatedBackupPolicyDataItemTarget",
          "traits": {
            "smithy.api#documentation": "Whether the policy is for production or development branches",
            "smithy.api#required": {}
          }
        },
        "retention_value": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "A number value for the retention period of the backup policy",
            "smithy.api#required": {}
          }
        },
        "retention_unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unit for the retention period of the backup policy",
            "smithy.api#required": {}
          }
        },
        "frequency_value": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "A number value for the frequency of the backup policy",
            "smithy.api#required": {}
          }
        },
        "frequency_unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unit for the frequency of the backup policy",
            "smithy.api#required": {}
          }
        },
        "schedule_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time of day that the backup is scheduled, in HH:MM format",
            "smithy.api#required": {}
          }
        },
        "schedule_day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of the week that the backup is scheduled. 0 is Sunday, 6 is Saturday",
            "smithy.api#required": {}
          }
        },
        "schedule_week": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Week of the month that the backup is scheduled. 0 is the first week, 3 is the fourth week",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the backup policy was created",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the backup policy was last updated",
            "smithy.api#required": {}
          }
        },
        "last_ran_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the backup was last run",
            "smithy.api#required": {}
          }
        },
        "next_run_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the backup will next run",
            "smithy.api#required": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the policy is a required system backup",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.planetscale.api#PaginatedBackupPolicyDataList": {
      "type": "list",
      "member": {
        "target": "com.planetscale.api#PaginatedBackupPolicyDataItem"
      },
      "traits": {}
    },
    "com.planetscale.api#ListBackupPolicies": {
      "type": "operation",
      "input": {
        "target": "com.planetscale.api#ListBackupPoliciesRequest"
      },
      "output": {
        "target": "com.planetscale.api#PaginatedBackupPolicy"
      },
      "errors": [
        {
          "target": "com.planetscale.api#Forbidden"
        },
        {
          "target": "com.planetscale.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organizations/{organization}/databases/{database}/backup-policies",
          "code": 200
        },
        "smithy.api#documentation": "List backup policies",
        "smithy.api#paginated": {
          "mode": "page",
          "inputToken": "page",
          "outputToken": "next_page",
          "items": "data"
        }
      }
    },
    "com.planetscale.api#CreateBackupPolicyRequestTarget": {
      "type": "enum",
      "members": {
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        },
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "development"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether the policy is for production or development branches"
      }
    },
    "com.planetscale.api#CreateBackupPolicyRequestRetentionUnit": {
      "type": "enum",
      "members": {
        "HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hour"
          }
        },
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "week"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month"
          }
        },
        "YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "year"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The unit for the retention period of the backup policy"
      }
    },
    "com.planetscale.api#CreateBackupPolicyRequestFrequencyUnit": {
      "type": "enum",
      "members": {
        "HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hour"
          }
        },
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "week"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The unit for the frequency of the backup policy"
      }
    },
    "com.planetscale.api#CreateBackupPolicyRequest": {
      "type": "structure",
      "members": {
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization name slug from `list_organizations`. Example: `acme`."
          }
        },
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Database name slug from `list_databases`. Example: `app-db`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the backup policy"
          }
        },
        "target": {
          "target": "com.planetscale.api#CreateBackupPolicyRequestTarget",
          "traits": {
            "smithy.api#documentation": "Whether the policy is for production or development branches"
          }
        },
        "retention_value": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "A number value for the retention period of the backup policy"
          }
        },
        "retention_unit": {
          "target": "com.planetscale.api#CreateBackupPolicyRequestRetentionUnit",
          "traits": {
            "smithy.api#documentation": "The unit for the retention period of the backup policy"
          }
        },
        "frequency_value": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "A number value for the frequency of the backup policy"
          }
        },
        "frequency_unit": {
          "target": "com.planetscale.api#CreateBackupPolicyRequestFrequencyUnit",
          "traits": {
            "smithy.api#documentation": "The unit for the frequency of the backup policy"
          }
        },
        "schedule_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time of day that the backup is scheduled, in HH:MM format"
          }
        },
        "schedule_day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of the week that the backup is scheduled. 0 is Sunday, 6 is Saturday"
          }
        },
        "schedule_week": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Week of the month that the backup is scheduled. 0 is the first week, 3 is the fourth week"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.planetscale.api#BackupPolicy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the backup policy",
            "smithy.api#required": {}
          }
        },
        "display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the backup policy",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the backup policy",
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.planetscale.api#BackupPolicyTarget",
          "traits": {
            "smithy.api#documentation": "Whether the policy is for production or development branches",
            "smithy.api#required": {}
          }
        },
        "retention_value": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "A number value for the retention period of the backup policy",
            "smithy.api#required": {}
          }
        },
        "retention_unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unit for the retention period of the backup policy",
            "smithy.api#required": {}
          }
        },
        "frequency_value": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "A number value for the frequency of the backup policy",
            "smithy.api#required": {}
          }
        },
        "frequency_unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unit for the frequency of the backup policy",
            "smithy.api#required": {}
          }
        },
        "schedule_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time of day that the backup is scheduled, in HH:MM format",
            "smithy.api#required": {}
          }
        },
        "schedule_day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of the week that the backup is scheduled. 0 is Sunday, 6 is Saturday",
            "smithy.api#required": {}
          }
        },
        "schedule_week": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Week of the month that the backup is scheduled. 0 is the first week, 3 is the fourth week",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the backup policy was created",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the backup policy was last updated",
            "smithy.api#required": {}
          }
        },
        "last_ran_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the backup was last run",
            "smithy.api#required": {}
          }
        },
        "next_run_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the backup will next run",
            "smithy.api#required": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the policy is a required system backup",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.planetscale.api#BackupPolicyTarget": {
      "type": "enum",
      "members": {
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        },
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "development"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether the policy is for production or development branches"
      }
    },
    "com.planetscale.api#CreateBackupPolicy": {
      "type": "operation",
      "input": {
        "target": "com.planetscale.api#CreateBackupPolicyRequest"
      },
      "output": {
        "target": "com.planetscale.api#BackupPolicy"
      },
      "errors": [
        {
          "target": "com.planetscale.api#Forbidden"
        },
        {
          "target": "com.planetscale.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/organizations/{organization}/databases/{database}/backup-policies",
          "code": 200
        },
        "smithy.api#documentation": "Create a backup policy"
      }
    },
    "com.planetscale.api#GetBackupPolicyRequest": {
      "type": "structure",
      "members": {
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization name slug from `list_organizations`. Example: `acme`."
          }
        },
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Database name slug from `list_databases`. Example: `app-db`."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the backup policy"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.planetscale.api#GetBackupPolicy": {
      "type": "operation",
      "input": {
        "target": "com.planetscale.api#GetBackupPolicyRequest"
      },
      "output": {
        "target": "com.planetscale.api#BackupPolicy"
      },
      "errors": [
        {
          "target": "com.planetscale.api#Forbidden"
        },
        {
          "target": "com.planetscale.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organizations/{organization}/databases/{database}/backup-policies/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a backup policy"
      }
    },
    "com.planetscale.api#UpdateBackupPolicyRequestTarget": {
      "type": "enum",
      "members": {
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        },
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "development"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether the policy is for production or development branches"
      }
    },
    "com.planetscale.api#UpdateBackupPolicyRequestRetentionUnit": {
      "type": "enum",
      "members": {
        "HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hour"
          }
        },
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "week"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month"
          }
        },
        "YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "year"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The unit for the retention period of the backup policy"
      }
    },
    "com.planetscale.api#UpdateBackupPolicyRequestFrequencyUnit": {
      "type": "enum",
      "members": {
        "HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hour"
          }
        },
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "week"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The unit for the frequency of the backup policy"
      }
    },
    "com.planetscale.api#UpdateBackupPolicyRequest": {
      "type": "structure",
      "members": {
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Organization name slug from `list_organizations`. Example: `acme`."
          }
        },
[...]
