{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.resend.api#ListEmailsRequest": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of items to return."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "Return items after this cursor."
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "Return items before this cursor."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.resend.api#ListEmailsResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the response object."
          }
        },
        "has_more": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there are more results available."
          }
        },
        "data": {
          "target": "com.resend.api#ListEmailsResponseDataList",
          "traits": {
            "smithy.api#documentation": "Array containing email information."
          }
        }
      },
      "traits": {}
    },
    "com.resend.api#Email": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of object."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the email."
          }
        },
        "to": {
          "target": "com.resend.api#EmailToList"
        },
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the sender."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the email was created."
          }
        },
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subject line of the email."
          }
        },
        "html": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTML body of the email."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The plain text body of the email."
          }
        },
        "bcc": {
          "target": "com.resend.api#EmailBccList",
          "traits": {
            "smithy.api#documentation": "The email addresses of the blind carbon copy recipients."
          }
        },
        "cc": {
          "target": "com.resend.api#EmailCcList",
          "traits": {
            "smithy.api#documentation": "The email addresses of the carbon copy recipients."
          }
        },
        "reply_to": {
          "target": "com.resend.api#EmailReplyToList",
          "traits": {
            "smithy.api#documentation": "The email addresses to which replies should be sent."
          }
        },
        "last_event": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status of the email."
          }
        }
      },
      "traits": {}
    },
    "com.resend.api#EmailToList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.resend.api#EmailBccList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The email addresses of the blind carbon copy recipients."
      }
    },
    "com.resend.api#EmailCcList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The email addresses of the carbon copy recipients."
      }
    },
    "com.resend.api#EmailReplyToList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The email addresses to which replies should be sent."
      }
    },
    "com.resend.api#ListEmailsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.resend.api#Email"
      },
      "traits": {
        "smithy.api#documentation": "Array containing email information."
      }
    },
    "com.resend.api#ListEmails": {
      "type": "operation",
      "input": {
        "target": "com.resend.api#ListEmailsRequest"
      },
      "output": {
        "target": "com.resend.api#ListEmailsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/emails",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a list of emails"
      }
    },
    "com.resend.api#CreateEmailRequestToCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.resend.api#CreateEmailRequestTo": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.resend.api#CreateEmailRequestToCase1List"
        }
      },
      "traits": {
        "smithy.api#documentation": "Recipient email address. For multiple addresses, send as an array of strings. Max 50."
      }
    },
    "com.resend.api#CreateEmailRequestBccCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.resend.api#CreateEmailRequestBcc": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.resend.api#CreateEmailRequestBccCase1List"
        }
      },
      "traits": {
        "smithy.api#documentation": "Bcc recipient email address. For multiple addresses, send as an array of strings."
      }
    },
    "com.resend.api#CreateEmailRequestCcCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.resend.api#CreateEmailRequestCc": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.resend.api#CreateEmailRequestCcCase1List"
        }
      },
      "traits": {
        "smithy.api#documentation": "Cc recipient email address. For multiple addresses, send as an array of strings."
      }
    },
    "com.resend.api#CreateEmailRequestReplyToCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.resend.api#CreateEmailRequestReplyTo": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.resend.api#CreateEmailRequestReplyToCase1List"
        }
      },
      "traits": {
        "smithy.api#documentation": "Reply-to email address. For multiple addresses, send as an array of strings."
      }
    },
    "com.resend.api#CreateEmailRequestTemplateVariablesValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.resend.api#CreateEmailRequestTemplateVariablesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.resend.api#CreateEmailRequestTemplateVariablesValue"
      },
      "traits": {
        "smithy.api#documentation": "Template variables object with key/value pairs."
      }
    },
    "com.resend.api#CreateEmailRequestTemplate": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the published email template.",
            "smithy.api#required": {}
          }
        },
        "variables": {
          "target": "com.resend.api#CreateEmailRequestTemplateVariablesMap",
          "traits": {
            "smithy.api#documentation": "Template variables object with key/value pairs."
          }
        }
      },
      "traits": {}
    },
    "com.resend.api#Attachment": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content of an attached file."
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of attached file."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path where the attachment file is hosted"
          }
        },
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional content type for the attachment, if not set it will be derived from the filename property"
          }
        },
        "content_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content ID for embedding inline images using cid references (e.g., cid:image001)."
          }
        }
      },
      "traits": {}
    },
    "com.resend.api#CreateEmailRequestAttachmentsList": {
      "type": "list",
      "member": {
        "target": "com.resend.api#Attachment"
      },
      "traits": {}
    },
    "com.resend.api#Tag": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the email tag. It can only contain ASCII letters (a–z, A–Z), numbers (0–9), underscores (_), or dashes (-). It can contain no more than 256 characters."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the email tag.It can only contain ASCII letters (a–z, A–Z), numbers (0–9), underscores (_), or dashes (-). It can contain no more than 256 characters."
          }
        }
      },
      "traits": {}
    },
    "com.resend.api#CreateEmailRequestTagsList": {
      "type": "list",
      "member": {
        "target": "com.resend.api#Tag"
      },
      "traits": {}
    },
    "com.resend.api#CreateEmailRequest": {
      "type": "structure",
      "members": {
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sender email address. To include a friendly name, use the format \"Your Name <sender@domain.com>\".",
            "smithy.api#required": {}
          }
        },
        "to": {
          "target": "com.resend.api#CreateEmailRequestTo",
          "traits": {
            "smithy.api#documentation": "Recipient email address. For multiple addresses, send as an array of strings. Max 50.",
            "smithy.api#required": {}
          }
        },
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email subject.",
            "smithy.api#required": {}
          }
        },
        "bcc": {
          "target": "com.resend.api#CreateEmailRequestBcc",
          "traits": {
            "smithy.api#documentation": "Bcc recipient email address. For multiple addresses, send as an array of strings."
          }
        },
        "cc": {
          "target": "com.resend.api#CreateEmailRequestCc",
          "traits": {
            "smithy.api#documentation": "Cc recipient email address. For multiple addresses, send as an array of strings."
          }
        },
        "reply_to": {
          "target": "com.resend.api#CreateEmailRequestReplyTo",
          "traits": {
            "smithy.api#documentation": "Reply-to email address. For multiple addresses, send as an array of strings."
          }
        },
        "html": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTML version of the message."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The plain text version of the message."
          }
        },
        "template": {
          "target": "com.resend.api#CreateEmailRequestTemplate"
        },
        "headers": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Custom headers to add to the email."
          }
        },
        "scheduled_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Schedule email to be sent later. The date should be in ISO 8601 format."
          }
        },
        "attachments": {
          "target": "com.resend.api#CreateEmailRequestAttachmentsList"
        },
        "tags": {
          "target": "com.resend.api#CreateEmailRequestTagsList"
        },
        "topic_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The topic ID to scope the email to. If the recipient is a contact and opted-in to the topic, the email is sent. If opted-out, the email is not sent. If the recipient is not a contact, the email is sent if the topic's default subscription is opt_in."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.resend.api#SendEmailResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the sent email."
          }
        }
      },
      "traits": {}
    },
    "com.resend.api#CreateEmail": {
      "type": "operation",
      "input": {
        "target": "com.resend.api#CreateEmailRequest"
      },
      "output": {
        "target": "com.resend.api#SendEmailResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/emails",
          "code": 200
        },
        "smithy.api#documentation": "Send an email"
      }
    },
    "com.resend.api#GetEmailRequest": {
      "type": "structure",
      "members": {
        "email_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the email."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.resend.api#GetEmail": {
      "type": "operation",
      "input": {
        "target": "com.resend.api#GetEmailRequest"
      },
      "output": {
        "target": "com.resend.api#Email"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/emails/{email_id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a single email"
      }
    },
    "com.resend.api#UpdateEmailRequest": {
      "type": "structure",
      "members": {
        "email_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the email."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.resend.api#UpdateEmailOptions": {
      "type": "structure",
      "members": {
        "scheduled_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Schedule email to be sent later. The date should be in ISO 8601 format."
          }
        }
      },
      "traits": {}
    },
    "com.resend.api#UpdateEmail": {
      "type": "operation",
      "input": {
        "target": "com.resend.api#UpdateEmailRequest"
      },
      "output": {
        "target": "com.resend.api#UpdateEmailOptions"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/emails/{email_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update a single email"
      }
    },
    "com.resend.api#CancelEmailRequest": {
      "type": "structure",
      "members": {
        "email_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the email."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.resend.api#CancelEmail": {
      "type": "operation",
      "input": {
        "target": "com.resend.api#CancelEmailRequest"
      },
      "output": {
        "target": "com.resend.api#Email"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/emails/{email_id}/cancel",
          "code": 200
        },
        "smithy.api#documentation": "Cancel the schedule of the e-mail."
      }
    },
    "com.resend.api#SendEmailRequest": {
      "type": "structure",
      "members": {
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sender email address. To include a friendly name, use the format \"Your Name <sender@domain.com>\".",
            "smithy.api#required": {}
          }
        },
        "to": {
          "target": "com.resend.api#SendEmailRequestTo",
          "traits": {
            "smithy.api#documentation": "Recipient email address. For multiple addresses, send as an array of strings. Max 50.",
            "smithy.api#required": {}
          }
        },
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email subject.",
            "smithy.api#required": {}
          }
        },
        "bcc": {
          "target": "com.resend.api#SendEmailRequestBcc",
          "traits": {
            "smithy.api#documentation": "Bcc recipient email address. For multiple addresses, send as an array of strings."
          }
        },
        "cc": {
          "target": "com.resend.api#SendEmailRequestCc",
          "traits": {
            "smithy.api#documentation": "Cc recipient email address. For multiple addresses, send as an array of strings."
          }
        },
        "reply_to": {
          "target": "com.resend.api#SendEmailRequestReplyTo",
          "traits": {
            "smithy.api#documentation": "Reply-to email address. For multiple addresses, send as an array of strings."
          }
        },
        "html": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTML version of the message."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The plain text version of the message."
          }
        },
        "template": {
          "target": "com.resend.api#SendEmailRequestTemplate"
        },
        "headers": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Custom headers to add to the email."
          }
        },
        "scheduled_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Schedule email to be sent later. The date should be in ISO 8601 format."
          }
        },
        "attachments": {
          "target": "com.resend.api#SendEmailRequestAttachmentsList"
        },
        "tags": {
          "target": "com.resend.api#SendEmailRequestTagsList"
        },
        "topic_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The topic ID to scope the email to. If the recipient is a contact and opted-in to the topic, the email is sent. If opted-out, the email is not sent. If the recipient is not a contact, the email is sent if the topic's default subscription is opt_in."
          }
        }
      },
      "traits": {}
    },
    "com.resend.api#SendEmailRequestToCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.resend.api#SendEmailRequestTo": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.resend.api#SendEmailRequestToCase1List"
        }
      },
      "traits": {
        "smithy.api#documentation": "Recipient email address. For multiple addresses, send as an array of strings. Max 50."
      }
    },
    "com.resend.api#SendEmailRequestBccCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.resend.api#SendEmailRequestBcc": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.resend.api#SendEmailRequestBccCase1List"
        }
      },
      "traits": {
        "smithy.api#documentation": "Bcc recipient email address. For multiple addresses, send as an array of strings."
      }
    },
    "com.resend.api#SendEmailRequestCcCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.resend.api#SendEmailRequestCc": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.resend.api#SendEmailRequestCcCase1List"
        }
      },
      "traits": {
        "smithy.api#documentation": "Cc recipient email address. For multiple addresses, send as an array of strings."
      }
    },
    "com.resend.api#SendEmailRequestReplyToCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.resend.api#SendEmailRequestReplyTo": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.resend.api#SendEmailRequestReplyToCase1List"
        }
      },
      "traits": {
        "smithy.api#documentation": "Reply-to email address. For multiple addresses, send as an array of strings."
      }
    },
    "com.resend.api#SendEmailRequestTemplateVariablesValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.resend.api#SendEmailRequestTemplateVariablesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.resend.api#SendEmailRequestTemplateVariablesValue"
      },
      "traits": {
        "smithy.api#documentation": "Template variables object with key/value pairs."
      }
    },
    "com.resend.api#SendEmailRequestTemplate": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the published email template.",
            "smithy.api#required": {}
          }
        },
        "variables": {
          "target": "com.resend.api#SendEmailRequestTemplateVariablesMap",
          "traits": {
            "smithy.api#documentation": "Template variables object with key/value pairs."
          }
        }
      },
      "traits": {}
    },
    "com.resend.api#SendEmailRequestAttachmentsList": {
      "type": "list",
      "member": {
        "target": "com.resend.api#Attachment"
      },
      "traits": {}
    },
    "com.resend.api#SendEmailRequestTagsList": {
      "type": "list",
      "member": {
        "target": "com.resend.api#Tag"
      },
      "traits": {}
    },
    "com.resend.api#CreateEmailBatchRequestBodyList": {
      "type": "list",
      "member": {
        "target": "com.resend.api#SendEmailRequest"
      },
      "traits": {}
    },
    "com.resend.api#CreateEmailBatchRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.resend.api#CreateEmailBatchRequestBodyList",
          "traits": {
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.resend.api#CreateBatchEmailsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.resend.api#CreateBatchEmailsResponseDataList"
        }
      },
      "traits": {}
    },
    "com.resend.api#CreateBatchEmailsResponseDataItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the sent email."
          }
        }
      },
      "traits": {}
    },
    "com.resend.api#CreateBatchEmailsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.resend.api#CreateBatchEmailsResponseDataItem"
      },
      "traits": {}
    },
    "com.resend.api#CreateEmailBatch": {
      "type": "operation",
      "input": {
        "target": "com.resend.api#CreateEmailBatchRequest"
      },
      "output": {
        "target": "com.resend.api#CreateBatchEmailsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/emails/batch",
          "code": 200
        },
        "smithy.api#documentation": "Trigger up to 100 batch emails at once."
      }
    },
    "com.resend.api#ListEmailAttachmentsRequest": {
      "type": "structure",
      "members": {
        "email_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the email."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of attachments to return."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "Pagination cursor to fetch results after this attachment ID. Cannot be used with 'before'."
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "Pagination cursor to fetch results before this attachment ID. Cannot be used with 'after'."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.resend.api#ListAttachmentsResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the response object."
          }
        },
        "has_more": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there are more results available."
          }
        },
        "data": {
          "target": "com.resend.api#ListAttachmentsResponseDataList",
          "traits": {
            "smithy.api#documentation": "Array containing attachment information."
          }
        }
      },
      "traits": {}
    },
    "com.resend.api#ListAttachmentsResponseDataItemContentDisposition": {
      "type": "enum",
      "members": {
        "INLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inline"
          }
        },
        "ATTACHMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attachment"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How the attachment should be displayed."
      }
    },
    "com.resend.api#ListAttachmentsResponseDataItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the attachment."
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filename of the attachment."
          }
        },
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The MIME type of the attachment."
          }
        },
        "content_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content ID for inline attachments."
          }
        },
        "content_disposition": {
          "target": "com.resend.api#ListAttachmentsResponseDataItemContentDisposition",
          "traits": {
            "smithy.api#documentation": "How the attachment should be displayed."
          }
        },
        "download_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Signed URL to download the attachment content."
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the download URL expires."
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size of the attachment in bytes."
          }
        }
      },
      "traits": {}
    },
    "com.resend.api#ListAttachmentsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.resend.api#ListAttachmentsResponseDataItem"
      },
      "traits": {
        "smithy.api#documentation": "Array containing attachment information."
      }
    },
    "com.resend.api#ListEmailAttachments": {
      "type": "operation",
      "input": {
        "target": "com.resend.api#ListEmailAttachmentsRequest"
      },
      "output": {
        "target": "com.resend.api#ListAttachmentsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/emails/{email_id}/attachments",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a list of attachments for a sent email"
      }
    },
    "com.resend.api#GetEmailAttachmentRequest": {
      "type": "structure",
      "members": {
        "email_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the email."
          }
        },
        "attachment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the attachment."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.resend.api#RetrievedAttachment": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of object."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the attachment."
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filename of the attachment."
          }
        },
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The MIME type of the attachment."
          }
        },
        "content_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content ID for inline attachments."
          }
        },
        "content_disposition": {
          "target": "com.resend.api#RetrievedAttachmentContentDisposition",
          "traits": {
            "smithy.api#documentation": "How the attachment should be displayed."
          }
        },
        "download_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Signed URL to download the attachment content."
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the download URL expires."
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size of the attachment in bytes."
          }
        }
      },
      "traits": {}
    },
    "com.resend.api#RetrievedAttachmentContentDisposition": {
      "type": "enum",
      "members": {
        "INLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inline"
          }
        },
        "ATTACHMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attachment"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How the attachment should be displayed."
      }
    },
    "com.resend.api#GetEmailAttachment": {
      "type": "operation",
      "input": {
        "target": "com.resend.api#GetEmailAttachmentRequest"
      },
      "output": {
        "target": "com.resend.api#RetrievedAttachment"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/emails/{email_id}/attachments/{attachment_id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a single attachment for a sent email"
      }
    },
    "com.resend.api#ListEmailReceivingRequest": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of received emails to return."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "Pagination cursor to fetch results after this email ID. Cannot be used with 'before'."
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "Pagination cursor to fetch results before this email ID. Cannot be used with 'after'."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.resend.api#ListReceivedEmailsResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the response object."
          }
        },
        "has_more": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there are more results available."
          }
        },
        "data": {
          "target": "com.resend.api#ListReceivedEmailsResponseDataList",
          "traits": {
            "smithy.api#documentation": "Array containing received email information."
          }
        }
      },
      "traits": {}
    },
    "com.resend.api#ListReceivedEmailsResponseDataItemToList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The recipient email addresses."
      }
    },
    "com.resend.api#ListReceivedEmailsResponseDataItemBccList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The BCC recipients."
      }
    },
    "com.resend.api#ListReceivedEmailsResponseDataItemCcList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The CC recipients."
      }
    },
    "com.resend.api#ListReceivedEmailsResponseDataItemReplyToList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The reply-to addresses."
      }
    },
    "com.resend.api#ListReceivedEmailsResponseDataItemAttachmentsItemContentDisposition": {
      "type": "enum",
      "members": {
        "INLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inline"
          }
        },
        "ATTACHMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attachment"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How the attachment should be displayed."
      }
    },
    "com.resend.api#ListReceivedEmailsResponseDataItemAttachmentsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the attachment."
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filename of the attachment."
          }
        },
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The MIME type of the attachment."
          }
        },
        "content_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content ID for inline attachments."
          }
        },
        "content_disposition": {
          "target": "com.resend.api#ListReceivedEmailsResponseDataItemAttachmentsItemContentDisposition",
          "traits": {
            "smithy.api#documentation": "How the attachment should be displayed."
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size of the attachment in bytes."
          }
        }
      },
      "traits": {}
    },
    "com.resend.api#ListReceivedEmailsResponseDataItemAttachmentsList": {
      "type": "list",
      "member": {
        "target": "com.resend.api#ListReceivedEmailsResponseDataItemAttachmentsItem"
      },
      "traits": {
        "smithy.api#documentation": "Array of attachments for this email."
      }
    },
    "com.resend.api#ListReceivedEmailsResponseDataItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the received email."
          }
        },
        "to": {
          "target": "com.resend.api#ListReceivedEmailsResponseDataItemToList",
          "traits": {
            "smithy.api#documentation": "The recipient email addresses."
          }
        },
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sender email address."
          }
        },
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email subject.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "message_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique message ID from the email headers."
          }
        },
        "bcc": {
          "target": "com.resend.api#ListReceivedEmailsResponseDataItemBccList",
          "traits": {
            "smithy.api#documentation": "The BCC recipients.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cc": {
          "target": "com.resend.api#ListReceivedEmailsResponseDataItemCcList",
          "traits": {
            "smithy.api#documentation": "The CC recipients.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "reply_to": {
          "target": "com.resend.api#ListReceivedEmailsResponseDataItemReplyToList",
          "traits": {
            "smithy.api#documentation": "The reply-to addresses.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the email was received."
          }
        },
        "attachments": {
          "target": "com.resend.api#ListReceivedEmailsResponseDataItemAttachmentsList",
          "traits": {
            "smithy.api#documentation": "Array of attachments for this email."
          }
        }
      },
      "traits": {}
    },
    "com.resend.api#ListReceivedEmailsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.resend.api#ListReceivedEmailsResponseDataItem"
      },
      "traits": {
        "smithy.api#documentation": "Array containing received email information."
      }
    },
    "com.resend.api#ListEmailReceiving": {
      "type": "operation",
      "input": {
        "target": "com.resend.api#ListEmailReceivingRequest"
      },
      "output": {
        "target": "com.resend.api#ListReceivedEmailsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/emails/receiving",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a list of received emails"
      }
    },
    "com.resend.api#GetEmailReceivingRequest": {
      "type": "structure",
      "members": {
        "email_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the received email."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.resend.api#GetReceivedEmailResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of object."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the received email."
          }
        },
        "to": {
          "target": "com.resend.api#GetReceivedEmailResponseToList",
          "traits": {
            "smithy.api#documentation": "The recipient email addresses."
          }
        },
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sender email address."
          }
        },
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email subject."
          }
        },
        "message_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique message ID from the email headers."
          }
        },
        "bcc": {
          "target": "com.resend.api#GetReceivedEmailResponseBccList",
          "traits": {
            "smithy.api#documentation": "The BCC recipients.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cc": {
          "target": "com.resend.api#GetReceivedEmailResponseCcList",
          "traits": {
            "smithy.api#documentation": "The CC recipients.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "reply_to": {
          "target": "com.resend.api#GetReceivedEmailResponseReplyToList",
          "traits": {
            "smithy.api#documentation": "The reply-to addresses.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "html": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTML content of the email.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The plain text content of the email.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "headers": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The email headers.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the email was received."
          }
        },
        "attachments": {
          "target": "com.resend.api#GetReceivedEmailResponseAttachmentsList",
          "traits": {
            "smithy.api#documentation": "Array of attachments."
          }
        }
      },
      "traits": {}
    },
    "com.resend.api#GetReceivedEmailResponseToList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The recipient email addresses."
      }
    },
    "com.resend.api#GetReceivedEmailResponseBccList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The BCC recipients."
      }
    },
    "com.resend.api#GetReceivedEmailResponseCcList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The CC recipients."
      }
    },
    "com.resend.api#GetReceivedEmailResponseReplyToList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The reply-to addresses."
      }
    },
    "com.resend.api#GetReceivedEmailResponseAttachmentsItemContentDisposition": {
      "type": "enum",
      "members": {
        "INLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inline"
          }
        },
        "ATTACHMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attachment"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How the attachment should be displayed."
      }
    },
    "com.resend.api#GetReceivedEmailResponseAttachmentsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the attachment."
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filename of the attachment."
          }
        },
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The MIME type of the attachment."
          }
        },
        "content_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content ID for inline attachments."
          }
        },
        "content_disposition": {
          "target": "com.resend.api#GetReceivedEmailResponseAttachmentsItemContentDisposition",
          "traits": {
            "smithy.api#documentation": "How the attachment should be displayed."
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size of the attachment in bytes."
          }
        }
      },
      "traits": {}
    },
    "com.resend.api#GetReceivedEmailResponseAttachmentsList": {
      "type": "list",
      "member": {
        "target": "com.resend.api#GetReceivedEmailResponseAttachmentsItem"
      },
      "traits": {
        "smithy.api#documentation": "Array of attachments."
      }
    },
    "com.resend.api#GetEmailReceiving": {
      "type": "operation",
      "input": {
        "target": "com.resend.api#GetEmailReceivingRequest"
      },
      "output": {
        "target": "com.resend.api#GetReceivedEmailResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/emails/receiving/{email_id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a single received email"
      }
    },
    "com.resend.api#ListEmailReceivingAttachmentsRequest": {
      "type": "structure",
      "members": {
        "email_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the received email."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of attachments to return."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "Pagination cursor to fetch results after this attachment ID. Cannot be used with 'before'."
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "Pagination cursor to fetch results before this attachment ID. Cannot be used with 'after'."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.resend.api#ListEmailReceivingAttachments": {
      "type": "operation",
      "input": {
        "target": "com.resend.api#ListEmailReceivingAttachmentsRequest"
      },
      "output": {
        "target": "com.resend.api#ListAttachmentsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/emails/receiving/{email_id}/attachments",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a list of attachments for a received email"
      }
    },
    "com.resend.api#GetEmailReceivingAttachmentRequest": {
      "type": "structure",
      "members": {
        "email_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the received email."
          }
        },
        "attachment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the attachment."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.resend.api#GetEmailReceivingAttachment": {
      "type": "operation",
      "input": {
        "target": "com.resend.api#GetEmailReceivingAttachmentRequest"
      },
      "output": {
        "target": "com.resend.api#RetrievedAttachment"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/emails/receiving/{email_id}/attachments/{attachment_id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a single attachment for a received email"
      }
    },
    "com.resend.api#ListDomainsRequest": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of items to return."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "Return items after this cursor."
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "Return items before this cursor."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.resend.api#ListDomainsResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the response object."
          }
        },
        "has_more": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there are more results available."
          }
        },
        "data": {
          "target": "com.resend.api#ListDomainsResponseDataList"
        }
      },
      "traits": {}
    },
    "com.resend.api#ListDomainsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the domain."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the domain."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status of the domain."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the domain was created."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region where the domain is hosted."
          }
        },
        "capabilities": {
          "target": "com.resend.api#DomainCapabilities"
        }
      },
      "traits": {}
    },
    "com.resend.api#DomainCapabilities": {
      "type": "structure",
      "members": {
        "sending": {
          "target": "com.resend.api#DomainCapabilitiesSending",
          "traits": {
            "smithy.api#documentation": "Enable or disable sending emails from this domain."
          }
        },
        "receiving": {
          "target": "com.resend.api#DomainCapabilitiesReceiving",
          "traits": {
            "smithy.api#documentation": "Enable or disable receiving emails to this domain."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configure the domain capabilities for sending and receiving emails. At least one capability must be enabled."
      }
    },
    "com.resend.api#DomainCapabilitiesSending": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enable or disable sending emails from this domain."
      }
    },
    "com.resend.api#DomainCapabilitiesReceiving": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enable or disable receiving emails to this domain."
      }
    },
    "com.resend.api#ListDomainsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.resend.api#ListDomainsItem"
      },
      "traits": {}
    },
    "com.resend.api#ListDomains": {
      "type": "operation",
      "input": {
        "target": "com.resend.api#ListDomainsRequest"
      },
      "output": {
        "target": "com.resend.api#ListDomainsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/domains",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a list of domains"
      }
    },
    "com.resend.api#CreateDomainRequestRegion": {
      "type": "enum",
      "members": {
        "US_EAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east-1"
          }
        },
        "EU_WEST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-1"
          }
        },
        "SA_EAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sa-east-1"
          }
        },
        "AP_NORTHEAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-northeast-1"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The region where emails will be sent from. Possible values are us-east-1 | eu-west-1 | sa-east-1 | ap-northeast-1"
      }
    },
    "com.resend.api#CreateDomainRequestTls": {
      "type": "enum",
      "members": {
        "OPPORTUNISTIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opportunistic"
          }
        },
        "ENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enforced"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "TLS mode. Opportunistic attempts secure connection but falls back to unencrypted. Enforced requires TLS or email won't be sent."
      }
    },
    "com.resend.api#CreateDomainRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the domain you want to create.",
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "com.resend.api#CreateDomainRequestRegion",
          "traits": {
            "smithy.api#documentation": "The region where emails will be sent from. Possible values are us-east-1 | eu-west-1 | sa-east-1 | ap-northeast-1"
          }
        },
        "custom_return_path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For advanced use cases, choose a subdomain for the Return-Path address. Defaults to 'send' (i.e., send.yourdomain.tld)."
          }
        },
        "open_tracking": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Track the open rate of each email."
          }
        },
        "click_tracking": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Track clicks within the body of each HTML email."
          }
        },
        "tls": {
          "target": "com.resend.api#CreateDomainRequestTls",
          "traits": {
            "smithy.api#documentation": "TLS mode. Opportunistic attempts secure connection but falls back to unencrypted. Enforced requires TLS or email won't be sent."
          }
        },
        "capabilities": {
          "target": "com.resend.api#DomainCapabilities"
        },
        "tracking_subdomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subdomain to use for click and open tracking."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.resend.api#CreateDomainResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the domain."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the domain."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the domain was created."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status of the domain."
          }
        },
        "capabilities": {
          "target": "com.resend.api#DomainCapabilities"
        },
        "records": {
          "target": "com.resend.api#CreateDomainResponseRecordsList"
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region where the domain is hosted."
          }
        },
        "open_tracking": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether open tracking is enabled for this domain."
          }
        },
        "click_tracking": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether click tracking is enabled for this domain."
          }
        },
        "tracking_subdomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subdomain used for click and open tracking."
          }
        }
      },
      "traits": {}
    },
    "com.resend.api#DomainRecord": {
      "type": "structure",
      "members": {
        "record": {
          "target": "com.resend.api#DomainRecordRecord",
          "traits": {
            "smithy.api#documentation": "The type of record (SPF for sending, DKIM for sending, Receiving for inbound emails, Tracking for click and open tracking)."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the DNS record."
          }
        },
        "type": {
          "target": "com.resend.api#DomainRecordType",
          "traits": {
            "smithy.api#documentation": "The DNS record type."
          }
        },
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time to live for the record."
          }
        },
        "status": {
          "target": "com.resend.api#DomainRecordStatus",
          "traits": {
            "smithy.api#documentation": "The status of the record."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the record."
          }
        },
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The priority of the record (only applicable for MX records)."
          }
        }
      },
      "traits": {}
    },
    "com.resend.api#DomainRecordRecord": {
      "type": "enum",
      "members": {
        "SPF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPF"
          }
        },
        "DKIM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DKIM"
          }
        },
        "RECEIVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Receiving"
          }
        },
        "TRACKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Tracking"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of record (SPF for sending, DKIM for sending, Receiving for inbound emails, Tracking for click and open tracking)."
      }
    },
    "com.resend.api#DomainRecordType": {
      "type": "enum",
      "members": {
        "MX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MX"
          }
        },
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TXT"
          }
        },
        "CNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNAME"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The DNS record type."
      }
    },
    "com.resend.api#DomainRecordStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verified"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "TEMPORARY_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "temporary_failure"
          }
        },
        "NOT_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_started"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the record."
      }
    },
    "com.resend.api#CreateDomainResponseRecordsList": {
      "type": "list",
      "member": {
        "target": "com.resend.api#DomainRecord"
      },
      "traits": {}
    },
    "com.resend.api#CreateDomain": {
      "type": "operation",
      "input": {
        "target": "com.resend.api#CreateDomainRequest"
      },
      "output": {
        "target": "com.resend.api#CreateDomainResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domains",
          "code": 200
        },
        "smithy.api#documentation": "Create a new domain"
      }
    },
    "com.resend.api#GetDomainRequest": {
      "type": "structure",
      "members": {
        "domain_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the domain."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.resend.api#Domain": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of object."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the domain."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the domain."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status of the domain."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the domain was created."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region where the domain is hosted."
          }
        },
        "open_tracking": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether open tracking is enabled for this domain."
          }
        },
        "click_tracking": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether click tracking is enabled for this domain."
          }
        },
        "tracking_subdomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subdomain used for click and open tracking."
          }
        },
        "capabilities": {
          "target": "com.resend.api#DomainCapabilities"
        },
        "records": {
          "target": "com.resend.api#DomainRecordsList"
        }
      },
      "traits": {}
    },
    "com.resend.api#DomainRecordsList": {
      "type": "list",
      "member": {
        "target": "com.resend.api#DomainRecord"
      },
      "traits": {}
    },
    "com.resend.api#GetDomain": {
      "type": "operation",
      "input": {
        "target": "com.resend.api#GetDomainRequest"
      },
      "output": {
        "target": "com.resend.api#Domain"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/domains/{domain_id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a single domain"
      }
    },
    "com.resend.api#UpdateDomainRequest": {
      "type": "structure",
      "members": {
        "domain_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the domain."
          }
        },
        "open_tracking": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Track the open rate of each email."
          }
        },
        "click_tracking": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Track clicks within the body of each HTML email."
          }
        },
        "tls": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "enforced | opportunistic."
          }
        },
        "capabilities": {
          "target": "com.resend.api#DomainCapabilities"
        },
        "tracking_subdomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subdomain to use for click and open tracking."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.resend.api#UpdateDomainResponseSuccess": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the updated domain."
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object type representing the updated domain."
          }
        }
      },
      "traits": {}
    },
    "com.resend.api#UpdateDomain": {
      "type": "operation",
      "input": {
        "target": "com.resend.api#UpdateDomainRequest"
      },
      "output": {
        "target": "com.resend.api#UpdateDomainResponseSuccess"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/domains/{domain_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update an existing domain"
      }
    },
    "com.resend.api#DeleteDomainRequest": {
      "type": "structure",
      "members": {
        "domain_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the domain."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.resend.api#DeleteDomainResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of object."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the domain."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the domain was deleted successfully."
          }
        }
      },
      "traits": {}
    },
    "com.resend.api#DeleteDomain": {
      "type": "operation",
      "input": {
        "target": "com.resend.api#DeleteDomainRequest"
      },
      "output": {
        "target": "com.resend.api#DeleteDomainResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/domains/{domain_id}",
          "code": 200
        },
        "smithy.api#documentation": "Remove an existing domain"
      }
    },
    "com.resend.api#VerifyDomainRequest": {
      "type": "structure",
      "members": {
        "domain_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the domain."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.resend.api#VerifyDomainResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of object."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the domain."
          }
        }
      },
      "traits": {}
    },
    "com.resend.api#VerifyDomain": {
      "type": "operation",
      "input": {
        "target": "com.resend.api#VerifyDomainRequest"
      },
      "output": {
        "target": "com.resend.api#VerifyDomainResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domains/{domain_id}/verify",
          "code": 200
        },
        "smithy.api#documentation": "Verify an existing domain\n\nTriggers verification of the domain's DNS records including DKIM, SPF, and the tracking CNAME (if a tracking subdomain is configured)."
      }
    },
    "com.resend.api#ListApiKeysRequest": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of items to return."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "Return items after this cursor."
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "Return items before this cursor."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.resend.api#ListApiKeysResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the response object."
          }
        },
        "has_more": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there are more results available."
          }
        },
        "data": {
          "target": "com.resend.api#ListApiKeysResponseDataList"
        }
      },
      "traits": {}
    },
    "com.resend.api#ApiKey": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the API key."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the API key."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the API key was created."
          }
        },
        "last_used_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the API key was last used.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.resend.api#ListApiKeysResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.resend.api#ApiKey"
      },
      "traits": {}
    },
    "com.resend.api#ListApiKeys": {
      "type": "operation",
      "input": {
        "target": "com.resend.api#ListApiKeysRequest"
      },
      "output": {
        "target": "com.resend.api#ListApiKeysResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api-keys",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a list of API keys"
      }
    },
    "com.resend.api#CreateApiKeyRequestPermission": {
      "type": "enum",
      "members": {
        "FULL_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "full_access"
          }
        },
        "SENDING_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sending_access"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The API key can have full access to Resend’s API or be only restricted to send emails. * full_access - Can create, delete, get, and update any resource. * sending_access - Can only send emails."
      }
    },
    "com.resend.api#CreateApiKeyRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API key name.",
            "smithy.api#required": {}
          }
        },
        "permission": {
          "target": "com.resend.api#CreateApiKeyRequestPermission",
          "traits": {
            "smithy.api#documentation": "The API key can have full access to Resend’s API or be only restricted to send emails. * full_access - Can create, delete, get, and update any resource. * sending_access - Can only send emails."
          }
        },
        "domain_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Restrict an API key to send emails only from a specific domain. Only used when the permission is sending_access."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.resend.api#CreateApiKeyResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the API key."
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token of the API key."
          }
        }
      },
      "traits": {}
    },
    "com.resend.api#CreateApiKey": {
      "type": "operation",
      "input": {
        "target": "com.resend.api#CreateApiKeyRequest"
      },
      "output": {
        "target": "com.resend.api#CreateApiKeyResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api-keys",
          "code": 200
        },
        "smithy.api#documentation": "Create a new API key"
      }
    },
    "com.resend.api#DeleteApiKeyRequest": {
      "type": "structure",
      "members": {
        "api_key_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The API key ID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.resend.api#DeleteApiKeyResponse": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of object."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the API key."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the API key was successfully deleted."
          }
        }
      },
      "traits": {}
    },
    "com.resend.api#DeleteApiKey": {
      "type": "operation",
      "input": {
        "target": "com.resend.api#DeleteApiKeyRequest"
      },
      "output": {
        "target": "com.resend.api#DeleteApiKeyResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api-keys/{api_key_id}",
          "code": 200
        },
        "smithy.api#documentation": "Remove an existing API key"
      }
    },
    "com.resend.api#ListTemplatesRequest": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of items to return."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "Return items after this cursor."
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "Return items before this cursor."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.resend.api#ListTemplatesResponseSuccess": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the response object."
          }
        },
        "data": {
          "target": "com.resend.api#ListTemplatesResponseSuccessDataList",
          "traits": {
            "smithy.api#documentation": "Array containing templates information."
          }
        },
        "has_more": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if there are more templates to retrieve."
          }
        }
      },
      "traits": {}
    },
    "com.resend.api#TemplateListItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the template."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the template."
          }
        },
        "status": {
          "target": "com.resend.api#TemplateListItemStatus",
          "traits": {
            "smithy.api#documentation": "The publication status of the template."
          }
        },
        "published_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp indicating when the template was published.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp indicating when the template was created."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp indicating when the template was last updated."
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The alias of the template."
          }
        }
      },
      "traits": {}
    },
    "com.resend.api#TemplateListItemStatus": {
      "type": "enum",
      "members": {
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "draft"
          }
        },
        "PUBLISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "published"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The publication status of the template."
      }
    },
    "com.resend.api#ListTemplatesResponseSuccessDataList": {
      "type": "list",
      "member": {
        "target": "com.resend.api#TemplateListItem"
      },
      "traits": {
        "smithy.api#documentation": "Array containing templates information."
      }
    },
    "com.resend.api#ListTemplates": {
      "type": "operation",
      "input": {
        "target": "com.resend.api#ListTemplatesRequest"
      },
      "output": {
        "target": "com.resend.api#ListTemplatesResponseSuccess"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/templates",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a list of templates"
      }
    },
    "com.resend.api#CreateTemplateRequestReplyToList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Reply-to email addresses."
      }
    },
    "com.resend.api#TemplateVariableInput": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key of the variable.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.resend.api#TemplateVariableInputType",
          "traits": {
            "smithy.api#documentation": "The type of the variable.",
            "smithy.api#required": {}
          }
        },
        "fallback_value": {
          "target": "com.resend.api#TemplateVariableInputFallbackValue",
          "traits": {
            "smithy.api#documentation": "The fallback value of the variable."
          }
        }
      },
      "traits": {}
    },
    "com.resend.api#TemplateVariableInputType": {
      "type": "enum",
      "members": {
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        },
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean"
          }
        },
        "OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "object"
          }
        },
        "LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "list"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the variable."
      }
    },
    "com.resend.api#TemplateVariableInputFallbackValueCase4List": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.resend.api#TemplateVariableInputFallbackValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        },
        "Case3": {
          "target": "smithy.api#Document"
        },
        "Case4": {
          "target": "com.resend.api#TemplateVariableInputFallbackValueCase4List"
        }
      },
      "traits": {
        "smithy.api#documentation": "The fallback value of the variable."
      }
    },
    "com.resend.api#CreateTemplateRequestVariablesList": {
      "type": "list",
      "member": {
        "target": "com.resend.api#TemplateVariableInput"
      },
      "traits": {}
    },
    "com.resend.api#CreateTemplateRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the template.",
            "smithy.api#required": {}
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The alias of the template."
          }
        },
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sender email address. To include a friendly name, use the format \"Your Name <sender@domain.com>\"."
          }
        },
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email subject."
          }
        },
        "reply_to": {
          "target": "com.resend.api#CreateTemplateRequestReplyToList",
          "traits": {
            "smithy.api#documentation": "Reply-to email addresses."
          }
        },
        "html": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTML version of the template.",
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The plain text version of the template."
          }
        },
        "variables": {
          "target": "com.resend.api#CreateTemplateRequestVariablesList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.resend.api#CreateTemplateResponseSuccess": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the template."
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object type of the response."
          }
        }
      },
      "traits": {}
    },
    "com.resend.api#CreateTemplate": {
      "type": "operation",
      "input": {
        "target": "com.resend.api#CreateTemplateRequest"
      },
      "output": {
        "target": "com.resend.api#CreateTemplateResponseSuccess"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/templates",
          "code": 200
        },
        "smithy.api#documentation": "Create a template"
      }
    },
    "com.resend.api#GetTemplateRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Template ID or alias."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.resend.api#Template": {
      "type": "structure",
      "members": {
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of object."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the template."
          }
        },
        "current_version_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the current version of the template."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the template."
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The alias of the template."
          }
        },
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sender email address. To include a friendly name, use the format \"Your Name <sender@domain.com>\"."
          }
        },
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email subject."
          }
        },
        "reply_to": {
          "target": "com.resend.api#TemplateReplyToList",
          "traits": {
            "smithy.api#documentation": "Reply-to email addresses.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "html": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTML version of the template."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The plain text version of the template."
          }
        },
        "variables": {
          "target": "com.resend.api#TemplateVariablesList"
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp indicating when the template was created."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp indicating when the template was last updated."
          }
        },
        "status": {
          "target": "com.resend.api#TemplateStatus",
          "traits": {
            "smithy.api#documentation": "The publication status of the template."
          }
        },
        "published_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp indicating when the template was published.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_unpublished_versions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the template has unpublished versions."
          }
        }
      },
      "traits": {}
    },
    "com.resend.api#TemplateReplyToList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Reply-to email addresses."
      }
    },
    "com.resend.api#TemplateVariable": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the template variable."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key of the variable.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.resend.api#TemplateVariableType",
          "traits": {
            "smithy.api#documentation": "The type of the variable.",
            "smithy.api#required": {}
          }
        },
        "fallback_value": {
          "target": "com.resend.api#TemplateVariableFallbackValue",
          "traits": {
            "smithy.api#documentation": "The fallback value of the variable."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp indicating when the variable was created."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp indicating when the variable was last updated."
          }
        }
      },
      "traits": {}
    },
    "com.resend.api#TemplateVariableType": {
      "type": "enum",
      "members": {
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        },
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean"
          }
        },
        "OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "object"
          }
        },
        "LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "list"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the variable."
      }
    },
    "com.resend.api#TemplateVariableFallbackValueCase4List": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.resend.api#TemplateVariableFallbackValue": {
      "type": "union",
      "members": {
        "Case0": {
[...]
