{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.digitalocean.api#OneClicksListRequestType": {
      "type": "enum",
      "members": {
        "DROPLET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "droplet"
          }
        },
        "KUBERNETES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kubernetes"
          }
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#OneClicksListRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.digitalocean.api#OneClicksListRequestType",
          "traits": {
            "smithy.api#httpQuery": "type",
            "smithy.api#documentation": "Restrict results to a certain type of 1-Click."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.digitalocean.api#OneClicks": {
      "type": "structure",
      "members": {
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug identifier for the 1-Click application.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the 1-Click application.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#OneClicksListResponse1ClicksList": {
      "type": "list",
      "member": {
        "target": "com.digitalocean.api#OneClicks"
      },
      "traits": {}
    },
    "com.digitalocean.api#OneClicksListResponse": {
      "type": "structure",
      "members": {
        "_1_clicks": {
          "target": "com.digitalocean.api#OneClicksListResponse1ClicksList",
          "traits": {
            "smithy.api#jsonName": "1_clicks"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.digitalocean.api#OneClicksList": {
      "type": "operation",
      "input": {
        "target": "com.digitalocean.api#OneClicksListRequest"
      },
      "output": {
        "target": "com.digitalocean.api#OneClicksListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/1-clicks",
          "code": 200
        },
        "smithy.api#documentation": "List 1-Click Applications\n\nTo list all available 1-Click applications, send a GET request to `/v2/1-clicks`. The `type` may\nbe provided as query paramater in order to restrict results to a certain type of 1-Click, for\nexample: `/v2/1-clicks?type=droplet`. Current supported types are `kubernetes` and `droplet`.\n\nThe response will be a JSON object with a key called `1_clicks`. This will be set to an array of\n1-Click application data, each of which will contain the the slug and type for the 1-Click."
      }
    },
    "com.digitalocean.api#OneClicksInstallKubernetesRequestAddonSlugsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "An array of 1-Click Application slugs to be installed to the Kubernetes cluster."
      }
    },
    "com.digitalocean.api#OneClicksInstallKubernetesRequest": {
      "type": "structure",
      "members": {
        "addon_slugs": {
          "target": "com.digitalocean.api#OneClicksInstallKubernetesRequestAddonSlugsList",
          "traits": {
            "smithy.api#documentation": "An array of 1-Click Application slugs to be installed to the Kubernetes cluster.",
            "smithy.api#required": {}
          }
        },
        "cluster_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique ID for the Kubernetes cluster to which the 1-Click Applications will be installed.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.digitalocean.api#OneClicksInstallKubernetesResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A message about the result of the request."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.digitalocean.api#OneClicksInstallKubernetes": {
      "type": "operation",
      "input": {
        "target": "com.digitalocean.api#OneClicksInstallKubernetesRequest"
      },
      "output": {
        "target": "com.digitalocean.api#OneClicksInstallKubernetesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/1-clicks/kubernetes",
          "code": 200
        },
        "smithy.api#documentation": "Install Kubernetes 1-Click Applications\n\nTo install a Kubernetes 1-Click application on a cluster, send a POST request to\n`/v2/1-clicks/kubernetes`. The `addon_slugs` and `cluster_uuid` must be provided as body\nparameter in order to specify which 1-Click application(s) to install. To list all available\n1-Click Kubernetes applications, send a request to `/v2/1-clicks?type=kubernetes`."
      }
    },
    "com.digitalocean.api#Account": {
      "type": "structure",
      "members": {
        "droplet_limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of Droplets current user or team may have active at one time.\n<br><br>Requires `droplet:read` scope.\n",
            "smithy.api#required": {}
          }
        },
        "floating_ip_limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of Floating IPs the current user or team may have.\n<br><br>Requires `reserved_ip:read` scope.\n",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address used by the current user to register for DigitalOcean.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name for the current user."
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique universal identifier for the current user.",
            "smithy.api#required": {}
          }
        },
        "email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the user has verified their account via email. False otherwise.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.digitalocean.api#AccountStatus",
          "traits": {
            "smithy.api#documentation": "This value is one of \"active\", \"warning\" or \"locked\".",
            "smithy.api#required": {}
          }
        },
        "status_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable message giving more details about the status of the account.",
            "smithy.api#required": {}
          }
        },
        "team": {
          "target": "com.digitalocean.api#AccountTeam",
          "traits": {
            "smithy.api#documentation": "When authorized in a team context, includes information about the current team."
          }
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#AccountStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warning"
          }
        },
        "LOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "locked"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This value is one of \"active\", \"warning\" or \"locked\"."
      }
    },
    "com.digitalocean.api#AccountTeam": {
      "type": "structure",
      "members": {
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique universal identifier for the current team."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name for the current team."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When authorized in a team context, includes information about the current team."
      }
    },
    "com.digitalocean.api#AccountGetResponse": {
      "type": "structure",
      "members": {
        "account": {
          "target": "com.digitalocean.api#Account"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.digitalocean.api#AccountGet": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.digitalocean.api#AccountGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/account",
          "code": 200
        },
        "smithy.api#documentation": "Get User Information\n\nTo show information about the current user account, send a GET request to `/v2/account`."
      }
    },
    "com.digitalocean.api#SshKeysListRequest": {
      "type": "structure",
      "members": {
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "Number of items returned per page"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Which 'page' of paginated results to return."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.digitalocean.api#SshKeys": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "fingerprint": {
          "target": "smithy.api#String"
        },
        "public_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The entire public key string that was uploaded. Embedded into the root user's `authorized_keys` file if you include this key during Droplet creation.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#SshKeysListResponseSshKeysList": {
      "type": "list",
      "member": {
        "target": "com.digitalocean.api#SshKeys"
      },
      "traits": {}
    },
    "com.digitalocean.api#PageLinks": {
      "type": "structure",
      "members": {
        "pages": {
          "target": "com.digitalocean.api#PageLinksPages"
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#ForwardLinks": {
      "type": "structure",
      "members": {
        "last": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI of the last page of the results."
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI of the next page of the results."
          }
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#BackwardLinks": {
      "type": "structure",
      "members": {
        "first": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI of the first page of the results."
          }
        },
        "prev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI of the previous page of the results."
          }
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#PageLinksPages": {
      "type": "union",
      "members": {
        "ForwardLinks": {
          "target": "com.digitalocean.api#ForwardLinks"
        },
        "BackwardLinks": {
          "target": "com.digitalocean.api#BackwardLinks"
        },
        "Case2": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#SshKeysListResponseMeta": {
      "type": "structure",
      "members": {
        "total": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of objects returned by the request.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#SshKeysListResponse": {
      "type": "structure",
      "members": {
        "ssh_keys": {
          "target": "com.digitalocean.api#SshKeysListResponseSshKeysList"
        },
        "links": {
          "target": "com.digitalocean.api#PageLinks"
        },
        "meta": {
          "target": "com.digitalocean.api#SshKeysListResponseMeta",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.digitalocean.api#SshKeysList": {
      "type": "operation",
      "input": {
        "target": "com.digitalocean.api#SshKeysListRequest"
      },
      "output": {
        "target": "com.digitalocean.api#SshKeysListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/account/keys",
          "code": 200
        },
        "smithy.api#documentation": "List All SSH Keys\n\nTo list all of the keys in your account, send a GET request to `/v2/account/keys`. The response will be a JSON object with a key set to `ssh_keys`. The value of this will be an array of ssh_key objects, each of which contains the standard ssh_key attributes."
      }
    },
    "com.digitalocean.api#SshKeysCreateRequest": {
      "type": "structure",
      "members": {
        "public_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The entire public key string that was uploaded. Embedded into the root user's `authorized_keys` file if you include this key during Droplet creation.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.digitalocean.api#SshKeysCreateResponse": {
      "type": "structure",
      "members": {
        "ssh_key": {
          "target": "com.digitalocean.api#SshKeys"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.digitalocean.api#SshKeysCreate": {
      "type": "operation",
      "input": {
        "target": "com.digitalocean.api#SshKeysCreateRequest"
      },
      "output": {
        "target": "com.digitalocean.api#SshKeysCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/account/keys",
          "code": 200
        },
        "smithy.api#documentation": "Create a New SSH Key\n\nTo add a new SSH public key to your DigitalOcean account, send a POST request to `/v2/account/keys`. Set the `name` attribute to the name you wish to use and the `public_key` attribute to the full public key you are adding."
      }
    },
    "com.digitalocean.api#SshKeysGetRequest": {
      "type": "structure",
      "members": {
        "ssh_key_identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Either the ID or the fingerprint of an existing SSH key."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.digitalocean.api#SshKeysGetResponse": {
      "type": "structure",
      "members": {
        "ssh_key": {
          "target": "com.digitalocean.api#SshKeys"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.digitalocean.api#SshKeysGet": {
      "type": "operation",
      "input": {
        "target": "com.digitalocean.api#SshKeysGetRequest"
      },
      "output": {
        "target": "com.digitalocean.api#SshKeysGetResponse"
      },
      "errors": [
        {
          "target": "com.digitalocean.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/account/keys/{ssh_key_identifier}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve an Existing SSH Key\n\nTo get information about a key, send a GET request to `/v2/account/keys/$KEY_ID` or `/v2/account/keys/$KEY_FINGERPRINT`.\nThe response will be a JSON object with the key `ssh_key` and value an ssh_key object which contains the standard ssh_key attributes."
      }
    },
    "com.digitalocean.api#SshKeysUpdateRequest": {
      "type": "structure",
      "members": {
        "ssh_key_identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Either the ID or the fingerprint of an existing SSH key."
          }
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.digitalocean.api#SshKeysUpdateResponse": {
      "type": "structure",
      "members": {
        "ssh_key": {
          "target": "com.digitalocean.api#SshKeys"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.digitalocean.api#SshKeysUpdate": {
      "type": "operation",
      "input": {
        "target": "com.digitalocean.api#SshKeysUpdateRequest"
      },
      "output": {
        "target": "com.digitalocean.api#SshKeysUpdateResponse"
      },
      "errors": [
        {
          "target": "com.digitalocean.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v2/account/keys/{ssh_key_identifier}",
          "code": 200
        },
        "smithy.api#documentation": "Update an SSH Key's Name\n\nTo update the name of an SSH key, send a PUT request to either `/v2/account/keys/$SSH_KEY_ID` or `/v2/account/keys/$SSH_KEY_FINGERPRINT`. Set the `name` attribute to the new name you want to use."
      }
    },
    "com.digitalocean.api#SshKeysDeleteRequest": {
      "type": "structure",
      "members": {
        "ssh_key_identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Either the ID or the fingerprint of an existing SSH key."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.digitalocean.api#SshKeysDelete": {
      "type": "operation",
      "input": {
        "target": "com.digitalocean.api#SshKeysDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.digitalocean.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v2/account/keys/{ssh_key_identifier}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an SSH Key\n\nTo destroy a public SSH key that you have in your account, send a DELETE request to `/v2/account/keys/$KEY_ID` or `/v2/account/keys/$KEY_FINGERPRINT`.\nA 204 status will be returned, indicating that the action was successful and that the response body is empty."
      }
    },
    "com.digitalocean.api#ActionsListRequest": {
      "type": "structure",
      "members": {
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "Number of items returned per page"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Which 'page' of paginated results to return."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.digitalocean.api#Action": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "A unique numeric ID that can be used to identify and reference an action."
          }
        },
        "status": {
          "target": "com.digitalocean.api#ActionStatus",
          "traits": {
            "smithy.api#documentation": "The current status of the action. This can be \"in-progress\", \"completed\", or \"errored\"."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the type of action that the object represents. For example, this could be \"transfer\" to represent the state of an image transfer action."
          }
        },
        "started_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A time value given in ISO8601 combined date and time format that represents when the action was initiated."
          }
        },
        "completed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A time value given in ISO8601 combined date and time format that represents when the action was completed.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "resource_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "A unique identifier for the resource that the action is associated with.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of resource that the action is associated with."
          }
        },
        "region": {
          "target": "com.digitalocean.api#Region"
        },
        "region_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable string that is used as a unique identifier for each region.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#ActionStatus": {
      "type": "enum",
      "members": {
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in-progress"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "ERRORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "errored"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current status of the action. This can be \"in-progress\", \"completed\", or \"errored\"."
      }
    },
    "com.digitalocean.api#Region": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the region.  This will be a full name that is used in the control panel and other interfaces.",
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable string that is used as a unique identifier for each region.",
            "smithy.api#required": {}
          }
        },
        "features": {
          "target": "com.digitalocean.api#RegionFeaturesList",
          "traits": {
            "smithy.api#documentation": "This attribute is set to an array which contains features available in this region",
            "smithy.api#required": {}
          }
        },
        "available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This is a boolean value that represents whether new Droplets can be created in this region.",
            "smithy.api#required": {}
          }
        },
        "sizes": {
          "target": "com.digitalocean.api#RegionSizesList",
          "traits": {
            "smithy.api#documentation": "This attribute is set to an array which contains the identifying slugs for the sizes available in this region. sizes:read is required to view.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#RegionFeaturesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "This attribute is set to an array which contains features available in this region"
      }
    },
    "com.digitalocean.api#RegionSizesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "This attribute is set to an array which contains the identifying slugs for the sizes available in this region. sizes:read is required to view."
      }
    },
    "com.digitalocean.api#ActionsListResponseActionsList": {
      "type": "list",
      "member": {
        "target": "com.digitalocean.api#Action"
      },
      "traits": {}
    },
    "com.digitalocean.api#ActionsListResponseMeta": {
      "type": "structure",
      "members": {
        "total": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of objects returned by the request.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#ActionsListResponse": {
      "type": "structure",
      "members": {
        "actions": {
          "target": "com.digitalocean.api#ActionsListResponseActionsList"
        },
        "links": {
          "target": "com.digitalocean.api#PageLinks"
        },
        "meta": {
          "target": "com.digitalocean.api#ActionsListResponseMeta",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.digitalocean.api#ActionsList": {
      "type": "operation",
      "input": {
        "target": "com.digitalocean.api#ActionsListRequest"
      },
      "output": {
        "target": "com.digitalocean.api#ActionsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/actions",
          "code": 200
        },
        "smithy.api#documentation": "List All Actions\n\nThis will be the entire list of actions taken on your account, so it will be quite large. As with any large collection returned by the API, the results will be paginated with only 20 on each page by default."
      }
    },
    "com.digitalocean.api#ActionsGetRequest": {
      "type": "structure",
      "members": {
        "action_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique numeric ID that can be used to identify and reference an action."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.digitalocean.api#ActionsGetResponse": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.digitalocean.api#Action"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.digitalocean.api#ActionsGet": {
      "type": "operation",
      "input": {
        "target": "com.digitalocean.api#ActionsGetRequest"
      },
      "output": {
        "target": "com.digitalocean.api#ActionsGetResponse"
      },
      "errors": [
        {
          "target": "com.digitalocean.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/actions/{action_id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve an Existing Action\n\nTo retrieve a specific action object, send a GET request to `/v2/actions/$ACTION_ID`."
      }
    },
    "com.digitalocean.api#AddonsAppInfo": {
      "type": "structure",
      "members": {
        "app_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug identifier for the application associated with the resource.",
            "smithy.api#required": {}
          }
        },
        "tos": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Terms of Service URL for the resource.",
            "smithy.api#required": {}
          }
        },
        "eula": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The End User License Agreement URL for the resource.",
            "smithy.api#required": {}
          }
        },
        "plans": {
          "target": "com.digitalocean.api#AddonsAppInfoPlansList",
          "traits": {
            "smithy.api#documentation": "A list of plans available for the resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#AddonsPlan": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of a given plan.",
            "smithy.api#required": {}
          }
        },
        "app_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the app associated with this plan.",
            "smithy.api#required": {}
          }
        },
        "display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for a given plan.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of an app plan."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slug identifier for the plan.",
            "smithy.api#required": {}
          }
        },
        "price_per_month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Price of a month's usage of the plan in US dollars.",
            "smithy.api#required": {}
          }
        },
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the plan is currently active.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.digitalocean.api#AddonsPlanState",
          "traits": {
            "smithy.api#documentation": "Current state of the plan.",
            "smithy.api#required": {}
          }
        },
        "features": {
          "target": "com.digitalocean.api#AddonsPlanFeaturesList",
          "traits": {
            "smithy.api#documentation": "List of features included in the plan."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the plan was created.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the plan was last updated.",
            "smithy.api#required": {}
          }
        },
        "available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the plan is available for selection.",
            "smithy.api#required": {}
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the plan.",
            "smithy.api#required": {}
          }
        },
        "by_default": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this plan is the default option for the app.",
            "smithy.api#required": {}
          }
        },
        "dimensions": {
          "target": "com.digitalocean.api#AddonsPlanDimensionsList",
          "traits": {
            "smithy.api#documentation": "List of dimensions associated with the plan, each with its own pricing."
          }
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#AddonsPlanState": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        },
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "draft"
          }
        },
        "IN_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_review"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspended"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "archived"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current state of the plan."
      }
    },
    "com.digitalocean.api#AddonsFeature": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the app feature.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the feature.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.digitalocean.api#AddonsFeatureType",
          "traits": {
            "smithy.api#documentation": "Feature type, indicating the kind of data it holds.",
            "smithy.api#required": {}
          }
        },
        "unit": {
          "target": "com.digitalocean.api#AddonsFeatureUnit",
          "traits": {
            "smithy.api#documentation": "Unit of measurement for the feature, if applicable. Units apply to allowance features."
          }
        },
        "value": {
          "target": "com.digitalocean.api#AddonsFeatureValue",
          "traits": {
            "smithy.api#documentation": "Value of the feature, which can vary based on the type.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the feature was created.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the feature was last updated.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#AddonsFeatureType": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean"
          }
        },
        "ALLOWANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allowance"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Feature type, indicating the kind of data it holds."
      }
    },
    "com.digitalocean.api#AddonsFeatureUnit": {
      "type": "enum",
      "members": {
        "UNIT_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unit_unknown"
          }
        },
        "GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GB"
          }
        },
        "GIB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GIB"
          }
        },
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "count"
          }
        },
        "BYTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "byte"
          }
        },
        "BYTE_SECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "byte_second"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Unit of measurement for the feature, if applicable. Units apply to allowance features."
      }
    },
    "com.digitalocean.api#AddonsFeatureValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Value of the feature, which can vary based on the type."
      }
    },
    "com.digitalocean.api#AddonsPlanFeaturesList": {
      "type": "list",
      "member": {
        "target": "com.digitalocean.api#AddonsFeature"
      },
      "traits": {
        "smithy.api#documentation": "List of features included in the plan."
      }
    },
    "com.digitalocean.api#AddonsDimensionWithPrice": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the dimension.",
            "smithy.api#required": {}
          }
        },
        "sku": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique string identifier for the dimension, tied to a price.",
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slug identifier for the dimension.",
            "smithy.api#required": {}
          }
        },
        "display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the dimension.",
            "smithy.api#required": {}
          }
        },
        "feature_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the feature associated with the dimension.",
            "smithy.api#required": {}
          }
        },
        "volumes": {
          "target": "com.digitalocean.api#AddonsDimensionWithPriceVolumesList",
          "traits": {
            "smithy.api#documentation": "A list of volumes associated with the dimension, each with its own price.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#AddonsDimensionVolumeWithPrice": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the addon.",
            "smithy.api#required": {}
          }
        },
        "low_volume": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The minimum volume for the volume pricing tier.",
            "smithy.api#required": {}
          }
        },
        "max_volume": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum volume for the volume pricing tier.",
            "smithy.api#required": {}
          }
        },
        "price_per_unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The price per unit for the volume tier in US dollars.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#AddonsDimensionWithPriceVolumesList": {
      "type": "list",
      "member": {
        "target": "com.digitalocean.api#AddonsDimensionVolumeWithPrice"
      },
      "traits": {
        "smithy.api#documentation": "A list of volumes associated with the dimension, each with its own price."
      }
    },
    "com.digitalocean.api#AddonsPlanDimensionsList": {
      "type": "list",
      "member": {
        "target": "com.digitalocean.api#AddonsDimensionWithPrice"
      },
      "traits": {
        "smithy.api#documentation": "List of dimensions associated with the plan, each with its own pricing."
      }
    },
    "com.digitalocean.api#AddonsAppInfoPlansList": {
      "type": "list",
      "member": {
        "target": "com.digitalocean.api#AddonsPlan"
      },
      "traits": {
        "smithy.api#documentation": "A list of plans available for the resource."
      }
    },
    "com.digitalocean.api#AddonsGetAppResponseAppsList": {
      "type": "list",
      "member": {
        "target": "com.digitalocean.api#AddonsAppInfo"
      },
      "traits": {}
    },
    "com.digitalocean.api#AddonsGetAppResponse": {
      "type": "structure",
      "members": {
        "apps": {
          "target": "com.digitalocean.api#AddonsGetAppResponseAppsList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.digitalocean.api#AddonsGetApp": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.digitalocean.api#AddonsGetAppResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/add-ons/apps",
          "code": 200
        },
        "smithy.api#documentation": "List Available Add-On Applications\n\nTo fetch details of all available Add-On Applications, send a GET request to `/v2/add-ons/apps`."
      }
    },
    "com.digitalocean.api#AddonsGetAppMetadataRequest": {
      "type": "structure",
      "members": {
        "app_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The slug identifier for the application whose metadata is being requested."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.digitalocean.api#AddonsAppMetadata": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the addon metadata item.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the metadata item.",
            "smithy.api#required": {}
          }
        },
        "display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the metadata item.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A brief description of the metadata item.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.digitalocean.api#AddonsAppMetadataType",
          "traits": {
            "smithy.api#documentation": "The data type of the metadata value.",
            "smithy.api#required": {}
          }
        },
        "options": {
          "target": "com.digitalocean.api#AddonsAppMetadataOptionsList"
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#AddonsAppMetadataType": {
      "type": "enum",
      "members": {
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The data type of the metadata value."
      }
    },
    "com.digitalocean.api#AddonsAppMetadataOptionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.digitalocean.api#AddonsGetAppMetadataResponseMetadataList": {
      "type": "list",
      "member": {
        "target": "com.digitalocean.api#AddonsAppMetadata"
      },
      "traits": {}
    },
    "com.digitalocean.api#AddonsGetAppMetadataResponse": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.digitalocean.api#AddonsGetAppMetadataResponseMetadataList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.digitalocean.api#AddonsGetAppMetadata": {
      "type": "operation",
      "input": {
        "target": "com.digitalocean.api#AddonsGetAppMetadataRequest"
      },
      "output": {
        "target": "com.digitalocean.api#AddonsGetAppMetadataResponse"
      },
      "errors": [
        {
          "target": "com.digitalocean.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/add-ons/apps/{app_slug}/metadata",
          "code": 200
        },
        "smithy.api#documentation": "Get Metadata for an Add-On Application\n\nTo find out what metadata is required for a specific add-on, send a GET request to `/v2/add-ons/apps/{app_slug}/metadata`.\nMetadata varies by application."
      }
    },
    "com.digitalocean.api#AddonsResource": {
      "type": "structure",
      "members": {
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the addon resource.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the addon resource.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.digitalocean.api#AddonsResourceState",
          "traits": {
            "smithy.api#documentation": "The state the resource is currently in.",
            "smithy.api#required": {}
          }
        },
        "app_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the application associated with the resource."
          }
        },
        "app_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug identifier for the application associated with the resource.",
            "smithy.api#required": {}
          }
        },
        "plan_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the plan associated with the resource."
          }
        },
        "plan_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug identifier for the plan associated with the resource.",
            "smithy.api#required": {}
          }
        },
        "plan_price_per_month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The price of the plan per month in US dollars."
          }
        },
        "has_config": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the resource has configuration values set by the vendor.",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.digitalocean.api#AddonsResourceMetadataList",
          "traits": {
            "smithy.api#documentation": "Metadata associated with the resource, set by the user."
          }
        },
        "sso_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Single Sign-On URL for the resource, if applicable."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A message related to the resource, if applicable."
          }
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#AddonsResourceState": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provisioning"
          }
        },
        "PROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provisioned"
          }
        },
        "DEPROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deprovisioning"
          }
        },
        "DEPROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deprovisioned"
          }
        },
        "PROVISIONING_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provisioning-failed"
          }
        },
        "DEPROVISIONING_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deprovisioning-failed"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspended"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state the resource is currently in."
      }
    },
    "com.digitalocean.api#AddonsResourceMetadata": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the metadata item to be set.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.digitalocean.api#AddonsResourceMetadataValue",
          "traits": {
            "smithy.api#documentation": "The value to be set for the metadata item, which can be a string or boolean.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#AddonsResourceMetadataValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "The value to be set for the metadata item, which can be a string or boolean."
      }
    },
    "com.digitalocean.api#AddonsResourceMetadataList": {
      "type": "list",
      "member": {
        "target": "com.digitalocean.api#AddonsResourceMetadata"
      },
      "traits": {
        "smithy.api#documentation": "Metadata associated with the resource, set by the user."
      }
    },
    "com.digitalocean.api#AddonsListResponseResourcesList": {
      "type": "list",
      "member": {
        "target": "com.digitalocean.api#AddonsResource"
      },
      "traits": {}
    },
    "com.digitalocean.api#AddonsListResponse": {
      "type": "structure",
      "members": {
        "resources": {
          "target": "com.digitalocean.api#AddonsListResponseResourcesList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.digitalocean.api#AddonsList": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.digitalocean.api#AddonsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/add-ons/saas",
          "code": 200
        },
        "smithy.api#documentation": "List all Add-On Resources\n\nTo fetch all Add-On Resources under your team, send a GET request to `/v2/add-ons/saas`."
      }
    },
    "com.digitalocean.api#AddonsCreateRequestMetadataList": {
      "type": "list",
      "member": {
        "target": "com.digitalocean.api#AddonsResourceMetadata"
      },
      "traits": {
        "smithy.api#documentation": "Metadata associated with the resource, set by the user. Metadata expected varies per app, and can be verified with a GET request to \"/v2/add-ons/apps/{app_slug}/metadata\""
      }
    },
    "com.digitalocean.api#AddonsCreateRequest": {
      "type": "structure",
      "members": {
        "app_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug identifier for the application associated with the resource.",
            "smithy.api#required": {}
          }
        },
        "plan_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug identifier for the plan associated with the resource.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the addon resource.",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.digitalocean.api#AddonsCreateRequestMetadataList",
          "traits": {
            "smithy.api#documentation": "Metadata associated with the resource, set by the user. Metadata expected varies per app, and can be verified with a GET request to \"/v2/add-ons/apps/{app_slug}/metadata\"",
            "smithy.api#required": {}
          }
        },
        "linked_droplet_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the droplet to be linked to this resource, if applicable."
          }
        },
        "fleet_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the fleet/project to which this resource will belong."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.digitalocean.api#AddonsCreateResponse": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "com.digitalocean.api#AddonsResource"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.digitalocean.api#AddonsCreate": {
      "type": "operation",
      "input": {
        "target": "com.digitalocean.api#AddonsCreateRequest"
      },
      "output": {
        "target": "com.digitalocean.api#AddonsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/add-ons/saas",
          "code": 200
        },
        "smithy.api#documentation": "Create/Provision a New Add-on Resource\n\nTo create an add-on resource, send a POST request to `/v2/add-ons/saas` with required parameters.\nSome add-ons require additional metadata to be provided in the request body. To find out\nwhat metadata is required for a specific add-on, send a GET request to `/v2/add-ons/apps/{app_slug}/metadata`."
      }
    },
    "com.digitalocean.api#AddonsGetRequest": {
      "type": "structure",
      "members": {
        "resource_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the add-on resource to retrieve."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.digitalocean.api#AddonsGetResponse": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "com.digitalocean.api#AddonsResource"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.digitalocean.api#AddonsGet": {
      "type": "operation",
      "input": {
        "target": "com.digitalocean.api#AddonsGetRequest"
      },
      "output": {
        "target": "com.digitalocean.api#AddonsGetResponse"
      },
      "errors": [
        {
          "target": "com.digitalocean.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/add-ons/saas/{resource_uuid}",
          "code": 200
        },
        "smithy.api#documentation": "Get details on an Add-On Resource\n\nTo fetch details of a specific Add-On Resource, send a GET request to `/v2/add-ons/saas/{resource_uuid}`.\nReplace `{resource_uuid}` with the UUID of the resource you want to retrieve."
      }
    },
    "com.digitalocean.api#AddonsPatchRequest": {
      "type": "structure",
      "members": {
        "resource_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the add-on resource to rename."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new name for the add-on resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.digitalocean.api#AddonsPatchResponse": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "com.digitalocean.api#AddonsResource"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.digitalocean.api#AddonsPatch": {
      "type": "operation",
      "input": {
        "target": "com.digitalocean.api#AddonsPatchRequest"
      },
      "output": {
        "target": "com.digitalocean.api#AddonsPatchResponse"
      },
      "errors": [
        {
          "target": "com.digitalocean.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v2/add-ons/saas/{resource_uuid}",
          "code": 200
        },
        "smithy.api#documentation": "Update the name for an Add-On Resource\n\nTo change the name of an Add-On Resource, send a PATCH request to `/v2/add-ons/saas/{resource_uuid}`.\nReplace `{resource_uuid}` with the UUID of the resource for which you want to change the name."
      }
    },
    "com.digitalocean.api#AddonsDeleteRequest": {
      "type": "structure",
      "members": {
        "resource_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique identifier for the add-on resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.digitalocean.api#AddonsDelete": {
      "type": "operation",
      "input": {
        "target": "com.digitalocean.api#AddonsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.digitalocean.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v2/add-ons/saas/{resource_uuid}",
          "code": 200
        },
        "smithy.api#documentation": "Delete/Deprovision an Add-on Resource\n\nTo delete an add-on resource, send a DELETE request to `/v2/add-ons/saas/{resource_uuid}` with the UUID of the resource to delete. \nYou cannot retrieve the resource after it has been deleted. The response indicates a request was sent to the 3rd party add-on provider to delete the resource.\nYou will no longer be billed for this resource."
      }
    },
    "com.digitalocean.api#AddonsPatchPlanRequest": {
      "type": "structure",
      "members": {
        "resource_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The UUID of the add-on resource to update."
          }
        },
        "plan_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug identifier for the new plan to apply to the add-on resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.digitalocean.api#AddonsPatchPlanResponse": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "com.digitalocean.api#AddonsResource"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.digitalocean.api#AddonsPatchPlan": {
      "type": "operation",
      "input": {
        "target": "com.digitalocean.api#AddonsPatchPlanRequest"
      },
      "output": {
        "target": "com.digitalocean.api#AddonsPatchPlanResponse"
      },
      "errors": [
        {
          "target": "com.digitalocean.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v2/add-ons/saas/{resource_uuid}/plan",
          "code": 200
        },
        "smithy.api#documentation": "Update the plan for an Add-On Resource\n\nTo change the plan associated with an Add-On Resource, send a PATCH request to `/v2/add-ons/saas/{resource_uuid}/plan`.\nReplace `{resource_uuid}` with the UUID of the resource for which you want to change the plan."
      }
    },
    "com.digitalocean.api#AppsListRequest": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Which 'page' of paginated results to return."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "Number of items returned per page"
          }
        },
        "with_projects": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "with_projects",
            "smithy.api#documentation": "Whether the project_id of listed apps should be fetched and included."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.digitalocean.api#App": {
      "type": "structure",
      "members": {
        "active_deployment": {
          "target": "com.digitalocean.api#AppsDeployment"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "default_ingress": {
          "target": "smithy.api#String"
        },
        "domains": {
          "target": "com.digitalocean.api#AppDomainsList"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "in_progress_deployment": {
          "target": "com.digitalocean.api#AppsDeployment"
        },
        "last_deployment_created_at": {
          "target": "smithy.api#String"
        },
        "live_domain": {
          "target": "smithy.api#String"
        },
        "live_url": {
          "target": "smithy.api#String"
        },
        "live_url_base": {
          "target": "smithy.api#String"
        },
        "owner_uuid": {
          "target": "smithy.api#String"
        },
        "pending_deployment": {
          "target": "com.digitalocean.api#AppPendingDeployment"
        },
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Requires `project:read` scope."
          }
        },
        "region": {
          "target": "com.digitalocean.api#AppsRegion"
        },
        "spec": {
          "target": "com.digitalocean.api#AppSpec",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tier_slug": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "pinned_deployment": {
          "target": "com.digitalocean.api#AppPinnedDeployment"
        },
        "dedicated_ips": {
          "target": "com.digitalocean.api#AppDedicatedIpsList"
        },
        "vpc": {
          "target": "com.digitalocean.api#AppsVpc"
        }
      },
      "traits": {
        "smithy.api#documentation": "An application's configuration and status."
      }
    },
    "com.digitalocean.api#AppsDeployment": {
      "type": "structure",
      "members": {
        "cause": {
          "target": "smithy.api#String"
        },
        "cloned_from": {
          "target": "smithy.api#String"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "jobs": {
          "target": "com.digitalocean.api#AppsDeploymentJobsList"
        },
        "functions": {
          "target": "com.digitalocean.api#AppsDeploymentFunctionsList"
        },
        "phase": {
          "target": "com.digitalocean.api#AppsDeploymentPhase"
        },
        "phase_last_updated_at": {
          "target": "smithy.api#String"
        },
        "progress": {
          "target": "com.digitalocean.api#AppsDeploymentProgress"
        },
        "services": {
          "target": "com.digitalocean.api#AppsDeploymentServicesList"
        },
        "spec": {
          "target": "com.digitalocean.api#AppSpec"
        },
        "static_sites": {
          "target": "com.digitalocean.api#AppsDeploymentStaticSitesList"
        },
        "tier_slug": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "workers": {
          "target": "com.digitalocean.api#AppsDeploymentWorkersList"
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#AppsDeploymentJob": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "source_commit_hash": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#AppsDeploymentJobsList": {
      "type": "list",
      "member": {
        "target": "com.digitalocean.api#AppsDeploymentJob"
      },
      "traits": {}
    },
    "com.digitalocean.api#AppsDeploymentFunctions": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "source_commit_hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The commit hash of the repository that was used to build this functions component."
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The namespace where the functions are deployed."
          }
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#AppsDeploymentFunctionsList": {
      "type": "list",
      "member": {
        "target": "com.digitalocean.api#AppsDeploymentFunctions"
      },
      "traits": {}
    },
    "com.digitalocean.api#AppsDeploymentPhase": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "PENDING_BUILD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_BUILD"
          }
        },
        "BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILDING"
          }
        },
        "PENDING_DEPLOY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_DEPLOY"
          }
        },
        "DEPLOYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "SUPERSEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUPERSEDED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#AppsDeploymentProgress": {
      "type": "structure",
      "members": {
        "error_steps": {
          "target": "smithy.api#Integer"
        },
        "pending_steps": {
          "target": "smithy.api#Integer"
        },
        "running_steps": {
          "target": "smithy.api#Integer"
        },
        "steps": {
          "target": "com.digitalocean.api#AppsDeploymentProgressStepsList"
        },
        "success_steps": {
          "target": "smithy.api#Integer"
        },
        "summary_steps": {
          "target": "com.digitalocean.api#AppsDeploymentProgressSummaryStepsList"
        },
        "total_steps": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#AppsDeploymentProgressStep": {
      "type": "structure",
      "members": {
        "component_name": {
          "target": "smithy.api#String"
        },
        "ended_at": {
          "target": "smithy.api#String"
        },
        "message_base": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The base of a human-readable description of the step intended to be combined with the component name for presentation. For example:\n\n`message_base` = \"Building service\"\n`component_name` = \"api\""
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "reason": {
          "target": "com.digitalocean.api#AppsDeploymentProgressStepReason"
        },
        "started_at": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "com.digitalocean.api#AppsDeploymentProgressStepStatus"
        },
        "steps": {
          "target": "com.digitalocean.api#AppsDeploymentProgressStepStepsList"
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#AppsDeploymentProgressStepReason": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#AppsDeploymentProgressStepStatus": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#AppsDeploymentProgressStepStepsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.digitalocean.api#AppsDeploymentProgressStepsList": {
      "type": "list",
      "member": {
        "target": "com.digitalocean.api#AppsDeploymentProgressStep"
      },
      "traits": {}
    },
    "com.digitalocean.api#AppsDeploymentProgressSummaryStepsList": {
      "type": "list",
      "member": {
        "target": "com.digitalocean.api#AppsDeploymentProgressStep"
      },
      "traits": {}
    },
    "com.digitalocean.api#AppsDeploymentService": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "source_commit_hash": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#AppsDeploymentServicesList": {
      "type": "list",
      "member": {
        "target": "com.digitalocean.api#AppsDeploymentService"
      },
      "traits": {}
    },
    "com.digitalocean.api#AppSpec": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the app. Must be unique across all apps in the same account.",
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "com.digitalocean.api#AppSpecRegion",
          "traits": {
            "smithy.api#documentation": "The slug form of the geographical origin of the app. Default: `nearest available`"
          }
        },
        "disable_edge_cache": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to `true`, the app will **not** be cached at the edge (CDN). Enable this option if you want to manage CDN configuration yourself—whether by using an external CDN provider or by handling static content and caching within your app. This setting is also recommended for apps that require real-time data or serve dynamic content, such as those using Server-Sent Events (SSE) over GET, or hosting an MCP (Model Context Protocol) Server that utilizes SSE.  \n**Note:** This feature is not available for static site components.  \nFor more information, see [Disable CDN Cache](https://docs.digitalocean.com/products/app-platform/how-to/cache-content/#disable-cdn-cache)."
          }
        },
        "disable_email_obfuscation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to `true`, email addresses in the app will not be obfuscated. This is\nuseful for apps that require email addresses to be visible (in the HTML markup)."
          }
        },
        "enhanced_threat_control_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to `true`, suspicious requests will go through additional security checks to help mitigate layer 7 DDoS attacks."
          }
        },
        "domains": {
          "target": "com.digitalocean.api#AppSpecDomainsList",
          "traits": {
            "smithy.api#documentation": "A set of hostnames where the application will be available."
          }
        },
        "services": {
          "target": "com.digitalocean.api#AppSpecServicesList",
          "traits": {
            "smithy.api#documentation": "Workloads which expose publicly-accessible HTTP services."
          }
        },
        "static_sites": {
          "target": "com.digitalocean.api#AppSpecStaticSitesList",
          "traits": {
            "smithy.api#documentation": "Content which can be rendered to static web assets."
          }
        },
        "jobs": {
          "target": "com.digitalocean.api#AppSpecJobsList",
          "traits": {
            "smithy.api#documentation": "Pre and post deployment workloads which do not expose publicly-accessible HTTP routes."
          }
        },
        "workers": {
          "target": "com.digitalocean.api#AppSpecWorkersList",
          "traits": {
            "smithy.api#documentation": "Workloads which do not expose publicly-accessible HTTP services."
          }
        },
        "functions": {
          "target": "com.digitalocean.api#AppSpecFunctionsList",
          "traits": {
            "smithy.api#documentation": "Workloads which expose publicly-accessible HTTP services via Functions Components."
          }
        },
        "databases": {
          "target": "com.digitalocean.api#AppSpecDatabasesList",
          "traits": {
            "smithy.api#documentation": "Database instances which can provide persistence to workloads within the\napplication."
          }
        },
        "ingress": {
          "target": "com.digitalocean.api#AppIngressSpec"
        },
        "egress": {
          "target": "com.digitalocean.api#AppEgressSpec"
        },
        "maintenance": {
          "target": "com.digitalocean.api#AppMaintenanceSpec"
        },
        "vpc": {
          "target": "com.digitalocean.api#AppsVpc"
        }
      },
      "traits": {
        "smithy.api#documentation": "The desired configuration of an application."
      }
    },
    "com.digitalocean.api#AppSpecRegion": {
      "type": "enum",
      "members": {
        "ATL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "atl"
          }
        },
        "NYC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nyc"
          }
        },
        "SFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sfo"
          }
        },
        "TOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tor"
          }
        },
        "AMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ams"
          }
        },
        "FRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fra"
          }
        },
        "LON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lon"
          }
        },
        "BLR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blr"
          }
        },
        "SGP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sgp"
          }
        },
        "SYD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "syd"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The slug form of the geographical origin of the app. Default: `nearest available`"
      }
    },
    "com.digitalocean.api#AppDomainSpec": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname for the domain",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.digitalocean.api#AppDomainSpecType",
          "traits": {
            "smithy.api#documentation": "- DEFAULT: The default `.ondigitalocean.app` domain assigned to this app\n- PRIMARY: The primary domain for this app that is displayed as the default in the control panel, used in bindable environment variables, and any other places that reference an app's live URL. Only one domain may be set as primary.\n- ALIAS: A non-primary domain"
          }
        },
        "wildcard": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the domain includes all sub-domains, in addition to the given domain"
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If the domain uses DigitalOcean DNS and you would like App\nPlatform to automatically manage it for you, set this to the name of the\ndomain on your account.\n\nFor example, If the domain you are adding is `app.domain.com`, the zone\ncould be `domain.com`."
          }
        },
        "minimum_tls_version": {
          "target": "com.digitalocean.api#AppDomainSpecMinimumTlsVersion",
          "traits": {
            "smithy.api#documentation": "The minimum version of TLS a client application can use to access resources for the domain.  Must be one of the following values wrapped within quotations: `\"1.2\"` or `\"1.3\"`."
          }
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#AppDomainSpecType": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        },
        "PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIMARY"
          }
        },
        "ALIAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIAS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "- DEFAULT: The default `.ondigitalocean.app` domain assigned to this app\n- PRIMARY: The primary domain for this app that is displayed as the default in the control panel, used in bindable environment variables, and any other places that reference an app's live URL. Only one domain may be set as primary.\n- ALIAS: A non-primary domain"
      }
    },
    "com.digitalocean.api#AppDomainSpecMinimumTlsVersion": {
      "type": "enum",
      "members": {
        "_1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.2"
          }
        },
        "_1_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.3"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The minimum version of TLS a client application can use to access resources for the domain.  Must be one of the following values wrapped within quotations: `\"1.2\"` or `\"1.3\"`."
      }
    },
    "com.digitalocean.api#AppSpecDomainsList": {
      "type": "list",
      "member": {
        "target": "com.digitalocean.api#AppDomainSpec"
      },
      "traits": {
        "smithy.api#documentation": "A set of hostnames where the application will be available."
      }
    },
    "com.digitalocean.api#AppServiceSpec": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name. Must be unique across all components within the same app.",
            "smithy.api#required": {}
          }
        },
        "git": {
          "target": "com.digitalocean.api#AppsGitSourceSpec"
        },
        "github": {
          "target": "com.digitalocean.api#AppsGithubSourceSpec"
        },
        "gitlab": {
          "target": "com.digitalocean.api#AppsGitlabSourceSpec"
        },
        "bitbucket": {
          "target": "com.digitalocean.api#AppsBitbucketSourceSpec"
        },
        "image": {
          "target": "com.digitalocean.api#AppsImageSourceSpec"
        },
        "dockerfile_path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path to the Dockerfile relative to the root of the repo. If set, it will be used to build this component. Otherwise, App Platform will attempt to build it using buildpacks."
          }
        },
        "build_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional build command to run while building this component from source."
          }
        },
        "run_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional run command to override the component's default."
          }
        },
        "source_dir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional path to the working directory to use for the build. For Dockerfile builds, this will be used as the build context. Must be relative to the root of the repo."
          }
        },
        "envs": {
          "target": "com.digitalocean.api#AppServiceSpecEnvsList",
          "traits": {
            "smithy.api#documentation": "A list of environment variables made available to the component."
          }
        },
        "environment_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An environment slug describing the type of this app. For a full list, please refer to [the product documentation](https://docs.digitalocean.com/products/app-platform/)."
          }
        },
        "log_destinations": {
          "target": "com.digitalocean.api#AppServiceSpecLogDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of configured log forwarding destinations."
          }
        },
        "instance_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The amount of instances that this component should be scaled to. Default: 1. Must not be set if autoscaling is used."
          }
        },
        "instance_size_slug": {
          "target": "com.digitalocean.api#AppServiceSpecInstanceSizeSlug",
          "traits": {
            "smithy.api#documentation": "The instance size to use for this component. Default: `apps-s-1vcpu-0.5gb`"
          }
        },
        "autoscaling": {
          "target": "com.digitalocean.api#AppAutoscalingSpecService"
        },
        "cors": {
          "target": "com.digitalocean.api#AppServiceSpecCors"
        },
        "health_check": {
          "target": "com.digitalocean.api#AppServiceSpecHealthCheck"
        },
        "liveness_health_check": {
          "target": "com.digitalocean.api#AppHealthCheckSpec"
        },
        "protocol": {
          "target": "com.digitalocean.api#AppServiceSpecProtocol",
          "traits": {
            "smithy.api#documentation": "The protocol which the service uses to serve traffic on the http_port.\n\n- `HTTP`: The app is serving the HTTP protocol. Default.\n- `HTTP2`: The app is serving the HTTP/2 protocol. Currently, this needs to be implemented in the service by serving HTTP/2 cleartext (h2c).\n"
          }
        },
        "http_port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The internal port on which this service's run command will listen. Default: 8080\nIf there is not an environment variable with the name `PORT`, one will be automatically added with its value set to the value of this field."
          }
        },
        "internal_ports": {
          "target": "com.digitalocean.api#AppServiceSpecInternalPortsList",
          "traits": {
            "smithy.api#documentation": "The ports on which this service will listen for internal traffic."
          }
        },
        "routes": {
          "target": "com.digitalocean.api#AppServiceSpecRoutesList",
          "traits": {
            "smithy.api#documentation": "(Deprecated - Use Ingress Rules instead). A list of HTTP routes that should be routed to this component."
          }
        },
        "termination": {
          "target": "com.digitalocean.api#AppServiceSpecTermination"
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#AppsGitSourceSpec": {
      "type": "structure",
      "members": {
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the branch to use"
          }
        },
        "repo_clone_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The clone URL of the repo. Example: `https://github.com/digitalocean/sample-golang.git`"
          }
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#AppsGithubSourceSpec": {
      "type": "structure",
      "members": {
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the branch to use"
          }
        },
        "deploy_on_push": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to automatically deploy new commits made to the repo"
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the repo in the format owner/repo. Example: `digitalocean/sample-golang`"
          }
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#AppsGitlabSourceSpec": {
      "type": "structure",
      "members": {
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the branch to use"
          }
        },
        "deploy_on_push": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to automatically deploy new commits made to the repo"
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the repo in the format owner/repo. Example: `digitalocean/sample-golang`"
          }
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#AppsBitbucketSourceSpec": {
      "type": "structure",
      "members": {
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the branch to use"
          }
        },
        "deploy_on_push": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to automatically deploy new commits made to the repo"
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the repo in the format owner/repo. Example: `digitalocean/sample-golang`"
          }
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#AppsImageSourceSpec": {
      "type": "structure",
      "members": {
        "registry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The registry name. Must be left empty for the `DOCR` registry type."
          }
        },
        "registry_type": {
          "target": "com.digitalocean.api#AppsImageSourceSpecRegistryType",
          "traits": {
            "smithy.api#documentation": "- DOCKER_HUB: The DockerHub container registry type.\n- DOCR: The DigitalOcean container registry type.\n- GHCR: The Github container registry type."
          }
        },
        "registry_credentials": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The credentials to be able to pull the image. The value will be encrypted on first submission. On following submissions, the encrypted value should be used.\n- \"$username:$access_token\" for registries of type `DOCKER_HUB`.\n- \"$username:$access_token\" for registries of type `GHCR`."
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The repository name."
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The repository tag. Defaults to `latest` if not provided and no digest is provided. Cannot be specified if digest is provided."
          }
        },
        "digest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The image digest. Cannot be specified if tag is provided."
          }
        },
        "deploy_on_push": {
          "target": "com.digitalocean.api#AppsImageSourceSpecDeployOnPush"
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#AppsImageSourceSpecRegistryType": {
      "type": "enum",
      "members": {
        "DOCKER_HUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCKER_HUB"
          }
        },
        "DOCR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCR"
          }
        },
        "GHCR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GHCR"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "- DOCKER_HUB: The DockerHub container registry type.\n- DOCR: The DigitalOcean container registry type.\n- GHCR: The Github container registry type."
      }
    },
    "com.digitalocean.api#AppsImageSourceSpecDeployOnPush": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to automatically deploy new images. Can only be used for images hosted in DOCR and can only be used with an image tag, not a specific digest."
          }
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#AppVariableDefinition": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The variable name",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "com.digitalocean.api#AppVariableDefinitionScope",
          "traits": {
            "smithy.api#documentation": "- RUN_TIME: Made available only at run-time\n- BUILD_TIME: Made available only at build-time\n- RUN_AND_BUILD_TIME: Made available at both build and run-time"
          }
        },
        "type": {
          "target": "com.digitalocean.api#AppVariableDefinitionType",
          "traits": {
            "smithy.api#documentation": "- GENERAL: A plain-text environment variable\n- SECRET: A secret encrypted environment variable"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value. If the type is `SECRET`, the value will be encrypted on first submission. On following submissions, the encrypted value should be used."
          }
        }
      },
      "traits": {}
    },
    "com.digitalocean.api#AppVariableDefinitionScope": {
      "type": "enum",
      "members": {
        "UNSET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSET"
          }
        },
        "RUN_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUN_TIME"
          }
        },
        "BUILD_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILD_TIME"
          }
        },
        "RUN_AND_BUILD_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUN_AND_BUILD_TIME"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "- RUN_TIME: Made available only at run-time\n- BUILD_TIME: Made available only at build-time\n- RUN_AND_BUILD_TIME: Made available at both build and run-time"
      }
    },
    "com.digitalocean.api#AppVariableDefinitionType": {
      "type": "enum",
      "members": {
        "GENERAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERAL"
          }
        },
        "SECRET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECRET"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "- GENERAL: A plain-text environment variable\n- SECRET: A secret encrypted environment variable"
      }
    },
    "com.digitalocean.api#AppServiceSpecEnvsList": {
      "type": "list",
[...]
