{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.slack.admin#AnalyticsGetFileRequest": {
      "type": "structure",
      "members": {
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date",
            "smithy.api#documentation": "Date to retrieve the analytics data for, expressed as `YYYY-MM-DD` in UTC. Required unless `metadata_only` is set to true."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "type",
            "smithy.api#required": {},
            "smithy.api#documentation": "The type of analytics to retrieve. The options are currently limited to `member` (for Enterprise org member analytics) and `public_channel` (for public channel analytics)."
          }
        },
        "metadata_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "metadata_only",
            "smithy.api#documentation": "Retrieve metadata for the `type` of analytics indicated. Can be used only with `type` set to `public_channel` analytics. See [detail below](#metadata_only). Omit the `date` parameter when using this argument."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.admin#AnalyticsGetFileResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.admin#AnalyticsGetFile": {
      "type": "operation",
      "input": {
        "target": "com.slack.admin#AnalyticsGetFileRequest"
      },
      "output": {
        "target": "com.slack.admin#AnalyticsGetFileResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/admin.analytics.getFile",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve analytics data for a given date, presented as a compressed JSON file\n\nRequired scopes — user: `admin.analytics:read`\n\nRate limit tier: 2\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `data_not_available` — The `date` was before the API became available.\n  - `feature_not_available` — The user token does not belong to an Enterprise or Business+ team.\n  - `feature_not_enabled` — This feature is not enabled on your workspace.\n  - `file_not_found` — The analytics data for the `date` specified weren't found.\n  - `file_not_yet_available` — The analytics data for the `date` isn't available yet.\n  - `invalid_arguments` — Arguments weren't fully provided. For example, the `date` argument wasn't passed.\n  - `invalid_date` — The `date` argument was invalid.\n  - `invalid_type` — The analytics data for the `type` specified weren't found.\n  - `member_analytics_disabled` — Member analytics are disabled for your organization.\n  - `metadata_not_available` — Metadata not available for the analytics `type` you provided.\n  - `metadata_only_does_not_support_date` — The `metadata_only` field gets the latest metadata file. The `date` field is not supported.\n  - `missing_scope` — This token doesn't have the scope required.\n  - `not_an_admin` — The user token does not have admin privileges.\n  - `org_level_email_display_disabled` — This API is unavailable for organizations with a _'Hide email addresses'_ policy.\n  - `user_cannot_manage_public_channels` — The user must have permissions to manage public channels at the Enterprise level.\n\nSee https://docs.slack.dev/reference/methods/admin.analytics.getFile"
      }
    },
    "com.slack.admin#AnalyticsMessagesActivityRequest": {
      "type": "structure",
      "members": {
        "channel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "channel",
            "smithy.api#required": {},
            "smithy.api#documentation": "Channel ID for channel of the message activity to query."
          }
        },
        "oldest_ts": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "oldest_ts",
            "smithy.api#documentation": "Oldest timestamp to include in the results. Defaults to 7 days before current time. If not passed while still passing the `latest_ts` parameter, defaults to 7 days before `latest_ts`."
          }
        },
        "latest_ts": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "latest_ts",
            "smithy.api#documentation": "Most recent timestamp to include in results. Defaults to current time. If not passed while still passing the `oldest_ts` parameter, defaults to 7 days after `oldest_ts`."
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Paginate through collections of data by setting the `cursor` parameter to a `next_cursor` attribute returned by a previous request's `response_metadata`. Default value fetches the first \"page\" of the collection."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of entries to return. The maximum limit is 100."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.admin#AnalyticsMessagesActivityResponseResponseMetadata": {
      "type": "structure",
      "members": {
        "next_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cursor for the next page — pass as `cursor` on the next call."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pagination metadata. An empty `next_cursor` means the last page."
      }
    },
    "com.slack.admin#AnalyticsMessagesActivityResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        },
        "response_metadata": {
          "target": "com.slack.admin#AnalyticsMessagesActivityResponseResponseMetadata",
          "traits": {
            "smithy.api#documentation": "Pagination metadata. An empty `next_cursor` means the last page."
          }
        },
        "message_activities": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.admin#AnalyticsMessagesActivity": {
      "type": "operation",
      "input": {
        "target": "com.slack.admin#AnalyticsMessagesActivityRequest"
      },
      "output": {
        "target": "com.slack.admin#AnalyticsMessagesActivityResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/admin.analytics.messages.activity",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves activity metrics for messages from a given channel.\n\nRequired scopes — user: `admin.analytics:read`\n\nRate limit tier: 2\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `channel_not_found` — The specified channel was not found.\n  - `invalid_arguments` — Required arguments either were not provided or contain invalid values.\n  - `restricted_action` — The token does not have permission to access this resource.\n  - `not_an_enterprise` — The user token does not belong to an enterprise.\n  - `restricted_plan_level` — The enterprise plan level does not have access to this feature.\n\nSee https://docs.slack.dev/reference/methods/admin.analytics.messages.activity"
      }
    },
    "com.slack.admin#AnalyticsMessagesMetadataRequest": {
      "type": "structure",
      "members": {
        "channel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "channel",
            "smithy.api#required": {},
            "smithy.api#documentation": "Channel ID for channel containing the messages to query."
          }
        },
        "oldest_ts": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "oldest_ts",
            "smithy.api#documentation": "Oldest timestamp to include in the results"
          }
        },
        "latest_ts": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "latest_ts",
            "smithy.api#documentation": "Most recent timestamp to include in the results. If not passed, defaults to current time."
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Paginate through collections of data by setting the `cursor` parameter to a `next_cursor` attribute returned by a previous request's `response_metadata`. Default value fetches the first \"page\" of the collection. See [pagination](#pagination) for more details."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.admin#AnalyticsMessagesMetadataResponseResponseMetadata": {
      "type": "structure",
      "members": {
        "next_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cursor for the next page — pass as `cursor` on the next call."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pagination metadata. An empty `next_cursor` means the last page."
      }
    },
    "com.slack.admin#AnalyticsMessagesMetadataResponseMessagesItemReactionsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the reaction emoji",
            "smithy.api#required": {}
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of times this reaction was used",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.slack.admin#AnalyticsMessagesMetadataResponseMessagesItemReactionsList": {
      "type": "list",
      "member": {
        "target": "com.slack.admin#AnalyticsMessagesMetadataResponseMessagesItemReactionsItem"
      },
      "traits": {
        "smithy.api#documentation": "An array of reaction counts"
      }
    },
    "com.slack.admin#AnalyticsMessagesMetadataResponseMessagesItemFilesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encoded file ID",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp when file was created",
            "smithy.api#required": {}
          }
        },
        "timestamp": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp of the file",
            "smithy.api#required": {}
          }
        },
        "mimetype": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MIME type of the file"
          }
        },
        "filetype": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "File type"
          }
        },
        "subtype": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "File subtype"
          }
        },
        "pretty_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable file type"
          }
        },
        "is_external": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the file is external"
          }
        },
        "external_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of external file"
          }
        },
        "is_public": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the file is public"
          }
        },
        "public_url_shared": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the public URL is shared"
          }
        },
        "display_as_bot": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to display as bot"
          }
        },
        "duration_ms": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Duration in milliseconds for media files"
          }
        },
        "media_display_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display type for media files"
          }
        }
      },
      "traits": {}
    },
    "com.slack.admin#AnalyticsMessagesMetadataResponseMessagesItemFilesList": {
      "type": "list",
      "member": {
        "target": "com.slack.admin#AnalyticsMessagesMetadataResponseMessagesItemFilesItem"
      },
      "traits": {
        "smithy.api#documentation": "An array of files attached to the message"
      }
    },
    "com.slack.admin#AnalyticsMessagesMetadataResponseMessagesItem": {
      "type": "structure",
      "members": {
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encoded ID of user who authored message"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subtype": {
          "target": "smithy.api#String"
        },
        "ts": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of the message",
            "smithy.api#required": {}
          }
        },
        "thread_ts": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of message at the root of the thread"
          }
        },
        "display_as_bot": {
          "target": "smithy.api#Boolean"
        },
        "client_msg_id": {
          "target": "smithy.api#String"
        },
        "text_character_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of characters in the message text"
          }
        },
        "reactions": {
          "target": "com.slack.admin#AnalyticsMessagesMetadataResponseMessagesItemReactionsList",
          "traits": {
            "smithy.api#documentation": "An array of reaction counts"
          }
        },
        "files": {
          "target": "com.slack.admin#AnalyticsMessagesMetadataResponseMessagesItemFilesList",
          "traits": {
            "smithy.api#documentation": "An array of files attached to the message"
          }
        }
      },
      "traits": {}
    },
    "com.slack.admin#AnalyticsMessagesMetadataResponseMessagesList": {
      "type": "list",
      "member": {
        "target": "com.slack.admin#AnalyticsMessagesMetadataResponseMessagesItem"
      },
      "traits": {
        "smithy.api#documentation": "An array of message metadata"
      }
    },
    "com.slack.admin#AnalyticsMessagesMetadataResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        },
        "response_metadata": {
          "target": "com.slack.admin#AnalyticsMessagesMetadataResponseResponseMetadata",
          "traits": {
            "smithy.api#documentation": "Pagination metadata. An empty `next_cursor` means the last page."
          }
        },
        "messages": {
          "target": "com.slack.admin#AnalyticsMessagesMetadataResponseMessagesList",
          "traits": {
            "smithy.api#documentation": "An array of message metadata",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.admin#AnalyticsMessagesMetadata": {
      "type": "operation",
      "input": {
        "target": "com.slack.admin#AnalyticsMessagesMetadataRequest"
      },
      "output": {
        "target": "com.slack.admin#AnalyticsMessagesMetadataResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/admin.analytics.messages.metadata",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves metadata for a list of messages from a given channel.\n\nRequired scopes — user: `admin.analytics:read`\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `channel_not_found` — The specified channel was not found\n  - `invalid_arguments` — Required arguments either were not provided or contain invalid values.\n  - `not_an_enterprise` — The user token does not belong to an enterprise.\n  - `analytics_unavailable` — We were unable to find analytics for you.\n  - `admin_analytics_disabled` — We're having issues returning your analytics. Please wait and try again.\n  - `restricted_plan_level` — This feature is not available for your current product plan.\n  - `different_team_owns_message_metadata_for_channel` — Message metadata must be accessed by an actor from the same team that owns the channel. This may be the org or a specific enterprise workspace.\n\nSee https://docs.slack.dev/reference/methods/admin.analytics.messages.metadata",
        "smithy.api#paginated": {
          "mode": "cursor",
          "inputToken": "cursor",
          "outputToken": "response_metadata.next_cursor",
          "items": "messages"
        }
      }
    },
    "com.slack.admin#AppsActivitiesListRequestSortDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The direction you want the data sorted by (always by timestamp)"
      }
    },
    "com.slack.admin#AppsActivitiesListRequest": {
      "type": "structure",
      "members": {
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the app to get activities from."
          }
        },
        "team_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The team who owns this log."
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Paginate through collections of data by setting the `cursor` parameter to a `next_cursor` attribute returned by a previous request's `response_metadata`. See [pagination](/apis/web-api/pagination) for more detail."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of items to return."
          }
        },
        "min_log_level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The minimum log level of the log events to be returned. Defaults to `info`. Acceptable values (in order of relative importance from smallest to largest) are `trace`, `debug`, `info`, `warn`, `error` and `fatal`."
          }
        },
        "log_event_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The event type of log events to be returned."
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source of log events to be returned. Acceptable values are `slack` and `developer`."
          }
        },
        "component_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The component type of log events to be returned. Acceptable values are `events_api`, `workflows`, `functions` and `tables`."
          }
        },
        "component_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The component ID of log events to be returned. Will be `FnXXXXXX` for functions, and `WfXXXXXX` for workflows"
          }
        },
        "trace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The trace ID of log events to be returned."
          }
        },
        "min_date_created": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The earliest timestamp of the log to retrieve (epoch microseconds)."
          }
        },
        "max_date_created": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The latest timestamp of the log to retrieve (epoch microseconds)."
          }
        },
        "sort_direction": {
          "target": "com.slack.admin#AppsActivitiesListRequestSortDirection",
          "traits": {
            "smithy.api#documentation": "The direction you want the data sorted by (always by timestamp)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.admin#AppsActivitiesListResponseActivitiesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.slack.admin#AppsActivitiesListResponseResponseMetadata": {
      "type": "structure",
      "members": {
        "next_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cursor for the next page — pass as `cursor` on the next call."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pagination metadata. An empty `next_cursor` means the last page."
      }
    },
    "com.slack.admin#AppsActivitiesListResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        },
        "activities": {
          "target": "com.slack.admin#AppsActivitiesListResponseActivitiesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "response_metadata": {
          "target": "com.slack.admin#AppsActivitiesListResponseResponseMetadata",
          "traits": {
            "smithy.api#documentation": "Pagination metadata. An empty `next_cursor` means the last page."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.admin#AppsActivitiesList": {
      "type": "operation",
      "input": {
        "target": "com.slack.admin#AppsActivitiesListRequest"
      },
      "output": {
        "target": "com.slack.admin#AppsActivitiesListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/admin.apps.activities.list",
          "code": 200
        },
        "smithy.api#documentation": "Get logs for a specified team/org\n\nRequired scopes — user: `admin.app_activities:read`\n\nRate limit tier: 3\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `internal_error` — Something went wrong on our end, please try again.\n  - `invalid_app_id` — App ID provided is not valid.\n  - `invalid_app` — App ID provided is not valid for team and user.\n  - `invalid_args` — Required arguments either were not provided or contain invalid values.\n  - `invalid_cursor` — Value passed for `cursor` was not valid or is no longer valid.\n  - `invalid_team` — Team ID provided is not valid\n\nSee https://docs.slack.dev/reference/methods/admin.apps.activities.list",
        "com.distilled.openapi#contentType": "form-urlencoded",
        "smithy.api#paginated": {
          "mode": "cursor",
          "inputToken": "cursor",
          "outputToken": "response_metadata.next_cursor",
          "items": "activities",
          "pageSize": "limit"
        }
      }
    },
    "com.slack.admin#AppsApproveRequest": {
      "type": "structure",
      "members": {
        "allow_child_auto_install": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Auto-create an Admin-Approved App automation rule that pre-approves future child app installs from this manager app."
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the app to approve."
          }
        },
        "request_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the request to approve."
          }
        },
        "team_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the workspace to approve the app on"
          }
        },
        "enterprise_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the enterprise to approve the app on"
          }
        },
        "user_scopes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User scopes to approve for the app"
          }
        },
        "bot_scopes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Bot scopes to approve for the app"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.admin#AppsApproveResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.admin#AppsApprove": {
      "type": "operation",
      "input": {
        "target": "com.slack.admin#AppsApproveRequest"
      },
      "output": {
        "target": "com.slack.admin#AppsApproveResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/admin.apps.approve",
          "code": 200
        },
        "smithy.api#documentation": "Approve an app for installation on a workspace.\n\nRequired scopes — user: `admin.apps:write`\n\nRate limit tier: 2\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `app_management_app_not_installed_on_org` — The app management app must be installed on the org.\n  - `app_not_eligible_for_auto_install` — The app does not have the required scope to be eligible for auto-install rule creation.\n  - `app_restricted_org_wide` — The app is already restricted org wide.\n  - `auto_install_rule_creation_failed` — The app was approved successfully, but the auto-install AAA rule could not be created. Please create the rule manually.\n  - `custom_integration_not_allowed_at_enterprise` — Returned when the install request is for custom integration app.\n  - `feature_not_enabled` — Returned when the Admin APIs feature is not enabled for this team.\n  - `invalid_request_id` — The `request_id` passed is invalid.\n  - `invalid_app_id` — The `app_id` passed is invalid.\n  - `org_resolution_required` — The `team_id` is in an Enterprise org while `app_id` is certified.\n  - `invalid_scopes` — Some of the provided scopes do not exist.\n  - `not_allowed_to_create_automation_rule` — The actor does not have permission to create AAA automation rules. The app was approved but the auto-install rule was not created.\n  - `not_an_admin` — This method is only accessible by org owners and admins.\n  - `request_already_resolved` — The app request has already been resolved.\n  - `request_id_or_app_id_is_required` — Must include a `request_id` or `app_id`.\n  - `request_id_required_for_custom_integrations` — A `request_id` is required for custom integrations.\n  - `team_not_found` — Returned when team id is not found.\n  - `too_many_ids_provided` — Please provide only `app_id` OR `request_id`.\n  - `too_many_teams_provided` — Please provide only `team_id` OR `enterprise_id`.\n\nSee https://docs.slack.dev/reference/methods/admin.apps.approve"
      }
    },
    "com.slack.admin#AppsApprovedListRequest": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "The maximum number of items to return. Must be between 1 - 1000 both inclusive."
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Set `cursor` to `next_cursor` returned by the previous call to list items in the next page"
          }
        },
        "team_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "team_id"
          }
        },
        "enterprise_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "enterprise_id"
          }
        },
        "certified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "certified",
            "smithy.api#documentation": "Limit the results to only include certified apps. When false, no certified apps will appear in the result"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.admin#AppsApprovedListResponseApprovedAppsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.slack.admin#AppsApprovedListResponseResponseMetadata": {
      "type": "structure",
      "members": {
        "next_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cursor for the next page — pass as `cursor` on the next call."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pagination metadata. An empty `next_cursor` means the last page."
      }
    },
    "com.slack.admin#AppsApprovedListResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        },
        "approved_apps": {
          "target": "com.slack.admin#AppsApprovedListResponseApprovedAppsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "response_metadata": {
          "target": "com.slack.admin#AppsApprovedListResponseResponseMetadata",
          "traits": {
            "smithy.api#documentation": "Pagination metadata. An empty `next_cursor` means the last page."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.admin#AppsApprovedList": {
      "type": "operation",
      "input": {
        "target": "com.slack.admin#AppsApprovedListRequest"
      },
      "output": {
        "target": "com.slack.admin#AppsApprovedListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/admin.apps.approved.list",
          "code": 200
        },
        "smithy.api#documentation": "List approved apps for an org or workspace.\n\nRequired scopes — user: `admin.apps:read`\n\nRate limit tier: 2\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `app_management_app_not_installed_on_org` — The app management app must be installed on the org.\n  - `feature_not_enabled` — Returned when the Admin APIs feature is not enabled for this team\n  - `invalid_actor` — The provided actor_id is not a valid user or application\n  - `invalid_cursor` — Value passed for `cursor` was not valid or is no longer valid.\n  - `not_allowed` — The user is not allowed to access this API method\n  - `not_an_admin` — This method is only accessible by org/workspace owners and admins\n  - `team_not_found` — Returned when team id is not found.\n  - `too_many_teams_provided` — Please provide only `team_id` OR `enterprise_id`.\n  - `restricted_action` — User does not have permission to access method\n\nSee https://docs.slack.dev/reference/methods/admin.apps.approved.list",
        "smithy.api#paginated": {
          "mode": "cursor",
          "inputToken": "cursor",
          "outputToken": "response_metadata.next_cursor",
          "items": "approved_apps",
          "pageSize": "limit"
        }
      }
    },
    "com.slack.admin#AppsClearResolutionRequest": {
      "type": "structure",
      "members": {
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the app whose resolution you want to clear/undo.",
            "smithy.api#required": {}
          }
        },
        "team_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The workspace to clear the app resolution from"
          }
        },
        "enterprise_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The enterprise to clear the app resolution from"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.admin#AppsClearResolutionResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.admin#AppsClearResolution": {
      "type": "operation",
      "input": {
        "target": "com.slack.admin#AppsClearResolutionRequest"
      },
      "output": {
        "target": "com.slack.admin#AppsClearResolutionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/admin.apps.clearResolution",
          "code": 200
        },
        "smithy.api#documentation": "Clear an app resolution\n\nRequired scopes — user: `admin.apps:write`\n\nRate limit tier: 2\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `app_management_app_not_installed_on_org` — The app management app must be installed on the org.\n  - `feature_not_enabled` — Returned when the Admin APIs feature is not enabled for this team\n  - `invalid_app_id` — The `app_id` passed is invalid.\n  - `no_resolution_found` — No existing resolutions were found for the given `team` and `app_id`.\n  - `not_an_admin` — This method is only accessible by org owners and admins\n  - `access_denied` — This actor does not have access to the permissions on this resource.\n  - `team_not_found` — Returned when team id is not found.\n  - `too_many_teams_provided` — Please provide only `team_id` OR `enterprise_id`\n  - `restricted_action` — This actor does not have access to the permissions on this resource.\n\nSee https://docs.slack.dev/reference/methods/admin.apps.clearResolution"
      }
    },
    "com.slack.admin#AppsConfigLookupRequestAppIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "An array of app IDs to get app configs for"
      }
    },
    "com.slack.admin#AppsConfigLookupRequestRichLinkPreviewTypesItem": {
      "type": "enum",
      "members": {
        "ALL_DETAILS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all_details"
          }
        },
        "LIMITED_DETAILS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "limited_details"
          }
        },
        "NO_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_preview"
          }
        },
        "DEFAULT_TO_GLOBAL_SETTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default_to_global_setting"
          }
        }
      },
      "traits": {}
    },
    "com.slack.admin#AppsConfigLookupRequestRichLinkPreviewTypesList": {
      "type": "list",
      "member": {
        "target": "com.slack.admin#AppsConfigLookupRequestRichLinkPreviewTypesItem"
      },
      "traits": {
        "smithy.api#documentation": "return apps with the corresponding rich link preview layouts"
      }
    },
    "com.slack.admin#AppsConfigLookupRequest": {
      "type": "structure",
      "members": {
        "app_ids": {
          "target": "com.slack.admin#AppsConfigLookupRequestAppIdsList",
          "traits": {
            "smithy.api#documentation": "An array of app IDs to get app configs for"
          }
        },
        "rich_link_preview_types": {
          "target": "com.slack.admin#AppsConfigLookupRequestRichLinkPreviewTypesList",
          "traits": {
            "smithy.api#documentation": "return apps with the corresponding rich link preview layouts"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.admin#AppsConfigLookupResponseConfigsItemWorkflowAuthStrategy": {
      "type": "enum",
      "members": {
        "BUILDER_CHOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "builder_choice"
          }
        },
        "END_USER_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "end_user_only"
          }
        }
      },
      "traits": {}
    },
    "com.slack.admin#AppsConfigLookupResponseConfigsItem": {
      "type": "structure",
      "members": {
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workflow_auth_strategy": {
          "target": "com.slack.admin#AppsConfigLookupResponseConfigsItemWorkflowAuthStrategy",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "domain_restrictions": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.slack.admin#AppsConfigLookupResponseConfigsList": {
      "type": "list",
      "member": {
        "target": "com.slack.admin#AppsConfigLookupResponseConfigsItem"
      },
      "traits": {}
    },
    "com.slack.admin#AppsConfigLookupResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        },
        "configs": {
          "target": "com.slack.admin#AppsConfigLookupResponseConfigsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.admin#AppsConfigLookup": {
      "type": "operation",
      "input": {
        "target": "com.slack.admin#AppsConfigLookupRequest"
      },
      "output": {
        "target": "com.slack.admin#AppsConfigLookupResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/admin.apps.config.lookup",
          "code": 200
        },
        "smithy.api#documentation": "Look up the app config for connectors by their IDs\n\nRequired scopes — user: `admin.apps:read`\n\nRate limit tier: 2\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `missing_args` — Either app_ids or rich_link_preview_types must be provided\n\nSee https://docs.slack.dev/reference/methods/admin.apps.config.lookup"
      }
    },
    "com.slack.admin#AppsConfigSetRequestWorkflowAuthStrategy": {
      "type": "enum",
      "members": {
        "BUILDER_CHOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "builder_choice"
          }
        },
        "END_USER_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "end_user_only"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The workflow auth permission. Can be one of `builder_choice` or `end_user_only`."
      }
    },
    "com.slack.admin#AppsConfigSetRequestRichLinkPreviewType": {
      "type": "enum",
      "members": {
        "ALL_DETAILS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all_details"
          }
        },
        "LIMITED_DETAILS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "limited_details"
          }
        },
        "NO_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_preview"
          }
        },
        "DEFAULT_TO_GLOBAL_SETTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default_to_global_setting"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates the app-level override for rich link preview. Unsupported for free teams."
      }
    },
    "com.slack.admin#AppsConfigSetRequestDomainRestrictionsUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of URLs for allowed connector authorization"
      }
    },
    "com.slack.admin#AppsConfigSetRequestDomainRestrictionsEmailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of emails for allowed connector authorization"
      }
    },
    "com.slack.admin#AppsConfigSetRequestDomainRestrictions": {
      "type": "structure",
      "members": {
        "urls": {
          "target": "com.slack.admin#AppsConfigSetRequestDomainRestrictionsUrlsList",
          "traits": {
            "smithy.api#documentation": "List of URLs for allowed connector authorization"
          }
        },
        "emails": {
          "target": "com.slack.admin#AppsConfigSetRequestDomainRestrictionsEmailsList",
          "traits": {
            "smithy.api#documentation": "List of emails for allowed connector authorization"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Domain restrictions for the app. Should be an object with two properties: `urls` and `emails`. Each is an array of strings, and each sets the allowed URLs and emails for connector authorization, respectively."
      }
    },
    "com.slack.admin#AppsConfigSetRequest": {
      "type": "structure",
      "members": {
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The encoded app ID to set the app config for",
            "smithy.api#required": {}
          }
        },
        "workflow_auth_strategy": {
          "target": "com.slack.admin#AppsConfigSetRequestWorkflowAuthStrategy",
          "traits": {
            "smithy.api#documentation": "The workflow auth permission. Can be one of `builder_choice` or `end_user_only`."
          }
        },
        "rich_link_preview_type": {
          "target": "com.slack.admin#AppsConfigSetRequestRichLinkPreviewType",
          "traits": {
            "smithy.api#documentation": "Indicates the app-level override for rich link preview. Unsupported for free teams."
          }
        },
        "domain_restrictions": {
          "target": "com.slack.admin#AppsConfigSetRequestDomainRestrictions",
          "traits": {
            "smithy.api#documentation": "Domain restrictions for the app. Should be an object with two properties: `urls` and `emails`. Each is an array of strings, and each sets the allowed URLs and emails for connector authorization, respectively."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.admin#AppsConfigSetResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.admin#AppsConfigSet": {
      "type": "operation",
      "input": {
        "target": "com.slack.admin#AppsConfigSetRequest"
      },
      "output": {
        "target": "com.slack.admin#AppsConfigSetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/admin.apps.config.set",
          "code": 200
        },
        "smithy.api#documentation": "Set the app config for a connector\n\nRequired scopes — user: `admin.apps:write`\n\nRate limit tier: 3\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `access_denied` — This actor does not have access to the permissions on this resource.\n  - `no_domains_provided` — At least one allowed domain must be specified if populating the argument\n  - `too_many_domains_provided` — Too many domains provided. Please provide 50 or less for each type of domain\n  - `url_restriction_not_supported` — URL restriction is not supported for this app.\n  - `invalid_domains` — At least one URL or email is invalid\n  - `invalid_app` — App is invalid\n  - `invalid_workflow_auth_strategy` — workflow auth strategy is invalid\n  - `restricted_plan_level` — The given parameter is not supported on this team.\n  - `unknown_method` — This method does not exist.\n\nSee https://docs.slack.dev/reference/methods/admin.apps.config.set"
      }
    },
    "com.slack.admin#AppsMcpServersListRequest": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of items to return. Must be between 1 - 1000 both inclusive."
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set `cursor` to `next_cursor` returned by the previous call to list items in the next page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.admin#AppsMcpServersListResponseServersItem": {
      "type": "structure",
      "members": {
        "server_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encoded ID of the MCP server",
            "smithy.api#required": {}
          }
        },
        "server_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the MCP server",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the MCP server",
            "smithy.api#required": {}
          }
        },
        "auth_type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The authentication type for the MCP server",
            "smithy.api#required": {}
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encoded ID of the app that provides this MCP server",
            "smithy.api#required": {}
          }
        },
        "app_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the app that provides this MCP server",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.slack.admin#AppsMcpServersListResponseServersList": {
      "type": "list",
      "member": {
        "target": "com.slack.admin#AppsMcpServersListResponseServersItem"
      },
      "traits": {}
    },
    "com.slack.admin#AppsMcpServersListResponseResponseMetadata": {
      "type": "structure",
      "members": {
        "next_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cursor for the next page — pass as `cursor` on the next call."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pagination metadata. An empty `next_cursor` means the last page."
      }
    },
    "com.slack.admin#AppsMcpServersListResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        },
        "servers": {
          "target": "com.slack.admin#AppsMcpServersListResponseServersList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "response_metadata": {
          "target": "com.slack.admin#AppsMcpServersListResponseResponseMetadata",
          "traits": {
            "smithy.api#documentation": "Pagination metadata. An empty `next_cursor` means the last page."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.admin#AppsMcpServersList": {
      "type": "operation",
      "input": {
        "target": "com.slack.admin#AppsMcpServersListRequest"
      },
      "output": {
        "target": "com.slack.admin#AppsMcpServersListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/admin.apps.mcp.servers.list",
          "code": 200
        },
        "smithy.api#documentation": "List third-party app MCP servers approved for an organization, derived from the org's MCP server allowlist. Entries reflect allowlist state, not install/scope liveness: servers of apps that are uninstalled (but not deleted) are still listed.\n\nRequired scopes — user: `admin.apps:read`\n\nRate limit tier: 3\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `restricted_action` — User does not have permission to perform this action.\n  - `invalid_auth` — Invalid authorization token\n  - `invalid_cursor` — Value passed for `cursor` was not valid or is no longer valid.\n  - `not_an_enterprise` — This feature is only available on Enterprise Grid plans.\n  - `internal_error` — Internal error\n  - `feature_not_enabled` — The MCP server admin API feature is not enabled for this team.\n\nSee https://docs.slack.dev/reference/methods/admin.apps.mcp.servers.list",
        "smithy.api#paginated": {
          "mode": "cursor",
          "inputToken": "cursor",
          "outputToken": "response_metadata.next_cursor",
          "items": "servers",
          "pageSize": "limit"
        }
      }
    },
    "com.slack.admin#AppsMcpServersPermissionsListRequest": {
      "type": "structure",
      "members": {
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encoded ID of the app",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.admin#AppsMcpServersPermissionsListResponseServersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.slack.admin#AppsMcpServersPermissionsListResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        },
        "servers": {
          "target": "com.slack.admin#AppsMcpServersPermissionsListResponseServersList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.admin#AppsMcpServersPermissionsList": {
      "type": "operation",
      "input": {
        "target": "com.slack.admin#AppsMcpServersPermissionsListRequest"
      },
      "output": {
        "target": "com.slack.admin#AppsMcpServersPermissionsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/admin.apps.mcp.servers.permissions.list",
          "code": 200
        },
        "smithy.api#documentation": "List MCP servers for an app with their access control permissions\n\nRequired scopes — user: `admin.apps:read`\n\nRate limit tier: 3\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `restricted_action` — User does not have permission to perform this action.\n  - `invalid_auth` — Invalid authorization token\n  - `app_not_found` — This app does not exist.\n  - `not_an_enterprise` — This feature is only available on Enterprise Grid plans.\n  - `feature_not_enabled` — The MCP server ACL feature is not enabled for this team.\n  - `internal_error` — An internal error occurred while resolving the app's approved domains or ACLs. Retry the request.\n\nSee https://docs.slack.dev/reference/methods/admin.apps.mcp.servers.permissions.list"
      }
    },
    "com.slack.admin#AppsMcpServersPermissionsSetRequestPermissionType": {
      "type": "enum",
      "members": {
        "EVERYONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "everyone"
          }
        },
        "NO_ONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_one"
          }
        },
        "NAMED_ENTITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "named_entities"
          }
        },
        "NAMED_ENTITIES_EXCLUDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "named_entities_exclude"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of permission that defines who can use this MCP server"
      }
    },
    "com.slack.admin#AppsMcpServersPermissionsSetRequestUserIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of user IDs to set for named_entities or named_entities_exclude"
      }
    },
    "com.slack.admin#AppsMcpServersPermissionsSetRequestUsergroupIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of encoded usergroup IDs"
      }
    },
    "com.slack.admin#AppsMcpServersPermissionsSetRequest": {
      "type": "structure",
      "members": {
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encoded ID of the app",
            "smithy.api#required": {}
          }
        },
        "server_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encoded ID of the MCP server",
            "smithy.api#required": {}
          }
        },
        "permission_type": {
          "target": "com.slack.admin#AppsMcpServersPermissionsSetRequestPermissionType",
          "traits": {
            "smithy.api#documentation": "The type of permission that defines who can use this MCP server",
            "smithy.api#required": {}
          }
        },
        "user_ids": {
          "target": "com.slack.admin#AppsMcpServersPermissionsSetRequestUserIdsList",
          "traits": {
            "smithy.api#documentation": "List of user IDs to set for named_entities or named_entities_exclude"
          }
        },
        "usergroup_ids": {
          "target": "com.slack.admin#AppsMcpServersPermissionsSetRequestUsergroupIdsList",
          "traits": {
            "smithy.api#documentation": "List of encoded usergroup IDs"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.admin#AppsMcpServersPermissionsSetResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.admin#AppsMcpServersPermissionsSet": {
      "type": "operation",
      "input": {
        "target": "com.slack.admin#AppsMcpServersPermissionsSetRequest"
      },
      "output": {
        "target": "com.slack.admin#AppsMcpServersPermissionsSetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/admin.apps.mcp.servers.permissions.set",
          "code": 200
        },
        "smithy.api#documentation": "Set the access control permission for who can use an MCP server\n\nRequired scopes — user: `admin.apps:write`\n\nRate limit tier: 3\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `restricted_action` — User does not have permission to perform this action.\n  - `invalid_auth` — Invalid authorization token\n  - `app_not_found` — This app does not exist.\n  - `server_not_found` — The specified MCP server does not exist for this app.\n  - `not_an_enterprise` — This feature is only available on Enterprise Grid plans.\n  - `feature_not_enabled` — The MCP server ACL feature is not enabled for this team.\n  - `invalid_permission_type` — The permission_type value is not valid.\n  - `named_entities_cannot_be_empty` — Must pass at least one valid named entity when permission_type is named_entities or named_entities_exclude.\n  - `no_valid_named_entities` — None of the provided named entities were valid.\n  - `too_many_named_entities` — Too many named entities provided.\n  - `user_not_found` — One or more user IDs are not valid.\n  - `usergroup_not_found` — One or more usergroup IDs are not valid.\n  - `server_acl_type_broader_than_app` — The chosen permission type is broader than the app-level ACL allows.\n  - `server_acl_entities_not_in_scope` — One or more entities in the server ACL are not in scope of the app-level ACL.\n\nSee https://docs.slack.dev/reference/methods/admin.apps.mcp.servers.permissions.set"
      }
    },
    "com.slack.admin#AppsPermissionsAddRequestUserIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of user IDs to allow for named_entities visibility"
      }
    },
    "com.slack.admin#AppsPermissionsAddRequestUsergroupIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of encoded usergroup IDs"
      }
    },
    "com.slack.admin#AppsPermissionsAddRequest": {
      "type": "structure",
      "members": {
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encoded ID of the app",
            "smithy.api#required": {}
          }
        },
        "user_ids": {
          "target": "com.slack.admin#AppsPermissionsAddRequestUserIdsList",
          "traits": {
            "smithy.api#documentation": "List of user IDs to allow for named_entities visibility"
          }
        },
        "usergroup_ids": {
          "target": "com.slack.admin#AppsPermissionsAddRequestUsergroupIdsList",
          "traits": {
            "smithy.api#documentation": "List of encoded usergroup IDs"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.admin#AppsPermissionsAddResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.admin#AppsPermissionsAdd": {
      "type": "operation",
      "input": {
        "target": "com.slack.admin#AppsPermissionsAddRequest"
      },
      "output": {
        "target": "com.slack.admin#AppsPermissionsAddResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/admin.apps.permissions.add",
          "code": 200
        },
        "smithy.api#documentation": "Grant permission for entities to access an app that has its permission type set to named_entities\n\nRequired scopes — user: `admin.apps:write`\n\nRate limit tier: 2\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `invalid_auth` — Invalid authorization token\n  - `access_denied` — This actor does not have access to the permissions on this resource.\n  - `invalid_permission_type` — This app requires permission_type to be set as named_entities before adding users.\n  - `no_valid_named_entities` — None of the provided named entities were valid\n  - `too_many_named_entities` — Too many named entities passed into the app permissions setting.\n  - `app_not_found` — This app does not exist.\n  - `not_an_enterprise` — This feature is only available on Enterprise Grid plans.\n  - `app_acl_not_found` — This app does not have an ACL.\n  - `internal_error` — Internal error\n  - `user_not_found` — Value passed for `user_ids` was invalid.\n  - `invalid_entities` — Invalid entities.\n  - `invalid_channel_restriction_mode` — Cannot add channels when channel_restriction_mode is all_channels. Use set to configure a restriction mode first.\n  - `channel_not_found` — One or more channel IDs are not valid.\n  - `failed_to_update_channels` — An error occurred while updating the channel restriction list.\n\nSee https://docs.slack.dev/reference/methods/admin.apps.permissions.add"
      }
    },
    "com.slack.admin#AppsPermissionsListRequest": {
      "type": "structure",
      "members": {
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encoded ID of the app",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.admin#AppsPermissionsListResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.admin#AppsPermissionsList": {
      "type": "operation",
      "input": {
        "target": "com.slack.admin#AppsPermissionsListRequest"
      },
      "output": {
        "target": "com.slack.admin#AppsPermissionsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/admin.apps.permissions.list",
          "code": 200
        },
        "smithy.api#documentation": "Returns the permission type of an app and if applicable, includes the entities that have been granted access\n\nRequired scopes — user: `admin.apps:read`\n\nRate limit tier: 3\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `restricted_action` — User does not have permission to perform this action.\n  - `invalid_auth` — Invalid authorization token\n  - `access_denied` — This actor does not have access to the permissions on this resource.\n  - `app_not_found` — This app does not exist.\n  - `not_an_enterprise` — This feature is only available on Enterprise Grid plans.\n  - `invalid_permission_type` — The ACL has an invalid permission type.\n\nSee https://docs.slack.dev/reference/methods/admin.apps.permissions.list"
      }
    },
    "com.slack.admin#AppsPermissionsRemoveRequestUserIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of user IDs whose named_entities access will be revoked"
      }
    },
    "com.slack.admin#AppsPermissionsRemoveRequestUsergroupIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of encoded usergroup IDs"
      }
    },
    "com.slack.admin#AppsPermissionsRemoveRequest": {
      "type": "structure",
      "members": {
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encoded ID of the app",
            "smithy.api#required": {}
          }
        },
        "user_ids": {
          "target": "com.slack.admin#AppsPermissionsRemoveRequestUserIdsList",
          "traits": {
            "smithy.api#documentation": "List of user IDs whose named_entities access will be revoked"
          }
        },
        "usergroup_ids": {
          "target": "com.slack.admin#AppsPermissionsRemoveRequestUsergroupIdsList",
          "traits": {
            "smithy.api#documentation": "List of encoded usergroup IDs"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.admin#AppsPermissionsRemoveResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.admin#AppsPermissionsRemove": {
      "type": "operation",
      "input": {
        "target": "com.slack.admin#AppsPermissionsRemoveRequest"
      },
      "output": {
        "target": "com.slack.admin#AppsPermissionsRemoveResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/admin.apps.permissions.remove",
          "code": 200
        },
        "smithy.api#documentation": "Revoke an entity's access to an app that has its permission type set to named_entities\n\nRequired scopes — user: `admin.apps:write`\n\nRate limit tier: 2\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `invalid_auth` — Invalid authorization token\n  - `access_denied` — This actor does not have access to the permissions on this resource.\n  - `named_entities_cannot_be_empty` — There must be at least one valid named entity\n  - `app_not_found` — This app does not exist.\n  - `not_an_enterprise` — This feature is only available on Enterprise Grid plans.\n  - `invalid_permission_type` — This app requires permission_type to be set as named_entities before removing users.\n  - `too_many_named_entities` — Too many named entities passed into the app permissions setting.\n  - `app_acl_not_found` — This app does not have an ACL.\n  - `internal_error` — Internal error\n  - `user_not_found` — Value passed for `user_ids` was invalid.\n  - `invalid_channel_restriction_mode` — Cannot remove channels when channel_restriction_mode is all_channels.\n  - `channel_not_found` — One or more channel IDs are not valid.\n  - `failed_to_update_channels` — An error occurred while updating the channel restriction list.\n\nSee https://docs.slack.dev/reference/methods/admin.apps.permissions.remove"
      }
    },
    "com.slack.admin#AppsPermissionsSetRequestPermissionType": {
      "type": "enum",
      "members": {
        "EVERYONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "everyone"
          }
        },
        "NAMED_ENTITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "named_entities"
          }
        },
        "NO_ONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_one"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of permission that defines who can access the app"
      }
    },
    "com.slack.admin#AppsPermissionsSetRequestUserIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of user IDs to allow for named_entities visibility"
      }
    },
    "com.slack.admin#AppsPermissionsSetRequestUsergroupIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of encoded usergroup IDs"
      }
    },
    "com.slack.admin#AppsPermissionsSetRequest": {
      "type": "structure",
      "members": {
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encoded ID of the app",
            "smithy.api#required": {}
          }
        },
        "permission_type": {
          "target": "com.slack.admin#AppsPermissionsSetRequestPermissionType",
          "traits": {
            "smithy.api#documentation": "The type of permission that defines who can access the app",
            "smithy.api#required": {}
          }
        },
        "user_ids": {
          "target": "com.slack.admin#AppsPermissionsSetRequestUserIdsList",
          "traits": {
            "smithy.api#documentation": "List of user IDs to allow for named_entities visibility"
          }
        },
        "usergroup_ids": {
          "target": "com.slack.admin#AppsPermissionsSetRequestUsergroupIdsList",
          "traits": {
            "smithy.api#documentation": "List of encoded usergroup IDs"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.admin#AppsPermissionsSetResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.admin#AppsPermissionsSet": {
      "type": "operation",
      "input": {
        "target": "com.slack.admin#AppsPermissionsSetRequest"
      },
      "output": {
        "target": "com.slack.admin#AppsPermissionsSetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/admin.apps.permissions.set",
          "code": 200
        },
        "smithy.api#documentation": "Set the permission type for who can access an app\n\nRequired scopes — user: `admin.apps:write`\n\nRate limit tier: 2\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `invalid_auth` — Invalid authorization token\n  - `access_denied` — This actor does not have access to the permissions on this resource.\n  - `invalid_permission_type` — This app requires permission_type to be set as named_entities before adding users.\n  - `named_entities_cannot_be_empty` — Must pass at least one valid named entity.\n  - `no_valid_named_entities` — None of the provided named entities were valid\n  - `too_many_named_entities` — Too many named_entities passed into the app permissions setting.\n  - `app_not_found` — This app does not exist.\n  - `not_an_enterprise` — This feature is only available on Enterprise Grid plans.\n  - `user_not_found` — This actor does not have access to at least one valid named entity.\n  - `usergroup_not_found` — The usergroup is not valid.\n  - `invalid_channel_restriction_mode` — The channel_restriction_mode value is not valid.\n  - `channel_ids_required` — channel_ids is required when channel_restriction_mode is specific_channels or all_channels_except.\n  - `channel_not_found` — One or more channel IDs are not valid.\n\nSee https://docs.slack.dev/reference/methods/admin.apps.permissions.set"
      }
    },
    "com.slack.admin#AppsRequestsCancelRequest": {
      "type": "structure",
      "members": {
        "request_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the request to cancel.",
            "smithy.api#required": {}
          }
        },
        "team_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the workspace where this request belongs"
          }
        },
        "enterprise_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the enterprise where this request belongs"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.admin#AppsRequestsCancelResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.admin#AppsRequestsCancel": {
      "type": "operation",
      "input": {
        "target": "com.slack.admin#AppsRequestsCancelRequest"
      },
      "output": {
        "target": "com.slack.admin#AppsRequestsCancelResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/admin.apps.requests.cancel",
          "code": 200
        },
        "smithy.api#documentation": "Cancel app request for team\n\nRequired scopes — user: `admin.apps:write`\n\nRate limit tier: 2\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `app_management_app_not_installed_on_org` — The app management app must be installed on the org.\n  - `feature_not_enabled` — Returned when the Admin APIs feature is not enabled for this team\n  - `invalid_request_id` — The `request_id` passed is invalid.\n  - `not_an_admin` — This method is only accessible by org owners and admins\n  - `request_already_resolved` — The app request has already been resolved\n  - `team_not_found` — Returned when team id is not found.\n  - `too_many_teams_provided` — Please provide only `team_id` OR `enterprise_id`\n  - `restricted_action` — User is not authorized to perform this action\n  - `invalid_auth` — invalid token or actor does not have access\n\nSee https://docs.slack.dev/reference/methods/admin.apps.requests.cancel"
      }
    },
    "com.slack.admin#AppsRequestsListRequest": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "The maximum number of items to return. Must be between 1 - 1000 both inclusive."
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Set `cursor` to `next_cursor` returned by the previous call to list items in the next page"
          }
        },
        "team_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "team_id"
          }
        },
        "enterprise_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "enterprise_id"
          }
        },
        "certified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "certified",
            "smithy.api#documentation": "Include requests for certified apps"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.admin#AppsRequestsListResponseAppRequestsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.slack.admin#AppsRequestsListResponseResponseMetadata": {
      "type": "structure",
      "members": {
        "next_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cursor for the next page — pass as `cursor` on the next call."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pagination metadata. An empty `next_cursor` means the last page."
      }
    },
    "com.slack.admin#AppsRequestsListResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        },
        "app_requests": {
          "target": "com.slack.admin#AppsRequestsListResponseAppRequestsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "response_metadata": {
          "target": "com.slack.admin#AppsRequestsListResponseResponseMetadata",
          "traits": {
            "smithy.api#documentation": "Pagination metadata. An empty `next_cursor` means the last page."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.admin#AppsRequestsList": {
      "type": "operation",
      "input": {
        "target": "com.slack.admin#AppsRequestsListRequest"
      },
      "output": {
        "target": "com.slack.admin#AppsRequestsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/admin.apps.requests.list",
          "code": 200
        },
        "smithy.api#documentation": "List app requests for a team/workspace.\n\nRequired scopes — user: `admin.apps:read`\n\nRate limit tier: 2\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `app_management_app_not_installed_on_org` — The app management app must be installed on the org.\n  - `enterprise_not_found` — Returned when enterprise id is not found.\n  - `feature_not_enabled` — Returned when the Admin APIs feature is not enabled for this team\n  - `invalid_cursor` — Value passed for `cursor` was not valid or is no longer valid.\n  - `invalid_auth` — invalid token or actor does not have access\n  - `not_allowed` — The user is not allowed to access this API method\n  - `not_an_admin` — This method is only accessible by org owners and admins\n  - `restricted_action` — The action is restricted for this team\n  - `user_is_restricted` — This method is only accessible by org owners, admins, and integration managers\n  - `no_team_or_enterprise_provided` — Must provide team ID or enterprise ID\n  - `team_not_found` — Returned when team id is not found.\n  - `too_many_teams_provided` — Please provide only `team_id` OR `enterprise_id`\n\nSee https://docs.slack.dev/reference/methods/admin.apps.requests.list",
        "smithy.api#paginated": {
          "mode": "cursor",
          "inputToken": "cursor",
          "outputToken": "response_metadata.next_cursor",
          "items": "app_requests",
          "pageSize": "limit"
        }
      }
    },
    "com.slack.admin#AppsRestrictRequest": {
      "type": "structure",
      "members": {
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the app to restrict."
          }
        },
        "request_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the request to restrict."
          }
        },
        "team_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the workspace to approve the app on"
          }
        },
        "enterprise_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the enterprise to approve the app on"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.admin#AppsRestrictResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.admin#AppsRestrict": {
      "type": "operation",
      "input": {
        "target": "com.slack.admin#AppsRestrictRequest"
      },
      "output": {
        "target": "com.slack.admin#AppsRestrictResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/admin.apps.restrict",
          "code": 200
        },
        "smithy.api#documentation": "Restrict an app for installation on a workspace.\n\nRequired scopes — user: `admin.apps:write`\n\nRate limit tier: 2\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `app_management_app_not_installed_on_org` — The app management app must be installed on the org.\n  - `custom_integration_not_allowed_at_enterprise` — Returned when the install request is for custom integration app.\n  - `feature_not_enabled` — Returned when the Admin APIs feature is not enabled for this team\n  - `invalid_request_id` — The `request_id` passed is invalid.\n  - `invalid_app_id` — The `app_id` passed is invalid.\n  - `invalid_scopes` — Some of the provided scopes do not exist\n  - `not_an_admin` — This method is only accessible by org owners and admins\n  - `request_already_resolved` — The app request has already been resolved\n  - `request_id_or_app_id_is_required` — Must include a `request_id` or `app_id`\n  - `request_id_required_for_custom_integrations` — A `request_id` is required for custom integrations\n  - `team_not_found` — Returned when team id is not found.\n  - `too_many_ids_provided` — Please provide only `app_id` OR `request_id`\n  - `too_many_teams_provided` — Please provide only `team_id` OR `enterprise_id`\n\nSee https://docs.slack.dev/reference/methods/admin.apps.restrict"
      }
    },
    "com.slack.admin#AppsRestrictedListRequest": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "The maximum number of items to return. Must be between 1 - 1000 both inclusive."
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Set `cursor` to `next_cursor` returned by the previous call to list items in the next page"
          }
        },
        "team_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "team_id"
          }
        },
        "enterprise_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "enterprise_id"
          }
        },
        "certified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "certified",
            "smithy.api#documentation": "Limit the results to only include certified apps. When false, no certified apps will appear in the result"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.admin#AppsRestrictedListResponseRestrictedAppsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.slack.admin#AppsRestrictedListResponseResponseMetadata": {
      "type": "structure",
      "members": {
        "next_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cursor for the next page — pass as `cursor` on the next call."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pagination metadata. An empty `next_cursor` means the last page."
      }
    },
    "com.slack.admin#AppsRestrictedListResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        },
        "restricted_apps": {
          "target": "com.slack.admin#AppsRestrictedListResponseRestrictedAppsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "response_metadata": {
          "target": "com.slack.admin#AppsRestrictedListResponseResponseMetadata",
          "traits": {
            "smithy.api#documentation": "Pagination metadata. An empty `next_cursor` means the last page."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.admin#AppsRestrictedList": {
      "type": "operation",
      "input": {
        "target": "com.slack.admin#AppsRestrictedListRequest"
      },
      "output": {
        "target": "com.slack.admin#AppsRestrictedListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/admin.apps.restricted.list",
          "code": 200
        },
        "smithy.api#documentation": "List restricted apps for an org or workspace.\n\nRequired scopes — user: `admin.apps:read`\n\nRate limit tier: 2\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `app_management_app_not_installed_on_org` — The app management app must be installed on the org.\n  - `feature_not_enabled` — Returned when the Admin APIs feature is not enabled for this team\n  - `invalid_actor` — The provided actor_id is not a valid user or application\n  - `invalid_cursor` — Value passed for `cursor` was not valid or is no longer valid.\n  - `not_allowed` — The user is not allowed to access this API method\n  - `not_an_admin` — This method is only accessible by org/workspace owners and admins\n  - `team_not_found` — Returned when team id is not found.\n  - `too_many_teams_provided` — Please provide only `team_id` OR `enterprise_id`.\n  - `restricted_action` — User does not have permission to access method\n\nSee https://docs.slack.dev/reference/methods/admin.apps.restricted.list",
        "smithy.api#paginated": {
          "mode": "cursor",
          "inputToken": "cursor",
          "outputToken": "response_metadata.next_cursor",
          "items": "restricted_apps",
          "pageSize": "limit"
        }
      }
    },
    "com.slack.admin#AppsUninstallRequest": {
      "type": "structure",
      "members": {
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the app to uninstall.",
            "smithy.api#required": {}
          }
        },
        "team_ids": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IDs of the teams to uninstall from (max 100). With an org-level token, this or `enterprise_id` is required."
          }
        },
        "enterprise_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The enterprise to completely uninstall the application from (across all workspaces). With an org-level token, this or `team_ids` is required."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.admin#AppsUninstallResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.admin#AppsUninstall": {
      "type": "operation",
      "input": {
        "target": "com.slack.admin#AppsUninstallRequest"
      },
      "output": {
        "target": "com.slack.admin#AppsUninstallResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/admin.apps.uninstall",
          "code": 200
        },
        "smithy.api#documentation": "Uninstall an app from one or many workspaces, or an entire enterprise organization.\n\nRequired scopes — user: `admin.apps:write`\n\nRate limit tier: 1\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `app_not_found` — The provided `app_id` was not found.\n  - `can_not_uninstall` — This application can not be uninstalled via the API.\n  - `enterprise_not_found` — The provided `enterprise_id` was not found.\n  - `feature_not_enabled` — The Admin APIs feature is not enabled for this team.\n  - `must_revoke_access` — Organization-deployed apps cannot be uninstalled from specific workspaces using this API.\n  - `permission_denied` — You do not have permission to uninstall applications from the reqeusted org or workspaces.\n  - `specify_enterprise_or_teams` — Provide exactly one of `enterprise_id` or `team_ids`.\n  - `teams_not_found` — One or more of the provided `team_ids` were not found.\n  - `too_many_teams` — Too many IDs are present in `team_ids`.\n  - `restricted_action` — the user is not authorized to perform this action\n\nSee https://docs.slack.dev/reference/methods/admin.apps.uninstall"
      }
    },
    "com.slack.admin#AuditAnomalyAllowGetItemResponseTrustedCidrList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "allow list of IPv4 addresses using cidr notation in the Enterprise organization configuration"
      }
    },
    "com.slack.admin#AuditAnomalyAllowGetItemResponseTrustedAsnsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "allow list of Autonomous System Numbers (ASN) in the Enterprise organization configuration"
      }
    },
    "com.slack.admin#AuditAnomalyAllowGetItemResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        },
        "trusted_cidr": {
          "target": "com.slack.admin#AuditAnomalyAllowGetItemResponseTrustedCidrList",
          "traits": {
            "smithy.api#documentation": "allow list of IPv4 addresses using cidr notation in the Enterprise organization configuration"
          }
        },
        "trusted_asns": {
          "target": "com.slack.admin#AuditAnomalyAllowGetItemResponseTrustedAsnsList",
          "traits": {
            "smithy.api#documentation": "allow list of Autonomous System Numbers (ASN) in the Enterprise organization configuration"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.admin#AuditAnomalyAllowGetItem": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.slack.admin#AuditAnomalyAllowGetItemResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/admin.audit.anomaly.allow.getItem",
          "code": 200
        },
        "smithy.api#documentation": "API to allow Enterprise org admins to read the allow list of IP blocks and ASNs from the enterprise configuration.\n\nRequired scopes — user: `admin`\n\nRate limit tier: 2\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `endpoint_unavailable` — The requested endpoint is currently unavailable.\n  - `not_an_enterprise` — The user is not an enterprise admin.\n  - `not_authed` — auth token is not valid.\n  - `unsupported_action_describe` — The user specified action is unsupported\n  - `unsupported_action_put` — The user specified action is unsupported\n\nSee https://docs.slack.dev/reference/methods/admin.audit.anomaly.allow.getItem"
      }
    },
    "com.slack.admin#AuditAnomalyAllowUpdateItemRequestTrustedCidrList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "allow list of IPv4 addresses using cidr notation in the Enterprise organization configuration"
      }
    },
    "com.slack.admin#AuditAnomalyAllowUpdateItemRequestTrustedAsnsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "allow list of Autonomous System Numbers (ASN) in the Enterprise organization configuration"
      }
    },
    "com.slack.admin#AuditAnomalyAllowUpdateItemRequest": {
      "type": "structure",
      "members": {
        "trusted_cidr": {
          "target": "com.slack.admin#AuditAnomalyAllowUpdateItemRequestTrustedCidrList",
          "traits": {
            "smithy.api#documentation": "allow list of IPv4 addresses using cidr notation in the Enterprise organization configuration"
          }
        },
        "trusted_asns": {
          "target": "com.slack.admin#AuditAnomalyAllowUpdateItemRequestTrustedAsnsList",
          "traits": {
            "smithy.api#documentation": "allow list of Autonomous System Numbers (ASN) in the Enterprise organization configuration"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.admin#AuditAnomalyAllowUpdateItemResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.admin#AuditAnomalyAllowUpdateItem": {
      "type": "operation",
      "input": {
        "target": "com.slack.admin#AuditAnomalyAllowUpdateItemRequest"
      },
      "output": {
        "target": "com.slack.admin#AuditAnomalyAllowUpdateItemResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/admin.audit.anomaly.allow.updateItem",
          "code": 200
        },
        "smithy.api#documentation": "API to allow Enterprise org admins to write/overwrite the allow list of IP blocks and ASNs from the enterprise configuration.\n\nRequired scopes — user: `admin`\n\nRate limit tier: 2\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `endpoint_unavailable` — The requested endpoint is currently unavailable.\n  - `invalid_field_or_data` — user attempted to write and invalid field or data to the team config\n  - `unable_to_process_post_request` — The user sent a malformed post request\n  - `unsupported_action_describe` — The user specified describe action is unsupported\n  - `unsupported_action_put` — The user specified put action is unsupported\n\nSee https://docs.slack.dev/reference/methods/admin.audit.anomaly.allow.updateItem"
      }
    },
    "com.slack.admin#AuthPolicyAssignEntitiesRequestEntityIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Array of IDs to assign to the policy."
      }
    },
    "com.slack.admin#AuthPolicyAssignEntitiesRequest": {
      "type": "structure",
      "members": {
        "policy_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the authentication policy to assign the entities to. Currently, `email_password` is the only policy that may be used with this method.",
            "smithy.api#required": {}
          }
        },
        "entity_type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The type of entity to assign to the policy. Currently, `USER` is supported.",
            "smithy.api#required": {}
          }
        },
[...]
