{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.slack.auth#RevokeRequest": {
      "type": "structure",
      "members": {
        "test": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "test",
            "smithy.api#documentation": "Setting this parameter to `1` triggers a _testing mode_ where the specified token will not actually be revoked."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.auth#RevokeResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        },
        "revoked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.auth#Revoke": {
      "type": "operation",
      "input": {
        "target": "com.slack.auth#RevokeRequest"
      },
      "output": {
        "target": "com.slack.auth#RevokeResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/auth.revoke",
          "code": 200
        },
        "smithy.api#documentation": "Revokes a token.\n\nRate limit tier: 3\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `internal_error` — Internal system error\n  - `not_bearer_token` — Incompatible token type provided\n\nSee https://docs.slack.dev/reference/methods/auth.revoke"
      }
    },
    "com.slack.auth#TeamsListRequest": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of workspaces to return. Must be a positive integer no larger than 1000."
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set `cursor` to `next_cursor` returned by the previous call to list items in the next page."
          }
        },
        "include_icon": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to return icon paths for each workspace. An icon path represents a URI pointing to the image signifying the workspace."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.auth#TeamsListResponseTeamsItemIcon": {
      "type": "structure",
      "members": {
        "image_34": {
          "target": "smithy.api#String"
        },
        "image_44": {
          "target": "smithy.api#String"
        },
        "image_68": {
          "target": "smithy.api#String"
        },
        "image_88": {
          "target": "smithy.api#String"
        },
        "image_102": {
          "target": "smithy.api#String"
        },
        "image_132": {
          "target": "smithy.api#String"
        },
        "image_230": {
          "target": "smithy.api#String"
        },
        "image_default": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Paths to icons"
      }
    },
    "com.slack.auth#TeamsListResponseTeamsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the workspace"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the workspace",
            "smithy.api#required": {}
          }
        },
        "icon": {
          "target": "com.slack.auth#TeamsListResponseTeamsItemIcon",
          "traits": {
            "smithy.api#documentation": "Paths to icons"
          }
        }
      },
      "traits": {}
    },
    "com.slack.auth#TeamsListResponseTeamsList": {
      "type": "list",
      "member": {
        "target": "com.slack.auth#TeamsListResponseTeamsItem"
      },
      "traits": {}
    },
    "com.slack.auth#TeamsListResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        },
        "teams": {
          "target": "com.slack.auth#TeamsListResponseTeamsList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.auth#TeamsList": {
      "type": "operation",
      "input": {
        "target": "com.slack.auth#TeamsListRequest"
      },
      "output": {
        "target": "com.slack.auth#TeamsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/auth.teams.list",
          "code": 200
        },
        "smithy.api#documentation": "Obtain a full list of workspaces your org-wide app has been approved for.\n\nRate limit tier: 2\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `invalid_cursor` — Invalid cursor.\n  - `invalid_limit` — The value passed for `limit` was not valid.\n  - `invalid_auth` — The token doesn't have access to this endpoint.\n  - `internal_error` — There was an internal error.\n\nSee https://docs.slack.dev/reference/methods/auth.teams.list",
        "com.distilled.openapi#contentType": "form-urlencoded"
      }
    },
    "com.slack.auth#TestResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        },
        "user_id": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String"
        },
        "team_id": {
          "target": "smithy.api#String"
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "team": {
          "target": "smithy.api#String"
        },
        "app_id": {
          "target": "smithy.api#String"
        },
        "app_name": {
          "target": "smithy.api#String"
        },
        "enterprise_id": {
          "target": "smithy.api#String"
        },
        "bot_id": {
          "target": "smithy.api#String"
        },
        "is_enterprise_install": {
          "target": "smithy.api#Boolean"
        },
        "expires_in": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.auth#Test": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.slack.auth#TestResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/auth.test",
          "code": 200
        },
        "smithy.api#documentation": "Checks authentication & identity.\n\nRate limit tier: 5\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `internal_error` — An internal error has been found.\n  - `invalid_auth` — Method was called with invalid credentials\n\nSee https://docs.slack.dev/reference/methods/auth.test"
      }
    },
    "com.slack.auth#Auth": {
      "type": "service",
      "version": "1.0",
      "operations": [
        {
          "target": "com.slack.auth#Revoke"
        },
        {
          "target": "com.slack.auth#TeamsList"
        },
        {
          "target": "com.slack.auth#Test"
        }
      ],
      "traits": {
        "smithy.api#title": "Slack Web API — auth"
      }
    }
  }
}
