{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.slack.views#OpenRequestViewMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.slack.views#OpenRequest": {
      "type": "structure",
      "members": {
        "trigger_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Exchange a trigger to post to the user.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "interactivity_pointer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Exchange an interactivity pointer to post to the user.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "view": {
          "target": "com.slack.views#OpenRequestViewMap",
          "traits": {
            "smithy.api#documentation": "A [view payload](/reference/views). This must be a JSON-encoded string.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.views#OpenResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        },
        "view": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.views#Open": {
      "type": "operation",
      "input": {
        "target": "com.slack.views#OpenRequest"
      },
      "output": {
        "target": "com.slack.views#OpenResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/views.open",
          "code": 200
        },
        "smithy.api#documentation": "Open a view for a user.\n\nRate limit tier: 4\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `duplicate_external_id` — Error returned when the given `external_id` has already be used.\n  - `exchanged_trigger_id` — The trigger_id was already exchanged in a previous call.\n  - `expired_trigger_id` — The trigger_id is expired.\n  - `invalid_trigger_id` — The trigger_id is invalid. The expected format for the trigger_id argument is \"132456.7890123.abcdef\".\n  - `view_too_large` — Error returned if the provided view is greater than 250kb.\n\nSee https://docs.slack.dev/reference/methods/views.open"
      }
    },
    "com.slack.views#PublishRequest": {
      "type": "structure",
      "members": {
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`id` of the user you want publish a view to.",
            "smithy.api#required": {}
          }
        },
        "view": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A [view payload](/reference/views). This must be a JSON-encoded string.",
            "smithy.api#required": {}
          }
        },
        "hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string that represents view state to protect against possible race conditions."
          }
        },
        "interactivity_pointer": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.views#PublishResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        },
        "view": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.views#Publish": {
      "type": "operation",
      "input": {
        "target": "com.slack.views#PublishRequest"
      },
      "output": {
        "target": "com.slack.views#PublishResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/views.publish",
          "code": 200
        },
        "smithy.api#documentation": "Publish a static view for a User.\n\nRate limit tier: 4\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `duplicate_external_id` — Error returned when the given `external_id` has already be used.\n  - `hash_conflict` — Error returned when the provided `hash` doesn't match the current stored value.\n  - `missing_profile_id` — A profile id was not provided when trying to publish a view of type profile.\n  - `not_allowed_token_type` — The type of token your app used when requesting this method is not allowed.\n  - `not_enabled` — Error returned if a `home` view is published but the Home tab isn't enabled for the app.\n  - `not_implemented` — The profile view experiment is not enabled for this user.\n  - `view_too_large` — Error returned if the provided view is greater than 250kb.\n\nSee https://docs.slack.dev/reference/methods/views.publish"
      }
    },
    "com.slack.views#PushRequest": {
      "type": "structure",
      "members": {
        "trigger_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Exchange a trigger to post to the user.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "interactivity_pointer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Exchange an interactivity pointer to post to the user.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "view": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A [view payload](/reference/views). This must be a JSON-encoded string.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.views#PushResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        },
        "view": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.views#Push": {
      "type": "operation",
      "input": {
        "target": "com.slack.views#PushRequest"
      },
      "output": {
        "target": "com.slack.views#PushResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/views.push",
          "code": 200
        },
        "smithy.api#documentation": "Push a view onto the stack of a root view.\n\nRate limit tier: 4\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `duplicate_external_id` — Error returned when the given `external_id` has already be used.\n  - `exchanged_trigger_id` — The trigger_id was already exchanged in a previous call.\n  - `expired_trigger_id` — The trigger_id is expired.\n  - `invalid_trigger_id` — The trigger_id is invalid. The expected format for the trigger_id argument is \"132456.7890123.abcdef\".\n  - `not_found` — Error returned when the requested view can't be found.\n  - `push_limit_reached` — Error returned when the max push limit has been reached for views. Currently the limit is 3.\n  - `view_too_large` — Error returned if the provided view is greater than 250kb.\n\nSee https://docs.slack.dev/reference/methods/views.push"
      }
    },
    "com.slack.views#UpdateRequest": {
      "type": "structure",
      "members": {
        "view_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier of the view to be updated. Either `view_id` or `external_id` is required."
          }
        },
        "external_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier of the view set by the developer. Must be unique for all views on a team. Max length of 255 characters. Either `view_id` or `external_id` is required."
          }
        },
        "view": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A [view object](/reference/views). This must be a JSON-encoded string.",
            "smithy.api#required": {}
          }
        },
        "hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string that represents view state to protect against possible race conditions."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.views#UpdateResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        },
        "view": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.views#Update": {
      "type": "operation",
      "input": {
        "target": "com.slack.views#UpdateRequest"
      },
      "output": {
        "target": "com.slack.views#UpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/views.update",
          "code": 200
        },
        "smithy.api#documentation": "Update an existing view.\n\nRate limit tier: 4\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `duplicate_external_id` — Error returned when the given `external_id` has already be used.\n  - `hash_conflict` — Error returned when the provided `hash` doesn't match the current stored value.\n  - `not_found` — Error returned when the given `view_id` or `external_id` doesn't exist.\n  - `view_too_large` — Error returned if the provided view is greater than 250kb.\n\nSee https://docs.slack.dev/reference/methods/views.update"
      }
    },
    "com.slack.views#Views": {
      "type": "service",
      "version": "1.0",
      "operations": [
        {
          "target": "com.slack.views#Open"
        },
        {
          "target": "com.slack.views#Publish"
        },
        {
          "target": "com.slack.views#Push"
        },
        {
          "target": "com.slack.views#Update"
        }
      ],
      "traits": {
        "smithy.api#title": "Slack Web API — views"
      }
    }
  }
}
