{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.slack.workflows#FeaturedAddRequestTriggerIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Comma-separated array of trigger IDs to add; max 15"
      }
    },
    "com.slack.workflows#FeaturedAddRequest": {
      "type": "structure",
      "members": {
        "channel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Channel to add featured workflow in.",
            "smithy.api#required": {}
          }
        },
        "trigger_ids": {
          "target": "com.slack.workflows#FeaturedAddRequestTriggerIdsList",
          "traits": {
            "smithy.api#documentation": "Comma-separated array of trigger IDs to add; max 15",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.workflows#FeaturedAddResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.workflows#FeaturedAdd": {
      "type": "operation",
      "input": {
        "target": "com.slack.workflows#FeaturedAddRequest"
      },
      "output": {
        "target": "com.slack.workflows#FeaturedAddResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/workflows.featured.add",
          "code": 200
        },
        "smithy.api#documentation": "Add featured workflows to a channel.\n\nRequired scopes — bot: `bookmarks:write`; user: `bookmarks:write`\n\nRate limit tier: 2\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `method_not_supported` — Method not yet supported\n  - `restricted_action` — User does not have access to this method.\n  - `error_modifying_workflows` — Error modifying workflows\n\nSee https://docs.slack.dev/reference/methods/workflows.featured.add"
      }
    },
    "com.slack.workflows#FeaturedListRequestChannelIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Comma-separated array of channel IDs to list featured workflows for."
      }
    },
    "com.slack.workflows#FeaturedListRequest": {
      "type": "structure",
      "members": {
        "channel_ids": {
          "target": "com.slack.workflows#FeaturedListRequestChannelIdsList",
          "traits": {
            "smithy.api#documentation": "Comma-separated array of channel IDs to list featured workflows for.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.workflows#FeaturedListResponseFeaturedWorkflowsItemTriggersItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.slack.workflows#FeaturedListResponseFeaturedWorkflowsItemTriggersList": {
      "type": "list",
      "member": {
        "target": "com.slack.workflows#FeaturedListResponseFeaturedWorkflowsItemTriggersItem"
      },
      "traits": {
        "smithy.api#documentation": "Array of triggers associated with channel"
      }
    },
    "com.slack.workflows#FeaturedListResponseFeaturedWorkflowsItem": {
      "type": "structure",
      "members": {
        "channel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Channel where workflows are featured",
            "smithy.api#required": {}
          }
        },
        "triggers": {
          "target": "com.slack.workflows#FeaturedListResponseFeaturedWorkflowsItemTriggersList",
          "traits": {
            "smithy.api#documentation": "Array of triggers associated with channel",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.slack.workflows#FeaturedListResponseFeaturedWorkflowsList": {
      "type": "list",
      "member": {
        "target": "com.slack.workflows#FeaturedListResponseFeaturedWorkflowsItem"
      },
      "traits": {}
    },
    "com.slack.workflows#FeaturedListResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        },
        "featured_workflows": {
          "target": "com.slack.workflows#FeaturedListResponseFeaturedWorkflowsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.workflows#FeaturedList": {
      "type": "operation",
      "input": {
        "target": "com.slack.workflows#FeaturedListRequest"
      },
      "output": {
        "target": "com.slack.workflows#FeaturedListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/workflows.featured.list",
          "code": 200
        },
        "smithy.api#documentation": "List the featured workflows for specified channels.\n\nRequired scopes — bot: `bookmarks:read`; user: `bookmarks:read`\n\nRate limit tier: 2\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `method_not_supported` — Method not yet supported\n  - `restricted_action` — User does not have access to this method.\n  - `channel_not_found` — Channel not found.\n  - `error_invalid_channels` — Invalid channels provided.\n\nSee https://docs.slack.dev/reference/methods/workflows.featured.list"
      }
    },
    "com.slack.workflows#FeaturedRemoveRequestTriggerIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Comma-separated array of trigger IDs to remove; max 15"
      }
    },
    "com.slack.workflows#FeaturedRemoveRequest": {
      "type": "structure",
      "members": {
        "channel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Channel to remove featured workflow from.",
            "smithy.api#required": {}
          }
        },
        "trigger_ids": {
          "target": "com.slack.workflows#FeaturedRemoveRequestTriggerIdsList",
          "traits": {
            "smithy.api#documentation": "Comma-separated array of trigger IDs to remove; max 15",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.workflows#FeaturedRemoveResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.workflows#FeaturedRemove": {
      "type": "operation",
      "input": {
        "target": "com.slack.workflows#FeaturedRemoveRequest"
      },
      "output": {
        "target": "com.slack.workflows#FeaturedRemoveResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/workflows.featured.remove",
          "code": 200
        },
        "smithy.api#documentation": "Remove featured workflows from a channel.\n\nRequired scopes — bot: `bookmarks:write`; user: `bookmarks:write`\n\nRate limit tier: 2\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `method_not_supported` — Method not yet supported\n  - `restricted_action` — User does not have access to this method.\n  - `error_modifying_workflows` — Error modifying workflows\n\nSee https://docs.slack.dev/reference/methods/workflows.featured.remove"
      }
    },
    "com.slack.workflows#FeaturedSetRequestTriggerIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Comma-separated array of trigger IDs that will replace any existing featured workflows in the channel; max 15"
      }
    },
    "com.slack.workflows#FeaturedSetRequest": {
      "type": "structure",
      "members": {
        "channel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Channel to set featured workflows in.",
            "smithy.api#required": {}
          }
        },
        "trigger_ids": {
          "target": "com.slack.workflows#FeaturedSetRequestTriggerIdsList",
          "traits": {
            "smithy.api#documentation": "Comma-separated array of trigger IDs that will replace any existing featured workflows in the channel; max 15",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.workflows#FeaturedSetResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.workflows#FeaturedSet": {
      "type": "operation",
      "input": {
        "target": "com.slack.workflows#FeaturedSetRequest"
      },
      "output": {
        "target": "com.slack.workflows#FeaturedSetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/workflows.featured.set",
          "code": 200
        },
        "smithy.api#documentation": "Set featured workflows for a channel.\n\nRequired scopes — bot: `bookmarks:write`; user: `bookmarks:write`\n\nRate limit tier: 2\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `method_not_supported` — Method not yet supported\n  - `restricted_action` — User does not have access to this method.\n  - `error_modifying_workflows` — Error modifying workflows\n\nSee https://docs.slack.dev/reference/methods/workflows.featured.set"
      }
    },
    "com.slack.workflows#TriggersPermissionsAddRequestUserIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of encoded user IDs"
      }
    },
    "com.slack.workflows#TriggersPermissionsAddRequestChannelIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of encoded channel IDs"
      }
    },
    "com.slack.workflows#TriggersPermissionsAddRequestTeamIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of encoded workspace IDs"
      }
    },
    "com.slack.workflows#TriggersPermissionsAddRequestOrgIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of encoded organization IDs"
      }
    },
    "com.slack.workflows#TriggersPermissionsAddRequest": {
      "type": "structure",
      "members": {
        "trigger_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encoded ID of the trigger",
            "smithy.api#required": {}
          }
        },
        "user_ids": {
          "target": "com.slack.workflows#TriggersPermissionsAddRequestUserIdsList",
          "traits": {
            "smithy.api#documentation": "List of encoded user IDs"
          }
        },
        "channel_ids": {
          "target": "com.slack.workflows#TriggersPermissionsAddRequestChannelIdsList",
          "traits": {
            "smithy.api#documentation": "List of encoded channel IDs"
          }
        },
        "team_ids": {
          "target": "com.slack.workflows#TriggersPermissionsAddRequestTeamIdsList",
          "traits": {
            "smithy.api#documentation": "List of encoded workspace IDs"
          }
        },
        "org_ids": {
          "target": "com.slack.workflows#TriggersPermissionsAddRequestOrgIdsList",
          "traits": {
            "smithy.api#documentation": "List of encoded organization IDs"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.workflows#TriggersPermissionsAddResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.workflows#TriggersPermissionsAdd": {
      "type": "operation",
      "input": {
        "target": "com.slack.workflows#TriggersPermissionsAddRequest"
      },
      "output": {
        "target": "com.slack.workflows#TriggersPermissionsAddResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/workflows.triggers.permissions.add",
          "code": 200
        },
        "smithy.api#documentation": "Allows users to run a trigger that has its permission type set to named_entities\n\nRequired scopes — bot: `triggers:write`\n\nRate limit tier: 3\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `access_denied` — This actor does not have access to the permissions on this resource.\n  - `channel_not_found` — One or more of the listed channels could not be found.\n  - `connected_org_denied` — The workspace admin does not allow connected organizations to be named_entities.\n  - `connected_team_denied` — The workspace admin does not allow connected teams to be named_entities.\n  - `connected_user_denied` — The workspace admin does not allow connected users to be named_entities.\n  - `invalid_permission_type` — This trigger requires permission_type to be set as named_entities before adding users.\n  - `no_valid_named_entities` — None of the provided named entities were valid\n  - `org_not_connected` — One of more of the listed organizations were not connected.\n  - `org_not_found` — One or more of the listed organizations could not be found.\n  - `shared_channel_denied` — The workspace admin does not allow shared channels to be named_entities.\n  - `team_not_connected` — One of more of the listed teams were not connected by org.\n  - `team_not_found` — One or more of the listed teams could not be found.\n  - `too_many_named_entities` — Too many named entities passed into the trigger permissions setting.\n  - `trigger_not_found` — This trigger does not exist.\n  - `unknown_method` — This method does not exist.\n  - `user_not_found` — One or more of the listed users could not be found.\n\nSee https://docs.slack.dev/reference/methods/workflows.triggers.permissions.add"
      }
    },
    "com.slack.workflows#TriggersPermissionsListRequest": {
      "type": "structure",
      "members": {
        "trigger_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encoded ID of the trigger",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.workflows#TriggersPermissionsListResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.workflows#TriggersPermissionsList": {
      "type": "operation",
      "input": {
        "target": "com.slack.workflows#TriggersPermissionsListRequest"
      },
      "output": {
        "target": "com.slack.workflows#TriggersPermissionsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/workflows.triggers.permissions.list",
          "code": 200
        },
        "smithy.api#documentation": "Returns the permission type of a trigger and if applicable, includes the entities that have been granted access\n\nRequired scopes — bot: `triggers:read`\n\nRate limit tier: 3\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `unknown_method` — This method does not exist.\n  - `access_denied` — This actor does not have access to the permissions on this resource.\n  - `trigger_not_found` — This trigger does not exist.\n\nSee https://docs.slack.dev/reference/methods/workflows.triggers.permissions.list"
      }
    },
    "com.slack.workflows#TriggersPermissionsRemoveRequestUserIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of encoded user IDs"
      }
    },
    "com.slack.workflows#TriggersPermissionsRemoveRequestChannelIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of encoded channel IDs"
      }
    },
    "com.slack.workflows#TriggersPermissionsRemoveRequestTeamIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of encoded workspace IDs"
      }
    },
    "com.slack.workflows#TriggersPermissionsRemoveRequestOrgIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of encoded organization IDs"
      }
    },
    "com.slack.workflows#TriggersPermissionsRemoveRequest": {
      "type": "structure",
      "members": {
        "trigger_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encoded ID of the trigger",
            "smithy.api#required": {}
          }
        },
        "user_ids": {
          "target": "com.slack.workflows#TriggersPermissionsRemoveRequestUserIdsList",
          "traits": {
            "smithy.api#documentation": "List of encoded user IDs"
          }
        },
        "channel_ids": {
          "target": "com.slack.workflows#TriggersPermissionsRemoveRequestChannelIdsList",
          "traits": {
            "smithy.api#documentation": "List of encoded channel IDs"
          }
        },
        "team_ids": {
          "target": "com.slack.workflows#TriggersPermissionsRemoveRequestTeamIdsList",
          "traits": {
            "smithy.api#documentation": "List of encoded workspace IDs"
          }
        },
        "org_ids": {
          "target": "com.slack.workflows#TriggersPermissionsRemoveRequestOrgIdsList",
          "traits": {
            "smithy.api#documentation": "List of encoded organization IDs"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.workflows#TriggersPermissionsRemoveResponsePermissionType": {
      "type": "enum",
      "members": {
        "EVERYONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "everyone"
          }
        },
        "APP_COLLABORATORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app_collaborators"
          }
        },
        "NAMED_ENTITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "named_entities"
          }
        }
      },
      "traits": {}
    },
    "com.slack.workflows#TriggersPermissionsRemoveResponseUserIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of encoded user IDs."
      }
    },
    "com.slack.workflows#TriggersPermissionsRemoveResponseChannelIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of encoded channel IDs."
      }
    },
    "com.slack.workflows#TriggersPermissionsRemoveResponseTeamIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Encoded workspace IDs."
      }
    },
    "com.slack.workflows#TriggersPermissionsRemoveResponseOrgIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.slack.workflows#TriggersPermissionsRemoveResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        },
        "permission_type": {
          "target": "com.slack.workflows#TriggersPermissionsRemoveResponsePermissionType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "user_ids": {
          "target": "com.slack.workflows#TriggersPermissionsRemoveResponseUserIdsList",
          "traits": {
            "smithy.api#documentation": "A list of encoded user IDs."
          }
        },
        "channel_ids": {
          "target": "com.slack.workflows#TriggersPermissionsRemoveResponseChannelIdsList",
          "traits": {
            "smithy.api#documentation": "A list of encoded channel IDs."
          }
        },
        "team_ids": {
          "target": "com.slack.workflows#TriggersPermissionsRemoveResponseTeamIdsList",
          "traits": {
            "smithy.api#documentation": "Encoded workspace IDs."
          }
        },
        "org_ids": {
          "target": "com.slack.workflows#TriggersPermissionsRemoveResponseOrgIdsList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.workflows#TriggersPermissionsRemove": {
      "type": "operation",
      "input": {
        "target": "com.slack.workflows#TriggersPermissionsRemoveRequest"
      },
      "output": {
        "target": "com.slack.workflows#TriggersPermissionsRemoveResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/workflows.triggers.permissions.remove",
          "code": 200
        },
        "smithy.api#documentation": "Revoke an entity's access to a trigger that has its permission type set to named_entities\n\nRequired scopes — bot: `triggers:write`\n\nRate limit tier: 3\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `access_denied` — This actor does not have access to the permissions on this resource.\n  - `connected_org_denied` — The workspace admin does not allow connected organizations to be named_entities.\n  - `connected_team_denied` — The workspace admin does not allow connected teams to be named_entities.\n  - `connected_user_denied` — The workspace admin does not allow connected users to be named_entities.\n  - `named_entities_cannot_be_empty` — There must be at least one valid named entity\n  - `org_not_connected` — One of more of the listed organizations were not connected.\n  - `org_not_found` — One or more of the listed organizations could not be found.\n  - `shared_channel_denied` — The workspace admin does not allow shared channels to be named_entities.\n  - `trigger_not_found` — This trigger does not exist.\n  - `invalid_permission_type` — This trigger requires permission_type to be set as named_entities before adding users.\n  - `too_many_named_entities` — Too many named entities passed into the trigger permissions setting.\n  - `unknown_method` — This method does not exist.\n\nSee https://docs.slack.dev/reference/methods/workflows.triggers.permissions.remove"
      }
    },
    "com.slack.workflows#TriggersPermissionsSetRequestPermissionType": {
      "type": "enum",
      "members": {
        "EVERYONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "everyone"
          }
        },
        "APP_COLLABORATORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app_collaborators"
          }
        },
        "NAMED_ENTITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "named_entities"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of permission that defines who can run a trigger"
      }
    },
    "com.slack.workflows#TriggersPermissionsSetRequestUserIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of encoded user IDs"
      }
    },
    "com.slack.workflows#TriggersPermissionsSetRequestChannelIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of encoded channel IDs"
      }
    },
    "com.slack.workflows#TriggersPermissionsSetRequestTeamIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of encoded workspace IDs"
      }
    },
    "com.slack.workflows#TriggersPermissionsSetRequestOrgIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of encoded organization IDs"
      }
    },
    "com.slack.workflows#TriggersPermissionsSetRequest": {
      "type": "structure",
      "members": {
        "trigger_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encoded ID of the trigger",
            "smithy.api#required": {}
          }
        },
        "permission_type": {
          "target": "com.slack.workflows#TriggersPermissionsSetRequestPermissionType",
          "traits": {
            "smithy.api#documentation": "The type of permission that defines who can run a trigger",
            "smithy.api#required": {}
          }
        },
        "user_ids": {
          "target": "com.slack.workflows#TriggersPermissionsSetRequestUserIdsList",
          "traits": {
            "smithy.api#documentation": "List of encoded user IDs"
          }
        },
        "channel_ids": {
          "target": "com.slack.workflows#TriggersPermissionsSetRequestChannelIdsList",
          "traits": {
            "smithy.api#documentation": "List of encoded channel IDs"
          }
        },
        "team_ids": {
          "target": "com.slack.workflows#TriggersPermissionsSetRequestTeamIdsList",
          "traits": {
            "smithy.api#documentation": "List of encoded workspace IDs"
          }
        },
        "org_ids": {
          "target": "com.slack.workflows#TriggersPermissionsSetRequestOrgIdsList",
          "traits": {
            "smithy.api#documentation": "List of encoded organization IDs"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.slack.workflows#TriggersPermissionsSetResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true` (a failed call raises a typed error instead).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.slack.workflows#TriggersPermissionsSet": {
      "type": "operation",
      "input": {
        "target": "com.slack.workflows#TriggersPermissionsSetRequest"
      },
      "output": {
        "target": "com.slack.workflows#TriggersPermissionsSetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/workflows.triggers.permissions.set",
          "code": 200
        },
        "smithy.api#documentation": "Set the permission type for who can run a trigger\n\nRequired scopes — bot: `triggers:write`\n\nRate limit tier: 3\n\nMethod-specific errors (the `error` slug on the SlackError):\n  - `access_denied` — This actor does not have access to the permissions on this resource.\n  - `channel_not_found` — One or more of the listed channels could not be found.\n  - `connected_org_denied` — The workspace admin does not allow connected organizations to be named_entities.\n  - `connected_team_denied` — The workspace admin does not allow connected teams to be named_entities.\n  - `connected_user_denied` — The workspace admin does not allow connected users to be named_entities.\n  - `external_workspace_denied` — The channel selected is not on the workflow team.\n  - `invalid_permission_type` — This function requires permission_type to be set as named_entities before adding users.\n  - `named_entities_cannot_be_empty` — Must pass at least one valid named entity.\n  - `no_valid_named_entities` — None of the provided named entities were valid\n  - `org_not_found` — One or more of the listed organizations could not be found.\n  - `org_not_connected` — One of more of the listed organizations were not connected.\n  - `shared_channel_denied` — The workspace admin does not allow shared channels to be named_entities.\n  - `team_not_connected` — One of more of the listed teams were not connected by org.\n  - `team_not_found` — One or more of the listed teams could not be found.\n  - `too_many_named_entities` — Too many named_entities passed into the trigger permissions setting.\n  - `trigger_not_found` — This trigger does not exist.\n  - `unknown_method` — This method does not exist.\n  - `user_not_found` — One or more of the listed users could not be found.\n\nSee https://docs.slack.dev/reference/methods/workflows.triggers.permissions.set"
      }
    },
    "com.slack.workflows#Workflows": {
      "type": "service",
      "version": "1.0",
      "operations": [
        {
          "target": "com.slack.workflows#FeaturedAdd"
        },
        {
          "target": "com.slack.workflows#FeaturedList"
        },
        {
          "target": "com.slack.workflows#FeaturedRemove"
        },
        {
          "target": "com.slack.workflows#FeaturedSet"
        },
        {
          "target": "com.slack.workflows#TriggersPermissionsAdd"
        },
        {
          "target": "com.slack.workflows#TriggersPermissionsList"
        },
        {
          "target": "com.slack.workflows#TriggersPermissionsRemove"
        },
        {
          "target": "com.slack.workflows#TriggersPermissionsSet"
        }
      ],
      "traits": {
        "smithy.api#title": "Slack Web API — workflows"
      }
    }
  }
}
