{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.discord.api#PrivateApplicationResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "icon": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.discord.api#ApplicationTypes",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "cover_image": {
          "target": "smithy.api#String"
        },
        "primary_sku_id": {
          "target": "smithy.api#String"
        },
        "bot": {
          "target": "com.discord.api#UserResponse"
        },
        "slug": {
          "target": "smithy.api#String"
        },
        "guild_id": {
          "target": "smithy.api#String"
        },
        "rpc_origins": {
          "target": "com.discord.api#PrivateApplicationResponseRpcOriginsList"
        },
        "bot_public": {
          "target": "smithy.api#Boolean"
        },
        "bot_require_code_grant": {
          "target": "smithy.api#Boolean"
        },
        "terms_of_service_url": {
          "target": "smithy.api#String"
        },
        "privacy_policy_url": {
          "target": "smithy.api#String"
        },
        "custom_install_url": {
          "target": "smithy.api#String"
        },
        "install_params": {
          "target": "com.discord.api#ApplicationOAuth2InstallParamsResponse"
        },
        "integration_types_config": {
          "target": "com.discord.api#PrivateApplicationResponseIntegrationTypesConfigMap"
        },
        "verify_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "flags": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "flags_new": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "max_participants": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "tags": {
          "target": "com.discord.api#PrivateApplicationResponseTagsList"
        },
        "redirect_uris": {
          "target": "com.discord.api#PrivateApplicationResponseRedirectUrisList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "interactions_endpoint_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_connections_verification_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "owner": {
          "target": "com.discord.api#UserResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "approximate_guild_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "approximate_user_install_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "approximate_user_authorization_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "event_webhooks_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "event_webhooks_status": {
          "target": "com.discord.api#ApplicationEventWebhooksStatus"
        },
        "event_webhooks_types": {
          "target": "com.discord.api#PrivateApplicationResponseEventWebhooksTypesList"
        },
        "explicit_content_filter": {
          "target": "com.discord.api#ApplicationExplicitContentFilterTypes",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "team": {
          "target": "com.discord.api#TeamResponse",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "eligible_oauth2_scopes": {
          "target": "com.discord.api#PrivateApplicationResponseEligibleOauth2ScopesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.discord.api#ApplicationTypes": {
      "type": "intEnum",
      "members": {
        "_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4
          }
        }
      },
      "traits": {}
    },
    "com.discord.api#UserResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the user's id",
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the user's username, not unique across the platform",
            "smithy.api#required": {}
          }
        },
        "avatar": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the user's avatar hash",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "discriminator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the user's Discord-tag",
            "smithy.api#required": {}
          }
        },
        "public_flags": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "the public flags on a user's account",
            "smithy.api#required": {}
          }
        },
        "flags": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "the flags on a user's account",
            "smithy.api#required": {}
          }
        },
        "bot": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether the user belongs to an OAuth2 application"
          }
        },
        "system": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether the user is an Official Discord System user (part of the urgent message system)"
          }
        },
        "banner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the user's banner hash",
            "com.distilled.openapi#nullable": {}
          }
        },
        "accent_color": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "the user's banner color encoded as an integer representation of hexadecimal color code",
            "com.distilled.openapi#nullable": {}
          }
        },
        "global_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the user's display name, if it is set",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "avatar_decoration_data": {
          "target": "com.discord.api#UserAvatarDecorationResponse",
          "traits": {
            "smithy.api#documentation": "data for the user's avatar decoration",
            "com.distilled.openapi#nullable": {}
          }
        },
        "collectibles": {
          "target": "com.discord.api#UserCollectiblesResponse",
          "traits": {
            "smithy.api#documentation": "data for the user's collectibles",
            "com.distilled.openapi#nullable": {}
          }
        },
        "primary_guild": {
          "target": "com.discord.api#UserPrimaryGuildResponse",
          "traits": {
            "smithy.api#documentation": "the user's primary guild",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.discord.api#UserAvatarDecorationResponse": {
      "type": "structure",
      "members": {
        "asset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the avatar decoration hash",
            "smithy.api#required": {}
          }
        },
        "sku_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "id of the avatar decoration's SKU",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.discord.api#UserCollectiblesResponse": {
      "type": "structure",
      "members": {
        "nameplate": {
          "target": "com.discord.api#UserNameplateResponse",
          "traits": {
            "smithy.api#documentation": "Object mapping of nameplate data",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.discord.api#UserNameplateResponse": {
      "type": "structure",
      "members": {
        "sku_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the nameplate SKU",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "asset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path to the nameplate asset",
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The label of this nameplate. Currently unused",
            "smithy.api#required": {}
          }
        },
        "palette": {
          "target": "com.discord.api#NameplatePalette",
          "traits": {
            "smithy.api#documentation": "Background color of the nameplate",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.discord.api#NameplatePalette": {
      "type": "enum",
      "members": {
        "CRIMSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "crimson"
          }
        },
        "BERRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "berry"
          }
        },
        "SKY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sky"
          }
        },
        "TEAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "teal"
          }
        },
        "FOREST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "forest"
          }
        },
        "BUBBLE_GUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bubble_gum"
          }
        },
        "VIOLET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "violet"
          }
        },
        "COBALT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cobalt"
          }
        },
        "CLOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clover"
          }
        },
        "LEMON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lemon"
          }
        },
        "WHITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "white"
          }
        },
        "BLACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "black"
          }
        }
      },
      "traits": {}
    },
    "com.discord.api#UserPrimaryGuildResponse": {
      "type": "structure",
      "members": {
        "identity_guild_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the id of the user's primary guild",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "identity_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether the user is displaying the primary guild's server tag",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the text of the user's server tag, limited to 4 characters",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "badge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the server tag badge hash",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.discord.api#PrivateApplicationResponseRpcOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationOAuth2InstallParamsResponse": {
      "type": "structure",
      "members": {
        "scopes": {
          "target": "com.discord.api#ApplicationOAuth2InstallParamsResponseScopesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.discord.api#OAuth2Scopes": {
      "type": "enum",
      "members": {
        "IDENTIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "identify"
          }
        },
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email"
          }
        },
        "CONNECTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connections"
          }
        },
        "GUILDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "guilds"
          }
        },
        "GUILDS_JOIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "guilds.join"
          }
        },
        "GUILDS_MEMBERS_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "guilds.members.read"
          }
        },
        "GDM_JOIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gdm.join"
          }
        },
        "BOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bot"
          }
        },
        "RPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rpc"
          }
        },
        "RPC_NOTIFICATIONS_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rpc.notifications.read"
          }
        },
        "RPC_VOICE_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rpc.voice.read"
          }
        },
        "RPC_VOICE_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rpc.voice.write"
          }
        },
        "RPC_VIDEO_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rpc.video.read"
          }
        },
        "RPC_VIDEO_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rpc.video.write"
          }
        },
        "RPC_SCREENSHARE_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rpc.screenshare.read"
          }
        },
        "RPC_SCREENSHARE_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rpc.screenshare.write"
          }
        },
        "RPC_ACTIVITIES_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rpc.activities.write"
          }
        },
        "WEBHOOK_INCOMING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webhook.incoming"
          }
        },
        "MESSAGES_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "messages.read"
          }
        },
        "APPLICATIONS_BUILDS_UPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "applications.builds.upload"
          }
        },
        "APPLICATIONS_BUILDS_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "applications.builds.read"
          }
        },
        "APPLICATIONS_COMMANDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "applications.commands"
          }
        },
        "APPLICATIONS_COMMANDS_PERMISSIONS_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "applications.commands.permissions.update"
          }
        },
        "APPLICATIONS_COMMANDS_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "applications.commands.update"
          }
        },
        "APPLICATIONS_STORE_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "applications.store.update"
          }
        },
        "APPLICATIONS_ENTITLEMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "applications.entitlements"
          }
        },
        "ACTIVITIES_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "activities.read"
          }
        },
        "ACTIVITIES_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "activities.write"
          }
        },
        "ACTIVITIES_INVITES_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "activities.invites.write"
          }
        },
        "RELATIONSHIPS_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "relationships.read"
          }
        },
        "VOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "voice"
          }
        },
        "DM_CHANNELS_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dm_channels.read"
          }
        },
        "ROLE_CONNECTIONS_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "role_connections.write"
          }
        },
        "OPENID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openid"
          }
        }
      },
      "traits": {}
    },
    "com.discord.api#ApplicationOAuth2InstallParamsResponseScopesList": {
      "type": "list",
      "member": {
        "target": "com.discord.api#OAuth2Scopes"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationIntegrationTypeConfigurationResponse": {
      "type": "structure",
      "members": {
        "oauth2_install_params": {
          "target": "com.discord.api#ApplicationOAuth2InstallParamsResponse"
        }
      },
      "traits": {}
    },
    "com.discord.api#PrivateApplicationResponseIntegrationTypesConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.discord.api#ApplicationIntegrationTypeConfigurationResponse"
      },
      "traits": {}
    },
    "com.discord.api#PrivateApplicationResponseTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#PrivateApplicationResponseRedirectUrisList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationEventWebhooksStatus": {
      "type": "intEnum",
      "members": {
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        },
        "_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2
          }
        },
        "_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3
          }
        }
      },
      "traits": {}
    },
    "com.discord.api#ActionTypes": {
      "type": "enum",
      "members": {
        "TYPING_START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPING_START"
          }
        },
        "INVITE_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVITE_CREATE"
          }
        },
        "INVITE_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVITE_DELETE"
          }
        },
        "WEBHOOKS_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEBHOOKS_UPDATE"
          }
        },
        "CHANNEL_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHANNEL_CREATE"
          }
        },
        "VOICE_CHANNEL_STATUS_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOICE_CHANNEL_STATUS_UPDATE"
          }
        },
        "CHANNEL_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHANNEL_UPDATE"
          }
        },
        "CHANNEL_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHANNEL_DELETE"
          }
        },
        "CHANNEL_PINS_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHANNEL_PINS_UPDATE"
          }
        },
        "THREAD_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAD_CREATE"
          }
        },
        "THREAD_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAD_UPDATE"
          }
        },
        "THREAD_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAD_DELETE"
          }
        },
        "THREAD_LIST_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAD_LIST_SYNC"
          }
        },
        "THREAD_MEMBER_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAD_MEMBER_UPDATE"
          }
        },
        "THREAD_MEMBERS_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAD_MEMBERS_UPDATE"
          }
        },
        "GUILD_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GUILD_CREATE"
          }
        },
        "GUILD_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GUILD_UPDATE"
          }
        },
        "GUILD_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GUILD_DELETE"
          }
        },
        "GUILD_EMOJIS_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GUILD_EMOJIS_UPDATE"
          }
        },
        "GUILD_STICKERS_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GUILD_STICKERS_UPDATE"
          }
        },
        "GUILD_INTEGRATIONS_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GUILD_INTEGRATIONS_UPDATE"
          }
        },
        "GUILD_MEMBER_ADD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GUILD_MEMBER_ADD"
          }
        },
        "GUILD_MEMBER_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GUILD_MEMBER_UPDATE"
          }
        },
        "GUILD_MEMBER_REMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GUILD_MEMBER_REMOVE"
          }
        },
        "GUILD_BAN_ADD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GUILD_BAN_ADD"
          }
        },
        "GUILD_BAN_REMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GUILD_BAN_REMOVE"
          }
        },
        "GUILD_ROLE_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GUILD_ROLE_CREATE"
          }
        },
        "GUILD_ROLE_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GUILD_ROLE_UPDATE"
          }
        },
        "GUILD_ROLE_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GUILD_ROLE_DELETE"
          }
        },
        "GUILD_MEMBERS_CHUNK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GUILD_MEMBERS_CHUNK"
          }
        },
        "MESSAGE_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MESSAGE_CREATE"
          }
        },
        "MESSAGE_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MESSAGE_UPDATE"
          }
        },
        "MESSAGE_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MESSAGE_DELETE"
          }
        },
        "MESSAGE_DELETE_BULK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MESSAGE_DELETE_BULK"
          }
        },
        "MESSAGE_REACTION_ADD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MESSAGE_REACTION_ADD"
          }
        },
        "MESSAGE_REACTION_REMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MESSAGE_REACTION_REMOVE"
          }
        },
        "MESSAGE_REACTION_REMOVE_ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MESSAGE_REACTION_REMOVE_ALL"
          }
        },
        "MESSAGE_REACTION_REMOVE_EMOJI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MESSAGE_REACTION_REMOVE_EMOJI"
          }
        },
        "USER_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_UPDATE"
          }
        },
        "ENTITLEMENT_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITLEMENT_CREATE"
          }
        },
        "ENTITLEMENT_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITLEMENT_UPDATE"
          }
        },
        "ENTITLEMENT_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITLEMENT_DELETE"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "RESUMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESUMED"
          }
        },
        "PRESENCE_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRESENCE_UPDATE"
          }
        },
        "VOICE_STATE_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOICE_STATE_UPDATE"
          }
        },
        "VOICE_SERVER_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOICE_SERVER_UPDATE"
          }
        },
        "LOBBY_MESSAGE_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOBBY_MESSAGE_CREATE"
          }
        },
        "LOBBY_MESSAGE_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOBBY_MESSAGE_UPDATE"
          }
        },
        "LOBBY_MESSAGE_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOBBY_MESSAGE_DELETE"
          }
        },
        "GAME_DIRECT_MESSAGE_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GAME_DIRECT_MESSAGE_CREATE"
          }
        },
        "GAME_DIRECT_MESSAGE_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GAME_DIRECT_MESSAGE_DELETE"
          }
        },
        "GAME_DIRECT_MESSAGE_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GAME_DIRECT_MESSAGE_UPDATE"
          }
        },
        "INTERACTION_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERACTION_CREATE"
          }
        },
        "INTEGRATION_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGRATION_CREATE"
          }
        },
        "INTEGRATION_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGRATION_UPDATE"
          }
        },
        "INTEGRATION_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGRATION_DELETE"
          }
        },
        "APPLICATION_COMMAND_PERMISSIONS_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLICATION_COMMAND_PERMISSIONS_UPDATE"
          }
        },
        "APPLICATION_AUTHORIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLICATION_AUTHORIZED"
          }
        },
        "APPLICATION_DEAUTHORIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLICATION_DEAUTHORIZED"
          }
        },
        "STAGE_INSTANCE_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAGE_INSTANCE_CREATE"
          }
        },
        "STAGE_INSTANCE_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAGE_INSTANCE_UPDATE"
          }
        },
        "STAGE_INSTANCE_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAGE_INSTANCE_DELETE"
          }
        },
        "GUILD_AUDIT_LOG_ENTRY_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GUILD_AUDIT_LOG_ENTRY_CREATE"
          }
        },
        "GUILD_SCHEDULED_EVENT_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GUILD_SCHEDULED_EVENT_CREATE"
          }
        },
        "GUILD_SCHEDULED_EVENT_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GUILD_SCHEDULED_EVENT_UPDATE"
          }
        },
        "GUILD_SCHEDULED_EVENT_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GUILD_SCHEDULED_EVENT_DELETE"
          }
        },
        "GUILD_SCHEDULED_EVENT_USER_ADD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GUILD_SCHEDULED_EVENT_USER_ADD"
          }
        },
        "GUILD_SCHEDULED_EVENT_USER_REMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GUILD_SCHEDULED_EVENT_USER_REMOVE"
          }
        },
        "AUTO_MODERATION_RULE_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO_MODERATION_RULE_CREATE"
          }
        },
        "AUTO_MODERATION_RULE_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO_MODERATION_RULE_UPDATE"
          }
        },
        "AUTO_MODERATION_RULE_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO_MODERATION_RULE_DELETE"
          }
        },
        "AUTO_MODERATION_ACTION_EXECUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO_MODERATION_ACTION_EXECUTION"
          }
        },
        "GUILD_SOUNDBOARD_SOUNDS_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GUILD_SOUNDBOARD_SOUNDS_UPDATE"
          }
        },
        "GUILD_SOUNDBOARD_SOUND_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GUILD_SOUNDBOARD_SOUND_CREATE"
          }
        },
        "GUILD_SOUNDBOARD_SOUND_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GUILD_SOUNDBOARD_SOUND_UPDATE"
          }
        },
        "GUILD_SOUNDBOARD_SOUND_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GUILD_SOUNDBOARD_SOUND_DELETE"
          }
        },
        "QUEST_USER_ENROLLMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEST_USER_ENROLLMENT"
          }
        },
        "RATE_LIMITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RATE_LIMITED"
          }
        }
      },
      "traits": {}
    },
    "com.discord.api#PrivateApplicationResponseEventWebhooksTypesList": {
      "type": "list",
      "member": {
        "target": "com.discord.api#ActionTypes"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationExplicitContentFilterTypes": {
      "type": "intEnum",
      "members": {
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 0
          }
        },
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        }
      },
      "traits": {}
    },
    "com.discord.api#TeamResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "icon": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "owner_user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "members": {
          "target": "com.discord.api#TeamResponseMembersList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.discord.api#TeamMemberResponse": {
      "type": "structure",
      "members": {
        "user": {
          "target": "com.discord.api#UserResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "team_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "membership_state": {
          "target": "com.discord.api#TeamMembershipStates",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.discord.api#TeamMemberRoles",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.discord.api#TeamMemberResponsePermissionsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.discord.api#TeamMembershipStates": {
      "type": "intEnum",
      "members": {
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        },
        "_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2
          }
        }
      },
      "traits": {}
    },
    "com.discord.api#TeamMemberRoles": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "developer"
          }
        },
        "READ_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read_only"
          }
        }
      },
      "traits": {}
    },
    "com.discord.api#TeamMemberResponsePermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#TeamResponseMembersList": {
      "type": "list",
      "member": {
        "target": "com.discord.api#TeamMemberResponse"
      },
      "traits": {}
    },
    "com.discord.api#PrivateApplicationResponseEligibleOauth2ScopesList": {
      "type": "list",
      "member": {
        "target": "com.discord.api#OAuth2Scopes"
      },
      "traits": {}
    },
    "com.discord.api#GetMyApplication": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.discord.api#PrivateApplicationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/applications/@me",
          "code": 200
        }
      }
    },
    "com.discord.api#UpdateMyApplicationRequestDescriptionLocalizationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#UpdateMyApplicationRequestDescription": {
      "type": "structure",
      "members": {
        "default": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "localizations": {
          "target": "com.discord.api#UpdateMyApplicationRequestDescriptionLocalizationsMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.discord.api#UpdateMyApplicationRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationOAuth2InstallParams": {
      "type": "structure",
      "members": {
        "scopes": {
          "target": "com.discord.api#ApplicationOAuth2InstallParamsScopesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "permissions": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.discord.api#ApplicationOAuth2InstallParamsScopesList": {
      "type": "list",
      "member": {
        "target": "com.discord.api#OAuth2Scopes"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationIntegrationTypeConfiguration": {
      "type": "structure",
      "members": {
        "oauth2_install_params": {
          "target": "com.discord.api#ApplicationOAuth2InstallParams",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.discord.api#UpdateMyApplicationRequestIntegrationTypesConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.discord.api#ApplicationIntegrationTypeConfiguration"
      },
      "traits": {}
    },
    "com.discord.api#UpdateMyApplicationRequestEventWebhooksTypesList": {
      "type": "list",
      "member": {
        "target": "com.discord.api#ActionTypes"
      },
      "traits": {}
    },
    "com.discord.api#UpdateMyApplicationRequest": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.discord.api#UpdateMyApplicationRequestDescription",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "icon": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "cover_image": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "team_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "flags": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "interactions_endpoint_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "explicit_content_filter": {
          "target": "com.discord.api#ApplicationExplicitContentFilterTypes",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "max_participants": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.discord.api#ApplicationTypes",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "tags": {
          "target": "com.discord.api#UpdateMyApplicationRequestTagsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "custom_install_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "install_params": {
          "target": "com.discord.api#ApplicationOAuth2InstallParams",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_connections_verification_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "integration_types_config": {
          "target": "com.discord.api#UpdateMyApplicationRequestIntegrationTypesConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "event_webhooks_status": {
          "target": "com.discord.api#ApplicationEventWebhooksStatus",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "event_webhooks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Event webhooks URL for the app to receive webhook events",
            "com.distilled.openapi#nullable": {}
          }
        },
        "event_webhooks_types": {
          "target": "com.discord.api#UpdateMyApplicationRequestEventWebhooksTypesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.discord.api#UpdateMyApplication": {
      "type": "operation",
      "input": {
        "target": "com.discord.api#UpdateMyApplicationRequest"
      },
      "output": {
        "target": "com.discord.api#PrivateApplicationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/applications/@me",
          "code": 200
        }
      }
    },
    "com.discord.api#GetApplicationRequest": {
      "type": "structure",
      "members": {
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.discord.api#GetApplication": {
      "type": "operation",
      "input": {
        "target": "com.discord.api#GetApplicationRequest"
      },
      "output": {
        "target": "com.discord.api#PrivateApplicationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/applications/{application_id}",
          "code": 200
        }
      }
    },
    "com.discord.api#UpdateApplicationRequestDescriptionLocalizationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#UpdateApplicationRequestDescription": {
      "type": "structure",
      "members": {
        "default": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "localizations": {
          "target": "com.discord.api#UpdateApplicationRequestDescriptionLocalizationsMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.discord.api#UpdateApplicationRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#UpdateApplicationRequestIntegrationTypesConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.discord.api#ApplicationIntegrationTypeConfiguration"
      },
      "traits": {}
    },
    "com.discord.api#UpdateApplicationRequestEventWebhooksTypesList": {
      "type": "list",
      "member": {
        "target": "com.discord.api#ActionTypes"
      },
      "traits": {}
    },
    "com.discord.api#UpdateApplicationRequest": {
      "type": "structure",
      "members": {
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.discord.api#UpdateApplicationRequestDescription",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "icon": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "cover_image": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "team_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "flags": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "interactions_endpoint_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "explicit_content_filter": {
          "target": "com.discord.api#ApplicationExplicitContentFilterTypes",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "max_participants": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.discord.api#ApplicationTypes",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "tags": {
          "target": "com.discord.api#UpdateApplicationRequestTagsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "custom_install_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "install_params": {
          "target": "com.discord.api#ApplicationOAuth2InstallParams",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_connections_verification_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "integration_types_config": {
          "target": "com.discord.api#UpdateApplicationRequestIntegrationTypesConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "event_webhooks_status": {
          "target": "com.discord.api#ApplicationEventWebhooksStatus",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "event_webhooks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Event webhooks URL for the app to receive webhook events",
            "com.distilled.openapi#nullable": {}
          }
        },
        "event_webhooks_types": {
          "target": "com.discord.api#UpdateApplicationRequestEventWebhooksTypesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.discord.api#UpdateApplication": {
      "type": "operation",
      "input": {
        "target": "com.discord.api#UpdateApplicationRequest"
      },
      "output": {
        "target": "com.discord.api#PrivateApplicationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/applications/{application_id}",
          "code": 200
        }
      }
    },
    "com.discord.api#ApplicationsGetActivityInstanceRequest": {
      "type": "structure",
      "members": {
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "instance_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.discord.api#EmbeddedActivityInstance": {
      "type": "structure",
      "members": {
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "instance_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "launch_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.discord.api#EmbeddedActivityInstanceLocation",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "users": {
          "target": "com.discord.api#EmbeddedActivityInstanceUsersList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.discord.api#GuildChannelLocation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.discord.api#EmbeddedActivityLocationKind",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "channel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "guild_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.discord.api#EmbeddedActivityLocationKind": {
      "type": "enum",
      "members": {
        "GC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gc"
          }
        },
        "PC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pc"
          }
        },
        "PARTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "party"
          }
        }
      },
      "traits": {}
    },
    "com.discord.api#PrivateChannelLocation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.discord.api#EmbeddedActivityLocationKind",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "channel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.discord.api#EmbeddedActivityInstanceLocation": {
      "type": "union",
      "members": {
        "GuildChannelLocation": {
          "target": "com.discord.api#GuildChannelLocation"
        },
        "PrivateChannelLocation": {
          "target": "com.discord.api#PrivateChannelLocation"
        }
      },
      "traits": {}
    },
    "com.discord.api#EmbeddedActivityInstanceUsersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationsGetActivityInstance": {
      "type": "operation",
      "input": {
        "target": "com.discord.api#ApplicationsGetActivityInstanceRequest"
      },
      "output": {
        "target": "com.discord.api#EmbeddedActivityInstance"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/applications/{application_id}/activity-instances/{instance_id}",
          "code": 200
        }
      }
    },
    "com.discord.api#UploadApplicationAttachmentRequest": {
      "type": "structure",
      "members": {
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "file": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.discord.api#ActivitiesAttachmentResponse": {
      "type": "structure",
      "members": {
        "attachment": {
          "target": "com.discord.api#AttachmentResponse",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.discord.api#AttachmentResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "proxy_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "width": {
          "target": "smithy.api#Integer"
        },
        "height": {
          "target": "smithy.api#Integer"
        },
        "duration_secs": {
          "target": "smithy.api#Double"
        },
        "waveform": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "content_type": {
          "target": "smithy.api#String"
        },
        "ephemeral": {
          "target": "smithy.api#Boolean"
        },
        "flags": {
          "target": "smithy.api#Integer"
        },
        "placeholder": {
          "target": "smithy.api#String"
        },
        "placeholder_version": {
          "target": "smithy.api#Integer"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "application": {
          "target": "com.discord.api#ApplicationResponse"
        },
        "clip_created_at": {
          "target": "smithy.api#String"
        },
        "clip_participants": {
          "target": "com.discord.api#AttachmentResponseClipParticipantsList"
        }
      },
      "traits": {}
    },
    "com.discord.api#ApplicationResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "icon": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.discord.api#ApplicationTypes",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "cover_image": {
          "target": "smithy.api#String"
        },
        "primary_sku_id": {
          "target": "smithy.api#String"
        },
        "bot": {
          "target": "com.discord.api#UserResponse"
        },
        "slug": {
          "target": "smithy.api#String"
        },
        "guild_id": {
          "target": "smithy.api#String"
        },
        "rpc_origins": {
          "target": "com.discord.api#ApplicationResponseRpcOriginsList"
        },
        "bot_public": {
          "target": "smithy.api#Boolean"
        },
        "bot_require_code_grant": {
          "target": "smithy.api#Boolean"
        },
        "terms_of_service_url": {
          "target": "smithy.api#String"
        },
        "privacy_policy_url": {
          "target": "smithy.api#String"
        },
        "custom_install_url": {
          "target": "smithy.api#String"
        },
        "install_params": {
          "target": "com.discord.api#ApplicationOAuth2InstallParamsResponse"
        },
        "integration_types_config": {
          "target": "com.discord.api#ApplicationResponseIntegrationTypesConfigMap"
        },
        "verify_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "flags": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "flags_new": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "max_participants": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "tags": {
          "target": "com.discord.api#ApplicationResponseTagsList"
        }
      },
      "traits": {}
    },
    "com.discord.api#ApplicationResponseRpcOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationResponseIntegrationTypesConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.discord.api#ApplicationIntegrationTypeConfigurationResponse"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationResponseTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#AttachmentResponseClipParticipantsList": {
      "type": "list",
      "member": {
        "target": "com.discord.api#UserResponse"
      },
      "traits": {}
    },
    "com.discord.api#UploadApplicationAttachment": {
      "type": "operation",
      "input": {
        "target": "com.discord.api#UploadApplicationAttachmentRequest"
      },
      "output": {
        "target": "com.discord.api#ActivitiesAttachmentResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/applications/{application_id}/attachment",
          "code": 200,
          "contentType": "multipart"
        },
        "com.distilled.openapi#contentType": "multipart"
      }
    },
    "com.discord.api#ListApplicationCommandsRequest": {
      "type": "structure",
      "members": {
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "with_localizations": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "with_localizations"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.discord.api#ApplicationCommandResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "default_member_permissions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.discord.api#ApplicationCommandType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name_localized": {
          "target": "smithy.api#String"
        },
        "name_localizations": {
          "target": "com.discord.api#ApplicationCommandResponseNameLocalizationsMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description_localized": {
          "target": "smithy.api#String"
        },
        "description_localizations": {
          "target": "com.discord.api#ApplicationCommandResponseDescriptionLocalizationsMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "guild_id": {
          "target": "smithy.api#String"
        },
        "dm_permission": {
          "target": "smithy.api#Boolean"
        },
        "contexts": {
          "target": "com.discord.api#ApplicationCommandResponseContextsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "integration_types": {
          "target": "com.discord.api#ApplicationCommandResponseIntegrationTypesList"
        },
        "options": {
          "target": "com.discord.api#ApplicationCommandResponseOptionsList"
        },
        "nsfw": {
          "target": "smithy.api#Boolean"
        },
        "handler": {
          "target": "com.discord.api#ApplicationCommandHandler",
          "traits": {
            "smithy.api#documentation": "Determines whether the interaction is handled by the app's interactions handler or by Discord"
          }
        }
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandType": {
      "type": "intEnum",
      "members": {
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        },
        "_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2
          }
        },
        "_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3
          }
        },
        "_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4
          }
        }
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandResponseNameLocalizationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandResponseDescriptionLocalizationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#InteractionContextType": {
      "type": "intEnum",
      "members": {
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 0
          }
        },
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        },
        "_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2
          }
        }
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandResponseContextsList": {
      "type": "list",
      "member": {
        "target": "com.discord.api#InteractionContextType"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationIntegrationType": {
      "type": "intEnum",
      "members": {
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 0
          }
        },
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        }
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandResponseIntegrationTypesList": {
      "type": "list",
      "member": {
        "target": "com.discord.api#ApplicationIntegrationType"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandAttachmentOptionResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.discord.api#ApplicationCommandOptionType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name_localized": {
          "target": "smithy.api#String"
        },
        "name_localizations": {
          "target": "com.discord.api#ApplicationCommandAttachmentOptionResponseNameLocalizationsMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description_localized": {
          "target": "smithy.api#String"
        },
        "description_localizations": {
          "target": "com.discord.api#ApplicationCommandAttachmentOptionResponseDescriptionLocalizationsMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean"
        },
        "file_types": {
          "target": "com.discord.api#ApplicationCommandAttachmentOptionResponseFileTypesList"
        }
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandOptionType": {
      "type": "intEnum",
      "members": {
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        },
        "_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2
          }
        },
        "_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3
          }
        },
        "_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4
          }
        },
        "_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 5
          }
        },
        "_6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 6
          }
        },
        "_7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 7
          }
        },
        "_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 8
          }
        },
        "_9": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 9
          }
        },
        "_10": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 10
          }
        },
        "_11": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 11
          }
        }
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandAttachmentOptionResponseNameLocalizationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandAttachmentOptionResponseDescriptionLocalizationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandAttachmentOptionResponseFileTypesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandBooleanOptionResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.discord.api#ApplicationCommandOptionType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name_localized": {
          "target": "smithy.api#String"
        },
        "name_localizations": {
          "target": "com.discord.api#ApplicationCommandBooleanOptionResponseNameLocalizationsMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description_localized": {
          "target": "smithy.api#String"
        },
        "description_localizations": {
          "target": "com.discord.api#ApplicationCommandBooleanOptionResponseDescriptionLocalizationsMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandBooleanOptionResponseNameLocalizationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandBooleanOptionResponseDescriptionLocalizationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandChannelOptionResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.discord.api#ApplicationCommandOptionType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name_localized": {
          "target": "smithy.api#String"
        },
        "name_localizations": {
          "target": "com.discord.api#ApplicationCommandChannelOptionResponseNameLocalizationsMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description_localized": {
          "target": "smithy.api#String"
        },
        "description_localizations": {
          "target": "com.discord.api#ApplicationCommandChannelOptionResponseDescriptionLocalizationsMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean"
        },
        "channel_types": {
          "target": "com.discord.api#ApplicationCommandChannelOptionResponseChannelTypesList"
        }
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandChannelOptionResponseNameLocalizationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandChannelOptionResponseDescriptionLocalizationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#ChannelTypes": {
      "type": "intEnum",
      "members": {
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        },
        "_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3
          }
        },
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 0
          }
        },
        "_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2
          }
        },
        "_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4
          }
        },
        "_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 5
          }
        },
        "_10": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 10
          }
        },
        "_11": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 11
          }
        },
        "_12": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 12
          }
        },
        "_13": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 13
          }
        },
        "_14": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 14
          }
        },
        "_15": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 15
          }
        }
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandChannelOptionResponseChannelTypesList": {
      "type": "list",
      "member": {
        "target": "com.discord.api#ChannelTypes"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandIntegerOptionResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.discord.api#ApplicationCommandOptionType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name_localized": {
          "target": "smithy.api#String"
        },
        "name_localizations": {
          "target": "com.discord.api#ApplicationCommandIntegerOptionResponseNameLocalizationsMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description_localized": {
          "target": "smithy.api#String"
        },
        "description_localizations": {
          "target": "com.discord.api#ApplicationCommandIntegerOptionResponseDescriptionLocalizationsMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean"
        },
        "autocomplete": {
          "target": "smithy.api#Boolean"
        },
        "choices": {
          "target": "com.discord.api#ApplicationCommandIntegerOptionResponseChoicesList"
        },
        "min_value": {
          "target": "smithy.api#Integer"
        },
        "max_value": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandIntegerOptionResponseNameLocalizationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandIntegerOptionResponseDescriptionLocalizationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandOptionIntegerChoiceResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name_localized": {
          "target": "smithy.api#String"
        },
        "name_localizations": {
          "target": "com.discord.api#ApplicationCommandOptionIntegerChoiceResponseNameLocalizationsMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "value": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandOptionIntegerChoiceResponseNameLocalizationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandIntegerOptionResponseChoicesList": {
      "type": "list",
      "member": {
        "target": "com.discord.api#ApplicationCommandOptionIntegerChoiceResponse"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandMentionableOptionResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.discord.api#ApplicationCommandOptionType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name_localized": {
          "target": "smithy.api#String"
        },
        "name_localizations": {
          "target": "com.discord.api#ApplicationCommandMentionableOptionResponseNameLocalizationsMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description_localized": {
          "target": "smithy.api#String"
        },
        "description_localizations": {
          "target": "com.discord.api#ApplicationCommandMentionableOptionResponseDescriptionLocalizationsMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandMentionableOptionResponseNameLocalizationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandMentionableOptionResponseDescriptionLocalizationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandNumberOptionResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.discord.api#ApplicationCommandOptionType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name_localized": {
          "target": "smithy.api#String"
        },
        "name_localizations": {
          "target": "com.discord.api#ApplicationCommandNumberOptionResponseNameLocalizationsMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description_localized": {
          "target": "smithy.api#String"
        },
        "description_localizations": {
          "target": "com.discord.api#ApplicationCommandNumberOptionResponseDescriptionLocalizationsMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean"
        },
        "autocomplete": {
          "target": "smithy.api#Boolean"
        },
        "choices": {
          "target": "com.discord.api#ApplicationCommandNumberOptionResponseChoicesList"
        },
        "min_value": {
          "target": "smithy.api#Double"
        },
        "max_value": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandNumberOptionResponseNameLocalizationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandNumberOptionResponseDescriptionLocalizationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandOptionNumberChoiceResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name_localized": {
          "target": "smithy.api#String"
        },
        "name_localizations": {
          "target": "com.discord.api#ApplicationCommandOptionNumberChoiceResponseNameLocalizationsMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandOptionNumberChoiceResponseNameLocalizationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandNumberOptionResponseChoicesList": {
      "type": "list",
      "member": {
        "target": "com.discord.api#ApplicationCommandOptionNumberChoiceResponse"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandRoleOptionResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.discord.api#ApplicationCommandOptionType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name_localized": {
          "target": "smithy.api#String"
        },
        "name_localizations": {
          "target": "com.discord.api#ApplicationCommandRoleOptionResponseNameLocalizationsMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description_localized": {
          "target": "smithy.api#String"
        },
        "description_localizations": {
          "target": "com.discord.api#ApplicationCommandRoleOptionResponseDescriptionLocalizationsMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandRoleOptionResponseNameLocalizationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandRoleOptionResponseDescriptionLocalizationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandStringOptionResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.discord.api#ApplicationCommandOptionType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name_localized": {
          "target": "smithy.api#String"
        },
        "name_localizations": {
          "target": "com.discord.api#ApplicationCommandStringOptionResponseNameLocalizationsMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description_localized": {
          "target": "smithy.api#String"
        },
        "description_localizations": {
          "target": "com.discord.api#ApplicationCommandStringOptionResponseDescriptionLocalizationsMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean"
        },
        "autocomplete": {
          "target": "smithy.api#Boolean"
        },
        "choices": {
          "target": "com.discord.api#ApplicationCommandStringOptionResponseChoicesList"
        },
        "min_length": {
          "target": "smithy.api#Integer"
        },
        "max_length": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandStringOptionResponseNameLocalizationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandStringOptionResponseDescriptionLocalizationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandOptionStringChoiceResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name_localized": {
          "target": "smithy.api#String"
        },
        "name_localizations": {
          "target": "com.discord.api#ApplicationCommandOptionStringChoiceResponseNameLocalizationsMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandOptionStringChoiceResponseNameLocalizationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandStringOptionResponseChoicesList": {
      "type": "list",
      "member": {
        "target": "com.discord.api#ApplicationCommandOptionStringChoiceResponse"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandSubcommandGroupOptionResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.discord.api#ApplicationCommandOptionType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name_localized": {
          "target": "smithy.api#String"
        },
        "name_localizations": {
          "target": "com.discord.api#ApplicationCommandSubcommandGroupOptionResponseNameLocalizationsMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description_localized": {
          "target": "smithy.api#String"
        },
        "description_localizations": {
          "target": "com.discord.api#ApplicationCommandSubcommandGroupOptionResponseDescriptionLocalizationsMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean"
        },
        "options": {
          "target": "com.discord.api#ApplicationCommandSubcommandGroupOptionResponseOptionsList"
        }
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandSubcommandGroupOptionResponseNameLocalizationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandSubcommandGroupOptionResponseDescriptionLocalizationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandSubcommandOptionResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.discord.api#ApplicationCommandOptionType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name_localized": {
          "target": "smithy.api#String"
        },
        "name_localizations": {
          "target": "com.discord.api#ApplicationCommandSubcommandOptionResponseNameLocalizationsMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description_localized": {
          "target": "smithy.api#String"
        },
        "description_localizations": {
          "target": "com.discord.api#ApplicationCommandSubcommandOptionResponseDescriptionLocalizationsMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean"
        },
        "options": {
          "target": "com.discord.api#ApplicationCommandSubcommandOptionResponseOptionsList"
        }
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandSubcommandOptionResponseNameLocalizationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandSubcommandOptionResponseDescriptionLocalizationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandUserOptionResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.discord.api#ApplicationCommandOptionType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name_localized": {
          "target": "smithy.api#String"
        },
        "name_localizations": {
          "target": "com.discord.api#ApplicationCommandUserOptionResponseNameLocalizationsMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description_localized": {
          "target": "smithy.api#String"
        },
        "description_localizations": {
          "target": "com.discord.api#ApplicationCommandUserOptionResponseDescriptionLocalizationsMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandUserOptionResponseNameLocalizationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.discord.api#ApplicationCommandUserOptionResponseDescriptionLocalizationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
[...]
