{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.ovh.baremetal#IamResourceTagFilterInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Resource tag filter"
      }
    },
    "com.ovh.baremetal#GetDedicatedServerRequestIamTagsValueList": {
      "type": "list",
      "member": {
        "target": "com.ovh.baremetal#IamResourceTagFilterInput"
      },
      "traits": {}
    },
    "com.ovh.baremetal#GetDedicatedServerRequestIamTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.ovh.baremetal#GetDedicatedServerRequestIamTagsValueList"
      },
      "traits": {}
    },
    "com.ovh.baremetal#GetDedicatedServerRequest": {
      "type": "structure",
      "members": {
        "iamTags": {
          "target": "com.ovh.baremetal#GetDedicatedServerRequestIamTagsMap",
          "traits": {
            "smithy.api#httpQuery": "iamTags",
            "smithy.api#documentation": "Filter resources on IAM tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.baremetal#GetDedicatedServerResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.baremetal#GetDedicatedServerResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.baremetal#GetDedicatedServerResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.baremetal#GetDedicatedServer": {
      "type": "operation",
      "input": {
        "target": "com.ovh.baremetal#GetDedicatedServerRequest"
      },
      "output": {
        "target": "com.ovh.baremetal#GetDedicatedServerResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/dedicated/server",
          "code": 200
        },
        "smithy.api#documentation": "List available services"
      }
    },
    "com.ovh.baremetal#DedicatedAvailabilitiesRaw": {
      "type": "structure",
      "members": {
        "availability": {
          "target": "com.ovh.baremetal#DedicatedAvailabilityEnum",
          "traits": {
            "smithy.api#documentation": "The availability"
          }
        },
        "available": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Real stock in database"
          }
        },
        "incomingDatacenter": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Stock in datacenter",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lastRule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last availability rule applied",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ordered": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Ordered count"
          }
        },
        "orderedCheck": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Validating order count",
            "com.distilled.openapi#nullable": {}
          }
        },
        "parentAvailable": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Blockbuster stock count",
            "com.distilled.openapi#nullable": {}
          }
        },
        "reference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Product reference"
          }
        },
        "trueAvailable": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Real stock (considering order in validating)"
          }
        },
        "trueAvailable24H": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "24H count",
            "com.distilled.openapi#nullable": {}
          }
        },
        "trueAvailable4H": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "4H count",
            "com.distilled.openapi#nullable": {}
          }
        },
        "zone": {
          "target": "com.ovh.baremetal#DedicatedAvailabilityRegionEnum",
          "traits": {
            "smithy.api#documentation": "The region"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A structure describing the availabilities of dedicated server"
      }
    },
    "com.ovh.baremetal#DedicatedAvailabilityEnum": {
      "type": "enum",
      "members": {
        "_120H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "120H"
          }
        },
        "_1440H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1440H"
          }
        },
        "_1H_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1H-high"
          }
        },
        "_1H_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1H-low"
          }
        },
        "_2160H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "2160H"
          }
        },
        "_240H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "240H"
          }
        },
        "_24H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "24H"
          }
        },
        "_480H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "480H"
          }
        },
        "_720H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "720H"
          }
        },
        "_72H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "72H"
          }
        },
        "COMINGSOON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "comingSoon"
          }
        },
        "UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unavailable"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The availability"
      }
    },
    "com.ovh.baremetal#DedicatedAvailabilityRegionEnum": {
      "type": "enum",
      "members": {
        "AP_SOUTH_1_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-south-1-a"
          }
        },
        "AP_SOUTH_MUM_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-south-mum-a"
          }
        },
        "AP_SOUTHEAST_SGP_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-southeast-sgp-a"
          }
        },
        "AP_SOUTHEAST_SYD_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-southeast-syd-a"
          }
        },
        "APAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "apac"
          }
        },
        "BHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bhs"
          }
        },
        "CA_EAST_BHS_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ca-east-bhs-a"
          }
        },
        "CA_EAST_TOR_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ca-east-tor-a"
          }
        },
        "CANADA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canada"
          }
        },
        "CRX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "crx"
          }
        },
        "EU_CENTRAL_WAW_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-central-waw-a"
          }
        },
        "EU_SOUTH_MIL_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-south-mil-a"
          }
        },
        "EU_SOUTH_MIL_B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-south-mil-b"
          }
        },
        "EU_SOUTH_MIL_C": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-south-mil-c"
          }
        },
        "EU_WEST_1_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-1-a"
          }
        },
        "EU_WEST_1_B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-1-b"
          }
        },
        "EU_WEST_1_C": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-1-c"
          }
        },
        "EU_WEST_ERI_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-eri-a"
          }
        },
        "EU_WEST_GRA_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-gra-a"
          }
        },
        "EU_WEST_LIM_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-lim-a"
          }
        },
        "EU_WEST_PAR_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-par-a"
          }
        },
        "EU_WEST_PAR_B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-par-b"
          }
        },
        "EU_WEST_PAR_C": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-par-c"
          }
        },
        "EU_WEST_RBX_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-rbx-a"
          }
        },
        "EU_WEST_SBG_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-sbg-a"
          }
        },
        "EUROPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "europe"
          }
        },
        "FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fr"
          }
        },
        "FRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fra"
          }
        },
        "GRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gra"
          }
        },
        "HIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hil"
          }
        },
        "LIL1_INT1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lil1-int1"
          }
        },
        "LON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lon"
          }
        },
        "NORTHAMERICA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "northAmerica"
          }
        },
        "PAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "par"
          }
        },
        "RBX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rbx"
          }
        },
        "RBX_HZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rbx-hz"
          }
        },
        "SBG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sbg"
          }
        },
        "SGP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sgp"
          }
        },
        "SYD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "syd"
          }
        },
        "US_EAST_VIN_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east-vin-a"
          }
        },
        "US_WEST_HIL_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west-hil-a"
          }
        },
        "VIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vin"
          }
        },
        "WAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waw"
          }
        },
        "YNM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ynm"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The region"
      }
    },
    "com.ovh.baremetal#GetDedicatedServerAvailabilitiesRawResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.baremetal#DedicatedAvailabilitiesRaw"
      },
      "traits": {}
    },
    "com.ovh.baremetal#GetDedicatedServerAvailabilitiesRawResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.baremetal#GetDedicatedServerAvailabilitiesRawResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.baremetal#GetDedicatedServerAvailabilitiesRaw": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.ovh.baremetal#GetDedicatedServerAvailabilitiesRawResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/dedicated/server/availabilities/raw",
          "code": 200
        },
        "smithy.api#documentation": "List the availability of dedicated server"
      }
    },
    "com.ovh.baremetal#GetDedicatedServerDatacenterAvailabilitiesRequest": {
      "type": "structure",
      "members": {
        "datacenters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "datacenters",
            "smithy.api#documentation": "The names of datacenters separated by commas"
          }
        },
        "excludeDatacenters": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "excludeDatacenters",
            "smithy.api#documentation": "If true, all datacenters are returned except those listed in datacenters parameter"
          }
        },
        "gpu": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "gpu",
            "smithy.api#documentation": "The name of the gpu hardware part"
          }
        },
        "memory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "memory",
            "smithy.api#documentation": "The name of the memory hardware part"
          }
        },
        "planCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "planCode",
            "smithy.api#documentation": "The plan code in which the hardware is involved"
          }
        },
        "server": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "server",
            "smithy.api#documentation": "The name of the base hardware"
          }
        },
        "storage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "storage",
            "smithy.api#documentation": "The name of the storage hardware part"
          }
        },
        "systemStorage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "systemStorage",
            "smithy.api#documentation": "The name of the system storage hardware part"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.baremetal#DedicatedDatacenterAvailability": {
      "type": "structure",
      "members": {
        "datacenters": {
          "target": "com.ovh.baremetal#DedicatedDatacenterAvailabilityDatacentersList",
          "traits": {
            "smithy.api#documentation": "The hardware availability for each datacenter"
          }
        },
        "fqn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified and unique name of the hardware"
          }
        },
        "gpu": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the gpu hardware part",
            "com.distilled.openapi#nullable": {}
          }
        },
        "memory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the memory hardware part",
            "com.distilled.openapi#nullable": {}
          }
        },
        "planCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plan code in which the hardware is involved"
          }
        },
        "server": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the base hardware"
          }
        },
        "storage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the storage hardware part",
            "com.distilled.openapi#nullable": {}
          }
        },
        "systemStorage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the system storage hardware part",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A structure describing the availabilities of dedicated server"
      }
    },
    "com.ovh.baremetal#DedicatedAvailabilityDatacenter": {
      "type": "structure",
      "members": {
        "availability": {
          "target": "com.ovh.baremetal#DedicatedAvailabilityEnum",
          "traits": {
            "smithy.api#documentation": "The availability"
          }
        },
        "datacenter": {
          "target": "com.ovh.baremetal#DedicatedAvailabilityDatacenterEnum",
          "traits": {
            "smithy.api#documentation": "The datacenter"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A structure describing the hardware availability for each datacenter"
      }
    },
    "com.ovh.baremetal#DedicatedAvailabilityDatacenterEnum": {
      "type": "enum",
      "members": {
        "AP_SOUTH_1_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-south-1-a"
          }
        },
        "AP_SOUTH_MUM_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-south-mum-a"
          }
        },
        "AP_SOUTHEAST_SGP_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-southeast-sgp-a"
          }
        },
        "AP_SOUTHEAST_SYD_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-southeast-syd-a"
          }
        },
        "AU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "au"
          }
        },
        "BHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bhs"
          }
        },
        "CA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ca"
          }
        },
        "CA_EAST_1_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ca-east-1-a"
          }
        },
        "CA_EAST_BHS_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ca-east-bhs-a"
          }
        },
        "CA_EAST_TOR_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ca-east-tor-a"
          }
        },
        "DE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "de"
          }
        },
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU_CENTRAL_WAW_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-central-waw-a"
          }
        },
        "EU_SOUTH_MIL_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-south-mil-a"
          }
        },
        "EU_SOUTH_MIL_B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-south-mil-b"
          }
        },
        "EU_SOUTH_MIL_C": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-south-mil-c"
          }
        },
        "EU_WEST_1_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-1-a"
          }
        },
        "EU_WEST_1_B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-1-b"
          }
        },
        "EU_WEST_1_C": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-1-c"
          }
        },
        "EU_WEST_ERI_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-eri-a"
          }
        },
        "EU_WEST_GRA_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-gra-a"
          }
        },
        "EU_WEST_LIM_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-lim-a"
          }
        },
        "EU_WEST_PAR_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-par-a"
          }
        },
        "EU_WEST_PAR_B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-par-b"
          }
        },
        "EU_WEST_PAR_C": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-par-c"
          }
        },
        "EU_WEST_RBX_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-rbx-a"
          }
        },
        "EU_WEST_SBG_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-sbg-a"
          }
        },
        "FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fr"
          }
        },
        "FRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fra"
          }
        },
        "GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gb"
          }
        },
        "GRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gra"
          }
        },
        "HIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hil"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in"
          }
        },
        "LON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lon"
          }
        },
        "PAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "par"
          }
        },
        "PL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pl"
          }
        },
        "RBX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rbx"
          }
        },
        "RBX_HZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rbx-hz"
          }
        },
        "SBG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sbg"
          }
        },
        "SG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sg"
          }
        },
        "SGP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sgp"
          }
        },
        "SYD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "syd"
          }
        },
        "US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us"
          }
        },
        "US_EAST_VIN_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east-vin-a"
          }
        },
        "US_WEST_HIL_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west-hil-a"
          }
        },
        "VIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vin"
          }
        },
        "WAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waw"
          }
        },
        "YNM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ynm"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The datacenter"
      }
    },
    "com.ovh.baremetal#DedicatedDatacenterAvailabilityDatacentersList": {
      "type": "list",
      "member": {
        "target": "com.ovh.baremetal#DedicatedAvailabilityDatacenter"
      },
      "traits": {
        "smithy.api#documentation": "The hardware availability for each datacenter"
      }
    },
    "com.ovh.baremetal#GetDedicatedServerDatacenterAvailabilitiesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.baremetal#DedicatedDatacenterAvailability"
      },
      "traits": {}
    },
    "com.ovh.baremetal#GetDedicatedServerDatacenterAvailabilitiesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.baremetal#GetDedicatedServerDatacenterAvailabilitiesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.baremetal#GetDedicatedServerDatacenterAvailabilities": {
      "type": "operation",
      "input": {
        "target": "com.ovh.baremetal#GetDedicatedServerDatacenterAvailabilitiesRequest"
      },
      "output": {
        "target": "com.ovh.baremetal#GetDedicatedServerDatacenterAvailabilitiesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/dedicated/server/datacenter/availabilities",
          "code": 200
        },
        "smithy.api#documentation": "List the availability of dedicated server"
      }
    },
    "com.ovh.baremetal#GetDedicatedServerDatacenterAvailabilitiesRawRequest": {
      "type": "structure",
      "members": {
        "datacenters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "datacenters",
            "smithy.api#documentation": "The names of datacenters separated by commas"
          }
        },
        "excludeDatacenters": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "excludeDatacenters",
            "smithy.api#documentation": "If true, all datacenters are returned except those listed in datacenters parameter"
          }
        },
        "gpu": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "gpu",
            "smithy.api#documentation": "The name of the gpu hardware part"
          }
        },
        "memory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "memory",
            "smithy.api#documentation": "The name of the memory hardware part"
          }
        },
        "planCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "planCode",
            "smithy.api#documentation": "The plan code in which the hardware is involved"
          }
        },
        "server": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "server",
            "smithy.api#documentation": "The name of the base hardware"
          }
        },
        "storage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "storage",
            "smithy.api#documentation": "The name of the storage hardware part"
          }
        },
        "systemStorage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "systemStorage",
            "smithy.api#documentation": "The name of the system storage hardware part"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.baremetal#DedicatedDatacenterRawAvailability": {
      "type": "structure",
      "members": {
        "datacenters": {
          "target": "com.ovh.baremetal#DedicatedDatacenterRawAvailabilityDatacentersList",
          "traits": {
            "smithy.api#documentation": "The hardware raw availability for each datacenter"
          }
        },
        "fqn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified and unique name of the hardware"
          }
        },
        "gpu": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the gpu hardware part",
            "com.distilled.openapi#nullable": {}
          }
        },
        "memory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the memory hardware part",
            "com.distilled.openapi#nullable": {}
          }
        },
        "planCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plan code in which the hardware is involved"
          }
        },
        "regions": {
          "target": "com.ovh.baremetal#DedicatedDatacenterRawAvailabilityRegionsList",
          "traits": {
            "smithy.api#documentation": "The hardware raw availability for each datacenter",
            "com.distilled.openapi#nullable": {}
          }
        },
        "server": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the base hardware"
          }
        },
        "storage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the storage hardware part",
            "com.distilled.openapi#nullable": {}
          }
        },
        "systemStorage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the system storage hardware part",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A structure describing the raw availabilities of dedicated server"
      }
    },
    "com.ovh.baremetal#DedicatedAvailabilityRawDatacenter": {
      "type": "structure",
      "members": {
        "availability": {
          "target": "com.ovh.baremetal#DedicatedAvailabilityEnum",
          "traits": {
            "smithy.api#documentation": "The availability"
          }
        },
        "datacenter": {
          "target": "com.ovh.baremetal#DedicatedAvailabilityDatacenterEnum",
          "traits": {
            "smithy.api#documentation": "The datacenter"
          }
        },
        "lastRule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last availability rule applied",
            "com.distilled.openapi#nullable": {}
          }
        },
        "parentAvailable": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Real stock including parent references"
          }
        },
        "trueAvailable": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Real stock"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A structure describing the hardware raw availability for each datacenter"
      }
    },
    "com.ovh.baremetal#DedicatedDatacenterRawAvailabilityDatacentersList": {
      "type": "list",
      "member": {
        "target": "com.ovh.baremetal#DedicatedAvailabilityRawDatacenter"
      },
      "traits": {
        "smithy.api#documentation": "The hardware raw availability for each datacenter"
      }
    },
    "com.ovh.baremetal#DedicatedAvailabilityRawRegion": {
      "type": "structure",
      "members": {
        "availability": {
          "target": "com.ovh.baremetal#DedicatedAvailabilityEnum",
          "traits": {
            "smithy.api#documentation": "The availability"
          }
        },
        "availabilityZones": {
          "target": "com.ovh.baremetal#DedicatedAvailabilityRawRegionAvailabilityZonesList",
          "traits": {
            "smithy.api#documentation": "Availability for each availability zone"
          }
        },
        "lastRule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last availability rule applied",
            "com.distilled.openapi#nullable": {}
          }
        },
        "parentAvailable": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Real stock including parent references"
          }
        },
        "region": {
          "target": "com.ovh.baremetal#DedicatedAvailabilityRegionalizationEnum",
          "traits": {
            "smithy.api#documentation": "The region"
          }
        },
        "trueAvailable": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Real stock"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A structure describing the hardware raw availability for each datacenter"
      }
    },
    "com.ovh.baremetal#DedicatedAvailabilityRawAvailabilityZones": {
      "type": "structure",
      "members": {
        "availability": {
          "target": "com.ovh.baremetal#DedicatedAvailabilityEnum",
          "traits": {
            "smithy.api#documentation": "The availability"
          }
        },
        "availabilityZone": {
          "target": "com.ovh.baremetal#DedicatedAvailabilityAvailabilityZoneEnum",
          "traits": {
            "smithy.api#documentation": "The availability zone"
          }
        },
        "lastRule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last availability rule applied",
            "com.distilled.openapi#nullable": {}
          }
        },
        "parentAvailable": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Real stock including parent references"
          }
        },
        "trueAvailable": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Real stock"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A structure describing the hardware raw availability for each availability zone"
      }
    },
    "com.ovh.baremetal#DedicatedAvailabilityAvailabilityZoneEnum": {
      "type": "enum",
      "members": {
        "AP_SOUTH_1_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-south-1-a"
          }
        },
        "AP_SOUTH_MUM_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-south-mum-a"
          }
        },
        "AP_SOUTHEAST_SGP_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-southeast-sgp-a"
          }
        },
        "AP_SOUTHEAST_SYD_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-southeast-syd-a"
          }
        },
        "CA_EAST_1_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ca-east-1-a"
          }
        },
        "CA_EAST_BHS_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ca-east-bhs-a"
          }
        },
        "CA_EAST_TOR_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ca-east-tor-a"
          }
        },
        "EU_CENTRAL_WAW_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-central-waw-a"
          }
        },
        "EU_SOUTH_MIL_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-south-mil-a"
          }
        },
        "EU_SOUTH_MIL_B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-south-mil-b"
          }
        },
        "EU_SOUTH_MIL_C": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-south-mil-c"
          }
        },
        "EU_WEST_1_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-1-a"
          }
        },
        "EU_WEST_1_B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-1-b"
          }
        },
        "EU_WEST_1_C": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-1-c"
          }
        },
        "EU_WEST_ERI_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-eri-a"
          }
        },
        "EU_WEST_GRA_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-gra-a"
          }
        },
        "EU_WEST_LIM_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-lim-a"
          }
        },
        "EU_WEST_PAR_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-par-a"
          }
        },
        "EU_WEST_PAR_B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-par-b"
          }
        },
        "EU_WEST_PAR_C": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-par-c"
          }
        },
        "EU_WEST_RBX_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-rbx-a"
          }
        },
        "EU_WEST_SBG_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-sbg-a"
          }
        },
        "US_EAST_VIN_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east-vin-a"
          }
        },
        "US_WEST_HIL_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west-hil-a"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The availability zone"
      }
    },
    "com.ovh.baremetal#DedicatedAvailabilityRawRegionAvailabilityZonesList": {
      "type": "list",
      "member": {
        "target": "com.ovh.baremetal#DedicatedAvailabilityRawAvailabilityZones"
      },
      "traits": {
        "smithy.api#documentation": "Availability for each availability zone"
      }
    },
    "com.ovh.baremetal#DedicatedAvailabilityRegionalizationEnum": {
      "type": "enum",
      "members": {
        "AP_SOUTH_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-south-1"
          }
        },
        "AP_SOUTH_MUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-south-mum"
          }
        },
        "AP_SOUTHEAST_SGP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-southeast-sgp"
          }
        },
        "AP_SOUTHEAST_SYD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-southeast-syd"
          }
        },
        "CA_EAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ca-east-1"
          }
        },
        "CA_EAST_BHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ca-east-bhs"
          }
        },
        "CA_EAST_TOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ca-east-tor"
          }
        },
        "EU_CENTRAL_WAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-central-waw"
          }
        },
        "EU_SOUTH_MIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-south-mil"
          }
        },
        "EU_WEST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-1"
          }
        },
        "EU_WEST_ERI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-eri"
          }
        },
        "EU_WEST_GRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-gra"
          }
        },
        "EU_WEST_LIM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-lim"
          }
        },
        "EU_WEST_PAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-par"
          }
        },
        "EU_WEST_RBX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-rbx"
          }
        },
        "EU_WEST_SBG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-sbg"
          }
        },
        "US_EAST_VIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east-vin"
          }
        },
        "US_WEST_HIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west-hil"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The region"
      }
    },
    "com.ovh.baremetal#DedicatedDatacenterRawAvailabilityRegionsList": {
      "type": "list",
      "member": {
        "target": "com.ovh.baremetal#DedicatedAvailabilityRawRegion"
      },
      "traits": {
        "smithy.api#documentation": "The hardware raw availability for each datacenter"
      }
    },
    "com.ovh.baremetal#GetDedicatedServerDatacenterAvailabilitiesRawResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.baremetal#DedicatedDatacenterRawAvailability"
      },
      "traits": {}
    },
    "com.ovh.baremetal#GetDedicatedServerDatacenterAvailabilitiesRawResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.baremetal#GetDedicatedServerDatacenterAvailabilitiesRawResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.baremetal#GetDedicatedServerDatacenterAvailabilitiesRaw": {
      "type": "operation",
      "input": {
        "target": "com.ovh.baremetal#GetDedicatedServerDatacenterAvailabilitiesRawRequest"
      },
      "output": {
        "target": "com.ovh.baremetal#GetDedicatedServerDatacenterAvailabilitiesRawResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/dedicated/server/datacenter/availabilities/raw",
          "code": 200
        },
        "smithy.api#documentation": "List the raw availability of dedicated server"
      }
    },
    "com.ovh.baremetal#GetDedicatedServerOsAvailabilitiesRequest": {
      "type": "structure",
      "members": {
        "hardware": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "hardware",
            "smithy.api#required": {},
            "smithy.api#documentation": "Hardware reference requested"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.baremetal#GetDedicatedServerOsAvailabilitiesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.baremetal#GetDedicatedServerOsAvailabilitiesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.baremetal#GetDedicatedServerOsAvailabilitiesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.baremetal#GetDedicatedServerOsAvailabilities": {
      "type": "operation",
      "input": {
        "target": "com.ovh.baremetal#GetDedicatedServerOsAvailabilitiesRequest"
      },
      "output": {
        "target": "com.ovh.baremetal#GetDedicatedServerOsAvailabilitiesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/dedicated/server/osAvailabilities",
          "code": 200
        },
        "smithy.api#documentation": "List the os available for a specified hardware reference"
      }
    },
    "com.ovh.baremetal#DedicatedServerAvailabilityRegionalizationEnum": {
      "type": "enum",
      "members": {
        "AP_SOUTH_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-south-1"
          }
        },
        "AP_SOUTHEAST_SGP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-southeast-sgp"
          }
        },
        "AP_SOUTHEAST_SYD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-southeast-syd"
          }
        },
        "CA_EAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ca-east-1"
          }
        },
        "CA_EAST_BHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ca-east-bhs"
          }
        },
        "EU_CENTRAL_WAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-central-waw"
          }
        },
        "EU_WEST_ERI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-eri"
          }
        },
        "EU_WEST_GRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-gra"
          }
        },
        "EU_WEST_LIM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-lim"
          }
        },
        "EU_WEST_PAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-par"
          }
        },
        "EU_WEST_RBX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-rbx"
          }
        },
        "EU_WEST_SBG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-sbg"
          }
        },
        "US_EAST_VIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east-vin"
          }
        },
        "US_WEST_HIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west-hil"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The region"
      }
    },
    "com.ovh.baremetal#GetDedicatedServerRegionAvailabilitiesRequestRegionsList": {
      "type": "list",
      "member": {
        "target": "com.ovh.baremetal#DedicatedServerAvailabilityRegionalizationEnum"
      },
      "traits": {}
    },
    "com.ovh.baremetal#GetDedicatedServerRegionAvailabilitiesRequest": {
      "type": "structure",
      "members": {
        "excludeRegions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "excludeRegions",
            "smithy.api#documentation": "If true, all regions are returned except those listed in regions parameter"
          }
        },
        "gpu": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "gpu",
            "smithy.api#documentation": "The name of the gpu hardware part"
          }
        },
        "memory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "memory",
            "smithy.api#documentation": "The name of the memory hardware part"
          }
        },
        "planCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "planCode",
            "smithy.api#documentation": "The plan code in which the hardware is involved"
          }
        },
        "regions": {
          "target": "com.ovh.baremetal#GetDedicatedServerRegionAvailabilitiesRequestRegionsList",
          "traits": {
            "smithy.api#httpQuery": "regions",
            "smithy.api#documentation": "The names of regions"
          }
        },
        "server": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "server",
            "smithy.api#documentation": "The name of the base hardware"
          }
        },
        "storage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "storage",
            "smithy.api#documentation": "The name of the storage hardware part"
          }
        },
        "systemStorage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "systemStorage",
            "smithy.api#documentation": "The name of the system storage hardware part"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.baremetal#DedicatedServerRegionAvailability": {
      "type": "structure",
      "members": {
        "fqn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified and unique name of the hardware"
          }
        },
        "gpu": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the gpu hardware part",
            "com.distilled.openapi#nullable": {}
          }
        },
        "memory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the memory hardware part",
            "com.distilled.openapi#nullable": {}
          }
        },
        "planCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plan code in which the hardware is involved"
          }
        },
        "regions": {
          "target": "com.ovh.baremetal#DedicatedServerRegionAvailabilityRegionsList",
          "traits": {
            "smithy.api#documentation": "The hardware availability for each region",
            "com.distilled.openapi#nullable": {}
          }
        },
        "server": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the base hardware"
          }
        },
        "storage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the storage hardware part",
            "com.distilled.openapi#nullable": {}
          }
        },
        "systemStorage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the system storage hardware part",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A structure describing the availabilities of dedicated server"
      }
    },
    "com.ovh.baremetal#DedicatedServerAvailabilityByRegion": {
      "type": "structure",
      "members": {
        "availability": {
          "target": "com.ovh.baremetal#DedicatedServerAvailabilityEnum",
          "traits": {
            "smithy.api#documentation": "The availability"
          }
        },
        "availabilityZones": {
          "target": "com.ovh.baremetal#DedicatedServerAvailabilityByRegionAvailabilityZonesList",
          "traits": {
            "smithy.api#documentation": "Availability zones"
          }
        },
        "region": {
          "target": "com.ovh.baremetal#DedicatedServerAvailabilityRegionalizationEnum",
          "traits": {
            "smithy.api#documentation": "The region"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A structure describing the hardware availability for each region"
      }
    },
    "com.ovh.baremetal#DedicatedServerAvailabilityEnum": {
      "type": "enum",
      "members": {
        "_120H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "120H"
          }
        },
        "_1440H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1440H"
          }
        },
        "_1H_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1H-high"
          }
        },
        "_1H_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1H-low"
          }
        },
        "_2160H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "2160H"
          }
        },
        "_240H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "240H"
          }
        },
        "_24H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "24H"
          }
        },
        "_480H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "480H"
          }
        },
        "_720H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "720H"
          }
        },
        "_72H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "72H"
          }
        },
        "COMINGSOON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "comingSoon"
          }
        },
        "UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unavailable"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The availability"
      }
    },
    "com.ovh.baremetal#DedicatedServerAvailabilityZones": {
      "type": "structure",
      "members": {
        "availability": {
          "target": "com.ovh.baremetal#DedicatedServerAvailabilityEnum",
          "traits": {
            "smithy.api#documentation": "The availability"
          }
        },
        "availabilityZone": {
          "target": "com.ovh.baremetal#DedicatedServerAvailabilityZonesEnum",
          "traits": {
            "smithy.api#documentation": "The availability zone"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A structure describing the hardware availability for each availability zone"
      }
    },
    "com.ovh.baremetal#DedicatedServerAvailabilityZonesEnum": {
      "type": "enum",
      "members": {
        "AP_SOUTH_1_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-south-1-a"
          }
        },
        "AP_SOUTH_MUM_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-south-mum-a"
          }
        },
        "AP_SOUTHEAST_SGP_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-southeast-sgp-a"
          }
        },
        "AP_SOUTHEAST_SYD_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-southeast-syd-a"
          }
        },
        "CA_EAST_1_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ca-east-1-a"
          }
        },
        "CA_EAST_BHS_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ca-east-bhs-a"
          }
        },
        "CA_EAST_TOR_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ca-east-tor-a"
          }
        },
        "EU_CENTRAL_WAW_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-central-waw-a"
          }
        },
        "EU_SOUTH_MIL_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-south-mil-a"
          }
        },
        "EU_SOUTH_MIL_B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-south-mil-b"
          }
        },
        "EU_SOUTH_MIL_C": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-south-mil-c"
          }
        },
        "EU_WEST_1_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-1-a"
          }
        },
        "EU_WEST_1_B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-1-b"
          }
        },
        "EU_WEST_1_C": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-1-c"
          }
        },
        "EU_WEST_ERI_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-eri-a"
          }
        },
        "EU_WEST_GRA_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-gra-a"
          }
        },
        "EU_WEST_LIM_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-lim-a"
          }
        },
        "EU_WEST_PAR_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-par-a"
          }
        },
        "EU_WEST_PAR_B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-par-b"
          }
        },
        "EU_WEST_PAR_C": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-par-c"
          }
        },
        "EU_WEST_RBX_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-rbx-a"
          }
        },
        "EU_WEST_SBG_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-sbg-a"
          }
        },
        "US_EAST_VIN_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east-vin-a"
          }
        },
        "US_WEST_HIL_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west-hil-a"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The availability zone"
      }
    },
    "com.ovh.baremetal#DedicatedServerAvailabilityByRegionAvailabilityZonesList": {
      "type": "list",
      "member": {
        "target": "com.ovh.baremetal#DedicatedServerAvailabilityZones"
      },
      "traits": {
        "smithy.api#documentation": "Availability zones"
      }
    },
    "com.ovh.baremetal#DedicatedServerRegionAvailabilityRegionsList": {
      "type": "list",
      "member": {
        "target": "com.ovh.baremetal#DedicatedServerAvailabilityByRegion"
      },
      "traits": {
        "smithy.api#documentation": "The hardware availability for each region"
      }
    },
    "com.ovh.baremetal#GetDedicatedServerRegionAvailabilitiesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.baremetal#DedicatedServerRegionAvailability"
      },
      "traits": {}
    },
    "com.ovh.baremetal#GetDedicatedServerRegionAvailabilitiesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.baremetal#GetDedicatedServerRegionAvailabilitiesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.baremetal#GetDedicatedServerRegionAvailabilities": {
      "type": "operation",
      "input": {
        "target": "com.ovh.baremetal#GetDedicatedServerRegionAvailabilitiesRequest"
      },
      "output": {
        "target": "com.ovh.baremetal#GetDedicatedServerRegionAvailabilitiesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/dedicated/server/region/availabilities",
          "code": 200
        },
        "smithy.api#documentation": "List the availability of dedicated server"
      }
    },
    "com.ovh.baremetal#GetDedicatedServerVirtualNetworkInterfaceUuidRequest": {
      "type": "structure",
      "members": {
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Uuid"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.baremetal#DedicatedServerVirtualNetworkInterface": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "VirtualNetworkInterface activation state"
          }
        },
        "mode": {
          "target": "com.ovh.baremetal#DedicatedVirtualNetworkInterfaceVirtualNetworkInterfaceModeEnum",
          "traits": {
            "smithy.api#documentation": "Available VirtualNetworkInterface modes"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User defined VirtualNetworkInterface name"
          }
        },
        "networkInterfaceController": {
          "target": "com.ovh.baremetal#DedicatedServerVirtualNetworkInterfaceNetworkInterfaceControllerList",
          "traits": {
            "smithy.api#documentation": "NetworkInterfaceControllers bound to this VirtualNetworkInterface"
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Server bound to this VirtualNetworkInterface"
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "VirtualNetworkInterface unique id"
          }
        },
        "vrack": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "vRack name",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Your VirtualNetworkInterface"
      }
    },
    "com.ovh.baremetal#DedicatedVirtualNetworkInterfaceVirtualNetworkInterfaceModeEnum": {
      "type": "enum",
      "members": {
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        },
        "PUBLIC_AGGREGATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public_aggregation"
          }
        },
        "VRACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vrack"
          }
        },
        "VRACK_AGGREGATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vrack_aggregation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Available VirtualNetworkInterface modes"
      }
    },
    "com.ovh.baremetal#DedicatedServerVirtualNetworkInterfaceNetworkInterfaceControllerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "NetworkInterfaceControllers bound to this VirtualNetworkInterface"
      }
    },
    "com.ovh.baremetal#GetDedicatedServerVirtualNetworkInterfaceUuid": {
      "type": "operation",
      "input": {
        "target": "com.ovh.baremetal#GetDedicatedServerVirtualNetworkInterfaceUuidRequest"
      },
      "output": {
        "target": "com.ovh.baremetal#DedicatedServerVirtualNetworkInterface"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/dedicated/server/virtualNetworkInterface/{uuid}",
          "code": 200
        },
        "smithy.api#documentation": "Get VirtualNetworkInterface details"
      }
    },
    "com.ovh.baremetal#GetDedicatedServerServiceNameRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your dedicated server"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.baremetal#DedicatedServerDedicatedWithIAM": {
      "type": "structure",
      "members": {
        "availabilityZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "dedicated AZ localisation"
          }
        },
        "bootId": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "bootScript": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ipxe script served on boot",
            "com.distilled.openapi#nullable": {}
          }
        },
        "commercialRange": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "dedicater server commercial range",
            "com.distilled.openapi#nullable": {}
          }
        },
        "datacenter": {
          "target": "com.ovh.baremetal#DedicatedDatacenterEnum",
          "traits": {
            "smithy.api#documentation": "dedicated datacenter localisation"
          }
        },
        "efiBootloaderPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "EfiBootloader path",
            "com.distilled.openapi#nullable": {}
          }
        },
        "iam": {
          "target": "com.ovh.baremetal#IamResourceMetadata",
          "traits": {
            "smithy.api#documentation": "IAM resource metadata",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "dedicated server ip"
          }
        },
        "linkSpeed": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "monitoring": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Icmp monitoring state"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "dedicated server name"
          }
        },
        "newUpgradeSystem": {
          "target": "smithy.api#Boolean"
        },
        "noIntervention": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prevent datacenter intervention"
          }
        },
        "os": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operating system"
          }
        },
        "powerState": {
          "target": "com.ovh.baremetal#DedicatedServerPowerStateEnum",
          "traits": {
            "smithy.api#documentation": "Power state of the server"
          }
        },
        "professionalUse": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Does this server have professional use option"
          }
        },
        "rack": {
          "target": "smithy.api#String"
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "dedicated region localisation"
          }
        },
        "rescueMail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom email used to receive rescue credentials",
            "com.distilled.openapi#nullable": {}
          }
        },
        "rescueSshKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public SSH Key used in the rescue mode",
            "com.distilled.openapi#nullable": {}
          }
        },
        "reverse": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "dedicated server reverse",
            "com.distilled.openapi#nullable": {}
          }
        },
        "rootDevice": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "serverId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "your server id"
          }
        },
        "state": {
          "target": "com.ovh.baremetal#DedicatedServerStateEnum"
        },
        "supportLevel": {
          "target": "com.ovh.baremetal#DedicatedServerSupportLevelEnum",
          "traits": {
            "smithy.api#documentation": "Dedicated server support level"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Server informations"
      }
    },
    "com.ovh.baremetal#DedicatedDatacenterEnum": {
      "type": "enum",
      "members": {
        "BHS1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bhs1"
          }
        },
        "BHS2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bhs2"
          }
        },
        "BHS3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bhs3"
          }
        },
        "BHS4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bhs4"
          }
        },
        "BHS5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bhs5"
          }
        },
        "BHS6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bhs6"
          }
        },
        "BHS7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bhs7"
          }
        },
        "BHS8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bhs8"
          }
        },
        "CCH01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cch01"
          }
        },
        "CRX1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "crx1"
          }
        },
        "CRX2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "crx2"
          }
        },
        "DC1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dc1"
          }
        },
        "ERI1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eri1"
          }
        },
        "ERI2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eri2"
          }
        },
        "GRA04": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gra04"
          }
        },
        "GRA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gra1"
          }
        },
        "GRA2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gra2"
          }
        },
        "GRA3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gra3"
          }
        },
        "GSW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gsw"
          }
        },
        "HDF01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hdf01"
          }
        },
        "HIL1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hil1"
          }
        },
        "IEB01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ieb01"
          }
        },
        "LIL1_INT1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lil1-int1"
          }
        },
        "LIM1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lim1"
          }
        },
        "LIM2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lim2"
          }
        },
        "LIM3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lim3"
          }
        },
        "MR901": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mr901"
          }
        },
        "P19": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "p19"
          }
        },
        "RBX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rbx"
          }
        },
        "RBX_HZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rbx-hz"
          }
        },
        "RBX1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rbx1"
          }
        },
        "RBX10": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rbx10"
          }
        },
        "RBX2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rbx2"
          }
        },
        "RBX3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rbx3"
          }
        },
        "RBX4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rbx4"
          }
        },
        "RBX5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rbx5"
          }
        },
        "RBX6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rbx6"
          }
        },
        "RBX7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rbx7"
          }
        },
        "RBX8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rbx8"
          }
        },
        "RBX9": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rbx9"
          }
        },
        "SBG1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sbg1"
          }
        },
        "SBG2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sbg2"
          }
        },
        "SBG3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sbg3"
          }
        },
        "SBG4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sbg4"
          }
        },
        "SBG5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sbg5"
          }
        },
        "SGP02": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sgp02"
          }
        },
        "SGP1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sgp1"
          }
        },
        "SYD03": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "syd03"
          }
        },
        "SYD1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "syd1"
          }
        },
        "SYD2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "syd2"
          }
        },
        "VIN1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vin1"
          }
        },
        "WAW1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waw1"
          }
        },
        "YNM1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ynm1"
          }
        },
        "YYZ01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yyz01"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ovh datacenter"
      }
    },
    "com.ovh.baremetal#IamResourceMetadata": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource display name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the resource"
          }
        },
        "tags": {
          "target": "com.ovh.baremetal#IamResourceMetadataTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:",
            "com.distilled.openapi#nullable": {}
          }
        },
        "urn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique resource name used in policies"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IAM resource metadata embedded in services models"
      }
    },
    "com.ovh.baremetal#IamResourceMetadataTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:"
      }
    },
    "com.ovh.baremetal#DedicatedServerPowerStateEnum": {
      "type": "enum",
      "members": {
        "POWEROFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "poweroff"
          }
        },
        "POWERON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "poweron"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Power states of a Dedicated"
      }
    },
    "com.ovh.baremetal#DedicatedServerStateEnum": {
      "type": "enum",
      "members": {
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "HACKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hacked"
          }
        },
        "HACKEDBLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hackedBlocked"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All states a Dedicated can in"
      }
    },
    "com.ovh.baremetal#DedicatedServerSupportLevelEnum": {
      "type": "enum",
      "members": {
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "critical"
          }
        },
        "FASTPATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fastpath"
          }
        },
        "GS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gs"
          }
        },
        "PRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pro"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "distincts support level"
      }
    },
    "com.ovh.baremetal#GetDedicatedServerServiceName": {
      "type": "operation",
      "input": {
        "target": "com.ovh.baremetal#GetDedicatedServerServiceNameRequest"
      },
      "output": {
        "target": "com.ovh.baremetal#DedicatedServerDedicatedWithIAM"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/dedicated/server/{serviceName}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.baremetal#PutDedicatedServerServiceNameRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your dedicated server"
          }
        },
        "bootId": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "bootScript": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ipxe script served on boot",
            "com.distilled.openapi#nullable": {}
          }
        },
        "efiBootloaderPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "EfiBootloader path",
            "com.distilled.openapi#nullable": {}
          }
        },
        "monitoring": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Icmp monitoring state"
          }
        },
        "noIntervention": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prevent datacenter intervention"
          }
        },
        "rescueMail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom email used to receive rescue credentials",
            "com.distilled.openapi#nullable": {}
          }
        },
        "rescueSshKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public SSH Key used in the rescue mode",
            "com.distilled.openapi#nullable": {}
          }
        },
        "rootDevice": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "state": {
          "target": "com.ovh.baremetal#DedicatedServerStateEnum"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.baremetal#PutDedicatedServerServiceName": {
      "type": "operation",
      "input": {
        "target": "com.ovh.baremetal#PutDedicatedServerServiceNameRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/dedicated/server/{serviceName}",
          "code": 200
        },
        "smithy.api#documentation": "Alter this object properties"
      }
    },
    "com.ovh.baremetal#PostDedicatedServerServiceNameAntiDDosGameActivateRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your dedicated server"
          }
        },
        "enable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "scheduling operation to activate anti DDoS protection (0=disable || 1=enable)",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.baremetal#DedicatedServerTask": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Details of this task",
            "com.distilled.openapi#nullable": {}
          }
        },
        "doneDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Completion date",
            "com.distilled.openapi#nullable": {}
          }
        },
        "function": {
          "target": "com.ovh.baremetal#DedicatedTaskFunctionEnum",
          "traits": {
            "smithy.api#documentation": "Function name"
          }
        },
        "lastUpdate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "last update",
            "com.distilled.openapi#nullable": {}
          }
        },
        "needSchedule": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this task need to be scheduled or not"
          }
        },
        "note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Extra information about this task",
            "com.distilled.openapi#nullable": {}
          }
        },
        "plannedInterventionId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the planned intervention for this task",
            "com.distilled.openapi#nullable": {}
          }
        },
        "startDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Task Creation date"
          }
        },
        "status": {
          "target": "com.ovh.baremetal#DedicatedTaskStatusEnum",
          "traits": {
            "smithy.api#documentation": "Task status"
          }
        },
        "tags": {
          "target": "com.ovh.baremetal#DedicatedServerTaskTagsList",
          "traits": {
            "smithy.api#documentation": "Task result tags output",
            "com.distilled.openapi#nullable": {}
          }
        },
        "taskId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "the id of the task"
          }
        },
        "ticketReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reference of the thread on the support tool",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Server tasks"
      }
    },
    "com.ovh.baremetal#DedicatedTaskFunctionEnum": {
      "type": "enum",
      "members": {
        "INFRA_002_VIRTUALNETWORKINTERFACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFRA_002_VirtualNetworkInterface"
          }
        },
        "INFRA_002_VIRTUALNETWORKINTERFACE_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFRA_002_VirtualNetworkInterface_group"
          }
        },
        "INFRA_002_VIRTUALNETWORKINTERFACE_UNGROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFRA_002_VirtualNetworkInterface_ungroup"
          }
        },
        "INFRA_ONE_NETWORK_ONEAPI_VIRTUALNETWORKINTERFACE_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFRA_ONE_NETWORK_ONEAPI_VirtualNetworkInterface_group"
          }
        },
        "INFRA_ONE_NETWORK_ONEAPI_VIRTUALNETWORKINTERFACE_UNGROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFRA_ONE_NETWORK_ONEAPI_VirtualNetworkInterface_ungroup"
          }
        },
        "INFRA_ONE_NETWORK_VIRTUALNETWORKINTERFACE_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFRA_ONE_NETWORK_VirtualNetworkInterface_group"
          }
        },
        "INFRA_ONE_NETWORK_VIRTUALNETWORKINTERFACE_UNGROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFRA_ONE_NETWORK_VirtualNetworkInterface_ungroup"
          }
        },
        "ADDVIRTUALMAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "addVirtualMac"
          }
        },
        "ADDWINDOWSPLAFROMEXISTINGSERIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "addWindowSplaFromExistingSerial"
          }
        },
        "APPLYBACKUPFTPACLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "applyBackupFtpAcls"
          }
        },
        "APPLYBACKUPFTPQUOTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "applyBackupFtpQuota"
          }
        },
        "BYPASSANTIDDOSGAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bypassAntiDDosGame"
          }
        },
        "CHANGEPASSWORDBACKUPFTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "changePasswordBackupFTP"
          }
        },
        "CHANGERIPEORG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "changeRipeOrg"
          }
        },
        "CHECKANDRELEASEIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "checkAndReleaseIp"
          }
        },
        "CREATEBACKUPFTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "createBackupFTP"
          }
        },
        "CREATEORUPDATERIPEORG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "createOrUpdateRipeOrg"
          }
        },
        "CREATEPRIVATENETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "createPrivateNetwork"
          }
        },
        "DISABLEFIREWALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disableFirewall"
          }
        },
        "ENABLEFIREWALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enableFirewall"
          }
        },
        "GENERICMOVEFLOATINGIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "genericMoveFloatingIp"
          }
        },
        "HARDREBOOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hardReboot"
          }
        },
        "HARDWARE_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hardware_update"
          }
        },
        "IPMI_CONFIGURESGX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipmi/configureSGX"
          }
        },
        "MIGRATEBACKUPFTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "migrateBackupFTP"
          }
        },
        "MOVEFLOATINGIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "moveFloatingIp"
          }
        },
        "MOVEVIRTUALMAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "moveVirtualMac"
          }
        },
        "REAGREGATEBLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reagregateBlock"
          }
        },
        "REBOOTPOWER8TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rebootPower8To"
          }
        },
        "REINSTALLSERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reinstallServer"
          }
        },
        "RELEASEIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "releaseIp"
          }
        },
        "REMOVEBACKUPFTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "removeBackupFTP"
          }
        },
        "REMOVEVIRTUALMAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "removeVirtualMac"
          }
        },
        "REQUESTACCESSIPMI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requestAccessIPMI"
          }
        },
        "RESETIPMI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resetIPMI"
          }
        },
        "RESETIPMISESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resetIPMISession"
          }
        },
        "TESTIPMIHTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "testIPMIhttp"
          }
        },
        "TESTIPMIPASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
