{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.ovh.cloud_v2#IamResourceTagFilterInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Resource tag filter"
      }
    },
    "com.ovh.cloud_v2#GetPublicCloudProjectRequestIamTagsValueList": {
      "type": "list",
      "member": {
        "target": "com.ovh.cloud_v2#IamResourceTagFilterInput"
      },
      "traits": {}
    },
    "com.ovh.cloud_v2#GetPublicCloudProjectRequestIamTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.ovh.cloud_v2#GetPublicCloudProjectRequestIamTagsValueList"
      },
      "traits": {}
    },
    "com.ovh.cloud_v2#GetPublicCloudProjectRequest": {
      "type": "structure",
      "members": {
        "iamTags": {
          "target": "com.ovh.cloud_v2#GetPublicCloudProjectRequestIamTagsMap",
          "traits": {
            "smithy.api#httpQuery": "iamTags",
            "smithy.api#documentation": "Filter resources on IAM tags"
          }
        },
        "xPaginationCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "X-Pagination-Cursor",
            "smithy.api#documentation": "Pagination cursor"
          }
        },
        "xPaginationSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpHeader": "X-Pagination-Size",
            "smithy.api#documentation": "Pagination size"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.cloud_v2#PublicCloudProjectProjectAsyncWithIAM": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of project creation"
          }
        },
        "currentState": {
          "target": "com.ovh.cloud_v2#PublicCloudProjectProjectCurrentState",
          "traits": {
            "smithy.api#documentation": "Current configuration applied to the cloud project"
          }
        },
        "currentTasks": {
          "target": "com.ovh.cloud_v2#PublicCloudProjectProjectAsyncWithIAMCurrentTasksList",
          "traits": {
            "smithy.api#documentation": "Asynchronous operations ongoing on the cloud project",
            "com.distilled.openapi#nullable": {}
          }
        },
        "iam": {
          "target": "com.ovh.cloud_v2#IamResourceMetadata",
          "traits": {
            "smithy.api#documentation": "IAM resource metadata",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Project ID"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Project name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "resourceStatus": {
          "target": "com.ovh.cloud_v2#CommonResourceStatusEnum",
          "traits": {
            "smithy.api#documentation": "Reflects the readiness of the cloud project. A new target specification request will be accepted only in `READY` status"
          }
        },
        "targetSpec": {
          "target": "com.ovh.cloud_v2#PublicCloudProjectProjectTargetSpec",
          "traits": {
            "smithy.api#documentation": "Last target specification of the cloud project"
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of the last cloud project update"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Public Cloud project"
      }
    },
    "com.ovh.cloud_v2#PublicCloudProjectProjectCurrentState": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.ovh.cloud_v2#PublicCloudProjectModeEnum",
          "traits": {
            "smithy.api#documentation": "Project mode"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the cloud project"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current state of the cloud project"
      }
    },
    "com.ovh.cloud_v2#PublicCloudProjectModeEnum": {
      "type": "enum",
      "members": {
        "CLASSIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLASSIC"
          }
        },
        "DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCOVERY"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for cloud project mode"
      }
    },
    "com.ovh.cloud_v2#CommonCurrentTask": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.ovh.cloud_v2#CommonCurrentTaskErrorsList",
          "traits": {
            "smithy.api#documentation": "Errors that occured on the task",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the current task"
          }
        },
        "link": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to the task details"
          }
        },
        "status": {
          "target": "com.ovh.cloud_v2#CommonCurrentTaskStatusEnum",
          "traits": {
            "smithy.api#documentation": "Current global status of the current task",
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the current task"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Asynchronous operation currently running"
      }
    },
    "com.ovh.cloud_v2#CommonTaskError": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error description"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Errors that occured on the task"
      }
    },
    "com.ovh.cloud_v2#CommonCurrentTaskErrorsList": {
      "type": "list",
      "member": {
        "target": "com.ovh.cloud_v2#CommonTaskError"
      },
      "traits": {
        "smithy.api#documentation": "Errors that occured on the task"
      }
    },
    "com.ovh.cloud_v2#CommonCurrentTaskStatusEnum": {
      "type": "enum",
      "members": {
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULED"
          }
        },
        "WAITING_USER_INPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WAITING_USER_INPUT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current status of a task. A task in ERROR cannot be retried without your inputs. PENDING tasks will be executed as soon as possible. A RUNNING task is currently executing your original request. SCHEDULED is used for tasks that will be executed in the future"
      }
    },
    "com.ovh.cloud_v2#PublicCloudProjectProjectAsyncWithIAMCurrentTasksList": {
      "type": "list",
      "member": {
        "target": "com.ovh.cloud_v2#CommonCurrentTask"
      },
      "traits": {
        "smithy.api#documentation": "Asynchronous operations ongoing on the cloud project"
      }
    },
    "com.ovh.cloud_v2#IamResourceMetadata": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource display name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the resource"
          }
        },
        "state": {
          "target": "com.ovh.cloud_v2#IamResourceMetadataStateEnum",
          "traits": {
            "smithy.api#documentation": "Resource state",
            "com.distilled.openapi#nullable": {}
          }
        },
        "tags": {
          "target": "com.ovh.cloud_v2#IamResourceMetadataTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:",
            "com.distilled.openapi#nullable": {}
          }
        },
        "urn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique resource name used in policies"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IAM resource metadata embedded in services models"
      }
    },
    "com.ovh.cloud_v2#IamResourceMetadataStateEnum": {
      "type": "enum",
      "members": {
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        },
        "IN_CREATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_CREATION"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OK"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource state"
      }
    },
    "com.ovh.cloud_v2#IamResourceMetadataTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:"
      }
    },
    "com.ovh.cloud_v2#CommonResourceStatusEnum": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "OUT_OF_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUT_OF_SYNC"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ResourceStatusEnum"
      }
    },
    "com.ovh.cloud_v2#PublicCloudProjectProjectTargetSpec": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.ovh.cloud_v2#PublicCloudProjectModeEnum",
          "traits": {
            "smithy.api#documentation": "Project type. Discovery mode allows to display UI in read only without adding any payment mean.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the public cloud project",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Target specification of the cloud project"
      }
    },
    "com.ovh.cloud_v2#GetPublicCloudProjectResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.cloud_v2#PublicCloudProjectProjectAsyncWithIAM"
      },
      "traits": {}
    },
    "com.ovh.cloud_v2#GetPublicCloudProjectResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.cloud_v2#GetPublicCloudProjectResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.cloud_v2#GetPublicCloudProject": {
      "type": "operation",
      "input": {
        "target": "com.ovh.cloud_v2#GetPublicCloudProjectRequest"
      },
      "output": {
        "target": "com.ovh.cloud_v2#GetPublicCloudProjectResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/publicCloud/project",
          "code": 200
        },
        "smithy.api#documentation": "List all Public Cloud projects"
      }
    },
    "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.cloud_v2#GetPublicCloudProjectProjectId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdRequest"
      },
      "output": {
        "target": "com.ovh.cloud_v2#PublicCloudProjectProjectAsyncWithIAM"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/publicCloud/project/{projectId}",
          "code": 200
        },
        "smithy.api#documentation": "Get details on a Public Cloud project"
      }
    },
    "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeAutobackupRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID"
          }
        },
        "xPaginationCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "X-Pagination-Cursor",
            "smithy.api#documentation": "Pagination cursor"
          }
        },
        "xPaginationSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpHeader": "X-Pagination-Size",
            "smithy.api#documentation": "Pagination size"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceAutobackup": {
      "type": "structure",
      "members": {
        "checksum": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Computed hash representing the current target specification value"
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation date of the autobackup"
          }
        },
        "currentState": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceAutobackupCurrentState",
          "traits": {
            "smithy.api#documentation": "Current state of the autobackup",
            "com.distilled.openapi#nullable": {}
          }
        },
        "currentTasks": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceAutobackupCurrentTasksList",
          "traits": {
            "smithy.api#documentation": "Ongoing asynchronous tasks related to the autobackup",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the autobackup"
          }
        },
        "resourceStatus": {
          "target": "com.ovh.cloud_v2#CommonResourceStatusEnum",
          "traits": {
            "smithy.api#documentation": "Autobackup readiness in the system"
          }
        },
        "targetSpec": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceAutobackupTargetSpec",
          "traits": {
            "smithy.api#documentation": "Last target specification of the autobackup"
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last update date of the autobackup"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Public Cloud instance autobackup (Mistral crontrigger for scheduled automatic backups)"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceAutobackupCurrentState": {
      "type": "structure",
      "members": {
        "cron": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cron schedule pattern"
          }
        },
        "distant": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceAutobackupDistant",
          "traits": {
            "smithy.api#documentation": "Cross-region backup configuration",
            "com.distilled.openapi#nullable": {}
          }
        },
        "imageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Backup image name prefix"
          }
        },
        "instance": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceAutobackupInstanceRef",
          "traits": {
            "smithy.api#documentation": "Reference to the source instance"
          }
        },
        "lastExecutions": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceAutobackupCurrentStateLastExecutionsList",
          "traits": {
            "smithy.api#documentation": "Last 5 backup executions, newest first. Populated on GET only - null on LIST.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "location": {
          "target": "com.ovh.cloud_v2#PublicCloudCommonLocation",
          "traits": {
            "smithy.api#documentation": "Current location"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Crontrigger name"
          }
        },
        "nextExecutionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next scheduled execution time",
            "com.distilled.openapi#nullable": {}
          }
        },
        "rotation": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of backup versions to keep"
          }
        },
        "workflowName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OpenStack Mistral workflow name (e.g. ovh.backup_vm or ovh.backup_vm_remote_region)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current state of an instance autobackup as observed from the infrastructure"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceAutobackupDistant": {
      "type": "structure",
      "members": {
        "imageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image name for cross-region backup copy",
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target region for cross-region backup",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cross-region backup configuration for an autobackup"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceAutobackupInstanceRef": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instance identifier",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reference to the source instance for an autobackup"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceAutobackupExecution": {
      "type": "structure",
      "members": {
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message reported by the autobackup execution engine, populated only when state is ERROR",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Backup execution unique identifier"
          }
        },
        "startedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the execution started",
            "com.distilled.openapi#nullable": {}
          }
        },
        "state": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceAutobackupExecutionStateEnum",
          "traits": {
            "smithy.api#documentation": "Current state of the execution"
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of the last state update reported by the autobackup execution engine",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single execution of an instance autobackup, as recorded by the autobackup execution engine when the backup workflow runs"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceAutobackupExecutionStateEnum": {
      "type": "enum",
      "members": {
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "IDLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDLE"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State of a single autobackup execution: SUCCESS when the backup completed, ERROR when it failed, RUNNING while in progress, IDLE when scheduled but not yet running."
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceAutobackupCurrentStateLastExecutionsList": {
      "type": "list",
      "member": {
        "target": "com.ovh.cloud_v2#PublicCloudInstanceAutobackupExecution"
      },
      "traits": {
        "smithy.api#documentation": "Last 5 backup executions, newest first. Populated on GET only - null on LIST."
      }
    },
    "com.ovh.cloud_v2#PublicCloudCommonLocation": {
      "type": "structure",
      "members": {
        "availabilityZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Availability zone within the region",
            "com.distilled.openapi#nullable": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Region code",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource location"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceAutobackupCurrentTasksList": {
      "type": "list",
      "member": {
        "target": "com.ovh.cloud_v2#CommonCurrentTask"
      },
      "traits": {
        "smithy.api#documentation": "Ongoing asynchronous tasks related to the autobackup"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceAutobackupTargetSpec": {
      "type": "structure",
      "members": {
        "cron": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cron schedule pattern (e.g. '0 2 * * *')",
            "smithy.api#required": {}
          }
        },
        "distant": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceAutobackupDistant",
          "traits": {
            "smithy.api#documentation": "Cross-region backup configuration",
            "com.distilled.openapi#nullable": {}
          }
        },
        "imageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Backup image name prefix",
            "smithy.api#required": {}
          }
        },
        "instance": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceAutobackupInstanceRef",
          "traits": {
            "smithy.api#documentation": "Reference to the source instance",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.ovh.cloud_v2#PublicCloudCommonLocation",
          "traits": {
            "smithy.api#documentation": "Target location",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Crontrigger name",
            "smithy.api#required": {}
          }
        },
        "rotation": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of backup versions to keep (minimum 1)",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Target specification for an instance autobackup (all fields, used for creation)"
      }
    },
    "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeAutobackupResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.cloud_v2#PublicCloudInstanceAutobackup"
      },
      "traits": {}
    },
    "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeAutobackupResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeAutobackupResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeAutobackup": {
      "type": "operation",
      "input": {
        "target": "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeAutobackupRequest"
      },
      "output": {
        "target": "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeAutobackupResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/publicCloud/project/{projectId}/compute/autobackup",
          "code": 200
        },
        "smithy.api#documentation": "List Public Cloud instance autobackups"
      }
    },
    "com.ovh.cloud_v2#PostPublicCloudProjectProjectIdComputeAutobackupRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID"
          }
        },
        "targetSpec": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceAutobackupTargetSpec",
          "traits": {
            "smithy.api#documentation": "Desired target specification for the autobackup to create",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.cloud_v2#PostPublicCloudProjectProjectIdComputeAutobackup": {
      "type": "operation",
      "input": {
        "target": "com.ovh.cloud_v2#PostPublicCloudProjectProjectIdComputeAutobackupRequest"
      },
      "output": {
        "target": "com.ovh.cloud_v2#PublicCloudInstanceAutobackup"
      },
      "errors": [
        {
          "target": "com.ovh.cloud_v2#BadRequest"
        },
        {
          "target": "com.ovh.cloud_v2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/publicCloud/project/{projectId}/compute/autobackup",
          "code": 200
        },
        "smithy.api#documentation": "Create a new Public Cloud instance autobackup"
      }
    },
    "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeAutobackupAutobackupIdRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID"
          }
        },
        "autobackupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Autobackup ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeAutobackupAutobackupId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeAutobackupAutobackupIdRequest"
      },
      "output": {
        "target": "com.ovh.cloud_v2#PublicCloudInstanceAutobackup"
      },
      "errors": [
        {
          "target": "com.ovh.cloud_v2#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/publicCloud/project/{projectId}/compute/autobackup/{autobackupId}",
          "code": 200
        },
        "smithy.api#documentation": "Get a Public Cloud instance autobackup"
      }
    },
    "com.ovh.cloud_v2#DeletePublicCloudProjectProjectIdComputeAutobackupAutobackupIdRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID"
          }
        },
        "autobackupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Autobackup ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.cloud_v2#DeletePublicCloudProjectProjectIdComputeAutobackupAutobackupId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.cloud_v2#DeletePublicCloudProjectProjectIdComputeAutobackupAutobackupIdRequest"
      },
      "output": {
        "target": "com.ovh.cloud_v2#PublicCloudInstanceAutobackup"
      },
      "errors": [
        {
          "target": "com.ovh.cloud_v2#NotFound"
        },
        {
          "target": "com.ovh.cloud_v2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/publicCloud/project/{projectId}/compute/autobackup/{autobackupId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a Public Cloud instance autobackup"
      }
    },
    "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeBackupRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID"
          }
        },
        "xPaginationCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "X-Pagination-Cursor",
            "smithy.api#documentation": "Pagination cursor"
          }
        },
        "xPaginationSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpHeader": "X-Pagination-Size",
            "smithy.api#documentation": "Pagination size"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceBackup": {
      "type": "structure",
      "members": {
        "checksum": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Computed hash representing the current target specification value"
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation date of the backup"
          }
        },
        "currentState": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceBackupCurrentState",
          "traits": {
            "smithy.api#documentation": "Current state of the backup",
            "com.distilled.openapi#nullable": {}
          }
        },
        "currentTasks": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceBackupCurrentTasksList",
          "traits": {
            "smithy.api#documentation": "Ongoing asynchronous tasks related to the backup",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the backup"
          }
        },
        "resourceStatus": {
          "target": "com.ovh.cloud_v2#CommonResourceStatusEnum",
          "traits": {
            "smithy.api#documentation": "Backup readiness in the system"
          }
        },
        "targetSpec": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceBackupTargetSpec",
          "traits": {
            "smithy.api#documentation": "Last target specification of the backup"
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last update date of the backup"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Public Cloud instance backup (Glance image created from an instance)"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceBackupCurrentState": {
      "type": "structure",
      "members": {
        "instance": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceBackupInstanceRef",
          "traits": {
            "smithy.api#documentation": "Source instance reference"
          }
        },
        "location": {
          "target": "com.ovh.cloud_v2#PublicCloudCommonLocation",
          "traits": {
            "smithy.api#documentation": "Current location"
          }
        },
        "minDisk": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum disk size in GB required to boot",
            "com.distilled.openapi#nullable": {}
          }
        },
        "minRam": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum RAM in MB required to boot",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current backup name"
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Image size in bytes",
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceImageStatusEnum",
          "traits": {
            "smithy.api#documentation": "Image status in the backend"
          }
        },
        "visibility": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceImageVisibilityEnum",
          "traits": {
            "smithy.api#documentation": "Image visibility"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current state of an instance backup as observed from the infrastructure"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceBackupInstanceRef": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instance unique identifier",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reference to the source instance for a backup"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceImageStatusEnum": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DEACTIVATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEACTIVATED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        },
        "IMPORTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORTING"
          }
        },
        "KILLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KILLED"
          }
        },
        "PENDING_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_DELETE"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "SAVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAVING"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible statuses for an instance image"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceImageVisibilityEnum": {
      "type": "enum",
      "members": {
        "COMMUNITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMUNITY"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE"
          }
        },
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLIC"
          }
        },
        "SHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHARED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible visibility levels for an instance image"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceBackupCurrentTasksList": {
      "type": "list",
      "member": {
        "target": "com.ovh.cloud_v2#CommonCurrentTask"
      },
      "traits": {
        "smithy.api#documentation": "Ongoing asynchronous tasks related to the backup"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceBackupTargetSpec": {
      "type": "structure",
      "members": {
        "instance": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceBackupInstanceRef",
          "traits": {
            "smithy.api#documentation": "Source instance reference",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.ovh.cloud_v2#PublicCloudCommonLocation",
          "traits": {
            "smithy.api#documentation": "Target location",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Desired backup name",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Target specification for an instance backup"
      }
    },
    "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeBackupResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.cloud_v2#PublicCloudInstanceBackup"
      },
      "traits": {}
    },
    "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeBackupResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeBackupResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeBackup": {
      "type": "operation",
      "input": {
        "target": "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeBackupRequest"
      },
      "output": {
        "target": "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeBackupResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/publicCloud/project/{projectId}/compute/backup",
          "code": 200
        },
        "smithy.api#documentation": "List Public Cloud instance backups"
      }
    },
    "com.ovh.cloud_v2#PostPublicCloudProjectProjectIdComputeBackupRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID"
          }
        },
        "targetSpec": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceBackupTargetSpec",
          "traits": {
            "smithy.api#documentation": "Desired target specification for the backup to create",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.cloud_v2#PostPublicCloudProjectProjectIdComputeBackup": {
      "type": "operation",
      "input": {
        "target": "com.ovh.cloud_v2#PostPublicCloudProjectProjectIdComputeBackupRequest"
      },
      "output": {
        "target": "com.ovh.cloud_v2#PublicCloudInstanceBackup"
      },
      "errors": [
        {
          "target": "com.ovh.cloud_v2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/publicCloud/project/{projectId}/compute/backup",
          "code": 200
        },
        "smithy.api#documentation": "Create a new Public Cloud instance backup"
      }
    },
    "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeBackupBackupIdRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID"
          }
        },
        "backupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Backup ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeBackupBackupId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeBackupBackupIdRequest"
      },
      "output": {
        "target": "com.ovh.cloud_v2#PublicCloudInstanceBackup"
      },
      "errors": [
        {
          "target": "com.ovh.cloud_v2#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/publicCloud/project/{projectId}/compute/backup/{backupId}",
          "code": 200
        },
        "smithy.api#documentation": "Get a Public Cloud instance backup"
      }
    },
    "com.ovh.cloud_v2#DeletePublicCloudProjectProjectIdComputeBackupBackupIdRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID"
          }
        },
        "backupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Backup ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.cloud_v2#DeletePublicCloudProjectProjectIdComputeBackupBackupId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.cloud_v2#DeletePublicCloudProjectProjectIdComputeBackupBackupIdRequest"
      },
      "output": {
        "target": "com.ovh.cloud_v2#PublicCloudInstanceBackup"
      },
      "errors": [
        {
          "target": "com.ovh.cloud_v2#NotFound"
        },
        {
          "target": "com.ovh.cloud_v2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/publicCloud/project/{projectId}/compute/backup/{backupId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a Public Cloud instance backup"
      }
    },
    "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeInstanceRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID"
          }
        },
        "xPaginationCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "X-Pagination-Cursor",
            "smithy.api#documentation": "Pagination cursor"
          }
        },
        "xPaginationSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpHeader": "X-Pagination-Size",
            "smithy.api#documentation": "Pagination size"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceInstance": {
      "type": "structure",
      "members": {
        "checksum": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Computed hash representing the current target specification value"
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation date of the instance"
          }
        },
        "currentState": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceInstanceCurrentState",
          "traits": {
            "smithy.api#documentation": "Current state of the instance",
            "com.distilled.openapi#nullable": {}
          }
        },
        "currentTasks": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceInstanceCurrentTasksList",
          "traits": {
            "smithy.api#documentation": "Ongoing asynchronous tasks related to the instance",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the instance"
          }
        },
        "resourceStatus": {
          "target": "com.ovh.cloud_v2#CommonResourceStatusEnum",
          "traits": {
            "smithy.api#documentation": "Instance readiness in the system"
          }
        },
        "targetSpec": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceInstanceTargetSpec",
          "traits": {
            "smithy.api#documentation": "Last target specification of the instance"
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last update date of the instance"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Public Cloud compute instance"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceInstanceCurrentState": {
      "type": "structure",
      "members": {
        "flavor": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceInstanceFlavor",
          "traits": {
            "smithy.api#documentation": "Flavor details"
          }
        },
        "group": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceInstanceGroupRef",
          "traits": {
            "smithy.api#documentation": "Instance group this instance belongs to",
            "com.distilled.openapi#nullable": {}
          }
        },
        "hostId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Host identifier",
            "com.distilled.openapi#nullable": {}
          }
        },
        "image": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceInstanceImage",
          "traits": {
            "smithy.api#documentation": "Image details"
          }
        },
        "location": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceInstanceLocation",
          "traits": {
            "smithy.api#documentation": "Location details"
          }
        },
        "locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the instance is locked against modifications"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instance name"
          }
        },
        "networks": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceInstanceCurrentStateNetworksList",
          "traits": {
            "smithy.api#documentation": "List of instance networks",
            "com.distilled.openapi#nullable": {}
          }
        },
        "powerState": {
          "target": "com.ovh.cloud_v2#PublicCloudInstancePowerStateEnum",
          "traits": {
            "smithy.api#documentation": "Actual power state as reported by OpenStack"
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Project identifier"
          }
        },
        "securityGroups": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceInstanceCurrentStateSecurityGroupsList",
          "traits": {
            "smithy.api#documentation": "Security group references attached to the instance",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sshKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Associated SSH key name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User identifier"
          }
        },
        "volumes": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceInstanceCurrentStateVolumesList",
          "traits": {
            "smithy.api#documentation": "Attached block volumes",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current state details of an instance"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceInstanceFlavor": {
      "type": "structure",
      "members": {
        "disk": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Local disk size in GB"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Flavor identifier"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Flavor name"
          }
        },
        "ram": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "RAM in MB"
          }
        },
        "vcpus": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of vCPUs"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Flavor details of an instance"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceInstanceGroupRef": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instance group identifier",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reference to an instance group"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceInstanceImage": {
      "type": "structure",
      "members": {
        "deprecated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the image is deprecated"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image identifier"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Image size in bytes",
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceImageStatusEnum",
          "traits": {
            "smithy.api#documentation": "Image status",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Image details of an instance"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceInstanceLocation": {
      "type": "structure",
      "members": {
        "availabilityZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Availability zone within the region",
            "com.distilled.openapi#nullable": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Region code",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Instance location"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceInstanceNetwork": {
      "type": "structure",
      "members": {
        "addresses": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceInstanceNetworkAddressesList",
          "traits": {
            "smithy.api#documentation": "IP addresses",
            "com.distilled.openapi#nullable": {}
          }
        },
        "floatingIpId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Associated floating IP identifier",
            "com.distilled.openapi#nullable": {}
          }
        },
        "gatewayId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Associated gateway identifier",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Network identifier"
          }
        },
        "public": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the network is public, false if private"
          }
        },
        "subnetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subnet identifier",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network attached to the instance"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceInstanceNetworkAddress": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP address"
          }
        },
        "mac": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MAC address"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address type (fixed, floating, ... )"
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "IP version"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An IP address of an instance network interface"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceInstanceNetworkAddressesList": {
      "type": "list",
      "member": {
        "target": "com.ovh.cloud_v2#PublicCloudInstanceInstanceNetworkAddress"
      },
      "traits": {
        "smithy.api#documentation": "IP addresses"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceInstanceCurrentStateNetworksList": {
      "type": "list",
      "member": {
        "target": "com.ovh.cloud_v2#PublicCloudInstanceInstanceNetwork"
      },
      "traits": {
        "smithy.api#documentation": "List of instance networks"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstancePowerStateEnum": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "RESCUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESCUE"
          }
        },
        "SHELVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHELVED"
          }
        },
        "SHUTOFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHUTOFF"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Desired power state for an instance"
      }
    },
    "com.ovh.cloud_v2#PublicCloudSecurityGroupSecurityGroupRef": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Security group identifier",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reference to a security group"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceInstanceCurrentStateSecurityGroupsList": {
      "type": "list",
      "member": {
        "target": "com.ovh.cloud_v2#PublicCloudSecurityGroupSecurityGroupRef"
      },
      "traits": {
        "smithy.api#documentation": "Security group references attached to the instance"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceInstanceVolume": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Volume identifier"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Volume name"
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Volume size in GB"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Volume attached to the instance"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceInstanceCurrentStateVolumesList": {
      "type": "list",
      "member": {
        "target": "com.ovh.cloud_v2#PublicCloudInstanceInstanceVolume"
      },
      "traits": {
        "smithy.api#documentation": "Attached block volumes"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceInstanceCurrentTasksList": {
      "type": "list",
      "member": {
        "target": "com.ovh.cloud_v2#CommonCurrentTask"
      },
      "traits": {
        "smithy.api#documentation": "Ongoing asynchronous tasks related to the instance"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceInstanceTargetSpec": {
      "type": "structure",
      "members": {
        "flavor": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceInstanceFlavorRef",
          "traits": {
            "smithy.api#documentation": "Flavor reference",
            "smithy.api#required": {}
          }
        },
        "group": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceInstanceGroupRef",
          "traits": {
            "smithy.api#documentation": "Instance group reference (placement policy, immutable after creation)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "image": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceInstanceImageRef",
          "traits": {
            "smithy.api#documentation": "Image reference",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceInstanceLocation",
          "traits": {
            "smithy.api#documentation": "Target location",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Desired instance name",
            "smithy.api#required": {}
          }
        },
        "networks": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceInstanceTargetSpecNetworksList",
          "traits": {
            "smithy.api#documentation": "Network references",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "powerState": {
          "target": "com.ovh.cloud_v2#PublicCloudInstancePowerStateEnum",
          "traits": {
            "smithy.api#documentation": "Desired power state (defaults to ACTIVE if omitted)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "securityGroups": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceInstanceTargetSpecSecurityGroupsList",
          "traits": {
            "smithy.api#documentation": "Security group references to apply to all instance ports",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sshKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Associated SSH key name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "volumes": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceInstanceTargetSpecVolumesList",
          "traits": {
            "smithy.api#documentation": "Volume references",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Target specification for an instance"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceInstanceFlavorRef": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Flavor identifier",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reference to a flavor for instance target spec"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceInstanceImageRef": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image identifier",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reference to an image for instance target spec"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceInstanceNetworkRef": {
      "type": "structure",
      "members": {
        "floatingIpId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Associated floating IP identifier",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Network identifier",
            "com.distilled.openapi#nullable": {}
          }
        },
        "public": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the network is public, false if private",
            "smithy.api#required": {}
          }
        },
        "subnetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subnet identifier (required for private networks)",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reference to a network for instance target spec"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceInstanceTargetSpecNetworksList": {
      "type": "list",
      "member": {
        "target": "com.ovh.cloud_v2#PublicCloudInstanceInstanceNetworkRef"
      },
      "traits": {
        "smithy.api#documentation": "Network references"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceInstanceTargetSpecSecurityGroupsList": {
      "type": "list",
      "member": {
        "target": "com.ovh.cloud_v2#PublicCloudSecurityGroupSecurityGroupRef"
      },
      "traits": {
        "smithy.api#documentation": "Security group references to apply to all instance ports"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceInstanceVolumeRef": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Volume identifier",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reference to a volume for instance target spec"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceInstanceTargetSpecVolumesList": {
      "type": "list",
      "member": {
        "target": "com.ovh.cloud_v2#PublicCloudInstanceInstanceVolumeRef"
      },
      "traits": {
        "smithy.api#documentation": "Volume references"
      }
    },
    "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeInstanceResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.cloud_v2#PublicCloudInstanceInstance"
      },
      "traits": {}
    },
    "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeInstanceResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeInstanceResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeInstance": {
      "type": "operation",
      "input": {
        "target": "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeInstanceRequest"
      },
      "output": {
        "target": "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeInstanceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/publicCloud/project/{projectId}/compute/instance",
          "code": 200
        },
        "smithy.api#documentation": "List Public Cloud instances"
      }
    },
    "com.ovh.cloud_v2#PostPublicCloudProjectProjectIdComputeInstanceRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID"
          }
        },
        "targetSpec": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceInstanceTargetSpec",
          "traits": {
            "smithy.api#documentation": "Desired target specification for the instance to create",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.cloud_v2#PostPublicCloudProjectProjectIdComputeInstance": {
      "type": "operation",
      "input": {
        "target": "com.ovh.cloud_v2#PostPublicCloudProjectProjectIdComputeInstanceRequest"
      },
      "output": {
        "target": "com.ovh.cloud_v2#PublicCloudInstanceInstance"
      },
      "errors": [
        {
          "target": "com.ovh.cloud_v2#BadRequest"
        },
        {
          "target": "com.ovh.cloud_v2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/publicCloud/project/{projectId}/compute/instance",
          "code": 200
        },
        "smithy.api#documentation": "Create a new Public Cloud instance"
      }
    },
    "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeInstanceInstanceIdRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeInstanceInstanceId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeInstanceInstanceIdRequest"
      },
      "output": {
        "target": "com.ovh.cloud_v2#PublicCloudInstanceInstance"
      },
      "errors": [
        {
          "target": "com.ovh.cloud_v2#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/publicCloud/project/{projectId}/compute/instance/{instanceId}",
          "code": 200
        },
        "smithy.api#documentation": "Get a Public Cloud instance"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceInstanceUpdateTargetSpec": {
      "type": "structure",
      "members": {
        "flavor": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceInstanceFlavorRef",
          "traits": {
            "smithy.api#documentation": "Flavor reference",
            "smithy.api#required": {}
          }
        },
        "image": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceInstanceImageRef",
          "traits": {
            "smithy.api#documentation": "Image reference",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Desired instance name",
            "smithy.api#required": {}
          }
        },
        "networks": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceInstanceUpdateTargetSpecNetworksList",
          "traits": {
            "smithy.api#documentation": "Network references",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "powerState": {
          "target": "com.ovh.cloud_v2#PublicCloudInstancePowerStateEnum",
          "traits": {
            "smithy.api#documentation": "Desired power state (defaults to ACTIVE if omitted)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "securityGroups": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceInstanceUpdateTargetSpecSecurityGroupsList",
          "traits": {
            "smithy.api#documentation": "Security group references to apply to all instance ports",
            "com.distilled.openapi#nullable": {}
          }
        },
        "volumes": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceInstanceUpdateTargetSpecVolumesList",
          "traits": {
            "smithy.api#documentation": "Volume references",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Target specification for updating an instance (location cannot be changed after creation)"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceInstanceUpdateTargetSpecNetworksList": {
      "type": "list",
      "member": {
        "target": "com.ovh.cloud_v2#PublicCloudInstanceInstanceNetworkRef"
      },
      "traits": {
        "smithy.api#documentation": "Network references"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceInstanceUpdateTargetSpecSecurityGroupsList": {
      "type": "list",
      "member": {
        "target": "com.ovh.cloud_v2#PublicCloudSecurityGroupSecurityGroupRef"
      },
      "traits": {
        "smithy.api#documentation": "Security group references to apply to all instance ports"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceInstanceUpdateTargetSpecVolumesList": {
      "type": "list",
      "member": {
        "target": "com.ovh.cloud_v2#PublicCloudInstanceInstanceVolumeRef"
      },
      "traits": {
        "smithy.api#documentation": "Volume references"
      }
    },
    "com.ovh.cloud_v2#PutPublicCloudProjectProjectIdComputeInstanceInstanceIdRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance ID"
          }
        },
        "checksum": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Computed hash controlling concurrent modifications; represents the current target specification value",
            "smithy.api#required": {}
          }
        },
        "targetSpec": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceInstanceUpdateTargetSpec",
          "traits": {
            "smithy.api#documentation": "Desired target specification for the instance",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.cloud_v2#PutPublicCloudProjectProjectIdComputeInstanceInstanceId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.cloud_v2#PutPublicCloudProjectProjectIdComputeInstanceInstanceIdRequest"
      },
      "output": {
        "target": "com.ovh.cloud_v2#PublicCloudInstanceInstance"
      },
      "errors": [
        {
          "target": "com.ovh.cloud_v2#BadRequest"
        },
        {
          "target": "com.ovh.cloud_v2#NotFound"
        },
        {
          "target": "com.ovh.cloud_v2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/publicCloud/project/{projectId}/compute/instance/{instanceId}",
          "code": 200
        },
        "smithy.api#documentation": "Update an existing Public Cloud instance"
      }
    },
    "com.ovh.cloud_v2#DeletePublicCloudProjectProjectIdComputeInstanceInstanceIdRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.cloud_v2#DeletePublicCloudProjectProjectIdComputeInstanceInstanceId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.cloud_v2#DeletePublicCloudProjectProjectIdComputeInstanceInstanceIdRequest"
      },
      "output": {
        "target": "com.ovh.cloud_v2#PublicCloudInstanceInstance"
      },
      "errors": [
        {
          "target": "com.ovh.cloud_v2#NotFound"
        },
        {
          "target": "com.ovh.cloud_v2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/publicCloud/project/{projectId}/compute/instance/{instanceId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a Public Cloud instance"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceInstanceActionParameters": {
      "type": "structure",
      "members": {
        "hard": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to perform a hard reboot (only for REBOOT action)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "imageId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rescue image ID (only for RESCUE action)",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Optional parameters for an instance action"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceInstanceActionTypeEnum": {
      "type": "enum",
      "members": {
        "LOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCK"
          }
        },
        "REBOOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REBOOT"
          }
        },
        "RESCUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESCUE"
          }
        },
        "UNLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNLOCK"
          }
        },
        "UNRESCUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNRESCUE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Supported imperative action types for an instance"
      }
    },
    "com.ovh.cloud_v2#PostPublicCloudProjectProjectIdComputeInstanceInstanceIdActionRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance ID"
          }
        },
        "checksum": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current resource checksum for optimistic concurrency control",
            "smithy.api#required": {}
          }
        },
        "parameters": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceInstanceActionParameters",
          "traits": {
            "smithy.api#documentation": "Optional parameters for the action",
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceInstanceActionTypeEnum",
          "traits": {
            "smithy.api#documentation": "The action to perform",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.cloud_v2#PostPublicCloudProjectProjectIdComputeInstanceInstanceIdAction": {
      "type": "operation",
      "input": {
        "target": "com.ovh.cloud_v2#PostPublicCloudProjectProjectIdComputeInstanceInstanceIdActionRequest"
      },
      "output": {
        "target": "com.ovh.cloud_v2#PublicCloudInstanceInstance"
      },
      "errors": [
        {
          "target": "com.ovh.cloud_v2#BadRequest"
        },
        {
          "target": "com.ovh.cloud_v2#NotFound"
        },
        {
          "target": "com.ovh.cloud_v2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/publicCloud/project/{projectId}/compute/instance/{instanceId}/action",
          "code": 200
        },
        "smithy.api#documentation": "Perform an action on a Public Cloud instance (reboot, rescue, unrescue)"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceRemoteConsoleProtocolEnum": {
      "type": "enum",
      "members": {
        "SERIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERIAL"
          }
        },
        "SPICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPICE"
          }
        },
        "VNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VNC"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Supported remote console protocols"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceRemoteConsoleTypeEnum": {
      "type": "enum",
      "members": {
        "NOVNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOVNC"
          }
        },
        "SERIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERIAL"
          }
        },
        "SPICE_HTML5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPICE_HTML5"
          }
        },
        "XVPVNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XVPVNC"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Supported remote console display types"
      }
    },
    "com.ovh.cloud_v2#PostPublicCloudProjectProjectIdComputeInstanceInstanceIdConsoleRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance ID"
          }
        },
        "protocol": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceRemoteConsoleProtocolEnum",
          "traits": {
            "smithy.api#documentation": "The remote console protocol (VNC, SPICE, or SERIAL)",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceRemoteConsoleTypeEnum",
          "traits": {
            "smithy.api#documentation": "The display type for the remote console (NOVNC, XVPVNC, SPICE_HTML5, or SERIAL)",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceRemoteConsole": {
      "type": "structure",
      "members": {
        "protocol": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceRemoteConsoleProtocolEnum",
          "traits": {
            "smithy.api#documentation": "The remote console protocol"
          }
        },
        "type": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceRemoteConsoleTypeEnum",
          "traits": {
            "smithy.api#documentation": "The display type for the remote console"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to connect to the remote console"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A remote console session for an instance"
      }
    },
    "com.ovh.cloud_v2#PostPublicCloudProjectProjectIdComputeInstanceInstanceIdConsole": {
      "type": "operation",
      "input": {
        "target": "com.ovh.cloud_v2#PostPublicCloudProjectProjectIdComputeInstanceInstanceIdConsoleRequest"
      },
      "output": {
        "target": "com.ovh.cloud_v2#PublicCloudInstanceRemoteConsole"
      },
      "errors": [
        {
          "target": "com.ovh.cloud_v2#NotFound"
        },
        {
          "target": "com.ovh.cloud_v2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/publicCloud/project/{projectId}/compute/instance/{instanceId}/console",
          "code": 200
        },
        "smithy.api#documentation": "Create a remote console for a Public Cloud instance"
      }
    },
    "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeInstanceInstanceIdConsoleOutputRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance ID"
          }
        },
        "length": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "length",
            "smithy.api#documentation": "Number of lines to retrieve from the end of the console log. If omitted, returns all available output."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceConsoleOutput": {
      "type": "structure",
      "members": {
        "output": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The console output text"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Console output (log) retrieved from an instance"
      }
    },
    "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeInstanceInstanceIdConsoleOutput": {
      "type": "operation",
      "input": {
        "target": "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeInstanceInstanceIdConsoleOutputRequest"
      },
      "output": {
        "target": "com.ovh.cloud_v2#PublicCloudInstanceConsoleOutput"
      },
      "errors": [
        {
          "target": "com.ovh.cloud_v2#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/publicCloud/project/{projectId}/compute/instance/{instanceId}/consoleOutput",
          "code": 200
        },
        "smithy.api#documentation": "Get console output from a Public Cloud instance"
      }
    },
    "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeInstanceInstanceIdEventsRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID"
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Instance ID"
          }
        },
        "xPaginationCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "X-Pagination-Cursor",
            "smithy.api#documentation": "Pagination cursor"
          }
        },
        "xPaginationSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpHeader": "X-Pagination-Size",
            "smithy.api#documentation": "Pagination size"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.cloud_v2#CommonEvent": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation date of the event"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Nature of the event"
          }
        },
        "link": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to the event related resource",
            "com.distilled.openapi#nullable": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of what happened on the event"
          }
        },
        "type": {
          "target": "com.ovh.cloud_v2#CommonEventTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of the event"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an event for an async envelope"
      }
    },
    "com.ovh.cloud_v2#CommonEventTypeEnum": {
      "type": "enum",
      "members": {
        "TARGET_SPEC_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGET_SPEC_UPDATE"
          }
        },
        "TASK_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_ERROR"
          }
        },
        "TASK_START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_START"
          }
        },
        "TASK_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_SUCCESS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List all defined values for an event type field"
      }
    },
    "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeInstanceInstanceIdEventsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.cloud_v2#CommonEvent"
      },
      "traits": {}
    },
    "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeInstanceInstanceIdEventsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeInstanceInstanceIdEventsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeInstanceInstanceIdEvents": {
      "type": "operation",
      "input": {
        "target": "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeInstanceInstanceIdEventsRequest"
      },
      "output": {
        "target": "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeInstanceInstanceIdEventsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/publicCloud/project/{projectId}/compute/instance/{instanceId}/events",
          "code": 200
        },
        "smithy.api#documentation": "List events for a Public Cloud instance. Returns an audit log of actions performed on the instance."
      }
    },
    "com.ovh.cloud_v2#GetPublicCloudProjectProjectIdComputeInstanceGroupRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID"
          }
        },
        "xPaginationCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "X-Pagination-Cursor",
            "smithy.api#documentation": "Pagination cursor"
          }
        },
        "xPaginationSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpHeader": "X-Pagination-Size",
            "smithy.api#documentation": "Pagination size"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceGroupInstanceGroup": {
      "type": "structure",
      "members": {
        "checksum": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Computed hash representing the current target specification value"
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation date of the instance group"
          }
        },
        "currentState": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceGroupInstanceGroupCurrentState",
          "traits": {
            "smithy.api#documentation": "Current state of the instance group",
            "com.distilled.openapi#nullable": {}
          }
        },
        "currentTasks": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceGroupInstanceGroupCurrentTasksList",
          "traits": {
            "smithy.api#documentation": "Ongoing asynchronous tasks related to the instance group",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the instance group"
          }
        },
        "resourceStatus": {
          "target": "com.ovh.cloud_v2#CommonResourceStatusEnum",
          "traits": {
            "smithy.api#documentation": "Instance group readiness in the system"
          }
        },
        "targetSpec": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceGroupInstanceGroupTargetSpec",
          "traits": {
            "smithy.api#documentation": "Last target specification of the instance group"
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last update date of the instance group"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Public Cloud instance group (server group with placement policy)"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceGroupInstanceGroupCurrentState": {
      "type": "structure",
      "members": {
        "location": {
          "target": "com.ovh.cloud_v2#PublicCloudCommonLocation",
          "traits": {
            "smithy.api#documentation": "Deployment location"
          }
        },
        "members": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceGroupInstanceGroupCurrentStateMembersList",
          "traits": {
            "smithy.api#documentation": "Instances in this group",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instance group name"
          }
        },
        "policy": {
          "target": "com.ovh.cloud_v2#PublicCloudInstanceGroupPolicyEnum",
          "traits": {
            "smithy.api#documentation": "Placement policy"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current state of an instance group"
      }
    },
    "com.ovh.cloud_v2#PublicCloudInstanceGroupInstanceGroupMemberRef": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instance identifier"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reference to an instance member of a group"
      }
    },
[...]
