{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.ovh.cloud#CloudProjectProductNameEnum": {
      "type": "enum",
      "members": {
        "REGISTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "registry"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for cloud project product name"
      }
    },
    "com.ovh.cloud#ListCloudAgreementsRequest": {
      "type": "structure",
      "members": {
        "product": {
          "target": "com.ovh.cloud#CloudProjectProductNameEnum",
          "traits": {
            "smithy.api#httpQuery": "product",
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of a product supported by cloud projects"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.cloud#CloudProjectProductAgreements": {
      "type": "structure",
      "members": {
        "agreementsToValidate": {
          "target": "com.ovh.cloud#CloudProjectProductAgreementsAgreementsToValidateList",
          "traits": {
            "smithy.api#documentation": "Agreements to validate",
            "com.distilled.openapi#nullable": {}
          }
        },
        "agreementsValidated": {
          "target": "com.ovh.cloud#CloudProjectProductAgreementsAgreementsValidatedList",
          "traits": {
            "smithy.api#documentation": "Agreements already validated",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Product agreements"
      }
    },
    "com.ovh.cloud#CloudProjectProductAgreementsAgreementsToValidateList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Agreements to validate"
      }
    },
    "com.ovh.cloud#CloudProjectProductAgreementsAgreementsValidatedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Agreements already validated"
      }
    },
    "com.ovh.cloud#ListCloudAgreements": {
      "type": "operation",
      "input": {
        "target": "com.ovh.cloud#ListCloudAgreementsRequest"
      },
      "output": {
        "target": "com.ovh.cloud#CloudProjectProductAgreements"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/cloud/agreements",
          "code": 200
        },
        "smithy.api#documentation": "Get agreements related to a product"
      }
    },
    "com.ovh.cloud#ListCloudEligibilityRequest": {
      "type": "structure",
      "members": {
        "voucher": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "voucher",
            "smithy.api#documentation": "Voucher code"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.cloud#CloudProjectEligibilityInfo": {
      "type": "structure",
      "members": {
        "actionsRequired": {
          "target": "com.ovh.cloud#CloudProjectEligibilityInfoActionsRequiredList",
          "traits": {
            "smithy.api#documentation": "Actions to perform to be eligible",
            "com.distilled.openapi#nullable": {}
          }
        },
        "minimumCredit": {
          "target": "com.ovh.cloud#OrderPrice",
          "traits": {
            "smithy.api#documentation": "Cloud project order",
            "com.distilled.openapi#nullable": {}
          }
        },
        "paymentMethodsAuthorized": {
          "target": "com.ovh.cloud#CloudProjectEligibilityInfoPaymentMethodsAuthorizedList",
          "traits": {
            "smithy.api#documentation": "Payment method accepted to order Public Cloud project",
            "com.distilled.openapi#nullable": {}
          }
        },
        "voucher": {
          "target": "com.ovh.cloud#CloudProjectNewProjectInfoVoucher",
          "traits": {
            "smithy.api#documentation": "Information about voucher code",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Eligibility information"
      }
    },
    "com.ovh.cloud#CloudProjectEligibilityAction": {
      "type": "enum",
      "members": {
        "ADDPAYMENTMETHOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "addPaymentMethod"
          }
        },
        "ASKINCREASEPROJECTSQUOTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "askIncreaseProjectsQuota"
          }
        },
        "CHALLENGEPAYMENTMETHOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challengePaymentMethod"
          }
        },
        "VERIFYPAYPAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verifyPaypal"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible eligibility actions"
      }
    },
    "com.ovh.cloud#CloudProjectEligibilityInfoActionsRequiredList": {
      "type": "list",
      "member": {
        "target": "com.ovh.cloud#CloudProjectEligibilityAction"
      },
      "traits": {
        "smithy.api#documentation": "Actions to perform to be eligible"
      }
    },
    "com.ovh.cloud#OrderPrice": {
      "type": "structure",
      "members": {
        "currencyCode": {
          "target": "com.ovh.cloud#OrderCurrencyCodeEnum",
          "traits": {
            "smithy.api#documentation": "Currency code"
          }
        },
        "priceInUcents": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Price in microcents",
            "com.distilled.openapi#nullable": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation"
          }
        },
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The effective price"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Price with its currency and textual representation"
      }
    },
    "com.ovh.cloud#OrderCurrencyCodeEnum": {
      "type": "enum",
      "members": {
        "AUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUD"
          }
        },
        "CAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAD"
          }
        },
        "CZK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CZK"
          }
        },
        "EUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EUR"
          }
        },
        "GBP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GBP"
          }
        },
        "INR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INR"
          }
        },
        "LTL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LTL"
          }
        },
        "MAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAD"
          }
        },
        "N_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N/A"
          }
        },
        "PLN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLN"
          }
        },
        "SGD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SGD"
          }
        },
        "TND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TND"
          }
        },
        "USD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USD"
          }
        },
        "XOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XOF"
          }
        },
        "POINTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "points"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Currency code"
      }
    },
    "com.ovh.cloud#CloudProjectPaymentMethodAuthorized": {
      "type": "enum",
      "members": {
        "BANKACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bankAccount"
          }
        },
        "CREDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "credit"
          }
        },
        "CREDITCARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "creditCard"
          }
        },
        "PAYPAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paypal"
          }
        },
        "RUPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rupay"
          }
        },
        "SEPADIRECTDEBIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sepaDirectDebit"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of accepted payment methods"
      }
    },
    "com.ovh.cloud#CloudProjectEligibilityInfoPaymentMethodsAuthorizedList": {
      "type": "list",
      "member": {
        "target": "com.ovh.cloud#CloudProjectPaymentMethodAuthorized"
      },
      "traits": {
        "smithy.api#documentation": "Payment method accepted to order Public Cloud project"
      }
    },
    "com.ovh.cloud#CloudProjectNewProjectInfoVoucher": {
      "type": "structure",
      "members": {
        "credit": {
          "target": "com.ovh.cloud#OrderPrice",
          "traits": {
            "smithy.api#documentation": "Credit added thanks to the voucher"
          }
        },
        "paymentMethodRequired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A valid registered payment method is required to use the voucher"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about voucher"
      }
    },
    "com.ovh.cloud#ListCloudEligibility": {
      "type": "operation",
      "input": {
        "target": "com.ovh.cloud#ListCloudEligibilityRequest"
      },
      "output": {
        "target": "com.ovh.cloud#CloudProjectEligibilityInfo"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/cloud/eligibility",
          "code": 200
        },
        "smithy.api#documentation": "Check your eligibility to create a Public Cloud order"
      }
    },
    "com.ovh.cloud#ListCloudOrderRequest": {
      "type": "structure",
      "members": {
        "planCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "planCode",
            "smithy.api#documentation": "Order plan code"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.cloud#CloudOrderOrder": {
      "type": "structure",
      "members": {
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Order creation date"
          }
        },
        "orderId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Order id"
          }
        },
        "planCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Order plan code"
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service created",
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.ovh.cloud#CloudOrderStatusEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Cloud Order"
      }
    },
    "com.ovh.cloud#CloudOrderStatusEnum": {
      "type": "enum",
      "members": {
        "DELIVERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delivered"
          }
        },
        "DELIVERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delivering"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        },
        "UNPAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unpaid"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Order status"
      }
    },
    "com.ovh.cloud#ListCloudOrderResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.cloud#CloudOrderOrder"
      },
      "traits": {}
    },
    "com.ovh.cloud#ListCloudOrderResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.cloud#ListCloudOrderResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.cloud#ListCloudOrder": {
      "type": "operation",
      "input": {
        "target": "com.ovh.cloud#ListCloudOrderRequest"
      },
      "output": {
        "target": "com.ovh.cloud#ListCloudOrderResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/cloud/order",
          "code": 200
        },
        "smithy.api#documentation": "Get all cloud pending orders"
      }
    },
    "com.ovh.cloud#NichandleOvhSubsidiaryEnum": {
      "type": "enum",
      "members": {
        "CZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CZ"
          }
        },
        "DE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DE"
          }
        },
        "ES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ES"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EU"
          }
        },
        "FI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FI"
          }
        },
        "FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FR"
          }
        },
        "GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GB"
          }
        },
        "IE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IE"
          }
        },
        "IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IT"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LT"
          }
        },
        "MA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MA"
          }
        },
        "NL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NL"
          }
        },
        "PL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PL"
          }
        },
        "PT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT"
          }
        },
        "SN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SN"
          }
        },
        "TN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TN"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OVH subsidiaries"
      }
    },
    "com.ovh.cloud#ListCloudOrderRuleAvailabilityRequest": {
      "type": "structure",
      "members": {
        "addonFamily": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "addonFamily",
            "smithy.api#documentation": "Addon family filter"
          }
        },
        "ovhSubsidiary": {
          "target": "com.ovh.cloud#NichandleOvhSubsidiaryEnum",
          "traits": {
            "smithy.api#httpQuery": "ovhSubsidiary",
            "smithy.api#required": {},
            "smithy.api#documentation": "OVH subsidiary"
          }
        },
        "planCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "planCode",
            "smithy.api#documentation": "Plan code filter"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.cloud#CloudOrderRuleAvailability": {
      "type": "structure",
      "members": {
        "plans": {
          "target": "com.ovh.cloud#CloudOrderRuleAvailabilityPlansList",
          "traits": {
            "smithy.api#documentation": "Plan availability"
          }
        },
        "products": {
          "target": "com.ovh.cloud#CloudOrderRuleAvailabilityProductsList",
          "traits": {
            "smithy.api#documentation": "Product availability"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Public Cloud products availability"
      }
    },
    "com.ovh.cloud#CloudOrderRuleAvailabilityPlan": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plan code"
          }
        },
        "regions": {
          "target": "com.ovh.cloud#CloudOrderRuleAvailabilityPlanRegionsList",
          "traits": {
            "smithy.api#documentation": "Plan is available on those regions"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Public Cloud plan availability"
      }
    },
    "com.ovh.cloud#CloudOrderRuleAvailabilityPlanRegionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Plan is available on those regions"
      }
    },
    "com.ovh.cloud#CloudOrderRuleAvailabilityPlansList": {
      "type": "list",
      "member": {
        "target": "com.ovh.cloud#CloudOrderRuleAvailabilityPlan"
      },
      "traits": {
        "smithy.api#documentation": "Plan availability"
      }
    },
    "com.ovh.cloud#CloudOrderRuleAvailabilityProduct": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Product name"
          }
        },
        "regions": {
          "target": "com.ovh.cloud#CloudOrderRuleAvailabilityProductRegionsList",
          "traits": {
            "smithy.api#documentation": "Product is available on those regions"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Public Cloud product availability"
      }
    },
    "com.ovh.cloud#CloudOrderRuleAvailabilityProductRegionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Product is available on those regions"
      }
    },
    "com.ovh.cloud#CloudOrderRuleAvailabilityProductsList": {
      "type": "list",
      "member": {
        "target": "com.ovh.cloud#CloudOrderRuleAvailabilityProduct"
      },
      "traits": {
        "smithy.api#documentation": "Product availability"
      }
    },
    "com.ovh.cloud#ListCloudOrderRuleAvailability": {
      "type": "operation",
      "input": {
        "target": "com.ovh.cloud#ListCloudOrderRuleAvailabilityRequest"
      },
      "output": {
        "target": "com.ovh.cloud#CloudOrderRuleAvailability"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/cloud/order/rule/availability",
          "code": 200
        },
        "smithy.api#documentation": "Get product availability"
      }
    },
    "com.ovh.cloud#IamResourceTagFilterInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Resource tag filter"
      }
    },
    "com.ovh.cloud#GetProjectsRequestIamTagsValueList": {
      "type": "list",
      "member": {
        "target": "com.ovh.cloud#IamResourceTagFilterInput"
      },
      "traits": {}
    },
    "com.ovh.cloud#GetProjectsRequestIamTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.ovh.cloud#GetProjectsRequestIamTagsValueList"
      },
      "traits": {}
    },
    "com.ovh.cloud#GetProjectsRequest": {
      "type": "structure",
      "members": {
        "iamTags": {
          "target": "com.ovh.cloud#GetProjectsRequestIamTagsMap",
          "traits": {
            "smithy.api#httpQuery": "iamTags",
            "smithy.api#documentation": "Filter resources on IAM tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.cloud#GetProjectsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.cloud#GetProjectsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.cloud#GetProjectsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.cloud#GetProjects": {
      "type": "operation",
      "input": {
        "target": "com.ovh.cloud#GetProjectsRequest"
      },
      "output": {
        "target": "com.ovh.cloud#GetProjectsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/cloud/project",
          "code": 200
        },
        "smithy.api#documentation": "List available public cloud projects"
      }
    },
    "com.ovh.cloud#GetProjectRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.cloud#CloudProjectWithIAM": {
      "type": "structure",
      "members": {
        "access": {
          "target": "com.ovh.cloud#CloudAccessTypeEnum",
          "traits": {
            "smithy.api#documentation": "Project access"
          }
        },
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Project creation date"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of your project",
            "com.distilled.openapi#nullable": {}
          }
        },
        "expiration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Expiration date of your project. After this date, your project will be deleted",
            "com.distilled.openapi#nullable": {}
          }
        },
        "iam": {
          "target": "com.ovh.cloud#IamResourceMetadata",
          "traits": {
            "smithy.api#documentation": "IAM resource metadata",
            "com.distilled.openapi#nullable": {}
          }
        },
        "manualQuota": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Manual quota prevent automatic quota upgrade"
          }
        },
        "orderId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Project order id",
            "com.distilled.openapi#nullable": {}
          }
        },
        "planCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Order plan code"
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Project name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Project id"
          }
        },
        "status": {
          "target": "com.ovh.cloud#CloudProjectProjectStatusEnum",
          "traits": {
            "smithy.api#documentation": "Current status"
          }
        },
        "unleash": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Project unleashed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Project"
      }
    },
    "com.ovh.cloud#CloudAccessTypeEnum": {
      "type": "enum",
      "members": {
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "full"
          }
        },
        "RESTRICTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "restricted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for project access type"
      }
    },
    "com.ovh.cloud#IamResourceMetadata": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource display name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the resource"
          }
        },
        "state": {
          "target": "com.ovh.cloud#IamResourceMetadataStateEnum",
          "traits": {
            "smithy.api#documentation": "Resource state",
            "com.distilled.openapi#nullable": {}
          }
        },
        "tags": {
          "target": "com.ovh.cloud#IamResourceMetadataTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:",
            "com.distilled.openapi#nullable": {}
          }
        },
        "urn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique resource name used in policies"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IAM resource metadata embedded in services models"
      }
    },
    "com.ovh.cloud#IamResourceMetadataStateEnum": {
      "type": "enum",
      "members": {
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        },
        "IN_CREATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_CREATION"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OK"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource state"
      }
    },
    "com.ovh.cloud#IamResourceMetadataTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:"
      }
    },
    "com.ovh.cloud#CloudProjectProjectStatusEnum": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "creating"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleting"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspended"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for project status"
      }
    },
    "com.ovh.cloud#GetProject": {
      "type": "operation",
      "input": {
        "target": "com.ovh.cloud#GetProjectRequest"
      },
      "output": {
        "target": "com.ovh.cloud#CloudProjectWithIAM"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/cloud/project/{serviceName}",
          "code": 200
        },
        "smithy.api#documentation": "Get a public cloud project properties"
      }
    },
    "com.ovh.cloud#PutCloudProjectRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of your project",
            "com.distilled.openapi#nullable": {}
          }
        },
        "manualQuota": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Manual quota prevent automatic quota upgrade"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.cloud#PutCloudProject": {
      "type": "operation",
      "input": {
        "target": "com.ovh.cloud#PutCloudProjectRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/cloud/project/{serviceName}",
          "code": 200
        },
        "smithy.api#documentation": "Alter this object properties"
      }
    },
    "com.ovh.cloud#CloudAclTypeEnum": {
      "type": "enum",
      "members": {
        "READONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "readOnly"
          }
        },
        "READWRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "readWrite"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for ACL type"
      }
    },
    "com.ovh.cloud#ListCloudProjectAclRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The project id"
          }
        },
        "type": {
          "target": "com.ovh.cloud#CloudAclTypeEnum",
          "traits": {
            "smithy.api#httpQuery": "type",
            "smithy.api#documentation": "Filter the value of type property (=)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.cloud#ListCloudProjectAclResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.cloud#ListCloudProjectAclResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.cloud#ListCloudProjectAclResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.cloud#ListCloudProjectAcl": {
      "type": "operation",
      "input": {
        "target": "com.ovh.cloud#ListCloudProjectAclRequest"
      },
      "output": {
        "target": "com.ovh.cloud#ListCloudProjectAclResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/cloud/project/{serviceName}/acl",
          "code": 200
        },
        "smithy.api#documentation": "Get ACL on your cloud project"
      }
    },
    "com.ovh.cloud#CreateCloudProjectAclRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The project id"
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deleguates rights to",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.ovh.cloud#CloudAclTypeEnum",
          "traits": {
            "smithy.api#documentation": "Acl type",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.cloud#CloudAcl": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OVH customer unique identifier"
          }
        },
        "type": {
          "target": "com.ovh.cloud#CloudAclTypeEnum",
          "traits": {
            "smithy.api#documentation": "ACL type"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cloud ACL"
      }
    },
    "com.ovh.cloud#CreateCloudProjectAcl": {
      "type": "operation",
      "input": {
        "target": "com.ovh.cloud#CreateCloudProjectAclRequest"
      },
      "output": {
        "target": "com.ovh.cloud#CloudAcl"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/cloud/project/{serviceName}/acl",
          "code": 200
        },
        "smithy.api#documentation": "Create new ACL"
      }
    },
    "com.ovh.cloud#GetCloudProjectAclRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The project id"
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "OVH customer unique identifier"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.cloud#GetCloudProjectAcl": {
      "type": "operation",
      "input": {
        "target": "com.ovh.cloud#GetCloudProjectAclRequest"
      },
      "output": {
        "target": "com.ovh.cloud#CloudAcl"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/cloud/project/{serviceName}/acl/{accountId}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.cloud#DeleteCloudProjectAclRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The project id"
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "OVH customer unique identifier"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.cloud#DeleteCloudProjectAcl": {
      "type": "operation",
      "input": {
        "target": "com.ovh.cloud#DeleteCloudProjectAclRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/cloud/project/{serviceName}/acl/{accountId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete ACL"
      }
    },
    "com.ovh.cloud#CloudInstanceMonthlyInstanceBulkParams": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instance id"
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Region name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Instance with region to set as monthly billing"
      }
    },
    "com.ovh.cloud#ActivateCloudProjectMonthlyBillingRequestInstancesList": {
      "type": "list",
      "member": {
        "target": "com.ovh.cloud#CloudInstanceMonthlyInstanceBulkParams"
      },
      "traits": {
        "smithy.api#documentation": "Instance ids and regions"
      }
    },
    "com.ovh.cloud#ActivateCloudProjectMonthlyBillingRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "instances": {
          "target": "com.ovh.cloud#ActivateCloudProjectMonthlyBillingRequestInstancesList",
          "traits": {
            "smithy.api#documentation": "Instance ids and regions",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.cloud#CloudInstanceInstance": {
      "type": "structure",
      "members": {
        "availabilityZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Availability zone of the instance",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instance creation date"
          }
        },
        "currentMonthOutgoingTraffic": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Instance outgoing network traffic for the current month (in bytes)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "flavor": {
          "target": "com.ovh.cloud#CloudFlavorFlavor",
          "traits": {
            "smithy.api#documentation": "Instance flavor",
            "com.distilled.openapi#nullable": {}
          }
        },
        "flavorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instance flavor id"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instance id"
          }
        },
        "image": {
          "target": "com.ovh.cloud#CloudImageImage",
          "traits": {
            "smithy.api#documentation": "Instance image",
            "com.distilled.openapi#nullable": {}
          }
        },
        "imageId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instance image id"
          }
        },
        "ipAddresses": {
          "target": "com.ovh.cloud#CloudInstanceInstanceIpAddressesList",
          "traits": {
            "smithy.api#documentation": "Instance IP addresses"
          }
        },
        "monthlyBilling": {
          "target": "com.ovh.cloud#CloudInstanceMonthlyBilling",
          "traits": {
            "smithy.api#documentation": "Instance monthly billing status",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instance name"
          }
        },
        "operationIds": {
          "target": "com.ovh.cloud#CloudInstanceInstanceOperationIdsList",
          "traits": {
            "smithy.api#documentation": "Ids of pending public cloud operations"
          }
        },
        "planCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Order plan code",
            "com.distilled.openapi#nullable": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instance id"
          }
        },
        "rescuePassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rescue password if instance is in RESCUE status",
            "com.distilled.openapi#nullable": {},
            "smithy.api#sensitive": {}
          }
        },
        "sshKey": {
          "target": "com.ovh.cloud#CloudSshkeySshKeyDetail",
          "traits": {
            "smithy.api#documentation": "Instance SSH key",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sshKeyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instance ssh key id",
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.ovh.cloud#CloudInstanceInstanceStatusEnum",
          "traits": {
            "smithy.api#documentation": "Instance status"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Instance"
      }
    },
    "com.ovh.cloud#CloudFlavorFlavor": {
      "type": "structure",
      "members": {
        "available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Available in stock"
          }
        },
        "capabilities": {
          "target": "com.ovh.cloud#CloudFlavorFlavorCapabilitiesList",
          "traits": {
            "smithy.api#documentation": "Capabilities of the flavor"
          }
        },
        "disk": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of disks"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Flavor id"
          }
        },
        "inboundBandwidth": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Max capacity of inbound traffic in Mbit/s",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Flavor name"
          }
        },
        "osType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OS to install on"
          }
        },
        "outboundBandwidth": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Max capacity of outbound traffic in Mbit/s",
            "com.distilled.openapi#nullable": {}
          }
        },
        "planCodes": {
          "target": "com.ovh.cloud#CloudFlavorFlavorPlanCodes",
          "traits": {
            "smithy.api#documentation": "Plan codes to order instances"
          }
        },
        "quota": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number instance you can spawn with your actual quota"
          }
        },
        "ram": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Ram quantity (Gio)"
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Flavor region"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Flavor type"
          }
        },
        "vcpus": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of VCPUs"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Flavor"
      }
    },
    "com.ovh.cloud#CloudFlavorCapability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is the capability enabled"
          }
        },
        "name": {
          "target": "com.ovh.cloud#CloudFlavorCapabilityNameEnum",
          "traits": {
            "smithy.api#documentation": "Name of the capability"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Flavor capability"
      }
    },
    "com.ovh.cloud#CloudFlavorCapabilityNameEnum": {
      "type": "enum",
      "members": {
        "FAILOVERIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failoverip"
          }
        },
        "RESIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resize"
          }
        },
        "SNAPSHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "snapshot"
          }
        },
        "VOLUME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "volume"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enum values for flavor capabilities names"
      }
    },
    "com.ovh.cloud#CloudFlavorFlavorCapabilitiesList": {
      "type": "list",
      "member": {
        "target": "com.ovh.cloud#CloudFlavorCapability"
      },
      "traits": {
        "smithy.api#documentation": "Capabilities of the flavor"
      }
    },
    "com.ovh.cloud#CloudFlavorFlavorPlanCodes": {
      "type": "structure",
      "members": {
        "hourly": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plan code to order hourly instance",
            "com.distilled.openapi#nullable": {}
          }
        },
        "license": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plan code of associated license",
            "com.distilled.openapi#nullable": {}
          }
        },
        "monthly": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plan code to order monthly instance",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "FlavorPlanCodes"
      }
    },
    "com.ovh.cloud#CloudImageImage": {
      "type": "structure",
      "members": {
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image creation date"
          }
        },
        "flavorType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image usable only for this type of flavor if not null",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image id"
          }
        },
        "minDisk": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum disks required to use image"
          }
        },
        "minRam": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum RAM required to use image"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image name"
          }
        },
        "planCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Order plan code",
            "com.distilled.openapi#nullable": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image region"
          }
        },
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Image size (in GiB)"
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image status"
          }
        },
        "tags": {
          "target": "com.ovh.cloud#CloudImageImageTagsList",
          "traits": {
            "smithy.api#documentation": "Tags about the image",
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image type"
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User to connect with"
          }
        },
        "visibility": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image visibility"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Image"
      }
    },
    "com.ovh.cloud#CloudImageImageTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tags about the image"
      }
    },
    "com.ovh.cloud#CloudInstanceIpAddress": {
      "type": "structure",
      "members": {
        "gatewayIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gateway IP",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instance IP address"
          }
        },
        "networkId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Network ID"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instance IP address type"
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "IP version"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IpAddress"
      }
    },
    "com.ovh.cloud#CloudInstanceInstanceIpAddressesList": {
      "type": "list",
      "member": {
        "target": "com.ovh.cloud#CloudInstanceIpAddress"
      },
      "traits": {
        "smithy.api#documentation": "Instance IP addresses"
      }
    },
    "com.ovh.cloud#CloudInstanceMonthlyBilling": {
      "type": "structure",
      "members": {
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Monthly billing activated since"
          }
        },
        "status": {
          "target": "com.ovh.cloud#CloudInstanceMonthlyBillingStatusEnum",
          "traits": {
            "smithy.api#documentation": "Monthly billing status"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MonthlyBilling"
      }
    },
    "com.ovh.cloud#CloudInstanceMonthlyBillingStatusEnum": {
      "type": "enum",
      "members": {
        "ACTIVATIONPENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "activationPending"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MonthlyBillingStatusEnum"
      }
    },
    "com.ovh.cloud#CloudInstanceInstanceOperationIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Ids of pending public cloud operations"
      }
    },
    "com.ovh.cloud#CloudSshkeySshKeyDetail": {
      "type": "structure",
      "members": {
        "fingerPrint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SSH key fingerprint"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SSH key id"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SSH key name"
          }
        },
        "publicKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SSH public key"
          }
        },
        "regions": {
          "target": "com.ovh.cloud#CloudSshkeySshKeyDetailRegionsList",
          "traits": {
            "smithy.api#documentation": "SSH key regions"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SshKeyDetail"
      }
    },
    "com.ovh.cloud#CloudSshkeySshKeyDetailRegionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "SSH key regions"
      }
    },
    "com.ovh.cloud#CloudInstanceInstanceStatusEnum": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "BUILD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILD"
          }
        },
        "BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILDING"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "HARD_REBOOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARD_REBOOT"
          }
        },
        "MIGRATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIGRATING"
          }
        },
        "PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSWORD"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED"
          }
        },
        "REBOOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REBOOT"
          }
        },
        "REBUILD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REBUILD"
          }
        },
        "RESCUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESCUE"
          }
        },
        "RESCUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESCUED"
          }
        },
        "RESCUING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESCUING"
          }
        },
        "RESIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESIZE"
          }
        },
        "RESIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESIZED"
          }
        },
        "RESUMING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESUMING"
          }
        },
        "REVERT_RESIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVERT_RESIZE"
          }
        },
        "SHELVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHELVED"
          }
        },
        "SHELVED_OFFLOADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHELVED_OFFLOADED"
          }
        },
        "SHELVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHELVING"
          }
        },
        "SHUTOFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHUTOFF"
          }
        },
        "SNAPSHOTTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SNAPSHOTTING"
          }
        },
        "SOFT_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOFT_DELETED"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPED"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "UNRESCUING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNRESCUING"
          }
        },
        "UNSHELVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSHELVING"
          }
        },
        "VERIFY_RESIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERIFY_RESIZE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "InstanceStatusEnum"
      }
    },
    "com.ovh.cloud#ActivateCloudProjectMonthlyBillingResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.cloud#CloudInstanceInstance"
      },
      "traits": {}
    },
    "com.ovh.cloud#ActivateCloudProjectMonthlyBillingResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.cloud#ActivateCloudProjectMonthlyBillingResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.cloud#ActivateCloudProjectMonthlyBilling": {
      "type": "operation",
      "input": {
        "target": "com.ovh.cloud#ActivateCloudProjectMonthlyBillingRequest"
      },
      "output": {
        "target": "com.ovh.cloud#ActivateCloudProjectMonthlyBillingResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/cloud/project/{serviceName}/activateMonthlyBilling",
          "code": 200
        },
        "smithy.api#documentation": "Activate monthly billing on multiple instances"
      }
    },
    "com.ovh.cloud#CloudProjectAiOrderEnum": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible value to order result"
      }
    },
    "com.ovh.cloud#CloudProjectAiAppAppStateEnum": {
      "type": "enum",
      "members": {
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "SCALING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCALING"
          }
        },
        "STANDBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDBY"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPED"
          }
        },
        "STOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPING"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State of the application"
      }
    },
    "com.ovh.cloud#ListCloudProjectAiAppRequestStatusStateList": {
      "type": "list",
      "member": {
        "target": "com.ovh.cloud#CloudProjectAiAppAppStateEnum"
      },
      "traits": {}
    },
    "com.ovh.cloud#ListCloudProjectAiAppRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "labelSelector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "labelSelector",
            "smithy.api#documentation": "Filter on app label (e.g. 'app_name=kind_of_magic')"
          }
        },
        "order": {
          "target": "com.ovh.cloud#CloudProjectAiOrderEnum",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "Order the result set"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page of the result set"
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "size",
            "smithy.api#documentation": "Size of the result set"
          }
        },
        "sort": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "Sort the result with this field"
          }
        },
        "statusState": {
          "target": "com.ovh.cloud#ListCloudProjectAiAppRequestStatusStateList",
          "traits": {
            "smithy.api#httpQuery": "statusState",
            "smithy.api#documentation": "Filter on status state"
          }
        },
        "updatedAfter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "updatedAfter",
            "smithy.api#documentation": "Filter on updatedAt property (>)"
          }
        },
        "updatedBefore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "updatedBefore",
            "smithy.api#documentation": "Filter on updatedAt property (<)"
          }
        },
        "userName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "userName",
            "smithy.api#documentation": "User that submit the job"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.cloud#CloudProjectAiAppApp": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "App creation date"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "App Id"
          }
        },
        "spec": {
          "target": "com.ovh.cloud#CloudProjectAiAppAppSpec",
          "traits": {
            "smithy.api#documentation": "App spec"
          }
        },
        "status": {
          "target": "com.ovh.cloud#CloudProjectAiAppAppStatus",
          "traits": {
            "smithy.api#documentation": "App Container Status"
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "App last update date"
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "App user owner"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AI Solutions Platform App Object"
      }
    },
    "com.ovh.cloud#CloudProjectAiAppAppSpec": {
      "type": "structure",
      "members": {
        "command": {
          "target": "com.ovh.cloud#CloudProjectAiAppAppSpecCommandList",
          "traits": {
            "smithy.api#documentation": "App command",
            "com.distilled.openapi#nullable": {}
          }
        },
        "defaultHttpPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Default port to access the http service inside the app",
            "com.distilled.openapi#nullable": {}
          }
        },
        "deploymentStrategy": {
          "target": "com.ovh.cloud#CloudProjectAiAppDeploymentStrategy",
          "traits": {
            "smithy.api#documentation": "AI App deployment strategy",
            "com.distilled.openapi#nullable": {}
          }
        },
        "envVars": {
          "target": "com.ovh.cloud#CloudProjectAiAppAppSpecEnvVarsList",
          "traits": {
            "smithy.api#documentation": "List of environment variable to be set inside the app",
            "com.distilled.openapi#nullable": {}
          }
        },
        "grpcPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "GRPC Port that we want to expose in case workload HTTP & gRPC servers cannot be multiplexed to listen on the same port",
            "com.distilled.openapi#nullable": {}
          }
        },
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "App image"
          }
        },
        "labels": {
          "target": "com.ovh.cloud#CloudProjectAiAppAppSpecLabelsMap",
          "traits": {
            "smithy.api#documentation": "Labels for the app",
            "com.distilled.openapi#nullable": {}
          }
        },
        "livenessProbe": {
          "target": "com.ovh.cloud#CloudProjectAiAppProbe",
          "traits": {
            "smithy.api#documentation": "App liveness probe",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "App name"
          }
        },
        "partnerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Partner ID",
            "com.distilled.openapi#nullable": {}
          }
        },
        "probe": {
          "target": "com.ovh.cloud#CloudProjectAiAppProbe",
          "traits": {
            "smithy.api#documentation": "App readiness probe",
            "com.distilled.openapi#nullable": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Host region of the app"
          }
        },
        "resources": {
          "target": "com.ovh.cloud#CloudProjectAiResources",
          "traits": {
            "smithy.api#documentation": "App resources"
          }
        },
        "scalingStrategy": {
          "target": "com.ovh.cloud#CloudProjectAiAppScalingStrategy",
          "traits": {
            "smithy.api#documentation": "App scaling strategy",
            "com.distilled.openapi#nullable": {}
          }
        },
        "unsecureHttp": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if app api port can be accessed without any authentication token, false otherwise",
            "com.distilled.openapi#nullable": {}
          }
        },
        "volumes": {
          "target": "com.ovh.cloud#CloudProjectAiAppAppSpecVolumesList",
          "traits": {
            "smithy.api#documentation": "App Data linked",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AI Solutions App Spec Object to create an app"
      }
    },
    "com.ovh.cloud#CloudProjectAiAppAppSpecCommandList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "App command"
      }
    },
    "com.ovh.cloud#CloudProjectAiAppDeploymentStrategy": {
      "type": "structure",
      "members": {
        "maxSurge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maximum number of replicas that can be created over the desired number of Pods (can be expressed as a percentage of the desired pods, suffixed with '%')",
            "com.distilled.openapi#nullable": {}
          }
        },
        "maxUnavailable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maximum number of replicas that can be unavailable during the update process (can be expressed as a percentage of the desired pods, suffixed with '%')",
            "com.distilled.openapi#nullable": {}
          }
        },
        "progressDeadlineSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of seconds you want to wait for your Deployment to progress before the system reports back that the Deployment has failed progressing",
            "com.distilled.openapi#nullable": {}
          }
        },
        "terminationGracePeriodSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of seconds we allow an app's replica to shutdown gracefully before we terminate it. Defaults to 30 seconds",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AI Solutions AI App deployment strategy object"
      }
    },
    "com.ovh.cloud#CloudProjectAiJobJobEnv": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the environment variable to set inside the job",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value of the environment variable to set inside the job",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AI Solutions Job Env Object"
      }
    },
    "com.ovh.cloud#CloudProjectAiAppAppSpecEnvVarsList": {
      "type": "list",
      "member": {
        "target": "com.ovh.cloud#CloudProjectAiJobJobEnv"
      },
      "traits": {
        "smithy.api#documentation": "List of environment variable to be set inside the app"
      }
    },
    "com.ovh.cloud#CloudProjectAiAppAppSpecLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Labels for the app"
      }
    },
    "com.ovh.cloud#CloudProjectAiAppProbe": {
      "type": "structure",
      "members": {
        "failureThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum consecutive failures for the probe to be considered failed after having succeeded. Defaults to 3. Minimum value is 1.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "initialDelaySeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of seconds after the container has started before liveness probes are initiated.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path to access to check for readiness",
            "com.distilled.openapi#nullable": {}
          }
        },
        "periodSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How often (in seconds) to perform the probe. Default to 10 seconds. Minimum value is 1.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port to access to check for readiness",
            "com.distilled.openapi#nullable": {}
          }
        },
        "successThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum consecutive successes for the probe to be considered successful after having failed. Defaults to 1. Must be 1 for liveness and startup. Minimum value is 1.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "timeoutSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of seconds after which the probe times out. Defaults to 1 second. Minimum value is 1.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AI Solutions App Probe Object"
      }
    },
    "com.ovh.cloud#CloudProjectAiResources": {
      "type": "structure",
      "members": {
        "cpu": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of vCPU resources requested"
          }
        },
        "ephemeralStorage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The amount of ephemeral storage in bytes"
          }
        },
        "flavor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current instance flavor"
          }
        },
        "flavorCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of desired units of the chosen flavor",
            "com.distilled.openapi#nullable": {}
          }
        },
        "gpu": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of GPU resources requested"
          }
        },
        "gpuBrand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GPU Brand",
            "com.distilled.openapi#nullable": {}
          }
        },
        "gpuMemory": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The GPU Memory in bits",
            "com.distilled.openapi#nullable": {}
          }
        },
        "gpuModel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GPU Model",
            "com.distilled.openapi#nullable": {}
          }
        },
        "memory": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The amount of memory in bytes"
          }
        },
        "privateNetwork": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The guarantee private bandwidth in bytes per seconds"
          }
        },
        "publicNetwork": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The guarantee public bandwidth in bytes per seconds"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AI Solutions Resource Object"
      }
    },
    "com.ovh.cloud#CloudProjectAiAppScalingStrategy": {
      "type": "structure",
      "members": {
        "automatic": {
          "target": "com.ovh.cloud#CloudProjectAiAppScalingAutomaticStrategy",
          "traits": {
            "smithy.api#documentation": "Strategy setting a variable number of replicas, based on an average resource usage threshold",
            "com.distilled.openapi#nullable": {}
          }
        },
        "fixed": {
          "target": "com.ovh.cloud#CloudProjectAiAppScalingFixedStrategy",
          "traits": {
            "smithy.api#documentation": "Strategy setting a fix number of replicas",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AI Solutions App Scaling Strategy Object"
      }
    },
    "com.ovh.cloud#CloudProjectAiAppScalingAutomaticStrategy": {
      "type": "structure",
      "members": {
        "averageUsageTarget": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The average resource usage threshold that the app upscale or downscale will be triggered from, in percent",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cooldownPeriodSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of seconds to wait before scaling app to 0 whenever there are no more HTTP/gRPC requests made to it. Only applies when replicasMin=0",
            "com.distilled.openapi#nullable": {}
          }
        },
        "customMetrics": {
          "target": "com.ovh.cloud#CloudProjectAiAppAutomaticScalingStrategyCustomMetrics",
          "traits": {
            "smithy.api#documentation": "parameters to scale the AI Deploy App based on a custom metric provided by a customer-exposed API",
            "com.distilled.openapi#nullable": {}
          }
        },
        "replicasMax": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of replicas"
          }
        },
        "replicasMin": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum number of replicas",
            "com.distilled.openapi#nullable": {}
          }
        },
        "resourceType": {
          "target": "com.ovh.cloud#CloudProjectAiAppScalingAutomaticStrategyResourceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of the resource to base the automatic scaling on",
            "com.distilled.openapi#nullable": {}
          }
        },
        "scaleDownStabilizationWindowSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of seconds for which past recommendations should be considered while scaling down. Must be greater than or equal to zero and less than or equal to 3600 (one hour).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "scaleUpStabilizationWindowSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of seconds for which past recommendations should be considered while scaling up. Must be greater than or equal to zero and less than or equal to 3600 (one hour).",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AI Solutions App automatic scaling strategy object"
      }
    },
    "com.ovh.cloud#CloudProjectAiAppAutomaticScalingStrategyCustomMetrics": {
      "type": "structure",
      "members": {
        "aggregationType": {
          "target": "com.ovh.cloud#CloudProjectAiAppCustomMetricsAggregationTypeEnum",
          "traits": {
            "smithy.api#documentation": "aggregation type we apply on the custom metric used to scaled an AI Deploy App"
          }
        },
        "apiUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full URL of the API operation to call to get the metric value. Specific <SELF> placeholder can be given whenever metrics API is served by the deployed app itself. e.g : \"http://<SELF>:6000/metrics\""
          }
        },
        "format": {
          "target": "com.ovh.cloud#CloudProjectAiAppCustomMetricsFormatEnum",
          "traits": {
            "smithy.api#documentation": "format of the custom metric used to scaled an AI Deploy App"
          }
        },
        "targetValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Target value to scale on"
          }
        },
        "valueLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the metric value in the response payload. The value is format specific, see https://keda.sh/docs/2.16/scalers/metrics-api/#trigger-specification for details"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Scale an AI Deploy App based on a custom metric provided by a customer-exposed API"
      }
    },
    "com.ovh.cloud#CloudProjectAiAppCustomMetricsAggregationTypeEnum": {
      "type": "enum",
      "members": {
        "AVERAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVERAGE"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAX"
          }
        },
        "MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIN"
          }
        },
        "SUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUM"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Aggregation type for the custom metrics we want to deploy an AI deploy App on"
      }
    },
    "com.ovh.cloud#CloudProjectAiAppCustomMetricsFormatEnum": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSON"
          }
        },
        "PROMETHEUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROMETHEUS"
          }
        },
        "XML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XML"
          }
        },
        "YAML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YAML"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "format of the custom metric used to scaled an AI Deploy App"
      }
    },
    "com.ovh.cloud#CloudProjectAiAppScalingAutomaticStrategyResourceTypeEnum": {
      "type": "enum",
      "members": {
        "CPU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CPU"
          }
        },
        "RAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RAM"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource type for App automatic scaling strategy"
      }
    },
    "com.ovh.cloud#CloudProjectAiAppScalingFixedStrategy": {
      "type": "structure",
      "members": {
        "replicas": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of wanted replicas"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AI Solutions App Status Object"
      }
    },
    "com.ovh.cloud#CloudProjectAiVolumeVolume": {
      "type": "structure",
      "members": {
        "cache": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable/disable volume caching"
          }
        },
        "container": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public Cloud Storage container to attach",
            "com.distilled.openapi#nullable": {}
          }
        },
        "dataStore": {
          "target": "com.ovh.cloud#CloudProjectAiVolumeDataStore",
          "traits": {
            "smithy.api#documentation": "Volume details for data store containers. Deprecated: Use volumeSource.dataStore instead",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Volume Id. Deprecated: moved to status.volumes[]",
            "com.distilled.openapi#nullable": {}
          }
        },
        "mountPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path where to mount the data inside the container",
            "smithy.api#required": {}
          }
        },
        "permission": {
          "target": "com.ovh.cloud#CloudProjectAiVolumePermissionEnum",
          "traits": {
            "smithy.api#documentation": "Permissions to use on the mounted volume",
            "smithy.api#required": {}
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prefix to fetch only part of the volume",
            "com.distilled.openapi#nullable": {}
          }
        },
        "publicGit": {
          "target": "com.ovh.cloud#CloudProjectAiVolumePublicGit",
          "traits": {
            "smithy.api#documentation": "Volume details for public git repositories. Deprecated: Use volumeSource.publicGit instead",
            "com.distilled.openapi#nullable": {}
          }
        },
        "publicSwift": {
          "target": "com.ovh.cloud#CloudProjectAiVolumePublicSwift",
          "traits": {
            "smithy.api#documentation": "Volume details for public swift containers. Deprecated: Use volumeSource.publicSwift instead",
            "com.distilled.openapi#nullable": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public Cloud Storage Region",
            "com.distilled.openapi#nullable": {}
          }
        },
        "standalone": {
          "target": "com.ovh.cloud#CloudProjectAiVolumeStandalone",
          "traits": {
            "smithy.api#documentation": "Volume details for volumes that do not have a datasource. Deprecated: Use volumeSource.standalone instead",
            "com.distilled.openapi#nullable": {}
          }
        },
        "targetDataStore": {
          "target": "com.ovh.cloud#CloudProjectAiVolumeDataStore",
          "traits": {
            "smithy.api#documentation": "Target volume details for data store containers. Deprecated: Use volumeTarget.targetDataStore instead",
            "com.distilled.openapi#nullable": {}
          }
        },
        "volumeSource": {
          "target": "com.ovh.cloud#CloudProjectAiVolumeVolumeSource",
          "traits": {
            "smithy.api#documentation": "Source volume details",
            "com.distilled.openapi#nullable": {}
          }
        },
        "volumeTarget": {
          "target": "com.ovh.cloud#CloudProjectAiVolumeVolumeTarget",
          "traits": {
            "smithy.api#documentation": "Target volume details",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AI Solutions Volume Object"
      }
    },
    "com.ovh.cloud#CloudProjectAiVolumeDataStore": {
      "type": "structure",
      "members": {
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Data store alias",
            "smithy.api#required": {}
          }
        },
        "archive": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the tar archive that needs to be saved",
            "com.distilled.openapi#nullable": {}
          }
        },
        "container": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Data store container to attach",
            "smithy.api#required": {}
          }
        },
        "internal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if data is stored on OVHcloud AI's internal storage",
            "com.distilled.openapi#nullable": {}
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prefix to fetch only part of the volume",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AI Solutions data store container Volume Object"
      }
    },
    "com.ovh.cloud#CloudProjectAiVolumePermissionEnum": {
      "type": "enum",
      "members": {
        "RO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RO"
          }
        },
        "RW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RW"
          }
        },
        "RWD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RWD"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Permissions to apply on a volume"
      }
    },
    "com.ovh.cloud#CloudProjectAiVolumePublicGit": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the public git repository",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AI Solutions public Git repository Volume Object"
      }
    },
    "com.ovh.cloud#CloudProjectAiVolumePublicSwift": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the public swift container",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AI Solutions public Swift container Volume Object"
      }
    },
    "com.ovh.cloud#CloudProjectAiVolumeStandalone": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the volume",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AI Solutions No Source Volume Object"
      }
    },
    "com.ovh.cloud#CloudProjectAiVolumeVolumeSource": {
      "type": "structure",
      "members": {
        "dataStore": {
          "target": "com.ovh.cloud#CloudProjectAiVolumeDataStore",
          "traits": {
            "smithy.api#documentation": "Volume details for data store containers",
            "com.distilled.openapi#nullable": {}
          }
        },
        "publicGit": {
          "target": "com.ovh.cloud#CloudProjectAiVolumePublicGit",
          "traits": {
            "smithy.api#documentation": "Volume details for public git repositories",
            "com.distilled.openapi#nullable": {}
          }
        },
        "publicSwift": {
          "target": "com.ovh.cloud#CloudProjectAiVolumePublicSwift",
          "traits": {
            "smithy.api#documentation": "Volume details for public swift containers",
            "com.distilled.openapi#nullable": {}
          }
        },
        "standalone": {
          "target": "com.ovh.cloud#CloudProjectAiVolumeStandalone",
          "traits": {
            "smithy.api#documentation": "Volume details for volumes that do not have a datasource",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AI Solutions VolumeSource Object. Describes a source (object store) volume"
      }
    },
    "com.ovh.cloud#CloudProjectAiVolumeVolumeTarget": {
      "type": "structure",
      "members": {
        "targetDataStore": {
          "target": "com.ovh.cloud#CloudProjectAiVolumeDataStore",
          "traits": {
            "smithy.api#documentation": "Volume details for data store containers",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AI Solutions VolumeTarget Object. Describes a target (object store) volume"
      }
    },
    "com.ovh.cloud#CloudProjectAiAppAppSpecVolumesList": {
      "type": "list",
      "member": {
        "target": "com.ovh.cloud#CloudProjectAiVolumeVolume"
      },
      "traits": {
        "smithy.api#documentation": "App Data linked"
      }
    },
    "com.ovh.cloud#CloudProjectAiAppAppStatus": {
      "type": "structure",
      "members": {
        "availableReplicas": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of available replicas"
          }
        },
        "dataSync": {
          "target": "com.ovh.cloud#CloudProjectAiAppAppStatusDataSyncList",
          "traits": {
            "smithy.api#documentation": "Status about the datasync linked to the app"
          }
        },
        "grpcAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address to reach when you want to access the App's gRPC services",
            "com.distilled.openapi#nullable": {}
          }
        },
        "history": {
          "target": "com.ovh.cloud#CloudProjectAiAppAppStatusHistoryList",
          "traits": {
            "smithy.api#documentation": "Job state history"
          }
        },
        "info": {
          "target": "com.ovh.cloud#CloudProjectAiInfo",
          "traits": {
            "smithy.api#documentation": "Information about the app"
          }
        },
        "infoUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "App info url",
            "com.distilled.openapi#nullable": {}
          }
        },
        "internalServiceIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Internal IP address of the app service",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lastTransitionDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of the last app state change",
            "com.distilled.openapi#nullable": {}
          }
        },
        "monitoringUrl": {
          "target": "smithy.api#String",
          "traits": {
[...]
