{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.ovh.domain#IamResourceTagFilterInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Resource tag filter"
      }
    },
    "com.ovh.domain#GetDomainsRequestIamTagsValueList": {
      "type": "list",
      "member": {
        "target": "com.ovh.domain#IamResourceTagFilterInput"
      },
      "traits": {}
    },
    "com.ovh.domain#GetDomainsRequestIamTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.ovh.domain#GetDomainsRequestIamTagsValueList"
      },
      "traits": {}
    },
    "com.ovh.domain#GetDomainsRequest": {
      "type": "structure",
      "members": {
        "iamTags": {
          "target": "com.ovh.domain#GetDomainsRequestIamTagsMap",
          "traits": {
            "smithy.api#httpQuery": "iamTags",
            "smithy.api#documentation": "Filter resources on IAM tags"
          }
        },
        "whoisOwner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "whoisOwner",
            "smithy.api#documentation": "Filter domain names by owner ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.domain#GetDomainsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.domain#GetDomainsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.domain#GetDomainsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.domain#GetDomains": {
      "type": "operation",
      "input": {
        "target": "com.ovh.domain#GetDomainsRequest"
      },
      "output": {
        "target": "com.ovh.domain#GetDomainsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/domain",
          "code": 200
        },
        "smithy.api#documentation": "Get the list of managed domain names"
      }
    },
    "com.ovh.domain#DomainActionEnum": {
      "type": "enum",
      "members": {
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create"
          }
        },
        "TRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trade"
          }
        },
        "TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transfer"
          }
        },
        "UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "update"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An action to execute on a domain name"
      }
    },
    "com.ovh.domain#GetDomainConfigurationRuleRequest": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.ovh.domain#DomainActionEnum",
          "traits": {
            "smithy.api#httpQuery": "action",
            "smithy.api#required": {},
            "smithy.api#documentation": "Depending on the action, the applied rule will change (transfer vs create)"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "domain",
            "smithy.api#required": {},
            "smithy.api#documentation": "The domain to get the configuration rule for"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.domain#DomainConfigurationRulesRule": {
      "type": "structure",
      "members": {
        "and": {
          "target": "com.ovh.domain#DomainConfigurationRulesRuleAndList",
          "traits": {
            "smithy.api#documentation": "An \"and\" operator on multiple rules",
            "com.distilled.openapi#nullable": {}
          }
        },
        "conditions": {
          "target": "com.ovh.domain#DomainConfigurationRulesRule",
          "traits": {
            "smithy.api#documentation": "Whether this rule is applied or not",
            "com.distilled.openapi#nullable": {}
          }
        },
        "constraints": {
          "target": "com.ovh.domain#DomainConfigurationRulesRuleConstraintsList",
          "traits": {
            "smithy.api#documentation": "The constraints of the rule",
            "com.distilled.openapi#nullable": {}
          }
        },
        "contexts": {
          "target": "com.ovh.domain#DomainConfigurationRulesRuleContextsList",
          "traits": {
            "smithy.api#documentation": "The context on which the rule applies",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the rule",
            "com.distilled.openapi#nullable": {}
          }
        },
        "fields": {
          "target": "com.ovh.domain#DomainConfigurationRulesRule",
          "traits": {
            "smithy.api#documentation": "The fields with specific rules",
            "com.distilled.openapi#nullable": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The label of the rule",
            "com.distilled.openapi#nullable": {}
          }
        },
        "or": {
          "target": "com.ovh.domain#DomainConfigurationRulesRuleOrList",
          "traits": {
            "smithy.api#documentation": "An \"or\" operator on multiple rules",
            "com.distilled.openapi#nullable": {}
          }
        },
        "placeholder": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default value used for the rule",
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.ovh.domain#DomainConfigurationRulesTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the object the rule applies on",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A configuration rule defines validation to launch when executing an action on a domain (create, trade...). Depending on the extension, the rule may be different"
      }
    },
    "com.ovh.domain#DomainConfigurationRulesRuleAndList": {
      "type": "list",
      "member": {
        "target": "com.ovh.domain#DomainConfigurationRulesRule"
      },
      "traits": {
        "smithy.api#documentation": "An \"and\" operator on multiple rules"
      }
    },
    "com.ovh.domain#DomainConfigurationRulesConstraint": {
      "type": "structure",
      "members": {
        "conditions": {
          "target": "com.ovh.domain#DomainConfigurationRulesRule",
          "traits": {
            "smithy.api#documentation": "Whether this constraint is applied or not",
            "com.distilled.openapi#nullable": {}
          }
        },
        "contexts": {
          "target": "com.ovh.domain#DomainConfigurationRulesConstraintContextsList",
          "traits": {
            "smithy.api#documentation": "The context on which the constraint applies",
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.ovh.domain#DomainConfigurationRulesOperatorEnum",
          "traits": {
            "smithy.api#documentation": "The operator of the constraint",
            "com.distilled.openapi#nullable": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value to match against",
            "com.distilled.openapi#nullable": {}
          }
        },
        "values": {
          "target": "com.ovh.domain#DomainConfigurationRulesConstraintValuesList",
          "traits": {
            "smithy.api#documentation": "The values to match against",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A configuration rule defines validation to launch when executing an action on a domain (create, trade...). Depending on the extension, the rule may be different"
      }
    },
    "com.ovh.domain#DomainConfigurationRulesContextEnum": {
      "type": "enum",
      "members": {
        "ACCEPT_CONDITIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept_conditions"
          }
        },
        "CLAIMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "claims"
          }
        },
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create"
          }
        },
        "ORDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "order"
          }
        },
        "PREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "premium"
          }
        },
        "PROTECTED_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "protected_code"
          }
        },
        "REASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reason"
          }
        },
        "TRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trade"
          }
        },
        "TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transfer"
          }
        },
        "UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "update"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Used in rule to tell if rule (or part of the rule) is applicable for a given context"
      }
    },
    "com.ovh.domain#DomainConfigurationRulesConstraintContextsList": {
      "type": "list",
      "member": {
        "target": "com.ovh.domain#DomainConfigurationRulesContextEnum"
      },
      "traits": {
        "smithy.api#documentation": "The context on which the constraint applies"
      }
    },
    "com.ovh.domain#DomainConfigurationRulesOperatorEnum": {
      "type": "enum",
      "members": {
        "BETWEEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "between"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contains"
          }
        },
        "EMPTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "empty"
          }
        },
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eq"
          }
        },
        "GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gt"
          }
        },
        "GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gte"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lt"
          }
        },
        "LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lte"
          }
        },
        "MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "match"
          }
        },
        "MAXLENGTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "maxlength"
          }
        },
        "MINLENGTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "minlength"
          }
        },
        "NE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ne"
          }
        },
        "NOTCONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "notcontains"
          }
        },
        "NOTEMPTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "notempty"
          }
        },
        "READONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "readonly"
          }
        },
        "REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "required"
          }
        },
        "SHOULDBETRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shouldbetrue"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Operator use in configuration rule to check content of a field"
      }
    },
    "com.ovh.domain#DomainConfigurationRulesConstraintValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The values to match against"
      }
    },
    "com.ovh.domain#DomainConfigurationRulesRuleConstraintsList": {
      "type": "list",
      "member": {
        "target": "com.ovh.domain#DomainConfigurationRulesConstraint"
      },
      "traits": {
        "smithy.api#documentation": "The constraints of the rule"
      }
    },
    "com.ovh.domain#DomainConfigurationRulesRuleContextsList": {
      "type": "list",
      "member": {
        "target": "com.ovh.domain#DomainConfigurationRulesContextEnum"
      },
      "traits": {
        "smithy.api#documentation": "The context on which the rule applies"
      }
    },
    "com.ovh.domain#DomainConfigurationRulesRuleOrList": {
      "type": "list",
      "member": {
        "target": "com.ovh.domain#DomainConfigurationRulesRule"
      },
      "traits": {
        "smithy.api#documentation": "An \"or\" operator on multiple rules"
      }
    },
    "com.ovh.domain#DomainConfigurationRulesTypeEnum": {
      "type": "enum",
      "members": {
        "BOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bool"
          }
        },
        "CONTACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contact"
          }
        },
        "DATE_ISO8601": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "date_ISO8601"
          }
        },
        "DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        },
        "STRING_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string[]"
          }
        },
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of rule configuration"
      }
    },
    "com.ovh.domain#GetDomainConfigurationRule": {
      "type": "operation",
      "input": {
        "target": "com.ovh.domain#GetDomainConfigurationRuleRequest"
      },
      "output": {
        "target": "com.ovh.domain#DomainConfigurationRulesRule"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/domain/configurationRule",
          "code": 200
        },
        "smithy.api#documentation": "Get configuration rule applied for a domain in a given action"
      }
    },
    "com.ovh.domain#NichandleNichandleInput": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address of nichandle",
            "com.distilled.openapi#nullable": {}
          }
        },
        "area": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Area of nichandle",
            "com.distilled.openapi#nullable": {}
          }
        },
        "birthCity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "City of birth",
            "com.distilled.openapi#nullable": {}
          }
        },
        "birthDay": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Birth date",
            "com.distilled.openapi#nullable": {}
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "City of nichandle",
            "com.distilled.openapi#nullable": {}
          }
        },
        "companyNationalIdentificationNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Company National Identification Number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "complementaryAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complementary Address",
            "com.distilled.openapi#nullable": {}
          }
        },
        "corporationType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Corporation type",
            "com.distilled.openapi#nullable": {}
          }
        },
        "country": {
          "target": "com.ovh.domain#NichandleCountryEnum",
          "traits": {
            "smithy.api#documentation": "Customer country"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name shown instead of the organisation name.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "fax": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fax number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "firstname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "First name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "italianSDI": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Italian SDI",
            "com.distilled.openapi#nullable": {}
          }
        },
        "language": {
          "target": "com.ovh.domain#NichandleLanguageEnum",
          "traits": {
            "smithy.api#documentation": "Language",
            "com.distilled.openapi#nullable": {}
          }
        },
        "legalform": {
          "target": "com.ovh.domain#NichandleLegalFormEnum",
          "traits": {
            "smithy.api#documentation": "Customer legal form"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "nationalIdentificationNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "National Identification Number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organisation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of organisation",
            "com.distilled.openapi#nullable": {}
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Phone number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "phoneCountry": {
          "target": "com.ovh.domain#NichandleCountryEnum",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "phoneType": {
          "target": "com.ovh.domain#NichandlePhoneTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of phone(mobile, landline)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "purposeOfPurchase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer purpose of purchase",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sex": {
          "target": "com.ovh.domain#NichandleGenderEnum",
          "traits": {
            "smithy.api#documentation": "Gender",
            "com.distilled.openapi#nullable": {}
          }
        },
        "spareEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Spare email",
            "com.distilled.openapi#nullable": {}
          }
        },
        "vat": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "VAT number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "zip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zipcode",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about your OVH identifier"
      }
    },
    "com.ovh.domain#NichandleCountryEnum": {
      "type": "enum",
      "members": {
        "AC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AC"
          }
        },
        "AD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD"
          }
        },
        "AE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AE"
          }
        },
        "AF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AF"
          }
        },
        "AG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AG"
          }
        },
        "AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AI"
          }
        },
        "AL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AL"
          }
        },
        "AM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AM"
          }
        },
        "AO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AO"
          }
        },
        "AQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AQ"
          }
        },
        "AR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AR"
          }
        },
        "AS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AS"
          }
        },
        "AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AT"
          }
        },
        "AU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AU"
          }
        },
        "AW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AW"
          }
        },
        "AX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AX"
          }
        },
        "AZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZ"
          }
        },
        "BA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BA"
          }
        },
        "BB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BB"
          }
        },
        "BD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BD"
          }
        },
        "BE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BE"
          }
        },
        "BF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BF"
          }
        },
        "BG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BG"
          }
        },
        "BH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BH"
          }
        },
        "BI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BI"
          }
        },
        "BJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BJ"
          }
        },
        "BL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BL"
          }
        },
        "BM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BM"
          }
        },
        "BN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BN"
          }
        },
        "BO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BO"
          }
        },
        "BQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BQ"
          }
        },
        "BR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BR"
          }
        },
        "BS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BS"
          }
        },
        "BT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BT"
          }
        },
        "BW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BW"
          }
        },
        "BY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BY"
          }
        },
        "BZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BZ"
          }
        },
        "CA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CA"
          }
        },
        "CC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CC"
          }
        },
        "CD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CD"
          }
        },
        "CF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CF"
          }
        },
        "CG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CG"
          }
        },
        "CH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CH"
          }
        },
        "CI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CI"
          }
        },
        "CK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CK"
          }
        },
        "CL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CL"
          }
        },
        "CM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CM"
          }
        },
        "CN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CN"
          }
        },
        "CO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CO"
          }
        },
        "CR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CR"
          }
        },
        "CU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CU"
          }
        },
        "CV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CV"
          }
        },
        "CW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CW"
          }
        },
        "CX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CX"
          }
        },
        "CY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CY"
          }
        },
        "CZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CZ"
          }
        },
        "DE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DE"
          }
        },
        "DG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DG"
          }
        },
        "DJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DJ"
          }
        },
        "DK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DK"
          }
        },
        "DM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DM"
          }
        },
        "DO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DO"
          }
        },
        "DZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DZ"
          }
        },
        "EA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EA"
          }
        },
        "EC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC"
          }
        },
        "EE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EE"
          }
        },
        "EG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EG"
          }
        },
        "EH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EH"
          }
        },
        "ER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ER"
          }
        },
        "ES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ES"
          }
        },
        "ET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ET"
          }
        },
        "FI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FI"
          }
        },
        "FJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FJ"
          }
        },
        "FK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FK"
          }
        },
        "FM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FM"
          }
        },
        "FO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FO"
          }
        },
        "FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FR"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GA"
          }
        },
        "GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GB"
          }
        },
        "GD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GD"
          }
        },
        "GE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GE"
          }
        },
        "GF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GF"
          }
        },
        "GG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GG"
          }
        },
        "GH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GH"
          }
        },
        "GI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GI"
          }
        },
        "GL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GL"
          }
        },
        "GM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GM"
          }
        },
        "GN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GN"
          }
        },
        "GP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GP"
          }
        },
        "GQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GQ"
          }
        },
        "GR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GR"
          }
        },
        "GS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GS"
          }
        },
        "GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GT"
          }
        },
        "GU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GU"
          }
        },
        "GW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GW"
          }
        },
        "GY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GY"
          }
        },
        "HK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HK"
          }
        },
        "HN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HN"
          }
        },
        "HR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HR"
          }
        },
        "HT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HT"
          }
        },
        "HU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HU"
          }
        },
        "IC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IC"
          }
        },
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ID"
          }
        },
        "IE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IE"
          }
        },
        "IL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IL"
          }
        },
        "IM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IM"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN"
          }
        },
        "IO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IO"
          }
        },
        "IQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IQ"
          }
        },
        "IR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IR"
          }
        },
        "IS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IS"
          }
        },
        "IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IT"
          }
        },
        "JE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JE"
          }
        },
        "JM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JM"
          }
        },
        "JO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JO"
          }
        },
        "JP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JP"
          }
        },
        "KE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KE"
          }
        },
        "KG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KG"
          }
        },
        "KH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KH"
          }
        },
        "KI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KI"
          }
        },
        "KM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KM"
          }
        },
        "KN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KN"
          }
        },
        "KP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KP"
          }
        },
        "KR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KR"
          }
        },
        "KW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KW"
          }
        },
        "KY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KY"
          }
        },
        "KZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KZ"
          }
        },
        "LA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LA"
          }
        },
        "LB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LB"
          }
        },
        "LC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LC"
          }
        },
        "LI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LI"
          }
        },
        "LK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LK"
          }
        },
        "LR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LR"
          }
        },
        "LS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LS"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LT"
          }
        },
        "LU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LU"
          }
        },
        "LV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LV"
          }
        },
        "LY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LY"
          }
        },
        "MA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MA"
          }
        },
        "MC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MC"
          }
        },
        "MD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MD"
          }
        },
        "ME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ME"
          }
        },
        "MF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MF"
          }
        },
        "MG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MG"
          }
        },
        "MH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MH"
          }
        },
        "MK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MK"
          }
        },
        "ML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ML"
          }
        },
        "MM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MM"
          }
        },
        "MN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MN"
          }
        },
        "MO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MO"
          }
        },
        "MP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MP"
          }
        },
        "MQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MQ"
          }
        },
        "MR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MR"
          }
        },
        "MS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MS"
          }
        },
        "MT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MT"
          }
        },
        "MU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MU"
          }
        },
        "MV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MV"
          }
        },
        "MW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MW"
          }
        },
        "MX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MX"
          }
        },
        "MY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MY"
          }
        },
        "MZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MZ"
          }
        },
        "NA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NA"
          }
        },
        "NC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NC"
          }
        },
        "NE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NE"
          }
        },
        "NF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NF"
          }
        },
        "NG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NG"
          }
        },
        "NI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NI"
          }
        },
        "NL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NL"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO"
          }
        },
        "NP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NP"
          }
        },
        "NR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NR"
          }
        },
        "NU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NU"
          }
        },
        "NZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NZ"
          }
        },
        "OM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OM"
          }
        },
        "PA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PA"
          }
        },
        "PE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PE"
          }
        },
        "PF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PF"
          }
        },
        "PG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PG"
          }
        },
        "PH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PH"
          }
        },
        "PK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PK"
          }
        },
        "PL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PL"
          }
        },
        "PM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PM"
          }
        },
        "PN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PN"
          }
        },
        "PR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PR"
          }
        },
        "PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PS"
          }
        },
        "PT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT"
          }
        },
        "PW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PW"
          }
        },
        "PY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PY"
          }
        },
        "QA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QA"
          }
        },
        "RE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RE"
          }
        },
        "RO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RO"
          }
        },
        "RS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RS"
          }
        },
        "RU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RU"
          }
        },
        "RW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RW"
          }
        },
        "SA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SA"
          }
        },
        "SB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SB"
          }
        },
        "SC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SC"
          }
        },
        "SD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SD"
          }
        },
        "SE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SE"
          }
        },
        "SG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SG"
          }
        },
        "SH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SH"
          }
        },
        "SI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SI"
          }
        },
        "SJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SJ"
          }
        },
        "SK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SK"
          }
        },
        "SL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SL"
          }
        },
        "SM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SM"
          }
        },
        "SN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SN"
          }
        },
        "SO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SO"
          }
        },
        "SR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SR"
          }
        },
        "SS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SS"
          }
        },
        "ST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ST"
          }
        },
        "SV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SV"
          }
        },
        "SX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SX"
          }
        },
        "SY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SY"
          }
        },
        "SZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SZ"
          }
        },
        "TA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TA"
          }
        },
        "TC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TC"
          }
        },
        "TD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TD"
          }
        },
        "TF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TF"
          }
        },
        "TG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TG"
          }
        },
        "TH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TH"
          }
        },
        "TJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TJ"
          }
        },
        "TK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TK"
          }
        },
        "TL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TL"
          }
        },
        "TM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TM"
          }
        },
        "TN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TN"
          }
        },
        "TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TO"
          }
        },
        "TR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TR"
          }
        },
        "TT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TT"
          }
        },
        "TV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TV"
          }
        },
        "TW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TW"
          }
        },
        "TZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TZ"
          }
        },
        "UA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UA"
          }
        },
        "UG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UG"
          }
        },
        "UM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UM"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "US"
          }
        },
        "UY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UY"
          }
        },
        "UZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UZ"
          }
        },
        "VA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VA"
          }
        },
        "VC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VC"
          }
        },
        "VE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VE"
          }
        },
        "VG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VG"
          }
        },
        "VI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VI"
          }
        },
        "VN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VN"
          }
        },
        "VU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VU"
          }
        },
        "WF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WF"
          }
        },
        "WS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WS"
          }
        },
        "XK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XK"
          }
        },
        "YE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YE"
          }
        },
        "YT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YT"
          }
        },
        "ZA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZA"
          }
        },
        "ZM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZM"
          }
        },
        "ZW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZW"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Countries a nichandle can choose"
      }
    },
    "com.ovh.domain#NichandleLanguageEnum": {
      "type": "enum",
      "members": {
        "CS_CZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cs_CZ"
          }
        },
        "DE_DE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "de_DE"
          }
        },
        "EN_AU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "en_AU"
          }
        },
        "EN_CA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "en_CA"
          }
        },
        "EN_GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "en_GB"
          }
        },
        "EN_IE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "en_IE"
          }
        },
        "EN_US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "en_US"
          }
        },
        "ES_ES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "es_ES"
          }
        },
        "FI_FI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fi_FI"
          }
        },
        "FR_CA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fr_CA"
          }
        },
        "FR_FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fr_FR"
          }
        },
        "FR_MA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fr_MA"
          }
        },
        "FR_SN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fr_SN"
          }
        },
        "FR_TN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fr_TN"
          }
        },
        "IT_IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "it_IT"
          }
        },
        "LT_LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lt_LT"
          }
        },
        "NL_NL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nl_NL"
          }
        },
        "PL_PL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pl_PL"
          }
        },
        "PT_PT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pt_PT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Languages a nichandle can choose"
      }
    },
    "com.ovh.domain#NichandleLegalFormEnum": {
      "type": "enum",
      "members": {
        "ADMINISTRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "administration"
          }
        },
        "ASSOCIATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "association"
          }
        },
        "CORPORATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "corporation"
          }
        },
        "INDIVIDUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "individual"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        },
        "PERSONALCORPORATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "personalcorporation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Legal forms a nichandle can be registered as"
      }
    },
    "com.ovh.domain#NichandlePhoneTypeEnum": {
      "type": "enum",
      "members": {
        "LANDLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "landline"
          }
        },
        "MOBILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mobile"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All phone type a person can choose"
      }
    },
    "com.ovh.domain#NichandleGenderEnum": {
      "type": "enum",
      "members": {
        "FEMALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "female"
          }
        },
        "MALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "male"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All genders a person can choose"
      }
    },
    "com.ovh.domain#DomainData": {
      "type": "structure",
      "members": {
        "audience": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain name audience",
            "com.distilled.openapi#nullable": {}
          }
        },
        "authInfo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Auth Info",
            "com.distilled.openapi#nullable": {}
          }
        },
        "isFor": {
          "target": "com.ovh.domain#DomainDataIsForList",
          "traits": {
            "smithy.api#documentation": "Purposes of the domain",
            "com.distilled.openapi#nullable": {}
          }
        },
        "otherPurpose": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain name other purpose",
            "com.distilled.openapi#nullable": {}
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason of the purchase of this domain",
            "com.distilled.openapi#nullable": {}
          }
        },
        "represent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represented company",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A domain data"
      }
    },
    "com.ovh.domain#DomainIsForEnum": {
      "type": "enum",
      "members": {
        "CAMPAIGN_WEBSITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "campaign_website"
          }
        },
        "EDUCATIONAL_WEBSITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "educational_website"
          }
        },
        "EMAILS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "emails"
          }
        },
        "INFORMATION_WEBSITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "information_website"
          }
        },
        "OTHER_PURPOSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other_purpose"
          }
        },
        "REDIRECT_PAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redirect_page"
          }
        },
        "TRANSACTIONAL_WEBSITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transactional_website"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible purposes of the domain"
      }
    },
    "com.ovh.domain#DomainDataIsForList": {
      "type": "list",
      "member": {
        "target": "com.ovh.domain#DomainIsForEnum"
      },
      "traits": {
        "smithy.api#documentation": "Purposes of the domain"
      }
    },
    "com.ovh.domain#DomainConfigurationRulesRuleExtraData": {
      "type": "structure",
      "members": {
        "acceptCondition": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether you accept the domain specific conditions or not",
            "com.distilled.openapi#nullable": {}
          }
        },
        "authInfo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The auth info code for the domain",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The extra data contain additional rule data fields"
      }
    },
    "com.ovh.domain#DomainContactInput": {
      "type": "structure",
      "members": {
        "accreditationCountry": {
          "target": "com.ovh.domain#NichandleCountryEnum",
          "traits": {
            "smithy.api#documentation": "Country of lawyer accreditation",
            "com.distilled.openapi#nullable": {}
          }
        },
        "accreditationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Lawyer accreditation number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "accreditationOrganism": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organism of lawyer accreditation",
            "com.distilled.openapi#nullable": {}
          }
        },
        "accreditationYear": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of lawyer accreditation",
            "com.distilled.openapi#nullable": {}
          }
        },
        "address": {
          "target": "com.ovh.domain#DomainContactAddress",
          "traits": {
            "smithy.api#documentation": "The address of the contact",
            "com.distilled.openapi#nullable": {}
          }
        },
        "birthCity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "City of birth",
            "com.distilled.openapi#nullable": {}
          }
        },
        "birthCountry": {
          "target": "com.ovh.domain#NichandleCountryEnum",
          "traits": {
            "smithy.api#documentation": "Birth Country",
            "com.distilled.openapi#nullable": {}
          }
        },
        "birthDay": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Birth date",
            "com.distilled.openapi#nullable": {}
          }
        },
        "birthZip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Birth Zipcode",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cellPhone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cellphone number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "companyNationalIdentificationNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Company National Identification Number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address",
            "com.distilled.openapi#nullable": {}
          }
        },
        "enterpriseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Enterprise identifier",
            "com.distilled.openapi#nullable": {}
          }
        },
        "fax": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fax number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "firstName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "First name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "gender": {
          "target": "com.ovh.domain#NichandleGenderEnum",
          "traits": {
            "smithy.api#documentation": "Gender",
            "com.distilled.openapi#nullable": {}
          }
        },
        "insee": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "INSEE identifier",
            "com.distilled.openapi#nullable": {}
          }
        },
        "language": {
          "target": "com.ovh.domain#NichandleLanguageEnum",
          "traits": {
            "smithy.api#documentation": "Language",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lastName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "legalForm": {
          "target": "com.ovh.domain#NichandleLegalFormEnum",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "legalFormCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "category of legalForm",
            "com.distilled.openapi#nullable": {}
          }
        },
        "nationalIdentificationNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "National Identification Number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "nationality": {
          "target": "com.ovh.domain#NichandleCountryEnum",
          "traits": {
            "smithy.api#documentation": "Nationality",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organisationAccountable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "To whom is the organisation accountable",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organisationFunding": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What is the source of funding",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organisationFundingOther": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Explain the source of funding if organisationFunding is other",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organisationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of organisation",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organisationRole": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role of your organisation",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organisationRoleOther": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Explain the role of your organisation if organisationRole is other",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organisationStaffStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the staff",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organisationStaffStatusOther": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Explain the status of the staff if organisationStaffStatus is other",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organisationType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "type of organisation",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organisationTypeOther": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Explain the type of organisation if organisationType is other",
            "com.distilled.openapi#nullable": {}
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Phone number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "registrantDocumentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of registrant document",
            "com.distilled.openapi#nullable": {}
          }
        },
        "registrantDocumentTypeOther": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Explain the type of registrant document if registrantDocumentType is other",
            "com.distilled.openapi#nullable": {}
          }
        },
        "roleInOrganisation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The role in the organisation",
            "com.distilled.openapi#nullable": {}
          }
        },
        "trademarkId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trademark related to the contact",
            "com.distilled.openapi#nullable": {}
          }
        },
        "vat": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "VAT number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "website": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Website",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A contact contains the personal data of a user"
      }
    },
    "com.ovh.domain#DomainContactAddress": {
      "type": "structure",
      "members": {
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "City",
            "com.distilled.openapi#nullable": {}
          }
        },
        "country": {
          "target": "com.ovh.domain#NichandleCountryEnum",
          "traits": {
            "smithy.api#documentation": "Country",
            "com.distilled.openapi#nullable": {}
          }
        },
        "line1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address line 1",
            "com.distilled.openapi#nullable": {}
          }
        },
        "line2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address line 2",
            "com.distilled.openapi#nullable": {}
          }
        },
        "line3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address line 3",
            "com.distilled.openapi#nullable": {}
          }
        },
        "otherDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Others details",
            "com.distilled.openapi#nullable": {}
          }
        },
        "province": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Province",
            "com.distilled.openapi#nullable": {}
          }
        },
        "zip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zip code",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Missing description"
      }
    },
    "com.ovh.domain#PostDomainConfigurationRuleCheckRequest": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.ovh.domain#DomainActionEnum",
          "traits": {
            "smithy.api#httpQuery": "action",
            "smithy.api#required": {},
            "smithy.api#documentation": "Depending on the action, the applied rule will change (transfer vs create)"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "domain",
            "smithy.api#required": {},
            "smithy.api#documentation": "The domain to check the rule data for"
          }
        },
        "adminAccount": {
          "target": "com.ovh.domain#NichandleNichandleInput",
          "traits": {
            "smithy.api#documentation": "The admin contact data",
            "com.distilled.openapi#nullable": {}
          }
        },
        "extras": {
          "target": "com.ovh.domain#DomainConfigurationRulesRuleExtraData",
          "traits": {
            "smithy.api#documentation": "The extra data of the rule",
            "com.distilled.openapi#nullable": {}
          }
        },
        "owner": {
          "target": "com.ovh.domain#DomainContactInput",
          "traits": {
            "smithy.api#documentation": "The owner contact data",
            "com.distilled.openapi#nullable": {}
          }
        },
        "techAccount": {
          "target": "com.ovh.domain#NichandleNichandleInput",
          "traits": {
            "smithy.api#documentation": "The tech contact data",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.domain#PostDomainConfigurationRuleCheck": {
      "type": "operation",
      "input": {
        "target": "com.ovh.domain#PostDomainConfigurationRuleCheckRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domain/configurationRule/check",
          "code": 200
        },
        "smithy.api#documentation": "Validate a rule data for a specified domain"
      }
    },
    "com.ovh.domain#DomainContact": {
      "type": "structure",
      "members": {
        "accreditationCountry": {
          "target": "com.ovh.domain#NichandleCountryEnum",
          "traits": {
            "smithy.api#documentation": "Country of lawyer accreditation",
            "com.distilled.openapi#nullable": {}
          }
        },
        "accreditationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Lawyer accreditation number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "accreditationOrganism": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organism of lawyer accreditation",
            "com.distilled.openapi#nullable": {}
          }
        },
        "accreditationYear": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of lawyer accreditation",
            "com.distilled.openapi#nullable": {}
          }
        },
        "address": {
          "target": "com.ovh.domain#DomainContactAddress",
          "traits": {
            "smithy.api#documentation": "The address of the contact",
            "com.distilled.openapi#nullable": {}
          }
        },
        "birthCity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "City of birth",
            "com.distilled.openapi#nullable": {}
          }
        },
        "birthCountry": {
          "target": "com.ovh.domain#NichandleCountryEnum",
          "traits": {
            "smithy.api#documentation": "Birth Country",
            "com.distilled.openapi#nullable": {}
          }
        },
        "birthDay": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Birth date",
            "com.distilled.openapi#nullable": {}
          }
        },
        "birthZip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Birth Zipcode",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cellPhone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cellphone number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "companyNationalIdentificationNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Company National Identification Number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address",
            "com.distilled.openapi#nullable": {}
          }
        },
        "enterpriseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Enterprise identifier",
            "com.distilled.openapi#nullable": {}
          }
        },
        "fax": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fax number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "firstName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "First name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "gender": {
          "target": "com.ovh.domain#NichandleGenderEnum",
          "traits": {
            "smithy.api#documentation": "Gender",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier"
          }
        },
        "insee": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "INSEE identifier",
            "com.distilled.openapi#nullable": {}
          }
        },
        "language": {
          "target": "com.ovh.domain#NichandleLanguageEnum",
          "traits": {
            "smithy.api#documentation": "Language",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lastName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "legalForm": {
          "target": "com.ovh.domain#NichandleLegalFormEnum",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "legalFormCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "category of legalForm",
            "com.distilled.openapi#nullable": {}
          }
        },
        "nationalIdentificationNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "National Identification Number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "nationality": {
          "target": "com.ovh.domain#NichandleCountryEnum",
          "traits": {
            "smithy.api#documentation": "Nationality",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organisationAccountable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "To whom is the organisation accountable",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organisationFunding": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What is the source of funding",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organisationFundingOther": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Explain the source of funding if organisationFunding is other",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organisationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of organisation",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organisationRole": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role of your organisation",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organisationRoleOther": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Explain the role of your organisation if organisationRole is other",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organisationStaffStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the staff",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organisationStaffStatusOther": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Explain the status of the staff if organisationStaffStatus is other",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organisationType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "type of organisation",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organisationTypeOther": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Explain the type of organisation if organisationType is other",
            "com.distilled.openapi#nullable": {}
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Phone number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "registrantDocumentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of registrant document",
            "com.distilled.openapi#nullable": {}
          }
        },
        "registrantDocumentTypeOther": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Explain the type of registrant document if registrantDocumentType is other",
            "com.distilled.openapi#nullable": {}
          }
        },
        "roleInOrganisation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The role in the organisation",
            "com.distilled.openapi#nullable": {}
          }
        },
        "trademarkId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trademark related to the contact",
            "com.distilled.openapi#nullable": {}
          }
        },
        "vat": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "VAT number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "website": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Website",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A contact contains the personal data of a user"
      }
    },
    "com.ovh.domain#GetContactsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.domain#DomainContact"
      },
      "traits": {}
    },
    "com.ovh.domain#GetContactsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.domain#GetContactsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.domain#GetContacts": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.ovh.domain#GetContactsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/domain/contact",
          "code": 200
        },
        "smithy.api#documentation": "List all contacts"
      }
    },
    "com.ovh.domain#CreateContactRequest": {
      "type": "structure",
      "members": {
        "accreditationCountry": {
          "target": "com.ovh.domain#NichandleCountryEnum",
          "traits": {
            "smithy.api#documentation": "Country of lawyer accreditation",
            "com.distilled.openapi#nullable": {}
          }
        },
        "accreditationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Lawyer accreditation number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "accreditationOrganism": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organism of lawyer accreditation",
            "com.distilled.openapi#nullable": {}
          }
        },
        "accreditationYear": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of lawyer accreditation",
            "com.distilled.openapi#nullable": {}
          }
        },
        "address": {
          "target": "com.ovh.domain#DomainContactAddress",
          "traits": {
            "smithy.api#documentation": "The address of the contact",
            "com.distilled.openapi#nullable": {}
          }
        },
        "birthCity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "City of birth",
            "com.distilled.openapi#nullable": {}
          }
        },
        "birthCountry": {
          "target": "com.ovh.domain#NichandleCountryEnum",
          "traits": {
            "smithy.api#documentation": "Birth Country",
            "com.distilled.openapi#nullable": {}
          }
        },
        "birthDay": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Birth date",
            "com.distilled.openapi#nullable": {}
          }
        },
        "birthZip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Birth Zipcode",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cellPhone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cellphone number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "companyNationalIdentificationNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Company National Identification Number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address",
            "com.distilled.openapi#nullable": {}
          }
        },
        "enterpriseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Enterprise identifier",
            "com.distilled.openapi#nullable": {}
          }
        },
        "fax": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fax number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "firstName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "First name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "gender": {
          "target": "com.ovh.domain#NichandleGenderEnum",
          "traits": {
            "smithy.api#documentation": "Gender",
            "com.distilled.openapi#nullable": {}
          }
        },
        "insee": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "INSEE identifier",
            "com.distilled.openapi#nullable": {}
          }
        },
        "language": {
          "target": "com.ovh.domain#NichandleLanguageEnum",
          "traits": {
            "smithy.api#documentation": "Language",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lastName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "legalForm": {
          "target": "com.ovh.domain#NichandleLegalFormEnum",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "legalFormCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "category of legalForm",
            "com.distilled.openapi#nullable": {}
          }
        },
        "nationalIdentificationNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "National Identification Number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "nationality": {
          "target": "com.ovh.domain#NichandleCountryEnum",
          "traits": {
            "smithy.api#documentation": "Nationality",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organisationAccountable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "To whom is the organisation accountable",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organisationFunding": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What is the source of funding",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organisationFundingOther": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Explain the source of funding if organisationFunding is other",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organisationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of organisation",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organisationRole": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role of your organisation",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organisationRoleOther": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Explain the role of your organisation if organisationRole is other",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organisationStaffStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the staff",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organisationStaffStatusOther": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Explain the status of the staff if organisationStaffStatus is other",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organisationType": {
          "target": "smithy.api#String",
          "traits": {
[...]
