{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.ovh.emaildomain#IamResourceTagFilterInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Resource tag filter"
      }
    },
    "com.ovh.emaildomain#ListEmailDomainRequestIamTagsValueList": {
      "type": "list",
      "member": {
        "target": "com.ovh.emaildomain#IamResourceTagFilterInput"
      },
      "traits": {}
    },
    "com.ovh.emaildomain#ListEmailDomainRequestIamTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.ovh.emaildomain#ListEmailDomainRequestIamTagsValueList"
      },
      "traits": {}
    },
    "com.ovh.emaildomain#ListEmailDomainRequest": {
      "type": "structure",
      "members": {
        "iamTags": {
          "target": "com.ovh.emaildomain#ListEmailDomainRequestIamTagsMap",
          "traits": {
            "smithy.api#httpQuery": "iamTags",
            "smithy.api#documentation": "Filter resources on IAM tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#ListEmailDomainResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.emaildomain#ListEmailDomainResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.emaildomain#ListEmailDomainResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emaildomain#ListEmailDomain": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#ListEmailDomainRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#ListEmailDomainResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain",
          "code": 200
        },
        "smithy.api#documentation": "List available services"
      }
    },
    "com.ovh.emaildomain#ListEmailDomainDelegatedAccountRequest": {
      "type": "structure",
      "members": {
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "accountName",
            "smithy.api#documentation": "Name of email address"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "domain",
            "smithy.api#documentation": "Domain of email address"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#ListEmailDomainDelegatedAccountResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.emaildomain#ListEmailDomainDelegatedAccountResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.emaildomain#ListEmailDomainDelegatedAccountResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emaildomain#ListEmailDomainDelegatedAccount": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#ListEmailDomainDelegatedAccountRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#ListEmailDomainDelegatedAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/delegatedAccount",
          "code": 200
        },
        "smithy.api#documentation": "Delegated emails"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDelegatedAccountRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#EmailDomainAccountDelegated": {
      "type": "structure",
      "members": {
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of account"
          }
        },
        "allowedAccountSize": {
          "target": "com.ovh.emaildomain#EmailDomainAccountDelegatedAllowedAccountSizeList",
          "traits": {
            "smithy.api#documentation": "List of allowed sizes for this account in bytes",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account description"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of domain"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email"
          }
        },
        "isBlocked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true your account is blocked"
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size of your account in bytes"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Account List"
      }
    },
    "com.ovh.emaildomain#EmailDomainAccountDelegatedAllowedAccountSizeList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "List of allowed sizes for this account in bytes"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDelegatedAccount": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#GetEmailDomainDelegatedAccountRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainAccountDelegated"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/delegatedAccount/{email}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.emaildomain#PutEmailDomainDelegatedAccountRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account description"
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size of your account in bytes"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#PutEmailDomainDelegatedAccount": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#PutEmailDomainDelegatedAccountRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/email/domain/delegatedAccount/{email}",
          "code": 200
        },
        "smithy.api#documentation": "Alter this object properties"
      }
    },
    "com.ovh.emaildomain#CreateEmailDomainDelegatedAccountChangePasswordRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New password",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#EmailDomainTaskPop": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.ovh.emaildomain#DomainDomainPopActionEnum",
          "traits": {
            "smithy.api#documentation": "Action of task"
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation date of task"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain name of task"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Id of task"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account name of task"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Task Pop List"
      }
    },
    "com.ovh.emaildomain#DomainDomainPopActionEnum": {
      "type": "enum",
      "members": {
        "ADDACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "addAccount"
          }
        },
        "CHANGEACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "changeAccount"
          }
        },
        "CHANGEPASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "changePassword"
          }
        },
        "DELETEACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleteAccount"
          }
        },
        "INTERNALMIGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "internalMigration"
          }
        },
        "MIGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "migration"
          }
        },
        "TEMPORARYTASK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "temporaryTask"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for pop action task"
      }
    },
    "com.ovh.emaildomain#CreateEmailDomainDelegatedAccountChangePassword": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#CreateEmailDomainDelegatedAccountChangePasswordRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainTaskPop"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/domain/delegatedAccount/{email}/changePassword",
          "code": 200
        },
        "smithy.api#documentation": "Change mailbox password (length : [9;30], no space at begin and end, no accent)"
      }
    },
    "com.ovh.emaildomain#ListEmailDomainDelegatedAccountFilterRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#ListEmailDomainDelegatedAccountFilterResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.emaildomain#ListEmailDomainDelegatedAccountFilterResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.emaildomain#ListEmailDomainDelegatedAccountFilterResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emaildomain#ListEmailDomainDelegatedAccountFilter": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#ListEmailDomainDelegatedAccountFilterRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#ListEmailDomainDelegatedAccountFilterResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/delegatedAccount/{email}/filter",
          "code": 200
        },
        "smithy.api#documentation": "Get filters"
      }
    },
    "com.ovh.emaildomain#DomainDomainFilterActionEnum": {
      "type": "enum",
      "members": {
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        },
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete"
          }
        },
        "REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redirect"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for filter action"
      }
    },
    "com.ovh.emaildomain#DomainDomainFilterOperandEnum": {
      "type": "enum",
      "members": {
        "CHECKSPF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "checkspf"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contains"
          }
        },
        "NOCONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "noContains"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for filter operation"
      }
    },
    "com.ovh.emaildomain#CreateEmailDomainDelegatedAccountFilterRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        },
        "action": {
          "target": "com.ovh.emaildomain#DomainDomainFilterActionEnum",
          "traits": {
            "smithy.api#documentation": "Action of filter",
            "smithy.api#required": {}
          }
        },
        "actionParam": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Action parameter of filter"
          }
        },
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true filter is active",
            "smithy.api#required": {}
          }
        },
        "header": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Header to be filtered",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter name",
            "smithy.api#required": {}
          }
        },
        "operand": {
          "target": "com.ovh.emaildomain#DomainDomainFilterOperandEnum",
          "traits": {
            "smithy.api#documentation": "Rule of filter",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Priority of filter",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rule parameter of filter",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#EmailDomainTaskFilter": {
      "type": "structure",
      "members": {
        "account": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account name of task"
          }
        },
        "action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Action of task"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain name of task"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Id of task"
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation date of task"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Task filter List"
      }
    },
    "com.ovh.emaildomain#CreateEmailDomainDelegatedAccountFilter": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#CreateEmailDomainDelegatedAccountFilterRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainTaskFilter"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/domain/delegatedAccount/{email}/filter",
          "code": 200
        },
        "smithy.api#documentation": "Create new filter for account"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDelegatedAccountFilterRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#EmailDomainFilter": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.ovh.emaildomain#DomainDomainFilterActionEnum",
          "traits": {
            "smithy.api#documentation": "Action of filter",
            "com.distilled.openapi#nullable": {}
          }
        },
        "actionParam": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Action parameter of filter",
            "com.distilled.openapi#nullable": {}
          }
        },
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true filter is active"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain name of filter"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter name"
          }
        },
        "pop": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account name of filter"
          }
        },
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Priority of filter"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter List"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDelegatedAccountFilter": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#GetEmailDomainDelegatedAccountFilterRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainFilter"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/delegatedAccount/{email}/filter/{name}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainDelegatedAccountFilterRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainDelegatedAccountFilterResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.emaildomain#EmailDomainTaskFilter"
      },
      "traits": {}
    },
    "com.ovh.emaildomain#DeleteEmailDomainDelegatedAccountFilterResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.emaildomain#DeleteEmailDomainDelegatedAccountFilterResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainDelegatedAccountFilter": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#DeleteEmailDomainDelegatedAccountFilterRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#DeleteEmailDomainDelegatedAccountFilterResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/email/domain/delegatedAccount/{email}/filter/{name}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an existing filter"
      }
    },
    "com.ovh.emaildomain#CreateEmailDomainDelegatedAccountFilterChangeActivityRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter name"
          }
        },
        "activity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "New activity",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#CreateEmailDomainDelegatedAccountFilterChangeActivity": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#CreateEmailDomainDelegatedAccountFilterChangeActivityRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainTaskFilter"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/domain/delegatedAccount/{email}/filter/{name}/changeActivity",
          "code": 200
        },
        "smithy.api#documentation": "Change filter activity"
      }
    },
    "com.ovh.emaildomain#CreateEmailDomainDelegatedAccountFilterChangePriorityRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter name"
          }
        },
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "New priority",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#CreateEmailDomainDelegatedAccountFilterChangePriority": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#CreateEmailDomainDelegatedAccountFilterChangePriorityRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainTaskFilter"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/domain/delegatedAccount/{email}/filter/{name}/changePriority",
          "code": 200
        },
        "smithy.api#documentation": "Change filter priority"
      }
    },
    "com.ovh.emaildomain#ListEmailDomainDelegatedAccountFilterRuleRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#ListEmailDomainDelegatedAccountFilterRuleResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.emaildomain#ListEmailDomainDelegatedAccountFilterRuleResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.emaildomain#ListEmailDomainDelegatedAccountFilterRuleResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emaildomain#ListEmailDomainDelegatedAccountFilterRule": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#ListEmailDomainDelegatedAccountFilterRuleRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#ListEmailDomainDelegatedAccountFilterRuleResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/delegatedAccount/{email}/filter/{name}/rule",
          "code": 200
        },
        "smithy.api#documentation": "Get rules"
      }
    },
    "com.ovh.emaildomain#CreateEmailDomainDelegatedAccountFilterRuleRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter name"
          }
        },
        "header": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Header to be filtered",
            "smithy.api#required": {}
          }
        },
        "operand": {
          "target": "com.ovh.emaildomain#DomainDomainFilterOperandEnum",
          "traits": {
            "smithy.api#documentation": "Rule of filter",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rule parameter of filter",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#CreateEmailDomainDelegatedAccountFilterRule": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#CreateEmailDomainDelegatedAccountFilterRuleRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainTaskFilter"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/domain/delegatedAccount/{email}/filter/{name}/rule",
          "code": 200
        },
        "smithy.api#documentation": "Create new rule for filter"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDelegatedAccountFilterRuleRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter name"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#EmailDomainRule": {
      "type": "structure",
      "members": {
        "header": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Header to be filtered"
          }
        },
        "id": {
          "target": "smithy.api#Integer"
        },
        "operand": {
          "target": "com.ovh.emaildomain#DomainDomainFilterOperandEnum",
          "traits": {
            "smithy.api#documentation": "Rule of filter"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rule parameter of filter"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Rule List"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDelegatedAccountFilterRule": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#GetEmailDomainDelegatedAccountFilterRuleRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainRule"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/delegatedAccount/{email}/filter/{name}/rule/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainDelegatedAccountFilterRuleRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter name"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainDelegatedAccountFilterRuleResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.emaildomain#EmailDomainTaskFilter"
      },
      "traits": {}
    },
    "com.ovh.emaildomain#DeleteEmailDomainDelegatedAccountFilterRuleResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.emaildomain#DeleteEmailDomainDelegatedAccountFilterRuleResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainDelegatedAccountFilterRule": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#DeleteEmailDomainDelegatedAccountFilterRuleRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#DeleteEmailDomainDelegatedAccountFilterRuleResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/email/domain/delegatedAccount/{email}/filter/{name}/rule/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an existing filter"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDelegatedAccountResponderRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#EmailDomainResponderAccount": {
      "type": "structure",
      "members": {
        "account": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of account"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content of responder"
          }
        },
        "copy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, emails will be copy to emailToCopy address"
          }
        },
        "copyTo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account where copy emails",
            "com.distilled.openapi#nullable": {}
          }
        },
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of start responder",
            "com.distilled.openapi#nullable": {}
          }
        },
        "to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of end responder",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Responder of account"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDelegatedAccountResponder": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#GetEmailDomainDelegatedAccountResponderRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainResponderAccount"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/delegatedAccount/{email}/responder",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.emaildomain#CreateEmailDomainDelegatedAccountResponderRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content of responder",
            "smithy.api#required": {}
          }
        },
        "copy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, emails will be copy to emailToCopy address",
            "smithy.api#required": {}
          }
        },
        "copyTo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account where copy emails"
          }
        },
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of start responder"
          }
        },
        "to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of end responder"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#EmailDomainTaskSpecialAccount": {
      "type": "structure",
      "members": {
        "account": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account name of task"
          }
        },
        "action": {
          "target": "com.ovh.emaildomain#DomainDomainSpecialAccountActionEnum",
          "traits": {
            "smithy.api#documentation": "Action of task"
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation date of task"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain name of task"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of task"
          }
        },
        "type": {
          "target": "com.ovh.emaildomain#DomainDomainSpecialAccountTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of action filter"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Task special account List"
      }
    },
    "com.ovh.emaildomain#DomainDomainSpecialAccountActionEnum": {
      "type": "enum",
      "members": {
        "ADD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "add"
          }
        },
        "CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "change"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for pop action task"
      }
    },
    "com.ovh.emaildomain#DomainDomainSpecialAccountTypeEnum": {
      "type": "enum",
      "members": {
        "_25G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "25g"
          }
        },
        "ALIAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alias"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete"
          }
        },
        "FILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "filter"
          }
        },
        "FORWARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "forward"
          }
        },
        "RESPONDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "responder"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible type task"
      }
    },
    "com.ovh.emaildomain#CreateEmailDomainDelegatedAccountResponder": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#CreateEmailDomainDelegatedAccountResponderRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainTaskSpecialAccount"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/domain/delegatedAccount/{email}/responder",
          "code": 200
        },
        "smithy.api#documentation": "Create new responder in server"
      }
    },
    "com.ovh.emaildomain#PutEmailDomainDelegatedAccountResponderRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content of responder"
          }
        },
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of start responder",
            "com.distilled.openapi#nullable": {}
          }
        },
        "to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of end responder",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#PutEmailDomainDelegatedAccountResponder": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#PutEmailDomainDelegatedAccountResponderRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/email/domain/delegatedAccount/{email}/responder",
          "code": 200
        },
        "smithy.api#documentation": "Alter this object properties"
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainDelegatedAccountResponderRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainDelegatedAccountResponder": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#DeleteEmailDomainDelegatedAccountResponderRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainTaskSpecialAccount"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/email/domain/delegatedAccount/{email}/responder",
          "code": 200
        },
        "smithy.api#documentation": "Delete an existing responder in server"
      }
    },
    "com.ovh.emaildomain#UpdateEmailDomainDelegatedAccountUsageRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#UpdateEmailDomainDelegatedAccountUsage": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#UpdateEmailDomainDelegatedAccountUsageRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/domain/delegatedAccount/{email}/updateUsage",
          "code": 200
        },
        "smithy.api#documentation": "Update usage of account"
      }
    },
    "com.ovh.emaildomain#CreateEmailDomainDelegatedAccountUsageRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#DomainDomainUsageAccountStruct": {
      "type": "structure",
      "members": {
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp",
            "com.distilled.openapi#nullable": {}
          }
        },
        "emailCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of message in mailbox",
            "com.distilled.openapi#nullable": {}
          }
        },
        "quota": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size of mailbox (bytes)",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Structure of usage account"
      }
    },
    "com.ovh.emaildomain#CreateEmailDomainDelegatedAccountUsage": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#CreateEmailDomainDelegatedAccountUsageRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#DomainDomainUsageAccountStruct"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/domain/delegatedAccount/{email}/usage",
          "code": 200
        },
        "smithy.api#documentation": "usage of account"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainMailingListLimitsRequest": {
      "type": "structure",
      "members": {
        "moderatorMessage": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "moderatorMessage",
            "smithy.api#required": {},
            "smithy.api#documentation": "If true, messages are moderate"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#DomainDomainMlLimits": {
      "type": "structure",
      "members": {
        "subscribers": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of subscribers"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Structure of mailinglist limits"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainMailingListLimits": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#GetEmailDomainMailingListLimitsRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#DomainDomainMlLimits"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/mailingListLimits",
          "code": 200
        },
        "smithy.api#documentation": "Get limits of mailing list"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#EmailDomainDomainServiceWithIAM": {
      "type": "structure",
      "members": {
        "allowedAccountSize": {
          "target": "com.ovh.emaildomain#EmailDomainDomainServiceWithIAMAllowedAccountSizeList",
          "traits": {
            "smithy.api#documentation": "List of allowed sizes for this domain in bytes",
            "com.distilled.openapi#nullable": {}
          }
        },
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation date of domain",
            "com.distilled.openapi#nullable": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of domain"
          }
        },
        "filerz": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Filerz of domain",
            "com.distilled.openapi#nullable": {}
          }
        },
        "iam": {
          "target": "com.ovh.emaildomain#IamResourceMetadata",
          "traits": {
            "smithy.api#documentation": "IAM resource metadata",
            "com.distilled.openapi#nullable": {}
          }
        },
        "isMXValid": {
          "target": "com.ovh.emaildomain#EmailDomainDiagnoseEnum",
          "traits": {
            "smithy.api#documentation": "Result of MX check if current MX fit to OVH recommendations"
          }
        },
        "isSPFValid": {
          "target": "com.ovh.emaildomain#EmailDomainDiagnoseEnum",
          "traits": {
            "smithy.api#documentation": "Result of SPF check if current SPF fit to OVH recommendations"
          }
        },
        "linkTo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of servicelinked with this domain",
            "com.distilled.openapi#nullable": {}
          }
        },
        "migratedMXPlanServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of new MXPlan service",
            "com.distilled.openapi#nullable": {}
          }
        },
        "offer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Offer of email service",
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.ovh.emaildomain#DomainDomainStatusEnum",
          "traits": {
            "smithy.api#documentation": "Domain Status"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Domain service"
      }
    },
    "com.ovh.emaildomain#EmailDomainDomainServiceWithIAMAllowedAccountSizeList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "List of allowed sizes for this domain in bytes"
      }
    },
    "com.ovh.emaildomain#IamResourceMetadata": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource display name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the resource"
          }
        },
        "state": {
          "target": "com.ovh.emaildomain#IamResourceMetadataStateEnum",
          "traits": {
            "smithy.api#documentation": "Resource state",
            "com.distilled.openapi#nullable": {}
          }
        },
        "tags": {
          "target": "com.ovh.emaildomain#IamResourceMetadataTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:",
            "com.distilled.openapi#nullable": {}
          }
        },
        "urn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique resource name used in policies"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IAM resource metadata embedded in services models"
      }
    },
    "com.ovh.emaildomain#IamResourceMetadataStateEnum": {
      "type": "enum",
      "members": {
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        },
        "IN_CREATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_CREATION"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OK"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource state"
      }
    },
    "com.ovh.emaildomain#IamResourceMetadataTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:"
      }
    },
    "com.ovh.emaildomain#EmailDomainDiagnoseEnum": {
      "type": "enum",
      "members": {
        "CHECKFAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "checkFail"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invalid"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        },
        "VALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "valid"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result value for diagnose"
      }
    },
    "com.ovh.emaildomain#DomainDomainStatusEnum": {
      "type": "enum",
      "members": {
        "CLOSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "close"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "READONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "readOnly"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for status domain"
      }
    },
    "com.ovh.emaildomain#GetEmailDomain": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#GetEmailDomainRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainDomainServiceWithIAM"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/{domain}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.emaildomain#ListEmailDomainAccountRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "accountName",
            "smithy.api#documentation": "Account name"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "description",
            "smithy.api#documentation": "Account description"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#ListEmailDomainAccountResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.emaildomain#ListEmailDomainAccountResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.emaildomain#ListEmailDomainAccountResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emaildomain#ListEmailDomainAccount": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#ListEmailDomainAccountRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#ListEmailDomainAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/{domain}/account",
          "code": 200
        },
        "smithy.api#documentation": "Get accounts"
      }
    },
    "com.ovh.emaildomain#CreateEmailDomainAccountRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account name",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description Account"
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account password",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Account size in bytes (default : 5000000000) (possible values : /email/domain/{domain}/allowedAccountSize )"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#CreateEmailDomainAccount": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#CreateEmailDomainAccountRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainTaskPop"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/domain/{domain}/account",
          "code": 200
        },
        "smithy.api#documentation": "Create new mailbox in server"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainAccountRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#EmailDomainAccount": {
      "type": "structure",
      "members": {
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of account"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account description"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of domain"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email"
          }
        },
        "isBlocked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true your account is blocked"
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size of your account in bytes"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Account List"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainAccount": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#GetEmailDomainAccountRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainAccount"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/{domain}/account/{accountName}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.emaildomain#PutEmailDomainAccountRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account description"
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size of your account in bytes"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#PutEmailDomainAccount": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#PutEmailDomainAccountRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/email/domain/{domain}/account/{accountName}",
          "code": 200
        },
        "smithy.api#documentation": "Alter this object properties"
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainAccountRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainAccount": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#DeleteEmailDomainAccountRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainTaskPop"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/email/domain/{domain}/account/{accountName}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an existing mailbox in server"
      }
    },
    "com.ovh.emaildomain#CreateEmailDomainAccountChangePasswordRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New password",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#CreateEmailDomainAccountChangePassword": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#CreateEmailDomainAccountChangePasswordRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainTaskPop"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/domain/{domain}/account/{accountName}/changePassword",
          "code": 200
        },
        "smithy.api#documentation": "Change mailbox password (length : [9;30], no space at begin and end, no accent)"
      }
    },
    "com.ovh.emaildomain#ListEmailDomainAccountDelegationRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#ListEmailDomainAccountDelegationResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.emaildomain#ListEmailDomainAccountDelegationResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.emaildomain#ListEmailDomainAccountDelegationResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emaildomain#ListEmailDomainAccountDelegation": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#ListEmailDomainAccountDelegationRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#ListEmailDomainAccountDelegationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/{domain}/account/{accountName}/delegation",
          "code": 200
        },
        "smithy.api#documentation": "Get delegations"
      }
    },
    "com.ovh.emaildomain#CreateEmailDomainAccountDelegationRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OVH customer unique identifier",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#CreateEmailDomainAccountDelegationResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emaildomain#CreateEmailDomainAccountDelegation": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#CreateEmailDomainAccountDelegationRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#CreateEmailDomainAccountDelegationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/domain/{domain}/account/{accountName}/delegation",
          "code": 200
        },
        "smithy.api#documentation": "Create delegation for this account"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainAccountDelegationRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "OVH customer unique identifier"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#EmailDomainDelegation": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OVH customer unique identifier"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Delegation List"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainAccountDelegation": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#GetEmailDomainAccountDelegationRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainDelegation"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/{domain}/account/{accountName}/delegation/{accountId}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainAccountDelegationRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "OVH customer unique identifier"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainAccountDelegationResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainAccountDelegation": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#DeleteEmailDomainAccountDelegationRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#DeleteEmailDomainAccountDelegationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/email/domain/{domain}/account/{accountName}/delegation/{accountId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an existing delegation"
      }
    },
    "com.ovh.emaildomain#ListEmailDomainAccountFilterRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#ListEmailDomainAccountFilterResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.emaildomain#ListEmailDomainAccountFilterResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.emaildomain#ListEmailDomainAccountFilterResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emaildomain#ListEmailDomainAccountFilter": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#ListEmailDomainAccountFilterRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#ListEmailDomainAccountFilterResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/{domain}/account/{accountName}/filter",
          "code": 200
        },
        "smithy.api#documentation": "Get filters"
      }
    },
    "com.ovh.emaildomain#CreateEmailDomainAccountFilterRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        },
        "action": {
          "target": "com.ovh.emaildomain#DomainDomainFilterActionEnum",
          "traits": {
            "smithy.api#documentation": "Action of filter",
            "smithy.api#required": {}
          }
        },
        "actionParam": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Action parameter of filter"
          }
        },
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true filter is active",
            "smithy.api#required": {}
          }
        },
        "header": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Header to be filtered",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter name",
            "smithy.api#required": {}
          }
        },
        "operand": {
          "target": "com.ovh.emaildomain#DomainDomainFilterOperandEnum",
          "traits": {
            "smithy.api#documentation": "Rule of filter",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Priority of filter",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rule parameter of filter",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#CreateEmailDomainAccountFilter": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#CreateEmailDomainAccountFilterRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainTaskFilter"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/domain/{domain}/account/{accountName}/filter",
          "code": 200
        },
        "smithy.api#documentation": "Create new filter for account"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainAccountFilterRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#GetEmailDomainAccountFilter": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#GetEmailDomainAccountFilterRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainFilter"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/{domain}/account/{accountName}/filter/{name}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainAccountFilterRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainAccountFilterResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.emaildomain#EmailDomainTaskFilter"
      },
      "traits": {}
    },
    "com.ovh.emaildomain#DeleteEmailDomainAccountFilterResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.emaildomain#DeleteEmailDomainAccountFilterResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainAccountFilter": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#DeleteEmailDomainAccountFilterRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#DeleteEmailDomainAccountFilterResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/email/domain/{domain}/account/{accountName}/filter/{name}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an existing filter"
      }
    },
    "com.ovh.emaildomain#CreateEmailDomainAccountFilterChangeActivityRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter name"
          }
        },
        "activity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "New activity",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#CreateEmailDomainAccountFilterChangeActivity": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#CreateEmailDomainAccountFilterChangeActivityRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainTaskFilter"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/domain/{domain}/account/{accountName}/filter/{name}/changeActivity",
          "code": 200
        },
        "smithy.api#documentation": "Change filter activity"
      }
    },
    "com.ovh.emaildomain#CreateEmailDomainAccountFilterChangePriorityRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter name"
          }
        },
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "New priority",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#CreateEmailDomainAccountFilterChangePriority": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#CreateEmailDomainAccountFilterChangePriorityRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainTaskFilter"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/domain/{domain}/account/{accountName}/filter/{name}/changePriority",
          "code": 200
        },
        "smithy.api#documentation": "Change filter priority"
      }
    },
    "com.ovh.emaildomain#ListEmailDomainAccountFilterRuleRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#ListEmailDomainAccountFilterRuleResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.emaildomain#ListEmailDomainAccountFilterRuleResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.emaildomain#ListEmailDomainAccountFilterRuleResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emaildomain#ListEmailDomainAccountFilterRule": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#ListEmailDomainAccountFilterRuleRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#ListEmailDomainAccountFilterRuleResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/{domain}/account/{accountName}/filter/{name}/rule",
          "code": 200
        },
        "smithy.api#documentation": "Get rules"
      }
    },
    "com.ovh.emaildomain#CreateEmailDomainAccountFilterRuleRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter name"
          }
        },
        "header": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Header to be filtered",
            "smithy.api#required": {}
          }
        },
        "operand": {
          "target": "com.ovh.emaildomain#DomainDomainFilterOperandEnum",
          "traits": {
            "smithy.api#documentation": "Rule of filter",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rule parameter of filter",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#CreateEmailDomainAccountFilterRule": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#CreateEmailDomainAccountFilterRuleRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainTaskFilter"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/domain/{domain}/account/{accountName}/filter/{name}/rule",
          "code": 200
        },
        "smithy.api#documentation": "Create new rule for filter"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainAccountFilterRuleRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter name"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#GetEmailDomainAccountFilterRule": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#GetEmailDomainAccountFilterRuleRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainRule"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/{domain}/account/{accountName}/filter/{name}/rule/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainAccountFilterRuleRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter name"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainAccountFilterRuleResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.emaildomain#EmailDomainTaskFilter"
      },
      "traits": {}
    },
    "com.ovh.emaildomain#DeleteEmailDomainAccountFilterRuleResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.emaildomain#DeleteEmailDomainAccountFilterRuleResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainAccountFilterRule": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#DeleteEmailDomainAccountFilterRuleRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#DeleteEmailDomainAccountFilterRuleResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/email/domain/{domain}/account/{accountName}/filter/{name}/rule/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an existing filter"
      }
    },
    "com.ovh.emaildomain#EmailDomainMigrationServiceType": {
      "type": "enum",
      "members": {
        "EMAIL_PRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMAIL PRO"
          }
        },
        "HOSTED_EXCHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOSTED EXCHANGE"
          }
        },
        "PRIVATE_EXCHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE EXCHANGE"
          }
        },
        "PROVIDER_EXCHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVIDER EXCHANGE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Types of migration service"
      }
    },
    "com.ovh.emaildomain#ListEmailDomainAccountMigrateRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        },
        "type": {
          "target": "com.ovh.emaildomain#EmailDomainMigrationServiceType",
          "traits": {
            "smithy.api#httpQuery": "type",
            "smithy.api#documentation": "Type of migration service"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#ListEmailDomainAccountMigrateResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.emaildomain#ListEmailDomainAccountMigrateResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.emaildomain#ListEmailDomainAccountMigrateResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emaildomain#ListEmailDomainAccountMigrate": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#ListEmailDomainAccountMigrateRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#ListEmailDomainAccountMigrateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/{domain}/account/{accountName}/migrate",
          "code": 200
        },
        "smithy.api#documentation": "Get migration service"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainAccountMigrateRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        },
        "destinationServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name allowed as migration destination"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#EmailDomainMigrationService": {
      "type": "structure",
      "members": {
        "contactAdmin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Admin contact of service"
          }
        },
        "contactBilling": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Billing contact of service"
          }
        },
        "contactTech": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tech contact of service"
          }
        },
        "creation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation date of service"
          }
        },
        "destinationServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service name allowed as migration destination"
          }
        },
        "expiration": {
[...]
