{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.ovh.emailpro#IamResourceTagFilterInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Resource tag filter"
      }
    },
    "com.ovh.emailpro#GetEmailProRequestIamTagsValueList": {
      "type": "list",
      "member": {
        "target": "com.ovh.emailpro#IamResourceTagFilterInput"
      },
      "traits": {}
    },
    "com.ovh.emailpro#GetEmailProRequestIamTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.ovh.emailpro#GetEmailProRequestIamTagsValueList"
      },
      "traits": {}
    },
    "com.ovh.emailpro#GetEmailProRequest": {
      "type": "structure",
      "members": {
        "iamTags": {
          "target": "com.ovh.emailpro#GetEmailProRequestIamTagsMap",
          "traits": {
            "smithy.api#httpQuery": "iamTags",
            "smithy.api#documentation": "Filter resources on IAM tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emailpro#GetEmailProResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.emailpro#GetEmailProResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.emailpro#GetEmailProResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emailpro#GetEmailPro": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emailpro#GetEmailProRequest"
      },
      "output": {
        "target": "com.ovh.emailpro#GetEmailProResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/pro",
          "code": 200
        },
        "smithy.api#documentation": "List available services"
      }
    },
    "com.ovh.emailpro#GetEmailProServiceRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emailpro#EmailProServiceNativeWithIAM": {
      "type": "structure",
      "members": {
        "complexityEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "enable policy for strong and secure passwords"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "service displayName",
            "com.distilled.openapi#nullable": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain name of your service"
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hostname of your service",
            "com.distilled.openapi#nullable": {}
          }
        },
        "iam": {
          "target": "com.ovh.emailpro#IamResourceMetadata",
          "traits": {
            "smithy.api#documentation": "IAM resource metadata",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lastUpdateDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Update date",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lockoutDuration": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "number of minutes account will remain locked if it occurs"
          }
        },
        "lockoutObservationWindow": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "number of minutes that must elapse after a failed logon to reset lockout trigger"
          }
        },
        "lockoutThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "number of attempts before account to be locked",
            "com.distilled.openapi#nullable": {}
          }
        },
        "maxPasswordAge": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "maximum number of days that account's password is valid before expiration",
            "com.distilled.openapi#nullable": {}
          }
        },
        "maxReceiveSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum message size that You can receive in MB"
          }
        },
        "maxSendSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum message size that You can send in MB"
          }
        },
        "minPasswordAge": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "minimum number of days before able to change account's password",
            "com.distilled.openapi#nullable": {}
          }
        },
        "minPasswordLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "minimum number of characters password must contain",
            "com.distilled.openapi#nullable": {}
          }
        },
        "offer": {
          "target": "com.ovh.emailpro#EmailProServiceOfferEnum",
          "traits": {
            "smithy.api#documentation": "Type of your offer"
          }
        },
        "spamAndVirusConfiguration": {
          "target": "com.ovh.emailpro#EmailProSpamAndVirusConfiguration",
          "traits": {
            "smithy.api#documentation": "Spam and Antivirus configuration"
          }
        },
        "state": {
          "target": "com.ovh.emailpro#EmailProServiceStateEnum",
          "traits": {
            "smithy.api#documentation": "State of your service"
          }
        },
        "taskPendingId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Task pending id"
          }
        },
        "webUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL for web interface",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Email pro service"
      }
    },
    "com.ovh.emailpro#IamResourceMetadata": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource display name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the resource"
          }
        },
        "tags": {
          "target": "com.ovh.emailpro#IamResourceMetadataTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:",
            "com.distilled.openapi#nullable": {}
          }
        },
        "urn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique resource name used in policies"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IAM resource metadata embedded in services models"
      }
    },
    "com.ovh.emailpro#IamResourceMetadataTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:"
      }
    },
    "com.ovh.emailpro#EmailProServiceOfferEnum": {
      "type": "enum",
      "members": {
        "EMAILPRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "emailpro"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Service Offer name"
      }
    },
    "com.ovh.emailpro#EmailProSpamAndVirusConfiguration": {
      "type": "structure",
      "members": {
        "checkDKIM": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Check DKIM of message"
          }
        },
        "checkSPF": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Check SPF of message"
          }
        },
        "deleteSpam": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If message is a spam delete it"
          }
        },
        "deleteVirus": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If message is a virus delete it"
          }
        },
        "putInJunk": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If message is a spam or virus put in junk. Overridden by deleteSpam or deleteVirus"
          }
        },
        "tagSpam": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If message is a spam change its subject"
          }
        },
        "tagVirus": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If message is a virus change its subject"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Spam and Antyvirus configuration"
      }
    },
    "com.ovh.emailpro#EmailProServiceStateEnum": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "creating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleting"
          }
        },
        "INMAINTENANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inMaintenance"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "REOPENING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reopening"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspended"
          }
        },
        "SUSPENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Service State"
      }
    },
    "com.ovh.emailpro#GetEmailProService": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emailpro#GetEmailProServiceRequest"
      },
      "output": {
        "target": "com.ovh.emailpro#EmailProServiceNativeWithIAM"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/pro/{service}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.emailpro#EmailProSpamAndVirusConfigurationInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Spam and Antyvirus configuration"
      }
    },
    "com.ovh.emailpro#PutEmailProServiceRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your pro organization"
          }
        },
        "complexityEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "enable policy for strong and secure passwords"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "service displayName",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lockoutDuration": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "number of minutes account will remain locked if it occurs"
          }
        },
        "lockoutObservationWindow": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "number of minutes that must elapse after a failed logon to reset lockout trigger"
          }
        },
        "lockoutThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "number of attempts before account to be locked",
            "com.distilled.openapi#nullable": {}
          }
        },
        "maxPasswordAge": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "maximum number of days that account's password is valid before expiration",
            "com.distilled.openapi#nullable": {}
          }
        },
        "maxReceiveSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum message size that You can receive in MB"
          }
        },
        "maxSendSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum message size that You can send in MB"
          }
        },
        "minPasswordAge": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "minimum number of days before able to change account's password",
            "com.distilled.openapi#nullable": {}
          }
        },
        "minPasswordLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "minimum number of characters password must contain",
            "com.distilled.openapi#nullable": {}
          }
        },
        "spamAndVirusConfiguration": {
          "target": "com.ovh.emailpro#EmailProSpamAndVirusConfigurationInput",
          "traits": {
            "smithy.api#documentation": "Spam and Antivirus configuration"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emailpro#PutEmailProService": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emailpro#PutEmailProServiceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/email/pro/{service}",
          "code": 200
        },
        "smithy.api#documentation": "Alter this object properties"
      }
    },
    "com.ovh.emailpro#GetEmailProServiceAccountRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "id",
            "smithy.api#documentation": "Filter the value of id property (like)"
          }
        },
        "primaryEmailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "primaryEmailAddress",
            "smithy.api#documentation": "Filter the value of primaryEmailAddress property (like)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emailpro#GetEmailProServiceAccountResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.emailpro#GetEmailProServiceAccountResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.emailpro#GetEmailProServiceAccountResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emailpro#GetEmailProServiceAccount": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emailpro#GetEmailProServiceAccountRequest"
      },
      "output": {
        "target": "com.ovh.emailpro#GetEmailProServiceAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/pro/{service}/account",
          "code": 200
        },
        "smithy.api#documentation": "Accounts associated to this pro service"
      }
    },
    "com.ovh.emailpro#GetEmailProServiceAccountEmailRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emailpro#EmailProAccountNative": {
      "type": "structure",
      "members": {
        "SAMAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SAM account name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "configured": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the account is configured"
          }
        },
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation date",
            "com.distilled.openapi#nullable": {}
          }
        },
        "currentUsage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Mailbox usage",
            "com.distilled.openapi#nullable": {}
          }
        },
        "deleteAtExpiration": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "delete at expiration",
            "com.distilled.openapi#nullable": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account display name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email domain"
          }
        },
        "expirationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "expiration date",
            "com.distilled.openapi#nullable": {}
          }
        },
        "expirationOutlookDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "expiration date",
            "com.distilled.openapi#nullable": {}
          }
        },
        "firstName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account first name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "hiddenFromGAL": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Hide account in Global Address List"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Account id"
          }
        },
        "initial": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account initials",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lastLogoffDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last logoff",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lastLogonDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last logon",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lastName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account last name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lastUpdateDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last update",
            "com.distilled.openapi#nullable": {}
          }
        },
        "login": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account login"
          }
        },
        "mailingFilter": {
          "target": "com.ovh.emailpro#EmailProAccountNativeMailingFilterList",
          "traits": {
            "smithy.api#documentation": "Enable or disable anti-virus and anti-spam",
            "com.distilled.openapi#nullable": {}
          }
        },
        "passwordLastUpdate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time of account's password last update",
            "com.distilled.openapi#nullable": {},
            "smithy.api#sensitive": {}
          }
        },
        "primaryEmailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default email for this mailbox"
          }
        },
        "quota": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Account maximum size"
          }
        },
        "renewPeriod": {
          "target": "com.ovh.emailpro#EmailProRenewPeriodEnum",
          "traits": {
            "smithy.api#documentation": "change the renew period",
            "com.distilled.openapi#nullable": {}
          }
        },
        "spamAndVirusConfiguration": {
          "target": "com.ovh.emailpro#EmailProSpamAndVirusConfiguration",
          "traits": {
            "smithy.api#documentation": "Spam and Antivirus configuration"
          }
        },
        "spamDetected": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Account was sending spam"
          }
        },
        "spamTicketNumber": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Ticket number of spam detection",
            "com.distilled.openapi#nullable": {}
          }
        },
        "state": {
          "target": "com.ovh.emailpro#EmailProObjectStateEnum",
          "traits": {
            "smithy.api#documentation": "Account state"
          }
        },
        "taskPendingId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Pending tasks for this account",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mailbox"
      }
    },
    "com.ovh.emailpro#EmailProMailingFilterEnum": {
      "type": "enum",
      "members": {
        "VADERETRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vaderetro"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mailing filter options availlable"
      }
    },
    "com.ovh.emailpro#EmailProAccountNativeMailingFilterList": {
      "type": "list",
      "member": {
        "target": "com.ovh.emailpro#EmailProMailingFilterEnum"
      },
      "traits": {
        "smithy.api#documentation": "Enable or disable anti-virus and anti-spam"
      }
    },
    "com.ovh.emailpro#EmailProRenewPeriodEnum": {
      "type": "enum",
      "members": {
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "monthly"
          }
        },
        "YEARLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yearly"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Renew period"
      }
    },
    "com.ovh.emailpro#EmailProObjectStateEnum": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "creating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleting"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "REOPENING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reopening"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspended"
          }
        },
        "SUSPENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspending"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current object state"
      }
    },
    "com.ovh.emailpro#GetEmailProServiceAccountEmail": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emailpro#GetEmailProServiceAccountEmailRequest"
      },
      "output": {
        "target": "com.ovh.emailpro#EmailProAccountNative"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/pro/{service}/account/{email}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.emailpro#PutEmailProServiceAccountEmailRequestMailingFilterList": {
      "type": "list",
      "member": {
        "target": "com.ovh.emailpro#EmailProMailingFilterEnum"
      },
      "traits": {
        "smithy.api#documentation": "Enable or disable anti-virus and anti-spam"
      }
    },
    "com.ovh.emailpro#PutEmailProServiceAccountEmailRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your pro organization"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Default email for this mailbox"
          }
        },
        "deleteAtExpiration": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "delete at expiration",
            "com.distilled.openapi#nullable": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account display name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email domain"
          }
        },
        "firstName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account first name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "hiddenFromGAL": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Hide account in Global Address List"
          }
        },
        "initial": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account initials",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lastName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account last name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "login": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account login"
          }
        },
        "mailingFilter": {
          "target": "com.ovh.emailpro#PutEmailProServiceAccountEmailRequestMailingFilterList",
          "traits": {
            "smithy.api#documentation": "Enable or disable anti-virus and anti-spam",
            "com.distilled.openapi#nullable": {}
          }
        },
        "quota": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Account maximum size"
          }
        },
        "renewPeriod": {
          "target": "com.ovh.emailpro#EmailProRenewPeriodEnum",
          "traits": {
            "smithy.api#documentation": "change the renew period",
            "com.distilled.openapi#nullable": {}
          }
        },
        "spamAndVirusConfiguration": {
          "target": "com.ovh.emailpro#EmailProSpamAndVirusConfigurationInput",
          "traits": {
            "smithy.api#documentation": "Spam and Antivirus configuration"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emailpro#PutEmailProServiceAccountEmail": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emailpro#PutEmailProServiceAccountEmailRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/email/pro/{service}/account/{email}",
          "code": 200
        },
        "smithy.api#documentation": "Alter this object properties"
      }
    },
    "com.ovh.emailpro#DeleteEmailProServiceAccountEmailRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your pro organization"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Default email for this mailbox"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emailpro#EmailProTask": {
      "type": "structure",
      "members": {
        "finishDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Completion date",
            "com.distilled.openapi#nullable": {}
          }
        },
        "function": {
          "target": "com.ovh.emailpro#EmailProTaskFunctionEnum",
          "traits": {
            "smithy.api#documentation": "Function name"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Task id"
          }
        },
        "status": {
          "target": "com.ovh.emailpro#EmailProTaskStatusEnum",
          "traits": {
            "smithy.api#documentation": "Task status"
          }
        },
        "todoDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation date"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Organization task details"
      }
    },
    "com.ovh.emailpro#EmailProTaskFunctionEnum": {
      "type": "enum",
      "members": {
        "ADDACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "addAccount"
          }
        },
        "ADDALIAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "addAlias"
          }
        },
        "ADDDOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "addDomain"
          }
        },
        "ADDDOMAINDKIM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "addDomainDKIM"
          }
        },
        "ADDDOMAINDISCLAIMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "addDomainDisclaimer"
          }
        },
        "ADDEXTERNALCONTACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "addExternalContact"
          }
        },
        "ADDFULLACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "addFullAccess"
          }
        },
        "ADDSENDAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "addSendAs"
          }
        },
        "ADDSENDONBEHALFTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "addSendOnBehalfTo"
          }
        },
        "ADDSERVICEAUTHORIZEDIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "addServiceAuthorizedIp"
          }
        },
        "CHANGEHOSTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "changeHostname"
          }
        },
        "CHANGEPASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "changePassword"
          }
        },
        "CONFIGURECUSTOMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "configureCustomer"
          }
        },
        "DELETEACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleteAccount"
          }
        },
        "DELETEALIAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleteAlias"
          }
        },
        "DELETEDOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleteDomain"
          }
        },
        "DELETEDOMAINDKIM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleteDomainDKIM"
          }
        },
        "DELETEDOMAINDISCLAIMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleteDomainDisclaimer"
          }
        },
        "DELETEEXTERNALCONTACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleteExternalContact"
          }
        },
        "DELETEFULLACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleteFullAccess"
          }
        },
        "DELETESENDAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleteSendAs"
          }
        },
        "DELETESENDONBEHALFTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleteSendOnBehalfTo"
          }
        },
        "DELETESERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleteService"
          }
        },
        "DELETESERVICEAUTHORIZEDIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleteServiceAuthorizedIp"
          }
        },
        "DIAGNOSEACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "diagnoseAccount"
          }
        },
        "DISABLEDKIM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disableDKIM"
          }
        },
        "ENABLEDKIM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enableDKIM"
          }
        },
        "EXPANDDRIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expandDrive"
          }
        },
        "INSTALLSERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "installServer"
          }
        },
        "MAINTENANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "maintenance"
          }
        },
        "MIGRATEACCOUNTVIAOMM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "migrateAccountViaOMM"
          }
        },
        "MIGRATIONACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "migrationAccount"
          }
        },
        "MIGRATIONDISCLAIMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "migrationDisclaimer"
          }
        },
        "MIGRATIONEXTERNALCONTACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "migrationExternalContact"
          }
        },
        "MIGRATIONHISTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "migrationHistory"
          }
        },
        "MIGRATIONSERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "migrationService"
          }
        },
        "REOPENACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reOpenAccount"
          }
        },
        "SETACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "setAccount"
          }
        },
        "SETALIAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "setAlias"
          }
        },
        "SETDNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "setDns"
          }
        },
        "SETDOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "setDomain"
          }
        },
        "SETDOMAINDISCLAIMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "setDomainDisclaimer"
          }
        },
        "SETEXTERNALCONTACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "setExternalContact"
          }
        },
        "SETSERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "setService"
          }
        },
        "SUSPENDACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspendAccount"
          }
        },
        "SUSPENDSERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspendService"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        },
        "UNSUSPENDACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsuspendAccount"
          }
        },
        "UNSUSPENDSERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsuspendService"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "function enumeration for task"
      }
    },
    "com.ovh.emailpro#EmailProTaskStatusEnum": {
      "type": "enum",
      "members": {
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        },
        "DOING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "doing"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "done"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "TODO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "todo"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Task status"
      }
    },
    "com.ovh.emailpro#DeleteEmailProServiceAccountEmail": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emailpro#DeleteEmailProServiceAccountEmailRequest"
      },
      "output": {
        "target": "com.ovh.emailpro#EmailProTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/email/pro/{service}/account/{email}",
          "code": 200
        },
        "smithy.api#documentation": "Delete existing mailbox in pro server"
      }
    },
    "com.ovh.emailpro#GetEmailProServiceAccountEmailAliasRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emailpro#GetEmailProServiceAccountEmailAliasResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.emailpro#GetEmailProServiceAccountEmailAliasResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.emailpro#GetEmailProServiceAccountEmailAliasResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emailpro#GetEmailProServiceAccountEmailAlias": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emailpro#GetEmailProServiceAccountEmailAliasRequest"
      },
      "output": {
        "target": "com.ovh.emailpro#GetEmailProServiceAccountEmailAliasResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/pro/{service}/account/{email}/alias",
          "code": 200
        },
        "smithy.api#documentation": "Aliases associated to this mailbox"
      }
    },
    "com.ovh.emailpro#PostEmailProServiceAccountEmailAliasRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your pro organization"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Default email for this mailbox"
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Alias",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emailpro#PostEmailProServiceAccountEmailAlias": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emailpro#PostEmailProServiceAccountEmailAliasRequest"
      },
      "output": {
        "target": "com.ovh.emailpro#EmailProTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/pro/{service}/account/{email}/alias",
          "code": 200
        },
        "smithy.api#documentation": "Create new alias"
      }
    },
    "com.ovh.emailpro#GetEmailProServiceAccountEmailAliasAliasRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Alias"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emailpro#EmailProAccountAlias": {
      "type": "structure",
      "members": {
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Alias"
          }
        },
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation date"
          }
        },
        "taskPendingId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Pending task id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Aliases on this mailbox"
      }
    },
    "com.ovh.emailpro#GetEmailProServiceAccountEmailAliasAlias": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emailpro#GetEmailProServiceAccountEmailAliasAliasRequest"
      },
      "output": {
        "target": "com.ovh.emailpro#EmailProAccountAlias"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/pro/{service}/account/{email}/alias/{alias}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.emailpro#DeleteEmailProServiceAccountEmailAliasAliasRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your pro organization"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Default email for this mailbox"
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Alias"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emailpro#DeleteEmailProServiceAccountEmailAliasAlias": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emailpro#DeleteEmailProServiceAccountEmailAliasAliasRequest"
      },
      "output": {
        "target": "com.ovh.emailpro#EmailProTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/email/pro/{service}/account/{email}/alias/{alias}",
          "code": 200
        },
        "smithy.api#documentation": "Delete existing alias"
      }
    },
    "com.ovh.emailpro#PostEmailProServiceAccountEmailChangePasswordRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your pro organization"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Default email for this mailbox"
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "new password",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emailpro#PostEmailProServiceAccountEmailChangePassword": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emailpro#PostEmailProServiceAccountEmailChangePasswordRequest"
      },
      "output": {
        "target": "com.ovh.emailpro#EmailProTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/pro/{service}/account/{email}/changePassword",
          "code": 200
        },
        "smithy.api#documentation": "Change mailbox password"
      }
    },
    "com.ovh.emailpro#GetEmailProServiceAccountEmailDiagnosticsRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emailpro#EmailProAccountDiagnosis": {
      "type": "structure",
      "members": {
        "canReceiveEmail": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines if ingoing message has been received"
          }
        },
        "canSendEmail": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines if outgoing message has been delivered"
          }
        },
        "connectiveWebmail": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines if possible to authenticate with credentials"
          }
        },
        "isLocked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines if account is locked"
          }
        },
        "isMxValid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines if MX record for account's domain is properly set"
          }
        },
        "isSpammer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines if account is flagged as spammer"
          }
        },
        "isSrvValid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines if SRV (autodiscovery) record for account's domain is properly set"
          }
        },
        "isSuspended": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines if account is suspended"
          }
        },
        "lastCheck": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last performed diagnostics date"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Account Diagnosis"
      }
    },
    "com.ovh.emailpro#GetEmailProServiceAccountEmailDiagnostics": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emailpro#GetEmailProServiceAccountEmailDiagnosticsRequest"
      },
      "output": {
        "target": "com.ovh.emailpro#EmailProAccountDiagnosis"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/pro/{service}/account/{email}/diagnostics",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.emailpro#PostEmailProServiceAccountEmailDiagnosticsRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your pro organization"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Default email for this mailbox"
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account password",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emailpro#PostEmailProServiceAccountEmailDiagnostics": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emailpro#PostEmailProServiceAccountEmailDiagnosticsRequest"
      },
      "output": {
        "target": "com.ovh.emailpro#EmailProTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/pro/{service}/account/{email}/diagnostics",
          "code": 200
        },
        "smithy.api#documentation": "Create new diagnosis request"
      }
    },
    "com.ovh.emailpro#GetEmailProServiceAccountEmailFullAccessRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emailpro#GetEmailProServiceAccountEmailFullAccessResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.emailpro#GetEmailProServiceAccountEmailFullAccessResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.emailpro#GetEmailProServiceAccountEmailFullAccessResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emailpro#GetEmailProServiceAccountEmailFullAccess": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emailpro#GetEmailProServiceAccountEmailFullAccessRequest"
      },
      "output": {
        "target": "com.ovh.emailpro#GetEmailProServiceAccountEmailFullAccessResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/pro/{service}/account/{email}/fullAccess",
          "code": 200
        },
        "smithy.api#documentation": "Full access granted users for this mailbox"
      }
    },
    "com.ovh.emailpro#PostEmailProServiceAccountEmailFullAccessRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your pro organization"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Default email for this mailbox"
          }
        },
        "allowedAccountId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "User to give full access",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emailpro#PostEmailProServiceAccountEmailFullAccess": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emailpro#PostEmailProServiceAccountEmailFullAccessRequest"
      },
      "output": {
        "target": "com.ovh.emailpro#EmailProTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/pro/{service}/account/{email}/fullAccess",
          "code": 200
        },
        "smithy.api#documentation": "Allow full access to a user"
      }
    },
    "com.ovh.emailpro#GetEmailProServiceAccountEmailFullAccessAllowedAccountIdRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        },
        "allowedAccountId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Allowed account ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emailpro#EmailProAccountFullAccess": {
      "type": "structure",
      "members": {
        "allowedAccountId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Account id to give full access"
          }
        },
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation date"
          }
        },
        "taskPendingId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Pending task id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Users having full access on this mailbox"
      }
    },
    "com.ovh.emailpro#GetEmailProServiceAccountEmailFullAccessAllowedAccountId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emailpro#GetEmailProServiceAccountEmailFullAccessAllowedAccountIdRequest"
      },
      "output": {
        "target": "com.ovh.emailpro#EmailProAccountFullAccess"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/pro/{service}/account/{email}/fullAccess/{allowedAccountId}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.emailpro#DeleteEmailProServiceAccountEmailFullAccessAllowedAccountIdRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your pro organization"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Default email for this mailbox"
          }
        },
        "allowedAccountId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Account id to give full access"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emailpro#DeleteEmailProServiceAccountEmailFullAccessAllowedAccountId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emailpro#DeleteEmailProServiceAccountEmailFullAccessAllowedAccountIdRequest"
      },
      "output": {
        "target": "com.ovh.emailpro#EmailProTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/email/pro/{service}/account/{email}/fullAccess/{allowedAccountId}",
          "code": 200
        },
        "smithy.api#documentation": "Revoke full access"
      }
    },
    "com.ovh.emailpro#GetEmailProServiceAccountEmailSendAsRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emailpro#GetEmailProServiceAccountEmailSendAsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.emailpro#GetEmailProServiceAccountEmailSendAsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.emailpro#GetEmailProServiceAccountEmailSendAsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emailpro#GetEmailProServiceAccountEmailSendAs": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emailpro#GetEmailProServiceAccountEmailSendAsRequest"
      },
      "output": {
        "target": "com.ovh.emailpro#GetEmailProServiceAccountEmailSendAsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/pro/{service}/account/{email}/sendAs",
          "code": 200
        },
        "smithy.api#documentation": "Send as granted users for this mailbox"
      }
    },
    "com.ovh.emailpro#PostEmailProServiceAccountEmailSendAsRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your pro organization"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Default email for this mailbox"
          }
        },
        "allowAccountId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Account id to allow to send mails from this mailbox",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emailpro#PostEmailProServiceAccountEmailSendAs": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emailpro#PostEmailProServiceAccountEmailSendAsRequest"
      },
      "output": {
        "target": "com.ovh.emailpro#EmailProTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/pro/{service}/account/{email}/sendAs",
          "code": 200
        },
        "smithy.api#documentation": "Allow another user to send mails from this mailbox"
      }
    },
    "com.ovh.emailpro#GetEmailProServiceAccountEmailSendAsAllowedAccountIdRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        },
        "allowedAccountId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Allowed account ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emailpro#EmailProAccountSendAs": {
      "type": "structure",
      "members": {
        "allowedAccountId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Account id to give send as"
          }
        },
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation date"
          }
        },
        "taskPendingId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Pending task id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Users authorized to send mails from this mailbox"
      }
    },
    "com.ovh.emailpro#GetEmailProServiceAccountEmailSendAsAllowedAccountId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emailpro#GetEmailProServiceAccountEmailSendAsAllowedAccountIdRequest"
      },
      "output": {
        "target": "com.ovh.emailpro#EmailProAccountSendAs"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/pro/{service}/account/{email}/sendAs/{allowedAccountId}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.emailpro#DeleteEmailProServiceAccountEmailSendAsAllowedAccountIdRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your pro organization"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Default email for this mailbox"
          }
        },
        "allowedAccountId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Account id to give send as"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emailpro#DeleteEmailProServiceAccountEmailSendAsAllowedAccountId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emailpro#DeleteEmailProServiceAccountEmailSendAsAllowedAccountIdRequest"
      },
      "output": {
        "target": "com.ovh.emailpro#EmailProTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/email/pro/{service}/account/{email}/sendAs/{allowedAccountId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete allowed user for sendAs"
      }
    },
    "com.ovh.emailpro#GetEmailProServiceAccountEmailSendOnBehalfToRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emailpro#GetEmailProServiceAccountEmailSendOnBehalfToResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.emailpro#GetEmailProServiceAccountEmailSendOnBehalfToResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.emailpro#GetEmailProServiceAccountEmailSendOnBehalfToResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emailpro#GetEmailProServiceAccountEmailSendOnBehalfTo": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emailpro#GetEmailProServiceAccountEmailSendOnBehalfToRequest"
      },
      "output": {
        "target": "com.ovh.emailpro#GetEmailProServiceAccountEmailSendOnBehalfToResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/pro/{service}/account/{email}/sendOnBehalfTo",
          "code": 200
        },
        "smithy.api#documentation": "SendOnBehalfTo granted users for this mailbox"
      }
    },
    "com.ovh.emailpro#PostEmailProServiceAccountEmailSendOnBehalfToRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your pro organization"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Default email for this mailbox"
          }
        },
        "allowAccountId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Account id to allow to send On Behalf To mails from this mailbox",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emailpro#PostEmailProServiceAccountEmailSendOnBehalfTo": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emailpro#PostEmailProServiceAccountEmailSendOnBehalfToRequest"
      },
      "output": {
        "target": "com.ovh.emailpro#EmailProTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/pro/{service}/account/{email}/sendOnBehalfTo",
          "code": 200
        },
        "smithy.api#documentation": "Allow another user to Send On Behalf To mails from this mailbox"
      }
    },
    "com.ovh.emailpro#GetEmailProServiceAccountEmailSendOnBehalfToAllowedAccountIdRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        },
        "allowedAccountId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Allowed account ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emailpro#EmailProAccountSendOnBehalfTo": {
      "type": "structure",
      "members": {
        "allowedAccountId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Account id to give send on behalf to"
          }
        },
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation date"
          }
        },
        "taskPendingId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Pending task id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Get users authorized to Send On Behalf To mails from this mailbox"
      }
    },
    "com.ovh.emailpro#GetEmailProServiceAccountEmailSendOnBehalfToAllowedAccountId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emailpro#GetEmailProServiceAccountEmailSendOnBehalfToAllowedAccountIdRequest"
      },
      "output": {
        "target": "com.ovh.emailpro#EmailProAccountSendOnBehalfTo"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/pro/{service}/account/{email}/sendOnBehalfTo/{allowedAccountId}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.emailpro#DeleteEmailProServiceAccountEmailSendOnBehalfToAllowedAccountIdRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your pro organization"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Default email for this mailbox"
          }
        },
        "allowedAccountId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Account id to give send on behalf to"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emailpro#DeleteEmailProServiceAccountEmailSendOnBehalfToAllowedAccountId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emailpro#DeleteEmailProServiceAccountEmailSendOnBehalfToAllowedAccountIdRequest"
      },
      "output": {
        "target": "com.ovh.emailpro#EmailProTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/email/pro/{service}/account/{email}/sendOnBehalfTo/{allowedAccountId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete allowed user for SendOnBehalfTo"
      }
    },
    "com.ovh.emailpro#GetEmailProServiceAccountEmailTasksRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emailpro#GetEmailProServiceAccountEmailTasksResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.emailpro#GetEmailProServiceAccountEmailTasksResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.emailpro#GetEmailProServiceAccountEmailTasksResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emailpro#GetEmailProServiceAccountEmailTasks": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emailpro#GetEmailProServiceAccountEmailTasksRequest"
      },
      "output": {
        "target": "com.ovh.emailpro#GetEmailProServiceAccountEmailTasksResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/pro/{service}/account/{email}/tasks",
          "code": 200
        },
        "smithy.api#documentation": "Pending task for this mailbox"
      }
    },
    "com.ovh.emailpro#GetEmailProServiceAccountEmailTasksIdRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emailpro#GetEmailProServiceAccountEmailTasksId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emailpro#GetEmailProServiceAccountEmailTasksIdRequest"
      },
      "output": {
        "target": "com.ovh.emailpro#EmailProTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/pro/{service}/account/{email}/tasks/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.emailpro#PostEmailProServiceAccountEmailTerminateRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your pro organization"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Default email for this mailbox"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emailpro#PostEmailProServiceAccountEmailTerminateResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emailpro#PostEmailProServiceAccountEmailTerminate": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emailpro#PostEmailProServiceAccountEmailTerminateRequest"
      },
      "output": {
        "target": "com.ovh.emailpro#PostEmailProServiceAccountEmailTerminateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/pro/{service}/account/{email}/terminate",
          "code": 200
        },
        "smithy.api#documentation": "Terminate account at expiration date"
      }
    },
    "com.ovh.emailpro#GetEmailProServiceBillingMigratedRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emailpro#GetEmailProServiceBillingMigratedResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emailpro#GetEmailProServiceBillingMigrated": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emailpro#GetEmailProServiceBillingMigratedRequest"
      },
      "output": {
        "target": "com.ovh.emailpro#GetEmailProServiceBillingMigratedResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/pro/{service}/billingMigrated",
          "code": 200
        },
        "smithy.api#documentation": "Detects billing transition status for the service"
      }
    },
    "com.ovh.emailpro#GetEmailProServiceBillingPlanRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emailpro#GetEmailProServiceBillingPlanResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emailpro#GetEmailProServiceBillingPlan": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emailpro#GetEmailProServiceBillingPlanRequest"
      },
      "output": {
        "target": "com.ovh.emailpro#GetEmailProServiceBillingPlanResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/pro/{service}/billingPlan",
          "code": 200
        },
        "smithy.api#documentation": "Emailpro billing plan"
      }
    },
    "com.ovh.emailpro#PostEmailProServiceChangeContactRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your pro organization"
          }
        },
        "contactAdmin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as admin contact"
          }
        },
        "contactBilling": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as billing contact"
          }
        },
        "contactTech": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as tech contact"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emailpro#PostEmailProServiceChangeContactResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.emailpro#PostEmailProServiceChangeContactResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.emailpro#PostEmailProServiceChangeContactResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emailpro#PostEmailProServiceChangeContact": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emailpro#PostEmailProServiceChangeContactRequest"
      },
      "output": {
        "target": "com.ovh.emailpro#PostEmailProServiceChangeContactResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/pro/{service}/changeContact",
          "code": 200
        },
        "smithy.api#documentation": "Launch a contact change procedure"
      }
    },
    "com.ovh.emailpro#GetEmailProServiceDomainRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service"
          }
        },
        "state": {
          "target": "com.ovh.emailpro#EmailProObjectStateEnum",
          "traits": {
            "smithy.api#httpQuery": "state",
            "smithy.api#documentation": "Filter the value of state property (=)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emailpro#GetEmailProServiceDomainResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.emailpro#GetEmailProServiceDomainResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.emailpro#GetEmailProServiceDomainResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emailpro#GetEmailProServiceDomain": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emailpro#GetEmailProServiceDomainRequest"
      },
      "output": {
        "target": "com.ovh.emailpro#GetEmailProServiceDomainResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/pro/{service}/domain",
          "code": 200
        },
        "smithy.api#documentation": "Domains associated to this service"
      }
    },
    "com.ovh.emailpro#EmailProDomainTypeEnum": {
      "type": "enum",
      "members": {
        "AUTHORITATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authoritative"
          }
        },
        "NONAUTHORITATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nonAuthoritative"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Domain type"
      }
    },
    "com.ovh.emailpro#PostEmailProServiceDomainRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your pro organization"
          }
        },
        "autoEnableDKIM": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable DKIM automatically after DKIM configuration"
          }
        },
        "configureAutodiscover": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If you host domain in OVH we can configure autodiscover record automatically"
          }
        },
        "configureDKIM": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Launch configuration of DKIM automatically for the domain"
          }
        },
        "configureMx": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If you host domain in OVH we can configure mx record automatically"
          }
        },
        "configureSPF": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable automatic SPF record (only for domains hosted by OVHcloud)"
          }
        },
        "mxRelay": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If specified, emails to not existing address will be redirected to that domain"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain to install on server",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.ovh.emailpro#EmailProDomainTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of domain that You want to install",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emailpro#PostEmailProServiceDomain": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emailpro#PostEmailProServiceDomainRequest"
      },
      "output": {
        "target": "com.ovh.emailpro#EmailProTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/pro/{service}/domain",
          "code": 200
        },
        "smithy.api#documentation": "Create new domain in pro services"
      }
    },
    "com.ovh.emailpro#GetEmailProServiceDomainDomainNameRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service"
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Domain name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emailpro#EmailProDomainNative": {
      "type": "structure",
      "members": {
        "cnameToCheck": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cname that will be checked to prove the domain ownership",
            "com.distilled.openapi#nullable": {}
          }
        },
        "dkimDiagnostics": {
          "target": "com.ovh.emailpro#EmailProDomainDkimDiagnostics",
          "traits": {
            "smithy.api#documentation": "Dkim selectors and DNS configuration state",
            "com.distilled.openapi#nullable": {}
          }
        },
        "domainAliases": {
          "target": "com.ovh.emailpro#EmailProDomainNativeDomainAliasesList",
          "traits": {
            "smithy.api#documentation": "List of aliases for this domain"
          }
        },
        "domainValidated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Domain validation status"
          }
        },
        "expectedAutodiscoverSRV": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Expected SRV record on this domain"
          }
        },
        "expectedMX": {
          "target": "com.ovh.emailpro#EmailProDomainNativeExpectedMXList",
          "traits": {
            "smithy.api#documentation": "Expected MX record(s) on this domain"
          }
        },
        "expectedSPF": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Expected SPF record on this domain"
          }
        },
        "isAliasDomain": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicate if this domain is an alias for another domain"
          }
        },
        "mxIsValid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true your DNS MX configuration is valid"
          }
        },
        "mxRecord": {
          "target": "com.ovh.emailpro#EmailProDomainNativeMxRecordList",
          "traits": {
            "smithy.api#documentation": "Domain MX record configured in DNS",
            "com.distilled.openapi#nullable": {}
          }
        },
        "mxRelay": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If specified, emails to not existing address will be redirected to that domain",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain name"
          }
        },
        "spfIsValid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "SPF record validation passed"
          }
        },
        "spfRecord": {
          "target": "com.ovh.emailpro#EmailProDomainNativeSpfRecordList",
          "traits": {
            "smithy.api#documentation": "Domain's SPF record configured in the DNS",
            "com.distilled.openapi#nullable": {}
          }
        },
        "srvIsValid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true your DNS SRV record is valid"
          }
        },
        "srvRecord": {
          "target": "com.ovh.emailpro#EmailProDomainNativeSrvRecordList",
          "traits": {
            "smithy.api#documentation": "Domain SRV record configured in DNS",
            "com.distilled.openapi#nullable": {}
          }
        },
        "state": {
          "target": "com.ovh.emailpro#EmailProObjectStateEnum",
          "traits": {
            "smithy.api#documentation": "Domain state"
          }
        },
        "taskPendingId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Pending tasks id"
          }
        },
        "type": {
          "target": "com.ovh.emailpro#EmailProDomainTypeEnum",
          "traits": {
            "smithy.api#documentation": "Domain type"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Domain"
      }
    },
    "com.ovh.emailpro#EmailProDomainDkimDiagnostics": {
      "type": "structure",
      "members": {
        "errorCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Error code related to misconfiguration of DKIM, if exists",
            "com.distilled.openapi#nullable": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DKIM misconfiguration description, if exists",
            "com.distilled.openapi#nullable": {}
          }
        },
        "state": {
          "target": "com.ovh.emailpro#EmailProDomainDkimDiagnosticsStateEnum",
          "traits": {
            "smithy.api#documentation": "State of DKIM selectors",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dkim selectors and DNS configuration state"
      }
    },
    "com.ovh.emailpro#EmailProDomainDkimDiagnosticsStateEnum": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
