{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.ovh.emaildomain#IamResourceTagFilterInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Resource tag filter"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainRequestIamTagsValueList": {
      "type": "list",
      "member": {
        "target": "com.ovh.emaildomain#IamResourceTagFilterInput"
      },
      "traits": {}
    },
    "com.ovh.emaildomain#GetEmailDomainRequestIamTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.ovh.emaildomain#GetEmailDomainRequestIamTagsValueList"
      },
      "traits": {}
    },
    "com.ovh.emaildomain#GetEmailDomainRequest": {
      "type": "structure",
      "members": {
        "iamTags": {
          "target": "com.ovh.emaildomain#GetEmailDomainRequestIamTagsMap",
          "traits": {
            "smithy.api#httpQuery": "iamTags",
            "smithy.api#documentation": "Filter resources on IAM tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#GetEmailDomainResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.emaildomain#GetEmailDomainResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.emaildomain#GetEmailDomainResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emaildomain#GetEmailDomain": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#GetEmailDomainRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#GetEmailDomainResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain",
          "code": 200
        },
        "smithy.api#documentation": "List available services"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDelegatedAccountRequest": {
      "type": "structure",
      "members": {
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "accountName",
            "smithy.api#documentation": "Name of email address"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "domain",
            "smithy.api#documentation": "Domain of email address"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDelegatedAccountResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.emaildomain#GetEmailDomainDelegatedAccountResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.emaildomain#GetEmailDomainDelegatedAccountResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDelegatedAccount": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#GetEmailDomainDelegatedAccountRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#GetEmailDomainDelegatedAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/delegatedAccount",
          "code": 200
        },
        "smithy.api#documentation": "Delegated emails"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDelegatedAccountEmailRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#EmailDomainAccountDelegated": {
      "type": "structure",
      "members": {
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of account"
          }
        },
        "allowedAccountSize": {
          "target": "com.ovh.emaildomain#EmailDomainAccountDelegatedAllowedAccountSizeList",
          "traits": {
            "smithy.api#documentation": "List of allowed sizes for this account in bytes",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account description"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of domain"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email"
          }
        },
        "isBlocked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true your account is blocked"
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size of your account in bytes"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Account List"
      }
    },
    "com.ovh.emaildomain#EmailDomainAccountDelegatedAllowedAccountSizeList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "List of allowed sizes for this account in bytes"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDelegatedAccountEmail": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#GetEmailDomainDelegatedAccountEmailRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainAccountDelegated"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/delegatedAccount/{email}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.emaildomain#PutEmailDomainDelegatedAccountEmailRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account description"
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size of your account in bytes"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#PutEmailDomainDelegatedAccountEmail": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#PutEmailDomainDelegatedAccountEmailRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/email/domain/delegatedAccount/{email}",
          "code": 200
        },
        "smithy.api#documentation": "Alter this object properties"
      }
    },
    "com.ovh.emaildomain#PostEmailDomainDelegatedAccountEmailChangePasswordRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New password",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#EmailDomainTaskPop": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.ovh.emaildomain#DomainDomainPopActionEnum",
          "traits": {
            "smithy.api#documentation": "Action of task"
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation date of task"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain name of task"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Id of task"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account name of task"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Task Pop List"
      }
    },
    "com.ovh.emaildomain#DomainDomainPopActionEnum": {
      "type": "enum",
      "members": {
        "ADDACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "addAccount"
          }
        },
        "CHANGEACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "changeAccount"
          }
        },
        "CHANGEPASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "changePassword"
          }
        },
        "DELETEACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleteAccount"
          }
        },
        "INTERNALMIGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "internalMigration"
          }
        },
        "MIGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "migration"
          }
        },
        "TEMPORARYTASK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "temporaryTask"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for pop action task"
      }
    },
    "com.ovh.emaildomain#PostEmailDomainDelegatedAccountEmailChangePassword": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#PostEmailDomainDelegatedAccountEmailChangePasswordRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainTaskPop"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/domain/delegatedAccount/{email}/changePassword",
          "code": 200
        },
        "smithy.api#documentation": "Change mailbox password (length : [9;30], no space at begin and end, no accent)"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDelegatedAccountEmailFilterRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDelegatedAccountEmailFilterResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.emaildomain#GetEmailDomainDelegatedAccountEmailFilterResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.emaildomain#GetEmailDomainDelegatedAccountEmailFilterResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDelegatedAccountEmailFilter": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#GetEmailDomainDelegatedAccountEmailFilterRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#GetEmailDomainDelegatedAccountEmailFilterResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/delegatedAccount/{email}/filter",
          "code": 200
        },
        "smithy.api#documentation": "Get filters"
      }
    },
    "com.ovh.emaildomain#DomainDomainFilterActionEnum": {
      "type": "enum",
      "members": {
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        },
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete"
          }
        },
        "REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redirect"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for filter action"
      }
    },
    "com.ovh.emaildomain#DomainDomainFilterOperandEnum": {
      "type": "enum",
      "members": {
        "CHECKSPF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "checkspf"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contains"
          }
        },
        "NOCONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "noContains"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for filter operation"
      }
    },
    "com.ovh.emaildomain#PostEmailDomainDelegatedAccountEmailFilterRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        },
        "action": {
          "target": "com.ovh.emaildomain#DomainDomainFilterActionEnum",
          "traits": {
            "smithy.api#documentation": "Action of filter",
            "smithy.api#required": {}
          }
        },
        "actionParam": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Action parameter of filter"
          }
        },
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true filter is active",
            "smithy.api#required": {}
          }
        },
        "header": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Header to be filtered",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter name",
            "smithy.api#required": {}
          }
        },
        "operand": {
          "target": "com.ovh.emaildomain#DomainDomainFilterOperandEnum",
          "traits": {
            "smithy.api#documentation": "Rule of filter",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Priority of filter",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rule parameter of filter",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#EmailDomainTaskFilter": {
      "type": "structure",
      "members": {
        "account": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account name of task"
          }
        },
        "action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Action of task"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain name of task"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Id of task"
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation date of task"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Task filter List"
      }
    },
    "com.ovh.emaildomain#PostEmailDomainDelegatedAccountEmailFilter": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#PostEmailDomainDelegatedAccountEmailFilterRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainTaskFilter"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/domain/delegatedAccount/{email}/filter",
          "code": 200
        },
        "smithy.api#documentation": "Create new filter for account"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDelegatedAccountEmailFilterNameRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#EmailDomainFilter": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.ovh.emaildomain#DomainDomainFilterActionEnum",
          "traits": {
            "smithy.api#documentation": "Action of filter",
            "com.distilled.openapi#nullable": {}
          }
        },
        "actionParam": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Action parameter of filter",
            "com.distilled.openapi#nullable": {}
          }
        },
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true filter is active"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain name of filter"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter name"
          }
        },
        "pop": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account name of filter"
          }
        },
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Priority of filter"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter List"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDelegatedAccountEmailFilterName": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#GetEmailDomainDelegatedAccountEmailFilterNameRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainFilter"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/delegatedAccount/{email}/filter/{name}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainDelegatedAccountEmailFilterNameRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainDelegatedAccountEmailFilterNameResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.emaildomain#EmailDomainTaskFilter"
      },
      "traits": {}
    },
    "com.ovh.emaildomain#DeleteEmailDomainDelegatedAccountEmailFilterNameResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.emaildomain#DeleteEmailDomainDelegatedAccountEmailFilterNameResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainDelegatedAccountEmailFilterName": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#DeleteEmailDomainDelegatedAccountEmailFilterNameRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#DeleteEmailDomainDelegatedAccountEmailFilterNameResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/email/domain/delegatedAccount/{email}/filter/{name}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an existing filter"
      }
    },
    "com.ovh.emaildomain#PostEmailDomainDelegatedAccountEmailFilterNameChangeActivityRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter name"
          }
        },
        "activity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "New activity",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#PostEmailDomainDelegatedAccountEmailFilterNameChangeActivity": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#PostEmailDomainDelegatedAccountEmailFilterNameChangeActivityRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainTaskFilter"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/domain/delegatedAccount/{email}/filter/{name}/changeActivity",
          "code": 200
        },
        "smithy.api#documentation": "Change filter activity"
      }
    },
    "com.ovh.emaildomain#PostEmailDomainDelegatedAccountEmailFilterNameChangePriorityRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter name"
          }
        },
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "New priority",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#PostEmailDomainDelegatedAccountEmailFilterNameChangePriority": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#PostEmailDomainDelegatedAccountEmailFilterNameChangePriorityRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainTaskFilter"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/domain/delegatedAccount/{email}/filter/{name}/changePriority",
          "code": 200
        },
        "smithy.api#documentation": "Change filter priority"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDelegatedAccountEmailFilterNameRuleRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDelegatedAccountEmailFilterNameRuleResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.emaildomain#GetEmailDomainDelegatedAccountEmailFilterNameRuleResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.emaildomain#GetEmailDomainDelegatedAccountEmailFilterNameRuleResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDelegatedAccountEmailFilterNameRule": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#GetEmailDomainDelegatedAccountEmailFilterNameRuleRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#GetEmailDomainDelegatedAccountEmailFilterNameRuleResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/delegatedAccount/{email}/filter/{name}/rule",
          "code": 200
        },
        "smithy.api#documentation": "Get rules"
      }
    },
    "com.ovh.emaildomain#PostEmailDomainDelegatedAccountEmailFilterNameRuleRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter name"
          }
        },
        "header": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Header to be filtered",
            "smithy.api#required": {}
          }
        },
        "operand": {
          "target": "com.ovh.emaildomain#DomainDomainFilterOperandEnum",
          "traits": {
            "smithy.api#documentation": "Rule of filter",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rule parameter of filter",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#PostEmailDomainDelegatedAccountEmailFilterNameRule": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#PostEmailDomainDelegatedAccountEmailFilterNameRuleRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainTaskFilter"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/domain/delegatedAccount/{email}/filter/{name}/rule",
          "code": 200
        },
        "smithy.api#documentation": "Create new rule for filter"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDelegatedAccountEmailFilterNameRuleIdRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter name"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#EmailDomainRule": {
      "type": "structure",
      "members": {
        "header": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Header to be filtered"
          }
        },
        "id": {
          "target": "smithy.api#Integer"
        },
        "operand": {
          "target": "com.ovh.emaildomain#DomainDomainFilterOperandEnum",
          "traits": {
            "smithy.api#documentation": "Rule of filter"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rule parameter of filter"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Rule List"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDelegatedAccountEmailFilterNameRuleId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#GetEmailDomainDelegatedAccountEmailFilterNameRuleIdRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainRule"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/delegatedAccount/{email}/filter/{name}/rule/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainDelegatedAccountEmailFilterNameRuleIdRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter name"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainDelegatedAccountEmailFilterNameRuleIdResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.emaildomain#EmailDomainTaskFilter"
      },
      "traits": {}
    },
    "com.ovh.emaildomain#DeleteEmailDomainDelegatedAccountEmailFilterNameRuleIdResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.emaildomain#DeleteEmailDomainDelegatedAccountEmailFilterNameRuleIdResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainDelegatedAccountEmailFilterNameRuleId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#DeleteEmailDomainDelegatedAccountEmailFilterNameRuleIdRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#DeleteEmailDomainDelegatedAccountEmailFilterNameRuleIdResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/email/domain/delegatedAccount/{email}/filter/{name}/rule/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an existing filter"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDelegatedAccountEmailResponderRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#EmailDomainResponderAccount": {
      "type": "structure",
      "members": {
        "account": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of account"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content of responder"
          }
        },
        "copy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, emails will be copy to emailToCopy address"
          }
        },
        "copyTo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account where copy emails",
            "com.distilled.openapi#nullable": {}
          }
        },
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of start responder",
            "com.distilled.openapi#nullable": {}
          }
        },
        "to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of end responder",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Responder of account"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDelegatedAccountEmailResponder": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#GetEmailDomainDelegatedAccountEmailResponderRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainResponderAccount"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/delegatedAccount/{email}/responder",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.emaildomain#PostEmailDomainDelegatedAccountEmailResponderRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content of responder",
            "smithy.api#required": {}
          }
        },
        "copy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, emails will be copy to emailToCopy address",
            "smithy.api#required": {}
          }
        },
        "copyTo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account where copy emails"
          }
        },
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of start responder"
          }
        },
        "to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of end responder"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#EmailDomainTaskSpecialAccount": {
      "type": "structure",
      "members": {
        "account": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account name of task"
          }
        },
        "action": {
          "target": "com.ovh.emaildomain#DomainDomainSpecialAccountActionEnum",
          "traits": {
            "smithy.api#documentation": "Action of task"
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation date of task"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain name of task"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of task"
          }
        },
        "type": {
          "target": "com.ovh.emaildomain#DomainDomainSpecialAccountTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of action filter"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Task special account List"
      }
    },
    "com.ovh.emaildomain#DomainDomainSpecialAccountActionEnum": {
      "type": "enum",
      "members": {
        "ADD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "add"
          }
        },
        "CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "change"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for pop action task"
      }
    },
    "com.ovh.emaildomain#DomainDomainSpecialAccountTypeEnum": {
      "type": "enum",
      "members": {
        "_25G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "25g"
          }
        },
        "ALIAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alias"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete"
          }
        },
        "FILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "filter"
          }
        },
        "FORWARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "forward"
          }
        },
        "RESPONDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "responder"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible type task"
      }
    },
    "com.ovh.emaildomain#PostEmailDomainDelegatedAccountEmailResponder": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#PostEmailDomainDelegatedAccountEmailResponderRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainTaskSpecialAccount"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/domain/delegatedAccount/{email}/responder",
          "code": 200
        },
        "smithy.api#documentation": "Create new responder in server"
      }
    },
    "com.ovh.emaildomain#PutEmailDomainDelegatedAccountEmailResponderRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content of responder"
          }
        },
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of start responder",
            "com.distilled.openapi#nullable": {}
          }
        },
        "to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of end responder",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#PutEmailDomainDelegatedAccountEmailResponder": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#PutEmailDomainDelegatedAccountEmailResponderRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/email/domain/delegatedAccount/{email}/responder",
          "code": 200
        },
        "smithy.api#documentation": "Alter this object properties"
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainDelegatedAccountEmailResponderRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainDelegatedAccountEmailResponder": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#DeleteEmailDomainDelegatedAccountEmailResponderRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainTaskSpecialAccount"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/email/domain/delegatedAccount/{email}/responder",
          "code": 200
        },
        "smithy.api#documentation": "Delete an existing responder in server"
      }
    },
    "com.ovh.emaildomain#PostEmailDomainDelegatedAccountEmailUpdateUsageRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#PostEmailDomainDelegatedAccountEmailUpdateUsage": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#PostEmailDomainDelegatedAccountEmailUpdateUsageRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/domain/delegatedAccount/{email}/updateUsage",
          "code": 200
        },
        "smithy.api#documentation": "Update usage of account"
      }
    },
    "com.ovh.emaildomain#PostEmailDomainDelegatedAccountEmailUsageRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#DomainDomainUsageAccountStruct": {
      "type": "structure",
      "members": {
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp",
            "com.distilled.openapi#nullable": {}
          }
        },
        "emailCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of message in mailbox",
            "com.distilled.openapi#nullable": {}
          }
        },
        "quota": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size of mailbox (bytes)",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Structure of usage account"
      }
    },
    "com.ovh.emaildomain#PostEmailDomainDelegatedAccountEmailUsage": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#PostEmailDomainDelegatedAccountEmailUsageRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#DomainDomainUsageAccountStruct"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/domain/delegatedAccount/{email}/usage",
          "code": 200
        },
        "smithy.api#documentation": "usage of account"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainMailingListLimitsRequest": {
      "type": "structure",
      "members": {
        "moderatorMessage": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "moderatorMessage",
            "smithy.api#required": {},
            "smithy.api#documentation": "If true, messages are moderate"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#DomainDomainMlLimits": {
      "type": "structure",
      "members": {
        "subscribers": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of subscribers"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Structure of mailinglist limits"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainMailingListLimits": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#GetEmailDomainMailingListLimitsRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#DomainDomainMlLimits"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/mailingListLimits",
          "code": 200
        },
        "smithy.api#documentation": "Get limits of mailing list"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDomainRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#EmailDomainDomainServiceWithIAM": {
      "type": "structure",
      "members": {
        "allowedAccountSize": {
          "target": "com.ovh.emaildomain#EmailDomainDomainServiceWithIAMAllowedAccountSizeList",
          "traits": {
            "smithy.api#documentation": "List of allowed sizes for this domain in bytes",
            "com.distilled.openapi#nullable": {}
          }
        },
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation date of domain",
            "com.distilled.openapi#nullable": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of domain"
          }
        },
        "filerz": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Filerz of domain",
            "com.distilled.openapi#nullable": {}
          }
        },
        "iam": {
          "target": "com.ovh.emaildomain#IamResourceMetadata",
          "traits": {
            "smithy.api#documentation": "IAM resource metadata",
            "com.distilled.openapi#nullable": {}
          }
        },
        "isMXValid": {
          "target": "com.ovh.emaildomain#EmailDomainDiagnoseEnum",
          "traits": {
            "smithy.api#documentation": "Result of MX check if current MX fit to OVH recommendations"
          }
        },
        "isSPFValid": {
          "target": "com.ovh.emaildomain#EmailDomainDiagnoseEnum",
          "traits": {
            "smithy.api#documentation": "Result of SPF check if current SPF fit to OVH recommendations"
          }
        },
        "linkTo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of servicelinked with this domain",
            "com.distilled.openapi#nullable": {}
          }
        },
        "migratedMXPlanServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of new MXPlan service",
            "com.distilled.openapi#nullable": {}
          }
        },
        "offer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Offer of email service",
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.ovh.emaildomain#DomainDomainStatusEnum",
          "traits": {
            "smithy.api#documentation": "Domain Status"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Domain service"
      }
    },
    "com.ovh.emaildomain#EmailDomainDomainServiceWithIAMAllowedAccountSizeList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "List of allowed sizes for this domain in bytes"
      }
    },
    "com.ovh.emaildomain#IamResourceMetadata": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource display name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the resource"
          }
        },
        "state": {
          "target": "com.ovh.emaildomain#IamResourceMetadataStateEnum",
          "traits": {
            "smithy.api#documentation": "Resource state",
            "com.distilled.openapi#nullable": {}
          }
        },
        "tags": {
          "target": "com.ovh.emaildomain#IamResourceMetadataTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:",
            "com.distilled.openapi#nullable": {}
          }
        },
        "urn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique resource name used in policies"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IAM resource metadata embedded in services models"
      }
    },
    "com.ovh.emaildomain#IamResourceMetadataStateEnum": {
      "type": "enum",
      "members": {
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        },
        "IN_CREATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_CREATION"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OK"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource state"
      }
    },
    "com.ovh.emaildomain#IamResourceMetadataTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:"
      }
    },
    "com.ovh.emaildomain#EmailDomainDiagnoseEnum": {
      "type": "enum",
      "members": {
        "CHECKFAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "checkFail"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invalid"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        },
        "VALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "valid"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result value for diagnose"
      }
    },
    "com.ovh.emaildomain#DomainDomainStatusEnum": {
      "type": "enum",
      "members": {
        "CLOSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "close"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "READONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "readOnly"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for status domain"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDomain": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#GetEmailDomainDomainRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainDomainServiceWithIAM"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/{domain}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDomainAccountRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "accountName",
            "smithy.api#documentation": "Account name"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "description",
            "smithy.api#documentation": "Account description"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDomainAccountResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.emaildomain#GetEmailDomainDomainAccountResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.emaildomain#GetEmailDomainDomainAccountResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDomainAccount": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#GetEmailDomainDomainAccountRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#GetEmailDomainDomainAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/{domain}/account",
          "code": 200
        },
        "smithy.api#documentation": "Get accounts"
      }
    },
    "com.ovh.emaildomain#PostEmailDomainDomainAccountRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account name",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description Account"
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account password",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Account size in bytes (default : 5000000000) (possible values : /email/domain/{domain}/allowedAccountSize )"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#PostEmailDomainDomainAccount": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#PostEmailDomainDomainAccountRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainTaskPop"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/domain/{domain}/account",
          "code": 200
        },
        "smithy.api#documentation": "Create new mailbox in server"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#EmailDomainAccount": {
      "type": "structure",
      "members": {
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of account"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account description"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of domain"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email"
          }
        },
        "isBlocked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true your account is blocked"
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size of your account in bytes"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Account List"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountName": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainAccount"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/{domain}/account/{accountName}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.emaildomain#PutEmailDomainDomainAccountAccountNameRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account description"
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size of your account in bytes"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#PutEmailDomainDomainAccountAccountName": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#PutEmailDomainDomainAccountAccountNameRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/email/domain/{domain}/account/{accountName}",
          "code": 200
        },
        "smithy.api#documentation": "Alter this object properties"
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainDomainAccountAccountNameRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainDomainAccountAccountName": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#DeleteEmailDomainDomainAccountAccountNameRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainTaskPop"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/email/domain/{domain}/account/{accountName}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an existing mailbox in server"
      }
    },
    "com.ovh.emaildomain#PostEmailDomainDomainAccountAccountNameChangePasswordRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New password",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#PostEmailDomainDomainAccountAccountNameChangePassword": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#PostEmailDomainDomainAccountAccountNameChangePasswordRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainTaskPop"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/domain/{domain}/account/{accountName}/changePassword",
          "code": 200
        },
        "smithy.api#documentation": "Change mailbox password (length : [9;30], no space at begin and end, no accent)"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameDelegationRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameDelegationResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameDelegationResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameDelegationResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameDelegation": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameDelegationRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameDelegationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/{domain}/account/{accountName}/delegation",
          "code": 200
        },
        "smithy.api#documentation": "Get delegations"
      }
    },
    "com.ovh.emaildomain#PostEmailDomainDomainAccountAccountNameDelegationRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OVH customer unique identifier",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#PostEmailDomainDomainAccountAccountNameDelegationResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emaildomain#PostEmailDomainDomainAccountAccountNameDelegation": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#PostEmailDomainDomainAccountAccountNameDelegationRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#PostEmailDomainDomainAccountAccountNameDelegationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/domain/{domain}/account/{accountName}/delegation",
          "code": 200
        },
        "smithy.api#documentation": "Create delegation for this account"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameDelegationAccountIdRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "OVH customer unique identifier"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#EmailDomainDelegation": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OVH customer unique identifier"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Delegation List"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameDelegationAccountId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameDelegationAccountIdRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainDelegation"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/{domain}/account/{accountName}/delegation/{accountId}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainDomainAccountAccountNameDelegationAccountIdRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "OVH customer unique identifier"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainDomainAccountAccountNameDelegationAccountIdResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainDomainAccountAccountNameDelegationAccountId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#DeleteEmailDomainDomainAccountAccountNameDelegationAccountIdRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#DeleteEmailDomainDomainAccountAccountNameDelegationAccountIdResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/email/domain/{domain}/account/{accountName}/delegation/{accountId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an existing delegation"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameFilterRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameFilterResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameFilterResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameFilterResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameFilter": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameFilterRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameFilterResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/{domain}/account/{accountName}/filter",
          "code": 200
        },
        "smithy.api#documentation": "Get filters"
      }
    },
    "com.ovh.emaildomain#PostEmailDomainDomainAccountAccountNameFilterRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        },
        "action": {
          "target": "com.ovh.emaildomain#DomainDomainFilterActionEnum",
          "traits": {
            "smithy.api#documentation": "Action of filter",
            "smithy.api#required": {}
          }
        },
        "actionParam": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Action parameter of filter"
          }
        },
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true filter is active",
            "smithy.api#required": {}
          }
        },
        "header": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Header to be filtered",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter name",
            "smithy.api#required": {}
          }
        },
        "operand": {
          "target": "com.ovh.emaildomain#DomainDomainFilterOperandEnum",
          "traits": {
            "smithy.api#documentation": "Rule of filter",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Priority of filter",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rule parameter of filter",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#PostEmailDomainDomainAccountAccountNameFilter": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#PostEmailDomainDomainAccountAccountNameFilterRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainTaskFilter"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/domain/{domain}/account/{accountName}/filter",
          "code": 200
        },
        "smithy.api#documentation": "Create new filter for account"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameFilterNameRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameFilterName": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameFilterNameRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainFilter"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/{domain}/account/{accountName}/filter/{name}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainDomainAccountAccountNameFilterNameRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainDomainAccountAccountNameFilterNameResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.emaildomain#EmailDomainTaskFilter"
      },
      "traits": {}
    },
    "com.ovh.emaildomain#DeleteEmailDomainDomainAccountAccountNameFilterNameResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.emaildomain#DeleteEmailDomainDomainAccountAccountNameFilterNameResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainDomainAccountAccountNameFilterName": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#DeleteEmailDomainDomainAccountAccountNameFilterNameRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#DeleteEmailDomainDomainAccountAccountNameFilterNameResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/email/domain/{domain}/account/{accountName}/filter/{name}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an existing filter"
      }
    },
    "com.ovh.emaildomain#PostEmailDomainDomainAccountAccountNameFilterNameChangeActivityRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter name"
          }
        },
        "activity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "New activity",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#PostEmailDomainDomainAccountAccountNameFilterNameChangeActivity": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#PostEmailDomainDomainAccountAccountNameFilterNameChangeActivityRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainTaskFilter"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/domain/{domain}/account/{accountName}/filter/{name}/changeActivity",
          "code": 200
        },
        "smithy.api#documentation": "Change filter activity"
      }
    },
    "com.ovh.emaildomain#PostEmailDomainDomainAccountAccountNameFilterNameChangePriorityRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter name"
          }
        },
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "New priority",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#PostEmailDomainDomainAccountAccountNameFilterNameChangePriority": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#PostEmailDomainDomainAccountAccountNameFilterNameChangePriorityRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainTaskFilter"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/domain/{domain}/account/{accountName}/filter/{name}/changePriority",
          "code": 200
        },
        "smithy.api#documentation": "Change filter priority"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameFilterNameRuleRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameFilterNameRuleResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameFilterNameRuleResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameFilterNameRuleResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameFilterNameRule": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameFilterNameRuleRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameFilterNameRuleResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/{domain}/account/{accountName}/filter/{name}/rule",
          "code": 200
        },
        "smithy.api#documentation": "Get rules"
      }
    },
    "com.ovh.emaildomain#PostEmailDomainDomainAccountAccountNameFilterNameRuleRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter name"
          }
        },
        "header": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Header to be filtered",
            "smithy.api#required": {}
          }
        },
        "operand": {
          "target": "com.ovh.emaildomain#DomainDomainFilterOperandEnum",
          "traits": {
            "smithy.api#documentation": "Rule of filter",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rule parameter of filter",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#PostEmailDomainDomainAccountAccountNameFilterNameRule": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#PostEmailDomainDomainAccountAccountNameFilterNameRuleRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainTaskFilter"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/email/domain/{domain}/account/{accountName}/filter/{name}/rule",
          "code": 200
        },
        "smithy.api#documentation": "Create new rule for filter"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameFilterNameRuleIdRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter name"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameFilterNameRuleId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameFilterNameRuleIdRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#EmailDomainRule"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/{domain}/account/{accountName}/filter/{name}/rule/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainDomainAccountAccountNameFilterNameRuleIdRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter name"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainDomainAccountAccountNameFilterNameRuleIdResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.emaildomain#EmailDomainTaskFilter"
      },
      "traits": {}
    },
    "com.ovh.emaildomain#DeleteEmailDomainDomainAccountAccountNameFilterNameRuleIdResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.emaildomain#DeleteEmailDomainDomainAccountAccountNameFilterNameRuleIdResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emaildomain#DeleteEmailDomainDomainAccountAccountNameFilterNameRuleId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#DeleteEmailDomainDomainAccountAccountNameFilterNameRuleIdRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#DeleteEmailDomainDomainAccountAccountNameFilterNameRuleIdResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/email/domain/{domain}/account/{accountName}/filter/{name}/rule/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an existing filter"
      }
    },
    "com.ovh.emaildomain#EmailDomainMigrationServiceType": {
      "type": "enum",
      "members": {
        "EMAIL_PRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMAIL PRO"
          }
        },
        "HOSTED_EXCHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOSTED EXCHANGE"
          }
        },
        "PRIVATE_EXCHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE EXCHANGE"
          }
        },
        "PROVIDER_EXCHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVIDER EXCHANGE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Types of migration service"
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameMigrateRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of your domain name"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account"
          }
        },
        "type": {
          "target": "com.ovh.emaildomain#EmailDomainMigrationServiceType",
          "traits": {
            "smithy.api#httpQuery": "type",
            "smithy.api#documentation": "Type of migration service"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameMigrateResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameMigrateResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameMigrateResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameMigrate": {
      "type": "operation",
      "input": {
        "target": "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameMigrateRequest"
      },
      "output": {
        "target": "com.ovh.emaildomain#GetEmailDomainDomainAccountAccountNameMigrateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/email/domain/{domain}/account/{accountName}/migrate",
          "code": 200
[...]
