{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.ovh.hostingprivatedatabase#IamResourceTagFilterInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Resource tag filter"
      }
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseRequestIamTagsValueList": {
      "type": "list",
      "member": {
        "target": "com.ovh.hostingprivatedatabase#IamResourceTagFilterInput"
      },
      "traits": {}
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseRequestIamTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseRequestIamTagsValueList"
      },
      "traits": {}
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseRequest": {
      "type": "structure",
      "members": {
        "iamTags": {
          "target": "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseRequestIamTagsMap",
          "traits": {
            "smithy.api#httpQuery": "iamTags",
            "smithy.api#documentation": "Filter resources on IAM tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabase": {
      "type": "operation",
      "input": {
        "target": "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseRequest"
      },
      "output": {
        "target": "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/hosting/privateDatabase",
          "code": 200
        },
        "smithy.api#documentation": "List available Web Cloud Databases"
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseOfferEnum": {
      "type": "enum",
      "members": {
        "CLASSIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "classic"
          }
        },
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Available offers"
      }
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseAvailableOrderCapacitiesRequest": {
      "type": "structure",
      "members": {
        "offer": {
          "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseOfferEnum",
          "traits": {
            "smithy.api#httpQuery": "offer",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseAvailableOrderCapacities": {
      "type": "structure",
      "members": {
        "datacenter": {
          "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseAvailableOrderCapacitiesDatacenterList",
          "traits": {
            "smithy.api#documentation": "A list of datacenter available for this offer"
          }
        },
        "offer": {
          "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseOfferEnum",
          "traits": {
            "smithy.api#documentation": "Offer"
          }
        },
        "ram": {
          "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseAvailableOrderCapacitiesRamList",
          "traits": {
            "smithy.api#documentation": "A list of ram size available for this offer"
          }
        },
        "version": {
          "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseAvailableOrderCapacitiesVersionList",
          "traits": {
            "smithy.api#documentation": "A list of version available for this offer"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Description for available order capacities following an offer"
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseDatacenterEnum": {
      "type": "enum",
      "members": {
        "BHS1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bhs1"
          }
        },
        "GRA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gra1"
          }
        },
        "GRA2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gra2"
          }
        },
        "GRA3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gra3"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Private database datacenter"
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseAvailableOrderCapacitiesDatacenterList": {
      "type": "list",
      "member": {
        "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseDatacenterEnum"
      },
      "traits": {
        "smithy.api#documentation": "A list of datacenter available for this offer"
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseAvailableRamSizeEnum": {
      "type": "enum",
      "members": {
        "_1024": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1024"
          }
        },
        "_2048": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "2048"
          }
        },
        "_4096": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "4096"
          }
        },
        "_512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "512"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Private database available ram sizes"
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseAvailableOrderCapacitiesRamList": {
      "type": "list",
      "member": {
        "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseAvailableRamSizeEnum"
      },
      "traits": {
        "smithy.api#documentation": "A list of ram size available for this offer"
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseAvailableVersionEnum": {
      "type": "enum",
      "members": {
        "MARIADB_10_11": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mariadb_10.11"
          }
        },
        "MARIADB_10_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mariadb_10.5"
          }
        },
        "MARIADB_10_6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mariadb_10.6"
          }
        },
        "MARIADB_11_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mariadb_11.4"
          }
        },
        "MYSQL_8_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql_8.0"
          }
        },
        "MYSQL_8_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql_8.4"
          }
        },
        "POSTGRESQL_13": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql_13"
          }
        },
        "POSTGRESQL_14": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql_14"
          }
        },
        "POSTGRESQL_15": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql_15"
          }
        },
        "POSTGRESQL_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql_16"
          }
        },
        "POSTGRESQL_17": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql_17"
          }
        },
        "REDIS_7_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redis_7.0"
          }
        },
        "VALKEY_7_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "valkey_7.2"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Private database available version"
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseAvailableOrderCapacitiesVersionList": {
      "type": "list",
      "member": {
        "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseAvailableVersionEnum"
      },
      "traits": {
        "smithy.api#documentation": "A list of version available for this offer"
      }
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseAvailableOrderCapacities": {
      "type": "operation",
      "input": {
        "target": "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseAvailableOrderCapacitiesRequest"
      },
      "output": {
        "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseAvailableOrderCapacities"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/hosting/privateDatabase/availableOrderCapacities",
          "code": 200
        },
        "smithy.api#documentation": "Get available order capacities"
      }
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseServiceWithIAM": {
      "type": "structure",
      "members": {
        "capabilities": {
          "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseServiceWithIAMCapabilitiesList",
          "traits": {
            "smithy.api#documentation": "Private database capabilities"
          }
        },
        "cpu": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of cpu on your private database"
          }
        },
        "datacenter": {
          "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseDatacenterEnum",
          "traits": {
            "smithy.api#documentation": "Datacenter where this private database is located"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name displayed in customer panel for your private database (max 50 chars)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "graphEndpoint": {
          "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseGraphEndpoint",
          "traits": {
            "smithy.api#documentation": "Parameters required to query metrics from OpenTSDB",
            "com.distilled.openapi#nullable": {}
          }
        },
        "guiURL": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL for the graphical user interface",
            "com.distilled.openapi#nullable": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Private database hostname"
          }
        },
        "hostnameFtp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Private database ftp hostname",
            "com.distilled.openapi#nullable": {}
          }
        },
        "iam": {
          "target": "com.ovh.hostingprivatedatabase#IamResourceMetadata",
          "traits": {
            "smithy.api#documentation": "IAM resource metadata",
            "com.distilled.openapi#nullable": {}
          }
        },
        "infrastructure": {
          "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseInfrastructureEnum",
          "traits": {
            "smithy.api#documentation": "Infrastructure where service was stored"
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Private database ip",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lastCheck": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of the last data synchronization"
          }
        },
        "offer": {
          "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseOfferEnum",
          "traits": {
            "smithy.api#documentation": "Type of the private database offer"
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Private database service port"
          }
        },
        "portFtp": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Private database ftp port",
            "com.distilled.openapi#nullable": {}
          }
        },
        "quotaSize": {
          "target": "com.ovh.hostingprivatedatabase#ComplexTypeUnitAndValueLong",
          "traits": {
            "smithy.api#documentation": "Space allowed on your private database"
          }
        },
        "quotaUsed": {
          "target": "com.ovh.hostingprivatedatabase#ComplexTypeUnitAndValueLong",
          "traits": {
            "smithy.api#documentation": "Total space used on your private database"
          }
        },
        "ram": {
          "target": "com.ovh.hostingprivatedatabase#ComplexTypeUnitAndValueLong",
          "traits": {
            "smithy.api#documentation": "Amount of ram on your private database"
          }
        },
        "server": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Private database server name"
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service name"
          }
        },
        "state": {
          "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseStateEnum",
          "traits": {
            "smithy.api#documentation": "Private database state"
          }
        },
        "tlsCa": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return the TLS certificate authority used by the private database",
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseTypeEnum",
          "traits": {
            "smithy.api#documentation": "Private database type"
          }
        },
        "version": {
          "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseVersionEnum",
          "traits": {
            "smithy.api#documentation": "Private database version"
          }
        },
        "versionLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Private database version label"
          }
        },
        "versionNumber": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Private database version number"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Web Cloud Database"
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseCapability": {
      "type": "structure",
      "members": {
        "create": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Can the object be created"
          }
        },
        "delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Can the object be deleted"
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Object name"
          }
        },
        "update": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Can the object be updated"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Private database capability"
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseServiceWithIAMCapabilitiesList": {
      "type": "list",
      "member": {
        "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseCapability"
      },
      "traits": {
        "smithy.api#documentation": "Private database capabilities"
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseGraphEndpoint": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The OpenTSDB host",
            "com.distilled.openapi#nullable": {}
          }
        },
        "readToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A read-only token",
            "com.distilled.openapi#nullable": {}
          }
        },
        "readTokenId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A read-only token ID",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Parameters required to query metrics from OpenTSDB"
      }
    },
    "com.ovh.hostingprivatedatabase#IamResourceMetadata": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource display name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the resource"
          }
        },
        "tags": {
          "target": "com.ovh.hostingprivatedatabase#IamResourceMetadataTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:",
            "com.distilled.openapi#nullable": {}
          }
        },
        "urn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique resource name used in policies"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IAM resource metadata embedded in services models"
      }
    },
    "com.ovh.hostingprivatedatabase#IamResourceMetadataTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:"
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseInfrastructureEnum": {
      "type": "enum",
      "members": {
        "DOCKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "docker"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Private database infrastructure"
      }
    },
    "com.ovh.hostingprivatedatabase#ComplexTypeUnitAndValueLong": {
      "type": "structure",
      "members": {
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unit of the value"
          }
        },
        "value": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#documentation": "A numeric value tagged with its unit"
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseStateEnum": {
      "type": "enum",
      "members": {
        "DETACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "detached"
          }
        },
        "RESTARTPENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "restartPending"
          }
        },
        "STARTPENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "startPending"
          }
        },
        "STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "started"
          }
        },
        "STOPPENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopPending"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopped"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Private database state"
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseTypeEnum": {
      "type": "enum",
      "members": {
        "MARIADB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mariadb"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "REDIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redis"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Private database type"
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseVersionEnum": {
      "type": "enum",
      "members": {
        "MARIADB_10_11": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mariadb_10.11"
          }
        },
        "MARIADB_10_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mariadb_10.5"
          }
        },
        "MARIADB_10_6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mariadb_10.6"
          }
        },
        "MARIADB_11_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mariadb_11.4"
          }
        },
        "MYSQL_8_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql_8.0"
          }
        },
        "MYSQL_8_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql_8.4"
          }
        },
        "POSTGRESQL_13": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql_13"
          }
        },
        "POSTGRESQL_14": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql_14"
          }
        },
        "POSTGRESQL_15": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql_15"
          }
        },
        "POSTGRESQL_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql_16"
          }
        },
        "POSTGRESQL_17": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql_17"
          }
        },
        "REDIS_7_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redis_7.0"
          }
        },
        "VALKEY_7_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "valkey_7.2"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Private database version"
      }
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceName": {
      "type": "operation",
      "input": {
        "target": "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameRequest"
      },
      "output": {
        "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseServiceWithIAM"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/hosting/privateDatabase/{serviceName}",
          "code": 200
        },
        "smithy.api#documentation": "Get a Web Cloud Database properties"
      }
    },
    "com.ovh.hostingprivatedatabase#PutHostingPrivateDatabaseServiceNameRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name displayed in customer panel for your private database (max 50 chars)",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.hostingprivatedatabase#PutHostingPrivateDatabaseServiceName": {
      "type": "operation",
      "input": {
        "target": "com.ovh.hostingprivatedatabase#PutHostingPrivateDatabaseServiceNameRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/hosting/privateDatabase/{serviceName}",
          "code": 200
        },
        "smithy.api#documentation": "Alter a Web Cloud Database properties"
      }
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameAvailableVersionsRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameAvailableVersionsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseAvailableVersionEnum"
      },
      "traits": {}
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameAvailableVersionsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameAvailableVersionsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameAvailableVersions": {
      "type": "operation",
      "input": {
        "target": "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameAvailableVersionsRequest"
      },
      "output": {
        "target": "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameAvailableVersionsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/hosting/privateDatabase/{serviceName}/availableVersions",
          "code": 200
        },
        "smithy.api#documentation": "Get the availables versions for this private database"
      }
    },
    "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameChangeContactRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "contactAdmin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as admin contact"
          }
        },
        "contactBilling": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as billing contact"
          }
        },
        "contactTech": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as tech contact"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameChangeContactResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameChangeContactResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameChangeContactResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameChangeContact": {
      "type": "operation",
      "input": {
        "target": "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameChangeContactRequest"
      },
      "output": {
        "target": "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameChangeContactResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/hosting/privateDatabase/{serviceName}/changeContact",
          "code": 200
        },
        "smithy.api#documentation": "Launch a contact change procedure"
      }
    },
    "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameChangeFtpPasswordRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New ftp admin password (alphanumeric and 8 characters minimum)",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseTask": {
      "type": "structure",
      "members": {
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Database name on which the task is working",
            "com.distilled.openapi#nullable": {}
          }
        },
        "doneDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Completion date",
            "com.distilled.openapi#nullable": {}
          }
        },
        "dumpId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "DumpId on which the task is working",
            "com.distilled.openapi#nullable": {}
          }
        },
        "function": {
          "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseTaskFunctionEnum",
          "traits": {
            "smithy.api#documentation": "Function name"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The id of the task"
          }
        },
        "lastUpdate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last update",
            "com.distilled.openapi#nullable": {}
          }
        },
        "startDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Task creation date"
          }
        },
        "status": {
          "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseTaskStatusEnum",
          "traits": {
            "smithy.api#documentation": "Task status"
          }
        },
        "userName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User name on which the task is working",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Web Cloud Database task"
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseTaskFunctionEnum": {
      "type": "enum",
      "members": {
        "ABUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "abuse"
          }
        },
        "CHANGEFTPPASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "changeFtpPassword"
          }
        },
        "CHANGERAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "changeRam"
          }
        },
        "CHANGEVERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "changeVersion"
          }
        },
        "CONFIGURATION_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "configuration/update"
          }
        },
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create"
          }
        },
        "DATABASE_COPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "database/copy"
          }
        },
        "DATABASE_COPYRESTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "database/copyRestore"
          }
        },
        "DATABASE_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "database/create"
          }
        },
        "DATABASE_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "database/delete"
          }
        },
        "DATABASE_DUMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "database/dump"
          }
        },
        "DATABASE_DUMP_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "database/dump/delete"
          }
        },
        "DATABASE_EXTENSION_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "database/extension/create"
          }
        },
        "DATABASE_EXTENSION_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "database/extension/delete"
          }
        },
        "DATABASE_IMPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "database/import"
          }
        },
        "DATABASE_RESTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "database/restore"
          }
        },
        "DATABASE_WIZARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "database/wizard"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete"
          }
        },
        "GRANT_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "grant/create"
          }
        },
        "GRANT_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "grant/delete"
          }
        },
        "GRANT_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "grant/update"
          }
        },
        "INSTALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "install"
          }
        },
        "OVERQUOTA_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "overquota/in"
          }
        },
        "OVERQUOTA_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "overquota/out"
          }
        },
        "QUOTAREFRESH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quotaRefresh"
          }
        },
        "REFRESH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "refresh"
          }
        },
        "REOPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reopen"
          }
        },
        "RESTART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "restart"
          }
        },
        "START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "start"
          }
        },
        "STOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stop"
          }
        },
        "SUSPEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspend"
          }
        },
        "USER_CHANGEPASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user/changePassword"
          }
        },
        "USER_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user/create"
          }
        },
        "USER_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user/delete"
          }
        },
        "WEBHOSTINGNETWORK_DISABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webhostingNetwork/disable"
          }
        },
        "WEBHOSTINGNETWORK_ENABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webhostingNetwork/enable"
          }
        },
        "WHITELIST_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist/create"
          }
        },
        "WHITELIST_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist/delete"
          }
        },
        "WHITELIST_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist/update"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Task's dunction"
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseTaskStatusEnum": {
      "type": "enum",
      "members": {
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        },
        "DOING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "doing"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "done"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "TODO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "todo"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Task's status"
      }
    },
    "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameChangeFtpPassword": {
      "type": "operation",
      "input": {
        "target": "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameChangeFtpPasswordRequest"
      },
      "output": {
        "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/hosting/privateDatabase/{serviceName}/changeFtpPassword",
          "code": 200
        },
        "smithy.api#documentation": "Change FTP password of your Web Cloud Database"
      }
    },
    "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameChangeVersionRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "version": {
          "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseAvailableVersionEnum",
          "traits": {
            "smithy.api#documentation": "Change the private database engine version",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameChangeVersion": {
      "type": "operation",
      "input": {
        "target": "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameChangeVersionRequest"
      },
      "output": {
        "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/hosting/privateDatabase/{serviceName}/changeVersion",
          "code": 200
        },
        "smithy.api#documentation": "Change DBMS version of your Web Cloud Database"
      }
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameConfigRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseConfigs": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseConfigsDetailsList",
          "traits": {
            "smithy.api#documentation": "Configuration details"
          }
        },
        "lastUpdate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Configuration last update"
          }
        },
        "status": {
          "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseConfigStatusEnum",
          "traits": {
            "smithy.api#documentation": "Configuration status"
          }
        },
        "taskId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Configuration linked task id",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configs"
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseConfigDetail": {
      "type": "structure",
      "members": {
        "availableValues": {
          "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseConfigDetailAvailableValuesList",
          "traits": {
            "smithy.api#documentation": "Configuration available values"
          }
        },
        "defaultValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Configuration default value"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Configuration description"
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Configuration key name"
          }
        },
        "lastUpdate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Configuration last update"
          }
        },
        "type": {
          "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseConfigTypeEnum",
          "traits": {
            "smithy.api#documentation": "Configuration value type"
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Configuration unit type",
            "com.distilled.openapi#nullable": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Configuration current value"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Config detail"
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseConfigDetailAvailableValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Configuration available values"
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseConfigTypeEnum": {
      "type": "enum",
      "members": {
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean"
          }
        },
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Web Cloud Database config type"
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseConfigsDetailsList": {
      "type": "list",
      "member": {
        "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseConfigDetail"
      },
      "traits": {
        "smithy.api#documentation": "Configuration details"
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseConfigStatusEnum": {
      "type": "enum",
      "members": {
        "APPLIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "applied"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updating"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Web Cloud Database config status"
      }
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameConfig": {
      "type": "operation",
      "input": {
        "target": "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameConfigRequest"
      },
      "output": {
        "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseConfigs"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/hosting/privateDatabase/{serviceName}/config",
          "code": 200
        },
        "smithy.api#documentation": "Get the current configuration for this Web Cloud Database"
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseConfigKeyValue": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Web Cloud Database configuration key",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Web Cloud Database configuration value",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ConfigKeyValue"
      }
    },
    "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameConfigUpdateRequestParametersList": {
      "type": "list",
      "member": {
        "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseConfigKeyValue"
      },
      "traits": {
        "smithy.api#documentation": "Web Cloud Database configurations"
      }
    },
    "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameConfigUpdateRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "parameters": {
          "target": "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameConfigUpdateRequestParametersList",
          "traits": {
            "smithy.api#documentation": "Web Cloud Database configurations",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameConfigUpdate": {
      "type": "operation",
      "input": {
        "target": "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameConfigUpdateRequest"
      },
      "output": {
        "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseConfigs"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/hosting/privateDatabase/{serviceName}/config/update",
          "code": 200
        },
        "smithy.api#documentation": "Update the configuration of this Web Cloud Database"
      }
    },
    "com.ovh.hostingprivatedatabase#ServiceTerminationFutureUseEnum": {
      "type": "enum",
      "members": {
        "NOT_REPLACING_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_REPLACING_SERVICE"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        },
        "SUBSCRIBE_AN_OTHER_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIBE_AN_OTHER_SERVICE"
          }
        },
        "SUBSCRIBE_OTHER_KIND_OF_SERVICE_WITH_COMPETITOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIBE_OTHER_KIND_OF_SERVICE_WITH_COMPETITOR"
          }
        },
        "SUBSCRIBE_SIMILAR_SERVICE_WITH_COMPETITOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIBE_SIMILAR_SERVICE_WITH_COMPETITOR"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All future uses you can provide for a service termination"
      }
    },
    "com.ovh.hostingprivatedatabase#ServiceTerminationReasonEnum": {
      "type": "enum",
      "members": {
        "FEATURES_DONT_SUIT_ME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEATURES_DONT_SUIT_ME"
          }
        },
        "LACK_OF_PERFORMANCES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LACK_OF_PERFORMANCES"
          }
        },
        "MIGRATED_TO_ANOTHER_OVH_PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIGRATED_TO_ANOTHER_OVH_PRODUCT"
          }
        },
        "MIGRATED_TO_COMPETITOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIGRATED_TO_COMPETITOR"
          }
        },
        "NOT_ENOUGH_RECOGNITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_ENOUGH_RECOGNITION"
          }
        },
        "NOT_NEEDED_ANYMORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_NEEDED_ANYMORE"
          }
        },
        "NOT_RELIABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_RELIABLE"
          }
        },
        "NO_ANSWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_ANSWER"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        },
        "PRODUCT_DIMENSION_DONT_SUIT_ME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_DIMENSION_DONT_SUIT_ME"
          }
        },
        "PRODUCT_TOOLS_DONT_SUIT_ME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TOOLS_DONT_SUIT_ME"
          }
        },
        "TOO_EXPENSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOO_EXPENSIVE"
          }
        },
        "TOO_HARD_TO_USE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOO_HARD_TO_USE"
          }
        },
        "UNSATIFIED_BY_CUSTOMER_SUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSATIFIED_BY_CUSTOMER_SUPPORT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All reasons you can provide for a service termination"
      }
    },
    "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameConfirmTerminationRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "commentary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Commentary about your termination request"
          }
        },
        "futureUse": {
          "target": "com.ovh.hostingprivatedatabase#ServiceTerminationFutureUseEnum",
          "traits": {
            "smithy.api#documentation": "All future uses you can provide for a service termination"
          }
        },
        "reason": {
          "target": "com.ovh.hostingprivatedatabase#ServiceTerminationReasonEnum",
          "traits": {
            "smithy.api#documentation": "All reasons you can provide for a service termination"
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The termination token sent by email to the admin contact",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameConfirmTerminationResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameConfirmTermination": {
      "type": "operation",
      "input": {
        "target": "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameConfirmTerminationRequest"
      },
      "output": {
        "target": "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameConfirmTerminationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/hosting/privateDatabase/{serviceName}/confirmTermination",
          "code": 200
        },
        "smithy.api#documentation": "Confirm service termination"
      }
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameCpuThrottleRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseCpuThrottle": {
      "type": "structure",
      "members": {
        "endDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End date of the CPU throttle",
            "com.distilled.openapi#nullable": {}
          }
        },
        "startDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start date of the CPU throttle"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CPU throttle informations"
      }
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameCpuThrottleResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseCpuThrottle"
      },
      "traits": {}
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameCpuThrottleResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameCpuThrottleResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameCpuThrottle": {
      "type": "operation",
      "input": {
        "target": "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameCpuThrottleRequest"
      },
      "output": {
        "target": "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameCpuThrottleResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/hosting/privateDatabase/{serviceName}/cpuThrottle",
          "code": 200
        },
        "smithy.api#documentation": "List of privatesql CPU throttle"
      }
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabase": {
      "type": "operation",
      "input": {
        "target": "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseRequest"
      },
      "output": {
        "target": "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/hosting/privateDatabase/{serviceName}/database",
          "code": 200
        },
        "smithy.api#documentation": "List databases on a privateDatabase"
      }
    },
    "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameDatabaseRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of your new database",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameDatabase": {
      "type": "operation",
      "input": {
        "target": "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameDatabaseRequest"
      },
      "output": {
        "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/hosting/privateDatabase/{serviceName}/database",
          "code": 200
        },
        "smithy.api#documentation": "Create a new database in a Web Cloud Database"
      }
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseDatabaseNameRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Database name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseDatabase": {
      "type": "structure",
      "members": {
        "backupTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time of the next backup (every day)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation date of the database"
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Database name"
          }
        },
        "quotaUsed": {
          "target": "com.ovh.hostingprivatedatabase#ComplexTypeUnitAndValueLong",
          "traits": {
            "smithy.api#documentation": "Space used by the database"
          }
        },
        "users": {
          "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseDatabaseUsersList",
          "traits": {
            "smithy.api#documentation": "Users granted to this database"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Databases"
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseDatabaseUser": {
      "type": "structure",
      "members": {
        "grantId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The grantId associated for this databaseName and this userName"
          }
        },
        "grantType": {
          "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseGrantGrantEnum",
          "traits": {
            "smithy.api#documentation": "User's rights on this database"
          }
        },
        "userName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User's name granted on this database"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Users"
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseGrantGrantEnum": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "RO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ro"
          }
        },
        "RW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rw"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Grant on a database for a specific user"
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseDatabaseUsersList": {
      "type": "list",
      "member": {
        "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseDatabaseUser"
      },
      "traits": {
        "smithy.api#documentation": "Users granted to this database"
      }
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseDatabaseName": {
      "type": "operation",
      "input": {
        "target": "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseDatabaseNameRequest"
      },
      "output": {
        "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseDatabase"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/hosting/privateDatabase/{serviceName}/database/{databaseName}",
          "code": 200
        },
        "smithy.api#documentation": "Get database properties"
      }
    },
    "com.ovh.hostingprivatedatabase#DeleteHostingPrivateDatabaseServiceNameDatabaseDatabaseNameRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Database name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.hostingprivatedatabase#DeleteHostingPrivateDatabaseServiceNameDatabaseDatabaseName": {
      "type": "operation",
      "input": {
        "target": "com.ovh.hostingprivatedatabase#DeleteHostingPrivateDatabaseServiceNameDatabaseDatabaseNameRequest"
      },
      "output": {
        "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/hosting/privateDatabase/{serviceName}/database/{databaseName}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a database from a Web Cloud Database"
      }
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseDatabaseNameCopyRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Database name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseDatabaseNameCopyResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseDatabaseNameCopyResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseDatabaseNameCopyResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseDatabaseNameCopy": {
      "type": "operation",
      "input": {
        "target": "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseDatabaseNameCopyRequest"
      },
      "output": {
        "target": "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseDatabaseNameCopyResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/hosting/privateDatabase/{serviceName}/database/{databaseName}/copy",
          "code": 200
        },
        "smithy.api#documentation": "List database copy of a privateDatabase"
      }
    },
    "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameDatabaseDatabaseNameCopyRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Database name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseDatabaseCopy": {
      "type": "structure",
      "members": {
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation date of the database copy"
          }
        },
        "expirationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Expiration date of the database copy",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Database copy ID"
          }
        },
        "lastUpdate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last update of the database copy"
          }
        },
        "status": {
          "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseDatabaseCopyStatusEnum",
          "traits": {
            "smithy.api#documentation": "Database copy status"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Database copy"
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseDatabaseCopyStatusEnum": {
      "type": "enum",
      "members": {
        "DOING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "doing"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "done"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "TODO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "todo"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Database copy status"
      }
    },
    "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameDatabaseDatabaseNameCopy": {
      "type": "operation",
      "input": {
        "target": "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameDatabaseDatabaseNameCopyRequest"
      },
      "output": {
        "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseDatabaseCopy"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/hosting/privateDatabase/{serviceName}/database/{databaseName}/copy",
          "code": 200
        },
        "smithy.api#documentation": "Create a new database copy in a Web Cloud Database"
      }
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseDatabaseNameCopyIdRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Database name"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseDatabaseNameCopyId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseDatabaseNameCopyIdRequest"
      },
      "output": {
        "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseDatabaseCopy"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/hosting/privateDatabase/{serviceName}/database/{databaseName}/copy/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get database copy properties"
      }
    },
    "com.ovh.hostingprivatedatabase#DeleteHostingPrivateDatabaseServiceNameDatabaseDatabaseNameCopyIdRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Database name"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.hostingprivatedatabase#DeleteHostingPrivateDatabaseServiceNameDatabaseDatabaseNameCopyId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.hostingprivatedatabase#DeleteHostingPrivateDatabaseServiceNameDatabaseDatabaseNameCopyIdRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/hosting/privateDatabase/{serviceName}/database/{databaseName}/copy/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete the database copy of a Web Cloud Database"
      }
    },
    "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameDatabaseDatabaseNameCopyRestoreRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Database name"
          }
        },
        "copyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Copy ID",
            "smithy.api#required": {}
          }
        },
        "flushDatabase": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to flush the database before restoring the copy (default to false)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameDatabaseDatabaseNameCopyRestore": {
      "type": "operation",
      "input": {
        "target": "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameDatabaseDatabaseNameCopyRestoreRequest"
      },
      "output": {
        "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/hosting/privateDatabase/{serviceName}/database/{databaseName}/copyRestore",
          "code": 200
        },
        "smithy.api#documentation": "Request the copy into a Web Cloud Database"
      }
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseDatabaseNameDumpRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Database name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseDatabaseNameDumpResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseDatabaseNameDumpResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseDatabaseNameDumpResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseDatabaseNameDump": {
      "type": "operation",
      "input": {
        "target": "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseDatabaseNameDumpRequest"
      },
      "output": {
        "target": "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseDatabaseNameDumpResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/hosting/privateDatabase/{serviceName}/database/{databaseName}/dump",
          "code": 200
        },
        "smithy.api#documentation": "Get all database dump from a Web Cloud Database"
      }
    },
    "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameDatabaseDatabaseNameDumpRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Database name"
          }
        },
        "sendEmail": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to receive an email when the import is complete (default to false)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameDatabaseDatabaseNameDump": {
      "type": "operation",
      "input": {
        "target": "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameDatabaseDatabaseNameDumpRequest"
      },
      "output": {
        "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/hosting/privateDatabase/{serviceName}/database/{databaseName}/dump",
          "code": 200
        },
        "smithy.api#documentation": "Request the dump of this database (an email will be sent with a link available 30 days)"
      }
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseDatabaseNameDumpIdRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Database name"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseDatabaseDump": {
      "type": "structure",
      "members": {
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation date of the dump"
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dump of this database name"
          }
        },
        "deletionDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Automatic deletion date of the dump"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Dump id"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dump URL access"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dumps"
      }
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseDatabaseNameDumpId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseDatabaseNameDumpIdRequest"
      },
      "output": {
        "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseDatabaseDump"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/hosting/privateDatabase/{serviceName}/database/{databaseName}/dump/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a database dump from a Web Cloud Database"
      }
    },
    "com.ovh.hostingprivatedatabase#DeleteHostingPrivateDatabaseServiceNameDatabaseDatabaseNameDumpIdRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Database name"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.hostingprivatedatabase#DeleteHostingPrivateDatabaseServiceNameDatabaseDatabaseNameDumpId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.hostingprivatedatabase#DeleteHostingPrivateDatabaseServiceNameDatabaseDatabaseNameDumpIdRequest"
      },
      "output": {
        "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/hosting/privateDatabase/{serviceName}/database/{databaseName}/dump/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete dump before expiration date"
      }
    },
    "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameDatabaseDatabaseNameDumpIdRestoreRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Database name"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameDatabaseDatabaseNameDumpIdRestore": {
      "type": "operation",
      "input": {
        "target": "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameDatabaseDatabaseNameDumpIdRestoreRequest"
      },
      "output": {
        "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/hosting/privateDatabase/{serviceName}/database/{databaseName}/dump/{id}/restore",
          "code": 200
        },
        "smithy.api#documentation": "Request the restore from this dump"
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseExtensionStatusEnum": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "DISABLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabling"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "ENABLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabling"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Extension status"
      }
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseDatabaseNameExtensionRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Database name"
          }
        },
        "extensionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "extensionName",
            "smithy.api#documentation": "Filter results on extension name (like)"
          }
        },
        "status": {
          "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseExtensionStatusEnum",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Filter results on status (=)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseDatabaseNameExtensionResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseDatabaseNameExtensionResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseDatabaseNameExtensionResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseDatabaseNameExtension": {
      "type": "operation",
      "input": {
        "target": "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseDatabaseNameExtensionRequest"
      },
      "output": {
        "target": "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseDatabaseNameExtensionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/hosting/privateDatabase/{serviceName}/database/{databaseName}/extension",
          "code": 200
        },
        "smithy.api#documentation": "List extensions available for a Webcloud Database"
      }
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseDatabaseNameExtensionExtensionNameRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Database name"
          }
        },
        "extensionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Extension name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseExtension": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Extension details"
          }
        },
        "extensionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Extension name"
          }
        },
        "requiredExtensions": {
          "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseExtensionRequiredExtensionsList",
          "traits": {
            "smithy.api#documentation": "Required extensions"
          }
        },
        "status": {
          "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseExtensionStatusEnum",
          "traits": {
            "smithy.api#documentation": "Extension status"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Webcloud Database extension"
      }
    },
    "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseExtensionRequiredExtensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Required extensions"
      }
    },
    "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseDatabaseNameExtensionExtensionName": {
      "type": "operation",
      "input": {
        "target": "com.ovh.hostingprivatedatabase#GetHostingPrivateDatabaseServiceNameDatabaseDatabaseNameExtensionExtensionNameRequest"
      },
      "output": {
        "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseExtension"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/hosting/privateDatabase/{serviceName}/database/{databaseName}/extension/{extensionName}",
          "code": 200
        },
        "smithy.api#documentation": "Get properties of a Webcloud Database extension"
      }
    },
    "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameDatabaseDatabaseNameExtensionExtensionNameDisableRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Database name"
          }
        },
        "extensionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Extension name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameDatabaseDatabaseNameExtensionExtensionNameDisable": {
      "type": "operation",
      "input": {
        "target": "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameDatabaseDatabaseNameExtensionExtensionNameDisableRequest"
      },
      "output": {
        "target": "com.ovh.hostingprivatedatabase#HostingPrivateDatabaseTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/hosting/privateDatabase/{serviceName}/database/{databaseName}/extension/{extensionName}/disable",
          "code": 200
        },
        "smithy.api#documentation": "Disable an extension on a Web Cloud Database"
      }
    },
    "com.ovh.hostingprivatedatabase#PostHostingPrivateDatabaseServiceNameDatabaseDatabaseNameExtensionExtensionNameEnableRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
[...]
