{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.ovh.ip#IamResourceTagFilterInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Resource tag filter"
      }
    },
    "com.ovh.ip#GetIpRequestIamTagsValueList": {
      "type": "list",
      "member": {
        "target": "com.ovh.ip#IamResourceTagFilterInput"
      },
      "traits": {}
    },
    "com.ovh.ip#GetIpRequestIamTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.ovh.ip#GetIpRequestIamTagsValueList"
      },
      "traits": {}
    },
    "com.ovh.ip#IpIpTypeEnum": {
      "type": "enum",
      "members": {
        "CDN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cdn"
          }
        },
        "CLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloud"
          }
        },
        "DEDICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dedicated"
          }
        },
        "FAILOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failover"
          }
        },
        "HOSTED_SSL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hosted_ssl"
          }
        },
        "HOUSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "housing"
          }
        },
        "LOADBALANCING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "loadBalancing"
          }
        },
        "MAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mail"
          }
        },
        "OVERTHEBOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "overthebox"
          }
        },
        "PCC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pcc"
          }
        },
        "PCI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pci"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        },
        "VPN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vpn"
          }
        },
        "VPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vps"
          }
        },
        "VRACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vrack"
          }
        },
        "XDSL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xdsl"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for ip type"
      }
    },
    "com.ovh.ip#IpIpVersionEnum": {
      "type": "intEnum",
      "members": {
        "_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4
          }
        },
        "_6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 6
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for IP version"
      }
    },
    "com.ovh.ip#GetIpRequest": {
      "type": "structure",
      "members": {
        "campus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "campus",
            "smithy.api#documentation": "Filter the value of campus property (ilike) (alpha)"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "description",
            "smithy.api#documentation": "Filter the value of description property (like)"
          }
        },
        "iamTags": {
          "target": "com.ovh.ip#GetIpRequestIamTagsMap",
          "traits": {
            "smithy.api#httpQuery": "iamTags",
            "smithy.api#documentation": "Filter resources on IAM tags"
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "ip",
            "smithy.api#documentation": "Filter the value of ip property (contains or equals)"
          }
        },
        "isAdditionalIp": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "isAdditionalIp",
            "smithy.api#documentation": "Filter the value of isAdditionalIp property (=) (alpha)"
          }
        },
        "routedTo_serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "routedTo.serviceName",
            "smithy.api#documentation": "Filter the value of routedTo.serviceName property (like)"
          }
        },
        "type": {
          "target": "com.ovh.ip#IpIpTypeEnum",
          "traits": {
            "smithy.api#httpQuery": "type",
            "smithy.api#documentation": "Filter the value of type property (=)"
          }
        },
        "version": {
          "target": "com.ovh.ip#IpIpVersionEnum",
          "traits": {
            "smithy.api#httpQuery": "version",
            "smithy.api#documentation": "Filter the value of version property (=) (alpha)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ip#GetIpResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.ip#GetIpResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.ip#GetIpResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.ip#GetIp": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ip#GetIpRequest"
      },
      "output": {
        "target": "com.ovh.ip#GetIpResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ip",
          "code": 200
        },
        "smithy.api#documentation": "Your OVH IPs"
      }
    },
    "com.ovh.ip#IpCampus": {
      "type": "structure",
      "members": {
        "bringYourOwnIpSupportedRirForIp": {
          "target": "com.ovh.ip#IpCampusBringYourOwnIpSupportedRirForIpList",
          "traits": {
            "smithy.api#documentation": "List of RIRs whose IPs can be imported in the campus"
          }
        },
        "datacenters": {
          "target": "com.ovh.ip#IpCampusDatacentersList",
          "traits": {
            "smithy.api#documentation": "List of datacenters in the campus"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the campus"
          }
        },
        "name": {
          "target": "com.ovh.ip#IpCampusEnum",
          "traits": {
            "smithy.api#documentation": "Campus name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Campus of an IP address"
      }
    },
    "com.ovh.ip#IpCampusBringYourOwnIpSupportedRirForIpList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of RIRs whose IPs can be imported in the campus"
      }
    },
    "com.ovh.ip#DedicatedDatacenterEnum": {
      "type": "enum",
      "members": {
        "BHS1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bhs1"
          }
        },
        "BHS2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bhs2"
          }
        },
        "BHS3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bhs3"
          }
        },
        "BHS4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bhs4"
          }
        },
        "BHS5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bhs5"
          }
        },
        "BHS6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bhs6"
          }
        },
        "BHS7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bhs7"
          }
        },
        "BHS8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bhs8"
          }
        },
        "CCH01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cch01"
          }
        },
        "CRX1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "crx1"
          }
        },
        "CRX2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "crx2"
          }
        },
        "DC1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dc1"
          }
        },
        "ERI1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eri1"
          }
        },
        "ERI2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eri2"
          }
        },
        "GRA04": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gra04"
          }
        },
        "GRA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gra1"
          }
        },
        "GRA2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gra2"
          }
        },
        "GRA3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gra3"
          }
        },
        "GSW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gsw"
          }
        },
        "HDF01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hdf01"
          }
        },
        "HIL1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hil1"
          }
        },
        "IEB01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ieb01"
          }
        },
        "LIL1_INT1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lil1-int1"
          }
        },
        "LIM1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lim1"
          }
        },
        "LIM2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lim2"
          }
        },
        "LIM3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lim3"
          }
        },
        "MR901": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mr901"
          }
        },
        "P19": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "p19"
          }
        },
        "RBX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rbx"
          }
        },
        "RBX_HZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rbx-hz"
          }
        },
        "RBX1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rbx1"
          }
        },
        "RBX10": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rbx10"
          }
        },
        "RBX2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rbx2"
          }
        },
        "RBX3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rbx3"
          }
        },
        "RBX4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rbx4"
          }
        },
        "RBX5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rbx5"
          }
        },
        "RBX6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rbx6"
          }
        },
        "RBX7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rbx7"
          }
        },
        "RBX8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rbx8"
          }
        },
        "RBX9": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rbx9"
          }
        },
        "SBG1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sbg1"
          }
        },
        "SBG2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sbg2"
          }
        },
        "SBG3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sbg3"
          }
        },
        "SBG4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sbg4"
          }
        },
        "SBG5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sbg5"
          }
        },
        "SGP02": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sgp02"
          }
        },
        "SGP1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sgp1"
          }
        },
        "SYD03": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "syd03"
          }
        },
        "SYD1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "syd1"
          }
        },
        "SYD2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "syd2"
          }
        },
        "VIN1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vin1"
          }
        },
        "WAW1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waw1"
          }
        },
        "YNM1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ynm1"
          }
        },
        "YYZ01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yyz01"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ovh datacenter"
      }
    },
    "com.ovh.ip#IpCampusDatacentersList": {
      "type": "list",
      "member": {
        "target": "com.ovh.ip#DedicatedDatacenterEnum"
      },
      "traits": {
        "smithy.api#documentation": "List of datacenters in the campus"
      }
    },
    "com.ovh.ip#IpCampusEnum": {
      "type": "enum",
      "members": {
        "BHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BHS"
          }
        },
        "ERI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERI"
          }
        },
        "GRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRA"
          }
        },
        "HIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIL"
          }
        },
        "LIM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIM"
          }
        },
        "PAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAR"
          }
        },
        "RBX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RBX"
          }
        },
        "SBG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SBG"
          }
        },
        "SGP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SGP"
          }
        },
        "SYD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYD"
          }
        },
        "VIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIN"
          }
        },
        "WAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WAW"
          }
        },
        "YNM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YNM"
          }
        },
        "YYZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YYZ"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for IP campuses' names"
      }
    },
    "com.ovh.ip#GetIpCampusResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.ip#IpCampus"
      },
      "traits": {}
    },
    "com.ovh.ip#GetIpCampusResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.ip#GetIpCampusResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.ip#GetIpCampus": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.ovh.ip#GetIpCampusResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ip/campus",
          "code": 200
        },
        "smithy.api#documentation": "Get IP campuses"
      }
    },
    "com.ovh.ip#GetIpServiceRequestIamTagsValueList": {
      "type": "list",
      "member": {
        "target": "com.ovh.ip#IamResourceTagFilterInput"
      },
      "traits": {}
    },
    "com.ovh.ip#GetIpServiceRequestIamTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.ovh.ip#GetIpServiceRequestIamTagsValueList"
      },
      "traits": {}
    },
    "com.ovh.ip#GetIpServiceRequest": {
      "type": "structure",
      "members": {
        "iamTags": {
          "target": "com.ovh.ip#GetIpServiceRequestIamTagsMap",
          "traits": {
            "smithy.api#httpQuery": "iamTags",
            "smithy.api#documentation": "Filter resources on IAM tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ip#GetIpServiceResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.ip#GetIpServiceResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.ip#GetIpServiceResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.ip#GetIpService": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ip#GetIpServiceRequest"
      },
      "output": {
        "target": "com.ovh.ip#GetIpServiceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ip/service",
          "code": 200
        },
        "smithy.api#documentation": "Your ip services"
      }
    },
    "com.ovh.ip#GetIpServiceServiceNameRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your IP services"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ip#IpServiceIpWithIAM": {
      "type": "structure",
      "members": {
        "canBeTerminated": {
          "target": "smithy.api#Boolean"
        },
        "country": {
          "target": "com.ovh.ip#CoreTypesCountryEnum",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom description on your ip",
            "com.distilled.openapi#nullable": {}
          }
        },
        "iam": {
          "target": "com.ovh.ip#IamResourceMetadata",
          "traits": {
            "smithy.api#documentation": "IAM resource metadata",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ip": {
          "target": "smithy.api#String"
        },
        "organisationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP block organisation Id",
            "com.distilled.openapi#nullable": {}
          }
        },
        "routedTo": {
          "target": "com.ovh.ip#IpRoutedTo",
          "traits": {
            "smithy.api#documentation": "Routage information",
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.ovh.ip#IpIpTypeEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Your IP linked to service"
      }
    },
    "com.ovh.ip#CoreTypesCountryEnum": {
      "type": "enum",
      "members": {
        "AC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ac"
          }
        },
        "AD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ad"
          }
        },
        "AE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ae"
          }
        },
        "AF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "af"
          }
        },
        "AG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ag"
          }
        },
        "AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai"
          }
        },
        "AL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "al"
          }
        },
        "AM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "am"
          }
        },
        "AN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "an"
          }
        },
        "AO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ao"
          }
        },
        "AQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aq"
          }
        },
        "AR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ar"
          }
        },
        "AS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "as"
          }
        },
        "AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "at"
          }
        },
        "AU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "au"
          }
        },
        "AW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aw"
          }
        },
        "AX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ax"
          }
        },
        "AZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "az"
          }
        },
        "BA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ba"
          }
        },
        "BB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bb"
          }
        },
        "BD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bd"
          }
        },
        "BE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "be"
          }
        },
        "BF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bf"
          }
        },
        "BG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bg"
          }
        },
        "BH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bh"
          }
        },
        "BI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bi"
          }
        },
        "BJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bj"
          }
        },
        "BL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bl"
          }
        },
        "BM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bm"
          }
        },
        "BN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bn"
          }
        },
        "BO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bo"
          }
        },
        "BQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bq"
          }
        },
        "BR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "br"
          }
        },
        "BS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bs"
          }
        },
        "BT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bt"
          }
        },
        "BV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bv"
          }
        },
        "BW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bw"
          }
        },
        "BY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "by"
          }
        },
        "BZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bz"
          }
        },
        "CA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ca"
          }
        },
        "CC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cc"
          }
        },
        "CD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cd"
          }
        },
        "CF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cf"
          }
        },
        "CG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cg"
          }
        },
        "CH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ch"
          }
        },
        "CI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ci"
          }
        },
        "CK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ck"
          }
        },
        "CL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cl"
          }
        },
        "CM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cm"
          }
        },
        "CN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cn"
          }
        },
        "CO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "co"
          }
        },
        "CR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cr"
          }
        },
        "CS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cs"
          }
        },
        "CU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cu"
          }
        },
        "CV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cv"
          }
        },
        "CW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cw"
          }
        },
        "CX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cx"
          }
        },
        "CY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cy"
          }
        },
        "CZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cz"
          }
        },
        "DE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "de"
          }
        },
        "DJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dj"
          }
        },
        "DK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dk"
          }
        },
        "DM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dm"
          }
        },
        "DO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "do"
          }
        },
        "DZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dz"
          }
        },
        "EC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ec"
          }
        },
        "EE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ee"
          }
        },
        "EG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eg"
          }
        },
        "EH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eh"
          }
        },
        "ER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "er"
          }
        },
        "ES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "es"
          }
        },
        "ET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "et"
          }
        },
        "FC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fc"
          }
        },
        "FD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fd"
          }
        },
        "FI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fi"
          }
        },
        "FJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fj"
          }
        },
        "FK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fk"
          }
        },
        "FM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fm"
          }
        },
        "FO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fo"
          }
        },
        "FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fr"
          }
        },
        "FX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fx"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ga"
          }
        },
        "GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gb"
          }
        },
        "GD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gd"
          }
        },
        "GE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ge"
          }
        },
        "GF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gf"
          }
        },
        "GG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gg"
          }
        },
        "GH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gh"
          }
        },
        "GI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gi"
          }
        },
        "GL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gl"
          }
        },
        "GM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gm"
          }
        },
        "GN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gn"
          }
        },
        "GP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gp"
          }
        },
        "GQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gq"
          }
        },
        "GR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gr"
          }
        },
        "GS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gs"
          }
        },
        "GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gt"
          }
        },
        "GU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gu"
          }
        },
        "GW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gw"
          }
        },
        "GY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gy"
          }
        },
        "HK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hk"
          }
        },
        "HM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hm"
          }
        },
        "HN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hn"
          }
        },
        "HR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hr"
          }
        },
        "HT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ht"
          }
        },
        "HU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hu"
          }
        },
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        },
        "IE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ie"
          }
        },
        "IL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "il"
          }
        },
        "IM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "im"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in"
          }
        },
        "IO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "io"
          }
        },
        "IQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "iq"
          }
        },
        "IR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ir"
          }
        },
        "IS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is"
          }
        },
        "IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "it"
          }
        },
        "JE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "je"
          }
        },
        "JM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jm"
          }
        },
        "JO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jo"
          }
        },
        "JP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jp"
          }
        },
        "KE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ke"
          }
        },
        "KG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kg"
          }
        },
        "KH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kh"
          }
        },
        "KI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ki"
          }
        },
        "KM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "km"
          }
        },
        "KN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kn"
          }
        },
        "KP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kp"
          }
        },
        "KR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kr"
          }
        },
        "KW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kw"
          }
        },
        "KY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ky"
          }
        },
        "KZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kz"
          }
        },
        "LA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "la"
          }
        },
        "LB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lb"
          }
        },
        "LC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lc"
          }
        },
        "LI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "li"
          }
        },
        "LK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lk"
          }
        },
        "LR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lr"
          }
        },
        "LS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ls"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lt"
          }
        },
        "LU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lu"
          }
        },
        "LV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lv"
          }
        },
        "LY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ly"
          }
        },
        "MA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ma"
          }
        },
        "MC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mc"
          }
        },
        "MD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "md"
          }
        },
        "ME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "me"
          }
        },
        "MF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mf"
          }
        },
        "MG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mg"
          }
        },
        "MH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mh"
          }
        },
        "MK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mk"
          }
        },
        "ML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml"
          }
        },
        "MM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mm"
          }
        },
        "MN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mn"
          }
        },
        "MO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mo"
          }
        },
        "MP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mp"
          }
        },
        "MQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mq"
          }
        },
        "MR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mr"
          }
        },
        "MS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ms"
          }
        },
        "MT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mt"
          }
        },
        "MU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mu"
          }
        },
        "MV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mv"
          }
        },
        "MW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mw"
          }
        },
        "MX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mx"
          }
        },
        "MY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "my"
          }
        },
        "MZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mz"
          }
        },
        "NA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "na"
          }
        },
        "NC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nc"
          }
        },
        "NE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ne"
          }
        },
        "NF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nf"
          }
        },
        "NG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ng"
          }
        },
        "NI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ni"
          }
        },
        "NL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nl"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no"
          }
        },
        "NP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "np"
          }
        },
        "NR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nr"
          }
        },
        "NU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nu"
          }
        },
        "NZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nz"
          }
        },
        "OM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "om"
          }
        },
        "PA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pa"
          }
        },
        "PE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pe"
          }
        },
        "PF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pf"
          }
        },
        "PG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pg"
          }
        },
        "PH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ph"
          }
        },
        "PK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pk"
          }
        },
        "PL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pl"
          }
        },
        "PM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pm"
          }
        },
        "PN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pn"
          }
        },
        "PR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pr"
          }
        },
        "PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ps"
          }
        },
        "PT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pt"
          }
        },
        "PW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pw"
          }
        },
        "PY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "py"
          }
        },
        "QA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "qa"
          }
        },
        "QC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "qc"
          }
        },
        "RE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "re"
          }
        },
        "RO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ro"
          }
        },
        "RS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rs"
          }
        },
        "RU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ru"
          }
        },
        "RW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rw"
          }
        },
        "SA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sa"
          }
        },
        "SB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sb"
          }
        },
        "SC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sc"
          }
        },
        "SD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sd"
          }
        },
        "SE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "se"
          }
        },
        "SG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sg"
          }
        },
        "SH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sh"
          }
        },
        "SI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "si"
          }
        },
        "SJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sj"
          }
        },
        "SK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sk"
          }
        },
        "SL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sl"
          }
        },
        "SM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sm"
          }
        },
        "SN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sn"
          }
        },
        "SO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "so"
          }
        },
        "SR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sr"
          }
        },
        "SS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ss"
          }
        },
        "ST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "st"
          }
        },
        "SV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sv"
          }
        },
        "SX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sx"
          }
        },
        "SY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sy"
          }
        },
        "SZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sz"
          }
        },
        "TC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tc"
          }
        },
        "TD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "td"
          }
        },
        "TF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tf"
          }
        },
        "TG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tg"
          }
        },
        "TH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "th"
          }
        },
        "TJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tj"
          }
        },
        "TK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tk"
          }
        },
        "TL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tl"
          }
        },
        "TM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tm"
          }
        },
        "TN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tn"
          }
        },
        "TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "to"
          }
        },
        "TP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tp"
          }
        },
        "TR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tr"
          }
        },
        "TT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tt"
          }
        },
        "TV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tv"
          }
        },
        "TW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tw"
          }
        },
        "TZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tz"
          }
        },
        "UA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ua"
          }
        },
        "UG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ug"
          }
        },
        "UK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uk"
          }
        },
        "UM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "um"
          }
        },
        "US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us"
          }
        },
        "UY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uy"
          }
        },
        "UZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uz"
          }
        },
        "VA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "va"
          }
        },
        "VC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vc"
          }
        },
        "VE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ve"
          }
        },
        "VG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vg"
          }
        },
        "VI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vi"
          }
        },
        "VN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vn"
          }
        },
        "VU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vu"
          }
        },
        "WE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "we"
          }
        },
        "WF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wf"
          }
        },
        "WS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ws"
          }
        },
        "YE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ye"
          }
        },
        "YT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yt"
          }
        },
        "YU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yu"
          }
        },
        "ZA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "za"
          }
        },
        "ZM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zm"
          }
        },
        "ZW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zw"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ISO country codes"
      }
    },
    "com.ovh.ip#IamResourceMetadata": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource display name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the resource"
          }
        },
        "tags": {
          "target": "com.ovh.ip#IamResourceMetadataTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:",
            "com.distilled.openapi#nullable": {}
          }
        },
        "urn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique resource name used in policies"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IAM resource metadata embedded in services models"
      }
    },
    "com.ovh.ip#IamResourceMetadataTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:"
      }
    },
    "com.ovh.ip#IpRoutedTo": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service where ip is routed to",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about routing"
      }
    },
    "com.ovh.ip#GetIpServiceServiceName": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ip#GetIpServiceServiceNameRequest"
      },
      "output": {
        "target": "com.ovh.ip#IpServiceIpWithIAM"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ip/service/{serviceName}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.ip#PutIpServiceServiceNameRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your IP services"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom description on your ip",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ip#PutIpServiceServiceName": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ip#PutIpServiceServiceNameRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/ip/service/{serviceName}",
          "code": 200
        },
        "smithy.api#documentation": "Alter this object properties"
      }
    },
    "com.ovh.ip#PostIpServiceServiceNameChangeContactRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your IP services"
          }
        },
        "contactAdmin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as admin contact"
          }
        },
        "contactBilling": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as billing contact"
          }
        },
        "contactTech": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as tech contact"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ip#PostIpServiceServiceNameChangeContactResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.ip#PostIpServiceServiceNameChangeContactResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.ip#PostIpServiceServiceNameChangeContactResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.ip#PostIpServiceServiceNameChangeContact": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ip#PostIpServiceServiceNameChangeContactRequest"
      },
      "output": {
        "target": "com.ovh.ip#PostIpServiceServiceNameChangeContactResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ip/service/{serviceName}/changeContact",
          "code": 200
        },
        "smithy.api#documentation": "Launch a contact change procedure"
      }
    },
    "com.ovh.ip#ServiceTerminationFutureUseEnum": {
      "type": "enum",
      "members": {
        "NOT_REPLACING_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_REPLACING_SERVICE"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        },
        "SUBSCRIBE_AN_OTHER_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIBE_AN_OTHER_SERVICE"
          }
        },
        "SUBSCRIBE_OTHER_KIND_OF_SERVICE_WITH_COMPETITOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIBE_OTHER_KIND_OF_SERVICE_WITH_COMPETITOR"
          }
        },
        "SUBSCRIBE_SIMILAR_SERVICE_WITH_COMPETITOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIBE_SIMILAR_SERVICE_WITH_COMPETITOR"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All future uses you can provide for a service termination"
      }
    },
    "com.ovh.ip#ServiceTerminationReasonEnum": {
      "type": "enum",
      "members": {
        "FEATURES_DONT_SUIT_ME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEATURES_DONT_SUIT_ME"
          }
        },
        "LACK_OF_PERFORMANCES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LACK_OF_PERFORMANCES"
          }
        },
        "MIGRATED_TO_ANOTHER_OVH_PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIGRATED_TO_ANOTHER_OVH_PRODUCT"
          }
        },
        "MIGRATED_TO_COMPETITOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIGRATED_TO_COMPETITOR"
          }
        },
        "NOT_ENOUGH_RECOGNITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_ENOUGH_RECOGNITION"
          }
        },
        "NOT_NEEDED_ANYMORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_NEEDED_ANYMORE"
          }
        },
        "NOT_RELIABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_RELIABLE"
          }
        },
        "NO_ANSWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_ANSWER"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        },
        "PRODUCT_DIMENSION_DONT_SUIT_ME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_DIMENSION_DONT_SUIT_ME"
          }
        },
        "PRODUCT_TOOLS_DONT_SUIT_ME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TOOLS_DONT_SUIT_ME"
          }
        },
        "TOO_EXPENSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOO_EXPENSIVE"
          }
        },
        "TOO_HARD_TO_USE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOO_HARD_TO_USE"
          }
        },
        "UNSATIFIED_BY_CUSTOMER_SUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSATIFIED_BY_CUSTOMER_SUPPORT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All reasons you can provide for a service termination"
      }
    },
    "com.ovh.ip#PostIpServiceServiceNameConfirmTerminationRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your IP services"
          }
        },
        "commentary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Commentary about your termination request"
          }
        },
        "futureUse": {
          "target": "com.ovh.ip#ServiceTerminationFutureUseEnum",
          "traits": {
            "smithy.api#documentation": "What next after your termination request"
          }
        },
        "reason": {
          "target": "com.ovh.ip#ServiceTerminationReasonEnum",
          "traits": {
            "smithy.api#documentation": "Reason of your termination request"
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The termination token sent by email to the admin contact",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ip#PostIpServiceServiceNameConfirmTerminationResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.ip#PostIpServiceServiceNameConfirmTermination": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ip#PostIpServiceServiceNameConfirmTerminationRequest"
      },
      "output": {
        "target": "com.ovh.ip#PostIpServiceServiceNameConfirmTerminationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ip/service/{serviceName}/confirmTermination",
          "code": 200
        },
        "smithy.api#documentation": "Confirm service termination"
      }
    },
    "com.ovh.ip#GetIpServiceServiceNameServiceInfosRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your IP services"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ip#ServicesService": {
      "type": "structure",
      "members": {
        "canDeleteAtExpiration": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates that the service can be set up to be deleted at expiration"
          }
        },
        "contactAdmin": {
          "target": "smithy.api#String"
        },
        "contactBilling": {
          "target": "smithy.api#String"
        },
        "contactTech": {
          "target": "smithy.api#String"
        },
        "creation": {
          "target": "smithy.api#String"
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "engagedUpTo": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "expiration": {
          "target": "smithy.api#String"
        },
        "possibleRenewPeriod": {
          "target": "com.ovh.ip#ServicesServicePossibleRenewPeriodList",
          "traits": {
            "smithy.api#documentation": "All the possible renew period of your service in month",
            "com.distilled.openapi#nullable": {}
          }
        },
        "renew": {
          "target": "com.ovh.ip#ServiceRenewType",
          "traits": {
            "smithy.api#documentation": "Way of handling the renew",
            "com.distilled.openapi#nullable": {}
          }
        },
        "renewalType": {
          "target": "com.ovh.ip#ServiceRenewalTypeEnum"
        },
        "serviceId": {
          "target": "smithy.api#Integer"
        },
        "status": {
          "target": "com.ovh.ip#ServiceStateEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about a Service"
      }
    },
    "com.ovh.ip#ServicesServicePossibleRenewPeriodList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "All the possible renew period of your service in month"
      }
    },
    "com.ovh.ip#ServiceRenewType": {
      "type": "structure",
      "members": {
        "automatic": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The service is automatically renewed"
          }
        },
        "deleteAtExpiration": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The service will be deleted at expiration"
          }
        },
        "forced": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The service forced to be renewed"
          }
        },
        "manualPayment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The service needs to be manually renewed and paid",
            "com.distilled.openapi#nullable": {}
          }
        },
        "period": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "period of renew in month",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Map a possible renew for a specific service"
      }
    },
    "com.ovh.ip#ServiceRenewalTypeEnum": {
      "type": "enum",
      "members": {
        "AUTOMATICFORCEDPRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automaticForcedProduct"
          }
        },
        "AUTOMATICV2012": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automaticV2012"
          }
        },
        "AUTOMATICV2014": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automaticV2014"
          }
        },
        "AUTOMATICV2016": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automaticV2016"
          }
        },
        "AUTOMATICV2024": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automaticV2024"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        },
        "ONESHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oneShot"
          }
        },
        "OPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "option"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Detailed renewal type of a service"
      }
    },
    "com.ovh.ip#ServiceStateEnum": {
      "type": "enum",
      "members": {
        "AUTORENEWINPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "autorenewInProgress"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        },
        "INCREATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inCreation"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "PENDINGDEBT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pendingDebt"
          }
        },
        "UNPAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unPaid"
          }
        }
      },
      "traits": {}
    },
    "com.ovh.ip#GetIpServiceServiceNameServiceInfos": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ip#GetIpServiceServiceNameServiceInfosRequest"
      },
      "output": {
        "target": "com.ovh.ip#ServicesService"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ip/service/{serviceName}/serviceInfos",
          "code": 200
        },
        "smithy.api#documentation": "Get service information"
      }
    },
    "com.ovh.ip#PutIpServiceServiceNameServiceInfosRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your IP services"
          }
        },
        "renew": {
          "target": "com.ovh.ip#ServiceRenewType",
          "traits": {
            "smithy.api#documentation": "Way of handling the renew",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ip#PutIpServiceServiceNameServiceInfos": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ip#PutIpServiceServiceNameServiceInfosRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/ip/service/{serviceName}/serviceInfos",
          "code": 200
        },
        "smithy.api#documentation": "Update service information"
      }
    },
    "com.ovh.ip#PostIpServiceServiceNameTerminateRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your IP services"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ip#PostIpServiceServiceNameTerminateResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.ip#PostIpServiceServiceNameTerminate": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ip#PostIpServiceServiceNameTerminateRequest"
      },
      "output": {
        "target": "com.ovh.ip#PostIpServiceServiceNameTerminateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ip/service/{serviceName}/terminate",
          "code": 200
        },
        "smithy.api#documentation": "Ask for the termination of your service\n\nAsk for the termination of your service. Admin contact of this service will receive a termination token by email in order to confirm its termination with /confirmTermination endpoint."
      }
    },
    "com.ovh.ip#GetIpIpRequest": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ip#IpIpWithIAM": {
      "type": "structure",
      "members": {
        "bringYourOwnIp": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is this IP part of the Bring your own IP program (alpha)"
          }
        },
        "campus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Where is the IP used/usable (alpha)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "canBeTerminated": {
          "target": "smithy.api#Boolean"
        },
        "country": {
          "target": "com.ovh.ip#CoreTypesCountryEnum",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom description on your ip",
            "com.distilled.openapi#nullable": {}
          }
        },
        "iam": {
          "target": "com.ovh.ip#IamResourceMetadata",
          "traits": {
            "smithy.api#documentation": "IAM resource metadata",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ip": {
          "target": "smithy.api#String"
        },
        "isAdditionalIp": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is this IP an Additional IP (alpha)"
          }
        },
        "organisationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP block organisation Id",
            "com.distilled.openapi#nullable": {}
          }
        },
        "regions": {
          "target": "com.ovh.ip#IpIpWithIAMRegionsList",
          "traits": {
            "smithy.api#documentation": "Where is the IP used/usable, in the form of region codenames (alpha)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "rir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Regional Internet Registry of the IP (alpha)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "routedTo": {
          "target": "com.ovh.ip#IpRoutedTo",
          "traits": {
            "smithy.api#documentation": "Routage information",
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.ovh.ip#IpIpTypeEnum"
        },
        "version": {
          "target": "com.ovh.ip#IpIpVersionEnum",
          "traits": {
            "smithy.api#documentation": "Version of the IP (alpha)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Your IP"
      }
    },
    "com.ovh.ip#CoreTypesRegionCodenameEnum": {
      "type": "enum",
      "members": {
        "AF_CENTRAL_LZ_ABJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "af-central-lz-abj"
          }
        },
        "AF_NORTH_LZ_RBA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "af-north-lz-rba"
          }
        },
        "AP_SOUTH_LZ_AKL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-south-lz-akl"
          }
        },
        "AP_SOUTH_LZ_BLR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-south-lz-blr"
          }
        },
        "AP_SOUTH_LZ_ICD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-south-lz-icd"
          }
        },
        "AP_SOUTH_MUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-south-mum"
          }
        },
        "AP_SOUTHEAST_SGP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-southeast-sgp"
          }
        },
        "AP_SOUTHEAST_SYD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ap-southeast-syd"
          }
        },
        "CA_EAST_BHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ca-east-bhs"
          }
        },
        "CA_EAST_TOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ca-east-tor"
          }
        },
        "EU_CENTRAL_LZ_BUH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-central-lz-buh"
          }
        },
        "EU_CENTRAL_LZ_SOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-central-lz-sof"
          }
        },
        "EU_CENTRAL_WAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-central-waw"
          }
        },
        "EU_EAST_LZ_PRG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-east-lz-prg"
          }
        },
        "EU_NORTH_LZ_CPH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-north-lz-cph"
          }
        },
        "EU_NORTH_LZ_HEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-north-lz-hel"
          }
        },
        "EU_NORTH_LZ_OSL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-north-lz-osl"
          }
        },
        "EU_NORTH_LZ_STO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-north-lz-sto"
          }
        },
        "EU_SOUTH_LZ_LIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-south-lz-lis"
          }
        },
        "EU_SOUTH_LZ_MAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-south-lz-mad"
          }
        },
        "EU_SOUTH_LZ_MIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-south-lz-mil"
          }
        },
        "EU_SOUTH_MIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-south-mil"
          }
        },
        "EU_WEST_ERI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-eri"
          }
        },
        "EU_WEST_GRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-gra"
          }
        },
        "EU_WEST_LIM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-lim"
          }
        },
        "EU_WEST_LZ_AMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-lz-ams"
          }
        },
        "EU_WEST_LZ_BRU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-lz-bru"
          }
        },
        "EU_WEST_LZ_DLN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-lz-dln"
          }
        },
        "EU_WEST_LZ_LUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-lz-lux"
          }
        },
        "EU_WEST_LZ_MNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-lz-mnc"
          }
        },
        "EU_WEST_LZ_MRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-lz-mrs"
          }
        },
        "EU_WEST_LZ_VIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-lz-vie"
          }
        },
        "EU_WEST_LZ_ZRH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-lz-zrh"
          }
        },
        "EU_WEST_PAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-par"
          }
        },
        "EU_WEST_RBX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-rbx"
          }
        },
        "EU_WEST_SBG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu-west-sbg"
          }
        },
        "ME_SOUTH_LZ_DXB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "me-south-lz-dxb"
          }
        },
        "SA_CENTRAL_LZ_MEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sa-central-lz-mex"
          }
        },
        "SA_EAST_LZ_SAO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sa-east-lz-sao"
          }
        },
        "SA_WEST_LZ_BUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sa-west-lz-bue"
          }
        },
        "SA_WEST_LZ_SCL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sa-west-lz-scl"
          }
        },
        "US_CENTRAL_LZ_SLC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-central-lz-slc"
          }
        },
        "US_CENTRAL_LZ_STL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-central-lz-stl"
          }
        },
        "US_EAST_LZ_ATL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east-lz-atl"
          }
        },
        "US_EAST_LZ_BOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east-lz-bos"
          }
        },
        "US_EAST_LZ_CHI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east-lz-chi"
          }
        },
        "US_EAST_LZ_DAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east-lz-dal"
          }
        },
        "US_EAST_LZ_MIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east-lz-mia"
          }
        },
        "US_EAST_LZ_NYC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east-lz-nyc"
          }
        },
        "US_EAST_VIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-east-vin"
          }
        },
        "US_WEST_HIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west-hil"
          }
        },
        "US_WEST_LZ_DEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west-lz-den"
          }
        },
        "US_WEST_LZ_LAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west-lz-lax"
          }
        },
        "US_WEST_LZ_PAO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west-lz-pao"
          }
        },
        "US_WEST_LZ_PHX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west-lz-phx"
          }
        },
        "US_WEST_LZ_SEA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us-west-lz-sea"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Region names"
      }
    },
    "com.ovh.ip#IpIpWithIAMRegionsList": {
      "type": "list",
      "member": {
        "target": "com.ovh.ip#CoreTypesRegionCodenameEnum"
      },
      "traits": {
        "smithy.api#documentation": "Where is the IP used/usable, in the form of region codenames (alpha)"
      }
    },
    "com.ovh.ip#GetIpIp": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ip#GetIpIpRequest"
      },
      "output": {
        "target": "com.ovh.ip#IpIpWithIAM"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ip/{ip}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.ip#PutIpIpRequest": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom description on your ip",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ip#PutIpIp": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ip#PutIpIpRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/ip/{ip}",
          "code": 200
        },
        "smithy.api#documentation": "Alter this object properties"
      }
    },
    "com.ovh.ip#IpBlockedIpStateEnum": {
      "type": "enum",
      "members": {
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blocked"
          }
        },
        "UNBLOCKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unblocking"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for IP state"
      }
    },
    "com.ovh.ip#GetIpIpAntihackRequest": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.ovh.ip#IpBlockedIpStateEnum",
          "traits": {
            "smithy.api#httpQuery": "state",
            "smithy.api#documentation": "Filter the value of state property (=)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ip#GetIpIpAntihackResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.ip#GetIpIpAntihackResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.ip#GetIpIpAntihackResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.ip#GetIpIpAntihack": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ip#GetIpIpAntihackRequest"
      },
      "output": {
        "target": "com.ovh.ip#GetIpIpAntihackResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ip/{ip}/antihack",
          "code": 200
        },
        "smithy.api#documentation": "Anti-Hack blocked IP"
      }
    },
    "com.ovh.ip#GetIpIpAntihackIpBlockedRequest": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ipBlocked": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "your IP"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ip#IpBlockedIp": {
      "type": "structure",
      "members": {
        "blockedSince": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last blocking date"
          }
        },
        "ipBlocked": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "your IP"
          }
        },
        "logs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Logs",
            "com.distilled.openapi#nullable": {}
          }
        },
        "state": {
          "target": "com.ovh.ip#IpBlockedIpStateEnum",
          "traits": {
            "smithy.api#documentation": "this IP address state"
          }
        },
        "time": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Time (in seconds) remaining before you can request your IP to be unblocked"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Blocked IP information"
      }
    },
    "com.ovh.ip#GetIpIpAntihackIpBlocked": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ip#GetIpIpAntihackIpBlockedRequest"
      },
      "output": {
        "target": "com.ovh.ip#IpBlockedIp"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
[...]
