{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.ovh.iploadbalancing#IamResourceTagFilterInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Resource tag filter"
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingRequestIamTagsValueList": {
      "type": "list",
      "member": {
        "target": "com.ovh.iploadbalancing#IamResourceTagFilterInput"
      },
      "traits": {}
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingRequestIamTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.ovh.iploadbalancing#GetIpLoadbalancingRequestIamTagsValueList"
      },
      "traits": {}
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingRequest": {
      "type": "structure",
      "members": {
        "iamTags": {
          "target": "com.ovh.iploadbalancing#GetIpLoadbalancingRequestIamTagsMap",
          "traits": {
            "smithy.api#httpQuery": "iamTags",
            "smithy.api#documentation": "Filter resources on IAM tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.iploadbalancing#GetIpLoadbalancingResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancing": {
      "type": "operation",
      "input": {
        "target": "com.ovh.iploadbalancing#GetIpLoadbalancingRequest"
      },
      "output": {
        "target": "com.ovh.iploadbalancing#GetIpLoadbalancingResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ipLoadbalancing",
          "code": 200
        },
        "smithy.api#documentation": "List of your load balancing IP"
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your IP load balancing"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.iploadbalancing#IpLoadbalancingIpWithIAM": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name displayed in ManagerV6 for your iplb (max 50 chars)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "iam": {
          "target": "com.ovh.iploadbalancing#IamResourceMetadata",
          "traits": {
            "smithy.api#documentation": "IAM resource metadata",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ipLoadbalancing": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your IP load balancing"
          }
        },
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IPV4 associated to your IP load balancing",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IPV6 associated to your IP load balancing",
            "com.distilled.openapi#nullable": {}
          }
        },
        "metricsToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The metrics token associated with your IP load balancing",
            "com.distilled.openapi#nullable": {}
          }
        },
        "offer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The offer of your IP load balancing"
          }
        },
        "orderableZone": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingIpWithIAMOrderableZoneList",
          "traits": {
            "smithy.api#documentation": "Available additional zone for your Load Balancer"
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The internal name of your IP load balancing"
          }
        },
        "sslConfiguration": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingSslConfigurationEnum",
          "traits": {
            "smithy.api#documentation": "Modern oldest compatible clients : Firefox 27, Chrome 30, IE 11 on Windows 7, Edge, Opera 17, Safari 9, Android 5.0, and Java 8. Intermediate oldest compatible clients : Firefox 1, Chrome 1, IE 7, Opera 5, Safari 1, Windows XP IE8, Android 2.3, Java 7. Intermediate if null.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "state": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingIpStateEnum",
          "traits": {
            "smithy.api#documentation": "Current state of your IP"
          }
        },
        "vrackEligibility": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Vrack eligibility"
          }
        },
        "vrackName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the vRack on which the current Load Balancer is attached to, as it is named on vRack product",
            "com.distilled.openapi#nullable": {}
          }
        },
        "zone": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingIpWithIAMZoneList",
          "traits": {
            "smithy.api#documentation": "Location where your service is"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Your IP load balancing"
      }
    },
    "com.ovh.iploadbalancing#IamResourceMetadata": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource display name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the resource"
          }
        },
        "tags": {
          "target": "com.ovh.iploadbalancing#IamResourceMetadataTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:",
            "com.distilled.openapi#nullable": {}
          }
        },
        "urn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique resource name used in policies"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IAM resource metadata embedded in services models"
      }
    },
    "com.ovh.iploadbalancing#IamResourceMetadataTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:"
      }
    },
    "com.ovh.iploadbalancing#IpLoadbalancingOrderableZone": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The zone three letter code"
          }
        },
        "planCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The billing planCode for this zone"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Available additional zone to order for a Load Balancer"
      }
    },
    "com.ovh.iploadbalancing#IpLoadbalancingIpWithIAMOrderableZoneList": {
      "type": "list",
      "member": {
        "target": "com.ovh.iploadbalancing#IpLoadbalancingOrderableZone"
      },
      "traits": {
        "smithy.api#documentation": "Available additional zone for your Load Balancer"
      }
    },
    "com.ovh.iploadbalancing#IpLoadbalancingSslConfigurationEnum": {
      "type": "enum",
      "members": {
        "INTERMEDIATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "intermediate"
          }
        },
        "MODERN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "modern"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for ssl ciphers"
      }
    },
    "com.ovh.iploadbalancing#IpLoadbalancingIpStateEnum": {
      "type": "enum",
      "members": {
        "BLACKLISTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blacklisted"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        },
        "FREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "free"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "QUARANTINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quarantined"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspended"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for load balancing IP state"
      }
    },
    "com.ovh.iploadbalancing#IpLoadbalancingIpWithIAMZoneList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Location where your service is"
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceName": {
      "type": "operation",
      "input": {
        "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameRequest"
      },
      "output": {
        "target": "com.ovh.iploadbalancing#IpLoadbalancingIpWithIAM"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ipLoadbalancing/{serviceName}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.iploadbalancing#PutIpLoadbalancingServiceNameRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your IP load balancing"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name displayed in ManagerV6 for your iplb (max 50 chars)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sslConfiguration": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingSslConfigurationEnum",
          "traits": {
            "smithy.api#documentation": "Modern oldest compatible clients : Firefox 27, Chrome 30, IE 11 on Windows 7, Edge, Opera 17, Safari 9, Android 5.0, and Java 8. Intermediate oldest compatible clients : Firefox 1, Chrome 1, IE 7, Opera 5, Safari 1, Windows XP IE8, Android 2.3, Java 7. Intermediate if null.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.iploadbalancing#PutIpLoadbalancingServiceName": {
      "type": "operation",
      "input": {
        "target": "com.ovh.iploadbalancing#PutIpLoadbalancingServiceNameRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/ipLoadbalancing/{serviceName}",
          "code": 200
        },
        "smithy.api#documentation": "Alter this object properties"
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameAvailableFarmProbesRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your IP load balancing"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.iploadbalancing#IpLoadbalancingFarmAvailableProbe": {
      "type": "structure",
      "members": {
        "matches": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingFarmAvailableProbeMatchesList",
          "traits": {
            "smithy.api#documentation": "List of possible probe result checkers for this type of probe"
          }
        },
        "method": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingFarmAvailableProbeMethodList",
          "traits": {
            "smithy.api#documentation": "List of available HTTP method, if available",
            "com.distilled.openapi#nullable": {}
          }
        },
        "negatableMatches": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingFarmAvailableProbeNegatableMatchesList",
          "traits": {
            "smithy.api#documentation": "List of matches operators that accept the negate option for this type of probe"
          }
        },
        "port": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True is this probe type supports a custom port"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Probe protocol name. See probe \"type\" field in the farm probe"
          }
        },
        "url": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True is this probe type supports a URL"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Available farm probes options"
      }
    },
    "com.ovh.iploadbalancing#IpLoadbalancingFarmAvailableProbeMatchesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of possible probe result checkers for this type of probe"
      }
    },
    "com.ovh.iploadbalancing#IpLoadbalancingFarmAvailableProbeMethodList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of available HTTP method, if available"
      }
    },
    "com.ovh.iploadbalancing#IpLoadbalancingFarmAvailableProbeNegatableMatchesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of matches operators that accept the negate option for this type of probe"
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameAvailableFarmProbesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.iploadbalancing#IpLoadbalancingFarmAvailableProbe"
      },
      "traits": {}
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameAvailableFarmProbesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameAvailableFarmProbesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameAvailableFarmProbes": {
      "type": "operation",
      "input": {
        "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameAvailableFarmProbesRequest"
      },
      "output": {
        "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameAvailableFarmProbesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ipLoadbalancing/{serviceName}/availableFarmProbes",
          "code": 200
        },
        "smithy.api#documentation": "Available farm probes for health checks"
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameAvailableFarmTypeRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your IP load balancing"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameAvailableFarmTypeResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameAvailableFarmTypeResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameAvailableFarmTypeResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameAvailableFarmType": {
      "type": "operation",
      "input": {
        "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameAvailableFarmTypeRequest"
      },
      "output": {
        "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameAvailableFarmTypeResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ipLoadbalancing/{serviceName}/availableFarmType",
          "code": 200
        },
        "smithy.api#documentation": "Available farm types"
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameAvailableFrontendTypeRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your IP load balancing"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameAvailableFrontendTypeResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameAvailableFrontendTypeResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameAvailableFrontendTypeResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameAvailableFrontendType": {
      "type": "operation",
      "input": {
        "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameAvailableFrontendTypeRequest"
      },
      "output": {
        "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameAvailableFrontendTypeResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ipLoadbalancing/{serviceName}/availableFrontendType",
          "code": 200
        },
        "smithy.api#documentation": "Available frontend type"
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameAvailableRouteActionsRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your IP load balancing"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.iploadbalancing#IpLoadbalancingRouteAvailableAction": {
      "type": "structure",
      "members": {
        "destination": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the destination for this action",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Action name"
          }
        },
        "status": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingRouteAvailableActionStatusList",
          "traits": {
            "smithy.api#documentation": "List of available HTTP status code if applicable",
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Protocol supported by this action"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Available route actions options"
      }
    },
    "com.ovh.iploadbalancing#IpLoadbalancingRouteAvailableActionStatusList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "List of available HTTP status code if applicable"
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameAvailableRouteActionsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.iploadbalancing#IpLoadbalancingRouteAvailableAction"
      },
      "traits": {}
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameAvailableRouteActionsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameAvailableRouteActionsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameAvailableRouteActions": {
      "type": "operation",
      "input": {
        "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameAvailableRouteActionsRequest"
      },
      "output": {
        "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameAvailableRouteActionsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ipLoadbalancing/{serviceName}/availableRouteActions",
          "code": 200
        },
        "smithy.api#documentation": "Available route actions"
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameAvailableRouteRulesRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your IP load balancing"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.iploadbalancing#IpLoadbalancingRouteAvailableRule": {
      "type": "structure",
      "members": {
        "enum": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingRouteAvailableRuleEnumList",
          "traits": {
            "smithy.api#documentation": "If pattern is \"enum\", list of available options",
            "com.distilled.openapi#nullable": {}
          }
        },
        "hasSubField": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, this rule needs a subfield. Typically a cookie or header name"
          }
        },
        "matches": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingRouteAvailableRuleMatchesList",
          "traits": {
            "smithy.api#documentation": "List of match operators compatible with this rule"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rule name"
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Expected type for the pattern. Like \"enum\", \"backend\", \"cidr\", ..."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Protocol supported by this action"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Match rule to combine to build routes"
      }
    },
    "com.ovh.iploadbalancing#IpLoadbalancingRouteAvailableRuleEnumList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "If pattern is \"enum\", list of available options"
      }
    },
    "com.ovh.iploadbalancing#IpLoadbalancingRouteAvailableRuleMatchesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of match operators compatible with this rule"
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameAvailableRouteRulesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.iploadbalancing#IpLoadbalancingRouteAvailableRule"
      },
      "traits": {}
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameAvailableRouteRulesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameAvailableRouteRulesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameAvailableRouteRules": {
      "type": "operation",
      "input": {
        "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameAvailableRouteRulesRequest"
      },
      "output": {
        "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameAvailableRouteRulesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ipLoadbalancing/{serviceName}/availableRouteRules",
          "code": 200
        },
        "smithy.api#documentation": "Available route match rules"
      }
    },
    "com.ovh.iploadbalancing#PostIpLoadbalancingServiceNameChangeContactRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your IP load balancing"
          }
        },
        "contactAdmin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as admin contact"
          }
        },
        "contactBilling": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as billing contact"
          }
        },
        "contactTech": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as tech contact"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.iploadbalancing#PostIpLoadbalancingServiceNameChangeContactResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.iploadbalancing#PostIpLoadbalancingServiceNameChangeContactResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.iploadbalancing#PostIpLoadbalancingServiceNameChangeContactResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.iploadbalancing#PostIpLoadbalancingServiceNameChangeContact": {
      "type": "operation",
      "input": {
        "target": "com.ovh.iploadbalancing#PostIpLoadbalancingServiceNameChangeContactRequest"
      },
      "output": {
        "target": "com.ovh.iploadbalancing#PostIpLoadbalancingServiceNameChangeContactResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ipLoadbalancing/{serviceName}/changeContact",
          "code": 200
        },
        "smithy.api#documentation": "Launch a contact change procedure"
      }
    },
    "com.ovh.iploadbalancing#ServiceTerminationFutureUseEnum": {
      "type": "enum",
      "members": {
        "NOT_REPLACING_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_REPLACING_SERVICE"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        },
        "SUBSCRIBE_AN_OTHER_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIBE_AN_OTHER_SERVICE"
          }
        },
        "SUBSCRIBE_OTHER_KIND_OF_SERVICE_WITH_COMPETITOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIBE_OTHER_KIND_OF_SERVICE_WITH_COMPETITOR"
          }
        },
        "SUBSCRIBE_SIMILAR_SERVICE_WITH_COMPETITOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIBE_SIMILAR_SERVICE_WITH_COMPETITOR"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All future uses you can provide for a service termination"
      }
    },
    "com.ovh.iploadbalancing#ServiceTerminationReasonEnum": {
      "type": "enum",
      "members": {
        "FEATURES_DONT_SUIT_ME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEATURES_DONT_SUIT_ME"
          }
        },
        "LACK_OF_PERFORMANCES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LACK_OF_PERFORMANCES"
          }
        },
        "MIGRATED_TO_ANOTHER_OVH_PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIGRATED_TO_ANOTHER_OVH_PRODUCT"
          }
        },
        "MIGRATED_TO_COMPETITOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIGRATED_TO_COMPETITOR"
          }
        },
        "NOT_ENOUGH_RECOGNITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_ENOUGH_RECOGNITION"
          }
        },
        "NOT_NEEDED_ANYMORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_NEEDED_ANYMORE"
          }
        },
        "NOT_RELIABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_RELIABLE"
          }
        },
        "NO_ANSWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_ANSWER"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        },
        "PRODUCT_DIMENSION_DONT_SUIT_ME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_DIMENSION_DONT_SUIT_ME"
          }
        },
        "PRODUCT_TOOLS_DONT_SUIT_ME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TOOLS_DONT_SUIT_ME"
          }
        },
        "TOO_EXPENSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOO_EXPENSIVE"
          }
        },
        "TOO_HARD_TO_USE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOO_HARD_TO_USE"
          }
        },
        "UNSATIFIED_BY_CUSTOMER_SUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSATIFIED_BY_CUSTOMER_SUPPORT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All reasons you can provide for a service termination"
      }
    },
    "com.ovh.iploadbalancing#PostIpLoadbalancingServiceNameConfirmTerminationRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your IP load balancing"
          }
        },
        "commentary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Commentary about your termination request"
          }
        },
        "futureUse": {
          "target": "com.ovh.iploadbalancing#ServiceTerminationFutureUseEnum",
          "traits": {
            "smithy.api#documentation": "What next after your termination request"
          }
        },
        "reason": {
          "target": "com.ovh.iploadbalancing#ServiceTerminationReasonEnum",
          "traits": {
            "smithy.api#documentation": "Reason of your termination request"
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The termination token sent by email to the admin contact",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.iploadbalancing#PostIpLoadbalancingServiceNameConfirmTerminationResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.iploadbalancing#PostIpLoadbalancingServiceNameConfirmTermination": {
      "type": "operation",
      "input": {
        "target": "com.ovh.iploadbalancing#PostIpLoadbalancingServiceNameConfirmTerminationRequest"
      },
      "output": {
        "target": "com.ovh.iploadbalancing#PostIpLoadbalancingServiceNameConfirmTerminationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ipLoadbalancing/{serviceName}/confirmTermination",
          "code": 200
        },
        "smithy.api#documentation": "Confirm service termination"
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameDefinedFarmsRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your IP load balancing"
          }
        },
        "vrackNetworkId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "vrackNetworkId",
            "smithy.api#documentation": "The vrack network id you want to filter on"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.iploadbalancing#IpLoadbalancingDefinedFarm": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "a list of { type => [ Farm ids ] }"
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameDefinedFarmsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.iploadbalancing#IpLoadbalancingDefinedFarm"
      },
      "traits": {}
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameDefinedFarmsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameDefinedFarmsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameDefinedFarms": {
      "type": "operation",
      "input": {
        "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameDefinedFarmsRequest"
      },
      "output": {
        "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameDefinedFarmsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ipLoadbalancing/{serviceName}/definedFarms",
          "code": 200
        },
        "smithy.api#documentation": "List of defined farms, and whether they are HTTP, TCP or UDP"
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameDefinedFrontendsRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your IP load balancing"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.iploadbalancing#IpLoadbalancingDefinedFrontend": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "a list of {type=>[Frontend ids]}"
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameDefinedFrontendsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.iploadbalancing#IpLoadbalancingDefinedFrontend"
      },
      "traits": {}
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameDefinedFrontendsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameDefinedFrontendsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameDefinedFrontends": {
      "type": "operation",
      "input": {
        "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameDefinedFrontendsRequest"
      },
      "output": {
        "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameDefinedFrontendsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ipLoadbalancing/{serviceName}/definedFrontends",
          "code": 200
        },
        "smithy.api#documentation": "List of defined frontends, and whether they are HTTP, TCP or UDP"
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameDefinedRoutesRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your IP load balancing"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.iploadbalancing#IpLoadbalancingDefinedRoute": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human readable name for your route",
            "com.distilled.openapi#nullable": {}
          }
        },
        "routeId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Id of your route"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Protocol supported by this route"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defined routes name, type and id. Typically used to generate autocomplete lists."
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameDefinedRoutesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.iploadbalancing#IpLoadbalancingDefinedRoute"
      },
      "traits": {}
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameDefinedRoutesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameDefinedRoutesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameDefinedRoutes": {
      "type": "operation",
      "input": {
        "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameDefinedRoutesRequest"
      },
      "output": {
        "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameDefinedRoutesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ipLoadbalancing/{serviceName}/definedRoutes",
          "code": 200
        },
        "smithy.api#documentation": "List of defined routes, and whether they are HTTP or TCP"
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameFailoverRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your IP load balancing"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameFailoverResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameFailoverResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameFailoverResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameFailover": {
      "type": "operation",
      "input": {
        "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameFailoverRequest"
      },
      "output": {
        "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameFailoverResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ipLoadbalancing/{serviceName}/failover",
          "code": 200
        },
        "smithy.api#documentation": "List all failover ip routed to this IPLB"
      }
    },
    "com.ovh.iploadbalancing#PostIpLoadbalancingServiceNameFreeCertificateRequestFqdnList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The FQDN for which you want a free certificate. A DCV (Domain Control Validation) http request will be made to http://your_domain.abc, make sure this domain exists and resolves to your iplb ip before ordering"
      }
    },
    "com.ovh.iploadbalancing#PostIpLoadbalancingServiceNameFreeCertificateRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your IP load balancing"
          }
        },
        "fqdn": {
          "target": "com.ovh.iploadbalancing#PostIpLoadbalancingServiceNameFreeCertificateRequestFqdnList",
          "traits": {
            "smithy.api#documentation": "The FQDN for which you want a free certificate. A DCV (Domain Control Validation) http request will be made to http://your_domain.abc, make sure this domain exists and resolves to your iplb ip before ordering",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.iploadbalancing#IpLoadbalancingTaskTask": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingTaskActionEnum",
          "traits": {
            "smithy.api#documentation": "Operation type"
          }
        },
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation date of your operation"
          }
        },
        "doneDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Done date of your operation",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Id of the operation"
          }
        },
        "progress": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Operation progress percentage"
          }
        },
        "status": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingTaskStatusEnum",
          "traits": {
            "smithy.api#documentation": "Current status of your operation"
          }
        },
        "zones": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingTaskTaskZonesList",
          "traits": {
            "smithy.api#documentation": "Zone of your Load Balancer which are updated by current Task"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IP Load Balancing Operations"
      }
    },
    "com.ovh.iploadbalancing#IpLoadbalancingTaskActionEnum": {
      "type": "enum",
      "members": {
        "DELETEIPLB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleteIplb"
          }
        },
        "DEPLOYIPLB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployIplb"
          }
        },
        "INSTALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "install"
          }
        },
        "INSTALLIPLB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "installIplb"
          }
        },
        "INSTALLZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "installZone"
          }
        },
        "ORDERFREECERTIFICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "orderFreeCertificate"
          }
        },
        "ORDERPAIDCERTIFICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "orderPaidCertificate"
          }
        },
        "ORDERSSL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "orderSsl"
          }
        },
        "REFRESHIPLB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "refreshIplb"
          }
        },
        "RELEASEIPLB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "releaseIplb"
          }
        },
        "RELEASEIPLBZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "releaseIplbZone"
          }
        },
        "REOPENIPLB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reopenIplb"
          }
        },
        "SUSPENDIPLB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspendIplb"
          }
        },
        "SUSPENDZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspendZone"
          }
        },
        "SWITCHTOIPLBNEXTGENERATIONAPI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "switchToIplbNextGenerationApi"
          }
        },
        "VRACKATTACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vrackAttach"
          }
        },
        "VRACKDETACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vrackDetach"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible task action"
      }
    },
    "com.ovh.iploadbalancing#IpLoadbalancingTaskStatusEnum": {
      "type": "enum",
      "members": {
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blocked"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        },
        "DOING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "doing"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "done"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "TODO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "todo"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible task status"
      }
    },
    "com.ovh.iploadbalancing#IpLoadbalancingTaskTaskZonesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Zone of your Load Balancer which are updated by current Task"
      }
    },
    "com.ovh.iploadbalancing#PostIpLoadbalancingServiceNameFreeCertificate": {
      "type": "operation",
      "input": {
        "target": "com.ovh.iploadbalancing#PostIpLoadbalancingServiceNameFreeCertificateRequest"
      },
      "output": {
        "target": "com.ovh.iploadbalancing#IpLoadbalancingTaskTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ipLoadbalancing/{serviceName}/freeCertificate",
          "code": 200
        },
        "smithy.api#documentation": "Order a free certificate. We order and deliver it for you"
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameHttpFarmRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your IP load balancing"
          }
        },
        "vrackNetworkId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "vrackNetworkId",
            "smithy.api#documentation": "Filter the value of vrackNetworkId property (=)"
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "zone",
            "smithy.api#documentation": "Filter the value of zone property (=)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameHttpFarmResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameHttpFarmResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameHttpFarmResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameHttpFarm": {
      "type": "operation",
      "input": {
        "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameHttpFarmRequest"
      },
      "output": {
        "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameHttpFarmResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ipLoadbalancing/{serviceName}/http/farm",
          "code": 200
        },
        "smithy.api#documentation": "HTTP Farm for this iplb"
      }
    },
    "com.ovh.iploadbalancing#IpLoadbalancingBalanceHTTPEnum": {
      "type": "enum",
      "members": {
        "FIRST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "first"
          }
        },
        "LEASTCONN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leastconn"
          }
        },
        "ROUNDROBIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "roundrobin"
          }
        },
        "SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "source"
          }
        },
        "URI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uri"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for load balancing balance algorithm"
      }
    },
    "com.ovh.iploadbalancing#IpLoadbalancingBackendProbe": {
      "type": "structure",
      "members": {
        "forceSsl": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Force probe to run over a SSL layer. Defaults to false",
            "com.distilled.openapi#nullable": {}
          }
        },
        "interval": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds between each probe check. Must be > 30sec. Defaults to 30",
            "com.distilled.openapi#nullable": {}
          }
        },
        "match": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingProbeExpectMatchEnum",
          "traits": {
            "smithy.api#documentation": "Matcher to use to valide \"expect\". \"default\" uses HAProxy's default behavior for this type of check. \"status\" is only supported for HTTP probes",
            "com.distilled.openapi#nullable": {}
          }
        },
        "method": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingProbeMethodEnum",
          "traits": {
            "smithy.api#documentation": "HTTP method to use with \"http\" probe. Consider using HEAD to save bandwidth when possible. Defaults to \"GET\"",
            "com.distilled.openapi#nullable": {}
          }
        },
        "negate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Invert the matching operator effect",
            "com.distilled.openapi#nullable": {}
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Server response expected when UP. Empty for \"default\", comma delimited list of statuses for \"status\", string for \"contains\", regex for \"matches\"",
            "com.distilled.openapi#nullable": {}
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port used to probe your backend. Equal to farm port if null. Ignored for oco probe type",
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingProbeTypeEnum",
          "traits": {
            "smithy.api#documentation": "Probe type. \"tcp\" if null",
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to use for HTTP probes of the form [www.example.com]/path/to/check. Protocol will be ignored. Defaults to \"/\"",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Probe used to determine if a backend is alive and can handle requests"
      }
    },
    "com.ovh.iploadbalancing#IpLoadbalancingProbeExpectMatchEnum": {
      "type": "enum",
      "members": {
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contains"
          }
        },
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "internal"
          }
        },
        "MATCHES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "matches"
          }
        },
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of possible probe result matches. \"status\" is only supported for HTTP probes"
      }
    },
    "com.ovh.iploadbalancing#IpLoadbalancingProbeMethodEnum": {
      "type": "enum",
      "members": {
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "HEAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEAD"
          }
        },
        "OPTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIONS"
          }
        },
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "internal"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of possible method for HTTP probes. Consider using HEAD to save bandwidth when possible."
      }
    },
    "com.ovh.iploadbalancing#IpLoadbalancingProbeTypeEnum": {
      "type": "enum",
      "members": {
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        },
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "internal"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        },
        "OCO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oco"
          }
        },
        "PGSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pgsql"
          }
        },
        "SMTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "smtp"
          }
        },
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for farm probe"
      }
    },
    "com.ovh.iploadbalancing#IpLoadbalancingStickinessHTTPEnum": {
      "type": "enum",
      "members": {
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cookie"
          }
        },
        "SOURCEIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sourceIp"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for HTTP backend stickiness"
      }
    },
    "com.ovh.iploadbalancing#PostIpLoadbalancingServiceNameHttpFarmRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your IP load balancing"
          }
        },
        "balance": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingBalanceHTTPEnum",
          "traits": {
            "smithy.api#documentation": "Load balancing algorithm. 'roundrobin' if null"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human readable name for your backend, this field is for you"
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port attached to your farm ([1..49151]). Inherited from frontend if null"
          }
        },
        "probe": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingBackendProbe",
          "traits": {
            "smithy.api#documentation": "Probe used to determine if a backend is alive and can handle requests"
          }
        },
        "stickiness": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingStickinessHTTPEnum",
          "traits": {
            "smithy.api#documentation": "Stickiness type. No stickiness if null"
          }
        },
        "vrackNetworkId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Internal Load Balancer identifier of the vRack private network to attach to your farm, mandatory when your Load Balancer is attached to a vRack"
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone of your farm",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.iploadbalancing#IpLoadbalancingBackendHttpBackendHttp": {
      "type": "structure",
      "members": {
        "balance": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingBalanceHTTPEnum",
          "traits": {
            "smithy.api#documentation": "Load balancing algorithm. 'roundrobin' if null",
            "com.distilled.openapi#nullable": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human readable name for your backend, this field is for you",
            "com.distilled.openapi#nullable": {}
          }
        },
        "farmId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Id of your farm"
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port attached to your farm. Inherited from frontend if null",
            "com.distilled.openapi#nullable": {}
          }
        },
        "probe": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingBackendProbe",
          "traits": {
            "smithy.api#documentation": "Probe used to determine if a backend is alive and can handle requests. Defaults to tcp on the same port as the farm",
            "com.distilled.openapi#nullable": {}
          }
        },
        "stickiness": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingStickinessHTTPEnum",
          "traits": {
            "smithy.api#documentation": "Stickiness type. No stickiness if null",
            "com.distilled.openapi#nullable": {}
          }
        },
        "vrackNetworkId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Internal Load Balancer identifier of the vRack private network attached to your farm, mandatory when your Load Balancer is attached to a vRack",
            "com.distilled.openapi#nullable": {}
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone of you farm"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "HTTP Farm"
      }
    },
    "com.ovh.iploadbalancing#PostIpLoadbalancingServiceNameHttpFarm": {
      "type": "operation",
      "input": {
        "target": "com.ovh.iploadbalancing#PostIpLoadbalancingServiceNameHttpFarmRequest"
      },
      "output": {
        "target": "com.ovh.iploadbalancing#IpLoadbalancingBackendHttpBackendHttp"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ipLoadbalancing/{serviceName}/http/farm",
          "code": 200
        },
        "smithy.api#documentation": "Add a new HTTP Farm on your IP Load Balancing"
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameHttpFarmFarmIdRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your IP load balancing"
          }
        },
        "farmId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Id of your farm"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameHttpFarmFarmId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameHttpFarmFarmIdRequest"
      },
      "output": {
        "target": "com.ovh.iploadbalancing#IpLoadbalancingBackendHttpBackendHttp"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ipLoadbalancing/{serviceName}/http/farm/{farmId}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.iploadbalancing#PutIpLoadbalancingServiceNameHttpFarmFarmIdRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your IP load balancing"
          }
        },
        "farmId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Id of your farm"
          }
        },
        "balance": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingBalanceHTTPEnum",
          "traits": {
            "smithy.api#documentation": "Load balancing algorithm. 'roundrobin' if null",
            "com.distilled.openapi#nullable": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human readable name for your backend, this field is for you",
            "com.distilled.openapi#nullable": {}
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port attached to your farm. Inherited from frontend if null",
            "com.distilled.openapi#nullable": {}
          }
        },
        "probe": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingBackendProbe",
          "traits": {
            "smithy.api#documentation": "Probe used to determine if a backend is alive and can handle requests. Defaults to tcp on the same port as the farm",
            "com.distilled.openapi#nullable": {}
          }
        },
        "stickiness": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingStickinessHTTPEnum",
          "traits": {
            "smithy.api#documentation": "Stickiness type. No stickiness if null",
            "com.distilled.openapi#nullable": {}
          }
        },
        "vrackNetworkId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Internal Load Balancer identifier of the vRack private network attached to your farm, mandatory when your Load Balancer is attached to a vRack",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.iploadbalancing#PutIpLoadbalancingServiceNameHttpFarmFarmId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.iploadbalancing#PutIpLoadbalancingServiceNameHttpFarmFarmIdRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/ipLoadbalancing/{serviceName}/http/farm/{farmId}",
          "code": 200
        },
        "smithy.api#documentation": "Alter this object properties"
      }
    },
    "com.ovh.iploadbalancing#DeleteIpLoadbalancingServiceNameHttpFarmFarmIdRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your IP load balancing"
          }
        },
        "farmId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Id of your farm"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.iploadbalancing#DeleteIpLoadbalancingServiceNameHttpFarmFarmId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.iploadbalancing#DeleteIpLoadbalancingServiceNameHttpFarmFarmIdRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/ipLoadbalancing/{serviceName}/http/farm/{farmId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an HTTP Farm"
      }
    },
    "com.ovh.iploadbalancing#IpLoadbalancingBackendCustomerServerStatusEnum": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for server status"
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameHttpFarmFarmIdServerRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your IP load balancing"
          }
        },
        "farmId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Id of your farm"
          }
        },
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "address",
            "smithy.api#documentation": "Filter the value of address property (=)"
          }
        },
        "cookie": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cookie",
            "smithy.api#documentation": "Filter the value of cookie property (like)"
          }
        },
        "status": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingBackendCustomerServerStatusEnum",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Filter the value of status property (=)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameHttpFarmFarmIdServerResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameHttpFarmFarmIdServerResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameHttpFarmFarmIdServerResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameHttpFarmFarmIdServer": {
      "type": "operation",
      "input": {
        "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameHttpFarmFarmIdServerRequest"
      },
      "output": {
        "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameHttpFarmFarmIdServerResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ipLoadbalancing/{serviceName}/http/farm/{farmId}/server",
          "code": 200
        },
        "smithy.api#documentation": "HTTP Farm's Servers"
      }
    },
    "com.ovh.iploadbalancing#IpLoadbalancingOnMarkedDownEnum": {
      "type": "enum",
      "members": {
        "SHUTDOWN_SESSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shutdown-sessions"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for OnMarkedDown type"
      }
    },
    "com.ovh.iploadbalancing#IpLoadbalancingProxyProtocolVersionEnum": {
      "type": "enum",
      "members": {
        "V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v1"
          }
        },
        "V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v2"
          }
        },
        "V2_SSL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v2-ssl"
          }
        },
        "V2_SSL_CN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v2-ssl-cn"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for proxy type"
      }
    },
    "com.ovh.iploadbalancing#PostIpLoadbalancingServiceNameHttpFarmFarmIdServerRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your IP load balancing"
          }
        },
        "farmId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Id of your farm"
          }
        },
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address of your server",
            "smithy.api#required": {}
          }
        },
        "backup": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set server as backup. Default: 'false'"
          }
        },
        "chain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Certificate chain. Allow server certificate verification (Avoid man-in-the-middle attacks)"
          }
        },
        "cookie": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the cookie value used when 'cookie' stickiness is set in the farm. Auto generate the cookie if none provided and required."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human readable name for your server, this field is for you"
          }
        },
        "onMarkedDown": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingOnMarkedDownEnum",
          "traits": {
            "smithy.api#documentation": "Enable action when backend marked down. (No action if null)"
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port attached to your server ([1..49151]). Inherited from farm if null"
          }
        },
        "probe": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable/disable probe. Default: 'false'"
          }
        },
        "proxyProtocolVersion": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingProxyProtocolVersionEnum",
          "traits": {
            "smithy.api#documentation": "Disabled if null. Send PROXY protocol header. Requires a compatible server."
          }
        },
        "ssl": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "SSL ciphering. Probes will also be sent ciphered. Default: 'false'"
          }
        },
        "status": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingBackendCustomerServerStatusEnum",
          "traits": {
            "smithy.api#documentation": "Enable or disable your server",
            "smithy.api#required": {}
          }
        },
        "weight": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Set weight on that server [1..256]. 0 if not used in load balancing. 1 if left null. Servers with higher weight get more requests."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.iploadbalancing#IpLoadbalancingBackendHttpCustomerServerBackendHTTPServer": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address of your server"
          }
        },
        "backendId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "farm id"
          }
        },
        "backup": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Backup state. Default: 'false'"
          }
        },
        "chain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Certificate chain. Allow server certificate verification (Avoid man-in-the-middle attacks)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cookie": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Server cookie value configured for cookie stickiness",
            "com.distilled.openapi#nullable": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human readable name for your server, this field is for you",
            "com.distilled.openapi#nullable": {}
          }
        },
        "onMarkedDown": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingOnMarkedDownEnum",
          "traits": {
            "smithy.api#documentation": "Set action when backend marked down. (No action if null)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port attached to your server. Inherited from farm if null",
            "com.distilled.openapi#nullable": {}
          }
        },
        "probe": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Probe state. Default: 'false'"
          }
        },
        "proxyProtocolVersion": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingProxyProtocolVersionEnum",
          "traits": {
            "smithy.api#documentation": "Disabled if null. Send PROXY protocol header. Requires a compatible server.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "serverId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Id of your server"
          }
        },
        "serverState": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingBackendHttpCustomerServerBackendHTTPServerServerStateList",
          "traits": {
            "smithy.api#documentation": "Server state"
          }
        },
        "ssl": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "SSL ciphering. Probes will also be sent ciphered. Default: 'false'"
          }
        },
        "status": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingBackendCustomerServerStatusEnum",
          "traits": {
            "smithy.api#documentation": "Status attached to your server"
          }
        },
        "weight": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Weight value. Defaults to 1. 0 if not used in load balancing. Servers with higher weight get more requests.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "HTTP Farm's Server"
      }
    },
    "com.ovh.iploadbalancing#IpLoadbalancingServerState": {
      "type": "structure",
      "members": {
        "checkCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Layer5-7 code, if available",
            "com.distilled.openapi#nullable": {}
          }
        },
        "checkStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of last health check",
            "com.distilled.openapi#nullable": {}
          }
        },
        "checkTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time of last health check",
            "com.distilled.openapi#nullable": {}
          }
        },
        "instanceId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Id of your instance"
          }
        },
        "lastCheckContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last health check contents or textual error",
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Available servers states"
      }
    },
    "com.ovh.iploadbalancing#IpLoadbalancingBackendHttpCustomerServerBackendHTTPServerServerStateList": {
      "type": "list",
      "member": {
        "target": "com.ovh.iploadbalancing#IpLoadbalancingServerState"
      },
      "traits": {
        "smithy.api#documentation": "Server state"
      }
    },
    "com.ovh.iploadbalancing#PostIpLoadbalancingServiceNameHttpFarmFarmIdServer": {
      "type": "operation",
      "input": {
        "target": "com.ovh.iploadbalancing#PostIpLoadbalancingServiceNameHttpFarmFarmIdServerRequest"
      },
      "output": {
        "target": "com.ovh.iploadbalancing#IpLoadbalancingBackendHttpCustomerServerBackendHTTPServer"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ipLoadbalancing/{serviceName}/http/farm/{farmId}/server",
          "code": 200
        },
        "smithy.api#documentation": "Add a server to an HTTP Farm"
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameHttpFarmFarmIdServerServerIdRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your IP load balancing"
          }
        },
        "farmId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Id of your farm"
          }
        },
        "serverId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Id of your server"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameHttpFarmFarmIdServerServerId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameHttpFarmFarmIdServerServerIdRequest"
      },
      "output": {
        "target": "com.ovh.iploadbalancing#IpLoadbalancingBackendHttpCustomerServerBackendHTTPServer"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ipLoadbalancing/{serviceName}/http/farm/{farmId}/server/{serverId}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.iploadbalancing#PutIpLoadbalancingServiceNameHttpFarmFarmIdServerServerIdRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your IP load balancing"
          }
        },
        "farmId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Id of your farm"
          }
        },
        "serverId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Id of your server"
          }
        },
        "backup": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Backup state. Default: 'false'"
          }
        },
        "chain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Certificate chain. Allow server certificate verification (Avoid man-in-the-middle attacks)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cookie": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Server cookie value configured for cookie stickiness",
            "com.distilled.openapi#nullable": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human readable name for your server, this field is for you",
            "com.distilled.openapi#nullable": {}
          }
        },
        "onMarkedDown": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingOnMarkedDownEnum",
          "traits": {
            "smithy.api#documentation": "Set action when backend marked down. (No action if null)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port attached to your server. Inherited from farm if null",
            "com.distilled.openapi#nullable": {}
          }
        },
        "probe": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Probe state. Default: 'false'"
          }
        },
        "proxyProtocolVersion": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingProxyProtocolVersionEnum",
          "traits": {
            "smithy.api#documentation": "Disabled if null. Send PROXY protocol header. Requires a compatible server.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ssl": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "SSL ciphering. Probes will also be sent ciphered. Default: 'false'"
          }
        },
        "status": {
          "target": "com.ovh.iploadbalancing#IpLoadbalancingBackendCustomerServerStatusEnum",
          "traits": {
            "smithy.api#documentation": "Status attached to your server"
          }
        },
        "weight": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Weight value. Defaults to 1. 0 if not used in load balancing. Servers with higher weight get more requests.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.iploadbalancing#PutIpLoadbalancingServiceNameHttpFarmFarmIdServerServerId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.iploadbalancing#PutIpLoadbalancingServiceNameHttpFarmFarmIdServerServerIdRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/ipLoadbalancing/{serviceName}/http/farm/{farmId}/server/{serverId}",
          "code": 200
        },
        "smithy.api#documentation": "Alter this object properties"
      }
    },
    "com.ovh.iploadbalancing#DeleteIpLoadbalancingServiceNameHttpFarmFarmIdServerServerIdRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your IP load balancing"
          }
        },
        "farmId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Id of your farm"
          }
        },
        "serverId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Id of your server"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.iploadbalancing#DeleteIpLoadbalancingServiceNameHttpFarmFarmIdServerServerId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.iploadbalancing#DeleteIpLoadbalancingServiceNameHttpFarmFarmIdServerServerIdRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/ipLoadbalancing/{serviceName}/http/farm/{farmId}/server/{serverId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a server from an HTTP Farm"
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameHttpFarmFarmIdServerServerIdTransparentRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your IP load balancing"
          }
        },
        "farmId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Id of your farm"
          }
        },
        "serverId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Id of your server"
          }
        },
        "slotId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "slotId",
            "smithy.api#documentation": "Filter the value of slotId property (=)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameHttpFarmFarmIdServerServerIdTransparentResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameHttpFarmFarmIdServerServerIdTransparentResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameHttpFarmFarmIdServerServerIdTransparentResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameHttpFarmFarmIdServerServerIdTransparent": {
      "type": "operation",
      "input": {
        "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameHttpFarmFarmIdServerServerIdTransparentRequest"
      },
      "output": {
        "target": "com.ovh.iploadbalancing#GetIpLoadbalancingServiceNameHttpFarmFarmIdServerServerIdTransparentResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ipLoadbalancing/{serviceName}/http/farm/{farmId}/server/{serverId}/transparent",
          "code": 200
        },
        "smithy.api#documentation": "HTTP Farm's Servers transparent configuration"
      }
    },
    "com.ovh.iploadbalancing#PostIpLoadbalancingServiceNameHttpFarmFarmIdServerServerIdTransparentRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your IP load balancing"
          }
        },
        "farmId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Id of your farm"
          }
        },
        "serverId": {
          "target": "smithy.api#Integer",
[...]
