{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.ovh.ldp#IamResourceTagFilterInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Resource tag filter"
      }
    },
    "com.ovh.ldp#ListDbaasLogsRequestIamTagsValueList": {
      "type": "list",
      "member": {
        "target": "com.ovh.ldp#IamResourceTagFilterInput"
      },
      "traits": {}
    },
    "com.ovh.ldp#ListDbaasLogsRequestIamTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.ovh.ldp#ListDbaasLogsRequestIamTagsValueList"
      },
      "traits": {}
    },
    "com.ovh.ldp#ListDbaasLogsRequest": {
      "type": "structure",
      "members": {
        "iamTags": {
          "target": "com.ovh.ldp#ListDbaasLogsRequestIamTagsMap",
          "traits": {
            "smithy.api#httpQuery": "iamTags",
            "smithy.api#documentation": "Filter resources on IAM tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ldp#ListDbaasLogsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.ldp#ListDbaasLogsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.ldp#ListDbaasLogsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.ldp#ListDbaasLogs": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ldp#ListDbaasLogsRequest"
      },
      "output": {
        "target": "com.ovh.ldp#ListDbaasLogsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/dbaas/logs",
          "code": 200
        },
        "smithy.api#documentation": "List available services"
      }
    },
    "com.ovh.ldp#GetDbaasLogRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ldp#DbaasLogsServiceWithIAM": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service creation"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service custom name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "iam": {
          "target": "com.ovh.ldp#IamResourceMetadata",
          "traits": {
            "smithy.api#documentation": "IAM resource metadata",
            "com.distilled.openapi#nullable": {}
          }
        },
        "isClusterOwner": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set, can perform extra action on cluster"
          }
        },
        "isIamEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is IAM enabled for this service?"
          }
        },
        "plan": {
          "target": "com.ovh.ldp#DbaasLogsServicePlanEnum",
          "traits": {
            "smithy.api#documentation": "Service plan"
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service name"
          }
        },
        "state": {
          "target": "com.ovh.ldp#DbaasLogsServiceStateEnum",
          "traits": {
            "smithy.api#documentation": "Service state"
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service last update",
            "com.distilled.openapi#nullable": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Username on DBaaS Logs"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Service"
      }
    },
    "com.ovh.ldp#IamResourceMetadata": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource display name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the resource"
          }
        },
        "tags": {
          "target": "com.ovh.ldp#IamResourceMetadataTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:",
            "com.distilled.openapi#nullable": {}
          }
        },
        "urn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique resource name used in policies"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IAM resource metadata embedded in services models"
      }
    },
    "com.ovh.ldp#IamResourceMetadataTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:"
      }
    },
    "com.ovh.ldp#DbaasLogsServicePlanEnum": {
      "type": "enum",
      "members": {
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTERPRISE"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for ServicePlanEnum"
      }
    },
    "com.ovh.ldp#DbaasLogsServiceStateEnum": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "INIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INIT"
          }
        },
        "TO_CONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TO_CONFIG"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for ServiceStateEnum"
      }
    },
    "com.ovh.ldp#GetDbaasLog": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ldp#GetDbaasLogRequest"
      },
      "output": {
        "target": "com.ovh.ldp#DbaasLogsServiceWithIAM"
      },
      "errors": [
        {
          "target": "com.ovh.ldp#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/dbaas/logs/{serviceName}",
          "code": 200
        },
        "smithy.api#documentation": "Returns the service object of connected identity."
      }
    },
    "com.ovh.ldp#PutDbaasLogRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service custom name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "enableIam": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable IAM for this service",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ldp#DbaasLogsOperation": {
      "type": "structure",
      "members": {
        "aliasId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Alias used",
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation creation"
          }
        },
        "dashboardId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dashboard used",
            "com.distilled.openapi#nullable": {}
          }
        },
        "encryptionKeyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encryption key used",
            "com.distilled.openapi#nullable": {}
          }
        },
        "indexId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Index used",
            "com.distilled.openapi#nullable": {}
          }
        },
        "inputId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input used",
            "com.distilled.openapi#nullable": {}
          }
        },
        "operationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation ID"
          }
        },
        "osdId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OpenSearch Dashboards used",
            "com.distilled.openapi#nullable": {}
          }
        },
        "roleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role used",
            "com.distilled.openapi#nullable": {}
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service name"
          }
        },
        "state": {
          "target": "com.ovh.ldp#DbaasLogsOperationStateEnum",
          "traits": {
            "smithy.api#documentation": "Operation status"
          }
        },
        "streamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stream used",
            "com.distilled.openapi#nullable": {}
          }
        },
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subscription used",
            "com.distilled.openapi#nullable": {}
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Metrics tenant used",
            "com.distilled.openapi#nullable": {}
          }
        },
        "tokenId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token used",
            "com.distilled.openapi#nullable": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation last update",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Asynchronous operation"
      }
    },
    "com.ovh.ldp#DbaasLogsOperationStateEnum": {
      "type": "enum",
      "members": {
        "FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILURE"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "RECEIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECEIVED"
          }
        },
        "RETRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETRY"
          }
        },
        "REVOKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVOKED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARTED"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for OperationStateEnum"
      }
    },
    "com.ovh.ldp#PutDbaasLog": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ldp#PutDbaasLogRequest"
      },
      "output": {
        "target": "com.ovh.ldp#DbaasLogsOperation"
      },
      "errors": [
        {
          "target": "com.ovh.ldp#Forbidden"
        },
        {
          "target": "com.ovh.ldp#NotFound"
        },
        {
          "target": "com.ovh.ldp#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/dbaas/logs/{serviceName}",
          "code": 200
        },
        "smithy.api#documentation": "Update the service properties"
      }
    },
    "com.ovh.ldp#CreateDbaasLogChangeContactRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "contactAdmin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as admin contact"
          }
        },
        "contactBilling": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as billing contact"
          }
        },
        "contactTech": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as tech contact"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ldp#CreateDbaasLogChangeContactResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.ldp#CreateDbaasLogChangeContactResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.ldp#CreateDbaasLogChangeContactResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.ldp#CreateDbaasLogChangeContact": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ldp#CreateDbaasLogChangeContactRequest"
      },
      "output": {
        "target": "com.ovh.ldp#CreateDbaasLogChangeContactResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/dbaas/logs/{serviceName}/changeContact",
          "code": 200
        },
        "smithy.api#documentation": "Launch a contact change procedure"
      }
    },
    "com.ovh.ldp#ListDbaasLogClusterRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "namePattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "namePattern",
            "smithy.api#documentation": "Filter by name (like)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ldp#ListDbaasLogClusterResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.ldp#ListDbaasLogClusterResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.ldp#ListDbaasLogClusterResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.ldp#ListDbaasLogCluster": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ldp#ListDbaasLogClusterRequest"
      },
      "output": {
        "target": "com.ovh.ldp#ListDbaasLogClusterResponse"
      },
      "errors": [
        {
          "target": "com.ovh.ldp#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/dbaas/logs/{serviceName}/cluster",
          "code": 200
        },
        "smithy.api#documentation": "Returns the list of allowed cluster"
      }
    },
    "com.ovh.ldp#GetDbaasLogClusterRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cluster ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ldp#DbaasLogsCluster": {
      "type": "structure",
      "members": {
        "archiveAllowedNetworks": {
          "target": "com.ovh.ldp#DbaasLogsClusterArchiveAllowedNetworksList",
          "traits": {
            "smithy.api#documentation": "Allowed networks for ARCHIVE flow type"
          }
        },
        "certificationLevel": {
          "target": "com.ovh.ldp#DbaasLogsCertificationLevelEnum",
          "traits": {
            "smithy.api#documentation": "Certification level of the given cluster"
          }
        },
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cluster ID"
          }
        },
        "clusterType": {
          "target": "com.ovh.ldp#DbaasLogsClusterClusterTypeEnum",
          "traits": {
            "smithy.api#documentation": "Cluster type"
          }
        },
        "dedicatedInputPEM": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PEM for dedicated inputs"
          }
        },
        "defaultRetentionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Retention ID used by default when none is given on new stream"
          }
        },
        "directInputAllowedNetworks": {
          "target": "com.ovh.ldp#DbaasLogsClusterDirectInputAllowedNetworksList",
          "traits": {
            "smithy.api#documentation": "Allowed networks for DIRECT_INPUT flow type"
          }
        },
        "directInputPEM": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PEM for direct inputs"
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hostname"
          }
        },
        "isDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "All content generated by given service will be placed on this cluster"
          }
        },
        "isUnlocked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allow given service to perform advanced operations on cluster"
          }
        },
        "queryAllowedNetworks": {
          "target": "com.ovh.ldp#DbaasLogsClusterQueryAllowedNetworksList",
          "traits": {
            "smithy.api#documentation": "Allowed networks for QUERY flow type"
          }
        },
        "region": {
          "target": "com.ovh.ldp#DbaasLogsClusterRegionEnum",
          "traits": {
            "smithy.api#documentation": "Data center localization"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cluster"
      }
    },
    "com.ovh.ldp#DbaasLogsClusterArchiveAllowedNetworksList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Allowed networks for ARCHIVE flow type"
      }
    },
    "com.ovh.ldp#DbaasLogsCertificationLevelEnum": {
      "type": "enum",
      "members": {
        "HDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HDS"
          }
        },
        "PCI_DSS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PCI_DSS"
          }
        },
        "SNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SNC"
          }
        },
        "SOC2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOC2"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "TRUSTED_ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRUSTED_ZONE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for CertificationLevelEnum"
      }
    },
    "com.ovh.ldp#DbaasLogsClusterClusterTypeEnum": {
      "type": "enum",
      "members": {
        "DEDICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEDICATED"
          }
        },
        "SHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHARED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for ClusterClusterTypeEnum"
      }
    },
    "com.ovh.ldp#DbaasLogsClusterDirectInputAllowedNetworksList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Allowed networks for DIRECT_INPUT flow type"
      }
    },
    "com.ovh.ldp#DbaasLogsClusterQueryAllowedNetworksList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Allowed networks for QUERY flow type"
      }
    },
    "com.ovh.ldp#DbaasLogsClusterRegionEnum": {
      "type": "enum",
      "members": {
        "BHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BHS"
          }
        },
        "GRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRA"
          }
        },
        "P_19": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P-19"
          }
        },
        "RBX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RBX"
          }
        },
        "SBG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SBG"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for ClusterRegionEnum"
      }
    },
    "com.ovh.ldp#GetDbaasLogCluster": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ldp#GetDbaasLogClusterRequest"
      },
      "output": {
        "target": "com.ovh.ldp#DbaasLogsCluster"
      },
      "errors": [
        {
          "target": "com.ovh.ldp#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/dbaas/logs/{serviceName}/cluster/{clusterId}",
          "code": 200
        },
        "smithy.api#documentation": "Returns details of an allowed cluster"
      }
    },
    "com.ovh.ldp#PutDbaasLogClusterRequestArchiveAllowedNetworksList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Allowed networks for ARCHIVE flow type"
      }
    },
    "com.ovh.ldp#PutDbaasLogClusterRequestDirectInputAllowedNetworksList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Allowed networks for DIRECT_INPUT flow type"
      }
    },
    "com.ovh.ldp#PutDbaasLogClusterRequestQueryAllowedNetworksList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Allowed networks for QUERY flow type"
      }
    },
    "com.ovh.ldp#PutDbaasLogClusterRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cluster ID"
          }
        },
        "archiveAllowedNetworks": {
          "target": "com.ovh.ldp#PutDbaasLogClusterRequestArchiveAllowedNetworksList",
          "traits": {
            "smithy.api#documentation": "Allowed networks for ARCHIVE flow type",
            "com.distilled.openapi#nullable": {}
          }
        },
        "directInputAllowedNetworks": {
          "target": "com.ovh.ldp#PutDbaasLogClusterRequestDirectInputAllowedNetworksList",
          "traits": {
            "smithy.api#documentation": "Allowed networks for DIRECT_INPUT flow type",
            "com.distilled.openapi#nullable": {}
          }
        },
        "queryAllowedNetworks": {
          "target": "com.ovh.ldp#PutDbaasLogClusterRequestQueryAllowedNetworksList",
          "traits": {
            "smithy.api#documentation": "Allowed networks for QUERY flow type",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ldp#PutDbaasLogCluster": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ldp#PutDbaasLogClusterRequest"
      },
      "output": {
        "target": "com.ovh.ldp#DbaasLogsOperation"
      },
      "errors": [
        {
          "target": "com.ovh.ldp#Forbidden"
        },
        {
          "target": "com.ovh.ldp#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/dbaas/logs/{serviceName}/cluster/{clusterId}",
          "code": 200
        },
        "smithy.api#documentation": "Update details of an allowed cluster"
      }
    },
    "com.ovh.ldp#ListDbaasLogClusterRetentionRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cluster ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ldp#ListDbaasLogClusterRetentionResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.ldp#ListDbaasLogClusterRetentionResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.ldp#ListDbaasLogClusterRetentionResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.ldp#ListDbaasLogClusterRetention": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ldp#ListDbaasLogClusterRetentionRequest"
      },
      "output": {
        "target": "com.ovh.ldp#ListDbaasLogClusterRetentionResponse"
      },
      "errors": [
        {
          "target": "com.ovh.ldp#Forbidden"
        },
        {
          "target": "com.ovh.ldp#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/dbaas/logs/{serviceName}/cluster/{clusterId}/retention",
          "code": 200
        },
        "smithy.api#documentation": "List all the retention ID available for a given cluster"
      }
    },
    "com.ovh.ldp#GetDbaasLogClusterRetentionRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cluster ID"
          }
        },
        "retentionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Retention ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ldp#DbaasLogsClusterRetention": {
      "type": "structure",
      "members": {
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indexed duration expressed in ISO-8601 format",
            "com.distilled.openapi#nullable": {}
          }
        },
        "isSupported": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if a new stream can use it"
          }
        },
        "retentionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Retention ID"
          }
        },
        "retentionType": {
          "target": "com.ovh.ldp#DbaasLogsRetentionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Retention type"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cluster retention"
      }
    },
    "com.ovh.ldp#DbaasLogsRetentionTypeEnum": {
      "type": "enum",
      "members": {
        "LOGS_COLD_STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGS_COLD_STORAGE"
          }
        },
        "LOGS_INDEXING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGS_INDEXING"
          }
        },
        "METRICS_TENANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METRICS_TENANT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for RetentionTypeEnum"
      }
    },
    "com.ovh.ldp#GetDbaasLogClusterRetention": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ldp#GetDbaasLogClusterRetentionRequest"
      },
      "output": {
        "target": "com.ovh.ldp#DbaasLogsClusterRetention"
      },
      "errors": [
        {
          "target": "com.ovh.ldp#Forbidden"
        },
        {
          "target": "com.ovh.ldp#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/dbaas/logs/{serviceName}/cluster/{clusterId}/retention/{retentionId}",
          "code": 200
        },
        "smithy.api#documentation": "Returns details of a retention"
      }
    },
    "com.ovh.ldp#ListDbaasLogEncryptionKeyRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "titlePattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "titlePattern",
            "smithy.api#documentation": "Filter by title (like)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ldp#ListDbaasLogEncryptionKeyResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.ldp#ListDbaasLogEncryptionKeyResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.ldp#ListDbaasLogEncryptionKeyResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.ldp#ListDbaasLogEncryptionKey": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ldp#ListDbaasLogEncryptionKeyRequest"
      },
      "output": {
        "target": "com.ovh.ldp#ListDbaasLogEncryptionKeyResponse"
      },
      "errors": [
        {
          "target": "com.ovh.ldp#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/dbaas/logs/{serviceName}/encryptionKey",
          "code": 200
        },
        "smithy.api#documentation": "Return the list of registred encryption keys"
      }
    },
    "com.ovh.ldp#CreateDbaasLogEncryptionKeyRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encryption Key content",
            "smithy.api#required": {}
          }
        },
        "fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encryption Key fingerprint",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encryption Key title",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ldp#CreateDbaasLogEncryptionKey": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ldp#CreateDbaasLogEncryptionKeyRequest"
      },
      "output": {
        "target": "com.ovh.ldp#DbaasLogsOperation"
      },
      "errors": [
        {
          "target": "com.ovh.ldp#Forbidden"
        },
        {
          "target": "com.ovh.ldp#NotFound"
        },
        {
          "target": "com.ovh.ldp#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/dbaas/logs/{serviceName}/encryptionKey",
          "code": 200
        },
        "smithy.api#documentation": "Add a new encryption key"
      }
    },
    "com.ovh.ldp#GetDbaasLogEncryptionKeyRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "encryptionKeyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Encryption key ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ldp#DbaasLogsEncryptionKey": {
      "type": "structure",
      "members": {
        "algorithm": {
          "target": "com.ovh.ldp#DbaasLogsEncryptionKeyAlgorithmEnum",
          "traits": {
            "smithy.api#documentation": "Encryption Key algorithm"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encryption Key content",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encryption Key creation date"
          }
        },
        "encryptionKeyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encryption Key ID"
          }
        },
        "fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encryption Key fingerprint",
            "smithy.api#required": {}
          }
        },
        "isEditable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if you are allowed to edit entry"
          }
        },
        "nbArchive": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of archives encrypted with this Encryption Key",
            "com.distilled.openapi#nullable": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encryption Key title",
            "smithy.api#required": {}
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encryption Key user ID"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encryption key"
      }
    },
    "com.ovh.ldp#DbaasLogsEncryptionKeyAlgorithmEnum": {
      "type": "enum",
      "members": {
        "ECC25519": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ECC25519"
          }
        },
        "RSA4096": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA4096"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for EncryptionKeyAlgorithmEnum"
      }
    },
    "com.ovh.ldp#GetDbaasLogEncryptionKey": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ldp#GetDbaasLogEncryptionKeyRequest"
      },
      "output": {
        "target": "com.ovh.ldp#DbaasLogsEncryptionKey"
      },
      "errors": [
        {
          "target": "com.ovh.ldp#Forbidden"
        },
        {
          "target": "com.ovh.ldp#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/dbaas/logs/{serviceName}/encryptionKey/{encryptionKeyId}",
          "code": 200
        },
        "smithy.api#documentation": "Return details of an encryption key"
      }
    },
    "com.ovh.ldp#DeleteDbaasLogEncryptionKeyRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "encryptionKeyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Encryption key ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ldp#DeleteDbaasLogEncryptionKey": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ldp#DeleteDbaasLogEncryptionKeyRequest"
      },
      "output": {
        "target": "com.ovh.ldp#DbaasLogsOperation"
      },
      "errors": [
        {
          "target": "com.ovh.ldp#Forbidden"
        },
        {
          "target": "com.ovh.ldp#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/dbaas/logs/{serviceName}/encryptionKey/{encryptionKeyId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete the specified encryption key"
      }
    },
    "com.ovh.ldp#ListDbaasLogInputRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "titlePattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "titlePattern",
            "smithy.api#documentation": "Filter by title (like)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ldp#ListDbaasLogInputResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.ldp#ListDbaasLogInputResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.ldp#ListDbaasLogInputResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.ldp#ListDbaasLogInput": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ldp#ListDbaasLogInputRequest"
      },
      "output": {
        "target": "com.ovh.ldp#ListDbaasLogInputResponse"
      },
      "errors": [
        {
          "target": "com.ovh.ldp#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/dbaas/logs/{serviceName}/input",
          "code": 200
        },
        "smithy.api#documentation": "Returns the list of registered input attached to the logged user"
      }
    },
    "com.ovh.ldp#CreateDbaasLogInputRequestAllowedNetworksList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "IP blocks"
      }
    },
    "com.ovh.ldp#CreateDbaasLogInputRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "allowedNetworks": {
          "target": "com.ovh.ldp#CreateDbaasLogInputRequestAllowedNetworksList",
          "traits": {
            "smithy.api#documentation": "IP blocks",
            "com.distilled.openapi#nullable": {}
          }
        },
        "autoscale": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the workload is auto-scaled",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description",
            "smithy.api#required": {}
          }
        },
        "engineId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Engine ID",
            "smithy.api#required": {}
          }
        },
        "exposedPort": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Exposed port",
            "com.distilled.openapi#nullable": {}
          }
        },
        "maxScaleInstance": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of instances in auto-scaled mode",
            "com.distilled.openapi#nullable": {}
          }
        },
        "minScaleInstance": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum number of instances in auto-scaled mode",
            "com.distilled.openapi#nullable": {}
          }
        },
        "nbInstance": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of instance running",
            "com.distilled.openapi#nullable": {}
          }
        },
        "scalingNotifyEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set, notify when scaling happens",
            "com.distilled.openapi#nullable": {}
          }
        },
        "streamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stream ID",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ldp#CreateDbaasLogInput": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ldp#CreateDbaasLogInputRequest"
      },
      "output": {
        "target": "com.ovh.ldp#DbaasLogsOperation"
      },
      "errors": [
        {
          "target": "com.ovh.ldp#Forbidden"
        },
        {
          "target": "com.ovh.ldp#NotFound"
        },
        {
          "target": "com.ovh.ldp#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/dbaas/logs/{serviceName}/input",
          "code": 200
        },
        "smithy.api#documentation": "Register a new input object"
      }
    },
    "com.ovh.ldp#ListDbaasLogInputEngineRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ldp#ListDbaasLogInputEngineResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.ldp#ListDbaasLogInputEngineResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.ldp#ListDbaasLogInputEngineResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.ldp#ListDbaasLogInputEngine": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ldp#ListDbaasLogInputEngineRequest"
      },
      "output": {
        "target": "com.ovh.ldp#ListDbaasLogInputEngineResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/dbaas/logs/{serviceName}/input/engine",
          "code": 200
        },
        "smithy.api#documentation": "Returns the list of available input engines"
      }
    },
    "com.ovh.ldp#GetDbaasLogInputEngineRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "engineId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Engine ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ldp#DbaasLogsEngine": {
      "type": "structure",
      "members": {
        "engineId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input engine ID"
          }
        },
        "isDeprecated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if engine will soon not be supported"
          }
        },
        "name": {
          "target": "com.ovh.ldp#DbaasLogsEngineNameEnum",
          "traits": {
            "smithy.api#documentation": "Software name"
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Software version"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input engine"
      }
    },
    "com.ovh.ldp#DbaasLogsEngineNameEnum": {
      "type": "enum",
      "members": {
        "FLOWGGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOWGGER"
          }
        },
        "LOGSTASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGSTASH"
          }
        },
        "TEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEST"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for EngineNameEnum"
      }
    },
    "com.ovh.ldp#GetDbaasLogInputEngine": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ldp#GetDbaasLogInputEngineRequest"
      },
      "output": {
        "target": "com.ovh.ldp#DbaasLogsEngine"
      },
      "errors": [
        {
          "target": "com.ovh.ldp#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/dbaas/logs/{serviceName}/input/engine/{engineId}",
          "code": 200
        },
        "smithy.api#documentation": "Returns details of specified input engine"
      }
    },
    "com.ovh.ldp#ListDbaasLogInputEngineHelperRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "engineId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Engine ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ldp#ListDbaasLogInputEngineHelperResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.ldp#ListDbaasLogInputEngineHelperResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.ldp#ListDbaasLogInputEngineHelperResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.ldp#ListDbaasLogInputEngineHelper": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ldp#ListDbaasLogInputEngineHelperRequest"
      },
      "output": {
        "target": "com.ovh.ldp#ListDbaasLogInputEngineHelperResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/dbaas/logs/{serviceName}/input/engine/{engineId}/helper",
          "code": 200
        },
        "smithy.api#documentation": "Return the list of available helpers for the given input engine"
      }
    },
    "com.ovh.ldp#GetDbaasLogInputEngineHelperRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "engineId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Engine ID"
          }
        },
        "helperId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Helper ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ldp#DbaasLogsHelper": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Helper description"
          }
        },
        "engineId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input engine UUID"
          }
        },
        "helperId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Helper UUID"
          }
        },
        "sections": {
          "target": "com.ovh.ldp#DbaasLogsHelperSectionsList",
          "traits": {
            "smithy.api#documentation": "Helper sections"
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Helper title"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Helper"
      }
    },
    "com.ovh.ldp#DbaasLogsHelperSection": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Section content"
          }
        },
        "name": {
          "target": "com.ovh.ldp#DbaasLogsHelperSectionNameEnum",
          "traits": {
            "smithy.api#documentation": "Section name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Helper section"
      }
    },
    "com.ovh.ldp#DbaasLogsHelperSectionNameEnum": {
      "type": "enum",
      "members": {
        "LOGSTASH_FILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGSTASH_FILTER"
          }
        },
        "LOGSTASH_INPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGSTASH_INPUT"
          }
        },
        "LOGSTASH_PATTERN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGSTASH_PATTERN"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for HelperSectionName"
      }
    },
    "com.ovh.ldp#DbaasLogsHelperSectionsList": {
      "type": "list",
      "member": {
        "target": "com.ovh.ldp#DbaasLogsHelperSection"
      },
      "traits": {
        "smithy.api#documentation": "Helper sections"
      }
    },
    "com.ovh.ldp#GetDbaasLogInputEngineHelper": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ldp#GetDbaasLogInputEngineHelperRequest"
      },
      "output": {
        "target": "com.ovh.ldp#DbaasLogsHelper"
      },
      "errors": [
        {
          "target": "com.ovh.ldp#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/dbaas/logs/{serviceName}/input/engine/{engineId}/helper/{helperId}",
          "code": 200
        },
        "smithy.api#documentation": "Returns details of specified input engine helper"
      }
    },
    "com.ovh.ldp#GetDbaasLogInputRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "inputId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Input ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ldp#DbaasLogsInput": {
      "type": "structure",
      "members": {
        "allowedNetworks": {
          "target": "com.ovh.ldp#DbaasLogsInputAllowedNetworksList",
          "traits": {
            "smithy.api#documentation": "IP blocks",
            "com.distilled.openapi#nullable": {}
          }
        },
        "autoscale": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the workload is auto-scaled",
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input creation"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input description"
          }
        },
        "engineId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input engine ID"
          }
        },
        "exposedPort": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Port",
            "com.distilled.openapi#nullable": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hostname"
          }
        },
        "inputId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input ID"
          }
        },
        "isRestartRequired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicate if input need to be restarted"
          }
        },
        "maxScaleInstance": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of instances in auto-scaled mode",
            "com.distilled.openapi#nullable": {}
          }
        },
        "minScaleInstance": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum number of instances in auto-scaled mode",
            "com.distilled.openapi#nullable": {}
          }
        },
        "nbInstance": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of instance running",
            "com.distilled.openapi#nullable": {}
          }
        },
        "publicAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input IP address"
          }
        },
        "scalingNotifyEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set, notify when scaling happens",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sslCertificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input SSL certificate"
          }
        },
        "status": {
          "target": "com.ovh.ldp#DbaasLogsInputStatusEnum",
          "traits": {
            "smithy.api#documentation": "init: configuration required, pending: ready to start, running: available"
          }
        },
        "streamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Associated Graylog stream"
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input title"
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input last update",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input"
      }
    },
    "com.ovh.ldp#DbaasLogsInputAllowedNetworksList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "IP blocks"
      }
    },
    "com.ovh.ldp#DbaasLogsInputStatusEnum": {
      "type": "enum",
      "members": {
        "INIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INIT"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for InputStatusEnum"
      }
    },
    "com.ovh.ldp#GetDbaasLogInput": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ldp#GetDbaasLogInputRequest"
      },
      "output": {
        "target": "com.ovh.ldp#DbaasLogsInput"
      },
      "errors": [
        {
          "target": "com.ovh.ldp#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/dbaas/logs/{serviceName}/input/{inputId}",
          "code": 200
        },
        "smithy.api#documentation": "Returns details of specified input"
      }
    },
    "com.ovh.ldp#PutDbaasLogInputRequestAllowedNetworksList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "IP blocks"
      }
    },
    "com.ovh.ldp#PutDbaasLogInputRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "inputId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Input ID"
          }
        },
        "allowedNetworks": {
          "target": "com.ovh.ldp#PutDbaasLogInputRequestAllowedNetworksList",
          "traits": {
            "smithy.api#documentation": "IP blocks",
            "com.distilled.openapi#nullable": {}
          }
        },
        "autoscale": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the workload is auto-scaled",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description",
            "smithy.api#required": {}
          }
        },
        "engineId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Engine ID",
            "smithy.api#required": {}
          }
        },
        "exposedPort": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Exposed port",
            "com.distilled.openapi#nullable": {}
          }
        },
        "maxScaleInstance": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of instances in auto-scaled mode",
            "com.distilled.openapi#nullable": {}
          }
        },
        "minScaleInstance": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum number of instances in auto-scaled mode",
            "com.distilled.openapi#nullable": {}
          }
        },
        "nbInstance": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of instance running",
            "com.distilled.openapi#nullable": {}
          }
        },
        "scalingNotifyEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set, notify when scaling happens",
            "com.distilled.openapi#nullable": {}
          }
        },
        "streamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stream ID",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ldp#PutDbaasLogInput": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ldp#PutDbaasLogInputRequest"
      },
      "output": {
        "target": "com.ovh.ldp#DbaasLogsOperation"
      },
      "errors": [
        {
          "target": "com.ovh.ldp#Forbidden"
        },
        {
          "target": "com.ovh.ldp#NotFound"
        },
        {
          "target": "com.ovh.ldp#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/dbaas/logs/{serviceName}/input/{inputId}",
          "code": 200
        },
        "smithy.api#documentation": "Update information of specified input object"
      }
    },
    "com.ovh.ldp#DeleteDbaasLogInputRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "inputId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Input ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ldp#DeleteDbaasLogInput": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ldp#DeleteDbaasLogInputRequest"
      },
      "output": {
        "target": "com.ovh.ldp#DbaasLogsOperation"
      },
      "errors": [
        {
          "target": "com.ovh.ldp#Forbidden"
        },
        {
          "target": "com.ovh.ldp#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/dbaas/logs/{serviceName}/input/{inputId}",
          "code": 200
        },
        "smithy.api#documentation": "Remove the specified input object"
      }
    },
    "com.ovh.ldp#ListDbaasLogInputActionRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "inputId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Input ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ldp#DbaasLogsInputAction": {
      "type": "structure",
      "members": {
        "isAllowed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if action is allowed"
          }
        },
        "type": {
          "target": "com.ovh.ldp#DbaasLogsInputActionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Action type"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Action on input"
      }
    },
    "com.ovh.ldp#DbaasLogsInputActionTypeEnum": {
      "type": "enum",
      "members": {
        "DESTROY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESTROY"
          }
        },
        "END": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "END"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG"
          }
        },
        "RESTART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTART"
          }
        },
        "START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START"
          }
        },
        "TEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEST"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for InputActionTypeEnum"
      }
    },
    "com.ovh.ldp#ListDbaasLogInputActionResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.ldp#DbaasLogsInputAction"
      },
      "traits": {}
    },
    "com.ovh.ldp#ListDbaasLogInputActionResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.ldp#ListDbaasLogInputActionResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.ldp#ListDbaasLogInputAction": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ldp#ListDbaasLogInputActionRequest"
      },
      "output": {
        "target": "com.ovh.ldp#ListDbaasLogInputActionResponse"
      },
      "errors": [
        {
          "target": "com.ovh.ldp#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/dbaas/logs/{serviceName}/input/{inputId}/action",
          "code": 200
        },
        "smithy.api#documentation": "Returns actions of specified input"
      }
    },
    "com.ovh.ldp#CreateDbaasLogInputConfigtestRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "inputId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Input ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ldp#CreateDbaasLogInputConfigtest": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ldp#CreateDbaasLogInputConfigtestRequest"
      },
      "output": {
        "target": "com.ovh.ldp#DbaasLogsOperation"
      },
      "errors": [
        {
          "target": "com.ovh.ldp#Forbidden"
        },
        {
          "target": "com.ovh.ldp#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/dbaas/logs/{serviceName}/input/{inputId}/configtest",
          "code": 200
        },
        "smithy.api#documentation": "Validate configuration of specified input"
      }
    },
    "com.ovh.ldp#GetDbaasLogInputConfigtestResultRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "inputId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Input ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ldp#DbaasLogsTestResult": {
      "type": "structure",
      "members": {
        "isValid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the given configuration pass the syntax test"
          }
        },
        "stderr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Standard error",
            "com.distilled.openapi#nullable": {}
          }
        },
        "stdout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Standard output",
            "com.distilled.openapi#nullable": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last config test update",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Config test results"
      }
    },
    "com.ovh.ldp#GetDbaasLogInputConfigtestResult": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ldp#GetDbaasLogInputConfigtestResultRequest"
      },
      "output": {
        "target": "com.ovh.ldp#DbaasLogsTestResult"
      },
      "errors": [
        {
          "target": "com.ovh.ldp#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/dbaas/logs/{serviceName}/input/{inputId}/configtest/result",
          "code": 200
        },
        "smithy.api#documentation": "Returns the config test operation result"
      }
    },
    "com.ovh.ldp#GetDbaasLogInputConfigurationFlowggerRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "inputId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Input ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ldp#DbaasLogsFlowggerConfiguration": {
      "type": "structure",
      "members": {
        "logFormat": {
          "target": "com.ovh.ldp#DbaasLogsFlowggerConfigurationLogFormatEnum",
          "traits": {
            "smithy.api#documentation": "Type of format to decode"
          }
        },
        "logFraming": {
          "target": "com.ovh.ldp#DbaasLogsFlowggerConfigurationLogFramingEnum",
          "traits": {
            "smithy.api#documentation": "Indicates how messages are delimited"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Flowgger configuration"
      }
    },
    "com.ovh.ldp#DbaasLogsFlowggerConfigurationLogFormatEnum": {
      "type": "enum",
      "members": {
        "CAPNP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAPNP"
          }
        },
        "GELF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GELF"
          }
        },
        "LTSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LTSV"
          }
        },
        "RFC5424": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RFC5424"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for FlowggerConfigurationLogFormatEnum"
      }
    },
    "com.ovh.ldp#DbaasLogsFlowggerConfigurationLogFramingEnum": {
      "type": "enum",
      "members": {
        "CAPNP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAPNP"
          }
        },
        "LINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE"
          }
        },
        "NUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NUL"
          }
        },
        "SYSLEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSLEN"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for FlowggerConfigurationLogFramingEnum"
      }
    },
    "com.ovh.ldp#GetDbaasLogInputConfigurationFlowgger": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ldp#GetDbaasLogInputConfigurationFlowggerRequest"
      },
      "output": {
        "target": "com.ovh.ldp#DbaasLogsFlowggerConfiguration"
      },
      "errors": [
        {
          "target": "com.ovh.ldp#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/dbaas/logs/{serviceName}/input/{inputId}/configuration/flowgger",
          "code": 200
        },
        "smithy.api#documentation": "Returns the flowgger configuration"
      }
    },
    "com.ovh.ldp#PutDbaasLogInputConfigurationFlowggerRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "inputId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Input ID"
          }
        },
        "logFormat": {
          "target": "com.ovh.ldp#DbaasLogsFlowggerConfigurationLogFormatEnum",
          "traits": {
            "smithy.api#documentation": "configuration log format",
            "smithy.api#required": {}
          }
        },
        "logFraming": {
          "target": "com.ovh.ldp#DbaasLogsFlowggerConfigurationLogFramingEnum",
          "traits": {
            "smithy.api#documentation": "Log framing",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ldp#PutDbaasLogInputConfigurationFlowgger": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ldp#PutDbaasLogInputConfigurationFlowggerRequest"
      },
      "output": {
        "target": "com.ovh.ldp#DbaasLogsOperation"
      },
      "errors": [
        {
          "target": "com.ovh.ldp#Forbidden"
        },
        {
          "target": "com.ovh.ldp#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/dbaas/logs/{serviceName}/input/{inputId}/configuration/flowgger",
          "code": 200
        },
        "smithy.api#documentation": "Update the flowgger configuration"
      }
    },
    "com.ovh.ldp#GetDbaasLogInputConfigurationLogstashRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "inputId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Input ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ldp#DbaasLogsLogstashConfiguration": {
      "type": "structure",
      "members": {
        "filterSection": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter section of logstash.conf",
            "com.distilled.openapi#nullable": {}
          }
        },
        "inputSection": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter section of logstash.conf"
          }
        },
        "patternSection": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The list of customs Grok patterns",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Logstash configuration"
      }
    },
    "com.ovh.ldp#GetDbaasLogInputConfigurationLogstash": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ldp#GetDbaasLogInputConfigurationLogstashRequest"
      },
      "output": {
        "target": "com.ovh.ldp#DbaasLogsLogstashConfiguration"
      },
      "errors": [
        {
          "target": "com.ovh.ldp#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/dbaas/logs/{serviceName}/input/{inputId}/configuration/logstash",
          "code": 200
        },
        "smithy.api#documentation": "Returns the logstash configuration"
      }
    },
    "com.ovh.ldp#PutDbaasLogInputConfigurationLogstashRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "inputId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Input ID"
          }
        },
        "filterSection": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter section",
            "com.distilled.openapi#nullable": {}
          }
        },
        "inputSection": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input section",
            "smithy.api#required": {}
          }
        },
        "patternSection": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pattern section",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ldp#PutDbaasLogInputConfigurationLogstash": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ldp#PutDbaasLogInputConfigurationLogstashRequest"
      },
      "output": {
        "target": "com.ovh.ldp#DbaasLogsOperation"
      },
      "errors": [
        {
          "target": "com.ovh.ldp#Forbidden"
        },
        {
          "target": "com.ovh.ldp#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/dbaas/logs/{serviceName}/input/{inputId}/configuration/logstash",
          "code": 200
        },
        "smithy.api#documentation": "Update the logstash configuration"
      }
    },
    "com.ovh.ldp#CreateDbaasLogInputEndRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "inputId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Input ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ldp#CreateDbaasLogInputEnd": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ldp#CreateDbaasLogInputEndRequest"
      },
      "output": {
        "target": "com.ovh.ldp#DbaasLogsOperation"
      },
      "errors": [
        {
          "target": "com.ovh.ldp#Forbidden"
        },
        {
          "target": "com.ovh.ldp#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/dbaas/logs/{serviceName}/input/{inputId}/end",
          "code": 200
        },
        "smithy.api#documentation": "Schedule the end of specified input"
      }
    },
    "com.ovh.ldp#CreateDbaasLogInputLogUrlRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "inputId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Input ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ldp#DbaasLogsTemporaryLogsLink": {
      "type": "structure",
      "members": {
        "expirationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Temporary url expiration date"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Temporary url"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Temporary url information"
      }
    },
    "com.ovh.ldp#CreateDbaasLogInputLogUrl": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ldp#CreateDbaasLogInputLogUrlRequest"
      },
      "output": {
        "target": "com.ovh.ldp#DbaasLogsTemporaryLogsLink"
      },
      "errors": [
        {
          "target": "com.ovh.ldp#Forbidden"
        },
        {
          "target": "com.ovh.ldp#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/dbaas/logs/{serviceName}/input/{inputId}/logs/url",
          "code": 200
        },
        "smithy.api#documentation": "Generate a temporary url to retrieve input logs"
      }
    },
    "com.ovh.ldp#RestartDbaasLogsInputRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "inputId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Input ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ldp#RestartDbaasLogsInput": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ldp#RestartDbaasLogsInputRequest"
      },
      "output": {
        "target": "com.ovh.ldp#DbaasLogsOperation"
      },
      "errors": [
        {
          "target": "com.ovh.ldp#Forbidden"
        },
        {
          "target": "com.ovh.ldp#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/dbaas/logs/{serviceName}/input/{inputId}/restart",
          "code": 200
        },
        "smithy.api#documentation": "Schedule the restart of specified input"
      }
    },
    "com.ovh.ldp#StartDbaasLogsInputRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "inputId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Input ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ldp#StartDbaasLogsInput": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ldp#StartDbaasLogsInputRequest"
      },
      "output": {
        "target": "com.ovh.ldp#DbaasLogsOperation"
      },
      "errors": [
        {
          "target": "com.ovh.ldp#Forbidden"
        },
        {
          "target": "com.ovh.ldp#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/dbaas/logs/{serviceName}/input/{inputId}/start",
          "code": 200
        },
        "smithy.api#documentation": "Schedule the start of specified input"
      }
    },
    "com.ovh.ldp#ListDbaasLogInputUrlRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "inputId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Input ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.ldp#DbaasLogsUrl": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Web URI"
          }
        },
        "type": {
          "target": "com.ovh.ldp#DbaasLogsUrlTypeEnum",
          "traits": {
            "smithy.api#documentation": "Service type"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Web address"
      }
    },
    "com.ovh.ldp#DbaasLogsUrlTypeEnum": {
      "type": "enum",
      "members": {
        "CONSOLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSOLE"
          }
        },
        "ELASTICSEARCH_API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ELASTICSEARCH_API"
          }
        },
        "GRAYLOG_API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRAYLOG_API"
          }
        },
        "GRAYLOG_WEBUI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRAYLOG_WEBUI"
          }
        },
        "HTTP_GELF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTP_GELF"
          }
        },
        "HTTP_TLS_GELF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTP_TLS_GELF"
          }
        },
        "KIBANA_WEBUI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KIBANA_WEBUI"
          }
        },
        "OPENSEARCH_API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPENSEARCH_API"
          }
        },
        "OSD_WEBUI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OSD_WEBUI"
          }
        },
        "PROMETHEUS_API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROMETHEUS_API"
          }
        },
        "SERVICE_DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_DOMAIN"
          }
        },
        "TCP_BEATS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TCP_BEATS"
          }
        },
        "TCP_CAP_N_PROTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TCP_CAP_N_PROTO"
          }
        },
        "TCP_GELF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TCP_GELF"
          }
        },
        "TCP_LTSV_LINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TCP_LTSV_LINE"
          }
        },
        "TCP_LTSV_NUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TCP_LTSV_NUL"
          }
        },
        "TCP_RFC5424": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TCP_RFC5424"
          }
        },
        "TCP_TLS_BEATS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TCP_TLS_BEATS"
          }
        },
        "TCP_TLS_CAP_N_PROTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TCP_TLS_CAP_N_PROTO"
          }
        },
        "TCP_TLS_GELF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TCP_TLS_GELF"
          }
        },
        "TCP_TLS_LTSV_LINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TCP_TLS_LTSV_LINE"
          }
        },
        "TCP_TLS_LTSV_NUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TCP_TLS_LTSV_NUL"
          }
        },
        "TCP_TLS_RFC5424": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TCP_TLS_RFC5424"
          }
        },
        "UDP_CAP_N_PROTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UDP_CAP_N_PROTO"
          }
        },
        "UDP_GELF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UDP_GELF"
          }
        },
        "UDP_LTSV_LINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UDP_LTSV_LINE"
          }
        },
        "UDP_LTSV_NUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UDP_LTSV_NUL"
          }
        },
        "UDP_RFC5424": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UDP_RFC5424"
          }
        },
        "WEB_SOCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEB_SOCKET"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for UrlTypeEnum"
      }
    },
    "com.ovh.ldp#ListDbaasLogInputUrlResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.ldp#DbaasLogsUrl"
      },
      "traits": {}
    },
    "com.ovh.ldp#ListDbaasLogInputUrlResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.ldp#ListDbaasLogInputUrlResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.ldp#ListDbaasLogInputUrl": {
      "type": "operation",
      "input": {
        "target": "com.ovh.ldp#ListDbaasLogInputUrlRequest"
      },
      "output": {
        "target": "com.ovh.ldp#ListDbaasLogInputUrlResponse"
      },
      "errors": [
        {
          "target": "com.ovh.ldp#NotFound"
[...]
