{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.ovh.me#NichandleNichandle": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address of nichandle",
            "com.distilled.openapi#nullable": {}
          }
        },
        "area": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Area of nichandle",
            "com.distilled.openapi#nullable": {}
          }
        },
        "birthCity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "City of birth",
            "com.distilled.openapi#nullable": {}
          }
        },
        "birthDay": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Birth date",
            "com.distilled.openapi#nullable": {}
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "City of nichandle",
            "com.distilled.openapi#nullable": {}
          }
        },
        "companyNationalIdentificationNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Company National Identification Number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "complementaryAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complementary Address",
            "com.distilled.openapi#nullable": {}
          }
        },
        "corporationType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Corporation type",
            "com.distilled.openapi#nullable": {}
          }
        },
        "country": {
          "target": "com.ovh.me#NichandleCountryEnum",
          "traits": {
            "smithy.api#documentation": "Customer country"
          }
        },
        "currency": {
          "target": "com.ovh.me#NichandleCurrency",
          "traits": {
            "smithy.api#documentation": "Customer currency"
          }
        },
        "customerCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your customer code (a numerical value used for identification when contacting support via phone call)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name shown instead of the organisation name.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address"
          }
        },
        "fax": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fax number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "firstname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "First name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "italianSDI": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Italian SDI",
            "com.distilled.openapi#nullable": {}
          }
        },
        "kycValidated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "KYC validation state",
            "com.distilled.openapi#nullable": {}
          }
        },
        "language": {
          "target": "com.ovh.me#NichandleLanguageEnum",
          "traits": {
            "smithy.api#documentation": "Language",
            "com.distilled.openapi#nullable": {}
          }
        },
        "legalform": {
          "target": "com.ovh.me#NichandleLegalFormEnum",
          "traits": {
            "smithy.api#documentation": "Customer legal form"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "nationalIdentificationNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "National Identification Number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "nichandle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer identifier"
          }
        },
        "organisation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of organisation",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ovhCompany": {
          "target": "com.ovh.me#NichandleOvhCompanyEnum",
          "traits": {
            "smithy.api#documentation": "OVH company"
          }
        },
        "ovhSubsidiary": {
          "target": "com.ovh.me#NichandleOvhSubsidiaryEnum",
          "traits": {
            "smithy.api#documentation": "OVH subsidiary"
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Phone number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "phoneCountry": {
          "target": "com.ovh.me#NichandleCountryEnum",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "phoneType": {
          "target": "com.ovh.me#NichandlePhoneTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of phone(mobile, landline)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "purposeOfPurchase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer purpose of purchase",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sex": {
          "target": "com.ovh.me#NichandleGenderEnum",
          "traits": {
            "smithy.api#documentation": "Gender",
            "com.distilled.openapi#nullable": {}
          }
        },
        "spareEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Spare email",
            "com.distilled.openapi#nullable": {}
          }
        },
        "state": {
          "target": "com.ovh.me#NichandleStateEnum",
          "traits": {
            "smithy.api#documentation": "Nichandle state"
          }
        },
        "vat": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "VAT number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "zip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zipcode",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about your OVH identifier"
      }
    },
    "com.ovh.me#NichandleCountryEnum": {
      "type": "enum",
      "members": {
        "AC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AC"
          }
        },
        "AD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD"
          }
        },
        "AE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AE"
          }
        },
        "AF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AF"
          }
        },
        "AG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AG"
          }
        },
        "AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AI"
          }
        },
        "AL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AL"
          }
        },
        "AM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AM"
          }
        },
        "AO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AO"
          }
        },
        "AQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AQ"
          }
        },
        "AR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AR"
          }
        },
        "AS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AS"
          }
        },
        "AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AT"
          }
        },
        "AU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AU"
          }
        },
        "AW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AW"
          }
        },
        "AX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AX"
          }
        },
        "AZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZ"
          }
        },
        "BA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BA"
          }
        },
        "BB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BB"
          }
        },
        "BD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BD"
          }
        },
        "BE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BE"
          }
        },
        "BF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BF"
          }
        },
        "BG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BG"
          }
        },
        "BH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BH"
          }
        },
        "BI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BI"
          }
        },
        "BJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BJ"
          }
        },
        "BL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BL"
          }
        },
        "BM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BM"
          }
        },
        "BN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BN"
          }
        },
        "BO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BO"
          }
        },
        "BQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BQ"
          }
        },
        "BR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BR"
          }
        },
        "BS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BS"
          }
        },
        "BT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BT"
          }
        },
        "BW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BW"
          }
        },
        "BY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BY"
          }
        },
        "BZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BZ"
          }
        },
        "CA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CA"
          }
        },
        "CC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CC"
          }
        },
        "CD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CD"
          }
        },
        "CF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CF"
          }
        },
        "CG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CG"
          }
        },
        "CH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CH"
          }
        },
        "CI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CI"
          }
        },
        "CK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CK"
          }
        },
        "CL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CL"
          }
        },
        "CM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CM"
          }
        },
        "CN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CN"
          }
        },
        "CO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CO"
          }
        },
        "CR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CR"
          }
        },
        "CU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CU"
          }
        },
        "CV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CV"
          }
        },
        "CW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CW"
          }
        },
        "CX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CX"
          }
        },
        "CY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CY"
          }
        },
        "CZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CZ"
          }
        },
        "DE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DE"
          }
        },
        "DG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DG"
          }
        },
        "DJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DJ"
          }
        },
        "DK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DK"
          }
        },
        "DM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DM"
          }
        },
        "DO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DO"
          }
        },
        "DZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DZ"
          }
        },
        "EA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EA"
          }
        },
        "EC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC"
          }
        },
        "EE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EE"
          }
        },
        "EG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EG"
          }
        },
        "EH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EH"
          }
        },
        "ER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ER"
          }
        },
        "ES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ES"
          }
        },
        "ET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ET"
          }
        },
        "FI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FI"
          }
        },
        "FJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FJ"
          }
        },
        "FK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FK"
          }
        },
        "FM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FM"
          }
        },
        "FO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FO"
          }
        },
        "FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FR"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GA"
          }
        },
        "GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GB"
          }
        },
        "GD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GD"
          }
        },
        "GE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GE"
          }
        },
        "GF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GF"
          }
        },
        "GG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GG"
          }
        },
        "GH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GH"
          }
        },
        "GI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GI"
          }
        },
        "GL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GL"
          }
        },
        "GM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GM"
          }
        },
        "GN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GN"
          }
        },
        "GP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GP"
          }
        },
        "GQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GQ"
          }
        },
        "GR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GR"
          }
        },
        "GS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GS"
          }
        },
        "GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GT"
          }
        },
        "GU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GU"
          }
        },
        "GW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GW"
          }
        },
        "GY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GY"
          }
        },
        "HK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HK"
          }
        },
        "HN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HN"
          }
        },
        "HR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HR"
          }
        },
        "HT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HT"
          }
        },
        "HU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HU"
          }
        },
        "IC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IC"
          }
        },
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ID"
          }
        },
        "IE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IE"
          }
        },
        "IL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IL"
          }
        },
        "IM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IM"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN"
          }
        },
        "IO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IO"
          }
        },
        "IQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IQ"
          }
        },
        "IR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IR"
          }
        },
        "IS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IS"
          }
        },
        "IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IT"
          }
        },
        "JE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JE"
          }
        },
        "JM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JM"
          }
        },
        "JO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JO"
          }
        },
        "JP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JP"
          }
        },
        "KE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KE"
          }
        },
        "KG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KG"
          }
        },
        "KH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KH"
          }
        },
        "KI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KI"
          }
        },
        "KM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KM"
          }
        },
        "KN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KN"
          }
        },
        "KP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KP"
          }
        },
        "KR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KR"
          }
        },
        "KW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KW"
          }
        },
        "KY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KY"
          }
        },
        "KZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KZ"
          }
        },
        "LA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LA"
          }
        },
        "LB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LB"
          }
        },
        "LC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LC"
          }
        },
        "LI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LI"
          }
        },
        "LK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LK"
          }
        },
        "LR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LR"
          }
        },
        "LS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LS"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LT"
          }
        },
        "LU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LU"
          }
        },
        "LV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LV"
          }
        },
        "LY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LY"
          }
        },
        "MA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MA"
          }
        },
        "MC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MC"
          }
        },
        "MD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MD"
          }
        },
        "ME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ME"
          }
        },
        "MF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MF"
          }
        },
        "MG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MG"
          }
        },
        "MH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MH"
          }
        },
        "MK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MK"
          }
        },
        "ML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ML"
          }
        },
        "MM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MM"
          }
        },
        "MN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MN"
          }
        },
        "MO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MO"
          }
        },
        "MP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MP"
          }
        },
        "MQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MQ"
          }
        },
        "MR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MR"
          }
        },
        "MS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MS"
          }
        },
        "MT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MT"
          }
        },
        "MU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MU"
          }
        },
        "MV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MV"
          }
        },
        "MW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MW"
          }
        },
        "MX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MX"
          }
        },
        "MY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MY"
          }
        },
        "MZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MZ"
          }
        },
        "NA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NA"
          }
        },
        "NC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NC"
          }
        },
        "NE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NE"
          }
        },
        "NF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NF"
          }
        },
        "NG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NG"
          }
        },
        "NI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NI"
          }
        },
        "NL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NL"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO"
          }
        },
        "NP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NP"
          }
        },
        "NR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NR"
          }
        },
        "NU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NU"
          }
        },
        "NZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NZ"
          }
        },
        "OM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OM"
          }
        },
        "PA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PA"
          }
        },
        "PE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PE"
          }
        },
        "PF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PF"
          }
        },
        "PG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PG"
          }
        },
        "PH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PH"
          }
        },
        "PK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PK"
          }
        },
        "PL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PL"
          }
        },
        "PM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PM"
          }
        },
        "PN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PN"
          }
        },
        "PR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PR"
          }
        },
        "PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PS"
          }
        },
        "PT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT"
          }
        },
        "PW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PW"
          }
        },
        "PY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PY"
          }
        },
        "QA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QA"
          }
        },
        "RE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RE"
          }
        },
        "RO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RO"
          }
        },
        "RS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RS"
          }
        },
        "RU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RU"
          }
        },
        "RW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RW"
          }
        },
        "SA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SA"
          }
        },
        "SB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SB"
          }
        },
        "SC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SC"
          }
        },
        "SD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SD"
          }
        },
        "SE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SE"
          }
        },
        "SG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SG"
          }
        },
        "SH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SH"
          }
        },
        "SI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SI"
          }
        },
        "SJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SJ"
          }
        },
        "SK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SK"
          }
        },
        "SL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SL"
          }
        },
        "SM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SM"
          }
        },
        "SN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SN"
          }
        },
        "SO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SO"
          }
        },
        "SR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SR"
          }
        },
        "SS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SS"
          }
        },
        "ST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ST"
          }
        },
        "SV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SV"
          }
        },
        "SX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SX"
          }
        },
        "SY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SY"
          }
        },
        "SZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SZ"
          }
        },
        "TA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TA"
          }
        },
        "TC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TC"
          }
        },
        "TD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TD"
          }
        },
        "TF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TF"
          }
        },
        "TG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TG"
          }
        },
        "TH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TH"
          }
        },
        "TJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TJ"
          }
        },
        "TK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TK"
          }
        },
        "TL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TL"
          }
        },
        "TM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TM"
          }
        },
        "TN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TN"
          }
        },
        "TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TO"
          }
        },
        "TR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TR"
          }
        },
        "TT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TT"
          }
        },
        "TV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TV"
          }
        },
        "TW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TW"
          }
        },
        "TZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TZ"
          }
        },
        "UA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UA"
          }
        },
        "UG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UG"
          }
        },
        "UM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UM"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "US"
          }
        },
        "UY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UY"
          }
        },
        "UZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UZ"
          }
        },
        "VA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VA"
          }
        },
        "VC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VC"
          }
        },
        "VE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VE"
          }
        },
        "VG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VG"
          }
        },
        "VI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VI"
          }
        },
        "VN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VN"
          }
        },
        "VU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VU"
          }
        },
        "WF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WF"
          }
        },
        "WS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WS"
          }
        },
        "XK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XK"
          }
        },
        "YE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YE"
          }
        },
        "YT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YT"
          }
        },
        "ZA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZA"
          }
        },
        "ZM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZM"
          }
        },
        "ZW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZW"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Countries a nichandle can choose"
      }
    },
    "com.ovh.me#NichandleCurrency": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Currency code"
          }
        },
        "symbol": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Currency symbol"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Customer currency"
      }
    },
    "com.ovh.me#NichandleLanguageEnum": {
      "type": "enum",
      "members": {
        "CS_CZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cs_CZ"
          }
        },
        "DE_DE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "de_DE"
          }
        },
        "EN_AU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "en_AU"
          }
        },
        "EN_CA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "en_CA"
          }
        },
        "EN_GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "en_GB"
          }
        },
        "EN_IE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "en_IE"
          }
        },
        "EN_US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "en_US"
          }
        },
        "ES_ES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "es_ES"
          }
        },
        "FI_FI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fi_FI"
          }
        },
        "FR_CA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fr_CA"
          }
        },
        "FR_FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fr_FR"
          }
        },
        "FR_MA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fr_MA"
          }
        },
        "FR_SN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fr_SN"
          }
        },
        "FR_TN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fr_TN"
          }
        },
        "IT_IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "it_IT"
          }
        },
        "LT_LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lt_LT"
          }
        },
        "NL_NL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nl_NL"
          }
        },
        "PL_PL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pl_PL"
          }
        },
        "PT_PT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pt_PT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Languages a nichandle can choose"
      }
    },
    "com.ovh.me#NichandleLegalFormEnum": {
      "type": "enum",
      "members": {
        "ADMINISTRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "administration"
          }
        },
        "ASSOCIATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "association"
          }
        },
        "CORPORATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "corporation"
          }
        },
        "INDIVIDUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "individual"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        },
        "PERSONALCORPORATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "personalcorporation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Legal forms a nichandle can be registered as"
      }
    },
    "com.ovh.me#NichandleOvhCompanyEnum": {
      "type": "enum",
      "members": {
        "KIMSUFI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kimsufi"
          }
        },
        "OVH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ovh"
          }
        },
        "SOYOUSTART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "soyoustart"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OVH companies"
      }
    },
    "com.ovh.me#NichandleOvhSubsidiaryEnum": {
      "type": "enum",
      "members": {
        "CZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CZ"
          }
        },
        "DE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DE"
          }
        },
        "ES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ES"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EU"
          }
        },
        "FI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FI"
          }
        },
        "FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FR"
          }
        },
        "GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GB"
          }
        },
        "IE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IE"
          }
        },
        "IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IT"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LT"
          }
        },
        "MA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MA"
          }
        },
        "NL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NL"
          }
        },
        "PL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PL"
          }
        },
        "PT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT"
          }
        },
        "SN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SN"
          }
        },
        "TN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TN"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OVH subsidiaries"
      }
    },
    "com.ovh.me#NichandlePhoneTypeEnum": {
      "type": "enum",
      "members": {
        "LANDLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "landline"
          }
        },
        "MOBILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mobile"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All phone type a person can choose"
      }
    },
    "com.ovh.me#NichandleGenderEnum": {
      "type": "enum",
      "members": {
        "FEMALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "female"
          }
        },
        "MALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "male"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All genders a person can choose"
      }
    },
    "com.ovh.me#NichandleStateEnum": {
      "type": "enum",
      "members": {
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "complete"
          }
        },
        "INCOMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "incomplete"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "States a nichandle can be in"
      }
    },
    "com.ovh.me#GetAccountDetails": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.ovh.me#NichandleNichandle"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/me",
          "code": 200
        },
        "smithy.api#documentation": "Get details about your nichandle"
      }
    },
    "com.ovh.me#EditAccountDetailsRequest": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address of nichandle",
            "com.distilled.openapi#nullable": {}
          }
        },
        "area": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Area of nichandle",
            "com.distilled.openapi#nullable": {}
          }
        },
        "birthCity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "City of birth",
            "com.distilled.openapi#nullable": {}
          }
        },
        "birthDay": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Birth date",
            "com.distilled.openapi#nullable": {}
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "City of nichandle",
            "com.distilled.openapi#nullable": {}
          }
        },
        "companyNationalIdentificationNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Company National Identification Number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "complementaryAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complementary Address",
            "com.distilled.openapi#nullable": {}
          }
        },
        "corporationType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Corporation type",
            "com.distilled.openapi#nullable": {}
          }
        },
        "country": {
          "target": "com.ovh.me#NichandleCountryEnum",
          "traits": {
            "smithy.api#documentation": "Customer country"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name shown instead of the organisation name.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "fax": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fax number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "firstname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "First name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "italianSDI": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Italian SDI",
            "com.distilled.openapi#nullable": {}
          }
        },
        "language": {
          "target": "com.ovh.me#NichandleLanguageEnum",
          "traits": {
            "smithy.api#documentation": "Language",
            "com.distilled.openapi#nullable": {}
          }
        },
        "legalform": {
          "target": "com.ovh.me#NichandleLegalFormEnum",
          "traits": {
            "smithy.api#documentation": "Customer legal form"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "nationalIdentificationNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "National Identification Number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organisation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of organisation",
            "com.distilled.openapi#nullable": {}
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Phone number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "phoneCountry": {
          "target": "com.ovh.me#NichandleCountryEnum",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "phoneType": {
          "target": "com.ovh.me#NichandlePhoneTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of phone(mobile, landline)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "purposeOfPurchase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer purpose of purchase",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sex": {
          "target": "com.ovh.me#NichandleGenderEnum",
          "traits": {
            "smithy.api#documentation": "Gender",
            "com.distilled.openapi#nullable": {}
          }
        },
        "spareEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Spare email",
            "com.distilled.openapi#nullable": {}
          }
        },
        "vat": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "VAT number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "zip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zipcode",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.me#EditAccountDetails": {
      "type": "operation",
      "input": {
        "target": "com.ovh.me#EditAccountDetailsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/me",
          "code": 200
        },
        "smithy.api#documentation": "Update details of your nichandle"
      }
    },
    "com.ovh.me#ListMeAbuseResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.me#ListMeAbuseResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.me#ListMeAbuseResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.me#ListMeAbuse": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.ovh.me#ListMeAbuseResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/me/abuse",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve abuse cases list"
      }
    },
    "com.ovh.me#GetMeAbuseRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.me#MeAbuseAbuse": {
      "type": "structure",
      "members": {
        "category": {
          "target": "com.ovh.me#MeAbuseAbuseCategoryEnum",
          "traits": {
            "smithy.api#documentation": "Abuse category"
          }
        },
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation date of the abuse"
          }
        },
        "publicId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public ID of the abuse case"
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service where is hosted the abuse"
          }
        },
        "status": {
          "target": "com.ovh.me#MeAbuseAbuseStatusEnum",
          "traits": {
            "smithy.api#documentation": "Abuse case status"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Get report API response"
      }
    },
    "com.ovh.me#MeAbuseAbuseCategoryEnum": {
      "type": "enum",
      "members": {
        "COMPROMISED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Compromised"
          }
        },
        "COPYRIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Copyright"
          }
        },
        "ILLEGAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Illegal"
          }
        },
        "INTRUSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Intrusion"
          }
        },
        "MALWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Malware"
          }
        },
        "NETWORK_ATTACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Network Attack"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Other"
          }
        },
        "PHISHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Phishing"
          }
        },
        "SPAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Spam"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The abuse categories"
      }
    },
    "com.ovh.me#MeAbuseAbuseStatusEnum": {
      "type": "enum",
      "members": {
        "ANSWERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Answered"
          }
        },
        "CLAIMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Claimed"
          }
        },
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Closed"
          }
        },
        "ESCALATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Escalated"
          }
        },
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Open"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Paused"
          }
        },
        "REOPENED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Reopened"
          }
        },
        "UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updated"
          }
        },
        "WAITINGANSWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WaitingAnswer"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The abuse status"
      }
    },
    "com.ovh.me#GetMeAbuse": {
      "type": "operation",
      "input": {
        "target": "com.ovh.me#GetMeAbuseRequest"
      },
      "output": {
        "target": "com.ovh.me#MeAbuseAbuse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/me/abuse/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Check specific abuse case"
      }
    },
    "com.ovh.me#NichandleAccessRestrictionSOTPAccount": {
      "type": "structure",
      "members": {
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation date"
          }
        },
        "lastUsedDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last used date",
            "com.distilled.openapi#nullable": {}
          }
        },
        "remaining": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of remaining codes"
          }
        },
        "status": {
          "target": "com.ovh.me#NichandleAccessRestrictionSOTPStatusEnum",
          "traits": {
            "smithy.api#documentation": "Status of this account"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SOTP Two-Factor Authentication"
      }
    },
    "com.ovh.me#NichandleAccessRestrictionSOTPStatusEnum": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "NEEDCODEVALIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "needCodeValidation"
          }
        },
        "NEEDEMAILVALIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "needEmailValidation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of SOTP account"
      }
    },
    "com.ovh.me#GetMeAccessRestrictionBackupCode": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.ovh.me#NichandleAccessRestrictionSOTPAccount"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/me/accessRestriction/backupCode",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.me#NichandleAccessRestrictionSOTPSecret": {
      "type": "structure",
      "members": {
        "codes": {
          "target": "com.ovh.me#NichandleAccessRestrictionSOTPSecretCodesList"
        }
      },
      "traits": {
        "smithy.api#documentation": "Describe SOTP secret keys"
      }
    },
    "com.ovh.me#NichandleAccessRestrictionSOTPSecretCodesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.me#CreateMeAccessRestrictionBackupCode": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.ovh.me#NichandleAccessRestrictionSOTPSecret"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/me/accessRestriction/backupCode",
          "code": 200
        },
        "smithy.api#documentation": "Add a SOTP access restriction"
      }
    },
    "com.ovh.me#DeleteMeAccessRestrictionBackupCode": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/me/accessRestriction/backupCode",
          "code": 200
        },
        "smithy.api#documentation": "Delete this Two-Factor"
      }
    },
    "com.ovh.me#DisableMeAccessRestrictionBackupCodeRequest": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OTP code given by the application",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.me#DisableMeAccessRestrictionBackupCode": {
      "type": "operation",
      "input": {
        "target": "com.ovh.me#DisableMeAccessRestrictionBackupCodeRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/me/accessRestriction/backupCode/disable",
          "code": 200
        },
        "smithy.api#documentation": "Disable this SOTP account"
      }
    },
    "com.ovh.me#EnableMeAccessRestrictionBackupCodeRequest": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OTP code given by the application",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.me#EnableMeAccessRestrictionBackupCode": {
      "type": "operation",
      "input": {
        "target": "com.ovh.me#EnableMeAccessRestrictionBackupCodeRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/me/accessRestriction/backupCode/enable",
          "code": 200
        },
        "smithy.api#documentation": "Enable this SOTP account"
      }
    },
    "com.ovh.me#ValidateMeAccessRestrictionBackupCodeRequest": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OTP code given by the application",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.me#NichandleAccessRestrictionSOTPValidate": {
      "type": "structure",
      "members": {
        "remainingCodes": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#documentation": "Describe SOTP validation status"
      }
    },
    "com.ovh.me#ValidateMeAccessRestrictionBackupCode": {
      "type": "operation",
      "input": {
        "target": "com.ovh.me#ValidateMeAccessRestrictionBackupCodeRequest"
      },
      "output": {
        "target": "com.ovh.me#NichandleAccessRestrictionSOTPValidate"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/me/accessRestriction/backupCode/validate",
          "code": 200
        },
        "smithy.api#documentation": "Validate your SOTP account"
      }
    },
    "com.ovh.me#NichandleDeveloperModeRestriction": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allow login on your account on a development version of the Manager"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Login restrictions on a development version of the Manager"
      }
    },
    "com.ovh.me#GetMeAccessRestrictionDeveloperMode": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.ovh.me#NichandleDeveloperModeRestriction"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/me/accessRestriction/developerMode",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.me#PutMeAccessRestrictionDeveloperModeRequest": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allow login on your account on a development version of the Manager"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.me#PutMeAccessRestrictionDeveloperMode": {
      "type": "operation",
      "input": {
        "target": "com.ovh.me#PutMeAccessRestrictionDeveloperModeRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/me/accessRestriction/developerMode",
          "code": 200
        },
        "smithy.api#documentation": "Alter this object properties"
      }
    },
    "com.ovh.me#ListMeAccessRestrictionIpResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.me#ListMeAccessRestrictionIpResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.me#ListMeAccessRestrictionIpResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.me#ListMeAccessRestrictionIp": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.ovh.me#ListMeAccessRestrictionIpResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/me/accessRestriction/ip",
          "code": 200
        },
        "smithy.api#documentation": "List of IP restrictions"
      }
    },
    "com.ovh.me#NichandleAccessRestrictionIpRestrictionRuleEnum": {
      "type": "enum",
      "members": {
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Accept or deny IP access"
      }
    },
    "com.ovh.me#CreateMeAccessRestrictionIpRequest": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An IP range where we will apply the rule",
            "smithy.api#required": {}
          }
        },
        "rule": {
          "target": "com.ovh.me#NichandleAccessRestrictionIpRestrictionRuleEnum",
          "traits": {
            "smithy.api#documentation": "Accept or deny IP access",
            "smithy.api#required": {}
          }
        },
        "warning": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Send an email if someone try to access with this IP address",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.me#CreateMeAccessRestrictionIp": {
      "type": "operation",
      "input": {
        "target": "com.ovh.me#CreateMeAccessRestrictionIpRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/me/accessRestriction/ip",
          "code": 200
        },
        "smithy.api#documentation": "Add an IP access restriction"
      }
    },
    "com.ovh.me#GetMeAccessRestrictionIpRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Id of the restriction"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.me#NichandleIpRestriction": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Id of the restriction"
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An IP range where we will apply the rule"
          }
        },
        "rule": {
          "target": "com.ovh.me#NichandleAccessRestrictionIpRestrictionRuleEnum",
          "traits": {
            "smithy.api#documentation": "Accept or deny IP access"
          }
        },
        "warning": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Send an email if someone try to access with this IP address"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of all IP Restrictions"
      }
    },
    "com.ovh.me#GetMeAccessRestrictionIp": {
      "type": "operation",
      "input": {
        "target": "com.ovh.me#GetMeAccessRestrictionIpRequest"
      },
      "output": {
        "target": "com.ovh.me#NichandleIpRestriction"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/me/accessRestriction/ip/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.me#PutMeAccessRestrictionIpRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Id of the restriction"
          }
        },
        "rule": {
          "target": "com.ovh.me#NichandleAccessRestrictionIpRestrictionRuleEnum",
          "traits": {
            "smithy.api#documentation": "Accept or deny IP access"
          }
        },
        "warning": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Send an email if someone try to access with this IP address"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.me#PutMeAccessRestrictionIp": {
      "type": "operation",
      "input": {
        "target": "com.ovh.me#PutMeAccessRestrictionIpRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/me/accessRestriction/ip/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Alter this object properties"
      }
    },
    "com.ovh.me#DeleteMeAccessRestrictionIpRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Id of the restriction"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.me#DeleteMeAccessRestrictionIp": {
      "type": "operation",
      "input": {
        "target": "com.ovh.me#DeleteMeAccessRestrictionIpRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/me/accessRestriction/ip/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete this restriction rule"
      }
    },
    "com.ovh.me#NichandleIpRestrictionDefaultRule": {
      "type": "structure",
      "members": {
        "rule": {
          "target": "com.ovh.me#NichandleAccessRestrictionIpRestrictionRuleEnum",
          "traits": {
            "smithy.api#documentation": "Accept or deny access"
          }
        },
        "warning": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Send an email if someone try to access"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IP Restriction default rule"
      }
    },
    "com.ovh.me#GetMeAccessRestrictionIpDefaultRule": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.ovh.me#NichandleIpRestrictionDefaultRule"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/me/accessRestriction/ipDefaultRule",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.me#PutMeAccessRestrictionIpDefaultRuleRequest": {
      "type": "structure",
      "members": {
        "rule": {
          "target": "com.ovh.me#NichandleAccessRestrictionIpRestrictionRuleEnum",
          "traits": {
            "smithy.api#documentation": "Accept or deny access"
          }
        },
        "warning": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Send an email if someone try to access"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.me#PutMeAccessRestrictionIpDefaultRule": {
      "type": "operation",
      "input": {
        "target": "com.ovh.me#PutMeAccessRestrictionIpDefaultRuleRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/me/accessRestriction/ipDefaultRule",
          "code": 200
        },
        "smithy.api#documentation": "Alter this object properties"
      }
    },
    "com.ovh.me#ListMeAccessRestrictionSmsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.me#ListMeAccessRestrictionSmsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.me#ListMeAccessRestrictionSmsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.me#ListMeAccessRestrictionSms": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.ovh.me#ListMeAccessRestrictionSmsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/me/accessRestriction/sms",
          "code": 200
        },
        "smithy.api#documentation": "List of Sms accounts"
      }
    },
    "com.ovh.me#CreateMeAccessRestrictionSmsRequest": {
      "type": "structure",
      "members": {
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cell phone number to register",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.me#NichandleAccessRestrictionSmsSecret": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "remainingTry": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#documentation": "Describe secret key"
      }
    },
    "com.ovh.me#CreateMeAccessRestrictionSms": {
      "type": "operation",
      "input": {
        "target": "com.ovh.me#CreateMeAccessRestrictionSmsRequest"
      },
      "output": {
        "target": "com.ovh.me#NichandleAccessRestrictionSmsSecret"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/me/accessRestriction/sms",
          "code": 200
        },
        "smithy.api#documentation": "Add a SMS access restriction"
      }
    },
    "com.ovh.me#GetMeAccessRestrictionSmsRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Id of the restriction"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.me#NichandleAccessRestrictionSmsAccount": {
      "type": "structure",
      "members": {
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation date"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of this phone"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Id of the restriction"
          }
        },
        "lastUsedDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last used date",
            "com.distilled.openapi#nullable": {}
          }
        },
        "phoneNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Associated phone number"
          }
        },
        "status": {
          "target": "com.ovh.me#NichandleAccessRestrictionSmsStatusEnum",
          "traits": {
            "smithy.api#documentation": "Status of this account"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sms Two-Factor Authentication"
      }
    },
    "com.ovh.me#NichandleAccessRestrictionSmsStatusEnum": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "NEEDCODEVALIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "needCodeValidation"
          }
        },
        "NEEDEMAILVALIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "needEmailValidation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Sms account"
      }
    },
    "com.ovh.me#GetMeAccessRestrictionSms": {
      "type": "operation",
      "input": {
        "target": "com.ovh.me#GetMeAccessRestrictionSmsRequest"
      },
      "output": {
        "target": "com.ovh.me#NichandleAccessRestrictionSmsAccount"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/me/accessRestriction/sms/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.me#PutMeAccessRestrictionSmsRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Id of the restriction"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of this phone"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.me#PutMeAccessRestrictionSms": {
      "type": "operation",
      "input": {
        "target": "com.ovh.me#PutMeAccessRestrictionSmsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/me/accessRestriction/sms/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Alter this object properties"
      }
    },
    "com.ovh.me#DeleteMeAccessRestrictionSmsRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Id of the restriction"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.me#DeleteMeAccessRestrictionSms": {
      "type": "operation",
      "input": {
        "target": "com.ovh.me#DeleteMeAccessRestrictionSmsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/me/accessRestriction/sms/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete this Two-Factor"
      }
    },
    "com.ovh.me#DisableMeAccessRestrictionSmsRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Id of the restriction"
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SMS code send by a cellphone",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.me#DisableMeAccessRestrictionSms": {
      "type": "operation",
      "input": {
        "target": "com.ovh.me#DisableMeAccessRestrictionSmsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/me/accessRestriction/sms/{id}/disable",
          "code": 200
        },
        "smithy.api#documentation": "Disable this SMS account"
      }
    },
    "com.ovh.me#EnableMeAccessRestrictionSmsRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Id of the restriction"
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SMS code send by a cellphone",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.me#EnableMeAccessRestrictionSms": {
      "type": "operation",
      "input": {
        "target": "com.ovh.me#EnableMeAccessRestrictionSmsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/me/accessRestriction/sms/{id}/enable",
          "code": 200
        },
        "smithy.api#documentation": "Enable this SMS account"
      }
    },
    "com.ovh.me#SendMeAccessRestrictionSmsCodeRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Id of the restriction"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.me#NichandleAccessRestrictionSmsCode": {
      "type": "structure",
      "members": {
        "challenge": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Send secret code"
      }
    },
    "com.ovh.me#SendMeAccessRestrictionSmsCode": {
      "type": "operation",
      "input": {
        "target": "com.ovh.me#SendMeAccessRestrictionSmsCodeRequest"
      },
      "output": {
        "target": "com.ovh.me#NichandleAccessRestrictionSmsCode"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/me/accessRestriction/sms/{id}/sendCode",
          "code": 200
        },
        "smithy.api#documentation": "Send a SMS to this account"
      }
    },
    "com.ovh.me#ValidateMeAccessRestrictionSmsRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Id of the restriction"
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SMS code send to a cellphone",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.me#ValidateMeAccessRestrictionSms": {
      "type": "operation",
      "input": {
        "target": "com.ovh.me#ValidateMeAccessRestrictionSmsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/me/accessRestriction/sms/{id}/validate",
          "code": 200
        },
        "smithy.api#documentation": "Validate your SMS account"
      }
    },
    "com.ovh.me#ListMeAccessRestrictionTotpResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.me#ListMeAccessRestrictionTotpResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.me#ListMeAccessRestrictionTotpResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.me#ListMeAccessRestrictionTotp": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.ovh.me#ListMeAccessRestrictionTotpResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/me/accessRestriction/totp",
          "code": 200
        },
        "smithy.api#documentation": "List of TOTP accounts"
      }
    },
    "com.ovh.me#NichandleAccessRestrictionTOTPSecret": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "qrcodeHelper": {
          "target": "smithy.api#String"
        },
        "secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describe TOTP secret keys"
      }
    },
    "com.ovh.me#CreateMeAccessRestrictionTotp": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.ovh.me#NichandleAccessRestrictionTOTPSecret"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/me/accessRestriction/totp",
          "code": 200
        },
        "smithy.api#documentation": "Add a TOTP access restriction"
      }
    },
    "com.ovh.me#GetMeAccessRestrictionTotpRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Id of the restriction"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.me#NichandleAccessRestrictionTOTPAccount": {
      "type": "structure",
      "members": {
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation date"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of this TOTP"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Id of the restriction"
          }
        },
        "lastUsedDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last used date",
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.ovh.me#NichandleAccessRestrictionTOTPStatusEnum",
          "traits": {
            "smithy.api#documentation": "Status of this account"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "TOTP Two-Factor Authentication"
      }
    },
    "com.ovh.me#NichandleAccessRestrictionTOTPStatusEnum": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "NEEDCODEVALIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "needCodeValidation"
          }
        },
        "NEEDEMAILVALIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "needEmailValidation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of TOTP account"
      }
    },
    "com.ovh.me#GetMeAccessRestrictionTotp": {
      "type": "operation",
      "input": {
        "target": "com.ovh.me#GetMeAccessRestrictionTotpRequest"
      },
      "output": {
[...]
