{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.ovh.packxdsl#IamResourceTagFilterInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Resource tag filter"
      }
    },
    "com.ovh.packxdsl#GetPackXdslRequestIamTagsValueList": {
      "type": "list",
      "member": {
        "target": "com.ovh.packxdsl#IamResourceTagFilterInput"
      },
      "traits": {}
    },
    "com.ovh.packxdsl#GetPackXdslRequestIamTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.ovh.packxdsl#GetPackXdslRequestIamTagsValueList"
      },
      "traits": {}
    },
    "com.ovh.packxdsl#GetPackXdslRequest": {
      "type": "structure",
      "members": {
        "iamTags": {
          "target": "com.ovh.packxdsl#GetPackXdslRequestIamTagsMap",
          "traits": {
            "smithy.api#httpQuery": "iamTags",
            "smithy.api#documentation": "Filter resources on IAM tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.packxdsl#GetPackXdslResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.packxdsl#GetPackXdslResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.packxdsl#GetPackXdslResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.packxdsl#GetPackXdsl": {
      "type": "operation",
      "input": {
        "target": "com.ovh.packxdsl#GetPackXdslRequest"
      },
      "output": {
        "target": "com.ovh.packxdsl#GetPackXdslResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/pack/xdsl",
          "code": 200
        },
        "smithy.api#documentation": "List available services"
      }
    },
    "com.ovh.packxdsl#GetPackXdslSearchRequest": {
      "type": "structure",
      "members": {
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "pattern",
            "smithy.api#required": {},
            "smithy.api#documentation": "This parameter could be IP / line number / pack name / access name / order id / mac address"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.packxdsl#PackXdslPackDetail": {
      "type": "structure",
      "members": {
        "accessname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reference of the access"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the access"
          }
        },
        "number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of the line"
          }
        },
        "packname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the pack"
          }
        },
        "type": {
          "target": "com.ovh.packxdsl#XdslDslTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of the access"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about pack xdsl"
      }
    },
    "com.ovh.packxdsl#XdslDslTypeEnum": {
      "type": "enum",
      "members": {
        "ADSL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "adsl"
          }
        },
        "FTTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ftte"
          }
        },
        "FTTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ftth"
          }
        },
        "SDSL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sdsl"
          }
        },
        "VDSL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vdsl"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible DSL technologies"
      }
    },
    "com.ovh.packxdsl#GetPackXdslSearchResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.packxdsl#PackXdslPackDetail"
      },
      "traits": {}
    },
    "com.ovh.packxdsl#GetPackXdslSearchResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.packxdsl#GetPackXdslSearchResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.packxdsl#GetPackXdslSearch": {
      "type": "operation",
      "input": {
        "target": "com.ovh.packxdsl#GetPackXdslSearchRequest"
      },
      "output": {
        "target": "com.ovh.packxdsl#GetPackXdslSearchResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/pack/xdsl/search",
          "code": 200
        },
        "smithy.api#documentation": "Get the list of pack linked to the pattern"
      }
    },
    "com.ovh.packxdsl#GetPackXdslPackNameRequest": {
      "type": "structure",
      "members": {
        "packName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your pack"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.packxdsl#PackXdslPackAdslWithIAM": {
      "type": "structure",
      "members": {
        "capabilities": {
          "target": "com.ovh.packxdsl#PackXdslPackCapabilities",
          "traits": {
            "smithy.api#documentation": "Capabilities of the pack"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer pack description",
            "com.distilled.openapi#nullable": {}
          }
        },
        "iam": {
          "target": "com.ovh.packxdsl#IamResourceMetadata",
          "traits": {
            "smithy.api#documentation": "IAM resource metadata",
            "com.distilled.openapi#nullable": {}
          }
        },
        "offerDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the offer"
          }
        },
        "offerPrice": {
          "target": "com.ovh.packxdsl#OrderPrice",
          "traits": {
            "smithy.api#documentation": "Price of the offer"
          }
        },
        "packName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the xdsl pack"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pack of xDSL services"
      }
    },
    "com.ovh.packxdsl#PackXdslPackCapabilities": {
      "type": "structure",
      "members": {
        "canMoveAddress": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not this pack can move address"
          }
        },
        "isLegacyOffer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not this pack is from an old offer"
          }
        },
        "isResellerOffer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not this pack is a reseller offer"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describe the capabilities of this pack"
      }
    },
    "com.ovh.packxdsl#IamResourceMetadata": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource display name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the resource"
          }
        },
        "tags": {
          "target": "com.ovh.packxdsl#IamResourceMetadataTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:",
            "com.distilled.openapi#nullable": {}
          }
        },
        "urn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique resource name used in policies"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IAM resource metadata embedded in services models"
      }
    },
    "com.ovh.packxdsl#IamResourceMetadataTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:"
      }
    },
    "com.ovh.packxdsl#OrderPrice": {
      "type": "structure",
      "members": {
        "currencyCode": {
          "target": "com.ovh.packxdsl#OrderCurrencyCodeEnum"
        },
        "text": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {
        "smithy.api#documentation": "Price with it's currency and textual representation"
      }
    },
    "com.ovh.packxdsl#OrderCurrencyCodeEnum": {
      "type": "enum",
      "members": {
        "AUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUD"
          }
        },
        "CAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAD"
          }
        },
        "CZK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CZK"
          }
        },
        "EUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EUR"
          }
        },
        "GBP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GBP"
          }
        },
        "INR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INR"
          }
        },
        "LTL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LTL"
          }
        },
        "MAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAD"
          }
        },
        "N_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N/A"
          }
        },
        "PLN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLN"
          }
        },
        "SGD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SGD"
          }
        },
        "TND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TND"
          }
        },
        "USD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USD"
          }
        },
        "XOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XOF"
          }
        },
        "POINTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "points"
          }
        }
      },
      "traits": {}
    },
    "com.ovh.packxdsl#GetPackXdslPackName": {
      "type": "operation",
      "input": {
        "target": "com.ovh.packxdsl#GetPackXdslPackNameRequest"
      },
      "output": {
        "target": "com.ovh.packxdsl#PackXdslPackAdslWithIAM"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/pack/xdsl/{packName}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.packxdsl#PutPackXdslPackNameRequest": {
      "type": "structure",
      "members": {
        "packName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your pack"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer pack description",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.packxdsl#PutPackXdslPackName": {
      "type": "operation",
      "input": {
        "target": "com.ovh.packxdsl#PutPackXdslPackNameRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/pack/xdsl/{packName}",
          "code": 200
        },
        "smithy.api#documentation": "Alter this object properties"
      }
    },
    "com.ovh.packxdsl#ConnectivityEligibilityInstallationTypeEnum": {
      "type": "enum",
      "members": {
        "ACTIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "activate"
          }
        },
        "ACTIVATE_UNDEFINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "activate_undefined"
          }
        },
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create"
          }
        },
        "MULTIOTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "multiOtp"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Installation type, for fiber only"
      }
    },
    "com.ovh.packxdsl#XdslEligibilityBookMeetingSlot": {
      "type": "structure",
      "members": {
        "fakeMeeting": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not to book a fake meeting slots (if no slots are available)"
          }
        },
        "meetingSlot": {
          "target": "com.ovh.packxdsl#XdslEligibilityMeetingSlot",
          "traits": {
            "smithy.api#documentation": "The time slot to book, null if fakeMeeting is true",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the customer",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Parameters to book a time slot for a meeting"
      }
    },
    "com.ovh.packxdsl#XdslEligibilityMeetingSlot": {
      "type": "structure",
      "members": {
        "endDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end of the time slot"
          }
        },
        "slotId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represent a meeting id for a fiber collect operator",
            "com.distilled.openapi#nullable": {}
          }
        },
        "startDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The beginning of the time slot"
          }
        },
        "uiCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque string that represents an intervention unit"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a time slot for a meeting"
      }
    },
    "com.ovh.packxdsl#PackXdslModemOptionEnum": {
      "type": "enum",
      "members": {
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no"
          }
        },
        "RECYCLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "recycled"
          }
        },
        "YES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yes"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "modem type"
      }
    },
    "com.ovh.packxdsl#PackXdslMigrationOfferOption": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the option"
          }
        },
        "quantity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of slots, couting included slots"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Option of Offer"
      }
    },
    "com.ovh.packxdsl#PostPackXdslPackNameAddressMoveMoveOfferRequestOptionsList": {
      "type": "list",
      "member": {
        "target": "com.ovh.packxdsl#PackXdslMigrationOfferOption"
      },
      "traits": {
        "smithy.api#documentation": "Options wanted in the new offer"
      }
    },
    "com.ovh.packxdsl#PackXdslMigrationOfferServiceToDelete": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the service"
          }
        },
        "type": {
          "target": "com.ovh.packxdsl#PackXdslServiceNameEnum",
          "traits": {
            "smithy.api#documentation": "Type of the service to delete"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Option of Offer"
      }
    },
    "com.ovh.packxdsl#PackXdslServiceNameEnum": {
      "type": "enum",
      "members": {
        "DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain"
          }
        },
        "EMAILPRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "emailPro"
          }
        },
        "EXCHANGEACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exchangeAccount"
          }
        },
        "EXCHANGEINDIVIDUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exchangeIndividual"
          }
        },
        "EXCHANGEORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exchangeOrganization"
          }
        },
        "GRT10HO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "grt10ho"
          }
        },
        "GRT20M10HO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "grt20m10ho"
          }
        },
        "GRT20M4HO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "grt20m4ho"
          }
        },
        "GRT4HO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "grt4ho"
          }
        },
        "GRT5M10HO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "grt5m10ho"
          }
        },
        "GRT5M4HO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "grt5m4ho"
          }
        },
        "GRTALT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "grtAlt"
          }
        },
        "GRTDSP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "grtDsp"
          }
        },
        "GRTFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "grtFt"
          }
        },
        "GRTKOSC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "grtKosc"
          }
        },
        "GRTOVH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "grtOvh"
          }
        },
        "HOSTEDEMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hostedEmail"
          }
        },
        "MODEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "modem"
          }
        },
        "OVERTHEBOXHARDWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "overTheBoxHardware"
          }
        },
        "OVERTHEBOXSERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "overTheBoxService"
          }
        },
        "VOIPALIAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "voipAlias"
          }
        },
        "VOIPBILLINGACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "voipBillingAccount"
          }
        },
        "VOIPECOFAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "voipEcoFax"
          }
        },
        "VOIPLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "voipLine"
          }
        },
        "VOIPTRUNK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "voipTrunk"
          }
        },
        "XDSLACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xdslAccess"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Service name"
      }
    },
    "com.ovh.packxdsl#PostPackXdslPackNameAddressMoveMoveOfferRequestSubServicesToDeleteList": {
      "type": "list",
      "member": {
        "target": "com.ovh.packxdsl#PackXdslMigrationOfferServiceToDelete"
      },
      "traits": {
        "smithy.api#documentation": "List of domains of services to delete if needed"
      }
    },
    "com.ovh.packxdsl#PackXdslMigrationOfferServiceToKeep": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the service"
          }
        },
        "type": {
          "target": "com.ovh.packxdsl#PackXdslServiceNameEnum",
          "traits": {
            "smithy.api#documentation": "Type of the service to keep"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Option of Offer"
      }
    },
    "com.ovh.packxdsl#PostPackXdslPackNameAddressMoveMoveOfferRequestSubServicesToKeepList": {
      "type": "list",
      "member": {
        "target": "com.ovh.packxdsl#PackXdslMigrationOfferServiceToKeep"
      },
      "traits": {
        "smithy.api#documentation": "List of domains of services to keep if needed"
      }
    },
    "com.ovh.packxdsl#PostPackXdslPackNameAddressMoveMoveOfferRequest": {
      "type": "structure",
      "members": {
        "packName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your pack"
          }
        },
        "acceptContracts": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "You explicitly accept the terms of the contract corresponding to your new offer",
            "smithy.api#required": {}
          }
        },
        "building": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Building identifier, \"null\" if no identifier is available"
          }
        },
        "buildingReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Building reference for FTTH and FTTE offers"
          }
        },
        "contactPhone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer contact phone number"
          }
        },
        "door": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Door identifier, \"null\" if no identifier is available"
          }
        },
        "eligibilityReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Eligibility reference",
            "smithy.api#required": {}
          }
        },
        "engageMonths": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of months of re-engagement"
          }
        },
        "floor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Floor identifier, \"null\" if no identifier is available"
          }
        },
        "installationType": {
          "target": "com.ovh.packxdsl#ConnectivityEligibilityInstallationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Installation type, only on FTTH technology"
          }
        },
        "keepCurrentNumber": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the current number should be kept",
            "smithy.api#required": {}
          }
        },
        "meeting": {
          "target": "com.ovh.packxdsl#XdslEligibilityBookMeetingSlot",
          "traits": {
            "smithy.api#documentation": "Data to book a meeting slot"
          }
        },
        "modem": {
          "target": "com.ovh.packxdsl#PackXdslModemOptionEnum",
          "traits": {
            "smithy.api#documentation": "Modem choose",
            "smithy.api#required": {}
          }
        },
        "mondialRelayId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Mondial relay ID if a shipping is needed"
          }
        },
        "moveOutDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date when the customer is no longer at the current address. Must be between now and +30 days. The default date will be the one in 30 days from now."
          }
        },
        "nicShipping": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "nicShipping if a shipping is needed"
          }
        },
        "offerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reference of the new offer",
            "smithy.api#required": {}
          }
        },
        "ontShippingContact": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Allows you to personalize a delivery address for the ONT. If empty, the address will be that of the installation"
          }
        },
        "options": {
          "target": "com.ovh.packxdsl#PostPackXdslPackNameAddressMoveMoveOfferRequestOptionsList",
          "traits": {
            "smithy.api#documentation": "Options wanted in the new offer"
          }
        },
        "otp": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Do you have an Optical Termination Point (Point de Terminaison Optique) at home ?",
            "smithy.api#required": {}
          }
        },
        "otpReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reference of the Optical Termination Point"
          }
        },
        "productCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Product code, an unique identifier for the product from addressMove/offer",
            "smithy.api#required": {}
          }
        },
        "residence": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Residence identifier, \"null\" if no identifier is available"
          }
        },
        "stair": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stair identifier, \"null\" if no identifier is available"
          }
        },
        "subServicesToDelete": {
          "target": "com.ovh.packxdsl#PostPackXdslPackNameAddressMoveMoveOfferRequestSubServicesToDeleteList",
          "traits": {
            "smithy.api#documentation": "List of domains of services to delete if needed"
          }
        },
        "subServicesToKeep": {
          "target": "com.ovh.packxdsl#PostPackXdslPackNameAddressMoveMoveOfferRequestSubServicesToKeepList",
          "traits": {
            "smithy.api#documentation": "List of domains of services to keep if needed"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.packxdsl#PackXdslAsyncTaskLong": {
      "type": "structure",
      "members": {
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error",
            "com.distilled.openapi#nullable": {}
          }
        },
        "result": {
          "target": "smithy.api#Integer"
        },
        "status": {
          "target": "com.ovh.packxdsl#PackXdslAsyncTaskStatusEnum",
          "traits": {
            "smithy.api#documentation": "Status of the call"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Async task"
      }
    },
    "com.ovh.packxdsl#PackXdslAsyncTaskStatusEnum": {
      "type": "enum",
      "members": {
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AsyncTask status"
      }
    },
    "com.ovh.packxdsl#PostPackXdslPackNameAddressMoveMoveOffer": {
      "type": "operation",
      "input": {
        "target": "com.ovh.packxdsl#PostPackXdslPackNameAddressMoveMoveOfferRequest"
      },
      "output": {
        "target": "com.ovh.packxdsl#PackXdslAsyncTaskLong"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/pack/xdsl/{packName}/addressMove/moveOffer",
          "code": 200
        },
        "smithy.api#documentation": "Move the access to another address"
      }
    },
    "com.ovh.packxdsl#PostPackXdslPackNameAddressMoveOffersRequest": {
      "type": "structure",
      "members": {
        "packName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your pack"
          }
        },
        "eligibilityReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Eligibility reference",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.packxdsl#PackXdslAsyncTaskPackXdslAddressMoveMoveOfferResponse": {
      "type": "structure",
      "members": {
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error",
            "com.distilled.openapi#nullable": {}
          }
        },
        "result": {
          "target": "com.ovh.packxdsl#PackXdslAddressMoveMoveOfferResponse"
        },
        "status": {
          "target": "com.ovh.packxdsl#PackXdslAsyncTaskStatusEnum",
          "traits": {
            "smithy.api#documentation": "Status of the call"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Async task"
      }
    },
    "com.ovh.packxdsl#PackXdslAddressMoveMoveOfferResponse": {
      "type": "structure",
      "members": {
        "offers": {
          "target": "com.ovh.packxdsl#PackXdslAddressMoveMoveOfferResponseOffersList",
          "traits": {
            "smithy.api#documentation": "Array of offers"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of available Move address offer"
      }
    },
    "com.ovh.packxdsl#PackXdslAddressMoveMoveOffer": {
      "type": "structure",
      "members": {
        "contracts": {
          "target": "com.ovh.packxdsl#PackXdslAddressMoveMoveOfferContractsList",
          "traits": {
            "smithy.api#documentation": "Contracts details for this offer"
          }
        },
        "customOntAddress": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Tells if the custom ont address is available on the offer"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the offer"
          }
        },
        "engageMonths": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of months of engagement",
            "com.distilled.openapi#nullable": {}
          }
        },
        "engaged": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Tells if the customer is still engaged"
          }
        },
        "modemOptions": {
          "target": "com.ovh.packxdsl#PackXdslAddressMoveMoveOfferModemOptionsList",
          "traits": {
            "smithy.api#documentation": "List of modems for this offer",
            "com.distilled.openapi#nullable": {}
          }
        },
        "modemReferenceToReturn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Modem reference (Mac or Serial) to be returned",
            "com.distilled.openapi#nullable": {}
          }
        },
        "needModem": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Tells if the offer needs a modem"
          }
        },
        "needNewModem": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Tells if the customer will have to change its modem"
          }
        },
        "offerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the offer"
          }
        },
        "operator": {
          "target": "com.ovh.packxdsl#ConnectivityEligibilityOfferProductProviderEnum",
          "traits": {
            "smithy.api#documentation": "Collection operator (CO)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "options": {
          "target": "com.ovh.packxdsl#PackXdslAddressMoveMoveOfferOptionsList",
          "traits": {
            "smithy.api#documentation": "Available options for the migration"
          }
        },
        "prices": {
          "target": "com.ovh.packxdsl#PackXdslAddressMovePriceOffer",
          "traits": {
            "smithy.api#documentation": "Prices detailed applicable for this offer"
          }
        },
        "productCodes": {
          "target": "com.ovh.packxdsl#PackXdslAddressMoveMoveOfferProductCodesList",
          "traits": {
            "smithy.api#documentation": "List of product from provider available for an offer"
          }
        },
        "subServicesToDelete": {
          "target": "com.ovh.packxdsl#PackXdslAddressMoveMoveOfferSubServicesToDeleteList",
          "traits": {
            "smithy.api#documentation": "List of sub services to delete"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the offer"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Address move offer"
      }
    },
    "com.ovh.packxdsl#OrderContract": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "A contract"
      }
    },
    "com.ovh.packxdsl#PackXdslAddressMoveMoveOfferContractsList": {
      "type": "list",
      "member": {
        "target": "com.ovh.packxdsl#OrderContract"
      },
      "traits": {
        "smithy.api#documentation": "Contracts details for this offer"
      }
    },
    "com.ovh.packxdsl#PackXdslMigrationOfferModemOption": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the modem"
          }
        },
        "price": {
          "target": "com.ovh.packxdsl#OrderPrice",
          "traits": {
            "smithy.api#documentation": "Price of for this modem",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Available modem option for the offer"
      }
    },
    "com.ovh.packxdsl#PackXdslAddressMoveMoveOfferModemOptionsList": {
      "type": "list",
      "member": {
        "target": "com.ovh.packxdsl#PackXdslMigrationOfferModemOption"
      },
      "traits": {
        "smithy.api#documentation": "List of modems for this offer"
      }
    },
    "com.ovh.packxdsl#ConnectivityEligibilityOfferProductProviderEnum": {
      "type": "enum",
      "members": {
        "AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AI"
          }
        },
        "ALTERNATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALTERNATIVE"
          }
        },
        "AX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AX"
          }
        },
        "AXIONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AXIONE"
          }
        },
        "BOUYGTEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOUYGTEL"
          }
        },
        "BOUYGUES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOUYGUES"
          }
        },
        "COVAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COVAGE"
          }
        },
        "FI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FI"
          }
        },
        "KOSC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KOSC"
          }
        },
        "OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OR"
          }
        },
        "ORANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORANGE"
          }
        },
        "OS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS"
          }
        },
        "REFERENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REFERENCE"
          }
        },
        "SFR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SFR"
          }
        },
        "TF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TF"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Offer product provider"
      }
    },
    "com.ovh.packxdsl#PackXdslMigrationOfferAvailableOption": {
      "type": "structure",
      "members": {
        "duration": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of months paid for"
          }
        },
        "included": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of slots included by default in this offer"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the option"
          }
        },
        "optional": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of optional slots that can be puchased"
          }
        },
        "optionalPrice": {
          "target": "com.ovh.packxdsl#OrderPrice",
          "traits": {
            "smithy.api#documentation": "Price of an additional slot. You pay this price everytime the duration is expired",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Available option for the offer"
      }
    },
    "com.ovh.packxdsl#PackXdslAddressMoveMoveOfferOptionsList": {
      "type": "list",
      "member": {
        "target": "com.ovh.packxdsl#PackXdslMigrationOfferAvailableOption"
      },
      "traits": {
        "smithy.api#documentation": "Available options for the migration"
      }
    },
    "com.ovh.packxdsl#PackXdslAddressMovePriceOffer": {
      "type": "structure",
      "members": {
        "creationLineFees": {
          "target": "com.ovh.packxdsl#PackXdslAddressMovePrice",
          "traits": {
            "smithy.api#documentation": "Creation line fees"
          }
        },
        "currentOfferPrice": {
          "target": "com.ovh.packxdsl#PackXdslAddressMovePrice",
          "traits": {
            "smithy.api#documentation": "Price of the current offer"
          }
        },
        "due": {
          "target": "com.ovh.packxdsl#PackXdslAddressMovePrice",
          "traits": {
            "smithy.api#documentation": "Upgrade offer price"
          }
        },
        "firstYearPromo": {
          "target": "com.ovh.packxdsl#PackXdslAddressMovePrice",
          "traits": {
            "smithy.api#documentation": "Subscription price the first year"
          }
        },
        "gtrComfortFees": {
          "target": "com.ovh.packxdsl#PackXdslAddressMovePrice",
          "traits": {
            "smithy.api#documentation": "Install fee for GTR option comfort additional cost",
            "com.distilled.openapi#nullable": {}
          }
        },
        "installFees": {
          "target": "com.ovh.packxdsl#PackXdslAddressMovePrice",
          "traits": {
            "smithy.api#documentation": "Installation fees"
          }
        },
        "modemRental": {
          "target": "com.ovh.packxdsl#PackXdslAddressMovePrice",
          "traits": {
            "smithy.api#documentation": "Price for modem rental"
          }
        },
        "price": {
          "target": "com.ovh.packxdsl#PackXdslAddressMovePrice",
          "traits": {
            "smithy.api#documentation": "Price of the offer"
          }
        },
        "promotion": {
          "target": "com.ovh.packxdsl#PackXdslMigrationAndAddressMovePromotion",
          "traits": {
            "smithy.api#documentation": "Promotion, if available",
            "com.distilled.openapi#nullable": {}
          }
        },
        "providerAI": {
          "target": "com.ovh.packxdsl#PackXdslAddressMovePrice",
          "traits": {
            "smithy.api#documentation": "Subscription price for provider AI additional cost",
            "com.distilled.openapi#nullable": {}
          }
        },
        "providerOrange": {
          "target": "com.ovh.packxdsl#PackXdslAddressMovePrice",
          "traits": {
            "smithy.api#documentation": "Subscription price for provider ORANGE additional cost",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Price details for an offer"
      }
    },
    "com.ovh.packxdsl#PackXdslAddressMovePrice": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the price"
          }
        },
        "price": {
          "target": "com.ovh.packxdsl#OrderPrice",
          "traits": {
            "smithy.api#documentation": "Price of the offer",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Price details for an offer"
      }
    },
    "com.ovh.packxdsl#PackXdslMigrationAndAddressMovePromotion": {
      "type": "structure",
      "members": {
        "endDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Promotion end date, if applicable",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the promotion"
          }
        },
        "installFee": {
          "target": "com.ovh.packxdsl#PackXdslMigrationAndAddressMovePromotionDetails",
          "traits": {
            "smithy.api#documentation": "Details of the promotion for the install fee",
            "com.distilled.openapi#nullable": {}
          }
        },
        "startDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Promotion start date, if applicable",
            "com.distilled.openapi#nullable": {}
          }
        },
        "subscription": {
          "target": "com.ovh.packxdsl#PackXdslMigrationAndAddressMovePromotionDetails",
          "traits": {
            "smithy.api#documentation": "Details of the promotion for the subscription",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Migration or address move offer promotion"
      }
    },
    "com.ovh.packxdsl#PackXdslMigrationAndAddressMovePromotionDetails": {
      "type": "structure",
      "members": {
        "discount": {
          "target": "com.ovh.packxdsl#OrderPrice",
          "traits": {
            "smithy.api#documentation": "Promotion discount"
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Duration of the promotion, if applicable (only for recurrent billing)",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Migration or address move offer promotion details"
      }
    },
    "com.ovh.packxdsl#PackXdslAddressMoveMoveOfferProductCodesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of product from provider available for an offer"
      }
    },
    "com.ovh.packxdsl#PackXdslMigrationSubServiceToDelete": {
      "type": "structure",
      "members": {
        "numberToDelete": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of services to be deleted"
          }
        },
        "services": {
          "target": "com.ovh.packxdsl#PackXdslMigrationSubServiceToDeleteServicesList",
          "traits": {
            "smithy.api#documentation": "List of domains of sub services"
          }
        },
        "type": {
          "target": "com.ovh.packxdsl#PackXdslServiceNameEnum",
          "traits": {
            "smithy.api#documentation": "Type of service to be deleted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sub service to delete"
      }
    },
    "com.ovh.packxdsl#PackXdslMigrationSubServiceToDeleteServicesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of domains of sub services"
      }
    },
    "com.ovh.packxdsl#PackXdslAddressMoveMoveOfferSubServicesToDeleteList": {
      "type": "list",
      "member": {
        "target": "com.ovh.packxdsl#PackXdslMigrationSubServiceToDelete"
      },
      "traits": {
        "smithy.api#documentation": "List of sub services to delete"
      }
    },
    "com.ovh.packxdsl#PackXdslAddressMoveMoveOfferResponseOffersList": {
      "type": "list",
      "member": {
        "target": "com.ovh.packxdsl#PackXdslAddressMoveMoveOffer"
      },
      "traits": {
        "smithy.api#documentation": "Array of offers"
      }
    },
    "com.ovh.packxdsl#PostPackXdslPackNameAddressMoveOffers": {
      "type": "operation",
      "input": {
        "target": "com.ovh.packxdsl#PostPackXdslPackNameAddressMoveOffersRequest"
      },
      "output": {
        "target": "com.ovh.packxdsl#PackXdslAsyncTaskPackXdslAddressMoveMoveOfferResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/pack/xdsl/{packName}/addressMove/offers",
          "code": 200
        },
        "smithy.api#documentation": "Get the possibilities of address move offers available"
      }
    },
    "com.ovh.packxdsl#PostPackXdslPackNameAddressMoveServicesToDeleteUnpackTermsRequestOptionsList": {
      "type": "list",
      "member": {
        "target": "com.ovh.packxdsl#PackXdslMigrationOfferOption"
      },
      "traits": {
        "smithy.api#documentation": "Options wanted in the new offer"
      }
    },
    "com.ovh.packxdsl#PostPackXdslPackNameAddressMoveServicesToDeleteUnpackTermsRequest": {
      "type": "structure",
      "members": {
        "packName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your pack"
          }
        },
        "eligibilityReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Eligibility reference",
            "smithy.api#required": {}
          }
        },
        "offerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reference of the new offer",
            "smithy.api#required": {}
          }
        },
        "options": {
          "target": "com.ovh.packxdsl#PostPackXdslPackNameAddressMoveServicesToDeleteUnpackTermsRequestOptionsList",
          "traits": {
            "smithy.api#documentation": "Options wanted in the new offer"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.packxdsl#PackXdslMigrationSubServicesDetailsToDelete": {
      "type": "structure",
      "members": {
        "numberToDelete": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of services to be deleted"
          }
        },
        "services": {
          "target": "com.ovh.packxdsl#PackXdslMigrationSubServicesDetailsToDeleteServicesList",
          "traits": {
            "smithy.api#documentation": "List of domains of sub services with unpack terms"
          }
        },
        "type": {
          "target": "com.ovh.packxdsl#PackXdslServiceNameEnum",
          "traits": {
            "smithy.api#documentation": "Type of service to be deleted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sub services to delete with unpack terms"
      }
    },
    "com.ovh.packxdsl#PackXdslMigrationSubServiceDetails": {
      "type": "structure",
      "members": {
        "isAllowed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Tells whether or not the service can be unpacked"
          }
        },
        "price": {
          "target": "com.ovh.packxdsl#OrderPrice",
          "traits": {
            "smithy.api#documentation": "Price bill on the unpack action"
          }
        },
        "renewPeriod": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Renew period in month of the service"
          }
        },
        "renewPrice": {
          "target": "com.ovh.packxdsl#OrderPrice",
          "traits": {
            "smithy.api#documentation": "The price it will cost when it will be renewed"
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "sub service name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sub service with unpack terms details"
      }
    },
    "com.ovh.packxdsl#PackXdslMigrationSubServicesDetailsToDeleteServicesList": {
      "type": "list",
      "member": {
        "target": "com.ovh.packxdsl#PackXdslMigrationSubServiceDetails"
      },
      "traits": {
        "smithy.api#documentation": "List of domains of sub services with unpack terms"
      }
    },
    "com.ovh.packxdsl#PostPackXdslPackNameAddressMoveServicesToDeleteUnpackTermsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.packxdsl#PackXdslMigrationSubServicesDetailsToDelete"
      },
      "traits": {}
    },
    "com.ovh.packxdsl#PostPackXdslPackNameAddressMoveServicesToDeleteUnpackTermsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.packxdsl#PostPackXdslPackNameAddressMoveServicesToDeleteUnpackTermsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.packxdsl#PostPackXdslPackNameAddressMoveServicesToDeleteUnpackTerms": {
      "type": "operation",
      "input": {
        "target": "com.ovh.packxdsl#PostPackXdslPackNameAddressMoveServicesToDeleteUnpackTermsRequest"
      },
      "output": {
        "target": "com.ovh.packxdsl#PostPackXdslPackNameAddressMoveServicesToDeleteUnpackTermsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/pack/xdsl/{packName}/addressMove/servicesToDeleteUnpackTerms",
          "code": 200
        },
        "smithy.api#documentation": "Calculate services to delete with unpack terms for new offer and options"
      }
    },
    "com.ovh.packxdsl#GetPackXdslPackNameCanCancelResiliationRequest": {
      "type": "structure",
      "members": {
        "packName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your pack"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.packxdsl#GetPackXdslPackNameCanCancelResiliationResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.packxdsl#GetPackXdslPackNameCanCancelResiliation": {
      "type": "operation",
      "input": {
        "target": "com.ovh.packxdsl#GetPackXdslPackNameCanCancelResiliationRequest"
      },
      "output": {
        "target": "com.ovh.packxdsl#GetPackXdslPackNameCanCancelResiliationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/pack/xdsl/{packName}/canCancelResiliation",
          "code": 200
        },
        "smithy.api#documentation": "Check if the resiliation can be cancelled"
      }
    },
    "com.ovh.packxdsl#PostPackXdslPackNameCancelResiliationRequest": {
      "type": "structure",
      "members": {
        "packName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your pack"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.packxdsl#PostPackXdslPackNameCancelResiliation": {
      "type": "operation",
      "input": {
        "target": "com.ovh.packxdsl#PostPackXdslPackNameCancelResiliationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/pack/xdsl/{packName}/cancelResiliation",
          "code": 200
        },
        "smithy.api#documentation": "Cancel the ongoing resiliation"
      }
    },
    "com.ovh.packxdsl#PostPackXdslPackNameChangeContactRequest": {
      "type": "structure",
      "members": {
        "packName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your pack"
          }
        },
        "contactAdmin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as admin contact"
          }
        },
        "contactBilling": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as billing contact"
          }
        },
        "contactTech": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as tech contact"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.packxdsl#PostPackXdslPackNameChangeContactResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.packxdsl#PostPackXdslPackNameChangeContactResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.packxdsl#PostPackXdslPackNameChangeContactResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.packxdsl#PostPackXdslPackNameChangeContact": {
      "type": "operation",
      "input": {
        "target": "com.ovh.packxdsl#PostPackXdslPackNameChangeContactRequest"
      },
      "output": {
        "target": "com.ovh.packxdsl#PostPackXdslPackNameChangeContactResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/pack/xdsl/{packName}/changeContact",
          "code": 200
        },
        "smithy.api#documentation": "Launch a contact change procedure"
      }
    },
    "com.ovh.packxdsl#GetPackXdslPackNameContactOwnerRequest": {
      "type": "structure",
      "members": {
        "packName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your pack"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.packxdsl#PackXdslContactInfos": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "contact address",
            "com.distilled.openapi#nullable": {}
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "contact city",
            "com.distilled.openapi#nullable": {}
          }
        },
        "country": {
          "target": "com.ovh.packxdsl#NichandleCountryEnum",
          "traits": {
            "smithy.api#documentation": "contact country"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "contact email"
          }
        },
        "firstname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "contact firstname",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "contact name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organisation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "contact organisation",
            "com.distilled.openapi#nullable": {}
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "contact phone",
            "com.distilled.openapi#nullable": {}
          }
        },
        "phoneCountry": {
          "target": "com.ovh.packxdsl#NichandleCountryEnum",
          "traits": {
            "smithy.api#documentation": "contact phoneCountry",
            "com.distilled.openapi#nullable": {}
          }
        },
        "zip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "contact zip",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the contact"
      }
    },
    "com.ovh.packxdsl#NichandleCountryEnum": {
      "type": "enum",
      "members": {
        "AC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AC"
          }
        },
        "AD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD"
          }
        },
        "AE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AE"
          }
        },
        "AF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AF"
          }
        },
        "AG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AG"
          }
        },
        "AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AI"
          }
        },
        "AL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AL"
          }
        },
        "AM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AM"
          }
        },
        "AO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AO"
          }
        },
        "AQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AQ"
          }
        },
        "AR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AR"
          }
        },
        "AS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AS"
          }
        },
        "AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AT"
          }
        },
        "AU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AU"
          }
        },
        "AW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AW"
          }
        },
        "AX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AX"
          }
        },
        "AZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZ"
          }
        },
        "BA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BA"
          }
        },
        "BB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BB"
          }
        },
        "BD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BD"
          }
        },
        "BE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BE"
          }
        },
        "BF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BF"
          }
        },
        "BG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BG"
          }
        },
        "BH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BH"
          }
        },
        "BI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BI"
          }
        },
        "BJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BJ"
          }
        },
        "BL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BL"
          }
        },
        "BM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BM"
          }
        },
        "BN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BN"
          }
        },
        "BO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BO"
          }
        },
        "BQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BQ"
          }
        },
        "BR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BR"
          }
        },
        "BS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BS"
          }
        },
        "BT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BT"
          }
        },
        "BW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BW"
          }
        },
        "BY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BY"
          }
        },
        "BZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BZ"
          }
        },
        "CA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CA"
          }
        },
        "CC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CC"
          }
        },
        "CD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CD"
          }
        },
        "CF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CF"
          }
        },
        "CG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CG"
          }
        },
        "CH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CH"
          }
        },
        "CI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CI"
          }
        },
        "CK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CK"
          }
        },
        "CL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CL"
          }
        },
        "CM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CM"
          }
        },
        "CN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CN"
          }
        },
        "CO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CO"
          }
        },
        "CR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CR"
          }
        },
        "CU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CU"
          }
        },
        "CV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CV"
          }
        },
        "CW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CW"
          }
        },
        "CX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CX"
          }
        },
        "CY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CY"
          }
        },
        "CZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CZ"
          }
        },
        "DE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DE"
          }
        },
        "DG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DG"
          }
        },
        "DJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DJ"
          }
        },
        "DK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DK"
          }
        },
        "DM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DM"
          }
        },
        "DO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DO"
          }
        },
        "DZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DZ"
          }
        },
        "EA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EA"
          }
        },
        "EC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC"
          }
        },
        "EE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EE"
          }
        },
        "EG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EG"
          }
        },
        "EH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EH"
          }
        },
        "ER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ER"
          }
        },
        "ES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ES"
          }
        },
        "ET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ET"
          }
        },
        "FI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FI"
          }
        },
        "FJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FJ"
          }
        },
        "FK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FK"
          }
        },
        "FM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FM"
          }
        },
        "FO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FO"
          }
        },
        "FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FR"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GA"
          }
        },
        "GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GB"
          }
        },
        "GD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GD"
          }
        },
        "GE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GE"
          }
        },
        "GF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GF"
          }
        },
        "GG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GG"
          }
        },
        "GH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GH"
          }
        },
        "GI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GI"
          }
        },
        "GL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GL"
          }
        },
        "GM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GM"
          }
        },
        "GN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GN"
          }
        },
        "GP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GP"
          }
        },
        "GQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GQ"
          }
        },
        "GR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GR"
          }
        },
        "GS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GS"
          }
        },
        "GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GT"
          }
        },
        "GU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GU"
          }
        },
        "GW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GW"
          }
        },
        "GY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GY"
          }
        },
        "HK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HK"
          }
        },
        "HN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HN"
          }
        },
        "HR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HR"
          }
        },
        "HT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HT"
          }
        },
        "HU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HU"
          }
        },
        "IC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IC"
          }
        },
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ID"
          }
        },
        "IE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IE"
          }
        },
        "IL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IL"
          }
        },
        "IM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IM"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN"
          }
        },
        "IO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IO"
          }
        },
        "IQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IQ"
          }
        },
        "IR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IR"
          }
        },
        "IS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IS"
          }
        },
        "IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IT"
          }
        },
        "JE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JE"
          }
        },
        "JM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JM"
          }
        },
        "JO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JO"
          }
        },
        "JP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JP"
          }
        },
        "KE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KE"
          }
        },
        "KG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KG"
          }
        },
        "KH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KH"
          }
        },
        "KI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KI"
          }
        },
        "KM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KM"
          }
        },
        "KN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KN"
          }
        },
        "KP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KP"
          }
        },
        "KR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KR"
          }
        },
        "KW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KW"
          }
        },
        "KY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KY"
          }
        },
        "KZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KZ"
          }
        },
        "LA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LA"
          }
        },
        "LB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LB"
          }
        },
        "LC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LC"
          }
        },
        "LI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LI"
          }
        },
        "LK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LK"
          }
        },
        "LR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LR"
          }
        },
        "LS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LS"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LT"
          }
        },
        "LU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LU"
          }
        },
        "LV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LV"
          }
        },
        "LY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LY"
          }
        },
        "MA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MA"
          }
        },
        "MC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MC"
          }
        },
        "MD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MD"
          }
        },
        "ME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ME"
          }
        },
        "MF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MF"
          }
        },
        "MG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MG"
          }
        },
        "MH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MH"
          }
        },
        "MK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MK"
          }
        },
        "ML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ML"
          }
        },
        "MM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MM"
          }
        },
        "MN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MN"
          }
        },
        "MO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MO"
          }
        },
        "MP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MP"
          }
        },
        "MQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MQ"
          }
        },
        "MR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MR"
          }
        },
        "MS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MS"
          }
        },
        "MT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MT"
          }
        },
        "MU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MU"
          }
        },
        "MV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MV"
          }
        },
        "MW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MW"
          }
        },
        "MX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MX"
          }
        },
        "MY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MY"
          }
        },
        "MZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MZ"
          }
        },
        "NA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NA"
          }
        },
        "NC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NC"
          }
        },
        "NE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NE"
          }
        },
        "NF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NF"
          }
        },
        "NG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NG"
          }
        },
        "NI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NI"
          }
        },
        "NL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NL"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO"
          }
        },
        "NP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NP"
          }
        },
        "NR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NR"
          }
        },
        "NU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NU"
          }
        },
        "NZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NZ"
          }
        },
        "OM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OM"
          }
        },
        "PA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PA"
          }
        },
        "PE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PE"
          }
        },
        "PF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PF"
          }
        },
        "PG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PG"
          }
        },
        "PH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PH"
          }
        },
        "PK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PK"
          }
        },
        "PL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PL"
          }
        },
        "PM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PM"
          }
        },
        "PN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PN"
          }
        },
        "PR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PR"
          }
        },
        "PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PS"
          }
        },
        "PT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT"
          }
        },
        "PW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PW"
          }
        },
        "PY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PY"
          }
        },
        "QA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QA"
          }
        },
        "RE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RE"
          }
        },
        "RO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RO"
          }
        },
        "RS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RS"
          }
        },
        "RU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RU"
          }
        },
        "RW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RW"
          }
        },
        "SA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SA"
          }
        },
        "SB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SB"
          }
        },
        "SC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SC"
          }
        },
        "SD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SD"
          }
        },
        "SE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SE"
          }
        },
        "SG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SG"
          }
        },
        "SH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SH"
          }
        },
        "SI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SI"
          }
        },
        "SJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SJ"
          }
        },
        "SK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SK"
          }
        },
        "SL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SL"
          }
        },
        "SM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SM"
          }
        },
        "SN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SN"
          }
        },
        "SO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SO"
          }
        },
        "SR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SR"
          }
        },
        "SS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SS"
          }
        },
        "ST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ST"
          }
        },
        "SV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SV"
          }
        },
        "SX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SX"
          }
        },
        "SY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SY"
          }
        },
        "SZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SZ"
          }
        },
        "TA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TA"
          }
        },
        "TC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TC"
          }
        },
        "TD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TD"
          }
        },
        "TF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TF"
          }
        },
        "TG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TG"
          }
        },
        "TH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TH"
          }
        },
        "TJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TJ"
          }
        },
        "TK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TK"
          }
        },
        "TL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TL"
          }
        },
        "TM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TM"
          }
        },
        "TN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TN"
          }
        },
        "TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TO"
          }
        },
        "TR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TR"
          }
        },
        "TT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TT"
          }
        },
        "TV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TV"
          }
        },
        "TW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TW"
          }
        },
        "TZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TZ"
          }
        },
        "UA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UA"
          }
        },
        "UG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UG"
          }
        },
        "UM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UM"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "US"
          }
        },
        "UY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UY"
          }
        },
        "UZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UZ"
          }
        },
        "VA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VA"
          }
        },
        "VC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VC"
          }
        },
        "VE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VE"
          }
        },
        "VG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VG"
          }
        },
        "VI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VI"
          }
        },
        "VN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VN"
          }
        },
        "VU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VU"
          }
        },
        "WF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WF"
          }
        },
        "WS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WS"
          }
        },
        "XK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XK"
          }
        },
        "YE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YE"
          }
        },
        "YT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YT"
          }
        },
        "ZA": {
[...]
