{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.ovh.sms#IamResourceTagFilterInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Resource tag filter"
      }
    },
    "com.ovh.sms#GetSmsRequestIamTagsValueList": {
      "type": "list",
      "member": {
        "target": "com.ovh.sms#IamResourceTagFilterInput"
      },
      "traits": {}
    },
    "com.ovh.sms#GetSmsRequestIamTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.ovh.sms#GetSmsRequestIamTagsValueList"
      },
      "traits": {}
    },
    "com.ovh.sms#GetSmsRequest": {
      "type": "structure",
      "members": {
        "iamTags": {
          "target": "com.ovh.sms#GetSmsRequestIamTagsMap",
          "traits": {
            "smithy.api#httpQuery": "iamTags",
            "smithy.api#documentation": "Filter resources on IAM tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.sms#GetSmsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.sms#GetSmsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.sms#GetSmsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.sms#GetSms": {
      "type": "operation",
      "input": {
        "target": "com.ovh.sms#GetSmsRequest"
      },
      "output": {
        "target": "com.ovh.sms#GetSmsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sms",
          "code": 200
        },
        "smithy.api#documentation": "List available services"
      }
    },
    "com.ovh.sms#SmsTypeSenderEnum": {
      "type": "enum",
      "members": {
        "ALPHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alpha"
          }
        },
        "NUMERIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "numeric"
          }
        },
        "SHORTCODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shortcode"
          }
        },
        "VIRTUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "virtual"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All existing types for a given sender"
      }
    },
    "com.ovh.sms#PostSmsEstimateRequest": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The message to send",
            "smithy.api#required": {}
          }
        },
        "noStopClause": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Do not display STOP clause in the message, this requires that this is not an advertising message",
            "smithy.api#required": {}
          }
        },
        "senderType": {
          "target": "com.ovh.sms#SmsTypeSenderEnum",
          "traits": {
            "smithy.api#documentation": "Sender type that will be used to send the message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.sms#SmsJobEstimate": {
      "type": "structure",
      "members": {
        "characters": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of characters the message contains, including invisible escaped characters"
          }
        },
        "charactersClass": {
          "target": "com.ovh.sms#SmsEncodingEnum",
          "traits": {
            "smithy.api#documentation": "The characters class that will be used to send the SMS, depending on characters in message"
          }
        },
        "maxCharactersPerPart": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of characters every SMS part can contain, depending on characters class and quantity of parts"
          }
        },
        "parts": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The quantity of SMS parts the message will be split in"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A structure describing the encoding, length and number of SMS parts of a text message"
      }
    },
    "com.ovh.sms#SmsEncodingEnum": {
      "type": "enum",
      "members": {
        "_7BITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "7bits"
          }
        },
        "UNICODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unicode"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The SMS available characters class"
      }
    },
    "com.ovh.sms#PostSmsEstimate": {
      "type": "operation",
      "input": {
        "target": "com.ovh.sms#PostSmsEstimateRequest"
      },
      "output": {
        "target": "com.ovh.sms#SmsJobEstimate"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/sms/estimate",
          "code": 200
        },
        "smithy.api#documentation": "Get the encoding, length and number of SMS parts of a text message"
      }
    },
    "com.ovh.sms#GetSmsPttsRequest": {
      "type": "structure",
      "members": {
        "ptt": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "ptt",
            "smithy.api#required": {},
            "smithy.api#documentation": "The premium transaction tracking code"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.sms#SmsPttDetails": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ptt informations"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ptt short description"
          }
        },
        "duration": {
          "target": "com.ovh.sms#SmsPttDurationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Ptt volatility type"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A structure describing ptt details"
      }
    },
    "com.ovh.sms#SmsPttDurationTypeEnum": {
      "type": "enum",
      "members": {
        "INDETERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "indeterminated"
          }
        },
        "PERMANENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "permanent"
          }
        },
        "TEMPORARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "temporary"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All typology of ptt duration"
      }
    },
    "com.ovh.sms#GetSmsPtts": {
      "type": "operation",
      "input": {
        "target": "com.ovh.sms#GetSmsPttsRequest"
      },
      "output": {
        "target": "com.ovh.sms#SmsPttDetails"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sms/ptts",
          "code": 200
        },
        "smithy.api#documentation": "Get informations about the given ptt code"
      }
    },
    "com.ovh.sms#SmsBillingCountryEnum": {
      "type": "enum",
      "members": {
        "ES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "es"
          }
        },
        "FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fr"
          }
        },
        "GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gb"
          }
        },
        "IE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ie"
          }
        },
        "IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "it"
          }
        },
        "PL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pl"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Countries where we sell SMS credits"
      }
    },
    "com.ovh.sms#SmsCountryEnum": {
      "type": "enum",
      "members": {
        "AD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ad"
          }
        },
        "AE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ae"
          }
        },
        "AF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "af"
          }
        },
        "AG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ag"
          }
        },
        "AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai"
          }
        },
        "AL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "al"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "AM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "am"
          }
        },
        "AN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "an"
          }
        },
        "AO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ao"
          }
        },
        "AR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ar"
          }
        },
        "AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "at"
          }
        },
        "AU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "au"
          }
        },
        "AW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aw"
          }
        },
        "AZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "az"
          }
        },
        "BA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ba"
          }
        },
        "BB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bb"
          }
        },
        "BD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bd"
          }
        },
        "BE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "be"
          }
        },
        "BF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bf"
          }
        },
        "BG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bg"
          }
        },
        "BH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bh"
          }
        },
        "BI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bi"
          }
        },
        "BJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bj"
          }
        },
        "BM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bm"
          }
        },
        "BN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bn"
          }
        },
        "BO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bo"
          }
        },
        "BR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "br"
          }
        },
        "BS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bs"
          }
        },
        "BT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bt"
          }
        },
        "BW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bw"
          }
        },
        "BY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "by"
          }
        },
        "BZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bz"
          }
        },
        "CA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ca"
          }
        },
        "CD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cd"
          }
        },
        "CF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cf"
          }
        },
        "CG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cg"
          }
        },
        "CH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ch"
          }
        },
        "CI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ci"
          }
        },
        "CK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ck"
          }
        },
        "CL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cl"
          }
        },
        "CM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cm"
          }
        },
        "CN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cn"
          }
        },
        "CO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "co"
          }
        },
        "CR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cr"
          }
        },
        "CU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cu"
          }
        },
        "CV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cv"
          }
        },
        "CY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cy"
          }
        },
        "CZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cz"
          }
        },
        "DE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "de"
          }
        },
        "DK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dk"
          }
        },
        "DM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dm"
          }
        },
        "DZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dz"
          }
        },
        "EC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ec"
          }
        },
        "EE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ee"
          }
        },
        "EG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eg"
          }
        },
        "ES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "es"
          }
        },
        "ET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "et"
          }
        },
        "FI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fi"
          }
        },
        "FJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fj"
          }
        },
        "FK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fk"
          }
        },
        "FO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fo"
          }
        },
        "FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fr"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ga"
          }
        },
        "GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gb"
          }
        },
        "GD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gd"
          }
        },
        "GE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ge"
          }
        },
        "GF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gf"
          }
        },
        "GH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gh"
          }
        },
        "GI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gi"
          }
        },
        "GL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gl"
          }
        },
        "GM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gm"
          }
        },
        "GN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gn"
          }
        },
        "GP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gp"
          }
        },
        "GQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gq"
          }
        },
        "GR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gr"
          }
        },
        "GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gt"
          }
        },
        "GU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gu"
          }
        },
        "GW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gw"
          }
        },
        "GY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gy"
          }
        },
        "HK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hk"
          }
        },
        "HN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hn"
          }
        },
        "HR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hr"
          }
        },
        "HT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ht"
          }
        },
        "HU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hu"
          }
        },
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        },
        "IE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ie"
          }
        },
        "IL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "il"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in"
          }
        },
        "IO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "io"
          }
        },
        "IQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "iq"
          }
        },
        "IR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ir"
          }
        },
        "IS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is"
          }
        },
        "IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "it"
          }
        },
        "JM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jm"
          }
        },
        "JO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jo"
          }
        },
        "JP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jp"
          }
        },
        "KE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ke"
          }
        },
        "KG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kg"
          }
        },
        "KH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kh"
          }
        },
        "KM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "km"
          }
        },
        "KN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kn"
          }
        },
        "KR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kr"
          }
        },
        "KW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kw"
          }
        },
        "KY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ky"
          }
        },
        "KZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kz"
          }
        },
        "LA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "la"
          }
        },
        "LB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lb"
          }
        },
        "LC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lc"
          }
        },
        "LI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "li"
          }
        },
        "LK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lk"
          }
        },
        "LR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lr"
          }
        },
        "LS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ls"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lt"
          }
        },
        "LU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lu"
          }
        },
        "LV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lv"
          }
        },
        "LY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ly"
          }
        },
        "MA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ma"
          }
        },
        "MD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "md"
          }
        },
        "ME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "me"
          }
        },
        "MG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mg"
          }
        },
        "MK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mk"
          }
        },
        "ML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml"
          }
        },
        "MN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mn"
          }
        },
        "MO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mo"
          }
        },
        "MQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mq"
          }
        },
        "MR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mr"
          }
        },
        "MS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ms"
          }
        },
        "MT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mt"
          }
        },
        "MU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mu"
          }
        },
        "MV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mv"
          }
        },
        "MW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mw"
          }
        },
        "MX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mx"
          }
        },
        "MY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "my"
          }
        },
        "MZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mz"
          }
        },
        "NA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "na"
          }
        },
        "NC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nc"
          }
        },
        "NE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ne"
          }
        },
        "NG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ng"
          }
        },
        "NI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ni"
          }
        },
        "NL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nl"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no"
          }
        },
        "NP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "np"
          }
        },
        "NZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nz"
          }
        },
        "OM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "om"
          }
        },
        "PA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pa"
          }
        },
        "PE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pe"
          }
        },
        "PF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pf"
          }
        },
        "PG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pg"
          }
        },
        "PH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ph"
          }
        },
        "PK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pk"
          }
        },
        "PL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pl"
          }
        },
        "PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ps"
          }
        },
        "PT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pt"
          }
        },
        "PY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "py"
          }
        },
        "QA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "qa"
          }
        },
        "RE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "re"
          }
        },
        "RO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ro"
          }
        },
        "RS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rs"
          }
        },
        "RU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ru"
          }
        },
        "RW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rw"
          }
        },
        "SA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sa"
          }
        },
        "SB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sb"
          }
        },
        "SC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sc"
          }
        },
        "SD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sd"
          }
        },
        "SE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "se"
          }
        },
        "SG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sg"
          }
        },
        "SI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "si"
          }
        },
        "SK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sk"
          }
        },
        "SL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sl"
          }
        },
        "SM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sm"
          }
        },
        "SN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sn"
          }
        },
        "SO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "so"
          }
        },
        "SR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sr"
          }
        },
        "ST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "st"
          }
        },
        "SV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sv"
          }
        },
        "SY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sy"
          }
        },
        "SZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sz"
          }
        },
        "TC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tc"
          }
        },
        "TD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "td"
          }
        },
        "TG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tg"
          }
        },
        "TH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "th"
          }
        },
        "TJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tj"
          }
        },
        "TL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tl"
          }
        },
        "TM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tm"
          }
        },
        "TN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tn"
          }
        },
        "TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "to"
          }
        },
        "TR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tr"
          }
        },
        "TT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tt"
          }
        },
        "TW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tw"
          }
        },
        "TZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tz"
          }
        },
        "UA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ua"
          }
        },
        "UG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ug"
          }
        },
        "US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us"
          }
        },
        "UY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uy"
          }
        },
        "UZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uz"
          }
        },
        "VC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vc"
          }
        },
        "VE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ve"
          }
        },
        "VG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vg"
          }
        },
        "VI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vi"
          }
        },
        "VN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vn"
          }
        },
        "VU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vu"
          }
        },
        "WS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ws"
          }
        },
        "YE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ye"
          }
        },
        "YT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yt"
          }
        },
        "ZA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "za"
          }
        },
        "ZM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zm"
          }
        },
        "ZW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zw"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All country suffixes accessible for sms services and \"all\" available"
      }
    },
    "com.ovh.sms#GetSmsRatesDestinationsRequest": {
      "type": "structure",
      "members": {
        "billingCountry": {
          "target": "com.ovh.sms#SmsBillingCountryEnum",
          "traits": {
            "smithy.api#httpQuery": "billingCountry",
            "smithy.api#documentation": "Country where you buy credits"
          }
        },
        "country": {
          "target": "com.ovh.sms#SmsCountryEnum",
          "traits": {
            "smithy.api#httpQuery": "country",
            "smithy.api#required": {},
            "smithy.api#documentation": "Country where you send SMS"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.sms#SmsDestinationRates": {
      "type": "structure",
      "members": {
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The country full name"
          }
        },
        "countryCode": {
          "target": "com.ovh.sms#SmsCountryEnum",
          "traits": {
            "smithy.api#documentation": "The country 2-letters code"
          }
        },
        "credit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Credits consumed by sending one SMS towards the given destination"
          }
        },
        "price": {
          "target": "com.ovh.sms#OrderPrice",
          "traits": {
            "smithy.api#documentation": "Price of one SMS sent towards the given destination"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Rates of a given destination"
      }
    },
    "com.ovh.sms#OrderPrice": {
      "type": "structure",
      "members": {
        "currencyCode": {
          "target": "com.ovh.sms#OrderCurrencyCodeEnum"
        },
        "text": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {
        "smithy.api#documentation": "Price with it's currency and textual representation"
      }
    },
    "com.ovh.sms#OrderCurrencyCodeEnum": {
      "type": "enum",
      "members": {
        "AUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUD"
          }
        },
        "CAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAD"
          }
        },
        "CZK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CZK"
          }
        },
        "EUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EUR"
          }
        },
        "GBP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GBP"
          }
        },
        "INR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INR"
          }
        },
        "LTL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LTL"
          }
        },
        "MAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAD"
          }
        },
        "N_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N/A"
          }
        },
        "PLN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLN"
          }
        },
        "SGD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SGD"
          }
        },
        "TND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TND"
          }
        },
        "USD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USD"
          }
        },
        "XOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XOF"
          }
        },
        "POINTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "points"
          }
        }
      },
      "traits": {}
    },
    "com.ovh.sms#GetSmsRatesDestinations": {
      "type": "operation",
      "input": {
        "target": "com.ovh.sms#GetSmsRatesDestinationsRequest"
      },
      "output": {
        "target": "com.ovh.sms#SmsDestinationRates"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sms/rates/destinations",
          "code": 200
        },
        "smithy.api#documentation": "Get the prices and credits to send a SMS towards given country"
      }
    },
    "com.ovh.sms#GetSmsRatesPacksRequest": {
      "type": "structure",
      "members": {
        "billingCountry": {
          "target": "com.ovh.sms#SmsBillingCountryEnum",
          "traits": {
            "smithy.api#httpQuery": "billingCountry",
            "smithy.api#documentation": "Country where you buy credits"
          }
        },
        "country": {
          "target": "com.ovh.sms#SmsCountryEnum",
          "traits": {
            "smithy.api#httpQuery": "country",
            "smithy.api#required": {},
            "smithy.api#documentation": "Country where you send SMS"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.sms#SmsPackDetails": {
      "type": "structure",
      "members": {
        "countryCode": {
          "target": "com.ovh.sms#SmsCountryEnum",
          "traits": {
            "smithy.api#documentation": "Destination country code"
          }
        },
        "credit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Credits consumed by sending one SMS towards the given destination"
          }
        },
        "creditPrice": {
          "target": "com.ovh.sms#OrderPrice",
          "traits": {
            "smithy.api#documentation": "Price of one credit, including pack's promotion"
          }
        },
        "creditQuantityMax": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum quantity (excluded) of credit to order to have this price",
            "com.distilled.openapi#nullable": {}
          }
        },
        "creditQuantityMin": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum quantity (included) of credit to order to have this price"
          }
        },
        "discountCreditPrice": {
          "target": "com.ovh.sms#OrderPrice",
          "traits": {
            "smithy.api#documentation": "Price of one credit, during a promotional event",
            "com.distilled.openapi#nullable": {}
          }
        },
        "discountPercentage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Percentage applied as part of a promotional event",
            "com.distilled.openapi#nullable": {}
          }
        },
        "discountSmsPrice": {
          "target": "com.ovh.sms#OrderPrice",
          "traits": {
            "smithy.api#documentation": "Price of one SMS, during a promotional event",
            "com.distilled.openapi#nullable": {}
          }
        },
        "smsPrice": {
          "target": "com.ovh.sms#OrderPrice",
          "traits": {
            "smithy.api#documentation": "Price of one SMS sent towards the given destination, including pack's promotion"
          }
        },
        "smsQuantityMax": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum quantity (excluded) of SMS you can obtain with this pack",
            "com.distilled.openapi#nullable": {}
          }
        },
        "smsQuantityMin": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum quantity (included) of SMS you can obtain with this pack"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about a SMS pack"
      }
    },
    "com.ovh.sms#GetSmsRatesPacksResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.sms#SmsPackDetails"
      },
      "traits": {}
    },
    "com.ovh.sms#GetSmsRatesPacksResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.sms#GetSmsRatesPacksResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.sms#GetSmsRatesPacks": {
      "type": "operation",
      "input": {
        "target": "com.ovh.sms#GetSmsRatesPacksRequest"
      },
      "output": {
        "target": "com.ovh.sms#GetSmsRatesPacksResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sms/rates/packs",
          "code": 200
        },
        "smithy.api#documentation": "Get the prices and credits of all the SMS packs with informations about the destination country"
      }
    },
    "com.ovh.sms#GetSmsVirtualNumbersRequestIamTagsValueList": {
      "type": "list",
      "member": {
        "target": "com.ovh.sms#IamResourceTagFilterInput"
      },
      "traits": {}
    },
    "com.ovh.sms#GetSmsVirtualNumbersRequestIamTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.ovh.sms#GetSmsVirtualNumbersRequestIamTagsValueList"
      },
      "traits": {}
    },
    "com.ovh.sms#GetSmsVirtualNumbersRequest": {
      "type": "structure",
      "members": {
        "iamTags": {
          "target": "com.ovh.sms#GetSmsVirtualNumbersRequestIamTagsMap",
          "traits": {
            "smithy.api#httpQuery": "iamTags",
            "smithy.api#documentation": "Filter resources on IAM tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.sms#GetSmsVirtualNumbersResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.sms#GetSmsVirtualNumbersResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.sms#GetSmsVirtualNumbersResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.sms#GetSmsVirtualNumbers": {
      "type": "operation",
      "input": {
        "target": "com.ovh.sms#GetSmsVirtualNumbersRequest"
      },
      "output": {
        "target": "com.ovh.sms#GetSmsVirtualNumbersResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sms/virtualNumbers",
          "code": 200
        },
        "smithy.api#documentation": "Your virtual numbers"
      }
    },
    "com.ovh.sms#GetSmsVirtualNumbersNumberRequest": {
      "type": "structure",
      "members": {
        "number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Your virtual number"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.sms#SmsVirtualNumberGenericServiceWithIAM": {
      "type": "structure",
      "members": {
        "countryCode": {
          "target": "com.ovh.sms#SmsVirtualNumberIsoCountryCodeEnum",
          "traits": {
            "smithy.api#documentation": "The ISO formated country code of the number"
          }
        },
        "iam": {
          "target": "com.ovh.sms#IamResourceMetadata",
          "traits": {
            "smithy.api#documentation": "IAM resource metadata",
            "com.distilled.openapi#nullable": {}
          }
        },
        "number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The virtual number"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Virtual numbers"
      }
    },
    "com.ovh.sms#SmsVirtualNumberIsoCountryCodeEnum": {
      "type": "enum",
      "members": {
        "BE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "be"
          }
        },
        "CH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ch"
          }
        },
        "DE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "de"
          }
        },
        "ES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "es"
          }
        },
        "FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fr"
          }
        },
        "UK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uk"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ISO formated country code of the number"
      }
    },
    "com.ovh.sms#IamResourceMetadata": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource display name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the resource"
          }
        },
        "tags": {
          "target": "com.ovh.sms#IamResourceMetadataTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:",
            "com.distilled.openapi#nullable": {}
          }
        },
        "urn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique resource name used in policies"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IAM resource metadata embedded in services models"
      }
    },
    "com.ovh.sms#IamResourceMetadataTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:"
      }
    },
    "com.ovh.sms#GetSmsVirtualNumbersNumber": {
      "type": "operation",
      "input": {
        "target": "com.ovh.sms#GetSmsVirtualNumbersNumberRequest"
      },
      "output": {
        "target": "com.ovh.sms#SmsVirtualNumberGenericServiceWithIAM"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sms/virtualNumbers/{number}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.sms#GetSmsVirtualNumbersNumberServiceInfosRequest": {
      "type": "structure",
      "members": {
        "number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Your virtual number"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.sms#ServicesService": {
      "type": "structure",
      "members": {
        "canDeleteAtExpiration": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates that the service can be set up to be deleted at expiration"
          }
        },
        "contactAdmin": {
          "target": "smithy.api#String"
        },
        "contactBilling": {
          "target": "smithy.api#String"
        },
        "contactTech": {
          "target": "smithy.api#String"
        },
        "creation": {
          "target": "smithy.api#String"
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "engagedUpTo": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "expiration": {
          "target": "smithy.api#String"
        },
        "possibleRenewPeriod": {
          "target": "com.ovh.sms#ServicesServicePossibleRenewPeriodList",
          "traits": {
            "smithy.api#documentation": "All the possible renew period of your service in month",
            "com.distilled.openapi#nullable": {}
          }
        },
        "renew": {
          "target": "com.ovh.sms#ServiceRenewType",
          "traits": {
            "smithy.api#documentation": "Way of handling the renew",
            "com.distilled.openapi#nullable": {}
          }
        },
        "renewalType": {
          "target": "com.ovh.sms#ServiceRenewalTypeEnum"
        },
        "serviceId": {
          "target": "smithy.api#Integer"
        },
        "status": {
          "target": "com.ovh.sms#ServiceStateEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about a Service"
      }
    },
    "com.ovh.sms#ServicesServicePossibleRenewPeriodList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "All the possible renew period of your service in month"
      }
    },
    "com.ovh.sms#ServiceRenewType": {
      "type": "structure",
      "members": {
        "automatic": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The service is automatically renewed"
          }
        },
        "deleteAtExpiration": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The service will be deleted at expiration"
          }
        },
        "forced": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The service forced to be renewed"
          }
        },
        "manualPayment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The service needs to be manually renewed and paid",
            "com.distilled.openapi#nullable": {}
          }
        },
        "period": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "period of renew in month",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Map a possible renew for a specific service"
      }
    },
    "com.ovh.sms#ServiceRenewalTypeEnum": {
      "type": "enum",
      "members": {
        "AUTOMATICFORCEDPRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automaticForcedProduct"
          }
        },
        "AUTOMATICV2012": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automaticV2012"
          }
        },
        "AUTOMATICV2014": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automaticV2014"
          }
        },
        "AUTOMATICV2016": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automaticV2016"
          }
        },
        "AUTOMATICV2024": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automaticV2024"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        },
        "ONESHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oneShot"
          }
        },
        "OPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "option"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Detailed renewal type of a service"
      }
    },
    "com.ovh.sms#ServiceStateEnum": {
      "type": "enum",
      "members": {
        "AUTORENEWINPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "autorenewInProgress"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        },
        "INCREATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inCreation"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "PENDINGDEBT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pendingDebt"
          }
        },
        "UNPAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unPaid"
          }
        }
      },
      "traits": {}
    },
    "com.ovh.sms#GetSmsVirtualNumbersNumberServiceInfos": {
      "type": "operation",
      "input": {
        "target": "com.ovh.sms#GetSmsVirtualNumbersNumberServiceInfosRequest"
      },
      "output": {
        "target": "com.ovh.sms#ServicesService"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sms/virtualNumbers/{number}/serviceInfos",
          "code": 200
        },
        "smithy.api#documentation": "Get service information"
      }
    },
    "com.ovh.sms#PutSmsVirtualNumbersNumberServiceInfosRequest": {
      "type": "structure",
      "members": {
        "number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Your virtual number"
          }
        },
        "renew": {
          "target": "com.ovh.sms#ServiceRenewType",
          "traits": {
            "smithy.api#documentation": "Way of handling the renew",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.sms#PutSmsVirtualNumbersNumberServiceInfos": {
      "type": "operation",
      "input": {
        "target": "com.ovh.sms#PutSmsVirtualNumbersNumberServiceInfosRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/sms/virtualNumbers/{number}/serviceInfos",
          "code": 200
        },
        "smithy.api#documentation": "Update service information"
      }
    },
    "com.ovh.sms#GetSmsServiceNameRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your SMS offer"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.sms#SmsAccountWithIAM": {
      "type": "structure",
      "members": {
        "automaticRecreditAmount": {
          "target": "com.ovh.sms#SmsPackQuantityAutomaticRecreditEnum",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "callBack": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL called when state of a sent SMS changes",
            "com.distilled.openapi#nullable": {}
          }
        },
        "channel": {
          "target": "com.ovh.sms#SmsChannelEnum",
          "traits": {
            "smithy.api#documentation": "For what purpose this account can be used for"
          }
        },
        "creditThresholdForAutomaticRecredit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Credit threshold after which an automatic recredit is launched"
          }
        },
        "creditsHoldByQuota": {
          "target": "smithy.api#Double"
        },
        "creditsLeft": {
          "target": "smithy.api#Double"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "iam": {
          "target": "com.ovh.sms#IamResourceMetadata",
          "traits": {
            "smithy.api#documentation": "IAM resource metadata",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "smpp": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the account can be used for smpp or not"
          }
        },
        "smsResponse": {
          "target": "com.ovh.sms#SmsResponse"
        },
        "status": {
          "target": "com.ovh.sms#SmsStatusAccountEnum"
        },
        "stopCallBack": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL called when a STOP is received after a receiver replied stop to a SMS",
            "com.distilled.openapi#nullable": {}
          }
        },
        "templates": {
          "target": "com.ovh.sms#SmsTemplates"
        },
        "userQuantityWithQuota": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#documentation": "SMS details"
      }
    },
    "com.ovh.sms#SmsPackQuantityAutomaticRecreditEnum": {
      "type": "intEnum",
      "members": {
        "_100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 100
          }
        },
        "_200": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 200
          }
        },
        "_250": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 250
          }
        },
        "_500": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 500
          }
        },
        "_1000": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1000
          }
        },
        "_5000": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 5000
          }
        },
        "_10000": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 10000
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pack quantity automatic recredit possibilities"
      }
    },
    "com.ovh.sms#SmsChannelEnum": {
      "type": "enum",
      "members": {
        "BOTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "both"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "TRANSACTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transactional"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "In case of smpp the channel can not be \"both\""
      }
    },
    "com.ovh.sms#SmsResponse": {
      "type": "structure",
      "members": {
        "cgiUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default url callback used for a given response.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "responseType": {
          "target": "com.ovh.sms#SmsResponseTypeEnum"
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Automatic notification sent by text in case of customer reply.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "trackingDefaultSmsSender": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "trackingOptions": {
          "target": "com.ovh.sms#SmsResponseTrackingOptionsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A structure describing how to manage an sms Response"
      }
    },
    "com.ovh.sms#SmsResponseTypeEnum": {
      "type": "enum",
      "members": {
        "CGI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cgi"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response type"
      }
    },
    "com.ovh.sms#SmsResponseTrackingOptions": {
      "type": "structure",
      "members": {
        "media": {
          "target": "com.ovh.sms#SmsResponseTrackingMediaEnum"
        },
        "sender": {
          "target": "smithy.api#String"
        },
        "target": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The tracking media response"
      }
    },
    "com.ovh.sms#SmsResponseTrackingMediaEnum": {
      "type": "enum",
      "members": {
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email"
          }
        },
        "SMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sms"
          }
        },
        "VOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "voice"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The tracking media response"
      }
    },
    "com.ovh.sms#SmsResponseTrackingOptionsList": {
      "type": "list",
      "member": {
        "target": "com.ovh.sms#SmsResponseTrackingOptions"
      },
      "traits": {}
    },
    "com.ovh.sms#SmsStatusAccountEnum": {
      "type": "enum",
      "members": {
        "DISABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disable"
          }
        },
        "ENABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enable"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Account status"
      }
    },
    "com.ovh.sms#SmsTemplates": {
      "type": "structure",
      "members": {
        "customizedEmailMode": {
          "target": "smithy.api#Boolean"
        },
        "customizedSmsMode": {
          "target": "smithy.api#Boolean"
        },
        "emailBody": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "emailFrom": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "emailSubject": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "smsBody": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "time2chatAutomaticResponse": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A structure describing all information about templates informations"
      }
    },
    "com.ovh.sms#GetSmsServiceName": {
      "type": "operation",
      "input": {
        "target": "com.ovh.sms#GetSmsServiceNameRequest"
      },
      "output": {
        "target": "com.ovh.sms#SmsAccountWithIAM"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sms/{serviceName}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.sms#PutSmsServiceNameRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your SMS offer"
          }
        },
        "automaticRecreditAmount": {
          "target": "com.ovh.sms#SmsPackQuantityAutomaticRecreditEnum",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "callBack": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL called when state of a sent SMS changes",
            "com.distilled.openapi#nullable": {}
          }
        },
        "creditThresholdForAutomaticRecredit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Credit threshold after which an automatic recredit is launched"
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "smsResponse": {
          "target": "com.ovh.sms#SmsResponse"
        },
        "stopCallBack": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL called when a STOP is received after a receiver replied stop to a SMS",
            "com.distilled.openapi#nullable": {}
          }
        },
        "templates": {
          "target": "com.ovh.sms#SmsTemplates"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.sms#PutSmsServiceName": {
      "type": "operation",
      "input": {
        "target": "com.ovh.sms#PutSmsServiceNameRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/sms/{serviceName}",
          "code": 200
        },
        "smithy.api#documentation": "Alter this object properties"
      }
    },
    "com.ovh.sms#GetSmsServiceNameBatchesRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your SMS offer"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.sms#SmsBatch": {
      "type": "structure",
      "members": {
        "accountID": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "SMS account ID"
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation datetime"
          }
        },
        "errors": {
          "target": "com.ovh.sms#SmsBatchErrorsList",
          "traits": {
            "smithy.api#documentation": "Details on error(s) on the batch, if any"
          }
        },
        "estimatedCredits": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The estimated cost of the batch in credits"
          }
        },
        "finishedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Datetime when the batch finished processing SMSs",
            "com.distilled.openapi#nullable": {}
          }
        },
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SMS sender",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Batch ID"
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SMS message"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Batch name"
          }
        },
        "processedRecords": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of processed records in this batch"
          }
        },
        "receivers": {
          "target": "com.ovh.sms#SmsBatchReceiversList",
          "traits": {
            "smithy.api#documentation": "SMS receivers list",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sentAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Datetime when the SMSs of the batch are sent (based on deferred time if exists)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "slotID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slot ID",
            "com.distilled.openapi#nullable": {}
          }
        },
        "startedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Datetime when the batch started processing SMSs",
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.ovh.sms#SmsBatchStatusEnum",
          "traits": {
            "smithy.api#documentation": "Batch status"
          }
        },
        "totalRecords": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of records in this batch"
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last update datetime"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Batch of SMS to send"
      }
    },
    "com.ovh.sms#SmsBatchError": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message"
          }
        },
        "receiver": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Receiver that triggered the error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Batch error details"
      }
    },
    "com.ovh.sms#SmsBatchErrorsList": {
      "type": "list",
      "member": {
        "target": "com.ovh.sms#SmsBatchError"
      },
      "traits": {
        "smithy.api#documentation": "Details on error(s) on the batch, if any"
      }
    },
    "com.ovh.sms#SmsBatchReceiversList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "SMS receivers list"
      }
    },
    "com.ovh.sms#SmsBatchStatusEnum": {
      "type": "enum",
      "members": {
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "CANCELING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELING"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "INSERTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSERTED"
          }
        },
        "INSERTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSERTING"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "TO_CANCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TO_CANCEL"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Batch statuses"
      }
    },
    "com.ovh.sms#GetSmsServiceNameBatchesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.sms#SmsBatch"
      },
      "traits": {}
    },
    "com.ovh.sms#GetSmsServiceNameBatchesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.sms#GetSmsServiceNameBatchesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.sms#GetSmsServiceNameBatches": {
      "type": "operation",
      "input": {
        "target": "com.ovh.sms#GetSmsServiceNameBatchesRequest"
      },
      "output": {
        "target": "com.ovh.sms#GetSmsServiceNameBatchesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sms/{serviceName}/batches",
          "code": 200
        },
        "smithy.api#documentation": "Get batches list"
      }
    },
    "com.ovh.sms#SmsBatchClassEnum": {
      "type": "enum",
      "members": {
        "FLASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLASH"
          }
        },
        "PHONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHONE"
          }
        },
        "SIM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIM"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SMS classes"
      }
    },
    "com.ovh.sms#PostSmsServiceNameBatchesRequestToList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "SMS receivers list. Either \"to\" or \"slotID\" must be passed"
      }
    },
    "com.ovh.sms#PostSmsServiceNameBatchesRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your SMS offer"
          }
        },
        "class": {
          "target": "com.ovh.sms#SmsBatchClassEnum",
          "traits": {
            "smithy.api#documentation": "Deprecated: SMS class"
          }
        },
        "deferred": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SMS deferred sending date"
          }
        },
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SMS sender. Either \"from\" or \"senderForResponse\" must be passed"
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SMS message",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Batch name"
          }
        },
        "noStop": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "STOP clause not needed"
          }
        },
        "senderForResponse": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Ask to compute a sender that allows response. Either \"from\" or \"senderForResponse\" must be passed"
          }
        },
        "slotID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SMS receivers slot ID. Either \"to\" or \"slotID\" must be passed"
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SMS tag"
          }
        },
        "to": {
          "target": "com.ovh.sms#PostSmsServiceNameBatchesRequestToList",
          "traits": {
            "smithy.api#documentation": "SMS receivers list. Either \"to\" or \"slotID\" must be passed"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.sms#PostSmsServiceNameBatches": {
      "type": "operation",
      "input": {
        "target": "com.ovh.sms#PostSmsServiceNameBatchesRequest"
      },
      "output": {
        "target": "com.ovh.sms#SmsBatch"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/sms/{serviceName}/batches",
          "code": 200
        },
        "smithy.api#documentation": "Create a batch"
      }
    },
    "com.ovh.sms#GetSmsServiceNameBatchesIdRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your SMS offer"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.sms#GetSmsServiceNameBatchesId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.sms#GetSmsServiceNameBatchesIdRequest"
      },
      "output": {
        "target": "com.ovh.sms#SmsBatch"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sms/{serviceName}/batches/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a batch"
      }
    },
    "com.ovh.sms#PutSmsServiceNameBatchesIdRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your SMS offer"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Id"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Batch name",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.sms#PutSmsServiceNameBatchesId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.sms#PutSmsServiceNameBatchesIdRequest"
      },
      "output": {
        "target": "com.ovh.sms#SmsBatch"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/sms/{serviceName}/batches/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Update a batch"
      }
    },
    "com.ovh.sms#DeleteSmsServiceNameBatchesIdRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your SMS offer"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.sms#DeleteSmsServiceNameBatchesId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.sms#DeleteSmsServiceNameBatchesIdRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/sms/{serviceName}/batches/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Remove a batch"
      }
    },
    "com.ovh.sms#PostSmsServiceNameBatchesIdCancelRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your SMS offer"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.sms#PostSmsServiceNameBatchesIdCancel": {
      "type": "operation",
      "input": {
        "target": "com.ovh.sms#PostSmsServiceNameBatchesIdCancelRequest"
      },
      "output": {
        "target": "com.ovh.sms#SmsBatch"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/sms/{serviceName}/batches/{id}/cancel",
          "code": 200
        },
        "smithy.api#documentation": "Cancel a deferred batch (no SMS must have been sent)"
      }
    },
    "com.ovh.sms#GetSmsServiceNameBatchesIdStatisticsRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your SMS offer"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.sms#SmsBatchStatistics": {
      "type": "structure",
      "members": {
        "credits": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The cost of the batch in credits, computed during batch processing"
          }
        },
        "delivered": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of SMS that are delivered"
          }
        },
        "estimatedCredits": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The estimated cost of the batch in credits, computed before batch processing"
          }
        },
        "failed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of SMS in error"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Batch ID"
          }
        },
        "pending": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of SMS that are in pending status"
          }
        },
        "sent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of SMS that are sent to the broker"
          }
        },
        "stoplisted": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of SMS that received a STOP by the receiver"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Batch's statistics"
      }
    },
    "com.ovh.sms#GetSmsServiceNameBatchesIdStatistics": {
      "type": "operation",
      "input": {
        "target": "com.ovh.sms#GetSmsServiceNameBatchesIdStatisticsRequest"
      },
      "output": {
        "target": "com.ovh.sms#SmsBatchStatistics"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sms/{serviceName}/batches/{id}/statistics",
          "code": 200
        },
        "smithy.api#documentation": "Batch's statistics"
      }
    },
    "com.ovh.sms#GetSmsServiceNameBlacklistsRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your SMS offer"
          }
        },
        "batchID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "batchID",
            "smithy.api#documentation": "Filter the value of batchID property (=)"
          }
        },
        "smsOutgoingID": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "smsOutgoingID",
            "smithy.api#documentation": "Filter the value of smsOutgoingID property (=)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.sms#GetSmsServiceNameBlacklistsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.sms#GetSmsServiceNameBlacklistsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.sms#GetSmsServiceNameBlacklistsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.sms#GetSmsServiceNameBlacklists": {
      "type": "operation",
      "input": {
        "target": "com.ovh.sms#GetSmsServiceNameBlacklistsRequest"
      },
      "output": {
        "target": "com.ovh.sms#GetSmsServiceNameBlacklistsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sms/{serviceName}/blacklists",
          "code": 200
        },
        "smithy.api#documentation": "Numbers blacklisted associated to the sms account"
      }
    },
    "com.ovh.sms#GetSmsServiceNameBlacklistsNumberRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your SMS offer"
          }
        },
        "number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The sms number blacklisted"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.sms#SmsBlacklist": {
      "type": "structure",
      "members": {
        "batchID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the batch responsible of the blacklist",
            "com.distilled.openapi#nullable": {}
          }
        },
        "dateCreation": {
          "target": "smithy.api#String"
        },
        "number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sms number blacklisted"
          }
        },
        "smsOutgoingID": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the outgoing SMS responsible of the blacklist",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SMS blacklist"
      }
    },
    "com.ovh.sms#GetSmsServiceNameBlacklistsNumber": {
      "type": "operation",
      "input": {
        "target": "com.ovh.sms#GetSmsServiceNameBlacklistsNumberRequest"
      },
      "output": {
        "target": "com.ovh.sms#SmsBlacklist"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sms/{serviceName}/blacklists/{number}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.sms#DeleteSmsServiceNameBlacklistsNumberRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your SMS offer"
          }
        },
        "number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The sms number blacklisted"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.sms#DeleteSmsServiceNameBlacklistsNumber": {
      "type": "operation",
      "input": {
        "target": "com.ovh.sms#DeleteSmsServiceNameBlacklistsNumberRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/sms/{serviceName}/blacklists/{number}",
          "code": 200
        },
        "smithy.api#documentation": "Delete the blacklisted sms number given"
      }
    },
    "com.ovh.sms#SmsDocumentWayTypeEnum": {
      "type": "enum",
      "members": {
        "INCOMING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "incoming"
          }
        },
        "OUTGOING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "outgoing"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Way type"
      }
    },
    "com.ovh.sms#GetSmsServiceNameDocumentRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your SMS offer"
          }
        },
        "batchID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "batchID",
            "smithy.api#documentation": "Filter SMSs with their batch ID (outgoing SMSs only)"
          }
[...]
