{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.ovh.telephony#IamResourceTagFilterInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Resource tag filter"
      }
    },
    "com.ovh.telephony#GetTelephonyRequestIamTagsValueList": {
      "type": "list",
      "member": {
        "target": "com.ovh.telephony#IamResourceTagFilterInput"
      },
      "traits": {}
    },
    "com.ovh.telephony#GetTelephonyRequestIamTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.ovh.telephony#GetTelephonyRequestIamTagsValueList"
      },
      "traits": {}
    },
    "com.ovh.telephony#GetTelephonyRequest": {
      "type": "structure",
      "members": {
        "iamTags": {
          "target": "com.ovh.telephony#GetTelephonyRequestIamTagsMap",
          "traits": {
            "smithy.api#httpQuery": "iamTags",
            "smithy.api#documentation": "Filter resources on IAM tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#GetTelephonyResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.telephony#GetTelephonyResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#GetTelephonyResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#GetTelephony": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#GetTelephonyRequest"
      },
      "output": {
        "target": "com.ovh.telephony#GetTelephonyResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony",
          "code": 200
        },
        "smithy.api#documentation": "Your telephony billing accounts"
      }
    },
    "com.ovh.telephony#TelephonyServiceNumberCountryEnum": {
      "type": "enum",
      "members": {
        "BE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "be"
          }
        },
        "CH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ch"
          }
        },
        "DE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "de"
          }
        },
        "ES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "es"
          }
        },
        "FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fr"
          }
        },
        "GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gb"
          }
        },
        "UK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uk"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Number country"
      }
    },
    "com.ovh.telephony#GetTelephonyAccessoriesRequest": {
      "type": "structure",
      "members": {
        "brand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "brand",
            "smithy.api#documentation": "Phone brand"
          }
        },
        "country": {
          "target": "com.ovh.telephony#TelephonyServiceNumberCountryEnum",
          "traits": {
            "smithy.api#httpQuery": "country",
            "smithy.api#required": {},
            "smithy.api#documentation": "The country"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#TelephonyAccessoryOffer": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The accessory description",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The accessory name"
          }
        },
        "price": {
          "target": "com.ovh.telephony#OrderPrice",
          "traits": {
            "smithy.api#documentation": "Accessory price"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An URL to accessory details",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Informations related to a line offer"
      }
    },
    "com.ovh.telephony#OrderPrice": {
      "type": "structure",
      "members": {
        "currencyCode": {
          "target": "com.ovh.telephony#OrderCurrencyCodeEnum"
        },
        "text": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {
        "smithy.api#documentation": "Price with it's currency and textual representation"
      }
    },
    "com.ovh.telephony#OrderCurrencyCodeEnum": {
      "type": "enum",
      "members": {
        "AUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUD"
          }
        },
        "CAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAD"
          }
        },
        "CZK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CZK"
          }
        },
        "EUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EUR"
          }
        },
        "GBP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GBP"
          }
        },
        "INR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INR"
          }
        },
        "LTL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LTL"
          }
        },
        "MAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAD"
          }
        },
        "N_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N/A"
          }
        },
        "PLN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLN"
          }
        },
        "SGD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SGD"
          }
        },
        "TND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TND"
          }
        },
        "USD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USD"
          }
        },
        "XOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XOF"
          }
        },
        "POINTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "points"
          }
        }
      },
      "traits": {}
    },
    "com.ovh.telephony#GetTelephonyAccessoriesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.telephony#TelephonyAccessoryOffer"
      },
      "traits": {}
    },
    "com.ovh.telephony#GetTelephonyAccessoriesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#GetTelephonyAccessoriesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#GetTelephonyAccessories": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#GetTelephonyAccessoriesRequest"
      },
      "output": {
        "target": "com.ovh.telephony#GetTelephonyAccessoriesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/accessories",
          "code": 200
        },
        "smithy.api#documentation": "Get all available accessories"
      }
    },
    "com.ovh.telephony#GetTelephonyAliasesRequestIamTagsValueList": {
      "type": "list",
      "member": {
        "target": "com.ovh.telephony#IamResourceTagFilterInput"
      },
      "traits": {}
    },
    "com.ovh.telephony#GetTelephonyAliasesRequestIamTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.ovh.telephony#GetTelephonyAliasesRequestIamTagsValueList"
      },
      "traits": {}
    },
    "com.ovh.telephony#GetTelephonyAliasesRequest": {
      "type": "structure",
      "members": {
        "iamTags": {
          "target": "com.ovh.telephony#GetTelephonyAliasesRequestIamTagsMap",
          "traits": {
            "smithy.api#httpQuery": "iamTags",
            "smithy.api#documentation": "Filter resources on IAM tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#GetTelephonyAliasesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.telephony#GetTelephonyAliasesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#GetTelephonyAliasesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#GetTelephonyAliases": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#GetTelephonyAliasesRequest"
      },
      "output": {
        "target": "com.ovh.telephony#GetTelephonyAliasesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/aliases",
          "code": 200
        },
        "smithy.api#documentation": "Your telephony billing accounts"
      }
    },
    "com.ovh.telephony#GetTelephonyAliasesServiceNameRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Your line number"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#TelephonyTelephonyGenericServiceWithIAM": {
      "type": "structure",
      "members": {
        "iam": {
          "target": "com.ovh.telephony#IamResourceMetadata",
          "traits": {
            "smithy.api#documentation": "IAM resource metadata",
            "com.distilled.openapi#nullable": {}
          }
        },
        "serviceName": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Telephony service"
      }
    },
    "com.ovh.telephony#IamResourceMetadata": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource display name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the resource"
          }
        },
        "tags": {
          "target": "com.ovh.telephony#IamResourceMetadataTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:",
            "com.distilled.openapi#nullable": {}
          }
        },
        "urn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique resource name used in policies"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IAM resource metadata embedded in services models"
      }
    },
    "com.ovh.telephony#IamResourceMetadataTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:"
      }
    },
    "com.ovh.telephony#GetTelephonyAliasesServiceName": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#GetTelephonyAliasesServiceNameRequest"
      },
      "output": {
        "target": "com.ovh.telephony#TelephonyTelephonyGenericServiceWithIAM"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/aliases/{serviceName}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.telephony#PostTelephonyAliasesServiceNameChangeContactRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Your line number"
          }
        },
        "contactAdmin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as admin contact"
          }
        },
        "contactBilling": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as billing contact"
          }
        },
        "contactTech": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as tech contact"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#PostTelephonyAliasesServiceNameChangeContactResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.telephony#PostTelephonyAliasesServiceNameChangeContactResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#PostTelephonyAliasesServiceNameChangeContactResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#PostTelephonyAliasesServiceNameChangeContact": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#PostTelephonyAliasesServiceNameChangeContactRequest"
      },
      "output": {
        "target": "com.ovh.telephony#PostTelephonyAliasesServiceNameChangeContactResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/telephony/aliases/{serviceName}/changeContact",
          "code": 200
        },
        "smithy.api#documentation": "Launch a contact change procedure"
      }
    },
    "com.ovh.telephony#GetTelephonyAliasesServiceNameServiceInfosRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Your line number"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#ServicesService": {
      "type": "structure",
      "members": {
        "canDeleteAtExpiration": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates that the service can be set up to be deleted at expiration"
          }
        },
        "contactAdmin": {
          "target": "smithy.api#String"
        },
        "contactBilling": {
          "target": "smithy.api#String"
        },
        "contactTech": {
          "target": "smithy.api#String"
        },
        "creation": {
          "target": "smithy.api#String"
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "engagedUpTo": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "expiration": {
          "target": "smithy.api#String"
        },
        "possibleRenewPeriod": {
          "target": "com.ovh.telephony#ServicesServicePossibleRenewPeriodList",
          "traits": {
            "smithy.api#documentation": "All the possible renew period of your service in month",
            "com.distilled.openapi#nullable": {}
          }
        },
        "renew": {
          "target": "com.ovh.telephony#ServiceRenewType",
          "traits": {
            "smithy.api#documentation": "Way of handling the renew",
            "com.distilled.openapi#nullable": {}
          }
        },
        "renewalType": {
          "target": "com.ovh.telephony#ServiceRenewalTypeEnum"
        },
        "serviceId": {
          "target": "smithy.api#Integer"
        },
        "status": {
          "target": "com.ovh.telephony#ServiceStateEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about a Service"
      }
    },
    "com.ovh.telephony#ServicesServicePossibleRenewPeriodList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "All the possible renew period of your service in month"
      }
    },
    "com.ovh.telephony#ServiceRenewType": {
      "type": "structure",
      "members": {
        "automatic": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The service is automatically renewed"
          }
        },
        "deleteAtExpiration": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The service will be deleted at expiration"
          }
        },
        "forced": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The service forced to be renewed"
          }
        },
        "manualPayment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The service needs to be manually renewed and paid",
            "com.distilled.openapi#nullable": {}
          }
        },
        "period": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "period of renew in month",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Map a possible renew for a specific service"
      }
    },
    "com.ovh.telephony#ServiceRenewalTypeEnum": {
      "type": "enum",
      "members": {
        "AUTOMATICFORCEDPRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automaticForcedProduct"
          }
        },
        "AUTOMATICV2012": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automaticV2012"
          }
        },
        "AUTOMATICV2014": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automaticV2014"
          }
        },
        "AUTOMATICV2016": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automaticV2016"
          }
        },
        "AUTOMATICV2024": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automaticV2024"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        },
        "ONESHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oneShot"
          }
        },
        "OPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "option"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Detailed renewal type of a service"
      }
    },
    "com.ovh.telephony#ServiceStateEnum": {
      "type": "enum",
      "members": {
        "AUTORENEWINPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "autorenewInProgress"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        },
        "INCREATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inCreation"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "PENDINGDEBT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pendingDebt"
          }
        },
        "UNPAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unPaid"
          }
        }
      },
      "traits": {}
    },
    "com.ovh.telephony#GetTelephonyAliasesServiceNameServiceInfos": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#GetTelephonyAliasesServiceNameServiceInfosRequest"
      },
      "output": {
        "target": "com.ovh.telephony#ServicesService"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/aliases/{serviceName}/serviceInfos",
          "code": 200
        },
        "smithy.api#documentation": "Get service information"
      }
    },
    "com.ovh.telephony#PutTelephonyAliasesServiceNameServiceInfosRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Your line number"
          }
        },
        "renew": {
          "target": "com.ovh.telephony#ServiceRenewType",
          "traits": {
            "smithy.api#documentation": "Way of handling the renew",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#PutTelephonyAliasesServiceNameServiceInfos": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#PutTelephonyAliasesServiceNameServiceInfosRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/telephony/aliases/{serviceName}/serviceInfos",
          "code": 200
        },
        "smithy.api#documentation": "Update service information"
      }
    },
    "com.ovh.telephony#TelephonySipDomainProductTypeEnum": {
      "type": "enum",
      "members": {
        "SIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sip"
          }
        },
        "TRUNK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trunk"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Product type"
      }
    },
    "com.ovh.telephony#GetTelephonyAvailableDefaultSipDomainsRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.ovh.telephony#TelephonySipDomainProductTypeEnum",
          "traits": {
            "smithy.api#httpQuery": "type",
            "smithy.api#required": {},
            "smithy.api#documentation": "Product type"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#TelephonyDefaultSipDomains": {
      "type": "structure",
      "members": {
        "country": {
          "target": "com.ovh.telephony#TelephonyServiceNumberCountryEnum",
          "traits": {
            "smithy.api#documentation": "Country"
          }
        },
        "currentDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current SIP domain"
          }
        },
        "list": {
          "target": "com.ovh.telephony#TelephonyDefaultSipDomainsListList",
          "traits": {
            "smithy.api#documentation": "List of available SIP domains"
          }
        },
        "productType": {
          "target": "com.ovh.telephony#TelephonySipDomainProductTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of the VoIP product concerned"
          }
        }
      },
      "traits": {}
    },
    "com.ovh.telephony#TelephonyDefaultSipDomainsListList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of available SIP domains"
      }
    },
    "com.ovh.telephony#GetTelephonyAvailableDefaultSipDomainsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.telephony#TelephonyDefaultSipDomains"
      },
      "traits": {}
    },
    "com.ovh.telephony#GetTelephonyAvailableDefaultSipDomainsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#GetTelephonyAvailableDefaultSipDomainsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#GetTelephonyAvailableDefaultSipDomains": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#GetTelephonyAvailableDefaultSipDomainsRequest"
      },
      "output": {
        "target": "com.ovh.telephony#GetTelephonyAvailableDefaultSipDomainsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/availableDefaultSipDomains",
          "code": 200
        },
        "smithy.api#documentation": "Get all available SIP domains by country"
      }
    },
    "com.ovh.telephony#GetTelephonyCurrentOrderIdsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.telephony#GetTelephonyCurrentOrderIdsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#GetTelephonyCurrentOrderIdsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#GetTelephonyCurrentOrderIds": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.ovh.telephony#GetTelephonyCurrentOrderIdsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/currentOrderIds",
          "code": 200
        },
        "smithy.api#documentation": "Get current order ids"
      }
    },
    "com.ovh.telephony#GetTelephonyDirectoriesAvailableZipCodesRequest": {
      "type": "structure",
      "members": {
        "country": {
          "target": "com.ovh.telephony#TelephonyServiceNumberCountryEnum",
          "traits": {
            "smithy.api#httpQuery": "country",
            "smithy.api#required": {},
            "smithy.api#documentation": "The country of the city"
          }
        },
        "number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "number",
            "smithy.api#required": {},
            "smithy.api#documentation": "The number (can be a range terminated by XXXX)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#GetTelephonyDirectoriesAvailableZipCodesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.telephony#GetTelephonyDirectoriesAvailableZipCodesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#GetTelephonyDirectoriesAvailableZipCodesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#GetTelephonyDirectoriesAvailableZipCodes": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#GetTelephonyDirectoriesAvailableZipCodesRequest"
      },
      "output": {
        "target": "com.ovh.telephony#GetTelephonyDirectoriesAvailableZipCodesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/directories/availableZipCodes",
          "code": 200
        },
        "smithy.api#documentation": "Get all zip codes compatible for a number"
      }
    },
    "com.ovh.telephony#GetTelephonyDirectoriesCitiesRequest": {
      "type": "structure",
      "members": {
        "country": {
          "target": "com.ovh.telephony#TelephonyServiceNumberCountryEnum",
          "traits": {
            "smithy.api#httpQuery": "country",
            "smithy.api#required": {},
            "smithy.api#documentation": "The country of the city"
          }
        },
        "zipCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "zipCode",
            "smithy.api#required": {},
            "smithy.api#documentation": "The zip code of the city"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#TelephonyCity": {
      "type": "structure",
      "members": {
        "administrationCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the city",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the city"
          }
        },
        "zipCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The zip code of the city"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a city"
      }
    },
    "com.ovh.telephony#GetTelephonyDirectoriesCitiesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.telephony#TelephonyCity"
      },
      "traits": {}
    },
    "com.ovh.telephony#GetTelephonyDirectoriesCitiesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#GetTelephonyDirectoriesCitiesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#GetTelephonyDirectoriesCities": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#GetTelephonyDirectoriesCitiesRequest"
      },
      "output": {
        "target": "com.ovh.telephony#GetTelephonyDirectoriesCitiesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/directories/cities",
          "code": 200
        },
        "smithy.api#documentation": "Get city informations from a zip code"
      }
    },
    "com.ovh.telephony#TelephonyNumberCountryEnum": {
      "type": "enum",
      "members": {
        "BE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "be"
          }
        },
        "CH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ch"
          }
        },
        "FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fr"
          }
        },
        "GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gb"
          }
        },
        "UK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uk"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Number country"
      }
    },
    "com.ovh.telephony#GetTelephonyFaxOffersRequest": {
      "type": "structure",
      "members": {
        "country": {
          "target": "com.ovh.telephony#TelephonyNumberCountryEnum",
          "traits": {
            "smithy.api#httpQuery": "country",
            "smithy.api#required": {},
            "smithy.api#documentation": "The country"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#TelephonyLineOffer": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The offer description"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The offer name"
          }
        },
        "price": {
          "target": "com.ovh.telephony#OrderPrice",
          "traits": {
            "smithy.api#documentation": "Offer price per month",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Informations related to a line offer"
      }
    },
    "com.ovh.telephony#GetTelephonyFaxOffersResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.telephony#TelephonyLineOffer"
      },
      "traits": {}
    },
    "com.ovh.telephony#GetTelephonyFaxOffersResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#GetTelephonyFaxOffersResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#GetTelephonyFaxOffers": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#GetTelephonyFaxOffersRequest"
      },
      "output": {
        "target": "com.ovh.telephony#GetTelephonyFaxOffersResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/fax/offers",
          "code": 200
        },
        "smithy.api#documentation": "Get all available fax offer compatible"
      }
    },
    "com.ovh.telephony#GetTelephonyLineOfferPhonesRequest": {
      "type": "structure",
      "members": {
        "country": {
          "target": "com.ovh.telephony#TelephonyServiceNumberCountryEnum",
          "traits": {
            "smithy.api#httpQuery": "country",
            "smithy.api#required": {},
            "smithy.api#documentation": "The country"
          }
        },
        "offer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "offer",
            "smithy.api#required": {},
            "smithy.api#documentation": "The selected offer"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#TelephonyLinePhone": {
      "type": "structure",
      "members": {
        "brand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Brand name of the phone"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The phone description"
          }
        },
        "fees": {
          "target": "com.ovh.telephony#OrderPrice",
          "traits": {
            "smithy.api#documentation": "Setup fees",
            "com.distilled.openapi#nullable": {}
          }
        },
        "maxline": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of lines managed by a phone"
          }
        },
        "offerType": {
          "target": "com.ovh.telephony#TelephonyRmaOfferTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of purchase"
          }
        },
        "price": {
          "target": "com.ovh.telephony#OrderPrice",
          "traits": {
            "smithy.api#documentation": "Telephony price"
          }
        },
        "protocol": {
          "target": "com.ovh.telephony#TelephonyProtocolEnum",
          "traits": {
            "smithy.api#documentation": "Phone protocol"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Informations related to phone capabilities"
      }
    },
    "com.ovh.telephony#TelephonyRmaOfferTypeEnum": {
      "type": "enum",
      "members": {
        "DEPOSIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deposit"
          }
        },
        "LOAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "loan"
          }
        },
        "PURCHASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "purchase"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Return merchandise authorisation offer type"
      }
    },
    "com.ovh.telephony#TelephonyProtocolEnum": {
      "type": "enum",
      "members": {
        "MGCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mgcp"
          }
        },
        "SIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sip"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Phone protocol"
      }
    },
    "com.ovh.telephony#GetTelephonyLineOfferPhonesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.telephony#TelephonyLinePhone"
      },
      "traits": {}
    },
    "com.ovh.telephony#GetTelephonyLineOfferPhonesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#GetTelephonyLineOfferPhonesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#GetTelephonyLineOfferPhones": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#GetTelephonyLineOfferPhonesRequest"
      },
      "output": {
        "target": "com.ovh.telephony#GetTelephonyLineOfferPhonesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/line/offer/phones",
          "code": 200
        },
        "smithy.api#documentation": "Get all available phone brands compatible with lines"
      }
    },
    "com.ovh.telephony#GetTelephonyLineOffersRequest": {
      "type": "structure",
      "members": {
        "country": {
          "target": "com.ovh.telephony#TelephonyNumberCountryEnum",
          "traits": {
            "smithy.api#httpQuery": "country",
            "smithy.api#required": {},
            "smithy.api#documentation": "The country"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#GetTelephonyLineOffersResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.telephony#TelephonyLineOffer"
      },
      "traits": {}
    },
    "com.ovh.telephony#GetTelephonyLineOffersResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#GetTelephonyLineOffersResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#GetTelephonyLineOffers": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#GetTelephonyLineOffersRequest"
      },
      "output": {
        "target": "com.ovh.telephony#GetTelephonyLineOffersResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/line/offers",
          "code": 200
        },
        "smithy.api#documentation": "Get all available line offer compatible"
      }
    },
    "com.ovh.telephony#GetTelephonyLinesRequestIamTagsValueList": {
      "type": "list",
      "member": {
        "target": "com.ovh.telephony#IamResourceTagFilterInput"
      },
      "traits": {}
    },
    "com.ovh.telephony#GetTelephonyLinesRequestIamTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.ovh.telephony#GetTelephonyLinesRequestIamTagsValueList"
      },
      "traits": {}
    },
    "com.ovh.telephony#GetTelephonyLinesRequest": {
      "type": "structure",
      "members": {
        "iamTags": {
          "target": "com.ovh.telephony#GetTelephonyLinesRequestIamTagsMap",
          "traits": {
            "smithy.api#httpQuery": "iamTags",
            "smithy.api#documentation": "Filter resources on IAM tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#GetTelephonyLinesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.telephony#GetTelephonyLinesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#GetTelephonyLinesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#GetTelephonyLines": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#GetTelephonyLinesRequest"
      },
      "output": {
        "target": "com.ovh.telephony#GetTelephonyLinesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/lines",
          "code": 200
        },
        "smithy.api#documentation": "Your telephony billing accounts"
      }
    },
    "com.ovh.telephony#GetTelephonyLinesServiceNameRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Your line number"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#GetTelephonyLinesServiceName": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#GetTelephonyLinesServiceNameRequest"
      },
      "output": {
        "target": "com.ovh.telephony#TelephonyTelephonyGenericServiceWithIAM"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/lines/{serviceName}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.telephony#PostTelephonyLinesServiceNameChangeContactRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Your line number"
          }
        },
        "contactAdmin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as admin contact"
          }
        },
        "contactBilling": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as billing contact"
          }
        },
        "contactTech": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as tech contact"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#PostTelephonyLinesServiceNameChangeContactResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.telephony#PostTelephonyLinesServiceNameChangeContactResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#PostTelephonyLinesServiceNameChangeContactResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#PostTelephonyLinesServiceNameChangeContact": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#PostTelephonyLinesServiceNameChangeContactRequest"
      },
      "output": {
        "target": "com.ovh.telephony#PostTelephonyLinesServiceNameChangeContactResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/telephony/lines/{serviceName}/changeContact",
          "code": 200
        },
        "smithy.api#documentation": "Launch a contact change procedure"
      }
    },
    "com.ovh.telephony#GetTelephonyLinesServiceNameServiceInfosRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Your line number"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#GetTelephonyLinesServiceNameServiceInfos": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#GetTelephonyLinesServiceNameServiceInfosRequest"
      },
      "output": {
        "target": "com.ovh.telephony#ServicesService"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/lines/{serviceName}/serviceInfos",
          "code": 200
        },
        "smithy.api#documentation": "Get service information"
      }
    },
    "com.ovh.telephony#PutTelephonyLinesServiceNameServiceInfosRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Your line number"
          }
        },
        "renew": {
          "target": "com.ovh.telephony#ServiceRenewType",
          "traits": {
            "smithy.api#documentation": "Way of handling the renew",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#PutTelephonyLinesServiceNameServiceInfos": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#PutTelephonyLinesServiceNameServiceInfosRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/telephony/lines/{serviceName}/serviceInfos",
          "code": 200
        },
        "smithy.api#documentation": "Update service information"
      }
    },
    "com.ovh.telephony#GetTelephonyNumberDetailedZonesRequest": {
      "type": "structure",
      "members": {
        "axiom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "axiom",
            "smithy.api#documentation": "Enter a part of a city name or a zip for specific zne returns"
          }
        },
        "country": {
          "target": "com.ovh.telephony#TelephonyNumberCountryEnum",
          "traits": {
            "smithy.api#httpQuery": "country",
            "smithy.api#required": {},
            "smithy.api#documentation": "The country"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#TelephonyNumberDetailedZone": {
      "type": "structure",
      "members": {
        "askedCity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The searched value",
            "com.distilled.openapi#nullable": {}
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The city of the zone"
          }
        },
        "country": {
          "target": "com.ovh.telephony#TelephonyNumberCountryEnum",
          "traits": {
            "smithy.api#documentation": "The country of the zone"
          }
        },
        "internationalNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number's range of this zone, in international format"
          }
        },
        "matchingCriteria": {
          "target": "com.ovh.telephony#TelephonyNumberDetailedZoneMatchingCriteriaEnum",
          "traits": {
            "smithy.api#documentation": "The criteria that matched the searched value",
            "com.distilled.openapi#nullable": {}
          }
        },
        "number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number's range of this zone"
          }
        },
        "prefix": {
          "target": "com.ovh.telephony#TelephonyNumberCountryCodeEnum",
          "traits": {
            "smithy.api#documentation": "The country code of the number's range"
          }
        },
        "type": {
          "target": "com.ovh.telephony#TelephonyNumberDetailedZoneTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of number's range of this zone"
          }
        },
        "zipCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The zip code of the zone",
            "com.distilled.openapi#nullable": {}
          }
        },
        "zneList": {
          "target": "com.ovh.telephony#TelephonyNumberDetailedZoneZneListList",
          "traits": {
            "smithy.api#documentation": "The list of ZNE of this zone"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A geographic zone from a country"
      }
    },
    "com.ovh.telephony#TelephonyNumberDetailedZoneMatchingCriteriaEnum": {
      "type": "enum",
      "members": {
        "CITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "city"
          }
        },
        "INTERNATIONALNUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "internationalNumber"
          }
        },
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "ZNE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zne"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The possible criteria matching a searched value for a zone"
      }
    },
    "com.ovh.telephony#TelephonyNumberCountryCodeEnum": {
      "type": "intEnum",
      "members": {
        "_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 32
          }
        },
        "_33": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 33
          }
        },
        "_34": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 34
          }
        },
        "_41": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 41
          }
        },
        "_44": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 44
          }
        },
        "_49": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 49
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Number country code"
      }
    },
    "com.ovh.telephony#TelephonyNumberDetailedZoneTypeEnum": {
      "type": "enum",
      "members": {
        "GEOGRAPHIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "geographic"
          }
        },
        "NON_GEOGRAPHIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "non-geographic"
          }
        },
        "SPECIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "special"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A zone type"
      }
    },
    "com.ovh.telephony#TelephonyNumberDetailedZoneZneListList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of ZNE of this zone"
      }
    },
    "com.ovh.telephony#GetTelephonyNumberDetailedZonesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.telephony#TelephonyNumberDetailedZone"
      },
      "traits": {}
    },
    "com.ovh.telephony#GetTelephonyNumberDetailedZonesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#GetTelephonyNumberDetailedZonesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#GetTelephonyNumberDetailedZones": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#GetTelephonyNumberDetailedZonesRequest"
      },
      "output": {
        "target": "com.ovh.telephony#GetTelephonyNumberDetailedZonesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/number/detailedZones",
          "code": 200
        },
        "smithy.api#documentation": "Get all available geographic zone with some details, from a country"
      }
    },
    "com.ovh.telephony#GetTelephonyNumberRangesRequest": {
      "type": "structure",
      "members": {
        "country": {
          "target": "com.ovh.telephony#TelephonyNumberCountryEnum",
          "traits": {
            "smithy.api#httpQuery": "country",
            "smithy.api#required": {},
            "smithy.api#documentation": "The country"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#GetTelephonyNumberRangesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.telephony#GetTelephonyNumberRangesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#GetTelephonyNumberRangesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#GetTelephonyNumberRanges": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#GetTelephonyNumberRangesRequest"
      },
      "output": {
        "target": "com.ovh.telephony#GetTelephonyNumberRangesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/number/ranges",
          "code": 200
        },
        "smithy.api#documentation": "Get all available special range from a country"
      }
    },
    "com.ovh.telephony#TelephonyNumberTypeEnum": {
      "type": "enum",
      "members": {
        "GEOGRAPHIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "geographic"
          }
        },
        "NOGEOGRAPHIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nogeographic"
          }
        },
        "SPECIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "special"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Typology of number"
      }
    },
    "com.ovh.telephony#GetTelephonyNumberSpecificNumbersRequest": {
      "type": "structure",
      "members": {
        "country": {
          "target": "com.ovh.telephony#TelephonyNumberCountryEnum",
          "traits": {
            "smithy.api#httpQuery": "country",
            "smithy.api#required": {},
            "smithy.api#documentation": "The country"
          }
        },
        "range": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "range",
            "smithy.api#documentation": "The range (special number)"
          }
        },
        "type": {
          "target": "com.ovh.telephony#TelephonyNumberTypeEnum",
          "traits": {
            "smithy.api#httpQuery": "type",
            "smithy.api#required": {},
            "smithy.api#documentation": "The type of number"
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "zone",
            "smithy.api#documentation": "The zone (geographic number)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#TelephonySpecificNumber": {
      "type": "structure",
      "members": {
        "isPremium": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set if number is premium"
          }
        },
        "number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specific number available"
      }
    },
    "com.ovh.telephony#GetTelephonyNumberSpecificNumbersResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.telephony#TelephonySpecificNumber"
      },
      "traits": {}
    },
    "com.ovh.telephony#GetTelephonyNumberSpecificNumbersResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#GetTelephonyNumberSpecificNumbersResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#GetTelephonyNumberSpecificNumbers": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#GetTelephonyNumberSpecificNumbersRequest"
      },
      "output": {
        "target": "com.ovh.telephony#GetTelephonyNumberSpecificNumbersResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/number/specificNumbers",
          "code": 200
        },
        "smithy.api#documentation": "Get all available specific number from a country"
      }
    },
    "com.ovh.telephony#GetTelephonyNumberZonesRequest": {
      "type": "structure",
      "members": {
        "axiom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "axiom",
            "smithy.api#documentation": "Enter a part of a city name or a zip for specific zne returns"
          }
        },
        "country": {
          "target": "com.ovh.telephony#TelephonyNumberCountryEnum",
          "traits": {
            "smithy.api#httpQuery": "country",
            "smithy.api#required": {},
            "smithy.api#documentation": "The country"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#GetTelephonyNumberZonesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.telephony#GetTelephonyNumberZonesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#GetTelephonyNumberZonesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#GetTelephonyNumberZones": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#GetTelephonyNumberZonesRequest"
      },
      "output": {
        "target": "com.ovh.telephony#GetTelephonyNumberZonesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/number/zones",
          "code": 200
        },
        "smithy.api#documentation": "Get all available geographic zone from a country"
      }
    },
    "com.ovh.telephony#GetTelephonyProcedureResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.telephony#GetTelephonyProcedureResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#GetTelephonyProcedureResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#GetTelephonyProcedure": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.ovh.telephony#GetTelephonyProcedureResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/procedure",
          "code": 200
        },
        "smithy.api#documentation": "Procedures linked to your nichandle"
      }
    },
    "com.ovh.telephony#PostTelephonyProcedureRequest": {
      "type": "structure",
      "members": {
        "bic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account's BIC"
          }
        },
        "iban": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account's IBAN"
          }
        },
        "ownerAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account owner's address"
          }
        },
        "ownerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account owner's name"
          }
        },
        "paymentMeanID": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of your registered SEPA account payment mean."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#TelephonyProcedure": {
      "type": "structure",
      "members": {
        "finishDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date at which the procedure was closed.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Procedure ID"
          }
        },
        "pdfUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the procedure document."
          }
        },
        "requestDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date at which the procedure was opened."
          }
        },
        "status": {
          "target": "com.ovh.telephony#TelephonyProcedureStatusEnum",
          "traits": {
            "smithy.api#documentation": "The current status of the procedure."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Procedure linked to your account"
      }
    },
    "com.ovh.telephony#TelephonyProcedureStatusEnum": {
      "type": "enum",
      "members": {
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        },
        "DOING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "doing"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "done"
          }
        },
        "TODO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "todo"
          }
        },
        "WAITING_FOR_CUSTOMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waiting_for_customer"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Telephony procedure status"
      }
    },
    "com.ovh.telephony#PostTelephonyProcedure": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#PostTelephonyProcedureRequest"
      },
      "output": {
        "target": "com.ovh.telephony#TelephonyProcedure"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/telephony/procedure",
          "code": 200
        },
        "smithy.api#documentation": "Create a telephony procedure"
      }
    },
    "com.ovh.telephony#GetTelephonyProcedureRequiredResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#GetTelephonyProcedureRequired": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.ovh.telephony#GetTelephonyProcedureRequiredResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/procedure/required",
          "code": 200
        },
        "smithy.api#documentation": "Tells whether the procedure is necessary to order telephony products or not"
      }
    },
    "com.ovh.telephony#GetTelephonyProcedureIdRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Procedure ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#GetTelephonyProcedureId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#GetTelephonyProcedureIdRequest"
      },
      "output": {
        "target": "com.ovh.telephony#TelephonyProcedure"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/procedure/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.telephony#PostTelephonyProcedureIdCancelRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Procedure ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#PostTelephonyProcedureIdCancel": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#PostTelephonyProcedureIdCancelRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/telephony/procedure/{id}/cancel",
          "code": 200
        },
        "smithy.api#documentation": "Cancel the given procedure."
      }
    },
    "com.ovh.telephony#PostTelephonyResellerPanelGeneratePassword": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/telephony/resellerPanel/generatePassword",
          "code": 200
        },
        "smithy.api#documentation": "Generate a new password for the reseller panel"
      }
    },
    "com.ovh.telephony#TelephonyResellerPanelStatus": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the reseller panel is enabled or not"
          }
        },
        "passwordUpdateStatus": {
          "target": "com.ovh.telephony#TelephonyResellerPanelPasswordUpdateStatusEnum",
          "traits": {
            "smithy.api#documentation": "Password update task status",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describe the status of the reseller panel, if it is activated and if there is a password update ongoing"
      }
    },
    "com.ovh.telephony#TelephonyResellerPanelPasswordUpdateStatusEnum": {
      "type": "enum",
      "members": {
        "DOING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "doing"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "done"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "TODO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "todo"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of password update"
      }
    },
    "com.ovh.telephony#GetTelephonyResellerPanelStatus": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.ovh.telephony#TelephonyResellerPanelStatus"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/resellerPanel/status",
          "code": 200
        },
        "smithy.api#documentation": "Status of customer reseller panel"
      }
    },
    "com.ovh.telephony#GetTelephonySearchServicesRequest": {
      "type": "structure",
      "members": {
        "axiom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "axiom",
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter the value of  property (like)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#TelephonyTelephonySearchService": {
      "type": "structure",
      "members": {
        "billingAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The billing account of the service",
            "com.distilled.openapi#nullable": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service domain"
          }
        },
        "type": {
          "target": "com.ovh.telephony#TelephonyTelephonySearchServiceTypeEnum",
          "traits": {
            "smithy.api#documentation": "The offer description"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Informations related to a telephony service"
      }
    },
    "com.ovh.telephony#TelephonyTelephonySearchServiceTypeEnum": {
      "type": "enum",
      "members": {
        "ALIAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alias"
          }
        },
        "LINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "line"
          }
        },
        "TRUNK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trunk"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of possible type of a telephony service"
      }
    },
    "com.ovh.telephony#GetTelephonySearchServicesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.telephony#TelephonyTelephonySearchService"
      },
      "traits": {}
    },
    "com.ovh.telephony#GetTelephonySearchServicesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#GetTelephonySearchServicesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#GetTelephonySearchServices": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#GetTelephonySearchServicesRequest"
      },
      "output": {
        "target": "com.ovh.telephony#GetTelephonySearchServicesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/searchServices",
          "code": 200
        },
        "smithy.api#documentation": "Search a service with its domain, to get its billing account and type"
      }
    },
    "com.ovh.telephony#PostTelephonySetDefaultSipDomainRequest": {
      "type": "structure",
      "members": {
        "country": {
          "target": "com.ovh.telephony#TelephonyServiceNumberCountryEnum",
          "traits": {
            "smithy.api#documentation": "Country",
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SIP domain to set",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.ovh.telephony#TelephonySipDomainProductTypeEnum",
          "traits": {
            "smithy.api#documentation": "Product type",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#PostTelephonySetDefaultSipDomain": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#PostTelephonySetDefaultSipDomainRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/telephony/setDefaultSipDomain",
          "code": 200
        },
        "smithy.api#documentation": "Get all available SIP domains by country"
      }
    },
    "com.ovh.telephony#TelephonySoftphoneStoreLinks": {
      "type": "structure",
      "members": {
        "android": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Android application store link"
          }
        },
        "ios": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "iOS application store link"
          }
        },
        "macos": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MacOS application store link"
          }
        },
        "windows": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Windows application store link"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Softphone application stores links"
      }
    },
    "com.ovh.telephony#GetTelephonySoftphoneStoreLinks": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.ovh.telephony#TelephonySoftphoneStoreLinks"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/softphone/storeLinks",
          "code": 200
        },
        "smithy.api#documentation": "Get softphone application stores links"
      }
    },
    "com.ovh.telephony#GetTelephonySoftphoneThemesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.telephony#GetTelephonySoftphoneThemesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#GetTelephonySoftphoneThemesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#GetTelephonySoftphoneThemes": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.ovh.telephony#GetTelephonySoftphoneThemesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/softphone/themes",
          "code": 200
        },
        "smithy.api#documentation": "Get IDs of available softphone themes"
      }
    },
    "com.ovh.telephony#GetTelephonySoftphoneThemesThemeIdRequest": {
      "type": "structure",
      "members": {
        "themeId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Theme ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#TelephonySoftphoneTheme": {
      "type": "structure",
      "members": {
        "color": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Theme main color code"
          }
        },
        "themeId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Theme ID"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Softphone theme information"
      }
    },
    "com.ovh.telephony#GetTelephonySoftphoneThemesThemeId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#GetTelephonySoftphoneThemesThemeIdRequest"
      },
      "output": {
        "target": "com.ovh.telephony#TelephonySoftphoneTheme"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/softphone/themes/{themeId}",
          "code": 200
        },
        "smithy.api#documentation": "Get softphone theme information"
      }
    },
    "com.ovh.telephony#TelephonySoftphoneBetaEligibility": {
      "type": "structure",
      "members": {
        "eligibility": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the account is eligible to the Softphone beta offer"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Softphone beta eligibility"
      }
    },
    "com.ovh.telephony#GetTelephonySoftphoneBetaEligibility": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.ovh.telephony#TelephonySoftphoneBetaEligibility"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/softphoneBetaEligibility",
          "code": 200
        },
        "smithy.api#documentation": "Get the Softphone beta eligibility status of the account"
      }
    },
    "com.ovh.telephony#GetTelephonySoundsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.telephony#GetTelephonySoundsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#GetTelephonySoundsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#GetTelephonySounds": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.ovh.telephony#GetTelephonySoundsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/sounds",
          "code": 200
        },
        "smithy.api#documentation": "Sounds attached to this telephony account"
      }
    },
    "com.ovh.telephony#PostTelephonySoundsRequest": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sound description"
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sound filename",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#TelephonySound": {
      "type": "structure",
      "members": {
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sound creation date"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sound description",
            "com.distilled.openapi#nullable": {}
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sound filename"
          }
        },
        "getUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to get sound file"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sound ID"
          }
        },
        "putUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to upload sound file",
            "com.distilled.openapi#nullable": {}
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sound file size (in bytes)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sounds attached to this telephony account"
      }
    },
    "com.ovh.telephony#PostTelephonySounds": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#PostTelephonySoundsRequest"
      },
      "output": {
        "target": "com.ovh.telephony#TelephonySound"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/telephony/sounds",
          "code": 200
        },
        "smithy.api#documentation": "Create a new sound"
      }
    },
    "com.ovh.telephony#GetTelephonySoundsIdRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sound ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#GetTelephonySoundsId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#GetTelephonySoundsIdRequest"
      },
      "output": {
        "target": "com.ovh.telephony#TelephonySound"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/sounds/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.telephony#PutTelephonySoundsIdRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sound ID"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sound description",
            "com.distilled.openapi#nullable": {}
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sound filename"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#PutTelephonySoundsId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#PutTelephonySoundsIdRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/telephony/sounds/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Alter this object properties"
      }
    },
    "com.ovh.telephony#DeleteTelephonySoundsIdRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sound ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#DeleteTelephonySoundsId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#DeleteTelephonySoundsIdRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/telephony/sounds/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete the sound"
      }
    },
    "com.ovh.telephony#GetTelephonySpareRequestIamTagsValueList": {
      "type": "list",
      "member": {
        "target": "com.ovh.telephony#IamResourceTagFilterInput"
      },
      "traits": {}
    },
    "com.ovh.telephony#GetTelephonySpareRequestIamTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.ovh.telephony#GetTelephonySpareRequestIamTagsValueList"
      },
      "traits": {}
    },
    "com.ovh.telephony#GetTelephonySpareRequest": {
      "type": "structure",
      "members": {
        "iamTags": {
          "target": "com.ovh.telephony#GetTelephonySpareRequestIamTagsMap",
          "traits": {
            "smithy.api#httpQuery": "iamTags",
            "smithy.api#documentation": "Filter resources on IAM tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#GetTelephonySpareResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.telephony#GetTelephonySpareResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#GetTelephonySpareResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#GetTelephonySpare": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#GetTelephonySpareRequest"
      },
      "output": {
        "target": "com.ovh.telephony#GetTelephonySpareResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/spare",
          "code": 200
        },
        "smithy.api#documentation": "List available services"
      }
    },
    "com.ovh.telephony#GetTelephonySpareBrandsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.telephony#GetTelephonySpareBrandsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#GetTelephonySpareBrandsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#GetTelephonySpareBrands": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.ovh.telephony#GetTelephonySpareBrandsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/spare/brands",
          "code": 200
        },
        "smithy.api#documentation": "Get all available spare brands"
      }
    },
    "com.ovh.telephony#GetTelephonySpareSpareRequest": {
      "type": "structure",
      "members": {
        "spare": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your spare"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#SpareTelephonyTelephonySpareWithIAM": {
      "type": "structure",
      "members": {
        "brand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Phone brand model"
          }
        },
        "iam": {
          "target": "com.ovh.telephony#IamResourceMetadata",
          "traits": {
            "smithy.api#documentation": "IAM resource metadata",
            "com.distilled.openapi#nullable": {}
          }
        },
        "macAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mac address"
          }
        },
        "protocol": {
          "target": "com.ovh.telephony#TelephonyProtocolEnum",
          "traits": {
            "smithy.api#documentation": "Phone protocol"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Spare properties"
      }
    },
    "com.ovh.telephony#GetTelephonySpareSpare": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#GetTelephonySpareSpareRequest"
      },
      "output": {
        "target": "com.ovh.telephony#SpareTelephonyTelephonySpareWithIAM"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/spare/{spare}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.telephony#DeleteTelephonySpareSpareRequest": {
      "type": "structure",
      "members": {
        "spare": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your spare"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#DeleteTelephonySpareSpare": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#DeleteTelephonySpareSpareRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/telephony/spare/{spare}",
          "code": 200
        },
        "smithy.api#documentation": "Delete the spare as if it was not belonging to OVH anymore"
      }
    },
    "com.ovh.telephony#GetTelephonySpareSpareCompatibleReplacementRequest": {
      "type": "structure",
      "members": {
        "spare": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your spare"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#GetTelephonySpareSpareCompatibleReplacementResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.telephony#GetTelephonySpareSpareCompatibleReplacementResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#GetTelephonySpareSpareCompatibleReplacementResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#GetTelephonySpareSpareCompatibleReplacement": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#GetTelephonySpareSpareCompatibleReplacementRequest"
      },
      "output": {
        "target": "com.ovh.telephony#GetTelephonySpareSpareCompatibleReplacementResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/spare/{spare}/compatibleReplacement",
          "code": 200
        },
        "smithy.api#documentation": "Return the list of phone domains compatible to be replaced"
      }
    },
    "com.ovh.telephony#PostTelephonySpareSpareReplaceRequest": {
      "type": "structure",
      "members": {
        "spare": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your spare"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The phone to replace by the spare",
            "smithy.api#required": {}
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public ip of the phone",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#PostTelephonySpareSpareReplace": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#PostTelephonySpareSpareReplaceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/telephony/spare/{spare}/replace",
          "code": 200
        },
        "smithy.api#documentation": "Replace the phone by its spare\n\nReplace the phone by its spare. The broken phone became a spare if it was bought. An RMA is created if the broken phone is under securitydeposit."
      }
    },
    "com.ovh.telephony#GetTelephonySpareSpareServiceInfosRequest": {
      "type": "structure",
      "members": {
        "spare": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your spare"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
[...]
