{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.ovh.telephony#IamResourceTagFilterInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Resource tag filter"
      }
    },
    "com.ovh.telephony#ListTelephonyRequestIamTagsValueList": {
      "type": "list",
      "member": {
        "target": "com.ovh.telephony#IamResourceTagFilterInput"
      },
      "traits": {}
    },
    "com.ovh.telephony#ListTelephonyRequestIamTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.ovh.telephony#ListTelephonyRequestIamTagsValueList"
      },
      "traits": {}
    },
    "com.ovh.telephony#ListTelephonyRequest": {
      "type": "structure",
      "members": {
        "iamTags": {
          "target": "com.ovh.telephony#ListTelephonyRequestIamTagsMap",
          "traits": {
            "smithy.api#httpQuery": "iamTags",
            "smithy.api#documentation": "Filter resources on IAM tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#ListTelephonyResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.telephony#ListTelephonyResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#ListTelephonyResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#ListTelephony": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#ListTelephonyRequest"
      },
      "output": {
        "target": "com.ovh.telephony#ListTelephonyResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony",
          "code": 200
        },
        "smithy.api#documentation": "Your telephony billing accounts"
      }
    },
    "com.ovh.telephony#TelephonyServiceNumberCountryEnum": {
      "type": "enum",
      "members": {
        "BE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "be"
          }
        },
        "CH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ch"
          }
        },
        "DE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "de"
          }
        },
        "ES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "es"
          }
        },
        "FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fr"
          }
        },
        "GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gb"
          }
        },
        "UK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uk"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Number country"
      }
    },
    "com.ovh.telephony#ListTelephonyAccessoriesRequest": {
      "type": "structure",
      "members": {
        "brand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "brand",
            "smithy.api#documentation": "Phone brand"
          }
        },
        "country": {
          "target": "com.ovh.telephony#TelephonyServiceNumberCountryEnum",
          "traits": {
            "smithy.api#httpQuery": "country",
            "smithy.api#required": {},
            "smithy.api#documentation": "The country"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#TelephonyAccessoryOffer": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The accessory description",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The accessory name"
          }
        },
        "price": {
          "target": "com.ovh.telephony#OrderPrice",
          "traits": {
            "smithy.api#documentation": "Accessory price"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An URL to accessory details",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Informations related to a line offer"
      }
    },
    "com.ovh.telephony#OrderPrice": {
      "type": "structure",
      "members": {
        "currencyCode": {
          "target": "com.ovh.telephony#OrderCurrencyCodeEnum"
        },
        "text": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {
        "smithy.api#documentation": "Price with it's currency and textual representation"
      }
    },
    "com.ovh.telephony#OrderCurrencyCodeEnum": {
      "type": "enum",
      "members": {
        "AUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUD"
          }
        },
        "CAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAD"
          }
        },
        "CZK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CZK"
          }
        },
        "EUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EUR"
          }
        },
        "GBP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GBP"
          }
        },
        "INR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INR"
          }
        },
        "LTL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LTL"
          }
        },
        "MAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAD"
          }
        },
        "N_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N/A"
          }
        },
        "PLN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLN"
          }
        },
        "SGD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SGD"
          }
        },
        "TND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TND"
          }
        },
        "USD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USD"
          }
        },
        "XOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XOF"
          }
        },
        "POINTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "points"
          }
        }
      },
      "traits": {}
    },
    "com.ovh.telephony#ListTelephonyAccessoriesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.telephony#TelephonyAccessoryOffer"
      },
      "traits": {}
    },
    "com.ovh.telephony#ListTelephonyAccessoriesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#ListTelephonyAccessoriesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#ListTelephonyAccessories": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#ListTelephonyAccessoriesRequest"
      },
      "output": {
        "target": "com.ovh.telephony#ListTelephonyAccessoriesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/accessories",
          "code": 200
        },
        "smithy.api#documentation": "Get all available accessories"
      }
    },
    "com.ovh.telephony#ListTelephonyAliasesRequestIamTagsValueList": {
      "type": "list",
      "member": {
        "target": "com.ovh.telephony#IamResourceTagFilterInput"
      },
      "traits": {}
    },
    "com.ovh.telephony#ListTelephonyAliasesRequestIamTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.ovh.telephony#ListTelephonyAliasesRequestIamTagsValueList"
      },
      "traits": {}
    },
    "com.ovh.telephony#ListTelephonyAliasesRequest": {
      "type": "structure",
      "members": {
        "iamTags": {
          "target": "com.ovh.telephony#ListTelephonyAliasesRequestIamTagsMap",
          "traits": {
            "smithy.api#httpQuery": "iamTags",
            "smithy.api#documentation": "Filter resources on IAM tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#ListTelephonyAliasesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.telephony#ListTelephonyAliasesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#ListTelephonyAliasesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#ListTelephonyAliases": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#ListTelephonyAliasesRequest"
      },
      "output": {
        "target": "com.ovh.telephony#ListTelephonyAliasesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/aliases",
          "code": 200
        },
        "smithy.api#documentation": "Your telephony billing accounts"
      }
    },
    "com.ovh.telephony#GetTelephonyAliasRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Your line number"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#TelephonyTelephonyGenericServiceWithIAM": {
      "type": "structure",
      "members": {
        "iam": {
          "target": "com.ovh.telephony#IamResourceMetadata",
          "traits": {
            "smithy.api#documentation": "IAM resource metadata",
            "com.distilled.openapi#nullable": {}
          }
        },
        "serviceName": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Telephony service"
      }
    },
    "com.ovh.telephony#IamResourceMetadata": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource display name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the resource"
          }
        },
        "tags": {
          "target": "com.ovh.telephony#IamResourceMetadataTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:",
            "com.distilled.openapi#nullable": {}
          }
        },
        "urn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique resource name used in policies"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IAM resource metadata embedded in services models"
      }
    },
    "com.ovh.telephony#IamResourceMetadataTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:"
      }
    },
    "com.ovh.telephony#GetTelephonyAlias": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#GetTelephonyAliasRequest"
      },
      "output": {
        "target": "com.ovh.telephony#TelephonyTelephonyGenericServiceWithIAM"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/aliases/{serviceName}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.telephony#CreateTelephonyAliasChangeContactRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Your line number"
          }
        },
        "contactAdmin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as admin contact"
          }
        },
        "contactBilling": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as billing contact"
          }
        },
        "contactTech": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as tech contact"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#CreateTelephonyAliasChangeContactResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.telephony#CreateTelephonyAliasChangeContactResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#CreateTelephonyAliasChangeContactResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#CreateTelephonyAliasChangeContact": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#CreateTelephonyAliasChangeContactRequest"
      },
      "output": {
        "target": "com.ovh.telephony#CreateTelephonyAliasChangeContactResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/telephony/aliases/{serviceName}/changeContact",
          "code": 200
        },
        "smithy.api#documentation": "Launch a contact change procedure"
      }
    },
    "com.ovh.telephony#GetTelephonyAliasServiceInfosRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Your line number"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#ServicesService": {
      "type": "structure",
      "members": {
        "canDeleteAtExpiration": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates that the service can be set up to be deleted at expiration"
          }
        },
        "contactAdmin": {
          "target": "smithy.api#String"
        },
        "contactBilling": {
          "target": "smithy.api#String"
        },
        "contactTech": {
          "target": "smithy.api#String"
        },
        "creation": {
          "target": "smithy.api#String"
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "engagedUpTo": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "expiration": {
          "target": "smithy.api#String"
        },
        "possibleRenewPeriod": {
          "target": "com.ovh.telephony#ServicesServicePossibleRenewPeriodList",
          "traits": {
            "smithy.api#documentation": "All the possible renew period of your service in month",
            "com.distilled.openapi#nullable": {}
          }
        },
        "renew": {
          "target": "com.ovh.telephony#ServiceRenewType",
          "traits": {
            "smithy.api#documentation": "Way of handling the renew",
            "com.distilled.openapi#nullable": {}
          }
        },
        "renewalType": {
          "target": "com.ovh.telephony#ServiceRenewalTypeEnum"
        },
        "serviceId": {
          "target": "smithy.api#Integer"
        },
        "status": {
          "target": "com.ovh.telephony#ServiceStateEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about a Service"
      }
    },
    "com.ovh.telephony#ServicesServicePossibleRenewPeriodList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "All the possible renew period of your service in month"
      }
    },
    "com.ovh.telephony#ServiceRenewType": {
      "type": "structure",
      "members": {
        "automatic": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The service is automatically renewed"
          }
        },
        "deleteAtExpiration": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The service will be deleted at expiration"
          }
        },
        "forced": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The service forced to be renewed"
          }
        },
        "manualPayment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The service needs to be manually renewed and paid",
            "com.distilled.openapi#nullable": {}
          }
        },
        "period": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "period of renew in month",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Map a possible renew for a specific service"
      }
    },
    "com.ovh.telephony#ServiceRenewalTypeEnum": {
      "type": "enum",
      "members": {
        "AUTOMATICFORCEDPRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automaticForcedProduct"
          }
        },
        "AUTOMATICV2012": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automaticV2012"
          }
        },
        "AUTOMATICV2014": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automaticV2014"
          }
        },
        "AUTOMATICV2016": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automaticV2016"
          }
        },
        "AUTOMATICV2024": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automaticV2024"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        },
        "ONESHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oneShot"
          }
        },
        "OPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "option"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Detailed renewal type of a service"
      }
    },
    "com.ovh.telephony#ServiceStateEnum": {
      "type": "enum",
      "members": {
        "AUTORENEWINPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "autorenewInProgress"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        },
        "INCREATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inCreation"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "PENDINGDEBT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pendingDebt"
          }
        },
        "UNPAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unPaid"
          }
        }
      },
      "traits": {}
    },
    "com.ovh.telephony#GetTelephonyAliasServiceInfos": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#GetTelephonyAliasServiceInfosRequest"
      },
      "output": {
        "target": "com.ovh.telephony#ServicesService"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/aliases/{serviceName}/serviceInfos",
          "code": 200
        },
        "smithy.api#documentation": "Get service information"
      }
    },
    "com.ovh.telephony#PutTelephonyAliasServiceInfosRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Your line number"
          }
        },
        "renew": {
          "target": "com.ovh.telephony#ServiceRenewType",
          "traits": {
            "smithy.api#documentation": "Way of handling the renew",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#PutTelephonyAliasServiceInfos": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#PutTelephonyAliasServiceInfosRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/telephony/aliases/{serviceName}/serviceInfos",
          "code": 200
        },
        "smithy.api#documentation": "Update service information"
      }
    },
    "com.ovh.telephony#TelephonySipDomainProductTypeEnum": {
      "type": "enum",
      "members": {
        "SIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sip"
          }
        },
        "TRUNK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trunk"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Product type"
      }
    },
    "com.ovh.telephony#ListTelephonyAvailableDefaultSipDomainsRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.ovh.telephony#TelephonySipDomainProductTypeEnum",
          "traits": {
            "smithy.api#httpQuery": "type",
            "smithy.api#required": {},
            "smithy.api#documentation": "Product type"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#TelephonyDefaultSipDomains": {
      "type": "structure",
      "members": {
        "country": {
          "target": "com.ovh.telephony#TelephonyServiceNumberCountryEnum",
          "traits": {
            "smithy.api#documentation": "Country"
          }
        },
        "currentDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current SIP domain"
          }
        },
        "list": {
          "target": "com.ovh.telephony#TelephonyDefaultSipDomainsListList",
          "traits": {
            "smithy.api#documentation": "List of available SIP domains"
          }
        },
        "productType": {
          "target": "com.ovh.telephony#TelephonySipDomainProductTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of the VoIP product concerned"
          }
        }
      },
      "traits": {}
    },
    "com.ovh.telephony#TelephonyDefaultSipDomainsListList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of available SIP domains"
      }
    },
    "com.ovh.telephony#ListTelephonyAvailableDefaultSipDomainsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.telephony#TelephonyDefaultSipDomains"
      },
      "traits": {}
    },
    "com.ovh.telephony#ListTelephonyAvailableDefaultSipDomainsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#ListTelephonyAvailableDefaultSipDomainsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#ListTelephonyAvailableDefaultSipDomains": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#ListTelephonyAvailableDefaultSipDomainsRequest"
      },
      "output": {
        "target": "com.ovh.telephony#ListTelephonyAvailableDefaultSipDomainsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/availableDefaultSipDomains",
          "code": 200
        },
        "smithy.api#documentation": "Get all available SIP domains by country"
      }
    },
    "com.ovh.telephony#ListTelephonyCurrentOrderIdsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.telephony#ListTelephonyCurrentOrderIdsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#ListTelephonyCurrentOrderIdsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#ListTelephonyCurrentOrderIds": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.ovh.telephony#ListTelephonyCurrentOrderIdsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/currentOrderIds",
          "code": 200
        },
        "smithy.api#documentation": "Get current order ids"
      }
    },
    "com.ovh.telephony#ListTelephonyDirectoryAvailableZipCodesRequest": {
      "type": "structure",
      "members": {
        "country": {
          "target": "com.ovh.telephony#TelephonyServiceNumberCountryEnum",
          "traits": {
            "smithy.api#httpQuery": "country",
            "smithy.api#required": {},
            "smithy.api#documentation": "The country of the city"
          }
        },
        "number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "number",
            "smithy.api#required": {},
            "smithy.api#documentation": "The number (can be a range terminated by XXXX)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#ListTelephonyDirectoryAvailableZipCodesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.telephony#ListTelephonyDirectoryAvailableZipCodesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#ListTelephonyDirectoryAvailableZipCodesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#ListTelephonyDirectoryAvailableZipCodes": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#ListTelephonyDirectoryAvailableZipCodesRequest"
      },
      "output": {
        "target": "com.ovh.telephony#ListTelephonyDirectoryAvailableZipCodesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/directories/availableZipCodes",
          "code": 200
        },
        "smithy.api#documentation": "Get all zip codes compatible for a number"
      }
    },
    "com.ovh.telephony#ListTelephonyDirectoryCitiesRequest": {
      "type": "structure",
      "members": {
        "country": {
          "target": "com.ovh.telephony#TelephonyServiceNumberCountryEnum",
          "traits": {
            "smithy.api#httpQuery": "country",
            "smithy.api#required": {},
            "smithy.api#documentation": "The country of the city"
          }
        },
        "zipCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "zipCode",
            "smithy.api#required": {},
            "smithy.api#documentation": "The zip code of the city"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#TelephonyCity": {
      "type": "structure",
      "members": {
        "administrationCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the city",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the city"
          }
        },
        "zipCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The zip code of the city"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a city"
      }
    },
    "com.ovh.telephony#ListTelephonyDirectoryCitiesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.telephony#TelephonyCity"
      },
      "traits": {}
    },
    "com.ovh.telephony#ListTelephonyDirectoryCitiesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#ListTelephonyDirectoryCitiesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#ListTelephonyDirectoryCities": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#ListTelephonyDirectoryCitiesRequest"
      },
      "output": {
        "target": "com.ovh.telephony#ListTelephonyDirectoryCitiesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/directories/cities",
          "code": 200
        },
        "smithy.api#documentation": "Get city informations from a zip code"
      }
    },
    "com.ovh.telephony#TelephonyNumberCountryEnum": {
      "type": "enum",
      "members": {
        "BE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "be"
          }
        },
        "CH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ch"
          }
        },
        "FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fr"
          }
        },
        "GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gb"
          }
        },
        "UK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uk"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Number country"
      }
    },
    "com.ovh.telephony#ListTelephonyFaxOffersRequest": {
      "type": "structure",
      "members": {
        "country": {
          "target": "com.ovh.telephony#TelephonyNumberCountryEnum",
          "traits": {
            "smithy.api#httpQuery": "country",
            "smithy.api#required": {},
            "smithy.api#documentation": "The country"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#TelephonyLineOffer": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The offer description"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The offer name"
          }
        },
        "price": {
          "target": "com.ovh.telephony#OrderPrice",
          "traits": {
            "smithy.api#documentation": "Offer price per month",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Informations related to a line offer"
      }
    },
    "com.ovh.telephony#ListTelephonyFaxOffersResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.telephony#TelephonyLineOffer"
      },
      "traits": {}
    },
    "com.ovh.telephony#ListTelephonyFaxOffersResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#ListTelephonyFaxOffersResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#ListTelephonyFaxOffers": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#ListTelephonyFaxOffersRequest"
      },
      "output": {
        "target": "com.ovh.telephony#ListTelephonyFaxOffersResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/fax/offers",
          "code": 200
        },
        "smithy.api#documentation": "Get all available fax offer compatible"
      }
    },
    "com.ovh.telephony#ListTelephonyLineOfferPhonesRequest": {
      "type": "structure",
      "members": {
        "country": {
          "target": "com.ovh.telephony#TelephonyServiceNumberCountryEnum",
          "traits": {
            "smithy.api#httpQuery": "country",
            "smithy.api#required": {},
            "smithy.api#documentation": "The country"
          }
        },
        "offer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "offer",
            "smithy.api#required": {},
            "smithy.api#documentation": "The selected offer"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#TelephonyLinePhone": {
      "type": "structure",
      "members": {
        "brand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Brand name of the phone"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The phone description"
          }
        },
        "fees": {
          "target": "com.ovh.telephony#OrderPrice",
          "traits": {
            "smithy.api#documentation": "Setup fees",
            "com.distilled.openapi#nullable": {}
          }
        },
        "maxline": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of lines managed by a phone"
          }
        },
        "offerType": {
          "target": "com.ovh.telephony#TelephonyRmaOfferTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of purchase"
          }
        },
        "price": {
          "target": "com.ovh.telephony#OrderPrice",
          "traits": {
            "smithy.api#documentation": "Telephony price"
          }
        },
        "protocol": {
          "target": "com.ovh.telephony#TelephonyProtocolEnum",
          "traits": {
            "smithy.api#documentation": "Phone protocol"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Informations related to phone capabilities"
      }
    },
    "com.ovh.telephony#TelephonyRmaOfferTypeEnum": {
      "type": "enum",
      "members": {
        "DEPOSIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deposit"
          }
        },
        "LOAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "loan"
          }
        },
        "PURCHASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "purchase"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Return merchandise authorisation offer type"
      }
    },
    "com.ovh.telephony#TelephonyProtocolEnum": {
      "type": "enum",
      "members": {
        "MGCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mgcp"
          }
        },
        "SIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sip"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Phone protocol"
      }
    },
    "com.ovh.telephony#ListTelephonyLineOfferPhonesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.telephony#TelephonyLinePhone"
      },
      "traits": {}
    },
    "com.ovh.telephony#ListTelephonyLineOfferPhonesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#ListTelephonyLineOfferPhonesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#ListTelephonyLineOfferPhones": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#ListTelephonyLineOfferPhonesRequest"
      },
      "output": {
        "target": "com.ovh.telephony#ListTelephonyLineOfferPhonesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/line/offer/phones",
          "code": 200
        },
        "smithy.api#documentation": "Get all available phone brands compatible with lines"
      }
    },
    "com.ovh.telephony#ListTelephonyLineOffersRequest": {
      "type": "structure",
      "members": {
        "country": {
          "target": "com.ovh.telephony#TelephonyNumberCountryEnum",
          "traits": {
            "smithy.api#httpQuery": "country",
            "smithy.api#required": {},
            "smithy.api#documentation": "The country"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#ListTelephonyLineOffersResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.telephony#TelephonyLineOffer"
      },
      "traits": {}
    },
    "com.ovh.telephony#ListTelephonyLineOffersResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#ListTelephonyLineOffersResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#ListTelephonyLineOffers": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#ListTelephonyLineOffersRequest"
      },
      "output": {
        "target": "com.ovh.telephony#ListTelephonyLineOffersResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/line/offers",
          "code": 200
        },
        "smithy.api#documentation": "Get all available line offer compatible"
      }
    },
    "com.ovh.telephony#ListTelephonyLinesRequestIamTagsValueList": {
      "type": "list",
      "member": {
        "target": "com.ovh.telephony#IamResourceTagFilterInput"
      },
      "traits": {}
    },
    "com.ovh.telephony#ListTelephonyLinesRequestIamTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.ovh.telephony#ListTelephonyLinesRequestIamTagsValueList"
      },
      "traits": {}
    },
    "com.ovh.telephony#ListTelephonyLinesRequest": {
      "type": "structure",
      "members": {
        "iamTags": {
          "target": "com.ovh.telephony#ListTelephonyLinesRequestIamTagsMap",
          "traits": {
            "smithy.api#httpQuery": "iamTags",
            "smithy.api#documentation": "Filter resources on IAM tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#ListTelephonyLinesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.telephony#ListTelephonyLinesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#ListTelephonyLinesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#ListTelephonyLines": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#ListTelephonyLinesRequest"
      },
      "output": {
        "target": "com.ovh.telephony#ListTelephonyLinesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/lines",
          "code": 200
        },
        "smithy.api#documentation": "Your telephony billing accounts"
      }
    },
    "com.ovh.telephony#GetTelephonyLineRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Your line number"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#GetTelephonyLine": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#GetTelephonyLineRequest"
      },
      "output": {
        "target": "com.ovh.telephony#TelephonyTelephonyGenericServiceWithIAM"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/lines/{serviceName}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.telephony#CreateTelephonyLineChangeContactRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Your line number"
          }
        },
        "contactAdmin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as admin contact"
          }
        },
        "contactBilling": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as billing contact"
          }
        },
        "contactTech": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as tech contact"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#CreateTelephonyLineChangeContactResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.telephony#CreateTelephonyLineChangeContactResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#CreateTelephonyLineChangeContactResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#CreateTelephonyLineChangeContact": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#CreateTelephonyLineChangeContactRequest"
      },
      "output": {
        "target": "com.ovh.telephony#CreateTelephonyLineChangeContactResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/telephony/lines/{serviceName}/changeContact",
          "code": 200
        },
        "smithy.api#documentation": "Launch a contact change procedure"
      }
    },
    "com.ovh.telephony#GetTelephonyLineServiceInfosRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Your line number"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#GetTelephonyLineServiceInfos": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#GetTelephonyLineServiceInfosRequest"
      },
      "output": {
        "target": "com.ovh.telephony#ServicesService"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/lines/{serviceName}/serviceInfos",
          "code": 200
        },
        "smithy.api#documentation": "Get service information"
      }
    },
    "com.ovh.telephony#PutTelephonyLineServiceInfosRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Your line number"
          }
        },
        "renew": {
          "target": "com.ovh.telephony#ServiceRenewType",
          "traits": {
            "smithy.api#documentation": "Way of handling the renew",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#PutTelephonyLineServiceInfos": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#PutTelephonyLineServiceInfosRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/telephony/lines/{serviceName}/serviceInfos",
          "code": 200
        },
        "smithy.api#documentation": "Update service information"
      }
    },
    "com.ovh.telephony#ListTelephonyNumberDetailedZonesRequest": {
      "type": "structure",
      "members": {
        "axiom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "axiom",
            "smithy.api#documentation": "Enter a part of a city name or a zip for specific zne returns"
          }
        },
        "country": {
          "target": "com.ovh.telephony#TelephonyNumberCountryEnum",
          "traits": {
            "smithy.api#httpQuery": "country",
            "smithy.api#required": {},
            "smithy.api#documentation": "The country"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#TelephonyNumberDetailedZone": {
      "type": "structure",
      "members": {
        "askedCity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The searched value",
            "com.distilled.openapi#nullable": {}
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The city of the zone"
          }
        },
        "country": {
          "target": "com.ovh.telephony#TelephonyNumberCountryEnum",
          "traits": {
            "smithy.api#documentation": "The country of the zone"
          }
        },
        "internationalNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number's range of this zone, in international format"
          }
        },
        "matchingCriteria": {
          "target": "com.ovh.telephony#TelephonyNumberDetailedZoneMatchingCriteriaEnum",
          "traits": {
            "smithy.api#documentation": "The criteria that matched the searched value",
            "com.distilled.openapi#nullable": {}
          }
        },
        "number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number's range of this zone"
          }
        },
        "prefix": {
          "target": "com.ovh.telephony#TelephonyNumberCountryCodeEnum",
          "traits": {
            "smithy.api#documentation": "The country code of the number's range"
          }
        },
        "type": {
          "target": "com.ovh.telephony#TelephonyNumberDetailedZoneTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of number's range of this zone"
          }
        },
        "zipCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The zip code of the zone",
            "com.distilled.openapi#nullable": {}
          }
        },
        "zneList": {
          "target": "com.ovh.telephony#TelephonyNumberDetailedZoneZneListList",
          "traits": {
            "smithy.api#documentation": "The list of ZNE of this zone"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A geographic zone from a country"
      }
    },
    "com.ovh.telephony#TelephonyNumberDetailedZoneMatchingCriteriaEnum": {
      "type": "enum",
      "members": {
        "CITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "city"
          }
        },
        "INTERNATIONALNUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "internationalNumber"
          }
        },
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "ZNE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zne"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The possible criteria matching a searched value for a zone"
      }
    },
    "com.ovh.telephony#TelephonyNumberCountryCodeEnum": {
      "type": "intEnum",
      "members": {
        "_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 32
          }
        },
        "_33": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 33
          }
        },
        "_34": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 34
          }
        },
        "_41": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 41
          }
        },
        "_44": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 44
          }
        },
        "_49": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 49
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Number country code"
      }
    },
    "com.ovh.telephony#TelephonyNumberDetailedZoneTypeEnum": {
      "type": "enum",
      "members": {
        "GEOGRAPHIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "geographic"
          }
        },
        "NON_GEOGRAPHIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "non-geographic"
          }
        },
        "SPECIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "special"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A zone type"
      }
    },
    "com.ovh.telephony#TelephonyNumberDetailedZoneZneListList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of ZNE of this zone"
      }
    },
    "com.ovh.telephony#ListTelephonyNumberDetailedZonesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.telephony#TelephonyNumberDetailedZone"
      },
      "traits": {}
    },
    "com.ovh.telephony#ListTelephonyNumberDetailedZonesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#ListTelephonyNumberDetailedZonesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#ListTelephonyNumberDetailedZones": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#ListTelephonyNumberDetailedZonesRequest"
      },
      "output": {
        "target": "com.ovh.telephony#ListTelephonyNumberDetailedZonesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/number/detailedZones",
          "code": 200
        },
        "smithy.api#documentation": "Get all available geographic zone with some details, from a country"
      }
    },
    "com.ovh.telephony#ListTelephonyNumberRangesRequest": {
      "type": "structure",
      "members": {
        "country": {
          "target": "com.ovh.telephony#TelephonyNumberCountryEnum",
          "traits": {
            "smithy.api#httpQuery": "country",
            "smithy.api#required": {},
            "smithy.api#documentation": "The country"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#ListTelephonyNumberRangesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.telephony#ListTelephonyNumberRangesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#ListTelephonyNumberRangesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#ListTelephonyNumberRanges": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#ListTelephonyNumberRangesRequest"
      },
      "output": {
        "target": "com.ovh.telephony#ListTelephonyNumberRangesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/number/ranges",
          "code": 200
        },
        "smithy.api#documentation": "Get all available special range from a country"
      }
    },
    "com.ovh.telephony#TelephonyNumberTypeEnum": {
      "type": "enum",
      "members": {
        "GEOGRAPHIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "geographic"
          }
        },
        "NOGEOGRAPHIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nogeographic"
          }
        },
        "SPECIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "special"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Typology of number"
      }
    },
    "com.ovh.telephony#ListTelephonyNumberSpecificNumbersRequest": {
      "type": "structure",
      "members": {
        "country": {
          "target": "com.ovh.telephony#TelephonyNumberCountryEnum",
          "traits": {
            "smithy.api#httpQuery": "country",
            "smithy.api#required": {},
            "smithy.api#documentation": "The country"
          }
        },
        "range": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "range",
            "smithy.api#documentation": "The range (special number)"
          }
        },
        "type": {
          "target": "com.ovh.telephony#TelephonyNumberTypeEnum",
          "traits": {
            "smithy.api#httpQuery": "type",
            "smithy.api#required": {},
            "smithy.api#documentation": "The type of number"
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "zone",
            "smithy.api#documentation": "The zone (geographic number)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#TelephonySpecificNumber": {
      "type": "structure",
      "members": {
        "isPremium": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set if number is premium"
          }
        },
        "number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specific number available"
      }
    },
    "com.ovh.telephony#ListTelephonyNumberSpecificNumbersResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.telephony#TelephonySpecificNumber"
      },
      "traits": {}
    },
    "com.ovh.telephony#ListTelephonyNumberSpecificNumbersResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#ListTelephonyNumberSpecificNumbersResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#ListTelephonyNumberSpecificNumbers": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#ListTelephonyNumberSpecificNumbersRequest"
      },
      "output": {
        "target": "com.ovh.telephony#ListTelephonyNumberSpecificNumbersResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/number/specificNumbers",
          "code": 200
        },
        "smithy.api#documentation": "Get all available specific number from a country"
      }
    },
    "com.ovh.telephony#ListTelephonyNumberZonesRequest": {
      "type": "structure",
      "members": {
        "axiom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "axiom",
            "smithy.api#documentation": "Enter a part of a city name or a zip for specific zne returns"
          }
        },
        "country": {
          "target": "com.ovh.telephony#TelephonyNumberCountryEnum",
          "traits": {
            "smithy.api#httpQuery": "country",
            "smithy.api#required": {},
            "smithy.api#documentation": "The country"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#ListTelephonyNumberZonesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.telephony#ListTelephonyNumberZonesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#ListTelephonyNumberZonesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#ListTelephonyNumberZones": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#ListTelephonyNumberZonesRequest"
      },
      "output": {
        "target": "com.ovh.telephony#ListTelephonyNumberZonesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/number/zones",
          "code": 200
        },
        "smithy.api#documentation": "Get all available geographic zone from a country"
      }
    },
    "com.ovh.telephony#ListTelephonyProcedureResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.telephony#ListTelephonyProcedureResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#ListTelephonyProcedureResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#ListTelephonyProcedure": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.ovh.telephony#ListTelephonyProcedureResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/procedure",
          "code": 200
        },
        "smithy.api#documentation": "Procedures linked to your nichandle"
      }
    },
    "com.ovh.telephony#CreateTelephonyProcedureRequest": {
      "type": "structure",
      "members": {
        "bic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account's BIC"
          }
        },
        "iban": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account's IBAN"
          }
        },
        "ownerAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account owner's address"
          }
        },
        "ownerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account owner's name"
          }
        },
        "paymentMeanID": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of your registered SEPA account payment mean."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#TelephonyProcedure": {
      "type": "structure",
      "members": {
        "finishDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date at which the procedure was closed.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Procedure ID"
          }
        },
        "pdfUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the procedure document."
          }
        },
        "requestDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date at which the procedure was opened."
          }
        },
        "status": {
          "target": "com.ovh.telephony#TelephonyProcedureStatusEnum",
          "traits": {
            "smithy.api#documentation": "The current status of the procedure."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Procedure linked to your account"
      }
    },
    "com.ovh.telephony#TelephonyProcedureStatusEnum": {
      "type": "enum",
      "members": {
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        },
        "DOING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "doing"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "done"
          }
        },
        "TODO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "todo"
          }
        },
        "WAITING_FOR_CUSTOMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waiting_for_customer"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Telephony procedure status"
      }
    },
    "com.ovh.telephony#CreateTelephonyProcedure": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#CreateTelephonyProcedureRequest"
      },
      "output": {
        "target": "com.ovh.telephony#TelephonyProcedure"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/telephony/procedure",
          "code": 200
        },
        "smithy.api#documentation": "Create a telephony procedure"
      }
    },
    "com.ovh.telephony#GetTelephonyProcedureRequiredResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#GetTelephonyProcedureRequired": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.ovh.telephony#GetTelephonyProcedureRequiredResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/procedure/required",
          "code": 200
        },
        "smithy.api#documentation": "Tells whether the procedure is necessary to order telephony products or not"
      }
    },
    "com.ovh.telephony#GetTelephonyProcedureRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Procedure ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#GetTelephonyProcedure": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#GetTelephonyProcedureRequest"
      },
      "output": {
        "target": "com.ovh.telephony#TelephonyProcedure"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/procedure/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.telephony#CancelTelephonyProcedureRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Procedure ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#CancelTelephonyProcedure": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#CancelTelephonyProcedureRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/telephony/procedure/{id}/cancel",
          "code": 200
        },
        "smithy.api#documentation": "Cancel the given procedure."
      }
    },
    "com.ovh.telephony#GenerateTelephonyResellerPanelPassword": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/telephony/resellerPanel/generatePassword",
          "code": 200
        },
        "smithy.api#documentation": "Generate a new password for the reseller panel"
      }
    },
    "com.ovh.telephony#TelephonyResellerPanelStatus": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the reseller panel is enabled or not"
          }
        },
        "passwordUpdateStatus": {
          "target": "com.ovh.telephony#TelephonyResellerPanelPasswordUpdateStatusEnum",
          "traits": {
            "smithy.api#documentation": "Password update task status",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describe the status of the reseller panel, if it is activated and if there is a password update ongoing"
      }
    },
    "com.ovh.telephony#TelephonyResellerPanelPasswordUpdateStatusEnum": {
      "type": "enum",
      "members": {
        "DOING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "doing"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "done"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "TODO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "todo"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of password update"
      }
    },
    "com.ovh.telephony#GetTelephonyResellerPanelStatus": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.ovh.telephony#TelephonyResellerPanelStatus"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/resellerPanel/status",
          "code": 200
        },
        "smithy.api#documentation": "Status of customer reseller panel"
      }
    },
    "com.ovh.telephony#ListTelephonySearchServicesRequest": {
      "type": "structure",
      "members": {
        "axiom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "axiom",
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter the value of  property (like)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#TelephonyTelephonySearchService": {
      "type": "structure",
      "members": {
        "billingAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The billing account of the service",
            "com.distilled.openapi#nullable": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service domain"
          }
        },
        "type": {
          "target": "com.ovh.telephony#TelephonyTelephonySearchServiceTypeEnum",
          "traits": {
            "smithy.api#documentation": "The offer description"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Informations related to a telephony service"
      }
    },
    "com.ovh.telephony#TelephonyTelephonySearchServiceTypeEnum": {
      "type": "enum",
      "members": {
        "ALIAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alias"
          }
        },
        "LINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "line"
          }
        },
        "TRUNK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trunk"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of possible type of a telephony service"
      }
    },
    "com.ovh.telephony#ListTelephonySearchServicesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.telephony#TelephonyTelephonySearchService"
      },
      "traits": {}
    },
    "com.ovh.telephony#ListTelephonySearchServicesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#ListTelephonySearchServicesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#ListTelephonySearchServices": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#ListTelephonySearchServicesRequest"
      },
      "output": {
        "target": "com.ovh.telephony#ListTelephonySearchServicesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/searchServices",
          "code": 200
        },
        "smithy.api#documentation": "Search a service with its domain, to get its billing account and type"
      }
    },
    "com.ovh.telephony#SetTelephonyDefaultSipDomainRequest": {
      "type": "structure",
      "members": {
        "country": {
          "target": "com.ovh.telephony#TelephonyServiceNumberCountryEnum",
          "traits": {
            "smithy.api#documentation": "Country",
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SIP domain to set",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.ovh.telephony#TelephonySipDomainProductTypeEnum",
          "traits": {
            "smithy.api#documentation": "Product type",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#SetTelephonyDefaultSipDomain": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#SetTelephonyDefaultSipDomainRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/telephony/setDefaultSipDomain",
          "code": 200
        },
        "smithy.api#documentation": "Get all available SIP domains by country"
      }
    },
    "com.ovh.telephony#TelephonySoftphoneStoreLinks": {
      "type": "structure",
      "members": {
        "android": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Android application store link"
          }
        },
        "ios": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "iOS application store link"
          }
        },
        "macos": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MacOS application store link"
          }
        },
        "windows": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Windows application store link"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Softphone application stores links"
      }
    },
    "com.ovh.telephony#GetTelephonySoftphoneStoreLinks": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.ovh.telephony#TelephonySoftphoneStoreLinks"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/softphone/storeLinks",
          "code": 200
        },
        "smithy.api#documentation": "Get softphone application stores links"
      }
    },
    "com.ovh.telephony#ListTelephonySoftphoneThemesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.telephony#ListTelephonySoftphoneThemesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#ListTelephonySoftphoneThemesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#ListTelephonySoftphoneThemes": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.ovh.telephony#ListTelephonySoftphoneThemesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/softphone/themes",
          "code": 200
        },
        "smithy.api#documentation": "Get IDs of available softphone themes"
      }
    },
    "com.ovh.telephony#GetTelephonySoftphoneThemeRequest": {
      "type": "structure",
      "members": {
        "themeId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Theme ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#TelephonySoftphoneTheme": {
      "type": "structure",
      "members": {
        "color": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Theme main color code"
          }
        },
        "themeId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Theme ID"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Softphone theme information"
      }
    },
    "com.ovh.telephony#GetTelephonySoftphoneTheme": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#GetTelephonySoftphoneThemeRequest"
      },
      "output": {
        "target": "com.ovh.telephony#TelephonySoftphoneTheme"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/softphone/themes/{themeId}",
          "code": 200
        },
        "smithy.api#documentation": "Get softphone theme information"
      }
    },
    "com.ovh.telephony#TelephonySoftphoneBetaEligibility": {
      "type": "structure",
      "members": {
        "eligibility": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the account is eligible to the Softphone beta offer"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Softphone beta eligibility"
      }
    },
    "com.ovh.telephony#GetTelephonySoftphoneBetaEligibility": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.ovh.telephony#TelephonySoftphoneBetaEligibility"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/softphoneBetaEligibility",
          "code": 200
        },
        "smithy.api#documentation": "Get the Softphone beta eligibility status of the account"
      }
    },
    "com.ovh.telephony#ListTelephonySoundsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.telephony#ListTelephonySoundsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#ListTelephonySoundsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#ListTelephonySounds": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.ovh.telephony#ListTelephonySoundsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/sounds",
          "code": 200
        },
        "smithy.api#documentation": "Sounds attached to this telephony account"
      }
    },
    "com.ovh.telephony#CreateTelephonySoundRequest": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sound description"
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sound filename",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#TelephonySound": {
      "type": "structure",
      "members": {
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sound creation date"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sound description",
            "com.distilled.openapi#nullable": {}
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sound filename"
          }
        },
        "getUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to get sound file"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sound ID"
          }
        },
        "putUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to upload sound file",
            "com.distilled.openapi#nullable": {}
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sound file size (in bytes)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sounds attached to this telephony account"
      }
    },
    "com.ovh.telephony#CreateTelephonySound": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#CreateTelephonySoundRequest"
      },
      "output": {
        "target": "com.ovh.telephony#TelephonySound"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/telephony/sounds",
          "code": 200
        },
        "smithy.api#documentation": "Create a new sound"
      }
    },
    "com.ovh.telephony#GetTelephonySoundRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sound ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#GetTelephonySound": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#GetTelephonySoundRequest"
      },
      "output": {
        "target": "com.ovh.telephony#TelephonySound"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/sounds/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.telephony#PutTelephonySoundRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sound ID"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sound description",
            "com.distilled.openapi#nullable": {}
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sound filename"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#PutTelephonySound": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#PutTelephonySoundRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/telephony/sounds/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Alter this object properties"
      }
    },
    "com.ovh.telephony#DeleteTelephonySoundRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sound ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#DeleteTelephonySound": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#DeleteTelephonySoundRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/telephony/sounds/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete the sound"
      }
    },
    "com.ovh.telephony#ListTelephonySpareRequestIamTagsValueList": {
      "type": "list",
      "member": {
        "target": "com.ovh.telephony#IamResourceTagFilterInput"
      },
      "traits": {}
    },
    "com.ovh.telephony#ListTelephonySpareRequestIamTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.ovh.telephony#ListTelephonySpareRequestIamTagsValueList"
      },
      "traits": {}
    },
    "com.ovh.telephony#ListTelephonySpareRequest": {
      "type": "structure",
      "members": {
        "iamTags": {
          "target": "com.ovh.telephony#ListTelephonySpareRequestIamTagsMap",
          "traits": {
            "smithy.api#httpQuery": "iamTags",
            "smithy.api#documentation": "Filter resources on IAM tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#ListTelephonySpareResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.telephony#ListTelephonySpareResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#ListTelephonySpareResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#ListTelephonySpare": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#ListTelephonySpareRequest"
      },
      "output": {
        "target": "com.ovh.telephony#ListTelephonySpareResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/spare",
          "code": 200
        },
        "smithy.api#documentation": "List available services"
      }
    },
    "com.ovh.telephony#ListTelephonySpareBrandsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.telephony#ListTelephonySpareBrandsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#ListTelephonySpareBrandsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#ListTelephonySpareBrands": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.ovh.telephony#ListTelephonySpareBrandsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/spare/brands",
          "code": 200
        },
        "smithy.api#documentation": "Get all available spare brands"
      }
    },
    "com.ovh.telephony#GetTelephonySpareRequest": {
      "type": "structure",
      "members": {
        "spare": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your spare"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#SpareTelephonyTelephonySpareWithIAM": {
      "type": "structure",
      "members": {
        "brand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Phone brand model"
          }
        },
        "iam": {
          "target": "com.ovh.telephony#IamResourceMetadata",
          "traits": {
            "smithy.api#documentation": "IAM resource metadata",
            "com.distilled.openapi#nullable": {}
          }
        },
        "macAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mac address"
          }
        },
        "protocol": {
          "target": "com.ovh.telephony#TelephonyProtocolEnum",
          "traits": {
            "smithy.api#documentation": "Phone protocol"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Spare properties"
      }
    },
    "com.ovh.telephony#GetTelephonySpare": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#GetTelephonySpareRequest"
      },
      "output": {
        "target": "com.ovh.telephony#SpareTelephonyTelephonySpareWithIAM"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/spare/{spare}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.telephony#DeleteTelephonySpareRequest": {
      "type": "structure",
      "members": {
        "spare": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your spare"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#DeleteTelephonySpare": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#DeleteTelephonySpareRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/telephony/spare/{spare}",
          "code": 200
        },
        "smithy.api#documentation": "Delete the spare as if it was not belonging to OVH anymore"
      }
    },
    "com.ovh.telephony#ListTelephonySpareCompatibleReplacementRequest": {
      "type": "structure",
      "members": {
        "spare": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your spare"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#ListTelephonySpareCompatibleReplacementResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.telephony#ListTelephonySpareCompatibleReplacementResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.telephony#ListTelephonySpareCompatibleReplacementResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.telephony#ListTelephonySpareCompatibleReplacement": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#ListTelephonySpareCompatibleReplacementRequest"
      },
      "output": {
        "target": "com.ovh.telephony#ListTelephonySpareCompatibleReplacementResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/spare/{spare}/compatibleReplacement",
          "code": 200
        },
        "smithy.api#documentation": "Return the list of phone domains compatible to be replaced"
      }
    },
    "com.ovh.telephony#ReplaceTelephonySpareRequest": {
      "type": "structure",
      "members": {
        "spare": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your spare"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The phone to replace by the spare",
            "smithy.api#required": {}
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public ip of the phone",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#ReplaceTelephonySpare": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#ReplaceTelephonySpareRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/telephony/spare/{spare}/replace",
          "code": 200
        },
        "smithy.api#documentation": "Replace the phone by its spare\n\nReplace the phone by its spare. The broken phone became a spare if it was bought. An RMA is created if the broken phone is under securitydeposit."
      }
    },
    "com.ovh.telephony#GetTelephonySpareServiceInfosRequest": {
      "type": "structure",
      "members": {
        "spare": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your spare"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.telephony#GetTelephonySpareServiceInfos": {
      "type": "operation",
      "input": {
        "target": "com.ovh.telephony#GetTelephonySpareServiceInfosRequest"
      },
      "output": {
        "target": "com.ovh.telephony#ServicesService"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/telephony/spare/{spare}/serviceInfos",
[...]
