{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.ovh.vps#IamResourceTagFilterInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Resource tag filter"
      }
    },
    "com.ovh.vps#GetVpsRequestIamTagsValueList": {
      "type": "list",
      "member": {
        "target": "com.ovh.vps#IamResourceTagFilterInput"
      },
      "traits": {}
    },
    "com.ovh.vps#GetVpsRequestIamTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.ovh.vps#GetVpsRequestIamTagsValueList"
      },
      "traits": {}
    },
    "com.ovh.vps#GetVpsRequest": {
      "type": "structure",
      "members": {
        "iamTags": {
          "target": "com.ovh.vps#GetVpsRequestIamTagsMap",
          "traits": {
            "smithy.api#httpQuery": "iamTags",
            "smithy.api#documentation": "Filter resources on IAM tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vps#GetVpsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.vps#GetVpsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.vps#GetVpsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.vps#GetVps": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vps#GetVpsRequest"
      },
      "output": {
        "target": "com.ovh.vps#GetVpsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vps",
          "code": 200
        },
        "smithy.api#documentation": "List available services"
      }
    },
    "com.ovh.vps#NichandleCountryEnum": {
      "type": "enum",
      "members": {
        "AC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AC"
          }
        },
        "AD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD"
          }
        },
        "AE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AE"
          }
        },
        "AF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AF"
          }
        },
        "AG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AG"
          }
        },
        "AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AI"
          }
        },
        "AL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AL"
          }
        },
        "AM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AM"
          }
        },
        "AO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AO"
          }
        },
        "AQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AQ"
          }
        },
        "AR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AR"
          }
        },
        "AS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AS"
          }
        },
        "AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AT"
          }
        },
        "AU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AU"
          }
        },
        "AW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AW"
          }
        },
        "AX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AX"
          }
        },
        "AZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZ"
          }
        },
        "BA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BA"
          }
        },
        "BB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BB"
          }
        },
        "BD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BD"
          }
        },
        "BE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BE"
          }
        },
        "BF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BF"
          }
        },
        "BG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BG"
          }
        },
        "BH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BH"
          }
        },
        "BI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BI"
          }
        },
        "BJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BJ"
          }
        },
        "BL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BL"
          }
        },
        "BM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BM"
          }
        },
        "BN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BN"
          }
        },
        "BO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BO"
          }
        },
        "BQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BQ"
          }
        },
        "BR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BR"
          }
        },
        "BS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BS"
          }
        },
        "BT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BT"
          }
        },
        "BW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BW"
          }
        },
        "BY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BY"
          }
        },
        "BZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BZ"
          }
        },
        "CA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CA"
          }
        },
        "CC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CC"
          }
        },
        "CD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CD"
          }
        },
        "CF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CF"
          }
        },
        "CG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CG"
          }
        },
        "CH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CH"
          }
        },
        "CI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CI"
          }
        },
        "CK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CK"
          }
        },
        "CL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CL"
          }
        },
        "CM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CM"
          }
        },
        "CN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CN"
          }
        },
        "CO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CO"
          }
        },
        "CR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CR"
          }
        },
        "CU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CU"
          }
        },
        "CV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CV"
          }
        },
        "CW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CW"
          }
        },
        "CX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CX"
          }
        },
        "CY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CY"
          }
        },
        "CZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CZ"
          }
        },
        "DE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DE"
          }
        },
        "DG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DG"
          }
        },
        "DJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DJ"
          }
        },
        "DK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DK"
          }
        },
        "DM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DM"
          }
        },
        "DO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DO"
          }
        },
        "DZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DZ"
          }
        },
        "EA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EA"
          }
        },
        "EC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC"
          }
        },
        "EE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EE"
          }
        },
        "EG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EG"
          }
        },
        "EH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EH"
          }
        },
        "ER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ER"
          }
        },
        "ES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ES"
          }
        },
        "ET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ET"
          }
        },
        "FI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FI"
          }
        },
        "FJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FJ"
          }
        },
        "FK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FK"
          }
        },
        "FM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FM"
          }
        },
        "FO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FO"
          }
        },
        "FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FR"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GA"
          }
        },
        "GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GB"
          }
        },
        "GD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GD"
          }
        },
        "GE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GE"
          }
        },
        "GF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GF"
          }
        },
        "GG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GG"
          }
        },
        "GH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GH"
          }
        },
        "GI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GI"
          }
        },
        "GL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GL"
          }
        },
        "GM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GM"
          }
        },
        "GN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GN"
          }
        },
        "GP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GP"
          }
        },
        "GQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GQ"
          }
        },
        "GR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GR"
          }
        },
        "GS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GS"
          }
        },
        "GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GT"
          }
        },
        "GU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GU"
          }
        },
        "GW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GW"
          }
        },
        "GY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GY"
          }
        },
        "HK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HK"
          }
        },
        "HN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HN"
          }
        },
        "HR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HR"
          }
        },
        "HT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HT"
          }
        },
        "HU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HU"
          }
        },
        "IC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IC"
          }
        },
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ID"
          }
        },
        "IE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IE"
          }
        },
        "IL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IL"
          }
        },
        "IM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IM"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN"
          }
        },
        "IO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IO"
          }
        },
        "IQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IQ"
          }
        },
        "IR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IR"
          }
        },
        "IS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IS"
          }
        },
        "IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IT"
          }
        },
        "JE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JE"
          }
        },
        "JM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JM"
          }
        },
        "JO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JO"
          }
        },
        "JP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JP"
          }
        },
        "KE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KE"
          }
        },
        "KG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KG"
          }
        },
        "KH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KH"
          }
        },
        "KI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KI"
          }
        },
        "KM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KM"
          }
        },
        "KN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KN"
          }
        },
        "KP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KP"
          }
        },
        "KR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KR"
          }
        },
        "KW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KW"
          }
        },
        "KY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KY"
          }
        },
        "KZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KZ"
          }
        },
        "LA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LA"
          }
        },
        "LB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LB"
          }
        },
        "LC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LC"
          }
        },
        "LI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LI"
          }
        },
        "LK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LK"
          }
        },
        "LR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LR"
          }
        },
        "LS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LS"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LT"
          }
        },
        "LU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LU"
          }
        },
        "LV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LV"
          }
        },
        "LY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LY"
          }
        },
        "MA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MA"
          }
        },
        "MC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MC"
          }
        },
        "MD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MD"
          }
        },
        "ME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ME"
          }
        },
        "MF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MF"
          }
        },
        "MG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MG"
          }
        },
        "MH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MH"
          }
        },
        "MK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MK"
          }
        },
        "ML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ML"
          }
        },
        "MM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MM"
          }
        },
        "MN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MN"
          }
        },
        "MO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MO"
          }
        },
        "MP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MP"
          }
        },
        "MQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MQ"
          }
        },
        "MR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MR"
          }
        },
        "MS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MS"
          }
        },
        "MT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MT"
          }
        },
        "MU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MU"
          }
        },
        "MV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MV"
          }
        },
        "MW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MW"
          }
        },
        "MX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MX"
          }
        },
        "MY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MY"
          }
        },
        "MZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MZ"
          }
        },
        "NA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NA"
          }
        },
        "NC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NC"
          }
        },
        "NE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NE"
          }
        },
        "NF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NF"
          }
        },
        "NG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NG"
          }
        },
        "NI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NI"
          }
        },
        "NL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NL"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO"
          }
        },
        "NP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NP"
          }
        },
        "NR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NR"
          }
        },
        "NU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NU"
          }
        },
        "NZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NZ"
          }
        },
        "OM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OM"
          }
        },
        "PA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PA"
          }
        },
        "PE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PE"
          }
        },
        "PF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PF"
          }
        },
        "PG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PG"
          }
        },
        "PH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PH"
          }
        },
        "PK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PK"
          }
        },
        "PL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PL"
          }
        },
        "PM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PM"
          }
        },
        "PN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PN"
          }
        },
        "PR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PR"
          }
        },
        "PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PS"
          }
        },
        "PT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT"
          }
        },
        "PW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PW"
          }
        },
        "PY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PY"
          }
        },
        "QA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QA"
          }
        },
        "RE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RE"
          }
        },
        "RO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RO"
          }
        },
        "RS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RS"
          }
        },
        "RU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RU"
          }
        },
        "RW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RW"
          }
        },
        "SA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SA"
          }
        },
        "SB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SB"
          }
        },
        "SC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SC"
          }
        },
        "SD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SD"
          }
        },
        "SE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SE"
          }
        },
        "SG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SG"
          }
        },
        "SH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SH"
          }
        },
        "SI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SI"
          }
        },
        "SJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SJ"
          }
        },
        "SK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SK"
          }
        },
        "SL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SL"
          }
        },
        "SM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SM"
          }
        },
        "SN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SN"
          }
        },
        "SO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SO"
          }
        },
        "SR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SR"
          }
        },
        "SS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SS"
          }
        },
        "ST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ST"
          }
        },
        "SV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SV"
          }
        },
        "SX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SX"
          }
        },
        "SY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SY"
          }
        },
        "SZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SZ"
          }
        },
        "TA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TA"
          }
        },
        "TC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TC"
          }
        },
        "TD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TD"
          }
        },
        "TF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TF"
          }
        },
        "TG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TG"
          }
        },
        "TH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TH"
          }
        },
        "TJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TJ"
          }
        },
        "TK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TK"
          }
        },
        "TL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TL"
          }
        },
        "TM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TM"
          }
        },
        "TN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TN"
          }
        },
        "TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TO"
          }
        },
        "TR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TR"
          }
        },
        "TT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TT"
          }
        },
        "TV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TV"
          }
        },
        "TW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TW"
          }
        },
        "TZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TZ"
          }
        },
        "UA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UA"
          }
        },
        "UG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UG"
          }
        },
        "UM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UM"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "US"
          }
        },
        "UY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UY"
          }
        },
        "UZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UZ"
          }
        },
        "VA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VA"
          }
        },
        "VC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VC"
          }
        },
        "VE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VE"
          }
        },
        "VG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VG"
          }
        },
        "VI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VI"
          }
        },
        "VN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VN"
          }
        },
        "VU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VU"
          }
        },
        "WF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WF"
          }
        },
        "WS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WS"
          }
        },
        "XK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XK"
          }
        },
        "YE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YE"
          }
        },
        "YT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YT"
          }
        },
        "ZA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZA"
          }
        },
        "ZM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZM"
          }
        },
        "ZW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZW"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Countries a nichandle can choose"
      }
    },
    "com.ovh.vps#GetVpsDatacenterRequest": {
      "type": "structure",
      "members": {
        "country": {
          "target": "com.ovh.vps#NichandleCountryEnum",
          "traits": {
            "smithy.api#httpQuery": "country",
            "smithy.api#documentation": "Country targeted"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vps#GetVpsDatacenterResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.vps#GetVpsDatacenterResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.vps#GetVpsDatacenterResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.vps#GetVpsDatacenter": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vps#GetVpsDatacenterRequest"
      },
      "output": {
        "target": "com.ovh.vps#GetVpsDatacenterResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vps/datacenter",
          "code": 200
        },
        "smithy.api#documentation": "List all the datacenters for a specific country"
      }
    },
    "com.ovh.vps#NichandleOvhSubsidiaryEnum": {
      "type": "enum",
      "members": {
        "CZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CZ"
          }
        },
        "DE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DE"
          }
        },
        "ES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ES"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EU"
          }
        },
        "FI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FI"
          }
        },
        "FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FR"
          }
        },
        "GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GB"
          }
        },
        "IE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IE"
          }
        },
        "IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IT"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LT"
          }
        },
        "MA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MA"
          }
        },
        "NL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NL"
          }
        },
        "PL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PL"
          }
        },
        "PT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT"
          }
        },
        "SN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SN"
          }
        },
        "TN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TN"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OVH subsidiaries"
      }
    },
    "com.ovh.vps#GetVpsOrderRuleDatacenterRequest": {
      "type": "structure",
      "members": {
        "os": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "os",
            "smithy.api#documentation": "VPS OS selection in order api"
          }
        },
        "ovhSubsidiary": {
          "target": "com.ovh.vps#NichandleOvhSubsidiaryEnum",
          "traits": {
            "smithy.api#httpQuery": "ovhSubsidiary",
            "smithy.api#required": {},
            "smithy.api#documentation": "Subsidiary to sort datacenters"
          }
        },
        "planCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "planCode",
            "smithy.api#required": {},
            "smithy.api#documentation": "VPS plan code from order api"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vps#VpsOrderRuleDatacenters": {
      "type": "structure",
      "members": {
        "datacenters": {
          "target": "com.ovh.vps#VpsOrderRuleDatacentersDatacentersList"
        }
      },
      "traits": {
        "smithy.api#documentation": "Datacenters rules"
      }
    },
    "com.ovh.vps#VpsOrderRuleDatacenter": {
      "type": "structure",
      "members": {
        "datacenter": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "com.ovh.vps#VpsOrderRuleDatacenterStatusEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Datacenter rules"
      }
    },
    "com.ovh.vps#VpsOrderRuleDatacenterStatusEnum": {
      "type": "enum",
      "members": {
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "available"
          }
        },
        "OUT_OF_STOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "out-of-stock"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for datacenter status"
      }
    },
    "com.ovh.vps#VpsOrderRuleDatacentersDatacentersList": {
      "type": "list",
      "member": {
        "target": "com.ovh.vps#VpsOrderRuleDatacenter"
      },
      "traits": {}
    },
    "com.ovh.vps#GetVpsOrderRuleDatacenter": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vps#GetVpsOrderRuleDatacenterRequest"
      },
      "output": {
        "target": "com.ovh.vps#VpsOrderRuleDatacenters"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vps/order/rule/datacenter",
          "code": 200
        },
        "smithy.api#documentation": "List datacenters with priority and stock status"
      }
    },
    "com.ovh.vps#GetVpsOrderRuleOsChoicesRequest": {
      "type": "structure",
      "members": {
        "datacenter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "datacenter",
            "smithy.api#required": {},
            "smithy.api#documentation": "VPS datacenter"
          }
        },
        "os": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "os",
            "smithy.api#required": {},
            "smithy.api#documentation": "VPS OS selection in order api"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vps#VpsOrderRuleOSChoices": {
      "type": "structure",
      "members": {
        "choices": {
          "target": "com.ovh.vps#VpsOrderRuleOSChoicesChoicesList"
        }
      },
      "traits": {
        "smithy.api#documentation": "OS choices rules"
      }
    },
    "com.ovh.vps#VpsOrderRuleOSChoice": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "com.ovh.vps#VpsOrderRuleOSChoiceStatusEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "OS choice rules"
      }
    },
    "com.ovh.vps#VpsOrderRuleOSChoiceStatusEnum": {
      "type": "enum",
      "members": {
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "available"
          }
        },
        "CHECKED_BY_DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "checked-by-default"
          }
        },
        "UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unavailable"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for OS choice status"
      }
    },
    "com.ovh.vps#VpsOrderRuleOSChoicesChoicesList": {
      "type": "list",
      "member": {
        "target": "com.ovh.vps#VpsOrderRuleOSChoice"
      },
      "traits": {}
    },
    "com.ovh.vps#GetVpsOrderRuleOsChoices": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vps#GetVpsOrderRuleOsChoicesRequest"
      },
      "output": {
        "target": "com.ovh.vps#VpsOrderRuleOSChoices"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vps/order/rule/osChoices",
          "code": 200
        },
        "smithy.api#documentation": "List OS choices with status"
      }
    },
    "com.ovh.vps#GetVpsServiceNameRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vps#VpsVPSWithIAM": {
      "type": "structure",
      "members": {
        "cluster": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name displayed in ManagerV6 for your VPS (max 50 chars)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "iam": {
          "target": "com.ovh.vps#IamResourceMetadata",
          "traits": {
            "smithy.api#documentation": "IAM resource metadata",
            "com.distilled.openapi#nullable": {}
          }
        },
        "keymap": {
          "target": "com.ovh.vps#VpsVpsKeymapEnum",
          "traits": {
            "smithy.api#documentation": "Set KVM keyboard layout on VPS Cloud. Reboot your VPS after change",
            "com.distilled.openapi#nullable": {}
          }
        },
        "memoryLimit": {
          "target": "smithy.api#Integer"
        },
        "model": {
          "target": "com.ovh.vps#VpsModel"
        },
        "monitoringIpBlocks": {
          "target": "com.ovh.vps#VpsVPSWithIAMMonitoringIpBlocksList",
          "traits": {
            "smithy.api#documentation": "Ip blocks for OVH monitoring servers"
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "netbootMode": {
          "target": "com.ovh.vps#VpsVpsNetbootEnum",
          "traits": {
            "smithy.api#documentation": "All values a VPS netboot mode can be in"
          }
        },
        "offerType": {
          "target": "com.ovh.vps#VpsVpsOfferEnum"
        },
        "slaMonitoring": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "state": {
          "target": "com.ovh.vps#VpsVpsStateEnum"
        },
        "vcore": {
          "target": "smithy.api#Integer"
        },
        "zone": {
          "target": "smithy.api#String"
        },
        "zoneType": {
          "target": "com.ovh.vps#VpsZoneTypeEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "VPS Virtual Machine"
      }
    },
    "com.ovh.vps#IamResourceMetadata": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource display name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the resource"
          }
        },
        "tags": {
          "target": "com.ovh.vps#IamResourceMetadataTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:",
            "com.distilled.openapi#nullable": {}
          }
        },
        "urn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique resource name used in policies"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IAM resource metadata embedded in services models"
      }
    },
    "com.ovh.vps#IamResourceMetadataTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:"
      }
    },
    "com.ovh.vps#VpsVpsKeymapEnum": {
      "type": "enum",
      "members": {
        "FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fr"
          }
        },
        "US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All values keymap can be in"
      }
    },
    "com.ovh.vps#VpsModel": {
      "type": "structure",
      "members": {
        "availableOptions": {
          "target": "com.ovh.vps#VpsModelAvailableOptionsList"
        },
        "datacenter": {
          "target": "com.ovh.vps#VpsModelDatacenterList"
        },
        "disk": {
          "target": "smithy.api#Integer"
        },
        "maximumAdditionnalIp": {
          "target": "smithy.api#Integer"
        },
        "memory": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "offer": {
          "target": "smithy.api#String"
        },
        "vcore": {
          "target": "smithy.api#Integer"
        },
        "version": {
          "target": "com.ovh.vps#VpsVpsVersionEnum",
          "traits": {
            "smithy.api#documentation": "All versions that VPS can have"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A structure describing characteristics of a VPS model"
      }
    },
    "com.ovh.vps#VpsVpsOptionEnum": {
      "type": "enum",
      "members": {
        "ADDITIONALDISK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "additionalDisk"
          }
        },
        "AUTOMATEDBACKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automatedBackup"
          }
        },
        "CPANEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpanel"
          }
        },
        "FTPBACKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ftpbackup"
          }
        },
        "PLESK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plesk"
          }
        },
        "SNAPSHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "snapshot"
          }
        },
        "VEEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "veeam"
          }
        },
        "WINDOWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "windows"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All options a VPS can have"
      }
    },
    "com.ovh.vps#VpsModelAvailableOptionsList": {
      "type": "list",
      "member": {
        "target": "com.ovh.vps#VpsVpsOptionEnum"
      },
      "traits": {}
    },
    "com.ovh.vps#VpsModelDatacenterList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.vps#VpsVpsVersionEnum": {
      "type": "enum",
      "members": {
        "_2013V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "2013v1"
          }
        },
        "_2014V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "2014v1"
          }
        },
        "_2015V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "2015v1"
          }
        },
        "_2017V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "2017v1"
          }
        },
        "_2017V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "2017v2"
          }
        },
        "_2017V3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "2017v3"
          }
        },
        "_2018V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "2018v1"
          }
        },
        "_2018V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "2018v2"
          }
        },
        "_2019V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "2019v1"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All versions that VPS can have"
      }
    },
    "com.ovh.vps#VpsVPSWithIAMMonitoringIpBlocksList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Ip blocks for OVH monitoring servers"
      }
    },
    "com.ovh.vps#VpsVpsNetbootEnum": {
      "type": "enum",
      "members": {
        "LOCAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "local"
          }
        },
        "RESCUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rescue"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All values a VPS netboot mode can be in"
      }
    },
    "com.ovh.vps#VpsVpsOfferEnum": {
      "type": "enum",
      "members": {
        "BETA_CLASSIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "beta-classic"
          }
        },
        "CLASSIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "classic"
          }
        },
        "CLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloud"
          }
        },
        "CLOUDRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudram"
          }
        },
        "GAME_CLASSIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "game-classic"
          }
        },
        "LOWLAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lowlat"
          }
        },
        "SSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ssd"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All offers a VPS can have"
      }
    },
    "com.ovh.vps#VpsVpsStateEnum": {
      "type": "enum",
      "members": {
        "BACKUPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "backuping"
          }
        },
        "INSTALLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "installing"
          }
        },
        "MAINTENANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "maintenance"
          }
        },
        "REBOOTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rebooting"
          }
        },
        "RESCUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rescued"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopped"
          }
        },
        "STOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopping"
          }
        },
        "UPGRADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "upgrading"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All states a VPS can be in"
      }
    },
    "com.ovh.vps#VpsZoneTypeEnum": {
      "type": "enum",
      "members": {
        "LOCALZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "localzone"
          }
        },
        "REGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "region"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enum values for zone type"
      }
    },
    "com.ovh.vps#GetVpsServiceName": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vps#GetVpsServiceNameRequest"
      },
      "output": {
        "target": "com.ovh.vps#VpsVPSWithIAM"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vps/{serviceName}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.vps#PutVpsServiceNameRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name displayed in ManagerV6 for your VPS (max 50 chars)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "keymap": {
          "target": "com.ovh.vps#VpsVpsKeymapEnum",
          "traits": {
            "smithy.api#documentation": "Set KVM keyboard layout on VPS Cloud. Reboot your VPS after change",
            "com.distilled.openapi#nullable": {}
          }
        },
        "netbootMode": {
          "target": "com.ovh.vps#VpsVpsNetbootEnum",
          "traits": {
            "smithy.api#documentation": "All values a VPS netboot mode can be in"
          }
        },
        "slaMonitoring": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vps#PutVpsServiceName": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vps#PutVpsServiceNameRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/vps/{serviceName}",
          "code": 200
        },
        "smithy.api#documentation": "Alter this object properties"
      }
    },
    "com.ovh.vps#PostVpsServiceNameAbortSnapshotRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vps#PostVpsServiceNameAbortSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vps#PostVpsServiceNameAbortSnapshotRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/vps/{serviceName}/abortSnapshot",
          "code": 200
        },
        "smithy.api#documentation": "Abort ongoing snapshot or autobackup"
      }
    },
    "com.ovh.vps#GetVpsServiceNameAutomatedBackupRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vps#VpsAutomatedBackup": {
      "type": "structure",
      "members": {
        "schedule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scheduled time of your daily backup",
            "com.distilled.openapi#nullable": {}
          }
        },
        "state": {
          "target": "com.ovh.vps#VpsBackupStateEnum",
          "traits": {
            "smithy.api#documentation": "Backup state"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Backup your VPS"
      }
    },
    "com.ovh.vps#VpsBackupStateEnum": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Available AutomatedBackup states"
      }
    },
    "com.ovh.vps#GetVpsServiceNameAutomatedBackup": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vps#GetVpsServiceNameAutomatedBackupRequest"
      },
      "output": {
        "target": "com.ovh.vps#VpsAutomatedBackup"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vps/{serviceName}/automatedBackup",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.vps#GetVpsServiceNameAutomatedBackupAttachedBackupRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vps#VpsAutomatedBackupAttached": {
      "type": "structure",
      "members": {
        "access": {
          "target": "com.ovh.vps#VpsAutomatedBackupAttachedInfos",
          "traits": {
            "smithy.api#documentation": "A structure describing a backup's access informations"
          }
        },
        "restorePoint": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "A backup attached to your VPS"
      }
    },
    "com.ovh.vps#VpsAutomatedBackupAttachedInfos": {
      "type": "structure",
      "members": {
        "additionalDisk": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Additional Disk details",
            "com.distilled.openapi#nullable": {}
          }
        },
        "nfs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "NFS URL of the backup",
            "com.distilled.openapi#nullable": {}
          }
        },
        "smb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SMB URL of the backup",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A structure describing a backup's access informations"
      }
    },
    "com.ovh.vps#GetVpsServiceNameAutomatedBackupAttachedBackupResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.vps#VpsAutomatedBackupAttached"
      },
      "traits": {}
    },
    "com.ovh.vps#GetVpsServiceNameAutomatedBackupAttachedBackupResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.vps#GetVpsServiceNameAutomatedBackupAttachedBackupResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.vps#GetVpsServiceNameAutomatedBackupAttachedBackup": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vps#GetVpsServiceNameAutomatedBackupAttachedBackupRequest"
      },
      "output": {
        "target": "com.ovh.vps#GetVpsServiceNameAutomatedBackupAttachedBackupResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vps/{serviceName}/automatedBackup/attachedBackup",
          "code": 200
        },
        "smithy.api#documentation": "Backup attached to your VPS"
      }
    },
    "com.ovh.vps#PostVpsServiceNameAutomatedBackupDetachBackupRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "restorePoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "restorePoint fetched in /vps/{serviceName}/automatedBackup/attachedBackup",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vps#VpsTask": {
      "type": "structure",
      "members": {
        "date": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#Integer"
        },
        "progress": {
          "target": "smithy.api#Integer"
        },
        "state": {
          "target": "com.ovh.vps#VpsTaskStateEnum"
        },
        "type": {
          "target": "com.ovh.vps#VpsTaskTypeEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Operation on a VPS Virtual Machine"
      }
    },
    "com.ovh.vps#VpsTaskStateEnum": {
      "type": "enum",
      "members": {
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blocked"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        },
        "DOING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "doing"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "done"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paused"
          }
        },
        "TODO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "todo"
          }
        },
        "WAITINGACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waitingAck"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All states a VPS task can be in"
      }
    },
    "com.ovh.vps#VpsTaskTypeEnum": {
      "type": "enum",
      "members": {
        "ADDVEEAMBACKUPJOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "addVeeamBackupJob"
          }
        },
        "CHANGEROOTPASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "changeRootPassword"
          }
        },
        "CREATESNAPSHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "createSnapshot"
          }
        },
        "DELETESNAPSHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleteSnapshot"
          }
        },
        "DELIVERVM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deliverVm"
          }
        },
        "GETCONSOLEURL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "getConsoleUrl"
          }
        },
        "INTERNALTASK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "internalTask"
          }
        },
        "MIGRATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "migrate"
          }
        },
        "OPENCONSOLEACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openConsoleAccess"
          }
        },
        "PROVISIONINGADDITIONALIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provisioningAdditionalIp"
          }
        },
        "REOPENVM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reOpenVm"
          }
        },
        "REBOOTVM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rebootVm"
          }
        },
        "REINSTALLVM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reinstallVm"
          }
        },
        "REMOVEVEEAMBACKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "removeVeeamBackup"
          }
        },
        "RESCHEDULEAUTOBACKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rescheduleAutoBackup"
          }
        },
        "RESTOREFULLVEEAMBACKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "restoreFullVeeamBackup"
          }
        },
        "RESTOREVEEAMBACKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "restoreVeeamBackup"
          }
        },
        "RESTOREVM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "restoreVm"
          }
        },
        "REVERTSNAPSHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "revertSnapshot"
          }
        },
        "SETMONITORING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "setMonitoring"
          }
        },
        "SETNETBOOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "setNetboot"
          }
        },
        "STARTVM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "startVm"
          }
        },
        "STOPVM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopVm"
          }
        },
        "UPGRADEVM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "upgradeVm"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All type a VPS task can be"
      }
    },
    "com.ovh.vps#PostVpsServiceNameAutomatedBackupDetachBackup": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vps#PostVpsServiceNameAutomatedBackupDetachBackupRequest"
      },
      "output": {
        "target": "com.ovh.vps#VpsTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/vps/{serviceName}/automatedBackup/detachBackup",
          "code": 200
        },
        "smithy.api#documentation": "Create a VPS.Task that will umount a restored backup on your VPS"
      }
    },
    "com.ovh.vps#PostVpsServiceNameAutomatedBackupRescheduleRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "schedule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time (e.g., 15:04:05)",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vps#PostVpsServiceNameAutomatedBackupReschedule": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vps#PostVpsServiceNameAutomatedBackupRescheduleRequest"
      },
      "output": {
        "target": "com.ovh.vps#VpsTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/vps/{serviceName}/automatedBackup/reschedule",
          "code": 200
        },
        "smithy.api#documentation": "Change the scheduled time of your daily backup"
      }
    },
    "com.ovh.vps#VpsRestoreTypeEnum": {
      "type": "enum",
      "members": {
        "FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "file"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "full"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Available restore types"
      }
    },
    "com.ovh.vps#PostVpsServiceNameAutomatedBackupRestoreRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "changePassword": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Only with restore full on VPS Cloud 2014"
          }
        },
        "restorePoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Restore Point fetched in /automatedBackup/restorePoints",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.ovh.vps#VpsRestoreTypeEnum",
          "traits": {
            "smithy.api#documentation": "Available restore types",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vps#PostVpsServiceNameAutomatedBackupRestore": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vps#PostVpsServiceNameAutomatedBackupRestoreRequest"
      },
      "output": {
        "target": "com.ovh.vps#VpsTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/vps/{serviceName}/automatedBackup/restore",
          "code": 200
        },
        "smithy.api#documentation": "Creates a VPS.Task that will restore the given restorePoint"
      }
    },
    "com.ovh.vps#VpsRestoreStateEnum": {
      "type": "enum",
      "members": {
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "available"
          }
        },
        "RESTORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "restored"
          }
        },
        "RESTORING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "restoring"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Available restore state"
      }
    },
    "com.ovh.vps#GetVpsServiceNameAutomatedBackupRestorePointsRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "state": {
          "target": "com.ovh.vps#VpsRestoreStateEnum",
          "traits": {
            "smithy.api#httpQuery": "state",
            "smithy.api#required": {},
            "smithy.api#documentation": "The state of the restore point"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vps#GetVpsServiceNameAutomatedBackupRestorePointsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.vps#GetVpsServiceNameAutomatedBackupRestorePointsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.vps#GetVpsServiceNameAutomatedBackupRestorePointsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.vps#GetVpsServiceNameAutomatedBackupRestorePoints": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vps#GetVpsServiceNameAutomatedBackupRestorePointsRequest"
      },
      "output": {
        "target": "com.ovh.vps#GetVpsServiceNameAutomatedBackupRestorePointsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vps/{serviceName}/automatedBackup/restorePoints",
          "code": 200
        },
        "smithy.api#documentation": "Get available Restore Points"
      }
    },
    "com.ovh.vps#GetVpsServiceNameAvailableUpgradeRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vps#GetVpsServiceNameAvailableUpgradeResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.vps#VpsModel"
      },
      "traits": {}
    },
    "com.ovh.vps#GetVpsServiceNameAvailableUpgradeResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.vps#GetVpsServiceNameAvailableUpgradeResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.vps#GetVpsServiceNameAvailableUpgrade": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vps#GetVpsServiceNameAvailableUpgradeRequest"
      },
      "output": {
        "target": "com.ovh.vps#GetVpsServiceNameAvailableUpgradeResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vps/{serviceName}/availableUpgrade",
          "code": 200
        },
        "smithy.api#documentation": "Return all models the virtual server can be upgraded to"
      }
    },
    "com.ovh.vps#GetVpsServiceNameBackupftpRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vps#VpsBackupFtp": {
      "type": "structure",
      "members": {
        "ftpBackupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The backup FTP server name"
          }
        },
        "quota": {
          "target": "com.ovh.vps#ComplexTypeUnitAndValueLong",
          "traits": {
            "smithy.api#documentation": "The disk space available on your backup FTP",
            "com.distilled.openapi#nullable": {}
          }
        },
        "readOnlyDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If not-null, gives the date since when your account was set in read-only mode because the quota was exceeded",
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The backup FTP type"
          }
        },
        "usage": {
          "target": "com.ovh.vps#ComplexTypeUnitAndValueLong",
          "traits": {
            "smithy.api#documentation": "The disk space currently used on your backup FTP",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Backup Ftp assigned to this VPS"
      }
    },
    "com.ovh.vps#ComplexTypeUnitAndValueLong": {
      "type": "structure",
      "members": {
        "unit": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#documentation": "complexType.UnitAndValue_long"
      }
    },
    "com.ovh.vps#GetVpsServiceNameBackupftp": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vps#GetVpsServiceNameBackupftpRequest"
      },
      "output": {
        "target": "com.ovh.vps#VpsBackupFtp"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vps/{serviceName}/backupftp",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.vps#GetVpsServiceNameBackupftpAccessRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vps#GetVpsServiceNameBackupftpAccessResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.vps#GetVpsServiceNameBackupftpAccessResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.vps#GetVpsServiceNameBackupftpAccessResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.vps#GetVpsServiceNameBackupftpAccess": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vps#GetVpsServiceNameBackupftpAccessRequest"
      },
      "output": {
        "target": "com.ovh.vps#GetVpsServiceNameBackupftpAccessResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vps/{serviceName}/backupftp/access",
          "code": 200
        },
        "smithy.api#documentation": "List of IP blocks (and protocols to allow on these blocks) authorized on your backup FTP"
      }
    },
    "com.ovh.vps#PostVpsServiceNameBackupftpAccessRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "cifs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to allow the CIFS (SMB) protocol for this ACL",
            "smithy.api#required": {}
          }
        },
        "ftp": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to allow the FTP protocol for this ACL"
          }
        },
        "ipBlock": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP CIDR notation (e.g., 192.0.2.0/24)",
            "smithy.api#required": {}
          }
        },
        "nfs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to allow the NFS protocol for this ACL",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vps#DedicatedServerTask": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Details of this task",
            "com.distilled.openapi#nullable": {}
          }
        },
        "doneDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Completion date",
            "com.distilled.openapi#nullable": {}
          }
        },
        "function": {
          "target": "com.ovh.vps#DedicatedTaskFunctionEnum",
          "traits": {
            "smithy.api#documentation": "Function name"
          }
        },
        "lastUpdate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "last update",
            "com.distilled.openapi#nullable": {}
          }
        },
        "needSchedule": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this task need to be scheduled or not"
          }
        },
        "note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Extra information about this task",
            "com.distilled.openapi#nullable": {}
          }
        },
        "plannedInterventionId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the planned intervention for this task",
            "com.distilled.openapi#nullable": {}
          }
        },
        "startDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Task Creation date"
          }
        },
        "status": {
          "target": "com.ovh.vps#DedicatedTaskStatusEnum",
          "traits": {
            "smithy.api#documentation": "Task status"
          }
        },
        "tags": {
          "target": "com.ovh.vps#DedicatedServerTaskTagsList",
          "traits": {
            "smithy.api#documentation": "Task result tags output",
            "com.distilled.openapi#nullable": {}
          }
        },
        "taskId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "the id of the task"
          }
        },
        "ticketReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reference of the thread on the support tool",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Server tasks"
      }
    },
    "com.ovh.vps#DedicatedTaskFunctionEnum": {
      "type": "enum",
      "members": {
        "INFRA_002_VIRTUALNETWORKINTERFACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFRA_002_VirtualNetworkInterface"
          }
        },
        "INFRA_002_VIRTUALNETWORKINTERFACE_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFRA_002_VirtualNetworkInterface_group"
          }
        },
        "INFRA_002_VIRTUALNETWORKINTERFACE_UNGROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFRA_002_VirtualNetworkInterface_ungroup"
          }
        },
        "INFRA_ONE_NETWORK_ONEAPI_VIRTUALNETWORKINTERFACE_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFRA_ONE_NETWORK_ONEAPI_VirtualNetworkInterface_group"
          }
        },
        "INFRA_ONE_NETWORK_ONEAPI_VIRTUALNETWORKINTERFACE_UNGROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFRA_ONE_NETWORK_ONEAPI_VirtualNetworkInterface_ungroup"
          }
        },
        "INFRA_ONE_NETWORK_VIRTUALNETWORKINTERFACE_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFRA_ONE_NETWORK_VirtualNetworkInterface_group"
          }
        },
        "INFRA_ONE_NETWORK_VIRTUALNETWORKINTERFACE_UNGROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFRA_ONE_NETWORK_VirtualNetworkInterface_ungroup"
          }
        },
        "ADDVIRTUALMAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "addVirtualMac"
          }
        },
        "ADDWINDOWSPLAFROMEXISTINGSERIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "addWindowSplaFromExistingSerial"
          }
        },
        "APPLYBACKUPFTPACLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "applyBackupFtpAcls"
          }
        },
        "APPLYBACKUPFTPQUOTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "applyBackupFtpQuota"
          }
        },
        "BYPASSANTIDDOSGAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bypassAntiDDosGame"
          }
        },
        "CHANGEPASSWORDBACKUPFTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "changePasswordBackupFTP"
          }
        },
        "CHANGERIPEORG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "changeRipeOrg"
          }
        },
        "CHECKANDRELEASEIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "checkAndReleaseIp"
          }
        },
        "CREATEBACKUPFTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "createBackupFTP"
          }
        },
        "CREATEORUPDATERIPEORG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "createOrUpdateRipeOrg"
          }
        },
        "CREATEPRIVATENETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "createPrivateNetwork"
          }
        },
        "DISABLEFIREWALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disableFirewall"
          }
        },
        "ENABLEFIREWALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enableFirewall"
          }
        },
        "GENERICMOVEFLOATINGIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "genericMoveFloatingIp"
          }
        },
        "HARDREBOOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hardReboot"
          }
        },
        "HARDWARE_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hardware_update"
          }
        },
        "IPMI_CONFIGURESGX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipmi/configureSGX"
          }
        },
        "MIGRATEBACKUPFTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "migrateBackupFTP"
          }
        },
        "MOVEFLOATINGIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "moveFloatingIp"
          }
        },
        "MOVEVIRTUALMAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "moveVirtualMac"
          }
        },
        "REAGREGATEBLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reagregateBlock"
          }
        },
        "REBOOTPOWER8TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rebootPower8To"
          }
        },
        "REINSTALLSERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reinstallServer"
          }
        },
        "RELEASEIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "releaseIp"
          }
        },
        "REMOVEBACKUPFTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "removeBackupFTP"
          }
        },
        "REMOVEVIRTUALMAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "removeVirtualMac"
          }
        },
        "REQUESTACCESSIPMI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requestAccessIPMI"
          }
        },
        "RESETIPMI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resetIPMI"
          }
        },
        "RESETIPMISESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resetIPMISession"
          }
        },
        "TESTIPMIHTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "testIPMIhttp"
          }
        },
        "TESTIPMIPASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "testIPMIpassword"
          }
        },
        "TESTIPMIPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "testIPMIping"
          }
        },
        "VIRTUALMACADD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "virtualMacAdd"
          }
        },
        "VIRTUALMACDELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "virtualMacDelete"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "different task operation"
      }
    },
    "com.ovh.vps#DedicatedTaskStatusEnum": {
      "type": "enum",
      "members": {
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        },
        "CUSTOMERERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "customerError"
          }
        },
        "DOING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "doing"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
