{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.ovh.vrack#IamResourceTagFilterInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Resource tag filter"
      }
    },
    "com.ovh.vrack#GetVrackRequestIamTagsValueList": {
      "type": "list",
      "member": {
        "target": "com.ovh.vrack#IamResourceTagFilterInput"
      },
      "traits": {}
    },
    "com.ovh.vrack#GetVrackRequestIamTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.ovh.vrack#GetVrackRequestIamTagsValueList"
      },
      "traits": {}
    },
    "com.ovh.vrack#GetVrackRequest": {
      "type": "structure",
      "members": {
        "iamTags": {
          "target": "com.ovh.vrack#GetVrackRequestIamTagsMap",
          "traits": {
            "smithy.api#httpQuery": "iamTags",
            "smithy.api#documentation": "Filter resources on IAM tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#GetVrackResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.vrack#GetVrackResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.vrack#GetVrackResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.vrack#GetVrack": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#GetVrackRequest"
      },
      "output": {
        "target": "com.ovh.vrack#GetVrackResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vrack",
          "code": 200
        },
        "smithy.api#documentation": "List available services"
      }
    },
    "com.ovh.vrack#GetVrackServiceNameRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#VrackVrackWithIAM": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the vRack"
          }
        },
        "iam": {
          "target": "com.ovh.vrack#IamResourceMetadata",
          "traits": {
            "smithy.api#documentation": "IAM resource metadata",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the vRack"
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service name of your vRack on OVHcloud"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "vrack"
      }
    },
    "com.ovh.vrack#IamResourceMetadata": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource display name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the resource"
          }
        },
        "tags": {
          "target": "com.ovh.vrack#IamResourceMetadataTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:",
            "com.distilled.openapi#nullable": {}
          }
        },
        "urn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique resource name used in policies"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IAM resource metadata embedded in services models"
      }
    },
    "com.ovh.vrack#IamResourceMetadataTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:"
      }
    },
    "com.ovh.vrack#GetVrackServiceName": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#GetVrackServiceNameRequest"
      },
      "output": {
        "target": "com.ovh.vrack#VrackVrackWithIAM"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vrack/{serviceName}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.vrack#PutVrackServiceNameRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the vRack"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the vRack"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#PutVrackServiceName": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#PutVrackServiceNameRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/vrack/{serviceName}",
          "code": 200
        },
        "smithy.api#documentation": "Alter this object properties"
      }
    },
    "com.ovh.vrack#VrackAllowedServiceEnum": {
      "type": "enum",
      "members": {
        "CLOUDPROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudProject"
          }
        },
        "DEDICATEDCLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dedicatedCloud"
          }
        },
        "DEDICATEDCLOUDDATACENTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dedicatedCloudDatacenter"
          }
        },
        "DEDICATEDCONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dedicatedConnect"
          }
        },
        "DEDICATEDSERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dedicatedServer"
          }
        },
        "DEDICATEDSERVERINTERFACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dedicatedServerInterface"
          }
        },
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        },
        "IPLOADBALANCING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipLoadbalancing"
          }
        },
        "IPV6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipv6"
          }
        },
        "LEGACYVRACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "legacyVrack"
          }
        },
        "OVHCLOUDCONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ovhCloudConnect"
          }
        },
        "VMWARECLOUDDIRECTORVIRTUALDATACENTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vmwareCloudDirectorVirtualDataCenter"
          }
        },
        "VRACKSERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vrackServices"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for vrack allowed service"
      }
    },
    "com.ovh.vrack#GetVrackServiceNameAllowedServicesRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        },
        "serviceFamily": {
          "target": "com.ovh.vrack#VrackAllowedServiceEnum",
          "traits": {
            "smithy.api#httpQuery": "serviceFamily",
            "smithy.api#documentation": "Filter on a specific service family"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#VrackAllowedServices": {
      "type": "structure",
      "members": {
        "cloudProject": {
          "target": "com.ovh.vrack#VrackAllowedServicesCloudProjectList",
          "traits": {
            "smithy.api#documentation": "list of publicCloud projects allowed to be connected to vrack",
            "com.distilled.openapi#nullable": {}
          }
        },
        "dedicatedCloud": {
          "target": "com.ovh.vrack#VrackAllowedServicesDedicatedCloudList",
          "traits": {
            "smithy.api#documentation": "list of dedicated cloud allowed to be connected to vrack",
            "com.distilled.openapi#nullable": {}
          }
        },
        "dedicatedCloudDatacenter": {
          "target": "com.ovh.vrack#VrackAllowedServicesDedicatedCloudDatacenterList",
          "traits": {
            "smithy.api#documentation": "list of dedicated cloud datacenters allowed to be connected to vrack",
            "com.distilled.openapi#nullable": {}
          }
        },
        "dedicatedConnect": {
          "target": "com.ovh.vrack#VrackAllowedServicesDedicatedConnectList",
          "traits": {
            "smithy.api#documentation": "list of dedicated connect links allowed to be connected to vrack",
            "com.distilled.openapi#nullable": {}
          }
        },
        "dedicatedServer": {
          "target": "com.ovh.vrack#VrackAllowedServicesDedicatedServerList",
          "traits": {
            "smithy.api#documentation": "list of dedicated servers allowed to be connected to vrack",
            "com.distilled.openapi#nullable": {}
          }
        },
        "dedicatedServerInterface": {
          "target": "com.ovh.vrack#VrackAllowedServicesDedicatedServerInterfaceList",
          "traits": {
            "smithy.api#documentation": "list of dedicated server interfaces allowed to be connected to vrack",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ip": {
          "target": "com.ovh.vrack#VrackAllowedServicesIpList",
          "traits": {
            "smithy.api#documentation": "list of blocks allowed to be connected to vrack",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ipLoadbalancing": {
          "target": "com.ovh.vrack#VrackAllowedServicesIpLoadbalancingList",
          "traits": {
            "smithy.api#documentation": "list of ipLoadbalancing allowed to be connected to vrack",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ipv6": {
          "target": "com.ovh.vrack#VrackAllowedServicesIpv6List",
          "traits": {
            "smithy.api#documentation": "list of ipv6 blocks allowed to be connected to vrack",
            "com.distilled.openapi#nullable": {}
          }
        },
        "legacyVrack": {
          "target": "com.ovh.vrack#VrackAllowedServicesLegacyVrackList",
          "traits": {
            "smithy.api#documentation": "list of legacy vrack (1.0) allowed to be connected to vrack",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ovhCloudConnect": {
          "target": "com.ovh.vrack#VrackAllowedServicesOvhCloudConnectList",
          "traits": {
            "smithy.api#documentation": "List of the ovhCloudConnect services allowed to be connected to vrack",
            "com.distilled.openapi#nullable": {}
          }
        },
        "vmwareCloudDirectorVirtualDataCenter": {
          "target": "com.ovh.vrack#VrackAllowedServicesVmwareCloudDirectorVirtualDataCenterList",
          "traits": {
            "smithy.api#documentation": "List of the vmwareCloudDirectorVirtualDataCenter allowed to be connected to vrack",
            "com.distilled.openapi#nullable": {}
          }
        },
        "vrackServices": {
          "target": "com.ovh.vrack#VrackAllowedServicesVrackServicesList",
          "traits": {
            "smithy.api#documentation": "List of the vrackServices allowed to be connected to vrack",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A structure given all service allowed for this vrack"
      }
    },
    "com.ovh.vrack#VrackAllowedServicesCloudProjectList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "list of publicCloud projects allowed to be connected to vrack"
      }
    },
    "com.ovh.vrack#VrackAllowedServicesDedicatedCloudList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "list of dedicated cloud allowed to be connected to vrack"
      }
    },
    "com.ovh.vrack#VrackAllowedServicesDedicatedCloudDatacenterList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "list of dedicated cloud datacenters allowed to be connected to vrack"
      }
    },
    "com.ovh.vrack#VrackAllowedServicesDedicatedConnectList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "list of dedicated connect links allowed to be connected to vrack"
      }
    },
    "com.ovh.vrack#VrackAllowedServicesDedicatedServerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "list of dedicated servers allowed to be connected to vrack"
      }
    },
    "com.ovh.vrack#VrackAllowedDedicatedServerInterfaces": {
      "type": "structure",
      "members": {
        "dedicatedServer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the name of dedicatedServer"
          }
        },
        "dedicatedServerInterface": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the unique identifier of dedicatedServerInterface"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the name of dedicatedServerInterface"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A structure giving all dedicated server interfaces allowed for this vrack"
      }
    },
    "com.ovh.vrack#VrackAllowedServicesDedicatedServerInterfaceList": {
      "type": "list",
      "member": {
        "target": "com.ovh.vrack#VrackAllowedDedicatedServerInterfaces"
      },
      "traits": {
        "smithy.api#documentation": "list of dedicated server interfaces allowed to be connected to vrack"
      }
    },
    "com.ovh.vrack#VrackAllowedServicesIpList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "list of blocks allowed to be connected to vrack"
      }
    },
    "com.ovh.vrack#VrackAllowedServicesIpLoadbalancingList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "list of ipLoadbalancing allowed to be connected to vrack"
      }
    },
    "com.ovh.vrack#VrackAllowedServicesIpv6List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "list of ipv6 blocks allowed to be connected to vrack"
      }
    },
    "com.ovh.vrack#VrackAllowedServicesLegacyVrackList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "list of legacy vrack (1.0) allowed to be connected to vrack"
      }
    },
    "com.ovh.vrack#VrackAllowedServicesOvhCloudConnectList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of the ovhCloudConnect services allowed to be connected to vrack"
      }
    },
    "com.ovh.vrack#VrackAllowedServicesVmwareCloudDirectorVirtualDataCenterList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of the vmwareCloudDirectorVirtualDataCenter allowed to be connected to vrack"
      }
    },
    "com.ovh.vrack#VrackAllowedServicesVrackServicesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of the vrackServices allowed to be connected to vrack"
      }
    },
    "com.ovh.vrack#GetVrackServiceNameAllowedServices": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#GetVrackServiceNameAllowedServicesRequest"
      },
      "output": {
        "target": "com.ovh.vrack#VrackAllowedServices"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vrack/{serviceName}/allowedServices",
          "code": 200
        },
        "smithy.api#documentation": "List all services allowed in this vrack"
      }
    },
    "com.ovh.vrack#PostVrackServiceNameChangeContactRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        },
        "contactAdmin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as admin contact"
          }
        },
        "contactBilling": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as billing contact"
          }
        },
        "contactTech": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as tech contact"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#PostVrackServiceNameChangeContactResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.vrack#PostVrackServiceNameChangeContactResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.vrack#PostVrackServiceNameChangeContactResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.vrack#PostVrackServiceNameChangeContact": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#PostVrackServiceNameChangeContactRequest"
      },
      "output": {
        "target": "com.ovh.vrack#PostVrackServiceNameChangeContactResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/vrack/{serviceName}/changeContact",
          "code": 200
        },
        "smithy.api#documentation": "Launch a contact change procedure"
      }
    },
    "com.ovh.vrack#GetVrackServiceNameCloudProjectRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#GetVrackServiceNameCloudProjectResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.vrack#GetVrackServiceNameCloudProjectResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.vrack#GetVrackServiceNameCloudProjectResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.vrack#GetVrackServiceNameCloudProject": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#GetVrackServiceNameCloudProjectRequest"
      },
      "output": {
        "target": "com.ovh.vrack#GetVrackServiceNameCloudProjectResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vrack/{serviceName}/cloudProject",
          "code": 200
        },
        "smithy.api#documentation": "vrack for publicCloud project"
      }
    },
    "com.ovh.vrack#PostVrackServiceNameCloudProjectRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        },
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "publicCloud project to add",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#VrackTask": {
      "type": "structure",
      "members": {
        "function": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#Integer"
        },
        "lastUpdate": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "orderId": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.ovh.vrack#VrackTaskStatusEnum",
          "traits": {
            "smithy.api#documentation": "Task status"
          }
        },
        "targetDomain": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "todoDate": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "vrack tasks"
      }
    },
    "com.ovh.vrack#VrackTaskStatusEnum": {
      "type": "enum",
      "members": {
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        },
        "DOING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "doing"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "done"
          }
        },
        "INIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "init"
          }
        },
        "TODO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "todo"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All states a vRack Task can be in"
      }
    },
    "com.ovh.vrack#PostVrackServiceNameCloudProject": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#PostVrackServiceNameCloudProjectRequest"
      },
      "output": {
        "target": "com.ovh.vrack#VrackTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/vrack/{serviceName}/cloudProject",
          "code": 200
        },
        "smithy.api#documentation": "add a publicCloud project to this vrack"
      }
    },
    "com.ovh.vrack#GetVrackServiceNameCloudProjectProjectRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        },
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "publicCloud project"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#VrackCloudProject": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "publicCloud project"
          }
        },
        "vrack": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "vrack name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PublicCloud project in vrack"
      }
    },
    "com.ovh.vrack#GetVrackServiceNameCloudProjectProject": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#GetVrackServiceNameCloudProjectProjectRequest"
      },
      "output": {
        "target": "com.ovh.vrack#VrackCloudProject"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vrack/{serviceName}/cloudProject/{project}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.vrack#DeleteVrackServiceNameCloudProjectProjectRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        },
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "publicCloud project"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#DeleteVrackServiceNameCloudProjectProject": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#DeleteVrackServiceNameCloudProjectProjectRequest"
      },
      "output": {
        "target": "com.ovh.vrack#VrackTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/vrack/{serviceName}/cloudProject/{project}",
          "code": 200
        },
        "smithy.api#documentation": "remove this publicCloud project from this vrack"
      }
    },
    "com.ovh.vrack#ServiceTerminationFutureUseEnum": {
      "type": "enum",
      "members": {
        "NOT_REPLACING_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_REPLACING_SERVICE"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        },
        "SUBSCRIBE_AN_OTHER_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIBE_AN_OTHER_SERVICE"
          }
        },
        "SUBSCRIBE_OTHER_KIND_OF_SERVICE_WITH_COMPETITOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIBE_OTHER_KIND_OF_SERVICE_WITH_COMPETITOR"
          }
        },
        "SUBSCRIBE_SIMILAR_SERVICE_WITH_COMPETITOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIBE_SIMILAR_SERVICE_WITH_COMPETITOR"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All future uses you can provide for a service termination"
      }
    },
    "com.ovh.vrack#ServiceTerminationReasonEnum": {
      "type": "enum",
      "members": {
        "FEATURES_DONT_SUIT_ME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEATURES_DONT_SUIT_ME"
          }
        },
        "LACK_OF_PERFORMANCES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LACK_OF_PERFORMANCES"
          }
        },
        "MIGRATED_TO_ANOTHER_OVH_PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIGRATED_TO_ANOTHER_OVH_PRODUCT"
          }
        },
        "MIGRATED_TO_COMPETITOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIGRATED_TO_COMPETITOR"
          }
        },
        "NOT_ENOUGH_RECOGNITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_ENOUGH_RECOGNITION"
          }
        },
        "NOT_NEEDED_ANYMORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_NEEDED_ANYMORE"
          }
        },
        "NOT_RELIABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_RELIABLE"
          }
        },
        "NO_ANSWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_ANSWER"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        },
        "PRODUCT_DIMENSION_DONT_SUIT_ME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_DIMENSION_DONT_SUIT_ME"
          }
        },
        "PRODUCT_TOOLS_DONT_SUIT_ME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TOOLS_DONT_SUIT_ME"
          }
        },
        "TOO_EXPENSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOO_EXPENSIVE"
          }
        },
        "TOO_HARD_TO_USE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOO_HARD_TO_USE"
          }
        },
        "UNSATIFIED_BY_CUSTOMER_SUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSATIFIED_BY_CUSTOMER_SUPPORT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All reasons you can provide for a service termination"
      }
    },
    "com.ovh.vrack#PostVrackServiceNameConfirmTerminationRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        },
        "commentary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Commentary about your termination request"
          }
        },
        "futureUse": {
          "target": "com.ovh.vrack#ServiceTerminationFutureUseEnum",
          "traits": {
            "smithy.api#documentation": "What next after your termination request"
          }
        },
        "reason": {
          "target": "com.ovh.vrack#ServiceTerminationReasonEnum",
          "traits": {
            "smithy.api#documentation": "Reason of your termination request"
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The termination token sent by email to the admin contact",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#PostVrackServiceNameConfirmTerminationResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.vrack#PostVrackServiceNameConfirmTermination": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#PostVrackServiceNameConfirmTerminationRequest"
      },
      "output": {
        "target": "com.ovh.vrack#PostVrackServiceNameConfirmTerminationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/vrack/{serviceName}/confirmTermination",
          "code": 200
        },
        "smithy.api#documentation": "Confirm service termination"
      }
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedCloudRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedCloudResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedCloudResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.vrack#GetVrackServiceNameDedicatedCloudResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedCloud": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#GetVrackServiceNameDedicatedCloudRequest"
      },
      "output": {
        "target": "com.ovh.vrack#GetVrackServiceNameDedicatedCloudResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vrack/{serviceName}/dedicatedCloud",
          "code": 200
        },
        "smithy.api#documentation": "vrack dedicated cloud (VmNetwork)"
      }
    },
    "com.ovh.vrack#PostVrackServiceNameDedicatedCloudRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        },
        "dedicatedCloud": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#PostVrackServiceNameDedicatedCloud": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#PostVrackServiceNameDedicatedCloudRequest"
      },
      "output": {
        "target": "com.ovh.vrack#VrackTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/vrack/{serviceName}/dedicatedCloud",
          "code": 200
        },
        "smithy.api#documentation": "Add VMware on OVHcloud to vRack"
      }
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedCloudDedicatedCloudRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        },
        "dedicatedCloud": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "your dedicated cloud service"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#VrackDedicatedCloud": {
      "type": "structure",
      "members": {
        "dedicatedCloud": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "your dedicated cloud service"
          }
        },
        "vlanId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Dedicated cloud vlanId used",
            "com.distilled.openapi#nullable": {}
          }
        },
        "vrack": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "vrack name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VMware on OVHcloud vRack link"
      }
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedCloudDedicatedCloud": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#GetVrackServiceNameDedicatedCloudDedicatedCloudRequest"
      },
      "output": {
        "target": "com.ovh.vrack#VrackDedicatedCloud"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vrack/{serviceName}/dedicatedCloud/{dedicatedCloud}",
          "code": 200
        },
        "smithy.api#documentation": "Get vRack"
      }
    },
    "com.ovh.vrack#DeleteVrackServiceNameDedicatedCloudDedicatedCloudRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        },
        "dedicatedCloud": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "your dedicated cloud service"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#DeleteVrackServiceNameDedicatedCloudDedicatedCloud": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#DeleteVrackServiceNameDedicatedCloudDedicatedCloudRequest"
      },
      "output": {
        "target": "com.ovh.vrack#VrackTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/vrack/{serviceName}/dedicatedCloud/{dedicatedCloud}",
          "code": 200
        },
        "smithy.api#documentation": "Remove VMware on OVHcloud from vRack"
      }
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedCloudDatacenterRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedCloudDatacenterResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedCloudDatacenterResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.vrack#GetVrackServiceNameDedicatedCloudDatacenterResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedCloudDatacenter": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#GetVrackServiceNameDedicatedCloudDatacenterRequest"
      },
      "output": {
        "target": "com.ovh.vrack#GetVrackServiceNameDedicatedCloudDatacenterResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vrack/{serviceName}/dedicatedCloudDatacenter",
          "code": 200
        },
        "smithy.api#documentation": "vrack dedicated cloud datacenter"
      }
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedCloudDatacenterDatacenterRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        },
        "datacenter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Your dedicatedCloud datacenter name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#VrackPccDatacenter": {
      "type": "structure",
      "members": {
        "datacenter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your dedicatedCloud datacenter name"
          }
        },
        "dedicatedCloud": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your dedicatedCloud name"
          }
        },
        "vrack": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "vrack name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "vrack datacenter interface"
      }
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedCloudDatacenterDatacenter": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#GetVrackServiceNameDedicatedCloudDatacenterDatacenterRequest"
      },
      "output": {
        "target": "com.ovh.vrack#VrackPccDatacenter"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vrack/{serviceName}/dedicatedCloudDatacenter/{datacenter}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedCloudDatacenterDatacenterAllowedVrackRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        },
        "datacenter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Your dedicatedCloud datacenter name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedCloudDatacenterDatacenterAllowedVrackResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedCloudDatacenterDatacenterAllowedVrackResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.vrack#GetVrackServiceNameDedicatedCloudDatacenterDatacenterAllowedVrackResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedCloudDatacenterDatacenterAllowedVrack": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#GetVrackServiceNameDedicatedCloudDatacenterDatacenterAllowedVrackRequest"
      },
      "output": {
        "target": "com.ovh.vrack#GetVrackServiceNameDedicatedCloudDatacenterDatacenterAllowedVrackResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vrack/{serviceName}/dedicatedCloudDatacenter/{datacenter}/allowedVrack",
          "code": 200
        },
        "smithy.api#documentation": "Vracks allowed for your dedicatedCloud datacenter"
      }
    },
    "com.ovh.vrack#PostVrackServiceNameDedicatedCloudDatacenterDatacenterMoveRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        },
        "datacenter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Your dedicatedCloud datacenter name"
          }
        },
        "targetServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The internal name of your target vrack",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#PostVrackServiceNameDedicatedCloudDatacenterDatacenterMove": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#PostVrackServiceNameDedicatedCloudDatacenterDatacenterMoveRequest"
      },
      "output": {
        "target": "com.ovh.vrack#VrackTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/vrack/{serviceName}/dedicatedCloudDatacenter/{datacenter}/move",
          "code": 200
        },
        "smithy.api#documentation": "Move your dedicatedCloud datacenter from a Vrack to another"
      }
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedConnectRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedConnectResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedConnectResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.vrack#GetVrackServiceNameDedicatedConnectResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedConnect": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#GetVrackServiceNameDedicatedConnectRequest"
      },
      "output": {
        "target": "com.ovh.vrack#GetVrackServiceNameDedicatedConnectResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vrack/{serviceName}/dedicatedConnect",
          "code": 200
        },
        "smithy.api#documentation": "vrack dedicated connect"
      }
    },
    "com.ovh.vrack#PostVrackServiceNameDedicatedConnectRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        },
        "entryPointSwitch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hostname of the network device where the dedicatedConnect link is connected to",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A name for the dedicatedConnect link",
            "smithy.api#required": {}
          }
        },
        "vlanId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Vlan id of the dedicated link on OVH's G5 router",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#PostVrackServiceNameDedicatedConnect": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#PostVrackServiceNameDedicatedConnectRequest"
      },
      "output": {
        "target": "com.ovh.vrack#VrackTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/vrack/{serviceName}/dedicatedConnect",
          "code": 200
        },
        "smithy.api#documentation": "add a dedicatedConnect link to this vrack"
      }
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedConnectNameRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A name for your dedicatedConnect link"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#VrackDedicatedConnect": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A name for your dedicatedConnect link"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "vrack dedicated connect interface"
      }
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedConnectName": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#GetVrackServiceNameDedicatedConnectNameRequest"
      },
      "output": {
        "target": "com.ovh.vrack#VrackDedicatedConnect"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vrack/{serviceName}/dedicatedConnect/{name}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.vrack#PutVrackServiceNameDedicatedConnectNameRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A name for your dedicatedConnect link"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#PutVrackServiceNameDedicatedConnectName": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#PutVrackServiceNameDedicatedConnectNameRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/vrack/{serviceName}/dedicatedConnect/{name}",
          "code": 200
        },
        "smithy.api#documentation": "Alter this object properties"
      }
    },
    "com.ovh.vrack#DeleteVrackServiceNameDedicatedConnectNameRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A name for your dedicatedConnect link"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#DeleteVrackServiceNameDedicatedConnectName": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#DeleteVrackServiceNameDedicatedConnectNameRequest"
      },
      "output": {
        "target": "com.ovh.vrack#VrackTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/vrack/{serviceName}/dedicatedConnect/{name}",
          "code": 200
        },
        "smithy.api#documentation": "remove this a dedicatedConnect link from this vrack"
      }
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedServerRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedServerResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedServerResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.vrack#GetVrackServiceNameDedicatedServerResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedServer": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#GetVrackServiceNameDedicatedServerRequest"
      },
      "output": {
        "target": "com.ovh.vrack#GetVrackServiceNameDedicatedServerResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vrack/{serviceName}/dedicatedServer",
          "code": 200
        },
        "smithy.api#documentation": "vrack for dedicated server"
      }
    },
    "com.ovh.vrack#PostVrackServiceNameDedicatedServerRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        },
        "dedicatedServer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dedicated server to add ",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#PostVrackServiceNameDedicatedServer": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#PostVrackServiceNameDedicatedServerRequest"
      },
      "output": {
        "target": "com.ovh.vrack#VrackTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/vrack/{serviceName}/dedicatedServer",
          "code": 200
        },
        "smithy.api#documentation": "add a dedicated server to this vrack (LEGACY)"
      }
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedServerDedicatedServerRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        },
        "dedicatedServer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Dedicated Server"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#VrackDedicatedServer": {
      "type": "structure",
      "members": {
        "dedicatedServer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dedicated Server"
          }
        },
        "vrack": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "vrack name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "vrack dedicated server interfaces (LEGACY)"
      }
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedServerDedicatedServer": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#GetVrackServiceNameDedicatedServerDedicatedServerRequest"
      },
      "output": {
        "target": "com.ovh.vrack#VrackDedicatedServer"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vrack/{serviceName}/dedicatedServer/{dedicatedServer}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.vrack#DeleteVrackServiceNameDedicatedServerDedicatedServerRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        },
        "dedicatedServer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Dedicated Server"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#DeleteVrackServiceNameDedicatedServerDedicatedServer": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#DeleteVrackServiceNameDedicatedServerDedicatedServerRequest"
      },
      "output": {
        "target": "com.ovh.vrack#VrackTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/vrack/{serviceName}/dedicatedServer/{dedicatedServer}",
          "code": 200
        },
        "smithy.api#documentation": "remove this server from this vrack (LEGACY)"
      }
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedServerInterfaceRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedServerInterfaceResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedServerInterfaceResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.vrack#GetVrackServiceNameDedicatedServerInterfaceResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedServerInterface": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#GetVrackServiceNameDedicatedServerInterfaceRequest"
      },
      "output": {
        "target": "com.ovh.vrack#GetVrackServiceNameDedicatedServerInterfaceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vrack/{serviceName}/dedicatedServerInterface",
          "code": 200
        },
        "smithy.api#documentation": "vrack for dedicated server interface"
      }
    },
    "com.ovh.vrack#PostVrackServiceNameDedicatedServerInterfaceRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        },
        "dedicatedServerInterface": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dedicated server interface to add ",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#PostVrackServiceNameDedicatedServerInterface": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#PostVrackServiceNameDedicatedServerInterfaceRequest"
      },
      "output": {
        "target": "com.ovh.vrack#VrackTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/vrack/{serviceName}/dedicatedServerInterface",
          "code": 200
        },
        "smithy.api#documentation": "add a dedicated server interface to this vrack"
      }
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedServerInterfaceDedicatedServerInterfaceRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        },
        "dedicatedServerInterface": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Dedicated Server Interface"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#VrackDedicatedServerInterface": {
      "type": "structure",
      "members": {
        "dedicatedServerInterface": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dedicated Server Interface"
          }
        },
        "vrack": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "vrack name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "vrack dedicated server interfaces"
      }
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedServerInterfaceDedicatedServerInterface": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#GetVrackServiceNameDedicatedServerInterfaceDedicatedServerInterfaceRequest"
      },
      "output": {
        "target": "com.ovh.vrack#VrackDedicatedServerInterface"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vrack/{serviceName}/dedicatedServerInterface/{dedicatedServerInterface}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.vrack#DeleteVrackServiceNameDedicatedServerInterfaceDedicatedServerInterfaceRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        },
        "dedicatedServerInterface": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Dedicated Server Interface"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#DeleteVrackServiceNameDedicatedServerInterfaceDedicatedServerInterface": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#DeleteVrackServiceNameDedicatedServerInterfaceDedicatedServerInterfaceRequest"
      },
      "output": {
        "target": "com.ovh.vrack#VrackTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/vrack/{serviceName}/dedicatedServerInterface/{dedicatedServerInterface}",
          "code": 200
        },
        "smithy.api#documentation": "remove this server interface from this vrack"
      }
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedServerInterfaceDetailsRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedServerInterfaceDetailsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.vrack#VrackAllowedDedicatedServerInterfaces"
      },
      "traits": {}
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedServerInterfaceDetailsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.vrack#GetVrackServiceNameDedicatedServerInterfaceDetailsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.vrack#GetVrackServiceNameDedicatedServerInterfaceDetails": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#GetVrackServiceNameDedicatedServerInterfaceDetailsRequest"
      },
      "output": {
        "target": "com.ovh.vrack#GetVrackServiceNameDedicatedServerInterfaceDetailsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vrack/{serviceName}/dedicatedServerInterfaceDetails",
          "code": 200
        },
        "smithy.api#documentation": "Details for all dedicated server interfaces in this vrack"
      }
    },
    "com.ovh.vrack#GetVrackServiceNameEligibleServicesRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#VrackEligibleServicesResponse": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation date of the call"
          }
        },
        "errors": {
          "target": "com.ovh.vrack#VrackEligibleServicesResponseErrorsList",
          "traits": {
            "smithy.api#documentation": "List of services where an error has been encountered"
          }
        },
        "result": {
          "target": "com.ovh.vrack#VrackEligibleServices",
          "traits": {
            "smithy.api#documentation": "Eligible services for this vRack"
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the call"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Eligible services call response"
      }
    },
    "com.ovh.vrack#VrackEligibleServicesResponseErrorsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of services where an error has been encountered"
      }
    },
    "com.ovh.vrack#VrackEligibleServices": {
      "type": "structure",
      "members": {
        "cloudProject": {
          "target": "com.ovh.vrack#VrackEligibleServicesCloudProjectList",
          "traits": {
            "smithy.api#documentation": "List of publicCloud projects allowed to be connected to this vRack",
            "com.distilled.openapi#nullable": {}
          }
        },
        "dedicatedCloud": {
          "target": "com.ovh.vrack#VrackEligibleServicesDedicatedCloudList",
          "traits": {
            "smithy.api#documentation": "List of dedicated cloud allowed to be connected to this vRack",
            "com.distilled.openapi#nullable": {}
          }
        },
        "dedicatedCloudDatacenter": {
          "target": "com.ovh.vrack#VrackEligibleServicesDedicatedCloudDatacenterList",
          "traits": {
            "smithy.api#documentation": "List of dedicated cloud datacenters allowed to be connected to this vRack",
            "com.distilled.openapi#nullable": {}
          }
        },
        "dedicatedConnect": {
          "target": "com.ovh.vrack#VrackEligibleServicesDedicatedConnectList",
          "traits": {
            "smithy.api#documentation": "List of dedicated connect links allowed to be connected to this vRack",
            "com.distilled.openapi#nullable": {}
          }
        },
        "dedicatedServer": {
          "target": "com.ovh.vrack#VrackEligibleServicesDedicatedServerList",
          "traits": {
            "smithy.api#documentation": "List of dedicated servers allowed to be connected to this vRack",
            "com.distilled.openapi#nullable": {}
          }
        },
        "dedicatedServerInterface": {
          "target": "com.ovh.vrack#VrackEligibleServicesDedicatedServerInterfaceList",
          "traits": {
            "smithy.api#documentation": "List of dedicated server interfaces allowed to be connected to this vRack",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ip": {
          "target": "com.ovh.vrack#VrackEligibleServicesIpList",
          "traits": {
            "smithy.api#documentation": "List of blocks allowed to be connected to this vRack",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ipLoadbalancing": {
          "target": "com.ovh.vrack#VrackEligibleServicesIpLoadbalancingList",
          "traits": {
            "smithy.api#documentation": "List of ipLoadbalancing allowed to be connected to this vRack",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ipv6": {
          "target": "com.ovh.vrack#VrackEligibleServicesIpv6List",
          "traits": {
            "smithy.api#documentation": "List of ipv6 blocks allowed to be connected to this vRack",
            "com.distilled.openapi#nullable": {}
          }
        },
        "legacyVrack": {
          "target": "com.ovh.vrack#VrackEligibleServicesLegacyVrackList",
          "traits": {
            "smithy.api#documentation": "List of legacy vRack (1.0) allowed to be connected to this vRack",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ovhCloudConnect": {
          "target": "com.ovh.vrack#VrackEligibleServicesOvhCloudConnectList",
          "traits": {
            "smithy.api#documentation": "List of the ovhCloudConnect services allowed to be connected to this vRack",
            "com.distilled.openapi#nullable": {}
          }
        },
        "vmwareCloudDirectorVirtualDataCenter": {
          "target": "com.ovh.vrack#VrackEligibleServicesVmwareCloudDirectorVirtualDataCenterList",
          "traits": {
            "smithy.api#documentation": "List of the VMwareCloudDirectorVirtualDatacenter allowed to be connected to this vRack",
            "com.distilled.openapi#nullable": {}
          }
        },
        "vrackServices": {
          "target": "com.ovh.vrack#VrackEligibleServicesVrackServicesList",
          "traits": {
            "smithy.api#documentation": "List of the vrackServices allowed to be connected to this vRack",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Eligible services for this vRack"
      }
    },
    "com.ovh.vrack#VrackEligibleServicesCloudProjectList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of publicCloud projects allowed to be connected to this vRack"
      }
    },
    "com.ovh.vrack#VrackEligibleServicesDedicatedCloudList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of dedicated cloud allowed to be connected to this vRack"
      }
    },
    "com.ovh.vrack#VrackEligibleServicesDedicatedCloudDatacenterList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of dedicated cloud datacenters allowed to be connected to this vRack"
      }
    },
    "com.ovh.vrack#VrackEligibleServicesDedicatedConnectList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of dedicated connect links allowed to be connected to this vRack"
      }
    },
    "com.ovh.vrack#VrackEligibleServicesDedicatedServerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of dedicated servers allowed to be connected to this vRack"
      }
    },
    "com.ovh.vrack#VrackEligibleDedicatedServerInterfaces": {
      "type": "structure",
      "members": {
        "dedicatedServer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the dedicatedServer"
          }
        },
        "dedicatedServerInterface": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the dedicatedServerInterface"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the dedicatedServerInterface"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dedicated server interfaces allowed for this vRack"
      }
    },
    "com.ovh.vrack#VrackEligibleServicesDedicatedServerInterfaceList": {
      "type": "list",
      "member": {
        "target": "com.ovh.vrack#VrackEligibleDedicatedServerInterfaces"
      },
      "traits": {
        "smithy.api#documentation": "List of dedicated server interfaces allowed to be connected to this vRack"
      }
    },
    "com.ovh.vrack#VrackEligibleServicesIpList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of blocks allowed to be connected to this vRack"
      }
    },
    "com.ovh.vrack#VrackEligibleServicesIpLoadbalancingList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of ipLoadbalancing allowed to be connected to this vRack"
      }
    },
    "com.ovh.vrack#VrackEligibleServicesIpv6List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of ipv6 blocks allowed to be connected to this vRack"
      }
    },
    "com.ovh.vrack#VrackEligibleServicesLegacyVrackList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of legacy vRack (1.0) allowed to be connected to this vRack"
      }
    },
    "com.ovh.vrack#VrackEligibleServicesOvhCloudConnectList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of the ovhCloudConnect services allowed to be connected to this vRack"
      }
    },
    "com.ovh.vrack#VrackEligibleServicesVmwareCloudDirectorVirtualDataCenterList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of the VMwareCloudDirectorVirtualDatacenter allowed to be connected to this vRack"
      }
    },
    "com.ovh.vrack#VrackEligibleServicesVrackServicesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of the vrackServices allowed to be connected to this vRack"
      }
    },
    "com.ovh.vrack#GetVrackServiceNameEligibleServices": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#GetVrackServiceNameEligibleServicesRequest"
      },
      "output": {
        "target": "com.ovh.vrack#VrackEligibleServicesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vrack/{serviceName}/eligibleServices",
          "code": 200
        },
        "smithy.api#documentation": "List all eligible services for this vRack asynchronously\n\nThis route allows asynchronous service eligibility requests. It means the route can be called several times until all the eligible services are returned.\n\nWhile the `status` is set to `pending` the results are partial.\n\nOnce the `status` is set to `done`, all the eligible services have been found.\n\nIn the eventuality of errors getting specific service types, the errors will be listed in the `errors` field."
      }
    },
    "com.ovh.vrack#GetVrackServiceNameIpRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#GetVrackServiceNameIpResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.vrack#GetVrackServiceNameIpResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.vrack#GetVrackServiceNameIpResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.vrack#GetVrackServiceNameIp": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#GetVrackServiceNameIpRequest"
      },
      "output": {
        "target": "com.ovh.vrack#GetVrackServiceNameIpResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vrack/{serviceName}/ip",
          "code": 200
        },
        "smithy.api#documentation": "vrack for IP blocks"
      }
    },
    "com.ovh.vrack#PostVrackServiceNameIpRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        },
        "block": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your IP block",
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Choose the region in which to route the block"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#PostVrackServiceNameIp": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#PostVrackServiceNameIpRequest"
      },
      "output": {
        "target": "com.ovh.vrack#VrackTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/vrack/{serviceName}/ip",
          "code": 200
        },
        "smithy.api#documentation": "add an IP block to this vrack"
      }
    },
    "com.ovh.vrack#GetVrackServiceNameIpIpRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Your IP block"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#VrackIp": {
      "type": "structure",
      "members": {
        "gateway": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your gateway",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your IP block"
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Where you want your block announced on the network",
            "com.distilled.openapi#nullable": {}
          }
        },
        "zone": {
          "target": "com.ovh.vrack#VrackVrackZoneEnum",
          "traits": {
            "smithy.api#documentation": "Where you want your block announced on the network",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IP block in vrack"
      }
    },
    "com.ovh.vrack#VrackVrackZoneEnum": {
      "type": "enum",
      "members": {
        "BHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bhs"
          }
        },
        "CCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cch"
          }
        },
        "FRA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fra1"
          }
        },
        "GRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gra"
          }
        },
        "LON1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lon1"
          }
        },
        "PDX1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pdx1"
          }
        },
        "RBX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rbx"
          }
        },
        "SBG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sbg"
          }
        },
        "SGP1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sgp1"
          }
        },
        "SYD1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "syd1"
          }
        },
        "SYD2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "syd2"
          }
        },
        "WAS1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "was1"
          }
        },
        "WAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waw"
          }
        },
        "YYZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yyz"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for vrack zone"
      }
    },
    "com.ovh.vrack#GetVrackServiceNameIpIp": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#GetVrackServiceNameIpIpRequest"
      },
      "output": {
        "target": "com.ovh.vrack#VrackIp"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vrack/{serviceName}/ip/{ip}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.vrack#DeleteVrackServiceNameIpIpRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Your IP block"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#DeleteVrackServiceNameIpIp": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#DeleteVrackServiceNameIpIpRequest"
      },
      "output": {
        "target": "com.ovh.vrack#VrackTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/vrack/{serviceName}/ip/{ip}",
          "code": 200
        },
        "smithy.api#documentation": "remove this IP block from this vrack"
      }
    },
    "com.ovh.vrack#GetVrackServiceNameIpLoadbalancingRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#GetVrackServiceNameIpLoadbalancingResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.vrack#GetVrackServiceNameIpLoadbalancingResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.vrack#GetVrackServiceNameIpLoadbalancingResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.vrack#GetVrackServiceNameIpLoadbalancing": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#GetVrackServiceNameIpLoadbalancingRequest"
      },
      "output": {
        "target": "com.ovh.vrack#GetVrackServiceNameIpLoadbalancingResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vrack/{serviceName}/ipLoadbalancing",
          "code": 200
        },
        "smithy.api#documentation": "vrack for ipLoadbalancing"
      }
    },
    "com.ovh.vrack#PostVrackServiceNameIpLoadbalancingRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        },
        "ipLoadbalancing": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your ipLoadbalancing",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#PostVrackServiceNameIpLoadbalancing": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#PostVrackServiceNameIpLoadbalancingRequest"
      },
      "output": {
        "target": "com.ovh.vrack#VrackTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/vrack/{serviceName}/ipLoadbalancing",
          "code": 200
        },
        "smithy.api#documentation": "add an ipLoadbalancing to this vrack"
      }
    },
    "com.ovh.vrack#GetVrackServiceNameIpLoadbalancingIpLoadbalancingRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        },
        "ipLoadbalancing": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Your ipLoadbalancing"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#VrackIplb": {
      "type": "structure",
      "members": {
        "ipLoadbalancing": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your ipLoadbalancing"
          }
        },
        "vrack": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "vrack name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ipLoadbalancing in vrack"
      }
    },
    "com.ovh.vrack#GetVrackServiceNameIpLoadbalancingIpLoadbalancing": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#GetVrackServiceNameIpLoadbalancingIpLoadbalancingRequest"
      },
      "output": {
        "target": "com.ovh.vrack#VrackIplb"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vrack/{serviceName}/ipLoadbalancing/{ipLoadbalancing}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.vrack#DeleteVrackServiceNameIpLoadbalancingIpLoadbalancingRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        },
        "ipLoadbalancing": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Your ipLoadbalancing"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#DeleteVrackServiceNameIpLoadbalancingIpLoadbalancing": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#DeleteVrackServiceNameIpLoadbalancingIpLoadbalancingRequest"
      },
      "output": {
        "target": "com.ovh.vrack#VrackTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/vrack/{serviceName}/ipLoadbalancing/{ipLoadbalancing}",
          "code": 200
        },
        "smithy.api#documentation": "remove this ipLoadbalancing from this vrack"
      }
    },
    "com.ovh.vrack#GetVrackServiceNameIpv6Request": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#GetVrackServiceNameIpv6ResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.vrack#GetVrackServiceNameIpv6Response": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.vrack#GetVrackServiceNameIpv6ResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.vrack#GetVrackServiceNameIpv6": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#GetVrackServiceNameIpv6Request"
      },
      "output": {
        "target": "com.ovh.vrack#GetVrackServiceNameIpv6Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/vrack/{serviceName}/ipv6",
          "code": 200
        },
        "smithy.api#documentation": "vrack for IP v6 blocks"
      }
    },
    "com.ovh.vrack#PostVrackServiceNameIpv6Request": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        },
        "block": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your IP v6 block",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#PostVrackServiceNameIpv6": {
      "type": "operation",
      "input": {
        "target": "com.ovh.vrack#PostVrackServiceNameIpv6Request"
      },
      "output": {
        "target": "com.ovh.vrack#VrackTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/vrack/{serviceName}/ipv6",
          "code": 200
        },
        "smithy.api#documentation": "add an IP v6 block to this vrack"
      }
    },
    "com.ovh.vrack#GetVrackServiceNameIpv6Ipv6Request": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The internal name of your vrack"
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Your IP v6 block"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.vrack#VrackIpv6": {
      "type": "structure",
      "members": {
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your IP v6 block"
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Where you want your block announced on the network",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IP v6 block in vrack"
      }
    },
[...]
