{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.ovh.webhosting#IamResourceTagFilterInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Resource tag filter"
      }
    },
    "com.ovh.webhosting#GetHostingWebRequestIamTagsValueList": {
      "type": "list",
      "member": {
        "target": "com.ovh.webhosting#IamResourceTagFilterInput"
      },
      "traits": {}
    },
    "com.ovh.webhosting#GetHostingWebRequestIamTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.ovh.webhosting#GetHostingWebRequestIamTagsValueList"
      },
      "traits": {}
    },
    "com.ovh.webhosting#GetHostingWebRequest": {
      "type": "structure",
      "members": {
        "iamTags": {
          "target": "com.ovh.webhosting#GetHostingWebRequestIamTagsMap",
          "traits": {
            "smithy.api#httpQuery": "iamTags",
            "smithy.api#documentation": "Filter resources on IAM tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.webhosting#GetHostingWebResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.webhosting#GetHostingWebResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.webhosting#GetHostingWebResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.webhosting#GetHostingWeb": {
      "type": "operation",
      "input": {
        "target": "com.ovh.webhosting#GetHostingWebRequest"
      },
      "output": {
        "target": "com.ovh.webhosting#GetHostingWebResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/hosting/web",
          "code": 200
        },
        "smithy.api#documentation": "List available services"
      }
    },
    "com.ovh.webhosting#GetHostingWebAttachedDomainRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "domain",
            "smithy.api#required": {},
            "smithy.api#documentation": "Domain used into web hosting attached domains"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.webhosting#GetHostingWebAttachedDomainResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.webhosting#GetHostingWebAttachedDomainResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.webhosting#GetHostingWebAttachedDomainResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.webhosting#GetHostingWebAttachedDomain": {
      "type": "operation",
      "input": {
        "target": "com.ovh.webhosting#GetHostingWebAttachedDomainRequest"
      },
      "output": {
        "target": "com.ovh.webhosting#GetHostingWebAttachedDomainResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/hosting/web/attachedDomain",
          "code": 200
        },
        "smithy.api#documentation": "Find hosting service linked to a domain"
      }
    },
    "com.ovh.webhosting#GetHostingWebAvailableOfferRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "domain",
            "smithy.api#required": {},
            "smithy.api#documentation": "Domain you want to add or upgrade a hosting"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.webhosting#HostingWebOfferEnum": {
      "type": "enum",
      "members": {
        "CLOUDWEB_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUDWEB_1"
          }
        },
        "CLOUDWEB_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUDWEB_2"
          }
        },
        "CLOUDWEB_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUDWEB_3"
          }
        },
        "KS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KS"
          }
        },
        "PERFORMANCE_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERFORMANCE_1"
          }
        },
        "PERFORMANCE_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERFORMANCE_2"
          }
        },
        "PERFORMANCE_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERFORMANCE_3"
          }
        },
        "PERFORMANCE_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERFORMANCE_4"
          }
        },
        "PERSO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERSO"
          }
        },
        "POWER_BETA_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POWER_BETA_1"
          }
        },
        "PRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRO"
          }
        },
        "START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Hosting's offer"
      }
    },
    "com.ovh.webhosting#GetHostingWebAvailableOfferResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.webhosting#HostingWebOfferEnum"
      },
      "traits": {}
    },
    "com.ovh.webhosting#GetHostingWebAvailableOfferResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.webhosting#GetHostingWebAvailableOfferResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.webhosting#GetHostingWebAvailableOffer": {
      "type": "operation",
      "input": {
        "target": "com.ovh.webhosting#GetHostingWebAvailableOfferRequest"
      },
      "output": {
        "target": "com.ovh.webhosting#GetHostingWebAvailableOfferResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/hosting/web/availableOffer",
          "code": 200
        },
        "smithy.api#documentation": "Get available offer"
      }
    },
    "com.ovh.webhosting#GetHostingWebIncidentResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.webhosting#GetHostingWebIncidentResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.webhosting#GetHostingWebIncidentResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.webhosting#GetHostingWebIncident": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.ovh.webhosting#GetHostingWebIncidentResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/hosting/web/incident",
          "code": 200
        },
        "smithy.api#documentation": "Get current incident"
      }
    },
    "com.ovh.webhosting#HostingWebLocalSeoLocationCountryEnum": {
      "type": "enum",
      "members": {
        "FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FR"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Location country"
      }
    },
    "com.ovh.webhosting#HostingWebLocalSeoLocationOfferEnum": {
      "type": "enum",
      "members": {
        "NORMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "normal"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Location offer"
      }
    },
    "com.ovh.webhosting#GetHostingWebLocalSeoDirectoriesListRequest": {
      "type": "structure",
      "members": {
        "country": {
          "target": "com.ovh.webhosting#HostingWebLocalSeoLocationCountryEnum",
          "traits": {
            "smithy.api#httpQuery": "country",
            "smithy.api#required": {},
            "smithy.api#documentation": "Country of the location"
          }
        },
        "offer": {
          "target": "com.ovh.webhosting#HostingWebLocalSeoLocationOfferEnum",
          "traits": {
            "smithy.api#httpQuery": "offer",
            "smithy.api#required": {},
            "smithy.api#documentation": "Local SEO offer"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.webhosting#HostingWebLocalSeoDirectoriesList": {
      "type": "structure",
      "members": {
        "navigationSystems": {
          "target": "com.ovh.webhosting#HostingWebLocalSeoDirectoriesListNavigationSystemsList",
          "traits": {
            "smithy.api#documentation": "Navigation systems"
          }
        },
        "searchEngines": {
          "target": "com.ovh.webhosting#HostingWebLocalSeoDirectoriesListSearchEnginesList",
          "traits": {
            "smithy.api#documentation": "Search engines"
          }
        },
        "socialNetworks": {
          "target": "com.ovh.webhosting#HostingWebLocalSeoDirectoriesListSocialNetworksList",
          "traits": {
            "smithy.api#documentation": "Social networks"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Struct describing a list of directories ordered by type"
      }
    },
    "com.ovh.webhosting#HostingWebLocalSeoDirectory": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier to use to get the result of a visibility check for the directory"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the directory"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Struct describing a directory"
      }
    },
    "com.ovh.webhosting#HostingWebLocalSeoDirectoriesListNavigationSystemsList": {
      "type": "list",
      "member": {
        "target": "com.ovh.webhosting#HostingWebLocalSeoDirectory"
      },
      "traits": {
        "smithy.api#documentation": "Navigation systems"
      }
    },
    "com.ovh.webhosting#HostingWebLocalSeoDirectoriesListSearchEnginesList": {
      "type": "list",
      "member": {
        "target": "com.ovh.webhosting#HostingWebLocalSeoDirectory"
      },
      "traits": {
        "smithy.api#documentation": "Search engines"
      }
    },
    "com.ovh.webhosting#HostingWebLocalSeoDirectoriesListSocialNetworksList": {
      "type": "list",
      "member": {
        "target": "com.ovh.webhosting#HostingWebLocalSeoDirectory"
      },
      "traits": {
        "smithy.api#documentation": "Social networks"
      }
    },
    "com.ovh.webhosting#GetHostingWebLocalSeoDirectoriesList": {
      "type": "operation",
      "input": {
        "target": "com.ovh.webhosting#GetHostingWebLocalSeoDirectoriesListRequest"
      },
      "output": {
        "target": "com.ovh.webhosting#HostingWebLocalSeoDirectoriesList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/hosting/web/localSeo/directoriesList",
          "code": 200
        },
        "smithy.api#documentation": "Get list of directories associated to a local SEO offer and a country"
      }
    },
    "com.ovh.webhosting#GetHostingWebLocalSeoEmailAvailabilityRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "email",
            "smithy.api#required": {},
            "smithy.api#documentation": "The email address to check"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.webhosting#HostingWebLocalSeoEmailAvailability": {
      "type": "structure",
      "members": {
        "availability": {
          "target": "com.ovh.webhosting#HostingWebLocalSeoAccountEmailAvailabilityEnum",
          "traits": {
            "smithy.api#documentation": "Availability of the email address"
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hosting on which the email address is used",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Struct describing the availability of an email address for a local SEO order"
      }
    },
    "com.ovh.webhosting#HostingWebLocalSeoAccountEmailAvailabilityEnum": {
      "type": "enum",
      "members": {
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "available"
          }
        },
        "MERGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "merge"
          }
        },
        "NIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nic"
          }
        },
        "TAKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "taken"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Availability of an email address for a local SEO order"
      }
    },
    "com.ovh.webhosting#GetHostingWebLocalSeoEmailAvailability": {
      "type": "operation",
      "input": {
        "target": "com.ovh.webhosting#GetHostingWebLocalSeoEmailAvailabilityRequest"
      },
      "output": {
        "target": "com.ovh.webhosting#HostingWebLocalSeoEmailAvailability"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/hosting/web/localSeo/emailAvailability",
          "code": 200
        },
        "smithy.api#documentation": "Check email availability for a local SEO order"
      }
    },
    "com.ovh.webhosting#PostHostingWebLocalSeoVisibilityCheckRequest": {
      "type": "structure",
      "members": {
        "country": {
          "target": "com.ovh.webhosting#HostingWebLocalSeoLocationCountryEnum",
          "traits": {
            "smithy.api#documentation": "Country of the location",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the location",
            "smithy.api#required": {}
          }
        },
        "street": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address line 1 of the location",
            "smithy.api#required": {}
          }
        },
        "zip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zipcode of the location",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.webhosting#HostingWebLocalSeoVisibilityCheckResponse": {
      "type": "structure",
      "members": {
        "alreadyManaged": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is the searched location already managed ?",
            "com.distilled.openapi#nullable": {}
          }
        },
        "searchData": {
          "target": "com.ovh.webhosting#HostingWebLocalSeoSearchData",
          "traits": {
            "smithy.api#documentation": "Searched location data"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Struct describing the response for a visibility check request"
      }
    },
    "com.ovh.webhosting#HostingWebLocalSeoSearchData": {
      "type": "structure",
      "members": {
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "City of the location"
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Country of the location"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Id of the search"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the location"
          }
        },
        "province": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Province of the location",
            "com.distilled.openapi#nullable": {}
          }
        },
        "street": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Street of the location"
          }
        },
        "streetNo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Street numero of the location"
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to use to get the results of the search"
          }
        },
        "zip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zipcode of the location"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Struct describing a location being checked for visibility"
      }
    },
    "com.ovh.webhosting#PostHostingWebLocalSeoVisibilityCheck": {
      "type": "operation",
      "input": {
        "target": "com.ovh.webhosting#PostHostingWebLocalSeoVisibilityCheckRequest"
      },
      "output": {
        "target": "com.ovh.webhosting#HostingWebLocalSeoVisibilityCheckResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/hosting/web/localSeo/visibilityCheck",
          "code": 200
        },
        "smithy.api#documentation": "Check visibility of a location"
      }
    },
    "com.ovh.webhosting#GetHostingWebLocalSeoVisibilityCheckResultRequest": {
      "type": "structure",
      "members": {
        "directory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "directory",
            "smithy.api#required": {},
            "smithy.api#documentation": "Get the result only for one directory"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "id",
            "smithy.api#required": {},
            "smithy.api#documentation": "Id of the check"
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "token",
            "smithy.api#required": {},
            "smithy.api#documentation": "Token received when requesting the check"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.webhosting#HostingWebLocalSeoVisibilityCheckResultResponse": {
      "type": "structure",
      "members": {
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "City of the location",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cityStatus": {
          "target": "com.ovh.webhosting#HostingWebLocalSeoFieldStatusEnum",
          "traits": {
            "smithy.api#documentation": "City of the location (sync status)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Country of the location",
            "com.distilled.openapi#nullable": {}
          }
        },
        "countryStatus": {
          "target": "com.ovh.webhosting#HostingWebLocalSeoFieldStatusEnum",
          "traits": {
            "smithy.api#documentation": "Country of the location (sync status)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "dateCreated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the listing was created in database",
            "com.distilled.openapi#nullable": {}
          }
        },
        "directoryType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The directory where this listing appears",
            "com.distilled.openapi#nullable": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A contact email for the location",
            "com.distilled.openapi#nullable": {}
          }
        },
        "emailStatus": {
          "target": "com.ovh.webhosting#HostingWebLocalSeoFieldStatusEnum",
          "traits": {
            "smithy.api#documentation": "A contact email for the location (sync status)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "flowStatus": {
          "target": "com.ovh.webhosting#HostingWebLocalSeoFlowStatusEnum",
          "traits": {
            "smithy.api#documentation": "The status of the current listing",
            "com.distilled.openapi#nullable": {}
          }
        },
        "listingId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The listing id in the directory database",
            "com.distilled.openapi#nullable": {}
          }
        },
        "listingUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The listing url on the directory website",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location's name used for this listing",
            "com.distilled.openapi#nullable": {}
          }
        },
        "nameStatus": {
          "target": "com.ovh.webhosting#HostingWebLocalSeoFieldStatusEnum",
          "traits": {
            "smithy.api#documentation": "The location's name used for this listing (sync status)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location's contact phone number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "phoneStatus": {
          "target": "com.ovh.webhosting#HostingWebLocalSeoFieldStatusEnum",
          "traits": {
            "smithy.api#documentation": "The location's contact phone number (sync status)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "province": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Province of the location",
            "com.distilled.openapi#nullable": {}
          }
        },
        "provinceStatus": {
          "target": "com.ovh.webhosting#HostingWebLocalSeoFieldStatusEnum",
          "traits": {
            "smithy.api#documentation": "Province of the location (sync status)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "street": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location's street address",
            "com.distilled.openapi#nullable": {}
          }
        },
        "streetAndNo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A localized combination of street and streetNo",
            "com.distilled.openapi#nullable": {}
          }
        },
        "streetAndNoStatus": {
          "target": "com.ovh.webhosting#HostingWebLocalSeoFieldStatusEnum",
          "traits": {
            "smithy.api#documentation": "A localized combination of street and streetNo (sync status)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "streetNo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location's street number",
            "com.distilled.openapi#nullable": {}
          }
        },
        "streetNoStatus": {
          "target": "com.ovh.webhosting#HostingWebLocalSeoFieldStatusEnum",
          "traits": {
            "smithy.api#documentation": "The location's street number (sync status)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "streetStatus": {
          "target": "com.ovh.webhosting#HostingWebLocalSeoFieldStatusEnum",
          "traits": {
            "smithy.api#documentation": "The location's street address (sync status)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "streetType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The street type for Spain",
            "com.distilled.openapi#nullable": {}
          }
        },
        "streetTypeStatus": {
          "target": "com.ovh.webhosting#HostingWebLocalSeoFieldStatusEnum",
          "traits": {
            "smithy.api#documentation": "The street type for Spain (sync status)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "syncStatus": {
          "target": "com.ovh.webhosting#HostingWebLocalSeoListingStatusEnum",
          "traits": {
            "smithy.api#documentation": "The sync status of the listing",
            "com.distilled.openapi#nullable": {}
          }
        },
        "website": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid url for the location's website",
            "com.distilled.openapi#nullable": {}
          }
        },
        "websiteStatus": {
          "target": "com.ovh.webhosting#HostingWebLocalSeoFieldStatusEnum",
          "traits": {
            "smithy.api#documentation": "A valid url for the location's website (sync status)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "zip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zipcode of the location",
            "com.distilled.openapi#nullable": {}
          }
        },
        "zipStatus": {
          "target": "com.ovh.webhosting#HostingWebLocalSeoFieldStatusEnum",
          "traits": {
            "smithy.api#documentation": "Zipcode of the location (sync status)",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Struct describing a visibility check result"
      }
    },
    "com.ovh.webhosting#HostingWebLocalSeoFieldStatusEnum": {
      "type": "enum",
      "members": {
        "MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH"
          }
        },
        "MISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISMATCH"
          }
        },
        "MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISSING"
          }
        },
        "NOT_APPLICABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_APPLICABLE"
          }
        },
        "PRESENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRESENT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sync status of a location field"
      }
    },
    "com.ovh.webhosting#HostingWebLocalSeoFlowStatusEnum": {
      "type": "enum",
      "members": {
        "ALL_INFORMATION_SUBMITTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_INFORMATION_SUBMITTED"
          }
        },
        "DONT_REMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DONT_REMOVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "MANUALLY_DEACTIVATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUALLY_DEACTIVATED"
          }
        },
        "NEEDS_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEEDS_REVIEW"
          }
        },
        "NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_SUPPORTED"
          }
        },
        "NO_ACTION_NEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_ACTION_NEEDED"
          }
        },
        "REMOVAL_NEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVAL_NEEDED"
          }
        },
        "REMOVAL_REVIEW_NEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVAL_REVIEW_NEEDED"
          }
        },
        "REMOVAL_SUBMITTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVAL_SUBMITTED"
          }
        },
        "REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVED"
          }
        },
        "SUBMISSION_NEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBMISSION_NEEDED"
          }
        },
        "WAITING_DIRECTORY_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WAITING_DIRECTORY_ACTION"
          }
        },
        "WAITING_USER_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WAITING_USER_ACTION"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of a listing"
      }
    },
    "com.ovh.webhosting#HostingWebLocalSeoListingStatusEnum": {
      "type": "enum",
      "members": {
        "IN_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_SYNC"
          }
        },
        "NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_FOUND"
          }
        },
        "NOT_IN_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_IN_SYNC"
          }
        },
        "NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_SUPPORTED"
          }
        },
        "NO_ONLINE_LISTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_ONLINE_LISTING"
          }
        },
        "TECHNICAL_PROBLEMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TECHNICAL_PROBLEMS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sync status of a listing"
      }
    },
    "com.ovh.webhosting#GetHostingWebLocalSeoVisibilityCheckResultResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.webhosting#HostingWebLocalSeoVisibilityCheckResultResponse"
      },
      "traits": {}
    },
    "com.ovh.webhosting#GetHostingWebLocalSeoVisibilityCheckResultResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.webhosting#GetHostingWebLocalSeoVisibilityCheckResultResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.webhosting#GetHostingWebLocalSeoVisibilityCheckResult": {
      "type": "operation",
      "input": {
        "target": "com.ovh.webhosting#GetHostingWebLocalSeoVisibilityCheckResultRequest"
      },
      "output": {
        "target": "com.ovh.webhosting#GetHostingWebLocalSeoVisibilityCheckResultResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/hosting/web/localSeo/visibilityCheckResult",
          "code": 200
        },
        "smithy.api#documentation": "Get the result of a visibility check"
      }
    },
    "com.ovh.webhosting#HostingWebModuleBranchEnum": {
      "type": "enum",
      "members": {
        "OLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "old"
          }
        },
        "STABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stable"
          }
        },
        "TESTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "testing"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Branch enum"
      }
    },
    "com.ovh.webhosting#GetHostingWebModuleListRequest": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "active",
            "smithy.api#documentation": "Filter the value of active property (=)"
          }
        },
        "branch": {
          "target": "com.ovh.webhosting#HostingWebModuleBranchEnum",
          "traits": {
            "smithy.api#httpQuery": "branch",
            "smithy.api#documentation": "Filter the value of branch property (=)"
          }
        },
        "latest": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "latest",
            "smithy.api#documentation": "Filter the value of latest property (=)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.webhosting#GetHostingWebModuleListResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.webhosting#GetHostingWebModuleListResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.webhosting#GetHostingWebModuleListResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.webhosting#GetHostingWebModuleList": {
      "type": "operation",
      "input": {
        "target": "com.ovh.webhosting#GetHostingWebModuleListRequest"
      },
      "output": {
        "target": "com.ovh.webhosting#GetHostingWebModuleListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/hosting/web/moduleList",
          "code": 200
        },
        "smithy.api#documentation": "IDs of all modules available"
      }
    },
    "com.ovh.webhosting#GetHostingWebModuleListIdRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the module"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.webhosting#HostingWebModuleList": {
      "type": "structure",
      "members": {
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is the module available?"
          }
        },
        "adminNameType": {
          "target": "com.ovh.webhosting#HostingWebModuleAdminNameTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the admin name"
          }
        },
        "author": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The packager of this module for OVH"
          }
        },
        "branch": {
          "target": "com.ovh.webhosting#HostingWebModuleBranchEnum",
          "traits": {
            "smithy.api#documentation": "The branch of the module"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the module"
          }
        },
        "keywords": {
          "target": "com.ovh.webhosting#HostingWebModuleListKeywordsList",
          "traits": {
            "smithy.api#documentation": "The keywords for this module"
          }
        },
        "language": {
          "target": "com.ovh.webhosting#HostingWebModuleListLanguageList",
          "traits": {
            "smithy.api#documentation": "All available languages for this module"
          }
        },
        "languageRequirement": {
          "target": "com.ovh.webhosting#ComplexTypeUnitAndValueString",
          "traits": {
            "smithy.api#documentation": "Minimal language version required to run this module"
          }
        },
        "latest": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is this the latest version available?"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the module"
          }
        },
        "size": {
          "target": "com.ovh.webhosting#ComplexTypeUnitAndValueDouble",
          "traits": {
            "smithy.api#documentation": "Size of the module"
          }
        },
        "upgradeFrom": {
          "target": "com.ovh.webhosting#HostingWebModuleListUpgradeFromList",
          "traits": {
            "smithy.api#documentation": "The IDs of the module you can upgrade to"
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the module"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A module specifically packaged by OVH"
      }
    },
    "com.ovh.webhosting#HostingWebModuleAdminNameTypeEnum": {
      "type": "enum",
      "members": {
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the admin name"
      }
    },
    "com.ovh.webhosting#HostingWebModuleListKeywordsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The keywords for this module"
      }
    },
    "com.ovh.webhosting#HostingWebModuleLanguageEnum": {
      "type": "enum",
      "members": {
        "CZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cz"
          }
        },
        "DE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "de"
          }
        },
        "EN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "en"
          }
        },
        "ES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "es"
          }
        },
        "FI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fi"
          }
        },
        "FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fr"
          }
        },
        "IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "it"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lt"
          }
        },
        "NL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nl"
          }
        },
        "PL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pl"
          }
        },
        "PT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pt"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Install language"
      }
    },
    "com.ovh.webhosting#HostingWebModuleListLanguageList": {
      "type": "list",
      "member": {
        "target": "com.ovh.webhosting#HostingWebModuleLanguageEnum"
      },
      "traits": {
        "smithy.api#documentation": "All available languages for this module"
      }
    },
    "com.ovh.webhosting#ComplexTypeUnitAndValueString": {
      "type": "structure",
      "members": {
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unit of the value"
          }
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "A numeric value tagged with its unit"
      }
    },
    "com.ovh.webhosting#ComplexTypeUnitAndValueDouble": {
      "type": "structure",
      "members": {
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unit of the value"
          }
        },
        "value": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {
        "smithy.api#documentation": "A numeric value tagged with its unit"
      }
    },
    "com.ovh.webhosting#HostingWebModuleListUpgradeFromList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "The IDs of the module you can upgrade to"
      }
    },
    "com.ovh.webhosting#GetHostingWebModuleListId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.webhosting#GetHostingWebModuleListIdRequest"
      },
      "output": {
        "target": "com.ovh.webhosting#HostingWebModuleList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/hosting/web/moduleList/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.webhosting#HostingWebOfferCapabilitiesEnum": {
      "type": "enum",
      "members": {
        "_1000GP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1000gp"
          }
        },
        "_20GP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "20gp"
          }
        },
        "_240GP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "240gp"
          }
        },
        "_240PACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "240pack"
          }
        },
        "_240PLAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "240plan"
          }
        },
        "_300GP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "300gp"
          }
        },
        "_60GP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "60gp"
          }
        },
        "_720PACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "720pack"
          }
        },
        "_720PLAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "720plan"
          }
        },
        "_90PACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "90pack"
          }
        },
        "_90PLAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "90plan"
          }
        },
        "CLOUDWEB_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUDWEB_1"
          }
        },
        "CLOUDWEB_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUDWEB_2"
          }
        },
        "CLOUDWEB_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUDWEB_3"
          }
        },
        "KS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KS"
          }
        },
        "PERFORMANCE_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERFORMANCE_1"
          }
        },
        "PERFORMANCE_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERFORMANCE_2"
          }
        },
        "PERFORMANCE_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERFORMANCE_3"
          }
        },
        "PERFORMANCE_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERFORMANCE_4"
          }
        },
        "PERSO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERSO"
          }
        },
        "POWER_BETA_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POWER_BETA_1"
          }
        },
        "PRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRO"
          }
        },
        "START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START"
          }
        },
        "BUSINESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "business"
          }
        },
        "CLOUDWEB1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudweb1"
          }
        },
        "CLOUDWEB2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudweb2"
          }
        },
        "CLOUDWEB3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudweb3"
          }
        },
        "CLOUDWEBBETAX1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudwebbetax1"
          }
        },
        "DEPRO2012": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "depro2012"
          }
        },
        "DEPROL2012": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deprol2012"
          }
        },
        "DEPROXL2012": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deproxl2012"
          }
        },
        "DEPROXXL2012": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deproxxl2012"
          }
        },
        "DESTART2012": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "destart2012"
          }
        },
        "DESTARTL2012": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "destartl2012"
          }
        },
        "DESTARTXL2012": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "destartxl2012"
          }
        },
        "DOMAINPACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domainpack"
          }
        },
        "HOSTING_FREE_100M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hosting-free-100m"
          }
        },
        "HOSTING_PERFORMANCE_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hosting-performance-1"
          }
        },
        "HOSTING_PERFORMANCE_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hosting-performance-2"
          }
        },
        "HOSTING_PERFORMANCE_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hosting-performance-3"
          }
        },
        "HOSTING_PERFORMANCE_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hosting-performance-4"
          }
        },
        "HOSTING_PERSO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hosting-perso"
          }
        },
        "HOSTING_PRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hosting-pro"
          }
        },
        "HOSTING_STARTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hosting-starter"
          }
        },
        "HOSTING_STARTER_OVH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hosting-starter-ovh"
          }
        },
        "HOSTINGATSCALEX128": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hostingAtScaleX128"
          }
        },
        "HOSTINGATSCALEX16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hostingAtScaleX16"
          }
        },
        "HOSTINGATSCALEX20": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hostingAtScaleX20"
          }
        },
        "HOSTINGATSCALEX24": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hostingAtScaleX24"
          }
        },
        "HOSTINGATSCALEX32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hostingAtScaleX32"
          }
        },
        "HOSTINGATSCALEX64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hostingAtScaleX64"
          }
        },
        "HOSTINGATSCALEX8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hostingAtScaleX8"
          }
        },
        "ITBUSINESS2012": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "itbusiness2012"
          }
        },
        "ITPERSO2012": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "itperso2012"
          }
        },
        "ITPREMIUM2012": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "itpremium2012"
          }
        },
        "KIMSUFI2015": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kimsufi2015"
          }
        },
        "MAILPACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mailpack"
          }
        },
        "MAILPLAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mailplan"
          }
        },
        "MEDIAPACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mediapack"
          }
        },
        "MEDIAPLAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mediaplan"
          }
        },
        "OVHPRO1TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ovhpro1To"
          }
        },
        "OVHPRO2TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ovhpro2To"
          }
        },
        "OVHPRO5TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ovhpro5To"
          }
        },
        "PAAS2014BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paas2014beta"
          }
        },
        "PERF2014X1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "perf2014x1"
          }
        },
        "PERF2014X2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "perf2014x2"
          }
        },
        "PERF2014X3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "perf2014x3"
          }
        },
        "PERF2014X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "perf2014x4"
          }
        },
        "PERSO2010": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "perso2010"
          }
        },
        "PERSO2014": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "perso2014"
          }
        },
        "POWERBETA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "powerBeta1"
          }
        },
        "POWERBETA1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "powerbeta1"
          }
        },
        "PREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "premium"
          }
        },
        "PRO2010": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pro2010"
          }
        },
        "PRO2014": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pro2014"
          }
        },
        "START10G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "start10g"
          }
        },
        "START10M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "start10m"
          }
        },
        "START1G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "start1g"
          }
        },
        "START1GES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "start1ges"
          }
        },
        "START1M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "start1m"
          }
        },
        "START5G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "start5g"
          }
        },
        "STARTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "starter"
          }
        },
        "XXLPACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xxlpack"
          }
        },
        "XXLPLAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xxlplan"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Hosting's offer"
      }
    },
    "com.ovh.webhosting#GetHostingWebOfferCapabilitiesRequest": {
      "type": "structure",
      "members": {
        "offer": {
          "target": "com.ovh.webhosting#HostingWebOfferCapabilitiesEnum",
          "traits": {
            "smithy.api#httpQuery": "offer",
            "smithy.api#required": {},
            "smithy.api#documentation": "Describe offer capabilities"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.webhosting#HostingWebCapabilities": {
      "type": "structure",
      "members": {
        "attachedDomains": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of domains you can attach to your hosting"
          }
        },
        "crontab": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Does the offer allow crontab"
          }
        },
        "databaseEngines": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of database engines allowed for your hosting"
          }
        },
        "databases": {
          "target": "com.ovh.webhosting#HostingWebCapabilitiesDatabasesList",
          "traits": {
            "smithy.api#documentation": "Describe all databases type you can have"
          }
        },
        "disk": {
          "target": "com.ovh.webhosting#HostingWebDiskType",
          "traits": {
            "smithy.api#documentation": "Disk capacity and type available for your hosting ( null for unlimited )",
            "com.distilled.openapi#nullable": {}
          }
        },
        "emails": {
          "target": "com.ovh.webhosting#HostingWebCreationEmailCapabilities",
          "traits": {
            "smithy.api#documentation": "Describe all email offer you can have"
          }
        },
        "envVars": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of environment variables allowed for your hosting"
          }
        },
        "extraUsers": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of ftp user you can create"
          }
        },
        "filesBrowser": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Does the offer allow access to web files browser?"
          }
        },
        "highlight": {
          "target": "com.ovh.webhosting#HostingWebHighLightEnum",
          "traits": {
            "smithy.api#documentation": "Marketing information about the current offer",
            "com.distilled.openapi#nullable": {}
          }
        },
        "languages": {
          "target": "com.ovh.webhosting#HostingWebCronLanguageAvailable",
          "traits": {
            "smithy.api#documentation": "Language available for cron script"
          }
        },
        "moduleOneClick": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Does the offer allow 1-click modules?"
          }
        },
        "privateDatabases": {
          "target": "com.ovh.webhosting#HostingWebCapabilitiesPrivateDatabasesList",
          "traits": {
            "smithy.api#documentation": "Describe all privateDatabases type you can have"
          }
        },
        "runtimes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of runtimes allowed for your hosting"
          }
        },
        "sitesRecommended": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of sites recommended for your hosting ( -1 for unlimited )",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ssh": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Does the offer allow SSH access"
          }
        },
        "traffic": {
          "target": "com.ovh.webhosting#ComplexTypeUnitAndValueDouble",
          "traits": {
            "smithy.api#documentation": "Traffic quota size for your hosting ( null for unlimited )",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Struct which describs an offer"
      }
    },
    "com.ovh.webhosting#HostingWebDatabaseCreationDatabaseCapabilities": {
      "type": "structure",
      "members": {
        "available": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of database left for creation"
          }
        },
        "engines": {
          "target": "com.ovh.webhosting#HostingWebDatabaseCreationDatabaseCapabilitiesEnginesList",
          "traits": {
            "smithy.api#documentation": "Database software available on this platform"
          }
        },
        "isolation": {
          "target": "com.ovh.webhosting#HostingWebDatabaseDatabaseIsolationEnum",
          "traits": {
            "smithy.api#documentation": "Technology use to isolate differents webhosting accounts"
          }
        },
        "quota": {
          "target": "com.ovh.webhosting#ComplexTypeUnitAndValueLong",
          "traits": {
            "smithy.api#documentation": "Size of data can be used"
          }
        },
        "type": {
          "target": "com.ovh.webhosting#HostingWebDatabaseDatabaseCapabilitiesTypeEnum",
          "traits": {
            "smithy.api#documentation": "Database offer name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Struct which describs quota and available for a specific type of database"
      }
    },
    "com.ovh.webhosting#HostingWebDatabaseDatabaseTypeEnum": {
      "type": "enum",
      "members": {
        "MARIADB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mariadb"
          }
        },
        "MONGODB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mongodb"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "REDIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redis"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Database Type enum"
      }
    },
    "com.ovh.webhosting#HostingWebDatabaseCreationDatabaseCapabilitiesEnginesList": {
      "type": "list",
      "member": {
        "target": "com.ovh.webhosting#HostingWebDatabaseDatabaseTypeEnum"
      },
      "traits": {
        "smithy.api#documentation": "Database software available on this platform"
      }
    },
    "com.ovh.webhosting#HostingWebDatabaseDatabaseIsolationEnum": {
      "type": "enum",
      "members": {
        "DEDICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dedicated"
          }
        },
        "LOCAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "local"
          }
        },
        "SHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shared"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Database Isolation enum"
      }
    },
    "com.ovh.webhosting#ComplexTypeUnitAndValueLong": {
      "type": "structure",
      "members": {
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unit of the value"
          }
        },
        "value": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#documentation": "A numeric value tagged with its unit"
      }
    },
    "com.ovh.webhosting#HostingWebDatabaseDatabaseCapabilitiesTypeEnum": {
      "type": "enum",
      "members": {
        "EXTRASQLPERSO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "extraSqlPerso"
          }
        },
        "LOCAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "local"
          }
        },
        "PRIVATEDATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "privateDatabase"
          }
        },
        "SQLLOCAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sqlLocal"
          }
        },
        "SQLPERSO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sqlPerso"
          }
        },
        "SQLPRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sqlPro"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Database capabitities type enum"
      }
    },
    "com.ovh.webhosting#HostingWebCapabilitiesDatabasesList": {
      "type": "list",
      "member": {
        "target": "com.ovh.webhosting#HostingWebDatabaseCreationDatabaseCapabilities"
      },
      "traits": {
        "smithy.api#documentation": "Describe all databases type you can have"
      }
    },
    "com.ovh.webhosting#HostingWebDiskType": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.ovh.webhosting#HostingWebDiskTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of the disk"
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unit for disk size"
          }
        },
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Size of the disk"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Disk properties (size and type of disk)"
      }
    },
    "com.ovh.webhosting#HostingWebDiskTypeEnum": {
      "type": "enum",
      "members": {
        "HDD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HDD"
          }
        },
        "SSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSD"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Disk type available"
      }
    },
    "com.ovh.webhosting#HostingWebCreationEmailCapabilities": {
      "type": "structure",
      "members": {
        "available": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of email available for creation"
          }
        },
        "quota": {
          "target": "com.ovh.webhosting#ComplexTypeUnitAndValueLong",
          "traits": {
            "smithy.api#documentation": "Email account capacity"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Struct which describes mail offer available and his quota"
      }
    },
    "com.ovh.webhosting#HostingWebHighLightEnum": {
      "type": "enum",
      "members": {
        "BEST_SELLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "best-seller"
          }
        },
        "NEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "new"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Highlight tips for offer"
      }
    },
    "com.ovh.webhosting#HostingWebCronLanguageAvailable": {
      "type": "structure",
      "members": {
        "nodejs": {
          "target": "com.ovh.webhosting#HostingWebCronLanguageAvailableNodejsList",
          "traits": {
            "smithy.api#documentation": "NodeJS versions"
          }
        },
        "php": {
          "target": "com.ovh.webhosting#HostingWebCronLanguageAvailablePhpList",
          "traits": {
            "smithy.api#documentation": "Php versions"
          }
        },
        "python": {
          "target": "com.ovh.webhosting#HostingWebCronLanguageAvailablePythonList",
          "traits": {
            "smithy.api#documentation": "Python versions"
          }
        },
        "ruby": {
          "target": "com.ovh.webhosting#HostingWebCronLanguageAvailableRubyList",
          "traits": {
            "smithy.api#documentation": "Ruby versions"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Language available for cron script"
      }
    },
    "com.ovh.webhosting#HostingWebNodejsVersionAvailableEnum": {
      "type": "enum",
      "members": {
        "NODEJS_10": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nodejs-10"
          }
        },
        "NODEJS_11": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nodejs-11"
          }
        },
        "NODEJS_12": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nodejs-12"
          }
        },
        "NODEJS_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nodejs-8"
          }
        },
        "NODEJS_9": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nodejs-9"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Different NodeJs versions available"
      }
    },
    "com.ovh.webhosting#HostingWebCronLanguageAvailableNodejsList": {
      "type": "list",
      "member": {
        "target": "com.ovh.webhosting#HostingWebNodejsVersionAvailableEnum"
      },
      "traits": {
        "smithy.api#documentation": "NodeJS versions"
      }
    },
    "com.ovh.webhosting#HostingWebPhpVersionAvailableEnum": {
      "type": "enum",
      "members": {
        "PHPFPM_5_6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "phpfpm-5.6"
          }
        },
        "PHPFPM_7_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "phpfpm-7.0"
          }
        },
        "PHPFPM_7_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "phpfpm-7.1"
          }
        },
        "PHPFPM_7_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "phpfpm-7.2"
          }
        },
        "PHPFPM_7_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "phpfpm-7.3"
          }
        },
        "PHPFPM_7_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "phpfpm-7.4"
          }
        },
        "PHPFPM_8_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "phpfpm-8.0"
          }
        },
        "PHPFPM_8_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "phpfpm-8.1"
          }
        },
        "PHPFPM_8_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "phpfpm-8.2"
          }
        },
        "PHPFPM_8_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "phpfpm-8.3"
          }
        },
        "PHPFPM_8_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "phpfpm-8.4"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Different PHP versions available"
      }
    },
    "com.ovh.webhosting#HostingWebCronLanguageAvailablePhpList": {
      "type": "list",
      "member": {
        "target": "com.ovh.webhosting#HostingWebPhpVersionAvailableEnum"
      },
      "traits": {
        "smithy.api#documentation": "Php versions"
      }
    },
    "com.ovh.webhosting#HostingWebPythonVersionAvailableEnum": {
      "type": "enum",
      "members": {
        "PYTHON_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "python-2"
          }
        },
        "PYTHON_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "python-3"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Different Python versions available"
      }
    },
    "com.ovh.webhosting#HostingWebCronLanguageAvailablePythonList": {
      "type": "list",
      "member": {
        "target": "com.ovh.webhosting#HostingWebPythonVersionAvailableEnum"
      },
      "traits": {
        "smithy.api#documentation": "Python versions"
      }
    },
    "com.ovh.webhosting#HostingWebRubyVersionAvailableEnum": {
      "type": "enum",
      "members": {
        "RUBY_2_6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ruby-2.6"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Different Ruby versions available"
      }
    },
    "com.ovh.webhosting#HostingWebCronLanguageAvailableRubyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.webhosting#HostingWebRubyVersionAvailableEnum"
      },
      "traits": {
        "smithy.api#documentation": "Ruby versions"
      }
    },
    "com.ovh.webhosting#HostingWebCapabilitiesPrivateDatabasesList": {
      "type": "list",
      "member": {
        "target": "com.ovh.webhosting#HostingWebDatabaseCreationDatabaseCapabilities"
      },
      "traits": {
        "smithy.api#documentation": "Describe all privateDatabases type you can have"
      }
    },
    "com.ovh.webhosting#GetHostingWebOfferCapabilities": {
      "type": "operation",
      "input": {
        "target": "com.ovh.webhosting#GetHostingWebOfferCapabilitiesRequest"
      },
      "output": {
        "target": "com.ovh.webhosting#HostingWebCapabilities"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/hosting/web/offerCapabilities",
          "code": 200
        },
        "smithy.api#documentation": "Get offer capabilities"
      }
    },
    "com.ovh.webhosting#HostingWebSupportedVcsEnum": {
      "type": "enum",
      "members": {
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Supported VCS platforms"
      }
    },
    "com.ovh.webhosting#GetHostingWebVcsSupportedResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.ovh.webhosting#HostingWebSupportedVcsEnum"
      },
      "traits": {}
    },
    "com.ovh.webhosting#GetHostingWebVcsSupportedResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.webhosting#GetHostingWebVcsSupportedResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.webhosting#GetHostingWebVcsSupported": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.ovh.webhosting#GetHostingWebVcsSupportedResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/hosting/web/vcs/supported",
          "code": 200
        },
        "smithy.api#documentation": "Get list of supported VCS platforms"
      }
    },
    "com.ovh.webhosting#GetHostingWebServiceNameRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.webhosting#HostingWebServiceWithIAM": {
      "type": "structure",
      "members": {
        "availableBoostOffer": {
          "target": "com.ovh.webhosting#HostingWebServiceWithIAMAvailableBoostOfferList",
          "traits": {
            "smithy.api#documentation": "Available offers for boost option"
          }
        },
        "boostOffer": {
          "target": "com.ovh.webhosting#HostingWebOfferCapabilitiesEnum",
          "traits": {
            "smithy.api#documentation": "Current boost offer",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cluster": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cluster name"
          }
        },
        "clusterIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This direct ip to your cluster ( usefull for application like api )",
            "com.distilled.openapi#nullable": {}
          }
        },
        "clusterIpv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This direct ipv6 to your cluster ( usefull for application like api )",
            "com.distilled.openapi#nullable": {}
          }
        },
        "countriesIp": {
          "target": "com.ovh.webhosting#HostingWebServiceWithIAMCountriesIpList",
          "traits": {
            "smithy.api#documentation": "Available clusterIp by countries",
            "com.distilled.openapi#nullable": {}
          }
        },
        "datacenter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Datacenter where this account is located"
          }
        },
        "defaultAttachedDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default attached domain created along with your hosting",
            "com.distilled.openapi#nullable": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the name displayed in ManagerV6 for your hosting (max 50 chars, empty string resets to service name)"
          }
        },
        "filer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filer name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "hasCdn": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Has a CDN service linked on the hosting",
            "com.distilled.openapi#nullable": {}
          }
        },
        "hasHostedSsl": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Has a HostedSSL service linked on the hosting",
            "com.distilled.openapi#nullable": {}
          }
        },
        "home": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path of your home"
          }
        },
        "hostingIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The recommended ip for your hosting ( depends on hosting's linked services, e.g CDN or hostedSSL )",
            "com.distilled.openapi#nullable": {}
          }
        },
        "hostingIpv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The recommended ipv6 for your hosting ( depends on hosting's linked services, e.g CDN or hostedSSL )",
            "com.distilled.openapi#nullable": {}
          }
        },
        "iam": {
          "target": "com.ovh.webhosting#IamResourceMetadata",
          "traits": {
            "smithy.api#documentation": "IAM resource metadata",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lastOvhConfigScan": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "/hosting/web/{serviceName}/ovhConfig is stored in cache. This date is the last refresh of this data",
            "com.distilled.openapi#nullable": {}
          }
        },
        "multipleSSL": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, service can manage more than only one certificate"
          }
        },
        "offer": {
          "target": "com.ovh.webhosting#HostingWebOfferCapabilitiesEnum",
          "traits": {
            "smithy.api#documentation": "Hosting offer"
          }
        },
        "operatingSystem": {
          "target": "com.ovh.webhosting#HostingWebOperatingSystemEnum",
          "traits": {
            "smithy.api#documentation": "Hosting's OS"
          }
        },
        "phpVersions": {
          "target": "com.ovh.webhosting#HostingWebServiceWithIAMPhpVersionsList",
          "traits": {
            "smithy.api#documentation": "State of available php versions for this account"
          }
        },
        "primaryLogin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hosting's main login"
          }
        },
        "quotaSize": {
          "target": "com.ovh.webhosting#ComplexTypeUnitAndValueDouble",
          "traits": {
            "smithy.api#documentation": "Space allowed"
          }
        },
        "quotaUsed": {
          "target": "com.ovh.webhosting#ComplexTypeUnitAndValueDouble",
          "traits": {
            "smithy.api#documentation": "Space used",
            "com.distilled.openapi#nullable": {}
          }
        },
        "recommendedOffer": {
          "target": "com.ovh.webhosting#HostingWebOfferEnum",
          "traits": {
            "smithy.api#documentation": "If your offer is old, return a recommended offer to migrate on",
            "com.distilled.openapi#nullable": {}
          }
        },
        "resourceType": {
          "target": "com.ovh.webhosting#HostingWebResourceEnum",
          "traits": {
            "smithy.api#documentation": "Hosting resource type"
          }
        },
        "serviceManagementAccess": {
          "target": "com.ovh.webhosting#HostingWebServiceAccess",
          "traits": {
            "smithy.api#documentation": "URLs to use to manage your webhosting"
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service name"
          }
        },
        "state": {
          "target": "com.ovh.webhosting#HostingWebStateEnum",
          "traits": {
            "smithy.api#documentation": "State of your hosting"
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use to link an external domain. ( This token has to be insert into a TXT field on your dns zone with ovhcontrol subdomain )",
            "com.distilled.openapi#nullable": {}
          }
        },
        "trafficQuotaSize": {
          "target": "com.ovh.webhosting#ComplexTypeUnitAndValueDouble",
          "traits": {
            "smithy.api#documentation": "Traffic quota allowed ( null = unlimited )",
            "com.distilled.openapi#nullable": {}
          }
        },
        "trafficQuotaUsed": {
          "target": "com.ovh.webhosting#ComplexTypeUnitAndValueDouble",
          "traits": {
            "smithy.api#documentation": "Traffic quota used",
            "com.distilled.openapi#nullable": {}
          }
        },
        "updates": {
          "target": "com.ovh.webhosting#HostingWebServiceWithIAMUpdatesList",
          "traits": {
            "smithy.api#documentation": "List of updates on your hosting"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Web Hosting"
      }
    },
    "com.ovh.webhosting#HostingWebAvailableOfferStruct": {
      "type": "structure",
      "members": {
        "offer": {
          "target": "com.ovh.webhosting#HostingWebOfferEnum",
          "traits": {
            "smithy.api#documentation": "Available boost offer"
          }
        },
        "price": {
          "target": "com.ovh.webhosting#OrderPrice",
          "traits": {
            "smithy.api#documentation": "The price in month for this boost offer"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Struct which describs an boost offer from a service"
      }
    },
    "com.ovh.webhosting#OrderPrice": {
      "type": "structure",
      "members": {
        "currencyCode": {
          "target": "com.ovh.webhosting#OrderCurrencyCodeEnum",
          "traits": {
            "smithy.api#documentation": "Currency code"
          }
        },
        "priceInUcents": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Price in microcents",
            "com.distilled.openapi#nullable": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation"
          }
        },
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The effective price"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Price with its currency and textual representation"
      }
    },
    "com.ovh.webhosting#OrderCurrencyCodeEnum": {
      "type": "enum",
      "members": {
        "AUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUD"
          }
        },
        "CAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAD"
          }
        },
        "CZK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CZK"
          }
        },
        "EUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EUR"
          }
        },
        "GBP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GBP"
          }
        },
        "INR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INR"
          }
        },
        "LTL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LTL"
          }
        },
        "MAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAD"
          }
        },
        "N_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N/A"
          }
        },
        "PLN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLN"
          }
        },
        "SGD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SGD"
          }
        },
        "TND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TND"
          }
        },
        "USD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USD"
          }
        },
        "XOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XOF"
          }
        },
        "POINTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "points"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Currency code"
      }
    },
    "com.ovh.webhosting#HostingWebServiceWithIAMAvailableBoostOfferList": {
      "type": "list",
      "member": {
        "target": "com.ovh.webhosting#HostingWebAvailableOfferStruct"
      },
      "traits": {
        "smithy.api#documentation": "Available offers for boost option"
      }
    },
    "com.ovh.webhosting#HostingWebCountriesIp": {
      "type": "structure",
      "members": {
        "country": {
          "target": "com.ovh.webhosting#HostingWebCountryEnum",
          "traits": {
            "smithy.api#documentation": "The whois country of the ip"
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cluster ip",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cluster ipv6",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Available clusterIp by country"
      }
    },
    "com.ovh.webhosting#HostingWebCountryEnum": {
      "type": "enum",
      "members": {
        "BE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BE"
          }
        },
        "CA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CA"
          }
        },
        "CZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CZ"
          }
        },
        "DE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DE"
          }
        },
        "ES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ES"
          }
        },
        "FI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FI"
          }
        },
        "FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FR"
          }
        },
        "IE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IE"
          }
        },
        "IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IT"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LT"
          }
        },
        "NL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NL"
          }
        },
        "PL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PL"
          }
        },
        "PT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT"
          }
        },
        "UK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UK"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Available cluster countries"
      }
    },
    "com.ovh.webhosting#HostingWebServiceWithIAMCountriesIpList": {
      "type": "list",
      "member": {
        "target": "com.ovh.webhosting#HostingWebCountriesIp"
      },
      "traits": {
        "smithy.api#documentation": "Available clusterIp by countries"
      }
    },
    "com.ovh.webhosting#IamResourceMetadata": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource display name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the resource"
          }
        },
        "tags": {
          "target": "com.ovh.webhosting#IamResourceMetadataTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:",
            "com.distilled.openapi#nullable": {}
          }
        },
        "urn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique resource name used in policies"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IAM resource metadata embedded in services models"
      }
    },
    "com.ovh.webhosting#IamResourceMetadataTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:"
      }
    },
    "com.ovh.webhosting#HostingWebOperatingSystemEnum": {
      "type": "enum",
      "members": {
        "LINUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "linux"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Hosting's OS"
      }
    },
    "com.ovh.webhosting#HostingWebPhpVersion": {
      "type": "structure",
      "members": {
        "support": {
          "target": "com.ovh.webhosting#HostingWebPhpVersionStateEnum",
          "traits": {
            "smithy.api#documentation": "Current support of this php version"
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PHP version"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State of available php versions for this account"
      }
    },
    "com.ovh.webhosting#HostingWebPhpVersionStateEnum": {
      "type": "enum",
      "members": {
        "BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BETA"
          }
        },
        "END_OF_LIFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "END_OF_LIFE"
          }
        },
        "SECURITY_FIXES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY_FIXES"
          }
        },
        "SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUPPORTED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Different support of PHP versions"
      }
    },
    "com.ovh.webhosting#HostingWebServiceWithIAMPhpVersionsList": {
      "type": "list",
      "member": {
        "target": "com.ovh.webhosting#HostingWebPhpVersion"
      },
      "traits": {
        "smithy.api#documentation": "State of available php versions for this account"
      }
    },
    "com.ovh.webhosting#HostingWebResourceEnum": {
      "type": "enum",
      "members": {
        "BESTEFFORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bestEffort"
          }
        },
        "CLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloud"
          }
        },
        "DEDICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dedicated"
          }
        },
        "SHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shared"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Hosting's type"
      }
    },
    "com.ovh.webhosting#HostingWebServiceAccess": {
      "type": "structure",
      "members": {
        "ftp": {
          "target": "com.ovh.webhosting#HostingWebAddress",
          "traits": {
            "smithy.api#documentation": "Address with url and port to manage files by ftp"
          }
        },
        "http": {
          "target": "com.ovh.webhosting#HostingWebAddress",
          "traits": {
            "smithy.api#documentation": "Address to see your webhosting without domain"
          }
        },
        "ssh": {
          "target": "com.ovh.webhosting#HostingWebAddress",
          "traits": {
[...]
