{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.ovh.xdsl#IamResourceTagFilterInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Resource tag filter"
      }
    },
    "com.ovh.xdsl#GetXdslRequestIamTagsValueList": {
      "type": "list",
      "member": {
        "target": "com.ovh.xdsl#IamResourceTagFilterInput"
      },
      "traits": {}
    },
    "com.ovh.xdsl#GetXdslRequestIamTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.ovh.xdsl#GetXdslRequestIamTagsValueList"
      },
      "traits": {}
    },
    "com.ovh.xdsl#GetXdslRequest": {
      "type": "structure",
      "members": {
        "iamTags": {
          "target": "com.ovh.xdsl#GetXdslRequestIamTagsMap",
          "traits": {
            "smithy.api#httpQuery": "iamTags",
            "smithy.api#documentation": "Filter resources on IAM tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.xdsl#GetXdslResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.xdsl#GetXdslResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.xdsl#GetXdslResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.xdsl#GetXdsl": {
      "type": "operation",
      "input": {
        "target": "com.ovh.xdsl#GetXdslRequest"
      },
      "output": {
        "target": "com.ovh.xdsl#GetXdslResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/xdsl",
          "code": 200
        },
        "smithy.api#documentation": "List available services"
      }
    },
    "com.ovh.xdsl#GetXdslEmailProRequestIamTagsValueList": {
      "type": "list",
      "member": {
        "target": "com.ovh.xdsl#IamResourceTagFilterInput"
      },
      "traits": {}
    },
    "com.ovh.xdsl#GetXdslEmailProRequestIamTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.ovh.xdsl#GetXdslEmailProRequestIamTagsValueList"
      },
      "traits": {}
    },
    "com.ovh.xdsl#GetXdslEmailProRequest": {
      "type": "structure",
      "members": {
        "iamTags": {
          "target": "com.ovh.xdsl#GetXdslEmailProRequestIamTagsMap",
          "traits": {
            "smithy.api#httpQuery": "iamTags",
            "smithy.api#documentation": "Filter resources on IAM tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.xdsl#GetXdslEmailProResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.xdsl#GetXdslEmailProResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.xdsl#GetXdslEmailProResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.xdsl#GetXdslEmailPro": {
      "type": "operation",
      "input": {
        "target": "com.ovh.xdsl#GetXdslEmailProRequest"
      },
      "output": {
        "target": "com.ovh.xdsl#GetXdslEmailProResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/xdsl/email/pro",
          "code": 200
        },
        "smithy.api#documentation": "List available services"
      }
    },
    "com.ovh.xdsl#GetXdslEmailProEmailRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.xdsl#XdslXdslEmailProWithIAM": {
      "type": "structure",
      "members": {
        "currentUsage": {
          "target": "com.ovh.xdsl#ComplexTypeUnitAndValueDouble",
          "traits": {
            "smithy.api#documentation": "Mailbox usage"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account display name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email domain"
          }
        },
        "firstName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account first name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "iam": {
          "target": "com.ovh.xdsl#IamResourceMetadata",
          "traits": {
            "smithy.api#documentation": "IAM resource metadata",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Account id"
          }
        },
        "initial": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account initials",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lastLogoffDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last logoff",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lastLogonDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last logon",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lastName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account last name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "login": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account login"
          }
        },
        "passwordLastUpdate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time of account's password last update",
            "com.distilled.openapi#nullable": {},
            "smithy.api#sensitive": {}
          }
        },
        "primaryEmailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default email for this mailbox"
          }
        },
        "quota": {
          "target": "com.ovh.xdsl#ComplexTypeUnitAndValueLong",
          "traits": {
            "smithy.api#documentation": "Account maximum size"
          }
        },
        "state": {
          "target": "com.ovh.xdsl#EmailProObjectStateEnum",
          "traits": {
            "smithy.api#documentation": "Account state"
          }
        },
        "taskPendingId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Pending tasks for this account",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "XDSL Email Pro"
      }
    },
    "com.ovh.xdsl#ComplexTypeUnitAndValueDouble": {
      "type": "structure",
      "members": {
        "unit": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {
        "smithy.api#documentation": "complexType.UnitAndValue_double"
      }
    },
    "com.ovh.xdsl#IamResourceMetadata": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource display name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the resource"
          }
        },
        "tags": {
          "target": "com.ovh.xdsl#IamResourceMetadataTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:",
            "com.distilled.openapi#nullable": {}
          }
        },
        "urn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique resource name used in policies"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IAM resource metadata embedded in services models"
      }
    },
    "com.ovh.xdsl#IamResourceMetadataTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags. Tags that were internally computed are prefixed with ovh:"
      }
    },
    "com.ovh.xdsl#ComplexTypeUnitAndValueLong": {
      "type": "structure",
      "members": {
        "unit": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#documentation": "complexType.UnitAndValue_long"
      }
    },
    "com.ovh.xdsl#EmailProObjectStateEnum": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "creating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleting"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "REOPENING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reopening"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspended"
          }
        },
        "SUSPENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspending"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current object state"
      }
    },
    "com.ovh.xdsl#GetXdslEmailProEmail": {
      "type": "operation",
      "input": {
        "target": "com.ovh.xdsl#GetXdslEmailProEmailRequest"
      },
      "output": {
        "target": "com.ovh.xdsl#XdslXdslEmailProWithIAM"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/xdsl/email/pro/{email}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.xdsl#PutXdslEmailProEmailRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account display name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "firstName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account first name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "initial": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account initials",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lastName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account last name",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.xdsl#PutXdslEmailProEmail": {
      "type": "operation",
      "input": {
        "target": "com.ovh.xdsl#PutXdslEmailProEmailRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/xdsl/email/pro/{email}",
          "code": 200
        },
        "smithy.api#documentation": "Alter this object properties"
      }
    },
    "com.ovh.xdsl#DeleteXdslEmailProEmailRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.xdsl#DeleteXdslEmailProEmail": {
      "type": "operation",
      "input": {
        "target": "com.ovh.xdsl#DeleteXdslEmailProEmailRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/xdsl/email/pro/{email}",
          "code": 200
        },
        "smithy.api#documentation": "Delete the email"
      }
    },
    "com.ovh.xdsl#ChangeEmailPasswordRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Email"
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New email password",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.xdsl#XdslEmailProTask": {
      "type": "structure",
      "members": {
        "finishDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Finished date of the task",
            "com.distilled.openapi#nullable": {}
          }
        },
        "function": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Function of the task"
          }
        },
        "status": {
          "target": "com.ovh.xdsl#XdslEmailProTaskStatusEnum",
          "traits": {
            "smithy.api#documentation": "Status of an Email Pro task."
          }
        },
        "todoDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Todo date of the task"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Task Struct"
      }
    },
    "com.ovh.xdsl#XdslEmailProTaskStatusEnum": {
      "type": "enum",
      "members": {
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        },
        "DOING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "doing"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "done"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "TODO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "todo"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of an Email Pro task."
      }
    },
    "com.ovh.xdsl#ChangeEmailPassword": {
      "type": "operation",
      "input": {
        "target": "com.ovh.xdsl#ChangeEmailPasswordRequest"
      },
      "output": {
        "target": "com.ovh.xdsl#XdslEmailProTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/xdsl/email/pro/{email}/changePassword",
          "code": 200
        },
        "smithy.api#documentation": "Change the email password"
      }
    },
    "com.ovh.xdsl#GetXdslIncidentsRequest": {
      "type": "structure",
      "members": {
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "creationDate",
            "smithy.api#documentation": "Filter the value of creationDate property (>)"
          }
        },
        "endDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "endDate",
            "smithy.api#documentation": "Filter the value of endDate property (<)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.xdsl#GetXdslIncidentsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.xdsl#GetXdslIncidentsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.xdsl#GetXdslIncidentsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.xdsl#GetXdslIncidents": {
      "type": "operation",
      "input": {
        "target": "com.ovh.xdsl#GetXdslIncidentsRequest"
      },
      "output": {
        "target": "com.ovh.xdsl#GetXdslIncidentsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/xdsl/incidents",
          "code": 200
        },
        "smithy.api#documentation": "List of incidents"
      }
    },
    "com.ovh.xdsl#GetXdslIncidentsIdRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.xdsl#XdslIncident": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "smithy.api#String"
        },
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Estimated start date"
          }
        },
        "departments": {
          "target": "com.ovh.xdsl#XdslIncidentDepartmentsList",
          "traits": {
            "smithy.api#documentation": "Department list"
          }
        },
        "endDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Estimated end date",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the incident"
          }
        },
        "nra": {
          "target": "com.ovh.xdsl#XdslIncidentNraList",
          "traits": {
            "smithy.api#documentation": "NRA list"
          }
        },
        "operators": {
          "target": "com.ovh.xdsl#XdslIncidentOperatorsList",
          "traits": {
            "smithy.api#documentation": "Operator"
          }
        },
        "taskId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Task ID on travaux.ovh.com",
            "com.distilled.openapi#nullable": {}
          }
        },
        "taskReference": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Detected incident"
      }
    },
    "com.ovh.xdsl#XdslIncidentDepartmentsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Department list"
      }
    },
    "com.ovh.xdsl#XdslIncidentNraList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "NRA list"
      }
    },
    "com.ovh.xdsl#XdslOperatorTypeEnum": {
      "type": "enum",
      "members": {
        "COLLECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "collect"
          }
        },
        "KOSC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kosc"
          }
        },
        "OVH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ovh"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Operators"
      }
    },
    "com.ovh.xdsl#XdslIncidentOperatorsList": {
      "type": "list",
      "member": {
        "target": "com.ovh.xdsl#XdslOperatorTypeEnum"
      },
      "traits": {
        "smithy.api#documentation": "Operator"
      }
    },
    "com.ovh.xdsl#GetXdslIncidentsId": {
      "type": "operation",
      "input": {
        "target": "com.ovh.xdsl#GetXdslIncidentsIdRequest"
      },
      "output": {
        "target": "com.ovh.xdsl#XdslIncident"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/xdsl/incidents/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.xdsl#GetXdslSpareRequestIamTagsValueList": {
      "type": "list",
      "member": {
        "target": "com.ovh.xdsl#IamResourceTagFilterInput"
      },
      "traits": {}
    },
    "com.ovh.xdsl#GetXdslSpareRequestIamTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.ovh.xdsl#GetXdslSpareRequestIamTagsValueList"
      },
      "traits": {}
    },
    "com.ovh.xdsl#GetXdslSpareRequest": {
      "type": "structure",
      "members": {
        "iamTags": {
          "target": "com.ovh.xdsl#GetXdslSpareRequestIamTagsMap",
          "traits": {
            "smithy.api#httpQuery": "iamTags",
            "smithy.api#documentation": "Filter resources on IAM tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.xdsl#GetXdslSpareResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.xdsl#GetXdslSpareResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.xdsl#GetXdslSpareResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.xdsl#GetXdslSpare": {
      "type": "operation",
      "input": {
        "target": "com.ovh.xdsl#GetXdslSpareRequest"
      },
      "output": {
        "target": "com.ovh.xdsl#GetXdslSpareResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/xdsl/spare",
          "code": 200
        },
        "smithy.api#documentation": "List available services"
      }
    },
    "com.ovh.xdsl#GetXdslSpareBrandsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.xdsl#GetXdslSpareBrandsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.xdsl#GetXdslSpareBrandsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.xdsl#GetXdslSpareBrands": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.ovh.xdsl#GetXdslSpareBrandsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/xdsl/spare/brands",
          "code": 200
        },
        "smithy.api#documentation": "Get all available spare brands"
      }
    },
    "com.ovh.xdsl#GetXdslSpareSpareRequest": {
      "type": "structure",
      "members": {
        "spare": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Spare"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.xdsl#SpareXdslXdslSpareWithIAM": {
      "type": "structure",
      "members": {
        "brand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Modem brand model"
          }
        },
        "iam": {
          "target": "com.ovh.xdsl#IamResourceMetadata",
          "traits": {
            "smithy.api#documentation": "IAM resource metadata",
            "com.distilled.openapi#nullable": {}
          }
        },
        "macAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mac address"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Spare properties"
      }
    },
    "com.ovh.xdsl#GetXdslSpareSpare": {
      "type": "operation",
      "input": {
        "target": "com.ovh.xdsl#GetXdslSpareSpareRequest"
      },
      "output": {
        "target": "com.ovh.xdsl#SpareXdslXdslSpareWithIAM"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/xdsl/spare/{spare}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.xdsl#DeleteXdslSpareSpareRequest": {
      "type": "structure",
      "members": {
        "spare": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Spare"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.xdsl#DeleteXdslSpareSpare": {
      "type": "operation",
      "input": {
        "target": "com.ovh.xdsl#DeleteXdslSpareSpareRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/xdsl/spare/{spare}",
          "code": 200
        },
        "smithy.api#documentation": "Delete the spare as if it was not belonging to OVH anymore"
      }
    },
    "com.ovh.xdsl#GetXdslSpareSpareCompatibleReplacementRequest": {
      "type": "structure",
      "members": {
        "spare": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Spare"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.xdsl#GetXdslSpareSpareCompatibleReplacementResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.xdsl#GetXdslSpareSpareCompatibleReplacementResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.xdsl#GetXdslSpareSpareCompatibleReplacementResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.xdsl#GetXdslSpareSpareCompatibleReplacement": {
      "type": "operation",
      "input": {
        "target": "com.ovh.xdsl#GetXdslSpareSpareCompatibleReplacementRequest"
      },
      "output": {
        "target": "com.ovh.xdsl#GetXdslSpareSpareCompatibleReplacementResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/xdsl/spare/{spare}/compatibleReplacement",
          "code": 200
        },
        "smithy.api#documentation": "Return the list of brand compatible to be replaced"
      }
    },
    "com.ovh.xdsl#ReplaceModemBySpareRequest": {
      "type": "structure",
      "members": {
        "spare": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Spare"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The modem to replace by the spare",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.xdsl#ReplaceModemBySpare": {
      "type": "operation",
      "input": {
        "target": "com.ovh.xdsl#ReplaceModemBySpareRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/xdsl/spare/{spare}/replace",
          "code": 200
        },
        "smithy.api#documentation": "Replace the modem by its spare"
      }
    },
    "com.ovh.xdsl#PostXdslSpareSpareReturnMerchandiseRequest": {
      "type": "structure",
      "members": {
        "spare": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Spare"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.xdsl#PostXdslSpareSpareReturnMerchandise": {
      "type": "operation",
      "input": {
        "target": "com.ovh.xdsl#PostXdslSpareSpareReturnMerchandiseRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/xdsl/spare/{spare}/returnMerchandise",
          "code": 200
        },
        "smithy.api#documentation": "Return the broken equipment in instantRefund"
      }
    },
    "com.ovh.xdsl#GetXdslSpareSpareServiceInfosRequest": {
      "type": "structure",
      "members": {
        "spare": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Spare"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.xdsl#ServicesService": {
      "type": "structure",
      "members": {
        "canDeleteAtExpiration": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates that the service can be set up to be deleted at expiration"
          }
        },
        "contactAdmin": {
          "target": "smithy.api#String"
        },
        "contactBilling": {
          "target": "smithy.api#String"
        },
        "contactTech": {
          "target": "smithy.api#String"
        },
        "creation": {
          "target": "smithy.api#String"
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "engagedUpTo": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "expiration": {
          "target": "smithy.api#String"
        },
        "possibleRenewPeriod": {
          "target": "com.ovh.xdsl#ServicesServicePossibleRenewPeriodList",
          "traits": {
            "smithy.api#documentation": "All the possible renew period of your service in month",
            "com.distilled.openapi#nullable": {}
          }
        },
        "renew": {
          "target": "com.ovh.xdsl#ServiceRenewType",
          "traits": {
            "smithy.api#documentation": "Way of handling the renew",
            "com.distilled.openapi#nullable": {}
          }
        },
        "renewalType": {
          "target": "com.ovh.xdsl#ServiceRenewalTypeEnum"
        },
        "serviceId": {
          "target": "smithy.api#Integer"
        },
        "status": {
          "target": "com.ovh.xdsl#ServiceStateEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about a Service"
      }
    },
    "com.ovh.xdsl#ServicesServicePossibleRenewPeriodList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "All the possible renew period of your service in month"
      }
    },
    "com.ovh.xdsl#ServiceRenewType": {
      "type": "structure",
      "members": {
        "automatic": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The service is automatically renewed"
          }
        },
        "deleteAtExpiration": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The service will be deleted at expiration"
          }
        },
        "forced": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The service forced to be renewed"
          }
        },
        "manualPayment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The service needs to be manually renewed and paid",
            "com.distilled.openapi#nullable": {}
          }
        },
        "period": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "period of renew in month",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Map a possible renew for a specific service"
      }
    },
    "com.ovh.xdsl#ServiceRenewalTypeEnum": {
      "type": "enum",
      "members": {
        "AUTOMATICFORCEDPRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automaticForcedProduct"
          }
        },
        "AUTOMATICV2012": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automaticV2012"
          }
        },
        "AUTOMATICV2014": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automaticV2014"
          }
        },
        "AUTOMATICV2016": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automaticV2016"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        },
        "ONESHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oneShot"
          }
        },
        "OPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "option"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Detailed renewal type of a service"
      }
    },
    "com.ovh.xdsl#ServiceStateEnum": {
      "type": "enum",
      "members": {
        "AUTORENEWINPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "autorenewInProgress"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        },
        "INCREATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inCreation"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "PENDINGDEBT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pendingDebt"
          }
        },
        "UNPAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unPaid"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "service.StateEnum"
      }
    },
    "com.ovh.xdsl#GetXdslSpareSpareServiceInfos": {
      "type": "operation",
      "input": {
        "target": "com.ovh.xdsl#GetXdslSpareSpareServiceInfosRequest"
      },
      "output": {
        "target": "com.ovh.xdsl#ServicesService"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/xdsl/spare/{spare}/serviceInfos",
          "code": 200
        },
        "smithy.api#documentation": "Get service information"
      }
    },
    "com.ovh.xdsl#PutXdslSpareSpareServiceInfosRequest": {
      "type": "structure",
      "members": {
        "spare": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Spare"
          }
        },
        "renew": {
          "target": "com.ovh.xdsl#ServiceRenewType",
          "traits": {
            "smithy.api#documentation": "Way of handling the renew",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.xdsl#PutXdslSpareSpareServiceInfos": {
      "type": "operation",
      "input": {
        "target": "com.ovh.xdsl#PutXdslSpareSpareServiceInfosRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/xdsl/spare/{spare}/serviceInfos",
          "code": 200
        },
        "smithy.api#documentation": "Update service information"
      }
    },
    "com.ovh.xdsl#GetModemTemplatesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.xdsl#GetModemTemplatesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.xdsl#GetModemTemplatesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.xdsl#GetModemTemplates": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.ovh.xdsl#GetModemTemplatesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/xdsl/templateModem",
          "code": 200
        },
        "smithy.api#documentation": "List of TemplateModem"
      }
    },
    "com.ovh.xdsl#CreateModemTemplateRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Modem Template name (only alphanumeric characters)",
            "smithy.api#required": {}
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The access name with the config you want to duplicate",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.xdsl#XdslTemplateModem": {
      "type": "structure",
      "members": {
        "DHCP": {
          "target": "com.ovh.xdsl#XdslTemplateModemDHCPList",
          "traits": {
            "smithy.api#documentation": "List of DHCP for this template"
          }
        },
        "LAN": {
          "target": "com.ovh.xdsl#XdslTemplateModemLANList",
          "traits": {
            "smithy.api#documentation": "List of LAN for this template"
          }
        },
        "WLAN": {
          "target": "com.ovh.xdsl#XdslTemplateModemWLANList",
          "traits": {
            "smithy.api#documentation": "List of WLAN for this template"
          }
        },
        "capabilities": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Parameters capabilities. Lists what can be applied from this template"
          }
        },
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Template creation date"
          }
        },
        "dmzIP": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Address of the DMZ",
            "com.distilled.openapi#nullable": {}
          }
        },
        "mtuSize": {
          "target": "com.ovh.xdsl#XdslXdslModemConfigMTUSizeEnum",
          "traits": {
            "smithy.api#documentation": "Size of the Maximum Transmission Unit on the modem's interfaces",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Modem Template"
          }
        },
        "parametersToIgnore": {
          "target": "com.ovh.xdsl#XdslTemplateModemParametersToIgnore",
          "traits": {
            "smithy.api#documentation": "Do not apply these parameters from template. You can use parametersCapabilities to know availability",
            "com.distilled.openapi#nullable": {}
          }
        },
        "portMapping": {
          "target": "com.ovh.xdsl#XdslTemplateModemPortMappingList",
          "traits": {
            "smithy.api#documentation": "List of PortMapping for this template"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Modem Template"
      }
    },
    "com.ovh.xdsl#XdslTemplateModemDHCP": {
      "type": "structure",
      "members": {
        "defaultGateway": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP address (e.g., 192.0.2.0)"
          }
        },
        "dhcpName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the DHCP"
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain name provided to the clients"
          }
        },
        "endAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP address (e.g., 192.0.2.0)"
          }
        },
        "leaseTime": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Lease time in seconds of client assigned address (-1 means infinite)"
          }
        },
        "primaryDNS": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP address (e.g., 192.0.2.0)"
          }
        },
        "secondaryDNS": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Secondary DNS servers to be given to the clients",
            "com.distilled.openapi#nullable": {}
          }
        },
        "serverEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "State of the DHCP server of the modem"
          }
        },
        "startAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP address (e.g., 192.0.2.0)"
          }
        },
        "subnetMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP address (e.g., 192.0.2.0)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DHCP Configuration for Modem Template"
      }
    },
    "com.ovh.xdsl#XdslTemplateModemDHCPList": {
      "type": "list",
      "member": {
        "target": "com.ovh.xdsl#XdslTemplateModemDHCP"
      },
      "traits": {
        "smithy.api#documentation": "List of DHCP for this template"
      }
    },
    "com.ovh.xdsl#XdslTemplateModemLAN": {
      "type": "structure",
      "members": {
        "IPAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP address (e.g., 192.0.2.0)"
          }
        },
        "addressingType": {
          "target": "com.ovh.xdsl#XdslXdslModemConfigAddressingTypeEnum",
          "traits": {
            "smithy.api#documentation": "How the modem gets its LAN IP Address"
          }
        },
        "lanName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the LAN"
          }
        },
        "subnetMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP address (e.g., 192.0.2.0)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "LAN Configuration for Modem Template"
      }
    },
    "com.ovh.xdsl#XdslXdslModemConfigAddressingTypeEnum": {
      "type": "enum",
      "members": {
        "DHCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DHCP"
          }
        },
        "STATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Static"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How the modem gets its LAN IP Address"
      }
    },
    "com.ovh.xdsl#XdslTemplateModemLANList": {
      "type": "list",
      "member": {
        "target": "com.ovh.xdsl#XdslTemplateModemLAN"
      },
      "traits": {
        "smithy.api#documentation": "List of LAN for this template"
      }
    },
    "com.ovh.xdsl#XdslTemplateModemWLAN": {
      "type": "structure",
      "members": {
        "SSID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service Set Identifier of the WLAN interface"
          }
        },
        "SSIDAdvertisementEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Control if Wifi is discoverable or hidden"
          }
        },
        "bandSteering": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicate if frequencies 2.4GHz and 5GHz are agregated"
          }
        },
        "channel": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Channel number (Useless if channelMode is set to Auto)"
          }
        },
        "channelMode": {
          "target": "com.ovh.xdsl#XdslXdslModemConfigChannelModeEnum",
          "traits": {
            "smithy.api#documentation": "How the WiFi channel is selected"
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Wifi state"
          }
        },
        "frequency": {
          "target": "com.ovh.xdsl#XdslXdslModemConfigFrequencyEnum",
          "traits": {
            "smithy.api#documentation": "Modem frequency"
          }
        },
        "guest": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicate if it is normal access wifi or guest wifi"
          }
        },
        "securityKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encrypted WLAN passphrase"
          }
        },
        "securityType": {
          "target": "com.ovh.xdsl#XdslTemplateModemSecurityTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of WLAN security protection"
          }
        },
        "wifiName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Wifi Name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "WLAN Configuration for Modem Template"
      }
    },
    "com.ovh.xdsl#XdslXdslModemConfigChannelModeEnum": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Auto"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Manual"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How the WiFi channel is selected"
      }
    },
    "com.ovh.xdsl#XdslXdslModemConfigFrequencyEnum": {
      "type": "enum",
      "members": {
        "_2_4GHZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "2.4GHz"
          }
        },
        "_5GHZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "5GHz"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Modem frequency"
      }
    },
    "com.ovh.xdsl#XdslTemplateModemSecurityTypeEnum": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "WPA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WPA"
          }
        },
        "WPA2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WPA2"
          }
        },
        "WPA2ANDWPA3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WPA2andWPA3"
          }
        },
        "WPA3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WPA3"
          }
        },
        "WPAANDWPA2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WPAandWPA2"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of WLAN security protection"
      }
    },
    "com.ovh.xdsl#XdslTemplateModemWLANList": {
      "type": "list",
      "member": {
        "target": "com.ovh.xdsl#XdslTemplateModemWLAN"
      },
      "traits": {
        "smithy.api#documentation": "List of WLAN for this template"
      }
    },
    "com.ovh.xdsl#XdslXdslModemConfigMTUSizeEnum": {
      "type": "intEnum",
      "members": {
        "_1432": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1432
          }
        },
        "_1456": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1456
          }
        },
        "_1492": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1492
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Size of the Maximum Transmission Unit on the modem's interfaces"
      }
    },
    "com.ovh.xdsl#XdslTemplateModemParametersToIgnore": {
      "type": "structure",
      "members": {
        "LANandDHCP": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Ignore LAN and DHCP configurations",
            "com.distilled.openapi#nullable": {}
          }
        },
        "WLANList": {
          "target": "com.ovh.xdsl#XdslTemplateModemParametersToIgnoreWLANListList",
          "traits": {
            "smithy.api#documentation": "WLAN names list to ignore. Ignore only listed WLAN",
            "com.distilled.openapi#nullable": {}
          }
        },
        "dmzIP": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Ignore DMZ configuration",
            "com.distilled.openapi#nullable": {}
          }
        },
        "mtuSize": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Ignore MTU Size value",
            "com.distilled.openapi#nullable": {}
          }
        },
        "portMappingList": {
          "target": "com.ovh.xdsl#XdslTemplateModemParametersToIgnorePortMappingListList",
          "traits": {
            "smithy.api#documentation": "PortMapping names list to ignore. Ignore only listed portMapping",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Parameters and values to ignore when apply modem template configuration"
      }
    },
    "com.ovh.xdsl#XdslTemplateModemParametersToIgnoreWLANListList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "WLAN names list to ignore. Ignore only listed WLAN"
      }
    },
    "com.ovh.xdsl#XdslTemplateModemParametersToIgnorePortMappingListList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "PortMapping names list to ignore. Ignore only listed portMapping"
      }
    },
    "com.ovh.xdsl#XdslTemplateModemPortMapping": {
      "type": "structure",
      "members": {
        "allowedRemoteIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ip which will access to the defined rule. Default : no restriction applied",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the Port Mapping",
            "com.distilled.openapi#nullable": {}
          }
        },
        "externalPortEnd": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The last port of the interval on the External Client that will get the connections",
            "com.distilled.openapi#nullable": {}
          }
        },
        "externalPortStart": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "External Port that the modem will listen on. List of externalPorts not available for now in the API : 8, 21, 68, 5060, 21800-21805, 51005"
          }
        },
        "internalClient": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP address (e.g., 192.0.2.0)"
          }
        },
        "internalPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The port on the Internal Client that will get the connections"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the port mapping entry"
          }
        },
        "protocol": {
          "target": "com.ovh.xdsl#XdslXdslModemConfigProtocolTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of protocol for the Port Mapping"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PortMapping Configuration for Modem Template"
      }
    },
    "com.ovh.xdsl#XdslXdslModemConfigProtocolTypeEnum": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TCP"
          }
        },
        "UDP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UDP"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of protocol for the Port Mapping"
      }
    },
    "com.ovh.xdsl#XdslTemplateModemPortMappingList": {
      "type": "list",
      "member": {
        "target": "com.ovh.xdsl#XdslTemplateModemPortMapping"
      },
      "traits": {
        "smithy.api#documentation": "List of PortMapping for this template"
      }
    },
    "com.ovh.xdsl#CreateModemTemplate": {
      "type": "operation",
      "input": {
        "target": "com.ovh.xdsl#CreateModemTemplateRequest"
      },
      "output": {
        "target": "com.ovh.xdsl#XdslTemplateModem"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/xdsl/templateModem",
          "code": 200
        },
        "smithy.api#documentation": "Create new Modem Template from existing modem"
      }
    },
    "com.ovh.xdsl#GetModemTemplateRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.xdsl#GetModemTemplate": {
      "type": "operation",
      "input": {
        "target": "com.ovh.xdsl#GetModemTemplateRequest"
      },
      "output": {
        "target": "com.ovh.xdsl#XdslTemplateModem"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/xdsl/templateModem/{name}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.xdsl#UpdateModemTemplateRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name"
          }
        },
        "parametersToIgnore": {
          "target": "com.ovh.xdsl#XdslTemplateModemParametersToIgnore",
          "traits": {
            "smithy.api#documentation": "Do not apply these parameters from template. You can use parametersCapabilities to know availability",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.xdsl#UpdateModemTemplate": {
      "type": "operation",
      "input": {
        "target": "com.ovh.xdsl#UpdateModemTemplateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/xdsl/templateModem/{name}",
          "code": 200
        },
        "smithy.api#documentation": "Alter this object properties"
      }
    },
    "com.ovh.xdsl#DeleteModemTemplateRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.xdsl#DeleteModemTemplate": {
      "type": "operation",
      "input": {
        "target": "com.ovh.xdsl#DeleteModemTemplateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/xdsl/templateModem/{name}",
          "code": 200
        },
        "smithy.api#documentation": "Delete this Modem Template"
      }
    },
    "com.ovh.xdsl#GetXdslServiceNameRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.xdsl#XdslAccessWithIAM": {
      "type": "structure",
      "members": {
        "accessName": {
          "target": "smithy.api#String"
        },
        "accessType": {
          "target": "com.ovh.xdsl#XdslDslTypeEnum"
        },
        "address": {
          "target": "com.ovh.xdsl#XdslAddressDetail"
        },
        "capabilities": {
          "target": "com.ovh.xdsl#XdslAccessCapabilities"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "iam": {
          "target": "com.ovh.xdsl#IamResourceMetadata",
          "traits": {
            "smithy.api#documentation": "IAM resource metadata",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ipv6Enabled": {
          "target": "smithy.api#Boolean"
        },
        "lnsRateLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Rate limit on the LNS in kbps - Only available if canApplyLnsRateLimit capability is set to true - Must be a multiple of 64 - Min value 64 / Max value 100032",
            "com.distilled.openapi#nullable": {}
          }
        },
        "mailSending": {
          "target": "com.ovh.xdsl#XdslMailSendingAccessStatusEnum",
          "traits": {
            "smithy.api#documentation": "Status of mail sending on the Access",
            "com.distilled.openapi#nullable": {}
          }
        },
        "monitoring": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not this access is monitored"
          }
        },
        "nra": {
          "target": "smithy.api#String"
        },
        "packName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pack name, if access is in a pack",
            "com.distilled.openapi#nullable": {}
          }
        },
        "pairsNumber": {
          "target": "smithy.api#Integer"
        },
        "provider": {
          "target": "com.ovh.xdsl#XdslProviderEnum",
          "traits": {
            "smithy.api#documentation": "The provider"
          }
        },
        "providerInfra": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The provider of the infrastructure, if applicable",
            "com.distilled.openapi#nullable": {}
          }
        },
        "role": {
          "target": "com.ovh.xdsl#XdslAccessRoleEnum"
        },
        "status": {
          "target": "com.ovh.xdsl#XdslAccessStatusEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "XDSL Access"
      }
    },
    "com.ovh.xdsl#XdslDslTypeEnum": {
      "type": "enum",
      "members": {
        "ADSL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "adsl"
          }
        },
        "FTTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ftte"
          }
        },
        "FTTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ftth"
          }
        },
        "SDSL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sdsl"
          }
        },
        "VDSL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vdsl"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible DSL technologies"
      }
    },
    "com.ovh.xdsl#XdslAddressDetail": {
      "type": "structure",
      "members": {
        "building": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "city": {
          "target": "smithy.api#String"
        },
        "door": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "firstName": {
          "target": "smithy.api#String"
        },
        "floor": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "inseeCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the city"
          }
        },
        "lastName": {
          "target": "smithy.api#String"
        },
        "numberStreet": {
          "target": "smithy.api#String"
        },
        "residence": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "rivoliCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the street"
          }
        },
        "stairs": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "street": {
          "target": "smithy.api#String"
        },
        "zipCode": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "All components of an address"
      }
    },
    "com.ovh.xdsl#XdslAccessCapabilities": {
      "type": "structure",
      "members": {
        "canApplyLnsRateLimit": {
          "target": "smithy.api#Boolean"
        },
        "canChangeDslamProfile": {
          "target": "smithy.api#Boolean"
        },
        "canChangeLns": {
          "target": "smithy.api#Boolean"
        },
        "canGetRadiusConnectionLogs": {
          "target": "smithy.api#Boolean"
        },
        "canResetDslamPort": {
          "target": "smithy.api#Boolean"
        },
        "hasDslamPort": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Describe the capabilities of the Access"
      }
    },
    "com.ovh.xdsl#XdslMailSendingAccessStatusEnum": {
      "type": "enum",
      "members": {
        "BLOCKEDFORSPAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blockedForSpam"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status allowed for mail sending"
      }
    },
    "com.ovh.xdsl#XdslProviderEnum": {
      "type": "enum",
      "members": {
        "AXIONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "axione"
          }
        },
        "BOUYGUES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bouygues"
          }
        },
        "FT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ft"
          }
        },
        "FTBYSFR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ftBySfr"
          }
        },
        "KOSC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kosc"
          }
        },
        "KOSCDEG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "koscDeg"
          }
        },
        "OVH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ovh"
          }
        },
        "SFR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sfr"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The providers"
      }
    },
    "com.ovh.xdsl#XdslAccessRoleEnum": {
      "type": "enum",
      "members": {
        "BACKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "backup"
          }
        },
        "MAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "main"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Available access roles"
      }
    },
    "com.ovh.xdsl#XdslAccessStatusEnum": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        },
        "CLOSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "close"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleting"
          }
        },
        "DOING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "doing"
          }
        },
        "MIGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "migration"
          }
        },
        "SLAMMING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "slamming"
          }
        },
        "TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "terminated"
          }
        },
        "UPGRADEOFFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "upgradeOffer"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the access"
      }
    },
    "com.ovh.xdsl#GetXdslServiceName": {
      "type": "operation",
      "input": {
        "target": "com.ovh.xdsl#GetXdslServiceNameRequest"
      },
      "output": {
        "target": "com.ovh.xdsl#XdslAccessWithIAM"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/xdsl/{serviceName}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.xdsl#PutXdslServiceNameRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "lnsRateLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Rate limit on the LNS in kbps - Only available if canApplyLnsRateLimit capability is set to true - Must be a multiple of 64 - Min value 64 / Max value 100032",
            "com.distilled.openapi#nullable": {}
          }
        },
        "monitoring": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not this access is monitored"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.xdsl#PutXdslServiceName": {
      "type": "operation",
      "input": {
        "target": "com.ovh.xdsl#PutXdslServiceNameRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/xdsl/{serviceName}",
          "code": 200
        },
        "smithy.api#documentation": "Alter this object properties"
      }
    },
    "com.ovh.xdsl#GetXdslServiceNameAddressMoveExtraIpRangeRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.xdsl#XdslExtraIpRangeMove": {
      "type": "structure",
      "members": {
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of the migration"
          }
        },
        "ipRange": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IPv4 CIDR notation (e.g., 192.0.2.0/24)"
          }
        },
        "moveTo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Access where the IP range will be moved to"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Informations about the extra IP range during address move"
      }
    },
    "com.ovh.xdsl#GetXdslServiceNameAddressMoveExtraIpRange": {
      "type": "operation",
      "input": {
        "target": "com.ovh.xdsl#GetXdslServiceNameAddressMoveExtraIpRangeRequest"
      },
      "output": {
        "target": "com.ovh.xdsl#XdslExtraIpRangeMove"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/xdsl/{serviceName}/addressMove/extraIpRange",
          "code": 200
        },
        "smithy.api#documentation": "Informations about the extra IP range during address move"
      }
    },
    "com.ovh.xdsl#PostXdslServiceNameAddressMoveExtraIpRangeMoveRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.xdsl#XdslTask": {
      "type": "structure",
      "members": {
        "function": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#Integer"
        },
        "status": {
          "target": "com.ovh.xdsl#XdslTaskStatusEnum"
        },
        "todoDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date when the action will start"
          }
        },
        "updateDate": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the current status of a task"
      }
    },
    "com.ovh.xdsl#XdslTaskStatusEnum": {
      "type": "enum",
      "members": {
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        },
        "DOING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "doing"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "done"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "PROBLEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "problem"
          }
        },
        "TODO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "todo"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of a task."
      }
    },
    "com.ovh.xdsl#PostXdslServiceNameAddressMoveExtraIpRangeMove": {
      "type": "operation",
      "input": {
        "target": "com.ovh.xdsl#PostXdslServiceNameAddressMoveExtraIpRangeMoveRequest"
      },
      "output": {
        "target": "com.ovh.xdsl#XdslTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/xdsl/{serviceName}/addressMove/extraIpRangeMove",
          "code": 200
        },
        "smithy.api#documentation": "Initiate the extra IP range migration"
      }
    },
    "com.ovh.xdsl#GetXdslServiceNameAntiSpamsRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.xdsl#GetXdslServiceNameAntiSpamsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.ovh.xdsl#GetXdslServiceNameAntiSpamsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.xdsl#GetXdslServiceNameAntiSpamsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.xdsl#GetXdslServiceNameAntiSpams": {
      "type": "operation",
      "input": {
        "target": "com.ovh.xdsl#GetXdslServiceNameAntiSpamsRequest"
      },
      "output": {
        "target": "com.ovh.xdsl#GetXdslServiceNameAntiSpamsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/xdsl/{serviceName}/antiSpams",
          "code": 200
        },
        "smithy.api#documentation": "List antiSpams for this access"
      }
    },
    "com.ovh.xdsl#GetXdslServiceNameAntiSpamsIpRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Ip"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.xdsl#XdslAntiSpam": {
      "type": "structure",
      "members": {
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detection date"
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP which spam"
          }
        },
        "lastSpamDetected": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last spam detection date"
          }
        },
        "status": {
          "target": "com.ovh.xdsl#XdslAntiSpamAntiSpamStatusEnum",
          "traits": {
            "smithy.api#documentation": "AntiSpam status"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Spams detected from xdsl access"
      }
    },
    "com.ovh.xdsl#XdslAntiSpamAntiSpamStatusEnum": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "done"
          }
        },
        "NEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "new"
          }
        },
        "UNBLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unblock"
          }
        },
        "WARN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warn"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AntiSpam status"
      }
    },
    "com.ovh.xdsl#GetXdslServiceNameAntiSpamsIp": {
      "type": "operation",
      "input": {
        "target": "com.ovh.xdsl#GetXdslServiceNameAntiSpamsIpRequest"
      },
      "output": {
        "target": "com.ovh.xdsl#XdslAntiSpam"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/xdsl/{serviceName}/antiSpams/{ip}",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.xdsl#GetXdslServiceNameAntiSpamsIpEvidencesRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Ip"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.xdsl#XdslAntiSpamEvidencesInfo": {
      "type": "structure",
      "members": {
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "AsyncTask detailed error",
            "com.distilled.openapi#nullable": {}
          }
        },
        "result": {
          "target": "com.ovh.xdsl#XdslAntiSpamEvidencesInfoResultList",
          "traits": {
            "smithy.api#documentation": "Table with evidences stored on PCS",
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.ovh.xdsl#XdslAntiSpamEvidencesInfoStatusEnum",
          "traits": {
            "smithy.api#documentation": "Evidences AsyncTask status"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of evidences"
      }
    },
    "com.ovh.xdsl#XdslAntiSpamEvidencesInfoDetail": {
      "type": "structure",
      "members": {
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "File date on the PCS"
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "File name on the PCS"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Temporary URL to access file"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "detail on evidences stored on PCS"
      }
    },
    "com.ovh.xdsl#XdslAntiSpamEvidencesInfoResultList": {
      "type": "list",
      "member": {
        "target": "com.ovh.xdsl#XdslAntiSpamEvidencesInfoDetail"
      },
      "traits": {
        "smithy.api#documentation": "Table with evidences stored on PCS"
      }
    },
    "com.ovh.xdsl#XdslAntiSpamEvidencesInfoStatusEnum": {
      "type": "enum",
      "members": {
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Evidences AsyncTask status"
      }
    },
    "com.ovh.xdsl#GetXdslServiceNameAntiSpamsIpEvidences": {
      "type": "operation",
      "input": {
        "target": "com.ovh.xdsl#GetXdslServiceNameAntiSpamsIpEvidencesRequest"
      },
      "output": {
        "target": "com.ovh.xdsl#XdslAntiSpamEvidencesInfo"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/xdsl/{serviceName}/antiSpams/{ip}/evidences",
          "code": 200
        },
        "smithy.api#documentation": "List of evidences stored on PCS for this ip"
      }
    },
    "com.ovh.xdsl#ApplyTemplateModemRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "templateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Modem Template Name",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.xdsl#ApplyTemplateModem": {
      "type": "operation",
      "input": {
        "target": "com.ovh.xdsl#ApplyTemplateModemRequest"
      },
      "output": {
        "target": "com.ovh.xdsl#XdslTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/xdsl/{serviceName}/applyTemplateToModem",
          "code": 200
        },
        "smithy.api#documentation": "Apply TemplateModem to existing Modem"
      }
    },
    "com.ovh.xdsl#GetXdslServiceNameCanCancelResiliationRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.xdsl#GetXdslServiceNameCanCancelResiliationResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.xdsl#GetXdslServiceNameCanCancelResiliation": {
      "type": "operation",
      "input": {
        "target": "com.ovh.xdsl#GetXdslServiceNameCanCancelResiliationRequest"
      },
      "output": {
        "target": "com.ovh.xdsl#GetXdslServiceNameCanCancelResiliationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/xdsl/{serviceName}/canCancelResiliation",
          "code": 200
        },
        "smithy.api#documentation": "Get information about the ongoing resiliation"
      }
    },
    "com.ovh.xdsl#PostXdslServiceNameCancelResiliationRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.xdsl#PostXdslServiceNameCancelResiliation": {
      "type": "operation",
      "input": {
        "target": "com.ovh.xdsl#PostXdslServiceNameCancelResiliationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/xdsl/{serviceName}/cancelResiliation",
          "code": 200
        },
        "smithy.api#documentation": "Cancel the ongoing resiliation"
      }
    },
    "com.ovh.xdsl#ChangeContactRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        },
        "contactAdmin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as admin contact"
          }
        },
        "contactBilling": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as billing contact"
          }
        },
        "contactTech": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact to set as tech contact"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.xdsl#ChangeContactResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.ovh.xdsl#ChangeContactResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.ovh.xdsl#ChangeContactResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.ovh.xdsl#ChangeContact": {
      "type": "operation",
      "input": {
        "target": "com.ovh.xdsl#ChangeContactRequest"
      },
      "output": {
        "target": "com.ovh.xdsl#ChangeContactResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/xdsl/{serviceName}/changeContact",
          "code": 200
        },
        "smithy.api#documentation": "Launch a contact change procedure"
      }
    },
    "com.ovh.xdsl#GetXdslServiceNameDiagnosticRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.xdsl#XdslAccessDiagnostic": {
      "type": "structure",
      "members": {
        "capabilities": {
          "target": "com.ovh.xdsl#XdslAccessDiagnosticCapabilities",
          "traits": {
            "smithy.api#documentation": "Available tests for this access"
          }
        },
        "diagnosticTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Datime of the diagnostic"
          }
        },
        "incident": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is there an ongoing genericIncident on the access ?",
            "com.distilled.openapi#nullable": {}
          }
        },
        "isActiveOnLns": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is the access active on its primary or secondary LNS",
            "com.distilled.openapi#nullable": {}
          }
        },
        "isModemConnected": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is the modem connected ?",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lineDetails": {
          "target": "com.ovh.xdsl#XdslAccessDiagnosticLineDetailsList",
          "traits": {
            "smithy.api#documentation": "Test details by line",
            "com.distilled.openapi#nullable": {}
          }
        },
        "maintenance": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is there an ongoing scheduled maintenance by operator on the access ?",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ping": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Does the access ping ?",
            "com.distilled.openapi#nullable": {}
          }
        },
        "remaining": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Remaining number of diagnostic for this access"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Diagnostic of the access"
      }
    },
    "com.ovh.xdsl#XdslAccessDiagnosticCapabilities": {
      "type": "structure",
      "members": {
        "incident": {
          "target": "smithy.api#Boolean"
        },
        "isActiveOnLns": {
          "target": "smithy.api#Boolean"
        },
        "isModemConnected": {
          "target": "smithy.api#Boolean"
        },
        "lineTest": {
          "target": "smithy.api#Boolean"
        },
        "ping": {
          "target": "smithy.api#Boolean"
        },
        "proposedProfileId": {
          "target": "smithy.api#Boolean"
        },
        "sync": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Describe the capabilities of the access diagnostic"
      }
    },
    "com.ovh.xdsl#XdslLineDiagnostic": {
      "type": "structure",
      "members": {
        "lineTest": {
          "target": "com.ovh.xdsl#XdslLineTestEnum",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "lineTestTime": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "number": {
          "target": "smithy.api#String"
        },
        "proposedProfileId": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "sync": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Detailed line tests"
      }
    },
    "com.ovh.xdsl#XdslLineTestEnum": {
      "type": "enum",
      "members": {
        "ACTIONPENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "actionPending"
          }
        },
        "CUSTOMERSIDEPROBLEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "customerSideProblem"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "NOPROBLEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "noProblem"
          }
        },
        "OVHSIDEPROBLEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ovhSideProblem"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Line tests results"
      }
    },
    "com.ovh.xdsl#XdslAccessDiagnosticLineDetailsList": {
      "type": "list",
      "member": {
        "target": "com.ovh.xdsl#XdslLineDiagnostic"
      },
      "traits": {
        "smithy.api#documentation": "Test details by line"
      }
    },
    "com.ovh.xdsl#GetXdslServiceNameDiagnostic": {
      "type": "operation",
      "input": {
        "target": "com.ovh.xdsl#GetXdslServiceNameDiagnosticRequest"
      },
      "output": {
        "target": "com.ovh.xdsl#XdslAccessDiagnostic"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/xdsl/{serviceName}/diagnostic",
          "code": 200
        },
        "smithy.api#documentation": "Get this object properties"
      }
    },
    "com.ovh.xdsl#PostXdslServiceNameDiagnosticRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Service name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.ovh.xdsl#PostXdslServiceNameDiagnostic": {
      "type": "operation",
      "input": {
        "target": "com.ovh.xdsl#PostXdslServiceNameDiagnosticRequest"
      },
      "output": {
        "target": "com.ovh.xdsl#XdslTask"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/xdsl/{serviceName}/diagnostic",
          "code": 200
        },
        "smithy.api#documentation": "Run diagnostic on the access"
      }
    },
    "com.ovh.xdsl#XdslFiberEligibilityStatusEnum": {
      "type": "enum",
      "members": {
        "ELIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eligible"
          }
        },
        "NO_BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_building"
          }
        },
        "NOT_ELIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_eligible"
          }
        },
        "NOT_YET_ELIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
