{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.railway.api#AdminVolumeInstancesForVolumeRequest": {
      "type": "structure",
      "members": {
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.railway.graphql#operation": {
          "query": "query adminVolumeInstancesForVolume($volumeId: String!) {\n  adminVolumeInstancesForVolume(volumeId: $volumeId) {\n    createdAt\n    currentSizeMB\n    deletedAt\n    environment {\n      canAccess\n      canvasGroupRefs\n      configEtag\n      createdAt\n      deletedAt\n      id\n      isEphemeral\n      name\n      projectId\n      unmergedChangesCount\n      updatedAt\n    }\n    environmentId\n    externalId\n    id\n    isPendingDeletion\n    mountPath\n    region\n    service {\n      createdAt\n      deletedAt\n      featureFlags\n      groupId\n      hasHiddenRegistryCredentialsFromTemplate\n      icon\n      id\n      isRestricted\n      name\n      projectId\n      templateId\n      templateServiceId\n      templateThreadSlug\n      updatedAt\n    }\n    serviceId\n    sizeMB\n    state\n    volume {\n      createdAt\n      id\n      name\n      projectId\n    }\n    volumeId\n  }\n}",
          "operationName": "adminVolumeInstancesForVolume",
          "type": "query"
        }
      }
    },
    "com.railway.api#AdminVolumeInstancesForVolumeResultItemEnvironment": {
      "type": "structure",
      "members": {
        "canAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "canvasGroupRefs": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "configEtag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deletedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isEphemeral": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "unmergedChangesCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.railway.api#ActiveServiceFeatureFlag": {
      "type": "enum",
      "members": {
        "COPY_VOLUME_TO_ENVIRONMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COPY_VOLUME_TO_ENVIRONMENT"
          }
        },
        "ENABLE_DOCKER_EXTENSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLE_DOCKER_EXTENSION"
          }
        },
        "PLACEHOLDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLACEHOLDER"
          }
        },
        "SKIPPED_BUILDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIPPED_BUILDS"
          }
        },
        "USE_EXPRESS_DEPLOY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USE_EXPRESS_DEPLOY"
          }
        },
        "USE_EXPRESS_PACKSTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USE_EXPRESS_PACKSTORE"
          }
        },
        "USE_VM_RUNTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USE_VM_RUNTIME"
          }
        }
      }
    },
    "com.railway.api#AdminVolumeInstancesForVolumeResultItemServiceFeatureFlagsList": {
      "type": "list",
      "member": {
        "target": "com.railway.api#ActiveServiceFeatureFlag"
      }
    },
    "com.railway.api#AdminVolumeInstancesForVolumeResultItemService": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deletedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "featureFlags": {
          "target": "com.railway.api#AdminVolumeInstancesForVolumeResultItemServiceFeatureFlagsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "hasHiddenRegistryCredentialsFromTemplate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "icon": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isRestricted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "templateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "templateServiceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "templateThreadSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.railway.api#VolumeState": {
      "type": "enum",
      "members": {
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "MIGRATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIGRATING"
          }
        },
        "MIGRATION_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIGRATION_PENDING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "RESTORING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTORING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        }
      }
    },
    "com.railway.api#AdminVolumeInstancesForVolumeResultItemVolume": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.railway.api#AdminVolumeInstancesForVolumeResultItem": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "currentSizeMB": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deletedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "environment": {
          "target": "com.railway.api#AdminVolumeInstancesForVolumeResultItemEnvironment",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "externalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isPendingDeletion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mountPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "service": {
          "target": "com.railway.api#AdminVolumeInstancesForVolumeResultItemService",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "sizeMB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.railway.api#VolumeState",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "volume": {
          "target": "com.railway.api#AdminVolumeInstancesForVolumeResultItemVolume",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.railway.api#AdminVolumeInstancesForVolumeResultList": {
      "type": "list",
      "member": {
        "target": "com.railway.api#AdminVolumeInstancesForVolumeResultItem"
      }
    },
    "com.railway.api#AdminVolumeInstancesForVolumeResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.railway.api#AdminVolumeInstancesForVolumeResultList",
          "traits": {
            "com.railway.graphql#payload": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The value of `data.adminVolumeInstancesForVolume`."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "com.railway.graphql#responsePath": "adminVolumeInstancesForVolume"
      }
    },
    "com.railway.api#AdminVolumeInstancesForVolume": {
      "type": "operation",
      "input": {
        "target": "com.railway.api#AdminVolumeInstancesForVolumeRequest"
      },
      "output": {
        "target": "com.railway.api#AdminVolumeInstancesForVolumeResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graphql/v2",
          "code": 200
        },
        "smithy.api#documentation": "Get all volume instances for a given volume",
        "smithy.api#readonly": {}
      }
    },
    "com.railway.api#AgentUsageRequest": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.railway.graphql#operation": {
          "query": "query agentUsage($workspaceId: String!) {\n  agentUsage(workspaceId: $workspaceId) {\n    billingPeriodEnd\n    hardLimitCents\n    softLimitCents\n    totalUsedCents\n    usageRemaining\n  }\n}",
          "operationName": "agentUsage",
          "type": "query"
        }
      }
    },
    "com.railway.api#AgentUsageResponse": {
      "type": "structure",
      "members": {
        "billingPeriodEnd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hardLimitCents": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "softLimitCents": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "totalUsedCents": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "usageRemaining": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "com.railway.graphql#responsePath": "agentUsage",
        "smithy.api#documentation": "Selection set for `agentUsage` (unwrapped from the GraphQL `data` envelope)."
      }
    },
    "com.railway.api#AgentUsage": {
      "type": "operation",
      "input": {
        "target": "com.railway.api#AgentUsageRequest"
      },
      "output": {
        "target": "com.railway.api#AgentUsageResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graphql/v2",
          "code": 200
        },
        "smithy.api#documentation": "Get unified AI usage for a workspace",
        "smithy.api#readonly": {}
      }
    },
    "com.railway.api#AllPlatformFeatureFlagsRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#input": {},
        "com.railway.graphql#operation": {
          "query": "query allPlatformFeatureFlags {\n  allPlatformFeatureFlags {\n    flag\n    rolloutPercentage\n    status\n    type\n  }\n}",
          "operationName": "allPlatformFeatureFlags",
          "type": "query"
        }
      }
    },
    "com.railway.api#PlatformFeatureFlag": {
      "type": "enum",
      "members": {
        "ALERT_SUS_USERS_CRON_KILLSWITCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALERT_SUS_USERS_CRON_KILLSWITCH"
          }
        },
        "BAN_APPEAL_FORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BAN_APPEAL_FORM"
          }
        },
        "BUILD_DEPLOY_QUEUE_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILD_DEPLOY_QUEUE_V2"
          }
        },
        "CANVAS_CROSS_ENV_GUARD_ENFORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANVAS_CROSS_ENV_GUARD_ENFORCE"
          }
        },
        "CHAT_SANDBOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHAT_SANDBOX"
          }
        },
        "CLICKHOUSE_WORKSPACE_LIMIT_ENFORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLICKHOUSE_WORKSPACE_LIMIT_ENFORCE"
          }
        },
        "CS_MCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CS_MCP"
          }
        },
        "CTRD_IMAGE_STORE_ROLLOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CTRD_IMAGE_STORE_ROLLOUT"
          }
        },
        "DEFAULT_USAGE_ALERTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT_USAGE_ALERTS"
          }
        },
        "DEMO_PERCENTAGE_ROLLOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEMO_PERCENTAGE_ROLLOUT"
          }
        },
        "DEPLOYMENT_DIAGNOSIS_KILLSWITCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_DIAGNOSIS_KILLSWITCH"
          }
        },
        "DEPLOY_SUPERSEDE_ON_PUSH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOY_SUPERSEDE_ON_PUSH"
          }
        },
        "DEV_STUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEV_STUDIO"
          }
        },
        "DEV_STUDIO_ANON_PROVISIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEV_STUDIO_ANON_PROVISIONS"
          }
        },
        "IN_DASHBOARD_SUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_DASHBOARD_SUPPORT"
          }
        },
        "KAFKA_EPHEMERAL_ENVIRONMENT_UPDATES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KAFKA_EPHEMERAL_ENVIRONMENT_UPDATES"
          }
        },
        "LOGS_V2_READS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGS_V2_READS"
          }
        },
        "NEW_STRIPE_WEBHOOK_VERSION_ROLLOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW_STRIPE_WEBHOOK_VERSION_ROLLOUT"
          }
        },
        "OAUTH_DCR_KILLSWITCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OAUTH_DCR_KILLSWITCH"
          }
        },
        "REMOVE_DEPLOYMENT_COMPACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVE_DEPLOYMENT_COMPACT"
          }
        },
        "SERVICEINSTANCE_DATALOADER_FOR_STATIC_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICEINSTANCE_DATALOADER_FOR_STATIC_URL"
          }
        },
        "SPLIT_USAGE_QUERIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPLIT_USAGE_QUERIES"
          }
        },
        "STRIPE_METERS_NEW_ACCOUNTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRIPE_METERS_NEW_ACCOUNTS"
          }
        },
        "STRIPE_METERS_SHADOW_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRIPE_METERS_SHADOW_ENABLED"
          }
        },
        "UPDATED_VM_QUERIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATED_VM_QUERIES"
          }
        },
        "WORKSPACE_MCP_KILLSWITCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WORKSPACE_MCP_KILLSWITCH"
          }
        }
      }
    },
    "com.railway.api#PlatformFeatureFlagType": {
      "type": "enum",
      "members": {
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOLEAN"
          }
        },
        "PERCENTAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERCENTAGE"
          }
        }
      }
    },
    "com.railway.api#AllPlatformFeatureFlagsResultItem": {
      "type": "structure",
      "members": {
        "flag": {
          "target": "com.railway.api#PlatformFeatureFlag",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rolloutPercentage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.railway.api#PlatformFeatureFlagType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.railway.api#AllPlatformFeatureFlagsResultList": {
      "type": "list",
      "member": {
        "target": "com.railway.api#AllPlatformFeatureFlagsResultItem"
      }
    },
    "com.railway.api#AllPlatformFeatureFlagsResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.railway.api#AllPlatformFeatureFlagsResultList",
          "traits": {
            "com.railway.graphql#payload": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The value of `data.allPlatformFeatureFlags`."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "com.railway.graphql#responsePath": "allPlatformFeatureFlags"
      }
    },
    "com.railway.api#AllPlatformFeatureFlags": {
      "type": "operation",
      "input": {
        "target": "com.railway.api#AllPlatformFeatureFlagsRequest"
      },
      "output": {
        "target": "com.railway.api#AllPlatformFeatureFlagsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graphql/v2",
          "code": 200
        },
        "smithy.api#documentation": "Returns the platform feature flags enabled for the current user",
        "smithy.api#readonly": {}
      }
    },
    "com.railway.api#ApiTokenRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#input": {},
        "com.railway.graphql#operation": {
          "query": "query apiToken {\n  apiToken {\n    workspaces {\n      id\n      name\n    }\n  }\n}",
          "operationName": "apiToken",
          "type": "query"
        }
      }
    },
    "com.railway.api#ApiTokenResponseWorkspacesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.railway.api#ApiTokenResponseWorkspacesList": {
      "type": "list",
      "member": {
        "target": "com.railway.api#ApiTokenResponseWorkspacesItem"
      }
    },
    "com.railway.api#ApiTokenResponse": {
      "type": "structure",
      "members": {
        "workspaces": {
          "target": "com.railway.api#ApiTokenResponseWorkspacesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "com.railway.graphql#responsePath": "apiToken",
        "smithy.api#documentation": "Selection set for `apiToken` (unwrapped from the GraphQL `data` envelope)."
      }
    },
    "com.railway.api#ApiToken": {
      "type": "operation",
      "input": {
        "target": "com.railway.api#ApiTokenRequest"
      },
      "output": {
        "target": "com.railway.api#ApiTokenResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graphql/v2",
          "code": 200
        },
        "smithy.api#documentation": "Introspect the current API token and its accessible workspaces.",
        "smithy.api#readonly": {}
      }
    },
    "com.railway.api#ApiTokensRequest": {
      "type": "structure",
      "members": {
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "com.railway.graphql#nullable": {}
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "com.railway.graphql#nullable": {}
          }
        },
        "first": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.railway.graphql#nullable": {}
          }
        },
        "last": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.railway.graphql#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.railway.graphql#operation": {
          "query": "query apiTokens($after: String, $before: String, $first: Int, $last: Int) {\n  apiTokens(after: $after, before: $before, first: $first, last: $last) {\n    edges {\n      cursor\n      node {\n        displayToken\n        expiresAt\n        id\n        name\n        workspaceId\n      }\n    }\n    pageInfo {\n      endCursor\n      hasNextPage\n      hasPreviousPage\n      startCursor\n    }\n  }\n}",
          "operationName": "apiTokens",
          "type": "query"
        }
      }
    },
    "com.railway.api#ApiTokensResponseEdgesItemNode": {
      "type": "structure",
      "members": {
        "displayToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expiresAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workspaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        }
      }
    },
    "com.railway.api#ApiTokensResponseEdgesItem": {
      "type": "structure",
      "members": {
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node": {
          "target": "com.railway.api#ApiTokensResponseEdgesItemNode",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.railway.api#ApiTokensResponseEdgesList": {
      "type": "list",
      "member": {
        "target": "com.railway.api#ApiTokensResponseEdgesItem"
      }
    },
    "com.railway.api#ApiTokensResponsePageInfo": {
      "type": "structure",
      "members": {
        "endCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "hasNextPage": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasPreviousPage": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "startCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        }
      }
    },
    "com.railway.api#ApiTokensResponse": {
      "type": "structure",
      "members": {
        "edges": {
          "target": "com.railway.api#ApiTokensResponseEdgesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pageInfo": {
          "target": "com.railway.api#ApiTokensResponsePageInfo",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "com.railway.graphql#responsePath": "apiTokens",
        "smithy.api#documentation": "Selection set for `apiTokens` (unwrapped from the GraphQL `data` envelope)."
      }
    },
    "com.railway.api#ApiTokens": {
      "type": "operation",
      "input": {
        "target": "com.railway.api#ApiTokensRequest"
      },
      "output": {
        "target": "com.railway.api#ApiTokensResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graphql/v2",
          "code": 200
        },
        "smithy.api#documentation": "Gets all API tokens for the authenticated user.",
        "smithy.api#readonly": {},
        "smithy.api#paginated": {
          "mode": "relay",
          "inputToken": "after",
          "outputToken": "pageInfo.endCursor",
          "hasNextPage": "pageInfo.hasNextPage",
          "items": "edges.node",
          "pageSize": "first"
        }
      }
    },
    "com.railway.api#AuditLogRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the audit log entry"
          }
        },
        "workspaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the workspace"
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.railway.graphql#operation": {
          "query": "query auditLog($id: String!, $workspaceId: String!) {\n  auditLog(id: $id, workspaceId: $workspaceId) {\n    context\n    createdAt\n    environmentId\n    eventType\n    id\n    payload\n    projectId\n    workspaceId\n  }\n}",
          "operationName": "auditLog",
          "type": "query"
        }
      }
    },
    "com.railway.api#AuditLogResponseEnvironment": {
      "type": "structure",
      "members": {
        "canAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "canvasGroupRefs": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "configEtag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deletedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isEphemeral": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "unmergedChangesCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.railway.api#ActiveProjectFeatureFlag": {
      "type": "enum",
      "members": {
        "PLACEHOLDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLACEHOLDER"
          }
        }
      }
    },
    "com.railway.api#AuditLogResponseProjectFeatureFlagsList": {
      "type": "list",
      "member": {
        "target": "com.railway.api#ActiveProjectFeatureFlag"
      }
    },
    "com.railway.api#SubscriptionPlanType": {
      "type": "enum",
      "members": {
        "FREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "free"
          }
        },
        "HOBBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hobby"
          }
        },
        "PRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pro"
          }
        },
        "TRIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trial"
          }
        }
      }
    },
    "com.railway.api#AuditLogResponseProject": {
      "type": "structure",
      "members": {
        "baseEnvironmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "botPrEnvironments": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deletedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "expiredAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "featureFlags": {
          "target": "com.railway.api#AuditLogResponseProjectFeatureFlagsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "focusedPrEnvironments": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isPublic": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isTempProject": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "prDeploys": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "primaryEnvironmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "subscriptionPlanLimit": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subscriptionType": {
          "target": "com.railway.api#SubscriptionPlanType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workspaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        }
      }
    },
    "com.railway.api#AuditLogResponse": {
      "type": "structure",
      "members": {
        "context": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "eventType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "payload": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "workspaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "com.railway.graphql#responsePath": "auditLog",
        "smithy.api#documentation": "Selection set for `auditLog` (unwrapped from the GraphQL `data` envelope)."
      }
    },
    "com.railway.api#AuditLog": {
      "type": "operation",
      "input": {
        "target": "com.railway.api#AuditLogRequest"
      },
      "output": {
        "target": "com.railway.api#AuditLogResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graphql/v2",
          "code": 200
        },
        "smithy.api#documentation": "Get an audit log by ID",
        "smithy.api#readonly": {}
      }
    },
    "com.railway.api#AuditLogEventTypeInfoRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#input": {},
        "com.railway.graphql#operation": {
          "query": "query auditLogEventTypeInfo {\n  auditLogEventTypeInfo {\n    description\n    eventType\n  }\n}",
          "operationName": "auditLogEventTypeInfo",
          "type": "query"
        }
      }
    },
    "com.railway.api#AuditLogEventTypeInfoResultItem": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "eventType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.railway.api#AuditLogEventTypeInfoResultList": {
      "type": "list",
      "member": {
        "target": "com.railway.api#AuditLogEventTypeInfoResultItem"
      }
    },
    "com.railway.api#AuditLogEventTypeInfoResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.railway.api#AuditLogEventTypeInfoResultList",
          "traits": {
            "com.railway.graphql#payload": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The value of `data.auditLogEventTypeInfo`."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "com.railway.graphql#responsePath": "auditLogEventTypeInfo"
      }
    },
    "com.railway.api#AuditLogEventTypeInfo": {
      "type": "operation",
      "input": {
        "target": "com.railway.api#AuditLogEventTypeInfoRequest"
      },
      "output": {
        "target": "com.railway.api#AuditLogEventTypeInfoResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graphql/v2",
          "code": 200
        },
        "smithy.api#documentation": "Get a list of all audit log event types and their description",
        "smithy.api#readonly": {}
      }
    },
    "com.railway.api#AuditLogFilterInput": {
      "type": "structure",
      "members": {
        "endDate": {
          "target": "smithy.api#String",
          "traits": {
            "com.railway.graphql#nullable": {},
            "smithy.api#documentation": "Filter events created on or before this date"
          }
        },
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "com.railway.graphql#nullable": {},
            "smithy.api#documentation": "Filter events for a single environment"
          }
        },
        "eventTypes": {
          "target": "com.railway.api#StringList",
          "traits": {
            "com.railway.graphql#nullable": {},
            "smithy.api#documentation": "List of event types to filter by"
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "com.railway.graphql#nullable": {},
            "smithy.api#documentation": "Filter events for a single project"
          }
        },
        "startDate": {
          "target": "smithy.api#String",
          "traits": {
            "com.railway.graphql#nullable": {},
            "smithy.api#documentation": "Filter events created on or after this date"
          }
        }
      }
    },
    "com.railway.api#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.railway.api#SortOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.railway.api#AuditLogsRequest": {
      "type": "structure",
      "members": {
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "com.railway.graphql#nullable": {}
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "com.railway.graphql#nullable": {}
          }
        },
        "filter": {
          "target": "com.railway.api#AuditLogFilterInput",
          "traits": {
            "com.railway.graphql#nullable": {}
          }
        },
        "first": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.railway.graphql#nullable": {}
          }
        },
        "last": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.railway.graphql#nullable": {}
          }
        },
        "sort": {
          "target": "com.railway.api#SortOrder",
          "traits": {
            "com.railway.graphql#nullable": {}
          }
        },
        "workspaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.railway.graphql#operation": {
          "query": "query auditLogs($after: String, $before: String, $filter: AuditLogFilterInput, $first: Int, $last: Int, $sort: SortOrder, $workspaceId: String!) {\n  auditLogs(after: $after, before: $before, filter: $filter, first: $first, last: $last, sort: $sort, workspaceId: $workspaceId) {\n    edges {\n      cursor\n      node {\n        context\n        createdAt\n        environmentId\n        eventType\n        id\n        payload\n        projectId\n        workspaceId\n      }\n    }\n    pageInfo {\n      endCursor\n      hasNextPage\n      hasPreviousPage\n      startCursor\n    }\n  }\n}",
          "operationName": "auditLogs",
          "type": "query"
        }
      }
    },
    "com.railway.api#AuditLogsResponseEdgesItemNodeEnvironment": {
      "type": "structure",
      "members": {
        "canAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "canvasGroupRefs": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "configEtag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deletedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isEphemeral": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "unmergedChangesCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.railway.api#AuditLogsResponseEdgesItemNodeProjectFeatureFlagsList": {
      "type": "list",
      "member": {
        "target": "com.railway.api#ActiveProjectFeatureFlag"
      }
    },
    "com.railway.api#AuditLogsResponseEdgesItemNodeProject": {
      "type": "structure",
      "members": {
        "baseEnvironmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "botPrEnvironments": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deletedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "expiredAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "featureFlags": {
          "target": "com.railway.api#AuditLogsResponseEdgesItemNodeProjectFeatureFlagsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "focusedPrEnvironments": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isPublic": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isTempProject": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "prDeploys": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "primaryEnvironmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "subscriptionPlanLimit": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subscriptionType": {
          "target": "com.railway.api#SubscriptionPlanType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workspaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        }
      }
    },
    "com.railway.api#AuditLogsResponseEdgesItemNode": {
      "type": "structure",
      "members": {
        "context": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "eventType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "payload": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "workspaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        }
      }
    },
    "com.railway.api#AuditLogsResponseEdgesItem": {
      "type": "structure",
      "members": {
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node": {
          "target": "com.railway.api#AuditLogsResponseEdgesItemNode",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.railway.api#AuditLogsResponseEdgesList": {
      "type": "list",
      "member": {
        "target": "com.railway.api#AuditLogsResponseEdgesItem"
      }
    },
    "com.railway.api#AuditLogsResponsePageInfo": {
      "type": "structure",
      "members": {
        "endCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "hasNextPage": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasPreviousPage": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "startCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        }
      }
    },
    "com.railway.api#AuditLogsResponse": {
      "type": "structure",
      "members": {
        "edges": {
          "target": "com.railway.api#AuditLogsResponseEdgesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pageInfo": {
          "target": "com.railway.api#AuditLogsResponsePageInfo",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "com.railway.graphql#responsePath": "auditLogs",
        "smithy.api#documentation": "Selection set for `auditLogs` (unwrapped from the GraphQL `data` envelope)."
      }
    },
    "com.railway.api#AuditLogs": {
      "type": "operation",
      "input": {
        "target": "com.railway.api#AuditLogsRequest"
      },
      "output": {
        "target": "com.railway.api#AuditLogsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graphql/v2",
          "code": 200
        },
        "smithy.api#documentation": "Gets audit logs for a workspace.",
        "smithy.api#readonly": {},
        "smithy.api#paginated": {
          "mode": "relay",
          "inputToken": "after",
          "outputToken": "pageInfo.endCursor",
          "hasNextPage": "pageInfo.hasNextPage",
          "items": "edges.node",
          "pageSize": "first"
        }
      }
    },
    "com.railway.api#BotScopeBindingsRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#input": {},
        "com.railway.graphql#operation": {
          "query": "query botScopeBindings {\n  botScopeBindings {\n    canRemove\n    id\n    platform\n    scopeId\n    scopeName\n    scopeType\n    workspaceId\n    workspaceName\n  }\n}",
          "operationName": "botScopeBindings",
          "type": "query"
        }
      }
    },
    "com.railway.api#BotScopeBindingsResultItem": {
      "type": "structure",
      "members": {
        "canRemove": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "platform": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "scopeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "scopeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "scopeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workspaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.railway.api#BotScopeBindingsResultList": {
      "type": "list",
      "member": {
        "target": "com.railway.api#BotScopeBindingsResultItem"
      }
    },
    "com.railway.api#BotScopeBindingsResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.railway.api#BotScopeBindingsResultList",
          "traits": {
            "com.railway.graphql#payload": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The value of `data.botScopeBindings`."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "com.railway.graphql#responsePath": "botScopeBindings"
      }
    },
    "com.railway.api#BotScopeBindings": {
      "type": "operation",
      "input": {
        "target": "com.railway.api#BotScopeBindingsRequest"
      },
      "output": {
        "target": "com.railway.api#BotScopeBindingsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graphql/v2",
          "code": 200
        },
        "smithy.api#documentation": "Railway agent chat bindings (Slack/Discord scope → workspace) across the caller's workspaces.",
        "smithy.api#readonly": {}
      }
    },
    "com.railway.api#BucketInstanceDetailsRequest": {
      "type": "structure",
      "members": {
        "bucketId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.railway.graphql#operation": {
          "query": "query bucketInstanceDetails($bucketId: String!, $environmentId: String!) {\n  bucketInstanceDetails(bucketId: $bucketId, environmentId: $environmentId) {\n    objectCount\n    sizeBytes\n  }\n}",
          "operationName": "bucketInstanceDetails",
          "type": "query"
        }
      }
    },
    "com.railway.api#BucketInstanceDetailsResponse": {
      "type": "structure",
      "members": {
        "objectCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "com.railway.graphql#responsePath": "bucketInstanceDetails",
        "smithy.api#documentation": "Selection set for `bucketInstanceDetails` (unwrapped from the GraphQL `data` envelope)."
      }
    },
    "com.railway.api#BucketInstanceDetails": {
      "type": "operation",
      "input": {
        "target": "com.railway.api#BucketInstanceDetailsRequest"
      },
      "output": {
        "target": "com.railway.api#BucketInstanceDetailsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graphql/v2",
          "code": 200
        },
        "smithy.api#documentation": "Get the S3-compatible credentials for a bucket",
        "smithy.api#readonly": {}
      }
    },
    "com.railway.api#BucketS3CredentialsRequest": {
      "type": "structure",
      "members": {
        "bucketId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.railway.graphql#operation": {
          "query": "query bucketS3Credentials($bucketId: String!, $environmentId: String!, $projectId: String!) {\n  bucketS3Credentials(bucketId: $bucketId, environmentId: $environmentId, projectId: $projectId) {\n    accessKeyId\n    bucketName\n    createdAt\n    endpoint\n    region\n    secretAccessKey\n    urlStyle\n  }\n}",
          "operationName": "bucketS3Credentials",
          "type": "query"
        }
      }
    },
    "com.railway.api#BucketS3CredentialsResultItem": {
      "type": "structure",
      "members": {
        "accessKeyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "bucketName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "secretAccessKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "urlStyle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.railway.api#BucketS3CredentialsResultList": {
      "type": "list",
      "member": {
        "target": "com.railway.api#BucketS3CredentialsResultItem"
      }
    },
    "com.railway.api#BucketS3CredentialsResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.railway.api#BucketS3CredentialsResultList",
          "traits": {
            "com.railway.graphql#payload": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The value of `data.bucketS3Credentials`."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "com.railway.graphql#responsePath": "bucketS3Credentials"
      }
    },
    "com.railway.api#BucketS3Credentials": {
      "type": "operation",
      "input": {
        "target": "com.railway.api#BucketS3CredentialsRequest"
      },
      "output": {
        "target": "com.railway.api#BucketS3CredentialsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graphql/v2",
          "code": 200
        },
        "smithy.api#documentation": "Get the S3-compatible credentials for a bucket",
        "smithy.api#readonly": {}
      }
    },
    "com.railway.api#BuildLogsRequest": {
      "type": "structure",
      "members": {
        "deploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "endDate": {
          "target": "smithy.api#String",
          "traits": {
            "com.railway.graphql#nullable": {}
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "com.railway.graphql#nullable": {},
            "smithy.api#documentation": "Filter logs by a string. Providing an empty value will match all logs."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.railway.graphql#nullable": {},
            "smithy.api#documentation": "Limit the number of logs returned (defaults 100, max 5000)"
          }
        },
        "startDate": {
          "target": "smithy.api#String",
          "traits": {
            "com.railway.graphql#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.railway.graphql#operation": {
          "query": "query buildLogs($deploymentId: String!, $endDate: DateTime, $filter: String, $limit: Int, $startDate: DateTime) {\n  buildLogs(deploymentId: $deploymentId, endDate: $endDate, filter: $filter, limit: $limit, startDate: $startDate) {\n    attributes {\n      key\n      value\n    }\n    message\n    severity\n    tags {\n      deploymentId\n      deploymentInstanceId\n      environmentId\n      pluginId\n      projectId\n      serviceId\n      snapshotId\n    }\n    timestamp\n  }\n}",
          "operationName": "buildLogs",
          "type": "query"
        }
      }
    },
    "com.railway.api#BuildLogsResultItemAttributesItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.railway.api#BuildLogsResultItemAttributesList": {
      "type": "list",
      "member": {
        "target": "com.railway.api#BuildLogsResultItemAttributesItem"
      }
    },
    "com.railway.api#BuildLogsResultItemTags": {
      "type": "structure",
      "members": {
        "deploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "deploymentInstanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "pluginId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "snapshotId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        }
      }
    },
    "com.railway.api#BuildLogsResultItem": {
      "type": "structure",
      "members": {
        "attributes": {
          "target": "com.railway.api#BuildLogsResultItemAttributesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "severity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "tags": {
          "target": "com.railway.api#BuildLogsResultItemTags",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.railway.api#BuildLogsResultList": {
      "type": "list",
      "member": {
        "target": "com.railway.api#BuildLogsResultItem"
      }
    },
    "com.railway.api#BuildLogsResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.railway.api#BuildLogsResultList",
          "traits": {
            "com.railway.graphql#payload": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The value of `data.buildLogs`."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "com.railway.graphql#responsePath": "buildLogs"
      }
    },
    "com.railway.api#BuildLogs": {
      "type": "operation",
      "input": {
        "target": "com.railway.api#BuildLogsRequest"
      },
      "output": {
        "target": "com.railway.api#BuildLogsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graphql/v2",
          "code": 200
        },
        "smithy.api#documentation": "Fetch logs for a build",
        "smithy.api#readonly": {}
      }
    },
    "com.railway.api#CanvasViewMergePreviewRequest": {
      "type": "structure",
      "members": {
        "sourceEnvironmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "targetEnvironmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.railway.graphql#operation": {
          "query": "query canvasViewMergePreview($sourceEnvironmentId: String!, $targetEnvironmentId: String!) {\n  canvasViewMergePreview(sourceEnvironmentId: $sourceEnvironmentId, targetEnvironmentId: $targetEnvironmentId) {\n    mutations\n    state\n  }\n}",
          "operationName": "canvasViewMergePreview",
          "type": "query"
        }
      }
    },
    "com.railway.api#CanvasViewMergePreviewResponseMutationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.railway.api#CanvasViewMergePreviewResponse": {
      "type": "structure",
      "members": {
        "mutations": {
          "target": "com.railway.api#CanvasViewMergePreviewResponseMutationsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "com.railway.graphql#responsePath": "canvasViewMergePreview",
        "smithy.api#documentation": "Selection set for `canvasViewMergePreview` (unwrapped from the GraphQL `data` envelope)."
      }
    },
    "com.railway.api#CanvasViewMergePreview": {
      "type": "operation",
      "input": {
        "target": "com.railway.api#CanvasViewMergePreviewRequest"
      },
      "output": {
        "target": "com.railway.api#CanvasViewMergePreviewResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graphql/v2",
          "code": 200
        },
        "smithy.api#documentation": "Preview a canvas layout merge from one environment to another. Returns the merged state and the mutations needed to reach it.",
        "smithy.api#readonly": {}
      }
    },
    "com.railway.api#ChangelogBlockImageRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.railway.graphql#operation": {
          "query": "query changelogBlockImage($id: String!) {\n  changelogBlockImage(id: $id) {\n    __typename\n  }\n}",
          "operationName": "changelogBlockImage",
          "type": "query"
        }
      }
    },
    "com.railway.api#ChangelogBlockImageResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#String",
          "traits": {
            "com.railway.graphql#payload": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The value of `data.changelogBlockImage`."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "com.railway.graphql#responsePath": "changelogBlockImage"
      }
    },
    "com.railway.api#ChangelogBlockImage": {
      "type": "operation",
      "input": {
        "target": "com.railway.api#ChangelogBlockImageRequest"
      },
      "output": {
        "target": "com.railway.api#ChangelogBlockImageResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graphql/v2",
          "code": 200
        },
        "smithy.api#documentation": "Gets the image URL for a Notion image block",
        "smithy.api#readonly": {}
      }
    },
    "com.railway.api#CloudAgentRequest": {
      "type": "structure",
      "members": {
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.railway.graphql#operation": {
          "query": "query cloudAgent($environmentId: ID!, $id: ID!) {\n  cloudAgent(environmentId: $environmentId, id: $id) {\n    consoleTargetId\n    createdAt\n    domain\n    domains {\n      domain\n      port\n      prefix\n    }\n    environmentId\n    id\n    name\n    projectId\n    sessions {\n      harness\n      lastEventKind\n      prompt\n      sessionId\n      sessionName\n      state\n      taskId\n      terminal\n      updatedAt\n    }\n    status\n  }\n}",
          "operationName": "cloudAgent",
          "type": "query"
        }
      }
    },
    "com.railway.api#CloudAgentResponseDomainsItem": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.railway.api#CloudAgentResponseDomainsList": {
      "type": "list",
      "member": {
        "target": "com.railway.api#CloudAgentResponseDomainsItem"
      }
    },
    "com.railway.api#CloudAgentResponseSessionsItem": {
      "type": "structure",
      "members": {
        "harness": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lastEventKind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "sessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sessionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "terminal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.railway.api#CloudAgentResponseSessionsList": {
      "type": "list",
      "member": {
        "target": "com.railway.api#CloudAgentResponseSessionsItem"
      }
    },
    "com.railway.api#CloudAgentStatus": {
      "type": "enum",
      "members": {
        "CRASHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRASHED"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "SLEEPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SLEEPING"
          }
        },
        "STARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARTING"
          }
        }
      }
    },
    "com.railway.api#CloudAgentResponse": {
      "type": "structure",
      "members": {
        "consoleTargetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "domains": {
          "target": "com.railway.api#CloudAgentResponseDomainsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sessions": {
          "target": "com.railway.api#CloudAgentResponseSessionsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.railway.api#CloudAgentStatus",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "com.railway.graphql#responsePath": "cloudAgent",
        "smithy.api#documentation": "Selection set for `cloudAgent` (unwrapped from the GraphQL `data` envelope)."
      }
    },
    "com.railway.api#CloudAgent": {
      "type": "operation",
      "input": {
        "target": "com.railway.api#CloudAgentRequest"
      },
      "output": {
        "target": "com.railway.api#CloudAgentResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graphql/v2",
          "code": 200
        },
        "smithy.api#documentation": "A cloud agent by ID, within an environment. Null when the agent belongs to another one, so a caller cannot render an agent it has switched away from.",
        "smithy.api#readonly": {}
      }
    },
    "com.railway.api#CloudAgentConsoleSessionsRequest": {
      "type": "structure",
      "members": {
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "com.railway.graphql#nullable": {}
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "com.railway.graphql#nullable": {}
          }
        },
        "cloudAgentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "first": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.railway.graphql#nullable": {}
          }
        },
        "last": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.railway.graphql#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.railway.graphql#operation": {
          "query": "query cloudAgentConsoleSessions($after: String, $before: String, $cloudAgentId: ID!, $first: Int, $last: Int) {\n  cloudAgentConsoleSessions(after: $after, before: $before, cloudAgentId: $cloudAgentId, first: $first, last: $last) {\n    edges {\n      cursor\n      node {\n        attached\n        command\n        createdAt\n        foregroundActive\n        kind\n        name\n        runState {\n          exitCode\n          exitedAt\n          running\n        }\n      }\n    }\n    pageInfo {\n      endCursor\n      hasNextPage\n      hasPreviousPage\n      startCursor\n    }\n  }\n}",
          "operationName": "cloudAgentConsoleSessions",
          "type": "query"
        }
      }
    },
    "com.railway.api#SandboxSessionKind": {
      "type": "enum",
      "members": {
        "EXEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXEC"
          }
        },
        "SHELL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHELL"
          }
        }
      }
    },
    "com.railway.api#CloudAgentConsoleSessionsResponseEdgesItemNodeRunState": {
      "type": "structure",
      "members": {
        "exitCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "exitedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "running": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.railway.api#CloudAgentConsoleSessionsResponseEdgesItemNode": {
      "type": "structure",
      "members": {
        "attached": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "foregroundActive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "kind": {
          "target": "com.railway.api#SandboxSessionKind",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "runState": {
          "target": "com.railway.api#CloudAgentConsoleSessionsResponseEdgesItemNodeRunState",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.railway.api#CloudAgentConsoleSessionsResponseEdgesItem": {
      "type": "structure",
      "members": {
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node": {
          "target": "com.railway.api#CloudAgentConsoleSessionsResponseEdgesItemNode",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.railway.api#CloudAgentConsoleSessionsResponseEdgesList": {
      "type": "list",
      "member": {
        "target": "com.railway.api#CloudAgentConsoleSessionsResponseEdgesItem"
      }
    },
    "com.railway.api#CloudAgentConsoleSessionsResponsePageInfo": {
      "type": "structure",
      "members": {
        "endCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "hasNextPage": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasPreviousPage": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "startCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        }
      }
    },
    "com.railway.api#CloudAgentConsoleSessionsResponse": {
      "type": "structure",
      "members": {
        "edges": {
          "target": "com.railway.api#CloudAgentConsoleSessionsResponseEdgesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pageInfo": {
          "target": "com.railway.api#CloudAgentConsoleSessionsResponsePageInfo",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "com.railway.graphql#responsePath": "cloudAgentConsoleSessions",
        "smithy.api#documentation": "Selection set for `cloudAgentConsoleSessions` (unwrapped from the GraphQL `data` envelope)."
      }
    },
    "com.railway.api#CloudAgentConsoleSessions": {
      "type": "operation",
      "input": {
        "target": "com.railway.api#CloudAgentConsoleSessionsRequest"
      },
      "output": {
        "target": "com.railway.api#CloudAgentConsoleSessionsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graphql/v2",
          "code": 200
        },
        "smithy.api#documentation": "Shell and exec sessions running on a cloud agent's VM that you can reconnect to. Null if the agent has no running machine.",
        "smithy.api#readonly": {},
        "smithy.api#paginated": {
          "mode": "relay",
          "inputToken": "after",
          "outputToken": "pageInfo.endCursor",
          "hasNextPage": "pageInfo.hasNextPage",
          "items": "edges.node",
          "pageSize": "first"
        }
      }
    },
    "com.railway.api#CloudAgentsRequest": {
      "type": "structure",
      "members": {
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mine": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.railway.graphql#nullable": {},
            "smithy.api#documentation": "Return only the agents that belong to you. By default every agent in the environment is returned, including your teammates'."
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.railway.graphql#operation": {
          "query": "query cloudAgents($environmentId: ID!, $mine: Boolean) {\n  cloudAgents(environmentId: $environmentId, mine: $mine) {\n    consoleTargetId\n    createdAt\n    domain\n    domains {\n      domain\n      port\n      prefix\n    }\n    environmentId\n    id\n    name\n    projectId\n    sessions {\n      harness\n      lastEventKind\n      prompt\n      sessionId\n      sessionName\n      state\n      taskId\n      terminal\n      updatedAt\n    }\n    status\n  }\n}",
          "operationName": "cloudAgents",
          "type": "query"
        }
      }
    },
    "com.railway.api#CloudAgentsResultItemDomainsItem": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.railway.api#CloudAgentsResultItemDomainsList": {
      "type": "list",
      "member": {
        "target": "com.railway.api#CloudAgentsResultItemDomainsItem"
      }
    },
    "com.railway.api#CloudAgentsResultItemSessionsItem": {
      "type": "structure",
      "members": {
        "harness": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lastEventKind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "sessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sessionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "terminal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.railway.api#CloudAgentsResultItemSessionsList": {
      "type": "list",
      "member": {
        "target": "com.railway.api#CloudAgentsResultItemSessionsItem"
      }
    },
    "com.railway.api#CloudAgentsResultItem": {
      "type": "structure",
      "members": {
        "consoleTargetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "domains": {
          "target": "com.railway.api#CloudAgentsResultItemDomainsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sessions": {
          "target": "com.railway.api#CloudAgentsResultItemSessionsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.railway.api#CloudAgentStatus",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.railway.api#CloudAgentsResultList": {
      "type": "list",
      "member": {
        "target": "com.railway.api#CloudAgentsResultItem"
      }
    },
    "com.railway.api#CloudAgentsResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.railway.api#CloudAgentsResultList",
          "traits": {
            "com.railway.graphql#payload": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The value of `data.cloudAgents`."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "com.railway.graphql#responsePath": "cloudAgents"
      }
    },
    "com.railway.api#CloudAgents": {
      "type": "operation",
      "input": {
        "target": "com.railway.api#CloudAgentsRequest"
      },
      "output": {
        "target": "com.railway.api#CloudAgentsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graphql/v2",
          "code": 200
        },
        "smithy.api#documentation": "Cloud agents in an environment.",
        "smithy.api#readonly": {}
      }
    },
    "com.railway.api#ComplianceAgreementsRequest": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.railway.graphql#operation": {
          "query": "query complianceAgreements($workspaceId: String!) {\n  complianceAgreements(workspaceId: $workspaceId) {\n    hasBAA\n    hasDPA\n  }\n}",
          "operationName": "complianceAgreements",
          "type": "query"
        }
      }
    },
    "com.railway.api#ComplianceAgreementsResponse": {
      "type": "structure",
      "members": {
        "hasBAA": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasDPA": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "com.railway.graphql#responsePath": "complianceAgreements",
        "smithy.api#documentation": "Selection set for `complianceAgreements` (unwrapped from the GraphQL `data` envelope)."
      }
    },
    "com.railway.api#ComplianceAgreements": {
      "type": "operation",
      "input": {
        "target": "com.railway.api#ComplianceAgreementsRequest"
      },
      "output": {
        "target": "com.railway.api#ComplianceAgreementsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graphql/v2",
          "code": 200
        },
        "smithy.api#documentation": "Get compliance agreements for a workspace including HIPAA BAA and GDPR DPA status.",
        "smithy.api#readonly": {}
      }
    },
    "com.railway.api#CustomDomainRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "com.railway.graphql#operation": {
          "query": "query customDomain($id: String!, $projectId: String!) {\n  customDomain(id: $id, projectId: $projectId) {\n    cdnMode\n    cnameCheck {\n      link\n      message\n      status\n    }\n    createdAt\n    deletedAt\n    domain\n    edgeId\n    environmentId\n    id\n    isRailwayDomain\n    projectId\n    serviceId\n    status {\n      cdnProvider\n      certificateErrorMessage\n      certificateErrorType\n      certificateRetryable\n      certificateStatus\n      certificateStatusDetailed\n      verificationDnsHost\n      verificationToken\n      verified\n    }\n    syncStatus\n    targetPort\n    updatedAt\n  }\n}",
          "operationName": "customDomain",
          "type": "query"
        }
      }
    },
    "com.railway.api#CnameCheckStatus": {
      "type": "enum",
      "members": {
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFO"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID"
          }
        },
        "VALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALID"
          }
        },
        "WAITING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WAITING"
          }
        }
      }
    },
    "com.railway.api#CustomDomainResponseCnameCheck": {
      "type": "structure",
      "members": {
        "link": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.railway.graphql#nullable": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
[...]
