{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.growthbook.api#ListFeaturesV2RequestArchived": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case4": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether to include archived features. Defaults to `false` (non-archived only). Pass `true` to include archived features alongside non-archived ones."
      }
    },
    "com.growthbook.api#ListFeaturesV2RequestSkipPagination": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case4": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "If true, return all matching items and ignore limit/offset.\nSelf-hosted only. Has no effect unless API_ALLOW_SKIP_PAGINATION is set to true or 1."
      }
    },
    "com.growthbook.api#ListFeaturesV2Request": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "The number of items to return"
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "How many items to skip (use in conjunction with limit for pagination)"
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectId",
            "smithy.api#documentation": "Filter by project id"
          }
        },
        "clientKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "clientKey",
            "smithy.api#documentation": "Filter by a SDK connection's client key"
          }
        },
        "archived": {
          "target": "com.growthbook.api#ListFeaturesV2RequestArchived",
          "traits": {
            "smithy.api#httpQuery": "archived",
            "smithy.api#documentation": "Whether to include archived features. Defaults to `false` (non-archived only). Pass `true` to include archived features alongside non-archived ones."
          }
        },
        "skipPagination": {
          "target": "com.growthbook.api#ListFeaturesV2RequestSkipPagination",
          "traits": {
            "smithy.api#httpQuery": "skipPagination",
            "smithy.api#documentation": "If true, return all matching items and ignore limit/offset.\nSelf-hosted only. Has no effect unless API_ALLOW_SKIP_PAGINATION is set to true or 1."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.growthbook.api#FeatureV2": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dateCreated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dateUpdated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The userId or email address of the owner. If an email address is provided, it will be used to look up the userId of the matching organization member. If an ID is provided, it will be validated as existing in the organization.",
            "smithy.api#required": {}
          }
        },
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "targetingAllProjects": {
          "target": "smithy.api#Boolean"
        },
        "targetingProjects": {
          "target": "com.growthbook.api#FeatureV2TargetingProjectsList"
        },
        "valueType": {
          "target": "com.growthbook.api#FeatureV2ValueType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "defaultValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "baseConfig": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key of the config backing this flag (\"Config mode\"). Requires `valueType: \"json\"` and a live config. The config supplies the base JSON and schema; `defaultValue` and rule values are override patches on top. null or omitted for a plain flag.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "defaultValueConfig": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A config within `baseConfig`'s family that the default value resolves to instead of `baseConfig` itself. null or omitted means the default is `baseConfig`. The default is exactly this config and carries no overrides of its own.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "tags": {
          "target": "com.growthbook.api#FeatureV2TagsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rules": {
          "target": "com.growthbook.api#FeatureV2RulesList",
          "traits": {
            "smithy.api#documentation": "Unified rules array. Each rule carries its own environment scope via `allEnvironments` / `environments`.",
            "smithy.api#required": {}
          }
        },
        "environments": {
          "target": "com.growthbook.api#FeatureV2EnvironmentsMap",
          "traits": {
            "smithy.api#documentation": "Per-environment enabled state and SDK payload. Rules are on the top-level `rules` field.",
            "smithy.api#required": {}
          }
        },
        "prerequisites": {
          "target": "com.growthbook.api#FeatureV2PrerequisitesList",
          "traits": {
            "smithy.api#documentation": "Feature IDs. Each feature must evaluate to `true`"
          }
        },
        "revision": {
          "target": "com.growthbook.api#FeatureRevisionSummary",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "customFields": {
          "target": "com.growthbook.api#FeatureV2CustomFieldsMap"
        },
        "holdout": {
          "target": "com.growthbook.api#FeatureV2Holdout",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#FeatureV2TargetingProjectsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.growthbook.api#FeatureV2ValueType": {
      "type": "enum",
      "members": {
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        },
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#FeatureV2TagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.growthbook.api#FeatureRuleV2": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String"
        },
        "condition": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "scheduleRules": {
          "target": "com.growthbook.api#FeatureRuleV2ScheduleRulesList",
          "traits": {
            "smithy.api#documentation": "Simple time-based on/off schedule for this rule"
          }
        },
        "scheduleType": {
          "target": "com.growthbook.api#FeatureRuleV2ScheduleType",
          "traits": {
            "smithy.api#documentation": "UI hint for which scheduling mode is active:\n- `none` – no schedule\n- `schedule` – simple time-based enable/disable via `scheduleRules`\n- `ramp` – multi-step ramp-up controlled by an associated RampSchedule document\n"
          }
        },
        "rampScheduleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the active RampSchedule document controlling this rule. Present when `scheduleType` is `ramp` and a live schedule exists."
          }
        },
        "savedGroupTargeting": {
          "target": "com.growthbook.api#FeatureRuleV2SavedGroupTargetingList"
        },
        "prerequisites": {
          "target": "com.growthbook.api#FeatureRuleV2PrerequisitesList"
        },
        "allProjects": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true (the default) the rule applies to every project the feature is delivered to. When false the rule is limited to `projects`."
          }
        },
        "projects": {
          "target": "com.growthbook.api#FeatureRuleV2ProjectsList",
          "traits": {
            "smithy.api#documentation": "Project IDs this rule is scoped to when `allProjects` is false. An empty array scopes the rule to no project."
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        },
        "sparse": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "JSON features only. When true, `value` is a partial object merged onto the feature's default value instead of replacing it."
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key of the config backing this value, or null when the value is not config-backed. The config supplies the base JSON (and its schema); the value is an override patch merged on top.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "coverage": {
          "target": "smithy.api#Double"
        },
        "hashAttribute": {
          "target": "smithy.api#String"
        },
        "seed": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional seed for the hash function; defaults to the rule id"
          }
        },
        "hashVersion": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Hash algorithm version for bucketing. Defaults to 2 (preferred) when not specified."
          }
        },
        "trackingKey": {
          "target": "smithy.api#String"
        },
        "fallbackAttribute": {
          "target": "smithy.api#String"
        },
        "disableStickyBucketing": {
          "target": "smithy.api#Boolean"
        },
        "bucketVersion": {
          "target": "smithy.api#Double"
        },
        "minBucketVersion": {
          "target": "smithy.api#Double"
        },
        "namespace": {
          "target": "com.growthbook.api#FeatureRuleV2Namespace"
        },
        "variations": {
          "target": "com.growthbook.api#FeatureRuleV2VariationsList"
        },
        "experimentId": {
          "target": "smithy.api#String"
        },
        "contextualBanditId": {
          "target": "smithy.api#String"
        },
        "controlValue": {
          "target": "smithy.api#String"
        },
        "variationValue": {
          "target": "smithy.api#String"
        },
        "safeRolloutId": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "com.growthbook.api#FeatureRuleV2Status"
        },
        "allEnvironments": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true the rule applies to all environments. When false only the environments listed in `environments` receive the rule.",
            "smithy.api#required": {}
          }
        },
        "environments": {
          "target": "com.growthbook.api#FeatureRuleV2EnvironmentsList",
          "traits": {
            "smithy.api#documentation": "The environment IDs this rule is active in. Populated when `allEnvironments` is false."
          }
        },
        "pendingRamp": {
          "target": "com.growthbook.api#FeatureRuleV2PendingRamp",
          "traits": {
            "smithy.api#documentation": "Present on draft revisions only. \"create\" means a ramp schedule will be created for this rule on publish. \"detach\" means an existing live ramp schedule will be removed on publish. Use PUT/DELETE .../rules/{ruleId}/ramp-schedule to modify."
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#ScheduleRule": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the rule should be enabled or disabled at the specified timestamp.",
            "smithy.api#required": {}
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO timestamp when the rule should activate.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#FeatureRuleV2ScheduleRulesList": {
      "type": "list",
      "member": {
        "target": "com.growthbook.api#ScheduleRule"
      },
      "traits": {
        "smithy.api#documentation": "Simple time-based on/off schedule for this rule"
      }
    },
    "com.growthbook.api#FeatureRuleV2ScheduleType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "SCHEDULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "schedule"
          }
        },
        "RAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ramp"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "UI hint for which scheduling mode is active:\n- `none` – no schedule\n- `schedule` – simple time-based enable/disable via `scheduleRules`\n- `ramp` – multi-step ramp-up controlled by an associated RampSchedule document\n"
      }
    },
    "com.growthbook.api#FeatureRuleV2SavedGroupTargetingItemMatchType": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "any"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#FeatureRuleV2SavedGroupTargetingItemSavedGroupsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.growthbook.api#FeatureRuleV2SavedGroupTargetingItem": {
      "type": "structure",
      "members": {
        "matchType": {
          "target": "com.growthbook.api#FeatureRuleV2SavedGroupTargetingItemMatchType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "savedGroups": {
          "target": "com.growthbook.api#FeatureRuleV2SavedGroupTargetingItemSavedGroupsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#FeatureRuleV2SavedGroupTargetingList": {
      "type": "list",
      "member": {
        "target": "com.growthbook.api#FeatureRuleV2SavedGroupTargetingItem"
      },
      "traits": {}
    },
    "com.growthbook.api#FeatureRuleV2PrerequisitesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Feature ID of the prerequisite",
            "smithy.api#required": {}
          }
        },
        "condition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#FeatureRuleV2PrerequisitesList": {
      "type": "list",
      "member": {
        "target": "com.growthbook.api#FeatureRuleV2PrerequisitesItem"
      },
      "traits": {}
    },
    "com.growthbook.api#FeatureRuleV2ProjectsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Project IDs this rule is scoped to when `allProjects` is false. An empty array scopes the rule to no project."
      }
    },
    "com.growthbook.api#FeatureRuleV2NamespaceRangeList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      },
      "traits": {}
    },
    "com.growthbook.api#FeatureRuleV2Namespace": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "range": {
          "target": "com.growthbook.api#FeatureRuleV2NamespaceRangeList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#FeatureRuleV2VariationsItem": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "variationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key of the config backing this value, or null when the value is not config-backed. The config supplies the base JSON (and its schema); the value is an override patch merged on top.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#FeatureRuleV2VariationsList": {
      "type": "list",
      "member": {
        "target": "com.growthbook.api#FeatureRuleV2VariationsItem"
      },
      "traits": {}
    },
    "com.growthbook.api#FeatureRuleV2Status": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "RELEASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "released"
          }
        },
        "ROLLED_BACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rolled-back"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopped"
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#FeatureRuleV2EnvironmentsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The environment IDs this rule is active in. Populated when `allEnvironments` is false."
      }
    },
    "com.growthbook.api#FeatureRuleV2PendingRamp": {
      "type": "enum",
      "members": {
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create"
          }
        },
        "DETACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "detach"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Present on draft revisions only. \"create\" means a ramp schedule will be created for this rule on publish. \"detach\" means an existing live ramp schedule will be removed on publish. Use PUT/DELETE .../rules/{ruleId}/ramp-schedule to modify."
      }
    },
    "com.growthbook.api#FeatureV2RulesList": {
      "type": "list",
      "member": {
        "target": "com.growthbook.api#FeatureRuleV2"
      },
      "traits": {
        "smithy.api#documentation": "Unified rules array. Each rule carries its own environment scope via `allEnvironments` / `environments`."
      }
    },
    "com.growthbook.api#FeatureEnvironmentV2": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "defaultValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "definition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JSON stringified [FeatureDefinition](#tag/FeatureDefinition_model)"
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#FeatureV2EnvironmentsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.growthbook.api#FeatureEnvironmentV2"
      },
      "traits": {
        "smithy.api#documentation": "Per-environment enabled state and SDK payload. Rules are on the top-level `rules` field."
      }
    },
    "com.growthbook.api#FeatureV2PrerequisitesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Feature IDs. Each feature must evaluate to `true`"
      }
    },
    "com.growthbook.api#FeatureRevisionSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable id of the feature's live revision."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdBy": {
          "target": "com.growthbook.api#EventUser"
        },
        "publishedBy": {
          "target": "com.growthbook.api#EventUser"
        }
      },
      "traits": {}
    },
    "com.growthbook.api#EventUser": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.growthbook.api#EventUserType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The user (or automated actor) responsible for an action"
      }
    },
    "com.growthbook.api#EventUserType": {
      "type": "enum",
      "members": {
        "DASHBOARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dashboard"
          }
        },
        "API_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api_key"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#FeatureV2CustomFieldsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.growthbook.api#FeatureV2Holdout": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Holdout ID",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The feature value assigned to users in the holdout treatment group",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#ListFeaturesV2ResponseFeaturesList": {
      "type": "list",
      "member": {
        "target": "com.growthbook.api#FeatureV2"
      },
      "traits": {}
    },
    "com.growthbook.api#ListFeaturesV2Response": {
      "type": "structure",
      "members": {
        "features": {
          "target": "com.growthbook.api#ListFeaturesV2ResponseFeaturesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasMore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "nextOffset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.growthbook.api#ListFeaturesV2": {
      "type": "operation",
      "input": {
        "target": "com.growthbook.api#ListFeaturesV2Request"
      },
      "output": {
        "target": "com.growthbook.api#ListFeaturesV2Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/features",
          "code": 200
        },
        "smithy.api#documentation": "Get all features\n\nReturns features with pagination. Rules are returned as a unified top-level array with per-rule environment scope."
      }
    },
    "com.growthbook.api#PostFeatureV2RequestSkipSchemaValidation": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case4": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated — pass `skipSchemaValidation` in the request body instead."
      }
    },
    "com.growthbook.api#PostFeatureV2RequestIgnoreWarnings": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case4": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated — pass `ignoreWarnings` in the request body instead."
      }
    },
    "com.growthbook.api#PostFeatureV2RequestTargetingProjectsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Secondary project IDs this feature is targeted in and served to, beyond its primary `project`. Governance/approvals stay with `project`."
      }
    },
    "com.growthbook.api#PostFeatureV2RequestValueType": {
      "type": "enum",
      "members": {
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        },
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The data type of the feature payload. Boolean by default."
      }
    },
    "com.growthbook.api#PostFeatureV2RequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of associated tags"
      }
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase0SavedGroupsItemMatch": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "any"
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase0SavedGroupsItemIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase0SavedGroupsItem": {
      "type": "structure",
      "members": {
        "match": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase0SavedGroupsItemMatch",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ids": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase0SavedGroupsItemIdsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase0SavedGroupsList": {
      "type": "list",
      "member": {
        "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase0SavedGroupsItem"
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase0SavedGroupTargetingItemMatchType": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "any"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase0SavedGroupTargetingItemSavedGroupsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase0SavedGroupTargetingItem": {
      "type": "structure",
      "members": {
        "matchType": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase0SavedGroupTargetingItemMatchType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "savedGroups": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase0SavedGroupTargetingItemSavedGroupsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase0SavedGroupTargetingList": {
      "type": "list",
      "member": {
        "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase0SavedGroupTargetingItem"
      },
      "traits": {
        "smithy.api#documentation": "Deprecated — use `savedGroups`. Accepted so a GET response can be posted back unchanged; `savedGroups` takes precedence if both are sent."
      }
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase0PrerequisitesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Feature ID",
            "smithy.api#required": {}
          }
        },
        "condition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase0PrerequisitesList": {
      "type": "list",
      "member": {
        "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase0PrerequisitesItem"
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase0ScheduleRulesItem": {
      "type": "structure",
      "members": {
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 date-time, e.g. \"2025-06-01T00:00:00Z\".",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase0ScheduleRulesList": {
      "type": "list",
      "member": {
        "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase0ScheduleRulesItem"
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase0EnvironmentsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Specific environment IDs this rule applies to. Required when allEnvironments is false."
      }
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase0ProjectsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Specific project IDs this rule applies to. Used when allProjects is false. An empty array scopes the rule to no project."
      }
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase0": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String"
        },
        "condition": {
          "target": "smithy.api#String"
        },
        "savedGroups": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase0SavedGroupsList"
        },
        "savedGroupTargeting": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase0SavedGroupTargetingList",
          "traits": {
            "smithy.api#documentation": "Deprecated — use `savedGroups`. Accepted so a GET response can be posted back unchanged; `savedGroups` takes precedence if both are sent."
          }
        },
        "prerequisites": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase0PrerequisitesList"
        },
        "scheduleRules": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase0ScheduleRulesList"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key of a config to back this value. When set, `value` is a JSON override patch merged on top of the config; omit or null for a plain value.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sparse": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "JSON features only. When true, the rule value is a partial object merged onto the feature's default value instead of replacing it."
          }
        },
        "allEnvironments": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true the rule applies to all environments (default)."
          }
        },
        "environments": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase0EnvironmentsList",
          "traits": {
            "smithy.api#documentation": "Specific environment IDs this rule applies to. Required when allEnvironments is false."
          }
        },
        "allProjects": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true (the default) the rule applies to every project the feature is delivered to. Set false and supply `projects` to scope the rule."
          }
        },
        "projects": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase0ProjectsList",
          "traits": {
            "smithy.api#documentation": "Specific project IDs this rule applies to. Used when allProjects is false. An empty array scopes the rule to no project."
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase1SavedGroupsItemMatch": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "any"
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase1SavedGroupsItemIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase1SavedGroupsItem": {
      "type": "structure",
      "members": {
        "match": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase1SavedGroupsItemMatch",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ids": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase1SavedGroupsItemIdsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase1SavedGroupsList": {
      "type": "list",
      "member": {
        "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase1SavedGroupsItem"
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase1SavedGroupTargetingItemMatchType": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "any"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase1SavedGroupTargetingItemSavedGroupsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase1SavedGroupTargetingItem": {
      "type": "structure",
      "members": {
        "matchType": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase1SavedGroupTargetingItemMatchType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "savedGroups": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase1SavedGroupTargetingItemSavedGroupsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase1SavedGroupTargetingList": {
      "type": "list",
      "member": {
        "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase1SavedGroupTargetingItem"
      },
      "traits": {
        "smithy.api#documentation": "Deprecated — use `savedGroups`. Accepted so a GET response can be posted back unchanged; `savedGroups` takes precedence if both are sent."
      }
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase1PrerequisitesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Feature ID",
            "smithy.api#required": {}
          }
        },
        "condition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase1PrerequisitesList": {
      "type": "list",
      "member": {
        "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase1PrerequisitesItem"
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase1ScheduleRulesItem": {
      "type": "structure",
      "members": {
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 date-time, e.g. \"2025-06-01T00:00:00Z\".",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase1ScheduleRulesList": {
      "type": "list",
      "member": {
        "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase1ScheduleRulesItem"
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase1EnvironmentsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Specific environment IDs this rule applies to. Required when allEnvironments is false."
      }
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase1ProjectsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Specific project IDs this rule applies to. Used when allProjects is false. An empty array scopes the rule to no project."
      }
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase1": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String"
        },
        "condition": {
          "target": "smithy.api#String"
        },
        "savedGroups": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase1SavedGroupsList"
        },
        "savedGroupTargeting": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase1SavedGroupTargetingList",
          "traits": {
            "smithy.api#documentation": "Deprecated — use `savedGroups`. Accepted so a GET response can be posted back unchanged; `savedGroups` takes precedence if both are sent."
          }
        },
        "prerequisites": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase1PrerequisitesList"
        },
        "scheduleRules": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase1ScheduleRulesList"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key of a config to back this value. When set, `value` is a JSON override patch merged on top of the config; omit or null for a plain value.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sparse": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "JSON features only. When true, the rule value is a partial object merged onto the feature's default value instead of replacing it."
          }
        },
        "coverage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hashAttribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "seed": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional seed for the hash function; defaults to the rule id"
          }
        },
        "hashVersion": {
          "target": "smithy.api#Double"
        },
        "allEnvironments": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true the rule applies to all environments (default)."
          }
        },
        "environments": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase1EnvironmentsList",
          "traits": {
            "smithy.api#documentation": "Specific environment IDs this rule applies to. Required when allEnvironments is false."
          }
        },
        "allProjects": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true (the default) the rule applies to every project the feature is delivered to. Set false and supply `projects` to scope the rule."
          }
        },
        "projects": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase1ProjectsList",
          "traits": {
            "smithy.api#documentation": "Specific project IDs this rule applies to. Used when allProjects is false. An empty array scopes the rule to no project."
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase2SavedGroupsItemMatch": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "any"
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase2SavedGroupsItemIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase2SavedGroupsItem": {
      "type": "structure",
      "members": {
        "match": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase2SavedGroupsItemMatch",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ids": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase2SavedGroupsItemIdsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase2SavedGroupsList": {
      "type": "list",
      "member": {
        "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase2SavedGroupsItem"
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase2SavedGroupTargetingItemMatchType": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "any"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase2SavedGroupTargetingItemSavedGroupsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase2SavedGroupTargetingItem": {
      "type": "structure",
      "members": {
        "matchType": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase2SavedGroupTargetingItemMatchType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "savedGroups": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase2SavedGroupTargetingItemSavedGroupsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase2SavedGroupTargetingList": {
      "type": "list",
      "member": {
        "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase2SavedGroupTargetingItem"
      },
      "traits": {
        "smithy.api#documentation": "Deprecated — use `savedGroups`. Accepted so a GET response can be posted back unchanged; `savedGroups` takes precedence if both are sent."
      }
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase2PrerequisitesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Feature ID",
            "smithy.api#required": {}
          }
        },
        "condition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase2PrerequisitesList": {
      "type": "list",
      "member": {
        "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase2PrerequisitesItem"
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase2ScheduleRulesItem": {
      "type": "structure",
      "members": {
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 date-time, e.g. \"2025-06-01T00:00:00Z\".",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase2ScheduleRulesList": {
      "type": "list",
      "member": {
        "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase2ScheduleRulesItem"
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase2VariationsItem": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "variationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key of a config to back this value. When set, `value` is a JSON override patch merged on top of the config; omit or null for a plain value.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase2VariationsList": {
      "type": "list",
      "member": {
        "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase2VariationsItem"
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase2EnvironmentsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Specific environment IDs this rule applies to. Required when allEnvironments is false."
      }
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase2ProjectsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Specific project IDs this rule applies to. Used when allProjects is false. An empty array scopes the rule to no project."
      }
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase2": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "condition": {
          "target": "smithy.api#String"
        },
        "savedGroups": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase2SavedGroupsList"
        },
        "savedGroupTargeting": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase2SavedGroupTargetingList",
          "traits": {
            "smithy.api#documentation": "Deprecated — use `savedGroups`. Accepted so a GET response can be posted back unchanged; `savedGroups` takes precedence if both are sent."
          }
        },
        "prerequisites": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase2PrerequisitesList"
        },
        "scheduleRules": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase2ScheduleRulesList"
        },
        "variations": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase2VariationsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "experimentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sparse": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "JSON features only. When true, the rule value is a partial object merged onto the feature's default value instead of replacing it."
          }
        },
        "allEnvironments": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true the rule applies to all environments (default)."
          }
        },
        "environments": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase2EnvironmentsList",
          "traits": {
            "smithy.api#documentation": "Specific environment IDs this rule applies to. Required when allEnvironments is false."
          }
        },
        "allProjects": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true (the default) the rule applies to every project the feature is delivered to. Set false and supply `projects` to scope the rule."
          }
        },
        "projects": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase2ProjectsList",
          "traits": {
            "smithy.api#documentation": "Specific project IDs this rule applies to. Used when allProjects is false. An empty array scopes the rule to no project."
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase3SavedGroupsItemMatch": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "any"
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase3SavedGroupsItemIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase3SavedGroupsItem": {
      "type": "structure",
      "members": {
        "match": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase3SavedGroupsItemMatch",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ids": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase3SavedGroupsItemIdsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase3SavedGroupsList": {
      "type": "list",
      "member": {
        "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase3SavedGroupsItem"
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase3SavedGroupTargetingItemMatchType": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "any"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase3SavedGroupTargetingItemSavedGroupsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase3SavedGroupTargetingItem": {
      "type": "structure",
      "members": {
        "matchType": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase3SavedGroupTargetingItemMatchType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "savedGroups": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase3SavedGroupTargetingItemSavedGroupsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase3SavedGroupTargetingList": {
      "type": "list",
      "member": {
        "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase3SavedGroupTargetingItem"
      },
      "traits": {
        "smithy.api#documentation": "Deprecated — use `savedGroups`. Accepted so a GET response can be posted back unchanged; `savedGroups` takes precedence if both are sent."
      }
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase3PrerequisitesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Feature ID",
            "smithy.api#required": {}
          }
        },
        "condition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase3PrerequisitesList": {
      "type": "list",
      "member": {
        "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase3PrerequisitesItem"
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase3ScheduleRulesItem": {
      "type": "structure",
      "members": {
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 date-time, e.g. \"2025-06-01T00:00:00Z\".",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase3ScheduleRulesList": {
      "type": "list",
      "member": {
        "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase3ScheduleRulesItem"
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase3Status": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "RELEASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "released"
          }
        },
        "ROLLED_BACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rolled-back"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopped"
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase3EnvironmentsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Specific environment IDs this rule applies to. Required when allEnvironments is false."
      }
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase3ProjectsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Specific project IDs this rule applies to. Used when allProjects is false. An empty array scopes the rule to no project."
      }
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItemCase3": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "condition": {
          "target": "smithy.api#String"
        },
        "savedGroups": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase3SavedGroupsList"
        },
        "savedGroupTargeting": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase3SavedGroupTargetingList",
          "traits": {
            "smithy.api#documentation": "Deprecated — use `savedGroups`. Accepted so a GET response can be posted back unchanged; `savedGroups` takes precedence if both are sent."
          }
        },
        "prerequisites": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase3PrerequisitesList"
        },
        "scheduleRules": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase3ScheduleRulesList"
        },
        "controlValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "variationValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hashAttribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "trackingKey": {
          "target": "smithy.api#String"
        },
        "seed": {
          "target": "smithy.api#String"
        },
        "safeRolloutId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of an existing SafeRollout on this feature. Bulk POST/PUT cannot create new safe-rollouts; use POST /v2/features/:id/revisions/:version/rules to create one.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase3Status"
        },
        "allEnvironments": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true the rule applies to all environments (default)."
          }
        },
        "environments": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase3EnvironmentsList",
          "traits": {
            "smithy.api#documentation": "Specific environment IDs this rule applies to. Required when allEnvironments is false."
          }
        },
        "allProjects": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true (the default) the rule applies to every project the feature is delivered to. Set false and supply `projects` to scope the rule."
          }
        },
        "projects": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase3ProjectsList",
          "traits": {
            "smithy.api#documentation": "Specific project IDs this rule applies to. Used when allProjects is false. An empty array scopes the rule to no project."
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase0"
        },
        "Case1": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase1"
        },
        "Case2": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase2"
        },
        "Case3": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesItemCase3"
        }
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestRulesList": {
      "type": "list",
      "member": {
        "target": "com.growthbook.api#PostFeatureV2RequestRulesItem"
      },
      "traits": {
        "smithy.api#documentation": "Feature rules. Each rule carries its own environment scope via `allEnvironments` / `environments`."
      }
    },
    "com.growthbook.api#PostFeatureV2RequestEnvironmentsValue": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2RequestEnvironmentsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.growthbook.api#PostFeatureV2RequestEnvironmentsValue"
      },
      "traits": {
        "smithy.api#documentation": "Per-environment enabled state. V2 rules are specified on the top-level `rules` field."
      }
    },
    "com.growthbook.api#PostFeatureV2RequestPrerequisitesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Feature IDs. Each feature must evaluate to `true`"
      }
    },
    "com.growthbook.api#PostFeatureV2RequestCustomFieldsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.growthbook.api#PostFeatureV2Request": {
      "type": "structure",
      "members": {
        "skipSchemaValidation": {
          "target": "com.growthbook.api#PostFeatureV2RequestSkipSchemaValidation",
          "traits": {
            "smithy.api#httpQuery": "skipSchemaValidation",
            "smithy.api#documentation": "Deprecated — pass `skipSchemaValidation` in the request body instead."
          }
        },
        "ignoreWarnings": {
          "target": "com.growthbook.api#PostFeatureV2RequestIgnoreWarnings",
          "traits": {
            "smithy.api#httpQuery": "ignoreWarnings",
            "smithy.api#documentation": "Deprecated — pass `ignoreWarnings` in the request body instead."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique key name for the feature. Feature keys can only include letters, numbers, hyphens, and underscores.",
            "smithy.api#required": {}
          }
        },
        "archived": {
          "target": "smithy.api#Boolean"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the feature"
          }
        },
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The userId or email address of the owner. If an email address is provided, it will be used to look up the userId of the matching organization member. If an ID is provided, it will be validated as existing in the organization. Optional when authenticating with a Personal Access Token (PAT): when omitted, the owner defaults to the PAT's user. Required when authenticating with an organization secret API key (which has no associated user): omitting it fails with a 400."
          }
        },
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An associated project ID"
          }
        },
        "targetingAllProjects": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Make this feature discoverable in — and served to — every project, beyond its primary `project`. Governance/approvals stay with `project`."
          }
        },
        "targetingProjects": {
          "target": "com.growthbook.api#PostFeatureV2RequestTargetingProjectsList",
          "traits": {
            "smithy.api#documentation": "Secondary project IDs this feature is targeted in and served to, beyond its primary `project`. Governance/approvals stay with `project`."
          }
        },
        "valueType": {
          "target": "com.growthbook.api#PostFeatureV2RequestValueType",
          "traits": {
            "smithy.api#documentation": "The data type of the feature payload. Boolean by default.",
            "smithy.api#required": {}
          }
        },
        "defaultValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default value when feature is enabled. Type must match `valueType`. In Config mode (`baseConfig` set) the default must be exactly a config with no overrides: send `\"{}\"` to use `baseConfig`, or set `defaultValueConfig` to point at a descendant.",
            "smithy.api#required": {}
          }
        },
        "baseConfig": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key of the config backing this flag (\"Config mode\"). Requires `valueType: \"json\"` and a live config. The config supplies the base JSON and schema; `defaultValue` and rule values are override patches on top. null or omitted for a plain flag.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "defaultValueConfig": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A config within `baseConfig`'s family that the default value resolves to instead of `baseConfig` itself. null or omitted means the default is `baseConfig`. The default is exactly this config and carries no overrides of its own.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "tags": {
          "target": "com.growthbook.api#PostFeatureV2RequestTagsList",
          "traits": {
            "smithy.api#documentation": "List of associated tags"
          }
        },
        "rules": {
          "target": "com.growthbook.api#PostFeatureV2RequestRulesList",
          "traits": {
            "smithy.api#documentation": "Feature rules. Each rule carries its own environment scope via `allEnvironments` / `environments`."
          }
        },
        "environments": {
          "target": "com.growthbook.api#PostFeatureV2RequestEnvironmentsMap",
          "traits": {
            "smithy.api#documentation": "Per-environment enabled state. V2 rules are specified on the top-level `rules` field."
          }
        },
        "prerequisites": {
          "target": "com.growthbook.api#PostFeatureV2RequestPrerequisitesList",
          "traits": {
            "smithy.api#documentation": "Feature IDs. Each feature must evaluate to `true`"
          }
        },
        "jsonSchema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use JSON schema to validate the payload of a JSON-type feature value (enterprise only)."
          }
        },
        "customFields": {
          "target": "com.growthbook.api#PostFeatureV2RequestCustomFieldsMap"
        },
        "skipHooks": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to publish despite a Custom Hook rejection. This does not bypass schema validation; use `skipSchemaValidation` for that. The caller must have Bypass draft approvals access for Feature Flags, Configs, and Constants in every Project. Otherwise, this field is ignored."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.growthbook.api#PostFeatureV2Response": {
      "type": "structure",
      "members": {
        "feature": {
          "target": "com.growthbook.api#FeatureV2",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.growthbook.api#PostFeatureV2": {
      "type": "operation",
      "input": {
        "target": "com.growthbook.api#PostFeatureV2Request"
      },
      "output": {
        "target": "com.growthbook.api#PostFeatureV2Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/features",
          "code": 200
        },
        "smithy.api#documentation": "Create a single feature\n\nCreates a new Feature Flag. The caller needs Create access in its Project, plus Publish access for any environment the Feature Flag starts enabled in — one that starts disabled everywhere needs Create alone. Rules are supplied as a top-level `rules` array; each rule includes `allEnvironments` / `environments` scope fields.\n\n### Config-backed features (Config mode)\n\nA JSON feature can be backed by a shared **config** — the config supplies the base JSON value and schema, and the feature's *rule* values become override *patches* merged on top (nested objects deep-merge; arrays and scalars replace). The default value is exactly a config with no overrides (see below). Config backing is set exclusively through dedicated fields — never a raw `$extends: [\"@config:…\"]` inside a value string (that is rejected). `@const:` references inside values still work.\n\n- **Top-level (`baseConfig`):** set `valueType: \"json\"` and `baseConfig: \"<configKey>\"` to put the Feature Flag in Config mode. The config must be live. This is the family root and the base the default value patches.\n- **Default value:** unlike rules, the default is exactly a config with no overrides of its own — send `defaultValue: \"{}\"` to use `baseConfig`. To resolve the default to a *descendant* of `baseConfig` instead, set `defaultValueConfig` to that descendant's key (it must be within `baseConfig`'s family); omit/null to use `baseConfig` directly.\n- **Rules & experiment variations:** each carries its own `config` field naming the family config that value patches (omit/null to patch the base). `value` is the override patch.\n\nExample:\n\n```json\n{\n  \"id\": \"checkout-config\",\n  \"valueType\": \"json\",\n  \"baseConfig\": \"purchase-flow\",\n  \"defaultValue\": \"{}\",\n  \"rules\": [\n    { \"type\": \"force\", \"config\": \"purchase-flow-vip\", \"value\": \"{\\\"maxItems\\\": 20}\", \"allEnvironments\": true }\n  ]\n}\n```"
      }
    },
    "com.growthbook.api#GetFeatureV2RequestWithRevisions": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "DRAFTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "drafts"
          }
        },
        "PUBLISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "published"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Also return feature revisions (all, draft, or published statuses)"
      }
    },
    "com.growthbook.api#GetFeatureV2Request": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The id of the requested resource"
          }
        },
        "withRevisions": {
          "target": "com.growthbook.api#GetFeatureV2RequestWithRevisions",
          "traits": {
            "smithy.api#httpQuery": "withRevisions",
            "smithy.api#documentation": "Also return feature revisions (all, draft, or published statuses)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.growthbook.api#FeatureWithRevisionsV2": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dateCreated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dateUpdated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The userId or email address of the owner. If an email address is provided, it will be used to look up the userId of the matching organization member. If an ID is provided, it will be validated as existing in the organization.",
            "smithy.api#required": {}
          }
        },
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "targetingAllProjects": {
          "target": "smithy.api#Boolean"
        },
        "targetingProjects": {
          "target": "com.growthbook.api#FeatureWithRevisionsV2TargetingProjectsList"
        },
        "valueType": {
          "target": "com.growthbook.api#FeatureWithRevisionsV2ValueType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "defaultValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "baseConfig": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key of the config backing this flag (\"Config mode\"). Requires `valueType: \"json\"` and a live config. The config supplies the base JSON and schema; `defaultValue` and rule values are override patches on top. null or omitted for a plain flag.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "defaultValueConfig": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A config within `baseConfig`'s family that the default value resolves to instead of `baseConfig` itself. null or omitted means the default is `baseConfig`. The default is exactly this config and carries no overrides of its own.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "tags": {
          "target": "com.growthbook.api#FeatureWithRevisionsV2TagsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rules": {
          "target": "com.growthbook.api#FeatureWithRevisionsV2RulesList",
          "traits": {
            "smithy.api#documentation": "Unified rules array. Each rule carries its own environment scope via `allEnvironments` / `environments`.",
            "smithy.api#required": {}
          }
        },
        "environments": {
          "target": "com.growthbook.api#FeatureWithRevisionsV2EnvironmentsMap",
          "traits": {
            "smithy.api#documentation": "Per-environment enabled state and SDK payload. Rules are on the top-level `rules` field.",
            "smithy.api#required": {}
          }
        },
        "prerequisites": {
          "target": "com.growthbook.api#FeatureWithRevisionsV2PrerequisitesList",
          "traits": {
            "smithy.api#documentation": "Feature IDs. Each feature must evaluate to `true`"
          }
        },
        "revision": {
          "target": "com.growthbook.api#FeatureRevisionSummary",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "customFields": {
          "target": "com.growthbook.api#FeatureWithRevisionsV2CustomFieldsMap"
        },
        "holdout": {
          "target": "com.growthbook.api#FeatureWithRevisionsV2Holdout",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "revisions": {
          "target": "com.growthbook.api#FeatureWithRevisionsV2RevisionsList"
        }
      },
      "traits": {}
    },
    "com.growthbook.api#FeatureWithRevisionsV2TargetingProjectsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.growthbook.api#FeatureWithRevisionsV2ValueType": {
      "type": "enum",
      "members": {
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        },
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#FeatureWithRevisionsV2TagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.growthbook.api#FeatureWithRevisionsV2RulesList": {
      "type": "list",
      "member": {
        "target": "com.growthbook.api#FeatureRuleV2"
      },
      "traits": {
        "smithy.api#documentation": "Unified rules array. Each rule carries its own environment scope via `allEnvironments` / `environments`."
      }
    },
    "com.growthbook.api#FeatureWithRevisionsV2EnvironmentsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.growthbook.api#FeatureEnvironmentV2"
      },
      "traits": {
        "smithy.api#documentation": "Per-environment enabled state and SDK payload. Rules are on the top-level `rules` field."
      }
    },
    "com.growthbook.api#FeatureWithRevisionsV2PrerequisitesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Feature IDs. Each feature must evaluate to `true`"
      }
    },
    "com.growthbook.api#FeatureWithRevisionsV2CustomFieldsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.growthbook.api#FeatureWithRevisionsV2Holdout": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Holdout ID",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The feature value assigned to users in the holdout treatment group",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#FeatureRevisionV2": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable revision id. Newer revisions carry opaque ids; older ones a derived `frev_<version>_<featureId>` form. Both work wherever revision ids are accepted.",
            "smithy.api#required": {}
          }
        },
        "featureId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The feature this revision belongs to",
            "smithy.api#required": {}
          }
        },
        "baseVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdBy": {
          "target": "com.growthbook.api#EventUser"
        },
        "publishedBy": {
          "target": "com.growthbook.api#EventUser"
        },
        "defaultValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default value at the time this revision was created. When the feature is in Config mode, this is the JSON override patch merged on top of the config (its own keys win); otherwise it is the full value."
          }
        },
        "defaultValueConfig": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A config within `baseConfig`'s family that the default value resolves to instead of `baseConfig` itself. null or omitted means the default is `baseConfig`. The default is exactly this config and carries no overrides of its own.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "rules": {
          "target": "com.growthbook.api#FeatureRevisionV2RulesList",
          "traits": {
            "smithy.api#documentation": "Unified rules array. Each rule carries its own environment scope via `allEnvironments` / `environments`.",
            "smithy.api#required": {}
          }
        },
        "definitions": {
          "target": "com.growthbook.api#FeatureRevisionV2DefinitionsMap"
        },
        "environmentsEnabled": {
          "target": "com.growthbook.api#FeatureRevisionV2EnvironmentsEnabledMap",
          "traits": {
            "smithy.api#documentation": "Per-environment enabled state captured in this revision (only present when kill-switch gating is enabled)"
          }
        },
        "envPrerequisites": {
          "target": "com.growthbook.api#FeatureRevisionV2EnvPrerequisitesMap",
          "traits": {
            "smithy.api#documentation": "Per-environment prerequisites captured in this revision (only present when prerequisite gating is enabled)"
          }
        },
        "prerequisites": {
          "target": "com.growthbook.api#FeatureRevisionV2PrerequisitesList",
          "traits": {
            "smithy.api#documentation": "Feature-level prerequisites captured in this revision. Each entry is a boolean flag ID that must evaluate to true for this flag to be active for a given user."
          }
        },
        "metadata": {
          "target": "com.growthbook.api#FeatureRevisionV2Metadata",
          "traits": {
            "smithy.api#documentation": "Metadata fields captured in this revision (only present when metadata gating is enabled)"
          }
        },
        "rampActions": {
          "target": "com.growthbook.api#FeatureRevisionV2RampActionsList",
          "traits": {
            "smithy.api#documentation": "Pending ramp schedule actions that will be applied when this draft is published"
          }
        },
        "autoPublishOnApproval": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, the revision is armed to publish automatically once governance allows (immediately on approval, or on `scheduledPublishAt` if set)."
          }
        },
        "scheduledPublishAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target date for a deferred (scheduled) publish. Null/absent means publish as soon as approved.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "scheduledPublishLockEdits": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, content edits to this draft are frozen while the schedule is pending (rebasing is still allowed)."
          }
        },
        "scheduledPublishLockOthers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, publishing other drafts of this feature is blocked while the schedule is pending."
          }
        },
        "scheduledPublishBypassApproval": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the schedule was created for an unapproved draft by a caller with Bypass draft approvals access. This kind of schedule cannot be edited; cancel it and create a new schedule instead. Anyone with Publish access can cancel it."
          }
        },
        "scheduledPublishLastError": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set when a due scheduled publish keeps failing (e.g. still awaiting approval, merge conflict). Indicates the schedule is stuck and retrying."
          }
        },
        "autoPublishEnabledBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User the deferred publish will run as. Its authority is re-checked when the publish fires."
          }
        },
        "scheduledPublishAttempts": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many times the poller has tried to publish this revision. Read with `scheduledPublishGaveUpAt` to tell a schedule that is still retrying from one that has been parked."
          }
        },
        "scheduledPublishGaveUpAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the poller stopped retrying. Giving up CLEARS the schedule and disarms auto-publish, so nothing fires again until the revision is re-armed. The draft is left open, with `scheduledPublishLastError` preserved for context."
          }
        },
        "reviews": {
          "target": "com.growthbook.api#FeatureRevisionV2ReviewsList",
          "traits": {
            "smithy.api#documentation": "Reviewer verdicts for the current review cycle (one entry per reviewer). Verdicts flip to their -stale variants when draft content changes after submission; the list is cleared when a new review cycle starts. Absent on revisions that predate this field."
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#FeatureRevisionV2RulesList": {
      "type": "list",
      "member": {
        "target": "com.growthbook.api#FeatureRuleV2"
      },
      "traits": {
        "smithy.api#documentation": "Unified rules array. Each rule carries its own environment scope via `allEnvironments` / `environments`."
      }
    },
    "com.growthbook.api#FeatureRevisionV2DefinitionsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.growthbook.api#FeatureRevisionV2EnvironmentsEnabledMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Boolean"
      },
      "traits": {
        "smithy.api#documentation": "Per-environment enabled state captured in this revision (only present when kill-switch gating is enabled)"
      }
    },
    "com.growthbook.api#FeatureRevisionV2EnvPrerequisitesValueItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Feature ID of the prerequisite boolean flag",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#FeatureRevisionV2EnvPrerequisitesValueList": {
      "type": "list",
      "member": {
        "target": "com.growthbook.api#FeatureRevisionV2EnvPrerequisitesValueItem"
      },
      "traits": {}
    },
    "com.growthbook.api#FeatureRevisionV2EnvPrerequisitesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.growthbook.api#FeatureRevisionV2EnvPrerequisitesValueList"
      },
      "traits": {
        "smithy.api#documentation": "Per-environment prerequisites captured in this revision (only present when prerequisite gating is enabled)"
      }
    },
    "com.growthbook.api#FeatureRevisionV2PrerequisitesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Feature ID of the prerequisite boolean flag",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#FeatureRevisionV2PrerequisitesList": {
      "type": "list",
      "member": {
        "target": "com.growthbook.api#FeatureRevisionV2PrerequisitesItem"
      },
      "traits": {
        "smithy.api#documentation": "Feature-level prerequisites captured in this revision. Each entry is a boolean flag ID that must evaluate to true for this flag to be active for a given user."
      }
    },
    "com.growthbook.api#FeatureRevisionV2MetadataTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.growthbook.api#FeatureRevisionV2MetadataJsonSchemaSchemaType": {
      "type": "enum",
      "members": {
        "SCHEMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "schema"
          }
        },
        "SIMPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "simple"
          }
        }
      },
      "traits": {}
    },
    "com.growthbook.api#FeatureRevisionV2MetadataJsonSchemaSimpleMap": {
      "type": "map",
      "key": {
[...]
