{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.flyio.machines#ListAppsRequest": {
      "type": "structure",
      "members": {
        "org_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "org_slug",
            "smithy.api#required": {},
            "smithy.api#documentation": "The org slug, or 'personal', to filter apps"
          }
        },
        "app_role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "app_role",
            "smithy.api#documentation": "Filter apps by role"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.flyio.machines#ListAppsResponse": {
      "type": "structure",
      "members": {
        "apps": {
          "target": "com.flyio.machines#ListAppsResponseAppsList"
        },
        "total_apps": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#App": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "internal_numeric_id": {
          "target": "smithy.api#Integer"
        },
        "machine_count": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "network": {
          "target": "smithy.api#String"
        },
        "organization": {
          "target": "com.flyio.machines#AppOrganizationInfo"
        },
        "status": {
          "target": "smithy.api#String"
        },
        "volume_count": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#AppOrganizationInfo": {
      "type": "structure",
      "members": {
        "internal_numeric_id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "slug": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#ListAppsResponseAppsList": {
      "type": "list",
      "member": {
        "target": "com.flyio.machines#App"
      },
      "traits": {}
    },
    "com.flyio.machines#ListApps": {
      "type": "operation",
      "input": {
        "target": "com.flyio.machines#ListAppsRequest"
      },
      "output": {
        "target": "com.flyio.machines#ListAppsResponse"
      },
      "errors": [
        {
          "target": "com.flyio.machines#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apps",
          "code": 200
        },
        "smithy.api#documentation": "List Apps\n\nList all apps with the ability to filter by organization slug."
      }
    },
    "com.flyio.machines#CreateAppRequest": {
      "type": "structure",
      "members": {
        "enable_subdomains": {
          "target": "smithy.api#Boolean"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "network": {
          "target": "smithy.api#String"
        },
        "org_slug": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.flyio.machines#CreateApp": {
      "type": "operation",
      "input": {
        "target": "com.flyio.machines#CreateAppRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.flyio.machines#BadRequest"
        },
        {
          "target": "com.flyio.machines#Forbidden"
        },
        {
          "target": "com.flyio.machines#NotFound"
        },
        {
          "target": "com.flyio.machines#Conflict"
        },
        {
          "target": "com.flyio.machines#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apps",
          "code": 200
        },
        "smithy.api#documentation": "Create App\n\nCreate an app with the specified details in the request body."
      }
    },
    "com.flyio.machines#GetAppRequest": {
      "type": "structure",
      "members": {
        "app_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Fly App Name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.flyio.machines#GetApp": {
      "type": "operation",
      "input": {
        "target": "com.flyio.machines#GetAppRequest"
      },
      "output": {
        "target": "com.flyio.machines#App"
      },
      "errors": [
        {
          "target": "com.flyio.machines#Forbidden"
        },
        {
          "target": "com.flyio.machines#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apps/{app_name}",
          "code": 200
        },
        "smithy.api#documentation": "Get App\n\nRetrieve details about a specific app by its name."
      }
    },
    "com.flyio.machines#DeleteAppRequest": {
      "type": "structure",
      "members": {
        "app_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Fly App Name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.flyio.machines#DeleteApp": {
      "type": "operation",
      "input": {
        "target": "com.flyio.machines#DeleteAppRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.flyio.machines#Forbidden"
        },
        {
          "target": "com.flyio.machines#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/apps/{app_name}",
          "code": 200
        },
        "smithy.api#documentation": "Destroy App\n\nDelete an app by its name."
      }
    },
    "com.flyio.machines#ListAppCertificatesRequest": {
      "type": "structure",
      "members": {
        "app_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Fly App Name"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter",
            "smithy.api#documentation": "Hostname filter (substring match)"
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Pagination cursor from previous response"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results per page (default 25, max 500)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.flyio.machines#ListCertificatesResponse": {
      "type": "structure",
      "members": {
        "certificates": {
          "target": "com.flyio.machines#ListCertificatesResponseCertificatesList"
        },
        "next_cursor": {
          "target": "smithy.api#String"
        },
        "total_count": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#CertificateSummary": {
      "type": "structure",
      "members": {
        "acme_alpn_configured": {
          "target": "smithy.api#Boolean"
        },
        "acme_dns_configured": {
          "target": "smithy.api#Boolean"
        },
        "acme_http_configured": {
          "target": "smithy.api#Boolean"
        },
        "acme_requested": {
          "target": "smithy.api#Boolean"
        },
        "configured": {
          "target": "smithy.api#Boolean"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "dns_provider": {
          "target": "smithy.api#String"
        },
        "has_custom_certificate": {
          "target": "smithy.api#Boolean"
        },
        "has_fly_certificate": {
          "target": "smithy.api#Boolean"
        },
        "hostname": {
          "target": "smithy.api#String"
        },
        "ownership_txt_configured": {
          "target": "smithy.api#Boolean"
        },
        "status": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#ListCertificatesResponseCertificatesList": {
      "type": "list",
      "member": {
        "target": "com.flyio.machines#CertificateSummary"
      },
      "traits": {}
    },
    "com.flyio.machines#ListAppCertificates": {
      "type": "operation",
      "input": {
        "target": "com.flyio.machines#ListAppCertificatesRequest"
      },
      "output": {
        "target": "com.flyio.machines#ListCertificatesResponse"
      },
      "errors": [
        {
          "target": "com.flyio.machines#Forbidden"
        },
        {
          "target": "com.flyio.machines#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apps/{app_name}/certificates",
          "code": 200
        },
        "smithy.api#documentation": "List certificates for app"
      }
    },
    "com.flyio.machines#CreateAppAcmeCertificateRequest": {
      "type": "structure",
      "members": {
        "app_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Fly App Name"
          }
        },
        "hostname": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.flyio.machines#CertificateDetail": {
      "type": "structure",
      "members": {
        "acme_requested": {
          "target": "smithy.api#Boolean"
        },
        "certificates": {
          "target": "com.flyio.machines#CertificateDetailCertificatesList"
        },
        "configured": {
          "target": "smithy.api#Boolean"
        },
        "dns_provider": {
          "target": "smithy.api#String"
        },
        "dns_requirements": {
          "target": "com.flyio.machines#DNSRequirements"
        },
        "hostname": {
          "target": "smithy.api#String"
        },
        "rate_limited_until": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#String"
        },
        "validation": {
          "target": "com.flyio.machines#CertificateValidation"
        },
        "validation_errors": {
          "target": "com.flyio.machines#CertificateDetailValidationErrorsList"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#CertificateEntry": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String"
        },
        "expires_at": {
          "target": "smithy.api#String"
        },
        "issued": {
          "target": "com.flyio.machines#CertificateEntryIssuedList"
        },
        "issuer": {
          "target": "smithy.api#String"
        },
        "source": {
          "target": "com.flyio.machines#CertificateEntrySource"
        },
        "status": {
          "target": "com.flyio.machines#CertificateEntryStatus"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#IssuedCertificate": {
      "type": "structure",
      "members": {
        "certificate_authority": {
          "target": "smithy.api#String"
        },
        "expires_at": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.flyio.machines#IssuedCertificateType"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#IssuedCertificateType": {
      "type": "enum",
      "members": {
        "RSA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rsa"
          }
        },
        "ECDSA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ecdsa"
          }
        }
      },
      "traits": {}
    },
    "com.flyio.machines#CertificateEntryIssuedList": {
      "type": "list",
      "member": {
        "target": "com.flyio.machines#IssuedCertificate"
      },
      "traits": {}
    },
    "com.flyio.machines#CertificateEntrySource": {
      "type": "enum",
      "members": {
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        },
        "FLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fly"
          }
        }
      },
      "traits": {}
    },
    "com.flyio.machines#CertificateEntryStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "PENDING_OWNERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_ownership"
          }
        },
        "PENDING_VALIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_validation"
          }
        }
      },
      "traits": {}
    },
    "com.flyio.machines#CertificateDetailCertificatesList": {
      "type": "list",
      "member": {
        "target": "com.flyio.machines#CertificateEntry"
      },
      "traits": {}
    },
    "com.flyio.machines#DNSRequirements": {
      "type": "structure",
      "members": {
        "a": {
          "target": "com.flyio.machines#DNSRequirementsAList"
        },
        "aaaa": {
          "target": "com.flyio.machines#DNSRequirementsAaaaList"
        },
        "acme_challenge": {
          "target": "com.flyio.machines#AcmeChallenge"
        },
        "cname": {
          "target": "smithy.api#String"
        },
        "ownership": {
          "target": "com.flyio.machines#OwnershipVerification"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#DNSRequirementsAList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.flyio.machines#DNSRequirementsAaaaList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.flyio.machines#AcmeChallenge": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "target": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#OwnershipVerification": {
      "type": "structure",
      "members": {
        "app_value": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "org_value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#CertificateValidation": {
      "type": "structure",
      "members": {
        "alpn_configured": {
          "target": "smithy.api#Boolean"
        },
        "dns_configured": {
          "target": "smithy.api#Boolean"
        },
        "http_configured": {
          "target": "smithy.api#Boolean"
        },
        "ownership_txt_configured": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#CertificateValidationError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "remediation": {
          "target": "smithy.api#String"
        },
        "timestamp": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#CertificateDetailValidationErrorsList": {
      "type": "list",
      "member": {
        "target": "com.flyio.machines#CertificateValidationError"
      },
      "traits": {}
    },
    "com.flyio.machines#CreateAppAcmeCertificate": {
      "type": "operation",
      "input": {
        "target": "com.flyio.machines#CreateAppAcmeCertificateRequest"
      },
      "output": {
        "target": "com.flyio.machines#CertificateDetail"
      },
      "errors": [
        {
          "target": "com.flyio.machines#BadRequest"
        },
        {
          "target": "com.flyio.machines#Forbidden"
        },
        {
          "target": "com.flyio.machines#NotFound"
        },
        {
          "target": "com.flyio.machines#Conflict"
        },
        {
          "target": "com.flyio.machines#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apps/{app_name}/certificates/acme",
          "code": 200
        },
        "smithy.api#documentation": "Request ACME certificate"
      }
    },
    "com.flyio.machines#CreateAppCustomCertificateRequest": {
      "type": "structure",
      "members": {
        "app_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Fly App Name"
          }
        },
        "fullchain": {
          "target": "smithy.api#String"
        },
        "hostname": {
          "target": "smithy.api#String"
        },
        "private_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.flyio.machines#CreateAppCustomCertificate": {
      "type": "operation",
      "input": {
        "target": "com.flyio.machines#CreateAppCustomCertificateRequest"
      },
      "output": {
        "target": "com.flyio.machines#CertificateDetail"
      },
      "errors": [
        {
          "target": "com.flyio.machines#BadRequest"
        },
        {
          "target": "com.flyio.machines#Forbidden"
        },
        {
          "target": "com.flyio.machines#NotFound"
        },
        {
          "target": "com.flyio.machines#Conflict"
        },
        {
          "target": "com.flyio.machines#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apps/{app_name}/certificates/custom",
          "code": 200
        },
        "smithy.api#documentation": "Upload custom certificate"
      }
    },
    "com.flyio.machines#GetAppCertificateRequest": {
      "type": "structure",
      "members": {
        "app_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Fly App Name"
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Certificate Hostname"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.flyio.machines#GetAppCertificate": {
      "type": "operation",
      "input": {
        "target": "com.flyio.machines#GetAppCertificateRequest"
      },
      "output": {
        "target": "com.flyio.machines#CertificateDetail"
      },
      "errors": [
        {
          "target": "com.flyio.machines#Forbidden"
        },
        {
          "target": "com.flyio.machines#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apps/{app_name}/certificates/{hostname}",
          "code": 200
        },
        "smithy.api#documentation": "Get certificate details"
      }
    },
    "com.flyio.machines#DeleteAppCertificateRequest": {
      "type": "structure",
      "members": {
        "app_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Fly App Name"
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Certificate Hostname"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.flyio.machines#DeleteAppCertificate": {
      "type": "operation",
      "input": {
        "target": "com.flyio.machines#DeleteAppCertificateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.flyio.machines#Forbidden"
        },
        {
          "target": "com.flyio.machines#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/apps/{app_name}/certificates/{hostname}",
          "code": 200
        },
        "smithy.api#documentation": "Remove certificate"
      }
    },
    "com.flyio.machines#DeleteAppAcmeCertificateRequest": {
      "type": "structure",
      "members": {
        "app_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Fly App Name"
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Certificate Hostname"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.flyio.machines#DeleteAppAcmeCertificate": {
      "type": "operation",
      "input": {
        "target": "com.flyio.machines#DeleteAppAcmeCertificateRequest"
      },
      "output": {
        "target": "com.flyio.machines#CertificateDetail"
      },
      "errors": [
        {
          "target": "com.flyio.machines#Forbidden"
        },
        {
          "target": "com.flyio.machines#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/apps/{app_name}/certificates/{hostname}/acme",
          "code": 200
        },
        "smithy.api#documentation": "Remove ACME certificates"
      }
    },
    "com.flyio.machines#CheckAppCertificateRequest": {
      "type": "structure",
      "members": {
        "app_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Fly App Name"
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Certificate Hostname"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.flyio.machines#CertificateCheckResponse": {
      "type": "structure",
      "members": {
        "acme_requested": {
          "target": "smithy.api#Boolean"
        },
        "certificates": {
          "target": "com.flyio.machines#CertificateCheckResponseCertificatesList"
        },
        "configured": {
          "target": "smithy.api#Boolean"
        },
        "dns_provider": {
          "target": "smithy.api#String"
        },
        "dns_records": {
          "target": "com.flyio.machines#DNSRecords"
        },
        "dns_requirements": {
          "target": "com.flyio.machines#DNSRequirements"
        },
        "hostname": {
          "target": "smithy.api#String"
        },
        "rate_limited_until": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#String"
        },
        "validation": {
          "target": "com.flyio.machines#CertificateValidation"
        },
        "validation_errors": {
          "target": "com.flyio.machines#CertificateCheckResponseValidationErrorsList"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#CertificateCheckResponseCertificatesList": {
      "type": "list",
      "member": {
        "target": "com.flyio.machines#CertificateEntry"
      },
      "traits": {}
    },
    "com.flyio.machines#DNSRecords": {
      "type": "structure",
      "members": {
        "a": {
          "target": "com.flyio.machines#DNSRecordsAList"
        },
        "aaaa": {
          "target": "com.flyio.machines#DNSRecordsAaaaList"
        },
        "acme_challenge_cname": {
          "target": "smithy.api#String"
        },
        "cname": {
          "target": "com.flyio.machines#DNSRecordsCnameList"
        },
        "ownership_txt": {
          "target": "smithy.api#String"
        },
        "resolved_addresses": {
          "target": "com.flyio.machines#DNSRecordsResolvedAddressesList"
        },
        "soa": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#DNSRecordsAList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.flyio.machines#DNSRecordsAaaaList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.flyio.machines#DNSRecordsCnameList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.flyio.machines#DNSRecordsResolvedAddressesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.flyio.machines#CertificateCheckResponseValidationErrorsList": {
      "type": "list",
      "member": {
        "target": "com.flyio.machines#CertificateValidationError"
      },
      "traits": {}
    },
    "com.flyio.machines#CheckAppCertificate": {
      "type": "operation",
      "input": {
        "target": "com.flyio.machines#CheckAppCertificateRequest"
      },
      "output": {
        "target": "com.flyio.machines#CertificateCheckResponse"
      },
      "errors": [
        {
          "target": "com.flyio.machines#BadRequest"
        },
        {
          "target": "com.flyio.machines#Forbidden"
        },
        {
          "target": "com.flyio.machines#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apps/{app_name}/certificates/{hostname}/check",
          "code": 200
        },
        "smithy.api#documentation": "Check DNS and re-validate certificate"
      }
    },
    "com.flyio.machines#DeleteAppCustomCertificateRequest": {
      "type": "structure",
      "members": {
        "app_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Fly App Name"
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Certificate Hostname"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.flyio.machines#DestroyCustomCertificateResponse": {
      "type": "structure",
      "members": {
        "acme_requested": {
          "target": "smithy.api#Boolean"
        },
        "certificates": {
          "target": "com.flyio.machines#DestroyCustomCertificateResponseCertificatesList"
        },
        "configured": {
          "target": "smithy.api#Boolean"
        },
        "dns_provider": {
          "target": "smithy.api#String"
        },
        "dns_requirements": {
          "target": "com.flyio.machines#DNSRequirements"
        },
        "hostname": {
          "target": "smithy.api#String"
        },
        "rate_limited_until": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#String"
        },
        "validation": {
          "target": "com.flyio.machines#CertificateValidation"
        },
        "validation_errors": {
          "target": "com.flyio.machines#DestroyCustomCertificateResponseValidationErrorsList"
        },
        "warning": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#DestroyCustomCertificateResponseCertificatesList": {
      "type": "list",
      "member": {
        "target": "com.flyio.machines#CertificateEntry"
      },
      "traits": {}
    },
    "com.flyio.machines#DestroyCustomCertificateResponseValidationErrorsList": {
      "type": "list",
      "member": {
        "target": "com.flyio.machines#CertificateValidationError"
      },
      "traits": {}
    },
    "com.flyio.machines#DeleteAppCustomCertificate": {
      "type": "operation",
      "input": {
        "target": "com.flyio.machines#DeleteAppCustomCertificateRequest"
      },
      "output": {
        "target": "com.flyio.machines#DestroyCustomCertificateResponse"
      },
      "errors": [
        {
          "target": "com.flyio.machines#Forbidden"
        },
        {
          "target": "com.flyio.machines#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/apps/{app_name}/certificates/{hostname}/custom",
          "code": 200
        },
        "smithy.api#documentation": "Remove custom certificate"
      }
    },
    "com.flyio.machines#CreateAppDeployTokenRequest": {
      "type": "structure",
      "members": {
        "app_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Fly App Name"
          }
        },
        "expiry": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.flyio.machines#CreateAppDeployTokenResponse": {
      "type": "structure",
      "members": {
        "token": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#CreateAppDeployToken": {
      "type": "operation",
      "input": {
        "target": "com.flyio.machines#CreateAppDeployTokenRequest"
      },
      "output": {
        "target": "com.flyio.machines#CreateAppDeployTokenResponse"
      },
      "errors": [
        {
          "target": "com.flyio.machines#BadRequest"
        },
        {
          "target": "com.flyio.machines#Forbidden"
        },
        {
          "target": "com.flyio.machines#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apps/{app_name}/deploy_token",
          "code": 200
        },
        "smithy.api#documentation": "Create App deploy token"
      }
    },
    "com.flyio.machines#ListAppIPAssignmentsRequest": {
      "type": "structure",
      "members": {
        "app_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Fly App Name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.flyio.machines#ListIPAssignmentsResponse": {
      "type": "structure",
      "members": {
        "ips": {
          "target": "com.flyio.machines#ListIPAssignmentsResponseIpsList"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#IPAssignment": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String"
        },
        "ip": {
          "target": "smithy.api#String"
        },
        "region": {
          "target": "smithy.api#String"
        },
        "service_name": {
          "target": "smithy.api#String"
        },
        "shared": {
          "target": "smithy.api#Boolean"
        },
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#ListIPAssignmentsResponseIpsList": {
      "type": "list",
      "member": {
        "target": "com.flyio.machines#IPAssignment"
      },
      "traits": {}
    },
    "com.flyio.machines#ListAppIPAssignments": {
      "type": "operation",
      "input": {
        "target": "com.flyio.machines#ListAppIPAssignmentsRequest"
      },
      "output": {
        "target": "com.flyio.machines#ListIPAssignmentsResponse"
      },
      "errors": [
        {
          "target": "com.flyio.machines#Forbidden"
        },
        {
          "target": "com.flyio.machines#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apps/{app_name}/ip_assignments",
          "code": 200
        },
        "smithy.api#documentation": "List IP assignments for app"
      }
    },
    "com.flyio.machines#CreateAppIPAssignmentRequest": {
      "type": "structure",
      "members": {
        "app_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Fly App Name"
          }
        },
        "network": {
          "target": "smithy.api#String"
        },
        "org_slug": {
          "target": "smithy.api#String"
        },
        "region": {
          "target": "smithy.api#String"
        },
        "service_name": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.flyio.machines#CreateAppIPAssignment": {
      "type": "operation",
      "input": {
        "target": "com.flyio.machines#CreateAppIPAssignmentRequest"
      },
      "output": {
        "target": "com.flyio.machines#IPAssignment"
      },
      "errors": [
        {
          "target": "com.flyio.machines#BadRequest"
        },
        {
          "target": "com.flyio.machines#Forbidden"
        },
        {
          "target": "com.flyio.machines#NotFound"
        },
        {
          "target": "com.flyio.machines#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apps/{app_name}/ip_assignments",
          "code": 200
        },
        "smithy.api#documentation": "Assign new IP address to app"
      }
    },
    "com.flyio.machines#DeleteAppIPAssignmentRequest": {
      "type": "structure",
      "members": {
        "app_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Fly App Name"
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "IP address"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.flyio.machines#DeleteAppIPAssignment": {
      "type": "operation",
      "input": {
        "target": "com.flyio.machines#DeleteAppIPAssignmentRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.flyio.machines#Forbidden"
        },
        {
          "target": "com.flyio.machines#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/apps/{app_name}/ip_assignments/{ip}",
          "code": 200
        },
        "smithy.api#documentation": "Remove IP assignment from app"
      }
    },
    "com.flyio.machines#ListMachinesRequest": {
      "type": "structure",
      "members": {
        "app_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Fly App Name"
          }
        },
        "include_deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "include_deleted",
            "smithy.api#documentation": "Include deleted machines"
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "region",
            "smithy.api#documentation": "Region filter"
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "state",
            "smithy.api#documentation": "comma separated list of states to filter (created, started, stopped, suspended)"
          }
        },
        "summary": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "summary",
            "smithy.api#documentation": "Only return summary info about machines (omit config, checks, events, host_status, nonce, etc.)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.flyio.machines#Machine": {
      "type": "structure",
      "members": {
        "checks": {
          "target": "com.flyio.machines#MachineChecksList"
        },
        "config": {
          "target": "com.flyio.machines#FlyMachineConfig"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "events": {
          "target": "com.flyio.machines#MachineEventsList"
        },
        "host_status": {
          "target": "com.flyio.machines#MachineHostStatus"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "image_ref": {
          "target": "com.flyio.machines#ImageRef"
        },
        "incomplete_config": {
          "target": "com.flyio.machines#FlyMachineConfig"
        },
        "instance_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "InstanceID is unique for each version of the machine"
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "nonce": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Nonce is only every returned on machine creation if a lease_duration was provided."
          }
        },
        "private_ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PrivateIP is the internal 6PN address of the machine."
          }
        },
        "region": {
          "target": "smithy.api#String"
        },
        "state": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#CheckStatus": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "output": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#MachineChecksList": {
      "type": "list",
      "member": {
        "target": "com.flyio.machines#CheckStatus"
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachineConfig": {
      "type": "structure",
      "members": {
        "auto_destroy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional boolean telling the Machine to destroy itself once it’s complete (default false)"
          }
        },
        "cache_drive": {
          "target": "com.flyio.machines#FlyMachineCacheDrive"
        },
        "checks": {
          "target": "com.flyio.machines#FlyMachineConfigChecksMap",
          "traits": {
            "smithy.api#documentation": "An optional object that defines one or more named top-level checks. The key for each check is the check name."
          }
        },
        "containers": {
          "target": "com.flyio.machines#FlyMachineConfigContainersList",
          "traits": {
            "smithy.api#documentation": "Containers are a list of containers that will run in the machine. Currently restricted to\nonly specific organizations."
          }
        },
        "disable_machine_autostart": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated: use Service.Autostart instead"
          }
        },
        "dns": {
          "target": "com.flyio.machines#FlyDNSConfig"
        },
        "env": {
          "target": "com.flyio.machines#FlyMachineConfigEnvMap",
          "traits": {
            "smithy.api#documentation": "An object filled with key/value pairs to be set as environment variables"
          }
        },
        "files": {
          "target": "com.flyio.machines#FlyMachineConfigFilesList"
        },
        "guest": {
          "target": "com.flyio.machines#FlyMachineGuest"
        },
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The docker image to run"
          }
        },
        "init": {
          "target": "com.flyio.machines#FlyMachineInit"
        },
        "metadata": {
          "target": "com.flyio.machines#FlyMachineConfigMetadataMap"
        },
        "metrics": {
          "target": "com.flyio.machines#FlyMachineMetrics"
        },
        "mounts": {
          "target": "com.flyio.machines#FlyMachineConfigMountsList"
        },
        "processes": {
          "target": "com.flyio.machines#FlyMachineConfigProcessesList"
        },
        "restart": {
          "target": "com.flyio.machines#FlyMachineRestart"
        },
        "rootfs": {
          "target": "com.flyio.machines#FlyMachineRootfs"
        },
        "schedule": {
          "target": "smithy.api#String"
        },
        "services": {
          "target": "com.flyio.machines#FlyMachineConfigServicesList"
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: use Guest instead"
          }
        },
        "spot": {
          "target": "com.flyio.machines#FlyMachineSpot"
        },
        "standbys": {
          "target": "com.flyio.machines#FlyMachineConfigStandbysList",
          "traits": {
            "smithy.api#documentation": "Standbys enable a machine to be a standby for another. In the event of a hardware failure,\nthe standby machine will be started."
          }
        },
        "statics": {
          "target": "com.flyio.machines#FlyMachineConfigStaticsList"
        },
        "stop_config": {
          "target": "com.flyio.machines#FlyStopConfig"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachineCacheDrive": {
      "type": "structure",
      "members": {
        "size_mb": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachineCheck": {
      "type": "structure",
      "members": {
        "grace_period": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time to wait after a VM starts before checking its health"
          }
        },
        "headers": {
          "target": "com.flyio.machines#FlyMachineCheckHeadersList"
        },
        "interval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time between connectivity checks"
          }
        },
        "kind": {
          "target": "com.flyio.machines#FlyMachineCheckKind",
          "traits": {
            "smithy.api#documentation": "Kind of the check (informational, readiness)"
          }
        },
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For http checks, the HTTP method to use to when making the request"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For http checks, the path to send the request to"
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The port to connect to, often the same as internal_port"
          }
        },
        "protocol": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For http checks, whether to use http or https"
          }
        },
        "timeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The maximum time a connection can take before being reported as failing its health check"
          }
        },
        "tls_server_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the protocol is https, the hostname to use for TLS certificate validation"
          }
        },
        "tls_skip_verify": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "For http checks with https protocol, whether or not to verify the TLS certificate"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "tcp or http"
          }
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachineHTTPHeader": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The header name"
          }
        },
        "values": {
          "target": "com.flyio.machines#FlyMachineHTTPHeaderValuesList",
          "traits": {
            "smithy.api#documentation": "The header value"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "For http checks, an array of objects with string field Name and array of strings field Values. The key/value pairs specify header and header values that will get passed with the check call."
      }
    },
    "com.flyio.machines#FlyMachineHTTPHeaderValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The header value"
      }
    },
    "com.flyio.machines#FlyMachineCheckHeadersList": {
      "type": "list",
      "member": {
        "target": "com.flyio.machines#FlyMachineHTTPHeader"
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachineCheckKind": {
      "type": "enum",
      "members": {
        "INFORMATIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "informational"
          }
        },
        "READINESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "readiness"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Kind of the check (informational, readiness)"
      }
    },
    "com.flyio.machines#FlyMachineConfigChecksMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.flyio.machines#FlyMachineCheck"
      },
      "traits": {
        "smithy.api#documentation": "An optional object that defines one or more named top-level checks. The key for each check is the check name."
      }
    },
    "com.flyio.machines#FlyContainerConfig": {
      "type": "structure",
      "members": {
        "cmd": {
          "target": "com.flyio.machines#FlyContainerConfigCmdList",
          "traits": {
            "smithy.api#documentation": "CmdOverride is used to override the default command of the image."
          }
        },
        "depends_on": {
          "target": "com.flyio.machines#FlyContainerConfigDependsOnList",
          "traits": {
            "smithy.api#documentation": "DependsOn can be used to define dependencies between containers. The container will only be\nstarted after all of its dependent conditions have been satisfied."
          }
        },
        "entrypoint": {
          "target": "com.flyio.machines#FlyContainerConfigEntrypointList",
          "traits": {
            "smithy.api#documentation": "EntrypointOverride is used to override the default entrypoint of the image."
          }
        },
        "env": {
          "target": "com.flyio.machines#FlyContainerConfigEnvMap",
          "traits": {
            "smithy.api#documentation": "ExtraEnv is used to add additional environment variables to the container."
          }
        },
        "env_from": {
          "target": "com.flyio.machines#FlyContainerConfigEnvFromList",
          "traits": {
            "smithy.api#documentation": "EnvFrom can be provided to set environment variables from machine fields."
          }
        },
        "exec": {
          "target": "com.flyio.machines#FlyContainerConfigExecList",
          "traits": {
            "smithy.api#documentation": "Image Config overrides - these fields are used to override the image configuration.\nIf not provided, the image configuration will be used.\nExecOverride is used to override the default command of the image."
          }
        },
        "files": {
          "target": "com.flyio.machines#FlyContainerConfigFilesList",
          "traits": {
            "smithy.api#documentation": "Files are files that will be written to the container file system."
          }
        },
        "healthchecks": {
          "target": "com.flyio.machines#FlyContainerConfigHealthchecksList",
          "traits": {
            "smithy.api#documentation": "Healthchecks determine the health of your containers. Healthchecks can use HTTP, TCP or an Exec command."
          }
        },
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image is the docker image to run."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name is used to identify the container in the machine."
          }
        },
        "restart": {
          "target": "com.flyio.machines#FlyMachineRestart",
          "traits": {
            "smithy.api#documentation": "Restart is used to define the restart policy for the container. NOTE: spot-price is not\nsupported for containers."
          }
        },
        "secrets": {
          "target": "com.flyio.machines#FlyContainerConfigSecretsList",
          "traits": {
            "smithy.api#documentation": "Secrets can be provided at the process level to explicitly indicate which secrets should be\nused for the process. If not provided, the secrets provided at the machine level will be used."
          }
        },
        "stop": {
          "target": "com.flyio.machines#FlyStopConfig",
          "traits": {
            "smithy.api#documentation": "Stop is used to define the signal and timeout for stopping the container."
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UserOverride is used to override the default user of the image."
          }
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyContainerConfigCmdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "CmdOverride is used to override the default command of the image."
      }
    },
    "com.flyio.machines#FlyContainerDependency": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "com.flyio.machines#FlyContainerDependencyCondition"
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyContainerDependencyCondition": {
      "type": "enum",
      "members": {
        "EXITED_SUCCESSFULLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exited_successfully"
          }
        },
        "HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "healthy"
          }
        },
        "STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "started"
          }
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyContainerConfigDependsOnList": {
      "type": "list",
      "member": {
        "target": "com.flyio.machines#FlyContainerDependency"
      },
      "traits": {
        "smithy.api#documentation": "DependsOn can be used to define dependencies between containers. The container will only be\nstarted after all of its dependent conditions have been satisfied."
      }
    },
    "com.flyio.machines#FlyContainerConfigEntrypointList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "EntrypointOverride is used to override the default entrypoint of the image."
      }
    },
    "com.flyio.machines#FlyContainerConfigEnvMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "ExtraEnv is used to add additional environment variables to the container."
      }
    },
    "com.flyio.machines#FlyEnvFrom": {
      "type": "structure",
      "members": {
        "env_var": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "EnvVar is required and is the name of the environment variable that will be set from the\nsecret. It must be a valid environment variable name."
          }
        },
        "field_ref": {
          "target": "com.flyio.machines#FlyEnvFromFieldRef",
          "traits": {
            "smithy.api#documentation": "FieldRef selects a field of the Machine: supports id, version, app_name, private_ip, region, image."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "EnvVar defines an environment variable to be populated from a machine field, env_var"
      }
    },
    "com.flyio.machines#FlyEnvFromFieldRef": {
      "type": "enum",
      "members": {
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        },
        "VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "version"
          }
        },
        "APP_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app_name"
          }
        },
        "PRIVATE_IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private_ip"
          }
        },
        "REGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "region"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "FieldRef selects a field of the Machine: supports id, version, app_name, private_ip, region, image."
      }
    },
    "com.flyio.machines#FlyContainerConfigEnvFromList": {
      "type": "list",
      "member": {
        "target": "com.flyio.machines#FlyEnvFrom"
      },
      "traits": {
        "smithy.api#documentation": "EnvFrom can be provided to set environment variables from machine fields."
      }
    },
    "com.flyio.machines#FlyContainerConfigExecList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Image Config overrides - these fields are used to override the image configuration.\nIf not provided, the image configuration will be used.\nExecOverride is used to override the default command of the image."
      }
    },
    "com.flyio.machines#FlyFile": {
      "type": "structure",
      "members": {
        "guest_path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GuestPath is the path on the machine where the file will be written and must be an absolute path.\nFor example: /full/path/to/file.json"
          }
        },
        "image_config": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of an image to use the OCI image config as the file contents."
          }
        },
        "mode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Mode bits used to set permissions on this file as accepted by chmod(2)."
          }
        },
        "raw_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The base64 encoded string of the file contents."
          }
        },
        "secret_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the secret that contains the base64 encoded file contents."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A file that will be written to the Machine. One of RawValue or SecretName must be set."
      }
    },
    "com.flyio.machines#FlyContainerConfigFilesList": {
      "type": "list",
      "member": {
        "target": "com.flyio.machines#FlyFile"
      },
      "traits": {
        "smithy.api#documentation": "Files are files that will be written to the container file system."
      }
    },
    "com.flyio.machines#FlyContainerHealthcheck": {
      "type": "structure",
      "members": {
        "exec": {
          "target": "com.flyio.machines#FlyExecHealthcheck"
        },
        "failure_threshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of times the check must fail before considering the container unhealthy."
          }
        },
        "grace_period": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The time in seconds to wait after a container starts before checking its health."
          }
        },
        "http": {
          "target": "com.flyio.machines#FlyHTTPHealthcheck"
        },
        "interval": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The time in seconds between executing the defined check."
          }
        },
        "kind": {
          "target": "com.flyio.machines#FlyContainerHealthcheckKind",
          "traits": {
            "smithy.api#documentation": "Kind of healthcheck (readiness, liveness)"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the check. Must be unique within the container."
          }
        },
        "success_threshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of times the check must succeeed before considering the container healthy."
          }
        },
        "tcp": {
          "target": "com.flyio.machines#FlyTCPHealthcheck"
        },
        "timeout": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The time in seconds to wait for the check to complete."
          }
        },
        "unhealthy": {
          "target": "com.flyio.machines#FlyUnhealthyPolicy",
          "traits": {
            "smithy.api#documentation": "Unhealthy policy that determines what action to take if a container is deemed unhealthy"
          }
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyExecHealthcheck": {
      "type": "structure",
      "members": {
        "command": {
          "target": "com.flyio.machines#FlyExecHealthcheckCommandList",
          "traits": {
            "smithy.api#documentation": "The command to run to check the health of the container (e.g. [\"cat\", \"/tmp/healthy\"])"
          }
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyExecHealthcheckCommandList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The command to run to check the health of the container (e.g. [\"cat\", \"/tmp/healthy\"])"
      }
    },
    "com.flyio.machines#FlyHTTPHealthcheck": {
      "type": "structure",
      "members": {
        "headers": {
          "target": "com.flyio.machines#FlyHTTPHealthcheckHeadersList",
          "traits": {
            "smithy.api#documentation": "Additional headers to send with the request"
          }
        },
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP method to use to when making the request"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path to send the request to"
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The port to connect to, often the same as internal_port"
          }
        },
        "scheme": {
          "target": "com.flyio.machines#FlyContainerHealthcheckScheme",
          "traits": {
            "smithy.api#documentation": "Whether to use http or https"
          }
        },
        "tls_server_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the protocol is https, the hostname to use for TLS certificate validation"
          }
        },
        "tls_skip_verify": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the protocol is https, whether or not to verify the TLS certificate"
          }
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyHTTPHealthcheckHeadersList": {
      "type": "list",
      "member": {
        "target": "com.flyio.machines#FlyMachineHTTPHeader"
      },
      "traits": {
        "smithy.api#documentation": "Additional headers to send with the request"
      }
    },
    "com.flyio.machines#FlyContainerHealthcheckScheme": {
      "type": "enum",
      "members": {
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        },
        "HTTPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https"
          }
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyContainerHealthcheckKind": {
      "type": "enum",
      "members": {
        "READINESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "readiness"
          }
        },
        "LIVENESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "liveness"
          }
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyTCPHealthcheck": {
      "type": "structure",
      "members": {
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The port to connect to, often the same as internal_port"
          }
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyUnhealthyPolicy": {
      "type": "enum",
      "members": {
        "STOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stop"
          }
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyContainerConfigHealthchecksList": {
      "type": "list",
      "member": {
        "target": "com.flyio.machines#FlyContainerHealthcheck"
      },
      "traits": {
        "smithy.api#documentation": "Healthchecks determine the health of your containers. Healthchecks can use HTTP, TCP or an Exec command."
      }
    },
    "com.flyio.machines#FlyMachineRestart": {
      "type": "structure",
      "members": {
        "gpu_bid_price": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "GPU bid price for spot Machines."
          }
        },
        "max_retries": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "When policy is on-failure, the maximum number of times to attempt to restart the Machine before letting it stop."
          }
        },
        "policy": {
          "target": "com.flyio.machines#FlyMachineRestartPolicy",
          "traits": {
            "smithy.api#documentation": "* no - Never try to restart a Machine automatically when its main process exits, whether that’s on purpose or on a crash.\n* always - Always restart a Machine automatically and never let it enter a stopped state, even when the main process exits cleanly.\n* on-failure - Try up to MaxRetries times to automatically restart the Machine if it exits with a non-zero exit code. Default when no explicit policy is set, and for Machines with schedules.\n* spot-price - Starts the Machine only when there is capacity and the spot price is less than or equal to the bid price."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Machine restart policy defines whether and how flyd restarts a Machine after its main process exits. See https://fly.io/docs/machines/guides-examples/machine-restart-policy/."
      }
    },
    "com.flyio.machines#FlyMachineRestartPolicy": {
      "type": "enum",
      "members": {
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no"
          }
        },
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "always"
          }
        },
        "ON_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on-failure"
          }
        },
        "SPOT_PRICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "spot-price"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* no - Never try to restart a Machine automatically when its main process exits, whether that’s on purpose or on a crash.\n* always - Always restart a Machine automatically and never let it enter a stopped state, even when the main process exits cleanly.\n* on-failure - Try up to MaxRetries times to automatically restart the Machine if it exits with a non-zero exit code. Default when no explicit policy is set, and for Machines with schedules.\n* spot-price - Starts the Machine only when there is capacity and the spot price is less than or equal to the bid price."
      }
    },
    "com.flyio.machines#FlyMachineSecret": {
      "type": "structure",
      "members": {
        "env_var": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "EnvVar is required and is the name of the environment variable that will be set from the\nsecret. It must be a valid environment variable name."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name is optional and when provided is used to reference a secret name where the EnvVar is\ndifferent from what was set as the secret name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Secret needing to be set in the environment of the Machine. env_var is required"
      }
    },
    "com.flyio.machines#FlyContainerConfigSecretsList": {
      "type": "list",
      "member": {
        "target": "com.flyio.machines#FlyMachineSecret"
      },
      "traits": {
        "smithy.api#documentation": "Secrets can be provided at the process level to explicitly indicate which secrets should be\nused for the process. If not provided, the secrets provided at the machine level will be used."
      }
    },
    "com.flyio.machines#FlyStopConfig": {
      "type": "structure",
      "members": {
        "signal": {
          "target": "com.flyio.machines#FlyStopConfigSignal"
        },
        "timeout": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyStopConfigSignal": {
      "type": "enum",
      "members": {
        "SIGHUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGHUP"
          }
        },
        "SIGINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGINT"
          }
        },
        "SIGQUIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGQUIT"
          }
        },
        "SIGKILL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGKILL"
          }
        },
        "SIGUSR1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGUSR1"
          }
        },
        "SIGUSR2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGUSR2"
          }
        },
        "SIGTERM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGTERM"
          }
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachineConfigContainersList": {
      "type": "list",
      "member": {
        "target": "com.flyio.machines#FlyContainerConfig"
      },
      "traits": {
        "smithy.api#documentation": "Containers are a list of containers that will run in the machine. Currently restricted to\nonly specific organizations."
      }
    },
    "com.flyio.machines#FlyDNSConfig": {
      "type": "structure",
      "members": {
        "dns_forward_rules": {
          "target": "com.flyio.machines#FlyDNSConfigDnsForwardRulesList"
        },
        "hostname": {
          "target": "smithy.api#String"
        },
        "hostname_fqdn": {
          "target": "smithy.api#String"
        },
        "nameservers": {
          "target": "com.flyio.machines#FlyDNSConfigNameserversList"
        },
        "options": {
          "target": "com.flyio.machines#FlyDNSConfigOptionsList"
        },
        "searches": {
          "target": "com.flyio.machines#FlyDNSConfigSearchesList"
        },
        "skip_registration": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyDnsForwardRule": {
      "type": "structure",
      "members": {
        "addr": {
          "target": "smithy.api#String"
        },
        "basename": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyDNSConfigDnsForwardRulesList": {
      "type": "list",
      "member": {
        "target": "com.flyio.machines#FlyDnsForwardRule"
      },
      "traits": {}
    },
    "com.flyio.machines#FlyDNSConfigNameserversList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.flyio.machines#FlyDnsOption": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyDNSConfigOptionsList": {
      "type": "list",
      "member": {
        "target": "com.flyio.machines#FlyDnsOption"
      },
      "traits": {}
    },
    "com.flyio.machines#FlyDNSConfigSearchesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachineConfigEnvMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "An object filled with key/value pairs to be set as environment variables"
      }
    },
    "com.flyio.machines#FlyMachineConfigFilesList": {
      "type": "list",
      "member": {
        "target": "com.flyio.machines#FlyFile"
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachineGuest": {
      "type": "structure",
      "members": {
        "cpu_kind": {
          "target": "smithy.api#String"
        },
        "cpus": {
          "target": "smithy.api#Integer"
        },
        "gpu_kind": {
          "target": "smithy.api#String"
        },
        "gpus": {
          "target": "smithy.api#Integer"
        },
        "host_dedication_id": {
          "target": "smithy.api#String"
        },
        "kernel_args": {
          "target": "com.flyio.machines#FlyMachineGuestKernelArgsList"
        },
        "max_memory_mb": {
          "target": "smithy.api#Integer"
        },
        "memory_mb": {
          "target": "smithy.api#Integer"
        },
        "persist_rootfs": {
          "target": "com.flyio.machines#FlyMachineGuestPersistRootfs",
          "traits": {
            "smithy.api#documentation": "Deprecated: use MachineConfig.Rootfs instead"
          }
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachineGuestKernelArgsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachineGuestPersistRootfs": {
      "type": "enum",
      "members": {
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "never"
          }
        },
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "always"
          }
        },
        "RESTART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "restart"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated: use MachineConfig.Rootfs instead"
      }
    },
    "com.flyio.machines#FlyMachineInit": {
      "type": "structure",
      "members": {
        "cmd": {
          "target": "com.flyio.machines#FlyMachineInitCmdList"
        },
        "entrypoint": {
          "target": "com.flyio.machines#FlyMachineInitEntrypointList"
        },
        "exec": {
          "target": "com.flyio.machines#FlyMachineInitExecList"
        },
        "kernel_args": {
          "target": "com.flyio.machines#FlyMachineInitKernelArgsList"
        },
        "swap_size_mb": {
          "target": "smithy.api#Integer"
        },
        "tty": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachineInitCmdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachineInitEntrypointList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachineInitExecList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachineInitKernelArgsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachineConfigMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachineMetrics": {
      "type": "structure",
      "members": {
        "https": {
          "target": "smithy.api#Boolean"
        },
        "path": {
          "target": "smithy.api#String"
        },
        "port": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachineMount": {
      "type": "structure",
      "members": {
        "add_size_gb": {
          "target": "smithy.api#Integer"
        },
        "encrypted": {
          "target": "smithy.api#Boolean"
        },
        "extend_threshold_percent": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "path": {
          "target": "smithy.api#String"
        },
        "size_gb": {
          "target": "smithy.api#Integer"
        },
        "size_gb_limit": {
          "target": "smithy.api#Integer"
        },
        "volume": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachineConfigMountsList": {
      "type": "list",
      "member": {
        "target": "com.flyio.machines#FlyMachineMount"
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachineProcess": {
      "type": "structure",
      "members": {
        "cmd": {
          "target": "com.flyio.machines#FlyMachineProcessCmdList"
        },
        "entrypoint": {
          "target": "com.flyio.machines#FlyMachineProcessEntrypointList"
        },
        "env": {
          "target": "com.flyio.machines#FlyMachineProcessEnvMap"
        },
        "env_from": {
          "target": "com.flyio.machines#FlyMachineProcessEnvFromList",
          "traits": {
            "smithy.api#documentation": "EnvFrom can be provided to set environment variables from machine fields."
          }
        },
        "exec": {
          "target": "com.flyio.machines#FlyMachineProcessExecList"
        },
        "ignore_app_secrets": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "IgnoreAppSecrets can be set to true to ignore the secrets for the App the Machine belongs to\nand only use the secrets provided at the process level. The default/legacy behavior is to use\nthe secrets provided at the App level."
          }
        },
        "secrets": {
          "target": "com.flyio.machines#FlyMachineProcessSecretsList",
          "traits": {
            "smithy.api#documentation": "Secrets can be provided at the process level to explicitly indicate which secrets should be\nused for the process. If not provided, the secrets provided at the machine level will be used."
          }
        },
        "user": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachineProcessCmdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachineProcessEntrypointList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachineProcessEnvMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachineProcessEnvFromList": {
      "type": "list",
      "member": {
        "target": "com.flyio.machines#FlyEnvFrom"
      },
      "traits": {
        "smithy.api#documentation": "EnvFrom can be provided to set environment variables from machine fields."
      }
    },
    "com.flyio.machines#FlyMachineProcessExecList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachineProcessSecretsList": {
      "type": "list",
      "member": {
        "target": "com.flyio.machines#FlyMachineSecret"
      },
      "traits": {
        "smithy.api#documentation": "Secrets can be provided at the process level to explicitly indicate which secrets should be\nused for the process. If not provided, the secrets provided at the machine level will be used."
      }
    },
    "com.flyio.machines#FlyMachineConfigProcessesList": {
      "type": "list",
      "member": {
        "target": "com.flyio.machines#FlyMachineProcess"
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachineRootfs": {
      "type": "structure",
      "members": {
        "persist": {
          "target": "com.flyio.machines#FlyMachineRootfsPersist"
        },
        "size_gb": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachineRootfsPersist": {
      "type": "enum",
      "members": {
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "never"
          }
        },
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "always"
          }
        },
        "RESTART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "restart"
          }
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachineService": {
      "type": "structure",
      "members": {
        "autostart": {
          "target": "smithy.api#Boolean"
        },
        "autostop": {
          "target": "com.flyio.machines#FlyMachineServiceAutostop",
          "traits": {
            "smithy.api#documentation": "Accepts a string (new format) or a boolean (old format). For backward compatibility with older clients, the API continues to use booleans for \"off\" and \"stop\" in responses.\n* \"off\" or false - Do not autostop the Machine.\n* \"stop\" or true - Automatically stop the Machine.\n* \"suspend\" - Automatically suspend the Machine, falling back to a full stop if this is not possible."
          }
        },
        "checks": {
          "target": "com.flyio.machines#FlyMachineServiceChecksList",
          "traits": {
            "smithy.api#documentation": "An optional list of service checks"
          }
        },
        "concurrency": {
          "target": "com.flyio.machines#FlyMachineServiceConcurrency"
        },
        "force_instance_description": {
          "target": "smithy.api#String"
        },
        "force_instance_key": {
          "target": "smithy.api#String"
        },
        "internal_port": {
          "target": "smithy.api#Integer"
        },
        "min_machines_running": {
          "target": "smithy.api#Integer"
        },
        "ports": {
          "target": "com.flyio.machines#FlyMachineServicePortsList"
        },
        "protocol": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachineServiceAutostop": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "STOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stop"
          }
        },
        "SUSPEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspend"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Accepts a string (new format) or a boolean (old format). For backward compatibility with older clients, the API continues to use booleans for \"off\" and \"stop\" in responses.\n* \"off\" or false - Do not autostop the Machine.\n* \"stop\" or true - Automatically stop the Machine.\n* \"suspend\" - Automatically suspend the Machine, falling back to a full stop if this is not possible."
      }
    },
    "com.flyio.machines#FlyMachineServiceCheck": {
      "type": "structure",
      "members": {
        "grace_period": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time to wait after a VM starts before checking its health"
          }
        },
        "headers": {
          "target": "com.flyio.machines#FlyMachineServiceCheckHeadersList"
        },
        "interval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time between connectivity checks"
          }
        },
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For http checks, the HTTP method to use to when making the request"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For http checks, the path to send the request to"
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The port to connect to, often the same as internal_port"
          }
        },
        "protocol": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For http checks, whether to use http or https"
          }
        },
        "timeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The maximum time a connection can take before being reported as failing its health check"
          }
        },
        "tls_server_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the protocol is https, the hostname to use for TLS certificate validation"
          }
        },
        "tls_skip_verify": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "For http checks with https protocol, whether or not to verify the TLS certificate"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "tcp or http"
          }
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachineServiceCheckHeadersList": {
      "type": "list",
      "member": {
        "target": "com.flyio.machines#FlyMachineHTTPHeader"
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachineServiceChecksList": {
      "type": "list",
      "member": {
        "target": "com.flyio.machines#FlyMachineServiceCheck"
      },
      "traits": {
        "smithy.api#documentation": "An optional list of service checks"
      }
    },
    "com.flyio.machines#FlyMachineServiceConcurrency": {
      "type": "structure",
      "members": {
        "hard_limit": {
          "target": "smithy.api#Integer"
        },
        "soft_limit": {
          "target": "smithy.api#Integer"
        },
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachinePort": {
      "type": "structure",
      "members": {
        "end_port": {
          "target": "smithy.api#Integer"
        },
        "force_https": {
          "target": "smithy.api#Boolean"
        },
        "handlers": {
          "target": "com.flyio.machines#FlyMachinePortHandlersList"
        },
        "http_options": {
          "target": "com.flyio.machines#FlyHTTPOptions"
        },
        "port": {
          "target": "smithy.api#Integer"
        },
        "proxy_proto_options": {
          "target": "com.flyio.machines#FlyProxyProtoOptions"
        },
        "start_port": {
          "target": "smithy.api#Integer"
        },
        "tls_options": {
          "target": "com.flyio.machines#FlyTLSOptions"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachinePortHandlersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.flyio.machines#FlyHTTPOptions": {
      "type": "structure",
      "members": {
        "compress": {
          "target": "smithy.api#Boolean"
        },
        "h2_backend": {
          "target": "smithy.api#Boolean"
        },
        "headers_read_timeout": {
          "target": "smithy.api#Integer"
        },
        "idle_timeout": {
          "target": "smithy.api#Integer"
        },
        "replay_cache": {
          "target": "com.flyio.machines#FlyHTTPOptionsReplayCacheList"
        },
        "response": {
          "target": "com.flyio.machines#FlyHTTPResponseOptions"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyReplayCache": {
      "type": "structure",
      "members": {
        "allow_bypass": {
          "target": "smithy.api#Boolean"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the cookie or header to key the cache on"
          }
        },
        "path_prefix": {
          "target": "smithy.api#String"
        },
        "ttl_seconds": {
          "target": "smithy.api#Integer"
        },
        "type": {
          "target": "com.flyio.machines#FlyReplayCacheType",
          "traits": {
            "smithy.api#documentation": "Currently either \"cookie\" or \"header\""
          }
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyReplayCacheType": {
      "type": "enum",
      "members": {
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cookie"
          }
        },
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "header"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Currently either \"cookie\" or \"header\""
      }
    },
    "com.flyio.machines#FlyHTTPOptionsReplayCacheList": {
      "type": "list",
      "member": {
        "target": "com.flyio.machines#FlyReplayCache"
      },
      "traits": {}
    },
    "com.flyio.machines#FlyHTTPResponseOptions": {
      "type": "structure",
      "members": {
        "headers": {
          "target": "com.flyio.machines#FlyHTTPResponseOptionsHeadersMap"
        },
        "pristine": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyHTTPResponseOptionsHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.flyio.machines#FlyProxyProtoOptions": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyTLSOptions": {
      "type": "structure",
      "members": {
        "alpn": {
          "target": "com.flyio.machines#FlyTLSOptionsAlpnList"
        },
        "default_self_signed": {
          "target": "smithy.api#Boolean"
        },
        "versions": {
          "target": "com.flyio.machines#FlyTLSOptionsVersionsList"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyTLSOptionsAlpnList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.flyio.machines#FlyTLSOptionsVersionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachineServicePortsList": {
      "type": "list",
      "member": {
        "target": "com.flyio.machines#FlyMachinePort"
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachineConfigServicesList": {
      "type": "list",
      "member": {
        "target": "com.flyio.machines#FlyMachineService"
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachineSpot": {
      "type": "structure",
      "members": {
        "max_price_fraction": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "MaxPriceFraction is the maximum fraction of the full Machine price you will pay for this Machine. Range: (0, 1.0]"
          }
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachineConfigStandbysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Standbys enable a machine to be a standby for another. In the event of a hardware failure,\nthe standby machine will be started."
      }
    },
    "com.flyio.machines#FlyStatic": {
      "type": "structure",
      "members": {
        "guest_path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "index_document": {
          "target": "smithy.api#String"
        },
        "tigris_bucket": {
          "target": "smithy.api#String"
        },
        "url_prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.flyio.machines#FlyMachineConfigStaticsList": {
      "type": "list",
      "member": {
        "target": "com.flyio.machines#FlyStatic"
      },
      "traits": {}
    },
    "com.flyio.machines#MachineEvent": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "request": {
          "target": "smithy.api#Document"
        },
        "source": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#String"
        },
        "timestamp": {
          "target": "smithy.api#Integer"
        },
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#MachineEventsList": {
      "type": "list",
      "member": {
        "target": "com.flyio.machines#MachineEvent"
      },
      "traits": {}
    },
    "com.flyio.machines#MachineHostStatus": {
      "type": "enum",
      "members": {
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        },
        "UNREACHABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unreachable"
          }
        }
      },
      "traits": {}
    },
    "com.flyio.machines#ImageRef": {
      "type": "structure",
      "members": {
        "digest": {
          "target": "smithy.api#String"
        },
        "labels": {
          "target": "com.flyio.machines#ImageRefLabelsMap"
        },
        "registry": {
          "target": "smithy.api#String"
        },
        "repository": {
          "target": "smithy.api#String"
        },
        "tag": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.flyio.machines#ImageRefLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.flyio.machines#ListMachinesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.flyio.machines#Machine"
      },
      "traits": {}
    },
    "com.flyio.machines#ListMachinesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.flyio.machines#ListMachinesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.flyio.machines#ListMachines": {
      "type": "operation",
      "input": {
        "target": "com.flyio.machines#ListMachinesRequest"
      },
      "output": {
        "target": "com.flyio.machines#ListMachinesResponse"
      },
      "errors": [
        {
          "target": "com.flyio.machines#Forbidden"
        },
        {
          "target": "com.flyio.machines#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apps/{app_name}/machines",
          "code": 200
        },
        "smithy.api#documentation": "List Machines\n\nList all Machines associated with a specific app, with optional filters for including deleted Machines and filtering by region."
      }
    },
    "com.flyio.machines#CreateMachineRequest": {
      "type": "structure",
      "members": {
        "app_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Fly App Name"
          }
        },
        "config": {
          "target": "com.flyio.machines#FlyMachineConfig",
          "traits": {
            "smithy.api#documentation": "An object defining the Machine configuration"
          }
        },
        "lease_ttl": {
          "target": "smithy.api#Integer"
        },
        "min_secrets_version": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
[...]
