{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.launchdarkly.api#RootResponse": {
      "type": "structure",
      "members": {
        "links": {
          "target": "com.launchdarkly.api#RootResponseLinksMap",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#Link": {
      "type": "structure",
      "members": {
        "href": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#RootResponseLinksMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.launchdarkly.api#Link"
      },
      "traits": {}
    },
    "com.launchdarkly.api#GetRoot": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.launchdarkly.api#RootResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v2",
          "code": 200
        },
        "smithy.api#documentation": "Root resource\n\nGet all of the resource categories the API supports. In the sandbox, click 'Play' and enter any string in the 'Authorization' field to test this endpoint."
      }
    },
    "com.launchdarkly.api#RelayAutoConfigCollectionRep": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.launchdarkly.api#RelayAutoConfigCollectionRepItemsList",
          "traits": {
            "smithy.api#documentation": "An array of Relay Proxy configurations",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#RelayAutoConfigRep": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the Relay Proxy configuration",
            "smithy.api#required": {}
          }
        },
        "_creator": {
          "target": "com.launchdarkly.api#MemberSummary",
          "traits": {
            "smithy.api#documentation": "Details on the member who created this Relay Proxy configuration"
          }
        },
        "_access": {
          "target": "com.launchdarkly.api#Access",
          "traits": {
            "smithy.api#documentation": "Details on the allowed and denied actions for this Relay Proxy configuration"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-friendly name for the Relay Proxy configuration",
            "smithy.api#required": {}
          }
        },
        "policy": {
          "target": "com.launchdarkly.api#RelayAutoConfigRepPolicyList",
          "traits": {
            "smithy.api#documentation": "A description of what environments and projects the Relay Proxy should include or exclude",
            "smithy.api#required": {}
          }
        },
        "fullKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Relay Proxy configuration key"
          }
        },
        "displayKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last few characters of the Relay Proxy configuration key, displayed in the LaunchDarkly UI",
            "smithy.api#required": {}
          }
        },
        "creationDate": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Timestamp of when the Relay Proxy configuration was created",
            "smithy.api#required": {}
          }
        },
        "lastModified": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Timestamp of when the Relay Proxy configuration was most recently modified",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#MemberSummary": {
      "type": "structure",
      "members": {
        "_links": {
          "target": "com.launchdarkly.api#MemberSummaryLinksMap",
          "traits": {
            "smithy.api#documentation": "The location and content type of related resources",
            "smithy.api#required": {}
          }
        },
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The member's ID",
            "smithy.api#required": {}
          }
        },
        "firstName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The member's first name"
          }
        },
        "lastName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The member's last name"
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The member's base role. If the member has no additional roles, this role will be in effect.",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The member's email address",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#MemberSummaryLinksMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.launchdarkly.api#Link"
      },
      "traits": {
        "smithy.api#documentation": "The location and content type of related resources"
      }
    },
    "com.launchdarkly.api#Access": {
      "type": "structure",
      "members": {
        "denied": {
          "target": "com.launchdarkly.api#AccessDeniedList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "allowed": {
          "target": "com.launchdarkly.api#AccessAllowedList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#AccessDenied": {
      "type": "structure",
      "members": {
        "action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "com.launchdarkly.api#AccessDeniedReason",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#AccessDeniedReason": {
      "type": "structure",
      "members": {
        "resources": {
          "target": "com.launchdarkly.api#AccessDeniedReasonResourcesList",
          "traits": {
            "smithy.api#documentation": "Resource specifier strings"
          }
        },
        "notResources": {
          "target": "com.launchdarkly.api#AccessDeniedReasonNotResourcesList",
          "traits": {
            "smithy.api#documentation": "Targeted resources are the resources NOT in this list. The <code>resources</code> and <code>notActions</code> fields must be empty to use this field."
          }
        },
        "actions": {
          "target": "com.launchdarkly.api#AccessDeniedReasonActionsList",
          "traits": {
            "smithy.api#documentation": "Actions to perform on a resource"
          }
        },
        "notActions": {
          "target": "com.launchdarkly.api#AccessDeniedReasonNotActionsList",
          "traits": {
            "smithy.api#documentation": "Targeted actions are the actions NOT in this list. The <code>actions</code> and <code>notResources</code> fields must be empty to use this field."
          }
        },
        "effect": {
          "target": "com.launchdarkly.api#AccessDeniedReasonEffect",
          "traits": {
            "smithy.api#documentation": "Whether this statement should allow or deny actions on the resources.",
            "smithy.api#required": {}
          }
        },
        "role_name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#AccessDeniedReasonResourcesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource specifier strings"
      }
    },
    "com.launchdarkly.api#AccessDeniedReasonNotResourcesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Targeted resources are the resources NOT in this list. The <code>resources</code> and <code>notActions</code> fields must be empty to use this field."
      }
    },
    "com.launchdarkly.api#AccessDeniedReasonActionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Actions to perform on a resource"
      }
    },
    "com.launchdarkly.api#AccessDeniedReasonNotActionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Targeted actions are the actions NOT in this list. The <code>actions</code> and <code>notResources</code> fields must be empty to use this field."
      }
    },
    "com.launchdarkly.api#AccessDeniedReasonEffect": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether this statement should allow or deny actions on the resources."
      }
    },
    "com.launchdarkly.api#AccessDeniedList": {
      "type": "list",
      "member": {
        "target": "com.launchdarkly.api#AccessDenied"
      },
      "traits": {}
    },
    "com.launchdarkly.api#AccessAllowedRep": {
      "type": "structure",
      "members": {
        "action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "com.launchdarkly.api#AccessAllowedReason",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#AccessAllowedReason": {
      "type": "structure",
      "members": {
        "resources": {
          "target": "com.launchdarkly.api#AccessAllowedReasonResourcesList",
          "traits": {
            "smithy.api#documentation": "Resource specifier strings"
          }
        },
        "notResources": {
          "target": "com.launchdarkly.api#AccessAllowedReasonNotResourcesList",
          "traits": {
            "smithy.api#documentation": "Targeted resources are the resources NOT in this list. The <code>resources</code> and <code>notActions</code> fields must be empty to use this field."
          }
        },
        "actions": {
          "target": "com.launchdarkly.api#AccessAllowedReasonActionsList",
          "traits": {
            "smithy.api#documentation": "Actions to perform on a resource"
          }
        },
        "notActions": {
          "target": "com.launchdarkly.api#AccessAllowedReasonNotActionsList",
          "traits": {
            "smithy.api#documentation": "Targeted actions are the actions NOT in this list. The <code>actions</code> and <code>notResources</code> fields must be empty to use this field."
          }
        },
        "effect": {
          "target": "com.launchdarkly.api#AccessAllowedReasonEffect",
          "traits": {
            "smithy.api#documentation": "Whether this statement should allow or deny actions on the resources.",
            "smithy.api#required": {}
          }
        },
        "role_name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#AccessAllowedReasonResourcesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource specifier strings"
      }
    },
    "com.launchdarkly.api#AccessAllowedReasonNotResourcesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Targeted resources are the resources NOT in this list. The <code>resources</code> and <code>notActions</code> fields must be empty to use this field."
      }
    },
    "com.launchdarkly.api#AccessAllowedReasonActionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Actions to perform on a resource"
      }
    },
    "com.launchdarkly.api#AccessAllowedReasonNotActionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Targeted actions are the actions NOT in this list. The <code>actions</code> and <code>notResources</code> fields must be empty to use this field."
      }
    },
    "com.launchdarkly.api#AccessAllowedReasonEffect": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether this statement should allow or deny actions on the resources."
      }
    },
    "com.launchdarkly.api#AccessAllowedList": {
      "type": "list",
      "member": {
        "target": "com.launchdarkly.api#AccessAllowedRep"
      },
      "traits": {}
    },
    "com.launchdarkly.api#Statement": {
      "type": "structure",
      "members": {
        "resources": {
          "target": "com.launchdarkly.api#StatementResourcesList",
          "traits": {
            "smithy.api#documentation": "Resource specifier strings"
          }
        },
        "notResources": {
          "target": "com.launchdarkly.api#StatementNotResourcesList",
          "traits": {
            "smithy.api#documentation": "Targeted resources are the resources NOT in this list. The <code>resources</code> and <code>notActions</code> fields must be empty to use this field."
          }
        },
        "actions": {
          "target": "com.launchdarkly.api#StatementActionsList",
          "traits": {
            "smithy.api#documentation": "Actions to perform on a resource"
          }
        },
        "notActions": {
          "target": "com.launchdarkly.api#StatementNotActionsList",
          "traits": {
            "smithy.api#documentation": "Targeted actions are the actions NOT in this list. The <code>actions</code> and <code>notResources</code> fields must be empty to use this field."
          }
        },
        "effect": {
          "target": "com.launchdarkly.api#StatementEffect",
          "traits": {
            "smithy.api#documentation": "Whether this statement should allow or deny actions on the resources.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#StatementResourcesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource specifier strings"
      }
    },
    "com.launchdarkly.api#StatementNotResourcesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Targeted resources are the resources NOT in this list. The <code>resources</code> and <code>notActions</code> fields must be empty to use this field."
      }
    },
    "com.launchdarkly.api#StatementActionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Actions to perform on a resource"
      }
    },
    "com.launchdarkly.api#StatementNotActionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Targeted actions are the actions NOT in this list. The <code>actions</code> and <code>notResources</code> fields must be empty to use this field."
      }
    },
    "com.launchdarkly.api#StatementEffect": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether this statement should allow or deny actions on the resources."
      }
    },
    "com.launchdarkly.api#RelayAutoConfigRepPolicyList": {
      "type": "list",
      "member": {
        "target": "com.launchdarkly.api#Statement"
      },
      "traits": {
        "smithy.api#documentation": "A description of what environments and projects the Relay Proxy should include or exclude"
      }
    },
    "com.launchdarkly.api#RelayAutoConfigCollectionRepItemsList": {
      "type": "list",
      "member": {
        "target": "com.launchdarkly.api#RelayAutoConfigRep"
      },
      "traits": {
        "smithy.api#documentation": "An array of Relay Proxy configurations"
      }
    },
    "com.launchdarkly.api#GetRelayProxyConfigs": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.launchdarkly.api#RelayAutoConfigCollectionRep"
      },
      "errors": [
        {
          "target": "com.launchdarkly.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v2/account/relay-auto-configs",
          "code": 200
        },
        "smithy.api#documentation": "List Relay Proxy configs\n\nGet a list of Relay Proxy configurations in the account."
      }
    },
    "com.launchdarkly.api#PostRelayAutoConfigRequestPolicyList": {
      "type": "list",
      "member": {
        "target": "com.launchdarkly.api#Statement"
      },
      "traits": {
        "smithy.api#documentation": "A description of what environments and projects the Relay Proxy should include or exclude. To learn more, read [Write an inline policy](https://launchdarkly.com/docs/sdk/relay-proxy/automatic-configuration#write-an-inline-policy)."
      }
    },
    "com.launchdarkly.api#PostRelayAutoConfigRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-friendly name for the Relay Proxy configuration",
            "smithy.api#required": {}
          }
        },
        "policy": {
          "target": "com.launchdarkly.api#PostRelayAutoConfigRequestPolicyList",
          "traits": {
            "smithy.api#documentation": "A description of what environments and projects the Relay Proxy should include or exclude. To learn more, read [Write an inline policy](https://launchdarkly.com/docs/sdk/relay-proxy/automatic-configuration#write-an-inline-policy).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.launchdarkly.api#PostRelayAutoConfig": {
      "type": "operation",
      "input": {
        "target": "com.launchdarkly.api#PostRelayAutoConfigRequest"
      },
      "output": {
        "target": "com.launchdarkly.api#RelayAutoConfigRep"
      },
      "errors": [
        {
          "target": "com.launchdarkly.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v2/account/relay-auto-configs",
          "code": 200
        },
        "smithy.api#documentation": "Create a new Relay Proxy config\n\nCreate a Relay Proxy config."
      }
    },
    "com.launchdarkly.api#GetRelayProxyConfigRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The relay auto config id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.launchdarkly.api#GetRelayProxyConfig": {
      "type": "operation",
      "input": {
        "target": "com.launchdarkly.api#GetRelayProxyConfigRequest"
      },
      "output": {
        "target": "com.launchdarkly.api#RelayAutoConfigRep"
      },
      "errors": [
        {
          "target": "com.launchdarkly.api#Forbidden"
        },
        {
          "target": "com.launchdarkly.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v2/account/relay-auto-configs/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get Relay Proxy config\n\nGet a single Relay Proxy auto config by ID."
      }
    },
    "com.launchdarkly.api#JSONPatch": {
      "type": "list",
      "member": {
        "target": "com.launchdarkly.api#PatchOperation"
      },
      "traits": {}
    },
    "com.launchdarkly.api#PatchOperation": {
      "type": "structure",
      "members": {
        "op": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of operation to perform",
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JSON Pointer string specifying the part of the document to operate on",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A JSON value used in \"add\", \"replace\", and \"test\" operations"
          }
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#PatchRelayAutoConfigRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The relay auto config id"
          }
        },
        "patch": {
          "target": "com.launchdarkly.api#JSONPatch",
          "traits": {
            "smithy.api#documentation": "A JSON patch representation of the change to make",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional comment"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.launchdarkly.api#PatchRelayAutoConfig": {
      "type": "operation",
      "input": {
        "target": "com.launchdarkly.api#PatchRelayAutoConfigRequest"
      },
      "output": {
        "target": "com.launchdarkly.api#RelayAutoConfigRep"
      },
      "errors": [
        {
          "target": "com.launchdarkly.api#BadRequest"
        },
        {
          "target": "com.launchdarkly.api#NotFound"
        },
        {
          "target": "com.launchdarkly.api#Conflict"
        },
        {
          "target": "com.launchdarkly.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/v2/account/relay-auto-configs/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Update a Relay Proxy config\n\nUpdate a Relay Proxy configuration. Updating a configuration uses a [JSON patch](https://datatracker.ietf.org/doc/html/rfc6902) or [JSON merge patch](https://datatracker.ietf.org/doc/html/rfc7386) representation of the desired changes. To learn more, read [Updates](https://launchdarkly.com/docs/api#updates)."
      }
    },
    "com.launchdarkly.api#DeleteRelayAutoConfigRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The relay auto config id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.launchdarkly.api#DeleteRelayAutoConfig": {
      "type": "operation",
      "input": {
        "target": "com.launchdarkly.api#DeleteRelayAutoConfigRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.launchdarkly.api#NotFound"
        },
        {
          "target": "com.launchdarkly.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v2/account/relay-auto-configs/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete Relay Proxy config by ID\n\nDelete a Relay Proxy config."
      }
    },
    "com.launchdarkly.api#ResetRelayAutoConfigRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Relay Proxy configuration ID"
          }
        },
        "expiry": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "expiry",
            "smithy.api#documentation": "An expiration time for the old Relay Proxy configuration key, expressed as a Unix epoch time in milliseconds. By default, the Relay Proxy configuration will expire immediately."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.launchdarkly.api#ResetRelayAutoConfig": {
      "type": "operation",
      "input": {
        "target": "com.launchdarkly.api#ResetRelayAutoConfigRequest"
      },
      "output": {
        "target": "com.launchdarkly.api#RelayAutoConfigRep"
      },
      "errors": [
        {
          "target": "com.launchdarkly.api#Forbidden"
        },
        {
          "target": "com.launchdarkly.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v2/account/relay-auto-configs/{id}/reset",
          "code": 200
        },
        "smithy.api#documentation": "Reset Relay Proxy configuration key\n\nReset a Relay Proxy configuration's secret key with an optional expiry time for the old key."
      }
    },
    "com.launchdarkly.api#GetApplicationsRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter",
            "smithy.api#documentation": "Accepts filter by `key`, `name`, `kind`, and `autoAdded`. To learn more about the filter syntax, read [Filtering applications and application versions](https://launchdarkly.com/docs/api/applications-beta#filtering-applications-and-application-versions)."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "The number of applications to return. Defaults to 10."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "Where to start in the list. Use this with pagination. For example, an offset of 10 skips the first ten items and then returns the next items in the list, up to the query `limit`."
          }
        },
        "sort": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "Accepts sorting order and fields. Fields can be comma separated. Possible fields are `creationDate`, `name`. Examples: `sort=name` sort by names ascending, `sort=-name,creationDate` sort by names descending and creationDate ascending."
          }
        },
        "expand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "expand",
            "smithy.api#documentation": "A comma-separated list of properties that can reveal additional information in the response. Options: `flags`."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.launchdarkly.api#ApplicationCollectionRep": {
      "type": "structure",
      "members": {
        "_links": {
          "target": "com.launchdarkly.api#ApplicationCollectionRepLinksMap",
          "traits": {
            "smithy.api#documentation": "The location and content type of related resources"
          }
        },
        "items": {
          "target": "com.launchdarkly.api#ApplicationCollectionRepItemsList",
          "traits": {
            "smithy.api#documentation": "A list of applications"
          }
        },
        "totalCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of applications"
          }
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#ApplicationCollectionRepLinksMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.launchdarkly.api#Link"
      },
      "traits": {
        "smithy.api#documentation": "The location and content type of related resources"
      }
    },
    "com.launchdarkly.api#ApplicationRep": {
      "type": "structure",
      "members": {
        "flags": {
          "target": "com.launchdarkly.api#ApplicationFlagCollectionRep",
          "traits": {
            "smithy.api#documentation": "Details about the flags that have been evaluated by the application"
          }
        },
        "_access": {
          "target": "com.launchdarkly.api#Access",
          "traits": {
            "smithy.api#documentation": "Details on the allowed and denied actions for this application"
          }
        },
        "_links": {
          "target": "com.launchdarkly.api#ApplicationRepLinksMap",
          "traits": {
            "smithy.api#documentation": "The location and content type of related resources"
          }
        },
        "_version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version of the application"
          }
        },
        "autoAdded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the application was automatically created because it was included in a context when a LaunchDarkly SDK evaluated a feature flag, or was created through the LaunchDarkly UI or REST API.",
            "smithy.api#required": {}
          }
        },
        "creationDate": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Timestamp of when the application version was created"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The application description"
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of this application",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.launchdarkly.api#ApplicationRepKind",
          "traits": {
            "smithy.api#documentation": "To distinguish the kind of application",
            "smithy.api#required": {}
          }
        },
        "_maintainer": {
          "target": "com.launchdarkly.api#ApplicationMaintainerRep",
          "traits": {
            "smithy.api#documentation": "Associated maintainer member or team info for the application"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the application",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#ApplicationFlagCollectionRep": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.launchdarkly.api#ApplicationFlagCollectionRepItemsList",
          "traits": {
            "smithy.api#documentation": "A list of the flags that have been evaluated by the application"
          }
        },
        "totalCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of flags that have been evaluated by the application"
          }
        },
        "_links": {
          "target": "com.launchdarkly.api#ApplicationFlagCollectionRepLinksMap",
          "traits": {
            "smithy.api#documentation": "The location and content type of related resources"
          }
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#FlagListingRep": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The flag name",
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The flag key",
            "smithy.api#required": {}
          }
        },
        "_links": {
          "target": "com.launchdarkly.api#FlagListingRepLinksMap"
        },
        "_site": {
          "target": "com.launchdarkly.api#Link"
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#FlagListingRepLinksMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.launchdarkly.api#Link"
      },
      "traits": {}
    },
    "com.launchdarkly.api#ApplicationFlagCollectionRepItemsList": {
      "type": "list",
      "member": {
        "target": "com.launchdarkly.api#FlagListingRep"
      },
      "traits": {
        "smithy.api#documentation": "A list of the flags that have been evaluated by the application"
      }
    },
    "com.launchdarkly.api#ApplicationFlagCollectionRepLinksMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.launchdarkly.api#Link"
      },
      "traits": {
        "smithy.api#documentation": "The location and content type of related resources"
      }
    },
    "com.launchdarkly.api#ApplicationRepLinksMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.launchdarkly.api#Link"
      },
      "traits": {
        "smithy.api#documentation": "The location and content type of related resources"
      }
    },
    "com.launchdarkly.api#ApplicationRepKind": {
      "type": "enum",
      "members": {
        "BROWSER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "browser"
          }
        },
        "MOBILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mobile"
          }
        },
        "SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "server"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "To distinguish the kind of application"
      }
    },
    "com.launchdarkly.api#ApplicationMaintainerRep": {
      "type": "structure",
      "members": {
        "member": {
          "target": "com.launchdarkly.api#MemberSummary",
          "traits": {
            "smithy.api#documentation": "Details on the member who maintains this resource"
          }
        },
        "team": {
          "target": "com.launchdarkly.api#MemberTeamSummaryRep",
          "traits": {
            "smithy.api#documentation": "Details on the team that maintains this resource"
          }
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#MemberTeamSummaryRep": {
      "type": "structure",
      "members": {
        "customRoleKeys": {
          "target": "com.launchdarkly.api#MemberTeamSummaryRepCustomRoleKeysList",
          "traits": {
            "smithy.api#documentation": "A list of keys of the custom roles this team has access to",
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The team key",
            "smithy.api#required": {}
          }
        },
        "_links": {
          "target": "com.launchdarkly.api#MemberTeamSummaryRepLinksMap"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The team name",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#MemberTeamSummaryRepCustomRoleKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of keys of the custom roles this team has access to"
      }
    },
    "com.launchdarkly.api#MemberTeamSummaryRepLinksMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.launchdarkly.api#Link"
      },
      "traits": {}
    },
    "com.launchdarkly.api#ApplicationCollectionRepItemsList": {
      "type": "list",
      "member": {
        "target": "com.launchdarkly.api#ApplicationRep"
      },
      "traits": {
        "smithy.api#documentation": "A list of applications"
      }
    },
    "com.launchdarkly.api#GetApplications": {
      "type": "operation",
      "input": {
        "target": "com.launchdarkly.api#GetApplicationsRequest"
      },
      "output": {
        "target": "com.launchdarkly.api#ApplicationCollectionRep"
      },
      "errors": [
        {
          "target": "com.launchdarkly.api#BadRequest"
        },
        {
          "target": "com.launchdarkly.api#Forbidden"
        },
        {
          "target": "com.launchdarkly.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v2/applications",
          "code": 200
        },
        "smithy.api#documentation": "Get applications\n\nGet a list of applications.\n\n### Expanding the applications response\n\nLaunchDarkly supports expanding the \"Get applications\" response to include additional fields.\n\nTo expand the response, append the `expand` query parameter and include the following:\n\n* `flags` includes details on the flags that have been evaluated by the application\n\nFor example, use `?expand=flags` to include the `flags` field in the response. By default, this field is **not** included in the response."
      }
    },
    "com.launchdarkly.api#GetApplicationRequest": {
      "type": "structure",
      "members": {
        "applicationKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The application key"
          }
        },
        "expand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "expand",
            "smithy.api#documentation": "A comma-separated list of properties that can reveal additional information in the response. Options: `flags`."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.launchdarkly.api#GetApplication": {
      "type": "operation",
      "input": {
        "target": "com.launchdarkly.api#GetApplicationRequest"
      },
      "output": {
        "target": "com.launchdarkly.api#ApplicationRep"
      },
      "errors": [
        {
          "target": "com.launchdarkly.api#BadRequest"
        },
        {
          "target": "com.launchdarkly.api#Forbidden"
        },
        {
          "target": "com.launchdarkly.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v2/applications/{applicationKey}",
          "code": 200
        },
        "smithy.api#documentation": "Get application by key\n\nRetrieve an application by the application key.\n\n### Expanding the application response\n\nLaunchDarkly supports expanding the \"Get application\" response to include additional fields.\n\nTo expand the response, append the `expand` query parameter and include the following:\n\n* `flags` includes details on the flags that have been evaluated by the application\n\nFor example, use `?expand=flags` to include the `flags` field in the response. By default, this field is **not** included in the response."
      }
    },
    "com.launchdarkly.api#PatchApplicationRequest": {
      "type": "structure",
      "members": {
        "applicationKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The application key"
          }
        },
        "body": {
          "target": "com.launchdarkly.api#JSONPatch",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.launchdarkly.api#PatchApplication": {
      "type": "operation",
      "input": {
        "target": "com.launchdarkly.api#PatchApplicationRequest"
      },
      "output": {
        "target": "com.launchdarkly.api#ApplicationRep"
      },
      "errors": [
        {
          "target": "com.launchdarkly.api#BadRequest"
        },
        {
          "target": "com.launchdarkly.api#Forbidden"
        },
        {
          "target": "com.launchdarkly.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/v2/applications/{applicationKey}",
          "code": 200
        },
        "smithy.api#documentation": "Update application\n\nUpdate an application. You can update the `description` and `kind` fields. Requires a [JSON patch](https://datatracker.ietf.org/doc/html/rfc6902) representation of the desired changes to the application. To learn more, read [Updates](https://launchdarkly.com/docs/api#updates)."
      }
    },
    "com.launchdarkly.api#DeleteApplicationRequest": {
      "type": "structure",
      "members": {
        "applicationKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The application key"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.launchdarkly.api#DeleteApplication": {
      "type": "operation",
      "input": {
        "target": "com.launchdarkly.api#DeleteApplicationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.launchdarkly.api#Forbidden"
        },
        {
          "target": "com.launchdarkly.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v2/applications/{applicationKey}",
          "code": 200
        },
        "smithy.api#documentation": "Delete application\n\nDelete an application."
      }
    },
    "com.launchdarkly.api#GetApplicationVersionsRequest": {
      "type": "structure",
      "members": {
        "applicationKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The application key"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter",
            "smithy.api#documentation": "Accepts filter by `key`, `name`, `supported`, and `autoAdded`. To learn more about the filter syntax, read [Filtering applications and application versions](https://launchdarkly.com/docs/api/applications-beta#filtering-applications-and-application-versions)."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "The number of versions to return. Defaults to 50."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "Where to start in the list. Use this with pagination. For example, an offset of 10 skips the first ten items and then returns the next items in the list, up to the query `limit`."
          }
        },
        "sort": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "Accepts sorting order and fields. Fields can be comma separated. Possible fields are `creationDate`, `name`. Examples: `sort=name` sort by names ascending, `sort=-name,creationDate` sort by names descending and creationDate ascending."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.launchdarkly.api#ApplicationVersionsCollectionRep": {
      "type": "structure",
      "members": {
        "_links": {
          "target": "com.launchdarkly.api#ApplicationVersionsCollectionRepLinksMap",
          "traits": {
            "smithy.api#documentation": "The location and content type of related resources"
          }
        },
        "items": {
          "target": "com.launchdarkly.api#ApplicationVersionsCollectionRepItemsList",
          "traits": {
            "smithy.api#documentation": "A list of the versions for this application"
          }
        },
        "totalCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of versions for this application"
          }
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#ApplicationVersionsCollectionRepLinksMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.launchdarkly.api#Link"
      },
      "traits": {
        "smithy.api#documentation": "The location and content type of related resources"
      }
    },
    "com.launchdarkly.api#ApplicationVersionRep": {
      "type": "structure",
      "members": {
        "_access": {
          "target": "com.launchdarkly.api#Access",
          "traits": {
            "smithy.api#documentation": "Details on the allowed and denied actions for this application version"
          }
        },
        "_links": {
          "target": "com.launchdarkly.api#ApplicationVersionRepLinksMap",
          "traits": {
            "smithy.api#documentation": "The location and content type of related resources"
          }
        },
        "_version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version of the application version"
          }
        },
        "autoAdded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the application version was automatically created, because it was included in a context when a LaunchDarkly SDK evaluated a feature flag, or if the application version was created through the LaunchDarkly UI or REST API. ",
            "smithy.api#required": {}
          }
        },
        "creationDate": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Timestamp of when the application version was created"
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of this application version",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of this version",
            "smithy.api#required": {}
          }
        },
        "supported": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this version is supported. Only applicable if the application <code>kind</code> is <code>mobile</code>."
          }
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#ApplicationVersionRepLinksMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.launchdarkly.api#Link"
      },
      "traits": {
        "smithy.api#documentation": "The location and content type of related resources"
      }
    },
    "com.launchdarkly.api#ApplicationVersionsCollectionRepItemsList": {
      "type": "list",
      "member": {
        "target": "com.launchdarkly.api#ApplicationVersionRep"
      },
      "traits": {
        "smithy.api#documentation": "A list of the versions for this application"
      }
    },
    "com.launchdarkly.api#GetApplicationVersions": {
      "type": "operation",
      "input": {
        "target": "com.launchdarkly.api#GetApplicationVersionsRequest"
      },
      "output": {
        "target": "com.launchdarkly.api#ApplicationVersionsCollectionRep"
      },
      "errors": [
        {
          "target": "com.launchdarkly.api#BadRequest"
        },
        {
          "target": "com.launchdarkly.api#Forbidden"
        },
        {
          "target": "com.launchdarkly.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v2/applications/{applicationKey}/versions",
          "code": 200
        },
        "smithy.api#documentation": "Get application versions by application key\n\nGet a list of versions for a specific application in an account."
      }
    },
    "com.launchdarkly.api#PatchApplicationVersionRequest": {
      "type": "structure",
      "members": {
        "applicationKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The application key"
          }
        },
        "versionKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The application version key"
          }
        },
        "body": {
          "target": "com.launchdarkly.api#JSONPatch",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.launchdarkly.api#PatchApplicationVersion": {
      "type": "operation",
      "input": {
        "target": "com.launchdarkly.api#PatchApplicationVersionRequest"
      },
      "output": {
        "target": "com.launchdarkly.api#ApplicationVersionRep"
      },
      "errors": [
        {
          "target": "com.launchdarkly.api#BadRequest"
        },
        {
          "target": "com.launchdarkly.api#Forbidden"
        },
        {
          "target": "com.launchdarkly.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/v2/applications/{applicationKey}/versions/{versionKey}",
          "code": 200
        },
        "smithy.api#documentation": "Update application version\n\nUpdate an application version. You can update the `supported` field. Requires a [JSON patch](https://datatracker.ietf.org/doc/html/rfc6902) representation of the desired changes to the application version. To learn more, read [Updates](https://launchdarkly.com/docs/api#updates)."
      }
    },
    "com.launchdarkly.api#DeleteApplicationVersionRequest": {
      "type": "structure",
      "members": {
        "applicationKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The application key"
          }
        },
        "versionKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The application version key"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.launchdarkly.api#DeleteApplicationVersion": {
      "type": "operation",
      "input": {
        "target": "com.launchdarkly.api#DeleteApplicationVersionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.launchdarkly.api#Forbidden"
        },
        {
          "target": "com.launchdarkly.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v2/applications/{applicationKey}/versions/{versionKey}",
          "code": 200
        },
        "smithy.api#documentation": "Delete application version\n\nDelete an application version."
      }
    },
    "com.launchdarkly.api#GetApprovalRequestsRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter",
            "smithy.api#documentation": "A comma-separated list of filters. Each filter is of the form `field operator value`. Supported fields are explained above."
          }
        },
        "expand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "expand",
            "smithy.api#documentation": "A comma-separated list of fields to expand in the response. Supported fields are explained above."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "The number of approvals to return. Defaults to 20. Maximum limit is 200."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "Where to start in the list. Use this with pagination. For example, an offset of 10 skips the first ten items and then returns the next items in the list, up to the query `limit`."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.launchdarkly.api#ExpandableApprovalRequestsResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.launchdarkly.api#ExpandableApprovalRequestsResponseItemsList",
          "traits": {
            "smithy.api#documentation": "An array of approval requests",
            "smithy.api#required": {}
          }
        },
        "totalCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of approval requests",
            "smithy.api#required": {}
          }
        },
        "_links": {
          "target": "com.launchdarkly.api#ExpandableApprovalRequestsResponseLinksMap",
          "traits": {
            "smithy.api#documentation": "The location and content type of related resources",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#ExpandableApprovalRequestResponse": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of this approval request",
            "smithy.api#required": {}
          }
        },
        "_version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version of the approval request",
            "smithy.api#required": {}
          }
        },
        "creationDate": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Timestamp of when the approval request was created",
            "smithy.api#required": {}
          }
        },
        "serviceKind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The approval service for this request. May be LaunchDarkly or an external approval service, such as ServiceNow or JIRA.",
            "smithy.api#required": {}
          }
        },
        "requestorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the member who requested the approval"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-friendly name for the approval request"
          }
        },
        "reviewStatus": {
          "target": "com.launchdarkly.api#ExpandableApprovalRequestResponseReviewStatus",
          "traits": {
            "smithy.api#documentation": "Current status of the review of this approval request",
            "smithy.api#required": {}
          }
        },
        "allReviews": {
          "target": "com.launchdarkly.api#ExpandableApprovalRequestResponseAllReviewsList",
          "traits": {
            "smithy.api#documentation": "An array of individual reviews of this approval request",
            "smithy.api#required": {}
          }
        },
        "notifyMemberIds": {
          "target": "com.launchdarkly.api#ExpandableApprovalRequestResponseNotifyMemberIdsList",
          "traits": {
            "smithy.api#documentation": "An array of member IDs. These members are notified to review the approval request.",
            "smithy.api#required": {}
          }
        },
        "appliedDate": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Timestamp of when the approval request was applied"
          }
        },
        "appliedByMemberId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The member ID of the member who applied the approval request"
          }
        },
        "appliedByServiceTokenId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service token ID of the service token which applied the approval request"
          }
        },
        "status": {
          "target": "com.launchdarkly.api#ExpandableApprovalRequestResponseStatus",
          "traits": {
            "smithy.api#documentation": "Current status of the approval request",
            "smithy.api#required": {}
          }
        },
        "instructions": {
          "target": "com.launchdarkly.api#Instructions",
          "traits": {
            "smithy.api#documentation": "List of instructions in semantic patch format to be applied to the feature flag",
            "smithy.api#required": {}
          }
        },
        "conflicts": {
          "target": "com.launchdarkly.api#ExpandableApprovalRequestResponseConflictsList",
          "traits": {
            "smithy.api#documentation": "Details on any conflicting approval requests",
            "smithy.api#required": {}
          }
        },
        "_links": {
          "target": "com.launchdarkly.api#ExpandableApprovalRequestResponseLinksMap",
          "traits": {
            "smithy.api#documentation": "The location and content type of related resources",
            "smithy.api#required": {}
          }
        },
        "executionDate": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Timestamp for when instructions will be executed"
          }
        },
        "operatingOnId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of scheduled change to edit or delete"
          }
        },
        "integrationMetadata": {
          "target": "com.launchdarkly.api#IntegrationMetadata",
          "traits": {
            "smithy.api#documentation": "Details about the object in an external service corresponding to this approval request, such as a ServiceNow change request or a JIRA ticket, if an external approval service is being used"
          }
        },
        "source": {
          "target": "com.launchdarkly.api#CopiedFromEnv",
          "traits": {
            "smithy.api#documentation": "Details about the source feature flag, if copied"
          }
        },
        "customWorkflowMetadata": {
          "target": "com.launchdarkly.api#CustomWorkflowMeta",
          "traits": {
            "smithy.api#documentation": "Details about the custom workflow, if this approval request is part of a custom workflow"
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String representation of a resource"
          }
        },
        "approvalSettings": {
          "target": "com.launchdarkly.api#ApprovalSettings",
          "traits": {
            "smithy.api#documentation": "The settings for this approval"
          }
        },
        "project": {
          "target": "com.launchdarkly.api#Project",
          "traits": {
            "smithy.api#documentation": "Project the approval request belongs to"
          }
        },
        "environments": {
          "target": "com.launchdarkly.api#ExpandableApprovalRequestResponseEnvironmentsList",
          "traits": {
            "smithy.api#documentation": "List of environments the approval impacts"
          }
        },
        "flag": {
          "target": "com.launchdarkly.api#ExpandedFlagRep",
          "traits": {
            "smithy.api#documentation": "Flag the approval request belongs to"
          }
        },
        "resource": {
          "target": "com.launchdarkly.api#ExpandedResourceRep",
          "traits": {
            "smithy.api#documentation": "Resource the approval request belongs to"
          }
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#ExpandableApprovalRequestResponseReviewStatus": {
      "type": "enum",
      "members": {
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "DECLINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "declined"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current status of the review of this approval request"
      }
    },
    "com.launchdarkly.api#ReviewResponse": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The approval request ID",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.launchdarkly.api#ReviewResponseKind",
          "traits": {
            "smithy.api#documentation": "The type of review action to take",
            "smithy.api#required": {}
          }
        },
        "creationDate": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Timestamp of when the request was created"
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comment describing the approval response"
          }
        },
        "memberId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of account member that reviewed request"
          }
        },
        "serviceTokenId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of account service token that reviewed request"
          }
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#ReviewResponseKind": {
      "type": "enum",
      "members": {
        "APPROVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approve"
          }
        },
        "DECLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "decline"
          }
        },
        "COMMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "comment"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of review action to take"
      }
    },
    "com.launchdarkly.api#ExpandableApprovalRequestResponseAllReviewsList": {
      "type": "list",
      "member": {
        "target": "com.launchdarkly.api#ReviewResponse"
      },
      "traits": {
        "smithy.api#documentation": "An array of individual reviews of this approval request"
      }
    },
    "com.launchdarkly.api#ExpandableApprovalRequestResponseNotifyMemberIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "An array of member IDs. These members are notified to review the approval request."
      }
    },
    "com.launchdarkly.api#ExpandableApprovalRequestResponseStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scheduled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current status of the approval request"
      }
    },
    "com.launchdarkly.api#Instructions": {
      "type": "list",
      "member": {
        "target": "com.launchdarkly.api#Instruction"
      },
      "traits": {}
    },
    "com.launchdarkly.api#Instruction": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.launchdarkly.api#Conflict2": {
      "type": "structure",
      "members": {
        "instruction": {
          "target": "com.launchdarkly.api#Instruction",
          "traits": {
            "smithy.api#documentation": "Instruction in semantic patch format to be applied to the feature flag"
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason why the conflict exists"
          }
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#ExpandableApprovalRequestResponseConflictsList": {
      "type": "list",
      "member": {
        "target": "com.launchdarkly.api#Conflict2"
      },
      "traits": {
        "smithy.api#documentation": "Details on any conflicting approval requests"
      }
    },
    "com.launchdarkly.api#ExpandableApprovalRequestResponseLinksMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The location and content type of related resources"
      }
    },
    "com.launchdarkly.api#IntegrationMetadata": {
      "type": "structure",
      "members": {
        "externalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "externalStatus": {
          "target": "com.launchdarkly.api#IntegrationStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "externalUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lastChecked": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#IntegrationStatus": {
      "type": "structure",
      "members": {
        "display": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#CopiedFromEnv": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key of feature flag copied",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version of feature flag copied"
          }
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#CustomWorkflowMeta": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the workflow stage that required this approval request"
          }
        },
        "stage": {
          "target": "com.launchdarkly.api#CustomWorkflowStageMeta",
          "traits": {
            "smithy.api#documentation": "Details on the stage of the workflow where this approval request is required"
          }
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#CustomWorkflowStageMeta": {
      "type": "structure",
      "members": {
        "index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The zero-based index of the workflow stage"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the workflow stage"
          }
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#ApprovalSettings": {
      "type": "structure",
      "members": {
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If approvals are required for this environment",
            "smithy.api#required": {}
          }
        },
        "bypassApprovalsForPendingChanges": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to skip approvals for pending changes",
            "smithy.api#required": {}
          }
        },
        "minNumApprovals": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sets the amount of approvals required before a member can apply a change. The minimum is one and the maximum is five.",
            "smithy.api#required": {}
          }
        },
        "canReviewOwnRequest": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allow someone who makes an approval request to apply their own change",
            "smithy.api#required": {}
          }
        },
        "canApplyDeclinedChanges": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allow applying the change as long as at least one person has approved",
            "smithy.api#required": {}
          }
        },
        "autoApplyApprovedChanges": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Automatically apply changes that have been approved by all reviewers. This field is only applicable for approval services other than LaunchDarkly."
          }
        },
        "serviceKind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Which service to use for managing approvals",
            "smithy.api#required": {}
          }
        },
        "serviceConfig": {
          "target": "com.launchdarkly.api#ApprovalSettingsServiceConfigMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requiredApprovalTags": {
          "target": "com.launchdarkly.api#ApprovalSettingsRequiredApprovalTagsList",
          "traits": {
            "smithy.api#documentation": "Require approval only on flags with the provided tags. Otherwise all flags will require approval.",
            "smithy.api#required": {}
          }
        },
        "serviceKindConfigurationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional field for integration configuration ID of a custom approval integration. This is an Enterprise-only feature."
          }
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#ApprovalSettingsServiceConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.launchdarkly.api#ApprovalSettingsRequiredApprovalTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Require approval only on flags with the provided tags. Otherwise all flags will require approval."
      }
    },
    "com.launchdarkly.api#Project": {
      "type": "structure",
      "members": {
        "_links": {
          "target": "com.launchdarkly.api#ProjectLinksMap",
          "traits": {
            "smithy.api#documentation": "The location and content type of related resources",
            "smithy.api#required": {}
          }
        },
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of this project",
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key of this project",
            "smithy.api#required": {}
          }
        },
        "includeInSnippetByDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not flags created in this project are made available to the client-side JavaScript SDK by default",
            "smithy.api#required": {}
          }
        },
        "defaultClientSideAvailability": {
          "target": "com.launchdarkly.api#ClientSideAvailability",
          "traits": {
            "smithy.api#documentation": "Describes which client-side SDKs can use new flags by default"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-friendly name for the project",
            "smithy.api#required": {}
          }
        },
        "_access": {
          "target": "com.launchdarkly.api#Access",
          "traits": {
            "smithy.api#documentation": "Details on the allowed and denied actions for this project"
          }
        },
        "tags": {
          "target": "com.launchdarkly.api#ProjectTagsList",
          "traits": {
            "smithy.api#documentation": "A list of tags for the project",
            "smithy.api#required": {}
          }
        },
        "defaultReleasePipelineKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key of the default release pipeline for this project"
          }
        },
        "environments": {
          "target": "com.launchdarkly.api#Environments",
          "traits": {
            "smithy.api#documentation": "A paginated list of environments for the project. By default this field is omitted unless expanded by the client."
          }
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#ProjectLinksMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.launchdarkly.api#Link"
      },
      "traits": {
        "smithy.api#documentation": "The location and content type of related resources"
      }
    },
    "com.launchdarkly.api#ClientSideAvailability": {
      "type": "structure",
      "members": {
        "usingMobileKey": {
          "target": "smithy.api#Boolean"
        },
        "usingEnvironmentId": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#ProjectTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of tags for the project"
      }
    },
    "com.launchdarkly.api#Environments": {
      "type": "structure",
      "members": {
        "_links": {
          "target": "com.launchdarkly.api#EnvironmentsLinksMap",
          "traits": {
            "smithy.api#documentation": "The location and content type of related resources"
          }
        },
        "totalCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of environments returned"
          }
        },
        "items": {
          "target": "com.launchdarkly.api#EnvironmentsItemsList",
          "traits": {
            "smithy.api#documentation": "An array of environments",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#EnvironmentsLinksMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.launchdarkly.api#Link"
      },
      "traits": {
        "smithy.api#documentation": "The location and content type of related resources"
      }
    },
    "com.launchdarkly.api#Environment": {
      "type": "structure",
      "members": {
        "_links": {
          "target": "com.launchdarkly.api#EnvironmentLinksMap",
          "traits": {
            "smithy.api#documentation": "The location and content type of related resources",
            "smithy.api#required": {}
          }
        },
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID for the environment. Use this as the client-side ID for authorization in some client-side SDKs, and to associate LaunchDarkly environments with CDN integrations in edge SDKs.",
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A project-unique key for the new environment",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-friendly name for the new environment",
            "smithy.api#required": {}
          }
        },
        "apiKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SDK key for the environment. Use this for authorization in server-side SDKs.",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "mobileKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The mobile key for the environment. Use this for authorization in mobile SDKs.",
            "smithy.api#required": {}
          }
        },
        "color": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The color used to indicate this environment in the UI",
            "smithy.api#required": {}
          }
        },
        "defaultTtl": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The default time (in minutes) that the PHP SDK can cache feature flag rules locally",
            "smithy.api#required": {}
          }
        },
        "secureMode": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Ensures that one end user of the client-side SDK cannot inspect the variations for another end user",
            "smithy.api#required": {}
          }
        },
        "_access": {
          "target": "com.launchdarkly.api#Access"
        },
        "defaultTrackEvents": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables tracking detailed information for new flags by default",
            "smithy.api#required": {}
          }
        },
        "requireComments": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether members who modify flags and segments through the LaunchDarkly user interface are required to add a comment",
            "smithy.api#required": {}
          }
        },
        "confirmChanges": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether members who modify flags and segments through the LaunchDarkly user interface are required to confirm those changes",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.launchdarkly.api#EnvironmentTagsList",
          "traits": {
            "smithy.api#documentation": "A list of tags for this environment",
            "smithy.api#required": {}
          }
        },
        "approvalSettings": {
          "target": "com.launchdarkly.api#ApprovalSettings",
          "traits": {
            "smithy.api#documentation": "Details about the approval settings for flags in this environment"
          }
        },
        "resourceApprovalSettings": {
          "target": "com.launchdarkly.api#EnvironmentResourceApprovalSettingsMap",
          "traits": {
            "smithy.api#documentation": "Details about the approval settings for other resources in this environment, organized by resource kind (for example, \"aiconfig\" and \"segment\")"
          }
        },
        "critical": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the environment is critical",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#EnvironmentLinksMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.launchdarkly.api#Link"
      },
      "traits": {
        "smithy.api#documentation": "The location and content type of related resources"
      }
    },
    "com.launchdarkly.api#EnvironmentTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of tags for this environment"
      }
    },
    "com.launchdarkly.api#EnvironmentResourceApprovalSettingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.launchdarkly.api#ApprovalSettings"
      },
      "traits": {
        "smithy.api#documentation": "Details about the approval settings for other resources in this environment, organized by resource kind (for example, \"aiconfig\" and \"segment\")"
      }
    },
    "com.launchdarkly.api#EnvironmentsItemsList": {
      "type": "list",
      "member": {
        "target": "com.launchdarkly.api#Environment"
      },
      "traits": {
        "smithy.api#documentation": "An array of environments"
      }
    },
    "com.launchdarkly.api#ExpandableApprovalRequestResponseEnvironmentsList": {
      "type": "list",
      "member": {
        "target": "com.launchdarkly.api#Environment"
      },
      "traits": {
        "smithy.api#documentation": "List of environments the approval impacts"
      }
    },
    "com.launchdarkly.api#ExpandedFlagRep": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-friendly name for the feature flag",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.launchdarkly.api#ExpandedFlagRepKind",
          "traits": {
            "smithy.api#documentation": "Kind of feature flag",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the feature flag"
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique key used to reference the flag in your code",
            "smithy.api#required": {}
          }
        },
        "_version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version of the feature flag",
            "smithy.api#required": {}
          }
        },
        "creationDate": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Timestamp of flag creation date",
            "smithy.api#required": {}
          }
        },
        "includeInSnippet": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated, use <code>clientSideAvailability</code>. Whether this flag should be made available to the client-side JavaScript SDK"
          }
        },
        "clientSideAvailability": {
          "target": "com.launchdarkly.api#ClientSideAvailability",
          "traits": {
            "smithy.api#documentation": "Which type of client-side SDKs the feature flag is available to"
          }
        },
        "variations": {
          "target": "com.launchdarkly.api#ExpandedFlagRepVariationsList",
          "traits": {
            "smithy.api#documentation": "An array of possible variations for the flag",
            "smithy.api#required": {}
          }
        },
        "temporary": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the flag is a temporary flag",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.launchdarkly.api#ExpandedFlagRepTagsList",
          "traits": {
            "smithy.api#documentation": "Tags for the feature flag",
            "smithy.api#required": {}
          }
        },
        "_links": {
          "target": "com.launchdarkly.api#ExpandedFlagRepLinksMap",
          "traits": {
            "smithy.api#documentation": "The location and content type of related resources",
            "smithy.api#required": {}
          }
        },
        "maintainerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the member who maintains the flag"
          }
        },
        "_maintainer": {
          "target": "com.launchdarkly.api#MemberSummary",
          "traits": {
            "smithy.api#documentation": "Details on the member who maintains this feature flag"
          }
        },
        "customProperties": {
          "target": "com.launchdarkly.api#CustomProperties",
          "traits": {
            "smithy.api#documentation": "Metadata attached to the feature flag, in the form of the property key associated with a name and array of values for the metadata to associate with this flag. Typically used to store data related to an integration.",
            "smithy.api#required": {}
          }
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Boolean indicating if the feature flag is archived",
            "smithy.api#required": {}
          }
        },
        "archivedDate": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If archived is true, date of archive"
          }
        },
        "defaults": {
          "target": "com.launchdarkly.api#Defaults",
          "traits": {
            "smithy.api#documentation": "The indices, from the array of variations, for the variations to serve by default when targeting is on and when targeting is off. These variations will be used for this flag in new environments. If omitted, the first and last variation will be used."
          }
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#ExpandedFlagRepKind": {
      "type": "enum",
      "members": {
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean"
          }
        },
        "MULTIVARIATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "multivariate"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Kind of feature flag"
      }
    },
    "com.launchdarkly.api#Variation": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the variation. Leave empty when you are creating a flag."
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The value of the variation. For boolean flags, this must be <code>true</code> or <code>false</code>. For multivariate flags, this may be a string, number, or JSON object.",
            "smithy.api#required": {}
          }
        },
        "valueHash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A deterministic hash of the canonicalized variation <code>value</code>. Computed server-side; ignored if supplied in request bodies."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the variation. Defaults to an empty string, but is omitted from the response if not set."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-friendly name for the variation. Defaults to an empty string, but is omitted from the response if not set."
          }
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#ExpandedFlagRepVariationsList": {
      "type": "list",
      "member": {
        "target": "com.launchdarkly.api#Variation"
      },
      "traits": {
        "smithy.api#documentation": "An array of possible variations for the flag"
      }
    },
    "com.launchdarkly.api#ExpandedFlagRepTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tags for the feature flag"
      }
    },
    "com.launchdarkly.api#ExpandedFlagRepLinksMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.launchdarkly.api#Link"
      },
      "traits": {
        "smithy.api#documentation": "The location and content type of related resources"
      }
    },
    "com.launchdarkly.api#CustomProperties": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.launchdarkly.api#CustomProperty"
      },
      "traits": {}
    },
    "com.launchdarkly.api#CustomProperty": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the custom property of this type.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.launchdarkly.api#CustomPropertyValueList",
          "traits": {
            "smithy.api#documentation": "An array of values for the custom property data to associate with this flag.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#CustomPropertyValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "An array of values for the custom property data to associate with this flag."
      }
    },
    "com.launchdarkly.api#Defaults": {
      "type": "structure",
      "members": {
        "onVariation": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index, from the array of variations for this flag, of the variation to serve by default when targeting is on.",
            "smithy.api#required": {}
          }
        },
        "offVariation": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index, from the array of variations for this flag, of the variation to serve by default when targeting is off.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#ExpandedResourceRep": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of resource",
            "smithy.api#required": {}
          }
        },
        "aiConfig": {
          "target": "com.launchdarkly.api#AIConfigRep"
        },
        "experiment": {
          "target": "com.launchdarkly.api#ExpandedExperimentRep"
        },
        "flag": {
          "target": "com.launchdarkly.api#ExpandedFlagRep"
        },
        "segment": {
          "target": "com.launchdarkly.api#UserSegment"
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#AIConfigRep": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key of the AI Config",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the AI Config",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#ExpandedExperimentRep": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key of the experiment",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the experiment",
            "smithy.api#required": {}
          }
        },
        "_access": {
          "target": "com.launchdarkly.api#Access"
        }
      },
      "traits": {}
    },
    "com.launchdarkly.api#UserSegment": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-friendly name for the segment.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of the segment's purpose. Defaults to <code>null</code> and is omitted in the response if not provided."
          }
        },
        "tags": {
          "target": "com.launchdarkly.api#UserSegmentTagsList",
          "traits": {
            "smithy.api#documentation": "Tags for the segment. Defaults to an empty array.",
            "smithy.api#required": {}
          }
        },
        "creationDate": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Timestamp of when the segment was created",
            "smithy.api#required": {}
          }
        },
        "lastModifiedDate": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Timestamp of when the segment was last modified",
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique key used to reference the segment",
            "smithy.api#required": {}
          }
[...]
