{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.huggingface.auth#GetUserInfoResponseBodyAuthAccessTokenRole": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "GOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "god"
          }
        },
        "FINEGRAINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fineGrained"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.auth#GetUserInfoResponseBodyAuthAccessTokenFineGrainedScopedItemEntityType": {
      "type": "enum",
      "members": {
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataset"
          }
        },
        "MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model"
          }
        },
        "SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "space"
          }
        },
        "BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket"
          }
        },
        "KERNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kernel"
          }
        },
        "COLLECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "collection"
          }
        },
        "ORG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "RESOURCE_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resource-group"
          }
        },
        "OAUTH_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth-app"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.auth#GetUserInfoResponseBodyAuthAccessTokenFineGrainedScopedItemEntity": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.huggingface.auth#GetUserInfoResponseBodyAuthAccessTokenFineGrainedScopedItemEntityType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.auth#GetUserInfoResponseBodyAuthAccessTokenFineGrainedScopedItemPermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.auth#GetUserInfoResponseBodyAuthAccessTokenFineGrainedScopedItem": {
      "type": "structure",
      "members": {
        "entity": {
          "target": "com.huggingface.auth#GetUserInfoResponseBodyAuthAccessTokenFineGrainedScopedItemEntity",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.huggingface.auth#GetUserInfoResponseBodyAuthAccessTokenFineGrainedScopedItemPermissionsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.auth#GetUserInfoResponseBodyAuthAccessTokenFineGrainedScopedList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.auth#GetUserInfoResponseBodyAuthAccessTokenFineGrainedScopedItem"
      },
      "traits": {}
    },
    "com.huggingface.auth#GetUserInfoResponseBodyAuthAccessTokenFineGrainedGlobalItem": {
      "type": "enum",
      "members": {
        "DISCUSSION_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "discussion.write"
          }
        },
        "POST_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "post.write"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.auth#GetUserInfoResponseBodyAuthAccessTokenFineGrainedGlobalList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.auth#GetUserInfoResponseBodyAuthAccessTokenFineGrainedGlobalItem"
      },
      "traits": {}
    },
    "com.huggingface.auth#GetUserInfoResponseBodyAuthAccessTokenFineGrained": {
      "type": "structure",
      "members": {
        "scoped": {
          "target": "com.huggingface.auth#GetUserInfoResponseBodyAuthAccessTokenFineGrainedScopedList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "global": {
          "target": "com.huggingface.auth#GetUserInfoResponseBodyAuthAccessTokenFineGrainedGlobalList"
        },
        "canReadGatedRepos": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allow access to all public gated repos to which the user has access"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.auth#GetUserInfoResponseBodyAuthAccessToken": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.huggingface.auth#GetUserInfoResponseBodyAuthAccessTokenRole",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fineGrained": {
          "target": "com.huggingface.auth#GetUserInfoResponseBodyAuthAccessTokenFineGrained"
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.auth#GetUserInfoResponseBodyAuthResource": {
      "type": "structure",
      "members": {
        "sub": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.auth#GetUserInfoResponseBodyAuth": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "accessToken": {
          "target": "com.huggingface.auth#GetUserInfoResponseBodyAuthAccessToken"
        },
        "expiresAt": {
          "target": "smithy.api#String"
        },
        "resource": {
          "target": "com.huggingface.auth#GetUserInfoResponseBodyAuthResource"
        }
      },
      "traits": {}
    },
    "com.huggingface.auth#GetUserInfoResponseBodyBillingMode": {
      "type": "enum",
      "members": {
        "PREPAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "prepaid"
          }
        },
        "POSTPAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postpaid"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.auth#GetUserInfoResponseBodyOrgsItemBillingMode": {
      "type": "enum",
      "members": {
        "PREPAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "prepaid"
          }
        },
        "POSTPAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postpaid"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.auth#GetUserInfoResponseBodyOrgsItemPlan": {
      "type": "enum",
      "members": {
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plus"
          }
        },
        "ACADEMIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "academia"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.auth#GetUserInfoResponseBodyOrgsItemRoleInOrg": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contributor"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "NO_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_access"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.auth#GetUserInfoResponseBodyOrgsItemSecurityRestrictionsItem": {
      "type": "enum",
      "members": {
        "MFA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mfa"
          }
        },
        "TOKEN_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "token-policy"
          }
        },
        "TOKEN_REVOKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "token-revoked"
          }
        },
        "SSO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sso"
          }
        },
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.auth#GetUserInfoResponseBodyOrgsItemSecurityRestrictionsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.auth#GetUserInfoResponseBodyOrgsItemSecurityRestrictionsItem"
      },
      "traits": {
        "smithy.api#documentation": "Current security restrictions for accessing data in this organization with current authentication method"
      }
    },
    "com.huggingface.auth#GetUserInfoResponseBodyOrgsItemResourceGroupsItemRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contributor"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "NO_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_access"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.auth#GetUserInfoResponseBodyOrgsItemResourceGroupsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.huggingface.auth#GetUserInfoResponseBodyOrgsItemResourceGroupsItemRole",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.auth#GetUserInfoResponseBodyOrgsItemResourceGroupsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.auth#GetUserInfoResponseBodyOrgsItemResourceGroupsItem"
      },
      "traits": {}
    },
    "com.huggingface.auth#GetUserInfoResponseBodyOrgsItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "canPay": {
          "target": "smithy.api#Boolean"
        },
        "billingMode": {
          "target": "com.huggingface.auth#GetUserInfoResponseBodyOrgsItemBillingMode"
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "periodEnd": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "plan": {
          "target": "com.huggingface.auth#GetUserInfoResponseBodyOrgsItemPlan"
        },
        "roleInOrg": {
          "target": "com.huggingface.auth#GetUserInfoResponseBodyOrgsItemRoleInOrg"
        },
        "securityRestrictions": {
          "target": "com.huggingface.auth#GetUserInfoResponseBodyOrgsItemSecurityRestrictionsList",
          "traits": {
            "smithy.api#documentation": "Current security restrictions for accessing data in this organization with current authentication method"
          }
        },
        "resourceGroups": {
          "target": "com.huggingface.auth#GetUserInfoResponseBodyOrgsItemResourceGroupsList"
        }
      },
      "traits": {}
    },
    "com.huggingface.auth#GetUserInfoResponseBodyOrgsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.auth#GetUserInfoResponseBodyOrgsItem"
      },
      "traits": {}
    },
    "com.huggingface.auth#GetUserInfoResponseBody": {
      "type": "structure",
      "members": {
        "auth": {
          "target": "com.huggingface.auth#GetUserInfoResponseBodyAuth",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "canPay": {
          "target": "smithy.api#Boolean"
        },
        "billingMode": {
          "target": "com.huggingface.auth#GetUserInfoResponseBodyBillingMode"
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "periodEnd": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "emailVerified": {
          "target": "smithy.api#Boolean"
        },
        "isPro": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "orgs": {
          "target": "com.huggingface.auth#GetUserInfoResponseBodyOrgsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.auth#GetUserInfoResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.huggingface.auth#GetUserInfoResponseBody",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.auth#GetUserInfo": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.huggingface.auth#GetUserInfoResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/whoami-v2",
          "code": 200
        },
        "smithy.api#documentation": "Get user info\n\nGet information about the user and auth method used"
      }
    },
    "com.huggingface.auth#Auth": {
      "type": "service",
      "version": "0.0.1",
      "operations": [
        {
          "target": "com.huggingface.auth#GetUserInfo"
        }
      ],
      "traits": {
        "smithy.api#title": "Hub API Endpoints",
        "smithy.api#documentation": "We have open endpoints that you can use to retrieve information from the Hub as well as perform certain actions such as creating model, dataset or Space repos. We offer a wrapper Python client, [`huggingface_hub`](https://github.com/huggingface/huggingface_hub), and a JS client, [`huggingface.js`](https://github.com/huggingface/huggingface.js), that allow easy access to these endpoints. We also provide [webhooks](https://huggingface.co/docs/hub/webhooks) to receive real-time incremental info about repos. Enjoy!\n\nThe base URL for those endpoints below is `https://huggingface.co`. For example, to construct the `/api/models` call below, one can call the URL [https://huggingface.co/api/models](https://huggingface.co/api/models).\n\nIf you're an Agent, you might prefer the [markdown version OpenAPI spec](https://huggingface.co/.well-known/openapi.md)."
      }
    }
  }
}
