{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.huggingface.datasets#GetFolderSizeRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.datasets#GetFolderSizeResponse": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The normalized path of the subtree, starting with a slash",
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total size in bytes of all files under the subtree",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.datasets#GetFolderSize": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.datasets#GetFolderSizeRequest"
      },
      "output": {
        "target": "com.huggingface.datasets#GetFolderSizeResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/datasets/{namespace}/{repo}/treesize/{rev}/{path}",
          "code": 200
        },
        "smithy.api#documentation": "Get folder size\n\nGet the total size of a repository at a given revision, optionally under a specific subpath. Returns the total size in bytes of all files under the specified path (recursively). If a file is stored via Xet/LFS, the LFS file size is used."
      }
    },
    "com.huggingface.datasets#ListLargeFilesRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "xet": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpQuery": "xet"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.datasets#ListLargeFilesResponseBodyItemPusherPrimaryOrgPlan": {
      "type": "enum",
      "members": {
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plus"
          }
        },
        "ACADEMIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "academia"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListLargeFilesResponseBodyItemPusherPrimaryOrgUserRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contributor"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "NO_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_access"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListLargeFilesResponseBodyItemPusherPrimaryOrg": {
      "type": "structure",
      "members": {
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isFollowing": {
          "target": "smithy.api#Boolean"
        },
        "plan": {
          "target": "com.huggingface.datasets#ListLargeFilesResponseBodyItemPusherPrimaryOrgPlan"
        },
        "details": {
          "target": "smithy.api#String"
        },
        "hasPrivateMembersList": {
          "target": "smithy.api#Boolean"
        },
        "userRole": {
          "target": "com.huggingface.datasets#ListLargeFilesResponseBodyItemPusherPrimaryOrgUserRole"
        },
        "numUsers": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListLargeFilesResponseBodyItemPusher": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHfAdmin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isMod": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "followerCount": {
          "target": "smithy.api#Double"
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isPro": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isUserFollowing": {
          "target": "smithy.api#Boolean"
        },
        "primaryOrg": {
          "target": "com.huggingface.datasets#ListLargeFilesResponseBodyItemPusherPrimaryOrg"
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListLargeFilesResponseBodyItem": {
      "type": "structure",
      "members": {
        "pusher": {
          "target": "com.huggingface.datasets#ListLargeFilesResponseBodyItemPusher"
        },
        "ref": {
          "target": "smithy.api#String"
        },
        "fileOid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "oid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pushedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Potential filename of the LFS file"
          }
        },
        "xetHash": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListLargeFilesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.datasets#ListLargeFilesResponseBodyItem"
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListLargeFilesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.huggingface.datasets#ListLargeFilesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.datasets#ListLargeFiles": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.datasets#ListLargeFilesRequest"
      },
      "output": {
        "target": "com.huggingface.datasets#ListLargeFilesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/datasets/{namespace}/{repo}/lfs-files",
          "code": 200
        },
        "smithy.api#documentation": "List Large files\n\nList Xet/LFS files for a repo"
      }
    },
    "com.huggingface.datasets#DeleteLargeFilesRequestDeletionsShaList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.datasets#DeleteLargeFilesRequestDeletions": {
      "type": "structure",
      "members": {
        "sha": {
          "target": "com.huggingface.datasets#DeleteLargeFilesRequestDeletionsShaList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rewriteHistory": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#DeleteLargeFilesRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "deletions": {
          "target": "com.huggingface.datasets#DeleteLargeFilesRequestDeletions",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.datasets#DeleteLargeFiles": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.datasets#DeleteLargeFilesRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/datasets/{namespace}/{repo}/lfs-files/batch",
          "code": 200
        },
        "smithy.api#documentation": "Delete Large files\n\nDelete Xet/LFS files in batch"
      }
    },
    "com.huggingface.datasets#DeleteLargeFileRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rewriteHistory": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpQuery": "rewriteHistory"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.datasets#DeleteLargeFile": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.datasets#DeleteLargeFileRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/datasets/{namespace}/{repo}/lfs-files/{sha}",
          "code": 200
        },
        "smithy.api#documentation": "Delete Large file\n\nDelete a Xet/LFS file"
      }
    },
    "com.huggingface.datasets#DuplicateXetFilesRequestTargetType": {
      "type": "enum",
      "members": {
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataset"
          }
        },
        "MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model"
          }
        },
        "SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "space"
          }
        },
        "KERNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kernel"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#DuplicateXetFilesRequestTarget": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.huggingface.datasets#DuplicateXetFilesRequestTargetType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#DuplicateXetFilesRequestFilesItem": {
      "type": "structure",
      "members": {
        "xetHash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sha256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "filename": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#DuplicateXetFilesRequestFilesList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.datasets#DuplicateXetFilesRequestFilesItem"
      },
      "traits": {}
    },
    "com.huggingface.datasets#DuplicateXetFilesRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.huggingface.datasets#DuplicateXetFilesRequestTarget",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "files": {
          "target": "com.huggingface.datasets#DuplicateXetFilesRequestFilesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.datasets#DuplicateXetFilesResponseFailedItem": {
      "type": "structure",
      "members": {
        "xetHash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Xet content hash of the file that failed",
            "smithy.api#required": {}
          }
        },
        "sha256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "sha256 of the file that failed",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#DuplicateXetFilesResponseFailedList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.datasets#DuplicateXetFilesResponseFailedItem"
      },
      "traits": {
        "smithy.api#documentation": "Per-file failures"
      }
    },
    "com.huggingface.datasets#DuplicateXetFilesResponse": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if all requested files were duplicated (or already present)",
            "smithy.api#required": {}
          }
        },
        "processed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of unique files processed",
            "smithy.api#required": {}
          }
        },
        "succeeded": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of files duplicated or already present in the target",
            "smithy.api#required": {}
          }
        },
        "failed": {
          "target": "com.huggingface.datasets#DuplicateXetFilesResponseFailedList",
          "traits": {
            "smithy.api#documentation": "Per-file failures",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.datasets#DuplicateXetFiles": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.datasets#DuplicateXetFilesRequest"
      },
      "output": {
        "target": "com.huggingface.datasets#DuplicateXetFilesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/datasets/{namespace}/{repo}/lfs-files/duplicate",
          "code": 200
        },
        "smithy.api#documentation": "Duplicate xet files\n\nDuplicate xet-stored files from this repo (source) into another repo (target) by xet hash, without re-uploading file bytes. The caller must then commit the files with their sha256/size as usual."
      }
    },
    "com.huggingface.datasets#ListCommitsRequestExpandItem": {
      "type": "enum",
      "members": {
        "FORMATTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "formatted"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListCommitsRequestExpandList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.datasets#ListCommitsRequestExpandItem"
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListCommitsRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "p": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "p"
          }
        },
        "expand": {
          "target": "com.huggingface.datasets#ListCommitsRequestExpandList",
          "traits": {
            "smithy.api#httpQuery": "expand"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.datasets#ListCommitsResponseBodyItemAuthorsItem": {
      "type": "structure",
      "members": {
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatar": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListCommitsResponseBodyItemAuthorsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.datasets#ListCommitsResponseBodyItemAuthorsItem"
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListCommitsResponseBodyItemFormatted": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Available if expand includes formatted"
      }
    },
    "com.huggingface.datasets#ListCommitsResponseBodyItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "authors": {
          "target": "com.huggingface.datasets#ListCommitsResponseBodyItemAuthorsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "formatted": {
          "target": "com.huggingface.datasets#ListCommitsResponseBodyItemFormatted",
          "traits": {
            "smithy.api#documentation": "Available if expand includes formatted"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListCommitsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.datasets#ListCommitsResponseBodyItem"
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListCommitsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.huggingface.datasets#ListCommitsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.datasets#ListCommits": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.datasets#ListCommitsRequest"
      },
      "output": {
        "target": "com.huggingface.datasets#ListCommitsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/datasets/{namespace}/{repo}/commits/{rev}",
          "code": 200
        },
        "smithy.api#documentation": "List commits"
      }
    },
    "com.huggingface.datasets#ListReferencesRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "include_prs": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpQuery": "include_prs"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.datasets#ListReferencesResponseTagsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "targetCommit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListReferencesResponseTagsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.datasets#ListReferencesResponseTagsItem"
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListReferencesResponseBranchesItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "targetCommit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListReferencesResponseBranchesList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.datasets#ListReferencesResponseBranchesItem"
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListReferencesResponseConvertsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "targetCommit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListReferencesResponseConvertsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.datasets#ListReferencesResponseConvertsItem"
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListReferencesResponsePullRequestsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "targetCommit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListReferencesResponsePullRequestsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.datasets#ListReferencesResponsePullRequestsItem"
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListReferencesResponse": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.huggingface.datasets#ListReferencesResponseTagsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branches": {
          "target": "com.huggingface.datasets#ListReferencesResponseBranchesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "converts": {
          "target": "com.huggingface.datasets#ListReferencesResponseConvertsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pullRequests": {
          "target": "com.huggingface.datasets#ListReferencesResponsePullRequestsList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.datasets#ListReferences": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.datasets#ListReferencesRequest"
      },
      "output": {
        "target": "com.huggingface.datasets#ListReferencesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/datasets/{namespace}/{repo}/refs",
          "code": 200
        },
        "smithy.api#documentation": "List references"
      }
    },
    "com.huggingface.datasets#GetCompareRevRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "compare": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "raw": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpQuery": "raw"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.datasets#GetCompareRevResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.datasets#GetCompareRev": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.datasets#GetCompareRevRequest"
      },
      "output": {
        "target": "com.huggingface.datasets#GetCompareRevResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/datasets/{namespace}/{repo}/compare/{compare}",
          "code": 200
        },
        "smithy.api#documentation": "Get a compare rev"
      }
    },
    "com.huggingface.datasets#ListPathsInfoRequestPathsCase0List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListPathsInfoRequestPaths": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.datasets#ListPathsInfoRequestPathsCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListPathsInfoRequestExpand": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Document"
        },
        "Case1": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Expand the response with the last commit and security file status"
      }
    },
    "com.huggingface.datasets#ListPathsInfoRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "paths": {
          "target": "com.huggingface.datasets#ListPathsInfoRequestPaths",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expand": {
          "target": "com.huggingface.datasets#ListPathsInfoRequestExpand",
          "traits": {
            "smithy.api#documentation": "Expand the response with the last commit and security file status",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.datasets#ListPathsInfoResponseBodyItemType": {
      "type": "enum",
      "members": {
        "FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "file"
          }
        },
        "DIRECTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "directory"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListPathsInfoResponseBodyItemLfs": {
      "type": "structure",
      "members": {
        "pointerSize": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListPathsInfoResponseBodyItemLastCommit": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusStatus": {
      "type": "enum",
      "members": {
        "UNSCANNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unscanned"
          }
        },
        "SAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "safe"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "CAUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "caution"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "UNSAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsafe"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusJFrogScanStatus": {
      "type": "enum",
      "members": {
        "UNSCANNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unscanned"
          }
        },
        "SAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "safe"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "CAUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "caution"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "UNSAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsafe"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusJFrogScanPickleImportsItemSafety": {
      "type": "enum",
      "members": {
        "INNOCUOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "innocuous"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "DANGEROUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dangerous"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusJFrogScanPickleImportsItem": {
      "type": "structure",
      "members": {
        "module": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "safety": {
          "target": "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusJFrogScanPickleImportsItemSafety",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusJFrogScanPickleImportsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusJFrogScanPickleImportsItem"
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusJFrogScan": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusJFrogScanStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String"
        },
        "reportLink": {
          "target": "smithy.api#String"
        },
        "reportLabel": {
          "target": "smithy.api#String"
        },
        "pickleImports": {
          "target": "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusJFrogScanPickleImportsList"
        },
        "version": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusProtectAiScanStatus": {
      "type": "enum",
      "members": {
        "UNSCANNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unscanned"
          }
        },
        "SAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "safe"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "CAUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "caution"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "UNSAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsafe"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusProtectAiScanPickleImportsItemSafety": {
      "type": "enum",
      "members": {
        "INNOCUOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "innocuous"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "DANGEROUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dangerous"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusProtectAiScanPickleImportsItem": {
      "type": "structure",
      "members": {
        "module": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "safety": {
          "target": "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusProtectAiScanPickleImportsItemSafety",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusProtectAiScanPickleImportsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusProtectAiScanPickleImportsItem"
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusProtectAiScan": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusProtectAiScanStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String"
        },
        "reportLink": {
          "target": "smithy.api#String"
        },
        "reportLabel": {
          "target": "smithy.api#String"
        },
        "pickleImports": {
          "target": "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusProtectAiScanPickleImportsList"
        },
        "version": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusAvScanStatus": {
      "type": "enum",
      "members": {
        "UNSCANNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unscanned"
          }
        },
        "SAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "safe"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "CAUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "caution"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "UNSAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsafe"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusAvScanPickleImportsItemSafety": {
      "type": "enum",
      "members": {
        "INNOCUOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "innocuous"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "DANGEROUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dangerous"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusAvScanPickleImportsItem": {
      "type": "structure",
      "members": {
        "module": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "safety": {
          "target": "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusAvScanPickleImportsItemSafety",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusAvScanPickleImportsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusAvScanPickleImportsItem"
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusAvScan": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusAvScanStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String"
        },
        "reportLink": {
          "target": "smithy.api#String"
        },
        "reportLabel": {
          "target": "smithy.api#String"
        },
        "pickleImports": {
          "target": "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusAvScanPickleImportsList"
        },
        "version": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusPickleImportScanStatus": {
      "type": "enum",
      "members": {
        "UNSCANNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unscanned"
          }
        },
        "SAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "safe"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "CAUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "caution"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "UNSAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsafe"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusPickleImportScanPickleImportsItemSafety": {
      "type": "enum",
      "members": {
        "INNOCUOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "innocuous"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "DANGEROUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dangerous"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusPickleImportScanPickleImportsItem": {
      "type": "structure",
      "members": {
        "module": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "safety": {
          "target": "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusPickleImportScanPickleImportsItemSafety",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusPickleImportScanPickleImportsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusPickleImportScanPickleImportsItem"
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusPickleImportScan": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusPickleImportScanStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String"
        },
        "reportLink": {
          "target": "smithy.api#String"
        },
        "reportLabel": {
          "target": "smithy.api#String"
        },
        "pickleImports": {
          "target": "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusPickleImportScanPickleImportsList"
        },
        "version": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusVirusTotalScanStatus": {
      "type": "enum",
      "members": {
        "UNSCANNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unscanned"
          }
        },
        "SAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "safe"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "CAUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "caution"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "UNSAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsafe"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusVirusTotalScanPickleImportsItemSafety": {
      "type": "enum",
      "members": {
        "INNOCUOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "innocuous"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "DANGEROUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dangerous"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusVirusTotalScanPickleImportsItem": {
      "type": "structure",
      "members": {
        "module": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "safety": {
          "target": "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusVirusTotalScanPickleImportsItemSafety",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusVirusTotalScanPickleImportsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusVirusTotalScanPickleImportsItem"
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusVirusTotalScan": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusVirusTotalScanStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String"
        },
        "reportLink": {
          "target": "smithy.api#String"
        },
        "reportLabel": {
          "target": "smithy.api#String"
        },
        "pickleImports": {
          "target": "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusVirusTotalScanPickleImportsList"
        },
        "version": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatus": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "jFrogScan": {
          "target": "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusJFrogScan"
        },
        "protectAiScan": {
          "target": "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusProtectAiScan"
        },
        "avScan": {
          "target": "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusAvScan",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pickleImportScan": {
          "target": "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusPickleImportScan",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "virusTotalScan": {
          "target": "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatusVirusTotalScan"
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListPathsInfoResponseBodyItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.huggingface.datasets#ListPathsInfoResponseBodyItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "oid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lfs": {
          "target": "com.huggingface.datasets#ListPathsInfoResponseBodyItemLfs"
        },
        "xetHash": {
          "target": "smithy.api#String"
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lastCommit": {
          "target": "com.huggingface.datasets#ListPathsInfoResponseBodyItemLastCommit"
        },
        "securityFileStatus": {
          "target": "com.huggingface.datasets#ListPathsInfoResponseBodyItemSecurityFileStatus"
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListPathsInfoResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.datasets#ListPathsInfoResponseBodyItem"
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListPathsInfoResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.huggingface.datasets#ListPathsInfoResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.datasets#ListPathsInfo": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.datasets#ListPathsInfoRequest"
      },
      "output": {
        "target": "com.huggingface.datasets#ListPathsInfoResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/datasets/{namespace}/{repo}/paths-info/{rev}",
          "code": 200
        },
        "smithy.api#documentation": "List paths info"
      }
    },
    "com.huggingface.datasets#CheckUploadMethodRequestFilesItem": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sample": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#CheckUploadMethodRequestFilesList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.datasets#CheckUploadMethodRequestFilesItem"
      },
      "traits": {}
    },
    "com.huggingface.datasets#CheckUploadMethodRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "files": {
          "target": "com.huggingface.datasets#CheckUploadMethodRequestFilesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gitAttributes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provide this parameter if you plan to modify `.gitattributes` yourself at the same time as uploading LFS files. Note that this is not needed if you solely rely on automatic LFS detection from HF: the commit endpoint will automatically edit the `.gitattributes` file to track the files passed to its `lfsFiles` param."
          }
        },
        "gitIgnore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content of the .gitignore file for the revision. Optional, otherwise takes the existing content of `.gitignore` for the revision."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.datasets#CheckUploadMethodResponseFilesItemUploadMode": {
      "type": "enum",
      "members": {
        "LFS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lfs"
          }
        },
        "REGULAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "regular"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#CheckUploadMethodResponseFilesItem": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "uploadMode": {
          "target": "com.huggingface.datasets#CheckUploadMethodResponseFilesItemUploadMode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "shouldIgnore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "oid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The oid of the blob if it already exists in the repository. If the blob is a LFS file, it'll be the lfs oid."
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#CheckUploadMethodResponseFilesList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.datasets#CheckUploadMethodResponseFilesItem"
      },
      "traits": {}
    },
    "com.huggingface.datasets#CheckUploadMethodResponse": {
      "type": "structure",
      "members": {
        "files": {
          "target": "com.huggingface.datasets#CheckUploadMethodResponseFilesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "commitOid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.datasets#CheckUploadMethod": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.datasets#CheckUploadMethodRequest"
      },
      "output": {
        "target": "com.huggingface.datasets#CheckUploadMethodResponse"
      },
      "errors": [
        {
          "target": "com.huggingface.datasets#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/datasets/{namespace}/{repo}/preupload/{rev}",
          "code": 200
        },
        "smithy.api#documentation": "Check upload method\n\nCheck if a file should be uploaded through the Large File mechanism or directly."
      }
    },
    "com.huggingface.datasets#XetWriteTokenRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.datasets#XetWriteTokenResponse": {
      "type": "structure",
      "members": {
        "casUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "exp": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "accessToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.datasets#XetWriteToken": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.datasets#XetWriteTokenRequest"
      },
      "output": {
        "target": "com.huggingface.datasets#XetWriteTokenResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/datasets/{namespace}/{repo}/xet-write-token/{rev}",
          "code": 200
        },
        "smithy.api#documentation": "Xet write token\n\nGet a write short-lived access token for XET upload"
      }
    },
    "com.huggingface.datasets#XetReadTokenRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.datasets#XetReadTokenResponse": {
      "type": "structure",
      "members": {
        "casUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "exp": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "accessToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.datasets#XetReadToken": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.datasets#XetReadTokenRequest"
      },
      "output": {
        "target": "com.huggingface.datasets#XetReadTokenResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/datasets/{namespace}/{repo}/xet-read-token/{rev}",
          "code": 200
        },
        "smithy.api#documentation": "Xet read token\n\nGet a read short-lived access token for XET"
      }
    },
    "com.huggingface.datasets#CommitRequestContentType": {
      "type": "enum",
      "members": {
        "APPLICATION_JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "application/json"
          }
        },
        "APPLICATION_X_NDJSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "application/x-ndjson"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`application/x-ndjson` if you to commit by json lines"
      }
    },
    "com.huggingface.datasets#CommitRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "create_pr": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpQuery": "create_pr"
          }
        },
        "hot_reload": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpQuery": "hot_reload"
          }
        },
        "contentType": {
          "target": "com.huggingface.datasets#CommitRequestContentType",
          "traits": {
            "smithy.api#httpHeader": "Content-Type"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.datasets#CommitResponse": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the commit was successful",
            "smithy.api#required": {}
          }
        },
        "pullRequestUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the pull request"
          }
        },
        "commitOid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The OID of the commit",
            "smithy.api#required": {}
          }
        },
        "commitUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the commit",
            "smithy.api#required": {}
          }
        },
        "hookOutput": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The output of the git hook",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.datasets#Commit": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.datasets#CommitRequest"
      },
      "output": {
        "target": "com.huggingface.datasets#CommitResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/datasets/{namespace}/{repo}/commit/{rev}",
          "code": 200
        },
        "smithy.api#documentation": "Commit\n\nFor legacy reason, we support both `application/json` and `application/x-ndjson` but we recommend using `application/x-ndjson` to create a commit.\n\nJSON-lines payload:\n```json\n{\n  \"key\": \"header\",\n  \"value\": {\n    \"summary\": \"string (REQUIRED)\",\n    \"description\": \"string (OPTIONAL - defaults to empty string)\",\n    \"parentCommit\": \"string (OPTIONAL - 40-character hex SHA)\"\n  }\n}\n{\n  \"key\": \"file\",\n  \"value\": {\n    \"path\": \"string (REQUIRED)\",\n    \"content\": \"string (OPTIONAL - required if oldPath not set)\",\n    \"encoding\": \"utf-8 | base64 (OPTIONAL - defaults to utf-8)\",\n    \"oldPath\": \"string (OPTIONAL - for move/rename operations)\"\n  }\n}\n{\n  \"key\": \"deletedEntry\",\n  \"value\": {\n    \"path\": \"string (REQUIRED)\"\n  }\n}\n{\n  \"key\": \"lfsFile\",\n  \"value\": {\n    \"path\": \"string (REQUIRED - max 1000 chars)\",\n    \"oid\": \"string (OPTIONAL - required if oldPath not set, 64 hex chars)\",\n    \"algo\": \"sha256 (OPTIONAL - only sha256 supported)\",\n    \"size\": \"number (OPTIONAL - required if oldPath is set)\",\n    \"oldPath\": \"string (OPTIONAL - for move/rename operations)\"\n  }\n}\n```\n\nJSON payload:\n```json\n{\n  \"summary\": \"string (REQUIRED)\",\n  \"description\": \"string (OPTIONAL - defaults to empty string)\",\n  \"parentCommit\": \"string (OPTIONAL - 40-character hex SHA)\"\n  \"files\": [\n    {\n      \"path\": \"string (REQUIRED)\",\n      \"content\": \"string (OPTIONAL - required if oldPath not set)\",\n      \"encoding\": \"utf-8 | base64 (OPTIONAL - defaults to utf-8)\",\n      \"oldPath\": \"string (OPTIONAL - for move/rename operations)\"\n    }\n  ],\n  \"deletedEntries\": [\n    {\n      \"path\": \"string (REQUIRED)\"\n    }\n  ],\n  \"lfsFiles\": [\n    {\n      \"path\": \"string (REQUIRED - max 1000 chars)\",\n      \"oid\": \"string (OPTIONAL - required if oldPath not set, 64 hex chars)\",\n      \"algo\": \"sha256 (OPTIONAL - only sha256 supported)\",\n      \"size\": \"number (OPTIONAL - required if oldPath is set)\",\n      \"oldPath\": \"string (OPTIONAL - for move/rename operations)\"\n    }\n  ]\n}\n```"
      }
    },
    "com.huggingface.datasets#CreateTagRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.datasets#CreateTag": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.datasets#CreateTagRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/datasets/{namespace}/{repo}/tag/{rev}",
          "code": 200
        },
        "smithy.api#documentation": "Create tag"
      }
    },
    "com.huggingface.datasets#DeleteTagRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.datasets#DeleteTag": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.datasets#DeleteTagRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/datasets/{namespace}/{repo}/tag/{rev}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a tag"
      }
    },
    "com.huggingface.datasets#CreateBranchRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "startingPoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The commit to start from"
          }
        },
        "emptyBranch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Create an empty branch"
          }
        },
        "overwrite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Overwrite the branch if it already exists"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.datasets#CreateBranch": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.datasets#CreateBranchRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/datasets/{namespace}/{repo}/branch/{rev}",
          "code": 200
        },
        "smithy.api#documentation": "Create branch"
      }
    },
    "com.huggingface.datasets#DeleteBranchRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.datasets#DeleteBranch": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.datasets#DeleteBranchRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/datasets/{namespace}/{repo}/branch/{rev}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a branch"
      }
    },
    "com.huggingface.datasets#GetResourceGroupRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.datasets#GetResourceGroupResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "numUsers": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.datasets#GetResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.datasets#GetResourceGroupRequest"
      },
      "output": {
        "target": "com.huggingface.datasets#GetResourceGroupResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/datasets/{namespace}/{repo}/resource-group",
          "code": 200
        },
        "smithy.api#documentation": "Get resource group"
      }
    },
    "com.huggingface.datasets#AddResourceGroupRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "resourceGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource group to add the repository to, if null, the repository will be removed from the resource group",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.datasets#AddResourceGroupResponseType": {
      "type": "enum",
      "members": {
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataset"
          }
        },
        "MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model"
          }
        },
        "SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "space"
          }
        },
        "BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket"
          }
        },
        "KERNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kernel"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#AddResourceGroupResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.huggingface.datasets#AddResourceGroupResponseType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "addedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.datasets#AddResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.datasets#AddResourceGroupRequest"
      },
      "output": {
        "target": "com.huggingface.datasets#AddResourceGroupResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/datasets/{namespace}/{repo}/resource-group",
          "code": 200
        },
        "smithy.api#documentation": "Add resource group\n\nAdd the repository to a resource group"
      }
    },
    "com.huggingface.datasets#SquashRefRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.datasets#SquashRefResponse": {
      "type": "structure",
      "members": {
        "commitId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new commit ID after the squash",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.datasets#SquashRef": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.datasets#SquashRefRequest"
      },
      "output": {
        "target": "com.huggingface.datasets#SquashRefResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/datasets/{namespace}/{repo}/super-squash/{rev}",
          "code": 200
        },
        "smithy.api#documentation": "Squash ref\n\nSquash all commits in the current ref into a single commit with the given message. Action is irreversible."
      }
    },
    "com.huggingface.datasets#UpdateRepoSettingsRequestVisibility": {
      "type": "enum",
      "members": {
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        },
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        },
        "PROTECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "protected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Repository visibility. `protected` is only supported for Spaces."
      }
    },
    "com.huggingface.datasets#UpdateRepoSettingsRequestDiscussionsSorting": {
      "type": "enum",
      "members": {
        "RECENTLY_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "recently-created"
          }
        },
        "TRENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trending"
          }
        },
        "REACTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reactions"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#UpdateRepoSettingsRequestGatedCase1": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#UpdateRepoSettingsRequestGated": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Document"
        },
        "Case1": {
          "target": "com.huggingface.datasets#UpdateRepoSettingsRequestGatedCase1"
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#UpdateRepoSettingsRequestGatedNotificationsMode": {
      "type": "enum",
      "members": {
        "BULK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bulk"
          }
        },
        "REAL_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "real-time"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#UpdateRepoSettingsRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "private": {
          "target": "smithy.api#Boolean"
        },
        "visibility": {
          "target": "com.huggingface.datasets#UpdateRepoSettingsRequestVisibility",
          "traits": {
            "smithy.api#documentation": "Repository visibility. `protected` is only supported for Spaces."
          }
        },
        "discussionsDisabled": {
          "target": "smithy.api#Boolean"
        },
        "discussionsSorting": {
          "target": "com.huggingface.datasets#UpdateRepoSettingsRequestDiscussionsSorting"
        },
        "gated": {
          "target": "com.huggingface.datasets#UpdateRepoSettingsRequestGated"
        },
        "orgMembersGated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, members of the owning org (except admins) must also go through the gated access-request flow."
          }
        },
        "gatedNotificationsEmail": {
          "target": "smithy.api#String"
        },
        "gatedNotificationsMode": {
          "target": "com.huggingface.datasets#UpdateRepoSettingsRequestGatedNotificationsMode"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.datasets#UpdateRepoSettingsResponseVisibility": {
      "type": "enum",
      "members": {
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        },
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        },
        "PROTECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "protected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Repository visibility. `protected` is only supported for Spaces."
      }
    },
    "com.huggingface.datasets#UpdateRepoSettingsResponseDiscussionsSorting": {
      "type": "enum",
      "members": {
        "RECENTLY_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "recently-created"
          }
        },
        "TRENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trending"
          }
        },
        "REACTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reactions"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#UpdateRepoSettingsResponseGatedCase1": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#UpdateRepoSettingsResponseGated": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Document"
        },
        "Case1": {
          "target": "com.huggingface.datasets#UpdateRepoSettingsResponseGatedCase1"
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#UpdateRepoSettingsResponseGatedNotificationsMode": {
      "type": "enum",
      "members": {
        "BULK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bulk"
          }
        },
        "REAL_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "real-time"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#UpdateRepoSettingsResponse": {
      "type": "structure",
      "members": {
        "private": {
          "target": "smithy.api#Boolean"
        },
        "visibility": {
          "target": "com.huggingface.datasets#UpdateRepoSettingsResponseVisibility",
          "traits": {
            "smithy.api#documentation": "Repository visibility. `protected` is only supported for Spaces."
          }
        },
        "discussionsDisabled": {
          "target": "smithy.api#Boolean"
        },
        "discussionsSorting": {
          "target": "com.huggingface.datasets#UpdateRepoSettingsResponseDiscussionsSorting"
        },
        "gated": {
          "target": "com.huggingface.datasets#UpdateRepoSettingsResponseGated"
        },
        "orgMembersGated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, members of the owning org (except admins) must also go through the gated access-request flow."
          }
        },
        "gatedNotificationsEmail": {
          "target": "smithy.api#String"
        },
        "gatedNotificationsMode": {
          "target": "com.huggingface.datasets#UpdateRepoSettingsResponseGatedNotificationsMode"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.datasets#UpdateRepoSettings": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.datasets#UpdateRepoSettingsRequest"
      },
      "output": {
        "target": "com.huggingface.datasets#UpdateRepoSettingsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/datasets/{namespace}/{repo}/settings",
          "code": 200
        },
        "smithy.api#documentation": "Update repo settings\n\nUpdate the settings of a repo"
      }
    },
    "com.huggingface.datasets#ListFolderContentRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "expand": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpQuery": "expand"
          }
        },
        "recursive": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpQuery": "recursive"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.datasets#ListFolderContentResponseBodyItemType": {
      "type": "enum",
      "members": {
        "FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "file"
          }
        },
        "DIRECTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "directory"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListFolderContentResponseBodyItemLfs": {
      "type": "structure",
      "members": {
        "oid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pointerSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListFolderContentResponseBodyItemLastCommit": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListFolderContentResponseBodyItemSecurityFileStatusStatus": {
      "type": "enum",
      "members": {
        "UNSCANNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unscanned"
          }
        },
        "SAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "safe"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "CAUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "caution"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "UNSAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsafe"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.datasets#ListFolderContentResponseBodyItemSecurityFileStatusJFrogScanStatus": {
      "type": "enum",
      "members": {
        "UNSCANNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unscanned"
          }
        },
        "SAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "safe"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "CAUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "caution"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
