{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.huggingface.discussions#CreateBlogCommentRequest": {
      "type": "structure",
      "members": {
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.discussions#CreateBlogCommentResponseNewMessageAuthorPlan": {
      "type": "enum",
      "members": {
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plus"
          }
        },
        "ACADEMIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "academia"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateBlogCommentResponseNewMessageAuthorPrimaryOrgPlan": {
      "type": "enum",
      "members": {
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plus"
          }
        },
        "ACADEMIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "academia"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateBlogCommentResponseNewMessageAuthorPrimaryOrgUserRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contributor"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "NO_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_access"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateBlogCommentResponseNewMessageAuthorPrimaryOrg": {
      "type": "structure",
      "members": {
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isFollowing": {
          "target": "smithy.api#Boolean"
        },
        "plan": {
          "target": "com.huggingface.discussions#CreateBlogCommentResponseNewMessageAuthorPrimaryOrgPlan"
        },
        "details": {
          "target": "smithy.api#String"
        },
        "hasPrivateMembersList": {
          "target": "smithy.api#Boolean"
        },
        "userRole": {
          "target": "com.huggingface.discussions#CreateBlogCommentResponseNewMessageAuthorPrimaryOrgUserRole"
        },
        "numUsers": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateBlogCommentResponseNewMessageAuthorOauthAppImageData": {
      "type": "structure",
      "members": {
        "emoji": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "colorFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "colorTo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateBlogCommentResponseNewMessageAuthorOauthApp": {
      "type": "structure",
      "members": {
        "imageUrl": {
          "target": "smithy.api#String"
        },
        "imageData": {
          "target": "com.huggingface.discussions#CreateBlogCommentResponseNewMessageAuthorOauthAppImageData"
        },
        "url": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateBlogCommentResponseNewMessageAuthor": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String"
        },
        "avatarUrl": {
          "target": "smithy.api#String"
        },
        "fullname": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "isHf": {
          "target": "smithy.api#Boolean"
        },
        "isHfAdmin": {
          "target": "smithy.api#Boolean"
        },
        "isMod": {
          "target": "smithy.api#Boolean"
        },
        "followerCount": {
          "target": "smithy.api#Double"
        },
        "type": {
          "target": "smithy.api#Document"
        },
        "plan": {
          "target": "com.huggingface.discussions#CreateBlogCommentResponseNewMessageAuthorPlan"
        },
        "isUserFollowing": {
          "target": "smithy.api#Boolean"
        },
        "isPro": {
          "target": "smithy.api#Boolean"
        },
        "primaryOrg": {
          "target": "com.huggingface.discussions#CreateBlogCommentResponseNewMessageAuthorPrimaryOrg"
        },
        "isOwner": {
          "target": "smithy.api#Boolean"
        },
        "isOrgMember": {
          "target": "smithy.api#Boolean"
        },
        "isBlockedByMe": {
          "target": "smithy.api#Boolean"
        },
        "oauthApp": {
          "target": "com.huggingface.discussions#CreateBlogCommentResponseNewMessageAuthorOauthApp"
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateBlogCommentResponseNewMessageDataHiddenReason": {
      "type": "enum",
      "members": {
        "SPAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Spam"
          }
        },
        "ABUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Abuse"
          }
        },
        "GRAPHIC_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Graphic Content"
          }
        },
        "RESOLVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Resolved"
          }
        },
        "OFF_TOPIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Off-Topic"
          }
        },
        "LOW_QUALITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Low Quality"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateBlogCommentResponseNewMessageDataLatestAuthorCase0Plan": {
      "type": "enum",
      "members": {
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plus"
          }
        },
        "ACADEMIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "academia"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateBlogCommentResponseNewMessageDataLatestAuthorCase0": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHfAdmin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isMod": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "followerCount": {
          "target": "smithy.api#Double"
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "plan": {
          "target": "com.huggingface.discussions#CreateBlogCommentResponseNewMessageDataLatestAuthorCase0Plan"
        },
        "isUserFollowing": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateBlogCommentResponseNewMessageDataLatestAuthorCase1PrimaryOrgPlan": {
      "type": "enum",
      "members": {
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plus"
          }
        },
        "ACADEMIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "academia"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateBlogCommentResponseNewMessageDataLatestAuthorCase1PrimaryOrgUserRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contributor"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "NO_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_access"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateBlogCommentResponseNewMessageDataLatestAuthorCase1PrimaryOrg": {
      "type": "structure",
      "members": {
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isFollowing": {
          "target": "smithy.api#Boolean"
        },
        "plan": {
          "target": "com.huggingface.discussions#CreateBlogCommentResponseNewMessageDataLatestAuthorCase1PrimaryOrgPlan"
        },
        "details": {
          "target": "smithy.api#String"
        },
        "hasPrivateMembersList": {
          "target": "smithy.api#Boolean"
        },
        "userRole": {
          "target": "com.huggingface.discussions#CreateBlogCommentResponseNewMessageDataLatestAuthorCase1PrimaryOrgUserRole"
        },
        "numUsers": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateBlogCommentResponseNewMessageDataLatestAuthorCase1": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHfAdmin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isMod": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "followerCount": {
          "target": "smithy.api#Double"
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isPro": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isUserFollowing": {
          "target": "smithy.api#Boolean"
        },
        "primaryOrg": {
          "target": "com.huggingface.discussions#CreateBlogCommentResponseNewMessageDataLatestAuthorCase1PrimaryOrg"
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateBlogCommentResponseNewMessageDataLatestAuthor": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.discussions#CreateBlogCommentResponseNewMessageDataLatestAuthorCase0"
        },
        "Case1": {
          "target": "com.huggingface.discussions#CreateBlogCommentResponseNewMessageDataLatestAuthorCase1"
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateBlogCommentResponseNewMessageDataLatest": {
      "type": "structure",
      "members": {
        "raw": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "author": {
          "target": "com.huggingface.discussions#CreateBlogCommentResponseNewMessageDataLatestAuthor"
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateBlogCommentResponseNewMessageDataEditorsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateBlogCommentResponseNewMessageDataEditorAvatarUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateBlogCommentResponseNewMessageDataReactionsItemReaction": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "🔥"
          }
        },
        "VALUE_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "🚀"
          }
        },
        "VALUE_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "👀"
          }
        },
        "VALUE_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "❤️"
          }
        },
        "VALUE_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "🤗"
          }
        },
        "VALUE_6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "😎"
          }
        },
        "VALUE_7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "➕"
          }
        },
        "VALUE_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "🧠"
          }
        },
        "VALUE_9": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "👍"
          }
        },
        "VALUE_10": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "🤝"
          }
        },
        "VALUE_11": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "😔"
          }
        },
        "VALUE_12": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "🤯"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateBlogCommentResponseNewMessageDataReactionsItemUsersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateBlogCommentResponseNewMessageDataReactionsItem": {
      "type": "structure",
      "members": {
        "reaction": {
          "target": "com.huggingface.discussions#CreateBlogCommentResponseNewMessageDataReactionsItemReaction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "users": {
          "target": "com.huggingface.discussions#CreateBlogCommentResponseNewMessageDataReactionsItemUsersList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateBlogCommentResponseNewMessageDataReactionsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.discussions#CreateBlogCommentResponseNewMessageDataReactionsItem"
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateBlogCommentResponseNewMessageDataIdentifiedLanguage": {
      "type": "structure",
      "members": {
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "probability": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateBlogCommentResponseNewMessageData": {
      "type": "structure",
      "members": {
        "edited": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hidden": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hiddenBy": {
          "target": "smithy.api#String"
        },
        "hiddenReason": {
          "target": "com.huggingface.discussions#CreateBlogCommentResponseNewMessageDataHiddenReason"
        },
        "latest": {
          "target": "com.huggingface.discussions#CreateBlogCommentResponseNewMessageDataLatest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "numEdits": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "editors": {
          "target": "com.huggingface.discussions#CreateBlogCommentResponseNewMessageDataEditorsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "editorAvatarUrls": {
          "target": "com.huggingface.discussions#CreateBlogCommentResponseNewMessageDataEditorAvatarUrlsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reactions": {
          "target": "com.huggingface.discussions#CreateBlogCommentResponseNewMessageDataReactionsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "identifiedLanguage": {
          "target": "com.huggingface.discussions#CreateBlogCommentResponseNewMessageDataIdentifiedLanguage"
        },
        "relatedEventId": {
          "target": "smithy.api#String"
        },
        "isReport": {
          "target": "smithy.api#Boolean"
        },
        "parentCommentId": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateBlogCommentResponseNewMessage": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "author": {
          "target": "com.huggingface.discussions#CreateBlogCommentResponseNewMessageAuthor"
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.huggingface.discussions#CreateBlogCommentResponseNewMessageData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateBlogCommentResponse": {
      "type": "structure",
      "members": {
        "newMessage": {
          "target": "com.huggingface.discussions#CreateBlogCommentResponseNewMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.discussions#CreateBlogComment": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.discussions#CreateBlogCommentRequest"
      },
      "output": {
        "target": "com.huggingface.discussions#CreateBlogCommentResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/blog/{slug}/comment",
          "code": 200
        },
        "smithy.api#documentation": "Create a new comment"
      }
    },
    "com.huggingface.discussions#ReplyToBlogCommentRequest": {
      "type": "structure",
      "members": {
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "commentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageAuthorPlan": {
      "type": "enum",
      "members": {
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plus"
          }
        },
        "ACADEMIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "academia"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageAuthorPrimaryOrgPlan": {
      "type": "enum",
      "members": {
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plus"
          }
        },
        "ACADEMIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "academia"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageAuthorPrimaryOrgUserRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contributor"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "NO_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_access"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageAuthorPrimaryOrg": {
      "type": "structure",
      "members": {
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isFollowing": {
          "target": "smithy.api#Boolean"
        },
        "plan": {
          "target": "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageAuthorPrimaryOrgPlan"
        },
        "details": {
          "target": "smithy.api#String"
        },
        "hasPrivateMembersList": {
          "target": "smithy.api#Boolean"
        },
        "userRole": {
          "target": "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageAuthorPrimaryOrgUserRole"
        },
        "numUsers": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageAuthorOauthAppImageData": {
      "type": "structure",
      "members": {
        "emoji": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "colorFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "colorTo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageAuthorOauthApp": {
      "type": "structure",
      "members": {
        "imageUrl": {
          "target": "smithy.api#String"
        },
        "imageData": {
          "target": "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageAuthorOauthAppImageData"
        },
        "url": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageAuthor": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String"
        },
        "avatarUrl": {
          "target": "smithy.api#String"
        },
        "fullname": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "isHf": {
          "target": "smithy.api#Boolean"
        },
        "isHfAdmin": {
          "target": "smithy.api#Boolean"
        },
        "isMod": {
          "target": "smithy.api#Boolean"
        },
        "followerCount": {
          "target": "smithy.api#Double"
        },
        "type": {
          "target": "smithy.api#Document"
        },
        "plan": {
          "target": "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageAuthorPlan"
        },
        "isUserFollowing": {
          "target": "smithy.api#Boolean"
        },
        "isPro": {
          "target": "smithy.api#Boolean"
        },
        "primaryOrg": {
          "target": "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageAuthorPrimaryOrg"
        },
        "isOwner": {
          "target": "smithy.api#Boolean"
        },
        "isOrgMember": {
          "target": "smithy.api#Boolean"
        },
        "isBlockedByMe": {
          "target": "smithy.api#Boolean"
        },
        "oauthApp": {
          "target": "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageAuthorOauthApp"
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageDataHiddenReason": {
      "type": "enum",
      "members": {
        "SPAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Spam"
          }
        },
        "ABUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Abuse"
          }
        },
        "GRAPHIC_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Graphic Content"
          }
        },
        "RESOLVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Resolved"
          }
        },
        "OFF_TOPIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Off-Topic"
          }
        },
        "LOW_QUALITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Low Quality"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageDataLatestAuthorCase0Plan": {
      "type": "enum",
      "members": {
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plus"
          }
        },
        "ACADEMIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "academia"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageDataLatestAuthorCase0": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHfAdmin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isMod": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "followerCount": {
          "target": "smithy.api#Double"
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "plan": {
          "target": "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageDataLatestAuthorCase0Plan"
        },
        "isUserFollowing": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageDataLatestAuthorCase1PrimaryOrgPlan": {
      "type": "enum",
      "members": {
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plus"
          }
        },
        "ACADEMIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "academia"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageDataLatestAuthorCase1PrimaryOrgUserRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contributor"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "NO_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_access"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageDataLatestAuthorCase1PrimaryOrg": {
      "type": "structure",
      "members": {
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isFollowing": {
          "target": "smithy.api#Boolean"
        },
        "plan": {
          "target": "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageDataLatestAuthorCase1PrimaryOrgPlan"
        },
        "details": {
          "target": "smithy.api#String"
        },
        "hasPrivateMembersList": {
          "target": "smithy.api#Boolean"
        },
        "userRole": {
          "target": "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageDataLatestAuthorCase1PrimaryOrgUserRole"
        },
        "numUsers": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageDataLatestAuthorCase1": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHfAdmin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isMod": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "followerCount": {
          "target": "smithy.api#Double"
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isPro": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isUserFollowing": {
          "target": "smithy.api#Boolean"
        },
        "primaryOrg": {
          "target": "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageDataLatestAuthorCase1PrimaryOrg"
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageDataLatestAuthor": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageDataLatestAuthorCase0"
        },
        "Case1": {
          "target": "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageDataLatestAuthorCase1"
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageDataLatest": {
      "type": "structure",
      "members": {
        "raw": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "author": {
          "target": "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageDataLatestAuthor"
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageDataEditorsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageDataEditorAvatarUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageDataReactionsItemReaction": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "🔥"
          }
        },
        "VALUE_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "🚀"
          }
        },
        "VALUE_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "👀"
          }
        },
        "VALUE_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "❤️"
          }
        },
        "VALUE_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "🤗"
          }
        },
        "VALUE_6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "😎"
          }
        },
        "VALUE_7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "➕"
          }
        },
        "VALUE_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "🧠"
          }
        },
        "VALUE_9": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "👍"
          }
        },
        "VALUE_10": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "🤝"
          }
        },
        "VALUE_11": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "😔"
          }
        },
        "VALUE_12": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "🤯"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageDataReactionsItemUsersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageDataReactionsItem": {
      "type": "structure",
      "members": {
        "reaction": {
          "target": "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageDataReactionsItemReaction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "users": {
          "target": "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageDataReactionsItemUsersList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageDataReactionsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageDataReactionsItem"
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageDataIdentifiedLanguage": {
      "type": "structure",
      "members": {
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "probability": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageData": {
      "type": "structure",
      "members": {
        "edited": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hidden": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hiddenBy": {
          "target": "smithy.api#String"
        },
        "hiddenReason": {
          "target": "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageDataHiddenReason"
        },
        "latest": {
          "target": "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageDataLatest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "numEdits": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "editors": {
          "target": "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageDataEditorsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "editorAvatarUrls": {
          "target": "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageDataEditorAvatarUrlsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reactions": {
          "target": "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageDataReactionsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "identifiedLanguage": {
          "target": "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageDataIdentifiedLanguage"
        },
        "relatedEventId": {
          "target": "smithy.api#String"
        },
        "isReport": {
          "target": "smithy.api#Boolean"
        },
        "parentCommentId": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessage": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "author": {
          "target": "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageAuthor"
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessageData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToBlogCommentResponse": {
      "type": "structure",
      "members": {
        "newMessage": {
          "target": "com.huggingface.discussions#ReplyToBlogCommentResponseNewMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.discussions#ReplyToBlogComment": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.discussions#ReplyToBlogCommentRequest"
      },
      "output": {
        "target": "com.huggingface.discussions#ReplyToBlogCommentResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/blog/{slug}/comment/{commentId}/reply",
          "code": 200
        },
        "smithy.api#documentation": "Create a new comment"
      }
    },
    "com.huggingface.discussions#CreateCommunityBlogCommentRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageAuthorPlan": {
      "type": "enum",
      "members": {
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plus"
          }
        },
        "ACADEMIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "academia"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageAuthorPrimaryOrgPlan": {
      "type": "enum",
      "members": {
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plus"
          }
        },
        "ACADEMIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "academia"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageAuthorPrimaryOrgUserRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contributor"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "NO_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_access"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageAuthorPrimaryOrg": {
      "type": "structure",
      "members": {
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isFollowing": {
          "target": "smithy.api#Boolean"
        },
        "plan": {
          "target": "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageAuthorPrimaryOrgPlan"
        },
        "details": {
          "target": "smithy.api#String"
        },
        "hasPrivateMembersList": {
          "target": "smithy.api#Boolean"
        },
        "userRole": {
          "target": "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageAuthorPrimaryOrgUserRole"
        },
        "numUsers": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageAuthorOauthAppImageData": {
      "type": "structure",
      "members": {
        "emoji": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "colorFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "colorTo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageAuthorOauthApp": {
      "type": "structure",
      "members": {
        "imageUrl": {
          "target": "smithy.api#String"
        },
        "imageData": {
          "target": "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageAuthorOauthAppImageData"
        },
        "url": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageAuthor": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String"
        },
        "avatarUrl": {
          "target": "smithy.api#String"
        },
        "fullname": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "isHf": {
          "target": "smithy.api#Boolean"
        },
        "isHfAdmin": {
          "target": "smithy.api#Boolean"
        },
        "isMod": {
          "target": "smithy.api#Boolean"
        },
        "followerCount": {
          "target": "smithy.api#Double"
        },
        "type": {
          "target": "smithy.api#Document"
        },
        "plan": {
          "target": "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageAuthorPlan"
        },
        "isUserFollowing": {
          "target": "smithy.api#Boolean"
        },
        "isPro": {
          "target": "smithy.api#Boolean"
        },
        "primaryOrg": {
          "target": "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageAuthorPrimaryOrg"
        },
        "isOwner": {
          "target": "smithy.api#Boolean"
        },
        "isOrgMember": {
          "target": "smithy.api#Boolean"
        },
        "isBlockedByMe": {
          "target": "smithy.api#Boolean"
        },
        "oauthApp": {
          "target": "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageAuthorOauthApp"
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageDataHiddenReason": {
      "type": "enum",
      "members": {
        "SPAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Spam"
          }
        },
        "ABUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Abuse"
          }
        },
        "GRAPHIC_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Graphic Content"
          }
        },
        "RESOLVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Resolved"
          }
        },
        "OFF_TOPIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Off-Topic"
          }
        },
        "LOW_QUALITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Low Quality"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageDataLatestAuthorCase0Plan": {
      "type": "enum",
      "members": {
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plus"
          }
        },
        "ACADEMIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "academia"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageDataLatestAuthorCase0": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHfAdmin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isMod": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "followerCount": {
          "target": "smithy.api#Double"
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "plan": {
          "target": "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageDataLatestAuthorCase0Plan"
        },
        "isUserFollowing": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageDataLatestAuthorCase1PrimaryOrgPlan": {
      "type": "enum",
      "members": {
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plus"
          }
        },
        "ACADEMIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "academia"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageDataLatestAuthorCase1PrimaryOrgUserRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contributor"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "NO_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_access"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageDataLatestAuthorCase1PrimaryOrg": {
      "type": "structure",
      "members": {
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isFollowing": {
          "target": "smithy.api#Boolean"
        },
        "plan": {
          "target": "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageDataLatestAuthorCase1PrimaryOrgPlan"
        },
        "details": {
          "target": "smithy.api#String"
        },
        "hasPrivateMembersList": {
          "target": "smithy.api#Boolean"
        },
        "userRole": {
          "target": "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageDataLatestAuthorCase1PrimaryOrgUserRole"
        },
        "numUsers": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageDataLatestAuthorCase1": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHfAdmin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isMod": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "followerCount": {
          "target": "smithy.api#Double"
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isPro": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isUserFollowing": {
          "target": "smithy.api#Boolean"
        },
        "primaryOrg": {
          "target": "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageDataLatestAuthorCase1PrimaryOrg"
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageDataLatestAuthor": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageDataLatestAuthorCase0"
        },
        "Case1": {
          "target": "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageDataLatestAuthorCase1"
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageDataLatest": {
      "type": "structure",
      "members": {
        "raw": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "author": {
          "target": "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageDataLatestAuthor"
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageDataEditorsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageDataEditorAvatarUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageDataReactionsItemReaction": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "🔥"
          }
        },
        "VALUE_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "🚀"
          }
        },
        "VALUE_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "👀"
          }
        },
        "VALUE_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "❤️"
          }
        },
        "VALUE_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "🤗"
          }
        },
        "VALUE_6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "😎"
          }
        },
        "VALUE_7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "➕"
          }
        },
        "VALUE_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "🧠"
          }
        },
        "VALUE_9": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "👍"
          }
        },
        "VALUE_10": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "🤝"
          }
        },
        "VALUE_11": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "😔"
          }
        },
        "VALUE_12": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "🤯"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageDataReactionsItemUsersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageDataReactionsItem": {
      "type": "structure",
      "members": {
        "reaction": {
          "target": "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageDataReactionsItemReaction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "users": {
          "target": "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageDataReactionsItemUsersList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageDataReactionsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageDataReactionsItem"
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageDataIdentifiedLanguage": {
      "type": "structure",
      "members": {
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "probability": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageData": {
      "type": "structure",
      "members": {
        "edited": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hidden": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hiddenBy": {
          "target": "smithy.api#String"
        },
        "hiddenReason": {
          "target": "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageDataHiddenReason"
        },
        "latest": {
          "target": "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageDataLatest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "numEdits": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "editors": {
          "target": "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageDataEditorsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "editorAvatarUrls": {
          "target": "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageDataEditorAvatarUrlsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reactions": {
          "target": "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageDataReactionsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "identifiedLanguage": {
          "target": "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageDataIdentifiedLanguage"
        },
        "relatedEventId": {
          "target": "smithy.api#String"
        },
        "isReport": {
          "target": "smithy.api#Boolean"
        },
        "parentCommentId": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessage": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "author": {
          "target": "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageAuthor"
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessageData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#CreateCommunityBlogCommentResponse": {
      "type": "structure",
      "members": {
        "newMessage": {
          "target": "com.huggingface.discussions#CreateCommunityBlogCommentResponseNewMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.discussions#CreateCommunityBlogComment": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.discussions#CreateCommunityBlogCommentRequest"
      },
      "output": {
        "target": "com.huggingface.discussions#CreateCommunityBlogCommentResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/blog/{namespace}/{slug}/comment",
          "code": 200
        },
        "smithy.api#documentation": "Create a new comment"
      }
    },
    "com.huggingface.discussions#ReplyToCommunityBlogCommentRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "commentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageAuthorPlan": {
      "type": "enum",
      "members": {
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plus"
          }
        },
        "ACADEMIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "academia"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageAuthorPrimaryOrgPlan": {
      "type": "enum",
      "members": {
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plus"
          }
        },
        "ACADEMIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "academia"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageAuthorPrimaryOrgUserRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contributor"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "NO_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_access"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageAuthorPrimaryOrg": {
      "type": "structure",
      "members": {
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isFollowing": {
          "target": "smithy.api#Boolean"
        },
        "plan": {
          "target": "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageAuthorPrimaryOrgPlan"
        },
        "details": {
          "target": "smithy.api#String"
        },
        "hasPrivateMembersList": {
          "target": "smithy.api#Boolean"
        },
        "userRole": {
          "target": "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageAuthorPrimaryOrgUserRole"
        },
        "numUsers": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageAuthorOauthAppImageData": {
      "type": "structure",
      "members": {
        "emoji": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "colorFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "colorTo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageAuthorOauthApp": {
      "type": "structure",
      "members": {
        "imageUrl": {
          "target": "smithy.api#String"
        },
        "imageData": {
          "target": "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageAuthorOauthAppImageData"
        },
        "url": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageAuthor": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String"
        },
        "avatarUrl": {
          "target": "smithy.api#String"
        },
        "fullname": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "isHf": {
          "target": "smithy.api#Boolean"
        },
        "isHfAdmin": {
          "target": "smithy.api#Boolean"
        },
        "isMod": {
          "target": "smithy.api#Boolean"
        },
        "followerCount": {
          "target": "smithy.api#Double"
        },
        "type": {
          "target": "smithy.api#Document"
        },
        "plan": {
          "target": "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageAuthorPlan"
        },
        "isUserFollowing": {
          "target": "smithy.api#Boolean"
        },
        "isPro": {
          "target": "smithy.api#Boolean"
        },
        "primaryOrg": {
          "target": "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageAuthorPrimaryOrg"
        },
        "isOwner": {
          "target": "smithy.api#Boolean"
        },
        "isOrgMember": {
          "target": "smithy.api#Boolean"
        },
        "isBlockedByMe": {
          "target": "smithy.api#Boolean"
        },
        "oauthApp": {
          "target": "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageAuthorOauthApp"
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageDataHiddenReason": {
      "type": "enum",
      "members": {
        "SPAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Spam"
          }
        },
        "ABUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Abuse"
          }
        },
        "GRAPHIC_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Graphic Content"
          }
        },
        "RESOLVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Resolved"
          }
        },
        "OFF_TOPIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Off-Topic"
          }
        },
        "LOW_QUALITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Low Quality"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageDataLatestAuthorCase0Plan": {
      "type": "enum",
      "members": {
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plus"
          }
        },
        "ACADEMIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "academia"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageDataLatestAuthorCase0": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHfAdmin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isMod": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "followerCount": {
          "target": "smithy.api#Double"
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "plan": {
          "target": "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageDataLatestAuthorCase0Plan"
        },
        "isUserFollowing": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageDataLatestAuthorCase1PrimaryOrgPlan": {
      "type": "enum",
      "members": {
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plus"
          }
        },
        "ACADEMIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "academia"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageDataLatestAuthorCase1PrimaryOrgUserRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contributor"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "NO_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_access"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageDataLatestAuthorCase1PrimaryOrg": {
      "type": "structure",
      "members": {
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isFollowing": {
          "target": "smithy.api#Boolean"
        },
        "plan": {
          "target": "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageDataLatestAuthorCase1PrimaryOrgPlan"
        },
        "details": {
          "target": "smithy.api#String"
        },
        "hasPrivateMembersList": {
          "target": "smithy.api#Boolean"
        },
        "userRole": {
          "target": "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageDataLatestAuthorCase1PrimaryOrgUserRole"
        },
        "numUsers": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageDataLatestAuthorCase1": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHfAdmin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isMod": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "followerCount": {
          "target": "smithy.api#Double"
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isPro": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isUserFollowing": {
          "target": "smithy.api#Boolean"
        },
        "primaryOrg": {
          "target": "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageDataLatestAuthorCase1PrimaryOrg"
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageDataLatestAuthor": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageDataLatestAuthorCase0"
        },
        "Case1": {
          "target": "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageDataLatestAuthorCase1"
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageDataLatest": {
      "type": "structure",
      "members": {
        "raw": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "author": {
          "target": "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageDataLatestAuthor"
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageDataEditorsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageDataEditorAvatarUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageDataReactionsItemReaction": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "🔥"
          }
        },
        "VALUE_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "🚀"
          }
        },
        "VALUE_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "👀"
          }
        },
        "VALUE_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "❤️"
          }
        },
        "VALUE_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "🤗"
          }
        },
        "VALUE_6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "😎"
          }
        },
        "VALUE_7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "➕"
          }
        },
        "VALUE_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "🧠"
          }
        },
        "VALUE_9": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "👍"
          }
        },
        "VALUE_10": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "🤝"
          }
        },
        "VALUE_11": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "😔"
          }
        },
        "VALUE_12": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "🤯"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageDataReactionsItemUsersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageDataReactionsItem": {
      "type": "structure",
      "members": {
        "reaction": {
          "target": "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageDataReactionsItemReaction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "users": {
          "target": "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageDataReactionsItemUsersList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageDataReactionsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageDataReactionsItem"
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageDataIdentifiedLanguage": {
      "type": "structure",
      "members": {
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "probability": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageData": {
      "type": "structure",
      "members": {
        "edited": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hidden": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hiddenBy": {
          "target": "smithy.api#String"
        },
        "hiddenReason": {
          "target": "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageDataHiddenReason"
        },
        "latest": {
          "target": "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageDataLatest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "numEdits": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "editors": {
          "target": "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageDataEditorsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "editorAvatarUrls": {
          "target": "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageDataEditorAvatarUrlsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reactions": {
          "target": "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageDataReactionsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "identifiedLanguage": {
          "target": "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageDataIdentifiedLanguage"
        },
        "relatedEventId": {
          "target": "smithy.api#String"
        },
        "isReport": {
          "target": "smithy.api#Boolean"
        },
        "parentCommentId": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessage": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "author": {
          "target": "com.huggingface.discussions#ReplyToCommunityBlogCommentResponseNewMessageAuthor"
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
[...]
