{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.huggingface.inference_endpoints#CheckNamespaceAccessRequestPerms": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "INFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "infer"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.inference_endpoints#CheckNamespaceAccessRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "perms": {
          "target": "com.huggingface.inference_endpoints#CheckNamespaceAccessRequestPerms",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "own": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpQuery": "own"
          }
        },
        "is_creator": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpQuery": "is_creator"
          }
        },
        "creator_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "creator_id"
          }
        },
        "incur_cost": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpQuery": "incur_cost"
          }
        },
        "resource_group_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "resource_group_id"
          }
        },
        "repo_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repo_id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.inference_endpoints#CheckNamespaceAccessResponseNamespace": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.inference_endpoints#CheckNamespaceAccessResponseUser": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasHfLevelAccess": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.huggingface.inference_endpoints#CheckNamespaceAccessResponse": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "com.huggingface.inference_endpoints#CheckNamespaceAccessResponseNamespace",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "com.huggingface.inference_endpoints#CheckNamespaceAccessResponseUser",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceGroupId": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.inference_endpoints#CheckNamespaceAccess": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.inference_endpoints#CheckNamespaceAccessRequest"
      },
      "output": {
        "target": "com.huggingface.inference_endpoints#CheckNamespaceAccessResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/inference-endpoints/{namespace}/auth-check/{perms}",
          "code": 200
        },
        "smithy.api#documentation": "Check access\n\nCheck if the user has access to the inference endpoint"
      }
    },
    "com.huggingface.inference_endpoints#CheckEndpointAccessRequestPerms": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "INFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "infer"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.inference_endpoints#CheckEndpointAccessRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "perms": {
          "target": "com.huggingface.inference_endpoints#CheckEndpointAccessRequestPerms",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "own": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpQuery": "own"
          }
        },
        "is_creator": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpQuery": "is_creator"
          }
        },
        "creator_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "creator_id"
          }
        },
        "incur_cost": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpQuery": "incur_cost"
          }
        },
        "resource_group_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "resource_group_id"
          }
        },
        "repo_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repo_id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.inference_endpoints#CheckEndpointAccessResponseNamespace": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.inference_endpoints#CheckEndpointAccessResponseUser": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasHfLevelAccess": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.huggingface.inference_endpoints#CheckEndpointAccessResponse": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "com.huggingface.inference_endpoints#CheckEndpointAccessResponseNamespace",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "com.huggingface.inference_endpoints#CheckEndpointAccessResponseUser",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceGroupId": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.inference_endpoints#CheckEndpointAccess": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.inference_endpoints#CheckEndpointAccessRequest"
      },
      "output": {
        "target": "com.huggingface.inference_endpoints#CheckEndpointAccessResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/inference-endpoints/{namespace}/{endpoint}/auth-check/{perms}",
          "code": 200
        },
        "smithy.api#documentation": "Check access\n\nCheck if the user has access to the inference endpoint"
      }
    },
    "com.huggingface.inference_endpoints#InferenceEndpoints": {
      "type": "service",
      "version": "0.0.1",
      "operations": [
        {
          "target": "com.huggingface.inference_endpoints#CheckNamespaceAccess"
        },
        {
          "target": "com.huggingface.inference_endpoints#CheckEndpointAccess"
        }
      ],
      "traits": {
        "smithy.api#title": "Hub API Endpoints",
        "smithy.api#documentation": "We have open endpoints that you can use to retrieve information from the Hub as well as perform certain actions such as creating model, dataset or Space repos. We offer a wrapper Python client, [`huggingface_hub`](https://github.com/huggingface/huggingface_hub), and a JS client, [`huggingface.js`](https://github.com/huggingface/huggingface.js), that allow easy access to these endpoints. We also provide [webhooks](https://huggingface.co/docs/hub/webhooks) to receive real-time incremental info about repos. Enjoy!\n\nThe base URL for those endpoints below is `https://huggingface.co`. For example, to construct the `/api/models` call below, one can call the URL [https://huggingface.co/api/models](https://huggingface.co/api/models).\n\nIf you're an Agent, you might prefer the [markdown version OpenAPI spec](https://huggingface.co/.well-known/openapi.md)."
      }
    }
  }
}
