{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.huggingface.jobs#CheckNamespaceAccessRequestPerms": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#CheckNamespaceAccessRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "perms": {
          "target": "com.huggingface.jobs#CheckNamespaceAccessRequestPerms",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.jobs#CheckNamespaceAccessResponseNamespace": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#CheckNamespaceAccessResponseUser": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#CheckNamespaceAccessResponse": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "com.huggingface.jobs#CheckNamespaceAccessResponseNamespace",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "com.huggingface.jobs#CheckNamespaceAccessResponseUser",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.jobs#CheckNamespaceAccess": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.jobs#CheckNamespaceAccessRequest"
      },
      "output": {
        "target": "com.huggingface.jobs#CheckNamespaceAccessResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/jobs/{namespace}/auth-check/{perms}",
          "code": 200
        },
        "smithy.api#documentation": "Check access\n\nCheck if the user has access to jobs in the namespace"
      }
    },
    "com.huggingface.jobs#CheckJobAccessRequestPerms": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#CheckJobAccessRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "jobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "perms": {
          "target": "com.huggingface.jobs#CheckJobAccessRequestPerms",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.jobs#CheckJobAccessResponseNamespace": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#CheckJobAccessResponseUser": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#CheckJobAccessResponse": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "com.huggingface.jobs#CheckJobAccessResponseNamespace",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "com.huggingface.jobs#CheckJobAccessResponseUser",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.jobs#CheckJobAccess": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.jobs#CheckJobAccessRequest"
      },
      "output": {
        "target": "com.huggingface.jobs#CheckJobAccessResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/jobs/{namespace}/{jobId}/auth-check/{perms}",
          "code": 200
        },
        "smithy.api#documentation": "Check access\n\nCheck if the user has access to jobs in the namespace"
      }
    },
    "com.huggingface.jobs#GetJobHardwareResponseBodyItemAcceleratorType": {
      "type": "enum",
      "members": {
        "GPU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpu"
          }
        },
        "NEURON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "neuron"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#GetJobHardwareResponseBodyItemAcceleratorManufacturer": {
      "type": "enum",
      "members": {
        "NVIDIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Nvidia"
          }
        },
        "AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#GetJobHardwareResponseBodyItemAccelerator": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.huggingface.jobs#GetJobHardwareResponseBodyItemAcceleratorType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "quantity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "vram": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "manufacturer": {
          "target": "com.huggingface.jobs#GetJobHardwareResponseBodyItemAcceleratorManufacturer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#GetJobHardwareResponseBodyItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "prettyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cpu": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ram": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ephemeralStorage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "accelerator": {
          "target": "com.huggingface.jobs#GetJobHardwareResponseBodyItemAccelerator",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "unitCostMicroUSD": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "unitCostUSD": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "unitLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#GetJobHardwareResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.jobs#GetJobHardwareResponseBodyItem"
      },
      "traits": {}
    },
    "com.huggingface.jobs#GetJobHardwareResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.huggingface.jobs#GetJobHardwareResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.jobs#GetJobHardware": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.huggingface.jobs#GetJobHardwareResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/jobs/hardware",
          "code": 200
        },
        "smithy.api#documentation": "Get job hardware\n\nGet available job hardware"
      }
    },
    "com.huggingface.jobs#ListJobsRequestLabelCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.jobs#ListJobsRequestLabel": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.huggingface.jobs#ListJobsRequestLabelCase1List"
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter jobs by label. Format: 'key=value' (e.g., 'environment=production'). Repeat the parameter to filter by several labels."
      }
    },
    "com.huggingface.jobs#ListJobsRequestStageCase0": {
      "type": "enum",
      "members": {
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "SCHEDULING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULING"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#ListJobsRequestStageCase1Item": {
      "type": "enum",
      "members": {
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "SCHEDULING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULING"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#ListJobsRequestStageCase1List": {
      "type": "list",
      "member": {
        "target": "com.huggingface.jobs#ListJobsRequestStageCase1Item"
      },
      "traits": {}
    },
    "com.huggingface.jobs#ListJobsRequestStage": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.jobs#ListJobsRequestStageCase0"
        },
        "Case1": {
          "target": "com.huggingface.jobs#ListJobsRequestStageCase1List"
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter jobs by status stage. Repeat the parameter to filter by several stages."
      }
    },
    "com.huggingface.jobs#ListJobsRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "com.huggingface.jobs#ListJobsRequestLabel",
          "traits": {
            "smithy.api#httpQuery": "label"
          }
        },
        "stage": {
          "target": "com.huggingface.jobs#ListJobsRequestStage",
          "traits": {
            "smithy.api#httpQuery": "stage"
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.jobs#ListJobsResponseBodyItemEnvironmentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.jobs#ListJobsResponseBodyItemCommandList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.jobs#ListJobsResponseBodyItemArgumentsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.jobs#ListJobsResponseBodyItemArch": {
      "type": "enum",
      "members": {
        "AMD64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amd64"
          }
        },
        "ARM64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "arm64"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#ListJobsResponseBodyItemFlavor": {
      "type": "enum",
      "members": {
        "CPU_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-basic"
          }
        },
        "CPU_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-upgrade"
          }
        },
        "CPU_PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-performance"
          }
        },
        "CPU_XL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-xl"
          }
        },
        "SPRX8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sprx8"
          }
        },
        "ZERO_A10G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zero-a10g"
          }
        },
        "T4_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "t4-small"
          }
        },
        "T4_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "t4-medium"
          }
        },
        "L4X1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l4x1"
          }
        },
        "L4X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l4x4"
          }
        },
        "L40SX1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx1"
          }
        },
        "L40SX4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx4"
          }
        },
        "L40SX8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx8"
          }
        },
        "A10G_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-small"
          }
        },
        "A10G_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-large"
          }
        },
        "A10G_LARGEX2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-largex2"
          }
        },
        "A10G_LARGEX4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-largex4"
          }
        },
        "A100_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100-large"
          }
        },
        "A100X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100x4"
          }
        },
        "A100X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100x8"
          }
        },
        "H200": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200"
          }
        },
        "H200X2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x2"
          }
        },
        "H200X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x4"
          }
        },
        "H200X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x8"
          }
        },
        "RTX_PRO_6000": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000"
          }
        },
        "RTX_PRO_6000X2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x2"
          }
        },
        "RTX_PRO_6000X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x4"
          }
        },
        "RTX_PRO_6000X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x8"
          }
        },
        "INF2X6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inf2x6"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#ListJobsResponseBodyItemCreatedBy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#ListJobsResponseBodyItemDurations": {
      "type": "structure",
      "members": {
        "schedulingSecs": {
          "target": "smithy.api#Double"
        },
        "runningSecs": {
          "target": "smithy.api#Double"
        },
        "totalSecs": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#ListJobsResponseBodyItemVolumesItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mountPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "revision": {
          "target": "smithy.api#String"
        },
        "readOnly": {
          "target": "smithy.api#Boolean"
        },
        "path": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#ListJobsResponseBodyItemVolumesList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.jobs#ListJobsResponseBodyItemVolumesItem"
      },
      "traits": {}
    },
    "com.huggingface.jobs#ListJobsResponseBodyItemExposePortsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.huggingface.jobs#ListJobsResponseBodyItemExposePortsPublicList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Subset of `ports` reachable without any authentication."
      }
    },
    "com.huggingface.jobs#ListJobsResponseBodyItemExpose": {
      "type": "structure",
      "members": {
        "ports": {
          "target": "com.huggingface.jobs#ListJobsResponseBodyItemExposePortsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "portsPublic": {
          "target": "com.huggingface.jobs#ListJobsResponseBodyItemExposePortsPublicList",
          "traits": {
            "smithy.api#documentation": "Subset of `ports` reachable without any authentication."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ports exposed through the jobs proxy (see `status.exposeUrls` for the reachable URLs)."
      }
    },
    "com.huggingface.jobs#ListJobsResponseBodyItemOwnerType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ORG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#ListJobsResponseBodyItemOwner": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.huggingface.jobs#ListJobsResponseBodyItemOwnerType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#ListJobsResponseBodyItemResourceGroup": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "numUsers": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#ListJobsResponseBodyItemInitiatorCase0Type": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ORG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#ListJobsResponseBodyItemInitiatorCase0": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.huggingface.jobs#ListJobsResponseBodyItemInitiatorCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#ListJobsResponseBodyItemInitiatorCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#ListJobsResponseBodyItemInitiatorCase2": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#ListJobsResponseBodyItemInitiatorCase3": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#ListJobsResponseBodyItemInitiator": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.jobs#ListJobsResponseBodyItemInitiatorCase0"
        },
        "Case1": {
          "target": "com.huggingface.jobs#ListJobsResponseBodyItemInitiatorCase1"
        },
        "Case2": {
          "target": "com.huggingface.jobs#ListJobsResponseBodyItemInitiatorCase2"
        },
        "Case3": {
          "target": "com.huggingface.jobs#ListJobsResponseBodyItemInitiatorCase3"
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#ListJobsResponseBodyItemStatusStage": {
      "type": "enum",
      "members": {
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "SCHEDULING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULING"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#ListJobsResponseBodyItemStatusCancelReasonCase0": {
      "type": "enum",
      "members": {
        "NO_CREDITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_CREDITS"
          }
        },
        "NO_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_SUBSCRIPTION"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#ListJobsResponseBodyItemStatusCancelReason": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.jobs#ListJobsResponseBodyItemStatusCancelReasonCase0"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#ListJobsResponseBodyItemStatusExposeUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "One reachable URL per port declared in `expose.ports`, in the same order (e.g. `https://<job_id>--8000.hf.jobs`). Absent when the job is not exposed."
      }
    },
    "com.huggingface.jobs#ListJobsResponseBodyItemStatus": {
      "type": "structure",
      "members": {
        "stage": {
          "target": "com.huggingface.jobs#ListJobsResponseBodyItemStatusStage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "cancelReason": {
          "target": "com.huggingface.jobs#ListJobsResponseBodyItemStatusCancelReason"
        },
        "failureCount": {
          "target": "smithy.api#Double"
        },
        "exposeUrls": {
          "target": "com.huggingface.jobs#ListJobsResponseBodyItemStatusExposeUrlsList",
          "traits": {
            "smithy.api#documentation": "One reachable URL per port declared in `expose.ports`, in the same order (e.g. `https://<job_id>--8000.hf.jobs`). Absent when the job is not exposed."
          }
        },
        "sshUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SSH endpoint for the job (e.g. `ssh://<job_id>@ssh.hf.jobs`). Only present when `ssh.enabled`."
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#ListJobsResponseBodyItemSecretsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.jobs#ListJobsResponseBodyItemLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.jobs#ListJobsResponseBodyItemHfTokenTokenRole": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "FINEGRAINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fineGrained"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#ListJobsResponseBodyItemHfToken": {
      "type": "structure",
      "members": {
        "ownerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "orgName": {
          "target": "smithy.api#String"
        },
        "tokenRole": {
          "target": "com.huggingface.jobs#ListJobsResponseBodyItemHfTokenTokenRole"
        },
        "tokenId": {
          "target": "smithy.api#String"
        },
        "settingsUrl": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#ListJobsResponseBodyItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "spaceId": {
          "target": "smithy.api#String"
        },
        "dockerImage": {
          "target": "smithy.api#String"
        },
        "timeout": {
          "target": "smithy.api#Double"
        },
        "environment": {
          "target": "com.huggingface.jobs#ListJobsResponseBodyItemEnvironmentMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "com.huggingface.jobs#ListJobsResponseBodyItemCommandList"
        },
        "arguments": {
          "target": "com.huggingface.jobs#ListJobsResponseBodyItemArgumentsList"
        },
        "arch": {
          "target": "com.huggingface.jobs#ListJobsResponseBodyItemArch"
        },
        "flavor": {
          "target": "com.huggingface.jobs#ListJobsResponseBodyItemFlavor",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdBy": {
          "target": "com.huggingface.jobs#ListJobsResponseBodyItemCreatedBy",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceGroupId": {
          "target": "smithy.api#String"
        },
        "retry": {
          "target": "smithy.api#Double"
        },
        "startedAt": {
          "target": "smithy.api#String"
        },
        "finishedAt": {
          "target": "smithy.api#String"
        },
        "durations": {
          "target": "com.huggingface.jobs#ListJobsResponseBodyItemDurations"
        },
        "volumes": {
          "target": "com.huggingface.jobs#ListJobsResponseBodyItemVolumesList"
        },
        "expose": {
          "target": "com.huggingface.jobs#ListJobsResponseBodyItemExpose",
          "traits": {
            "smithy.api#documentation": "Ports exposed through the jobs proxy (see `status.exposeUrls` for the reachable URLs)."
          }
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "com.huggingface.jobs#ListJobsResponseBodyItemOwner",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceGroup": {
          "target": "com.huggingface.jobs#ListJobsResponseBodyItemResourceGroup"
        },
        "initiator": {
          "target": "com.huggingface.jobs#ListJobsResponseBodyItemInitiator"
        },
        "status": {
          "target": "com.huggingface.jobs#ListJobsResponseBodyItemStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "secrets": {
          "target": "com.huggingface.jobs#ListJobsResponseBodyItemSecretsList"
        },
        "labels": {
          "target": "com.huggingface.jobs#ListJobsResponseBodyItemLabelsMap"
        },
        "hfToken": {
          "target": "com.huggingface.jobs#ListJobsResponseBodyItemHfToken"
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#ListJobsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.jobs#ListJobsResponseBodyItem"
      },
      "traits": {}
    },
    "com.huggingface.jobs#ListJobsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.huggingface.jobs#ListJobsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.jobs#ListJobs": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.jobs#ListJobsRequest"
      },
      "output": {
        "target": "com.huggingface.jobs#ListJobsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/jobs/{namespace}",
          "code": 200
        },
        "smithy.api#documentation": "List jobs\n\nList of jobs for an entity"
      }
    },
    "com.huggingface.jobs#StartJobRequestArgumentsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobRequestCommandList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobRequestEnvironmentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobRequestSecretsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobRequestFlavor": {
      "type": "enum",
      "members": {
        "CPU_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-basic"
          }
        },
        "CPU_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-upgrade"
          }
        },
        "CPU_PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-performance"
          }
        },
        "CPU_XL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-xl"
          }
        },
        "SPRX8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sprx8"
          }
        },
        "ZERO_A10G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zero-a10g"
          }
        },
        "T4_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "t4-small"
          }
        },
        "T4_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "t4-medium"
          }
        },
        "L4X1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l4x1"
          }
        },
        "L4X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l4x4"
          }
        },
        "L40SX1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx1"
          }
        },
        "L40SX4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx4"
          }
        },
        "L40SX8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx8"
          }
        },
        "A10G_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-small"
          }
        },
        "A10G_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-large"
          }
        },
        "A10G_LARGEX2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-largex2"
          }
        },
        "A10G_LARGEX4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-largex4"
          }
        },
        "A100_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100-large"
          }
        },
        "A100X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100x4"
          }
        },
        "A100X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100x8"
          }
        },
        "H200": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200"
          }
        },
        "H200X2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x2"
          }
        },
        "H200X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x4"
          }
        },
        "H200X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x8"
          }
        },
        "RTX_PRO_6000": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000"
          }
        },
        "RTX_PRO_6000X2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x2"
          }
        },
        "RTX_PRO_6000X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x4"
          }
        },
        "RTX_PRO_6000X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x8"
          }
        },
        "INF2X6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inf2x6"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobRequestArch": {
      "type": "enum",
      "members": {
        "AMD64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amd64"
          }
        },
        "ARM64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "arm64"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobRequestLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Labels for the job as key-value pairs. Both keys and values must be max 100 characters and contain only alphanumeric characters, dots, dashes, and underscores."
      }
    },
    "com.huggingface.jobs#StartJobRequestVolumesItemType": {
      "type": "enum",
      "members": {
        "BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket"
          }
        },
        "MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model"
          }
        },
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataset"
          }
        },
        "SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "space"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobRequestVolumesItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.huggingface.jobs#StartJobRequestVolumesItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source identifier, e.g. 'username/my-bucket' or 'username/my-model'",
            "smithy.api#required": {}
          }
        },
        "mountPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mount path inside the container, e.g. '/data'",
            "smithy.api#required": {}
          }
        },
        "revision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git revision (only for repos, defaults to 'main')"
          }
        },
        "readOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Read-only mount (true for repos, false default for buckets)"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subfolder prefix inside the bucket/repo to mount, e.g. 'path/to/dir'"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobRequestVolumesList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.jobs#StartJobRequestVolumesItem"
      },
      "traits": {
        "smithy.api#documentation": "HuggingFace Buckets or Repos to mount as volumes in the job container."
      }
    },
    "com.huggingface.jobs#StartJobRequestExposePortsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobRequestExposePortsPublicList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Subset of `ports` reachable without any authentication."
      }
    },
    "com.huggingface.jobs#StartJobRequestExpose": {
      "type": "structure",
      "members": {
        "ports": {
          "target": "com.huggingface.jobs#StartJobRequestExposePortsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "portsPublic": {
          "target": "com.huggingface.jobs#StartJobRequestExposePortsPublicList",
          "traits": {
            "smithy.api#documentation": "Subset of `ports` reachable without any authentication."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ports to expose publicly through the jobs proxy. Each port is reachable at `https://<job_id>--<port>.<jobs-public-domain>`. Access requires a HF token with read access to the job's namespace, except for ports also listed in `portsPublic`."
      }
    },
    "com.huggingface.jobs#StartJobRequestSsh": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "When `enabled`, the job's container is reachable over SSH at `ssh <job_id>@ssh.hf.jobs`. Only the job's owner is allowed in, authenticated by an SSH public key registered on the Hub."
      }
    },
    "com.huggingface.jobs#StartJobRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "spaceId": {
          "target": "smithy.api#String"
        },
        "dockerImage": {
          "target": "smithy.api#String"
        },
        "arguments": {
          "target": "com.huggingface.jobs#StartJobRequestArgumentsList"
        },
        "command": {
          "target": "com.huggingface.jobs#StartJobRequestCommandList"
        },
        "environment": {
          "target": "com.huggingface.jobs#StartJobRequestEnvironmentMap"
        },
        "secrets": {
          "target": "com.huggingface.jobs#StartJobRequestSecretsMap"
        },
        "flavor": {
          "target": "com.huggingface.jobs#StartJobRequestFlavor",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "arch": {
          "target": "com.huggingface.jobs#StartJobRequestArch"
        },
        "timeoutSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "attempts": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Max number of attempts to make. For example, if you set this to 3, the job will be retried up to 2 times if it fails."
          }
        },
        "labels": {
          "target": "com.huggingface.jobs#StartJobRequestLabelsMap",
          "traits": {
            "smithy.api#documentation": "Labels for the job as key-value pairs. Both keys and values must be max 100 characters and contain only alphanumeric characters, dots, dashes, and underscores."
          }
        },
        "volumes": {
          "target": "com.huggingface.jobs#StartJobRequestVolumesList",
          "traits": {
            "smithy.api#documentation": "HuggingFace Buckets or Repos to mount as volumes in the job container."
          }
        },
        "expose": {
          "target": "com.huggingface.jobs#StartJobRequestExpose",
          "traits": {
            "smithy.api#documentation": "Ports to expose publicly through the jobs proxy. Each port is reachable at `https://<job_id>--<port>.<jobs-public-domain>`. Access requires a HF token with read access to the job's namespace, except for ports also listed in `portsPublic`."
          }
        },
        "ssh": {
          "target": "com.huggingface.jobs#StartJobRequestSsh",
          "traits": {
            "smithy.api#documentation": "When `enabled`, the job's container is reachable over SSH at `ssh <job_id>@ssh.hf.jobs`. Only the job's owner is allowed in, authenticated by an SSH public key registered on the Hub."
          }
        },
        "resourceGroupId": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.jobs#StartJobResponseEnvironmentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobResponseCommandList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobResponseArgumentsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobResponseArch": {
      "type": "enum",
      "members": {
        "AMD64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amd64"
          }
        },
        "ARM64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "arm64"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobResponseFlavor": {
      "type": "enum",
      "members": {
        "CPU_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-basic"
          }
        },
        "CPU_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-upgrade"
          }
        },
        "CPU_PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-performance"
          }
        },
        "CPU_XL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-xl"
          }
        },
        "SPRX8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sprx8"
          }
        },
        "ZERO_A10G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zero-a10g"
          }
        },
        "T4_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "t4-small"
          }
        },
        "T4_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "t4-medium"
          }
        },
        "L4X1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l4x1"
          }
        },
        "L4X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l4x4"
          }
        },
        "L40SX1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx1"
          }
        },
        "L40SX4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx4"
          }
        },
        "L40SX8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx8"
          }
        },
        "A10G_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-small"
          }
        },
        "A10G_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-large"
          }
        },
        "A10G_LARGEX2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-largex2"
          }
        },
        "A10G_LARGEX4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-largex4"
          }
        },
        "A100_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100-large"
          }
        },
        "A100X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100x4"
          }
        },
        "A100X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100x8"
          }
        },
        "H200": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200"
          }
        },
        "H200X2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x2"
          }
        },
        "H200X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x4"
          }
        },
        "H200X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x8"
          }
        },
        "RTX_PRO_6000": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000"
          }
        },
        "RTX_PRO_6000X2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x2"
          }
        },
        "RTX_PRO_6000X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x4"
          }
        },
        "RTX_PRO_6000X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x8"
          }
        },
        "INF2X6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inf2x6"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobResponseCreatedBy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobResponseDurations": {
      "type": "structure",
      "members": {
        "schedulingSecs": {
          "target": "smithy.api#Double"
        },
        "runningSecs": {
          "target": "smithy.api#Double"
        },
        "totalSecs": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobResponseVolumesItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mountPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "revision": {
          "target": "smithy.api#String"
        },
        "readOnly": {
          "target": "smithy.api#Boolean"
        },
        "path": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobResponseVolumesList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.jobs#StartJobResponseVolumesItem"
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobResponseExposePortsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobResponseExposePortsPublicList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Subset of `ports` reachable without any authentication."
      }
    },
    "com.huggingface.jobs#StartJobResponseExpose": {
      "type": "structure",
      "members": {
        "ports": {
          "target": "com.huggingface.jobs#StartJobResponseExposePortsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "portsPublic": {
          "target": "com.huggingface.jobs#StartJobResponseExposePortsPublicList",
          "traits": {
            "smithy.api#documentation": "Subset of `ports` reachable without any authentication."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ports exposed through the jobs proxy (see `status.exposeUrls` for the reachable URLs)."
      }
    },
    "com.huggingface.jobs#StartJobResponseOwnerType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ORG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobResponseOwner": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.huggingface.jobs#StartJobResponseOwnerType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobResponseResourceGroup": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "numUsers": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobResponseInitiatorCase0Type": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ORG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobResponseInitiatorCase0": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.huggingface.jobs#StartJobResponseInitiatorCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobResponseInitiatorCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobResponseInitiatorCase2": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobResponseInitiatorCase3": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobResponseInitiator": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.jobs#StartJobResponseInitiatorCase0"
        },
        "Case1": {
          "target": "com.huggingface.jobs#StartJobResponseInitiatorCase1"
        },
        "Case2": {
          "target": "com.huggingface.jobs#StartJobResponseInitiatorCase2"
        },
        "Case3": {
          "target": "com.huggingface.jobs#StartJobResponseInitiatorCase3"
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobResponseStatusStage": {
      "type": "enum",
      "members": {
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "SCHEDULING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULING"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobResponseStatusCancelReasonCase0": {
      "type": "enum",
      "members": {
        "NO_CREDITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_CREDITS"
          }
        },
        "NO_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_SUBSCRIPTION"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobResponseStatusCancelReason": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.jobs#StartJobResponseStatusCancelReasonCase0"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobResponseStatusExposeUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "One reachable URL per port declared in `expose.ports`, in the same order (e.g. `https://<job_id>--8000.hf.jobs`). Absent when the job is not exposed."
      }
    },
    "com.huggingface.jobs#StartJobResponseStatus": {
      "type": "structure",
      "members": {
        "stage": {
          "target": "com.huggingface.jobs#StartJobResponseStatusStage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "cancelReason": {
          "target": "com.huggingface.jobs#StartJobResponseStatusCancelReason"
        },
        "failureCount": {
          "target": "smithy.api#Double"
        },
        "exposeUrls": {
          "target": "com.huggingface.jobs#StartJobResponseStatusExposeUrlsList",
          "traits": {
            "smithy.api#documentation": "One reachable URL per port declared in `expose.ports`, in the same order (e.g. `https://<job_id>--8000.hf.jobs`). Absent when the job is not exposed."
          }
        },
        "sshUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SSH endpoint for the job (e.g. `ssh://<job_id>@ssh.hf.jobs`). Only present when `ssh.enabled`."
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobResponseSecretsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobResponseLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobResponseHfTokenTokenRole": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "FINEGRAINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fineGrained"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobResponseHfToken": {
      "type": "structure",
      "members": {
        "ownerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "orgName": {
          "target": "smithy.api#String"
        },
        "tokenRole": {
          "target": "com.huggingface.jobs#StartJobResponseHfTokenTokenRole"
        },
        "tokenId": {
          "target": "smithy.api#String"
        },
        "settingsUrl": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#StartJobResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "spaceId": {
          "target": "smithy.api#String"
        },
        "dockerImage": {
          "target": "smithy.api#String"
        },
        "timeout": {
          "target": "smithy.api#Double"
        },
        "environment": {
          "target": "com.huggingface.jobs#StartJobResponseEnvironmentMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "com.huggingface.jobs#StartJobResponseCommandList"
        },
        "arguments": {
          "target": "com.huggingface.jobs#StartJobResponseArgumentsList"
        },
        "arch": {
          "target": "com.huggingface.jobs#StartJobResponseArch"
        },
        "flavor": {
          "target": "com.huggingface.jobs#StartJobResponseFlavor",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdBy": {
          "target": "com.huggingface.jobs#StartJobResponseCreatedBy",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceGroupId": {
          "target": "smithy.api#String"
        },
        "retry": {
          "target": "smithy.api#Double"
        },
        "startedAt": {
          "target": "smithy.api#String"
        },
        "finishedAt": {
          "target": "smithy.api#String"
        },
        "durations": {
          "target": "com.huggingface.jobs#StartJobResponseDurations"
        },
        "volumes": {
          "target": "com.huggingface.jobs#StartJobResponseVolumesList"
        },
        "expose": {
          "target": "com.huggingface.jobs#StartJobResponseExpose",
          "traits": {
            "smithy.api#documentation": "Ports exposed through the jobs proxy (see `status.exposeUrls` for the reachable URLs)."
          }
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "com.huggingface.jobs#StartJobResponseOwner",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceGroup": {
          "target": "com.huggingface.jobs#StartJobResponseResourceGroup"
        },
        "initiator": {
          "target": "com.huggingface.jobs#StartJobResponseInitiator"
        },
        "status": {
          "target": "com.huggingface.jobs#StartJobResponseStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "secrets": {
          "target": "com.huggingface.jobs#StartJobResponseSecretsList"
        },
        "labels": {
          "target": "com.huggingface.jobs#StartJobResponseLabelsMap"
        },
        "hfToken": {
          "target": "com.huggingface.jobs#StartJobResponseHfToken"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.jobs#StartJob": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.jobs#StartJobRequest"
      },
      "output": {
        "target": "com.huggingface.jobs#StartJobResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/jobs/{namespace}",
          "code": 200
        },
        "smithy.api#documentation": "Start a job"
      }
    },
    "com.huggingface.jobs#CountJobsRequestStageCase0": {
      "type": "enum",
      "members": {
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "SCHEDULING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULING"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#CountJobsRequestStageCase1Item": {
      "type": "enum",
      "members": {
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "SCHEDULING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULING"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#CountJobsRequestStageCase1List": {
      "type": "list",
      "member": {
        "target": "com.huggingface.jobs#CountJobsRequestStageCase1Item"
      },
      "traits": {}
    },
    "com.huggingface.jobs#CountJobsRequestStage": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.jobs#CountJobsRequestStageCase0"
        },
        "Case1": {
          "target": "com.huggingface.jobs#CountJobsRequestStageCase1List"
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#CountJobsRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "stage": {
          "target": "com.huggingface.jobs#CountJobsRequestStage",
          "traits": {
            "smithy.api#httpQuery": "stage"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.jobs#CountJobsResponse": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.jobs#CountJobs": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.jobs#CountJobsRequest"
      },
      "output": {
        "target": "com.huggingface.jobs#CountJobsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/jobs/{namespace}/count",
          "code": 200
        },
        "smithy.api#documentation": "Count jobs\n\nCount the number of jobs for an entity with optional status stage filter"
      }
    },
    "com.huggingface.jobs#GetJobRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "jobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.jobs#GetJobResponseEnvironmentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.jobs#GetJobResponseCommandList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.jobs#GetJobResponseArgumentsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.jobs#GetJobResponseArch": {
      "type": "enum",
      "members": {
        "AMD64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amd64"
          }
        },
        "ARM64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "arm64"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#GetJobResponseFlavor": {
      "type": "enum",
      "members": {
        "CPU_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-basic"
          }
        },
        "CPU_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-upgrade"
          }
        },
        "CPU_PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-performance"
          }
        },
        "CPU_XL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-xl"
          }
        },
        "SPRX8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sprx8"
          }
        },
        "ZERO_A10G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zero-a10g"
          }
        },
        "T4_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "t4-small"
          }
        },
        "T4_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "t4-medium"
          }
        },
        "L4X1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l4x1"
          }
        },
        "L4X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l4x4"
          }
        },
        "L40SX1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx1"
          }
        },
        "L40SX4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx4"
          }
        },
        "L40SX8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx8"
          }
        },
        "A10G_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-small"
          }
        },
        "A10G_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-large"
          }
        },
        "A10G_LARGEX2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-largex2"
          }
        },
        "A10G_LARGEX4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-largex4"
          }
        },
        "A100_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100-large"
          }
        },
        "A100X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100x4"
          }
        },
        "A100X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100x8"
          }
        },
        "H200": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200"
          }
        },
        "H200X2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x2"
          }
        },
        "H200X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x4"
          }
        },
        "H200X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x8"
          }
        },
        "RTX_PRO_6000": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000"
          }
        },
        "RTX_PRO_6000X2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x2"
          }
        },
        "RTX_PRO_6000X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x4"
          }
        },
        "RTX_PRO_6000X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x8"
          }
        },
        "INF2X6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inf2x6"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#GetJobResponseCreatedBy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#GetJobResponseDurations": {
      "type": "structure",
      "members": {
        "schedulingSecs": {
          "target": "smithy.api#Double"
        },
        "runningSecs": {
          "target": "smithy.api#Double"
        },
        "totalSecs": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#GetJobResponseVolumesItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mountPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "revision": {
          "target": "smithy.api#String"
        },
        "readOnly": {
          "target": "smithy.api#Boolean"
        },
        "path": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#GetJobResponseVolumesList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.jobs#GetJobResponseVolumesItem"
      },
      "traits": {}
    },
    "com.huggingface.jobs#GetJobResponseExposePortsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.huggingface.jobs#GetJobResponseExposePortsPublicList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Subset of `ports` reachable without any authentication."
      }
    },
    "com.huggingface.jobs#GetJobResponseExpose": {
      "type": "structure",
      "members": {
        "ports": {
          "target": "com.huggingface.jobs#GetJobResponseExposePortsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "portsPublic": {
          "target": "com.huggingface.jobs#GetJobResponseExposePortsPublicList",
          "traits": {
            "smithy.api#documentation": "Subset of `ports` reachable without any authentication."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ports exposed through the jobs proxy (see `status.exposeUrls` for the reachable URLs)."
      }
    },
    "com.huggingface.jobs#GetJobResponseOwnerType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ORG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#GetJobResponseOwner": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.huggingface.jobs#GetJobResponseOwnerType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#GetJobResponseResourceGroup": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "numUsers": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#GetJobResponseInitiatorCase0Type": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ORG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#GetJobResponseInitiatorCase0": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.huggingface.jobs#GetJobResponseInitiatorCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#GetJobResponseInitiatorCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#GetJobResponseInitiatorCase2": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#GetJobResponseInitiatorCase3": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#GetJobResponseInitiator": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.jobs#GetJobResponseInitiatorCase0"
        },
        "Case1": {
          "target": "com.huggingface.jobs#GetJobResponseInitiatorCase1"
        },
        "Case2": {
          "target": "com.huggingface.jobs#GetJobResponseInitiatorCase2"
        },
        "Case3": {
          "target": "com.huggingface.jobs#GetJobResponseInitiatorCase3"
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#GetJobResponseStatusStage": {
      "type": "enum",
      "members": {
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "SCHEDULING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULING"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#GetJobResponseStatusCancelReasonCase0": {
      "type": "enum",
      "members": {
        "NO_CREDITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_CREDITS"
          }
        },
        "NO_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_SUBSCRIPTION"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#GetJobResponseStatusCancelReason": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.jobs#GetJobResponseStatusCancelReasonCase0"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#GetJobResponseStatusExposeUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "One reachable URL per port declared in `expose.ports`, in the same order (e.g. `https://<job_id>--8000.hf.jobs`). Absent when the job is not exposed."
      }
    },
    "com.huggingface.jobs#GetJobResponseStatus": {
      "type": "structure",
      "members": {
        "stage": {
          "target": "com.huggingface.jobs#GetJobResponseStatusStage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "cancelReason": {
          "target": "com.huggingface.jobs#GetJobResponseStatusCancelReason"
        },
        "failureCount": {
          "target": "smithy.api#Double"
        },
        "exposeUrls": {
          "target": "com.huggingface.jobs#GetJobResponseStatusExposeUrlsList",
          "traits": {
            "smithy.api#documentation": "One reachable URL per port declared in `expose.ports`, in the same order (e.g. `https://<job_id>--8000.hf.jobs`). Absent when the job is not exposed."
          }
        },
        "sshUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SSH endpoint for the job (e.g. `ssh://<job_id>@ssh.hf.jobs`). Only present when `ssh.enabled`."
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#GetJobResponseSecretsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.jobs#GetJobResponseLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.jobs#GetJobResponseHfTokenTokenRole": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "FINEGRAINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fineGrained"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#GetJobResponseHfToken": {
      "type": "structure",
      "members": {
        "ownerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "orgName": {
          "target": "smithy.api#String"
        },
        "tokenRole": {
          "target": "com.huggingface.jobs#GetJobResponseHfTokenTokenRole"
        },
        "tokenId": {
          "target": "smithy.api#String"
        },
        "settingsUrl": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.jobs#GetJobResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "spaceId": {
          "target": "smithy.api#String"
        },
        "dockerImage": {
          "target": "smithy.api#String"
        },
        "timeout": {
          "target": "smithy.api#Double"
        },
        "environment": {
          "target": "com.huggingface.jobs#GetJobResponseEnvironmentMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "com.huggingface.jobs#GetJobResponseCommandList"
        },
        "arguments": {
          "target": "com.huggingface.jobs#GetJobResponseArgumentsList"
        },
        "arch": {
          "target": "com.huggingface.jobs#GetJobResponseArch"
        },
        "flavor": {
          "target": "com.huggingface.jobs#GetJobResponseFlavor",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdBy": {
          "target": "com.huggingface.jobs#GetJobResponseCreatedBy",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceGroupId": {
          "target": "smithy.api#String"
        },
        "retry": {
          "target": "smithy.api#Double"
        },
        "startedAt": {
          "target": "smithy.api#String"
        },
        "finishedAt": {
          "target": "smithy.api#String"
        },
        "durations": {
          "target": "com.huggingface.jobs#GetJobResponseDurations"
        },
        "volumes": {
          "target": "com.huggingface.jobs#GetJobResponseVolumesList"
        },
        "expose": {
          "target": "com.huggingface.jobs#GetJobResponseExpose",
          "traits": {
            "smithy.api#documentation": "Ports exposed through the jobs proxy (see `status.exposeUrls` for the reachable URLs)."
          }
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "com.huggingface.jobs#GetJobResponseOwner",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceGroup": {
          "target": "com.huggingface.jobs#GetJobResponseResourceGroup"
        },
        "initiator": {
          "target": "com.huggingface.jobs#GetJobResponseInitiator"
        },
        "status": {
          "target": "com.huggingface.jobs#GetJobResponseStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "secrets": {
          "target": "com.huggingface.jobs#GetJobResponseSecretsList"
        },
        "labels": {
          "target": "com.huggingface.jobs#GetJobResponseLabelsMap"
        },
        "hfToken": {
          "target": "com.huggingface.jobs#GetJobResponseHfToken"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.jobs#GetJob": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.jobs#GetJobRequest"
      },
      "output": {
        "target": "com.huggingface.jobs#GetJobResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/jobs/{namespace}/{jobId}",
          "code": 200
        },
[...]
