{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.huggingface.models#GetFolderSizeRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.models#GetFolderSizeResponse": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The normalized path of the subtree, starting with a slash",
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total size in bytes of all files under the subtree",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.models#GetFolderSize": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.models#GetFolderSizeRequest"
      },
      "output": {
        "target": "com.huggingface.models#GetFolderSizeResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/models/{namespace}/{repo}/treesize/{rev}/{path}",
          "code": 200
        },
        "smithy.api#documentation": "Get folder size\n\nGet the total size of a repository at a given revision, optionally under a specific subpath. Returns the total size in bytes of all files under the specified path (recursively). If a file is stored via Xet/LFS, the LFS file size is used."
      }
    },
    "com.huggingface.models#ListLargeFilesRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "xet": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpQuery": "xet"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.models#ListLargeFilesResponseBodyItemPusherPrimaryOrgPlan": {
      "type": "enum",
      "members": {
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plus"
          }
        },
        "ACADEMIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "academia"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListLargeFilesResponseBodyItemPusherPrimaryOrgUserRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contributor"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "NO_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_access"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListLargeFilesResponseBodyItemPusherPrimaryOrg": {
      "type": "structure",
      "members": {
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isFollowing": {
          "target": "smithy.api#Boolean"
        },
        "plan": {
          "target": "com.huggingface.models#ListLargeFilesResponseBodyItemPusherPrimaryOrgPlan"
        },
        "details": {
          "target": "smithy.api#String"
        },
        "hasPrivateMembersList": {
          "target": "smithy.api#Boolean"
        },
        "userRole": {
          "target": "com.huggingface.models#ListLargeFilesResponseBodyItemPusherPrimaryOrgUserRole"
        },
        "numUsers": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListLargeFilesResponseBodyItemPusher": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHfAdmin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isMod": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "followerCount": {
          "target": "smithy.api#Double"
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isPro": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isUserFollowing": {
          "target": "smithy.api#Boolean"
        },
        "primaryOrg": {
          "target": "com.huggingface.models#ListLargeFilesResponseBodyItemPusherPrimaryOrg"
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListLargeFilesResponseBodyItem": {
      "type": "structure",
      "members": {
        "pusher": {
          "target": "com.huggingface.models#ListLargeFilesResponseBodyItemPusher"
        },
        "ref": {
          "target": "smithy.api#String"
        },
        "fileOid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "oid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pushedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Potential filename of the LFS file"
          }
        },
        "xetHash": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListLargeFilesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.models#ListLargeFilesResponseBodyItem"
      },
      "traits": {}
    },
    "com.huggingface.models#ListLargeFilesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.huggingface.models#ListLargeFilesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.models#ListLargeFiles": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.models#ListLargeFilesRequest"
      },
      "output": {
        "target": "com.huggingface.models#ListLargeFilesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/models/{namespace}/{repo}/lfs-files",
          "code": 200
        },
        "smithy.api#documentation": "List Large files\n\nList Xet/LFS files for a repo"
      }
    },
    "com.huggingface.models#DeleteLargeFilesRequestDeletionsShaList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.models#DeleteLargeFilesRequestDeletions": {
      "type": "structure",
      "members": {
        "sha": {
          "target": "com.huggingface.models#DeleteLargeFilesRequestDeletionsShaList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rewriteHistory": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.huggingface.models#DeleteLargeFilesRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "deletions": {
          "target": "com.huggingface.models#DeleteLargeFilesRequestDeletions",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.models#DeleteLargeFiles": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.models#DeleteLargeFilesRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/models/{namespace}/{repo}/lfs-files/batch",
          "code": 200
        },
        "smithy.api#documentation": "Delete Large files\n\nDelete Xet/LFS files in batch"
      }
    },
    "com.huggingface.models#DeleteLargeFileRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rewriteHistory": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpQuery": "rewriteHistory"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.models#DeleteLargeFile": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.models#DeleteLargeFileRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/models/{namespace}/{repo}/lfs-files/{sha}",
          "code": 200
        },
        "smithy.api#documentation": "Delete Large file\n\nDelete a Xet/LFS file"
      }
    },
    "com.huggingface.models#DuplicateXetFilesRequestTargetType": {
      "type": "enum",
      "members": {
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataset"
          }
        },
        "MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model"
          }
        },
        "SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "space"
          }
        },
        "KERNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kernel"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#DuplicateXetFilesRequestTarget": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.huggingface.models#DuplicateXetFilesRequestTargetType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#DuplicateXetFilesRequestFilesItem": {
      "type": "structure",
      "members": {
        "xetHash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sha256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "filename": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.models#DuplicateXetFilesRequestFilesList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.models#DuplicateXetFilesRequestFilesItem"
      },
      "traits": {}
    },
    "com.huggingface.models#DuplicateXetFilesRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.huggingface.models#DuplicateXetFilesRequestTarget",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "files": {
          "target": "com.huggingface.models#DuplicateXetFilesRequestFilesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.models#DuplicateXetFilesResponseFailedItem": {
      "type": "structure",
      "members": {
        "xetHash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Xet content hash of the file that failed",
            "smithy.api#required": {}
          }
        },
        "sha256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "sha256 of the file that failed",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#DuplicateXetFilesResponseFailedList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.models#DuplicateXetFilesResponseFailedItem"
      },
      "traits": {
        "smithy.api#documentation": "Per-file failures"
      }
    },
    "com.huggingface.models#DuplicateXetFilesResponse": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if all requested files were duplicated (or already present)",
            "smithy.api#required": {}
          }
        },
        "processed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of unique files processed",
            "smithy.api#required": {}
          }
        },
        "succeeded": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of files duplicated or already present in the target",
            "smithy.api#required": {}
          }
        },
        "failed": {
          "target": "com.huggingface.models#DuplicateXetFilesResponseFailedList",
          "traits": {
            "smithy.api#documentation": "Per-file failures",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.models#DuplicateXetFiles": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.models#DuplicateXetFilesRequest"
      },
      "output": {
        "target": "com.huggingface.models#DuplicateXetFilesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/models/{namespace}/{repo}/lfs-files/duplicate",
          "code": 200
        },
        "smithy.api#documentation": "Duplicate xet files\n\nDuplicate xet-stored files from this repo (source) into another repo (target) by xet hash, without re-uploading file bytes. The caller must then commit the files with their sha256/size as usual."
      }
    },
    "com.huggingface.models#ListCommitsRequestExpandItem": {
      "type": "enum",
      "members": {
        "FORMATTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "formatted"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListCommitsRequestExpandList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.models#ListCommitsRequestExpandItem"
      },
      "traits": {}
    },
    "com.huggingface.models#ListCommitsRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "p": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "p"
          }
        },
        "expand": {
          "target": "com.huggingface.models#ListCommitsRequestExpandList",
          "traits": {
            "smithy.api#httpQuery": "expand"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.models#ListCommitsResponseBodyItemAuthorsItem": {
      "type": "structure",
      "members": {
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatar": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListCommitsResponseBodyItemAuthorsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.models#ListCommitsResponseBodyItemAuthorsItem"
      },
      "traits": {}
    },
    "com.huggingface.models#ListCommitsResponseBodyItemFormatted": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Available if expand includes formatted"
      }
    },
    "com.huggingface.models#ListCommitsResponseBodyItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "authors": {
          "target": "com.huggingface.models#ListCommitsResponseBodyItemAuthorsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "formatted": {
          "target": "com.huggingface.models#ListCommitsResponseBodyItemFormatted",
          "traits": {
            "smithy.api#documentation": "Available if expand includes formatted"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListCommitsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.models#ListCommitsResponseBodyItem"
      },
      "traits": {}
    },
    "com.huggingface.models#ListCommitsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.huggingface.models#ListCommitsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.models#ListCommits": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.models#ListCommitsRequest"
      },
      "output": {
        "target": "com.huggingface.models#ListCommitsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/models/{namespace}/{repo}/commits/{rev}",
          "code": 200
        },
        "smithy.api#documentation": "List commits"
      }
    },
    "com.huggingface.models#ListReferencesRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "include_prs": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpQuery": "include_prs"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.models#ListReferencesResponseTagsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "targetCommit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListReferencesResponseTagsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.models#ListReferencesResponseTagsItem"
      },
      "traits": {}
    },
    "com.huggingface.models#ListReferencesResponseBranchesItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "targetCommit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListReferencesResponseBranchesList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.models#ListReferencesResponseBranchesItem"
      },
      "traits": {}
    },
    "com.huggingface.models#ListReferencesResponseConvertsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "targetCommit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListReferencesResponseConvertsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.models#ListReferencesResponseConvertsItem"
      },
      "traits": {}
    },
    "com.huggingface.models#ListReferencesResponsePullRequestsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "targetCommit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListReferencesResponsePullRequestsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.models#ListReferencesResponsePullRequestsItem"
      },
      "traits": {}
    },
    "com.huggingface.models#ListReferencesResponse": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.huggingface.models#ListReferencesResponseTagsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branches": {
          "target": "com.huggingface.models#ListReferencesResponseBranchesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "converts": {
          "target": "com.huggingface.models#ListReferencesResponseConvertsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pullRequests": {
          "target": "com.huggingface.models#ListReferencesResponsePullRequestsList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.models#ListReferences": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.models#ListReferencesRequest"
      },
      "output": {
        "target": "com.huggingface.models#ListReferencesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/models/{namespace}/{repo}/refs",
          "code": 200
        },
        "smithy.api#documentation": "List references"
      }
    },
    "com.huggingface.models#GetCompareRevRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "compare": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "raw": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpQuery": "raw"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.models#GetCompareRevResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.models#GetCompareRev": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.models#GetCompareRevRequest"
      },
      "output": {
        "target": "com.huggingface.models#GetCompareRevResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/models/{namespace}/{repo}/compare/{compare}",
          "code": 200
        },
        "smithy.api#documentation": "Get a compare rev"
      }
    },
    "com.huggingface.models#ListPathsInfoRequestPathsCase0List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.models#ListPathsInfoRequestPaths": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.models#ListPathsInfoRequestPathsCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListPathsInfoRequestExpand": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Document"
        },
        "Case1": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Expand the response with the last commit and security file status"
      }
    },
    "com.huggingface.models#ListPathsInfoRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "paths": {
          "target": "com.huggingface.models#ListPathsInfoRequestPaths",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expand": {
          "target": "com.huggingface.models#ListPathsInfoRequestExpand",
          "traits": {
            "smithy.api#documentation": "Expand the response with the last commit and security file status",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.models#ListPathsInfoResponseBodyItemType": {
      "type": "enum",
      "members": {
        "FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "file"
          }
        },
        "DIRECTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "directory"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListPathsInfoResponseBodyItemLfs": {
      "type": "structure",
      "members": {
        "pointerSize": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListPathsInfoResponseBodyItemLastCommit": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusStatus": {
      "type": "enum",
      "members": {
        "UNSCANNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unscanned"
          }
        },
        "SAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "safe"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "CAUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "caution"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "UNSAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsafe"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusJFrogScanStatus": {
      "type": "enum",
      "members": {
        "UNSCANNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unscanned"
          }
        },
        "SAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "safe"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "CAUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "caution"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "UNSAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsafe"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusJFrogScanPickleImportsItemSafety": {
      "type": "enum",
      "members": {
        "INNOCUOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "innocuous"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "DANGEROUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dangerous"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusJFrogScanPickleImportsItem": {
      "type": "structure",
      "members": {
        "module": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "safety": {
          "target": "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusJFrogScanPickleImportsItemSafety",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusJFrogScanPickleImportsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusJFrogScanPickleImportsItem"
      },
      "traits": {}
    },
    "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusJFrogScan": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusJFrogScanStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String"
        },
        "reportLink": {
          "target": "smithy.api#String"
        },
        "reportLabel": {
          "target": "smithy.api#String"
        },
        "pickleImports": {
          "target": "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusJFrogScanPickleImportsList"
        },
        "version": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusProtectAiScanStatus": {
      "type": "enum",
      "members": {
        "UNSCANNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unscanned"
          }
        },
        "SAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "safe"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "CAUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "caution"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "UNSAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsafe"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusProtectAiScanPickleImportsItemSafety": {
      "type": "enum",
      "members": {
        "INNOCUOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "innocuous"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "DANGEROUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dangerous"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusProtectAiScanPickleImportsItem": {
      "type": "structure",
      "members": {
        "module": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "safety": {
          "target": "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusProtectAiScanPickleImportsItemSafety",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusProtectAiScanPickleImportsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusProtectAiScanPickleImportsItem"
      },
      "traits": {}
    },
    "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusProtectAiScan": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusProtectAiScanStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String"
        },
        "reportLink": {
          "target": "smithy.api#String"
        },
        "reportLabel": {
          "target": "smithy.api#String"
        },
        "pickleImports": {
          "target": "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusProtectAiScanPickleImportsList"
        },
        "version": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusAvScanStatus": {
      "type": "enum",
      "members": {
        "UNSCANNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unscanned"
          }
        },
        "SAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "safe"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "CAUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "caution"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "UNSAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsafe"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusAvScanPickleImportsItemSafety": {
      "type": "enum",
      "members": {
        "INNOCUOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "innocuous"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "DANGEROUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dangerous"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusAvScanPickleImportsItem": {
      "type": "structure",
      "members": {
        "module": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "safety": {
          "target": "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusAvScanPickleImportsItemSafety",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusAvScanPickleImportsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusAvScanPickleImportsItem"
      },
      "traits": {}
    },
    "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusAvScan": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusAvScanStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String"
        },
        "reportLink": {
          "target": "smithy.api#String"
        },
        "reportLabel": {
          "target": "smithy.api#String"
        },
        "pickleImports": {
          "target": "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusAvScanPickleImportsList"
        },
        "version": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusPickleImportScanStatus": {
      "type": "enum",
      "members": {
        "UNSCANNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unscanned"
          }
        },
        "SAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "safe"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "CAUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "caution"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "UNSAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsafe"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusPickleImportScanPickleImportsItemSafety": {
      "type": "enum",
      "members": {
        "INNOCUOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "innocuous"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "DANGEROUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dangerous"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusPickleImportScanPickleImportsItem": {
      "type": "structure",
      "members": {
        "module": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "safety": {
          "target": "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusPickleImportScanPickleImportsItemSafety",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusPickleImportScanPickleImportsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusPickleImportScanPickleImportsItem"
      },
      "traits": {}
    },
    "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusPickleImportScan": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusPickleImportScanStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String"
        },
        "reportLink": {
          "target": "smithy.api#String"
        },
        "reportLabel": {
          "target": "smithy.api#String"
        },
        "pickleImports": {
          "target": "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusPickleImportScanPickleImportsList"
        },
        "version": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusVirusTotalScanStatus": {
      "type": "enum",
      "members": {
        "UNSCANNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unscanned"
          }
        },
        "SAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "safe"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "CAUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "caution"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "UNSAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsafe"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusVirusTotalScanPickleImportsItemSafety": {
      "type": "enum",
      "members": {
        "INNOCUOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "innocuous"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "DANGEROUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dangerous"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusVirusTotalScanPickleImportsItem": {
      "type": "structure",
      "members": {
        "module": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "safety": {
          "target": "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusVirusTotalScanPickleImportsItemSafety",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusVirusTotalScanPickleImportsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusVirusTotalScanPickleImportsItem"
      },
      "traits": {}
    },
    "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusVirusTotalScan": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusVirusTotalScanStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String"
        },
        "reportLink": {
          "target": "smithy.api#String"
        },
        "reportLabel": {
          "target": "smithy.api#String"
        },
        "pickleImports": {
          "target": "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusVirusTotalScanPickleImportsList"
        },
        "version": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatus": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "jFrogScan": {
          "target": "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusJFrogScan"
        },
        "protectAiScan": {
          "target": "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusProtectAiScan"
        },
        "avScan": {
          "target": "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusAvScan",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pickleImportScan": {
          "target": "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusPickleImportScan",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "virusTotalScan": {
          "target": "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatusVirusTotalScan"
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListPathsInfoResponseBodyItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.huggingface.models#ListPathsInfoResponseBodyItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "oid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lfs": {
          "target": "com.huggingface.models#ListPathsInfoResponseBodyItemLfs"
        },
        "xetHash": {
          "target": "smithy.api#String"
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lastCommit": {
          "target": "com.huggingface.models#ListPathsInfoResponseBodyItemLastCommit"
        },
        "securityFileStatus": {
          "target": "com.huggingface.models#ListPathsInfoResponseBodyItemSecurityFileStatus"
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListPathsInfoResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.models#ListPathsInfoResponseBodyItem"
      },
      "traits": {}
    },
    "com.huggingface.models#ListPathsInfoResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.huggingface.models#ListPathsInfoResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.models#ListPathsInfo": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.models#ListPathsInfoRequest"
      },
      "output": {
        "target": "com.huggingface.models#ListPathsInfoResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/models/{namespace}/{repo}/paths-info/{rev}",
          "code": 200
        },
        "smithy.api#documentation": "List paths info"
      }
    },
    "com.huggingface.models#CheckUploadMethodRequestFilesItem": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sample": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#CheckUploadMethodRequestFilesList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.models#CheckUploadMethodRequestFilesItem"
      },
      "traits": {}
    },
    "com.huggingface.models#CheckUploadMethodRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "files": {
          "target": "com.huggingface.models#CheckUploadMethodRequestFilesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gitAttributes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provide this parameter if you plan to modify `.gitattributes` yourself at the same time as uploading LFS files. Note that this is not needed if you solely rely on automatic LFS detection from HF: the commit endpoint will automatically edit the `.gitattributes` file to track the files passed to its `lfsFiles` param."
          }
        },
        "gitIgnore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content of the .gitignore file for the revision. Optional, otherwise takes the existing content of `.gitignore` for the revision."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.models#CheckUploadMethodResponseFilesItemUploadMode": {
      "type": "enum",
      "members": {
        "LFS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lfs"
          }
        },
        "REGULAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "regular"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#CheckUploadMethodResponseFilesItem": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "uploadMode": {
          "target": "com.huggingface.models#CheckUploadMethodResponseFilesItemUploadMode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "shouldIgnore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "oid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The oid of the blob if it already exists in the repository. If the blob is a LFS file, it'll be the lfs oid."
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#CheckUploadMethodResponseFilesList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.models#CheckUploadMethodResponseFilesItem"
      },
      "traits": {}
    },
    "com.huggingface.models#CheckUploadMethodResponse": {
      "type": "structure",
      "members": {
        "files": {
          "target": "com.huggingface.models#CheckUploadMethodResponseFilesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "commitOid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.models#CheckUploadMethod": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.models#CheckUploadMethodRequest"
      },
      "output": {
        "target": "com.huggingface.models#CheckUploadMethodResponse"
      },
      "errors": [
        {
          "target": "com.huggingface.models#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/models/{namespace}/{repo}/preupload/{rev}",
          "code": 200
        },
        "smithy.api#documentation": "Check upload method\n\nCheck if a file should be uploaded through the Large File mechanism or directly."
      }
    },
    "com.huggingface.models#XetWriteTokenRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.models#XetWriteTokenResponse": {
      "type": "structure",
      "members": {
        "casUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "exp": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "accessToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.models#XetWriteToken": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.models#XetWriteTokenRequest"
      },
      "output": {
        "target": "com.huggingface.models#XetWriteTokenResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/models/{namespace}/{repo}/xet-write-token/{rev}",
          "code": 200
        },
        "smithy.api#documentation": "Xet write token\n\nGet a write short-lived access token for XET upload"
      }
    },
    "com.huggingface.models#XetReadTokenRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.models#XetReadTokenResponse": {
      "type": "structure",
      "members": {
        "casUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "exp": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "accessToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.models#XetReadToken": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.models#XetReadTokenRequest"
      },
      "output": {
        "target": "com.huggingface.models#XetReadTokenResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/models/{namespace}/{repo}/xet-read-token/{rev}",
          "code": 200
        },
        "smithy.api#documentation": "Xet read token\n\nGet a read short-lived access token for XET"
      }
    },
    "com.huggingface.models#CommitRequestContentType": {
      "type": "enum",
      "members": {
        "APPLICATION_JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "application/json"
          }
        },
        "APPLICATION_X_NDJSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "application/x-ndjson"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`application/x-ndjson` if you to commit by json lines"
      }
    },
    "com.huggingface.models#CommitRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "create_pr": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpQuery": "create_pr"
          }
        },
        "hot_reload": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpQuery": "hot_reload"
          }
        },
        "contentType": {
          "target": "com.huggingface.models#CommitRequestContentType",
          "traits": {
            "smithy.api#httpHeader": "Content-Type"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.models#CommitResponse": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the commit was successful",
            "smithy.api#required": {}
          }
        },
        "pullRequestUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the pull request"
          }
        },
        "commitOid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The OID of the commit",
            "smithy.api#required": {}
          }
        },
        "commitUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the commit",
            "smithy.api#required": {}
          }
        },
        "hookOutput": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The output of the git hook",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.models#Commit": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.models#CommitRequest"
      },
      "output": {
        "target": "com.huggingface.models#CommitResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/models/{namespace}/{repo}/commit/{rev}",
          "code": 200
        },
        "smithy.api#documentation": "Commit\n\nFor legacy reason, we support both `application/json` and `application/x-ndjson` but we recommend using `application/x-ndjson` to create a commit.\n\nJSON-lines payload:\n```json\n{\n  \"key\": \"header\",\n  \"value\": {\n    \"summary\": \"string (REQUIRED)\",\n    \"description\": \"string (OPTIONAL - defaults to empty string)\",\n    \"parentCommit\": \"string (OPTIONAL - 40-character hex SHA)\"\n  }\n}\n{\n  \"key\": \"file\",\n  \"value\": {\n    \"path\": \"string (REQUIRED)\",\n    \"content\": \"string (OPTIONAL - required if oldPath not set)\",\n    \"encoding\": \"utf-8 | base64 (OPTIONAL - defaults to utf-8)\",\n    \"oldPath\": \"string (OPTIONAL - for move/rename operations)\"\n  }\n}\n{\n  \"key\": \"deletedEntry\",\n  \"value\": {\n    \"path\": \"string (REQUIRED)\"\n  }\n}\n{\n  \"key\": \"lfsFile\",\n  \"value\": {\n    \"path\": \"string (REQUIRED - max 1000 chars)\",\n    \"oid\": \"string (OPTIONAL - required if oldPath not set, 64 hex chars)\",\n    \"algo\": \"sha256 (OPTIONAL - only sha256 supported)\",\n    \"size\": \"number (OPTIONAL - required if oldPath is set)\",\n    \"oldPath\": \"string (OPTIONAL - for move/rename operations)\"\n  }\n}\n```\n\nJSON payload:\n```json\n{\n  \"summary\": \"string (REQUIRED)\",\n  \"description\": \"string (OPTIONAL - defaults to empty string)\",\n  \"parentCommit\": \"string (OPTIONAL - 40-character hex SHA)\"\n  \"files\": [\n    {\n      \"path\": \"string (REQUIRED)\",\n      \"content\": \"string (OPTIONAL - required if oldPath not set)\",\n      \"encoding\": \"utf-8 | base64 (OPTIONAL - defaults to utf-8)\",\n      \"oldPath\": \"string (OPTIONAL - for move/rename operations)\"\n    }\n  ],\n  \"deletedEntries\": [\n    {\n      \"path\": \"string (REQUIRED)\"\n    }\n  ],\n  \"lfsFiles\": [\n    {\n      \"path\": \"string (REQUIRED - max 1000 chars)\",\n      \"oid\": \"string (OPTIONAL - required if oldPath not set, 64 hex chars)\",\n      \"algo\": \"sha256 (OPTIONAL - only sha256 supported)\",\n      \"size\": \"number (OPTIONAL - required if oldPath is set)\",\n      \"oldPath\": \"string (OPTIONAL - for move/rename operations)\"\n    }\n  ]\n}\n```"
      }
    },
    "com.huggingface.models#CreateTagRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.models#CreateTag": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.models#CreateTagRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/models/{namespace}/{repo}/tag/{rev}",
          "code": 200
        },
        "smithy.api#documentation": "Create tag"
      }
    },
    "com.huggingface.models#DeleteTagRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.models#DeleteTag": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.models#DeleteTagRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/models/{namespace}/{repo}/tag/{rev}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a tag"
      }
    },
    "com.huggingface.models#CreateBranchRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "startingPoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The commit to start from"
          }
        },
        "emptyBranch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Create an empty branch"
          }
        },
        "overwrite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Overwrite the branch if it already exists"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.models#CreateBranch": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.models#CreateBranchRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/models/{namespace}/{repo}/branch/{rev}",
          "code": 200
        },
        "smithy.api#documentation": "Create branch"
      }
    },
    "com.huggingface.models#DeleteBranchRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.models#DeleteBranch": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.models#DeleteBranchRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/models/{namespace}/{repo}/branch/{rev}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a branch"
      }
    },
    "com.huggingface.models#GetResourceGroupRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.models#GetResourceGroupResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "numUsers": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.models#GetResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.models#GetResourceGroupRequest"
      },
      "output": {
        "target": "com.huggingface.models#GetResourceGroupResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/models/{namespace}/{repo}/resource-group",
          "code": 200
        },
        "smithy.api#documentation": "Get resource group"
      }
    },
    "com.huggingface.models#AddResourceGroupRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "resourceGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource group to add the repository to, if null, the repository will be removed from the resource group",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.models#AddResourceGroupResponseType": {
      "type": "enum",
      "members": {
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataset"
          }
        },
        "MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model"
          }
        },
        "SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "space"
          }
        },
        "BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket"
          }
        },
        "KERNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kernel"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#AddResourceGroupResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.huggingface.models#AddResourceGroupResponseType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "addedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.models#AddResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.models#AddResourceGroupRequest"
      },
      "output": {
        "target": "com.huggingface.models#AddResourceGroupResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/models/{namespace}/{repo}/resource-group",
          "code": 200
        },
        "smithy.api#documentation": "Add resource group\n\nAdd the repository to a resource group"
      }
    },
    "com.huggingface.models#SquashRefRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.models#SquashRefResponse": {
      "type": "structure",
      "members": {
        "commitId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new commit ID after the squash",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.models#SquashRef": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.models#SquashRefRequest"
      },
      "output": {
        "target": "com.huggingface.models#SquashRefResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/models/{namespace}/{repo}/super-squash/{rev}",
          "code": 200
        },
        "smithy.api#documentation": "Squash ref\n\nSquash all commits in the current ref into a single commit with the given message. Action is irreversible."
      }
    },
    "com.huggingface.models#UpdateRepoSettingsRequestVisibility": {
      "type": "enum",
      "members": {
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        },
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        },
        "PROTECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "protected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Repository visibility. `protected` is only supported for Spaces."
      }
    },
    "com.huggingface.models#UpdateRepoSettingsRequestDiscussionsSorting": {
      "type": "enum",
      "members": {
        "RECENTLY_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "recently-created"
          }
        },
        "TRENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trending"
          }
        },
        "REACTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reactions"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#UpdateRepoSettingsRequestGatedCase1": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#UpdateRepoSettingsRequestGated": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Document"
        },
        "Case1": {
          "target": "com.huggingface.models#UpdateRepoSettingsRequestGatedCase1"
        }
      },
      "traits": {}
    },
    "com.huggingface.models#UpdateRepoSettingsRequestGatedNotificationsMode": {
      "type": "enum",
      "members": {
        "BULK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bulk"
          }
        },
        "REAL_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "real-time"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#UpdateRepoSettingsRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "private": {
          "target": "smithy.api#Boolean"
        },
        "visibility": {
          "target": "com.huggingface.models#UpdateRepoSettingsRequestVisibility",
          "traits": {
            "smithy.api#documentation": "Repository visibility. `protected` is only supported for Spaces."
          }
        },
        "discussionsDisabled": {
          "target": "smithy.api#Boolean"
        },
        "discussionsSorting": {
          "target": "com.huggingface.models#UpdateRepoSettingsRequestDiscussionsSorting"
        },
        "gated": {
          "target": "com.huggingface.models#UpdateRepoSettingsRequestGated"
        },
        "orgMembersGated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, members of the owning org (except admins) must also go through the gated access-request flow."
          }
        },
        "gatedNotificationsEmail": {
          "target": "smithy.api#String"
        },
        "gatedNotificationsMode": {
          "target": "com.huggingface.models#UpdateRepoSettingsRequestGatedNotificationsMode"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.models#UpdateRepoSettingsResponseVisibility": {
      "type": "enum",
      "members": {
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        },
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        },
        "PROTECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "protected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Repository visibility. `protected` is only supported for Spaces."
      }
    },
    "com.huggingface.models#UpdateRepoSettingsResponseDiscussionsSorting": {
      "type": "enum",
      "members": {
        "RECENTLY_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "recently-created"
          }
        },
        "TRENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trending"
          }
        },
        "REACTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reactions"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#UpdateRepoSettingsResponseGatedCase1": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#UpdateRepoSettingsResponseGated": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Document"
        },
        "Case1": {
          "target": "com.huggingface.models#UpdateRepoSettingsResponseGatedCase1"
        }
      },
      "traits": {}
    },
    "com.huggingface.models#UpdateRepoSettingsResponseGatedNotificationsMode": {
      "type": "enum",
      "members": {
        "BULK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bulk"
          }
        },
        "REAL_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "real-time"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#UpdateRepoSettingsResponse": {
      "type": "structure",
      "members": {
        "private": {
          "target": "smithy.api#Boolean"
        },
        "visibility": {
          "target": "com.huggingface.models#UpdateRepoSettingsResponseVisibility",
          "traits": {
            "smithy.api#documentation": "Repository visibility. `protected` is only supported for Spaces."
          }
        },
        "discussionsDisabled": {
          "target": "smithy.api#Boolean"
        },
        "discussionsSorting": {
          "target": "com.huggingface.models#UpdateRepoSettingsResponseDiscussionsSorting"
        },
        "gated": {
          "target": "com.huggingface.models#UpdateRepoSettingsResponseGated"
        },
        "orgMembersGated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, members of the owning org (except admins) must also go through the gated access-request flow."
          }
        },
        "gatedNotificationsEmail": {
          "target": "smithy.api#String"
        },
        "gatedNotificationsMode": {
          "target": "com.huggingface.models#UpdateRepoSettingsResponseGatedNotificationsMode"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.models#UpdateRepoSettings": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.models#UpdateRepoSettingsRequest"
      },
      "output": {
        "target": "com.huggingface.models#UpdateRepoSettingsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/models/{namespace}/{repo}/settings",
          "code": 200
        },
        "smithy.api#documentation": "Update repo settings\n\nUpdate the settings of a repo"
      }
    },
    "com.huggingface.models#ListFolderContentRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "expand": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpQuery": "expand"
          }
        },
        "recursive": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpQuery": "recursive"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.models#ListFolderContentResponseBodyItemType": {
      "type": "enum",
      "members": {
        "FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "file"
          }
        },
        "DIRECTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "directory"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListFolderContentResponseBodyItemLfs": {
      "type": "structure",
      "members": {
        "oid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pointerSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListFolderContentResponseBodyItemLastCommit": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListFolderContentResponseBodyItemSecurityFileStatusStatus": {
      "type": "enum",
      "members": {
        "UNSCANNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unscanned"
          }
        },
        "SAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "safe"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "CAUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "caution"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "UNSAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsafe"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListFolderContentResponseBodyItemSecurityFileStatusJFrogScanStatus": {
      "type": "enum",
      "members": {
        "UNSCANNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unscanned"
          }
        },
        "SAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "safe"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "CAUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "caution"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "UNSAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsafe"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.models#ListFolderContentResponseBodyItemSecurityFileStatusJFrogScanPickleImportsItemSafety": {
      "type": "enum",
      "members": {
        "INNOCUOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "innocuous"
          }
        },
[...]
