{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.huggingface.repos#DuplicateRepositoryRequestRepoType": {
      "type": "enum",
      "members": {
        "SPACES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "spaces"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.repos#DuplicateRepositoryRequestVisibility": {
      "type": "enum",
      "members": {
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        },
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        },
        "PROTECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "protected"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.repos#DuplicateRepositoryRequestHardware": {
      "type": "enum",
      "members": {
        "CPU_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-basic"
          }
        },
        "CPU_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-upgrade"
          }
        },
        "CPU_PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-performance"
          }
        },
        "CPU_XL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-xl"
          }
        },
        "SPRX8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sprx8"
          }
        },
        "ZERO_A10G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zero-a10g"
          }
        },
        "T4_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "t4-small"
          }
        },
        "T4_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "t4-medium"
          }
        },
        "L4X1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l4x1"
          }
        },
        "L4X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l4x4"
          }
        },
        "L40SX1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx1"
          }
        },
        "L40SX4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx4"
          }
        },
        "L40SX8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx8"
          }
        },
        "A10G_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-small"
          }
        },
        "A10G_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-large"
          }
        },
        "A10G_LARGEX2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-largex2"
          }
        },
        "A10G_LARGEX4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-largex4"
          }
        },
        "A100_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100-large"
          }
        },
        "A100X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100x4"
          }
        },
        "A100X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100x8"
          }
        },
        "H200": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200"
          }
        },
        "H200X2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x2"
          }
        },
        "H200X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x4"
          }
        },
        "H200X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x8"
          }
        },
        "RTX_PRO_6000": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000"
          }
        },
        "RTX_PRO_6000X2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x2"
          }
        },
        "RTX_PRO_6000X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x4"
          }
        },
        "RTX_PRO_6000X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x8"
          }
        },
        "INF2X6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inf2x6"
          }
        },
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.repos#DuplicateRepositoryRequestSleepTimeSeconds": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Integer"
        },
        "Case1": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.huggingface.repos#DuplicateRepositoryRequestSecretsItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.repos#DuplicateRepositoryRequestSecretsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.repos#DuplicateRepositoryRequestSecretsItem"
      },
      "traits": {}
    },
    "com.huggingface.repos#DuplicateRepositoryRequestVariablesItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.repos#DuplicateRepositoryRequestVariablesList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.repos#DuplicateRepositoryRequestVariablesItem"
      },
      "traits": {}
    },
    "com.huggingface.repos#DuplicateRepositoryRequestVolumesItemType": {
      "type": "enum",
      "members": {
        "BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket"
          }
        },
        "MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model"
          }
        },
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataset"
          }
        },
        "SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "space"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.repos#DuplicateRepositoryRequestVolumesItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.huggingface.repos#DuplicateRepositoryRequestVolumesItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source identifier, e.g. 'username/my-bucket' or 'username/my-model'",
            "smithy.api#required": {}
          }
        },
        "mountPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mount path inside the container, e.g. '/data'",
            "smithy.api#required": {}
          }
        },
        "revision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git revision (only for repos, defaults to 'main')"
          }
        },
        "readOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Read-only mount (true for repos, false default for buckets)"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subfolder prefix inside the bucket/repo to mount, e.g. 'path/to/dir'"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.repos#DuplicateRepositoryRequestVolumesList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.repos#DuplicateRepositoryRequestVolumesItem"
      },
      "traits": {
        "smithy.api#documentation": "HuggingFace Buckets or Repos to mount as volumes in the duplicated Space."
      }
    },
    "com.huggingface.repos#DuplicateRepositoryRequest": {
      "type": "structure",
      "members": {
        "repoType": {
          "target": "com.huggingface.repos#DuplicateRepositoryRequestRepoType",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "private": {
          "target": "smithy.api#Boolean"
        },
        "visibility": {
          "target": "com.huggingface.repos#DuplicateRepositoryRequestVisibility"
        },
        "resourceGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hardware": {
          "target": "com.huggingface.repos#DuplicateRepositoryRequestHardware"
        },
        "sleepTimeSeconds": {
          "target": "com.huggingface.repos#DuplicateRepositoryRequestSleepTimeSeconds"
        },
        "secrets": {
          "target": "com.huggingface.repos#DuplicateRepositoryRequestSecretsList"
        },
        "variables": {
          "target": "com.huggingface.repos#DuplicateRepositoryRequestVariablesList"
        },
        "volumes": {
          "target": "com.huggingface.repos#DuplicateRepositoryRequestVolumesList",
          "traits": {
            "smithy.api#documentation": "HuggingFace Buckets or Repos to mount as volumes in the duplicated Space."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.repos#DuplicateRepositoryResponse": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.repos#DuplicateRepository": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.repos#DuplicateRepositoryRequest"
      },
      "output": {
        "target": "com.huggingface.repos#DuplicateRepositoryResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/{repoType}/{namespace}/{repo}/duplicate",
          "code": 200
        },
        "smithy.api#documentation": "Duplicate a repository"
      }
    },
    "com.huggingface.repos#CreateNewRepositoryRequestRegion": {
      "type": "enum",
      "members": {
        "US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The region where the repository is hosted."
      }
    },
    "com.huggingface.repos#CreateNewRepositoryRequestLicense": {
      "type": "enum",
      "members": {
        "APACHE_2_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "apache-2.0"
          }
        },
        "MIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mit"
          }
        },
        "OPENRAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openrail"
          }
        },
        "BIGSCIENCE_OPENRAIL_M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bigscience-openrail-m"
          }
        },
        "CREATIVEML_OPENRAIL_M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "creativeml-openrail-m"
          }
        },
        "BIGSCIENCE_BLOOM_RAIL_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bigscience-bloom-rail-1.0"
          }
        },
        "BIGCODE_OPENRAIL_M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bigcode-openrail-m"
          }
        },
        "AFL_3_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "afl-3.0"
          }
        },
        "ARTISTIC_2_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "artistic-2.0"
          }
        },
        "BSL_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bsl-1.0"
          }
        },
        "BSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bsd"
          }
        },
        "BSD_2_CLAUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bsd-2-clause"
          }
        },
        "BSD_3_CLAUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bsd-3-clause"
          }
        },
        "BSD_3_CLAUSE_CLEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bsd-3-clause-clear"
          }
        },
        "C_UDA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "c-uda"
          }
        },
        "CC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cc"
          }
        },
        "CC0_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cc0-1.0"
          }
        },
        "CC_BY_2_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cc-by-2.0"
          }
        },
        "CC_BY_2_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cc-by-2.5"
          }
        },
        "CC_BY_3_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cc-by-3.0"
          }
        },
        "CC_BY_4_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cc-by-4.0"
          }
        },
        "CC_BY_SA_3_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cc-by-sa-3.0"
          }
        },
        "CC_BY_SA_4_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cc-by-sa-4.0"
          }
        },
        "CC_BY_NC_2_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cc-by-nc-2.0"
          }
        },
        "CC_BY_NC_3_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cc-by-nc-3.0"
          }
        },
        "CC_BY_NC_4_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cc-by-nc-4.0"
          }
        },
        "CC_BY_ND_4_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cc-by-nd-4.0"
          }
        },
        "CC_BY_NC_ND_3_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cc-by-nc-nd-3.0"
          }
        },
        "CC_BY_NC_ND_4_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cc-by-nc-nd-4.0"
          }
        },
        "CC_BY_NC_SA_2_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cc-by-nc-sa-2.0"
          }
        },
        "CC_BY_NC_SA_3_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cc-by-nc-sa-3.0"
          }
        },
        "CC_BY_NC_SA_4_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cc-by-nc-sa-4.0"
          }
        },
        "CDLA_SHARING_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cdla-sharing-1.0"
          }
        },
        "CDLA_PERMISSIVE_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cdla-permissive-1.0"
          }
        },
        "CDLA_PERMISSIVE_2_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cdla-permissive-2.0"
          }
        },
        "WTFPL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wtfpl"
          }
        },
        "ECL_2_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ecl-2.0"
          }
        },
        "EPL_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "epl-1.0"
          }
        },
        "EPL_2_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "epl-2.0"
          }
        },
        "ETALAB_2_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "etalab-2.0"
          }
        },
        "EUPL_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eupl-1.1"
          }
        },
        "EUPL_1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eupl-1.2"
          }
        },
        "AGPL_3_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agpl-3.0"
          }
        },
        "GFDL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gfdl"
          }
        },
        "GPL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpl"
          }
        },
        "GPL_2_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpl-2.0"
          }
        },
        "GPL_3_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gpl-3.0"
          }
        },
        "LGPL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lgpl"
          }
        },
        "LGPL_2_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lgpl-2.1"
          }
        },
        "LGPL_3_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lgpl-3.0"
          }
        },
        "ISC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "isc"
          }
        },
        "H_RESEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h-research"
          }
        },
        "INTEL_RESEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "intel-research"
          }
        },
        "LPPL_1_3C": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lppl-1.3c"
          }
        },
        "MS_PL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ms-pl"
          }
        },
        "APPLE_ASCL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "apple-ascl"
          }
        },
        "APPLE_AMLR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "apple-amlr"
          }
        },
        "MPL_2_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mpl-2.0"
          }
        },
        "ODC_BY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "odc-by"
          }
        },
        "ODBL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "odbl"
          }
        },
        "OPENMDW_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openmdw-1.0"
          }
        },
        "OPENMDW_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openmdw-1.1"
          }
        },
        "OPENRAIL_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openrail++"
          }
        },
        "OSL_3_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "osl-3.0"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "OFL_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ofl-1.1"
          }
        },
        "NCSA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ncsa"
          }
        },
        "UNLICENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unlicense"
          }
        },
        "ZLIB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zlib"
          }
        },
        "PDDL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pddl"
          }
        },
        "LGPL_LR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lgpl-lr"
          }
        },
        "DEEPFLOYD_IF_LICENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deepfloyd-if-license"
          }
        },
        "FAIR_NONCOMMERCIAL_RESEARCH_LICENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fair-noncommercial-research-license"
          }
        },
        "LLAMA2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "llama2"
          }
        },
        "LLAMA3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "llama3"
          }
        },
        "LLAMA3_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "llama3.1"
          }
        },
        "LLAMA3_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "llama3.2"
          }
        },
        "LLAMA3_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "llama3.3"
          }
        },
        "LLAMA4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "llama4"
          }
        },
        "GROK2_COMMUNITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "grok2-community"
          }
        },
        "GEMMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gemma"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The license of the repository. You can select 'Other' if your license is not in the list"
      }
    },
    "com.huggingface.repos#CreateNewRepositoryRequestLicenseLink": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Document"
        },
        "Case2": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.repos#CreateNewRepositoryRequestVisibility": {
      "type": "enum",
      "members": {
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        },
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        },
        "PROTECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "protected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Repository visibility. `protected` is only supported for Spaces. Cannot be specified along with private."
      }
    },
    "com.huggingface.repos#CreateNewRepositoryRequestFilesItemEncoding": {
      "type": "enum",
      "members": {
        "UTF_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utf-8"
          }
        },
        "BASE64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "base64"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.repos#CreateNewRepositoryRequestFilesItem": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "encoding": {
          "target": "com.huggingface.repos#CreateNewRepositoryRequestFilesItemEncoding"
        }
      },
      "traits": {}
    },
    "com.huggingface.repos#CreateNewRepositoryRequestFilesList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.repos#CreateNewRepositoryRequestFilesItem"
      },
      "traits": {}
    },
    "com.huggingface.repos#CreateNewRepositoryRequestHardware": {
      "type": "enum",
      "members": {
        "CPU_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-basic"
          }
        },
        "CPU_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-upgrade"
          }
        },
        "CPU_PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-performance"
          }
        },
        "CPU_XL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu-xl"
          }
        },
        "SPRX8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sprx8"
          }
        },
        "ZERO_A10G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zero-a10g"
          }
        },
        "T4_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "t4-small"
          }
        },
        "T4_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "t4-medium"
          }
        },
        "L4X1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l4x1"
          }
        },
        "L4X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l4x4"
          }
        },
        "L40SX1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx1"
          }
        },
        "L40SX4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx4"
          }
        },
        "L40SX8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "l40sx8"
          }
        },
        "A10G_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-small"
          }
        },
        "A10G_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-large"
          }
        },
        "A10G_LARGEX2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-largex2"
          }
        },
        "A10G_LARGEX4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a10g-largex4"
          }
        },
        "A100_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100-large"
          }
        },
        "A100X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100x4"
          }
        },
        "A100X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "a100x8"
          }
        },
        "H200": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200"
          }
        },
        "H200X2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x2"
          }
        },
        "H200X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x4"
          }
        },
        "H200X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h200x8"
          }
        },
        "RTX_PRO_6000": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000"
          }
        },
        "RTX_PRO_6000X2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x2"
          }
        },
        "RTX_PRO_6000X4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x4"
          }
        },
        "RTX_PRO_6000X8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rtx-pro-6000x8"
          }
        },
        "INF2X6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inf2x6"
          }
        },
        "ZEROGPU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zerogpu"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The hardware flavor of the space. If you select 'zero-a10g' or 'zerogpu', the SDK must be Gradio."
      }
    },
    "com.huggingface.repos#CreateNewRepositoryRequestSecretsItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.repos#CreateNewRepositoryRequestSecretsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.repos#CreateNewRepositoryRequestSecretsItem"
      },
      "traits": {}
    },
    "com.huggingface.repos#CreateNewRepositoryRequestVariablesItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.repos#CreateNewRepositoryRequestVariablesList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.repos#CreateNewRepositoryRequestVariablesItem"
      },
      "traits": {}
    },
    "com.huggingface.repos#CreateNewRepositoryRequestSleepTimeSeconds": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Integer"
        },
        "Case1": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.huggingface.repos#CreateNewRepositoryRequestVolumesItemType": {
      "type": "enum",
      "members": {
        "BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket"
          }
        },
        "MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model"
          }
        },
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataset"
          }
        },
        "SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "space"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.repos#CreateNewRepositoryRequestVolumesItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.huggingface.repos#CreateNewRepositoryRequestVolumesItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source identifier, e.g. 'username/my-bucket' or 'username/my-model'",
            "smithy.api#required": {}
          }
        },
        "mountPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mount path inside the container, e.g. '/data'",
            "smithy.api#required": {}
          }
        },
        "revision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git revision (only for repos, defaults to 'main')"
          }
        },
        "readOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Read-only mount (true for repos, false default for buckets)"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subfolder prefix inside the bucket/repo to mount, e.g. 'path/to/dir'"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.repos#CreateNewRepositoryRequestVolumesList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.repos#CreateNewRepositoryRequestVolumesItem"
      },
      "traits": {
        "smithy.api#documentation": "HuggingFace Buckets or Repos to mount as volumes in the Space container."
      }
    },
    "com.huggingface.repos#CreateNewRepositoryRequestSdk": {
      "type": "enum",
      "members": {
        "GRADIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gradio"
          }
        },
        "DOCKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "docker"
          }
        },
        "STATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "static"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Space SDK. `static` is free for everyone. `gradio` and `docker` run on compute: on the free `cpu-basic` flavor they require a subscription (PRO for users, Team/Enterprise for orgs), while paid hardware only requires billing (a payment method and prepaid credits)."
      }
    },
    "com.huggingface.repos#CreateNewRepositoryRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "region": {
          "target": "com.huggingface.repos#CreateNewRepositoryRequestRegion",
          "traits": {
            "smithy.api#documentation": "The region where the repository is hosted."
          }
        },
        "license": {
          "target": "com.huggingface.repos#CreateNewRepositoryRequestLicense",
          "traits": {
            "smithy.api#documentation": "The license of the repository. You can select 'Other' if your license is not in the list"
          }
        },
        "license_name": {
          "target": "smithy.api#String"
        },
        "license_link": {
          "target": "com.huggingface.repos#CreateNewRepositoryRequestLicenseLink"
        },
        "private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Repository visibility. Defaults to public. Cannot be specified along with visibility.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "visibility": {
          "target": "com.huggingface.repos#CreateNewRepositoryRequestVisibility",
          "traits": {
            "smithy.api#documentation": "Repository visibility. `protected` is only supported for Spaces. Cannot be specified along with private."
          }
        },
        "resourceGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "files": {
          "target": "com.huggingface.repos#CreateNewRepositoryRequestFilesList"
        },
        "type": {
          "target": "smithy.api#Document"
        },
        "template": {
          "target": "smithy.api#String"
        },
        "short_description": {
          "target": "smithy.api#String"
        },
        "hardware": {
          "target": "com.huggingface.repos#CreateNewRepositoryRequestHardware",
          "traits": {
            "smithy.api#documentation": "The hardware flavor of the space. If you select 'zero-a10g' or 'zerogpu', the SDK must be Gradio."
          }
        },
        "secrets": {
          "target": "com.huggingface.repos#CreateNewRepositoryRequestSecretsList"
        },
        "variables": {
          "target": "com.huggingface.repos#CreateNewRepositoryRequestVariablesList"
        },
        "sleepTimeSeconds": {
          "target": "com.huggingface.repos#CreateNewRepositoryRequestSleepTimeSeconds"
        },
        "volumes": {
          "target": "com.huggingface.repos#CreateNewRepositoryRequestVolumesList",
          "traits": {
            "smithy.api#documentation": "HuggingFace Buckets or Repos to mount as volumes in the Space container."
          }
        },
        "sdk": {
          "target": "com.huggingface.repos#CreateNewRepositoryRequestSdk",
          "traits": {
            "smithy.api#documentation": "The Space SDK. `static` is free for everyone. `gradio` and `docker` run on compute: on the free `cpu-basic` flavor they require a subscription (PRO for users, Team/Enterprise for orgs), while paid hardware only requires billing (a payment method and prepaid credits)."
          }
        },
        "sdkVersion": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "devModeEnabled": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.repos#CreateNewRepositoryResponse": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.repos#CreateNewRepository": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.repos#CreateNewRepositoryRequest"
      },
      "output": {
        "target": "com.huggingface.repos#CreateNewRepositoryResponse"
      },
      "errors": [
        {
          "target": "com.huggingface.repos#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/repos/create",
          "code": 200
        },
        "smithy.api#documentation": "Create a new repository"
      }
    },
    "com.huggingface.repos#MoveRepoRequestType": {
      "type": "enum",
      "members": {
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataset"
          }
        },
        "MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model"
          }
        },
        "SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "space"
          }
        },
        "BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket"
          }
        },
        "KERNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kernel"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.repos#MoveRepoRequest": {
      "type": "structure",
      "members": {
        "fromRepo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "toRepo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.huggingface.repos#MoveRepoRequestType"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.repos#MoveRepo": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.repos#MoveRepoRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/repos/move",
          "code": 200
        },
        "smithy.api#documentation": "Move repo\n\nMove or rename a repo"
      }
    },
    "com.huggingface.repos#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.huggingface.repos#Repos": {
      "type": "service",
      "version": "0.0.1",
      "operations": [
        {
          "target": "com.huggingface.repos#DuplicateRepository"
        },
        {
          "target": "com.huggingface.repos#CreateNewRepository"
        },
        {
          "target": "com.huggingface.repos#MoveRepo"
        }
      ],
      "traits": {
        "smithy.api#title": "Hub API Endpoints",
        "smithy.api#documentation": "We have open endpoints that you can use to retrieve information from the Hub as well as perform certain actions such as creating model, dataset or Space repos. We offer a wrapper Python client, [`huggingface_hub`](https://github.com/huggingface/huggingface_hub), and a JS client, [`huggingface.js`](https://github.com/huggingface/huggingface.js), that allow easy access to these endpoints. We also provide [webhooks](https://huggingface.co/docs/hub/webhooks) to receive real-time incremental info about repos. Enjoy!\n\nThe base URL for those endpoints below is `https://huggingface.co`. For example, to construct the `/api/models` call below, one can call the URL [https://huggingface.co/api/models](https://huggingface.co/api/models).\n\nIf you're an Agent, you might prefer the [markdown version OpenAPI spec](https://huggingface.co/.well-known/openapi.md)."
      }
    }
  }
}
