{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.huggingface.repo_search#QuickSearchRequestLangCase0": {
      "type": "enum",
      "members": {
        "AA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aa"
          }
        },
        "AB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ab"
          }
        },
        "AE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ae"
          }
        },
        "AF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "af"
          }
        },
        "AK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ak"
          }
        },
        "AM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "am"
          }
        },
        "AN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "an"
          }
        },
        "AR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ar"
          }
        },
        "AS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "as"
          }
        },
        "AV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "av"
          }
        },
        "AY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ay"
          }
        },
        "AZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "az"
          }
        },
        "BA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ba"
          }
        },
        "BE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "be"
          }
        },
        "BG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bg"
          }
        },
        "BH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bh"
          }
        },
        "BI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bi"
          }
        },
        "BM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bm"
          }
        },
        "BN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bn"
          }
        },
        "BO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bo"
          }
        },
        "BR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "br"
          }
        },
        "BS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bs"
          }
        },
        "CA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ca"
          }
        },
        "CE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ce"
          }
        },
        "CH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ch"
          }
        },
        "CO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "co"
          }
        },
        "CR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cr"
          }
        },
        "CS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cs"
          }
        },
        "CU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cu"
          }
        },
        "CV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cv"
          }
        },
        "CY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cy"
          }
        },
        "DA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "da"
          }
        },
        "DE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "de"
          }
        },
        "DV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dv"
          }
        },
        "DZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dz"
          }
        },
        "EE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ee"
          }
        },
        "EL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "el"
          }
        },
        "EN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "en"
          }
        },
        "EO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eo"
          }
        },
        "ES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "es"
          }
        },
        "ET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "et"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fa"
          }
        },
        "FF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ff"
          }
        },
        "FI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fi"
          }
        },
        "FJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fj"
          }
        },
        "FO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fo"
          }
        },
        "FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fr"
          }
        },
        "FY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fy"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ga"
          }
        },
        "GD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gd"
          }
        },
        "GL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gl"
          }
        },
        "GN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gn"
          }
        },
        "GU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gu"
          }
        },
        "GV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gv"
          }
        },
        "HA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ha"
          }
        },
        "HE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "he"
          }
        },
        "HI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hi"
          }
        },
        "HO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ho"
          }
        },
        "HR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hr"
          }
        },
        "HT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ht"
          }
        },
        "HU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hu"
          }
        },
        "HY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hy"
          }
        },
        "HZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hz"
          }
        },
        "IA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ia"
          }
        },
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        },
        "IE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ie"
          }
        },
        "IG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ig"
          }
        },
        "II": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ii"
          }
        },
        "IK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ik"
          }
        },
        "IO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "io"
          }
        },
        "IS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is"
          }
        },
        "IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "it"
          }
        },
        "IU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "iu"
          }
        },
        "JA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ja"
          }
        },
        "JV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jv"
          }
        },
        "KA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ka"
          }
        },
        "KG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kg"
          }
        },
        "KI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ki"
          }
        },
        "KJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kj"
          }
        },
        "KK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kk"
          }
        },
        "KL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kl"
          }
        },
        "KM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "km"
          }
        },
        "KN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kn"
          }
        },
        "KO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ko"
          }
        },
        "KR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kr"
          }
        },
        "KS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ks"
          }
        },
        "KU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ku"
          }
        },
        "KV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kv"
          }
        },
        "KW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kw"
          }
        },
        "KY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ky"
          }
        },
        "LA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "la"
          }
        },
        "LB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lb"
          }
        },
        "LG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lg"
          }
        },
        "LI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "li"
          }
        },
        "LN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ln"
          }
        },
        "LO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lo"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lt"
          }
        },
        "LU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lu"
          }
        },
        "LV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lv"
          }
        },
        "MG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mg"
          }
        },
        "MH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mh"
          }
        },
        "MI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mi"
          }
        },
        "MK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mk"
          }
        },
        "ML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml"
          }
        },
        "MN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mn"
          }
        },
        "MR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mr"
          }
        },
        "MS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ms"
          }
        },
        "MT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mt"
          }
        },
        "MY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "my"
          }
        },
        "NA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "na"
          }
        },
        "NB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nb"
          }
        },
        "ND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nd"
          }
        },
        "NE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ne"
          }
        },
        "NG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ng"
          }
        },
        "NL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nl"
          }
        },
        "NN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nn"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no"
          }
        },
        "NR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nr"
          }
        },
        "NV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nv"
          }
        },
        "NY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ny"
          }
        },
        "OC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oc"
          }
        },
        "OJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oj"
          }
        },
        "OM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "om"
          }
        },
        "OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "or"
          }
        },
        "OS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "os"
          }
        },
        "PA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pa"
          }
        },
        "PI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pi"
          }
        },
        "PL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pl"
          }
        },
        "PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ps"
          }
        },
        "PT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pt"
          }
        },
        "QU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "qu"
          }
        },
        "RM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rm"
          }
        },
        "RN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rn"
          }
        },
        "RO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ro"
          }
        },
        "RU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ru"
          }
        },
        "RW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rw"
          }
        },
        "SA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sa"
          }
        },
        "SC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sc"
          }
        },
        "SD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sd"
          }
        },
        "SE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "se"
          }
        },
        "SG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sg"
          }
        },
        "SI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "si"
          }
        },
        "SK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sk"
          }
        },
        "SL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sl"
          }
        },
        "SM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sm"
          }
        },
        "SN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sn"
          }
        },
        "SO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "so"
          }
        },
        "SQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sq"
          }
        },
        "SR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sr"
          }
        },
        "SS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ss"
          }
        },
        "ST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "st"
          }
        },
        "SU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "su"
          }
        },
        "SV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sv"
          }
        },
        "SW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sw"
          }
        },
        "TA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ta"
          }
        },
        "TE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "te"
          }
        },
        "TG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tg"
          }
        },
        "TH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "th"
          }
        },
        "TI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ti"
          }
        },
        "TK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tk"
          }
        },
        "TL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tl"
          }
        },
        "TN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tn"
          }
        },
        "TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "to"
          }
        },
        "TR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tr"
          }
        },
        "TS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ts"
          }
        },
        "TT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tt"
          }
        },
        "TW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tw"
          }
        },
        "TY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ty"
          }
        },
        "UG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ug"
          }
        },
        "UK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uk"
          }
        },
        "UR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ur"
          }
        },
        "UZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uz"
          }
        },
        "VE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ve"
          }
        },
        "VI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vi"
          }
        },
        "VO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vo"
          }
        },
        "WA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wa"
          }
        },
        "WO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wo"
          }
        },
        "XH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xh"
          }
        },
        "YI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yi"
          }
        },
        "YO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yo"
          }
        },
        "ZA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "za"
          }
        },
        "ZH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zh"
          }
        },
        "ZU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zu"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchRequestLang": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.repo_search#QuickSearchRequestLangCase0"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchRequestLibraryCase0": {
      "type": "enum",
      "members": {
        "ACESTEP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "acestep"
          }
        },
        "ADAPTER_TRANSFORMERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "adapter-transformers"
          }
        },
        "ALLENNLP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allennlp"
          }
        },
        "ANEMOI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anemoi"
          }
        },
        "ARACLIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "araclip"
          }
        },
        "AVIATION_NER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aviation-ner"
          }
        },
        "ASTEROID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asteroid"
          }
        },
        "AUDIOCRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audiocraft"
          }
        },
        "AUDIOSEAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audioseal"
          }
        },
        "BAGEL_MOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bagel-mot"
          }
        },
        "BBOXMASKPOSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bboxmaskpose"
          }
        },
        "BEN2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ben2"
          }
        },
        "BERTOPIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bertopic"
          }
        },
        "BIG_VISION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "big_vision"
          }
        },
        "BIONEMO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bionemo"
          }
        },
        "BIRDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "birder"
          }
        },
        "BIREFNET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "birefnet"
          }
        },
        "BM25S": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bm25s"
          }
        },
        "BOLTZGEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boltzgen"
          }
        },
        "CANCERTATHOMEV2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancertathomev2"
          }
        },
        "CARTESIA_PYTORCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cartesia_pytorch"
          }
        },
        "CARTESIA_MLX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cartesia_mlx"
          }
        },
        "CCPFN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ccpfn"
          }
        },
        "CHAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "champ"
          }
        },
        "CHATTERBOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "chatterbox"
          }
        },
        "CHAOSSIM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "chaossim"
          }
        },
        "CHAT_TTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "chat_tts"
          }
        },
        "CHEXMIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "chexmix"
          }
        },
        "CHRONOS_FORECASTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "chronos-forecasting"
          }
        },
        "CLARA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clara"
          }
        },
        "CLIPSCOPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clipscope"
          }
        },
        "CLOUD_AGENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloud-agents"
          }
        },
        "COLLECTORVISION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "collectorvision"
          }
        },
        "COLIPRI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "colipri"
          }
        },
        "COSYVOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cosyvoice"
          }
        },
        "COTRACKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cotracker"
          }
        },
        "COLPALI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "colpali"
          }
        },
        "COMET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "comet"
          }
        },
        "COSMOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cosmos"
          }
        },
        "CXR_FOUNDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cxr-foundation"
          }
        },
        "DEEPFOREST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deepforest"
          }
        },
        "DEPTH_ANYTHING_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "depth-anything-v2"
          }
        },
        "DEPTH_PRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "depth-pro"
          }
        },
        "DERM_FOUNDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "derm-foundation"
          }
        },
        "DESCRIBE_ANYTHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "describe-anything"
          }
        },
        "DIA_TTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dia-tts"
          }
        },
        "DIA2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dia2"
          }
        },
        "DIFF_INTERPRETATION_TUNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "diff-interpretation-tuning"
          }
        },
        "DIFFREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "diffree"
          }
        },
        "DIFFUSERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "diffusers"
          }
        },
        "DIFFUSIONKIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "diffusionkit"
          }
        },
        "DOCKING_AT_HOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "docking-at-home"
          }
        },
        "DOCTR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "doctr"
          }
        },
        "EDSNLP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edsnlp"
          }
        },
        "ELM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elm"
          }
        },
        "ENCODERFILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "encoderfile"
          }
        },
        "ESPNET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "espnet"
          }
        },
        "EUPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eupe"
          }
        },
        "FAIRSEQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fairseq"
          }
        },
        "FASTAI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fastai"
          }
        },
        "FASTPRINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fastprint"
          }
        },
        "FASTTEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fasttext"
          }
        },
        "FIXER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixer"
          }
        },
        "FLAIR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flair"
          }
        },
        "FLEXTAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flextab"
          }
        },
        "FME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fme"
          }
        },
        "GEMMA_CPP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gemma.cpp"
          }
        },
        "GEOMETRY_CRAFTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "geometry-crafter"
          }
        },
        "GLINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gliner"
          }
        },
        "GLINER2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gliner2"
          }
        },
        "GLM_TTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "glm-tts"
          }
        },
        "GLYPH_BYT5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "glyph-byt5"
          }
        },
        "GRANITE_LIBRARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "granite-library"
          }
        },
        "GROK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "grok"
          }
        },
        "HABIBI_TTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "habibi-tts"
          }
        },
        "HALLO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hallo"
          }
        },
        "MINIMAX_H3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "minimax-h3"
          }
        },
        "HERMES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hermes"
          }
        },
        "HOLOMOTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "holomotion"
          }
        },
        "HEZAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hezar"
          }
        },
        "HTRFLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "htrflow"
          }
        },
        "HUNYUAN_DIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hunyuan-dit"
          }
        },
        "HUNYUAN3D_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hunyuan3d-2"
          }
        },
        "HUNYUANWORLD_VOYAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hunyuanworld-voyager"
          }
        },
        "HY_WORLDPLAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hy-worldplay"
          }
        },
        "HY_WORLD_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hy-world-2"
          }
        },
        "IMAGE_MATCHING_MODELS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image-matching-models"
          }
        },
        "IMSTOUCAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "imstoucan"
          }
        },
        "INDEX_TTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "index-tts"
          }
        },
        "INFINITETALK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "infinitetalk"
          }
        },
        "INFINITE_YOU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "infinite-you"
          }
        },
        "INTELLIFOLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "intellifold"
          }
        },
        "ISING_DECODING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ising-decoding"
          }
        },
        "KERAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "keras"
          }
        },
        "TF_KERAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tf-keras"
          }
        },
        "KERAS_HUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "keras-hub"
          }
        },
        "KERASFORMERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kerasformers"
          }
        },
        "KERNELS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kernels"
          }
        },
        "KIMI_AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kimi-audio"
          }
        },
        "KITTENTTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kittentts"
          }
        },
        "KRONOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kronos"
          }
        },
        "K2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "k2"
          }
        },
        "LYRA_2_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lyra-2.0"
          }
        },
        "LAGERNVS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lagernvs"
          }
        },
        "LTX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ltx"
          }
        },
        "LIGHTNING_IR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lightning-ir"
          }
        },
        "LITERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "litert"
          }
        },
        "LITERT_LM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "litert-lm"
          }
        },
        "LEROBOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lerobot"
          }
        },
        "LIGHTGLUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lightglue"
          }
        },
        "LIVEPORTRAIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "liveportrait"
          }
        },
        "LONGCAT_VIDEO_AVATAR_1_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "longcat-video-avatar-1.5"
          }
        },
        "LLAMA_CPP_PYTHON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "llama-cpp-python"
          }
        },
        "MINI_OMNI2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mini-omni2"
          }
        },
        "MINDSPORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mindspore"
          }
        },
        "MAGI_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "magi-1"
          }
        },
        "MAGENTA_REALTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "magenta-realtime"
          }
        },
        "MAGENTA_REALTIME_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "magenta-realtime-2"
          }
        },
        "MAMBA_SSM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mamba-ssm"
          }
        },
        "MANAS_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manas-1"
          }
        },
        "MARS5_TTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mars5-tts"
          }
        },
        "MATANYONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "matanyone"
          }
        },
        "MESH_ANYTHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mesh-anything"
          }
        },
        "MERLIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "merlin"
          }
        },
        "MEDVAE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medvae"
          }
        },
        "MFLUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mflux"
          }
        },
        "MITIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mitie"
          }
        },
        "ML_AGENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml-agents"
          }
        },
        "ML_SHARP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ml-sharp"
          }
        },
        "MLX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mlx"
          }
        },
        "MLX_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mlx-image"
          }
        },
        "MLC_LLM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mlc-llm"
          }
        },
        "MODEL2VEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model2vec"
          }
        },
        "MOBILINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mobilint"
          }
        },
        "MOSHI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "moshi"
          }
        },
        "MTVCRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mtvcraft"
          }
        },
        "MULTIMOLECULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "multimolecule"
          }
        },
        "NEMO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nemo"
          }
        },
        "NINFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ninfer"
          }
        },
        "NOBG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nobg"
          }
        },
        "NV_MEDTECH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nv-medtech"
          }
        },
        "OPEN_OASIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open-oasis"
          }
        },
        "OPEN_CLIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open_clip"
          }
        },
        "OPENASR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openasr"
          }
        },
        "OPENPEERLLM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openpeerllm"
          }
        },
        "OPEN_SORA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open-sora"
          }
        },
        "OUTETTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "outetts"
          }
        },
        "PADDLENLP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paddlenlp"
          }
        },
        "PADDLEOCR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PaddleOCR"
          }
        },
        "PEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "peft"
          }
        },
        "PERCEPTION_ENCODER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "perception-encoder"
          }
        },
        "PHANTOM_WAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "phantom-wan"
          }
        },
        "POCKET_TTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pocket-tts"
          }
        },
        "PRUNA_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pruna-ai"
          }
        },
        "PXIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pxia"
          }
        },
        "PYANNOTE_AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pyannote-audio"
          }
        },
        "PY_FEAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "py-feat"
          }
        },
        "PYTHAE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pythae"
          }
        },
        "QUANTUMPEER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quantumpeer"
          }
        },
        "QWEN3_TTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "qwen3_tts"
          }
        },
        "RECURRENTGEMMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "recurrentgemma"
          }
        },
        "RELIK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "relik"
          }
        },
        "REFINERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "refiners"
          }
        },
        "RENDERFORMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "renderformer"
          }
        },
        "REVERB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reverb"
          }
        },
        "RKLLM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rkllm"
          }
        },
        "ROBO_ORCHARD_LAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "robo-orchard-lab"
          }
        },
        "RWKV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rwkv"
          }
        },
        "SAELENS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "saelens"
          }
        },
        "SCAIL_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scail-2"
          }
        },
        "SAM2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sam2"
          }
        },
        "SAM_3D_BODY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sam-3d-body"
          }
        },
        "SAM_3D_OBJECTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sam-3d-objects"
          }
        },
        "SAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "same"
          }
        },
        "SAMPLE_FACTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sample-factory"
          }
        },
        "SAP_RPT_1_OSS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sap-rpt-1-oss"
          }
        },
        "SAPIENS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sapiens"
          }
        },
        "SAPIENS2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sapiens2"
          }
        },
        "SEEDVR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "seedvr"
          }
        },
        "SELF_FORCING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "self-forcing"
          }
        },
        "SENTENCE_TRANSFORMERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sentence-transformers"
          }
        },
        "SETFIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "setfit"
          }
        },
        "SKLEARN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sklearn"
          }
        },
        "SPACY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "spacy"
          }
        },
        "SPAN_MARKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "span-marker"
          }
        },
        "SPEECHBRAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "speechbrain"
          }
        },
        "SSR_SPEECH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ssr-speech"
          }
        },
        "STABLE_AUDIO_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stable-audio-3"
          }
        },
        "STABLE_AUDIO_TOOLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stable-audio-tools"
          }
        },
        "MONKEYOCR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "monkeyocr"
          }
        },
        "DIFFUSION_SINGLE_FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "diffusion-single-file"
          }
        },
        "SEED_STORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "seed-story"
          }
        },
        "SKALA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skala"
          }
        },
        "SOLOAUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "soloaudio"
          }
        },
        "SONGBLOOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "songbloom"
          }
        },
        "STABLE_BASELINES3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stable-baselines3"
          }
        },
        "STANZA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stanza"
          }
        },
        "SUPERTONIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "supertonic"
          }
        },
        "SWARMFORMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "swarmformer"
          }
        },
        "SYNTHEFY_MIGAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "synthefy-migas"
          }
        },
        "F5_TTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "f5-tts"
          }
        },
        "GENMO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "genmo"
          }
        },
        "TENCENT_SONG_GENERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tencent-song-generation"
          }
        },
        "TENSORFLOWTTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tensorflowtts"
          }
        },
        "TENSORRT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tensorrt"
          }
        },
        "TABPFN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tabpfn"
          }
        },
        "TERRATORCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "terratorch"
          }
        },
        "TIC_CLIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tic-clip"
          }
        },
        "TIMESFM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "timesfm"
          }
        },
        "TIMEE_TS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "timee-ts"
          }
        },
        "TIMM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "timm"
          }
        },
        "TIREX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tirex"
          }
        },
        "TIREX_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tirex-2"
          }
        },
        "TORCHGEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "torchgeo"
          }
        },
        "TRANSFORMERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transformers"
          }
        },
        "TRANSFORMERS_JS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transformers.js"
          }
        },
        "TRELLIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trellis"
          }
        },
        "TRELLIS2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trellis2"
          }
        },
        "TUNEJURY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tunejury"
          }
        },
        "ULTRALYTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ultralytics"
          }
        },
        "UNIVA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "univa"
          }
        },
        "UNI_3DAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uni-3dar"
          }
        },
        "UNITY_SENTIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unity-sentis"
          }
        },
        "SANA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sana"
          }
        },
        "VIDEOPRISM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "videoprism"
          }
        },
        "VFI_MAMBA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vfi-mamba"
          }
        },
        "VISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vismatch"
          }
        },
        "LVFACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lvface"
          }
        },
        "VOICECRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "voicecraft"
          }
        },
        "VOXCPM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "voxcpm"
          }
        },
        "VUI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vui"
          }
        },
        "VIBEVOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vibevoice"
          }
        },
        "VIDEOX_FUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "videox_fun"
          }
        },
        "WAN2_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wan2.2"
          }
        },
        "WHAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wham"
          }
        },
        "WHISPERKIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whisperkit"
          }
        },
        "YOLOV10": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yolov10"
          }
        },
        "YOLOV26": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yolov26"
          }
        },
        "ZONOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zonos"
          }
        },
        "_3DTOPIA_XL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "3dtopia-xl"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchRequestLibrary": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.repo_search#QuickSearchRequestLibraryCase0"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchRequestTypeCase0Item": {
      "type": "enum",
      "members": {
        "MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model"
          }
        },
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataset"
          }
        },
        "SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "space"
          }
        },
        "ORG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "PAPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paper"
          }
        },
        "COLLECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "collection"
          }
        },
        "BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket"
          }
        },
        "KERNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kernel"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchRequestTypeCase0List": {
      "type": "list",
      "member": {
        "target": "com.huggingface.repo_search#QuickSearchRequestTypeCase0Item"
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchRequestTypeCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchRequestType": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.repo_search#QuickSearchRequestTypeCase0List"
        },
        "Case1": {
          "target": "com.huggingface.repo_search#QuickSearchRequestTypeCase1List"
        }
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchRequestOrgsFilterCase0Item": {
      "type": "enum",
      "members": {
        "OWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "own"
          }
        },
        "UNWATCHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unwatched"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchRequestOrgsFilterCase0List": {
      "type": "list",
      "member": {
        "target": "com.huggingface.repo_search#QuickSearchRequestOrgsFilterCase0Item"
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchRequestOrgsFilterCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchRequestOrgsFilter": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.repo_search#QuickSearchRequestOrgsFilterCase0List"
        },
        "Case1": {
          "target": "com.huggingface.repo_search#QuickSearchRequestOrgsFilterCase1List"
        }
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchRequestReposFilterCase0Item": {
      "type": "enum",
      "members": {
        "SKIP_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skip_disabled"
          }
        },
        "SKIP_GATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skip_gated"
          }
        },
        "OWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "own"
          }
        },
        "OWN_ORGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "own_orgs"
          }
        },
        "GRANTED_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "granted_access"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchRequestReposFilterCase0List": {
      "type": "list",
      "member": {
        "target": "com.huggingface.repo_search#QuickSearchRequestReposFilterCase0Item"
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchRequestReposFilterCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchRequestReposFilter": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.repo_search#QuickSearchRequestReposFilterCase0List"
        },
        "Case1": {
          "target": "com.huggingface.repo_search#QuickSearchRequestReposFilterCase1List"
        }
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchRequestPipelinesCase0Item": {
      "type": "enum",
      "members": {
        "TEXT_CLASSIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text-classification"
          }
        },
        "TOKEN_CLASSIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "token-classification"
          }
        },
        "TABLE_QUESTION_ANSWERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "table-question-answering"
          }
        },
        "QUESTION_ANSWERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "question-answering"
          }
        },
        "ZERO_SHOT_CLASSIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zero-shot-classification"
          }
        },
        "TRANSLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "translation"
          }
        },
        "SUMMARIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "summarization"
          }
        },
        "FEATURE_EXTRACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "feature-extraction"
          }
        },
        "TEXT_GENERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text-generation"
          }
        },
        "FILL_MASK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fill-mask"
          }
        },
        "SENTENCE_SIMILARITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sentence-similarity"
          }
        },
        "TEXT_TO_SPEECH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text-to-speech"
          }
        },
        "TEXT_TO_AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text-to-audio"
          }
        },
        "AUTOMATIC_SPEECH_RECOGNITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automatic-speech-recognition"
          }
        },
        "AUDIO_TO_AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audio-to-audio"
          }
        },
        "AUDIO_CLASSIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audio-classification"
          }
        },
        "AUDIO_TEXT_TO_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audio-text-to-text"
          }
        },
        "VOICE_ACTIVITY_DETECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "voice-activity-detection"
          }
        },
        "DEPTH_ESTIMATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "depth-estimation"
          }
        },
        "IMAGE_CLASSIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image-classification"
          }
        },
        "OBJECT_DETECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "object-detection"
          }
        },
        "IMAGE_SEGMENTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image-segmentation"
          }
        },
        "TEXT_TO_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text-to-image"
          }
        },
        "IMAGE_TO_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image-to-text"
          }
        },
        "IMAGE_TO_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image-to-image"
          }
        },
        "IMAGE_TO_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image-to-video"
          }
        },
        "UNCONDITIONAL_IMAGE_GENERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unconditional-image-generation"
          }
        },
        "VIDEO_CLASSIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "video-classification"
          }
        },
        "REINFORCEMENT_LEARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reinforcement-learning"
          }
        },
        "ROBOTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "robotics"
          }
        },
        "TABULAR_CLASSIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tabular-classification"
          }
        },
        "TABULAR_REGRESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tabular-regression"
          }
        },
        "TABULAR_TO_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tabular-to-text"
          }
        },
        "TABLE_TO_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "table-to-text"
          }
        },
        "MULTIPLE_CHOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "multiple-choice"
          }
        },
        "TEXT_RANKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text-ranking"
          }
        },
        "TEXT_RETRIEVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text-retrieval"
          }
        },
        "TIME_SERIES_FORECASTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "time-series-forecasting"
          }
        },
        "TEXT_TO_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text-to-video"
          }
        },
        "IMAGE_TEXT_TO_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image-text-to-text"
          }
        },
        "IMAGE_TEXT_TO_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image-text-to-image"
          }
        },
        "IMAGE_TEXT_TO_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image-text-to-video"
          }
        },
        "VISUAL_QUESTION_ANSWERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "visual-question-answering"
          }
        },
        "DOCUMENT_QUESTION_ANSWERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "document-question-answering"
          }
        },
        "ZERO_SHOT_IMAGE_CLASSIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zero-shot-image-classification"
          }
        },
        "GRAPH_ML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "graph-ml"
          }
        },
        "MASK_GENERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mask-generation"
          }
        },
        "ZERO_SHOT_OBJECT_DETECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zero-shot-object-detection"
          }
        },
        "TEXT_TO_3D": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text-to-3d"
          }
        },
        "IMAGE_TO_3D": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image-to-3d"
          }
        },
        "IMAGE_FEATURE_EXTRACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image-feature-extraction"
          }
        },
        "VIDEO_TEXT_TO_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "video-text-to-text"
          }
        },
        "KEYPOINT_DETECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "keypoint-detection"
          }
        },
        "VISUAL_DOCUMENT_RETRIEVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "visual-document-retrieval"
          }
        },
        "ANY_TO_ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "any-to-any"
          }
        },
        "VIDEO_TO_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "video-to-video"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchRequestPipelinesCase0List": {
      "type": "list",
      "member": {
        "target": "com.huggingface.repo_search#QuickSearchRequestPipelinesCase0Item"
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchRequestPipelinesCase1Case1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchRequestPipelinesCase1": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.huggingface.repo_search#QuickSearchRequestPipelinesCase1Case1List"
        }
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchRequestPipelines": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.repo_search#QuickSearchRequestPipelinesCase0List"
        },
        "Case1": {
          "target": "com.huggingface.repo_search#QuickSearchRequestPipelinesCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "Comma-separated or array of pipeline types"
      }
    },
    "com.huggingface.repo_search#QuickSearchRequestExcludeList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Array of excluded resources: spaces/repo, models/repo, datasets/repo, papers/paperId, collections/collectionId, users/username, orgs/orgName, buckets/bucketName, kernels/repo"
      }
    },
    "com.huggingface.repo_search#QuickSearchRequestIncludeInvitees": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Boolean"
        },
        "Case1": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchRequestRepoTypeCase0": {
      "type": "enum",
      "members": {
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataset"
          }
        },
        "MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model"
          }
        },
        "SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "space"
          }
        },
        "BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket"
          }
        },
        "KERNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kernel"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchRequestRepoType": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.repo_search#QuickSearchRequestRepoTypeCase0"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchRequestSpacesTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchRequest": {
      "type": "structure",
      "members": {
        "q": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "q"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "lang": {
          "target": "com.huggingface.repo_search#QuickSearchRequestLang",
          "traits": {
            "smithy.api#httpQuery": "lang"
          }
        },
        "library": {
          "target": "com.huggingface.repo_search#QuickSearchRequestLibrary",
          "traits": {
            "smithy.api#httpQuery": "library"
          }
        },
        "type": {
          "target": "com.huggingface.repo_search#QuickSearchRequestType",
          "traits": {
            "smithy.api#httpQuery": "type"
          }
        },
        "orgsFilter": {
          "target": "com.huggingface.repo_search#QuickSearchRequestOrgsFilter",
          "traits": {
            "smithy.api#httpQuery": "orgsFilter"
          }
        },
        "reposFilter": {
          "target": "com.huggingface.repo_search#QuickSearchRequestReposFilter",
          "traits": {
            "smithy.api#httpQuery": "reposFilter"
          }
        },
        "pipelines": {
          "target": "com.huggingface.repo_search#QuickSearchRequestPipelines",
          "traits": {
            "smithy.api#httpQuery": "pipelines"
          }
        },
        "exclude": {
          "target": "com.huggingface.repo_search#QuickSearchRequestExcludeList",
          "traits": {
            "smithy.api#httpQuery": "exclude"
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "namespace"
          }
        },
        "includeInvitees": {
          "target": "com.huggingface.repo_search#QuickSearchRequestIncludeInvitees",
          "traits": {
            "smithy.api#httpQuery": "includeInvitees"
          }
        },
        "repoName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repoName"
          }
        },
        "repoType": {
          "target": "com.huggingface.repo_search#QuickSearchRequestRepoType",
          "traits": {
            "smithy.api#httpQuery": "repoType"
          }
        },
        "discussionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "discussionId"
          }
        },
        "discussionCollectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "discussionCollectionName"
          }
        },
        "spacesTags": {
          "target": "com.huggingface.repo_search#QuickSearchRequestSpacesTagsList",
          "traits": {
            "smithy.api#httpQuery": "spacesTags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.repo_search#QuickSearchResponseDatasetsItem": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "private": {
          "target": "smithy.api#Boolean"
        },
        "trendingWeight": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchResponseDatasetsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.repo_search#QuickSearchResponseDatasetsItem"
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchResponseModelsItem": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "private": {
          "target": "smithy.api#Boolean"
        },
        "trendingWeight": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchResponseModelsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.repo_search#QuickSearchResponseModelsItem"
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchResponseOrgsItem": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchResponseOrgsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.repo_search#QuickSearchResponseOrgsItem"
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchResponseSpacesItem": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "private": {
          "target": "smithy.api#Boolean"
        },
        "emoji": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "trendingWeight": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchResponseSpacesList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.repo_search#QuickSearchResponseSpacesItem"
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchResponseUsersItem": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchResponseUsersList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.repo_search#QuickSearchResponseUsersItem"
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchResponsePapersItem": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "private": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchResponsePapersList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.repo_search#QuickSearchResponsePapersItem"
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchResponseCollectionsItem": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchResponseCollectionsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.repo_search#QuickSearchResponseCollectionsItem"
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchResponseBucketsItem": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "private": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchResponseBucketsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.repo_search#QuickSearchResponseBucketsItem"
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchResponseKernelsItem": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "private": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchResponseKernelsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.repo_search#QuickSearchResponseKernelsItem"
      },
      "traits": {}
    },
    "com.huggingface.repo_search#QuickSearchResponse": {
      "type": "structure",
      "members": {
        "datasets": {
          "target": "com.huggingface.repo_search#QuickSearchResponseDatasetsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "datasetsCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "models": {
          "target": "com.huggingface.repo_search#QuickSearchResponseModelsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "modelsCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "orgs": {
          "target": "com.huggingface.repo_search#QuickSearchResponseOrgsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "q": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "spaces": {
          "target": "com.huggingface.repo_search#QuickSearchResponseSpacesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "spacesCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "users": {
          "target": "com.huggingface.repo_search#QuickSearchResponseUsersList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "papers": {
          "target": "com.huggingface.repo_search#QuickSearchResponsePapersList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "papersCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "collections": {
          "target": "com.huggingface.repo_search#QuickSearchResponseCollectionsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "collectionsCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "buckets": {
          "target": "com.huggingface.repo_search#QuickSearchResponseBucketsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "bucketsCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kernels": {
          "target": "com.huggingface.repo_search#QuickSearchResponseKernelsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kernelsCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.repo_search#QuickSearch": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.repo_search#QuickSearchRequest"
      },
      "output": {
        "target": "com.huggingface.repo_search#QuickSearchResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/quicksearch",
          "code": 200
        },
        "smithy.api#documentation": "Quick search\n\nQuick search for models, datasets, spaces, orgs, users, papers, collections, and buckets"
      }
    },
    "com.huggingface.repo_search#QuickSearchPostRequestLangCase0": {
      "type": "enum",
      "members": {
        "AA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aa"
          }
        },
        "AB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ab"
          }
        },
        "AE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ae"
          }
        },
        "AF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "af"
          }
        },
        "AK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ak"
          }
        },
        "AM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "am"
          }
        },
        "AN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "an"
          }
        },
        "AR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ar"
          }
        },
        "AS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "as"
          }
        },
        "AV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "av"
          }
        },
        "AY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ay"
          }
        },
        "AZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "az"
          }
        },
        "BA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ba"
          }
        },
        "BE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "be"
          }
        },
        "BG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bg"
          }
        },
        "BH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bh"
          }
        },
        "BI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bi"
          }
        },
        "BM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bm"
          }
        },
        "BN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bn"
          }
        },
        "BO": {
          "target": "smithy.api#Unit",
[...]
