{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.huggingface.service_accounts#ListServiceAccountsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.service_accounts#ListServiceAccountsResponseBodyItem": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.service_accounts#ListServiceAccountsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.service_accounts#ListServiceAccountsResponseBodyItem"
      },
      "traits": {}
    },
    "com.huggingface.service_accounts#ListServiceAccountsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.huggingface.service_accounts#ListServiceAccountsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.service_accounts#ListServiceAccounts": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.service_accounts#ListServiceAccountsRequest"
      },
      "output": {
        "target": "com.huggingface.service_accounts#ListServiceAccountsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{name}/service-accounts",
          "code": 200
        },
        "smithy.api#documentation": "List service accounts\n\nList all service accounts for the organization."
      }
    },
    "com.huggingface.service_accounts#CreateServiceAccountRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of what this service account is used for"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.service_accounts#CreateServiceAccountResponse": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.service_accounts#CreateServiceAccount": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.service_accounts#CreateServiceAccountRequest"
      },
      "output": {
        "target": "com.huggingface.service_accounts#CreateServiceAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/organizations/{name}/service-accounts",
          "code": 200
        },
        "smithy.api#documentation": "Create service account\n\nCreate a new service account for the organization."
      }
    },
    "com.huggingface.service_accounts#GetServiceAccountRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "serviceAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.service_accounts#GetServiceAccountResponseAccessTokensItemRole": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "FINEGRAINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fineGrained"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.service_accounts#GetServiceAccountResponseAccessTokensItemPermissionsItem": {
      "type": "enum",
      "members": {
        "REPO_CONTENT_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.content.read"
          }
        },
        "REPO_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.write"
          }
        },
        "INFERENCE_SERVERLESS_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inference.serverless.write"
          }
        },
        "INFERENCE_ENDPOINTS_INFER_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inference.endpoints.infer.write"
          }
        },
        "INFERENCE_ENDPOINTS_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inference.endpoints.write"
          }
        },
        "ORG_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.read"
          }
        },
        "ORG_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.write"
          }
        },
        "COLLECTION_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "collection.read"
          }
        },
        "COLLECTION_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "collection.write"
          }
        },
        "RESOURCEGROUP_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resourceGroup.write"
          }
        },
        "JOB_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "job.write"
          }
        },
        "ORG_SERVICEACCOUNTS_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.serviceAccounts.read"
          }
        },
        "ORG_SERVICEACCOUNTS_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.serviceAccounts.write"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.service_accounts#GetServiceAccountResponseAccessTokensItemPermissionsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.service_accounts#GetServiceAccountResponseAccessTokensItemPermissionsItem"
      },
      "traits": {}
    },
    "com.huggingface.service_accounts#GetServiceAccountResponseAccessTokensItemRepoIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.service_accounts#GetServiceAccountResponseAccessTokensItemRepoPermissionsItem": {
      "type": "enum",
      "members": {
        "REPO_CONTENT_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.content.read"
          }
        },
        "REPO_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.write"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.service_accounts#GetServiceAccountResponseAccessTokensItemRepoPermissionsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.service_accounts#GetServiceAccountResponseAccessTokensItemRepoPermissionsItem"
      },
      "traits": {}
    },
    "com.huggingface.service_accounts#GetServiceAccountResponseAccessTokensItemEndpointPatternsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.service_accounts#GetServiceAccountResponseAccessTokensItem": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lastUsedAt": {
          "target": "smithy.api#String"
        },
        "expiration": {
          "target": "smithy.api#String"
        },
        "role": {
          "target": "com.huggingface.service_accounts#GetServiceAccountResponseAccessTokensItemRole",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.huggingface.service_accounts#GetServiceAccountResponseAccessTokensItemPermissionsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repoIds": {
          "target": "com.huggingface.service_accounts#GetServiceAccountResponseAccessTokensItemRepoIdsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repoPermissions": {
          "target": "com.huggingface.service_accounts#GetServiceAccountResponseAccessTokensItemRepoPermissionsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "endpointPatterns": {
          "target": "com.huggingface.service_accounts#GetServiceAccountResponseAccessTokensItemEndpointPatternsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last4": {
          "target": "smithy.api#String"
        },
        "skipNetworkSecurity": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.huggingface.service_accounts#GetServiceAccountResponseAccessTokensList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.service_accounts#GetServiceAccountResponseAccessTokensItem"
      },
      "traits": {}
    },
    "com.huggingface.service_accounts#GetServiceAccountResponse": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "accessTokens": {
          "target": "com.huggingface.service_accounts#GetServiceAccountResponseAccessTokensList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.service_accounts#GetServiceAccount": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.service_accounts#GetServiceAccountRequest"
      },
      "output": {
        "target": "com.huggingface.service_accounts#GetServiceAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{name}/service-accounts/{serviceAccountId}",
          "code": 200
        },
        "smithy.api#documentation": "Get service account\n\nRetrieve a single service account and its access token metadata. Token secrets are never returned."
      }
    },
    "com.huggingface.service_accounts#DeleteServiceAccountRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "serviceAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.service_accounts#DeleteServiceAccountResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.service_accounts#DeleteServiceAccount": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.service_accounts#DeleteServiceAccountRequest"
      },
      "output": {
        "target": "com.huggingface.service_accounts#DeleteServiceAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/organizations/{name}/service-accounts/{serviceAccountId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete service account\n\nDelete a service account and all its tokens. This action cannot be undone."
      }
    },
    "com.huggingface.service_accounts#CreateServiceAccountTokenRequestPermissionsItem": {
      "type": "enum",
      "members": {
        "REPO_CONTENT_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.content.read"
          }
        },
        "REPO_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.write"
          }
        },
        "INFERENCE_SERVERLESS_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inference.serverless.write"
          }
        },
        "INFERENCE_ENDPOINTS_INFER_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inference.endpoints.infer.write"
          }
        },
        "INFERENCE_ENDPOINTS_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inference.endpoints.write"
          }
        },
        "ORG_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.read"
          }
        },
        "ORG_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.write"
          }
        },
        "COLLECTION_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "collection.read"
          }
        },
        "COLLECTION_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "collection.write"
          }
        },
        "RESOURCEGROUP_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resourceGroup.write"
          }
        },
        "JOB_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "job.write"
          }
        },
        "ORG_SERVICEACCOUNTS_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.serviceAccounts.read"
          }
        },
        "ORG_SERVICEACCOUNTS_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.serviceAccounts.write"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.service_accounts#CreateServiceAccountTokenRequestPermissionsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.service_accounts#CreateServiceAccountTokenRequestPermissionsItem"
      },
      "traits": {
        "smithy.api#documentation": "Org-wide permissions for this token"
      }
    },
    "com.huggingface.service_accounts#CreateServiceAccountTokenRequestRepoIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Repositories to grant `repoPermissions` on. Can be repositories owned by the organization or any public repository. These override the org-wide permissions."
      }
    },
    "com.huggingface.service_accounts#CreateServiceAccountTokenRequestRepoPermissionsItem": {
      "type": "enum",
      "members": {
        "REPO_CONTENT_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.content.read"
          }
        },
        "REPO_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.write"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.service_accounts#CreateServiceAccountTokenRequestRepoPermissionsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.service_accounts#CreateServiceAccountTokenRequestRepoPermissionsItem"
      },
      "traits": {
        "smithy.api#documentation": "Permissions granted on the selected `repoIds`."
      }
    },
    "com.huggingface.service_accounts#CreateServiceAccountTokenRequestEndpointPatternsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Inference endpoint name patterns (wildcards allowed, e.g. `gpt2-*`) restricting the token's org-wide Inference Endpoint permissions to matching endpoints. Empty means all endpoints."
      }
    },
    "com.huggingface.service_accounts#CreateServiceAccountTokenRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "serviceAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the token"
          }
        },
        "permissions": {
          "target": "com.huggingface.service_accounts#CreateServiceAccountTokenRequestPermissionsList",
          "traits": {
            "smithy.api#documentation": "Org-wide permissions for this token"
          }
        },
        "repoIds": {
          "target": "com.huggingface.service_accounts#CreateServiceAccountTokenRequestRepoIdsList",
          "traits": {
            "smithy.api#documentation": "Repositories to grant `repoPermissions` on. Can be repositories owned by the organization or any public repository. These override the org-wide permissions."
          }
        },
        "repoPermissions": {
          "target": "com.huggingface.service_accounts#CreateServiceAccountTokenRequestRepoPermissionsList",
          "traits": {
            "smithy.api#documentation": "Permissions granted on the selected `repoIds`."
          }
        },
        "endpointPatterns": {
          "target": "com.huggingface.service_accounts#CreateServiceAccountTokenRequestEndpointPatternsList",
          "traits": {
            "smithy.api#documentation": "Inference endpoint name patterns (wildcards allowed, e.g. `gpt2-*`) restricting the token's org-wide Inference Endpoint permissions to matching endpoints. Empty means all endpoints."
          }
        },
        "skipNetworkSecurity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Exempt this token from the org's Network Security enforcement (IP allowlist and content access policy). Enterprise Plus only, and requires the `org.networkSecurity.write` permission."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.service_accounts#CreateServiceAccountTokenResponseTokenInfoPermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.service_accounts#CreateServiceAccountTokenResponseTokenInfoRepoIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.service_accounts#CreateServiceAccountTokenResponseTokenInfoRepoPermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.service_accounts#CreateServiceAccountTokenResponseTokenInfoEndpointPatternsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.service_accounts#CreateServiceAccountTokenResponseTokenInfo": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.huggingface.service_accounts#CreateServiceAccountTokenResponseTokenInfoPermissionsList"
        },
        "repoIds": {
          "target": "com.huggingface.service_accounts#CreateServiceAccountTokenResponseTokenInfoRepoIdsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repoPermissions": {
          "target": "com.huggingface.service_accounts#CreateServiceAccountTokenResponseTokenInfoRepoPermissionsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "endpointPatterns": {
          "target": "com.huggingface.service_accounts#CreateServiceAccountTokenResponseTokenInfoEndpointPatternsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "skipNetworkSecurity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.service_accounts#CreateServiceAccountTokenResponse": {
      "type": "structure",
      "members": {
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The access token - store this securely, it cannot be retrieved later",
            "smithy.api#required": {}
          }
        },
        "tokenInfo": {
          "target": "com.huggingface.service_accounts#CreateServiceAccountTokenResponseTokenInfo",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.service_accounts#CreateServiceAccountToken": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.service_accounts#CreateServiceAccountTokenRequest"
      },
      "output": {
        "target": "com.huggingface.service_accounts#CreateServiceAccountTokenResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/organizations/{name}/service-accounts/{serviceAccountId}/tokens",
          "code": 200
        },
        "smithy.api#documentation": "Create service-account token\n\nCreate a new access token for a service account. Store the token securely - it cannot be retrieved later."
      }
    },
    "com.huggingface.service_accounts#UpdateServiceAccountTokenRequestPermissionsItem": {
      "type": "enum",
      "members": {
        "REPO_CONTENT_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.content.read"
          }
        },
        "REPO_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.write"
          }
        },
        "INFERENCE_SERVERLESS_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inference.serverless.write"
          }
        },
        "INFERENCE_ENDPOINTS_INFER_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inference.endpoints.infer.write"
          }
        },
        "INFERENCE_ENDPOINTS_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inference.endpoints.write"
          }
        },
        "ORG_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.read"
          }
        },
        "ORG_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.write"
          }
        },
        "COLLECTION_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "collection.read"
          }
        },
        "COLLECTION_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "collection.write"
          }
        },
        "RESOURCEGROUP_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resourceGroup.write"
          }
        },
        "JOB_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "job.write"
          }
        },
        "ORG_SERVICEACCOUNTS_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.serviceAccounts.read"
          }
        },
        "ORG_SERVICEACCOUNTS_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.serviceAccounts.write"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.service_accounts#UpdateServiceAccountTokenRequestPermissionsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.service_accounts#UpdateServiceAccountTokenRequestPermissionsItem"
      },
      "traits": {
        "smithy.api#documentation": "Org-wide permissions for this token"
      }
    },
    "com.huggingface.service_accounts#UpdateServiceAccountTokenRequestRepoIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Repositories to grant `repoPermissions` on. Can be repositories owned by the organization or any public repository. These override the org-wide permissions."
      }
    },
    "com.huggingface.service_accounts#UpdateServiceAccountTokenRequestRepoPermissionsItem": {
      "type": "enum",
      "members": {
        "REPO_CONTENT_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.content.read"
          }
        },
        "REPO_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.write"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.service_accounts#UpdateServiceAccountTokenRequestRepoPermissionsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.service_accounts#UpdateServiceAccountTokenRequestRepoPermissionsItem"
      },
      "traits": {
        "smithy.api#documentation": "Permissions granted on the selected `repoIds`."
      }
    },
    "com.huggingface.service_accounts#UpdateServiceAccountTokenRequestEndpointPatternsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Inference endpoint name patterns (wildcards allowed, e.g. `gpt2-*`) restricting the token's org-wide Inference Endpoint permissions to matching endpoints. Empty means all endpoints."
      }
    },
    "com.huggingface.service_accounts#UpdateServiceAccountTokenRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "serviceAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tokenId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New display name for the token"
          }
        },
        "permissions": {
          "target": "com.huggingface.service_accounts#UpdateServiceAccountTokenRequestPermissionsList",
          "traits": {
            "smithy.api#documentation": "Org-wide permissions for this token"
          }
        },
        "repoIds": {
          "target": "com.huggingface.service_accounts#UpdateServiceAccountTokenRequestRepoIdsList",
          "traits": {
            "smithy.api#documentation": "Repositories to grant `repoPermissions` on. Can be repositories owned by the organization or any public repository. These override the org-wide permissions."
          }
        },
        "repoPermissions": {
          "target": "com.huggingface.service_accounts#UpdateServiceAccountTokenRequestRepoPermissionsList",
          "traits": {
            "smithy.api#documentation": "Permissions granted on the selected `repoIds`."
          }
        },
        "endpointPatterns": {
          "target": "com.huggingface.service_accounts#UpdateServiceAccountTokenRequestEndpointPatternsList",
          "traits": {
            "smithy.api#documentation": "Inference endpoint name patterns (wildcards allowed, e.g. `gpt2-*`) restricting the token's org-wide Inference Endpoint permissions to matching endpoints. Empty means all endpoints."
          }
        },
        "skipNetworkSecurity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Exempt this token from the org's Network Security enforcement (IP allowlist and content access policy). Enterprise Plus only, and requires the `org.networkSecurity.write` permission."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.service_accounts#UpdateServiceAccountTokenResponsePermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.service_accounts#UpdateServiceAccountTokenResponseRepoIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.service_accounts#UpdateServiceAccountTokenResponseRepoPermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.service_accounts#UpdateServiceAccountTokenResponseEndpointPatternsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.service_accounts#UpdateServiceAccountTokenResponse": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.huggingface.service_accounts#UpdateServiceAccountTokenResponsePermissionsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repoIds": {
          "target": "com.huggingface.service_accounts#UpdateServiceAccountTokenResponseRepoIdsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repoPermissions": {
          "target": "com.huggingface.service_accounts#UpdateServiceAccountTokenResponseRepoPermissionsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "endpointPatterns": {
          "target": "com.huggingface.service_accounts#UpdateServiceAccountTokenResponseEndpointPatternsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "skipNetworkSecurity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.service_accounts#UpdateServiceAccountToken": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.service_accounts#UpdateServiceAccountTokenRequest"
      },
      "output": {
        "target": "com.huggingface.service_accounts#UpdateServiceAccountTokenResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/organizations/{name}/service-accounts/{serviceAccountId}/tokens/{tokenId}",
          "code": 200
        },
        "smithy.api#documentation": "Update service-account token\n\nUpdate the name and/or permissions of an existing service account token."
      }
    },
    "com.huggingface.service_accounts#DeleteServiceAccountTokenRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "serviceAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tokenId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.service_accounts#DeleteServiceAccountTokenResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.service_accounts#DeleteServiceAccountToken": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.service_accounts#DeleteServiceAccountTokenRequest"
      },
      "output": {
        "target": "com.huggingface.service_accounts#DeleteServiceAccountTokenResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/organizations/{name}/service-accounts/{serviceAccountId}/tokens/{tokenId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete service-account token\n\nDelete an access token from a service account. This action cannot be undone."
      }
    },
    "com.huggingface.service_accounts#RotateServiceAccountTokenRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "serviceAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tokenId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.service_accounts#RotateServiceAccountTokenResponseTokenInfo": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last4": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.service_accounts#RotateServiceAccountTokenResponse": {
      "type": "structure",
      "members": {
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new access token",
            "smithy.api#required": {}
          }
        },
        "tokenInfo": {
          "target": "com.huggingface.service_accounts#RotateServiceAccountTokenResponseTokenInfo",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.service_accounts#RotateServiceAccountToken": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.service_accounts#RotateServiceAccountTokenRequest"
      },
      "output": {
        "target": "com.huggingface.service_accounts#RotateServiceAccountTokenResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/organizations/{name}/service-accounts/{serviceAccountId}/tokens/{tokenId}/rotate",
          "code": 200
        },
        "smithy.api#documentation": "Rotate service-account token\n\nInvalidate an existing token and generate a new one with the same permissions. The old token will stop working immediately."
      }
    },
    "com.huggingface.service_accounts#ServiceAccounts": {
      "type": "service",
      "version": "0.0.1",
      "operations": [
        {
          "target": "com.huggingface.service_accounts#ListServiceAccounts"
        },
        {
          "target": "com.huggingface.service_accounts#CreateServiceAccount"
        },
        {
          "target": "com.huggingface.service_accounts#GetServiceAccount"
        },
        {
          "target": "com.huggingface.service_accounts#DeleteServiceAccount"
        },
        {
          "target": "com.huggingface.service_accounts#CreateServiceAccountToken"
        },
        {
          "target": "com.huggingface.service_accounts#UpdateServiceAccountToken"
        },
        {
          "target": "com.huggingface.service_accounts#DeleteServiceAccountToken"
        },
        {
          "target": "com.huggingface.service_accounts#RotateServiceAccountToken"
        }
      ],
      "traits": {
        "smithy.api#title": "Hub API Endpoints",
        "smithy.api#documentation": "We have open endpoints that you can use to retrieve information from the Hub as well as perform certain actions such as creating model, dataset or Space repos. We offer a wrapper Python client, [`huggingface_hub`](https://github.com/huggingface/huggingface_hub), and a JS client, [`huggingface.js`](https://github.com/huggingface/huggingface.js), that allow easy access to these endpoints. We also provide [webhooks](https://huggingface.co/docs/hub/webhooks) to receive real-time incremental info about repos. Enjoy!\n\nThe base URL for those endpoints below is `https://huggingface.co`. For example, to construct the `/api/models` call below, one can call the URL [https://huggingface.co/api/models](https://huggingface.co/api/models).\n\nIf you're an Agent, you might prefer the [markdown version OpenAPI spec](https://huggingface.co/.well-known/openapi.md)."
      }
    }
  }
}
