{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.huggingface.spaces#GetFolderSizeRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.spaces#GetFolderSizeResponse": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The normalized path of the subtree, starting with a slash",
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total size in bytes of all files under the subtree",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.spaces#GetFolderSize": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.spaces#GetFolderSizeRequest"
      },
      "output": {
        "target": "com.huggingface.spaces#GetFolderSizeResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/spaces/{namespace}/{repo}/treesize/{rev}/{path}",
          "code": 200
        },
        "smithy.api#documentation": "Get folder size\n\nGet the total size of a repository at a given revision, optionally under a specific subpath. Returns the total size in bytes of all files under the specified path (recursively). If a file is stored via Xet/LFS, the LFS file size is used."
      }
    },
    "com.huggingface.spaces#ListLargeFilesRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "xet": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpQuery": "xet"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.spaces#ListLargeFilesResponseBodyItemPusherPrimaryOrgPlan": {
      "type": "enum",
      "members": {
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plus"
          }
        },
        "ACADEMIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "academia"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListLargeFilesResponseBodyItemPusherPrimaryOrgUserRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contributor"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "NO_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_access"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListLargeFilesResponseBodyItemPusherPrimaryOrg": {
      "type": "structure",
      "members": {
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isFollowing": {
          "target": "smithy.api#Boolean"
        },
        "plan": {
          "target": "com.huggingface.spaces#ListLargeFilesResponseBodyItemPusherPrimaryOrgPlan"
        },
        "details": {
          "target": "smithy.api#String"
        },
        "hasPrivateMembersList": {
          "target": "smithy.api#Boolean"
        },
        "userRole": {
          "target": "com.huggingface.spaces#ListLargeFilesResponseBodyItemPusherPrimaryOrgUserRole"
        },
        "numUsers": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListLargeFilesResponseBodyItemPusher": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isHfAdmin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isMod": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "followerCount": {
          "target": "smithy.api#Double"
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isPro": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isUserFollowing": {
          "target": "smithy.api#Boolean"
        },
        "primaryOrg": {
          "target": "com.huggingface.spaces#ListLargeFilesResponseBodyItemPusherPrimaryOrg"
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListLargeFilesResponseBodyItem": {
      "type": "structure",
      "members": {
        "pusher": {
          "target": "com.huggingface.spaces#ListLargeFilesResponseBodyItemPusher"
        },
        "ref": {
          "target": "smithy.api#String"
        },
        "fileOid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "oid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pushedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Potential filename of the LFS file"
          }
        },
        "xetHash": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListLargeFilesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.spaces#ListLargeFilesResponseBodyItem"
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListLargeFilesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.huggingface.spaces#ListLargeFilesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.spaces#ListLargeFiles": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.spaces#ListLargeFilesRequest"
      },
      "output": {
        "target": "com.huggingface.spaces#ListLargeFilesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/spaces/{namespace}/{repo}/lfs-files",
          "code": 200
        },
        "smithy.api#documentation": "List Large files\n\nList Xet/LFS files for a repo"
      }
    },
    "com.huggingface.spaces#DeleteLargeFilesRequestDeletionsShaList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.spaces#DeleteLargeFilesRequestDeletions": {
      "type": "structure",
      "members": {
        "sha": {
          "target": "com.huggingface.spaces#DeleteLargeFilesRequestDeletionsShaList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rewriteHistory": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#DeleteLargeFilesRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "deletions": {
          "target": "com.huggingface.spaces#DeleteLargeFilesRequestDeletions",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.spaces#DeleteLargeFiles": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.spaces#DeleteLargeFilesRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/spaces/{namespace}/{repo}/lfs-files/batch",
          "code": 200
        },
        "smithy.api#documentation": "Delete Large files\n\nDelete Xet/LFS files in batch"
      }
    },
    "com.huggingface.spaces#DeleteLargeFileRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rewriteHistory": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpQuery": "rewriteHistory"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.spaces#DeleteLargeFile": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.spaces#DeleteLargeFileRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/spaces/{namespace}/{repo}/lfs-files/{sha}",
          "code": 200
        },
        "smithy.api#documentation": "Delete Large file\n\nDelete a Xet/LFS file"
      }
    },
    "com.huggingface.spaces#DuplicateXetFilesRequestTargetType": {
      "type": "enum",
      "members": {
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataset"
          }
        },
        "MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model"
          }
        },
        "SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "space"
          }
        },
        "KERNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kernel"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#DuplicateXetFilesRequestTarget": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.huggingface.spaces#DuplicateXetFilesRequestTargetType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#DuplicateXetFilesRequestFilesItem": {
      "type": "structure",
      "members": {
        "xetHash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sha256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "filename": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#DuplicateXetFilesRequestFilesList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.spaces#DuplicateXetFilesRequestFilesItem"
      },
      "traits": {}
    },
    "com.huggingface.spaces#DuplicateXetFilesRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.huggingface.spaces#DuplicateXetFilesRequestTarget",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "files": {
          "target": "com.huggingface.spaces#DuplicateXetFilesRequestFilesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.spaces#DuplicateXetFilesResponseFailedItem": {
      "type": "structure",
      "members": {
        "xetHash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Xet content hash of the file that failed",
            "smithy.api#required": {}
          }
        },
        "sha256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "sha256 of the file that failed",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#DuplicateXetFilesResponseFailedList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.spaces#DuplicateXetFilesResponseFailedItem"
      },
      "traits": {
        "smithy.api#documentation": "Per-file failures"
      }
    },
    "com.huggingface.spaces#DuplicateXetFilesResponse": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if all requested files were duplicated (or already present)",
            "smithy.api#required": {}
          }
        },
        "processed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of unique files processed",
            "smithy.api#required": {}
          }
        },
        "succeeded": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of files duplicated or already present in the target",
            "smithy.api#required": {}
          }
        },
        "failed": {
          "target": "com.huggingface.spaces#DuplicateXetFilesResponseFailedList",
          "traits": {
            "smithy.api#documentation": "Per-file failures",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.spaces#DuplicateXetFiles": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.spaces#DuplicateXetFilesRequest"
      },
      "output": {
        "target": "com.huggingface.spaces#DuplicateXetFilesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/spaces/{namespace}/{repo}/lfs-files/duplicate",
          "code": 200
        },
        "smithy.api#documentation": "Duplicate xet files\n\nDuplicate xet-stored files from this repo (source) into another repo (target) by xet hash, without re-uploading file bytes. The caller must then commit the files with their sha256/size as usual."
      }
    },
    "com.huggingface.spaces#ListCommitsRequestExpandItem": {
      "type": "enum",
      "members": {
        "FORMATTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "formatted"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListCommitsRequestExpandList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.spaces#ListCommitsRequestExpandItem"
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListCommitsRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "p": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "p"
          }
        },
        "expand": {
          "target": "com.huggingface.spaces#ListCommitsRequestExpandList",
          "traits": {
            "smithy.api#httpQuery": "expand"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.spaces#ListCommitsResponseBodyItemAuthorsItem": {
      "type": "structure",
      "members": {
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatar": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListCommitsResponseBodyItemAuthorsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.spaces#ListCommitsResponseBodyItemAuthorsItem"
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListCommitsResponseBodyItemFormatted": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Available if expand includes formatted"
      }
    },
    "com.huggingface.spaces#ListCommitsResponseBodyItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "authors": {
          "target": "com.huggingface.spaces#ListCommitsResponseBodyItemAuthorsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "formatted": {
          "target": "com.huggingface.spaces#ListCommitsResponseBodyItemFormatted",
          "traits": {
            "smithy.api#documentation": "Available if expand includes formatted"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListCommitsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.spaces#ListCommitsResponseBodyItem"
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListCommitsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.huggingface.spaces#ListCommitsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.spaces#ListCommits": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.spaces#ListCommitsRequest"
      },
      "output": {
        "target": "com.huggingface.spaces#ListCommitsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/spaces/{namespace}/{repo}/commits/{rev}",
          "code": 200
        },
        "smithy.api#documentation": "List commits"
      }
    },
    "com.huggingface.spaces#ListReferencesRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "include_prs": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpQuery": "include_prs"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.spaces#ListReferencesResponseTagsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "targetCommit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListReferencesResponseTagsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.spaces#ListReferencesResponseTagsItem"
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListReferencesResponseBranchesItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "targetCommit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListReferencesResponseBranchesList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.spaces#ListReferencesResponseBranchesItem"
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListReferencesResponseConvertsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "targetCommit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListReferencesResponseConvertsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.spaces#ListReferencesResponseConvertsItem"
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListReferencesResponsePullRequestsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "targetCommit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListReferencesResponsePullRequestsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.spaces#ListReferencesResponsePullRequestsItem"
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListReferencesResponse": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.huggingface.spaces#ListReferencesResponseTagsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branches": {
          "target": "com.huggingface.spaces#ListReferencesResponseBranchesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "converts": {
          "target": "com.huggingface.spaces#ListReferencesResponseConvertsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pullRequests": {
          "target": "com.huggingface.spaces#ListReferencesResponsePullRequestsList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.spaces#ListReferences": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.spaces#ListReferencesRequest"
      },
      "output": {
        "target": "com.huggingface.spaces#ListReferencesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/spaces/{namespace}/{repo}/refs",
          "code": 200
        },
        "smithy.api#documentation": "List references"
      }
    },
    "com.huggingface.spaces#GetCompareRevRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "compare": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "raw": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpQuery": "raw"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.spaces#GetCompareRevResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.spaces#GetCompareRev": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.spaces#GetCompareRevRequest"
      },
      "output": {
        "target": "com.huggingface.spaces#GetCompareRevResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/spaces/{namespace}/{repo}/compare/{compare}",
          "code": 200
        },
        "smithy.api#documentation": "Get a compare rev"
      }
    },
    "com.huggingface.spaces#ListPathsInfoRequestPathsCase0List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListPathsInfoRequestPaths": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.spaces#ListPathsInfoRequestPathsCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListPathsInfoRequestExpand": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Document"
        },
        "Case1": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Expand the response with the last commit and security file status"
      }
    },
    "com.huggingface.spaces#ListPathsInfoRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "paths": {
          "target": "com.huggingface.spaces#ListPathsInfoRequestPaths",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expand": {
          "target": "com.huggingface.spaces#ListPathsInfoRequestExpand",
          "traits": {
            "smithy.api#documentation": "Expand the response with the last commit and security file status",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.spaces#ListPathsInfoResponseBodyItemType": {
      "type": "enum",
      "members": {
        "FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "file"
          }
        },
        "DIRECTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "directory"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListPathsInfoResponseBodyItemLfs": {
      "type": "structure",
      "members": {
        "pointerSize": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListPathsInfoResponseBodyItemLastCommit": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusStatus": {
      "type": "enum",
      "members": {
        "UNSCANNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unscanned"
          }
        },
        "SAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "safe"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "CAUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "caution"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "UNSAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsafe"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusJFrogScanStatus": {
      "type": "enum",
      "members": {
        "UNSCANNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unscanned"
          }
        },
        "SAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "safe"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "CAUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "caution"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "UNSAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsafe"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusJFrogScanPickleImportsItemSafety": {
      "type": "enum",
      "members": {
        "INNOCUOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "innocuous"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "DANGEROUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dangerous"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusJFrogScanPickleImportsItem": {
      "type": "structure",
      "members": {
        "module": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "safety": {
          "target": "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusJFrogScanPickleImportsItemSafety",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusJFrogScanPickleImportsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusJFrogScanPickleImportsItem"
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusJFrogScan": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusJFrogScanStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String"
        },
        "reportLink": {
          "target": "smithy.api#String"
        },
        "reportLabel": {
          "target": "smithy.api#String"
        },
        "pickleImports": {
          "target": "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusJFrogScanPickleImportsList"
        },
        "version": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusProtectAiScanStatus": {
      "type": "enum",
      "members": {
        "UNSCANNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unscanned"
          }
        },
        "SAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "safe"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "CAUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "caution"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "UNSAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsafe"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusProtectAiScanPickleImportsItemSafety": {
      "type": "enum",
      "members": {
        "INNOCUOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "innocuous"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "DANGEROUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dangerous"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusProtectAiScanPickleImportsItem": {
      "type": "structure",
      "members": {
        "module": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "safety": {
          "target": "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusProtectAiScanPickleImportsItemSafety",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusProtectAiScanPickleImportsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusProtectAiScanPickleImportsItem"
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusProtectAiScan": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusProtectAiScanStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String"
        },
        "reportLink": {
          "target": "smithy.api#String"
        },
        "reportLabel": {
          "target": "smithy.api#String"
        },
        "pickleImports": {
          "target": "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusProtectAiScanPickleImportsList"
        },
        "version": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusAvScanStatus": {
      "type": "enum",
      "members": {
        "UNSCANNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unscanned"
          }
        },
        "SAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "safe"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "CAUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "caution"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "UNSAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsafe"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusAvScanPickleImportsItemSafety": {
      "type": "enum",
      "members": {
        "INNOCUOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "innocuous"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "DANGEROUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dangerous"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusAvScanPickleImportsItem": {
      "type": "structure",
      "members": {
        "module": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "safety": {
          "target": "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusAvScanPickleImportsItemSafety",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusAvScanPickleImportsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusAvScanPickleImportsItem"
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusAvScan": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusAvScanStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String"
        },
        "reportLink": {
          "target": "smithy.api#String"
        },
        "reportLabel": {
          "target": "smithy.api#String"
        },
        "pickleImports": {
          "target": "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusAvScanPickleImportsList"
        },
        "version": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusPickleImportScanStatus": {
      "type": "enum",
      "members": {
        "UNSCANNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unscanned"
          }
        },
        "SAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "safe"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "CAUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "caution"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "UNSAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsafe"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusPickleImportScanPickleImportsItemSafety": {
      "type": "enum",
      "members": {
        "INNOCUOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "innocuous"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "DANGEROUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dangerous"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusPickleImportScanPickleImportsItem": {
      "type": "structure",
      "members": {
        "module": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "safety": {
          "target": "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusPickleImportScanPickleImportsItemSafety",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusPickleImportScanPickleImportsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusPickleImportScanPickleImportsItem"
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusPickleImportScan": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusPickleImportScanStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String"
        },
        "reportLink": {
          "target": "smithy.api#String"
        },
        "reportLabel": {
          "target": "smithy.api#String"
        },
        "pickleImports": {
          "target": "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusPickleImportScanPickleImportsList"
        },
        "version": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusVirusTotalScanStatus": {
      "type": "enum",
      "members": {
        "UNSCANNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unscanned"
          }
        },
        "SAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "safe"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "CAUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "caution"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "UNSAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsafe"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusVirusTotalScanPickleImportsItemSafety": {
      "type": "enum",
      "members": {
        "INNOCUOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "innocuous"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "DANGEROUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dangerous"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusVirusTotalScanPickleImportsItem": {
      "type": "structure",
      "members": {
        "module": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "safety": {
          "target": "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusVirusTotalScanPickleImportsItemSafety",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusVirusTotalScanPickleImportsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusVirusTotalScanPickleImportsItem"
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusVirusTotalScan": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusVirusTotalScanStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String"
        },
        "reportLink": {
          "target": "smithy.api#String"
        },
        "reportLabel": {
          "target": "smithy.api#String"
        },
        "pickleImports": {
          "target": "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusVirusTotalScanPickleImportsList"
        },
        "version": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatus": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "jFrogScan": {
          "target": "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusJFrogScan"
        },
        "protectAiScan": {
          "target": "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusProtectAiScan"
        },
        "avScan": {
          "target": "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusAvScan",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pickleImportScan": {
          "target": "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusPickleImportScan",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "virusTotalScan": {
          "target": "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatusVirusTotalScan"
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListPathsInfoResponseBodyItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.huggingface.spaces#ListPathsInfoResponseBodyItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "oid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lfs": {
          "target": "com.huggingface.spaces#ListPathsInfoResponseBodyItemLfs"
        },
        "xetHash": {
          "target": "smithy.api#String"
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lastCommit": {
          "target": "com.huggingface.spaces#ListPathsInfoResponseBodyItemLastCommit"
        },
        "securityFileStatus": {
          "target": "com.huggingface.spaces#ListPathsInfoResponseBodyItemSecurityFileStatus"
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListPathsInfoResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.spaces#ListPathsInfoResponseBodyItem"
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListPathsInfoResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.huggingface.spaces#ListPathsInfoResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.spaces#ListPathsInfo": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.spaces#ListPathsInfoRequest"
      },
      "output": {
        "target": "com.huggingface.spaces#ListPathsInfoResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/spaces/{namespace}/{repo}/paths-info/{rev}",
          "code": 200
        },
        "smithy.api#documentation": "List paths info"
      }
    },
    "com.huggingface.spaces#CheckUploadMethodRequestFilesItem": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sample": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#CheckUploadMethodRequestFilesList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.spaces#CheckUploadMethodRequestFilesItem"
      },
      "traits": {}
    },
    "com.huggingface.spaces#CheckUploadMethodRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "files": {
          "target": "com.huggingface.spaces#CheckUploadMethodRequestFilesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gitAttributes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provide this parameter if you plan to modify `.gitattributes` yourself at the same time as uploading LFS files. Note that this is not needed if you solely rely on automatic LFS detection from HF: the commit endpoint will automatically edit the `.gitattributes` file to track the files passed to its `lfsFiles` param."
          }
        },
        "gitIgnore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content of the .gitignore file for the revision. Optional, otherwise takes the existing content of `.gitignore` for the revision."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.spaces#CheckUploadMethodResponseFilesItemUploadMode": {
      "type": "enum",
      "members": {
        "LFS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lfs"
          }
        },
        "REGULAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "regular"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#CheckUploadMethodResponseFilesItem": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "uploadMode": {
          "target": "com.huggingface.spaces#CheckUploadMethodResponseFilesItemUploadMode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "shouldIgnore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "oid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The oid of the blob if it already exists in the repository. If the blob is a LFS file, it'll be the lfs oid."
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#CheckUploadMethodResponseFilesList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.spaces#CheckUploadMethodResponseFilesItem"
      },
      "traits": {}
    },
    "com.huggingface.spaces#CheckUploadMethodResponse": {
      "type": "structure",
      "members": {
        "files": {
          "target": "com.huggingface.spaces#CheckUploadMethodResponseFilesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "commitOid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.spaces#CheckUploadMethod": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.spaces#CheckUploadMethodRequest"
      },
      "output": {
        "target": "com.huggingface.spaces#CheckUploadMethodResponse"
      },
      "errors": [
        {
          "target": "com.huggingface.spaces#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/spaces/{namespace}/{repo}/preupload/{rev}",
          "code": 200
        },
        "smithy.api#documentation": "Check upload method\n\nCheck if a file should be uploaded through the Large File mechanism or directly."
      }
    },
    "com.huggingface.spaces#XetWriteTokenRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.spaces#XetWriteTokenResponse": {
      "type": "structure",
      "members": {
        "casUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "exp": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "accessToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.spaces#XetWriteToken": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.spaces#XetWriteTokenRequest"
      },
      "output": {
        "target": "com.huggingface.spaces#XetWriteTokenResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/spaces/{namespace}/{repo}/xet-write-token/{rev}",
          "code": 200
        },
        "smithy.api#documentation": "Xet write token\n\nGet a write short-lived access token for XET upload"
      }
    },
    "com.huggingface.spaces#XetReadTokenRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.spaces#XetReadTokenResponse": {
      "type": "structure",
      "members": {
        "casUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "exp": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "accessToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.spaces#XetReadToken": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.spaces#XetReadTokenRequest"
      },
      "output": {
        "target": "com.huggingface.spaces#XetReadTokenResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/spaces/{namespace}/{repo}/xet-read-token/{rev}",
          "code": 200
        },
        "smithy.api#documentation": "Xet read token\n\nGet a read short-lived access token for XET"
      }
    },
    "com.huggingface.spaces#CommitRequestContentType": {
      "type": "enum",
      "members": {
        "APPLICATION_JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "application/json"
          }
        },
        "APPLICATION_X_NDJSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "application/x-ndjson"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`application/x-ndjson` if you to commit by json lines"
      }
    },
    "com.huggingface.spaces#CommitRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "create_pr": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpQuery": "create_pr"
          }
        },
        "hot_reload": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpQuery": "hot_reload"
          }
        },
        "contentType": {
          "target": "com.huggingface.spaces#CommitRequestContentType",
          "traits": {
            "smithy.api#httpHeader": "Content-Type"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.spaces#CommitResponse": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the commit was successful",
            "smithy.api#required": {}
          }
        },
        "pullRequestUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the pull request"
          }
        },
        "commitOid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The OID of the commit",
            "smithy.api#required": {}
          }
        },
        "commitUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the commit",
            "smithy.api#required": {}
          }
        },
        "hookOutput": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The output of the git hook",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.spaces#Commit": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.spaces#CommitRequest"
      },
      "output": {
        "target": "com.huggingface.spaces#CommitResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/spaces/{namespace}/{repo}/commit/{rev}",
          "code": 200
        },
        "smithy.api#documentation": "Commit\n\nFor legacy reason, we support both `application/json` and `application/x-ndjson` but we recommend using `application/x-ndjson` to create a commit.\n\nJSON-lines payload:\n```json\n{\n  \"key\": \"header\",\n  \"value\": {\n    \"summary\": \"string (REQUIRED)\",\n    \"description\": \"string (OPTIONAL - defaults to empty string)\",\n    \"parentCommit\": \"string (OPTIONAL - 40-character hex SHA)\"\n  }\n}\n{\n  \"key\": \"file\",\n  \"value\": {\n    \"path\": \"string (REQUIRED)\",\n    \"content\": \"string (OPTIONAL - required if oldPath not set)\",\n    \"encoding\": \"utf-8 | base64 (OPTIONAL - defaults to utf-8)\",\n    \"oldPath\": \"string (OPTIONAL - for move/rename operations)\"\n  }\n}\n{\n  \"key\": \"deletedEntry\",\n  \"value\": {\n    \"path\": \"string (REQUIRED)\"\n  }\n}\n{\n  \"key\": \"lfsFile\",\n  \"value\": {\n    \"path\": \"string (REQUIRED - max 1000 chars)\",\n    \"oid\": \"string (OPTIONAL - required if oldPath not set, 64 hex chars)\",\n    \"algo\": \"sha256 (OPTIONAL - only sha256 supported)\",\n    \"size\": \"number (OPTIONAL - required if oldPath is set)\",\n    \"oldPath\": \"string (OPTIONAL - for move/rename operations)\"\n  }\n}\n```\n\nJSON payload:\n```json\n{\n  \"summary\": \"string (REQUIRED)\",\n  \"description\": \"string (OPTIONAL - defaults to empty string)\",\n  \"parentCommit\": \"string (OPTIONAL - 40-character hex SHA)\"\n  \"files\": [\n    {\n      \"path\": \"string (REQUIRED)\",\n      \"content\": \"string (OPTIONAL - required if oldPath not set)\",\n      \"encoding\": \"utf-8 | base64 (OPTIONAL - defaults to utf-8)\",\n      \"oldPath\": \"string (OPTIONAL - for move/rename operations)\"\n    }\n  ],\n  \"deletedEntries\": [\n    {\n      \"path\": \"string (REQUIRED)\"\n    }\n  ],\n  \"lfsFiles\": [\n    {\n      \"path\": \"string (REQUIRED - max 1000 chars)\",\n      \"oid\": \"string (OPTIONAL - required if oldPath not set, 64 hex chars)\",\n      \"algo\": \"sha256 (OPTIONAL - only sha256 supported)\",\n      \"size\": \"number (OPTIONAL - required if oldPath is set)\",\n      \"oldPath\": \"string (OPTIONAL - for move/rename operations)\"\n    }\n  ]\n}\n```"
      }
    },
    "com.huggingface.spaces#CreateTagRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.spaces#CreateTag": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.spaces#CreateTagRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/spaces/{namespace}/{repo}/tag/{rev}",
          "code": 200
        },
        "smithy.api#documentation": "Create tag"
      }
    },
    "com.huggingface.spaces#DeleteTagRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.spaces#DeleteTag": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.spaces#DeleteTagRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/spaces/{namespace}/{repo}/tag/{rev}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a tag"
      }
    },
    "com.huggingface.spaces#CreateBranchRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "startingPoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The commit to start from"
          }
        },
        "emptyBranch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Create an empty branch"
          }
        },
        "overwrite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Overwrite the branch if it already exists"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.spaces#CreateBranch": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.spaces#CreateBranchRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/spaces/{namespace}/{repo}/branch/{rev}",
          "code": 200
        },
        "smithy.api#documentation": "Create branch"
      }
    },
    "com.huggingface.spaces#DeleteBranchRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.spaces#DeleteBranch": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.spaces#DeleteBranchRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/spaces/{namespace}/{repo}/branch/{rev}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a branch"
      }
    },
    "com.huggingface.spaces#GetResourceGroupRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.spaces#GetResourceGroupResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "numUsers": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.spaces#GetResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.spaces#GetResourceGroupRequest"
      },
      "output": {
        "target": "com.huggingface.spaces#GetResourceGroupResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/spaces/{namespace}/{repo}/resource-group",
          "code": 200
        },
        "smithy.api#documentation": "Get resource group"
      }
    },
    "com.huggingface.spaces#AddResourceGroupRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "resourceGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource group to add the repository to, if null, the repository will be removed from the resource group",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.spaces#AddResourceGroupResponseType": {
      "type": "enum",
      "members": {
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataset"
          }
        },
        "MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model"
          }
        },
        "SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "space"
          }
        },
        "BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket"
          }
        },
        "KERNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kernel"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#AddResourceGroupResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.huggingface.spaces#AddResourceGroupResponseType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "addedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.spaces#AddResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.spaces#AddResourceGroupRequest"
      },
      "output": {
        "target": "com.huggingface.spaces#AddResourceGroupResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/spaces/{namespace}/{repo}/resource-group",
          "code": 200
        },
        "smithy.api#documentation": "Add resource group\n\nAdd the repository to a resource group"
      }
    },
    "com.huggingface.spaces#SquashRefRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.spaces#SquashRefResponse": {
      "type": "structure",
      "members": {
        "commitId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new commit ID after the squash",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.spaces#SquashRef": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.spaces#SquashRefRequest"
      },
      "output": {
        "target": "com.huggingface.spaces#SquashRefResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/spaces/{namespace}/{repo}/super-squash/{rev}",
          "code": 200
        },
        "smithy.api#documentation": "Squash ref\n\nSquash all commits in the current ref into a single commit with the given message. Action is irreversible."
      }
    },
    "com.huggingface.spaces#UpdateRepoSettingsRequestVisibility": {
      "type": "enum",
      "members": {
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        },
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        },
        "PROTECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "protected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Repository visibility. `protected` is only supported for Spaces."
      }
    },
    "com.huggingface.spaces#UpdateRepoSettingsRequestDiscussionsSorting": {
      "type": "enum",
      "members": {
        "RECENTLY_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "recently-created"
          }
        },
        "TRENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trending"
          }
        },
        "REACTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reactions"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#UpdateRepoSettingsRequestGatedCase1": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#UpdateRepoSettingsRequestGated": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Document"
        },
        "Case1": {
          "target": "com.huggingface.spaces#UpdateRepoSettingsRequestGatedCase1"
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#UpdateRepoSettingsRequestGatedNotificationsMode": {
      "type": "enum",
      "members": {
        "BULK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bulk"
          }
        },
        "REAL_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "real-time"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#UpdateRepoSettingsRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "private": {
          "target": "smithy.api#Boolean"
        },
        "visibility": {
          "target": "com.huggingface.spaces#UpdateRepoSettingsRequestVisibility",
          "traits": {
            "smithy.api#documentation": "Repository visibility. `protected` is only supported for Spaces."
          }
        },
        "discussionsDisabled": {
          "target": "smithy.api#Boolean"
        },
        "discussionsSorting": {
          "target": "com.huggingface.spaces#UpdateRepoSettingsRequestDiscussionsSorting"
        },
        "gated": {
          "target": "com.huggingface.spaces#UpdateRepoSettingsRequestGated"
        },
        "orgMembersGated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, members of the owning org (except admins) must also go through the gated access-request flow."
          }
        },
        "gatedNotificationsEmail": {
          "target": "smithy.api#String"
        },
        "gatedNotificationsMode": {
          "target": "com.huggingface.spaces#UpdateRepoSettingsRequestGatedNotificationsMode"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.spaces#UpdateRepoSettingsResponseVisibility": {
      "type": "enum",
      "members": {
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        },
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        },
        "PROTECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "protected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Repository visibility. `protected` is only supported for Spaces."
      }
    },
    "com.huggingface.spaces#UpdateRepoSettingsResponseDiscussionsSorting": {
      "type": "enum",
      "members": {
        "RECENTLY_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "recently-created"
          }
        },
        "TRENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trending"
          }
        },
        "REACTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reactions"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#UpdateRepoSettingsResponseGatedCase1": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#UpdateRepoSettingsResponseGated": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Document"
        },
        "Case1": {
          "target": "com.huggingface.spaces#UpdateRepoSettingsResponseGatedCase1"
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#UpdateRepoSettingsResponseGatedNotificationsMode": {
      "type": "enum",
      "members": {
        "BULK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bulk"
          }
        },
        "REAL_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "real-time"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#UpdateRepoSettingsResponse": {
      "type": "structure",
      "members": {
        "private": {
          "target": "smithy.api#Boolean"
        },
        "visibility": {
          "target": "com.huggingface.spaces#UpdateRepoSettingsResponseVisibility",
          "traits": {
            "smithy.api#documentation": "Repository visibility. `protected` is only supported for Spaces."
          }
        },
        "discussionsDisabled": {
          "target": "smithy.api#Boolean"
        },
        "discussionsSorting": {
          "target": "com.huggingface.spaces#UpdateRepoSettingsResponseDiscussionsSorting"
        },
        "gated": {
          "target": "com.huggingface.spaces#UpdateRepoSettingsResponseGated"
        },
        "orgMembersGated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, members of the owning org (except admins) must also go through the gated access-request flow."
          }
        },
        "gatedNotificationsEmail": {
          "target": "smithy.api#String"
        },
        "gatedNotificationsMode": {
          "target": "com.huggingface.spaces#UpdateRepoSettingsResponseGatedNotificationsMode"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.spaces#UpdateRepoSettings": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.spaces#UpdateRepoSettingsRequest"
      },
      "output": {
        "target": "com.huggingface.spaces#UpdateRepoSettingsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/spaces/{namespace}/{repo}/settings",
          "code": 200
        },
        "smithy.api#documentation": "Update repo settings\n\nUpdate the settings of a repo"
      }
    },
    "com.huggingface.spaces#ListFolderContentRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "expand": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpQuery": "expand"
          }
        },
        "recursive": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpQuery": "recursive"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.spaces#ListFolderContentResponseBodyItemType": {
      "type": "enum",
      "members": {
        "FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "file"
          }
        },
        "DIRECTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "directory"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListFolderContentResponseBodyItemLfs": {
      "type": "structure",
      "members": {
        "oid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pointerSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListFolderContentResponseBodyItemLastCommit": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListFolderContentResponseBodyItemSecurityFileStatusStatus": {
      "type": "enum",
      "members": {
        "UNSCANNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unscanned"
          }
        },
        "SAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "safe"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "CAUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "caution"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "UNSAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsafe"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListFolderContentResponseBodyItemSecurityFileStatusJFrogScanStatus": {
      "type": "enum",
      "members": {
        "UNSCANNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unscanned"
          }
        },
        "SAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "safe"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "CAUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "caution"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspicious"
          }
        },
        "UNSAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsafe"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.spaces#ListFolderContentResponseBodyItemSecurityFileStatusJFrogScanPickleImportsItemSafety": {
      "type": "enum",
      "members": {
        "INNOCUOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "innocuous"
          }
        },
[...]
