{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.accounts#CreateRequestType": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        }
      }
    },
    "com.cloudflare.accounts#CreateRequestUnit": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tenant unit ID"
          }
        }
      }
    },
    "com.cloudflare.accounts#CreateRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account name",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.accounts#CreateRequestType"
        },
        "unit": {
          "target": "com.cloudflare.accounts#CreateRequestUnit",
          "traits": {
            "smithy.api#documentation": "information related to the tenant unit, and optionally, an id of the unit to create the account on. see https://developers.cloudflare.com/tenant/how-to/manage-accounts/"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#CreateResponseType": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        }
      }
    },
    "com.cloudflare.accounts#CreateResponseManagedBy": {
      "type": "structure",
      "members": {
        "parent_org_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the parent Organization, if one exists"
          }
        },
        "parent_org_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the parent Organization, if one exists"
          }
        }
      }
    },
    "com.cloudflare.accounts#CreateResponseSettings": {
      "type": "structure",
      "members": {
        "abuse_contact_email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets an abuse contact email to notify for abuse reports."
          }
        },
        "enforce_twofactor": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether membership in this account requires that"
          }
        }
      }
    },
    "com.cloudflare.accounts#CreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account name",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.accounts#CreateResponseType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp for the creation of the account"
          }
        },
        "managed_by": {
          "target": "com.cloudflare.accounts#CreateResponseManagedBy",
          "traits": {
            "smithy.api#documentation": "Parent container details"
          }
        },
        "settings": {
          "target": "com.cloudflare.accounts#CreateResponseSettings",
          "traits": {
            "smithy.api#documentation": "Account settings"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.accounts#Create": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#CreateRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#CreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts",
          "code": 200
        },
        "smithy.api#documentation": "Create an account (only available for tenant admins at this time)"
      }
    },
    "com.cloudflare.accounts#DeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account ID of the account to be deleted",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#DeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.accounts#Delete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#DeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#DeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a specific account (only available for tenant admins at this time). This is a permanent operation that will delete any zones or other resources under the account",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.accounts#GetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#GetResponseType": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        }
      }
    },
    "com.cloudflare.accounts#GetResponseManagedBy": {
      "type": "structure",
      "members": {
        "parent_org_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the parent Organization, if one exists"
          }
        },
        "parent_org_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the parent Organization, if one exists"
          }
        }
      }
    },
    "com.cloudflare.accounts#GetResponseSettings": {
      "type": "structure",
      "members": {
        "abuse_contact_email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets an abuse contact email to notify for abuse reports."
          }
        },
        "enforce_twofactor": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether membership in this account requires that"
          }
        }
      }
    },
    "com.cloudflare.accounts#GetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account name",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.accounts#GetResponseType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp for the creation of the account"
          }
        },
        "managed_by": {
          "target": "com.cloudflare.accounts#GetResponseManagedBy",
          "traits": {
            "smithy.api#documentation": "Parent container details"
          }
        },
        "settings": {
          "target": "com.cloudflare.accounts#GetResponseSettings",
          "traits": {
            "smithy.api#documentation": "Account settings"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.accounts#Get": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#GetRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#GetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get information about a specific account that you are a member of.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.accounts#ListRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.cloudflare.accounts#ListRequest": {
      "type": "structure",
      "members": {
        "direction": {
          "target": "com.cloudflare.accounts#ListRequestDirection",
          "traits": {
            "smithy.api#documentation": "Direction to order results.",
            "smithy.api#httpQuery": "direction"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the account.",
            "smithy.api#httpQuery": "name"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of paginated results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of results per page.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#ListResultItemType": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        }
      }
    },
    "com.cloudflare.accounts#ListResultItemManagedBy": {
      "type": "structure",
      "members": {
        "parent_org_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the parent Organization, if one exists"
          }
        },
        "parent_org_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the parent Organization, if one exists"
          }
        }
      }
    },
    "com.cloudflare.accounts#ListResultItemSettings": {
      "type": "structure",
      "members": {
        "abuse_contact_email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets an abuse contact email to notify for abuse reports."
          }
        },
        "enforce_twofactor": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether membership in this account requires that"
          }
        }
      }
    },
    "com.cloudflare.accounts#ListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account name",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.accounts#ListResultItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp for the creation of the account"
          }
        },
        "managed_by": {
          "target": "com.cloudflare.accounts#ListResultItemManagedBy",
          "traits": {
            "smithy.api#documentation": "Parent container details"
          }
        },
        "settings": {
          "target": "com.cloudflare.accounts#ListResultItemSettings",
          "traits": {
            "smithy.api#documentation": "Account settings"
          }
        }
      }
    },
    "com.cloudflare.accounts#ListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.accounts#ListResultItem"
      }
    },
    "com.cloudflare.accounts#ListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.accounts#ListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.accounts#List": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#ListRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#ListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts",
          "code": 200
        },
        "smithy.api#documentation": "List all accounts you have ownership or verified access to.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.accounts#UpdateRequestType": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        }
      }
    },
    "com.cloudflare.accounts#UpdateRequestManagedBy": {
      "type": "structure",
      "members": {
        "parent_org_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the parent Organization, if one exists"
          }
        },
        "parent_org_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the parent Organization, if one exists"
          }
        }
      }
    },
    "com.cloudflare.accounts#UpdateRequestSettings": {
      "type": "structure",
      "members": {
        "abuse_contact_email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets an abuse contact email to notify for abuse reports."
          }
        },
        "enforce_twofactor": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether membership in this account requires that"
          }
        }
      }
    },
    "com.cloudflare.accounts#UpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account name",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.accounts#UpdateRequestType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "managed_by": {
          "target": "com.cloudflare.accounts#UpdateRequestManagedBy",
          "traits": {
            "smithy.api#documentation": "Parent container details"
          }
        },
        "settings": {
          "target": "com.cloudflare.accounts#UpdateRequestSettings",
          "traits": {
            "smithy.api#documentation": "Account settings"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#UpdateResponseType": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        }
      }
    },
    "com.cloudflare.accounts#UpdateResponseManagedBy": {
      "type": "structure",
      "members": {
        "parent_org_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the parent Organization, if one exists"
          }
        },
        "parent_org_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the parent Organization, if one exists"
          }
        }
      }
    },
    "com.cloudflare.accounts#UpdateResponseSettings": {
      "type": "structure",
      "members": {
        "abuse_contact_email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets an abuse contact email to notify for abuse reports."
          }
        },
        "enforce_twofactor": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether membership in this account requires that"
          }
        }
      }
    },
    "com.cloudflare.accounts#UpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account name",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.accounts#UpdateResponseType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp for the creation of the account"
          }
        },
        "managed_by": {
          "target": "com.cloudflare.accounts#UpdateResponseManagedBy",
          "traits": {
            "smithy.api#documentation": "Parent container details"
          }
        },
        "settings": {
          "target": "com.cloudflare.accounts#UpdateResponseSettings",
          "traits": {
            "smithy.api#documentation": "Account settings"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.accounts#Update": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#UpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#UpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update an existing account.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.accounts#AccountOrganizationsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "destination_organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#AccountOrganizationsCreateResponse": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "destination_organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source_organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.accounts#AccountOrganizationsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#AccountOrganizationsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#AccountOrganizationsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/move",
          "code": 200
        },
        "smithy.api#documentation": "Move an account within an organization hierarchy or an account outside an organization. (Currently in Public Beta - see https://developers.cloudflare.com/fundamentals/organizations/)"
      }
    },
    "com.cloudflare.accounts#AccountProfileGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#AccountProfileGetResponse": {
      "type": "structure",
      "members": {
        "business_address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "business_email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "business_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "business_phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "external_metadata": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.accounts#AccountProfileGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#AccountProfileGetRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#AccountProfileGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/profile",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves the profile information for a specific Cloudflare account, including organization details, settings, and metadata. This endpoint is commonly used to verify account access and retrieve account-level configuration.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.accounts#AccountProfileUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "business_address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "business_email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "business_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "business_phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "external_metadata": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#AccountProfileUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#AccountProfileUpdateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/profile",
          "code": 200
        },
        "smithy.api#documentation": "Updates the profile information for a Cloudflare account. Allows modification of account-level settings and organizational details. Requires Account Settings Write permission.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestIdNotList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestId": {
      "type": "structure",
      "members": {
        "not": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestIdNotList",
          "traits": {
            "smithy.api#documentation": "Filters out audit logs by their IDs."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestAccountNameNotList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestAccountName": {
      "type": "structure",
      "members": {
        "not": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestAccountNameNotList",
          "traits": {
            "smithy.api#documentation": "Filters out audit logs by the account name."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestActionResultNotItem": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failure"
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestActionResultNotList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.accounts#LogsAuditListRequestActionResultNotItem"
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestActionResult": {
      "type": "structure",
      "members": {
        "not": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestActionResultNotList",
          "traits": {
            "smithy.api#documentation": "Filters out audit logs by whether the action was successful or not."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestActionTypeNotItem": {
      "type": "enum",
      "members": {
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete"
          }
        },
        "VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "view"
          }
        },
        "UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "update"
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestActionTypeNotList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.accounts#LogsAuditListRequestActionTypeNotItem"
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestActionType": {
      "type": "structure",
      "members": {
        "not": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestActionTypeNotList",
          "traits": {
            "smithy.api#documentation": "Filters out audit logs by the action type."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestActorContextNotItem": {
      "type": "enum",
      "members": {
        "API_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api_key"
          }
        },
        "API_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api_token"
          }
        },
        "DASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dash"
          }
        },
        "OAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth"
          }
        },
        "ORIGIN_CA_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "origin_ca_key"
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestActorContextNotList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.accounts#LogsAuditListRequestActorContextNotItem"
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestActorContext": {
      "type": "structure",
      "members": {
        "not": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestActorContextNotList",
          "traits": {
            "smithy.api#documentation": "Filters out audit logs by the actor context."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestActorEmailNotList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestActorEmail": {
      "type": "structure",
      "members": {
        "not": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestActorEmailNotList",
          "traits": {
            "smithy.api#documentation": "Filters out audit logs by the actor's email address."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestActorIdNotList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestActorId": {
      "type": "structure",
      "members": {
        "not": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestActorIdNotList",
          "traits": {
            "smithy.api#documentation": "Filters out audit logs by the actor ID. This can be either the Account ID or User ID."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestActorIpAddressNotList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestActorIpAddress": {
      "type": "structure",
      "members": {
        "not": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestActorIpAddressNotList",
          "traits": {
            "smithy.api#documentation": "Filters out audit logs IP address where the action was initiated."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestActorTokenIdNotList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestActorTokenId": {
      "type": "structure",
      "members": {
        "not": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestActorTokenIdNotList",
          "traits": {
            "smithy.api#documentation": "Filters out audit logs by the API token ID when the actor context is an api_token or oauth."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestActorTokenNameNotList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestActorTokenName": {
      "type": "structure",
      "members": {
        "not": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestActorTokenNameNotList",
          "traits": {
            "smithy.api#documentation": "Filters out audit logs by the API token name when the actor context is an api_token or oauth."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestActorTypeNotItem": {
      "type": "enum",
      "members": {
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account"
          }
        },
        "CLOUDFLARE_ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflare_admin"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestActorTypeNotList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.accounts#LogsAuditListRequestActorTypeNotItem"
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestActorType": {
      "type": "structure",
      "members": {
        "not": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestActorTypeNotList",
          "traits": {
            "smithy.api#documentation": "Filters out audit logs by the actor type."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestAuditLogIdNotList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestAuditLogId": {
      "type": "structure",
      "members": {
        "not": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestAuditLogIdNotList",
          "traits": {
            "smithy.api#documentation": "Filters out audit logs by their IDs."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestDirection": {
      "type": "enum",
      "members": {
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        },
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestProductCategoryList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestRawCfRayIdNotList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestRawCfRayId": {
      "type": "structure",
      "members": {
        "not": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestRawCfRayIdNotList",
          "traits": {
            "smithy.api#documentation": "Filters out audit logs by the response CF Ray ID."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestRawMethodNotList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestRawMethod": {
      "type": "structure",
      "members": {
        "not": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestRawMethodNotList",
          "traits": {
            "smithy.api#documentation": "Filters out audit logs by the HTTP method for the API call."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestRawStatusCodeNotList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestRawStatusCode": {
      "type": "structure",
      "members": {
        "not": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestRawStatusCodeNotList",
          "traits": {
            "smithy.api#documentation": "Filters out audit logs by the response status code that was returned."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestRawUriNotList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestRawUri": {
      "type": "structure",
      "members": {
        "not": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestRawUriNotList",
          "traits": {
            "smithy.api#documentation": "Filters out audit logs by the request URI."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestResourceIdNotList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestResourceId": {
      "type": "structure",
      "members": {
        "not": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestResourceIdNotList",
          "traits": {
            "smithy.api#documentation": "Filters out audit logs by the resource ID."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestResourceProductNotList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestResourceProduct": {
      "type": "structure",
      "members": {
        "not": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestResourceProductNotList",
          "traits": {
            "smithy.api#documentation": "Filters out audit logs by the Cloudflare product associated with the changed resource."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestResourceScopeNotItem": {
      "type": "enum",
      "members": {
        "ACCOUNTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accounts"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ZONES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zones"
          }
        },
        "MEMBERSHIPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "memberships"
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestResourceScopeNotList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.accounts#LogsAuditListRequestResourceScopeNotItem"
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestResourceScope": {
      "type": "structure",
      "members": {
        "not": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestResourceScopeNotList",
          "traits": {
            "smithy.api#documentation": "Filters out audit logs by the resource scope, specifying whether the resource is associated with an user, an account, a zone, or a membership."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestResourceTypeNotList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestResourceType": {
      "type": "structure",
      "members": {
        "not": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestResourceTypeNotList",
          "traits": {
            "smithy.api#documentation": "Filters out audit logs based on the unique type of resource changed by the action."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestZoneIdNotList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestZoneId": {
      "type": "structure",
      "members": {
        "not": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestZoneIdNotList",
          "traits": {
            "smithy.api#documentation": "Filters out audit logs by the zone ID."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestZoneNameNotList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestZoneName": {
      "type": "structure",
      "members": {
        "not": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestZoneNameNotList",
          "traits": {
            "smithy.api#documentation": "Filters out audit logs by the zone name associated with the change."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique id that identifies the account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Limits the returned results to logs older than the specified date. This can be a date string 2019-04-30 (interpreted in UTC) or an absolute timestamp that conforms to RFC3339.",
            "smithy.api#httpQuery": "before",
            "smithy.api#required": {}
          }
        },
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Limits the returned results to logs newer than the specified date. This can be a date string 2019-04-30 (interpreted in UTC) or an absolute timestamp that conforms to RFC3339.",
            "smithy.api#httpQuery": "since",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestId",
          "traits": {
            "com.cloudflare.protocols#deepQuery": "id"
          }
        },
        "account_name": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestAccountName",
          "traits": {
            "com.cloudflare.protocols#deepQuery": "account_name"
          }
        },
        "action_result": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestActionResult",
          "traits": {
            "com.cloudflare.protocols#deepQuery": "action_result"
          }
        },
        "action_type": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestActionType",
          "traits": {
            "com.cloudflare.protocols#deepQuery": "action_type"
          }
        },
        "actor_context": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestActorContext",
          "traits": {
            "com.cloudflare.protocols#deepQuery": "actor_context"
          }
        },
        "actor_email": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestActorEmail",
          "traits": {
            "com.cloudflare.protocols#deepQuery": "actor_email"
          }
        },
        "actor_id": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestActorId",
          "traits": {
            "com.cloudflare.protocols#deepQuery": "actor_id"
          }
        },
        "actor_ip_address": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestActorIpAddress",
          "traits": {
            "com.cloudflare.protocols#deepQuery": "actor_ip_address"
          }
        },
        "actor_token_id": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestActorTokenId",
          "traits": {
            "com.cloudflare.protocols#deepQuery": "actor_token_id"
          }
        },
        "actor_token_name": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestActorTokenName",
          "traits": {
            "com.cloudflare.protocols#deepQuery": "actor_token_name"
          }
        },
        "actor_type": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestActorType",
          "traits": {
            "com.cloudflare.protocols#deepQuery": "actor_type"
          }
        },
        "audit_log_id": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestAuditLogId",
          "traits": {
            "com.cloudflare.protocols#deepQuery": "audit_log_id"
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cursor is an opaque token used to paginate through large sets of records. It indicates the position from which to continue when requesting the next set of records. A valid cursor value can be obtained from the cursor object in the result_info structure of a previous response.",
            "smithy.api#httpQuery": "cursor"
          }
        },
        "direction": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestDirection",
          "traits": {
            "smithy.api#documentation": "Sets sorting order.",
            "smithy.api#httpQuery": "direction"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number limits the objects to return. The cursor attribute may be used to iterate over the next batch of objects if there are more than the limit.",
            "smithy.api#httpQuery": "limit"
          }
        },
        "product_category": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestProductCategoryList",
          "traits": {
            "smithy.api#documentation": "Filters audit logs by one or more predefined product categories. Each product category expands into a curated set of resource_product values and is unioned with any explicit resource_product filter. Matched case-insensitively; unknown product categories return 400. Repeatable. Use the audit log product categories endpoint to discover the available values.",
            "smithy.api#httpQuery": "product_category"
          }
        },
        "raw_cf_ray_id": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestRawCfRayId",
          "traits": {
            "com.cloudflare.protocols#deepQuery": "raw_cf_ray_id"
          }
        },
        "raw_method": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestRawMethod",
          "traits": {
            "com.cloudflare.protocols#deepQuery": "raw_method"
          }
        },
        "raw_status_code": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestRawStatusCode",
          "traits": {
            "com.cloudflare.protocols#deepQuery": "raw_status_code"
          }
        },
        "raw_uri": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestRawUri",
          "traits": {
            "com.cloudflare.protocols#deepQuery": "raw_uri"
          }
        },
        "resource_id": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestResourceId",
          "traits": {
            "com.cloudflare.protocols#deepQuery": "resource_id"
          }
        },
        "resource_product": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestResourceProduct",
          "traits": {
            "com.cloudflare.protocols#deepQuery": "resource_product"
          }
        },
        "resource_scope": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestResourceScope",
          "traits": {
            "com.cloudflare.protocols#deepQuery": "resource_scope"
          }
        },
        "resource_type": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestResourceType",
          "traits": {
            "com.cloudflare.protocols#deepQuery": "resource_type"
          }
        },
        "zone_id": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestZoneId",
          "traits": {
            "com.cloudflare.protocols#deepQuery": "zone_id"
          }
        },
        "zone_name": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestZoneName",
          "traits": {
            "com.cloudflare.protocols#deepQuery": "zone_name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#LogsAuditListResultItemAccount": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier for the account."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string that identifies the account name."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListResultItemAction": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the action performed."
          }
        },
        "result": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The result of the action, indicating success or failure."
          }
        },
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp indicating when the action was logged."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short string that describes the action that was performed."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListResultItemActorContext": {
      "type": "enum",
      "members": {
        "API_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api_key"
          }
        },
        "API_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api_token"
          }
        },
        "DASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dash"
          }
        },
        "OAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth"
          }
        },
        "ORIGIN_CA_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "origin_ca_key"
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListResultItemActorType": {
      "type": "enum",
      "members": {
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account"
          }
        },
        "CLOUDFLARE_ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflare_admin"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListResultItemActor": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the actor who performed the action. If a user performed the action, this will be their User ID."
          }
        },
        "context": {
          "target": "com.cloudflare.accounts#LogsAuditListResultItemActorContext"
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the actor who performed the action."
          }
        },
        "ip_address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address of the request that performed the action."
          }
        },
        "token_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API token ID when the actor context is an api_token or oauth."
          }
        },
        "token_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API token name when the actor context is an api_token or oauth."
          }
        },
        "type": {
          "target": "com.cloudflare.accounts#LogsAuditListResultItemActorType",
          "traits": {
            "smithy.api#documentation": "The type of actor."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListResultItemRaw": {
      "type": "structure",
      "members": {
        "cf_ray_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Cloudflare Ray ID for the request."
          }
        },
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP method of the request."
          }
        },
        "status_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The HTTP response status code returned by the API."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of the request."
          }
        },
        "user_agent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client's user agent string sent with the request."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListResultItemResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the affected resource."
          }
        },
        "product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Cloudflare product associated with the resource."
          }
        },
        "request": {
          "target": "smithy.api#Document"
        },
        "response": {
          "target": "smithy.api#Document"
        },
        "scope": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The scope of the resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListResultItemZone": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string that identifies the zone id."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string that identifies the zone name."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier for the audit log entry."
          }
        },
        "account": {
          "target": "com.cloudflare.accounts#LogsAuditListResultItemAccount",
          "traits": {
            "smithy.api#documentation": "Contains account related information."
          }
        },
        "action": {
          "target": "com.cloudflare.accounts#LogsAuditListResultItemAction",
          "traits": {
            "smithy.api#documentation": "Provides information about the action performed."
          }
        },
        "actor": {
          "target": "com.cloudflare.accounts#LogsAuditListResultItemActor",
          "traits": {
            "smithy.api#documentation": "Provides details about the actor who performed the action."
          }
        },
        "raw": {
          "target": "com.cloudflare.accounts#LogsAuditListResultItemRaw",
          "traits": {
            "smithy.api#documentation": "Provides raw information about the request and response."
          }
        },
        "resource": {
          "target": "com.cloudflare.accounts#LogsAuditListResultItemResource",
          "traits": {
            "smithy.api#documentation": "Provides details about the affected resource."
          }
        },
        "zone": {
          "target": "com.cloudflare.accounts#LogsAuditListResultItemZone",
          "traits": {
            "smithy.api#documentation": "Provides details about the zone affected by the action."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.accounts#LogsAuditListResultItem"
      }
    },
    "com.cloudflare.accounts#LogsAuditListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.accounts#LogsAuditListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.accounts#LogsAuditList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#LogsAuditListRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#LogsAuditListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/logs/audit",
          "code": 200
        },
        "smithy.api#documentation": "Gets a list of audit logs for an account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.accounts#MembersCreateRequestRolesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.accounts#MembersCreateRequestStatus": {
      "type": "enum",
      "members": {
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      }
    },
    "com.cloudflare.accounts#MembersCreateRequestPoliciesItemAccess": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        }
      }
    },
    "com.cloudflare.accounts#MembersCreateRequestPoliciesItemPermissionGroupsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the group.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.accounts#MembersCreateRequestPoliciesItemPermissionGroupsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.accounts#MembersCreateRequestPoliciesItemPermissionGroupsItem"
      }
    },
    "com.cloudflare.accounts#MembersCreateRequestPoliciesItemResourceGroupsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the group.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.accounts#MembersCreateRequestPoliciesItemResourceGroupsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.accounts#MembersCreateRequestPoliciesItemResourceGroupsItem"
      }
    },
    "com.cloudflare.accounts#MembersCreateRequestPoliciesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy identifier.",
            "smithy.api#required": {}
          }
        },
        "access": {
          "target": "com.cloudflare.accounts#MembersCreateRequestPoliciesItemAccess",
          "traits": {
            "smithy.api#documentation": "Allow or deny operations against the resources.",
            "smithy.api#required": {}
          }
        },
        "permission_groups": {
          "target": "com.cloudflare.accounts#MembersCreateRequestPoliciesItemPermissionGroupsList",
          "traits": {
            "smithy.api#documentation": "A set of permission groups that are specified to the policy.",
            "smithy.api#required": {}
          }
        },
        "resource_groups": {
          "target": "com.cloudflare.accounts#MembersCreateRequestPoliciesItemResourceGroupsList",
          "traits": {
            "smithy.api#documentation": "A list of resource groups that the policy applies to.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.accounts#MembersCreateRequestPoliciesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.accounts#MembersCreateRequestPoliciesItem"
      }
    },
    "com.cloudflare.accounts#MembersCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact email address of the user.",
            "smithy.api#required": {}
          }
        },
        "roles": {
          "target": "com.cloudflare.accounts#MembersCreateRequestRolesList",
          "traits": {
            "smithy.api#documentation": "Array of roles associated with this member."
          }
        },
        "status": {
          "target": "com.cloudflare.accounts#MembersCreateRequestStatus",
          "traits": {
            "smithy.api#documentation": "Status of the member invitation. If not provided during creation, defaults to 'pending'."
          }
        },
        "policies": {
          "target": "com.cloudflare.accounts#MembersCreateRequestPoliciesList",
          "traits": {
            "smithy.api#documentation": "Array of policies associated with this member."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#MembersCreateResponsePoliciesItemAccess": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        }
      }
    },
    "com.cloudflare.accounts#MembersCreateResponsePoliciesItemPermissionGroupsItemMeta": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.accounts#MembersCreateResponsePoliciesItemPermissionGroupsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the permission group.",
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.cloudflare.accounts#MembersCreateResponsePoliciesItemPermissionGroupsItemMeta",
          "traits": {
            "smithy.api#documentation": "Attributes associated to the permission group."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the permission group."
          }
        }
      }
    },
    "com.cloudflare.accounts#MembersCreateResponsePoliciesItemPermissionGroupsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.accounts#MembersCreateResponsePoliciesItemPermissionGroupsItem"
      }
    },
    "com.cloudflare.accounts#MembersCreateResponsePoliciesItemResourceGroupsItemScopeItemObjectsItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is a combination of pre-defined resource name and identifier (like Zone ID etc.)",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.accounts#MembersCreateResponsePoliciesItemResourceGroupsItemScopeItemObjectsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.accounts#MembersCreateResponsePoliciesItemResourceGroupsItemScopeItemObjectsItem"
      }
    },
    "com.cloudflare.accounts#MembersCreateResponsePoliciesItemResourceGroupsItemScopeItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is a combination of pre-defined resource name and identifier (like Account ID etc.)",
            "smithy.api#required": {}
          }
        },
        "objects": {
          "target": "com.cloudflare.accounts#MembersCreateResponsePoliciesItemResourceGroupsItemScopeItemObjectsList",
          "traits": {
            "smithy.api#documentation": "A list of scope objects for additional context.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.accounts#MembersCreateResponsePoliciesItemResourceGroupsItemScopeList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.accounts#MembersCreateResponsePoliciesItemResourceGroupsItemScopeItem"
      }
    },
    "com.cloudflare.accounts#MembersCreateResponsePoliciesItemResourceGroupsItemMeta": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.accounts#MembersCreateResponsePoliciesItemResourceGroupsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the resource group.",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "com.cloudflare.accounts#MembersCreateResponsePoliciesItemResourceGroupsItemScopeList",
          "traits": {
            "smithy.api#documentation": "The scope associated to the resource group",
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.cloudflare.accounts#MembersCreateResponsePoliciesItemResourceGroupsItemMeta",
          "traits": {
            "smithy.api#documentation": "Attributes associated to the resource group."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource group."
          }
        }
      }
    },
    "com.cloudflare.accounts#MembersCreateResponsePoliciesItemResourceGroupsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.accounts#MembersCreateResponsePoliciesItemResourceGroupsItem"
      }
    },
    "com.cloudflare.accounts#MembersCreateResponsePoliciesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy identifier."
          }
        },
        "access": {
          "target": "com.cloudflare.accounts#MembersCreateResponsePoliciesItemAccess",
          "traits": {
            "smithy.api#documentation": "Allow or deny operations against the resources."
          }
        },
        "permission_groups": {
          "target": "com.cloudflare.accounts#MembersCreateResponsePoliciesItemPermissionGroupsList",
          "traits": {
            "smithy.api#documentation": "A set of permission groups that are specified to the policy."
          }
        },
        "resource_groups": {
          "target": "com.cloudflare.accounts#MembersCreateResponsePoliciesItemResourceGroupsList",
          "traits": {
            "smithy.api#documentation": "A list of resource groups that the policy applies to."
          }
        }
      }
    },
    "com.cloudflare.accounts#MembersCreateResponsePoliciesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.accounts#MembersCreateResponsePoliciesItem"
      }
    },
    "com.cloudflare.accounts#MembersCreateResponseRolesItemPermissionsAnalytics": {
      "type": "structure",
      "members": {
        "read": {
          "target": "smithy.api#Boolean"
        },
        "write": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.accounts#MembersCreateResponseRolesItemPermissions": {
      "type": "structure",
      "members": {
        "analytics": {
          "target": "com.cloudflare.accounts#MembersCreateResponseRolesItemPermissionsAnalytics"
        },
        "billing": {
          "target": "com.cloudflare.accounts#MembersCreateResponseRolesItemPermissionsAnalytics"
        },
        "cache_purge": {
          "target": "com.cloudflare.accounts#MembersCreateResponseRolesItemPermissionsAnalytics"
        },
        "dns": {
          "target": "com.cloudflare.accounts#MembersCreateResponseRolesItemPermissionsAnalytics"
        },
        "dns_records": {
          "target": "com.cloudflare.accounts#MembersCreateResponseRolesItemPermissionsAnalytics"
        },
        "lb": {
          "target": "com.cloudflare.accounts#MembersCreateResponseRolesItemPermissionsAnalytics"
        },
        "logs": {
          "target": "com.cloudflare.accounts#MembersCreateResponseRolesItemPermissionsAnalytics"
        },
        "organization": {
          "target": "com.cloudflare.accounts#MembersCreateResponseRolesItemPermissionsAnalytics"
        },
        "ssl": {
          "target": "com.cloudflare.accounts#MembersCreateResponseRolesItemPermissionsAnalytics"
        },
        "waf": {
          "target": "com.cloudflare.accounts#MembersCreateResponseRolesItemPermissionsAnalytics"
        },
        "zone_settings": {
          "target": "com.cloudflare.accounts#MembersCreateResponseRolesItemPermissionsAnalytics"
        },
        "zones": {
          "target": "com.cloudflare.accounts#MembersCreateResponseRolesItemPermissionsAnalytics"
        }
      }
    },
    "com.cloudflare.accounts#MembersCreateResponseRolesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role identifier tag.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of role's permissions.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role name.",
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.cloudflare.accounts#MembersCreateResponseRolesItemPermissions",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.accounts#MembersCreateResponseRolesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.accounts#MembersCreateResponseRolesItem"
      }
    },
    "com.cloudflare.accounts#MembersCreateResponseStatus": {
      "type": "enum",
      "members": {
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      }
    },
    "com.cloudflare.accounts#MembersCreateResponseUser": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact email address of the user.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        },
        "first_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User's first name"
          }
        },
        "last_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User's last name"
          }
        },
        "two_factor_authentication_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether two-factor authentication is enabled for the user account. Does not apply to API authentication."
          }
        }
      }
    },
    "com.cloudflare.accounts#MembersCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Membership identifier tag."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact email address of the user."
          }
        },
        "policies": {
          "target": "com.cloudflare.accounts#MembersCreateResponsePoliciesList",
          "traits": {
            "smithy.api#documentation": "Access policy for the membership"
          }
        },
        "roles": {
          "target": "com.cloudflare.accounts#MembersCreateResponseRolesList",
          "traits": {
            "smithy.api#documentation": "Roles assigned to this Member."
          }
        },
        "status": {
          "target": "com.cloudflare.accounts#MembersCreateResponseStatus",
          "traits": {
            "smithy.api#documentation": "A member's status in the account."
          }
        },
        "user": {
          "target": "com.cloudflare.accounts#MembersCreateResponseUser",
          "traits": {
            "smithy.api#documentation": "Details of the user associated to the membership."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.accounts#MembersCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#MembersCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#MembersCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/members",
          "code": 200
        },
        "smithy.api#documentation": "Add a user to the list of members for this account."
      }
    },
    "com.cloudflare.accounts#MembersDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "member_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Membership identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#MembersDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.accounts#MembersDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#MembersDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#MembersDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/members/{member_id}",
          "code": 200
        },
        "smithy.api#documentation": "Remove a member from an account.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.accounts#MembersGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "member_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Membership identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#MembersGetResponsePoliciesItemAccess": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        }
      }
    },
    "com.cloudflare.accounts#MembersGetResponsePoliciesItemPermissionGroupsItemMeta": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.accounts#MembersGetResponsePoliciesItemPermissionGroupsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the permission group.",
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.cloudflare.accounts#MembersGetResponsePoliciesItemPermissionGroupsItemMeta",
          "traits": {
            "smithy.api#documentation": "Attributes associated to the permission group."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the permission group."
          }
        }
      }
    },
    "com.cloudflare.accounts#MembersGetResponsePoliciesItemPermissionGroupsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.accounts#MembersGetResponsePoliciesItemPermissionGroupsItem"
      }
    },
    "com.cloudflare.accounts#MembersGetResponsePoliciesItemResourceGroupsItemScopeItemObjectsItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is a combination of pre-defined resource name and identifier (like Zone ID etc.)",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.accounts#MembersGetResponsePoliciesItemResourceGroupsItemScopeItemObjectsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.accounts#MembersGetResponsePoliciesItemResourceGroupsItemScopeItemObjectsItem"
      }
    },
    "com.cloudflare.accounts#MembersGetResponsePoliciesItemResourceGroupsItemScopeItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is a combination of pre-defined resource name and identifier (like Account ID etc.)",
            "smithy.api#required": {}
          }
        },
        "objects": {
          "target": "com.cloudflare.accounts#MembersGetResponsePoliciesItemResourceGroupsItemScopeItemObjectsList",
          "traits": {
            "smithy.api#documentation": "A list of scope objects for additional context.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.accounts#MembersGetResponsePoliciesItemResourceGroupsItemScopeList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.accounts#MembersGetResponsePoliciesItemResourceGroupsItemScopeItem"
      }
    },
    "com.cloudflare.accounts#MembersGetResponsePoliciesItemResourceGroupsItemMeta": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.accounts#MembersGetResponsePoliciesItemResourceGroupsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the resource group.",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "com.cloudflare.accounts#MembersGetResponsePoliciesItemResourceGroupsItemScopeList",
          "traits": {
            "smithy.api#documentation": "The scope associated to the resource group",
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.cloudflare.accounts#MembersGetResponsePoliciesItemResourceGroupsItemMeta",
          "traits": {
            "smithy.api#documentation": "Attributes associated to the resource group."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource group."
          }
        }
      }
    },
    "com.cloudflare.accounts#MembersGetResponsePoliciesItemResourceGroupsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.accounts#MembersGetResponsePoliciesItemResourceGroupsItem"
      }
    },
    "com.cloudflare.accounts#MembersGetResponsePoliciesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy identifier."
          }
        },
        "access": {
          "target": "com.cloudflare.accounts#MembersGetResponsePoliciesItemAccess",
          "traits": {
            "smithy.api#documentation": "Allow or deny operations against the resources."
          }
        },
        "permission_groups": {
          "target": "com.cloudflare.accounts#MembersGetResponsePoliciesItemPermissionGroupsList",
          "traits": {
            "smithy.api#documentation": "A set of permission groups that are specified to the policy."
          }
        },
        "resource_groups": {
          "target": "com.cloudflare.accounts#MembersGetResponsePoliciesItemResourceGroupsList",
          "traits": {
            "smithy.api#documentation": "A list of resource groups that the policy applies to."
          }
        }
      }
    },
    "com.cloudflare.accounts#MembersGetResponsePoliciesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.accounts#MembersGetResponsePoliciesItem"
      }
    },
    "com.cloudflare.accounts#MembersGetResponseRolesItemPermissionsAnalytics": {
      "type": "structure",
      "members": {
        "read": {
          "target": "smithy.api#Boolean"
        },
        "write": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.accounts#MembersGetResponseRolesItemPermissions": {
      "type": "structure",
      "members": {
        "analytics": {
          "target": "com.cloudflare.accounts#MembersGetResponseRolesItemPermissionsAnalytics"
        },
        "billing": {
          "target": "com.cloudflare.accounts#MembersGetResponseRolesItemPermissionsAnalytics"
        },
        "cache_purge": {
          "target": "com.cloudflare.accounts#MembersGetResponseRolesItemPermissionsAnalytics"
        },
        "dns": {
          "target": "com.cloudflare.accounts#MembersGetResponseRolesItemPermissionsAnalytics"
        },
        "dns_records": {
          "target": "com.cloudflare.accounts#MembersGetResponseRolesItemPermissionsAnalytics"
        },
        "lb": {
          "target": "com.cloudflare.accounts#MembersGetResponseRolesItemPermissionsAnalytics"
        },
        "logs": {
          "target": "com.cloudflare.accounts#MembersGetResponseRolesItemPermissionsAnalytics"
        },
        "organization": {
          "target": "com.cloudflare.accounts#MembersGetResponseRolesItemPermissionsAnalytics"
        },
        "ssl": {
          "target": "com.cloudflare.accounts#MembersGetResponseRolesItemPermissionsAnalytics"
        },
        "waf": {
          "target": "com.cloudflare.accounts#MembersGetResponseRolesItemPermissionsAnalytics"
        },
        "zone_settings": {
          "target": "com.cloudflare.accounts#MembersGetResponseRolesItemPermissionsAnalytics"
        },
        "zones": {
          "target": "com.cloudflare.accounts#MembersGetResponseRolesItemPermissionsAnalytics"
        }
      }
    },
    "com.cloudflare.accounts#MembersGetResponseRolesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role identifier tag.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of role's permissions.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role name.",
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.cloudflare.accounts#MembersGetResponseRolesItemPermissions",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.accounts#MembersGetResponseRolesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.accounts#MembersGetResponseRolesItem"
      }
    },
    "com.cloudflare.accounts#MembersGetResponseStatus": {
      "type": "enum",
      "members": {
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      }
    },
    "com.cloudflare.accounts#MembersGetResponseUser": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact email address of the user.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        },
        "first_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User's first name"
          }
        },
        "last_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User's last name"
          }
        },
        "two_factor_authentication_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether two-factor authentication is enabled for the user account. Does not apply to API authentication."
          }
        }
      }
    },
    "com.cloudflare.accounts#MembersGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Membership identifier tag."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact email address of the user."
          }
        },
        "policies": {
          "target": "com.cloudflare.accounts#MembersGetResponsePoliciesList",
          "traits": {
            "smithy.api#documentation": "Access policy for the membership"
          }
        },
        "roles": {
          "target": "com.cloudflare.accounts#MembersGetResponseRolesList",
          "traits": {
            "smithy.api#documentation": "Roles assigned to this Member."
          }
        },
        "status": {
          "target": "com.cloudflare.accounts#MembersGetResponseStatus",
          "traits": {
            "smithy.api#documentation": "A member's status in the account."
          }
        },
        "user": {
          "target": "com.cloudflare.accounts#MembersGetResponseUser",
          "traits": {
            "smithy.api#documentation": "Details of the user associated to the membership."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.accounts#MembersGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#MembersGetRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#MembersGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/members/{member_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get information about a specific member of an account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.accounts#MembersListRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.cloudflare.accounts#MembersListRequestOrder": {
      "type": "enum",
      "members": {
        "USER_FIRST_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.first_name"
          }
        },
        "USER_LAST_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.last_name"
          }
        },
        "USER_EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.email"
          }
        },
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status"
          }
        }
      }
    },
    "com.cloudflare.accounts#MembersListRequestStatus": {
      "type": "enum",
      "members": {
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        }
      }
    },
    "com.cloudflare.accounts#MembersListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "direction": {
          "target": "com.cloudflare.accounts#MembersListRequestDirection",
          "traits": {
            "smithy.api#documentation": "Direction to order results.",
            "smithy.api#httpQuery": "direction"
          }
        },
        "order": {
          "target": "com.cloudflare.accounts#MembersListRequestOrder",
          "traits": {
            "smithy.api#documentation": "Field to order results by.",
            "smithy.api#httpQuery": "order"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of paginated results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of results per page.",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "status": {
          "target": "com.cloudflare.accounts#MembersListRequestStatus",
          "traits": {
            "smithy.api#documentation": "A member's status in the account.",
            "smithy.api#httpQuery": "status"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#MembersListResultItemPoliciesItemAccess": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        }
      }
    },
    "com.cloudflare.accounts#MembersListResultItemPoliciesItemPermissionGroupsItemMeta": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.accounts#MembersListResultItemPoliciesItemPermissionGroupsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the permission group.",
            "smithy.api#required": {}
          }
        },
        "meta": {
[...]
