{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.addressing#AddressMapsCreateRequestIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.addressing#AddressMapsCreateRequestMembershipsItemKind": {
      "type": "enum",
      "members": {
        "ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zone"
          }
        },
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account"
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsCreateRequestMembershipsItem": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier for the membership (eg. a zone or account tag)."
          }
        },
        "kind": {
          "target": "com.cloudflare.addressing#AddressMapsCreateRequestMembershipsItemKind",
          "traits": {
            "smithy.api#documentation": "The type of the membership."
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsCreateRequestMembershipsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.addressing#AddressMapsCreateRequestMembershipsItem"
      }
    },
    "com.cloudflare.addressing#AddressMapsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional description field which may be used to describe the types of IPs or zones on the map."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Address Map is enabled or not. Cloudflare's DNS will not respond with IP addresses on an Address Map until the map is enabled."
          }
        },
        "ips": {
          "target": "com.cloudflare.addressing#AddressMapsCreateRequestIpsList"
        },
        "memberships": {
          "target": "com.cloudflare.addressing#AddressMapsCreateRequestMembershipsList",
          "traits": {
            "smithy.api#documentation": "Zones and Accounts which will be assigned IPs on this Address Map. A zone membership will take priority over an account membership."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsCreateResponseIps": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String"
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An IPv4 or IPv6 address."
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsCreateResponseMembershipsItemKind": {
      "type": "enum",
      "members": {
        "ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zone"
          }
        },
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account"
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsCreateResponseMembershipsItem": {
      "type": "structure",
      "members": {
        "can_delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Controls whether the membership can be deleted via the API or not."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier for the membership (eg. a zone or account tag)."
          }
        },
        "kind": {
          "target": "com.cloudflare.addressing#AddressMapsCreateResponseMembershipsItemKind",
          "traits": {
            "smithy.api#documentation": "The type of the membership."
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsCreateResponseMembershipsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.addressing#AddressMapsCreateResponseMembershipsItem"
      }
    },
    "com.cloudflare.addressing#AddressMapsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an Address Map."
          }
        },
        "can_delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to false, then the Address Map cannot be deleted via API. This is true for Cloudflare-managed maps."
          }
        },
        "can_modify_ips": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to false, then the IPs on the Address Map cannot be modified via the API. This is true for Cloudflare-managed maps."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "default_sni": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If you have legacy TLS clients which do not send the TLS server name indicator, then you can specify one default SNI on the map. If Cloudflare receives a TLS handshake from a client without an SNI, it will respond with the default SNI on those IPs. The default SNI can be any valid zone or subdomain owned by the account."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional description field which may be used to describe the types of IPs or zones on the map."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Address Map is enabled or not. Cloudflare's DNS will not respond with IP addresses on an Address Map until the map is enabled."
          }
        },
        "ips": {
          "target": "com.cloudflare.addressing#AddressMapsCreateResponseIps",
          "traits": {
            "smithy.api#documentation": "The set of IPs on the Address Map."
          }
        },
        "memberships": {
          "target": "com.cloudflare.addressing#AddressMapsCreateResponseMembershipsList",
          "traits": {
            "smithy.api#documentation": "Zones and Accounts which will be assigned IPs on this Address Map. A zone membership will take priority over an account membership."
          }
        },
        "modified_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.addressing#AddressMapsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#AddressMapsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#AddressMapsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/addressing/address_maps",
          "code": 200
        },
        "smithy.api#documentation": "Create a new address map under the account."
      }
    },
    "com.cloudflare.addressing#AddressMapsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "address_map_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an Address Map.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#AddressMapsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/addressing/address_maps/{address_map_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a particular address map owned by the account. An Address Map must be disabled before it can be deleted.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsEditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "address_map_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an Address Map.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "default_sni": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If you have legacy TLS clients which do not send the TLS server name indicator, then you can specify one default SNI on the map. If Cloudflare receives a TLS handshake from a client without an SNI, it will respond with the default SNI on those IPs. The default SNI can be any valid zone or subdomain owned by the account."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional description field which may be used to describe the types of IPs or zones on the map."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Address Map is enabled or not. Cloudflare's DNS will not respond with IP addresses on an Address Map until the map is enabled."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsEditResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an Address Map."
          }
        },
        "can_delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to false, then the Address Map cannot be deleted via API. This is true for Cloudflare-managed maps."
          }
        },
        "can_modify_ips": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to false, then the IPs on the Address Map cannot be modified via the API. This is true for Cloudflare-managed maps."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "default_sni": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If you have legacy TLS clients which do not send the TLS server name indicator, then you can specify one default SNI on the map. If Cloudflare receives a TLS handshake from a client without an SNI, it will respond with the default SNI on those IPs. The default SNI can be any valid zone or subdomain owned by the account."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional description field which may be used to describe the types of IPs or zones on the map."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Address Map is enabled or not. Cloudflare's DNS will not respond with IP addresses on an Address Map until the map is enabled."
          }
        },
        "modified_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.addressing#AddressMapsEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#AddressMapsEditRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#AddressMapsEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/addressing/address_maps/{address_map_id}",
          "code": 200
        },
        "smithy.api#documentation": "Modify properties of an address map owned by the account."
      }
    },
    "com.cloudflare.addressing#AddressMapsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "address_map_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an Address Map.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsGetResponseIps": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String"
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An IPv4 or IPv6 address."
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsGetResponseMembershipsItemKind": {
      "type": "enum",
      "members": {
        "ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zone"
          }
        },
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account"
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsGetResponseMembershipsItem": {
      "type": "structure",
      "members": {
        "can_delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Controls whether the membership can be deleted via the API or not."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier for the membership (eg. a zone or account tag)."
          }
        },
        "kind": {
          "target": "com.cloudflare.addressing#AddressMapsGetResponseMembershipsItemKind",
          "traits": {
            "smithy.api#documentation": "The type of the membership."
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsGetResponseMembershipsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.addressing#AddressMapsGetResponseMembershipsItem"
      }
    },
    "com.cloudflare.addressing#AddressMapsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an Address Map."
          }
        },
        "can_delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to false, then the Address Map cannot be deleted via API. This is true for Cloudflare-managed maps."
          }
        },
        "can_modify_ips": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to false, then the IPs on the Address Map cannot be modified via the API. This is true for Cloudflare-managed maps."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "default_sni": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If you have legacy TLS clients which do not send the TLS server name indicator, then you can specify one default SNI on the map. If Cloudflare receives a TLS handshake from a client without an SNI, it will respond with the default SNI on those IPs. The default SNI can be any valid zone or subdomain owned by the account."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional description field which may be used to describe the types of IPs or zones on the map."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Address Map is enabled or not. Cloudflare's DNS will not respond with IP addresses on an Address Map until the map is enabled."
          }
        },
        "ips": {
          "target": "com.cloudflare.addressing#AddressMapsGetResponseIps",
          "traits": {
            "smithy.api#documentation": "The set of IPs on the Address Map."
          }
        },
        "memberships": {
          "target": "com.cloudflare.addressing#AddressMapsGetResponseMembershipsList",
          "traits": {
            "smithy.api#documentation": "Zones and Accounts which will be assigned IPs on this Address Map. A zone membership will take priority over an account membership."
          }
        },
        "modified_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.addressing#AddressMapsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#AddressMapsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#AddressMapsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/addressing/address_maps/{address_map_id}",
          "code": 200
        },
        "smithy.api#documentation": "Show a particular address map owned by the account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an Address Map."
          }
        },
        "can_delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to false, then the Address Map cannot be deleted via API. This is true for Cloudflare-managed maps."
          }
        },
        "can_modify_ips": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to false, then the IPs on the Address Map cannot be modified via the API. This is true for Cloudflare-managed maps."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "default_sni": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If you have legacy TLS clients which do not send the TLS server name indicator, then you can specify one default SNI on the map. If Cloudflare receives a TLS handshake from a client without an SNI, it will respond with the default SNI on those IPs. The default SNI can be any valid zone or subdomain owned by the account."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional description field which may be used to describe the types of IPs or zones on the map."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Address Map is enabled or not. Cloudflare's DNS will not respond with IP addresses on an Address Map until the map is enabled."
          }
        },
        "modified_at": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.addressing#AddressMapsListResultItem"
      }
    },
    "com.cloudflare.addressing#AddressMapsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.addressing#AddressMapsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#AddressMapsListRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#AddressMapsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/addressing/address_maps",
          "code": 200
        },
        "smithy.api#documentation": "List all address maps owned by the account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsAccountsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "address_map_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an Address Map.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_id_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsAccountsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#AddressMapsAccountsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/addressing/address_maps/{address_map_id}/accounts/{account_id}",
          "code": 200
        },
        "smithy.api#documentation": "Remove an account as a member of a particular address map.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsAccountsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "address_map_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an Address Map.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_id_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsAccountsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#AddressMapsAccountsUpdateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/addressing/address_maps/{address_map_id}/accounts/{account_id}",
          "code": 200
        },
        "smithy.api#documentation": "Add an account as a member of a particular address map.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsIpsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "address_map_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an Address Map.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ip_address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An IPv4 or IPv6 address.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsIpsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#AddressMapsIpsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/addressing/address_maps/{address_map_id}/ips/{ip_address}",
          "code": 200
        },
        "smithy.api#documentation": "Remove an IP from a particular address map.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsIpsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "address_map_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an Address Map.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ip_address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An IPv4 or IPv6 address.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsIpsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#AddressMapsIpsUpdateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/addressing/address_maps/{address_map_id}/ips/{ip_address}",
          "code": 200
        },
        "smithy.api#documentation": "Add an IP from a prefix owned by the account to a particular address map.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsZonesDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "address_map_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an Address Map.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a zone.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsZonesDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#AddressMapsZonesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/addressing/address_maps/{address_map_id}/zones/{zone_id}",
          "code": 200
        },
        "smithy.api#documentation": "Remove a zone as a member of a particular address map.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsZonesUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "address_map_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an Address Map.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a zone.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsZonesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#AddressMapsZonesUpdateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/addressing/address_maps/{address_map_id}/zones/{zone_id}",
          "code": 200
        },
        "smithy.api#documentation": "Add a zone as a member of a particular address map.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.addressing#LoaDocumentsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#LoaDocumentsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the uploaded LOA document."
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account."
          }
        },
        "auto_generated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the LOA has been auto-generated for the prefix owner by Cloudflare."
          }
        },
        "created": {
          "target": "smithy.api#String"
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of LOA document. Max file size 10MB, and supported filetype is pdf."
          }
        },
        "size_bytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "File size of the uploaded LOA document."
          }
        },
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the LOA has been verified by Cloudflare staff."
          }
        },
        "verified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of the moment the LOA was marked as validated."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.addressing#LoaDocumentsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#LoaDocumentsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#LoaDocumentsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/addressing/loa_documents",
          "code": 200
        },
        "smithy.api#documentation": "Submit LOA document (pdf format) under the account."
      }
    },
    "com.cloudflare.addressing#LoaDocumentsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "loa_document_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the uploaded LOA document.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#LoaDocumentsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#LoaDocumentsGetRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/addressing/loa_documents/{loa_document_id}/download",
          "code": 200
        },
        "smithy.api#documentation": "Download specified LOA document under the account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.addressing#PrefixesCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "asn": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Autonomous System Number (ASN) the prefix will be advertised under.",
            "smithy.api#required": {}
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Prefix in Classless Inter-Domain Routing format.",
            "smithy.api#required": {}
          }
        },
        "delegate_loa_creation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Cloudflare is allowed to generate the LOA document on behalf of the prefix owner."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the prefix."
          }
        },
        "loa_document_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the uploaded LOA document."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#PrefixesCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix."
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account."
          }
        },
        "advertised": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prefix advertisement status to the Internet. This field is only not 'null' if on demand is enabled."
          }
        },
        "advertised_modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time the advertisement status was changed. This field is only not 'null' if on demand is enabled."
          }
        },
        "approved": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Approval state of the prefix (P = pending, V = active)."
          }
        },
        "asn": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Autonomous System Number (ASN) the prefix will be advertised under."
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Prefix in Classless Inter-Domain Routing format."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "delegate_loa_creation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Cloudflare is allowed to generate the LOA document on behalf of the prefix owner."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the prefix."
          }
        },
        "irr_validation_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of one kind of validation for an IP prefix."
          }
        },
        "loa_document_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the uploaded LOA document."
          }
        },
        "modified_at": {
          "target": "smithy.api#String"
        },
        "on_demand_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether advertisement of the prefix to the Internet may be dynamically enabled or disabled."
          }
        },
        "on_demand_locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether advertisement status of the prefix is locked, meaning it cannot be changed."
          }
        },
        "ownership_validation_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of one kind of validation for an IP prefix."
          }
        },
        "ownership_validation_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token provided to demonstrate ownership of the prefix."
          }
        },
        "rpki_validation_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of one kind of validation for an IP prefix."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.addressing#PrefixesCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#PrefixesCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#PrefixesCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/addressing/prefixes",
          "code": 200
        },
        "smithy.api#documentation": "Add a new prefix under the account."
      }
    },
    "com.cloudflare.addressing#PrefixesDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#PrefixesDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#PrefixesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/addressing/prefixes/{prefix_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an unapproved prefix owned by the account.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.addressing#PrefixesEditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the prefix.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#PrefixesEditResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix."
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account."
          }
        },
        "advertised": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prefix advertisement status to the Internet. This field is only not 'null' if on demand is enabled."
          }
        },
        "advertised_modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time the advertisement status was changed. This field is only not 'null' if on demand is enabled."
          }
        },
        "approved": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Approval state of the prefix (P = pending, V = active)."
          }
        },
        "asn": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Autonomous System Number (ASN) the prefix will be advertised under."
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Prefix in Classless Inter-Domain Routing format."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "delegate_loa_creation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Cloudflare is allowed to generate the LOA document on behalf of the prefix owner."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the prefix."
          }
        },
        "irr_validation_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of one kind of validation for an IP prefix."
          }
        },
        "loa_document_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the uploaded LOA document."
          }
        },
        "modified_at": {
          "target": "smithy.api#String"
        },
        "on_demand_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether advertisement of the prefix to the Internet may be dynamically enabled or disabled."
          }
        },
        "on_demand_locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether advertisement status of the prefix is locked, meaning it cannot be changed."
          }
        },
        "ownership_validation_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of one kind of validation for an IP prefix."
          }
        },
        "ownership_validation_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token provided to demonstrate ownership of the prefix."
          }
        },
        "rpki_validation_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of one kind of validation for an IP prefix."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.addressing#PrefixesEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#PrefixesEditRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#PrefixesEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/addressing/prefixes/{prefix_id}",
          "code": 200
        },
        "smithy.api#documentation": "Modify the description for a prefix owned by the account."
      }
    },
    "com.cloudflare.addressing#PrefixesGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#PrefixesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix."
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account."
          }
        },
        "advertised": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prefix advertisement status to the Internet. This field is only not 'null' if on demand is enabled."
          }
        },
        "advertised_modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time the advertisement status was changed. This field is only not 'null' if on demand is enabled."
          }
        },
        "approved": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Approval state of the prefix (P = pending, V = active)."
          }
        },
        "asn": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Autonomous System Number (ASN) the prefix will be advertised under."
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Prefix in Classless Inter-Domain Routing format."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "delegate_loa_creation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Cloudflare is allowed to generate the LOA document on behalf of the prefix owner."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the prefix."
          }
        },
        "irr_validation_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of one kind of validation for an IP prefix."
          }
        },
        "loa_document_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the uploaded LOA document."
          }
        },
        "modified_at": {
          "target": "smithy.api#String"
        },
        "on_demand_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether advertisement of the prefix to the Internet may be dynamically enabled or disabled."
          }
        },
        "on_demand_locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether advertisement status of the prefix is locked, meaning it cannot be changed."
          }
        },
        "ownership_validation_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of one kind of validation for an IP prefix."
          }
        },
        "ownership_validation_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token provided to demonstrate ownership of the prefix."
          }
        },
        "rpki_validation_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of one kind of validation for an IP prefix."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.addressing#PrefixesGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#PrefixesGetRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#PrefixesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/addressing/prefixes/{prefix_id}",
          "code": 200
        },
        "smithy.api#documentation": "List a particular prefix owned by the account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.addressing#PrefixesListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#PrefixesListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix."
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account."
          }
        },
        "advertised": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prefix advertisement status to the Internet. This field is only not 'null' if on demand is enabled."
          }
        },
        "advertised_modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time the advertisement status was changed. This field is only not 'null' if on demand is enabled."
          }
        },
        "approved": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Approval state of the prefix (P = pending, V = active)."
          }
        },
        "asn": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Autonomous System Number (ASN) the prefix will be advertised under."
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Prefix in Classless Inter-Domain Routing format."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "delegate_loa_creation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Cloudflare is allowed to generate the LOA document on behalf of the prefix owner."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the prefix."
          }
        },
        "irr_validation_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of one kind of validation for an IP prefix."
          }
        },
        "loa_document_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the uploaded LOA document."
          }
        },
        "modified_at": {
          "target": "smithy.api#String"
        },
        "on_demand_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether advertisement of the prefix to the Internet may be dynamically enabled or disabled."
          }
        },
        "on_demand_locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether advertisement status of the prefix is locked, meaning it cannot be changed."
          }
        },
        "ownership_validation_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of one kind of validation for an IP prefix."
          }
        },
        "ownership_validation_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token provided to demonstrate ownership of the prefix."
          }
        },
        "rpki_validation_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of one kind of validation for an IP prefix."
          }
        }
      }
    },
    "com.cloudflare.addressing#PrefixesListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.addressing#PrefixesListResultItem"
      }
    },
    "com.cloudflare.addressing#PrefixesListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.addressing#PrefixesListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.addressing#PrefixesList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#PrefixesListRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#PrefixesListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/addressing/prefixes",
          "code": 200
        },
        "smithy.api#documentation": "List all prefixes owned by the account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.addressing#PrefixesAdvertisementStatusEditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "advertised": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Advertisement status of the prefix. If `true`, the BGP route for the prefix is advertised to the Internet. If",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#PrefixesAdvertisementStatusEditResponse": {
      "type": "structure",
      "members": {
        "advertised": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Advertisement status of the prefix. If `true`, the BGP route for the prefix is advertised to the Internet. If"
          }
        },
        "advertised_modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time the advertisement status was changed. This field is only not 'null' if on demand is enabled."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.addressing#PrefixesAdvertisementStatusEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#PrefixesAdvertisementStatusEditRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#PrefixesAdvertisementStatusEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/addressing/prefixes/{prefix_id}/bgp/status",
          "code": 200
        },
        "smithy.api#documentation": "Advertise or withdraw the BGP route for a prefix. **Deprecated:** Prefer the BGP Prefixes endpoints, which additionally allow for advertising and withdrawing subnets of an IP prefix."
      }
    },
    "com.cloudflare.addressing#PrefixesAdvertisementStatusGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#PrefixesAdvertisementStatusGetResponse": {
      "type": "structure",
      "members": {
        "advertised": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Advertisement status of the prefix. If `true`, the BGP route for the prefix is advertised to the Internet. If"
          }
        },
        "advertised_modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time the advertisement status was changed. This field is only not 'null' if on demand is enabled."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.addressing#PrefixesAdvertisementStatusGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#PrefixesAdvertisementStatusGetRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#PrefixesAdvertisementStatusGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/addressing/prefixes/{prefix_id}/bgp/status",
          "code": 200
        },
        "smithy.api#documentation": "View the current advertisement state for a prefix. **Deprecated:** Prefer the BGP Prefixes endpoints, which additionally allow for advertising and withdrawing subnets of an IP prefix.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.addressing#PrefixesBgpPrefixesCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Prefix in Classless Inter-Domain Routing format.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#PrefixesBgpPrefixesCreateResponseBgpSignalOpts": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether control of advertisement of the prefix to the Internet is enabled to be performed via BGP signal"
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time BGP signaling control was toggled. This field is null if BGP signaling has never been enabled."
          }
        }
      }
    },
    "com.cloudflare.addressing#PrefixesBgpPrefixesCreateResponseOnDemand": {
      "type": "structure",
      "members": {
        "advertised": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prefix advertisement status to the Internet. This field is only not 'null' if on demand is enabled."
          }
        },
        "advertised_modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time the advertisement status was changed. This field is only not 'null' if on demand is enabled."
          }
        },
        "on_demand_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether advertisement of the prefix to the Internet may be dynamically enabled or disabled."
          }
        },
        "on_demand_locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the advertisement status of the prefix is locked, meaning it cannot be changed."
          }
        }
      }
    },
    "com.cloudflare.addressing#PrefixesBgpPrefixesCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of BGP Prefix."
          }
        },
        "asn": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Autonomous System Number (ASN) the prefix will be advertised under."
          }
        },
        "asn_prepend_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of times to prepend the Cloudflare ASN to the BGP AS-Path attribute"
          }
        },
        "auto_advertise_withdraw": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines if Cloudflare advertises a BYOIP BGP prefix even when there is no matching BGP prefix in the Magic routing table. When true, Cloudflare will automatically withdraw the BGP prefix when there are no matching BGP routes, and will resume advertising when there is at least one matching BGP route."
          }
        },
        "bgp_signal_opts": {
          "target": "com.cloudflare.addressing#PrefixesBgpPrefixesCreateResponseBgpSignalOpts"
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Prefix in Classless Inter-Domain Routing format."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "modified_at": {
          "target": "smithy.api#String"
        },
        "on_demand": {
          "target": "com.cloudflare.addressing#PrefixesBgpPrefixesCreateResponseOnDemand"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.addressing#PrefixesBgpPrefixesCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#PrefixesBgpPrefixesCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#PrefixesBgpPrefixesCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/addressing/prefixes/{prefix_id}/bgp/prefixes",
          "code": 200
        },
        "smithy.api#documentation": "Create a BGP prefix, controlling the BGP advertisement status of a specific subnet. When created, BGP prefixes are initially withdrawn, and can be advertised with the Update BGP Prefix API."
      }
    },
    "com.cloudflare.addressing#PrefixesBgpPrefixesEditRequestOnDemand": {
      "type": "structure",
      "members": {
        "advertised": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.addressing#PrefixesBgpPrefixesEditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "bgp_prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of BGP Prefix.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "asn_prepend_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of times to prepend the Cloudflare ASN to the BGP AS-Path attribute"
          }
        },
        "auto_advertise_withdraw": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines if Cloudflare advertises a BYOIP BGP prefix even when there is no matching BGP prefix in the Magic routing table. When true, Cloudflare will automatically withdraw the BGP prefix when there are no matching BGP routes, and will resume advertising when there is at least one matching BGP route."
          }
        },
        "on_demand": {
          "target": "com.cloudflare.addressing#PrefixesBgpPrefixesEditRequestOnDemand"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#PrefixesBgpPrefixesEditResponseBgpSignalOpts": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether control of advertisement of the prefix to the Internet is enabled to be performed via BGP signal"
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time BGP signaling control was toggled. This field is null if BGP signaling has never been enabled."
          }
        }
      }
    },
    "com.cloudflare.addressing#PrefixesBgpPrefixesEditResponseOnDemand": {
      "type": "structure",
      "members": {
        "advertised": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prefix advertisement status to the Internet. This field is only not 'null' if on demand is enabled."
          }
        },
        "advertised_modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time the advertisement status was changed. This field is only not 'null' if on demand is enabled."
          }
        },
        "on_demand_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether advertisement of the prefix to the Internet may be dynamically enabled or disabled."
          }
        },
        "on_demand_locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the advertisement status of the prefix is locked, meaning it cannot be changed."
          }
        }
      }
    },
    "com.cloudflare.addressing#PrefixesBgpPrefixesEditResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of BGP Prefix."
          }
        },
        "asn": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Autonomous System Number (ASN) the prefix will be advertised under."
          }
        },
        "asn_prepend_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of times to prepend the Cloudflare ASN to the BGP AS-Path attribute"
          }
        },
        "auto_advertise_withdraw": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines if Cloudflare advertises a BYOIP BGP prefix even when there is no matching BGP prefix in the Magic routing table. When true, Cloudflare will automatically withdraw the BGP prefix when there are no matching BGP routes, and will resume advertising when there is at least one matching BGP route."
          }
        },
        "bgp_signal_opts": {
          "target": "com.cloudflare.addressing#PrefixesBgpPrefixesEditResponseBgpSignalOpts"
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Prefix in Classless Inter-Domain Routing format."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "modified_at": {
          "target": "smithy.api#String"
        },
        "on_demand": {
          "target": "com.cloudflare.addressing#PrefixesBgpPrefixesEditResponseOnDemand"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.addressing#PrefixesBgpPrefixesEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#PrefixesBgpPrefixesEditRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#PrefixesBgpPrefixesEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/addressing/prefixes/{prefix_id}/bgp/prefixes/{bgp_prefix_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update the properties of a BGP Prefix, such as the on demand advertisement status (advertised or withdrawn)."
      }
    },
    "com.cloudflare.addressing#PrefixesBgpPrefixesGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "bgp_prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of BGP Prefix.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#PrefixesBgpPrefixesGetResponseBgpSignalOpts": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether control of advertisement of the prefix to the Internet is enabled to be performed via BGP signal"
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time BGP signaling control was toggled. This field is null if BGP signaling has never been enabled."
          }
        }
      }
    },
    "com.cloudflare.addressing#PrefixesBgpPrefixesGetResponseOnDemand": {
      "type": "structure",
      "members": {
        "advertised": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prefix advertisement status to the Internet. This field is only not 'null' if on demand is enabled."
          }
        },
        "advertised_modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time the advertisement status was changed. This field is only not 'null' if on demand is enabled."
          }
        },
        "on_demand_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether advertisement of the prefix to the Internet may be dynamically enabled or disabled."
          }
        },
        "on_demand_locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the advertisement status of the prefix is locked, meaning it cannot be changed."
          }
        }
      }
    },
    "com.cloudflare.addressing#PrefixesBgpPrefixesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of BGP Prefix."
          }
        },
        "asn": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Autonomous System Number (ASN) the prefix will be advertised under."
          }
        },
        "asn_prepend_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of times to prepend the Cloudflare ASN to the BGP AS-Path attribute"
          }
        },
        "auto_advertise_withdraw": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines if Cloudflare advertises a BYOIP BGP prefix even when there is no matching BGP prefix in the Magic routing table. When true, Cloudflare will automatically withdraw the BGP prefix when there are no matching BGP routes, and will resume advertising when there is at least one matching BGP route."
          }
        },
        "bgp_signal_opts": {
          "target": "com.cloudflare.addressing#PrefixesBgpPrefixesGetResponseBgpSignalOpts"
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Prefix in Classless Inter-Domain Routing format."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "modified_at": {
          "target": "smithy.api#String"
        },
        "on_demand": {
          "target": "com.cloudflare.addressing#PrefixesBgpPrefixesGetResponseOnDemand"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.addressing#PrefixesBgpPrefixesGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#PrefixesBgpPrefixesGetRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#PrefixesBgpPrefixesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/addressing/prefixes/{prefix_id}/bgp/prefixes/{bgp_prefix_id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a single BGP Prefix according to its identifier",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.addressing#PrefixesBgpPrefixesListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#PrefixesBgpPrefixesListResultItemBgpSignalOpts": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether control of advertisement of the prefix to the Internet is enabled to be performed via BGP signal"
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time BGP signaling control was toggled. This field is null if BGP signaling has never been enabled."
          }
        }
      }
    },
    "com.cloudflare.addressing#PrefixesBgpPrefixesListResultItemOnDemand": {
      "type": "structure",
      "members": {
        "advertised": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prefix advertisement status to the Internet. This field is only not 'null' if on demand is enabled."
          }
        },
        "advertised_modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time the advertisement status was changed. This field is only not 'null' if on demand is enabled."
          }
        },
        "on_demand_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether advertisement of the prefix to the Internet may be dynamically enabled or disabled."
          }
        },
        "on_demand_locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the advertisement status of the prefix is locked, meaning it cannot be changed."
          }
        }
      }
    },
    "com.cloudflare.addressing#PrefixesBgpPrefixesListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of BGP Prefix."
          }
        },
        "asn": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Autonomous System Number (ASN) the prefix will be advertised under."
          }
        },
        "asn_prepend_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of times to prepend the Cloudflare ASN to the BGP AS-Path attribute"
          }
        },
        "auto_advertise_withdraw": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines if Cloudflare advertises a BYOIP BGP prefix even when there is no matching BGP prefix in the Magic routing table. When true, Cloudflare will automatically withdraw the BGP prefix when there are no matching BGP routes, and will resume advertising when there is at least one matching BGP route."
          }
        },
        "bgp_signal_opts": {
          "target": "com.cloudflare.addressing#PrefixesBgpPrefixesListResultItemBgpSignalOpts"
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Prefix in Classless Inter-Domain Routing format."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "modified_at": {
          "target": "smithy.api#String"
        },
        "on_demand": {
          "target": "com.cloudflare.addressing#PrefixesBgpPrefixesListResultItemOnDemand"
        }
      }
    },
    "com.cloudflare.addressing#PrefixesBgpPrefixesListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.addressing#PrefixesBgpPrefixesListResultItem"
      }
    },
    "com.cloudflare.addressing#PrefixesBgpPrefixesListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.addressing#PrefixesBgpPrefixesListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.addressing#PrefixesBgpPrefixesList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#PrefixesBgpPrefixesListRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#PrefixesBgpPrefixesListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/addressing/prefixes/{prefix_id}/bgp/prefixes",
          "code": 200
        },
        "smithy.api#documentation": "List all BGP Prefixes within the specified IP Prefix. BGP Prefixes are used to control which specific subnets are advertised to the Internet. It is possible to advertise subnets more specific than an IP Prefix by creating more specific BGP Prefixes.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.addressing#PrefixesDelegationsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Prefix in Classless Inter-Domain Routing format.",
            "smithy.api#required": {}
          }
        },
        "delegated_account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier for the account to which prefix is being delegated.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#PrefixesDelegationsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Delegation."
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Prefix in Classless Inter-Domain Routing format."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "delegated_account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier for the account to which prefix is being delegated."
          }
        },
        "modified_at": {
          "target": "smithy.api#String"
        },
        "parent_prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.addressing#PrefixesDelegationsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#PrefixesDelegationsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#PrefixesDelegationsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/addressing/prefixes/{prefix_id}/delegations",
          "code": 200
        },
        "smithy.api#documentation": "Create a new account delegation for a given IP prefix."
      }
    },
    "com.cloudflare.addressing#PrefixesDelegationsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "delegation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Delegation.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#PrefixesDelegationsDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Delegation."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.addressing#PrefixesDelegationsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#PrefixesDelegationsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#PrefixesDelegationsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/addressing/prefixes/{prefix_id}/delegations/{delegation_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an account delegation for a given IP prefix.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.addressing#PrefixesDelegationsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#PrefixesDelegationsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Delegation."
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Prefix in Classless Inter-Domain Routing format."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "delegated_account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier for the account to which prefix is being delegated."
          }
        },
        "modified_at": {
          "target": "smithy.api#String"
        },
        "parent_prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix."
          }
        }
      }
    },
    "com.cloudflare.addressing#PrefixesDelegationsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.addressing#PrefixesDelegationsListResultItem"
      }
    },
    "com.cloudflare.addressing#PrefixesDelegationsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.addressing#PrefixesDelegationsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.addressing#PrefixesDelegationsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#PrefixesDelegationsListRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#PrefixesDelegationsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/addressing/prefixes/{prefix_id}/delegations",
          "code": 200
        },
        "smithy.api#documentation": "List all delegations for a given account IP prefix.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.addressing#PrefixesServiceBindingsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Prefix in Classless Inter-Domain Routing format.",
            "smithy.api#required": {}
          }
        },
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Service on the Cloudflare network. Available services and their IDs may be found in the",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#PrefixesServiceBindingsCreateResponseProvisioningState": {
      "type": "enum",
      "members": {
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provisioning"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        }
      }
    },
    "com.cloudflare.addressing#PrefixesServiceBindingsCreateResponseProvisioning": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.cloudflare.addressing#PrefixesServiceBindingsCreateResponseProvisioningState",
          "traits": {
            "smithy.api#documentation": "When a binding has been deployed to a majority of Cloudflare datacenters, the binding will become active and can be used with its associated service."
          }
        }
      }
    },
    "com.cloudflare.addressing#PrefixesServiceBindingsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Service Binding."
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Prefix in Classless Inter-Domain Routing format."
          }
        },
        "provisioning": {
          "target": "com.cloudflare.addressing#PrefixesServiceBindingsCreateResponseProvisioning",
          "traits": {
            "smithy.api#documentation": "Status of a Service Binding's deployment to the Cloudflare network"
          }
        },
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
[...]
