{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.ai_gateway#CreateRequestLogManagementStrategy": {
      "type": "enum",
      "members": {
        "STOP_INSERTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOP_INSERTING"
          }
        },
        "DELETE_OLDEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_OLDEST"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateRequestRateLimitingTechnique": {
      "type": "enum",
      "members": {
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed"
          }
        },
        "SLIDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sliding"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateRequestRetryBackoff": {
      "type": "enum",
      "members": {
        "CONSTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "constant"
          }
        },
        "LINEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "linear"
          }
        },
        "EXPONENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exponential"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateRequestWorkersAiBillingMode": {
      "type": "enum",
      "members": {
        "POSTPAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postpaid"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "gateway id",
            "smithy.api#required": {}
          }
        },
        "cache_invalidate_on_update": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cache_ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "collect_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rate_limiting_interval": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rate_limiting_limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "authentication": {
          "target": "smithy.api#Boolean"
        },
        "log_management": {
          "target": "smithy.api#Double"
        },
        "log_management_strategy": {
          "target": "com.cloudflare.ai_gateway#CreateRequestLogManagementStrategy"
        },
        "logpush": {
          "target": "smithy.api#Boolean"
        },
        "logpush_public_key": {
          "target": "smithy.api#String"
        },
        "rate_limiting_technique": {
          "target": "com.cloudflare.ai_gateway#CreateRequestRateLimitingTechnique"
        },
        "retry_backoff": {
          "target": "com.cloudflare.ai_gateway#CreateRequestRetryBackoff",
          "traits": {
            "smithy.api#documentation": "Backoff strategy for retry delays"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Delay between retry attempts in milliseconds (0-5000)"
          }
        },
        "retry_max_attempts": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of retry attempts for failed requests (1-5)"
          }
        },
        "workers_ai_billing_mode": {
          "target": "com.cloudflare.ai_gateway#CreateRequestWorkersAiBillingMode",
          "traits": {
            "smithy.api#documentation": "Controls how Workers AI inference calls routed through this gateway are billed. Only 'postpaid' is currently supported."
          }
        },
        "zdr": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseDlpCase0Action": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        },
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseDlpCase0ProfilesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseDlpCase0": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.cloudflare.ai_gateway#CreateResponseDlpCase0Action",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "profiles": {
          "target": "com.cloudflare.ai_gateway#CreateResponseDlpCase0ProfilesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseDlpCase1PoliciesItemAction": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseDlpCase1PoliciesItemCheckItem": {
      "type": "enum",
      "members": {
        "REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUEST"
          }
        },
        "RESPONSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESPONSE"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseDlpCase1PoliciesItemCheckList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_gateway#CreateResponseDlpCase1PoliciesItemCheckItem"
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseDlpCase1PoliciesItemProfilesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseDlpCase1PoliciesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.ai_gateway#CreateResponseDlpCase1PoliciesItemAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "check": {
          "target": "com.cloudflare.ai_gateway#CreateResponseDlpCase1PoliciesItemCheckList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "profiles": {
          "target": "com.cloudflare.ai_gateway#CreateResponseDlpCase1PoliciesItemProfilesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseDlpCase1PoliciesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_gateway#CreateResponseDlpCase1PoliciesItem"
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseDlpCase1": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "policies": {
          "target": "com.cloudflare.ai_gateway#CreateResponseDlpCase1PoliciesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseDlp": {
      "type": "union",
      "members": {
        "CreateResponseDlpCase0": {
          "target": "com.cloudflare.ai_gateway#CreateResponseDlpCase0"
        },
        "CreateResponseDlpCase1": {
          "target": "com.cloudflare.ai_gateway#CreateResponseDlpCase1"
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptP1": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS1": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS10": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS11": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS12": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS13": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS2": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS3": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS4": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS5": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS6": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS7": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS8": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS9": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsPrompt": {
      "type": "structure",
      "members": {
        "P1": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptP1"
        },
        "S1": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS1"
        },
        "S10": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS10"
        },
        "S11": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS11"
        },
        "S12": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS12"
        },
        "S13": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS13"
        },
        "S2": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS2"
        },
        "S3": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS3"
        },
        "S4": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS4"
        },
        "S5": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS5"
        },
        "S6": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS6"
        },
        "S7": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS7"
        },
        "S8": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS8"
        },
        "S9": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsPromptS9"
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseP1": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS1": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS10": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS11": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS12": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS13": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS2": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS3": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS4": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS5": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS6": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS7": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS8": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS9": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponse": {
      "type": "structure",
      "members": {
        "P1": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseP1"
        },
        "S1": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS1"
        },
        "S10": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS10"
        },
        "S11": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS11"
        },
        "S12": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS12"
        },
        "S13": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS13"
        },
        "S2": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS2"
        },
        "S3": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS3"
        },
        "S4": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS4"
        },
        "S5": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS5"
        },
        "S6": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS6"
        },
        "S7": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS7"
        },
        "S8": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS8"
        },
        "S9": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponseS9"
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseGuardrails": {
      "type": "structure",
      "members": {
        "prompt": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsPrompt",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "response": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrailsResponse",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseLogManagementStrategy": {
      "type": "enum",
      "members": {
        "STOP_INSERTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOP_INSERTING"
          }
        },
        "DELETE_OLDEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_OLDEST"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseOtelItemHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseOtelItemContentType": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "PROTOBUF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "protobuf"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseOtelItem": {
      "type": "structure",
      "members": {
        "headers": {
          "target": "com.cloudflare.ai_gateway#CreateResponseOtelItemHeadersMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "authorization": {
          "target": "smithy.api#String"
        },
        "content_type": {
          "target": "com.cloudflare.ai_gateway#CreateResponseOtelItemContentType"
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseOtelList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_gateway#CreateResponseOtelItem"
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseRateLimitingTechnique": {
      "type": "enum",
      "members": {
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed"
          }
        },
        "SLIDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sliding"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseRetryBackoff": {
      "type": "enum",
      "members": {
        "CONSTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "constant"
          }
        },
        "LINEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "linear"
          }
        },
        "EXPONENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exponential"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemLimitType": {
      "type": "enum",
      "members": {
        "COST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cost"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemMetadataModeMode": {
      "type": "enum",
      "members": {
        "PARTITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "partition"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemMetadataMode": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemMetadataModeMode",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemMetadataCase1Mode": {
      "type": "enum",
      "members": {
        "FILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "filter"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemMetadataCase1ValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemMetadataCase1": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemMetadataCase1Mode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemMetadataCase1ValuesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemMetadata": {
      "type": "union",
      "members": {
        "Mode": {
          "target": "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemMetadataMode"
        },
        "CreateResponseSpendLimitsRulesItemMetadataCase1": {
          "target": "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemMetadataCase1"
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemModelMode": {
      "type": "enum",
      "members": {
        "FILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "filter"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemModelValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemModel": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemModelMode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemModelValuesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemProviderMode": {
      "type": "enum",
      "members": {
        "FILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "filter"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemProviderValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemProvider": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemProviderMode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemProviderValuesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemTechnique": {
      "type": "enum",
      "members": {
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed"
          }
        },
        "SLIDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sliding"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItem": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "limitType": {
          "target": "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemLimitType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "window": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "metadata": {
          "target": "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemMetadata"
        },
        "model": {
          "target": "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemModel"
        },
        "provider": {
          "target": "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemProvider"
        },
        "technique": {
          "target": "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItemTechnique"
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesItem"
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseSpendLimits": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "rules": {
          "target": "com.cloudflare.ai_gateway#CreateResponseSpendLimitsRulesList"
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseStripeUsageEventsItem": {
      "type": "structure",
      "members": {
        "payload": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseStripeUsageEventsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_gateway#CreateResponseStripeUsageEventsItem"
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseStripe": {
      "type": "structure",
      "members": {
        "authorization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "usage_events": {
          "target": "com.cloudflare.ai_gateway#CreateResponseStripeUsageEventsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponseWorkersAiBillingMode": {
      "type": "enum",
      "members": {
        "POSTPAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postpaid"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#CreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "gateway id",
            "smithy.api#required": {}
          }
        },
        "cache_invalidate_on_update": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cache_ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "collect_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rate_limiting_interval": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rate_limiting_limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "authentication": {
          "target": "smithy.api#Boolean"
        },
        "dlp": {
          "target": "com.cloudflare.ai_gateway#CreateResponseDlp"
        },
        "guardrails": {
          "target": "com.cloudflare.ai_gateway#CreateResponseGuardrails"
        },
        "is_default": {
          "target": "smithy.api#Boolean"
        },
        "log_management": {
          "target": "smithy.api#Double"
        },
        "log_management_strategy": {
          "target": "com.cloudflare.ai_gateway#CreateResponseLogManagementStrategy"
        },
        "logpush": {
          "target": "smithy.api#Boolean"
        },
        "logpush_public_key": {
          "target": "smithy.api#String"
        },
        "otel": {
          "target": "com.cloudflare.ai_gateway#CreateResponseOtelList"
        },
        "rate_limiting_technique": {
          "target": "com.cloudflare.ai_gateway#CreateResponseRateLimitingTechnique"
        },
        "retry_backoff": {
          "target": "com.cloudflare.ai_gateway#CreateResponseRetryBackoff",
          "traits": {
            "smithy.api#documentation": "Backoff strategy for retry delays"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Delay between retry attempts in milliseconds (0-5000)"
          }
        },
        "retry_max_attempts": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of retry attempts for failed requests (1-5)"
          }
        },
        "spend_limits": {
          "target": "com.cloudflare.ai_gateway#CreateResponseSpendLimits"
        },
        "store_id": {
          "target": "smithy.api#String"
        },
        "stripe": {
          "target": "com.cloudflare.ai_gateway#CreateResponseStripe"
        },
        "workers_ai_billing_mode": {
          "target": "com.cloudflare.ai_gateway#CreateResponseWorkersAiBillingMode",
          "traits": {
            "smithy.api#documentation": "Controls how Workers AI inference calls routed through this gateway are billed. Only 'postpaid' is currently supported."
          }
        },
        "zdr": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ai_gateway#Create": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ai_gateway#CreateRequest"
      },
      "output": {
        "target": "com.cloudflare.ai_gateway#CreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/ai-gateway/gateways",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new AI Gateway."
      }
    },
    "com.cloudflare.ai_gateway#DeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "gateway id",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseDlpCase0Action": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        },
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseDlpCase0ProfilesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseDlpCase0": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseDlpCase0Action",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "profiles": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseDlpCase0ProfilesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseDlpCase1PoliciesItemAction": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseDlpCase1PoliciesItemCheckItem": {
      "type": "enum",
      "members": {
        "REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUEST"
          }
        },
        "RESPONSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESPONSE"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseDlpCase1PoliciesItemCheckList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_gateway#DeleteResponseDlpCase1PoliciesItemCheckItem"
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseDlpCase1PoliciesItemProfilesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseDlpCase1PoliciesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseDlpCase1PoliciesItemAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "check": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseDlpCase1PoliciesItemCheckList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "profiles": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseDlpCase1PoliciesItemProfilesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseDlpCase1PoliciesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_gateway#DeleteResponseDlpCase1PoliciesItem"
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseDlpCase1": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "policies": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseDlpCase1PoliciesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseDlp": {
      "type": "union",
      "members": {
        "DeleteResponseDlpCase0": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseDlpCase0"
        },
        "DeleteResponseDlpCase1": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseDlpCase1"
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptP1": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS1": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS10": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS11": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS12": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS13": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS2": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS3": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS4": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS5": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS6": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS7": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS8": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS9": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPrompt": {
      "type": "structure",
      "members": {
        "P1": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptP1"
        },
        "S1": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS1"
        },
        "S10": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS10"
        },
        "S11": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS11"
        },
        "S12": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS12"
        },
        "S13": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS13"
        },
        "S2": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS2"
        },
        "S3": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS3"
        },
        "S4": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS4"
        },
        "S5": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS5"
        },
        "S6": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS6"
        },
        "S7": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS7"
        },
        "S8": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS8"
        },
        "S9": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPromptS9"
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseP1": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS1": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS10": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS11": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS12": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS13": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS2": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS3": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS4": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS5": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS6": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS7": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS8": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS9": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponse": {
      "type": "structure",
      "members": {
        "P1": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseP1"
        },
        "S1": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS1"
        },
        "S10": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS10"
        },
        "S11": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS11"
        },
        "S12": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS12"
        },
        "S13": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS13"
        },
        "S2": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS2"
        },
        "S3": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS3"
        },
        "S4": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS4"
        },
        "S5": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS5"
        },
        "S6": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS6"
        },
        "S7": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS7"
        },
        "S8": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS8"
        },
        "S9": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponseS9"
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseGuardrails": {
      "type": "structure",
      "members": {
        "prompt": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsPrompt",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "response": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrailsResponse",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseLogManagementStrategy": {
      "type": "enum",
      "members": {
        "STOP_INSERTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOP_INSERTING"
          }
        },
        "DELETE_OLDEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_OLDEST"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseOtelItemHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseOtelItemContentType": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "PROTOBUF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "protobuf"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseOtelItem": {
      "type": "structure",
      "members": {
        "headers": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseOtelItemHeadersMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "authorization": {
          "target": "smithy.api#String"
        },
        "content_type": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseOtelItemContentType"
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseOtelList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_gateway#DeleteResponseOtelItem"
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseRateLimitingTechnique": {
      "type": "enum",
      "members": {
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed"
          }
        },
        "SLIDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sliding"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseRetryBackoff": {
      "type": "enum",
      "members": {
        "CONSTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "constant"
          }
        },
        "LINEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "linear"
          }
        },
        "EXPONENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exponential"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemLimitType": {
      "type": "enum",
      "members": {
        "COST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cost"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemMetadataModeMode": {
      "type": "enum",
      "members": {
        "PARTITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "partition"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemMetadataMode": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemMetadataModeMode",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemMetadataCase1Mode": {
      "type": "enum",
      "members": {
        "FILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "filter"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemMetadataCase1ValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemMetadataCase1": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemMetadataCase1Mode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemMetadataCase1ValuesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemMetadata": {
      "type": "union",
      "members": {
        "Mode": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemMetadataMode"
        },
        "DeleteResponseSpendLimitsRulesItemMetadataCase1": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemMetadataCase1"
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemModelMode": {
      "type": "enum",
      "members": {
        "FILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "filter"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemModelValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemModel": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemModelMode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemModelValuesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemProviderMode": {
      "type": "enum",
      "members": {
        "FILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "filter"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemProviderValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemProvider": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemProviderMode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemProviderValuesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemTechnique": {
      "type": "enum",
      "members": {
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed"
          }
        },
        "SLIDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sliding"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItem": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "limitType": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemLimitType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "window": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "metadata": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemMetadata"
        },
        "model": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemModel"
        },
        "provider": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemProvider"
        },
        "technique": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItemTechnique"
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesItem"
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseSpendLimits": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "rules": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseSpendLimitsRulesList"
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseStripeUsageEventsItem": {
      "type": "structure",
      "members": {
        "payload": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseStripeUsageEventsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_gateway#DeleteResponseStripeUsageEventsItem"
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseStripe": {
      "type": "structure",
      "members": {
        "authorization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "usage_events": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseStripeUsageEventsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponseWorkersAiBillingMode": {
      "type": "enum",
      "members": {
        "POSTPAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postpaid"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#DeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "gateway id",
            "smithy.api#required": {}
          }
        },
        "cache_invalidate_on_update": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cache_ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "collect_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rate_limiting_interval": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rate_limiting_limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "authentication": {
          "target": "smithy.api#Boolean"
        },
        "dlp": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseDlp"
        },
        "guardrails": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseGuardrails"
        },
        "is_default": {
          "target": "smithy.api#Boolean"
        },
        "log_management": {
          "target": "smithy.api#Double"
        },
        "log_management_strategy": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseLogManagementStrategy"
        },
        "logpush": {
          "target": "smithy.api#Boolean"
        },
        "logpush_public_key": {
          "target": "smithy.api#String"
        },
        "otel": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseOtelList"
        },
        "rate_limiting_technique": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseRateLimitingTechnique"
        },
        "retry_backoff": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseRetryBackoff",
          "traits": {
            "smithy.api#documentation": "Backoff strategy for retry delays"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Delay between retry attempts in milliseconds (0-5000)"
          }
        },
        "retry_max_attempts": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of retry attempts for failed requests (1-5)"
          }
        },
        "spend_limits": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseSpendLimits"
        },
        "store_id": {
          "target": "smithy.api#String"
        },
        "stripe": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseStripe"
        },
        "workers_ai_billing_mode": {
          "target": "com.cloudflare.ai_gateway#DeleteResponseWorkersAiBillingMode",
          "traits": {
            "smithy.api#documentation": "Controls how Workers AI inference calls routed through this gateway are billed. Only 'postpaid' is currently supported."
          }
        },
        "zdr": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ai_gateway#Delete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ai_gateway#DeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.ai_gateway#DeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/ai-gateway/gateways/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes an AI Gateway dataset.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.ai_gateway#GetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "gateway id",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ai_gateway#GetResponseDlpCase0Action": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        },
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseDlpCase0ProfilesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_gateway#GetResponseDlpCase0": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.cloudflare.ai_gateway#GetResponseDlpCase0Action",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "profiles": {
          "target": "com.cloudflare.ai_gateway#GetResponseDlpCase0ProfilesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseDlpCase1PoliciesItemAction": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseDlpCase1PoliciesItemCheckItem": {
      "type": "enum",
      "members": {
        "REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUEST"
          }
        },
        "RESPONSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESPONSE"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseDlpCase1PoliciesItemCheckList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_gateway#GetResponseDlpCase1PoliciesItemCheckItem"
      }
    },
    "com.cloudflare.ai_gateway#GetResponseDlpCase1PoliciesItemProfilesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_gateway#GetResponseDlpCase1PoliciesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.ai_gateway#GetResponseDlpCase1PoliciesItemAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "check": {
          "target": "com.cloudflare.ai_gateway#GetResponseDlpCase1PoliciesItemCheckList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "profiles": {
          "target": "com.cloudflare.ai_gateway#GetResponseDlpCase1PoliciesItemProfilesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseDlpCase1PoliciesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_gateway#GetResponseDlpCase1PoliciesItem"
      }
    },
    "com.cloudflare.ai_gateway#GetResponseDlpCase1": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "policies": {
          "target": "com.cloudflare.ai_gateway#GetResponseDlpCase1PoliciesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseDlp": {
      "type": "union",
      "members": {
        "GetResponseDlpCase0": {
          "target": "com.cloudflare.ai_gateway#GetResponseDlpCase0"
        },
        "GetResponseDlpCase1": {
          "target": "com.cloudflare.ai_gateway#GetResponseDlpCase1"
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptP1": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS1": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS10": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS11": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS12": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS13": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS2": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS3": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS4": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS5": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS6": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS7": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS8": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS9": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsPrompt": {
      "type": "structure",
      "members": {
        "P1": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptP1"
        },
        "S1": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS1"
        },
        "S10": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS10"
        },
        "S11": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS11"
        },
        "S12": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS12"
        },
        "S13": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS13"
        },
        "S2": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS2"
        },
        "S3": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS3"
        },
        "S4": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS4"
        },
        "S5": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS5"
        },
        "S6": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS6"
        },
        "S7": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS7"
        },
        "S8": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS8"
        },
        "S9": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsPromptS9"
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseP1": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS1": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS10": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS11": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS12": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS13": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS2": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS3": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS4": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS5": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS6": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS7": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS8": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS9": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAG"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrailsResponse": {
      "type": "structure",
      "members": {
        "P1": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseP1"
        },
        "S1": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS1"
        },
        "S10": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS10"
        },
        "S11": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS11"
        },
        "S12": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS12"
        },
        "S13": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS13"
        },
        "S2": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS2"
        },
        "S3": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS3"
        },
        "S4": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS4"
        },
        "S5": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS5"
        },
        "S6": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS6"
        },
        "S7": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS7"
        },
        "S8": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS8"
        },
        "S9": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsResponseS9"
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseGuardrails": {
      "type": "structure",
      "members": {
        "prompt": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsPrompt",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "response": {
          "target": "com.cloudflare.ai_gateway#GetResponseGuardrailsResponse",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseLogManagementStrategy": {
      "type": "enum",
      "members": {
        "STOP_INSERTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOP_INSERTING"
          }
        },
        "DELETE_OLDEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_OLDEST"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseOtelItemHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_gateway#GetResponseOtelItemContentType": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "PROTOBUF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "protobuf"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseOtelItem": {
      "type": "structure",
      "members": {
        "headers": {
          "target": "com.cloudflare.ai_gateway#GetResponseOtelItemHeadersMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "authorization": {
          "target": "smithy.api#String"
        },
        "content_type": {
          "target": "com.cloudflare.ai_gateway#GetResponseOtelItemContentType"
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseOtelList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_gateway#GetResponseOtelItem"
      }
    },
    "com.cloudflare.ai_gateway#GetResponseRateLimitingTechnique": {
      "type": "enum",
      "members": {
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed"
          }
        },
        "SLIDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sliding"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseRetryBackoff": {
      "type": "enum",
      "members": {
        "CONSTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "constant"
          }
        },
        "LINEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "linear"
          }
        },
        "EXPONENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exponential"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesItemLimitType": {
      "type": "enum",
      "members": {
        "COST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cost"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesItemMetadataModeMode": {
      "type": "enum",
      "members": {
        "PARTITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "partition"
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesItemMetadataMode": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesItemMetadataModeMode",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_gateway#GetResponseSpendLimitsRulesItemMetadataCase1Mode": {
      "type": "enum",
      "members": {
        "FILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "filter"
          }
        }
      }
    },
[...]
