{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestMessagesItemContentCase1ItemCase0Type": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestMessagesItemContentCase1ItemCase0": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestMessagesItemContentCase1ItemCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestMessagesItemContentCase1ItemCase1ImageUrl": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestMessagesItemContentCase1ItemCase1Type": {
      "type": "enum",
      "members": {
        "IMAGE_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image_url"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestMessagesItemContentCase1ItemCase1": {
      "type": "structure",
      "members": {
        "image_url": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestMessagesItemContentCase1ItemCase1ImageUrl",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestMessagesItemContentCase1ItemCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestMessagesItemContentCase1Item": {
      "type": "union",
      "members": {
        "InstancesChatCompletionsRequestMessagesItemContentCase1ItemCase0": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestMessagesItemContentCase1ItemCase0"
        },
        "InstancesChatCompletionsRequestMessagesItemContentCase1ItemCase1": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestMessagesItemContentCase1ItemCase1"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestMessagesItemContentCase1List": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestMessagesItemContentCase1Item"
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestMessagesItemContent": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "InstancesChatCompletionsRequestMessagesItemContentCase1List": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestMessagesItemContentCase1List"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestMessagesItemRole": {
      "type": "enum",
      "members": {
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        },
        "DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "developer"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ASSISTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "assistant"
          }
        },
        "TOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tool"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestMessagesItem": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestMessagesItemContent",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestMessagesItemRole",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestMessagesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestMessagesItem"
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsCacheCacheThreshold": {
      "type": "enum",
      "members": {
        "SUPER_STRICT_MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "super_strict_match"
          }
        },
        "CLOSE_ENOUGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "close_enough"
          }
        },
        "FLEXIBLE_FRIEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flexible_friend"
          }
        },
        "ANYTHING_GOES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anything_goes"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsCache": {
      "type": "structure",
      "members": {
        "cache_threshold": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsCacheCacheThreshold"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsQueryRewriteModel": {
      "type": "enum",
      "members": {
        "CF_META_LLAMA_3_3_70B_INSTRUCT_FP8_FAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
          }
        },
        "CF_ZAI_ORG_GLM_4_7_FLASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/zai-org/glm-4.7-flash"
          }
        },
        "CF_META_LLAMA_3_1_8B_INSTRUCT_FAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/meta/llama-3.1-8b-instruct-fast"
          }
        },
        "CF_META_LLAMA_3_1_8B_INSTRUCT_FP8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/meta/llama-3.1-8b-instruct-fp8"
          }
        },
        "CF_META_LLAMA_4_SCOUT_17B_16E_INSTRUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/meta/llama-4-scout-17b-16e-instruct"
          }
        },
        "CF_QWEN_QWEN3_30B_A3B_FP8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/qwen/qwen3-30b-a3b-fp8"
          }
        },
        "CF_DEEPSEEK_AI_DEEPSEEK_R1_DISTILL_QWEN_32B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
          }
        },
        "CF_MOONSHOTAI_KIMI_K2_INSTRUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/moonshotai/kimi-k2-instruct"
          }
        },
        "CF_GOOGLE_GEMMA_3_12B_IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/google/gemma-3-12b-it"
          }
        },
        "CF_GOOGLE_GEMMA_4_26B_A4B_IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/google/gemma-4-26b-a4b-it"
          }
        },
        "CF_MOONSHOTAI_KIMI_K2_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/moonshotai/kimi-k2.5"
          }
        },
        "ANTHROPIC_CLAUDE_3_7_SONNET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anthropic/claude-3-7-sonnet"
          }
        },
        "ANTHROPIC_CLAUDE_SONNET_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anthropic/claude-sonnet-4"
          }
        },
        "ANTHROPIC_CLAUDE_OPUS_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anthropic/claude-opus-4"
          }
        },
        "ANTHROPIC_CLAUDE_3_5_HAIKU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anthropic/claude-3-5-haiku"
          }
        },
        "CEREBRAS_QWEN_3_235B_A22B_INSTRUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cerebras/qwen-3-235b-a22b-instruct"
          }
        },
        "CEREBRAS_QWEN_3_235B_A22B_THINKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cerebras/qwen-3-235b-a22b-thinking"
          }
        },
        "CEREBRAS_LLAMA_3_3_70B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cerebras/llama-3.3-70b"
          }
        },
        "CEREBRAS_LLAMA_4_MAVERICK_17B_128E_INSTRUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cerebras/llama-4-maverick-17b-128e-instruct"
          }
        },
        "CEREBRAS_LLAMA_4_SCOUT_17B_16E_INSTRUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cerebras/llama-4-scout-17b-16e-instruct"
          }
        },
        "CEREBRAS_GPT_OSS_120B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cerebras/gpt-oss-120b"
          }
        },
        "GOOGLE_AI_STUDIO_GEMINI_2_5_FLASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google-ai-studio/gemini-2.5-flash"
          }
        },
        "GOOGLE_AI_STUDIO_GEMINI_2_5_PRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google-ai-studio/gemini-2.5-pro"
          }
        },
        "GROK_GROK_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "grok/grok-4"
          }
        },
        "GROQ_LLAMA_3_3_70B_VERSATILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "groq/llama-3.3-70b-versatile"
          }
        },
        "GROQ_LLAMA_3_1_8B_INSTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "groq/llama-3.1-8b-instant"
          }
        },
        "OPENAI_GPT_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openai/gpt-5"
          }
        },
        "OPENAI_GPT_5_MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openai/gpt-5-mini"
          }
        },
        "OPENAI_GPT_5_NANO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openai/gpt-5-nano"
          }
        },
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsQueryRewrite": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "model": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsQueryRewriteModel"
        },
        "rewrite_prompt": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsRerankingModel": {
      "type": "enum",
      "members": {
        "CF_BAAI_BGE_RERANKER_BASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/baai/bge-reranker-base"
          }
        },
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsReranking": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "match_threshold": {
          "target": "smithy.api#Double"
        },
        "model": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsRerankingModel"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsRetrievalBoostByItemDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        },
        "EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exists"
          }
        },
        "NOT_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_exists"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsRetrievalBoostByItem": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Metadata field name to boost by. Use 'timestamp' for document freshness, or any custom_metadata field. Numeric and datetime fields support all four directions (asc, desc, exists, not_exists); text/boolean fields only support exists/not_exists.",
            "smithy.api#required": {}
          }
        },
        "direction": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsRetrievalBoostByItemDirection",
          "traits": {
            "smithy.api#documentation": "Boost direction. 'desc' = higher values rank higher (e.g. newer timestamps). 'asc' = lower values rank higher. 'exists' = boost chunks that have the field. 'not_exists' = boost chunks that lack the field. Optional — defaults to 'asc' for numeric/datetime fields, 'exists' for text/boolean fields."
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsRetrievalBoostByList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsRetrievalBoostByItem"
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsRetrievalFiltersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsRetrievalFusionMethod": {
      "type": "enum",
      "members": {
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        },
        "RRF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rrf"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsRetrievalKeywordMatchMode": {
      "type": "enum",
      "members": {
        "AND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "and"
          }
        },
        "OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "or"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsRetrievalRetrievalType": {
      "type": "enum",
      "members": {
        "VECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vector"
          }
        },
        "KEYWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "keyword"
          }
        },
        "HYBRID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hybrid"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsRetrieval": {
      "type": "structure",
      "members": {
        "boost_by": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsRetrievalBoostByList",
          "traits": {
            "smithy.api#documentation": "Metadata fields to boost search results by. Overrides the instance-level boost_by config. Direction defaults to 'asc' for numeric/datetime fields, 'exists' for text/boolean fields. Fields must match 'timestamp' or a defined custom_metadata field."
          }
        },
        "context_expansion": {
          "target": "smithy.api#Double"
        },
        "filters": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsRetrievalFiltersMap"
        },
        "fusion_method": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsRetrievalFusionMethod"
        },
        "keyword_match_mode": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsRetrievalKeywordMatchMode",
          "traits": {
            "smithy.api#documentation": "Controls which documents are candidates for BM25 scoring. 'and' restricts candidates to documents containing all query terms; 'or' includes any document containing at least one term, ranked by BM25 relevance. When omitted, falls back to the instance-level retrieval_options.keyword_match_mode, then to 'and'."
          }
        },
        "match_threshold": {
          "target": "smithy.api#Double"
        },
        "max_num_results": {
          "target": "smithy.api#Double"
        },
        "retrieval_type": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsRetrievalRetrievalType"
        },
        "return_on_failure": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptions": {
      "type": "structure",
      "members": {
        "cache": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsCache"
        },
        "query_rewrite": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsQueryRewrite"
        },
        "reranking": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsReranking"
        },
        "retrieval": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptionsRetrieval"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequestModel": {
      "type": "enum",
      "members": {
        "CF_META_LLAMA_3_3_70B_INSTRUCT_FP8_FAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
          }
        },
        "CF_ZAI_ORG_GLM_4_7_FLASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/zai-org/glm-4.7-flash"
          }
        },
        "CF_META_LLAMA_3_1_8B_INSTRUCT_FAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/meta/llama-3.1-8b-instruct-fast"
          }
        },
        "CF_META_LLAMA_3_1_8B_INSTRUCT_FP8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/meta/llama-3.1-8b-instruct-fp8"
          }
        },
        "CF_META_LLAMA_4_SCOUT_17B_16E_INSTRUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/meta/llama-4-scout-17b-16e-instruct"
          }
        },
        "CF_QWEN_QWEN3_30B_A3B_FP8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/qwen/qwen3-30b-a3b-fp8"
          }
        },
        "CF_DEEPSEEK_AI_DEEPSEEK_R1_DISTILL_QWEN_32B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
          }
        },
        "CF_MOONSHOTAI_KIMI_K2_INSTRUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/moonshotai/kimi-k2-instruct"
          }
        },
        "CF_GOOGLE_GEMMA_3_12B_IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/google/gemma-3-12b-it"
          }
        },
        "CF_GOOGLE_GEMMA_4_26B_A4B_IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/google/gemma-4-26b-a4b-it"
          }
        },
        "CF_MOONSHOTAI_KIMI_K2_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/moonshotai/kimi-k2.5"
          }
        },
        "ANTHROPIC_CLAUDE_3_7_SONNET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anthropic/claude-3-7-sonnet"
          }
        },
        "ANTHROPIC_CLAUDE_SONNET_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anthropic/claude-sonnet-4"
          }
        },
        "ANTHROPIC_CLAUDE_OPUS_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anthropic/claude-opus-4"
          }
        },
        "ANTHROPIC_CLAUDE_3_5_HAIKU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anthropic/claude-3-5-haiku"
          }
        },
        "CEREBRAS_QWEN_3_235B_A22B_INSTRUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cerebras/qwen-3-235b-a22b-instruct"
          }
        },
        "CEREBRAS_QWEN_3_235B_A22B_THINKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cerebras/qwen-3-235b-a22b-thinking"
          }
        },
        "CEREBRAS_LLAMA_3_3_70B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cerebras/llama-3.3-70b"
          }
        },
        "CEREBRAS_LLAMA_4_MAVERICK_17B_128E_INSTRUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cerebras/llama-4-maverick-17b-128e-instruct"
          }
        },
        "CEREBRAS_LLAMA_4_SCOUT_17B_16E_INSTRUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cerebras/llama-4-scout-17b-16e-instruct"
          }
        },
        "CEREBRAS_GPT_OSS_120B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cerebras/gpt-oss-120b"
          }
        },
        "GOOGLE_AI_STUDIO_GEMINI_2_5_FLASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google-ai-studio/gemini-2.5-flash"
          }
        },
        "GOOGLE_AI_STUDIO_GEMINI_2_5_PRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google-ai-studio/gemini-2.5-pro"
          }
        },
        "GROK_GROK_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "grok/grok-4"
          }
        },
        "GROQ_LLAMA_3_3_70B_VERSATILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "groq/llama-3.3-70b-versatile"
          }
        },
        "GROQ_LLAMA_3_1_8B_INSTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "groq/llama-3.1-8b-instant"
          }
        },
        "OPENAI_GPT_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openai/gpt-5"
          }
        },
        "OPENAI_GPT_5_MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openai/gpt-5-mini"
          }
        },
        "OPENAI_GPT_5_NANO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openai/gpt-5-nano"
          }
        },
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "AI Search instance ID. Lowercase alphanumeric, hyphens, and underscores.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "messages": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestMessagesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ai_search_options": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestAiSearchOptions"
        },
        "model": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequestModel"
        },
        "stream": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseChoicesItemMessageContentCase1ItemCase0Type": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseChoicesItemMessageContentCase1ItemCase0": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseChoicesItemMessageContentCase1ItemCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseChoicesItemMessageContentCase1ItemCase1ImageUrl": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseChoicesItemMessageContentCase1ItemCase1Type": {
      "type": "enum",
      "members": {
        "IMAGE_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image_url"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseChoicesItemMessageContentCase1ItemCase1": {
      "type": "structure",
      "members": {
        "image_url": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseChoicesItemMessageContentCase1ItemCase1ImageUrl",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseChoicesItemMessageContentCase1ItemCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseChoicesItemMessageContentCase1Item": {
      "type": "union",
      "members": {
        "InstancesChatCompletionsResponseChoicesItemMessageContentCase1ItemCase0": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseChoicesItemMessageContentCase1ItemCase0"
        },
        "InstancesChatCompletionsResponseChoicesItemMessageContentCase1ItemCase1": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseChoicesItemMessageContentCase1ItemCase1"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseChoicesItemMessageContentCase1List": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseChoicesItemMessageContentCase1Item"
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseChoicesItemMessageContent": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "InstancesChatCompletionsResponseChoicesItemMessageContentCase1List": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseChoicesItemMessageContentCase1List"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseChoicesItemMessageRole": {
      "type": "enum",
      "members": {
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        },
        "DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "developer"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ASSISTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "assistant"
          }
        },
        "TOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tool"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseChoicesItemMessage": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseChoicesItemMessageContent",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseChoicesItemMessageRole",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseChoicesItem": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseChoicesItemMessage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "index": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseChoicesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseChoicesItem"
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseChunksItemItemMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseChunksItemItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseChunksItemItemMetadataMap"
        },
        "timestamp": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseChunksItemScoringDetailsFusionMethod": {
      "type": "enum",
      "members": {
        "RRF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rrf"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseChunksItemScoringDetails": {
      "type": "structure",
      "members": {
        "fusion_method": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseChunksItemScoringDetailsFusionMethod"
        },
        "keyword_rank": {
          "target": "smithy.api#Double"
        },
        "keyword_score": {
          "target": "smithy.api#Double"
        },
        "reranking_score": {
          "target": "smithy.api#Double"
        },
        "vector_rank": {
          "target": "smithy.api#Double"
        },
        "vector_score": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseChunksItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "item": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseChunksItemItem"
        },
        "scoring_details": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseChunksItemScoringDetails"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponseChunksList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseChunksItem"
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletionsResponse": {
      "type": "structure",
      "members": {
        "choices": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseChoicesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "chunks": {
          "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponseChunksList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String"
        },
        "model": {
          "target": "smithy.api#String"
        },
        "object": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.ai_search#InstancesChatCompletions": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ai_search#InstancesChatCompletionsRequest"
      },
      "output": {
        "target": "com.cloudflare.ai_search#InstancesChatCompletionsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/ai-search/instances/{id}/chat/completions",
          "code": 200
        },
        "smithy.api#documentation": "Performs a chat completion request against an AI Search instance, using indexed content as context for generating responses."
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestAiSearchModel": {
      "type": "enum",
      "members": {
        "CF_META_LLAMA_3_3_70B_INSTRUCT_FP8_FAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
          }
        },
        "CF_ZAI_ORG_GLM_4_7_FLASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/zai-org/glm-4.7-flash"
          }
        },
        "CF_META_LLAMA_3_1_8B_INSTRUCT_FAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/meta/llama-3.1-8b-instruct-fast"
          }
        },
        "CF_META_LLAMA_3_1_8B_INSTRUCT_FP8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/meta/llama-3.1-8b-instruct-fp8"
          }
        },
        "CF_META_LLAMA_4_SCOUT_17B_16E_INSTRUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/meta/llama-4-scout-17b-16e-instruct"
          }
        },
        "CF_QWEN_QWEN3_30B_A3B_FP8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/qwen/qwen3-30b-a3b-fp8"
          }
        },
        "CF_DEEPSEEK_AI_DEEPSEEK_R1_DISTILL_QWEN_32B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
          }
        },
        "CF_MOONSHOTAI_KIMI_K2_INSTRUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/moonshotai/kimi-k2-instruct"
          }
        },
        "CF_GOOGLE_GEMMA_3_12B_IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/google/gemma-3-12b-it"
          }
        },
        "CF_GOOGLE_GEMMA_4_26B_A4B_IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/google/gemma-4-26b-a4b-it"
          }
        },
        "CF_MOONSHOTAI_KIMI_K2_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/moonshotai/kimi-k2.5"
          }
        },
        "ANTHROPIC_CLAUDE_3_7_SONNET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anthropic/claude-3-7-sonnet"
          }
        },
        "ANTHROPIC_CLAUDE_SONNET_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anthropic/claude-sonnet-4"
          }
        },
        "ANTHROPIC_CLAUDE_OPUS_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anthropic/claude-opus-4"
          }
        },
        "ANTHROPIC_CLAUDE_3_5_HAIKU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anthropic/claude-3-5-haiku"
          }
        },
        "CEREBRAS_QWEN_3_235B_A22B_INSTRUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cerebras/qwen-3-235b-a22b-instruct"
          }
        },
        "CEREBRAS_QWEN_3_235B_A22B_THINKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cerebras/qwen-3-235b-a22b-thinking"
          }
        },
        "CEREBRAS_LLAMA_3_3_70B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cerebras/llama-3.3-70b"
          }
        },
        "CEREBRAS_LLAMA_4_MAVERICK_17B_128E_INSTRUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cerebras/llama-4-maverick-17b-128e-instruct"
          }
        },
        "CEREBRAS_LLAMA_4_SCOUT_17B_16E_INSTRUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cerebras/llama-4-scout-17b-16e-instruct"
          }
        },
        "CEREBRAS_GPT_OSS_120B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cerebras/gpt-oss-120b"
          }
        },
        "GOOGLE_AI_STUDIO_GEMINI_2_5_FLASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google-ai-studio/gemini-2.5-flash"
          }
        },
        "GOOGLE_AI_STUDIO_GEMINI_2_5_PRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google-ai-studio/gemini-2.5-pro"
          }
        },
        "GROK_GROK_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "grok/grok-4"
          }
        },
        "GROQ_LLAMA_3_3_70B_VERSATILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "groq/llama-3.3-70b-versatile"
          }
        },
        "GROQ_LLAMA_3_1_8B_INSTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "groq/llama-3.1-8b-instant"
          }
        },
        "OPENAI_GPT_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openai/gpt-5"
          }
        },
        "OPENAI_GPT_5_MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openai/gpt-5-mini"
          }
        },
        "OPENAI_GPT_5_NANO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openai/gpt-5-nano"
          }
        },
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestCacheThreshold": {
      "type": "enum",
      "members": {
        "SUPER_STRICT_MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "super_strict_match"
          }
        },
        "CLOSE_ENOUGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "close_enough"
          }
        },
        "FLEXIBLE_FRIEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flexible_friend"
          }
        },
        "ANYTHING_GOES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anything_goes"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestCacheTtl": {
      "type": "intEnum",
      "members": {
        "_600": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 600
          }
        },
        "_1800": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1800
          }
        },
        "_3600": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3600
          }
        },
        "_7200": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 7200
          }
        },
        "_21600": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 21600
          }
        },
        "_43200": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 43200
          }
        },
        "_86400": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 86400
          }
        },
        "_172800": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 172800
          }
        },
        "_259200": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 259200
          }
        },
        "_518400": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 518400
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestCustomMetadataItemDataType": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean"
          }
        },
        "DATETIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "datetime"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestCustomMetadataItem": {
      "type": "structure",
      "members": {
        "data_type": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestCustomMetadataItemDataType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestCustomMetadataList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_search#InstancesCreateRequestCustomMetadataItem"
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestEmbeddingModel": {
      "type": "enum",
      "members": {
        "CF_QWEN_QWEN3_EMBEDDING_0_6B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/qwen/qwen3-embedding-0.6b"
          }
        },
        "CF_QWEN_QWEN3_VL_EMBEDDING_2B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/qwen/qwen3-vl-embedding-2b"
          }
        },
        "CF_BAAI_BGE_M3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/baai/bge-m3"
          }
        },
        "CF_BAAI_BGE_LARGE_EN_V1_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/baai/bge-large-en-v1.5"
          }
        },
        "CF_GOOGLE_EMBEDDINGGEMMA_300M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/google/embeddinggemma-300m"
          }
        },
        "GOOGLE_AI_STUDIO_GEMINI_EMBEDDING_001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google-ai-studio/gemini-embedding-001"
          }
        },
        "GOOGLE_AI_STUDIO_GEMINI_EMBEDDING_2_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google-ai-studio/gemini-embedding-2-preview"
          }
        },
        "GOOGLE_AI_STUDIO_GEMINI_EMBEDDING_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google-ai-studio/gemini-embedding-2"
          }
        },
        "OPENAI_TEXT_EMBEDDING_3_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openai/text-embedding-3-small"
          }
        },
        "OPENAI_TEXT_EMBEDDING_3_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openai/text-embedding-3-large"
          }
        },
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestFusionMethod": {
      "type": "enum",
      "members": {
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        },
        "RRF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rrf"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestIndexMethod": {
      "type": "structure",
      "members": {
        "keyword": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable keyword (BM25) storage backend.",
            "smithy.api#required": {}
          }
        },
        "vector": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable vector (embedding) storage backend.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestIndexingOptionsKeywordTokenizer": {
      "type": "enum",
      "members": {
        "PORTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "porter"
          }
        },
        "TRIGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trigram"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestIndexingOptions": {
      "type": "structure",
      "members": {
        "keyword_tokenizer": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestIndexingOptionsKeywordTokenizer",
          "traits": {
            "smithy.api#documentation": "Tokenizer used for keyword search indexing. porter provides word-level tokenization with Porter stemming (good for natural language queries). trigram enables character-level substring matching (good for partial matches, code, identifiers). Changing this triggers a full re-index. Defaults to porter."
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestMetadata": {
      "type": "structure",
      "members": {
        "created_from_aisearch_wizard": {
          "target": "smithy.api#Boolean"
        },
        "worker_domain": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestPublicEndpointParamsAuthorizedHostsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestPublicEndpointParamsChatCompletionsEndpoint": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disable chat completions endpoint for this public endpoint"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestPublicEndpointParamsCustomDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestPublicEndpointParamsMcp": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String"
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disable MCP endpoint for this public endpoint"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestPublicEndpointParamsRateLimitTechnique": {
      "type": "enum",
      "members": {
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed"
          }
        },
        "SLIDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sliding"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestPublicEndpointParamsRateLimit": {
      "type": "structure",
      "members": {
        "period_ms": {
          "target": "smithy.api#Double"
        },
        "requests": {
          "target": "smithy.api#Double"
        },
        "technique": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestPublicEndpointParamsRateLimitTechnique"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestPublicEndpointParamsSearchEndpoint": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disable search endpoint for this public endpoint"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestPublicEndpointParams": {
      "type": "structure",
      "members": {
        "authorized_hosts": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestPublicEndpointParamsAuthorizedHostsList"
        },
        "chat_completions_endpoint": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestPublicEndpointParamsChatCompletionsEndpoint"
        },
        "custom_domains": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestPublicEndpointParamsCustomDomainsList",
          "traits": {
            "smithy.api#documentation": "Custom domain hostnames that alias this public endpoint. GET and create responses return the current set; on update (PUT) this field is only echoed back when supplied in the request body, otherwise it is null (omit it to leave domains unchanged)."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "mcp": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestPublicEndpointParamsMcp"
        },
        "rate_limit": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestPublicEndpointParamsRateLimit"
        },
        "search_endpoint": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestPublicEndpointParamsSearchEndpoint"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestRerankingModel": {
      "type": "enum",
      "members": {
        "CF_BAAI_BGE_RERANKER_BASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/baai/bge-reranker-base"
          }
        },
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestRetrievalOptionsBoostByItemDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        },
        "EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exists"
          }
        },
        "NOT_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_exists"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestRetrievalOptionsBoostByItem": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Metadata field name to boost by. Use 'timestamp' for document freshness, or any custom_metadata field. Numeric and datetime fields support all four directions (asc, desc, exists, not_exists); text/boolean fields only support exists/not_exists.",
            "smithy.api#required": {}
          }
        },
        "direction": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestRetrievalOptionsBoostByItemDirection",
          "traits": {
            "smithy.api#documentation": "Boost direction. 'desc' = higher values rank higher (e.g. newer timestamps). 'asc' = lower values rank higher. 'exists' = boost chunks that have the field. 'not_exists' = boost chunks that lack the field. Optional — defaults to 'asc' for numeric/datetime fields, 'exists' for text/boolean fields."
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestRetrievalOptionsBoostByList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_search#InstancesCreateRequestRetrievalOptionsBoostByItem"
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestRetrievalOptionsKeywordMatchMode": {
      "type": "enum",
      "members": {
        "AND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "and"
          }
        },
        "OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "or"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestRetrievalOptions": {
      "type": "structure",
      "members": {
        "boost_by": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestRetrievalOptionsBoostByList",
          "traits": {
            "smithy.api#documentation": "Metadata fields to boost search results by. Each entry specifies a metadata field and an optional direction. Direction defaults to 'asc' for numeric/datetime fields and 'exists' for text/boolean fields. Fields must match 'timestamp' or a defined custom_metadata field."
          }
        },
        "keyword_match_mode": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestRetrievalOptionsKeywordMatchMode",
          "traits": {
            "smithy.api#documentation": "Controls which documents are candidates for BM25 scoring. 'and' restricts candidates to documents containing all query terms; 'or' includes any document containing at least one term, ranked by BM25 relevance. Defaults to 'and'."
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestRewriteModel": {
      "type": "enum",
      "members": {
        "CF_META_LLAMA_3_3_70B_INSTRUCT_FP8_FAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
          }
        },
        "CF_ZAI_ORG_GLM_4_7_FLASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/zai-org/glm-4.7-flash"
          }
        },
        "CF_META_LLAMA_3_1_8B_INSTRUCT_FAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/meta/llama-3.1-8b-instruct-fast"
          }
        },
        "CF_META_LLAMA_3_1_8B_INSTRUCT_FP8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/meta/llama-3.1-8b-instruct-fp8"
          }
        },
        "CF_META_LLAMA_4_SCOUT_17B_16E_INSTRUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/meta/llama-4-scout-17b-16e-instruct"
          }
        },
        "CF_QWEN_QWEN3_30B_A3B_FP8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/qwen/qwen3-30b-a3b-fp8"
          }
        },
        "CF_DEEPSEEK_AI_DEEPSEEK_R1_DISTILL_QWEN_32B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
          }
        },
        "CF_MOONSHOTAI_KIMI_K2_INSTRUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/moonshotai/kimi-k2-instruct"
          }
        },
        "CF_GOOGLE_GEMMA_3_12B_IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/google/gemma-3-12b-it"
          }
        },
        "CF_GOOGLE_GEMMA_4_26B_A4B_IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/google/gemma-4-26b-a4b-it"
          }
        },
        "CF_MOONSHOTAI_KIMI_K2_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/moonshotai/kimi-k2.5"
          }
        },
        "ANTHROPIC_CLAUDE_3_7_SONNET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anthropic/claude-3-7-sonnet"
          }
        },
        "ANTHROPIC_CLAUDE_SONNET_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anthropic/claude-sonnet-4"
          }
        },
        "ANTHROPIC_CLAUDE_OPUS_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anthropic/claude-opus-4"
          }
        },
        "ANTHROPIC_CLAUDE_3_5_HAIKU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anthropic/claude-3-5-haiku"
          }
        },
        "CEREBRAS_QWEN_3_235B_A22B_INSTRUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cerebras/qwen-3-235b-a22b-instruct"
          }
        },
        "CEREBRAS_QWEN_3_235B_A22B_THINKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cerebras/qwen-3-235b-a22b-thinking"
          }
        },
        "CEREBRAS_LLAMA_3_3_70B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cerebras/llama-3.3-70b"
          }
        },
        "CEREBRAS_LLAMA_4_MAVERICK_17B_128E_INSTRUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cerebras/llama-4-maverick-17b-128e-instruct"
          }
        },
        "CEREBRAS_LLAMA_4_SCOUT_17B_16E_INSTRUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cerebras/llama-4-scout-17b-16e-instruct"
          }
        },
        "CEREBRAS_GPT_OSS_120B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cerebras/gpt-oss-120b"
          }
        },
        "GOOGLE_AI_STUDIO_GEMINI_2_5_FLASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google-ai-studio/gemini-2.5-flash"
          }
        },
        "GOOGLE_AI_STUDIO_GEMINI_2_5_PRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google-ai-studio/gemini-2.5-pro"
          }
        },
        "GROK_GROK_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "grok/grok-4"
          }
        },
        "GROQ_LLAMA_3_3_70B_VERSATILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "groq/llama-3.3-70b-versatile"
          }
        },
        "GROQ_LLAMA_3_1_8B_INSTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "groq/llama-3.1-8b-instant"
          }
        },
        "OPENAI_GPT_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openai/gpt-5"
          }
        },
        "OPENAI_GPT_5_MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openai/gpt-5-mini"
          }
        },
        "OPENAI_GPT_5_NANO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openai/gpt-5-nano"
          }
        },
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestSourceParamsExcludeItemsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestSourceParamsIncludeItemsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestSourceParamsWebCrawlerParseOptionsContentSelectorItem": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Glob pattern to match against the page URL path. Uses standard glob syntax: * matches within a segment, ** crosses directories.",
            "smithy.api#required": {}
          }
        },
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CSS selector to extract content from pages matching the path pattern. Must not contain disallowed characters (;, `, $, {, }, ). Must target a single element; if multiple elements match, the selector is ignored and the full page is used.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestSourceParamsWebCrawlerParseOptionsContentSelectorList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_search#InstancesCreateRequestSourceParamsWebCrawlerParseOptionsContentSelectorItem"
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestSourceParamsWebCrawlerParseOptionsIncludeHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestSourceParamsWebCrawlerParseOptionsSpecificSitemapsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestSourceParamsWebCrawlerParseOptions": {
      "type": "structure",
      "members": {
        "content_selector": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestSourceParamsWebCrawlerParseOptionsContentSelectorList",
          "traits": {
            "smithy.api#documentation": "List of path-to-selector mappings for extracting specific content from crawled pages. Each entry pairs a URL glob pattern with a CSS selector. The first matching path wins. Only the matched HTML fragment is stored and indexed. Omit the field to disable content selection — empty arrays are rejected."
          }
        },
        "include_headers": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestSourceParamsWebCrawlerParseOptionsIncludeHeadersMap",
          "traits": {
            "smithy.api#documentation": "Up to 5 custom HTTP headers sent with each crawl request. Names must be RFC-7230 token characters (no spaces, colons, or control characters); values must be HTAB + printable ASCII (no CR/LF)."
          }
        },
        "include_images": {
          "target": "smithy.api#Boolean"
        },
        "specific_sitemaps": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestSourceParamsWebCrawlerParseOptionsSpecificSitemapsList",
          "traits": {
            "smithy.api#documentation": "List of specific sitemap URLs to use for crawling. Only valid when parse_type is 'sitemap'."
          }
        },
        "use_browser_rendering": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestSourceParamsWebCrawlerParseType": {
      "type": "enum",
      "members": {
        "SITEMAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sitemap"
          }
        },
        "CRAWL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "crawl"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestSourceParamsWebCrawler": {
      "type": "structure",
      "members": {
        "parse_options": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestSourceParamsWebCrawlerParseOptions"
        },
        "parse_type": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestSourceParamsWebCrawlerParseType"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestSourceParams": {
      "type": "structure",
      "members": {
        "exclude_items": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestSourceParamsExcludeItemsList",
          "traits": {
            "smithy.api#documentation": "List of path patterns to exclude. Uses micromatch glob syntax: * matches within a path segment, ** matches across path segments (e.g., /admin/** matches /admin/users and /admin/settings/advanced)"
          }
        },
        "include_items": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestSourceParamsIncludeItemsList",
          "traits": {
            "smithy.api#documentation": "List of path patterns to include. Uses micromatch glob syntax: * matches within a path segment, ** matches across path segments (e.g., /blog/** matches /blog/post and /blog/2024/post)"
          }
        },
        "prefix": {
          "target": "smithy.api#String"
        },
        "r2_jurisdiction": {
          "target": "smithy.api#String"
        },
        "web_crawler": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestSourceParamsWebCrawler"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestSyncInterval": {
      "type": "intEnum",
      "members": {
        "_900": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 900
          }
        },
        "_1800": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1800
          }
        },
        "_3600": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3600
          }
        },
        "_7200": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 7200
          }
        },
        "_14400": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 14400
          }
        },
        "_21600": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 21600
          }
        },
        "_43200": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 43200
          }
        },
        "_86400": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 86400
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequestType": {
      "type": "enum",
      "members": {
        "R2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2"
          }
        },
        "WEB_CRAWLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "web-crawler"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "AI Search instance ID. Lowercase alphanumeric, hyphens, and underscores.",
            "smithy.api#required": {}
          }
        },
        "ai_gateway_id": {
          "target": "smithy.api#String"
        },
        "ai_search_model": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestAiSearchModel"
        },
        "cache": {
          "target": "smithy.api#Boolean"
        },
        "cache_threshold": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestCacheThreshold"
        },
        "cache_ttl": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestCacheTtl",
          "traits": {
            "smithy.api#documentation": "Cache entry TTL in seconds. Allowed values: 600 (10min), 1800 (30min), 3600 (1h), 7200 (2h), 21600 (6h), 43200 (12h), 86400 (24h), 172800 (48h), 259200 (72h), 518400 (6d)."
          }
        },
        "chunk": {
          "target": "smithy.api#Boolean"
        },
        "chunk_overlap": {
          "target": "smithy.api#Double"
        },
        "chunk_size": {
          "target": "smithy.api#Double"
        },
        "custom_metadata": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestCustomMetadataList"
        },
        "embedding_model": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestEmbeddingModel"
        },
        "fusion_method": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestFusionMethod"
        },
        "hybrid_search_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated — use index_method instead."
          }
        },
        "index_method": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestIndexMethod",
          "traits": {
            "smithy.api#documentation": "Controls which storage backends are used during indexing. Defaults to vector-only."
          }
        },
        "indexing_options": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestIndexingOptions"
        },
        "max_num_results": {
          "target": "smithy.api#Double"
        },
        "metadata": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestMetadata"
        },
        "public_endpoint_params": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestPublicEndpointParams"
        },
        "reranking": {
          "target": "smithy.api#Boolean"
        },
        "reranking_model": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestRerankingModel"
        },
        "retrieval_options": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestRetrievalOptions"
        },
        "rewrite_model": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestRewriteModel"
        },
        "rewrite_query": {
          "target": "smithy.api#Boolean"
        },
        "score_threshold": {
          "target": "smithy.api#Double"
        },
        "source": {
          "target": "smithy.api#String"
        },
        "source_params": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestSourceParams"
        },
        "sync_interval": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestSyncInterval",
          "traits": {
            "smithy.api#documentation": "Interval between automatic syncs, in seconds. Allowed values: 900 (15min), 1800 (30min), 3600 (1h), 7200 (2h), 14400 (4h), 21600 (6h), 43200 (12h), 86400 (24h)."
          }
        },
        "token_id": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.ai_search#InstancesCreateRequestType"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseAiSearchModel": {
      "type": "enum",
      "members": {
        "CF_META_LLAMA_3_3_70B_INSTRUCT_FP8_FAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
          }
        },
        "CF_ZAI_ORG_GLM_4_7_FLASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/zai-org/glm-4.7-flash"
          }
        },
        "CF_META_LLAMA_3_1_8B_INSTRUCT_FAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/meta/llama-3.1-8b-instruct-fast"
          }
        },
        "CF_META_LLAMA_3_1_8B_INSTRUCT_FP8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/meta/llama-3.1-8b-instruct-fp8"
          }
        },
        "CF_META_LLAMA_4_SCOUT_17B_16E_INSTRUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/meta/llama-4-scout-17b-16e-instruct"
          }
        },
        "CF_QWEN_QWEN3_30B_A3B_FP8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/qwen/qwen3-30b-a3b-fp8"
          }
        },
        "CF_DEEPSEEK_AI_DEEPSEEK_R1_DISTILL_QWEN_32B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
          }
        },
        "CF_MOONSHOTAI_KIMI_K2_INSTRUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/moonshotai/kimi-k2-instruct"
          }
        },
        "CF_GOOGLE_GEMMA_3_12B_IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/google/gemma-3-12b-it"
          }
        },
        "CF_GOOGLE_GEMMA_4_26B_A4B_IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/google/gemma-4-26b-a4b-it"
          }
        },
        "CF_MOONSHOTAI_KIMI_K2_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/moonshotai/kimi-k2.5"
          }
        },
        "ANTHROPIC_CLAUDE_3_7_SONNET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anthropic/claude-3-7-sonnet"
          }
        },
        "ANTHROPIC_CLAUDE_SONNET_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anthropic/claude-sonnet-4"
          }
        },
        "ANTHROPIC_CLAUDE_OPUS_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anthropic/claude-opus-4"
          }
        },
        "ANTHROPIC_CLAUDE_3_5_HAIKU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anthropic/claude-3-5-haiku"
          }
        },
        "CEREBRAS_QWEN_3_235B_A22B_INSTRUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cerebras/qwen-3-235b-a22b-instruct"
          }
        },
        "CEREBRAS_QWEN_3_235B_A22B_THINKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cerebras/qwen-3-235b-a22b-thinking"
          }
        },
        "CEREBRAS_LLAMA_3_3_70B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cerebras/llama-3.3-70b"
          }
        },
        "CEREBRAS_LLAMA_4_MAVERICK_17B_128E_INSTRUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cerebras/llama-4-maverick-17b-128e-instruct"
          }
        },
        "CEREBRAS_LLAMA_4_SCOUT_17B_16E_INSTRUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cerebras/llama-4-scout-17b-16e-instruct"
          }
        },
        "CEREBRAS_GPT_OSS_120B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cerebras/gpt-oss-120b"
          }
        },
        "GOOGLE_AI_STUDIO_GEMINI_2_5_FLASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google-ai-studio/gemini-2.5-flash"
          }
        },
        "GOOGLE_AI_STUDIO_GEMINI_2_5_PRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google-ai-studio/gemini-2.5-pro"
          }
        },
        "GROK_GROK_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "grok/grok-4"
          }
        },
        "GROQ_LLAMA_3_3_70B_VERSATILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "groq/llama-3.3-70b-versatile"
          }
        },
        "GROQ_LLAMA_3_1_8B_INSTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "groq/llama-3.1-8b-instant"
          }
        },
        "OPENAI_GPT_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openai/gpt-5"
          }
        },
        "OPENAI_GPT_5_MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openai/gpt-5-mini"
          }
        },
        "OPENAI_GPT_5_NANO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openai/gpt-5-nano"
          }
        },
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseCacheThreshold": {
      "type": "enum",
      "members": {
        "SUPER_STRICT_MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "super_strict_match"
          }
        },
        "CLOSE_ENOUGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "close_enough"
          }
        },
        "FLEXIBLE_FRIEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flexible_friend"
          }
        },
        "ANYTHING_GOES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anything_goes"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseCacheTtl": {
      "type": "intEnum",
      "members": {
        "_600": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 600
          }
        },
        "_1800": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1800
          }
        },
        "_3600": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3600
          }
        },
        "_7200": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 7200
          }
        },
        "_21600": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 21600
          }
        },
        "_43200": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 43200
          }
        },
        "_86400": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 86400
          }
        },
        "_172800": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 172800
          }
        },
        "_259200": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 259200
          }
        },
        "_518400": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 518400
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseCustomMetadataItemDataType": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean"
          }
        },
        "DATETIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "datetime"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseCustomMetadataItem": {
      "type": "structure",
      "members": {
        "data_type": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponseCustomMetadataItemDataType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "field_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseCustomMetadataList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_search#InstancesCreateResponseCustomMetadataItem"
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseEmbeddingModel": {
      "type": "enum",
      "members": {
        "CF_QWEN_QWEN3_EMBEDDING_0_6B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/qwen/qwen3-embedding-0.6b"
          }
        },
        "CF_QWEN_QWEN3_VL_EMBEDDING_2B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/qwen/qwen3-vl-embedding-2b"
          }
        },
        "CF_BAAI_BGE_M3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/baai/bge-m3"
          }
        },
        "CF_BAAI_BGE_LARGE_EN_V1_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/baai/bge-large-en-v1.5"
          }
        },
        "CF_GOOGLE_EMBEDDINGGEMMA_300M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/google/embeddinggemma-300m"
          }
        },
        "GOOGLE_AI_STUDIO_GEMINI_EMBEDDING_001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google-ai-studio/gemini-embedding-001"
          }
        },
        "GOOGLE_AI_STUDIO_GEMINI_EMBEDDING_2_PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google-ai-studio/gemini-embedding-2-preview"
          }
        },
        "GOOGLE_AI_STUDIO_GEMINI_EMBEDDING_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google-ai-studio/gemini-embedding-2"
          }
        },
        "OPENAI_TEXT_EMBEDDING_3_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openai/text-embedding-3-small"
          }
        },
        "OPENAI_TEXT_EMBEDDING_3_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "openai/text-embedding-3-large"
          }
        },
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseFusionMethod": {
      "type": "enum",
      "members": {
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        },
        "RRF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rrf"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseIndexMethod": {
      "type": "structure",
      "members": {
        "keyword": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable keyword (BM25) storage backend.",
            "smithy.api#required": {}
          }
        },
        "vector": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable vector (embedding) storage backend.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseIndexingOptionsKeywordTokenizer": {
      "type": "enum",
      "members": {
        "PORTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "porter"
          }
        },
        "TRIGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trigram"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseIndexingOptions": {
      "type": "structure",
      "members": {
        "keyword_tokenizer": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponseIndexingOptionsKeywordTokenizer",
          "traits": {
            "smithy.api#documentation": "Tokenizer used for keyword search indexing. porter provides word-level tokenization with Porter stemming (good for natural language queries). trigram enables character-level substring matching (good for partial matches, code, identifiers). Changing this triggers a full re-index. Defaults to porter."
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseMetadata": {
      "type": "structure",
      "members": {
        "created_from_aisearch_wizard": {
          "target": "smithy.api#Boolean"
        },
        "worker_domain": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponsePublicEndpointParamsAuthorizedHostsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponsePublicEndpointParamsChatCompletionsEndpoint": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disable chat completions endpoint for this public endpoint"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponsePublicEndpointParamsCustomDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponsePublicEndpointParamsMcp": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String"
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disable MCP endpoint for this public endpoint"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponsePublicEndpointParamsRateLimitTechnique": {
      "type": "enum",
      "members": {
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed"
          }
        },
        "SLIDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sliding"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponsePublicEndpointParamsRateLimit": {
      "type": "structure",
      "members": {
        "period_ms": {
          "target": "smithy.api#Double"
        },
        "requests": {
          "target": "smithy.api#Double"
        },
        "technique": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponsePublicEndpointParamsRateLimitTechnique"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponsePublicEndpointParamsSearchEndpoint": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disable search endpoint for this public endpoint"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponsePublicEndpointParams": {
      "type": "structure",
      "members": {
        "authorized_hosts": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponsePublicEndpointParamsAuthorizedHostsList"
        },
        "chat_completions_endpoint": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponsePublicEndpointParamsChatCompletionsEndpoint"
        },
        "custom_domains": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponsePublicEndpointParamsCustomDomainsList",
          "traits": {
            "smithy.api#documentation": "Custom domain hostnames that alias this public endpoint. GET and create responses return the current set; on update (PUT) this field is only echoed back when supplied in the request body, otherwise it is null (omit it to leave domains unchanged)."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "mcp": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponsePublicEndpointParamsMcp"
        },
        "rate_limit": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponsePublicEndpointParamsRateLimit"
        },
        "search_endpoint": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponsePublicEndpointParamsSearchEndpoint"
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseRerankingModel": {
      "type": "enum",
      "members": {
        "CF_BAAI_BGE_RERANKER_BASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/baai/bge-reranker-base"
          }
        },
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseRetrievalOptionsBoostByItemDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        },
        "EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exists"
          }
        },
        "NOT_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_exists"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseRetrievalOptionsBoostByItem": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Metadata field name to boost by. Use 'timestamp' for document freshness, or any custom_metadata field. Numeric and datetime fields support all four directions (asc, desc, exists, not_exists); text/boolean fields only support exists/not_exists.",
            "smithy.api#required": {}
          }
        },
        "direction": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponseRetrievalOptionsBoostByItemDirection",
          "traits": {
            "smithy.api#documentation": "Boost direction. 'desc' = higher values rank higher (e.g. newer timestamps). 'asc' = lower values rank higher. 'exists' = boost chunks that have the field. 'not_exists' = boost chunks that lack the field. Optional — defaults to 'asc' for numeric/datetime fields, 'exists' for text/boolean fields."
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseRetrievalOptionsBoostByList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_search#InstancesCreateResponseRetrievalOptionsBoostByItem"
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseRetrievalOptionsKeywordMatchMode": {
      "type": "enum",
      "members": {
        "AND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "and"
          }
        },
        "OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "or"
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseRetrievalOptions": {
      "type": "structure",
      "members": {
        "boost_by": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponseRetrievalOptionsBoostByList",
          "traits": {
            "smithy.api#documentation": "Metadata fields to boost search results by. Each entry specifies a metadata field and an optional direction. Direction defaults to 'asc' for numeric/datetime fields and 'exists' for text/boolean fields. Fields must match 'timestamp' or a defined custom_metadata field."
          }
        },
        "keyword_match_mode": {
          "target": "com.cloudflare.ai_search#InstancesCreateResponseRetrievalOptionsKeywordMatchMode",
          "traits": {
            "smithy.api#documentation": "Controls which documents are candidates for BM25 scoring. 'and' restricts candidates to documents containing all query terms; 'or' includes any document containing at least one term, ranked by BM25 relevance. Defaults to 'and'."
          }
        }
      }
    },
    "com.cloudflare.ai_search#InstancesCreateResponseRewriteModel": {
      "type": "enum",
      "members": {
        "CF_META_LLAMA_3_3_70B_INSTRUCT_FP8_FAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
          }
        },
        "CF_ZAI_ORG_GLM_4_7_FLASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/zai-org/glm-4.7-flash"
          }
        },
        "CF_META_LLAMA_3_1_8B_INSTRUCT_FAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "@cf/meta/llama-3.1-8b-instruct-fast"
          }
        },
        "CF_META_LLAMA_3_1_8B_INSTRUCT_FP8": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
