{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.ai_security#GetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the zone.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ai_security#GetResponse": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether AI Security for Apps is enabled on the zone."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ai_security#Get": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ai_security#GetRequest"
      },
      "output": {
        "target": "com.cloudflare.ai_security#GetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/ai-security/settings",
          "code": 200
        },
        "smithy.api#documentation": "Get whether AI Security for Apps is enabled or disabled for a zone.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.ai_security#UpdateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the zone.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether AI Security for Apps is enabled on the zone."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ai_security#UpdateResponse": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether AI Security for Apps is enabled on the zone."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ai_security#Update": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ai_security#UpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.ai_security#UpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/ai-security/settings",
          "code": 200
        },
        "smithy.api#documentation": "Enable or disable AI Security for Apps for a zone. Changes can take up to a minute to propagate to the zone.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.ai_security#CustomTopicsGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the zone.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ai_security#CustomTopicsGetResponseTopicsItem": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique label identifier. Must contain only lowercase letters (a–z), digits (0–9), and hyphens.",
            "smithy.api#required": {}
          }
        },
        "topic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the topic category. Must contain only printable ASCII characters.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_security#CustomTopicsGetResponseTopicsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_security#CustomTopicsGetResponseTopicsItem"
      }
    },
    "com.cloudflare.ai_security#CustomTopicsGetResponse": {
      "type": "structure",
      "members": {
        "topics": {
          "target": "com.cloudflare.ai_security#CustomTopicsGetResponseTopicsList",
          "traits": {
            "smithy.api#documentation": "Custom topic categories for AI Security for Apps content detection."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ai_security#CustomTopicsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ai_security#CustomTopicsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.ai_security#CustomTopicsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/ai-security/custom-topics",
          "code": 200
        },
        "smithy.api#documentation": "Get the AI Security for Apps custom topic categories for a zone.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.ai_security#CustomTopicsUpdateRequestTopicsItem": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique label identifier. Must contain only lowercase letters (a–z), digits (0–9), and hyphens.",
            "smithy.api#required": {}
          }
        },
        "topic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the topic category. Must contain only printable ASCII characters.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_security#CustomTopicsUpdateRequestTopicsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_security#CustomTopicsUpdateRequestTopicsItem"
      }
    },
    "com.cloudflare.ai_security#CustomTopicsUpdateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the zone.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "topics": {
          "target": "com.cloudflare.ai_security#CustomTopicsUpdateRequestTopicsList",
          "traits": {
            "smithy.api#documentation": "Custom topic categories for AI Security for Apps content detection."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.ai_security#CustomTopicsUpdateResponseTopicsItem": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique label identifier. Must contain only lowercase letters (a–z), digits (0–9), and hyphens.",
            "smithy.api#required": {}
          }
        },
        "topic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the topic category. Must contain only printable ASCII characters.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.ai_security#CustomTopicsUpdateResponseTopicsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.ai_security#CustomTopicsUpdateResponseTopicsItem"
      }
    },
    "com.cloudflare.ai_security#CustomTopicsUpdateResponse": {
      "type": "structure",
      "members": {
        "topics": {
          "target": "com.cloudflare.ai_security#CustomTopicsUpdateResponseTopicsList",
          "traits": {
            "smithy.api#documentation": "Custom topic categories for AI Security for Apps content detection."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.ai_security#CustomTopicsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.ai_security#CustomTopicsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.ai_security#CustomTopicsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/ai-security/custom-topics",
          "code": 200
        },
        "smithy.api#documentation": "Set the AI Security for Apps custom topic categories for a zone. A maximum of 20 custom topics can be configured per zone. Each topic label must be 2–20 characters using only lowercase letters (a–z), digits (0–9), and hyphens. Each topic description must be 2–50 printable ASCII characters. Changes can take up to a minute to propagate to the zone.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.ai_security#AiSecurity": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.ai_security#Get"
        },
        {
          "target": "com.cloudflare.ai_security#Update"
        },
        {
          "target": "com.cloudflare.ai_security#CustomTopicsGet"
        },
        {
          "target": "com.cloudflare.ai_security#CustomTopicsUpdate"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare AiSecurity",
        "smithy.api#documentation": "Cloudflare API — ai_security resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    }
  }
}
