{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.alerting#AvailableAlertsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account id",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.alerting#AvailableAlertsListResultValueItemFilterOptionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.alerting#AvailableAlertsListResultValueItem": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Describes the alert type."
          }
        },
        "display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Alert type name."
          }
        },
        "filter_options": {
          "target": "com.cloudflare.alerting#AvailableAlertsListResultValueItemFilterOptionsList",
          "traits": {
            "smithy.api#documentation": "Format of additional configuration options (filters) for the alert type. Data type of filters during policy creation: Array of strings."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use this value when creating and updating a notification policy."
          }
        }
      }
    },
    "com.cloudflare.alerting#AvailableAlertsListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.alerting#AvailableAlertsListResultValueItem"
      }
    },
    "com.cloudflare.alerting#AvailableAlertsListResultMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.alerting#AvailableAlertsListResultValueList"
      }
    },
    "com.cloudflare.alerting#AvailableAlertsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.alerting#AvailableAlertsListResultMap",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.alerting#AvailableAlertsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.alerting#AvailableAlertsListRequest"
      },
      "output": {
        "target": "com.cloudflare.alerting#AvailableAlertsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/alerting/v3/available_alerts",
          "code": 200
        },
        "smithy.api#documentation": "Gets a list of all alert types for which an account is eligible.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.alerting#DestinationsEligibleGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account id",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.alerting#DestinationsEligibleGetResultValueItemType": {
      "type": "enum",
      "members": {
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email"
          }
        },
        "PAGERDUTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pagerduty"
          }
        },
        "WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webhook"
          }
        }
      }
    },
    "com.cloudflare.alerting#DestinationsEligibleGetResultValueItem": {
      "type": "structure",
      "members": {
        "eligible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines whether or not the account is eligible for the delivery mechanism."
          }
        },
        "ready": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Beta flag. Users can create a policy with a mechanism that is not ready, but we cannot guarantee successful delivery of notifications."
          }
        },
        "type": {
          "target": "com.cloudflare.alerting#DestinationsEligibleGetResultValueItemType",
          "traits": {
            "smithy.api#documentation": "Determines type of delivery mechanism."
          }
        }
      }
    },
    "com.cloudflare.alerting#DestinationsEligibleGetResultValueList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.alerting#DestinationsEligibleGetResultValueItem"
      }
    },
    "com.cloudflare.alerting#DestinationsEligibleGetResultMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.alerting#DestinationsEligibleGetResultValueList"
      }
    },
    "com.cloudflare.alerting#DestinationsEligibleGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.alerting#DestinationsEligibleGetResultMap",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.alerting#DestinationsEligibleGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.alerting#DestinationsEligibleGetRequest"
      },
      "output": {
        "target": "com.cloudflare.alerting#DestinationsEligibleGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/alerting/v3/destinations/eligible",
          "code": 200
        },
        "smithy.api#documentation": "Get a list of all delivery mechanism types for which an account is eligible.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.alerting#DestinationsPagerdutyCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account id",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.alerting#DestinationsPagerdutyCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "token in form of UUID"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.alerting#DestinationsPagerdutyCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.alerting#DestinationsPagerdutyCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.alerting#DestinationsPagerdutyCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/alerting/v3/destinations/pagerduty/connect",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new token for integrating with PagerDuty."
      }
    },
    "com.cloudflare.alerting#DestinationsPagerdutyDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account id",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.alerting#DestinationsPagerdutyDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.alerting#DestinationsPagerdutyDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/alerting/v3/destinations/pagerduty",
          "code": 200
        },
        "smithy.api#documentation": "Deletes all the PagerDuty Services connected to the account.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.alerting#DestinationsPagerdutyGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account id",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.alerting#DestinationsPagerdutyGetResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the pagerduty service."
          }
        }
      }
    },
    "com.cloudflare.alerting#DestinationsPagerdutyGetResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.alerting#DestinationsPagerdutyGetResultItem"
      }
    },
    "com.cloudflare.alerting#DestinationsPagerdutyGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.alerting#DestinationsPagerdutyGetResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.alerting#DestinationsPagerdutyGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.alerting#DestinationsPagerdutyGetRequest"
      },
      "output": {
        "target": "com.cloudflare.alerting#DestinationsPagerdutyGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/alerting/v3/destinations/pagerduty",
          "code": 200
        },
        "smithy.api#documentation": "Get a list of all configured PagerDuty services.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.alerting#DestinationsPagerdutyLinkRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account id",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "token_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token integration key",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.alerting#DestinationsPagerdutyLinkResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.alerting#DestinationsPagerdutyLink": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.alerting#DestinationsPagerdutyLinkRequest"
      },
      "output": {
        "target": "com.cloudflare.alerting#DestinationsPagerdutyLinkResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/alerting/v3/destinations/pagerduty/connect/{token_id}",
          "code": 200
        },
        "smithy.api#documentation": "Links PagerDuty with the account using the integration token.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.alerting#DestinationsWebhooksCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account id",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the webhook destination. This will be included in the request body when you receive a webhook notification.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The POST endpoint to call when dispatching a notification.",
            "smithy.api#required": {}
          }
        },
        "secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional secret that will be passed in the `cf-webhook-auth` header when dispatching generic webhook notifications or formatted for supported destinations. Secrets are not returned in any API response body."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.alerting#DestinationsWebhooksCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.alerting#DestinationsWebhooksCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.alerting#DestinationsWebhooksCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.alerting#DestinationsWebhooksCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/alerting/v3/destinations/webhooks",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new webhook destination."
      }
    },
    "com.cloudflare.alerting#DestinationsWebhooksDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account id",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "webhook_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of a webhook",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.alerting#DestinationsWebhooksDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.alerting#DestinationsWebhooksDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/alerting/v3/destinations/webhooks/{webhook_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a configured webhook destination.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.alerting#DestinationsWebhooksGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account id",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "webhook_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of a webhook",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.alerting#DestinationsWebhooksGetResponseType": {
      "type": "enum",
      "members": {
        "DATADOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "datadog"
          }
        },
        "DISCORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "discord"
          }
        },
        "FEISHU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "feishu"
          }
        },
        "GCHAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gchat"
          }
        },
        "GENERIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "generic"
          }
        },
        "OPSGENIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opsgenie"
          }
        },
        "SLACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "slack"
          }
        },
        "SPLUNK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "splunk"
          }
        }
      }
    },
    "com.cloudflare.alerting#DestinationsWebhooksGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of a webhook"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of when the webhook destination was created."
          }
        },
        "last_failure": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of the last time an attempt to dispatch a notification to this webhook failed."
          }
        },
        "last_success": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of the last time Cloudflare was able to successfully dispatch a notification using this webhook."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the webhook destination. This will be included in the request body when you receive a webhook notification."
          }
        },
        "secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional secret that will be passed in the `cf-webhook-auth` header when dispatching generic webhook notifications or formatted for supported destinations. Secrets are not returned in any API response body."
          }
        },
        "type": {
          "target": "com.cloudflare.alerting#DestinationsWebhooksGetResponseType",
          "traits": {
            "smithy.api#documentation": "Type of webhook endpoint."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The POST endpoint to call when dispatching a notification."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.alerting#DestinationsWebhooksGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.alerting#DestinationsWebhooksGetRequest"
      },
      "output": {
        "target": "com.cloudflare.alerting#DestinationsWebhooksGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/alerting/v3/destinations/webhooks/{webhook_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get details for a single webhooks destination.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.alerting#DestinationsWebhooksListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account id",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.alerting#DestinationsWebhooksListResultItemType": {
      "type": "enum",
      "members": {
        "DATADOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "datadog"
          }
        },
        "DISCORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "discord"
          }
        },
        "FEISHU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "feishu"
          }
        },
        "GCHAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gchat"
          }
        },
        "GENERIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "generic"
          }
        },
        "OPSGENIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opsgenie"
          }
        },
        "SLACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "slack"
          }
        },
        "SPLUNK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "splunk"
          }
        }
      }
    },
    "com.cloudflare.alerting#DestinationsWebhooksListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of a webhook"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of when the webhook destination was created."
          }
        },
        "last_failure": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of the last time an attempt to dispatch a notification to this webhook failed."
          }
        },
        "last_success": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of the last time Cloudflare was able to successfully dispatch a notification using this webhook."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the webhook destination. This will be included in the request body when you receive a webhook notification."
          }
        },
        "secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional secret that will be passed in the `cf-webhook-auth` header when dispatching generic webhook notifications or formatted for supported destinations. Secrets are not returned in any API response body."
          }
        },
        "type": {
          "target": "com.cloudflare.alerting#DestinationsWebhooksListResultItemType",
          "traits": {
            "smithy.api#documentation": "Type of webhook endpoint."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The POST endpoint to call when dispatching a notification."
          }
        }
      }
    },
    "com.cloudflare.alerting#DestinationsWebhooksListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.alerting#DestinationsWebhooksListResultItem"
      }
    },
    "com.cloudflare.alerting#DestinationsWebhooksListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.alerting#DestinationsWebhooksListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.alerting#DestinationsWebhooksList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.alerting#DestinationsWebhooksListRequest"
      },
      "output": {
        "target": "com.cloudflare.alerting#DestinationsWebhooksListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/alerting/v3/destinations/webhooks",
          "code": 200
        },
        "smithy.api#documentation": "Gets a list of all configured webhook destinations.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.alerting#DestinationsWebhooksUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account id",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "webhook_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of a webhook",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the webhook destination. This will be included in the request body when you receive a webhook notification.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The POST endpoint to call when dispatching a notification.",
            "smithy.api#required": {}
          }
        },
        "secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional secret that will be passed in the `cf-webhook-auth` header when dispatching generic webhook notifications or formatted for supported destinations. Secrets are not returned in any API response body."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.alerting#DestinationsWebhooksUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.alerting#DestinationsWebhooksUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.alerting#DestinationsWebhooksUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.alerting#DestinationsWebhooksUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/alerting/v3/destinations/webhooks/{webhook_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update a webhook destination.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.alerting#HistoryListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account id",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Limit the returned results to history records older than the specified date. This must be a timestamp that conforms to RFC3339.",
            "smithy.api#httpQuery": "before"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of paginated results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of items per page.",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Limit the returned results to history records newer than the specified date. This must be a timestamp that conforms to RFC3339.",
            "smithy.api#httpQuery": "since"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.alerting#HistoryListResultItemMechanismType": {
      "type": "enum",
      "members": {
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email"
          }
        },
        "PAGERDUTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pagerduty"
          }
        },
        "WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webhook"
          }
        }
      }
    },
    "com.cloudflare.alerting#HistoryListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID"
          }
        },
        "alert_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Message body included in the notification sent."
          }
        },
        "alert_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of notification that has been dispatched."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the notification policy (if present)."
          }
        },
        "mechanism": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The mechanism to which the notification has been dispatched."
          }
        },
        "mechanism_type": {
          "target": "com.cloudflare.alerting#HistoryListResultItemMechanismType",
          "traits": {
            "smithy.api#documentation": "The type of mechanism to which the notification has been dispatched. This can be email/pagerduty/webhook based on the mechanism configured."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the policy."
          }
        },
        "policy_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of a notification policy"
          }
        },
        "sent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of when the notification was dispatched in ISO 8601 format."
          }
        }
      }
    },
    "com.cloudflare.alerting#HistoryListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.alerting#HistoryListResultItem"
      }
    },
    "com.cloudflare.alerting#HistoryListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.alerting#HistoryListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.alerting#HistoryList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.alerting#HistoryListRequest"
      },
      "output": {
        "target": "com.cloudflare.alerting#HistoryListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/alerting/v3/history",
          "code": 200
        },
        "smithy.api#documentation": "Gets a list of history records for notifications sent to an account. The records are displayed for last `x` number of days based on the zone plan (free = 30, pro = 30, biz = 30, ent = 90).",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestAlertType": {
      "type": "enum",
      "members": {
        "ABUSE_REPORT_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "abuse_report_alert"
          }
        },
        "ACCESS_CUSTOM_CERTIFICATE_EXPIRATION_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_custom_certificate_expiration_type"
          }
        },
        "ADVANCED_DDOS_ATTACK_L4_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "advanced_ddos_attack_l4_alert"
          }
        },
        "ADVANCED_DDOS_ATTACK_L7_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "advanced_ddos_attack_l7_alert"
          }
        },
        "ADVANCED_HTTP_ALERT_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "advanced_http_alert_error"
          }
        },
        "BGP_HIJACK_NOTIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bgp_hijack_notification"
          }
        },
        "BILLING_USAGE_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "billing_usage_alert"
          }
        },
        "BLOCK_NOTIFICATION_BLOCK_REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block_notification_block_removed"
          }
        },
        "BLOCK_NOTIFICATION_NEW_BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block_notification_new_block"
          }
        },
        "BLOCK_NOTIFICATION_REVIEW_REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block_notification_review_rejected"
          }
        },
        "BOT_TRAFFIC_BASIC_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bot_traffic_basic_alert"
          }
        },
        "BRAND_PROTECTION_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brand_protection_alert"
          }
        },
        "BRAND_PROTECTION_DIGEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brand_protection_digest"
          }
        },
        "CLICKHOUSE_ALERT_FW_ANOMALY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clickhouse_alert_fw_anomaly"
          }
        },
        "CLICKHOUSE_ALERT_FW_ENT_ANOMALY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clickhouse_alert_fw_ent_anomaly"
          }
        },
        "CLOUDFORCE_ONE_REQUEST_NOTIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudforce_one_request_notification"
          }
        },
        "CNI_MAINTENANCE_NOTIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cni_maintenance_notification"
          }
        },
        "CUSTOM_ANALYTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_analytics"
          }
        },
        "CUSTOM_BOT_DETECTION_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_bot_detection_alert"
          }
        },
        "CUSTOM_SSL_CERTIFICATE_EVENT_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_ssl_certificate_event_type"
          }
        },
        "DEDICATED_SSL_CERTIFICATE_EVENT_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dedicated_ssl_certificate_event_type"
          }
        },
        "DEVICE_CONNECTIVITY_ANOMALY_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "device_connectivity_anomaly_alert"
          }
        },
        "DOS_ATTACK_L4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dos_attack_l4"
          }
        },
        "DOS_ATTACK_L7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dos_attack_l7"
          }
        },
        "EXPIRING_SERVICE_TOKEN_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expiring_service_token_alert"
          }
        },
        "FAILING_LOGPUSH_JOB_DISABLED_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failing_logpush_job_disabled_alert"
          }
        },
        "FBM_AUTO_ADVERTISEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fbm_auto_advertisement"
          }
        },
        "FBM_DOSD_ATTACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fbm_dosd_attack"
          }
        },
        "FBM_VOLUMETRIC_ATTACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fbm_volumetric_attack"
          }
        },
        "HEALTH_CHECK_STATUS_NOTIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "health_check_status_notification"
          }
        },
        "HOSTNAME_AOP_CUSTOM_CERTIFICATE_EXPIRATION_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hostname_aop_custom_certificate_expiration_type"
          }
        },
        "HTTP_ALERT_EDGE_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_alert_edge_error"
          }
        },
        "HTTP_ALERT_ORIGIN_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_alert_origin_error"
          }
        },
        "IMAGE_NOTIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image_notification"
          }
        },
        "IMAGE_RESIZING_NOTIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image_resizing_notification"
          }
        },
        "INCIDENT_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "incident_alert"
          }
        },
        "LOAD_BALANCING_HEALTH_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "load_balancing_health_alert"
          }
        },
        "LOAD_BALANCING_POOL_ENABLEMENT_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "load_balancing_pool_enablement_alert"
          }
        },
        "LOGO_MATCH_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "logo_match_alert"
          }
        },
        "MAGIC_TUNNEL_HEALTH_CHECK_EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "magic_tunnel_health_check_event"
          }
        },
        "MAGIC_WAN_TUNNEL_HEALTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "magic_wan_tunnel_health"
          }
        },
        "MAINTENANCE_EVENT_NOTIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "maintenance_event_notification"
          }
        },
        "MTLS_CERTIFICATE_STORE_CERTIFICATE_EXPIRATION_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mtls_certificate_store_certificate_expiration_type"
          }
        },
        "PAGES_EVENT_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pages_event_alert"
          }
        },
        "RADAR_NOTIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "radar_notification"
          }
        },
        "REAL_ORIGIN_MONITORING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "real_origin_monitoring"
          }
        },
        "SCRIPTMONITOR_ALERT_NEW_CODE_CHANGE_DETECTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scriptmonitor_alert_new_code_change_detections"
          }
        },
        "SCRIPTMONITOR_ALERT_NEW_HOSTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scriptmonitor_alert_new_hosts"
          }
        },
        "SCRIPTMONITOR_ALERT_NEW_MALICIOUS_HOSTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scriptmonitor_alert_new_malicious_hosts"
          }
        },
        "SCRIPTMONITOR_ALERT_NEW_MALICIOUS_SCRIPTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scriptmonitor_alert_new_malicious_scripts"
          }
        },
        "SCRIPTMONITOR_ALERT_NEW_MALICIOUS_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scriptmonitor_alert_new_malicious_url"
          }
        },
        "SCRIPTMONITOR_ALERT_NEW_MAX_LENGTH_RESOURCE_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scriptmonitor_alert_new_max_length_resource_url"
          }
        },
        "SCRIPTMONITOR_ALERT_NEW_RESOURCES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scriptmonitor_alert_new_resources"
          }
        },
        "SECONDARY_DNS_ALL_PRIMARIES_FAILING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secondary_dns_all_primaries_failing"
          }
        },
        "SECONDARY_DNS_PRIMARIES_FAILING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secondary_dns_primaries_failing"
          }
        },
        "SECONDARY_DNS_WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secondary_dns_warning"
          }
        },
        "SECONDARY_DNS_ZONE_SUCCESSFULLY_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secondary_dns_zone_successfully_updated"
          }
        },
        "SECONDARY_DNS_ZONE_VALIDATION_WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secondary_dns_zone_validation_warning"
          }
        },
        "SECURITY_INSIGHTS_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "security_insights_alert"
          }
        },
        "SENTINEL_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sentinel_alert"
          }
        },
        "STREAM_LIVE_NOTIFICATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stream_live_notifications"
          }
        },
        "SYNTHETIC_TEST_LATENCY_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "synthetic_test_latency_alert"
          }
        },
        "SYNTHETIC_TEST_LOW_AVAILABILITY_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "synthetic_test_low_availability_alert"
          }
        },
        "TRAFFIC_ANOMALIES_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "traffic_anomalies_alert"
          }
        },
        "TUNNEL_HEALTH_EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tunnel_health_event"
          }
        },
        "TUNNEL_UPDATE_EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tunnel_update_event"
          }
        },
        "UNIVERSAL_SSL_EVENT_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "universal_ssl_event_type"
          }
        },
        "WEB_ANALYTICS_METRICS_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "web_analytics_metrics_update"
          }
        },
        "ZONE_AOP_CUSTOM_CERTIFICATE_EXPIRATION_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zone_aop_custom_certificate_expiration_type"
          }
        }
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestMechanismsEmailItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address"
          }
        }
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestMechanismsEmailList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.alerting#PoliciesCreateRequestMechanismsEmailItem"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestMechanismsPagerdutyItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID"
          }
        }
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestMechanismsPagerdutyList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.alerting#PoliciesCreateRequestMechanismsPagerdutyItem"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestMechanismsWebhooksItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID"
          }
        }
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestMechanismsWebhooksList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.alerting#PoliciesCreateRequestMechanismsWebhooksItem"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestMechanisms": {
      "type": "structure",
      "members": {
        "email": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestMechanismsEmailList"
        },
        "pagerduty": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestMechanismsPagerdutyList"
        },
        "webhooks": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestMechanismsWebhooksList"
        }
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersActionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersAffectedAsnsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersAffectedComponentsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersAffectedLocationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersAirportCodeList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersAlertTriggerPreferencesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersAlertTriggerPreferencesValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersEnabledList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersEnvironmentList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersEventList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersEventSourceList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersEventTypeList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersGroupByList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersHealthCheckIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersIncidentImpactItem": {
      "type": "enum",
      "members": {
        "INCIDENT_IMPACT_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCIDENT_IMPACT_NONE"
          }
        },
        "INCIDENT_IMPACT_MINOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCIDENT_IMPACT_MINOR"
          }
        },
        "INCIDENT_IMPACT_MAJOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCIDENT_IMPACT_MAJOR"
          }
        },
        "INCIDENT_IMPACT_CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCIDENT_IMPACT_CRITICAL"
          }
        }
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersIncidentImpactList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersIncidentImpactItem"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersInputIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersInsightClassList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersLimitList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersLogoTagList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersMegabitsPerSecondList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersNewHealthList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersNewStatusList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersPacketsPerSecondList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersPoolIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersPopNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersProductList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersProjectIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersProtocolList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersQueryTagList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersRequestsPerSecondList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersSelectorsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersServicesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersSloList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersStatusList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersTargetHostnameList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersTargetIpList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersTargetZoneNameList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersTrafficExclusionsItem": {
      "type": "enum",
      "members": {
        "SECURITY_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "security_events"
          }
        }
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersTrafficExclusionsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersTrafficExclusionsItem"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersTunnelIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersTunnelNameList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersTypeList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersWhereList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFiltersZonesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequestFilters": {
      "type": "structure",
      "members": {
        "actions": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersActionsList",
          "traits": {
            "smithy.api#documentation": "Usage depends on specific alert type"
          }
        },
        "affected_asns": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersAffectedAsnsList",
          "traits": {
            "smithy.api#documentation": "Used for configuring radar_notification"
          }
        },
        "affected_components": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersAffectedComponentsList",
          "traits": {
            "smithy.api#documentation": "Used for configuring incident_alert"
          }
        },
        "affected_locations": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersAffectedLocationsList",
          "traits": {
            "smithy.api#documentation": "Used for configuring radar_notification"
          }
        },
        "airport_code": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersAirportCodeList",
          "traits": {
            "smithy.api#documentation": "Used for configuring maintenance_event_notification"
          }
        },
        "alert_trigger_preferences": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersAlertTriggerPreferencesList",
          "traits": {
            "smithy.api#documentation": "Usage depends on specific alert type"
          }
        },
        "alert_trigger_preferences_value": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersAlertTriggerPreferencesValueList",
          "traits": {
            "smithy.api#documentation": "Usage depends on specific alert type"
          }
        },
        "enabled": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersEnabledList",
          "traits": {
            "smithy.api#documentation": "Used for configuring load_balancing_pool_enablement_alert"
          }
        },
        "environment": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersEnvironmentList",
          "traits": {
            "smithy.api#documentation": "Used for configuring pages_event_alert"
          }
        },
        "event": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersEventList",
          "traits": {
            "smithy.api#documentation": "Used for configuring pages_event_alert"
          }
        },
        "event_source": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersEventSourceList",
          "traits": {
            "smithy.api#documentation": "Used for configuring load_balancing_health_alert"
          }
        },
        "event_type": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersEventTypeList",
          "traits": {
            "smithy.api#documentation": "Usage depends on specific alert type"
          }
        },
        "group_by": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersGroupByList",
          "traits": {
            "smithy.api#documentation": "Usage depends on specific alert type"
          }
        },
        "health_check_id": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersHealthCheckIdList",
          "traits": {
            "smithy.api#documentation": "Used for configuring health_check_status_notification"
          }
        },
        "incident_impact": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersIncidentImpactList",
          "traits": {
            "smithy.api#documentation": "Used for configuring incident_alert"
          }
        },
        "input_id": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersInputIdList",
          "traits": {
            "smithy.api#documentation": "Used for configuring stream_live_notifications"
          }
        },
        "insight_class": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersInsightClassList",
          "traits": {
            "smithy.api#documentation": "Used for configuring security_insights_alert"
          }
        },
        "limit": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersLimitList",
          "traits": {
            "smithy.api#documentation": "Used for configuring billing_usage_alert"
          }
        },
        "logo_tag": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersLogoTagList",
          "traits": {
            "smithy.api#documentation": "Used for configuring logo_match_alert"
          }
        },
        "megabits_per_second": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersMegabitsPerSecondList",
          "traits": {
            "smithy.api#documentation": "Used for configuring advanced_ddos_attack_l4_alert"
          }
        },
        "new_health": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersNewHealthList",
          "traits": {
            "smithy.api#documentation": "Used for configuring load_balancing_health_alert"
          }
        },
        "new_status": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersNewStatusList",
          "traits": {
            "smithy.api#documentation": "Used for configuring tunnel_health_event"
          }
        },
        "packets_per_second": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersPacketsPerSecondList",
          "traits": {
            "smithy.api#documentation": "Used for configuring advanced_ddos_attack_l4_alert"
          }
        },
        "pool_id": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersPoolIdList",
          "traits": {
            "smithy.api#documentation": "Usage depends on specific alert type"
          }
        },
        "pop_names": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersPopNamesList",
          "traits": {
            "smithy.api#documentation": "Usage depends on specific alert type"
          }
        },
        "product": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersProductList",
          "traits": {
            "smithy.api#documentation": "Used for configuring billing_usage_alert"
          }
        },
        "project_id": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersProjectIdList",
          "traits": {
            "smithy.api#documentation": "Used for configuring pages_event_alert"
          }
        },
        "protocol": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersProtocolList",
          "traits": {
            "smithy.api#documentation": "Used for configuring advanced_ddos_attack_l4_alert"
          }
        },
        "query_tag": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersQueryTagList",
          "traits": {
            "smithy.api#documentation": "Usage depends on specific alert type"
          }
        },
        "requests_per_second": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersRequestsPerSecondList",
          "traits": {
            "smithy.api#documentation": "Used for configuring advanced_ddos_attack_l7_alert"
          }
        },
        "selectors": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersSelectorsList",
          "traits": {
            "smithy.api#documentation": "Usage depends on specific alert type"
          }
        },
        "services": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersServicesList",
          "traits": {
            "smithy.api#documentation": "Used for configuring clickhouse_alert_fw_ent_anomaly"
          }
        },
        "slo": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersSloList",
          "traits": {
            "smithy.api#documentation": "Usage depends on specific alert type"
          }
        },
        "status": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersStatusList",
          "traits": {
            "smithy.api#documentation": "Used for configuring health_check_status_notification"
          }
        },
        "target_hostname": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersTargetHostnameList",
          "traits": {
            "smithy.api#documentation": "Used for configuring advanced_ddos_attack_l7_alert"
          }
        },
        "target_ip": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersTargetIpList",
          "traits": {
            "smithy.api#documentation": "Used for configuring advanced_ddos_attack_l4_alert"
          }
        },
        "target_zone_name": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersTargetZoneNameList",
          "traits": {
            "smithy.api#documentation": "Used for configuring advanced_ddos_attack_l7_alert"
          }
        },
        "traffic_exclusions": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersTrafficExclusionsList",
          "traits": {
            "smithy.api#documentation": "Used for configuring traffic_anomalies_alert"
          }
        },
        "tunnel_id": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersTunnelIdList",
          "traits": {
            "smithy.api#documentation": "Used for configuring tunnel_health_event"
          }
        },
        "tunnel_name": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersTunnelNameList",
          "traits": {
            "smithy.api#documentation": "Usage depends on specific alert type"
          }
        },
        "type": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersTypeList",
          "traits": {
            "smithy.api#documentation": "Usage depends on specific alert type"
          }
        },
        "where": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersWhereList",
          "traits": {
            "smithy.api#documentation": "Usage depends on specific alert type"
          }
        },
        "zones": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFiltersZonesList",
          "traits": {
            "smithy.api#documentation": "Usage depends on specific alert type"
          }
        }
      }
    },
    "com.cloudflare.alerting#PoliciesCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account id",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "alert_type": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestAlertType",
          "traits": {
            "smithy.api#documentation": "Refers to which event will trigger a Notification dispatch. You can use the endpoint to get available alert types which then will give you a list of possible values.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the Notification policy is enabled.",
            "smithy.api#required": {}
          }
        },
        "mechanisms": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestMechanisms",
          "traits": {
            "smithy.api#documentation": "List of IDs that will be used when dispatching a notification. IDs for email type will be the email address.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the policy.",
            "smithy.api#required": {}
          }
        },
        "alert_interval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional specification of how often to re-alert from the same incident, not support on all alert types."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description for the Notification policy."
          }
        },
        "filters": {
          "target": "com.cloudflare.alerting#PoliciesCreateRequestFilters",
          "traits": {
            "smithy.api#documentation": "Optional filters that allow you to be alerted only on a subset of events for that alert type based on some criteria. This is only available for select alert types. See alert type documentation for more details."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.alerting#PoliciesCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.alerting#PoliciesCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.alerting#PoliciesCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.alerting#PoliciesCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/alerting/v3/policies",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new Notification policy."
      }
    },
    "com.cloudflare.alerting#PoliciesDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account id",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "policy_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of a notification policy",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.alerting#PoliciesDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.alerting#PoliciesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/alerting/v3/policies/{policy_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a Notification policy.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.alerting#PoliciesGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account id",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "policy_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of a notification policy",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseAlertType": {
      "type": "enum",
      "members": {
        "ABUSE_REPORT_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "abuse_report_alert"
          }
        },
        "ACCESS_CUSTOM_CERTIFICATE_EXPIRATION_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_custom_certificate_expiration_type"
          }
        },
        "ADVANCED_DDOS_ATTACK_L4_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "advanced_ddos_attack_l4_alert"
          }
        },
        "ADVANCED_DDOS_ATTACK_L7_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "advanced_ddos_attack_l7_alert"
          }
        },
        "ADVANCED_HTTP_ALERT_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "advanced_http_alert_error"
          }
        },
        "BGP_HIJACK_NOTIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bgp_hijack_notification"
          }
        },
        "BILLING_USAGE_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "billing_usage_alert"
          }
        },
        "BLOCK_NOTIFICATION_BLOCK_REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block_notification_block_removed"
          }
        },
        "BLOCK_NOTIFICATION_NEW_BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block_notification_new_block"
          }
        },
        "BLOCK_NOTIFICATION_REVIEW_REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block_notification_review_rejected"
          }
        },
        "BOT_TRAFFIC_BASIC_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bot_traffic_basic_alert"
          }
        },
        "BRAND_PROTECTION_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brand_protection_alert"
          }
        },
        "BRAND_PROTECTION_DIGEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brand_protection_digest"
          }
        },
        "CLICKHOUSE_ALERT_FW_ANOMALY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clickhouse_alert_fw_anomaly"
          }
        },
        "CLICKHOUSE_ALERT_FW_ENT_ANOMALY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clickhouse_alert_fw_ent_anomaly"
          }
        },
        "CLOUDFORCE_ONE_REQUEST_NOTIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudforce_one_request_notification"
          }
        },
        "CNI_MAINTENANCE_NOTIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cni_maintenance_notification"
          }
        },
        "CUSTOM_ANALYTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_analytics"
          }
        },
        "CUSTOM_BOT_DETECTION_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_bot_detection_alert"
          }
        },
        "CUSTOM_SSL_CERTIFICATE_EVENT_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_ssl_certificate_event_type"
          }
        },
        "DEDICATED_SSL_CERTIFICATE_EVENT_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dedicated_ssl_certificate_event_type"
          }
        },
        "DEVICE_CONNECTIVITY_ANOMALY_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "device_connectivity_anomaly_alert"
          }
        },
        "DOS_ATTACK_L4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dos_attack_l4"
          }
        },
        "DOS_ATTACK_L7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dos_attack_l7"
          }
        },
        "EXPIRING_SERVICE_TOKEN_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expiring_service_token_alert"
          }
        },
        "FAILING_LOGPUSH_JOB_DISABLED_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failing_logpush_job_disabled_alert"
          }
        },
        "FBM_AUTO_ADVERTISEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fbm_auto_advertisement"
          }
        },
        "FBM_DOSD_ATTACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fbm_dosd_attack"
          }
        },
        "FBM_VOLUMETRIC_ATTACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fbm_volumetric_attack"
          }
        },
        "HEALTH_CHECK_STATUS_NOTIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "health_check_status_notification"
          }
        },
        "HOSTNAME_AOP_CUSTOM_CERTIFICATE_EXPIRATION_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hostname_aop_custom_certificate_expiration_type"
          }
        },
        "HTTP_ALERT_EDGE_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_alert_edge_error"
          }
        },
        "HTTP_ALERT_ORIGIN_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_alert_origin_error"
          }
        },
        "IMAGE_NOTIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image_notification"
          }
        },
        "IMAGE_RESIZING_NOTIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image_resizing_notification"
          }
        },
        "INCIDENT_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "incident_alert"
          }
        },
        "LOAD_BALANCING_HEALTH_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "load_balancing_health_alert"
          }
        },
        "LOAD_BALANCING_POOL_ENABLEMENT_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "load_balancing_pool_enablement_alert"
          }
        },
        "LOGO_MATCH_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "logo_match_alert"
          }
        },
        "MAGIC_TUNNEL_HEALTH_CHECK_EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "magic_tunnel_health_check_event"
          }
        },
        "MAGIC_WAN_TUNNEL_HEALTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "magic_wan_tunnel_health"
          }
        },
        "MAINTENANCE_EVENT_NOTIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "maintenance_event_notification"
          }
        },
        "MTLS_CERTIFICATE_STORE_CERTIFICATE_EXPIRATION_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mtls_certificate_store_certificate_expiration_type"
          }
        },
        "PAGES_EVENT_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pages_event_alert"
          }
        },
        "RADAR_NOTIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "radar_notification"
          }
        },
        "REAL_ORIGIN_MONITORING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "real_origin_monitoring"
          }
        },
        "SCRIPTMONITOR_ALERT_NEW_CODE_CHANGE_DETECTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scriptmonitor_alert_new_code_change_detections"
          }
        },
        "SCRIPTMONITOR_ALERT_NEW_HOSTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scriptmonitor_alert_new_hosts"
          }
        },
        "SCRIPTMONITOR_ALERT_NEW_MALICIOUS_HOSTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scriptmonitor_alert_new_malicious_hosts"
          }
        },
        "SCRIPTMONITOR_ALERT_NEW_MALICIOUS_SCRIPTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scriptmonitor_alert_new_malicious_scripts"
          }
        },
        "SCRIPTMONITOR_ALERT_NEW_MALICIOUS_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scriptmonitor_alert_new_malicious_url"
          }
        },
        "SCRIPTMONITOR_ALERT_NEW_MAX_LENGTH_RESOURCE_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scriptmonitor_alert_new_max_length_resource_url"
          }
        },
        "SCRIPTMONITOR_ALERT_NEW_RESOURCES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scriptmonitor_alert_new_resources"
          }
        },
        "SECONDARY_DNS_ALL_PRIMARIES_FAILING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secondary_dns_all_primaries_failing"
          }
        },
        "SECONDARY_DNS_PRIMARIES_FAILING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secondary_dns_primaries_failing"
          }
        },
        "SECONDARY_DNS_WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secondary_dns_warning"
          }
        },
        "SECONDARY_DNS_ZONE_SUCCESSFULLY_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secondary_dns_zone_successfully_updated"
          }
        },
        "SECONDARY_DNS_ZONE_VALIDATION_WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secondary_dns_zone_validation_warning"
          }
        },
        "SECURITY_INSIGHTS_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "security_insights_alert"
          }
        },
        "SENTINEL_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sentinel_alert"
          }
        },
        "STREAM_LIVE_NOTIFICATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stream_live_notifications"
          }
        },
        "SYNTHETIC_TEST_LATENCY_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "synthetic_test_latency_alert"
          }
        },
        "SYNTHETIC_TEST_LOW_AVAILABILITY_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "synthetic_test_low_availability_alert"
          }
        },
        "TRAFFIC_ANOMALIES_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "traffic_anomalies_alert"
          }
        },
        "TUNNEL_HEALTH_EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tunnel_health_event"
          }
        },
        "TUNNEL_UPDATE_EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tunnel_update_event"
          }
        },
        "UNIVERSAL_SSL_EVENT_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "universal_ssl_event_type"
          }
        },
        "WEB_ANALYTICS_METRICS_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "web_analytics_metrics_update"
          }
        },
        "ZONE_AOP_CUSTOM_CERTIFICATE_EXPIRATION_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zone_aop_custom_certificate_expiration_type"
          }
        }
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersActionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersAffectedAsnsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersAffectedComponentsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersAffectedLocationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersAirportCodeList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersAlertTriggerPreferencesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersAlertTriggerPreferencesValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersEnabledList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersEnvironmentList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersEventList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersEventSourceList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersEventTypeList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersGroupByList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersHealthCheckIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersIncidentImpactItem": {
      "type": "enum",
      "members": {
        "INCIDENT_IMPACT_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCIDENT_IMPACT_NONE"
          }
        },
        "INCIDENT_IMPACT_MINOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCIDENT_IMPACT_MINOR"
          }
        },
        "INCIDENT_IMPACT_MAJOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCIDENT_IMPACT_MAJOR"
          }
        },
        "INCIDENT_IMPACT_CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCIDENT_IMPACT_CRITICAL"
          }
        }
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersIncidentImpactList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.alerting#PoliciesGetResponseFiltersIncidentImpactItem"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersInputIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersInsightClassList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersLimitList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersLogoTagList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersMegabitsPerSecondList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersNewHealthList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersNewStatusList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersPacketsPerSecondList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersPoolIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersPopNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersProductList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersProjectIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersProtocolList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersQueryTagList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersRequestsPerSecondList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersSelectorsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersServicesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersSloList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersStatusList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersTargetHostnameList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersTargetIpList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersTargetZoneNameList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersTrafficExclusionsItem": {
      "type": "enum",
      "members": {
        "SECURITY_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "security_events"
          }
        }
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersTrafficExclusionsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.alerting#PoliciesGetResponseFiltersTrafficExclusionsItem"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersTunnelIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersTunnelNameList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersTypeList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersWhereList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFiltersZonesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.alerting#PoliciesGetResponseFilters": {
      "type": "structure",
      "members": {
        "actions": {
          "target": "com.cloudflare.alerting#PoliciesGetResponseFiltersActionsList",
          "traits": {
            "smithy.api#documentation": "Usage depends on specific alert type"
          }
        },
        "affected_asns": {
          "target": "com.cloudflare.alerting#PoliciesGetResponseFiltersAffectedAsnsList",
          "traits": {
            "smithy.api#documentation": "Used for configuring radar_notification"
          }
        },
        "affected_components": {
          "target": "com.cloudflare.alerting#PoliciesGetResponseFiltersAffectedComponentsList",
          "traits": {
            "smithy.api#documentation": "Used for configuring incident_alert"
          }
        },
        "affected_locations": {
          "target": "com.cloudflare.alerting#PoliciesGetResponseFiltersAffectedLocationsList",
          "traits": {
            "smithy.api#documentation": "Used for configuring radar_notification"
          }
        },
        "airport_code": {
          "target": "com.cloudflare.alerting#PoliciesGetResponseFiltersAirportCodeList",
          "traits": {
            "smithy.api#documentation": "Used for configuring maintenance_event_notification"
          }
        },
        "alert_trigger_preferences": {
          "target": "com.cloudflare.alerting#PoliciesGetResponseFiltersAlertTriggerPreferencesList",
          "traits": {
            "smithy.api#documentation": "Usage depends on specific alert type"
          }
        },
        "alert_trigger_preferences_value": {
          "target": "com.cloudflare.alerting#PoliciesGetResponseFiltersAlertTriggerPreferencesValueList",
          "traits": {
            "smithy.api#documentation": "Usage depends on specific alert type"
          }
        },
        "enabled": {
          "target": "com.cloudflare.alerting#PoliciesGetResponseFiltersEnabledList",
          "traits": {
            "smithy.api#documentation": "Used for configuring load_balancing_pool_enablement_alert"
          }
        },
        "environment": {
          "target": "com.cloudflare.alerting#PoliciesGetResponseFiltersEnvironmentList",
          "traits": {
            "smithy.api#documentation": "Used for configuring pages_event_alert"
          }
        },
        "event": {
          "target": "com.cloudflare.alerting#PoliciesGetResponseFiltersEventList",
          "traits": {
            "smithy.api#documentation": "Used for configuring pages_event_alert"
          }
        },
        "event_source": {
          "target": "com.cloudflare.alerting#PoliciesGetResponseFiltersEventSourceList",
          "traits": {
            "smithy.api#documentation": "Used for configuring load_balancing_health_alert"
          }
        },
        "event_type": {
[...]
