{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.audit_logs#ListRequestAction": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filters by the action type."
          }
        }
      }
    },
    "com.cloudflare.audit_logs#ListRequestActor": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filters by the email address of the actor that made the change."
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filters by the IP address of the request that made the change by specific IP address or valid CIDR Range."
          }
        }
      }
    },
    "com.cloudflare.audit_logs#ListRequestDirection": {
      "type": "enum",
      "members": {
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        },
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        }
      }
    },
    "com.cloudflare.audit_logs#ListRequestZone": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filters by the name of the zone associated to the change."
          }
        }
      }
    },
    "com.cloudflare.audit_logs#ListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Finds a specific log by its ID.",
            "smithy.api#httpQuery": "id"
          }
        },
        "action": {
          "target": "com.cloudflare.audit_logs#ListRequestAction",
          "traits": {
            "com.cloudflare.protocols#deepQuery": "action"
          }
        },
        "actor": {
          "target": "com.cloudflare.audit_logs#ListRequestActor",
          "traits": {
            "com.cloudflare.protocols#deepQuery": "actor"
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Limits the returned results to logs older than the specified date. A `full-date` that conforms to RFC3339.",
            "smithy.api#httpQuery": "before"
          }
        },
        "direction": {
          "target": "com.cloudflare.audit_logs#ListRequestDirection",
          "traits": {
            "smithy.api#documentation": "Changes the direction of the chronological sorting.",
            "smithy.api#httpQuery": "direction"
          }
        },
        "export": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates that this request is an export of logs in CSV format.",
            "smithy.api#httpQuery": "export"
          }
        },
        "hide_user_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether or not to hide user level audit logs.",
            "smithy.api#httpQuery": "hide_user_logs"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Defines which page of results to return.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Sets the number of results to return per page.",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Limits the returned results to logs newer than the specified date. A `full-date` that conforms to RFC3339.",
            "smithy.api#httpQuery": "since"
          }
        },
        "zone": {
          "target": "com.cloudflare.audit_logs#ListRequestZone",
          "traits": {
            "com.cloudflare.protocols#deepQuery": "zone"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.audit_logs#ListResultItemAction": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A boolean that indicates if the action attempted was successful."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short string that describes the action that was performed."
          }
        }
      }
    },
    "com.cloudflare.audit_logs#ListResultItemActorType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "CLOUDFLARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cloudflare"
          }
        }
      }
    },
    "com.cloudflare.audit_logs#ListResultItemActor": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the actor that performed the action. If a user performed the action, this will be their User ID."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the user that performed the action."
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address of the request that performed the action."
          }
        },
        "type": {
          "target": "com.cloudflare.audit_logs#ListResultItemActorType",
          "traits": {
            "smithy.api#documentation": "The type of actor, whether a User, Cloudflare Admin, or an Automated System."
          }
        }
      }
    },
    "com.cloudflare.audit_logs#ListResultItemOwner": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        }
      }
    },
    "com.cloudflare.audit_logs#ListResultItemResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier for the resource that was affected by the action."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short string that describes the resource that was affected by the action."
          }
        }
      }
    },
    "com.cloudflare.audit_logs#ListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string that uniquely identifies the audit log."
          }
        },
        "action": {
          "target": "com.cloudflare.audit_logs#ListResultItemAction"
        },
        "actor": {
          "target": "com.cloudflare.audit_logs#ListResultItemActor"
        },
        "interface": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source of the event."
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "An object which can lend more context to the action being logged. This is a flexible value and varies between different actions."
          }
        },
        "newValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new value of the resource that was modified."
          }
        },
        "oldValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the resource before it was modified."
          }
        },
        "owner": {
          "target": "com.cloudflare.audit_logs#ListResultItemOwner"
        },
        "resource": {
          "target": "com.cloudflare.audit_logs#ListResultItemResource"
        },
        "when": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A UTC RFC3339 timestamp that specifies when the action being logged occured."
          }
        }
      }
    },
    "com.cloudflare.audit_logs#ListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.audit_logs#ListResultItem"
      }
    },
    "com.cloudflare.audit_logs#ListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.audit_logs#ListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.audit_logs#List": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.audit_logs#ListRequest"
      },
      "output": {
        "target": "com.cloudflare.audit_logs#ListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/audit_logs",
          "code": 200
        },
        "smithy.api#documentation": "Gets a list of audit logs for an account. Can be filtered by who made the change, on which zone, and the timeframe of the change.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.audit_logs#AuditLogs": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.audit_logs#List"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare AuditLogs",
        "smithy.api#documentation": "Cloudflare API — audit_logs resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    }
  }
}
