{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.cloud_connector#RulesListRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloud_connector#RulesListResultItemParameters": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Host to perform Cloud Connection to"
          }
        }
      }
    },
    "com.cloudflare.cloud_connector#RulesListResultItemProvider": {
      "type": "enum",
      "members": {
        "AWS_S3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aws_s3"
          }
        },
        "CLOUDFLARE_R2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflare_r2"
          }
        },
        "GCP_STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gcp_storage"
          }
        },
        "AZURE_STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "azure_storage"
          }
        }
      }
    },
    "com.cloudflare.cloud_connector#RulesListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "expression": {
          "target": "smithy.api#String"
        },
        "parameters": {
          "target": "com.cloudflare.cloud_connector#RulesListResultItemParameters",
          "traits": {
            "smithy.api#documentation": "Parameters of Cloud Connector Rule"
          }
        },
        "provider": {
          "target": "com.cloudflare.cloud_connector#RulesListResultItemProvider",
          "traits": {
            "smithy.api#documentation": "Cloud Provider type"
          }
        }
      }
    },
    "com.cloudflare.cloud_connector#RulesListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.cloud_connector#RulesListResultItem"
      }
    },
    "com.cloudflare.cloud_connector#RulesListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.cloud_connector#RulesListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.cloud_connector#RulesList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.cloud_connector#RulesListRequest"
      },
      "output": {
        "target": "com.cloudflare.cloud_connector#RulesListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/cloud_connector/rules",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves the Cloud Connector rules configured for a zone. Rules define how traffic is routed to cloud services.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.cloud_connector#RulesUpdateRequestRulesItemParameters": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Host to perform Cloud Connection to"
          }
        }
      }
    },
    "com.cloudflare.cloud_connector#RulesUpdateRequestRulesItemProvider": {
      "type": "enum",
      "members": {
        "AWS_S3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aws_s3"
          }
        },
        "CLOUDFLARE_R2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflare_r2"
          }
        },
        "GCP_STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gcp_storage"
          }
        },
        "AZURE_STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "azure_storage"
          }
        }
      }
    },
    "com.cloudflare.cloud_connector#RulesUpdateRequestRulesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "expression": {
          "target": "smithy.api#String"
        },
        "parameters": {
          "target": "com.cloudflare.cloud_connector#RulesUpdateRequestRulesItemParameters",
          "traits": {
            "smithy.api#documentation": "Parameters of Cloud Connector Rule"
          }
        },
        "provider": {
          "target": "com.cloudflare.cloud_connector#RulesUpdateRequestRulesItemProvider",
          "traits": {
            "smithy.api#documentation": "Cloud Provider type"
          }
        }
      }
    },
    "com.cloudflare.cloud_connector#RulesUpdateRequestRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.cloud_connector#RulesUpdateRequestRulesItem"
      }
    },
    "com.cloudflare.cloud_connector#RulesUpdateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rules": {
          "target": "com.cloudflare.cloud_connector#RulesUpdateRequestRulesList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.cloud_connector#RulesUpdateResultItemParameters": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Host to perform Cloud Connection to"
          }
        }
      }
    },
    "com.cloudflare.cloud_connector#RulesUpdateResultItemProvider": {
      "type": "enum",
      "members": {
        "AWS_S3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aws_s3"
          }
        },
        "CLOUDFLARE_R2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflare_r2"
          }
        },
        "GCP_STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gcp_storage"
          }
        },
        "AZURE_STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "azure_storage"
          }
        }
      }
    },
    "com.cloudflare.cloud_connector#RulesUpdateResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "expression": {
          "target": "smithy.api#String"
        },
        "parameters": {
          "target": "com.cloudflare.cloud_connector#RulesUpdateResultItemParameters",
          "traits": {
            "smithy.api#documentation": "Parameters of Cloud Connector Rule"
          }
        },
        "provider": {
          "target": "com.cloudflare.cloud_connector#RulesUpdateResultItemProvider",
          "traits": {
            "smithy.api#documentation": "Cloud Provider type"
          }
        }
      }
    },
    "com.cloudflare.cloud_connector#RulesUpdateResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.cloud_connector#RulesUpdateResultItem"
      }
    },
    "com.cloudflare.cloud_connector#RulesUpdateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.cloud_connector#RulesUpdateResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.cloud_connector#RulesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.cloud_connector#RulesUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.cloud_connector#RulesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/cloud_connector/rules",
          "code": 200
        },
        "smithy.api#documentation": "Updates Cloud Connector rules for a zone, replacing the existing rule configuration.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.cloud_connector#CloudConnector": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.cloud_connector#RulesList"
        },
        {
          "target": "com.cloudflare.cloud_connector#RulesUpdate"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare CloudConnector",
        "smithy.api#documentation": "Cloudflare API — cloud_connector resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    }
  }
}
