{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestHostInfraIPv4HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestHostInfraIPv4Host": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestHostInfraIPv4HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestHostInfraIPv6HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestHostInfraIPv6Host": {
      "type": "structure",
      "members": {
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestHostInfraIPv6HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestHostInfraDualStackHostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestHostInfraDualStackHost": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestHostInfraDualStackHostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestHostInfraHostnameHostResolverNetworkResolverIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestHostInfraHostnameHostResolverNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_ips": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestHostInfraHostnameHostResolverNetworkResolverIpsList"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestHostInfraHostnameHost": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestHostInfraHostnameHostResolverNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestHost": {
      "type": "union",
      "members": {
        "InfraIPv4Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestHostInfraIPv4Host"
        },
        "InfraIPv6Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestHostInfraIPv6Host"
        },
        "InfraDualStackHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestHostInfraDualStackHost"
        },
        "InfraHostnameHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestHostInfraHostnameHost"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestTlsSettings": {
      "type": "structure",
      "members": {
        "cert_verification_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TLS certificate verification mode for the connection to the origin.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequestAppProtocol": {
      "type": "enum",
      "members": {
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestHost",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "http_port": {
          "target": "smithy.api#Double"
        },
        "https_port": {
          "target": "smithy.api#Double"
        },
        "service_id": {
          "target": "smithy.api#String"
        },
        "tls_settings": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestTlsSettings",
          "traits": {
            "smithy.api#documentation": "TLS settings for a connectivity service."
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "app_protocol": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequestAppProtocol"
        },
        "tcp_port": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraIPv4HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraIPv4Host": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraIPv4HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraIPv6HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraIPv6Host": {
      "type": "structure",
      "members": {
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraIPv6HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraDualStackHostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraDualStackHost": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraDualStackHostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraHostnameHostResolverNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_ips": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraHostnameHost": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraHostnameHostResolverNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHost": {
      "type": "union",
      "members": {
        "InfraIPv4Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraIPv4Host"
        },
        "InfraIPv6Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraIPv6Host"
        },
        "InfraDualStackHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraDualStackHost"
        },
        "InfraHostnameHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHostInfraHostnameHost"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigTlsSettings": {
      "type": "structure",
      "members": {
        "cert_verification_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TLS certificate verification mode for the connection to the origin.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfig": {
      "type": "structure",
      "members": {
        "host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigHost",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "http_port": {
          "target": "smithy.api#Double"
        },
        "https_port": {
          "target": "smithy.api#Double"
        },
        "service_id": {
          "target": "smithy.api#String"
        },
        "tls_settings": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfigTlsSettings",
          "traits": {
            "smithy.api#documentation": "TLS settings for a connectivity service."
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraIPv4HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraIPv4Host": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraIPv4HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraIPv6HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraIPv6Host": {
      "type": "structure",
      "members": {
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraIPv6HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraDualStackHostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraDualStackHost": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraDualStackHostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraHostnameHostResolverNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_ips": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraHostnameHost": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraHostnameHostResolverNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHost": {
      "type": "union",
      "members": {
        "InfraIPv4Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraIPv4Host"
        },
        "InfraIPv6Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraIPv6Host"
        },
        "InfraDualStackHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraDualStackHost"
        },
        "InfraHostnameHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHostInfraHostnameHost"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigAppProtocol": {
      "type": "enum",
      "members": {
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigTlsSettings": {
      "type": "structure",
      "members": {
        "cert_verification_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TLS certificate verification mode for the connection to the origin.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfig": {
      "type": "structure",
      "members": {
        "host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigHost",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "app_protocol": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigAppProtocol"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "service_id": {
          "target": "smithy.api#String"
        },
        "tcp_port": {
          "target": "smithy.api#Double"
        },
        "tls_settings": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfigTlsSettings",
          "traits": {
            "smithy.api#documentation": "TLS settings for a connectivity service."
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResult": {
      "type": "union",
      "members": {
        "InfraHTTPServiceConfig": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraHTTPServiceConfig"
        },
        "InfraTCPServiceConfig": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResultInfraTCPServiceConfig"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreateResult",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.connectivity#DirectoryServicesCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.connectivity#DirectoryServicesCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/connectivity/directory/services",
          "code": 200
        },
        "smithy.api#documentation": "Create Workers VPC connectivity service"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.connectivity#DirectoryServicesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/connectivity/directory/services/{service_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete Workers VPC connectivity service",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraIPv4HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraIPv4Host": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraIPv4HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraIPv6HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraIPv6Host": {
      "type": "structure",
      "members": {
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraIPv6HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraDualStackHostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraDualStackHost": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraDualStackHostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraHostnameHostResolverNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_ips": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraHostnameHost": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraHostnameHostResolverNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHost": {
      "type": "union",
      "members": {
        "InfraIPv4Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraIPv4Host"
        },
        "InfraIPv6Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraIPv6Host"
        },
        "InfraDualStackHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraDualStackHost"
        },
        "InfraHostnameHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHostInfraHostnameHost"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigTlsSettings": {
      "type": "structure",
      "members": {
        "cert_verification_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TLS certificate verification mode for the connection to the origin.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfig": {
      "type": "structure",
      "members": {
        "host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigHost",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "http_port": {
          "target": "smithy.api#Double"
        },
        "https_port": {
          "target": "smithy.api#Double"
        },
        "service_id": {
          "target": "smithy.api#String"
        },
        "tls_settings": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfigTlsSettings",
          "traits": {
            "smithy.api#documentation": "TLS settings for a connectivity service."
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraIPv4HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraIPv4Host": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraIPv4HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraIPv6HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraIPv6Host": {
      "type": "structure",
      "members": {
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraIPv6HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraDualStackHostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraDualStackHost": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraDualStackHostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraHostnameHostResolverNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_ips": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraHostnameHost": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraHostnameHostResolverNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHost": {
      "type": "union",
      "members": {
        "InfraIPv4Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraIPv4Host"
        },
        "InfraIPv6Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraIPv6Host"
        },
        "InfraDualStackHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraDualStackHost"
        },
        "InfraHostnameHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHostInfraHostnameHost"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigAppProtocol": {
      "type": "enum",
      "members": {
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigTlsSettings": {
      "type": "structure",
      "members": {
        "cert_verification_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TLS certificate verification mode for the connection to the origin.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfig": {
      "type": "structure",
      "members": {
        "host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigHost",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "app_protocol": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigAppProtocol"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "service_id": {
          "target": "smithy.api#String"
        },
        "tcp_port": {
          "target": "smithy.api#Double"
        },
        "tls_settings": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfigTlsSettings",
          "traits": {
            "smithy.api#documentation": "TLS settings for a connectivity service."
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResult": {
      "type": "union",
      "members": {
        "InfraHTTPServiceConfig": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraHTTPServiceConfig"
        },
        "InfraTCPServiceConfig": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResultInfraTCPServiceConfig"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.connectivity#DirectoryServicesGetResult",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.connectivity#DirectoryServicesGetRequest"
      },
      "output": {
        "target": "com.cloudflare.connectivity#DirectoryServicesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/connectivity/directory/services/{service_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get Workers VPC connectivity service",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListRequestType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Current page in the response",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Max amount of entries returned per page",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListRequestType",
          "traits": {
            "smithy.api#httpQuery": "type"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraIPv4HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraIPv4Host": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraIPv4HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraIPv6HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraIPv6Host": {
      "type": "structure",
      "members": {
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraIPv6HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraDualStackHostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraDualStackHost": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraDualStackHostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraHostnameHostResolverNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_ips": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraHostnameHost": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraHostnameHostResolverNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHost": {
      "type": "union",
      "members": {
        "InfraIPv4Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraIPv4Host"
        },
        "InfraIPv6Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraIPv6Host"
        },
        "InfraDualStackHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraDualStackHost"
        },
        "InfraHostnameHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHostInfraHostnameHost"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigTlsSettings": {
      "type": "structure",
      "members": {
        "cert_verification_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TLS certificate verification mode for the connection to the origin.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfig": {
      "type": "structure",
      "members": {
        "host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigHost",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "http_port": {
          "target": "smithy.api#Double"
        },
        "https_port": {
          "target": "smithy.api#Double"
        },
        "service_id": {
          "target": "smithy.api#String"
        },
        "tls_settings": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfigTlsSettings",
          "traits": {
            "smithy.api#documentation": "TLS settings for a connectivity service."
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraIPv4HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraIPv4Host": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraIPv4HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraIPv6HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraIPv6Host": {
      "type": "structure",
      "members": {
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraIPv6HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraDualStackHostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraDualStackHost": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraDualStackHostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraHostnameHostResolverNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_ips": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraHostnameHost": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraHostnameHostResolverNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHost": {
      "type": "union",
      "members": {
        "InfraIPv4Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraIPv4Host"
        },
        "InfraIPv6Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraIPv6Host"
        },
        "InfraDualStackHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraDualStackHost"
        },
        "InfraHostnameHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHostInfraHostnameHost"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigAppProtocol": {
      "type": "enum",
      "members": {
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigTlsSettings": {
      "type": "structure",
      "members": {
        "cert_verification_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TLS certificate verification mode for the connection to the origin.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfig": {
      "type": "structure",
      "members": {
        "host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigHost",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "app_protocol": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigAppProtocol"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "service_id": {
          "target": "smithy.api#String"
        },
        "tcp_port": {
          "target": "smithy.api#Double"
        },
        "tls_settings": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfigTlsSettings",
          "traits": {
            "smithy.api#documentation": "TLS settings for a connectivity service."
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultItem": {
      "type": "union",
      "members": {
        "InfraHTTPServiceConfig": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraHTTPServiceConfig"
        },
        "InfraTCPServiceConfig": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultItemInfraTCPServiceConfig"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.connectivity#DirectoryServicesListResultItem"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.connectivity#DirectoryServicesListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.connectivity#DirectoryServicesListRequest"
      },
      "output": {
        "target": "com.cloudflare.connectivity#DirectoryServicesListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/connectivity/directory/services",
          "code": 200
        },
        "smithy.api#documentation": "List Workers VPC connectivity services",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestHostInfraIPv4HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestHostInfraIPv4Host": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestHostInfraIPv4HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestHostInfraIPv6HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestHostInfraIPv6Host": {
      "type": "structure",
      "members": {
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestHostInfraIPv6HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestHostInfraDualStackHostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestHostInfraDualStackHost": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestHostInfraDualStackHostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestHostInfraHostnameHostResolverNetworkResolverIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestHostInfraHostnameHostResolverNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_ips": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestHostInfraHostnameHostResolverNetworkResolverIpsList"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestHostInfraHostnameHost": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestHostInfraHostnameHostResolverNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestHost": {
      "type": "union",
      "members": {
        "InfraIPv4Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestHostInfraIPv4Host"
        },
        "InfraIPv6Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestHostInfraIPv6Host"
        },
        "InfraDualStackHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestHostInfraDualStackHost"
        },
        "InfraHostnameHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestHostInfraHostnameHost"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestTlsSettings": {
      "type": "structure",
      "members": {
        "cert_verification_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TLS certificate verification mode for the connection to the origin.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequestAppProtocol": {
      "type": "enum",
      "members": {
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "service_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestHost",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "http_port": {
          "target": "smithy.api#Double"
        },
        "https_port": {
          "target": "smithy.api#Double"
        },
        "service_id_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "service_id"
          }
        },
        "tls_settings": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestTlsSettings",
          "traits": {
            "smithy.api#documentation": "TLS settings for a connectivity service."
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "app_protocol": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequestAppProtocol"
        },
        "tcp_port": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraIPv4HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraIPv4Host": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraIPv4HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraIPv6HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraIPv6Host": {
      "type": "structure",
      "members": {
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraIPv6HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraDualStackHostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraDualStackHost": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraDualStackHostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraHostnameHostResolverNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_ips": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraHostnameHost": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraHostnameHostResolverNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHost": {
      "type": "union",
      "members": {
        "InfraIPv4Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraIPv4Host"
        },
        "InfraIPv6Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraIPv6Host"
        },
        "InfraDualStackHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraDualStackHost"
        },
        "InfraHostnameHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHostInfraHostnameHost"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigTlsSettings": {
      "type": "structure",
      "members": {
        "cert_verification_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TLS certificate verification mode for the connection to the origin.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfig": {
      "type": "structure",
      "members": {
        "host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigHost",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "http_port": {
          "target": "smithy.api#Double"
        },
        "https_port": {
          "target": "smithy.api#Double"
        },
        "service_id": {
          "target": "smithy.api#String"
        },
        "tls_settings": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfigTlsSettings",
          "traits": {
            "smithy.api#documentation": "TLS settings for a connectivity service."
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraIPv4HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraIPv4Host": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraIPv4HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraIPv6HostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraIPv6Host": {
      "type": "structure",
      "members": {
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraIPv6HostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraDualStackHostNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraDualStackHost": {
      "type": "structure",
      "members": {
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraDualStackHostNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraHostnameHostResolverNetwork": {
      "type": "structure",
      "members": {
        "tunnel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_ips": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraHostnameHostResolverNetworkResolverIpsList"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraHostnameHost": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resolver_network": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraHostnameHostResolverNetwork",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHost": {
      "type": "union",
      "members": {
        "InfraIPv4Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraIPv4Host"
        },
        "InfraIPv6Host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraIPv6Host"
        },
        "InfraDualStackHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraDualStackHost"
        },
        "InfraHostnameHost": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHostInfraHostnameHost"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigAppProtocol": {
      "type": "enum",
      "members": {
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "postgresql"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mysql"
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigTlsSettings": {
      "type": "structure",
      "members": {
        "cert_verification_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TLS certificate verification mode for the connection to the origin.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfig": {
      "type": "structure",
      "members": {
        "host": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigHost",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "app_protocol": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigAppProtocol"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "service_id": {
          "target": "smithy.api#String"
        },
        "tcp_port": {
          "target": "smithy.api#Double"
        },
        "tls_settings": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfigTlsSettings",
          "traits": {
            "smithy.api#documentation": "TLS settings for a connectivity service."
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResult": {
      "type": "union",
      "members": {
        "InfraHTTPServiceConfig": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraHTTPServiceConfig"
        },
        "InfraTCPServiceConfig": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResultInfraTCPServiceConfig"
        }
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResult",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.connectivity#DirectoryServicesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.connectivity#DirectoryServicesUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.connectivity#DirectoryServicesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/connectivity/directory/services/{service_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update Workers VPC connectivity service",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.connectivity#Connectivity": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.connectivity#DirectoryServicesCreate"
        },
        {
          "target": "com.cloudflare.connectivity#DirectoryServicesDelete"
        },
        {
          "target": "com.cloudflare.connectivity#DirectoryServicesGet"
        },
        {
          "target": "com.cloudflare.connectivity#DirectoryServicesList"
        },
        {
          "target": "com.cloudflare.connectivity#DirectoryServicesUpdate"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare Connectivity",
        "smithy.api#documentation": "Cloudflare API — connectivity resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    }
  }
}
