{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.custom_hostnames#CreateRequestCustomMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#CreateRequestSslBundleMethod": {
      "type": "enum",
      "members": {
        "UBIQUITOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ubiquitous"
          }
        },
        "OPTIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "optimal"
          }
        },
        "FORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "force"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateRequestSslCertificateAuthority": {
      "type": "enum",
      "members": {
        "DIGICERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "digicert"
          }
        },
        "GOOGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google"
          }
        },
        "LETS_ENCRYPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lets_encrypt"
          }
        },
        "SSL_COM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ssl_com"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateRequestSslCustomCertBundleItem": {
      "type": "structure",
      "members": {
        "custom_certificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If a custom uploaded certificate is used.",
            "smithy.api#required": {}
          }
        },
        "custom_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key for a custom uploaded certificate.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateRequestSslCustomCertBundleList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.custom_hostnames#CreateRequestSslCustomCertBundleItem"
      }
    },
    "com.cloudflare.custom_hostnames#CreateRequestSslMethod": {
      "type": "enum",
      "members": {
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        },
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "txt"
          }
        },
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateRequestSslSettingsCiphersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#CreateRequestSslSettingsEarlyHints": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateRequestSslSettingsHttp2": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateRequestSslSettingsMinTlsVersion": {
      "type": "enum",
      "members": {
        "_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.0"
          }
        },
        "_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.1"
          }
        },
        "_1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.2"
          }
        },
        "_1_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.3"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateRequestSslSettingsTls13": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateRequestSslSettings": {
      "type": "structure",
      "members": {
        "ciphers": {
          "target": "com.cloudflare.custom_hostnames#CreateRequestSslSettingsCiphersList",
          "traits": {
            "smithy.api#documentation": "An allowlist of ciphers for TLS termination. These ciphers must be in the BoringSSL format."
          }
        },
        "early_hints": {
          "target": "com.cloudflare.custom_hostnames#CreateRequestSslSettingsEarlyHints",
          "traits": {
            "smithy.api#documentation": "Whether or not Early Hints is enabled."
          }
        },
        "http2": {
          "target": "com.cloudflare.custom_hostnames#CreateRequestSslSettingsHttp2",
          "traits": {
            "smithy.api#documentation": "Whether or not HTTP2 is enabled."
          }
        },
        "min_tls_version": {
          "target": "com.cloudflare.custom_hostnames#CreateRequestSslSettingsMinTlsVersion",
          "traits": {
            "smithy.api#documentation": "The minimum TLS version supported."
          }
        },
        "tls_1_3": {
          "target": "com.cloudflare.custom_hostnames#CreateRequestSslSettingsTls13",
          "traits": {
            "smithy.api#documentation": "Whether or not TLS 1.3 is enabled."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateRequestSslType": {
      "type": "enum",
      "members": {
        "DV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dv"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateRequestSsl": {
      "type": "structure",
      "members": {
        "bundle_method": {
          "target": "com.cloudflare.custom_hostnames#CreateRequestSslBundleMethod",
          "traits": {
            "smithy.api#documentation": "A ubiquitous bundle has the highest probability of being verified everywhere, even by clients using outdated or unusual trust stores. An optimal bundle uses the shortest chain and newest intermediates. And the force bundle verifies the chain, but does not otherwise modify it."
          }
        },
        "certificate_authority": {
          "target": "com.cloudflare.custom_hostnames#CreateRequestSslCertificateAuthority",
          "traits": {
            "smithy.api#documentation": "The Certificate Authority that will issue the certificate."
          }
        },
        "cloudflare_branding": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not to add Cloudflare Branding for the order.  This will add a subdomain of sni.cloudflaressl.com as the Common Name if set to true."
          }
        },
        "custom_cert_bundle": {
          "target": "com.cloudflare.custom_hostnames#CreateRequestSslCustomCertBundleList",
          "traits": {
            "smithy.api#documentation": "Array of custom certificate and key pairs (1 or 2 pairs allowed)."
          }
        },
        "custom_certificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If a custom uploaded certificate is used."
          }
        },
        "custom_csr_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier for the Custom CSR that was used."
          }
        },
        "custom_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key for a custom uploaded certificate."
          }
        },
        "method": {
          "target": "com.cloudflare.custom_hostnames#CreateRequestSslMethod",
          "traits": {
            "smithy.api#documentation": "Domain control validation (DCV) method used for this hostname."
          }
        },
        "settings": {
          "target": "com.cloudflare.custom_hostnames#CreateRequestSslSettings",
          "traits": {
            "smithy.api#documentation": "SSL specific settings."
          }
        },
        "type": {
          "target": "com.cloudflare.custom_hostnames#CreateRequestSslType",
          "traits": {
            "smithy.api#documentation": "Level of validation to be used for this hostname. Domain validation (dv) must be used."
          }
        },
        "wildcard": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the certificate covers a wildcard."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The custom hostname that will point to your hostname via CNAME.",
            "smithy.api#required": {}
          }
        },
        "custom_metadata": {
          "target": "com.cloudflare.custom_hostnames#CreateRequestCustomMetadataMap",
          "traits": {
            "smithy.api#documentation": "Unique key/value metadata for this hostname. These are per-hostname (customer) settings."
          }
        },
        "ssl": {
          "target": "com.cloudflare.custom_hostnames#CreateRequestSsl",
          "traits": {
            "smithy.api#documentation": "SSL properties used when creating the custom hostname."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseCustomMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseOwnershipVerificationType": {
      "type": "enum",
      "members": {
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "txt"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseOwnershipVerification": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS Name for record."
          }
        },
        "type": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseOwnershipVerificationType",
          "traits": {
            "smithy.api#documentation": "DNS Record type."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content for the record."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseOwnershipVerificationHttp": {
      "type": "structure",
      "members": {
        "http_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to be served."
          }
        },
        "http_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP URL that will be checked during custom hostname verification and where the customer should host the token."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSslBundleMethod": {
      "type": "enum",
      "members": {
        "UBIQUITOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ubiquitous"
          }
        },
        "OPTIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "optimal"
          }
        },
        "FORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "force"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSslCertificateAuthority": {
      "type": "enum",
      "members": {
        "DIGICERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "digicert"
          }
        },
        "GOOGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google"
          }
        },
        "LETS_ENCRYPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lets_encrypt"
          }
        },
        "SSL_COM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ssl_com"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSslDcvDelegationRecordsItemEmailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSslDcvDelegationRecordsItem": {
      "type": "structure",
      "members": {
        "cname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record hostname for DCV delegation."
          }
        },
        "cname_target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record target value for DCV delegation."
          }
        },
        "emails": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseSslDcvDelegationRecordsItemEmailsList",
          "traits": {
            "smithy.api#documentation": "The set of email addresses that the certificate authority (CA) will use to complete domain validation."
          }
        },
        "http_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content that the certificate authority (CA) will expect to find at the http_url during the domain validation."
          }
        },
        "http_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The url that will be checked during domain validation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the validation record."
          }
        },
        "txt_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname that the certificate authority (CA) will check for a TXT record during domain validation ."
          }
        },
        "txt_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The TXT record that the certificate authority (CA) will check during domain validation."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSslDcvDelegationRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.custom_hostnames#CreateResponseSslDcvDelegationRecordsItem"
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSslHostsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSslMethod": {
      "type": "enum",
      "members": {
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        },
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "txt"
          }
        },
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSslSettingsCiphersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSslSettingsEarlyHints": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSslSettingsHttp2": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSslSettingsMinTlsVersion": {
      "type": "enum",
      "members": {
        "_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.0"
          }
        },
        "_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.1"
          }
        },
        "_1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.2"
          }
        },
        "_1_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.3"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSslSettingsTls13": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSslSettings": {
      "type": "structure",
      "members": {
        "ciphers": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseSslSettingsCiphersList",
          "traits": {
            "smithy.api#documentation": "An allowlist of ciphers for TLS termination. These ciphers must be in the BoringSSL format."
          }
        },
        "early_hints": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseSslSettingsEarlyHints",
          "traits": {
            "smithy.api#documentation": "Whether or not Early Hints is enabled."
          }
        },
        "http2": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseSslSettingsHttp2",
          "traits": {
            "smithy.api#documentation": "Whether or not HTTP2 is enabled."
          }
        },
        "min_tls_version": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseSslSettingsMinTlsVersion",
          "traits": {
            "smithy.api#documentation": "The minimum TLS version supported."
          }
        },
        "tls_1_3": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseSslSettingsTls13",
          "traits": {
            "smithy.api#documentation": "Whether or not TLS 1.3 is enabled."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSslStatus": {
      "type": "enum",
      "members": {
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initializing"
          }
        },
        "PENDING_VALIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_validation"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        },
        "PENDING_ISSUANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_issuance"
          }
        },
        "PENDING_DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_deployment"
          }
        },
        "PENDING_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_deletion"
          }
        },
        "PENDING_EXPIRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_expiration"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INITIALIZING_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initializing_timed_out"
          }
        },
        "VALIDATION_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "validation_timed_out"
          }
        },
        "ISSUANCE_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "issuance_timed_out"
          }
        },
        "DEPLOYMENT_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployment_timed_out"
          }
        },
        "DELETION_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deletion_timed_out"
          }
        },
        "PENDING_CLEANUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_cleanup"
          }
        },
        "STAGING_DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "staging_deployment"
          }
        },
        "STAGING_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "staging_active"
          }
        },
        "DEACTIVATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deactivating"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "BACKUP_ISSUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "backup_issued"
          }
        },
        "HOLDING_DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "holding_deployment"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSslType": {
      "type": "enum",
      "members": {
        "DV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dv"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSslValidationErrorsItem": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A domain validation error."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSslValidationErrorsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.custom_hostnames#CreateResponseSslValidationErrorsItem"
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSslValidationRecordsItemEmailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSslValidationRecordsItem": {
      "type": "structure",
      "members": {
        "cname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record hostname for DCV delegation."
          }
        },
        "cname_target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record target value for DCV delegation."
          }
        },
        "emails": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseSslValidationRecordsItemEmailsList",
          "traits": {
            "smithy.api#documentation": "The set of email addresses that the certificate authority (CA) will use to complete domain validation."
          }
        },
        "http_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content that the certificate authority (CA) will expect to find at the http_url during the domain validation."
          }
        },
        "http_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The url that will be checked during domain validation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the validation record."
          }
        },
        "txt_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname that the certificate authority (CA) will check for a TXT record during domain validation ."
          }
        },
        "txt_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The TXT record that the certificate authority (CA) will check during domain validation."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSslValidationRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.custom_hostnames#CreateResponseSslValidationRecordsItem"
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseSsl": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom hostname SSL identifier tag."
          }
        },
        "bundle_method": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseSslBundleMethod",
          "traits": {
            "smithy.api#documentation": "A ubiquitous bundle has the highest probability of being verified everywhere, even by clients using outdated or unusual trust stores. An optimal bundle uses the shortest chain and newest intermediates. And the force bundle verifies the chain, but does not otherwise modify it."
          }
        },
        "certificate_authority": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseSslCertificateAuthority",
          "traits": {
            "smithy.api#documentation": "The Certificate Authority that will issue the certificate."
          }
        },
        "custom_certificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If a custom uploaded certificate is used."
          }
        },
        "custom_csr_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier for the Custom CSR that was used."
          }
        },
        "custom_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key for a custom uploaded certificate."
          }
        },
        "dcv_delegation_records": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseSslDcvDelegationRecordsList",
          "traits": {
            "smithy.api#documentation": "DCV Delegation records for domain validation."
          }
        },
        "expires_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the custom certificate expires on."
          }
        },
        "hosts": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseSslHostsList",
          "traits": {
            "smithy.api#documentation": "A list of Hostnames on a custom uploaded certificate."
          }
        },
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The issuer on a custom uploaded certificate."
          }
        },
        "method": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseSslMethod",
          "traits": {
            "smithy.api#documentation": "Domain control validation (DCV) method used for this hostname."
          }
        },
        "serial_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The serial number on a custom uploaded certificate."
          }
        },
        "settings": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseSslSettings"
        },
        "signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The signature on a custom uploaded certificate."
          }
        },
        "status": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseSslStatus",
          "traits": {
            "smithy.api#documentation": "Status of the hostname's SSL certificates."
          }
        },
        "type": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseSslType",
          "traits": {
            "smithy.api#documentation": "Level of validation to be used for this hostname. Domain validation (dv) must be used."
          }
        },
        "uploaded_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the custom certificate was uploaded."
          }
        },
        "validation_errors": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseSslValidationErrorsList",
          "traits": {
            "smithy.api#documentation": "Domain validation errors that have been received by the certificate authority (CA)."
          }
        },
        "validation_records": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseSslValidationRecordsList"
        },
        "wildcard": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the certificate covers a wildcard."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "ACTIVE_REDEPLOYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active_redeploying"
          }
        },
        "MOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "moved"
          }
        },
        "PENDING_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_deletion"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        },
        "PENDING_BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_blocked"
          }
        },
        "PENDING_MIGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_migration"
          }
        },
        "PENDING_PROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_provisioned"
          }
        },
        "TEST_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "test_pending"
          }
        },
        "TEST_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "test_active"
          }
        },
        "TEST_ACTIVE_APEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "test_active_apex"
          }
        },
        "TEST_BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "test_blocked"
          }
        },
        "TEST_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "test_failed"
          }
        },
        "PROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provisioned"
          }
        },
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blocked"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponseVerificationErrorsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#CreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The custom hostname that will point to your hostname via CNAME.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the time the hostname was created."
          }
        },
        "custom_metadata": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseCustomMetadataMap",
          "traits": {
            "smithy.api#documentation": "Unique key/value metadata for this hostname. These are per-hostname (customer) settings."
          }
        },
        "custom_origin_server": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a valid hostname that’s been added to your DNS zone as an A, AAAA, or CNAME record."
          }
        },
        "custom_origin_sni": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hostname that will be sent to your custom origin server as SNI for TLS handshake. This can be a valid subdomain of the zone or custom origin server name or the string ':request_host_header:' which will cause the host header in the request to be used as SNI. Not configurable with default/fallback origin server."
          }
        },
        "ownership_verification": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseOwnershipVerification",
          "traits": {
            "smithy.api#documentation": "This is a record which can be placed to activate a hostname."
          }
        },
        "ownership_verification_http": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseOwnershipVerificationHttp",
          "traits": {
            "smithy.api#documentation": "This presents the token to be served by the given http url to activate a hostname."
          }
        },
        "ssl": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseSsl"
        },
        "status": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseStatus",
          "traits": {
            "smithy.api#documentation": "Status of the hostname's activation."
          }
        },
        "verification_errors": {
          "target": "com.cloudflare.custom_hostnames#CreateResponseVerificationErrorsList",
          "traits": {
            "smithy.api#documentation": "These are errors that were encountered while trying to activate a hostname."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.custom_hostnames#Create": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.custom_hostnames#CreateRequest"
      },
      "output": {
        "target": "com.cloudflare.custom_hostnames#CreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/custom_hostnames",
          "code": 200
        },
        "smithy.api#documentation": "Add a new custom hostname and request that an SSL certificate be issued for it. One of three validation methods—http, txt, email—should be used, with 'http' recommended if the CNAME is already in place (or will be soon). Specifying 'email' will send an email to the WHOIS contacts on file for the base domain plus hostmaster, postmaster, webmaster, admin, administrator. If http is used and the domain is not already pointing to the Managed CNAME host, the PATCH method must be used once it is (to complete validation).  Enable bundling of certificates using the custom_cert_bundle field. The bundling process requires the following condition One certificate in the bundle must use an RSA, and the other must use an ECDSA."
      }
    },
    "com.cloudflare.custom_hostnames#DeleteRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "custom_hostname_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.custom_hostnames#DeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.custom_hostnames#Delete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.custom_hostnames#DeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.custom_hostnames#DeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/custom_hostnames/{custom_hostname_id}",
          "code": 200
        },
        "smithy.api#documentation": "Permanently deletes a custom hostname and revokes any SSL certificates that were issued for it. This action cannot be undone.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.custom_hostnames#EditRequestCustomMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#EditRequestSslBundleMethod": {
      "type": "enum",
      "members": {
        "UBIQUITOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ubiquitous"
          }
        },
        "OPTIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "optimal"
          }
        },
        "FORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "force"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditRequestSslCertificateAuthority": {
      "type": "enum",
      "members": {
        "DIGICERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "digicert"
          }
        },
        "GOOGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google"
          }
        },
        "LETS_ENCRYPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lets_encrypt"
          }
        },
        "SSL_COM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ssl_com"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditRequestSslCustomCertBundleItem": {
      "type": "structure",
      "members": {
        "custom_certificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If a custom uploaded certificate is used.",
            "smithy.api#required": {}
          }
        },
        "custom_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key for a custom uploaded certificate.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditRequestSslCustomCertBundleList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.custom_hostnames#EditRequestSslCustomCertBundleItem"
      }
    },
    "com.cloudflare.custom_hostnames#EditRequestSslMethod": {
      "type": "enum",
      "members": {
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        },
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "txt"
          }
        },
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditRequestSslSettingsCiphersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#EditRequestSslSettingsEarlyHints": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditRequestSslSettingsHttp2": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditRequestSslSettingsMinTlsVersion": {
      "type": "enum",
      "members": {
        "_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.0"
          }
        },
        "_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.1"
          }
        },
        "_1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.2"
          }
        },
        "_1_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.3"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditRequestSslSettingsTls13": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditRequestSslSettings": {
      "type": "structure",
      "members": {
        "ciphers": {
          "target": "com.cloudflare.custom_hostnames#EditRequestSslSettingsCiphersList",
          "traits": {
            "smithy.api#documentation": "An allowlist of ciphers for TLS termination. These ciphers must be in the BoringSSL format."
          }
        },
        "early_hints": {
          "target": "com.cloudflare.custom_hostnames#EditRequestSslSettingsEarlyHints",
          "traits": {
            "smithy.api#documentation": "Whether or not Early Hints is enabled."
          }
        },
        "http2": {
          "target": "com.cloudflare.custom_hostnames#EditRequestSslSettingsHttp2",
          "traits": {
            "smithy.api#documentation": "Whether or not HTTP2 is enabled."
          }
        },
        "min_tls_version": {
          "target": "com.cloudflare.custom_hostnames#EditRequestSslSettingsMinTlsVersion",
          "traits": {
            "smithy.api#documentation": "The minimum TLS version supported."
          }
        },
        "tls_1_3": {
          "target": "com.cloudflare.custom_hostnames#EditRequestSslSettingsTls13",
          "traits": {
            "smithy.api#documentation": "Whether or not TLS 1.3 is enabled."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditRequestSslType": {
      "type": "enum",
      "members": {
        "DV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dv"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditRequestSsl": {
      "type": "structure",
      "members": {
        "bundle_method": {
          "target": "com.cloudflare.custom_hostnames#EditRequestSslBundleMethod",
          "traits": {
            "smithy.api#documentation": "A ubiquitous bundle has the highest probability of being verified everywhere, even by clients using outdated or unusual trust stores. An optimal bundle uses the shortest chain and newest intermediates. And the force bundle verifies the chain, but does not otherwise modify it."
          }
        },
        "certificate_authority": {
          "target": "com.cloudflare.custom_hostnames#EditRequestSslCertificateAuthority",
          "traits": {
            "smithy.api#documentation": "The Certificate Authority that will issue the certificate."
          }
        },
        "cloudflare_branding": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not to add Cloudflare Branding for the order.  This will add a subdomain of sni.cloudflaressl.com as the Common Name if set to true."
          }
        },
        "custom_cert_bundle": {
          "target": "com.cloudflare.custom_hostnames#EditRequestSslCustomCertBundleList",
          "traits": {
            "smithy.api#documentation": "Array of custom certificate and key pairs (1 or 2 pairs allowed)."
          }
        },
        "custom_certificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If a custom uploaded certificate is used."
          }
        },
        "custom_csr_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier for the Custom CSR that was used."
          }
        },
        "custom_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key for a custom uploaded certificate."
          }
        },
        "method": {
          "target": "com.cloudflare.custom_hostnames#EditRequestSslMethod",
          "traits": {
            "smithy.api#documentation": "Domain control validation (DCV) method used for this hostname."
          }
        },
        "settings": {
          "target": "com.cloudflare.custom_hostnames#EditRequestSslSettings",
          "traits": {
            "smithy.api#documentation": "SSL specific settings."
          }
        },
        "type": {
          "target": "com.cloudflare.custom_hostnames#EditRequestSslType",
          "traits": {
            "smithy.api#documentation": "Level of validation to be used for this hostname. Domain validation (dv) must be used."
          }
        },
        "wildcard": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the certificate covers a wildcard."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "custom_hostname_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "custom_metadata": {
          "target": "com.cloudflare.custom_hostnames#EditRequestCustomMetadataMap",
          "traits": {
            "smithy.api#documentation": "Unique key/value metadata for this hostname. These are per-hostname (customer) settings."
          }
        },
        "custom_origin_server": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a valid hostname that’s been added to your DNS zone as an A, AAAA, or CNAME record."
          }
        },
        "custom_origin_sni": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hostname that will be sent to your custom origin server as SNI for TLS handshake. This can be a valid subdomain of the zone or custom origin server name or the string ':request_host_header:' which will cause the host header in the request to be used as SNI. Not configurable with default/fallback origin server."
          }
        },
        "ssl": {
          "target": "com.cloudflare.custom_hostnames#EditRequestSsl",
          "traits": {
            "smithy.api#documentation": "SSL properties used when creating the custom hostname."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseCustomMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseOwnershipVerificationType": {
      "type": "enum",
      "members": {
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "txt"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseOwnershipVerification": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS Name for record."
          }
        },
        "type": {
          "target": "com.cloudflare.custom_hostnames#EditResponseOwnershipVerificationType",
          "traits": {
            "smithy.api#documentation": "DNS Record type."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content for the record."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseOwnershipVerificationHttp": {
      "type": "structure",
      "members": {
        "http_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to be served."
          }
        },
        "http_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP URL that will be checked during custom hostname verification and where the customer should host the token."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSslBundleMethod": {
      "type": "enum",
      "members": {
        "UBIQUITOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ubiquitous"
          }
        },
        "OPTIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "optimal"
          }
        },
        "FORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "force"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSslCertificateAuthority": {
      "type": "enum",
      "members": {
        "DIGICERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "digicert"
          }
        },
        "GOOGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google"
          }
        },
        "LETS_ENCRYPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lets_encrypt"
          }
        },
        "SSL_COM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ssl_com"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSslDcvDelegationRecordsItemEmailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSslDcvDelegationRecordsItem": {
      "type": "structure",
      "members": {
        "cname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record hostname for DCV delegation."
          }
        },
        "cname_target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record target value for DCV delegation."
          }
        },
        "emails": {
          "target": "com.cloudflare.custom_hostnames#EditResponseSslDcvDelegationRecordsItemEmailsList",
          "traits": {
            "smithy.api#documentation": "The set of email addresses that the certificate authority (CA) will use to complete domain validation."
          }
        },
        "http_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content that the certificate authority (CA) will expect to find at the http_url during the domain validation."
          }
        },
        "http_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The url that will be checked during domain validation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the validation record."
          }
        },
        "txt_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname that the certificate authority (CA) will check for a TXT record during domain validation ."
          }
        },
        "txt_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The TXT record that the certificate authority (CA) will check during domain validation."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSslDcvDelegationRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.custom_hostnames#EditResponseSslDcvDelegationRecordsItem"
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSslHostsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSslMethod": {
      "type": "enum",
      "members": {
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        },
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "txt"
          }
        },
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSslSettingsCiphersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSslSettingsEarlyHints": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSslSettingsHttp2": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSslSettingsMinTlsVersion": {
      "type": "enum",
      "members": {
        "_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.0"
          }
        },
        "_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.1"
          }
        },
        "_1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.2"
          }
        },
        "_1_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.3"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSslSettingsTls13": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSslSettings": {
      "type": "structure",
      "members": {
        "ciphers": {
          "target": "com.cloudflare.custom_hostnames#EditResponseSslSettingsCiphersList",
          "traits": {
            "smithy.api#documentation": "An allowlist of ciphers for TLS termination. These ciphers must be in the BoringSSL format."
          }
        },
        "early_hints": {
          "target": "com.cloudflare.custom_hostnames#EditResponseSslSettingsEarlyHints",
          "traits": {
            "smithy.api#documentation": "Whether or not Early Hints is enabled."
          }
        },
        "http2": {
          "target": "com.cloudflare.custom_hostnames#EditResponseSslSettingsHttp2",
          "traits": {
            "smithy.api#documentation": "Whether or not HTTP2 is enabled."
          }
        },
        "min_tls_version": {
          "target": "com.cloudflare.custom_hostnames#EditResponseSslSettingsMinTlsVersion",
          "traits": {
            "smithy.api#documentation": "The minimum TLS version supported."
          }
        },
        "tls_1_3": {
          "target": "com.cloudflare.custom_hostnames#EditResponseSslSettingsTls13",
          "traits": {
            "smithy.api#documentation": "Whether or not TLS 1.3 is enabled."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSslStatus": {
      "type": "enum",
      "members": {
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initializing"
          }
        },
        "PENDING_VALIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_validation"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        },
        "PENDING_ISSUANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_issuance"
          }
        },
        "PENDING_DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_deployment"
          }
        },
        "PENDING_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_deletion"
          }
        },
        "PENDING_EXPIRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_expiration"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INITIALIZING_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initializing_timed_out"
          }
        },
        "VALIDATION_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "validation_timed_out"
          }
        },
        "ISSUANCE_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "issuance_timed_out"
          }
        },
        "DEPLOYMENT_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployment_timed_out"
          }
        },
        "DELETION_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deletion_timed_out"
          }
        },
        "PENDING_CLEANUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_cleanup"
          }
        },
        "STAGING_DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "staging_deployment"
          }
        },
        "STAGING_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "staging_active"
          }
        },
        "DEACTIVATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deactivating"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "BACKUP_ISSUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "backup_issued"
          }
        },
        "HOLDING_DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "holding_deployment"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSslType": {
      "type": "enum",
      "members": {
        "DV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dv"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSslValidationErrorsItem": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A domain validation error."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSslValidationErrorsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.custom_hostnames#EditResponseSslValidationErrorsItem"
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSslValidationRecordsItemEmailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSslValidationRecordsItem": {
      "type": "structure",
      "members": {
        "cname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record hostname for DCV delegation."
          }
        },
        "cname_target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record target value for DCV delegation."
          }
        },
        "emails": {
          "target": "com.cloudflare.custom_hostnames#EditResponseSslValidationRecordsItemEmailsList",
          "traits": {
            "smithy.api#documentation": "The set of email addresses that the certificate authority (CA) will use to complete domain validation."
          }
        },
        "http_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content that the certificate authority (CA) will expect to find at the http_url during the domain validation."
          }
        },
        "http_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The url that will be checked during domain validation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the validation record."
          }
        },
        "txt_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname that the certificate authority (CA) will check for a TXT record during domain validation ."
          }
        },
        "txt_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The TXT record that the certificate authority (CA) will check during domain validation."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSslValidationRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.custom_hostnames#EditResponseSslValidationRecordsItem"
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseSsl": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom hostname SSL identifier tag."
          }
        },
        "bundle_method": {
          "target": "com.cloudflare.custom_hostnames#EditResponseSslBundleMethod",
          "traits": {
            "smithy.api#documentation": "A ubiquitous bundle has the highest probability of being verified everywhere, even by clients using outdated or unusual trust stores. An optimal bundle uses the shortest chain and newest intermediates. And the force bundle verifies the chain, but does not otherwise modify it."
          }
        },
        "certificate_authority": {
          "target": "com.cloudflare.custom_hostnames#EditResponseSslCertificateAuthority",
          "traits": {
            "smithy.api#documentation": "The Certificate Authority that will issue the certificate."
          }
        },
        "custom_certificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If a custom uploaded certificate is used."
          }
        },
        "custom_csr_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier for the Custom CSR that was used."
          }
        },
        "custom_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key for a custom uploaded certificate."
          }
        },
        "dcv_delegation_records": {
          "target": "com.cloudflare.custom_hostnames#EditResponseSslDcvDelegationRecordsList",
          "traits": {
            "smithy.api#documentation": "DCV Delegation records for domain validation."
          }
        },
        "expires_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the custom certificate expires on."
          }
        },
        "hosts": {
          "target": "com.cloudflare.custom_hostnames#EditResponseSslHostsList",
          "traits": {
            "smithy.api#documentation": "A list of Hostnames on a custom uploaded certificate."
          }
        },
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The issuer on a custom uploaded certificate."
          }
        },
        "method": {
          "target": "com.cloudflare.custom_hostnames#EditResponseSslMethod",
          "traits": {
            "smithy.api#documentation": "Domain control validation (DCV) method used for this hostname."
          }
        },
        "serial_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The serial number on a custom uploaded certificate."
          }
        },
        "settings": {
          "target": "com.cloudflare.custom_hostnames#EditResponseSslSettings"
        },
        "signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The signature on a custom uploaded certificate."
          }
        },
        "status": {
          "target": "com.cloudflare.custom_hostnames#EditResponseSslStatus",
          "traits": {
            "smithy.api#documentation": "Status of the hostname's SSL certificates."
          }
        },
        "type": {
          "target": "com.cloudflare.custom_hostnames#EditResponseSslType",
          "traits": {
            "smithy.api#documentation": "Level of validation to be used for this hostname. Domain validation (dv) must be used."
          }
        },
        "uploaded_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the custom certificate was uploaded."
          }
        },
        "validation_errors": {
          "target": "com.cloudflare.custom_hostnames#EditResponseSslValidationErrorsList",
          "traits": {
            "smithy.api#documentation": "Domain validation errors that have been received by the certificate authority (CA)."
          }
        },
        "validation_records": {
          "target": "com.cloudflare.custom_hostnames#EditResponseSslValidationRecordsList"
        },
        "wildcard": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the certificate covers a wildcard."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "ACTIVE_REDEPLOYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active_redeploying"
          }
        },
        "MOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "moved"
          }
        },
        "PENDING_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_deletion"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        },
        "PENDING_BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_blocked"
          }
        },
        "PENDING_MIGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_migration"
          }
        },
        "PENDING_PROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_provisioned"
          }
        },
        "TEST_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "test_pending"
          }
        },
        "TEST_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "test_active"
          }
        },
        "TEST_ACTIVE_APEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "test_active_apex"
          }
        },
        "TEST_BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "test_blocked"
          }
        },
        "TEST_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "test_failed"
          }
        },
        "PROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provisioned"
          }
        },
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blocked"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#EditResponseVerificationErrorsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#EditResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The custom hostname that will point to your hostname via CNAME.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the time the hostname was created."
          }
        },
        "custom_metadata": {
          "target": "com.cloudflare.custom_hostnames#EditResponseCustomMetadataMap",
          "traits": {
            "smithy.api#documentation": "Unique key/value metadata for this hostname. These are per-hostname (customer) settings."
          }
        },
        "custom_origin_server": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a valid hostname that’s been added to your DNS zone as an A, AAAA, or CNAME record."
          }
        },
        "custom_origin_sni": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hostname that will be sent to your custom origin server as SNI for TLS handshake. This can be a valid subdomain of the zone or custom origin server name or the string ':request_host_header:' which will cause the host header in the request to be used as SNI. Not configurable with default/fallback origin server."
          }
        },
        "ownership_verification": {
          "target": "com.cloudflare.custom_hostnames#EditResponseOwnershipVerification",
          "traits": {
            "smithy.api#documentation": "This is a record which can be placed to activate a hostname."
          }
        },
        "ownership_verification_http": {
          "target": "com.cloudflare.custom_hostnames#EditResponseOwnershipVerificationHttp",
          "traits": {
            "smithy.api#documentation": "This presents the token to be served by the given http url to activate a hostname."
          }
        },
        "ssl": {
          "target": "com.cloudflare.custom_hostnames#EditResponseSsl"
        },
        "status": {
          "target": "com.cloudflare.custom_hostnames#EditResponseStatus",
          "traits": {
            "smithy.api#documentation": "Status of the hostname's activation."
          }
        },
        "verification_errors": {
          "target": "com.cloudflare.custom_hostnames#EditResponseVerificationErrorsList",
          "traits": {
            "smithy.api#documentation": "These are errors that were encountered while trying to activate a hostname."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.custom_hostnames#Edit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.custom_hostnames#EditRequest"
      },
      "output": {
        "target": "com.cloudflare.custom_hostnames#EditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/zones/{zone_id}/custom_hostnames/{custom_hostname_id}",
          "code": 200
        },
        "smithy.api#documentation": "Modify SSL configuration for a custom hostname. When sent with SSL config that matches existing config, used to indicate that hostname should pass domain control validation (DCV). Can also be used to change validation type, e.g., from 'http' to 'email'. Bundle an existing certificate with another certificate by using the \"custom_cert_bundle\" field. The bundling process supports combining certificates as long as the following condition is met. One certificate must use the RSA algorithm, and the other must use the ECDSA algorithm."
      }
    },
    "com.cloudflare.custom_hostnames#GetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "custom_hostname_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseCustomMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseOwnershipVerificationType": {
      "type": "enum",
      "members": {
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "txt"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseOwnershipVerification": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS Name for record."
          }
        },
        "type": {
          "target": "com.cloudflare.custom_hostnames#GetResponseOwnershipVerificationType",
          "traits": {
            "smithy.api#documentation": "DNS Record type."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content for the record."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseOwnershipVerificationHttp": {
      "type": "structure",
      "members": {
        "http_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to be served."
          }
        },
        "http_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP URL that will be checked during custom hostname verification and where the customer should host the token."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSslBundleMethod": {
      "type": "enum",
      "members": {
        "UBIQUITOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ubiquitous"
          }
        },
        "OPTIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "optimal"
          }
        },
        "FORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "force"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSslCertificateAuthority": {
      "type": "enum",
      "members": {
        "DIGICERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "digicert"
          }
        },
        "GOOGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google"
          }
        },
        "LETS_ENCRYPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lets_encrypt"
          }
        },
        "SSL_COM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ssl_com"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSslDcvDelegationRecordsItemEmailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSslDcvDelegationRecordsItem": {
      "type": "structure",
      "members": {
        "cname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record hostname for DCV delegation."
          }
        },
        "cname_target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record target value for DCV delegation."
          }
        },
        "emails": {
          "target": "com.cloudflare.custom_hostnames#GetResponseSslDcvDelegationRecordsItemEmailsList",
          "traits": {
            "smithy.api#documentation": "The set of email addresses that the certificate authority (CA) will use to complete domain validation."
          }
        },
        "http_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content that the certificate authority (CA) will expect to find at the http_url during the domain validation."
          }
        },
        "http_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The url that will be checked during domain validation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the validation record."
          }
        },
        "txt_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname that the certificate authority (CA) will check for a TXT record during domain validation ."
          }
        },
        "txt_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The TXT record that the certificate authority (CA) will check during domain validation."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSslDcvDelegationRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.custom_hostnames#GetResponseSslDcvDelegationRecordsItem"
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSslHostsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSslMethod": {
      "type": "enum",
      "members": {
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        },
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "txt"
          }
        },
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSslSettingsCiphersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSslSettingsEarlyHints": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSslSettingsHttp2": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSslSettingsMinTlsVersion": {
      "type": "enum",
      "members": {
        "_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.0"
          }
        },
        "_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.1"
          }
        },
        "_1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.2"
          }
        },
        "_1_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.3"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSslSettingsTls13": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSslSettings": {
      "type": "structure",
      "members": {
        "ciphers": {
          "target": "com.cloudflare.custom_hostnames#GetResponseSslSettingsCiphersList",
          "traits": {
            "smithy.api#documentation": "An allowlist of ciphers for TLS termination. These ciphers must be in the BoringSSL format."
          }
        },
        "early_hints": {
          "target": "com.cloudflare.custom_hostnames#GetResponseSslSettingsEarlyHints",
          "traits": {
            "smithy.api#documentation": "Whether or not Early Hints is enabled."
          }
        },
        "http2": {
          "target": "com.cloudflare.custom_hostnames#GetResponseSslSettingsHttp2",
          "traits": {
            "smithy.api#documentation": "Whether or not HTTP2 is enabled."
          }
        },
        "min_tls_version": {
          "target": "com.cloudflare.custom_hostnames#GetResponseSslSettingsMinTlsVersion",
          "traits": {
            "smithy.api#documentation": "The minimum TLS version supported."
          }
        },
        "tls_1_3": {
          "target": "com.cloudflare.custom_hostnames#GetResponseSslSettingsTls13",
          "traits": {
            "smithy.api#documentation": "Whether or not TLS 1.3 is enabled."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSslStatus": {
      "type": "enum",
      "members": {
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initializing"
          }
        },
        "PENDING_VALIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_validation"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        },
        "PENDING_ISSUANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_issuance"
          }
        },
        "PENDING_DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_deployment"
          }
        },
        "PENDING_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_deletion"
          }
        },
        "PENDING_EXPIRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_expiration"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INITIALIZING_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initializing_timed_out"
          }
        },
        "VALIDATION_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "validation_timed_out"
          }
        },
        "ISSUANCE_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "issuance_timed_out"
          }
        },
        "DEPLOYMENT_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployment_timed_out"
          }
        },
        "DELETION_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deletion_timed_out"
          }
        },
        "PENDING_CLEANUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_cleanup"
          }
        },
        "STAGING_DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "staging_deployment"
          }
        },
        "STAGING_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "staging_active"
          }
        },
        "DEACTIVATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deactivating"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "BACKUP_ISSUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "backup_issued"
          }
        },
        "HOLDING_DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "holding_deployment"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSslType": {
      "type": "enum",
      "members": {
        "DV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dv"
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSslValidationErrorsItem": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A domain validation error."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSslValidationErrorsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.custom_hostnames#GetResponseSslValidationErrorsItem"
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSslValidationRecordsItemEmailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSslValidationRecordsItem": {
      "type": "structure",
      "members": {
        "cname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record hostname for DCV delegation."
          }
        },
        "cname_target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CNAME record target value for DCV delegation."
          }
        },
        "emails": {
          "target": "com.cloudflare.custom_hostnames#GetResponseSslValidationRecordsItemEmailsList",
          "traits": {
            "smithy.api#documentation": "The set of email addresses that the certificate authority (CA) will use to complete domain validation."
          }
        },
        "http_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content that the certificate authority (CA) will expect to find at the http_url during the domain validation."
          }
        },
        "http_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The url that will be checked during domain validation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the validation record."
          }
        },
        "txt_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname that the certificate authority (CA) will check for a TXT record during domain validation ."
          }
        },
        "txt_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The TXT record that the certificate authority (CA) will check during domain validation."
          }
        }
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSslValidationRecordsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.custom_hostnames#GetResponseSslValidationRecordsItem"
      }
    },
    "com.cloudflare.custom_hostnames#GetResponseSsl": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom hostname SSL identifier tag."
          }
        },
        "bundle_method": {
          "target": "com.cloudflare.custom_hostnames#GetResponseSslBundleMethod",
          "traits": {
            "smithy.api#documentation": "A ubiquitous bundle has the highest probability of being verified everywhere, even by clients using outdated or unusual trust stores. An optimal bundle uses the shortest chain and newest intermediates. And the force bundle verifies the chain, but does not otherwise modify it."
          }
        },
        "certificate_authority": {
          "target": "com.cloudflare.custom_hostnames#GetResponseSslCertificateAuthority",
          "traits": {
            "smithy.api#documentation": "The Certificate Authority that will issue the certificate."
          }
        },
        "custom_certificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If a custom uploaded certificate is used."
          }
        },
        "custom_csr_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier for the Custom CSR that was used."
          }
        },
        "custom_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key for a custom uploaded certificate."
          }
        },
        "dcv_delegation_records": {
          "target": "com.cloudflare.custom_hostnames#GetResponseSslDcvDelegationRecordsList",
          "traits": {
            "smithy.api#documentation": "DCV Delegation records for domain validation."
          }
        },
        "expires_on": {
          "target": "smithy.api#String",
          "traits": {
[...]
