{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.dls#RegionalServicesPrefixBindingsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP prefix in CIDR notation to bind.",
            "smithy.api#required": {}
          }
        },
        "prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the parent IP prefix that contains the CIDR.",
            "smithy.api#required": {}
          }
        },
        "region_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Region key from managed regions (e.g., \"us\", \"eu\").",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dls#RegionalServicesPrefixBindingsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the binding.",
            "smithy.api#required": {}
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CIDR that is bound.",
            "smithy.api#required": {}
          }
        },
        "prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the parent prefix.",
            "smithy.api#required": {}
          }
        },
        "region_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region key used for the binding.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dls#RegionalServicesPrefixBindingsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dls#RegionalServicesPrefixBindingsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.dls#RegionalServicesPrefixBindingsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/dls/regional_services/prefix_bindings",
          "code": 200
        },
        "smithy.api#documentation": "Create a DLS prefix binding"
      }
    },
    "com.cloudflare.dls#RegionalServicesPrefixBindingsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "binding_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the prefix binding.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dls#RegionalServicesPrefixBindingsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dls#RegionalServicesPrefixBindingsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/dls/regional_services/prefix_bindings/{binding_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a DLS prefix binding",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.dls#RegionalServicesPrefixBindingsEditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "binding_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the prefix binding.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "region_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New region key to assign (e.g., \"us\", \"eu\", \"cfcanary\").",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dls#RegionalServicesPrefixBindingsEditResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the binding.",
            "smithy.api#required": {}
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CIDR that is bound.",
            "smithy.api#required": {}
          }
        },
        "prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the parent prefix.",
            "smithy.api#required": {}
          }
        },
        "region_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region key used for the binding.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dls#RegionalServicesPrefixBindingsEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dls#RegionalServicesPrefixBindingsEditRequest"
      },
      "output": {
        "target": "com.cloudflare.dls#RegionalServicesPrefixBindingsEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/dls/regional_services/prefix_bindings/{binding_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update a DLS prefix binding"
      }
    },
    "com.cloudflare.dls#RegionalServicesPrefixBindingsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "binding_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the prefix binding.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dls#RegionalServicesPrefixBindingsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the binding.",
            "smithy.api#required": {}
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CIDR that is bound.",
            "smithy.api#required": {}
          }
        },
        "prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the parent prefix.",
            "smithy.api#required": {}
          }
        },
        "region_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region key used for the binding.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dls#RegionalServicesPrefixBindingsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dls#RegionalServicesPrefixBindingsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.dls#RegionalServicesPrefixBindingsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/dls/regional_services/prefix_bindings/{binding_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a DLS prefix binding",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.dls#RegionalServicesPrefixBindingsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Opaque token for cursor-based pagination. Omit for the first page. Pass the value from a previous response to fetch the next page.",
            "smithy.api#httpQuery": "cursor"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dls#RegionalServicesPrefixBindingsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the binding.",
            "smithy.api#required": {}
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CIDR that is bound.",
            "smithy.api#required": {}
          }
        },
        "prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the parent prefix.",
            "smithy.api#required": {}
          }
        },
        "region_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region key used for the binding.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dls#RegionalServicesPrefixBindingsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.dls#RegionalServicesPrefixBindingsListResultItem"
      }
    },
    "com.cloudflare.dls#RegionalServicesPrefixBindingsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.dls#RegionalServicesPrefixBindingsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.dls#RegionalServicesPrefixBindingsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dls#RegionalServicesPrefixBindingsListRequest"
      },
      "output": {
        "target": "com.cloudflare.dls#RegionalServicesPrefixBindingsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/dls/regional_services/prefix_bindings",
          "code": 200
        },
        "smithy.api#documentation": "List DLS prefix bindings for an account",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.dls#RegionsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "region_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the region (custom or managed) or region_key of a managed region.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dls#RegionsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version_created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dls#RegionsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dls#RegionsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.dls#RegionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/dls/regions/{region_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a DLS region",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.dls#RegionsListRequestType": {
      "type": "enum",
      "members": {
        "MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        }
      }
    },
    "com.cloudflare.dls#RegionsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Opaque token for cursor-based pagination. Omit for the first page. Pass the value from a previous response to fetch the next page.",
            "smithy.api#httpQuery": "cursor"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "per_page"
          }
        },
        "type": {
          "target": "com.cloudflare.dls#RegionsListRequestType",
          "traits": {
            "smithy.api#documentation": "Filter regions by type. Omit to return all regions.",
            "smithy.api#httpQuery": "type"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dls#RegionsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version_created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dls#RegionsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.dls#RegionsListResultItem"
      }
    },
    "com.cloudflare.dls#RegionsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.dls#RegionsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.dls#RegionsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dls#RegionsListRequest"
      },
      "output": {
        "target": "com.cloudflare.dls#RegionsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/dls/regions",
          "code": 200
        },
        "smithy.api#documentation": "List DLS regions for an account",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.dls#Dls": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.dls#RegionalServicesPrefixBindingsCreate"
        },
        {
          "target": "com.cloudflare.dls#RegionalServicesPrefixBindingsDelete"
        },
        {
          "target": "com.cloudflare.dls#RegionalServicesPrefixBindingsEdit"
        },
        {
          "target": "com.cloudflare.dls#RegionalServicesPrefixBindingsGet"
        },
        {
          "target": "com.cloudflare.dls#RegionalServicesPrefixBindingsList"
        },
        {
          "target": "com.cloudflare.dls#RegionsGet"
        },
        {
          "target": "com.cloudflare.dls#RegionsList"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare Dls",
        "smithy.api#documentation": "Cloudflare API — dls resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    }
  }
}
