{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.dns#AnalyticsReportsGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dimensions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comma-separated list of dimensions to group results by.",
            "smithy.api#httpQuery": "dimensions"
          }
        },
        "filters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Segmentation filter in 'attribute operator value' format.",
            "smithy.api#httpQuery": "filters"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Limit number of returned metrics.",
            "smithy.api#httpQuery": "limit"
          }
        },
        "metrics": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comma-separated list of metrics to query.",
            "smithy.api#httpQuery": "metrics"
          }
        },
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start date and time of requesting data period in ISO 8601 format.",
            "smithy.api#httpQuery": "since"
          }
        },
        "sort": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comma-separated list of dimensions to sort by, where each dimension may be prefixed by - (descending) or + (ascending).",
            "smithy.api#httpQuery": "sort"
          }
        },
        "until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End date and time of requesting data period in ISO 8601 format.",
            "smithy.api#httpQuery": "until"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGetResponseDataItemDimensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGetResponseDataItemMetricsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGetResponseDataItem": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "com.cloudflare.dns#AnalyticsReportsGetResponseDataItemDimensionsList",
          "traits": {
            "smithy.api#documentation": "Array of dimension values, representing the combination of dimension values corresponding to this row.",
            "smithy.api#required": {}
          }
        },
        "metrics": {
          "target": "com.cloudflare.dns#AnalyticsReportsGetResponseDataItemMetricsList",
          "traits": {
            "smithy.api#documentation": "Array with one item per requested metric. Each item is a single value.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGetResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.dns#AnalyticsReportsGetResponseDataItem"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGetResponseQueryDimensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGetResponseQueryMetricsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGetResponseQuerySortList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGetResponseQuery": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "com.cloudflare.dns#AnalyticsReportsGetResponseQueryDimensionsList",
          "traits": {
            "smithy.api#documentation": "Array of dimension names.",
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Limit number of returned metrics.",
            "smithy.api#required": {}
          }
        },
        "metrics": {
          "target": "com.cloudflare.dns#AnalyticsReportsGetResponseQueryMetricsList",
          "traits": {
            "smithy.api#documentation": "Array of metric names.",
            "smithy.api#required": {}
          }
        },
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start date and time of requesting data period in ISO 8601 format.",
            "smithy.api#required": {}
          }
        },
        "until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End date and time of requesting data period in ISO 8601 format.",
            "smithy.api#required": {}
          }
        },
        "filters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Segmentation filter in 'attribute operator value' format."
          }
        },
        "sort": {
          "target": "com.cloudflare.dns#AnalyticsReportsGetResponseQuerySortList",
          "traits": {
            "smithy.api#documentation": "Array of dimensions to sort by, where each dimension may be prefixed by - (descending) or + (ascending)."
          }
        }
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGetResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.dns#AnalyticsReportsGetResponseDataList",
          "traits": {
            "smithy.api#documentation": "Array with one row per combination of dimension values.",
            "smithy.api#required": {}
          }
        },
        "data_lag": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds between current time and last processed event, in another words how many seconds of data could be missing.",
            "smithy.api#required": {}
          }
        },
        "max": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Maximum results for each metric (object mapping metric names to values). Currently always an empty object.",
            "smithy.api#required": {}
          }
        },
        "min": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Minimum results for each metric (object mapping metric names to values). Currently always an empty object.",
            "smithy.api#required": {}
          }
        },
        "query": {
          "target": "com.cloudflare.dns#AnalyticsReportsGetResponseQuery",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rows": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of rows in the result.",
            "smithy.api#required": {}
          }
        },
        "totals": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Total results for metrics across all data (object mapping metric names to values).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dns#AnalyticsReportsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#AnalyticsReportsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#AnalyticsReportsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/dns_analytics/report",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves a list of summarised aggregate metrics over a given time period. See [Analytics API properties](https://developers.cloudflare.com/dns/reference/analytics-api-properties/) for detailed information about the available query parameters.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetRequestTimeDelta": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "year"
          }
        },
        "QUARTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quarter"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "week"
          }
        },
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day"
          }
        },
        "HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hour"
          }
        },
        "DEKAMINUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dekaminute"
          }
        },
        "MINUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "minute"
          }
        }
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dimensions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comma-separated list of dimensions to group results by.",
            "smithy.api#httpQuery": "dimensions"
          }
        },
        "filters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Segmentation filter in 'attribute operator value' format.",
            "smithy.api#httpQuery": "filters"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Limit number of returned metrics.",
            "smithy.api#httpQuery": "limit"
          }
        },
        "metrics": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comma-separated list of metrics to query.",
            "smithy.api#httpQuery": "metrics"
          }
        },
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start date and time of requesting data period in ISO 8601 format.",
            "smithy.api#httpQuery": "since"
          }
        },
        "sort": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comma-separated list of dimensions to sort by, where each dimension may be prefixed by - (descending) or + (ascending).",
            "smithy.api#httpQuery": "sort"
          }
        },
        "time_delta": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetRequestTimeDelta",
          "traits": {
            "smithy.api#documentation": "Unit of time to group data by.",
            "smithy.api#httpQuery": "time_delta"
          }
        },
        "until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End date and time of requesting data period in ISO 8601 format.",
            "smithy.api#httpQuery": "until"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataItemDimensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataItemMetricsItemList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataItemMetricsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataItemMetricsItemList"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataItem": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataItemDimensionsList",
          "traits": {
            "smithy.api#documentation": "Array of dimension values, representing the combination of dimension values corresponding to this row.",
            "smithy.api#required": {}
          }
        },
        "metrics": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataItemMetricsList",
          "traits": {
            "smithy.api#documentation": "Array with one item per requested metric. Each item is an array of values, broken down by time interval.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataItem"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQueryDimensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQueryMetricsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQueryTimeDelta": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "year"
          }
        },
        "QUARTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quarter"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "week"
          }
        },
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day"
          }
        },
        "HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hour"
          }
        },
        "DEKAMINUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dekaminute"
          }
        },
        "MINUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "minute"
          }
        }
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQuerySortList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQuery": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQueryDimensionsList",
          "traits": {
            "smithy.api#documentation": "Array of dimension names.",
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Limit number of returned metrics.",
            "smithy.api#required": {}
          }
        },
        "metrics": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQueryMetricsList",
          "traits": {
            "smithy.api#documentation": "Array of metric names.",
            "smithy.api#required": {}
          }
        },
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start date and time of requesting data period in ISO 8601 format.",
            "smithy.api#required": {}
          }
        },
        "time_delta": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQueryTimeDelta",
          "traits": {
            "smithy.api#documentation": "Unit of time to group data by.",
            "smithy.api#required": {}
          }
        },
        "until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End date and time of requesting data period in ISO 8601 format.",
            "smithy.api#required": {}
          }
        },
        "filters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Segmentation filter in 'attribute operator value' format."
          }
        },
        "sort": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQuerySortList",
          "traits": {
            "smithy.api#documentation": "Array of dimensions to sort by, where each dimension may be prefixed by - (descending) or + (ascending)."
          }
        }
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseTimeIntervalsItemList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseTimeIntervalsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseTimeIntervalsItemList"
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGetResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseDataList",
          "traits": {
            "smithy.api#documentation": "Array with one row per combination of dimension values.",
            "smithy.api#required": {}
          }
        },
        "data_lag": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds between current time and last processed event, in another words how many seconds of data could be missing.",
            "smithy.api#required": {}
          }
        },
        "max": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Maximum results for each metric (object mapping metric names to values). Currently always an empty object.",
            "smithy.api#required": {}
          }
        },
        "min": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Minimum results for each metric (object mapping metric names to values). Currently always an empty object.",
            "smithy.api#required": {}
          }
        },
        "query": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseQuery",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rows": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of rows in the result.",
            "smithy.api#required": {}
          }
        },
        "time_intervals": {
          "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponseTimeIntervalsList",
          "traits": {
            "smithy.api#documentation": "Array of time intervals in the response data. Each interval is represented as an array containing two values: the start time, and the end time.",
            "smithy.api#required": {}
          }
        },
        "totals": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Total results for metrics across all data (object mapping metric names to values).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dns#AnalyticsReportsBytimesGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#AnalyticsReportsBytimesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/dns_analytics/report/bytime",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves a list of aggregate metrics grouped by time interval. See [Analytics API properties](https://developers.cloudflare.com/dns/reference/analytics-api-properties/) for detailed information about the available query parameters.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.dns#DnssecDeleteRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#DnssecDeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#String",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.dns#DnssecDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#DnssecDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#DnssecDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/dnssec",
          "code": 200
        },
        "smithy.api#documentation": "Delete DNSSEC.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.dns#DnssecEditRequestStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      }
    },
    "com.cloudflare.dns#DnssecEditRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dnssec_multi_signer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, multi-signer DNSSEC is enabled on the zone, allowing multiple"
          }
        },
        "dnssec_presigned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, allows Cloudflare to transfer in a DNSSEC-signed zone"
          }
        },
        "dnssec_use_nsec3": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, enables the use of NSEC3 together with DNSSEC on the zone."
          }
        },
        "status": {
          "target": "com.cloudflare.dns#DnssecEditRequestStatus",
          "traits": {
            "smithy.api#documentation": "Status of DNSSEC, based on user-desired state and presence of necessary records."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#DnssecEditResponseStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "PENDING_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending-disabled"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      }
    },
    "com.cloudflare.dns#DnssecEditResponse": {
      "type": "structure",
      "members": {
        "algorithm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Algorithm key code."
          }
        },
        "digest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Digest hash."
          }
        },
        "digest_algorithm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of digest algorithm."
          }
        },
        "digest_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Coded type for digest algorithm."
          }
        },
        "dnssec_multi_signer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, multi-signer DNSSEC is enabled on the zone, allowing multiple"
          }
        },
        "dnssec_presigned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, allows Cloudflare to transfer in a DNSSEC-signed zone"
          }
        },
        "dnssec_use_nsec3": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, enables the use of NSEC3 together with DNSSEC on the zone."
          }
        },
        "ds": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full DS record."
          }
        },
        "flags": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Flag for DNSSEC record."
          }
        },
        "key_tag": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Code for key tag."
          }
        },
        "key_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Algorithm key type."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When DNSSEC was last modified."
          }
        },
        "public_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public key for DS record."
          }
        },
        "status": {
          "target": "com.cloudflare.dns#DnssecEditResponseStatus",
          "traits": {
            "smithy.api#documentation": "Status of DNSSEC, based on user-desired state and presence of necessary records."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dns#DnssecEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#DnssecEditRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#DnssecEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/zones/{zone_id}/dnssec",
          "code": 200
        },
        "smithy.api#documentation": "Enable or disable DNSSEC."
      }
    },
    "com.cloudflare.dns#DnssecGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.dns#DnssecGetResponseStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "PENDING_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending-disabled"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      }
    },
    "com.cloudflare.dns#DnssecGetResponse": {
      "type": "structure",
      "members": {
        "algorithm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Algorithm key code."
          }
        },
        "digest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Digest hash."
          }
        },
        "digest_algorithm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of digest algorithm."
          }
        },
        "digest_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Coded type for digest algorithm."
          }
        },
        "dnssec_multi_signer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, multi-signer DNSSEC is enabled on the zone, allowing multiple"
          }
        },
        "dnssec_presigned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, allows Cloudflare to transfer in a DNSSEC-signed zone"
          }
        },
        "dnssec_use_nsec3": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, enables the use of NSEC3 together with DNSSEC on the zone."
          }
        },
        "ds": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full DS record."
          }
        },
        "flags": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Flag for DNSSEC record."
          }
        },
        "key_tag": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Code for key tag."
          }
        },
        "key_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Algorithm key type."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When DNSSEC was last modified."
          }
        },
        "public_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public key for DS record."
          }
        },
        "status": {
          "target": "com.cloudflare.dns#DnssecGetResponseStatus",
          "traits": {
            "smithy.api#documentation": "Status of DNSSEC, based on user-desired state and presence of necessary records."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.dns#DnssecGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.dns#DnssecGetRequest"
      },
      "output": {
        "target": "com.cloudflare.dns#DnssecGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/dnssec",
          "code": 200
        },
        "smithy.api#documentation": "Details about DNSSEC status and configuration.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestDeletesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestDeletesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.dns#RecordsBatchRequestDeletesItem"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemARecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemAAAARecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemCNAMERecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemMXRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemNSRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemOpenpgpkeyRecordType": {
      "type": "enum",
      "members": {
        "OPENPGPKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPENPGPKEY"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemOpenpgpkeyRecordSettings": {
      "type": "structure",
      "members": {
        "ipv4_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        },
        "ipv6_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemOpenpgpkeyRecordTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemOpenpgpkeyRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complete DNS record name, including the zone name, in Punycode.",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemOpenpgpkeyRecordType",
          "traits": {
            "smithy.api#documentation": "Record type.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comments or notes about the DNS record. This field has no effect on DNS responses."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A single Base64-encoded OpenPGP Transferable Public Key (RFC 4880 Section 11.1)"
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record is receiving the performance and security benefits of Cloudflare."
          }
        },
        "settings": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemOpenpgpkeyRecordSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the DNS record."
          }
        },
        "tags": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemOpenpgpkeyRecordTagsList",
          "traits": {
            "smithy.api#documentation": "Custom tags for the DNS record. This field has no effect on DNS responses."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemPTRRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemTXTRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemCAARecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemCERTRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemDNSKEYRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemDSRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemHTTPSRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemLOCRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemNAPTRRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemSMIMEARecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemSRVRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemSSHFPRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemSVCBRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemTLSARecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItemURIRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesItem": {
      "type": "union",
      "members": {
        "ARecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemARecord"
        },
        "AAAARecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemAAAARecord"
        },
        "CNAMERecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemCNAMERecord"
        },
        "MXRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemMXRecord"
        },
        "NSRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemNSRecord"
        },
        "OpenpgpkeyRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemOpenpgpkeyRecord"
        },
        "PTRRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemPTRRecord"
        },
        "TXTRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemTXTRecord"
        },
        "CAARecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemCAARecord"
        },
        "CERTRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemCERTRecord"
        },
        "DNSKEYRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemDNSKEYRecord"
        },
        "DSRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemDSRecord"
        },
        "HTTPSRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemHTTPSRecord"
        },
        "LOCRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemLOCRecord"
        },
        "NAPTRRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemNAPTRRecord"
        },
        "SMIMEARecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemSMIMEARecord"
        },
        "SRVRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemSRVRecord"
        },
        "SSHFPRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemSSHFPRecord"
        },
        "SVCBRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemSVCBRecord"
        },
        "TLSARecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemTLSARecord"
        },
        "URIRecord": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItemURIRecord"
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPatchesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.dns#RecordsBatchRequestPatchesItem"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemARecordType": {
      "type": "enum",
      "members": {
        "A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemARecordSettings": {
      "type": "structure",
      "members": {
        "ipv4_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        },
        "ipv6_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemARecordTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemARecord": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complete DNS record name, including the zone name, in Punycode.",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemARecordType",
          "traits": {
            "smithy.api#documentation": "Record type.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comments or notes about the DNS record. This field has no effect on DNS responses."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid IPv4 address."
          }
        },
        "private_routing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables private network routing to the origin."
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record is receiving the performance and security benefits of Cloudflare."
          }
        },
        "settings": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemARecordSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the DNS record."
          }
        },
        "tags": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemARecordTagsList",
          "traits": {
            "smithy.api#documentation": "Custom tags for the DNS record. This field has no effect on DNS responses."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemAAAARecordType": {
      "type": "enum",
      "members": {
        "AAAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AAAA"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemAAAARecordSettings": {
      "type": "structure",
      "members": {
        "ipv4_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        },
        "ipv6_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemAAAARecordTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemAAAARecord": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complete DNS record name, including the zone name, in Punycode.",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemAAAARecordType",
          "traits": {
            "smithy.api#documentation": "Record type.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comments or notes about the DNS record. This field has no effect on DNS responses."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid IPv6 address."
          }
        },
        "private_routing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables private network routing to the origin."
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record is receiving the performance and security benefits of Cloudflare."
          }
        },
        "settings": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemAAAARecordSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the DNS record."
          }
        },
        "tags": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemAAAARecordTagsList",
          "traits": {
            "smithy.api#documentation": "Custom tags for the DNS record. This field has no effect on DNS responses."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemCNAMERecordType": {
      "type": "enum",
      "members": {
        "CNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNAME"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemCNAMERecordSettings": {
      "type": "structure",
      "members": {
        "flatten_cname": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If enabled, causes the CNAME record to be resolved externally and the resulting address records (e.g., A and AAAA) to be returned instead of the CNAME record itself. This setting is unavailable for proxied records, since they are always flattened."
          }
        },
        "ipv4_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        },
        "ipv6_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemCNAMERecordTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemCNAMERecord": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complete DNS record name, including the zone name, in Punycode.",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemCNAMERecordType",
          "traits": {
            "smithy.api#documentation": "Record type.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comments or notes about the DNS record. This field has no effect on DNS responses."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid hostname. Must not match the record's name."
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record is receiving the performance and security benefits of Cloudflare."
          }
        },
        "settings": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemCNAMERecordSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the DNS record."
          }
        },
        "tags": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemCNAMERecordTagsList",
          "traits": {
            "smithy.api#documentation": "Custom tags for the DNS record. This field has no effect on DNS responses."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemMXRecordType": {
      "type": "enum",
      "members": {
        "MX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MX"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemMXRecordSettings": {
      "type": "structure",
      "members": {
        "ipv4_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        },
        "ipv6_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemMXRecordTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemMXRecord": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complete DNS record name, including the zone name, in Punycode.",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemMXRecordType",
          "traits": {
            "smithy.api#documentation": "Record type.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comments or notes about the DNS record. This field has no effect on DNS responses."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid mail server hostname."
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Required for MX and URI records; ignored for other record types (but may still be returned by the API). Records with lower priorities are preferred. This field is to be deprecated in favor of the priority field within the data map."
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record is receiving the performance and security benefits of Cloudflare."
          }
        },
        "settings": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemMXRecordSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the DNS record."
          }
        },
        "tags": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemMXRecordTagsList",
          "traits": {
            "smithy.api#documentation": "Custom tags for the DNS record. This field has no effect on DNS responses."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemNSRecordType": {
      "type": "enum",
      "members": {
        "NS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NS"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemNSRecordSettings": {
      "type": "structure",
      "members": {
        "ipv4_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        },
        "ipv6_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemNSRecordTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemNSRecord": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complete DNS record name, including the zone name, in Punycode.",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemNSRecordType",
          "traits": {
            "smithy.api#documentation": "Record type.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comments or notes about the DNS record. This field has no effect on DNS responses."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid name server host name."
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record is receiving the performance and security benefits of Cloudflare."
          }
        },
        "settings": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemNSRecordSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the DNS record."
          }
        },
        "tags": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemNSRecordTagsList",
          "traits": {
            "smithy.api#documentation": "Custom tags for the DNS record. This field has no effect on DNS responses."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemDNSRecordsOpenpgpkeyRecordType": {
      "type": "enum",
      "members": {
        "OPENPGPKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPENPGPKEY"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemDNSRecordsOpenpgpkeyRecordSettings": {
      "type": "structure",
      "members": {
        "ipv4_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        },
        "ipv6_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemDNSRecordsOpenpgpkeyRecordTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemDNSRecordsOpenpgpkeyRecord": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complete DNS record name, including the zone name, in Punycode.",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemDNSRecordsOpenpgpkeyRecordType",
          "traits": {
            "smithy.api#documentation": "Record type.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comments or notes about the DNS record. This field has no effect on DNS responses."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A single Base64-encoded OpenPGP Transferable Public Key (RFC 4880 Section 11.1)"
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record is receiving the performance and security benefits of Cloudflare."
          }
        },
        "settings": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemDNSRecordsOpenpgpkeyRecordSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the DNS record."
          }
        },
        "tags": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemDNSRecordsOpenpgpkeyRecordTagsList",
          "traits": {
            "smithy.api#documentation": "Custom tags for the DNS record. This field has no effect on DNS responses."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemPTRRecordType": {
      "type": "enum",
      "members": {
        "PTR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PTR"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemPTRRecordSettings": {
      "type": "structure",
      "members": {
        "ipv4_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        },
        "ipv6_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemPTRRecordTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemPTRRecord": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complete DNS record name, including the zone name, in Punycode.",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemPTRRecordType",
          "traits": {
            "smithy.api#documentation": "Record type.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comments or notes about the DNS record. This field has no effect on DNS responses."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain name pointing to the address."
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record is receiving the performance and security benefits of Cloudflare."
          }
        },
        "settings": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemPTRRecordSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the DNS record."
          }
        },
        "tags": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemPTRRecordTagsList",
          "traits": {
            "smithy.api#documentation": "Custom tags for the DNS record. This field has no effect on DNS responses."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemTXTRecordType": {
      "type": "enum",
      "members": {
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TXT"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemTXTRecordSettings": {
      "type": "structure",
      "members": {
        "ipv4_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        },
        "ipv6_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemTXTRecordTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemTXTRecord": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complete DNS record name, including the zone name, in Punycode.",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemTXTRecordType",
          "traits": {
            "smithy.api#documentation": "Record type.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comments or notes about the DNS record. This field has no effect on DNS responses."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text content for the record. The content must consist of quoted \"character strings\" (RFC 1035), each with a length of up to 255 bytes. Strings exceeding this allowed maximum length are automatically split."
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record is receiving the performance and security benefits of Cloudflare."
          }
        },
        "settings": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemTXTRecordSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the DNS record."
          }
        },
        "tags": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemTXTRecordTagsList",
          "traits": {
            "smithy.api#documentation": "Custom tags for the DNS record. This field has no effect on DNS responses."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemCAARecordType": {
      "type": "enum",
      "members": {
        "CAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAA"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemCAARecordData": {
      "type": "structure",
      "members": {
        "flags": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Flags for the CAA record."
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the property controlled by this record (e.g.: issue, issuewild, iodef)."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value of the record. This field's semantics depend on the chosen tag."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemCAARecordSettings": {
      "type": "structure",
      "members": {
        "ipv4_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        },
        "ipv6_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemCAARecordTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemCAARecord": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complete DNS record name, including the zone name, in Punycode.",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemCAARecordType",
          "traits": {
            "smithy.api#documentation": "Record type.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comments or notes about the DNS record. This field has no effect on DNS responses."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Formatted CAA content. See 'data' to set CAA properties."
          }
        },
        "data": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemCAARecordData",
          "traits": {
            "smithy.api#documentation": "Components of a CAA record."
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record is receiving the performance and security benefits of Cloudflare."
          }
        },
        "settings": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemCAARecordSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the DNS record."
          }
        },
        "tags": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemCAARecordTagsList",
          "traits": {
            "smithy.api#documentation": "Custom tags for the DNS record. This field has no effect on DNS responses."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemCERTRecordType": {
      "type": "enum",
      "members": {
        "CERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemCERTRecordData": {
      "type": "structure",
      "members": {
        "algorithm": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Algorithm."
          }
        },
        "certificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Certificate."
          }
        },
        "key_tag": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Key Tag."
          }
        },
        "type": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Type."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemCERTRecordSettings": {
      "type": "structure",
      "members": {
        "ipv4_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        },
        "ipv6_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemCERTRecordTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemCERTRecord": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complete DNS record name, including the zone name, in Punycode.",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemCERTRecordType",
          "traits": {
            "smithy.api#documentation": "Record type.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comments or notes about the DNS record. This field has no effect on DNS responses."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Formatted CERT content. See 'data' to set CERT properties."
          }
        },
        "data": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemCERTRecordData",
          "traits": {
            "smithy.api#documentation": "Components of a CERT record."
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record is receiving the performance and security benefits of Cloudflare."
          }
        },
        "settings": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemCERTRecordSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the DNS record."
          }
        },
        "tags": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemCERTRecordTagsList",
          "traits": {
            "smithy.api#documentation": "Custom tags for the DNS record. This field has no effect on DNS responses."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemDNSKEYRecordType": {
      "type": "enum",
      "members": {
        "DNSKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DNSKEY"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemDNSKEYRecordData": {
      "type": "structure",
      "members": {
        "algorithm": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Algorithm."
          }
        },
        "flags": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Flags."
          }
        },
        "protocol": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Protocol."
          }
        },
        "public_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public Key."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemDNSKEYRecordSettings": {
      "type": "structure",
      "members": {
        "ipv4_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        },
        "ipv6_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemDNSKEYRecordTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemDNSKEYRecord": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complete DNS record name, including the zone name, in Punycode.",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemDNSKEYRecordType",
          "traits": {
            "smithy.api#documentation": "Record type.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comments or notes about the DNS record. This field has no effect on DNS responses."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Formatted DNSKEY content. See 'data' to set DNSKEY properties."
          }
        },
        "data": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemDNSKEYRecordData",
          "traits": {
            "smithy.api#documentation": "Components of a DNSKEY record."
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record is receiving the performance and security benefits of Cloudflare."
          }
        },
        "settings": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemDNSKEYRecordSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the DNS record."
          }
        },
        "tags": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemDNSKEYRecordTagsList",
          "traits": {
            "smithy.api#documentation": "Custom tags for the DNS record. This field has no effect on DNS responses."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemDSRecordType": {
      "type": "enum",
      "members": {
        "DS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DS"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemDSRecordData": {
      "type": "structure",
      "members": {
        "algorithm": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Algorithm."
          }
        },
        "digest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Digest."
          }
        },
        "digest_type": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Digest Type."
          }
        },
        "key_tag": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Key Tag."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemDSRecordSettings": {
      "type": "structure",
      "members": {
        "ipv4_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        },
        "ipv6_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemDSRecordTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemDSRecord": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complete DNS record name, including the zone name, in Punycode.",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemDSRecordType",
          "traits": {
            "smithy.api#documentation": "Record type.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comments or notes about the DNS record. This field has no effect on DNS responses."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Formatted DS content. See 'data' to set DS properties."
          }
        },
        "data": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemDSRecordData",
          "traits": {
            "smithy.api#documentation": "Components of a DS record."
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the record is receiving the performance and security benefits of Cloudflare."
          }
        },
        "settings": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemDSRecordSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the DNS record."
          }
        },
        "tags": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemDSRecordTagsList",
          "traits": {
            "smithy.api#documentation": "Custom tags for the DNS record. This field has no effect on DNS responses."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemHTTPSRecordType": {
      "type": "enum",
      "members": {
        "HTTPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTPS"
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemHTTPSRecordData": {
      "type": "structure",
      "members": {
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Priority."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemHTTPSRecordSettings": {
      "type": "structure",
      "members": {
        "ipv4_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only A records will be generated, and AAAA records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        },
        "ipv6_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, only AAAA records will be generated, and A records will not be created. This setting is intended for exceptional cases. Note that this option only applies to proxied records and it has no effect on whether Cloudflare communicates with the origin using IPv4 or IPv6."
          }
        }
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemHTTPSRecordTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.dns#RecordsBatchRequestPostsItemHTTPSRecord": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Complete DNS record name, including the zone name, in Punycode.",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time To Live (TTL) of the DNS record in seconds. Setting to 1 means 'automatic'. Value must be between 60 and 86400, with the minimum reduced to 30 for Enterprise zones.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.dns#RecordsBatchRequestPostsItemHTTPSRecordType",
          "traits": {
            "smithy.api#documentation": "Record type.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comments or notes about the DNS record. This field has no effect on DNS responses."
          }
        },
        "content": {
          "target": "smithy.api#String",
[...]
