{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.email_security#InvestigateGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "investigate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for a message retrieved from investigation",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "submission": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, search the submissions datastore only. When false or omitted, search the",
            "smithy.api#httpQuery": "submission"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseActionLogItemOperation": {
      "type": "enum",
      "members": {
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        },
        "RELEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELEASE"
          }
        },
        "RECLASSIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECLASSIFY"
          }
        },
        "SUBMISSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBMISSION"
          }
        },
        "QUARANTINE_RELEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUARANTINE_RELEASE"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREVIEW"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseActionLogItemProperties": {
      "type": "structure",
      "members": {
        "folder": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target folder for move operations"
          }
        },
        "requested_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User who requested the action"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseActionLogItem": {
      "type": "structure",
      "members": {
        "completed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when action completed",
            "smithy.api#required": {}
          }
        },
        "operation": {
          "target": "com.cloudflare.email_security#InvestigateGetResponseActionLogItemOperation",
          "traits": {
            "smithy.api#documentation": "Type of action performed",
            "smithy.api#required": {}
          }
        },
        "completed_timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated, use `completed_at` instead. End of life: November 1, 2026."
          }
        },
        "properties": {
          "target": "com.cloudflare.email_security#InvestigateGetResponseActionLogItemProperties",
          "traits": {
            "smithy.api#documentation": "Additional properties for the action"
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the action"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseActionLogList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_security#InvestigateGetResponseActionLogItem"
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseClientRecipientsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseDetectionReasonsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponsePropertiesAllowlistedPatternType": {
      "type": "enum",
      "members": {
        "QUARANTINE_RELEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quarantine_release"
          }
        },
        "ACCEPTABLE_SENDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "acceptable_sender"
          }
        },
        "ALLOWED_SENDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allowed_sender"
          }
        },
        "ALLOWED_RECIPIENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allowed_recipient"
          }
        },
        "DOMAIN_SIMILARITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain_similarity"
          }
        },
        "DOMAIN_RECENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain_recency"
          }
        },
        "MANAGED_ACCEPTABLE_SENDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_acceptable_sender"
          }
        },
        "OUTBOUND_NDR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "outbound_ndr"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponsePropertiesWhitelistedPatternType": {
      "type": "enum",
      "members": {
        "QUARANTINE_RELEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quarantine_release"
          }
        },
        "ACCEPTABLE_SENDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "acceptable_sender"
          }
        },
        "ALLOWED_SENDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allowed_sender"
          }
        },
        "ALLOWED_RECIPIENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allowed_recipient"
          }
        },
        "DOMAIN_SIMILARITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain_similarity"
          }
        },
        "DOMAIN_RECENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain_recency"
          }
        },
        "MANAGED_ACCEPTABLE_SENDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_acceptable_sender"
          }
        },
        "OUTBOUND_NDR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "outbound_ndr"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseProperties": {
      "type": "structure",
      "members": {
        "allowlisted_pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pattern that allowlisted this message"
          }
        },
        "allowlisted_pattern_type": {
          "target": "com.cloudflare.email_security#InvestigateGetResponsePropertiesAllowlistedPatternType",
          "traits": {
            "smithy.api#documentation": "Type of allowlist pattern"
          }
        },
        "blocklisted_message": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether message was blocklisted"
          }
        },
        "blocklisted_pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pattern that blocklisted this message"
          }
        },
        "whitelisted_pattern_type": {
          "target": "com.cloudflare.email_security#InvestigateGetResponsePropertiesWhitelistedPatternType",
          "traits": {
            "smithy.api#documentation": "Legacy field for allowlist pattern type"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseDeliveryMode": {
      "type": "enum",
      "members": {
        "DIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECT"
          }
        },
        "BCC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BCC"
          }
        },
        "JOURNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOURNAL"
          }
        },
        "REVIEW_SUBMISSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVIEW_SUBMISSION"
          }
        },
        "DMARC_UNVERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DMARC_UNVERIFIED"
          }
        },
        "DMARC_FAILURE_REPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DMARC_FAILURE_REPORT"
          }
        },
        "DMARC_AGGREGATE_REPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DMARC_AGGREGATE_REPORT"
          }
        },
        "THREAT_INTEL_SUBMISSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAT_INTEL_SUBMISSION"
          }
        },
        "SIMULATION_SUBMISSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIMULATION_SUBMISSION"
          }
        },
        "API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API"
          }
        },
        "RETRO_SCAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETRO_SCAN"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseDeliveryStatusItem": {
      "type": "enum",
      "members": {
        "DELIVERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delivered"
          }
        },
        "MOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "moved"
          }
        },
        "QUARANTINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quarantined"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        },
        "DEFERRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deferred"
          }
        },
        "BOUNCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bounced"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseDeliveryStatusList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_security#InvestigateGetResponseDeliveryStatusItem"
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseEnvelopeToList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseFinalDisposition": {
      "type": "enum",
      "members": {
        "MALICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS"
          }
        },
        "MALICIOUS_BEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS-BEC"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPICIOUS"
          }
        },
        "SPOOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOOF"
          }
        },
        "SPAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPAM"
          }
        },
        "BULK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BULK"
          }
        },
        "ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTED"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseFindingsItemDetection": {
      "type": "enum",
      "members": {
        "MALICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS"
          }
        },
        "MALICIOUS_BEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS-BEC"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPICIOUS"
          }
        },
        "SPOOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOOF"
          }
        },
        "SPAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPAM"
          }
        },
        "BULK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BULK"
          }
        },
        "ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTED"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseFindingsItem": {
      "type": "structure",
      "members": {
        "attachment": {
          "target": "smithy.api#String"
        },
        "detail": {
          "target": "smithy.api#String"
        },
        "detection": {
          "target": "com.cloudflare.email_security#InvestigateGetResponseFindingsItemDetection"
        },
        "field": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "portion": {
          "target": "smithy.api#String"
        },
        "reason": {
          "target": "smithy.api#String"
        },
        "score": {
          "target": "smithy.api#Double"
        },
        "value": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseFindingsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_security#InvestigateGetResponseFindingsItem"
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponsePostDeliveryOperationsItem": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREVIEW"
          }
        },
        "QUARANTINE_RELEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUARANTINE_RELEASE"
          }
        },
        "SUBMISSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBMISSION"
          }
        },
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponsePostDeliveryOperationsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_security#InvestigateGetResponsePostDeliveryOperationsItem"
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseThreatCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseToList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseToNameList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseValidationDkim": {
      "type": "enum",
      "members": {
        "PASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pass"
          }
        },
        "NEUTRAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "neutral"
          }
        },
        "FAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fail"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseValidationDmarc": {
      "type": "enum",
      "members": {
        "PASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pass"
          }
        },
        "NEUTRAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "neutral"
          }
        },
        "FAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fail"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseValidationSpf": {
      "type": "enum",
      "members": {
        "PASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pass"
          }
        },
        "NEUTRAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "neutral"
          }
        },
        "FAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fail"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponseValidation": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "smithy.api#String"
        },
        "dkim": {
          "target": "com.cloudflare.email_security#InvestigateGetResponseValidationDkim"
        },
        "dmarc": {
          "target": "com.cloudflare.email_security#InvestigateGetResponseValidationDmarc"
        },
        "spf": {
          "target": "com.cloudflare.email_security#InvestigateGetResponseValidationSpf"
        }
      }
    },
    "com.cloudflare.email_security#InvestigateGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for a message retrieved from investigation",
            "smithy.api#required": {}
          }
        },
        "action_log": {
          "target": "com.cloudflare.email_security#InvestigateGetResponseActionLogList",
          "traits": {
            "smithy.api#documentation": "Deprecated, use `GET /investigate/{investigate_id}/action_log` instead. End of life: November 1, 2026.",
            "smithy.api#required": {}
          }
        },
        "client_recipients": {
          "target": "com.cloudflare.email_security#InvestigateGetResponseClientRecipientsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "detection_reasons": {
          "target": "com.cloudflare.email_security#InvestigateGetResponseDetectionReasonsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "is_phish_submission": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "is_quarantined": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "postfix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the message",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.cloudflare.email_security#InvestigateGetResponseProperties",
          "traits": {
            "smithy.api#documentation": "Message processing properties",
            "smithy.api#required": {}
          }
        },
        "ts": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated, use `scanned_at` instead. End of life: November 1, 2026.",
            "smithy.api#required": {}
          }
        },
        "alert_id": {
          "target": "smithy.api#String"
        },
        "delivery_mode": {
          "target": "com.cloudflare.email_security#InvestigateGetResponseDeliveryMode"
        },
        "delivery_status": {
          "target": "com.cloudflare.email_security#InvestigateGetResponseDeliveryStatusList"
        },
        "edf_hash": {
          "target": "smithy.api#String"
        },
        "envelope_from": {
          "target": "smithy.api#String"
        },
        "envelope_to": {
          "target": "com.cloudflare.email_security#InvestigateGetResponseEnvelopeToList"
        },
        "final_disposition": {
          "target": "com.cloudflare.email_security#InvestigateGetResponseFinalDisposition"
        },
        "findings": {
          "target": "com.cloudflare.email_security#InvestigateGetResponseFindingsList",
          "traits": {
            "smithy.api#documentation": "Deprecated, use the `findings` field from `GET /investigate/{investigate_id}/detections` instead. End of life: November 1, 2026. Detection findings for this message."
          }
        },
        "from": {
          "target": "smithy.api#String"
        },
        "from_name": {
          "target": "smithy.api#String"
        },
        "htmltext_structure_hash": {
          "target": "smithy.api#String"
        },
        "message_id": {
          "target": "smithy.api#String"
        },
        "post_delivery_operations": {
          "target": "com.cloudflare.email_security#InvestigateGetResponsePostDeliveryOperationsList",
          "traits": {
            "smithy.api#documentation": "Post-delivery operations performed on this message"
          }
        },
        "postfix_id_outbound": {
          "target": "smithy.api#String"
        },
        "replyto": {
          "target": "smithy.api#String"
        },
        "scanned_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the message was scanned (UTC)"
          }
        },
        "sent_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the message was sent (UTC)"
          }
        },
        "sent_date": {
          "target": "smithy.api#String"
        },
        "smtp_helo_server_ip": {
          "target": "smithy.api#String"
        },
        "smtp_previous_hop_ip": {
          "target": "smithy.api#String"
        },
        "subject": {
          "target": "smithy.api#String"
        },
        "threat_categories": {
          "target": "com.cloudflare.email_security#InvestigateGetResponseThreatCategoriesList"
        },
        "to": {
          "target": "com.cloudflare.email_security#InvestigateGetResponseToList"
        },
        "to_name": {
          "target": "com.cloudflare.email_security#InvestigateGetResponseToNameList"
        },
        "validation": {
          "target": "com.cloudflare.email_security#InvestigateGetResponseValidation"
        },
        "x_originating_ip": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.email_security#InvestigateGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.email_security#InvestigateGetRequest"
      },
      "output": {
        "target": "com.cloudflare.email_security#InvestigateGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/email-security/investigate/{investigate_id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves comprehensive details for a specific email message including headers, recipients, sender information, and current quarantine status. Use the investigate_id from search results to fetch detailed information.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.email_security#InvestigateListRequestDeliveryStatus": {
      "type": "enum",
      "members": {
        "DELIVERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delivered"
          }
        },
        "MOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "moved"
          }
        },
        "QUARANTINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quarantined"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        },
        "DEFERRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deferred"
          }
        },
        "BOUNCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bounced"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateListRequestFinalDisposition": {
      "type": "enum",
      "members": {
        "MALICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPICIOUS"
          }
        },
        "SPOOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOOF"
          }
        },
        "SPAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPAM"
          }
        },
        "BULK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BULK"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateListRequestMessageAction": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREVIEW"
          }
        },
        "QUARANTINE_RELEASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUARANTINE_RELEASED"
          }
        },
        "MOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVED"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "alert_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "alert_id"
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor"
          }
        },
        "delivery_status": {
          "target": "com.cloudflare.email_security#InvestigateListRequestDeliveryStatus",
          "traits": {
            "smithy.api#documentation": "Delivery status to filter by.",
            "smithy.api#httpQuery": "delivery_status"
          }
        },
        "detections_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to include only detections in search results.",
            "smithy.api#httpQuery": "detections_only"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sender domains to filter by.",
            "smithy.api#httpQuery": "domain"
          }
        },
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end of the search date range. Defaults to `now`.",
            "smithy.api#httpQuery": "end"
          }
        },
        "final_disposition": {
          "target": "com.cloudflare.email_security#InvestigateListRequestFinalDisposition",
          "traits": {
            "smithy.api#documentation": "Dispositions to filter by.",
            "smithy.api#httpQuery": "final_disposition"
          }
        },
        "message_action": {
          "target": "com.cloudflare.email_security#InvestigateListRequestMessageAction",
          "traits": {
            "smithy.api#documentation": "Message actions to filter by.",
            "smithy.api#httpQuery": "message_action"
          }
        },
        "message_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "message_id"
          }
        },
        "metric": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "metric"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use cursor pagination instead. End of life: November 1, 2026.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of results per page. Maximum value is 1000.",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Space-delimited search term. Case-insensitive.",
            "smithy.api#httpQuery": "query"
          }
        },
        "recipient": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "recipient"
          }
        },
        "sender": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "sender"
          }
        },
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The beginning of the search date range. Defaults to `now - 30 days`.",
            "smithy.api#httpQuery": "start"
          }
        },
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "subject"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemActionLogItemOperation": {
      "type": "enum",
      "members": {
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        },
        "RELEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELEASE"
          }
        },
        "RECLASSIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECLASSIFY"
          }
        },
        "SUBMISSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBMISSION"
          }
        },
        "QUARANTINE_RELEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUARANTINE_RELEASE"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREVIEW"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemActionLogItemProperties": {
      "type": "structure",
      "members": {
        "folder": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target folder for move operations"
          }
        },
        "requested_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User who requested the action"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemActionLogItem": {
      "type": "structure",
      "members": {
        "completed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when action completed",
            "smithy.api#required": {}
          }
        },
        "operation": {
          "target": "com.cloudflare.email_security#InvestigateListResultItemActionLogItemOperation",
          "traits": {
            "smithy.api#documentation": "Type of action performed",
            "smithy.api#required": {}
          }
        },
        "completed_timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated, use `completed_at` instead. End of life: November 1, 2026."
          }
        },
        "properties": {
          "target": "com.cloudflare.email_security#InvestigateListResultItemActionLogItemProperties",
          "traits": {
            "smithy.api#documentation": "Additional properties for the action"
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the action"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemActionLogList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_security#InvestigateListResultItemActionLogItem"
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemClientRecipientsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemDetectionReasonsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemPropertiesAllowlistedPatternType": {
      "type": "enum",
      "members": {
        "QUARANTINE_RELEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quarantine_release"
          }
        },
        "ACCEPTABLE_SENDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "acceptable_sender"
          }
        },
        "ALLOWED_SENDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allowed_sender"
          }
        },
        "ALLOWED_RECIPIENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allowed_recipient"
          }
        },
        "DOMAIN_SIMILARITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain_similarity"
          }
        },
        "DOMAIN_RECENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain_recency"
          }
        },
        "MANAGED_ACCEPTABLE_SENDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_acceptable_sender"
          }
        },
        "OUTBOUND_NDR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "outbound_ndr"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemPropertiesWhitelistedPatternType": {
      "type": "enum",
      "members": {
        "QUARANTINE_RELEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quarantine_release"
          }
        },
        "ACCEPTABLE_SENDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "acceptable_sender"
          }
        },
        "ALLOWED_SENDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allowed_sender"
          }
        },
        "ALLOWED_RECIPIENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allowed_recipient"
          }
        },
        "DOMAIN_SIMILARITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain_similarity"
          }
        },
        "DOMAIN_RECENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain_recency"
          }
        },
        "MANAGED_ACCEPTABLE_SENDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_acceptable_sender"
          }
        },
        "OUTBOUND_NDR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "outbound_ndr"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemProperties": {
      "type": "structure",
      "members": {
        "allowlisted_pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pattern that allowlisted this message"
          }
        },
        "allowlisted_pattern_type": {
          "target": "com.cloudflare.email_security#InvestigateListResultItemPropertiesAllowlistedPatternType",
          "traits": {
            "smithy.api#documentation": "Type of allowlist pattern"
          }
        },
        "blocklisted_message": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether message was blocklisted"
          }
        },
        "blocklisted_pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pattern that blocklisted this message"
          }
        },
        "whitelisted_pattern_type": {
          "target": "com.cloudflare.email_security#InvestigateListResultItemPropertiesWhitelistedPatternType",
          "traits": {
            "smithy.api#documentation": "Legacy field for allowlist pattern type"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemDeliveryMode": {
      "type": "enum",
      "members": {
        "DIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECT"
          }
        },
        "BCC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BCC"
          }
        },
        "JOURNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOURNAL"
          }
        },
        "REVIEW_SUBMISSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVIEW_SUBMISSION"
          }
        },
        "DMARC_UNVERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DMARC_UNVERIFIED"
          }
        },
        "DMARC_FAILURE_REPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DMARC_FAILURE_REPORT"
          }
        },
        "DMARC_AGGREGATE_REPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DMARC_AGGREGATE_REPORT"
          }
        },
        "THREAT_INTEL_SUBMISSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAT_INTEL_SUBMISSION"
          }
        },
        "SIMULATION_SUBMISSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIMULATION_SUBMISSION"
          }
        },
        "API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API"
          }
        },
        "RETRO_SCAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETRO_SCAN"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemDeliveryStatusItem": {
      "type": "enum",
      "members": {
        "DELIVERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delivered"
          }
        },
        "MOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "moved"
          }
        },
        "QUARANTINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quarantined"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        },
        "DEFERRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deferred"
          }
        },
        "BOUNCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bounced"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemDeliveryStatusList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_security#InvestigateListResultItemDeliveryStatusItem"
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemEnvelopeToList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemFinalDisposition": {
      "type": "enum",
      "members": {
        "MALICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS"
          }
        },
        "MALICIOUS_BEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS-BEC"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPICIOUS"
          }
        },
        "SPOOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOOF"
          }
        },
        "SPAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPAM"
          }
        },
        "BULK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BULK"
          }
        },
        "ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTED"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemFindingsItemDetection": {
      "type": "enum",
      "members": {
        "MALICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS"
          }
        },
        "MALICIOUS_BEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS-BEC"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPICIOUS"
          }
        },
        "SPOOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOOF"
          }
        },
        "SPAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPAM"
          }
        },
        "BULK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BULK"
          }
        },
        "ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTED"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemFindingsItem": {
      "type": "structure",
      "members": {
        "attachment": {
          "target": "smithy.api#String"
        },
        "detail": {
          "target": "smithy.api#String"
        },
        "detection": {
          "target": "com.cloudflare.email_security#InvestigateListResultItemFindingsItemDetection"
        },
        "field": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "portion": {
          "target": "smithy.api#String"
        },
        "reason": {
          "target": "smithy.api#String"
        },
        "score": {
          "target": "smithy.api#Double"
        },
        "value": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemFindingsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_security#InvestigateListResultItemFindingsItem"
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemPostDeliveryOperationsItem": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREVIEW"
          }
        },
        "QUARANTINE_RELEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUARANTINE_RELEASE"
          }
        },
        "SUBMISSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBMISSION"
          }
        },
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemPostDeliveryOperationsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_security#InvestigateListResultItemPostDeliveryOperationsItem"
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemThreatCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemToList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemToNameList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemValidationDkim": {
      "type": "enum",
      "members": {
        "PASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pass"
          }
        },
        "NEUTRAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "neutral"
          }
        },
        "FAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fail"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemValidationDmarc": {
      "type": "enum",
      "members": {
        "PASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pass"
          }
        },
        "NEUTRAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "neutral"
          }
        },
        "FAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fail"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemValidationSpf": {
      "type": "enum",
      "members": {
        "PASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pass"
          }
        },
        "NEUTRAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "neutral"
          }
        },
        "FAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fail"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItemValidation": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "smithy.api#String"
        },
        "dkim": {
          "target": "com.cloudflare.email_security#InvestigateListResultItemValidationDkim"
        },
        "dmarc": {
          "target": "com.cloudflare.email_security#InvestigateListResultItemValidationDmarc"
        },
        "spf": {
          "target": "com.cloudflare.email_security#InvestigateListResultItemValidationSpf"
        }
      }
    },
    "com.cloudflare.email_security#InvestigateListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for a message retrieved from investigation",
            "smithy.api#required": {}
          }
        },
        "action_log": {
          "target": "com.cloudflare.email_security#InvestigateListResultItemActionLogList",
          "traits": {
            "smithy.api#documentation": "Deprecated, use `GET /investigate/{investigate_id}/action_log` instead. End of life: November 1, 2026.",
            "smithy.api#required": {}
          }
        },
        "client_recipients": {
          "target": "com.cloudflare.email_security#InvestigateListResultItemClientRecipientsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "detection_reasons": {
          "target": "com.cloudflare.email_security#InvestigateListResultItemDetectionReasonsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "is_phish_submission": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "is_quarantined": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "postfix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the message",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.cloudflare.email_security#InvestigateListResultItemProperties",
          "traits": {
            "smithy.api#documentation": "Message processing properties",
            "smithy.api#required": {}
          }
        },
        "ts": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated, use `scanned_at` instead. End of life: November 1, 2026.",
            "smithy.api#required": {}
          }
        },
        "alert_id": {
          "target": "smithy.api#String"
        },
        "delivery_mode": {
          "target": "com.cloudflare.email_security#InvestigateListResultItemDeliveryMode"
        },
        "delivery_status": {
          "target": "com.cloudflare.email_security#InvestigateListResultItemDeliveryStatusList"
        },
        "edf_hash": {
          "target": "smithy.api#String"
        },
        "envelope_from": {
          "target": "smithy.api#String"
        },
        "envelope_to": {
          "target": "com.cloudflare.email_security#InvestigateListResultItemEnvelopeToList"
        },
        "final_disposition": {
          "target": "com.cloudflare.email_security#InvestigateListResultItemFinalDisposition"
        },
        "findings": {
          "target": "com.cloudflare.email_security#InvestigateListResultItemFindingsList",
          "traits": {
            "smithy.api#documentation": "Deprecated, use the `findings` field from `GET /investigate/{investigate_id}/detections` instead. End of life: November 1, 2026. Detection findings for this message."
          }
        },
        "from": {
          "target": "smithy.api#String"
        },
        "from_name": {
          "target": "smithy.api#String"
        },
        "htmltext_structure_hash": {
          "target": "smithy.api#String"
        },
        "message_id": {
          "target": "smithy.api#String"
        },
        "post_delivery_operations": {
          "target": "com.cloudflare.email_security#InvestigateListResultItemPostDeliveryOperationsList",
          "traits": {
            "smithy.api#documentation": "Post-delivery operations performed on this message"
          }
        },
        "postfix_id_outbound": {
          "target": "smithy.api#String"
        },
        "replyto": {
          "target": "smithy.api#String"
        },
        "scanned_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the message was scanned (UTC)"
          }
        },
        "sent_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the message was sent (UTC)"
          }
        },
        "sent_date": {
          "target": "smithy.api#String"
        },
        "smtp_helo_server_ip": {
          "target": "smithy.api#String"
        },
        "smtp_previous_hop_ip": {
          "target": "smithy.api#String"
        },
        "subject": {
          "target": "smithy.api#String"
        },
        "threat_categories": {
          "target": "com.cloudflare.email_security#InvestigateListResultItemThreatCategoriesList"
        },
        "to": {
          "target": "com.cloudflare.email_security#InvestigateListResultItemToList"
        },
        "to_name": {
          "target": "com.cloudflare.email_security#InvestigateListResultItemToNameList"
        },
        "validation": {
          "target": "com.cloudflare.email_security#InvestigateListResultItemValidation"
        },
        "x_originating_ip": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.email_security#InvestigateListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.email_security#InvestigateListResultItem"
      }
    },
    "com.cloudflare.email_security#InvestigateListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.email_security#InvestigateListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.email_security#InvestigateList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.email_security#InvestigateListRequest"
      },
      "output": {
        "target": "com.cloudflare.email_security#InvestigateListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/email-security/investigate",
          "code": 200
        },
        "smithy.api#documentation": "Returns information for each email that matches the search parameter(s).",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCreateRequestAction": {
      "type": "enum",
      "members": {
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        },
        "RELEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELEASE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCreateRequestSearchParamsDeliveryStatus": {
      "type": "enum",
      "members": {
        "DELIVERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delivered"
          }
        },
        "MOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "moved"
          }
        },
        "QUARANTINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quarantined"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        },
        "DEFERRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deferred"
          }
        },
        "BOUNCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bounced"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCreateRequestSearchParamsFinalDisposition": {
      "type": "enum",
      "members": {
        "MALICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS"
          }
        },
        "MALICIOUS_BEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS-BEC"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPICIOUS"
          }
        },
        "SPOOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOOF"
          }
        },
        "SPAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPAM"
          }
        },
        "BULK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BULK"
          }
        },
        "ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTED"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCreateRequestSearchParamsMessageAction": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREVIEW"
          }
        },
        "QUARANTINE_RELEASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUARANTINE_RELEASED"
          }
        },
        "MOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVED"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCreateRequestSearchParams": {
      "type": "structure",
      "members": {
        "action_log": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated, use `GET /investigate/{investigate_id}/action_log` instead. End of life: November 1, 2026."
          }
        },
        "alert_id": {
          "target": "smithy.api#String"
        },
        "delivery_status": {
          "target": "com.cloudflare.email_security#InvestigateBulkCreateRequestSearchParamsDeliveryStatus",
          "traits": {
            "smithy.api#documentation": "Delivery status of the message."
          }
        },
        "detections_only": {
          "target": "smithy.api#Boolean"
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End of search date range"
          }
        },
        "exact_subject": {
          "target": "smithy.api#String"
        },
        "final_disposition": {
          "target": "com.cloudflare.email_security#InvestigateBulkCreateRequestSearchParamsFinalDisposition"
        },
        "message_action": {
          "target": "com.cloudflare.email_security#InvestigateBulkCreateRequestSearchParamsMessageAction"
        },
        "message_id": {
          "target": "smithy.api#String"
        },
        "metric": {
          "target": "smithy.api#String"
        },
        "query": {
          "target": "smithy.api#String"
        },
        "recipient": {
          "target": "smithy.api#String"
        },
        "sender": {
          "target": "smithy.api#String"
        },
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Beginning of search date range"
          }
        },
        "subject": {
          "target": "smithy.api#String"
        },
        "submissions": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCreateRequestDestination": {
      "type": "enum",
      "members": {
        "INBOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Inbox"
          }
        },
        "JUNKEMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JunkEmail"
          }
        },
        "DELETEDITEMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeletedItems"
          }
        },
        "RECOVERABLEITEMSDELETIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RecoverableItemsDeletions"
          }
        },
        "RECOVERABLEITEMSPURGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RecoverableItemsPurges"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCreateRequestExpectedDisposition": {
      "type": "enum",
      "members": {
        "MALICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS"
          }
        },
        "MALICIOUS_BEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS-BEC"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPICIOUS"
          }
        },
        "SPOOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOOF"
          }
        },
        "SPAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPAM"
          }
        },
        "BULK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BULK"
          }
        },
        "ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTED"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.email_security#InvestigateBulkCreateRequestAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "search_params": {
          "target": "com.cloudflare.email_security#InvestigateBulkCreateRequestSearchParams",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String"
        },
        "destination": {
          "target": "com.cloudflare.email_security#InvestigateBulkCreateRequestDestination"
        },
        "expected_disposition": {
          "target": "com.cloudflare.email_security#InvestigateBulkCreateRequestExpectedDisposition"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCreateResponseActionParamsMoveDestination": {
      "type": "enum",
      "members": {
        "INBOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Inbox"
          }
        },
        "JUNKEMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JunkEmail"
          }
        },
        "DELETEDITEMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeletedItems"
          }
        },
        "RECOVERABLEITEMSDELETIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RecoverableItemsDeletions"
          }
        },
        "RECOVERABLEITEMSPURGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RecoverableItemsPurges"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCreateResponseActionParamsMoveType": {
      "type": "enum",
      "members": {
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCreateResponseActionParamsMoveExpectedDisposition": {
      "type": "enum",
      "members": {
        "MALICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS"
          }
        },
        "MALICIOUS_BEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS-BEC"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPICIOUS"
          }
        },
        "SPOOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOOF"
          }
        },
        "SPAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPAM"
          }
        },
        "BULK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BULK"
          }
        },
        "ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTED"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCreateResponseActionParamsMove": {
      "type": "structure",
      "members": {
        "destination": {
          "target": "com.cloudflare.email_security#InvestigateBulkCreateResponseActionParamsMoveDestination",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.email_security#InvestigateBulkCreateResponseActionParamsMoveType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expected_disposition": {
          "target": "com.cloudflare.email_security#InvestigateBulkCreateResponseActionParamsMoveExpectedDisposition"
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCreateResponseActionParamsReleaseType": {
      "type": "enum",
      "members": {
        "RELEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELEASE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCreateResponseActionParamsRelease": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.email_security#InvestigateBulkCreateResponseActionParamsReleaseType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCreateResponseActionParams": {
      "type": "union",
      "members": {
        "Move": {
          "target": "com.cloudflare.email_security#InvestigateBulkCreateResponseActionParamsMove"
        },
        "Release": {
          "target": "com.cloudflare.email_security#InvestigateBulkCreateResponseActionParamsRelease"
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCreateResponseActionType": {
      "type": "enum",
      "members": {
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        },
        "RELEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELEASE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCreateResponseSearchParamsDeliveryStatus": {
      "type": "enum",
      "members": {
        "DELIVERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delivered"
          }
        },
        "MOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "moved"
          }
        },
        "QUARANTINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quarantined"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        },
        "DEFERRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deferred"
          }
        },
        "BOUNCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bounced"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCreateResponseSearchParamsFinalDisposition": {
      "type": "enum",
      "members": {
        "MALICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS"
          }
        },
        "MALICIOUS_BEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS-BEC"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPICIOUS"
          }
        },
        "SPOOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOOF"
          }
        },
        "SPAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPAM"
          }
        },
        "BULK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BULK"
          }
        },
        "ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTED"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCreateResponseSearchParamsMessageAction": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREVIEW"
          }
        },
        "QUARANTINE_RELEASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUARANTINE_RELEASED"
          }
        },
        "MOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVED"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCreateResponseSearchParams": {
      "type": "structure",
      "members": {
        "action_log": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated, use `GET /investigate/{investigate_id}/action_log` instead. End of life: November 1, 2026."
          }
        },
        "alert_id": {
          "target": "smithy.api#String"
        },
        "delivery_status": {
          "target": "com.cloudflare.email_security#InvestigateBulkCreateResponseSearchParamsDeliveryStatus",
          "traits": {
            "smithy.api#documentation": "Delivery status of the message."
          }
        },
        "detections_only": {
          "target": "smithy.api#Boolean"
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End of search date range"
          }
        },
        "exact_subject": {
          "target": "smithy.api#String"
        },
        "final_disposition": {
          "target": "com.cloudflare.email_security#InvestigateBulkCreateResponseSearchParamsFinalDisposition"
        },
        "message_action": {
          "target": "com.cloudflare.email_security#InvestigateBulkCreateResponseSearchParamsMessageAction"
        },
        "message_id": {
          "target": "smithy.api#String"
        },
        "metric": {
          "target": "smithy.api#String"
        },
        "query": {
          "target": "smithy.api#String"
        },
        "recipient": {
          "target": "smithy.api#String"
        },
        "sender": {
          "target": "smithy.api#String"
        },
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Beginning of search date range"
          }
        },
        "subject": {
          "target": "smithy.api#String"
        },
        "submissions": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCreateResponseStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "DISCOVERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCOVERING"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIPPED"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCreateResponse": {
      "type": "structure",
      "members": {
        "action_params": {
          "target": "com.cloudflare.email_security#InvestigateBulkCreateResponseActionParams",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action_type": {
          "target": "com.cloudflare.email_security#InvestigateBulkCreateResponseActionType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "job_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "messages_failed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "messages_pending": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "messages_successful": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "search_params": {
          "target": "com.cloudflare.email_security#InvestigateBulkCreateResponseSearchParams",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.email_security#InvestigateBulkCreateResponseStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total_messages_discovered": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String"
        },
        "completed_at": {
          "target": "smithy.api#String"
        },
        "started_at": {
          "target": "smithy.api#String"
        },
        "status_message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.email_security#InvestigateBulkCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.email_security#InvestigateBulkCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.email_security#InvestigateBulkCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/email-security/investigate/bulk",
          "code": 200
        },
        "smithy.api#documentation": "Create a bulk action job"
      }
    },
    "com.cloudflare.email_security#InvestigateBulkDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "job_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.email_security#InvestigateBulkDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.email_security#InvestigateBulkDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.email_security#InvestigateBulkDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.email_security#InvestigateBulkDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/email-security/investigate/bulk/{job_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes the job, removing it from all list and detail endpoints. Only jobs in a terminal state (`COMPLETED`, `CANCELLED`, `FAILED`, or `SKIPPED`) can be deleted. To stop an in-progress job without removing it, use the cancel endpoint instead.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.email_security#InvestigateBulkGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "job_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.email_security#InvestigateBulkGetResponseActionParamsMoveDestination": {
      "type": "enum",
      "members": {
        "INBOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Inbox"
          }
        },
        "JUNKEMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JunkEmail"
          }
        },
        "DELETEDITEMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeletedItems"
          }
        },
        "RECOVERABLEITEMSDELETIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RecoverableItemsDeletions"
          }
        },
        "RECOVERABLEITEMSPURGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RecoverableItemsPurges"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkGetResponseActionParamsMoveType": {
      "type": "enum",
      "members": {
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkGetResponseActionParamsMoveExpectedDisposition": {
      "type": "enum",
      "members": {
        "MALICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS"
          }
        },
        "MALICIOUS_BEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS-BEC"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPICIOUS"
          }
        },
        "SPOOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOOF"
          }
        },
        "SPAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPAM"
          }
        },
        "BULK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BULK"
          }
        },
        "ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTED"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkGetResponseActionParamsMove": {
      "type": "structure",
      "members": {
        "destination": {
          "target": "com.cloudflare.email_security#InvestigateBulkGetResponseActionParamsMoveDestination",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.email_security#InvestigateBulkGetResponseActionParamsMoveType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expected_disposition": {
          "target": "com.cloudflare.email_security#InvestigateBulkGetResponseActionParamsMoveExpectedDisposition"
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkGetResponseActionParamsReleaseType": {
      "type": "enum",
      "members": {
        "RELEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELEASE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkGetResponseActionParamsRelease": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.email_security#InvestigateBulkGetResponseActionParamsReleaseType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkGetResponseActionParams": {
      "type": "union",
      "members": {
        "Move": {
          "target": "com.cloudflare.email_security#InvestigateBulkGetResponseActionParamsMove"
        },
        "Release": {
          "target": "com.cloudflare.email_security#InvestigateBulkGetResponseActionParamsRelease"
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkGetResponseActionType": {
      "type": "enum",
      "members": {
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        },
        "RELEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELEASE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkGetResponseSearchParamsDeliveryStatus": {
      "type": "enum",
      "members": {
        "DELIVERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delivered"
          }
        },
        "MOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "moved"
          }
        },
        "QUARANTINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quarantined"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        },
        "DEFERRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deferred"
          }
        },
        "BOUNCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bounced"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkGetResponseSearchParamsFinalDisposition": {
      "type": "enum",
      "members": {
        "MALICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS"
          }
        },
        "MALICIOUS_BEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALICIOUS-BEC"
          }
        },
        "SUSPICIOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPICIOUS"
          }
        },
        "SPOOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOOF"
          }
        },
        "SPAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPAM"
          }
        },
        "BULK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BULK"
          }
        },
        "ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTED"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkGetResponseSearchParamsMessageAction": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREVIEW"
          }
        },
        "QUARANTINE_RELEASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUARANTINE_RELEASED"
          }
        },
        "MOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVED"
          }
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkGetResponseSearchParams": {
      "type": "structure",
      "members": {
        "action_log": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated, use `GET /investigate/{investigate_id}/action_log` instead. End of life: November 1, 2026."
          }
        },
        "alert_id": {
          "target": "smithy.api#String"
        },
        "delivery_status": {
          "target": "com.cloudflare.email_security#InvestigateBulkGetResponseSearchParamsDeliveryStatus",
          "traits": {
            "smithy.api#documentation": "Delivery status of the message."
          }
        },
        "detections_only": {
          "target": "smithy.api#Boolean"
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End of search date range"
          }
        },
        "exact_subject": {
          "target": "smithy.api#String"
        },
        "final_disposition": {
          "target": "com.cloudflare.email_security#InvestigateBulkGetResponseSearchParamsFinalDisposition"
        },
        "message_action": {
          "target": "com.cloudflare.email_security#InvestigateBulkGetResponseSearchParamsMessageAction"
        },
        "message_id": {
          "target": "smithy.api#String"
        },
        "metric": {
          "target": "smithy.api#String"
        },
        "query": {
          "target": "smithy.api#String"
        },
        "recipient": {
          "target": "smithy.api#String"
        },
        "sender": {
          "target": "smithy.api#String"
        },
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Beginning of search date range"
          }
        },
        "subject": {
          "target": "smithy.api#String"
        },
        "submissions": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.email_security#InvestigateBulkGetResponseStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "DISCOVERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCOVERING"
[...]
