{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.filters#BulkDeleteRequestIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.filters#BulkDeleteRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.cloudflare.filters#BulkDeleteRequestIdList",
          "traits": {
            "smithy.api#httpQuery": "id",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.filters#BulkDeleteResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the filter."
          }
        }
      }
    },
    "com.cloudflare.filters#BulkDeleteResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.filters#BulkDeleteResultItem"
      }
    },
    "com.cloudflare.filters#BulkDeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.filters#BulkDeleteResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.filters#BulkDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.filters#BulkDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.filters#BulkDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/filters",
          "code": 200
        },
        "smithy.api#documentation": "Deletes one or more existing filters.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.filters#BulkUpdateRequestBodyItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the filter."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the filter."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter expression. For more information, refer to [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/)."
          }
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the filter is currently paused."
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short reference tag. Allows you to select related filters."
          }
        }
      }
    },
    "com.cloudflare.filters#BulkUpdateRequestBodyList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.filters#BulkUpdateRequestBodyItem"
      }
    },
    "com.cloudflare.filters#BulkUpdateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.filters#BulkUpdateRequestBodyList",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.filters#BulkUpdateResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the filter."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the filter."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter expression. For more information, refer to [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/)."
          }
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the filter is currently paused."
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short reference tag. Allows you to select related filters."
          }
        }
      }
    },
    "com.cloudflare.filters#BulkUpdateResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.filters#BulkUpdateResultItem"
      }
    },
    "com.cloudflare.filters#BulkUpdateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.filters#BulkUpdateResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.filters#BulkUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.filters#BulkUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.filters#BulkUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/filters",
          "code": 200
        },
        "smithy.api#documentation": "Updates one or more existing filters.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.filters#CreateRequestBodyItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the filter."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the filter."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter expression. For more information, refer to [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/)."
          }
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the filter is currently paused."
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short reference tag. Allows you to select related filters."
          }
        }
      }
    },
    "com.cloudflare.filters#CreateRequestBodyList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.filters#CreateRequestBodyItem"
      }
    },
    "com.cloudflare.filters#CreateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.filters#CreateRequestBodyList",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.filters#CreateResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the filter."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the filter."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter expression. For more information, refer to [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/)."
          }
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the filter is currently paused."
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short reference tag. Allows you to select related filters."
          }
        }
      }
    },
    "com.cloudflare.filters#CreateResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.filters#CreateResultItem"
      }
    },
    "com.cloudflare.filters#CreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.filters#CreateResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.filters#Create": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.filters#CreateRequest"
      },
      "output": {
        "target": "com.cloudflare.filters#CreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/filters",
          "code": 200
        },
        "smithy.api#documentation": "Creates one or more filters."
      }
    },
    "com.cloudflare.filters#DeleteRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filter_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the filter.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.filters#DeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the filter.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.filters#Delete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.filters#DeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.filters#DeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/filters/{filter_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes an existing filter.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.filters#GetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filter_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the filter.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.filters#GetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the filter."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the filter."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter expression. For more information, refer to [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/)."
          }
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the filter is currently paused."
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short reference tag. Allows you to select related filters."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.filters#Get": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.filters#GetRequest"
      },
      "output": {
        "target": "com.cloudflare.filters#GetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/filters/{filter_id}",
          "code": 200
        },
        "smithy.api#documentation": "Fetches the details of a filter.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.filters#ListRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the filter.",
            "smithy.api#httpQuery": "id"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A case-insensitive string to find in the description.",
            "smithy.api#httpQuery": "description"
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A case-insensitive string to find in the expression.",
            "smithy.api#httpQuery": "expression"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of paginated results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the filter is currently paused.",
            "smithy.api#httpQuery": "paused"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of filters per page.",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter ref (a short reference tag) to search for. Must be an exact match.",
            "smithy.api#httpQuery": "ref"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.filters#ListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the filter."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the filter."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter expression. For more information, refer to [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/)."
          }
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the filter is currently paused."
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short reference tag. Allows you to select related filters."
          }
        }
      }
    },
    "com.cloudflare.filters#ListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.filters#ListResultItem"
      }
    },
    "com.cloudflare.filters#ListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.filters#ListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.filters#List": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.filters#ListRequest"
      },
      "output": {
        "target": "com.cloudflare.filters#ListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/filters",
          "code": 200
        },
        "smithy.api#documentation": "Fetches filters in a zone. You can filter the results using several optional parameters.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.filters#UpdateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filter_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the filter.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the filter."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter expression. For more information, refer to [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/)."
          }
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the filter is currently paused."
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short reference tag. Allows you to select related filters."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.filters#UpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the filter."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the filter."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter expression. For more information, refer to [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/)."
          }
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, indicates that the filter is currently paused."
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short reference tag. Allows you to select related filters."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.filters#Update": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.filters#UpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.filters#UpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/filters/{filter_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates an existing filter.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.filters#Filters": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.filters#BulkDelete"
        },
        {
          "target": "com.cloudflare.filters#BulkUpdate"
        },
        {
          "target": "com.cloudflare.filters#Create"
        },
        {
          "target": "com.cloudflare.filters#Delete"
        },
        {
          "target": "com.cloudflare.filters#Get"
        },
        {
          "target": "com.cloudflare.filters#List"
        },
        {
          "target": "com.cloudflare.filters#Update"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare Filters",
        "smithy.api#documentation": "Cloudflare API — filters resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    }
  }
}
