{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.firewall#AccessRulesCreateForAccountRequestConfigurationAccessRuleIPConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountRequestConfigurationAccessRuleIPConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountRequestConfigurationAccessRuleIPConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip` when specifying an IP address in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address to match. This address will be compared to the IP address of incoming requests."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountRequestConfigurationIPV6ConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip6"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountRequestConfigurationIPV6Configuration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountRequestConfigurationIPV6ConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip6` when specifying an IPv6 address in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IPv6 address to match."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountRequestConfigurationAccessRuleCIDRConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip_range"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountRequestConfigurationAccessRuleCIDRConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountRequestConfigurationAccessRuleCIDRConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip_range` when specifying an IP address range in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address range to match. You can only use prefix lengths `/16` and `/24` for IPv4 ranges, and prefix lengths `/32`, `/48`, and `/64` for IPv6 ranges."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountRequestConfigurationASNConfigurationTarget": {
      "type": "enum",
      "members": {
        "ASN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asn"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountRequestConfigurationASNConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountRequestConfigurationASNConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `asn` when specifying an Autonomous System Number (ASN) in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The AS number to match."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountRequestConfigurationCountryConfigurationTarget": {
      "type": "enum",
      "members": {
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "country"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountRequestConfigurationCountryConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountRequestConfigurationCountryConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `country` when specifying a country code in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The two-letter ISO-3166-1 alpha-2 code to match. For more information, refer to [IP Access rules: Parameters](https://developers.cloudflare.com/waf/tools/ip-access-rules/parameters/#country)."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountRequestConfiguration": {
      "type": "union",
      "members": {
        "AccessRuleIPConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountRequestConfigurationAccessRuleIPConfiguration"
        },
        "IPV6Configuration": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountRequestConfigurationIPV6Configuration"
        },
        "AccessRuleCIDRConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountRequestConfigurationAccessRuleCIDRConfiguration"
        },
        "ASNConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountRequestConfigurationASNConfiguration"
        },
        "CountryConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountRequestConfigurationCountryConfiguration"
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountRequestMode": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        },
        "JS_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "js_challenge"
          }
        },
        "MANAGED_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_challenge"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountRequestConfiguration",
          "traits": {
            "smithy.api#documentation": "The rule configuration.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountRequestMode",
          "traits": {
            "smithy.api#documentation": "The action to apply to a matched request.",
            "smithy.api#required": {}
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the rule, typically used as a reminder or explanation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountResponseAllowedModesItem": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        },
        "JS_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "js_challenge"
          }
        },
        "MANAGED_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_challenge"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountResponseAllowedModesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.firewall#AccessRulesCreateForAccountResponseAllowedModesItem"
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountResponseConfigurationAccessRuleIPConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountResponseConfigurationAccessRuleIPConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountResponseConfigurationAccessRuleIPConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip` when specifying an IP address in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address to match. This address will be compared to the IP address of incoming requests."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountResponseConfigurationIPV6ConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip6"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountResponseConfigurationIPV6Configuration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountResponseConfigurationIPV6ConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip6` when specifying an IPv6 address in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IPv6 address to match."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountResponseConfigurationAccessRuleCIDRConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip_range"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountResponseConfigurationAccessRuleCIDRConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountResponseConfigurationAccessRuleCIDRConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip_range` when specifying an IP address range in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address range to match. You can only use prefix lengths `/16` and `/24` for IPv4 ranges, and prefix lengths `/32`, `/48`, and `/64` for IPv6 ranges."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountResponseConfigurationASNConfigurationTarget": {
      "type": "enum",
      "members": {
        "ASN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asn"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountResponseConfigurationASNConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountResponseConfigurationASNConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `asn` when specifying an Autonomous System Number (ASN) in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The AS number to match."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountResponseConfigurationCountryConfigurationTarget": {
      "type": "enum",
      "members": {
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "country"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountResponseConfigurationCountryConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountResponseConfigurationCountryConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `country` when specifying a country code in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The two-letter ISO-3166-1 alpha-2 code to match. For more information, refer to [IP Access rules: Parameters](https://developers.cloudflare.com/waf/tools/ip-access-rules/parameters/#country)."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountResponseConfiguration": {
      "type": "union",
      "members": {
        "AccessRuleIPConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountResponseConfigurationAccessRuleIPConfiguration"
        },
        "IPV6Configuration": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountResponseConfigurationIPV6Configuration"
        },
        "AccessRuleCIDRConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountResponseConfigurationAccessRuleCIDRConfiguration"
        },
        "ASNConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountResponseConfigurationASNConfiguration"
        },
        "CountryConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountResponseConfigurationCountryConfiguration"
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountResponseMode": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        },
        "JS_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "js_challenge"
          }
        },
        "MANAGED_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_challenge"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountResponseScopeType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountResponseScope": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact email address of the user."
          }
        },
        "type": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountResponseScopeType",
          "traits": {
            "smithy.api#documentation": "Defines the scope of the rule."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccountResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the IP Access rule.",
            "smithy.api#required": {}
          }
        },
        "allowed_modes": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountResponseAllowedModesList",
          "traits": {
            "smithy.api#documentation": "The available actions that a rule can apply to a matched request.",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountResponseConfiguration",
          "traits": {
            "smithy.api#documentation": "The rule configuration.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountResponseMode",
          "traits": {
            "smithy.api#documentation": "The action to apply to a matched request.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was created."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was last modified."
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the rule, typically used as a reminder or explanation."
          }
        },
        "scope": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForAccountResponseScope",
          "traits": {
            "smithy.api#documentation": "All zones owned by the user will have the rule applied."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.firewall#AccessRulesCreateForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.firewall#AccessRulesCreateForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/firewall/access_rules/rules",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new IP Access rule for an account or zone. The rule will apply to all zones in the account or zone. Note: To create an IP Access rule that applies to a single zone, refer to the [IP Access rules for a zone](#ip-access-rules-for-a-zone) endpoints."
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneRequestConfigurationAccessRuleIPConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneRequestConfigurationAccessRuleIPConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneRequestConfigurationAccessRuleIPConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip` when specifying an IP address in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address to match. This address will be compared to the IP address of incoming requests."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneRequestConfigurationIPV6ConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip6"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneRequestConfigurationIPV6Configuration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneRequestConfigurationIPV6ConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip6` when specifying an IPv6 address in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IPv6 address to match."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneRequestConfigurationAccessRuleCIDRConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip_range"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneRequestConfigurationAccessRuleCIDRConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneRequestConfigurationAccessRuleCIDRConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip_range` when specifying an IP address range in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address range to match. You can only use prefix lengths `/16` and `/24` for IPv4 ranges, and prefix lengths `/32`, `/48`, and `/64` for IPv6 ranges."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneRequestConfigurationASNConfigurationTarget": {
      "type": "enum",
      "members": {
        "ASN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asn"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneRequestConfigurationASNConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneRequestConfigurationASNConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `asn` when specifying an Autonomous System Number (ASN) in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The AS number to match."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneRequestConfigurationCountryConfigurationTarget": {
      "type": "enum",
      "members": {
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "country"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneRequestConfigurationCountryConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneRequestConfigurationCountryConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `country` when specifying a country code in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The two-letter ISO-3166-1 alpha-2 code to match. For more information, refer to [IP Access rules: Parameters](https://developers.cloudflare.com/waf/tools/ip-access-rules/parameters/#country)."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneRequestConfiguration": {
      "type": "union",
      "members": {
        "AccessRuleIPConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneRequestConfigurationAccessRuleIPConfiguration"
        },
        "IPV6Configuration": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneRequestConfigurationIPV6Configuration"
        },
        "AccessRuleCIDRConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneRequestConfigurationAccessRuleCIDRConfiguration"
        },
        "ASNConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneRequestConfigurationASNConfiguration"
        },
        "CountryConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneRequestConfigurationCountryConfiguration"
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneRequestMode": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        },
        "JS_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "js_challenge"
          }
        },
        "MANAGED_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_challenge"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneRequestConfiguration",
          "traits": {
            "smithy.api#documentation": "The rule configuration.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneRequestMode",
          "traits": {
            "smithy.api#documentation": "The action to apply to a matched request.",
            "smithy.api#required": {}
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the rule, typically used as a reminder or explanation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneResponseAllowedModesItem": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        },
        "JS_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "js_challenge"
          }
        },
        "MANAGED_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_challenge"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneResponseAllowedModesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.firewall#AccessRulesCreateForZoneResponseAllowedModesItem"
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneResponseConfigurationAccessRuleIPConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneResponseConfigurationAccessRuleIPConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneResponseConfigurationAccessRuleIPConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip` when specifying an IP address in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address to match. This address will be compared to the IP address of incoming requests."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneResponseConfigurationIPV6ConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip6"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneResponseConfigurationIPV6Configuration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneResponseConfigurationIPV6ConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip6` when specifying an IPv6 address in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IPv6 address to match."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneResponseConfigurationAccessRuleCIDRConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip_range"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneResponseConfigurationAccessRuleCIDRConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneResponseConfigurationAccessRuleCIDRConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip_range` when specifying an IP address range in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address range to match. You can only use prefix lengths `/16` and `/24` for IPv4 ranges, and prefix lengths `/32`, `/48`, and `/64` for IPv6 ranges."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneResponseConfigurationASNConfigurationTarget": {
      "type": "enum",
      "members": {
        "ASN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asn"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneResponseConfigurationASNConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneResponseConfigurationASNConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `asn` when specifying an Autonomous System Number (ASN) in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The AS number to match."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneResponseConfigurationCountryConfigurationTarget": {
      "type": "enum",
      "members": {
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "country"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneResponseConfigurationCountryConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneResponseConfigurationCountryConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `country` when specifying a country code in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The two-letter ISO-3166-1 alpha-2 code to match. For more information, refer to [IP Access rules: Parameters](https://developers.cloudflare.com/waf/tools/ip-access-rules/parameters/#country)."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneResponseConfiguration": {
      "type": "union",
      "members": {
        "AccessRuleIPConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneResponseConfigurationAccessRuleIPConfiguration"
        },
        "IPV6Configuration": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneResponseConfigurationIPV6Configuration"
        },
        "AccessRuleCIDRConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneResponseConfigurationAccessRuleCIDRConfiguration"
        },
        "ASNConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneResponseConfigurationASNConfiguration"
        },
        "CountryConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneResponseConfigurationCountryConfiguration"
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneResponseMode": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        },
        "JS_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "js_challenge"
          }
        },
        "MANAGED_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_challenge"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneResponseScopeType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneResponseScope": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact email address of the user."
          }
        },
        "type": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneResponseScopeType",
          "traits": {
            "smithy.api#documentation": "Defines the scope of the rule."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZoneResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the IP Access rule.",
            "smithy.api#required": {}
          }
        },
        "allowed_modes": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneResponseAllowedModesList",
          "traits": {
            "smithy.api#documentation": "The available actions that a rule can apply to a matched request.",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneResponseConfiguration",
          "traits": {
            "smithy.api#documentation": "The rule configuration.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneResponseMode",
          "traits": {
            "smithy.api#documentation": "The action to apply to a matched request.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was created."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was last modified."
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the rule, typically used as a reminder or explanation."
          }
        },
        "scope": {
          "target": "com.cloudflare.firewall#AccessRulesCreateForZoneResponseScope",
          "traits": {
            "smithy.api#documentation": "All zones owned by the user will have the rule applied."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.firewall#AccessRulesCreateForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.firewall#AccessRulesCreateForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.firewall#AccessRulesCreateForZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/firewall/access_rules/rules",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new IP Access rule for an account or zone. The rule will apply to all zones in the account or zone. Note: To create an IP Access rule that applies to a single zone, refer to the [IP Access rules for a zone](#ip-access-rules-for-a-zone) endpoints."
      }
    },
    "com.cloudflare.firewall#AccessRulesDeleteForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for a rule.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.firewall#AccessRulesDeleteForAccountResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.firewall#AccessRulesDeleteForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.firewall#AccessRulesDeleteForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.firewall#AccessRulesDeleteForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/firewall/access_rules/rules/{rule_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes an existing IP Access rule defined. Note: This operation will affect all zones in the account or zone.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.firewall#AccessRulesDeleteForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for a rule.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.firewall#AccessRulesDeleteForZoneResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.firewall#AccessRulesDeleteForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.firewall#AccessRulesDeleteForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.firewall#AccessRulesDeleteForZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/firewall/access_rules/rules/{rule_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes an existing IP Access rule defined. Note: This operation will affect all zones in the account or zone.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountRequestConfigurationAccessRuleIPConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountRequestConfigurationAccessRuleIPConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountRequestConfigurationAccessRuleIPConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip` when specifying an IP address in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address to match. This address will be compared to the IP address of incoming requests."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountRequestConfigurationIPV6ConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip6"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountRequestConfigurationIPV6Configuration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountRequestConfigurationIPV6ConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip6` when specifying an IPv6 address in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IPv6 address to match."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountRequestConfigurationAccessRuleCIDRConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip_range"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountRequestConfigurationAccessRuleCIDRConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountRequestConfigurationAccessRuleCIDRConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip_range` when specifying an IP address range in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address range to match. You can only use prefix lengths `/16` and `/24` for IPv4 ranges, and prefix lengths `/32`, `/48`, and `/64` for IPv6 ranges."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountRequestConfigurationASNConfigurationTarget": {
      "type": "enum",
      "members": {
        "ASN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asn"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountRequestConfigurationASNConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountRequestConfigurationASNConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `asn` when specifying an Autonomous System Number (ASN) in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The AS number to match."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountRequestConfigurationCountryConfigurationTarget": {
      "type": "enum",
      "members": {
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "country"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountRequestConfigurationCountryConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountRequestConfigurationCountryConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `country` when specifying a country code in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The two-letter ISO-3166-1 alpha-2 code to match. For more information, refer to [IP Access rules: Parameters](https://developers.cloudflare.com/waf/tools/ip-access-rules/parameters/#country)."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountRequestConfiguration": {
      "type": "union",
      "members": {
        "AccessRuleIPConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountRequestConfigurationAccessRuleIPConfiguration"
        },
        "IPV6Configuration": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountRequestConfigurationIPV6Configuration"
        },
        "AccessRuleCIDRConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountRequestConfigurationAccessRuleCIDRConfiguration"
        },
        "ASNConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountRequestConfigurationASNConfiguration"
        },
        "CountryConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountRequestConfigurationCountryConfiguration"
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountRequestMode": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        },
        "JS_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "js_challenge"
          }
        },
        "MANAGED_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_challenge"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for a rule.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountRequestConfiguration",
          "traits": {
            "smithy.api#documentation": "The rule configuration.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountRequestMode",
          "traits": {
            "smithy.api#documentation": "The action to apply to a matched request.",
            "smithy.api#required": {}
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the rule, typically used as a reminder or explanation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountResponseAllowedModesItem": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        },
        "JS_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "js_challenge"
          }
        },
        "MANAGED_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_challenge"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountResponseAllowedModesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.firewall#AccessRulesEditForAccountResponseAllowedModesItem"
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountResponseConfigurationAccessRuleIPConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountResponseConfigurationAccessRuleIPConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountResponseConfigurationAccessRuleIPConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip` when specifying an IP address in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address to match. This address will be compared to the IP address of incoming requests."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountResponseConfigurationIPV6ConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip6"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountResponseConfigurationIPV6Configuration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountResponseConfigurationIPV6ConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip6` when specifying an IPv6 address in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IPv6 address to match."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountResponseConfigurationAccessRuleCIDRConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip_range"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountResponseConfigurationAccessRuleCIDRConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountResponseConfigurationAccessRuleCIDRConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip_range` when specifying an IP address range in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address range to match. You can only use prefix lengths `/16` and `/24` for IPv4 ranges, and prefix lengths `/32`, `/48`, and `/64` for IPv6 ranges."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountResponseConfigurationASNConfigurationTarget": {
      "type": "enum",
      "members": {
        "ASN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asn"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountResponseConfigurationASNConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountResponseConfigurationASNConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `asn` when specifying an Autonomous System Number (ASN) in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The AS number to match."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountResponseConfigurationCountryConfigurationTarget": {
      "type": "enum",
      "members": {
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "country"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountResponseConfigurationCountryConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountResponseConfigurationCountryConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `country` when specifying a country code in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The two-letter ISO-3166-1 alpha-2 code to match. For more information, refer to [IP Access rules: Parameters](https://developers.cloudflare.com/waf/tools/ip-access-rules/parameters/#country)."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountResponseConfiguration": {
      "type": "union",
      "members": {
        "AccessRuleIPConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountResponseConfigurationAccessRuleIPConfiguration"
        },
        "IPV6Configuration": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountResponseConfigurationIPV6Configuration"
        },
        "AccessRuleCIDRConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountResponseConfigurationAccessRuleCIDRConfiguration"
        },
        "ASNConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountResponseConfigurationASNConfiguration"
        },
        "CountryConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountResponseConfigurationCountryConfiguration"
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountResponseMode": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        },
        "JS_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "js_challenge"
          }
        },
        "MANAGED_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_challenge"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountResponseScopeType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountResponseScope": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact email address of the user."
          }
        },
        "type": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountResponseScopeType",
          "traits": {
            "smithy.api#documentation": "Defines the scope of the rule."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccountResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the IP Access rule.",
            "smithy.api#required": {}
          }
        },
        "allowed_modes": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountResponseAllowedModesList",
          "traits": {
            "smithy.api#documentation": "The available actions that a rule can apply to a matched request.",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountResponseConfiguration",
          "traits": {
            "smithy.api#documentation": "The rule configuration.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountResponseMode",
          "traits": {
            "smithy.api#documentation": "The action to apply to a matched request.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was created."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was last modified."
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the rule, typically used as a reminder or explanation."
          }
        },
        "scope": {
          "target": "com.cloudflare.firewall#AccessRulesEditForAccountResponseScope",
          "traits": {
            "smithy.api#documentation": "All zones owned by the user will have the rule applied."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForAccount": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.firewall#AccessRulesEditForAccountRequest"
      },
      "output": {
        "target": "com.cloudflare.firewall#AccessRulesEditForAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/firewall/access_rules/rules/{rule_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates an IP Access rule defined. Note: This operation will affect all zones in the account or zone."
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneRequestConfigurationAccessRuleIPConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneRequestConfigurationAccessRuleIPConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneRequestConfigurationAccessRuleIPConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip` when specifying an IP address in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address to match. This address will be compared to the IP address of incoming requests."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneRequestConfigurationIPV6ConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip6"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneRequestConfigurationIPV6Configuration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneRequestConfigurationIPV6ConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip6` when specifying an IPv6 address in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IPv6 address to match."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneRequestConfigurationAccessRuleCIDRConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip_range"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneRequestConfigurationAccessRuleCIDRConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneRequestConfigurationAccessRuleCIDRConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip_range` when specifying an IP address range in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address range to match. You can only use prefix lengths `/16` and `/24` for IPv4 ranges, and prefix lengths `/32`, `/48`, and `/64` for IPv6 ranges."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneRequestConfigurationASNConfigurationTarget": {
      "type": "enum",
      "members": {
        "ASN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asn"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneRequestConfigurationASNConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneRequestConfigurationASNConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `asn` when specifying an Autonomous System Number (ASN) in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The AS number to match."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneRequestConfigurationCountryConfigurationTarget": {
      "type": "enum",
      "members": {
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "country"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneRequestConfigurationCountryConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneRequestConfigurationCountryConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `country` when specifying a country code in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The two-letter ISO-3166-1 alpha-2 code to match. For more information, refer to [IP Access rules: Parameters](https://developers.cloudflare.com/waf/tools/ip-access-rules/parameters/#country)."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneRequestConfiguration": {
      "type": "union",
      "members": {
        "AccessRuleIPConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneRequestConfigurationAccessRuleIPConfiguration"
        },
        "IPV6Configuration": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneRequestConfigurationIPV6Configuration"
        },
        "AccessRuleCIDRConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneRequestConfigurationAccessRuleCIDRConfiguration"
        },
        "ASNConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneRequestConfigurationASNConfiguration"
        },
        "CountryConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneRequestConfigurationCountryConfiguration"
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneRequestMode": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        },
        "JS_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "js_challenge"
          }
        },
        "MANAGED_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_challenge"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Zone ID to use for this endpoint. Mutually exclusive with the Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for a rule.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneRequestConfiguration",
          "traits": {
            "smithy.api#documentation": "The rule configuration.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneRequestMode",
          "traits": {
            "smithy.api#documentation": "The action to apply to a matched request.",
            "smithy.api#required": {}
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the rule, typically used as a reminder or explanation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneResponseAllowedModesItem": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        },
        "JS_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "js_challenge"
          }
        },
        "MANAGED_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_challenge"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneResponseAllowedModesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.firewall#AccessRulesEditForZoneResponseAllowedModesItem"
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneResponseConfigurationAccessRuleIPConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneResponseConfigurationAccessRuleIPConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneResponseConfigurationAccessRuleIPConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip` when specifying an IP address in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address to match. This address will be compared to the IP address of incoming requests."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneResponseConfigurationIPV6ConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip6"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneResponseConfigurationIPV6Configuration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneResponseConfigurationIPV6ConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip6` when specifying an IPv6 address in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IPv6 address to match."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneResponseConfigurationAccessRuleCIDRConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip_range"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneResponseConfigurationAccessRuleCIDRConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneResponseConfigurationAccessRuleCIDRConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip_range` when specifying an IP address range in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address range to match. You can only use prefix lengths `/16` and `/24` for IPv4 ranges, and prefix lengths `/32`, `/48`, and `/64` for IPv6 ranges."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneResponseConfigurationASNConfigurationTarget": {
      "type": "enum",
      "members": {
        "ASN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asn"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneResponseConfigurationASNConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneResponseConfigurationASNConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `asn` when specifying an Autonomous System Number (ASN) in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The AS number to match."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneResponseConfigurationCountryConfigurationTarget": {
      "type": "enum",
      "members": {
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "country"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneResponseConfigurationCountryConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneResponseConfigurationCountryConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `country` when specifying a country code in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The two-letter ISO-3166-1 alpha-2 code to match. For more information, refer to [IP Access rules: Parameters](https://developers.cloudflare.com/waf/tools/ip-access-rules/parameters/#country)."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneResponseConfiguration": {
      "type": "union",
      "members": {
        "AccessRuleIPConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneResponseConfigurationAccessRuleIPConfiguration"
        },
        "IPV6Configuration": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneResponseConfigurationIPV6Configuration"
        },
        "AccessRuleCIDRConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneResponseConfigurationAccessRuleCIDRConfiguration"
        },
        "ASNConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneResponseConfigurationASNConfiguration"
        },
        "CountryConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneResponseConfigurationCountryConfiguration"
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneResponseMode": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        },
        "JS_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "js_challenge"
          }
        },
        "MANAGED_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_challenge"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneResponseScopeType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneResponseScope": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact email address of the user."
          }
        },
        "type": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneResponseScopeType",
          "traits": {
            "smithy.api#documentation": "Defines the scope of the rule."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZoneResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the IP Access rule.",
            "smithy.api#required": {}
          }
        },
        "allowed_modes": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneResponseAllowedModesList",
          "traits": {
            "smithy.api#documentation": "The available actions that a rule can apply to a matched request.",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneResponseConfiguration",
          "traits": {
            "smithy.api#documentation": "The rule configuration.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneResponseMode",
          "traits": {
            "smithy.api#documentation": "The action to apply to a matched request.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was created."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was last modified."
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the rule, typically used as a reminder or explanation."
          }
        },
        "scope": {
          "target": "com.cloudflare.firewall#AccessRulesEditForZoneResponseScope",
          "traits": {
            "smithy.api#documentation": "All zones owned by the user will have the rule applied."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.firewall#AccessRulesEditForZone": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.firewall#AccessRulesEditForZoneRequest"
      },
      "output": {
        "target": "com.cloudflare.firewall#AccessRulesEditForZoneResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/zones/{zone_id}/firewall/access_rules/rules/{rule_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates an IP Access rule defined. Note: This operation will affect all zones in the account or zone."
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID to use for this endpoint. Mutually exclusive with the Zone ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rule_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for a rule.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForAccountResponseAllowedModesItem": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        },
        "JS_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "js_challenge"
          }
        },
        "MANAGED_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_challenge"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForAccountResponseAllowedModesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.firewall#AccessRulesGetForAccountResponseAllowedModesItem"
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForAccountResponseConfigurationAccessRuleIPConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForAccountResponseConfigurationAccessRuleIPConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesGetForAccountResponseConfigurationAccessRuleIPConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip` when specifying an IP address in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address to match. This address will be compared to the IP address of incoming requests."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForAccountResponseConfigurationIPV6ConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip6"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForAccountResponseConfigurationIPV6Configuration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesGetForAccountResponseConfigurationIPV6ConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip6` when specifying an IPv6 address in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IPv6 address to match."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForAccountResponseConfigurationAccessRuleCIDRConfigurationTarget": {
      "type": "enum",
      "members": {
        "IP_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip_range"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForAccountResponseConfigurationAccessRuleCIDRConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesGetForAccountResponseConfigurationAccessRuleCIDRConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `ip_range` when specifying an IP address range in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address range to match. You can only use prefix lengths `/16` and `/24` for IPv4 ranges, and prefix lengths `/32`, `/48`, and `/64` for IPv6 ranges."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForAccountResponseConfigurationASNConfigurationTarget": {
      "type": "enum",
      "members": {
        "ASN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asn"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForAccountResponseConfigurationASNConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesGetForAccountResponseConfigurationASNConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `asn` when specifying an Autonomous System Number (ASN) in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The AS number to match."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForAccountResponseConfigurationCountryConfigurationTarget": {
      "type": "enum",
      "members": {
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "country"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForAccountResponseConfigurationCountryConfiguration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.cloudflare.firewall#AccessRulesGetForAccountResponseConfigurationCountryConfigurationTarget",
          "traits": {
            "smithy.api#documentation": "The configuration target. You must set the target to `country` when specifying a country code in the rule."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The two-letter ISO-3166-1 alpha-2 code to match. For more information, refer to [IP Access rules: Parameters](https://developers.cloudflare.com/waf/tools/ip-access-rules/parameters/#country)."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForAccountResponseConfiguration": {
      "type": "union",
      "members": {
        "AccessRuleIPConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesGetForAccountResponseConfigurationAccessRuleIPConfiguration"
        },
        "IPV6Configuration": {
          "target": "com.cloudflare.firewall#AccessRulesGetForAccountResponseConfigurationIPV6Configuration"
        },
        "AccessRuleCIDRConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesGetForAccountResponseConfigurationAccessRuleCIDRConfiguration"
        },
        "ASNConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesGetForAccountResponseConfigurationASNConfiguration"
        },
        "CountryConfiguration": {
          "target": "com.cloudflare.firewall#AccessRulesGetForAccountResponseConfigurationCountryConfiguration"
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForAccountResponseMode": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "challenge"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        },
        "JS_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "js_challenge"
          }
        },
        "MANAGED_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_challenge"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForAccountResponseScopeType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization"
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForAccountResponseScope": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact email address of the user."
          }
        },
        "type": {
          "target": "com.cloudflare.firewall#AccessRulesGetForAccountResponseScopeType",
          "traits": {
            "smithy.api#documentation": "Defines the scope of the rule."
          }
        }
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForAccountResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the IP Access rule.",
            "smithy.api#required": {}
          }
        },
        "allowed_modes": {
          "target": "com.cloudflare.firewall#AccessRulesGetForAccountResponseAllowedModesList",
          "traits": {
            "smithy.api#documentation": "The available actions that a rule can apply to a matched request.",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.cloudflare.firewall#AccessRulesGetForAccountResponseConfiguration",
          "traits": {
            "smithy.api#documentation": "The rule configuration.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.cloudflare.firewall#AccessRulesGetForAccountResponseMode",
          "traits": {
            "smithy.api#documentation": "The action to apply to a matched request.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was created."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of when the rule was last modified."
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informative summary of the rule, typically used as a reminder or explanation."
          }
        },
        "scope": {
          "target": "com.cloudflare.firewall#AccessRulesGetForAccountResponseScope",
          "traits": {
            "smithy.api#documentation": "All zones owned by the user will have the rule applied."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.firewall#AccessRulesGetForAccount": {
      "type": "operation",
      "input": {
[...]
