{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.flagship#AppsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.flagship#AppsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email of the actor who last modified the app, or `edge-gateway` for gateway-authenticated changes.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.flagship#AppsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.flagship#AppsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.flagship#AppsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/flagship/apps",
          "code": 200
        },
        "smithy.api#documentation": "Creates an app. The returned `id` is used in all subsequent flag, changelog, and evaluation requests."
      }
    },
    "com.cloudflare.flagship#AppsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "App identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.flagship#AppsDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.flagship#AppsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.flagship#AppsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.flagship#AppsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/flagship/apps/{app_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes an app and all its flags and changelog history. Returns 409 if any Worker still references this app via a Flagship binding.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.flagship#AppsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "App identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.flagship#AppsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email of the actor who last modified the app, or `edge-gateway` for gateway-authenticated changes.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.flagship#AppsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.flagship#AppsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.flagship#AppsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/flagship/apps/{app_id}",
          "code": 200
        },
        "smithy.api#documentation": "Returns an app's name and audit fields. Flag definitions are not included.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.flagship#AppsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.flagship#AppsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email of the actor who last modified the app, or `edge-gateway` for gateway-authenticated changes.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.flagship#AppsListResultItem"
      }
    },
    "com.cloudflare.flagship#AppsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.flagship#AppsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.flagship#AppsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.flagship#AppsListRequest"
      },
      "output": {
        "target": "com.cloudflare.flagship#AppsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/flagship/apps",
          "code": 200
        },
        "smithy.api#documentation": "Lists all apps in the account. Returns identity and audit fields only — flag definitions are not included.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.flagship#AppsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "App identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.flagship#AppsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email of the actor who last modified the app, or `edge-gateway` for gateway-authenticated changes.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.flagship#AppsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.flagship#AppsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.flagship#AppsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/flagship/apps/{app_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates an app. Only `name` is mutable.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.flagship#AppsEvaluateGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "App identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "flagKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The flag key to evaluate.",
            "smithy.api#httpQuery": "flagKey",
            "smithy.api#required": {}
          }
        },
        "targetingKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Context targeting key (per OpenFeature spec); used for percentage rollout bucketing.",
            "smithy.api#httpQuery": "targetingKey"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.flagship#AppsEvaluateGetResponseReason": {
      "type": "enum",
      "members": {
        "TARGETING_MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGETING_MATCH"
          }
        },
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "SPLIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPLIT"
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsEvaluateGetResponseValueCase3Map": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.flagship#AppsEvaluateGetResponseValueCase4List": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.flagship#AppsEvaluateGetResponseValue": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "Double": {
          "target": "smithy.api#Double"
        },
        "Boolean": {
          "target": "smithy.api#Boolean"
        },
        "AppsEvaluateGetResponseValueCase3Map": {
          "target": "com.cloudflare.flagship#AppsEvaluateGetResponseValueCase3Map"
        },
        "AppsEvaluateGetResponseValueCase4List": {
          "target": "com.cloudflare.flagship#AppsEvaluateGetResponseValueCase4List"
        }
      }
    },
    "com.cloudflare.flagship#AppsEvaluateGetResponse": {
      "type": "structure",
      "members": {
        "flagKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "com.cloudflare.flagship#AppsEvaluateGetResponseReason",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "variant": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.cloudflare.flagship#AppsEvaluateGetResponseValue"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.flagship#AppsEvaluateGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.flagship#AppsEvaluateGetRequest"
      },
      "output": {
        "target": "com.cloudflare.flagship#AppsEvaluateGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/flagship/apps/{app_id}/evaluate",
          "code": 200
        },
        "smithy.api#documentation": "Evaluates a flag against the provided context. Pass context attributes as query parameters; boolean and numeric strings are coerced automatically. For low-latency in-Worker evaluation, prefer the Flagship binding over this endpoint.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase0Operator": {
      "type": "enum",
      "members": {
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        },
        "NOT_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_equals"
          }
        },
        "GREATER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "greater_than"
          }
        },
        "LESS_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "less_than"
          }
        },
        "GREATER_THAN_OR_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "greater_than_or_equals"
          }
        },
        "LESS_THAN_OR_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "less_than_or_equals"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contains"
          }
        },
        "STARTS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "starts_with"
          }
        },
        "ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ends_with"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in"
          }
        },
        "NOT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_in"
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase0": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase0Operator",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Value to compare against the context attribute. Must be an array for `in` and `not_in`; numeric and ISO-8601 datetime strings are accepted by the ordering operators.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase0Operator": {
      "type": "enum",
      "members": {
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        },
        "NOT_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_equals"
          }
        },
        "GREATER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "greater_than"
          }
        },
        "LESS_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "less_than"
          }
        },
        "GREATER_THAN_OR_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "greater_than_or_equals"
          }
        },
        "LESS_THAN_OR_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "less_than_or_equals"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contains"
          }
        },
        "STARTS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "starts_with"
          }
        },
        "ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ends_with"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in"
          }
        },
        "NOT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_in"
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase0": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase0Operator",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Value to compare against the context attribute. Must be an array for `in` and `not_in`; numeric and ISO-8601 datetime strings are accepted by the ordering operators.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase0Operator": {
      "type": "enum",
      "members": {
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        },
        "NOT_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_equals"
          }
        },
        "GREATER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "greater_than"
          }
        },
        "LESS_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "less_than"
          }
        },
        "GREATER_THAN_OR_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "greater_than_or_equals"
          }
        },
        "LESS_THAN_OR_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "less_than_or_equals"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contains"
          }
        },
        "STARTS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "starts_with"
          }
        },
        "ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ends_with"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in"
          }
        },
        "NOT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_in"
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase0": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase0Operator",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Value to compare against the context attribute. Must be an array for `in` and `not_in`; numeric and ISO-8601 datetime strings are accepted by the ordering operators.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase0Operator": {
      "type": "enum",
      "members": {
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        },
        "NOT_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_equals"
          }
        },
        "GREATER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "greater_than"
          }
        },
        "LESS_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "less_than"
          }
        },
        "GREATER_THAN_OR_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "greater_than_or_equals"
          }
        },
        "LESS_THAN_OR_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "less_than_or_equals"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contains"
          }
        },
        "STARTS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "starts_with"
          }
        },
        "ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ends_with"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in"
          }
        },
        "NOT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_in"
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase0": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase0Operator",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Value to compare against the context attribute. Must be an array for `in` and `not_in`; numeric and ISO-8601 datetime strings are accepted by the ordering operators.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase0Operator": {
      "type": "enum",
      "members": {
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        },
        "NOT_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_equals"
          }
        },
        "GREATER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "greater_than"
          }
        },
        "LESS_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "less_than"
          }
        },
        "GREATER_THAN_OR_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "greater_than_or_equals"
          }
        },
        "LESS_THAN_OR_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "less_than_or_equals"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contains"
          }
        },
        "STARTS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "starts_with"
          }
        },
        "ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ends_with"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in"
          }
        },
        "NOT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_in"
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase0": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase0Operator",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Value to compare against the context attribute. Must be an array for `in` and `not_in`; numeric and ISO-8601 datetime strings are accepted by the ordering operators.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase0Operator": {
      "type": "enum",
      "members": {
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        },
        "NOT_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_equals"
          }
        },
        "GREATER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "greater_than"
          }
        },
        "LESS_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "less_than"
          }
        },
        "GREATER_THAN_OR_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "greater_than_or_equals"
          }
        },
        "LESS_THAN_OR_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "less_than_or_equals"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contains"
          }
        },
        "STARTS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "starts_with"
          }
        },
        "ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ends_with"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in"
          }
        },
        "NOT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_in"
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase0": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase0Operator",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Value to compare against the context attribute. Must be an array for `in` and `not_in`; numeric and ISO-8601 datetime strings are accepted by the ordering operators.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesCase3Map": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesCase4List": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1Clauses": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "Double": {
          "target": "smithy.api#Double"
        },
        "Boolean": {
          "target": "smithy.api#Boolean"
        },
        "AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesCase3Map": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesCase3Map"
        },
        "AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesCase4List": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesCase4List"
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1LogicalOperator": {
      "type": "enum",
      "members": {
        "AND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AND"
          }
        },
        "OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OR"
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1": {
      "type": "structure",
      "members": {
        "clauses": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1Clauses",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "logical_operator": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1LogicalOperator",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItem": {
      "type": "union",
      "members": {
        "AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase0": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase0"
        },
        "AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1"
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItem"
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1LogicalOperator": {
      "type": "enum",
      "members": {
        "AND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AND"
          }
        },
        "OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OR"
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1": {
      "type": "structure",
      "members": {
        "clauses": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "logical_operator": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1LogicalOperator",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItem": {
      "type": "union",
      "members": {
        "AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase0": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase0"
        },
        "AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1"
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItem"
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1LogicalOperator": {
      "type": "enum",
      "members": {
        "AND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AND"
          }
        },
        "OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OR"
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1": {
      "type": "structure",
      "members": {
        "clauses": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "logical_operator": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1LogicalOperator",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItem": {
      "type": "union",
      "members": {
        "AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase0": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase0"
        },
        "AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1"
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItem"
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1LogicalOperator": {
      "type": "enum",
      "members": {
        "AND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AND"
          }
        },
        "OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OR"
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1": {
      "type": "structure",
      "members": {
        "clauses": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "logical_operator": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1LogicalOperator",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItem": {
      "type": "union",
      "members": {
        "AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase0": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase0"
        },
        "AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1"
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesItem"
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1LogicalOperator": {
      "type": "enum",
      "members": {
        "AND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AND"
          }
        },
        "OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OR"
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1": {
      "type": "structure",
      "members": {
        "clauses": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1ClausesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "logical_operator": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1LogicalOperator",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItem": {
      "type": "union",
      "members": {
        "AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase0": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase0"
        },
        "AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItemCase1"
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesItem"
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1LogicalOperator": {
      "type": "enum",
      "members": {
        "AND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AND"
          }
        },
        "OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OR"
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1": {
      "type": "structure",
      "members": {
        "clauses": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1ClausesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "logical_operator": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1LogicalOperator",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItem": {
      "type": "union",
      "members": {
        "AppsFlagsCreateRequestRulesItemConditionsItemCase0": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase0"
        },
        "AppsFlagsCreateRequestRulesItemConditionsItemCase1": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItemCase1"
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsItem"
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemRollout": {
      "type": "structure",
      "members": {
        "percentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percentage of matching traffic (0–100) served this variation. For multi-way splits, use cumulative upper bounds across rules (e.g. 30, 70, 100).",
            "smithy.api#required": {}
          }
        },
        "attribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Context attribute used for sticky bucketing. Defaults to `targetingKey`. If absent at evaluation time, bucketing is random per request."
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItem": {
      "type": "structure",
      "members": {
        "conditions": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemConditionsList",
          "traits": {
            "smithy.api#documentation": "Conditions the context must satisfy for this rule to match. An empty array matches all contexts.",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Evaluation order; lower numbers are evaluated first. Must be unique across the flag's rules.",
            "smithy.api#required": {}
          }
        },
        "serve_variation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Variation served when this rule matches. Must be a key in `variations`.",
            "smithy.api#required": {}
          }
        },
        "rollout": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItemRollout"
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesItem"
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestVariationsCase3Map": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestVariationsCase4List": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestVariations": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "Double": {
          "target": "smithy.api#Double"
        },
        "Boolean": {
          "target": "smithy.api#Boolean"
        },
        "AppsFlagsCreateRequestVariationsCase3Map": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestVariationsCase3Map"
        },
        "AppsFlagsCreateRequestVariationsCase4List": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestVariationsCase4List"
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequestType": {
      "type": "enum",
      "members": {
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        },
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "App identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "default_variation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Variation served when no rule matches or the flag is disabled. Must be a key in `variations`.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When false, the flag bypasses all rules and always serves `default_variation`.",
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the flag within an app. Used in all evaluation and SDK calls.",
            "smithy.api#required": {}
          }
        },
        "rules": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestRulesList",
          "traits": {
            "smithy.api#documentation": "Targeting rules evaluated in ascending `priority`; the first matching rule wins. An empty array means the flag always serves `default_variation`.",
            "smithy.api#required": {}
          }
        },
        "variations": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestVariations",
          "traits": {
            "smithy.api#documentation": "Map of variation name to value. All values must be the same type (boolean, string, number, or JSON object/array). Each serialized value must be 10KB or smaller.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateRequestType",
          "traits": {
            "smithy.api#documentation": "Value type of the flag's variations. Inferred from the variation values on write, so it may be omitted in requests."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase0Operator": {
      "type": "enum",
      "members": {
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        },
        "NOT_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_equals"
          }
        },
        "GREATER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "greater_than"
          }
        },
        "LESS_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "less_than"
          }
        },
        "GREATER_THAN_OR_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "greater_than_or_equals"
          }
        },
        "LESS_THAN_OR_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "less_than_or_equals"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contains"
          }
        },
        "STARTS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "starts_with"
          }
        },
        "ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ends_with"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in"
          }
        },
        "NOT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_in"
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase0": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase0Operator",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Value to compare against the context attribute. Must be an array for `in` and `not_in`; numeric and ISO-8601 datetime strings are accepted by the ordering operators.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase0Operator": {
      "type": "enum",
      "members": {
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        },
        "NOT_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_equals"
          }
        },
        "GREATER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "greater_than"
          }
        },
        "LESS_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "less_than"
          }
        },
        "GREATER_THAN_OR_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "greater_than_or_equals"
          }
        },
        "LESS_THAN_OR_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "less_than_or_equals"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contains"
          }
        },
        "STARTS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "starts_with"
          }
        },
        "ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ends_with"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in"
          }
        },
        "NOT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_in"
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase0": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase0Operator",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Value to compare against the context attribute. Must be an array for `in` and `not_in`; numeric and ISO-8601 datetime strings are accepted by the ordering operators.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase0Operator": {
      "type": "enum",
      "members": {
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        },
        "NOT_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_equals"
          }
        },
        "GREATER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "greater_than"
          }
        },
        "LESS_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "less_than"
          }
        },
        "GREATER_THAN_OR_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "greater_than_or_equals"
          }
        },
        "LESS_THAN_OR_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "less_than_or_equals"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contains"
          }
        },
        "STARTS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "starts_with"
          }
        },
        "ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ends_with"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in"
          }
        },
        "NOT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_in"
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase0": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase0Operator",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Value to compare against the context attribute. Must be an array for `in` and `not_in`; numeric and ISO-8601 datetime strings are accepted by the ordering operators.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase0Operator": {
      "type": "enum",
      "members": {
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        },
        "NOT_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_equals"
          }
        },
        "GREATER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "greater_than"
          }
        },
        "LESS_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "less_than"
          }
        },
        "GREATER_THAN_OR_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "greater_than_or_equals"
          }
        },
        "LESS_THAN_OR_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "less_than_or_equals"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contains"
          }
        },
        "STARTS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "starts_with"
          }
        },
        "ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ends_with"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in"
          }
        },
        "NOT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_in"
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase0": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase0Operator",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Value to compare against the context attribute. Must be an array for `in` and `not_in`; numeric and ISO-8601 datetime strings are accepted by the ordering operators.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase0Operator": {
      "type": "enum",
      "members": {
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        },
        "NOT_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_equals"
          }
        },
        "GREATER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "greater_than"
          }
        },
        "LESS_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "less_than"
          }
        },
        "GREATER_THAN_OR_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "greater_than_or_equals"
          }
        },
        "LESS_THAN_OR_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "less_than_or_equals"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contains"
          }
        },
        "STARTS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "starts_with"
          }
        },
        "ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ends_with"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in"
          }
        },
        "NOT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_in"
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase0": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase0Operator",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Value to compare against the context attribute. Must be an array for `in` and `not_in`; numeric and ISO-8601 datetime strings are accepted by the ordering operators.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase0Operator": {
      "type": "enum",
      "members": {
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        },
        "NOT_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_equals"
          }
        },
        "GREATER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "greater_than"
          }
        },
        "LESS_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "less_than"
          }
        },
        "GREATER_THAN_OR_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "greater_than_or_equals"
          }
        },
        "LESS_THAN_OR_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "less_than_or_equals"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contains"
          }
        },
        "STARTS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "starts_with"
          }
        },
        "ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ends_with"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in"
          }
        },
        "NOT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_in"
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase0": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase0Operator",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Value to compare against the context attribute. Must be an array for `in` and `not_in`; numeric and ISO-8601 datetime strings are accepted by the ordering operators.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesCase3Map": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesCase4List": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1Clauses": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "Double": {
          "target": "smithy.api#Double"
        },
        "Boolean": {
          "target": "smithy.api#Boolean"
        },
        "AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesCase3Map": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesCase3Map"
        },
        "AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesCase4List": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesCase4List"
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1LogicalOperator": {
      "type": "enum",
      "members": {
        "AND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AND"
          }
        },
        "OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OR"
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1": {
      "type": "structure",
      "members": {
        "clauses": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1Clauses",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "logical_operator": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1LogicalOperator",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItem": {
      "type": "union",
      "members": {
        "AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase0": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase0"
        },
        "AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1"
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItem"
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1LogicalOperator": {
      "type": "enum",
      "members": {
        "AND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AND"
          }
        },
        "OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OR"
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1": {
      "type": "structure",
      "members": {
        "clauses": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "logical_operator": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1LogicalOperator",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItem": {
      "type": "union",
      "members": {
        "AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase0": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase0"
        },
        "AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1"
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesItem"
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1LogicalOperator": {
      "type": "enum",
      "members": {
        "AND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AND"
          }
        },
        "OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OR"
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1": {
      "type": "structure",
      "members": {
        "clauses": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1ClausesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "logical_operator": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1LogicalOperator",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItem": {
      "type": "union",
      "members": {
        "AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase0": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase0"
        },
        "AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItemCase1"
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesItem"
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1LogicalOperator": {
      "type": "enum",
      "members": {
        "AND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AND"
          }
        },
        "OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OR"
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1": {
      "type": "structure",
      "members": {
        "clauses": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1ClausesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "logical_operator": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1LogicalOperator",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItem": {
      "type": "union",
      "members": {
        "AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase0": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase0"
        },
        "AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItemCase1"
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesItem"
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1LogicalOperator": {
      "type": "enum",
      "members": {
        "AND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AND"
          }
        },
        "OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OR"
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1": {
      "type": "structure",
      "members": {
        "clauses": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1ClausesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "logical_operator": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1LogicalOperator",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItem": {
      "type": "union",
      "members": {
        "AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase0": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase0"
        },
        "AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItemCase1"
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesItem"
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1LogicalOperator": {
      "type": "enum",
      "members": {
        "AND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AND"
          }
        },
        "OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OR"
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1": {
      "type": "structure",
      "members": {
        "clauses": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1ClausesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "logical_operator": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1LogicalOperator",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItem": {
      "type": "union",
      "members": {
        "AppsFlagsCreateResponseRulesItemConditionsItemCase0": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase0"
        },
        "AppsFlagsCreateResponseRulesItemConditionsItemCase1": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItemCase1"
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsItem"
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemRollout": {
      "type": "structure",
      "members": {
        "percentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percentage of matching traffic (0–100) served this variation. For multi-way splits, use cumulative upper bounds across rules (e.g. 30, 70, 100).",
            "smithy.api#required": {}
          }
        },
        "attribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Context attribute used for sticky bucketing. Defaults to `targetingKey`. If absent at evaluation time, bucketing is random per request."
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItem": {
      "type": "structure",
      "members": {
        "conditions": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemConditionsList",
          "traits": {
            "smithy.api#documentation": "Conditions the context must satisfy for this rule to match. An empty array matches all contexts.",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Evaluation order; lower numbers are evaluated first. Must be unique across the flag's rules.",
            "smithy.api#required": {}
          }
        },
        "serve_variation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Variation served when this rule matches. Must be a key in `variations`.",
            "smithy.api#required": {}
          }
        },
        "rollout": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItemRollout"
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesItem"
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseVariationsCase3Map": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseVariationsCase4List": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseVariations": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "Double": {
          "target": "smithy.api#Double"
        },
        "Boolean": {
          "target": "smithy.api#Boolean"
        },
        "AppsFlagsCreateResponseVariationsCase3Map": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseVariationsCase3Map"
        },
        "AppsFlagsCreateResponseVariationsCase4List": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseVariationsCase4List"
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponseType": {
      "type": "enum",
      "members": {
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        },
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreateResponse": {
      "type": "structure",
      "members": {
        "default_variation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Variation served when no rule matches or the flag is disabled. Must be a key in `variations`.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When false, the flag bypasses all rules and always serves `default_variation`.",
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the flag within an app. Used in all evaluation and SDK calls.",
            "smithy.api#required": {}
          }
        },
        "rules": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseRulesList",
          "traits": {
            "smithy.api#documentation": "Targeting rules evaluated in ascending `priority`; the first matching rule wins. An empty array means the flag always serves `default_variation`.",
            "smithy.api#required": {}
          }
        },
        "variations": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseVariations",
          "traits": {
            "smithy.api#documentation": "Map of variation name to value. All values must be the same type (boolean, string, number, or JSON object/array). Each serialized value must be 10KB or smaller.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.flagship#AppsFlagsCreateResponseType",
          "traits": {
            "smithy.api#documentation": "Value type of the flag's variations. Inferred from the variation values on write, so it may be omitted in requests."
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "updated_by": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.flagship#AppsFlagsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.flagship#AppsFlagsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.flagship#AppsFlagsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/flagship/apps/{app_id}/flags",
          "code": 200
        },
        "smithy.api#documentation": "Creates a flag. Returns 409 if the key already exists. `type` is inferred from variation values and may be omitted."
      }
    },
    "com.cloudflare.flagship#AppsFlagsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "App identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "flag_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Flag key (slug).",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.flagship#AppsFlagsDeleteResponse": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.flagship#AppsFlagsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.flagship#AppsFlagsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.flagship#AppsFlagsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/flagship/apps/{app_id}/flags/{flag_key}",
          "code": 200
        },
        "smithy.api#documentation": "Permanently deletes a flag. Subsequent evaluations fall back to the caller-supplied default. Cannot be undone.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.flagship#AppsFlagsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloudflare account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "App identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "flag_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Flag key (slug).",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.flagship#AppsFlagsGetResponseRulesItemConditionsItemCase0Operator": {
      "type": "enum",
      "members": {
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        },
        "NOT_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_equals"
          }
        },
        "GREATER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "greater_than"
          }
        },
        "LESS_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "less_than"
          }
        },
        "GREATER_THAN_OR_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "greater_than_or_equals"
          }
        },
        "LESS_THAN_OR_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "less_than_or_equals"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contains"
          }
        },
        "STARTS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "starts_with"
          }
        },
        "ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ends_with"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in"
          }
        },
        "NOT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_in"
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsGetResponseRulesItemConditionsItemCase0": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.cloudflare.flagship#AppsFlagsGetResponseRulesItemConditionsItemCase0Operator",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Value to compare against the context attribute. Must be an array for `in` and `not_in`; numeric and ISO-8601 datetime strings are accepted by the ordering operators.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.flagship#AppsFlagsGetResponseRulesItemConditionsItemCase1ClausesItemCase0Operator": {
      "type": "enum",
      "members": {
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        },
        "NOT_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_equals"
          }
        },
        "GREATER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "greater_than"
          }
        },
        "LESS_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "less_than"
[...]
