{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.iam#OauthClientsCreateRequestGrantTypesItem": {
      "type": "enum",
      "members": {
        "AUTHORIZATION_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authorization_code"
          }
        },
        "REFRESH_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "refresh_token"
          }
        }
      }
    },
    "com.cloudflare.iam#OauthClientsCreateRequestGrantTypesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.iam#OauthClientsCreateRequestGrantTypesItem"
      }
    },
    "com.cloudflare.iam#OauthClientsCreateRequestRedirectUrisList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.iam#OauthClientsCreateRequestResponseTypesItem": {
      "type": "enum",
      "members": {
        "TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "token"
          }
        },
        "ID_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id_token"
          }
        },
        "CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "code"
          }
        }
      }
    },
    "com.cloudflare.iam#OauthClientsCreateRequestResponseTypesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.iam#OauthClientsCreateRequestResponseTypesItem"
      }
    },
    "com.cloudflare.iam#OauthClientsCreateRequestScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.iam#OauthClientsCreateRequestTokenEndpointAuthMethod": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "CLIENT_SECRET_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "client_secret_basic"
          }
        },
        "CLIENT_SECRET_POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "client_secret_post"
          }
        }
      }
    },
    "com.cloudflare.iam#OauthClientsCreateRequestAllowedCorsOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.iam#OauthClientsCreateRequestPostLogoutRedirectUrisList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.iam#OauthClientsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "client_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the OAuth client.",
            "smithy.api#required": {}
          }
        },
        "grant_types": {
          "target": "com.cloudflare.iam#OauthClientsCreateRequestGrantTypesList",
          "traits": {
            "smithy.api#documentation": "Array of OAuth grant types the client is allowed to use. `authorization_code` is required; `refresh_token` may be included optionally.",
            "smithy.api#required": {}
          }
        },
        "redirect_uris": {
          "target": "com.cloudflare.iam#OauthClientsCreateRequestRedirectUrisList",
          "traits": {
            "smithy.api#documentation": "Array of allowed redirect URIs for the client.",
            "smithy.api#required": {}
          }
        },
        "response_types": {
          "target": "com.cloudflare.iam#OauthClientsCreateRequestResponseTypesList",
          "traits": {
            "smithy.api#documentation": "Array of OAuth response types the client is allowed to use.",
            "smithy.api#required": {}
          }
        },
        "scopes": {
          "target": "com.cloudflare.iam#OauthClientsCreateRequestScopesList",
          "traits": {
            "smithy.api#documentation": "Array of OAuth scopes the client is allowed to request. Colon-delimited scopes are not accepted. Dot-delimited scopes are validated against available OAuth API scopes; simple identity scopes are allowed. Protocol scopes `offline_access` and `openid` are added or removed automatically based on `grant_types` and `response_types`.",
            "smithy.api#required": {}
          }
        },
        "token_endpoint_auth_method": {
          "target": "com.cloudflare.iam#OauthClientsCreateRequestTokenEndpointAuthMethod",
          "traits": {
            "smithy.api#documentation": "The authentication method the client uses at the token endpoint.",
            "smithy.api#required": {}
          }
        },
        "allowed_cors_origins": {
          "target": "com.cloudflare.iam#OauthClientsCreateRequestAllowedCorsOriginsList",
          "traits": {
            "smithy.api#documentation": "Array of allowed CORS origins."
          }
        },
        "client_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the home page of the client."
          }
        },
        "logo_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the client's logo."
          }
        },
        "policy_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL that points to a privacy policy document."
          }
        },
        "post_logout_redirect_uris": {
          "target": "com.cloudflare.iam#OauthClientsCreateRequestPostLogoutRedirectUrisList",
          "traits": {
            "smithy.api#documentation": "Array of allowed post-logout redirect URIs."
          }
        },
        "tos_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL that points to a terms of service document."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.iam#OauthClientsCreateResponseVisibility": {
      "type": "enum",
      "members": {
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        }
      }
    },
    "com.cloudflare.iam#OauthClientsCreateResponseAllowedCorsOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.iam#OauthClientsCreateResponseClientUriVerificationStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verified"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      }
    },
    "com.cloudflare.iam#OauthClientsCreateResponseClientUriVerification": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.cloudflare.iam#OauthClientsCreateResponseClientUriVerificationStatus",
          "traits": {
            "smithy.api#documentation": "Current verification status for the client URI host."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Exact TXT record value that must be added to DNS to prove ownership of the client URI host."
          }
        }
      }
    },
    "com.cloudflare.iam#OauthClientsCreateResponseGrantTypesItem": {
      "type": "enum",
      "members": {
        "AUTHORIZATION_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authorization_code"
          }
        },
        "REFRESH_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "refresh_token"
          }
        }
      }
    },
    "com.cloudflare.iam#OauthClientsCreateResponseGrantTypesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.iam#OauthClientsCreateResponseGrantTypesItem"
      }
    },
    "com.cloudflare.iam#OauthClientsCreateResponsePostLogoutRedirectUrisList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.iam#OauthClientsCreateResponseRedirectUrisList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.iam#OauthClientsCreateResponseResponseTypesItem": {
      "type": "enum",
      "members": {
        "TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "token"
          }
        },
        "ID_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id_token"
          }
        },
        "CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "code"
          }
        }
      }
    },
    "com.cloudflare.iam#OauthClientsCreateResponseResponseTypesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.iam#OauthClientsCreateResponseResponseTypesItem"
      }
    },
    "com.cloudflare.iam#OauthClientsCreateResponseScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.iam#OauthClientsCreateResponseTokenEndpointAuthMethod": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "CLIENT_SECRET_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "client_secret_basic"
          }
        },
        "CLIENT_SECRET_POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "client_secret_post"
          }
        }
      }
    },
    "com.cloudflare.iam#OauthClientsCreateResponse": {
      "type": "structure",
      "members": {
        "client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for an OAuth client.",
            "smithy.api#required": {}
          }
        },
        "visibility": {
          "target": "com.cloudflare.iam#OauthClientsCreateResponseVisibility",
          "traits": {
            "smithy.api#documentation": "Visibility of the OAuth client.",
            "smithy.api#required": {}
          }
        },
        "allowed_cors_origins": {
          "target": "com.cloudflare.iam#OauthClientsCreateResponseAllowedCorsOriginsList",
          "traits": {
            "smithy.api#documentation": "Array of allowed CORS origins."
          }
        },
        "client_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the OAuth client."
          }
        },
        "client_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client secret. This is the only time the secret is returned in a response."
          }
        },
        "client_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the home page of the client."
          }
        },
        "client_uri_verification": {
          "target": "com.cloudflare.iam#OauthClientsCreateResponseClientUriVerification",
          "traits": {
            "smithy.api#documentation": "Client URI domain control verification state."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the OAuth client was created."
          }
        },
        "grant_types": {
          "target": "com.cloudflare.iam#OauthClientsCreateResponseGrantTypesList",
          "traits": {
            "smithy.api#documentation": "Array of OAuth grant types the client is allowed to use. `authorization_code` is required; `refresh_token` may be included optionally."
          }
        },
        "has_rotated_secret": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the client has a rotated secret that has not yet been deleted."
          }
        },
        "logo_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the client's logo."
          }
        },
        "policy_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL that points to a privacy policy document."
          }
        },
        "post_logout_redirect_uris": {
          "target": "com.cloudflare.iam#OauthClientsCreateResponsePostLogoutRedirectUrisList",
          "traits": {
            "smithy.api#documentation": "Array of allowed post-logout redirect URIs."
          }
        },
        "promoted_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the OAuth client was promoted to public visibility."
          }
        },
        "redirect_uris": {
          "target": "com.cloudflare.iam#OauthClientsCreateResponseRedirectUrisList",
          "traits": {
            "smithy.api#documentation": "Array of allowed redirect URIs for the client."
          }
        },
        "response_types": {
          "target": "com.cloudflare.iam#OauthClientsCreateResponseResponseTypesList",
          "traits": {
            "smithy.api#documentation": "Array of OAuth response types the client is allowed to use."
          }
        },
        "scopes": {
          "target": "com.cloudflare.iam#OauthClientsCreateResponseScopesList",
          "traits": {
            "smithy.api#documentation": "Array of OAuth scopes the client is allowed to request. Colon-delimited scopes are not accepted. Dot-delimited scopes are validated against available OAuth API scopes; simple identity scopes are allowed. Protocol scopes `offline_access` and `openid` are added or removed automatically based on `grant_types` and `response_types`."
          }
        },
        "token_endpoint_auth_method": {
          "target": "com.cloudflare.iam#OauthClientsCreateResponseTokenEndpointAuthMethod",
          "traits": {
            "smithy.api#documentation": "The authentication method the client uses at the token endpoint."
          }
        },
        "tos_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL that points to a terms of service document."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the OAuth client was last updated."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.iam#OauthClientsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.iam#OauthClientsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.iam#OauthClientsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/oauth_clients",
          "code": 200
        },
        "smithy.api#documentation": "Create a new OAuth client for an account."
      }
    },
    "com.cloudflare.iam#OauthClientsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "oauth_client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for an OAuth client.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.iam#OauthClientsDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.iam#OauthClientsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.iam#OauthClientsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.iam#OauthClientsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/oauth_clients/{oauth_client_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an OAuth client.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.iam#OauthClientsDeleteRotatedSecretRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "oauth_client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for an OAuth client.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.iam#OauthClientsDeleteRotatedSecretResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.iam#OauthClientsDeleteRotatedSecret": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.iam#OauthClientsDeleteRotatedSecretRequest"
      },
      "output": {
        "target": "com.cloudflare.iam#OauthClientsDeleteRotatedSecretResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/oauth_clients/{oauth_client_id}/rotate_secret",
          "code": 200
        },
        "smithy.api#documentation": "Removes the old client secret after a rotation, keeping only the new one. Use this after you have updated your client configuration to use the new secret. The `has_rotated_secret` field on the client indicates whether there is an old secret to delete.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.iam#OauthClientsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "oauth_client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for an OAuth client.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.iam#OauthClientsGetResponseVisibility": {
      "type": "enum",
      "members": {
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        }
      }
    },
    "com.cloudflare.iam#OauthClientsGetResponseAllowedCorsOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.iam#OauthClientsGetResponseClientUriVerificationStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verified"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      }
    },
    "com.cloudflare.iam#OauthClientsGetResponseClientUriVerification": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.cloudflare.iam#OauthClientsGetResponseClientUriVerificationStatus",
          "traits": {
            "smithy.api#documentation": "Current verification status for the client URI host."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Exact TXT record value that must be added to DNS to prove ownership of the client URI host."
          }
        }
      }
    },
    "com.cloudflare.iam#OauthClientsGetResponseGrantTypesItem": {
      "type": "enum",
      "members": {
        "AUTHORIZATION_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authorization_code"
          }
        },
        "REFRESH_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "refresh_token"
          }
        }
      }
    },
    "com.cloudflare.iam#OauthClientsGetResponseGrantTypesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.iam#OauthClientsGetResponseGrantTypesItem"
      }
    },
    "com.cloudflare.iam#OauthClientsGetResponsePostLogoutRedirectUrisList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.iam#OauthClientsGetResponseRedirectUrisList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.iam#OauthClientsGetResponseResponseTypesItem": {
      "type": "enum",
      "members": {
        "TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "token"
          }
        },
        "ID_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id_token"
          }
        },
        "CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "code"
          }
        }
      }
    },
    "com.cloudflare.iam#OauthClientsGetResponseResponseTypesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.iam#OauthClientsGetResponseResponseTypesItem"
      }
    },
    "com.cloudflare.iam#OauthClientsGetResponseScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.iam#OauthClientsGetResponseTokenEndpointAuthMethod": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "CLIENT_SECRET_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "client_secret_basic"
          }
        },
        "CLIENT_SECRET_POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "client_secret_post"
          }
        }
      }
    },
    "com.cloudflare.iam#OauthClientsGetResponse": {
      "type": "structure",
      "members": {
        "client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for an OAuth client.",
            "smithy.api#required": {}
          }
        },
        "visibility": {
          "target": "com.cloudflare.iam#OauthClientsGetResponseVisibility",
          "traits": {
            "smithy.api#documentation": "Visibility of the OAuth client.",
            "smithy.api#required": {}
          }
        },
        "allowed_cors_origins": {
          "target": "com.cloudflare.iam#OauthClientsGetResponseAllowedCorsOriginsList",
          "traits": {
            "smithy.api#documentation": "Array of allowed CORS origins."
          }
        },
        "client_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the OAuth client."
          }
        },
        "client_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the home page of the client."
          }
        },
        "client_uri_verification": {
          "target": "com.cloudflare.iam#OauthClientsGetResponseClientUriVerification",
          "traits": {
            "smithy.api#documentation": "Client URI domain control verification state."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the OAuth client was created."
          }
        },
        "grant_types": {
          "target": "com.cloudflare.iam#OauthClientsGetResponseGrantTypesList",
          "traits": {
            "smithy.api#documentation": "Array of OAuth grant types the client is allowed to use. `authorization_code` is required; `refresh_token` may be included optionally."
          }
        },
        "has_rotated_secret": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the client has a rotated secret that has not yet been deleted."
          }
        },
        "logo_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the client's logo."
          }
        },
        "policy_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL that points to a privacy policy document."
          }
        },
        "post_logout_redirect_uris": {
          "target": "com.cloudflare.iam#OauthClientsGetResponsePostLogoutRedirectUrisList",
          "traits": {
            "smithy.api#documentation": "Array of allowed post-logout redirect URIs."
          }
        },
        "promoted_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the OAuth client was promoted to public visibility."
          }
        },
        "redirect_uris": {
          "target": "com.cloudflare.iam#OauthClientsGetResponseRedirectUrisList",
          "traits": {
            "smithy.api#documentation": "Array of allowed redirect URIs for the client."
          }
        },
        "response_types": {
          "target": "com.cloudflare.iam#OauthClientsGetResponseResponseTypesList",
          "traits": {
            "smithy.api#documentation": "Array of OAuth response types the client is allowed to use."
          }
        },
        "scopes": {
          "target": "com.cloudflare.iam#OauthClientsGetResponseScopesList",
          "traits": {
            "smithy.api#documentation": "Array of OAuth scopes the client is allowed to request. Colon-delimited scopes are not accepted. Dot-delimited scopes are validated against available OAuth API scopes; simple identity scopes are allowed. Protocol scopes `offline_access` and `openid` are added or removed automatically based on `grant_types` and `response_types`."
          }
        },
        "token_endpoint_auth_method": {
          "target": "com.cloudflare.iam#OauthClientsGetResponseTokenEndpointAuthMethod",
          "traits": {
            "smithy.api#documentation": "The authentication method the client uses at the token endpoint."
          }
        },
        "tos_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL that points to a terms of service document."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the OAuth client was last updated."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.iam#OauthClientsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.iam#OauthClientsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.iam#OauthClientsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/oauth_clients/{oauth_client_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get details of a specific OAuth client.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.iam#OauthClientsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.iam#OauthClientsListResultItemVisibility": {
      "type": "enum",
      "members": {
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        }
      }
    },
    "com.cloudflare.iam#OauthClientsListResultItemAllowedCorsOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.iam#OauthClientsListResultItemClientUriVerificationStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verified"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      }
    },
    "com.cloudflare.iam#OauthClientsListResultItemClientUriVerification": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.cloudflare.iam#OauthClientsListResultItemClientUriVerificationStatus",
          "traits": {
            "smithy.api#documentation": "Current verification status for the client URI host."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Exact TXT record value that must be added to DNS to prove ownership of the client URI host."
          }
        }
      }
    },
    "com.cloudflare.iam#OauthClientsListResultItemGrantTypesItem": {
      "type": "enum",
      "members": {
        "AUTHORIZATION_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authorization_code"
          }
        },
        "REFRESH_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "refresh_token"
          }
        }
      }
    },
    "com.cloudflare.iam#OauthClientsListResultItemGrantTypesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.iam#OauthClientsListResultItemGrantTypesItem"
      }
    },
    "com.cloudflare.iam#OauthClientsListResultItemPostLogoutRedirectUrisList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.iam#OauthClientsListResultItemRedirectUrisList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.iam#OauthClientsListResultItemResponseTypesItem": {
      "type": "enum",
      "members": {
        "TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "token"
          }
        },
        "ID_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id_token"
          }
        },
        "CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "code"
          }
        }
      }
    },
    "com.cloudflare.iam#OauthClientsListResultItemResponseTypesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.iam#OauthClientsListResultItemResponseTypesItem"
      }
    },
    "com.cloudflare.iam#OauthClientsListResultItemScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.iam#OauthClientsListResultItemTokenEndpointAuthMethod": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "CLIENT_SECRET_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "client_secret_basic"
          }
        },
        "CLIENT_SECRET_POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "client_secret_post"
          }
        }
      }
    },
    "com.cloudflare.iam#OauthClientsListResultItem": {
      "type": "structure",
      "members": {
        "client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for an OAuth client.",
            "smithy.api#required": {}
          }
        },
        "visibility": {
          "target": "com.cloudflare.iam#OauthClientsListResultItemVisibility",
          "traits": {
            "smithy.api#documentation": "Visibility of the OAuth client.",
            "smithy.api#required": {}
          }
        },
        "allowed_cors_origins": {
          "target": "com.cloudflare.iam#OauthClientsListResultItemAllowedCorsOriginsList",
          "traits": {
            "smithy.api#documentation": "Array of allowed CORS origins."
          }
        },
        "client_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the OAuth client."
          }
        },
        "client_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the home page of the client."
          }
        },
        "client_uri_verification": {
          "target": "com.cloudflare.iam#OauthClientsListResultItemClientUriVerification",
          "traits": {
            "smithy.api#documentation": "Client URI domain control verification state."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the OAuth client was created."
          }
        },
        "grant_types": {
          "target": "com.cloudflare.iam#OauthClientsListResultItemGrantTypesList",
          "traits": {
            "smithy.api#documentation": "Array of OAuth grant types the client is allowed to use. `authorization_code` is required; `refresh_token` may be included optionally."
          }
        },
        "has_rotated_secret": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the client has a rotated secret that has not yet been deleted."
          }
        },
        "logo_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the client's logo."
          }
        },
        "policy_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL that points to a privacy policy document."
          }
        },
        "post_logout_redirect_uris": {
          "target": "com.cloudflare.iam#OauthClientsListResultItemPostLogoutRedirectUrisList",
          "traits": {
            "smithy.api#documentation": "Array of allowed post-logout redirect URIs."
          }
        },
        "promoted_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the OAuth client was promoted to public visibility."
          }
        },
        "redirect_uris": {
          "target": "com.cloudflare.iam#OauthClientsListResultItemRedirectUrisList",
          "traits": {
            "smithy.api#documentation": "Array of allowed redirect URIs for the client."
          }
        },
        "response_types": {
          "target": "com.cloudflare.iam#OauthClientsListResultItemResponseTypesList",
          "traits": {
            "smithy.api#documentation": "Array of OAuth response types the client is allowed to use."
          }
        },
        "scopes": {
          "target": "com.cloudflare.iam#OauthClientsListResultItemScopesList",
          "traits": {
            "smithy.api#documentation": "Array of OAuth scopes the client is allowed to request. Colon-delimited scopes are not accepted. Dot-delimited scopes are validated against available OAuth API scopes; simple identity scopes are allowed. Protocol scopes `offline_access` and `openid` are added or removed automatically based on `grant_types` and `response_types`."
          }
        },
        "token_endpoint_auth_method": {
          "target": "com.cloudflare.iam#OauthClientsListResultItemTokenEndpointAuthMethod",
          "traits": {
            "smithy.api#documentation": "The authentication method the client uses at the token endpoint."
          }
        },
        "tos_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL that points to a terms of service document."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the OAuth client was last updated."
          }
        }
      }
    },
    "com.cloudflare.iam#OauthClientsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.iam#OauthClientsListResultItem"
      }
    },
    "com.cloudflare.iam#OauthClientsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.iam#OauthClientsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.iam#OauthClientsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.iam#OauthClientsListRequest"
      },
      "output": {
        "target": "com.cloudflare.iam#OauthClientsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/oauth_clients",
          "code": 200
        },
        "smithy.api#documentation": "List all OAuth clients for an account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.iam#OauthClientsRotateSecretRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "oauth_client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for an OAuth client.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.iam#OauthClientsRotateSecretResponse": {
      "type": "structure",
      "members": {
        "client_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new client secret."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.iam#OauthClientsRotateSecret": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.iam#OauthClientsRotateSecretRequest"
      },
      "output": {
        "target": "com.cloudflare.iam#OauthClientsRotateSecretResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/oauth_clients/{oauth_client_id}/rotate_secret",
          "code": 200
        },
        "smithy.api#documentation": "Creates a second client secret so you can update your client configuration before deleting the old one. The `has_rotated_secret` field on the client will be set to `true`."
      }
    },
    "com.cloudflare.iam#OauthClientsUpdateRequestAllowedCorsOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.iam#OauthClientsUpdateRequestGrantTypesItem": {
      "type": "enum",
      "members": {
        "AUTHORIZATION_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authorization_code"
          }
        },
        "REFRESH_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "refresh_token"
          }
        }
      }
    },
    "com.cloudflare.iam#OauthClientsUpdateRequestGrantTypesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.iam#OauthClientsUpdateRequestGrantTypesItem"
      }
    },
    "com.cloudflare.iam#OauthClientsUpdateRequestPostLogoutRedirectUrisList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.iam#OauthClientsUpdateRequestRedirectUrisList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.iam#OauthClientsUpdateRequestResponseTypesItem": {
      "type": "enum",
      "members": {
        "TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "token"
          }
        },
        "ID_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id_token"
          }
        },
        "CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "code"
          }
        }
      }
    },
    "com.cloudflare.iam#OauthClientsUpdateRequestResponseTypesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.iam#OauthClientsUpdateRequestResponseTypesItem"
      }
    },
    "com.cloudflare.iam#OauthClientsUpdateRequestScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.iam#OauthClientsUpdateRequestTokenEndpointAuthMethod": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "CLIENT_SECRET_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "client_secret_basic"
          }
        },
        "CLIENT_SECRET_POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "client_secret_post"
          }
        }
      }
    },
    "com.cloudflare.iam#OauthClientsUpdateRequestVisibility": {
      "type": "enum",
      "members": {
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        }
      }
    },
    "com.cloudflare.iam#OauthClientsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "oauth_client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for an OAuth client.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "allowed_cors_origins": {
          "target": "com.cloudflare.iam#OauthClientsUpdateRequestAllowedCorsOriginsList",
          "traits": {
            "smithy.api#documentation": "Array of allowed CORS origins."
          }
        },
        "client_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the OAuth client."
          }
        },
        "client_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the home page of the client."
          }
        },
        "grant_types": {
          "target": "com.cloudflare.iam#OauthClientsUpdateRequestGrantTypesList",
          "traits": {
            "smithy.api#documentation": "Array of OAuth grant types the client is allowed to use. `authorization_code` is required; `refresh_token` may be included optionally."
          }
        },
        "logo_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the client's logo."
          }
        },
        "policy_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL that points to a privacy policy document."
          }
        },
        "post_logout_redirect_uris": {
          "target": "com.cloudflare.iam#OauthClientsUpdateRequestPostLogoutRedirectUrisList",
          "traits": {
            "smithy.api#documentation": "Array of allowed post-logout redirect URIs."
          }
        },
        "redirect_uris": {
          "target": "com.cloudflare.iam#OauthClientsUpdateRequestRedirectUrisList",
          "traits": {
            "smithy.api#documentation": "Array of allowed redirect URIs for the client."
          }
        },
        "response_types": {
          "target": "com.cloudflare.iam#OauthClientsUpdateRequestResponseTypesList",
          "traits": {
            "smithy.api#documentation": "Array of OAuth response types the client is allowed to use."
          }
        },
        "scopes": {
          "target": "com.cloudflare.iam#OauthClientsUpdateRequestScopesList",
          "traits": {
            "smithy.api#documentation": "Array of OAuth scopes the client is allowed to request. Colon-delimited scopes are not accepted. Dot-delimited scopes are validated against available OAuth API scopes; simple identity scopes are allowed. Protocol scopes `offline_access` and `openid` are added or removed automatically based on `grant_types` and `response_types`."
          }
        },
        "token_endpoint_auth_method": {
          "target": "com.cloudflare.iam#OauthClientsUpdateRequestTokenEndpointAuthMethod",
          "traits": {
            "smithy.api#documentation": "The authentication method the client uses at the token endpoint."
          }
        },
        "tos_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL that points to a terms of service document."
          }
        },
        "visibility": {
          "target": "com.cloudflare.iam#OauthClientsUpdateRequestVisibility",
          "traits": {
            "smithy.api#documentation": "Promote the OAuth client from private to public visibility. Only `public` is accepted; demotion to `private` is not supported. Promotion requires a non-empty client name, logo URI, verified client URI host, and at least one non-identity scope."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.iam#OauthClientsUpdateResponseVisibility": {
      "type": "enum",
      "members": {
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        }
      }
    },
    "com.cloudflare.iam#OauthClientsUpdateResponseAllowedCorsOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.iam#OauthClientsUpdateResponseClientUriVerificationStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verified"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      }
    },
    "com.cloudflare.iam#OauthClientsUpdateResponseClientUriVerification": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.cloudflare.iam#OauthClientsUpdateResponseClientUriVerificationStatus",
          "traits": {
            "smithy.api#documentation": "Current verification status for the client URI host."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Exact TXT record value that must be added to DNS to prove ownership of the client URI host."
          }
        }
      }
    },
    "com.cloudflare.iam#OauthClientsUpdateResponseGrantTypesItem": {
      "type": "enum",
      "members": {
        "AUTHORIZATION_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authorization_code"
          }
        },
        "REFRESH_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "refresh_token"
          }
        }
      }
    },
    "com.cloudflare.iam#OauthClientsUpdateResponseGrantTypesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.iam#OauthClientsUpdateResponseGrantTypesItem"
      }
    },
    "com.cloudflare.iam#OauthClientsUpdateResponsePostLogoutRedirectUrisList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.iam#OauthClientsUpdateResponseRedirectUrisList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.iam#OauthClientsUpdateResponseResponseTypesItem": {
      "type": "enum",
      "members": {
        "TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "token"
          }
        },
        "ID_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id_token"
          }
        },
        "CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "code"
          }
        }
      }
    },
    "com.cloudflare.iam#OauthClientsUpdateResponseResponseTypesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.iam#OauthClientsUpdateResponseResponseTypesItem"
      }
    },
    "com.cloudflare.iam#OauthClientsUpdateResponseScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.iam#OauthClientsUpdateResponseTokenEndpointAuthMethod": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "CLIENT_SECRET_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "client_secret_basic"
          }
        },
        "CLIENT_SECRET_POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "client_secret_post"
          }
        }
      }
    },
    "com.cloudflare.iam#OauthClientsUpdateResponse": {
      "type": "structure",
      "members": {
        "client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for an OAuth client.",
            "smithy.api#required": {}
          }
        },
        "visibility": {
          "target": "com.cloudflare.iam#OauthClientsUpdateResponseVisibility",
          "traits": {
            "smithy.api#documentation": "Visibility of the OAuth client.",
            "smithy.api#required": {}
          }
        },
        "allowed_cors_origins": {
          "target": "com.cloudflare.iam#OauthClientsUpdateResponseAllowedCorsOriginsList",
          "traits": {
            "smithy.api#documentation": "Array of allowed CORS origins."
          }
        },
        "client_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the OAuth client."
          }
        },
        "client_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the home page of the client."
          }
        },
        "client_uri_verification": {
          "target": "com.cloudflare.iam#OauthClientsUpdateResponseClientUriVerification",
          "traits": {
            "smithy.api#documentation": "Client URI domain control verification state."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the OAuth client was created."
          }
        },
        "grant_types": {
          "target": "com.cloudflare.iam#OauthClientsUpdateResponseGrantTypesList",
          "traits": {
            "smithy.api#documentation": "Array of OAuth grant types the client is allowed to use. `authorization_code` is required; `refresh_token` may be included optionally."
          }
        },
        "has_rotated_secret": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the client has a rotated secret that has not yet been deleted."
          }
        },
        "logo_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the client's logo."
          }
        },
        "policy_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL that points to a privacy policy document."
          }
        },
        "post_logout_redirect_uris": {
          "target": "com.cloudflare.iam#OauthClientsUpdateResponsePostLogoutRedirectUrisList",
          "traits": {
            "smithy.api#documentation": "Array of allowed post-logout redirect URIs."
          }
        },
        "promoted_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the OAuth client was promoted to public visibility."
          }
        },
        "redirect_uris": {
          "target": "com.cloudflare.iam#OauthClientsUpdateResponseRedirectUrisList",
          "traits": {
            "smithy.api#documentation": "Array of allowed redirect URIs for the client."
          }
        },
        "response_types": {
          "target": "com.cloudflare.iam#OauthClientsUpdateResponseResponseTypesList",
          "traits": {
            "smithy.api#documentation": "Array of OAuth response types the client is allowed to use."
          }
        },
        "scopes": {
          "target": "com.cloudflare.iam#OauthClientsUpdateResponseScopesList",
          "traits": {
            "smithy.api#documentation": "Array of OAuth scopes the client is allowed to request. Colon-delimited scopes are not accepted. Dot-delimited scopes are validated against available OAuth API scopes; simple identity scopes are allowed. Protocol scopes `offline_access` and `openid` are added or removed automatically based on `grant_types` and `response_types`."
          }
        },
        "token_endpoint_auth_method": {
          "target": "com.cloudflare.iam#OauthClientsUpdateResponseTokenEndpointAuthMethod",
          "traits": {
            "smithy.api#documentation": "The authentication method the client uses at the token endpoint."
          }
        },
        "tos_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL that points to a terms of service document."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the OAuth client was last updated."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.iam#OauthClientsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.iam#OauthClientsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.iam#OauthClientsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/oauth_clients/{oauth_client_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update an existing OAuth client. Only include fields you want to update."
      }
    },
    "com.cloudflare.iam#OauthScopesListResultItemScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.iam#OauthScopesListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The scope label to use in the scopes array when creating or updating an OAuth client.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the OAuth scope.",
            "smithy.api#required": {}
          }
        },
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Category for grouping scopes in the UI."
          }
        },
        "scopes": {
          "target": "com.cloudflare.iam#OauthScopesListResultItemScopesList",
          "traits": {
            "smithy.api#documentation": "The underlying resource scopes (Bach scopes) that define which resources this OAuth scope can act upon."
          }
        }
      }
    },
    "com.cloudflare.iam#OauthScopesListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.iam#OauthScopesListResultItem"
      }
    },
    "com.cloudflare.iam#OauthScopesListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.iam#OauthScopesListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.iam#OauthScopesList": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.cloudflare.iam#OauthScopesListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/oauth/scopes",
          "code": 200
        },
        "smithy.api#documentation": "List all available OAuth scopes. This endpoint requires authentication but has no authorization role requirements.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.iam#PermissionGroupsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "permission_group_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Permission Group identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.iam#PermissionGroupsGetResponseMeta": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.iam#PermissionGroupsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the permission group.",
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.cloudflare.iam#PermissionGroupsGetResponseMeta",
          "traits": {
            "smithy.api#documentation": "Attributes associated to the permission group."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the permission group."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.iam#PermissionGroupsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.iam#PermissionGroupsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.iam#PermissionGroupsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/iam/permission_groups/{permission_group_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get information about a specific permission group in an account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.iam#PermissionGroupsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the permission group to be fetched.",
            "smithy.api#httpQuery": "id"
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Label of the permission group to be fetched.",
            "smithy.api#httpQuery": "label"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the permission group to be fetched.",
            "smithy.api#httpQuery": "name"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of paginated results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of results per page.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.iam#PermissionGroupsListResultItemMeta": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.iam#PermissionGroupsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the permission group.",
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.cloudflare.iam#PermissionGroupsListResultItemMeta",
          "traits": {
            "smithy.api#documentation": "Attributes associated to the permission group."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the permission group."
          }
        }
      }
    },
    "com.cloudflare.iam#PermissionGroupsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.iam#PermissionGroupsListResultItem"
      }
    },
    "com.cloudflare.iam#PermissionGroupsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.iam#PermissionGroupsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.iam#PermissionGroupsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.iam#PermissionGroupsListRequest"
      },
      "output": {
        "target": "com.cloudflare.iam#PermissionGroupsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/iam/permission_groups",
          "code": 200
        },
        "smithy.api#documentation": "List all the permissions groups for an account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.iam#ResourceGroupsCreateRequestScopeObjectsItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is a combination of pre-defined resource name and identifier (like Zone ID etc.)",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.iam#ResourceGroupsCreateRequestScopeObjectsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.iam#ResourceGroupsCreateRequestScopeObjectsItem"
      }
    },
    "com.cloudflare.iam#ResourceGroupsCreateRequestScope": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is a combination of pre-defined resource name and identifier (like Account ID etc.)",
            "smithy.api#required": {}
          }
        },
        "objects": {
          "target": "com.cloudflare.iam#ResourceGroupsCreateRequestScopeObjectsList",
          "traits": {
            "smithy.api#documentation": "A list of scope objects for additional context. The number of Scope objects should not be zero.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.iam#ResourceGroupsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource group",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "com.cloudflare.iam#ResourceGroupsCreateRequestScope",
          "traits": {
            "smithy.api#documentation": "A scope is a combination of scope objects which provides additional context.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.iam#ResourceGroupsCreateResponseScopeItemObjectsItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is a combination of pre-defined resource name and identifier (like Zone ID etc.)",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.iam#ResourceGroupsCreateResponseScopeItemObjectsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.iam#ResourceGroupsCreateResponseScopeItemObjectsItem"
      }
    },
    "com.cloudflare.iam#ResourceGroupsCreateResponseScopeItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is a combination of pre-defined resource name and identifier (like Account ID etc.)",
            "smithy.api#required": {}
          }
        },
        "objects": {
          "target": "com.cloudflare.iam#ResourceGroupsCreateResponseScopeItemObjectsList",
          "traits": {
            "smithy.api#documentation": "A list of scope objects for additional context.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.iam#ResourceGroupsCreateResponseScopeList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.iam#ResourceGroupsCreateResponseScopeItem"
      }
    },
    "com.cloudflare.iam#ResourceGroupsCreateResponseMeta": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.iam#ResourceGroupsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the resource group.",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "com.cloudflare.iam#ResourceGroupsCreateResponseScopeList",
          "traits": {
            "smithy.api#documentation": "The scope associated to the resource group",
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.cloudflare.iam#ResourceGroupsCreateResponseMeta",
          "traits": {
            "smithy.api#documentation": "Attributes associated to the resource group."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource group."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.iam#ResourceGroupsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.iam#ResourceGroupsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.iam#ResourceGroupsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/iam/resource_groups",
          "code": 200
        },
        "smithy.api#documentation": "Create a new Resource Group under the specified account."
      }
    },
    "com.cloudflare.iam#ResourceGroupsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "resource_group_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Group identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.iam#ResourceGroupsDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.iam#ResourceGroupsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.iam#ResourceGroupsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.iam#ResourceGroupsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/iam/resource_groups/{resource_group_id}",
          "code": 200
        },
        "smithy.api#documentation": "Remove a resource group from an account.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.iam#ResourceGroupsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "resource_group_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Group identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.iam#ResourceGroupsGetResponseScopeItemObjectsItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is a combination of pre-defined resource name and identifier (like Zone ID etc.)",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.iam#ResourceGroupsGetResponseScopeItemObjectsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.iam#ResourceGroupsGetResponseScopeItemObjectsItem"
      }
    },
    "com.cloudflare.iam#ResourceGroupsGetResponseScopeItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is a combination of pre-defined resource name and identifier (like Account ID etc.)",
            "smithy.api#required": {}
          }
        },
        "objects": {
          "target": "com.cloudflare.iam#ResourceGroupsGetResponseScopeItemObjectsList",
          "traits": {
            "smithy.api#documentation": "A list of scope objects for additional context.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.iam#ResourceGroupsGetResponseScopeList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.iam#ResourceGroupsGetResponseScopeItem"
      }
    },
    "com.cloudflare.iam#ResourceGroupsGetResponseMeta": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.iam#ResourceGroupsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the resource group.",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "com.cloudflare.iam#ResourceGroupsGetResponseScopeList",
          "traits": {
            "smithy.api#documentation": "The scope associated to the resource group",
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.cloudflare.iam#ResourceGroupsGetResponseMeta",
          "traits": {
            "smithy.api#documentation": "Attributes associated to the resource group."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource group."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.iam#ResourceGroupsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.iam#ResourceGroupsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.iam#ResourceGroupsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/iam/resource_groups/{resource_group_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get information about a specific resource group in an account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.iam#ResourceGroupsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the resource group to be fetched.",
            "smithy.api#httpQuery": "id"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource group to be fetched.",
            "smithy.api#httpQuery": "name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.iam#ResourceGroupsListResultItemScopeItemObjectsItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is a combination of pre-defined resource name and identifier (like Zone ID etc.)",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.iam#ResourceGroupsListResultItemScopeItemObjectsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.iam#ResourceGroupsListResultItemScopeItemObjectsItem"
      }
    },
    "com.cloudflare.iam#ResourceGroupsListResultItemScopeItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is a combination of pre-defined resource name and identifier (like Account ID etc.)",
            "smithy.api#required": {}
          }
        },
        "objects": {
          "target": "com.cloudflare.iam#ResourceGroupsListResultItemScopeItemObjectsList",
          "traits": {
            "smithy.api#documentation": "A list of scope objects for additional context.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.iam#ResourceGroupsListResultItemScopeList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.iam#ResourceGroupsListResultItemScopeItem"
      }
    },
    "com.cloudflare.iam#ResourceGroupsListResultItemMeta": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.iam#ResourceGroupsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the resource group.",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "com.cloudflare.iam#ResourceGroupsListResultItemScopeList",
          "traits": {
            "smithy.api#documentation": "The scope associated to the resource group",
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.cloudflare.iam#ResourceGroupsListResultItemMeta",
          "traits": {
            "smithy.api#documentation": "Attributes associated to the resource group."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource group."
          }
        }
      }
    },
    "com.cloudflare.iam#ResourceGroupsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.iam#ResourceGroupsListResultItem"
      }
    },
    "com.cloudflare.iam#ResourceGroupsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.iam#ResourceGroupsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.iam#ResourceGroupsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.iam#ResourceGroupsListRequest"
      },
      "output": {
        "target": "com.cloudflare.iam#ResourceGroupsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/iam/resource_groups",
          "code": 200
        },
        "smithy.api#documentation": "List all the resource groups for an account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.iam#ResourceGroupsUpdateRequestScopeObjectsItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is a combination of pre-defined resource name and identifier (like Zone ID etc.)",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.iam#ResourceGroupsUpdateRequestScopeObjectsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.iam#ResourceGroupsUpdateRequestScopeObjectsItem"
      }
    },
    "com.cloudflare.iam#ResourceGroupsUpdateRequestScope": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is a combination of pre-defined resource name and identifier (like Account ID etc.)",
            "smithy.api#required": {}
          }
        },
        "objects": {
          "target": "com.cloudflare.iam#ResourceGroupsUpdateRequestScopeObjectsList",
          "traits": {
            "smithy.api#documentation": "A list of scope objects for additional context. The number of Scope objects should not be zero.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.iam#ResourceGroupsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "resource_group_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Group identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource group"
          }
        },
        "scope": {
          "target": "com.cloudflare.iam#ResourceGroupsUpdateRequestScope",
          "traits": {
            "smithy.api#documentation": "A scope is a combination of scope objects which provides additional context."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.iam#ResourceGroupsUpdateResponseScopeItemObjectsItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is a combination of pre-defined resource name and identifier (like Zone ID etc.)",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.iam#ResourceGroupsUpdateResponseScopeItemObjectsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.iam#ResourceGroupsUpdateResponseScopeItemObjectsItem"
      }
    },
    "com.cloudflare.iam#ResourceGroupsUpdateResponseScopeItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is a combination of pre-defined resource name and identifier (like Account ID etc.)",
            "smithy.api#required": {}
          }
        },
        "objects": {
          "target": "com.cloudflare.iam#ResourceGroupsUpdateResponseScopeItemObjectsList",
          "traits": {
            "smithy.api#documentation": "A list of scope objects for additional context.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.iam#ResourceGroupsUpdateResponseScopeList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.iam#ResourceGroupsUpdateResponseScopeItem"
      }
    },
    "com.cloudflare.iam#ResourceGroupsUpdateResponseMeta": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.iam#ResourceGroupsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the resource group.",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "com.cloudflare.iam#ResourceGroupsUpdateResponseScopeList",
          "traits": {
            "smithy.api#documentation": "The scope associated to the resource group",
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.cloudflare.iam#ResourceGroupsUpdateResponseMeta",
          "traits": {
            "smithy.api#documentation": "Attributes associated to the resource group."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource group."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.iam#ResourceGroupsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.iam#ResourceGroupsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.iam#ResourceGroupsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/iam/resource_groups/{resource_group_id}",
          "code": 200
        },
        "smithy.api#documentation": "Modify an existing resource group.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.iam#SsoBeginVerificationRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "sso_connector_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SSO Connector identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.iam#SsoBeginVerification": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.iam#SsoBeginVerificationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/sso_connectors/{sso_connector_id}/begin_verification",
          "code": 200
        },
        "smithy.api#documentation": "Validates the user has added the DNS TXT record required for validating ownership of the domain they are trying to set up a connector for."
      }
    },
    "com.cloudflare.iam#SsoCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "email_domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email domain of the new SSO connector",
            "smithy.api#required": {}
          }
        },
        "begin_verification": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Begin the verification process after creation"
          }
        },
        "use_fedramp_language": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Controls the display of FedRAMP language to the user during SSO login"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.iam#SsoCreateResponseVerificationStatus": {
      "type": "enum",
      "members": {
        "AWAITING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "awaiting"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verified"
          }
        }
      }
    },
    "com.cloudflare.iam#SsoCreateResponseVerification": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS verification code. Add this entire string to the DNS TXT record of the email domain to validate ownership."
          }
        },
        "status": {
          "target": "com.cloudflare.iam#SsoCreateResponseVerificationStatus",
          "traits": {
            "smithy.api#documentation": "The status of the verification code from the verification process."
          }
        }
      }
    },
    "com.cloudflare.iam#SsoCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SSO Connector identifier tag."
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp for the creation of the SSO connector"
          }
        },
        "email_domain": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "updated_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp for the last update of the SSO connector"
          }
        },
        "use_fedramp_language": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Controls the display of FedRAMP language to the user during SSO login"
          }
        },
        "verification": {
          "target": "com.cloudflare.iam#SsoCreateResponseVerification"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.iam#SsoCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.iam#SsoCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.iam#SsoCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/sso_connectors",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new SSO connector for logging into Cloudflare through an identity provider."
      }
    },
    "com.cloudflare.iam#SsoDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "sso_connector_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SSO Connector identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.iam#SsoDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.iam#SsoDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.iam#SsoDeleteRequest"
      },
      "output": {
[...]
