{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.leaked_credential_checks#CreateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines whether or not Leaked Credential Checks are enabled."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.leaked_credential_checks#CreateResponse": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines whether or not Leaked Credential Checks are enabled."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.leaked_credential_checks#Create": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.leaked_credential_checks#CreateRequest"
      },
      "output": {
        "target": "com.cloudflare.leaked_credential_checks#CreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/leaked-credential-checks",
          "code": 200
        },
        "smithy.api#documentation": "Updates the current status of Leaked Credential Checks."
      }
    },
    "com.cloudflare.leaked_credential_checks#GetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.leaked_credential_checks#GetResponse": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines whether or not Leaked Credential Checks are enabled."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.leaked_credential_checks#Get": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.leaked_credential_checks#GetRequest"
      },
      "output": {
        "target": "com.cloudflare.leaked_credential_checks#GetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/leaked-credential-checks",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves the current status of Leaked Credential Checks.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.leaked_credential_checks#DetectionsCreateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines ehe ruleset expression to use in matching the password in a request."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the ruleset expression to use in matching the username in a request."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.leaked_credential_checks#DetectionsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the unique ID for this custom detection."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines ehe ruleset expression to use in matching the password in a request."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the ruleset expression to use in matching the username in a request."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.leaked_credential_checks#DetectionsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.leaked_credential_checks#DetectionsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.leaked_credential_checks#DetectionsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/leaked-credential-checks/detections",
          "code": 200
        },
        "smithy.api#documentation": "Create user-defined detection pattern for Leaked Credential Checks."
      }
    },
    "com.cloudflare.leaked_credential_checks#DetectionsDeleteRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "detection_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the unique ID for this custom detection.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.leaked_credential_checks#DetectionsDeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.leaked_credential_checks#DetectionsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.leaked_credential_checks#DetectionsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.leaked_credential_checks#DetectionsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/leaked-credential-checks/detections/{detection_id}",
          "code": 200
        },
        "smithy.api#documentation": "Remove user-defined detection pattern for Leaked Credential Checks.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.leaked_credential_checks#DetectionsGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "detection_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the unique ID for this custom detection.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.leaked_credential_checks#DetectionsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the unique ID for this custom detection."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines ehe ruleset expression to use in matching the password in a request."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the ruleset expression to use in matching the username in a request."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.leaked_credential_checks#DetectionsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.leaked_credential_checks#DetectionsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.leaked_credential_checks#DetectionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/leaked-credential-checks/detections/{detection_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get user-defined detection pattern for Leaked Credential Checks.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.leaked_credential_checks#DetectionsListRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.leaked_credential_checks#DetectionsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the unique ID for this custom detection."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines ehe ruleset expression to use in matching the password in a request."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the ruleset expression to use in matching the username in a request."
          }
        }
      }
    },
    "com.cloudflare.leaked_credential_checks#DetectionsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.leaked_credential_checks#DetectionsListResultItem"
      }
    },
    "com.cloudflare.leaked_credential_checks#DetectionsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.leaked_credential_checks#DetectionsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.leaked_credential_checks#DetectionsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.leaked_credential_checks#DetectionsListRequest"
      },
      "output": {
        "target": "com.cloudflare.leaked_credential_checks#DetectionsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/leaked-credential-checks/detections",
          "code": 200
        },
        "smithy.api#documentation": "List user-defined detection patterns for Leaked Credential Checks.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.leaked_credential_checks#DetectionsUpdateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines an identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "detection_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the unique ID for this custom detection.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines ehe ruleset expression to use in matching the password in a request."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the ruleset expression to use in matching the username in a request."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.leaked_credential_checks#DetectionsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the unique ID for this custom detection."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines ehe ruleset expression to use in matching the password in a request."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the ruleset expression to use in matching the username in a request."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.leaked_credential_checks#DetectionsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.leaked_credential_checks#DetectionsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.leaked_credential_checks#DetectionsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/leaked-credential-checks/detections/{detection_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update user-defined detection pattern for Leaked Credential Checks.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.leaked_credential_checks#LeakedCredentialChecks": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.leaked_credential_checks#Create"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#Get"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#DetectionsCreate"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#DetectionsDelete"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#DetectionsGet"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#DetectionsList"
        },
        {
          "target": "com.cloudflare.leaked_credential_checks#DetectionsUpdate"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare LeakedCredentialChecks",
        "smithy.api#documentation": "Cloudflare API — leaked_credential_checks resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    }
  }
}
