{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.load_balancers#CreateRequestDefaultPoolsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.load_balancers#CreateRequestAdaptiveRouting": {
      "type": "structure",
      "members": {
        "failover_across_pools": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Extends zero-downtime failover of requests to healthy origins from alternate pools, when no healthy alternate exists in the same pool, according to the failover order defined by traffic and origin steering. When set false (the default) zero-downtime failover will only occur between origins within the same pool. See `session_affinity_attributes` for control over when sessions are broken or reassigned."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateRequestCountryPoolsValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#CreateRequestCountryPoolsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.load_balancers#CreateRequestCountryPoolsValueList"
      }
    },
    "com.cloudflare.load_balancers#CreateRequestLocationStrategyMode": {
      "type": "enum",
      "members": {
        "POP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pop"
          }
        },
        "RESOLVER_IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resolver_ip"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateRequestLocationStrategyPreferEcs": {
      "type": "enum",
      "members": {
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "always"
          }
        },
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "never"
          }
        },
        "PROXIMITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "proximity"
          }
        },
        "GEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "geo"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateRequestLocationStrategy": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.load_balancers#CreateRequestLocationStrategyMode",
          "traits": {
            "smithy.api#documentation": "Determines the authoritative location when ECS is not preferred, does not exist in the request, or its GeoIP lookup is unsuccessful."
          }
        },
        "prefer_ecs": {
          "target": "com.cloudflare.load_balancers#CreateRequestLocationStrategyPreferEcs",
          "traits": {
            "smithy.api#documentation": "Whether the EDNS Client Subnet (ECS) GeoIP should be preferred as the authoritative location."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateRequestNetworksList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#CreateRequestPopPoolsValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#CreateRequestPopPoolsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.load_balancers#CreateRequestPopPoolsValueList"
      }
    },
    "com.cloudflare.load_balancers#CreateRequestRandomSteeringPoolWeightsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.load_balancers#CreateRequestRandomSteering": {
      "type": "structure",
      "members": {
        "default_weight": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The default weight for pools in the load balancer that are not specified in the pool_weights map."
          }
        },
        "pool_weights": {
          "target": "com.cloudflare.load_balancers#CreateRequestRandomSteeringPoolWeightsMap",
          "traits": {
            "smithy.api#documentation": "A mapping of pool IDs to custom weights. The weight is relative to other pools in the load balancer."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateRequestRegionPoolsValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#CreateRequestRegionPoolsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.load_balancers#CreateRequestRegionPoolsValueList"
      }
    },
    "com.cloudflare.load_balancers#CreateRequestRulesItemFixedResponse": {
      "type": "structure",
      "members": {
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The http 'Content-Type' header to include in the response."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The http 'Location' header to include in the response."
          }
        },
        "message_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text to include as the http body."
          }
        },
        "status_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The http status code to respond with."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateRequestRulesItemOverridesCountryPoolsValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#CreateRequestRulesItemOverridesCountryPoolsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.load_balancers#CreateRequestRulesItemOverridesCountryPoolsValueList"
      }
    },
    "com.cloudflare.load_balancers#CreateRequestRulesItemOverridesDefaultPoolsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.load_balancers#CreateRequestRulesItemOverridesPopPoolsValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#CreateRequestRulesItemOverridesPopPoolsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.load_balancers#CreateRequestRulesItemOverridesPopPoolsValueList"
      }
    },
    "com.cloudflare.load_balancers#CreateRequestRulesItemOverridesRegionPoolsValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#CreateRequestRulesItemOverridesRegionPoolsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.load_balancers#CreateRequestRulesItemOverridesRegionPoolsValueList"
      }
    },
    "com.cloudflare.load_balancers#CreateRequestRulesItemOverridesSessionAffinity": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cookie"
          }
        },
        "IP_COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip_cookie"
          }
        },
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "header"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateRequestRulesItemOverridesSessionAffinityAttributesHeadersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#CreateRequestRulesItemOverridesSessionAffinityAttributesSamesite": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Auto"
          }
        },
        "LAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lax"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Strict"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateRequestRulesItemOverridesSessionAffinityAttributesSecure": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Auto"
          }
        },
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Always"
          }
        },
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Never"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateRequestRulesItemOverridesSessionAffinityAttributesZeroDowntimeFailover": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "TEMPORARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "temporary"
          }
        },
        "STICKY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sticky"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateRequestRulesItemOverridesSessionAffinityAttributes": {
      "type": "structure",
      "members": {
        "drain_duration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Configures the drain duration in seconds. This field is only used when session affinity is enabled on the load balancer."
          }
        },
        "headers": {
          "target": "com.cloudflare.load_balancers#CreateRequestRulesItemOverridesSessionAffinityAttributesHeadersList",
          "traits": {
            "smithy.api#documentation": "Configures the names of HTTP headers to base session affinity on when header `session_affinity` is enabled. At least one HTTP header name must be provided. To specify the exact cookies to be used, include an item in the following format: `\"cookie:<cookie-name-1>,<cookie-name-2>\"` (example) where everything after the colon is a comma-separated list of cookie names. Providing only `\"cookie\"` will result in all cookies being used. The default max number of HTTP header names that can be provided depends on your plan: 5 for Enterprise, 1 for all other plans."
          }
        },
        "require_all_headers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When header `session_affinity` is enabled, this option can be used to specify how HTTP headers on load balancing requests will be used. The supported values are: - `\"true\"`: Load balancing requests must contain *all* of the HTTP headers specified by the `headers` session affinity attribute, otherwise sessions aren't created. - `\"false\"`: Load balancing requests must contain *at least one* of the HTTP headers specified by the `headers` session affinity attribute, otherwise sessions aren't created."
          }
        },
        "samesite": {
          "target": "com.cloudflare.load_balancers#CreateRequestRulesItemOverridesSessionAffinityAttributesSamesite",
          "traits": {
            "smithy.api#documentation": "Configures the SameSite attribute on session affinity cookie. Value \"Auto\" will be translated to \"Lax\" or \"None\" depending if Always Use HTTPS is enabled. Note: when using value \"None\", the secure attribute can not be set to \"Never\"."
          }
        },
        "secure": {
          "target": "com.cloudflare.load_balancers#CreateRequestRulesItemOverridesSessionAffinityAttributesSecure",
          "traits": {
            "smithy.api#documentation": "Configures the Secure attribute on session affinity cookie. Value \"Always\" indicates the Secure attribute will be set in the Set-Cookie header, \"Never\" indicates the Secure attribute will not be set, and \"Auto\" will set the Secure attribute depending if Always Use HTTPS is enabled."
          }
        },
        "zero_downtime_failover": {
          "target": "com.cloudflare.load_balancers#CreateRequestRulesItemOverridesSessionAffinityAttributesZeroDowntimeFailover",
          "traits": {
            "smithy.api#documentation": "Configures the zero-downtime failover between origins within a pool when session affinity is enabled. This feature is currently incompatible with Argo, Tiered Cache, and Bandwidth Alliance. The supported values are: - `\"none\"`: No failover takes place for sessions pinned to the origin (default). - `\"temporary\"`: Traffic will be sent to another other healthy origin until the originally pinned origin is available; note that this can potentially result in heavy origin flapping. - `\"sticky\"`: The session affinity cookie is updated and subsequent requests are sent to the new origin. Note: Zero-downtime failover with sticky sessions is currently not supported for session affinity by header."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateRequestRulesItemOverridesSteeringPolicy": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "GEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "geo"
          }
        },
        "RANDOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "random"
          }
        },
        "DYNAMIC_LATENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dynamic_latency"
          }
        },
        "PROXIMITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "proximity"
          }
        },
        "LEAST_OUTSTANDING_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "least_outstanding_requests"
          }
        },
        "LEAST_CONNECTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "least_connections"
          }
        },
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateRequestRulesItemOverrides": {
      "type": "structure",
      "members": {
        "adaptive_routing": {
          "target": "com.cloudflare.load_balancers#CreateRequestAdaptiveRouting",
          "traits": {
            "smithy.api#documentation": "Controls features that modify the routing of requests to pools and origins in response to dynamic conditions, such as during the interval between active health monitoring requests. For example, zero-downtime failover occurs immediately when an origin becomes unavailable due to HTTP 521, 522, or 523 response codes. If there is another healthy origin in the same pool, the request is retried once against this alternate origin."
          }
        },
        "country_pools": {
          "target": "com.cloudflare.load_balancers#CreateRequestRulesItemOverridesCountryPoolsMap",
          "traits": {
            "smithy.api#documentation": "A mapping of country codes to a list of pool IDs (ordered by their failover priority) for the given country. Any country not explicitly defined will fall back to using the corresponding region_pool mapping if it exists else to default_pools."
          }
        },
        "default_pools": {
          "target": "com.cloudflare.load_balancers#CreateRequestRulesItemOverridesDefaultPoolsList",
          "traits": {
            "smithy.api#documentation": "A list of pool IDs ordered by their failover priority. Pools defined here are used by default, or when region_pools are not configured for a given region."
          }
        },
        "fallback_pool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pool ID to use when all other pools are detected as unhealthy."
          }
        },
        "location_strategy": {
          "target": "com.cloudflare.load_balancers#CreateRequestLocationStrategy",
          "traits": {
            "smithy.api#documentation": "Controls location-based steering for non-proxied requests. See `steering_policy` to learn how steering is affected."
          }
        },
        "pop_pools": {
          "target": "com.cloudflare.load_balancers#CreateRequestRulesItemOverridesPopPoolsMap",
          "traits": {
            "smithy.api#documentation": "Enterprise only: A mapping of Cloudflare PoP identifiers to a list of pool IDs (ordered by their failover priority) for the PoP (datacenter). Any PoPs not explicitly defined will fall back to using the corresponding country_pool, then region_pool mapping if it exists else to default_pools."
          }
        },
        "random_steering": {
          "target": "com.cloudflare.load_balancers#CreateRequestRandomSteering",
          "traits": {
            "smithy.api#documentation": "Configures pool weights."
          }
        },
        "region_pools": {
          "target": "com.cloudflare.load_balancers#CreateRequestRulesItemOverridesRegionPoolsMap",
          "traits": {
            "smithy.api#documentation": "A mapping of region codes to a list of pool IDs (ordered by their failover priority) for the given region. Any regions not explicitly defined will fall back to using default_pools."
          }
        },
        "session_affinity": {
          "target": "com.cloudflare.load_balancers#CreateRequestRulesItemOverridesSessionAffinity",
          "traits": {
            "smithy.api#documentation": "Specifies the type of session affinity the load balancer should use unless specified as `\"none\"`. The supported types are: - `\"cookie\"`: On the first request to a proxied load balancer, a cookie is generated, encoding information of which origin the request will be forwarded to. Subsequent requests, by the same client to the same load balancer, will be sent to the origin server the cookie encodes, for the duration of the cookie and as long as the origin server remains healthy. If the cookie has expired or the origin server is unhealthy, then a new origin server is calculated and used. - `\"ip_cookie\"`: Behaves the same as `\"cookie\"` except the initial origin selection is stable and based on the client's ip address. - `\"header\"`: On the first request to a proxied load balancer, a session key based on the configured HTTP headers (see `session_affinity_attributes.headers`) is generated, encoding the request headers used for storing in the load balancer session state which origin the request will be forwarded to. Subsequent requests to the load balancer with the same headers will be sent to the same origin server, for the duration of the session and as long as the origin server remains healthy. If the session has been idle for the duration of `session_affinity_ttl` seconds or the origin server is unhealthy, then a new origin server is calculated and used. See `headers` in `session_affinity_attributes` for additional required configuration."
          }
        },
        "session_affinity_attributes": {
          "target": "com.cloudflare.load_balancers#CreateRequestRulesItemOverridesSessionAffinityAttributes",
          "traits": {
            "smithy.api#documentation": "Configures attributes for session affinity."
          }
        },
        "session_affinity_ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time, in seconds, until a client's session expires after being created. Once the expiry time has been reached, subsequent requests may get sent to a different origin server. The accepted ranges per `session_affinity` policy are: - `\"cookie\"` / `\"ip_cookie\"`: The current default of 23 hours will be used unless explicitly set. The accepted range of values is between [1800, 604800]. - `\"header\"`: The current default of 1800 seconds will be used unless explicitly set. The accepted range of values is between [30, 3600]. Note: With session affinity by header, sessions only expire after they haven't been used for the number of seconds specified."
          }
        },
        "steering_policy": {
          "target": "com.cloudflare.load_balancers#CreateRequestRulesItemOverridesSteeringPolicy",
          "traits": {
            "smithy.api#documentation": "Steering Policy for this load balancer."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live (TTL) of the DNS entry for the IP address returned by this load balancer. This only applies to gray-clouded (unproxied) load balancers."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateRequestRulesItem": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The condition expressions to evaluate. If the condition evaluates to true, the overrides or fixed_response in this rule will be applied. An empty condition is always true. For more details on condition expressions, please see https://developers.cloudflare.com/load-balancing/understand-basics/load-balancing-rules/expressions."
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disable this specific rule. It will no longer be evaluated by this load balancer."
          }
        },
        "fixed_response": {
          "target": "com.cloudflare.load_balancers#CreateRequestRulesItemFixedResponse",
          "traits": {
            "smithy.api#documentation": "A collection of fields used to directly respond to the eyeball instead of routing to a pool. If a fixed_response is supplied the rule will be marked as terminates."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of this rule. Only used for human readability."
          }
        },
        "overrides": {
          "target": "com.cloudflare.load_balancers#CreateRequestRulesItemOverrides",
          "traits": {
            "smithy.api#documentation": "A collection of overrides to apply to the load balancer when this rule's condition is true. All fields are optional."
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The order in which rules should be executed in relation to each other. Lower values are executed first. Values do not need to be sequential. If no value is provided for any rule the array order of the rules field will be used to assign a priority."
          }
        },
        "terminates": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If this rule's condition is true, this causes rule evaluation to stop after processing this rule."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateRequestRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.load_balancers#CreateRequestRulesItem"
      }
    },
    "com.cloudflare.load_balancers#CreateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "default_pools": {
          "target": "com.cloudflare.load_balancers#CreateRequestDefaultPoolsList",
          "traits": {
            "smithy.api#documentation": "A list of pool IDs ordered by their failover priority. Pools defined here are used by default, or when region_pools are not configured for a given region.",
            "smithy.api#required": {}
          }
        },
        "fallback_pool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pool ID to use when all other pools are detected as unhealthy.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The DNS hostname to associate with your Load Balancer. If this hostname already exists as a DNS record in Cloudflare's DNS, the Load Balancer will take precedence and the DNS record will not be used.",
            "smithy.api#required": {}
          }
        },
        "adaptive_routing": {
          "target": "com.cloudflare.load_balancers#CreateRequestAdaptiveRouting",
          "traits": {
            "smithy.api#documentation": "Controls features that modify the routing of requests to pools and origins in response to dynamic conditions, such as during the interval between active health monitoring requests. For example, zero-downtime failover occurs immediately when an origin becomes unavailable due to HTTP 521, 522, or 523 response codes. If there is another healthy origin in the same pool, the request is retried once against this alternate origin."
          }
        },
        "country_pools": {
          "target": "com.cloudflare.load_balancers#CreateRequestCountryPoolsMap",
          "traits": {
            "smithy.api#documentation": "A mapping of country codes to a list of pool IDs (ordered by their failover priority) for the given country. Any country not explicitly defined will fall back to using the corresponding region_pool mapping if it exists else to default_pools."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Object description."
          }
        },
        "location_strategy": {
          "target": "com.cloudflare.load_balancers#CreateRequestLocationStrategy",
          "traits": {
            "smithy.api#documentation": "Controls location-based steering for non-proxied requests. See `steering_policy` to learn how steering is affected."
          }
        },
        "networks": {
          "target": "com.cloudflare.load_balancers#CreateRequestNetworksList",
          "traits": {
            "smithy.api#documentation": "List of networks where Load Balancer or Pool is enabled."
          }
        },
        "pop_pools": {
          "target": "com.cloudflare.load_balancers#CreateRequestPopPoolsMap",
          "traits": {
            "smithy.api#documentation": "Enterprise only: A mapping of Cloudflare PoP identifiers to a list of pool IDs (ordered by their failover priority) for the PoP (datacenter). Any PoPs not explicitly defined will fall back to using the corresponding country_pool, then region_pool mapping if it exists else to default_pools."
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the hostname should be gray clouded (false) or orange clouded (true)."
          }
        },
        "random_steering": {
          "target": "com.cloudflare.load_balancers#CreateRequestRandomSteering",
          "traits": {
            "smithy.api#documentation": "Configures pool weights."
          }
        },
        "region_pools": {
          "target": "com.cloudflare.load_balancers#CreateRequestRegionPoolsMap",
          "traits": {
            "smithy.api#documentation": "A mapping of region codes to a list of pool IDs (ordered by their failover priority) for the given region. Any regions not explicitly defined will fall back to using default_pools."
          }
        },
        "rules": {
          "target": "com.cloudflare.load_balancers#CreateRequestRulesList",
          "traits": {
            "smithy.api#documentation": "BETA Field Not General Access: A list of rules for this load balancer to execute."
          }
        },
        "session_affinity": {
          "target": "com.cloudflare.load_balancers#CreateRequestRulesItemOverridesSessionAffinity",
          "traits": {
            "smithy.api#documentation": "Specifies the type of session affinity the load balancer should use unless specified as `\"none\"`. The supported types are: - `\"cookie\"`: On the first request to a proxied load balancer, a cookie is generated, encoding information of which origin the request will be forwarded to. Subsequent requests, by the same client to the same load balancer, will be sent to the origin server the cookie encodes, for the duration of the cookie and as long as the origin server remains healthy. If the cookie has expired or the origin server is unhealthy, then a new origin server is calculated and used. - `\"ip_cookie\"`: Behaves the same as `\"cookie\"` except the initial origin selection is stable and based on the client's ip address. - `\"header\"`: On the first request to a proxied load balancer, a session key based on the configured HTTP headers (see `session_affinity_attributes.headers`) is generated, encoding the request headers used for storing in the load balancer session state which origin the request will be forwarded to. Subsequent requests to the load balancer with the same headers will be sent to the same origin server, for the duration of the session and as long as the origin server remains healthy. If the session has been idle for the duration of `session_affinity_ttl` seconds or the origin server is unhealthy, then a new origin server is calculated and used. See `headers` in `session_affinity_attributes` for additional required configuration."
          }
        },
        "session_affinity_attributes": {
          "target": "com.cloudflare.load_balancers#CreateRequestRulesItemOverridesSessionAffinityAttributes",
          "traits": {
            "smithy.api#documentation": "Configures attributes for session affinity."
          }
        },
        "session_affinity_ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time, in seconds, until a client's session expires after being created. Once the expiry time has been reached, subsequent requests may get sent to a different origin server. The accepted ranges per `session_affinity` policy are: - `\"cookie\"` / `\"ip_cookie\"`: The current default of 23 hours will be used unless explicitly set. The accepted range of values is between [1800, 604800]. - `\"header\"`: The current default of 1800 seconds will be used unless explicitly set. The accepted range of values is between [30, 3600]. Note: With session affinity by header, sessions only expire after they haven't been used for the number of seconds specified."
          }
        },
        "steering_policy": {
          "target": "com.cloudflare.load_balancers#CreateRequestRulesItemOverridesSteeringPolicy",
          "traits": {
            "smithy.api#documentation": "Steering Policy for this load balancer."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live (TTL) of the DNS entry for the IP address returned by this load balancer. This only applies to gray-clouded (unproxied) load balancers."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.load_balancers#CreateResponseAdaptiveRouting": {
      "type": "structure",
      "members": {
        "failover_across_pools": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Extends zero-downtime failover of requests to healthy origins from alternate pools, when no healthy alternate exists in the same pool, according to the failover order defined by traffic and origin steering. When set false (the default) zero-downtime failover will only occur between origins within the same pool. See `session_affinity_attributes` for control over when sessions are broken or reassigned."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateResponseCountryPoolsValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#CreateResponseCountryPoolsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.load_balancers#CreateResponseCountryPoolsValueList"
      }
    },
    "com.cloudflare.load_balancers#CreateResponseDefaultPoolsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.load_balancers#CreateResponseLocationStrategyMode": {
      "type": "enum",
      "members": {
        "POP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pop"
          }
        },
        "RESOLVER_IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resolver_ip"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateResponseLocationStrategyPreferEcs": {
      "type": "enum",
      "members": {
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "always"
          }
        },
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "never"
          }
        },
        "PROXIMITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "proximity"
          }
        },
        "GEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "geo"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateResponseLocationStrategy": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.load_balancers#CreateResponseLocationStrategyMode",
          "traits": {
            "smithy.api#documentation": "Determines the authoritative location when ECS is not preferred, does not exist in the request, or its GeoIP lookup is unsuccessful."
          }
        },
        "prefer_ecs": {
          "target": "com.cloudflare.load_balancers#CreateResponseLocationStrategyPreferEcs",
          "traits": {
            "smithy.api#documentation": "Whether the EDNS Client Subnet (ECS) GeoIP should be preferred as the authoritative location."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateResponseNetworksList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#CreateResponsePopPoolsValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#CreateResponsePopPoolsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.load_balancers#CreateResponsePopPoolsValueList"
      }
    },
    "com.cloudflare.load_balancers#CreateResponseRandomSteeringPoolWeightsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.load_balancers#CreateResponseRandomSteering": {
      "type": "structure",
      "members": {
        "default_weight": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The default weight for pools in the load balancer that are not specified in the pool_weights map."
          }
        },
        "pool_weights": {
          "target": "com.cloudflare.load_balancers#CreateResponseRandomSteeringPoolWeightsMap",
          "traits": {
            "smithy.api#documentation": "A mapping of pool IDs to custom weights. The weight is relative to other pools in the load balancer."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateResponseRegionPoolsValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#CreateResponseRegionPoolsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.load_balancers#CreateResponseRegionPoolsValueList"
      }
    },
    "com.cloudflare.load_balancers#CreateResponseRulesItemFixedResponse": {
      "type": "structure",
      "members": {
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The http 'Content-Type' header to include in the response."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The http 'Location' header to include in the response."
          }
        },
        "message_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text to include as the http body."
          }
        },
        "status_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The http status code to respond with."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateResponseRulesItemOverridesCountryPoolsValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#CreateResponseRulesItemOverridesCountryPoolsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.load_balancers#CreateResponseRulesItemOverridesCountryPoolsValueList"
      }
    },
    "com.cloudflare.load_balancers#CreateResponseRulesItemOverridesDefaultPoolsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.load_balancers#CreateResponseRulesItemOverridesPopPoolsValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#CreateResponseRulesItemOverridesPopPoolsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.load_balancers#CreateResponseRulesItemOverridesPopPoolsValueList"
      }
    },
    "com.cloudflare.load_balancers#CreateResponseRulesItemOverridesRegionPoolsValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#CreateResponseRulesItemOverridesRegionPoolsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.load_balancers#CreateResponseRulesItemOverridesRegionPoolsValueList"
      }
    },
    "com.cloudflare.load_balancers#CreateResponseRulesItemOverridesSessionAffinity": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cookie"
          }
        },
        "IP_COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip_cookie"
          }
        },
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "header"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateResponseRulesItemOverridesSessionAffinityAttributesHeadersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#CreateResponseRulesItemOverridesSessionAffinityAttributesSamesite": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Auto"
          }
        },
        "LAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lax"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Strict"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateResponseRulesItemOverridesSessionAffinityAttributesSecure": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Auto"
          }
        },
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Always"
          }
        },
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Never"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateResponseRulesItemOverridesSessionAffinityAttributesZeroDowntimeFailover": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "TEMPORARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "temporary"
          }
        },
        "STICKY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sticky"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateResponseRulesItemOverridesSessionAffinityAttributes": {
      "type": "structure",
      "members": {
        "drain_duration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Configures the drain duration in seconds. This field is only used when session affinity is enabled on the load balancer."
          }
        },
        "headers": {
          "target": "com.cloudflare.load_balancers#CreateResponseRulesItemOverridesSessionAffinityAttributesHeadersList",
          "traits": {
            "smithy.api#documentation": "Configures the names of HTTP headers to base session affinity on when header `session_affinity` is enabled. At least one HTTP header name must be provided. To specify the exact cookies to be used, include an item in the following format: `\"cookie:<cookie-name-1>,<cookie-name-2>\"` (example) where everything after the colon is a comma-separated list of cookie names. Providing only `\"cookie\"` will result in all cookies being used. The default max number of HTTP header names that can be provided depends on your plan: 5 for Enterprise, 1 for all other plans."
          }
        },
        "require_all_headers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When header `session_affinity` is enabled, this option can be used to specify how HTTP headers on load balancing requests will be used. The supported values are: - `\"true\"`: Load balancing requests must contain *all* of the HTTP headers specified by the `headers` session affinity attribute, otherwise sessions aren't created. - `\"false\"`: Load balancing requests must contain *at least one* of the HTTP headers specified by the `headers` session affinity attribute, otherwise sessions aren't created."
          }
        },
        "samesite": {
          "target": "com.cloudflare.load_balancers#CreateResponseRulesItemOverridesSessionAffinityAttributesSamesite",
          "traits": {
            "smithy.api#documentation": "Configures the SameSite attribute on session affinity cookie. Value \"Auto\" will be translated to \"Lax\" or \"None\" depending if Always Use HTTPS is enabled. Note: when using value \"None\", the secure attribute can not be set to \"Never\"."
          }
        },
        "secure": {
          "target": "com.cloudflare.load_balancers#CreateResponseRulesItemOverridesSessionAffinityAttributesSecure",
          "traits": {
            "smithy.api#documentation": "Configures the Secure attribute on session affinity cookie. Value \"Always\" indicates the Secure attribute will be set in the Set-Cookie header, \"Never\" indicates the Secure attribute will not be set, and \"Auto\" will set the Secure attribute depending if Always Use HTTPS is enabled."
          }
        },
        "zero_downtime_failover": {
          "target": "com.cloudflare.load_balancers#CreateResponseRulesItemOverridesSessionAffinityAttributesZeroDowntimeFailover",
          "traits": {
            "smithy.api#documentation": "Configures the zero-downtime failover between origins within a pool when session affinity is enabled. This feature is currently incompatible with Argo, Tiered Cache, and Bandwidth Alliance. The supported values are: - `\"none\"`: No failover takes place for sessions pinned to the origin (default). - `\"temporary\"`: Traffic will be sent to another other healthy origin until the originally pinned origin is available; note that this can potentially result in heavy origin flapping. - `\"sticky\"`: The session affinity cookie is updated and subsequent requests are sent to the new origin. Note: Zero-downtime failover with sticky sessions is currently not supported for session affinity by header."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateResponseRulesItemOverridesSteeringPolicy": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "GEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "geo"
          }
        },
        "RANDOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "random"
          }
        },
        "DYNAMIC_LATENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dynamic_latency"
          }
        },
        "PROXIMITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "proximity"
          }
        },
        "LEAST_OUTSTANDING_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "least_outstanding_requests"
          }
        },
        "LEAST_CONNECTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "least_connections"
          }
        },
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateResponseRulesItemOverrides": {
      "type": "structure",
      "members": {
        "adaptive_routing": {
          "target": "com.cloudflare.load_balancers#CreateResponseAdaptiveRouting",
          "traits": {
            "smithy.api#documentation": "Controls features that modify the routing of requests to pools and origins in response to dynamic conditions, such as during the interval between active health monitoring requests. For example, zero-downtime failover occurs immediately when an origin becomes unavailable due to HTTP 521, 522, or 523 response codes. If there is another healthy origin in the same pool, the request is retried once against this alternate origin."
          }
        },
        "country_pools": {
          "target": "com.cloudflare.load_balancers#CreateResponseRulesItemOverridesCountryPoolsMap",
          "traits": {
            "smithy.api#documentation": "A mapping of country codes to a list of pool IDs (ordered by their failover priority) for the given country. Any country not explicitly defined will fall back to using the corresponding region_pool mapping if it exists else to default_pools."
          }
        },
        "default_pools": {
          "target": "com.cloudflare.load_balancers#CreateResponseRulesItemOverridesDefaultPoolsList",
          "traits": {
            "smithy.api#documentation": "A list of pool IDs ordered by their failover priority. Pools defined here are used by default, or when region_pools are not configured for a given region."
          }
        },
        "fallback_pool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pool ID to use when all other pools are detected as unhealthy."
          }
        },
        "location_strategy": {
          "target": "com.cloudflare.load_balancers#CreateResponseLocationStrategy",
          "traits": {
            "smithy.api#documentation": "Controls location-based steering for non-proxied requests. See `steering_policy` to learn how steering is affected."
          }
        },
        "pop_pools": {
          "target": "com.cloudflare.load_balancers#CreateResponseRulesItemOverridesPopPoolsMap",
          "traits": {
            "smithy.api#documentation": "Enterprise only: A mapping of Cloudflare PoP identifiers to a list of pool IDs (ordered by their failover priority) for the PoP (datacenter). Any PoPs not explicitly defined will fall back to using the corresponding country_pool, then region_pool mapping if it exists else to default_pools."
          }
        },
        "random_steering": {
          "target": "com.cloudflare.load_balancers#CreateResponseRandomSteering",
          "traits": {
            "smithy.api#documentation": "Configures pool weights."
          }
        },
        "region_pools": {
          "target": "com.cloudflare.load_balancers#CreateResponseRulesItemOverridesRegionPoolsMap",
          "traits": {
            "smithy.api#documentation": "A mapping of region codes to a list of pool IDs (ordered by their failover priority) for the given region. Any regions not explicitly defined will fall back to using default_pools."
          }
        },
        "session_affinity": {
          "target": "com.cloudflare.load_balancers#CreateResponseRulesItemOverridesSessionAffinity",
          "traits": {
            "smithy.api#documentation": "Specifies the type of session affinity the load balancer should use unless specified as `\"none\"`. The supported types are: - `\"cookie\"`: On the first request to a proxied load balancer, a cookie is generated, encoding information of which origin the request will be forwarded to. Subsequent requests, by the same client to the same load balancer, will be sent to the origin server the cookie encodes, for the duration of the cookie and as long as the origin server remains healthy. If the cookie has expired or the origin server is unhealthy, then a new origin server is calculated and used. - `\"ip_cookie\"`: Behaves the same as `\"cookie\"` except the initial origin selection is stable and based on the client's ip address. - `\"header\"`: On the first request to a proxied load balancer, a session key based on the configured HTTP headers (see `session_affinity_attributes.headers`) is generated, encoding the request headers used for storing in the load balancer session state which origin the request will be forwarded to. Subsequent requests to the load balancer with the same headers will be sent to the same origin server, for the duration of the session and as long as the origin server remains healthy. If the session has been idle for the duration of `session_affinity_ttl` seconds or the origin server is unhealthy, then a new origin server is calculated and used. See `headers` in `session_affinity_attributes` for additional required configuration."
          }
        },
        "session_affinity_attributes": {
          "target": "com.cloudflare.load_balancers#CreateResponseRulesItemOverridesSessionAffinityAttributes",
          "traits": {
            "smithy.api#documentation": "Configures attributes for session affinity."
          }
        },
        "session_affinity_ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time, in seconds, until a client's session expires after being created. Once the expiry time has been reached, subsequent requests may get sent to a different origin server. The accepted ranges per `session_affinity` policy are: - `\"cookie\"` / `\"ip_cookie\"`: The current default of 23 hours will be used unless explicitly set. The accepted range of values is between [1800, 604800]. - `\"header\"`: The current default of 1800 seconds will be used unless explicitly set. The accepted range of values is between [30, 3600]. Note: With session affinity by header, sessions only expire after they haven't been used for the number of seconds specified."
          }
        },
        "steering_policy": {
          "target": "com.cloudflare.load_balancers#CreateResponseRulesItemOverridesSteeringPolicy",
          "traits": {
            "smithy.api#documentation": "Steering Policy for this load balancer."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live (TTL) of the DNS entry for the IP address returned by this load balancer. This only applies to gray-clouded (unproxied) load balancers."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateResponseRulesItem": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The condition expressions to evaluate. If the condition evaluates to true, the overrides or fixed_response in this rule will be applied. An empty condition is always true. For more details on condition expressions, please see https://developers.cloudflare.com/load-balancing/understand-basics/load-balancing-rules/expressions."
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disable this specific rule. It will no longer be evaluated by this load balancer."
          }
        },
        "fixed_response": {
          "target": "com.cloudflare.load_balancers#CreateResponseRulesItemFixedResponse",
          "traits": {
            "smithy.api#documentation": "A collection of fields used to directly respond to the eyeball instead of routing to a pool. If a fixed_response is supplied the rule will be marked as terminates."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of this rule. Only used for human readability."
          }
        },
        "overrides": {
          "target": "com.cloudflare.load_balancers#CreateResponseRulesItemOverrides",
          "traits": {
            "smithy.api#documentation": "A collection of overrides to apply to the load balancer when this rule's condition is true. All fields are optional."
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The order in which rules should be executed in relation to each other. Lower values are executed first. Values do not need to be sequential. If no value is provided for any rule the array order of the rules field will be used to assign a priority."
          }
        },
        "terminates": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If this rule's condition is true, this causes rule evaluation to stop after processing this rule."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#CreateResponseRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.load_balancers#CreateResponseRulesItem"
      }
    },
    "com.cloudflare.load_balancers#CreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "adaptive_routing": {
          "target": "com.cloudflare.load_balancers#CreateResponseAdaptiveRouting",
          "traits": {
            "smithy.api#documentation": "Controls features that modify the routing of requests to pools and origins in response to dynamic conditions, such as during the interval between active health monitoring requests. For example, zero-downtime failover occurs immediately when an origin becomes unavailable due to HTTP 521, 522, or 523 response codes. If there is another healthy origin in the same pool, the request is retried once against this alternate origin."
          }
        },
        "country_pools": {
          "target": "com.cloudflare.load_balancers#CreateResponseCountryPoolsMap",
          "traits": {
            "smithy.api#documentation": "A mapping of country codes to a list of pool IDs (ordered by their failover priority) for the given country. Any country not explicitly defined will fall back to using the corresponding region_pool mapping if it exists else to default_pools."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "default_pools": {
          "target": "com.cloudflare.load_balancers#CreateResponseDefaultPoolsList",
          "traits": {
            "smithy.api#documentation": "A list of pool IDs ordered by their failover priority. Pools defined here are used by default, or when region_pools are not configured for a given region."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Object description."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable (the default) this load balancer."
          }
        },
        "fallback_pool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pool ID to use when all other pools are detected as unhealthy."
          }
        },
        "location_strategy": {
          "target": "com.cloudflare.load_balancers#CreateResponseLocationStrategy",
          "traits": {
            "smithy.api#documentation": "Controls location-based steering for non-proxied requests. See `steering_policy` to learn how steering is affected."
          }
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The DNS hostname to associate with your Load Balancer. If this hostname already exists as a DNS record in Cloudflare's DNS, the Load Balancer will take precedence and the DNS record will not be used."
          }
        },
        "networks": {
          "target": "com.cloudflare.load_balancers#CreateResponseNetworksList",
          "traits": {
            "smithy.api#documentation": "List of networks where Load Balancer or Pool is enabled."
          }
        },
        "pop_pools": {
          "target": "com.cloudflare.load_balancers#CreateResponsePopPoolsMap",
          "traits": {
            "smithy.api#documentation": "Enterprise only: A mapping of Cloudflare PoP identifiers to a list of pool IDs (ordered by their failover priority) for the PoP (datacenter). Any PoPs not explicitly defined will fall back to using the corresponding country_pool, then region_pool mapping if it exists else to default_pools."
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the hostname should be gray clouded (false) or orange clouded (true)."
          }
        },
        "random_steering": {
          "target": "com.cloudflare.load_balancers#CreateResponseRandomSteering",
          "traits": {
            "smithy.api#documentation": "Configures pool weights."
          }
        },
        "region_pools": {
          "target": "com.cloudflare.load_balancers#CreateResponseRegionPoolsMap",
          "traits": {
            "smithy.api#documentation": "A mapping of region codes to a list of pool IDs (ordered by their failover priority) for the given region. Any regions not explicitly defined will fall back to using default_pools."
          }
        },
        "rules": {
          "target": "com.cloudflare.load_balancers#CreateResponseRulesList",
          "traits": {
            "smithy.api#documentation": "BETA Field Not General Access: A list of rules for this load balancer to execute."
          }
        },
        "session_affinity": {
          "target": "com.cloudflare.load_balancers#CreateResponseRulesItemOverridesSessionAffinity",
          "traits": {
            "smithy.api#documentation": "Specifies the type of session affinity the load balancer should use unless specified as `\"none\"`. The supported types are: - `\"cookie\"`: On the first request to a proxied load balancer, a cookie is generated, encoding information of which origin the request will be forwarded to. Subsequent requests, by the same client to the same load balancer, will be sent to the origin server the cookie encodes, for the duration of the cookie and as long as the origin server remains healthy. If the cookie has expired or the origin server is unhealthy, then a new origin server is calculated and used. - `\"ip_cookie\"`: Behaves the same as `\"cookie\"` except the initial origin selection is stable and based on the client's ip address. - `\"header\"`: On the first request to a proxied load balancer, a session key based on the configured HTTP headers (see `session_affinity_attributes.headers`) is generated, encoding the request headers used for storing in the load balancer session state which origin the request will be forwarded to. Subsequent requests to the load balancer with the same headers will be sent to the same origin server, for the duration of the session and as long as the origin server remains healthy. If the session has been idle for the duration of `session_affinity_ttl` seconds or the origin server is unhealthy, then a new origin server is calculated and used. See `headers` in `session_affinity_attributes` for additional required configuration."
          }
        },
        "session_affinity_attributes": {
          "target": "com.cloudflare.load_balancers#CreateResponseRulesItemOverridesSessionAffinityAttributes",
          "traits": {
            "smithy.api#documentation": "Configures attributes for session affinity."
          }
        },
        "session_affinity_ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time, in seconds, until a client's session expires after being created. Once the expiry time has been reached, subsequent requests may get sent to a different origin server. The accepted ranges per `session_affinity` policy are: - `\"cookie\"` / `\"ip_cookie\"`: The current default of 23 hours will be used unless explicitly set. The accepted range of values is between [1800, 604800]. - `\"header\"`: The current default of 1800 seconds will be used unless explicitly set. The accepted range of values is between [30, 3600]. Note: With session affinity by header, sessions only expire after they haven't been used for the number of seconds specified."
          }
        },
        "steering_policy": {
          "target": "com.cloudflare.load_balancers#CreateResponseRulesItemOverridesSteeringPolicy",
          "traits": {
            "smithy.api#documentation": "Steering Policy for this load balancer."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live (TTL) of the DNS entry for the IP address returned by this load balancer. This only applies to gray-clouded (unproxied) load balancers."
          }
        },
        "zone_name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.load_balancers#Create": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.load_balancers#CreateRequest"
      },
      "output": {
        "target": "com.cloudflare.load_balancers#CreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/load_balancers",
          "code": 200
        },
        "smithy.api#documentation": "Create a new load balancer."
      }
    },
    "com.cloudflare.load_balancers#DeleteRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "load_balancer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.load_balancers#DeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.load_balancers#Delete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.load_balancers#DeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.load_balancers#DeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/load_balancers/{load_balancer_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a configured load balancer.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.load_balancers#EditRequestAdaptiveRouting": {
      "type": "structure",
      "members": {
        "failover_across_pools": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Extends zero-downtime failover of requests to healthy origins from alternate pools, when no healthy alternate exists in the same pool, according to the failover order defined by traffic and origin steering. When set false (the default) zero-downtime failover will only occur between origins within the same pool. See `session_affinity_attributes` for control over when sessions are broken or reassigned."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#EditRequestCountryPoolsValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#EditRequestCountryPoolsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.load_balancers#EditRequestCountryPoolsValueList"
      }
    },
    "com.cloudflare.load_balancers#EditRequestDefaultPoolsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.load_balancers#EditRequestLocationStrategyMode": {
      "type": "enum",
      "members": {
        "POP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pop"
          }
        },
        "RESOLVER_IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resolver_ip"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#EditRequestLocationStrategyPreferEcs": {
      "type": "enum",
      "members": {
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "always"
          }
        },
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "never"
          }
        },
        "PROXIMITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "proximity"
          }
        },
        "GEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "geo"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#EditRequestLocationStrategy": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.cloudflare.load_balancers#EditRequestLocationStrategyMode",
          "traits": {
            "smithy.api#documentation": "Determines the authoritative location when ECS is not preferred, does not exist in the request, or its GeoIP lookup is unsuccessful."
          }
        },
        "prefer_ecs": {
          "target": "com.cloudflare.load_balancers#EditRequestLocationStrategyPreferEcs",
          "traits": {
            "smithy.api#documentation": "Whether the EDNS Client Subnet (ECS) GeoIP should be preferred as the authoritative location."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#EditRequestPopPoolsValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#EditRequestPopPoolsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.load_balancers#EditRequestPopPoolsValueList"
      }
    },
    "com.cloudflare.load_balancers#EditRequestRandomSteeringPoolWeightsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.load_balancers#EditRequestRandomSteering": {
      "type": "structure",
      "members": {
        "default_weight": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The default weight for pools in the load balancer that are not specified in the pool_weights map."
          }
        },
        "pool_weights": {
          "target": "com.cloudflare.load_balancers#EditRequestRandomSteeringPoolWeightsMap",
          "traits": {
            "smithy.api#documentation": "A mapping of pool IDs to custom weights. The weight is relative to other pools in the load balancer."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#EditRequestRegionPoolsValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#EditRequestRegionPoolsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.load_balancers#EditRequestRegionPoolsValueList"
      }
    },
    "com.cloudflare.load_balancers#EditRequestRulesItemFixedResponse": {
      "type": "structure",
      "members": {
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The http 'Content-Type' header to include in the response."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The http 'Location' header to include in the response."
          }
        },
        "message_body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text to include as the http body."
          }
        },
        "status_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The http status code to respond with."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#EditRequestRulesItemOverridesCountryPoolsValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#EditRequestRulesItemOverridesCountryPoolsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.load_balancers#EditRequestRulesItemOverridesCountryPoolsValueList"
      }
    },
    "com.cloudflare.load_balancers#EditRequestRulesItemOverridesDefaultPoolsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.load_balancers#EditRequestRulesItemOverridesPopPoolsValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#EditRequestRulesItemOverridesPopPoolsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.load_balancers#EditRequestRulesItemOverridesPopPoolsValueList"
      }
    },
    "com.cloudflare.load_balancers#EditRequestRulesItemOverridesRegionPoolsValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#EditRequestRulesItemOverridesRegionPoolsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.load_balancers#EditRequestRulesItemOverridesRegionPoolsValueList"
      }
    },
    "com.cloudflare.load_balancers#EditRequestRulesItemOverridesSessionAffinity": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cookie"
          }
        },
        "IP_COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip_cookie"
          }
        },
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "header"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#EditRequestRulesItemOverridesSessionAffinityAttributesHeadersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.load_balancers#EditRequestRulesItemOverridesSessionAffinityAttributesSamesite": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Auto"
          }
        },
        "LAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lax"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Strict"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#EditRequestRulesItemOverridesSessionAffinityAttributesSecure": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Auto"
          }
        },
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Always"
          }
        },
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Never"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#EditRequestRulesItemOverridesSessionAffinityAttributesZeroDowntimeFailover": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "TEMPORARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "temporary"
          }
        },
        "STICKY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sticky"
          }
        }
      }
    },
    "com.cloudflare.load_balancers#EditRequestRulesItemOverridesSessionAffinityAttributes": {
      "type": "structure",
      "members": {
        "drain_duration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Configures the drain duration in seconds. This field is only used when session affinity is enabled on the load balancer."
          }
        },
        "headers": {
          "target": "com.cloudflare.load_balancers#EditRequestRulesItemOverridesSessionAffinityAttributesHeadersList",
          "traits": {
            "smithy.api#documentation": "Configures the names of HTTP headers to base session affinity on when header `session_affinity` is enabled. At least one HTTP header name must be provided. To specify the exact cookies to be used, include an item in the following format: `\"cookie:<cookie-name-1>,<cookie-name-2>\"` (example) where everything after the colon is a comma-separated list of cookie names. Providing only `\"cookie\"` will result in all cookies being used. The default max number of HTTP header names that can be provided depends on your plan: 5 for Enterprise, 1 for all other plans."
          }
        },
        "require_all_headers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When header `session_affinity` is enabled, this option can be used to specify how HTTP headers on load balancing requests will be used. The supported values are: - `\"true\"`: Load balancing requests must contain *all* of the HTTP headers specified by the `headers` session affinity attribute, otherwise sessions aren't created. - `\"false\"`: Load balancing requests must contain *at least one* of the HTTP headers specified by the `headers` session affinity attribute, otherwise sessions aren't created."
          }
        },
        "samesite": {
          "target": "com.cloudflare.load_balancers#EditRequestRulesItemOverridesSessionAffinityAttributesSamesite",
          "traits": {
            "smithy.api#documentation": "Configures the SameSite attribute on session affinity cookie. Value \"Auto\" will be translated to \"Lax\" or \"None\" depending if Always Use HTTPS is enabled. Note: when using value \"None\", the secure attribute can not be set to \"Never\"."
          }
        },
        "secure": {
          "target": "com.cloudflare.load_balancers#EditRequestRulesItemOverridesSessionAffinityAttributesSecure",
          "traits": {
            "smithy.api#documentation": "Configures the Secure attribute on session affinity cookie. Value \"Always\" indicates the Secure attribute will be set in the Set-Cookie header, \"Never\" indicates the Secure attribute will not be set, and \"Auto\" will set the Secure attribute depending if Always Use HTTPS is enabled."
          }
        },
        "zero_downtime_failover": {
          "target": "com.cloudflare.load_balancers#EditRequestRulesItemOverridesSessionAffinityAttributesZeroDowntimeFailover",
          "traits": {
            "smithy.api#documentation": "Configures the zero-downtime failover between origins within a pool when session affinity is enabled. This feature is currently incompatible with Argo, Tiered Cache, and Bandwidth Alliance. The supported values are: - `\"none\"`: No failover takes place for sessions pinned to the origin (default). - `\"temporary\"`: Traffic will be sent to another other healthy origin until the originally pinned origin is available; note that this can potentially result in heavy origin flapping. - `\"sticky\"`: The session affinity cookie is updated and subsequent requests are sent to the new origin. Note: Zero-downtime failover with sticky sessions is currently not supported for session affinity by header."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#EditRequestRulesItemOverridesSteeringPolicy": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "GEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "geo"
          }
        },
        "RANDOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "random"
          }
        },
        "DYNAMIC_LATENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dynamic_latency"
          }
        },
        "PROXIMITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "proximity"
          }
        },
        "LEAST_OUTSTANDING_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "least_outstanding_requests"
          }
        },
        "LEAST_CONNECTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "least_connections"
          }
        },
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      }
    },
    "com.cloudflare.load_balancers#EditRequestRulesItemOverrides": {
      "type": "structure",
      "members": {
        "adaptive_routing": {
          "target": "com.cloudflare.load_balancers#EditRequestAdaptiveRouting",
          "traits": {
            "smithy.api#documentation": "Controls features that modify the routing of requests to pools and origins in response to dynamic conditions, such as during the interval between active health monitoring requests. For example, zero-downtime failover occurs immediately when an origin becomes unavailable due to HTTP 521, 522, or 523 response codes. If there is another healthy origin in the same pool, the request is retried once against this alternate origin."
          }
        },
        "country_pools": {
          "target": "com.cloudflare.load_balancers#EditRequestRulesItemOverridesCountryPoolsMap",
          "traits": {
            "smithy.api#documentation": "A mapping of country codes to a list of pool IDs (ordered by their failover priority) for the given country. Any country not explicitly defined will fall back to using the corresponding region_pool mapping if it exists else to default_pools."
          }
        },
        "default_pools": {
          "target": "com.cloudflare.load_balancers#EditRequestRulesItemOverridesDefaultPoolsList",
          "traits": {
            "smithy.api#documentation": "A list of pool IDs ordered by their failover priority. Pools defined here are used by default, or when region_pools are not configured for a given region."
          }
        },
        "fallback_pool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pool ID to use when all other pools are detected as unhealthy."
          }
        },
        "location_strategy": {
          "target": "com.cloudflare.load_balancers#EditRequestLocationStrategy",
          "traits": {
            "smithy.api#documentation": "Controls location-based steering for non-proxied requests. See `steering_policy` to learn how steering is affected."
          }
        },
        "pop_pools": {
          "target": "com.cloudflare.load_balancers#EditRequestRulesItemOverridesPopPoolsMap",
          "traits": {
            "smithy.api#documentation": "Enterprise only: A mapping of Cloudflare PoP identifiers to a list of pool IDs (ordered by their failover priority) for the PoP (datacenter). Any PoPs not explicitly defined will fall back to using the corresponding country_pool, then region_pool mapping if it exists else to default_pools."
          }
        },
        "random_steering": {
          "target": "com.cloudflare.load_balancers#EditRequestRandomSteering",
          "traits": {
            "smithy.api#documentation": "Configures pool weights."
          }
        },
        "region_pools": {
          "target": "com.cloudflare.load_balancers#EditRequestRulesItemOverridesRegionPoolsMap",
          "traits": {
            "smithy.api#documentation": "A mapping of region codes to a list of pool IDs (ordered by their failover priority) for the given region. Any regions not explicitly defined will fall back to using default_pools."
          }
        },
        "session_affinity": {
          "target": "com.cloudflare.load_balancers#EditRequestRulesItemOverridesSessionAffinity",
          "traits": {
            "smithy.api#documentation": "Specifies the type of session affinity the load balancer should use unless specified as `\"none\"`. The supported types are: - `\"cookie\"`: On the first request to a proxied load balancer, a cookie is generated, encoding information of which origin the request will be forwarded to. Subsequent requests, by the same client to the same load balancer, will be sent to the origin server the cookie encodes, for the duration of the cookie and as long as the origin server remains healthy. If the cookie has expired or the origin server is unhealthy, then a new origin server is calculated and used. - `\"ip_cookie\"`: Behaves the same as `\"cookie\"` except the initial origin selection is stable and based on the client's ip address. - `\"header\"`: On the first request to a proxied load balancer, a session key based on the configured HTTP headers (see `session_affinity_attributes.headers`) is generated, encoding the request headers used for storing in the load balancer session state which origin the request will be forwarded to. Subsequent requests to the load balancer with the same headers will be sent to the same origin server, for the duration of the session and as long as the origin server remains healthy. If the session has been idle for the duration of `session_affinity_ttl` seconds or the origin server is unhealthy, then a new origin server is calculated and used. See `headers` in `session_affinity_attributes` for additional required configuration."
          }
        },
        "session_affinity_attributes": {
          "target": "com.cloudflare.load_balancers#EditRequestRulesItemOverridesSessionAffinityAttributes",
          "traits": {
            "smithy.api#documentation": "Configures attributes for session affinity."
          }
        },
        "session_affinity_ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time, in seconds, until a client's session expires after being created. Once the expiry time has been reached, subsequent requests may get sent to a different origin server. The accepted ranges per `session_affinity` policy are: - `\"cookie\"` / `\"ip_cookie\"`: The current default of 23 hours will be used unless explicitly set. The accepted range of values is between [1800, 604800]. - `\"header\"`: The current default of 1800 seconds will be used unless explicitly set. The accepted range of values is between [30, 3600]. Note: With session affinity by header, sessions only expire after they haven't been used for the number of seconds specified."
          }
        },
        "steering_policy": {
          "target": "com.cloudflare.load_balancers#EditRequestRulesItemOverridesSteeringPolicy",
          "traits": {
            "smithy.api#documentation": "Steering Policy for this load balancer."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time to live (TTL) of the DNS entry for the IP address returned by this load balancer. This only applies to gray-clouded (unproxied) load balancers."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#EditRequestRulesItem": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The condition expressions to evaluate. If the condition evaluates to true, the overrides or fixed_response in this rule will be applied. An empty condition is always true. For more details on condition expressions, please see https://developers.cloudflare.com/load-balancing/understand-basics/load-balancing-rules/expressions."
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disable this specific rule. It will no longer be evaluated by this load balancer."
          }
        },
        "fixed_response": {
          "target": "com.cloudflare.load_balancers#EditRequestRulesItemFixedResponse",
          "traits": {
            "smithy.api#documentation": "A collection of fields used to directly respond to the eyeball instead of routing to a pool. If a fixed_response is supplied the rule will be marked as terminates."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of this rule. Only used for human readability."
          }
        },
        "overrides": {
          "target": "com.cloudflare.load_balancers#EditRequestRulesItemOverrides",
          "traits": {
            "smithy.api#documentation": "A collection of overrides to apply to the load balancer when this rule's condition is true. All fields are optional."
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The order in which rules should be executed in relation to each other. Lower values are executed first. Values do not need to be sequential. If no value is provided for any rule the array order of the rules field will be used to assign a priority."
          }
        },
        "terminates": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If this rule's condition is true, this causes rule evaluation to stop after processing this rule."
          }
        }
      }
    },
    "com.cloudflare.load_balancers#EditRequestRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.load_balancers#EditRequestRulesItem"
      }
    },
    "com.cloudflare.load_balancers#EditRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "load_balancer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "adaptive_routing": {
          "target": "com.cloudflare.load_balancers#EditRequestAdaptiveRouting",
          "traits": {
            "smithy.api#documentation": "Controls features that modify the routing of requests to pools and origins in response to dynamic conditions, such as during the interval between active health monitoring requests. For example, zero-downtime failover occurs immediately when an origin becomes unavailable due to HTTP 521, 522, or 523 response codes. If there is another healthy origin in the same pool, the request is retried once against this alternate origin."
          }
        },
        "country_pools": {
          "target": "com.cloudflare.load_balancers#EditRequestCountryPoolsMap",
          "traits": {
            "smithy.api#documentation": "A mapping of country codes to a list of pool IDs (ordered by their failover priority) for the given country. Any country not explicitly defined will fall back to using the corresponding region_pool mapping if it exists else to default_pools."
          }
        },
        "default_pools": {
          "target": "com.cloudflare.load_balancers#EditRequestDefaultPoolsList",
          "traits": {
            "smithy.api#documentation": "A list of pool IDs ordered by their failover priority. Pools defined here are used by default, or when region_pools are not configured for a given region."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Object description."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable (the default) this load balancer."
          }
        },
        "fallback_pool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pool ID to use when all other pools are detected as unhealthy."
          }
        },
        "location_strategy": {
          "target": "com.cloudflare.load_balancers#EditRequestLocationStrategy",
          "traits": {
            "smithy.api#documentation": "Controls location-based steering for non-proxied requests. See `steering_policy` to learn how steering is affected."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The DNS hostname to associate with your Load Balancer. If this hostname already exists as a DNS record in Cloudflare's DNS, the Load Balancer will take precedence and the DNS record will not be used."
          }
        },
        "pop_pools": {
          "target": "com.cloudflare.load_balancers#EditRequestPopPoolsMap",
          "traits": {
            "smithy.api#documentation": "Enterprise only: A mapping of Cloudflare PoP identifiers to a list of pool IDs (ordered by their failover priority) for the PoP (datacenter). Any PoPs not explicitly defined will fall back to using the corresponding country_pool, then region_pool mapping if it exists else to default_pools."
          }
        },
        "proxied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the hostname should be gray clouded (false) or orange clouded (true)."
          }
        },
        "random_steering": {
          "target": "com.cloudflare.load_balancers#EditRequestRandomSteering",
          "traits": {
            "smithy.api#documentation": "Configures pool weights."
          }
        },
        "region_pools": {
          "target": "com.cloudflare.load_balancers#EditRequestRegionPoolsMap",
          "traits": {
            "smithy.api#documentation": "A mapping of region codes to a list of pool IDs (ordered by their failover priority) for the given region. Any regions not explicitly defined will fall back to using default_pools."
          }
        },
        "rules": {
          "target": "com.cloudflare.load_balancers#EditRequestRulesList",
          "traits": {
            "smithy.api#documentation": "BETA Field Not General Access: A list of rules for this load balancer to execute."
          }
        },
        "session_affinity": {
          "target": "com.cloudflare.load_balancers#EditRequestRulesItemOverridesSessionAffinity",
          "traits": {
            "smithy.api#documentation": "Specifies the type of session affinity the load balancer should use unless specified as `\"none\"`. The supported types are: - `\"cookie\"`: On the first request to a proxied load balancer, a cookie is generated, encoding information of which origin the request will be forwarded to. Subsequent requests, by the same client to the same load balancer, will be sent to the origin server the cookie encodes, for the duration of the cookie and as long as the origin server remains healthy. If the cookie has expired or the origin server is unhealthy, then a new origin server is calculated and used. - `\"ip_cookie\"`: Behaves the same as `\"cookie\"` except the initial origin selection is stable and based on the client's ip address. - `\"header\"`: On the first request to a proxied load balancer, a session key based on the configured HTTP headers (see `session_affinity_attributes.headers`) is generated, encoding the request headers used for storing in the load balancer session state which origin the request will be forwarded to. Subsequent requests to the load balancer with the same headers will be sent to the same origin server, for the duration of the session and as long as the origin server remains healthy. If the session has been idle for the duration of `session_affinity_ttl` seconds or the origin server is unhealthy, then a new origin server is calculated and used. See `headers` in `session_affinity_attributes` for additional required configuration."
          }
        },
        "session_affinity_attributes": {
          "target": "com.cloudflare.load_balancers#EditRequestRulesItemOverridesSessionAffinityAttributes",
          "traits": {
[...]
