{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.magic_transit#AppsCreateRequestHostnamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsCreateRequestIpSubnetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsCreateRequestSourceSubnetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the app.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Category of the app.",
            "smithy.api#required": {}
          }
        },
        "hostnames": {
          "target": "com.cloudflare.magic_transit#AppsCreateRequestHostnamesList",
          "traits": {
            "smithy.api#documentation": "FQDNs to associate with traffic decisions."
          }
        },
        "ip_subnets": {
          "target": "com.cloudflare.magic_transit#AppsCreateRequestIpSubnetsList",
          "traits": {
            "smithy.api#documentation": "IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are currently unsupported)"
          }
        },
        "source_subnets": {
          "target": "com.cloudflare.magic_transit#AppsCreateRequestSourceSubnetsList",
          "traits": {
            "smithy.api#documentation": "IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are currently unsupported)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#AppsCreateResponseHostnamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsCreateResponseIpSubnetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsCreateResponseSourceSubnetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsCreateResponse": {
      "type": "structure",
      "members": {
        "account_app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Magic account app ID.",
            "smithy.api#required": {}
          }
        },
        "hostnames": {
          "target": "com.cloudflare.magic_transit#AppsCreateResponseHostnamesList",
          "traits": {
            "smithy.api#documentation": "FQDNs to associate with traffic decisions."
          }
        },
        "ip_subnets": {
          "target": "com.cloudflare.magic_transit#AppsCreateResponseIpSubnetsList",
          "traits": {
            "smithy.api#documentation": "IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are currently unsupported)"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the app."
          }
        },
        "source_subnets": {
          "target": "com.cloudflare.magic_transit#AppsCreateResponseSourceSubnetsList",
          "traits": {
            "smithy.api#documentation": "IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are currently unsupported)"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Category of the app."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_transit#AppsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#AppsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#AppsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/magic/apps",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new App for an account"
      }
    },
    "com.cloudflare.magic_transit#AppsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#AppsDeleteResponseHostnamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsDeleteResponseIpSubnetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsDeleteResponseSourceSubnetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsDeleteResponse": {
      "type": "structure",
      "members": {
        "account_app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Magic account app ID.",
            "smithy.api#required": {}
          }
        },
        "hostnames": {
          "target": "com.cloudflare.magic_transit#AppsDeleteResponseHostnamesList",
          "traits": {
            "smithy.api#documentation": "FQDNs to associate with traffic decisions."
          }
        },
        "ip_subnets": {
          "target": "com.cloudflare.magic_transit#AppsDeleteResponseIpSubnetsList",
          "traits": {
            "smithy.api#documentation": "IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are currently unsupported)"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the app."
          }
        },
        "source_subnets": {
          "target": "com.cloudflare.magic_transit#AppsDeleteResponseSourceSubnetsList",
          "traits": {
            "smithy.api#documentation": "IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are currently unsupported)"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Category of the app."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_transit#AppsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#AppsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#AppsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/magic/apps/{account_app_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes specific Account App.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.magic_transit#AppsEditRequestHostnamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsEditRequestIpSubnetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsEditRequestSourceSubnetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsEditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "hostnames": {
          "target": "com.cloudflare.magic_transit#AppsEditRequestHostnamesList",
          "traits": {
            "smithy.api#documentation": "FQDNs to associate with traffic decisions."
          }
        },
        "ip_subnets": {
          "target": "com.cloudflare.magic_transit#AppsEditRequestIpSubnetsList",
          "traits": {
            "smithy.api#documentation": "IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are currently unsupported)"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the app."
          }
        },
        "source_subnets": {
          "target": "com.cloudflare.magic_transit#AppsEditRequestSourceSubnetsList",
          "traits": {
            "smithy.api#documentation": "IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are currently unsupported)"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Category of the app."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#AppsEditResponseHostnamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsEditResponseIpSubnetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsEditResponseSourceSubnetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsEditResponse": {
      "type": "structure",
      "members": {
        "account_app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Magic account app ID.",
            "smithy.api#required": {}
          }
        },
        "hostnames": {
          "target": "com.cloudflare.magic_transit#AppsEditResponseHostnamesList",
          "traits": {
            "smithy.api#documentation": "FQDNs to associate with traffic decisions."
          }
        },
        "ip_subnets": {
          "target": "com.cloudflare.magic_transit#AppsEditResponseIpSubnetsList",
          "traits": {
            "smithy.api#documentation": "IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are currently unsupported)"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the app."
          }
        },
        "source_subnets": {
          "target": "com.cloudflare.magic_transit#AppsEditResponseSourceSubnetsList",
          "traits": {
            "smithy.api#documentation": "IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are currently unsupported)"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Category of the app."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_transit#AppsEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#AppsEditRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#AppsEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/magic/apps/{account_app_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates an Account App"
      }
    },
    "com.cloudflare.magic_transit#AppsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#AppsListResultItemMagicAccountAppHostnamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsListResultItemMagicAccountAppIpSubnetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsListResultItemMagicAccountAppSourceSubnetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsListResultItemMagicAccountApp": {
      "type": "structure",
      "members": {
        "account_app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Magic account app ID.",
            "smithy.api#required": {}
          }
        },
        "hostnames": {
          "target": "com.cloudflare.magic_transit#AppsListResultItemMagicAccountAppHostnamesList",
          "traits": {
            "smithy.api#documentation": "FQDNs to associate with traffic decisions."
          }
        },
        "ip_subnets": {
          "target": "com.cloudflare.magic_transit#AppsListResultItemMagicAccountAppIpSubnetsList",
          "traits": {
            "smithy.api#documentation": "IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are currently unsupported)"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the app."
          }
        },
        "source_subnets": {
          "target": "com.cloudflare.magic_transit#AppsListResultItemMagicAccountAppSourceSubnetsList",
          "traits": {
            "smithy.api#documentation": "IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are currently unsupported)"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Category of the app."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#AppsListResultItemMagicManagedAppHostnamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsListResultItemMagicManagedAppIpSubnetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsListResultItemMagicManagedAppSourceSubnetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsListResultItemMagicManagedApp": {
      "type": "structure",
      "members": {
        "managed_app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Managed app ID.",
            "smithy.api#required": {}
          }
        },
        "hostnames": {
          "target": "com.cloudflare.magic_transit#AppsListResultItemMagicManagedAppHostnamesList",
          "traits": {
            "smithy.api#documentation": "FQDNs to associate with traffic decisions."
          }
        },
        "ip_subnets": {
          "target": "com.cloudflare.magic_transit#AppsListResultItemMagicManagedAppIpSubnetsList",
          "traits": {
            "smithy.api#documentation": "IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are currently unsupported)"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the app."
          }
        },
        "source_subnets": {
          "target": "com.cloudflare.magic_transit#AppsListResultItemMagicManagedAppSourceSubnetsList",
          "traits": {
            "smithy.api#documentation": "IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are currently unsupported)"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Category of the app."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#AppsListResultItem": {
      "type": "union",
      "members": {
        "MagicAccountApp": {
          "target": "com.cloudflare.magic_transit#AppsListResultItemMagicAccountApp"
        },
        "MagicManagedApp": {
          "target": "com.cloudflare.magic_transit#AppsListResultItemMagicManagedApp"
        }
      }
    },
    "com.cloudflare.magic_transit#AppsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.magic_transit#AppsListResultItem"
      }
    },
    "com.cloudflare.magic_transit#AppsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.magic_transit#AppsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.magic_transit#AppsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#AppsListRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#AppsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/magic/apps",
          "code": 200
        },
        "smithy.api#documentation": "Lists Apps associated with an account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.magic_transit#AppsUpdateRequestHostnamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsUpdateRequestIpSubnetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsUpdateRequestSourceSubnetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "hostnames": {
          "target": "com.cloudflare.magic_transit#AppsUpdateRequestHostnamesList",
          "traits": {
            "smithy.api#documentation": "FQDNs to associate with traffic decisions."
          }
        },
        "ip_subnets": {
          "target": "com.cloudflare.magic_transit#AppsUpdateRequestIpSubnetsList",
          "traits": {
            "smithy.api#documentation": "IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are currently unsupported)"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the app."
          }
        },
        "source_subnets": {
          "target": "com.cloudflare.magic_transit#AppsUpdateRequestSourceSubnetsList",
          "traits": {
            "smithy.api#documentation": "IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are currently unsupported)"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Category of the app."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#AppsUpdateResponseHostnamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsUpdateResponseIpSubnetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsUpdateResponseSourceSubnetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.magic_transit#AppsUpdateResponse": {
      "type": "structure",
      "members": {
        "account_app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Magic account app ID.",
            "smithy.api#required": {}
          }
        },
        "hostnames": {
          "target": "com.cloudflare.magic_transit#AppsUpdateResponseHostnamesList",
          "traits": {
            "smithy.api#documentation": "FQDNs to associate with traffic decisions."
          }
        },
        "ip_subnets": {
          "target": "com.cloudflare.magic_transit#AppsUpdateResponseIpSubnetsList",
          "traits": {
            "smithy.api#documentation": "IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are currently unsupported)"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the app."
          }
        },
        "source_subnets": {
          "target": "com.cloudflare.magic_transit#AppsUpdateResponseSourceSubnetsList",
          "traits": {
            "smithy.api#documentation": "IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are currently unsupported)"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Category of the app."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_transit#AppsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#AppsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#AppsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/magic/apps/{account_app_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates an Account App",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesCreateRequestBodyItemLocation": {
      "type": "structure",
      "members": {
        "lat": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Latitude of the CF1 Site."
          }
        },
        "long": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Longitude of the CF1 Site."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of nearest town, city, or village."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesCreateRequestBodyItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-provided name describing the CF1 Site that should be unique within the account.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-provided description of the CF1 Site."
          }
        },
        "location": {
          "target": "com.cloudflare.magic_transit#Cf1SitesCreateRequestBodyItemLocation"
        },
        "modified_on": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesCreateRequestBodyList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.magic_transit#Cf1SitesCreateRequestBodyItem"
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.magic_transit#Cf1SitesCreateRequestBodyList",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesCreateResultItemLocation": {
      "type": "structure",
      "members": {
        "lat": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Latitude of the CF1 Site."
          }
        },
        "long": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Longitude of the CF1 Site."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of nearest town, city, or village."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesCreateResultItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-provided name describing the CF1 Site that should be unique within the account.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-provided description of the CF1 Site."
          }
        },
        "location": {
          "target": "com.cloudflare.magic_transit#Cf1SitesCreateResultItemLocation"
        },
        "modified_on": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesCreateResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.magic_transit#Cf1SitesCreateResultItem"
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.magic_transit#Cf1SitesCreateResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#Cf1SitesCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#Cf1SitesCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/magic/cf1_sites",
          "code": 200
        },
        "smithy.api#documentation": "Creates new CF1 Sites for an account. Each site must have a unique name within the account."
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cf1_site_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesDeleteResponseLocation": {
      "type": "structure",
      "members": {
        "lat": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Latitude of the CF1 Site."
          }
        },
        "long": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Longitude of the CF1 Site."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of nearest town, city, or village."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesDeleteResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-provided name describing the CF1 Site that should be unique within the account.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-provided description of the CF1 Site."
          }
        },
        "location": {
          "target": "com.cloudflare.magic_transit#Cf1SitesDeleteResponseLocation"
        },
        "modified_on": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#Cf1SitesDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#Cf1SitesDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/magic/cf1_sites/{cf1_site_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes a specific CF1 Site for an account.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cf1_site_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesGetResponseLocation": {
      "type": "structure",
      "members": {
        "lat": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Latitude of the CF1 Site."
          }
        },
        "long": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Longitude of the CF1 Site."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of nearest town, city, or village."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesGetResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-provided name describing the CF1 Site that should be unique within the account.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-provided description of the CF1 Site."
          }
        },
        "location": {
          "target": "com.cloudflare.magic_transit#Cf1SitesGetResponseLocation"
        },
        "modified_on": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#Cf1SitesGetRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#Cf1SitesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/magic/cf1_sites/{cf1_site_id}",
          "code": 200
        },
        "smithy.api#documentation": "Gets a specific CF1 Site for an account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesListResultItemLocation": {
      "type": "structure",
      "members": {
        "lat": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Latitude of the CF1 Site."
          }
        },
        "long": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Longitude of the CF1 Site."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of nearest town, city, or village."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesListResultItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-provided name describing the CF1 Site that should be unique within the account.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-provided description of the CF1 Site."
          }
        },
        "location": {
          "target": "com.cloudflare.magic_transit#Cf1SitesListResultItemLocation"
        },
        "modified_on": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.magic_transit#Cf1SitesListResultItem"
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.magic_transit#Cf1SitesListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#Cf1SitesListRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#Cf1SitesListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/magic/cf1_sites",
          "code": 200
        },
        "smithy.api#documentation": "Lists CF1 Sites associated with an account. A CF1 Site represents a physical customer network location with optional geographic coordinates.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesUpdateRequestLocation": {
      "type": "structure",
      "members": {
        "lat": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Latitude of the CF1 Site."
          }
        },
        "long": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Longitude of the CF1 Site."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of nearest town, city, or village."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cf1_site_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-provided description of the CF1 Site."
          }
        },
        "location": {
          "target": "com.cloudflare.magic_transit#Cf1SitesUpdateRequestLocation"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-provided name describing the CF1 Site that should be unique within the account."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesUpdateResponseLocation": {
      "type": "structure",
      "members": {
        "lat": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Latitude of the CF1 Site."
          }
        },
        "long": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Longitude of the CF1 Site."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of nearest town, city, or village."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesUpdateResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-provided name describing the CF1 Site that should be unique within the account.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-provided description of the CF1 Site."
          }
        },
        "location": {
          "target": "com.cloudflare.magic_transit#Cf1SitesUpdateResponseLocation"
        },
        "modified_on": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#Cf1SitesUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#Cf1SitesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/magic/cf1_sites/{cf1_site_id}",
          "code": 200
        },
        "smithy.api#documentation": "Partially updates a specific CF1 Site for an account. Only the fields included in the request body are modified; omitted fields retain their existing values."
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsCreateRequestBodyItemType": {
      "type": "enum",
      "members": {
        "GRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gre"
          }
        },
        "GRE_INTERCONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gre_interconnect"
          }
        },
        "MPLS_INTERCONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mpls_interconnect"
          }
        },
        "MCONN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mconn"
          }
        },
        "IPSEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipsec"
          }
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsCreateRequestBodyItem": {
      "type": "structure",
      "members": {
        "source_ramp_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the source network resource to associate as a ramp.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.magic_transit#Cf1SitesRampsCreateRequestBodyItemType",
          "traits": {
            "smithy.api#documentation": "The type of network connection (ramp) linking a CF1 Site to Cloudflare's network.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsCreateRequestBodyList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.magic_transit#Cf1SitesRampsCreateRequestBodyItem"
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cf1_site_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.magic_transit#Cf1SitesRampsCreateRequestBodyList",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsCreateResultItemType": {
      "type": "enum",
      "members": {
        "GRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gre"
          }
        },
        "GRE_INTERCONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gre_interconnect"
          }
        },
        "MPLS_INTERCONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mpls_interconnect"
          }
        },
        "MCONN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mconn"
          }
        },
        "IPSEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipsec"
          }
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsCreateResultItemGre": {
      "type": "structure",
      "members": {
        "managed_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL reference to the source network resource that this ramp is managed by."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsCreateResultItemGreInterconnect": {
      "type": "structure",
      "members": {
        "managed_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL reference to the source network resource that this ramp is managed by."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsCreateResultItemIpsec": {
      "type": "structure",
      "members": {
        "managed_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL reference to the source network resource that this ramp is managed by."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsCreateResultItemMconn": {
      "type": "structure",
      "members": {
        "managed_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL reference to the source network resource that this ramp is managed by."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsCreateResultItemMplsInterconnect": {
      "type": "structure",
      "members": {
        "managed_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL reference to the source network resource that this ramp is managed by."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsCreateResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-provided name describing the ramp that should be unique within the CF1 Site.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.magic_transit#Cf1SitesRampsCreateResultItemType",
          "traits": {
            "smithy.api#documentation": "The type of network connection (ramp) linking a CF1 Site to Cloudflare's network.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-provided description of the ramp."
          }
        },
        "gre": {
          "target": "com.cloudflare.magic_transit#Cf1SitesRampsCreateResultItemGre"
        },
        "gre_interconnect": {
          "target": "com.cloudflare.magic_transit#Cf1SitesRampsCreateResultItemGreInterconnect"
        },
        "ipsec": {
          "target": "com.cloudflare.magic_transit#Cf1SitesRampsCreateResultItemIpsec"
        },
        "mconn": {
          "target": "com.cloudflare.magic_transit#Cf1SitesRampsCreateResultItemMconn"
        },
        "mpls_interconnect": {
          "target": "com.cloudflare.magic_transit#Cf1SitesRampsCreateResultItemMplsInterconnect"
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsCreateResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.magic_transit#Cf1SitesRampsCreateResultItem"
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.magic_transit#Cf1SitesRampsCreateResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#Cf1SitesRampsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#Cf1SitesRampsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/magic/cf1_sites/{cf1_site_id}/ramps",
          "code": 200
        },
        "smithy.api#documentation": "Creates ramps (network connections) for a CF1 Site."
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cf1_site_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ramp_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsDeleteResponseType": {
      "type": "enum",
      "members": {
        "GRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gre"
          }
        },
        "GRE_INTERCONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gre_interconnect"
          }
        },
        "MPLS_INTERCONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mpls_interconnect"
          }
        },
        "MCONN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mconn"
          }
        },
        "IPSEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipsec"
          }
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsDeleteResponseGre": {
      "type": "structure",
      "members": {
        "managed_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL reference to the source network resource that this ramp is managed by."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsDeleteResponseGreInterconnect": {
      "type": "structure",
      "members": {
        "managed_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL reference to the source network resource that this ramp is managed by."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsDeleteResponseIpsec": {
      "type": "structure",
      "members": {
        "managed_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL reference to the source network resource that this ramp is managed by."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsDeleteResponseMconn": {
      "type": "structure",
      "members": {
        "managed_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL reference to the source network resource that this ramp is managed by."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsDeleteResponseMplsInterconnect": {
      "type": "structure",
      "members": {
        "managed_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL reference to the source network resource that this ramp is managed by."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-provided name describing the ramp that should be unique within the CF1 Site.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.magic_transit#Cf1SitesRampsDeleteResponseType",
          "traits": {
            "smithy.api#documentation": "The type of network connection (ramp) linking a CF1 Site to Cloudflare's network.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-provided description of the ramp."
          }
        },
        "gre": {
          "target": "com.cloudflare.magic_transit#Cf1SitesRampsDeleteResponseGre"
        },
        "gre_interconnect": {
          "target": "com.cloudflare.magic_transit#Cf1SitesRampsDeleteResponseGreInterconnect"
        },
        "ipsec": {
          "target": "com.cloudflare.magic_transit#Cf1SitesRampsDeleteResponseIpsec"
        },
        "mconn": {
          "target": "com.cloudflare.magic_transit#Cf1SitesRampsDeleteResponseMconn"
        },
        "mpls_interconnect": {
          "target": "com.cloudflare.magic_transit#Cf1SitesRampsDeleteResponseMplsInterconnect"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#Cf1SitesRampsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#Cf1SitesRampsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/magic/cf1_sites/{cf1_site_id}/ramps/{ramp_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes a specific ramp from a CF1 Site.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cf1_site_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ramp_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsGetResponseType": {
      "type": "enum",
      "members": {
        "GRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gre"
          }
        },
        "GRE_INTERCONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gre_interconnect"
          }
        },
        "MPLS_INTERCONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mpls_interconnect"
          }
        },
        "MCONN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mconn"
          }
        },
        "IPSEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipsec"
          }
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsGetResponseGre": {
      "type": "structure",
      "members": {
        "managed_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL reference to the source network resource that this ramp is managed by."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsGetResponseGreInterconnect": {
      "type": "structure",
      "members": {
        "managed_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL reference to the source network resource that this ramp is managed by."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsGetResponseIpsec": {
      "type": "structure",
      "members": {
        "managed_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL reference to the source network resource that this ramp is managed by."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsGetResponseMconn": {
      "type": "structure",
      "members": {
        "managed_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL reference to the source network resource that this ramp is managed by."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsGetResponseMplsInterconnect": {
      "type": "structure",
      "members": {
        "managed_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL reference to the source network resource that this ramp is managed by."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-provided name describing the ramp that should be unique within the CF1 Site.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.magic_transit#Cf1SitesRampsGetResponseType",
          "traits": {
            "smithy.api#documentation": "The type of network connection (ramp) linking a CF1 Site to Cloudflare's network.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-provided description of the ramp."
          }
        },
        "gre": {
          "target": "com.cloudflare.magic_transit#Cf1SitesRampsGetResponseGre"
        },
        "gre_interconnect": {
          "target": "com.cloudflare.magic_transit#Cf1SitesRampsGetResponseGreInterconnect"
        },
        "ipsec": {
          "target": "com.cloudflare.magic_transit#Cf1SitesRampsGetResponseIpsec"
        },
        "mconn": {
          "target": "com.cloudflare.magic_transit#Cf1SitesRampsGetResponseMconn"
        },
        "mpls_interconnect": {
          "target": "com.cloudflare.magic_transit#Cf1SitesRampsGetResponseMplsInterconnect"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#Cf1SitesRampsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#Cf1SitesRampsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/magic/cf1_sites/{cf1_site_id}/ramps/{ramp_id}",
          "code": 200
        },
        "smithy.api#documentation": "Gets a specific ramp for a CF1 Site.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cf1_site_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsListResultItemType": {
      "type": "enum",
      "members": {
        "GRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gre"
          }
        },
        "GRE_INTERCONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gre_interconnect"
          }
        },
        "MPLS_INTERCONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mpls_interconnect"
          }
        },
        "MCONN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mconn"
          }
        },
        "IPSEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ipsec"
          }
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsListResultItemGre": {
      "type": "structure",
      "members": {
        "managed_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL reference to the source network resource that this ramp is managed by."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsListResultItemGreInterconnect": {
      "type": "structure",
      "members": {
        "managed_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL reference to the source network resource that this ramp is managed by."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsListResultItemIpsec": {
      "type": "structure",
      "members": {
        "managed_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL reference to the source network resource that this ramp is managed by."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsListResultItemMconn": {
      "type": "structure",
      "members": {
        "managed_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL reference to the source network resource that this ramp is managed by."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsListResultItemMplsInterconnect": {
      "type": "structure",
      "members": {
        "managed_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL reference to the source network resource that this ramp is managed by."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-provided name describing the ramp that should be unique within the CF1 Site.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.magic_transit#Cf1SitesRampsListResultItemType",
          "traits": {
            "smithy.api#documentation": "The type of network connection (ramp) linking a CF1 Site to Cloudflare's network.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-provided description of the ramp."
          }
        },
        "gre": {
          "target": "com.cloudflare.magic_transit#Cf1SitesRampsListResultItemGre"
        },
        "gre_interconnect": {
          "target": "com.cloudflare.magic_transit#Cf1SitesRampsListResultItemGreInterconnect"
        },
        "ipsec": {
          "target": "com.cloudflare.magic_transit#Cf1SitesRampsListResultItemIpsec"
        },
        "mconn": {
          "target": "com.cloudflare.magic_transit#Cf1SitesRampsListResultItemMconn"
        },
        "mpls_interconnect": {
          "target": "com.cloudflare.magic_transit#Cf1SitesRampsListResultItemMplsInterconnect"
        }
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.magic_transit#Cf1SitesRampsListResultItem"
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.magic_transit#Cf1SitesRampsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.magic_transit#Cf1SitesRampsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#Cf1SitesRampsListRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#Cf1SitesRampsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/magic/cf1_sites/{cf1_site_id}/ramps",
          "code": 200
        },
        "smithy.api#documentation": "Lists ramps (network connections) associated with a CF1 Site. Ramps represent GRE tunnels, IPsec tunnels, interconnects, or MCONN links.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsBulkUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "x_magic_new_hc_target": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpHeader": "x-magic-new-hc-target"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsBulkUpdateResponseModifiedInterconnectsItemGre": {
      "type": "structure",
      "members": {
        "cloudflare_endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address assigned to the Cloudflare side of the GRE tunnel created as part of the Interconnect."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsBulkUpdateResponseModifiedInterconnectsItemHealthCheckRate": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mid"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        }
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsBulkUpdateResponseModifiedInterconnectsItemHealthCheckTargetMagicHealthCheckTarget": {
      "type": "structure",
      "members": {
        "effective": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective health check target. If 'saved' is empty, then this field will be populated with the calculated default value on GET requests. Ignored in POST, PUT, and PATCH requests."
          }
        },
        "saved": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The saved health check target. Setting the value to the empty string indicates that the calculated default value will be used."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsBulkUpdateResponseModifiedInterconnectsItemHealthCheckTarget": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "MagicHealthCheckTarget": {
          "target": "com.cloudflare.magic_transit#CfInterconnectsBulkUpdateResponseModifiedInterconnectsItemHealthCheckTargetMagicHealthCheckTarget"
        }
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsBulkUpdateResponseModifiedInterconnectsItemHealthCheckType": {
      "type": "enum",
      "members": {
        "REPLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reply"
          }
        },
        "REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "request"
          }
        }
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsBulkUpdateResponseModifiedInterconnectsItemHealthCheck": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines whether to run healthchecks for a tunnel."
          }
        },
        "rate": {
          "target": "com.cloudflare.magic_transit#CfInterconnectsBulkUpdateResponseModifiedInterconnectsItemHealthCheckRate",
          "traits": {
            "smithy.api#documentation": "How frequent the health check is run. The default value is `mid`."
          }
        },
        "target": {
          "target": "com.cloudflare.magic_transit#CfInterconnectsBulkUpdateResponseModifiedInterconnectsItemHealthCheckTarget",
          "traits": {
            "smithy.api#documentation": "The destination address in a request type health check. After the healthcheck is decapsulated at the customer end of the tunnel, the ICMP echo will be forwarded to this address. This field defaults to `customer_gre_endpoint address`. This field is ignored for bidirectional healthchecks as the interface_address (not assigned to the Cloudflare side of the tunnel) is used as the target. Must be in object form if the x-magic-new-hc-target header is set to true and string form if x-magic-new-hc-target is absent or set to false."
          }
        },
        "type": {
          "target": "com.cloudflare.magic_transit#CfInterconnectsBulkUpdateResponseModifiedInterconnectsItemHealthCheckType",
          "traits": {
            "smithy.api#documentation": "The type of healthcheck to run, reply or request. The default value is `reply`."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsBulkUpdateResponseModifiedInterconnectsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        },
        "automatic_return_routing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if automatic stateful return routing should be enabled for a tunnel, false otherwise. Requires the `coupler_integration` account flag to be enabled; requests setting this to `true` without that flag will be rejected."
          }
        },
        "colo_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the interconnect. The name cannot share a name with other tunnels."
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the tunnel was created."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional description of the interconnect."
          }
        },
        "gre": {
          "target": "com.cloudflare.magic_transit#CfInterconnectsBulkUpdateResponseModifiedInterconnectsItemGre",
          "traits": {
            "smithy.api#documentation": "The configuration specific to GRE interconnects."
          }
        },
        "health_check": {
          "target": "com.cloudflare.magic_transit#CfInterconnectsBulkUpdateResponseModifiedInterconnectsItemHealthCheck"
        },
        "interface_address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A 31-bit prefix (/31 in CIDR notation) supporting two hosts, one for each side of the tunnel. Select the subnet from the following private IP space: 10.0.0.0–10.255.255.255, 172.16.0.0–172.31.255.255, 192.168.0.0–192.168.255.255."
          }
        },
        "interface_address6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A 127 bit IPV6 prefix from within the virtual_subnet6 prefix space with the address being the first IP of the subnet and not same as the address of virtual_subnet6. Eg if virtual_subnet6 is 2606:54c1:7:0:a9fe:12d2::/127 , interface_address6 could be 2606:54c1:7:0:a9fe:12d2:1:200/127"
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the tunnel was last modified."
          }
        },
        "mtu": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The Maximum Transmission Unit (MTU) in bytes for the interconnect. The minimum value is 576."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the interconnect. The name cannot share a name with other tunnels."
          }
        },
        "virtual_port_reservation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier that correlates this interconnect with the corresponding V2 CNI interconnect resource."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsBulkUpdateResponseModifiedInterconnectsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.magic_transit#CfInterconnectsBulkUpdateResponseModifiedInterconnectsItem"
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsBulkUpdateResponse": {
      "type": "structure",
      "members": {
        "modified": {
          "target": "smithy.api#Boolean"
        },
        "modified_interconnects": {
          "target": "com.cloudflare.magic_transit#CfInterconnectsBulkUpdateResponseModifiedInterconnectsList"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsBulkUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#CfInterconnectsBulkUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#CfInterconnectsBulkUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/magic/cf_interconnects",
          "code": 200
        },
        "smithy.api#documentation": "Updates multiple interconnects associated with an account. Use `?validate_only=true` as an optional query parameter to only run validation without persisting changes.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cf_interconnect_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "x_magic_new_hc_target": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpHeader": "x-magic-new-hc-target"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsGetResponseInterconnectGre": {
      "type": "structure",
      "members": {
        "cloudflare_endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address assigned to the Cloudflare side of the GRE tunnel created as part of the Interconnect."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsGetResponseInterconnectHealthCheckRate": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mid"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        }
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsGetResponseInterconnectHealthCheckTargetMagicHealthCheckTarget": {
      "type": "structure",
      "members": {
        "effective": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective health check target. If 'saved' is empty, then this field will be populated with the calculated default value on GET requests. Ignored in POST, PUT, and PATCH requests."
          }
        },
        "saved": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The saved health check target. Setting the value to the empty string indicates that the calculated default value will be used."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsGetResponseInterconnectHealthCheckTarget": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "MagicHealthCheckTarget": {
          "target": "com.cloudflare.magic_transit#CfInterconnectsGetResponseInterconnectHealthCheckTargetMagicHealthCheckTarget"
        }
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsGetResponseInterconnectHealthCheckType": {
      "type": "enum",
      "members": {
        "REPLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reply"
          }
        },
        "REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "request"
          }
        }
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsGetResponseInterconnectHealthCheck": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines whether to run healthchecks for a tunnel."
          }
        },
        "rate": {
          "target": "com.cloudflare.magic_transit#CfInterconnectsGetResponseInterconnectHealthCheckRate",
          "traits": {
            "smithy.api#documentation": "How frequent the health check is run. The default value is `mid`."
          }
        },
        "target": {
          "target": "com.cloudflare.magic_transit#CfInterconnectsGetResponseInterconnectHealthCheckTarget",
          "traits": {
            "smithy.api#documentation": "The destination address in a request type health check. After the healthcheck is decapsulated at the customer end of the tunnel, the ICMP echo will be forwarded to this address. This field defaults to `customer_gre_endpoint address`. This field is ignored for bidirectional healthchecks as the interface_address (not assigned to the Cloudflare side of the tunnel) is used as the target. Must be in object form if the x-magic-new-hc-target header is set to true and string form if x-magic-new-hc-target is absent or set to false."
          }
        },
        "type": {
          "target": "com.cloudflare.magic_transit#CfInterconnectsGetResponseInterconnectHealthCheckType",
          "traits": {
            "smithy.api#documentation": "The type of healthcheck to run, reply or request. The default value is `reply`."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsGetResponseInterconnect": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        },
        "automatic_return_routing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if automatic stateful return routing should be enabled for a tunnel, false otherwise. Requires the `coupler_integration` account flag to be enabled; requests setting this to `true` without that flag will be rejected."
          }
        },
        "colo_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the interconnect. The name cannot share a name with other tunnels."
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the tunnel was created."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional description of the interconnect."
          }
        },
        "gre": {
          "target": "com.cloudflare.magic_transit#CfInterconnectsGetResponseInterconnectGre",
          "traits": {
            "smithy.api#documentation": "The configuration specific to GRE interconnects."
          }
        },
        "health_check": {
          "target": "com.cloudflare.magic_transit#CfInterconnectsGetResponseInterconnectHealthCheck"
        },
        "interface_address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A 31-bit prefix (/31 in CIDR notation) supporting two hosts, one for each side of the tunnel. Select the subnet from the following private IP space: 10.0.0.0–10.255.255.255, 172.16.0.0–172.31.255.255, 192.168.0.0–192.168.255.255."
          }
        },
        "interface_address6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A 127 bit IPV6 prefix from within the virtual_subnet6 prefix space with the address being the first IP of the subnet and not same as the address of virtual_subnet6. Eg if virtual_subnet6 is 2606:54c1:7:0:a9fe:12d2::/127 , interface_address6 could be 2606:54c1:7:0:a9fe:12d2:1:200/127"
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the tunnel was last modified."
          }
        },
        "mtu": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The Maximum Transmission Unit (MTU) in bytes for the interconnect. The minimum value is 576."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the interconnect. The name cannot share a name with other tunnels."
          }
        },
        "virtual_port_reservation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier that correlates this interconnect with the corresponding V2 CNI interconnect resource."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsGetResponse": {
      "type": "structure",
      "members": {
        "interconnect": {
          "target": "com.cloudflare.magic_transit#CfInterconnectsGetResponseInterconnect"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_transit#CfInterconnectsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_transit#CfInterconnectsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/magic/cf_interconnects/{cf_interconnect_id}",
          "code": 200
        },
        "smithy.api#documentation": "Lists details for a specific interconnect.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "x_magic_new_hc_target": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpHeader": "x-magic-new-hc-target"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsListResponseInterconnectsItemGre": {
      "type": "structure",
      "members": {
        "cloudflare_endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address assigned to the Cloudflare side of the GRE tunnel created as part of the Interconnect."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsListResponseInterconnectsItemHealthCheckRate": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mid"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        }
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsListResponseInterconnectsItemHealthCheckTargetMagicHealthCheckTarget": {
      "type": "structure",
      "members": {
        "effective": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective health check target. If 'saved' is empty, then this field will be populated with the calculated default value on GET requests. Ignored in POST, PUT, and PATCH requests."
          }
        },
        "saved": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The saved health check target. Setting the value to the empty string indicates that the calculated default value will be used."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsListResponseInterconnectsItemHealthCheckTarget": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "MagicHealthCheckTarget": {
          "target": "com.cloudflare.magic_transit#CfInterconnectsListResponseInterconnectsItemHealthCheckTargetMagicHealthCheckTarget"
        }
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsListResponseInterconnectsItemHealthCheckType": {
      "type": "enum",
      "members": {
        "REPLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reply"
          }
        },
        "REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "request"
          }
        }
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsListResponseInterconnectsItemHealthCheck": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines whether to run healthchecks for a tunnel."
          }
        },
        "rate": {
          "target": "com.cloudflare.magic_transit#CfInterconnectsListResponseInterconnectsItemHealthCheckRate",
          "traits": {
            "smithy.api#documentation": "How frequent the health check is run. The default value is `mid`."
          }
        },
        "target": {
          "target": "com.cloudflare.magic_transit#CfInterconnectsListResponseInterconnectsItemHealthCheckTarget",
          "traits": {
            "smithy.api#documentation": "The destination address in a request type health check. After the healthcheck is decapsulated at the customer end of the tunnel, the ICMP echo will be forwarded to this address. This field defaults to `customer_gre_endpoint address`. This field is ignored for bidirectional healthchecks as the interface_address (not assigned to the Cloudflare side of the tunnel) is used as the target. Must be in object form if the x-magic-new-hc-target header is set to true and string form if x-magic-new-hc-target is absent or set to false."
          }
        },
        "type": {
          "target": "com.cloudflare.magic_transit#CfInterconnectsListResponseInterconnectsItemHealthCheckType",
          "traits": {
            "smithy.api#documentation": "The type of healthcheck to run, reply or request. The default value is `reply`."
          }
        }
      }
    },
    "com.cloudflare.magic_transit#CfInterconnectsListResponseInterconnectsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier"
          }
        },
        "automatic_return_routing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if automatic stateful return routing should be enabled for a tunnel, false otherwise. Requires the `coupler_integration` account flag to be enabled; requests setting this to `true` without that flag will be rejected."
          }
        },
        "colo_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the interconnect. The name cannot share a name with other tunnels."
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the tunnel was created."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional description of the interconnect."
          }
        },
        "gre": {
          "target": "com.cloudflare.magic_transit#CfInterconnectsListResponseInterconnectsItemGre",
          "traits": {
            "smithy.api#documentation": "The configuration specific to GRE interconnects."
          }
        },
        "health_check": {
          "target": "com.cloudflare.magic_transit#CfInterconnectsListResponseInterconnectsItemHealthCheck"
        },
        "interface_address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A 31-bit prefix (/31 in CIDR notation) supporting two hosts, one for each side of the tunnel. Select the subnet from the following private IP space: 10.0.0.0–10.255.255.255, 172.16.0.0–172.31.255.255, 192.168.0.0–192.168.255.255."
          }
        },
        "interface_address6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A 127 bit IPV6 prefix from within the virtual_subnet6 prefix space with the address being the first IP of the subnet and not same as the address of virtual_subnet6. Eg if virtual_subnet6 is 2606:54c1:7:0:a9fe:12d2::/127 , interface_address6 could be 2606:54c1:7:0:a9fe:12d2:1:200/127"
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the tunnel was last modified."
          }
        },
        "mtu": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The Maximum Transmission Unit (MTU) in bytes for the interconnect. The minimum value is 576."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
[...]
