{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateRequestDestinationType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "ZERO_TRUST_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZERO_TRUST_LIST"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateRequestUpdateMode": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "forwarded": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "forwarded"
          }
        },
        "destination_type": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateRequestDestinationType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "update_mode": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateRequestUpdateMode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "policy": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateResponseDestinationType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "ZERO_TRUST_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZERO_TRUST_LIST"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateResponseUpdateMode": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateResponseErrorsValueCode": {
      "type": "intEnum",
      "members": {
        "_1001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1001
          }
        },
        "_1002": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1002
          }
        },
        "_1003": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1003
          }
        },
        "_1004": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1004
          }
        },
        "_1005": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1005
          }
        },
        "_1006": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1006
          }
        },
        "_1007": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1007
          }
        },
        "_1008": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1008
          }
        },
        "_1009": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1009
          }
        },
        "_1010": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1010
          }
        },
        "_1011": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1011
          }
        },
        "_1012": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1012
          }
        },
        "_1013": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1013
          }
        },
        "_1014": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1014
          }
        },
        "_1015": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1015
          }
        },
        "_1016": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1016
          }
        },
        "_1017": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1017
          }
        },
        "_1018": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1018
          }
        },
        "_2001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2001
          }
        },
        "_2002": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2002
          }
        },
        "_2003": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2003
          }
        },
        "_2004": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2004
          }
        },
        "_2005": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2005
          }
        },
        "_2006": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2006
          }
        },
        "_2007": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2007
          }
        },
        "_2008": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2008
          }
        },
        "_2009": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2009
          }
        },
        "_2010": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2010
          }
        },
        "_2011": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2011
          }
        },
        "_2012": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2012
          }
        },
        "_2013": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2013
          }
        },
        "_2014": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2014
          }
        },
        "_2015": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2015
          }
        },
        "_2016": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2016
          }
        },
        "_2017": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2017
          }
        },
        "_2018": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2018
          }
        },
        "_2019": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2019
          }
        },
        "_2020": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2020
          }
        },
        "_2021": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2021
          }
        },
        "_2022": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2022
          }
        },
        "_3001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3001
          }
        },
        "_3002": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3002
          }
        },
        "_3003": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3003
          }
        },
        "_3004": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3004
          }
        },
        "_3005": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3005
          }
        },
        "_3006": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3006
          }
        },
        "_3007": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3007
          }
        },
        "_4001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4001
          }
        },
        "_4002": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4002
          }
        },
        "_4003": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4003
          }
        },
        "_4004": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4004
          }
        },
        "_4005": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4005
          }
        },
        "_4006": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4006
          }
        },
        "_4007": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4007
          }
        },
        "_4008": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4008
          }
        },
        "_4009": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4009
          }
        },
        "_4010": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4010
          }
        },
        "_4011": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4011
          }
        },
        "_4012": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4012
          }
        },
        "_4013": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4013
          }
        },
        "_4014": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4014
          }
        },
        "_4015": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4015
          }
        },
        "_4016": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4016
          }
        },
        "_4017": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4017
          }
        },
        "_4018": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4018
          }
        },
        "_4019": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4019
          }
        },
        "_4020": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4020
          }
        },
        "_4021": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4021
          }
        },
        "_4022": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4022
          }
        },
        "_4023": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4023
          }
        },
        "_5001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 5001
          }
        },
        "_5002": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 5002
          }
        },
        "_5003": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 5003
          }
        },
        "_5004": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 5004
          }
        },
        "_102000": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102000
          }
        },
        "_102001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102001
          }
        },
        "_102002": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102002
          }
        },
        "_102003": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102003
          }
        },
        "_102004": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102004
          }
        },
        "_102005": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102005
          }
        },
        "_102006": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102006
          }
        },
        "_102007": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102007
          }
        },
        "_102008": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102008
          }
        },
        "_102009": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102009
          }
        },
        "_102010": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102010
          }
        },
        "_102011": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102011
          }
        },
        "_102012": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102012
          }
        },
        "_102013": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102013
          }
        },
        "_102014": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102014
          }
        },
        "_102015": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102015
          }
        },
        "_102016": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102016
          }
        },
        "_102017": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102017
          }
        },
        "_102018": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102018
          }
        },
        "_102019": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102019
          }
        },
        "_102020": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102020
          }
        },
        "_102021": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102021
          }
        },
        "_102022": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102022
          }
        },
        "_102023": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102023
          }
        },
        "_102024": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102024
          }
        },
        "_102025": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102025
          }
        },
        "_102026": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102026
          }
        },
        "_102027": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102027
          }
        },
        "_102028": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102028
          }
        },
        "_102029": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102029
          }
        },
        "_102030": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102030
          }
        },
        "_102031": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102031
          }
        },
        "_102032": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102032
          }
        },
        "_102033": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102033
          }
        },
        "_102034": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102034
          }
        },
        "_102035": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102035
          }
        },
        "_102036": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102036
          }
        },
        "_102037": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102037
          }
        },
        "_102038": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102038
          }
        },
        "_102039": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102039
          }
        },
        "_102040": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102040
          }
        },
        "_102041": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102041
          }
        },
        "_102042": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102042
          }
        },
        "_102043": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102043
          }
        },
        "_102044": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102044
          }
        },
        "_102045": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102045
          }
        },
        "_102046": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102046
          }
        },
        "_102047": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102047
          }
        },
        "_102048": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102048
          }
        },
        "_102049": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102049
          }
        },
        "_102050": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102050
          }
        },
        "_102051": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102051
          }
        },
        "_102052": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102052
          }
        },
        "_102053": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102053
          }
        },
        "_102054": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102054
          }
        },
        "_102055": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102055
          }
        },
        "_102056": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102056
          }
        },
        "_102057": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102057
          }
        },
        "_102058": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102058
          }
        },
        "_102059": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102059
          }
        },
        "_102060": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102060
          }
        },
        "_102061": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102061
          }
        },
        "_102062": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102062
          }
        },
        "_102063": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102063
          }
        },
        "_102064": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102064
          }
        },
        "_102065": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102065
          }
        },
        "_102066": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102066
          }
        },
        "_102067": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102067
          }
        },
        "_102068": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102068
          }
        },
        "_102069": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102069
          }
        },
        "_102070": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102070
          }
        },
        "_102071": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102071
          }
        },
        "_102072": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102072
          }
        },
        "_103001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 103001
          }
        },
        "_103002": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 103002
          }
        },
        "_103003": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 103003
          }
        },
        "_103004": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 103004
          }
        },
        "_103005": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 103005
          }
        },
        "_103006": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 103006
          }
        },
        "_103007": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 103007
          }
        },
        "_103008": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 103008
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateResponseErrorsValueMeta": {
      "type": "structure",
      "members": {
        "l10n_key": {
          "target": "smithy.api#String"
        },
        "loggable_error": {
          "target": "smithy.api#String"
        },
        "template_data": {
          "target": "smithy.api#Document"
        },
        "trace_id": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateResponseErrorsValueSource": {
      "type": "structure",
      "members": {
        "parameter": {
          "target": "smithy.api#String"
        },
        "parameter_value_index": {
          "target": "smithy.api#Double"
        },
        "pointer": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateResponseErrorsValue": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateResponseErrorsValueCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "documentation_url": {
          "target": "smithy.api#String"
        },
        "meta": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateResponseErrorsValueMeta"
        },
        "source": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateResponseErrorsValueSource"
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateResponseErrorsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateResponseErrorsValue"
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "destination_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "destination_type": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateResponseDestinationType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_user_update_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "policy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "update_mode": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateResponseUpdateMode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "errors": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateResponseErrorsMap"
        },
        "includes_discoveries_until": {
          "target": "smithy.api#String"
        },
        "last_attempted_update_at": {
          "target": "smithy.api#String"
        },
        "last_successful_update_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/magic/cloud/catalog-syncs",
          "code": 200
        },
        "smithy.api#documentation": "Create a new Catalog Sync (Closed Beta)."
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "sync_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "delete_destination": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "delete_destination"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/magic/cloud/catalog-syncs/{sync_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a Catalog Sync (Closed Beta).",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsEditRequestUpdateMode": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsEditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "sync_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "policy": {
          "target": "smithy.api#String"
        },
        "update_mode": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsEditRequestUpdateMode"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsEditResponseDestinationType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "ZERO_TRUST_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZERO_TRUST_LIST"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsEditResponseUpdateMode": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsEditResponseErrorsValueCode": {
      "type": "intEnum",
      "members": {
        "_1001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1001
          }
        },
        "_1002": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1002
          }
        },
        "_1003": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1003
          }
        },
        "_1004": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1004
          }
        },
        "_1005": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1005
          }
        },
        "_1006": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1006
          }
        },
        "_1007": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1007
          }
        },
        "_1008": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1008
          }
        },
        "_1009": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1009
          }
        },
        "_1010": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1010
          }
        },
        "_1011": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1011
          }
        },
        "_1012": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1012
          }
        },
        "_1013": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1013
          }
        },
        "_1014": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1014
          }
        },
        "_1015": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1015
          }
        },
        "_1016": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1016
          }
        },
        "_1017": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1017
          }
        },
        "_1018": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1018
          }
        },
        "_2001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2001
          }
        },
        "_2002": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2002
          }
        },
        "_2003": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2003
          }
        },
        "_2004": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2004
          }
        },
        "_2005": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2005
          }
        },
        "_2006": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2006
          }
        },
        "_2007": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2007
          }
        },
        "_2008": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2008
          }
        },
        "_2009": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2009
          }
        },
        "_2010": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2010
          }
        },
        "_2011": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2011
          }
        },
        "_2012": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2012
          }
        },
        "_2013": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2013
          }
        },
        "_2014": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2014
          }
        },
        "_2015": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2015
          }
        },
        "_2016": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2016
          }
        },
        "_2017": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2017
          }
        },
        "_2018": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2018
          }
        },
        "_2019": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2019
          }
        },
        "_2020": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2020
          }
        },
        "_2021": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2021
          }
        },
        "_2022": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2022
          }
        },
        "_3001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3001
          }
        },
        "_3002": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3002
          }
        },
        "_3003": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3003
          }
        },
        "_3004": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3004
          }
        },
        "_3005": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3005
          }
        },
        "_3006": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3006
          }
        },
        "_3007": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3007
          }
        },
        "_4001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4001
          }
        },
        "_4002": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4002
          }
        },
        "_4003": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4003
          }
        },
        "_4004": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4004
          }
        },
        "_4005": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4005
          }
        },
        "_4006": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4006
          }
        },
        "_4007": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4007
          }
        },
        "_4008": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4008
          }
        },
        "_4009": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4009
          }
        },
        "_4010": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4010
          }
        },
        "_4011": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4011
          }
        },
        "_4012": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4012
          }
        },
        "_4013": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4013
          }
        },
        "_4014": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4014
          }
        },
        "_4015": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4015
          }
        },
        "_4016": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4016
          }
        },
        "_4017": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4017
          }
        },
        "_4018": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4018
          }
        },
        "_4019": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4019
          }
        },
        "_4020": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4020
          }
        },
        "_4021": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4021
          }
        },
        "_4022": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4022
          }
        },
        "_4023": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4023
          }
        },
        "_5001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 5001
          }
        },
        "_5002": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 5002
          }
        },
        "_5003": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 5003
          }
        },
        "_5004": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 5004
          }
        },
        "_102000": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102000
          }
        },
        "_102001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102001
          }
        },
        "_102002": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102002
          }
        },
        "_102003": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102003
          }
        },
        "_102004": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102004
          }
        },
        "_102005": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102005
          }
        },
        "_102006": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102006
          }
        },
        "_102007": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102007
          }
        },
        "_102008": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102008
          }
        },
        "_102009": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102009
          }
        },
        "_102010": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102010
          }
        },
        "_102011": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102011
          }
        },
        "_102012": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102012
          }
        },
        "_102013": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102013
          }
        },
        "_102014": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102014
          }
        },
        "_102015": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102015
          }
        },
        "_102016": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102016
          }
        },
        "_102017": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102017
          }
        },
        "_102018": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102018
          }
        },
        "_102019": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102019
          }
        },
        "_102020": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102020
          }
        },
        "_102021": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102021
          }
        },
        "_102022": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102022
          }
        },
        "_102023": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102023
          }
        },
        "_102024": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102024
          }
        },
        "_102025": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102025
          }
        },
        "_102026": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102026
          }
        },
        "_102027": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102027
          }
        },
        "_102028": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102028
          }
        },
        "_102029": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102029
          }
        },
        "_102030": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102030
          }
        },
        "_102031": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102031
          }
        },
        "_102032": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102032
          }
        },
        "_102033": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102033
          }
        },
        "_102034": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102034
          }
        },
        "_102035": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102035
          }
        },
        "_102036": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102036
          }
        },
        "_102037": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102037
          }
        },
        "_102038": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102038
          }
        },
        "_102039": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102039
          }
        },
        "_102040": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102040
          }
        },
        "_102041": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102041
          }
        },
        "_102042": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102042
          }
        },
        "_102043": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102043
          }
        },
        "_102044": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102044
          }
        },
        "_102045": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102045
          }
        },
        "_102046": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102046
          }
        },
        "_102047": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102047
          }
        },
        "_102048": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102048
          }
        },
        "_102049": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102049
          }
        },
        "_102050": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102050
          }
        },
        "_102051": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102051
          }
        },
        "_102052": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102052
          }
        },
        "_102053": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102053
          }
        },
        "_102054": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102054
          }
        },
        "_102055": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102055
          }
        },
        "_102056": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102056
          }
        },
        "_102057": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102057
          }
        },
        "_102058": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102058
          }
        },
        "_102059": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102059
          }
        },
        "_102060": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102060
          }
        },
        "_102061": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102061
          }
        },
        "_102062": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102062
          }
        },
        "_102063": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102063
          }
        },
        "_102064": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102064
          }
        },
        "_102065": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102065
          }
        },
        "_102066": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102066
          }
        },
        "_102067": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102067
          }
        },
        "_102068": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102068
          }
        },
        "_102069": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102069
          }
        },
        "_102070": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102070
          }
        },
        "_102071": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102071
          }
        },
        "_102072": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102072
          }
        },
        "_103001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 103001
          }
        },
        "_103002": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 103002
          }
        },
        "_103003": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 103003
          }
        },
        "_103004": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 103004
          }
        },
        "_103005": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 103005
          }
        },
        "_103006": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 103006
          }
        },
        "_103007": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 103007
          }
        },
        "_103008": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 103008
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsEditResponseErrorsValueMeta": {
      "type": "structure",
      "members": {
        "l10n_key": {
          "target": "smithy.api#String"
        },
        "loggable_error": {
          "target": "smithy.api#String"
        },
        "template_data": {
          "target": "smithy.api#Document"
        },
        "trace_id": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsEditResponseErrorsValueSource": {
      "type": "structure",
      "members": {
        "parameter": {
          "target": "smithy.api#String"
        },
        "parameter_value_index": {
          "target": "smithy.api#Double"
        },
        "pointer": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsEditResponseErrorsValue": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsEditResponseErrorsValueCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "documentation_url": {
          "target": "smithy.api#String"
        },
        "meta": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsEditResponseErrorsValueMeta"
        },
        "source": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsEditResponseErrorsValueSource"
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsEditResponseErrorsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsEditResponseErrorsValue"
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsEditResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "destination_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "destination_type": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsEditResponseDestinationType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_user_update_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "policy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "update_mode": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsEditResponseUpdateMode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "errors": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsEditResponseErrorsMap"
        },
        "includes_discoveries_until": {
          "target": "smithy.api#String"
        },
        "last_attempted_update_at": {
          "target": "smithy.api#String"
        },
        "last_successful_update_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsEditRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/magic/cloud/catalog-syncs/{sync_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update a Catalog Sync (Closed Beta)."
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "sync_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsGetResponseDestinationType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "ZERO_TRUST_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZERO_TRUST_LIST"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsGetResponseUpdateMode": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsGetResponseErrorsValueCode": {
      "type": "intEnum",
      "members": {
        "_1001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1001
          }
        },
        "_1002": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1002
          }
        },
        "_1003": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1003
          }
        },
        "_1004": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1004
          }
        },
        "_1005": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1005
          }
        },
        "_1006": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1006
          }
        },
        "_1007": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1007
          }
        },
        "_1008": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1008
          }
        },
        "_1009": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1009
          }
        },
        "_1010": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1010
          }
        },
        "_1011": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1011
          }
        },
        "_1012": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1012
          }
        },
        "_1013": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1013
          }
        },
        "_1014": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1014
          }
        },
        "_1015": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1015
          }
        },
        "_1016": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1016
          }
        },
        "_1017": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1017
          }
        },
        "_1018": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1018
          }
        },
        "_2001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2001
          }
        },
        "_2002": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2002
          }
        },
        "_2003": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2003
          }
        },
        "_2004": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2004
          }
        },
        "_2005": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2005
          }
        },
        "_2006": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2006
          }
        },
        "_2007": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2007
          }
        },
        "_2008": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2008
          }
        },
        "_2009": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2009
          }
        },
        "_2010": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2010
          }
        },
        "_2011": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2011
          }
        },
        "_2012": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2012
          }
        },
        "_2013": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2013
          }
        },
        "_2014": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2014
          }
        },
        "_2015": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2015
          }
        },
        "_2016": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2016
          }
        },
        "_2017": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2017
          }
        },
        "_2018": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2018
          }
        },
        "_2019": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2019
          }
        },
        "_2020": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2020
          }
        },
        "_2021": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2021
          }
        },
        "_2022": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2022
          }
        },
        "_3001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3001
          }
        },
        "_3002": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3002
          }
        },
        "_3003": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3003
          }
        },
        "_3004": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3004
          }
        },
        "_3005": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3005
          }
        },
        "_3006": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3006
          }
        },
        "_3007": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3007
          }
        },
        "_4001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4001
          }
        },
        "_4002": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4002
          }
        },
        "_4003": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4003
          }
        },
        "_4004": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4004
          }
        },
        "_4005": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4005
          }
        },
        "_4006": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4006
          }
        },
        "_4007": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4007
          }
        },
        "_4008": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4008
          }
        },
        "_4009": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4009
          }
        },
        "_4010": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4010
          }
        },
        "_4011": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4011
          }
        },
        "_4012": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4012
          }
        },
        "_4013": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4013
          }
        },
        "_4014": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4014
          }
        },
        "_4015": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4015
          }
        },
        "_4016": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4016
          }
        },
        "_4017": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4017
          }
        },
        "_4018": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4018
          }
        },
        "_4019": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4019
          }
        },
        "_4020": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4020
          }
        },
        "_4021": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4021
          }
        },
        "_4022": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4022
          }
        },
        "_4023": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4023
          }
        },
        "_5001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 5001
          }
        },
        "_5002": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 5002
          }
        },
        "_5003": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 5003
          }
        },
        "_5004": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 5004
          }
        },
        "_102000": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102000
          }
        },
        "_102001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102001
          }
        },
        "_102002": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102002
          }
        },
        "_102003": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102003
          }
        },
        "_102004": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102004
          }
        },
        "_102005": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102005
          }
        },
        "_102006": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102006
          }
        },
        "_102007": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102007
          }
        },
        "_102008": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102008
          }
        },
        "_102009": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102009
          }
        },
        "_102010": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102010
          }
        },
        "_102011": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102011
          }
        },
        "_102012": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102012
          }
        },
        "_102013": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102013
          }
        },
        "_102014": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102014
          }
        },
        "_102015": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102015
          }
        },
        "_102016": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102016
          }
        },
        "_102017": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102017
          }
        },
        "_102018": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102018
          }
        },
        "_102019": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102019
          }
        },
        "_102020": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102020
          }
        },
        "_102021": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102021
          }
        },
        "_102022": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102022
          }
        },
        "_102023": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102023
          }
        },
        "_102024": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102024
          }
        },
        "_102025": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102025
          }
        },
        "_102026": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102026
          }
        },
        "_102027": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102027
          }
        },
        "_102028": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102028
          }
        },
        "_102029": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102029
          }
        },
        "_102030": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102030
          }
        },
        "_102031": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102031
          }
        },
        "_102032": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102032
          }
        },
        "_102033": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102033
          }
        },
        "_102034": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102034
          }
        },
        "_102035": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102035
          }
        },
        "_102036": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102036
          }
        },
        "_102037": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102037
          }
        },
        "_102038": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102038
          }
        },
        "_102039": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102039
          }
        },
        "_102040": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102040
          }
        },
        "_102041": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102041
          }
        },
        "_102042": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102042
          }
        },
        "_102043": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102043
          }
        },
        "_102044": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102044
          }
        },
        "_102045": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102045
          }
        },
        "_102046": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102046
          }
        },
        "_102047": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102047
          }
        },
        "_102048": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102048
          }
        },
        "_102049": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102049
          }
        },
        "_102050": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102050
          }
        },
        "_102051": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102051
          }
        },
        "_102052": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102052
          }
        },
        "_102053": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102053
          }
        },
        "_102054": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102054
          }
        },
        "_102055": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102055
          }
        },
        "_102056": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102056
          }
        },
        "_102057": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102057
          }
        },
        "_102058": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102058
          }
        },
        "_102059": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102059
          }
        },
        "_102060": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102060
          }
        },
        "_102061": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102061
          }
        },
        "_102062": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102062
          }
        },
        "_102063": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102063
          }
        },
        "_102064": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102064
          }
        },
        "_102065": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102065
          }
        },
        "_102066": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102066
          }
        },
        "_102067": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102067
          }
        },
        "_102068": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102068
          }
        },
        "_102069": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102069
          }
        },
        "_102070": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102070
          }
        },
        "_102071": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102071
          }
        },
        "_102072": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 102072
          }
        },
        "_103001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 103001
          }
        },
        "_103002": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 103002
          }
        },
        "_103003": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 103003
          }
        },
        "_103004": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 103004
          }
        },
        "_103005": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 103005
          }
        },
        "_103006": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 103006
          }
        },
        "_103007": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 103007
          }
        },
        "_103008": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 103008
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsGetResponseErrorsValueMeta": {
      "type": "structure",
      "members": {
        "l10n_key": {
          "target": "smithy.api#String"
        },
        "loggable_error": {
          "target": "smithy.api#String"
        },
        "template_data": {
          "target": "smithy.api#Document"
        },
        "trace_id": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsGetResponseErrorsValueSource": {
      "type": "structure",
      "members": {
        "parameter": {
          "target": "smithy.api#String"
        },
        "parameter_value_index": {
          "target": "smithy.api#Double"
        },
        "pointer": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsGetResponseErrorsValue": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsGetResponseErrorsValueCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "documentation_url": {
          "target": "smithy.api#String"
        },
        "meta": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsGetResponseErrorsValueMeta"
        },
        "source": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsGetResponseErrorsValueSource"
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsGetResponseErrorsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsGetResponseErrorsValue"
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "destination_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "destination_type": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsGetResponseDestinationType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_user_update_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "policy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "update_mode": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsGetResponseUpdateMode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "errors": {
          "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsGetResponseErrorsMap"
        },
        "includes_discoveries_until": {
          "target": "smithy.api#String"
        },
        "last_attempted_update_at": {
          "target": "smithy.api#String"
        },
        "last_successful_update_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.magic_cloud_networking#CatalogSyncsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/magic/cloud/catalog-syncs/{sync_id}",
          "code": 200
        },
        "smithy.api#documentation": "Read a Catalog Sync (Closed Beta).",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsListResultItemDestinationType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "ZERO_TRUST_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZERO_TRUST_LIST"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsListResultItemUpdateMode": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL"
          }
        }
      }
    },
    "com.cloudflare.magic_cloud_networking#CatalogSyncsListResultItemErrorsValueCode": {
      "type": "intEnum",
      "members": {
        "_1001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1001
          }
        },
        "_1002": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1002
          }
        },
        "_1003": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1003
          }
        },
        "_1004": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1004
          }
        },
        "_1005": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1005
          }
        },
        "_1006": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1006
          }
        },
        "_1007": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1007
          }
        },
        "_1008": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1008
          }
        },
        "_1009": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1009
          }
        },
        "_1010": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1010
          }
        },
        "_1011": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1011
          }
        },
        "_1012": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1012
          }
        },
        "_1013": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1013
          }
        },
        "_1014": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1014
          }
        },
        "_1015": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1015
          }
        },
        "_1016": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1016
          }
        },
        "_1017": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1017
          }
        },
        "_1018": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1018
          }
        },
        "_2001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2001
          }
        },
        "_2002": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2002
          }
        },
        "_2003": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2003
          }
        },
        "_2004": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2004
          }
        },
        "_2005": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2005
          }
        },
        "_2006": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2006
          }
        },
        "_2007": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2007
          }
        },
        "_2008": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2008
          }
        },
        "_2009": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2009
          }
        },
        "_2010": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2010
          }
        },
        "_2011": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2011
          }
        },
        "_2012": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2012
          }
        },
        "_2013": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2013
          }
        },
        "_2014": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2014
          }
        },
        "_2015": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2015
          }
        },
        "_2016": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2016
          }
        },
        "_2017": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2017
          }
        },
        "_2018": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2018
          }
        },
        "_2019": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2019
          }
        },
        "_2020": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2020
          }
        },
        "_2021": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2021
          }
        },
        "_2022": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2022
          }
        },
        "_3001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3001
          }
        },
        "_3002": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3002
          }
        },
        "_3003": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3003
          }
        },
        "_3004": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3004
          }
        },
        "_3005": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3005
          }
        },
        "_3006": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3006
          }
        },
        "_3007": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3007
          }
        },
        "_4001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4001
          }
        },
        "_4002": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4002
          }
        },
        "_4003": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4003
          }
        },
        "_4004": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4004
          }
        },
        "_4005": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4005
          }
        },
        "_4006": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4006
          }
        },
        "_4007": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4007
          }
[...]
