{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.mtls_certificates#CreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ca": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the certificate is a CA or leaf certificate.",
            "smithy.api#required": {}
          }
        },
        "certificates": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The uploaded root CA certificate.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional unique name for the certificate. Only used for human readability."
          }
        },
        "private_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The private key for the certificate. This field is only needed for specific use cases such as using a custom certificate with Zero Trust's block page."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.mtls_certificates#CreateResponseType": {
      "type": "enum",
      "members": {
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        },
        "GATEWAY_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gateway_managed"
          }
        },
        "ACCESS_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_managed"
          }
        }
      }
    },
    "com.cloudflare.mtls_certificates#CreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "ca": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the certificate is a CA or leaf certificate."
          }
        },
        "certificates": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The uploaded root CA certificate."
          }
        },
        "expires_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the certificate expires."
          }
        },
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate authority that issued the certificate."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional unique name for the certificate. Only used for human readability."
          }
        },
        "serial_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate serial number."
          }
        },
        "signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of hash used for the certificate."
          }
        },
        "type": {
          "target": "com.cloudflare.mtls_certificates#CreateResponseType",
          "traits": {
            "smithy.api#documentation": "The type of the certificate, indicating how it was created and who manages it."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the time the certificate was updated."
          }
        },
        "uploaded_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the time the certificate was uploaded."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.mtls_certificates#Create": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.mtls_certificates#CreateRequest"
      },
      "output": {
        "target": "com.cloudflare.mtls_certificates#CreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/mtls_certificates",
          "code": 200
        },
        "smithy.api#documentation": "Upload a certificate that you want to use with mTLS-enabled Cloudflare services, such as Bring Your Own CA (BYO-CA) for mTLS. To create certificates issued by the Cloudflare managed CA, use the [Create Client Certificate endpoint](/api/resources/client_certificates/methods/create/)."
      }
    },
    "com.cloudflare.mtls_certificates#DeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "mtls_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.mtls_certificates#DeleteResponseType": {
      "type": "enum",
      "members": {
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        },
        "GATEWAY_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gateway_managed"
          }
        },
        "ACCESS_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_managed"
          }
        }
      }
    },
    "com.cloudflare.mtls_certificates#DeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "ca": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the certificate is a CA or leaf certificate."
          }
        },
        "certificates": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The uploaded root CA certificate."
          }
        },
        "expires_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the certificate expires."
          }
        },
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate authority that issued the certificate."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional unique name for the certificate. Only used for human readability."
          }
        },
        "serial_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate serial number."
          }
        },
        "signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of hash used for the certificate."
          }
        },
        "type": {
          "target": "com.cloudflare.mtls_certificates#DeleteResponseType",
          "traits": {
            "smithy.api#documentation": "The type of the certificate, indicating how it was created and who manages it."
          }
        },
        "uploaded_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the time the certificate was uploaded."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.mtls_certificates#Delete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.mtls_certificates#DeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.mtls_certificates#DeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/mtls_certificates/{mtls_certificate_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes the mTLS certificate unless the certificate is in use by one or more Cloudflare services.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.mtls_certificates#GetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "mtls_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.mtls_certificates#GetResponseType": {
      "type": "enum",
      "members": {
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        },
        "GATEWAY_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gateway_managed"
          }
        },
        "ACCESS_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_managed"
          }
        }
      }
    },
    "com.cloudflare.mtls_certificates#GetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "ca": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the certificate is a CA or leaf certificate."
          }
        },
        "certificates": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The uploaded root CA certificate."
          }
        },
        "expires_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the certificate expires."
          }
        },
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate authority that issued the certificate."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional unique name for the certificate. Only used for human readability."
          }
        },
        "serial_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate serial number."
          }
        },
        "signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of hash used for the certificate."
          }
        },
        "type": {
          "target": "com.cloudflare.mtls_certificates#GetResponseType",
          "traits": {
            "smithy.api#documentation": "The type of the certificate, indicating how it was created and who manages it."
          }
        },
        "uploaded_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the time the certificate was uploaded."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.mtls_certificates#Get": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.mtls_certificates#GetRequest"
      },
      "output": {
        "target": "com.cloudflare.mtls_certificates#GetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/mtls_certificates/{mtls_certificate_id}",
          "code": 200
        },
        "smithy.api#documentation": "Fetches a single mTLS certificate uploaded to your account. To get a certificate issued by the Cloudflare managed CA, use the [Client Certificate Details endpoint](/api/resources/client_certificates/methods/get/).",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.mtls_certificates#ListRequestType": {
      "type": "enum",
      "members": {
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        },
        "GATEWAY_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gateway_managed"
          }
        },
        "ACCESS_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_managed"
          }
        }
      }
    },
    "com.cloudflare.mtls_certificates#ListRequestTypeList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.mtls_certificates#ListRequestType"
      }
    },
    "com.cloudflare.mtls_certificates#ListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.mtls_certificates#ListRequestTypeList",
          "traits": {
            "smithy.api#documentation": "Filters results by certificate type. Multiple types can be comma-separated.",
            "smithy.api#httpQuery": "type"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.mtls_certificates#ListResultItemType": {
      "type": "enum",
      "members": {
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        },
        "GATEWAY_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gateway_managed"
          }
        },
        "ACCESS_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_managed"
          }
        }
      }
    },
    "com.cloudflare.mtls_certificates#ListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "ca": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the certificate is a CA or leaf certificate."
          }
        },
        "certificates": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The uploaded root CA certificate."
          }
        },
        "expires_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the certificate expires."
          }
        },
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate authority that issued the certificate."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional unique name for the certificate. Only used for human readability."
          }
        },
        "serial_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate serial number."
          }
        },
        "signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of hash used for the certificate."
          }
        },
        "type": {
          "target": "com.cloudflare.mtls_certificates#ListResultItemType",
          "traits": {
            "smithy.api#documentation": "The type of the certificate, indicating how it was created and who manages it."
          }
        },
        "uploaded_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the time the certificate was uploaded."
          }
        }
      }
    },
    "com.cloudflare.mtls_certificates#ListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.mtls_certificates#ListResultItem"
      }
    },
    "com.cloudflare.mtls_certificates#ListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.mtls_certificates#ListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.mtls_certificates#List": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.mtls_certificates#ListRequest"
      },
      "output": {
        "target": "com.cloudflare.mtls_certificates#ListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/mtls_certificates",
          "code": 200
        },
        "smithy.api#documentation": "Lists all mTLS certificates uploaded to your account, such as Bring Your Own CA (BYO-CA) for mTLS. To list certificates issued by the Cloudflare managed CA, use the [List Client Certificates endpoint](/api/resources/client_certificates/methods/list/).",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.mtls_certificates#AssociationsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "mtls_certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.mtls_certificates#AssociationsGetResultItem": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service using the certificate."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Certificate deployment status for the given service."
          }
        }
      }
    },
    "com.cloudflare.mtls_certificates#AssociationsGetResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.mtls_certificates#AssociationsGetResultItem"
      }
    },
    "com.cloudflare.mtls_certificates#AssociationsGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.mtls_certificates#AssociationsGetResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.mtls_certificates#AssociationsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.mtls_certificates#AssociationsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.mtls_certificates#AssociationsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/mtls_certificates/{mtls_certificate_id}/associations",
          "code": 200
        },
        "smithy.api#documentation": "Lists all active associations between the certificate and Cloudflare services.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.mtls_certificates#MtlsCertificates": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.mtls_certificates#Create"
        },
        {
          "target": "com.cloudflare.mtls_certificates#Delete"
        },
        {
          "target": "com.cloudflare.mtls_certificates#Get"
        },
        {
          "target": "com.cloudflare.mtls_certificates#List"
        },
        {
          "target": "com.cloudflare.mtls_certificates#AssociationsGet"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare MtlsCertificates",
        "smithy.api#documentation": "Cloudflare API — mtls_certificates resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    }
  }
}
