{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.pages#ProjectsCreateRequestBuildConfig": {
      "type": "structure",
      "members": {
        "build_caching": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable build caching for the project."
          }
        },
        "build_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command used to build project."
          }
        },
        "destination_dir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output directory of the build."
          }
        },
        "root_dir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Directory to run the command."
          }
        },
        "web_analytics_tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The classifying tag for analytics."
          }
        },
        "web_analytics_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The auth token for analytics."
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewAiBindingsValue": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewAiBindingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewAiBindingsValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewAnalyticsEngineDatasetsValue": {
      "type": "structure",
      "members": {
        "dataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dataset.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewAnalyticsEngineDatasetsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewAnalyticsEngineDatasetsValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewBrowsersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewCompatibilityFlagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewD1DatabasesValue": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the D1 database.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewD1DatabasesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewD1DatabasesValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewDurableObjectNamespacesValue": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Durable Object namespace.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewDurableObjectNamespacesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewDurableObjectNamespacesValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewEnvVarsPlainTextType": {
      "type": "enum",
      "members": {
        "PLAIN_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plain_text"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewEnvVarsPlainText": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewEnvVarsPlainTextType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Environment variable value.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewEnvVarsSecretTextType": {
      "type": "enum",
      "members": {
        "SECRET_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secret_text"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewEnvVarsSecretText": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewEnvVarsSecretTextType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Secret value.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewEnvVars": {
      "type": "union",
      "members": {
        "PlainText": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewEnvVarsPlainText"
        },
        "SecretText": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewEnvVarsSecretText"
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewHyperdriveBindingsValue": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewHyperdriveBindingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewHyperdriveBindingsValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewKvNamespacesValue": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the KV namespace.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewKvNamespacesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewKvNamespacesValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewLimits": {
      "type": "structure",
      "members": {
        "cpu_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "CPU time limit in milliseconds.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewMtlsCertificatesValue": {
      "type": "structure",
      "members": {
        "certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewMtlsCertificatesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewMtlsCertificatesValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewPlacement": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Placement mode.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewQueueProducersValue": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Queue.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewQueueProducersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewQueueProducersValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewR2BucketsValue": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the R2 bucket.",
            "smithy.api#required": {}
          }
        },
        "jurisdiction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Jurisdiction of the R2 bucket."
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewR2BucketsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewR2BucketsValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewServicesValue": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Service name.",
            "smithy.api#required": {}
          }
        },
        "entrypoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The entrypoint to bind to."
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Service environment."
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewServicesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewServicesValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewUsageModel": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "BUNDLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bundled"
          }
        },
        "UNBOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unbound"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewVectorizeBindingsValue": {
      "type": "structure",
      "members": {
        "index_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewVectorizeBindingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewVectorizeBindingsValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreview": {
      "type": "structure",
      "members": {
        "ai_bindings": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewAiBindingsMap",
          "traits": {
            "smithy.api#documentation": "Constellation bindings used for Pages Functions."
          }
        },
        "always_use_latest_compatibility_date": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to always use the latest compatibility date for Pages Functions."
          }
        },
        "analytics_engine_datasets": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewAnalyticsEngineDatasetsMap",
          "traits": {
            "smithy.api#documentation": "Analytics Engine bindings used for Pages Functions."
          }
        },
        "browsers": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewBrowsersMap",
          "traits": {
            "smithy.api#documentation": "Browser bindings used for Pages Functions."
          }
        },
        "build_image_major_version": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The major version of the build image to use for Pages Functions."
          }
        },
        "compatibility_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Compatibility date used for Pages Functions."
          }
        },
        "compatibility_flags": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewCompatibilityFlagsList",
          "traits": {
            "smithy.api#documentation": "Compatibility flags used for Pages Functions."
          }
        },
        "d1_databases": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewD1DatabasesMap",
          "traits": {
            "smithy.api#documentation": "D1 databases used for Pages Functions."
          }
        },
        "durable_object_namespaces": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewDurableObjectNamespacesMap",
          "traits": {
            "smithy.api#documentation": "Durable Object namespaces used for Pages Functions."
          }
        },
        "env_vars": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewEnvVars",
          "traits": {
            "smithy.api#documentation": "Environment variables used for builds and Pages Functions."
          }
        },
        "fail_open": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to fail open when the deployment config cannot be applied."
          }
        },
        "hyperdrive_bindings": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewHyperdriveBindingsMap",
          "traits": {
            "smithy.api#documentation": "Hyperdrive bindings used for Pages Functions."
          }
        },
        "kv_namespaces": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewKvNamespacesMap",
          "traits": {
            "smithy.api#documentation": "KV namespaces used for Pages Functions."
          }
        },
        "limits": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewLimits",
          "traits": {
            "smithy.api#documentation": "Limits for Pages Functions."
          }
        },
        "mtls_certificates": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewMtlsCertificatesMap",
          "traits": {
            "smithy.api#documentation": "mTLS bindings used for Pages Functions."
          }
        },
        "placement": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewPlacement",
          "traits": {
            "smithy.api#documentation": "Placement setting used for Pages Functions."
          }
        },
        "queue_producers": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewQueueProducersMap",
          "traits": {
            "smithy.api#documentation": "Queue Producer bindings used for Pages Functions."
          }
        },
        "r2_buckets": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewR2BucketsMap",
          "traits": {
            "smithy.api#documentation": "R2 buckets used for Pages Functions."
          }
        },
        "services": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewServicesMap",
          "traits": {
            "smithy.api#documentation": "Services used for Pages Functions."
          }
        },
        "usage_model": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewUsageModel",
          "traits": {
            "smithy.api#documentation": "The usage model for Pages Functions."
          }
        },
        "vectorize_bindings": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreviewVectorizeBindingsMap",
          "traits": {
            "smithy.api#documentation": "Vectorize bindings used for Pages Functions."
          }
        },
        "wrangler_config_hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hash of the Wrangler configuration used for the deployment."
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionAiBindingsValue": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionAiBindingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionAiBindingsValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionAnalyticsEngineDatasetsValue": {
      "type": "structure",
      "members": {
        "dataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dataset.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionAnalyticsEngineDatasetsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionAnalyticsEngineDatasetsValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionBrowsersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionCompatibilityFlagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionD1DatabasesValue": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the D1 database.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionD1DatabasesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionD1DatabasesValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionDurableObjectNamespacesValue": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Durable Object namespace.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionDurableObjectNamespacesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionDurableObjectNamespacesValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionEnvVarsPlainTextType": {
      "type": "enum",
      "members": {
        "PLAIN_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plain_text"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionEnvVarsPlainText": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionEnvVarsPlainTextType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Environment variable value.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionEnvVarsSecretTextType": {
      "type": "enum",
      "members": {
        "SECRET_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secret_text"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionEnvVarsSecretText": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionEnvVarsSecretTextType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Secret value.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionEnvVars": {
      "type": "union",
      "members": {
        "PlainText": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionEnvVarsPlainText"
        },
        "SecretText": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionEnvVarsSecretText"
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionHyperdriveBindingsValue": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionHyperdriveBindingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionHyperdriveBindingsValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionKvNamespacesValue": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the KV namespace.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionKvNamespacesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionKvNamespacesValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionLimits": {
      "type": "structure",
      "members": {
        "cpu_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "CPU time limit in milliseconds.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionMtlsCertificatesValue": {
      "type": "structure",
      "members": {
        "certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionMtlsCertificatesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionMtlsCertificatesValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionPlacement": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Placement mode.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionQueueProducersValue": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Queue.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionQueueProducersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionQueueProducersValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionR2BucketsValue": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the R2 bucket.",
            "smithy.api#required": {}
          }
        },
        "jurisdiction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Jurisdiction of the R2 bucket."
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionR2BucketsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionR2BucketsValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionServicesValue": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Service name.",
            "smithy.api#required": {}
          }
        },
        "entrypoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The entrypoint to bind to."
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Service environment."
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionServicesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionServicesValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionUsageModel": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "BUNDLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bundled"
          }
        },
        "UNBOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unbound"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionVectorizeBindingsValue": {
      "type": "structure",
      "members": {
        "index_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionVectorizeBindingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionVectorizeBindingsValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProduction": {
      "type": "structure",
      "members": {
        "ai_bindings": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionAiBindingsMap",
          "traits": {
            "smithy.api#documentation": "Constellation bindings used for Pages Functions."
          }
        },
        "always_use_latest_compatibility_date": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to always use the latest compatibility date for Pages Functions."
          }
        },
        "analytics_engine_datasets": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionAnalyticsEngineDatasetsMap",
          "traits": {
            "smithy.api#documentation": "Analytics Engine bindings used for Pages Functions."
          }
        },
        "browsers": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionBrowsersMap",
          "traits": {
            "smithy.api#documentation": "Browser bindings used for Pages Functions."
          }
        },
        "build_image_major_version": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The major version of the build image to use for Pages Functions."
          }
        },
        "compatibility_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Compatibility date used for Pages Functions."
          }
        },
        "compatibility_flags": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionCompatibilityFlagsList",
          "traits": {
            "smithy.api#documentation": "Compatibility flags used for Pages Functions."
          }
        },
        "d1_databases": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionD1DatabasesMap",
          "traits": {
            "smithy.api#documentation": "D1 databases used for Pages Functions."
          }
        },
        "durable_object_namespaces": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionDurableObjectNamespacesMap",
          "traits": {
            "smithy.api#documentation": "Durable Object namespaces used for Pages Functions."
          }
        },
        "env_vars": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionEnvVars",
          "traits": {
            "smithy.api#documentation": "Environment variables used for builds and Pages Functions."
          }
        },
        "fail_open": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to fail open when the deployment config cannot be applied."
          }
        },
        "hyperdrive_bindings": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionHyperdriveBindingsMap",
          "traits": {
            "smithy.api#documentation": "Hyperdrive bindings used for Pages Functions."
          }
        },
        "kv_namespaces": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionKvNamespacesMap",
          "traits": {
            "smithy.api#documentation": "KV namespaces used for Pages Functions."
          }
        },
        "limits": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionLimits",
          "traits": {
            "smithy.api#documentation": "Limits for Pages Functions."
          }
        },
        "mtls_certificates": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionMtlsCertificatesMap",
          "traits": {
            "smithy.api#documentation": "mTLS bindings used for Pages Functions."
          }
        },
        "placement": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionPlacement",
          "traits": {
            "smithy.api#documentation": "Placement setting used for Pages Functions."
          }
        },
        "queue_producers": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionQueueProducersMap",
          "traits": {
            "smithy.api#documentation": "Queue Producer bindings used for Pages Functions."
          }
        },
        "r2_buckets": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionR2BucketsMap",
          "traits": {
            "smithy.api#documentation": "R2 buckets used for Pages Functions."
          }
        },
        "services": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionServicesMap",
          "traits": {
            "smithy.api#documentation": "Services used for Pages Functions."
          }
        },
        "usage_model": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionUsageModel",
          "traits": {
            "smithy.api#documentation": "The usage model for Pages Functions."
          }
        },
        "vectorize_bindings": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProductionVectorizeBindingsMap",
          "traits": {
            "smithy.api#documentation": "Vectorize bindings used for Pages Functions."
          }
        },
        "wrangler_config_hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hash of the Wrangler configuration used for the deployment."
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigs": {
      "type": "structure",
      "members": {
        "preview": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsPreview",
          "traits": {
            "smithy.api#documentation": "Configs for preview deploys."
          }
        },
        "production": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigsProduction",
          "traits": {
            "smithy.api#documentation": "Configs for production deploys."
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestSourceConfigPathExcludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestSourceConfigPathIncludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestSourceConfigPreviewBranchExcludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestSourceConfigPreviewBranchIncludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestSourceConfigPreviewDeploymentSetting": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestSourceConfig": {
      "type": "structure",
      "members": {
        "deployments_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable automatic deployments when pushing to the source repository."
          }
        },
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The owner of the repository."
          }
        },
        "owner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The owner ID of the repository."
          }
        },
        "path_excludes": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestSourceConfigPathExcludesList",
          "traits": {
            "smithy.api#documentation": "A list of paths that should be excluded from triggering a preview deployment. Wildcard syntax (`*`) is supported."
          }
        },
        "path_includes": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestSourceConfigPathIncludesList",
          "traits": {
            "smithy.api#documentation": "A list of paths that should be watched to trigger a preview deployment. Wildcard syntax (`*`) is supported."
          }
        },
        "pr_comments_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable PR comments."
          }
        },
        "preview_branch_excludes": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestSourceConfigPreviewBranchExcludesList",
          "traits": {
            "smithy.api#documentation": "A list of branches that should not trigger a preview deployment. Wildcard syntax (`*`) is supported. Must be used with `preview_deployment_setting` set to `custom`."
          }
        },
        "preview_branch_includes": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestSourceConfigPreviewBranchIncludesList",
          "traits": {
            "smithy.api#documentation": "A list of branches that should trigger a preview deployment. Wildcard syntax (`*`) is supported. Must be used with `preview_deployment_setting` set to `custom`."
          }
        },
        "preview_deployment_setting": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestSourceConfigPreviewDeploymentSetting",
          "traits": {
            "smithy.api#documentation": "Controls whether commits to preview branches trigger a preview deployment."
          }
        },
        "production_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The production branch of the repository."
          }
        },
        "production_deployments_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to trigger a production deployment on commits to the production branch."
          }
        },
        "repo_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the repository."
          }
        },
        "repo_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the repository."
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestSourceType": {
      "type": "enum",
      "members": {
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequestSource": {
      "type": "structure",
      "members": {
        "config": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestSourceConfig",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestSourceType",
          "traits": {
            "smithy.api#documentation": "The source control management provider.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the project.",
            "smithy.api#required": {}
          }
        },
        "production_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Production branch of the project. Used to identify production deployments.",
            "smithy.api#required": {}
          }
        },
        "build_config": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestBuildConfig",
          "traits": {
            "smithy.api#documentation": "Configs for the project build process."
          }
        },
        "deployment_configs": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestDeploymentConfigs",
          "traits": {
            "smithy.api#documentation": "Configs for deployments in a project."
          }
        },
        "source": {
          "target": "com.cloudflare.pages#ProjectsCreateRequestSource",
          "traits": {
            "smithy.api#documentation": "Configs for the project source control."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentAliasesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentBuildConfig": {
      "type": "structure",
      "members": {
        "web_analytics_tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The classifying tag for analytics.",
            "smithy.api#required": {}
          }
        },
        "web_analytics_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The auth token for analytics.",
            "smithy.api#required": {}
          }
        },
        "build_caching": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable build caching for the project."
          }
        },
        "build_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command used to build project."
          }
        },
        "destination_dir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Assets output directory of the build."
          }
        },
        "root_dir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Directory to run the command."
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentDeploymentTriggerMetadata": {
      "type": "structure",
      "members": {
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Where the trigger happened.",
            "smithy.api#required": {}
          }
        },
        "commit_dirty": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the deployment trigger commit was dirty.",
            "smithy.api#required": {}
          }
        },
        "commit_hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hash of the deployment trigger commit.",
            "smithy.api#required": {}
          }
        },
        "commit_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Message of the deployment trigger commit.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentDeploymentTriggerType": {
      "type": "enum",
      "members": {
        "GITHUB_PUSH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github:push"
          }
        },
        "AD_HOC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ad_hoc"
          }
        },
        "DEPLOY_HOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deploy_hook"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentDeploymentTrigger": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentDeploymentTriggerMetadata",
          "traits": {
            "smithy.api#documentation": "Additional info about the trigger.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentDeploymentTriggerType",
          "traits": {
            "smithy.api#documentation": "What caused the deployment.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentEnvVarsPlainTextType": {
      "type": "enum",
      "members": {
        "PLAIN_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plain_text"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentEnvVarsPlainText": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentEnvVarsPlainTextType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Environment variable value.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentEnvVarsSecretTextType": {
      "type": "enum",
      "members": {
        "SECRET_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secret_text"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentEnvVarsSecretText": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentEnvVarsSecretTextType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Secret value.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentEnvVars": {
      "type": "union",
      "members": {
        "PlainText": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentEnvVarsPlainText"
        },
        "SecretText": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentEnvVarsSecretText"
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentEnvironment": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentLatestStageName": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "INITIALIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initialize"
          }
        },
        "CLONE_REPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clone_repo"
          }
        },
        "BUILD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "build"
          }
        },
        "DEPLOY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deploy"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentLatestStageStatus": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "IDLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "idle"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failure"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentLatestStage": {
      "type": "structure",
      "members": {
        "ended_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the stage ended.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentLatestStageName",
          "traits": {
            "smithy.api#documentation": "The current build stage.",
            "smithy.api#required": {}
          }
        },
        "started_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the stage started.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentLatestStageStatus",
          "traits": {
            "smithy.api#documentation": "State of the current stage.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentSourceConfigPathExcludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentSourceConfigPathIncludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentSourceConfigPreviewBranchExcludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentSourceConfigPreviewBranchIncludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentSourceConfigPreviewDeploymentSetting": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentSourceConfig": {
      "type": "structure",
      "members": {
        "deployments_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable automatic deployments when pushing to the source repository.",
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The owner of the repository.",
            "smithy.api#required": {}
          }
        },
        "owner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The owner ID of the repository.",
            "smithy.api#required": {}
          }
        },
        "path_excludes": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentSourceConfigPathExcludesList",
          "traits": {
            "smithy.api#documentation": "A list of paths that should be excluded from triggering a preview deployment. Wildcard syntax (`*`) is supported.",
            "smithy.api#required": {}
          }
        },
        "path_includes": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentSourceConfigPathIncludesList",
          "traits": {
            "smithy.api#documentation": "A list of paths that should be watched to trigger a preview deployment. Wildcard syntax (`*`) is supported.",
            "smithy.api#required": {}
          }
        },
        "pr_comments_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable PR comments.",
            "smithy.api#required": {}
          }
        },
        "preview_branch_excludes": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentSourceConfigPreviewBranchExcludesList",
          "traits": {
            "smithy.api#documentation": "A list of branches that should not trigger a preview deployment. Wildcard syntax (`*`) is supported. Must be used with `preview_deployment_setting` set to `custom`.",
            "smithy.api#required": {}
          }
        },
        "preview_branch_includes": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentSourceConfigPreviewBranchIncludesList",
          "traits": {
            "smithy.api#documentation": "A list of branches that should trigger a preview deployment. Wildcard syntax (`*`) is supported. Must be used with `preview_deployment_setting` set to `custom`.",
            "smithy.api#required": {}
          }
        },
        "preview_deployment_setting": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentSourceConfigPreviewDeploymentSetting",
          "traits": {
            "smithy.api#documentation": "Controls whether commits to preview branches trigger a preview deployment.",
            "smithy.api#required": {}
          }
        },
        "production_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The production branch of the repository.",
            "smithy.api#required": {}
          }
        },
        "production_deployments_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to trigger a production deployment on commits to the production branch.",
            "smithy.api#required": {}
          }
        },
        "repo_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the repository.",
            "smithy.api#required": {}
          }
        },
        "repo_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the repository.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentSourceType": {
      "type": "enum",
      "members": {
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentSource": {
      "type": "structure",
      "members": {
        "config": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentSourceConfig",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentSourceType",
          "traits": {
            "smithy.api#documentation": "The source control management provider.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentStagesItem": {
      "type": "structure",
      "members": {
        "ended_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the stage ended.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current build stage.",
            "smithy.api#required": {}
          }
        },
        "started_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the stage started.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of the current stage.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentStagesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentStagesItem"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeployment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the deployment.",
            "smithy.api#required": {}
          }
        },
        "aliases": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentAliasesList",
          "traits": {
            "smithy.api#documentation": "A list of alias URLs pointing to this deployment.",
            "smithy.api#required": {}
          }
        },
        "build_config": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentBuildConfig",
          "traits": {
            "smithy.api#documentation": "Configs for the project build process.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the deployment was created.",
            "smithy.api#required": {}
          }
        },
        "deployment_trigger": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentDeploymentTrigger",
          "traits": {
            "smithy.api#documentation": "Info about what caused the deployment.",
            "smithy.api#required": {}
          }
        },
        "env_vars": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentEnvVars",
          "traits": {
            "smithy.api#documentation": "Environment variables used for builds and Pages Functions.",
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentEnvironment",
          "traits": {
            "smithy.api#documentation": "Type of deploy.",
            "smithy.api#required": {}
          }
        },
        "is_skipped": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the deployment has been skipped.",
            "smithy.api#required": {}
          }
        },
        "latest_stage": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentLatestStage",
          "traits": {
            "smithy.api#documentation": "The status of the deployment.",
            "smithy.api#required": {}
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the deployment was last modified.",
            "smithy.api#required": {}
          }
        },
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the project.",
            "smithy.api#required": {}
          }
        },
        "project_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the project.",
            "smithy.api#required": {}
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short Id (8 character) of the deployment.",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentSource",
          "traits": {
            "smithy.api#documentation": "Configs for the project source control.",
            "smithy.api#required": {}
          }
        },
        "stages": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseCanonicalDeploymentStagesList",
          "traits": {
            "smithy.api#documentation": "List of past stages.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The live URL to view this deployment.",
            "smithy.api#required": {}
          }
        },
        "uses_functions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the deployment uses functions."
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewCompatibilityFlagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewEnvVarsPlainTextType": {
      "type": "enum",
      "members": {
        "PLAIN_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plain_text"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewEnvVarsPlainText": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewEnvVarsPlainTextType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Environment variable value.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewEnvVarsSecretTextType": {
      "type": "enum",
      "members": {
        "SECRET_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secret_text"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewEnvVarsSecretText": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewEnvVarsSecretTextType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Secret value.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewEnvVars": {
      "type": "union",
      "members": {
        "PlainText": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewEnvVarsPlainText"
        },
        "SecretText": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewEnvVarsSecretText"
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewUsageModel": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "BUNDLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bundled"
          }
        },
        "UNBOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unbound"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewAiBindingsValue": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewAiBindingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewAiBindingsValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewAnalyticsEngineDatasetsValue": {
      "type": "structure",
      "members": {
        "dataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dataset.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewAnalyticsEngineDatasetsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewAnalyticsEngineDatasetsValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewBrowsersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewD1DatabasesValue": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the D1 database.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewD1DatabasesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewD1DatabasesValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewDurableObjectNamespacesValue": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Durable Object namespace.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewDurableObjectNamespacesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewDurableObjectNamespacesValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewHyperdriveBindingsValue": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewHyperdriveBindingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewHyperdriveBindingsValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewKvNamespacesValue": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the KV namespace.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewKvNamespacesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewKvNamespacesValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewLimits": {
      "type": "structure",
      "members": {
        "cpu_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "CPU time limit in milliseconds.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewMtlsCertificatesValue": {
      "type": "structure",
      "members": {
        "certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewMtlsCertificatesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewMtlsCertificatesValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewPlacement": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Placement mode.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewQueueProducersValue": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Queue.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewQueueProducersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewQueueProducersValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewR2BucketsValue": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the R2 bucket.",
            "smithy.api#required": {}
          }
        },
        "jurisdiction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Jurisdiction of the R2 bucket."
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewR2BucketsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewR2BucketsValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewServicesValue": {
      "type": "structure",
      "members": {
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Service environment.",
            "smithy.api#required": {}
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Service name.",
            "smithy.api#required": {}
          }
        },
        "entrypoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The entrypoint to bind to."
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewServicesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewServicesValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewVectorizeBindingsValue": {
      "type": "structure",
      "members": {
        "index_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewVectorizeBindingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewVectorizeBindingsValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreview": {
      "type": "structure",
      "members": {
        "always_use_latest_compatibility_date": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to always use the latest compatibility date for Pages Functions.",
            "smithy.api#required": {}
          }
        },
        "build_image_major_version": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The major version of the build image to use for Pages Functions.",
            "smithy.api#required": {}
          }
        },
        "compatibility_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Compatibility date used for Pages Functions.",
            "smithy.api#required": {}
          }
        },
        "compatibility_flags": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewCompatibilityFlagsList",
          "traits": {
            "smithy.api#documentation": "Compatibility flags used for Pages Functions.",
            "smithy.api#required": {}
          }
        },
        "env_vars": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewEnvVars",
          "traits": {
            "smithy.api#documentation": "Environment variables used for builds and Pages Functions.",
            "smithy.api#required": {}
          }
        },
        "fail_open": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to fail open when the deployment config cannot be applied.",
            "smithy.api#required": {}
          }
        },
        "usage_model": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewUsageModel",
          "traits": {
            "smithy.api#documentation": "The usage model for Pages Functions.",
            "smithy.api#required": {}
          }
        },
        "ai_bindings": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewAiBindingsMap",
          "traits": {
            "smithy.api#documentation": "Constellation bindings used for Pages Functions."
          }
        },
        "analytics_engine_datasets": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewAnalyticsEngineDatasetsMap",
          "traits": {
            "smithy.api#documentation": "Analytics Engine bindings used for Pages Functions."
          }
        },
        "browsers": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewBrowsersMap",
          "traits": {
            "smithy.api#documentation": "Browser bindings used for Pages Functions."
          }
        },
        "d1_databases": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewD1DatabasesMap",
          "traits": {
            "smithy.api#documentation": "D1 databases used for Pages Functions."
          }
        },
        "durable_object_namespaces": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewDurableObjectNamespacesMap",
          "traits": {
            "smithy.api#documentation": "Durable Object namespaces used for Pages Functions."
          }
        },
        "hyperdrive_bindings": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewHyperdriveBindingsMap",
          "traits": {
            "smithy.api#documentation": "Hyperdrive bindings used for Pages Functions."
          }
        },
        "kv_namespaces": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewKvNamespacesMap",
          "traits": {
            "smithy.api#documentation": "KV namespaces used for Pages Functions."
          }
        },
        "limits": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewLimits",
          "traits": {
            "smithy.api#documentation": "Limits for Pages Functions."
          }
        },
        "mtls_certificates": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewMtlsCertificatesMap",
          "traits": {
            "smithy.api#documentation": "mTLS bindings used for Pages Functions."
          }
        },
        "placement": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewPlacement",
          "traits": {
            "smithy.api#documentation": "Placement setting used for Pages Functions."
          }
        },
        "queue_producers": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewQueueProducersMap",
          "traits": {
            "smithy.api#documentation": "Queue Producer bindings used for Pages Functions."
          }
        },
        "r2_buckets": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewR2BucketsMap",
          "traits": {
            "smithy.api#documentation": "R2 buckets used for Pages Functions."
          }
        },
        "services": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewServicesMap",
          "traits": {
            "smithy.api#documentation": "Services used for Pages Functions."
          }
        },
        "vectorize_bindings": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsPreviewVectorizeBindingsMap",
          "traits": {
            "smithy.api#documentation": "Vectorize bindings used for Pages Functions."
          }
        },
        "wrangler_config_hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hash of the Wrangler configuration used for the deployment."
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionCompatibilityFlagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionEnvVarsPlainTextType": {
      "type": "enum",
      "members": {
        "PLAIN_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plain_text"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionEnvVarsPlainText": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionEnvVarsPlainTextType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Environment variable value.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionEnvVarsSecretTextType": {
      "type": "enum",
      "members": {
        "SECRET_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secret_text"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionEnvVarsSecretText": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionEnvVarsSecretTextType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Secret value.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionEnvVars": {
      "type": "union",
      "members": {
        "PlainText": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionEnvVarsPlainText"
        },
        "SecretText": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionEnvVarsSecretText"
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionUsageModel": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "BUNDLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bundled"
          }
        },
        "UNBOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unbound"
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionAiBindingsValue": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionAiBindingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionAiBindingsValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionAnalyticsEngineDatasetsValue": {
      "type": "structure",
      "members": {
        "dataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dataset.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionAnalyticsEngineDatasetsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionAnalyticsEngineDatasetsValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionBrowsersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionD1DatabasesValue": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the D1 database.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionD1DatabasesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionD1DatabasesValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionDurableObjectNamespacesValue": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Durable Object namespace.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionDurableObjectNamespacesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionDurableObjectNamespacesValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionHyperdriveBindingsValue": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionHyperdriveBindingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionHyperdriveBindingsValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionKvNamespacesValue": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the KV namespace.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionKvNamespacesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionKvNamespacesValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionLimits": {
      "type": "structure",
      "members": {
        "cpu_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "CPU time limit in milliseconds.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionMtlsCertificatesValue": {
      "type": "structure",
      "members": {
        "certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionMtlsCertificatesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionMtlsCertificatesValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionPlacement": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Placement mode.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionQueueProducersValue": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Queue.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionQueueProducersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionQueueProducersValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionR2BucketsValue": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the R2 bucket.",
            "smithy.api#required": {}
          }
        },
        "jurisdiction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Jurisdiction of the R2 bucket."
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionR2BucketsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionR2BucketsValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionServicesValue": {
      "type": "structure",
      "members": {
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Service environment.",
            "smithy.api#required": {}
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Service name.",
            "smithy.api#required": {}
          }
        },
        "entrypoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The entrypoint to bind to."
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionServicesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionServicesValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionVectorizeBindingsValue": {
      "type": "structure",
      "members": {
        "index_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionVectorizeBindingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionVectorizeBindingsValue"
      }
    },
    "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProduction": {
      "type": "structure",
      "members": {
        "always_use_latest_compatibility_date": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to always use the latest compatibility date for Pages Functions.",
            "smithy.api#required": {}
          }
        },
        "build_image_major_version": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The major version of the build image to use for Pages Functions.",
            "smithy.api#required": {}
          }
        },
        "compatibility_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Compatibility date used for Pages Functions.",
            "smithy.api#required": {}
          }
        },
        "compatibility_flags": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionCompatibilityFlagsList",
          "traits": {
            "smithy.api#documentation": "Compatibility flags used for Pages Functions.",
            "smithy.api#required": {}
          }
        },
        "env_vars": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionEnvVars",
          "traits": {
            "smithy.api#documentation": "Environment variables used for builds and Pages Functions.",
            "smithy.api#required": {}
          }
        },
        "fail_open": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to fail open when the deployment config cannot be applied.",
            "smithy.api#required": {}
          }
        },
        "usage_model": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionUsageModel",
          "traits": {
            "smithy.api#documentation": "The usage model for Pages Functions.",
            "smithy.api#required": {}
          }
        },
        "ai_bindings": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionAiBindingsMap",
          "traits": {
            "smithy.api#documentation": "Constellation bindings used for Pages Functions."
          }
        },
        "analytics_engine_datasets": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionAnalyticsEngineDatasetsMap",
          "traits": {
            "smithy.api#documentation": "Analytics Engine bindings used for Pages Functions."
          }
        },
        "browsers": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionBrowsersMap",
          "traits": {
            "smithy.api#documentation": "Browser bindings used for Pages Functions."
          }
        },
        "d1_databases": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionD1DatabasesMap",
          "traits": {
            "smithy.api#documentation": "D1 databases used for Pages Functions."
          }
        },
        "durable_object_namespaces": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionDurableObjectNamespacesMap",
          "traits": {
            "smithy.api#documentation": "Durable Object namespaces used for Pages Functions."
          }
        },
        "hyperdrive_bindings": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionHyperdriveBindingsMap",
          "traits": {
            "smithy.api#documentation": "Hyperdrive bindings used for Pages Functions."
          }
        },
        "kv_namespaces": {
          "target": "com.cloudflare.pages#ProjectsCreateResponseDeploymentConfigsProductionKvNamespacesMap",
          "traits": {
            "smithy.api#documentation": "KV namespaces used for Pages Functions."
          }
        },
        "limits": {
[...]
