{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.page_rules#CreateRequestActionsItemAlwaysUseHTTPSId": {
      "type": "enum",
      "members": {
        "ALWAYS_USE_HTTPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "always_use_https"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemAlwaysUseHTTPS": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemAlwaysUseHTTPSId",
          "traits": {
            "smithy.api#documentation": "If enabled, any `http://`` URL is converted to`https://` through a"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemAutomaticHTTPSRewritesId": {
      "type": "enum",
      "members": {
        "AUTOMATIC_HTTPS_REWRITES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automatic_https_rewrites"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemAutomaticHTTPSRewritesValue": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemAutomaticHTTPSRewrites": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemAutomaticHTTPSRewritesId",
          "traits": {
            "smithy.api#documentation": "Turn on or off Automatic HTTPS Rewrites."
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemAutomaticHTTPSRewritesValue",
          "traits": {
            "smithy.api#documentation": "The status of Automatic HTTPS Rewrites."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemBrowserCacheTTLId": {
      "type": "enum",
      "members": {
        "BROWSER_CACHE_TTL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "browser_cache_ttl"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemBrowserCacheTTL": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemBrowserCacheTTLId",
          "traits": {
            "smithy.api#documentation": "Control how long resources cached by client browsers remain valid."
          }
        },
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to cache resources for."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemBrowserCheckId": {
      "type": "enum",
      "members": {
        "BROWSER_CHECK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "browser_check"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemBrowserCheckValue": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemBrowserCheck": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemBrowserCheckId",
          "traits": {
            "smithy.api#documentation": "Inspect the visitor's browser for headers commonly associated with"
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemBrowserCheckValue",
          "traits": {
            "smithy.api#documentation": "The status of Browser Integrity Check."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemBypassCacheOnCookieId": {
      "type": "enum",
      "members": {
        "BYPASS_CACHE_ON_COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bypass_cache_on_cookie"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemBypassCacheOnCookie": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemBypassCacheOnCookieId",
          "traits": {
            "smithy.api#documentation": "Bypass cache and fetch resources from the origin server if a regular"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The regular expression to use for matching cookie names in the"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemCacheByDeviceTypeId": {
      "type": "enum",
      "members": {
        "CACHE_BY_DEVICE_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cache_by_device_type"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemCacheByDeviceTypeValue": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemCacheByDeviceType": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemCacheByDeviceTypeId",
          "traits": {
            "smithy.api#documentation": "Separate cached content based on the visitor's device type."
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemCacheByDeviceTypeValue",
          "traits": {
            "smithy.api#documentation": "The status of Cache By Device Type."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemCacheDeceptionArmorId": {
      "type": "enum",
      "members": {
        "CACHE_DECEPTION_ARMOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cache_deception_armor"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemCacheDeceptionArmorValue": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemCacheDeceptionArmor": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemCacheDeceptionArmorId",
          "traits": {
            "smithy.api#documentation": "Protect from web cache deception attacks while still allowing static"
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemCacheDeceptionArmorValue",
          "traits": {
            "smithy.api#documentation": "The status of Cache Deception Armor."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsId": {
      "type": "enum",
      "members": {
        "CACHE_KEY_FIELDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cache_key_fields"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsValueCookieCheckPresenceList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsValueCookieIncludeList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsValueCookie": {
      "type": "structure",
      "members": {
        "check_presence": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsValueCookieCheckPresenceList",
          "traits": {
            "smithy.api#documentation": "A list of cookies to check for the presence of, without"
          }
        },
        "include": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsValueCookieIncludeList",
          "traits": {
            "smithy.api#documentation": "A list of cookies to include."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsValueHeaderCheckPresenceList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsValueHeaderExcludeList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsValueHeaderIncludeList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsValueHeader": {
      "type": "structure",
      "members": {
        "check_presence": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsValueHeaderCheckPresenceList",
          "traits": {
            "smithy.api#documentation": "A list of headers to check for the presence of, without"
          }
        },
        "exclude": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsValueHeaderExcludeList",
          "traits": {
            "smithy.api#documentation": "A list of headers to ignore."
          }
        },
        "include": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsValueHeaderIncludeList",
          "traits": {
            "smithy.api#documentation": "A list of headers to include."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsValueHost": {
      "type": "structure",
      "members": {
        "resolved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to include the Host header in the HTTP request sent"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsValueQueryStringExcludeCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsValueQueryStringExcludeEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "*"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsValueQueryStringExclude": {
      "type": "union",
      "members": {
        "CreateRequestActionsItemCacheKeyFieldsValueQueryStringExcludeEnum": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsValueQueryStringExcludeEnum"
        },
        "CreateRequestActionsItemCacheKeyFieldsValueQueryStringExcludeCase1List": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsValueQueryStringExcludeCase1List"
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsValueQueryStringIncludeCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsValueQueryStringIncludeEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "*"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsValueQueryStringInclude": {
      "type": "union",
      "members": {
        "CreateRequestActionsItemCacheKeyFieldsValueQueryStringIncludeEnum": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsValueQueryStringIncludeEnum"
        },
        "CreateRequestActionsItemCacheKeyFieldsValueQueryStringIncludeCase1List": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsValueQueryStringIncludeCase1List"
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsValueQueryString": {
      "type": "structure",
      "members": {
        "exclude": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsValueQueryStringExclude",
          "traits": {
            "smithy.api#documentation": "Ignore all query string parameters."
          }
        },
        "include": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsValueQueryStringInclude",
          "traits": {
            "smithy.api#documentation": "Include all query string parameters."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsValueUser": {
      "type": "structure",
      "members": {
        "device_type": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Classifies a request as `mobile`, `desktop`, or `tablet`"
          }
        },
        "geo": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Includes the client's country, derived from the IP address."
          }
        },
        "lang": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Includes the first language code contained in the"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsValue": {
      "type": "structure",
      "members": {
        "cookie": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsValueCookie",
          "traits": {
            "smithy.api#documentation": "Controls which cookies appear in the Cache Key."
          }
        },
        "header": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsValueHeader",
          "traits": {
            "smithy.api#documentation": "Controls which headers go into the Cache Key. Exactly one of"
          }
        },
        "host": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsValueHost",
          "traits": {
            "smithy.api#documentation": "Determines which host header to include in the Cache Key."
          }
        },
        "query_string": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsValueQueryString",
          "traits": {
            "smithy.api#documentation": "Controls which URL query string parameters go into the Cache"
          }
        },
        "user": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsValueUser",
          "traits": {
            "smithy.api#documentation": "Feature fields to add features about the end-user (client) into"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFields": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsId",
          "traits": {
            "smithy.api#documentation": "Control specifically what variables to include when deciding which"
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFieldsValue"
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemCacheLevelId": {
      "type": "enum",
      "members": {
        "CACHE_LEVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cache_level"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemCacheLevelValue": {
      "type": "enum",
      "members": {
        "BYPASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bypass"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "basic"
          }
        },
        "SIMPLIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "simplified"
          }
        },
        "AGGRESSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aggressive"
          }
        },
        "CACHE_EVERYTHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cache_everything"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemCacheLevel": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemCacheLevelId",
          "traits": {
            "smithy.api#documentation": "Apply custom caching based on the option selected."
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemCacheLevelValue",
          "traits": {
            "smithy.api#documentation": "* `bypass`: Cloudflare does not cache."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemCacheOnCookieId": {
      "type": "enum",
      "members": {
        "CACHE_ON_COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cache_on_cookie"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemCacheOnCookie": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemCacheOnCookieId",
          "traits": {
            "smithy.api#documentation": "Apply the Cache Everything option (Cache Level setting) based on a"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The regular expression to use for matching cookie names in the"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemCacheTTLByStatusId": {
      "type": "enum",
      "members": {
        "CACHE_TTL_BY_STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cache_ttl_by_status"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemCacheTTLByStatusValueCase0": {
      "type": "enum",
      "members": {
        "NO_CACHE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no-cache"
          }
        },
        "NO_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no-store"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemCacheTTLByStatusValue": {
      "type": "union",
      "members": {
        "Double": {
          "target": "smithy.api#Double"
        },
        "CreateRequestActionsItemCacheTTLByStatusValueCase0": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemCacheTTLByStatusValueCase0"
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemCacheTTLByStatus": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemCacheTTLByStatusId",
          "traits": {
            "smithy.api#documentation": "Enterprise customers can set cache time-to-live (TTL) based on the"
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemCacheTTLByStatusValue",
          "traits": {
            "smithy.api#documentation": "A JSON object containing status codes and their corresponding TTLs."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemDisableAppsId": {
      "type": "enum",
      "members": {
        "DISABLE_APPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disable_apps"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemDisableApps": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemDisableAppsId",
          "traits": {
            "smithy.api#documentation": "Turn off all active [Cloudflare Apps](https://developers.cloudflare.com/support/more-dashboard-apps/cloudflare-apps/)"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemDisablePerformanceId": {
      "type": "enum",
      "members": {
        "DISABLE_PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disable_performance"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemDisablePerformance": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemDisablePerformanceId",
          "traits": {
            "smithy.api#documentation": "Turn off"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemDisableSecurityId": {
      "type": "enum",
      "members": {
        "DISABLE_SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disable_security"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemDisableSecurity": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemDisableSecurityId",
          "traits": {
            "smithy.api#documentation": "Turn off"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemDisableZarazId": {
      "type": "enum",
      "members": {
        "DISABLE_ZARAZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disable_zaraz"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemDisableZaraz": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemDisableZarazId",
          "traits": {
            "smithy.api#documentation": "Turn off [Zaraz](https://developers.cloudflare.com/zaraz/)."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemEdgeCacheTTLId": {
      "type": "enum",
      "members": {
        "EDGE_CACHE_TTL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge_cache_ttl"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemEdgeCacheTTL": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemEdgeCacheTTLId",
          "traits": {
            "smithy.api#documentation": "Specify how long to cache a resource in the Cloudflare global"
          }
        },
        "value": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemEmailObfuscationId": {
      "type": "enum",
      "members": {
        "EMAIL_OBFUSCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email_obfuscation"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemEmailObfuscationValue": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemEmailObfuscation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemEmailObfuscationId",
          "traits": {
            "smithy.api#documentation": "Turn on or off **Email Obfuscation**."
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemEmailObfuscationValue",
          "traits": {
            "smithy.api#documentation": "The status of Email Obfuscation."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemExplicitCacheControlId": {
      "type": "enum",
      "members": {
        "EXPLICIT_CACHE_CONTROL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "explicit_cache_control"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemExplicitCacheControlValue": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemExplicitCacheControl": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemExplicitCacheControlId",
          "traits": {
            "smithy.api#documentation": "Origin Cache Control is enabled by default for Free, Pro, and"
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemExplicitCacheControlValue",
          "traits": {
            "smithy.api#documentation": "The status of Origin Cache Control."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemForwardingURLId": {
      "type": "enum",
      "members": {
        "FORWARDING_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "forwarding_url"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemForwardingURLValueStatusCode": {
      "type": "intEnum",
      "members": {
        "_301": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 301
          }
        },
        "_302": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 302
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemForwardingURLValue": {
      "type": "structure",
      "members": {
        "status_code": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemForwardingURLValueStatusCode",
          "traits": {
            "smithy.api#documentation": "The status code to use for the URL redirect. 301 is a permanent"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to redirect the request to."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemForwardingURL": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemForwardingURLId",
          "traits": {
            "smithy.api#documentation": "Redirects one URL to another using an `HTTP 301/302` redirect. Refer"
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemForwardingURLValue"
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemHostHeaderOverrideId": {
      "type": "enum",
      "members": {
        "HOST_HEADER_OVERRIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "host_header_override"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemHostHeaderOverride": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemHostHeaderOverrideId",
          "traits": {
            "smithy.api#documentation": "Apply a specific host header."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname to use in the `Host` header"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemIPGeolocationId": {
      "type": "enum",
      "members": {
        "IP_GEOLOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip_geolocation"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemIPGeolocationValue": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemIPGeolocation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemIPGeolocationId",
          "traits": {
            "smithy.api#documentation": "Cloudflare adds a CF-IPCountry HTTP header containing the country code that corresponds to the visitor."
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemIPGeolocationValue",
          "traits": {
            "smithy.api#documentation": "The status of adding the IP Geolocation Header."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemMirageId": {
      "type": "enum",
      "members": {
        "MIRAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mirage"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemMirageValue": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemMirage": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemMirageId",
          "traits": {
            "smithy.api#documentation": "Cloudflare Mirage reduces bandwidth used by images in mobile browsers."
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemMirageValue",
          "traits": {
            "smithy.api#documentation": "The status of Mirage."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemOpportunisticEncryptionId": {
      "type": "enum",
      "members": {
        "OPPORTUNISTIC_ENCRYPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opportunistic_encryption"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemOpportunisticEncryptionValue": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemOpportunisticEncryption": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemOpportunisticEncryptionId",
          "traits": {
            "smithy.api#documentation": "Opportunistic Encryption allows browsers to access HTTP URIs over an encrypted TLS channel."
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemOpportunisticEncryptionValue",
          "traits": {
            "smithy.api#documentation": "The status of Opportunistic Encryption."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemOriginErrorPagePassThruId": {
      "type": "enum",
      "members": {
        "ORIGIN_ERROR_PAGE_PASS_THRU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "origin_error_page_pass_thru"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemOriginErrorPagePassThruValue": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemOriginErrorPagePassThru": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemOriginErrorPagePassThruId",
          "traits": {
            "smithy.api#documentation": "Turn on or off Cloudflare error pages generated from issues sent from the origin server. If enabled, this setting triggers error pages issued by the origin."
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemOriginErrorPagePassThruValue",
          "traits": {
            "smithy.api#documentation": "The status of Origin Error Page Passthru."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemPolishId": {
      "type": "enum",
      "members": {
        "POLISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "polish"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemPolishValue": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "LOSSLESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lossless"
          }
        },
        "LOSSY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lossy"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemPolish": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemPolishId",
          "traits": {
            "smithy.api#documentation": "Apply options from the Polish feature of the Cloudflare Speed app."
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemPolishValue",
          "traits": {
            "smithy.api#documentation": "The level of Polish you want applied to your origin."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemResolveOverrideId": {
      "type": "enum",
      "members": {
        "RESOLVE_OVERRIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resolve_override"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemResolveOverride": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemResolveOverrideId",
          "traits": {
            "smithy.api#documentation": "Change the origin address to the value specified in this setting."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The origin address you want to override with."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemRespectStrongEtagId": {
      "type": "enum",
      "members": {
        "RESPECT_STRONG_ETAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "respect_strong_etag"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemRespectStrongEtagValue": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemRespectStrongEtag": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemRespectStrongEtagId",
          "traits": {
            "smithy.api#documentation": "Turn on or off byte-for-byte equivalency checks between the"
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemRespectStrongEtagValue",
          "traits": {
            "smithy.api#documentation": "The status of Respect Strong ETags"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemResponseBufferingId": {
      "type": "enum",
      "members": {
        "RESPONSE_BUFFERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "response_buffering"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemResponseBufferingValue": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemResponseBuffering": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemResponseBufferingId",
          "traits": {
            "smithy.api#documentation": "Turn on or off whether Cloudflare should wait for an entire file"
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemResponseBufferingValue",
          "traits": {
            "smithy.api#documentation": "The status of Response Buffering"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemRocketLoaderId": {
      "type": "enum",
      "members": {
        "ROCKET_LOADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rocket_loader"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemRocketLoaderValue": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemRocketLoader": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemRocketLoaderId",
          "traits": {
            "smithy.api#documentation": "Turn on or off Rocket Loader in the Cloudflare Speed app."
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemRocketLoaderValue",
          "traits": {
            "smithy.api#documentation": "The status of Rocket Loader"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemSecurityLevelId": {
      "type": "enum",
      "members": {
        "SECURITY_LEVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "security_level"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemSecurityLevelValue": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "ESSENTIALLY_OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "essentially_off"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "UNDER_ATTACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "under_attack"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemSecurityLevel": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemSecurityLevelId",
          "traits": {
            "smithy.api#documentation": "Control options for the **Security Level** feature from the **Security** app."
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemSecurityLevelValue"
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemSortQueryStringForCacheId": {
      "type": "enum",
      "members": {
        "SORT_QUERY_STRING_FOR_CACHE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sort_query_string_for_cache"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemSortQueryStringForCacheValue": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemSortQueryStringForCache": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemSortQueryStringForCacheId",
          "traits": {
            "smithy.api#documentation": "Turn on or off the reordering of query strings. When query strings have the same structure, caching improves."
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemSortQueryStringForCacheValue",
          "traits": {
            "smithy.api#documentation": "The status of Query String Sort"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemSSLId": {
      "type": "enum",
      "members": {
        "SSL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ssl"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemSSLValue": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "FLEXIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flexible"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "full"
          }
        },
        "STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "strict"
          }
        },
        "ORIGIN_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "origin_pull"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemSSL": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemSSLId",
          "traits": {
            "smithy.api#documentation": "Control options for the SSL feature of the Edge Certificates tab in the Cloudflare SSL/TLS app."
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemSSLValue",
          "traits": {
            "smithy.api#documentation": "The encryption mode that Cloudflare uses to connect to your origin server."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemTrueClientIPHeaderId": {
      "type": "enum",
      "members": {
        "TRUE_CLIENT_IP_HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "true_client_ip_header"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemTrueClientIPHeaderValue": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemTrueClientIPHeader": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemTrueClientIPHeaderId",
          "traits": {
            "smithy.api#documentation": "Turn on or off the True-Client-IP Header feature of the Cloudflare Network app."
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemTrueClientIPHeaderValue",
          "traits": {
            "smithy.api#documentation": "The status of True Client IP Header."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemWAFId": {
      "type": "enum",
      "members": {
        "WAF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waf"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemWAFValue": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItemWAF": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemWAFId",
          "traits": {
            "smithy.api#documentation": "Turn on or off [WAF managed rules (previous version, deprecated)](https://developers.cloudflare.com/waf/reference/legacy/old-waf-managed-rules/)."
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemWAFValue",
          "traits": {
            "smithy.api#documentation": "The status of WAF managed rules (previous version)."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsItem": {
      "type": "union",
      "members": {
        "AlwaysUseHTTPS": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemAlwaysUseHTTPS"
        },
        "AutomaticHTTPSRewrites": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemAutomaticHTTPSRewrites"
        },
        "BrowserCacheTTL": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemBrowserCacheTTL"
        },
        "BrowserCheck": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemBrowserCheck"
        },
        "BypassCacheOnCookie": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemBypassCacheOnCookie"
        },
        "CacheByDeviceType": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemCacheByDeviceType"
        },
        "CacheDeceptionArmor": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemCacheDeceptionArmor"
        },
        "CacheKeyFields": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemCacheKeyFields"
        },
        "CacheLevel": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemCacheLevel"
        },
        "CacheOnCookie": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemCacheOnCookie"
        },
        "CacheTTLByStatus": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemCacheTTLByStatus"
        },
        "DisableApps": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemDisableApps"
        },
        "DisablePerformance": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemDisablePerformance"
        },
        "DisableSecurity": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemDisableSecurity"
        },
        "DisableZaraz": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemDisableZaraz"
        },
        "EdgeCacheTTL": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemEdgeCacheTTL"
        },
        "EmailObfuscation": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemEmailObfuscation"
        },
        "ExplicitCacheControl": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemExplicitCacheControl"
        },
        "ForwardingURL": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemForwardingURL"
        },
        "HostHeaderOverride": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemHostHeaderOverride"
        },
        "IPGeolocation": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemIPGeolocation"
        },
        "Mirage": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemMirage"
        },
        "OpportunisticEncryption": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemOpportunisticEncryption"
        },
        "OriginErrorPagePassThru": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemOriginErrorPagePassThru"
        },
        "Polish": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemPolish"
        },
        "ResolveOverride": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemResolveOverride"
        },
        "RespectStrongEtag": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemRespectStrongEtag"
        },
        "ResponseBuffering": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemResponseBuffering"
        },
        "RocketLoader": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemRocketLoader"
        },
        "SecurityLevel": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemSecurityLevel"
        },
        "SortQueryStringForCache": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemSortQueryStringForCache"
        },
        "SSL": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemSSL"
        },
        "TrueClientIPHeader": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemTrueClientIPHeader"
        },
        "WAF": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsItemWAF"
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestActionsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.page_rules#CreateRequestActionsItem"
      }
    },
    "com.cloudflare.page_rules#CreateRequestTargetsItemConstraintOperator": {
      "type": "enum",
      "members": {
        "MATCHES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "matches"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contains"
          }
        },
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        },
        "NOT_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_equal"
          }
        },
        "NOT_CONTAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_contain"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestTargetsItemConstraint": {
      "type": "structure",
      "members": {
        "operator": {
          "target": "com.cloudflare.page_rules#CreateRequestTargetsItemConstraintOperator",
          "traits": {
            "smithy.api#documentation": "The matches operator can use asterisks and pipes as wildcard and 'or' operators.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL pattern to match against the current request. The pattern may contain up to four asterisks ('*') as placeholders.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestTargetsItemTarget": {
      "type": "enum",
      "members": {
        "URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "url"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestTargetsItem": {
      "type": "structure",
      "members": {
        "constraint": {
          "target": "com.cloudflare.page_rules#CreateRequestTargetsItemConstraint",
          "traits": {
            "smithy.api#documentation": "String constraint."
          }
        },
        "target": {
          "target": "com.cloudflare.page_rules#CreateRequestTargetsItemTarget",
          "traits": {
            "smithy.api#documentation": "A target based on the URL of the request."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequestTargetsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.page_rules#CreateRequestTargetsItem"
      }
    },
    "com.cloudflare.page_rules#CreateRequestStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "actions": {
          "target": "com.cloudflare.page_rules#CreateRequestActionsList",
          "traits": {
            "smithy.api#documentation": "The set of actions to perform if the targets of this rule match the",
            "smithy.api#required": {}
          }
        },
        "targets": {
          "target": "com.cloudflare.page_rules#CreateRequestTargetsList",
          "traits": {
            "smithy.api#documentation": "The rule targets to evaluate on each request.",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The priority of the rule, used to define which Page Rule is processed"
          }
        },
        "status": {
          "target": "com.cloudflare.page_rules#CreateRequestStatus",
          "traits": {
            "smithy.api#documentation": "The status of the Page Rule."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemAlwaysUseHTTPSId": {
      "type": "enum",
      "members": {
        "ALWAYS_USE_HTTPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "always_use_https"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemAlwaysUseHTTPS": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemAlwaysUseHTTPSId",
          "traits": {
            "smithy.api#documentation": "If enabled, any `http://`` URL is converted to`https://` through a"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemAutomaticHTTPSRewritesId": {
      "type": "enum",
      "members": {
        "AUTOMATIC_HTTPS_REWRITES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automatic_https_rewrites"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemAutomaticHTTPSRewritesValue": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemAutomaticHTTPSRewrites": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemAutomaticHTTPSRewritesId",
          "traits": {
            "smithy.api#documentation": "Turn on or off Automatic HTTPS Rewrites."
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemAutomaticHTTPSRewritesValue",
          "traits": {
            "smithy.api#documentation": "The status of Automatic HTTPS Rewrites."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemBrowserCacheTTLId": {
      "type": "enum",
      "members": {
        "BROWSER_CACHE_TTL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "browser_cache_ttl"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemBrowserCacheTTL": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemBrowserCacheTTLId",
          "traits": {
            "smithy.api#documentation": "Control how long resources cached by client browsers remain valid."
          }
        },
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to cache resources for."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemBrowserCheckId": {
      "type": "enum",
      "members": {
        "BROWSER_CHECK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "browser_check"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemBrowserCheckValue": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemBrowserCheck": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemBrowserCheckId",
          "traits": {
            "smithy.api#documentation": "Inspect the visitor's browser for headers commonly associated with"
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemBrowserCheckValue",
          "traits": {
            "smithy.api#documentation": "The status of Browser Integrity Check."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemBypassCacheOnCookieId": {
      "type": "enum",
      "members": {
        "BYPASS_CACHE_ON_COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bypass_cache_on_cookie"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemBypassCacheOnCookie": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemBypassCacheOnCookieId",
          "traits": {
            "smithy.api#documentation": "Bypass cache and fetch resources from the origin server if a regular"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The regular expression to use for matching cookie names in the"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemCacheByDeviceTypeId": {
      "type": "enum",
      "members": {
        "CACHE_BY_DEVICE_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cache_by_device_type"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemCacheByDeviceTypeValue": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemCacheByDeviceType": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemCacheByDeviceTypeId",
          "traits": {
            "smithy.api#documentation": "Separate cached content based on the visitor's device type."
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemCacheByDeviceTypeValue",
          "traits": {
            "smithy.api#documentation": "The status of Cache By Device Type."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemCacheDeceptionArmorId": {
      "type": "enum",
      "members": {
        "CACHE_DECEPTION_ARMOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cache_deception_armor"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemCacheDeceptionArmorValue": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemCacheDeceptionArmor": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemCacheDeceptionArmorId",
          "traits": {
            "smithy.api#documentation": "Protect from web cache deception attacks while still allowing static"
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemCacheDeceptionArmorValue",
          "traits": {
            "smithy.api#documentation": "The status of Cache Deception Armor."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsId": {
      "type": "enum",
      "members": {
        "CACHE_KEY_FIELDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cache_key_fields"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsValueCookieCheckPresenceList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsValueCookieIncludeList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsValueCookie": {
      "type": "structure",
      "members": {
        "check_presence": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsValueCookieCheckPresenceList",
          "traits": {
            "smithy.api#documentation": "A list of cookies to check for the presence of, without"
          }
        },
        "include": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsValueCookieIncludeList",
          "traits": {
            "smithy.api#documentation": "A list of cookies to include."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsValueHeaderCheckPresenceList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsValueHeaderExcludeList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsValueHeaderIncludeList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsValueHeader": {
      "type": "structure",
      "members": {
        "check_presence": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsValueHeaderCheckPresenceList",
          "traits": {
            "smithy.api#documentation": "A list of headers to check for the presence of, without"
          }
        },
        "exclude": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsValueHeaderExcludeList",
          "traits": {
            "smithy.api#documentation": "A list of headers to ignore."
          }
        },
        "include": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsValueHeaderIncludeList",
          "traits": {
            "smithy.api#documentation": "A list of headers to include."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsValueHost": {
      "type": "structure",
      "members": {
        "resolved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to include the Host header in the HTTP request sent"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsValueQueryStringExcludeCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsValueQueryStringExcludeEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "*"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsValueQueryStringExclude": {
      "type": "union",
      "members": {
        "CreateResponseActionsItemCacheKeyFieldsValueQueryStringExcludeEnum": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsValueQueryStringExcludeEnum"
        },
        "CreateResponseActionsItemCacheKeyFieldsValueQueryStringExcludeCase1List": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsValueQueryStringExcludeCase1List"
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsValueQueryStringIncludeCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsValueQueryStringIncludeEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "*"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsValueQueryStringInclude": {
      "type": "union",
      "members": {
        "CreateResponseActionsItemCacheKeyFieldsValueQueryStringIncludeEnum": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsValueQueryStringIncludeEnum"
        },
        "CreateResponseActionsItemCacheKeyFieldsValueQueryStringIncludeCase1List": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsValueQueryStringIncludeCase1List"
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsValueQueryString": {
      "type": "structure",
      "members": {
        "exclude": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsValueQueryStringExclude",
          "traits": {
            "smithy.api#documentation": "Ignore all query string parameters."
          }
        },
        "include": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsValueQueryStringInclude",
          "traits": {
            "smithy.api#documentation": "Include all query string parameters."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsValueUser": {
      "type": "structure",
      "members": {
        "device_type": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Classifies a request as `mobile`, `desktop`, or `tablet`"
          }
        },
        "geo": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Includes the client's country, derived from the IP address."
          }
        },
        "lang": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Includes the first language code contained in the"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsValue": {
      "type": "structure",
      "members": {
        "cookie": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsValueCookie",
          "traits": {
            "smithy.api#documentation": "Controls which cookies appear in the Cache Key."
          }
        },
        "header": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsValueHeader",
          "traits": {
            "smithy.api#documentation": "Controls which headers go into the Cache Key. Exactly one of"
          }
        },
        "host": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsValueHost",
          "traits": {
            "smithy.api#documentation": "Determines which host header to include in the Cache Key."
          }
        },
        "query_string": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsValueQueryString",
          "traits": {
            "smithy.api#documentation": "Controls which URL query string parameters go into the Cache"
          }
        },
        "user": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsValueUser",
          "traits": {
            "smithy.api#documentation": "Feature fields to add features about the end-user (client) into"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFields": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsId",
          "traits": {
            "smithy.api#documentation": "Control specifically what variables to include when deciding which"
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemCacheKeyFieldsValue"
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemCacheLevelId": {
      "type": "enum",
      "members": {
        "CACHE_LEVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cache_level"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemCacheLevelValue": {
      "type": "enum",
      "members": {
        "BYPASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bypass"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "basic"
          }
        },
        "SIMPLIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "simplified"
          }
        },
        "AGGRESSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aggressive"
          }
        },
        "CACHE_EVERYTHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cache_everything"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemCacheLevel": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemCacheLevelId",
          "traits": {
            "smithy.api#documentation": "Apply custom caching based on the option selected."
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemCacheLevelValue",
          "traits": {
            "smithy.api#documentation": "* `bypass`: Cloudflare does not cache."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemCacheOnCookieId": {
      "type": "enum",
      "members": {
        "CACHE_ON_COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cache_on_cookie"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemCacheOnCookie": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemCacheOnCookieId",
          "traits": {
            "smithy.api#documentation": "Apply the Cache Everything option (Cache Level setting) based on a"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The regular expression to use for matching cookie names in the"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemCacheTTLByStatusId": {
      "type": "enum",
      "members": {
        "CACHE_TTL_BY_STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cache_ttl_by_status"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemCacheTTLByStatusValueCase0": {
      "type": "enum",
      "members": {
        "NO_CACHE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no-cache"
          }
        },
        "NO_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no-store"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemCacheTTLByStatusValue": {
      "type": "union",
      "members": {
        "Double": {
          "target": "smithy.api#Double"
        },
        "CreateResponseActionsItemCacheTTLByStatusValueCase0": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemCacheTTLByStatusValueCase0"
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemCacheTTLByStatus": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemCacheTTLByStatusId",
          "traits": {
            "smithy.api#documentation": "Enterprise customers can set cache time-to-live (TTL) based on the"
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemCacheTTLByStatusValue",
          "traits": {
            "smithy.api#documentation": "A JSON object containing status codes and their corresponding TTLs."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemDisableAppsId": {
      "type": "enum",
      "members": {
        "DISABLE_APPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disable_apps"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemDisableApps": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemDisableAppsId",
          "traits": {
            "smithy.api#documentation": "Turn off all active [Cloudflare Apps](https://developers.cloudflare.com/support/more-dashboard-apps/cloudflare-apps/)"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemDisablePerformanceId": {
      "type": "enum",
      "members": {
        "DISABLE_PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disable_performance"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemDisablePerformance": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemDisablePerformanceId",
          "traits": {
            "smithy.api#documentation": "Turn off"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemDisableSecurityId": {
      "type": "enum",
      "members": {
        "DISABLE_SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disable_security"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemDisableSecurity": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemDisableSecurityId",
          "traits": {
            "smithy.api#documentation": "Turn off"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemDisableZarazId": {
      "type": "enum",
      "members": {
        "DISABLE_ZARAZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disable_zaraz"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemDisableZaraz": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemDisableZarazId",
          "traits": {
            "smithy.api#documentation": "Turn off [Zaraz](https://developers.cloudflare.com/zaraz/)."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemEdgeCacheTTLId": {
      "type": "enum",
      "members": {
        "EDGE_CACHE_TTL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge_cache_ttl"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemEdgeCacheTTL": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemEdgeCacheTTLId",
          "traits": {
            "smithy.api#documentation": "Specify how long to cache a resource in the Cloudflare global"
          }
        },
        "value": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemEmailObfuscationId": {
      "type": "enum",
      "members": {
        "EMAIL_OBFUSCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email_obfuscation"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemEmailObfuscationValue": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemEmailObfuscation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemEmailObfuscationId",
          "traits": {
            "smithy.api#documentation": "Turn on or off **Email Obfuscation**."
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemEmailObfuscationValue",
          "traits": {
            "smithy.api#documentation": "The status of Email Obfuscation."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemExplicitCacheControlId": {
      "type": "enum",
      "members": {
        "EXPLICIT_CACHE_CONTROL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "explicit_cache_control"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemExplicitCacheControlValue": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemExplicitCacheControl": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemExplicitCacheControlId",
          "traits": {
            "smithy.api#documentation": "Origin Cache Control is enabled by default for Free, Pro, and"
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemExplicitCacheControlValue",
          "traits": {
            "smithy.api#documentation": "The status of Origin Cache Control."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemForwardingURLId": {
      "type": "enum",
      "members": {
        "FORWARDING_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "forwarding_url"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemForwardingURLValueStatusCode": {
      "type": "intEnum",
      "members": {
        "_301": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 301
          }
        },
        "_302": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 302
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemForwardingURLValue": {
      "type": "structure",
      "members": {
        "status_code": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemForwardingURLValueStatusCode",
          "traits": {
            "smithy.api#documentation": "The status code to use for the URL redirect. 301 is a permanent"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to redirect the request to."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemForwardingURL": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemForwardingURLId",
          "traits": {
            "smithy.api#documentation": "Redirects one URL to another using an `HTTP 301/302` redirect. Refer"
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemForwardingURLValue"
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemHostHeaderOverrideId": {
      "type": "enum",
      "members": {
        "HOST_HEADER_OVERRIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "host_header_override"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemHostHeaderOverride": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemHostHeaderOverrideId",
          "traits": {
            "smithy.api#documentation": "Apply a specific host header."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname to use in the `Host` header"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemIPGeolocationId": {
      "type": "enum",
      "members": {
        "IP_GEOLOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip_geolocation"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemIPGeolocationValue": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemIPGeolocation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemIPGeolocationId",
          "traits": {
            "smithy.api#documentation": "Cloudflare adds a CF-IPCountry HTTP header containing the country code that corresponds to the visitor."
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemIPGeolocationValue",
          "traits": {
            "smithy.api#documentation": "The status of adding the IP Geolocation Header."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemMirageId": {
      "type": "enum",
      "members": {
        "MIRAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mirage"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemMirageValue": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemMirage": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemMirageId",
          "traits": {
            "smithy.api#documentation": "Cloudflare Mirage reduces bandwidth used by images in mobile browsers."
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemMirageValue",
          "traits": {
            "smithy.api#documentation": "The status of Mirage."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemOpportunisticEncryptionId": {
      "type": "enum",
      "members": {
        "OPPORTUNISTIC_ENCRYPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opportunistic_encryption"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemOpportunisticEncryptionValue": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemOpportunisticEncryption": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemOpportunisticEncryptionId",
          "traits": {
            "smithy.api#documentation": "Opportunistic Encryption allows browsers to access HTTP URIs over an encrypted TLS channel."
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemOpportunisticEncryptionValue",
          "traits": {
            "smithy.api#documentation": "The status of Opportunistic Encryption."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemOriginErrorPagePassThruId": {
      "type": "enum",
      "members": {
        "ORIGIN_ERROR_PAGE_PASS_THRU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "origin_error_page_pass_thru"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemOriginErrorPagePassThruValue": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemOriginErrorPagePassThru": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemOriginErrorPagePassThruId",
          "traits": {
            "smithy.api#documentation": "Turn on or off Cloudflare error pages generated from issues sent from the origin server. If enabled, this setting triggers error pages issued by the origin."
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemOriginErrorPagePassThruValue",
          "traits": {
            "smithy.api#documentation": "The status of Origin Error Page Passthru."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemPolishId": {
      "type": "enum",
      "members": {
        "POLISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "polish"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemPolishValue": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "LOSSLESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lossless"
          }
        },
        "LOSSY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lossy"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemPolish": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemPolishId",
          "traits": {
            "smithy.api#documentation": "Apply options from the Polish feature of the Cloudflare Speed app."
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemPolishValue",
          "traits": {
            "smithy.api#documentation": "The level of Polish you want applied to your origin."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemResolveOverrideId": {
      "type": "enum",
      "members": {
        "RESOLVE_OVERRIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resolve_override"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemResolveOverride": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemResolveOverrideId",
          "traits": {
            "smithy.api#documentation": "Change the origin address to the value specified in this setting."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The origin address you want to override with."
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemRespectStrongEtagId": {
      "type": "enum",
      "members": {
        "RESPECT_STRONG_ETAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "respect_strong_etag"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemRespectStrongEtagValue": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemRespectStrongEtag": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemRespectStrongEtagId",
          "traits": {
            "smithy.api#documentation": "Turn on or off byte-for-byte equivalency checks between the"
          }
        },
        "value": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemRespectStrongEtagValue",
          "traits": {
            "smithy.api#documentation": "The status of Respect Strong ETags"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemResponseBufferingId": {
      "type": "enum",
      "members": {
        "RESPONSE_BUFFERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "response_buffering"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemResponseBufferingValue": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      }
    },
    "com.cloudflare.page_rules#CreateResponseActionsItemResponseBuffering": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.cloudflare.page_rules#CreateResponseActionsItemResponseBufferingId",
          "traits": {
[...]
