{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.queues#CreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#CreateResponseConsumersItemWorkerSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform's maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#CreateResponseConsumersItemWorkerType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#CreateResponseConsumersItemWorker": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "settings": {
          "target": "com.cloudflare.queues#CreateResponseConsumersItemWorkerSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#CreateResponseConsumersItemWorkerType"
        }
      }
    },
    "com.cloudflare.queues#CreateResponseConsumersItemHTTPPullSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "visibility_timeout_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds that a message is exclusively leased. After the timeout, the message becomes available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#CreateResponseConsumersItemHTTPPullType": {
      "type": "enum",
      "members": {
        "HTTP_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_pull"
          }
        }
      }
    },
    "com.cloudflare.queues#CreateResponseConsumersItemHTTPPull": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#CreateResponseConsumersItemHTTPPullSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#CreateResponseConsumersItemHTTPPullType"
        }
      }
    },
    "com.cloudflare.queues#CreateResponseConsumersItem": {
      "type": "union",
      "members": {
        "Worker": {
          "target": "com.cloudflare.queues#CreateResponseConsumersItemWorker"
        },
        "HTTPPull": {
          "target": "com.cloudflare.queues#CreateResponseConsumersItemHTTPPull"
        }
      }
    },
    "com.cloudflare.queues#CreateResponseConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#CreateResponseConsumersItem"
      }
    },
    "com.cloudflare.queues#CreateResponseProducersItemMqWorkerProducerType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#CreateResponseProducersItemMqWorkerProducer": {
      "type": "structure",
      "members": {
        "script": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.queues#CreateResponseProducersItemMqWorkerProducerType"
        }
      }
    },
    "com.cloudflare.queues#CreateResponseProducersItemMqR2ProducerType": {
      "type": "enum",
      "members": {
        "R2_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2_bucket"
          }
        }
      }
    },
    "com.cloudflare.queues#CreateResponseProducersItemMqR2Producer": {
      "type": "structure",
      "members": {
        "bucket_name": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.queues#CreateResponseProducersItemMqR2ProducerType"
        }
      }
    },
    "com.cloudflare.queues#CreateResponseProducersItem": {
      "type": "union",
      "members": {
        "MqWorkerProducer": {
          "target": "com.cloudflare.queues#CreateResponseProducersItemMqWorkerProducer"
        },
        "MqR2Producer": {
          "target": "com.cloudflare.queues#CreateResponseProducersItemMqR2Producer"
        }
      }
    },
    "com.cloudflare.queues#CreateResponseProducersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#CreateResponseProducersItem"
      }
    },
    "com.cloudflare.queues#CreateResponseSettings": {
      "type": "structure",
      "members": {
        "delivery_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds to delay delivery of all messages to consumers."
          }
        },
        "delivery_paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if message delivery to consumers is currently paused."
          }
        },
        "message_retention_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds after which an unconsumed message will be delayed."
          }
        }
      }
    },
    "com.cloudflare.queues#CreateResponse": {
      "type": "structure",
      "members": {
        "consumers": {
          "target": "com.cloudflare.queues#CreateResponseConsumersList"
        },
        "consumers_total_count": {
          "target": "smithy.api#Double"
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "producers": {
          "target": "com.cloudflare.queues#CreateResponseProducersList"
        },
        "producers_total_count": {
          "target": "smithy.api#Double"
        },
        "queue_id": {
          "target": "smithy.api#String"
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#CreateResponseSettings"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.queues#Create": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#CreateRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#CreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/queues",
          "code": 200
        },
        "smithy.api#documentation": "Create a new queue"
      }
    },
    "com.cloudflare.queues#DeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#Delete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#DeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/queues/{queue_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes a queue",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.queues#EditRequestSettings": {
      "type": "structure",
      "members": {
        "delivery_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds to delay delivery of all messages to consumers."
          }
        },
        "delivery_paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if message delivery to consumers is currently paused."
          }
        },
        "message_retention_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds after which an unconsumed message will be delayed."
          }
        }
      }
    },
    "com.cloudflare.queues#EditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#EditRequestSettings"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#EditResponseConsumersItemWorkerSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform's maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#EditResponseConsumersItemWorkerType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#EditResponseConsumersItemWorker": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "settings": {
          "target": "com.cloudflare.queues#EditResponseConsumersItemWorkerSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#EditResponseConsumersItemWorkerType"
        }
      }
    },
    "com.cloudflare.queues#EditResponseConsumersItemHTTPPullSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "visibility_timeout_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds that a message is exclusively leased. After the timeout, the message becomes available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#EditResponseConsumersItemHTTPPullType": {
      "type": "enum",
      "members": {
        "HTTP_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_pull"
          }
        }
      }
    },
    "com.cloudflare.queues#EditResponseConsumersItemHTTPPull": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#EditResponseConsumersItemHTTPPullSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#EditResponseConsumersItemHTTPPullType"
        }
      }
    },
    "com.cloudflare.queues#EditResponseConsumersItem": {
      "type": "union",
      "members": {
        "Worker": {
          "target": "com.cloudflare.queues#EditResponseConsumersItemWorker"
        },
        "HTTPPull": {
          "target": "com.cloudflare.queues#EditResponseConsumersItemHTTPPull"
        }
      }
    },
    "com.cloudflare.queues#EditResponseConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#EditResponseConsumersItem"
      }
    },
    "com.cloudflare.queues#EditResponseProducersItemMqWorkerProducerType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#EditResponseProducersItemMqWorkerProducer": {
      "type": "structure",
      "members": {
        "script": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.queues#EditResponseProducersItemMqWorkerProducerType"
        }
      }
    },
    "com.cloudflare.queues#EditResponseProducersItemMqR2ProducerType": {
      "type": "enum",
      "members": {
        "R2_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2_bucket"
          }
        }
      }
    },
    "com.cloudflare.queues#EditResponseProducersItemMqR2Producer": {
      "type": "structure",
      "members": {
        "bucket_name": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.queues#EditResponseProducersItemMqR2ProducerType"
        }
      }
    },
    "com.cloudflare.queues#EditResponseProducersItem": {
      "type": "union",
      "members": {
        "MqWorkerProducer": {
          "target": "com.cloudflare.queues#EditResponseProducersItemMqWorkerProducer"
        },
        "MqR2Producer": {
          "target": "com.cloudflare.queues#EditResponseProducersItemMqR2Producer"
        }
      }
    },
    "com.cloudflare.queues#EditResponseProducersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#EditResponseProducersItem"
      }
    },
    "com.cloudflare.queues#EditResponseSettings": {
      "type": "structure",
      "members": {
        "delivery_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds to delay delivery of all messages to consumers."
          }
        },
        "delivery_paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if message delivery to consumers is currently paused."
          }
        },
        "message_retention_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds after which an unconsumed message will be delayed."
          }
        }
      }
    },
    "com.cloudflare.queues#EditResponse": {
      "type": "structure",
      "members": {
        "consumers": {
          "target": "com.cloudflare.queues#EditResponseConsumersList"
        },
        "consumers_total_count": {
          "target": "smithy.api#Double"
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "producers": {
          "target": "com.cloudflare.queues#EditResponseProducersList"
        },
        "producers_total_count": {
          "target": "smithy.api#Double"
        },
        "queue_id": {
          "target": "smithy.api#String"
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#EditResponseSettings"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.queues#Edit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#EditRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#EditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/queues/{queue_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates a Queue."
      }
    },
    "com.cloudflare.queues#GetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#GetResponseConsumersItemWorkerSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform's maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#GetResponseConsumersItemWorkerType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#GetResponseConsumersItemWorker": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "settings": {
          "target": "com.cloudflare.queues#GetResponseConsumersItemWorkerSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#GetResponseConsumersItemWorkerType"
        }
      }
    },
    "com.cloudflare.queues#GetResponseConsumersItemHTTPPullSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "visibility_timeout_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds that a message is exclusively leased. After the timeout, the message becomes available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#GetResponseConsumersItemHTTPPullType": {
      "type": "enum",
      "members": {
        "HTTP_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_pull"
          }
        }
      }
    },
    "com.cloudflare.queues#GetResponseConsumersItemHTTPPull": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#GetResponseConsumersItemHTTPPullSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#GetResponseConsumersItemHTTPPullType"
        }
      }
    },
    "com.cloudflare.queues#GetResponseConsumersItem": {
      "type": "union",
      "members": {
        "Worker": {
          "target": "com.cloudflare.queues#GetResponseConsumersItemWorker"
        },
        "HTTPPull": {
          "target": "com.cloudflare.queues#GetResponseConsumersItemHTTPPull"
        }
      }
    },
    "com.cloudflare.queues#GetResponseConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#GetResponseConsumersItem"
      }
    },
    "com.cloudflare.queues#GetResponseProducersItemMqWorkerProducerType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#GetResponseProducersItemMqWorkerProducer": {
      "type": "structure",
      "members": {
        "script": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.queues#GetResponseProducersItemMqWorkerProducerType"
        }
      }
    },
    "com.cloudflare.queues#GetResponseProducersItemMqR2ProducerType": {
      "type": "enum",
      "members": {
        "R2_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2_bucket"
          }
        }
      }
    },
    "com.cloudflare.queues#GetResponseProducersItemMqR2Producer": {
      "type": "structure",
      "members": {
        "bucket_name": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.queues#GetResponseProducersItemMqR2ProducerType"
        }
      }
    },
    "com.cloudflare.queues#GetResponseProducersItem": {
      "type": "union",
      "members": {
        "MqWorkerProducer": {
          "target": "com.cloudflare.queues#GetResponseProducersItemMqWorkerProducer"
        },
        "MqR2Producer": {
          "target": "com.cloudflare.queues#GetResponseProducersItemMqR2Producer"
        }
      }
    },
    "com.cloudflare.queues#GetResponseProducersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#GetResponseProducersItem"
      }
    },
    "com.cloudflare.queues#GetResponseSettings": {
      "type": "structure",
      "members": {
        "delivery_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds to delay delivery of all messages to consumers."
          }
        },
        "delivery_paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if message delivery to consumers is currently paused."
          }
        },
        "message_retention_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds after which an unconsumed message will be delayed."
          }
        }
      }
    },
    "com.cloudflare.queues#GetResponse": {
      "type": "structure",
      "members": {
        "consumers": {
          "target": "com.cloudflare.queues#GetResponseConsumersList"
        },
        "consumers_total_count": {
          "target": "smithy.api#Double"
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "producers": {
          "target": "com.cloudflare.queues#GetResponseProducersList"
        },
        "producers_total_count": {
          "target": "smithy.api#Double"
        },
        "queue_id": {
          "target": "smithy.api#String"
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#GetResponseSettings"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.queues#Get": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#GetRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#GetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/queues/{queue_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get details about a specific queue.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.queues#GetMetricsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#GetMetricsResponse": {
      "type": "structure",
      "members": {
        "backlog_bytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size in bytes of unacknowledged messages in the queue.",
            "smithy.api#required": {}
          }
        },
        "backlog_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of unacknowledged messages in the queue.",
            "smithy.api#required": {}
          }
        },
        "oldest_message_timestamp_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unix timestamp in milliseconds of the oldest unacknowledged message in the queue. Returns 0 if unknown.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.queues#GetMetrics": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#GetMetricsRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#GetMetricsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/queues/{queue_id}/metrics",
          "code": 200
        },
        "smithy.api#documentation": "Return best-effort metrics for a queue. Values may be approximate due to the distributed nature of queues.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.queues#ListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#ListResultItemConsumersItemWorkerSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform's maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ListResultItemConsumersItemWorkerType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#ListResultItemConsumersItemWorker": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "settings": {
          "target": "com.cloudflare.queues#ListResultItemConsumersItemWorkerSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#ListResultItemConsumersItemWorkerType"
        }
      }
    },
    "com.cloudflare.queues#ListResultItemConsumersItemHTTPPullSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "visibility_timeout_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds that a message is exclusively leased. After the timeout, the message becomes available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ListResultItemConsumersItemHTTPPullType": {
      "type": "enum",
      "members": {
        "HTTP_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_pull"
          }
        }
      }
    },
    "com.cloudflare.queues#ListResultItemConsumersItemHTTPPull": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#ListResultItemConsumersItemHTTPPullSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#ListResultItemConsumersItemHTTPPullType"
        }
      }
    },
    "com.cloudflare.queues#ListResultItemConsumersItem": {
      "type": "union",
      "members": {
        "Worker": {
          "target": "com.cloudflare.queues#ListResultItemConsumersItemWorker"
        },
        "HTTPPull": {
          "target": "com.cloudflare.queues#ListResultItemConsumersItemHTTPPull"
        }
      }
    },
    "com.cloudflare.queues#ListResultItemConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#ListResultItemConsumersItem"
      }
    },
    "com.cloudflare.queues#ListResultItemProducersItemMqWorkerProducerType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#ListResultItemProducersItemMqWorkerProducer": {
      "type": "structure",
      "members": {
        "script": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.queues#ListResultItemProducersItemMqWorkerProducerType"
        }
      }
    },
    "com.cloudflare.queues#ListResultItemProducersItemMqR2ProducerType": {
      "type": "enum",
      "members": {
        "R2_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2_bucket"
          }
        }
      }
    },
    "com.cloudflare.queues#ListResultItemProducersItemMqR2Producer": {
      "type": "structure",
      "members": {
        "bucket_name": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.queues#ListResultItemProducersItemMqR2ProducerType"
        }
      }
    },
    "com.cloudflare.queues#ListResultItemProducersItem": {
      "type": "union",
      "members": {
        "MqWorkerProducer": {
          "target": "com.cloudflare.queues#ListResultItemProducersItemMqWorkerProducer"
        },
        "MqR2Producer": {
          "target": "com.cloudflare.queues#ListResultItemProducersItemMqR2Producer"
        }
      }
    },
    "com.cloudflare.queues#ListResultItemProducersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#ListResultItemProducersItem"
      }
    },
    "com.cloudflare.queues#ListResultItemSettings": {
      "type": "structure",
      "members": {
        "delivery_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds to delay delivery of all messages to consumers."
          }
        },
        "delivery_paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if message delivery to consumers is currently paused."
          }
        },
        "message_retention_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds after which an unconsumed message will be delayed."
          }
        }
      }
    },
    "com.cloudflare.queues#ListResultItem": {
      "type": "structure",
      "members": {
        "consumers": {
          "target": "com.cloudflare.queues#ListResultItemConsumersList"
        },
        "consumers_total_count": {
          "target": "smithy.api#Double"
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "producers": {
          "target": "com.cloudflare.queues#ListResultItemProducersList"
        },
        "producers_total_count": {
          "target": "smithy.api#Double"
        },
        "queue_id": {
          "target": "smithy.api#String"
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#ListResultItemSettings"
        }
      }
    },
    "com.cloudflare.queues#ListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#ListResultItem"
      }
    },
    "com.cloudflare.queues#ListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.queues#ListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.queues#List": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#ListRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#ListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/queues",
          "code": 200
        },
        "smithy.api#documentation": "Returns the queues owned by an account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.queues#UpdateRequestSettings": {
      "type": "structure",
      "members": {
        "delivery_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds to delay delivery of all messages to consumers."
          }
        },
        "delivery_paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if message delivery to consumers is currently paused."
          }
        },
        "message_retention_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds after which an unconsumed message will be delayed."
          }
        }
      }
    },
    "com.cloudflare.queues#UpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#UpdateRequestSettings"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#UpdateResponseConsumersItemWorkerSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform's maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseConsumersItemWorkerType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseConsumersItemWorker": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "settings": {
          "target": "com.cloudflare.queues#UpdateResponseConsumersItemWorkerSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#UpdateResponseConsumersItemWorkerType"
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseConsumersItemHTTPPullSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "visibility_timeout_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds that a message is exclusively leased. After the timeout, the message becomes available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseConsumersItemHTTPPullType": {
      "type": "enum",
      "members": {
        "HTTP_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_pull"
          }
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseConsumersItemHTTPPull": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#UpdateResponseConsumersItemHTTPPullSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#UpdateResponseConsumersItemHTTPPullType"
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseConsumersItem": {
      "type": "union",
      "members": {
        "Worker": {
          "target": "com.cloudflare.queues#UpdateResponseConsumersItemWorker"
        },
        "HTTPPull": {
          "target": "com.cloudflare.queues#UpdateResponseConsumersItemHTTPPull"
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#UpdateResponseConsumersItem"
      }
    },
    "com.cloudflare.queues#UpdateResponseProducersItemMqWorkerProducerType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseProducersItemMqWorkerProducer": {
      "type": "structure",
      "members": {
        "script": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.queues#UpdateResponseProducersItemMqWorkerProducerType"
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseProducersItemMqR2ProducerType": {
      "type": "enum",
      "members": {
        "R2_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2_bucket"
          }
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseProducersItemMqR2Producer": {
      "type": "structure",
      "members": {
        "bucket_name": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.cloudflare.queues#UpdateResponseProducersItemMqR2ProducerType"
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseProducersItem": {
      "type": "union",
      "members": {
        "MqWorkerProducer": {
          "target": "com.cloudflare.queues#UpdateResponseProducersItemMqWorkerProducer"
        },
        "MqR2Producer": {
          "target": "com.cloudflare.queues#UpdateResponseProducersItemMqR2Producer"
        }
      }
    },
    "com.cloudflare.queues#UpdateResponseProducersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#UpdateResponseProducersItem"
      }
    },
    "com.cloudflare.queues#UpdateResponseSettings": {
      "type": "structure",
      "members": {
        "delivery_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds to delay delivery of all messages to consumers."
          }
        },
        "delivery_paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if message delivery to consumers is currently paused."
          }
        },
        "message_retention_period": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds after which an unconsumed message will be delayed."
          }
        }
      }
    },
    "com.cloudflare.queues#UpdateResponse": {
      "type": "structure",
      "members": {
        "consumers": {
          "target": "com.cloudflare.queues#UpdateResponseConsumersList"
        },
        "consumers_total_count": {
          "target": "smithy.api#Double"
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "producers": {
          "target": "com.cloudflare.queues#UpdateResponseProducersList"
        },
        "producers_total_count": {
          "target": "smithy.api#Double"
        },
        "queue_id": {
          "target": "smithy.api#String"
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#UpdateResponseSettings"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.queues#Update": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#UpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#UpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/queues/{queue_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates a Queue. Note that this endpoint does not support partial updates. If successful, the Queue's configuration is overwritten with the supplied configuration.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.queues#ConsumersCreateRequestType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        },
        "HTTP_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_pull"
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersCreateRequestSettingsWorker": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform's maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersCreateRequestSettingsHTTPPull": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "visibility_timeout_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds that a message is exclusively leased. After the timeout, the message becomes available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersCreateRequestSettings": {
      "type": "union",
      "members": {
        "Worker": {
          "target": "com.cloudflare.queues#ConsumersCreateRequestSettingsWorker"
        },
        "HTTPPull": {
          "target": "com.cloudflare.queues#ConsumersCreateRequestSettingsHTTPPull"
        }
      }
    },
    "com.cloudflare.queues#ConsumersCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "type": {
          "target": "com.cloudflare.queues#ConsumersCreateRequestType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dead_letter_queue": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#ConsumersCreateRequestSettings"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#ConsumersCreateResultWorkerSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform's maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersCreateResultWorkerType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersCreateResultWorker": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "settings": {
          "target": "com.cloudflare.queues#ConsumersCreateResultWorkerSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#ConsumersCreateResultWorkerType"
        }
      }
    },
    "com.cloudflare.queues#ConsumersCreateResultHTTPPullSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "visibility_timeout_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds that a message is exclusively leased. After the timeout, the message becomes available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersCreateResultHTTPPullType": {
      "type": "enum",
      "members": {
        "HTTP_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_pull"
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersCreateResultHTTPPull": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#ConsumersCreateResultHTTPPullSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#ConsumersCreateResultHTTPPullType"
        }
      }
    },
    "com.cloudflare.queues#ConsumersCreateResult": {
      "type": "union",
      "members": {
        "Worker": {
          "target": "com.cloudflare.queues#ConsumersCreateResultWorker"
        },
        "HTTPPull": {
          "target": "com.cloudflare.queues#ConsumersCreateResultHTTPPull"
        }
      }
    },
    "com.cloudflare.queues#ConsumersCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.queues#ConsumersCreateResult",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.queues#ConsumersCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#ConsumersCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#ConsumersCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/queues/{queue_id}/consumers",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new consumer for a Queue"
      }
    },
    "com.cloudflare.queues#ConsumersDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#ConsumersDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#ConsumersDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/queues/{queue_id}/consumers/{consumer_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes the consumer for a queue.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.queues#ConsumersGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#ConsumersGetResultWorkerSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform's maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersGetResultWorkerType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersGetResultWorker": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "settings": {
          "target": "com.cloudflare.queues#ConsumersGetResultWorkerSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#ConsumersGetResultWorkerType"
        }
      }
    },
    "com.cloudflare.queues#ConsumersGetResultHTTPPullSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "visibility_timeout_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds that a message is exclusively leased. After the timeout, the message becomes available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersGetResultHTTPPullType": {
      "type": "enum",
      "members": {
        "HTTP_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_pull"
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersGetResultHTTPPull": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#ConsumersGetResultHTTPPullSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#ConsumersGetResultHTTPPullType"
        }
      }
    },
    "com.cloudflare.queues#ConsumersGetResult": {
      "type": "union",
      "members": {
        "Worker": {
          "target": "com.cloudflare.queues#ConsumersGetResultWorker"
        },
        "HTTPPull": {
          "target": "com.cloudflare.queues#ConsumersGetResultHTTPPull"
        }
      }
    },
    "com.cloudflare.queues#ConsumersGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.queues#ConsumersGetResult",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.queues#ConsumersGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#ConsumersGetRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#ConsumersGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/queues/{queue_id}/consumers/{consumer_id}",
          "code": 200
        },
        "smithy.api#documentation": "Fetches the consumer for a queue by consumer id",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.queues#ConsumersListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#ConsumersListResultItemWorkerSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform's maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersListResultItemWorkerType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersListResultItemWorker": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "settings": {
          "target": "com.cloudflare.queues#ConsumersListResultItemWorkerSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#ConsumersListResultItemWorkerType"
        }
      }
    },
    "com.cloudflare.queues#ConsumersListResultItemHTTPPullSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "visibility_timeout_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds that a message is exclusively leased. After the timeout, the message becomes available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersListResultItemHTTPPullType": {
      "type": "enum",
      "members": {
        "HTTP_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_pull"
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersListResultItemHTTPPull": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#ConsumersListResultItemHTTPPullSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#ConsumersListResultItemHTTPPullType"
        }
      }
    },
    "com.cloudflare.queues#ConsumersListResultItem": {
      "type": "union",
      "members": {
        "Worker": {
          "target": "com.cloudflare.queues#ConsumersListResultItemWorker"
        },
        "HTTPPull": {
          "target": "com.cloudflare.queues#ConsumersListResultItemHTTPPull"
        }
      }
    },
    "com.cloudflare.queues#ConsumersListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#ConsumersListResultItem"
      }
    },
    "com.cloudflare.queues#ConsumersListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.queues#ConsumersListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.queues#ConsumersList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#ConsumersListRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#ConsumersListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/queues/{queue_id}/consumers",
          "code": 200
        },
        "smithy.api#documentation": "Returns the consumers for a Queue",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.queues#ConsumersUpdateRequestType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        },
        "HTTP_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_pull"
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersUpdateRequestSettingsWorker": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform's maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersUpdateRequestSettingsHTTPPull": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "visibility_timeout_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds that a message is exclusively leased. After the timeout, the message becomes available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersUpdateRequestSettings": {
      "type": "union",
      "members": {
        "Worker": {
          "target": "com.cloudflare.queues#ConsumersUpdateRequestSettingsWorker"
        },
        "HTTPPull": {
          "target": "com.cloudflare.queues#ConsumersUpdateRequestSettingsHTTPPull"
        }
      }
    },
    "com.cloudflare.queues#ConsumersUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "type": {
          "target": "com.cloudflare.queues#ConsumersUpdateRequestType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dead_letter_queue": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#ConsumersUpdateRequestSettings"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#ConsumersUpdateResultWorkerSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_concurrency": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of concurrent consumers that may consume from this Queue. Set to `null` to automatically opt in to the platform's maximum (recommended)."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "max_wait_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds to wait for a batch to fill up before attempting to deliver it"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersUpdateResultWorkerType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersUpdateResultWorker": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a Worker"
          }
        },
        "settings": {
          "target": "com.cloudflare.queues#ConsumersUpdateResultWorkerSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#ConsumersUpdateResultWorkerType"
        }
      }
    },
    "com.cloudflare.queues#ConsumersUpdateResultHTTPPullSettings": {
      "type": "structure",
      "members": {
        "batch_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of messages to include in a batch."
          }
        },
        "max_retries": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of retries"
          }
        },
        "retry_delay": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "visibility_timeout_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of milliseconds that a message is exclusively leased. After the timeout, the message becomes available for another attempt."
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersUpdateResultHTTPPullType": {
      "type": "enum",
      "members": {
        "HTTP_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_pull"
          }
        }
      }
    },
    "com.cloudflare.queues#ConsumersUpdateResultHTTPPull": {
      "type": "structure",
      "members": {
        "consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "dead_letter_queue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dead letter queue, or empty string if not configured"
          }
        },
        "queue_name": {
          "target": "smithy.api#String"
        },
        "settings": {
          "target": "com.cloudflare.queues#ConsumersUpdateResultHTTPPullSettings"
        },
        "type": {
          "target": "com.cloudflare.queues#ConsumersUpdateResultHTTPPullType"
        }
      }
    },
    "com.cloudflare.queues#ConsumersUpdateResult": {
      "type": "union",
      "members": {
        "Worker": {
          "target": "com.cloudflare.queues#ConsumersUpdateResultWorker"
        },
        "HTTPPull": {
          "target": "com.cloudflare.queues#ConsumersUpdateResultHTTPPull"
        }
      }
    },
    "com.cloudflare.queues#ConsumersUpdateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.queues#ConsumersUpdateResult",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.queues#ConsumersUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#ConsumersUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#ConsumersUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/queues/{queue_id}/consumers/{consumer_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates the consumer for a queue, or creates one if it does not exist.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.queues#MessagesAckRequestAcksItem": {
      "type": "structure",
      "members": {
        "lease_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ID that represents an \"in-flight\" message that has been pulled from a Queue. You must hold on to this ID and use it to acknowledge this message."
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesAckRequestAcksList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#MessagesAckRequestAcksItem"
      }
    },
    "com.cloudflare.queues#MessagesAckRequestRetriesItem": {
      "type": "structure",
      "members": {
        "delay_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to delay before making the message available for another attempt."
          }
        },
        "lease_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ID that represents an \"in-flight\" message that has been pulled from a Queue. You must hold on to this ID and use it to acknowledge this message."
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesAckRequestRetriesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.queues#MessagesAckRequestRetriesItem"
      }
    },
    "com.cloudflare.queues#MessagesAckRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Resource identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "acks": {
          "target": "com.cloudflare.queues#MessagesAckRequestAcksList"
        },
        "retries": {
          "target": "com.cloudflare.queues#MessagesAckRequestRetriesList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.queues#MessagesAckResponseWarningsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.queues#MessagesAckResponse": {
      "type": "structure",
      "members": {
        "ackCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of messages that were succesfully acknowledged."
          }
        },
        "retryCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of messages that were succesfully retried."
          }
        },
        "warnings": {
          "target": "com.cloudflare.queues#MessagesAckResponseWarningsMap",
          "traits": {
            "smithy.api#documentation": "Map of lease IDs to warning messages encountered during acknowledgement."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.queues#MessagesAck": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.queues#MessagesAckRequest"
      },
      "output": {
        "target": "com.cloudflare.queues#MessagesAckResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/queues/{queue_id}/messages/ack",
          "code": 200
        },
        "smithy.api#documentation": "Acknowledge + Retry messages from a Queue"
      }
    },
    "com.cloudflare.queues#MessagesBulkPushRequestMessagesItemMqQueueMessageTextContentType": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesBulkPushRequestMessagesItemMqQueueMessageText": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String"
        },
        "content_type": {
          "target": "com.cloudflare.queues#MessagesBulkPushRequestMessagesItemMqQueueMessageTextContentType"
        },
        "delay_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to wait for attempting to deliver this message to consumers"
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesBulkPushRequestMessagesItemMqQueueMessageJsonContentType": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesBulkPushRequestMessagesItemMqQueueMessageJson": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document"
        },
        "content_type": {
          "target": "com.cloudflare.queues#MessagesBulkPushRequestMessagesItemMqQueueMessageJsonContentType"
        },
        "delay_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of seconds to wait for attempting to deliver this message to consumers"
          }
        }
      }
    },
    "com.cloudflare.queues#MessagesBulkPushRequestMessagesItem": {
      "type": "union",
      "members": {
        "MqQueueMessageText": {
[...]
