{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.r2#BucketsCreateRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsCreateRequestLocationHint": {
      "type": "enum",
      "members": {
        "APAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "apac"
          }
        },
        "EEUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eeur"
          }
        },
        "ENAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enam"
          }
        },
        "WEUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "weur"
          }
        },
        "WNAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wnam"
          }
        },
        "OC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oc"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsCreateRequestStorageClass": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        },
        "INFREQUENTACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InfrequentAccess"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cf_r2_jurisdiction": {
          "target": "com.cloudflare.r2#BucketsCreateRequestCfR2Jurisdiction",
          "traits": {
            "smithy.api#documentation": "Jurisdiction where objects in this bucket are guaranteed to be stored.",
            "smithy.api#httpHeader": "cf-r2-jurisdiction"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the bucket.",
            "smithy.api#required": {}
          }
        },
        "locationHint": {
          "target": "com.cloudflare.r2#BucketsCreateRequestLocationHint",
          "traits": {
            "smithy.api#documentation": "Location of the bucket."
          }
        },
        "storageClass": {
          "target": "com.cloudflare.r2#BucketsCreateRequestStorageClass",
          "traits": {
            "smithy.api#documentation": "Storage class for newly uploaded objects, unless specified otherwise."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.r2#BucketsCreateResponseJurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsCreateResponseLocation": {
      "type": "enum",
      "members": {
        "APAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "apac"
          }
        },
        "EEUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eeur"
          }
        },
        "ENAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enam"
          }
        },
        "WEUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "weur"
          }
        },
        "WNAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wnam"
          }
        },
        "OC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oc"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsCreateResponseStorageClass": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        },
        "INFREQUENTACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InfrequentAccess"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsCreateResponse": {
      "type": "structure",
      "members": {
        "creation_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation timestamp."
          }
        },
        "jurisdiction": {
          "target": "com.cloudflare.r2#BucketsCreateResponseJurisdiction",
          "traits": {
            "smithy.api#documentation": "Jurisdiction where objects in this bucket are guaranteed to be stored."
          }
        },
        "location": {
          "target": "com.cloudflare.r2#BucketsCreateResponseLocation",
          "traits": {
            "smithy.api#documentation": "Location of the bucket."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the bucket."
          }
        },
        "storage_class": {
          "target": "com.cloudflare.r2#BucketsCreateResponseStorageClass",
          "traits": {
            "smithy.api#documentation": "Storage class for newly uploaded objects, unless specified otherwise."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.r2#BucketsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.r2#BucketsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.r2#BucketsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/r2/buckets",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new R2 bucket."
      }
    },
    "com.cloudflare.r2#BucketsDeleteRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "bucket_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the bucket.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cf_r2_jurisdiction": {
          "target": "com.cloudflare.r2#BucketsDeleteRequestCfR2Jurisdiction",
          "traits": {
            "smithy.api#documentation": "Jurisdiction where objects in this bucket are guaranteed to be stored.",
            "smithy.api#httpHeader": "cf-r2-jurisdiction"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.r2#BucketsDeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.r2#BucketsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.r2#BucketsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.r2#BucketsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/r2/buckets/{bucket_name}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes an existing R2 bucket.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.r2#BucketsEditRequestCfR2StorageClass": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        },
        "INFREQUENTACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InfrequentAccess"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsEditRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsEditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "bucket_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the bucket.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cf_r2_storage_class": {
          "target": "com.cloudflare.r2#BucketsEditRequestCfR2StorageClass",
          "traits": {
            "smithy.api#documentation": "Storage class for newly uploaded objects, unless specified otherwise.",
            "smithy.api#httpHeader": "cf-r2-storage-class",
            "smithy.api#required": {}
          }
        },
        "cf_r2_jurisdiction": {
          "target": "com.cloudflare.r2#BucketsEditRequestCfR2Jurisdiction",
          "traits": {
            "smithy.api#documentation": "Jurisdiction where objects in this bucket are guaranteed to be stored.",
            "smithy.api#httpHeader": "cf-r2-jurisdiction"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.r2#BucketsEditResponseJurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsEditResponseLocation": {
      "type": "enum",
      "members": {
        "APAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "apac"
          }
        },
        "EEUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eeur"
          }
        },
        "ENAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enam"
          }
        },
        "WEUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "weur"
          }
        },
        "WNAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wnam"
          }
        },
        "OC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oc"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsEditResponseStorageClass": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        },
        "INFREQUENTACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InfrequentAccess"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsEditResponse": {
      "type": "structure",
      "members": {
        "creation_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation timestamp."
          }
        },
        "jurisdiction": {
          "target": "com.cloudflare.r2#BucketsEditResponseJurisdiction",
          "traits": {
            "smithy.api#documentation": "Jurisdiction where objects in this bucket are guaranteed to be stored."
          }
        },
        "location": {
          "target": "com.cloudflare.r2#BucketsEditResponseLocation",
          "traits": {
            "smithy.api#documentation": "Location of the bucket."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the bucket."
          }
        },
        "storage_class": {
          "target": "com.cloudflare.r2#BucketsEditResponseStorageClass",
          "traits": {
            "smithy.api#documentation": "Storage class for newly uploaded objects, unless specified otherwise."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.r2#BucketsEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.r2#BucketsEditRequest"
      },
      "output": {
        "target": "com.cloudflare.r2#BucketsEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/r2/buckets/{bucket_name}",
          "code": 200
        },
        "smithy.api#documentation": "Updates properties of an existing R2 bucket."
      }
    },
    "com.cloudflare.r2#BucketsGetRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "bucket_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the bucket.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cf_r2_jurisdiction": {
          "target": "com.cloudflare.r2#BucketsGetRequestCfR2Jurisdiction",
          "traits": {
            "smithy.api#documentation": "Jurisdiction where objects in this bucket are guaranteed to be stored.",
            "smithy.api#httpHeader": "cf-r2-jurisdiction"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.r2#BucketsGetResponseJurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsGetResponseLocation": {
      "type": "enum",
      "members": {
        "APAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "apac"
          }
        },
        "EEUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eeur"
          }
        },
        "ENAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enam"
          }
        },
        "WEUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "weur"
          }
        },
        "WNAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wnam"
          }
        },
        "OC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oc"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsGetResponseStorageClass": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        },
        "INFREQUENTACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InfrequentAccess"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsGetResponse": {
      "type": "structure",
      "members": {
        "creation_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation timestamp."
          }
        },
        "jurisdiction": {
          "target": "com.cloudflare.r2#BucketsGetResponseJurisdiction",
          "traits": {
            "smithy.api#documentation": "Jurisdiction where objects in this bucket are guaranteed to be stored."
          }
        },
        "location": {
          "target": "com.cloudflare.r2#BucketsGetResponseLocation",
          "traits": {
            "smithy.api#documentation": "Location of the bucket."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the bucket."
          }
        },
        "storage_class": {
          "target": "com.cloudflare.r2#BucketsGetResponseStorageClass",
          "traits": {
            "smithy.api#documentation": "Storage class for newly uploaded objects, unless specified otherwise."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.r2#BucketsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.r2#BucketsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.r2#BucketsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/r2/buckets/{bucket_name}",
          "code": 200
        },
        "smithy.api#documentation": "Gets properties of an existing R2 bucket.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.r2#BucketsListRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsListRequestOrder": {
      "type": "enum",
      "members": {
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsListRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination cursor received during the last List Buckets call. R2 buckets are paginated using cursors instead of page numbers.",
            "smithy.api#httpQuery": "cursor"
          }
        },
        "direction": {
          "target": "com.cloudflare.r2#BucketsListRequestDirection",
          "traits": {
            "smithy.api#documentation": "Direction to order buckets.",
            "smithy.api#httpQuery": "direction"
          }
        },
        "name_contains": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Bucket names to filter by. Only buckets with this phrase in their name will be returned.",
            "smithy.api#httpQuery": "name_contains"
          }
        },
        "order": {
          "target": "com.cloudflare.r2#BucketsListRequestOrder",
          "traits": {
            "smithy.api#documentation": "Field to order buckets by.",
            "smithy.api#httpQuery": "order"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of buckets to return in a single call.",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "start_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Bucket name to start searching after. Buckets are ordered lexicographically.",
            "smithy.api#httpQuery": "start_after"
          }
        },
        "cf_r2_jurisdiction": {
          "target": "com.cloudflare.r2#BucketsListRequestCfR2Jurisdiction",
          "traits": {
            "smithy.api#documentation": "Jurisdiction where objects in this bucket are guaranteed to be stored.",
            "smithy.api#httpHeader": "cf-r2-jurisdiction"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.r2#BucketsListResponseBucketsItemJurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsListResponseBucketsItemLocation": {
      "type": "enum",
      "members": {
        "APAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "apac"
          }
        },
        "EEUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eeur"
          }
        },
        "ENAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enam"
          }
        },
        "WEUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "weur"
          }
        },
        "WNAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wnam"
          }
        },
        "OC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oc"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsListResponseBucketsItemStorageClass": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        },
        "INFREQUENTACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InfrequentAccess"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsListResponseBucketsItem": {
      "type": "structure",
      "members": {
        "creation_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation timestamp."
          }
        },
        "jurisdiction": {
          "target": "com.cloudflare.r2#BucketsListResponseBucketsItemJurisdiction",
          "traits": {
            "smithy.api#documentation": "Jurisdiction where objects in this bucket are guaranteed to be stored."
          }
        },
        "location": {
          "target": "com.cloudflare.r2#BucketsListResponseBucketsItemLocation",
          "traits": {
            "smithy.api#documentation": "Location of the bucket."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the bucket."
          }
        },
        "storage_class": {
          "target": "com.cloudflare.r2#BucketsListResponseBucketsItemStorageClass",
          "traits": {
            "smithy.api#documentation": "Storage class for newly uploaded objects, unless specified otherwise."
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsListResponseBucketsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.r2#BucketsListResponseBucketsItem"
      }
    },
    "com.cloudflare.r2#BucketsListResponse": {
      "type": "structure",
      "members": {
        "buckets": {
          "target": "com.cloudflare.r2#BucketsListResponseBucketsList"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.r2#BucketsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.r2#BucketsListRequest"
      },
      "output": {
        "target": "com.cloudflare.r2#BucketsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/r2/buckets",
          "code": 200
        },
        "smithy.api#documentation": "Lists all R2 buckets on your account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.r2#BucketsCorsDeleteRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsCorsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "bucket_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the bucket.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cf_r2_jurisdiction": {
          "target": "com.cloudflare.r2#BucketsCorsDeleteRequestCfR2Jurisdiction",
          "traits": {
            "smithy.api#documentation": "Jurisdiction where objects in this bucket are guaranteed to be stored.",
            "smithy.api#httpHeader": "cf-r2-jurisdiction"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.r2#BucketsCorsDeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.r2#BucketsCorsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.r2#BucketsCorsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.r2#BucketsCorsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/r2/buckets/{bucket_name}/cors",
          "code": 200
        },
        "smithy.api#documentation": "Delete the CORS policy for a bucket.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.r2#BucketsCorsGetRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsCorsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "bucket_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the bucket.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cf_r2_jurisdiction": {
          "target": "com.cloudflare.r2#BucketsCorsGetRequestCfR2Jurisdiction",
          "traits": {
            "smithy.api#documentation": "Jurisdiction where objects in this bucket are guaranteed to be stored.",
            "smithy.api#httpHeader": "cf-r2-jurisdiction"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.r2#BucketsCorsGetResponseRulesItemAllowedMethodsItem": {
      "type": "enum",
      "members": {
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "HEAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEAD"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsCorsGetResponseRulesItemAllowedMethodsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.r2#BucketsCorsGetResponseRulesItemAllowedMethodsItem"
      }
    },
    "com.cloudflare.r2#BucketsCorsGetResponseRulesItemAllowedOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.r2#BucketsCorsGetResponseRulesItemAllowedHeadersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.r2#BucketsCorsGetResponseRulesItemAllowed": {
      "type": "structure",
      "members": {
        "methods": {
          "target": "com.cloudflare.r2#BucketsCorsGetResponseRulesItemAllowedMethodsList",
          "traits": {
            "smithy.api#documentation": "Specifies the value for the Access-Control-Allow-Methods header R2 sets when requesting objects in a bucket from a browser.",
            "smithy.api#required": {}
          }
        },
        "origins": {
          "target": "com.cloudflare.r2#BucketsCorsGetResponseRulesItemAllowedOriginsList",
          "traits": {
            "smithy.api#documentation": "Specifies the value for the Access-Control-Allow-Origin header R2 sets when requesting objects in a bucket from a browser.",
            "smithy.api#required": {}
          }
        },
        "headers": {
          "target": "com.cloudflare.r2#BucketsCorsGetResponseRulesItemAllowedHeadersList",
          "traits": {
            "smithy.api#documentation": "Specifies the value for the Access-Control-Allow-Headers header R2 sets when requesting objects in this bucket from a browser. Cross-origin requests that include custom headers (e.g. x-user-id) should specify these headers as AllowedHeaders."
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsCorsGetResponseRulesItemExposeHeadersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.r2#BucketsCorsGetResponseRulesItem": {
      "type": "structure",
      "members": {
        "allowed": {
          "target": "com.cloudflare.r2#BucketsCorsGetResponseRulesItemAllowed",
          "traits": {
            "smithy.api#documentation": "Object specifying allowed origins, methods and headers for this CORS rule.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for this rule."
          }
        },
        "exposeHeaders": {
          "target": "com.cloudflare.r2#BucketsCorsGetResponseRulesItemExposeHeadersList",
          "traits": {
            "smithy.api#documentation": "Specifies the headers that can be exposed back, and accessed by, the JavaScript making the cross-origin request. If you need to access headers beyond the safelisted response headers, such as Content-Encoding or cf-cache-status, you must specify it here."
          }
        },
        "maxAgeSeconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies the amount of time (in seconds) browsers are allowed to cache CORS preflight responses. Browsers may limit this to 2 hours or less, even if the maximum value (86400) is specified."
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsCorsGetResponseRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.r2#BucketsCorsGetResponseRulesItem"
      }
    },
    "com.cloudflare.r2#BucketsCorsGetResponse": {
      "type": "structure",
      "members": {
        "rules": {
          "target": "com.cloudflare.r2#BucketsCorsGetResponseRulesList"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.r2#BucketsCorsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.r2#BucketsCorsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.r2#BucketsCorsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/r2/buckets/{bucket_name}/cors",
          "code": 200
        },
        "smithy.api#documentation": "Get the CORS policy for a bucket.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.r2#BucketsCorsUpdateRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsCorsUpdateRequestRulesItemAllowedMethodsItem": {
      "type": "enum",
      "members": {
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "HEAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEAD"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsCorsUpdateRequestRulesItemAllowedMethodsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.r2#BucketsCorsUpdateRequestRulesItemAllowedMethodsItem"
      }
    },
    "com.cloudflare.r2#BucketsCorsUpdateRequestRulesItemAllowedOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.r2#BucketsCorsUpdateRequestRulesItemAllowedHeadersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.r2#BucketsCorsUpdateRequestRulesItemAllowed": {
      "type": "structure",
      "members": {
        "methods": {
          "target": "com.cloudflare.r2#BucketsCorsUpdateRequestRulesItemAllowedMethodsList",
          "traits": {
            "smithy.api#documentation": "Specifies the value for the Access-Control-Allow-Methods header R2 sets when requesting objects in a bucket from a browser.",
            "smithy.api#required": {}
          }
        },
        "origins": {
          "target": "com.cloudflare.r2#BucketsCorsUpdateRequestRulesItemAllowedOriginsList",
          "traits": {
            "smithy.api#documentation": "Specifies the value for the Access-Control-Allow-Origin header R2 sets when requesting objects in a bucket from a browser.",
            "smithy.api#required": {}
          }
        },
        "headers": {
          "target": "com.cloudflare.r2#BucketsCorsUpdateRequestRulesItemAllowedHeadersList",
          "traits": {
            "smithy.api#documentation": "Specifies the value for the Access-Control-Allow-Headers header R2 sets when requesting objects in this bucket from a browser. Cross-origin requests that include custom headers (e.g. x-user-id) should specify these headers as AllowedHeaders."
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsCorsUpdateRequestRulesItemExposeHeadersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.r2#BucketsCorsUpdateRequestRulesItem": {
      "type": "structure",
      "members": {
        "allowed": {
          "target": "com.cloudflare.r2#BucketsCorsUpdateRequestRulesItemAllowed",
          "traits": {
            "smithy.api#documentation": "Object specifying allowed origins, methods and headers for this CORS rule.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for this rule."
          }
        },
        "exposeHeaders": {
          "target": "com.cloudflare.r2#BucketsCorsUpdateRequestRulesItemExposeHeadersList",
          "traits": {
            "smithy.api#documentation": "Specifies the headers that can be exposed back, and accessed by, the JavaScript making the cross-origin request. If you need to access headers beyond the safelisted response headers, such as Content-Encoding or cf-cache-status, you must specify it here."
          }
        },
        "maxAgeSeconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies the amount of time (in seconds) browsers are allowed to cache CORS preflight responses. Browsers may limit this to 2 hours or less, even if the maximum value (86400) is specified."
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsCorsUpdateRequestRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.r2#BucketsCorsUpdateRequestRulesItem"
      }
    },
    "com.cloudflare.r2#BucketsCorsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "bucket_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the bucket.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cf_r2_jurisdiction": {
          "target": "com.cloudflare.r2#BucketsCorsUpdateRequestCfR2Jurisdiction",
          "traits": {
            "smithy.api#documentation": "Jurisdiction where objects in this bucket are guaranteed to be stored.",
            "smithy.api#httpHeader": "cf-r2-jurisdiction"
          }
        },
        "rules": {
          "target": "com.cloudflare.r2#BucketsCorsUpdateRequestRulesList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.r2#BucketsCorsUpdateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.r2#BucketsCorsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.r2#BucketsCorsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.r2#BucketsCorsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/r2/buckets/{bucket_name}/cors",
          "code": 200
        },
        "smithy.api#documentation": "Set the CORS policy for a bucket.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomCreateRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomCreateRequestCiphersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomCreateRequestMinTLS": {
      "type": "enum",
      "members": {
        "_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.0"
          }
        },
        "_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.1"
          }
        },
        "_1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.2"
          }
        },
        "_1_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.3"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "bucket_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the bucket.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cf_r2_jurisdiction": {
          "target": "com.cloudflare.r2#BucketsDomainsCustomCreateRequestCfR2Jurisdiction",
          "traits": {
            "smithy.api#documentation": "Jurisdiction where objects in this bucket are guaranteed to be stored.",
            "smithy.api#httpHeader": "cf-r2-jurisdiction"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the custom domain to be added.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable public bucket access at the custom domain. If undefined, the domain will be enabled.",
            "smithy.api#required": {}
          }
        },
        "zoneId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID of the custom domain.",
            "smithy.api#required": {}
          }
        },
        "ciphers": {
          "target": "com.cloudflare.r2#BucketsDomainsCustomCreateRequestCiphersList",
          "traits": {
            "smithy.api#documentation": "An allowlist of ciphers for TLS termination. These ciphers must be in the BoringSSL format."
          }
        },
        "minTLS": {
          "target": "com.cloudflare.r2#BucketsDomainsCustomCreateRequestMinTLS",
          "traits": {
            "smithy.api#documentation": "Minimum TLS Version the custom domain will accept for incoming connections. If not set, defaults to 1.0."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomCreateResponseCiphersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomCreateResponseMinTLS": {
      "type": "enum",
      "members": {
        "_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.0"
          }
        },
        "_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.1"
          }
        },
        "_1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.2"
          }
        },
        "_1_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.3"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomCreateResponse": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain name of the affected custom domain.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this bucket is publicly accessible at the specified custom domain.",
            "smithy.api#required": {}
          }
        },
        "zoneId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID of the custom domain.",
            "smithy.api#required": {}
          }
        },
        "ciphers": {
          "target": "com.cloudflare.r2#BucketsDomainsCustomCreateResponseCiphersList",
          "traits": {
            "smithy.api#documentation": "An allowlist of ciphers for TLS termination. These ciphers must be in the BoringSSL format."
          }
        },
        "minTLS": {
          "target": "com.cloudflare.r2#BucketsDomainsCustomCreateResponseMinTLS",
          "traits": {
            "smithy.api#documentation": "Minimum TLS Version the custom domain will accept for incoming connections. If not set, defaults to 1.0."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.r2#BucketsDomainsCustomCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.r2#BucketsDomainsCustomCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/r2/buckets/{bucket_name}/domains/custom",
          "code": 200
        },
        "smithy.api#documentation": "Register a new custom domain for an existing R2 bucket."
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomDeleteRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "bucket_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the bucket.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the custom domain.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cf_r2_jurisdiction": {
          "target": "com.cloudflare.r2#BucketsDomainsCustomDeleteRequestCfR2Jurisdiction",
          "traits": {
            "smithy.api#documentation": "Jurisdiction where objects in this bucket are guaranteed to be stored.",
            "smithy.api#httpHeader": "cf-r2-jurisdiction"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomDeleteResponse": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the removed custom domain.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.r2#BucketsDomainsCustomDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.r2#BucketsDomainsCustomDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/r2/buckets/{bucket_name}/domains/custom/{domain}",
          "code": 200
        },
        "smithy.api#documentation": "Remove custom domain registration from an existing R2 bucket.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomGetRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "bucket_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the bucket.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the custom domain.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cf_r2_jurisdiction": {
          "target": "com.cloudflare.r2#BucketsDomainsCustomGetRequestCfR2Jurisdiction",
          "traits": {
            "smithy.api#documentation": "Jurisdiction where objects in this bucket are guaranteed to be stored.",
            "smithy.api#httpHeader": "cf-r2-jurisdiction"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomGetResponseStatusOwnership": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DEACTIVATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deactivated"
          }
        },
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blocked"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomGetResponseStatusSsl": {
      "type": "enum",
      "members": {
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initializing"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DEACTIVATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deactivated"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomGetResponseStatus": {
      "type": "structure",
      "members": {
        "ownership": {
          "target": "com.cloudflare.r2#BucketsDomainsCustomGetResponseStatusOwnership",
          "traits": {
            "smithy.api#documentation": "Ownership status of the domain.",
            "smithy.api#required": {}
          }
        },
        "ssl": {
          "target": "com.cloudflare.r2#BucketsDomainsCustomGetResponseStatusSsl",
          "traits": {
            "smithy.api#documentation": "SSL certificate status.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomGetResponseCiphersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomGetResponseMinTLS": {
      "type": "enum",
      "members": {
        "_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.0"
          }
        },
        "_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.1"
          }
        },
        "_1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.2"
          }
        },
        "_1_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.3"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomGetResponse": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain name of the custom domain to be added.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this bucket is publicly accessible at the specified custom domain.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.r2#BucketsDomainsCustomGetResponseStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ciphers": {
          "target": "com.cloudflare.r2#BucketsDomainsCustomGetResponseCiphersList",
          "traits": {
            "smithy.api#documentation": "An allowlist of ciphers for TLS termination. These ciphers must be in the BoringSSL format."
          }
        },
        "minTLS": {
          "target": "com.cloudflare.r2#BucketsDomainsCustomGetResponseMinTLS",
          "traits": {
            "smithy.api#documentation": "Minimum TLS Version the custom domain will accept for incoming connections. If not set, defaults to 1.0."
          }
        },
        "zoneId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID of the custom domain resides in."
          }
        },
        "zoneName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone that the custom domain resides in."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.r2#BucketsDomainsCustomGetRequest"
      },
      "output": {
        "target": "com.cloudflare.r2#BucketsDomainsCustomGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/r2/buckets/{bucket_name}/domains/custom/{domain}",
          "code": 200
        },
        "smithy.api#documentation": "Get the configuration for a custom domain on an existing R2 bucket.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomListRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "bucket_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the bucket.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cf_r2_jurisdiction": {
          "target": "com.cloudflare.r2#BucketsDomainsCustomListRequestCfR2Jurisdiction",
          "traits": {
            "smithy.api#documentation": "Jurisdiction where objects in this bucket are guaranteed to be stored.",
            "smithy.api#httpHeader": "cf-r2-jurisdiction"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomListResponseDomainsItemStatusOwnership": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DEACTIVATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deactivated"
          }
        },
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blocked"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomListResponseDomainsItemStatusSsl": {
      "type": "enum",
      "members": {
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initializing"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DEACTIVATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deactivated"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomListResponseDomainsItemStatus": {
      "type": "structure",
      "members": {
        "ownership": {
          "target": "com.cloudflare.r2#BucketsDomainsCustomListResponseDomainsItemStatusOwnership",
          "traits": {
            "smithy.api#documentation": "Ownership status of the domain.",
            "smithy.api#required": {}
          }
        },
        "ssl": {
          "target": "com.cloudflare.r2#BucketsDomainsCustomListResponseDomainsItemStatusSsl",
          "traits": {
            "smithy.api#documentation": "SSL certificate status.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomListResponseDomainsItemCiphersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomListResponseDomainsItemMinTLS": {
      "type": "enum",
      "members": {
        "_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.0"
          }
        },
        "_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.1"
          }
        },
        "_1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.2"
          }
        },
        "_1_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.3"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomListResponseDomainsItem": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain name of the custom domain to be added.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this bucket is publicly accessible at the specified custom domain.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.r2#BucketsDomainsCustomListResponseDomainsItemStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ciphers": {
          "target": "com.cloudflare.r2#BucketsDomainsCustomListResponseDomainsItemCiphersList",
          "traits": {
            "smithy.api#documentation": "An allowlist of ciphers for TLS termination. These ciphers must be in the BoringSSL format."
          }
        },
        "minTLS": {
          "target": "com.cloudflare.r2#BucketsDomainsCustomListResponseDomainsItemMinTLS",
          "traits": {
            "smithy.api#documentation": "Minimum TLS Version the custom domain will accept for incoming connections. If not set, defaults to 1.0."
          }
        },
        "zoneId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID of the custom domain resides in."
          }
        },
        "zoneName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone that the custom domain resides in."
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomListResponseDomainsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.r2#BucketsDomainsCustomListResponseDomainsItem"
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomListResponse": {
      "type": "structure",
      "members": {
        "domains": {
          "target": "com.cloudflare.r2#BucketsDomainsCustomListResponseDomainsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.r2#BucketsDomainsCustomListRequest"
      },
      "output": {
        "target": "com.cloudflare.r2#BucketsDomainsCustomListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/r2/buckets/{bucket_name}/domains/custom",
          "code": 200
        },
        "smithy.api#documentation": "Gets a list of all custom domains registered with an existing R2 bucket.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomUpdateRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomUpdateRequestCiphersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomUpdateRequestMinTLS": {
      "type": "enum",
      "members": {
        "_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.0"
          }
        },
        "_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.1"
          }
        },
        "_1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.2"
          }
        },
        "_1_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.3"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "bucket_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the bucket.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the custom domain.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cf_r2_jurisdiction": {
          "target": "com.cloudflare.r2#BucketsDomainsCustomUpdateRequestCfR2Jurisdiction",
          "traits": {
            "smithy.api#documentation": "Jurisdiction where objects in this bucket are guaranteed to be stored.",
            "smithy.api#httpHeader": "cf-r2-jurisdiction"
          }
        },
        "ciphers": {
          "target": "com.cloudflare.r2#BucketsDomainsCustomUpdateRequestCiphersList",
          "traits": {
            "smithy.api#documentation": "An allowlist of ciphers for TLS termination. These ciphers must be in the BoringSSL format."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable public bucket access at the specified custom domain."
          }
        },
        "minTLS": {
          "target": "com.cloudflare.r2#BucketsDomainsCustomUpdateRequestMinTLS",
          "traits": {
            "smithy.api#documentation": "Minimum TLS Version the custom domain will accept for incoming connections. If not set, defaults to previous value."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomUpdateResponseCiphersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomUpdateResponseMinTLS": {
      "type": "enum",
      "members": {
        "_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.0"
          }
        },
        "_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.1"
          }
        },
        "_1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.2"
          }
        },
        "_1_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.3"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomUpdateResponse": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain name of the affected custom domain.",
            "smithy.api#required": {}
          }
        },
        "ciphers": {
          "target": "com.cloudflare.r2#BucketsDomainsCustomUpdateResponseCiphersList",
          "traits": {
            "smithy.api#documentation": "An allowlist of ciphers for TLS termination. These ciphers must be in the BoringSSL format."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this bucket is publicly accessible at the specified custom domain."
          }
        },
        "minTLS": {
          "target": "com.cloudflare.r2#BucketsDomainsCustomUpdateResponseMinTLS",
          "traits": {
            "smithy.api#documentation": "Minimum TLS Version the custom domain will accept for incoming connections. If not set, defaults to 1.0."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.r2#BucketsDomainsCustomUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.r2#BucketsDomainsCustomUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.r2#BucketsDomainsCustomUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/r2/buckets/{bucket_name}/domains/custom/{domain}",
          "code": 200
        },
        "smithy.api#documentation": "Edit the configuration for a custom domain on an existing R2 bucket.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.r2#BucketsDomainsManagedListRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsManagedListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "bucket_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the bucket.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cf_r2_jurisdiction": {
          "target": "com.cloudflare.r2#BucketsDomainsManagedListRequestCfR2Jurisdiction",
          "traits": {
            "smithy.api#documentation": "Jurisdiction where objects in this bucket are guaranteed to be stored.",
            "smithy.api#httpHeader": "cf-r2-jurisdiction"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.r2#BucketsDomainsManagedListResponse": {
      "type": "structure",
      "members": {
        "bucketId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Bucket ID.",
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain name of the bucket's r2.dev domain.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this bucket is publicly accessible at the r2.dev domain.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.r2#BucketsDomainsManagedList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.r2#BucketsDomainsManagedListRequest"
      },
      "output": {
        "target": "com.cloudflare.r2#BucketsDomainsManagedListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/r2/buckets/{bucket_name}/domains/managed",
          "code": 200
        },
        "smithy.api#documentation": "Gets state of public access over the bucket's R2-managed (r2.dev) domain.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.r2#BucketsDomainsManagedUpdateRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsDomainsManagedUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "bucket_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the bucket.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cf_r2_jurisdiction": {
          "target": "com.cloudflare.r2#BucketsDomainsManagedUpdateRequestCfR2Jurisdiction",
          "traits": {
            "smithy.api#documentation": "Jurisdiction where objects in this bucket are guaranteed to be stored.",
            "smithy.api#httpHeader": "cf-r2-jurisdiction"
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable public bucket access at the r2.dev domain.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.r2#BucketsDomainsManagedUpdateResponse": {
      "type": "structure",
      "members": {
        "bucketId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Bucket ID.",
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain name of the bucket's r2.dev domain.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this bucket is publicly accessible at the r2.dev domain.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.r2#BucketsDomainsManagedUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.r2#BucketsDomainsManagedUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.r2#BucketsDomainsManagedUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/r2/buckets/{bucket_name}/domains/managed",
          "code": 200
        },
        "smithy.api#documentation": "Updates state of public access over the bucket's R2-managed (r2.dev) domain.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsDeleteRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "bucket_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the bucket.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Queue ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cf_r2_jurisdiction": {
          "target": "com.cloudflare.r2#BucketsEventNotificationsDeleteRequestCfR2Jurisdiction",
          "traits": {
            "smithy.api#documentation": "Jurisdiction where objects in this bucket are guaranteed to be stored.",
            "smithy.api#httpHeader": "cf-r2-jurisdiction"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsDeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.r2#BucketsEventNotificationsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.r2#BucketsEventNotificationsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/event_notifications/r2/{bucket_name}/configuration/queues/{queue_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an event notification rule. **If no body is provided, all rules for specified queue will be deleted**.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsGetRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "bucket_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the bucket.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Queue ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cf_r2_jurisdiction": {
          "target": "com.cloudflare.r2#BucketsEventNotificationsGetRequestCfR2Jurisdiction",
          "traits": {
            "smithy.api#documentation": "The bucket jurisdiction.",
            "smithy.api#httpHeader": "cf-r2-jurisdiction"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsGetResponseRulesItemActionsItem": {
      "type": "enum",
      "members": {
        "PUTOBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PutObject"
          }
        },
        "COPYOBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CopyObject"
          }
        },
        "DELETEOBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeleteObject"
          }
        },
        "COMPLETEMULTIPARTUPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CompleteMultipartUpload"
          }
        },
        "LIFECYCLEDELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LifecycleDeletion"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsGetResponseRulesItemActionsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.r2#BucketsEventNotificationsGetResponseRulesItemActionsItem"
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsGetResponseRulesItem": {
      "type": "structure",
      "members": {
        "actions": {
          "target": "com.cloudflare.r2#BucketsEventNotificationsGetResponseRulesItemActionsList",
          "traits": {
            "smithy.api#documentation": "Array of R2 object actions that will trigger notifications.",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the rule was created."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description that can be used to identify the event notification rule after creation."
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Notifications will be sent only for objects with this prefix."
          }
        },
        "ruleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rule ID."
          }
        },
        "suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Notifications will be sent only for objects with this suffix."
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsGetResponseRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.r2#BucketsEventNotificationsGetResponseRulesItem"
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsGetResponse": {
      "type": "structure",
      "members": {
        "queueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Queue ID."
          }
        },
        "queueName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the queue."
          }
        },
        "rules": {
          "target": "com.cloudflare.r2#BucketsEventNotificationsGetResponseRulesList"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.r2#BucketsEventNotificationsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.r2#BucketsEventNotificationsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/event_notifications/r2/{bucket_name}/configuration/queues/{queue_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a single event notification rule.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsListRequestCfR2Jurisdiction": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu"
          }
        },
        "FEDRAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fedramp"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "bucket_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the bucket.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cf_r2_jurisdiction": {
          "target": "com.cloudflare.r2#BucketsEventNotificationsListRequestCfR2Jurisdiction",
          "traits": {
            "smithy.api#documentation": "Jurisdiction where objects in this bucket are guaranteed to be stored.",
            "smithy.api#httpHeader": "cf-r2-jurisdiction"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsListResponseQueuesItemRulesItemActionsItem": {
      "type": "enum",
      "members": {
        "PUTOBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PutObject"
          }
        },
        "COPYOBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CopyObject"
          }
        },
        "DELETEOBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeleteObject"
          }
        },
        "COMPLETEMULTIPARTUPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CompleteMultipartUpload"
          }
        },
        "LIFECYCLEDELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LifecycleDeletion"
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsListResponseQueuesItemRulesItemActionsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.r2#BucketsEventNotificationsListResponseQueuesItemRulesItemActionsItem"
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsListResponseQueuesItemRulesItem": {
      "type": "structure",
      "members": {
        "actions": {
          "target": "com.cloudflare.r2#BucketsEventNotificationsListResponseQueuesItemRulesItemActionsList",
          "traits": {
            "smithy.api#documentation": "Array of R2 object actions that will trigger notifications.",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the rule was created."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description that can be used to identify the event notification rule after creation."
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Notifications will be sent only for objects with this prefix."
          }
        },
        "ruleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rule ID."
          }
        },
        "suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Notifications will be sent only for objects with this suffix."
          }
        }
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsListResponseQueuesItemRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.r2#BucketsEventNotificationsListResponseQueuesItemRulesItem"
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsListResponseQueuesItem": {
      "type": "structure",
      "members": {
        "queueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Queue ID."
          }
        },
        "queueName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the queue."
          }
        },
        "rules": {
          "target": "com.cloudflare.r2#BucketsEventNotificationsListResponseQueuesItemRulesList"
        }
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsListResponseQueuesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.r2#BucketsEventNotificationsListResponseQueuesItem"
      }
    },
    "com.cloudflare.r2#BucketsEventNotificationsListResponse": {
      "type": "structure",
      "members": {
        "bucketName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the bucket."
          }
        },
        "queues": {
          "target": "com.cloudflare.r2#BucketsEventNotificationsListResponseQueuesList",
          "traits": {
            "smithy.api#documentation": "List of queues associated with the bucket."
          }
[...]
