{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.realtime_kit#ActiveSessionCreatePollRequestOptionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.realtime_kit#ActiveSessionCreatePollRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The app identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "meeting_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "options": {
          "target": "com.cloudflare.realtime_kit#ActiveSessionCreatePollRequestOptionsList",
          "traits": {
            "smithy.api#documentation": "Different options for the question",
            "smithy.api#required": {}
          }
        },
        "question": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Question of the poll",
            "smithy.api#required": {}
          }
        },
        "anonymous": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "if voters on a poll are anonymous"
          }
        },
        "hide_votes": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "if votes on an option are visible before a person votes"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.realtime_kit#ActiveSessionCreatePollResponseDataPollOptionsItemVotesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#ActiveSessionCreatePollResponseDataPollOptionsItemVotesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.realtime_kit#ActiveSessionCreatePollResponseDataPollOptionsItemVotesItem"
      }
    },
    "com.cloudflare.realtime_kit#ActiveSessionCreatePollResponseDataPollOptionsItem": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text of the answer option",
            "smithy.api#required": {}
          }
        },
        "votes": {
          "target": "com.cloudflare.realtime_kit#ActiveSessionCreatePollResponseDataPollOptionsItemVotesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#ActiveSessionCreatePollResponseDataPollOptionsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.realtime_kit#ActiveSessionCreatePollResponseDataPollOptionsItem"
      }
    },
    "com.cloudflare.realtime_kit#ActiveSessionCreatePollResponseDataPollVotedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.realtime_kit#ActiveSessionCreatePollResponseDataPoll": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the poll",
            "smithy.api#required": {}
          }
        },
        "options": {
          "target": "com.cloudflare.realtime_kit#ActiveSessionCreatePollResponseDataPollOptionsList",
          "traits": {
            "smithy.api#documentation": "Answer options",
            "smithy.api#required": {}
          }
        },
        "question": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Question asked by the poll",
            "smithy.api#required": {}
          }
        },
        "anonymous": {
          "target": "smithy.api#Boolean"
        },
        "created_by": {
          "target": "smithy.api#String"
        },
        "hide_votes": {
          "target": "smithy.api#Boolean"
        },
        "voted": {
          "target": "com.cloudflare.realtime_kit#ActiveSessionCreatePollResponseDataPollVotedList"
        }
      }
    },
    "com.cloudflare.realtime_kit#ActiveSessionCreatePollResponseData": {
      "type": "structure",
      "members": {
        "action": {
          "target": "smithy.api#String"
        },
        "poll": {
          "target": "com.cloudflare.realtime_kit#ActiveSessionCreatePollResponseDataPoll"
        }
      }
    },
    "com.cloudflare.realtime_kit#ActiveSessionCreatePollResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.realtime_kit#ActiveSessionCreatePollResponseData"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.realtime_kit#ActiveSessionCreatePoll": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.realtime_kit#ActiveSessionCreatePollRequest"
      },
      "output": {
        "target": "com.cloudflare.realtime_kit#ActiveSessionCreatePollResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/realtime/kit/{app_id}/meetings/{meeting_id}/active-session/poll",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new poll in an active session for the given meeting ID."
      }
    },
    "com.cloudflare.realtime_kit#ActiveSessionGetActiveSessionRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The app identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "meeting_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.realtime_kit#ActiveSessionGetActiveSessionResponseDataStatus": {
      "type": "enum",
      "members": {
        "LIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIVE"
          }
        },
        "ENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDED"
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#ActiveSessionGetActiveSessionResponseDataType": {
      "type": "enum",
      "members": {
        "MEETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "meeting"
          }
        },
        "LIVESTREAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "livestream"
          }
        },
        "PARTICIPANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "participant"
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#ActiveSessionGetActiveSessionResponseDataBreakoutRoomsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.realtime_kit#ActiveSessionGetActiveSessionResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the session",
            "smithy.api#required": {}
          }
        },
        "associated_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the meeting this session is associated with. In the case of V2 meetings, it is always a UUID. In V1 meetings, it is a room name of the form `abcdef-ghijkl`",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "timestamp when session created",
            "smithy.api#required": {}
          }
        },
        "live_participants": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "number of participants currently in the session",
            "smithy.api#required": {}
          }
        },
        "max_concurrent_participants": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "number of maximum participants that were in the session",
            "smithy.api#required": {}
          }
        },
        "meeting_display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the meeting this session belongs to",
            "smithy.api#required": {}
          }
        },
        "minutes_consumed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "number of minutes consumed since the session started",
            "smithy.api#required": {}
          }
        },
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "App id that hosted this session",
            "smithy.api#required": {}
          }
        },
        "started_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "timestamp when session started",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.realtime_kit#ActiveSessionGetActiveSessionResponseDataStatus",
          "traits": {
            "smithy.api#documentation": "current status of session",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.realtime_kit#ActiveSessionGetActiveSessionResponseDataType",
          "traits": {
            "smithy.api#documentation": "type of session",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "timestamp when session was last updated",
            "smithy.api#required": {}
          }
        },
        "breakout_rooms": {
          "target": "com.cloudflare.realtime_kit#ActiveSessionGetActiveSessionResponseDataBreakoutRoomsList"
        },
        "ended_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "timestamp when session ended"
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#ActiveSessionGetActiveSessionResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.realtime_kit#ActiveSessionGetActiveSessionResponseData"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.realtime_kit#ActiveSessionGetActiveSession": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.realtime_kit#ActiveSessionGetActiveSessionRequest"
      },
      "output": {
        "target": "com.cloudflare.realtime_kit#ActiveSessionGetActiveSessionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/realtime/kit/{app_id}/meetings/{meeting_id}/active-session",
          "code": 200
        },
        "smithy.api#documentation": "Returns details of an ongoing active session for the given meeting ID.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.realtime_kit#ActiveSessionKickAllParticipantsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The app identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "meeting_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.realtime_kit#ActiveSessionKickAllParticipantsResponseData": {
      "type": "structure",
      "members": {
        "action": {
          "target": "smithy.api#String"
        },
        "kicked_participants_count": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.cloudflare.realtime_kit#ActiveSessionKickAllParticipantsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.realtime_kit#ActiveSessionKickAllParticipantsResponseData"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.realtime_kit#ActiveSessionKickAllParticipants": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.realtime_kit#ActiveSessionKickAllParticipantsRequest"
      },
      "output": {
        "target": "com.cloudflare.realtime_kit#ActiveSessionKickAllParticipantsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/realtime/kit/{app_id}/meetings/{meeting_id}/active-session/kick-all",
          "code": 200
        },
        "smithy.api#documentation": "Kicks all participants from an active session for the given meeting ID."
      }
    },
    "com.cloudflare.realtime_kit#ActiveSessionKickParticipantsRequestCustomParticipantIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.realtime_kit#ActiveSessionKickParticipantsRequestParticipantIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.realtime_kit#ActiveSessionKickParticipantsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The app identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "meeting_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "custom_participant_ids": {
          "target": "com.cloudflare.realtime_kit#ActiveSessionKickParticipantsRequestCustomParticipantIdsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "participant_ids": {
          "target": "com.cloudflare.realtime_kit#ActiveSessionKickParticipantsRequestParticipantIdsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.realtime_kit#ActiveSessionKickParticipantsResponseDataParticipantsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the session participant",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email of the session participant."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the session participant."
          }
        },
        "picture": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL pointing to a picture of the participant."
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#ActiveSessionKickParticipantsResponseDataParticipantsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.realtime_kit#ActiveSessionKickParticipantsResponseDataParticipantsItem"
      }
    },
    "com.cloudflare.realtime_kit#ActiveSessionKickParticipantsResponseData": {
      "type": "structure",
      "members": {
        "action": {
          "target": "smithy.api#String"
        },
        "participants": {
          "target": "com.cloudflare.realtime_kit#ActiveSessionKickParticipantsResponseDataParticipantsList"
        }
      }
    },
    "com.cloudflare.realtime_kit#ActiveSessionKickParticipantsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.realtime_kit#ActiveSessionKickParticipantsResponseData"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.realtime_kit#ActiveSessionKickParticipants": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.realtime_kit#ActiveSessionKickParticipantsRequest"
      },
      "output": {
        "target": "com.cloudflare.realtime_kit#ActiveSessionKickParticipantsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/realtime/kit/{app_id}/meetings/{meeting_id}/active-session/kick",
          "code": 200
        },
        "smithy.api#documentation": "Kicks one or more participants from an active session using user ID or custom participant ID."
      }
    },
    "com.cloudflare.realtime_kit#AnalyticsGetOrgAnalyticsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The app identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "end_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "end date in YYYY-MM-DD format",
            "smithy.api#httpQuery": "end_date"
          }
        },
        "start_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "start date in YYYY-MM-DD format",
            "smithy.api#httpQuery": "start_date"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.realtime_kit#AnalyticsGetOrgAnalyticsResponseDataRecordingStatsDayStatsItem": {
      "type": "structure",
      "members": {
        "day": {
          "target": "smithy.api#String"
        },
        "total_recording_minutes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total recording minutes for a specific day"
          }
        },
        "total_recordings": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of recordings for a specific day"
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#AnalyticsGetOrgAnalyticsResponseDataRecordingStatsDayStatsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.realtime_kit#AnalyticsGetOrgAnalyticsResponseDataRecordingStatsDayStatsItem"
      }
    },
    "com.cloudflare.realtime_kit#AnalyticsGetOrgAnalyticsResponseDataRecordingStats": {
      "type": "structure",
      "members": {
        "day_stats": {
          "target": "com.cloudflare.realtime_kit#AnalyticsGetOrgAnalyticsResponseDataRecordingStatsDayStatsList",
          "traits": {
            "smithy.api#documentation": "Day wise recording stats"
          }
        },
        "recording_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of recordings during the range specified"
          }
        },
        "recording_minutes_consumed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total recording minutes during the range specified"
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#AnalyticsGetOrgAnalyticsResponseDataSessionStatsDayStatsItem": {
      "type": "structure",
      "members": {
        "day": {
          "target": "smithy.api#String"
        },
        "total_session_minutes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total session minutes for a specific day"
          }
        },
        "total_sessions": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of sessions for a specific day"
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#AnalyticsGetOrgAnalyticsResponseDataSessionStatsDayStatsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.realtime_kit#AnalyticsGetOrgAnalyticsResponseDataSessionStatsDayStatsItem"
      }
    },
    "com.cloudflare.realtime_kit#AnalyticsGetOrgAnalyticsResponseDataSessionStats": {
      "type": "structure",
      "members": {
        "day_stats": {
          "target": "com.cloudflare.realtime_kit#AnalyticsGetOrgAnalyticsResponseDataSessionStatsDayStatsList",
          "traits": {
            "smithy.api#documentation": "Day wise session stats"
          }
        },
        "sessions_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of sessions during the range specified"
          }
        },
        "sessions_minutes_consumed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total session minutes during the range specified"
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#AnalyticsGetOrgAnalyticsResponseData": {
      "type": "structure",
      "members": {
        "recording_stats": {
          "target": "com.cloudflare.realtime_kit#AnalyticsGetOrgAnalyticsResponseDataRecordingStats",
          "traits": {
            "smithy.api#documentation": "Recording statistics of an App during the range specified"
          }
        },
        "session_stats": {
          "target": "com.cloudflare.realtime_kit#AnalyticsGetOrgAnalyticsResponseDataSessionStats",
          "traits": {
            "smithy.api#documentation": "Session statistics of an App during the range specified"
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#AnalyticsGetOrgAnalyticsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.realtime_kit#AnalyticsGetOrgAnalyticsResponseData"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.realtime_kit#AnalyticsGetOrgAnalytics": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.realtime_kit#AnalyticsGetOrgAnalyticsRequest"
      },
      "output": {
        "target": "com.cloudflare.realtime_kit#AnalyticsGetOrgAnalyticsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/realtime/kit/{app_id}/analytics/daywise",
          "code": 200
        },
        "smithy.api#documentation": "Returns day-wise session and recording analytics data of an App for the specified time range start_date to end_date. If start_date and end_date are not provided, the default time range is set from 30 days ago to the current date.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.realtime_kit#AppsGetRequestSortOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASC"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESC"
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#AppsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page_no": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The page number from which you want your page search results to be displayed.",
            "smithy.api#httpQuery": "page_no"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of results per page.",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Search string that matches apps by name.",
            "smithy.api#httpQuery": "search"
          }
        },
        "sort_order": {
          "target": "com.cloudflare.realtime_kit#AppsGetRequestSortOrder",
          "traits": {
            "smithy.api#documentation": "Sort order for apps by creation time.",
            "smithy.api#httpQuery": "sort_order"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.realtime_kit#AppsGetResponseDataItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.realtime_kit#AppsGetResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.realtime_kit#AppsGetResponseDataItem"
      }
    },
    "com.cloudflare.realtime_kit#AppsGetResponsePaging": {
      "type": "structure",
      "members": {
        "end_offset": {
          "target": "smithy.api#Double"
        },
        "start_offset": {
          "target": "smithy.api#Double"
        },
        "total_count": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.cloudflare.realtime_kit#AppsGetResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.realtime_kit#AppsGetResponseDataList"
        },
        "paging": {
          "target": "com.cloudflare.realtime_kit#AppsGetResponsePaging"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.realtime_kit#AppsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.realtime_kit#AppsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.realtime_kit#AppsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/realtime/kit/apps",
          "code": 200
        },
        "smithy.api#documentation": "Fetch all apps for your account",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.realtime_kit#AppsPostRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.realtime_kit#AppsPostResponseDataApp": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.realtime_kit#AppsPostResponseData": {
      "type": "structure",
      "members": {
        "app": {
          "target": "com.cloudflare.realtime_kit#AppsPostResponseDataApp"
        }
      }
    },
    "com.cloudflare.realtime_kit#AppsPostResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.realtime_kit#AppsPostResponseData"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.realtime_kit#AppsPost": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.realtime_kit#AppsPostRequest"
      },
      "output": {
        "target": "com.cloudflare.realtime_kit#AppsPostResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/realtime/kit/apps",
          "code": 200
        },
        "smithy.api#documentation": "Create new app for your account"
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsCreateIndependentLivestreamRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The app identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the livestream"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsCreateIndependentLivestreamResponseDataStatus": {
      "type": "enum",
      "members": {
        "LIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIVE"
          }
        },
        "IDLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDLE"
          }
        },
        "ERRORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERRORED"
          }
        },
        "INVOKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVOKED"
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsCreateIndependentLivestreamResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The livestream ID."
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies if the livestream was disabled."
          }
        },
        "ingest_server": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server URL to which the RTMP encoder should send the video and audio data."
          }
        },
        "meeting_id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "playback_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The web address that viewers can use to watch the livestream."
          }
        },
        "status": {
          "target": "com.cloudflare.realtime_kit#LivestreamsCreateIndependentLivestreamResponseDataStatus"
        },
        "stream_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique key for accessing each livestream."
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsCreateIndependentLivestreamResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.realtime_kit#LivestreamsCreateIndependentLivestreamResponseData"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsCreateIndependentLivestream": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.realtime_kit#LivestreamsCreateIndependentLivestreamRequest"
      },
      "output": {
        "target": "com.cloudflare.realtime_kit#LivestreamsCreateIndependentLivestreamResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/realtime/kit/{app_id}/livestreams",
          "code": 200
        },
        "smithy.api#documentation": "Creates a livestream for the given App ID and returns ingest server, stream key, and playback URL. You can pass custom input to the ingest server and stream key, and freely distribute the content using the playback URL on any player that supports HLS/LHLS."
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetActiveLivestreamsForLivestreamIdRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The app identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "livestream_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetActiveLivestreamsForLivestreamIdResponseDataLivestreamStatus": {
      "type": "enum",
      "members": {
        "LIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIVE"
          }
        },
        "IDLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDLE"
          }
        },
        "ERRORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERRORED"
          }
        },
        "INVOKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVOKED"
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetActiveLivestreamsForLivestreamIdResponseDataLivestream": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp the object was created at. The time is returned in ISO format."
          }
        },
        "disabled": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies if the livestream was disabled."
          }
        },
        "ingest_server": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server URL to which the RTMP encoder sends the video and audio data."
          }
        },
        "meeting_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the meeting."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the livestream."
          }
        },
        "playback_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The web address that viewers can use to watch the livestream."
          }
        },
        "status": {
          "target": "com.cloudflare.realtime_kit#LivestreamsGetActiveLivestreamsForLivestreamIdResponseDataLivestreamStatus"
        },
        "stream_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique key for accessing each livestream."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp the object was updated at. The time is returned in ISO format."
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetActiveLivestreamsForLivestreamIdResponseDataSession": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp the object was created at. The time is returned in ISO format."
          }
        },
        "err_message": {
          "target": "smithy.api#String"
        },
        "ingest_seconds": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time duration for which the input was given or the meeting was streamed."
          }
        },
        "invoked_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp the object was invoked. The time is returned in ISO format."
          }
        },
        "livestream_id": {
          "target": "smithy.api#String"
        },
        "started_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp the object was started. The time is returned in ISO format."
          }
        },
        "stopped_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp the object was stopped. The time is returned in ISO format."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp the object was updated at. The time is returned in ISO format."
          }
        },
        "viewer_seconds": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total view time for which the viewers watched the stream."
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetActiveLivestreamsForLivestreamIdResponseData": {
      "type": "structure",
      "members": {
        "livestream": {
          "target": "com.cloudflare.realtime_kit#LivestreamsGetActiveLivestreamsForLivestreamIdResponseDataLivestream"
        },
        "session": {
          "target": "com.cloudflare.realtime_kit#LivestreamsGetActiveLivestreamsForLivestreamIdResponseDataSession"
        }
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetActiveLivestreamsForLivestreamIdResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.realtime_kit#LivestreamsGetActiveLivestreamsForLivestreamIdResponseData"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetActiveLivestreamsForLivestreamId": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.realtime_kit#LivestreamsGetActiveLivestreamsForLivestreamIdRequest"
      },
      "output": {
        "target": "com.cloudflare.realtime_kit#LivestreamsGetActiveLivestreamsForLivestreamIdResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/realtime/kit/{app_id}/livestreams/{livestream_id}/active-livestream-session",
          "code": 200
        },
        "smithy.api#documentation": "Returns details of all active livestreams for the given livestream ID. Retreive the livestream ID using the `Start livestreaming a meeting` API.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetAllLivestreamsRequestSortOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASC"
          }
        },
        "DSC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DSC"
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetAllLivestreamsRequestStatus": {
      "type": "enum",
      "members": {
        "LIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIVE"
          }
        },
        "IDLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDLE"
          }
        },
        "ERRORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERRORED"
          }
        },
        "INVOKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVOKED"
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetAllLivestreamsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The app identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "end_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specify the end time range in ISO format to access the live stream.",
            "smithy.api#httpQuery": "end_time"
          }
        },
        "exclude_meetings": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Exclude the RealtimeKit meetings that are livestreamed.",
            "smithy.api#httpQuery": "exclude_meetings"
          }
        },
        "page_no": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The page number from which you want your page search results to be displayed.",
            "smithy.api#httpQuery": "page_no"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of results per page.",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "sort_order": {
          "target": "com.cloudflare.realtime_kit#LivestreamsGetAllLivestreamsRequestSortOrder",
          "traits": {
            "smithy.api#documentation": "Specifies the sorting order for the results.",
            "smithy.api#httpQuery": "sort_order"
          }
        },
        "start_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specify the start time range in ISO format to access the live stream.",
            "smithy.api#httpQuery": "start_time"
          }
        },
        "status": {
          "target": "com.cloudflare.realtime_kit#LivestreamsGetAllLivestreamsRequestStatus",
          "traits": {
            "smithy.api#documentation": "Specifies the status of the operation.",
            "smithy.api#httpQuery": "status"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetAllLivestreamsResponseDataPaging": {
      "type": "structure",
      "members": {
        "end_offset": {
          "target": "smithy.api#Double"
        },
        "start_offset": {
          "target": "smithy.api#Double"
        },
        "total_count": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetAllLivestreamsResponseDataStatus": {
      "type": "enum",
      "members": {
        "LIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIVE"
          }
        },
        "IDLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDLE"
          }
        },
        "ERRORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERRORED"
          }
        },
        "INVOKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVOKED"
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetAllLivestreamsResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the livestream."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp the object was created at. The time is returned in ISO format."
          }
        },
        "disabled": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies if the livestream was disabled."
          }
        },
        "ingest_server": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server URL to which the RTMP encoder sends the video and audio data."
          }
        },
        "meeting_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the meeting."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the livestream."
          }
        },
        "paging": {
          "target": "com.cloudflare.realtime_kit#LivestreamsGetAllLivestreamsResponseDataPaging"
        },
        "playback_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The web address that viewers can use to watch the livestream."
          }
        },
        "status": {
          "target": "com.cloudflare.realtime_kit#LivestreamsGetAllLivestreamsResponseDataStatus"
        },
        "stream_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique key for accessing each livestream."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp the object was updated at. The time is returned in ISO format."
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetAllLivestreamsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.realtime_kit#LivestreamsGetAllLivestreamsResponseData"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetAllLivestreams": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.realtime_kit#LivestreamsGetAllLivestreamsRequest"
      },
      "output": {
        "target": "com.cloudflare.realtime_kit#LivestreamsGetAllLivestreamsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/realtime/kit/{app_id}/livestreams",
          "code": 200
        },
        "smithy.api#documentation": "Returns details of livestreams associated with the given App ID. It includes livestreams created by your App and RealtimeKit meetings that are livestreamed by your App. If you only want details of livestreams created by your App and not RealtimeKit meetings, you can use the `exclude_meetings` query parameter.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetLivestreamAnalyticsCompleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The app identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "end_time": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specify the end time as a Unix timestamp in seconds to access the livestream analytics.",
            "smithy.api#httpQuery": "end_time"
          }
        },
        "filters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional filters for livestream analytics.",
            "smithy.api#httpQuery": "filters"
          }
        },
        "start_time": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specify the start time as a Unix timestamp in seconds to access the livestream analytics.",
            "smithy.api#httpQuery": "start_time"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetLivestreamAnalyticsCompleteResponseData": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Count of total livestreams."
          }
        },
        "total_ingest_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total time duration for which the input was given or the meeting was streamed."
          }
        },
        "total_viewer_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total view time for which the viewers watched the stream."
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetLivestreamAnalyticsCompleteResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.realtime_kit#LivestreamsGetLivestreamAnalyticsCompleteResponseData"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetLivestreamAnalyticsComplete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.realtime_kit#LivestreamsGetLivestreamAnalyticsCompleteRequest"
      },
      "output": {
        "target": "com.cloudflare.realtime_kit#LivestreamsGetLivestreamAnalyticsCompleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/realtime/kit/{app_id}/analytics/livestreams/overall",
          "code": 200
        },
        "smithy.api#documentation": "Returns livestream analytics for the specified time range.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetLivestreamAnalyticsDaywiseRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The app identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "end_time": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specify the end time as a Unix timestamp in seconds to access the livestream analytics.",
            "smithy.api#httpQuery": "end_time"
          }
        },
        "filters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional filters for livestream analytics.",
            "smithy.api#httpQuery": "filters"
          }
        },
        "start_time": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specify the start time as a Unix timestamp in seconds to access the livestream analytics.",
            "smithy.api#httpQuery": "start_time"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetLivestreamAnalyticsDaywiseResponseDataItem": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Count of total livestream sessions."
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Analytics date."
          }
        },
        "total_ingest_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total time duration for which the input was given or the meeting was streamed."
          }
        },
        "total_viewer_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total view time for which the viewers watched the stream."
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetLivestreamAnalyticsDaywiseResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.realtime_kit#LivestreamsGetLivestreamAnalyticsDaywiseResponseDataItem"
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetLivestreamAnalyticsDaywiseResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.realtime_kit#LivestreamsGetLivestreamAnalyticsDaywiseResponseDataList"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetLivestreamAnalyticsDaywise": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.realtime_kit#LivestreamsGetLivestreamAnalyticsDaywiseRequest"
      },
      "output": {
        "target": "com.cloudflare.realtime_kit#LivestreamsGetLivestreamAnalyticsDaywiseResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/realtime/kit/{app_id}/analytics/livestreams/daywise",
          "code": 200
        },
        "smithy.api#documentation": "Returns day-wise livestream analytics for the specified time range.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetLivestreamSessionDetailsForSessionIdRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The app identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "livestream_session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetLivestreamSessionDetailsForSessionIdResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The livestream ID."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp the object was created at. The time is returned in ISO format."
          }
        },
        "err_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server URL to which the RTMP encoder sends the video and audio data."
          }
        },
        "ingest_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Name of the livestream."
          }
        },
        "livestream_id": {
          "target": "smithy.api#String"
        },
        "started_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique key for accessing each livestream."
          }
        },
        "stopped_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The web address that viewers can use to watch the livestream."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp the object was updated at. The time is returned in ISO format."
          }
        },
        "viewer_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies if the livestream was disabled."
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetLivestreamSessionDetailsForSessionIdResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.realtime_kit#LivestreamsGetLivestreamSessionDetailsForSessionIdResponseData"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetLivestreamSessionDetailsForSessionId": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.realtime_kit#LivestreamsGetLivestreamSessionDetailsForSessionIdRequest"
      },
      "output": {
        "target": "com.cloudflare.realtime_kit#LivestreamsGetLivestreamSessionDetailsForSessionIdResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/realtime/kit/{app_id}/livestreams/sessions/{livestream_session_id}",
          "code": 200
        },
        "smithy.api#documentation": "Returns livestream session details for the given livestream session ID. Retrieve the `livestream_session_id`using the `Fetch livestream session details using a session ID` API.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetLivestreamSessionForLivestreamIdRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The app identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "livestream_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page_no": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The page number from which you want your page search results to be displayed.",
            "smithy.api#httpQuery": "page_no"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of results per page.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetLivestreamSessionForLivestreamIdResponseDataLivestreamStatus": {
      "type": "enum",
      "members": {
        "LIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIVE"
          }
        },
        "IDLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDLE"
          }
        },
        "ERRORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERRORED"
          }
        },
        "INVOKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVOKED"
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetLivestreamSessionForLivestreamIdResponseDataLivestream": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the livestream."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp the object was created at. The time is returned in ISO format."
          }
        },
        "disabled": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies if the livestream was disabled."
          }
        },
        "ingest_server": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server URL to which the RTMP encoder sends the video and audio data."
          }
        },
        "meeting_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the meeting."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the livestream."
          }
        },
        "playback_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The web address that viewers can use to watch the livestream."
          }
        },
        "status": {
          "target": "com.cloudflare.realtime_kit#LivestreamsGetLivestreamSessionForLivestreamIdResponseDataLivestreamStatus"
        },
        "stream_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique key for accessing each livestream."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp the object was updated at. The time is returned in ISO format."
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetLivestreamSessionForLivestreamIdResponseDataPaging": {
      "type": "structure",
      "members": {
        "end_offset": {
          "target": "smithy.api#Double"
        },
        "start_offset": {
          "target": "smithy.api#Double"
        },
        "total_count": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetLivestreamSessionForLivestreamIdResponseDataSession": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the session."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp the object was created at. The time is returned in ISO format."
          }
        },
        "err_message": {
          "target": "smithy.api#String"
        },
        "ingest_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time duration for which the input was given or the meeting was streamed."
          }
        },
        "invoked_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp the object was invoked. The time is returned in ISO format."
          }
        },
        "livestream_id": {
          "target": "smithy.api#String"
        },
        "started_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp the object was started. The time is returned in ISO format."
          }
        },
        "stopped_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp the object was stopped. The time is returned in ISO format."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp the object was updated at. The time is returned in ISO format."
          }
        },
        "viewer_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The total view time for which the viewers watched the stream."
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetLivestreamSessionForLivestreamIdResponseData": {
      "type": "structure",
      "members": {
        "livestream": {
          "target": "com.cloudflare.realtime_kit#LivestreamsGetLivestreamSessionForLivestreamIdResponseDataLivestream"
        },
        "paging": {
          "target": "com.cloudflare.realtime_kit#LivestreamsGetLivestreamSessionForLivestreamIdResponseDataPaging"
        },
        "session": {
          "target": "com.cloudflare.realtime_kit#LivestreamsGetLivestreamSessionForLivestreamIdResponseDataSession"
        }
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetLivestreamSessionForLivestreamIdResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.realtime_kit#LivestreamsGetLivestreamSessionForLivestreamIdResponseData"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetLivestreamSessionForLivestreamId": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.realtime_kit#LivestreamsGetLivestreamSessionForLivestreamIdRequest"
      },
      "output": {
        "target": "com.cloudflare.realtime_kit#LivestreamsGetLivestreamSessionForLivestreamIdResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/realtime/kit/{app_id}/livestreams/{livestream_id}",
          "code": 200
        },
        "smithy.api#documentation": "Returns details of a livestream with sessions for the given livestream ID. Retreive the livestream ID using the `Start livestreaming a meeting` API.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetMeetingActiveLivestreamsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The app identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "meeting_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetMeetingActiveLivestreamsResponseDataStatus": {
      "type": "enum",
      "members": {
        "LIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIVE"
          }
        },
        "IDLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDLE"
          }
        },
        "ERRORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERRORED"
          }
        },
        "INVOKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVOKED"
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetMeetingActiveLivestreamsResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The livestream ID."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp the object was created at. The time is returned in ISO format."
          }
        },
        "disabled": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies if the livestream was disabled."
          }
        },
        "ingest_server": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server URL to which the RTMP encoder sends the video and audio data."
          }
        },
        "meeting_id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the livestream."
          }
        },
        "playback_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The web address that viewers can use to watch the livestream."
          }
        },
        "status": {
          "target": "com.cloudflare.realtime_kit#LivestreamsGetMeetingActiveLivestreamsResponseDataStatus"
        },
        "stream_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique key for accessing each livestream."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp the object was updated at. The time is returned in ISO format."
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetMeetingActiveLivestreamsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.realtime_kit#LivestreamsGetMeetingActiveLivestreamsResponseData"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetMeetingActiveLivestreams": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.realtime_kit#LivestreamsGetMeetingActiveLivestreamsRequest"
      },
      "output": {
        "target": "com.cloudflare.realtime_kit#LivestreamsGetMeetingActiveLivestreamsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/realtime/kit/{app_id}/meetings/{meeting_id}/active-livestream",
          "code": 200
        },
        "smithy.api#documentation": "Returns details of all active livestreams for the given meeting ID.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetOrgAnalyticsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The app identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "end_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "end date in YYYY-MM-DD format",
            "smithy.api#httpQuery": "end_date"
          }
        },
        "start_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "start date in YYYY-MM-DD format",
            "smithy.api#httpQuery": "start_date"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetOrgAnalyticsResponseDataRecordingStatsDayStatsItem": {
      "type": "structure",
      "members": {
        "day": {
          "target": "smithy.api#String"
        },
        "total_recording_minutes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total recording minutes for a specific day"
          }
        },
        "total_recordings": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of recordings for a specific day"
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetOrgAnalyticsResponseDataRecordingStatsDayStatsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.realtime_kit#LivestreamsGetOrgAnalyticsResponseDataRecordingStatsDayStatsItem"
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetOrgAnalyticsResponseDataRecordingStats": {
      "type": "structure",
      "members": {
        "day_stats": {
          "target": "com.cloudflare.realtime_kit#LivestreamsGetOrgAnalyticsResponseDataRecordingStatsDayStatsList",
          "traits": {
            "smithy.api#documentation": "Day wise recording stats"
          }
        },
        "recording_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of recordings during the range specified"
          }
        },
        "recording_minutes_consumed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total recording minutes during the range specified"
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetOrgAnalyticsResponseDataSessionStatsDayStatsItem": {
      "type": "structure",
      "members": {
        "day": {
          "target": "smithy.api#String"
        },
        "total_session_minutes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total session minutes for a specific day"
          }
        },
        "total_sessions": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of sessions for a specific day"
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetOrgAnalyticsResponseDataSessionStatsDayStatsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.realtime_kit#LivestreamsGetOrgAnalyticsResponseDataSessionStatsDayStatsItem"
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetOrgAnalyticsResponseDataSessionStats": {
      "type": "structure",
      "members": {
        "day_stats": {
          "target": "com.cloudflare.realtime_kit#LivestreamsGetOrgAnalyticsResponseDataSessionStatsDayStatsList",
          "traits": {
            "smithy.api#documentation": "Day wise session stats"
          }
        },
        "sessions_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of sessions during the range specified"
          }
        },
        "sessions_minutes_consumed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total session minutes during the range specified"
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetOrgAnalyticsResponseData": {
      "type": "structure",
      "members": {
        "recording_stats": {
          "target": "com.cloudflare.realtime_kit#LivestreamsGetOrgAnalyticsResponseDataRecordingStats",
          "traits": {
            "smithy.api#documentation": "Recording statistics of an App during the range specified"
          }
        },
        "session_stats": {
          "target": "com.cloudflare.realtime_kit#LivestreamsGetOrgAnalyticsResponseDataSessionStats",
          "traits": {
            "smithy.api#documentation": "Session statistics of an App during the range specified"
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetOrgAnalyticsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.realtime_kit#LivestreamsGetOrgAnalyticsResponseData"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsGetOrgAnalytics": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.realtime_kit#LivestreamsGetOrgAnalyticsRequest"
      },
      "output": {
        "target": "com.cloudflare.realtime_kit#LivestreamsGetOrgAnalyticsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/realtime/kit/{app_id}/analytics/daywise",
          "code": 200
        },
        "smithy.api#documentation": "Returns day-wise session and recording analytics data of an App for the specified time range start_date to end_date. If start_date and end_date are not provided, the default time range is set from 30 days ago to the current date.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsStartLivestreamingAMeetingRequestVideoConfig": {
      "type": "structure",
      "members": {
        "height": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Height of the livestreaming video in pixels"
          }
        },
        "width": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Width of the livestreaming video in pixels"
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsStartLivestreamingAMeetingRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The app identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "meeting_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "video_config": {
          "target": "com.cloudflare.realtime_kit#LivestreamsStartLivestreamingAMeetingRequestVideoConfig"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsStartLivestreamingAMeetingResponseDataStatus": {
      "type": "enum",
      "members": {
        "LIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIVE"
          }
        },
        "IDLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDLE"
          }
        },
        "ERRORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERRORED"
          }
        },
        "INVOKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVOKED"
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsStartLivestreamingAMeetingResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The livestream ID."
          }
        },
        "ingest_server": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server URL to which the RTMP encoder sends the video and audio data."
          }
        },
        "playback_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The web address that viewers can use to watch the livestream."
          }
        },
        "status": {
          "target": "com.cloudflare.realtime_kit#LivestreamsStartLivestreamingAMeetingResponseDataStatus"
        },
        "stream_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique key for accessing each livestream."
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsStartLivestreamingAMeetingResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.realtime_kit#LivestreamsStartLivestreamingAMeetingResponseData"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsStartLivestreamingAMeeting": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.realtime_kit#LivestreamsStartLivestreamingAMeetingRequest"
      },
      "output": {
        "target": "com.cloudflare.realtime_kit#LivestreamsStartLivestreamingAMeetingResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/realtime/kit/{app_id}/meetings/{meeting_id}/livestreams",
          "code": 200
        },
        "smithy.api#documentation": "Starts livestream of a meeting associated with the given meeting ID. Retreive the meeting ID using the `Create a meeting` API."
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsStopLivestreamingAMeetingRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The app identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "meeting_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsStopLivestreamingAMeetingResponseData": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsStopLivestreamingAMeetingResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.realtime_kit#LivestreamsStopLivestreamingAMeetingResponseData"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.realtime_kit#LivestreamsStopLivestreamingAMeeting": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.realtime_kit#LivestreamsStopLivestreamingAMeetingRequest"
      },
      "output": {
        "target": "com.cloudflare.realtime_kit#LivestreamsStopLivestreamingAMeetingResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/realtime/kit/{app_id}/meetings/{meeting_id}/active-livestream/stop",
          "code": 200
        },
        "smithy.api#documentation": "Stops the active livestream of a meeting associated with the given meeting ID. Retreive the meeting ID using the `Create a meeting` API."
      }
    },
    "com.cloudflare.realtime_kit#MeetingsAddParticipantRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The app identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "meeting_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "custom_participant_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique participant ID. You must specify a unique ID for the participant, for example, UUID, email address, and so on.",
            "smithy.api#required": {}
          }
        },
        "preset_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the preset to apply to this participant.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "(Optional) Name of the participant."
          }
        },
        "picture": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "(Optional) A URL to a picture to be used for the participant."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.realtime_kit#MeetingsAddParticipantResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the participant.",
            "smithy.api#required": {}
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The participant's auth token that can be used for joining a meeting from the client side.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When this object was created. The time is returned in ISO format.",
            "smithy.api#required": {}
          }
        },
        "custom_participant_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique participant ID generated by the client.",
            "smithy.api#required": {}
          }
        },
        "preset_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Preset applied to the participant.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When this object was updated. The time is returned in ISO format.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the participant."
          }
        },
        "picture": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to a picture of the participant."
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#MeetingsAddParticipantResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.realtime_kit#MeetingsAddParticipantResponseData",
          "traits": {
            "smithy.api#documentation": "Represents a participant."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.realtime_kit#MeetingsAddParticipant": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.realtime_kit#MeetingsAddParticipantRequest"
      },
      "output": {
        "target": "com.cloudflare.realtime_kit#MeetingsAddParticipantResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/realtime/kit/{app_id}/meetings/{meeting_id}/participants",
          "code": 200
        },
        "smithy.api#documentation": "Adds a participant to the given meeting ID."
      }
    },
    "com.cloudflare.realtime_kit#MeetingsCreateRequestAiConfigSummarizationSummaryType": {
      "type": "enum",
      "members": {
        "GENERAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "general"
          }
        },
        "TEAM_MEETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team_meeting"
          }
        },
        "SALES_CALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales_call"
          }
        },
        "CLIENT_CHECK_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "client_check_in"
          }
        },
        "INTERVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "interview"
          }
        },
        "DAILY_STANDUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "daily_standup"
          }
        },
        "ONE_ON_ONE_MEETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "one_on_one_meeting"
          }
        },
        "LECTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lecture"
          }
        },
        "CODE_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "code_review"
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#MeetingsCreateRequestAiConfigSummarizationTextFormat": {
      "type": "enum",
      "members": {
        "PLAIN_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plain_text"
          }
        },
        "MARKDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "markdown"
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#MeetingsCreateRequestAiConfigSummarization": {
      "type": "structure",
      "members": {
        "summary_type": {
          "target": "com.cloudflare.realtime_kit#MeetingsCreateRequestAiConfigSummarizationSummaryType",
          "traits": {
            "smithy.api#documentation": "Defines the style of the summary, such as general, team meeting, or sales call."
          }
        },
        "text_format": {
          "target": "com.cloudflare.realtime_kit#MeetingsCreateRequestAiConfigSummarizationTextFormat",
          "traits": {
            "smithy.api#documentation": "Determines the text format of the summary, such as plain text or markdown."
          }
        },
        "word_limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Sets the maximum number of words in the meeting summary."
          }
        }
      }
    },
    "com.cloudflare.realtime_kit#MeetingsCreateRequestAiConfigTranscriptionKeywordsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.realtime_kit#MeetingsCreateRequestAiConfigTranscriptionLanguage": {
      "type": "enum",
      "members": {
        "EN_US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "en-US"
          }
        },
        "EN_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "en-IN"
          }
        },
        "DE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "de"
          }
        },
        "HI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hi"
          }
        },
        "SV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sv"
          }
[...]
