{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.registrar#CheckRequestDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.registrar#CheckRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "domains": {
          "target": "com.cloudflare.registrar#CheckRequestDomainsList",
          "traits": {
            "smithy.api#documentation": "List of fully qualified domain names (FQDNs) to check for availability. Each domain must include the extension.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.registrar#CheckResponseDomainsItemPricing": {
      "type": "structure",
      "members": {
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO-4217 currency code for the prices (e.g., \"USD\", \"EUR\", \"GBP\").",
            "smithy.api#required": {}
          }
        },
        "registration_cost": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The first-year cost to register this domain. For premium domains",
            "smithy.api#required": {}
          }
        },
        "renewal_cost": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Per-year renewal cost for this domain. Applied to each year beyond",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.registrar#CheckResponseDomainsItemReason": {
      "type": "enum",
      "members": {
        "EXTENSION_NOT_SUPPORTED_VIA_API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "extension_not_supported_via_api"
          }
        },
        "EXTENSION_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "extension_not_supported"
          }
        },
        "EXTENSION_DISALLOWS_REGISTRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "extension_disallows_registration"
          }
        },
        "DOMAIN_PREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain_premium"
          }
        },
        "DOMAIN_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain_unavailable"
          }
        }
      }
    },
    "com.cloudflare.registrar#CheckResponseDomainsItemTier": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "PREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "premium"
          }
        }
      }
    },
    "com.cloudflare.registrar#CheckResponseDomainsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified domain name (FQDN) in punycode format for internationalized domain names (IDNs).",
            "smithy.api#required": {}
          }
        },
        "registrable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether this domain can be registered programmatically through this API based on a real-time registry check.",
            "smithy.api#required": {}
          }
        },
        "pricing": {
          "target": "com.cloudflare.registrar#CheckResponseDomainsItemPricing",
          "traits": {
            "smithy.api#documentation": "Annual pricing information for a registrable domain. This object is only"
          }
        },
        "reason": {
          "target": "com.cloudflare.registrar#CheckResponseDomainsItemReason",
          "traits": {
            "smithy.api#documentation": "Present only when `registrable` is `false`. Explains why the domain cannot be registered via this API."
          }
        },
        "tier": {
          "target": "com.cloudflare.registrar#CheckResponseDomainsItemTier",
          "traits": {
            "smithy.api#documentation": "The pricing tier for this domain. Always present when `registrable` is `true`; defaults to `standard` for most domains. May be absent when `registrable` is `false`."
          }
        }
      }
    },
    "com.cloudflare.registrar#CheckResponseDomainsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.registrar#CheckResponseDomainsItem"
      }
    },
    "com.cloudflare.registrar#CheckResponse": {
      "type": "structure",
      "members": {
        "domains": {
          "target": "com.cloudflare.registrar#CheckResponseDomainsList",
          "traits": {
            "smithy.api#documentation": "Array of domain availability results. Domains on unsupported",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.registrar#Check": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.registrar#CheckRequest"
      },
      "output": {
        "target": "com.cloudflare.registrar#CheckResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/registrar/domain-check",
          "code": 200
        },
        "smithy.api#documentation": "Performs real-time, authoritative availability checks directly against domain registries. Use this endpoint to verify a domain is available before attempting registration via `POST /registrations`. **Important:** Unlike the Search endpoint, these results are authoritative and reflect current registry status. Always check availability immediately before registration as domain status can change rapidly. **Note:** This endpoint uses POST to accept a list of domains in the request body. It is a read-only operation — it does not create, modify, or reserve any domains."
      }
    },
    "com.cloudflare.registrar#SearchRequestExtensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.registrar#SearchRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "q": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The search term to find domain suggestions. Accepts keywords, phrases, or full domain names.",
            "smithy.api#httpQuery": "q",
            "smithy.api#required": {}
          }
        },
        "extensions": {
          "target": "com.cloudflare.registrar#SearchRequestExtensionsList",
          "traits": {
            "smithy.api#documentation": "Limits results to specific domain extensions from the supported set. If not specified,",
            "smithy.api#httpQuery": "extensions"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of domain suggestions to return. Defaults to 20 if not specified.",
            "smithy.api#httpQuery": "limit"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.registrar#SearchResponseDomainsItemPricing": {
      "type": "structure",
      "members": {
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO-4217 currency code for the prices (e.g., \"USD\", \"EUR\", \"GBP\").",
            "smithy.api#required": {}
          }
        },
        "registration_cost": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The first-year cost to register this domain. For premium domains",
            "smithy.api#required": {}
          }
        },
        "renewal_cost": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Per-year renewal cost for this domain. Applied to each year beyond",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.registrar#SearchResponseDomainsItemReason": {
      "type": "enum",
      "members": {
        "EXTENSION_NOT_SUPPORTED_VIA_API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "extension_not_supported_via_api"
          }
        },
        "EXTENSION_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "extension_not_supported"
          }
        },
        "EXTENSION_DISALLOWS_REGISTRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "extension_disallows_registration"
          }
        },
        "DOMAIN_PREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain_premium"
          }
        },
        "DOMAIN_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain_unavailable"
          }
        }
      }
    },
    "com.cloudflare.registrar#SearchResponseDomainsItemTier": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "PREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "premium"
          }
        }
      }
    },
    "com.cloudflare.registrar#SearchResponseDomainsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified domain name (FQDN) in punycode format for internationalized domain names (IDNs).",
            "smithy.api#required": {}
          }
        },
        "registrable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether this domain appears available based on search data. Search results are non-authoritative and may be stale. - `true`: The domain appears available. Use POST /domain-check to confirm before registration.",
            "smithy.api#required": {}
          }
        },
        "pricing": {
          "target": "com.cloudflare.registrar#SearchResponseDomainsItemPricing",
          "traits": {
            "smithy.api#documentation": "Annual pricing information for a registrable domain. This object is only"
          }
        },
        "reason": {
          "target": "com.cloudflare.registrar#SearchResponseDomainsItemReason",
          "traits": {
            "smithy.api#documentation": "Present only when `registrable` is `false` on search results. Explains why the domain does not appear registrable through this API. These values are advisory; use POST /domain-check for authoritative status."
          }
        },
        "tier": {
          "target": "com.cloudflare.registrar#SearchResponseDomainsItemTier",
          "traits": {
            "smithy.api#documentation": "The pricing tier for this domain. Always present when `registrable` is `true`;"
          }
        }
      }
    },
    "com.cloudflare.registrar#SearchResponseDomainsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.registrar#SearchResponseDomainsItem"
      }
    },
    "com.cloudflare.registrar#SearchResponse": {
      "type": "structure",
      "members": {
        "domains": {
          "target": "com.cloudflare.registrar#SearchResponseDomainsList",
          "traits": {
            "smithy.api#documentation": "Array of domain suggestions sorted by relevance. May be empty if no domains match the search criteria.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.registrar#Search": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.registrar#SearchRequest"
      },
      "output": {
        "target": "com.cloudflare.registrar#SearchResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/registrar/domain-search",
          "code": 200
        },
        "smithy.api#documentation": "Searches for domain name suggestions based on a keyword, phrase, or partial domain name. Returns a list of potentially available domains with pricing information. **Important:** Results are non-authoritative and based on cached data. Always use the `/domain-check` endpoint to verify real-time availability before attempting registration. Suggestions are scoped to extensions supported for programmatic registration via this API (`POST /registrations`). Domains on unsupported extensions will not appear in results, even if they are available at the registry level.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.registrar#DomainsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "domain_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified domain name (FQDN) including the extension",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.registrar#DomainsGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.registrar#DomainsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.registrar#DomainsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.registrar#DomainsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/registrar/domains/{domain_name}",
          "code": 200
        },
        "smithy.api#documentation": "Show individual domain.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.registrar#DomainsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.registrar#DomainsListResultItemRegistrantContact": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address.",
            "smithy.api#required": {}
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "City.",
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The country in which the user lives.",
            "smithy.api#required": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User's first name",
            "smithy.api#required": {}
          }
        },
        "last_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User's last name",
            "smithy.api#required": {}
          }
        },
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of organization.",
            "smithy.api#required": {}
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User's telephone number",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State.",
            "smithy.api#required": {}
          }
        },
        "zip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The zipcode or postal code where the user lives.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contact Identifier."
          }
        },
        "address2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional address line for unit, floor, suite, etc."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact email address of the user."
          }
        },
        "fax": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contact fax number."
          }
        }
      }
    },
    "com.cloudflare.registrar#DomainsListResultItemTransferInAcceptFoa": {
      "type": "enum",
      "members": {
        "NEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "needed"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        }
      }
    },
    "com.cloudflare.registrar#DomainsListResultItemTransferInApproveTransfer": {
      "type": "enum",
      "members": {
        "NEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "needed"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "TRYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trying"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      }
    },
    "com.cloudflare.registrar#DomainsListResultItemTransferInDisablePrivacy": {
      "type": "enum",
      "members": {
        "NEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "needed"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      }
    },
    "com.cloudflare.registrar#DomainsListResultItemTransferInEnterAuthCode": {
      "type": "enum",
      "members": {
        "NEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "needed"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "TRYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trying"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        }
      }
    },
    "com.cloudflare.registrar#DomainsListResultItemTransferInUnlockDomain": {
      "type": "enum",
      "members": {
        "NEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "needed"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "TRYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trying"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      }
    },
    "com.cloudflare.registrar#DomainsListResultItemTransferIn": {
      "type": "structure",
      "members": {
        "accept_foa": {
          "target": "com.cloudflare.registrar#DomainsListResultItemTransferInAcceptFoa",
          "traits": {
            "smithy.api#documentation": "Form of authorization has been accepted by the registrant."
          }
        },
        "approve_transfer": {
          "target": "com.cloudflare.registrar#DomainsListResultItemTransferInApproveTransfer",
          "traits": {
            "smithy.api#documentation": "Shows transfer status with the registry."
          }
        },
        "can_cancel_transfer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if cancellation is still possible."
          }
        },
        "disable_privacy": {
          "target": "com.cloudflare.registrar#DomainsListResultItemTransferInDisablePrivacy",
          "traits": {
            "smithy.api#documentation": "Privacy guards are disabled at the foreign registrar."
          }
        },
        "enter_auth_code": {
          "target": "com.cloudflare.registrar#DomainsListResultItemTransferInEnterAuthCode",
          "traits": {
            "smithy.api#documentation": "Auth code has been entered and verified."
          }
        },
        "unlock_domain": {
          "target": "com.cloudflare.registrar#DomainsListResultItemTransferInUnlockDomain",
          "traits": {
            "smithy.api#documentation": "Domain is unlocked at the foreign registrar."
          }
        }
      }
    },
    "com.cloudflare.registrar#DomainsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain identifier."
          }
        },
        "available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Shows if a domain is available for transferring into Cloudflare Registrar."
          }
        },
        "can_register": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the domain can be registered as a new domain."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Shows time of creation."
          }
        },
        "current_registrar": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Shows name of current registrar."
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Shows when domain name registration expires."
          }
        },
        "locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Shows whether a registrar lock is in place for a domain."
          }
        },
        "registrant_contact": {
          "target": "com.cloudflare.registrar#DomainsListResultItemRegistrantContact",
          "traits": {
            "smithy.api#documentation": "Shows contact information for domain registrant."
          }
        },
        "registry_statuses": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comma-separated list of registry status codes. A full list of status codes can be found at [EPP Status Codes](https://www.icann.org/resources/pages/epp-status-codes-2014-06-16-en)."
          }
        },
        "supported_tld": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a particular TLD is currently supported by Cloudflare Registrar. Refer to [TLD Policies](https://www.cloudflare.com/tld-policies/) for a list of supported TLDs."
          }
        },
        "transfer_in": {
          "target": "com.cloudflare.registrar#DomainsListResultItemTransferIn",
          "traits": {
            "smithy.api#documentation": "Statuses for domain transfers into Cloudflare Registrar."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last updated."
          }
        }
      }
    },
    "com.cloudflare.registrar#DomainsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.registrar#DomainsListResultItem"
      }
    },
    "com.cloudflare.registrar#DomainsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.registrar#DomainsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.registrar#DomainsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.registrar#DomainsListRequest"
      },
      "output": {
        "target": "com.cloudflare.registrar#DomainsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/registrar/domains",
          "code": 200
        },
        "smithy.api#documentation": "List domains handled by Registrar.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.registrar#DomainsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "domain_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified domain name (FQDN) including the extension",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "auto_renew": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Auto-renew controls whether subscription is automatically renewed upon domain expiration."
          }
        },
        "locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Shows whether a registrar lock is in place for a domain."
          }
        },
        "privacy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Privacy option controls redacting WHOIS information."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.registrar#DomainsUpdateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.registrar#DomainsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.registrar#DomainsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.registrar#DomainsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/registrar/domains/{domain_name}",
          "code": 200
        },
        "smithy.api#documentation": "Update individual domain.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.registrar#RegistrationStatusGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "domain_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified domain name (FQDN) including the extension",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.registrar#RegistrationStatusGetResponseLinks": {
      "type": "structure",
      "members": {
        "self": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to this status resource.",
            "smithy.api#required": {}
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to the domain resource."
          }
        }
      }
    },
    "com.cloudflare.registrar#RegistrationStatusGetResponseState": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "ACTION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "action_required"
          }
        },
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blocked"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      }
    },
    "com.cloudflare.registrar#RegistrationStatusGetResponseContextMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.registrar#RegistrationStatusGetResponseError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Machine-readable error code identifying the failure reason.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable explanation of the failure. May include registry-specific details.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.registrar#RegistrationStatusGetResponse": {
      "type": "structure",
      "members": {
        "completed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the workflow has reached a terminal state. `true` when",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "links": {
          "target": "com.cloudflare.registrar#RegistrationStatusGetResponseLinks",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.cloudflare.registrar#RegistrationStatusGetResponseState",
          "traits": {
            "smithy.api#documentation": "Workflow lifecycle state.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "context": {
          "target": "com.cloudflare.registrar#RegistrationStatusGetResponseContextMap",
          "traits": {
            "smithy.api#documentation": "Workflow-specific data for this workflow."
          }
        },
        "error": {
          "target": "com.cloudflare.registrar#RegistrationStatusGetResponseError",
          "traits": {
            "smithy.api#documentation": "Error details when a workflow reaches the `failed` state. The specific"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.registrar#RegistrationStatusGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.registrar#RegistrationStatusGetRequest"
      },
      "output": {
        "target": "com.cloudflare.registrar#RegistrationStatusGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/registrar/registrations/{domain_name}/registration-status",
          "code": 200
        },
        "smithy.api#documentation": "Returns the current status of a domain registration workflow. Use this endpoint to poll for completion when the POST response returned `202 Accepted`. The URL is provided in the `links.self` field of the workflow status response. Poll this endpoint until the workflow reaches a terminal state or a state that requires user attention. **Terminal states:** `succeeded` and `failed` are terminal and always have `completed: true`. **Non-terminal states:** - `action_required` has `completed: false` and will not resolve on its own. The workflow is paused pending user intervention. - `blocked` has `completed: false` and indicates the workflow is waiting on a third party such as the extension registry or losing registrar. Continue polling while informing the user of the delay. Use increasing backoff between polls. When `state: blocked`, use a longer polling interval and do not poll indefinitely. A naive polling loop that only checks `completed` can run indefinitely when `state: action_required`. Break explicitly on `action_required`: ```js let status; do { await new Promise(r => setTimeout(r, 2000)); status = await cloudflare.request({ method: 'GET', path: reg.result.links.self, }); } while ( !status.result.completed && status.result.state !== 'action_required' ); if (status.result.state === 'action_required') { // Surface context.action and context.confirmation_sent_to to the user. // Do not re-submit the registration request. } ```",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.registrar#RegistrationsCreateRequestContactsRegistrantPostalInfoAddress": {
      "type": "structure",
      "members": {
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "City or locality name.",
            "smithy.api#required": {}
          }
        },
        "country_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Two-letter country code per ISO 3166-1 alpha-2 (e.g., `US`, `GB`, `CA`, `DE`).",
            "smithy.api#required": {}
          }
        },
        "postal_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Postal or ZIP code.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State, province, or region. Use the standard abbreviation where applicable (e.g., `TX` for Texas, `ON` for Ontario).",
            "smithy.api#required": {}
          }
        },
        "street": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Street address including building/suite number.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.registrar#RegistrationsCreateRequestContactsRegistrantPostalInfo": {
      "type": "structure",
      "members": {
        "address": {
          "target": "com.cloudflare.registrar#RegistrationsCreateRequestContactsRegistrantPostalInfoAddress",
          "traits": {
            "smithy.api#documentation": "Physical mailing address for the registrant contact.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full legal name of the registrant (individual or authorized representative).",
            "smithy.api#required": {}
          }
        },
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organization or company name. Optional for individual registrants."
          }
        }
      }
    },
    "com.cloudflare.registrar#RegistrationsCreateRequestContactsRegistrant": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address for the registrant. Used for domain-related",
            "smithy.api#required": {}
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Phone number in E.164 format: `+{country_code}.{number}` with no",
            "smithy.api#required": {}
          }
        },
        "postal_info": {
          "target": "com.cloudflare.registrar#RegistrationsCreateRequestContactsRegistrantPostalInfo",
          "traits": {
            "smithy.api#documentation": "Postal/mailing information for the registrant contact.",
            "smithy.api#required": {}
          }
        },
        "fax": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fax number in E.164 format (e.g., `+1.5555555555`). Optional."
          }
        }
      }
    },
    "com.cloudflare.registrar#RegistrationsCreateRequestContacts": {
      "type": "structure",
      "members": {
        "registrant": {
          "target": "com.cloudflare.registrar#RegistrationsCreateRequestContactsRegistrant",
          "traits": {
            "smithy.api#documentation": "Registrant contact data for the domain registration. This information"
          }
        }
      }
    },
    "com.cloudflare.registrar#RegistrationsCreateRequestPrivacyMode": {
      "type": "enum",
      "members": {
        "REDACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redaction"
          }
        }
      }
    },
    "com.cloudflare.registrar#RegistrationsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Prefer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "Prefer"
          }
        },
        "domain_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified domain name (FQDN) including the extension",
            "smithy.api#required": {}
          }
        },
        "auto_renew": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable or disable automatic renewal. Defaults to `false` if omitted."
          }
        },
        "contacts": {
          "target": "com.cloudflare.registrar#RegistrationsCreateRequestContacts",
          "traits": {
            "smithy.api#documentation": "Contact data for the registration request."
          }
        },
        "privacy_mode": {
          "target": "com.cloudflare.registrar#RegistrationsCreateRequestPrivacyMode",
          "traits": {
            "smithy.api#documentation": "WHOIS privacy mode for the registration. Defaults to `redaction`."
          }
        },
        "years": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of years to register (1–10). If omitted, defaults to the"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.registrar#RegistrationsCreateResponseLinks": {
      "type": "structure",
      "members": {
        "self": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to this status resource.",
            "smithy.api#required": {}
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to the domain resource."
          }
        }
      }
    },
    "com.cloudflare.registrar#RegistrationsCreateResponseState": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "ACTION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "action_required"
          }
        },
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blocked"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      }
    },
    "com.cloudflare.registrar#RegistrationsCreateResponseContextMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.registrar#RegistrationsCreateResponseError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Machine-readable error code identifying the failure reason.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable explanation of the failure. May include registry-specific details.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.registrar#RegistrationsCreateResponse": {
      "type": "structure",
      "members": {
        "completed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the workflow has reached a terminal state. `true` when",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "links": {
          "target": "com.cloudflare.registrar#RegistrationsCreateResponseLinks",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.cloudflare.registrar#RegistrationsCreateResponseState",
          "traits": {
            "smithy.api#documentation": "Workflow lifecycle state.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "context": {
          "target": "com.cloudflare.registrar#RegistrationsCreateResponseContextMap",
          "traits": {
            "smithy.api#documentation": "Workflow-specific data for this workflow."
          }
        },
        "error": {
          "target": "com.cloudflare.registrar#RegistrationsCreateResponseError",
          "traits": {
            "smithy.api#documentation": "Error details when a workflow reaches the `failed` state. The specific"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.registrar#RegistrationsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.registrar#RegistrationsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.registrar#RegistrationsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/registrar/registrations",
          "code": 200
        },
        "smithy.api#documentation": "Starts a domain registration workflow. This is a billable operation — successful registration charges the account's default payment method. All successful domain registrations are non-refundable — once the workflow completes with `state: succeeded`, the charge cannot be reversed."
      }
    },
    "com.cloudflare.registrar#RegistrationsEditRequestPrefer": {
      "type": "enum",
      "members": {
        "RESPOND_ASYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "respond-async"
          }
        }
      }
    },
    "com.cloudflare.registrar#RegistrationsEditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "domain_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified domain name (FQDN) including the extension",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Prefer": {
          "target": "com.cloudflare.registrar#RegistrationsEditRequestPrefer",
          "traits": {
            "smithy.api#httpHeader": "Prefer"
          }
        },
        "auto_renew": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable or disable automatic renewal."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.registrar#RegistrationsEditResponseLinks": {
      "type": "structure",
      "members": {
        "self": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to this status resource.",
            "smithy.api#required": {}
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to the domain resource."
          }
        }
      }
    },
    "com.cloudflare.registrar#RegistrationsEditResponseState": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "ACTION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "action_required"
          }
        },
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blocked"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      }
    },
    "com.cloudflare.registrar#RegistrationsEditResponseContextMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.registrar#RegistrationsEditResponseError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Machine-readable error code identifying the failure reason.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable explanation of the failure. May include registry-specific details.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.registrar#RegistrationsEditResponse": {
      "type": "structure",
      "members": {
        "completed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the workflow has reached a terminal state. `true` when",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "links": {
          "target": "com.cloudflare.registrar#RegistrationsEditResponseLinks",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.cloudflare.registrar#RegistrationsEditResponseState",
          "traits": {
            "smithy.api#documentation": "Workflow lifecycle state.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "context": {
          "target": "com.cloudflare.registrar#RegistrationsEditResponseContextMap",
          "traits": {
            "smithy.api#documentation": "Workflow-specific data for this workflow."
          }
        },
        "error": {
          "target": "com.cloudflare.registrar#RegistrationsEditResponseError",
          "traits": {
            "smithy.api#documentation": "Error details when a workflow reaches the `failed` state. The specific"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.registrar#RegistrationsEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.registrar#RegistrationsEditRequest"
      },
      "output": {
        "target": "com.cloudflare.registrar#RegistrationsEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/registrar/registrations/{domain_name}",
          "code": 200
        },
        "smithy.api#documentation": "Updates an existing domain registration. By default, the server holds the connection for a bounded, server-defined amount of time while the update completes. Most updates finish within this window and return `200 OK` with a completed workflow status. If the update is still processing after this synchronous wait window, the server returns `202 Accepted`. Poll the URL in `links.self` to track progress. To skip the wait and receive an immediate `202`, send `Prefer: respond-async`. This endpoint currently supports updating `auto_renew` only."
      }
    },
    "com.cloudflare.registrar#RegistrationsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "domain_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified domain name (FQDN) including the extension",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.registrar#RegistrationsGetResponsePrivacyMode": {
      "type": "enum",
      "members": {
        "REDACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redaction"
          }
        }
      }
    },
    "com.cloudflare.registrar#RegistrationsGetResponseStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "REGISTRATION_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "registration_pending"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspended"
          }
        },
        "REDEMPTION_PERIOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redemption_period"
          }
        },
        "PENDING_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_delete"
          }
        }
      }
    },
    "com.cloudflare.registrar#RegistrationsGetResponse": {
      "type": "structure",
      "members": {
        "auto_renew": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the domain will be automatically renewed before expiration.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the domain was registered. Present when the registration resource exists.",
            "smithy.api#required": {}
          }
        },
        "domain_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified domain name (FQDN) including the extension",
            "smithy.api#required": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the domain registration expires. Present when the registration is ready; may be null only while `status` is `registration_pending`.",
            "smithy.api#required": {}
          }
        },
        "locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the domain is locked for transfer.",
            "smithy.api#required": {}
          }
        },
        "privacy_mode": {
          "target": "com.cloudflare.registrar#RegistrationsGetResponsePrivacyMode",
          "traits": {
            "smithy.api#documentation": "Current WHOIS privacy mode for the registration.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.registrar#RegistrationsGetResponseStatus",
          "traits": {
            "smithy.api#documentation": "Current registration status.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.registrar#RegistrationsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.registrar#RegistrationsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.registrar#RegistrationsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/registrar/registrations/{domain_name}",
          "code": 200
        },
        "smithy.api#documentation": "Returns the current state of a domain registration. This is the canonical read endpoint for a domain you own. It returns the full registration resource including current settings and expiration. When the registration resource is ready, both `created_at` and `expires_at` are present in the response.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.registrar#RegistrationsListRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.cloudflare.registrar#RegistrationsListRequestSortBy": {
      "type": "enum",
      "members": {
        "REGISTRY_CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "registry_created_at"
          }
        },
        "REGISTRY_EXPIRES_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "registry_expires_at"
          }
        },
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        }
      }
    },
    "com.cloudflare.registrar#RegistrationsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Opaque token from a previous response's `result_info.cursor`.",
            "smithy.api#httpQuery": "cursor"
          }
        },
        "direction": {
          "target": "com.cloudflare.registrar#RegistrationsListRequestDirection",
          "traits": {
            "smithy.api#documentation": "Sort direction for results. Defaults to ascending order.",
            "smithy.api#httpQuery": "direction"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of items to return per page.",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "sort_by": {
          "target": "com.cloudflare.registrar#RegistrationsListRequestSortBy",
          "traits": {
            "smithy.api#documentation": "Column to sort results by. Defaults to registration date",
            "smithy.api#httpQuery": "sort_by"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.registrar#RegistrationsListResultItemPrivacyMode": {
      "type": "enum",
      "members": {
        "REDACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redaction"
          }
        }
      }
    },
    "com.cloudflare.registrar#RegistrationsListResultItemStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "REGISTRATION_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "registration_pending"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspended"
          }
        },
        "REDEMPTION_PERIOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redemption_period"
          }
        },
        "PENDING_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_delete"
          }
        }
      }
    },
    "com.cloudflare.registrar#RegistrationsListResultItem": {
      "type": "structure",
      "members": {
        "auto_renew": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the domain will be automatically renewed before expiration.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the domain was registered. Present when the registration resource exists.",
            "smithy.api#required": {}
          }
        },
        "domain_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified domain name (FQDN) including the extension",
            "smithy.api#required": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the domain registration expires. Present when the registration is ready; may be null only while `status` is `registration_pending`.",
            "smithy.api#required": {}
          }
        },
        "locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the domain is locked for transfer.",
            "smithy.api#required": {}
          }
        },
        "privacy_mode": {
          "target": "com.cloudflare.registrar#RegistrationsListResultItemPrivacyMode",
          "traits": {
            "smithy.api#documentation": "Current WHOIS privacy mode for the registration.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.registrar#RegistrationsListResultItemStatus",
          "traits": {
            "smithy.api#documentation": "Current registration status.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.registrar#RegistrationsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.registrar#RegistrationsListResultItem"
      }
    },
    "com.cloudflare.registrar#RegistrationsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.registrar#RegistrationsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.registrar#RegistrationsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.registrar#RegistrationsListRequest"
      },
      "output": {
        "target": "com.cloudflare.registrar#RegistrationsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/registrar/registrations",
          "code": 200
        },
        "smithy.api#documentation": "Returns a paginated list of domain registrations owned by the account. This endpoint uses cursor-based pagination. Results are ordered by registration date by default. To fetch the next page, pass the `cursor` value from the `result_info` object in the response as the `cursor` query parameter in your next request. An empty `cursor` string indicates there are no more pages.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.registrar#UpdateStatusGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "domain_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified domain name (FQDN) including the extension",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.registrar#UpdateStatusGetResponseLinks": {
      "type": "structure",
      "members": {
        "self": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to this status resource.",
            "smithy.api#required": {}
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to the domain resource."
          }
        }
      }
    },
    "com.cloudflare.registrar#UpdateStatusGetResponseState": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "ACTION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "action_required"
          }
        },
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blocked"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      }
    },
    "com.cloudflare.registrar#UpdateStatusGetResponseContextMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.registrar#UpdateStatusGetResponseError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Machine-readable error code identifying the failure reason.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable explanation of the failure. May include registry-specific details.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.registrar#UpdateStatusGetResponse": {
      "type": "structure",
      "members": {
        "completed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the workflow has reached a terminal state. `true` when",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "links": {
          "target": "com.cloudflare.registrar#UpdateStatusGetResponseLinks",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.cloudflare.registrar#UpdateStatusGetResponseState",
          "traits": {
            "smithy.api#documentation": "Workflow lifecycle state.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "context": {
          "target": "com.cloudflare.registrar#UpdateStatusGetResponseContextMap",
          "traits": {
            "smithy.api#documentation": "Workflow-specific data for this workflow."
          }
        },
        "error": {
          "target": "com.cloudflare.registrar#UpdateStatusGetResponseError",
          "traits": {
            "smithy.api#documentation": "Error details when a workflow reaches the `failed` state. The specific"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.registrar#UpdateStatusGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.registrar#UpdateStatusGetRequest"
      },
      "output": {
        "target": "com.cloudflare.registrar#UpdateStatusGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/registrar/registrations/{domain_name}/update-status",
          "code": 200
        },
        "smithy.api#documentation": "Returns the current status of a domain update workflow. Use this endpoint to poll for completion when the PATCH response returned `202 Accepted`. The URL is provided in the `links.self` field of the workflow status response. Poll this endpoint until the workflow reaches a terminal state or a state that requires user attention. Use increasing backoff between polls. When the workflow remains blocked on a third party, use a longer polling interval and do not poll indefinitely.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.registrar#Registrar": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.registrar#Check"
        },
        {
          "target": "com.cloudflare.registrar#Search"
        },
        {
          "target": "com.cloudflare.registrar#DomainsGet"
        },
        {
          "target": "com.cloudflare.registrar#DomainsList"
        },
        {
          "target": "com.cloudflare.registrar#DomainsUpdate"
        },
        {
          "target": "com.cloudflare.registrar#RegistrationStatusGet"
        },
        {
          "target": "com.cloudflare.registrar#RegistrationsCreate"
        },
        {
          "target": "com.cloudflare.registrar#RegistrationsEdit"
        },
        {
          "target": "com.cloudflare.registrar#RegistrationsGet"
        },
        {
          "target": "com.cloudflare.registrar#RegistrationsList"
        },
        {
          "target": "com.cloudflare.registrar#UpdateStatusGet"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare Registrar",
        "smithy.api#documentation": "Cloudflare API — registrar resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    }
  }
}
