{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.resource_tagging#ListRequestTagList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListRequestType": {
      "type": "enum",
      "members": {
        "ACCESS_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_application"
          }
        },
        "ACCESS_APPLICATION_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_application_policy"
          }
        },
        "ACCESS_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_group"
          }
        },
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account"
          }
        },
        "AI_GATEWAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai_gateway"
          }
        },
        "ALERTING_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alerting_policy"
          }
        },
        "ALERTING_WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alerting_webhook"
          }
        },
        "API_GATEWAY_OPERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api_gateway_operation"
          }
        },
        "CLOUDFLARED_TUNNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflared_tunnel"
          }
        },
        "CUSTOM_CERTIFICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_certificate"
          }
        },
        "CUSTOM_HOSTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_hostname"
          }
        },
        "D1_DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "d1_database"
          }
        },
        "DNS_RECORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns_record"
          }
        },
        "DURABLE_OBJECT_NAMESPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "durable_object_namespace"
          }
        },
        "GATEWAY_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gateway_list"
          }
        },
        "GATEWAY_RULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gateway_rule"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image"
          }
        },
        "KV_NAMESPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kv_namespace"
          }
        },
        "MANAGED_CLIENT_CERTIFICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_client_certificate"
          }
        },
        "QUEUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queue"
          }
        },
        "R2_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2_bucket"
          }
        },
        "RESOURCE_SHARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resource_share"
          }
        },
        "STREAM_LIVE_INPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stream_live_input"
          }
        },
        "STREAM_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stream_video"
          }
        },
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        },
        "WORKER_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker_version"
          }
        },
        "ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zone"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListRequestTypeList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.resource_tagging#ListRequestType"
      }
    },
    "com.cloudflare.resource_tagging#ListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cursor for pagination.",
            "smithy.api#httpQuery": "cursor"
          }
        },
        "tag": {
          "target": "com.cloudflare.resource_tagging#ListRequestTagList",
          "traits": {
            "smithy.api#documentation": "Filter resources by tag criteria. This parameter can be repeated multiple times, with AND logic between parameters.",
            "smithy.api#httpQuery": "tag"
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListRequestTypeList",
          "traits": {
            "smithy.api#documentation": "Filter by resource type. Can be repeated to filter by multiple types (OR logic). Example: ?type=zone&type=worker",
            "smithy.api#httpQuery": "type"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAccessApplicationTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAccessApplicationType": {
      "type": "enum",
      "members": {
        "ACCESS_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_application"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAccessApplication": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAccessApplicationTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAccessApplicationType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAccessApplicationPolicyTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAccessApplicationPolicyType": {
      "type": "enum",
      "members": {
        "ACCESS_APPLICATION_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_application_policy"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAccessApplicationPolicy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "access_application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Access application ID is required only for access_application_policy resources",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAccessApplicationPolicyTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAccessApplicationPolicyType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID is required only for zone-level resources",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAccessGroupTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAccessGroupType": {
      "type": "enum",
      "members": {
        "ACCESS_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_group"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAccessGroup": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAccessGroupTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAccessGroupType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAccountTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAccountType": {
      "type": "enum",
      "members": {
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAccount": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAccountTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAccountType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAIGatewayTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAIGatewayType": {
      "type": "enum",
      "members": {
        "AI_GATEWAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai_gateway"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAIGateway": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAIGatewayTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAIGatewayType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAlertingPolicyTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAlertingPolicyType": {
      "type": "enum",
      "members": {
        "ALERTING_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alerting_policy"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAlertingPolicy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAlertingPolicyTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAlertingPolicyType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAlertingWebhookTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAlertingWebhookType": {
      "type": "enum",
      "members": {
        "ALERTING_WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alerting_webhook"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAlertingWebhook": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAlertingWebhookTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAlertingWebhookType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAPIGatewayOperationTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAPIGatewayOperationType": {
      "type": "enum",
      "members": {
        "API_GATEWAY_OPERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api_gateway_operation"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemAPIGatewayOperation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAPIGatewayOperationTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAPIGatewayOperationType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID is required only for zone-level resources",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemCloudflaredTunnelTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemCloudflaredTunnelType": {
      "type": "enum",
      "members": {
        "CLOUDFLARED_TUNNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflared_tunnel"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemCloudflaredTunnel": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemCloudflaredTunnelTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemCloudflaredTunnelType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemCustomCertificateTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemCustomCertificateType": {
      "type": "enum",
      "members": {
        "CUSTOM_CERTIFICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_certificate"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemCustomCertificate": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemCustomCertificateTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemCustomCertificateType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID is required only for zone-level resources",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemCustomHostnameTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemCustomHostnameType": {
      "type": "enum",
      "members": {
        "CUSTOM_HOSTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_hostname"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemCustomHostname": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemCustomHostnameTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemCustomHostnameType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID is required only for zone-level resources",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemD1DatabaseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemD1DatabaseType": {
      "type": "enum",
      "members": {
        "D1_DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "d1_database"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemD1Database": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemD1DatabaseTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemD1DatabaseType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemDNSRecordTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemDNSRecordType": {
      "type": "enum",
      "members": {
        "DNS_RECORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns_record"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemDNSRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemDNSRecordTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemDNSRecordType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID is required only for zone-level resources",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemDurableObjectNamespaceTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemDurableObjectNamespaceType": {
      "type": "enum",
      "members": {
        "DURABLE_OBJECT_NAMESPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "durable_object_namespace"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemDurableObjectNamespace": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemDurableObjectNamespaceTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemDurableObjectNamespaceType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemGatewayListTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemGatewayListType": {
      "type": "enum",
      "members": {
        "GATEWAY_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gateway_list"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemGatewayList": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemGatewayListTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemGatewayListType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemGatewayRuleTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemGatewayRuleType": {
      "type": "enum",
      "members": {
        "GATEWAY_RULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gateway_rule"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemGatewayRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemGatewayRuleTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemGatewayRuleType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemImageTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemImageType": {
      "type": "enum",
      "members": {
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemImage": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemImageTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemImageType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemKVNamespaceTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemKVNamespaceType": {
      "type": "enum",
      "members": {
        "KV_NAMESPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kv_namespace"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemKVNamespace": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemKVNamespaceTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemKVNamespaceType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemManagedClientCertificateTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemManagedClientCertificateType": {
      "type": "enum",
      "members": {
        "MANAGED_CLIENT_CERTIFICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed_client_certificate"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemManagedClientCertificate": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemManagedClientCertificateTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemManagedClientCertificateType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID is required only for zone-level resources",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemQueueTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemQueueType": {
      "type": "enum",
      "members": {
        "QUEUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queue"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemQueue": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemQueueTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemQueueType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemR2BucketTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemR2BucketType": {
      "type": "enum",
      "members": {
        "R2_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2_bucket"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemR2Bucket": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemR2BucketTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemR2BucketType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemResourceShareTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemResourceShareType": {
      "type": "enum",
      "members": {
        "RESOURCE_SHARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resource_share"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemResourceShare": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemResourceShareTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemResourceShareType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemStreamLiveInputTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemStreamLiveInputType": {
      "type": "enum",
      "members": {
        "STREAM_LIVE_INPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stream_live_input"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemStreamLiveInput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemStreamLiveInputTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemStreamLiveInputType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemStreamVideoTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemStreamVideoType": {
      "type": "enum",
      "members": {
        "STREAM_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stream_video"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemStreamVideo": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemStreamVideoTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemStreamVideoType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemWorkerTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemWorkerType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemWorker": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemWorkerTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemWorkerType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemWorkerVersionTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemWorkerVersionType": {
      "type": "enum",
      "members": {
        "WORKER_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker_version"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemWorkerVersion": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemWorkerVersionTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemWorkerVersionType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Worker ID is required only for worker_version resources",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemZoneTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemZoneType": {
      "type": "enum",
      "members": {
        "ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zone"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItemZone": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#ListResultItemZoneTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#ListResultItemZoneType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID is required only for zone-level resources",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultItem": {
      "type": "union",
      "members": {
        "AccessApplication": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAccessApplication"
        },
        "AccessApplicationPolicy": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAccessApplicationPolicy"
        },
        "AccessGroup": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAccessGroup"
        },
        "Account": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAccount"
        },
        "AIGateway": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAIGateway"
        },
        "AlertingPolicy": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAlertingPolicy"
        },
        "AlertingWebhook": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAlertingWebhook"
        },
        "APIGatewayOperation": {
          "target": "com.cloudflare.resource_tagging#ListResultItemAPIGatewayOperation"
        },
        "CloudflaredTunnel": {
          "target": "com.cloudflare.resource_tagging#ListResultItemCloudflaredTunnel"
        },
        "CustomCertificate": {
          "target": "com.cloudflare.resource_tagging#ListResultItemCustomCertificate"
        },
        "CustomHostname": {
          "target": "com.cloudflare.resource_tagging#ListResultItemCustomHostname"
        },
        "D1Database": {
          "target": "com.cloudflare.resource_tagging#ListResultItemD1Database"
        },
        "DNSRecord": {
          "target": "com.cloudflare.resource_tagging#ListResultItemDNSRecord"
        },
        "DurableObjectNamespace": {
          "target": "com.cloudflare.resource_tagging#ListResultItemDurableObjectNamespace"
        },
        "GatewayList": {
          "target": "com.cloudflare.resource_tagging#ListResultItemGatewayList"
        },
        "GatewayRule": {
          "target": "com.cloudflare.resource_tagging#ListResultItemGatewayRule"
        },
        "Image": {
          "target": "com.cloudflare.resource_tagging#ListResultItemImage"
        },
        "KVNamespace": {
          "target": "com.cloudflare.resource_tagging#ListResultItemKVNamespace"
        },
        "ManagedClientCertificate": {
          "target": "com.cloudflare.resource_tagging#ListResultItemManagedClientCertificate"
        },
        "Queue": {
          "target": "com.cloudflare.resource_tagging#ListResultItemQueue"
        },
        "R2Bucket": {
          "target": "com.cloudflare.resource_tagging#ListResultItemR2Bucket"
        },
        "ResourceShare": {
          "target": "com.cloudflare.resource_tagging#ListResultItemResourceShare"
        },
        "StreamLiveInput": {
          "target": "com.cloudflare.resource_tagging#ListResultItemStreamLiveInput"
        },
        "StreamVideo": {
          "target": "com.cloudflare.resource_tagging#ListResultItemStreamVideo"
        },
        "Worker": {
          "target": "com.cloudflare.resource_tagging#ListResultItemWorker"
        },
        "WorkerVersion": {
          "target": "com.cloudflare.resource_tagging#ListResultItemWorkerVersion"
        },
        "Zone": {
          "target": "com.cloudflare.resource_tagging#ListResultItemZone"
        }
      }
    },
    "com.cloudflare.resource_tagging#ListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.resource_tagging#ListResultItem"
      }
    },
    "com.cloudflare.resource_tagging#ListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.resource_tagging#ListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.resource_tagging#List": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.resource_tagging#ListRequest"
      },
      "output": {
        "target": "com.cloudflare.resource_tagging#ListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/tags/resources",
          "code": 200
        },
        "smithy.api#documentation": "Lists all tagged resources for an account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "If_Match": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "If-Match"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.resource_tagging#AccountTagsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/tags",
          "code": 200
        },
        "smithy.api#documentation": "Removes all tags from a specific account-level resource.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetRequestResourceType": {
      "type": "enum",
      "members": {
        "ACCESS_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_application"
          }
        },
        "ACCESS_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_group"
          }
        },
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account"
          }
        },
        "AI_GATEWAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai_gateway"
          }
        },
        "ALERTING_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alerting_policy"
          }
        },
        "ALERTING_WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alerting_webhook"
          }
        },
        "CLOUDFLARED_TUNNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflared_tunnel"
          }
        },
        "D1_DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "d1_database"
          }
        },
        "DURABLE_OBJECT_NAMESPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "durable_object_namespace"
          }
        },
        "GATEWAY_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gateway_list"
          }
        },
        "GATEWAY_RULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gateway_rule"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image"
          }
        },
        "KV_NAMESPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kv_namespace"
          }
        },
        "QUEUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queue"
          }
        },
        "R2_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "r2_bucket"
          }
        },
        "RESOURCE_SHARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resource_share"
          }
        },
        "STREAM_LIVE_INPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stream_live_input"
          }
        },
        "STREAM_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stream_video"
          }
        },
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        },
        "WORKER_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker_version"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "resource_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the resource to retrieve tags for.",
            "smithy.api#httpQuery": "resource_id",
            "smithy.api#required": {}
          }
        },
        "resource_type": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetRequestResourceType",
          "traits": {
            "smithy.api#documentation": "The type of the resource.",
            "smithy.api#httpQuery": "resource_type",
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Worker identifier. Required for worker_version resources.",
            "smithy.api#httpQuery": "worker_id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultAccessApplicationTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultAccessApplicationType": {
      "type": "enum",
      "members": {
        "ACCESS_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_application"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultAccessApplication": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetResultAccessApplicationTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetResultAccessApplicationType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultAccessApplicationPolicyTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultAccessApplicationPolicyType": {
      "type": "enum",
      "members": {
        "ACCESS_APPLICATION_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_application_policy"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultAccessApplicationPolicy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "access_application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Access application ID is required only for access_application_policy resources",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetResultAccessApplicationPolicyTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetResultAccessApplicationPolicyType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID is required only for zone-level resources",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultAccessGroupTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultAccessGroupType": {
      "type": "enum",
      "members": {
        "ACCESS_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access_group"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultAccessGroup": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetResultAccessGroupTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetResultAccessGroupType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultAccountTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultAccountType": {
      "type": "enum",
      "members": {
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultAccount": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetResultAccountTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetResultAccountType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultAIGatewayTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultAIGatewayType": {
      "type": "enum",
      "members": {
        "AI_GATEWAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai_gateway"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultAIGateway": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetResultAIGatewayTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetResultAIGatewayType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultAlertingPolicyTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultAlertingPolicyType": {
      "type": "enum",
      "members": {
        "ALERTING_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alerting_policy"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultAlertingPolicy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetResultAlertingPolicyTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetResultAlertingPolicyType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultAlertingWebhookTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultAlertingWebhookType": {
      "type": "enum",
      "members": {
        "ALERTING_WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alerting_webhook"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultAlertingWebhook": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetResultAlertingWebhookTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetResultAlertingWebhookType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultAPIGatewayOperationTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultAPIGatewayOperationType": {
      "type": "enum",
      "members": {
        "API_GATEWAY_OPERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api_gateway_operation"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultAPIGatewayOperation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetResultAPIGatewayOperationTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetResultAPIGatewayOperationType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID is required only for zone-level resources",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultCloudflaredTunnelTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultCloudflaredTunnelType": {
      "type": "enum",
      "members": {
        "CLOUDFLARED_TUNNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflared_tunnel"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultCloudflaredTunnel": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetResultCloudflaredTunnelTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetResultCloudflaredTunnelType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultCustomCertificateTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultCustomCertificateType": {
      "type": "enum",
      "members": {
        "CUSTOM_CERTIFICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_certificate"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultCustomCertificate": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetResultCustomCertificateTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetResultCustomCertificateType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID is required only for zone-level resources",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultCustomHostnameTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultCustomHostnameType": {
      "type": "enum",
      "members": {
        "CUSTOM_HOSTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_hostname"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultCustomHostname": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetResultCustomHostnameTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetResultCustomHostnameType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID is required only for zone-level resources",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultD1DatabaseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultD1DatabaseType": {
      "type": "enum",
      "members": {
        "D1_DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "d1_database"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultD1Database": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetResultD1DatabaseTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetResultD1DatabaseType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultDNSRecordTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultDNSRecordType": {
      "type": "enum",
      "members": {
        "DNS_RECORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns_record"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultDNSRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetResultDNSRecordTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetResultDNSRecordType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone ID is required only for zone-level resources",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultDurableObjectNamespaceTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultDurableObjectNamespaceType": {
      "type": "enum",
      "members": {
        "DURABLE_OBJECT_NAMESPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "durable_object_namespace"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultDurableObjectNamespace": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetResultDurableObjectNamespaceTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetResultDurableObjectNamespaceType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultGatewayListTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultGatewayListType": {
      "type": "enum",
      "members": {
        "GATEWAY_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gateway_list"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultGatewayList": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetResultGatewayListTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetResultGatewayListType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultGatewayRuleTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultGatewayRuleType": {
      "type": "enum",
      "members": {
        "GATEWAY_RULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gateway_rule"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultGatewayRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag identifier for optimistic concurrency control. Formatted as \"v1:<hash>\" where",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetResultGatewayRuleTagsMap",
          "traits": {
            "smithy.api#documentation": "Contains key-value pairs of tags.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.resource_tagging#AccountTagsGetResultGatewayRuleType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultImageTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultImageType": {
      "type": "enum",
      "members": {
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image"
          }
        }
      }
    },
    "com.cloudflare.resource_tagging#AccountTagsGetResultImage": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the unique resource.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
[...]
