{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.secrets_store#QuotaGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.secrets_store#QuotaGetResponseSecrets": {
      "type": "structure",
      "members": {
        "quota": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of secrets the account is entitlted to use",
            "smithy.api#required": {}
          }
        },
        "usage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of secrets the account is currently using",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.secrets_store#QuotaGetResponse": {
      "type": "structure",
      "members": {
        "secrets": {
          "target": "com.cloudflare.secrets_store#QuotaGetResponseSecrets",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.secrets_store#QuotaGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.secrets_store#QuotaGetRequest"
      },
      "output": {
        "target": "com.cloudflare.secrets_store#QuotaGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/secrets_store/quota",
          "code": 200
        },
        "smithy.api#documentation": "Lists the number of secrets used in the account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.secrets_store#StoresCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the store",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.secrets_store#StoresCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Store Identifier",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Whenthe secret was created.",
            "smithy.api#required": {}
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the secret was modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the store",
            "smithy.api#required": {}
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account Identifier"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.secrets_store#StoresCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.secrets_store#StoresCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.secrets_store#StoresCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/secrets_store/stores",
          "code": 200
        },
        "smithy.api#documentation": "Creates a store in the account"
      }
    },
    "com.cloudflare.secrets_store#StoresDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "store_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Store Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, cascade-deletes all secrets in the store before deleting",
            "smithy.api#httpQuery": "force"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.secrets_store#StoresDeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.secrets_store#StoresDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.secrets_store#StoresDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.secrets_store#StoresDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/secrets_store/stores/{store_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes a single store. By default, a store that still contains secrets cannot be deleted and returns HTTP 409 (Conflict) with the \"store_not_empty\" error. Pass `force=true` to cascade-delete all secrets in the store. Empty stores are always deleted regardless of the force parameter.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.secrets_store#StoresGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "store_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Store Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.secrets_store#StoresGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Store Identifier",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Whenthe secret was created.",
            "smithy.api#required": {}
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the secret was modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the store",
            "smithy.api#required": {}
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account Identifier"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.secrets_store#StoresGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.secrets_store#StoresGetRequest"
      },
      "output": {
        "target": "com.cloudflare.secrets_store#StoresGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/secrets_store/stores/{store_id}",
          "code": 200
        },
        "smithy.api#documentation": "Returns details of a single store",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.secrets_store#StoresListRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.cloudflare.secrets_store#StoresListRequestOrder": {
      "type": "enum",
      "members": {
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        },
        "COMMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "comment"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "MODIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "modified"
          }
        },
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status"
          }
        }
      }
    },
    "com.cloudflare.secrets_store#StoresListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "direction": {
          "target": "com.cloudflare.secrets_store#StoresListRequestDirection",
          "traits": {
            "smithy.api#documentation": "Direction to sort objects",
            "smithy.api#httpQuery": "direction"
          }
        },
        "order": {
          "target": "com.cloudflare.secrets_store#StoresListRequestOrder",
          "traits": {
            "smithy.api#documentation": "Order secrets by values in the given field",
            "smithy.api#httpQuery": "order"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of objects to return per page",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.secrets_store#StoresListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Store Identifier",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Whenthe secret was created.",
            "smithy.api#required": {}
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the secret was modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the store",
            "smithy.api#required": {}
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account Identifier"
          }
        }
      }
    },
    "com.cloudflare.secrets_store#StoresListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.secrets_store#StoresListResultItem"
      }
    },
    "com.cloudflare.secrets_store#StoresListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.secrets_store#StoresListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.secrets_store#StoresList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.secrets_store#StoresListRequest"
      },
      "output": {
        "target": "com.cloudflare.secrets_store#StoresListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/secrets_store/stores",
          "code": 200
        },
        "smithy.api#documentation": "Lists all the stores in an account",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsBulkDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "store_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Store Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsBulkDeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsBulkDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.secrets_store#StoresSecretsBulkDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.secrets_store#StoresSecretsBulkDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/secrets_store/stores/{store_id}/secrets",
          "code": 200
        },
        "smithy.api#documentation": "Deletes one or more secrets",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsCreateRequestBodyItemScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsCreateRequestBodyItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the secret",
            "smithy.api#required": {}
          }
        },
        "scopes": {
          "target": "com.cloudflare.secrets_store#StoresSecretsCreateRequestBodyItemScopesList",
          "traits": {
            "smithy.api#documentation": "The list of services that can use this secret.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the secret. Maximum 64 KiB (65,536 bytes). Note that this is 'write only' - no API response will provide this value, it is only used to create/modify secrets.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Freeform text describing the secret"
          }
        }
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsCreateRequestBodyList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.secrets_store#StoresSecretsCreateRequestBodyItem"
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "store_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Store Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.secrets_store#StoresSecretsCreateRequestBodyList",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsCreateResultItemStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        }
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsCreateResultItemScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsCreateResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Secret identifier tag.",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Whenthe secret was created.",
            "smithy.api#required": {}
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the secret was modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the secret",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.secrets_store#StoresSecretsCreateResultItemStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "store_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Store Identifier",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Freeform text describing the secret"
          }
        },
        "scopes": {
          "target": "com.cloudflare.secrets_store#StoresSecretsCreateResultItemScopesList",
          "traits": {
            "smithy.api#documentation": "The list of services that can use this secret."
          }
        }
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsCreateResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.secrets_store#StoresSecretsCreateResultItem"
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.secrets_store#StoresSecretsCreateResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.secrets_store#StoresSecretsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.secrets_store#StoresSecretsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/secrets_store/stores/{store_id}/secrets",
          "code": 200
        },
        "smithy.api#documentation": "Creates a secret in the account"
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "store_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Store Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "secret_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Secret identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsDeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.secrets_store#StoresSecretsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.secrets_store#StoresSecretsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/secrets_store/stores/{store_id}/secrets/{secret_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes a single secret",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsDuplicateRequestScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsDuplicateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "store_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Store Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "secret_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Secret identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the secret",
            "smithy.api#required": {}
          }
        },
        "scopes": {
          "target": "com.cloudflare.secrets_store#StoresSecretsDuplicateRequestScopesList",
          "traits": {
            "smithy.api#documentation": "The list of services that can use this secret.",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Freeform text describing the secret"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsDuplicateResponseStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        }
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsDuplicateResponseScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsDuplicateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Secret identifier tag.",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Whenthe secret was created.",
            "smithy.api#required": {}
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the secret was modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the secret",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.secrets_store#StoresSecretsDuplicateResponseStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "store_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Store Identifier",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Freeform text describing the secret"
          }
        },
        "scopes": {
          "target": "com.cloudflare.secrets_store#StoresSecretsDuplicateResponseScopesList",
          "traits": {
            "smithy.api#documentation": "The list of services that can use this secret."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsDuplicate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.secrets_store#StoresSecretsDuplicateRequest"
      },
      "output": {
        "target": "com.cloudflare.secrets_store#StoresSecretsDuplicateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/secrets_store/stores/{store_id}/secrets/{secret_id}/duplicate",
          "code": 200
        },
        "smithy.api#documentation": "Duplicates the secret, keeping the value"
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsEditRequestScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsEditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "store_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Store Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "secret_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Secret identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Freeform text describing the secret"
          }
        },
        "scopes": {
          "target": "com.cloudflare.secrets_store#StoresSecretsEditRequestScopesList",
          "traits": {
            "smithy.api#documentation": "The list of services that can use this secret."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the secret. Maximum 64 KiB (65,536 bytes). Note that this is 'write only' - no API response will provide this value, it is only used to create/modify secrets."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsEditResponseStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        }
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsEditResponseScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsEditResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Secret identifier tag.",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Whenthe secret was created.",
            "smithy.api#required": {}
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the secret was modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the secret",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.secrets_store#StoresSecretsEditResponseStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "store_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Store Identifier",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Freeform text describing the secret"
          }
        },
        "scopes": {
          "target": "com.cloudflare.secrets_store#StoresSecretsEditResponseScopesList",
          "traits": {
            "smithy.api#documentation": "The list of services that can use this secret."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.secrets_store#StoresSecretsEditRequest"
      },
      "output": {
        "target": "com.cloudflare.secrets_store#StoresSecretsEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/secrets_store/stores/{store_id}/secrets/{secret_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates a single secret"
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "store_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Store Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "secret_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Secret identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsGetResponseStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        }
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsGetResponseScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Secret identifier tag.",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Whenthe secret was created.",
            "smithy.api#required": {}
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the secret was modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the secret",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.secrets_store#StoresSecretsGetResponseStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "store_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Store Identifier",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Freeform text describing the secret"
          }
        },
        "scopes": {
          "target": "com.cloudflare.secrets_store#StoresSecretsGetResponseScopesList",
          "traits": {
            "smithy.api#documentation": "The list of services that can use this secret."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.secrets_store#StoresSecretsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.secrets_store#StoresSecretsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/secrets_store/stores/{store_id}/secrets/{secret_id}",
          "code": 200
        },
        "smithy.api#documentation": "Returns details of a single secret",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsListRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsListRequestOrder": {
      "type": "enum",
      "members": {
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        },
        "COMMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "comment"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "MODIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "modified"
          }
        },
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status"
          }
        }
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsListRequestScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "store_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Store Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "direction": {
          "target": "com.cloudflare.secrets_store#StoresSecretsListRequestDirection",
          "traits": {
            "smithy.api#documentation": "Direction to sort objects",
            "smithy.api#httpQuery": "direction"
          }
        },
        "order": {
          "target": "com.cloudflare.secrets_store#StoresSecretsListRequestOrder",
          "traits": {
            "smithy.api#documentation": "Order secrets by values in the given field",
            "smithy.api#httpQuery": "order"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of objects to return per page",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "scopes": {
          "target": "com.cloudflare.secrets_store#StoresSecretsListRequestScopesList",
          "traits": {
            "smithy.api#documentation": "Only secrets with the given scopes will be returned",
            "smithy.api#httpQuery": "scopes"
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Search secrets using a filter string, filtering across name and comment",
            "smithy.api#httpQuery": "search"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsListResultItemStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        }
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsListResultItemScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Secret identifier tag.",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Whenthe secret was created.",
            "smithy.api#required": {}
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the secret was modified.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the secret",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.secrets_store#StoresSecretsListResultItemStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "store_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Store Identifier",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Freeform text describing the secret"
          }
        },
        "scopes": {
          "target": "com.cloudflare.secrets_store#StoresSecretsListResultItemScopesList",
          "traits": {
            "smithy.api#documentation": "The list of services that can use this secret."
          }
        }
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.secrets_store#StoresSecretsListResultItem"
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.secrets_store#StoresSecretsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.secrets_store#StoresSecretsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.secrets_store#StoresSecretsListRequest"
      },
      "output": {
        "target": "com.cloudflare.secrets_store#StoresSecretsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/secrets_store/stores/{store_id}/secrets",
          "code": 200
        },
        "smithy.api#documentation": "Lists all store secrets",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.secrets_store#SecretsStore": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.secrets_store#QuotaGet"
        },
        {
          "target": "com.cloudflare.secrets_store#StoresCreate"
        },
        {
          "target": "com.cloudflare.secrets_store#StoresDelete"
        },
        {
          "target": "com.cloudflare.secrets_store#StoresGet"
        },
        {
          "target": "com.cloudflare.secrets_store#StoresList"
        },
        {
          "target": "com.cloudflare.secrets_store#StoresSecretsBulkDelete"
        },
        {
          "target": "com.cloudflare.secrets_store#StoresSecretsCreate"
        },
        {
          "target": "com.cloudflare.secrets_store#StoresSecretsDelete"
        },
        {
          "target": "com.cloudflare.secrets_store#StoresSecretsDuplicate"
        },
        {
          "target": "com.cloudflare.secrets_store#StoresSecretsEdit"
        },
        {
          "target": "com.cloudflare.secrets_store#StoresSecretsGet"
        },
        {
          "target": "com.cloudflare.secrets_store#StoresSecretsList"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare SecretsStore",
        "smithy.api#documentation": "Cloudflare API — secrets_store resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    }
  }
}
