{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.stream#CreateRequestTusResumable": {
      "type": "enum",
      "members": {
        "_1_0_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.0.0"
          }
        }
      }
    },
    "com.cloudflare.stream#CreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "direct_user": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Provisions a URL to let your end users upload videos directly to Cloudflare Stream without exposing your API token to clients.",
            "smithy.api#httpQuery": "direct_user"
          }
        },
        "Tus_Resumable": {
          "target": "com.cloudflare.stream#CreateRequestTusResumable",
          "traits": {
            "smithy.api#documentation": "Specifies the TUS protocol version. This value must be included in every upload request.",
            "smithy.api#httpHeader": "Tus-Resumable",
            "smithy.api#required": {}
          }
        },
        "Upload_Length": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Indicates the size of the entire upload in bytes. The value must be a non-negative integer.",
            "smithy.api#httpHeader": "Upload-Length",
            "smithy.api#required": {}
          }
        },
        "Upload_Creator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user-defined identifier for the media creator.",
            "smithy.api#httpHeader": "Upload-Creator"
          }
        },
        "Upload_Metadata": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma-separated key-value pairs following the TUS protocol specification. Values are Base-64 encoded.",
            "smithy.api#httpHeader": "Upload-Metadata"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.stream#Create": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.stream#CreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/stream",
          "code": 200
        },
        "smithy.api#documentation": "Initiates a video upload using the TUS protocol. On success, the server responds with a status code 201 (created) and includes a `location` header to indicate where the content should be uploaded. Refer to https://tus.io for protocol details."
      }
    },
    "com.cloudflare.stream#DeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a media item.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.stream#Delete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.stream#DeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/stream/{identifier}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes a video and its copies from Cloudflare Stream.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.stream#EditRequestAllowedOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.stream#EditRequestPublicDetails": {
      "type": "structure",
      "members": {
        "channel_link": {
          "target": "smithy.api#String"
        },
        "logo": {
          "target": "smithy.api#String"
        },
        "share_link": {
          "target": "smithy.api#String"
        },
        "title": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.stream#EditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a media item.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "allowedOrigins": {
          "target": "com.cloudflare.stream#EditRequestAllowedOriginsList",
          "traits": {
            "smithy.api#documentation": "Lists the origins allowed to display the video. Enter allowed origin domains in an array and use `*` for wildcard subdomains. Empty arrays allow the video to be viewed on any origin."
          }
        },
        "creator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user-defined identifier for the media creator."
          }
        },
        "maxDurationSeconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum duration in seconds for a video upload. Can be set for a video that is not yet uploaded to limit its duration. Uploads that exceed the specified duration will fail during processing. A value of `-1` means the value is unknown."
          }
        },
        "meta": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A user modifiable key-value store used to reference other systems of record for managing videos."
          }
        },
        "publicDetails": {
          "target": "com.cloudflare.stream#EditRequestPublicDetails",
          "traits": {
            "smithy.api#documentation": "Public details for the video including title, share link, channel link, and logo."
          }
        },
        "requireSignedURLs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the video can be a accessed using the UID. When set to `true`, a signed token must be generated with a signing key to view the video."
          }
        },
        "scheduledDeletion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the date and time at which the video will be deleted. Omit the field to indicate no change, or include with a `null` value to remove an existing scheduled deletion. If specified, must be at least 30 days from upload time."
          }
        },
        "thumbnailTimestampPct": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The timestamp for a thumbnail image calculated as a percentage value of the video's duration. To convert from a second-wise timestamp to a percentage, divide the desired timestamp by the total duration of the video.  If this value is not set, the default thumbnail image is taken from 0s of the video."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the video. Can be used to verify the video being updated."
          }
        },
        "uploadExpiry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the video upload URL is no longer valid for direct user uploads."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.stream#EditResponseAllowedOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.stream#EditResponseInput": {
      "type": "structure",
      "members": {
        "height": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The video height in pixels. A value of `-1` means the height is unknown. The value becomes available after the upload and before the video is ready."
          }
        },
        "width": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The video width in pixels. A value of `-1` means the width is unknown. The value becomes available after the upload and before the video is ready."
          }
        }
      }
    },
    "com.cloudflare.stream#EditResponsePlayback": {
      "type": "structure",
      "members": {
        "dash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DASH Media Presentation Description for the video."
          }
        },
        "hls": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HLS manifest for the video."
          }
        }
      }
    },
    "com.cloudflare.stream#EditResponsePublicDetails": {
      "type": "structure",
      "members": {
        "channel_link": {
          "target": "smithy.api#String"
        },
        "logo": {
          "target": "smithy.api#String"
        },
        "media_id": {
          "target": "smithy.api#Double"
        },
        "share_link": {
          "target": "smithy.api#String"
        },
        "title": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.stream#EditResponseStatusState": {
      "type": "enum",
      "members": {
        "PENDINGUPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pendingupload"
          }
        },
        "DOWNLOADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "downloading"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inprogress"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "LIVE_INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "live-inprogress"
          }
        }
      }
    },
    "com.cloudflare.stream#EditResponseStatus": {
      "type": "structure",
      "members": {
        "errorReasonCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies why the video failed to encode. This field is empty if the video is not in an `error` state. Preferred for programmatic use."
          }
        },
        "errorReasonText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies why the video failed to encode using a human readable error message in English. This field is empty if the video is not in an `error` state."
          }
        },
        "pctComplete": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the progress as a percentage between 0 and 100."
          }
        },
        "state": {
          "target": "com.cloudflare.stream#EditResponseStatusState",
          "traits": {
            "smithy.api#documentation": "Specifies the processing status for all quality levels for a video."
          }
        }
      }
    },
    "com.cloudflare.stream#EditResponseWatermark": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and a time a watermark profile was created."
          }
        },
        "downloadedFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source URL for a downloaded image. If the watermark profile was created via direct upload, this field is null."
          }
        },
        "height": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The height of the image in pixels."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the watermark profile."
          }
        },
        "opacity": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The translucency of the image. A value of `0.0` makes the image completely transparent, and `1.0` makes the image completely opaque. Note that if the image is already semi-transparent, setting this to `1.0` will not make the image completely opaque."
          }
        },
        "padding": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The whitespace between the adjacent edges (determined by position) of the video and the image. `0.0` indicates no padding, and `1.0` indicates a fully padded video width or length, as determined by the algorithm."
          }
        },
        "position": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the image. Valid positions are: `upperRight`, `upperLeft`, `lowerLeft`, `lowerRight`, and `center`. Note that `center` ignores the `padding` parameter."
          }
        },
        "scale": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size of the image relative to the overall size of the video. This parameter will adapt to horizontal and vertical videos automatically. `0.0` indicates no scaling (use the size of the image as-is), and `1.0`fills the entire video."
          }
        },
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size of the image in bytes."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for a watermark profile."
          }
        },
        "width": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The width of the image in pixels."
          }
        }
      }
    },
    "com.cloudflare.stream#EditResponse": {
      "type": "structure",
      "members": {
        "allowedOrigins": {
          "target": "com.cloudflare.stream#EditResponseAllowedOriginsList",
          "traits": {
            "smithy.api#documentation": "Lists the origins allowed to display the video. Enter allowed origin domains in an array and use `*` for wildcard subdomains. Empty arrays allow the video to be viewed on any origin."
          }
        },
        "clippedFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the source video this video was clipped from."
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the media item was created."
          }
        },
        "creator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user-defined identifier for the media creator."
          }
        },
        "duration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The duration of the video in seconds. A value of `-1` means the duration is unknown. The duration becomes available after the upload and before the video is ready."
          }
        },
        "input": {
          "target": "com.cloudflare.stream#EditResponseInput"
        },
        "liveInput": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The live input ID used to upload a video with Stream Live."
          }
        },
        "maxDurationSeconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum duration in seconds for a video upload. Can be set for a video that is not yet uploaded to limit its duration. Uploads that exceed the specified duration will fail during processing. A value of `-1` means the value is unknown."
          }
        },
        "maxSizeBytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum size in bytes for the video upload."
          }
        },
        "meta": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A user modifiable key-value store used to reference other systems of record for managing videos."
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the media item was last modified."
          }
        },
        "playback": {
          "target": "com.cloudflare.stream#EditResponsePlayback"
        },
        "preview": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The video's preview page URI. This field is omitted until encoding is complete."
          }
        },
        "publicDetails": {
          "target": "com.cloudflare.stream#EditResponsePublicDetails",
          "traits": {
            "smithy.api#documentation": "Public details for the video including title, share link, channel link, and logo."
          }
        },
        "readyToStream": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the video is playable. The field is empty if the video is not ready for viewing or the live stream is still in progress."
          }
        },
        "readyToStreamAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the time at which the video became playable. The field is empty if the video is not ready for viewing or the live stream is still in progress."
          }
        },
        "requireSignedURLs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the video can be a accessed using the UID. When set to `true`, a signed token must be generated with a signing key to view the video."
          }
        },
        "scheduledDeletion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the date and time at which the video will be deleted. Omit the field to indicate no change, or include with a `null` value to remove an existing scheduled deletion. If specified, must be at least 30 days from upload time."
          }
        },
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size of the media item in bytes."
          }
        },
        "status": {
          "target": "com.cloudflare.stream#EditResponseStatus",
          "traits": {
            "smithy.api#documentation": "Specifies a detailed status for a video. If the `state` is `inprogress` or `error`, the `step` field returns `encoding` or `manifest`. If the `state` is `inprogress`, `pctComplete` returns a number between 0 and 100 to indicate the approximate percent of completion. If the `state` is `error`, `errorReasonCode` and `errorReasonText` provide additional details."
          }
        },
        "thumbnail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The media item's thumbnail URI. This field is omitted until encoding is complete."
          }
        },
        "thumbnailTimestampPct": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The timestamp for a thumbnail image calculated as a percentage value of the video's duration. To convert from a second-wise timestamp to a percentage, divide the desired timestamp by the total duration of the video.  If this value is not set, the default thumbnail image is taken from 0s of the video."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a media item."
          }
        },
        "uploaded": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the media item was uploaded."
          }
        },
        "uploadExpiry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the video upload URL is no longer valid for direct user uploads."
          }
        },
        "watermark": {
          "target": "com.cloudflare.stream#EditResponseWatermark"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.stream#Edit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.stream#EditRequest"
      },
      "output": {
        "target": "com.cloudflare.stream#EditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/stream/{identifier}",
          "code": 200
        },
        "smithy.api#documentation": "Edit details for a single video."
      }
    },
    "com.cloudflare.stream#GetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a media item.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.stream#GetResponseAllowedOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.stream#GetResponseInput": {
      "type": "structure",
      "members": {
        "height": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The video height in pixels. A value of `-1` means the height is unknown. The value becomes available after the upload and before the video is ready."
          }
        },
        "width": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The video width in pixels. A value of `-1` means the width is unknown. The value becomes available after the upload and before the video is ready."
          }
        }
      }
    },
    "com.cloudflare.stream#GetResponsePlayback": {
      "type": "structure",
      "members": {
        "dash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DASH Media Presentation Description for the video."
          }
        },
        "hls": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HLS manifest for the video."
          }
        }
      }
    },
    "com.cloudflare.stream#GetResponsePublicDetails": {
      "type": "structure",
      "members": {
        "channel_link": {
          "target": "smithy.api#String"
        },
        "logo": {
          "target": "smithy.api#String"
        },
        "media_id": {
          "target": "smithy.api#Double"
        },
        "share_link": {
          "target": "smithy.api#String"
        },
        "title": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.stream#GetResponseStatusState": {
      "type": "enum",
      "members": {
        "PENDINGUPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pendingupload"
          }
        },
        "DOWNLOADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "downloading"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inprogress"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "LIVE_INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "live-inprogress"
          }
        }
      }
    },
    "com.cloudflare.stream#GetResponseStatus": {
      "type": "structure",
      "members": {
        "errorReasonCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies why the video failed to encode. This field is empty if the video is not in an `error` state. Preferred for programmatic use."
          }
        },
        "errorReasonText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies why the video failed to encode using a human readable error message in English. This field is empty if the video is not in an `error` state."
          }
        },
        "pctComplete": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the progress as a percentage between 0 and 100."
          }
        },
        "state": {
          "target": "com.cloudflare.stream#GetResponseStatusState",
          "traits": {
            "smithy.api#documentation": "Specifies the processing status for all quality levels for a video."
          }
        }
      }
    },
    "com.cloudflare.stream#GetResponseWatermark": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and a time a watermark profile was created."
          }
        },
        "downloadedFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source URL for a downloaded image. If the watermark profile was created via direct upload, this field is null."
          }
        },
        "height": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The height of the image in pixels."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the watermark profile."
          }
        },
        "opacity": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The translucency of the image. A value of `0.0` makes the image completely transparent, and `1.0` makes the image completely opaque. Note that if the image is already semi-transparent, setting this to `1.0` will not make the image completely opaque."
          }
        },
        "padding": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The whitespace between the adjacent edges (determined by position) of the video and the image. `0.0` indicates no padding, and `1.0` indicates a fully padded video width or length, as determined by the algorithm."
          }
        },
        "position": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the image. Valid positions are: `upperRight`, `upperLeft`, `lowerLeft`, `lowerRight`, and `center`. Note that `center` ignores the `padding` parameter."
          }
        },
        "scale": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size of the image relative to the overall size of the video. This parameter will adapt to horizontal and vertical videos automatically. `0.0` indicates no scaling (use the size of the image as-is), and `1.0`fills the entire video."
          }
        },
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size of the image in bytes."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for a watermark profile."
          }
        },
        "width": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The width of the image in pixels."
          }
        }
      }
    },
    "com.cloudflare.stream#GetResponse": {
      "type": "structure",
      "members": {
        "allowedOrigins": {
          "target": "com.cloudflare.stream#GetResponseAllowedOriginsList",
          "traits": {
            "smithy.api#documentation": "Lists the origins allowed to display the video. Enter allowed origin domains in an array and use `*` for wildcard subdomains. Empty arrays allow the video to be viewed on any origin."
          }
        },
        "clippedFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the source video this video was clipped from."
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the media item was created."
          }
        },
        "creator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user-defined identifier for the media creator."
          }
        },
        "duration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The duration of the video in seconds. A value of `-1` means the duration is unknown. The duration becomes available after the upload and before the video is ready."
          }
        },
        "input": {
          "target": "com.cloudflare.stream#GetResponseInput"
        },
        "liveInput": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The live input ID used to upload a video with Stream Live."
          }
        },
        "maxDurationSeconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum duration in seconds for a video upload. Can be set for a video that is not yet uploaded to limit its duration. Uploads that exceed the specified duration will fail during processing. A value of `-1` means the value is unknown."
          }
        },
        "maxSizeBytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum size in bytes for the video upload."
          }
        },
        "meta": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A user modifiable key-value store used to reference other systems of record for managing videos."
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the media item was last modified."
          }
        },
        "playback": {
          "target": "com.cloudflare.stream#GetResponsePlayback"
        },
        "preview": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The video's preview page URI. This field is omitted until encoding is complete."
          }
        },
        "publicDetails": {
          "target": "com.cloudflare.stream#GetResponsePublicDetails",
          "traits": {
            "smithy.api#documentation": "Public details for the video including title, share link, channel link, and logo."
          }
        },
        "readyToStream": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the video is playable. The field is empty if the video is not ready for viewing or the live stream is still in progress."
          }
        },
        "readyToStreamAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the time at which the video became playable. The field is empty if the video is not ready for viewing or the live stream is still in progress."
          }
        },
        "requireSignedURLs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the video can be a accessed using the UID. When set to `true`, a signed token must be generated with a signing key to view the video."
          }
        },
        "scheduledDeletion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the date and time at which the video will be deleted. Omit the field to indicate no change, or include with a `null` value to remove an existing scheduled deletion. If specified, must be at least 30 days from upload time."
          }
        },
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size of the media item in bytes."
          }
        },
        "status": {
          "target": "com.cloudflare.stream#GetResponseStatus",
          "traits": {
            "smithy.api#documentation": "Specifies a detailed status for a video. If the `state` is `inprogress` or `error`, the `step` field returns `encoding` or `manifest`. If the `state` is `inprogress`, `pctComplete` returns a number between 0 and 100 to indicate the approximate percent of completion. If the `state` is `error`, `errorReasonCode` and `errorReasonText` provide additional details."
          }
        },
        "thumbnail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The media item's thumbnail URI. This field is omitted until encoding is complete."
          }
        },
        "thumbnailTimestampPct": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The timestamp for a thumbnail image calculated as a percentage value of the video's duration. To convert from a second-wise timestamp to a percentage, divide the desired timestamp by the total duration of the video.  If this value is not set, the default thumbnail image is taken from 0s of the video."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a media item."
          }
        },
        "uploaded": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the media item was uploaded."
          }
        },
        "uploadExpiry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the video upload URL is no longer valid for direct user uploads."
          }
        },
        "watermark": {
          "target": "com.cloudflare.stream#GetResponseWatermark"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.stream#Get": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.stream#GetRequest"
      },
      "output": {
        "target": "com.cloudflare.stream#GetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/stream/{identifier}",
          "code": 200
        },
        "smithy.api#documentation": "Fetches details for a single video.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.stream#ListRequestStatus": {
      "type": "enum",
      "members": {
        "PENDINGUPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pendingupload"
          }
        },
        "DOWNLOADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "downloading"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inprogress"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "LIVE_INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "live-inprogress"
          }
        }
      }
    },
    "com.cloudflare.stream#ListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter by video ID(s). Can be a single ID or a comma-separated list of IDs.",
            "smithy.api#httpQuery": "id"
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Alias for 'start'. Returns videos created after this date/time (RFC 3339 format).",
            "smithy.api#httpQuery": "after"
          }
        },
        "asc": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Lists videos in ascending order of creation.",
            "smithy.api#httpQuery": "asc"
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Alias for 'end'. Returns videos created before this date/time (RFC 3339 format).",
            "smithy.api#httpQuery": "before"
          }
        },
        "creator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user-defined identifier for the media creator.",
            "smithy.api#httpQuery": "creator"
          }
        },
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Lists videos created before the specified date.",
            "smithy.api#httpQuery": "end"
          }
        },
        "include_counts": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Includes the total number of videos associated with the submitted query parameters.",
            "smithy.api#httpQuery": "include_counts"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of videos to return (default 1000, max 1000).",
            "smithy.api#httpQuery": "limit"
          }
        },
        "live_input_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter by live input ID to find videos associated with a specific live stream.",
            "smithy.api#httpQuery": "live_input_id"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter by video name/UID(s). Can be a single name or a comma-separated list.",
            "smithy.api#httpQuery": "name"
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provides a partial word match of the `name` key in the `meta` field. Slow for medium to large video libraries. May be unavailable for very large libraries.",
            "smithy.api#httpQuery": "search"
          }
        },
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Lists videos created after the specified date.",
            "smithy.api#httpQuery": "start"
          }
        },
        "status": {
          "target": "com.cloudflare.stream#ListRequestStatus",
          "traits": {
            "smithy.api#documentation": "Specifies the processing status for all quality levels for a video.",
            "smithy.api#httpQuery": "status"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies whether the video is `vod` or `live`.",
            "smithy.api#httpQuery": "type"
          }
        },
        "video_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provides a fast, exact string match on the `name` key in the `meta` field.",
            "smithy.api#httpQuery": "video_name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.stream#ListResultItemAllowedOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.stream#ListResultItemInput": {
      "type": "structure",
      "members": {
        "height": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The video height in pixels. A value of `-1` means the height is unknown. The value becomes available after the upload and before the video is ready."
          }
        },
        "width": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The video width in pixels. A value of `-1` means the width is unknown. The value becomes available after the upload and before the video is ready."
          }
        }
      }
    },
    "com.cloudflare.stream#ListResultItemPlayback": {
      "type": "structure",
      "members": {
        "dash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DASH Media Presentation Description for the video."
          }
        },
        "hls": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HLS manifest for the video."
          }
        }
      }
    },
    "com.cloudflare.stream#ListResultItemPublicDetails": {
      "type": "structure",
      "members": {
        "channel_link": {
          "target": "smithy.api#String"
        },
        "logo": {
          "target": "smithy.api#String"
        },
        "media_id": {
          "target": "smithy.api#Double"
        },
        "share_link": {
          "target": "smithy.api#String"
        },
        "title": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.stream#ListResultItemStatusState": {
      "type": "enum",
      "members": {
        "PENDINGUPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pendingupload"
          }
        },
        "DOWNLOADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "downloading"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inprogress"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "LIVE_INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "live-inprogress"
          }
        }
      }
    },
    "com.cloudflare.stream#ListResultItemStatus": {
      "type": "structure",
      "members": {
        "errorReasonCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies why the video failed to encode. This field is empty if the video is not in an `error` state. Preferred for programmatic use."
          }
        },
        "errorReasonText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies why the video failed to encode using a human readable error message in English. This field is empty if the video is not in an `error` state."
          }
        },
        "pctComplete": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the progress as a percentage between 0 and 100."
          }
        },
        "state": {
          "target": "com.cloudflare.stream#ListResultItemStatusState",
          "traits": {
            "smithy.api#documentation": "Specifies the processing status for all quality levels for a video."
          }
        }
      }
    },
    "com.cloudflare.stream#ListResultItemWatermark": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and a time a watermark profile was created."
          }
        },
        "downloadedFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source URL for a downloaded image. If the watermark profile was created via direct upload, this field is null."
          }
        },
        "height": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The height of the image in pixels."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the watermark profile."
          }
        },
        "opacity": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The translucency of the image. A value of `0.0` makes the image completely transparent, and `1.0` makes the image completely opaque. Note that if the image is already semi-transparent, setting this to `1.0` will not make the image completely opaque."
          }
        },
        "padding": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The whitespace between the adjacent edges (determined by position) of the video and the image. `0.0` indicates no padding, and `1.0` indicates a fully padded video width or length, as determined by the algorithm."
          }
        },
        "position": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the image. Valid positions are: `upperRight`, `upperLeft`, `lowerLeft`, `lowerRight`, and `center`. Note that `center` ignores the `padding` parameter."
          }
        },
        "scale": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size of the image relative to the overall size of the video. This parameter will adapt to horizontal and vertical videos automatically. `0.0` indicates no scaling (use the size of the image as-is), and `1.0`fills the entire video."
          }
        },
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size of the image in bytes."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for a watermark profile."
          }
        },
        "width": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The width of the image in pixels."
          }
        }
      }
    },
    "com.cloudflare.stream#ListResultItem": {
      "type": "structure",
      "members": {
        "allowedOrigins": {
          "target": "com.cloudflare.stream#ListResultItemAllowedOriginsList",
          "traits": {
            "smithy.api#documentation": "Lists the origins allowed to display the video. Enter allowed origin domains in an array and use `*` for wildcard subdomains. Empty arrays allow the video to be viewed on any origin."
          }
        },
        "clippedFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the source video this video was clipped from."
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the media item was created."
          }
        },
        "creator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user-defined identifier for the media creator."
          }
        },
        "duration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The duration of the video in seconds. A value of `-1` means the duration is unknown. The duration becomes available after the upload and before the video is ready."
          }
        },
        "input": {
          "target": "com.cloudflare.stream#ListResultItemInput"
        },
        "liveInput": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The live input ID used to upload a video with Stream Live."
          }
        },
        "maxDurationSeconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum duration in seconds for a video upload. Can be set for a video that is not yet uploaded to limit its duration. Uploads that exceed the specified duration will fail during processing. A value of `-1` means the value is unknown."
          }
        },
        "maxSizeBytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum size in bytes for the video upload."
          }
        },
        "meta": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A user modifiable key-value store used to reference other systems of record for managing videos."
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the media item was last modified."
          }
        },
        "playback": {
          "target": "com.cloudflare.stream#ListResultItemPlayback"
        },
        "preview": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The video's preview page URI. This field is omitted until encoding is complete."
          }
        },
        "publicDetails": {
          "target": "com.cloudflare.stream#ListResultItemPublicDetails",
          "traits": {
            "smithy.api#documentation": "Public details for the video including title, share link, channel link, and logo."
          }
        },
        "readyToStream": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the video is playable. The field is empty if the video is not ready for viewing or the live stream is still in progress."
          }
        },
        "readyToStreamAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the time at which the video became playable. The field is empty if the video is not ready for viewing or the live stream is still in progress."
          }
        },
        "requireSignedURLs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the video can be a accessed using the UID. When set to `true`, a signed token must be generated with a signing key to view the video."
          }
        },
        "scheduledDeletion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the date and time at which the video will be deleted. Omit the field to indicate no change, or include with a `null` value to remove an existing scheduled deletion. If specified, must be at least 30 days from upload time."
          }
        },
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size of the media item in bytes."
          }
        },
        "status": {
          "target": "com.cloudflare.stream#ListResultItemStatus",
          "traits": {
            "smithy.api#documentation": "Specifies a detailed status for a video. If the `state` is `inprogress` or `error`, the `step` field returns `encoding` or `manifest`. If the `state` is `inprogress`, `pctComplete` returns a number between 0 and 100 to indicate the approximate percent of completion. If the `state` is `error`, `errorReasonCode` and `errorReasonText` provide additional details."
          }
        },
        "thumbnail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The media item's thumbnail URI. This field is omitted until encoding is complete."
          }
        },
        "thumbnailTimestampPct": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The timestamp for a thumbnail image calculated as a percentage value of the video's duration. To convert from a second-wise timestamp to a percentage, divide the desired timestamp by the total duration of the video.  If this value is not set, the default thumbnail image is taken from 0s of the video."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a media item."
          }
        },
        "uploaded": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the media item was uploaded."
          }
        },
        "uploadExpiry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the video upload URL is no longer valid for direct user uploads."
          }
        },
        "watermark": {
          "target": "com.cloudflare.stream#ListResultItemWatermark"
        }
      }
    },
    "com.cloudflare.stream#ListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.stream#ListResultItem"
      }
    },
    "com.cloudflare.stream#ListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.stream#ListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.stream#List": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.stream#ListRequest"
      },
      "output": {
        "target": "com.cloudflare.stream#ListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/stream",
          "code": 200
        },
        "smithy.api#documentation": "Lists up to 1000 videos from a single request. For a specific range, refer to the optional parameters.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.stream#AudioTracksCopyRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a media item.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string to uniquely identify the track amongst other audio track labels for the specified video.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An audio track URL. The server must be publicly routable and support `HTTP HEAD` requests and `HTTP GET` range requests. The server should respond to `HTTP HEAD` requests with a `content-range` header that includes the size of the file."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.stream#AudioTracksCopyResponseStatus": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      }
    },
    "com.cloudflare.stream#AudioTracksCopyResponse": {
      "type": "structure",
      "members": {
        "default": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Denotes whether the audio track will be played by default in a player."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string to uniquely identify the track amongst other audio track labels for the specified video."
          }
        },
        "status": {
          "target": "com.cloudflare.stream#AudioTracksCopyResponseStatus",
          "traits": {
            "smithy.api#documentation": "Specifies the processing status of the video."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a media item."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.stream#AudioTracksCopy": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.stream#AudioTracksCopyRequest"
      },
      "output": {
        "target": "com.cloudflare.stream#AudioTracksCopyResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/stream/{identifier}/audio/copy",
          "code": 200
        },
        "smithy.api#documentation": "Adds an additional audio track to a video using the provided audio track URL."
      }
    },
    "com.cloudflare.stream#AudioTracksDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a media item.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "audio_identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for an additional audio track.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.stream#AudioTracksDeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#String",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.stream#AudioTracksDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.stream#AudioTracksDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.stream#AudioTracksDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/stream/{identifier}/audio/{audio_identifier}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes additional audio tracks on a video. Deleting a default audio track is not allowed. You must assign another audio track as default prior to deletion.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.stream#AudioTracksEditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a media item.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "audio_identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for an additional audio track.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "default": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Denotes whether the audio track will be played by default in a player."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string to uniquely identify the track amongst other audio track labels for the specified video."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.stream#AudioTracksEditResponseStatus": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      }
    },
    "com.cloudflare.stream#AudioTracksEditResponse": {
      "type": "structure",
      "members": {
        "default": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Denotes whether the audio track will be played by default in a player."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string to uniquely identify the track amongst other audio track labels for the specified video."
          }
        },
        "status": {
          "target": "com.cloudflare.stream#AudioTracksEditResponseStatus",
          "traits": {
            "smithy.api#documentation": "Specifies the processing status of the video."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a media item."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.stream#AudioTracksEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.stream#AudioTracksEditRequest"
      },
      "output": {
        "target": "com.cloudflare.stream#AudioTracksEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/stream/{identifier}/audio/{audio_identifier}",
          "code": 200
        },
        "smithy.api#documentation": "Edits additional audio tracks on a video. Editing the default status of an audio track to `true` will mark all other audio tracks on the video default status to `false`."
      }
    },
    "com.cloudflare.stream#AudioTracksGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a media item.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.stream#AudioTracksGetResponseAudioItemStatus": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      }
    },
    "com.cloudflare.stream#AudioTracksGetResponseAudioItem": {
      "type": "structure",
      "members": {
        "default": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Denotes whether the audio track will be played by default in a player."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string to uniquely identify the track amongst other audio track labels for the specified video."
          }
        },
        "status": {
          "target": "com.cloudflare.stream#AudioTracksGetResponseAudioItemStatus",
          "traits": {
            "smithy.api#documentation": "Specifies the processing status of the video."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a media item."
          }
        }
      }
    },
    "com.cloudflare.stream#AudioTracksGetResponseAudioList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.stream#AudioTracksGetResponseAudioItem"
      }
    },
    "com.cloudflare.stream#AudioTracksGetResponse": {
      "type": "structure",
      "members": {
        "audio": {
          "target": "com.cloudflare.stream#AudioTracksGetResponseAudioList",
          "traits": {
            "smithy.api#documentation": "Array of audio tracks for the video."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.stream#AudioTracksGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.stream#AudioTracksGetRequest"
      },
      "output": {
        "target": "com.cloudflare.stream#AudioTracksGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/stream/{identifier}/audio",
          "code": 200
        },
        "smithy.api#documentation": "Lists additional audio tracks on a video. Note this API will not return information for audio attached to the video upload.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.stream#CaptionsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a media item.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.stream#CaptionsGetResultItemStatus": {
      "type": "enum",
      "members": {
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inprogress"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      }
    },
    "com.cloudflare.stream#CaptionsGetResultItem": {
      "type": "structure",
      "members": {
        "generated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the caption was generated via AI."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language label displayed in the native language to users."
          }
        },
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language tag in BCP 47 format."
          }
        },
        "status": {
          "target": "com.cloudflare.stream#CaptionsGetResultItemStatus",
          "traits": {
            "smithy.api#documentation": "The status of a generated caption."
          }
        }
      }
    },
    "com.cloudflare.stream#CaptionsGetResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.stream#CaptionsGetResultItem"
      }
    },
    "com.cloudflare.stream#CaptionsGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.stream#CaptionsGetResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.stream#CaptionsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.stream#CaptionsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.stream#CaptionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/stream/{identifier}/captions",
          "code": 200
        },
        "smithy.api#documentation": "Lists the available captions or subtitles for a specific video.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.stream#CaptionsLanguageCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a media item.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language tag in BCP 47 format.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.stream#CaptionsLanguageCreateResponseStatus": {
      "type": "enum",
      "members": {
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inprogress"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      }
    },
    "com.cloudflare.stream#CaptionsLanguageCreateResponse": {
      "type": "structure",
      "members": {
        "generated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the caption was generated via AI."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language label displayed in the native language to users."
          }
        },
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language tag in BCP 47 format."
          }
        },
        "status": {
          "target": "com.cloudflare.stream#CaptionsLanguageCreateResponseStatus",
          "traits": {
            "smithy.api#documentation": "The status of a generated caption."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.stream#CaptionsLanguageCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.stream#CaptionsLanguageCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.stream#CaptionsLanguageCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/stream/{identifier}/captions/{language}/generate",
          "code": 200
        },
        "smithy.api#documentation": "Generate captions or subtitles for provided language via AI."
      }
    },
    "com.cloudflare.stream#CaptionsLanguageDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a media item.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language tag in BCP 47 format.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.stream#CaptionsLanguageDeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#String",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.stream#CaptionsLanguageDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.stream#CaptionsLanguageDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.stream#CaptionsLanguageDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/stream/{identifier}/captions/{language}",
          "code": 200
        },
        "smithy.api#documentation": "Removes the captions or subtitles from a video.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.stream#CaptionsLanguageGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a media item.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language tag in BCP 47 format.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.stream#CaptionsLanguageGetResponseStatus": {
      "type": "enum",
      "members": {
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inprogress"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      }
    },
    "com.cloudflare.stream#CaptionsLanguageGetResponse": {
      "type": "structure",
      "members": {
        "generated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the caption was generated via AI."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language label displayed in the native language to users."
          }
        },
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language tag in BCP 47 format."
          }
        },
        "status": {
          "target": "com.cloudflare.stream#CaptionsLanguageGetResponseStatus",
          "traits": {
            "smithy.api#documentation": "The status of a generated caption."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.stream#CaptionsLanguageGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.stream#CaptionsLanguageGetRequest"
      },
      "output": {
        "target": "com.cloudflare.stream#CaptionsLanguageGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/stream/{identifier}/captions/{language}",
          "code": 200
        },
        "smithy.api#documentation": "Lists the captions or subtitles for provided language.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.stream#CaptionsLanguageUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a media item.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language tag in BCP 47 format.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.stream#CaptionsLanguageUpdateResponseStatus": {
      "type": "enum",
      "members": {
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inprogress"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      }
    },
    "com.cloudflare.stream#CaptionsLanguageUpdateResponse": {
      "type": "structure",
      "members": {
        "generated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the caption was generated via AI."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language label displayed in the native language to users."
          }
        },
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language tag in BCP 47 format."
          }
        },
        "status": {
          "target": "com.cloudflare.stream#CaptionsLanguageUpdateResponseStatus",
          "traits": {
            "smithy.api#documentation": "The status of a generated caption."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.stream#CaptionsLanguageUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.stream#CaptionsLanguageUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.stream#CaptionsLanguageUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/stream/{identifier}/captions/{language}",
          "code": 200
        },
        "smithy.api#documentation": "Uploads the caption or subtitle file to the endpoint for a specific BCP47 language. One caption or subtitle file per language is allowed.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.stream#CaptionsLanguageVttGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloudflare-generated unique identifier for a media item.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language tag in BCP 47 format.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.stream#CaptionsLanguageVttGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.stream#CaptionsLanguageVttGetRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/stream/{identifier}/captions/{language}/vtt",
          "code": 200
        },
        "smithy.api#documentation": "Return WebVTT captions for a provided language.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.stream#ClipCreateRequestAllowedOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.stream#ClipCreateRequestWatermark": {
      "type": "structure",
      "members": {
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the watermark profile."
          }
        }
      }
    },
    "com.cloudflare.stream#ClipCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "clippedFromVideoUID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique video identifier (UID).",
            "smithy.api#required": {}
          }
        },
        "endTimeSeconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies the end time for the video clip in seconds.",
            "smithy.api#required": {}
          }
        },
        "startTimeSeconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies the start time for the video clip in seconds.",
            "smithy.api#required": {}
          }
        },
        "allowedOrigins": {
          "target": "com.cloudflare.stream#ClipCreateRequestAllowedOriginsList",
          "traits": {
            "smithy.api#documentation": "Lists the origins allowed to display the video. Enter allowed origin domains in an array and use `*` for wildcard subdomains. Empty arrays allow the video to be viewed on any origin."
          }
        },
        "creator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user-defined identifier for the media creator."
          }
        },
        "input": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A video's URL. Preferred over 'url'."
          }
        },
        "meta": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "A user modifiable key-value store used to reference other systems of record for managing videos."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A name for the video."
          }
        },
        "requireSignedURLs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the video can be a accessed using the UID. When set to `true`, a signed token must be generated with a signing key to view the video."
          }
        },
        "scheduledDeletion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the date and time at which the video will be deleted. Omit the field to indicate no change, or include with a `null` value to remove an existing scheduled deletion. If specified, must be at least 30 days from upload time."
          }
        },
        "thumbnailTimestampPct": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The timestamp for a thumbnail image calculated as a percentage value of the video's duration. To convert from a second-wise timestamp to a percentage, divide the desired timestamp by the total duration of the video.  If this value is not set, the default thumbnail image is taken from 0s of the video."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A video's URL (legacy field, use 'input' instead)."
          }
        },
        "watermark": {
          "target": "com.cloudflare.stream#ClipCreateRequestWatermark"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.stream#ClipCreateResponseAllowedOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.stream#ClipCreateResponseInput": {
      "type": "structure",
      "members": {
        "height": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The video height in pixels. A value of `-1` means the height is unknown. The value becomes available after the upload and before the video is ready."
          }
        },
        "width": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The video width in pixels. A value of `-1` means the width is unknown. The value becomes available after the upload and before the video is ready."
          }
        }
      }
    },
    "com.cloudflare.stream#ClipCreateResponsePlayback": {
      "type": "structure",
      "members": {
        "dash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DASH Media Presentation Description for the video."
          }
        },
        "hls": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HLS manifest for the video."
          }
        }
      }
    },
    "com.cloudflare.stream#ClipCreateResponsePublicDetails": {
      "type": "structure",
      "members": {
        "channel_link": {
          "target": "smithy.api#String"
        },
        "logo": {
          "target": "smithy.api#String"
        },
        "media_id": {
          "target": "smithy.api#Double"
        },
        "share_link": {
          "target": "smithy.api#String"
        },
        "title": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.stream#ClipCreateResponseStatusState": {
      "type": "enum",
      "members": {
        "PENDINGUPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pendingupload"
          }
        },
        "DOWNLOADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "downloading"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inprogress"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "LIVE_INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "live-inprogress"
          }
        }
      }
    },
    "com.cloudflare.stream#ClipCreateResponseStatus": {
      "type": "structure",
      "members": {
        "errorReasonCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies why the video failed to encode. This field is empty if the video is not in an `error` state. Preferred for programmatic use."
          }
        },
        "errorReasonText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies why the video failed to encode using a human readable error message in English. This field is empty if the video is not in an `error` state."
          }
        },
        "pctComplete": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the progress as a percentage between 0 and 100."
          }
        },
        "state": {
          "target": "com.cloudflare.stream#ClipCreateResponseStatusState",
          "traits": {
            "smithy.api#documentation": "Specifies the processing status for all quality levels for a video."
          }
        }
      }
    },
    "com.cloudflare.stream#ClipCreateResponseWatermark": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and a time a watermark profile was created."
          }
        },
        "downloadedFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source URL for a downloaded image. If the watermark profile was created via direct upload, this field is null."
          }
        },
        "height": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The height of the image in pixels."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the watermark profile."
          }
        },
        "opacity": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The translucency of the image. A value of `0.0` makes the image completely transparent, and `1.0` makes the image completely opaque. Note that if the image is already semi-transparent, setting this to `1.0` will not make the image completely opaque."
          }
        },
        "padding": {
          "target": "smithy.api#Double",
          "traits": {
[...]
