{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.url_scanner#ResponsesGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "response_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Response hash.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.url_scanner#ResponsesGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.url_scanner#ResponsesGetRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/urlscanner/v2/responses/{response_id}",
          "code": 200
        },
        "smithy.api#documentation": "Returns the raw response of the network request. Find the `response_id` in the `data.requests.response.hash`.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.url_scanner#ScansBulkCreateRequestBodyItemCustomHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.url_scanner#ScansBulkCreateRequestBodyItemScreenshotsResolutionsItem": {
      "type": "enum",
      "members": {
        "DESKTOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desktop"
          }
        },
        "MOBILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mobile"
          }
        },
        "TABLET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tablet"
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansBulkCreateRequestBodyItemScreenshotsResolutionsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.url_scanner#ScansBulkCreateRequestBodyItemScreenshotsResolutionsItem"
      }
    },
    "com.cloudflare.url_scanner#ScansBulkCreateRequestBodyItemVisibility": {
      "type": "enum",
      "members": {
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Public"
          }
        },
        "UNLISTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unlisted"
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansBulkCreateRequestBodyItem": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "agentReadiness": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable agent readiness checks."
          }
        },
        "customagent": {
          "target": "smithy.api#String"
        },
        "customHeaders": {
          "target": "com.cloudflare.url_scanner#ScansBulkCreateRequestBodyItemCustomHeadersMap",
          "traits": {
            "smithy.api#documentation": "Set custom headers."
          }
        },
        "referer": {
          "target": "smithy.api#String"
        },
        "screenshotsResolutions": {
          "target": "com.cloudflare.url_scanner#ScansBulkCreateRequestBodyItemScreenshotsResolutionsList",
          "traits": {
            "smithy.api#documentation": "Take multiple screenshots targeting different device types."
          }
        },
        "visibility": {
          "target": "com.cloudflare.url_scanner#ScansBulkCreateRequestBodyItemVisibility",
          "traits": {
            "smithy.api#documentation": "The option `Public` means it will be included in listings like recent scans and search results. `Unlisted` means it will not be included in the aforementioned listings, users will need to have the scan's ID to access it. A a scan will be automatically marked as unlisted if it fails, if it contains potential PII or other sensitive material."
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansBulkCreateRequestBodyList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.url_scanner#ScansBulkCreateRequestBodyItem"
      }
    },
    "com.cloudflare.url_scanner#ScansBulkCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.url_scanner#ScansBulkCreateRequestBodyList",
          "traits": {
            "smithy.api#documentation": "List of urls to scan (up to a 100).",
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.url_scanner#ScansBulkCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#String",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.url_scanner#ScansBulkCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.url_scanner#ScansBulkCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.url_scanner#ScansBulkCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/urlscanner/v2/bulk",
          "code": 200
        },
        "smithy.api#documentation": "Submit URLs to scan. Check limits at https://developers.cloudflare.com/security-center/investigate/scan-limits/ and take into account scans submitted in bulk have lower priority and may take longer to finish."
      }
    },
    "com.cloudflare.url_scanner#ScansCreateRequestCountry": {
      "type": "enum",
      "members": {
        "AF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AF"
          }
        },
        "AL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AL"
          }
        },
        "DZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DZ"
          }
        },
        "AD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD"
          }
        },
        "AO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AO"
          }
        },
        "AG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AG"
          }
        },
        "AR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AR"
          }
        },
        "AM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AM"
          }
        },
        "AU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AU"
          }
        },
        "AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AT"
          }
        },
        "AZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZ"
          }
        },
        "BH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BH"
          }
        },
        "BD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BD"
          }
        },
        "BB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BB"
          }
        },
        "BY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BY"
          }
        },
        "BE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BE"
          }
        },
        "BZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BZ"
          }
        },
        "BJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BJ"
          }
        },
        "BM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BM"
          }
        },
        "BT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BT"
          }
        },
        "BO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BO"
          }
        },
        "BA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BA"
          }
        },
        "BW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BW"
          }
        },
        "BR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BR"
          }
        },
        "BN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BN"
          }
        },
        "BG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BG"
          }
        },
        "BF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BF"
          }
        },
        "BI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BI"
          }
        },
        "KH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KH"
          }
        },
        "CM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CM"
          }
        },
        "CA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CA"
          }
        },
        "CV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CV"
          }
        },
        "KY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KY"
          }
        },
        "CF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CF"
          }
        },
        "TD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TD"
          }
        },
        "CL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CL"
          }
        },
        "CN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CN"
          }
        },
        "CO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CO"
          }
        },
        "KM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KM"
          }
        },
        "CG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CG"
          }
        },
        "CR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CR"
          }
        },
        "CI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CI"
          }
        },
        "HR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HR"
          }
        },
        "CU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CU"
          }
        },
        "CY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CY"
          }
        },
        "CZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CZ"
          }
        },
        "CD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CD"
          }
        },
        "DK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DK"
          }
        },
        "DJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DJ"
          }
        },
        "DM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DM"
          }
        },
        "DO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DO"
          }
        },
        "EC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC"
          }
        },
        "EG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EG"
          }
        },
        "SV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SV"
          }
        },
        "GQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GQ"
          }
        },
        "ER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ER"
          }
        },
        "EE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EE"
          }
        },
        "SZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SZ"
          }
        },
        "ET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ET"
          }
        },
        "FJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FJ"
          }
        },
        "FI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FI"
          }
        },
        "FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FR"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GA"
          }
        },
        "GE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GE"
          }
        },
        "DE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DE"
          }
        },
        "GH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GH"
          }
        },
        "GR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GR"
          }
        },
        "GL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GL"
          }
        },
        "GD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GD"
          }
        },
        "GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GT"
          }
        },
        "GN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GN"
          }
        },
        "GW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GW"
          }
        },
        "GY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GY"
          }
        },
        "HT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HT"
          }
        },
        "HN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HN"
          }
        },
        "HU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HU"
          }
        },
        "IS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IS"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN"
          }
        },
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ID"
          }
        },
        "IR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IR"
          }
        },
        "IQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IQ"
          }
        },
        "IE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IE"
          }
        },
        "IL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IL"
          }
        },
        "IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IT"
          }
        },
        "JM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JM"
          }
        },
        "JP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JP"
          }
        },
        "JO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JO"
          }
        },
        "KZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KZ"
          }
        },
        "KE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KE"
          }
        },
        "KI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KI"
          }
        },
        "KW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KW"
          }
        },
        "KG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KG"
          }
        },
        "LA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LA"
          }
        },
        "LV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LV"
          }
        },
        "LB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LB"
          }
        },
        "LS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LS"
          }
        },
        "LR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LR"
          }
        },
        "LY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LY"
          }
        },
        "LI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LI"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LT"
          }
        },
        "LU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LU"
          }
        },
        "MO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MO"
          }
        },
        "MG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MG"
          }
        },
        "MW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MW"
          }
        },
        "MY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MY"
          }
        },
        "MV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MV"
          }
        },
        "ML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ML"
          }
        },
        "MR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MR"
          }
        },
        "MU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MU"
          }
        },
        "MX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MX"
          }
        },
        "FM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FM"
          }
        },
        "MD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MD"
          }
        },
        "MC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MC"
          }
        },
        "MN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MN"
          }
        },
        "MS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MS"
          }
        },
        "MA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MA"
          }
        },
        "MZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MZ"
          }
        },
        "MM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MM"
          }
        },
        "NA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NA"
          }
        },
        "NR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NR"
          }
        },
        "NP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NP"
          }
        },
        "NL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NL"
          }
        },
        "NZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NZ"
          }
        },
        "NI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NI"
          }
        },
        "NE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NE"
          }
        },
        "NG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NG"
          }
        },
        "KP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KP"
          }
        },
        "MK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MK"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO"
          }
        },
        "OM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OM"
          }
        },
        "PK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PK"
          }
        },
        "PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PS"
          }
        },
        "PA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PA"
          }
        },
        "PG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PG"
          }
        },
        "PY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PY"
          }
        },
        "PE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PE"
          }
        },
        "PH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PH"
          }
        },
        "PL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PL"
          }
        },
        "PT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT"
          }
        },
        "QA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QA"
          }
        },
        "RO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RO"
          }
        },
        "RU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RU"
          }
        },
        "RW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RW"
          }
        },
        "SH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SH"
          }
        },
        "KN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KN"
          }
        },
        "LC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LC"
          }
        },
        "VC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VC"
          }
        },
        "WS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WS"
          }
        },
        "SM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SM"
          }
        },
        "ST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ST"
          }
        },
        "SA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SA"
          }
        },
        "SN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SN"
          }
        },
        "RS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RS"
          }
        },
        "SC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SC"
          }
        },
        "SL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SL"
          }
        },
        "SK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SK"
          }
        },
        "SI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SI"
          }
        },
        "SB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SB"
          }
        },
        "SO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SO"
          }
        },
        "ZA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZA"
          }
        },
        "KR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KR"
          }
        },
        "SS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SS"
          }
        },
        "ES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ES"
          }
        },
        "LK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LK"
          }
        },
        "SD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SD"
          }
        },
        "SR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SR"
          }
        },
        "SE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SE"
          }
        },
        "CH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CH"
          }
        },
        "SY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SY"
          }
        },
        "TW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TW"
          }
        },
        "TJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TJ"
          }
        },
        "TZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TZ"
          }
        },
        "TH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TH"
          }
        },
        "BS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BS"
          }
        },
        "GM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GM"
          }
        },
        "TL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TL"
          }
        },
        "TG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TG"
          }
        },
        "TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TO"
          }
        },
        "TT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TT"
          }
        },
        "TN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TN"
          }
        },
        "TR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TR"
          }
        },
        "TM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TM"
          }
        },
        "UG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UG"
          }
        },
        "UA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UA"
          }
        },
        "AE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AE"
          }
        },
        "GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GB"
          }
        },
        "US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "US"
          }
        },
        "UY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UY"
          }
        },
        "UZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UZ"
          }
        },
        "VU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VU"
          }
        },
        "VE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VE"
          }
        },
        "VN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VN"
          }
        },
        "YE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YE"
          }
        },
        "ZM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZM"
          }
        },
        "ZW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZW"
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansCreateRequestCustomHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.url_scanner#ScansCreateRequestScreenshotsResolutionsItem": {
      "type": "enum",
      "members": {
        "DESKTOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desktop"
          }
        },
        "MOBILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mobile"
          }
        },
        "TABLET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tablet"
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansCreateRequestScreenshotsResolutionsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.url_scanner#ScansCreateRequestScreenshotsResolutionsItem"
      }
    },
    "com.cloudflare.url_scanner#ScansCreateRequestVisibility": {
      "type": "enum",
      "members": {
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Public"
          }
        },
        "UNLISTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unlisted"
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "agentReadiness": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable agent readiness checks."
          }
        },
        "country": {
          "target": "com.cloudflare.url_scanner#ScansCreateRequestCountry",
          "traits": {
            "smithy.api#documentation": "Country to geo egress from"
          }
        },
        "customagent": {
          "target": "smithy.api#String"
        },
        "customHeaders": {
          "target": "com.cloudflare.url_scanner#ScansCreateRequestCustomHeadersMap",
          "traits": {
            "smithy.api#documentation": "Set custom headers."
          }
        },
        "referer": {
          "target": "smithy.api#String"
        },
        "screenshotsResolutions": {
          "target": "com.cloudflare.url_scanner#ScansCreateRequestScreenshotsResolutionsList",
          "traits": {
            "smithy.api#documentation": "Take multiple screenshots targeting different device types."
          }
        },
        "visibility": {
          "target": "com.cloudflare.url_scanner#ScansCreateRequestVisibility",
          "traits": {
            "smithy.api#documentation": "The option `Public` means it will be included in listings like recent scans and search results. `Unlisted` means it will not be included in the aforementioned listings, users will need to have the scan's ID to access it. A a scan will be automatically marked as unlisted if it fails, if it contains potential PII or other sensitive material."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.url_scanner#ScansCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#String",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.url_scanner#ScansCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.url_scanner#ScansCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.url_scanner#ScansCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/urlscanner/v2/scan",
          "code": 200
        },
        "smithy.api#documentation": "Submit a URL to scan. Check limits at https://developers.cloudflare.com/security-center/investigate/scan-limits/."
      }
    },
    "com.cloudflare.url_scanner#ScansDomRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "scan_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scan UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.url_scanner#ScansDom": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.url_scanner#ScansDomRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/urlscanner/v2/dom/{scan_id}",
          "code": 200
        },
        "smithy.api#documentation": "Returns a plain text response, with the scan's DOM content as rendered by Chrome.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.url_scanner#ScansGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "scan_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scan UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseDataConsoleItemMessage": {
      "type": "structure",
      "members": {
        "level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseDataConsoleItem": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseDataConsoleItemMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseDataConsoleList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.url_scanner#ScansGetResponseDataConsoleItem"
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseDataCookiesItem": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expires": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "httpOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sameParty": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "secure": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "session": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sourcePort": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sourceScheme": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseDataCookiesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.url_scanner#ScansGetResponseDataCookiesItem"
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseDataGlobalsItem": {
      "type": "structure",
      "members": {
        "prop": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseDataGlobalsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.url_scanner#ScansGetResponseDataGlobalsItem"
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseDataLinksItem": {
      "type": "structure",
      "members": {
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseDataLinksList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.url_scanner#ScansGetResponseDataLinksItem"
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseDataPerformanceItem": {
      "type": "structure",
      "members": {
        "duration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "entryType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "startTime": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseDataPerformanceList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.url_scanner#ScansGetResponseDataPerformanceItem"
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemRequestInitiator": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemRequestRequest": {
      "type": "structure",
      "members": {
        "initialPriority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isSameSite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mixedContentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "referrerPolicy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "headers": {
          "target": "smithy.api#Document"
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemRequestRedirectResponseSecurityHeadersItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemRequestRedirectResponseSecurityHeadersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemRequestRedirectResponseSecurityHeadersItem"
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemRequestRedirectResponse": {
      "type": "structure",
      "members": {
        "charset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "protocol": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "remoteIPAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "remotePort": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "securityHeaders": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemRequestRedirectResponseSecurityHeadersList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "securityState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "statusText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "headers": {
          "target": "smithy.api#Document"
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemRequest": {
      "type": "structure",
      "members": {
        "documentURL": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasUserGesture": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "initiator": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemRequestInitiator",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "redirectHasExtraInfo": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "request": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemRequestRequest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "wallTime": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "frameId": {
          "target": "smithy.api#String"
        },
        "loaderId": {
          "target": "smithy.api#String"
        },
        "primaryRequest": {
          "target": "smithy.api#Boolean"
        },
        "redirectResponse": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemRequestRedirectResponse"
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemResponseAsn": {
      "type": "structure",
      "members": {
        "asn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemResponseGeoipLlList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemResponseGeoip": {
      "type": "structure",
      "members": {
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "country_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "geonameId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ll": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemResponseGeoipLlList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemResponseResponseSecurityDetailsSanListList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemResponseResponseSecurityDetails": {
      "type": "structure",
      "members": {
        "certificateId": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "certificateTransparencyCompliance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cipher": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "encryptedClientHello": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "keyExchange": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "keyExchangeGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "protocol": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sanList": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemResponseResponseSecurityDetailsSanListList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "serverSignatureAlgorithm": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subjectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "validFrom": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "validTo": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemResponseResponseSecurityHeadersItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemResponseResponseSecurityHeadersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemResponseResponseSecurityHeadersItem"
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemResponseResponse": {
      "type": "structure",
      "members": {
        "charset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "protocol": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "remoteIPAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "remotePort": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "securityDetails": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemResponseResponseSecurityDetails",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "securityHeaders": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemResponseResponseSecurityHeadersList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "securityState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "statusText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "headers": {
          "target": "smithy.api#Document"
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemResponse": {
      "type": "structure",
      "members": {
        "asn": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemResponseAsn",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dataLength": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "encodedDataLength": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "geoip": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemResponseGeoip",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasExtraInfo": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "response": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemResponseResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "contentAvailable": {
          "target": "smithy.api#Boolean"
        },
        "hash": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemRequestsItemInitiator": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemRequestsItemRequestHeaders": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemRequestsItemRequest": {
      "type": "structure",
      "members": {
        "headers": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemRequestsItemRequestHeaders",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "initialPriority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isSameSite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mixedContentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "referrerPolicy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemRequestsItem": {
      "type": "structure",
      "members": {
        "documentURL": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "frameId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hasUserGesture": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "initiator": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemRequestsItemInitiator",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "loaderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "redirectHasExtraInfo": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "request": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemRequestsItemRequest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "wallTime": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemRequestsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemRequestsItem"
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItem": {
      "type": "structure",
      "members": {
        "request": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemRequest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "response": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requests": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItemRequestsList"
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseDataRequestsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.url_scanner#ScansGetResponseDataRequestsItem"
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseData": {
      "type": "structure",
      "members": {
        "console": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseDataConsoleList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cookies": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseDataCookiesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "globals": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseDataGlobalsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "links": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseDataLinksList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "performance": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseDataPerformanceList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requests": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseDataRequestsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseListsAsnsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseListsCertificatesItem": {
      "type": "structure",
      "members": {
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subjectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "validFrom": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "validTo": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseListsCertificatesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.url_scanner#ScansGetResponseListsCertificatesItem"
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseListsContinentsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseListsCountriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseListsDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseListsHashesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseListsIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseListsLinkDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseListsServersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseListsUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseLists": {
      "type": "structure",
      "members": {
        "asns": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseListsAsnsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "certificates": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseListsCertificatesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "continents": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseListsContinentsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "countries": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseListsCountriesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "domains": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseListsDomainsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hashes": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseListsHashesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ips": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseListsIpsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "linkDomains": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseListsLinkDomainsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "servers": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseListsServersList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "urls": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseListsUrlsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAsnDataItem": {
      "type": "structure",
      "members": {
        "asn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAsnDataList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAsnDataItem"
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAsn": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAsnDataList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsDnsDataItem": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dnssec_valid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsDnsDataList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsDnsDataItem"
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsDns": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsDnsDataList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsDomainCategoriesDataItem": {
      "type": "structure",
      "members": {
        "inherited": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isPrimary": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsDomainCategoriesDataList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsDomainCategoriesDataItem"
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsDomainCategories": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsDomainCategoriesDataList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsGeoipDataItemGeoipLlList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsGeoipDataItemGeoip": {
      "type": "structure",
      "members": {
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "country_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ll": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsGeoipDataItemGeoipLlList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsGeoipDataItem": {
      "type": "structure",
      "members": {
        "geoip": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsGeoipDataItemGeoip",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsGeoipDataList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsGeoipDataItem"
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsGeoip": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsGeoipDataList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsPhishingDataList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsPhishing": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsPhishingDataList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsRadarRankDataItem": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rank": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsRadarRankDataList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsRadarRankDataItem"
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsRadarRank": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsRadarRankDataList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsWappaDataItemCategoriesItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsWappaDataItemCategoriesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsWappaDataItemCategoriesItem"
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsWappaDataItemConfidenceItem": {
      "type": "structure",
      "members": {
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "patternType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsWappaDataItemConfidenceList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsWappaDataItemConfidenceItem"
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsWappaDataItem": {
      "type": "structure",
      "members": {
        "app": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "categories": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsWappaDataItemCategoriesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "confidence": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsWappaDataItemConfidenceList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "confidenceTotal": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "icon": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "website": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsWappaDataList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsWappaDataItem"
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsWappa": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsWappaDataList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlContentSignalsEvidenceItemFinding": {
      "type": "structure",
      "members": {
        "outcome": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlContentSignalsEvidenceItemRequest": {
      "type": "structure",
      "members": {
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "headers": {
          "target": "smithy.api#Document"
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlContentSignalsEvidenceItemResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "statusText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "bodyPreview": {
          "target": "smithy.api#String"
        },
        "bodySize": {
          "target": "smithy.api#Double"
        },
        "headers": {
          "target": "smithy.api#Document"
        },
        "redirectedTo": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlContentSignalsEvidenceItem": {
      "type": "structure",
      "members": {
        "action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "finding": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlContentSignalsEvidenceItemFinding"
        },
        "request": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlContentSignalsEvidenceItemRequest"
        },
        "response": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlContentSignalsEvidenceItemResponse"
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlContentSignalsEvidenceList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlContentSignalsEvidenceItem"
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlContentSignals": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "details": {
          "target": "smithy.api#Document"
        },
        "durationMs": {
          "target": "smithy.api#Double"
        },
        "evidence": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlContentSignalsEvidenceList"
        },
        "message": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlRobotsTxtAiRulesEvidenceItemFinding": {
      "type": "structure",
      "members": {
        "outcome": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlRobotsTxtAiRulesEvidenceItemRequest": {
      "type": "structure",
      "members": {
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "headers": {
          "target": "smithy.api#Document"
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlRobotsTxtAiRulesEvidenceItemResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "statusText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "bodyPreview": {
          "target": "smithy.api#String"
        },
        "bodySize": {
          "target": "smithy.api#Double"
        },
        "headers": {
          "target": "smithy.api#Document"
        },
        "redirectedTo": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlRobotsTxtAiRulesEvidenceItem": {
      "type": "structure",
      "members": {
        "action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "finding": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlRobotsTxtAiRulesEvidenceItemFinding"
        },
        "request": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlRobotsTxtAiRulesEvidenceItemRequest"
        },
        "response": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlRobotsTxtAiRulesEvidenceItemResponse"
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlRobotsTxtAiRulesEvidenceList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlRobotsTxtAiRulesEvidenceItem"
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlRobotsTxtAiRules": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "details": {
          "target": "smithy.api#Document"
        },
        "durationMs": {
          "target": "smithy.api#Double"
        },
        "evidence": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlRobotsTxtAiRulesEvidenceList"
        },
        "message": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlWebBotAuthEvidenceItemFinding": {
      "type": "structure",
      "members": {
        "outcome": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlWebBotAuthEvidenceItemRequest": {
      "type": "structure",
      "members": {
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "headers": {
          "target": "smithy.api#Document"
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlWebBotAuthEvidenceItemResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "statusText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "bodyPreview": {
          "target": "smithy.api#String"
        },
        "bodySize": {
          "target": "smithy.api#Double"
        },
        "headers": {
          "target": "smithy.api#Document"
        },
        "redirectedTo": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlWebBotAuthEvidenceItem": {
      "type": "structure",
      "members": {
        "action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "finding": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlWebBotAuthEvidenceItemFinding"
        },
        "request": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlWebBotAuthEvidenceItemRequest"
        },
        "response": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlWebBotAuthEvidenceItemResponse"
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlWebBotAuthEvidenceList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlWebBotAuthEvidenceItem"
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlWebBotAuth": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "details": {
          "target": "smithy.api#Document"
        },
        "durationMs": {
          "target": "smithy.api#Double"
        },
        "evidence": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlWebBotAuthEvidenceList"
        },
        "message": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControl": {
      "type": "structure",
      "members": {
        "contentSignals": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlContentSignals",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "robotsTxtAiRules": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlRobotsTxtAiRules",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "webBotAuth": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksBotAccessControlWebBotAuth",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksCommerceAcpEvidenceItemFinding": {
      "type": "structure",
      "members": {
        "outcome": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksCommerceAcpEvidenceItemRequest": {
      "type": "structure",
      "members": {
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "headers": {
          "target": "smithy.api#Document"
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksCommerceAcpEvidenceItemResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "statusText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "bodyPreview": {
          "target": "smithy.api#String"
        },
        "bodySize": {
          "target": "smithy.api#Double"
        },
        "headers": {
          "target": "smithy.api#Document"
        },
        "redirectedTo": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksCommerceAcpEvidenceItem": {
      "type": "structure",
      "members": {
        "action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "finding": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksCommerceAcpEvidenceItemFinding"
        },
        "request": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksCommerceAcpEvidenceItemRequest"
        },
        "response": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksCommerceAcpEvidenceItemResponse"
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksCommerceAcpEvidenceList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksCommerceAcpEvidenceItem"
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksCommerceAcp": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "details": {
          "target": "smithy.api#Document"
        },
        "durationMs": {
          "target": "smithy.api#Double"
        },
        "evidence": {
          "target": "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksCommerceAcpEvidenceList"
        },
        "message": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksCommerceAp2EvidenceItemFinding": {
      "type": "structure",
      "members": {
        "outcome": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.url_scanner#ScansGetResponseMetaProcessorsAgentReadinessChecksCommerceAp2EvidenceItemRequest": {
      "type": "structure",
      "members": {
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
[...]
