{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.vulnerability_scanner#CredentialSetsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Credential set identifier.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/vuln_scanner/credential_sets",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new credential set."
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "credential_set_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsDeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/vuln_scanner/credential_sets/{credential_set_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes a credential set and all of its credentials.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsEditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "credential_set_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsEditResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Credential set identifier.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsEditRequest"
      },
      "output": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/vuln_scanner/credential_sets/{credential_set_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates a credential set with only the provided fields; omitted fields remain unchanged."
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "credential_set_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Credential set identifier.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/vuln_scanner/credential_sets/{credential_set_id}",
          "code": 200
        },
        "smithy.api#documentation": "Returns a single credential set by ID.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of paginated results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of results per page.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Credential set identifier.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsListResultItem"
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.vulnerability_scanner#CredentialSetsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsListRequest"
      },
      "output": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/vuln_scanner/credential_sets",
          "code": 200
        },
        "smithy.api#documentation": "Returns all credential sets for the account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "credential_set_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Credential set identifier.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/vuln_scanner/credential_sets/{credential_set_id}",
          "code": 200
        },
        "smithy.api#documentation": "Replaces a credential set. All fields must be provided.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsCreateRequestLocation": {
      "type": "enum",
      "members": {
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "header"
          }
        },
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cookie"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "credential_set_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsCreateRequestLocation",
          "traits": {
            "smithy.api#documentation": "Where the credential is attached in outgoing requests.",
            "smithy.api#required": {}
          }
        },
        "location_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the header or cookie where the credential is attached.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The credential value (e.g. API key, session token). Write-only.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsCreateResponseLocation": {
      "type": "enum",
      "members": {
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "header"
          }
        },
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cookie"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Credential identifier.",
            "smithy.api#required": {}
          }
        },
        "credential_set_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Parent credential set identifier.",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsCreateResponseLocation",
          "traits": {
            "smithy.api#documentation": "Where the credential is attached in outgoing requests.",
            "smithy.api#required": {}
          }
        },
        "location_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the header or cookie where the credential is attached.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/vuln_scanner/credential_sets/{credential_set_id}/credentials",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new credential within a credential set."
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "credential_set_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "credential_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsDeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/vuln_scanner/credential_sets/{credential_set_id}/credentials/{credential_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes a credential.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsEditRequestLocation": {
      "type": "enum",
      "members": {
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "header"
          }
        },
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cookie"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsEditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "credential_set_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "credential_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsEditRequestLocation",
          "traits": {
            "smithy.api#documentation": "Where the credential is attached in outgoing requests."
          }
        },
        "location_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the header or cookie where the credential is attached."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The credential value. Write-only. Never returned in responses."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsEditResponseLocation": {
      "type": "enum",
      "members": {
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "header"
          }
        },
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cookie"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsEditResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Credential identifier.",
            "smithy.api#required": {}
          }
        },
        "credential_set_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Parent credential set identifier.",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsEditResponseLocation",
          "traits": {
            "smithy.api#documentation": "Where the credential is attached in outgoing requests.",
            "smithy.api#required": {}
          }
        },
        "location_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the header or cookie where the credential is attached.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsEditRequest"
      },
      "output": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/vuln_scanner/credential_sets/{credential_set_id}/credentials/{credential_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates a credential with only the provided fields; omitted fields remain unchanged."
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "credential_set_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "credential_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsGetResponseLocation": {
      "type": "enum",
      "members": {
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "header"
          }
        },
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cookie"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Credential identifier.",
            "smithy.api#required": {}
          }
        },
        "credential_set_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Parent credential set identifier.",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsGetResponseLocation",
          "traits": {
            "smithy.api#documentation": "Where the credential is attached in outgoing requests.",
            "smithy.api#required": {}
          }
        },
        "location_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the header or cookie where the credential is attached.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/vuln_scanner/credential_sets/{credential_set_id}/credentials/{credential_id}",
          "code": 200
        },
        "smithy.api#documentation": "Returns a single credential by ID.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "credential_set_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of paginated results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of results per page.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsListResultItemLocation": {
      "type": "enum",
      "members": {
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "header"
          }
        },
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cookie"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Credential identifier.",
            "smithy.api#required": {}
          }
        },
        "credential_set_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Parent credential set identifier.",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsListResultItemLocation",
          "traits": {
            "smithy.api#documentation": "Where the credential is attached in outgoing requests.",
            "smithy.api#required": {}
          }
        },
        "location_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the header or cookie where the credential is attached.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsListResultItem"
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsListRequest"
      },
      "output": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/vuln_scanner/credential_sets/{credential_set_id}/credentials",
          "code": 200
        },
        "smithy.api#documentation": "Returns all credentials within a credential set.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsUpdateRequestLocation": {
      "type": "enum",
      "members": {
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "header"
          }
        },
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cookie"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "credential_set_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "credential_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsUpdateRequestLocation",
          "traits": {
            "smithy.api#documentation": "Where the credential is attached in outgoing requests.",
            "smithy.api#required": {}
          }
        },
        "location_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the header or cookie where the credential is attached.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The credential value. Write-only. Never returned in responses.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsUpdateResponseLocation": {
      "type": "enum",
      "members": {
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "header"
          }
        },
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cookie"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Credential identifier.",
            "smithy.api#required": {}
          }
        },
        "credential_set_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Parent credential set identifier.",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsUpdateResponseLocation",
          "traits": {
            "smithy.api#documentation": "Where the credential is attached in outgoing requests.",
            "smithy.api#required": {}
          }
        },
        "location_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the header or cookie where the credential is attached.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.vulnerability_scanner#CredentialSetsCredentialsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/vuln_scanner/credential_sets/{credential_set_id}/credentials/{credential_id}",
          "code": 200
        },
        "smithy.api#documentation": "Replaces a credential. All fields must be provided.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateRequestCredentialSets": {
      "type": "structure",
      "members": {
        "attacker": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Credential set ID for the attacker.",
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Credential set ID for the resource owner.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateRequestScanType": {
      "type": "enum",
      "members": {
        "BOLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bola"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "credential_sets": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateRequestCredentialSets",
          "traits": {
            "smithy.api#documentation": "Credential set references for a BOLA scan. The scanner uses the",
            "smithy.api#required": {}
          }
        },
        "open_api": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OpenAPI schema definition for the API under test. The scanner",
            "smithy.api#required": {}
          }
        },
        "scan_type": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateRequestScanType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "target_environment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The target environment to scan.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseScanType": {
      "type": "enum",
      "members": {
        "BOLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bola"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseStatus": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scheduled"
          }
        },
        "PLANNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "planning"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "FINISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "finished"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportSummaryVerdict": {
      "type": "enum",
      "members": {
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warning"
          }
        },
        "INCONCLUSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inconclusive"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportSummary": {
      "type": "structure",
      "members": {
        "verdict": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportSummaryVerdict",
          "traits": {
            "smithy.api#documentation": "Overall verdict of the vulnerability scan.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemAssertionsItemKindParameters": {
      "type": "structure",
      "members": {
        "max": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum (inclusive) status code of the range.",
            "smithy.api#required": {}
          }
        },
        "min": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Minimum (inclusive) status code of the range.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemAssertionsItemKindType": {
      "type": "enum",
      "members": {
        "HTTP_STATUS_WITHIN_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_status_within_range"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemAssertionsItemKind": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemAssertionsItemKindParameters",
          "traits": {
            "smithy.api#documentation": "Range of HTTP status codes.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemAssertionsItemKindType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemAssertionsItemOutcome": {
      "type": "enum",
      "members": {
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "FAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fail"
          }
        },
        "INCONCLUSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inconclusive"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemAssertionsItem": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable description of the assertion, explaining what was checked.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemAssertionsItemKind",
          "traits": {
            "smithy.api#documentation": "Kind of assertion.",
            "smithy.api#required": {}
          }
        },
        "observed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Observed value on which the assertion was made.",
            "smithy.api#required": {}
          }
        },
        "outcome": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemAssertionsItemOutcome",
          "traits": {
            "smithy.api#documentation": "Outcome of the assertion.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemAssertionsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemAssertionsItem"
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemErrorsItem": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable error description.",
            "smithy.api#required": {}
          }
        },
        "error_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Numeric error code identifying the class of error, if available."
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemErrorsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemErrorsItem"
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemRequestCredentialSetRole": {
      "type": "enum",
      "members": {
        "OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "owner"
          }
        },
        "ATTACKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attacker"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemRequestCredentialSet": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the credential set.",
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemRequestCredentialSetRole",
          "traits": {
            "smithy.api#documentation": "Role of the credential set.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemRequestHeaderNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemRequestMethod": {
      "type": "enum",
      "members": {
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCH"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemRequestVariableCapturesItem": {
      "type": "structure",
      "members": {
        "json_path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "JSONPath expression used for capture, e.g. `\"$.id\"`.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Variable name, e.g. `\"resource_id\"`.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemRequestVariableCapturesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemRequestVariableCapturesItem"
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemRequest": {
      "type": "structure",
      "members": {
        "credential_set": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemRequestCredentialSet",
          "traits": {
            "smithy.api#documentation": "Credential set that was used.",
            "smithy.api#required": {}
          }
        },
        "header_names": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemRequestHeaderNamesList",
          "traits": {
            "smithy.api#documentation": "Names of headers that were sent.",
            "smithy.api#required": {}
          }
        },
        "method": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemRequestMethod",
          "traits": {
            "smithy.api#documentation": "HTTP method.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Exact and full URL (including host, query parameters) that was requested.",
            "smithy.api#required": {}
          }
        },
        "variable_captures": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemRequestVariableCapturesList",
          "traits": {
            "smithy.api#documentation": "Variable captures requested for this step.",
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Request body, if any."
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemResponseBodyNotFoundKind": {
      "type": "enum",
      "members": {
        "NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_found"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemResponseBodyNotFound": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemResponseBodyNotFoundKind",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemResponseBodyBytesKind": {
      "type": "enum",
      "members": {
        "BYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bytes"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemResponseBodyBytes": {
      "type": "structure",
      "members": {
        "contents": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemResponseBodyBytesKind",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "truncated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemResponseBodyTextKind": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemResponseBodyText": {
      "type": "structure",
      "members": {
        "contents": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemResponseBodyTextKind",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "truncated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemResponseBodyJsonKind": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemResponseBodyJson": {
      "type": "structure",
      "members": {
        "contents": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemResponseBodyJsonKind",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "truncated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemResponseBody": {
      "type": "union",
      "members": {
        "NotFound": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemResponseBodyNotFound"
        },
        "Bytes": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemResponseBodyBytes"
        },
        "Text": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemResponseBodyText"
        },
        "Json": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemResponseBodyJson"
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemResponseHeaderNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemResponseBody",
          "traits": {
            "smithy.api#documentation": "HTTP response body.",
            "smithy.api#required": {}
          }
        },
        "header_names": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemResponseHeaderNamesList",
          "traits": {
            "smithy.api#documentation": "Names of headers that were received.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "HTTP status code.",
            "smithy.api#required": {}
          }
        },
        "status_text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP status text, if available for the status code."
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItem": {
      "type": "structure",
      "members": {
        "assertions": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemAssertionsList",
          "traits": {
            "smithy.api#documentation": "Assertions that were made against the received response.",
            "smithy.api#required": {}
          }
        },
        "errors": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemErrorsList",
          "traits": {
            "smithy.api#documentation": "Errors the step encountered that may explain absent or incomplete fields."
          }
        },
        "request": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemRequest",
          "traits": {
            "smithy.api#documentation": "HTTP request that was made, if any."
          }
        },
        "response": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItemResponse",
          "traits": {
            "smithy.api#documentation": "HTTP response that was received, if any."
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsItem"
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemVerdict": {
      "type": "enum",
      "members": {
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warning"
          }
        },
        "INCONCLUSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inconclusive"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemPreflightErrorsItem": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable error description.",
            "smithy.api#required": {}
          }
        },
        "error_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Numeric error code identifying the class of error, if available."
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemPreflightErrorsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemPreflightErrorsItem"
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItem": {
      "type": "structure",
      "members": {
        "steps": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemStepsList",
          "traits": {
            "smithy.api#documentation": "Steps that were executed.",
            "smithy.api#required": {}
          }
        },
        "verdict": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemVerdict",
          "traits": {
            "smithy.api#documentation": "Verdict of this single test.",
            "smithy.api#required": {}
          }
        },
        "preflight_errors": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItemPreflightErrorsList",
          "traits": {
            "smithy.api#documentation": "Errors that prevented step execution."
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsItem"
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReport": {
      "type": "structure",
      "members": {
        "summary": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportSummary",
          "traits": {
            "smithy.api#documentation": "Summary of all steps and findings.",
            "smithy.api#required": {}
          }
        },
        "tests": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportTestsList",
          "traits": {
            "smithy.api#documentation": "List of tests that were run.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportSchemaVersion": {
      "type": "enum",
      "members": {
        "V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v1"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponseReport": {
      "type": "structure",
      "members": {
        "report": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReport",
          "traits": {
            "smithy.api#documentation": "Version 1 of the BOLA vulnerability scan report.",
            "smithy.api#required": {}
          }
        },
        "report_schema_version": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReportReportSchemaVersion",
          "traits": {
            "smithy.api#documentation": "Version of the report schema.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scan identifier.",
            "smithy.api#required": {}
          }
        },
        "scan_type": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseScanType",
          "traits": {
            "smithy.api#documentation": "The type of vulnerability scan.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseStatus",
          "traits": {
            "smithy.api#documentation": "Current lifecycle status of the scan.",
            "smithy.api#required": {}
          }
        },
        "target_environment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The target environment this scan runs against.",
            "smithy.api#required": {}
          }
        },
        "report": {
          "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponseReport",
          "traits": {
            "smithy.api#documentation": "Vulnerability report produced after the scan completes. The shape depends on the scan type. Present only for finished scans."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vulnerability_scanner#ScansCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.vulnerability_scanner#ScansCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/vuln_scanner/scans",
          "code": 200
        },
        "smithy.api#documentation": "Creates and starts a new vulnerability scan. The response may include non-fatal warnings in the `messages` array."
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "scan_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseScanType": {
      "type": "enum",
      "members": {
        "BOLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bola"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseStatus": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scheduled"
          }
        },
        "PLANNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "planning"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "FINISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "finished"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportSummaryVerdict": {
      "type": "enum",
      "members": {
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warning"
          }
        },
        "INCONCLUSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inconclusive"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportSummary": {
      "type": "structure",
      "members": {
        "verdict": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportSummaryVerdict",
          "traits": {
            "smithy.api#documentation": "Overall verdict of the vulnerability scan.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemAssertionsItemKindParameters": {
      "type": "structure",
      "members": {
        "max": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum (inclusive) status code of the range.",
            "smithy.api#required": {}
          }
        },
        "min": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Minimum (inclusive) status code of the range.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemAssertionsItemKindType": {
      "type": "enum",
      "members": {
        "HTTP_STATUS_WITHIN_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_status_within_range"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemAssertionsItemKind": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemAssertionsItemKindParameters",
          "traits": {
            "smithy.api#documentation": "Range of HTTP status codes.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemAssertionsItemKindType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemAssertionsItemOutcome": {
      "type": "enum",
      "members": {
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "FAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fail"
          }
        },
        "INCONCLUSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inconclusive"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemAssertionsItem": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable description of the assertion, explaining what was checked.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemAssertionsItemKind",
          "traits": {
            "smithy.api#documentation": "Kind of assertion.",
            "smithy.api#required": {}
          }
        },
        "observed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Observed value on which the assertion was made.",
            "smithy.api#required": {}
          }
        },
        "outcome": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemAssertionsItemOutcome",
          "traits": {
            "smithy.api#documentation": "Outcome of the assertion.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemAssertionsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemAssertionsItem"
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemErrorsItem": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable error description.",
            "smithy.api#required": {}
          }
        },
        "error_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Numeric error code identifying the class of error, if available."
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemErrorsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemErrorsItem"
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemRequestCredentialSetRole": {
      "type": "enum",
      "members": {
        "OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "owner"
          }
        },
        "ATTACKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attacker"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemRequestCredentialSet": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the credential set.",
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemRequestCredentialSetRole",
          "traits": {
            "smithy.api#documentation": "Role of the credential set.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemRequestHeaderNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemRequestMethod": {
      "type": "enum",
      "members": {
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCH"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemRequestVariableCapturesItem": {
      "type": "structure",
      "members": {
        "json_path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "JSONPath expression used for capture, e.g. `\"$.id\"`.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Variable name, e.g. `\"resource_id\"`.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemRequestVariableCapturesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemRequestVariableCapturesItem"
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemRequest": {
      "type": "structure",
      "members": {
        "credential_set": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemRequestCredentialSet",
          "traits": {
            "smithy.api#documentation": "Credential set that was used.",
            "smithy.api#required": {}
          }
        },
        "header_names": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemRequestHeaderNamesList",
          "traits": {
            "smithy.api#documentation": "Names of headers that were sent.",
            "smithy.api#required": {}
          }
        },
        "method": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemRequestMethod",
          "traits": {
            "smithy.api#documentation": "HTTP method.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Exact and full URL (including host, query parameters) that was requested.",
            "smithy.api#required": {}
          }
        },
        "variable_captures": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemRequestVariableCapturesList",
          "traits": {
            "smithy.api#documentation": "Variable captures requested for this step.",
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Request body, if any."
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemResponseBodyNotFoundKind": {
      "type": "enum",
      "members": {
        "NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_found"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemResponseBodyNotFound": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemResponseBodyNotFoundKind",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemResponseBodyBytesKind": {
      "type": "enum",
      "members": {
        "BYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bytes"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemResponseBodyBytes": {
      "type": "structure",
      "members": {
        "contents": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemResponseBodyBytesKind",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "truncated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemResponseBodyTextKind": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemResponseBodyText": {
      "type": "structure",
      "members": {
        "contents": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemResponseBodyTextKind",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "truncated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemResponseBodyJsonKind": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemResponseBodyJson": {
      "type": "structure",
      "members": {
        "contents": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemResponseBodyJsonKind",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "truncated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemResponseBody": {
      "type": "union",
      "members": {
        "NotFound": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemResponseBodyNotFound"
        },
        "Bytes": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemResponseBodyBytes"
        },
        "Text": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemResponseBodyText"
        },
        "Json": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemResponseBodyJson"
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemResponseHeaderNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemResponseBody",
          "traits": {
            "smithy.api#documentation": "HTTP response body.",
            "smithy.api#required": {}
          }
        },
        "header_names": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemResponseHeaderNamesList",
          "traits": {
            "smithy.api#documentation": "Names of headers that were received.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "HTTP status code.",
            "smithy.api#required": {}
          }
        },
        "status_text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP status text, if available for the status code."
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItem": {
      "type": "structure",
      "members": {
        "assertions": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemAssertionsList",
          "traits": {
            "smithy.api#documentation": "Assertions that were made against the received response.",
            "smithy.api#required": {}
          }
        },
        "errors": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemErrorsList",
          "traits": {
            "smithy.api#documentation": "Errors the step encountered that may explain absent or incomplete fields."
          }
        },
        "request": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemRequest",
          "traits": {
            "smithy.api#documentation": "HTTP request that was made, if any."
          }
        },
        "response": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItemResponse",
          "traits": {
            "smithy.api#documentation": "HTTP response that was received, if any."
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsItem"
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemVerdict": {
      "type": "enum",
      "members": {
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warning"
          }
        },
        "INCONCLUSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inconclusive"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemPreflightErrorsItem": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable error description.",
            "smithy.api#required": {}
          }
        },
        "error_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Numeric error code identifying the class of error, if available."
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemPreflightErrorsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemPreflightErrorsItem"
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItem": {
      "type": "structure",
      "members": {
        "steps": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemStepsList",
          "traits": {
            "smithy.api#documentation": "Steps that were executed.",
            "smithy.api#required": {}
          }
        },
        "verdict": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemVerdict",
          "traits": {
            "smithy.api#documentation": "Verdict of this single test.",
            "smithy.api#required": {}
          }
        },
        "preflight_errors": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItemPreflightErrorsList",
          "traits": {
            "smithy.api#documentation": "Errors that prevented step execution."
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsItem"
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReport": {
      "type": "structure",
      "members": {
        "summary": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportSummary",
          "traits": {
            "smithy.api#documentation": "Summary of all steps and findings.",
            "smithy.api#required": {}
          }
        },
        "tests": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportTestsList",
          "traits": {
            "smithy.api#documentation": "List of tests that were run.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportSchemaVersion": {
      "type": "enum",
      "members": {
        "V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v1"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponseReport": {
      "type": "structure",
      "members": {
        "report": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReport",
          "traits": {
            "smithy.api#documentation": "Version 1 of the BOLA vulnerability scan report.",
            "smithy.api#required": {}
          }
        },
        "report_schema_version": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReportReportSchemaVersion",
          "traits": {
            "smithy.api#documentation": "Version of the report schema.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scan identifier.",
            "smithy.api#required": {}
          }
        },
        "scan_type": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseScanType",
          "traits": {
            "smithy.api#documentation": "The type of vulnerability scan.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseStatus",
          "traits": {
            "smithy.api#documentation": "Current lifecycle status of the scan.",
            "smithy.api#required": {}
          }
        },
        "target_environment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The target environment this scan runs against.",
            "smithy.api#required": {}
          }
        },
        "report": {
          "target": "com.cloudflare.vulnerability_scanner#ScansGetResponseReport",
          "traits": {
            "smithy.api#documentation": "Vulnerability report produced after the scan completes. The shape depends on the scan type. Present only for finished scans."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.vulnerability_scanner#ScansGetRequest"
      },
      "output": {
        "target": "com.cloudflare.vulnerability_scanner#ScansGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/vuln_scanner/scans/{scan_id}",
          "code": 200
        },
        "smithy.api#documentation": "Returns a single scan by ID.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of paginated results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of results per page.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansListResultItemScanType": {
      "type": "enum",
      "members": {
        "BOLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bola"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansListResultItemStatus": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scheduled"
          }
        },
        "PLANNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "planning"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "FINISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "finished"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportSummaryVerdict": {
      "type": "enum",
      "members": {
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warning"
          }
        },
        "INCONCLUSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inconclusive"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportSummary": {
      "type": "structure",
      "members": {
        "verdict": {
          "target": "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportSummaryVerdict",
          "traits": {
            "smithy.api#documentation": "Overall verdict of the vulnerability scan.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportTestsItemStepsItemAssertionsItemKindParameters": {
      "type": "structure",
      "members": {
        "max": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum (inclusive) status code of the range.",
            "smithy.api#required": {}
          }
        },
        "min": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Minimum (inclusive) status code of the range.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportTestsItemStepsItemAssertionsItemKindType": {
      "type": "enum",
      "members": {
        "HTTP_STATUS_WITHIN_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http_status_within_range"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportTestsItemStepsItemAssertionsItemKind": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportTestsItemStepsItemAssertionsItemKindParameters",
          "traits": {
            "smithy.api#documentation": "Range of HTTP status codes.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportTestsItemStepsItemAssertionsItemKindType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportTestsItemStepsItemAssertionsItemOutcome": {
      "type": "enum",
      "members": {
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "FAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fail"
          }
        },
        "INCONCLUSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inconclusive"
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportTestsItemStepsItemAssertionsItem": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable description of the assertion, explaining what was checked.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportTestsItemStepsItemAssertionsItemKind",
          "traits": {
            "smithy.api#documentation": "Kind of assertion.",
            "smithy.api#required": {}
          }
        },
        "observed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Observed value on which the assertion was made.",
            "smithy.api#required": {}
          }
        },
        "outcome": {
          "target": "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportTestsItemStepsItemAssertionsItemOutcome",
          "traits": {
            "smithy.api#documentation": "Outcome of the assertion.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.vulnerability_scanner#ScansListResultItemReportReportTestsItemStepsItemAssertionsList": {
      "type": "list",
      "member": {
[...]
