{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.waiting_rooms#CreateRequestAdditionalRoutesItem": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname to which this waiting room will be applied (no wildcards). The hostname must be the primary domain, subdomain, or custom hostname (if using SSL for SaaS) of this zone. Please do not include the scheme (http:// or https://)."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets the path within the host to enable the waiting room on. The waiting room will be enabled for all subpaths as well. If there are two waiting rooms on the same subpath, the waiting room for the most specific path will be chosen. Wildcards and query parameters are not supported."
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#CreateRequestAdditionalRoutesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.waiting_rooms#CreateRequestAdditionalRoutesItem"
      }
    },
    "com.cloudflare.waiting_rooms#CreateRequestCookieAttributesSamesite": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "LAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lax"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "strict"
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#CreateRequestCookieAttributesSecure": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "always"
          }
        },
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "never"
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#CreateRequestCookieAttributes": {
      "type": "structure",
      "members": {
        "samesite": {
          "target": "com.cloudflare.waiting_rooms#CreateRequestCookieAttributesSamesite",
          "traits": {
            "smithy.api#documentation": "Configures the SameSite attribute on the waiting room cookie. Value `auto` will be translated to `lax` or `none` depending if **Always Use HTTPS** is enabled. Note that when using value `none`, the secure attribute cannot be set to `never`."
          }
        },
        "secure": {
          "target": "com.cloudflare.waiting_rooms#CreateRequestCookieAttributesSecure",
          "traits": {
            "smithy.api#documentation": "Configures the Secure attribute on the waiting room cookie. Value `always` indicates that the Secure attribute will be set in the Set-Cookie header, `never` indicates that the Secure attribute will not be set, and `auto` will set the Secure attribute depending if **Always Use HTTPS** is enabled."
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#CreateRequestDefaultTemplateLanguage": {
      "type": "enum",
      "members": {
        "EN_US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "en-US"
          }
        },
        "ES_ES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "es-ES"
          }
        },
        "DE_DE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "de-DE"
          }
        },
        "FR_FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fr-FR"
          }
        },
        "IT_IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "it-IT"
          }
        },
        "JA_JP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ja-JP"
          }
        },
        "KO_KR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ko-KR"
          }
        },
        "PT_BR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pt-BR"
          }
        },
        "ZH_CN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zh-CN"
          }
        },
        "ZH_TW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zh-TW"
          }
        },
        "NL_NL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nl-NL"
          }
        },
        "PL_PL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pl-PL"
          }
        },
        "ID_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id-ID"
          }
        },
        "TR_TR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tr-TR"
          }
        },
        "AR_EG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ar-EG"
          }
        },
        "RU_RU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ru-RU"
          }
        },
        "FA_IR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fa-IR"
          }
        },
        "BG_BG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bg-BG"
          }
        },
        "HR_HR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hr-HR"
          }
        },
        "CS_CZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cs-CZ"
          }
        },
        "DA_DK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "da-DK"
          }
        },
        "FI_FI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fi-FI"
          }
        },
        "LT_LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lt-LT"
          }
        },
        "MS_MY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ms-MY"
          }
        },
        "NB_NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nb-NO"
          }
        },
        "RO_RO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ro-RO"
          }
        },
        "EL_GR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "el-GR"
          }
        },
        "HE_IL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "he-IL"
          }
        },
        "HI_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hi-IN"
          }
        },
        "HU_HU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hu-HU"
          }
        },
        "SR_BA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sr-BA"
          }
        },
        "SK_SK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sk-SK"
          }
        },
        "SL_SI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sl-SI"
          }
        },
        "SV_SE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sv-SE"
          }
        },
        "TL_PH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tl-PH"
          }
        },
        "TH_TH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "th-TH"
          }
        },
        "UK_UA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uk-UA"
          }
        },
        "VI_VN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vi-VN"
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#CreateRequestEnabledOriginCommandsItem": {
      "type": "enum",
      "members": {
        "REVOKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "revoke"
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#CreateRequestEnabledOriginCommandsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.waiting_rooms#CreateRequestEnabledOriginCommandsItem"
      }
    },
    "com.cloudflare.waiting_rooms#CreateRequestQueueingMethod": {
      "type": "enum",
      "members": {
        "FIFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fifo"
          }
        },
        "RANDOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "random"
          }
        },
        "PASSTHROUGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "passthrough"
          }
        },
        "REJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reject"
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#CreateRequestQueueingStatusCode": {
      "type": "intEnum",
      "members": {
        "_200": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 200
          }
        },
        "_202": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 202
          }
        },
        "_429": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 429
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#CreateRequestTurnstileAction": {
      "type": "enum",
      "members": {
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        },
        "INFINITE_QUEUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "infinite_queue"
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#CreateRequestTurnstileMode": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "INVISIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invisible"
          }
        },
        "VISIBLE_NON_INTERACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "visible_non_interactive"
          }
        },
        "VISIBLE_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "visible_managed"
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#CreateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The host name to which the waiting room will be applied (no wildcards). Please do not include the scheme (http:// or https://). The host and path combination must be unique.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique name to identify the waiting room. Only alphanumeric characters, hyphens and underscores are allowed.",
            "smithy.api#required": {}
          }
        },
        "new_users_per_minute": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Sets the number of new users that will be let into the route every minute. This value is used as baseline for the number of users that are let in per minute. So it is possible that there is a little more or little less traffic coming to the route based on the traffic patterns at that time around the world.",
            "smithy.api#required": {}
          }
        },
        "total_active_users": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Sets the total number of active user sessions on the route at a point in time. A route is a combination of host and path on which a waiting room is available. This value is used as a baseline for the total number of active user sessions on the route. It is possible to have a situation where there are more or less active users sessions on the route based on the traffic patterns at that time around the world.",
            "smithy.api#required": {}
          }
        },
        "additional_routes": {
          "target": "com.cloudflare.waiting_rooms#CreateRequestAdditionalRoutesList",
          "traits": {
            "smithy.api#documentation": "Only available for the Waiting Room Advanced subscription. Additional hostname and path combinations to which this waiting room will be applied. There is an implied wildcard at the end of the path. The hostname and path combination must be unique to this and all other waiting rooms."
          }
        },
        "cookie_attributes": {
          "target": "com.cloudflare.waiting_rooms#CreateRequestCookieAttributes",
          "traits": {
            "smithy.api#documentation": "Configures cookie attributes for the waiting room cookie. This encrypted cookie stores a user's status in the waiting room, such as queue position."
          }
        },
        "cookie_suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Appends a '_' + a custom suffix to the end of Cloudflare Waiting Room's cookie name(__cf_waitingroom). If `cookie_suffix` is \"abcd\", the cookie name will be `__cf_waitingroom_abcd`. This field is required if using `additional_routes`."
          }
        },
        "custom_page_html": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Only available for the Waiting Room Advanced subscription. This is a template html file that will be rendered at the edge. If no custom_page_html is provided, the default waiting room will be used. The template is based on mustache ( https://mustache.github.io/ ). There are several variables that are evaluated by the Cloudflare edge:"
          }
        },
        "default_template_language": {
          "target": "com.cloudflare.waiting_rooms#CreateRequestDefaultTemplateLanguage",
          "traits": {
            "smithy.api#documentation": "The language of the default page template. If no default_template_language is provided, then `en-US` (English) will be used."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A note that you can use to add more details about the waiting room."
          }
        },
        "disable_session_renewal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Only available for the Waiting Room Advanced subscription. Disables automatic renewal of session cookies. If `true`, an accepted user will have session_duration minutes to browse the site. After that, they will have to go through the waiting room again. If `false`, a user's session cookie will be automatically renewed on every request."
          }
        },
        "enabled_origin_commands": {
          "target": "com.cloudflare.waiting_rooms#CreateRequestEnabledOriginCommandsList",
          "traits": {
            "smithy.api#documentation": "A list of enabled origin commands."
          }
        },
        "json_response_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Only available for the Waiting Room Advanced subscription. If `true`, requests to the waiting room with the header `Accept: application/json` will receive a JSON response object with information on the user's status in the waiting room as opposed to the configured static HTML page. This JSON response object has one property `cfWaitingRoom` which is an object containing the following fields:"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets the path within the host to enable the waiting room on. The waiting room will be enabled for all subpaths as well. If there are two waiting rooms on the same subpath, the waiting room for the most specific path will be chosen. Wildcards and query parameters are not supported."
          }
        },
        "queue_all": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If queue_all is `true`, all the traffic that is coming to a route will be sent to the waiting room. No new traffic can get to the route once this field is set and estimated time will become unavailable."
          }
        },
        "queueing_method": {
          "target": "com.cloudflare.waiting_rooms#CreateRequestQueueingMethod",
          "traits": {
            "smithy.api#documentation": "Sets the queueing method used by the waiting room. Changing this parameter from the **default** queueing method is only available for the Waiting Room Advanced subscription. Regardless of the queueing method, if `queue_all` is enabled or an event is prequeueing, users in the waiting room will not be accepted to the origin. These users will always see a waiting room page that refreshes automatically. The valid queueing methods are:"
          }
        },
        "queueing_status_code": {
          "target": "com.cloudflare.waiting_rooms#CreateRequestQueueingStatusCode",
          "traits": {
            "smithy.api#documentation": "HTTP status code returned to a user while in the queue."
          }
        },
        "session_duration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Lifetime of a cookie (in minutes) set by Cloudflare for users who get access to the route. If a user is not seen by Cloudflare again in that time period, they will be treated as a new user that visits the route."
          }
        },
        "suspended": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Suspends or allows traffic going to the waiting room. If set to `true`, the traffic will not go to the waiting room."
          }
        },
        "turnstile_action": {
          "target": "com.cloudflare.waiting_rooms#CreateRequestTurnstileAction",
          "traits": {
            "smithy.api#documentation": "Which action to take when a bot is detected using Turnstile. `log` will"
          }
        },
        "turnstile_mode": {
          "target": "com.cloudflare.waiting_rooms#CreateRequestTurnstileMode",
          "traits": {
            "smithy.api#documentation": "Which Turnstile widget type to use for detecting bot traffic. See"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.waiting_rooms#CreateResponseAdditionalRoutesItem": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname to which this waiting room will be applied (no wildcards). The hostname must be the primary domain, subdomain, or custom hostname (if using SSL for SaaS) of this zone. Please do not include the scheme (http:// or https://)."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets the path within the host to enable the waiting room on. The waiting room will be enabled for all subpaths as well. If there are two waiting rooms on the same subpath, the waiting room for the most specific path will be chosen. Wildcards and query parameters are not supported."
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#CreateResponseAdditionalRoutesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.waiting_rooms#CreateResponseAdditionalRoutesItem"
      }
    },
    "com.cloudflare.waiting_rooms#CreateResponseCookieAttributesSamesite": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "LAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lax"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "strict"
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#CreateResponseCookieAttributesSecure": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "always"
          }
        },
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "never"
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#CreateResponseCookieAttributes": {
      "type": "structure",
      "members": {
        "samesite": {
          "target": "com.cloudflare.waiting_rooms#CreateResponseCookieAttributesSamesite",
          "traits": {
            "smithy.api#documentation": "Configures the SameSite attribute on the waiting room cookie. Value `auto` will be translated to `lax` or `none` depending if **Always Use HTTPS** is enabled. Note that when using value `none`, the secure attribute cannot be set to `never`."
          }
        },
        "secure": {
          "target": "com.cloudflare.waiting_rooms#CreateResponseCookieAttributesSecure",
          "traits": {
            "smithy.api#documentation": "Configures the Secure attribute on the waiting room cookie. Value `always` indicates that the Secure attribute will be set in the Set-Cookie header, `never` indicates that the Secure attribute will not be set, and `auto` will set the Secure attribute depending if **Always Use HTTPS** is enabled."
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#CreateResponseDefaultTemplateLanguage": {
      "type": "enum",
      "members": {
        "EN_US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "en-US"
          }
        },
        "ES_ES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "es-ES"
          }
        },
        "DE_DE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "de-DE"
          }
        },
        "FR_FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fr-FR"
          }
        },
        "IT_IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "it-IT"
          }
        },
        "JA_JP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ja-JP"
          }
        },
        "KO_KR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ko-KR"
          }
        },
        "PT_BR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pt-BR"
          }
        },
        "ZH_CN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zh-CN"
          }
        },
        "ZH_TW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zh-TW"
          }
        },
        "NL_NL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nl-NL"
          }
        },
        "PL_PL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pl-PL"
          }
        },
        "ID_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id-ID"
          }
        },
        "TR_TR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tr-TR"
          }
        },
        "AR_EG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ar-EG"
          }
        },
        "RU_RU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ru-RU"
          }
        },
        "FA_IR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fa-IR"
          }
        },
        "BG_BG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bg-BG"
          }
        },
        "HR_HR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hr-HR"
          }
        },
        "CS_CZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cs-CZ"
          }
        },
        "DA_DK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "da-DK"
          }
        },
        "FI_FI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fi-FI"
          }
        },
        "LT_LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lt-LT"
          }
        },
        "MS_MY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ms-MY"
          }
        },
        "NB_NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nb-NO"
          }
        },
        "RO_RO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ro-RO"
          }
        },
        "EL_GR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "el-GR"
          }
        },
        "HE_IL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "he-IL"
          }
        },
        "HI_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hi-IN"
          }
        },
        "HU_HU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hu-HU"
          }
        },
        "SR_BA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sr-BA"
          }
        },
        "SK_SK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sk-SK"
          }
        },
        "SL_SI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sl-SI"
          }
        },
        "SV_SE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sv-SE"
          }
        },
        "TL_PH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tl-PH"
          }
        },
        "TH_TH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "th-TH"
          }
        },
        "UK_UA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uk-UA"
          }
        },
        "VI_VN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vi-VN"
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#CreateResponseEnabledOriginCommandsItem": {
      "type": "enum",
      "members": {
        "REVOKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "revoke"
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#CreateResponseEnabledOriginCommandsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.waiting_rooms#CreateResponseEnabledOriginCommandsItem"
      }
    },
    "com.cloudflare.waiting_rooms#CreateResponseQueueingMethod": {
      "type": "enum",
      "members": {
        "FIFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fifo"
          }
        },
        "RANDOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "random"
          }
        },
        "PASSTHROUGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "passthrough"
          }
        },
        "REJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reject"
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#CreateResponseQueueingStatusCode": {
      "type": "intEnum",
      "members": {
        "_200": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 200
          }
        },
        "_202": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 202
          }
        },
        "_429": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 429
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#CreateResponseTurnstileAction": {
      "type": "enum",
      "members": {
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        },
        "INFINITE_QUEUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "infinite_queue"
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#CreateResponseTurnstileMode": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "INVISIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invisible"
          }
        },
        "VISIBLE_NON_INTERACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "visible_non_interactive"
          }
        },
        "VISIBLE_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "visible_managed"
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#CreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "additional_routes": {
          "target": "com.cloudflare.waiting_rooms#CreateResponseAdditionalRoutesList",
          "traits": {
            "smithy.api#documentation": "Only available for the Waiting Room Advanced subscription. Additional hostname and path combinations to which this waiting room will be applied. There is an implied wildcard at the end of the path. The hostname and path combination must be unique to this and all other waiting rooms."
          }
        },
        "cookie_attributes": {
          "target": "com.cloudflare.waiting_rooms#CreateResponseCookieAttributes",
          "traits": {
            "smithy.api#documentation": "Configures cookie attributes for the waiting room cookie. This encrypted cookie stores a user's status in the waiting room, such as queue position."
          }
        },
        "cookie_suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Appends a '_' + a custom suffix to the end of Cloudflare Waiting Room's cookie name(__cf_waitingroom). If `cookie_suffix` is \"abcd\", the cookie name will be `__cf_waitingroom_abcd`. This field is required if using `additional_routes`."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "custom_page_html": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Only available for the Waiting Room Advanced subscription. This is a template html file that will be rendered at the edge. If no custom_page_html is provided, the default waiting room will be used. The template is based on mustache ( https://mustache.github.io/ ). There are several variables that are evaluated by the Cloudflare edge:"
          }
        },
        "default_template_language": {
          "target": "com.cloudflare.waiting_rooms#CreateResponseDefaultTemplateLanguage",
          "traits": {
            "smithy.api#documentation": "The language of the default page template. If no default_template_language is provided, then `en-US` (English) will be used."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A note that you can use to add more details about the waiting room."
          }
        },
        "disable_session_renewal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Only available for the Waiting Room Advanced subscription. Disables automatic renewal of session cookies. If `true`, an accepted user will have session_duration minutes to browse the site. After that, they will have to go through the waiting room again. If `false`, a user's session cookie will be automatically renewed on every request."
          }
        },
        "enabled_origin_commands": {
          "target": "com.cloudflare.waiting_rooms#CreateResponseEnabledOriginCommandsList",
          "traits": {
            "smithy.api#documentation": "A list of enabled origin commands."
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The host name to which the waiting room will be applied (no wildcards). Please do not include the scheme (http:// or https://). The host and path combination must be unique."
          }
        },
        "json_response_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Only available for the Waiting Room Advanced subscription. If `true`, requests to the waiting room with the header `Accept: application/json` will receive a JSON response object with information on the user's status in the waiting room as opposed to the configured static HTML page. This JSON response object has one property `cfWaitingRoom` which is an object containing the following fields:"
          }
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique name to identify the waiting room. Only alphanumeric characters, hyphens and underscores are allowed."
          }
        },
        "new_users_per_minute": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Sets the number of new users that will be let into the route every minute. This value is used as baseline for the number of users that are let in per minute. So it is possible that there is a little more or little less traffic coming to the route based on the traffic patterns at that time around the world."
          }
        },
        "next_event_prequeue_start_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ISO 8601 timestamp that marks when the next event will begin queueing."
          }
        },
        "next_event_start_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ISO 8601 timestamp that marks when the next event will start."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets the path within the host to enable the waiting room on. The waiting room will be enabled for all subpaths as well. If there are two waiting rooms on the same subpath, the waiting room for the most specific path will be chosen. Wildcards and query parameters are not supported."
          }
        },
        "queue_all": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If queue_all is `true`, all the traffic that is coming to a route will be sent to the waiting room. No new traffic can get to the route once this field is set and estimated time will become unavailable."
          }
        },
        "queueing_method": {
          "target": "com.cloudflare.waiting_rooms#CreateResponseQueueingMethod",
          "traits": {
            "smithy.api#documentation": "Sets the queueing method used by the waiting room. Changing this parameter from the **default** queueing method is only available for the Waiting Room Advanced subscription. Regardless of the queueing method, if `queue_all` is enabled or an event is prequeueing, users in the waiting room will not be accepted to the origin. These users will always see a waiting room page that refreshes automatically. The valid queueing methods are:"
          }
        },
        "queueing_status_code": {
          "target": "com.cloudflare.waiting_rooms#CreateResponseQueueingStatusCode",
          "traits": {
            "smithy.api#documentation": "HTTP status code returned to a user while in the queue."
          }
        },
        "session_duration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Lifetime of a cookie (in minutes) set by Cloudflare for users who get access to the route. If a user is not seen by Cloudflare again in that time period, they will be treated as a new user that visits the route."
          }
        },
        "suspended": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Suspends or allows traffic going to the waiting room. If set to `true`, the traffic will not go to the waiting room."
          }
        },
        "total_active_users": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Sets the total number of active user sessions on the route at a point in time. A route is a combination of host and path on which a waiting room is available. This value is used as a baseline for the total number of active user sessions on the route. It is possible to have a situation where there are more or less active users sessions on the route based on the traffic patterns at that time around the world."
          }
        },
        "turnstile_action": {
          "target": "com.cloudflare.waiting_rooms#CreateResponseTurnstileAction",
          "traits": {
            "smithy.api#documentation": "Which action to take when a bot is detected using Turnstile. `log` will"
          }
        },
        "turnstile_mode": {
          "target": "com.cloudflare.waiting_rooms#CreateResponseTurnstileMode",
          "traits": {
            "smithy.api#documentation": "Which Turnstile widget type to use for detecting bot traffic. See"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.waiting_rooms#Create": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.waiting_rooms#CreateRequest"
      },
      "output": {
        "target": "com.cloudflare.waiting_rooms#CreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/waiting_rooms",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new waiting room."
      }
    },
    "com.cloudflare.waiting_rooms#DeleteRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "waiting_room_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.waiting_rooms#DeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.waiting_rooms#Delete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.waiting_rooms#DeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.waiting_rooms#DeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/waiting_rooms/{waiting_room_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes a waiting room.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.waiting_rooms#EditRequestAdditionalRoutesItem": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname to which this waiting room will be applied (no wildcards). The hostname must be the primary domain, subdomain, or custom hostname (if using SSL for SaaS) of this zone. Please do not include the scheme (http:// or https://)."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets the path within the host to enable the waiting room on. The waiting room will be enabled for all subpaths as well. If there are two waiting rooms on the same subpath, the waiting room for the most specific path will be chosen. Wildcards and query parameters are not supported."
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#EditRequestAdditionalRoutesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.waiting_rooms#EditRequestAdditionalRoutesItem"
      }
    },
    "com.cloudflare.waiting_rooms#EditRequestCookieAttributesSamesite": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "LAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lax"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "strict"
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#EditRequestCookieAttributesSecure": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "always"
          }
        },
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "never"
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#EditRequestCookieAttributes": {
      "type": "structure",
      "members": {
        "samesite": {
          "target": "com.cloudflare.waiting_rooms#EditRequestCookieAttributesSamesite",
          "traits": {
            "smithy.api#documentation": "Configures the SameSite attribute on the waiting room cookie. Value `auto` will be translated to `lax` or `none` depending if **Always Use HTTPS** is enabled. Note that when using value `none`, the secure attribute cannot be set to `never`."
          }
        },
        "secure": {
          "target": "com.cloudflare.waiting_rooms#EditRequestCookieAttributesSecure",
          "traits": {
            "smithy.api#documentation": "Configures the Secure attribute on the waiting room cookie. Value `always` indicates that the Secure attribute will be set in the Set-Cookie header, `never` indicates that the Secure attribute will not be set, and `auto` will set the Secure attribute depending if **Always Use HTTPS** is enabled."
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#EditRequestDefaultTemplateLanguage": {
      "type": "enum",
      "members": {
        "EN_US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "en-US"
          }
        },
        "ES_ES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "es-ES"
          }
        },
        "DE_DE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "de-DE"
          }
        },
        "FR_FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fr-FR"
          }
        },
        "IT_IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "it-IT"
          }
        },
        "JA_JP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ja-JP"
          }
        },
        "KO_KR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ko-KR"
          }
        },
        "PT_BR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pt-BR"
          }
        },
        "ZH_CN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zh-CN"
          }
        },
        "ZH_TW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zh-TW"
          }
        },
        "NL_NL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nl-NL"
          }
        },
        "PL_PL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pl-PL"
          }
        },
        "ID_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id-ID"
          }
        },
        "TR_TR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tr-TR"
          }
        },
        "AR_EG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ar-EG"
          }
        },
        "RU_RU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ru-RU"
          }
        },
        "FA_IR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fa-IR"
          }
        },
        "BG_BG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bg-BG"
          }
        },
        "HR_HR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hr-HR"
          }
        },
        "CS_CZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cs-CZ"
          }
        },
        "DA_DK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "da-DK"
          }
        },
        "FI_FI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fi-FI"
          }
        },
        "LT_LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lt-LT"
          }
        },
        "MS_MY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ms-MY"
          }
        },
        "NB_NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nb-NO"
          }
        },
        "RO_RO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ro-RO"
          }
        },
        "EL_GR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "el-GR"
          }
        },
        "HE_IL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "he-IL"
          }
        },
        "HI_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hi-IN"
          }
        },
        "HU_HU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hu-HU"
          }
        },
        "SR_BA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sr-BA"
          }
        },
        "SK_SK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sk-SK"
          }
        },
        "SL_SI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sl-SI"
          }
        },
        "SV_SE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sv-SE"
          }
        },
        "TL_PH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tl-PH"
          }
        },
        "TH_TH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "th-TH"
          }
        },
        "UK_UA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uk-UA"
          }
        },
        "VI_VN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vi-VN"
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#EditRequestEnabledOriginCommandsItem": {
      "type": "enum",
      "members": {
        "REVOKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "revoke"
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#EditRequestEnabledOriginCommandsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.waiting_rooms#EditRequestEnabledOriginCommandsItem"
      }
    },
    "com.cloudflare.waiting_rooms#EditRequestQueueingMethod": {
      "type": "enum",
      "members": {
        "FIFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fifo"
          }
        },
        "RANDOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "random"
          }
        },
        "PASSTHROUGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "passthrough"
          }
        },
        "REJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reject"
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#EditRequestQueueingStatusCode": {
      "type": "intEnum",
      "members": {
        "_200": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 200
          }
        },
        "_202": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 202
          }
        },
        "_429": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 429
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#EditRequestTurnstileAction": {
      "type": "enum",
      "members": {
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        },
        "INFINITE_QUEUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "infinite_queue"
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#EditRequestTurnstileMode": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "INVISIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invisible"
          }
        },
        "VISIBLE_NON_INTERACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "visible_non_interactive"
          }
        },
        "VISIBLE_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "visible_managed"
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#EditRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "waiting_room_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The host name to which the waiting room will be applied (no wildcards). Please do not include the scheme (http:// or https://). The host and path combination must be unique.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique name to identify the waiting room. Only alphanumeric characters, hyphens and underscores are allowed.",
            "smithy.api#required": {}
          }
        },
        "new_users_per_minute": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Sets the number of new users that will be let into the route every minute. This value is used as baseline for the number of users that are let in per minute. So it is possible that there is a little more or little less traffic coming to the route based on the traffic patterns at that time around the world.",
            "smithy.api#required": {}
          }
        },
        "total_active_users": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Sets the total number of active user sessions on the route at a point in time. A route is a combination of host and path on which a waiting room is available. This value is used as a baseline for the total number of active user sessions on the route. It is possible to have a situation where there are more or less active users sessions on the route based on the traffic patterns at that time around the world.",
            "smithy.api#required": {}
          }
        },
        "additional_routes": {
          "target": "com.cloudflare.waiting_rooms#EditRequestAdditionalRoutesList",
          "traits": {
            "smithy.api#documentation": "Only available for the Waiting Room Advanced subscription. Additional hostname and path combinations to which this waiting room will be applied. There is an implied wildcard at the end of the path. The hostname and path combination must be unique to this and all other waiting rooms."
          }
        },
        "cookie_attributes": {
          "target": "com.cloudflare.waiting_rooms#EditRequestCookieAttributes",
          "traits": {
            "smithy.api#documentation": "Configures cookie attributes for the waiting room cookie. This encrypted cookie stores a user's status in the waiting room, such as queue position."
          }
        },
        "cookie_suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Appends a '_' + a custom suffix to the end of Cloudflare Waiting Room's cookie name(__cf_waitingroom). If `cookie_suffix` is \"abcd\", the cookie name will be `__cf_waitingroom_abcd`. This field is required if using `additional_routes`."
          }
        },
        "custom_page_html": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Only available for the Waiting Room Advanced subscription. This is a template html file that will be rendered at the edge. If no custom_page_html is provided, the default waiting room will be used. The template is based on mustache ( https://mustache.github.io/ ). There are several variables that are evaluated by the Cloudflare edge:"
          }
        },
        "default_template_language": {
          "target": "com.cloudflare.waiting_rooms#EditRequestDefaultTemplateLanguage",
          "traits": {
            "smithy.api#documentation": "The language of the default page template. If no default_template_language is provided, then `en-US` (English) will be used."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A note that you can use to add more details about the waiting room."
          }
        },
        "disable_session_renewal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Only available for the Waiting Room Advanced subscription. Disables automatic renewal of session cookies. If `true`, an accepted user will have session_duration minutes to browse the site. After that, they will have to go through the waiting room again. If `false`, a user's session cookie will be automatically renewed on every request."
          }
        },
        "enabled_origin_commands": {
          "target": "com.cloudflare.waiting_rooms#EditRequestEnabledOriginCommandsList",
          "traits": {
            "smithy.api#documentation": "A list of enabled origin commands."
          }
        },
        "json_response_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Only available for the Waiting Room Advanced subscription. If `true`, requests to the waiting room with the header `Accept: application/json` will receive a JSON response object with information on the user's status in the waiting room as opposed to the configured static HTML page. This JSON response object has one property `cfWaitingRoom` which is an object containing the following fields:"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets the path within the host to enable the waiting room on. The waiting room will be enabled for all subpaths as well. If there are two waiting rooms on the same subpath, the waiting room for the most specific path will be chosen. Wildcards and query parameters are not supported."
          }
        },
        "queue_all": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If queue_all is `true`, all the traffic that is coming to a route will be sent to the waiting room. No new traffic can get to the route once this field is set and estimated time will become unavailable."
          }
        },
        "queueing_method": {
          "target": "com.cloudflare.waiting_rooms#EditRequestQueueingMethod",
          "traits": {
            "smithy.api#documentation": "Sets the queueing method used by the waiting room. Changing this parameter from the **default** queueing method is only available for the Waiting Room Advanced subscription. Regardless of the queueing method, if `queue_all` is enabled or an event is prequeueing, users in the waiting room will not be accepted to the origin. These users will always see a waiting room page that refreshes automatically. The valid queueing methods are:"
          }
        },
        "queueing_status_code": {
          "target": "com.cloudflare.waiting_rooms#EditRequestQueueingStatusCode",
          "traits": {
            "smithy.api#documentation": "HTTP status code returned to a user while in the queue."
          }
        },
        "session_duration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Lifetime of a cookie (in minutes) set by Cloudflare for users who get access to the route. If a user is not seen by Cloudflare again in that time period, they will be treated as a new user that visits the route."
          }
        },
        "suspended": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Suspends or allows traffic going to the waiting room. If set to `true`, the traffic will not go to the waiting room."
          }
        },
        "turnstile_action": {
          "target": "com.cloudflare.waiting_rooms#EditRequestTurnstileAction",
          "traits": {
            "smithy.api#documentation": "Which action to take when a bot is detected using Turnstile. `log` will"
          }
        },
        "turnstile_mode": {
          "target": "com.cloudflare.waiting_rooms#EditRequestTurnstileMode",
          "traits": {
            "smithy.api#documentation": "Which Turnstile widget type to use for detecting bot traffic. See"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.waiting_rooms#EditResponseAdditionalRoutesItem": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname to which this waiting room will be applied (no wildcards). The hostname must be the primary domain, subdomain, or custom hostname (if using SSL for SaaS) of this zone. Please do not include the scheme (http:// or https://)."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets the path within the host to enable the waiting room on. The waiting room will be enabled for all subpaths as well. If there are two waiting rooms on the same subpath, the waiting room for the most specific path will be chosen. Wildcards and query parameters are not supported."
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#EditResponseAdditionalRoutesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.waiting_rooms#EditResponseAdditionalRoutesItem"
      }
    },
    "com.cloudflare.waiting_rooms#EditResponseCookieAttributesSamesite": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "LAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lax"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "strict"
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#EditResponseCookieAttributesSecure": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "always"
          }
        },
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "never"
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#EditResponseCookieAttributes": {
      "type": "structure",
      "members": {
        "samesite": {
          "target": "com.cloudflare.waiting_rooms#EditResponseCookieAttributesSamesite",
          "traits": {
            "smithy.api#documentation": "Configures the SameSite attribute on the waiting room cookie. Value `auto` will be translated to `lax` or `none` depending if **Always Use HTTPS** is enabled. Note that when using value `none`, the secure attribute cannot be set to `never`."
          }
        },
        "secure": {
          "target": "com.cloudflare.waiting_rooms#EditResponseCookieAttributesSecure",
          "traits": {
            "smithy.api#documentation": "Configures the Secure attribute on the waiting room cookie. Value `always` indicates that the Secure attribute will be set in the Set-Cookie header, `never` indicates that the Secure attribute will not be set, and `auto` will set the Secure attribute depending if **Always Use HTTPS** is enabled."
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#EditResponseDefaultTemplateLanguage": {
      "type": "enum",
      "members": {
        "EN_US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "en-US"
          }
        },
        "ES_ES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "es-ES"
          }
        },
        "DE_DE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "de-DE"
          }
        },
        "FR_FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fr-FR"
          }
        },
        "IT_IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "it-IT"
          }
        },
        "JA_JP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ja-JP"
          }
        },
        "KO_KR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ko-KR"
          }
        },
        "PT_BR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pt-BR"
          }
        },
        "ZH_CN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zh-CN"
          }
        },
        "ZH_TW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zh-TW"
          }
        },
        "NL_NL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nl-NL"
          }
        },
        "PL_PL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pl-PL"
          }
        },
        "ID_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id-ID"
          }
        },
        "TR_TR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tr-TR"
          }
        },
        "AR_EG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ar-EG"
          }
        },
        "RU_RU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ru-RU"
          }
        },
        "FA_IR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fa-IR"
          }
        },
        "BG_BG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bg-BG"
          }
        },
        "HR_HR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hr-HR"
          }
        },
        "CS_CZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cs-CZ"
          }
        },
        "DA_DK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "da-DK"
          }
        },
        "FI_FI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fi-FI"
          }
        },
        "LT_LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lt-LT"
          }
        },
        "MS_MY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ms-MY"
          }
        },
        "NB_NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nb-NO"
          }
        },
        "RO_RO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ro-RO"
          }
        },
        "EL_GR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "el-GR"
          }
        },
        "HE_IL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "he-IL"
          }
        },
        "HI_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hi-IN"
          }
        },
        "HU_HU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hu-HU"
          }
        },
        "SR_BA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sr-BA"
          }
        },
        "SK_SK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sk-SK"
          }
        },
        "SL_SI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sl-SI"
          }
        },
        "SV_SE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sv-SE"
          }
        },
        "TL_PH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tl-PH"
          }
        },
        "TH_TH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "th-TH"
          }
        },
        "UK_UA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uk-UA"
          }
        },
        "VI_VN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vi-VN"
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#EditResponseEnabledOriginCommandsItem": {
      "type": "enum",
      "members": {
        "REVOKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "revoke"
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#EditResponseEnabledOriginCommandsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.waiting_rooms#EditResponseEnabledOriginCommandsItem"
      }
    },
    "com.cloudflare.waiting_rooms#EditResponseQueueingMethod": {
      "type": "enum",
      "members": {
        "FIFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fifo"
          }
        },
        "RANDOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "random"
          }
        },
        "PASSTHROUGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "passthrough"
          }
        },
        "REJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reject"
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#EditResponseQueueingStatusCode": {
      "type": "intEnum",
      "members": {
        "_200": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 200
          }
        },
        "_202": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 202
          }
        },
        "_429": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 429
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#EditResponseTurnstileAction": {
      "type": "enum",
      "members": {
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        },
        "INFINITE_QUEUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "infinite_queue"
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#EditResponseTurnstileMode": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "INVISIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invisible"
          }
        },
        "VISIBLE_NON_INTERACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "visible_non_interactive"
          }
        },
        "VISIBLE_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "visible_managed"
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#EditResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "additional_routes": {
          "target": "com.cloudflare.waiting_rooms#EditResponseAdditionalRoutesList",
          "traits": {
            "smithy.api#documentation": "Only available for the Waiting Room Advanced subscription. Additional hostname and path combinations to which this waiting room will be applied. There is an implied wildcard at the end of the path. The hostname and path combination must be unique to this and all other waiting rooms."
          }
        },
        "cookie_attributes": {
          "target": "com.cloudflare.waiting_rooms#EditResponseCookieAttributes",
          "traits": {
            "smithy.api#documentation": "Configures cookie attributes for the waiting room cookie. This encrypted cookie stores a user's status in the waiting room, such as queue position."
          }
        },
        "cookie_suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Appends a '_' + a custom suffix to the end of Cloudflare Waiting Room's cookie name(__cf_waitingroom). If `cookie_suffix` is \"abcd\", the cookie name will be `__cf_waitingroom_abcd`. This field is required if using `additional_routes`."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "custom_page_html": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Only available for the Waiting Room Advanced subscription. This is a template html file that will be rendered at the edge. If no custom_page_html is provided, the default waiting room will be used. The template is based on mustache ( https://mustache.github.io/ ). There are several variables that are evaluated by the Cloudflare edge:"
          }
        },
        "default_template_language": {
          "target": "com.cloudflare.waiting_rooms#EditResponseDefaultTemplateLanguage",
          "traits": {
            "smithy.api#documentation": "The language of the default page template. If no default_template_language is provided, then `en-US` (English) will be used."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A note that you can use to add more details about the waiting room."
          }
        },
        "disable_session_renewal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Only available for the Waiting Room Advanced subscription. Disables automatic renewal of session cookies. If `true`, an accepted user will have session_duration minutes to browse the site. After that, they will have to go through the waiting room again. If `false`, a user's session cookie will be automatically renewed on every request."
          }
        },
        "enabled_origin_commands": {
          "target": "com.cloudflare.waiting_rooms#EditResponseEnabledOriginCommandsList",
          "traits": {
            "smithy.api#documentation": "A list of enabled origin commands."
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The host name to which the waiting room will be applied (no wildcards). Please do not include the scheme (http:// or https://). The host and path combination must be unique."
          }
        },
        "json_response_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Only available for the Waiting Room Advanced subscription. If `true`, requests to the waiting room with the header `Accept: application/json` will receive a JSON response object with information on the user's status in the waiting room as opposed to the configured static HTML page. This JSON response object has one property `cfWaitingRoom` which is an object containing the following fields:"
          }
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique name to identify the waiting room. Only alphanumeric characters, hyphens and underscores are allowed."
          }
        },
        "new_users_per_minute": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Sets the number of new users that will be let into the route every minute. This value is used as baseline for the number of users that are let in per minute. So it is possible that there is a little more or little less traffic coming to the route based on the traffic patterns at that time around the world."
          }
        },
        "next_event_prequeue_start_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ISO 8601 timestamp that marks when the next event will begin queueing."
          }
        },
        "next_event_start_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ISO 8601 timestamp that marks when the next event will start."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets the path within the host to enable the waiting room on. The waiting room will be enabled for all subpaths as well. If there are two waiting rooms on the same subpath, the waiting room for the most specific path will be chosen. Wildcards and query parameters are not supported."
          }
        },
        "queue_all": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If queue_all is `true`, all the traffic that is coming to a route will be sent to the waiting room. No new traffic can get to the route once this field is set and estimated time will become unavailable."
          }
        },
        "queueing_method": {
          "target": "com.cloudflare.waiting_rooms#EditResponseQueueingMethod",
          "traits": {
            "smithy.api#documentation": "Sets the queueing method used by the waiting room. Changing this parameter from the **default** queueing method is only available for the Waiting Room Advanced subscription. Regardless of the queueing method, if `queue_all` is enabled or an event is prequeueing, users in the waiting room will not be accepted to the origin. These users will always see a waiting room page that refreshes automatically. The valid queueing methods are:"
          }
        },
        "queueing_status_code": {
          "target": "com.cloudflare.waiting_rooms#EditResponseQueueingStatusCode",
          "traits": {
            "smithy.api#documentation": "HTTP status code returned to a user while in the queue."
          }
        },
        "session_duration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Lifetime of a cookie (in minutes) set by Cloudflare for users who get access to the route. If a user is not seen by Cloudflare again in that time period, they will be treated as a new user that visits the route."
          }
        },
        "suspended": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Suspends or allows traffic going to the waiting room. If set to `true`, the traffic will not go to the waiting room."
          }
        },
        "total_active_users": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Sets the total number of active user sessions on the route at a point in time. A route is a combination of host and path on which a waiting room is available. This value is used as a baseline for the total number of active user sessions on the route. It is possible to have a situation where there are more or less active users sessions on the route based on the traffic patterns at that time around the world."
          }
        },
        "turnstile_action": {
          "target": "com.cloudflare.waiting_rooms#EditResponseTurnstileAction",
          "traits": {
            "smithy.api#documentation": "Which action to take when a bot is detected using Turnstile. `log` will"
          }
        },
        "turnstile_mode": {
          "target": "com.cloudflare.waiting_rooms#EditResponseTurnstileMode",
          "traits": {
            "smithy.api#documentation": "Which Turnstile widget type to use for detecting bot traffic. See"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.waiting_rooms#Edit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.waiting_rooms#EditRequest"
      },
      "output": {
        "target": "com.cloudflare.waiting_rooms#EditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/zones/{zone_id}/waiting_rooms/{waiting_room_id}",
          "code": 200
        },
        "smithy.api#documentation": "Patches a configured waiting room."
      }
    },
    "com.cloudflare.waiting_rooms#GetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "waiting_room_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.waiting_rooms#GetResponseAdditionalRoutesItem": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname to which this waiting room will be applied (no wildcards). The hostname must be the primary domain, subdomain, or custom hostname (if using SSL for SaaS) of this zone. Please do not include the scheme (http:// or https://)."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets the path within the host to enable the waiting room on. The waiting room will be enabled for all subpaths as well. If there are two waiting rooms on the same subpath, the waiting room for the most specific path will be chosen. Wildcards and query parameters are not supported."
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#GetResponseAdditionalRoutesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.waiting_rooms#GetResponseAdditionalRoutesItem"
      }
    },
    "com.cloudflare.waiting_rooms#GetResponseCookieAttributesSamesite": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "LAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lax"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "strict"
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#GetResponseCookieAttributesSecure": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "always"
          }
        },
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "never"
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#GetResponseCookieAttributes": {
      "type": "structure",
      "members": {
        "samesite": {
          "target": "com.cloudflare.waiting_rooms#GetResponseCookieAttributesSamesite",
          "traits": {
            "smithy.api#documentation": "Configures the SameSite attribute on the waiting room cookie. Value `auto` will be translated to `lax` or `none` depending if **Always Use HTTPS** is enabled. Note that when using value `none`, the secure attribute cannot be set to `never`."
          }
        },
        "secure": {
          "target": "com.cloudflare.waiting_rooms#GetResponseCookieAttributesSecure",
          "traits": {
            "smithy.api#documentation": "Configures the Secure attribute on the waiting room cookie. Value `always` indicates that the Secure attribute will be set in the Set-Cookie header, `never` indicates that the Secure attribute will not be set, and `auto` will set the Secure attribute depending if **Always Use HTTPS** is enabled."
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#GetResponseDefaultTemplateLanguage": {
      "type": "enum",
      "members": {
        "EN_US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "en-US"
          }
        },
        "ES_ES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "es-ES"
          }
        },
        "DE_DE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "de-DE"
          }
        },
        "FR_FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fr-FR"
          }
        },
        "IT_IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "it-IT"
          }
        },
        "JA_JP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ja-JP"
          }
        },
        "KO_KR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ko-KR"
          }
        },
        "PT_BR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pt-BR"
          }
        },
        "ZH_CN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zh-CN"
          }
        },
        "ZH_TW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zh-TW"
          }
        },
        "NL_NL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nl-NL"
          }
        },
        "PL_PL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pl-PL"
          }
        },
        "ID_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id-ID"
          }
        },
        "TR_TR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tr-TR"
          }
        },
        "AR_EG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ar-EG"
          }
        },
        "RU_RU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ru-RU"
          }
        },
        "FA_IR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fa-IR"
          }
        },
        "BG_BG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bg-BG"
          }
        },
        "HR_HR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hr-HR"
          }
        },
        "CS_CZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cs-CZ"
          }
        },
        "DA_DK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "da-DK"
          }
        },
        "FI_FI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fi-FI"
          }
        },
        "LT_LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lt-LT"
          }
        },
        "MS_MY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ms-MY"
          }
        },
        "NB_NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nb-NO"
          }
        },
        "RO_RO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ro-RO"
          }
        },
        "EL_GR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "el-GR"
          }
        },
        "HE_IL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "he-IL"
          }
        },
        "HI_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hi-IN"
          }
        },
        "HU_HU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hu-HU"
          }
        },
        "SR_BA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sr-BA"
          }
        },
        "SK_SK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sk-SK"
          }
        },
        "SL_SI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sl-SI"
          }
        },
        "SV_SE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sv-SE"
          }
        },
        "TL_PH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tl-PH"
          }
        },
        "TH_TH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "th-TH"
          }
        },
        "UK_UA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uk-UA"
          }
        },
        "VI_VN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vi-VN"
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#GetResponseEnabledOriginCommandsItem": {
      "type": "enum",
      "members": {
        "REVOKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "revoke"
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#GetResponseEnabledOriginCommandsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.waiting_rooms#GetResponseEnabledOriginCommandsItem"
      }
    },
    "com.cloudflare.waiting_rooms#GetResponseQueueingMethod": {
      "type": "enum",
      "members": {
        "FIFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fifo"
          }
        },
        "RANDOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "random"
          }
        },
        "PASSTHROUGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "passthrough"
          }
        },
        "REJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reject"
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#GetResponseQueueingStatusCode": {
      "type": "intEnum",
      "members": {
        "_200": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 200
          }
        },
        "_202": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 202
          }
        },
        "_429": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 429
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#GetResponseTurnstileAction": {
      "type": "enum",
      "members": {
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        },
        "INFINITE_QUEUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "infinite_queue"
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#GetResponseTurnstileMode": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "INVISIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invisible"
          }
        },
        "VISIBLE_NON_INTERACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "visible_non_interactive"
          }
        },
        "VISIBLE_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "visible_managed"
          }
        }
      }
    },
    "com.cloudflare.waiting_rooms#GetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "additional_routes": {
[...]
