{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.cloudflare.workers_builds#GetAccountLimitsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_builds#GetAccountLimitsResponse": {
      "type": "structure",
      "members": {
        "build_minutes_refresh_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When build minutes will refresh (only for non-paid plans)"
          }
        },
        "has_reached_build_minutes_limit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether build minutes limit has been reached (only for non-paid plans)"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers_builds#GetAccountLimits": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_builds#GetAccountLimitsRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_builds#GetAccountLimitsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/builds/account/limits",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve account limits and usage information",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers_builds#GetBuildsByVersionRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "version_ids": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma-separated list of version UUIDs (max 20).",
            "smithy.api#httpQuery": "version_ids",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_builds#GetBuildsByVersionResponseBuildsValueBuildOutcome": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "FAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fail"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skipped"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        },
        "TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "terminated"
          }
        }
      }
    },
    "com.cloudflare.workers_builds#GetBuildsByVersionResponseBuildsValueBuildTriggerMetadataBuildTriggerSource": {
      "type": "enum",
      "members": {
        "PUSH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "push"
          }
        },
        "PULL_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pull_request"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        },
        "API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api"
          }
        }
      }
    },
    "com.cloudflare.workers_builds#GetBuildsByVersionResponseBuildsValueBuildTriggerMetadataEnvironmentVariablesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_builds#GetBuildsByVersionResponseBuildsValueBuildTriggerMetadataProviderType": {
      "type": "enum",
      "members": {
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        },
        "GITLAB_INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab_internal"
          }
        }
      }
    },
    "com.cloudflare.workers_builds#GetBuildsByVersionResponseBuildsValueBuildTriggerMetadata": {
      "type": "structure",
      "members": {
        "author": {
          "target": "smithy.api#String"
        },
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git branch name."
          }
        },
        "build_command": {
          "target": "smithy.api#String"
        },
        "build_token_name": {
          "target": "smithy.api#String"
        },
        "build_token_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Build token UUID."
          }
        },
        "build_trigger_source": {
          "target": "com.cloudflare.workers_builds#GetBuildsByVersionResponseBuildsValueBuildTriggerMetadataBuildTriggerSource"
        },
        "commit_hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git commit hash"
          }
        },
        "commit_message": {
          "target": "smithy.api#String"
        },
        "deploy_command": {
          "target": "smithy.api#String"
        },
        "environment_variables": {
          "target": "com.cloudflare.workers_builds#GetBuildsByVersionResponseBuildsValueBuildTriggerMetadataEnvironmentVariablesMap"
        },
        "provider_account_name": {
          "target": "smithy.api#String"
        },
        "provider_type": {
          "target": "com.cloudflare.workers_builds#GetBuildsByVersionResponseBuildsValueBuildTriggerMetadataProviderType"
        },
        "repo_name": {
          "target": "smithy.api#String"
        },
        "root_directory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Root directory path."
          }
        }
      }
    },
    "com.cloudflare.workers_builds#GetBuildsByVersionResponseBuildsValuePullRequest": {
      "type": "structure",
      "members": {
        "created_on": {
          "target": "smithy.api#String"
        },
        "pull_request_url": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.workers_builds#GetBuildsByVersionResponseBuildsValueStatus": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initializing"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopped"
          }
        }
      }
    },
    "com.cloudflare.workers_builds#GetBuildsByVersionResponseBuildsValueTriggerBranchExcludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_builds#GetBuildsByVersionResponseBuildsValueTriggerBranchIncludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_builds#GetBuildsByVersionResponseBuildsValueTriggerPathExcludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_builds#GetBuildsByVersionResponseBuildsValueTriggerPathIncludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_builds#GetBuildsByVersionResponseBuildsValueTriggerRepoConnectionProviderType": {
      "type": "enum",
      "members": {
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        },
        "GITLAB_INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab_internal"
          }
        }
      }
    },
    "com.cloudflare.workers_builds#GetBuildsByVersionResponseBuildsValueTriggerRepoConnection": {
      "type": "structure",
      "members": {
        "created_on": {
          "target": "smithy.api#String"
        },
        "deleted_on": {
          "target": "smithy.api#String"
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "provider_account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provider account identifier."
          }
        },
        "provider_account_name": {
          "target": "smithy.api#String"
        },
        "provider_type": {
          "target": "com.cloudflare.workers_builds#GetBuildsByVersionResponseBuildsValueTriggerRepoConnectionProviderType"
        },
        "repo_connection_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository connection UUID."
          }
        },
        "repo_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository identifier."
          }
        },
        "repo_name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.workers_builds#GetBuildsByVersionResponseBuildsValueTrigger": {
      "type": "structure",
      "members": {
        "branch_excludes": {
          "target": "com.cloudflare.workers_builds#GetBuildsByVersionResponseBuildsValueTriggerBranchExcludesList"
        },
        "branch_includes": {
          "target": "com.cloudflare.workers_builds#GetBuildsByVersionResponseBuildsValueTriggerBranchIncludesList"
        },
        "build_caching_enabled": {
          "target": "smithy.api#Boolean"
        },
        "build_command": {
          "target": "smithy.api#String"
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "deleted_on": {
          "target": "smithy.api#String"
        },
        "deploy_command": {
          "target": "smithy.api#String"
        },
        "external_script_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "System-generated worker script tag."
          }
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "path_excludes": {
          "target": "com.cloudflare.workers_builds#GetBuildsByVersionResponseBuildsValueTriggerPathExcludesList"
        },
        "path_includes": {
          "target": "com.cloudflare.workers_builds#GetBuildsByVersionResponseBuildsValueTriggerPathIncludesList"
        },
        "repo_connection": {
          "target": "com.cloudflare.workers_builds#GetBuildsByVersionResponseBuildsValueTriggerRepoConnection"
        },
        "root_directory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Root directory path."
          }
        },
        "trigger_name": {
          "target": "smithy.api#String"
        },
        "trigger_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trigger UUID."
          }
        }
      }
    },
    "com.cloudflare.workers_builds#GetBuildsByVersionResponseBuildsValue": {
      "type": "structure",
      "members": {
        "build_outcome": {
          "target": "com.cloudflare.workers_builds#GetBuildsByVersionResponseBuildsValueBuildOutcome"
        },
        "build_trigger_metadata": {
          "target": "com.cloudflare.workers_builds#GetBuildsByVersionResponseBuildsValueBuildTriggerMetadata"
        },
        "build_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Build UUID."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "initializing_on": {
          "target": "smithy.api#String"
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "pull_request": {
          "target": "com.cloudflare.workers_builds#GetBuildsByVersionResponseBuildsValuePullRequest"
        },
        "running_on": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "com.cloudflare.workers_builds#GetBuildsByVersionResponseBuildsValueStatus"
        },
        "stopped_on": {
          "target": "smithy.api#String"
        },
        "trigger": {
          "target": "com.cloudflare.workers_builds#GetBuildsByVersionResponseBuildsValueTrigger",
          "traits": {
            "smithy.api#documentation": "Trigger information without build_token_uuid"
          }
        }
      }
    },
    "com.cloudflare.workers_builds#GetBuildsByVersionResponseBuildsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.workers_builds#GetBuildsByVersionResponseBuildsValue"
      }
    },
    "com.cloudflare.workers_builds#GetBuildsByVersionResponse": {
      "type": "structure",
      "members": {
        "builds": {
          "target": "com.cloudflare.workers_builds#GetBuildsByVersionResponseBuildsMap"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers_builds#GetBuildsByVersion": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_builds#GetBuildsByVersionRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_builds#GetBuildsByVersionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/builds/builds",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve builds for specific version IDs",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers_builds#GetLatestBuildsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "external_script_ids": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma-separated list of system-generated worker script tags (max 20).",
            "smithy.api#httpQuery": "external_script_ids",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_builds#GetLatestBuildsResponseBuildsValueBuildOutcome": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "FAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fail"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skipped"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        },
        "TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "terminated"
          }
        }
      }
    },
    "com.cloudflare.workers_builds#GetLatestBuildsResponseBuildsValueBuildTriggerMetadataBuildTriggerSource": {
      "type": "enum",
      "members": {
        "PUSH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "push"
          }
        },
        "PULL_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pull_request"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        },
        "API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api"
          }
        }
      }
    },
    "com.cloudflare.workers_builds#GetLatestBuildsResponseBuildsValueBuildTriggerMetadataEnvironmentVariablesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_builds#GetLatestBuildsResponseBuildsValueBuildTriggerMetadataProviderType": {
      "type": "enum",
      "members": {
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        },
        "GITLAB_INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab_internal"
          }
        }
      }
    },
    "com.cloudflare.workers_builds#GetLatestBuildsResponseBuildsValueBuildTriggerMetadata": {
      "type": "structure",
      "members": {
        "author": {
          "target": "smithy.api#String"
        },
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git branch name."
          }
        },
        "build_command": {
          "target": "smithy.api#String"
        },
        "build_token_name": {
          "target": "smithy.api#String"
        },
        "build_token_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Build token UUID."
          }
        },
        "build_trigger_source": {
          "target": "com.cloudflare.workers_builds#GetLatestBuildsResponseBuildsValueBuildTriggerMetadataBuildTriggerSource"
        },
        "commit_hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git commit hash"
          }
        },
        "commit_message": {
          "target": "smithy.api#String"
        },
        "deploy_command": {
          "target": "smithy.api#String"
        },
        "environment_variables": {
          "target": "com.cloudflare.workers_builds#GetLatestBuildsResponseBuildsValueBuildTriggerMetadataEnvironmentVariablesMap"
        },
        "provider_account_name": {
          "target": "smithy.api#String"
        },
        "provider_type": {
          "target": "com.cloudflare.workers_builds#GetLatestBuildsResponseBuildsValueBuildTriggerMetadataProviderType"
        },
        "repo_name": {
          "target": "smithy.api#String"
        },
        "root_directory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Root directory path."
          }
        }
      }
    },
    "com.cloudflare.workers_builds#GetLatestBuildsResponseBuildsValuePullRequest": {
      "type": "structure",
      "members": {
        "created_on": {
          "target": "smithy.api#String"
        },
        "pull_request_url": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.workers_builds#GetLatestBuildsResponseBuildsValueStatus": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initializing"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopped"
          }
        }
      }
    },
    "com.cloudflare.workers_builds#GetLatestBuildsResponseBuildsValueTriggerBranchExcludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_builds#GetLatestBuildsResponseBuildsValueTriggerBranchIncludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_builds#GetLatestBuildsResponseBuildsValueTriggerPathExcludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_builds#GetLatestBuildsResponseBuildsValueTriggerPathIncludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_builds#GetLatestBuildsResponseBuildsValueTriggerRepoConnectionProviderType": {
      "type": "enum",
      "members": {
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        },
        "GITLAB_INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab_internal"
          }
        }
      }
    },
    "com.cloudflare.workers_builds#GetLatestBuildsResponseBuildsValueTriggerRepoConnection": {
      "type": "structure",
      "members": {
        "created_on": {
          "target": "smithy.api#String"
        },
        "deleted_on": {
          "target": "smithy.api#String"
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "provider_account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provider account identifier."
          }
        },
        "provider_account_name": {
          "target": "smithy.api#String"
        },
        "provider_type": {
          "target": "com.cloudflare.workers_builds#GetLatestBuildsResponseBuildsValueTriggerRepoConnectionProviderType"
        },
        "repo_connection_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository connection UUID."
          }
        },
        "repo_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository identifier."
          }
        },
        "repo_name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.workers_builds#GetLatestBuildsResponseBuildsValueTrigger": {
      "type": "structure",
      "members": {
        "branch_excludes": {
          "target": "com.cloudflare.workers_builds#GetLatestBuildsResponseBuildsValueTriggerBranchExcludesList"
        },
        "branch_includes": {
          "target": "com.cloudflare.workers_builds#GetLatestBuildsResponseBuildsValueTriggerBranchIncludesList"
        },
        "build_caching_enabled": {
          "target": "smithy.api#Boolean"
        },
        "build_command": {
          "target": "smithy.api#String"
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "deleted_on": {
          "target": "smithy.api#String"
        },
        "deploy_command": {
          "target": "smithy.api#String"
        },
        "external_script_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "System-generated worker script tag."
          }
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "path_excludes": {
          "target": "com.cloudflare.workers_builds#GetLatestBuildsResponseBuildsValueTriggerPathExcludesList"
        },
        "path_includes": {
          "target": "com.cloudflare.workers_builds#GetLatestBuildsResponseBuildsValueTriggerPathIncludesList"
        },
        "repo_connection": {
          "target": "com.cloudflare.workers_builds#GetLatestBuildsResponseBuildsValueTriggerRepoConnection"
        },
        "root_directory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Root directory path."
          }
        },
        "trigger_name": {
          "target": "smithy.api#String"
        },
        "trigger_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trigger UUID."
          }
        }
      }
    },
    "com.cloudflare.workers_builds#GetLatestBuildsResponseBuildsValue": {
      "type": "structure",
      "members": {
        "build_outcome": {
          "target": "com.cloudflare.workers_builds#GetLatestBuildsResponseBuildsValueBuildOutcome"
        },
        "build_trigger_metadata": {
          "target": "com.cloudflare.workers_builds#GetLatestBuildsResponseBuildsValueBuildTriggerMetadata"
        },
        "build_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Build UUID."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "initializing_on": {
          "target": "smithy.api#String"
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "pull_request": {
          "target": "com.cloudflare.workers_builds#GetLatestBuildsResponseBuildsValuePullRequest"
        },
        "running_on": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "com.cloudflare.workers_builds#GetLatestBuildsResponseBuildsValueStatus"
        },
        "stopped_on": {
          "target": "smithy.api#String"
        },
        "trigger": {
          "target": "com.cloudflare.workers_builds#GetLatestBuildsResponseBuildsValueTrigger",
          "traits": {
            "smithy.api#documentation": "Trigger information without build_token_uuid"
          }
        }
      }
    },
    "com.cloudflare.workers_builds#GetLatestBuildsResponseBuildsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.workers_builds#GetLatestBuildsResponseBuildsValue"
      }
    },
    "com.cloudflare.workers_builds#GetLatestBuildsResponse": {
      "type": "structure",
      "members": {
        "builds": {
          "target": "com.cloudflare.workers_builds#GetLatestBuildsResponseBuildsMap"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers_builds#GetLatestBuilds": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_builds#GetLatestBuildsRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_builds#GetLatestBuildsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/builds/builds/latest",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve the most recent builds for multiple worker scripts",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers_builds#CancelBuildRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "build_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Build UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_builds#CancelBuildResponseBuildOutcome": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "FAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fail"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skipped"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        },
        "TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "terminated"
          }
        }
      }
    },
    "com.cloudflare.workers_builds#CancelBuildResponse": {
      "type": "structure",
      "members": {
        "build_outcome": {
          "target": "com.cloudflare.workers_builds#CancelBuildResponseBuildOutcome"
        },
        "build_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Build UUID."
          }
        },
        "stopped_on": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers_builds#CancelBuild": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_builds#CancelBuildRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_builds#CancelBuildResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/builds/builds/{build_uuid}/cancel",
          "code": 200
        },
        "smithy.api#documentation": "Cancel a running or queued build",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.workers_builds#GetBuildRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "build_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Build UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_builds#GetBuildResponseBuildOutcome": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "FAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fail"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skipped"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        },
        "TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "terminated"
          }
        }
      }
    },
    "com.cloudflare.workers_builds#GetBuildResponseBuildTriggerMetadataBuildTriggerSource": {
      "type": "enum",
      "members": {
        "PUSH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "push"
          }
        },
        "PULL_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pull_request"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        },
        "API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api"
          }
        }
      }
    },
    "com.cloudflare.workers_builds#GetBuildResponseBuildTriggerMetadataEnvironmentVariablesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_builds#GetBuildResponseBuildTriggerMetadataProviderType": {
      "type": "enum",
      "members": {
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        },
        "GITLAB_INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab_internal"
          }
        }
      }
    },
    "com.cloudflare.workers_builds#GetBuildResponseBuildTriggerMetadata": {
      "type": "structure",
      "members": {
        "author": {
          "target": "smithy.api#String"
        },
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git branch name."
          }
        },
        "build_command": {
          "target": "smithy.api#String"
        },
        "build_token_name": {
          "target": "smithy.api#String"
        },
        "build_token_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Build token UUID."
          }
        },
        "build_trigger_source": {
          "target": "com.cloudflare.workers_builds#GetBuildResponseBuildTriggerMetadataBuildTriggerSource"
        },
        "commit_hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git commit hash"
          }
        },
        "commit_message": {
          "target": "smithy.api#String"
        },
        "deploy_command": {
          "target": "smithy.api#String"
        },
        "environment_variables": {
          "target": "com.cloudflare.workers_builds#GetBuildResponseBuildTriggerMetadataEnvironmentVariablesMap"
        },
        "provider_account_name": {
          "target": "smithy.api#String"
        },
        "provider_type": {
          "target": "com.cloudflare.workers_builds#GetBuildResponseBuildTriggerMetadataProviderType"
        },
        "repo_name": {
          "target": "smithy.api#String"
        },
        "root_directory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Root directory path."
          }
        }
      }
    },
    "com.cloudflare.workers_builds#GetBuildResponsePullRequest": {
      "type": "structure",
      "members": {
        "created_on": {
          "target": "smithy.api#String"
        },
        "pull_request_url": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.workers_builds#GetBuildResponseStatus": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initializing"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopped"
          }
        }
      }
    },
    "com.cloudflare.workers_builds#GetBuildResponseTriggerBranchExcludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_builds#GetBuildResponseTriggerBranchIncludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_builds#GetBuildResponseTriggerPathExcludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_builds#GetBuildResponseTriggerPathIncludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_builds#GetBuildResponseTriggerRepoConnectionProviderType": {
      "type": "enum",
      "members": {
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        },
        "GITLAB_INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab_internal"
          }
        }
      }
    },
    "com.cloudflare.workers_builds#GetBuildResponseTriggerRepoConnection": {
      "type": "structure",
      "members": {
        "created_on": {
          "target": "smithy.api#String"
        },
        "deleted_on": {
          "target": "smithy.api#String"
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "provider_account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provider account identifier."
          }
        },
        "provider_account_name": {
          "target": "smithy.api#String"
        },
        "provider_type": {
          "target": "com.cloudflare.workers_builds#GetBuildResponseTriggerRepoConnectionProviderType"
        },
        "repo_connection_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository connection UUID."
          }
        },
        "repo_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository identifier."
          }
        },
        "repo_name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.workers_builds#GetBuildResponseTrigger": {
      "type": "structure",
      "members": {
        "branch_excludes": {
          "target": "com.cloudflare.workers_builds#GetBuildResponseTriggerBranchExcludesList"
        },
        "branch_includes": {
          "target": "com.cloudflare.workers_builds#GetBuildResponseTriggerBranchIncludesList"
        },
        "build_caching_enabled": {
          "target": "smithy.api#Boolean"
        },
        "build_command": {
          "target": "smithy.api#String"
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "deleted_on": {
          "target": "smithy.api#String"
        },
        "deploy_command": {
          "target": "smithy.api#String"
        },
        "external_script_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "System-generated worker script tag."
          }
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "path_excludes": {
          "target": "com.cloudflare.workers_builds#GetBuildResponseTriggerPathExcludesList"
        },
        "path_includes": {
          "target": "com.cloudflare.workers_builds#GetBuildResponseTriggerPathIncludesList"
        },
        "repo_connection": {
          "target": "com.cloudflare.workers_builds#GetBuildResponseTriggerRepoConnection"
        },
        "root_directory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Root directory path."
          }
        },
        "trigger_name": {
          "target": "smithy.api#String"
        },
        "trigger_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trigger UUID."
          }
        }
      }
    },
    "com.cloudflare.workers_builds#GetBuildResponse": {
      "type": "structure",
      "members": {
        "build_outcome": {
          "target": "com.cloudflare.workers_builds#GetBuildResponseBuildOutcome"
        },
        "build_trigger_metadata": {
          "target": "com.cloudflare.workers_builds#GetBuildResponseBuildTriggerMetadata"
        },
        "build_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Build UUID."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "initializing_on": {
          "target": "smithy.api#String"
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "pull_request": {
          "target": "com.cloudflare.workers_builds#GetBuildResponsePullRequest"
        },
        "running_on": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "com.cloudflare.workers_builds#GetBuildResponseStatus"
        },
        "stopped_on": {
          "target": "smithy.api#String"
        },
        "trigger": {
          "target": "com.cloudflare.workers_builds#GetBuildResponseTrigger",
          "traits": {
            "smithy.api#documentation": "Trigger information without build_token_uuid"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers_builds#GetBuild": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_builds#GetBuildRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_builds#GetBuildResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/builds/builds/{build_uuid}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve detailed information about a specific build",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers_builds#ListBuildsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "external_script_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "System-generated worker script tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number for pagination",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of items per page",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_builds#ListBuildsResultItemBuildOutcome": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "FAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fail"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skipped"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        },
        "TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "terminated"
          }
        }
      }
    },
    "com.cloudflare.workers_builds#ListBuildsResultItemBuildTriggerMetadataBuildTriggerSource": {
      "type": "enum",
      "members": {
        "PUSH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "push"
          }
        },
        "PULL_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pull_request"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        },
        "API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api"
          }
        }
      }
    },
    "com.cloudflare.workers_builds#ListBuildsResultItemBuildTriggerMetadataEnvironmentVariablesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_builds#ListBuildsResultItemBuildTriggerMetadataProviderType": {
      "type": "enum",
      "members": {
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        },
        "GITLAB_INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab_internal"
          }
        }
      }
    },
    "com.cloudflare.workers_builds#ListBuildsResultItemBuildTriggerMetadata": {
      "type": "structure",
      "members": {
        "author": {
          "target": "smithy.api#String"
        },
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git branch name."
          }
        },
        "build_command": {
          "target": "smithy.api#String"
        },
        "build_token_name": {
          "target": "smithy.api#String"
        },
        "build_token_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Build token UUID."
          }
        },
        "build_trigger_source": {
          "target": "com.cloudflare.workers_builds#ListBuildsResultItemBuildTriggerMetadataBuildTriggerSource"
        },
        "commit_hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git commit hash"
          }
        },
        "commit_message": {
          "target": "smithy.api#String"
        },
        "deploy_command": {
          "target": "smithy.api#String"
        },
        "environment_variables": {
          "target": "com.cloudflare.workers_builds#ListBuildsResultItemBuildTriggerMetadataEnvironmentVariablesMap"
        },
        "provider_account_name": {
          "target": "smithy.api#String"
        },
        "provider_type": {
          "target": "com.cloudflare.workers_builds#ListBuildsResultItemBuildTriggerMetadataProviderType"
        },
        "repo_name": {
          "target": "smithy.api#String"
        },
        "root_directory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Root directory path."
          }
        }
      }
    },
    "com.cloudflare.workers_builds#ListBuildsResultItemPullRequest": {
      "type": "structure",
      "members": {
        "created_on": {
          "target": "smithy.api#String"
        },
        "pull_request_url": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.workers_builds#ListBuildsResultItemStatus": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initializing"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopped"
          }
        }
      }
    },
    "com.cloudflare.workers_builds#ListBuildsResultItemTriggerBranchExcludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_builds#ListBuildsResultItemTriggerBranchIncludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_builds#ListBuildsResultItemTriggerPathExcludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_builds#ListBuildsResultItemTriggerPathIncludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_builds#ListBuildsResultItemTriggerRepoConnectionProviderType": {
      "type": "enum",
      "members": {
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        },
        "GITLAB_INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab_internal"
          }
        }
      }
    },
    "com.cloudflare.workers_builds#ListBuildsResultItemTriggerRepoConnection": {
      "type": "structure",
      "members": {
        "created_on": {
          "target": "smithy.api#String"
        },
        "deleted_on": {
          "target": "smithy.api#String"
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "provider_account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provider account identifier."
          }
        },
        "provider_account_name": {
          "target": "smithy.api#String"
        },
        "provider_type": {
          "target": "com.cloudflare.workers_builds#ListBuildsResultItemTriggerRepoConnectionProviderType"
        },
        "repo_connection_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository connection UUID."
          }
        },
        "repo_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository identifier."
          }
        },
        "repo_name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.workers_builds#ListBuildsResultItemTrigger": {
      "type": "structure",
      "members": {
        "branch_excludes": {
          "target": "com.cloudflare.workers_builds#ListBuildsResultItemTriggerBranchExcludesList"
        },
        "branch_includes": {
          "target": "com.cloudflare.workers_builds#ListBuildsResultItemTriggerBranchIncludesList"
        },
        "build_caching_enabled": {
          "target": "smithy.api#Boolean"
        },
        "build_command": {
          "target": "smithy.api#String"
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "deleted_on": {
          "target": "smithy.api#String"
        },
        "deploy_command": {
          "target": "smithy.api#String"
        },
        "external_script_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "System-generated worker script tag."
          }
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "path_excludes": {
          "target": "com.cloudflare.workers_builds#ListBuildsResultItemTriggerPathExcludesList"
        },
        "path_includes": {
          "target": "com.cloudflare.workers_builds#ListBuildsResultItemTriggerPathIncludesList"
        },
        "repo_connection": {
          "target": "com.cloudflare.workers_builds#ListBuildsResultItemTriggerRepoConnection"
        },
        "root_directory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Root directory path."
          }
        },
        "trigger_name": {
          "target": "smithy.api#String"
        },
        "trigger_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trigger UUID."
          }
        }
      }
    },
    "com.cloudflare.workers_builds#ListBuildsResultItem": {
      "type": "structure",
      "members": {
        "build_outcome": {
          "target": "com.cloudflare.workers_builds#ListBuildsResultItemBuildOutcome"
        },
        "build_trigger_metadata": {
          "target": "com.cloudflare.workers_builds#ListBuildsResultItemBuildTriggerMetadata"
        },
        "build_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Build UUID."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "initializing_on": {
          "target": "smithy.api#String"
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "pull_request": {
          "target": "com.cloudflare.workers_builds#ListBuildsResultItemPullRequest"
        },
        "running_on": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "com.cloudflare.workers_builds#ListBuildsResultItemStatus"
        },
        "stopped_on": {
          "target": "smithy.api#String"
        },
        "trigger": {
          "target": "com.cloudflare.workers_builds#ListBuildsResultItemTrigger",
          "traits": {
            "smithy.api#documentation": "Trigger information without build_token_uuid"
          }
        }
      }
    },
    "com.cloudflare.workers_builds#ListBuildsResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_builds#ListBuildsResultItem"
      }
    },
    "com.cloudflare.workers_builds#ListBuildsResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.workers_builds#ListBuildsResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.workers_builds#ListBuilds": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_builds#ListBuildsRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_builds#ListBuildsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/builds/workers/{external_script_id}/builds",
          "code": 200
        },
        "smithy.api#documentation": "Get all builds for a specific worker script with pagination",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers_builds#GetBuildsLogRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "build_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Build UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination cursor for log retrieval.",
            "smithy.api#httpQuery": "cursor"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_builds#GetBuildsLogResponseLinesItem": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "Double": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.cloudflare.workers_builds#GetBuildsLogResponseLinesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_builds#GetBuildsLogResponseLinesItem"
      }
    },
    "com.cloudflare.workers_builds#GetBuildsLogResponse": {
      "type": "structure",
      "members": {
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination cursor for log retrieval."
          }
        },
        "lines": {
          "target": "com.cloudflare.workers_builds#GetBuildsLogResponseLinesList"
        },
        "truncated": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers_builds#GetBuildsLog": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_builds#GetBuildsLogRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_builds#GetBuildsLogResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/builds/builds/{build_uuid}/logs",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve logs for a specific build with cursor-based pagination",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers_builds#DeployHooksCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the worker.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git branch name.",
            "smithy.api#required": {}
          }
        },
        "deploy_hook_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deploy hook name (1-58 characters).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_builds#DeployHooksCreateResponse": {
      "type": "structure",
      "members": {
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git branch name."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "deploy_hook_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deploy hook name (1-58 characters)."
          }
        },
        "deploy_hook_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deploy hook UUID."
          }
        },
        "external_script_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "System-generated worker script tag."
          }
        },
        "modified_on": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers_builds#DeployHooksCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_builds#DeployHooksCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_builds#DeployHooksCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/builds/workers/{script_name}/deploy_hooks",
          "code": 200
        },
        "smithy.api#documentation": "Create a new deploy hook for a worker script."
      }
    },
    "com.cloudflare.workers_builds#DeployHooksDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the worker.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "deploy_hook_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deploy hook UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_builds#DeployHooksDeleteResponse": {
      "type": "structure",
      "members": {
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git branch name."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "deploy_hook_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deploy hook name (1-58 characters)."
          }
        },
        "deploy_hook_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deploy hook UUID."
          }
        },
        "external_script_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "System-generated worker script tag."
          }
        },
        "modified_on": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers_builds#DeployHooksDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_builds#DeployHooksDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_builds#DeployHooksDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/builds/workers/{script_name}/deploy_hooks/{deploy_hook_uuid}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a deploy hook.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.workers_builds#DeployHooksGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the worker.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "deploy_hook_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deploy hook UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_builds#DeployHooksGetResponse": {
      "type": "structure",
      "members": {
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git branch name."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "deploy_hook_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deploy hook name (1-58 characters)."
          }
        },
        "deploy_hook_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deploy hook UUID."
          }
        },
        "external_script_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "System-generated worker script tag."
          }
        },
        "modified_on": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers_builds#DeployHooksGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_builds#DeployHooksGetRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_builds#DeployHooksGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/builds/workers/{script_name}/deploy_hooks/{deploy_hook_uuid}",
          "code": 200
        },
        "smithy.api#documentation": "Get details of a specific deploy hook.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers_builds#DeployHooksListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the worker.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_builds#DeployHooksListResultItemLatestBuild": {
      "type": "structure",
      "members": {
        "created_on": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.workers_builds#DeployHooksListResultItem": {
      "type": "structure",
      "members": {
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git branch name."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "deploy_hook_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deploy hook name (1-58 characters)."
          }
        },
        "deploy_hook_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deploy hook UUID."
          }
        },
        "external_script_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "System-generated worker script tag."
          }
        },
        "latest_build": {
          "target": "com.cloudflare.workers_builds#DeployHooksListResultItemLatestBuild"
        },
        "modified_on": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.workers_builds#DeployHooksListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_builds#DeployHooksListResultItem"
      }
    },
    "com.cloudflare.workers_builds#DeployHooksListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.workers_builds#DeployHooksListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.workers_builds#DeployHooksList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_builds#DeployHooksListRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_builds#DeployHooksListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/builds/workers/{script_name}/deploy_hooks",
          "code": 200
        },
        "smithy.api#documentation": "Get all deploy hooks for a specific worker script.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers_builds#DeployHooksTriggerRequest": {
      "type": "structure",
      "members": {
        "deploy_hook_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deploy hook UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_builds#DeployHooksTriggerResponseStatus": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initializing"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopped"
          }
        }
      }
    },
    "com.cloudflare.workers_builds#DeployHooksTriggerResponse": {
      "type": "structure",
      "members": {
        "already_exists": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if a pending build already exists for this branch"
          }
        },
        "build_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Build UUID."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "com.cloudflare.workers_builds#DeployHooksTriggerResponseStatus"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers_builds#DeployHooksTrigger": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_builds#DeployHooksTriggerRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_builds#DeployHooksTriggerResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/workers/builds/deploy_hooks/{deploy_hook_uuid}",
          "code": 200
        },
        "smithy.api#documentation": "Trigger a build using a deploy hook. This endpoint does not require authentication - the deploy_hook_uuid acts as a secret token."
      }
    },
    "com.cloudflare.workers_builds#DeployHooksUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the worker.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "deploy_hook_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deploy hook UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git branch name.",
            "smithy.api#required": {}
          }
        },
        "deploy_hook_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deploy hook name (1-58 characters).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_builds#DeployHooksUpdateResponse": {
      "type": "structure",
      "members": {
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git branch name."
          }
        },
        "created_on": {
          "target": "smithy.api#String"
        },
        "deploy_hook_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deploy hook name (1-58 characters)."
          }
        },
        "deploy_hook_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deploy hook UUID."
          }
        },
        "external_script_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "System-generated worker script tag."
          }
        },
        "modified_on": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers_builds#DeployHooksUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_builds#DeployHooksUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_builds#DeployHooksUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/builds/workers/{script_name}/deploy_hooks/{deploy_hook_uuid}",
          "code": 200
        },
        "smithy.api#documentation": "Update an existing deploy hook.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.workers_builds#GetReposConfigAutofillRequestProviderType": {
      "type": "enum",
      "members": {
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        },
        "GITLAB_INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab_internal"
          }
        }
      }
    },
    "com.cloudflare.workers_builds#GetReposConfigAutofillRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "provider_type": {
          "target": "com.cloudflare.workers_builds#GetReposConfigAutofillRequestProviderType",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "provider_account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provider account identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git branch name.",
            "smithy.api#httpQuery": "branch",
            "smithy.api#required": {}
          }
        },
        "root_directory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Root directory path.",
            "smithy.api#httpQuery": "root_directory"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_builds#GetReposConfigAutofillResponseEnvWorkerNamesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_builds#GetReposConfigAutofillResponsePackageManager": {
      "type": "enum",
      "members": {
        "NPM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "npm"
          }
        },
        "YARN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yarn"
          }
        },
        "PNPM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pnpm"
          }
        },
        "BUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bun"
          }
        },
        "UV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uv"
          }
        }
      }
    },
    "com.cloudflare.workers_builds#GetReposConfigAutofillResponseScriptsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_builds#GetReposConfigAutofillResponse": {
      "type": "structure",
      "members": {
        "config_file": {
          "target": "smithy.api#String"
        },
        "default_worker_name": {
          "target": "smithy.api#String"
        },
        "env_worker_names": {
          "target": "com.cloudflare.workers_builds#GetReposConfigAutofillResponseEnvWorkerNamesMap"
        },
        "package_manager": {
          "target": "com.cloudflare.workers_builds#GetReposConfigAutofillResponsePackageManager"
        },
        "scripts": {
          "target": "com.cloudflare.workers_builds#GetReposConfigAutofillResponseScriptsMap"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers_builds#GetReposConfigAutofill": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_builds#GetReposConfigAutofillRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_builds#GetReposConfigAutofillResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/builds/repos/{provider_type}/{provider_account_id}/{repo_id}/config_autofill",
          "code": 200
        },
        "smithy.api#documentation": "Analyze repository for automatic configuration detection",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers_builds#DeleteReposConnectionRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repo_connection_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository connection UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_builds#DeleteReposConnectionResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.workers_builds#DeleteReposConnection": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_builds#DeleteReposConnectionRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_builds#DeleteReposConnectionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/builds/repos/connections/{repo_connection_uuid}",
          "code": 200
        },
        "smithy.api#documentation": "Remove a repository connection",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.workers_builds#UpsertReposConnectionRequestProviderType": {
      "type": "enum",
      "members": {
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        },
        "GITLAB_INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab_internal"
          }
        }
      }
    },
    "com.cloudflare.workers_builds#UpsertReposConnectionRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "provider_account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provider account identifier.",
            "smithy.api#required": {}
          }
        },
        "provider_account_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "provider_type": {
          "target": "com.cloudflare.workers_builds#UpsertReposConnectionRequestProviderType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repo_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository identifier.",
            "smithy.api#required": {}
          }
        },
        "repo_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_builds#UpsertReposConnectionResponseProviderType": {
      "type": "enum",
      "members": {
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        },
        "GITLAB_INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab_internal"
          }
        }
      }
    },
    "com.cloudflare.workers_builds#UpsertReposConnectionResponse": {
      "type": "structure",
      "members": {
        "created_on": {
          "target": "smithy.api#String"
        },
        "deleted_on": {
          "target": "smithy.api#String"
        },
        "modified_on": {
          "target": "smithy.api#String"
        },
        "provider_account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provider account identifier."
          }
        },
        "provider_account_name": {
          "target": "smithy.api#String"
        },
        "provider_type": {
          "target": "com.cloudflare.workers_builds#UpsertReposConnectionResponseProviderType"
        },
        "repo_connection_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository connection UUID."
          }
        },
        "repo_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository identifier."
          }
        },
        "repo_name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers_builds#UpsertReposConnection": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_builds#UpsertReposConnectionRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_builds#UpsertReposConnectionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/builds/repos/connections",
          "code": 200
        },
        "smithy.api#documentation": "Upsert a repository connection for CI/CD integration",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.workers_builds#CreateTokenRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "build_token_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "build_token_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cloudflare_token_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_builds#CreateTokenResponse": {
      "type": "structure",
      "members": {
        "build_token_name": {
          "target": "smithy.api#String"
        },
        "build_token_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Build token UUID."
          }
        },
        "cloudflare_token_id": {
          "target": "smithy.api#String"
        },
        "owner_type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers_builds#CreateToken": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_builds#CreateTokenRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_builds#CreateTokenResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/builds/tokens",
          "code": 200
        },
        "smithy.api#documentation": "Create a new build authentication token"
      }
    },
    "com.cloudflare.workers_builds#DeleteTokenRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "build_token_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Build token UUID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_builds#DeleteTokenResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.workers_builds#DeleteToken": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_builds#DeleteTokenRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_builds#DeleteTokenResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/builds/tokens/{build_token_uuid}",
          "code": 200
        },
        "smithy.api#documentation": "Remove a build authentication token",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.workers_builds#ListTokensRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number for pagination",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of items per page",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_builds#ListTokensResultItem": {
      "type": "structure",
      "members": {
        "build_token_name": {
          "target": "smithy.api#String"
        },
        "build_token_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Build token UUID."
          }
        },
        "cloudflare_token_id": {
          "target": "smithy.api#String"
        },
        "owner_type": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.cloudflare.workers_builds#ListTokensResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_builds#ListTokensResultItem"
      }
    },
    "com.cloudflare.workers_builds#ListTokensResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.workers_builds#ListTokensResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.workers_builds#ListTokens": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_builds#ListTokensRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_builds#ListTokensResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/builds/tokens",
          "code": 200
        },
        "smithy.api#documentation": "Get all build tokens with pagination",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers_builds#CreateTriggerRequestBranchExcludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_builds#CreateTriggerRequestBranchIncludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_builds#CreateTriggerRequestPathExcludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_builds#CreateTriggerRequestPathIncludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_builds#CreateTriggerRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "branch_excludes": {
          "target": "com.cloudflare.workers_builds#CreateTriggerRequestBranchExcludesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branch_includes": {
          "target": "com.cloudflare.workers_builds#CreateTriggerRequestBranchIncludesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "build_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "build_token_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Build token UUID.",
            "smithy.api#required": {}
          }
        },
        "deploy_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "external_script_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "System-generated worker script tag.",
            "smithy.api#required": {}
          }
        },
        "path_excludes": {
          "target": "com.cloudflare.workers_builds#CreateTriggerRequestPathExcludesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "path_includes": {
          "target": "com.cloudflare.workers_builds#CreateTriggerRequestPathIncludesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repo_connection_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository connection UUID.",
            "smithy.api#required": {}
          }
        },
        "root_directory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Root directory path.",
            "smithy.api#required": {}
          }
        },
        "trigger_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "build_caching_enabled": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_builds#CreateTriggerResponseBranchExcludesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
[...]
