{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.workers#AccountSettingsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#AccountSettingsGetResponse": {
      "type": "structure",
      "members": {
        "default_usage_model": {
          "target": "smithy.api#String"
        },
        "green_compute": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers#AccountSettingsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers#AccountSettingsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.workers#AccountSettingsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/workers/account-settings",
          "code": 200
        },
        "smithy.api#documentation": "Fetches Worker account settings for an account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers#AccountSettingsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "default_usage_model": {
          "target": "smithy.api#String"
        },
        "green_compute": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#AccountSettingsUpdateResponse": {
      "type": "structure",
      "members": {
        "default_usage_model": {
          "target": "smithy.api#String"
        },
        "green_compute": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers#AccountSettingsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers#AccountSettingsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.workers#AccountSettingsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/workers/account-settings",
          "code": 200
        },
        "smithy.api#documentation": "Creates Worker account settings for an account.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.workers#AssetsUploadCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "base64": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the file contents are base64-encoded. Must be `true`.",
            "smithy.api#httpQuery": "base64",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#AssetsUploadCreateResponse": {
      "type": "structure",
      "members": {
        "jwt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A \"completion\" JWT which can be redeemed when creating a Worker version."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers#AssetsUploadCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers#AssetsUploadCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.workers#AssetsUploadCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/workers/assets/upload",
          "code": 200
        },
        "smithy.api#documentation": "Upload assets ahead of creating a Worker version.  To learn more about the direct uploads of assets, see https://developers.cloudflare.com/workers/static-assets/direct-upload/."
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityLogs": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [invocation logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs) are enabled for the Worker."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. \"authenticated\" (default) honors inbound trace context only when accompanied by a valid trace auth token. \"accept\" unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for observability. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestObservabilityTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestSubdomain": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the *.workers.dev subdomain is enabled for the Worker."
          }
        },
        "previews_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [preview URLs](https://developers.cloudflare.com/workers/configuration/previews/) are enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestTailConsumersItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the consumer Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequestTailConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersCreateRequestTailConsumersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker.",
            "smithy.api#required": {}
          }
        },
        "logpush": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logpush is enabled for the Worker."
          }
        },
        "observability": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestObservability",
          "traits": {
            "smithy.api#documentation": "Observability settings for the Worker."
          }
        },
        "subdomain": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestSubdomain",
          "traits": {
            "smithy.api#documentation": "Subdomain settings for the Worker."
          }
        },
        "tags": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestTagsList",
          "traits": {
            "smithy.api#documentation": "Tags associated with the Worker."
          }
        },
        "tail_consumers": {
          "target": "com.cloudflare.workers#BetaWorkersCreateRequestTailConsumersList",
          "traits": {
            "smithy.api#documentation": "Other Workers that should consume logs from the Worker."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogs": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [invocation logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs) are enabled for the Worker."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. \"authenticated\" (default) honors inbound trace context only when accompanied by a valid trace auth token. \"accept\" unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for observability. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservabilityTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDispatchNamespaceOutboundsItem": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Worker using the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "worker_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker using the dispatch namespace.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDispatchNamespaceOutboundsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDispatchNamespaceOutboundsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDomainsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the custom domain.",
            "smithy.api#required": {}
          }
        },
        "certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the TLS certificate issued for the custom domain.",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full hostname of the custom domain, including the zone name.",
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the zone.",
            "smithy.api#required": {}
          }
        },
        "zone_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the zone.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDomainsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDomainsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDurableObjectsItem": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Durable Object namespace being used.",
            "smithy.api#required": {}
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Durable Object namespace being used.",
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Worker using the Durable Object implementation.",
            "smithy.api#required": {}
          }
        },
        "worker_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker using the Durable Object implementation.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDurableObjectsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDurableObjectsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseReferencesQueuesItem": {
      "type": "structure",
      "members": {
        "queue_consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the queue consumer configuration.",
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the queue.",
            "smithy.api#required": {}
          }
        },
        "queue_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the queue.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseReferencesQueuesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersCreateResponseReferencesQueuesItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseReferencesWorkersItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the referencing Worker.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the referencing Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseReferencesWorkersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersCreateResponseReferencesWorkersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseReferences": {
      "type": "structure",
      "members": {
        "dispatch_namespace_outbounds": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDispatchNamespaceOutboundsList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference the Worker as an outbound for a dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "domains": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDomainsList",
          "traits": {
            "smithy.api#documentation": "Custom domains connected to the Worker.",
            "smithy.api#required": {}
          }
        },
        "durable_objects": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseReferencesDurableObjectsList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference Durable Object classes implemented by the Worker.",
            "smithy.api#required": {}
          }
        },
        "queues": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseReferencesQueuesList",
          "traits": {
            "smithy.api#documentation": "Queues that send messages to the Worker.",
            "smithy.api#required": {}
          }
        },
        "workers": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseReferencesWorkersList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference the Worker using [service bindings](https://developers.cloudflare.com/workers/runtime-apis/bindings/service-bindings/).",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseSubdomain": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the *.workers.dev subdomain is enabled for the Worker."
          }
        },
        "previews_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [preview URLs](https://developers.cloudflare.com/workers/configuration/previews/) are enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseTailConsumersItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the consumer Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponseTailConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersCreateResponseTailConsumersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable ID of the Worker.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the Worker was created.",
            "smithy.api#required": {}
          }
        },
        "logpush": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logpush is enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker.",
            "smithy.api#required": {}
          }
        },
        "observability": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseObservability",
          "traits": {
            "smithy.api#documentation": "Observability settings for the Worker.",
            "smithy.api#required": {}
          }
        },
        "references": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseReferences",
          "traits": {
            "smithy.api#documentation": "Other resources that reference the Worker and depend on it existing.",
            "smithy.api#required": {}
          }
        },
        "subdomain": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseSubdomain",
          "traits": {
            "smithy.api#documentation": "Subdomain settings for the Worker.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseTagsList",
          "traits": {
            "smithy.api#documentation": "Tags associated with the Worker.",
            "smithy.api#required": {}
          }
        },
        "tail_consumers": {
          "target": "com.cloudflare.workers#BetaWorkersCreateResponseTailConsumersList",
          "traits": {
            "smithy.api#documentation": "Other Workers that should consume logs from the Worker.",
            "smithy.api#required": {}
          }
        },
        "updated_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the Worker was most recently updated.",
            "smithy.api#required": {}
          }
        },
        "deployed_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the Worker's most recent deployment was created. `null` if the Worker has never been deployed."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers#BetaWorkersCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers#BetaWorkersCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.workers#BetaWorkersCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/workers/workers",
          "code": 200
        },
        "smithy.api#documentation": "Create a new Worker."
      }
    },
    "com.cloudflare.workers#BetaWorkersDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the Worker, which can be ID or name.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers#BetaWorkersDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/workers/workers/{worker_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a Worker and all its associated resources (versions, deployments, etc.).",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestObservabilityLogs": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [invocation logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs) are enabled for the Worker."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestObservabilityTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestObservabilityTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestObservabilityTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestObservabilityTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestObservabilityTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. \"authenticated\" (default) honors inbound trace context only when accompanied by a valid trace auth token. \"accept\" unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for observability. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestObservabilityTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestSubdomain": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the *.workers.dev subdomain is enabled for the Worker."
          }
        },
        "previews_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [preview URLs](https://developers.cloudflare.com/workers/configuration/previews/) are enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestTailConsumersItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the consumer Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequestTailConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersEditRequestTailConsumersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the Worker, which can be ID or name.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "logpush": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logpush is enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker.",
            "smithy.api#required": {}
          }
        },
        "observability": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestObservability",
          "traits": {
            "smithy.api#documentation": "Observability settings for the Worker.",
            "smithy.api#required": {}
          }
        },
        "subdomain": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestSubdomain",
          "traits": {
            "smithy.api#documentation": "Subdomain settings for the Worker.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestTagsList",
          "traits": {
            "smithy.api#documentation": "Tags associated with the Worker.",
            "smithy.api#required": {}
          }
        },
        "tail_consumers": {
          "target": "com.cloudflare.workers#BetaWorkersEditRequestTailConsumersList",
          "traits": {
            "smithy.api#documentation": "Other Workers that should consume logs from the Worker.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogs": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [invocation logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs) are enabled for the Worker."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservabilityTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseObservabilityTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseObservabilityTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. \"authenticated\" (default) honors inbound trace context only when accompanied by a valid trace auth token. \"accept\" unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for observability. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseObservabilityTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseReferencesDispatchNamespaceOutboundsItem": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Worker using the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "worker_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker using the dispatch namespace.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseReferencesDispatchNamespaceOutboundsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersEditResponseReferencesDispatchNamespaceOutboundsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseReferencesDomainsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the custom domain.",
            "smithy.api#required": {}
          }
        },
        "certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the TLS certificate issued for the custom domain.",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full hostname of the custom domain, including the zone name.",
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the zone.",
            "smithy.api#required": {}
          }
        },
        "zone_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the zone.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseReferencesDomainsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersEditResponseReferencesDomainsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseReferencesDurableObjectsItem": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Durable Object namespace being used.",
            "smithy.api#required": {}
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Durable Object namespace being used.",
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Worker using the Durable Object implementation.",
            "smithy.api#required": {}
          }
        },
        "worker_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker using the Durable Object implementation.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseReferencesDurableObjectsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersEditResponseReferencesDurableObjectsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseReferencesQueuesItem": {
      "type": "structure",
      "members": {
        "queue_consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the queue consumer configuration.",
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the queue.",
            "smithy.api#required": {}
          }
        },
        "queue_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the queue.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseReferencesQueuesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersEditResponseReferencesQueuesItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseReferencesWorkersItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the referencing Worker.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the referencing Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseReferencesWorkersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersEditResponseReferencesWorkersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseReferences": {
      "type": "structure",
      "members": {
        "dispatch_namespace_outbounds": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseReferencesDispatchNamespaceOutboundsList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference the Worker as an outbound for a dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "domains": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseReferencesDomainsList",
          "traits": {
            "smithy.api#documentation": "Custom domains connected to the Worker.",
            "smithy.api#required": {}
          }
        },
        "durable_objects": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseReferencesDurableObjectsList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference Durable Object classes implemented by the Worker.",
            "smithy.api#required": {}
          }
        },
        "queues": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseReferencesQueuesList",
          "traits": {
            "smithy.api#documentation": "Queues that send messages to the Worker.",
            "smithy.api#required": {}
          }
        },
        "workers": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseReferencesWorkersList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference the Worker using [service bindings](https://developers.cloudflare.com/workers/runtime-apis/bindings/service-bindings/).",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseSubdomain": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the *.workers.dev subdomain is enabled for the Worker."
          }
        },
        "previews_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [preview URLs](https://developers.cloudflare.com/workers/configuration/previews/) are enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseTailConsumersItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the consumer Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponseTailConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersEditResponseTailConsumersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersEditResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable ID of the Worker.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the Worker was created.",
            "smithy.api#required": {}
          }
        },
        "logpush": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logpush is enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker.",
            "smithy.api#required": {}
          }
        },
        "observability": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseObservability",
          "traits": {
            "smithy.api#documentation": "Observability settings for the Worker.",
            "smithy.api#required": {}
          }
        },
        "references": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseReferences",
          "traits": {
            "smithy.api#documentation": "Other resources that reference the Worker and depend on it existing.",
            "smithy.api#required": {}
          }
        },
        "subdomain": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseSubdomain",
          "traits": {
            "smithy.api#documentation": "Subdomain settings for the Worker.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseTagsList",
          "traits": {
            "smithy.api#documentation": "Tags associated with the Worker.",
            "smithy.api#required": {}
          }
        },
        "tail_consumers": {
          "target": "com.cloudflare.workers#BetaWorkersEditResponseTailConsumersList",
          "traits": {
            "smithy.api#documentation": "Other Workers that should consume logs from the Worker.",
            "smithy.api#required": {}
          }
        },
        "updated_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the Worker was most recently updated.",
            "smithy.api#required": {}
          }
        },
        "deployed_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the Worker's most recent deployment was created. `null` if the Worker has never been deployed."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers#BetaWorkersEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers#BetaWorkersEditRequest"
      },
      "output": {
        "target": "com.cloudflare.workers#BetaWorkersEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/workers/workers/{worker_id}",
          "code": 200
        },
        "smithy.api#documentation": "Perform a partial update on a Worker, where omitted properties are left unchanged from their current values."
      }
    },
    "com.cloudflare.workers#BetaWorkersGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the Worker, which can be ID or name.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogs": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [invocation logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs) are enabled for the Worker."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseObservabilityTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseObservabilityTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseObservabilityTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseObservabilityTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseObservabilityTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. \"authenticated\" (default) honors inbound trace context only when accompanied by a valid trace auth token. \"accept\" unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for observability. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseObservabilityTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseReferencesDispatchNamespaceOutboundsItem": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Worker using the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "worker_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker using the dispatch namespace.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseReferencesDispatchNamespaceOutboundsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersGetResponseReferencesDispatchNamespaceOutboundsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseReferencesDomainsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the custom domain.",
            "smithy.api#required": {}
          }
        },
        "certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the TLS certificate issued for the custom domain.",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full hostname of the custom domain, including the zone name.",
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the zone.",
            "smithy.api#required": {}
          }
        },
        "zone_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the zone.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseReferencesDomainsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersGetResponseReferencesDomainsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseReferencesDurableObjectsItem": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Durable Object namespace being used.",
            "smithy.api#required": {}
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Durable Object namespace being used.",
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Worker using the Durable Object implementation.",
            "smithy.api#required": {}
          }
        },
        "worker_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker using the Durable Object implementation.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseReferencesDurableObjectsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersGetResponseReferencesDurableObjectsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseReferencesQueuesItem": {
      "type": "structure",
      "members": {
        "queue_consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the queue consumer configuration.",
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the queue.",
            "smithy.api#required": {}
          }
        },
        "queue_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the queue.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseReferencesQueuesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersGetResponseReferencesQueuesItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseReferencesWorkersItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the referencing Worker.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the referencing Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseReferencesWorkersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersGetResponseReferencesWorkersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseReferences": {
      "type": "structure",
      "members": {
        "dispatch_namespace_outbounds": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseReferencesDispatchNamespaceOutboundsList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference the Worker as an outbound for a dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "domains": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseReferencesDomainsList",
          "traits": {
            "smithy.api#documentation": "Custom domains connected to the Worker.",
            "smithy.api#required": {}
          }
        },
        "durable_objects": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseReferencesDurableObjectsList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference Durable Object classes implemented by the Worker.",
            "smithy.api#required": {}
          }
        },
        "queues": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseReferencesQueuesList",
          "traits": {
            "smithy.api#documentation": "Queues that send messages to the Worker.",
            "smithy.api#required": {}
          }
        },
        "workers": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseReferencesWorkersList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference the Worker using [service bindings](https://developers.cloudflare.com/workers/runtime-apis/bindings/service-bindings/).",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseSubdomain": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the *.workers.dev subdomain is enabled for the Worker."
          }
        },
        "previews_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [preview URLs](https://developers.cloudflare.com/workers/configuration/previews/) are enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseTailConsumersItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the consumer Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponseTailConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersGetResponseTailConsumersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable ID of the Worker.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the Worker was created.",
            "smithy.api#required": {}
          }
        },
        "logpush": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logpush is enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker.",
            "smithy.api#required": {}
          }
        },
        "observability": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseObservability",
          "traits": {
            "smithy.api#documentation": "Observability settings for the Worker.",
            "smithy.api#required": {}
          }
        },
        "references": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseReferences",
          "traits": {
            "smithy.api#documentation": "Other resources that reference the Worker and depend on it existing.",
            "smithy.api#required": {}
          }
        },
        "subdomain": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseSubdomain",
          "traits": {
            "smithy.api#documentation": "Subdomain settings for the Worker.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseTagsList",
          "traits": {
            "smithy.api#documentation": "Tags associated with the Worker.",
            "smithy.api#required": {}
          }
        },
        "tail_consumers": {
          "target": "com.cloudflare.workers#BetaWorkersGetResponseTailConsumersList",
          "traits": {
            "smithy.api#documentation": "Other Workers that should consume logs from the Worker.",
            "smithy.api#required": {}
          }
        },
        "updated_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the Worker was most recently updated.",
            "smithy.api#required": {}
          }
        },
        "deployed_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the Worker's most recent deployment was created. `null` if the Worker has never been deployed."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers#BetaWorkersGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers#BetaWorkersGetRequest"
      },
      "output": {
        "target": "com.cloudflare.workers#BetaWorkersGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/workers/workers/{worker_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get details about a specific Worker.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersListRequestOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListRequestOrderBy": {
      "type": "enum",
      "members": {
        "DEPLOYED_ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployed_on"
          }
        },
        "UPDATED_ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated_on"
          }
        },
        "CREATED_ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_on"
          }
        },
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "order": {
          "target": "com.cloudflare.workers#BetaWorkersListRequestOrder",
          "traits": {
            "smithy.api#documentation": "Sort direction.",
            "smithy.api#httpQuery": "order"
          }
        },
        "order_by": {
          "target": "com.cloudflare.workers#BetaWorkersListRequestOrderBy",
          "traits": {
            "smithy.api#documentation": "Property to sort results by.",
            "smithy.api#httpQuery": "order_by"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Current page.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Items per-page.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemObservabilityLogs": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersListResultItemObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [invocation logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs) are enabled for the Worker."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemObservabilityTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemObservabilityTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemObservabilityTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersListResultItemObservabilityTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers#BetaWorkersListResultItemObservabilityTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. \"authenticated\" (default) honors inbound trace context only when accompanied by a valid trace auth token. \"accept\" unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for observability. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers#BetaWorkersListResultItemObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers#BetaWorkersListResultItemObservabilityTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemReferencesDispatchNamespaceOutboundsItem": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Worker using the dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "worker_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker using the dispatch namespace.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemReferencesDispatchNamespaceOutboundsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersListResultItemReferencesDispatchNamespaceOutboundsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemReferencesDomainsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the custom domain.",
            "smithy.api#required": {}
          }
        },
        "certificate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the TLS certificate issued for the custom domain.",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full hostname of the custom domain, including the zone name.",
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the zone.",
            "smithy.api#required": {}
          }
        },
        "zone_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the zone.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemReferencesDomainsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersListResultItemReferencesDomainsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemReferencesDurableObjectsItem": {
      "type": "structure",
      "members": {
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Durable Object namespace being used.",
            "smithy.api#required": {}
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Durable Object namespace being used.",
            "smithy.api#required": {}
          }
        },
        "worker_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Worker using the Durable Object implementation.",
            "smithy.api#required": {}
          }
        },
        "worker_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker using the Durable Object implementation.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemReferencesDurableObjectsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersListResultItemReferencesDurableObjectsItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemReferencesQueuesItem": {
      "type": "structure",
      "members": {
        "queue_consumer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the queue consumer configuration.",
            "smithy.api#required": {}
          }
        },
        "queue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the queue.",
            "smithy.api#required": {}
          }
        },
        "queue_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the queue.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemReferencesQueuesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersListResultItemReferencesQueuesItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemReferencesWorkersItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the referencing Worker.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the referencing Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemReferencesWorkersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersListResultItemReferencesWorkersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemReferences": {
      "type": "structure",
      "members": {
        "dispatch_namespace_outbounds": {
          "target": "com.cloudflare.workers#BetaWorkersListResultItemReferencesDispatchNamespaceOutboundsList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference the Worker as an outbound for a dispatch namespace.",
            "smithy.api#required": {}
          }
        },
        "domains": {
          "target": "com.cloudflare.workers#BetaWorkersListResultItemReferencesDomainsList",
          "traits": {
            "smithy.api#documentation": "Custom domains connected to the Worker.",
            "smithy.api#required": {}
          }
        },
        "durable_objects": {
          "target": "com.cloudflare.workers#BetaWorkersListResultItemReferencesDurableObjectsList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference Durable Object classes implemented by the Worker.",
            "smithy.api#required": {}
          }
        },
        "queues": {
          "target": "com.cloudflare.workers#BetaWorkersListResultItemReferencesQueuesList",
          "traits": {
            "smithy.api#documentation": "Queues that send messages to the Worker.",
            "smithy.api#required": {}
          }
        },
        "workers": {
          "target": "com.cloudflare.workers#BetaWorkersListResultItemReferencesWorkersList",
          "traits": {
            "smithy.api#documentation": "Other Workers that reference the Worker using [service bindings](https://developers.cloudflare.com/workers/runtime-apis/bindings/service-bindings/).",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemSubdomain": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the *.workers.dev subdomain is enabled for the Worker."
          }
        },
        "previews_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [preview URLs](https://developers.cloudflare.com/workers/configuration/previews/) are enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemTailConsumersItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the consumer Worker.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItemTailConsumersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersListResultItemTailConsumersItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable ID of the Worker.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the Worker was created.",
            "smithy.api#required": {}
          }
        },
        "logpush": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logpush is enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Worker.",
            "smithy.api#required": {}
          }
        },
        "observability": {
          "target": "com.cloudflare.workers#BetaWorkersListResultItemObservability",
          "traits": {
            "smithy.api#documentation": "Observability settings for the Worker.",
            "smithy.api#required": {}
          }
        },
        "references": {
          "target": "com.cloudflare.workers#BetaWorkersListResultItemReferences",
          "traits": {
            "smithy.api#documentation": "Other resources that reference the Worker and depend on it existing.",
            "smithy.api#required": {}
          }
        },
        "subdomain": {
          "target": "com.cloudflare.workers#BetaWorkersListResultItemSubdomain",
          "traits": {
            "smithy.api#documentation": "Subdomain settings for the Worker.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.cloudflare.workers#BetaWorkersListResultItemTagsList",
          "traits": {
            "smithy.api#documentation": "Tags associated with the Worker.",
            "smithy.api#required": {}
          }
        },
        "tail_consumers": {
          "target": "com.cloudflare.workers#BetaWorkersListResultItemTailConsumersList",
          "traits": {
            "smithy.api#documentation": "Other Workers that should consume logs from the Worker.",
            "smithy.api#required": {}
          }
        },
        "updated_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the Worker was most recently updated.",
            "smithy.api#required": {}
          }
        },
        "deployed_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the Worker's most recent deployment was created. `null` if the Worker has never been deployed."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers#BetaWorkersListResultItem"
      }
    },
    "com.cloudflare.workers#BetaWorkersListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.workers#BetaWorkersListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers#BetaWorkersListRequest"
      },
      "output": {
        "target": "com.cloudflare.workers#BetaWorkersListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/workers/workers",
          "code": 200
        },
        "smithy.api#documentation": "List all Workers for an account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateRequestObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateRequestObservabilityLogs": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersUpdateRequestObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [invocation logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs) are enabled for the Worker."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateRequestObservabilityTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateRequestObservabilityTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateRequestObservabilityTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers#BetaWorkersUpdateRequestObservabilityTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%)."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers#BetaWorkersUpdateRequestObservabilityTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. \"authenticated\" (default) honors inbound trace context only when accompanied by a valid trace auth token. \"accept\" unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled."
          }
        }
      }
    },
    "com.cloudflare.workers#BetaWorkersUpdateRequestObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
[...]
