{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.zaraz#UpdateRequestWorkflow": {
      "type": "enum",
      "members": {
        "REALTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "realtime"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        }
      }
    },
    "com.cloudflare.zaraz#UpdateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "workflow": {
          "target": "com.cloudflare.zaraz#UpdateRequestWorkflow",
          "traits": {
            "smithy.api#documentation": "Zaraz workflow.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zaraz#UpdateResult": {
      "type": "enum",
      "members": {
        "REALTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "realtime"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        }
      }
    },
    "com.cloudflare.zaraz#UpdateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.zaraz#UpdateResult",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.zaraz#Update": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zaraz#UpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.zaraz#UpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/settings/zaraz/workflow",
          "code": 200
        },
        "smithy.api#documentation": "Updates Zaraz workflow for a zone.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.zaraz#ConfigGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseSettingsContextEnricher": {
      "type": "structure",
      "members": {
        "escapedWorkerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workerTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseSettings": {
      "type": "structure",
      "members": {
        "autoInjectScript": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Automatic injection of Zaraz scripts enabled.",
            "smithy.api#required": {}
          }
        },
        "contextEnricher": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseSettingsContextEnricher",
          "traits": {
            "smithy.api#documentation": "Details of the worker that receives and edits Zaraz Context object."
          }
        },
        "cookieDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain Zaraz will use for writing and reading its cookies."
          }
        },
        "ecommerce": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Ecommerce API enabled."
          }
        },
        "eventsApiPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for server-side track events."
          }
        },
        "hideExternalReferer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Hiding external referrer URL enabled."
          }
        },
        "hideIPAddress": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Trimming IP address enabled."
          }
        },
        "hideQueryParams": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Removing URL query params enabled."
          }
        },
        "hideUserAgent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Removing sensitive data from User Agent string enabled."
          }
        },
        "initPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for Zaraz init script."
          }
        },
        "injectIframes": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Injection of Zaraz scripts into iframes enabled."
          }
        },
        "mcRootPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom path for Managed Components server functionalities."
          }
        },
        "scriptPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for Zaraz main script."
          }
        },
        "trackPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for Zaraz tracking requests."
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsZarazManagedComponentBlockingTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsZarazManagedComponentDefaultFields": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "Boolean": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsZarazManagedComponentPermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsZarazManagedComponentSettings": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "Boolean": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsZarazManagedComponentType": {
      "type": "enum",
      "members": {
        "COMPONENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "component"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsZarazManagedComponentActionsValueBlockingTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsZarazManagedComponentActionsValueFiringTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsZarazManagedComponentActionsValue": {
      "type": "structure",
      "members": {
        "actionType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tool event type.",
            "smithy.api#required": {}
          }
        },
        "blockingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsZarazManagedComponentActionsValueBlockingTriggersList",
          "traits": {
            "smithy.api#documentation": "List of blocking triggers IDs.",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Event payload.",
            "smithy.api#required": {}
          }
        },
        "firingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsZarazManagedComponentActionsValueFiringTriggersList",
          "traits": {
            "smithy.api#documentation": "List of firing triggers IDs.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsZarazManagedComponentActionsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.zaraz#ConfigGetResponseToolsZarazManagedComponentActionsValue"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsZarazManagedComponentNeoEventsItemBlockingTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsZarazManagedComponentNeoEventsItemFiringTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsZarazManagedComponentNeoEventsItem": {
      "type": "structure",
      "members": {
        "actionType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tool event type.",
            "smithy.api#required": {}
          }
        },
        "blockingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsZarazManagedComponentNeoEventsItemBlockingTriggersList",
          "traits": {
            "smithy.api#documentation": "List of blocking triggers IDs.",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Event payload.",
            "smithy.api#required": {}
          }
        },
        "firingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsZarazManagedComponentNeoEventsItemFiringTriggersList",
          "traits": {
            "smithy.api#documentation": "List of firing triggers IDs.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsZarazManagedComponentNeoEventsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zaraz#ConfigGetResponseToolsZarazManagedComponentNeoEventsItem"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsZarazManagedComponent": {
      "type": "structure",
      "members": {
        "blockingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsZarazManagedComponentBlockingTriggersList",
          "traits": {
            "smithy.api#documentation": "List of blocking trigger IDs.",
            "smithy.api#required": {}
          }
        },
        "component": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tool's internal name.",
            "smithy.api#required": {}
          }
        },
        "defaultFields": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsZarazManagedComponentDefaultFields",
          "traits": {
            "smithy.api#documentation": "Default fields for tool's actions.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether tool is enabled.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tool's name defined by the user.",
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsZarazManagedComponentPermissionsList",
          "traits": {
            "smithy.api#documentation": "List of permissions granted to the component.",
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsZarazManagedComponentSettings",
          "traits": {
            "smithy.api#documentation": "Tool's settings.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsZarazManagedComponentType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "actions": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsZarazManagedComponentActionsMap",
          "traits": {
            "smithy.api#documentation": "Actions configured on a tool. Either this or neoEvents field is required."
          }
        },
        "defaultPurpose": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default consent purpose ID."
          }
        },
        "neoEvents": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsZarazManagedComponentNeoEventsList",
          "traits": {
            "smithy.api#documentation": "DEPRECATED - List of actions configured on a tool. Either this or actions field is required. If both are present, actions field will take precedence."
          }
        },
        "vendorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Vendor name for TCF compliant consent modal, required for Custom Managed Components and Custom HTML tool with a defaultPurpose assigned."
          }
        },
        "vendorPolicyUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Vendor's Privacy Policy URL for TCF compliant consent modal, required for Custom Managed Components and Custom HTML tool with a defaultPurpose assigned."
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsWorkerBlockingTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsWorkerDefaultFields": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "Boolean": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsWorkerPermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsWorkerSettings": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "Boolean": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsWorkerType": {
      "type": "enum",
      "members": {
        "CUSTOM_MC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom-mc"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsWorkerWorker": {
      "type": "structure",
      "members": {
        "escapedWorkerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workerTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsWorkerActionsValueBlockingTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsWorkerActionsValueFiringTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsWorkerActionsValue": {
      "type": "structure",
      "members": {
        "actionType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tool event type.",
            "smithy.api#required": {}
          }
        },
        "blockingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsWorkerActionsValueBlockingTriggersList",
          "traits": {
            "smithy.api#documentation": "List of blocking triggers IDs.",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Event payload.",
            "smithy.api#required": {}
          }
        },
        "firingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsWorkerActionsValueFiringTriggersList",
          "traits": {
            "smithy.api#documentation": "List of firing triggers IDs.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsWorkerActionsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.zaraz#ConfigGetResponseToolsWorkerActionsValue"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsWorkerNeoEventsItemBlockingTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsWorkerNeoEventsItemFiringTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsWorkerNeoEventsItem": {
      "type": "structure",
      "members": {
        "actionType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tool event type.",
            "smithy.api#required": {}
          }
        },
        "blockingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsWorkerNeoEventsItemBlockingTriggersList",
          "traits": {
            "smithy.api#documentation": "List of blocking triggers IDs.",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Event payload.",
            "smithy.api#required": {}
          }
        },
        "firingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsWorkerNeoEventsItemFiringTriggersList",
          "traits": {
            "smithy.api#documentation": "List of firing triggers IDs.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsWorkerNeoEventsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zaraz#ConfigGetResponseToolsWorkerNeoEventsItem"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseToolsWorker": {
      "type": "structure",
      "members": {
        "blockingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsWorkerBlockingTriggersList",
          "traits": {
            "smithy.api#documentation": "List of blocking trigger IDs.",
            "smithy.api#required": {}
          }
        },
        "component": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tool's internal name.",
            "smithy.api#required": {}
          }
        },
        "defaultFields": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsWorkerDefaultFields",
          "traits": {
            "smithy.api#documentation": "Default fields for tool's actions.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether tool is enabled.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tool's name defined by the user.",
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsWorkerPermissionsList",
          "traits": {
            "smithy.api#documentation": "List of permissions granted to the component.",
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsWorkerSettings",
          "traits": {
            "smithy.api#documentation": "Tool's settings.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsWorkerType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "worker": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsWorkerWorker",
          "traits": {
            "smithy.api#documentation": "Cloudflare worker that acts as a managed component.",
            "smithy.api#required": {}
          }
        },
        "actions": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsWorkerActionsMap",
          "traits": {
            "smithy.api#documentation": "Actions configured on a tool. Either this or neoEvents field is required."
          }
        },
        "defaultPurpose": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default consent purpose ID."
          }
        },
        "neoEvents": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsWorkerNeoEventsList",
          "traits": {
            "smithy.api#documentation": "DEPRECATED - List of actions configured on a tool. Either this or actions field is required. If both are present, actions field will take precedence."
          }
        },
        "vendorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Vendor name for TCF compliant consent modal, required for Custom Managed Components and Custom HTML tool with a defaultPurpose assigned."
          }
        },
        "vendorPolicyUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Vendor's Privacy Policy URL for TCF compliant consent modal, required for Custom Managed Components and Custom HTML tool with a defaultPurpose assigned."
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTools": {
      "type": "union",
      "members": {
        "ZarazManagedComponent": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsZarazManagedComponent"
        },
        "Worker": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseToolsWorker"
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazLoadRuleOp": {
      "type": "enum",
      "members": {
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINS"
          }
        },
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQUALS"
          }
        },
        "STARTS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARTS_WITH"
          }
        },
        "ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDS_WITH"
          }
        },
        "MATCH_REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_REGEX"
          }
        },
        "NOT_MATCH_REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_MATCH_REGEX"
          }
        },
        "GREATER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN"
          }
        },
        "GREATER_THAN_OR_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN_OR_EQUAL"
          }
        },
        "LESS_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN"
          }
        },
        "LESS_THAN_OR_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN_OR_EQUAL"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazLoadRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "match": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "op": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazLoadRuleOp",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazClickListenerRuleAction": {
      "type": "enum",
      "members": {
        "CLICKLISTENER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clickListener"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazClickListenerRuleSettingsType": {
      "type": "enum",
      "members": {
        "XPATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xpath"
          }
        },
        "CSS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "css"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazClickListenerRuleSettings": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazClickListenerRuleSettingsType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "waitForTags": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazClickListenerRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazClickListenerRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazClickListenerRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazTimerRuleAction": {
      "type": "enum",
      "members": {
        "TIMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "timer"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazTimerRuleSettings": {
      "type": "structure",
      "members": {
        "interval": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazTimerRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazTimerRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazTimerRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazFormSubmissionRuleAction": {
      "type": "enum",
      "members": {
        "FORMSUBMISSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "formSubmission"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazFormSubmissionRuleSettings": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "validate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazFormSubmissionRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazFormSubmissionRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazFormSubmissionRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazVariableMatchRuleAction": {
      "type": "enum",
      "members": {
        "VARIABLEMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "variableMatch"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazVariableMatchRuleSettings": {
      "type": "structure",
      "members": {
        "match": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "variable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazVariableMatchRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazVariableMatchRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazVariableMatchRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazScrollDepthRuleAction": {
      "type": "enum",
      "members": {
        "SCROLLDEPTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scrollDepth"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazScrollDepthRuleSettings": {
      "type": "structure",
      "members": {
        "positions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazScrollDepthRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazScrollDepthRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazScrollDepthRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazElementVisibilityRuleAction": {
      "type": "enum",
      "members": {
        "ELEMENTVISIBILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elementVisibility"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazElementVisibilityRuleSettings": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazElementVisibilityRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazElementVisibilityRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazElementVisibilityRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItem": {
      "type": "union",
      "members": {
        "ZarazLoadRule": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazLoadRule"
        },
        "ZarazClickListenerRule": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazClickListenerRule"
        },
        "ZarazTimerRule": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazTimerRule"
        },
        "ZarazFormSubmissionRule": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazFormSubmissionRule"
        },
        "ZarazVariableMatchRule": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazVariableMatchRule"
        },
        "ZarazScrollDepthRule": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazScrollDepthRule"
        },
        "ZarazElementVisibilityRule": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItemZarazElementVisibilityRule"
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesItem"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazLoadRuleOp": {
      "type": "enum",
      "members": {
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINS"
          }
        },
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQUALS"
          }
        },
        "STARTS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARTS_WITH"
          }
        },
        "ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDS_WITH"
          }
        },
        "MATCH_REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_REGEX"
          }
        },
        "NOT_MATCH_REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_MATCH_REGEX"
          }
        },
        "GREATER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN"
          }
        },
        "GREATER_THAN_OR_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN_OR_EQUAL"
          }
        },
        "LESS_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN"
          }
        },
        "LESS_THAN_OR_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN_OR_EQUAL"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazLoadRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "match": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "op": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazLoadRuleOp",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazClickListenerRuleAction": {
      "type": "enum",
      "members": {
        "CLICKLISTENER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clickListener"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazClickListenerRuleSettingsType": {
      "type": "enum",
      "members": {
        "XPATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xpath"
          }
        },
        "CSS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "css"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazClickListenerRuleSettings": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazClickListenerRuleSettingsType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "waitForTags": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazClickListenerRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazClickListenerRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazClickListenerRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazTimerRuleAction": {
      "type": "enum",
      "members": {
        "TIMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "timer"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazTimerRuleSettings": {
      "type": "structure",
      "members": {
        "interval": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazTimerRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazTimerRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazTimerRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazFormSubmissionRuleAction": {
      "type": "enum",
      "members": {
        "FORMSUBMISSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "formSubmission"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazFormSubmissionRuleSettings": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "validate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazFormSubmissionRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazFormSubmissionRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazFormSubmissionRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazVariableMatchRuleAction": {
      "type": "enum",
      "members": {
        "VARIABLEMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "variableMatch"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazVariableMatchRuleSettings": {
      "type": "structure",
      "members": {
        "match": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "variable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazVariableMatchRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazVariableMatchRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazVariableMatchRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazScrollDepthRuleAction": {
      "type": "enum",
      "members": {
        "SCROLLDEPTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scrollDepth"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazScrollDepthRuleSettings": {
      "type": "structure",
      "members": {
        "positions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazScrollDepthRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazScrollDepthRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazScrollDepthRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazElementVisibilityRuleAction": {
      "type": "enum",
      "members": {
        "ELEMENTVISIBILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elementVisibility"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazElementVisibilityRuleSettings": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazElementVisibilityRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazElementVisibilityRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazElementVisibilityRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItem": {
      "type": "union",
      "members": {
        "ZarazLoadRule": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazLoadRule"
        },
        "ZarazClickListenerRule": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazClickListenerRule"
        },
        "ZarazTimerRule": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazTimerRule"
        },
        "ZarazFormSubmissionRule": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazFormSubmissionRule"
        },
        "ZarazVariableMatchRule": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazVariableMatchRule"
        },
        "ZarazScrollDepthRule": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazScrollDepthRule"
        },
        "ZarazElementVisibilityRule": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItemZarazElementVisibilityRule"
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesItem"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValueSystem": {
      "type": "enum",
      "members": {
        "PAGELOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pageload"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersValue": {
      "type": "structure",
      "members": {
        "excludeRules": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueExcludeRulesList",
          "traits": {
            "smithy.api#documentation": "Rules defining when the trigger is not fired.",
            "smithy.api#required": {}
          }
        },
        "loadRules": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueLoadRulesList",
          "traits": {
            "smithy.api#documentation": "Rules defining when the trigger is fired.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trigger name.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trigger description."
          }
        },
        "system": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValueSystem"
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseTriggersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersValue"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseVariablesStringType": {
      "type": "enum",
      "members": {
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseVariablesString": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseVariablesStringType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseVariablesSecretType": {
      "type": "enum",
      "members": {
        "SECRET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secret"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseVariablesSecret": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseVariablesSecretType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseVariablesWorkerType": {
      "type": "enum",
      "members": {
        "WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseVariablesWorkerValue": {
      "type": "structure",
      "members": {
        "escapedWorkerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workerTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseVariablesWorker": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseVariablesWorkerType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseVariablesWorkerValue",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseVariables": {
      "type": "union",
      "members": {
        "String": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseVariablesString"
        },
        "Secret": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseVariablesSecret"
        },
        "Worker": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseVariablesWorker"
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseAnalytics": {
      "type": "structure",
      "members": {
        "defaultPurpose": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Consent purpose assigned to Monitoring."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Advanced Monitoring reports are enabled."
          }
        },
        "sessionExpTime": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Session expiration time (seconds)."
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseConsentButtonTextTranslationsAcceptAllMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseConsentButtonTextTranslationsConfirmMyChoicesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseConsentButtonTextTranslationsRejectAllMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseConsentButtonTextTranslations": {
      "type": "structure",
      "members": {
        "accept_all": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseConsentButtonTextTranslationsAcceptAllMap",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes.",
            "smithy.api#required": {}
          }
        },
        "confirm_my_choices": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseConsentButtonTextTranslationsConfirmMyChoicesMap",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes.",
            "smithy.api#required": {}
          }
        },
        "reject_all": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseConsentButtonTextTranslationsRejectAllMap",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseConsentConsentModalIntroHTMLWithTranslationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseConsentPurposesValue": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseConsentPurposesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.zaraz#ConfigGetResponseConsentPurposesValue"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseConsentPurposesWithTranslationsValueDescriptionMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseConsentPurposesWithTranslationsValueNameMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseConsentPurposesWithTranslationsValue": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseConsentPurposesWithTranslationsValueDescriptionMap",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseConsentPurposesWithTranslationsValueNameMap",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes.",
            "smithy.api#required": {}
          }
        },
        "order": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseConsentPurposesWithTranslationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.zaraz#ConfigGetResponseConsentPurposesWithTranslationsValue"
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponseConsent": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "buttonTextTranslations": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseConsentButtonTextTranslations"
        },
        "companyEmail": {
          "target": "smithy.api#String"
        },
        "companyName": {
          "target": "smithy.api#String"
        },
        "companyStreetAddress": {
          "target": "smithy.api#String"
        },
        "consentModalIntroHTML": {
          "target": "smithy.api#String"
        },
        "consentModalIntroHTMLWithTranslations": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseConsentConsentModalIntroHTMLWithTranslationsMap",
          "traits": {
            "smithy.api#documentation": "Object where keys are language codes."
          }
        },
        "cookieName": {
          "target": "smithy.api#String"
        },
        "customCSS": {
          "target": "smithy.api#String"
        },
        "customIntroDisclaimerDismissed": {
          "target": "smithy.api#Boolean"
        },
        "defaultLanguage": {
          "target": "smithy.api#String"
        },
        "hideModal": {
          "target": "smithy.api#Boolean"
        },
        "purposes": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseConsentPurposesMap",
          "traits": {
            "smithy.api#documentation": "Object where keys are purpose alpha-numeric IDs."
          }
        },
        "purposesWithTranslations": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseConsentPurposesWithTranslationsMap",
          "traits": {
            "smithy.api#documentation": "Object where keys are purpose alpha-numeric IDs."
          }
        },
        "tcfCompliant": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zaraz#ConfigGetResponse": {
      "type": "structure",
      "members": {
        "dataLayer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Data layer compatibility mode enabled.",
            "smithy.api#required": {}
          }
        },
        "debugKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key for Zaraz debug mode.",
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseSettings",
          "traits": {
            "smithy.api#documentation": "General Zaraz settings.",
            "smithy.api#required": {}
          }
        },
        "tools": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTools",
          "traits": {
            "smithy.api#documentation": "Tools set up under Zaraz configuration, where key is the alpha-numeric tool ID and value is the tool configuration object.",
            "smithy.api#required": {}
          }
        },
        "triggers": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseTriggersMap",
          "traits": {
            "smithy.api#documentation": "Triggers set up under Zaraz configuration, where key is the trigger alpha-numeric ID and value is the trigger configuration.",
            "smithy.api#required": {}
          }
        },
        "variables": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseVariables",
          "traits": {
            "smithy.api#documentation": "Variables set up under Zaraz configuration, where key is the variable alpha-numeric ID and value is the variable configuration. Values of variables of type secret are not included.",
            "smithy.api#required": {}
          }
        },
        "zarazVersion": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Zaraz internal version of the config.",
            "smithy.api#required": {}
          }
        },
        "analytics": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseAnalytics",
          "traits": {
            "smithy.api#documentation": "Cloudflare Monitoring settings."
          }
        },
        "consent": {
          "target": "com.cloudflare.zaraz#ConfigGetResponseConsent",
          "traits": {
            "smithy.api#documentation": "Consent management configuration."
          }
        },
        "historyChange": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Single Page Application support enabled."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.zaraz#ConfigGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.zaraz#ConfigGetRequest"
      },
      "output": {
        "target": "com.cloudflare.zaraz#ConfigGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/settings/zaraz/config",
          "code": 200
        },
        "smithy.api#documentation": "Gets latest Zaraz configuration for a zone. It can be preview or published configuration, whichever was the last updated. Secret variables values will not be included.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestSettingsContextEnricher": {
      "type": "structure",
      "members": {
        "escapedWorkerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workerTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestSettings": {
      "type": "structure",
      "members": {
        "autoInjectScript": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Automatic injection of Zaraz scripts enabled.",
            "smithy.api#required": {}
          }
        },
        "contextEnricher": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestSettingsContextEnricher",
          "traits": {
            "smithy.api#documentation": "Details of the worker that receives and edits Zaraz Context object."
          }
        },
        "cookieDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain Zaraz will use for writing and reading its cookies."
          }
        },
        "ecommerce": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Ecommerce API enabled."
          }
        },
        "eventsApiPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for server-side track events."
          }
        },
        "hideExternalReferer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Hiding external referrer URL enabled."
          }
        },
        "hideIPAddress": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Trimming IP address enabled."
          }
        },
        "hideQueryParams": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Removing URL query params enabled."
          }
        },
        "hideUserAgent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Removing sensitive data from User Agent string enabled."
          }
        },
        "initPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for Zaraz init script."
          }
        },
        "injectIframes": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Injection of Zaraz scripts into iframes enabled."
          }
        },
        "mcRootPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom path for Managed Components server functionalities."
          }
        },
        "scriptPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for Zaraz main script."
          }
        },
        "trackPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom endpoint for Zaraz tracking requests."
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsZarazManagedComponentBlockingTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsZarazManagedComponentDefaultFields": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "Boolean": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsZarazManagedComponentPermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsZarazManagedComponentSettings": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "Boolean": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsZarazManagedComponentType": {
      "type": "enum",
      "members": {
        "COMPONENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "component"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsZarazManagedComponentActionsValueBlockingTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsZarazManagedComponentActionsValueFiringTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsZarazManagedComponentActionsValue": {
      "type": "structure",
      "members": {
        "actionType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tool event type.",
            "smithy.api#required": {}
          }
        },
        "blockingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsZarazManagedComponentActionsValueBlockingTriggersList",
          "traits": {
            "smithy.api#documentation": "List of blocking triggers IDs.",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Event payload.",
            "smithy.api#required": {}
          }
        },
        "firingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsZarazManagedComponentActionsValueFiringTriggersList",
          "traits": {
            "smithy.api#documentation": "List of firing triggers IDs.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsZarazManagedComponentActionsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsZarazManagedComponentActionsValue"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsZarazManagedComponentNeoEventsItemBlockingTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsZarazManagedComponentNeoEventsItemFiringTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsZarazManagedComponentNeoEventsItem": {
      "type": "structure",
      "members": {
        "actionType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tool event type.",
            "smithy.api#required": {}
          }
        },
        "blockingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsZarazManagedComponentNeoEventsItemBlockingTriggersList",
          "traits": {
            "smithy.api#documentation": "List of blocking triggers IDs.",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Event payload.",
            "smithy.api#required": {}
          }
        },
        "firingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsZarazManagedComponentNeoEventsItemFiringTriggersList",
          "traits": {
            "smithy.api#documentation": "List of firing triggers IDs.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsZarazManagedComponentNeoEventsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsZarazManagedComponentNeoEventsItem"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsZarazManagedComponent": {
      "type": "structure",
      "members": {
        "blockingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsZarazManagedComponentBlockingTriggersList",
          "traits": {
            "smithy.api#documentation": "List of blocking trigger IDs.",
            "smithy.api#required": {}
          }
        },
        "component": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tool's internal name.",
            "smithy.api#required": {}
          }
        },
        "defaultFields": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsZarazManagedComponentDefaultFields",
          "traits": {
            "smithy.api#documentation": "Default fields for tool's actions.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether tool is enabled.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tool's name defined by the user.",
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsZarazManagedComponentPermissionsList",
          "traits": {
            "smithy.api#documentation": "List of permissions granted to the component.",
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsZarazManagedComponentSettings",
          "traits": {
            "smithy.api#documentation": "Tool's settings.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsZarazManagedComponentType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "actions": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsZarazManagedComponentActionsMap",
          "traits": {
            "smithy.api#documentation": "Actions configured on a tool. Either this or neoEvents field is required."
          }
        },
        "defaultPurpose": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default consent purpose ID."
          }
        },
        "neoEvents": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsZarazManagedComponentNeoEventsList",
          "traits": {
            "smithy.api#documentation": "DEPRECATED - List of actions configured on a tool. Either this or actions field is required. If both are present, actions field will take precedence."
          }
        },
        "vendorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Vendor name for TCF compliant consent modal, required for Custom Managed Components and Custom HTML tool with a defaultPurpose assigned."
          }
        },
        "vendorPolicyUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Vendor's Privacy Policy URL for TCF compliant consent modal, required for Custom Managed Components and Custom HTML tool with a defaultPurpose assigned."
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsWorkerBlockingTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsWorkerDefaultFields": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "Boolean": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsWorkerPermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsWorkerSettings": {
      "type": "union",
      "members": {
        "String": {
          "target": "smithy.api#String"
        },
        "Boolean": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsWorkerType": {
      "type": "enum",
      "members": {
        "CUSTOM_MC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom-mc"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsWorkerWorker": {
      "type": "structure",
      "members": {
        "escapedWorkerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workerTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsWorkerActionsValueBlockingTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsWorkerActionsValueFiringTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsWorkerActionsValue": {
      "type": "structure",
      "members": {
        "actionType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tool event type.",
            "smithy.api#required": {}
          }
        },
        "blockingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsWorkerActionsValueBlockingTriggersList",
          "traits": {
            "smithy.api#documentation": "List of blocking triggers IDs.",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Event payload.",
            "smithy.api#required": {}
          }
        },
        "firingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsWorkerActionsValueFiringTriggersList",
          "traits": {
            "smithy.api#documentation": "List of firing triggers IDs.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsWorkerActionsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsWorkerActionsValue"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsWorkerNeoEventsItemBlockingTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsWorkerNeoEventsItemFiringTriggersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsWorkerNeoEventsItem": {
      "type": "structure",
      "members": {
        "actionType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tool event type.",
            "smithy.api#required": {}
          }
        },
        "blockingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsWorkerNeoEventsItemBlockingTriggersList",
          "traits": {
            "smithy.api#documentation": "List of blocking triggers IDs.",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Event payload.",
            "smithy.api#required": {}
          }
        },
        "firingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsWorkerNeoEventsItemFiringTriggersList",
          "traits": {
            "smithy.api#documentation": "List of firing triggers IDs.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsWorkerNeoEventsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsWorkerNeoEventsItem"
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestToolsWorker": {
      "type": "structure",
      "members": {
        "blockingTriggers": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsWorkerBlockingTriggersList",
          "traits": {
            "smithy.api#documentation": "List of blocking trigger IDs.",
            "smithy.api#required": {}
          }
        },
        "component": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tool's internal name.",
            "smithy.api#required": {}
          }
        },
        "defaultFields": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsWorkerDefaultFields",
          "traits": {
            "smithy.api#documentation": "Default fields for tool's actions.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether tool is enabled.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tool's name defined by the user.",
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsWorkerPermissionsList",
          "traits": {
            "smithy.api#documentation": "List of permissions granted to the component.",
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsWorkerSettings",
          "traits": {
            "smithy.api#documentation": "Tool's settings.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsWorkerType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "worker": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsWorkerWorker",
          "traits": {
            "smithy.api#documentation": "Cloudflare worker that acts as a managed component.",
            "smithy.api#required": {}
          }
        },
        "actions": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsWorkerActionsMap",
          "traits": {
            "smithy.api#documentation": "Actions configured on a tool. Either this or neoEvents field is required."
          }
        },
        "defaultPurpose": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default consent purpose ID."
          }
        },
        "neoEvents": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsWorkerNeoEventsList",
          "traits": {
            "smithy.api#documentation": "DEPRECATED - List of actions configured on a tool. Either this or actions field is required. If both are present, actions field will take precedence."
          }
        },
        "vendorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Vendor name for TCF compliant consent modal, required for Custom Managed Components and Custom HTML tool with a defaultPurpose assigned."
          }
        },
        "vendorPolicyUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Vendor's Privacy Policy URL for TCF compliant consent modal, required for Custom Managed Components and Custom HTML tool with a defaultPurpose assigned."
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTools": {
      "type": "union",
      "members": {
        "ZarazManagedComponent": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsZarazManagedComponent"
        },
        "Worker": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestToolsWorker"
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazLoadRuleOp": {
      "type": "enum",
      "members": {
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINS"
          }
        },
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQUALS"
          }
        },
        "STARTS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARTS_WITH"
          }
        },
        "ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDS_WITH"
          }
        },
        "MATCH_REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_REGEX"
          }
        },
        "NOT_MATCH_REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_MATCH_REGEX"
          }
        },
        "GREATER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN"
          }
        },
        "GREATER_THAN_OR_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN_OR_EQUAL"
          }
        },
        "LESS_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN"
          }
        },
        "LESS_THAN_OR_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN_OR_EQUAL"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazLoadRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "match": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "op": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazLoadRuleOp",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazClickListenerRuleAction": {
      "type": "enum",
      "members": {
        "CLICKLISTENER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clickListener"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazClickListenerRuleSettingsType": {
      "type": "enum",
      "members": {
        "XPATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xpath"
          }
        },
        "CSS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "css"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazClickListenerRuleSettings": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazClickListenerRuleSettingsType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "waitForTags": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazClickListenerRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazClickListenerRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazClickListenerRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazTimerRuleAction": {
      "type": "enum",
      "members": {
        "TIMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "timer"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazTimerRuleSettings": {
      "type": "structure",
      "members": {
        "interval": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazTimerRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazTimerRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazTimerRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazFormSubmissionRuleAction": {
      "type": "enum",
      "members": {
        "FORMSUBMISSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "formSubmission"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazFormSubmissionRuleSettings": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "validate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazFormSubmissionRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazFormSubmissionRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazFormSubmissionRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazVariableMatchRuleAction": {
      "type": "enum",
      "members": {
        "VARIABLEMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "variableMatch"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazVariableMatchRuleSettings": {
      "type": "structure",
      "members": {
        "match": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "variable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazVariableMatchRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazVariableMatchRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazVariableMatchRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazScrollDepthRuleAction": {
      "type": "enum",
      "members": {
        "SCROLLDEPTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scrollDepth"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazScrollDepthRuleSettings": {
      "type": "structure",
      "members": {
        "positions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazScrollDepthRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazScrollDepthRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazScrollDepthRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazElementVisibilityRuleAction": {
      "type": "enum",
      "members": {
        "ELEMENTVISIBILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elementVisibility"
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazElementVisibilityRuleSettings": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazElementVisibilityRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazElementVisibilityRuleAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItemZarazElementVisibilityRuleSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.zaraz#ConfigUpdateRequestTriggersValueExcludeRulesItem": {
[...]
