{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.github.actions#GetActionsCacheRetentionLimitForEnterpriseRequest": {
      "type": "structure",
      "members": {
        "enterprise": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The slug version of the enterprise name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.actions#ActionsCacheRetentionLimitForEnterprise": {
      "type": "structure",
      "members": {
        "max_cache_retention_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "For repositories & organizations in an enterprise, the maximum duration, in days, for which caches in a repository may be retained."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GitHub Actions cache retention policy for an enterprise."
      }
    },
    "com.github.actions#GetActionsCacheRetentionLimitForEnterprise": {
      "type": "operation",
      "input": {
        "target": "com.github.actions#GetActionsCacheRetentionLimitForEnterpriseRequest"
      },
      "output": {
        "target": "com.github.actions#ActionsCacheRetentionLimitForEnterprise"
      },
      "errors": [
        {
          "target": "com.github.actions#Forbidden"
        },
        {
          "target": "com.github.actions#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/enterprises/{enterprise}/actions/cache/retention-limit",
          "code": 200
        },
        "smithy.api#documentation": "Get GitHub Actions cache retention limit for an enterprise\n\nGets GitHub Actions cache retention limit for an enterprise. All organizations and repositories under this\nenterprise may not set a higher cache retention limit.\n\nOAuth tokens and personal access tokens (classic) need the `admin:enterprise` scope to use this endpoint."
      }
    },
    "com.github.actions#SetActionsCacheRetentionLimitForEnterpriseRequest": {
      "type": "structure",
      "members": {
        "enterprise": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The slug version of the enterprise name."
          }
        },
        "max_cache_retention_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "For repositories & organizations in an enterprise, the maximum duration, in days, for which caches in a repository may be retained."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.actions#SetActionsCacheRetentionLimitForEnterprise": {
      "type": "operation",
      "input": {
        "target": "com.github.actions#SetActionsCacheRetentionLimitForEnterpriseRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.github.actions#BadRequest"
        },
        {
          "target": "com.github.actions#Forbidden"
        },
        {
          "target": "com.github.actions#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/enterprises/{enterprise}/actions/cache/retention-limit",
          "code": 200
        },
        "smithy.api#documentation": "Set GitHub Actions cache retention limit for an enterprise\n\nSets GitHub Actions cache retention limit for an enterprise. All organizations and repositories under this\nenterprise may not set a higher cache retention limit.\n\nOAuth tokens and personal access tokens (classic) need the `admin:enterprise` scope to use this endpoint."
      }
    },
    "com.github.actions#GetActionsCacheStorageLimitForEnterpriseRequest": {
      "type": "structure",
      "members": {
        "enterprise": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The slug version of the enterprise name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.actions#ActionsCacheStorageLimitForEnterprise": {
      "type": "structure",
      "members": {
        "max_cache_size_gb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "For repositories & organizations in an enterprise, the maximum size limit for the sum of all caches in a repository, in gigabytes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GitHub Actions cache storage policy for an enterprise."
      }
    },
    "com.github.actions#GetActionsCacheStorageLimitForEnterprise": {
      "type": "operation",
      "input": {
        "target": "com.github.actions#GetActionsCacheStorageLimitForEnterpriseRequest"
      },
      "output": {
        "target": "com.github.actions#ActionsCacheStorageLimitForEnterprise"
      },
      "errors": [
        {
          "target": "com.github.actions#Forbidden"
        },
        {
          "target": "com.github.actions#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/enterprises/{enterprise}/actions/cache/storage-limit",
          "code": 200
        },
        "smithy.api#documentation": "Get GitHub Actions cache storage limit for an enterprise\n\nGets GitHub Actions cache storage limit for an enterprise. All organizations and repositories under this\nenterprise may not set a higher cache storage limit.\n\nOAuth tokens and personal access tokens (classic) need the `admin:enterprise` scope to use this endpoint."
      }
    },
    "com.github.actions#SetActionsCacheStorageLimitForEnterpriseRequest": {
      "type": "structure",
      "members": {
        "enterprise": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The slug version of the enterprise name."
          }
        },
        "max_cache_size_gb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "For repositories & organizations in an enterprise, the maximum size limit for the sum of all caches in a repository, in gigabytes."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.actions#SetActionsCacheStorageLimitForEnterprise": {
      "type": "operation",
      "input": {
        "target": "com.github.actions#SetActionsCacheStorageLimitForEnterpriseRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.github.actions#BadRequest"
        },
        {
          "target": "com.github.actions#Forbidden"
        },
        {
          "target": "com.github.actions#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/enterprises/{enterprise}/actions/cache/storage-limit",
          "code": 200
        },
        "smithy.api#documentation": "Set GitHub Actions cache storage limit for an enterprise\n\nSets GitHub Actions cache storage limit for an enterprise. All organizations and repositories under this\nenterprise may not set a higher cache storage limit.\n\nOAuth tokens and personal access tokens (classic) need the `admin:enterprise` scope to use this endpoint."
      }
    },
    "com.github.actions#GetActionsCacheRetentionLimitForOrganizationRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.actions#ActionsCacheRetentionLimitForOrganization": {
      "type": "structure",
      "members": {
        "max_cache_retention_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "For repositories in this organization, the maximum duration, in days, for which caches in a repository may be retained."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GitHub Actions cache retention policy for an organization."
      }
    },
    "com.github.actions#GetActionsCacheRetentionLimitForOrganization": {
      "type": "operation",
      "input": {
        "target": "com.github.actions#GetActionsCacheRetentionLimitForOrganizationRequest"
      },
      "output": {
        "target": "com.github.actions#ActionsCacheRetentionLimitForOrganization"
      },
      "errors": [
        {
          "target": "com.github.actions#Forbidden"
        },
        {
          "target": "com.github.actions#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organizations/{org}/actions/cache/retention-limit",
          "code": 200
        },
        "smithy.api#documentation": "Get GitHub Actions cache retention limit for an organization\n\nGets GitHub Actions cache retention limit for an organization. All repositories under this\norganization may not set a higher cache retention limit.\n\nOAuth tokens and personal access tokens (classic) need the `admin:organization` scope to use this endpoint."
      }
    },
    "com.github.actions#SetActionsCacheRetentionLimitForOrganizationRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "max_cache_retention_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "For repositories in this organization, the maximum duration, in days, for which caches in a repository may be retained."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.actions#SetActionsCacheRetentionLimitForOrganization": {
      "type": "operation",
      "input": {
        "target": "com.github.actions#SetActionsCacheRetentionLimitForOrganizationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.github.actions#BadRequest"
        },
        {
          "target": "com.github.actions#Forbidden"
        },
        {
          "target": "com.github.actions#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/organizations/{org}/actions/cache/retention-limit",
          "code": 200
        },
        "smithy.api#documentation": "Set GitHub Actions cache retention limit for an organization\n\nSets GitHub Actions cache retention limit for an organization. All repositories under this\norganization may not set a higher cache retention limit.\n\nOAuth tokens and personal access tokens (classic) need the `admin:organization` scope to use this endpoint."
      }
    },
    "com.github.actions#GetActionsCacheStorageLimitForOrganizationRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.actions#ActionsCacheStorageLimitForOrganization": {
      "type": "structure",
      "members": {
        "max_cache_size_gb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "For repositories in the organization, the maximum size limit for the sum of all caches in a repository, in gigabytes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GitHub Actions cache storage policy for an organization."
      }
    },
    "com.github.actions#GetActionsCacheStorageLimitForOrganization": {
      "type": "operation",
      "input": {
        "target": "com.github.actions#GetActionsCacheStorageLimitForOrganizationRequest"
      },
      "output": {
        "target": "com.github.actions#ActionsCacheStorageLimitForOrganization"
      },
      "errors": [
        {
          "target": "com.github.actions#Forbidden"
        },
        {
          "target": "com.github.actions#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organizations/{org}/actions/cache/storage-limit",
          "code": 200
        },
        "smithy.api#documentation": "Get GitHub Actions cache storage limit for an organization\n\nGets GitHub Actions cache storage limit for an organization. All repositories under this\norganization may not set a higher cache storage limit.\n\nOAuth tokens and personal access tokens (classic) need the `admin:organization` scope to use this endpoint."
      }
    },
    "com.github.actions#SetActionsCacheStorageLimitForOrganizationRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "max_cache_size_gb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "For repositories in the organization, the maximum size limit for the sum of all caches in a repository, in gigabytes."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.actions#SetActionsCacheStorageLimitForOrganization": {
      "type": "operation",
      "input": {
        "target": "com.github.actions#SetActionsCacheStorageLimitForOrganizationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.github.actions#BadRequest"
        },
        {
          "target": "com.github.actions#Forbidden"
        },
        {
          "target": "com.github.actions#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/organizations/{org}/actions/cache/storage-limit",
          "code": 200
        },
        "smithy.api#documentation": "Set GitHub Actions cache storage limit for an organization\n\nSets GitHub Actions cache storage limit for an organization. All organizations and repositories under this\norganization may not set a higher cache storage limit.\n\nOAuth tokens and personal access tokens (classic) need the `admin:organization` scope to use this endpoint."
      }
    },
    "com.github.actions#GetActionsCacheUsageForOrgRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.actions#ActionsCacheUsageOrgEnterprise": {
      "type": "structure",
      "members": {
        "total_active_caches_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The count of active caches across all repositories of an enterprise or an organization.",
            "smithy.api#required": {}
          }
        },
        "total_active_caches_size_in_bytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total size in bytes of all active cache items across all repositories of an enterprise or an organization.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.actions#GetActionsCacheUsageForOrg": {
      "type": "operation",
      "input": {
        "target": "com.github.actions#GetActionsCacheUsageForOrgRequest"
      },
      "output": {
        "target": "com.github.actions#ActionsCacheUsageOrgEnterprise"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/actions/cache/usage",
          "code": 200
        },
        "smithy.api#documentation": "Get GitHub Actions cache usage for an organization\n\nGets the total GitHub Actions cache usage for an organization.\nThe data fetched using this API is refreshed approximately every 5 minutes, so values returned from this endpoint may take at least 5 minutes to get updated.\n\nOAuth tokens and personal access tokens (classic) need the `read:org` scope to use this endpoint."
      }
    },
    "com.github.actions#GetActionsCacheUsageByRepoForOrgRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "The number of results per page (max 100). For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "The page number of the results to fetch. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.actions#ActionsCacheUsageByRepository": {
      "type": "structure",
      "members": {
        "full_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The repository owner and name for the cache usage being shown.",
            "smithy.api#required": {}
          }
        },
        "active_caches_size_in_bytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The sum of the size in bytes of all the active cache items in the repository.",
            "smithy.api#required": {}
          }
        },
        "active_caches_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of active caches in the repository.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GitHub Actions Cache Usage by repository."
      }
    },
    "com.github.actions#GetActionsCacheUsageByRepoForOrgResponseRepositoryCacheUsagesList": {
      "type": "list",
      "member": {
        "target": "com.github.actions#ActionsCacheUsageByRepository"
      },
      "traits": {}
    },
    "com.github.actions#GetActionsCacheUsageByRepoForOrgResponse": {
      "type": "structure",
      "members": {
        "total_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repository_cache_usages": {
          "target": "com.github.actions#GetActionsCacheUsageByRepoForOrgResponseRepositoryCacheUsagesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.actions#GetActionsCacheUsageByRepoForOrg": {
      "type": "operation",
      "input": {
        "target": "com.github.actions#GetActionsCacheUsageByRepoForOrgRequest"
      },
      "output": {
        "target": "com.github.actions#GetActionsCacheUsageByRepoForOrgResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/actions/cache/usage-by-repository",
          "code": 200
        },
        "smithy.api#documentation": "List repositories with GitHub Actions cache usage for an organization\n\nLists repositories and their GitHub Actions cache usage for an organization.\nThe data fetched using this API is refreshed approximately every 5 minutes, so values returned from this endpoint may take at least 5 minutes to get updated.\n\nOAuth tokens and personal access tokens (classic) need the `read:org` scope to use this endpoint."
      }
    },
    "com.github.actions#ListHostedRunnersForOrgRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "The number of results per page (max 100). For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "The page number of the results to fetch. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.actions#ActionsHostedRunner": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the hosted runner.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the hosted runner.",
            "smithy.api#required": {}
          }
        },
        "runner_group_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the group that the hosted runner belongs to."
          }
        },
        "image_details": {
          "target": "com.github.actions#NullableActionsHostedRunnerPoolImage",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "machine_size_details": {
          "target": "com.github.actions#ActionsHostedRunnerMachineSpec",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.github.actions#ActionsHostedRunnerStatus",
          "traits": {
            "smithy.api#documentation": "The status of the runner.",
            "smithy.api#required": {}
          }
        },
        "platform": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operating system of the image.",
            "smithy.api#required": {}
          }
        },
        "maximum_runners": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum amount of hosted runners. Runners will not scale automatically above this number. Use this setting to limit your cost."
          }
        },
        "public_ip_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether public IP is enabled for the hosted runners.",
            "smithy.api#required": {}
          }
        },
        "public_ips": {
          "target": "com.github.actions#ActionsHostedRunnerPublicIpsList",
          "traits": {
            "smithy.api#documentation": "The public IP ranges when public IP is enabled for the hosted runners."
          }
        },
        "last_active_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the runner was last used, in ISO 8601 format.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "image_gen": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether custom image generation is enabled for the hosted runners."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Github-hosted hosted runner."
      }
    },
    "com.github.actions#NullableActionsHostedRunnerPoolImage": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the image. Use this ID for the `image` parameter when creating a new larger runner.",
            "smithy.api#required": {}
          }
        },
        "size_gb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Image size in GB.",
            "smithy.api#required": {}
          }
        },
        "display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for this image.",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.github.actions#NullableActionsHostedRunnerPoolImageSource",
          "traits": {
            "smithy.api#documentation": "The image provider.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The image version of the hosted runner pool."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides details of a hosted runner image"
      }
    },
    "com.github.actions#NullableActionsHostedRunnerPoolImageSource": {
      "type": "enum",
      "members": {
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "PARTNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "partner"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The image provider."
      }
    },
    "com.github.actions#ActionsHostedRunnerMachineSpec": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID used for the `size` parameter when creating a new runner.",
            "smithy.api#required": {}
          }
        },
        "cpu_cores": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of cores.",
            "smithy.api#required": {}
          }
        },
        "memory_gb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The available RAM for the machine spec.",
            "smithy.api#required": {}
          }
        },
        "storage_gb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The available SSD storage for the machine spec.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides details of a particular machine spec."
      }
    },
    "com.github.actions#ActionsHostedRunnerStatus": {
      "type": "enum",
      "members": {
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ready"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioning"
          }
        },
        "SHUTDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Shutdown"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "STUCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Stuck"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the runner."
      }
    },
    "com.github.actions#PublicIp": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether public IP is enabled."
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The prefix for the public IP."
          }
        },
        "length": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The length of the IP prefix."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides details of Public IP for a GitHub-hosted larger runners"
      }
    },
    "com.github.actions#ActionsHostedRunnerPublicIpsList": {
      "type": "list",
      "member": {
        "target": "com.github.actions#PublicIp"
      },
      "traits": {
        "smithy.api#documentation": "The public IP ranges when public IP is enabled for the hosted runners."
      }
    },
    "com.github.actions#ListHostedRunnersForOrgResponseRunnersList": {
      "type": "list",
      "member": {
        "target": "com.github.actions#ActionsHostedRunner"
      },
      "traits": {}
    },
    "com.github.actions#ListHostedRunnersForOrgResponse": {
      "type": "structure",
      "members": {
        "total_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "runners": {
          "target": "com.github.actions#ListHostedRunnersForOrgResponseRunnersList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.actions#ListHostedRunnersForOrg": {
      "type": "operation",
      "input": {
        "target": "com.github.actions#ListHostedRunnersForOrgRequest"
      },
      "output": {
        "target": "com.github.actions#ListHostedRunnersForOrgResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/actions/hosted-runners",
          "code": 200
        },
        "smithy.api#documentation": "List GitHub-hosted runners for an organization\n\nLists all GitHub-hosted runners configured in an organization.\n\nOAuth app tokens and personal access tokens (classic) need the `manage_runner:org` scope to use this endpoint."
      }
    },
    "com.github.actions#CreateHostedRunnerForOrgRequestImageSource": {
      "type": "enum",
      "members": {
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "PARTNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "partner"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The source of the runner image."
      }
    },
    "com.github.actions#CreateHostedRunnerForOrgRequestImage": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the runner image."
          }
        },
        "source": {
          "target": "com.github.actions#CreateHostedRunnerForOrgRequestImageSource",
          "traits": {
            "smithy.api#documentation": "The source of the runner image."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the runner image to deploy. This is relevant only for runners using custom images.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The image of runner. To list all available images, use `GET /actions/hosted-runners/images/github-owned` or `GET /actions/hosted-runners/images/partner`."
      }
    },
    "com.github.actions#CreateHostedRunnerForOrgRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the runner. Must be between 1 and 64 characters and may only contain upper and lowercase letters a-z, numbers 0-9, '.', '-', and '_'.",
            "smithy.api#required": {}
          }
        },
        "image": {
          "target": "com.github.actions#CreateHostedRunnerForOrgRequestImage",
          "traits": {
            "smithy.api#documentation": "The image of runner. To list all available images, use `GET /actions/hosted-runners/images/github-owned` or `GET /actions/hosted-runners/images/partner`.",
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The machine size of the runner. To list available sizes, use `GET actions/hosted-runners/machine-sizes`",
            "smithy.api#required": {}
          }
        },
        "runner_group_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The existing runner group to add this runner to.",
            "smithy.api#required": {}
          }
        },
        "maximum_runners": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum amount of runners to scale up to. Runners will not auto-scale above this number. Use this setting to limit your cost."
          }
        },
        "enable_static_ip": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this runner should be created with a static public IP. Note limit on account. To list limits on account, use `GET actions/hosted-runners/limits`"
          }
        },
        "image_gen": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this runner should be used to generate custom images."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.actions#CreateHostedRunnerForOrg": {
      "type": "operation",
      "input": {
        "target": "com.github.actions#CreateHostedRunnerForOrgRequest"
      },
      "output": {
        "target": "com.github.actions#ActionsHostedRunner"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/orgs/{org}/actions/hosted-runners",
          "code": 200
        },
        "smithy.api#documentation": "Create a GitHub-hosted runner for an organization\n\nCreates a GitHub-hosted runner for an organization.\nOAuth tokens and personal access tokens (classic) need the `manage_runners:org` scope to use this endpoint."
      }
    },
    "com.github.actions#ListCustomImagesForOrgRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.actions#ActionsHostedRunnerCustomImage": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the image. Use this ID for the `image` parameter when creating a new larger runner.",
            "smithy.api#required": {}
          }
        },
        "platform": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operating system of the image.",
            "smithy.api#required": {}
          }
        },
        "total_versions_size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total size of all the image versions in GB.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for this image.",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The image provider.",
            "smithy.api#required": {}
          }
        },
        "versions_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of image versions associated with the image.",
            "smithy.api#required": {}
          }
        },
        "latest_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The latest image version associated with the image.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of image versions associated with the image.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides details of a custom runner image"
      }
    },
    "com.github.actions#ListCustomImagesForOrgResponseImagesList": {
      "type": "list",
      "member": {
        "target": "com.github.actions#ActionsHostedRunnerCustomImage"
      },
      "traits": {}
    },
    "com.github.actions#ListCustomImagesForOrgResponse": {
      "type": "structure",
      "members": {
        "total_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "images": {
          "target": "com.github.actions#ListCustomImagesForOrgResponseImagesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.actions#ListCustomImagesForOrg": {
      "type": "operation",
      "input": {
        "target": "com.github.actions#ListCustomImagesForOrgRequest"
      },
      "output": {
        "target": "com.github.actions#ListCustomImagesForOrgResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/actions/hosted-runners/images/custom",
          "code": 200
        },
        "smithy.api#documentation": "List custom images for an organization\n\nList custom images for an organization.\n\nOAuth tokens and personal access tokens (classic) need the `manage_runners:org` scope to use this endpoint."
      }
    },
    "com.github.actions#GetCustomImageForOrgRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "image_definition_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Image definition ID of custom image"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.actions#GetCustomImageForOrg": {
      "type": "operation",
      "input": {
        "target": "com.github.actions#GetCustomImageForOrgRequest"
      },
      "output": {
        "target": "com.github.actions#ActionsHostedRunnerCustomImage"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/actions/hosted-runners/images/custom/{image_definition_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a custom image definition for GitHub Actions Hosted Runners\n\nGet a custom image definition for GitHub Actions Hosted Runners.\n\nOAuth tokens and personal access tokens (classic) need the `manage_runners:org` scope to use this endpoint."
      }
    },
    "com.github.actions#DeleteCustomImageFromOrgRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "image_definition_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Image definition ID of custom image"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.actions#DeleteCustomImageFromOrg": {
      "type": "operation",
      "input": {
        "target": "com.github.actions#DeleteCustomImageFromOrgRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/orgs/{org}/actions/hosted-runners/images/custom/{image_definition_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a custom image from the organization\n\nDelete a custom image from the organization.\n\nOAuth tokens and personal access tokens (classic) need the `manage_runners:org` scope to use this endpoint."
      }
    },
    "com.github.actions#ListCustomImageVersionsForOrgRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "image_definition_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Image definition ID of custom image"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.actions#ActionsHostedRunnerCustomImageVersion": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of image.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The state of image version.",
            "smithy.api#required": {}
          }
        },
        "size_gb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Image version size in GB.",
            "smithy.api#required": {}
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation date time of the image version.",
            "smithy.api#required": {}
          }
        },
        "state_details": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The image version status details.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides details of a hosted runner custom image version"
      }
    },
    "com.github.actions#ListCustomImageVersionsForOrgResponseImageVersionsList": {
      "type": "list",
      "member": {
        "target": "com.github.actions#ActionsHostedRunnerCustomImageVersion"
      },
      "traits": {}
    },
    "com.github.actions#ListCustomImageVersionsForOrgResponse": {
      "type": "structure",
      "members": {
        "total_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "image_versions": {
          "target": "com.github.actions#ListCustomImageVersionsForOrgResponseImageVersionsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.actions#ListCustomImageVersionsForOrg": {
      "type": "operation",
      "input": {
        "target": "com.github.actions#ListCustomImageVersionsForOrgRequest"
      },
      "output": {
        "target": "com.github.actions#ListCustomImageVersionsForOrgResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/actions/hosted-runners/images/custom/{image_definition_id}/versions",
          "code": 200
        },
        "smithy.api#documentation": "List image versions of a custom image for an organization\n\nList image versions of a custom image for an organization.\n\nOAuth tokens and personal access tokens (classic) need the `manage_runners:org` scope to use this endpoint."
      }
    },
    "com.github.actions#GetCustomImageVersionForOrgRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "image_definition_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Image definition ID of custom image"
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Version of a custom image"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.actions#GetCustomImageVersionForOrg": {
      "type": "operation",
      "input": {
        "target": "com.github.actions#GetCustomImageVersionForOrgRequest"
      },
      "output": {
        "target": "com.github.actions#ActionsHostedRunnerCustomImageVersion"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/actions/hosted-runners/images/custom/{image_definition_id}/versions/{version}",
          "code": 200
        },
        "smithy.api#documentation": "Get an image version of a custom image for GitHub Actions Hosted Runners\n\nGet an image version of a custom image for GitHub Actions Hosted Runners.\n\nOAuth tokens and personal access tokens (classic) need the `manage_runners:org` scope to use this endpoint."
      }
    },
    "com.github.actions#DeleteCustomImageVersionFromOrgRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "image_definition_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Image definition ID of custom image"
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Version of a custom image"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.actions#DeleteCustomImageVersionFromOrg": {
      "type": "operation",
      "input": {
        "target": "com.github.actions#DeleteCustomImageVersionFromOrgRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/orgs/{org}/actions/hosted-runners/images/custom/{image_definition_id}/versions/{version}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an image version of custom image from the organization\n\nDelete an image version of custom image from the organization.\n\nOAuth tokens and personal access tokens (classic) need the `manage_runners:org` scope to use this endpoint."
      }
    },
    "com.github.actions#GetHostedRunnersGithubOwnedImagesForOrgRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.actions#ActionsHostedRunnerCuratedImage": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the image. Use this ID for the `image` parameter when creating a new larger runner.",
            "smithy.api#required": {}
          }
        },
        "platform": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operating system of the image.",
            "smithy.api#required": {}
          }
        },
        "size_gb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Image size in GB.",
            "smithy.api#required": {}
          }
        },
        "display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for this image.",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.github.actions#ActionsHostedRunnerCuratedImageSource",
          "traits": {
            "smithy.api#documentation": "The image provider.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides details of a hosted runner image"
      }
    },
    "com.github.actions#ActionsHostedRunnerCuratedImageSource": {
      "type": "enum",
      "members": {
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "PARTNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "partner"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The image provider."
      }
    },
    "com.github.actions#GetHostedRunnersGithubOwnedImagesForOrgResponseImagesList": {
      "type": "list",
      "member": {
        "target": "com.github.actions#ActionsHostedRunnerCuratedImage"
      },
      "traits": {}
    },
    "com.github.actions#GetHostedRunnersGithubOwnedImagesForOrgResponse": {
      "type": "structure",
      "members": {
        "total_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "images": {
          "target": "com.github.actions#GetHostedRunnersGithubOwnedImagesForOrgResponseImagesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.actions#GetHostedRunnersGithubOwnedImagesForOrg": {
      "type": "operation",
      "input": {
        "target": "com.github.actions#GetHostedRunnersGithubOwnedImagesForOrgRequest"
      },
      "output": {
        "target": "com.github.actions#GetHostedRunnersGithubOwnedImagesForOrgResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/actions/hosted-runners/images/github-owned",
          "code": 200
        },
        "smithy.api#documentation": "Get GitHub-owned images for GitHub-hosted runners in an organization\n\nGet the list of GitHub-owned images available for GitHub-hosted runners for an organization."
      }
    },
    "com.github.actions#GetHostedRunnersPartnerImagesForOrgRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.actions#GetHostedRunnersPartnerImagesForOrgResponseImagesList": {
      "type": "list",
      "member": {
        "target": "com.github.actions#ActionsHostedRunnerCuratedImage"
      },
      "traits": {}
    },
    "com.github.actions#GetHostedRunnersPartnerImagesForOrgResponse": {
      "type": "structure",
      "members": {
        "total_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "images": {
          "target": "com.github.actions#GetHostedRunnersPartnerImagesForOrgResponseImagesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.actions#GetHostedRunnersPartnerImagesForOrg": {
      "type": "operation",
      "input": {
        "target": "com.github.actions#GetHostedRunnersPartnerImagesForOrgRequest"
      },
      "output": {
        "target": "com.github.actions#GetHostedRunnersPartnerImagesForOrgResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/actions/hosted-runners/images/partner",
          "code": 200
        },
        "smithy.api#documentation": "Get partner images for GitHub-hosted runners in an organization\n\nGet the list of partner images available for GitHub-hosted runners for an organization."
      }
    },
    "com.github.actions#GetHostedRunnersLimitsForOrgRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.actions#ActionsHostedRunnerLimits": {
      "type": "structure",
      "members": {
        "public_ips": {
          "target": "com.github.actions#ActionsHostedRunnerLimitsPublicIps",
          "traits": {
            "smithy.api#documentation": "Provides details of static public IP limits for GitHub-hosted Hosted Runners",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.actions#ActionsHostedRunnerLimitsPublicIps": {
      "type": "structure",
      "members": {
        "maximum": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of static public IP addresses that can be used for Hosted Runners.",
            "smithy.api#required": {}
          }
        },
        "current_usage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The current number of static public IP addresses in use by Hosted Runners.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides details of static public IP limits for GitHub-hosted Hosted Runners"
      }
    },
    "com.github.actions#GetHostedRunnersLimitsForOrg": {
      "type": "operation",
      "input": {
        "target": "com.github.actions#GetHostedRunnersLimitsForOrgRequest"
      },
      "output": {
        "target": "com.github.actions#ActionsHostedRunnerLimits"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/actions/hosted-runners/limits",
          "code": 200
        },
        "smithy.api#documentation": "Get limits on GitHub-hosted runners for an organization\n\nGet the GitHub-hosted runners limits for an organization."
      }
    },
    "com.github.actions#GetHostedRunnersMachineSpecsForOrgRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.actions#GetHostedRunnersMachineSpecsForOrgResponseMachineSpecsList": {
      "type": "list",
      "member": {
        "target": "com.github.actions#ActionsHostedRunnerMachineSpec"
      },
      "traits": {}
    },
    "com.github.actions#GetHostedRunnersMachineSpecsForOrgResponse": {
      "type": "structure",
      "members": {
        "total_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "machine_specs": {
          "target": "com.github.actions#GetHostedRunnersMachineSpecsForOrgResponseMachineSpecsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.actions#GetHostedRunnersMachineSpecsForOrg": {
      "type": "operation",
      "input": {
        "target": "com.github.actions#GetHostedRunnersMachineSpecsForOrgRequest"
      },
      "output": {
        "target": "com.github.actions#GetHostedRunnersMachineSpecsForOrgResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/actions/hosted-runners/machine-sizes",
          "code": 200
        },
        "smithy.api#documentation": "Get GitHub-hosted runners machine specs for an organization\n\nGet the list of machine specs available for GitHub-hosted runners for an organization."
      }
    },
    "com.github.actions#GetHostedRunnersPlatformsForOrgRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.actions#GetHostedRunnersPlatformsForOrgResponsePlatformsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.github.actions#GetHostedRunnersPlatformsForOrgResponse": {
      "type": "structure",
      "members": {
        "total_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "platforms": {
          "target": "com.github.actions#GetHostedRunnersPlatformsForOrgResponsePlatformsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.actions#GetHostedRunnersPlatformsForOrg": {
      "type": "operation",
      "input": {
        "target": "com.github.actions#GetHostedRunnersPlatformsForOrgRequest"
      },
      "output": {
        "target": "com.github.actions#GetHostedRunnersPlatformsForOrgResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/actions/hosted-runners/platforms",
          "code": 200
        },
        "smithy.api#documentation": "Get platforms for GitHub-hosted runners in an organization\n\nGet the list of platforms available for GitHub-hosted runners for an organization."
      }
    },
    "com.github.actions#GetHostedRunnerForOrgRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "hosted_runner_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier of the GitHub-hosted runner."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.actions#GetHostedRunnerForOrg": {
      "type": "operation",
      "input": {
        "target": "com.github.actions#GetHostedRunnerForOrgRequest"
      },
      "output": {
        "target": "com.github.actions#ActionsHostedRunner"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/actions/hosted-runners/{hosted_runner_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a GitHub-hosted runner for an organization\n\nGets a GitHub-hosted runner configured in an organization.\n\nOAuth app tokens and personal access tokens (classic) need the `manage_runners:org` scope to use this endpoint."
      }
    },
    "com.github.actions#UpdateHostedRunnerForOrgRequestImageSource": {
      "type": "enum",
      "members": {
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "PARTNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "partner"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The source type of the runner image to use. Must match the source of the image specified by `image_id`. Can be one of `github`, `partner`, or `custom`."
      }
    },
    "com.github.actions#UpdateHostedRunnerForOrgRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "hosted_runner_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier of the GitHub-hosted runner."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the runner. Must be between 1 and 64 characters and may only contain upper and lowercase letters a-z, numbers 0-9, '.', '-', and '_'."
          }
        },
        "runner_group_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The existing runner group to add this runner to."
          }
        },
        "maximum_runners": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum amount of runners to scale up to. Runners will not auto-scale above this number. Use this setting to limit your cost."
          }
        },
        "enable_static_ip": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this runner should be updated with a static public IP. Note limit on account. To list limits on account, use `GET actions/hosted-runners/limits`"
          }
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The machine size of the runner. To list available sizes, use `GET actions/hosted-runners/machine-sizes`"
          }
        },
        "image_source": {
          "target": "com.github.actions#UpdateHostedRunnerForOrgRequestImageSource",
          "traits": {
            "smithy.api#documentation": "The source type of the runner image to use. Must match the source of the image specified by `image_id`. Can be one of `github`, `partner`, or `custom`."
          }
        },
        "image_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the runner image. To list available images, use `GET /actions/hosted-runners/images/github-owned`, `GET /actions/hosted-runners/images/partner`, or `GET /actions/hosted-runners/images/custom`."
          }
        },
        "image_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the runner image to deploy. This is relevant only for runners using custom images.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "image_gen": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable image generation for this runner pool. When enabled, the runner pool is used to build and publish custom runner images."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.actions#UpdateHostedRunnerForOrg": {
      "type": "operation",
      "input": {
        "target": "com.github.actions#UpdateHostedRunnerForOrgRequest"
      },
      "output": {
        "target": "com.github.actions#ActionsHostedRunner"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/orgs/{org}/actions/hosted-runners/{hosted_runner_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update a GitHub-hosted runner for an organization\n\nUpdates a GitHub-hosted runner for an organization.\nOAuth app tokens and personal access tokens (classic) need the `manage_runners:org` scope to use this endpoint."
      }
    },
    "com.github.actions#DeleteHostedRunnerForOrgRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "hosted_runner_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier of the GitHub-hosted runner."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.actions#DeleteHostedRunnerForOrg": {
      "type": "operation",
      "input": {
        "target": "com.github.actions#DeleteHostedRunnerForOrgRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/orgs/{org}/actions/hosted-runners/{hosted_runner_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a GitHub-hosted runner for an organization\n\nDeletes a GitHub-hosted runner for an organization."
      }
    },
    "com.github.actions#GetGithubActionsPermissionsOrganizationRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.actions#ActionsOrganizationPermissions": {
      "type": "structure",
      "members": {
        "enabled_repositories": {
          "target": "com.github.actions#EnabledRepositories",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "selected_repositories_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to use to get or set the selected repositories that are allowed to run GitHub Actions, when `enabled_repositories` is set to `selected`."
          }
        },
        "allowed_actions": {
          "target": "com.github.actions#AllowedActions"
        },
        "selected_actions_url": {
          "target": "smithy.api#String"
        },
        "sha_pinning_required": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.github.actions#EnabledRepositories": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "SELECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "selected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The policy that controls the repositories in the organization that are allowed to run GitHub Actions."
      }
    },
    "com.github.actions#AllowedActions": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "LOCAL_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "local_only"
          }
        },
        "SELECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "selected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The permissions policy that controls the actions and reusable workflows that are allowed to run."
      }
    },
    "com.github.actions#GetGithubActionsPermissionsOrganization": {
      "type": "operation",
      "input": {
        "target": "com.github.actions#GetGithubActionsPermissionsOrganizationRequest"
      },
      "output": {
        "target": "com.github.actions#ActionsOrganizationPermissions"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/actions/permissions",
          "code": 200
        },
        "smithy.api#documentation": "Get GitHub Actions permissions for an organization\n\nGets the GitHub Actions permissions policy for repositories and allowed actions and reusable workflows in an organization.\n\nOAuth tokens and personal access tokens (classic) need the `admin:org` scope to use this endpoint."
      }
    },
    "com.github.actions#SetGithubActionsPermissionsOrganizationRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "enabled_repositories": {
          "target": "com.github.actions#EnabledRepositories",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "allowed_actions": {
          "target": "com.github.actions#AllowedActions"
        },
        "sha_pinning_required": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.actions#SetGithubActionsPermissionsOrganization": {
      "type": "operation",
      "input": {
        "target": "com.github.actions#SetGithubActionsPermissionsOrganizationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/orgs/{org}/actions/permissions",
          "code": 200
        },
        "smithy.api#documentation": "Set GitHub Actions permissions for an organization\n\nSets the GitHub Actions permissions policy for repositories and allowed actions and reusable workflows in an organization.\n\nOAuth app tokens and personal access tokens (classic) need the `admin:org` scope to use this endpoint."
      }
    },
    "com.github.actions#GetArtifactAndLogRetentionSettingsOrganizationRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.actions#ActionsArtifactAndLogRetentionResponse": {
      "type": "structure",
      "members": {
        "days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of days artifacts and logs are retained",
            "smithy.api#required": {}
          }
        },
        "maximum_allowed_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of days that can be configured",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.actions#GetArtifactAndLogRetentionSettingsOrganization": {
      "type": "operation",
      "input": {
        "target": "com.github.actions#GetArtifactAndLogRetentionSettingsOrganizationRequest"
      },
      "output": {
        "target": "com.github.actions#ActionsArtifactAndLogRetentionResponse"
      },
      "errors": [
        {
          "target": "com.github.actions#Forbidden"
        },
        {
          "target": "com.github.actions#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/actions/permissions/artifact-and-log-retention",
          "code": 200
        },
        "smithy.api#documentation": "Get artifact and log retention settings for an organization\n\nGets artifact and log retention settings for an organization.\n\nOAuth app tokens and personal access tokens (classic) need the `admin:org` scope or the \"Actions policies\" fine-grained permission to use this endpoint."
      }
    },
    "com.github.actions#SetArtifactAndLogRetentionSettingsOrganizationRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of days to retain artifacts and logs",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.actions#SetArtifactAndLogRetentionSettingsOrganization": {
      "type": "operation",
      "input": {
        "target": "com.github.actions#SetArtifactAndLogRetentionSettingsOrganizationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.github.actions#Forbidden"
        },
        {
          "target": "com.github.actions#NotFound"
        },
        {
          "target": "com.github.actions#Conflict"
        },
        {
          "target": "com.github.actions#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/orgs/{org}/actions/permissions/artifact-and-log-retention",
          "code": 200
        },
        "smithy.api#documentation": "Set artifact and log retention settings for an organization\n\nSets artifact and log retention settings for an organization.\n\nOAuth app tokens and personal access tokens (classic) need the `admin:org` scope or the \"Actions policies\" fine-grained permission to use this endpoint."
      }
    },
    "com.github.actions#GetForkPrContributorApprovalPermissionsOrganizationRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.actions#ActionsForkPrContributorApproval": {
      "type": "structure",
      "members": {
        "approval_policy": {
          "target": "com.github.actions#ActionsForkPrContributorApprovalApprovalPolicy",
          "traits": {
            "smithy.api#documentation": "The policy that controls when fork PR workflows require approval from a maintainer.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.actions#ActionsForkPrContributorApprovalApprovalPolicy": {
      "type": "enum",
      "members": {
        "FIRST_TIME_CONTRIBUTORS_NEW_TO_GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "first_time_contributors_new_to_github"
          }
        },
        "FIRST_TIME_CONTRIBUTORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "first_time_contributors"
          }
        },
        "ALL_EXTERNAL_CONTRIBUTORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all_external_contributors"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The policy that controls when fork PR workflows require approval from a maintainer."
      }
    },
    "com.github.actions#GetForkPrContributorApprovalPermissionsOrganization": {
      "type": "operation",
      "input": {
        "target": "com.github.actions#GetForkPrContributorApprovalPermissionsOrganizationRequest"
      },
      "output": {
        "target": "com.github.actions#ActionsForkPrContributorApproval"
      },
      "errors": [
        {
          "target": "com.github.actions#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/actions/permissions/fork-pr-contributor-approval",
          "code": 200
        },
        "smithy.api#documentation": "Get fork PR contributor approval permissions for an organization\n\nGets the fork PR contributor approval policy for an organization.\n\nOAuth app tokens and personal access tokens (classic) need the `admin:org` scope or the \"Actions policies\" fine-grained permission to use this endpoint."
      }
    },
    "com.github.actions#SetForkPrContributorApprovalPermissionsOrganizationRequestApprovalPolicy": {
      "type": "enum",
      "members": {
        "FIRST_TIME_CONTRIBUTORS_NEW_TO_GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "first_time_contributors_new_to_github"
          }
        },
        "FIRST_TIME_CONTRIBUTORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "first_time_contributors"
          }
        },
        "ALL_EXTERNAL_CONTRIBUTORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all_external_contributors"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The policy that controls when fork PR workflows require approval from a maintainer."
      }
    },
    "com.github.actions#SetForkPrContributorApprovalPermissionsOrganizationRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "approval_policy": {
          "target": "com.github.actions#SetForkPrContributorApprovalPermissionsOrganizationRequestApprovalPolicy",
          "traits": {
            "smithy.api#documentation": "The policy that controls when fork PR workflows require approval from a maintainer.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.actions#SetForkPrContributorApprovalPermissionsOrganization": {
      "type": "operation",
      "input": {
        "target": "com.github.actions#SetForkPrContributorApprovalPermissionsOrganizationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.github.actions#NotFound"
        },
        {
          "target": "com.github.actions#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/orgs/{org}/actions/permissions/fork-pr-contributor-approval",
          "code": 200
        },
        "smithy.api#documentation": "Set fork PR contributor approval permissions for an organization\n\nSets the fork PR contributor approval policy for an organization.\n\nOAuth app tokens and personal access tokens (classic) need the `admin:org` scope to use this endpoint."
      }
    },
    "com.github.actions#GetPrivateRepoForkPrWorkflowsSettingsOrganizationRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.actions#ActionsForkPrWorkflowsPrivateRepos": {
      "type": "structure",
      "members": {
        "run_workflows_from_fork_pull_requests": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether workflows triggered by pull requests from forks are allowed to run on private repositories.",
            "smithy.api#required": {}
          }
        },
        "send_write_tokens_to_workflows": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether GitHub Actions can create pull requests or submit approving pull request reviews from a workflow triggered by a fork pull request.",
            "smithy.api#required": {}
          }
        },
        "send_secrets_and_variables": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to make secrets and variables available to workflows triggered by pull requests from forks.",
            "smithy.api#required": {}
          }
        },
        "require_approval_for_fork_pr_workflows": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether workflows triggered by pull requests from forks require approval from a repository administrator to run.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.actions#GetPrivateRepoForkPrWorkflowsSettingsOrganization": {
      "type": "operation",
      "input": {
        "target": "com.github.actions#GetPrivateRepoForkPrWorkflowsSettingsOrganizationRequest"
      },
      "output": {
        "target": "com.github.actions#ActionsForkPrWorkflowsPrivateRepos"
      },
      "errors": [
        {
          "target": "com.github.actions#Forbidden"
        },
        {
          "target": "com.github.actions#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/actions/permissions/fork-pr-workflows-private-repos",
          "code": 200
        },
        "smithy.api#documentation": "Get private repo fork PR workflow settings for an organization\n\nGets the settings for whether workflows from fork pull requests can run on private repositories in an organization."
      }
    },
    "com.github.actions#SetPrivateRepoForkPrWorkflowsSettingsOrganizationRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "run_workflows_from_fork_pull_requests": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether workflows triggered by pull requests from forks are allowed to run on private repositories.",
            "smithy.api#required": {}
          }
        },
        "send_write_tokens_to_workflows": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether GitHub Actions can create pull requests or submit approving pull request reviews from a workflow triggered by a fork pull request."
          }
        },
        "send_secrets_and_variables": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to make secrets and variables available to workflows triggered by pull requests from forks."
          }
        },
        "require_approval_for_fork_pr_workflows": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether workflows triggered by pull requests from forks require approval from a repository administrator to run."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.actions#SetPrivateRepoForkPrWorkflowsSettingsOrganization": {
      "type": "operation",
      "input": {
        "target": "com.github.actions#SetPrivateRepoForkPrWorkflowsSettingsOrganizationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.github.actions#Forbidden"
        },
        {
          "target": "com.github.actions#NotFound"
        },
        {
          "target": "com.github.actions#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/orgs/{org}/actions/permissions/fork-pr-workflows-private-repos",
          "code": 200
        },
        "smithy.api#documentation": "Set private repo fork PR workflow settings for an organization\n\nSets the settings for whether workflows from fork pull requests can run on private repositories in an organization."
      }
    },
    "com.github.actions#ListSelectedRepositoriesEnabledGithubActionsOrganizationRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "The number of results per page (max 100). For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "The page number of the results to fetch. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.actions#Repository": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the repository",
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the repository.",
            "smithy.api#required": {}
          }
        },
        "full_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "license": {
          "target": "com.github.actions#NullableLicenseSimple",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "forks": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.github.actions#RepositoryPermissions"
        },
        "owner": {
          "target": "com.github.actions#SimpleUser",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the repository is private or public.",
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "fork": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "archive_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "assignees_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "blobs_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branches_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "collaborators_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "comments_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "commits_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "compare_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "contents_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "contributors_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deployments_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "downloads_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "forks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "git_commits_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "git_refs_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "git_tags_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "git_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "issue_comment_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "issue_events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "issues_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "keys_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "labels_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "languages_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "merges_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "milestones_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "notifications_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pulls_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "releases_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ssh_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "stargazers_url": {
[...]
