{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.github.apps#Integration": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the GitHub app",
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug name of the GitHub app"
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "client_id": {
          "target": "smithy.api#String"
        },
        "owner": {
          "target": "com.github.apps#IntegrationOwner",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the GitHub app",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "external_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.github.apps#IntegrationPermissions",
          "traits": {
            "smithy.api#documentation": "The set of permissions for the GitHub app",
            "smithy.api#required": {}
          }
        },
        "events": {
          "target": "com.github.apps#IntegrationEventsList",
          "traits": {
            "smithy.api#documentation": "The list of events for the GitHub app. Note that the `installation_target`, `security_advisory`, and `meta` events are not included because they are global events and not specific to an installation.",
            "smithy.api#required": {}
          }
        },
        "installations_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of installations associated with the GitHub app. Only returned when the integration is requesting details about itself."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GitHub apps are a new way to extend GitHub. They can be installed directly on organizations and user accounts and granted access to specific repositories. They come with granular permissions and built-in webhooks. GitHub apps are first class actors within GitHub."
      }
    },
    "com.github.apps#SimpleUser": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "login": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatar_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gravatar_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "followers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "following_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gists_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "starred_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subscriptions_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "organizations_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repos_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "received_events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "site_admin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "starred_at": {
          "target": "smithy.api#String"
        },
        "user_view_type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "A GitHub user."
      }
    },
    "com.github.apps#Enterprise": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the enterprise.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "website_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The enterprise's website URL.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the enterprise",
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the enterprise.",
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug url identifier for the enterprise.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "avatar_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An enterprise on GitHub."
      }
    },
    "com.github.apps#IntegrationOwner": {
      "type": "union",
      "members": {
        "SimpleUser": {
          "target": "com.github.apps#SimpleUser"
        },
        "Enterprise": {
          "target": "com.github.apps#Enterprise"
        }
      },
      "traits": {}
    },
    "com.github.apps#IntegrationPermissions": {
      "type": "structure",
      "members": {
        "issues": {
          "target": "smithy.api#String"
        },
        "checks": {
          "target": "smithy.api#String"
        },
        "metadata": {
          "target": "smithy.api#String"
        },
        "contents": {
          "target": "smithy.api#String"
        },
        "deployments": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The set of permissions for the GitHub app"
      }
    },
    "com.github.apps#IntegrationEventsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of events for the GitHub app. Note that the `installation_target`, `security_advisory`, and `meta` events are not included because they are global events and not specific to an installation."
      }
    },
    "com.github.apps#GetAuthenticated": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.github.apps#Integration"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/app",
          "code": 200
        },
        "smithy.api#documentation": "Get the authenticated app\n\nReturns the GitHub App associated with the authentication credentials used. To see how many app installations are associated with this GitHub App, see the `installations_count` in the response. For more details about your app's installations, see the \"[List installations for the authenticated app](https://docs.github.com/rest/apps/apps#list-installations-for-the-authenticated-app)\" endpoint.\n\nYou must use a [JWT](https://docs.github.com/apps/building-github-apps/authenticating-with-github-apps/#authenticating-as-a-github-app) to access this endpoint."
      }
    },
    "com.github.apps#CreateFromManifestRequest": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.apps#CreateFromManifestResponseOwner": {
      "type": "union",
      "members": {
        "SimpleUser": {
          "target": "com.github.apps#SimpleUser"
        },
        "Enterprise": {
          "target": "com.github.apps#Enterprise"
        }
      },
      "traits": {}
    },
    "com.github.apps#CreateFromManifestResponsePermissions": {
      "type": "structure",
      "members": {
        "issues": {
          "target": "smithy.api#String"
        },
        "checks": {
          "target": "smithy.api#String"
        },
        "metadata": {
          "target": "smithy.api#String"
        },
        "contents": {
          "target": "smithy.api#String"
        },
        "deployments": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The set of permissions for the GitHub app"
      }
    },
    "com.github.apps#CreateFromManifestResponseEventsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of events for the GitHub app. Note that the `installation_target`, `security_advisory`, and `meta` events are not included because they are global events and not specific to an installation."
      }
    },
    "com.github.apps#CreateFromManifestResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the GitHub app",
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug name of the GitHub app"
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "com.github.apps#CreateFromManifestResponseOwner",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the GitHub app",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "external_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.github.apps#CreateFromManifestResponsePermissions",
          "traits": {
            "smithy.api#documentation": "The set of permissions for the GitHub app",
            "smithy.api#required": {}
          }
        },
        "events": {
          "target": "com.github.apps#CreateFromManifestResponseEventsList",
          "traits": {
            "smithy.api#documentation": "The list of events for the GitHub app. Note that the `installation_target`, `security_advisory`, and `meta` events are not included because they are global events and not specific to an installation.",
            "smithy.api#required": {}
          }
        },
        "installations_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of installations associated with the GitHub app. Only returned when the integration is requesting details about itself."
          }
        },
        "client_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "webhook_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {},
            "smithy.api#sensitive": {}
          }
        },
        "pem": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.apps#CreateFromManifest": {
      "type": "operation",
      "input": {
        "target": "com.github.apps#CreateFromManifestRequest"
      },
      "output": {
        "target": "com.github.apps#CreateFromManifestResponse"
      },
      "errors": [
        {
          "target": "com.github.apps#NotFound"
        },
        {
          "target": "com.github.apps#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/app-manifests/{code}/conversions",
          "code": 200
        },
        "smithy.api#documentation": "Create a GitHub App from a manifest\n\nUse this endpoint to complete the handshake necessary when implementing the [GitHub App Manifest flow](https://docs.github.com/apps/building-github-apps/creating-github-apps-from-a-manifest/). When you create a GitHub App with the manifest flow, you receive a temporary `code` used to retrieve the GitHub App's `id`, `pem` (private key), and `webhook_secret`."
      }
    },
    "com.github.apps#WebhookConfig": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String"
        },
        "content_type": {
          "target": "smithy.api#String"
        },
        "secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        },
        "insecure_ssl": {
          "target": "com.github.apps#WebhookConfigInsecureSsl"
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration object of the webhook"
      }
    },
    "com.github.apps#WebhookConfigInsecureSsl": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.github.apps#GetWebhookConfigForApp": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.github.apps#WebhookConfig"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/app/hook/config",
          "code": 200
        },
        "smithy.api#documentation": "Get a webhook configuration for an app\n\nReturns the webhook configuration for a GitHub App. For more information about configuring a webhook for your app, see \"[Creating a GitHub App](/developers/apps/creating-a-github-app).\"\n\nYou must use a [JWT](https://docs.github.com/apps/building-github-apps/authenticating-with-github-apps/#authenticating-as-a-github-app) to access this endpoint."
      }
    },
    "com.github.apps#UpdateWebhookConfigForAppRequest": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String"
        },
        "content_type": {
          "target": "smithy.api#String"
        },
        "secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        },
        "insecure_ssl": {
          "target": "com.github.apps#WebhookConfigInsecureSsl"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.apps#UpdateWebhookConfigForApp": {
      "type": "operation",
      "input": {
        "target": "com.github.apps#UpdateWebhookConfigForAppRequest"
      },
      "output": {
        "target": "com.github.apps#WebhookConfig"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/app/hook/config",
          "code": 200
        },
        "smithy.api#documentation": "Update a webhook configuration for an app\n\nUpdates the webhook configuration for a GitHub App. For more information about configuring a webhook for your app, see \"[Creating a GitHub App](/developers/apps/creating-a-github-app).\"\n\nYou must use a [JWT](https://docs.github.com/apps/building-github-apps/authenticating-with-github-apps/#authenticating-as-a-github-app) to access this endpoint."
      }
    },
    "com.github.apps#ListWebhookDeliveriesRequestStatus": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failure"
          }
        }
      },
      "traits": {}
    },
    "com.github.apps#ListWebhookDeliveriesRequest": {
      "type": "structure",
      "members": {
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "The number of results per page (max 100). For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Used for pagination: the starting delivery from which the page of deliveries is fetched. Refer to the `link` header for the next and previous page cursors."
          }
        },
        "status": {
          "target": "com.github.apps#ListWebhookDeliveriesRequestStatus",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Returns webhook deliveries filtered by delivery outcome classification based on `status_code` range. A `status` of `success` returns deliveries with a `status_code` in the 200-399 range (inclusive). A `status` of `failure` returns deliveries with a `status_code` in the 400-599 range (inclusive)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.apps#HookDeliveryItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the webhook delivery.",
            "smithy.api#required": {}
          }
        },
        "guid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the event (shared with all deliveries for all webhooks that subscribe to this event).",
            "smithy.api#required": {}
          }
        },
        "delivered_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when the webhook delivery occurred.",
            "smithy.api#required": {}
          }
        },
        "redelivery": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the webhook delivery is a redelivery.",
            "smithy.api#required": {}
          }
        },
        "duration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time spent delivering.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Describes the response returned after attempting the delivery.",
            "smithy.api#required": {}
          }
        },
        "status_code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Status code received when delivery was made.",
            "smithy.api#required": {}
          }
        },
        "event": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The event that triggered the delivery.",
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of activity for the event that triggered the delivery.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "installation_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The id of the GitHub App installation associated with this event.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "repository_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The id of the repository associated with this event.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "throttled_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when the webhook delivery was throttled.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Delivery made by a webhook, without request and response information."
      }
    },
    "com.github.apps#ListWebhookDeliveriesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.github.apps#HookDeliveryItem"
      },
      "traits": {}
    },
    "com.github.apps#ListWebhookDeliveriesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.github.apps#ListWebhookDeliveriesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.apps#ListWebhookDeliveries": {
      "type": "operation",
      "input": {
        "target": "com.github.apps#ListWebhookDeliveriesRequest"
      },
      "output": {
        "target": "com.github.apps#ListWebhookDeliveriesResponse"
      },
      "errors": [
        {
          "target": "com.github.apps#BadRequest"
        },
        {
          "target": "com.github.apps#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/app/hook/deliveries",
          "code": 200
        },
        "smithy.api#documentation": "List deliveries for an app webhook\n\nReturns a list of webhook deliveries for the webhook configured for a GitHub App.\n\nYou must use a [JWT](https://docs.github.com/apps/building-github-apps/authenticating-with-github-apps/#authenticating-as-a-github-app) to access this endpoint."
      }
    },
    "com.github.apps#GetWebhookDeliveryRequest": {
      "type": "structure",
      "members": {
        "delivery_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.apps#HookDelivery": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the delivery.",
            "smithy.api#required": {}
          }
        },
        "guid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the event (shared with all deliveries for all webhooks that subscribe to this event).",
            "smithy.api#required": {}
          }
        },
        "delivered_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when the delivery was delivered.",
            "smithy.api#required": {}
          }
        },
        "redelivery": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the delivery is a redelivery.",
            "smithy.api#required": {}
          }
        },
        "duration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time spent delivering.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the status of the attempted delivery",
            "smithy.api#required": {}
          }
        },
        "status_code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Status code received when delivery was made.",
            "smithy.api#required": {}
          }
        },
        "event": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The event that triggered the delivery.",
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of activity for the event that triggered the delivery.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "installation_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The id of the GitHub App installation associated with this event.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "repository_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The id of the repository associated with this event.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "throttled_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when the webhook delivery was throttled.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL target of the delivery."
          }
        },
        "request": {
          "target": "com.github.apps#HookDeliveryRequest",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "response": {
          "target": "com.github.apps#HookDeliveryResponse",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Delivery made by a webhook."
      }
    },
    "com.github.apps#HookDeliveryRequestHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The request headers sent with the webhook delivery."
      }
    },
    "com.github.apps#HookDeliveryRequestPayloadMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The webhook payload."
      }
    },
    "com.github.apps#HookDeliveryRequest": {
      "type": "structure",
      "members": {
        "headers": {
          "target": "com.github.apps#HookDeliveryRequestHeadersMap",
          "traits": {
            "smithy.api#documentation": "The request headers sent with the webhook delivery.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "payload": {
          "target": "com.github.apps#HookDeliveryRequestPayloadMap",
          "traits": {
            "smithy.api#documentation": "The webhook payload.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.apps#HookDeliveryResponseHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The response headers received when the delivery was made."
      }
    },
    "com.github.apps#HookDeliveryResponsePayloadMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The response payload received."
      }
    },
    "com.github.apps#HookDeliveryResponse": {
      "type": "structure",
      "members": {
        "headers": {
          "target": "com.github.apps#HookDeliveryResponseHeadersMap",
          "traits": {
            "smithy.api#documentation": "The response headers received when the delivery was made.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "payload": {
          "target": "com.github.apps#HookDeliveryResponsePayloadMap",
          "traits": {
            "smithy.api#documentation": "The response payload received.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.apps#GetWebhookDelivery": {
      "type": "operation",
      "input": {
        "target": "com.github.apps#GetWebhookDeliveryRequest"
      },
      "output": {
        "target": "com.github.apps#HookDelivery"
      },
      "errors": [
        {
          "target": "com.github.apps#BadRequest"
        },
        {
          "target": "com.github.apps#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/app/hook/deliveries/{delivery_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a delivery for an app webhook\n\nReturns a delivery for the webhook configured for a GitHub App.\n\nYou must use a [JWT](https://docs.github.com/apps/building-github-apps/authenticating-with-github-apps/#authenticating-as-a-github-app) to access this endpoint."
      }
    },
    "com.github.apps#RedeliverWebhookDeliveryRequest": {
      "type": "structure",
      "members": {
        "delivery_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.apps#RedeliverWebhookDelivery": {
      "type": "operation",
      "input": {
        "target": "com.github.apps#RedeliverWebhookDeliveryRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.github.apps#BadRequest"
        },
        {
          "target": "com.github.apps#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/app/hook/deliveries/{delivery_id}/attempts",
          "code": 200
        },
        "smithy.api#documentation": "Redeliver a delivery for an app webhook\n\nRedeliver a delivery for the webhook configured for a GitHub App.\n\nYou must use a [JWT](https://docs.github.com/apps/building-github-apps/authenticating-with-github-apps/#authenticating-as-a-github-app) to access this endpoint."
      }
    },
    "com.github.apps#ListInstallationRequestsForAuthenticatedAppRequest": {
      "type": "structure",
      "members": {
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "The number of results per page (max 100). For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "The page number of the results to fetch. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.apps#IntegrationInstallationRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the request installation.",
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String"
        },
        "account": {
          "target": "com.github.apps#IntegrationInstallationRequestAccount",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requester": {
          "target": "com.github.apps#SimpleUser",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to install an integration on a target"
      }
    },
    "com.github.apps#IntegrationInstallationRequestAccount": {
      "type": "union",
      "members": {
        "SimpleUser": {
          "target": "com.github.apps#SimpleUser"
        },
        "Enterprise": {
          "target": "com.github.apps#Enterprise"
        }
      },
      "traits": {}
    },
    "com.github.apps#ListInstallationRequestsForAuthenticatedAppResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.github.apps#IntegrationInstallationRequest"
      },
      "traits": {}
    },
    "com.github.apps#ListInstallationRequestsForAuthenticatedAppResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.github.apps#ListInstallationRequestsForAuthenticatedAppResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.apps#ListInstallationRequestsForAuthenticatedApp": {
      "type": "operation",
      "input": {
        "target": "com.github.apps#ListInstallationRequestsForAuthenticatedAppRequest"
      },
      "output": {
        "target": "com.github.apps#ListInstallationRequestsForAuthenticatedAppResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/app/installation-requests",
          "code": 200
        },
        "smithy.api#documentation": "List installation requests for the authenticated app\n\nLists all the pending installation requests for the authenticated GitHub App."
      }
    },
    "com.github.apps#ListInstallationsRequest": {
      "type": "structure",
      "members": {
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "The number of results per page (max 100). For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "The page number of the results to fetch. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "since",
            "smithy.api#documentation": "Only show results that were last updated after the given time. This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format: `YYYY-MM-DDTHH:MM:SSZ`."
          }
        },
        "outdated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "outdated"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.apps#Installation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the installation.",
            "smithy.api#required": {}
          }
        },
        "account": {
          "target": "com.github.apps#InstallationAccount",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "repository_selection": {
          "target": "com.github.apps#InstallationRepositorySelection",
          "traits": {
            "smithy.api#documentation": "Describe whether all repositories have been selected or there's a selection involved",
            "smithy.api#required": {}
          }
        },
        "access_tokens_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repositories_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "app_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "client_id": {
          "target": "smithy.api#String"
        },
        "target_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the user or organization this token is being scoped to.",
            "smithy.api#required": {}
          }
        },
        "target_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.github.apps#AppPermissions",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "events": {
          "target": "com.github.apps#InstallationEventsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "single_file_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_multiple_single_files": {
          "target": "smithy.api#Boolean"
        },
        "single_file_paths": {
          "target": "com.github.apps#InstallationSingleFilePathsList"
        },
        "app_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "suspended_by": {
          "target": "com.github.apps#NullableSimpleUser",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "suspended_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "contact_email": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Installation"
      }
    },
    "com.github.apps#InstallationAccount": {
      "type": "union",
      "members": {
        "SimpleUser": {
          "target": "com.github.apps#SimpleUser"
        },
        "Enterprise": {
          "target": "com.github.apps#Enterprise"
        }
      },
      "traits": {}
    },
    "com.github.apps#InstallationRepositorySelection": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "SELECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "selected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describe whether all repositories have been selected or there's a selection involved"
      }
    },
    "com.github.apps#AppPermissions": {
      "type": "structure",
      "members": {
        "actions": {
          "target": "com.github.apps#AppPermissionsActions",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token for GitHub Actions workflows, workflow runs, and artifacts."
          }
        },
        "administration": {
          "target": "com.github.apps#AppPermissionsAdministration",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token for repository creation, deletion, settings, teams, and collaborators creation."
          }
        },
        "artifact_metadata": {
          "target": "com.github.apps#AppPermissionsArtifactMetadata",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token to create and retrieve build artifact metadata records."
          }
        },
        "attestations": {
          "target": "com.github.apps#AppPermissionsAttestations",
          "traits": {
            "smithy.api#documentation": "The level of permission to create and retrieve the access token for repository attestations."
          }
        },
        "checks": {
          "target": "com.github.apps#AppPermissionsChecks",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token for checks on code."
          }
        },
        "code_quality": {
          "target": "com.github.apps#AppPermissionsCodeQuality",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token to view and manage code quality data."
          }
        },
        "codespaces": {
          "target": "com.github.apps#AppPermissionsCodespaces",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token to create, edit, delete, and list Codespaces."
          }
        },
        "contents": {
          "target": "com.github.apps#AppPermissionsContents",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token for repository contents, commits, branches, downloads, releases, and merges."
          }
        },
        "dependabot_secrets": {
          "target": "com.github.apps#AppPermissionsDependabotSecrets",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token to manage Dependabot secrets."
          }
        },
        "deployments": {
          "target": "com.github.apps#AppPermissionsDeployments",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token for deployments and deployment statuses."
          }
        },
        "discussions": {
          "target": "com.github.apps#AppPermissionsDiscussions",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token for discussions and related comments and labels."
          }
        },
        "environments": {
          "target": "com.github.apps#AppPermissionsEnvironments",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token for managing repository environments."
          }
        },
        "issues": {
          "target": "com.github.apps#AppPermissionsIssues",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token for issues and related comments, assignees, labels, and milestones."
          }
        },
        "merge_queues": {
          "target": "com.github.apps#AppPermissionsMergeQueues",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token to manage the merge queues for a repository."
          }
        },
        "metadata": {
          "target": "com.github.apps#AppPermissionsMetadata",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token to search repositories, list collaborators, and access repository metadata."
          }
        },
        "packages": {
          "target": "com.github.apps#AppPermissionsPackages",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token for packages published to GitHub Packages."
          }
        },
        "pages": {
          "target": "com.github.apps#AppPermissionsPages",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token to retrieve Pages statuses, configuration, and builds, as well as create new builds."
          }
        },
        "pull_requests": {
          "target": "com.github.apps#AppPermissionsPullRequests",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token for pull requests and related comments, assignees, labels, milestones, and merges."
          }
        },
        "repository_custom_properties": {
          "target": "com.github.apps#AppPermissionsRepositoryCustomProperties",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token to view and edit custom properties for a repository, when allowed by the property."
          }
        },
        "repository_hooks": {
          "target": "com.github.apps#AppPermissionsRepositoryHooks",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token to manage the post-receive hooks for a repository."
          }
        },
        "repository_projects": {
          "target": "com.github.apps#AppPermissionsRepositoryProjects",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token to manage repository projects, columns, and cards."
          }
        },
        "secret_scanning_alerts": {
          "target": "com.github.apps#AppPermissionsSecretScanningAlerts",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token to view and manage secret scanning alerts."
          }
        },
        "secrets": {
          "target": "com.github.apps#AppPermissionsSecrets",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token to manage repository secrets."
          }
        },
        "security_events": {
          "target": "com.github.apps#AppPermissionsSecurityEvents",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token to view and manage security events like code scanning alerts."
          }
        },
        "single_file": {
          "target": "com.github.apps#AppPermissionsSingleFile",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token to manage just a single file."
          }
        },
        "statuses": {
          "target": "com.github.apps#AppPermissionsStatuses",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token for commit statuses."
          }
        },
        "vulnerability_alerts": {
          "target": "com.github.apps#AppPermissionsVulnerabilityAlerts",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token to manage Dependabot alerts."
          }
        },
        "workflows": {
          "target": "com.github.apps#AppPermissionsWorkflows",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token to update GitHub Actions workflow files."
          }
        },
        "custom_properties_for_organizations": {
          "target": "com.github.apps#AppPermissionsCustomPropertiesForOrganizations",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token to view and edit custom properties for an organization, when allowed by the property."
          }
        },
        "members": {
          "target": "com.github.apps#AppPermissionsMembers",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token for organization teams and members."
          }
        },
        "organization_administration": {
          "target": "com.github.apps#AppPermissionsOrganizationAdministration",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token to manage access to an organization."
          }
        },
        "organization_custom_roles": {
          "target": "com.github.apps#AppPermissionsOrganizationCustomRoles",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token for custom repository roles management."
          }
        },
        "organization_custom_org_roles": {
          "target": "com.github.apps#AppPermissionsOrganizationCustomOrgRoles",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token for custom organization roles management."
          }
        },
        "organization_custom_properties": {
          "target": "com.github.apps#AppPermissionsOrganizationCustomProperties",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token for repository custom properties management at the organization level."
          }
        },
        "organization_copilot_seat_management": {
          "target": "com.github.apps#AppPermissionsOrganizationCopilotSeatManagement",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token for managing access to GitHub Copilot for members of an organization with a Copilot Business subscription. This property is in public preview and is subject to change."
          }
        },
        "organization_copilot_agent_settings": {
          "target": "com.github.apps#AppPermissionsOrganizationCopilotAgentSettings",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token to view and manage Copilot cloud agent settings for an organization."
          }
        },
        "organization_announcement_banners": {
          "target": "com.github.apps#AppPermissionsOrganizationAnnouncementBanners",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token to view and manage announcement banners for an organization."
          }
        },
        "organization_events": {
          "target": "com.github.apps#AppPermissionsOrganizationEvents",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token to view events triggered by an activity in an organization."
          }
        },
        "organization_hooks": {
          "target": "com.github.apps#AppPermissionsOrganizationHooks",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token to manage the post-receive hooks for an organization."
          }
        },
        "organization_personal_access_tokens": {
          "target": "com.github.apps#AppPermissionsOrganizationPersonalAccessTokens",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token for viewing and managing fine-grained personal access token requests to an organization."
          }
        },
        "organization_personal_access_token_requests": {
          "target": "com.github.apps#AppPermissionsOrganizationPersonalAccessTokenRequests",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token for viewing and managing fine-grained personal access tokens that have been approved by an organization."
          }
        },
        "organization_plan": {
          "target": "com.github.apps#AppPermissionsOrganizationPlan",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token for viewing an organization's plan."
          }
        },
        "organization_projects": {
          "target": "com.github.apps#AppPermissionsOrganizationProjects",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token to manage organization projects and projects public preview (where available)."
          }
        },
        "organization_packages": {
          "target": "com.github.apps#AppPermissionsOrganizationPackages",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token for organization packages published to GitHub Packages."
          }
        },
        "organization_secrets": {
          "target": "com.github.apps#AppPermissionsOrganizationSecrets",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token to manage organization secrets."
          }
        },
        "organization_self_hosted_runners": {
          "target": "com.github.apps#AppPermissionsOrganizationSelfHostedRunners",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token to view and manage GitHub Actions self-hosted runners available to an organization."
          }
        },
        "organization_user_blocking": {
          "target": "com.github.apps#AppPermissionsOrganizationUserBlocking",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token to view and manage users blocked by the organization."
          }
        },
        "email_addresses": {
          "target": "com.github.apps#AppPermissionsEmailAddresses",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token to manage the email addresses belonging to a user."
          }
        },
        "followers": {
          "target": "com.github.apps#AppPermissionsFollowers",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token to manage the followers belonging to a user."
          }
        },
        "git_ssh_keys": {
          "target": "com.github.apps#AppPermissionsGitSshKeys",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token to manage git SSH keys."
          }
        },
        "gpg_keys": {
          "target": "com.github.apps#AppPermissionsGpgKeys",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token to view and manage GPG keys belonging to a user."
          }
        },
        "interaction_limits": {
          "target": "com.github.apps#AppPermissionsInteractionLimits",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token to view and manage interaction limits on a repository."
          }
        },
        "profile": {
          "target": "com.github.apps#AppPermissionsProfile",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token to manage the profile settings belonging to a user."
          }
        },
        "starring": {
          "target": "com.github.apps#AppPermissionsStarring",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token to list and manage repositories a user is starring."
          }
        },
        "enterprise_custom_properties_for_organizations": {
          "target": "com.github.apps#AppPermissionsEnterpriseCustomPropertiesForOrganizations",
          "traits": {
            "smithy.api#documentation": "The level of permission to grant the access token for organization custom properties management at the enterprise level."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The permissions granted to the fine-grained access token."
      }
    },
    "com.github.apps#AppPermissionsActions": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token for GitHub Actions workflows, workflow runs, and artifacts."
      }
    },
    "com.github.apps#AppPermissionsAdministration": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token for repository creation, deletion, settings, teams, and collaborators creation."
      }
    },
    "com.github.apps#AppPermissionsArtifactMetadata": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token to create and retrieve build artifact metadata records."
      }
    },
    "com.github.apps#AppPermissionsAttestations": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to create and retrieve the access token for repository attestations."
      }
    },
    "com.github.apps#AppPermissionsChecks": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token for checks on code."
      }
    },
    "com.github.apps#AppPermissionsCodeQuality": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token to view and manage code quality data."
      }
    },
    "com.github.apps#AppPermissionsCodespaces": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token to create, edit, delete, and list Codespaces."
      }
    },
    "com.github.apps#AppPermissionsContents": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token for repository contents, commits, branches, downloads, releases, and merges."
      }
    },
    "com.github.apps#AppPermissionsDependabotSecrets": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token to manage Dependabot secrets."
      }
    },
    "com.github.apps#AppPermissionsDeployments": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token for deployments and deployment statuses."
      }
    },
    "com.github.apps#AppPermissionsDiscussions": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token for discussions and related comments and labels."
      }
    },
    "com.github.apps#AppPermissionsEnvironments": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token for managing repository environments."
      }
    },
    "com.github.apps#AppPermissionsIssues": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token for issues and related comments, assignees, labels, and milestones."
      }
    },
    "com.github.apps#AppPermissionsMergeQueues": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token to manage the merge queues for a repository."
      }
    },
    "com.github.apps#AppPermissionsMetadata": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token to search repositories, list collaborators, and access repository metadata."
      }
    },
    "com.github.apps#AppPermissionsPackages": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token for packages published to GitHub Packages."
      }
    },
    "com.github.apps#AppPermissionsPages": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token to retrieve Pages statuses, configuration, and builds, as well as create new builds."
      }
    },
    "com.github.apps#AppPermissionsPullRequests": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token for pull requests and related comments, assignees, labels, milestones, and merges."
      }
    },
    "com.github.apps#AppPermissionsRepositoryCustomProperties": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token to view and edit custom properties for a repository, when allowed by the property."
      }
    },
    "com.github.apps#AppPermissionsRepositoryHooks": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token to manage the post-receive hooks for a repository."
      }
    },
    "com.github.apps#AppPermissionsRepositoryProjects": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token to manage repository projects, columns, and cards."
      }
    },
    "com.github.apps#AppPermissionsSecretScanningAlerts": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token to view and manage secret scanning alerts."
      }
    },
    "com.github.apps#AppPermissionsSecrets": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token to manage repository secrets."
      }
    },
    "com.github.apps#AppPermissionsSecurityEvents": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token to view and manage security events like code scanning alerts."
      }
    },
    "com.github.apps#AppPermissionsSingleFile": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token to manage just a single file."
      }
    },
    "com.github.apps#AppPermissionsStatuses": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token for commit statuses."
      }
    },
    "com.github.apps#AppPermissionsVulnerabilityAlerts": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token to manage Dependabot alerts."
      }
    },
    "com.github.apps#AppPermissionsWorkflows": {
      "type": "enum",
      "members": {
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token to update GitHub Actions workflow files."
      }
    },
    "com.github.apps#AppPermissionsCustomPropertiesForOrganizations": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token to view and edit custom properties for an organization, when allowed by the property."
      }
    },
    "com.github.apps#AppPermissionsMembers": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token for organization teams and members."
      }
    },
    "com.github.apps#AppPermissionsOrganizationAdministration": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token to manage access to an organization."
      }
    },
    "com.github.apps#AppPermissionsOrganizationCustomRoles": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token for custom repository roles management."
      }
    },
    "com.github.apps#AppPermissionsOrganizationCustomOrgRoles": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token for custom organization roles management."
      }
    },
    "com.github.apps#AppPermissionsOrganizationCustomProperties": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token for repository custom properties management at the organization level."
      }
    },
    "com.github.apps#AppPermissionsOrganizationCopilotSeatManagement": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token for managing access to GitHub Copilot for members of an organization with a Copilot Business subscription. This property is in public preview and is subject to change."
      }
    },
    "com.github.apps#AppPermissionsOrganizationCopilotAgentSettings": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token to view and manage Copilot cloud agent settings for an organization."
      }
    },
    "com.github.apps#AppPermissionsOrganizationAnnouncementBanners": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token to view and manage announcement banners for an organization."
      }
    },
    "com.github.apps#AppPermissionsOrganizationEvents": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token to view events triggered by an activity in an organization."
      }
    },
    "com.github.apps#AppPermissionsOrganizationHooks": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token to manage the post-receive hooks for an organization."
      }
    },
    "com.github.apps#AppPermissionsOrganizationPersonalAccessTokens": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token for viewing and managing fine-grained personal access token requests to an organization."
      }
    },
    "com.github.apps#AppPermissionsOrganizationPersonalAccessTokenRequests": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token for viewing and managing fine-grained personal access tokens that have been approved by an organization."
      }
    },
    "com.github.apps#AppPermissionsOrganizationPlan": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token for viewing an organization's plan."
      }
    },
    "com.github.apps#AppPermissionsOrganizationProjects": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token to manage organization projects and projects public preview (where available)."
      }
    },
    "com.github.apps#AppPermissionsOrganizationPackages": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token for organization packages published to GitHub Packages."
      }
    },
    "com.github.apps#AppPermissionsOrganizationSecrets": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token to manage organization secrets."
      }
    },
    "com.github.apps#AppPermissionsOrganizationSelfHostedRunners": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token to view and manage GitHub Actions self-hosted runners available to an organization."
      }
    },
    "com.github.apps#AppPermissionsOrganizationUserBlocking": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token to view and manage users blocked by the organization."
      }
    },
    "com.github.apps#AppPermissionsEmailAddresses": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token to manage the email addresses belonging to a user."
      }
    },
    "com.github.apps#AppPermissionsFollowers": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token to manage the followers belonging to a user."
      }
    },
    "com.github.apps#AppPermissionsGitSshKeys": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token to manage git SSH keys."
      }
    },
    "com.github.apps#AppPermissionsGpgKeys": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token to view and manage GPG keys belonging to a user."
      }
    },
    "com.github.apps#AppPermissionsInteractionLimits": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token to view and manage interaction limits on a repository."
      }
    },
    "com.github.apps#AppPermissionsProfile": {
      "type": "enum",
      "members": {
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token to manage the profile settings belonging to a user."
      }
    },
    "com.github.apps#AppPermissionsStarring": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token to list and manage repositories a user is starring."
      }
    },
    "com.github.apps#AppPermissionsEnterpriseCustomPropertiesForOrganizations": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of permission to grant the access token for organization custom properties management at the enterprise level."
      }
    },
    "com.github.apps#InstallationEventsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.github.apps#InstallationSingleFilePathsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.github.apps#NullableSimpleUser": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "login": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatar_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gravatar_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "followers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "following_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gists_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "starred_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subscriptions_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "organizations_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repos_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "received_events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "site_admin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "starred_at": {
          "target": "smithy.api#String"
        },
        "user_view_type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "A GitHub user."
      }
    },
    "com.github.apps#ListInstallationsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.github.apps#Installation"
      },
      "traits": {}
    },
    "com.github.apps#ListInstallationsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.github.apps#ListInstallationsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.apps#ListInstallations": {
      "type": "operation",
      "input": {
        "target": "com.github.apps#ListInstallationsRequest"
      },
      "output": {
        "target": "com.github.apps#ListInstallationsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/app/installations",
          "code": 200
        },
        "smithy.api#documentation": "List installations for the authenticated app\n\nThe permissions the installation has are included under the `permissions` key.\n\nYou must use a [JWT](https://docs.github.com/apps/building-github-apps/authenticating-with-github-apps/#authenticating-as-a-github-app) to access this endpoint."
      }
    },
    "com.github.apps#GetInstallationRequest": {
      "type": "structure",
      "members": {
        "installation_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the installation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.apps#GetInstallation": {
      "type": "operation",
      "input": {
        "target": "com.github.apps#GetInstallationRequest"
      },
      "output": {
        "target": "com.github.apps#Installation"
      },
      "errors": [
        {
          "target": "com.github.apps#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/app/installations/{installation_id}",
          "code": 200
[...]
