{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.github.checks#CreateRequestStatus": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "WAITING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waiting"
          }
        },
        "REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requested"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current status of the check run. Only GitHub Actions can set a status of `waiting`, `pending`, or `requested`."
      }
    },
    "com.github.checks#CreateRequestConclusion": {
      "type": "enum",
      "members": {
        "ACTION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "action_required"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        },
        "FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failure"
          }
        },
        "NEUTRAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "neutral"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skipped"
          }
        },
        "STALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stale"
          }
        },
        "TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "timed_out"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**Required if you provide `completed_at` or a `status` of `completed`**. The final conclusion of the check. \n**Note:** Providing `conclusion` will automatically set the `status` parameter to `completed`. You cannot change a check run conclusion to `stale`, only GitHub can set this."
      }
    },
    "com.github.checks#CreateRequestOutputAnnotationsItemAnnotationLevel": {
      "type": "enum",
      "members": {
        "NOTICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "notice"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warning"
          }
        },
        "FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failure"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of the annotation."
      }
    },
    "com.github.checks#CreateRequestOutputAnnotationsItem": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path of the file to add an annotation to. For example, `assets/css/main.css`.",
            "smithy.api#required": {}
          }
        },
        "start_line": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The start line of the annotation. Line numbers start at 1.",
            "smithy.api#required": {}
          }
        },
        "end_line": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The end line of the annotation.",
            "smithy.api#required": {}
          }
        },
        "start_column": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The start column of the annotation. Annotations only support `start_column` and `end_column` on the same line. Omit this parameter if `start_line` and `end_line` have different values. Column numbers start at 1."
          }
        },
        "end_column": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The end column of the annotation. Annotations only support `start_column` and `end_column` on the same line. Omit this parameter if `start_line` and `end_line` have different values."
          }
        },
        "annotation_level": {
          "target": "com.github.checks#CreateRequestOutputAnnotationsItemAnnotationLevel",
          "traits": {
            "smithy.api#documentation": "The level of the annotation.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the feedback for these lines of code. The maximum size is 64 KB.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title that represents the annotation. The maximum size is 255 characters."
          }
        },
        "raw_details": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Details about this annotation. The maximum size is 64 KB."
          }
        }
      },
      "traits": {}
    },
    "com.github.checks#CreateRequestOutputAnnotationsList": {
      "type": "list",
      "member": {
        "target": "com.github.checks#CreateRequestOutputAnnotationsItem"
      },
      "traits": {
        "smithy.api#documentation": "Adds information from your analysis to specific lines of code. Annotations are visible on GitHub in the **Checks** and **Files changed** tab of the pull request. The Checks API limits the number of annotations to a maximum of 50 per API request. To create more than 50 annotations, you have to make multiple requests to the [Update a check run](https://docs.github.com/rest/checks/runs#update-a-check-run) endpoint. Each time you update the check run, annotations are appended to the list of annotations that already exist for the check run. GitHub Actions are limited to 10 warning annotations and 10 error annotations per step. For details about how you can view annotations on GitHub, see \"[About status checks](https://docs.github.com/articles/about-status-checks#checks)\"."
      }
    },
    "com.github.checks#CreateRequestOutputImagesItem": {
      "type": "structure",
      "members": {
        "alt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The alternative text for the image.",
            "smithy.api#required": {}
          }
        },
        "image_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full URL of the image.",
            "smithy.api#required": {}
          }
        },
        "caption": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short image description."
          }
        }
      },
      "traits": {}
    },
    "com.github.checks#CreateRequestOutputImagesList": {
      "type": "list",
      "member": {
        "target": "com.github.checks#CreateRequestOutputImagesItem"
      },
      "traits": {
        "smithy.api#documentation": "Adds images to the output displayed in the GitHub pull request UI."
      }
    },
    "com.github.checks#CreateRequestOutput": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title of the check run.",
            "smithy.api#required": {}
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The summary of the check run. This parameter supports Markdown. **Maximum length**: 65535 characters.",
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The details of the check run. This parameter supports Markdown. **Maximum length**: 65535 characters."
          }
        },
        "annotations": {
          "target": "com.github.checks#CreateRequestOutputAnnotationsList",
          "traits": {
            "smithy.api#documentation": "Adds information from your analysis to specific lines of code. Annotations are visible on GitHub in the **Checks** and **Files changed** tab of the pull request. The Checks API limits the number of annotations to a maximum of 50 per API request. To create more than 50 annotations, you have to make multiple requests to the [Update a check run](https://docs.github.com/rest/checks/runs#update-a-check-run) endpoint. Each time you update the check run, annotations are appended to the list of annotations that already exist for the check run. GitHub Actions are limited to 10 warning annotations and 10 error annotations per step. For details about how you can view annotations on GitHub, see \"[About status checks](https://docs.github.com/articles/about-status-checks#checks)\"."
          }
        },
        "images": {
          "target": "com.github.checks#CreateRequestOutputImagesList",
          "traits": {
            "smithy.api#documentation": "Adds images to the output displayed in the GitHub pull request UI."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Check runs can accept a variety of data in the `output` object, including a `title` and `summary` and can optionally provide descriptive details about the run."
      }
    },
    "com.github.checks#CreateRequestActionsItem": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text to be displayed on a button in the web UI. The maximum size is 20 characters.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short explanation of what this action would do. The maximum size is 40 characters.",
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A reference for the action on the integrator's system. The maximum size is 20 characters.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.checks#CreateRequestActionsList": {
      "type": "list",
      "member": {
        "target": "com.github.checks#CreateRequestActionsItem"
      },
      "traits": {
        "smithy.api#documentation": "Displays a button on GitHub that can be clicked to alert your app to do additional tasks. For example, a code linting app can display a button that automatically fixes detected errors. The button created in this object is displayed after the check run completes. When a user clicks the button, GitHub sends the [`check_run.requested_action` webhook](https://docs.github.com/webhooks/event-payloads/#check_run) to your app. Each action includes a `label`, `identifier` and `description`. A maximum of three actions are accepted. To learn more about check runs and requested actions, see \"[Check runs and requested actions](https://docs.github.com/rest/guides/using-the-rest-api-to-interact-with-checks#check-runs-and-requested-actions).\""
      }
    },
    "com.github.checks#CreateRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The account owner of the repository. The name is not case sensitive."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the repository without the `.git` extension. The name is not case sensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the check. For example, \"code-coverage\".",
            "smithy.api#required": {}
          }
        },
        "head_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SHA of the commit.",
            "smithy.api#required": {}
          }
        },
        "details_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the integrator's site that has the full details of the check. If the integrator does not provide this, then the homepage of the GitHub app is used."
          }
        },
        "external_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A reference for the run on the integrator's system."
          }
        },
        "status": {
          "target": "com.github.checks#CreateRequestStatus",
          "traits": {
            "smithy.api#documentation": "The current status of the check run. Only GitHub Actions can set a status of `waiting`, `pending`, or `requested`."
          }
        },
        "started_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time that the check run began. This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format: `YYYY-MM-DDTHH:MM:SSZ`."
          }
        },
        "conclusion": {
          "target": "com.github.checks#CreateRequestConclusion",
          "traits": {
            "smithy.api#documentation": "**Required if you provide `completed_at` or a `status` of `completed`**. The final conclusion of the check. \n**Note:** Providing `conclusion` will automatically set the `status` parameter to `completed`. You cannot change a check run conclusion to `stale`, only GitHub can set this."
          }
        },
        "completed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the check completed. This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format: `YYYY-MM-DDTHH:MM:SSZ`."
          }
        },
        "output": {
          "target": "com.github.checks#CreateRequestOutput",
          "traits": {
            "smithy.api#documentation": "Check runs can accept a variety of data in the `output` object, including a `title` and `summary` and can optionally provide descriptive details about the run."
          }
        },
        "actions": {
          "target": "com.github.checks#CreateRequestActionsList",
          "traits": {
            "smithy.api#documentation": "Displays a button on GitHub that can be clicked to alert your app to do additional tasks. For example, a code linting app can display a button that automatically fixes detected errors. The button created in this object is displayed after the check run completes. When a user clicks the button, GitHub sends the [`check_run.requested_action` webhook](https://docs.github.com/webhooks/event-payloads/#check_run) to your app. Each action includes a `label`, `identifier` and `description`. A maximum of three actions are accepted. To learn more about check runs and requested actions, see \"[Check runs and requested actions](https://docs.github.com/rest/guides/using-the-rest-api-to-interact-with-checks#check-runs-and-requested-actions).\""
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.checks#CheckRun": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The id of the check.",
            "smithy.api#required": {}
          }
        },
        "head_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SHA of the commit that is being checked.",
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "external_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "details_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.github.checks#CheckRunStatus",
          "traits": {
            "smithy.api#documentation": "The phase of the lifecycle that the check is currently in. Statuses of waiting, requested, and pending are reserved for GitHub Actions check runs.",
            "smithy.api#required": {}
          }
        },
        "conclusion": {
          "target": "com.github.checks#CheckRunConclusion",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "started_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "completed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "output": {
          "target": "com.github.checks#CheckRunOutput",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the check.",
            "smithy.api#required": {}
          }
        },
        "check_suite": {
          "target": "com.github.checks#CheckRunCheckSuite",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "app": {
          "target": "com.github.checks#NullableIntegration",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "pull_requests": {
          "target": "com.github.checks#CheckRunPullRequestsList",
          "traits": {
            "smithy.api#documentation": "Pull requests that are open with a `head_sha` or `head_branch` that matches the check. The returned pull requests do not necessarily indicate pull requests that triggered the check.",
            "smithy.api#required": {}
          }
        },
        "deployment": {
          "target": "com.github.checks#DeploymentSimple"
        }
      },
      "traits": {
        "smithy.api#documentation": "A check performed on the code of a given code change"
      }
    },
    "com.github.checks#CheckRunStatus": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "WAITING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waiting"
          }
        },
        "REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requested"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The phase of the lifecycle that the check is currently in. Statuses of waiting, requested, and pending are reserved for GitHub Actions check runs."
      }
    },
    "com.github.checks#CheckRunConclusion": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failure"
          }
        },
        "NEUTRAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "neutral"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skipped"
          }
        },
        "TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "timed_out"
          }
        },
        "ACTION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "action_required"
          }
        }
      },
      "traits": {}
    },
    "com.github.checks#CheckRunOutput": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "annotations_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "annotations_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.checks#CheckRunCheckSuite": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.checks#NullableIntegration": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the GitHub app",
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug name of the GitHub app"
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "client_id": {
          "target": "smithy.api#String"
        },
        "owner": {
          "target": "com.github.checks#NullableIntegrationOwner",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the GitHub app",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "external_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.github.checks#NullableIntegrationPermissions",
          "traits": {
            "smithy.api#documentation": "The set of permissions for the GitHub app",
            "smithy.api#required": {}
          }
        },
        "events": {
          "target": "com.github.checks#NullableIntegrationEventsList",
          "traits": {
            "smithy.api#documentation": "The list of events for the GitHub app. Note that the `installation_target`, `security_advisory`, and `meta` events are not included because they are global events and not specific to an installation.",
            "smithy.api#required": {}
          }
        },
        "installations_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of installations associated with the GitHub app. Only returned when the integration is requesting details about itself."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GitHub apps are a new way to extend GitHub. They can be installed directly on organizations and user accounts and granted access to specific repositories. They come with granular permissions and built-in webhooks. GitHub apps are first class actors within GitHub."
      }
    },
    "com.github.checks#SimpleUser": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "login": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatar_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gravatar_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "followers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "following_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gists_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "starred_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subscriptions_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "organizations_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repos_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "received_events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "site_admin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "starred_at": {
          "target": "smithy.api#String"
        },
        "user_view_type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "A GitHub user."
      }
    },
    "com.github.checks#Enterprise": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the enterprise.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "website_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The enterprise's website URL.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the enterprise",
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the enterprise.",
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug url identifier for the enterprise.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "avatar_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An enterprise on GitHub."
      }
    },
    "com.github.checks#NullableIntegrationOwner": {
      "type": "union",
      "members": {
        "SimpleUser": {
          "target": "com.github.checks#SimpleUser"
        },
        "Enterprise": {
          "target": "com.github.checks#Enterprise"
        }
      },
      "traits": {}
    },
    "com.github.checks#NullableIntegrationPermissions": {
      "type": "structure",
      "members": {
        "issues": {
          "target": "smithy.api#String"
        },
        "checks": {
          "target": "smithy.api#String"
        },
        "metadata": {
          "target": "smithy.api#String"
        },
        "contents": {
          "target": "smithy.api#String"
        },
        "deployments": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The set of permissions for the GitHub app"
      }
    },
    "com.github.checks#NullableIntegrationEventsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of events for the GitHub app. Note that the `installation_target`, `security_advisory`, and `meta` events are not included because they are global events and not specific to an installation."
      }
    },
    "com.github.checks#PullRequestMinimal": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "head": {
          "target": "com.github.checks#PullRequestMinimalHead",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "base": {
          "target": "com.github.checks#PullRequestMinimalBase",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.checks#PullRequestMinimalHeadRepo": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.checks#PullRequestMinimalHead": {
      "type": "structure",
      "members": {
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "com.github.checks#PullRequestMinimalHeadRepo",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.checks#PullRequestMinimalBaseRepo": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.checks#PullRequestMinimalBase": {
      "type": "structure",
      "members": {
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "com.github.checks#PullRequestMinimalBaseRepo",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.checks#CheckRunPullRequestsList": {
      "type": "list",
      "member": {
        "target": "com.github.checks#PullRequestMinimal"
      },
      "traits": {
        "smithy.api#documentation": "Pull requests that are open with a `head_sha` or `head_branch` that matches the check. The returned pull requests do not necessarily indicate pull requests that triggered the check."
      }
    },
    "com.github.checks#DeploymentSimple": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the deployment",
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "task": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Parameter to specify a task to execute",
            "smithy.api#required": {}
          }
        },
        "original_environment": {
          "target": "smithy.api#String"
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name for the target deployment environment.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "statuses_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repository_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "transient_environment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies if the given environment is will no longer exist at some point in the future. Default: false."
          }
        },
        "production_environment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies if the given environment is one that end-users directly interact with. Default: false."
          }
        },
        "performed_via_github_app": {
          "target": "com.github.checks#NullableIntegration",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A deployment created as the result of an Actions check run from a workflow that references an environment"
      }
    },
    "com.github.checks#Create": {
      "type": "operation",
      "input": {
        "target": "com.github.checks#CreateRequest"
      },
      "output": {
        "target": "com.github.checks#CheckRun"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/repos/{owner}/{repo}/check-runs",
          "code": 200
        },
        "smithy.api#documentation": "Create a check run\n\nCreates a new check run for a specific commit in a repository.\n\nTo create a check run, you must use a GitHub App. OAuth apps and authenticated users are not able to create a check suite.\n\nIn a check suite, GitHub limits the number of check runs with the same name to 1000. Once these check runs exceed 1000, GitHub will start to automatically delete older check runs.\n\n> [!NOTE]\n> The Checks API only looks for pushes in the repository where the check suite or check run were created. Pushes to a branch in a forked repository are not detected and return an empty `pull_requests` array."
      }
    },
    "com.github.checks#GetRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The account owner of the repository. The name is not case sensitive."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the repository without the `.git` extension. The name is not case sensitive."
          }
        },
        "check_run_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the check run."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.checks#Get": {
      "type": "operation",
      "input": {
        "target": "com.github.checks#GetRequest"
      },
      "output": {
        "target": "com.github.checks#CheckRun"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/repos/{owner}/{repo}/check-runs/{check_run_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a check run\n\nGets a single check run using its `id`.\n\n> [!NOTE]\n> The Checks API only looks for pushes in the repository where the check suite or check run were created. Pushes to a branch in a forked repository are not detected and return an empty `pull_requests` array.\n\nOAuth app tokens and personal access tokens (classic) need the `repo` scope to use this endpoint on a private repository."
      }
    },
    "com.github.checks#UpdateRequestStatus": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "WAITING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waiting"
          }
        },
        "REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requested"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current status of the check run. Only GitHub Actions can set a status of `waiting`, `pending`, or `requested`."
      }
    },
    "com.github.checks#UpdateRequestConclusion": {
      "type": "enum",
      "members": {
        "ACTION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "action_required"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        },
        "FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failure"
          }
        },
        "NEUTRAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "neutral"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skipped"
          }
        },
        "STALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stale"
          }
        },
        "TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "timed_out"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**Required if you provide `completed_at` or a `status` of `completed`**. The final conclusion of the check. \n**Note:** Providing `conclusion` will automatically set the `status` parameter to `completed`. You cannot change a check run conclusion to `stale`, only GitHub can set this."
      }
    },
    "com.github.checks#UpdateRequestOutputAnnotationsItemAnnotationLevel": {
      "type": "enum",
      "members": {
        "NOTICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "notice"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warning"
          }
        },
        "FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failure"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of the annotation."
      }
    },
    "com.github.checks#UpdateRequestOutputAnnotationsItem": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path of the file to add an annotation to. For example, `assets/css/main.css`.",
            "smithy.api#required": {}
          }
        },
        "start_line": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The start line of the annotation. Line numbers start at 1.",
            "smithy.api#required": {}
          }
        },
        "end_line": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The end line of the annotation.",
            "smithy.api#required": {}
          }
        },
        "start_column": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The start column of the annotation. Annotations only support `start_column` and `end_column` on the same line. Omit this parameter if `start_line` and `end_line` have different values. Column numbers start at 1."
          }
        },
        "end_column": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The end column of the annotation. Annotations only support `start_column` and `end_column` on the same line. Omit this parameter if `start_line` and `end_line` have different values."
          }
        },
        "annotation_level": {
          "target": "com.github.checks#UpdateRequestOutputAnnotationsItemAnnotationLevel",
          "traits": {
            "smithy.api#documentation": "The level of the annotation.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the feedback for these lines of code. The maximum size is 64 KB.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title that represents the annotation. The maximum size is 255 characters."
          }
        },
        "raw_details": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Details about this annotation. The maximum size is 64 KB."
          }
        }
      },
      "traits": {}
    },
    "com.github.checks#UpdateRequestOutputAnnotationsList": {
      "type": "list",
      "member": {
        "target": "com.github.checks#UpdateRequestOutputAnnotationsItem"
      },
      "traits": {
        "smithy.api#documentation": "Adds information from your analysis to specific lines of code. Annotations are visible in GitHub's pull request UI. Annotations are visible in GitHub's pull request UI. The Checks API limits the number of annotations to a maximum of 50 per API request. To create more than 50 annotations, you have to make multiple requests to the [Update a check run](https://docs.github.com/rest/checks/runs#update-a-check-run) endpoint. Each time you update the check run, annotations are appended to the list of annotations that already exist for the check run. GitHub Actions are limited to 10 warning annotations and 10 error annotations per step. For details about annotations in the UI, see \"[About status checks](https://docs.github.com/articles/about-status-checks#checks)\"."
      }
    },
    "com.github.checks#UpdateRequestOutputImagesItem": {
      "type": "structure",
      "members": {
        "alt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The alternative text for the image.",
            "smithy.api#required": {}
          }
        },
        "image_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full URL of the image.",
            "smithy.api#required": {}
          }
        },
        "caption": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short image description."
          }
        }
      },
      "traits": {}
    },
    "com.github.checks#UpdateRequestOutputImagesList": {
      "type": "list",
      "member": {
        "target": "com.github.checks#UpdateRequestOutputImagesItem"
      },
      "traits": {
        "smithy.api#documentation": "Adds images to the output displayed in the GitHub pull request UI."
      }
    },
    "com.github.checks#UpdateRequestOutput": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "**Required**."
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Can contain Markdown.",
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Can contain Markdown."
          }
        },
        "annotations": {
          "target": "com.github.checks#UpdateRequestOutputAnnotationsList",
          "traits": {
            "smithy.api#documentation": "Adds information from your analysis to specific lines of code. Annotations are visible in GitHub's pull request UI. Annotations are visible in GitHub's pull request UI. The Checks API limits the number of annotations to a maximum of 50 per API request. To create more than 50 annotations, you have to make multiple requests to the [Update a check run](https://docs.github.com/rest/checks/runs#update-a-check-run) endpoint. Each time you update the check run, annotations are appended to the list of annotations that already exist for the check run. GitHub Actions are limited to 10 warning annotations and 10 error annotations per step. For details about annotations in the UI, see \"[About status checks](https://docs.github.com/articles/about-status-checks#checks)\"."
          }
        },
        "images": {
          "target": "com.github.checks#UpdateRequestOutputImagesList",
          "traits": {
            "smithy.api#documentation": "Adds images to the output displayed in the GitHub pull request UI."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Check runs can accept a variety of data in the `output` object, including a `title` and `summary` and can optionally provide descriptive details about the run."
      }
    },
    "com.github.checks#UpdateRequestActionsItem": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text to be displayed on a button in the web UI. The maximum size is 20 characters.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short explanation of what this action would do. The maximum size is 40 characters.",
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A reference for the action on the integrator's system. The maximum size is 20 characters.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.checks#UpdateRequestActionsList": {
      "type": "list",
      "member": {
        "target": "com.github.checks#UpdateRequestActionsItem"
      },
      "traits": {
        "smithy.api#documentation": "Possible further actions the integrator can perform, which a user may trigger. Each action includes a `label`, `identifier` and `description`. A maximum of three actions are accepted. To learn more about check runs and requested actions, see \"[Check runs and requested actions](https://docs.github.com/rest/guides/using-the-rest-api-to-interact-with-checks#check-runs-and-requested-actions).\""
      }
    },
    "com.github.checks#UpdateRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The account owner of the repository. The name is not case sensitive."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the repository without the `.git` extension. The name is not case sensitive."
          }
        },
        "check_run_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the check run."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the check. For example, \"code-coverage\"."
          }
        },
        "details_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the integrator's site that has the full details of the check."
          }
        },
        "external_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A reference for the run on the integrator's system."
          }
        },
        "started_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format: `YYYY-MM-DDTHH:MM:SSZ`."
          }
        },
        "status": {
          "target": "com.github.checks#UpdateRequestStatus",
          "traits": {
            "smithy.api#documentation": "The current status of the check run. Only GitHub Actions can set a status of `waiting`, `pending`, or `requested`."
          }
        },
        "conclusion": {
          "target": "com.github.checks#UpdateRequestConclusion",
          "traits": {
            "smithy.api#documentation": "**Required if you provide `completed_at` or a `status` of `completed`**. The final conclusion of the check. \n**Note:** Providing `conclusion` will automatically set the `status` parameter to `completed`. You cannot change a check run conclusion to `stale`, only GitHub can set this."
          }
        },
        "completed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the check completed. This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format: `YYYY-MM-DDTHH:MM:SSZ`."
          }
        },
        "output": {
          "target": "com.github.checks#UpdateRequestOutput",
          "traits": {
            "smithy.api#documentation": "Check runs can accept a variety of data in the `output` object, including a `title` and `summary` and can optionally provide descriptive details about the run."
          }
        },
        "actions": {
          "target": "com.github.checks#UpdateRequestActionsList",
          "traits": {
            "smithy.api#documentation": "Possible further actions the integrator can perform, which a user may trigger. Each action includes a `label`, `identifier` and `description`. A maximum of three actions are accepted. To learn more about check runs and requested actions, see \"[Check runs and requested actions](https://docs.github.com/rest/guides/using-the-rest-api-to-interact-with-checks#check-runs-and-requested-actions).\""
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.checks#Update": {
      "type": "operation",
      "input": {
        "target": "com.github.checks#UpdateRequest"
      },
      "output": {
        "target": "com.github.checks#CheckRun"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/repos/{owner}/{repo}/check-runs/{check_run_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update a check run\n\nUpdates a check run for a specific commit in a repository.\n\n> [!NOTE]\n> The endpoints to manage checks only look for pushes in the repository where the check suite or check run were created. Pushes to a branch in a forked repository are not detected and return an empty `pull_requests` array.\n\nOAuth apps and personal access tokens (classic) cannot use this endpoint."
      }
    },
    "com.github.checks#ListAnnotationsRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The account owner of the repository. The name is not case sensitive."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the repository without the `.git` extension. The name is not case sensitive."
          }
        },
        "check_run_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the check run."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "The number of results per page (max 100). For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "The page number of the results to fetch. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.checks#CheckAnnotation": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "start_line": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "end_line": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "start_column": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "end_column": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "annotation_level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "raw_details": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "blob_href": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Check Annotation"
      }
    },
    "com.github.checks#ListAnnotationsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.github.checks#CheckAnnotation"
      },
      "traits": {}
    },
    "com.github.checks#ListAnnotationsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.github.checks#ListAnnotationsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.checks#ListAnnotations": {
      "type": "operation",
      "input": {
        "target": "com.github.checks#ListAnnotationsRequest"
      },
      "output": {
        "target": "com.github.checks#ListAnnotationsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/repos/{owner}/{repo}/check-runs/{check_run_id}/annotations",
          "code": 200
        },
        "smithy.api#documentation": "List check run annotations\n\nLists annotations for a check run using the annotation `id`.\n\nOAuth app tokens and personal access tokens (classic) need the `repo` scope to use this endpoint on a private repository."
      }
    },
    "com.github.checks#RerequestRunRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The account owner of the repository. The name is not case sensitive."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the repository without the `.git` extension. The name is not case sensitive."
          }
        },
        "check_run_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the check run."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.checks#RerequestRunResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.checks#RerequestRun": {
      "type": "operation",
      "input": {
        "target": "com.github.checks#RerequestRunRequest"
      },
      "output": {
        "target": "com.github.checks#RerequestRunResponse"
      },
      "errors": [
        {
          "target": "com.github.checks#Forbidden"
        },
        {
          "target": "com.github.checks#NotFound"
        },
        {
          "target": "com.github.checks#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/repos/{owner}/{repo}/check-runs/{check_run_id}/rerequest",
          "code": 200
        },
        "smithy.api#documentation": "Rerequest a check run\n\nTriggers GitHub to rerequest an existing check run, without pushing new code to a repository. This endpoint will trigger the [`check_run` webhook](https://docs.github.com/webhooks/event-payloads/#check_run) event with the action `rerequested`. When a check run is `rerequested`, the `status` of the check suite it belongs to is reset to `queued` and the `conclusion` is cleared. The check run itself is not updated. GitHub apps recieving the [`check_run` webhook](https://docs.github.com/webhooks/event-payloads/#check_run) with the `rerequested` action should then decide if the check run should be reset or updated and call the [update `check_run` endpoint](https://docs.github.com/rest/checks/runs#update-a-check-run) to update the check_run if desired.\n\nFor more information about how to re-run GitHub Actions jobs, see \"[Re-run a job from a workflow run](https://docs.github.com/rest/actions/workflow-runs#re-run-a-job-from-a-workflow-run)\"."
      }
    },
    "com.github.checks#CreateSuiteRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The account owner of the repository. The name is not case sensitive."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the repository without the `.git` extension. The name is not case sensitive."
          }
        },
        "head_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sha of the head commit.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.checks#CheckSuite": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "head_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "head_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SHA of the head commit that is being checked.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.github.checks#CheckSuiteStatus",
          "traits": {
            "smithy.api#documentation": "The phase of the lifecycle that the check suite is currently in. Statuses of waiting, requested, and pending are reserved for GitHub Actions check suites.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "conclusion": {
          "target": "com.github.checks#CheckSuiteConclusion",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "pull_requests": {
          "target": "com.github.checks#CheckSuitePullRequestsList",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "app": {
          "target": "com.github.checks#NullableIntegration",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "repository": {
          "target": "com.github.checks#MinimalRepository",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "head_commit": {
          "target": "com.github.checks#SimpleCommit",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "latest_check_runs_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "check_runs_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rerequestable": {
          "target": "smithy.api#Boolean"
        },
        "runs_rerequestable": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "A suite of checks performed on the code of a given code change"
      }
    },
    "com.github.checks#CheckSuiteStatus": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "WAITING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waiting"
          }
        },
        "REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requested"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The phase of the lifecycle that the check suite is currently in. Statuses of waiting, requested, and pending are reserved for GitHub Actions check suites."
      }
    },
    "com.github.checks#CheckSuiteConclusion": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failure"
          }
        },
        "NEUTRAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "neutral"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skipped"
          }
        },
        "TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "timed_out"
          }
        },
        "ACTION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "action_required"
          }
        },
        "STARTUP_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "startup_failure"
          }
        },
        "STALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stale"
          }
        }
      },
      "traits": {}
    },
    "com.github.checks#CheckSuitePullRequestsList": {
      "type": "list",
      "member": {
        "target": "com.github.checks#PullRequestMinimal"
      },
      "traits": {}
    },
    "com.github.checks#MinimalRepository": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "full_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "com.github.checks#SimpleUser",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "fork": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "archive_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "assignees_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "blobs_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branches_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "collaborators_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "comments_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "commits_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "compare_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "contents_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "contributors_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deployments_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "downloads_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "forks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "git_commits_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "git_refs_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "git_tags_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "git_url": {
          "target": "smithy.api#String"
        },
        "issue_comment_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "issue_events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "issues_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "keys_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "labels_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "languages_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "merges_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "milestones_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "notifications_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pulls_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "releases_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ssh_url": {
          "target": "smithy.api#String"
        },
        "stargazers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "statuses_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subscribers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subscription_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "teams_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "trees_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "clone_url": {
          "target": "smithy.api#String"
        },
        "mirror_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hooks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "svn_url": {
          "target": "smithy.api#String"
        },
        "homepage": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "forks_count": {
          "target": "smithy.api#Integer"
        },
        "stargazers_count": {
          "target": "smithy.api#Integer"
        },
        "watchers_count": {
          "target": "smithy.api#Integer"
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The size of the repository, in kilobytes. Size is calculated hourly. When a repository is initially created, the size is 0."
          }
        },
        "default_branch": {
          "target": "smithy.api#String"
        },
        "open_issues_count": {
          "target": "smithy.api#Integer"
        },
        "is_template": {
          "target": "smithy.api#Boolean"
        },
        "topics": {
          "target": "com.github.checks#MinimalRepositoryTopicsList"
        },
        "has_issues": {
          "target": "smithy.api#Boolean"
        },
        "has_projects": {
          "target": "smithy.api#Boolean"
        },
        "has_wiki": {
          "target": "smithy.api#Boolean"
        },
        "has_pages": {
          "target": "smithy.api#Boolean"
        },
        "has_downloads": {
          "target": "smithy.api#Boolean"
        },
        "has_discussions": {
          "target": "smithy.api#Boolean"
        },
        "has_pull_requests": {
          "target": "smithy.api#Boolean"
        },
        "pull_request_creation_policy": {
          "target": "com.github.checks#MinimalRepositoryPullRequestCreationPolicy",
          "traits": {
            "smithy.api#documentation": "The policy controlling who can create pull requests: all or collaborators_only."
          }
        },
        "archived": {
          "target": "smithy.api#Boolean"
        },
        "disabled": {
          "target": "smithy.api#Boolean"
        },
        "visibility": {
          "target": "smithy.api#String"
        },
        "pushed_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "permissions": {
          "target": "com.github.checks#MinimalRepositoryPermissions"
        },
        "role_name": {
          "target": "smithy.api#String"
        },
        "temp_clone_token": {
          "target": "smithy.api#String"
        },
        "delete_branch_on_merge": {
          "target": "smithy.api#Boolean"
        },
        "subscribers_count": {
          "target": "smithy.api#Integer"
        },
        "network_count": {
          "target": "smithy.api#Integer"
        },
        "code_of_conduct": {
          "target": "com.github.checks#CodeOfConduct"
        },
        "license": {
          "target": "com.github.checks#MinimalRepositoryLicense",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "forks": {
          "target": "smithy.api#Integer"
        },
        "open_issues": {
          "target": "smithy.api#Integer"
        },
        "watchers": {
          "target": "smithy.api#Integer"
        },
        "allow_forking": {
          "target": "smithy.api#Boolean"
        },
        "web_commit_signoff_required": {
          "target": "smithy.api#Boolean"
        },
        "security_and_analysis": {
          "target": "com.github.checks#SecurityAndAnalysis",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "custom_properties": {
          "target": "com.github.checks#MinimalRepositoryCustomPropertiesMap",
          "traits": {
            "smithy.api#documentation": "The custom properties that were defined for the repository. The keys are the custom property names, and the values are the corresponding custom property values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Minimal Repository"
      }
    },
    "com.github.checks#MinimalRepositoryTopicsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.github.checks#MinimalRepositoryPullRequestCreationPolicy": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "COLLABORATORS_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "collaborators_only"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The policy controlling who can create pull requests: all or collaborators_only."
      }
    },
    "com.github.checks#MinimalRepositoryPermissions": {
      "type": "structure",
      "members": {
        "admin": {
          "target": "smithy.api#Boolean"
        },
        "maintain": {
          "target": "smithy.api#Boolean"
        },
        "push": {
          "target": "smithy.api#Boolean"
        },
        "triage": {
          "target": "smithy.api#Boolean"
        },
        "pull": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.github.checks#CodeOfConduct": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "smithy.api#String"
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Code Of Conduct"
      }
    },
    "com.github.checks#MinimalRepositoryLicense": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "spdx_id": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.github.checks#SecurityAndAnalysis": {
      "type": "structure",
      "members": {
        "advanced_security": {
          "target": "com.github.checks#SecurityAndAnalysisAdvancedSecurity",
          "traits": {
            "smithy.api#documentation": "Enable or disable GitHub Advanced Security for the repository.\n\nFor standalone Code Scanning or Secret Protection products, this parameter cannot be used.\n"
          }
        },
        "code_security": {
          "target": "com.github.checks#SecurityAndAnalysisCodeSecurity"
        },
        "dependabot_security_updates": {
          "target": "com.github.checks#SecurityAndAnalysisDependabotSecurityUpdates",
          "traits": {
            "smithy.api#documentation": "Enable or disable Dependabot security updates for the repository."
          }
        },
        "secret_scanning": {
          "target": "com.github.checks#SecurityAndAnalysisSecretScanning"
        },
        "secret_scanning_push_protection": {
          "target": "com.github.checks#SecurityAndAnalysisSecretScanningPushProtection"
        },
        "secret_scanning_non_provider_patterns": {
          "target": "com.github.checks#SecurityAndAnalysisSecretScanningNonProviderPatterns"
        },
        "secret_scanning_ai_detection": {
          "target": "com.github.checks#SecurityAndAnalysisSecretScanningAiDetection"
        },
        "secret_scanning_delegated_alert_dismissal": {
          "target": "com.github.checks#SecurityAndAnalysisSecretScanningDelegatedAlertDismissal"
        },
        "secret_scanning_delegated_bypass": {
          "target": "com.github.checks#SecurityAndAnalysisSecretScanningDelegatedBypass"
        },
        "secret_scanning_delegated_bypass_options": {
          "target": "com.github.checks#SecurityAndAnalysisSecretScanningDelegatedBypassOptions"
        }
      },
      "traits": {}
    },
    "com.github.checks#SecurityAndAnalysisAdvancedSecurityStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {}
    },
    "com.github.checks#SecurityAndAnalysisAdvancedSecurity": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.github.checks#SecurityAndAnalysisAdvancedSecurityStatus"
        }
      },
      "traits": {
        "smithy.api#documentation": "Enable or disable GitHub Advanced Security for the repository.\n\nFor standalone Code Scanning or Secret Protection products, this parameter cannot be used.\n"
      }
    },
    "com.github.checks#SecurityAndAnalysisCodeSecurityStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {}
    },
    "com.github.checks#SecurityAndAnalysisCodeSecurity": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.github.checks#SecurityAndAnalysisCodeSecurityStatus"
        }
      },
      "traits": {}
    },
    "com.github.checks#SecurityAndAnalysisDependabotSecurityUpdatesStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of Dependabot security updates for the repository."
      }
    },
    "com.github.checks#SecurityAndAnalysisDependabotSecurityUpdates": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.github.checks#SecurityAndAnalysisDependabotSecurityUpdatesStatus",
          "traits": {
            "smithy.api#documentation": "The enablement status of Dependabot security updates for the repository."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enable or disable Dependabot security updates for the repository."
      }
    },
    "com.github.checks#SecurityAndAnalysisSecretScanningStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {}
    },
    "com.github.checks#SecurityAndAnalysisSecretScanning": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.github.checks#SecurityAndAnalysisSecretScanningStatus"
        }
      },
      "traits": {}
    },
    "com.github.checks#SecurityAndAnalysisSecretScanningPushProtectionStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {}
    },
    "com.github.checks#SecurityAndAnalysisSecretScanningPushProtection": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.github.checks#SecurityAndAnalysisSecretScanningPushProtectionStatus"
        }
      },
      "traits": {}
    },
    "com.github.checks#SecurityAndAnalysisSecretScanningNonProviderPatternsStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {}
    },
    "com.github.checks#SecurityAndAnalysisSecretScanningNonProviderPatterns": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.github.checks#SecurityAndAnalysisSecretScanningNonProviderPatternsStatus"
        }
      },
      "traits": {}
    },
    "com.github.checks#SecurityAndAnalysisSecretScanningAiDetectionStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {}
    },
    "com.github.checks#SecurityAndAnalysisSecretScanningAiDetection": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.github.checks#SecurityAndAnalysisSecretScanningAiDetectionStatus"
        }
      },
      "traits": {}
    },
    "com.github.checks#SecurityAndAnalysisSecretScanningDelegatedAlertDismissalStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {}
    },
    "com.github.checks#SecurityAndAnalysisSecretScanningDelegatedAlertDismissal": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.github.checks#SecurityAndAnalysisSecretScanningDelegatedAlertDismissalStatus"
        }
      },
      "traits": {}
    },
    "com.github.checks#SecurityAndAnalysisSecretScanningDelegatedBypassStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {}
    },
    "com.github.checks#SecurityAndAnalysisSecretScanningDelegatedBypass": {
      "type": "structure",
      "members": {
        "status": {
[...]
