{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.github.code_scanning#ListAlertsForOrgRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.github.code_scanning#CodeScanningAlertStateQuery": {
      "type": "enum",
      "members": {
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        },
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "closed"
          }
        },
        "DISMISSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dismissed"
          }
        },
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State of a code scanning alert."
      }
    },
    "com.github.code_scanning#ListAlertsForOrgRequestSort": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated"
          }
        }
      },
      "traits": {}
    },
    "com.github.code_scanning#CodeScanningAlertSeverity": {
      "type": "enum",
      "members": {
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "critical"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warning"
          }
        },
        "NOTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "note"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Severity of a code scanning alert."
      }
    },
    "com.github.code_scanning#ListAlertsForOrgRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "tool_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "tool_name",
            "smithy.api#documentation": "The name of a code scanning tool. Only results by this tool will be listed. You can specify the tool by using either `tool_name` or `tool_guid`, but not both."
          }
        },
        "tool_guid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "tool_guid",
            "smithy.api#documentation": "The GUID of a code scanning tool. Only results by this tool will be listed. Note that some code scanning tools may not include a GUID in their analysis data. You can specify the tool by using either `tool_guid` or `tool_name`, but not both."
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "A cursor, as given in the [Link header](https://docs.github.com/rest/guides/using-pagination-in-the-rest-api#using-link-headers). If specified, the query only searches for results before this cursor. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "A cursor, as given in the [Link header](https://docs.github.com/rest/guides/using-pagination-in-the-rest-api#using-link-headers). If specified, the query only searches for results after this cursor. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "The page number of the results to fetch. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "The number of results per page (max 100). For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "direction": {
          "target": "com.github.code_scanning#ListAlertsForOrgRequestDirection",
          "traits": {
            "smithy.api#httpQuery": "direction",
            "smithy.api#documentation": "The direction to sort the results by."
          }
        },
        "state": {
          "target": "com.github.code_scanning#CodeScanningAlertStateQuery",
          "traits": {
            "smithy.api#httpQuery": "state",
            "smithy.api#documentation": "If specified, only code scanning alerts with this state will be returned."
          }
        },
        "sort": {
          "target": "com.github.code_scanning#ListAlertsForOrgRequestSort",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "The property by which to sort the results."
          }
        },
        "severity": {
          "target": "com.github.code_scanning#CodeScanningAlertSeverity",
          "traits": {
            "smithy.api#httpQuery": "severity",
            "smithy.api#documentation": "If specified, only code scanning alerts with this severity will be returned."
          }
        },
        "assignees": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "assignees",
            "smithy.api#documentation": "Filter alerts by assignees. Provide a comma-separated list of user handles (e.g., `octocat` or `octocat,hubot`).\nUse `*` to list alerts with at least one assignee or `none` to list alerts with no assignees.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.code_scanning#CodeScanningOrganizationAlertItems": {
      "type": "structure",
      "members": {
        "number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "instances_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.github.code_scanning#CodeScanningAlertState",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "fixed_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "dismissed_by": {
          "target": "com.github.code_scanning#NullableSimpleUser",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dismissed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dismissed_reason": {
          "target": "com.github.code_scanning#CodeScanningAlertDismissedReason",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dismissed_comment": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "rule": {
          "target": "com.github.code_scanning#CodeScanningAlertRuleSummary",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tool": {
          "target": "com.github.code_scanning#CodeScanningAnalysisTool",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "most_recent_instance": {
          "target": "com.github.code_scanning#CodeScanningAlertInstance",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repository": {
          "target": "com.github.code_scanning#SimpleRepository",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dismissal_approved_by": {
          "target": "com.github.code_scanning#NullableSimpleUser",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "assignees": {
          "target": "com.github.code_scanning#CodeScanningOrganizationAlertItemsAssigneesList"
        }
      },
      "traits": {}
    },
    "com.github.code_scanning#CodeScanningAlertState": {
      "type": "enum",
      "members": {
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        },
        "DISMISSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dismissed"
          }
        },
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State of a code scanning alert."
      }
    },
    "com.github.code_scanning#NullableSimpleUser": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "login": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatar_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gravatar_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "followers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "following_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gists_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "starred_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subscriptions_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "organizations_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repos_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "received_events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "site_admin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "starred_at": {
          "target": "smithy.api#String"
        },
        "user_view_type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "A GitHub user."
      }
    },
    "com.github.code_scanning#CodeScanningAlertDismissedReason": {
      "type": "enum",
      "members": {
        "FALSE_POSITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "false positive"
          }
        },
        "WON_T_FIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "won't fix"
          }
        },
        "USED_IN_TESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "used in tests"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**Required when the state is dismissed.** The reason for dismissing or closing the alert."
      }
    },
    "com.github.code_scanning#CodeScanningAlertRuleSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier for the rule used to detect the alert.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the rule used to detect the alert."
          }
        },
        "severity": {
          "target": "com.github.code_scanning#CodeScanningAlertRuleSummarySeverity",
          "traits": {
            "smithy.api#documentation": "The severity of the alert.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "security_severity_level": {
          "target": "com.github.code_scanning#CodeScanningAlertRuleSummarySecuritySeverityLevel",
          "traits": {
            "smithy.api#documentation": "The security severity of the alert.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the rule used to detect the alert."
          }
        },
        "full_description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of the rule used to detect the alert."
          }
        },
        "tags": {
          "target": "com.github.code_scanning#CodeScanningAlertRuleSummaryTagsList",
          "traits": {
            "smithy.api#documentation": "A set of tags applicable for the rule.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "help": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed documentation for the rule as GitHub Flavored Markdown.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "help_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to the documentation for the rule used to detect the alert.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.code_scanning#CodeScanningAlertRuleSummarySeverity": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "NOTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "note"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warning"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The severity of the alert."
      }
    },
    "com.github.code_scanning#CodeScanningAlertRuleSummarySecuritySeverityLevel": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "critical"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The security severity of the alert."
      }
    },
    "com.github.code_scanning#CodeScanningAlertRuleSummaryTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A set of tags applicable for the rule."
      }
    },
    "com.github.code_scanning#CodeScanningAnalysisTool": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "guid": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.code_scanning#CodeScanningAlertInstance": {
      "type": "structure",
      "members": {
        "ref": {
          "target": "smithy.api#String"
        },
        "analysis_key": {
          "target": "smithy.api#String"
        },
        "environment": {
          "target": "smithy.api#String"
        },
        "category": {
          "target": "smithy.api#String"
        },
        "state": {
          "target": "com.github.code_scanning#CodeScanningAlertState",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "commit_sha": {
          "target": "smithy.api#String"
        },
        "message": {
          "target": "com.github.code_scanning#CodeScanningAlertInstanceMessage"
        },
        "location": {
          "target": "com.github.code_scanning#CodeScanningAlertLocation"
        },
        "html_url": {
          "target": "smithy.api#String"
        },
        "classifications": {
          "target": "com.github.code_scanning#CodeScanningAlertInstanceClassificationsList",
          "traits": {
            "smithy.api#documentation": "Classifications that have been applied to the file that triggered the alert.\nFor example identifying it as documentation, or a generated file."
          }
        }
      },
      "traits": {}
    },
    "com.github.code_scanning#CodeScanningAlertInstanceMessage": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String"
        },
        "markdown": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The message text as GitHub-flavored Markdown, with placeholder links for related locations replaced by links to the relevant code. Only populated when related locations are available for the alert instance."
          }
        }
      },
      "traits": {}
    },
    "com.github.code_scanning#CodeScanningAlertLocation": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String"
        },
        "start_line": {
          "target": "smithy.api#Integer"
        },
        "end_line": {
          "target": "smithy.api#Integer"
        },
        "start_column": {
          "target": "smithy.api#Integer"
        },
        "end_column": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#documentation": "Describe a region within a file for the alert."
      }
    },
    "com.github.code_scanning#CodeScanningAlertClassification": {
      "type": "enum",
      "members": {
        "SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "source"
          }
        },
        "GENERATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "generated"
          }
        },
        "TEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "test"
          }
        },
        "LIBRARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "library"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A classification of the file. For example to identify it as generated."
      }
    },
    "com.github.code_scanning#CodeScanningAlertInstanceClassificationsList": {
      "type": "list",
      "member": {
        "target": "com.github.code_scanning#CodeScanningAlertClassification"
      },
      "traits": {
        "smithy.api#documentation": "Classifications that have been applied to the file that triggered the alert.\nFor example identifying it as documentation, or a generated file."
      }
    },
    "com.github.code_scanning#SimpleRepository": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "A unique identifier of the repository.",
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GraphQL identifier of the repository.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the repository.",
            "smithy.api#required": {}
          }
        },
        "full_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full, globally unique, name of the repository.",
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "com.github.code_scanning#SimpleUser",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the repository is private.",
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to view the repository on GitHub.com.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The repository description.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "fork": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the repository is a fork.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to get more information about the repository from the GitHub API.",
            "smithy.api#required": {}
          }
        },
        "archive_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to download the repository as an archive.",
            "smithy.api#required": {}
          }
        },
        "assignees_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to list the available assignees for issues in the repository.",
            "smithy.api#required": {}
          }
        },
        "blobs_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to create or retrieve a raw Git blob in the repository.",
            "smithy.api#required": {}
          }
        },
        "branches_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about branches in the repository.",
            "smithy.api#required": {}
          }
        },
        "collaborators_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about collaborators of the repository.",
            "smithy.api#required": {}
          }
        },
        "comments_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about comments on the repository.",
            "smithy.api#required": {}
          }
        },
        "commits_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about commits on the repository.",
            "smithy.api#required": {}
          }
        },
        "compare_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to compare two commits or refs.",
            "smithy.api#required": {}
          }
        },
        "contents_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get the contents of the repository.",
            "smithy.api#required": {}
          }
        },
        "contributors_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to list the contributors to the repository.",
            "smithy.api#required": {}
          }
        },
        "deployments_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to list the deployments of the repository.",
            "smithy.api#required": {}
          }
        },
        "downloads_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to list the downloads on the repository.",
            "smithy.api#required": {}
          }
        },
        "events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to list the events of the repository.",
            "smithy.api#required": {}
          }
        },
        "forks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to list the forks of the repository.",
            "smithy.api#required": {}
          }
        },
        "git_commits_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about Git commits of the repository.",
            "smithy.api#required": {}
          }
        },
        "git_refs_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about Git refs of the repository.",
            "smithy.api#required": {}
          }
        },
        "git_tags_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about Git tags of the repository.",
            "smithy.api#required": {}
          }
        },
        "issue_comment_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about issue comments on the repository.",
            "smithy.api#required": {}
          }
        },
        "issue_events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about issue events on the repository.",
            "smithy.api#required": {}
          }
        },
        "issues_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about issues on the repository.",
            "smithy.api#required": {}
          }
        },
        "keys_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about deploy keys on the repository.",
            "smithy.api#required": {}
          }
        },
        "labels_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about labels of the repository.",
            "smithy.api#required": {}
          }
        },
        "languages_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to get information about the languages of the repository.",
            "smithy.api#required": {}
          }
        },
        "merges_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to merge branches in the repository.",
            "smithy.api#required": {}
          }
        },
        "milestones_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about milestones of the repository.",
            "smithy.api#required": {}
          }
        },
        "notifications_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about notifications on the repository.",
            "smithy.api#required": {}
          }
        },
        "pulls_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about pull requests on the repository.",
            "smithy.api#required": {}
          }
        },
        "releases_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about releases on the repository.",
            "smithy.api#required": {}
          }
        },
        "stargazers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to list the stargazers on the repository.",
            "smithy.api#required": {}
          }
        },
        "statuses_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about statuses of a commit.",
            "smithy.api#required": {}
          }
        },
        "subscribers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to list the subscribers on the repository.",
            "smithy.api#required": {}
          }
        },
        "subscription_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to subscribe to notifications for this repository.",
            "smithy.api#required": {}
          }
        },
        "tags_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to get information about tags on the repository.",
            "smithy.api#required": {}
          }
        },
        "teams_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to list the teams on the repository.",
            "smithy.api#required": {}
          }
        },
        "trees_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to create or retrieve a raw Git tree of the repository.",
            "smithy.api#required": {}
          }
        },
        "hooks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to list the hooks on the repository.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A GitHub repository."
      }
    },
    "com.github.code_scanning#SimpleUser": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "login": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatar_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gravatar_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "followers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "following_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gists_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "starred_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subscriptions_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "organizations_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repos_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "received_events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "site_admin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "starred_at": {
          "target": "smithy.api#String"
        },
        "user_view_type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "A GitHub user."
      }
    },
    "com.github.code_scanning#CodeScanningOrganizationAlertItemsAssigneesList": {
      "type": "list",
      "member": {
        "target": "com.github.code_scanning#SimpleUser"
      },
      "traits": {}
    },
    "com.github.code_scanning#ListAlertsForOrgResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.github.code_scanning#CodeScanningOrganizationAlertItems"
      },
      "traits": {}
    },
    "com.github.code_scanning#ListAlertsForOrgResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.github.code_scanning#ListAlertsForOrgResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.code_scanning#ListAlertsForOrg": {
      "type": "operation",
      "input": {
        "target": "com.github.code_scanning#ListAlertsForOrgRequest"
      },
      "output": {
        "target": "com.github.code_scanning#ListAlertsForOrgResponse"
      },
      "errors": [
        {
          "target": "com.github.code_scanning#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/code-scanning/alerts",
          "code": 200
        },
        "smithy.api#documentation": "List code scanning alerts for an organization\n\nLists code scanning alerts for the default branch for all eligible repositories in an organization. Eligible repositories are repositories that are owned by organizations that you own or for which you are a security manager. For more information, see \"[Managing security managers in your organization](https://docs.github.com/organizations/managing-peoples-access-to-your-organization-with-roles/managing-security-managers-in-your-organization).\"\n\nThe authenticated user must be an owner or security manager for the organization to use this endpoint.\n\nOAuth app tokens and personal access tokens (classic) need the `security_events` or `repo`s cope to use this endpoint with private or public repositories, or the `public_repo` scope to use this endpoint with only public repositories."
      }
    },
    "com.github.code_scanning#ListAlertsForRepoRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.github.code_scanning#ListAlertsForRepoRequestSort": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated"
          }
        }
      },
      "traits": {}
    },
    "com.github.code_scanning#ListAlertsForRepoRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The account owner of the repository. The name is not case sensitive."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the repository without the `.git` extension. The name is not case sensitive."
          }
        },
        "tool_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "tool_name",
            "smithy.api#documentation": "The name of a code scanning tool. Only results by this tool will be listed. You can specify the tool by using either `tool_name` or `tool_guid`, but not both."
          }
        },
        "tool_guid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "tool_guid",
            "smithy.api#documentation": "The GUID of a code scanning tool. Only results by this tool will be listed. Note that some code scanning tools may not include a GUID in their analysis data. You can specify the tool by using either `tool_guid` or `tool_name`, but not both."
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "The page number of the results to fetch. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "The number of results per page (max 100). For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "ref",
            "smithy.api#documentation": "The Git reference for the results you want to list. The `ref` for a branch can be formatted either as `refs/heads/<branch name>` or simply `<branch name>`. To reference a pull request use `refs/pull/<number>/merge`."
          }
        },
        "pr": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pr",
            "smithy.api#documentation": "The number of the pull request for the results you want to list."
          }
        },
        "direction": {
          "target": "com.github.code_scanning#ListAlertsForRepoRequestDirection",
          "traits": {
            "smithy.api#httpQuery": "direction",
            "smithy.api#documentation": "The direction to sort the results by."
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "A cursor, as given in the [Link header](https://docs.github.com/rest/guides/using-pagination-in-the-rest-api#using-link-headers). If specified, the query only searches for results before this cursor. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "A cursor, as given in the [Link header](https://docs.github.com/rest/guides/using-pagination-in-the-rest-api#using-link-headers). If specified, the query only searches for results after this cursor. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "sort": {
          "target": "com.github.code_scanning#ListAlertsForRepoRequestSort",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "The property by which to sort the results."
          }
        },
        "state": {
          "target": "com.github.code_scanning#CodeScanningAlertStateQuery",
          "traits": {
            "smithy.api#httpQuery": "state",
            "smithy.api#documentation": "If specified, only code scanning alerts with this state will be returned."
          }
        },
        "severity": {
          "target": "com.github.code_scanning#CodeScanningAlertSeverity",
          "traits": {
            "smithy.api#httpQuery": "severity",
            "smithy.api#documentation": "If specified, only code scanning alerts with this severity will be returned."
          }
        },
        "assignees": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "assignees",
            "smithy.api#documentation": "Filter alerts by assignees. Provide a comma-separated list of user handles (e.g., `octocat` or `octocat,hubot`).\nUse `*` to list alerts with at least one assignee or `none` to list alerts with no assignees.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.code_scanning#CodeScanningAlertItems": {
      "type": "structure",
      "members": {
        "number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "instances_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.github.code_scanning#CodeScanningAlertState",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "fixed_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "dismissed_by": {
          "target": "com.github.code_scanning#NullableSimpleUser",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dismissed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dismissed_reason": {
          "target": "com.github.code_scanning#CodeScanningAlertDismissedReason",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dismissed_comment": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "rule": {
          "target": "com.github.code_scanning#CodeScanningAlertRuleSummary",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tool": {
          "target": "com.github.code_scanning#CodeScanningAnalysisTool",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "most_recent_instance": {
          "target": "com.github.code_scanning#CodeScanningAlertInstance",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dismissal_approved_by": {
          "target": "com.github.code_scanning#NullableSimpleUser",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "assignees": {
          "target": "com.github.code_scanning#CodeScanningAlertItemsAssigneesList"
        }
      },
      "traits": {}
    },
    "com.github.code_scanning#CodeScanningAlertItemsAssigneesList": {
      "type": "list",
      "member": {
        "target": "com.github.code_scanning#SimpleUser"
      },
      "traits": {}
    },
    "com.github.code_scanning#ListAlertsForRepoResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.github.code_scanning#CodeScanningAlertItems"
      },
      "traits": {}
    },
    "com.github.code_scanning#ListAlertsForRepoResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.github.code_scanning#ListAlertsForRepoResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.code_scanning#ListAlertsForRepo": {
      "type": "operation",
      "input": {
        "target": "com.github.code_scanning#ListAlertsForRepoRequest"
      },
      "output": {
        "target": "com.github.code_scanning#ListAlertsForRepoResponse"
      },
      "errors": [
        {
          "target": "com.github.code_scanning#Forbidden"
        },
        {
          "target": "com.github.code_scanning#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/repos/{owner}/{repo}/code-scanning/alerts",
          "code": 200
        },
        "smithy.api#documentation": "List code scanning alerts for a repository\n\nLists code scanning alerts.\n\nThe response includes a `most_recent_instance` object.\nThis provides details of the most recent instance of this alert\nfor the default branch (or for the specified Git reference if you used `ref` in the request).\n\nOAuth app tokens and personal access tokens (classic) need the `security_events` scope to use this endpoint with private or public repositories, or the `public_repo` scope to use this endpoint with only public repositories."
      }
    },
    "com.github.code_scanning#GetAlertRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The account owner of the repository. The name is not case sensitive."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the repository without the `.git` extension. The name is not case sensitive."
          }
        },
        "alert_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The number that identifies an alert. You can find this at the end of the URL for a code scanning alert within GitHub, and in the `number` field in the response from the `GET /repos/{owner}/{repo}/code-scanning/alerts` operation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.code_scanning#CodeScanningAlert": {
      "type": "structure",
      "members": {
        "number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "instances_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.github.code_scanning#CodeScanningAlertState",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "fixed_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "dismissed_by": {
          "target": "com.github.code_scanning#NullableSimpleUser",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dismissed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dismissed_reason": {
          "target": "com.github.code_scanning#CodeScanningAlertDismissedReason",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dismissed_comment": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "rule": {
          "target": "com.github.code_scanning#CodeScanningAlertRule",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tool": {
          "target": "com.github.code_scanning#CodeScanningAnalysisTool",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "most_recent_instance": {
          "target": "com.github.code_scanning#CodeScanningAlertInstance",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dismissal_approved_by": {
          "target": "com.github.code_scanning#NullableSimpleUser",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "assignees": {
          "target": "com.github.code_scanning#CodeScanningAlertAssigneesList"
        },
        "linked_pull_requests": {
          "target": "com.github.code_scanning#CodeScanningAlertLinkedPullRequestsList",
          "traits": {
            "smithy.api#documentation": "Pull requests linked to this alert."
          }
        }
      },
      "traits": {}
    },
    "com.github.code_scanning#CodeScanningAlertRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier for the rule used to detect the alert.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the rule used to detect the alert."
          }
        },
        "severity": {
          "target": "com.github.code_scanning#CodeScanningAlertRuleSeverity",
          "traits": {
            "smithy.api#documentation": "The severity of the alert.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "security_severity_level": {
          "target": "com.github.code_scanning#CodeScanningAlertRuleSecuritySeverityLevel",
          "traits": {
            "smithy.api#documentation": "The security severity of the alert.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the rule used to detect the alert."
          }
        },
        "full_description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of the rule used to detect the alert."
          }
        },
        "tags": {
          "target": "com.github.code_scanning#CodeScanningAlertRuleTagsList",
          "traits": {
            "smithy.api#documentation": "A set of tags applicable for the rule.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "help": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed documentation for the rule as GitHub Flavored Markdown.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "help_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to the documentation for the rule used to detect the alert.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.code_scanning#CodeScanningAlertRuleSeverity": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "NOTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "note"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warning"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The severity of the alert."
      }
    },
    "com.github.code_scanning#CodeScanningAlertRuleSecuritySeverityLevel": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "critical"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The security severity of the alert."
      }
    },
    "com.github.code_scanning#CodeScanningAlertRuleTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A set of tags applicable for the rule."
      }
    },
    "com.github.code_scanning#CodeScanningAlertAssigneesList": {
      "type": "list",
      "member": {
        "target": "com.github.code_scanning#SimpleUser"
      },
      "traits": {}
    },
    "com.github.code_scanning#PullRequestSimple": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "diff_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "patch_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "issue_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "commits_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "review_comments_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "review_comment_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "comments_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "statuses_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "com.github.code_scanning#NullableSimpleUser",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "labels": {
          "target": "com.github.code_scanning#PullRequestSimpleLabelsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "milestone": {
          "target": "com.github.code_scanning#NullableMilestone",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "active_lock_reason": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "closed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "merged_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "merge_commit_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "assignee": {
          "target": "com.github.code_scanning#NullableSimpleUser",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "assignees": {
          "target": "com.github.code_scanning#PullRequestSimpleAssigneesList"
        },
        "requested_reviewers": {
          "target": "com.github.code_scanning#PullRequestSimpleRequestedReviewersList"
        },
        "requested_teams": {
          "target": "com.github.code_scanning#PullRequestSimpleRequestedTeamsList"
        },
        "head": {
          "target": "com.github.code_scanning#PullRequestSimpleHead",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "base": {
          "target": "com.github.code_scanning#PullRequestSimpleBase",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "_links": {
          "target": "com.github.code_scanning#PullRequestSimpleLinks",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "author_association": {
          "target": "com.github.code_scanning#AuthorAssociation",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "auto_merge": {
          "target": "com.github.code_scanning#AutoMerge",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "stack": {
          "target": "com.github.code_scanning#PullRequestStack",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "draft": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether or not the pull request is a draft."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pull Request Simple"
      }
    },
    "com.github.code_scanning#PullRequestSimpleLabelsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "color": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "default": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.code_scanning#PullRequestSimpleLabelsList": {
      "type": "list",
      "member": {
        "target": "com.github.code_scanning#PullRequestSimpleLabelsItem"
      },
      "traits": {}
    },
    "com.github.code_scanning#NullableMilestone": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "labels_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of the milestone.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.github.code_scanning#NullableMilestoneState",
          "traits": {
            "smithy.api#documentation": "The state of the milestone.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title of the milestone.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "creator": {
          "target": "com.github.code_scanning#NullableSimpleUser",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "open_issues": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "closed_issues": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "closed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "due_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of related issues and pull requests."
      }
    },
    "com.github.code_scanning#NullableMilestoneState": {
      "type": "enum",
      "members": {
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        },
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "closed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of the milestone."
      }
    },
    "com.github.code_scanning#PullRequestSimpleAssigneesList": {
      "type": "list",
      "member": {
        "target": "com.github.code_scanning#SimpleUser"
      },
      "traits": {}
    },
    "com.github.code_scanning#PullRequestSimpleRequestedReviewersList": {
      "type": "list",
      "member": {
        "target": "com.github.code_scanning#SimpleUser"
      },
      "traits": {}
    },
    "com.github.code_scanning#Team": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "privacy": {
          "target": "smithy.api#String"
        },
        "notification_setting": {
          "target": "smithy.api#String"
        },
        "permission": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.github.code_scanning#TeamPermissions"
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "members_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repositories_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.github.code_scanning#TeamType",
          "traits": {
            "smithy.api#documentation": "The ownership type of the team",
            "smithy.api#required": {}
          }
        },
        "access_source": {
          "target": "com.github.code_scanning#TeamAccessSource",
          "traits": {
            "smithy.api#documentation": "How the team's access to the repository was granted. This property is only\npresent when the team is returned in a repository context, such as\n`GET /repos/{owner}/{repo}/teams`."
          }
        },
        "organization_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the organization to which this team belongs"
          }
        },
        "enterprise_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the enterprise to which this team belongs"
          }
        },
        "parent": {
          "target": "com.github.code_scanning#NullableTeamSimple",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Groups of organization members that gives permissions on specified repositories."
      }
    },
    "com.github.code_scanning#TeamPermissions": {
      "type": "structure",
      "members": {
        "pull": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "triage": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "push": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "maintain": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "admin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.code_scanning#TeamType": {
      "type": "enum",
      "members": {
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ownership type of the team"
      }
    },
    "com.github.code_scanning#TeamAccessSource": {
      "type": "enum",
      "members": {
        "DIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "direct"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How the team's access to the repository was granted. This property is only\npresent when the team is returned in a repository context, such as\n`GET /repos/{owner}/{repo}/teams`."
      }
    },
    "com.github.code_scanning#NullableTeamSimple": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the team",
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL for the team",
            "smithy.api#required": {}
          }
        },
        "members_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the team",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the team",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "permission": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Permission that the team will have for its repositories",
            "smithy.api#required": {}
          }
        },
        "privacy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The level of privacy this team should have"
          }
        },
        "notification_setting": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The notification setting the team has set"
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repositories_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ldap_dn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Distinguished Name (DN) that team maps to within LDAP environment"
          }
        },
        "type": {
          "target": "com.github.code_scanning#NullableTeamSimpleType",
          "traits": {
            "smithy.api#documentation": "The ownership type of the team",
            "smithy.api#required": {}
          }
        },
        "organization_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the organization to which this team belongs"
          }
        },
        "enterprise_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the enterprise to which this team belongs"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Groups of organization members that gives permissions on specified repositories."
      }
    },
    "com.github.code_scanning#NullableTeamSimpleType": {
      "type": "enum",
      "members": {
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ownership type of the team"
      }
    },
    "com.github.code_scanning#PullRequestSimpleRequestedTeamsList": {
      "type": "list",
      "member": {
        "target": "com.github.code_scanning#Team"
      },
      "traits": {}
    },
    "com.github.code_scanning#Repository": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the repository",
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the repository.",
            "smithy.api#required": {}
          }
        },
        "full_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "license": {
          "target": "com.github.code_scanning#NullableLicenseSimple",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "forks": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.github.code_scanning#RepositoryPermissions"
        },
        "owner": {
          "target": "com.github.code_scanning#SimpleUser",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the repository is private or public.",
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "fork": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "archive_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "assignees_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "blobs_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branches_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "collaborators_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "comments_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "commits_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "compare_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "contents_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "contributors_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deployments_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "downloads_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "forks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "git_commits_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "git_refs_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "git_tags_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "git_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "issue_comment_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "issue_events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "issues_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "keys_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "labels_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "languages_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "merges_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "milestones_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "notifications_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pulls_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "releases_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ssh_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "stargazers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "statuses_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subscribers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subscription_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "teams_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "trees_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "clone_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mirror_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "hooks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "svn_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "homepage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "forks_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "stargazers_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "watchers_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The size of the repository, in kilobytes. Size is calculated hourly. When a repository is initially created, the size is 0.",
            "smithy.api#required": {}
          }
        },
        "default_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default branch of the repository.",
            "smithy.api#required": {}
          }
        },
        "open_issues_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "is_template": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this repository acts as a template that can be used to generate new repositories."
          }
        },
        "topics": {
          "target": "com.github.code_scanning#RepositoryTopicsList"
        },
        "has_issues": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether issues are enabled.",
            "smithy.api#required": {}
          }
        },
        "has_projects": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether projects are enabled.",
            "smithy.api#required": {}
          }
        },
        "has_wiki": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the wiki is enabled.",
            "smithy.api#required": {}
          }
        },
        "has_pages": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_downloads": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether downloads are enabled.",
            "smithy.api#required": {}
          }
        },
        "has_discussions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether discussions are enabled."
          }
        },
        "has_pull_requests": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether pull requests are enabled."
          }
        },
        "pull_request_creation_policy": {
          "target": "com.github.code_scanning#RepositoryPullRequestCreationPolicy",
          "traits": {
            "smithy.api#documentation": "The policy controlling who can create pull requests: all or collaborators_only."
          }
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the repository is archived.",
            "smithy.api#required": {}
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Returns whether or not this repository disabled.",
            "smithy.api#required": {}
          }
        },
        "visibility": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The repository visibility: public, private, or internal."
          }
        },
        "pushed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "allow_rebase_merge": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to allow rebase merges for pull requests."
          }
        },
        "temp_clone_token": {
          "target": "smithy.api#String"
        },
        "allow_squash_merge": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to allow squash merges for pull requests."
          }
        },
        "allow_auto_merge": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to allow Auto-merge to be used on pull requests."
          }
        },
        "delete_branch_on_merge": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to delete head branches when pull requests are merged"
          }
        },
        "allow_update_branch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not a pull request head branch that is behind its base branch can always be updated even if it is not required to be up to date before merging."
          }
        },
        "use_squash_pr_title_as_default": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a squash merge commit can use the pull request title as default. **This property is closing down. Please use `squash_merge_commit_title` instead."
          }
        },
        "squash_merge_commit_title": {
          "target": "com.github.code_scanning#RepositorySquashMergeCommitTitle",
          "traits": {
            "smithy.api#documentation": "The default value for a squash merge commit title:\n\n- `PR_TITLE` - default to the pull request's title.\n- `COMMIT_OR_PR_TITLE` - default to the commit's title (if only one commit) or the pull request's title (when more than one commit)."
          }
        },
        "squash_merge_commit_message": {
          "target": "com.github.code_scanning#RepositorySquashMergeCommitMessage",
          "traits": {
            "smithy.api#documentation": "The default value for a squash merge commit message:\n\n- `PR_BODY` - default to the pull request's body.\n- `COMMIT_MESSAGES` - default to the branch's commit messages.\n- `BLANK` - default to a blank commit message."
          }
        },
        "merge_commit_title": {
          "target": "com.github.code_scanning#RepositoryMergeCommitTitle",
          "traits": {
[...]
