{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.github.codespaces#ListInOrganizationRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "The number of results per page (max 100). For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "The page number of the results to fetch. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.codespaces#Codespace": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Automatically generated name of this codespace.",
            "smithy.api#required": {}
          }
        },
        "display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for this codespace.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "environment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID identifying this codespace's environment.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "owner": {
          "target": "com.github.codespaces#SimpleUser",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "billable_owner": {
          "target": "com.github.codespaces#SimpleUser",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repository": {
          "target": "com.github.codespaces#MinimalRepository",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "machine": {
          "target": "com.github.codespaces#NullableCodespaceMachine",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "devcontainer_path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path to devcontainer.json from repo root used to create Codespace.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "prebuild": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the codespace was created from a prebuild.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_used_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last known time this codespace was started.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.github.codespaces#CodespaceState",
          "traits": {
            "smithy.api#documentation": "State of this codespace.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API URL for this codespace.",
            "smithy.api#required": {}
          }
        },
        "git_status": {
          "target": "com.github.codespaces#CodespaceGitStatus",
          "traits": {
            "smithy.api#documentation": "Details about the codespace's git repository.",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.github.codespaces#CodespaceLocation",
          "traits": {
            "smithy.api#documentation": "The initally assigned location of a new codespace.",
            "smithy.api#required": {}
          }
        },
        "idle_timeout_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of minutes of inactivity after which this codespace will be automatically stopped.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "web_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to access this codespace on the web.",
            "smithy.api#required": {}
          }
        },
        "machines_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API URL to access available alternate machine types for this codespace.",
            "smithy.api#required": {}
          }
        },
        "start_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API URL to start this codespace.",
            "smithy.api#required": {}
          }
        },
        "stop_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API URL to stop this codespace.",
            "smithy.api#required": {}
          }
        },
        "publish_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API URL to publish this codespace to a new repository.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "pulls_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API URL for the Pull Request associated with this codespace, if any.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "recent_folders": {
          "target": "com.github.codespaces#CodespaceRecentFoldersList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "runtime_constraints": {
          "target": "com.github.codespaces#CodespaceRuntimeConstraints"
        },
        "pending_operation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not a codespace has a pending async operation. This would mean that the codespace is temporarily unavailable. The only thing that you can do with a codespace in this state is delete it.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "pending_operation_disabled_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text to show user when codespace is disabled by a pending operation",
            "com.distilled.openapi#nullable": {}
          }
        },
        "idle_timeout_notice": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text to show user when codespace idle timeout minutes has been overriden by an organization policy",
            "com.distilled.openapi#nullable": {}
          }
        },
        "retention_period_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Duration in minutes after codespace has gone idle in which it will be deleted. Must be integer minutes between 0 and 43200 (30 days).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "retention_expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When a codespace will be auto-deleted based on the \"retention_period_minutes\" and \"last_used_at\"",
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_known_stop_notice": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text to display to a user when a codespace has been stopped for a potentially actionable reason.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A codespace."
      }
    },
    "com.github.codespaces#SimpleUser": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "login": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatar_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gravatar_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "followers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "following_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gists_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "starred_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subscriptions_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "organizations_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repos_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "received_events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "site_admin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "starred_at": {
          "target": "smithy.api#String"
        },
        "user_view_type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "A GitHub user."
      }
    },
    "com.github.codespaces#MinimalRepository": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "full_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "com.github.codespaces#SimpleUser",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "fork": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "archive_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "assignees_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "blobs_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branches_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "collaborators_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "comments_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "commits_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "compare_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "contents_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "contributors_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deployments_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "downloads_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "forks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "git_commits_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "git_refs_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "git_tags_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "git_url": {
          "target": "smithy.api#String"
        },
        "issue_comment_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "issue_events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "issues_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "keys_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "labels_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "languages_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "merges_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "milestones_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "notifications_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pulls_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "releases_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ssh_url": {
          "target": "smithy.api#String"
        },
        "stargazers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "statuses_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subscribers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subscription_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "teams_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "trees_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "clone_url": {
          "target": "smithy.api#String"
        },
        "mirror_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hooks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "svn_url": {
          "target": "smithy.api#String"
        },
        "homepage": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "forks_count": {
          "target": "smithy.api#Integer"
        },
        "stargazers_count": {
          "target": "smithy.api#Integer"
        },
        "watchers_count": {
          "target": "smithy.api#Integer"
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The size of the repository, in kilobytes. Size is calculated hourly. When a repository is initially created, the size is 0."
          }
        },
        "default_branch": {
          "target": "smithy.api#String"
        },
        "open_issues_count": {
          "target": "smithy.api#Integer"
        },
        "is_template": {
          "target": "smithy.api#Boolean"
        },
        "topics": {
          "target": "com.github.codespaces#MinimalRepositoryTopicsList"
        },
        "has_issues": {
          "target": "smithy.api#Boolean"
        },
        "has_projects": {
          "target": "smithy.api#Boolean"
        },
        "has_wiki": {
          "target": "smithy.api#Boolean"
        },
        "has_pages": {
          "target": "smithy.api#Boolean"
        },
        "has_downloads": {
          "target": "smithy.api#Boolean"
        },
        "has_discussions": {
          "target": "smithy.api#Boolean"
        },
        "has_pull_requests": {
          "target": "smithy.api#Boolean"
        },
        "pull_request_creation_policy": {
          "target": "com.github.codespaces#MinimalRepositoryPullRequestCreationPolicy",
          "traits": {
            "smithy.api#documentation": "The policy controlling who can create pull requests: all or collaborators_only."
          }
        },
        "archived": {
          "target": "smithy.api#Boolean"
        },
        "disabled": {
          "target": "smithy.api#Boolean"
        },
        "visibility": {
          "target": "smithy.api#String"
        },
        "pushed_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "permissions": {
          "target": "com.github.codespaces#MinimalRepositoryPermissions"
        },
        "role_name": {
          "target": "smithy.api#String"
        },
        "temp_clone_token": {
          "target": "smithy.api#String"
        },
        "delete_branch_on_merge": {
          "target": "smithy.api#Boolean"
        },
        "subscribers_count": {
          "target": "smithy.api#Integer"
        },
        "network_count": {
          "target": "smithy.api#Integer"
        },
        "code_of_conduct": {
          "target": "com.github.codespaces#CodeOfConduct"
        },
        "license": {
          "target": "com.github.codespaces#MinimalRepositoryLicense",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "forks": {
          "target": "smithy.api#Integer"
        },
        "open_issues": {
          "target": "smithy.api#Integer"
        },
        "watchers": {
          "target": "smithy.api#Integer"
        },
        "allow_forking": {
          "target": "smithy.api#Boolean"
        },
        "web_commit_signoff_required": {
          "target": "smithy.api#Boolean"
        },
        "security_and_analysis": {
          "target": "com.github.codespaces#SecurityAndAnalysis",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "custom_properties": {
          "target": "com.github.codespaces#MinimalRepositoryCustomPropertiesMap",
          "traits": {
            "smithy.api#documentation": "The custom properties that were defined for the repository. The keys are the custom property names, and the values are the corresponding custom property values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Minimal Repository"
      }
    },
    "com.github.codespaces#MinimalRepositoryTopicsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.github.codespaces#MinimalRepositoryPullRequestCreationPolicy": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "COLLABORATORS_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "collaborators_only"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The policy controlling who can create pull requests: all or collaborators_only."
      }
    },
    "com.github.codespaces#MinimalRepositoryPermissions": {
      "type": "structure",
      "members": {
        "admin": {
          "target": "smithy.api#Boolean"
        },
        "maintain": {
          "target": "smithy.api#Boolean"
        },
        "push": {
          "target": "smithy.api#Boolean"
        },
        "triage": {
          "target": "smithy.api#Boolean"
        },
        "pull": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.github.codespaces#CodeOfConduct": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "smithy.api#String"
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Code Of Conduct"
      }
    },
    "com.github.codespaces#MinimalRepositoryLicense": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "spdx_id": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.github.codespaces#SecurityAndAnalysis": {
      "type": "structure",
      "members": {
        "advanced_security": {
          "target": "com.github.codespaces#SecurityAndAnalysisAdvancedSecurity",
          "traits": {
            "smithy.api#documentation": "Enable or disable GitHub Advanced Security for the repository.\n\nFor standalone Code Scanning or Secret Protection products, this parameter cannot be used.\n"
          }
        },
        "code_security": {
          "target": "com.github.codespaces#SecurityAndAnalysisCodeSecurity"
        },
        "dependabot_security_updates": {
          "target": "com.github.codespaces#SecurityAndAnalysisDependabotSecurityUpdates",
          "traits": {
            "smithy.api#documentation": "Enable or disable Dependabot security updates for the repository."
          }
        },
        "secret_scanning": {
          "target": "com.github.codespaces#SecurityAndAnalysisSecretScanning"
        },
        "secret_scanning_push_protection": {
          "target": "com.github.codespaces#SecurityAndAnalysisSecretScanningPushProtection"
        },
        "secret_scanning_non_provider_patterns": {
          "target": "com.github.codespaces#SecurityAndAnalysisSecretScanningNonProviderPatterns"
        },
        "secret_scanning_ai_detection": {
          "target": "com.github.codespaces#SecurityAndAnalysisSecretScanningAiDetection"
        },
        "secret_scanning_delegated_alert_dismissal": {
          "target": "com.github.codespaces#SecurityAndAnalysisSecretScanningDelegatedAlertDismissal"
        },
        "secret_scanning_delegated_bypass": {
          "target": "com.github.codespaces#SecurityAndAnalysisSecretScanningDelegatedBypass"
        },
        "secret_scanning_delegated_bypass_options": {
          "target": "com.github.codespaces#SecurityAndAnalysisSecretScanningDelegatedBypassOptions"
        }
      },
      "traits": {}
    },
    "com.github.codespaces#SecurityAndAnalysisAdvancedSecurityStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {}
    },
    "com.github.codespaces#SecurityAndAnalysisAdvancedSecurity": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.github.codespaces#SecurityAndAnalysisAdvancedSecurityStatus"
        }
      },
      "traits": {
        "smithy.api#documentation": "Enable or disable GitHub Advanced Security for the repository.\n\nFor standalone Code Scanning or Secret Protection products, this parameter cannot be used.\n"
      }
    },
    "com.github.codespaces#SecurityAndAnalysisCodeSecurityStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {}
    },
    "com.github.codespaces#SecurityAndAnalysisCodeSecurity": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.github.codespaces#SecurityAndAnalysisCodeSecurityStatus"
        }
      },
      "traits": {}
    },
    "com.github.codespaces#SecurityAndAnalysisDependabotSecurityUpdatesStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of Dependabot security updates for the repository."
      }
    },
    "com.github.codespaces#SecurityAndAnalysisDependabotSecurityUpdates": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.github.codespaces#SecurityAndAnalysisDependabotSecurityUpdatesStatus",
          "traits": {
            "smithy.api#documentation": "The enablement status of Dependabot security updates for the repository."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enable or disable Dependabot security updates for the repository."
      }
    },
    "com.github.codespaces#SecurityAndAnalysisSecretScanningStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {}
    },
    "com.github.codespaces#SecurityAndAnalysisSecretScanning": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.github.codespaces#SecurityAndAnalysisSecretScanningStatus"
        }
      },
      "traits": {}
    },
    "com.github.codespaces#SecurityAndAnalysisSecretScanningPushProtectionStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {}
    },
    "com.github.codespaces#SecurityAndAnalysisSecretScanningPushProtection": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.github.codespaces#SecurityAndAnalysisSecretScanningPushProtectionStatus"
        }
      },
      "traits": {}
    },
    "com.github.codespaces#SecurityAndAnalysisSecretScanningNonProviderPatternsStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {}
    },
    "com.github.codespaces#SecurityAndAnalysisSecretScanningNonProviderPatterns": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.github.codespaces#SecurityAndAnalysisSecretScanningNonProviderPatternsStatus"
        }
      },
      "traits": {}
    },
    "com.github.codespaces#SecurityAndAnalysisSecretScanningAiDetectionStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {}
    },
    "com.github.codespaces#SecurityAndAnalysisSecretScanningAiDetection": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.github.codespaces#SecurityAndAnalysisSecretScanningAiDetectionStatus"
        }
      },
      "traits": {}
    },
    "com.github.codespaces#SecurityAndAnalysisSecretScanningDelegatedAlertDismissalStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {}
    },
    "com.github.codespaces#SecurityAndAnalysisSecretScanningDelegatedAlertDismissal": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.github.codespaces#SecurityAndAnalysisSecretScanningDelegatedAlertDismissalStatus"
        }
      },
      "traits": {}
    },
    "com.github.codespaces#SecurityAndAnalysisSecretScanningDelegatedBypassStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {}
    },
    "com.github.codespaces#SecurityAndAnalysisSecretScanningDelegatedBypass": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.github.codespaces#SecurityAndAnalysisSecretScanningDelegatedBypassStatus"
        }
      },
      "traits": {}
    },
    "com.github.codespaces#SecurityAndAnalysisSecretScanningDelegatedBypassOptionsReviewersItemReviewerType": {
      "type": "enum",
      "members": {
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEAM"
          }
        },
        "ROLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the bypass reviewer"
      }
    },
    "com.github.codespaces#SecurityAndAnalysisSecretScanningDelegatedBypassOptionsReviewersItemMode": {
      "type": "enum",
      "members": {
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALWAYS"
          }
        },
        "EXEMPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXEMPT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The bypass mode for the reviewer"
      }
    },
    "com.github.codespaces#SecurityAndAnalysisSecretScanningDelegatedBypassOptionsReviewersItem": {
      "type": "structure",
      "members": {
        "reviewer_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the team or role selected as a bypass reviewer",
            "smithy.api#required": {}
          }
        },
        "reviewer_type": {
          "target": "com.github.codespaces#SecurityAndAnalysisSecretScanningDelegatedBypassOptionsReviewersItemReviewerType",
          "traits": {
            "smithy.api#documentation": "The type of the bypass reviewer",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.github.codespaces#SecurityAndAnalysisSecretScanningDelegatedBypassOptionsReviewersItemMode",
          "traits": {
            "smithy.api#documentation": "The bypass mode for the reviewer"
          }
        }
      },
      "traits": {}
    },
    "com.github.codespaces#SecurityAndAnalysisSecretScanningDelegatedBypassOptionsReviewersList": {
      "type": "list",
      "member": {
        "target": "com.github.codespaces#SecurityAndAnalysisSecretScanningDelegatedBypassOptionsReviewersItem"
      },
      "traits": {
        "smithy.api#documentation": "The bypass reviewers for secret scanning delegated bypass"
      }
    },
    "com.github.codespaces#SecurityAndAnalysisSecretScanningDelegatedBypassOptions": {
      "type": "structure",
      "members": {
        "reviewers": {
          "target": "com.github.codespaces#SecurityAndAnalysisSecretScanningDelegatedBypassOptionsReviewersList",
          "traits": {
            "smithy.api#documentation": "The bypass reviewers for secret scanning delegated bypass"
          }
        }
      },
      "traits": {}
    },
    "com.github.codespaces#MinimalRepositoryCustomPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The custom properties that were defined for the repository. The keys are the custom property names, and the values are the corresponding custom property values."
      }
    },
    "com.github.codespaces#NullableCodespaceMachine": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the machine.",
            "smithy.api#required": {}
          }
        },
        "display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the machine includes cores, memory, and storage.",
            "smithy.api#required": {}
          }
        },
        "operating_system": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operating system of the machine.",
            "smithy.api#required": {}
          }
        },
        "storage_in_bytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How much storage is available to the codespace.",
            "smithy.api#required": {}
          }
        },
        "memory_in_bytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How much memory is available to the codespace.",
            "smithy.api#required": {}
          }
        },
        "cpus": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many cores are available to the codespace.",
            "smithy.api#required": {}
          }
        },
        "prebuild_availability": {
          "target": "com.github.codespaces#NullableCodespaceMachinePrebuildAvailability",
          "traits": {
            "smithy.api#documentation": "Whether a prebuild is currently available when creating a codespace for this machine and repository. If a branch was not specified as a ref, the default branch will be assumed. Value will be \"null\" if prebuilds are not supported or prebuild availability could not be determined. Value will be \"none\" if no prebuild is available. Latest values \"ready\" and \"in_progress\" indicate the prebuild availability status.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A description of the machine powering a codespace."
      }
    },
    "com.github.codespaces#NullableCodespaceMachinePrebuildAvailability": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether a prebuild is currently available when creating a codespace for this machine and repository. If a branch was not specified as a ref, the default branch will be assumed. Value will be \"null\" if prebuilds are not supported or prebuild availability could not be determined. Value will be \"none\" if no prebuild is available. Latest values \"ready\" and \"in_progress\" indicate the prebuild availability status."
      }
    },
    "com.github.codespaces#CodespaceState": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Created"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Queued"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioning"
          }
        },
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Available"
          }
        },
        "AWAITING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Awaiting"
          }
        },
        "UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unavailable"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleted"
          }
        },
        "MOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Moved"
          }
        },
        "SHUTDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Shutdown"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Archived"
          }
        },
        "STARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Starting"
          }
        },
        "SHUTTINGDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ShuttingDown"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "EXPORTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Exporting"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "REBUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rebuilding"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State of this codespace."
      }
    },
    "com.github.codespaces#CodespaceGitStatus": {
      "type": "structure",
      "members": {
        "ahead": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of commits the local repository is ahead of the remote."
          }
        },
        "behind": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of commits the local repository is behind the remote."
          }
        },
        "has_unpushed_changes": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the local repository has unpushed changes."
          }
        },
        "has_uncommitted_changes": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the local repository has uncommitted changes."
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current branch (or SHA if in detached HEAD state) of the local repository."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about the codespace's git repository."
      }
    },
    "com.github.codespaces#CodespaceLocation": {
      "type": "enum",
      "members": {
        "EASTUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EastUs"
          }
        },
        "SOUTHEASTASIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SouthEastAsia"
          }
        },
        "WESTEUROPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WestEurope"
          }
        },
        "WESTUS2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WestUs2"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The initally assigned location of a new codespace."
      }
    },
    "com.github.codespaces#CodespaceRecentFoldersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.github.codespaces#CodespaceRuntimeConstraintsAllowedPortPrivacySettingsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The privacy settings a user can select from when forwarding a port."
      }
    },
    "com.github.codespaces#CodespaceRuntimeConstraints": {
      "type": "structure",
      "members": {
        "allowed_port_privacy_settings": {
          "target": "com.github.codespaces#CodespaceRuntimeConstraintsAllowedPortPrivacySettingsList",
          "traits": {
            "smithy.api#documentation": "The privacy settings a user can select from when forwarding a port.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.codespaces#ListInOrganizationResponseCodespacesList": {
      "type": "list",
      "member": {
        "target": "com.github.codespaces#Codespace"
      },
      "traits": {}
    },
    "com.github.codespaces#ListInOrganizationResponse": {
      "type": "structure",
      "members": {
        "total_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "codespaces": {
          "target": "com.github.codespaces#ListInOrganizationResponseCodespacesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.codespaces#ListInOrganization": {
      "type": "operation",
      "input": {
        "target": "com.github.codespaces#ListInOrganizationRequest"
      },
      "output": {
        "target": "com.github.codespaces#ListInOrganizationResponse"
      },
      "errors": [
        {
          "target": "com.github.codespaces#Forbidden"
        },
        {
          "target": "com.github.codespaces#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/codespaces",
          "code": 200
        },
        "smithy.api#documentation": "List codespaces for the organization\n\nLists the codespaces associated to a specified organization.\n\nOAuth app tokens and personal access tokens (classic) need the `admin:org` scope to use this endpoint."
      }
    },
    "com.github.codespaces#ListOrgSecretsRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "The number of results per page (max 100). For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "The page number of the results to fetch. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.codespaces#CodespacesOrgSecret": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the secret",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time at which the secret was created, in ISO 8601 format':' YYYY-MM-DDTHH:MM:SSZ.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time at which the secret was created, in ISO 8601 format':' YYYY-MM-DDTHH:MM:SSZ.",
            "smithy.api#required": {}
          }
        },
        "visibility": {
          "target": "com.github.codespaces#CodespacesOrgSecretVisibility",
          "traits": {
            "smithy.api#documentation": "The type of repositories in the organization that the secret is visible to",
            "smithy.api#required": {}
          }
        },
        "selected_repositories_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL at which the list of repositories this secret is visible to can be retrieved"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Secrets for a GitHub Codespace."
      }
    },
    "com.github.codespaces#CodespacesOrgSecretVisibility": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        },
        "SELECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "selected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of repositories in the organization that the secret is visible to"
      }
    },
    "com.github.codespaces#ListOrgSecretsResponseSecretsList": {
      "type": "list",
      "member": {
        "target": "com.github.codespaces#CodespacesOrgSecret"
      },
      "traits": {}
    },
    "com.github.codespaces#ListOrgSecretsResponse": {
      "type": "structure",
      "members": {
        "total_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "secrets": {
          "target": "com.github.codespaces#ListOrgSecretsResponseSecretsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.codespaces#ListOrgSecrets": {
      "type": "operation",
      "input": {
        "target": "com.github.codespaces#ListOrgSecretsRequest"
      },
      "output": {
        "target": "com.github.codespaces#ListOrgSecretsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/codespaces/secrets",
          "code": 200
        },
        "smithy.api#documentation": "List organization secrets\n\nLists all Codespaces development environment secrets available at the organization-level without revealing their encrypted\nvalues.\n\nOAuth app tokens and personal access tokens (classic) need the `admin:org` scope to use this endpoint."
      }
    },
    "com.github.codespaces#GetOrgPublicKeyRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.codespaces#CodespacesPublicKey": {
      "type": "structure",
      "members": {
        "key_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier for the key.",
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Base64 encoded public key.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer"
        },
        "url": {
          "target": "smithy.api#String"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "created_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The public key used for setting Codespaces secrets."
      }
    },
    "com.github.codespaces#GetOrgPublicKey": {
      "type": "operation",
      "input": {
        "target": "com.github.codespaces#GetOrgPublicKeyRequest"
      },
      "output": {
        "target": "com.github.codespaces#CodespacesPublicKey"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/codespaces/secrets/public-key",
          "code": 200
        },
        "smithy.api#documentation": "Get an organization public key\n\nGets a public key for an organization, which is required in order to encrypt secrets. You need to encrypt the value of a secret before you can create or update secrets.\nOAuth app tokens and personal access tokens (classic) need the `admin:org` scope to use this endpoint."
      }
    },
    "com.github.codespaces#GetOrgSecretRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "secret_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the secret."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.codespaces#GetOrgSecret": {
      "type": "operation",
      "input": {
        "target": "com.github.codespaces#GetOrgSecretRequest"
      },
      "output": {
        "target": "com.github.codespaces#CodespacesOrgSecret"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/codespaces/secrets/{secret_name}",
          "code": 200
        },
        "smithy.api#documentation": "Get an organization secret\n\nGets an organization development environment secret without revealing its encrypted value.\n\nOAuth app tokens and personal access tokens (classic) need the `admin:org` scope to use this endpoint."
      }
    },
    "com.github.codespaces#CreateOrUpdateOrgSecretRequestVisibility": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        },
        "SELECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "selected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Which type of organization repositories have access to the organization secret. `selected` means only the repositories specified by `selected_repository_ids` can access the secret."
      }
    },
    "com.github.codespaces#CreateOrUpdateOrgSecretRequestSelectedRepositoryIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "An array of repository IDs that can access the organization secret. You can only provide a list of repository IDs when the `visibility` is set to `selected`. You can manage the list of selected repositories using the [List selected repositories for an organization secret](https://docs.github.com/rest/codespaces/organization-secrets#list-selected-repositories-for-an-organization-secret), [Set selected repositories for an organization secret](https://docs.github.com/rest/codespaces/organization-secrets#set-selected-repositories-for-an-organization-secret), and [Remove selected repository from an organization secret](https://docs.github.com/rest/codespaces/organization-secrets#remove-selected-repository-from-an-organization-secret) endpoints."
      }
    },
    "com.github.codespaces#CreateOrUpdateOrgSecretRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "secret_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the secret."
          }
        },
        "encrypted_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value for your secret, encrypted with [LibSodium](https://libsodium.gitbook.io/doc/bindings_for_other_languages) using the public key retrieved from the [Get an organization public key](https://docs.github.com/rest/codespaces/organization-secrets#get-an-organization-public-key) endpoint."
          }
        },
        "key_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the key you used to encrypt the secret."
          }
        },
        "visibility": {
          "target": "com.github.codespaces#CreateOrUpdateOrgSecretRequestVisibility",
          "traits": {
            "smithy.api#documentation": "Which type of organization repositories have access to the organization secret. `selected` means only the repositories specified by `selected_repository_ids` can access the secret.",
            "smithy.api#required": {}
          }
        },
        "selected_repository_ids": {
          "target": "com.github.codespaces#CreateOrUpdateOrgSecretRequestSelectedRepositoryIdsList",
          "traits": {
            "smithy.api#documentation": "An array of repository IDs that can access the organization secret. You can only provide a list of repository IDs when the `visibility` is set to `selected`. You can manage the list of selected repositories using the [List selected repositories for an organization secret](https://docs.github.com/rest/codespaces/organization-secrets#list-selected-repositories-for-an-organization-secret), [Set selected repositories for an organization secret](https://docs.github.com/rest/codespaces/organization-secrets#set-selected-repositories-for-an-organization-secret), and [Remove selected repository from an organization secret](https://docs.github.com/rest/codespaces/organization-secrets#remove-selected-repository-from-an-organization-secret) endpoints."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.codespaces#CreateOrUpdateOrgSecretResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.codespaces#CreateOrUpdateOrgSecret": {
      "type": "operation",
      "input": {
        "target": "com.github.codespaces#CreateOrUpdateOrgSecretRequest"
      },
      "output": {
        "target": "com.github.codespaces#CreateOrUpdateOrgSecretResponse"
      },
      "errors": [
        {
          "target": "com.github.codespaces#NotFound"
        },
        {
          "target": "com.github.codespaces#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/orgs/{org}/codespaces/secrets/{secret_name}",
          "code": 200
        },
        "smithy.api#documentation": "Create or update an organization secret\n\nCreates or updates an organization development environment secret with an encrypted value. Encrypt your secret using\n[LibSodium](https://libsodium.gitbook.io/doc/bindings_for_other_languages). For more information, see \"[Encrypting secrets for the REST API](https://docs.github.com/rest/guides/encrypting-secrets-for-the-rest-api).\"\n\nOAuth app tokens and personal access tokens (classic) need the `admin:org` scope to use this endpoint."
      }
    },
    "com.github.codespaces#DeleteOrgSecretRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "secret_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the secret."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.codespaces#DeleteOrgSecret": {
      "type": "operation",
      "input": {
        "target": "com.github.codespaces#DeleteOrgSecretRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.github.codespaces#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/orgs/{org}/codespaces/secrets/{secret_name}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an organization secret\n\nDeletes an organization development environment secret using the secret name.\n\nOAuth app tokens and personal access tokens (classic) need the `admin:org` scope to use this endpoint."
      }
    },
    "com.github.codespaces#ListSelectedReposForOrgSecretRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "secret_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the secret."
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "The page number of the results to fetch. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "The number of results per page (max 100). For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.codespaces#ListSelectedReposForOrgSecretResponseRepositoriesList": {
      "type": "list",
      "member": {
        "target": "com.github.codespaces#MinimalRepository"
      },
      "traits": {}
    },
    "com.github.codespaces#ListSelectedReposForOrgSecretResponse": {
      "type": "structure",
      "members": {
        "total_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repositories": {
          "target": "com.github.codespaces#ListSelectedReposForOrgSecretResponseRepositoriesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.codespaces#ListSelectedReposForOrgSecret": {
      "type": "operation",
      "input": {
        "target": "com.github.codespaces#ListSelectedReposForOrgSecretRequest"
      },
      "output": {
        "target": "com.github.codespaces#ListSelectedReposForOrgSecretResponse"
      },
      "errors": [
        {
          "target": "com.github.codespaces#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/codespaces/secrets/{secret_name}/repositories",
          "code": 200
        },
        "smithy.api#documentation": "List selected repositories for an organization secret\n\nLists all repositories that have been selected when the `visibility`\nfor repository access to a secret is set to `selected`.\n\nOAuth app tokens and personal access tokens (classic) need the `admin:org` scope to use this endpoint."
      }
    },
    "com.github.codespaces#SetSelectedReposForOrgSecretRequestSelectedRepositoryIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "An array of repository ids that can access the organization secret. You can only provide a list of repository ids when the `visibility` is set to `selected`. You can add and remove individual repositories using the [Set selected repositories for an organization secret](https://docs.github.com/rest/codespaces/organization-secrets#set-selected-repositories-for-an-organization-secret) and [Remove selected repository from an organization secret](https://docs.github.com/rest/codespaces/organization-secrets#remove-selected-repository-from-an-organization-secret) endpoints."
      }
    },
    "com.github.codespaces#SetSelectedReposForOrgSecretRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "secret_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the secret."
          }
        },
        "selected_repository_ids": {
          "target": "com.github.codespaces#SetSelectedReposForOrgSecretRequestSelectedRepositoryIdsList",
          "traits": {
            "smithy.api#documentation": "An array of repository ids that can access the organization secret. You can only provide a list of repository ids when the `visibility` is set to `selected`. You can add and remove individual repositories using the [Set selected repositories for an organization secret](https://docs.github.com/rest/codespaces/organization-secrets#set-selected-repositories-for-an-organization-secret) and [Remove selected repository from an organization secret](https://docs.github.com/rest/codespaces/organization-secrets#remove-selected-repository-from-an-organization-secret) endpoints.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.codespaces#SetSelectedReposForOrgSecret": {
      "type": "operation",
      "input": {
        "target": "com.github.codespaces#SetSelectedReposForOrgSecretRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.github.codespaces#NotFound"
        },
        {
          "target": "com.github.codespaces#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/orgs/{org}/codespaces/secrets/{secret_name}/repositories",
          "code": 200
        },
        "smithy.api#documentation": "Set selected repositories for an organization secret\n\nReplaces all repositories for an organization development environment secret when the `visibility`\nfor repository access is set to `selected`. The visibility is set when you [Create\nor update an organization secret](https://docs.github.com/rest/codespaces/organization-secrets#create-or-update-an-organization-secret).\n\nOAuth app tokens and personal access tokens (classic) need the `admin:org` scope to use this endpoint."
      }
    },
    "com.github.codespaces#AddSelectedRepoToOrgSecretRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "secret_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the secret."
          }
        },
        "repository_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.codespaces#AddSelectedRepoToOrgSecret": {
      "type": "operation",
      "input": {
        "target": "com.github.codespaces#AddSelectedRepoToOrgSecretRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.github.codespaces#NotFound"
        },
        {
          "target": "com.github.codespaces#Conflict"
        },
        {
          "target": "com.github.codespaces#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/orgs/{org}/codespaces/secrets/{secret_name}/repositories/{repository_id}",
          "code": 200
        },
        "smithy.api#documentation": "Add selected repository to an organization secret\n\nAdds a repository to an organization development environment secret when the `visibility` for repository access is set to `selected`. The visibility is set when you [Create or update an organization secret](https://docs.github.com/rest/codespaces/organization-secrets#create-or-update-an-organization-secret).\nOAuth app tokens and personal access tokens (classic) need the `admin:org` scope to use this endpoint."
      }
    },
    "com.github.codespaces#RemoveSelectedRepoFromOrgSecretRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "secret_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the secret."
          }
        },
        "repository_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.codespaces#RemoveSelectedRepoFromOrgSecret": {
      "type": "operation",
      "input": {
        "target": "com.github.codespaces#RemoveSelectedRepoFromOrgSecretRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.github.codespaces#NotFound"
        },
        {
          "target": "com.github.codespaces#Conflict"
        },
        {
          "target": "com.github.codespaces#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/orgs/{org}/codespaces/secrets/{secret_name}/repositories/{repository_id}",
          "code": 200
        },
        "smithy.api#documentation": "Remove selected repository from an organization secret\n\nRemoves a repository from an organization development environment secret when the `visibility`\nfor repository access is set to `selected`. The visibility is set when you [Create\nor update an organization secret](https://docs.github.com/rest/codespaces/organization-secrets#create-or-update-an-organization-secret).\n\nOAuth app tokens and personal access tokens (classic) need the `admin:org` scope to use this endpoint."
      }
    },
    "com.github.codespaces#GetCodespacesForUserInOrgRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The handle for the GitHub user account."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "The number of results per page (max 100). For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "The page number of the results to fetch. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.codespaces#GetCodespacesForUserInOrgResponseCodespacesList": {
      "type": "list",
      "member": {
        "target": "com.github.codespaces#Codespace"
      },
      "traits": {}
    },
    "com.github.codespaces#GetCodespacesForUserInOrgResponse": {
      "type": "structure",
      "members": {
        "total_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "codespaces": {
          "target": "com.github.codespaces#GetCodespacesForUserInOrgResponseCodespacesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.codespaces#GetCodespacesForUserInOrg": {
      "type": "operation",
      "input": {
        "target": "com.github.codespaces#GetCodespacesForUserInOrgRequest"
      },
      "output": {
        "target": "com.github.codespaces#GetCodespacesForUserInOrgResponse"
      },
      "errors": [
        {
          "target": "com.github.codespaces#Forbidden"
        },
        {
          "target": "com.github.codespaces#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/members/{username}/codespaces",
          "code": 200
        },
        "smithy.api#documentation": "List codespaces for a user in organization\n\nLists the codespaces that a member of an organization has for repositories in that organization.\n\nOAuth app tokens and personal access tokens (classic) need the `admin:org` scope to use this endpoint."
      }
    },
    "com.github.codespaces#DeleteFromOrganizationRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The handle for the GitHub user account."
          }
        },
        "codespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the codespace."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.codespaces#DeleteFromOrganization": {
      "type": "operation",
      "input": {
        "target": "com.github.codespaces#DeleteFromOrganizationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.github.codespaces#Forbidden"
        },
        {
          "target": "com.github.codespaces#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/orgs/{org}/members/{username}/codespaces/{codespace_name}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a codespace from the organization\n\nDeletes a user's codespace.\n\nOAuth app tokens and personal access tokens (classic) need the `admin:org` scope to use this endpoint."
      }
    },
    "com.github.codespaces#StopInOrganizationRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The handle for the GitHub user account."
          }
        },
        "codespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the codespace."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.codespaces#StopInOrganization": {
      "type": "operation",
      "input": {
        "target": "com.github.codespaces#StopInOrganizationRequest"
      },
      "output": {
        "target": "com.github.codespaces#Codespace"
      },
      "errors": [
        {
          "target": "com.github.codespaces#Forbidden"
        },
        {
          "target": "com.github.codespaces#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/orgs/{org}/members/{username}/codespaces/{codespace_name}/stop",
          "code": 200
        },
        "smithy.api#documentation": "Stop a codespace for an organization user\n\nStops a user's codespace.\n\nOAuth app tokens and personal access tokens (classic) need the `admin:org` scope to use this endpoint."
      }
    },
    "com.github.codespaces#ListInRepositoryForAuthenticatedUserRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The account owner of the repository. The name is not case sensitive."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the repository without the `.git` extension. The name is not case sensitive."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "The number of results per page (max 100). For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "The page number of the results to fetch. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.codespaces#ListInRepositoryForAuthenticatedUserResponseCodespacesList": {
      "type": "list",
      "member": {
        "target": "com.github.codespaces#Codespace"
      },
      "traits": {}
    },
    "com.github.codespaces#ListInRepositoryForAuthenticatedUserResponse": {
      "type": "structure",
      "members": {
        "total_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "codespaces": {
          "target": "com.github.codespaces#ListInRepositoryForAuthenticatedUserResponseCodespacesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.codespaces#ListInRepositoryForAuthenticatedUser": {
      "type": "operation",
      "input": {
        "target": "com.github.codespaces#ListInRepositoryForAuthenticatedUserRequest"
      },
      "output": {
        "target": "com.github.codespaces#ListInRepositoryForAuthenticatedUserResponse"
      },
      "errors": [
        {
          "target": "com.github.codespaces#Forbidden"
        },
        {
          "target": "com.github.codespaces#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/repos/{owner}/{repo}/codespaces",
          "code": 200
        },
        "smithy.api#documentation": "List codespaces in a repository for the authenticated user\n\nLists the codespaces associated to a specified repository and the authenticated user.\n\nOAuth app tokens and personal access tokens (classic) need the `codespace` scope to use this endpoint."
      }
    },
    "com.github.codespaces#CreateWithRepoForAuthenticatedUserRequestGeo": {
      "type": "enum",
      "members": {
        "EUROPEWEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EuropeWest"
          }
        },
        "SOUTHEASTASIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SoutheastAsia"
          }
        },
        "USEAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UsEast"
          }
        },
        "USWEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UsWest"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The geographic area for this codespace. If not specified, the value is assigned by IP. This property replaces `location`, which is closing down."
      }
    },
    "com.github.codespaces#CreateWithRepoForAuthenticatedUserRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The account owner of the repository. The name is not case sensitive."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the repository without the `.git` extension. The name is not case sensitive."
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git ref (typically a branch name) for this codespace"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The requested location for a new codespace. Best efforts are made to respect this upon creation. Assigned by IP if not provided."
          }
        },
        "geo": {
          "target": "com.github.codespaces#CreateWithRepoForAuthenticatedUserRequestGeo",
          "traits": {
            "smithy.api#documentation": "The geographic area for this codespace. If not specified, the value is assigned by IP. This property replaces `location`, which is closing down."
          }
        },
        "client_ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP for location auto-detection when proxying a request"
          }
        },
        "machine": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Machine type to use for this codespace"
          }
        },
        "devcontainer_path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path to devcontainer.json config to use for this codespace"
          }
        },
        "multi_repo_permissions_opt_out": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to authorize requested permissions from devcontainer.json"
          }
        },
        "working_directory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Working directory for this codespace"
          }
        },
        "idle_timeout_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Time in minutes before codespace stops from inactivity"
          }
        },
        "display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for this codespace"
          }
        },
        "retention_period_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Duration in minutes after codespace has gone idle in which it will be deleted. Must be integer minutes between 0 and 43200 (30 days)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.codespaces#CreateWithRepoForAuthenticatedUser": {
      "type": "operation",
      "input": {
        "target": "com.github.codespaces#CreateWithRepoForAuthenticatedUserRequest"
      },
      "output": {
        "target": "com.github.codespaces#Codespace"
      },
      "errors": [
        {
          "target": "com.github.codespaces#BadRequest"
        },
        {
          "target": "com.github.codespaces#Forbidden"
        },
        {
          "target": "com.github.codespaces#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/repos/{owner}/{repo}/codespaces",
          "code": 200
        },
        "smithy.api#documentation": "Create a codespace in a repository\n\nCreates a codespace owned by the authenticated user in the specified repository.\n\nOAuth app tokens and personal access tokens (classic) need the `codespace` scope to use this endpoint."
      }
    },
    "com.github.codespaces#ListDevcontainersInRepositoryForAuthenticatedUserRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The account owner of the repository. The name is not case sensitive."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the repository without the `.git` extension. The name is not case sensitive."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "The number of results per page (max 100). For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "The page number of the results to fetch. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.codespaces#ListDevcontainersInRepositoryForAuthenticatedUserResponseDevcontainersItem": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "display_name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.github.codespaces#ListDevcontainersInRepositoryForAuthenticatedUserResponseDevcontainersList": {
      "type": "list",
      "member": {
        "target": "com.github.codespaces#ListDevcontainersInRepositoryForAuthenticatedUserResponseDevcontainersItem"
      },
      "traits": {}
    },
    "com.github.codespaces#ListDevcontainersInRepositoryForAuthenticatedUserResponse": {
      "type": "structure",
      "members": {
        "total_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "devcontainers": {
          "target": "com.github.codespaces#ListDevcontainersInRepositoryForAuthenticatedUserResponseDevcontainersList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.codespaces#ListDevcontainersInRepositoryForAuthenticatedUser": {
      "type": "operation",
      "input": {
        "target": "com.github.codespaces#ListDevcontainersInRepositoryForAuthenticatedUserRequest"
      },
      "output": {
        "target": "com.github.codespaces#ListDevcontainersInRepositoryForAuthenticatedUserResponse"
      },
      "errors": [
        {
          "target": "com.github.codespaces#BadRequest"
        },
        {
          "target": "com.github.codespaces#Forbidden"
        },
        {
          "target": "com.github.codespaces#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/repos/{owner}/{repo}/codespaces/devcontainers",
          "code": 200
        },
        "smithy.api#documentation": "List devcontainer configurations in a repository for the authenticated user\n\nLists the devcontainer.json files associated with a specified repository and the authenticated user. These files\nspecify launchpoint configurations for codespaces created within the repository.\n\nOAuth app tokens and personal access tokens (classic) need the `codespace` scope to use this endpoint."
      }
    },
    "com.github.codespaces#RepoMachinesForAuthenticatedUserRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The account owner of the repository. The name is not case sensitive."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the repository without the `.git` extension. The name is not case sensitive."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "location",
            "smithy.api#documentation": "The location to check for available machines. Assigned by IP if not provided."
          }
        },
        "client_ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "client_ip",
            "smithy.api#documentation": "IP for location auto-detection when proxying a request"
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "ref",
            "smithy.api#documentation": "The branch or commit to check for prebuild availability and devcontainer restrictions."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.codespaces#CodespaceMachine": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the machine.",
            "smithy.api#required": {}
          }
        },
        "display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the machine includes cores, memory, and storage.",
[...]
