{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.github.code_security#GetConfigurationsForEnterpriseRequest": {
      "type": "structure",
      "members": {
        "enterprise": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The slug version of the enterprise name."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "The number of results per page (max 100). For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "A cursor, as given in the [Link header](https://docs.github.com/rest/guides/using-pagination-in-the-rest-api#using-link-headers). If specified, the query only searches for results before this cursor. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "A cursor, as given in the [Link header](https://docs.github.com/rest/guides/using-pagination-in-the-rest-api#using-link-headers). If specified, the query only searches for results after this cursor. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.code_security#CodeSecurityConfiguration": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the code security configuration"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the code security configuration. Must be unique within the organization."
          }
        },
        "target_type": {
          "target": "com.github.code_security#CodeSecurityConfigurationTargetType",
          "traits": {
            "smithy.api#documentation": "The type of the code security configuration."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of the code security configuration",
            "com.distilled.openapi#nullable": {}
          }
        },
        "advanced_security": {
          "target": "com.github.code_security#CodeSecurityConfigurationAdvancedSecurity",
          "traits": {
            "smithy.api#documentation": "The enablement status of GitHub Advanced Security"
          }
        },
        "dependency_graph": {
          "target": "com.github.code_security#CodeSecurityConfigurationDependencyGraph",
          "traits": {
            "smithy.api#documentation": "The enablement status of Dependency Graph"
          }
        },
        "dependency_graph_autosubmit_action": {
          "target": "com.github.code_security#CodeSecurityConfigurationDependencyGraphAutosubmitAction",
          "traits": {
            "smithy.api#documentation": "The enablement status of Automatic dependency submission"
          }
        },
        "dependency_graph_autosubmit_action_options": {
          "target": "com.github.code_security#CodeSecurityConfigurationDependencyGraphAutosubmitActionOptions",
          "traits": {
            "smithy.api#documentation": "Feature options for Automatic dependency submission"
          }
        },
        "dependabot_alerts": {
          "target": "com.github.code_security#CodeSecurityConfigurationDependabotAlerts",
          "traits": {
            "smithy.api#documentation": "The enablement status of Dependabot alerts"
          }
        },
        "dependabot_security_updates": {
          "target": "com.github.code_security#CodeSecurityConfigurationDependabotSecurityUpdates",
          "traits": {
            "smithy.api#documentation": "The enablement status of Dependabot security updates"
          }
        },
        "dependabot_delegated_alert_dismissal": {
          "target": "com.github.code_security#CodeSecurityConfigurationDependabotDelegatedAlertDismissal",
          "traits": {
            "smithy.api#documentation": "The enablement status of Dependabot delegated alert dismissal",
            "com.distilled.openapi#nullable": {}
          }
        },
        "code_scanning_options": {
          "target": "com.github.code_security#CodeSecurityConfigurationCodeScanningOptions",
          "traits": {
            "smithy.api#documentation": "Feature options for code scanning",
            "com.distilled.openapi#nullable": {}
          }
        },
        "code_scanning_default_setup": {
          "target": "com.github.code_security#CodeSecurityConfigurationCodeScanningDefaultSetup",
          "traits": {
            "smithy.api#documentation": "The enablement status of code scanning default setup"
          }
        },
        "code_scanning_default_setup_options": {
          "target": "com.github.code_security#CodeSecurityConfigurationCodeScanningDefaultSetupOptions",
          "traits": {
            "smithy.api#documentation": "Feature options for code scanning default setup",
            "com.distilled.openapi#nullable": {}
          }
        },
        "code_scanning_delegated_alert_dismissal": {
          "target": "com.github.code_security#CodeSecurityConfigurationCodeScanningDelegatedAlertDismissal",
          "traits": {
            "smithy.api#documentation": "The enablement status of code scanning delegated alert dismissal"
          }
        },
        "secret_scanning": {
          "target": "com.github.code_security#CodeSecurityConfigurationSecretScanning",
          "traits": {
            "smithy.api#documentation": "The enablement status of secret scanning"
          }
        },
        "secret_scanning_push_protection": {
          "target": "com.github.code_security#CodeSecurityConfigurationSecretScanningPushProtection",
          "traits": {
            "smithy.api#documentation": "The enablement status of secret scanning push protection"
          }
        },
        "secret_scanning_delegated_bypass": {
          "target": "com.github.code_security#CodeSecurityConfigurationSecretScanningDelegatedBypass",
          "traits": {
            "smithy.api#documentation": "The enablement status of secret scanning delegated bypass"
          }
        },
        "secret_scanning_delegated_bypass_options": {
          "target": "com.github.code_security#CodeSecurityConfigurationSecretScanningDelegatedBypassOptions",
          "traits": {
            "smithy.api#documentation": "Feature options for secret scanning delegated bypass"
          }
        },
        "secret_scanning_validity_checks": {
          "target": "com.github.code_security#CodeSecurityConfigurationSecretScanningValidityChecks",
          "traits": {
            "smithy.api#documentation": "The enablement status of secret scanning validity checks"
          }
        },
        "secret_scanning_non_provider_patterns": {
          "target": "com.github.code_security#CodeSecurityConfigurationSecretScanningNonProviderPatterns",
          "traits": {
            "smithy.api#documentation": "The enablement status of secret scanning non-provider patterns"
          }
        },
        "secret_scanning_generic_secrets": {
          "target": "com.github.code_security#CodeSecurityConfigurationSecretScanningGenericSecrets",
          "traits": {
            "smithy.api#documentation": "The enablement status of Copilot secret scanning"
          }
        },
        "secret_scanning_delegated_alert_dismissal": {
          "target": "com.github.code_security#CodeSecurityConfigurationSecretScanningDelegatedAlertDismissal",
          "traits": {
            "smithy.api#documentation": "The enablement status of secret scanning delegated alert dismissal"
          }
        },
        "secret_scanning_extended_metadata": {
          "target": "com.github.code_security#CodeSecurityConfigurationSecretScanningExtendedMetadata",
          "traits": {
            "smithy.api#documentation": "The enablement status of secret scanning extended metadata"
          }
        },
        "private_vulnerability_reporting": {
          "target": "com.github.code_security#CodeSecurityConfigurationPrivateVulnerabilityReporting",
          "traits": {
            "smithy.api#documentation": "The enablement status of private vulnerability reporting"
          }
        },
        "enforcement": {
          "target": "com.github.code_security#CodeSecurityConfigurationEnforcement",
          "traits": {
            "smithy.api#documentation": "The enforcement status for a security configuration"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the configuration"
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the configuration"
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "A code security configuration"
      }
    },
    "com.github.code_security#CodeSecurityConfigurationTargetType": {
      "type": "enum",
      "members": {
        "GLOBAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "global"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the code security configuration."
      }
    },
    "com.github.code_security#CodeSecurityConfigurationAdvancedSecurity": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "CODE_SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "code_security"
          }
        },
        "SECRET_PROTECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secret_protection"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of GitHub Advanced Security"
      }
    },
    "com.github.code_security#CodeSecurityConfigurationDependencyGraph": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of Dependency Graph"
      }
    },
    "com.github.code_security#CodeSecurityConfigurationDependencyGraphAutosubmitAction": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of Automatic dependency submission"
      }
    },
    "com.github.code_security#CodeSecurityConfigurationDependencyGraphAutosubmitActionOptions": {
      "type": "structure",
      "members": {
        "labeled_runners": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to use runners labeled with 'dependency-submission' or standard GitHub runners."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Feature options for Automatic dependency submission"
      }
    },
    "com.github.code_security#CodeSecurityConfigurationDependabotAlerts": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of Dependabot alerts"
      }
    },
    "com.github.code_security#CodeSecurityConfigurationDependabotSecurityUpdates": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of Dependabot security updates"
      }
    },
    "com.github.code_security#CodeSecurityConfigurationDependabotDelegatedAlertDismissal": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of Dependabot delegated alert dismissal"
      }
    },
    "com.github.code_security#CodeSecurityConfigurationCodeScanningOptions": {
      "type": "structure",
      "members": {
        "allow_advanced": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to allow repos which use advanced setup",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Feature options for code scanning"
      }
    },
    "com.github.code_security#CodeSecurityConfigurationCodeScanningDefaultSetup": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of code scanning default setup"
      }
    },
    "com.github.code_security#CodeSecurityConfigurationCodeScanningDefaultSetupOptionsRunnerType": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "LABELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "labeled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether to use labeled runners or standard GitHub runners."
      }
    },
    "com.github.code_security#CodeSecurityConfigurationCodeScanningDefaultSetupOptions": {
      "type": "structure",
      "members": {
        "runner_type": {
          "target": "com.github.code_security#CodeSecurityConfigurationCodeScanningDefaultSetupOptionsRunnerType",
          "traits": {
            "smithy.api#documentation": "Whether to use labeled runners or standard GitHub runners.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "runner_label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The label of the runner to use for code scanning when runner_type is 'labeled'.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Feature options for code scanning default setup"
      }
    },
    "com.github.code_security#CodeSecurityConfigurationCodeScanningDelegatedAlertDismissal": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of code scanning delegated alert dismissal"
      }
    },
    "com.github.code_security#CodeSecurityConfigurationSecretScanning": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of secret scanning"
      }
    },
    "com.github.code_security#CodeSecurityConfigurationSecretScanningPushProtection": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of secret scanning push protection"
      }
    },
    "com.github.code_security#CodeSecurityConfigurationSecretScanningDelegatedBypass": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of secret scanning delegated bypass"
      }
    },
    "com.github.code_security#CodeSecurityConfigurationSecretScanningDelegatedBypassOptionsReviewersItemReviewerType": {
      "type": "enum",
      "members": {
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEAM"
          }
        },
        "ROLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the bypass reviewer"
      }
    },
    "com.github.code_security#CodeSecurityConfigurationSecretScanningDelegatedBypassOptionsReviewersItemMode": {
      "type": "enum",
      "members": {
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALWAYS"
          }
        },
        "EXEMPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXEMPT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The bypass mode for the reviewer"
      }
    },
    "com.github.code_security#CodeSecurityConfigurationSecretScanningDelegatedBypassOptionsReviewersItem": {
      "type": "structure",
      "members": {
        "reviewer_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the team or role selected as a bypass reviewer",
            "smithy.api#required": {}
          }
        },
        "reviewer_type": {
          "target": "com.github.code_security#CodeSecurityConfigurationSecretScanningDelegatedBypassOptionsReviewersItemReviewerType",
          "traits": {
            "smithy.api#documentation": "The type of the bypass reviewer",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.github.code_security#CodeSecurityConfigurationSecretScanningDelegatedBypassOptionsReviewersItemMode",
          "traits": {
            "smithy.api#documentation": "The bypass mode for the reviewer"
          }
        },
        "security_configuration_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the security configuration associated with this bypass reviewer"
          }
        }
      },
      "traits": {}
    },
    "com.github.code_security#CodeSecurityConfigurationSecretScanningDelegatedBypassOptionsReviewersList": {
      "type": "list",
      "member": {
        "target": "com.github.code_security#CodeSecurityConfigurationSecretScanningDelegatedBypassOptionsReviewersItem"
      },
      "traits": {
        "smithy.api#documentation": "The bypass reviewers for secret scanning delegated bypass"
      }
    },
    "com.github.code_security#CodeSecurityConfigurationSecretScanningDelegatedBypassOptions": {
      "type": "structure",
      "members": {
        "reviewers": {
          "target": "com.github.code_security#CodeSecurityConfigurationSecretScanningDelegatedBypassOptionsReviewersList",
          "traits": {
            "smithy.api#documentation": "The bypass reviewers for secret scanning delegated bypass"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Feature options for secret scanning delegated bypass"
      }
    },
    "com.github.code_security#CodeSecurityConfigurationSecretScanningValidityChecks": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of secret scanning validity checks"
      }
    },
    "com.github.code_security#CodeSecurityConfigurationSecretScanningNonProviderPatterns": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of secret scanning non-provider patterns"
      }
    },
    "com.github.code_security#CodeSecurityConfigurationSecretScanningGenericSecrets": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of Copilot secret scanning"
      }
    },
    "com.github.code_security#CodeSecurityConfigurationSecretScanningDelegatedAlertDismissal": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of secret scanning delegated alert dismissal"
      }
    },
    "com.github.code_security#CodeSecurityConfigurationSecretScanningExtendedMetadata": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of secret scanning extended metadata"
      }
    },
    "com.github.code_security#CodeSecurityConfigurationPrivateVulnerabilityReporting": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of private vulnerability reporting"
      }
    },
    "com.github.code_security#CodeSecurityConfigurationEnforcement": {
      "type": "enum",
      "members": {
        "ENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enforced"
          }
        },
        "UNENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unenforced"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enforcement status for a security configuration"
      }
    },
    "com.github.code_security#GetConfigurationsForEnterpriseResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.github.code_security#CodeSecurityConfiguration"
      },
      "traits": {}
    },
    "com.github.code_security#GetConfigurationsForEnterpriseResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.github.code_security#GetConfigurationsForEnterpriseResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.code_security#GetConfigurationsForEnterprise": {
      "type": "operation",
      "input": {
        "target": "com.github.code_security#GetConfigurationsForEnterpriseRequest"
      },
      "output": {
        "target": "com.github.code_security#GetConfigurationsForEnterpriseResponse"
      },
      "errors": [
        {
          "target": "com.github.code_security#Forbidden"
        },
        {
          "target": "com.github.code_security#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/enterprises/{enterprise}/code-security/configurations",
          "code": 200
        },
        "smithy.api#documentation": "Get code security configurations for an enterprise\n\nLists all code security configurations available in an enterprise.\n\nThe authenticated user must be an administrator of the enterprise in order to use this endpoint.\n\nOAuth app tokens and personal access tokens (classic) need the `read:enterprise` scope to use this endpoint."
      }
    },
    "com.github.code_security#CreateConfigurationForEnterpriseRequestAdvancedSecurity": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "CODE_SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "code_security"
          }
        },
        "SECRET_PROTECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secret_protection"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of GitHub Advanced Security features. `enabled` will enable both Code Security and Secret Protection features.\n\n> [!WARNING]\n> `code_security` and `secret_protection` are deprecated values for this field. Prefer the individual `code_security` and `secret_protection` fields to set the status of these features.\n"
      }
    },
    "com.github.code_security#CreateConfigurationForEnterpriseRequestCodeSecurity": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of GitHub Code Security features."
      }
    },
    "com.github.code_security#CreateConfigurationForEnterpriseRequestDependencyGraph": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of Dependency Graph"
      }
    },
    "com.github.code_security#CreateConfigurationForEnterpriseRequestDependencyGraphAutosubmitAction": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of Automatic dependency submission"
      }
    },
    "com.github.code_security#CreateConfigurationForEnterpriseRequestDependencyGraphAutosubmitActionOptions": {
      "type": "structure",
      "members": {
        "labeled_runners": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to use runners labeled with 'dependency-submission' or standard GitHub runners."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Feature options for Automatic dependency submission"
      }
    },
    "com.github.code_security#CreateConfigurationForEnterpriseRequestDependabotAlerts": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of Dependabot alerts"
      }
    },
    "com.github.code_security#CreateConfigurationForEnterpriseRequestDependabotSecurityUpdates": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of Dependabot security updates"
      }
    },
    "com.github.code_security#CodeScanningOptions": {
      "type": "structure",
      "members": {
        "allow_advanced": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to allow repos which use advanced setup",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Security Configuration feature options for code scanning"
      }
    },
    "com.github.code_security#CreateConfigurationForEnterpriseRequestCodeScanningDefaultSetup": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of code scanning default setup"
      }
    },
    "com.github.code_security#CodeScanningDefaultSetupOptions": {
      "type": "structure",
      "members": {
        "runner_type": {
          "target": "com.github.code_security#CodeScanningDefaultSetupOptionsRunnerType",
          "traits": {
            "smithy.api#documentation": "Whether to use labeled runners or standard GitHub runners."
          }
        },
        "runner_label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The label of the runner to use for code scanning default setup when runner_type is 'labeled'.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Feature options for code scanning default setup"
      }
    },
    "com.github.code_security#CodeScanningDefaultSetupOptionsRunnerType": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "LABELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "labeled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether to use labeled runners or standard GitHub runners."
      }
    },
    "com.github.code_security#CreateConfigurationForEnterpriseRequestCodeScanningDelegatedAlertDismissal": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of code scanning delegated alert dismissal"
      }
    },
    "com.github.code_security#CreateConfigurationForEnterpriseRequestSecretProtection": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of GitHub Secret Protection features."
      }
    },
    "com.github.code_security#CreateConfigurationForEnterpriseRequestSecretScanning": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of secret scanning"
      }
    },
    "com.github.code_security#CreateConfigurationForEnterpriseRequestSecretScanningPushProtection": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of secret scanning push protection"
      }
    },
    "com.github.code_security#CreateConfigurationForEnterpriseRequestSecretScanningValidityChecks": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of secret scanning validity checks"
      }
    },
    "com.github.code_security#CreateConfigurationForEnterpriseRequestSecretScanningNonProviderPatterns": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of secret scanning non provider patterns"
      }
    },
    "com.github.code_security#CreateConfigurationForEnterpriseRequestSecretScanningGenericSecrets": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of Copilot secret scanning"
      }
    },
    "com.github.code_security#CreateConfigurationForEnterpriseRequestSecretScanningDelegatedAlertDismissal": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of secret scanning delegated alert dismissal"
      }
    },
    "com.github.code_security#CreateConfigurationForEnterpriseRequestSecretScanningExtendedMetadata": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of secret scanning extended metadata"
      }
    },
    "com.github.code_security#CreateConfigurationForEnterpriseRequestPrivateVulnerabilityReporting": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of private vulnerability reporting"
      }
    },
    "com.github.code_security#CreateConfigurationForEnterpriseRequestEnforcement": {
      "type": "enum",
      "members": {
        "ENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enforced"
          }
        },
        "UNENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unenforced"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enforcement status for a security configuration"
      }
    },
    "com.github.code_security#CreateConfigurationForEnterpriseRequest": {
      "type": "structure",
      "members": {
        "enterprise": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The slug version of the enterprise name."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the code security configuration. Must be unique within the enterprise.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of the code security configuration"
          }
        },
        "advanced_security": {
          "target": "com.github.code_security#CreateConfigurationForEnterpriseRequestAdvancedSecurity",
          "traits": {
            "smithy.api#documentation": "The enablement status of GitHub Advanced Security features. `enabled` will enable both Code Security and Secret Protection features.\n\n> [!WARNING]\n> `code_security` and `secret_protection` are deprecated values for this field. Prefer the individual `code_security` and `secret_protection` fields to set the status of these features.\n"
          }
        },
        "code_security": {
          "target": "com.github.code_security#CreateConfigurationForEnterpriseRequestCodeSecurity",
          "traits": {
            "smithy.api#documentation": "The enablement status of GitHub Code Security features."
          }
        },
        "dependency_graph": {
          "target": "com.github.code_security#CreateConfigurationForEnterpriseRequestDependencyGraph",
          "traits": {
            "smithy.api#documentation": "The enablement status of Dependency Graph"
          }
        },
        "dependency_graph_autosubmit_action": {
          "target": "com.github.code_security#CreateConfigurationForEnterpriseRequestDependencyGraphAutosubmitAction",
          "traits": {
            "smithy.api#documentation": "The enablement status of Automatic dependency submission"
          }
        },
        "dependency_graph_autosubmit_action_options": {
          "target": "com.github.code_security#CreateConfigurationForEnterpriseRequestDependencyGraphAutosubmitActionOptions",
          "traits": {
            "smithy.api#documentation": "Feature options for Automatic dependency submission"
          }
        },
        "dependabot_alerts": {
          "target": "com.github.code_security#CreateConfigurationForEnterpriseRequestDependabotAlerts",
          "traits": {
            "smithy.api#documentation": "The enablement status of Dependabot alerts"
          }
        },
        "dependabot_security_updates": {
          "target": "com.github.code_security#CreateConfigurationForEnterpriseRequestDependabotSecurityUpdates",
          "traits": {
            "smithy.api#documentation": "The enablement status of Dependabot security updates"
          }
        },
        "code_scanning_options": {
          "target": "com.github.code_security#CodeScanningOptions",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "code_scanning_default_setup": {
          "target": "com.github.code_security#CreateConfigurationForEnterpriseRequestCodeScanningDefaultSetup",
          "traits": {
            "smithy.api#documentation": "The enablement status of code scanning default setup"
          }
        },
        "code_scanning_default_setup_options": {
          "target": "com.github.code_security#CodeScanningDefaultSetupOptions",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "code_scanning_delegated_alert_dismissal": {
          "target": "com.github.code_security#CreateConfigurationForEnterpriseRequestCodeScanningDelegatedAlertDismissal",
          "traits": {
            "smithy.api#documentation": "The enablement status of code scanning delegated alert dismissal"
          }
        },
        "secret_protection": {
          "target": "com.github.code_security#CreateConfigurationForEnterpriseRequestSecretProtection",
          "traits": {
            "smithy.api#documentation": "The enablement status of GitHub Secret Protection features."
          }
        },
        "secret_scanning": {
          "target": "com.github.code_security#CreateConfigurationForEnterpriseRequestSecretScanning",
          "traits": {
            "smithy.api#documentation": "The enablement status of secret scanning"
          }
        },
        "secret_scanning_push_protection": {
          "target": "com.github.code_security#CreateConfigurationForEnterpriseRequestSecretScanningPushProtection",
          "traits": {
            "smithy.api#documentation": "The enablement status of secret scanning push protection"
          }
        },
        "secret_scanning_validity_checks": {
          "target": "com.github.code_security#CreateConfigurationForEnterpriseRequestSecretScanningValidityChecks",
          "traits": {
            "smithy.api#documentation": "The enablement status of secret scanning validity checks"
          }
        },
        "secret_scanning_non_provider_patterns": {
          "target": "com.github.code_security#CreateConfigurationForEnterpriseRequestSecretScanningNonProviderPatterns",
          "traits": {
            "smithy.api#documentation": "The enablement status of secret scanning non provider patterns"
          }
        },
        "secret_scanning_generic_secrets": {
          "target": "com.github.code_security#CreateConfigurationForEnterpriseRequestSecretScanningGenericSecrets",
          "traits": {
            "smithy.api#documentation": "The enablement status of Copilot secret scanning"
          }
        },
        "secret_scanning_delegated_alert_dismissal": {
          "target": "com.github.code_security#CreateConfigurationForEnterpriseRequestSecretScanningDelegatedAlertDismissal",
          "traits": {
            "smithy.api#documentation": "The enablement status of secret scanning delegated alert dismissal"
          }
        },
        "secret_scanning_extended_metadata": {
          "target": "com.github.code_security#CreateConfigurationForEnterpriseRequestSecretScanningExtendedMetadata",
          "traits": {
            "smithy.api#documentation": "The enablement status of secret scanning extended metadata"
          }
        },
        "private_vulnerability_reporting": {
          "target": "com.github.code_security#CreateConfigurationForEnterpriseRequestPrivateVulnerabilityReporting",
          "traits": {
            "smithy.api#documentation": "The enablement status of private vulnerability reporting"
          }
        },
        "enforcement": {
          "target": "com.github.code_security#CreateConfigurationForEnterpriseRequestEnforcement",
          "traits": {
            "smithy.api#documentation": "The enforcement status for a security configuration"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.code_security#CreateConfigurationForEnterprise": {
      "type": "operation",
      "input": {
        "target": "com.github.code_security#CreateConfigurationForEnterpriseRequest"
      },
      "output": {
        "target": "com.github.code_security#CodeSecurityConfiguration"
      },
      "errors": [
        {
          "target": "com.github.code_security#BadRequest"
        },
        {
          "target": "com.github.code_security#Forbidden"
        },
        {
          "target": "com.github.code_security#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/enterprises/{enterprise}/code-security/configurations",
          "code": 200
        },
        "smithy.api#documentation": "Create a code security configuration for an enterprise\n\nCreates a code security configuration in an enterprise.\n\nThe authenticated user must be an administrator of the enterprise in order to use this endpoint.\n\nOAuth app tokens and personal access tokens (classic) need the `admin:enterprise` scope to use this endpoint."
      }
    },
    "com.github.code_security#GetDefaultConfigurationsForEnterpriseRequest": {
      "type": "structure",
      "members": {
        "enterprise": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The slug version of the enterprise name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.code_security#CodeSecurityDefaultConfigurations": {
      "type": "list",
      "member": {
        "target": "com.github.code_security#CodeSecurityDefaultConfigurationsItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of default code security configurations"
      }
    },
    "com.github.code_security#CodeSecurityDefaultConfigurationsItemDefaultForNewRepos": {
      "type": "enum",
      "members": {
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        },
        "PRIVATE_AND_INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private_and_internal"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The visibility of newly created repositories for which the code security configuration will be applied to by default"
      }
    },
    "com.github.code_security#CodeSecurityDefaultConfigurationsItem": {
      "type": "structure",
      "members": {
        "default_for_new_repos": {
          "target": "com.github.code_security#CodeSecurityDefaultConfigurationsItemDefaultForNewRepos",
          "traits": {
            "smithy.api#documentation": "The visibility of newly created repositories for which the code security configuration will be applied to by default"
          }
        },
        "configuration": {
          "target": "com.github.code_security#CodeSecurityConfiguration"
        }
      },
      "traits": {}
    },
    "com.github.code_security#GetDefaultConfigurationsForEnterpriseResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.github.code_security#CodeSecurityDefaultConfigurations",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.code_security#GetDefaultConfigurationsForEnterprise": {
      "type": "operation",
      "input": {
        "target": "com.github.code_security#GetDefaultConfigurationsForEnterpriseRequest"
      },
      "output": {
        "target": "com.github.code_security#GetDefaultConfigurationsForEnterpriseResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/enterprises/{enterprise}/code-security/configurations/defaults",
          "code": 200
        },
        "smithy.api#documentation": "Get default code security configurations for an enterprise\n\nLists the default code security configurations for an enterprise.\n\nThe authenticated user must be an administrator of the enterprise in order to use this endpoint.\n\nOAuth app tokens and personal access tokens (classic) need the `read:enterprise` scope to use this endpoint."
      }
    },
    "com.github.code_security#GetSingleConfigurationForEnterpriseRequest": {
      "type": "structure",
      "members": {
        "enterprise": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The slug version of the enterprise name."
          }
        },
        "configuration_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the code security configuration."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.code_security#GetSingleConfigurationForEnterprise": {
      "type": "operation",
      "input": {
        "target": "com.github.code_security#GetSingleConfigurationForEnterpriseRequest"
      },
      "output": {
        "target": "com.github.code_security#CodeSecurityConfiguration"
      },
      "errors": [
        {
          "target": "com.github.code_security#Forbidden"
        },
        {
          "target": "com.github.code_security#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/enterprises/{enterprise}/code-security/configurations/{configuration_id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a code security configuration of an enterprise\n\nGets a code security configuration available in an enterprise.\n\nThe authenticated user must be an administrator of the enterprise in order to use this endpoint.\n\nOAuth app tokens and personal access tokens (classic) need the `read:enterprise` scope to use this endpoint."
      }
    },
    "com.github.code_security#UpdateEnterpriseConfigurationRequestAdvancedSecurity": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "CODE_SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "code_security"
          }
        },
        "SECRET_PROTECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secret_protection"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of GitHub Advanced Security features. `enabled` will enable both Code Security and Secret Protection features.\n\n> [!WARNING]\n> `code_security` and `secret_protection` are deprecated values for this field. Prefer the individual `code_security` and `secret_protection` fields to set the status of these features.\n"
      }
    },
    "com.github.code_security#UpdateEnterpriseConfigurationRequestCodeSecurity": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of GitHub Code Security features."
      }
    },
    "com.github.code_security#UpdateEnterpriseConfigurationRequestDependencyGraph": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of Dependency Graph"
      }
    },
    "com.github.code_security#UpdateEnterpriseConfigurationRequestDependencyGraphAutosubmitAction": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of Automatic dependency submission"
      }
    },
    "com.github.code_security#UpdateEnterpriseConfigurationRequestDependencyGraphAutosubmitActionOptions": {
      "type": "structure",
      "members": {
        "labeled_runners": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to use runners labeled with 'dependency-submission' or standard GitHub runners."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Feature options for Automatic dependency submission"
      }
    },
    "com.github.code_security#UpdateEnterpriseConfigurationRequestDependabotAlerts": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of Dependabot alerts"
      }
    },
    "com.github.code_security#UpdateEnterpriseConfigurationRequestDependabotSecurityUpdates": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of Dependabot security updates"
      }
    },
    "com.github.code_security#UpdateEnterpriseConfigurationRequestCodeScanningDefaultSetup": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of code scanning default setup"
      }
    },
    "com.github.code_security#UpdateEnterpriseConfigurationRequestCodeScanningDelegatedAlertDismissal": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of code scanning delegated alert dismissal"
      }
    },
    "com.github.code_security#UpdateEnterpriseConfigurationRequestSecretProtection": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of GitHub Secret Protection features."
      }
    },
    "com.github.code_security#UpdateEnterpriseConfigurationRequestSecretScanning": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of secret scanning"
      }
    },
    "com.github.code_security#UpdateEnterpriseConfigurationRequestSecretScanningPushProtection": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of secret scanning push protection"
      }
    },
    "com.github.code_security#UpdateEnterpriseConfigurationRequestSecretScanningValidityChecks": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of secret scanning validity checks"
      }
    },
    "com.github.code_security#UpdateEnterpriseConfigurationRequestSecretScanningNonProviderPatterns": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of secret scanning non-provider patterns"
      }
    },
    "com.github.code_security#UpdateEnterpriseConfigurationRequestSecretScanningGenericSecrets": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of Copilot secret scanning"
      }
    },
    "com.github.code_security#UpdateEnterpriseConfigurationRequestSecretScanningDelegatedAlertDismissal": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of secret scanning delegated alert dismissal"
      }
    },
    "com.github.code_security#UpdateEnterpriseConfigurationRequestSecretScanningExtendedMetadata": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of secret scanning extended metadata"
      }
    },
    "com.github.code_security#UpdateEnterpriseConfigurationRequestPrivateVulnerabilityReporting": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of private vulnerability reporting"
      }
    },
    "com.github.code_security#UpdateEnterpriseConfigurationRequestEnforcement": {
      "type": "enum",
      "members": {
        "ENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enforced"
          }
        },
        "UNENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unenforced"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enforcement status for a security configuration"
      }
    },
    "com.github.code_security#UpdateEnterpriseConfigurationRequest": {
      "type": "structure",
      "members": {
        "enterprise": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The slug version of the enterprise name."
          }
        },
        "configuration_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the code security configuration."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the code security configuration. Must be unique across the enterprise."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of the code security configuration"
          }
        },
        "advanced_security": {
          "target": "com.github.code_security#UpdateEnterpriseConfigurationRequestAdvancedSecurity",
          "traits": {
            "smithy.api#documentation": "The enablement status of GitHub Advanced Security features. `enabled` will enable both Code Security and Secret Protection features.\n\n> [!WARNING]\n> `code_security` and `secret_protection` are deprecated values for this field. Prefer the individual `code_security` and `secret_protection` fields to set the status of these features.\n"
          }
        },
        "code_security": {
          "target": "com.github.code_security#UpdateEnterpriseConfigurationRequestCodeSecurity",
          "traits": {
            "smithy.api#documentation": "The enablement status of GitHub Code Security features."
          }
        },
        "dependency_graph": {
          "target": "com.github.code_security#UpdateEnterpriseConfigurationRequestDependencyGraph",
          "traits": {
            "smithy.api#documentation": "The enablement status of Dependency Graph"
          }
        },
        "dependency_graph_autosubmit_action": {
          "target": "com.github.code_security#UpdateEnterpriseConfigurationRequestDependencyGraphAutosubmitAction",
          "traits": {
            "smithy.api#documentation": "The enablement status of Automatic dependency submission"
          }
        },
        "dependency_graph_autosubmit_action_options": {
          "target": "com.github.code_security#UpdateEnterpriseConfigurationRequestDependencyGraphAutosubmitActionOptions",
          "traits": {
            "smithy.api#documentation": "Feature options for Automatic dependency submission"
          }
        },
        "dependabot_alerts": {
          "target": "com.github.code_security#UpdateEnterpriseConfigurationRequestDependabotAlerts",
          "traits": {
            "smithy.api#documentation": "The enablement status of Dependabot alerts"
          }
        },
        "dependabot_security_updates": {
          "target": "com.github.code_security#UpdateEnterpriseConfigurationRequestDependabotSecurityUpdates",
          "traits": {
            "smithy.api#documentation": "The enablement status of Dependabot security updates"
          }
        },
        "code_scanning_default_setup": {
          "target": "com.github.code_security#UpdateEnterpriseConfigurationRequestCodeScanningDefaultSetup",
          "traits": {
            "smithy.api#documentation": "The enablement status of code scanning default setup"
          }
        },
        "code_scanning_default_setup_options": {
          "target": "com.github.code_security#CodeScanningDefaultSetupOptions",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "code_scanning_options": {
          "target": "com.github.code_security#CodeScanningOptions",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "code_scanning_delegated_alert_dismissal": {
          "target": "com.github.code_security#UpdateEnterpriseConfigurationRequestCodeScanningDelegatedAlertDismissal",
          "traits": {
            "smithy.api#documentation": "The enablement status of code scanning delegated alert dismissal"
          }
        },
        "secret_protection": {
          "target": "com.github.code_security#UpdateEnterpriseConfigurationRequestSecretProtection",
          "traits": {
            "smithy.api#documentation": "The enablement status of GitHub Secret Protection features."
          }
        },
        "secret_scanning": {
          "target": "com.github.code_security#UpdateEnterpriseConfigurationRequestSecretScanning",
          "traits": {
            "smithy.api#documentation": "The enablement status of secret scanning"
          }
        },
        "secret_scanning_push_protection": {
          "target": "com.github.code_security#UpdateEnterpriseConfigurationRequestSecretScanningPushProtection",
          "traits": {
            "smithy.api#documentation": "The enablement status of secret scanning push protection"
          }
        },
        "secret_scanning_validity_checks": {
          "target": "com.github.code_security#UpdateEnterpriseConfigurationRequestSecretScanningValidityChecks",
          "traits": {
            "smithy.api#documentation": "The enablement status of secret scanning validity checks"
          }
        },
        "secret_scanning_non_provider_patterns": {
          "target": "com.github.code_security#UpdateEnterpriseConfigurationRequestSecretScanningNonProviderPatterns",
          "traits": {
            "smithy.api#documentation": "The enablement status of secret scanning non-provider patterns"
          }
        },
        "secret_scanning_generic_secrets": {
          "target": "com.github.code_security#UpdateEnterpriseConfigurationRequestSecretScanningGenericSecrets",
          "traits": {
            "smithy.api#documentation": "The enablement status of Copilot secret scanning"
          }
        },
        "secret_scanning_delegated_alert_dismissal": {
          "target": "com.github.code_security#UpdateEnterpriseConfigurationRequestSecretScanningDelegatedAlertDismissal",
          "traits": {
            "smithy.api#documentation": "The enablement status of secret scanning delegated alert dismissal"
          }
        },
        "secret_scanning_extended_metadata": {
          "target": "com.github.code_security#UpdateEnterpriseConfigurationRequestSecretScanningExtendedMetadata",
          "traits": {
            "smithy.api#documentation": "The enablement status of secret scanning extended metadata"
          }
        },
        "private_vulnerability_reporting": {
          "target": "com.github.code_security#UpdateEnterpriseConfigurationRequestPrivateVulnerabilityReporting",
          "traits": {
            "smithy.api#documentation": "The enablement status of private vulnerability reporting"
          }
        },
        "enforcement": {
          "target": "com.github.code_security#UpdateEnterpriseConfigurationRequestEnforcement",
          "traits": {
            "smithy.api#documentation": "The enforcement status for a security configuration"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.code_security#UpdateEnterpriseConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.github.code_security#UpdateEnterpriseConfigurationRequest"
      },
      "output": {
        "target": "com.github.code_security#CodeSecurityConfiguration"
      },
      "errors": [
        {
          "target": "com.github.code_security#Forbidden"
        },
        {
          "target": "com.github.code_security#NotFound"
        },
        {
          "target": "com.github.code_security#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/enterprises/{enterprise}/code-security/configurations/{configuration_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update a custom code security configuration for an enterprise\n\nUpdates a code security configuration in an enterprise.\n\nThe authenticated user must be an administrator of the enterprise in order to use this endpoint.\n\nOAuth app tokens and personal access tokens (classic) need the `admin:enterprise` scope to use this endpoint."
      }
    },
    "com.github.code_security#DeleteConfigurationForEnterpriseRequest": {
      "type": "structure",
      "members": {
        "enterprise": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The slug version of the enterprise name."
          }
        },
        "configuration_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the code security configuration."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.code_security#DeleteConfigurationForEnterprise": {
      "type": "operation",
      "input": {
        "target": "com.github.code_security#DeleteConfigurationForEnterpriseRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.github.code_security#BadRequest"
        },
        {
          "target": "com.github.code_security#Forbidden"
        },
        {
          "target": "com.github.code_security#NotFound"
        },
        {
          "target": "com.github.code_security#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/enterprises/{enterprise}/code-security/configurations/{configuration_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a code security configuration for an enterprise\n\nDeletes a code security configuration from an enterprise.\nRepositories attached to the configuration will retain their settings but will no longer be associated with\nthe configuration.\n\nThe authenticated user must be an administrator for the enterprise to use this endpoint.\n\nOAuth app tokens and personal access tokens (classic) need the `admin:enterprise` scope to use this endpoint."
      }
    },
    "com.github.code_security#AttachEnterpriseConfigurationRequestScope": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "ALL_WITHOUT_CONFIGURATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all_without_configurations"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of repositories to attach the configuration to."
      }
    },
    "com.github.code_security#AttachEnterpriseConfigurationRequest": {
      "type": "structure",
      "members": {
        "enterprise": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The slug version of the enterprise name."
          }
        },
        "configuration_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the code security configuration."
          }
        },
        "scope": {
          "target": "com.github.code_security#AttachEnterpriseConfigurationRequestScope",
          "traits": {
            "smithy.api#documentation": "The type of repositories to attach the configuration to.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.code_security#AttachEnterpriseConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.github.code_security#AttachEnterpriseConfigurationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.github.code_security#Forbidden"
        },
        {
          "target": "com.github.code_security#NotFound"
        },
        {
          "target": "com.github.code_security#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/enterprises/{enterprise}/code-security/configurations/{configuration_id}/attach",
          "code": 200
        },
        "smithy.api#documentation": "Attach an enterprise configuration to repositories\n\nAttaches an enterprise code security configuration to repositories. If the repositories specified are already attached to a configuration, they will be re-attached to the provided configuration.\n\nIf insufficient GHAS licenses are available to attach the configuration to a repository, only free features will be enabled.\n\nThe authenticated user must be an administrator for the enterprise to use this endpoint.\n\nOAuth app tokens and personal access tokens (classic) need the `admin:enterprise` scope to use this endpoint."
      }
    },
    "com.github.code_security#SetConfigurationAsDefaultForEnterpriseRequestDefaultForNewRepos": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "PRIVATE_AND_INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private_and_internal"
          }
        },
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specify which types of repository this security configuration should be applied to by default."
      }
    },
    "com.github.code_security#SetConfigurationAsDefaultForEnterpriseRequest": {
      "type": "structure",
      "members": {
        "enterprise": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The slug version of the enterprise name."
          }
        },
        "configuration_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the code security configuration."
          }
        },
        "default_for_new_repos": {
          "target": "com.github.code_security#SetConfigurationAsDefaultForEnterpriseRequestDefaultForNewRepos",
          "traits": {
            "smithy.api#documentation": "Specify which types of repository this security configuration should be applied to by default."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.code_security#SetConfigurationAsDefaultForEnterpriseResponseDefaultForNewRepos": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "PRIVATE_AND_INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private_and_internal"
          }
        },
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies which types of repository this security configuration is applied to by default."
      }
    },
    "com.github.code_security#SetConfigurationAsDefaultForEnterpriseResponse": {
      "type": "structure",
      "members": {
        "default_for_new_repos": {
          "target": "com.github.code_security#SetConfigurationAsDefaultForEnterpriseResponseDefaultForNewRepos",
          "traits": {
            "smithy.api#documentation": "Specifies which types of repository this security configuration is applied to by default."
          }
        },
        "configuration": {
          "target": "com.github.code_security#CodeSecurityConfiguration"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.code_security#SetConfigurationAsDefaultForEnterprise": {
      "type": "operation",
      "input": {
        "target": "com.github.code_security#SetConfigurationAsDefaultForEnterpriseRequest"
      },
      "output": {
        "target": "com.github.code_security#SetConfigurationAsDefaultForEnterpriseResponse"
      },
      "errors": [
        {
          "target": "com.github.code_security#Forbidden"
        },
        {
          "target": "com.github.code_security#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/enterprises/{enterprise}/code-security/configurations/{configuration_id}/defaults",
          "code": 200
        },
        "smithy.api#documentation": "Set a code security configuration as a default for an enterprise\n\nSets a code security configuration as a default to be applied to new repositories in your enterprise.\n\nThis configuration will be applied by default to the matching repository type when created, but only for organizations within the enterprise that do not already have a default code security configuration set.\n\nThe authenticated user must be an administrator for the enterprise to use this endpoint.\n\nOAuth app tokens and personal access tokens (classic) need the `admin:enterprise` scope to use this endpoint."
      }
    },
    "com.github.code_security#GetRepositoriesForEnterpriseConfigurationRequest": {
      "type": "structure",
      "members": {
        "enterprise": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The slug version of the enterprise name."
          }
        },
        "configuration_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the code security configuration."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "The number of results per page (max 100). For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "A cursor, as given in the [Link header](https://docs.github.com/rest/guides/using-pagination-in-the-rest-api#using-link-headers). If specified, the query only searches for results before this cursor. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "A cursor, as given in the [Link header](https://docs.github.com/rest/guides/using-pagination-in-the-rest-api#using-link-headers). If specified, the query only searches for results after this cursor. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "A comma-separated list of statuses. If specified, only repositories with these attachment statuses will be returned.\n\nCan be: `all`, `attached`, `attaching`, `removed`, `enforced`, `failed`, `updating`, `removed_by_enterprise`"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.code_security#CodeSecurityConfigurationRepositories": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.github.code_security#CodeSecurityConfigurationRepositoriesStatus",
          "traits": {
            "smithy.api#documentation": "The attachment status of the code security configuration on the repository."
          }
        },
        "repository": {
          "target": "com.github.code_security#SimpleRepository"
        }
      },
      "traits": {
        "smithy.api#documentation": "Repositories associated with a code security configuration and attachment status"
      }
    },
    "com.github.code_security#CodeSecurityConfigurationRepositoriesStatus": {
      "type": "enum",
      "members": {
        "ATTACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attached"
          }
        },
        "ATTACHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attaching"
          }
        },
        "DETACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "detached"
          }
        },
        "REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "removed"
          }
        },
        "ENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enforced"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updating"
          }
        },
        "REMOVED_BY_ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "removed_by_enterprise"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The attachment status of the code security configuration on the repository."
      }
    },
    "com.github.code_security#SimpleRepository": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "A unique identifier of the repository.",
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GraphQL identifier of the repository.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the repository.",
            "smithy.api#required": {}
          }
        },
        "full_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full, globally unique, name of the repository.",
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "com.github.code_security#SimpleUser",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the repository is private.",
[...]
