{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.github.dependabot#ListAlertsForEnterpriseRequestHasCase1Item": {
      "type": "enum",
      "members": {
        "PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "patch"
          }
        }
      },
      "traits": {}
    },
    "com.github.dependabot#ListAlertsForEnterpriseRequestHasCase1List": {
      "type": "list",
      "member": {
        "target": "com.github.dependabot#ListAlertsForEnterpriseRequestHasCase1Item"
      },
      "traits": {}
    },
    "com.github.dependabot#ListAlertsForEnterpriseRequestHas": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.github.dependabot#ListAlertsForEnterpriseRequestHasCase1List"
        }
      },
      "traits": {}
    },
    "com.github.dependabot#ListAlertsForEnterpriseRequestScope": {
      "type": "enum",
      "members": {
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "development"
          }
        },
        "RUNTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "runtime"
          }
        }
      },
      "traits": {}
    },
    "com.github.dependabot#ListAlertsForEnterpriseRequestSort": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated"
          }
        },
        "EPSS_PERCENTAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "epss_percentage"
          }
        }
      },
      "traits": {}
    },
    "com.github.dependabot#ListAlertsForEnterpriseRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.github.dependabot#ListAlertsForEnterpriseRequest": {
      "type": "structure",
      "members": {
        "enterprise": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The slug version of the enterprise name."
          }
        },
        "classification": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "classification",
            "smithy.api#documentation": "A comma-separated list of vulnerability classifications. If specified, only alerts for vulnerabilities with these classifications will be returned.\n\nCan be: `malware`, `general`"
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "state",
            "smithy.api#documentation": "A comma-separated list of states. If specified, only alerts with these states will be returned.\n\nCan be: `auto_dismissed`, `dismissed`, `fixed`, `open`"
          }
        },
        "severity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "severity",
            "smithy.api#documentation": "A comma-separated list of severities. If specified, only alerts with these severities will be returned.\n\nCan be: `low`, `medium`, `high`, `critical`"
          }
        },
        "ecosystem": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "ecosystem",
            "smithy.api#documentation": "A comma-separated list of ecosystems. If specified, only alerts for these ecosystems will be returned.\n\nCan be: `composer`, `go`, `maven`, `npm`, `nuget`, `pip`, `pub`, `rubygems`, `rust`"
          }
        },
        "package": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "package",
            "smithy.api#documentation": "A comma-separated list of package names. If specified, only alerts for these packages will be returned."
          }
        },
        "epss_percentage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "epss_percentage",
            "smithy.api#documentation": "CVE Exploit Prediction Scoring System (EPSS) percentage. Can be specified as:\n- An exact number (`n`)\n- Comparators such as `>n`, `<n`, `>=n`, `<=n`\n- A range like `n..n`, where `n` is a number from 0.0 to 1.0\n\nFilters the list of alerts based on EPSS percentages. If specified, only alerts with the provided EPSS percentages will be returned."
          }
        },
        "has": {
          "target": "com.github.dependabot#ListAlertsForEnterpriseRequestHas",
          "traits": {
            "smithy.api#httpQuery": "has",
            "smithy.api#documentation": "Filters the list of alerts based on whether the alert has the given value. If specified, only alerts meeting this criterion will be returned.\nMultiple `has` filters can be passed to filter for alerts that have all of the values. Currently, only `patch` is supported."
          }
        },
        "assignee": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "assignee",
            "smithy.api#documentation": "Filter alerts by assignees.\nProvide a comma-separated list of user handles (e.g., `octocat` or `octocat,hubot`) to return alerts assigned to any of the specified users.\nUse `*` to list alerts with at least one assignee or `none` to list alerts with no assignees."
          }
        },
        "scope": {
          "target": "com.github.dependabot#ListAlertsForEnterpriseRequestScope",
          "traits": {
            "smithy.api#httpQuery": "scope",
            "smithy.api#documentation": "The scope of the vulnerable dependency. If specified, only alerts with this scope will be returned."
          }
        },
        "relationship": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "relationship",
            "smithy.api#documentation": "A comma-separated list of relationships of the vulnerable dependency to your project. If specified, only alerts with these relationships will be returned.\n\n> [!NOTE]\n> We are rolling out support for dependency relationship across ecosystems. This value will be \"unknown\" for all dependencies in unsupported ecosystems."
          }
        },
        "sort": {
          "target": "com.github.dependabot#ListAlertsForEnterpriseRequestSort",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "The property by which to sort the results.\n`created` means when the alert was created.\n`updated` means when the alert's state last changed.\n`epss_percentage` sorts alerts by the Exploit Prediction Scoring System (EPSS) percentage."
          }
        },
        "direction": {
          "target": "com.github.dependabot#ListAlertsForEnterpriseRequestDirection",
          "traits": {
            "smithy.api#httpQuery": "direction",
            "smithy.api#documentation": "The direction to sort the results by."
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "A cursor, as given in the [Link header](https://docs.github.com/rest/guides/using-pagination-in-the-rest-api#using-link-headers). If specified, the query only searches for results before this cursor. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "A cursor, as given in the [Link header](https://docs.github.com/rest/guides/using-pagination-in-the-rest-api#using-link-headers). If specified, the query only searches for results after this cursor. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "The number of results per page (max 100). For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.dependabot#DependabotAlertWithRepository": {
      "type": "structure",
      "members": {
        "number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.github.dependabot#DependabotAlertWithRepositoryState",
          "traits": {
            "smithy.api#documentation": "The state of the Dependabot alert.",
            "smithy.api#required": {}
          }
        },
        "dependency": {
          "target": "com.github.dependabot#DependabotAlertWithRepositoryDependency",
          "traits": {
            "smithy.api#documentation": "Details for the vulnerable dependency.",
            "smithy.api#required": {}
          }
        },
        "security_advisory": {
          "target": "com.github.dependabot#DependabotAlertSecurityAdvisory",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "security_vulnerability": {
          "target": "com.github.dependabot#DependabotAlertSecurityVulnerability",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dismissed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dismissed_by": {
          "target": "com.github.dependabot#NullableSimpleUser",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dismissed_reason": {
          "target": "com.github.dependabot#DependabotAlertWithRepositoryDismissedReason",
          "traits": {
            "smithy.api#documentation": "The reason that the alert was dismissed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dismissed_comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional comment associated with the alert's dismissal.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "fixed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "auto_dismissed_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "dismissal_request": {
          "target": "com.github.dependabot#DependabotAlertDismissalRequestSimple",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "assignees": {
          "target": "com.github.dependabot#DependabotAlertWithRepositoryAssigneesList",
          "traits": {
            "smithy.api#documentation": "The users assigned to this alert."
          }
        },
        "repository": {
          "target": "com.github.dependabot#SimpleRepository",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Dependabot alert."
      }
    },
    "com.github.dependabot#DependabotAlertWithRepositoryState": {
      "type": "enum",
      "members": {
        "AUTO_DISMISSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto_dismissed"
          }
        },
        "DISMISSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dismissed"
          }
        },
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed"
          }
        },
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of the Dependabot alert."
      }
    },
    "com.github.dependabot#DependabotAlertPackage": {
      "type": "structure",
      "members": {
        "ecosystem": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The package's language or package management ecosystem.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique package name within its ecosystem.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details for the vulnerable package."
      }
    },
    "com.github.dependabot#DependabotAlertWithRepositoryDependencyScope": {
      "type": "enum",
      "members": {
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "development"
          }
        },
        "RUNTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "runtime"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The execution scope of the vulnerable dependency."
      }
    },
    "com.github.dependabot#DependabotAlertWithRepositoryDependencyRelationship": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        },
        "DIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "direct"
          }
        },
        "TRANSITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transitive"
          }
        },
        "INCONCLUSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inconclusive"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The vulnerable dependency's relationship to your project.\n\n> [!NOTE]\n> We are rolling out support for dependency relationship across ecosystems. This value will be \"unknown\" for all dependencies in unsupported ecosystems.\n"
      }
    },
    "com.github.dependabot#DependabotAlertWithRepositoryDependency": {
      "type": "structure",
      "members": {
        "package": {
          "target": "com.github.dependabot#DependabotAlertPackage"
        },
        "manifest_path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full path to the dependency manifest file, relative to the root of the repository."
          }
        },
        "scope": {
          "target": "com.github.dependabot#DependabotAlertWithRepositoryDependencyScope",
          "traits": {
            "smithy.api#documentation": "The execution scope of the vulnerable dependency.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "relationship": {
          "target": "com.github.dependabot#DependabotAlertWithRepositoryDependencyRelationship",
          "traits": {
            "smithy.api#documentation": "The vulnerable dependency's relationship to your project.\n\n> [!NOTE]\n> We are rolling out support for dependency relationship across ecosystems. This value will be \"unknown\" for all dependencies in unsupported ecosystems.\n",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details for the vulnerable dependency."
      }
    },
    "com.github.dependabot#DependabotAlertSecurityAdvisory": {
      "type": "structure",
      "members": {
        "ghsa_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique GitHub Security Advisory ID assigned to the advisory.",
            "smithy.api#required": {}
          }
        },
        "cve_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique CVE ID assigned to the advisory.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short, plain text summary of the advisory.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A long-form Markdown-supported description of the advisory.",
            "smithy.api#required": {}
          }
        },
        "vulnerabilities": {
          "target": "com.github.dependabot#DependabotAlertSecurityAdvisoryVulnerabilitiesList",
          "traits": {
            "smithy.api#documentation": "Vulnerable version range information for the advisory.",
            "smithy.api#required": {}
          }
        },
        "severity": {
          "target": "com.github.dependabot#DependabotAlertSecurityAdvisorySeverity",
          "traits": {
            "smithy.api#documentation": "The severity of the advisory.",
            "smithy.api#required": {}
          }
        },
        "classification": {
          "target": "com.github.dependabot#DependabotAlertSecurityAdvisoryClassification",
          "traits": {
            "smithy.api#documentation": "The classification of the advisory."
          }
        },
        "cvss": {
          "target": "com.github.dependabot#DependabotAlertSecurityAdvisoryCvss",
          "traits": {
            "smithy.api#documentation": "Details for the advisory pertaining to the Common Vulnerability Scoring System.",
            "smithy.api#required": {}
          }
        },
        "cvss_severities": {
          "target": "com.github.dependabot#CvssSeverities",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "epss": {
          "target": "com.github.dependabot#SecurityAdvisoryEpss",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "cwes": {
          "target": "com.github.dependabot#DependabotAlertSecurityAdvisoryCwesList",
          "traits": {
            "smithy.api#documentation": "Details for the advisory pertaining to Common Weakness Enumeration.",
            "smithy.api#required": {}
          }
        },
        "identifiers": {
          "target": "com.github.dependabot#DependabotAlertSecurityAdvisoryIdentifiersList",
          "traits": {
            "smithy.api#documentation": "Values that identify this advisory among security information sources.",
            "smithy.api#required": {}
          }
        },
        "references": {
          "target": "com.github.dependabot#DependabotAlertSecurityAdvisoryReferencesList",
          "traits": {
            "smithy.api#documentation": "Links to additional advisory information.",
            "smithy.api#required": {}
          }
        },
        "published_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time that the advisory was published in ISO 8601 format: `YYYY-MM-DDTHH:MM:SSZ`.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time that the advisory was last modified in ISO 8601 format: `YYYY-MM-DDTHH:MM:SSZ`.",
            "smithy.api#required": {}
          }
        },
        "withdrawn_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time that the advisory was withdrawn in ISO 8601 format: `YYYY-MM-DDTHH:MM:SSZ`.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details for the GitHub Security Advisory."
      }
    },
    "com.github.dependabot#DependabotAlertSecurityVulnerability": {
      "type": "structure",
      "members": {
        "package": {
          "target": "com.github.dependabot#DependabotAlertPackage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "severity": {
          "target": "com.github.dependabot#DependabotAlertSecurityVulnerabilitySeverity",
          "traits": {
            "smithy.api#documentation": "The severity of the vulnerability.",
            "smithy.api#required": {}
          }
        },
        "vulnerable_version_range": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Conditions that identify vulnerable versions of this vulnerability's package.",
            "smithy.api#required": {}
          }
        },
        "first_patched_version": {
          "target": "com.github.dependabot#DependabotAlertSecurityVulnerabilityFirstPatchedVersion",
          "traits": {
            "smithy.api#documentation": "Details pertaining to the package version that patches this vulnerability.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details pertaining to one vulnerable version range for the advisory."
      }
    },
    "com.github.dependabot#DependabotAlertSecurityVulnerabilitySeverity": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "critical"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The severity of the vulnerability."
      }
    },
    "com.github.dependabot#DependabotAlertSecurityVulnerabilityFirstPatchedVersion": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The package version that patches this vulnerability.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details pertaining to the package version that patches this vulnerability."
      }
    },
    "com.github.dependabot#DependabotAlertSecurityAdvisoryVulnerabilitiesList": {
      "type": "list",
      "member": {
        "target": "com.github.dependabot#DependabotAlertSecurityVulnerability"
      },
      "traits": {
        "smithy.api#documentation": "Vulnerable version range information for the advisory."
      }
    },
    "com.github.dependabot#DependabotAlertSecurityAdvisorySeverity": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "critical"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The severity of the advisory."
      }
    },
    "com.github.dependabot#DependabotAlertSecurityAdvisoryClassification": {
      "type": "enum",
      "members": {
        "GENERAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "general"
          }
        },
        "MALWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "malware"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The classification of the advisory."
      }
    },
    "com.github.dependabot#DependabotAlertSecurityAdvisoryCvss": {
      "type": "structure",
      "members": {
        "score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The overall CVSS score of the advisory.",
            "smithy.api#required": {}
          }
        },
        "vector_string": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full CVSS vector string for the advisory.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details for the advisory pertaining to the Common Vulnerability Scoring System."
      }
    },
    "com.github.dependabot#CvssSeverities": {
      "type": "structure",
      "members": {
        "cvss_v3": {
          "target": "com.github.dependabot#CvssSeveritiesCvssV3",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "cvss_v4": {
          "target": "com.github.dependabot#CvssSeveritiesCvssV4",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.dependabot#CvssSeveritiesCvssV3": {
      "type": "structure",
      "members": {
        "vector_string": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CVSS 3 vector string.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The CVSS 3 score.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.dependabot#CvssSeveritiesCvssV4": {
      "type": "structure",
      "members": {
        "vector_string": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CVSS 4 vector string.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The CVSS 4 score.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.dependabot#SecurityAdvisoryEpss": {
      "type": "structure",
      "members": {
        "percentage": {
          "target": "smithy.api#Double"
        },
        "percentile": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {
        "smithy.api#documentation": "The EPSS scores as calculated by the [Exploit Prediction Scoring System](https://www.first.org/epss)."
      }
    },
    "com.github.dependabot#DependabotAlertSecurityAdvisoryCwesItem": {
      "type": "structure",
      "members": {
        "cwe_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique CWE ID.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The short, plain text name of the CWE.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A CWE weakness assigned to the advisory."
      }
    },
    "com.github.dependabot#DependabotAlertSecurityAdvisoryCwesList": {
      "type": "list",
      "member": {
        "target": "com.github.dependabot#DependabotAlertSecurityAdvisoryCwesItem"
      },
      "traits": {
        "smithy.api#documentation": "Details for the advisory pertaining to Common Weakness Enumeration."
      }
    },
    "com.github.dependabot#DependabotAlertSecurityAdvisoryIdentifiersItemType": {
      "type": "enum",
      "members": {
        "CVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CVE"
          }
        },
        "GHSA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GHSA"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of advisory identifier."
      }
    },
    "com.github.dependabot#DependabotAlertSecurityAdvisoryIdentifiersItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.github.dependabot#DependabotAlertSecurityAdvisoryIdentifiersItemType",
          "traits": {
            "smithy.api#documentation": "The type of advisory identifier.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the advisory identifer.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An advisory identifier."
      }
    },
    "com.github.dependabot#DependabotAlertSecurityAdvisoryIdentifiersList": {
      "type": "list",
      "member": {
        "target": "com.github.dependabot#DependabotAlertSecurityAdvisoryIdentifiersItem"
      },
      "traits": {
        "smithy.api#documentation": "Values that identify this advisory among security information sources."
      }
    },
    "com.github.dependabot#DependabotAlertSecurityAdvisoryReferencesItem": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the reference.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A link to additional advisory information."
      }
    },
    "com.github.dependabot#DependabotAlertSecurityAdvisoryReferencesList": {
      "type": "list",
      "member": {
        "target": "com.github.dependabot#DependabotAlertSecurityAdvisoryReferencesItem"
      },
      "traits": {
        "smithy.api#documentation": "Links to additional advisory information."
      }
    },
    "com.github.dependabot#NullableSimpleUser": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "login": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatar_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gravatar_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "followers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "following_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gists_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "starred_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subscriptions_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "organizations_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repos_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "received_events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "site_admin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "starred_at": {
          "target": "smithy.api#String"
        },
        "user_view_type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "A GitHub user."
      }
    },
    "com.github.dependabot#DependabotAlertWithRepositoryDismissedReason": {
      "type": "enum",
      "members": {
        "FIX_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fix_started"
          }
        },
        "INACCURATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inaccurate"
          }
        },
        "NO_BANDWIDTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_bandwidth"
          }
        },
        "NOT_USED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_used"
          }
        },
        "TOLERABLE_RISK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tolerable_risk"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The reason that the alert was dismissed."
      }
    },
    "com.github.dependabot#DependabotAlertDismissalRequestSimple": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the dismissal request."
          }
        },
        "status": {
          "target": "com.github.dependabot#DependabotAlertDismissalRequestSimpleStatus",
          "traits": {
            "smithy.api#documentation": "The current status of the dismissal request."
          }
        },
        "requester": {
          "target": "com.github.dependabot#DependabotAlertDismissalRequestSimpleRequester",
          "traits": {
            "smithy.api#documentation": "The user who requested the dismissal."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the dismissal request was created."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to get more information about this dismissal request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about an active dismissal request for this Dependabot alert."
      }
    },
    "com.github.dependabot#DependabotAlertDismissalRequestSimpleStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current status of the dismissal request."
      }
    },
    "com.github.dependabot#DependabotAlertDismissalRequestSimpleRequester": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the user."
          }
        },
        "login": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The login name of the user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The user who requested the dismissal."
      }
    },
    "com.github.dependabot#SimpleUser": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "login": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatar_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gravatar_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "followers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "following_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gists_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "starred_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subscriptions_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "organizations_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repos_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "received_events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "site_admin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "starred_at": {
          "target": "smithy.api#String"
        },
        "user_view_type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "A GitHub user."
      }
    },
    "com.github.dependabot#DependabotAlertWithRepositoryAssigneesList": {
      "type": "list",
      "member": {
        "target": "com.github.dependabot#SimpleUser"
      },
      "traits": {
        "smithy.api#documentation": "The users assigned to this alert."
      }
    },
    "com.github.dependabot#SimpleRepository": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "A unique identifier of the repository.",
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GraphQL identifier of the repository.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the repository.",
            "smithy.api#required": {}
          }
        },
        "full_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full, globally unique, name of the repository.",
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "com.github.dependabot#SimpleUser",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the repository is private.",
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to view the repository on GitHub.com.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The repository description.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "fork": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the repository is a fork.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to get more information about the repository from the GitHub API.",
            "smithy.api#required": {}
          }
        },
        "archive_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to download the repository as an archive.",
            "smithy.api#required": {}
          }
        },
        "assignees_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to list the available assignees for issues in the repository.",
            "smithy.api#required": {}
          }
        },
        "blobs_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to create or retrieve a raw Git blob in the repository.",
            "smithy.api#required": {}
          }
        },
        "branches_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about branches in the repository.",
            "smithy.api#required": {}
          }
        },
        "collaborators_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about collaborators of the repository.",
            "smithy.api#required": {}
          }
        },
        "comments_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about comments on the repository.",
            "smithy.api#required": {}
          }
        },
        "commits_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about commits on the repository.",
            "smithy.api#required": {}
          }
        },
        "compare_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to compare two commits or refs.",
            "smithy.api#required": {}
          }
        },
        "contents_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get the contents of the repository.",
            "smithy.api#required": {}
          }
        },
        "contributors_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to list the contributors to the repository.",
            "smithy.api#required": {}
          }
        },
        "deployments_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to list the deployments of the repository.",
            "smithy.api#required": {}
          }
        },
        "downloads_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to list the downloads on the repository.",
            "smithy.api#required": {}
          }
        },
        "events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to list the events of the repository.",
            "smithy.api#required": {}
          }
        },
        "forks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to list the forks of the repository.",
            "smithy.api#required": {}
          }
        },
        "git_commits_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about Git commits of the repository.",
            "smithy.api#required": {}
          }
        },
        "git_refs_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about Git refs of the repository.",
            "smithy.api#required": {}
          }
        },
        "git_tags_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about Git tags of the repository.",
            "smithy.api#required": {}
          }
        },
        "issue_comment_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about issue comments on the repository.",
            "smithy.api#required": {}
          }
        },
        "issue_events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about issue events on the repository.",
            "smithy.api#required": {}
          }
        },
        "issues_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about issues on the repository.",
            "smithy.api#required": {}
          }
        },
        "keys_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about deploy keys on the repository.",
            "smithy.api#required": {}
          }
        },
        "labels_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about labels of the repository.",
            "smithy.api#required": {}
          }
        },
        "languages_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to get information about the languages of the repository.",
            "smithy.api#required": {}
          }
        },
        "merges_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to merge branches in the repository.",
            "smithy.api#required": {}
          }
        },
        "milestones_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about milestones of the repository.",
            "smithy.api#required": {}
          }
        },
        "notifications_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about notifications on the repository.",
            "smithy.api#required": {}
          }
        },
        "pulls_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about pull requests on the repository.",
            "smithy.api#required": {}
          }
        },
        "releases_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about releases on the repository.",
            "smithy.api#required": {}
          }
        },
        "stargazers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to list the stargazers on the repository.",
            "smithy.api#required": {}
          }
        },
        "statuses_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about statuses of a commit.",
            "smithy.api#required": {}
          }
        },
        "subscribers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to list the subscribers on the repository.",
            "smithy.api#required": {}
          }
        },
        "subscription_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to subscribe to notifications for this repository.",
            "smithy.api#required": {}
          }
        },
        "tags_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to get information about tags on the repository.",
            "smithy.api#required": {}
          }
        },
        "teams_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to list the teams on the repository.",
            "smithy.api#required": {}
          }
        },
        "trees_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to create or retrieve a raw Git tree of the repository.",
            "smithy.api#required": {}
          }
        },
        "hooks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to list the hooks on the repository.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A GitHub repository."
      }
    },
    "com.github.dependabot#ListAlertsForEnterpriseResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.github.dependabot#DependabotAlertWithRepository"
      },
      "traits": {}
    },
    "com.github.dependabot#ListAlertsForEnterpriseResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.github.dependabot#ListAlertsForEnterpriseResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.dependabot#ListAlertsForEnterprise": {
      "type": "operation",
      "input": {
        "target": "com.github.dependabot#ListAlertsForEnterpriseRequest"
      },
      "output": {
        "target": "com.github.dependabot#ListAlertsForEnterpriseResponse"
      },
      "errors": [
        {
          "target": "com.github.dependabot#Forbidden"
        },
        {
          "target": "com.github.dependabot#NotFound"
        },
        {
          "target": "com.github.dependabot#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/enterprises/{enterprise}/dependabot/alerts",
          "code": 200
        },
        "smithy.api#documentation": "List Dependabot alerts for an enterprise\n\nLists Dependabot alerts for repositories that are owned by the specified enterprise.\n\nThe authenticated user must be a member of the enterprise to use this endpoint.\n\nAlerts are only returned for organizations in the enterprise for which you are an organization owner or a security manager. For more information about security managers, see \"[Managing security managers in your organization](https://docs.github.com/organizations/managing-peoples-access-to-your-organization-with-roles/managing-security-managers-in-your-organization).\"\n\nOAuth app tokens and personal access tokens (classic) need the `repo` or `security_events` scope to use this endpoint."
      }
    },
    "com.github.dependabot#RepositoryAccessForEnterpriseRequest": {
      "type": "structure",
      "members": {
        "enterprise": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The slug version of the enterprise name."
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "The page number of results to fetch."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "Number of results per page."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.dependabot#DependabotRepositoryAccessDetails": {
      "type": "structure",
      "members": {
        "default_level": {
          "target": "com.github.dependabot#DependabotRepositoryAccessDetailsDefaultLevel",
          "traits": {
            "smithy.api#documentation": "The default repository access level for Dependabot updates.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "accessible_repositories": {
          "target": "com.github.dependabot#DependabotRepositoryAccessDetailsAccessibleRepositoriesList"
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about repositories that Dependabot is able to access in an organization"
      }
    },
    "com.github.dependabot#DependabotRepositoryAccessDetailsDefaultLevel": {
      "type": "enum",
      "members": {
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        },
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "internal"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The default repository access level for Dependabot updates."
      }
    },
    "com.github.dependabot#NullableSimpleRepository": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "A unique identifier of the repository.",
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GraphQL identifier of the repository.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the repository.",
            "smithy.api#required": {}
          }
        },
        "full_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full, globally unique, name of the repository.",
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "com.github.dependabot#SimpleUser",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the repository is private.",
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to view the repository on GitHub.com.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The repository description.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "fork": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the repository is a fork.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to get more information about the repository from the GitHub API.",
            "smithy.api#required": {}
          }
        },
        "archive_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to download the repository as an archive.",
            "smithy.api#required": {}
          }
        },
        "assignees_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to list the available assignees for issues in the repository.",
            "smithy.api#required": {}
          }
        },
        "blobs_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to create or retrieve a raw Git blob in the repository.",
            "smithy.api#required": {}
          }
        },
        "branches_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about branches in the repository.",
            "smithy.api#required": {}
          }
        },
        "collaborators_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about collaborators of the repository.",
            "smithy.api#required": {}
          }
        },
        "comments_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about comments on the repository.",
            "smithy.api#required": {}
          }
        },
        "commits_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about commits on the repository.",
            "smithy.api#required": {}
          }
        },
        "compare_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to compare two commits or refs.",
            "smithy.api#required": {}
          }
        },
        "contents_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get the contents of the repository.",
            "smithy.api#required": {}
          }
        },
        "contributors_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to list the contributors to the repository.",
            "smithy.api#required": {}
          }
        },
        "deployments_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to list the deployments of the repository.",
            "smithy.api#required": {}
          }
        },
        "downloads_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to list the downloads on the repository.",
            "smithy.api#required": {}
          }
        },
        "events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to list the events of the repository.",
            "smithy.api#required": {}
          }
        },
        "forks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to list the forks of the repository.",
            "smithy.api#required": {}
          }
        },
        "git_commits_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about Git commits of the repository.",
            "smithy.api#required": {}
          }
        },
        "git_refs_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about Git refs of the repository.",
            "smithy.api#required": {}
          }
        },
        "git_tags_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about Git tags of the repository.",
            "smithy.api#required": {}
          }
        },
        "issue_comment_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about issue comments on the repository.",
            "smithy.api#required": {}
          }
        },
        "issue_events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about issue events on the repository.",
            "smithy.api#required": {}
          }
        },
        "issues_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about issues on the repository.",
            "smithy.api#required": {}
          }
        },
        "keys_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about deploy keys on the repository.",
            "smithy.api#required": {}
          }
        },
        "labels_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about labels of the repository.",
            "smithy.api#required": {}
          }
        },
        "languages_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to get information about the languages of the repository.",
            "smithy.api#required": {}
          }
        },
        "merges_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to merge branches in the repository.",
            "smithy.api#required": {}
          }
        },
        "milestones_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about milestones of the repository.",
            "smithy.api#required": {}
          }
        },
        "notifications_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about notifications on the repository.",
            "smithy.api#required": {}
          }
        },
        "pulls_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about pull requests on the repository.",
            "smithy.api#required": {}
          }
        },
        "releases_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about releases on the repository.",
            "smithy.api#required": {}
          }
        },
        "stargazers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to list the stargazers on the repository.",
            "smithy.api#required": {}
          }
        },
        "statuses_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about statuses of a commit.",
            "smithy.api#required": {}
          }
        },
        "subscribers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to list the subscribers on the repository.",
            "smithy.api#required": {}
          }
        },
        "subscription_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to subscribe to notifications for this repository.",
            "smithy.api#required": {}
          }
        },
        "tags_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to get information about tags on the repository.",
            "smithy.api#required": {}
          }
        },
        "teams_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to list the teams on the repository.",
            "smithy.api#required": {}
          }
        },
        "trees_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to create or retrieve a raw Git tree of the repository.",
            "smithy.api#required": {}
          }
        },
        "hooks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to list the hooks on the repository.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A GitHub repository."
      }
    },
    "com.github.dependabot#DependabotRepositoryAccessDetailsAccessibleRepositoriesList": {
      "type": "list",
      "member": {
        "target": "com.github.dependabot#NullableSimpleRepository"
      },
      "traits": {}
    },
    "com.github.dependabot#RepositoryAccessForEnterprise": {
      "type": "operation",
      "input": {
        "target": "com.github.dependabot#RepositoryAccessForEnterpriseRequest"
      },
      "output": {
        "target": "com.github.dependabot#DependabotRepositoryAccessDetails"
      },
      "errors": [
        {
          "target": "com.github.dependabot#Forbidden"
        },
        {
          "target": "com.github.dependabot#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/enterprises/{enterprise}/dependabot/repository-access",
          "code": 200
        },
        "smithy.api#documentation": "Lists the repositories Dependabot can access in an enterprise\n\nLists repositories that enterprise admins have allowed Dependabot to access when updating dependencies across organizations in the enterprise.\n\nThe authenticated user must be an enterprise owner to use this endpoint."
      }
    },
    "com.github.dependabot#UpdateRepositoryAccessForEnterpriseRequestRepositoryIdsToAddList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "List of repository IDs to add."
      }
    },
    "com.github.dependabot#UpdateRepositoryAccessForEnterpriseRequestRepositoryIdsToRemoveList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "List of repository IDs to remove."
      }
    },
    "com.github.dependabot#UpdateRepositoryAccessForEnterpriseRequest": {
      "type": "structure",
      "members": {
        "enterprise": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The slug version of the enterprise name."
          }
        },
        "repository_ids_to_add": {
          "target": "com.github.dependabot#UpdateRepositoryAccessForEnterpriseRequestRepositoryIdsToAddList",
          "traits": {
            "smithy.api#documentation": "List of repository IDs to add."
          }
        },
        "repository_ids_to_remove": {
          "target": "com.github.dependabot#UpdateRepositoryAccessForEnterpriseRequestRepositoryIdsToRemoveList",
          "traits": {
            "smithy.api#documentation": "List of repository IDs to remove."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.dependabot#UpdateRepositoryAccessForEnterprise": {
      "type": "operation",
      "input": {
        "target": "com.github.dependabot#UpdateRepositoryAccessForEnterpriseRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.github.dependabot#Forbidden"
        },
        {
          "target": "com.github.dependabot#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/enterprises/{enterprise}/dependabot/repository-access",
          "code": 200
        },
        "smithy.api#documentation": "Updates Dependabot's repository access list for an enterprise\n\nUpdates repositories according to the list of repositories that enterprise admins have given Dependabot access to when they've updated dependencies across organizations in the enterprise.\n\nThe authenticated user must be an enterprise owner to use this endpoint.\n\n**Example request body:**\n```json\n{\n  \"repository_ids_to_add\": [123, 456],\n  \"repository_ids_to_remove\": [789]\n}\n```"
      }
    },
    "com.github.dependabot#SetRepositoryAccessDefaultLevelForEnterpriseRequestDefaultLevel": {
      "type": "enum",
      "members": {
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        },
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "internal"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The default repository access level for Dependabot updates."
      }
    },
    "com.github.dependabot#SetRepositoryAccessDefaultLevelForEnterpriseRequest": {
      "type": "structure",
      "members": {
        "enterprise": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The slug version of the enterprise name."
          }
        },
        "default_level": {
          "target": "com.github.dependabot#SetRepositoryAccessDefaultLevelForEnterpriseRequestDefaultLevel",
          "traits": {
            "smithy.api#documentation": "The default repository access level for Dependabot updates.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.dependabot#SetRepositoryAccessDefaultLevelForEnterprise": {
      "type": "operation",
      "input": {
        "target": "com.github.dependabot#SetRepositoryAccessDefaultLevelForEnterpriseRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.github.dependabot#Forbidden"
        },
        {
          "target": "com.github.dependabot#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/enterprises/{enterprise}/dependabot/repository-access/default-level",
          "code": 200
        },
        "smithy.api#documentation": "Set the default repository access level for Dependabot in an enterprise\n\nSets the default level of repository access Dependabot will have while performing an update across organizations in the enterprise. Available values are:\n- 'public' - Dependabot will only have access to public repositories, unless access is explicitly granted to non-public repositories.\n- 'internal' - Dependabot will only have access to public and internal repositories, unless access is explicitly granted to private repositories.\n\nThe authenticated user must be an enterprise owner to use this endpoint."
      }
    },
    "com.github.dependabot#ListAlertsForOrgRequestHasCase1Item": {
      "type": "enum",
      "members": {
        "PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "patch"
          }
        },
        "DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployment"
          }
        }
      },
      "traits": {}
    },
    "com.github.dependabot#ListAlertsForOrgRequestHasCase1List": {
      "type": "list",
      "member": {
        "target": "com.github.dependabot#ListAlertsForOrgRequestHasCase1Item"
      },
      "traits": {}
    },
    "com.github.dependabot#ListAlertsForOrgRequestHas": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.github.dependabot#ListAlertsForOrgRequestHasCase1List"
        }
      },
      "traits": {}
    },
    "com.github.dependabot#ListAlertsForOrgRequestScope": {
      "type": "enum",
      "members": {
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "development"
          }
        },
        "RUNTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "runtime"
          }
        }
      },
      "traits": {}
    },
    "com.github.dependabot#ListAlertsForOrgRequestSort": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated"
          }
        },
        "EPSS_PERCENTAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "epss_percentage"
          }
        }
      },
      "traits": {}
    },
    "com.github.dependabot#ListAlertsForOrgRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.github.dependabot#ListAlertsForOrgRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "classification": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "classification",
            "smithy.api#documentation": "A comma-separated list of vulnerability classifications. If specified, only alerts for vulnerabilities with these classifications will be returned.\n\nCan be: `malware`, `general`"
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "state",
            "smithy.api#documentation": "A comma-separated list of states. If specified, only alerts with these states will be returned.\n\nCan be: `auto_dismissed`, `dismissed`, `fixed`, `open`"
          }
        },
        "severity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "severity",
            "smithy.api#documentation": "A comma-separated list of severities. If specified, only alerts with these severities will be returned.\n\nCan be: `low`, `medium`, `high`, `critical`"
          }
        },
        "ecosystem": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "ecosystem",
            "smithy.api#documentation": "A comma-separated list of ecosystems. If specified, only alerts for these ecosystems will be returned.\n\nCan be: `composer`, `go`, `maven`, `npm`, `nuget`, `pip`, `pub`, `rubygems`, `rust`"
          }
        },
        "package": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "package",
            "smithy.api#documentation": "A comma-separated list of package names. If specified, only alerts for these packages will be returned."
          }
        },
        "epss_percentage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "epss_percentage",
            "smithy.api#documentation": "CVE Exploit Prediction Scoring System (EPSS) percentage. Can be specified as:\n- An exact number (`n`)\n- Comparators such as `>n`, `<n`, `>=n`, `<=n`\n- A range like `n..n`, where `n` is a number from 0.0 to 1.0\n\nFilters the list of alerts based on EPSS percentages. If specified, only alerts with the provided EPSS percentages will be returned."
          }
        },
        "artifact_registry_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "artifact_registry_url",
            "smithy.api#documentation": "A comma-separated list of artifact registry URLs. If specified, only alerts for repositories with storage records matching these URLs will be returned."
          }
        },
        "artifact_registry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "artifact_registry",
            "smithy.api#documentation": "A comma-separated list of Artifact Registry name strings. If specified, only alerts for repositories with storage records matching these registries will be returned.\n\nCan be: `jfrog-artifactory`"
          }
        },
        "has": {
          "target": "com.github.dependabot#ListAlertsForOrgRequestHas",
          "traits": {
            "smithy.api#httpQuery": "has",
            "smithy.api#documentation": "Filters the list of alerts based on whether the alert has the given value. If specified, only alerts meeting this criterion will be returned.\nMultiple `has` filters can be passed to filter for alerts that have all of the values."
          }
        },
        "assignee": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "assignee",
            "smithy.api#documentation": "Filter alerts by assignees.\nProvide a comma-separated list of user handles (e.g., `octocat` or `octocat,hubot`) to return alerts assigned to any of the specified users.\nUse `*` to list alerts with at least one assignee or `none` to list alerts with no assignees."
          }
        },
        "runtime_risk": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "runtime_risk",
            "smithy.api#documentation": "A comma-separated list of runtime risk strings. If specified, only alerts for repositories with deployment records matching these risks will be returned.\n\nCan be: `critical-resource`, `internet-exposed`, `sensitive-data`, `lateral-movement`"
          }
        },
        "scope": {
          "target": "com.github.dependabot#ListAlertsForOrgRequestScope",
          "traits": {
            "smithy.api#httpQuery": "scope",
            "smithy.api#documentation": "The scope of the vulnerable dependency. If specified, only alerts with this scope will be returned."
          }
        },
        "relationship": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "relationship",
            "smithy.api#documentation": "A comma-separated list of relationships of the vulnerable dependency to your project. If specified, only alerts with these relationships will be returned.\n\n> [!NOTE]\n> We are rolling out support for dependency relationship across ecosystems. This value will be \"unknown\" for all dependencies in unsupported ecosystems."
          }
        },
        "sort": {
          "target": "com.github.dependabot#ListAlertsForOrgRequestSort",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "The property by which to sort the results.\n`created` means when the alert was created.\n`updated` means when the alert's state last changed.\n`epss_percentage` sorts alerts by the Exploit Prediction Scoring System (EPSS) percentage."
          }
        },
        "direction": {
          "target": "com.github.dependabot#ListAlertsForOrgRequestDirection",
          "traits": {
            "smithy.api#httpQuery": "direction",
            "smithy.api#documentation": "The direction to sort the results by."
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "A cursor, as given in the [Link header](https://docs.github.com/rest/guides/using-pagination-in-the-rest-api#using-link-headers). If specified, the query only searches for results before this cursor. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "A cursor, as given in the [Link header](https://docs.github.com/rest/guides/using-pagination-in-the-rest-api#using-link-headers). If specified, the query only searches for results after this cursor. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "The number of results per page (max 100). For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.dependabot#ListAlertsForOrgResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.github.dependabot#DependabotAlertWithRepository"
      },
      "traits": {}
    },
    "com.github.dependabot#ListAlertsForOrgResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.github.dependabot#ListAlertsForOrgResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.dependabot#ListAlertsForOrg": {
      "type": "operation",
      "input": {
        "target": "com.github.dependabot#ListAlertsForOrgRequest"
      },
      "output": {
        "target": "com.github.dependabot#ListAlertsForOrgResponse"
      },
      "errors": [
        {
          "target": "com.github.dependabot#BadRequest"
        },
        {
          "target": "com.github.dependabot#Forbidden"
        },
        {
          "target": "com.github.dependabot#NotFound"
        },
        {
          "target": "com.github.dependabot#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/dependabot/alerts",
          "code": 200
        },
        "smithy.api#documentation": "List Dependabot alerts for an organization\n\nLists Dependabot alerts for an organization.\n\nThe authenticated user must be an owner or security manager for the organization to use this endpoint.\n\nOAuth app tokens and personal access tokens (classic) need the `security_events` scope to use this endpoint. If this endpoint is only used with public repositories, the token can use the `public_repo` scope instead."
      }
    },
    "com.github.dependabot#RepositoryAccessForOrgRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "The page number of results to fetch."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "Number of results per page."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.dependabot#RepositoryAccessForOrg": {
      "type": "operation",
      "input": {
        "target": "com.github.dependabot#RepositoryAccessForOrgRequest"
      },
      "output": {
        "target": "com.github.dependabot#DependabotRepositoryAccessDetails"
      },
      "errors": [
        {
          "target": "com.github.dependabot#Forbidden"
        },
        {
          "target": "com.github.dependabot#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/dependabot/repository-access",
          "code": 200
        },
        "smithy.api#documentation": "Lists the repositories Dependabot can access in an organization\n\nLists repositories that organization admins have allowed Dependabot to access when updating dependencies.\n> [!NOTE]\n>    This operation supports both server-to-server and user-to-server access.\nUnauthorized users will not see the existence of this endpoint."
      }
    },
    "com.github.dependabot#UpdateRepositoryAccessForOrgRequestRepositoryIdsToAddList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "List of repository IDs to add."
      }
    },
    "com.github.dependabot#UpdateRepositoryAccessForOrgRequestRepositoryIdsToRemoveList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "List of repository IDs to remove."
      }
    },
    "com.github.dependabot#UpdateRepositoryAccessForOrgRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "repository_ids_to_add": {
          "target": "com.github.dependabot#UpdateRepositoryAccessForOrgRequestRepositoryIdsToAddList",
          "traits": {
            "smithy.api#documentation": "List of repository IDs to add."
          }
        },
        "repository_ids_to_remove": {
          "target": "com.github.dependabot#UpdateRepositoryAccessForOrgRequestRepositoryIdsToRemoveList",
          "traits": {
            "smithy.api#documentation": "List of repository IDs to remove."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.dependabot#UpdateRepositoryAccessForOrg": {
      "type": "operation",
      "input": {
        "target": "com.github.dependabot#UpdateRepositoryAccessForOrgRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.github.dependabot#Forbidden"
        },
        {
          "target": "com.github.dependabot#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/orgs/{org}/dependabot/repository-access",
          "code": 200
        },
        "smithy.api#documentation": "Updates Dependabot's repository access list for an organization\n\nUpdates repositories according to the list of repositories that organization admins have given Dependabot access to when they've updated dependencies.\n\n> [!NOTE]\n>    This operation supports both server-to-server and user-to-server access.\nUnauthorized users will not see the existence of this endpoint.\n\n**Example request body:**\n```json\n{\n  \"repository_ids_to_add\": [123, 456],\n  \"repository_ids_to_remove\": [789]\n}\n```"
      }
    },
    "com.github.dependabot#SetRepositoryAccessDefaultLevelRequestDefaultLevel": {
      "type": "enum",
      "members": {
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        },
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "internal"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The default repository access level for Dependabot updates."
      }
    },
    "com.github.dependabot#SetRepositoryAccessDefaultLevelRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "default_level": {
          "target": "com.github.dependabot#SetRepositoryAccessDefaultLevelRequestDefaultLevel",
          "traits": {
            "smithy.api#documentation": "The default repository access level for Dependabot updates.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.dependabot#SetRepositoryAccessDefaultLevel": {
      "type": "operation",
      "input": {
        "target": "com.github.dependabot#SetRepositoryAccessDefaultLevelRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.github.dependabot#Forbidden"
        },
        {
          "target": "com.github.dependabot#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/orgs/{org}/dependabot/repository-access/default-level",
          "code": 200
        },
        "smithy.api#documentation": "Set the default repository access level for Dependabot\n\nSets the default level of repository access Dependabot will have while performing an update.  Available values are:\n- 'public' - Dependabot will only have access to public repositories, unless access is explicitly granted to non-public repositories.\n- 'internal' - Dependabot will only have access to public and internal repositories, unless access is explicitly granted to private repositories.\n\nUnauthorized users will not see the existence of this endpoint.\n\nThis operation supports both server-to-server and user-to-server access."
      }
    },
    "com.github.dependabot#ListOrgSecretsRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "The number of results per page (max 100). For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "The page number of the results to fetch. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.dependabot#OrganizationDependabotSecret": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the secret.",
            "smithy.api#required": {}
[...]
