{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.github.licenses#GetAllCommonlyUsedRequest": {
      "type": "structure",
      "members": {
        "featured": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "featured"
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "The number of results per page (max 100). For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "The page number of the results to fetch. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.licenses#LicenseSimple": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "spdx_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "License Simple"
      }
    },
    "com.github.licenses#GetAllCommonlyUsedResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.github.licenses#LicenseSimple"
      },
      "traits": {}
    },
    "com.github.licenses#GetAllCommonlyUsedResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.github.licenses#GetAllCommonlyUsedResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.licenses#GetAllCommonlyUsed": {
      "type": "operation",
      "input": {
        "target": "com.github.licenses#GetAllCommonlyUsedRequest"
      },
      "output": {
        "target": "com.github.licenses#GetAllCommonlyUsedResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/licenses",
          "code": 200
        },
        "smithy.api#documentation": "Get all commonly used licenses\n\nLists the most commonly used licenses on GitHub. For more information, see \"[Licensing a repository ](https://docs.github.com/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/licensing-a-repository).\""
      }
    },
    "com.github.licenses#GetRequest": {
      "type": "structure",
      "members": {
        "license": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.licenses#License": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "spdx_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "implementation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.github.licenses#LicensePermissionsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "conditions": {
          "target": "com.github.licenses#LicenseConditionsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "limitations": {
          "target": "com.github.licenses#LicenseLimitationsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "featured": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "License"
      }
    },
    "com.github.licenses#LicensePermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.github.licenses#LicenseConditionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.github.licenses#LicenseLimitationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.github.licenses#Get": {
      "type": "operation",
      "input": {
        "target": "com.github.licenses#GetRequest"
      },
      "output": {
        "target": "com.github.licenses#License"
      },
      "errors": [
        {
          "target": "com.github.licenses#Forbidden"
        },
        {
          "target": "com.github.licenses#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/licenses/{license}",
          "code": 200
        },
        "smithy.api#documentation": "Get a license\n\nGets information about a specific license. For more information, see \"[Licensing a repository ](https://docs.github.com/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/licensing-a-repository).\""
      }
    },
    "com.github.licenses#GetForRepoRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The account owner of the repository. The name is not case sensitive."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the repository without the `.git` extension. The name is not case sensitive."
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "ref",
            "smithy.api#documentation": "The Git reference for the results you want to list. The `ref` for a branch can be formatted either as `refs/heads/<branch name>` or simply `<branch name>`. To reference a pull request use `refs/pull/<number>/merge`."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.licenses#LicenseContent": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "git_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "download_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "encoding": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "_links": {
          "target": "com.github.licenses#LicenseContentLinks",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "license": {
          "target": "com.github.licenses#NullableLicenseSimple",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "License Content"
      }
    },
    "com.github.licenses#LicenseContentLinks": {
      "type": "structure",
      "members": {
        "git": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "html": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "self": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.licenses#NullableLicenseSimple": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "spdx_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "License Simple"
      }
    },
    "com.github.licenses#GetForRepo": {
      "type": "operation",
      "input": {
        "target": "com.github.licenses#GetForRepoRequest"
      },
      "output": {
        "target": "com.github.licenses#LicenseContent"
      },
      "errors": [
        {
          "target": "com.github.licenses#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/repos/{owner}/{repo}/license",
          "code": 200
        },
        "smithy.api#documentation": "Get the license for a repository\n\nThis method returns the contents of the repository's license file, if one is detected.\n\nThis endpoint supports the following custom media types. For more information, see \"[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types).\"\n\n- **`application/vnd.github.raw+json`**: Returns the raw contents of the license.\n- **`application/vnd.github.html+json`**: Returns the license contents in HTML. Markup languages are rendered to HTML using GitHub's open-source [Markup library](https://github.com/github/markup)."
      }
    },
    "com.github.licenses#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.github.licenses#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.github.licenses#Licenses": {
      "type": "service",
      "version": "1.1.4",
      "operations": [
        {
          "target": "com.github.licenses#GetAllCommonlyUsed"
        },
        {
          "target": "com.github.licenses#Get"
        },
        {
          "target": "com.github.licenses#GetForRepo"
        }
      ],
      "traits": {
        "smithy.api#title": "GitHub v3 REST API",
        "smithy.api#documentation": "GitHub's v3 REST API."
      }
    }
  }
}
