{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.github.orgs#ListRequest": {
      "type": "structure",
      "members": {
        "since": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "since",
            "smithy.api#documentation": "An organization ID. Only return organizations with an ID greater than this ID."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "The number of results per page (max 100). For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.orgs#OrganizationSimple": {
      "type": "structure",
      "members": {
        "login": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repos_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hooks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "issues_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "members_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "public_members_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatar_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A GitHub organization."
      }
    },
    "com.github.orgs#ListResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.github.orgs#OrganizationSimple"
      },
      "traits": {}
    },
    "com.github.orgs#ListResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.github.orgs#ListResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.orgs#List": {
      "type": "operation",
      "input": {
        "target": "com.github.orgs#ListRequest"
      },
      "output": {
        "target": "com.github.orgs#ListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/organizations",
          "code": 200
        },
        "smithy.api#documentation": "List organizations\n\nLists all organizations, in the order that they were created.\n\n> [!NOTE]\n> Pagination is powered exclusively by the `since` parameter. Use the [Link header](https://docs.github.com/rest/guides/using-pagination-in-the-rest-api#using-link-headers) to get the URL for the next page of organizations."
      }
    },
    "com.github.orgs#GetRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.orgs#OrganizationFull": {
      "type": "structure",
      "members": {
        "login": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repos_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hooks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "issues_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "members_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "public_members_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatar_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "company": {
          "target": "smithy.api#String"
        },
        "blog": {
          "target": "smithy.api#String"
        },
        "location": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "twitter_username": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_verified": {
          "target": "smithy.api#Boolean"
        },
        "has_organization_projects": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_repository_projects": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "public_repos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "public_gists": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "followers": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "following": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total_private_repos": {
          "target": "smithy.api#Integer"
        },
        "owned_private_repos": {
          "target": "smithy.api#Integer"
        },
        "private_gists": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "disk_usage": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "collaborators": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of collaborators on private repositories.\n\nThis field may be null if the number of private repositories is over 50,000.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "billing_email": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "plan": {
          "target": "com.github.orgs#OrganizationFullPlan"
        },
        "default_repository_permission": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_repository_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default branch for repositories created in this organization.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_create_repositories": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "two_factor_requirement_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_allowed_repository_creation_type": {
          "target": "smithy.api#String"
        },
        "members_can_create_public_repositories": {
          "target": "smithy.api#Boolean"
        },
        "members_can_create_private_repositories": {
          "target": "smithy.api#Boolean"
        },
        "members_can_create_internal_repositories": {
          "target": "smithy.api#Boolean"
        },
        "members_can_create_pages": {
          "target": "smithy.api#Boolean"
        },
        "members_can_create_public_pages": {
          "target": "smithy.api#Boolean"
        },
        "members_can_create_private_pages": {
          "target": "smithy.api#Boolean"
        },
        "members_can_delete_repositories": {
          "target": "smithy.api#Boolean"
        },
        "members_can_change_repo_visibility": {
          "target": "smithy.api#Boolean"
        },
        "members_can_invite_outside_collaborators": {
          "target": "smithy.api#Boolean"
        },
        "members_can_delete_issues": {
          "target": "smithy.api#Boolean"
        },
        "display_commenter_full_name_setting_enabled": {
          "target": "smithy.api#Boolean"
        },
        "readers_can_create_discussions": {
          "target": "smithy.api#Boolean"
        },
        "members_can_create_teams": {
          "target": "smithy.api#Boolean"
        },
        "members_can_view_dependency_insights": {
          "target": "smithy.api#Boolean"
        },
        "members_can_fork_private_repositories": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "web_commit_signoff_required": {
          "target": "smithy.api#Boolean"
        },
        "advanced_security_enabled_for_new_repositories": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "**Endpoint closing down notice.** Please use [code security configurations](https://docs.github.com/rest/code-security/configurations) instead.\n\nWhether GitHub Advanced Security is enabled for new repositories and repositories transferred to this organization.\n\nThis field is only visible to organization owners or members of a team with the security manager role."
          }
        },
        "dependabot_alerts_enabled_for_new_repositories": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "**Endpoint closing down notice.** Please use [code security configurations](https://docs.github.com/rest/code-security/configurations) instead.\n\nWhether Dependabot alerts are automatically enabled for new repositories and repositories transferred to this organization.\n\nThis field is only visible to organization owners or members of a team with the security manager role."
          }
        },
        "dependabot_security_updates_enabled_for_new_repositories": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "**Endpoint closing down notice.** Please use [code security configurations](https://docs.github.com/rest/code-security/configurations) instead.\n\nWhether Dependabot security updates are automatically enabled for new repositories and repositories transferred to this organization.\n\nThis field is only visible to organization owners or members of a team with the security manager role."
          }
        },
        "dependency_graph_enabled_for_new_repositories": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "**Endpoint closing down notice.** Please use [code security configurations](https://docs.github.com/rest/code-security/configurations) instead.\n\nWhether dependency graph is automatically enabled for new repositories and repositories transferred to this organization.\n\nThis field is only visible to organization owners or members of a team with the security manager role."
          }
        },
        "secret_scanning_enabled_for_new_repositories": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "**Endpoint closing down notice.** Please use [code security configurations](https://docs.github.com/rest/code-security/configurations) instead.\n\nWhether secret scanning is automatically enabled for new repositories and repositories transferred to this organization.\n\nThis field is only visible to organization owners or members of a team with the security manager role."
          }
        },
        "secret_scanning_push_protection_enabled_for_new_repositories": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "**Endpoint closing down notice.** Please use [code security configurations](https://docs.github.com/rest/code-security/configurations) instead.\n\nWhether secret scanning push protection is automatically enabled for new repositories and repositories transferred to this organization.\n\nThis field is only visible to organization owners or members of a team with the security manager role."
          }
        },
        "secret_scanning_push_protection_custom_link_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a custom link is shown to contributors who are blocked from pushing a secret by push protection."
          }
        },
        "secret_scanning_push_protection_custom_link": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional URL string to display to contributors who are blocked from pushing a secret.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "archived_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "deploy_keys_enabled_for_repositories": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Controls whether or not deploy keys may be added and used for repositories in the organization."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Organization Full"
      }
    },
    "com.github.orgs#OrganizationFullPlan": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "space": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "private_repos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "filled_seats": {
          "target": "smithy.api#Integer"
        },
        "seats": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.github.orgs#Get": {
      "type": "operation",
      "input": {
        "target": "com.github.orgs#GetRequest"
      },
      "output": {
        "target": "com.github.orgs#OrganizationFull"
      },
      "errors": [
        {
          "target": "com.github.orgs#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}",
          "code": 200
        },
        "smithy.api#documentation": "Get an organization\n\nGets information about an organization.\n\nWhen the value of `two_factor_requirement_enabled` is `true`, the organization requires all members, billing managers, outside collaborators, guest collaborators, repository collaborators, or everyone with access to any repository within the organization to enable [two-factor authentication](https://docs.github.com/articles/securing-your-account-with-two-factor-authentication-2fa/).\n\nTo see the full details about an organization, the authenticated user must be an organization owner.\n\nOAuth app tokens and personal access tokens (classic) need the `admin:org` scope to see the full details about an organization.\n\nTo see information about an organization's GitHub plan, GitHub Apps need the `Organization plan` permission."
      }
    },
    "com.github.orgs#UpdateRequestDefaultRepositoryPermission": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Default permission level members have for organization repositories."
      }
    },
    "com.github.orgs#UpdateRequestMembersAllowedRepositoryCreationType": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies which types of repositories non-admin organization members can create. `private` is only available to repositories that are part of an organization on GitHub Enterprise Cloud. \n**Note:** This parameter is closing down and will be removed in the future. Its return value ignores internal repositories. Using this parameter overrides values set in `members_can_create_repositories`. See the parameter deprecation notice in the operation description for details."
      }
    },
    "com.github.orgs#UpdateRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "billing_email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Billing email address. This address is not publicized."
          }
        },
        "company": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The company name."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The publicly visible email address."
          }
        },
        "twitter_username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Twitter username of the company."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The shorthand name of the company."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the company. The maximum size is 160 characters."
          }
        },
        "has_organization_projects": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether an organization can use organization projects."
          }
        },
        "has_repository_projects": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether repositories that belong to the organization can use repository projects."
          }
        },
        "default_repository_permission": {
          "target": "com.github.orgs#UpdateRequestDefaultRepositoryPermission",
          "traits": {
            "smithy.api#documentation": "Default permission level members have for organization repositories."
          }
        },
        "members_can_create_repositories": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether of non-admin organization members can create repositories. **Note:** A parameter can override this parameter. See `members_allowed_repository_creation_type` in this table for details."
          }
        },
        "members_can_create_internal_repositories": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether organization members can create internal repositories, which are visible to all enterprise members. You can only allow members to create internal repositories if your organization is associated with an enterprise account using GitHub Enterprise Cloud or GitHub Enterprise Server 2.20+. For more information, see \"[Restricting repository creation in your organization](https://docs.github.com/github/setting-up-and-managing-organizations-and-teams/restricting-repository-creation-in-your-organization)\" in the GitHub Help documentation."
          }
        },
        "members_can_create_private_repositories": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether organization members can create private repositories, which are visible to organization members with permission. For more information, see \"[Restricting repository creation in your organization](https://docs.github.com/github/setting-up-and-managing-organizations-and-teams/restricting-repository-creation-in-your-organization)\" in the GitHub Help documentation."
          }
        },
        "members_can_create_public_repositories": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether organization members can create public repositories, which are visible to anyone. For more information, see \"[Restricting repository creation in your organization](https://docs.github.com/github/setting-up-and-managing-organizations-and-teams/restricting-repository-creation-in-your-organization)\" in the GitHub Help documentation."
          }
        },
        "members_allowed_repository_creation_type": {
          "target": "com.github.orgs#UpdateRequestMembersAllowedRepositoryCreationType",
          "traits": {
            "smithy.api#documentation": "Specifies which types of repositories non-admin organization members can create. `private` is only available to repositories that are part of an organization on GitHub Enterprise Cloud. \n**Note:** This parameter is closing down and will be removed in the future. Its return value ignores internal repositories. Using this parameter overrides values set in `members_can_create_repositories`. See the parameter deprecation notice in the operation description for details."
          }
        },
        "members_can_create_pages": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether organization members can create GitHub Pages sites. Existing published sites will not be impacted."
          }
        },
        "members_can_create_public_pages": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether organization members can create public GitHub Pages sites. Existing published sites will not be impacted."
          }
        },
        "members_can_create_private_pages": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether organization members can create private GitHub Pages sites. Existing published sites will not be impacted."
          }
        },
        "members_can_fork_private_repositories": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether organization members can fork private organization repositories."
          }
        },
        "web_commit_signoff_required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether contributors to organization repositories are required to sign off on commits they make through GitHub's web interface."
          }
        },
        "blog": {
          "target": "smithy.api#String"
        },
        "advanced_security_enabled_for_new_repositories": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "**Endpoint closing down notice.** Please use [code security configurations](https://docs.github.com/rest/code-security/configurations) instead.\n\nWhether GitHub Advanced Security is automatically enabled for new repositories and repositories transferred to this organization.\n\nTo use this parameter, you must have admin permissions for the repository or be an owner or security manager for the organization that owns the repository. For more information, see \"[Managing security managers in your organization](https://docs.github.com/organizations/managing-peoples-access-to-your-organization-with-roles/managing-security-managers-in-your-organization).\"\n\nYou can check which security and analysis features are currently enabled by using a `GET /orgs/{org}` request."
          }
        },
        "dependabot_alerts_enabled_for_new_repositories": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "**Endpoint closing down notice.** Please use [code security configurations](https://docs.github.com/rest/code-security/configurations) instead.\n\nWhether Dependabot alerts are automatically enabled for new repositories and repositories transferred to this organization.\n\nTo use this parameter, you must have admin permissions for the repository or be an owner or security manager for the organization that owns the repository. For more information, see \"[Managing security managers in your organization](https://docs.github.com/organizations/managing-peoples-access-to-your-organization-with-roles/managing-security-managers-in-your-organization).\"\n\nYou can check which security and analysis features are currently enabled by using a `GET /orgs/{org}` request."
          }
        },
        "dependabot_security_updates_enabled_for_new_repositories": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "**Endpoint closing down notice.** Please use [code security configurations](https://docs.github.com/rest/code-security/configurations) instead.\n\nWhether Dependabot security updates are automatically enabled for new repositories and repositories transferred to this organization.\n\nTo use this parameter, you must have admin permissions for the repository or be an owner or security manager for the organization that owns the repository. For more information, see \"[Managing security managers in your organization](https://docs.github.com/organizations/managing-peoples-access-to-your-organization-with-roles/managing-security-managers-in-your-organization).\"\n\nYou can check which security and analysis features are currently enabled by using a `GET /orgs/{org}` request."
          }
        },
        "dependency_graph_enabled_for_new_repositories": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "**Endpoint closing down notice.** Please use [code security configurations](https://docs.github.com/rest/code-security/configurations) instead.\n\nWhether dependency graph is automatically enabled for new repositories and repositories transferred to this organization.\n\nTo use this parameter, you must have admin permissions for the repository or be an owner or security manager for the organization that owns the repository. For more information, see \"[Managing security managers in your organization](https://docs.github.com/organizations/managing-peoples-access-to-your-organization-with-roles/managing-security-managers-in-your-organization).\"\n\nYou can check which security and analysis features are currently enabled by using a `GET /orgs/{org}` request."
          }
        },
        "secret_scanning_enabled_for_new_repositories": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "**Endpoint closing down notice.** Please use [code security configurations](https://docs.github.com/rest/code-security/configurations) instead.\n\nWhether secret scanning is automatically enabled for new repositories and repositories transferred to this organization.\n\nTo use this parameter, you must have admin permissions for the repository or be an owner or security manager for the organization that owns the repository. For more information, see \"[Managing security managers in your organization](https://docs.github.com/organizations/managing-peoples-access-to-your-organization-with-roles/managing-security-managers-in-your-organization).\"\n\nYou can check which security and analysis features are currently enabled by using a `GET /orgs/{org}` request."
          }
        },
        "secret_scanning_push_protection_enabled_for_new_repositories": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "**Endpoint closing down notice.** Please use [code security configurations](https://docs.github.com/rest/code-security/configurations) instead.\n\nWhether secret scanning push protection is automatically enabled for new repositories and repositories transferred to this organization.\n\nTo use this parameter, you must have admin permissions for the repository or be an owner or security manager for the organization that owns the repository. For more information, see \"[Managing security managers in your organization](https://docs.github.com/organizations/managing-peoples-access-to-your-organization-with-roles/managing-security-managers-in-your-organization).\"\n\nYou can check which security and analysis features are currently enabled by using a `GET /orgs/{org}` request."
          }
        },
        "secret_scanning_push_protection_custom_link_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a custom link is shown to contributors who are blocked from pushing a secret by push protection."
          }
        },
        "secret_scanning_push_protection_custom_link": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If `secret_scanning_push_protection_custom_link_enabled` is true, the URL that will be displayed to contributors who are blocked from pushing a secret."
          }
        },
        "deploy_keys_enabled_for_repositories": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Controls whether or not deploy keys may be added and used for repositories in the organization."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.orgs#Update": {
      "type": "operation",
      "input": {
        "target": "com.github.orgs#UpdateRequest"
      },
      "output": {
        "target": "com.github.orgs#OrganizationFull"
      },
      "errors": [
        {
          "target": "com.github.orgs#Conflict"
        },
        {
          "target": "com.github.orgs#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/orgs/{org}",
          "code": 200
        },
        "smithy.api#documentation": "Update an organization\n\n> [!WARNING]\n> **Closing down notice:** GitHub will replace and discontinue `members_allowed_repository_creation_type` in favor of more granular permissions. The new input parameters are `members_can_create_public_repositories`, `members_can_create_private_repositories` for all organizations and `members_can_create_internal_repositories` for organizations associated with an enterprise account using GitHub Enterprise Cloud or GitHub Enterprise Server 2.20+. For more information, see the [blog post](https://developer.github.com/changes/2019-12-03-internal-visibility-changes).\n\n> [!WARNING]\n> **Closing down notice:** Code security product enablement for new repositories through the organization API is closing down. Please use [code security configurations](https://docs.github.com/rest/code-security/configurations#set-a-code-security-configuration-as-a-default-for-an-organization) to set defaults instead. For more information on setting a default security configuration, see the [changelog](https://github.blog/changelog/2024-07-09-sunsetting-security-settings-defaults-parameters-in-the-organizations-rest-api/).\n\nUpdates the organization's profile and member privileges.\n\nThe authenticated user must be an organization owner to use this endpoint.\n\nOAuth app tokens and personal access tokens (classic) need the `admin:org` or `repo` scope to use this endpoint."
      }
    },
    "com.github.orgs#DeleteRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.orgs#Delete": {
      "type": "operation",
      "input": {
        "target": "com.github.orgs#DeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.github.orgs#Forbidden"
        },
        {
          "target": "com.github.orgs#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/orgs/{org}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an organization\n\nDeletes an organization and all its repositories.\n\nThe organization login will be unavailable for 90 days after deletion.\n\nPlease review the Terms of Service regarding account deletion before using this endpoint:\n\nhttps://docs.github.com/site-policy/github-terms/github-terms-of-service"
      }
    },
    "com.github.orgs#CreateArtifactDeploymentRecordRequestStatus": {
      "type": "enum",
      "members": {
        "DEPLOYED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployed"
          }
        },
        "DECOMMISSIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "decommissioned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the artifact. Can be either deployed or decommissioned."
      }
    },
    "com.github.orgs#CreateArtifactDeploymentRecordRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The tags associated with the deployment."
      }
    },
    "com.github.orgs#CreateArtifactDeploymentRecordRequestRuntimeRisksItem": {
      "type": "enum",
      "members": {
        "CRITICAL_RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "critical-resource"
          }
        },
        "INTERNET_EXPOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "internet-exposed"
          }
        },
        "LATERAL_MOVEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lateral-movement"
          }
        },
        "SENSITIVE_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sensitive-data"
          }
        }
      },
      "traits": {}
    },
    "com.github.orgs#CreateArtifactDeploymentRecordRequestRuntimeRisksList": {
      "type": "list",
      "member": {
        "target": "com.github.orgs#CreateArtifactDeploymentRecordRequestRuntimeRisksItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of runtime risks associated with the deployment."
      }
    },
    "com.github.orgs#CreateArtifactDeploymentRecordRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the artifact.",
            "smithy.api#required": {}
          }
        },
        "digest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hex encoded digest of the artifact.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The artifact version."
          }
        },
        "status": {
          "target": "com.github.orgs#CreateArtifactDeploymentRecordRequestStatus",
          "traits": {
            "smithy.api#documentation": "The status of the artifact. Can be either deployed or decommissioned.",
            "smithy.api#required": {}
          }
        },
        "logical_environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The stage of the deployment.",
            "smithy.api#required": {}
          }
        },
        "physical_environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The physical region of the deployment."
          }
        },
        "cluster": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The deployment cluster."
          }
        },
        "deployment_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the deployment represented by the new record. To accommodate differing\ncontainers and namespaces within a cluster, the following format is recommended:\n{namespaceName}-{deploymentName}-{containerName}.\n",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.github.orgs#CreateArtifactDeploymentRecordRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "The tags associated with the deployment."
          }
        },
        "runtime_risks": {
          "target": "com.github.orgs#CreateArtifactDeploymentRecordRequestRuntimeRisksList",
          "traits": {
            "smithy.api#documentation": "A list of runtime risks associated with the deployment."
          }
        },
        "github_repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the GitHub repository associated with the artifact. This should be used\nwhen there are no provenance attestations available for the artifact. The repository\nmust belong to the organization specified in the path parameter.\n\nIf a provenance attestation is available for the artifact, the API will use\nthe repository information from the attestation instead of this parameter."
          }
        },
        "return_records": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the endpoint will return the created or updated record in the response body.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.orgs#ArtifactDeploymentRecord": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "digest": {
          "target": "smithy.api#String"
        },
        "logical_environment": {
          "target": "smithy.api#String"
        },
        "physical_environment": {
          "target": "smithy.api#String"
        },
        "cluster": {
          "target": "smithy.api#String"
        },
        "deployment_name": {
          "target": "smithy.api#String"
        },
        "tags": {
          "target": "com.github.orgs#ArtifactDeploymentRecordTagsMap"
        },
        "runtime_risks": {
          "target": "com.github.orgs#ArtifactDeploymentRecordRuntimeRisksList",
          "traits": {
            "smithy.api#documentation": "A list of runtime risks associated with the deployment."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "attestation_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the provenance attestation associated with the deployment record.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Artifact Metadata Deployment Record"
      }
    },
    "com.github.orgs#ArtifactDeploymentRecordTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.github.orgs#ArtifactDeploymentRecordRuntimeRisksItem": {
      "type": "enum",
      "members": {
        "CRITICAL_RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "critical-resource"
          }
        },
        "INTERNET_EXPOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "internet-exposed"
          }
        },
        "LATERAL_MOVEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lateral-movement"
          }
        },
        "SENSITIVE_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sensitive-data"
          }
        }
      },
      "traits": {}
    },
    "com.github.orgs#ArtifactDeploymentRecordRuntimeRisksList": {
      "type": "list",
      "member": {
        "target": "com.github.orgs#ArtifactDeploymentRecordRuntimeRisksItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of runtime risks associated with the deployment."
      }
    },
    "com.github.orgs#CreateArtifactDeploymentRecordResponseDeploymentRecordsList": {
      "type": "list",
      "member": {
        "target": "com.github.orgs#ArtifactDeploymentRecord"
      },
      "traits": {}
    },
    "com.github.orgs#CreateArtifactDeploymentRecordResponse": {
      "type": "structure",
      "members": {
        "total_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of deployment records created",
            "smithy.api#required": {}
          }
        },
        "deployment_records": {
          "target": "com.github.orgs#CreateArtifactDeploymentRecordResponseDeploymentRecordsList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.orgs#CreateArtifactDeploymentRecord": {
      "type": "operation",
      "input": {
        "target": "com.github.orgs#CreateArtifactDeploymentRecordRequest"
      },
      "output": {
        "target": "com.github.orgs#CreateArtifactDeploymentRecordResponse"
      },
      "errors": [
        {
          "target": "com.github.orgs#Forbidden"
        },
        {
          "target": "com.github.orgs#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/orgs/{org}/artifacts/metadata/deployment-record",
          "code": 200
        },
        "smithy.api#documentation": "Create an artifact deployment record\n\nCreate or update deployment records for an artifact associated\nwith an organization.\nThis endpoint allows you to record information about a specific\nartifact, such as its name, digest, environments, cluster, and\ndeployment.\nThe deployment name has to be uniqe within a cluster (i.e a\ncombination of logical, physical environment and cluster) as it\nidentifies unique deployment.\nMultiple requests for the same combination of logical, physical\nenvironment, cluster and deployment name will only create one\nrecord, successive request will update the existing record.\nThis allows for a stable tracking of a deployment where the actual\ndeployed artifact can change over time."
      }
    },
    "com.github.orgs#SetClusterDeploymentRecordsRequestDeploymentsItemStatus": {
      "type": "enum",
      "members": {
        "DEPLOYED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployed"
          }
        },
        "DECOMMISSIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "decommissioned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The deployment status of the artifact."
      }
    },
    "com.github.orgs#SetClusterDeploymentRecordsRequestDeploymentsItemTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Key-value pairs to tag the deployment record."
      }
    },
    "com.github.orgs#SetClusterDeploymentRecordsRequestDeploymentsItemRuntimeRisksItem": {
      "type": "enum",
      "members": {
        "CRITICAL_RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "critical-resource"
          }
        },
        "INTERNET_EXPOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "internet-exposed"
          }
        },
        "LATERAL_MOVEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lateral-movement"
          }
        },
        "SENSITIVE_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sensitive-data"
          }
        }
      },
      "traits": {}
    },
    "com.github.orgs#SetClusterDeploymentRecordsRequestDeploymentsItemRuntimeRisksList": {
      "type": "list",
      "member": {
        "target": "com.github.orgs#SetClusterDeploymentRecordsRequestDeploymentsItemRuntimeRisksItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of runtime risks associated with the deployment."
      }
    },
    "com.github.orgs#SetClusterDeploymentRecordsRequestDeploymentsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the artifact.",
            "smithy.api#required": {}
          }
        },
        "digest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hex encoded digest of the artifact.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The artifact version."
          }
        },
        "status": {
          "target": "com.github.orgs#SetClusterDeploymentRecordsRequestDeploymentsItemStatus",
          "traits": {
            "smithy.api#documentation": "The deployment status of the artifact."
          }
        },
        "deployment_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the deployment represented by the new record. To accommodate differing\ncontainers and namespaces within a record set, the following format is recommended:\n{namespaceName}-{deploymentName}-{containerName}.\nThe deployment_name must be unique across all entries in the deployments array.\n",
            "smithy.api#required": {}
          }
        },
        "github_repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the GitHub repository associated with the artifact. This should be used\nwhen there are no provenance attestations available for the artifact. The repository\nmust belong to the organization specified in the path parameter.\n\nIf a provenance attestation is available for the artifact, the API will use\nthe repository information from the attestation instead of this parameter."
          }
        },
        "tags": {
          "target": "com.github.orgs#SetClusterDeploymentRecordsRequestDeploymentsItemTagsMap",
          "traits": {
            "smithy.api#documentation": "Key-value pairs to tag the deployment record."
          }
        },
        "runtime_risks": {
          "target": "com.github.orgs#SetClusterDeploymentRecordsRequestDeploymentsItemRuntimeRisksList",
          "traits": {
            "smithy.api#documentation": "A list of runtime risks associated with the deployment."
          }
        }
      },
      "traits": {}
    },
    "com.github.orgs#SetClusterDeploymentRecordsRequestDeploymentsList": {
      "type": "list",
      "member": {
        "target": "com.github.orgs#SetClusterDeploymentRecordsRequestDeploymentsItem"
      },
      "traits": {
        "smithy.api#documentation": "The list of deployments to record."
      }
    },
    "com.github.orgs#SetClusterDeploymentRecordsRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "cluster": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The cluster name."
          }
        },
        "logical_environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The stage of the deployment.",
            "smithy.api#required": {}
          }
        },
        "physical_environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The physical region of the deployment."
          }
        },
        "deployments": {
          "target": "com.github.orgs#SetClusterDeploymentRecordsRequestDeploymentsList",
          "traits": {
            "smithy.api#documentation": "The list of deployments to record.",
            "smithy.api#required": {}
          }
        },
        "partial_success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, deployments associated with repositories the actor can write to are processed\nwhile deployments associated with repositories that cannot be resolved or written to by the actor\nare skipped and reported in the `errors` array. When false (the default), the endpoint returns\nan error if any targeted repository cannot be resolved, the actor lacks write access, or no matching attestation can be found.\n"
          }
        },
        "return_records": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the endpoint will return the set records in the response body\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.orgs#SetClusterDeploymentRecordsResponseDeploymentRecordsList": {
      "type": "list",
      "member": {
        "target": "com.github.orgs#ArtifactDeploymentRecord"
      },
      "traits": {}
    },
    "com.github.orgs#SetClusterDeploymentRecordsResponse": {
      "type": "structure",
      "members": {
        "total_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of deployment records created",
            "smithy.api#required": {}
          }
        },
        "deployment_records": {
          "target": "com.github.orgs#SetClusterDeploymentRecordsResponseDeploymentRecordsList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.orgs#SetClusterDeploymentRecords": {
      "type": "operation",
      "input": {
        "target": "com.github.orgs#SetClusterDeploymentRecordsRequest"
      },
      "output": {
        "target": "com.github.orgs#SetClusterDeploymentRecordsResponse"
      },
      "errors": [
        {
          "target": "com.github.orgs#Forbidden"
        },
        {
          "target": "com.github.orgs#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/orgs/{org}/artifacts/metadata/deployment-record/cluster/{cluster}",
          "code": 200
        },
        "smithy.api#documentation": "Set cluster deployment records\n\nSet deployment records for a given cluster.\nIf proposed records in the 'deployments' field have identical 'cluster', 'logical_environment',\n'physical_environment', and 'deployment_name' values as existing records, the existing records will be updated.\nIf no existing records match, new records will be created.\nNote: Artifacts are uniquely identified by the combination of their repository and digest fields. If two entries in the deployments\narray resolve to the same repository and have identical digest fields but differing name and version fields, the endpoint will use\nthe artifact name and version from the record processed first, since a single artifact (identified by repository and digest) can\nonly have one name and version."
      }
    },
    "com.github.orgs#CreateClusterDeploymentRecordsJobRequestDeploymentsItemStatus": {
      "type": "enum",
      "members": {
        "DEPLOYED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployed"
          }
        },
        "DECOMMISSIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "decommissioned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The deployment status of the artifact."
      }
    },
    "com.github.orgs#CreateClusterDeploymentRecordsJobRequestDeploymentsItemTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Key-value pairs to tag the deployment record."
      }
    },
    "com.github.orgs#CreateClusterDeploymentRecordsJobRequestDeploymentsItemRuntimeRisksItem": {
      "type": "enum",
      "members": {
        "CRITICAL_RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "critical-resource"
          }
        },
        "INTERNET_EXPOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "internet-exposed"
          }
        },
        "LATERAL_MOVEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lateral-movement"
          }
        },
        "SENSITIVE_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sensitive-data"
          }
        }
      },
      "traits": {}
    },
    "com.github.orgs#CreateClusterDeploymentRecordsJobRequestDeploymentsItemRuntimeRisksList": {
      "type": "list",
      "member": {
        "target": "com.github.orgs#CreateClusterDeploymentRecordsJobRequestDeploymentsItemRuntimeRisksItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of runtime risks associated with the deployment."
      }
    },
    "com.github.orgs#CreateClusterDeploymentRecordsJobRequestDeploymentsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the artifact.",
            "smithy.api#required": {}
          }
        },
        "digest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hex encoded digest of the artifact.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The artifact version."
          }
        },
        "status": {
          "target": "com.github.orgs#CreateClusterDeploymentRecordsJobRequestDeploymentsItemStatus",
          "traits": {
            "smithy.api#documentation": "The deployment status of the artifact."
          }
        },
        "deployment_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the deployment represented by the new record.\n",
            "smithy.api#required": {}
          }
        },
        "github_repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the GitHub repository associated with the artifact."
          }
        },
        "tags": {
          "target": "com.github.orgs#CreateClusterDeploymentRecordsJobRequestDeploymentsItemTagsMap",
          "traits": {
            "smithy.api#documentation": "Key-value pairs to tag the deployment record."
          }
        },
        "runtime_risks": {
          "target": "com.github.orgs#CreateClusterDeploymentRecordsJobRequestDeploymentsItemRuntimeRisksList",
          "traits": {
            "smithy.api#documentation": "A list of runtime risks associated with the deployment."
          }
        }
      },
      "traits": {}
    },
    "com.github.orgs#CreateClusterDeploymentRecordsJobRequestDeploymentsList": {
      "type": "list",
      "member": {
        "target": "com.github.orgs#CreateClusterDeploymentRecordsJobRequestDeploymentsItem"
      },
      "traits": {
        "smithy.api#documentation": "The list of deployments to record."
      }
    },
    "com.github.orgs#CreateClusterDeploymentRecordsJobRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "cluster": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The cluster name."
          }
        },
        "logical_environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The stage of the deployment.",
            "smithy.api#required": {}
          }
        },
        "physical_environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The physical region of the deployment."
          }
        },
        "deployments": {
          "target": "com.github.orgs#CreateClusterDeploymentRecordsJobRequestDeploymentsList",
          "traits": {
            "smithy.api#documentation": "The list of deployments to record.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.orgs#CreateClusterDeploymentRecordsJob": {
      "type": "operation",
      "input": {
        "target": "com.github.orgs#CreateClusterDeploymentRecordsJobRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.github.orgs#BadRequest"
        },
        {
          "target": "com.github.orgs#Forbidden"
        },
        {
          "target": "com.github.orgs#NotFound"
        },
        {
          "target": "com.github.orgs#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/orgs/{org}/artifacts/metadata/deployment-record/cluster/{cluster}/jobs",
          "code": 200
        },
        "smithy.api#documentation": "Create a cluster deployment records job\n\nCreate a background job to set deployment records for a given cluster.\nPerforms validation and permission checks synchronously, returning rejected\ndeployments immediately, then enqueues a background job for the actual\ndeployment updates. Use the companion GET endpoint to poll for job status."
      }
    },
    "com.github.orgs#GetClusterDeploymentRecordsJobRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "cluster": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The cluster name."
          }
        },
        "job_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the job."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.orgs#GetClusterDeploymentRecordsJobResponseStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "processing"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current status of the job."
      }
    },
    "com.github.orgs#GetClusterDeploymentRecordsJobResponseErrorsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Processing errors (only present when completed or failed)."
      }
    },
    "com.github.orgs#GetClusterDeploymentRecordsJobResponse": {
      "type": "structure",
      "members": {
        "job_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the job.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.github.orgs#GetClusterDeploymentRecordsJobResponseStatus",
          "traits": {
            "smithy.api#documentation": "The current status of the job.",
            "smithy.api#required": {}
          }
        },
        "started_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the job started processing (only present when processing, completed, or failed)."
          }
        },
        "total_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of records successfully mutated (only present when completed)."
          }
        },
        "errors": {
          "target": "com.github.orgs#GetClusterDeploymentRecordsJobResponseErrorsList",
          "traits": {
            "smithy.api#documentation": "Processing errors (only present when completed or failed)."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.orgs#GetClusterDeploymentRecordsJob": {
      "type": "operation",
      "input": {
        "target": "com.github.orgs#GetClusterDeploymentRecordsJobRequest"
      },
      "output": {
        "target": "com.github.orgs#GetClusterDeploymentRecordsJobResponse"
      },
      "errors": [
        {
          "target": "com.github.orgs#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/artifacts/metadata/deployment-record/cluster/{cluster}/jobs/{job_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get cluster deployment records job status\n\nGet the status and results of a previously created cluster deployment records job."
      }
    },
    "com.github.orgs#CreateArtifactStorageRecordRequestStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "EOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eol"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the artifact (e.g., active, inactive)."
      }
    },
    "com.github.orgs#CreateArtifactStorageRecordRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the artifact.",
            "smithy.api#required": {}
          }
        },
        "digest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The digest of the artifact (algorithm:hex-encoded-digest).",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The artifact version."
          }
        },
        "artifact_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL where the artifact is stored."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path of the artifact."
          }
        },
        "registry_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The base URL of the artifact registry.",
            "smithy.api#required": {}
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The repository name within the registry."
          }
        },
        "status": {
          "target": "com.github.orgs#CreateArtifactStorageRecordRequestStatus",
          "traits": {
            "smithy.api#documentation": "The status of the artifact (e.g., active, inactive)."
          }
        },
        "github_repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the GitHub repository associated with the artifact. This should be used\nwhen there are no provenance attestations available for the artifact. The repository\nmust belong to the organization specified in the path parameter.\n\nIf a provenance attestation is available for the artifact, the API will use\nthe repository information from the attestation instead of this parameter."
          }
        },
        "return_records": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the endpoint will return the created record in the response body.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.orgs#CreateArtifactStorageRecordResponseStorageRecordsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "digest": {
          "target": "smithy.api#String"
        },
        "artifact_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "registry_url": {
          "target": "smithy.api#String"
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "smithy.api#String"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.github.orgs#CreateArtifactStorageRecordResponseStorageRecordsList": {
      "type": "list",
      "member": {
        "target": "com.github.orgs#CreateArtifactStorageRecordResponseStorageRecordsItem"
      },
      "traits": {}
    },
    "com.github.orgs#CreateArtifactStorageRecordResponse": {
      "type": "structure",
      "members": {
        "total_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storage_records": {
          "target": "com.github.orgs#CreateArtifactStorageRecordResponseStorageRecordsList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.orgs#CreateArtifactStorageRecord": {
      "type": "operation",
      "input": {
        "target": "com.github.orgs#CreateArtifactStorageRecordRequest"
      },
      "output": {
        "target": "com.github.orgs#CreateArtifactStorageRecordResponse"
      },
      "errors": [
        {
          "target": "com.github.orgs#Forbidden"
        },
        {
          "target": "com.github.orgs#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/orgs/{org}/artifacts/metadata/storage-record",
          "code": 200
        },
        "smithy.api#documentation": "Create artifact metadata storage record\n\nCreate metadata storage records for artifacts associated with an organization.\nThis endpoint will create a new artifact storage record on behalf of any artifact matching the provided digest and\nassociated with a repository owned by the organization."
      }
    },
    "com.github.orgs#ListArtifactDeploymentRecordsRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "subject_digest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The SHA256 digest of the artifact, in the form `sha256:HEX_DIGEST`."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.orgs#ListArtifactDeploymentRecordsResponseDeploymentRecordsList": {
      "type": "list",
      "member": {
        "target": "com.github.orgs#ArtifactDeploymentRecord"
      },
      "traits": {}
    },
    "com.github.orgs#ListArtifactDeploymentRecordsResponse": {
      "type": "structure",
      "members": {
        "total_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of deployment records for this digest and organization"
          }
        },
        "deployment_records": {
          "target": "com.github.orgs#ListArtifactDeploymentRecordsResponseDeploymentRecordsList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.orgs#ListArtifactDeploymentRecords": {
      "type": "operation",
      "input": {
        "target": "com.github.orgs#ListArtifactDeploymentRecordsRequest"
      },
      "output": {
        "target": "com.github.orgs#ListArtifactDeploymentRecordsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/artifacts/{subject_digest}/metadata/deployment-records",
          "code": 200
        },
        "smithy.api#documentation": "List artifact deployment records\n\nList deployment records for an artifact metadata associated with an organization."
      }
    },
    "com.github.orgs#ListArtifactStorageRecordsRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "subject_digest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The parameter should be set to the attestation's subject's SHA256 digest, in the form `sha256:HEX_DIGEST`."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.orgs#ListArtifactStorageRecordsResponseStorageRecordsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "digest": {
          "target": "smithy.api#String"
        },
        "artifact_url": {
          "target": "smithy.api#String"
        },
        "registry_url": {
          "target": "smithy.api#String"
        },
        "repository": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#String"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.github.orgs#ListArtifactStorageRecordsResponseStorageRecordsList": {
      "type": "list",
      "member": {
        "target": "com.github.orgs#ListArtifactStorageRecordsResponseStorageRecordsItem"
      },
      "traits": {}
    },
    "com.github.orgs#ListArtifactStorageRecordsResponse": {
      "type": "structure",
      "members": {
        "total_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of storage records for this digest and organization"
          }
        },
        "storage_records": {
          "target": "com.github.orgs#ListArtifactStorageRecordsResponseStorageRecordsList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.orgs#ListArtifactStorageRecords": {
      "type": "operation",
      "input": {
        "target": "com.github.orgs#ListArtifactStorageRecordsRequest"
      },
      "output": {
        "target": "com.github.orgs#ListArtifactStorageRecordsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/artifacts/{subject_digest}/metadata/storage-records",
          "code": 200
        },
        "smithy.api#documentation": "List artifact storage records\n\nList artifact storage records with a given subject digest for repositories owned by an organization.\n\nResults are filtered by the authenticated user's permissions; records for repositories the user cannot read are omitted. Fine-grained access tokens require the `artifact-metadata:read` permission."
      }
    },
    "com.github.orgs#ListAttestationsBulkRequestSubjectDigestsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of subject digests to fetch attestations for."
      }
    },
    "com.github.orgs#ListAttestationsBulkRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "The number of results per page (max 100). For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "A cursor, as given in the [Link header](https://docs.github.com/rest/guides/using-pagination-in-the-rest-api#using-link-headers). If specified, the query only searches for results before this cursor. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "A cursor, as given in the [Link header](https://docs.github.com/rest/guides/using-pagination-in-the-rest-api#using-link-headers). If specified, the query only searches for results after this cursor. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "subject_digests": {
          "target": "com.github.orgs#ListAttestationsBulkRequestSubjectDigestsList",
          "traits": {
            "smithy.api#documentation": "List of subject digests to fetch attestations for.",
            "smithy.api#required": {}
          }
        },
        "predicate_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional filter for fetching attestations with a given predicate type.\nThis option accepts `provenance`, `sbom`, `release`, or freeform text\nfor custom predicate types."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.orgs#ListAttestationsBulkResponseAttestationsSubjectDigestsValueItemBundleVerificationMaterialMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.github.orgs#ListAttestationsBulkResponseAttestationsSubjectDigestsValueItemBundleDsseEnvelopeMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.github.orgs#ListAttestationsBulkResponseAttestationsSubjectDigestsValueItemBundle": {
      "type": "structure",
      "members": {
        "mediaType": {
          "target": "smithy.api#String"
        },
        "verificationMaterial": {
          "target": "com.github.orgs#ListAttestationsBulkResponseAttestationsSubjectDigestsValueItemBundleVerificationMaterialMap"
        },
        "dsseEnvelope": {
          "target": "com.github.orgs#ListAttestationsBulkResponseAttestationsSubjectDigestsValueItemBundleDsseEnvelopeMap"
        }
      },
      "traits": {
        "smithy.api#documentation": "The bundle of the attestation."
      }
    },
    "com.github.orgs#ListAttestationsBulkResponseAttestationsSubjectDigestsValueItem": {
      "type": "structure",
      "members": {
        "bundle": {
          "target": "com.github.orgs#ListAttestationsBulkResponseAttestationsSubjectDigestsValueItemBundle",
          "traits": {
            "smithy.api#documentation": "The bundle of the attestation."
          }
        },
        "repository_id": {
          "target": "smithy.api#Integer"
        },
        "bundle_url": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.github.orgs#ListAttestationsBulkResponseAttestationsSubjectDigestsValueList": {
      "type": "list",
      "member": {
        "target": "com.github.orgs#ListAttestationsBulkResponseAttestationsSubjectDigestsValueItem"
      },
      "traits": {}
    },
    "com.github.orgs#ListAttestationsBulkResponseAttestationsSubjectDigestsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.github.orgs#ListAttestationsBulkResponseAttestationsSubjectDigestsValueList"
      },
      "traits": {
        "smithy.api#documentation": "Mapping of subject digest to bundles."
      }
    },
    "com.github.orgs#ListAttestationsBulkResponsePageInfo": {
      "type": "structure",
      "members": {
        "has_next": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether there is a next page."
          }
        },
        "has_previous": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether there is a previous page."
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cursor to the next page."
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cursor to the previous page."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the current page."
      }
    },
    "com.github.orgs#ListAttestationsBulkResponse": {
      "type": "structure",
      "members": {
        "attestations_subject_digests": {
          "target": "com.github.orgs#ListAttestationsBulkResponseAttestationsSubjectDigestsMap",
          "traits": {
            "smithy.api#documentation": "Mapping of subject digest to bundles."
          }
        },
        "page_info": {
          "target": "com.github.orgs#ListAttestationsBulkResponsePageInfo",
          "traits": {
            "smithy.api#documentation": "Information about the current page."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.orgs#ListAttestationsBulk": {
      "type": "operation",
      "input": {
        "target": "com.github.orgs#ListAttestationsBulkRequest"
      },
      "output": {
        "target": "com.github.orgs#ListAttestationsBulkResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/orgs/{org}/attestations/bulk-list",
          "code": 200
        },
        "smithy.api#documentation": "List attestations by bulk subject digests\n\nList a collection of artifact attestations associated with any entry in a list of subject digests owned by an organization.\n\nThe collection of attestations returned by this endpoint is filtered according to the authenticated user's permissions; if the authenticated user cannot read a repository, the attestations associated with that repository will not be included in the response. In addition, when using a fine-grained access token the `attestations:read` permission is required.\n\n**Please note:** in order to offer meaningful security benefits, an attestation's signature and timestamps **must** be cryptographically verified, and the identity of the attestation signer **must** be validated. Attestations can be verified using the [GitHub CLI `attestation verify` command](https://cli.github.com/manual/gh_attestation_verify). For more information, see [our guide on how to use artifact attestations to establish a build's provenance](https://docs.github.com/actions/security-guides/using-artifact-attestations-to-establish-provenance-for-builds)."
      }
    },
    "com.github.orgs#DeleteAttestationsBulkRequestBodyCase0SubjectDigestsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of subject digests associated with the artifact attestations to delete."
      }
    },
    "com.github.orgs#DeleteAttestationsBulkRequestBodyCase0": {
      "type": "structure",
      "members": {
        "subject_digests": {
          "target": "com.github.orgs#DeleteAttestationsBulkRequestBodyCase0SubjectDigestsList",
          "traits": {
            "smithy.api#documentation": "List of subject digests associated with the artifact attestations to delete.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.orgs#DeleteAttestationsBulkRequestBodyCase1AttestationIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "List of unique IDs associated with the artifact attestations to delete."
      }
    },
    "com.github.orgs#DeleteAttestationsBulkRequestBodyCase1": {
      "type": "structure",
      "members": {
        "attestation_ids": {
          "target": "com.github.orgs#DeleteAttestationsBulkRequestBodyCase1AttestationIdsList",
          "traits": {
            "smithy.api#documentation": "List of unique IDs associated with the artifact attestations to delete.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.orgs#DeleteAttestationsBulkRequestBody": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.github.orgs#DeleteAttestationsBulkRequestBodyCase0"
        },
        "Case1": {
          "target": "com.github.orgs#DeleteAttestationsBulkRequestBodyCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "The request body must include either `subject_digests` or `attestation_ids`, but not both."
      }
    },
    "com.github.orgs#DeleteAttestationsBulkRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "body": {
          "target": "com.github.orgs#DeleteAttestationsBulkRequestBody",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.orgs#DeleteAttestationsBulk": {
      "type": "operation",
      "input": {
        "target": "com.github.orgs#DeleteAttestationsBulkRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.github.orgs#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/orgs/{org}/attestations/delete-request",
          "code": 200
        },
        "smithy.api#documentation": "Delete attestations in bulk\n\nDelete artifact attestations in bulk by either subject digests or unique ID."
      }
    },
    "com.github.orgs#DeleteAttestationsBySubjectDigestRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "subject_digest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subject Digest"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.orgs#DeleteAttestationsBySubjectDigest": {
      "type": "operation",
      "input": {
        "target": "com.github.orgs#DeleteAttestationsBySubjectDigestRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.github.orgs#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/orgs/{org}/attestations/digest/{subject_digest}",
          "code": 200
        },
        "smithy.api#documentation": "Delete attestations by subject digest\n\nDelete an artifact attestation by subject digest."
      }
    },
    "com.github.orgs#ListAttestationRepositoriesRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "The number of results per page (max 100). For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "A cursor, as given in the [Link header](https://docs.github.com/rest/guides/using-pagination-in-the-rest-api#using-link-headers). If specified, the query only searches for results before this cursor. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "A cursor, as given in the [Link header](https://docs.github.com/rest/guides/using-pagination-in-the-rest-api#using-link-headers). If specified, the query only searches for results after this cursor. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "predicate_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "predicate_type",
            "smithy.api#documentation": "Optional filter for fetching attestations with a given predicate type.\nThis option accepts `provenance`, `sbom`, `release`, or freeform text\nfor custom predicate types."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.orgs#ListAttestationRepositoriesResponseBodyItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.github.orgs#ListAttestationRepositoriesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.github.orgs#ListAttestationRepositoriesResponseBodyItem"
      },
      "traits": {}
    },
    "com.github.orgs#ListAttestationRepositoriesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.github.orgs#ListAttestationRepositoriesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.orgs#ListAttestationRepositories": {
      "type": "operation",
      "input": {
        "target": "com.github.orgs#ListAttestationRepositoriesRequest"
      },
      "output": {
        "target": "com.github.orgs#ListAttestationRepositoriesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/attestations/repositories",
          "code": 200
        },
        "smithy.api#documentation": "List attestation repositories\n\nList repositories owned by the provided organization that have created at least one attested artifact\nResults will be sorted in ascending order by repository ID"
      }
    },
    "com.github.orgs#DeleteAttestationsByIdRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "attestation_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Attestation ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.orgs#DeleteAttestationsById": {
      "type": "operation",
      "input": {
        "target": "com.github.orgs#DeleteAttestationsByIdRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.github.orgs#Forbidden"
        },
        {
          "target": "com.github.orgs#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/orgs/{org}/attestations/{attestation_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete attestations by ID\n\nDelete an artifact attestation by unique ID that is associated with a repository owned by an org."
      }
    },
    "com.github.orgs#ListAttestationsRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
[...]
