{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.github.pulls#ListRequestState": {
      "type": "enum",
      "members": {
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        },
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "closed"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      },
      "traits": {}
    },
    "com.github.pulls#ListRequestSort": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated"
          }
        },
        "POPULARITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "popularity"
          }
        },
        "LONG_RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "long-running"
          }
        }
      },
      "traits": {}
    },
    "com.github.pulls#ListRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.github.pulls#ListRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The account owner of the repository. The name is not case sensitive."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the repository without the `.git` extension. The name is not case sensitive."
          }
        },
        "state": {
          "target": "com.github.pulls#ListRequestState",
          "traits": {
            "smithy.api#httpQuery": "state",
            "smithy.api#documentation": "Either `open`, `closed`, or `all` to filter by state."
          }
        },
        "head": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "head",
            "smithy.api#documentation": "Filter pulls by head user or head organization and branch name in the format of `user:ref-name` or `organization:ref-name`. For example: `github:new-script-format` or `octocat:test-branch`."
          }
        },
        "base": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "base",
            "smithy.api#documentation": "Filter pulls by base branch name. Example: `gh-pages`."
          }
        },
        "sort": {
          "target": "com.github.pulls#ListRequestSort",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "What to sort results by. `popularity` will sort by the number of comments. `long-running` will sort by date created and will limit the results to pull requests that have been open for more than a month and have had activity within the past month."
          }
        },
        "direction": {
          "target": "com.github.pulls#ListRequestDirection",
          "traits": {
            "smithy.api#httpQuery": "direction",
            "smithy.api#documentation": "The direction of the sort. Default: `desc` when sort is `created` or sort is not specified, otherwise `asc`."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "The number of results per page (max 100). For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "The page number of the results to fetch. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.pulls#PullRequestSimple": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "diff_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "patch_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "issue_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "commits_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "review_comments_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "review_comment_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "comments_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "statuses_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "com.github.pulls#NullableSimpleUser",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "labels": {
          "target": "com.github.pulls#PullRequestSimpleLabelsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "milestone": {
          "target": "com.github.pulls#NullableMilestone",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "active_lock_reason": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "closed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "merged_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "merge_commit_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "assignee": {
          "target": "com.github.pulls#NullableSimpleUser",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "assignees": {
          "target": "com.github.pulls#PullRequestSimpleAssigneesList"
        },
        "requested_reviewers": {
          "target": "com.github.pulls#PullRequestSimpleRequestedReviewersList"
        },
        "requested_teams": {
          "target": "com.github.pulls#PullRequestSimpleRequestedTeamsList"
        },
        "head": {
          "target": "com.github.pulls#PullRequestSimpleHead",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "base": {
          "target": "com.github.pulls#PullRequestSimpleBase",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "_links": {
          "target": "com.github.pulls#PullRequestSimpleLinks",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "author_association": {
          "target": "com.github.pulls#AuthorAssociation",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "auto_merge": {
          "target": "com.github.pulls#AutoMerge",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "stack": {
          "target": "com.github.pulls#PullRequestStack",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "draft": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether or not the pull request is a draft."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pull Request Simple"
      }
    },
    "com.github.pulls#NullableSimpleUser": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "login": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatar_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gravatar_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "followers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "following_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gists_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "starred_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subscriptions_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "organizations_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repos_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "received_events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "site_admin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "starred_at": {
          "target": "smithy.api#String"
        },
        "user_view_type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "A GitHub user."
      }
    },
    "com.github.pulls#PullRequestSimpleLabelsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "color": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "default": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.pulls#PullRequestSimpleLabelsList": {
      "type": "list",
      "member": {
        "target": "com.github.pulls#PullRequestSimpleLabelsItem"
      },
      "traits": {}
    },
    "com.github.pulls#NullableMilestone": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "labels_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of the milestone.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.github.pulls#NullableMilestoneState",
          "traits": {
            "smithy.api#documentation": "The state of the milestone.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title of the milestone.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "creator": {
          "target": "com.github.pulls#NullableSimpleUser",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "open_issues": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "closed_issues": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "closed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "due_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of related issues and pull requests."
      }
    },
    "com.github.pulls#NullableMilestoneState": {
      "type": "enum",
      "members": {
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        },
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "closed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of the milestone."
      }
    },
    "com.github.pulls#SimpleUser": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "login": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatar_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gravatar_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "followers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "following_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gists_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "starred_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subscriptions_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "organizations_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repos_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "received_events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "site_admin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "starred_at": {
          "target": "smithy.api#String"
        },
        "user_view_type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "A GitHub user."
      }
    },
    "com.github.pulls#PullRequestSimpleAssigneesList": {
      "type": "list",
      "member": {
        "target": "com.github.pulls#SimpleUser"
      },
      "traits": {}
    },
    "com.github.pulls#PullRequestSimpleRequestedReviewersList": {
      "type": "list",
      "member": {
        "target": "com.github.pulls#SimpleUser"
      },
      "traits": {}
    },
    "com.github.pulls#Team": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "privacy": {
          "target": "smithy.api#String"
        },
        "notification_setting": {
          "target": "smithy.api#String"
        },
        "permission": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.github.pulls#TeamPermissions"
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "members_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repositories_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.github.pulls#TeamType",
          "traits": {
            "smithy.api#documentation": "The ownership type of the team",
            "smithy.api#required": {}
          }
        },
        "access_source": {
          "target": "com.github.pulls#TeamAccessSource",
          "traits": {
            "smithy.api#documentation": "How the team's access to the repository was granted. This property is only\npresent when the team is returned in a repository context, such as\n`GET /repos/{owner}/{repo}/teams`."
          }
        },
        "organization_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the organization to which this team belongs"
          }
        },
        "enterprise_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the enterprise to which this team belongs"
          }
        },
        "parent": {
          "target": "com.github.pulls#NullableTeamSimple",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Groups of organization members that gives permissions on specified repositories."
      }
    },
    "com.github.pulls#TeamPermissions": {
      "type": "structure",
      "members": {
        "pull": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "triage": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "push": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "maintain": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "admin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.pulls#TeamType": {
      "type": "enum",
      "members": {
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ownership type of the team"
      }
    },
    "com.github.pulls#TeamAccessSource": {
      "type": "enum",
      "members": {
        "DIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "direct"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How the team's access to the repository was granted. This property is only\npresent when the team is returned in a repository context, such as\n`GET /repos/{owner}/{repo}/teams`."
      }
    },
    "com.github.pulls#NullableTeamSimple": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the team",
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL for the team",
            "smithy.api#required": {}
          }
        },
        "members_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the team",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the team",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "permission": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Permission that the team will have for its repositories",
            "smithy.api#required": {}
          }
        },
        "privacy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The level of privacy this team should have"
          }
        },
        "notification_setting": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The notification setting the team has set"
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repositories_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ldap_dn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Distinguished Name (DN) that team maps to within LDAP environment"
          }
        },
        "type": {
          "target": "com.github.pulls#NullableTeamSimpleType",
          "traits": {
            "smithy.api#documentation": "The ownership type of the team",
            "smithy.api#required": {}
          }
        },
        "organization_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the organization to which this team belongs"
          }
        },
        "enterprise_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the enterprise to which this team belongs"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Groups of organization members that gives permissions on specified repositories."
      }
    },
    "com.github.pulls#NullableTeamSimpleType": {
      "type": "enum",
      "members": {
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ownership type of the team"
      }
    },
    "com.github.pulls#PullRequestSimpleRequestedTeamsList": {
      "type": "list",
      "member": {
        "target": "com.github.pulls#Team"
      },
      "traits": {}
    },
    "com.github.pulls#Repository": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the repository",
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the repository.",
            "smithy.api#required": {}
          }
        },
        "full_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "license": {
          "target": "com.github.pulls#NullableLicenseSimple",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "forks": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.github.pulls#RepositoryPermissions"
        },
        "owner": {
          "target": "com.github.pulls#SimpleUser",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the repository is private or public.",
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "fork": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "archive_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "assignees_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "blobs_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branches_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "collaborators_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "comments_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "commits_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "compare_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "contents_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "contributors_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deployments_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "downloads_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "forks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "git_commits_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "git_refs_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "git_tags_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "git_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "issue_comment_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "issue_events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "issues_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "keys_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "labels_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "languages_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "merges_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "milestones_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "notifications_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pulls_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "releases_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ssh_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "stargazers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "statuses_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subscribers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subscription_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "teams_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "trees_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "clone_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mirror_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "hooks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "svn_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "homepage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "forks_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "stargazers_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "watchers_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The size of the repository, in kilobytes. Size is calculated hourly. When a repository is initially created, the size is 0.",
            "smithy.api#required": {}
          }
        },
        "default_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default branch of the repository.",
            "smithy.api#required": {}
          }
        },
        "open_issues_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "is_template": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this repository acts as a template that can be used to generate new repositories."
          }
        },
        "topics": {
          "target": "com.github.pulls#RepositoryTopicsList"
        },
        "has_issues": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether issues are enabled.",
            "smithy.api#required": {}
          }
        },
        "has_projects": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether projects are enabled.",
            "smithy.api#required": {}
          }
        },
        "has_wiki": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the wiki is enabled.",
            "smithy.api#required": {}
          }
        },
        "has_pages": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_downloads": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether downloads are enabled.",
            "smithy.api#required": {}
          }
        },
        "has_discussions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether discussions are enabled."
          }
        },
        "has_pull_requests": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether pull requests are enabled."
          }
        },
        "pull_request_creation_policy": {
          "target": "com.github.pulls#RepositoryPullRequestCreationPolicy",
          "traits": {
            "smithy.api#documentation": "The policy controlling who can create pull requests: all or collaborators_only."
          }
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the repository is archived.",
            "smithy.api#required": {}
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Returns whether or not this repository disabled.",
            "smithy.api#required": {}
          }
        },
        "visibility": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The repository visibility: public, private, or internal."
          }
        },
        "pushed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "allow_rebase_merge": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to allow rebase merges for pull requests."
          }
        },
        "temp_clone_token": {
          "target": "smithy.api#String"
        },
        "allow_squash_merge": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to allow squash merges for pull requests."
          }
        },
        "allow_auto_merge": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to allow Auto-merge to be used on pull requests."
          }
        },
        "delete_branch_on_merge": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to delete head branches when pull requests are merged"
          }
        },
        "allow_update_branch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not a pull request head branch that is behind its base branch can always be updated even if it is not required to be up to date before merging."
          }
        },
        "use_squash_pr_title_as_default": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a squash merge commit can use the pull request title as default. **This property is closing down. Please use `squash_merge_commit_title` instead."
          }
        },
        "squash_merge_commit_title": {
          "target": "com.github.pulls#RepositorySquashMergeCommitTitle",
          "traits": {
            "smithy.api#documentation": "The default value for a squash merge commit title:\n\n- `PR_TITLE` - default to the pull request's title.\n- `COMMIT_OR_PR_TITLE` - default to the commit's title (if only one commit) or the pull request's title (when more than one commit)."
          }
        },
        "squash_merge_commit_message": {
          "target": "com.github.pulls#RepositorySquashMergeCommitMessage",
          "traits": {
            "smithy.api#documentation": "The default value for a squash merge commit message:\n\n- `PR_BODY` - default to the pull request's body.\n- `COMMIT_MESSAGES` - default to the branch's commit messages.\n- `BLANK` - default to a blank commit message."
          }
        },
        "merge_commit_title": {
          "target": "com.github.pulls#RepositoryMergeCommitTitle",
          "traits": {
            "smithy.api#documentation": "The default value for a merge commit title.\n\n- `PR_TITLE` - default to the pull request's title.\n- `MERGE_MESSAGE` - default to the classic title for a merge message (e.g., Merge pull request #123 from branch-name)."
          }
        },
        "merge_commit_message": {
          "target": "com.github.pulls#RepositoryMergeCommitMessage",
          "traits": {
            "smithy.api#documentation": "The default value for a merge commit message.\n\n- `PR_TITLE` - default to the pull request's title.\n- `PR_BODY` - default to the pull request's body.\n- `BLANK` - default to a blank commit message."
          }
        },
        "allow_merge_commit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to allow merge commits for pull requests."
          }
        },
        "allow_forking": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to allow forking this repo"
          }
        },
        "web_commit_signoff_required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to require contributors to sign off on web-based commits"
          }
        },
        "open_issues": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "watchers": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "master_branch": {
          "target": "smithy.api#String"
        },
        "starred_at": {
          "target": "smithy.api#String"
        },
        "anonymous_access_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether anonymous git access is enabled for this repository"
          }
        },
        "code_search_index_status": {
          "target": "com.github.pulls#RepositoryCodeSearchIndexStatus",
          "traits": {
            "smithy.api#documentation": "The status of the code search index for this repository"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A repository on GitHub."
      }
    },
    "com.github.pulls#NullableLicenseSimple": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "spdx_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "License Simple"
      }
    },
    "com.github.pulls#RepositoryPermissions": {
      "type": "structure",
      "members": {
        "admin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pull": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "triage": {
          "target": "smithy.api#Boolean"
        },
        "push": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "maintain": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.github.pulls#RepositoryTopicsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.github.pulls#RepositoryPullRequestCreationPolicy": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "COLLABORATORS_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "collaborators_only"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The policy controlling who can create pull requests: all or collaborators_only."
      }
    },
    "com.github.pulls#RepositorySquashMergeCommitTitle": {
      "type": "enum",
      "members": {
        "PR_TITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PR_TITLE"
          }
        },
        "COMMIT_OR_PR_TITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMIT_OR_PR_TITLE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The default value for a squash merge commit title:\n\n- `PR_TITLE` - default to the pull request's title.\n- `COMMIT_OR_PR_TITLE` - default to the commit's title (if only one commit) or the pull request's title (when more than one commit)."
      }
    },
    "com.github.pulls#RepositorySquashMergeCommitMessage": {
      "type": "enum",
      "members": {
        "PR_BODY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PR_BODY"
          }
        },
        "COMMIT_MESSAGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMIT_MESSAGES"
          }
        },
        "BLANK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLANK"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The default value for a squash merge commit message:\n\n- `PR_BODY` - default to the pull request's body.\n- `COMMIT_MESSAGES` - default to the branch's commit messages.\n- `BLANK` - default to a blank commit message."
      }
    },
    "com.github.pulls#RepositoryMergeCommitTitle": {
      "type": "enum",
      "members": {
        "PR_TITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PR_TITLE"
          }
        },
        "MERGE_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MERGE_MESSAGE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The default value for a merge commit title.\n\n- `PR_TITLE` - default to the pull request's title.\n- `MERGE_MESSAGE` - default to the classic title for a merge message (e.g., Merge pull request #123 from branch-name)."
      }
    },
    "com.github.pulls#RepositoryMergeCommitMessage": {
      "type": "enum",
      "members": {
        "PR_BODY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PR_BODY"
          }
        },
        "PR_TITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PR_TITLE"
          }
        },
        "BLANK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLANK"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The default value for a merge commit message.\n\n- `PR_TITLE` - default to the pull request's title.\n- `PR_BODY` - default to the pull request's body.\n- `BLANK` - default to a blank commit message."
      }
    },
    "com.github.pulls#RepositoryCodeSearchIndexStatus": {
      "type": "structure",
      "members": {
        "lexical_search_ok": {
          "target": "smithy.api#Boolean"
        },
        "lexical_commit_sha": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the code search index for this repository"
      }
    },
    "com.github.pulls#PullRequestSimpleHead": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "com.github.pulls#Repository",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "com.github.pulls#NullableSimpleUser",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.pulls#PullRequestSimpleBase": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "com.github.pulls#Repository",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "com.github.pulls#NullableSimpleUser",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.pulls#Link": {
      "type": "structure",
      "members": {
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Hypermedia Link"
      }
    },
    "com.github.pulls#PullRequestSimpleLinks": {
      "type": "structure",
      "members": {
        "comments": {
          "target": "com.github.pulls#Link",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "commits": {
          "target": "com.github.pulls#Link",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "statuses": {
          "target": "com.github.pulls#Link",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html": {
          "target": "com.github.pulls#Link",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "issue": {
          "target": "com.github.pulls#Link",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "review_comments": {
          "target": "com.github.pulls#Link",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "review_comment": {
          "target": "com.github.pulls#Link",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "self": {
          "target": "com.github.pulls#Link",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.pulls#AuthorAssociation": {
      "type": "enum",
      "members": {
        "COLLABORATOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLLABORATOR"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTRIBUTOR"
          }
        },
        "FIRST_TIMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIRST_TIMER"
          }
        },
        "FIRST_TIME_CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIRST_TIME_CONTRIBUTOR"
          }
        },
        "MANNEQUIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANNEQUIN"
          }
        },
        "MEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBER"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNER"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How the author is associated with the repository."
      }
    },
    "com.github.pulls#AutoMerge": {
      "type": "structure",
      "members": {
        "enabled_by": {
          "target": "com.github.pulls#SimpleUser",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "merge_method": {
          "target": "com.github.pulls#AutoMergeMergeMethod",
          "traits": {
            "smithy.api#documentation": "The merge method to use.",
            "smithy.api#required": {}
          }
        },
        "commit_title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title for the merge commit message.",
            "smithy.api#required": {}
          }
        },
        "commit_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Commit message for the merge commit.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of auto merging a pull request."
      }
    },
    "com.github.pulls#AutoMergeMergeMethod": {
      "type": "enum",
      "members": {
        "MERGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "merge"
          }
        },
        "SQUASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "squash"
          }
        },
        "REBASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rebase"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The merge method to use."
      }
    },
    "com.github.pulls#PullRequestStack": {
      "type": "structure",
      "members": {
        "base": {
          "target": "com.github.pulls#PullRequestStackBase",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of pull requests in the stack."
          }
        },
        "position": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The one-based position of this pull request within the stack, where 1 is the bottom of the stack."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the stack that this pull request belongs to."
          }
        },
        "number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of the stack that this pull request belongs to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The stack information associated with a pull request."
      }
    },
    "com.github.pulls#PullRequestStackBase": {
      "type": "structure",
      "members": {
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The base ref of the stack this pull request belongs to.",
            "smithy.api#required": {}
          }
        },
        "sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The base SHA of the stack this pull request belongs to.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.pulls#ListResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.github.pulls#PullRequestSimple"
      },
      "traits": {}
    },
    "com.github.pulls#ListResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.github.pulls#ListResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.pulls#List": {
      "type": "operation",
      "input": {
        "target": "com.github.pulls#ListRequest"
      },
      "output": {
        "target": "com.github.pulls#ListResponse"
      },
      "errors": [
        {
          "target": "com.github.pulls#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/repos/{owner}/{repo}/pulls",
          "code": 200
        },
        "smithy.api#documentation": "List pull requests\n\nLists pull requests in a specified repository.\n\nDraft pull requests are available in public repositories with GitHub\nFree and GitHub Free for organizations, GitHub Pro, and legacy per-repository billing\nplans, and in public and private repositories with GitHub Team and GitHub Enterprise\nCloud. For more information, see [GitHub's products](https://docs.github.com/github/getting-started-with-github/githubs-products)\nin the GitHub Help documentation.\n\nThis endpoint supports the following custom media types. For more information, see \"[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types).\"\n\n- **`application/vnd.github.raw+json`**: Returns the raw markdown body. Response will include `body`. This is the default if you do not pass any specific media type.\n- **`application/vnd.github.text+json`**: Returns a text only representation of the markdown body. Response will include `body_text`.\n- **`application/vnd.github.html+json`**: Returns HTML rendered from the body's markdown. Response will include `body_html`.\n- **`application/vnd.github.full+json`**: Returns raw, text, and HTML representations. Response will include `body`, `body_text`, and `body_html`."
      }
    },
    "com.github.pulls#CreateRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The account owner of the repository. The name is not case sensitive."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the repository without the `.git` extension. The name is not case sensitive."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title of the new pull request. Required unless `issue` is specified."
          }
        },
        "head": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the branch where your changes are implemented. For cross-repository pull requests in the same network, namespace `head` with a user like this: `username:branch`.",
            "smithy.api#required": {}
          }
        },
        "head_repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the repository where the changes in the pull request were made. This field is required for cross-repository pull requests if both repositories are owned by the same organization."
          }
        },
        "base": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the branch you want the changes pulled into. This should be an existing branch on the current repository. You cannot submit a pull request to one repository that requests a merge to a base of another repository.",
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contents of the pull request."
          }
        },
        "maintainer_can_modify": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether [maintainers can modify](https://docs.github.com/articles/allowing-changes-to-a-pull-request-branch-created-from-a-fork/) the pull request."
          }
        },
        "draft": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the pull request is a draft. See \"[Draft Pull Requests](https://docs.github.com/articles/about-pull-requests#draft-pull-requests)\" in the GitHub Help documentation to learn more."
          }
        },
        "issue": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "An issue in the repository to convert to a pull request. The issue title, body, and comments will become the title, body, and comments on the new pull request. Required unless `title` is specified."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.pulls#PullRequest": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "diff_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "patch_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "issue_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "commits_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "review_comments_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "review_comment_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "comments_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "statuses_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number uniquely identifying the pull request within its repository.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.github.pulls#PullRequestState",
          "traits": {
            "smithy.api#documentation": "State of this Pull Request. Either `open` or `closed`.",
            "smithy.api#required": {}
          }
        },
        "locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title of the pull request.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "com.github.pulls#SimpleUser",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "labels": {
          "target": "com.github.pulls#PullRequestLabelsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "milestone": {
          "target": "com.github.pulls#NullableMilestone",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "active_lock_reason": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "closed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "merged_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "merge_commit_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "assignee": {
          "target": "com.github.pulls#NullableSimpleUser",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "assignees": {
          "target": "com.github.pulls#PullRequestAssigneesList"
        },
        "requested_reviewers": {
          "target": "com.github.pulls#PullRequestRequestedReviewersList"
        },
        "requested_teams": {
          "target": "com.github.pulls#PullRequestRequestedTeamsList"
        },
        "head": {
          "target": "com.github.pulls#PullRequestHead",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "base": {
          "target": "com.github.pulls#PullRequestBase",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "_links": {
          "target": "com.github.pulls#PullRequestLinks",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "author_association": {
          "target": "com.github.pulls#AuthorAssociation",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "auto_merge": {
          "target": "com.github.pulls#AutoMerge",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "stack": {
          "target": "com.github.pulls#PullRequestStack",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "draft": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether or not the pull request is a draft."
          }
        },
        "merged": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mergeable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "rebaseable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "mergeable_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "merged_by": {
          "target": "com.github.pulls#NullableSimpleUser",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "comments": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "review_comments": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "maintainer_can_modify": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether maintainers can modify the pull request.",
            "smithy.api#required": {}
          }
        },
        "commits": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "additions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deletions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "changed_files": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pull requests let you tell others about changes you've pushed to a repository on GitHub. Once a pull request is sent, interested parties can review the set of changes, discuss potential modifications, and even push follow-up commits if necessary."
      }
    },
    "com.github.pulls#PullRequestState": {
      "type": "enum",
      "members": {
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        },
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "closed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State of this Pull Request. Either `open` or `closed`."
      }
    },
    "com.github.pulls#PullRequestLabelsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "color": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "default": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.pulls#PullRequestLabelsList": {
      "type": "list",
      "member": {
        "target": "com.github.pulls#PullRequestLabelsItem"
      },
      "traits": {}
    },
    "com.github.pulls#PullRequestAssigneesList": {
      "type": "list",
      "member": {
        "target": "com.github.pulls#SimpleUser"
      },
      "traits": {}
    },
    "com.github.pulls#PullRequestRequestedReviewersList": {
      "type": "list",
      "member": {
        "target": "com.github.pulls#SimpleUser"
      },
      "traits": {}
    },
    "com.github.pulls#TeamSimple": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the team",
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL for the team",
            "smithy.api#required": {}
          }
        },
        "members_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the team",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the team",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "permission": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Permission that the team will have for its repositories",
            "smithy.api#required": {}
          }
        },
        "privacy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The level of privacy this team should have"
          }
        },
        "notification_setting": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The notification setting the team has set"
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repositories_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ldap_dn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Distinguished Name (DN) that team maps to within LDAP environment"
          }
        },
        "type": {
          "target": "com.github.pulls#TeamSimpleType",
          "traits": {
            "smithy.api#documentation": "The ownership type of the team",
            "smithy.api#required": {}
          }
        },
        "organization_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the organization to which this team belongs"
          }
        },
        "enterprise_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the enterprise to which this team belongs"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Groups of organization members that gives permissions on specified repositories."
      }
    },
    "com.github.pulls#TeamSimpleType": {
      "type": "enum",
      "members": {
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ownership type of the team"
      }
    },
    "com.github.pulls#PullRequestRequestedTeamsList": {
      "type": "list",
      "member": {
        "target": "com.github.pulls#TeamSimple"
      },
      "traits": {}
    },
    "com.github.pulls#PullRequestHead": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "com.github.pulls#Repository",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "com.github.pulls#SimpleUser",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.pulls#PullRequestBase": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "com.github.pulls#Repository",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "com.github.pulls#SimpleUser",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.pulls#PullRequestLinks": {
      "type": "structure",
      "members": {
        "comments": {
          "target": "com.github.pulls#Link",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "commits": {
          "target": "com.github.pulls#Link",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "statuses": {
          "target": "com.github.pulls#Link",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html": {
          "target": "com.github.pulls#Link",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "issue": {
          "target": "com.github.pulls#Link",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "review_comments": {
          "target": "com.github.pulls#Link",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "review_comment": {
          "target": "com.github.pulls#Link",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "self": {
          "target": "com.github.pulls#Link",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.pulls#Create": {
      "type": "operation",
      "input": {
        "target": "com.github.pulls#CreateRequest"
      },
      "output": {
        "target": "com.github.pulls#PullRequest"
      },
      "errors": [
        {
          "target": "com.github.pulls#Forbidden"
        },
        {
          "target": "com.github.pulls#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/repos/{owner}/{repo}/pulls",
          "code": 200
        },
        "smithy.api#documentation": "Create a pull request\n\nDraft pull requests are available in public repositories with GitHub Free and GitHub Free for organizations, GitHub Pro, and legacy per-repository billing plans, and in public and private repositories with GitHub Team and GitHub Enterprise Cloud. For more information, see [GitHub's products](https://docs.github.com/github/getting-started-with-github/githubs-products) in the GitHub Help documentation.\n\nTo open or update a pull request in a public repository, you must have write access to the head or the source branch. For organization-owned repositories, you must be a member of the organization that owns the repository to open or update a pull request.\n\nThis endpoint triggers [notifications](https://docs.github.com/github/managing-subscriptions-and-notifications-on-github/about-notifications). Creating content too quickly using this endpoint may result in secondary rate limiting. For more information, see \"[Rate limits for the API](https://docs.github.com/rest/using-the-rest-api/rate-limits-for-the-rest-api#about-secondary-rate-limits)\" and \"[Best practices for using the REST API](https://docs.github.com/rest/guides/best-practices-for-using-the-rest-api).\"\n\nThis endpoint supports the following custom media types. For more information, see \"[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types).\"\n\n- **`application/vnd.github.raw+json`**: Returns the raw markdown body. Response will include `body`. This is the default if you do not pass any specific media type.\n- **`application/vnd.github.text+json`**: Returns a text only representation of the markdown body. Response will include `body_text`.\n- **`application/vnd.github.html+json`**: Returns HTML rendered from the body's markdown. Response will include `body_html`.\n- **`application/vnd.github.full+json`**: Returns raw, text, and HTML representations. Response will include `body`, `body_text`, and `body_html`."
      }
    },
    "com.github.pulls#ListReviewCommentsForRepoRequestSort": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated"
          }
        },
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        }
      },
      "traits": {}
    },
    "com.github.pulls#ListReviewCommentsForRepoRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.github.pulls#ListReviewCommentsForRepoRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The account owner of the repository. The name is not case sensitive."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the repository without the `.git` extension. The name is not case sensitive."
          }
        },
        "sort": {
          "target": "com.github.pulls#ListReviewCommentsForRepoRequestSort",
          "traits": {
            "smithy.api#httpQuery": "sort"
          }
        },
        "direction": {
          "target": "com.github.pulls#ListReviewCommentsForRepoRequestDirection",
          "traits": {
            "smithy.api#httpQuery": "direction",
            "smithy.api#documentation": "The direction to sort results. Ignored without `sort` parameter."
          }
        },
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "since",
            "smithy.api#documentation": "Only show results that were last updated after the given time. This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format: `YYYY-MM-DDTHH:MM:SSZ`."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "The number of results per page (max 100). For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "The page number of the results to fetch. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.pulls#PullRequestReviewComment": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL for the pull request review comment",
            "smithy.api#required": {}
          }
        },
        "pull_request_review_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the pull request review to which the comment belongs.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the pull request review comment.",
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The node ID of the pull request review comment.",
            "smithy.api#required": {}
          }
        },
        "diff_hunk": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The diff of the line that the comment refers to.",
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The relative path of the file to which the comment applies.",
            "smithy.api#required": {}
          }
        },
        "position": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The line index in the diff to which the comment applies. This field is closing down; use `line` instead."
          }
        },
        "original_position": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index of the original line in the diff to which the comment applies. This field is closing down; use `original_line` instead."
          }
        },
        "commit_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SHA of the commit to which the comment applies.",
            "smithy.api#required": {}
          }
        },
        "original_commit_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SHA of the original commit to which the comment applies.",
            "smithy.api#required": {}
          }
        },
        "in_reply_to_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The comment ID to reply to."
          }
        },
        "user": {
          "target": "com.github.pulls#NullableSimpleUser",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text of the comment.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTML URL for the pull request review comment.",
            "smithy.api#required": {}
          }
        },
        "pull_request_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL for the pull request that the review comment belongs to.",
            "smithy.api#required": {}
          }
        },
        "author_association": {
          "target": "com.github.pulls#AuthorAssociation",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "_links": {
          "target": "com.github.pulls#PullRequestReviewCommentLinks",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "start_line": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The first line of the range for a multi-line comment.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "original_start_line": {
          "target": "smithy.api#Integer",
          "traits": {
[...]
