{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.github.repos#ListForOrgRequestType": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        },
        "FORKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "forks"
          }
        },
        "SOURCES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sources"
          }
        },
        "MEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "member"
          }
        }
      },
      "traits": {}
    },
    "com.github.repos#ListForOrgRequestSort": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated"
          }
        },
        "PUSHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pushed"
          }
        },
        "FULL_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "full_name"
          }
        }
      },
      "traits": {}
    },
    "com.github.repos#ListForOrgRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.github.repos#ListForOrgRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "type": {
          "target": "com.github.repos#ListForOrgRequestType",
          "traits": {
            "smithy.api#httpQuery": "type",
            "smithy.api#documentation": "Specifies the types of repositories you want returned."
          }
        },
        "sort": {
          "target": "com.github.repos#ListForOrgRequestSort",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "The property to sort the results by."
          }
        },
        "direction": {
          "target": "com.github.repos#ListForOrgRequestDirection",
          "traits": {
            "smithy.api#httpQuery": "direction",
            "smithy.api#documentation": "The order to sort by. Default: `asc` when using `full_name`, otherwise `desc`."
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "The number of results per page (max 100). For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "The page number of the results to fetch. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.repos#MinimalRepository": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "full_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "com.github.repos#SimpleUser",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "fork": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "archive_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "assignees_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "blobs_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branches_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "collaborators_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "comments_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "commits_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "compare_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "contents_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "contributors_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deployments_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "downloads_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "forks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "git_commits_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "git_refs_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "git_tags_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "git_url": {
          "target": "smithy.api#String"
        },
        "issue_comment_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "issue_events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "issues_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "keys_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "labels_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "languages_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "merges_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "milestones_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "notifications_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pulls_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "releases_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ssh_url": {
          "target": "smithy.api#String"
        },
        "stargazers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "statuses_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subscribers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subscription_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "teams_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "trees_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "clone_url": {
          "target": "smithy.api#String"
        },
        "mirror_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hooks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "svn_url": {
          "target": "smithy.api#String"
        },
        "homepage": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "forks_count": {
          "target": "smithy.api#Integer"
        },
        "stargazers_count": {
          "target": "smithy.api#Integer"
        },
        "watchers_count": {
          "target": "smithy.api#Integer"
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The size of the repository, in kilobytes. Size is calculated hourly. When a repository is initially created, the size is 0."
          }
        },
        "default_branch": {
          "target": "smithy.api#String"
        },
        "open_issues_count": {
          "target": "smithy.api#Integer"
        },
        "is_template": {
          "target": "smithy.api#Boolean"
        },
        "topics": {
          "target": "com.github.repos#MinimalRepositoryTopicsList"
        },
        "has_issues": {
          "target": "smithy.api#Boolean"
        },
        "has_projects": {
          "target": "smithy.api#Boolean"
        },
        "has_wiki": {
          "target": "smithy.api#Boolean"
        },
        "has_pages": {
          "target": "smithy.api#Boolean"
        },
        "has_downloads": {
          "target": "smithy.api#Boolean"
        },
        "has_discussions": {
          "target": "smithy.api#Boolean"
        },
        "has_pull_requests": {
          "target": "smithy.api#Boolean"
        },
        "pull_request_creation_policy": {
          "target": "com.github.repos#MinimalRepositoryPullRequestCreationPolicy",
          "traits": {
            "smithy.api#documentation": "The policy controlling who can create pull requests: all or collaborators_only."
          }
        },
        "archived": {
          "target": "smithy.api#Boolean"
        },
        "disabled": {
          "target": "smithy.api#Boolean"
        },
        "visibility": {
          "target": "smithy.api#String"
        },
        "pushed_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "permissions": {
          "target": "com.github.repos#MinimalRepositoryPermissions"
        },
        "role_name": {
          "target": "smithy.api#String"
        },
        "temp_clone_token": {
          "target": "smithy.api#String"
        },
        "delete_branch_on_merge": {
          "target": "smithy.api#Boolean"
        },
        "subscribers_count": {
          "target": "smithy.api#Integer"
        },
        "network_count": {
          "target": "smithy.api#Integer"
        },
        "code_of_conduct": {
          "target": "com.github.repos#CodeOfConduct"
        },
        "license": {
          "target": "com.github.repos#MinimalRepositoryLicense",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "forks": {
          "target": "smithy.api#Integer"
        },
        "open_issues": {
          "target": "smithy.api#Integer"
        },
        "watchers": {
          "target": "smithy.api#Integer"
        },
        "allow_forking": {
          "target": "smithy.api#Boolean"
        },
        "web_commit_signoff_required": {
          "target": "smithy.api#Boolean"
        },
        "security_and_analysis": {
          "target": "com.github.repos#SecurityAndAnalysis",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "custom_properties": {
          "target": "com.github.repos#MinimalRepositoryCustomPropertiesMap",
          "traits": {
            "smithy.api#documentation": "The custom properties that were defined for the repository. The keys are the custom property names, and the values are the corresponding custom property values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Minimal Repository"
      }
    },
    "com.github.repos#SimpleUser": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "login": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatar_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gravatar_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "followers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "following_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gists_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "starred_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subscriptions_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "organizations_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repos_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "received_events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "site_admin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "starred_at": {
          "target": "smithy.api#String"
        },
        "user_view_type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "A GitHub user."
      }
    },
    "com.github.repos#MinimalRepositoryTopicsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.github.repos#MinimalRepositoryPullRequestCreationPolicy": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "COLLABORATORS_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "collaborators_only"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The policy controlling who can create pull requests: all or collaborators_only."
      }
    },
    "com.github.repos#MinimalRepositoryPermissions": {
      "type": "structure",
      "members": {
        "admin": {
          "target": "smithy.api#Boolean"
        },
        "maintain": {
          "target": "smithy.api#Boolean"
        },
        "push": {
          "target": "smithy.api#Boolean"
        },
        "triage": {
          "target": "smithy.api#Boolean"
        },
        "pull": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.github.repos#CodeOfConduct": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "smithy.api#String"
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Code Of Conduct"
      }
    },
    "com.github.repos#MinimalRepositoryLicense": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "spdx_id": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.github.repos#SecurityAndAnalysis": {
      "type": "structure",
      "members": {
        "advanced_security": {
          "target": "com.github.repos#SecurityAndAnalysisAdvancedSecurity",
          "traits": {
            "smithy.api#documentation": "Enable or disable GitHub Advanced Security for the repository.\n\nFor standalone Code Scanning or Secret Protection products, this parameter cannot be used.\n"
          }
        },
        "code_security": {
          "target": "com.github.repos#SecurityAndAnalysisCodeSecurity"
        },
        "dependabot_security_updates": {
          "target": "com.github.repos#SecurityAndAnalysisDependabotSecurityUpdates",
          "traits": {
            "smithy.api#documentation": "Enable or disable Dependabot security updates for the repository."
          }
        },
        "secret_scanning": {
          "target": "com.github.repos#SecurityAndAnalysisSecretScanning"
        },
        "secret_scanning_push_protection": {
          "target": "com.github.repos#SecurityAndAnalysisSecretScanningPushProtection"
        },
        "secret_scanning_non_provider_patterns": {
          "target": "com.github.repos#SecurityAndAnalysisSecretScanningNonProviderPatterns"
        },
        "secret_scanning_ai_detection": {
          "target": "com.github.repos#SecurityAndAnalysisSecretScanningAiDetection"
        },
        "secret_scanning_delegated_alert_dismissal": {
          "target": "com.github.repos#SecurityAndAnalysisSecretScanningDelegatedAlertDismissal"
        },
        "secret_scanning_delegated_bypass": {
          "target": "com.github.repos#SecurityAndAnalysisSecretScanningDelegatedBypass"
        },
        "secret_scanning_delegated_bypass_options": {
          "target": "com.github.repos#SecurityAndAnalysisSecretScanningDelegatedBypassOptions"
        }
      },
      "traits": {}
    },
    "com.github.repos#SecurityAndAnalysisAdvancedSecurityStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {}
    },
    "com.github.repos#SecurityAndAnalysisAdvancedSecurity": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.github.repos#SecurityAndAnalysisAdvancedSecurityStatus"
        }
      },
      "traits": {
        "smithy.api#documentation": "Enable or disable GitHub Advanced Security for the repository.\n\nFor standalone Code Scanning or Secret Protection products, this parameter cannot be used.\n"
      }
    },
    "com.github.repos#SecurityAndAnalysisCodeSecurityStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {}
    },
    "com.github.repos#SecurityAndAnalysisCodeSecurity": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.github.repos#SecurityAndAnalysisCodeSecurityStatus"
        }
      },
      "traits": {}
    },
    "com.github.repos#SecurityAndAnalysisDependabotSecurityUpdatesStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of Dependabot security updates for the repository."
      }
    },
    "com.github.repos#SecurityAndAnalysisDependabotSecurityUpdates": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.github.repos#SecurityAndAnalysisDependabotSecurityUpdatesStatus",
          "traits": {
            "smithy.api#documentation": "The enablement status of Dependabot security updates for the repository."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enable or disable Dependabot security updates for the repository."
      }
    },
    "com.github.repos#SecurityAndAnalysisSecretScanningStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {}
    },
    "com.github.repos#SecurityAndAnalysisSecretScanning": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.github.repos#SecurityAndAnalysisSecretScanningStatus"
        }
      },
      "traits": {}
    },
    "com.github.repos#SecurityAndAnalysisSecretScanningPushProtectionStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {}
    },
    "com.github.repos#SecurityAndAnalysisSecretScanningPushProtection": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.github.repos#SecurityAndAnalysisSecretScanningPushProtectionStatus"
        }
      },
      "traits": {}
    },
    "com.github.repos#SecurityAndAnalysisSecretScanningNonProviderPatternsStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {}
    },
    "com.github.repos#SecurityAndAnalysisSecretScanningNonProviderPatterns": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.github.repos#SecurityAndAnalysisSecretScanningNonProviderPatternsStatus"
        }
      },
      "traits": {}
    },
    "com.github.repos#SecurityAndAnalysisSecretScanningAiDetectionStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {}
    },
    "com.github.repos#SecurityAndAnalysisSecretScanningAiDetection": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.github.repos#SecurityAndAnalysisSecretScanningAiDetectionStatus"
        }
      },
      "traits": {}
    },
    "com.github.repos#SecurityAndAnalysisSecretScanningDelegatedAlertDismissalStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {}
    },
    "com.github.repos#SecurityAndAnalysisSecretScanningDelegatedAlertDismissal": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.github.repos#SecurityAndAnalysisSecretScanningDelegatedAlertDismissalStatus"
        }
      },
      "traits": {}
    },
    "com.github.repos#SecurityAndAnalysisSecretScanningDelegatedBypassStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {}
    },
    "com.github.repos#SecurityAndAnalysisSecretScanningDelegatedBypass": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.github.repos#SecurityAndAnalysisSecretScanningDelegatedBypassStatus"
        }
      },
      "traits": {}
    },
    "com.github.repos#SecurityAndAnalysisSecretScanningDelegatedBypassOptionsReviewersItemReviewerType": {
      "type": "enum",
      "members": {
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEAM"
          }
        },
        "ROLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the bypass reviewer"
      }
    },
    "com.github.repos#SecurityAndAnalysisSecretScanningDelegatedBypassOptionsReviewersItemMode": {
      "type": "enum",
      "members": {
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALWAYS"
          }
        },
        "EXEMPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXEMPT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The bypass mode for the reviewer"
      }
    },
    "com.github.repos#SecurityAndAnalysisSecretScanningDelegatedBypassOptionsReviewersItem": {
      "type": "structure",
      "members": {
        "reviewer_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the team or role selected as a bypass reviewer",
            "smithy.api#required": {}
          }
        },
        "reviewer_type": {
          "target": "com.github.repos#SecurityAndAnalysisSecretScanningDelegatedBypassOptionsReviewersItemReviewerType",
          "traits": {
            "smithy.api#documentation": "The type of the bypass reviewer",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.github.repos#SecurityAndAnalysisSecretScanningDelegatedBypassOptionsReviewersItemMode",
          "traits": {
            "smithy.api#documentation": "The bypass mode for the reviewer"
          }
        }
      },
      "traits": {}
    },
    "com.github.repos#SecurityAndAnalysisSecretScanningDelegatedBypassOptionsReviewersList": {
      "type": "list",
      "member": {
        "target": "com.github.repos#SecurityAndAnalysisSecretScanningDelegatedBypassOptionsReviewersItem"
      },
      "traits": {
        "smithy.api#documentation": "The bypass reviewers for secret scanning delegated bypass"
      }
    },
    "com.github.repos#SecurityAndAnalysisSecretScanningDelegatedBypassOptions": {
      "type": "structure",
      "members": {
        "reviewers": {
          "target": "com.github.repos#SecurityAndAnalysisSecretScanningDelegatedBypassOptionsReviewersList",
          "traits": {
            "smithy.api#documentation": "The bypass reviewers for secret scanning delegated bypass"
          }
        }
      },
      "traits": {}
    },
    "com.github.repos#MinimalRepositoryCustomPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The custom properties that were defined for the repository. The keys are the custom property names, and the values are the corresponding custom property values."
      }
    },
    "com.github.repos#ListForOrgResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.github.repos#MinimalRepository"
      },
      "traits": {}
    },
    "com.github.repos#ListForOrgResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.github.repos#ListForOrgResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.repos#ListForOrg": {
      "type": "operation",
      "input": {
        "target": "com.github.repos#ListForOrgRequest"
      },
      "output": {
        "target": "com.github.repos#ListForOrgResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/repos",
          "code": 200
        },
        "smithy.api#documentation": "List organization repositories\n\nLists repositories for the specified organization.\n\n> [!NOTE]\n> In order to see the `security_and_analysis` block for a repository you must have admin permissions for the repository or be an owner or security manager for the organization that owns the repository. For more information, see \"[Managing security managers in your organization](https://docs.github.com/organizations/managing-peoples-access-to-your-organization-with-roles/managing-security-managers-in-your-organization).\""
      }
    },
    "com.github.repos#CreateInOrgRequestVisibility": {
      "type": "enum",
      "members": {
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The visibility of the repository."
      }
    },
    "com.github.repos#CreateInOrgRequestSquashMergeCommitTitle": {
      "type": "enum",
      "members": {
        "PR_TITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PR_TITLE"
          }
        },
        "COMMIT_OR_PR_TITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMIT_OR_PR_TITLE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Required when using `squash_merge_commit_message`.\n\nThe default value for a squash merge commit title:\n\n- `PR_TITLE` - default to the pull request's title.\n- `COMMIT_OR_PR_TITLE` - default to the commit's title (if only one commit) or the pull request's title (when more than one commit)."
      }
    },
    "com.github.repos#CreateInOrgRequestSquashMergeCommitMessage": {
      "type": "enum",
      "members": {
        "PR_BODY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PR_BODY"
          }
        },
        "COMMIT_MESSAGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMIT_MESSAGES"
          }
        },
        "BLANK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLANK"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The default value for a squash merge commit message:\n\n- `PR_BODY` - default to the pull request's body.\n- `COMMIT_MESSAGES` - default to the branch's commit messages.\n- `BLANK` - default to a blank commit message."
      }
    },
    "com.github.repos#CreateInOrgRequestMergeCommitTitle": {
      "type": "enum",
      "members": {
        "PR_TITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PR_TITLE"
          }
        },
        "MERGE_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MERGE_MESSAGE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Required when using `merge_commit_message`.\n\nThe default value for a merge commit title.\n\n- `PR_TITLE` - default to the pull request's title.\n- `MERGE_MESSAGE` - default to the classic title for a merge message (e.g., Merge pull request #123 from branch-name)."
      }
    },
    "com.github.repos#CreateInOrgRequestMergeCommitMessage": {
      "type": "enum",
      "members": {
        "PR_BODY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PR_BODY"
          }
        },
        "PR_TITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PR_TITLE"
          }
        },
        "BLANK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLANK"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The default value for a merge commit message.\n\n- `PR_TITLE` - default to the pull request's title.\n- `PR_BODY` - default to the pull request's body.\n- `BLANK` - default to a blank commit message."
      }
    },
    "com.github.repos#CreateInOrgRequestCustomPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The custom properties for the new repository. The keys are the custom property names, and the values are the corresponding custom property values."
      }
    },
    "com.github.repos#CreateInOrgRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the repository.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the repository."
          }
        },
        "homepage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL with more information about the repository."
          }
        },
        "private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the repository is private."
          }
        },
        "visibility": {
          "target": "com.github.repos#CreateInOrgRequestVisibility",
          "traits": {
            "smithy.api#documentation": "The visibility of the repository."
          }
        },
        "has_issues": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Either `true` to enable issues for this repository or `false` to disable them."
          }
        },
        "has_projects": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Either `true` to enable projects for this repository or `false` to disable them. **Note:** If you're creating a repository in an organization that has disabled repository projects, the default is `false`, and if you pass `true`, the API returns an error."
          }
        },
        "has_wiki": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Either `true` to enable the wiki for this repository or `false` to disable it."
          }
        },
        "has_downloads": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether downloads are enabled."
          }
        },
        "is_template": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Either `true` to make this repo available as a template repository or `false` to prevent it."
          }
        },
        "team_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The id of the team that will be granted access to this repository. This is only valid when creating a repository in an organization."
          }
        },
        "auto_init": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Pass `true` to create an initial commit with empty README."
          }
        },
        "gitignore_template": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Desired language or platform [.gitignore template](https://github.com/github/gitignore) to apply. Use the name of the template without the extension. For example, \"Haskell\"."
          }
        },
        "license_template": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Choose an [open source license template](https://choosealicense.com/) that best suits your needs, and then use the [license keyword](https://docs.github.com/articles/licensing-a-repository/#searching-github-by-license-type) as the `license_template` string. For example, \"mit\" or \"mpl-2.0\"."
          }
        },
        "allow_squash_merge": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Either `true` to allow squash-merging pull requests, or `false` to prevent squash-merging."
          }
        },
        "allow_merge_commit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Either `true` to allow merging pull requests with a merge commit, or `false` to prevent merging pull requests with merge commits."
          }
        },
        "allow_rebase_merge": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Either `true` to allow rebase-merging pull requests, or `false` to prevent rebase-merging."
          }
        },
        "allow_auto_merge": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Either `true` to allow auto-merge on pull requests, or `false` to disallow auto-merge."
          }
        },
        "delete_branch_on_merge": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Either `true` to allow automatically deleting head branches when pull requests are merged, or `false` to prevent automatic deletion. **The authenticated user must be an organization owner to set this property to `true`.**"
          }
        },
        "use_squash_pr_title_as_default": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Either `true` to allow squash-merge commits to use pull request title, or `false` to use commit message. **This property is closing down. Please use `squash_merge_commit_title` instead."
          }
        },
        "squash_merge_commit_title": {
          "target": "com.github.repos#CreateInOrgRequestSquashMergeCommitTitle",
          "traits": {
            "smithy.api#documentation": "Required when using `squash_merge_commit_message`.\n\nThe default value for a squash merge commit title:\n\n- `PR_TITLE` - default to the pull request's title.\n- `COMMIT_OR_PR_TITLE` - default to the commit's title (if only one commit) or the pull request's title (when more than one commit)."
          }
        },
        "squash_merge_commit_message": {
          "target": "com.github.repos#CreateInOrgRequestSquashMergeCommitMessage",
          "traits": {
            "smithy.api#documentation": "The default value for a squash merge commit message:\n\n- `PR_BODY` - default to the pull request's body.\n- `COMMIT_MESSAGES` - default to the branch's commit messages.\n- `BLANK` - default to a blank commit message."
          }
        },
        "merge_commit_title": {
          "target": "com.github.repos#CreateInOrgRequestMergeCommitTitle",
          "traits": {
            "smithy.api#documentation": "Required when using `merge_commit_message`.\n\nThe default value for a merge commit title.\n\n- `PR_TITLE` - default to the pull request's title.\n- `MERGE_MESSAGE` - default to the classic title for a merge message (e.g., Merge pull request #123 from branch-name)."
          }
        },
        "merge_commit_message": {
          "target": "com.github.repos#CreateInOrgRequestMergeCommitMessage",
          "traits": {
            "smithy.api#documentation": "The default value for a merge commit message.\n\n- `PR_TITLE` - default to the pull request's title.\n- `PR_BODY` - default to the pull request's body.\n- `BLANK` - default to a blank commit message."
          }
        },
        "custom_properties": {
          "target": "com.github.repos#CreateInOrgRequestCustomPropertiesMap",
          "traits": {
            "smithy.api#documentation": "The custom properties for the new repository. The keys are the custom property names, and the values are the corresponding custom property values."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.repos#FullRepository": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "full_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "com.github.repos#SimpleUser",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "fork": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "archive_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "assignees_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "blobs_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branches_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "collaborators_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "comments_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "commits_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "compare_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "contents_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "contributors_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deployments_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "downloads_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "forks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "git_commits_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "git_refs_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "git_tags_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "git_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "issue_comment_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "issue_events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "issues_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "keys_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "labels_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "languages_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "merges_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "milestones_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "notifications_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pulls_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "releases_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ssh_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "stargazers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "statuses_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subscribers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subscription_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "teams_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "trees_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "clone_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mirror_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "hooks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "svn_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "homepage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "forks_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "stargazers_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "watchers_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The size of the repository, in kilobytes. Size is calculated hourly. When a repository is initially created, the size is 0.",
            "smithy.api#required": {}
          }
        },
        "default_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "open_issues_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "is_template": {
          "target": "smithy.api#Boolean"
        },
        "topics": {
          "target": "com.github.repos#FullRepositoryTopicsList"
        },
        "has_issues": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_projects": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_wiki": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_pages": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_downloads": {
          "target": "smithy.api#Boolean"
        },
        "has_discussions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_pull_requests": {
          "target": "smithy.api#Boolean"
        },
        "pull_request_creation_policy": {
          "target": "com.github.repos#FullRepositoryPullRequestCreationPolicy",
          "traits": {
            "smithy.api#documentation": "The policy controlling who can create pull requests: all or collaborators_only."
          }
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Returns whether or not this repository disabled.",
            "smithy.api#required": {}
          }
        },
        "visibility": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The repository visibility: public, private, or internal."
          }
        },
        "pushed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.github.repos#FullRepositoryPermissions"
        },
        "allow_rebase_merge": {
          "target": "smithy.api#Boolean"
        },
        "template_repository": {
          "target": "com.github.repos#NullableRepository",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "temp_clone_token": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "allow_squash_merge": {
          "target": "smithy.api#Boolean"
        },
        "allow_auto_merge": {
          "target": "smithy.api#Boolean"
        },
        "delete_branch_on_merge": {
          "target": "smithy.api#Boolean"
        },
        "allow_merge_commit": {
          "target": "smithy.api#Boolean"
        },
        "allow_update_branch": {
          "target": "smithy.api#Boolean"
        },
        "use_squash_pr_title_as_default": {
          "target": "smithy.api#Boolean"
        },
        "squash_merge_commit_title": {
          "target": "com.github.repos#FullRepositorySquashMergeCommitTitle",
          "traits": {
            "smithy.api#documentation": "The default value for a squash merge commit title:\n\n- `PR_TITLE` - default to the pull request's title.\n- `COMMIT_OR_PR_TITLE` - default to the commit's title (if only one commit) or the pull request's title (when more than one commit)."
          }
        },
        "squash_merge_commit_message": {
          "target": "com.github.repos#FullRepositorySquashMergeCommitMessage",
          "traits": {
            "smithy.api#documentation": "The default value for a squash merge commit message:\n\n- `PR_BODY` - default to the pull request's body.\n- `COMMIT_MESSAGES` - default to the branch's commit messages.\n- `BLANK` - default to a blank commit message."
          }
        },
        "merge_commit_title": {
          "target": "com.github.repos#FullRepositoryMergeCommitTitle",
          "traits": {
            "smithy.api#documentation": "The default value for a merge commit title.\n\n  - `PR_TITLE` - default to the pull request's title.\n  - `MERGE_MESSAGE` - default to the classic title for a merge message (e.g., Merge pull request #123 from branch-name)."
          }
        },
        "merge_commit_message": {
          "target": "com.github.repos#FullRepositoryMergeCommitMessage",
          "traits": {
            "smithy.api#documentation": "The default value for a merge commit message.\n\n- `PR_TITLE` - default to the pull request's title.\n- `PR_BODY` - default to the pull request's body.\n- `BLANK` - default to a blank commit message."
          }
        },
        "allow_forking": {
          "target": "smithy.api#Boolean"
        },
        "web_commit_signoff_required": {
          "target": "smithy.api#Boolean"
        },
        "subscribers_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "network_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "license": {
          "target": "com.github.repos#NullableLicenseSimple",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "organization": {
          "target": "com.github.repos#NullableSimpleUser",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "parent": {
          "target": "com.github.repos#Repository"
        },
        "source": {
          "target": "com.github.repos#Repository"
        },
        "forks": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "master_branch": {
          "target": "smithy.api#String"
        },
        "open_issues": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "watchers": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "anonymous_access_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether anonymous git access is allowed."
          }
        },
        "code_of_conduct": {
          "target": "com.github.repos#CodeOfConductSimple"
        },
        "security_and_analysis": {
          "target": "com.github.repos#SecurityAndAnalysis",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "custom_properties": {
          "target": "com.github.repos#FullRepositoryCustomPropertiesMap",
          "traits": {
            "smithy.api#documentation": "The custom properties that were defined for the repository. The keys are the custom property names, and the values are the corresponding custom property values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Full Repository"
      }
    },
    "com.github.repos#FullRepositoryTopicsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.github.repos#FullRepositoryPullRequestCreationPolicy": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "COLLABORATORS_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "collaborators_only"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The policy controlling who can create pull requests: all or collaborators_only."
      }
    },
    "com.github.repos#FullRepositoryPermissions": {
      "type": "structure",
      "members": {
        "admin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "maintain": {
          "target": "smithy.api#Boolean"
        },
        "push": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "triage": {
          "target": "smithy.api#Boolean"
        },
        "pull": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.repos#NullableRepository": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the repository",
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the repository.",
            "smithy.api#required": {}
          }
        },
        "full_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "license": {
          "target": "com.github.repos#NullableLicenseSimple",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "forks": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.github.repos#NullableRepositoryPermissions"
        },
        "owner": {
          "target": "com.github.repos#SimpleUser",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the repository is private or public.",
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "fork": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "archive_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "assignees_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "blobs_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branches_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "collaborators_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "comments_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "commits_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "compare_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "contents_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "contributors_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deployments_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "downloads_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "forks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "git_commits_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "git_refs_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "git_tags_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "git_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "issue_comment_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "issue_events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "issues_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "keys_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "labels_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "languages_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "merges_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "milestones_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "notifications_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pulls_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "releases_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ssh_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "stargazers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "statuses_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subscribers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subscription_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "teams_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "trees_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "clone_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mirror_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "hooks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "svn_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "homepage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "forks_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "stargazers_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "watchers_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The size of the repository, in kilobytes. Size is calculated hourly. When a repository is initially created, the size is 0.",
            "smithy.api#required": {}
          }
        },
        "default_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default branch of the repository.",
            "smithy.api#required": {}
          }
        },
        "open_issues_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "is_template": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this repository acts as a template that can be used to generate new repositories."
          }
        },
        "topics": {
          "target": "com.github.repos#NullableRepositoryTopicsList"
        },
        "has_issues": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether issues are enabled.",
            "smithy.api#required": {}
          }
        },
        "has_projects": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether projects are enabled.",
            "smithy.api#required": {}
          }
        },
        "has_wiki": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the wiki is enabled.",
            "smithy.api#required": {}
          }
        },
        "has_pages": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_downloads": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether downloads are enabled.",
            "smithy.api#required": {}
          }
        },
        "has_discussions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether discussions are enabled."
          }
        },
        "has_pull_requests": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether pull requests are enabled."
          }
        },
        "pull_request_creation_policy": {
          "target": "com.github.repos#NullableRepositoryPullRequestCreationPolicy",
          "traits": {
            "smithy.api#documentation": "The policy controlling who can create pull requests: all or collaborators_only."
          }
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the repository is archived.",
            "smithy.api#required": {}
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Returns whether or not this repository disabled.",
            "smithy.api#required": {}
          }
        },
        "visibility": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The repository visibility: public, private, or internal."
          }
        },
        "pushed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "allow_rebase_merge": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to allow rebase merges for pull requests."
          }
        },
        "temp_clone_token": {
          "target": "smithy.api#String"
        },
        "allow_squash_merge": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to allow squash merges for pull requests."
          }
        },
        "allow_auto_merge": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to allow Auto-merge to be used on pull requests."
          }
        },
        "delete_branch_on_merge": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to delete head branches when pull requests are merged"
          }
        },
        "allow_update_branch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not a pull request head branch that is behind its base branch can always be updated even if it is not required to be up to date before merging."
          }
        },
        "use_squash_pr_title_as_default": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a squash merge commit can use the pull request title as default. **This property is closing down. Please use `squash_merge_commit_title` instead."
          }
        },
        "squash_merge_commit_title": {
          "target": "com.github.repos#NullableRepositorySquashMergeCommitTitle",
          "traits": {
            "smithy.api#documentation": "The default value for a squash merge commit title:\n\n- `PR_TITLE` - default to the pull request's title.\n- `COMMIT_OR_PR_TITLE` - default to the commit's title (if only one commit) or the pull request's title (when more than one commit)."
          }
        },
        "squash_merge_commit_message": {
          "target": "com.github.repos#NullableRepositorySquashMergeCommitMessage",
          "traits": {
            "smithy.api#documentation": "The default value for a squash merge commit message:\n\n- `PR_BODY` - default to the pull request's body.\n- `COMMIT_MESSAGES` - default to the branch's commit messages.\n- `BLANK` - default to a blank commit message."
          }
        },
        "merge_commit_title": {
          "target": "com.github.repos#NullableRepositoryMergeCommitTitle",
          "traits": {
            "smithy.api#documentation": "The default value for a merge commit title.\n\n- `PR_TITLE` - default to the pull request's title.\n- `MERGE_MESSAGE` - default to the classic title for a merge message (e.g., Merge pull request #123 from branch-name)."
          }
        },
        "merge_commit_message": {
          "target": "com.github.repos#NullableRepositoryMergeCommitMessage",
          "traits": {
            "smithy.api#documentation": "The default value for a merge commit message.\n\n- `PR_TITLE` - default to the pull request's title.\n- `PR_BODY` - default to the pull request's body.\n- `BLANK` - default to a blank commit message."
          }
        },
        "allow_merge_commit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to allow merge commits for pull requests."
          }
        },
        "allow_forking": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to allow forking this repo"
          }
        },
        "web_commit_signoff_required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to require contributors to sign off on web-based commits"
          }
        },
        "open_issues": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "watchers": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "master_branch": {
          "target": "smithy.api#String"
        },
        "starred_at": {
          "target": "smithy.api#String"
        },
        "anonymous_access_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether anonymous git access is enabled for this repository"
          }
        },
        "code_search_index_status": {
          "target": "com.github.repos#NullableRepositoryCodeSearchIndexStatus",
          "traits": {
            "smithy.api#documentation": "The status of the code search index for this repository"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A repository on GitHub."
      }
    },
    "com.github.repos#NullableLicenseSimple": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "spdx_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "License Simple"
      }
    },
    "com.github.repos#NullableRepositoryPermissions": {
      "type": "structure",
      "members": {
        "admin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pull": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "triage": {
          "target": "smithy.api#Boolean"
        },
        "push": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "maintain": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.github.repos#NullableRepositoryTopicsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.github.repos#NullableRepositoryPullRequestCreationPolicy": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "COLLABORATORS_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "collaborators_only"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The policy controlling who can create pull requests: all or collaborators_only."
      }
    },
    "com.github.repos#NullableRepositorySquashMergeCommitTitle": {
      "type": "enum",
      "members": {
        "PR_TITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PR_TITLE"
          }
        },
        "COMMIT_OR_PR_TITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMIT_OR_PR_TITLE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The default value for a squash merge commit title:\n\n- `PR_TITLE` - default to the pull request's title.\n- `COMMIT_OR_PR_TITLE` - default to the commit's title (if only one commit) or the pull request's title (when more than one commit)."
      }
    },
    "com.github.repos#NullableRepositorySquashMergeCommitMessage": {
      "type": "enum",
      "members": {
        "PR_BODY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PR_BODY"
          }
        },
        "COMMIT_MESSAGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMIT_MESSAGES"
          }
        },
        "BLANK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLANK"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The default value for a squash merge commit message:\n\n- `PR_BODY` - default to the pull request's body.\n- `COMMIT_MESSAGES` - default to the branch's commit messages.\n- `BLANK` - default to a blank commit message."
      }
    },
    "com.github.repos#NullableRepositoryMergeCommitTitle": {
      "type": "enum",
      "members": {
        "PR_TITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PR_TITLE"
          }
        },
        "MERGE_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MERGE_MESSAGE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The default value for a merge commit title.\n\n- `PR_TITLE` - default to the pull request's title.\n- `MERGE_MESSAGE` - default to the classic title for a merge message (e.g., Merge pull request #123 from branch-name)."
      }
    },
    "com.github.repos#NullableRepositoryMergeCommitMessage": {
      "type": "enum",
      "members": {
        "PR_BODY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PR_BODY"
          }
        },
        "PR_TITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PR_TITLE"
          }
        },
        "BLANK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLANK"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The default value for a merge commit message.\n\n- `PR_TITLE` - default to the pull request's title.\n- `PR_BODY` - default to the pull request's body.\n- `BLANK` - default to a blank commit message."
      }
    },
    "com.github.repos#NullableRepositoryCodeSearchIndexStatus": {
      "type": "structure",
      "members": {
        "lexical_search_ok": {
          "target": "smithy.api#Boolean"
        },
        "lexical_commit_sha": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the code search index for this repository"
      }
    },
    "com.github.repos#FullRepositorySquashMergeCommitTitle": {
      "type": "enum",
      "members": {
        "PR_TITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PR_TITLE"
          }
        },
        "COMMIT_OR_PR_TITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMIT_OR_PR_TITLE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The default value for a squash merge commit title:\n\n- `PR_TITLE` - default to the pull request's title.\n- `COMMIT_OR_PR_TITLE` - default to the commit's title (if only one commit) or the pull request's title (when more than one commit)."
      }
    },
    "com.github.repos#FullRepositorySquashMergeCommitMessage": {
      "type": "enum",
      "members": {
        "PR_BODY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PR_BODY"
          }
        },
        "COMMIT_MESSAGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMIT_MESSAGES"
          }
        },
        "BLANK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLANK"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The default value for a squash merge commit message:\n\n- `PR_BODY` - default to the pull request's body.\n- `COMMIT_MESSAGES` - default to the branch's commit messages.\n- `BLANK` - default to a blank commit message."
      }
    },
    "com.github.repos#FullRepositoryMergeCommitTitle": {
      "type": "enum",
      "members": {
        "PR_TITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PR_TITLE"
          }
        },
        "MERGE_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MERGE_MESSAGE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The default value for a merge commit title.\n\n  - `PR_TITLE` - default to the pull request's title.\n  - `MERGE_MESSAGE` - default to the classic title for a merge message (e.g., Merge pull request #123 from branch-name)."
      }
    },
    "com.github.repos#FullRepositoryMergeCommitMessage": {
      "type": "enum",
      "members": {
        "PR_BODY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PR_BODY"
          }
        },
        "PR_TITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PR_TITLE"
          }
        },
        "BLANK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLANK"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The default value for a merge commit message.\n\n- `PR_TITLE` - default to the pull request's title.\n- `PR_BODY` - default to the pull request's body.\n- `BLANK` - default to a blank commit message."
      }
    },
    "com.github.repos#NullableSimpleUser": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "login": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatar_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gravatar_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "followers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "following_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gists_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "starred_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subscriptions_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "organizations_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repos_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "received_events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "site_admin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "starred_at": {
          "target": "smithy.api#String"
        },
        "user_view_type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "A GitHub user."
      }
    },
    "com.github.repos#Repository": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the repository",
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the repository.",
            "smithy.api#required": {}
          }
        },
        "full_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "license": {
          "target": "com.github.repos#NullableLicenseSimple",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "forks": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.github.repos#RepositoryPermissions"
        },
        "owner": {
          "target": "com.github.repos#SimpleUser",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the repository is private or public.",
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "fork": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
[...]
