{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.github.secret_scanning#ListAlertsForOrgRequestState": {
      "type": "enum",
      "members": {
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        },
        "RESOLVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resolved"
          }
        }
      },
      "traits": {}
    },
    "com.github.secret_scanning#ListAlertsForOrgRequestSort": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated"
          }
        }
      },
      "traits": {}
    },
    "com.github.secret_scanning#ListAlertsForOrgRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.github.secret_scanning#ListAlertsForOrgRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "state": {
          "target": "com.github.secret_scanning#ListAlertsForOrgRequestState",
          "traits": {
            "smithy.api#httpQuery": "state",
            "smithy.api#documentation": "Set to `open` or `resolved` to only list secret scanning alerts in a specific state."
          }
        },
        "secret_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "secret_type",
            "smithy.api#documentation": "A comma-separated list of secret types to return. All default secret patterns are returned. To return generic patterns, pass the token name(s) in the parameter. See \"[Supported secret scanning patterns](https://docs.github.com/code-security/secret-scanning/introduction/supported-secret-scanning-patterns#supported-secrets)\" for a complete list of secret types."
          }
        },
        "exclude_secret_types": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "exclude_secret_types",
            "smithy.api#documentation": "A comma-separated list of secret types to exclude from the results. All default secret patterns are returned except those matching the specified types. Cannot be combined with the `secret_type` parameter. See \"[Supported secret scanning patterns](https://docs.github.com/code-security/secret-scanning/introduction/supported-secret-scanning-patterns#supported-secrets)\" for a complete list of secret types."
          }
        },
        "exclude_providers": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "exclude_providers",
            "smithy.api#documentation": "A comma-separated list of provider slugs to exclude from the results.\nProvider slugs use lowercase with underscores (e.g., `github_secret_scanning`, `clojars`).\nYou can find the provider slug in the `provider_slug` field of each alert.\nCannot be combined with the `providers` parameter."
          }
        },
        "providers": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "providers",
            "smithy.api#documentation": "A comma-separated list of provider slugs to filter by.\nProvider slugs use lowercase with underscores (e.g., `github_secret_scanning`, `clojars`).\nYou can find the provider slug in the `provider_slug` field of each alert.\nCannot be combined with the `exclude_providers` parameter."
          }
        },
        "resolution": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "resolution",
            "smithy.api#documentation": "A comma-separated list of resolutions. Only secret scanning alerts with one of these resolutions are listed. Valid resolutions are `false_positive`, `wont_fix`, `revoked`, `pattern_edited`, `pattern_deleted` or `used_in_tests`."
          }
        },
        "assignee": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "assignee",
            "smithy.api#documentation": "Filters alerts by assignee. Use `*` to get all assigned alerts, `none` to get all unassigned alerts, or a GitHub username to get alerts assigned to a specific user."
          }
        },
        "sort": {
          "target": "com.github.secret_scanning#ListAlertsForOrgRequestSort",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "The property to sort the results by. `created` means when the alert was created. `updated` means when the alert was updated or resolved."
          }
        },
        "direction": {
          "target": "com.github.secret_scanning#ListAlertsForOrgRequestDirection",
          "traits": {
            "smithy.api#httpQuery": "direction",
            "smithy.api#documentation": "The direction to sort the results by."
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "The page number of the results to fetch. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "The number of results per page (max 100). For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "A cursor, as given in the [Link header](https://docs.github.com/rest/guides/using-pagination-in-the-rest-api#using-link-headers). If specified, the query only searches for events before this cursor. To receive an initial cursor on your first request, include an empty \"before\" query string."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "A cursor, as given in the [Link header](https://docs.github.com/rest/guides/using-pagination-in-the-rest-api#using-link-headers). If specified, the query only searches for events after this cursor.  To receive an initial cursor on your first request, include an empty \"after\" query string."
          }
        },
        "validity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "validity",
            "smithy.api#documentation": "A comma-separated list of validities that, when present, will return alerts that match the validities in this list. Valid options are `active`, `inactive`, and `unknown`."
          }
        },
        "is_publicly_leaked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "is_publicly_leaked",
            "smithy.api#documentation": "A boolean value representing whether or not to filter alerts by the publicly-leaked tag being present."
          }
        },
        "is_multi_repo": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "is_multi_repo",
            "smithy.api#documentation": "A boolean value representing whether or not to filter alerts by the multi-repo tag being present."
          }
        },
        "hide_secret": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "hide_secret",
            "smithy.api#documentation": "A boolean value representing whether or not to hide literal secrets in the results."
          }
        },
        "is_bypassed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "is_bypassed",
            "smithy.api#documentation": "A boolean value (`true` or `false`) indicating whether to filter alerts by their push protection bypass status. When set to `true`, only alerts that were created because a push protection rule was bypassed will be returned. When set to `false`, only alerts that were not caused by a push protection bypass will be returned."
          }
        },
        "included_metadata": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "included_metadata",
            "smithy.api#documentation": "A comma-separated list of metadata fields to filter alerts by. Only alerts that have all of the\nspecified metadata fields attached will be returned. Possible values are: `owner-email`, `owner-id`,\n`owner-name`, `secret-id`, `secret-name`, `secret-issued-date`, `secret-expiration-date`, `organization-name`,\n`organization-id`, `last-used-date`, and `has-organization-access`."
          }
        },
        "owner_email_hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "owner_email_hash",
            "smithy.api#documentation": "Filters alerts to only those whose attached `owner_email` metadata field matches the\nprovided value. The value must be the lowercase hex-encoded SHA-256 hash of the email\naddress to match (for example, the SHA-256 of `user@example.com`). Only alerts that\nhave an `owner_email` metadata value whose SHA-256 hash equals this parameter are\nreturned."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.secret_scanning#OrganizationSecretScanningAlert": {
      "type": "structure",
      "members": {
        "number": {
          "target": "smithy.api#Integer"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String"
        },
        "html_url": {
          "target": "smithy.api#String"
        },
        "locations_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The REST API URL of the code locations for this alert."
          }
        },
        "state": {
          "target": "com.github.secret_scanning#SecretScanningAlertState"
        },
        "resolution": {
          "target": "com.github.secret_scanning#SecretScanningAlertResolution",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "resolved_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time that the alert was resolved in ISO 8601 format: `YYYY-MM-DDTHH:MM:SSZ`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "resolved_by": {
          "target": "com.github.secret_scanning#NullableSimpleUser",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "secret_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of secret that secret scanning detected."
          }
        },
        "secret_type_display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-friendly name for the detected secret, matching the `secret_type`.\nFor a list of built-in patterns, see \"[Supported secret scanning patterns](https://docs.github.com/code-security/secret-scanning/introduction/supported-secret-scanning-patterns#supported-secrets).\""
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The provider of the secret that was detected.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "provider_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug identifier for the provider of the secret that was detected. Use this value for filtering by provider with the `providers` or `exclude_providers` parameters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The secret that was detected.",
            "smithy.api#sensitive": {}
          }
        },
        "repository": {
          "target": "com.github.secret_scanning#SimpleRepository"
        },
        "push_protection_bypassed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether push protection was bypassed for the detected secret.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "push_protection_bypassed_by": {
          "target": "com.github.secret_scanning#NullableSimpleUser",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "push_protection_bypassed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time that push protection was bypassed in ISO 8601 format: `YYYY-MM-DDTHH:MM:SSZ`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "push_protection_bypass_request_reviewer": {
          "target": "com.github.secret_scanning#NullableSimpleUser",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "push_protection_bypass_request_reviewer_comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional comment when reviewing a push protection bypass.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "push_protection_bypass_request_comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional comment when requesting a push protection bypass.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "push_protection_bypass_request_html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to a push protection bypass request.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "resolution_comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The comment that was optionally added when this alert was closed",
            "com.distilled.openapi#nullable": {}
          }
        },
        "validity": {
          "target": "com.github.secret_scanning#OrganizationSecretScanningAlertValidity",
          "traits": {
            "smithy.api#documentation": "The token status as of the latest validity check."
          }
        },
        "publicly_leaked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the secret was publicly leaked.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "multi_repo": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the detected secret was found in multiple repositories in the same organization or enterprise.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_base64_encoded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A boolean value representing whether or not alert is base64 encoded",
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_location_detected": {
          "target": "com.github.secret_scanning#NullableSecretScanningFirstDetectedLocation",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_more_locations": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A boolean value representing whether or not the token in the alert was detected in more than one location."
          }
        },
        "assigned_to": {
          "target": "com.github.secret_scanning#NullableSimpleUser",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "closure_request_comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional comment from the closure request author.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "closure_request_reviewer_comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional comment from the closure request reviewer.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "closure_request_reviewer": {
          "target": "com.github.secret_scanning#NullableSimpleUser",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.github.secret_scanning#SecretScanningAlertState": {
      "type": "enum",
      "members": {
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        },
        "RESOLVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resolved"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sets the state of the secret scanning alert. You must provide `resolution` when you set the state to `resolved`."
      }
    },
    "com.github.secret_scanning#SecretScanningAlertResolution": {
      "type": "enum",
      "members": {
        "FALSE_POSITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "false_positive"
          }
        },
        "WONT_FIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wont_fix"
          }
        },
        "REVOKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "revoked"
          }
        },
        "USED_IN_TESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "used_in_tests"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**Required when the `state` is `resolved`.** The reason for resolving the alert."
      }
    },
    "com.github.secret_scanning#NullableSimpleUser": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "login": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatar_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gravatar_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "followers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "following_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gists_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "starred_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subscriptions_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "organizations_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repos_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "received_events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "site_admin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "starred_at": {
          "target": "smithy.api#String"
        },
        "user_view_type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "A GitHub user."
      }
    },
    "com.github.secret_scanning#SimpleRepository": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "A unique identifier of the repository.",
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GraphQL identifier of the repository.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the repository.",
            "smithy.api#required": {}
          }
        },
        "full_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full, globally unique, name of the repository.",
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "com.github.secret_scanning#SimpleUser",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "private": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the repository is private.",
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to view the repository on GitHub.com.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The repository description.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "fork": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the repository is a fork.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to get more information about the repository from the GitHub API.",
            "smithy.api#required": {}
          }
        },
        "archive_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to download the repository as an archive.",
            "smithy.api#required": {}
          }
        },
        "assignees_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to list the available assignees for issues in the repository.",
            "smithy.api#required": {}
          }
        },
        "blobs_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to create or retrieve a raw Git blob in the repository.",
            "smithy.api#required": {}
          }
        },
        "branches_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about branches in the repository.",
            "smithy.api#required": {}
          }
        },
        "collaborators_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about collaborators of the repository.",
            "smithy.api#required": {}
          }
        },
        "comments_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about comments on the repository.",
            "smithy.api#required": {}
          }
        },
        "commits_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about commits on the repository.",
            "smithy.api#required": {}
          }
        },
        "compare_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to compare two commits or refs.",
            "smithy.api#required": {}
          }
        },
        "contents_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get the contents of the repository.",
            "smithy.api#required": {}
          }
        },
        "contributors_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to list the contributors to the repository.",
            "smithy.api#required": {}
          }
        },
        "deployments_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to list the deployments of the repository.",
            "smithy.api#required": {}
          }
        },
        "downloads_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to list the downloads on the repository.",
            "smithy.api#required": {}
          }
        },
        "events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to list the events of the repository.",
            "smithy.api#required": {}
          }
        },
        "forks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to list the forks of the repository.",
            "smithy.api#required": {}
          }
        },
        "git_commits_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about Git commits of the repository.",
            "smithy.api#required": {}
          }
        },
        "git_refs_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about Git refs of the repository.",
            "smithy.api#required": {}
          }
        },
        "git_tags_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about Git tags of the repository.",
            "smithy.api#required": {}
          }
        },
        "issue_comment_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about issue comments on the repository.",
            "smithy.api#required": {}
          }
        },
        "issue_events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about issue events on the repository.",
            "smithy.api#required": {}
          }
        },
        "issues_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about issues on the repository.",
            "smithy.api#required": {}
          }
        },
        "keys_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about deploy keys on the repository.",
            "smithy.api#required": {}
          }
        },
        "labels_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about labels of the repository.",
            "smithy.api#required": {}
          }
        },
        "languages_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to get information about the languages of the repository.",
            "smithy.api#required": {}
          }
        },
        "merges_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to merge branches in the repository.",
            "smithy.api#required": {}
          }
        },
        "milestones_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about milestones of the repository.",
            "smithy.api#required": {}
          }
        },
        "notifications_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about notifications on the repository.",
            "smithy.api#required": {}
          }
        },
        "pulls_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about pull requests on the repository.",
            "smithy.api#required": {}
          }
        },
        "releases_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about releases on the repository.",
            "smithy.api#required": {}
          }
        },
        "stargazers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to list the stargazers on the repository.",
            "smithy.api#required": {}
          }
        },
        "statuses_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to get information about statuses of a commit.",
            "smithy.api#required": {}
          }
        },
        "subscribers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to list the subscribers on the repository.",
            "smithy.api#required": {}
          }
        },
        "subscription_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to subscribe to notifications for this repository.",
            "smithy.api#required": {}
          }
        },
        "tags_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to get information about tags on the repository.",
            "smithy.api#required": {}
          }
        },
        "teams_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to list the teams on the repository.",
            "smithy.api#required": {}
          }
        },
        "trees_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template for the API URL to create or retrieve a raw Git tree of the repository.",
            "smithy.api#required": {}
          }
        },
        "hooks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to list the hooks on the repository.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A GitHub repository."
      }
    },
    "com.github.secret_scanning#SimpleUser": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "login": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatar_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gravatar_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "followers_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "following_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gists_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "starred_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subscriptions_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "organizations_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repos_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "received_events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "site_admin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "starred_at": {
          "target": "smithy.api#String"
        },
        "user_view_type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "A GitHub user."
      }
    },
    "com.github.secret_scanning#OrganizationSecretScanningAlertValidity": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The token status as of the latest validity check."
      }
    },
    "com.github.secret_scanning#NullableSecretScanningFirstDetectedLocation": {
      "type": "union",
      "members": {
        "SecretScanningLocationCommit": {
          "target": "com.github.secret_scanning#SecretScanningLocationCommit"
        },
        "SecretScanningLocationWikiCommit": {
          "target": "com.github.secret_scanning#SecretScanningLocationWikiCommit"
        },
        "SecretScanningLocationIssueTitle": {
          "target": "com.github.secret_scanning#SecretScanningLocationIssueTitle"
        },
        "SecretScanningLocationIssueBody": {
          "target": "com.github.secret_scanning#SecretScanningLocationIssueBody"
        },
        "SecretScanningLocationIssueComment": {
          "target": "com.github.secret_scanning#SecretScanningLocationIssueComment"
        },
        "SecretScanningLocationDiscussionTitle": {
          "target": "com.github.secret_scanning#SecretScanningLocationDiscussionTitle"
        },
        "SecretScanningLocationDiscussionBody": {
          "target": "com.github.secret_scanning#SecretScanningLocationDiscussionBody"
        },
        "SecretScanningLocationDiscussionComment": {
          "target": "com.github.secret_scanning#SecretScanningLocationDiscussionComment"
        },
        "SecretScanningLocationPullRequestTitle": {
          "target": "com.github.secret_scanning#SecretScanningLocationPullRequestTitle"
        },
        "SecretScanningLocationPullRequestBody": {
          "target": "com.github.secret_scanning#SecretScanningLocationPullRequestBody"
        },
        "SecretScanningLocationPullRequestComment": {
          "target": "com.github.secret_scanning#SecretScanningLocationPullRequestComment"
        },
        "SecretScanningLocationPullRequestReview": {
          "target": "com.github.secret_scanning#SecretScanningLocationPullRequestReview"
        },
        "SecretScanningLocationPullRequestReviewComment": {
          "target": "com.github.secret_scanning#SecretScanningLocationPullRequestReviewComment"
        }
      },
      "traits": {
        "smithy.api#documentation": "Details on the location where the token was initially detected. This can be a commit, wiki commit, issue, discussion, pull request.\n"
      }
    },
    "com.github.secret_scanning#SecretScanningLocationCommit": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The file path in the repository",
            "smithy.api#required": {}
          }
        },
        "start_line": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Line number at which the secret starts in the file",
            "smithy.api#required": {}
          }
        },
        "end_line": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Line number at which the secret ends in the file",
            "smithy.api#required": {}
          }
        },
        "start_column": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The column at which the secret starts within the start line when the file is interpreted as 8BIT ASCII",
            "smithy.api#required": {}
          }
        },
        "end_column": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The column at which the secret ends within the end line when the file is interpreted as 8BIT ASCII",
            "smithy.api#required": {}
          }
        },
        "blob_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SHA-1 hash ID of the associated blob",
            "smithy.api#required": {}
          }
        },
        "blob_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to get the associated blob resource",
            "smithy.api#required": {}
          }
        },
        "commit_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SHA-1 hash ID of the associated commit",
            "smithy.api#required": {}
          }
        },
        "commit_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to get the associated commit resource",
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GitHub URL to get the associated commit resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a 'commit' secret scanning location type. This location type shows that a secret was detected inside a commit to a repository."
      }
    },
    "com.github.secret_scanning#SecretScanningLocationWikiCommit": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The file path of the wiki page",
            "smithy.api#required": {}
          }
        },
        "start_line": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Line number at which the secret starts in the file",
            "smithy.api#required": {}
          }
        },
        "end_line": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Line number at which the secret ends in the file",
            "smithy.api#required": {}
          }
        },
        "start_column": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The column at which the secret starts within the start line when the file is interpreted as 8-bit ASCII.",
            "smithy.api#required": {}
          }
        },
        "end_column": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The column at which the secret ends within the end line when the file is interpreted as 8-bit ASCII.",
            "smithy.api#required": {}
          }
        },
        "blob_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SHA-1 hash ID of the associated blob",
            "smithy.api#required": {}
          }
        },
        "page_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GitHub URL to get the associated wiki page",
            "smithy.api#required": {}
          }
        },
        "commit_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SHA-1 hash ID of the associated commit",
            "smithy.api#required": {}
          }
        },
        "commit_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GitHub URL to get the associated wiki commit",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a 'wiki_commit' secret scanning location type. This location type shows that a secret was detected inside a commit to a repository wiki."
      }
    },
    "com.github.secret_scanning#SecretScanningLocationIssueTitle": {
      "type": "structure",
      "members": {
        "issue_title_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to get the issue where the secret was detected.",
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GitHub URL for the issue where the secret was detected."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an 'issue_title' secret scanning location type. This location type shows that a secret was detected in the title of an issue."
      }
    },
    "com.github.secret_scanning#SecretScanningLocationIssueBody": {
      "type": "structure",
      "members": {
        "issue_body_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to get the issue where the secret was detected.",
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GitHub URL for the issue where the secret was detected."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an 'issue_body' secret scanning location type. This location type shows that a secret was detected in the body of an issue."
      }
    },
    "com.github.secret_scanning#SecretScanningLocationIssueComment": {
      "type": "structure",
      "members": {
        "issue_comment_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to get the issue comment where the secret was detected.",
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GitHub URL for the issue comment where the secret was detected."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an 'issue_comment' secret scanning location type. This location type shows that a secret was detected in a comment on an issue."
      }
    },
    "com.github.secret_scanning#SecretScanningLocationDiscussionTitle": {
      "type": "structure",
      "members": {
        "discussion_title_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to the discussion where the secret was detected.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a 'discussion_title' secret scanning location type. This location type shows that a secret was detected in the title of a discussion."
      }
    },
    "com.github.secret_scanning#SecretScanningLocationDiscussionBody": {
      "type": "structure",
      "members": {
        "discussion_body_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to the discussion where the secret was detected.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a 'discussion_body' secret scanning location type. This location type shows that a secret was detected in the body of a discussion."
      }
    },
    "com.github.secret_scanning#SecretScanningLocationDiscussionComment": {
      "type": "structure",
      "members": {
        "discussion_comment_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to get the discussion comment where the secret was detected.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a 'discussion_comment' secret scanning location type. This location type shows that a secret was detected in a comment on a discussion."
      }
    },
    "com.github.secret_scanning#SecretScanningLocationPullRequestTitle": {
      "type": "structure",
      "members": {
        "pull_request_title_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to get the pull request where the secret was detected.",
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GitHub URL for the pull request where the secret was detected."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a 'pull_request_title' secret scanning location type. This location type shows that a secret was detected in the title of a pull request."
      }
    },
    "com.github.secret_scanning#SecretScanningLocationPullRequestBody": {
      "type": "structure",
      "members": {
        "pull_request_body_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to get the pull request where the secret was detected.",
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GitHub URL for the pull request where the secret was detected."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a 'pull_request_body' secret scanning location type. This location type shows that a secret was detected in the body of a pull request."
      }
    },
    "com.github.secret_scanning#SecretScanningLocationPullRequestComment": {
      "type": "structure",
      "members": {
        "pull_request_comment_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to get the pull request comment where the secret was detected.",
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GitHub URL for the pull request comment where the secret was detected."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a 'pull_request_comment' secret scanning location type. This location type shows that a secret was detected in a comment on a pull request."
      }
    },
    "com.github.secret_scanning#SecretScanningLocationPullRequestReview": {
      "type": "structure",
      "members": {
        "pull_request_review_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to get the pull request review where the secret was detected.",
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GitHub URL for the pull request review where the secret was detected."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a 'pull_request_review' secret scanning location type. This location type shows that a secret was detected in a review on a pull request."
      }
    },
    "com.github.secret_scanning#SecretScanningLocationPullRequestReviewComment": {
      "type": "structure",
      "members": {
        "pull_request_review_comment_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API URL to get the pull request review comment where the secret was detected.",
            "smithy.api#required": {}
          }
        },
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GitHub URL for the pull request review comment where the secret was detected."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a 'pull_request_review_comment' secret scanning location type. This location type shows that a secret was detected in a review comment on a pull request."
      }
    },
    "com.github.secret_scanning#ListAlertsForOrgResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.github.secret_scanning#OrganizationSecretScanningAlert"
      },
      "traits": {}
    },
    "com.github.secret_scanning#ListAlertsForOrgResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.github.secret_scanning#ListAlertsForOrgResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.secret_scanning#ListAlertsForOrg": {
      "type": "operation",
      "input": {
        "target": "com.github.secret_scanning#ListAlertsForOrgRequest"
      },
      "output": {
        "target": "com.github.secret_scanning#ListAlertsForOrgResponse"
      },
      "errors": [
        {
          "target": "com.github.secret_scanning#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/secret-scanning/alerts",
          "code": 200
        },
        "smithy.api#documentation": "List secret scanning alerts for an organization\n\nLists secret scanning alerts for eligible repositories in an organization, from newest to oldest.\n\nThe authenticated user must be an administrator or security manager for the organization to use this endpoint.\n\nOAuth app tokens and personal access tokens (classic) need the `repo` or `security_events` scope to use this endpoint. If this endpoint is only used with public repositories, the token can use the `public_repo` scope instead."
      }
    },
    "com.github.secret_scanning#ListOrgCustomPatternsRequestState": {
      "type": "enum",
      "members": {
        "PUBLISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "published"
          }
        },
        "UNPUBLISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unpublished"
          }
        }
      },
      "traits": {}
    },
    "com.github.secret_scanning#ListOrgCustomPatternsRequestPushProtection": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {}
    },
    "com.github.secret_scanning#ListOrgCustomPatternsRequestSort": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated"
          }
        },
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        }
      },
      "traits": {}
    },
    "com.github.secret_scanning#ListOrgCustomPatternsRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.github.secret_scanning#ListOrgCustomPatternsRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "state": {
          "target": "com.github.secret_scanning#ListOrgCustomPatternsRequestState",
          "traits": {
            "smithy.api#httpQuery": "state",
            "smithy.api#documentation": "Filter custom patterns by state. When absent, returns patterns in all states."
          }
        },
        "push_protection": {
          "target": "com.github.secret_scanning#ListOrgCustomPatternsRequestPushProtection",
          "traits": {
            "smithy.api#httpQuery": "push_protection",
            "smithy.api#documentation": "Filter custom patterns by whether push protection is enabled. When absent, returns patterns regardless of push protection status."
          }
        },
        "sort": {
          "target": "com.github.secret_scanning#ListOrgCustomPatternsRequestSort",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "The property to sort the results by."
          }
        },
        "direction": {
          "target": "com.github.secret_scanning#ListOrgCustomPatternsRequestDirection",
          "traits": {
            "smithy.api#httpQuery": "direction",
            "smithy.api#documentation": "The direction to sort the results by."
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "The page number of the results to fetch. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "The number of results per page (max 100). For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\""
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.secret_scanning#SecretScanningCustomPattern": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the custom pattern.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the custom pattern.",
            "smithy.api#required": {}
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The regular expression of the custom pattern.",
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL-friendly identifier for the custom pattern, derived from its name.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.github.secret_scanning#SecretScanningCustomPatternState",
          "traits": {
            "smithy.api#documentation": "The state of the custom pattern.",
            "smithy.api#required": {}
          }
        },
        "push_protection_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether push protection is enabled for this custom pattern.",
            "smithy.api#required": {}
          }
        },
        "start_delimiter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start delimiter regex for the custom pattern.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "end_delimiter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end delimiter regex for the custom pattern.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "must_match": {
          "target": "com.github.secret_scanning#SecretScanningCustomPatternMustMatchList",
          "traits": {
            "smithy.api#documentation": "List of regexes that the secret must match.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "must_not_match": {
          "target": "com.github.secret_scanning#SecretScanningCustomPatternMustNotMatchList",
          "traits": {
            "smithy.api#documentation": "List of regexes that the secret must not match.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "custom_pattern_version": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the custom pattern was created in ISO 8601 format."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the custom pattern was last updated in ISO 8601 format."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A custom pattern for secret scanning."
      }
    },
    "com.github.secret_scanning#SecretScanningCustomPatternState": {
      "type": "enum",
      "members": {
        "PUBLISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "published"
          }
        },
        "UNPUBLISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unpublished"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of the custom pattern."
      }
    },
    "com.github.secret_scanning#SecretScanningCustomPatternMustMatchList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of regexes that the secret must match."
      }
    },
    "com.github.secret_scanning#SecretScanningCustomPatternMustNotMatchList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of regexes that the secret must not match."
      }
    },
    "com.github.secret_scanning#ListOrgCustomPatternsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.github.secret_scanning#SecretScanningCustomPattern"
      },
      "traits": {}
    },
    "com.github.secret_scanning#ListOrgCustomPatternsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.github.secret_scanning#ListOrgCustomPatternsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.secret_scanning#ListOrgCustomPatterns": {
      "type": "operation",
      "input": {
        "target": "com.github.secret_scanning#ListOrgCustomPatternsRequest"
      },
      "output": {
        "target": "com.github.secret_scanning#ListOrgCustomPatternsResponse"
      },
      "errors": [
        {
          "target": "com.github.secret_scanning#Forbidden"
        },
        {
          "target": "com.github.secret_scanning#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/secret-scanning/custom-patterns",
          "code": 200
        },
        "smithy.api#documentation": "List organization custom patterns\n\nLists secret scanning custom patterns for an organization.\n\nPersonal access tokens (classic) need the `read:org` scope to use this endpoint."
      }
    },
    "com.github.secret_scanning#SecretScanningCustomPatternToCreate": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the custom pattern.",
            "smithy.api#required": {}
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The regular expression of the custom pattern.",
            "smithy.api#required": {}
          }
        },
        "start_delimiter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start delimiter regex for the custom pattern.\nDefaults to `\\A|[^0-9A-Za-z]` when not specified."
          }
        },
        "end_delimiter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end delimiter regex for the custom pattern.\nDefaults to `\\z|[^0-9A-Za-z]` when not specified."
          }
        },
        "must_match": {
          "target": "com.github.secret_scanning#SecretScanningCustomPatternToCreateMustMatchList",
          "traits": {
            "smithy.api#documentation": "List of regexes that the secret must match."
          }
        },
        "must_not_match": {
          "target": "com.github.secret_scanning#SecretScanningCustomPatternToCreateMustNotMatchList",
          "traits": {
            "smithy.api#documentation": "List of regexes that the secret must not match."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A custom pattern to create in a bulk operation."
      }
    },
    "com.github.secret_scanning#SecretScanningCustomPatternToCreateMustMatchList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of regexes that the secret must match."
      }
    },
    "com.github.secret_scanning#SecretScanningCustomPatternToCreateMustNotMatchList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of regexes that the secret must not match."
      }
    },
    "com.github.secret_scanning#BulkCreateOrgCustomPatternsRequestPatternsList": {
      "type": "list",
      "member": {
        "target": "com.github.secret_scanning#SecretScanningCustomPatternToCreate"
      },
      "traits": {
        "smithy.api#documentation": "The list of custom patterns to create."
      }
    },
    "com.github.secret_scanning#BulkCreateOrgCustomPatternsRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "patterns": {
          "target": "com.github.secret_scanning#BulkCreateOrgCustomPatternsRequestPatternsList",
          "traits": {
            "smithy.api#documentation": "The list of custom patterns to create.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.secret_scanning#BulkCreateOrgCustomPatternsResponseCreatedPatternsList": {
      "type": "list",
      "member": {
        "target": "com.github.secret_scanning#SecretScanningCustomPattern"
      },
      "traits": {
        "smithy.api#documentation": "The list of successfully created custom patterns."
      }
    },
    "com.github.secret_scanning#BulkCreateOrgCustomPatternsResponse": {
      "type": "structure",
      "members": {
        "created_patterns": {
          "target": "com.github.secret_scanning#BulkCreateOrgCustomPatternsResponseCreatedPatternsList",
          "traits": {
            "smithy.api#documentation": "The list of successfully created custom patterns."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.secret_scanning#BulkCreateOrgCustomPatterns": {
      "type": "operation",
      "input": {
        "target": "com.github.secret_scanning#BulkCreateOrgCustomPatternsRequest"
      },
      "output": {
        "target": "com.github.secret_scanning#BulkCreateOrgCustomPatternsResponse"
      },
      "errors": [
        {
          "target": "com.github.secret_scanning#BadRequest"
        },
        {
          "target": "com.github.secret_scanning#Forbidden"
        },
        {
          "target": "com.github.secret_scanning#NotFound"
        },
        {
          "target": "com.github.secret_scanning#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/orgs/{org}/secret-scanning/custom-patterns",
          "code": 200
        },
        "smithy.api#documentation": "Bulk create organization custom patterns\n\nBulk creates secret scanning custom patterns for an organization.\n\nPersonal access tokens (classic) need the `write:org` scope to use this endpoint."
      }
    },
    "com.github.secret_scanning#SecretScanningCustomPatternToDelete": {
      "type": "structure",
      "members": {
        "pattern_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the custom pattern to delete.",
            "smithy.api#required": {}
          }
        },
        "custom_pattern_version": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A custom pattern to delete in a bulk operation."
      }
    },
    "com.github.secret_scanning#BulkDeleteOrgCustomPatternsRequestPatternsList": {
      "type": "list",
      "member": {
        "target": "com.github.secret_scanning#SecretScanningCustomPatternToDelete"
      },
      "traits": {
        "smithy.api#documentation": "The list of custom patterns to delete."
      }
    },
    "com.github.secret_scanning#BulkDeleteOrgCustomPatternsRequestPostDeleteAction": {
      "type": "enum",
      "members": {
        "DELETE_ALERTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete_alerts"
          }
        },
        "RESOLVE_ALERTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resolve_alerts"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "What to do with alerts associated with the deleted patterns.\n`delete_alerts` permanently removes the alerts.\n`resolve_alerts` resolves the alerts as \"pattern deleted\".\nDefaults to `delete_alerts` when not specified."
      }
    },
    "com.github.secret_scanning#BulkDeleteOrgCustomPatternsRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "patterns": {
          "target": "com.github.secret_scanning#BulkDeleteOrgCustomPatternsRequestPatternsList",
          "traits": {
            "smithy.api#documentation": "The list of custom patterns to delete.",
            "smithy.api#required": {}
          }
        },
        "post_delete_action": {
          "target": "com.github.secret_scanning#BulkDeleteOrgCustomPatternsRequestPostDeleteAction",
          "traits": {
            "smithy.api#documentation": "What to do with alerts associated with the deleted patterns.\n`delete_alerts` permanently removes the alerts.\n`resolve_alerts` resolves the alerts as \"pattern deleted\".\nDefaults to `delete_alerts` when not specified."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.secret_scanning#BulkDeleteOrgCustomPatterns": {
      "type": "operation",
      "input": {
        "target": "com.github.secret_scanning#BulkDeleteOrgCustomPatternsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.github.secret_scanning#BadRequest"
        },
        {
          "target": "com.github.secret_scanning#Forbidden"
        },
        {
          "target": "com.github.secret_scanning#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/orgs/{org}/secret-scanning/custom-patterns",
          "code": 200
        },
        "smithy.api#documentation": "Bulk delete organization custom patterns\n\nBulk deletes secret scanning custom patterns for an organization.\n\nPersonal access tokens (classic) need the `write:org` scope to use this endpoint."
      }
    },
    "com.github.secret_scanning#UpdateOrgCustomPatternRequestMustMatchList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Updated list of regexes that the secret must match."
      }
    },
    "com.github.secret_scanning#UpdateOrgCustomPatternRequestMustNotMatchList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Updated list of regexes that the secret must not match."
      }
    },
    "com.github.secret_scanning#UpdateOrgCustomPatternRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "pattern_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the custom pattern."
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The updated regular expression of the custom pattern."
          }
        },
        "start_delimiter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The updated start delimiter regex for the custom pattern."
          }
        },
        "end_delimiter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The updated end delimiter regex for the custom pattern."
          }
        },
        "must_match": {
          "target": "com.github.secret_scanning#UpdateOrgCustomPatternRequestMustMatchList",
          "traits": {
            "smithy.api#documentation": "Updated list of regexes that the secret must match."
          }
        },
        "must_not_match": {
          "target": "com.github.secret_scanning#UpdateOrgCustomPatternRequestMustNotMatchList",
          "traits": {
            "smithy.api#documentation": "Updated list of regexes that the secret must not match."
          }
        },
        "custom_pattern_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.secret_scanning#UpdateOrgCustomPattern": {
      "type": "operation",
      "input": {
        "target": "com.github.secret_scanning#UpdateOrgCustomPatternRequest"
      },
      "output": {
        "target": "com.github.secret_scanning#SecretScanningCustomPattern"
      },
      "errors": [
        {
          "target": "com.github.secret_scanning#BadRequest"
        },
        {
          "target": "com.github.secret_scanning#Forbidden"
        },
        {
          "target": "com.github.secret_scanning#NotFound"
        },
        {
          "target": "com.github.secret_scanning#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/orgs/{org}/secret-scanning/custom-patterns/{pattern_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update an organization custom pattern\n\nUpdates a secret scanning custom pattern for an organization.\n\nPersonal access tokens (classic) need the `write:org` scope to use this endpoint."
      }
    },
    "com.github.secret_scanning#ListOrgPatternConfigsRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.secret_scanning#SecretScanningPatternConfiguration": {
      "type": "structure",
      "members": {
        "pattern_config_version": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "provider_pattern_overrides": {
          "target": "com.github.secret_scanning#SecretScanningPatternConfigurationProviderPatternOverridesList",
          "traits": {
            "smithy.api#documentation": "Overrides for partner patterns."
          }
        },
        "custom_pattern_overrides": {
          "target": "com.github.secret_scanning#SecretScanningPatternConfigurationCustomPatternOverridesList",
          "traits": {
            "smithy.api#documentation": "Overrides for custom patterns defined by the organization."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of secret scanning patterns and their settings related to push protection."
      }
    },
    "com.github.secret_scanning#SecretScanningPatternOverride": {
      "type": "structure",
      "members": {
        "token_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the pattern."
          }
        },
        "custom_pattern_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of this pattern if it's a custom pattern.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug of the pattern."
          }
        },
        "display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user-friendly name for the pattern."
          }
        },
        "alert_total": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of alerts generated by this pattern."
          }
        },
        "alert_total_percentage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The percentage of all alerts that this pattern represents, rounded to the nearest integer."
          }
        },
        "false_positives": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of false positive alerts generated by this pattern."
          }
        },
        "false_positive_rate": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The percentage of alerts from this pattern that are false positives, rounded to the nearest integer."
          }
        },
        "bypass_rate": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The percentage of blocks for this pattern that were bypassed, rounded to the nearest integer."
          }
        },
        "default_setting": {
          "target": "com.github.secret_scanning#SecretScanningPatternOverrideDefaultSetting",
          "traits": {
            "smithy.api#documentation": "The default push protection setting for this pattern."
          }
        },
        "enterprise_setting": {
          "target": "com.github.secret_scanning#SecretScanningPatternOverrideEnterpriseSetting",
          "traits": {
            "smithy.api#documentation": "The push protection setting for this pattern set at the enterprise level. Only present for partner patterns when the organization has a parent enterprise.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "setting": {
          "target": "com.github.secret_scanning#SecretScanningPatternOverrideSetting",
          "traits": {
            "smithy.api#documentation": "The current push protection setting for this pattern. If this is `not-set`, then it inherits either the enterprise setting if it exists or the default setting."
          }
        }
      },
      "traits": {}
    },
    "com.github.secret_scanning#SecretScanningPatternOverrideDefaultSetting": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The default push protection setting for this pattern."
      }
    },
    "com.github.secret_scanning#SecretScanningPatternOverrideEnterpriseSetting": {
      "type": "enum",
      "members": {
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not-set"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The push protection setting for this pattern set at the enterprise level. Only present for partner patterns when the organization has a parent enterprise."
      }
    },
    "com.github.secret_scanning#SecretScanningPatternOverrideSetting": {
      "type": "enum",
      "members": {
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not-set"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current push protection setting for this pattern. If this is `not-set`, then it inherits either the enterprise setting if it exists or the default setting."
      }
    },
    "com.github.secret_scanning#SecretScanningPatternConfigurationProviderPatternOverridesList": {
      "type": "list",
      "member": {
        "target": "com.github.secret_scanning#SecretScanningPatternOverride"
      },
      "traits": {
        "smithy.api#documentation": "Overrides for partner patterns."
      }
    },
    "com.github.secret_scanning#SecretScanningPatternConfigurationCustomPatternOverridesList": {
      "type": "list",
      "member": {
        "target": "com.github.secret_scanning#SecretScanningPatternOverride"
      },
      "traits": {
        "smithy.api#documentation": "Overrides for custom patterns defined by the organization."
      }
    },
    "com.github.secret_scanning#ListOrgPatternConfigs": {
      "type": "operation",
      "input": {
        "target": "com.github.secret_scanning#ListOrgPatternConfigsRequest"
      },
      "output": {
        "target": "com.github.secret_scanning#SecretScanningPatternConfiguration"
      },
      "errors": [
        {
          "target": "com.github.secret_scanning#Forbidden"
        },
        {
          "target": "com.github.secret_scanning#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orgs/{org}/secret-scanning/pattern-configurations",
          "code": 200
        },
        "smithy.api#documentation": "List organization pattern configurations\n\nLists the secret scanning pattern configurations for an organization.\n\nPersonal access tokens (classic) need the `read:org` scope to use this endpoint."
      }
    },
    "com.github.secret_scanning#UpdateOrgPatternConfigsRequestProviderPatternSettingsItemPushProtectionSetting": {
      "type": "enum",
      "members": {
        "NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not-set"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Push protection setting to set for the pattern."
      }
    },
    "com.github.secret_scanning#UpdateOrgPatternConfigsRequestProviderPatternSettingsItem": {
      "type": "structure",
      "members": {
        "token_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the pattern to configure."
          }
        },
        "push_protection_setting": {
          "target": "com.github.secret_scanning#UpdateOrgPatternConfigsRequestProviderPatternSettingsItemPushProtectionSetting",
          "traits": {
            "smithy.api#documentation": "Push protection setting to set for the pattern."
          }
        }
      },
      "traits": {}
    },
    "com.github.secret_scanning#UpdateOrgPatternConfigsRequestProviderPatternSettingsList": {
      "type": "list",
      "member": {
        "target": "com.github.secret_scanning#UpdateOrgPatternConfigsRequestProviderPatternSettingsItem"
      },
      "traits": {
        "smithy.api#documentation": "Pattern settings for provider patterns."
      }
    },
    "com.github.secret_scanning#UpdateOrgPatternConfigsRequestCustomPatternSettingsItemPushProtectionSetting": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Push protection setting to set for the pattern."
      }
    },
    "com.github.secret_scanning#UpdateOrgPatternConfigsRequestCustomPatternSettingsItem": {
      "type": "structure",
      "members": {
        "token_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the pattern to configure."
          }
        },
        "custom_pattern_version": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "push_protection_setting": {
          "target": "com.github.secret_scanning#UpdateOrgPatternConfigsRequestCustomPatternSettingsItemPushProtectionSetting",
          "traits": {
            "smithy.api#documentation": "Push protection setting to set for the pattern."
          }
        }
      },
      "traits": {}
    },
    "com.github.secret_scanning#UpdateOrgPatternConfigsRequestCustomPatternSettingsList": {
      "type": "list",
      "member": {
        "target": "com.github.secret_scanning#UpdateOrgPatternConfigsRequestCustomPatternSettingsItem"
      },
      "traits": {
        "smithy.api#documentation": "Pattern settings for custom patterns."
      }
    },
    "com.github.secret_scanning#UpdateOrgPatternConfigsRequest": {
      "type": "structure",
      "members": {
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The organization name. The name is not case sensitive."
          }
        },
        "pattern_config_version": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "provider_pattern_settings": {
          "target": "com.github.secret_scanning#UpdateOrgPatternConfigsRequestProviderPatternSettingsList",
          "traits": {
            "smithy.api#documentation": "Pattern settings for provider patterns."
          }
        },
        "custom_pattern_settings": {
          "target": "com.github.secret_scanning#UpdateOrgPatternConfigsRequestCustomPatternSettingsList",
          "traits": {
            "smithy.api#documentation": "Pattern settings for custom patterns."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.github.secret_scanning#UpdateOrgPatternConfigsResponse": {
      "type": "structure",
      "members": {
        "pattern_config_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The updated pattern configuration version."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.github.secret_scanning#UpdateOrgPatternConfigs": {
      "type": "operation",
      "input": {
        "target": "com.github.secret_scanning#UpdateOrgPatternConfigsRequest"
      },
      "output": {
        "target": "com.github.secret_scanning#UpdateOrgPatternConfigsResponse"
      },
      "errors": [
        {
          "target": "com.github.secret_scanning#BadRequest"
        },
        {
          "target": "com.github.secret_scanning#Forbidden"
        },
        {
          "target": "com.github.secret_scanning#NotFound"
        },
        {
          "target": "com.github.secret_scanning#Conflict"
        },
        {
          "target": "com.github.secret_scanning#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/orgs/{org}/secret-scanning/pattern-configurations",
          "code": 200
        },
        "smithy.api#documentation": "Update organization pattern configurations\n\nUpdates the secret scanning pattern configurations for an organization.\n\nPersonal access tokens (classic) need the `write:org` scope to use this endpoint."
      }
    },
    "com.github.secret_scanning#ListAlertsForRepoRequestState": {
      "type": "enum",
      "members": {
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        },
        "RESOLVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resolved"
          }
        }
      },
      "traits": {}
    },
    "com.github.secret_scanning#ListAlertsForRepoRequestSort": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated"
          }
        }
      },
      "traits": {}
    },
    "com.github.secret_scanning#ListAlertsForRepoRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.github.secret_scanning#ListAlertsForRepoRequest": {
      "type": "structure",
      "members": {
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The account owner of the repository. The name is not case sensitive."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the repository without the `.git` extension. The name is not case sensitive."
          }
        },
        "state": {
          "target": "com.github.secret_scanning#ListAlertsForRepoRequestState",
          "traits": {
            "smithy.api#httpQuery": "state",
            "smithy.api#documentation": "Set to `open` or `resolved` to only list secret scanning alerts in a specific state."
          }
        },
        "secret_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "secret_type",
            "smithy.api#documentation": "A comma-separated list of secret types to return. All default secret patterns are returned. To return generic patterns, pass the token name(s) in the parameter. See \"[Supported secret scanning patterns](https://docs.github.com/code-security/secret-scanning/introduction/supported-secret-scanning-patterns#supported-secrets)\" for a complete list of secret types."
          }
        },
        "exclude_secret_types": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "exclude_secret_types",
            "smithy.api#documentation": "A comma-separated list of secret types to exclude from the results. All default secret patterns are returned except those matching the specified types. Cannot be combined with the `secret_type` parameter. See \"[Supported secret scanning patterns](https://docs.github.com/code-security/secret-scanning/introduction/supported-secret-scanning-patterns#supported-secrets)\" for a complete list of secret types."
          }
        },
        "exclude_providers": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "exclude_providers",
            "smithy.api#documentation": "A comma-separated list of provider slugs to exclude from the results.\nProvider slugs use lowercase with underscores (e.g., `github_secret_scanning`, `clojars`).\nYou can find the provider slug in the `provider_slug` field of each alert.\nCannot be combined with the `providers` parameter."
          }
        },
        "providers": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "providers",
            "smithy.api#documentation": "A comma-separated list of provider slugs to filter by.\nProvider slugs use lowercase with underscores (e.g., `github_secret_scanning`, `clojars`).\nYou can find the provider slug in the `provider_slug` field of each alert.\nCannot be combined with the `exclude_providers` parameter."
          }
        },
        "resolution": {
          "target": "smithy.api#String",
          "traits": {
[...]
