{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.paypal.checkout_orders_v2#CheckoutPaymentIntent": {
      "type": "enum",
      "members": {
        "CAPTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAPTURE"
          }
        },
        "AUTHORIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTHORIZE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The intent to either capture payment immediately or authorize a payment for an order after order creation."
      }
    },
    "com.paypal.checkout_orders_v2#CreateOrderRequestPayerName": {
      "type": "structure",
      "members": {
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The prefix, or title, to the party's name."
          }
        },
        "given_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the party is a person, the party's given, or first, name."
          }
        },
        "surname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the party is a person, the party's surname or family name. Also known as the last name. Required when the party is a person. Use also to store multiple surnames including the matronymic, or mother's, surname."
          }
        },
        "middle_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the party is a person, the party's middle name. Use also to store multiple middle names including the patronymic, or father's, middle name."
          }
        },
        "suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The suffix for the party's name."
          }
        },
        "full_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the party is a person, the party's full name."
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#PhoneType": {
      "type": "enum",
      "members": {
        "FAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAX"
          }
        },
        "HOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOME"
          }
        },
        "MOBILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        },
        "PAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAGER"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The phone type."
      }
    },
    "com.paypal.checkout_orders_v2#CreateOrderRequestPayerPhonePhoneNumber": {
      "type": "structure",
      "members": {
        "national_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The national number, in its canonical international [E.164 numbering plan format](https://www.itu.int/rec/T-REC-E.164/en). The combined length of the country calling code (CC) and the national number must not be greater than 15 digits. The national number consists of a national destination code (NDC) and subscriber number (SN).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#CreateOrderRequestPayerPhone": {
      "type": "structure",
      "members": {
        "phone_type": {
          "target": "com.paypal.checkout_orders_v2#PhoneType"
        },
        "phone_number": {
          "target": "com.paypal.checkout_orders_v2#CreateOrderRequestPayerPhonePhoneNumber",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#CreateOrderRequestPayerTaxInfoTaxIdType": {
      "type": "enum",
      "members": {
        "BR_CPF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BR_CPF"
          }
        },
        "BR_CNPJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BR_CNPJ"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The customer's tax ID type."
      }
    },
    "com.paypal.checkout_orders_v2#CreateOrderRequestPayerTaxInfo": {
      "type": "structure",
      "members": {
        "tax_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The customer's tax ID value.",
            "smithy.api#required": {}
          }
        },
        "tax_id_type": {
          "target": "com.paypal.checkout_orders_v2#CreateOrderRequestPayerTaxInfoTaxIdType",
          "traits": {
            "smithy.api#documentation": "The customer's tax ID type.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#CreateOrderRequestPayerAddressAddressDetails": {
      "type": "structure",
      "members": {
        "street_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The street number."
          }
        },
        "street_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The street name. Just `Drury` in `Drury Lane`."
          }
        },
        "street_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The street type. For example, avenue, boulevard, road, or expressway."
          }
        },
        "delivery_service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The delivery service. Post office box, bag number, or post office name."
          }
        },
        "building_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A named locations that represents the premise. Usually a building name or number or collection of buildings with a common name or number. For example, <code>Craven House</code>."
          }
        },
        "sub_building": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The first-order entity below a named building or location that represents the sub-premise. Usually a single building within a collection of buildings with a common name. Can be a flat, story, floor, room, or apartment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The non-portable additional address details include fine-grain address information for Compliance, Risk, and other scenarios. This isn't portable with common third-party and open source applications. This can include data that is redundant with core fields. For example, `address_portable.address_line_1` is usually a combination of `address_details.street_number`, `street_name`, and `street_type`."
      }
    },
    "com.paypal.checkout_orders_v2#CreateOrderRequestPayerAddress": {
      "type": "structure",
      "members": {
        "address_line_1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The first line of the address, such as number and street, for example, `173 Drury Lane`. Needed for data entry, and Compliance and Risk checks. This field needs to pass the full address."
          }
        },
        "address_line_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The second line of the address, for example, a suite or apartment number."
          }
        },
        "address_line_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The third line of the address, if needed. Examples include a street complement for Brazil, direction text, such as `next to Walmart`, or a landmark in an Indian address."
          }
        },
        "admin_area_4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The neighborhood, ward, or district. This is smaller than `admin_area_level_3` or `sub_locality`. Value is:<ul><li>The postal sorting code that is used in Guernsey and many French territories, such as French Guiana.</li><li>The fine-grained administrative levels in China.</li></ul>"
          }
        },
        "admin_area_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sub-locality, suburb, neighborhood, or district. This is smaller than `admin_area_level_2`. Value is:<ul><li>Brazil. Suburb, *bairro*, or neighborhood.</li><li>India. Sub-locality or district. Street name information isn't always available, but a sub-locality or district can be a very small area.</li></ul>"
          }
        },
        "admin_area_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A city, town, or village. Smaller than `admin_area_level_1`."
          }
        },
        "admin_area_1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The highest-level sub-division in a country, which is usually a province, state, or ISO-3166-2 subdivision. This data is formatted for postal delivery, for example, `CA` and not `California`. Value, by country, is:<ul><li>UK. A county.</li><li>US. A state.</li><li>Canada. A province.</li><li>Japan. A prefecture.</li><li>Switzerland. A *kanton*.</li></ul>"
          }
        },
        "postal_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The postal code, which is the ZIP code or equivalent. Typically required for countries with a postal code or an equivalent. See [postal code](https://en.wikipedia.org/wiki/Postal_code)."
          }
        },
        "country_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "address_details": {
          "target": "com.paypal.checkout_orders_v2#CreateOrderRequestPayerAddressAddressDetails",
          "traits": {
            "smithy.api#documentation": "The non-portable additional address details include fine-grain address information for Compliance, Risk, and other scenarios. This isn't portable with common third-party and open source applications. This can include data that is redundant with core fields. For example, `address_portable.address_line_1` is usually a combination of `address_details.street_number`, `street_name`, and `street_type`."
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#CreateOrderRequestPayer": {
      "type": "structure",
      "members": {
        "email_address": {
          "target": "smithy.api#Document"
        },
        "payer_id": {
          "target": "smithy.api#Document"
        },
        "name": {
          "target": "com.paypal.checkout_orders_v2#CreateOrderRequestPayerName"
        },
        "phone": {
          "target": "com.paypal.checkout_orders_v2#CreateOrderRequestPayerPhone"
        },
        "birth_date": {
          "target": "smithy.api#Document"
        },
        "tax_info": {
          "target": "com.paypal.checkout_orders_v2#CreateOrderRequestPayerTaxInfo"
        },
        "address": {
          "target": "com.paypal.checkout_orders_v2#CreateOrderRequestPayerAddress"
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#AmountBreakdown": {
      "type": "structure",
      "members": {
        "item_total": {
          "target": "com.paypal.checkout_orders_v2#AmountBreakdownItemTotal"
        },
        "shipping": {
          "target": "com.paypal.checkout_orders_v2#AmountBreakdownShipping"
        },
        "handling": {
          "target": "com.paypal.checkout_orders_v2#AmountBreakdownHandling"
        },
        "tax_total": {
          "target": "com.paypal.checkout_orders_v2#AmountBreakdownTaxTotal"
        },
        "insurance": {
          "target": "com.paypal.checkout_orders_v2#AmountBreakdownInsurance"
        },
        "shipping_discount": {
          "target": "com.paypal.checkout_orders_v2#AmountBreakdownShippingDiscount"
        },
        "discount": {
          "target": "com.paypal.checkout_orders_v2#AmountBreakdownDiscount"
        }
      },
      "traits": {
        "smithy.api#documentation": "The breakdown of the amount. Breakdown provides details such as total item amount, total tax amount, shipping, handling, insurance, and discounts, if any."
      }
    },
    "com.paypal.checkout_orders_v2#AmountBreakdownItemTotal": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#AmountBreakdownShipping": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#AmountBreakdownHandling": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#AmountBreakdownTaxTotal": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#AmountBreakdownInsurance": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#AmountBreakdownShippingDiscount": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#AmountBreakdownDiscount": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemAmount": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        },
        "breakdown": {
          "target": "com.paypal.checkout_orders_v2#AmountBreakdown"
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemPayee": {
      "type": "structure",
      "members": {
        "email_address": {
          "target": "smithy.api#Document"
        },
        "merchant_id": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#PaymentInstruction": {
      "type": "structure",
      "members": {
        "platform_fees": {
          "target": "com.paypal.checkout_orders_v2#PaymentInstructionPlatformFeesList",
          "traits": {
            "smithy.api#documentation": "An array of various fees, commissions, tips, or donations. This field is only applicable to merchants that been enabled for PayPal Complete Payments Platform for Marketplaces and Platforms capability."
          }
        },
        "disbursement_mode": {
          "target": "smithy.api#Document"
        },
        "payee_pricing_tier_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This field is only enabled for selected merchants/partners to use and provides the ability to trigger a specific pricing rate/plan for a payment transaction. The list of eligible 'payee_pricing_tier_id' would be provided to you by your Account Manager. Specifying values other than the one provided to you by your account manager would result in an error."
          }
        },
        "payee_receivable_fx_rate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "FX identifier generated returned by PayPal to be used for payment processing in order to honor FX rate (for eligible integrations) to be used when amount is settled/received into the payee account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Any additional payment instructions to be consider during payment processing. This processing instruction is applicable for Capturing an order or Authorizing an Order."
      }
    },
    "com.paypal.checkout_orders_v2#PaymentInstructionPlatformFeesItemAmount": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#PaymentInstructionPlatformFeesItemPayee": {
      "type": "structure",
      "members": {
        "email_address": {
          "target": "smithy.api#Document"
        },
        "merchant_id": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#PaymentInstructionPlatformFeesItem": {
      "type": "structure",
      "members": {
        "amount": {
          "target": "com.paypal.checkout_orders_v2#PaymentInstructionPlatformFeesItemAmount",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "payee": {
          "target": "com.paypal.checkout_orders_v2#PaymentInstructionPlatformFeesItemPayee"
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#PaymentInstructionPlatformFeesList": {
      "type": "list",
      "member": {
        "target": "com.paypal.checkout_orders_v2#PaymentInstructionPlatformFeesItem"
      },
      "traits": {
        "smithy.api#documentation": "An array of various fees, commissions, tips, or donations. This field is only applicable to merchants that been enabled for PayPal Complete Payments Platform for Marketplaces and Platforms capability."
      }
    },
    "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemItemsItemUnitAmount": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemItemsItemTax": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemItemsItemCategory": {
      "type": "enum",
      "members": {
        "DIGITAL_GOODS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIGITAL_GOODS"
          }
        },
        "PHYSICAL_GOODS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHYSICAL_GOODS"
          }
        },
        "DONATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DONATION"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The item category type."
      }
    },
    "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemItemsItemUpcType": {
      "type": "enum",
      "members": {
        "UPC_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPC-A"
          }
        },
        "UPC_B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPC-B"
          }
        },
        "UPC_C": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPC-C"
          }
        },
        "UPC_D": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPC-D"
          }
        },
        "UPC_E": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPC-E"
          }
        },
        "UPC_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPC-2"
          }
        },
        "UPC_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPC-5"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Universal Product Code type."
      }
    },
    "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemItemsItemUpc": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemItemsItemUpcType",
          "traits": {
            "smithy.api#documentation": "The Universal Product Code type.",
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The UPC product code of the item.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#OrderBillingPlan": {
      "type": "structure",
      "members": {
        "billing_cycles": {
          "target": "com.paypal.checkout_orders_v2#OrderBillingPlanBillingCyclesList",
          "traits": {
            "smithy.api#documentation": "An array of billing cycles for trial billing and regular billing. A plan can have at most two trial cycles and only one regular cycle.",
            "smithy.api#required": {}
          }
        },
        "setup_fee": {
          "target": "com.paypal.checkout_orders_v2#OrderBillingPlanSetupFee"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the recurring plan."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for merchant-managed recurring billing plans. Valid only during the saved payment method token or billing agreement creation."
      }
    },
    "com.paypal.checkout_orders_v2#BillingCycle": {
      "type": "structure",
      "members": {
        "tenure_type": {
          "target": "com.paypal.checkout_orders_v2#BillingCycleTenureType",
          "traits": {
            "smithy.api#documentation": "The tenure type of the billing cycle identifies if the billing cycle is a trial(free or discounted) or regular billing cycle.",
            "smithy.api#required": {}
          }
        },
        "pricing_scheme": {
          "target": "com.paypal.checkout_orders_v2#BillingCyclePricingScheme"
        },
        "total_cycles": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of times this billing cycle gets executed. Trial billing cycles can only be executed a finite number of times (value between <code>1</code> and <code>999</code> for <code>total_cycles</code>). Regular billing cycles can be executed infinite times (value of <code>0</code> for <code>total_cycles</code>) or a finite number of times (value between <code>1</code> and <code>999</code> for <code>total_cycles</code>)."
          }
        },
        "sequence": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The order in which this cycle is to run among other billing cycles. For example, a trial billing cycle has a `sequence` of `1` while a regular billing cycle has a `sequence` of `2`, so that trial cycle runs before the regular cycle."
          }
        },
        "start_date": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {
        "smithy.api#documentation": "The billing cycle providing details of the billing frequency, amount, duration and if the billing cycle is a free, discounted or regular billing cycle. The sequence of the billing cycle will be in the following order - free trial billing cycle(s), discounted trial billing cycle(s), regular billing cycle(s)."
      }
    },
    "com.paypal.checkout_orders_v2#BillingCycleTenureType": {
      "type": "enum",
      "members": {
        "REGULAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGULAR"
          }
        },
        "TRIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRIAL"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The tenure type of the billing cycle identifies if the billing cycle is a trial(free or discounted) or regular billing cycle."
      }
    },
    "com.paypal.checkout_orders_v2#BillingCyclePricingSchemePrice": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#BillingCyclePricingSchemePricingModel": {
      "type": "enum",
      "members": {
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIXED"
          }
        },
        "VARIABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VARIABLE"
          }
        },
        "AUTO_RELOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO_RELOAD"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The pricing model for the billing cycle."
      }
    },
    "com.paypal.checkout_orders_v2#BillingCyclePricingSchemeReloadThresholdAmount": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#BillingCyclePricingScheme": {
      "type": "structure",
      "members": {
        "price": {
          "target": "com.paypal.checkout_orders_v2#BillingCyclePricingSchemePrice"
        },
        "pricing_model": {
          "target": "com.paypal.checkout_orders_v2#BillingCyclePricingSchemePricingModel",
          "traits": {
            "smithy.api#documentation": "The pricing model for the billing cycle.",
            "smithy.api#required": {}
          }
        },
        "reload_threshold_amount": {
          "target": "com.paypal.checkout_orders_v2#BillingCyclePricingSchemeReloadThresholdAmount"
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#OrderBillingPlanBillingCyclesList": {
      "type": "list",
      "member": {
        "target": "com.paypal.checkout_orders_v2#BillingCycle"
      },
      "traits": {
        "smithy.api#documentation": "An array of billing cycles for trial billing and regular billing. A plan can have at most two trial cycles and only one regular cycle."
      }
    },
    "com.paypal.checkout_orders_v2#OrderBillingPlanSetupFee": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemItemsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The item name or title. <blockquote>This field supports up to 3000 characters, but <strong>any content beyond 127 characters (including spaces) will be truncated. The 127 character limit is reflected in the response</strong> representation of this field</blockquote>.",
            "smithy.api#required": {}
          }
        },
        "unit_amount": {
          "target": "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemItemsItemUnitAmount",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tax": {
          "target": "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemItemsItemTax"
        },
        "quantity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The item quantity. Must be a whole number.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<blockquote>This field supports up to 4000 characters, but <strong>any content beyond 2048 characters (including spaces) will be truncated. The 2048 character limit is reflected in the response</strong> representation of this field</blockquote>."
          }
        },
        "sku": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The stock keeping unit (SKU) for the item."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to the item being purchased. Visible to buyer and used in buyer experiences."
          }
        },
        "category": {
          "target": "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemItemsItemCategory",
          "traits": {
            "smithy.api#documentation": "The item category type."
          }
        },
        "image_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the item's image. File type and size restrictions apply. An image that violates these restrictions will not be honored."
          }
        },
        "upc": {
          "target": "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemItemsItemUpc"
        },
        "billing_plan": {
          "target": "com.paypal.checkout_orders_v2#OrderBillingPlan"
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemItemsList": {
      "type": "list",
      "member": {
        "target": "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemItemsItem"
      },
      "traits": {
        "smithy.api#documentation": "An array of items that the customer purchases from the merchant."
      }
    },
    "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemShippingName": {
      "type": "structure",
      "members": {
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The prefix, or title, to the party's name."
          }
        },
        "given_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the party is a person, the party's given, or first, name."
          }
        },
        "surname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the party is a person, the party's surname or family name. Also known as the last name. Required when the party is a person. Use also to store multiple surnames including the matronymic, or mother's, surname."
          }
        },
        "middle_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the party is a person, the party's middle name. Use also to store multiple middle names including the patronymic, or father's, middle name."
          }
        },
        "suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The suffix for the party's name."
          }
        },
        "full_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the party is a person, the party's full name."
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemShippingPhoneNumber": {
      "type": "structure",
      "members": {
        "country_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The country calling code (CC), in its canonical international [E.164 numbering plan format](https://www.itu.int/rec/T-REC-E.164/en). The combined length of the CC and the national number must not be greater than 15 digits. The national number consists of a national destination code (NDC) and subscriber number (SN).",
            "smithy.api#required": {}
          }
        },
        "national_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The national number, in its canonical international [E.164 numbering plan format](https://www.itu.int/rec/T-REC-E.164/en). The combined length of the country calling code (CC) and the national number must not be greater than 15 digits. The national number consists of a national destination code (NDC) and subscriber number (SN).",
            "smithy.api#required": {}
          }
        },
        "extension_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The extension number."
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemShippingType": {
      "type": "enum",
      "members": {
        "SHIPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHIPPING"
          }
        },
        "PICKUP_IN_PERSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PICKUP_IN_PERSON"
          }
        },
        "PICKUP_IN_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PICKUP_IN_STORE"
          }
        },
        "PICKUP_FROM_PERSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PICKUP_FROM_PERSON"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A classification for the method of purchase fulfillment (e.g shipping, in-store pickup, etc). Either `type` or `options` may be present, but not both."
      }
    },
    "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemShippingOptionsItemAmount": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemShippingOptionsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique ID that identifies a payer-selected shipping option.",
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description that the payer sees, which helps them choose an appropriate shipping option. For example, `Free Shipping`, `USPS Priority Shipping`, `Expédition prioritaire USPS`, or `USPS yōuxiān fā huò`. Localize this description to the payer's locale.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#Document"
        },
        "amount": {
          "target": "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemShippingOptionsItemAmount"
        },
        "selected": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the API request sets `selected = true`, it represents the shipping option that the payee or merchant expects to be pre-selected for the payer when they first view the `shipping.options` in the PayPal Checkout experience. As part of the response if a `shipping.option` contains `selected=true`, it represents the shipping option that the payer selected during the course of checkout with PayPal. Only one `shipping.option` can be set to `selected=true`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemShippingOptionsList": {
      "type": "list",
      "member": {
        "target": "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemShippingOptionsItem"
      },
      "traits": {
        "smithy.api#documentation": "An array of shipping options that the payee or merchant offers to the payer to ship or pick up their items."
      }
    },
    "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemShippingAddressAddressDetails": {
      "type": "structure",
      "members": {
        "street_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The street number."
          }
        },
        "street_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The street name. Just `Drury` in `Drury Lane`."
          }
        },
        "street_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The street type. For example, avenue, boulevard, road, or expressway."
          }
        },
        "delivery_service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The delivery service. Post office box, bag number, or post office name."
          }
        },
        "building_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A named locations that represents the premise. Usually a building name or number or collection of buildings with a common name or number. For example, <code>Craven House</code>."
          }
        },
        "sub_building": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The first-order entity below a named building or location that represents the sub-premise. Usually a single building within a collection of buildings with a common name. Can be a flat, story, floor, room, or apartment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The non-portable additional address details include fine-grain address information for Compliance, Risk, and other scenarios. This isn't portable with common third-party and open source applications. This can include data that is redundant with core fields. For example, `address_portable.address_line_1` is usually a combination of `address_details.street_number`, `street_name`, and `street_type`."
      }
    },
    "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemShippingAddress": {
      "type": "structure",
      "members": {
        "address_line_1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The first line of the address, such as number and street, for example, `173 Drury Lane`. Needed for data entry, and Compliance and Risk checks. This field needs to pass the full address."
          }
        },
        "address_line_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The second line of the address, for example, a suite or apartment number."
          }
        },
        "address_line_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The third line of the address, if needed. Examples include a street complement for Brazil, direction text, such as `next to Walmart`, or a landmark in an Indian address."
          }
        },
        "admin_area_4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The neighborhood, ward, or district. This is smaller than `admin_area_level_3` or `sub_locality`. Value is:<ul><li>The postal sorting code that is used in Guernsey and many French territories, such as French Guiana.</li><li>The fine-grained administrative levels in China.</li></ul>"
          }
        },
        "admin_area_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sub-locality, suburb, neighborhood, or district. This is smaller than `admin_area_level_2`. Value is:<ul><li>Brazil. Suburb, *bairro*, or neighborhood.</li><li>India. Sub-locality or district. Street name information isn't always available, but a sub-locality or district can be a very small area.</li></ul>"
          }
        },
        "admin_area_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A city, town, or village. Smaller than `admin_area_level_1`."
          }
        },
        "admin_area_1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The highest-level sub-division in a country, which is usually a province, state, or ISO-3166-2 subdivision. This data is formatted for postal delivery, for example, `CA` and not `California`. Value, by country, is:<ul><li>UK. A county.</li><li>US. A state.</li><li>Canada. A province.</li><li>Japan. A prefecture.</li><li>Switzerland. A *kanton*.</li></ul>"
          }
        },
        "postal_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The postal code, which is the ZIP code or equivalent. Typically required for countries with a postal code or an equivalent. See [postal code](https://en.wikipedia.org/wiki/Postal_code)."
          }
        },
        "country_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "address_details": {
          "target": "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemShippingAddressAddressDetails",
          "traits": {
            "smithy.api#documentation": "The non-portable additional address details include fine-grain address information for Compliance, Risk, and other scenarios. This isn't portable with common third-party and open source applications. This can include data that is redundant with core fields. For example, `address_portable.address_line_1` is usually a combination of `address_details.street_number`, `street_name`, and `street_type`."
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemShipping": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemShippingName"
        },
        "email_address": {
          "target": "smithy.api#Document"
        },
        "phone_number": {
          "target": "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemShippingPhoneNumber"
        },
        "type": {
          "target": "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemShippingType",
          "traits": {
            "smithy.api#documentation": "A classification for the method of purchase fulfillment (e.g shipping, in-store pickup, etc). Either `type` or `options` may be present, but not both."
          }
        },
        "options": {
          "target": "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemShippingOptionsList",
          "traits": {
            "smithy.api#documentation": "An array of shipping options that the payee or merchant offers to the payer to ship or pick up their items."
          }
        },
        "address": {
          "target": "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemShippingAddress"
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#Level2CardProcessingData": {
      "type": "structure",
      "members": {
        "invoice_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use this field to pass a purchase identification value of up to 127 ASCII characters. The length of this field will be adjusted to meet network specifications (25chars for Visa and Mastercard, 17chars for Amex), and the original invoice ID will still be displayed in your existing reports."
          }
        },
        "tax_total": {
          "target": "com.paypal.checkout_orders_v2#Level2CardProcessingDataTaxTotal"
        }
      },
      "traits": {
        "smithy.api#documentation": "The level 2 card processing data collections. If your merchant account has been configured for Level 2 processing this field will be passed to the processor on your behalf. Please contact your PayPal Technical Account Manager to define level 2 data for your business."
      }
    },
    "com.paypal.checkout_orders_v2#Level2CardProcessingDataTaxTotal": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#Level3CardProcessingData": {
      "type": "structure",
      "members": {
        "shipping_amount": {
          "target": "com.paypal.checkout_orders_v2#Level3CardProcessingDataShippingAmount"
        },
        "duty_amount": {
          "target": "com.paypal.checkout_orders_v2#Level3CardProcessingDataDutyAmount"
        },
        "discount_amount": {
          "target": "com.paypal.checkout_orders_v2#Level3CardProcessingDataDiscountAmount"
        },
        "shipping_address": {
          "target": "com.paypal.checkout_orders_v2#Level3CardProcessingDataShippingAddress"
        },
        "ships_from_postal_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use this field to specify the postal code of the shipping location."
          }
        },
        "line_items": {
          "target": "com.paypal.checkout_orders_v2#Level3CardProcessingDataLineItemsList",
          "traits": {
            "smithy.api#documentation": "A list of the items that were purchased with this payment. If your merchant account has been configured for Level 3 processing this field will be passed to the processor on your behalf."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level 3 card processing data collections, If your merchant account has been configured for Level 3 processing this field will be passed to the processor on your behalf. Please contact your PayPal Technical Account Manager to define level 3 data for your business."
      }
    },
    "com.paypal.checkout_orders_v2#Level3CardProcessingDataShippingAmount": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#Level3CardProcessingDataDutyAmount": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#Level3CardProcessingDataDiscountAmount": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#Level3CardProcessingDataShippingAddressAddressDetails": {
      "type": "structure",
      "members": {
        "street_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The street number."
          }
        },
        "street_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The street name. Just `Drury` in `Drury Lane`."
          }
        },
        "street_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The street type. For example, avenue, boulevard, road, or expressway."
          }
        },
        "delivery_service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The delivery service. Post office box, bag number, or post office name."
          }
        },
        "building_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A named locations that represents the premise. Usually a building name or number or collection of buildings with a common name or number. For example, <code>Craven House</code>."
          }
        },
        "sub_building": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The first-order entity below a named building or location that represents the sub-premise. Usually a single building within a collection of buildings with a common name. Can be a flat, story, floor, room, or apartment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The non-portable additional address details include fine-grain address information for Compliance, Risk, and other scenarios. This isn't portable with common third-party and open source applications. This can include data that is redundant with core fields. For example, `address_portable.address_line_1` is usually a combination of `address_details.street_number`, `street_name`, and `street_type`."
      }
    },
    "com.paypal.checkout_orders_v2#Level3CardProcessingDataShippingAddress": {
      "type": "structure",
      "members": {
        "address_line_1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The first line of the address, such as number and street, for example, `173 Drury Lane`. Needed for data entry, and Compliance and Risk checks. This field needs to pass the full address."
          }
        },
        "address_line_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The second line of the address, for example, a suite or apartment number."
          }
        },
        "address_line_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The third line of the address, if needed. Examples include a street complement for Brazil, direction text, such as `next to Walmart`, or a landmark in an Indian address."
          }
        },
        "admin_area_4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The neighborhood, ward, or district. This is smaller than `admin_area_level_3` or `sub_locality`. Value is:<ul><li>The postal sorting code that is used in Guernsey and many French territories, such as French Guiana.</li><li>The fine-grained administrative levels in China.</li></ul>"
          }
        },
        "admin_area_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sub-locality, suburb, neighborhood, or district. This is smaller than `admin_area_level_2`. Value is:<ul><li>Brazil. Suburb, *bairro*, or neighborhood.</li><li>India. Sub-locality or district. Street name information isn't always available, but a sub-locality or district can be a very small area.</li></ul>"
          }
        },
        "admin_area_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A city, town, or village. Smaller than `admin_area_level_1`."
          }
        },
        "admin_area_1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The highest-level sub-division in a country, which is usually a province, state, or ISO-3166-2 subdivision. This data is formatted for postal delivery, for example, `CA` and not `California`. Value, by country, is:<ul><li>UK. A county.</li><li>US. A state.</li><li>Canada. A province.</li><li>Japan. A prefecture.</li><li>Switzerland. A *kanton*.</li></ul>"
          }
        },
        "postal_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The postal code, which is the ZIP code or equivalent. Typically required for countries with a postal code or an equivalent. See [postal code](https://en.wikipedia.org/wiki/Postal_code)."
          }
        },
        "country_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "address_details": {
          "target": "com.paypal.checkout_orders_v2#Level3CardProcessingDataShippingAddressAddressDetails",
          "traits": {
            "smithy.api#documentation": "The non-portable additional address details include fine-grain address information for Compliance, Risk, and other scenarios. This isn't portable with common third-party and open source applications. This can include data that is redundant with core fields. For example, `address_portable.address_line_1` is usually a combination of `address_details.street_number`, `street_name`, and `street_type`."
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#Level3CardProcessingDataLineItemsItemUpcType": {
      "type": "enum",
      "members": {
        "UPC_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPC-A"
          }
        },
        "UPC_B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPC-B"
          }
        },
        "UPC_C": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPC-C"
          }
        },
        "UPC_D": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPC-D"
          }
        },
        "UPC_E": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPC-E"
          }
        },
        "UPC_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPC-2"
          }
        },
        "UPC_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPC-5"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Universal Product Code type."
      }
    },
    "com.paypal.checkout_orders_v2#Level3CardProcessingDataLineItemsItemUpc": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.paypal.checkout_orders_v2#Level3CardProcessingDataLineItemsItemUpcType",
          "traits": {
            "smithy.api#documentation": "The Universal Product Code type.",
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The UPC product code of the item.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#Level3CardProcessingDataLineItemsItemUnitAmount": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#Level3CardProcessingDataLineItemsItemTax": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#Level3CardProcessingDataLineItemsItemDiscountAmount": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#Level3CardProcessingDataLineItemsItemTotalAmount": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#Level3CardProcessingDataLineItemsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The item name or title.",
            "smithy.api#required": {}
          }
        },
        "quantity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The item quantity. Must be a whole number.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The detailed item description."
          }
        },
        "sku": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The stock keeping unit (SKU) for the item."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to the item being purchased. Visible to buyer and used in buyer experiences."
          }
        },
        "image_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the item's image. File type and size restrictions apply. An image that violates these restrictions will not be honored."
          }
        },
        "upc": {
          "target": "com.paypal.checkout_orders_v2#Level3CardProcessingDataLineItemsItemUpc"
        },
        "billing_plan": {
          "target": "com.paypal.checkout_orders_v2#OrderBillingPlan"
        },
        "unit_amount": {
          "target": "com.paypal.checkout_orders_v2#Level3CardProcessingDataLineItemsItemUnitAmount"
        },
        "tax": {
          "target": "com.paypal.checkout_orders_v2#Level3CardProcessingDataLineItemsItemTax"
        },
        "commodity_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Code used to classify items purchased and track the total amount spent across various categories of products and services. Different corporate purchasing organizations may use different standards, but the United Nations Standard Products and Services Code (UNSPSC) is frequently used."
          }
        },
        "discount_amount": {
          "target": "com.paypal.checkout_orders_v2#Level3CardProcessingDataLineItemsItemDiscountAmount"
        },
        "total_amount": {
          "target": "com.paypal.checkout_orders_v2#Level3CardProcessingDataLineItemsItemTotalAmount"
        },
        "unit_of_measure": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unit of measure is a standard used to express the magnitude of a quantity in international trade. Most commonly used (but not limited to) examples are: Acre (ACR), Ampere (AMP), Centigram (CGM), Centimetre (CMT), Cubic inch (INQ), Cubic metre (MTQ), Fluid ounce (OZA), Foot (FOT), Hour (HUR), Item (ITM), Kilogram (KGM), Kilometre (KMT), Kilowatt (KWT), Liquid gallon (GLL), Liter (LTR), Pounds (LBS), Square foot (FTK)."
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#Level3CardProcessingDataLineItemsList": {
      "type": "list",
      "member": {
        "target": "com.paypal.checkout_orders_v2#Level3CardProcessingDataLineItemsItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of the items that were purchased with this payment. If your merchant account has been configured for Level 3 processing this field will be passed to the processor on your behalf."
      }
    },
    "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemSupplementaryDataCard": {
      "type": "structure",
      "members": {
        "level_2": {
          "target": "com.paypal.checkout_orders_v2#Level2CardProcessingData"
        },
        "level_3": {
          "target": "com.paypal.checkout_orders_v2#Level3CardProcessingData"
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#ParticipantMetadata": {
      "type": "structure",
      "members": {
        "ip_address": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {
        "smithy.api#documentation": "Profile information of the sender or receiver."
      }
    },
    "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemSupplementaryDataRisk": {
      "type": "structure",
      "members": {
        "customer": {
          "target": "com.paypal.checkout_orders_v2#ParticipantMetadata"
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemSupplementaryData": {
      "type": "structure",
      "members": {
        "card": {
          "target": "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemSupplementaryDataCard"
        },
        "risk": {
          "target": "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemSupplementaryDataRisk"
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItem": {
      "type": "structure",
      "members": {
        "reference_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API caller-provided external ID for the purchase unit. Required for multiple purchase units when you must update the order through `PATCH`. If you omit this value and the order contains only one purchase unit, PayPal sets this value to `default`."
          }
        },
        "amount": {
          "target": "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemAmount",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "payee": {
          "target": "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemPayee"
        },
        "payment_instruction": {
          "target": "com.paypal.checkout_orders_v2#PaymentInstruction"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<blockquote>This field supports up to 3,000 characters, but <strong>any content beyond 127 characters (including spaces) will be truncated. The 127 character limit is reflected in the response</strong> representation of this field.</blockquote>The purchase description. The maximum length of the character is dependent on the type of characters used. The character length is specified assuming a US ASCII character. Depending on type of character; (e.g. accented character, Japanese characters) the number of characters that that can be specified as input might not equal the permissible max length."
          }
        },
        "custom_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API caller-provided external ID. Used to reconcile client transactions with PayPal transactions. Appears in transaction and settlement reports but is not visible to the payer."
          }
        },
        "invoice_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API caller-provided external invoice number for this order. Appears in both the payer's transaction history and the emails that the payer receives. invoice_id values are required to be unique within each merchant account by default. Although the uniqueness validation is configurable, disabling this behavior will remove the account's ability to use invoice_id in other APIs as an identifier. It is highly recommended to keep a unique invoice_id for each Order."
          }
        },
        "soft_descriptor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<blockquote>This field supports up to 127 characters, but <strong>any content beyond 22 characters (including spaces) will be truncated. The 22 character limit is reflected in the response</strong> representation of this field.</blockquote>The soft descriptor is the dynamic text used to construct the statement descriptor that appears on a payer's card statement.<br><br>If an Order is paid using the \"PayPal Wallet\", the statement descriptor will appear in following format on the payer's card statement: <code><var>PAYPAL_prefix</var>+(space)+<var>merchant_descriptor</var>+(space)+ <var>soft_descriptor</var></code><blockquote><strong>Note:</strong> The merchant descriptor is the descriptor of the merchant’s payment receiving preferences which can be seen by logging into the merchant account https://www.sandbox.paypal.com/businessprofile/settings/info/edit</blockquote>The <code>PAYPAL</code> prefix uses 8 characters. Only the first 22 characters will be displayed in the statement. <br>For example, if:<ul><li>The PayPal prefix toggle is <code>PAYPAL *</code>.</li><li>The merchant descriptor in the profile is <code>Janes Gift</code>.</li><li>The soft descriptor is <code>800-123-1234</code>.</li></ul>Then, the statement descriptor on the card is <code>PAYPAL * Janes Gift 80</code>."
          }
        },
        "items": {
          "target": "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemItemsList",
          "traits": {
            "smithy.api#documentation": "An array of items that the customer purchases from the merchant."
          }
        },
        "shipping": {
          "target": "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemShipping"
        },
        "supplementary_data": {
          "target": "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItemSupplementaryData"
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsList": {
      "type": "list",
      "member": {
        "target": "com.paypal.checkout_orders_v2#CreateOrderRequestPurchaseUnitsItem"
      },
      "traits": {
        "smithy.api#documentation": "An array of purchase units. Each purchase unit establishes a contract between a payer and the payee. Each purchase unit represents either a full or partial order that the payer intends to purchase from the payee."
      }
    },
    "com.paypal.checkout_orders_v2#PaymentSourceInput": {
      "type": "structure",
      "members": {
        "card": {
          "target": "com.paypal.checkout_orders_v2#CardRequestInput"
        },
        "token": {
          "target": "com.paypal.checkout_orders_v2#Token"
        },
        "paypal": {
          "target": "com.paypal.checkout_orders_v2#PaymentSourceInputPaypal"
        },
        "bancontact": {
          "target": "com.paypal.checkout_orders_v2#PaymentSourceInputBancontact"
        },
        "blik": {
          "target": "com.paypal.checkout_orders_v2#PaymentSourceInputBlik"
        },
        "eps": {
          "target": "com.paypal.checkout_orders_v2#PaymentSourceInputEps"
        },
        "giropay": {
          "target": "com.paypal.checkout_orders_v2#PaymentSourceInputGiropay"
        },
        "ideal": {
          "target": "com.paypal.checkout_orders_v2#PaymentSourceInputIdeal"
        },
        "mybank": {
          "target": "com.paypal.checkout_orders_v2#PaymentSourceInputMybank"
        },
        "p24": {
          "target": "com.paypal.checkout_orders_v2#PaymentSourceInputP24"
        },
        "sofort": {
          "target": "com.paypal.checkout_orders_v2#PaymentSourceInputSofort"
        },
        "trustly": {
          "target": "com.paypal.checkout_orders_v2#PaymentSourceInputTrustly"
        },
        "apple_pay": {
          "target": "com.paypal.checkout_orders_v2#PaymentSourceInputApplePay"
        },
        "google_pay": {
          "target": "com.paypal.checkout_orders_v2#PaymentSourceInputGooglePay"
        },
        "venmo": {
          "target": "com.paypal.checkout_orders_v2#PaymentSourceInputVenmo"
        },
        "crypto": {
          "target": "com.paypal.checkout_orders_v2#PaymentSourceInputCrypto"
        }
      },
      "traits": {
        "smithy.api#documentation": "The payment source definition."
      }
    },
    "com.paypal.checkout_orders_v2#CardRequestInput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Document"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The card holder's name as it appears on the card."
          }
        },
        "number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The primary account number (PAN) for the payment card."
          }
        },
        "expiry": {
          "target": "smithy.api#Document"
        },
        "security_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The three- or four-digit security code of the card. Also known as the CVV, CVC, CVN, CVE, or CID. This parameter cannot be present in the request when `payment_initiator=MERCHANT`."
          }
        },
        "card_type": {
          "target": "smithy.api#Document"
        },
        "type": {
          "target": "smithy.api#Document"
        },
        "brand": {
          "target": "smithy.api#Document"
        },
        "billing_address": {
          "target": "com.paypal.checkout_orders_v2#CardRequestInputBillingAddress"
        },
        "attributes": {
          "target": "com.paypal.checkout_orders_v2#CardRequestInputAttributes"
        },
        "vault_id": {
          "target": "smithy.api#Document"
        },
        "single_use_token": {
          "target": "smithy.api#Document"
        },
        "stored_credential": {
          "target": "com.paypal.checkout_orders_v2#CardStoredCredential"
        },
        "network_token": {
          "target": "com.paypal.checkout_orders_v2#CardRequestInputNetworkToken"
        },
        "experience_context": {
          "target": "com.paypal.checkout_orders_v2#CardRequestInputExperienceContext"
        }
      },
      "traits": {
        "smithy.api#documentation": "The payment card to use to fund a payment. Can be a credit or debit card.<blockquote><strong>Note:</strong> Passing card number, cvv and expiry directly via the API requires <a href=\"https://www.pcisecuritystandards.org/pci_security/completing_self_assessment\"> PCI SAQ D compliance</a>. <br>*PayPal offers a mechanism by which you do not have to take on the <strong>PCI SAQ D</strong> burden by using hosted fields - refer to <a href=\"https://developer.paypal.com/docs/checkout/advanced/integrate/\">this Integration Guide</a>*.</blockquote>"
      }
    },
    "com.paypal.checkout_orders_v2#CardRequestInputBillingAddressAddressDetails": {
      "type": "structure",
      "members": {
        "street_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The street number."
          }
        },
        "street_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The street name. Just `Drury` in `Drury Lane`."
          }
        },
        "street_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The street type. For example, avenue, boulevard, road, or expressway."
          }
        },
        "delivery_service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The delivery service. Post office box, bag number, or post office name."
          }
        },
        "building_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A named locations that represents the premise. Usually a building name or number or collection of buildings with a common name or number. For example, <code>Craven House</code>."
          }
        },
        "sub_building": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The first-order entity below a named building or location that represents the sub-premise. Usually a single building within a collection of buildings with a common name. Can be a flat, story, floor, room, or apartment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The non-portable additional address details include fine-grain address information for Compliance, Risk, and other scenarios. This isn't portable with common third-party and open source applications. This can include data that is redundant with core fields. For example, `address_portable.address_line_1` is usually a combination of `address_details.street_number`, `street_name`, and `street_type`."
      }
    },
    "com.paypal.checkout_orders_v2#CardRequestInputBillingAddress": {
      "type": "structure",
      "members": {
        "address_line_1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The first line of the address, such as number and street, for example, `173 Drury Lane`. Needed for data entry, and Compliance and Risk checks. This field needs to pass the full address."
          }
        },
        "address_line_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The second line of the address, for example, a suite or apartment number."
          }
        },
        "address_line_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The third line of the address, if needed. Examples include a street complement for Brazil, direction text, such as `next to Walmart`, or a landmark in an Indian address."
          }
        },
        "admin_area_4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The neighborhood, ward, or district. This is smaller than `admin_area_level_3` or `sub_locality`. Value is:<ul><li>The postal sorting code that is used in Guernsey and many French territories, such as French Guiana.</li><li>The fine-grained administrative levels in China.</li></ul>"
          }
        },
        "admin_area_3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sub-locality, suburb, neighborhood, or district. This is smaller than `admin_area_level_2`. Value is:<ul><li>Brazil. Suburb, *bairro*, or neighborhood.</li><li>India. Sub-locality or district. Street name information isn't always available, but a sub-locality or district can be a very small area.</li></ul>"
          }
        },
        "admin_area_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A city, town, or village. Smaller than `admin_area_level_1`."
          }
        },
        "admin_area_1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The highest-level sub-division in a country, which is usually a province, state, or ISO-3166-2 subdivision. This data is formatted for postal delivery, for example, `CA` and not `California`. Value, by country, is:<ul><li>UK. A county.</li><li>US. A state.</li><li>Canada. A province.</li><li>Japan. A prefecture.</li><li>Switzerland. A *kanton*.</li></ul>"
          }
        },
        "postal_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The postal code, which is the ZIP code or equivalent. Typically required for countries with a postal code or an equivalent. See [postal code](https://en.wikipedia.org/wiki/Postal_code)."
          }
        },
        "country_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "address_details": {
          "target": "com.paypal.checkout_orders_v2#CardRequestInputBillingAddressAddressDetails",
          "traits": {
            "smithy.api#documentation": "The non-portable additional address details include fine-grain address information for Compliance, Risk, and other scenarios. This isn't portable with common third-party and open source applications. This can include data that is redundant with core fields. For example, `address_portable.address_line_1` is usually a combination of `address_details.street_number`, `street_name`, and `street_type`."
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#CardCustomer": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "email_address": {
          "target": "smithy.api#Document"
        },
        "phone": {
          "target": "com.paypal.checkout_orders_v2#CardCustomerPhone"
        },
        "name": {
          "target": "com.paypal.checkout_orders_v2#CardCustomerName"
        },
        "merchant_customer_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Merchants and partners may already have a data-store where their customer information is persisted. Use merchant_customer_id to associate the PayPal-generated customer.id to your representation of a customer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The details about a customer in PayPal's system of record."
      }
    },
    "com.paypal.checkout_orders_v2#CardCustomerPhonePhoneNumber": {
      "type": "structure",
      "members": {
        "national_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The national number, in its canonical international [E.164 numbering plan format](https://www.itu.int/rec/T-REC-E.164/en). The combined length of the country calling code (CC) and the national number must not be greater than 15 digits. The national number consists of a national destination code (NDC) and subscriber number (SN).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#CardCustomerPhone": {
      "type": "structure",
      "members": {
        "phone_type": {
          "target": "com.paypal.checkout_orders_v2#PhoneType"
        },
        "phone_number": {
          "target": "com.paypal.checkout_orders_v2#CardCustomerPhonePhoneNumber",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#CardCustomerName": {
      "type": "structure",
      "members": {
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The prefix, or title, to the party's name."
          }
        },
        "given_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the party is a person, the party's given, or first, name."
          }
        },
        "surname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the party is a person, the party's surname or family name. Also known as the last name. Required when the party is a person. Use also to store multiple surnames including the matronymic, or mother's, surname."
          }
        },
        "middle_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the party is a person, the party's middle name. Use also to store multiple middle names including the patronymic, or father's, middle name."
          }
        },
        "suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The suffix for the party's name."
          }
        },
        "full_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the party is a person, the party's full name."
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#StoreInVaultInstruction": {
      "type": "enum",
      "members": {
        "ON_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_SUCCESS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines how and when the payment source gets vaulted."
      }
    },
    "com.paypal.checkout_orders_v2#CardRequestInputAttributesVault": {
      "type": "structure",
      "members": {
        "store_in_vault": {
          "target": "com.paypal.checkout_orders_v2#StoreInVaultInstruction"
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#CardRequestInputAttributesVerificationMethod": {
      "type": "enum",
      "members": {
        "SCA_ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCA_ALWAYS"
          }
        },
        "SCA_WHEN_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCA_WHEN_REQUIRED"
          }
        },
        "_3D_SECURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "3D_SECURE"
          }
        },
        "AVS_CVV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVS_CVV"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The method used for card verification."
      }
    },
    "com.paypal.checkout_orders_v2#CardRequestInputAttributesVerification": {
      "type": "structure",
      "members": {
        "method": {
          "target": "com.paypal.checkout_orders_v2#CardRequestInputAttributesVerificationMethod",
          "traits": {
            "smithy.api#documentation": "The method used for card verification."
          }
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#CardRequestInputAttributes": {
      "type": "structure",
      "members": {
        "customer": {
          "target": "com.paypal.checkout_orders_v2#CardCustomer"
        },
        "vault": {
          "target": "com.paypal.checkout_orders_v2#CardRequestInputAttributesVault"
        },
        "verification": {
          "target": "com.paypal.checkout_orders_v2#CardRequestInputAttributesVerification"
        }
      },
      "traits": {}
    },
    "com.paypal.checkout_orders_v2#CardStoredCredential": {
      "type": "structure",
      "members": {
        "payment_initiator": {
          "target": "com.paypal.checkout_orders_v2#PaymentInitiator",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "payment_type": {
          "target": "com.paypal.checkout_orders_v2#StoredPaymentSourcePaymentType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "usage": {
          "target": "com.paypal.checkout_orders_v2#StoredPaymentSourceUsageType"
        },
        "previous_network_transaction_reference": {
          "target": "com.paypal.checkout_orders_v2#NetworkTransaction"
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides additional details to process a payment using a `card` that has been stored or is intended to be stored (also referred to as stored_credential or card-on-file).<br/>Parameter compatibility:<br/><ul><li>`payment_type=ONE_TIME` is compatible only with `payment_initiator=CUSTOMER`.</li><li>`usage=FIRST` is compatible only with `payment_initiator=CUSTOMER`.</li><li>`previous_transaction_reference` or `previous_network_transaction_reference` is compatible only with `payment_initiator=MERCHANT`.</li><li>Only one of the parameters - `previous_transaction_reference` and `previous_network_transaction_reference` - can be present in the request.</li></ul>"
      }
    },
    "com.paypal.checkout_orders_v2#PaymentInitiator": {
      "type": "enum",
      "members": {
        "CUSTOMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER"
          }
        },
        "MERCHANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MERCHANT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The person or party who initiated or triggered the payment."
      }
    },
    "com.paypal.checkout_orders_v2#StoredPaymentSourcePaymentType": {
      "type": "enum",
[...]
