{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.paypal.customer_disputes_v1#DisputesListRequest": {
      "type": "structure",
      "members": {
        "start_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "start_time",
            "smithy.api#documentation": "Filters the disputes in the response by a creation date and time. The start time must be within the last 180 days. Value is in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6). For example, *`yyyy`*-*`MM`*-*`dd`*`T`*`HH`*:*`mm`*:*`ss`*.*`SSS`*`Z`.<br/><br/>You can specify either but not both the `start_time` and `disputed_transaction_id` query parameters."
          }
        },
        "disputed_transaction_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "disputed_transaction_id",
            "smithy.api#documentation": "Filters the disputes in the response by a transaction, by ID.<br/><br/>You can specify either but not both the `start_time` and `disputed_transaction_id` query parameter."
          }
        },
        "page_size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page_size",
            "smithy.api#documentation": "Limits the number of disputes in the response to this value."
          }
        },
        "next_page_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "next_page_token",
            "smithy.api#documentation": "The token that describes the next page of results to fetch. The <a href=\"/docs/api/customer-disputes/v1/#disputes_list\">list disputes</a> call returns this token in the HATEOAS links in the response."
          }
        },
        "dispute_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "dispute_state",
            "smithy.api#documentation": "Filters the disputes in the response by a state. Separate multiple values with a comma (`,`). When you specify more than one dispute_state, the response lists disputes that belong to any of the specified dispute_state."
          }
        },
        "update_time_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "update_time_before",
            "smithy.api#documentation": "The date and time when the dispute was last updated, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6). For example, *`yyyy`*-*`MM`*-*`dd`*`T`*`HH`*:*`mm`*:*`ss`*.*`SSS`*`Z`. update_time_before must be within the last 180 days and the default is the current time."
          }
        },
        "update_time_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "update_time_after",
            "smithy.api#documentation": "The date and time when the dispute was last updated, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6). For example, *`yyyy`*-*`MM`*-*`dd`*`T`*`HH`*:*`mm`*:*`ss`*.*`SSS`*`Z`. update_time_after must be within the last 180 days and the default is the maximum time (180 days) supported."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.paypal.customer_disputes_v1#DisputeSearch": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.paypal.customer_disputes_v1#DisputeInfoList"
        },
        "links": {
          "target": "com.paypal.customer_disputes_v1#DefinitionsLinkDescriptionList"
        }
      },
      "traits": {
        "smithy.api#documentation": "An array of disputes. Includes links that enable you to navigate through the response."
      }
    },
    "com.paypal.customer_disputes_v1#DisputeInfoList": {
      "type": "list",
      "member": {
        "target": "com.paypal.customer_disputes_v1#DisputeInfo"
      },
      "traits": {
        "smithy.api#documentation": "An array of disputes that match the filter criteria. Sorted in latest to earliest creation time order."
      }
    },
    "com.paypal.customer_disputes_v1#DisputeInfo": {
      "type": "structure",
      "members": {
        "dispute_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the dispute."
          }
        },
        "create_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the dispute was created, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6). For example, *`yyyy`*-*`MM`*-*`dd`*`T`*`HH`*:*`mm`*:*`ss`*.*`SSS`*`Z`."
          }
        },
        "update_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the dispute was last updated, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6). For example, *`yyyy`*-*`MM`*-*`dd`*`T`*`HH`*:*`mm`*:*`ss`*.*`SSS`*`Z`."
          }
        },
        "reason": {
          "target": "com.paypal.customer_disputes_v1#DisputeReason"
        },
        "status": {
          "target": "com.paypal.customer_disputes_v1#Status"
        },
        "dispute_state": {
          "target": "com.paypal.customer_disputes_v1#DisputeState"
        },
        "dispute_amount": {
          "target": "com.paypal.customer_disputes_v1#Money",
          "traits": {
            "smithy.api#documentation": "The amount in the transaction that the customer originally disputed. Because customers can sometimes dispute only part of the payment, the disputed amount might be different from the total gross or net amount of the original transaction."
          }
        },
        "dispute_asset": {
          "target": "com.paypal.customer_disputes_v1#Cryptocurrency",
          "traits": {
            "smithy.api#documentation": "The asset in the transaction that the customer disputed."
          }
        },
        "dispute_life_cycle_stage": {
          "target": "com.paypal.customer_disputes_v1#DisputeLifecycleStage"
        },
        "dispute_channel": {
          "target": "com.paypal.customer_disputes_v1#DisputeChannel"
        },
        "buyer_response_due_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time by when the customer must respond to the dispute, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6). If the customer does not respond by this date and time, the dispute is closed in the merchant's favor. For example, *`yyyy`*-*`MM`*-*`dd`*`T`*`HH`*:*`mm`*:*`ss`*.*`SSS`*`Z`."
          }
        },
        "seller_response_due_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time by when the merchant must respond to the dispute, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6). If the merchant does not respond by this date and time, the dispute is closed in the customer's favor. For example, *`yyyy`*-*`MM`*-*`dd`*`T`*`HH`*:*`mm`*:*`ss`*.*`SSS`*`Z`."
          }
        },
        "links": {
          "target": "com.paypal.customer_disputes_v1#DefinitionsLinkDescriptionList"
        }
      },
      "traits": {
        "smithy.api#documentation": "The dispute summary information."
      }
    },
    "com.paypal.customer_disputes_v1#DisputeReason": {
      "type": "enum",
      "members": {
        "MERCHANDISE_OR_SERVICE_NOT_RECEIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MERCHANDISE_OR_SERVICE_NOT_RECEIVED"
          }
        },
        "MERCHANDISE_OR_SERVICE_NOT_AS_DESCRIBED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MERCHANDISE_OR_SERVICE_NOT_AS_DESCRIBED"
          }
        },
        "UNAUTHORISED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNAUTHORISED"
          }
        },
        "CREDIT_NOT_PROCESSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREDIT_NOT_PROCESSED"
          }
        },
        "DUPLICATE_TRANSACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DUPLICATE_TRANSACTION"
          }
        },
        "INCORRECT_AMOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCORRECT_AMOUNT"
          }
        },
        "PAYMENT_BY_OTHER_MEANS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAYMENT_BY_OTHER_MEANS"
          }
        },
        "CANCELED_RECURRING_BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED_RECURRING_BILLING"
          }
        },
        "PROBLEM_WITH_REMITTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROBLEM_WITH_REMITTANCE"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The reason for the item-level dispute. For information about the required information for each dispute reason and associated evidence type, see <a href=\"/docs/integration/direct/customer-disputes/integration-guide/#dispute-reasons\">dispute reasons</a>."
      }
    },
    "com.paypal.customer_disputes_v1#Status": {
      "type": "enum",
      "members": {
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPEN"
          }
        },
        "WAITING_FOR_BUYER_RESPONSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WAITING_FOR_BUYER_RESPONSE"
          }
        },
        "WAITING_FOR_SELLER_RESPONSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WAITING_FOR_SELLER_RESPONSE"
          }
        },
        "UNDER_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_REVIEW"
          }
        },
        "RESOLVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOLVED"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The overall status of the dispute, constant for all the parties involved at anytime during the dispute lifecycle."
      }
    },
    "com.paypal.customer_disputes_v1#DisputeState": {
      "type": "enum",
      "members": {
        "OPEN_INQUIRIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPEN_INQUIRIES"
          }
        },
        "REQUIRED_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUIRED_ACTION"
          }
        },
        "REQUIRED_OTHER_PARTY_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUIRED_OTHER_PARTY_ACTION"
          }
        },
        "UNDER_PAYPAL_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_PAYPAL_REVIEW"
          }
        },
        "APPEALABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPEALABLE"
          }
        },
        "RESOLVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOLVED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The user specific state of the dispute, could vary between parties during the dispute lifecycle."
      }
    },
    "com.paypal.customer_disputes_v1#Money": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The currency and amount for a financial transaction, such as a balance or payment due."
      }
    },
    "com.paypal.customer_disputes_v1#Cryptocurrency": {
      "type": "structure",
      "members": {
        "asset_symbol": {
          "target": "com.paypal.customer_disputes_v1#CryptocurrencySymbol",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "quantity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "quantity_in_subunits": {
          "target": "smithy.api#String"
        },
        "decimals": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#documentation": "The details needed to represent a specific cryptocurrency balance, such as its symbol and quantity."
      }
    },
    "com.paypal.customer_disputes_v1#CryptocurrencySymbol": {
      "type": "enum",
      "members": {
        "BTC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BTC"
          }
        },
        "ETH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ETH"
          }
        },
        "BCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BCH"
          }
        },
        "LTC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LTC"
          }
        },
        "PYUSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PYUSD"
          }
        },
        "LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINK"
          }
        },
        "SOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOL"
          }
        },
        "MATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATIC"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The cryptocurrency symbol or code ticker options. Assigned by liquidity providers and exchanges."
      }
    },
    "com.paypal.customer_disputes_v1#DisputeLifecycleStage": {
      "type": "enum",
      "members": {
        "INQUIRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INQUIRY"
          }
        },
        "CHARGEBACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHARGEBACK"
          }
        },
        "PRE_ARBITRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRE_ARBITRATION"
          }
        },
        "ARBITRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARBITRATION"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The stage in the dispute lifecycle."
      }
    },
    "com.paypal.customer_disputes_v1#DisputeChannel": {
      "type": "enum",
      "members": {
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL"
          }
        },
        "ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALERT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The channel where the customer created the dispute."
      }
    },
    "com.paypal.customer_disputes_v1#DefinitionsLinkDescriptionList": {
      "type": "list",
      "member": {
        "target": "com.paypal.customer_disputes_v1#LinkDescription"
      },
      "traits": {
        "smithy.api#documentation": "An array of request-related [HATEOAS links](/docs/api/reference/api-responses/#hateoas-links/)."
      }
    },
    "com.paypal.customer_disputes_v1#LinkDescription": {
      "type": "structure",
      "members": {
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The complete target URL. To make the related call, combine the method with this [URI Template-formatted](https://tools.ietf.org/html/rfc6570) link. For pre-processing, include the `$`, `(`, and `)` characters. The `href` is the key HATEOAS component that links a completed call with a subsequent call.",
            "smithy.api#required": {}
          }
        },
        "rel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [link relation type](https://tools.ietf.org/html/rfc5988#section-4), which serves as an ID for a link that unambiguously describes the semantics of the link. See [Link Relations](https://www.iana.org/assignments/link-relations/link-relations.xhtml).",
            "smithy.api#required": {}
          }
        },
        "method": {
          "target": "com.paypal.customer_disputes_v1#LinkDescriptionMethod",
          "traits": {
            "smithy.api#documentation": "The HTTP method required to make the related call."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request-related [HATEOAS link](/api/rest/responses/#hateoas-links) information."
      }
    },
    "com.paypal.customer_disputes_v1#LinkDescriptionMethod": {
      "type": "enum",
      "members": {
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "HEAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEAD"
          }
        },
        "CONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECT"
          }
        },
        "OPTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIONS"
          }
        },
        "PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCH"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The HTTP method required to make the related call."
      }
    },
    "com.paypal.customer_disputes_v1#DisputesList": {
      "type": "operation",
      "input": {
        "target": "com.paypal.customer_disputes_v1#DisputesListRequest"
      },
      "output": {
        "target": "com.paypal.customer_disputes_v1#DisputeSearch"
      },
      "errors": [
        {
          "target": "com.paypal.customer_disputes_v1#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/customer/disputes",
          "code": 200
        },
        "smithy.api#documentation": "List disputes\n\nLists disputes with a summary set of details, which shows the <code>dispute_id</code>, <code>reason</code>, <code>status</code>, <code>dispute_state</code>, <code>dispute_life_cycle_stage</code>, <code>dispute_channel</code>, <code>dispute_amount</code>, <code>create_time</code> and <code>update_time</code> fields.<br/><br/>To filter the disputes in the response, specify one or more optional query parameters. To limit the number of disputes in the response, specify the <code>page_size</code> query parameter.<br/><br/>To list multiple disputes, set these query parameters in the request:<ul><li><code>page_size=2</code></li><li><code>start_time</code> instead of <code>disputed_transaction_id</code></li></ul><br/>If the response contains more than two disputes, it lists two disputes and includes a HATEOAS link to the next page of results."
      }
    },
    "com.paypal.customer_disputes_v1#DisputesGetRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the dispute for which to provide the supporting information."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.paypal.customer_disputes_v1#Dispute": {
      "type": "structure",
      "members": {
        "dispute_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the dispute."
          }
        },
        "create_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the dispute was created, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6). For example, *`yyyy`*-*`MM`*-*`dd`*`T`*`HH`*:*`mm`*:*`ss`*.*`SSS`*`Z`."
          }
        },
        "update_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the dispute was last updated, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6). For example, *`yyyy`*-*`MM`*-*`dd`*`T`*`HH`*:*`mm`*:*`ss`*.*`SSS`*`Z`."
          }
        },
        "disputed_transactions": {
          "target": "com.paypal.customer_disputes_v1#TransactionInfoList"
        },
        "reason": {
          "target": "com.paypal.customer_disputes_v1#DisputeReason"
        },
        "status": {
          "target": "com.paypal.customer_disputes_v1#Status"
        },
        "dispute_amount": {
          "target": "com.paypal.customer_disputes_v1#Money",
          "traits": {
            "smithy.api#documentation": "The amount in the transaction that the customer originally disputed. Because customers can sometimes dispute only part of the payment, the disputed amount might be different from the total gross or net amount of the original transaction."
          }
        },
        "dispute_asset": {
          "target": "com.paypal.customer_disputes_v1#Cryptocurrency",
          "traits": {
            "smithy.api#documentation": "The asset in the transaction that the customer disputed."
          }
        },
        "fee_policy": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Policy that determines whether the fee needs to be charged, retained or returned while moving the money as part of dispute process."
          }
        },
        "external_reason_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The code that identifies the reason for the credit card chargeback. Each card issuer follows their own standards for defining reason type, code, and its format. For more details about the external reason code, see the card issue site. Available for only unbranded transactions."
          }
        },
        "dispute_outcome": {
          "target": "com.paypal.customer_disputes_v1#DisputeOutcome"
        },
        "adjudications": {
          "target": "com.paypal.customer_disputes_v1#AdjudicationList"
        },
        "money_movements": {
          "target": "com.paypal.customer_disputes_v1#MoneyMovementList"
        },
        "fund_movements": {
          "target": "com.paypal.customer_disputes_v1#FundMovementList"
        },
        "dispute_life_cycle_stage": {
          "target": "com.paypal.customer_disputes_v1#DisputeLifecycleStage"
        },
        "dispute_channel": {
          "target": "com.paypal.customer_disputes_v1#DisputeChannel"
        },
        "messages": {
          "target": "com.paypal.customer_disputes_v1#MessageList"
        },
        "extensions": {
          "target": "com.paypal.customer_disputes_v1#Extensions"
        },
        "evidences": {
          "target": "com.paypal.customer_disputes_v1#EvidenceList"
        },
        "buyer_response_due_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time by when the customer must respond to the dispute, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6). If the customer does not respond by this date and time, the dispute is closed in the merchant's favor. For example, *`yyyy`*-*`MM`*-*`dd`*`T`*`HH`*:*`mm`*:*`ss`*.*`SSS`*`Z`."
          }
        },
        "seller_response_due_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time by when the merchant must respond to the dispute, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6). If the merchant does not respond by this date and time, the dispute is closed in the customer's favor. For example, *`yyyy`*-*`MM`*-*`dd`*`T`*`HH`*:*`mm`*:*`ss`*.*`SSS`*`Z`."
          }
        },
        "offer": {
          "target": "com.paypal.customer_disputes_v1#Offer"
        },
        "refund_details": {
          "target": "com.paypal.customer_disputes_v1#RefundDetails"
        },
        "communication_details": {
          "target": "com.paypal.customer_disputes_v1#CommunicationDetails"
        },
        "supporting_info": {
          "target": "com.paypal.customer_disputes_v1#SupportingInfoList"
        },
        "allowed_response_options": {
          "target": "com.paypal.customer_disputes_v1#AllowedResponseOptions"
        },
        "links": {
          "target": "com.paypal.customer_disputes_v1#DefinitionsLinkDescriptionList"
        }
      },
      "traits": {
        "smithy.api#documentation": "The dispute details."
      }
    },
    "com.paypal.customer_disputes_v1#TransactionInfoList": {
      "type": "list",
      "member": {
        "target": "com.paypal.customer_disputes_v1#TransactionInfo"
      },
      "traits": {
        "smithy.api#documentation": "An array of transactions for which disputes were created."
      }
    },
    "com.paypal.customer_disputes_v1#TransactionInfo": {
      "type": "structure",
      "members": {
        "buyer_transaction_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID, as seen by the customer, for this transaction."
          }
        },
        "seller_transaction_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID, as seen by the merchant, for this transaction."
          }
        },
        "reference_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID, as seen by the partner, for this transaction."
          }
        },
        "create_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the transaction was created, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6). For example, *`yyyy`*-*`MM`*-*`dd`*`T`*`HH`*:*`mm`*:*`ss`*.*`SSS`*`Z`."
          }
        },
        "transaction_status": {
          "target": "com.paypal.customer_disputes_v1#TransactionInfoTransactionStatus",
          "traits": {
            "smithy.api#documentation": "The transaction status."
          }
        },
        "gross_amount": {
          "target": "com.paypal.customer_disputes_v1#Money",
          "traits": {
            "smithy.api#documentation": "The gross amount of the transaction."
          }
        },
        "gross_asset": {
          "target": "com.paypal.customer_disputes_v1#Cryptocurrency",
          "traits": {
            "smithy.api#documentation": "The gross asset of the transaction."
          }
        },
        "invoice_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the invoice for the payment."
          }
        },
        "custom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A free-text field that is entered by the merchant during checkout."
          }
        },
        "buyer": {
          "target": "com.paypal.customer_disputes_v1#Buyer"
        },
        "seller": {
          "target": "com.paypal.customer_disputes_v1#Seller"
        },
        "items": {
          "target": "com.paypal.customer_disputes_v1#ItemInfoList"
        },
        "payment_processor": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {
        "smithy.api#documentation": "The information about the disputed transaction."
      }
    },
    "com.paypal.customer_disputes_v1#TransactionInfoTransactionStatus": {
      "type": "enum",
      "members": {
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "UNCLAIMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNCLAIMED"
          }
        },
        "DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENIED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "HELD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HELD"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "PARTIALLY_REFUNDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTIALLY_REFUNDED"
          }
        },
        "REFUNDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REFUNDED"
          }
        },
        "REVERSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVERSED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The transaction status."
      }
    },
    "com.paypal.customer_disputes_v1#Buyer": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The customer's name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The details for the customer who funds the payment. For example, the customer's first name, last name, and email address."
      }
    },
    "com.paypal.customer_disputes_v1#Seller": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address for the merchant's PayPal account."
          }
        },
        "merchant_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The PayPal account ID for the merchant."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the merchant."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The details for the merchant who receives the funds and fulfills the order. For example, merchant ID, and contact email address."
      }
    },
    "com.paypal.customer_disputes_v1#ItemInfoList": {
      "type": "list",
      "member": {
        "target": "com.paypal.customer_disputes_v1#ItemInfo"
      },
      "traits": {
        "smithy.api#documentation": "An array of items that were purchased as part of the transaction."
      }
    },
    "com.paypal.customer_disputes_v1#ItemInfo": {
      "type": "structure",
      "members": {
        "item_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The item ID. If the merchant provides multiple pieces of evidence and the transaction has multiple item IDs, the merchant can use this value to associate a piece of evidence with an item ID."
          }
        },
        "item_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The item name."
          }
        },
        "item_description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The item description."
          }
        },
        "item_quantity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The count of the item in the dispute. Must be a whole number."
          }
        },
        "partner_transaction_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the transaction in the partner system. The partner transaction ID is returned at an item level because the partner might show different transactions for different items in the cart."
          }
        },
        "reason": {
          "target": "com.paypal.customer_disputes_v1#DisputeReason"
        },
        "dispute_amount": {
          "target": "com.paypal.customer_disputes_v1#Money",
          "traits": {
            "smithy.api#documentation": "The amount of the item in the dispute."
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Any notes provided with the item."
          }
        },
        "item_type": {
          "target": "com.paypal.customer_disputes_v1#ItemType"
        },
        "product_details": {
          "target": "smithy.api#Document"
        },
        "service_details": {
          "target": "smithy.api#Document"
        },
        "booking_details": {
          "target": "smithy.api#Document"
        },
        "digital_download_details": {
          "target": "smithy.api#Document"
        },
        "cancellation_details": {
          "target": "smithy.api#Document"
        },
        "agreed_refund_details": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {
        "smithy.api#documentation": "The information for a purchased item in a disputed transaction."
      }
    },
    "com.paypal.customer_disputes_v1#ItemType": {
      "type": "enum",
      "members": {
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT"
          }
        },
        "SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE"
          }
        },
        "BOOKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOKING"
          }
        },
        "DIGITAL_DOWNLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIGITAL_DOWNLOAD"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the item which has the issue."
      }
    },
    "com.paypal.customer_disputes_v1#DisputeOutcome": {
      "type": "structure",
      "members": {
        "outcome_code": {
          "target": "com.paypal.customer_disputes_v1#DisputeOutcomeOutcomeCode",
          "traits": {
            "smithy.api#documentation": "The outcome of a resolved dispute."
          }
        },
        "outcome_reason": {
          "target": "com.paypal.customer_disputes_v1#AdjudicationReason",
          "traits": {
            "smithy.api#documentation": "The justification for the adjudication outcome."
          }
        },
        "amount_refunded": {
          "target": "com.paypal.customer_disputes_v1#Money",
          "traits": {
            "smithy.api#documentation": "The amount that either the merchant or PayPal refunds the customer."
          }
        },
        "asset_refunded": {
          "target": "com.paypal.customer_disputes_v1#Cryptocurrency",
          "traits": {
            "smithy.api#documentation": "The asset that either the merchant or PayPal refunds the customer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The outcome of a dispute."
      }
    },
    "com.paypal.customer_disputes_v1#DisputeOutcomeOutcomeCode": {
      "type": "enum",
      "members": {
        "RESOLVED_BUYER_FAVOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOLVED_BUYER_FAVOUR"
          }
        },
        "RESOLVED_SELLER_FAVOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOLVED_SELLER_FAVOUR"
          }
        },
        "RESOLVED_WITH_PAYOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOLVED_WITH_PAYOUT"
          }
        },
        "CANCELED_BY_BUYER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED_BY_BUYER"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCEPTED"
          }
        },
        "DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENIED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The outcome of a resolved dispute."
      }
    },
    "com.paypal.customer_disputes_v1#AdjudicationReason": {
      "type": "enum",
      "members": {
        "AMOUNT_DIFFERENCE_EXPECTED_DUE_TO_FEES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMOUNT_DIFFERENCE_EXPECTED_DUE_TO_FEES"
          }
        },
        "BILLING_AGREEMENT_CHANGE_DISCLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING_AGREEMENT_CHANGE_DISCLOSED"
          }
        },
        "BILLING_AGREEMENT_CHANGE_NOT_DISCLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING_AGREEMENT_CHANGE_NOT_DISCLOSED"
          }
        },
        "BILLING_AGREEMENT_DATE_CHANGE_DISCLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING_AGREEMENT_DATE_CHANGE_DISCLOSED"
          }
        },
        "BILLING_AGREEMENT_DATE_CHANGE_NOT_DISCLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING_AGREEMENT_DATE_CHANGE_NOT_DISCLOSED"
          }
        },
        "BUYER_ATTEMPTED_RETURN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER_ATTEMPTED_RETURN"
          }
        },
        "BUYER_BILLED_ONLY_ONCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER_BILLED_ONLY_ONCE"
          }
        },
        "BUYER_CANCELLED_CASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER_CANCELLED_CASE"
          }
        },
        "BUYER_CANCELLED_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER_CANCELLED_SERVICE"
          }
        },
        "BUYER_FAILED_TO_DESCRIBE_ISSUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER_FAILED_TO_DESCRIBE_ISSUE"
          }
        },
        "BUYER_HAS_POSSESSION_OF_THE_MERCHANDISE_OR_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER_HAS_POSSESSION_OF_THE_MERCHANDISE_OR_SERVICE"
          }
        },
        "BUYER_MADE_NO_ATTEMPT_TO_RESOLVE_WITH_SELLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER_MADE_NO_ATTEMPT_TO_RESOLVE_WITH_SELLER"
          }
        },
        "BUYER_NOT_IN_POSSESSION_OF_ITEM_TO_RETURN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER_NOT_IN_POSSESSION_OF_ITEM_TO_RETURN"
          }
        },
        "BUYER_PROVIDED_CREDIT_RECEIPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER_PROVIDED_CREDIT_RECEIPT"
          }
        },
        "BUYER_RECEIVED_DUPLICATE_REFUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER_RECEIVED_DUPLICATE_REFUND"
          }
        },
        "CANCELLED_PER_TERMS_OF_BILLING_AGREEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED_PER_TERMS_OF_BILLING_AGREEMENT"
          }
        },
        "CARD_NOT_STOLEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CARD_NOT_STOLEN"
          }
        },
        "CARD_NOT_STOLEN_BEFORE_AUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CARD_NOT_STOLEN_BEFORE_AUTH"
          }
        },
        "CUSTOMER_RECOGNIZES_TRANSACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_RECOGNIZES_TRANSACTION"
          }
        },
        "DECISION_BASED_ON_AVAILABLE_INFORMATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DECISION_BASED_ON_AVAILABLE_INFORMATION"
          }
        },
        "DELIVERY_AFTER_EXPECTED_DELIVERY_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELIVERY_AFTER_EXPECTED_DELIVERY_DATE"
          }
        },
        "DELIVERY_DUE_WITHIN_EXPECTED_DELIVERY_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELIVERY_DUE_WITHIN_EXPECTED_DELIVERY_DATE"
          }
        },
        "DELIVERY_OR_SERVICE_REFUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELIVERY_OR_SERVICE_REFUSED"
          }
        },
        "DOCUMENTATION_MATCHES_AMOUNT_CHARGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENTATION_MATCHES_AMOUNT_CHARGED"
          }
        },
        "DOCUMENTATION_MATCHES_AMOUNT_IN_PAYPAL_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENTATION_MATCHES_AMOUNT_IN_PAYPAL_ACCOUNT"
          }
        },
        "DUPLICATE_ADD_FUNDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DUPLICATE_ADD_FUNDS"
          }
        },
        "EFFORTLESS_SELLER_PROTECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EFFORTLESS_SELLER_PROTECTION"
          }
        },
        "IN_PERSON_DELIVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PERSON_DELIVERY"
          }
        },
        "INELIGIBLE_BUYER_PROTECTION_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INELIGIBLE_BUYER_PROTECTION_POLICY"
          }
        },
        "INELIGIBLE_SELLER_PROTECTION_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INELIGIBLE_SELLER_PROTECTION_POLICY"
          }
        },
        "INQUIRY_OFFER_ITEM_REPLACED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INQUIRY_OFFER_ITEM_REPLACED"
          }
        },
        "INQUIRY_OFFER_PARTIAL_REFUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INQUIRY_OFFER_PARTIAL_REFUND"
          }
        },
        "INQUIRY_OFFER_REFUND_WITH_ITEM_RETURN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INQUIRY_OFFER_REFUND_WITH_ITEM_RETURN"
          }
        },
        "INQUIRY_OFFER_REFUND_WITH_REPLACEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INQUIRY_OFFER_REFUND_WITH_REPLACEMENT"
          }
        },
        "INVALID_APPEAL_REASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_APPEAL_REASON"
          }
        },
        "INVALID_CHARGEBACK_SELLER_FAVOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_CHARGEBACK_SELLER_FAVOUR"
          }
        },
        "INVALID_DELIVERY_PROOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_DELIVERY_PROOF"
          }
        },
        "INVALID_DELIVERY_PROOF_SIGNATURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_DELIVERY_PROOF_SIGNATURE"
          }
        },
        "INVALID_DOCUMENTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_DOCUMENTATION"
          }
        },
        "INVALID_PROOF_OF_SHIPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_PROOF_OF_SHIPMENT"
          }
        },
        "INVALID_REFUND_PROOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_REFUND_PROOF"
          }
        },
        "INVALID_RETURN_DELIVERY_NO_SIGNATURE_PROOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_RETURN_DELIVERY_NO_SIGNATURE_PROOF"
          }
        },
        "INVALID_RETURN_DELIVERY_PROOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_RETURN_DELIVERY_PROOF"
          }
        },
        "INVALID_TRACKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_TRACKING"
          }
        },
        "ITEM_ALTERED_REPAIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ITEM_ALTERED_REPAIRED"
          }
        },
        "ITEM_NOT_AS_ADVERTISED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ITEM_NOT_AS_ADVERTISED"
          }
        },
        "ITEM_NOT_AS_DESCRIBED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ITEM_NOT_AS_DESCRIBED"
          }
        },
        "ITEM_NOT_DAMAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ITEM_NOT_DAMAGED"
          }
        },
        "ITEM_NOT_DELIVERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ITEM_NOT_DELIVERED"
          }
        },
        "ITEM_NOT_RETURNED_TO_SELLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ITEM_NOT_RETURNED_TO_SELLER"
          }
        },
        "ITEM_NOT_SHIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ITEM_NOT_SHIPPED"
          }
        },
        "ITEM_OF_DIFFERENT_QUALITY_OR_QUANTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ITEM_OF_DIFFERENT_QUALITY_OR_QUANTITY"
          }
        },
        "ITEM_OUT_OF_STOCK_AND_NOT_DELIVERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ITEM_OUT_OF_STOCK_AND_NOT_DELIVERED"
          }
        },
        "ITEM_RETURNED_TO_SELLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ITEM_RETURNED_TO_SELLER"
          }
        },
        "ITEM_SERVICE_MISREPRESENTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ITEM_SERVICE_MISREPRESENTED"
          }
        },
        "ITEM_SERVICE_NOT_MISREPRESENTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ITEM_SERVICE_NOT_MISREPRESENTED"
          }
        },
        "ITEM_SERVICE_RECEIVED_BY_BUYER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ITEM_SERVICE_RECEIVED_BY_BUYER"
          }
        },
        "ITEM_SOLD_AS_DESCRIBED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ITEM_SOLD_AS_DESCRIBED"
          }
        },
        "ITEM_VALUE_UNAFFECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ITEM_VALUE_UNAFFECTED"
          }
        },
        "MULTIPLE_APPEALS_WITH_SAME_REASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTIPLE_APPEALS_WITH_SAME_REASON"
          }
        },
        "NO_DOCUMENTATION_FROM_BUYER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_DOCUMENTATION_FROM_BUYER"
          }
        },
        "NO_DOCUMENTATION_SUPPORTING_DUE_OF_CREDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_DOCUMENTATION_SUPPORTING_DUE_OF_CREDIT"
          }
        },
        "NO_PROOF_OF_DELIVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_PROOF_OF_DELIVERY"
          }
        },
        "NO_PROOF_OF_DELIVERY_INTANGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_PROOF_OF_DELIVERY_INTANGIBLE"
          }
        },
        "NO_PROTECTION_FOR_DIGITAL_GOODS_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_PROTECTION_FOR_DIGITAL_GOODS_SERVICE"
          }
        },
        "NO_RESPONSE_FROM_BUYER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_RESPONSE_FROM_BUYER"
          }
        },
        "NO_RESPONSE_FROM_BUYER_FOR_ADDITIONAL_INFO_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_RESPONSE_FROM_BUYER_FOR_ADDITIONAL_INFO_REQUEST"
          }
        },
        "NO_SELLER_RESPONSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_SELLER_RESPONSE"
          }
        },
        "NO_SELLER_RESPONSE_FOR_ADDITIONAL_INFO_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_SELLER_RESPONSE_FOR_ADDITIONAL_INFO_REQUEST"
          }
        },
        "NO_VALID_SHIPMENT_PROOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_VALID_SHIPMENT_PROOF"
          }
        },
        "NOT_A_BILLING_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_A_BILLING_ERROR"
          }
        },
        "NOT_AN_UNAUTHORIZED_TRANSACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_AN_UNAUTHORIZED_TRANSACTION"
          }
        },
        "NOT_DUPLICATE_FUNDS_ADDED_ONCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_DUPLICATE_FUNDS_ADDED_ONCE"
          }
        },
        "NOT_DUPLICATE_FUNDS_WITHDRAWN_ONCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_DUPLICATE_FUNDS_WITHDRAWN_ONCE"
          }
        },
        "NOT_SHIPPED_TO_CORRECT_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_SHIPPED_TO_CORRECT_ADDRESS"
          }
        },
        "PARTIAL_REFUND_ISSUED_FOR_MISSING_ITEMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTIAL_REFUND_ISSUED_FOR_MISSING_ITEMS"
          }
        },
        "PARTIAL_REFUND_OFFER_ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTIAL_REFUND_OFFER_ACCEPTED"
          }
        },
        "PAYMENT_REVERSED_ALREADY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAYMENT_REVERSED_ALREADY"
          }
        },
        "POS_SUBMITTED_INSTEAD_OF_POD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POS_SUBMITTED_INSTEAD_OF_POD"
          }
        },
        "PREAUTH_INSTALLMENT_DUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREAUTH_INSTALLMENT_DUE"
          }
        },
        "PROOF_OF_BILLING_AFTER_CANCELLATION_ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROOF_OF_BILLING_AFTER_CANCELLATION_ACCEPTED"
          }
        },
        "PROOF_OF_DUPLICATE_DENIED_OR_INSUFFICIENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROOF_OF_DUPLICATE_DENIED_OR_INSUFFICIENT"
          }
        },
        "PROOF_OF_INCORRECT_TRANSACTION_AMOUNT_ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROOF_OF_INCORRECT_TRANSACTION_AMOUNT_ACCEPTED"
          }
        },
        "PROOF_OF_PAID_BY_OTHER_MEANS_NOT_SUBMITTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROOF_OF_PAID_BY_OTHER_MEANS_NOT_SUBMITTED"
          }
        },
        "PROOF_OF_TRACKING_NOT_SUBMITTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROOF_OF_TRACKING_NOT_SUBMITTED"
          }
        },
        "PROTECTED_BY_PAYPAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTECTED_BY_PAYPAL"
          }
        },
        "REPRESENTED_BY_PAYPAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPRESENTED_BY_PAYPAL"
          }
        },
        "SELLER_ACCEPTED_MULTIPLE_PAYMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELLER_ACCEPTED_MULTIPLE_PAYMENTS"
          }
        },
        "SELLER_AGREED_REFUND_WITHOUT_RETURN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELLER_AGREED_REFUND_WITHOUT_RETURN"
          }
        },
        "SELLER_AGREED_TO_ISSUE_CREDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELLER_AGREED_TO_ISSUE_CREDIT"
          }
        },
        "SELLER_ISSUED_CREDIT_TO_BUYER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELLER_ISSUED_CREDIT_TO_BUYER"
          }
        },
        "SELLER_ISSUED_REFUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELLER_ISSUED_REFUND"
          }
        },
        "SELLER_NOT_REACHABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELLER_NOT_REACHABLE"
          }
        },
        "SELLER_RECEIVED_PAYMENT_TWICE_OR_FOR_REPLACEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELLER_RECEIVED_PAYMENT_TWICE_OR_FOR_REPLACEMENT"
          }
        },
        "SELLER_REFUSED_REFUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELLER_REFUSED_REFUND"
          }
        },
        "SELLER_REFUSED_RETURN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELLER_REFUSED_RETURN"
          }
        },
        "SELLER_SURCHARGED_BUYER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELLER_SURCHARGED_BUYER"
          }
        },
        "SERVICE_NOT_COMPLETED_AS_AGREED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_NOT_COMPLETED_AS_AGREED"
          }
        },
        "SHIPPING_COMPANY_WONT_SHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHIPPING_COMPANY_WONT_SHIP"
          }
        },
        "TRACKING_PROOF_NOT_ENOUGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRACKING_PROOF_NOT_ENOUGH"
          }
        },
        "TRANSACTION_AUTHORIZED_BY_CARDHOLDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSACTION_AUTHORIZED_BY_CARDHOLDER"
          }
        },
        "TRANSACTION_CANCELLED_AFTER_AUTHORIZATION_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSACTION_CANCELLED_AFTER_AUTHORIZATION_DATE"
          }
        },
        "TRANSACTION_CANCELLED_BEFORE_SHIPMENT_SERVICE_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSACTION_CANCELLED_BEFORE_SHIPMENT_SERVICE_DATE"
          }
        },
        "TRANSACTION_MATCHES_BUYER_SPENDING_PATTERN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSACTION_MATCHES_BUYER_SPENDING_PATTERN"
          }
        },
        "TRANSACTION_PROCESSED_CORRECTLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSACTION_PROCESSED_CORRECTLY"
          }
        },
        "TRUSTED_BUYER_PAYOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRUSTED_BUYER_PAYOUT"
          }
        },
        "UNUSED_SHIPPING_LABEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNUSED_SHIPPING_LABEL"
          }
        },
        "VALID_PROOF_OF_DELIVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALID_PROOF_OF_DELIVERY"
          }
        },
        "VALID_PROOF_OF_DELIVERY_WITH_SIGNATURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALID_PROOF_OF_DELIVERY_WITH_SIGNATURE"
          }
        },
        "VALID_PROOF_OF_REFUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALID_PROOF_OF_REFUND"
          }
        },
        "VALID_PROOF_SUPPORTING_CLAIM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALID_PROOF_SUPPORTING_CLAIM"
          }
        },
        "VALID_RETURN_DELIVERY_PROOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALID_RETURN_DELIVERY_PROOF"
          }
        },
        "VALID_RETURN_DELIVERY_PROOF_WITH_SIGNATURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALID_RETURN_DELIVERY_PROOF_WITH_SIGNATURE"
          }
        },
        "VALID_SHIPMENT_PROOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALID_SHIPMENT_PROOF"
          }
        },
        "VALUE_AFFECTED_SIGNIFICANTLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALUE_AFFECTED_SIGNIFICANTLY"
          }
        },
        "PROTECTION_POLICY_APPLIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTECTION_POLICY_APPLIES"
          }
        },
        "SNAD_DELAYED_FILING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SNAD_DELAYED_FILING"
          }
        },
        "FUNDS_TRANSFERRED_TO_INCORRECT_RECIPIENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FUNDS_TRANSFERRED_TO_INCORRECT_RECIPIENT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The reason for the adjudication type."
      }
    },
    "com.paypal.customer_disputes_v1#AdjudicationList": {
      "type": "list",
      "member": {
        "target": "com.paypal.customer_disputes_v1#Adjudication"
      },
      "traits": {
        "smithy.api#documentation": "The Teammate Adjudication details for the dispute."
      }
    },
    "com.paypal.customer_disputes_v1#Adjudication": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.paypal.customer_disputes_v1#AdjudicationType",
          "traits": {
            "smithy.api#documentation": "The type of adjudication.",
            "smithy.api#required": {}
          }
        },
        "adjudication_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the adjudication was done, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6).",
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "com.paypal.customer_disputes_v1#AdjudicationReason",
          "traits": {
            "smithy.api#documentation": "The reason for the adjudication type."
          }
        },
        "dispute_life_cycle_stage": {
          "target": "com.paypal.customer_disputes_v1#DisputeLifecycleStage",
          "traits": {
            "smithy.api#documentation": "The dispute life cycle stage during the adjudication."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Adjudication details for the dispute."
      }
    },
    "com.paypal.customer_disputes_v1#AdjudicationType": {
      "type": "enum",
      "members": {
        "DENY_BUYER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENY_BUYER"
          }
        },
        "PAYOUT_TO_BUYER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAYOUT_TO_BUYER"
          }
        },
        "PAYOUT_TO_SELLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAYOUT_TO_SELLER"
          }
        },
        "RECOVER_FROM_SELLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECOVER_FROM_SELLER"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of adjudication."
      }
    },
    "com.paypal.customer_disputes_v1#MoneyMovementList": {
      "type": "list",
      "member": {
        "target": "com.paypal.customer_disputes_v1#MoneyMovement"
      },
      "traits": {
        "smithy.api#documentation": "DEPRECATED The Money movement details for the dispute."
      }
    },
    "com.paypal.customer_disputes_v1#MoneyMovement": {
      "type": "structure",
      "members": {
        "affected_party": {
          "target": "com.paypal.customer_disputes_v1#MoneyMovementAffectedParty",
          "traits": {
            "smithy.api#documentation": "The affected party in the money movement."
          }
        },
        "amount": {
          "target": "com.paypal.customer_disputes_v1#Money",
          "traits": {
            "smithy.api#documentation": "The amount transferred as part of the money movement."
          }
        },
        "asset": {
          "target": "com.paypal.customer_disputes_v1#Cryptocurrency",
          "traits": {
            "smithy.api#documentation": "The asset transferred as part of the money movement."
          }
        },
        "initiated_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the money movement was initiated, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6)."
          }
        },
        "type": {
          "target": "com.paypal.customer_disputes_v1#MoneyMovementType",
          "traits": {
            "smithy.api#documentation": "The type of the money movement."
          }
        },
        "reason": {
          "target": "com.paypal.customer_disputes_v1#MoneyMovementReason",
          "traits": {
            "smithy.api#documentation": "The reason for the money movement."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Money movement details with party."
      }
    },
    "com.paypal.customer_disputes_v1#MoneyMovementAffectedParty": {
      "type": "enum",
      "members": {
        "SELLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELLER"
          }
        },
        "BUYER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER"
          }
        },
        "PAYMENT_PROCESSOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAYMENT_PROCESSOR"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The affected party in the money movement."
      }
    },
    "com.paypal.customer_disputes_v1#MoneyMovementType": {
      "type": "enum",
      "members": {
        "DEBIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEBIT"
          }
        },
        "CREDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREDIT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the money movement."
      }
    },
    "com.paypal.customer_disputes_v1#MoneyMovementReason": {
      "type": "enum",
      "members": {
        "DISPUTE_SETTLEMENT_FEE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISPUTE_SETTLEMENT_FEE"
          }
        },
        "DISPUTE_SETTLEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISPUTE_SETTLEMENT"
          }
        },
        "DISPUTE_FEE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISPUTE_FEE"
          }
        },
        "CHARGEBACK_FEE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHARGEBACK_FEE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The reason for the money movement."
      }
    },
    "com.paypal.customer_disputes_v1#FundMovementList": {
      "type": "list",
      "member": {
        "target": "com.paypal.customer_disputes_v1#FundMovement"
      },
      "traits": {
        "smithy.api#documentation": "The movements of fund due to the dispute."
      }
    },
    "com.paypal.customer_disputes_v1#FundMovement": {
      "type": "structure",
      "members": {
        "party": {
          "target": "com.paypal.customer_disputes_v1#FundMovementParty",
          "traits": {
            "smithy.api#documentation": "The affected party in the money movement."
          }
        },
        "amount": {
          "target": "com.paypal.customer_disputes_v1#Money",
          "traits": {
            "smithy.api#documentation": "The amount transferred as part of the money movement."
          }
        },
        "asset": {
          "target": "com.paypal.customer_disputes_v1#Cryptocurrency",
          "traits": {
            "smithy.api#documentation": "The asset transferred as part of the money movement."
          }
        },
        "initiated_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the money movement was initiated, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6)."
          }
        },
        "type": {
          "target": "com.paypal.customer_disputes_v1#FundMovementType",
          "traits": {
            "smithy.api#documentation": "The type of the money movement."
          }
        },
        "reason": {
          "target": "com.paypal.customer_disputes_v1#FundMovementReason",
          "traits": {
            "smithy.api#documentation": "The reason for the fund movement."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This section contains the details about the fund movement of the parties ,time , direction and the reason for it."
      }
    },
    "com.paypal.customer_disputes_v1#FundMovementParty": {
      "type": "enum",
      "members": {
        "SELLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELLER"
          }
        },
        "BUYER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER"
          }
        },
        "PAYMENT_PROCESSOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAYMENT_PROCESSOR"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The affected party in the money movement."
      }
    },
    "com.paypal.customer_disputes_v1#FundMovementType": {
      "type": "enum",
      "members": {
        "DEBIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEBIT"
          }
        },
        "CREDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREDIT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the money movement."
      }
    },
    "com.paypal.customer_disputes_v1#FundMovementReason": {
      "type": "enum",
      "members": {
        "REVERSED_TRANSACTION_FEE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVERSED_TRANSACTION_FEE"
          }
        },
        "DISPUTE_SETTLEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISPUTE_SETTLEMENT"
          }
        },
        "DISPUTE_FEE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISPUTE_FEE"
          }
        },
        "CHARGEBACK_FEE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHARGEBACK_FEE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The reason for the fund movement."
      }
    },
    "com.paypal.customer_disputes_v1#MessageList": {
      "type": "list",
      "member": {
        "target": "com.paypal.customer_disputes_v1#Message"
      },
      "traits": {
        "smithy.api#documentation": "An array of customer- or merchant-posted messages for the dispute."
      }
    },
    "com.paypal.customer_disputes_v1#Message": {
      "type": "structure",
      "members": {
        "posted_by": {
          "target": "com.paypal.customer_disputes_v1#MessagePostedBy",
          "traits": {
            "smithy.api#documentation": "Indicates whether the customer, merchant, or dispute arbiter posted the message."
          }
        },
        "time_posted": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the message was posted, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6)."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The message text."
          }
        },
        "documents": {
          "target": "com.paypal.customer_disputes_v1#DocumentList"
        }
      },
      "traits": {
        "smithy.api#documentation": "A customer- or merchant-posted message for the dispute."
      }
    },
    "com.paypal.customer_disputes_v1#MessagePostedBy": {
      "type": "enum",
      "members": {
        "BUYER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER"
          }
        },
        "SELLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELLER"
          }
        },
        "ARBITER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARBITER"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates whether the customer, merchant, or dispute arbiter posted the message."
      }
    },
    "com.paypal.customer_disputes_v1#DocumentList": {
      "type": "list",
      "member": {
        "target": "com.paypal.customer_disputes_v1#Document"
      },
      "traits": {
        "smithy.api#documentation": "An array of metadata for the documents which contains any additional info about the message posted."
      }
    },
    "com.paypal.customer_disputes_v1#Document": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The document name."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The downloadable URL for the document for which the client has access.<br/><br/><blockquote><strong>Note:</strong> Document download may require some configuration setup and available as a limited release at this time. For more information, reach out to your PayPal account manager.</blockquote>."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An uploaded document as a binary object that supports a dispute."
      }
    },
    "com.paypal.customer_disputes_v1#Extensions": {
      "type": "structure",
      "members": {
        "merchant_contacted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates that the merchant was contacted."
          }
        },
        "merchant_contacted_outcome": {
          "target": "com.paypal.customer_disputes_v1#MerchantContactedOutcome"
        },
        "merchant_contacted_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when merchant was contacted."
          }
        },
        "merchant_contacted_mode": {
          "target": "com.paypal.customer_disputes_v1#MerchantContactedMode",
          "traits": {
            "smithy.api#documentation": "The method used to contact the merchant."
          }
        },
        "buyer_contacted_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the buyer contacted the partner to file a dispute, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6). For example, *`yyyy`*-*`MM`*-*`dd`*`T`*`HH`*:*`mm`*:*`ss`*.*`SSS`*`Z`."
          }
        },
        "buyer_contacted_channel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The channel through which the buyer contacted the partner to file a dispute. Partners that allow buyers to create dispute from multiple channels can use this field to help identify which channel was used for each individual dispute."
          }
        },
        "billing_dispute_properties": {
          "target": "com.paypal.customer_disputes_v1#BillingDisputesProperties"
        },
        "merchandize_dispute_properties": {
          "target": "com.paypal.customer_disputes_v1#MerchandizeDisputeProperties"
        },
        "reported_source": {
          "target": "com.paypal.customer_disputes_v1#DisputeSource"
        }
      },
      "traits": {
        "smithy.api#documentation": "The extended properties for the dispute. Includes additional information for a dispute category, such as billing disputes, the original transaction ID, and the correct amount."
      }
    },
    "com.paypal.customer_disputes_v1#MerchantContactedOutcome": {
      "type": "enum",
      "members": {
        "NO_RESPONSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_RESPONSE"
          }
        },
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIXED"
          }
        },
        "NOT_FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_FIXED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The outcome when the customer has contacted the merchant."
      }
    },
    "com.paypal.customer_disputes_v1#MerchantContactedMode": {
      "type": "enum",
      "members": {
        "WEBSITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEBSITE"
          }
        },
        "PHONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHONE"
          }
        },
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMAIL"
          }
        },
        "WRITTEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WRITTEN"
          }
        },
        "IN_PERSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PERSON"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The method used to contact the merchant."
      }
    },
    "com.paypal.customer_disputes_v1#BillingDisputesProperties": {
      "type": "structure",
      "members": {
        "duplicate_transaction": {
          "target": "com.paypal.customer_disputes_v1#DuplicateTransaction"
        },
        "incorrect_transaction_amount": {
          "target": "com.paypal.customer_disputes_v1#IncorrectTransactionAmount"
        },
        "payment_by_other_means": {
          "target": "com.paypal.customer_disputes_v1#PaymentByOtherMeans"
        },
        "credit_not_processed": {
          "target": "com.paypal.customer_disputes_v1#CreditNotProcessed"
        },
        "canceled_recurring_billing": {
          "target": "com.paypal.customer_disputes_v1#CanceledRecurringBilling"
        }
      },
      "traits": {
        "smithy.api#documentation": "The billing issue details."
      }
    },
    "com.paypal.customer_disputes_v1#DuplicateTransaction": {
      "type": "structure",
      "members": {
        "received_duplicate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If `true`, indicates that a duplicate transaction was received."
          }
        },
        "original_transaction": {
          "target": "com.paypal.customer_disputes_v1#TransactionInfo",
          "traits": {
            "smithy.api#documentation": "The transaction details for the original transaction, when the dispute reason is `DUPLICATE_TRANSACTION`. Currently, contains only the date and amount."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The duplicate transaction details."
      }
    },
    "com.paypal.customer_disputes_v1#IncorrectTransactionAmount": {
      "type": "structure",
      "members": {
        "correct_transaction_amount": {
          "target": "com.paypal.customer_disputes_v1#Money"
        },
        "correct_transaction_asset": {
          "target": "com.paypal.customer_disputes_v1#Cryptocurrency",
          "traits": {
            "smithy.api#documentation": "The correct asset quantity of the transaction."
          }
        },
        "correct_transaction_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the customer created the transaction, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The incorrect transaction amount details."
      }
    },
    "com.paypal.customer_disputes_v1#PaymentByOtherMeans": {
      "type": "structure",
      "members": {
        "charge_different_from_original": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If `true`, indicates that a charge was made that is different from the original charge."
          }
        },
        "received_duplicate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If `true`, indicates that a duplicate transaction was received."
          }
        },
        "payment_method": {
          "target": "com.paypal.customer_disputes_v1#PaymentByOtherMeansPaymentMethod",
          "traits": {
            "smithy.api#documentation": "The payment method."
          }
        },
        "payment_instrument_suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last 2-4 characters of the payment instrument. For payment_method CHECK, payment_instrument_suffix entered must be of minimum length 2-4 characters. For payment_method CREDIT_CARD, DEBIT_CARD, GIFT_CARD, BANK_TRANSFER, payment_instrument_suffix entered must be of length 4."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payment by other means details."
      }
    },
    "com.paypal.customer_disputes_v1#PaymentByOtherMeansPaymentMethod": {
      "type": "enum",
      "members": {
        "CASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CASH"
          }
        },
        "CREDIT_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREDIT_CARD"
          }
        },
        "CHECK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHECK"
          }
        },
        "PAYPAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAYPAL"
          }
        },
        "DEBIT_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEBIT_CARD"
          }
        },
        "GIFT_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GIFT_CARD"
          }
        },
        "BANK_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BANK_TRANSFER"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payment method."
      }
    },
    "com.paypal.customer_disputes_v1#CreditNotProcessed": {
      "type": "structure",
      "members": {
        "issue_type": {
          "target": "com.paypal.customer_disputes_v1#CreditNotProcessedIssueType",
          "traits": {
            "smithy.api#documentation": "The issue type."
          }
        },
        "expected_refund": {
          "target": "com.paypal.customer_disputes_v1#Money"
        },
        "cancellation_details": {
          "target": "com.paypal.customer_disputes_v1#CancellationDetails"
        },
        "product_details": {
          "target": "com.paypal.customer_disputes_v1#ProductDetails"
        },
        "service_details": {
          "target": "com.paypal.customer_disputes_v1#ServiceDetails"
        },
        "agreed_refund_details": {
          "target": "com.paypal.customer_disputes_v1#AgreedRefundDetails"
        }
      },
      "traits": {
        "smithy.api#documentation": "The credit not processed details."
      }
    },
    "com.paypal.customer_disputes_v1#CreditNotProcessedIssueType": {
      "type": "enum",
      "members": {
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT"
          }
        },
        "SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The issue type."
      }
    },
    "com.paypal.customer_disputes_v1#CancellationDetails": {
      "type": "structure",
      "members": {
        "cancellation_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time of the cancellation, in [Internet date and time format](http://tools.ietf.org/html/rfc3339#section-5.6)."
          }
        },
        "cancellation_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cancellation number."
          }
        },
        "cancelled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the dispute was canceled."
          }
        },
        "cancellation_mode": {
          "target": "com.paypal.customer_disputes_v1#CancellationDetailsCancellationMode",
          "traits": {
            "smithy.api#documentation": "Indicates the mode used for order cancellation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The cancellation details."
      }
    },
    "com.paypal.customer_disputes_v1#CancellationDetailsCancellationMode": {
      "type": "enum",
      "members": {
        "CANCELLED_PAYPAL_BILLING_AGREEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED_PAYPAL_BILLING_AGREEMENT"
          }
        },
        "WEBSITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEBSITE"
          }
        },
        "PHONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHONE"
          }
        },
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMAIL"
          }
        },
        "WRITTEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WRITTEN"
          }
        },
        "IN_PERSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PERSON"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates the mode used for order cancellation."
      }
    },
    "com.paypal.customer_disputes_v1#ProductDetails": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The product description."
          }
        },
        "product_received": {
          "target": "com.paypal.customer_disputes_v1#ProductDetailsProductReceived",
          "traits": {
            "smithy.api#documentation": "Indicates whether the product was, or was not, received or returned."
          }
        },
        "product_received_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when product was delivered."
          }
        },
        "expected_delivery_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The expected delivery date and time of the product."
          }
        },
        "sub_reasons": {
          "target": "com.paypal.customer_disputes_v1#SubReasonsList"
        },
        "purchase_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL where the customer purchased the product."
          }
        },
        "return_details": {
          "target": "com.paypal.customer_disputes_v1#ReturnDetails"
        }
      },
      "traits": {
        "smithy.api#documentation": "The product information."
      }
    },
    "com.paypal.customer_disputes_v1#ProductDetailsProductReceived": {
      "type": "enum",
      "members": {
        "YES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YES"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO"
          }
        },
        "RETURNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETURNED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates whether the product was, or was not, received or returned."
      }
    },
    "com.paypal.customer_disputes_v1#SubReasonsList": {
      "type": "list",
      "member": {
        "target": "com.paypal.customer_disputes_v1#SubReasons"
      },
      "traits": {
        "smithy.api#documentation": "An array of sub-reasons for the product issue."
      }
    },
    "com.paypal.customer_disputes_v1#SubReasons": {
      "type": "enum",
      "members": {
        "DAMAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAMAGED"
          }
        },
        "DIFFERENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIFFERENT"
          }
        },
        "MISSING_PARTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISSING_PARTS"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The sub-reason for the product issue."
      }
    },
    "com.paypal.customer_disputes_v1#ReturnDetails": {
      "type": "structure",
      "members": {
        "return_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the product was returned, [Internet date and time format](http://tools.ietf.org/html/rfc3339#section-5.6)."
          }
        },
        "mode": {
          "target": "com.paypal.customer_disputes_v1#ReturnDetailsMode",
          "traits": {
            "smithy.api#documentation": "The method that the customer used to return the product."
          }
        },
        "receipt": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether customer has the return receipt."
          }
        },
        "return_confirmation_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The confirmation number for the item return."
          }
        },
        "returned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If `true`, indicates that the item was returned but the seller refused to accept the return and if `false`, indicates the item was not attempted to return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The return details for the product."
      }
    },
    "com.paypal.customer_disputes_v1#ReturnDetailsMode": {
      "type": "enum",
      "members": {
        "SHIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHIPPED"
          }
        },
        "IN_PERSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PERSON"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The method that the customer used to return the product."
      }
    },
    "com.paypal.customer_disputes_v1#ServiceDetails": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service description."
          }
        },
        "service_started": {
          "target": "com.paypal.customer_disputes_v1#ServiceDetailsServiceStarted",
          "traits": {
            "smithy.api#documentation": "Indicates whether the service was started or cancelled."
          }
        },
        "note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The customer specified note about the service usage."
          }
        },
        "sub_reasons": {
          "target": "com.paypal.customer_disputes_v1#DefinitionsSubReasonsList"
        },
        "purchase_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the merchant or marketplace site where the customer purchased the service."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The service details."
      }
    },
    "com.paypal.customer_disputes_v1#ServiceDetailsServiceStarted": {
      "type": "enum",
      "members": {
        "YES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YES"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates whether the service was started or cancelled."
      }
    },
    "com.paypal.customer_disputes_v1#DefinitionsSubReasonsList": {
      "type": "list",
      "member": {
        "target": "com.paypal.customer_disputes_v1#DefinitionsSubReasons"
      },
      "traits": {
        "smithy.api#documentation": "An array of sub-reasons for the service issue."
      }
    },
    "com.paypal.customer_disputes_v1#DefinitionsSubReasons": {
      "type": "enum",
      "members": {
        "DAMAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAMAGED"
          }
        },
        "DIFFERENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIFFERENT"
          }
        },
        "INCOMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOMPLETE"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The sub-reason for the service issue."
      }
    },
    "com.paypal.customer_disputes_v1#AgreedRefundDetails": {
      "type": "structure",
      "members": {
        "merchant_agreed_refund": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether merchant has agreed to refund the buyer or not."
          }
        },
        "merchant_agreed_refund_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time proposed by merchant to provide the refund, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of Agreed Refund between customer and merchant."
      }
    },
    "com.paypal.customer_disputes_v1#CanceledRecurringBilling": {
      "type": "structure",
      "members": {
        "expected_refund": {
          "target": "com.paypal.customer_disputes_v1#Money"
        },
        "cancellation_details": {
          "target": "com.paypal.customer_disputes_v1#CancellationDetails"
        }
      },
      "traits": {
        "smithy.api#documentation": "The recurring billing canceled details."
      }
    },
[...]
