{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.paypal.payments_payment_v2#GetAuthorizationRequest": {
      "type": "structure",
      "members": {
        "authorization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the authorized payment for which to show details."
          }
        },
        "payPalAuthAssertion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "PayPal-Auth-Assertion",
            "smithy.api#documentation": "Header for an API client-provided JWT assertion that identifies the merchant. Establishing the consent to act-on-behalf of a merchant is a prerequisite for using this header."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.paypal.payments_payment_v2#GetAuthorizationResponseStatus": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED"
          }
        },
        "CAPTURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAPTURED"
          }
        },
        "DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENIED"
          }
        },
        "PARTIALLY_CAPTURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTIALLY_CAPTURED"
          }
        },
        "VOIDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOIDED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status for the authorized payment."
      }
    },
    "com.paypal.payments_payment_v2#GetAuthorizationResponseStatusDetailsReason": {
      "type": "enum",
      "members": {
        "PENDING_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_REVIEW"
          }
        },
        "DECLINED_BY_RISK_FRAUD_FILTERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DECLINED_BY_RISK_FRAUD_FILTERS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The reason why the authorized status is `PENDING`."
      }
    },
    "com.paypal.payments_payment_v2#GetAuthorizationResponseStatusDetails": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "com.paypal.payments_payment_v2#GetAuthorizationResponseStatusDetailsReason",
          "traits": {
            "smithy.api#documentation": "The reason why the authorized status is `PENDING`."
          }
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#AmountBreakdown": {
      "type": "structure",
      "members": {
        "item_total": {
          "target": "com.paypal.payments_payment_v2#AmountBreakdownItemTotal"
        },
        "shipping": {
          "target": "com.paypal.payments_payment_v2#AmountBreakdownShipping"
        },
        "handling": {
          "target": "com.paypal.payments_payment_v2#AmountBreakdownHandling"
        },
        "tax_total": {
          "target": "com.paypal.payments_payment_v2#AmountBreakdownTaxTotal"
        },
        "insurance": {
          "target": "com.paypal.payments_payment_v2#AmountBreakdownInsurance"
        },
        "shipping_discount": {
          "target": "com.paypal.payments_payment_v2#AmountBreakdownShippingDiscount"
        },
        "discount": {
          "target": "com.paypal.payments_payment_v2#AmountBreakdownDiscount"
        }
      },
      "traits": {
        "smithy.api#documentation": "The breakdown of the amount. Breakdown provides details such as total item amount, total tax amount, shipping, handling, insurance, and discounts, if any."
      }
    },
    "com.paypal.payments_payment_v2#AmountBreakdownItemTotal": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#AmountBreakdownShipping": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#AmountBreakdownHandling": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#AmountBreakdownTaxTotal": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#AmountBreakdownInsurance": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#AmountBreakdownShippingDiscount": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#AmountBreakdownDiscount": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#GetAuthorizationResponseAmount": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        },
        "breakdown": {
          "target": "com.paypal.payments_payment_v2#AmountBreakdown"
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#NetworkTransaction": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Transaction reference id returned by the scheme. For Visa and Amex, this is the \"Tran id\" field in response. For MasterCard, this is the \"BankNet reference id\" field in response. For Discover, this is the \"NRID\" field in response. The pattern we expect for this field from Visa/Amex/CB/Discover is numeric, Mastercard/BNPP is alphanumeric and Paysecure is alphanumeric with special character -."
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date that the transaction was authorized by the scheme. This field may not be returned for all networks. MasterCard refers to this field as \"BankNet reference date\". For some specific networks, such as MasterCard and Discover, this date field is mandatory when the `previous_network_transaction_reference_id` is passed."
          }
        },
        "network": {
          "target": "smithy.api#Document"
        },
        "acquirer_reference_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reference ID issued for the card transaction. This ID can be used to track the transaction across processors, card brands and issuing banks."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reference values used by the card network to identify a transaction."
      }
    },
    "com.paypal.payments_payment_v2#GetAuthorizationResponseSellerProtectionStatus": {
      "type": "enum",
      "members": {
        "ELIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ELIGIBLE"
          }
        },
        "PARTIALLY_ELIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTIALLY_ELIGIBLE"
          }
        },
        "NOT_ELIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_ELIGIBLE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates whether the transaction is eligible for seller protection. For information, see [PayPal Seller Protection for Merchants](https://www.paypal.com/us/webapps/mpp/security/seller-protection)."
      }
    },
    "com.paypal.payments_payment_v2#GetAuthorizationResponseSellerProtectionDisputeCategoriesItem": {
      "type": "enum",
      "members": {
        "ITEM_NOT_RECEIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ITEM_NOT_RECEIVED"
          }
        },
        "UNAUTHORIZED_TRANSACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNAUTHORIZED_TRANSACTION"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The condition that is covered for the transaction."
      }
    },
    "com.paypal.payments_payment_v2#GetAuthorizationResponseSellerProtectionDisputeCategoriesList": {
      "type": "list",
      "member": {
        "target": "com.paypal.payments_payment_v2#GetAuthorizationResponseSellerProtectionDisputeCategoriesItem"
      },
      "traits": {
        "smithy.api#documentation": "An array of conditions that are covered for the transaction."
      }
    },
    "com.paypal.payments_payment_v2#GetAuthorizationResponseSellerProtection": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.paypal.payments_payment_v2#GetAuthorizationResponseSellerProtectionStatus",
          "traits": {
            "smithy.api#documentation": "Indicates whether the transaction is eligible for seller protection. For information, see [PayPal Seller Protection for Merchants](https://www.paypal.com/us/webapps/mpp/security/seller-protection)."
          }
        },
        "dispute_categories": {
          "target": "com.paypal.payments_payment_v2#GetAuthorizationResponseSellerProtectionDisputeCategoriesList",
          "traits": {
            "smithy.api#documentation": "An array of conditions that are covered for the transaction."
          }
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#GetAuthorizationResponseLinksItemMethod": {
      "type": "enum",
      "members": {
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "HEAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEAD"
          }
        },
        "CONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECT"
          }
        },
        "OPTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIONS"
          }
        },
        "PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCH"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The HTTP method required to make the related call."
      }
    },
    "com.paypal.payments_payment_v2#GetAuthorizationResponseLinksItemSchemaAllOfList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "An array of sub-schemas. The data must validate against all sub-schemas."
      }
    },
    "com.paypal.payments_payment_v2#GetAuthorizationResponseLinksItemSchemaAnyOfList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "An array of sub-schemas. The data must validate against one or more sub-schemas."
      }
    },
    "com.paypal.payments_payment_v2#GetAuthorizationResponseLinksItemSchemaOneOfList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "An array of sub-schemas. The data must validate against one sub-schema."
      }
    },
    "com.paypal.payments_payment_v2#GetAuthorizationResponseLinksItemSchemaLinksList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "An array of links."
      }
    },
    "com.paypal.payments_payment_v2#GetAuthorizationResponseLinksItemSchemaMedia": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The media type. See [Multipurpose Internet Mail Extensions (MIME) Part Two: Media Types](https://tools.ietf.org/html/rfc2046)."
          }
        },
        "binaryEncoding": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content-encoding scheme. See [Multipurpose Internet Mail Extensions (MIME) Part One: Format of Internet Message Bodies](https://tools.ietf.org/html/rfc2045)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The media type and context-encoding scheme."
      }
    },
    "com.paypal.payments_payment_v2#GetAuthorizationResponseLinksItemSchema": {
      "type": "structure",
      "members": {
        "additionalItems": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Any additional items."
          }
        },
        "dependencies": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Any Dependencies."
          }
        },
        "items": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "An item."
          }
        },
        "definitions": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Definitions."
          }
        },
        "patternProperties": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The pattern properties."
          }
        },
        "properties": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Properties."
          }
        },
        "allOf": {
          "target": "com.paypal.payments_payment_v2#GetAuthorizationResponseLinksItemSchemaAllOfList",
          "traits": {
            "smithy.api#documentation": "An array of sub-schemas. The data must validate against all sub-schemas."
          }
        },
        "anyOf": {
          "target": "com.paypal.payments_payment_v2#GetAuthorizationResponseLinksItemSchemaAnyOfList",
          "traits": {
            "smithy.api#documentation": "An array of sub-schemas. The data must validate against one or more sub-schemas."
          }
        },
        "oneOf": {
          "target": "com.paypal.payments_payment_v2#GetAuthorizationResponseLinksItemSchemaOneOfList",
          "traits": {
            "smithy.api#documentation": "An array of sub-schemas. The data must validate against one sub-schema."
          }
        },
        "not": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Not."
          }
        },
        "links": {
          "target": "com.paypal.payments_payment_v2#GetAuthorizationResponseLinksItemSchemaLinksList",
          "traits": {
            "smithy.api#documentation": "An array of links."
          }
        },
        "fragmentResolution": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fragment resolution."
          }
        },
        "media": {
          "target": "com.paypal.payments_payment_v2#GetAuthorizationResponseLinksItemSchemaMedia",
          "traits": {
            "smithy.api#documentation": "The media type and context-encoding scheme."
          }
        },
        "pathStart": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "To apply this schema to the instances' URIs, start the URIs with this value."
          }
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#GetAuthorizationResponseLinksItemTargetSchemaAllOfList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "An array of sub-schemas. The data must validate against all sub-schemas."
      }
    },
    "com.paypal.payments_payment_v2#GetAuthorizationResponseLinksItemTargetSchemaAnyOfList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "An array of sub-schemas. The data must validate against one or more sub-schemas."
      }
    },
    "com.paypal.payments_payment_v2#GetAuthorizationResponseLinksItemTargetSchemaOneOfList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "An array of sub-schemas. The data must validate against one sub-schema."
      }
    },
    "com.paypal.payments_payment_v2#GetAuthorizationResponseLinksItemTargetSchemaLinksList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "An array of links."
      }
    },
    "com.paypal.payments_payment_v2#GetAuthorizationResponseLinksItemTargetSchemaMedia": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The media type. See [Multipurpose Internet Mail Extensions (MIME) Part Two: Media Types](https://tools.ietf.org/html/rfc2046)."
          }
        },
        "binaryEncoding": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content-encoding scheme. See [Multipurpose Internet Mail Extensions (MIME) Part One: Format of Internet Message Bodies](https://tools.ietf.org/html/rfc2045)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The media type and context-encoding scheme."
      }
    },
    "com.paypal.payments_payment_v2#GetAuthorizationResponseLinksItemTargetSchema": {
      "type": "structure",
      "members": {
        "additionalItems": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Any additional items."
          }
        },
        "dependencies": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Any Dependencies."
          }
        },
        "items": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "An item."
          }
        },
        "definitions": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Definitions."
          }
        },
        "patternProperties": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The pattern properties."
          }
        },
        "properties": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Properties."
          }
        },
        "allOf": {
          "target": "com.paypal.payments_payment_v2#GetAuthorizationResponseLinksItemTargetSchemaAllOfList",
          "traits": {
            "smithy.api#documentation": "An array of sub-schemas. The data must validate against all sub-schemas."
          }
        },
        "anyOf": {
          "target": "com.paypal.payments_payment_v2#GetAuthorizationResponseLinksItemTargetSchemaAnyOfList",
          "traits": {
            "smithy.api#documentation": "An array of sub-schemas. The data must validate against one or more sub-schemas."
          }
        },
        "oneOf": {
          "target": "com.paypal.payments_payment_v2#GetAuthorizationResponseLinksItemTargetSchemaOneOfList",
          "traits": {
            "smithy.api#documentation": "An array of sub-schemas. The data must validate against one sub-schema."
          }
        },
        "not": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Not."
          }
        },
        "links": {
          "target": "com.paypal.payments_payment_v2#GetAuthorizationResponseLinksItemTargetSchemaLinksList",
          "traits": {
            "smithy.api#documentation": "An array of links."
          }
        },
        "fragmentResolution": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fragment resolution."
          }
        },
        "media": {
          "target": "com.paypal.payments_payment_v2#GetAuthorizationResponseLinksItemTargetSchemaMedia",
          "traits": {
            "smithy.api#documentation": "The media type and context-encoding scheme."
          }
        },
        "pathStart": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "To apply this schema to the instances' URIs, start the URIs with this value."
          }
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#GetAuthorizationResponseLinksItem": {
      "type": "structure",
      "members": {
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The complete target URL. To make the related call, combine the method with this [URI Template-formatted](https://tools.ietf.org/html/rfc6570) link. For pre-processing, include the `$`, `(`, and `)` characters. The `href` is the key HATEOAS component that links a completed call with a subsequent call.",
            "smithy.api#required": {}
          }
        },
        "rel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [link relation type](https://tools.ietf.org/html/rfc5988#section-4), which serves as an ID for a link that unambiguously describes the semantics of the link. See [Link Relations](https://www.iana.org/assignments/link-relations/link-relations.xhtml).",
            "smithy.api#required": {}
          }
        },
        "method": {
          "target": "com.paypal.payments_payment_v2#GetAuthorizationResponseLinksItemMethod",
          "traits": {
            "smithy.api#documentation": "The HTTP method required to make the related call."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link title."
          }
        },
        "mediaType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The media type, as defined by [RFC 2046](https://www.ietf.org/rfc/rfc2046.txt). Describes the link target."
          }
        },
        "encType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The media type in which to submit the request data."
          }
        },
        "schema": {
          "target": "com.paypal.payments_payment_v2#GetAuthorizationResponseLinksItemSchema"
        },
        "targetSchema": {
          "target": "com.paypal.payments_payment_v2#GetAuthorizationResponseLinksItemTargetSchema"
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#GetAuthorizationResponseLinksList": {
      "type": "list",
      "member": {
        "target": "com.paypal.payments_payment_v2#GetAuthorizationResponseLinksItem"
      },
      "traits": {
        "smithy.api#documentation": "An array of related [HATEOAS links](/docs/api/reference/api-responses/#hateoas-links)."
      }
    },
    "com.paypal.payments_payment_v2#GetAuthorizationResponseSupplementaryDataRelatedIds": {
      "type": "structure",
      "members": {
        "order_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Order ID related to the resource."
          }
        },
        "authorization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Authorization ID related to the resource."
          }
        },
        "capture_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Capture ID related to the resource."
          }
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#GetAuthorizationResponseSupplementaryData": {
      "type": "structure",
      "members": {
        "related_ids": {
          "target": "com.paypal.payments_payment_v2#GetAuthorizationResponseSupplementaryDataRelatedIds"
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#GetAuthorizationResponsePayee": {
      "type": "structure",
      "members": {
        "email_address": {
          "target": "smithy.api#Document"
        },
        "merchant_id": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#GetAuthorizationResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.paypal.payments_payment_v2#GetAuthorizationResponseStatus",
          "traits": {
            "smithy.api#documentation": "The status for the authorized payment."
          }
        },
        "status_details": {
          "target": "com.paypal.payments_payment_v2#GetAuthorizationResponseStatusDetails"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The PayPal-generated ID for the authorized payment."
          }
        },
        "amount": {
          "target": "com.paypal.payments_payment_v2#GetAuthorizationResponseAmount"
        },
        "invoice_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API caller-provided external invoice number for this order. Appears in both the payer's transaction history and the emails that the payer receives."
          }
        },
        "custom_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API caller-provided external ID. Used to reconcile API caller-initiated transactions with PayPal transactions. Appears in transaction and settlement reports."
          }
        },
        "network_transaction_reference": {
          "target": "com.paypal.payments_payment_v2#NetworkTransaction"
        },
        "seller_protection": {
          "target": "com.paypal.payments_payment_v2#GetAuthorizationResponseSellerProtection"
        },
        "expiration_time": {
          "target": "smithy.api#Document"
        },
        "links": {
          "target": "com.paypal.payments_payment_v2#GetAuthorizationResponseLinksList",
          "traits": {
            "smithy.api#documentation": "An array of related [HATEOAS links](/docs/api/reference/api-responses/#hateoas-links)."
          }
        },
        "create_time": {
          "target": "smithy.api#Document"
        },
        "update_time": {
          "target": "smithy.api#Document"
        },
        "supplementary_data": {
          "target": "com.paypal.payments_payment_v2#GetAuthorizationResponseSupplementaryData"
        },
        "payee": {
          "target": "com.paypal.payments_payment_v2#GetAuthorizationResponsePayee"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.paypal.payments_payment_v2#GetAuthorization": {
      "type": "operation",
      "input": {
        "target": "com.paypal.payments_payment_v2#GetAuthorizationRequest"
      },
      "output": {
        "target": "com.paypal.payments_payment_v2#GetAuthorizationResponse"
      },
      "errors": [
        {
          "target": "com.paypal.payments_payment_v2#Forbidden"
        },
        {
          "target": "com.paypal.payments_payment_v2#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/payments/authorizations/{authorization_id}",
          "code": 200
        },
        "smithy.api#documentation": "Show details for authorized payment\n\nShows details for an authorized payment, by ID."
      }
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationRequestAmount": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationRequestPaymentInstructionPlatformFeesItemAmount": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationRequestPaymentInstructionPlatformFeesItemPayee": {
      "type": "structure",
      "members": {
        "email_address": {
          "target": "smithy.api#Document"
        },
        "merchant_id": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationRequestPaymentInstructionPlatformFeesItem": {
      "type": "structure",
      "members": {
        "amount": {
          "target": "com.paypal.payments_payment_v2#CaptureAuthorizationRequestPaymentInstructionPlatformFeesItemAmount",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "payee": {
          "target": "com.paypal.payments_payment_v2#CaptureAuthorizationRequestPaymentInstructionPlatformFeesItemPayee"
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationRequestPaymentInstructionPlatformFeesList": {
      "type": "list",
      "member": {
        "target": "com.paypal.payments_payment_v2#CaptureAuthorizationRequestPaymentInstructionPlatformFeesItem"
      },
      "traits": {
        "smithy.api#documentation": "An array of various fees, commissions, tips, or donations. This field is only applicable to merchants that been enabled for PayPal Complete Payments Platform for Marketplaces and Platforms capability."
      }
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationRequestPaymentInstruction": {
      "type": "structure",
      "members": {
        "platform_fees": {
          "target": "com.paypal.payments_payment_v2#CaptureAuthorizationRequestPaymentInstructionPlatformFeesList",
          "traits": {
            "smithy.api#documentation": "An array of various fees, commissions, tips, or donations. This field is only applicable to merchants that been enabled for PayPal Complete Payments Platform for Marketplaces and Platforms capability."
          }
        },
        "disbursement_mode": {
          "target": "smithy.api#Document"
        },
        "payee_pricing_tier_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This field is only enabled for selected merchants/partners to use and provides the ability to trigger a specific pricing rate/plan for a payment transaction. The list of eligible 'payee_pricing_tier_id' would be provided to you by your Account Manager. Specifying values other than the one provided to you by your account manager would result in an error."
          }
        },
        "payee_receivable_fx_rate_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "FX identifier generated returned by PayPal to be used for payment processing in order to honor FX rate (for eligible integrations) to be used when amount is settled/received into the payee account."
          }
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationRequest": {
      "type": "structure",
      "members": {
        "authorization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The PayPal-generated ID for the authorized payment to capture."
          }
        },
        "payPalRequestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "PayPal-Request-Id",
            "smithy.api#documentation": "A unique ID identifying the request header for idempotency purposes."
          }
        },
        "prefer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "Prefer",
            "smithy.api#documentation": "The preferred server response upon successful completion of the request. Value is:<ul><li><code>return=minimal</code>. The server returns a minimal response to optimize communication between the API caller and the server. A minimal response includes the <code>id</code>, <code>status</code> and HATEOAS links.</li><li><code>return=representation</code>. The server returns a complete resource representation, including the current state of the resource.</li></ul>"
          }
        },
        "payPalAuthAssertion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "PayPal-Auth-Assertion",
            "smithy.api#documentation": "Header for an API client-provided JWT assertion that identifies the merchant. Establishing the consent to act-on-behalf of a merchant is a prerequisite for using this header."
          }
        },
        "invoice_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API caller-provided external invoice number for this order. Appears in both the payer's transaction history and the emails that the payer receives."
          }
        },
        "note_to_payer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An informational note about this settlement. Appears in both the payer's transaction history and the emails that the payer receives."
          }
        },
        "amount": {
          "target": "com.paypal.payments_payment_v2#CaptureAuthorizationRequestAmount"
        },
        "final_capture": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether you can make additional captures against the authorized payment. Set to `true` if you do not intend to capture additional payments against the authorization. Set to `false` if you intend to capture additional payments against the authorization."
          }
        },
        "payment_instruction": {
          "target": "com.paypal.payments_payment_v2#CaptureAuthorizationRequestPaymentInstruction"
        },
        "soft_descriptor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The payment descriptor on the payer's account statement."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseStatus": {
      "type": "enum",
      "members": {
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "DECLINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DECLINED"
          }
        },
        "PARTIALLY_REFUNDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTIALLY_REFUNDED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "REFUNDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REFUNDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the captured payment."
      }
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseStatusDetailsReason": {
      "type": "enum",
      "members": {
        "BUYER_COMPLAINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER_COMPLAINT"
          }
        },
        "CHARGEBACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHARGEBACK"
          }
        },
        "ECHECK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ECHECK"
          }
        },
        "INTERNATIONAL_WITHDRAWAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNATIONAL_WITHDRAWAL"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        },
        "PENDING_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_REVIEW"
          }
        },
        "RECEIVING_PREFERENCE_MANDATES_MANUAL_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECEIVING_PREFERENCE_MANDATES_MANUAL_ACTION"
          }
        },
        "REFUNDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REFUNDED"
          }
        },
        "TRANSACTION_APPROVED_AWAITING_FUNDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSACTION_APPROVED_AWAITING_FUNDING"
          }
        },
        "UNILATERAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNILATERAL"
          }
        },
        "VERIFICATION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERIFICATION_REQUIRED"
          }
        },
        "DECLINED_BY_RISK_FRAUD_FILTERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DECLINED_BY_RISK_FRAUD_FILTERS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The reason why the captured payment status is `PENDING` or `DENIED`."
      }
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseStatusDetails": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "com.paypal.payments_payment_v2#CaptureAuthorizationResponseStatusDetailsReason",
          "traits": {
            "smithy.api#documentation": "The reason why the captured payment status is `PENDING` or `DENIED`."
          }
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseAmount": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        },
        "breakdown": {
          "target": "com.paypal.payments_payment_v2#AmountBreakdown"
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseSellerProtectionStatus": {
      "type": "enum",
      "members": {
        "ELIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ELIGIBLE"
          }
        },
        "PARTIALLY_ELIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTIALLY_ELIGIBLE"
          }
        },
        "NOT_ELIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_ELIGIBLE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates whether the transaction is eligible for seller protection. For information, see [PayPal Seller Protection for Merchants](https://www.paypal.com/us/webapps/mpp/security/seller-protection)."
      }
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseSellerProtectionDisputeCategoriesItem": {
      "type": "enum",
      "members": {
        "ITEM_NOT_RECEIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ITEM_NOT_RECEIVED"
          }
        },
        "UNAUTHORIZED_TRANSACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNAUTHORIZED_TRANSACTION"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The condition that is covered for the transaction."
      }
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseSellerProtectionDisputeCategoriesList": {
      "type": "list",
      "member": {
        "target": "com.paypal.payments_payment_v2#CaptureAuthorizationResponseSellerProtectionDisputeCategoriesItem"
      },
      "traits": {
        "smithy.api#documentation": "An array of conditions that are covered for the transaction."
      }
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseSellerProtection": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.paypal.payments_payment_v2#CaptureAuthorizationResponseSellerProtectionStatus",
          "traits": {
            "smithy.api#documentation": "Indicates whether the transaction is eligible for seller protection. For information, see [PayPal Seller Protection for Merchants](https://www.paypal.com/us/webapps/mpp/security/seller-protection)."
          }
        },
        "dispute_categories": {
          "target": "com.paypal.payments_payment_v2#CaptureAuthorizationResponseSellerProtectionDisputeCategoriesList",
          "traits": {
            "smithy.api#documentation": "An array of conditions that are covered for the transaction."
          }
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseSellerReceivableBreakdownGrossAmount": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseSellerReceivableBreakdownPaypalFee": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseSellerReceivableBreakdownPaypalFeeInReceivableCurrency": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseSellerReceivableBreakdownNetAmount": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseSellerReceivableBreakdownReceivableAmount": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseSellerReceivableBreakdownExchangeRate": {
      "type": "structure",
      "members": {
        "source_currency": {
          "target": "smithy.api#Document"
        },
        "target_currency": {
          "target": "smithy.api#Document"
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The target currency amount. Equivalent to one unit of the source currency. Formatted as integer or decimal value with one to 15 digits to the right of the decimal point."
          }
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseSellerReceivableBreakdownPlatformFeesItemAmount": {
      "type": "structure",
      "members": {
        "currency_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value, which might be:<ul><li>An integer for currencies like `JPY` that are not typically fractional.</li><li>A decimal fraction for currencies like `TND` that are subdivided into thousandths.</li></ul>For the required number of decimal places for a currency code, see [Currency Codes](/api/rest/reference/currency-codes/).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseSellerReceivableBreakdownPlatformFeesItemPayee": {
      "type": "structure",
      "members": {
        "email_address": {
          "target": "smithy.api#Document"
        },
        "merchant_id": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseSellerReceivableBreakdownPlatformFeesItem": {
      "type": "structure",
      "members": {
        "amount": {
          "target": "com.paypal.payments_payment_v2#CaptureAuthorizationResponseSellerReceivableBreakdownPlatformFeesItemAmount",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "payee": {
          "target": "com.paypal.payments_payment_v2#CaptureAuthorizationResponseSellerReceivableBreakdownPlatformFeesItemPayee"
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseSellerReceivableBreakdownPlatformFeesList": {
      "type": "list",
      "member": {
        "target": "com.paypal.payments_payment_v2#CaptureAuthorizationResponseSellerReceivableBreakdownPlatformFeesItem"
      },
      "traits": {
        "smithy.api#documentation": "An array of platform or partner fees, commissions, or brokerage fees that associated with the captured payment."
      }
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseSellerReceivableBreakdown": {
      "type": "structure",
      "members": {
        "gross_amount": {
          "target": "com.paypal.payments_payment_v2#CaptureAuthorizationResponseSellerReceivableBreakdownGrossAmount",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "paypal_fee": {
          "target": "com.paypal.payments_payment_v2#CaptureAuthorizationResponseSellerReceivableBreakdownPaypalFee"
        },
        "paypal_fee_in_receivable_currency": {
          "target": "com.paypal.payments_payment_v2#CaptureAuthorizationResponseSellerReceivableBreakdownPaypalFeeInReceivableCurrency"
        },
        "net_amount": {
          "target": "com.paypal.payments_payment_v2#CaptureAuthorizationResponseSellerReceivableBreakdownNetAmount"
        },
        "receivable_amount": {
          "target": "com.paypal.payments_payment_v2#CaptureAuthorizationResponseSellerReceivableBreakdownReceivableAmount"
        },
        "exchange_rate": {
          "target": "com.paypal.payments_payment_v2#CaptureAuthorizationResponseSellerReceivableBreakdownExchangeRate"
        },
        "platform_fees": {
          "target": "com.paypal.payments_payment_v2#CaptureAuthorizationResponseSellerReceivableBreakdownPlatformFeesList",
          "traits": {
            "smithy.api#documentation": "An array of platform or partner fees, commissions, or brokerage fees that associated with the captured payment."
          }
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#DisbursementMode": {
      "type": "enum",
      "members": {
        "INSTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTANT"
          }
        },
        "DELAYED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELAYED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The funds that are held on behalf of the merchant."
      }
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseLinksItemMethod": {
      "type": "enum",
      "members": {
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "HEAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEAD"
          }
        },
        "CONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECT"
          }
        },
        "OPTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIONS"
          }
        },
        "PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCH"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The HTTP method required to make the related call."
      }
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseLinksItemSchemaAllOfList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "An array of sub-schemas. The data must validate against all sub-schemas."
      }
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseLinksItemSchemaAnyOfList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "An array of sub-schemas. The data must validate against one or more sub-schemas."
      }
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseLinksItemSchemaOneOfList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "An array of sub-schemas. The data must validate against one sub-schema."
      }
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseLinksItemSchemaLinksList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "An array of links."
      }
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseLinksItemSchemaMedia": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The media type. See [Multipurpose Internet Mail Extensions (MIME) Part Two: Media Types](https://tools.ietf.org/html/rfc2046)."
          }
        },
        "binaryEncoding": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content-encoding scheme. See [Multipurpose Internet Mail Extensions (MIME) Part One: Format of Internet Message Bodies](https://tools.ietf.org/html/rfc2045)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The media type and context-encoding scheme."
      }
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseLinksItemSchema": {
      "type": "structure",
      "members": {
        "additionalItems": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Any additional items."
          }
        },
        "dependencies": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Any Dependencies."
          }
        },
        "items": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "An item."
          }
        },
        "definitions": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Definitions."
          }
        },
        "patternProperties": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The pattern properties."
          }
        },
        "properties": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Properties."
          }
        },
        "allOf": {
          "target": "com.paypal.payments_payment_v2#CaptureAuthorizationResponseLinksItemSchemaAllOfList",
          "traits": {
            "smithy.api#documentation": "An array of sub-schemas. The data must validate against all sub-schemas."
          }
        },
        "anyOf": {
          "target": "com.paypal.payments_payment_v2#CaptureAuthorizationResponseLinksItemSchemaAnyOfList",
          "traits": {
            "smithy.api#documentation": "An array of sub-schemas. The data must validate against one or more sub-schemas."
          }
        },
        "oneOf": {
          "target": "com.paypal.payments_payment_v2#CaptureAuthorizationResponseLinksItemSchemaOneOfList",
          "traits": {
            "smithy.api#documentation": "An array of sub-schemas. The data must validate against one sub-schema."
          }
        },
        "not": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Not."
          }
        },
        "links": {
          "target": "com.paypal.payments_payment_v2#CaptureAuthorizationResponseLinksItemSchemaLinksList",
          "traits": {
            "smithy.api#documentation": "An array of links."
          }
        },
        "fragmentResolution": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fragment resolution."
          }
        },
        "media": {
          "target": "com.paypal.payments_payment_v2#CaptureAuthorizationResponseLinksItemSchemaMedia",
          "traits": {
            "smithy.api#documentation": "The media type and context-encoding scheme."
          }
        },
        "pathStart": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "To apply this schema to the instances' URIs, start the URIs with this value."
          }
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseLinksItemTargetSchemaAllOfList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "An array of sub-schemas. The data must validate against all sub-schemas."
      }
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseLinksItemTargetSchemaAnyOfList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "An array of sub-schemas. The data must validate against one or more sub-schemas."
      }
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseLinksItemTargetSchemaOneOfList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "An array of sub-schemas. The data must validate against one sub-schema."
      }
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseLinksItemTargetSchemaLinksList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "An array of links."
      }
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseLinksItemTargetSchemaMedia": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The media type. See [Multipurpose Internet Mail Extensions (MIME) Part Two: Media Types](https://tools.ietf.org/html/rfc2046)."
          }
        },
        "binaryEncoding": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content-encoding scheme. See [Multipurpose Internet Mail Extensions (MIME) Part One: Format of Internet Message Bodies](https://tools.ietf.org/html/rfc2045)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The media type and context-encoding scheme."
      }
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseLinksItemTargetSchema": {
      "type": "structure",
      "members": {
        "additionalItems": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Any additional items."
          }
        },
        "dependencies": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Any Dependencies."
          }
        },
        "items": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "An item."
          }
        },
        "definitions": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Definitions."
          }
        },
        "patternProperties": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The pattern properties."
          }
        },
        "properties": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Properties."
          }
        },
        "allOf": {
          "target": "com.paypal.payments_payment_v2#CaptureAuthorizationResponseLinksItemTargetSchemaAllOfList",
          "traits": {
            "smithy.api#documentation": "An array of sub-schemas. The data must validate against all sub-schemas."
          }
        },
        "anyOf": {
          "target": "com.paypal.payments_payment_v2#CaptureAuthorizationResponseLinksItemTargetSchemaAnyOfList",
          "traits": {
            "smithy.api#documentation": "An array of sub-schemas. The data must validate against one or more sub-schemas."
          }
        },
        "oneOf": {
          "target": "com.paypal.payments_payment_v2#CaptureAuthorizationResponseLinksItemTargetSchemaOneOfList",
          "traits": {
            "smithy.api#documentation": "An array of sub-schemas. The data must validate against one sub-schema."
          }
        },
        "not": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Not."
          }
        },
        "links": {
          "target": "com.paypal.payments_payment_v2#CaptureAuthorizationResponseLinksItemTargetSchemaLinksList",
          "traits": {
            "smithy.api#documentation": "An array of links."
          }
        },
        "fragmentResolution": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fragment resolution."
          }
        },
        "media": {
          "target": "com.paypal.payments_payment_v2#CaptureAuthorizationResponseLinksItemTargetSchemaMedia",
          "traits": {
            "smithy.api#documentation": "The media type and context-encoding scheme."
          }
        },
        "pathStart": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "To apply this schema to the instances' URIs, start the URIs with this value."
          }
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseLinksItem": {
      "type": "structure",
      "members": {
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The complete target URL. To make the related call, combine the method with this [URI Template-formatted](https://tools.ietf.org/html/rfc6570) link. For pre-processing, include the `$`, `(`, and `)` characters. The `href` is the key HATEOAS component that links a completed call with a subsequent call.",
            "smithy.api#required": {}
          }
        },
        "rel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [link relation type](https://tools.ietf.org/html/rfc5988#section-4), which serves as an ID for a link that unambiguously describes the semantics of the link. See [Link Relations](https://www.iana.org/assignments/link-relations/link-relations.xhtml).",
            "smithy.api#required": {}
          }
        },
        "method": {
          "target": "com.paypal.payments_payment_v2#CaptureAuthorizationResponseLinksItemMethod",
          "traits": {
            "smithy.api#documentation": "The HTTP method required to make the related call."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link title."
          }
        },
        "mediaType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The media type, as defined by [RFC 2046](https://www.ietf.org/rfc/rfc2046.txt). Describes the link target."
          }
        },
        "encType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The media type in which to submit the request data."
          }
        },
        "schema": {
          "target": "com.paypal.payments_payment_v2#CaptureAuthorizationResponseLinksItemSchema"
        },
        "targetSchema": {
          "target": "com.paypal.payments_payment_v2#CaptureAuthorizationResponseLinksItemTargetSchema"
        }
      },
      "traits": {}
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseLinksList": {
      "type": "list",
      "member": {
        "target": "com.paypal.payments_payment_v2#CaptureAuthorizationResponseLinksItem"
      },
      "traits": {
        "smithy.api#documentation": "An array of related [HATEOAS links](/docs/api/reference/api-responses/#hateoas-links)."
      }
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseProcessorResponseAvsCode": {
      "type": "enum",
      "members": {
        "A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A"
          }
        },
        "B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "B"
          }
        },
        "C": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C"
          }
        },
        "D": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "D"
          }
        },
        "E": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "E"
          }
        },
        "F": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "F"
          }
        },
        "G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "G"
          }
        },
        "I": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "I"
          }
        },
        "M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "M"
          }
        },
        "N": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N"
          }
        },
        "P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P"
          }
        },
        "R": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "R"
          }
        },
        "S": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S"
          }
        },
        "U": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "U"
          }
        },
        "W": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "W"
          }
        },
        "X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "X"
          }
        },
        "Y": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Y"
          }
        },
        "Z": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Z"
          }
        },
        "NULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Null"
          }
        },
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "0"
          }
        },
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1"
          }
        },
        "_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "2"
          }
        },
        "_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "3"
          }
        },
        "_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "4"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The address verification code for Visa, Discover, Mastercard, or American Express transactions."
      }
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseProcessorResponseCvvCode": {
      "type": "enum",
      "members": {
        "E": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "E"
          }
        },
        "I": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "I"
          }
        },
        "M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "M"
          }
        },
        "N": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N"
          }
        },
        "P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P"
          }
        },
        "S": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S"
          }
        },
        "U": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "U"
          }
        },
        "X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "X"
          }
        },
        "ALL_OTHERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "All others"
          }
        },
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "0"
          }
        },
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1"
          }
        },
        "_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "2"
          }
        },
        "_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "3"
          }
        },
        "_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "4"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The card verification value code for for Visa, Discover, Mastercard, or American Express."
      }
    },
    "com.paypal.payments_payment_v2#CaptureAuthorizationResponseProcessorResponseResponseCode": {
      "type": "enum",
      "members": {
        "_0000": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "0000"
          }
        },
        "_00N7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "00N7"
          }
        },
        "_0100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "0100"
          }
        },
        "_0390": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "0390"
          }
        },
        "_0500": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "0500"
          }
        },
        "_0580": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "0580"
          }
        },
        "_0800": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "0800"
          }
        },
        "_0880": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "0880"
          }
        },
        "_0890": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "0890"
          }
        },
        "_0960": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "0960"
          }
        },
        "_0R00": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "0R00"
          }
        },
        "_1000": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1000"
          }
        },
        "_10BR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "10BR"
          }
        },
        "_1300": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1300"
          }
        },
        "_1310": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1310"
          }
        },
        "_1312": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1312"
          }
        },
        "_1317": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1317"
          }
        },
        "_1320": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1320"
          }
        },
        "_1330": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1330"
          }
        },
        "_1335": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1335"
          }
        },
        "_1340": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1340"
          }
        },
        "_1350": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1350"
          }
        },
        "_1352": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1352"
          }
        },
        "_1360": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1360"
          }
        },
        "_1370": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1370"
          }
        },
        "_1380": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1380"
          }
        },
        "_1382": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1382"
          }
        },
        "_1384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1384"
          }
        },
        "_1390": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1390"
          }
        },
        "_1393": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1393"
          }
        },
        "_5100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "5100"
          }
        },
        "_5110": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "5110"
          }
        },
        "_5120": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "5120"
          }
        },
        "_5130": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "5130"
          }
        },
        "_5135": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "5135"
          }
        },
        "_5140": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "5140"
          }
        },
        "_5150": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "5150"
          }
        },
        "_5160": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "5160"
          }
        },
        "_5170": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "5170"
          }
        },
        "_5180": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "5180"
          }
        },
        "_5190": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "5190"
          }
        },
        "_5200": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "5200"
          }
        },
        "_5210": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "5210"
          }
        },
        "_5400": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "5400"
          }
        },
        "_5500": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "5500"
          }
        },
        "_5650": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "5650"
          }
        },
        "_5700": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "5700"
          }
        },
        "_5710": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "5710"
          }
        },
        "_5800": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "5800"
          }
        },
        "_5900": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "5900"
          }
        },
        "_5910": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "5910"
          }
        },
        "_5920": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "5920"
          }
        },
        "_5930": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "5930"
          }
        },
        "_5950": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "5950"
          }
        },
        "_6300": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "6300"
          }
        },
        "_7600": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "7600"
          }
        },
        "_7700": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "7700"
          }
        },
        "_7710": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "7710"
          }
        },
        "_7800": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "7800"
          }
        },
        "_7900": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "7900"
          }
        },
        "_8000": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "8000"
          }
        },
        "_8010": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "8010"
          }
        },
        "_8020": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "8020"
          }
        },
        "_8030": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "8030"
          }
        },
        "_8100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "8100"
          }
        },
        "_8110": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "8110"
          }
        },
        "_8220": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "8220"
          }
        },
        "_9100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "9100"
          }
        },
        "_9500": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "9500"
          }
        },
        "_9510": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "9510"
          }
        },
        "_9520": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "9520"
          }
        },
        "_9530": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "9530"
          }
        },
        "_9540": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "9540"
          }
        },
        "_9600": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "9600"
          }
        },
        "PCNR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PCNR"
          }
        },
        "PCVV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PCVV"
          }
        },
        "PP06": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PP06"
          }
        },
        "PPRN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPRN"
          }
        },
        "PPAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPAD"
          }
        },
        "PPAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPAB"
          }
        },
        "PPAE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPAE"
          }
        },
        "PPAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPAG"
          }
        },
        "PPAI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPAI"
          }
        },
        "PPAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPAR"
          }
        },
        "PPAU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPAU"
          }
        },
        "PPAV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPAV"
          }
        },
        "PPAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPAX"
          }
        },
        "PPBG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPBG"
          }
        },
        "PPC2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPC2"
          }
        },
        "PPCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPCE"
          }
        },
        "PPCO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPCO"
          }
        },
        "PPCR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPCR"
          }
        },
        "PPCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPCT"
          }
        },
        "PPCU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPCU"
          }
        },
        "PPD3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPD3"
          }
        },
        "PPDC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPDC"
          }
        },
        "PPDI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPDI"
          }
        },
        "PPDV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPDV"
          }
        },
        "PPDT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPDT"
          }
        },
        "PPEF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPEF"
          }
        },
        "PPEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPEL"
          }
        },
        "PPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPER"
          }
        },
        "PPEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPEX"
          }
        },
        "PPFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPFE"
          }
        },
        "PPFI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPFI"
          }
        },
        "PPFR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPFR"
          }
        },
        "PPFV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPFV"
          }
        },
        "PPGR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPGR"
          }
        },
        "PPH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPH1"
          }
        },
        "PPIF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPIF"
          }
        },
        "PPII": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPII"
          }
        },
        "PPIM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPIM"
          }
        },
        "PPIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPIT"
          }
        },
        "PPLR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPLR"
          }
        },
        "PPLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPLS"
          }
        },
        "PPMB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPMB"
          }
        },
        "PPMC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPMC"
          }
        },
        "PPMD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPMD"
          }
        },
        "PPNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPNC"
          }
        },
        "PPNL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPNL"
          }
        },
        "PPNM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPNM"
          }
        },
        "PPNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPNT"
          }
        },
        "PPPH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPPH"
          }
        },
        "PPPI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPPI"
          }
        },
        "PPPM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPPM"
          }
        },
        "PPQC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPQC"
          }
        },
        "PPRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPRE"
          }
        },
        "PPRF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPRF"
          }
        },
        "PPRR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPRR"
          }
        },
        "PPS0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPS0"
          }
        },
        "PPS1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPS1"
          }
        },
        "PPS2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPS2"
          }
        },
        "PPS3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPS3"
          }
        },
        "PPS4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPS4"
          }
        },
        "PPS5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPS5"
          }
        },
        "PPS6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PPS6"
[...]
