{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.paypal.shipping_shipment_tracking_v1#TrackerListInput": {
      "type": "list",
      "member": {
        "target": "com.paypal.shipping_shipment_tracking_v1#TrackerInput"
      },
      "traits": {
        "smithy.api#documentation": "An array of tracking information for shipments."
      }
    },
    "com.paypal.shipping_shipment_tracking_v1#TrackerInput": {
      "type": "structure",
      "members": {
        "transaction_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The PayPal transaction ID.",
            "smithy.api#required": {}
          }
        },
        "tracking_number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tracking number for the shipment. Carrier information, `carrier` is required if tracking_number is provided."
          }
        },
        "tracking_number_type": {
          "target": "com.paypal.shipping_shipment_tracking_v1#TrackingNumberType",
          "traits": {
            "smithy.api#documentation": "The type of tracking number."
          }
        },
        "status": {
          "target": "com.paypal.shipping_shipment_tracking_v1#TrackingStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "shipment_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date when the shipment occurred, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6)."
          }
        },
        "carrier": {
          "target": "com.paypal.shipping_shipment_tracking_v1#Carrier"
        },
        "carrier_name_other": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the carrier for the shipment. Provide this value only if the carrier parameter is OTHER."
          }
        },
        "notify_buyer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true , sends an email notification to the buyer of the PayPal transaction. The email contains the tracking information that was uploaded through the API."
          }
        },
        "last_updated_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the tracking information was last updated, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6)."
          }
        },
        "shipment_direction": {
          "target": "com.paypal.shipping_shipment_tracking_v1#TrackerInputShipmentDirection",
          "traits": {
            "smithy.api#documentation": "To denote whether the shipment is sent forward to the receiver or returned back."
          }
        },
        "tracking_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tracking Link of the shipment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The tracking information for a shipment."
      }
    },
    "com.paypal.shipping_shipment_tracking_v1#TrackingNumberType": {
      "type": "enum",
      "members": {
        "CARRIER_PROVIDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CARRIER_PROVIDED"
          }
        },
        "E2E_PARTNER_PROVIDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "E2E_PARTNER_PROVIDED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The tracking number type."
      }
    },
    "com.paypal.shipping_shipment_tracking_v1#TrackingStatus": {
      "type": "enum",
      "members": {
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "DELIVERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELIVERED"
          }
        },
        "LOCAL_PICKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_PICKUP"
          }
        },
        "ON_HOLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_HOLD"
          }
        },
        "SHIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHIPPED"
          }
        },
        "SHIPMENT_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHIPMENT_CREATED"
          }
        },
        "DROPPED_OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DROPPED_OFF"
          }
        },
        "IN_TRANSIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_TRANSIT"
          }
        },
        "RETURNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETURNED"
          }
        },
        "LABEL_PRINTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LABEL_PRINTED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "UNCONFIRMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNCONFIRMED"
          }
        },
        "PICKUP_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PICKUP_FAILED"
          }
        },
        "DELIVERY_DELAYED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELIVERY_DELAYED"
          }
        },
        "DELIVERY_SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELIVERY_SCHEDULED"
          }
        },
        "DELIVERY_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELIVERY_FAILED"
          }
        },
        "INRETURN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INRETURN"
          }
        },
        "IN_PROCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROCESS"
          }
        },
        "NEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW"
          }
        },
        "VOID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOID"
          }
        },
        "PROCESSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSED"
          }
        },
        "NOT_SHIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_SHIPPED"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the item shipment. For allowed values, see <a href=\"/docs/tracking/reference/shipping-status/\">Shipping Statuses</a>."
      }
    },
    "com.paypal.shipping_shipment_tracking_v1#Carrier": {
      "type": "enum",
      "members": {
        "_2EBOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "2EBOX"
          }
        },
        "_360LION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "360LION"
          }
        },
        "_3JMSLOGISTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "3JMSLOGISTICS"
          }
        },
        "_4_72": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "4_72"
          }
        },
        "_6LS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "6LS"
          }
        },
        "A1POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A1POST"
          }
        },
        "AAA_COOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AAA_COOPER"
          }
        },
        "ABCUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABCUSTOM"
          }
        },
        "ABXEXPRESS_MY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABXEXPRESS_MY"
          }
        },
        "ACOMMMERCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACOMMMERCE"
          }
        },
        "ACSWORLDWIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACSWORLDWIDE"
          }
        },
        "ACS_GR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACS_GR"
          }
        },
        "ADERONLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADERONLINE"
          }
        },
        "ADICIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADICIONAL"
          }
        },
        "ADSONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADSONE"
          }
        },
        "ADUIEPYLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADUIEPYLE"
          }
        },
        "AERONET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AERONET"
          }
        },
        "AEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AEX"
          }
        },
        "AFLLOG_FTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AFLLOG_FTP"
          }
        },
        "AGILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGILITY"
          }
        },
        "AIRMEE_WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AIRMEE_WEBHOOK"
          }
        },
        "AIR_CANADA_GLOBAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AIR_CANADA_GLOBAL"
          }
        },
        "ALFATREX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALFATREX"
          }
        },
        "ALLIEDEXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLIEDEXPRESS"
          }
        },
        "ALLJOY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLJOY"
          }
        },
        "ALPHAFAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALPHAFAST"
          }
        },
        "ALWAYS_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALWAYS_EXPRESS"
          }
        },
        "AMAZON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMAZON"
          }
        },
        "AMAZON_FBA_SWISHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMAZON_FBA_SWISHIP"
          }
        },
        "AMAZON_SHIP_MCF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMAZON_SHIP_MCF"
          }
        },
        "AMSTAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMSTAN"
          }
        },
        "AMS_GRP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMS_GRP"
          }
        },
        "ANDREANI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANDREANI"
          }
        },
        "ANICAM_BOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANICAM_BOX"
          }
        },
        "ANJUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANJUN"
          }
        },
        "ANSERX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANSERX"
          }
        },
        "AN_POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AN_POST"
          }
        },
        "AO_COURIER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AO_COURIER"
          }
        },
        "AO_DEUTSCHLAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AO_DEUTSCHLAND"
          }
        },
        "APC_OVERNIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APC_OVERNIGHT"
          }
        },
        "APC_OVERNIGHT_CONNUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APC_OVERNIGHT_CONNUM"
          }
        },
        "APG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APG"
          }
        },
        "APRISAEXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APRISAEXPRESS"
          }
        },
        "AQUILINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AQUILINE"
          }
        },
        "ARAMEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARAMEX"
          }
        },
        "ARAMEX_AU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARAMEX_AU"
          }
        },
        "ARCO_SPEDIZIONI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCO_SPEDIZIONI"
          }
        },
        "ARE_EMIRATES_POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARE_EMIRATES_POST"
          }
        },
        "ARG_OCA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARG_OCA"
          }
        },
        "ARK_LOGISTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARK_LOGISTICS"
          }
        },
        "ASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASE"
          }
        },
        "ASENDIA_HK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASENDIA_HK"
          }
        },
        "ASENDIA_UK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASENDIA_UK"
          }
        },
        "ASENDIA_USA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASENDIA_USA"
          }
        },
        "ASIGNA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASIGNA"
          }
        },
        "AUPOST_CN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUPOST_CN"
          }
        },
        "AUSTRIAN_POST_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUSTRIAN_POST_EXPRESS"
          }
        },
        "AUS_STARTRACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUS_STARTRACK"
          }
        },
        "AUS_TOLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUS_TOLL"
          }
        },
        "AU_AUSTRIAN_POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AU_AUSTRIAN_POST"
          }
        },
        "AU_AU_POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AU_AU_POST"
          }
        },
        "AU_TNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AU_TNT"
          }
        },
        "AVERITT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVERITT"
          }
        },
        "BEL_DHL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BEL_DHL"
          }
        },
        "BEL_RS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BEL_RS"
          }
        },
        "BESTWAYPARCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BESTWAYPARCEL"
          }
        },
        "BE_BPOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BE_BPOST"
          }
        },
        "BE_KIALA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BE_KIALA"
          }
        },
        "BG_BULGARIAN_POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BG_BULGARIAN_POST"
          }
        },
        "BH_POSTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BH_POSTA"
          }
        },
        "BH_WORLDWIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BH_WORLDWIDE"
          }
        },
        "BIRDSYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIRDSYSTEM"
          }
        },
        "BJSHOMEDELIVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BJSHOMEDELIVERY"
          }
        },
        "BLINKLASTMILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLINKLASTMILE"
          }
        },
        "BLR_BELPOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLR_BELPOST"
          }
        },
        "BLUECARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLUECARE"
          }
        },
        "BLUESTAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLUESTAR"
          }
        },
        "BLUEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLUEX"
          }
        },
        "BNEED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BNEED"
          }
        },
        "BOMBINOEXP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOMBINOEXP"
          }
        },
        "BOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOND"
          }
        },
        "BONDSCOURIERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BONDSCOURIERS"
          }
        },
        "BORDEREXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BORDEREXPRESS"
          }
        },
        "BOX_BERRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOX_BERRY"
          }
        },
        "BPOST_INT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BPOST_INT"
          }
        },
        "BRA_CORREIOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BRA_CORREIOS"
          }
        },
        "BRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BRING"
          }
        },
        "BROUWER_TRANSPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BROUWER_TRANSPORT"
          }
        },
        "BRT_IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BRT_IT"
          }
        },
        "BRT_IT_PARCELID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BRT_IT_PARCELID"
          }
        },
        "BRT_IT_SENDER_REF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BRT_IT_SENDER_REF"
          }
        },
        "BUDBEE_WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUDBEE_WEBHOOK"
          }
        },
        "BUYLOGIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYLOGIC"
          }
        },
        "B_TWO_C_EUROPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "B_TWO_C_EUROPE"
          }
        },
        "CAE_DELIVERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAE_DELIVERS"
          }
        },
        "CAINIAO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAINIAO"
          }
        },
        "CARIBOU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CARIBOU"
          }
        },
        "CARRIERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CARRIERS"
          }
        },
        "CARRY_FLAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CARRY_FLAP"
          }
        },
        "CA_CANADA_POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CA_CANADA_POST"
          }
        },
        "CA_CANPAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CA_CANPAR"
          }
        },
        "CA_GREYHOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CA_GREYHOUND"
          }
        },
        "CA_PUROLATOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CA_PUROLATOR"
          }
        },
        "CBL_LOGISTICA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CBL_LOGISTICA"
          }
        },
        "CDEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CDEK"
          }
        },
        "CDEK_TR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CDEK_TR"
          }
        },
        "CELERITAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CELERITAS"
          }
        },
        "CELLO_SQUARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CELLO_SQUARE"
          }
        },
        "CESKA_CZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CESKA_CZ"
          }
        },
        "CEVA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CEVA"
          }
        },
        "CFL_LOGISTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CFL_LOGISTICS"
          }
        },
        "CGS_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CGS_EXPRESS"
          }
        },
        "CHAMPION_LOGISTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHAMPION_LOGISTICS"
          }
        },
        "CHITCHATS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHITCHATS"
          }
        },
        "CHOIR_EXP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHOIR_EXP"
          }
        },
        "CHROBINSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROBINSON"
          }
        },
        "CHRONOPOST_FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHRONOPOST_FR"
          }
        },
        "CHUKOU1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHUKOU1"
          }
        },
        "CH_SWISS_POST_PRIORITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CH_SWISS_POST_PRIORITY"
          }
        },
        "CITYLINK_MY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CITYLINK_MY"
          }
        },
        "CJPACKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CJPACKET"
          }
        },
        "CJ_CENTURY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CJ_CENTURY"
          }
        },
        "CJ_GLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CJ_GLS"
          }
        },
        "CJ_HK_INTERNATIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CJ_HK_INTERNATIONAL"
          }
        },
        "CJ_INT_MY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CJ_INT_MY"
          }
        },
        "CJ_KR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CJ_KR"
          }
        },
        "CJ_LOGISTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CJ_LOGISTICS"
          }
        },
        "CJ_TH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CJ_TH"
          }
        },
        "CLEVY_LINKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLEVY_LINKS"
          }
        },
        "CLE_LOGISTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLE_LOGISTICS"
          }
        },
        "CLOUDWISH_ASIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUDWISH_ASIA"
          }
        },
        "CNDEXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNDEXPRESS"
          }
        },
        "CNEXPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNEXPS"
          }
        },
        "CNWANGTONG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNWANGTONG"
          }
        },
        "CN_17POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CN_17POST"
          }
        },
        "CN_BESTEXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CN_BESTEXPRESS"
          }
        },
        "CN_BOXC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CN_BOXC"
          }
        },
        "CN_CHINA_POST_EMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CN_CHINA_POST_EMS"
          }
        },
        "CN_DPEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CN_DPEX"
          }
        },
        "CN_EMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CN_EMS"
          }
        },
        "CN_EQUICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CN_EQUICK"
          }
        },
        "CN_JCEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CN_JCEX"
          }
        },
        "CN_PAYPAL_PACKAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CN_PAYPAL_PACKAGE"
          }
        },
        "CN_POST56": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CN_POST56"
          }
        },
        "CN_SF_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CN_SF_EXPRESS"
          }
        },
        "CN_STO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CN_STO"
          }
        },
        "CN_WEDO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CN_WEDO"
          }
        },
        "CN_WISHPOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CN_WISHPOST"
          }
        },
        "CN_YUNDA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CN_YUNDA"
          }
        },
        "COLIS_PRIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLIS_PRIVE"
          }
        },
        "COLLECTCO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLLECTCO"
          }
        },
        "COLLIVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLLIVERY"
          }
        },
        "COMET_TECH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMET_TECH"
          }
        },
        "CONTINENTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTINENTAL"
          }
        },
        "CON_WAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CON_WAY"
          }
        },
        "COORDINADORA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COORDINADORA"
          }
        },
        "COPA_COURIER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COPA_COURIER"
          }
        },
        "COPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COPE"
          }
        },
        "CORPORATECOURIERS_WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CORPORATECOURIERS_WEBHOOK"
          }
        },
        "CORREOS_DE_MEXICO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CORREOS_DE_MEXICO"
          }
        },
        "CORREOS_ES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CORREOS_ES"
          }
        },
        "CORREOS_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CORREOS_EXPRESS"
          }
        },
        "CORREO_UY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CORREO_UY"
          }
        },
        "COSTMETICSNOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COSTMETICSNOW"
          }
        },
        "COURANT_PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COURANT_PLUS"
          }
        },
        "COUREX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUREX"
          }
        },
        "COURIERS_PLEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COURIERS_PLEASE"
          }
        },
        "CPACKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CPACKET"
          }
        },
        "CPEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CPEX"
          }
        },
        "CROSHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CROSHOT"
          }
        },
        "CSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CSE"
          }
        },
        "CTC_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CTC_EXPRESS"
          }
        },
        "CUBYN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUBYN"
          }
        },
        "CUCKOOEXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUCKOOEXPRESS"
          }
        },
        "CYPRUS_POST_CYP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CYPRUS_POST_CYP"
          }
        },
        "DAIGLOBALTRACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAIGLOBALTRACK"
          }
        },
        "DAJIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAJIN"
          }
        },
        "DANSKE_FRAGT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DANSKE_FRAGT"
          }
        },
        "DAWN_WING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAWN_WING"
          }
        },
        "DAYTON_FREIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAYTON_FREIGHT"
          }
        },
        "DBSCHENKER_B2B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DBSCHENKER_B2B"
          }
        },
        "DBSCHENKER_SE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DBSCHENKER_SE"
          }
        },
        "DBSCHENKER_SV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DBSCHENKER_SV"
          }
        },
        "DDEXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DDEXPRESS"
          }
        },
        "DEALERSEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEALERSEND"
          }
        },
        "DELIVERYONTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELIVERYONTIME"
          }
        },
        "DELNEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELNEXT"
          }
        },
        "DELTEC_UK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELTEC_UK"
          }
        },
        "DEMANDSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEMANDSHIP"
          }
        },
        "DESCARTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESCARTES"
          }
        },
        "DESIGNERTRANSPORT_WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESIGNERTRANSPORT_WEBHOOK"
          }
        },
        "DESTINY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESTINY"
          }
        },
        "DEX_I": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEX_I"
          }
        },
        "DE_ASENDIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DE_ASENDIA"
          }
        },
        "DE_DEUTSCHE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DE_DEUTSCHE"
          }
        },
        "DE_DEUTSCHE_POST_DHL_WITHIN_EUROPE_TRACKNET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DE_DEUTSCHE_POST_DHL_WITHIN_EUROPE_TRACKNET"
          }
        },
        "DE_DHL_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DE_DHL_EXPRESS"
          }
        },
        "DE_DPD_DELISTRACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DE_DPD_DELISTRACK"
          }
        },
        "DE_GLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DE_GLS"
          }
        },
        "DHL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DHL"
          }
        },
        "DHL_ACTIVE_TRACING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DHL_ACTIVE_TRACING"
          }
        },
        "DHL_AU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DHL_AU"
          }
        },
        "DHL_BENELUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DHL_BENELUX"
          }
        },
        "DHL_ECOMERCE_ASA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DHL_ECOMERCE_ASA"
          }
        },
        "DHL_ES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DHL_ES"
          }
        },
        "DHL_FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DHL_FR"
          }
        },
        "DHL_FREIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DHL_FREIGHT"
          }
        },
        "DHL_GLOBAL_MAIL_ASIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DHL_GLOBAL_MAIL_ASIA"
          }
        },
        "DHL_HK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DHL_HK"
          }
        },
        "DHL_JP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DHL_JP"
          }
        },
        "DHL_PARCEL_ES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DHL_PARCEL_ES"
          }
        },
        "DHL_PARCEL_NL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DHL_PARCEL_NL"
          }
        },
        "DHL_PARCEL_RU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DHL_PARCEL_RU"
          }
        },
        "DHL_PL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DHL_PL"
          }
        },
        "DHL_REFR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DHL_REFR"
          }
        },
        "DHL_SG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DHL_SG"
          }
        },
        "DHL_SUPPLY_CHAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DHL_SUPPLY_CHAIN"
          }
        },
        "DHL_UK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DHL_UK"
          }
        },
        "DIAMOND_EUROGISTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIAMOND_EUROGISTICS"
          }
        },
        "DICOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DICOM"
          }
        },
        "DIDADI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIDADI"
          }
        },
        "DIMERCO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIMERCO"
          }
        },
        "DIRECTCOURIERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECTCOURIERS"
          }
        },
        "DIRECTLOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECTLOG"
          }
        },
        "DIRECTPARCELS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECTPARCELS"
          }
        },
        "DMM_NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DMM_NETWORK"
          }
        },
        "DMS_MATRIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DMS_MATRIX"
          }
        },
        "DOBROPOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOBROPOST"
          }
        },
        "DOORA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOORA"
          }
        },
        "DOORDASH_WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOORDASH_WEBHOOK"
          }
        },
        "DPD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DPD"
          }
        },
        "DPD_DELISTRACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DPD_DELISTRACK"
          }
        },
        "DPD_FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DPD_FR"
          }
        },
        "DPD_HGRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DPD_HGRY"
          }
        },
        "DPD_HK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DPD_HK"
          }
        },
        "DPD_IR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DPD_IR"
          }
        },
        "DPD_LOCAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DPD_LOCAL"
          }
        },
        "DPD_LOCAL_REF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DPD_LOCAL_REF"
          }
        },
        "DPD_POLAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DPD_POLAND"
          }
        },
        "DPD_RO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DPD_RO"
          }
        },
        "DPD_RU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DPD_RU"
          }
        },
        "DPEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DPEX"
          }
        },
        "DPE_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DPE_EXPRESS"
          }
        },
        "DPE_SOUTH_AFRC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DPE_SOUTH_AFRC"
          }
        },
        "DSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DSV"
          }
        },
        "DTDC_AU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTDC_AU"
          }
        },
        "DTDC_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTDC_EXPRESS"
          }
        },
        "DTDC_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTDC_IN"
          }
        },
        "DTD_EXPR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTD_EXPR"
          }
        },
        "DX_SFTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DX_SFTP"
          }
        },
        "DYLT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DYLT"
          }
        },
        "DYNALOGIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DYNALOGIC"
          }
        },
        "EASY_MAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EASY_MAIL"
          }
        },
        "ECEXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ECEXPRESS"
          }
        },
        "ECHO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ECHO"
          }
        },
        "ECMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ECMS"
          }
        },
        "ECOSCOOTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ECOSCOOTING"
          }
        },
        "EFEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EFEX"
          }
        },
        "EFS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EFS"
          }
        },
        "EKART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EKART"
          }
        },
        "ELIAN_POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ELIAN_POST"
          }
        },
        "EMPS_CN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMPS_CN"
          }
        },
        "ENDEAVOUR_DELIVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDEAVOUR_DELIVERY"
          }
        },
        "ENVIALIA_REFERENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIALIA_REFERENCE"
          }
        },
        "EPARCEL_KR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EPARCEL_KR"
          }
        },
        "EPST_GLBL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EPST_GLBL"
          }
        },
        "EP_BOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EP_BOX"
          }
        },
        "ESHIPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ESHIPPING"
          }
        },
        "ESP_ASM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ESP_ASM"
          }
        },
        "ESP_ENVIALIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ESP_ENVIALIA"
          }
        },
        "ESP_MRW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ESP_MRW"
          }
        },
        "ESP_NACEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ESP_NACEX"
          }
        },
        "ESP_PACKLINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ESP_PACKLINK"
          }
        },
        "ESP_REDUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ESP_REDUR"
          }
        },
        "ETOMARS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ETOMARS"
          }
        },
        "ETOTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ETOTAL"
          }
        },
        "ETS_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ETS_EXPRESS"
          }
        },
        "EU_FLEET_SOLUTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EU_FLEET_SOLUTIONS"
          }
        },
        "EU_IMX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EU_IMX"
          }
        },
        "EXPRESSSALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPRESSSALE"
          }
        },
        "FARGOOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FARGOOD"
          }
        },
        "FAR_INTERNATIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAR_INTERNATIONAL"
          }
        },
        "FASTRACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FASTRACK"
          }
        },
        "FASTRK_SERV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FASTRK_SERV"
          }
        },
        "FASTWAY_IR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FASTWAY_IR"
          }
        },
        "FASTWAY_NZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FASTWAY_NZ"
          }
        },
        "FDSEXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FDSEXPRESS"
          }
        },
        "FEDEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEDEX"
          }
        },
        "FEDEX_CROSSBORDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEDEX_CROSSBORDER"
          }
        },
        "FEDEX_FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEDEX_FR"
          }
        },
        "FEDEX_INTL_MLSERV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEDEX_INTL_MLSERV"
          }
        },
        "FEDEX_POLAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEDEX_POLAND"
          }
        },
        "FEDEX_UK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEDEX_UK"
          }
        },
        "FETCHR_WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FETCHR_WEBHOOK"
          }
        },
        "FIEGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIEGE"
          }
        },
        "FIEGE_NL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIEGE_NL"
          }
        },
        "FIRSTMILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIRSTMILE"
          }
        },
        "FLASHEXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLASHEXPRESS"
          }
        },
        "FMX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FMX"
          }
        },
        "FONSEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FONSEN"
          }
        },
        "FORRUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FORRUN"
          }
        },
        "FREIGHTQUOTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREIGHTQUOTE"
          }
        },
        "FRETERAPIDO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRETERAPIDO"
          }
        },
        "FR_BERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FR_BERT"
          }
        },
        "FR_COLIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FR_COLIS"
          }
        },
        "FR_EXAPAQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FR_EXAPAQ"
          }
        },
        "FR_GEODIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FR_GEODIS"
          }
        },
        "FR_GLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FR_GLS"
          }
        },
        "FULFILLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULFILLA"
          }
        },
        "FULFILLME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULFILLME"
          }
        },
        "FURDECO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FURDECO"
          }
        },
        "GAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GAC"
          }
        },
        "GANGBAO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GANGBAO"
          }
        },
        "GBA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GBA"
          }
        },
        "GBS_BROKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GBS_BROKER"
          }
        },
        "GB_APC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GB_APC"
          }
        },
        "GB_ARROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GB_ARROW"
          }
        },
        "GB_NORSK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GB_NORSK"
          }
        },
        "GB_PANTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GB_PANTHER"
          }
        },
        "GB_TUFFNELLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GB_TUFFNELLS"
          }
        },
        "GEIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEIS"
          }
        },
        "GEL_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEL_EXPRESS"
          }
        },
        "GEMWORLDWIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEMWORLDWIDE"
          }
        },
        "GENERAL_OVERNIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERAL_OVERNIGHT"
          }
        },
        "GENIKI_GR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENIKI_GR"
          }
        },
        "GEODIS_ESPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEODIS_ESPACE"
          }
        },
        "GESWL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GESWL"
          }
        },
        "GIAO_HANG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GIAO_HANG"
          }
        },
        "GIO_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GIO_EXPRESS"
          }
        },
        "GLOBALTRANZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GLOBALTRANZ"
          }
        },
        "GLOBAL_ABF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GLOBAL_ABF"
          }
        },
        "GLOBAL_ESTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GLOBAL_ESTES"
          }
        },
        "GLOBAL_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GLOBAL_EXPRESS"
          }
        },
        "GLOBAL_IPARCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GLOBAL_IPARCEL"
          }
        },
        "GLOBAL_TNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GLOBAL_TNT"
          }
        },
        "GLOBAVEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GLOBAVEND"
          }
        },
        "GLS_CROTIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GLS_CROTIA"
          }
        },
        "GLS_CZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GLS_CZ"
          }
        },
        "GLS_IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GLS_IT"
          }
        },
        "GLS_ITALY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GLS_ITALY"
          }
        },
        "GLS_SLOV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GLS_SLOV"
          }
        },
        "GLS_SLOVEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GLS_SLOVEN"
          }
        },
        "GOGLOBALPOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOGLOBALPOST"
          }
        },
        "GOJEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOJEK"
          }
        },
        "GRAB_WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRAB_WEBHOOK"
          }
        },
        "GRUPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRUPO"
          }
        },
        "GR_ELTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GR_ELTA"
          }
        },
        "GSI_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GSI_EXPRESS"
          }
        },
        "GSO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GSO"
          }
        },
        "HAPPY2POINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HAPPY2POINT"
          }
        },
        "HCT_LOGISTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HCT_LOGISTICS"
          }
        },
        "HDB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HDB"
          }
        },
        "HDB_BOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HDB_BOX"
          }
        },
        "HELLMANN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HELLMANN"
          }
        },
        "HELTHJEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HELTHJEM"
          }
        },
        "HEPPNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEPPNER"
          }
        },
        "HEPPNER_FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEPPNER_FR"
          }
        },
        "HERMES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HERMES"
          }
        },
        "HERMES_2MANN_HANDLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HERMES_2MANN_HANDLING"
          }
        },
        "HERMES_DE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HERMES_DE"
          }
        },
        "HH_EXP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HH_EXP"
          }
        },
        "HIPSHIPPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIPSHIPPER"
          }
        },
        "HKD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HKD"
          }
        },
        "HK_FLYT_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HK_FLYT_EXPRESS"
          }
        },
        "HK_FOUR_PX_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HK_FOUR_PX_EXPRESS"
          }
        },
        "HK_POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HK_POST"
          }
        },
        "HK_TGX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HK_TGX"
          }
        },
        "HOLISOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOLISOL"
          }
        },
        "HOME_DELIVERY_SOLUTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOME_DELIVERY_SOLUTIONS"
          }
        },
        "HOUNDEXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOUNDEXPRESS"
          }
        },
        "HRPARCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HRPARCEL"
          }
        },
        "HRV_HRVATSKA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HRV_HRVATSKA"
          }
        },
        "HUAHAN_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HUAHAN_EXPRESS"
          }
        },
        "HUNTER_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HUNTER_EXPRESS"
          }
        },
        "HUODULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HUODULL"
          }
        },
        "HX_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HX_EXPRESS"
          }
        },
        "IBEONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IBEONE"
          }
        },
        "ICUMULUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ICUMULUS"
          }
        },
        "IDEXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDEXPRESS"
          }
        },
        "IDN_JNE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDN_JNE"
          }
        },
        "IDN_LION_PARCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDN_LION_PARCEL"
          }
        },
        "IDN_PANDU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDN_PANDU"
          }
        },
        "IML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IML"
          }
        },
        "INDOPAKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDOPAKET"
          }
        },
        "IND_BLUEDART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IND_BLUEDART"
          }
        },
        "IND_DELHIVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IND_DELHIVERY"
          }
        },
        "IND_DELIVREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IND_DELIVREE"
          }
        },
        "IND_DOTZOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IND_DOTZOT"
          }
        },
        "IND_ECOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IND_ECOM"
          }
        },
        "IND_FIRSTFLIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IND_FIRSTFLIGHT"
          }
        },
        "IND_GATI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IND_GATI"
          }
        },
        "IND_GOJAVAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IND_GOJAVAS"
          }
        },
        "IND_PROFESSIONAL_COURIERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IND_PROFESSIONAL_COURIERS"
          }
        },
        "IND_SAFEEXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IND_SAFEEXPRESS"
          }
        },
        "IND_XPRESSBEES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IND_XPRESSBEES"
          }
        },
        "INPOST_PACZKOMATY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INPOST_PACZKOMATY"
          }
        },
        "INTEGRA2_FTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGRA2_FTP"
          }
        },
        "INTELIPOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTELIPOST"
          }
        },
        "INTEL_VALLEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEL_VALLEY"
          }
        },
        "INTERPARCEL_AU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERPARCEL_AU"
          }
        },
        "INTERPARCEL_NZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERPARCEL_NZ"
          }
        },
        "INTERPARCEL_UK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERPARCEL_UK"
          }
        },
        "INTEXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEXPRESS"
          }
        },
        "ISRAEL_POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISRAEL_POST"
          }
        },
        "ISR_POST_DOMESTIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISR_POST_DOMESTIC"
          }
        },
        "IT_DHL_ECOMMERCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IT_DHL_ECOMMERCE"
          }
        },
        "IT_FERCAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IT_FERCAM"
          }
        },
        "IT_NEXIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IT_NEXIVE"
          }
        },
        "IT_POSTE_ITALIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IT_POSTE_ITALIA"
          }
        },
        "IT_TNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IT_TNT"
          }
        },
        "IVOY_WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IVOY_WEBHOOK"
          }
        },
        "I_DIKA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "I_DIKA"
          }
        },
        "JANCO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JANCO"
          }
        },
        "JANIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JANIO"
          }
        },
        "JERSEY_POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JERSEY_POST"
          }
        },
        "JET_SHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JET_SHIP"
          }
        },
        "JINDOUYUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JINDOUYUN"
          }
        },
        "JINSUNG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JINSUNG"
          }
        },
        "JOCOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOCOM"
          }
        },
        "JOOM_LOGIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOOM_LOGIS"
          }
        },
        "JOYING_BOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOYING_BOX"
          }
        },
        "JPN_JAPAN_POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JPN_JAPAN_POST"
          }
        },
        "JPN_SAGAWA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JPN_SAGAWA"
          }
        },
        "JP_KURO_NEKO_YAMATO_UNYUU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JP_KURO_NEKO_YAMATO_UNYUU"
          }
        },
        "JS_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JS_EXPRESS"
          }
        },
        "JTEXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JTEXPRESS"
          }
        },
        "JTEXPRESS_VN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JTEXPRESS_VN"
          }
        },
        "JX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JX"
          }
        },
        "J_NET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "J_NET"
          }
        },
        "K1_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "K1_EXPRESS"
          }
        },
        "KANGAROO_MY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KANGAROO_MY"
          }
        },
        "KEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEC"
          }
        },
        "KERRYTJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KERRYTJ"
          }
        },
        "KERRYTTC_VN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KERRYTTC_VN"
          }
        },
        "KERRY_ECOMMERCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KERRY_ECOMMERCE"
          }
        },
        "KGMHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KGMHUB"
          }
        },
        "KHM_CAMBODIA_POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KHM_CAMBODIA_POST"
          }
        },
        "KOR_ECARGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KOR_ECARGO"
          }
        },
        "KPOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KPOST"
          }
        },
        "KR_KOREA_POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KR_KOREA_POST"
          }
        },
        "KUEHNE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KUEHNE"
          }
        },
        "KURASI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KURASI"
          }
        },
        "KWE_GLOBAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KWE_GLOBAL"
          }
        },
        "KWT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KWT"
          }
        },
        "KYUNGDONG_PARCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KYUNGDONG_PARCEL"
          }
        },
        "KY_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KY_EXPRESS"
          }
        },
        "LALAMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LALAMOVE"
          }
        },
        "LANDMARK_GLOBAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LANDMARK_GLOBAL"
          }
        },
        "LANDMARK_GLOBAL_REFERENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LANDMARK_GLOBAL_REFERENCE"
          }
        },
        "LATVIJAS_PASTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LATVIJAS_PASTS"
          }
        },
        "LA_POSTE_SUIVI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LA_POSTE_SUIVI"
          }
        },
        "LBCEXPRESS_FTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LBCEXPRESS_FTP"
          }
        },
        "LEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEADER"
          }
        },
        "LEGION_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEGION_EXPRESS"
          }
        },
        "LEXSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEXSHIP"
          }
        },
        "LHT_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LHT_EXPRESS"
          }
        },
        "LICCARDI_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LICCARDI_EXPRESS"
          }
        },
        "LIEFERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIEFERY"
          }
        },
        "LINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE"
          }
        },
        "LINKBRIDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINKBRIDGE"
          }
        },
        "LOCUS_WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCUS_WEBHOOK"
          }
        },
        "LOGISTERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGISTERS"
          }
        },
        "LOGISTICSWORLDWIDE_HK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGISTICSWORLDWIDE_HK"
          }
        },
        "LOGISTIKA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGISTIKA"
          }
        },
        "LOGISTYX_TRANSGROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGISTYX_TRANSGROUP"
          }
        },
        "LONESTAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LONESTAR"
          }
        },
        "LOOMIS_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOOMIS_EXPRESS"
          }
        },
        "LOTTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOTTE"
          }
        },
        "LTIANEXP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LTIANEXP"
          }
        },
        "LTL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LTL"
          }
        },
        "LTU_LIETUVOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LTU_LIETUVOS"
          }
        },
        "MAGYAR_HU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAGYAR_HU"
          }
        },
        "MAILAMERICAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAILAMERICAS"
          }
        },
        "MAILPLUS_JPN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAILPLUS_JPN"
          }
        },
        "MAIL_PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAIL_PLUS"
          }
        },
        "MAINFREIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAINFREIGHT"
          }
        },
        "MAINWAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAINWAY"
          }
        },
        "MATDESPATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATDESPATCH"
          }
        },
        "MATKAHUOLTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATKAHUOLTO"
          }
        },
        "MBW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MBW"
          }
        },
        "MEX_AEROFLASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEX_AEROFLASH"
          }
        },
        "MEX_ESTAFETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEX_ESTAFETA"
          }
        },
        "MEX_REDPACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEX_REDPACK"
          }
        },
        "MEX_SENDA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEX_SENDA"
          }
        },
        "MGLOBAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MGLOBAL"
          }
        },
        "MIKROPAKKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIKROPAKKET"
          }
        },
        "MIKROPAKKET_BE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIKROPAKKET_BE"
          }
        },
        "MILKMAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MILKMAN"
          }
        },
        "MORE_LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MORE_LINK"
          }
        },
        "MORNING_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MORNING_EXPRESS"
          }
        },
        "MRW_FTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MRW_FTP"
          }
        },
        "MXE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MXE"
          }
        },
        "MX_CARGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MX_CARGO"
          }
        },
        "MYHERMES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYHERMES"
          }
        },
        "MYS_AIRPAK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYS_AIRPAK"
          }
        },
        "MYS_EMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYS_EMS"
          }
        },
        "MYS_GDEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYS_GDEX"
          }
        },
        "MYS_MYPOST_ONLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYS_MYPOST_ONLINE"
          }
        },
        "MYS_MYS_POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYS_MYS_POST"
          }
        },
        "MYS_SKYNET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYS_SKYNET"
          }
        },
        "M_XPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "M_XPRESS"
          }
        },
        "NACEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NACEX"
          }
        },
        "NACEX_ES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NACEX_ES"
          }
        },
        "NANJINGWOYUAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NANJINGWOYUAN"
          }
        },
        "NATIONAL_SAMEDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NATIONAL_SAMEDAY"
          }
        },
        "NATIONEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NATIONEX"
          }
        },
        "NATIONWIDE_MY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NATIONWIDE_MY"
          }
        },
        "NEWAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEWAY"
          }
        },
        "NEWEGGEXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEWEGGEXPRESS"
          }
        },
        "NEWGISTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEWGISTICS"
          }
        },
        "NEWZEALAND_COURIERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEWZEALAND_COURIERS"
          }
        },
        "NG_COURIERPLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NG_COURIERPLUS"
          }
        },
        "NHANS_SOLUTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NHANS_SOLUTIONS"
          }
        },
        "NIM_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NIM_EXPRESS"
          }
        },
        "NINJAVAN_MY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NINJAVAN_MY"
          }
        },
        "NINJAVAN_SG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NINJAVAN_SG"
          }
        },
        "NINJAVAN_THAI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NINJAVAN_THAI"
          }
        },
        "NINJAVAN_WB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NINJAVAN_WB"
          }
        },
        "NIPOST_NG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NIPOST_NG"
          }
        },
        "NLD_DHL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NLD_DHL"
          }
        },
        "NLD_GLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NLD_GLS"
          }
        },
        "NLD_POSTNL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NLD_POSTNL"
          }
        },
        "NLD_TRANSMISSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NLD_TRANSMISSION"
          }
        },
        "NOVA_POSHTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOVA_POSHTA"
          }
        },
        "NOVA_POSHTA_INT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOVA_POSHTA_INT"
          }
        },
        "NOX_NACHTEXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOX_NACHTEXPRESS"
          }
        },
        "NOX_NIGHT_TIME_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOX_NIGHT_TIME_EXPRESS"
          }
        },
        "NTLOGISTICS_VN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NTLOGISTICS_VN"
          }
        },
        "NZ_COURIER_POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NZ_COURIER_POST"
          }
        },
        "NZ_NZ_POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NZ_NZ_POST"
          }
        },
        "OCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OCS"
          }
        },
        "OCS_WORLDWIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OCS_WORLDWIDE"
          }
        },
        "OKAYPARCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OKAYPARCEL"
          }
        },
        "OMNIPARCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OMNIPARCEL"
          }
        },
        "OMNIVA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OMNIVA"
          }
        },
        "ONECLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONECLICK"
          }
        },
        "ONEWORLDEXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONEWORLDEXPRESS"
          }
        },
        "ORANGE_DS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORANGE_DS"
          }
        },
        "OSM_WORLDWIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OSM_WORLDWIDE"
          }
        },
        "OVERSE_EXP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OVERSE_EXP"
          }
        },
        "P2P_TRC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P2P_TRC"
          }
        },
        "PAACK_WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAACK_WEBHOOK"
          }
        },
        "PADTF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PADTF"
          }
        },
        "PAGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAGO"
          }
        },
        "PALEXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PALEXPRESS"
          }
        },
        "PALLETWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PALLETWAYS"
          }
        },
        "PALLET_NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PALLET_NETWORK"
          }
        },
        "PANTHER_REFERENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PANTHER_REFERENCE"
          }
        },
        "PAN_ASIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAN_ASIA"
          }
        },
        "PAPERFLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAPERFLY"
          }
        },
        "PAPER_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAPER_EXPRESS"
          }
        },
        "PAQUETEXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAQUETEXPRESS"
          }
        },
        "PARCEL2GO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARCEL2GO"
          }
        },
        "PARCELINKLOGISTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARCELINKLOGISTICS"
          }
        },
        "PARCELLED_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARCELLED_IN"
          }
        },
        "PARCELONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARCELONE"
          }
        },
        "PARCELPAL_WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARCELPAL_WEBHOOK"
          }
        },
        "PARCELPOINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARCELPOINT"
          }
        },
        "PARCELPOST_SG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARCELPOST_SG"
          }
        },
        "PARCEL_2_POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARCEL_2_POST"
          }
        },
        "PARKNPARCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARKNPARCEL"
          }
        },
        "PCFCORP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PCFCORP"
          }
        },
        "PFCEXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PFCEXPRESS"
          }
        },
        "PFLOGISTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PFLOGISTICS"
          }
        },
        "PHL_AIR21": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHL_AIR21"
          }
        },
        "PHL_AIRSPEED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHL_AIRSPEED"
          }
        },
        "PHL_JAMEXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHL_JAMEXPRESS"
          }
        },
        "PICKRR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PICKRR"
          }
        },
        "PICKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PICKUP"
          }
        },
        "PICKUPP_MYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PICKUPP_MYS"
          }
        },
        "PICKUPP_SGP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PICKUPP_SGP"
          }
        },
        "PILOT_FREIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PILOT_FREIGHT"
          }
        },
        "PIL_LOGISTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PIL_LOGISTICS"
          }
        },
        "PITNEY_BOWES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PITNEY_BOWES"
          }
        },
        "PITTOHIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PITTOHIO"
          }
        },
        "PIXSELL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PIXSELL"
          }
        },
        "PLANZER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLANZER"
          }
        },
        "PLUS_LOG_UK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLUS_LOG_UK"
          }
        },
        "PL_POCZTA_POLSKA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PL_POCZTA_POLSKA"
          }
        },
        "POL_SIODEMKA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POL_SIODEMKA"
          }
        },
        "PONY_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PONY_EXPRESS"
          }
        },
        "POSTA_PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTA_PLUS"
          }
        },
        "POSTA_RO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTA_RO"
          }
        },
        "POSTA_UKR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTA_UKR"
          }
        },
        "POSTEN_NORGE": {
[...]
