{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.unkey.api#AnalyticsGetGatewayRequestsRequest": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SQL query to run on your gateway request data.\nA query can use only the public alias `gateway_requests_v1`. The physical `default.*` table names are not permitted.\nOnly SELECT queries are permitted. CTEs, subqueries, UNION, and EXCEPT are also permitted.\nUnkey limits each query to the workspace of the root key. To get the data for one project, app, or environment, add a filter on `project_id`, `app_id`, or `environment_id`.\nThe workspace retention period and the workspace query limits apply.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.unkey.api#V2AnalyticsGetGatewayRequestsResponseBody": {
      "type": "structure",
      "members": {
        "meta": {
          "target": "com.unkey.api#Meta",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.unkey.api#V2AnalyticsGetGatewayRequestsResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.unkey.api#Meta": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique id for this request. Always include this ID when contacting support about a specific API request. This identifier allows Unkey's support team to trace the exact request through logs and diagnostic systems to provide faster assistance.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata object included in every API response. This provides context about the request and is essential for debugging, audit trails, and support inquiries. The `requestId` is particularly important when troubleshooting issues with the Unkey support team."
      }
    },
    "com.unkey.api#V2AnalyticsGetGatewayRequestsResponseData": {
      "type": "list",
      "member": {
        "target": "com.unkey.api#V2AnalyticsGetGatewayRequestsResponseDataItemMap"
      },
      "traits": {
        "smithy.api#documentation": "The gateway request rows that the query returned. The SELECT clause of the query controls the fields in each row."
      }
    },
    "com.unkey.api#V2AnalyticsGetGatewayRequestsResponseDataItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "One result row. The query controls its fields."
      }
    },
    "com.unkey.api#AnalyticsGetGatewayRequests": {
      "type": "operation",
      "input": {
        "target": "com.unkey.api#AnalyticsGetGatewayRequestsRequest"
      },
      "output": {
        "target": "com.unkey.api#V2AnalyticsGetGatewayRequestsResponseBody"
      },
      "errors": [
        {
          "target": "com.unkey.api#BadRequest"
        },
        {
          "target": "com.unkey.api#Forbidden"
        },
        {
          "target": "com.unkey.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/analytics.getGatewayRequests",
          "code": 200
        },
        "smithy.api#documentation": "Query gateway request data\n\nA query can use only the public alias `gateway_requests_v1`. CTEs, subqueries, UNION, and EXCEPT are permitted.\nThe root key must have the `project.*.read_gateway_requests` permission.\nUnkey limits each query to the workspace of the root key. To get the data for one project, app, or environment, add a filter on `project_id`, `app_id`, or `environment_id`.\nThe workspace retention period and the workspace query limits apply.\nFor the columns and more query examples, see the gateway request analytics documentation."
      }
    },
    "com.unkey.api#AnalyticsGetRatelimitsRequest": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SQL query to execute against your rate limit analytics data.\nQueries may reference only the five public aliases: `ratelimits_v1`, `ratelimits_per_minute_v1`, `ratelimits_per_hour_v1`, `ratelimits_per_day_v1`, or `ratelimits_per_month_v1`. Physical `default.*` table names are unsupported. CTEs, subqueries, UNION, and EXCEPT are supported.\nQueries are always restricted to the authenticated workspace. Wildcard analytics permission can read every namespace in that workspace; namespace-scoped permissions automatically restrict results to the permitted namespace IDs.\nWorkspace retention and query limits apply.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.unkey.api#V2AnalyticsGetRatelimitsResponseBody": {
      "type": "structure",
      "members": {
        "meta": {
          "target": "com.unkey.api#Meta",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.unkey.api#V2AnalyticsGetRatelimitsResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.unkey.api#V2AnalyticsGetRatelimitsResponseData": {
      "type": "list",
      "member": {
        "target": "com.unkey.api#V2AnalyticsGetRatelimitsResponseDataItemMap"
      },
      "traits": {
        "smithy.api#documentation": "Array of rate limit rows returned by the query. Fields vary based on the SQL SELECT clause."
      }
    },
    "com.unkey.api#V2AnalyticsGetRatelimitsResponseDataItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Dynamic row with fields determined by the query."
      }
    },
    "com.unkey.api#AnalyticsGetRatelimits": {
      "type": "operation",
      "input": {
        "target": "com.unkey.api#AnalyticsGetRatelimitsRequest"
      },
      "output": {
        "target": "com.unkey.api#V2AnalyticsGetRatelimitsResponseBody"
      },
      "errors": [
        {
          "target": "com.unkey.api#BadRequest"
        },
        {
          "target": "com.unkey.api#Forbidden"
        },
        {
          "target": "com.unkey.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/analytics.getRatelimits",
          "code": 200
        },
        "smithy.api#documentation": "Query rate limit data\n\nQueries may reference only the five public rate limit analytics aliases: `ratelimits_v1`, `ratelimits_per_minute_v1`, `ratelimits_per_hour_v1`, `ratelimits_per_day_v1`, or `ratelimits_per_month_v1`. CTEs, subqueries, UNION, and EXCEPT are supported.\nQueries are always restricted to the authenticated workspace. Wildcard analytics permission can read every namespace in that workspace; namespace-scoped permissions automatically restrict results to the permitted namespace IDs.\nWorkspace retention and query limits apply."
      }
    },
    "com.unkey.api#AnalyticsGetRuntimeLogsRequest": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SQL query for your runtime log data.\nA query can use only the public alias `runtime_logs_v1`. The physical `default.*` table name is not permitted. CTEs, subqueries, UNION, and EXCEPT are permitted.\nOnly SELECT queries are permitted.\nUnkey limits each query to the workspace of the root key. To get the logs of one project, app, environment, or deployment, add a filter on `project_id`, `app_id`, `environment_id`, or `deployment_id`.\nThe workspace retention period and the workspace query limits apply.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.unkey.api#V2AnalyticsGetRuntimeLogsResponseBody": {
      "type": "structure",
      "members": {
        "meta": {
          "target": "com.unkey.api#Meta",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.unkey.api#V2AnalyticsGetRuntimeLogsResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.unkey.api#V2AnalyticsGetRuntimeLogsResponseData": {
      "type": "list",
      "member": {
        "target": "com.unkey.api#V2AnalyticsGetRuntimeLogsResponseDataItemMap"
      },
      "traits": {
        "smithy.api#documentation": "The runtime log rows that the query returned. The SELECT clause of the query sets the fields of each row."
      }
    },
    "com.unkey.api#V2AnalyticsGetRuntimeLogsResponseDataItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "One result row. The query sets its fields."
      }
    },
    "com.unkey.api#AnalyticsGetRuntimeLogs": {
      "type": "operation",
      "input": {
        "target": "com.unkey.api#AnalyticsGetRuntimeLogsRequest"
      },
      "output": {
        "target": "com.unkey.api#V2AnalyticsGetRuntimeLogsResponseBody"
      },
      "errors": [
        {
          "target": "com.unkey.api#BadRequest"
        },
        {
          "target": "com.unkey.api#Forbidden"
        },
        {
          "target": "com.unkey.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/analytics.getRuntimeLogs",
          "code": 200
        },
        "smithy.api#documentation": "Query runtime log data\n\nA query can use only the public alias `runtime_logs_v1`. CTEs, subqueries, UNION, and EXCEPT are permitted.\nThe root key must have the `project.*.read_runtime_logs` permission.\nUnkey limits each query to the workspace of the root key. To get the logs of one project, app, environment, or deployment, add a filter on `project_id`, `app_id`, `environment_id`, or `deployment_id`.\nThe workspace retention period and the workspace query limits apply.\nFor the table, the columns, and more query examples, see [Query runtime logs](/platform/analytics/get-runtime-logs)."
      }
    },
    "com.unkey.api#AnalyticsGetVerificationsRequest": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SQL query to execute against your analytics data.\nQueries may reference only the five public aliases: `key_verifications_v1`, `key_verifications_per_minute_v1`, `key_verifications_per_hour_v1`, `key_verifications_per_day_v1`, or `key_verifications_per_month_v1`. Physical `default.*` table names are unsupported.\nOnly SELECT queries are allowed. CTEs, subqueries, UNION, and EXCEPT are supported.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.unkey.api#V2AnalyticsGetVerificationsResponseBody": {
      "type": "structure",
      "members": {
        "meta": {
          "target": "com.unkey.api#Meta",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.unkey.api#V2AnalyticsGetVerificationsResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.unkey.api#V2AnalyticsGetVerificationsResponseData": {
      "type": "list",
      "member": {
        "target": "com.unkey.api#V2AnalyticsGetVerificationsResponseDataItemMap"
      },
      "traits": {
        "smithy.api#documentation": "Array of verification rows returned by the query. Fields vary based on the SQL SELECT clause."
      }
    },
    "com.unkey.api#V2AnalyticsGetVerificationsResponseDataItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Dynamic row with fields determined by the query. Can include any combination of fields like time, outcome, count, key_id, etc."
      }
    },
    "com.unkey.api#AnalyticsGetVerifications": {
      "type": "operation",
      "input": {
        "target": "com.unkey.api#AnalyticsGetVerificationsRequest"
      },
      "output": {
        "target": "com.unkey.api#V2AnalyticsGetVerificationsResponseBody"
      },
      "errors": [
        {
          "target": "com.unkey.api#BadRequest"
        },
        {
          "target": "com.unkey.api#Forbidden"
        },
        {
          "target": "com.unkey.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/analytics.getVerifications",
          "code": 200
        },
        "smithy.api#documentation": "Query key verification data\n\nExecute custom SQL queries against your key verification analytics. CTEs, subqueries, UNION, and EXCEPT are supported.\nQueries must use one of the five public aliases: `key_verifications_v1`, `key_verifications_per_minute_v1`, `key_verifications_per_hour_v1`, `key_verifications_per_day_v1`, or `key_verifications_per_month_v1`. Physical `default.*` table names are unsupported.\nQueries are always restricted to the authenticated workspace. Wildcard analytics permission can read every API in that workspace; API-scoped permissions automatically restrict results to the permitted APIs.\nFor complete documentation including available tables, columns, data types, query examples, see the schema reference in the API documentation."
      }
    },
    "com.unkey.api#ApisCreateApiRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for this API within your workspace.\nUse descriptive names like 'Payment Service (prod)' or 'user-api-dev' to clearly identify purpose and environment.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.unkey.api#V2ApisCreateApiResponseBody": {
      "type": "structure",
      "members": {
        "meta": {
          "target": "com.unkey.api#Meta",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.unkey.api#V2ApisCreateApiResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.unkey.api#V2ApisCreateApiResponseData": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier assigned to the newly created API.\nUse this ID for all subsequent operations including key creation, verification, and API management.\nAlways begins with 'api_' followed by a unique alphanumeric sequence.\n\nStore this ID securely as it's required when:\n- Creating API keys within this namespace\n- Verifying keys associated with this API\n- Managing API settings and metadata\n- Listing keys belonging to this API\n\nThis identifier is permanent and cannot be changed after creation.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.unkey.api#ApisCreateApi": {
      "type": "operation",
      "input": {
        "target": "com.unkey.api#ApisCreateApiRequest"
      },
      "output": {
        "target": "com.unkey.api#V2ApisCreateApiResponseBody"
      },
      "errors": [
        {
          "target": "com.unkey.api#BadRequest"
        },
        {
          "target": "com.unkey.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/apis.createApi",
          "code": 200
        },
        "smithy.api#documentation": "Create API namespace\n\nCreate an API namespace for organizing keys by environment, service, or product.\n\nUse this to separate production from development keys, isolate different services, or manage multiple products. Each API gets a unique identifier and dedicated infrastructure for secure key operations.\n\n**Important**: API names must be unique within your workspace and cannot be changed after creation.\n\n**Required Permissions**\n\nYour root key must have one of the following permissions:\n- `api.*.create_api` (to create APIs in any workspace)"
      }
    },
    "com.unkey.api#ApisDeleteApiRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies which API namespace to permanently delete from your workspace.\nMust be a valid API ID that begins with 'api_' and exists within your workspace.\n\nBefore proceeding, ensure you have the correct API ID and understand that this action cannot be undone. If you need to migrate functionality, create replacement keys in a new API namespace and update client applications before deletion.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.unkey.api#V2ApisDeleteApiResponseBody": {
      "type": "structure",
      "members": {
        "meta": {
          "target": "com.unkey.api#Meta",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.unkey.api#ApisDeleteApi": {
      "type": "operation",
      "input": {
        "target": "com.unkey.api#ApisDeleteApiRequest"
      },
      "output": {
        "target": "com.unkey.api#V2ApisDeleteApiResponseBody"
      },
      "errors": [
        {
          "target": "com.unkey.api#BadRequest"
        },
        {
          "target": "com.unkey.api#Forbidden"
        },
        {
          "target": "com.unkey.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/apis.deleteApi",
          "code": 200
        },
        "smithy.api#documentation": "Delete API namespace\n\nPermanently delete an API namespace and immediately invalidate all associated keys.\n\nUse this for cleaning up development environments, retiring deprecated services, or removing unused resources.\nAll keys in the namespace are immediately marked as deleted and will fail verification with `code=NOT_FOUND`.\n\n**Important**: This operation is immediate and permanent. Verify you have the correct API ID before deletion.\nIf delete protection is enabled, disable it first through the dashboard or API configuration.\n\n**Required Permissions**\n\nYour root key must have one of the following permissions:\n- `api.*.delete_api` (to delete any API)\n- `api.<api_id>.delete_api` (to delete a specific API)"
      }
    },
    "com.unkey.api#ApisGetApiRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies which API to retrieve by its unique identifier.\nMust be a valid API ID that begins with 'api_' and exists within your workspace.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.unkey.api#V2ApisGetApiResponseBody": {
      "type": "structure",
      "members": {
        "meta": {
          "target": "com.unkey.api#Meta",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.unkey.api#V2ApisGetApiResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.unkey.api#V2ApisGetApiResponseData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of this API within Unkey's system.\nUsed in all operations related to this API including key creation, verification, and management.\nAlways begins with 'api_' followed by alphanumeric characters and underscores.\nThis identifier is permanent and never changes after API creation.\n",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The internal name of this API as specified during creation.\nUsed for organization and identification within your workspace.\nHelps distinguish between different environments, services, or access tiers.\nNot visible to end users - this is purely for administrative purposes.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.unkey.api#ApisGetApi": {
      "type": "operation",
      "input": {
        "target": "com.unkey.api#ApisGetApiRequest"
      },
      "output": {
        "target": "com.unkey.api#V2ApisGetApiResponseBody"
      },
      "errors": [
        {
          "target": "com.unkey.api#BadRequest"
        },
        {
          "target": "com.unkey.api#Forbidden"
        },
        {
          "target": "com.unkey.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/apis.getApi",
          "code": 200
        },
        "smithy.api#documentation": "Get API namespace\n\nRetrieve basic information about an API namespace including its ID and name.\n\nUse this to verify an API exists before performing operations, get the human-readable name when you only have the API ID, or confirm access to a specific namespace. For detailed key information, use the `listKeys` endpoint instead.\n\n**Required Permissions**\n\nYour root key must have one of the following permissions:\n- `api.*.read_api` (to read any API)\n- `api.<api_id>.read_api` (to read a specific API)"
      }
    },
    "com.unkey.api#ApisListKeysRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API namespace whose keys you want to list.\nReturns all keys in this API, subject to pagination and filters.\n",
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of keys to return per request.\nBalance between response size and number of pagination calls needed.\n"
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination cursor from previous response to fetch next page.\nUse when `hasMore: true` in previous response.\n"
          }
        },
        "externalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter keys by external ID to find keys for a specific user or entity.\nMust exactly match the externalId set during key creation.\n"
          }
        },
        "decrypt": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, attempts to include the plaintext key value in the response. SECURITY WARNING:\n- This requires special permissions on the calling root key\n- Only works for keys created with 'recoverable: true'\n- Exposes sensitive key material in the response\n- Should only be used in secure administrative contexts\n- Never enable this in user-facing applications"
          }
        },
        "revalidateKeysCache": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "EXPERIMENTAL: Skip the cache and fetch the keys directly from the database. This ensures you see the most recent state, including keys created moments ago. Use this when:\n- You've just created a key and need to display it immediately\n- You need absolute certainty about the current key state\n- You're debugging cache consistency issues\n\nThis parameter comes with a performance cost and should be used sparingly."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.unkey.api#V2ApisListKeysResponseBody": {
      "type": "structure",
      "members": {
        "meta": {
          "target": "com.unkey.api#Meta",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.unkey.api#V2ApisListKeysResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.unkey.api#Pagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.unkey.api#V2ApisListKeysResponseData": {
      "type": "list",
      "member": {
        "target": "com.unkey.api#KeyResponseData"
      },
      "traits": {
        "smithy.api#documentation": "Array of API keys with complete configuration and metadata."
      }
    },
    "com.unkey.api#KeyResponseData": {
      "type": "structure",
      "members": {
        "keyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for this key.",
            "smithy.api#required": {}
          }
        },
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "First few characters of the key for identification.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the key is enabled or disabled.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for this key."
          }
        },
        "meta": {
          "target": "com.unkey.api#KeyResponseDataMetaMap",
          "traits": {
            "smithy.api#documentation": "Custom metadata associated with this key."
          }
        },
        "createdAt": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp in milliseconds when key was created.",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp in milliseconds when key was last updated."
          }
        },
        "lastUsedAt": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp in milliseconds when key was last used for verification. This is an approximated value, accurate to within 5 minutes."
          }
        },
        "expires": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp in milliseconds when key expires (if set)."
          }
        },
        "permissions": {
          "target": "com.unkey.api#KeyResponseDataPermissionsList"
        },
        "roles": {
          "target": "com.unkey.api#KeyResponseDataRolesList"
        },
        "credits": {
          "target": "com.unkey.api#KeyCreditsData"
        },
        "identity": {
          "target": "com.unkey.api#Identity"
        },
        "plaintext": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Decrypted key value (only when decrypt=true).",
            "smithy.api#sensitive": {}
          }
        },
        "ratelimits": {
          "target": "com.unkey.api#KeyResponseDataRatelimitsList"
        }
      },
      "traits": {}
    },
    "com.unkey.api#KeyResponseDataMetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Custom metadata associated with this key."
      }
    },
    "com.unkey.api#KeyResponseDataPermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.unkey.api#KeyResponseDataRolesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.unkey.api#KeyCreditsData": {
      "type": "structure",
      "members": {
        "remaining": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of credits remaining (null for unlimited).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "refill": {
          "target": "com.unkey.api#KeyCreditsRefill"
        }
      },
      "traits": {
        "smithy.api#documentation": "Credit configuration and remaining balance for this key."
      }
    },
    "com.unkey.api#KeyCreditsRefill": {
      "type": "structure",
      "members": {
        "interval": {
          "target": "com.unkey.api#KeyCreditsRefillInterval",
          "traits": {
            "smithy.api#documentation": "How often credits are automatically refilled.",
            "smithy.api#required": {}
          }
        },
        "amount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of credits to add during each refill cycle.",
            "smithy.api#required": {}
          }
        },
        "refillDay": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of the month for monthly refills (1-31).\nOnly required when interval is 'monthly'.\nFor days beyond the month's length, refill occurs on the last day of the month.\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for automatic credit refill behavior."
      }
    },
    "com.unkey.api#KeyCreditsRefillInterval": {
      "type": "enum",
      "members": {
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "daily"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "monthly"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How often credits are automatically refilled."
      }
    },
    "com.unkey.api#Identity": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identity ID",
            "smithy.api#required": {}
          }
        },
        "externalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "External identity ID",
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "com.unkey.api#IdentityMetaMap",
          "traits": {
            "smithy.api#documentation": "Identity metadata"
          }
        },
        "ratelimits": {
          "target": "com.unkey.api#IdentityRatelimitsList",
          "traits": {
            "smithy.api#documentation": "Identity ratelimits"
          }
        }
      },
      "traits": {}
    },
    "com.unkey.api#IdentityMetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Identity metadata"
      }
    },
    "com.unkey.api#RatelimitResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for this rate limit configuration.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for this rate limit.",
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum requests allowed within the time window.",
            "smithy.api#required": {}
          }
        },
        "duration": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Rate limit window duration in milliseconds.",
            "smithy.api#required": {}
          }
        },
        "autoApply": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this rate limit was automatically applied when verifying the key.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.unkey.api#IdentityRatelimitsList": {
      "type": "list",
      "member": {
        "target": "com.unkey.api#RatelimitResponse"
      },
      "traits": {
        "smithy.api#documentation": "Identity ratelimits"
      }
    },
    "com.unkey.api#KeyResponseDataRatelimitsList": {
      "type": "list",
      "member": {
        "target": "com.unkey.api#RatelimitResponse"
      },
      "traits": {}
    },
    "com.unkey.api#Pagination": {
      "type": "structure",
      "members": {
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Opaque pagination token for retrieving the next page of results.\nInclude this exact value in the cursor field of subsequent requests.\nCursors are temporary and may expire after extended periods.\n"
          }
        },
        "hasMore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether additional results exist beyond this page.\nWhen true, use the cursor to fetch the next page.\nWhen false, you have reached the end of the result set.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pagination metadata for list endpoints. Provides information necessary to traverse through large result sets efficiently using cursor-based pagination."
      }
    },
    "com.unkey.api#ApisListKeys": {
      "type": "operation",
      "input": {
        "target": "com.unkey.api#ApisListKeysRequest"
      },
      "output": {
        "target": "com.unkey.api#V2ApisListKeysResponseBody"
      },
      "errors": [
        {
          "target": "com.unkey.api#BadRequest"
        },
        {
          "target": "com.unkey.api#Forbidden"
        },
        {
          "target": "com.unkey.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/apis.listKeys",
          "code": 200
        },
        "smithy.api#documentation": "List API keys\n\nRetrieve a paginated list of API keys for dashboard and administrative interfaces.\n\nUse this to build key management dashboards, filter keys by user with `externalId`, or retrieve key details for administrative purposes. Each key includes status, metadata, permissions, and usage limits.\n\n**Important**: Set `decrypt: true` only in secure contexts to retrieve plaintext key values from recoverable keys.\n\n**Required Permissions**\n\nYour root key must have one of the following permissions for basic key listing:\n- `api.*.read_key` (to read keys from any API)\n- `api.<api_id>.read_key` (to read keys from a specific API)\n\nAdditionally, you need read access to the API itself:\n- `api.*.read_api` or `api.<api_id>.read_api`\n\nAdditional permission required for decrypt functionality:\n- `api.*.decrypt_key` or `api.<api_id>.decrypt_key`"
      }
    },
    "com.unkey.api#AppGitCreateInput": {
      "type": "structure",
      "members": {
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GitHub repository to connect, as \"owner/repo\". The workspace must have\nthe Unkey GitHub App installed with access to it.\n",
            "smithy.api#required": {}
          }
        },
        "defaultBranch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The branch this app's deployments track. Omit to adopt the repository's\ndefault branch on GitHub.\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Connect a GitHub repository to the app on creation. Omit to create the app\nwithout a repository and connect one later with apps.updateApp.\n"
      }
    },
    "com.unkey.api#AppsCreateAppRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for this app.\nUse a descriptive name like 'Payments API' to identify its purpose.\n",
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "git": {
          "target": "com.unkey.api#AppGitCreateInput"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.unkey.api#V2AppsCreateAppResponseBody": {
      "type": "structure",
      "members": {
        "meta": {
          "target": "com.unkey.api#Meta",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.unkey.api#V2AppsCreateAppResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.unkey.api#V2AppsCreateAppResponseData": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the newly created app, generated by Unkey.\nAlways begins with 'app_' followed by a unique alphanumeric sequence.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.unkey.api#AppsCreateApp": {
      "type": "operation",
      "input": {
        "target": "com.unkey.api#AppsCreateAppRequest"
      },
      "output": {
        "target": "com.unkey.api#V2AppsCreateAppResponseBody"
      },
      "errors": [
        {
          "target": "com.unkey.api#BadRequest"
        },
        {
          "target": "com.unkey.api#Forbidden"
        },
        {
          "target": "com.unkey.api#NotFound"
        },
        {
          "target": "com.unkey.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/apps.createApp",
          "code": 200
        },
        "smithy.api#documentation": "Create app\n\nCreate an app within a project. The app is created with default `production` and `preview` environments.\n\nThe slug you provide is the stable, caller-defined handle used to reference this app. It must be unique within the project.\n\n**Important**: The slug cannot collide with an existing app in the same project. A duplicate slug returns a 409 conflict.\n\n**Required Permissions**\n\nYour root key must have one of the following permissions:\n- `project.*.create_app` (to create apps in any project)\n- `project.<project_id>.create_app` (to create apps in a specific project)"
      }
    },
    "com.unkey.api#AppsDeleteAppRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "app": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.unkey.api#AppsDeleteApp": {
      "type": "operation",
      "input": {
        "target": "com.unkey.api#AppsDeleteAppRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.unkey.api#BadRequest"
        },
        {
          "target": "com.unkey.api#Forbidden"
        },
        {
          "target": "com.unkey.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/apps.deleteApp",
          "code": 200
        },
        "smithy.api#documentation": "Delete app\n\nDelete an existing app, identified by its id.\n\nDeletion is asynchronous and eventually consistent. The app and all of its associated resources (environments, deployments, custom domains) are torn down by a background workflow. A successful response indicates the deletion was enqueued, not that every resource has already been removed.\n\nApps with delete protection enabled cannot be deleted until protection is disabled.\n\n**Required Permissions**\n\nYour root key must have one of the following permissions:\n- `app.*.delete_app` (to delete any app)\n- `app.<app_id>.delete_app` (to delete a specific app)"
      }
    },
    "com.unkey.api#AppsGetAppRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "app": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.unkey.api#V2AppsGetAppResponseBody": {
      "type": "structure",
      "members": {
        "meta": {
          "target": "com.unkey.api#Meta",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.unkey.api#App",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.unkey.api#App": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the app, generated by Unkey.\n",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for this app.\n",
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL-safe handle for this app, unique within its project.\nChosen at creation time.\n",
            "smithy.api#required": {}
          }
        },
        "git": {
          "target": "com.unkey.api#AppGit",
          "traits": {
            "smithy.api#documentation": "The connected GitHub repository and the branch its deployments track.\nOmitted when the app has no repository connected (for example a\nDocker-based app).\n"
          }
        },
        "currentDeploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the deployment currently serving this app.\nOmitted if the app has no active deployment yet.\n"
          }
        },
        "isRolledBack": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the app is currently serving a rolled-back deployment rather than its latest one.\n",
            "smithy.api#required": {}
          }
        },
        "deleteProtection": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether delete protection is enabled for this app.\nWhen true, the app cannot be deleted until protection is disabled.\n",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp in milliseconds when the app was created.\n",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp in milliseconds when the app was last updated.\nOmitted if the app has never been updated.\n"
          }
        }
      },
      "traits": {}
    },
    "com.unkey.api#AppGit": {
      "type": "structure",
      "members": {
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The connected GitHub repository, as \"owner/repo\".",
            "smithy.api#required": {}
          }
        },
        "defaultBranch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The branch this app's deployments track."
          }
        }
      },
      "traits": {}
    },
    "com.unkey.api#AppsGetApp": {
      "type": "operation",
      "input": {
        "target": "com.unkey.api#AppsGetAppRequest"
      },
      "output": {
        "target": "com.unkey.api#V2AppsGetAppResponseBody"
      },
      "errors": [
        {
          "target": "com.unkey.api#BadRequest"
        },
        {
          "target": "com.unkey.api#Forbidden"
        },
        {
          "target": "com.unkey.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/apps.getApp",
          "code": 200
        },
        "smithy.api#documentation": "Get app\n\nRetrieve a single app by its id or slug within a project.\n\nUse this to fetch app details after creation or to verify an app exists before performing operations.\n\n**Required Permissions**\n\nYour root key must have one of the following permissions:\n- `app.*.read_app` (to read any app)\n- `app.<app_id>.read_app` (to read a specific app)"
      }
    },
    "com.unkey.api#AppsListAppsRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of apps to return per request.\nBalance between response size and number of pagination calls needed.\n"
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination cursor from a previous response to fetch the next page.\nUse when `hasMore: true` in the previous response.\n"
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-form text to filter apps. Returns apps whose ID, name, or slug contains the search string. Matching is case-insensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.unkey.api#V2AppsListAppsResponseBody": {
      "type": "structure",
      "members": {
        "meta": {
          "target": "com.unkey.api#Meta",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.unkey.api#V2AppsListAppsResponseBodyDataList",
          "traits": {
            "smithy.api#documentation": "Array of apps in the project, ordered by app id.",
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.unkey.api#Pagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.unkey.api#V2AppsListAppsResponseBodyDataList": {
      "type": "list",
      "member": {
        "target": "com.unkey.api#App"
      },
      "traits": {
        "smithy.api#documentation": "Array of apps in the project, ordered by app id."
      }
    },
    "com.unkey.api#AppsListApps": {
      "type": "operation",
      "input": {
        "target": "com.unkey.api#AppsListAppsRequest"
      },
      "output": {
        "target": "com.unkey.api#V2AppsListAppsResponseBody"
      },
      "errors": [
        {
          "target": "com.unkey.api#BadRequest"
        },
        {
          "target": "com.unkey.api#Forbidden"
        },
        {
          "target": "com.unkey.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/apps.listApps",
          "code": 200
        },
        "smithy.api#documentation": "List apps\n\nRetrieve a paginated list of apps within a project.\n\nUse this to enumerate every app in a project. Results are ordered by app id and paginated; when `hasMore` is true, pass the returned `cursor` to fetch the next page.\n\n**Required Permissions**\n\nYour root key must have the following permission:\n- `app.*.read_app` (to read apps in any project)"
      }
    },
    "com.unkey.api#AppGitUpdateInput": {
      "type": "structure",
      "members": {
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GitHub repository to connect, as \"owner/repo\". Omit to change only the\ntracked branch of the already-connected repository. The workspace must have\nthe Unkey GitHub App installed with access to it.\n"
          }
        },
        "defaultBranch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The branch this app's deployments track. Omit to adopt the repository's\nGitHub default branch on a new connection, keep the current branch when\nreplacing an already-connected repository, or set it alone to retarget the\nbranch of the connected repository.\n"
          }
        }
      },
      "traits": {}
    },
    "com.unkey.api#AppsUpdateAppRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "app": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New human-readable name for the app.\nOmit this field to leave the current name unchanged.\n"
          }
        },
        "slug": {
          "target": "smithy.api#String"
        },
        "git": {
          "target": "com.unkey.api#AppGitUpdateInput",
          "traits": {
            "smithy.api#documentation": "Connect, reconfigure, or disconnect this app's GitHub repository.\nOmit to leave unchanged, set null to disconnect, or set an object with a\n\"repository\" to connect or replace it and/or a \"defaultBranch\" to set which\nbranch it tracks. Fields are independent, so send only the one you change.\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "deleteProtection": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable or disable delete protection for the app.\nOmit this field to leave the current setting unchanged.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.unkey.api#V2AppsUpdateAppResponseBody": {
      "type": "structure",
      "members": {
        "meta": {
          "target": "com.unkey.api#Meta",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.unkey.api#App",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.unkey.api#AppsUpdateApp": {
      "type": "operation",
      "input": {
        "target": "com.unkey.api#AppsUpdateAppRequest"
      },
      "output": {
        "target": "com.unkey.api#V2AppsUpdateAppResponseBody"
      },
      "errors": [
        {
          "target": "com.unkey.api#BadRequest"
        },
        {
          "target": "com.unkey.api#Forbidden"
        },
        {
          "target": "com.unkey.api#NotFound"
        },
        {
          "target": "com.unkey.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/apps.updateApp",
          "code": 200
        },
        "smithy.api#documentation": "Update app\n\nUpdate an existing app, identified by its id.\n\nThe app name, slug, default branch, and delete protection setting can be changed. Omitted fields are left unchanged. Changing the slug affects the deployment domains generated for this app.\n\n**Important**: The slug cannot collide with an existing app in the same project. A duplicate slug returns a 409 conflict.\n\n**Required Permissions**\n\nYour root key must have one of the following permissions:\n- `app.*.update_app` (to update any app)\n- `app.<app_id>.update_app` (to update a specific app)"
      }
    },
    "com.unkey.api#DeploymentSourceGit": {
      "type": "structure",
      "members": {
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Branch to build (its HEAD). Omit branch and commitSha to use the app's default branch."
          }
        },
        "commitSha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Commit to build (full or abbreviated SHA). Takes precedence over branch."
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Build from a fork instead of the app's connected repository, as \"owner/repo\". Requires commitSha."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Build from the app's connected GitHub repository."
      }
    },
    "com.unkey.api#DeploymentSourceImage": {
      "type": "structure",
      "members": {
        "dockerImage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Docker image to deploy as-is.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deploy a prebuilt Docker image as-is."
      }
    },
    "com.unkey.api#DeploymentSourceDeployment": {
      "type": "structure",
      "members": {
        "deploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Re-run an existing deployment."
      }
    },
    "com.unkey.api#DeploymentsCreateDeploymentRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "app": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "git": {
          "target": "com.unkey.api#DeploymentSourceGit"
        },
        "image": {
          "target": "com.unkey.api#DeploymentSourceImage"
        },
        "deployment": {
          "target": "com.unkey.api#DeploymentSourceDeployment"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.unkey.api#V2DeploymentsCreateDeploymentResponseBody": {
      "type": "structure",
      "members": {
        "meta": {
          "target": "com.unkey.api#Meta",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.unkey.api#V2DeploymentsCreateDeploymentResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.unkey.api#V2DeploymentsCreateDeploymentResponseData": {
      "type": "structure",
      "members": {
        "deploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique deployment identifier. Poll deployments.getDeployment with this id to watch status.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.unkey.api#DeploymentsCreateDeployment": {
      "type": "operation",
      "input": {
        "target": "com.unkey.api#DeploymentsCreateDeploymentRequest"
      },
      "output": {
        "target": "com.unkey.api#V2DeploymentsCreateDeploymentResponseBody"
      },
      "errors": [
        {
          "target": "com.unkey.api#BadRequest"
        },
        {
          "target": "com.unkey.api#Forbidden"
        },
        {
          "target": "com.unkey.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/deployments.createDeployment",
          "code": 200
        },
        "smithy.api#documentation": "Create deployment\n\nCreate a deployment for an app in a project.\n\nProvide exactly one source:\n- `image`: deploy a prebuilt Docker image as-is (no build).\n- `git`: build and deploy from the app's connected GitHub repository, a branch, a specific commit, or a fork commit. Requires the app to have a repository connected.\n- `deployment`: re-run an existing deployment by its id. Git-connected apps rebuild from the recorded commit; other apps reuse the recorded image.\n\nReturns immediately with a `deploymentId`. The build and rollout run asynchronously — poll `deployments.getDeployment` to watch status until it is ready.\n\n**Authentication**: requires a root key with permission to create deployments."
      }
    },
    "com.unkey.api#DeploymentsGetDeploymentRequest": {
      "type": "structure",
      "members": {
        "deploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.unkey.api#V2DeploymentsGetDeploymentResponseBody": {
      "type": "structure",
      "members": {
        "meta": {
          "target": "com.unkey.api#Meta",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.unkey.api#Deployment",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.unkey.api#Deployment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the deployment, generated by Unkey.\n",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.unkey.api#DeploymentStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isCurrent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when this is the production deployment currently serving traffic, i.e.\non api.acme.com. Only production deployments can be current, and at most one\ndeployment is current. Rollbacks and promotions change which deployment is\ncurrent and serves requests to api.acme.com.\n",
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slug of the environment this deployment belongs to.",
            "smithy.api#required": {}
          }
        },
        "app": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slug of the app this deployment belongs to.",
            "smithy.api#required": {}
          }
        },
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slug of the project this deployment belongs to.",
            "smithy.api#required": {}
          }
        },
        "git": {
          "target": "com.unkey.api#DeploymentGit",
          "traits": {
            "smithy.api#documentation": "Present for git-sourced deployments. Mutually exclusive with `docker`.\n"
          }
        },
        "docker": {
          "target": "com.unkey.api#DeploymentDocker",
          "traits": {
            "smithy.api#documentation": "Present for image-sourced deployments. Mutually exclusive with `git`.\n"
          }
        },
        "availableActions": {
          "target": "com.unkey.api#DeploymentAvailableActionsList",
          "traits": {
            "smithy.api#documentation": "Lifecycle operations you are allowed to call on this deployment right now.\nEmpty when none apply (e.g. while building or in a terminal state).\n",
            "smithy.api#required": {}
          }
        },
        "regions": {
          "target": "com.unkey.api#DeploymentRegionsList",
          "traits": {
            "smithy.api#documentation": "Regions this deployment is configured to run in. Empty while the deployment\nhas no scheduled regions yet.\n",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.unkey.api#DeploymentError",
          "traits": {
            "smithy.api#documentation": "Why the deployment failed. Present only when `status` is `failed`.\n"
          }
        },
        "domains": {
          "target": "com.unkey.api#DeploymentDomainsList",
          "traits": {
            "smithy.api#documentation": "Public hostnames this deployment is reachable at.\n"
          }
        },
        "runtime": {
          "target": "com.unkey.api#DeploymentRuntime",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp in milliseconds when the deployment was created.\n",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp in milliseconds when the deployment was last updated.\nOmitted if the deployment has never been updated.\n"
          }
        }
      },
      "traits": {}
    },
    "com.unkey.api#DeploymentStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "STARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "starting"
          }
        },
        "BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "building"
          }
        },
        "DEPLOYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deploying"
          }
        },
        "NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "network"
          }
        },
        "FINALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "finalizing"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skipped"
          }
        },
        "AWAITING_APPROVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "awaiting_approval"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopped"
          }
        },
        "SUPERSEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "superseded"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current lifecycle status of the deployment. Poll until it reaches a\nterminal state: ready (serving), failed, skipped, superseded, stopped,\nor cancelled.\n"
      }
    },
    "com.unkey.api#DeploymentGit": {
      "type": "structure",
      "members": {
        "commitSha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The git commit SHA this deployment was built from.",
            "smithy.api#required": {}
          }
        },
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The git branch this deployment was built from. Omitted when unknown."
          }
        }
      },
      "traits": {}
    },
    "com.unkey.api#DeploymentDocker": {
      "type": "structure",
      "members": {
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Docker image this deployment runs.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.unkey.api#DeploymentAction": {
      "type": "enum",
      "members": {
        "PROMOTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "promote"
          }
        },
        "ROLLBACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rollback"
          }
        },
        "STOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stop"
          }
        },
        "START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "start"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A lifecycle operation that can be performed on the deployment in its current\nstate, given its status, environment, and whether it is the current\ndeployment.\n"
      }
    },
    "com.unkey.api#DeploymentAvailableActionsList": {
      "type": "list",
      "member": {
        "target": "com.unkey.api#DeploymentAction"
      },
      "traits": {
        "smithy.api#documentation": "Lifecycle operations you are allowed to call on this deployment right now.\nEmpty when none apply (e.g. while building or in a terminal state).\n"
      }
    },
    "com.unkey.api#DeploymentRegionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Regions this deployment is configured to run in. Empty while the deployment\nhas no scheduled regions yet.\n"
      }
    },
    "com.unkey.api#DeploymentError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.unkey.api#DeploymentErrorCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "step": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pipeline step that failed (e.g. `building`, `deploying`, `starting`).\n",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable description of why the deployment failed. For programmatic\nhandling, use `code`.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.unkey.api#DeploymentErrorCode": {
      "type": "enum",
      "members": {
        "NO_SCHEDULABLE_REGIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_schedulable_regions"
          }
        },
        "INVALID_RUNTIME_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invalid_runtime_settings"
          }
        },
        "CPU_QUOTA_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpu_quota_exceeded"
          }
        },
        "MEMORY_QUOTA_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "memory_quota_exceeded"
          }
        },
        "STORAGE_QUOTA_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "storage_quota_exceeded"
          }
        },
        "BUILD_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "build_failed"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The reason a deployment failed. `unknown` means Unkey could not classify the\nfailure; see `message` for details.\n"
      }
    },
    "com.unkey.api#DeploymentDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Public hostnames this deployment is reachable at.\n"
      }
    },
    "com.unkey.api#DeploymentRuntime": {
      "type": "structure",
      "members": {
        "vCpus": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "CPU allocation in vCPUs (1 = one vCPU, 0.5 = half a vCPU).\n",
            "smithy.api#required": {}
          }
        },
        "memoryMib": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Memory allocation in mebibytes.\n",
            "smithy.api#required": {}
          }
        },
        "storageMib": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Ephemeral storage allocation in mebibytes.\n",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port the container listens on.\n",
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "com.unkey.api#DeploymentRuntimeCommandList",
          "traits": {
            "smithy.api#documentation": "Container entrypoint command override. Empty when none is set.\n",
            "smithy.api#required": {}
          }
        },
        "shutdownSignal": {
          "target": "com.unkey.api#EnvironmentShutdownSignal",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "upstreamProtocol": {
          "target": "com.unkey.api#EnvironmentUpstreamProtocol",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "healthcheck": {
          "target": "com.unkey.api#EnvironmentHealthcheck",
          "traits": {
            "smithy.api#documentation": "HTTP health probe configuration. Omitted when no healthcheck is configured.\n"
          }
        }
      },
      "traits": {}
    },
    "com.unkey.api#DeploymentRuntimeCommandList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Container entrypoint command override. Empty when none is set.\n"
      }
    },
    "com.unkey.api#EnvironmentShutdownSignal": {
      "type": "enum",
      "members": {
        "SIGTERM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGTERM"
          }
        },
        "SIGINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGINT"
          }
        },
        "SIGQUIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGQUIT"
          }
        },
        "SIGKILL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGKILL"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Signal sent to the container on shutdown.\n"
      }
    },
    "com.unkey.api#EnvironmentUpstreamProtocol": {
      "type": "enum",
      "members": {
        "HTTP1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http1"
          }
        },
        "H2C": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h2c"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Protocol used to reach the container.\n"
      }
    },
    "com.unkey.api#EnvironmentHealthcheck": {
      "type": "structure",
      "members": {
        "method": {
          "target": "com.unkey.api#EnvironmentHealthcheckMethod",
          "traits": {
            "smithy.api#documentation": "HTTP method used to probe the container.\n",
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP path probed on the container. Must start with a slash.\n",
            "smithy.api#required": {}
          }
        },
        "intervalSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How often the probe runs, in seconds. Defaults to 10 when omitted.\n"
          }
        },
        "timeoutSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Per-probe timeout, in seconds. Defaults to 5 when omitted.\n"
          }
        },
        "failureThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Consecutive failures before the container is restarted. Defaults to 3 when omitted.\n"
          }
        },
        "initialDelaySeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Delay before the first probe runs, in seconds. Defaults to 0 when omitted.\n"
          }
        }
      },
      "traits": {}
    },
    "com.unkey.api#EnvironmentHealthcheckMethod": {
      "type": "enum",
      "members": {
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "HTTP method used to probe the container.\n"
      }
    },
    "com.unkey.api#DeploymentsGetDeployment": {
      "type": "operation",
      "input": {
        "target": "com.unkey.api#DeploymentsGetDeploymentRequest"
      },
      "output": {
        "target": "com.unkey.api#V2DeploymentsGetDeploymentResponseBody"
      },
      "errors": [
        {
          "target": "com.unkey.api#BadRequest"
        },
        {
          "target": "com.unkey.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/deployments.getDeployment",
          "code": 200
        },
        "smithy.api#documentation": "Get deployment\n\nRetrieve a single deployment by its id.\n\nUse this to check a deployment's status after creating it, or to inspect the\nruntime configuration of an existing deployment.\n\n**Required Permissions**\n\nYour root key must have one of the following permissions:\n- `environment.*.read_deployment` (to read deployments in any environment)\n- `environment.<environment_id>.read_deployment` (to read deployments in a specific environment)"
      }
    },
    "com.unkey.api#DeploymentsListDeploymentsRequestStatusList": {
      "type": "list",
      "member": {
        "target": "com.unkey.api#DeploymentStatus"
      },
      "traits": {
        "smithy.api#documentation": "Restrict results to deployments in any of the given lifecycle statuses.\nOmit to return deployments in every status.\n"
      }
    },
    "com.unkey.api#DeploymentsListDeploymentsRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Restrict results to a single project, identified by its ID or slug.\nRequired when filtering by `app` or `environment`.\n"
          }
        },
        "app": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Restrict results to a single app, identified by its ID or slug.\nRequires `project` to also be set.\n"
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Restrict results to a single environment, identified by its ID or slug.\nRequires `project` and `app` to also be set.\n"
          }
        },
        "status": {
          "target": "com.unkey.api#DeploymentsListDeploymentsRequestStatusList",
          "traits": {
            "smithy.api#documentation": "Restrict results to deployments in any of the given lifecycle statuses.\nOmit to return deployments in every status.\n"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of deployments to return per request.\nBalance between response size and number of pagination calls needed.\n"
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination cursor from a previous response to fetch the next page.\nUse when `hasMore: true` in the previous response.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.unkey.api#V2DeploymentsListDeploymentsResponseBody": {
      "type": "structure",
      "members": {
        "meta": {
          "target": "com.unkey.api#Meta",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.unkey.api#V2DeploymentsListDeploymentsResponseBodyDataList",
          "traits": {
            "smithy.api#documentation": "Array of deployments, ordered newest first.",
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.unkey.api#Pagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.unkey.api#V2DeploymentsListDeploymentsResponseBodyDataList": {
      "type": "list",
      "member": {
        "target": "com.unkey.api#Deployment"
      },
      "traits": {
        "smithy.api#documentation": "Array of deployments, ordered newest first."
      }
    },
    "com.unkey.api#DeploymentsListDeployments": {
      "type": "operation",
      "input": {
        "target": "com.unkey.api#DeploymentsListDeploymentsRequest"
      },
      "output": {
        "target": "com.unkey.api#V2DeploymentsListDeploymentsResponseBody"
      },
      "errors": [
        {
          "target": "com.unkey.api#BadRequest"
        },
        {
          "target": "com.unkey.api#Forbidden"
        },
        {
          "target": "com.unkey.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/deployments.listDeployments",
          "code": 200
        },
        "smithy.api#documentation": "List deployments\n\nRetrieve a paginated list of deployments within a workspace, newest first.\n\nFilter by project, app, environment, and lifecycle status. All filters are\noptional; with none set, every deployment in the workspace is returned.\nFilters nest: `app` requires `project`, and `environment` requires both\n`project` and `app`. Results are paginated; when `hasMore` is true, pass the\nreturned `cursor` to fetch the next page.\n\n**Required Permissions**\n\nYour root key must have the `environment.*.read_deployment` permission.\nListing spans environments, so a grant on a single environment is not\nsufficient."
      }
    },
    "com.unkey.api#DeploymentsPromoteDeploymentRequest": {
      "type": "structure",
      "members": {
        "deploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.unkey.api#DeploymentsPromoteDeployment": {
      "type": "operation",
      "input": {
        "target": "com.unkey.api#DeploymentsPromoteDeploymentRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.unkey.api#BadRequest"
        },
        {
          "target": "com.unkey.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/deployments.promoteDeployment",
          "code": 200
        },
        "smithy.api#documentation": "Promote deployment\n\nPromote a deployment to become the current deployment for its environment.\nAll sticky domains are reassigned from the current deployment to the\npromoted one, and the previous deployment is scheduled for standby.\n\nThe deployment must be ready, not already shutting down, belong to the\nproduction environment, and its app must already have a current deployment.\nPromoting the deployment that is already current fails, unless the app is in\na rolled-back state, in which case promoting the current deployment\nconfirms the rollback and re-enables automatic promotion of future\ndeployments.\n\nPromotion runs as a durable workflow: this endpoint returns once the\npromotion is accepted. Poll `getDeployment` or `listDeployments` to observe\nthe result.\n\n**Required Permissions**\n\nYour root key must have one of the following permissions:\n- `environment.*.promote_deployment` (to promote deployments in any environment)\n- `environment.<environment_id>.promote_deployment` (to promote deployments in a specific environment)"
      }
    },
    "com.unkey.api#DeploymentsRollbackDeploymentRequest": {
      "type": "structure",
      "members": {
        "deploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The deployment to roll back TO. Its app's current deployment is used\nas the rollback source automatically.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.unkey.api#DeploymentsRollbackDeployment": {
      "type": "operation",
      "input": {
        "target": "com.unkey.api#DeploymentsRollbackDeploymentRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.unkey.api#BadRequest"
        },
        {
          "target": "com.unkey.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/deployments.rollbackDeployment",
          "code": 200
        },
        "smithy.api#documentation": "Rollback deployment\n\nRoll live traffic back to a previous deployment. `deploymentId` is the\ndeployment to roll back TO; the app's current deployment is used as\nthe rollback source automatically.\n\nThe target deployment must be ready, not already shutting down, belong to\nthe production environment, and must not itself be the current deployment.\n\nAfter a rollback the app is marked as rolled back, which prevents new\ndeployments from automatically taking over live traffic. Promote the\nrolled-back deployment (or a newer one) to clear this state.\n\nRollback runs as a durable workflow: this endpoint returns once the\nrollback is accepted. Poll `getDeployment` or `listDeployments` to observe\nthe result.\n\n**Required Permissions**\n\nYour root key must have one of the following permissions:\n- `environment.*.rollback_deployment` (to roll back deployments in any environment)\n- `environment.<environment_id>.rollback_deployment` (to roll back deployments in a specific environment)"
      }
    },
    "com.unkey.api#DeploymentsStartDeploymentRequest": {
      "type": "structure",
      "members": {
        "deploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The stopped deployment to start.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.unkey.api#DeploymentsStartDeployment": {
      "type": "operation",
      "input": {
        "target": "com.unkey.api#DeploymentsStartDeploymentRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.unkey.api#BadRequest"
        },
        {
          "target": "com.unkey.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/deployments.startDeployment",
          "code": 200
        },
        "smithy.api#documentation": "Start deployment\n\nStart a deployment that was previously stopped with `stopDeployment`, so it\nserves traffic again. The deployment keeps the configuration it had when it\nwas stopped; nothing is rebuilt or redeployed.\n\nThe deployment must currently be stopped, and must belong to a\nnon-production environment. Production deployments are never stopped, so\nthey cannot be started.\n\nStarting is asynchronous: this endpoint only enqueues the start and returns\nimmediately. Poll `getDeployment` until the status reaches `ready`.\n\n**Required Permissions**\n\nYour root key must have one of the following permissions:\n- `environment.*.start_deployment` (to start deployments in any environment)\n- `environment.<environment_id>.start_deployment` (to start deployments in a specific environment)"
      }
    },
    "com.unkey.api#DeploymentsStopDeploymentRequest": {
      "type": "structure",
      "members": {
        "deploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.unkey.api#DeploymentsStopDeployment": {
      "type": "operation",
      "input": {
        "target": "com.unkey.api#DeploymentsStopDeploymentRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.unkey.api#BadRequest"
        },
        {
          "target": "com.unkey.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/deployments.stopDeployment",
          "code": 200
        },
        "smithy.api#documentation": "Stop deployment\n\nStop a running preview deployment. Stopped deployments keep their\nconfiguration and can be resumed later with `startDeployment`.\n\nThe deployment must be ready and running, and must belong to a\nnon-production environment; production deployments cannot be stopped.\nA deployment that is already draining from a previous stop is rejected\nwith a precondition error.\n\nStopping is asynchronous: this endpoint only enqueues the stop and returns\nimmediately. Poll `getDeployment` until the status reaches `stopped`.\n\n**Required Permissions**\n\nYour root key must have one of the following permissions:\n- `environment.*.stop_deployment` (to stop deployments in any environment)\n- `environment.<environment_id>.stop_deployment` (to stop deployments in a specific environment)"
      }
    },
    "com.unkey.api#DomainsCreateDomainRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "app": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified domain name to attach to the environment, without a scheme, port, or path.\nMust be unique across your entire workspace: the same name cannot be attached to two environments.\n\nThe name must sit under a registrable domain: 'api.acme.co.uk' is accepted, the public suffix\n'co.uk' itself is not. Internationalized names may be sent in Unicode or Punycode form; either\nway the domain is stored and returned in its canonical form, lowercase ASCII with Unicode labels\nPunycode encoded, and the DNS records in the response use that form.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.unkey.api#V2DomainsCreateDomainResponseBody": {
      "type": "structure",
      "members": {
        "meta": {
          "target": "com.unkey.api#Meta",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.unkey.api#V2DomainsCreateDomainResponseData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.unkey.api#V2DomainsCreateDomainResponseData": {
      "type": "structure",
      "members": {
        "domainId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dnsRecords": {
          "target": "com.unkey.api#V2DomainsCreateDomainResponseDataDnsRecordsList",
          "traits": {
            "smithy.api#documentation": "Every DNS record needed to finish setting up this domain, ready to create at your provider.\nThe list already accounts for whether the domain is an apex or a subdomain, so no further\nbranching is needed: create each entry as given.\n\nOne record establishes routing and one proves ownership. Create all of them: whether ownership\ncan be inferred from the routing record depends on how your provider publishes it, and a name\nanother workspace has already verified can only be claimed through the ownership record.\nNeither is knowable before the records exist.\n",
            "smithy.api#required": {}
          }
        },
        "domainConnect": {
          "target": "com.unkey.api#DomainConnect"
        }
      },
      "traits": {}
    },
    "com.unkey.api#DnsRecord": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.unkey.api#DnsRecordType",
          "traits": {
            "smithy.api#documentation": "Record type to create. `ALIAS` is not a real DNS record type: it means an apex-compatible\nalias, which providers expose as ALIAS, ANAME, or a flattened CNAME. Apex domains cannot\nhold a plain CNAME, so they receive `ALIAS` where a subdomain receives `CNAME`.\n",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified name of the record, ready to use as-is.\n\nSome providers want a name relative to the zone instead. Drop the zone and its trailing dot:\nin zone `acme.com`, `api.acme.com` becomes `api` and `_unkey.api.acme.com` becomes\n`_unkey.api`. A name equal to the zone itself is usually entered as `@`.\n",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value to set on the record, exactly as given, including any prefix.\nDo not trim or reformat it: verification compares the published record against this string.\n\nUse the lowest TTL your provider allows until the domain is verified. Verification polls DNS,\nso a long TTL keeps a stale value cached and can burn the verification window on a value you\nhave already corrected. Raise it afterwards if you want.\n",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds a resolver may cache this record. Set it in your provider alongside the record's\nname and value.\n",
            "smithy.api#required": {}
          }
        },
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Unkey has read this record back with the expected value. Use it to see which\nrecords are still outstanding.\n\nFalse does not always mean the record is missing. A provider that does not expose the\npublished value to a DNS lookup, such as a proxied or flattened routing record, leaves\nthis false for as long as it serves traffic; such a domain verifies through its TXT\nrecord instead. Always false on a domain no check has run against yet.\n",
            "smithy.api#required": {}
          }
        },
        "note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What this record is for and any provider-specific caveat that applies to it.\nWorth surfacing to whoever edits the DNS zone. Treat it as optional: it carries\nno data the record itself needs, so a future record type may omit it.\n"
          }
        }
      },
      "traits": {}
    },
    "com.unkey.api#DnsRecordType": {
      "type": "enum",
      "members": {
        "CNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNAME"
          }
        },
        "ALIAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIAS"
          }
        },
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TXT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Record type to create. `ALIAS` is not a real DNS record type: it means an apex-compatible\nalias, which providers expose as ALIAS, ANAME, or a flattened CNAME. Apex domains cannot\nhold a plain CNAME, so they receive `ALIAS` where a subdomain receives `CNAME`.\n"
      }
    },
    "com.unkey.api#V2DomainsCreateDomainResponseDataDnsRecordsList": {
      "type": "list",
      "member": {
        "target": "com.unkey.api#DnsRecord"
      },
      "traits": {
        "smithy.api#documentation": "Every DNS record needed to finish setting up this domain, ready to create at your provider.\nThe list already accounts for whether the domain is an apex or a subdomain, so no further\nbranching is needed: create each entry as given.\n\nOne record establishes routing and one proves ownership. Create all of them: whether ownership\ncan be inferred from the routing record depends on how your provider publishes it, and a name\nanother workspace has already verified can only be claimed through the ownership record.\nNeither is knowable before the records exist.\n"
      }
    },
    "com.unkey.api#DomainConnect": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the DNS provider the domain is delegated to, such as 'Cloudflare'. Discovered\nfrom the domain's nameservers, so it reflects where DNS is actually hosted rather than where the\ndomain was registered.\n",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
[...]
