{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.chronosphere.api#ListBucketsRequestSlugsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.chronosphere.api#ListBucketsRequestNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.chronosphere.api#ListBucketsRequest": {
      "type": "structure",
      "members": {
        "page_max_size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page.max_size",
            "smithy.api#documentation": "Page size preference (i.e. how many items are returned in the next\npage). If zero, the server will use a default. Regardless of what size\nis given, clients must never assume how many items will be returned."
          }
        },
        "page_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "page.token",
            "smithy.api#documentation": "Opaque page token identifying which page to request. An empty token\nidentifies the first page."
          }
        },
        "slugs": {
          "target": "com.chronosphere.api#ListBucketsRequestSlugsList",
          "traits": {
            "smithy.api#httpQuery": "slugs",
            "smithy.api#documentation": "Filters results by slug, where any Bucket with a matching slug in the given list (and matches all other filters) is returned."
          }
        },
        "names": {
          "target": "com.chronosphere.api#ListBucketsRequestNamesList",
          "traits": {
            "smithy.api#httpQuery": "names",
            "smithy.api#documentation": "Filters results by name, where any Bucket with a matching name in the given list (and matches all other filters) is returned."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.chronosphere.api#Configv1ListBucketsResponse": {
      "type": "structure",
      "members": {
        "page": {
          "target": "com.chronosphere.api#Configv1PageResult"
        },
        "buckets": {
          "target": "com.chronosphere.api#Configv1ListBucketsResponseBucketsList"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#Configv1PageResult": {
      "type": "structure",
      "members": {
        "next_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Opaque page token which identifies the next page of items which the\nclient should request. An empty next_token indicates that there are no\nmore items to return."
          }
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#Configv1Bucket": {
      "type": "structure",
      "members": {
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the Bucket. If a `slug` isn't provided, one will be generated based of the `name` field. You can't modify this field after the Bucket is created."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the Bucket. You can modify this value after the Bucket is created."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of when the Bucket was created. Cannot be set by clients."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of when the Bucket was last updated. Cannot be set by clients."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the bucket."
          }
        },
        "labels": {
          "target": "com.chronosphere.api#Configv1BucketLabelsMap",
          "traits": {
            "smithy.api#documentation": "Optional labels marking the bucket."
          }
        },
        "team_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional slug of the team the bucket belongs to."
          }
        },
        "notification_policy_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slug of the notification policy used by default for monitors in this bucket.\nThis is optional if the bucket does not contain monitors or all of its monitors explicitly reference a policy.\nThis policy takes precedence over a bucket-owned notification policy.\nThis does not override the policy used when a monitor explicitly references a policy."
          }
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#Configv1BucketLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Optional labels marking the bucket."
      }
    },
    "com.chronosphere.api#Configv1ListBucketsResponseBucketsList": {
      "type": "list",
      "member": {
        "target": "com.chronosphere.api#Configv1Bucket"
      },
      "traits": {}
    },
    "com.chronosphere.api#ListBuckets": {
      "type": "operation",
      "input": {
        "target": "com.chronosphere.api#ListBucketsRequest"
      },
      "output": {
        "target": "com.chronosphere.api#Configv1ListBucketsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/config/buckets",
          "code": 200
        },
        "smithy.api#paginated": {
          "mode": "cursor",
          "inputToken": "page_token",
          "outputToken": "page.next_token",
          "items": "buckets",
          "pageSize": "page_max_size"
        }
      }
    },
    "com.chronosphere.api#Configv1BucketInput": {
      "type": "structure",
      "members": {
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the Bucket. If a `slug` isn't provided, one will be generated based of the `name` field. You can't modify this field after the Bucket is created."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the Bucket. You can modify this value after the Bucket is created."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the bucket."
          }
        },
        "labels": {
          "target": "com.chronosphere.api#Configv1BucketInputLabelsMap",
          "traits": {
            "smithy.api#documentation": "Optional labels marking the bucket."
          }
        },
        "team_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional slug of the team the bucket belongs to."
          }
        },
        "notification_policy_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slug of the notification policy used by default for monitors in this bucket.\nThis is optional if the bucket does not contain monitors or all of its monitors explicitly reference a policy.\nThis policy takes precedence over a bucket-owned notification policy.\nThis does not override the policy used when a monitor explicitly references a policy."
          }
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#Configv1BucketInputLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Optional labels marking the bucket."
      }
    },
    "com.chronosphere.api#CreateBucketRequest": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "com.chronosphere.api#Configv1BucketInput"
        },
        "dry_run": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the Bucket isn't created, and no response Bucket will be returned. The response will return an error if the given Bucket is invalid."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.chronosphere.api#Configv1CreateBucketResponse": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "com.chronosphere.api#Configv1Bucket"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#CreateBucket": {
      "type": "operation",
      "input": {
        "target": "com.chronosphere.api#CreateBucketRequest"
      },
      "output": {
        "target": "com.chronosphere.api#Configv1CreateBucketResponse"
      },
      "errors": [
        {
          "target": "com.chronosphere.api#BadRequest"
        },
        {
          "target": "com.chronosphere.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/config/buckets",
          "code": 200
        }
      }
    },
    "com.chronosphere.api#ReadBucketRequest": {
      "type": "structure",
      "members": {
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.chronosphere.api#Configv1ReadBucketResponse": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "com.chronosphere.api#Configv1Bucket"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#ReadBucket": {
      "type": "operation",
      "input": {
        "target": "com.chronosphere.api#ReadBucketRequest"
      },
      "output": {
        "target": "com.chronosphere.api#Configv1ReadBucketResponse"
      },
      "errors": [
        {
          "target": "com.chronosphere.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/config/buckets/{slug}",
          "code": 200
        }
      }
    },
    "com.chronosphere.api#UpdateBucketRequest": {
      "type": "structure",
      "members": {
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "bucket": {
          "target": "com.chronosphere.api#Configv1BucketInput"
        },
        "create_if_missing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the Bucket will be created if it does not already exist, identified by slug. If false, an error will be returned if the Bucket does not already exist."
          }
        },
        "dry_run": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the Bucket isn't created or updated, and no response Bucket will be returned. The response will return an error if the given Bucket is invalid."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.chronosphere.api#Configv1UpdateBucketResponse": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "com.chronosphere.api#Configv1Bucket"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#UpdateBucket": {
      "type": "operation",
      "input": {
        "target": "com.chronosphere.api#UpdateBucketRequest"
      },
      "output": {
        "target": "com.chronosphere.api#Configv1UpdateBucketResponse"
      },
      "errors": [
        {
          "target": "com.chronosphere.api#BadRequest"
        },
        {
          "target": "com.chronosphere.api#NotFound"
        },
        {
          "target": "com.chronosphere.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/v1/config/buckets/{slug}",
          "code": 200
        }
      }
    },
    "com.chronosphere.api#DeleteBucketRequest": {
      "type": "structure",
      "members": {
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "force_delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "force_delete",
            "smithy.api#documentation": "force_delete indicates deletion of the bucket and all resources that reference the bucket.\nThis includes monitors, dashboards, notification policies, recording rules, and alerts."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.chronosphere.api#Configv1DeleteBucketResponse": {
      "type": "structure",
      "members": {
        "changes": {
          "target": "com.chronosphere.api#Configv1DeleteBucketResponseChangesList",
          "traits": {
            "smithy.api#documentation": "Changes contains what resources are deleted. The bucket being deleted will\nalways be included. When force_delete is used, the changelog will include\nall resources that reference the bucket that were deleted."
          }
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#ResourceChange": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "com.chronosphere.api#Configv1ResourceType"
        },
        "slug": {
          "target": "smithy.api#String"
        },
        "action": {
          "target": "com.chronosphere.api#ResourceChangeAction"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#Configv1ResourceType": {
      "type": "enum",
      "members": {
        "BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUCKET"
          }
        },
        "DASHBOARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DASHBOARD"
          }
        },
        "GRAFANA_DASHBOARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRAFANA_DASHBOARD"
          }
        },
        "MONITOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONITOR"
          }
        },
        "NOTIFICATION_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTIFICATION_POLICY"
          }
        },
        "RECORDING_RULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECORDING_RULE"
          }
        },
        "MAPPING_RULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAPPING_RULE"
          }
        },
        "ROLLUP_RULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLUP_RULE"
          }
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#ResourceChangeAction": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED"
          }
        },
        "UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        },
        "NOOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOOP"
          }
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#Configv1DeleteBucketResponseChangesList": {
      "type": "list",
      "member": {
        "target": "com.chronosphere.api#ResourceChange"
      },
      "traits": {
        "smithy.api#documentation": "Changes contains what resources are deleted. The bucket being deleted will\nalways be included. When force_delete is used, the changelog will include\nall resources that reference the bucket that were deleted."
      }
    },
    "com.chronosphere.api#DeleteBucket": {
      "type": "operation",
      "input": {
        "target": "com.chronosphere.api#DeleteBucketRequest"
      },
      "output": {
        "target": "com.chronosphere.api#Configv1DeleteBucketResponse"
      },
      "errors": [
        {
          "target": "com.chronosphere.api#BadRequest"
        },
        {
          "target": "com.chronosphere.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/config/buckets/{slug}",
          "code": 200
        }
      }
    },
    "com.chronosphere.api#ListClassicDashboardsRequestSlugsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.chronosphere.api#ListClassicDashboardsRequestBucketSlugsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.chronosphere.api#ListClassicDashboardsRequestCollectionSlugsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.chronosphere.api#ListClassicDashboardsRequestNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.chronosphere.api#ListClassicDashboardsRequest": {
      "type": "structure",
      "members": {
        "page_max_size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page.max_size",
            "smithy.api#documentation": "Page size preference (i.e. how many items are returned in the next\npage). If zero, the server will use a default. Regardless of what size\nis given, clients must never assume how many items will be returned."
          }
        },
        "page_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "page.token",
            "smithy.api#documentation": "Opaque page token identifying which page to request. An empty token\nidentifies the first page."
          }
        },
        "slugs": {
          "target": "com.chronosphere.api#ListClassicDashboardsRequestSlugsList",
          "traits": {
            "smithy.api#httpQuery": "slugs",
            "smithy.api#documentation": "Filters results by slug, where any ClassicDashboard with a matching slug in the given list (and matches all other filters) is returned."
          }
        },
        "bucket_slugs": {
          "target": "com.chronosphere.api#ListClassicDashboardsRequestBucketSlugsList",
          "traits": {
            "smithy.api#httpQuery": "bucket_slugs",
            "smithy.api#documentation": "Filters results by bucket_slug, where any ClassicDashboard with a matching bucket_slug in the given list (and matches all other filters) is returned."
          }
        },
        "collection_slugs": {
          "target": "com.chronosphere.api#ListClassicDashboardsRequestCollectionSlugsList",
          "traits": {
            "smithy.api#httpQuery": "collection_slugs",
            "smithy.api#documentation": "Filters results by collection_slug, where any ClassicDashboard with a matching collection_slug in the given list (and matches all other filters) is returned."
          }
        },
        "names": {
          "target": "com.chronosphere.api#ListClassicDashboardsRequestNamesList",
          "traits": {
            "smithy.api#httpQuery": "names",
            "smithy.api#documentation": "Filters results by name, where any ClassicDashboard with a matching name in the given list (and matches all other filters) is returned."
          }
        },
        "include_dashboard_json": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "include_dashboard_json",
            "smithy.api#documentation": "Optional flag to populate the dashboard_json of the returned dashboards.\nBy default, dashboard_json will be left empty."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.chronosphere.api#Configv1ListClassicDashboardsResponse": {
      "type": "structure",
      "members": {
        "page": {
          "target": "com.chronosphere.api#Configv1PageResult"
        },
        "classic_dashboards": {
          "target": "com.chronosphere.api#Configv1ListClassicDashboardsResponseClassicDashboardsList"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#Configv1GrafanaDashboard": {
      "type": "structure",
      "members": {
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the GrafanaDashboard. If a `slug` isn't provided, one will be generated based of the `name` field. You can't modify this field after the GrafanaDashboard is created."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the GrafanaDashboard. You can modify this value after the GrafanaDashboard is created."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of when the GrafanaDashboard was created. Cannot be set by clients."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of when the GrafanaDashboard was last updated. Cannot be set by clients."
          }
        },
        "bucket_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slug of the bucket the dashboard belongs to. Required if collection_slug\nis not set."
          }
        },
        "collection_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slug of the collection the dashboard belongs to. Required if bucket_slug\nis not set."
          }
        },
        "collection": {
          "target": "com.chronosphere.api#Configv1CollectionReference"
        },
        "dashboard_json": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required raw JSON of the Grafana dashboard."
          }
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#Configv1CollectionReference": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.chronosphere.api#Configv1CollectionReferenceType"
        },
        "slug": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#Configv1CollectionReferenceType": {
      "type": "enum",
      "members": {
        "SIMPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIMPLE"
          }
        },
        "SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type values must match entitiespb.Collection.CollectionType."
      }
    },
    "com.chronosphere.api#Configv1ListClassicDashboardsResponseClassicDashboardsList": {
      "type": "list",
      "member": {
        "target": "com.chronosphere.api#Configv1GrafanaDashboard"
      },
      "traits": {}
    },
    "com.chronosphere.api#ListClassicDashboards": {
      "type": "operation",
      "input": {
        "target": "com.chronosphere.api#ListClassicDashboardsRequest"
      },
      "output": {
        "target": "com.chronosphere.api#Configv1ListClassicDashboardsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/config/classic-dashboards",
          "code": 200
        },
        "smithy.api#paginated": {
          "mode": "cursor",
          "inputToken": "page_token",
          "outputToken": "page.next_token",
          "items": "classic_dashboards",
          "pageSize": "page_max_size"
        }
      }
    },
    "com.chronosphere.api#Configv1GrafanaDashboardInput": {
      "type": "structure",
      "members": {
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the GrafanaDashboard. If a `slug` isn't provided, one will be generated based of the `name` field. You can't modify this field after the GrafanaDashboard is created."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the GrafanaDashboard. You can modify this value after the GrafanaDashboard is created."
          }
        },
        "bucket_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slug of the bucket the dashboard belongs to. Required if collection_slug\nis not set."
          }
        },
        "collection_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slug of the collection the dashboard belongs to. Required if bucket_slug\nis not set."
          }
        },
        "collection": {
          "target": "com.chronosphere.api#Configv1CollectionReference"
        },
        "dashboard_json": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required raw JSON of the Grafana dashboard."
          }
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#CreateClassicDashboardRequest": {
      "type": "structure",
      "members": {
        "classic_dashboard": {
          "target": "com.chronosphere.api#Configv1GrafanaDashboardInput"
        },
        "dry_run": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the GrafanaDashboard isn't created, and no response GrafanaDashboard will be returned. The response will return an error if the given GrafanaDashboard is invalid."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.chronosphere.api#Configv1CreateClassicDashboardResponse": {
      "type": "structure",
      "members": {
        "classic_dashboard": {
          "target": "com.chronosphere.api#Configv1GrafanaDashboard"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#CreateClassicDashboard": {
      "type": "operation",
      "input": {
        "target": "com.chronosphere.api#CreateClassicDashboardRequest"
      },
      "output": {
        "target": "com.chronosphere.api#Configv1CreateClassicDashboardResponse"
      },
      "errors": [
        {
          "target": "com.chronosphere.api#BadRequest"
        },
        {
          "target": "com.chronosphere.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/config/classic-dashboards",
          "code": 200
        }
      }
    },
    "com.chronosphere.api#ReadClassicDashboardRequest": {
      "type": "structure",
      "members": {
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.chronosphere.api#Configv1ReadClassicDashboardResponse": {
      "type": "structure",
      "members": {
        "classic_dashboard": {
          "target": "com.chronosphere.api#Configv1GrafanaDashboard"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#ReadClassicDashboard": {
      "type": "operation",
      "input": {
        "target": "com.chronosphere.api#ReadClassicDashboardRequest"
      },
      "output": {
        "target": "com.chronosphere.api#Configv1ReadClassicDashboardResponse"
      },
      "errors": [
        {
          "target": "com.chronosphere.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/config/classic-dashboards/{slug}",
          "code": 200
        }
      }
    },
    "com.chronosphere.api#UpdateClassicDashboardRequest": {
      "type": "structure",
      "members": {
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "classic_dashboard": {
          "target": "com.chronosphere.api#Configv1GrafanaDashboardInput"
        },
        "create_if_missing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the GrafanaDashboard will be created if it does not already exist, identified by slug. If false, an error will be returned if the GrafanaDashboard does not already exist."
          }
        },
        "dry_run": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the GrafanaDashboard isn't created or updated, and no response GrafanaDashboard will be returned. The response will return an error if the given GrafanaDashboard is invalid."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.chronosphere.api#Configv1UpdateClassicDashboardResponse": {
      "type": "structure",
      "members": {
        "classic_dashboard": {
          "target": "com.chronosphere.api#Configv1GrafanaDashboard"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#UpdateClassicDashboard": {
      "type": "operation",
      "input": {
        "target": "com.chronosphere.api#UpdateClassicDashboardRequest"
      },
      "output": {
        "target": "com.chronosphere.api#Configv1UpdateClassicDashboardResponse"
      },
      "errors": [
        {
          "target": "com.chronosphere.api#BadRequest"
        },
        {
          "target": "com.chronosphere.api#NotFound"
        },
        {
          "target": "com.chronosphere.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/v1/config/classic-dashboards/{slug}",
          "code": 200
        }
      }
    },
    "com.chronosphere.api#DeleteClassicDashboardRequest": {
      "type": "structure",
      "members": {
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.chronosphere.api#DeleteClassicDashboardResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.chronosphere.api#DeleteClassicDashboard": {
      "type": "operation",
      "input": {
        "target": "com.chronosphere.api#DeleteClassicDashboardRequest"
      },
      "output": {
        "target": "com.chronosphere.api#DeleteClassicDashboardResponse"
      },
      "errors": [
        {
          "target": "com.chronosphere.api#BadRequest"
        },
        {
          "target": "com.chronosphere.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/config/classic-dashboards/{slug}",
          "code": 200
        }
      }
    },
    "com.chronosphere.api#ListCollectionsRequestSlugsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.chronosphere.api#ListCollectionsRequestTeamSlugsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.chronosphere.api#ListCollectionsRequestNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.chronosphere.api#ListCollectionsRequestNotificationPolicySlugsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.chronosphere.api#ListCollectionsRequest": {
      "type": "structure",
      "members": {
        "page_max_size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page.max_size",
            "smithy.api#documentation": "Page size preference (i.e. how many items are returned in the next\npage). If zero, the server will use a default. Regardless of what size\nis given, clients must never assume how many items will be returned."
          }
        },
        "page_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "page.token",
            "smithy.api#documentation": "Opaque page token identifying which page to request. An empty token\nidentifies the first page."
          }
        },
        "slugs": {
          "target": "com.chronosphere.api#ListCollectionsRequestSlugsList",
          "traits": {
            "smithy.api#httpQuery": "slugs",
            "smithy.api#documentation": "Filters results by slug, where any Collection with a matching slug in the given list (and matches all other filters) is returned."
          }
        },
        "team_slugs": {
          "target": "com.chronosphere.api#ListCollectionsRequestTeamSlugsList",
          "traits": {
            "smithy.api#httpQuery": "team_slugs",
            "smithy.api#documentation": "Filters results by team_slug, where any Collection with a matching team_slug in the given list (and matches all other filters) is returned."
          }
        },
        "names": {
          "target": "com.chronosphere.api#ListCollectionsRequestNamesList",
          "traits": {
            "smithy.api#httpQuery": "names",
            "smithy.api#documentation": "Filters results by name, where any Collection with a matching name in the given list (and matches all other filters) is returned."
          }
        },
        "notification_policy_slugs": {
          "target": "com.chronosphere.api#ListCollectionsRequestNotificationPolicySlugsList",
          "traits": {
            "smithy.api#httpQuery": "notification_policy_slugs",
            "smithy.api#documentation": "Get collections that directly reference notifications policies by the referenced policy slugs."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.chronosphere.api#Configv1ListCollectionsResponse": {
      "type": "structure",
      "members": {
        "page": {
          "target": "com.chronosphere.api#Configv1PageResult"
        },
        "collections": {
          "target": "com.chronosphere.api#Configv1ListCollectionsResponseCollectionsList"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#Configv1Collection": {
      "type": "structure",
      "members": {
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the Collection. If a `slug` isn't provided, one will be generated based of the `name` field. You can't modify this field after the Collection is created."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the Collection. You can modify this value after the Collection is created."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of when the Collection was created. Cannot be set by clients."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of when the Collection was last updated. Cannot be set by clients."
          }
        },
        "team_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required slug of the team the collection belongs to."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the collection."
          }
        },
        "notification_policy_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slug of the notification policy used by default for monitors in this collection.\nThis is optional if the collection does not contain monitors or all of its monitors explicitly reference a policy.\nThis does not override the policy used when a monitor explicitly references a policy."
          }
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#Configv1ListCollectionsResponseCollectionsList": {
      "type": "list",
      "member": {
        "target": "com.chronosphere.api#Configv1Collection"
      },
      "traits": {}
    },
    "com.chronosphere.api#ListCollections": {
      "type": "operation",
      "input": {
        "target": "com.chronosphere.api#ListCollectionsRequest"
      },
      "output": {
        "target": "com.chronosphere.api#Configv1ListCollectionsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/config/collections",
          "code": 200
        },
        "smithy.api#paginated": {
          "mode": "cursor",
          "inputToken": "page_token",
          "outputToken": "page.next_token",
          "items": "collections",
          "pageSize": "page_max_size"
        }
      }
    },
    "com.chronosphere.api#Configv1CollectionInput": {
      "type": "structure",
      "members": {
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the Collection. If a `slug` isn't provided, one will be generated based of the `name` field. You can't modify this field after the Collection is created."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the Collection. You can modify this value after the Collection is created."
          }
        },
        "team_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required slug of the team the collection belongs to."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the collection."
          }
        },
        "notification_policy_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slug of the notification policy used by default for monitors in this collection.\nThis is optional if the collection does not contain monitors or all of its monitors explicitly reference a policy.\nThis does not override the policy used when a monitor explicitly references a policy."
          }
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#CreateCollectionRequest": {
      "type": "structure",
      "members": {
        "collection": {
          "target": "com.chronosphere.api#Configv1CollectionInput"
        },
        "dry_run": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the Collection isn't created, and no response Collection will be returned. The response will return an error if the given Collection is invalid."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.chronosphere.api#Configv1CreateCollectionResponse": {
      "type": "structure",
      "members": {
        "collection": {
          "target": "com.chronosphere.api#Configv1Collection"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#CreateCollection": {
      "type": "operation",
      "input": {
        "target": "com.chronosphere.api#CreateCollectionRequest"
      },
      "output": {
        "target": "com.chronosphere.api#Configv1CreateCollectionResponse"
      },
      "errors": [
        {
          "target": "com.chronosphere.api#BadRequest"
        },
        {
          "target": "com.chronosphere.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/config/collections",
          "code": 200
        }
      }
    },
    "com.chronosphere.api#ReadCollectionRequest": {
      "type": "structure",
      "members": {
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.chronosphere.api#Configv1ReadCollectionResponse": {
      "type": "structure",
      "members": {
        "collection": {
          "target": "com.chronosphere.api#Configv1Collection"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#ReadCollection": {
      "type": "operation",
      "input": {
        "target": "com.chronosphere.api#ReadCollectionRequest"
      },
      "output": {
        "target": "com.chronosphere.api#Configv1ReadCollectionResponse"
      },
      "errors": [
        {
          "target": "com.chronosphere.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/config/collections/{slug}",
          "code": 200
        }
      }
    },
    "com.chronosphere.api#UpdateCollectionRequest": {
      "type": "structure",
      "members": {
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "collection": {
          "target": "com.chronosphere.api#Configv1CollectionInput"
        },
        "create_if_missing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the Collection will be created if it does not already exist, identified by slug. If false, an error will be returned if the Collection does not already exist."
          }
        },
        "dry_run": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the Collection isn't created or updated, and no response Collection will be returned. The response will return an error if the given Collection is invalid."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.chronosphere.api#Configv1UpdateCollectionResponse": {
      "type": "structure",
      "members": {
        "collection": {
          "target": "com.chronosphere.api#Configv1Collection"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#UpdateCollection": {
      "type": "operation",
      "input": {
        "target": "com.chronosphere.api#UpdateCollectionRequest"
      },
      "output": {
        "target": "com.chronosphere.api#Configv1UpdateCollectionResponse"
      },
      "errors": [
        {
          "target": "com.chronosphere.api#BadRequest"
        },
        {
          "target": "com.chronosphere.api#NotFound"
        },
        {
          "target": "com.chronosphere.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/v1/config/collections/{slug}",
          "code": 200
        }
      }
    },
    "com.chronosphere.api#DeleteCollectionRequest": {
      "type": "structure",
      "members": {
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.chronosphere.api#DeleteCollectionResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.chronosphere.api#DeleteCollection": {
      "type": "operation",
      "input": {
        "target": "com.chronosphere.api#DeleteCollectionRequest"
      },
      "output": {
        "target": "com.chronosphere.api#DeleteCollectionResponse"
      },
      "errors": [
        {
          "target": "com.chronosphere.api#BadRequest"
        },
        {
          "target": "com.chronosphere.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/config/collections/{slug}",
          "code": 200
        }
      }
    },
    "com.chronosphere.api#ListDashboardsRequestSlugsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.chronosphere.api#ListDashboardsRequestCollectionSlugsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.chronosphere.api#ListDashboardsRequestNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.chronosphere.api#ListDashboardsRequest": {
      "type": "structure",
      "members": {
        "page_max_size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page.max_size",
            "smithy.api#documentation": "Page size preference (i.e. how many items are returned in the next\npage). If zero, the server will use a default. Regardless of what size\nis given, clients must never assume how many items will be returned."
          }
        },
        "page_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "page.token",
            "smithy.api#documentation": "Opaque page token identifying which page to request. An empty token\nidentifies the first page."
          }
        },
        "slugs": {
          "target": "com.chronosphere.api#ListDashboardsRequestSlugsList",
          "traits": {
            "smithy.api#httpQuery": "slugs",
            "smithy.api#documentation": "Filters results by slug, where any Dashboard with a matching slug in the given list (and matches all other filters) is returned."
          }
        },
        "collection_slugs": {
          "target": "com.chronosphere.api#ListDashboardsRequestCollectionSlugsList",
          "traits": {
            "smithy.api#httpQuery": "collection_slugs",
            "smithy.api#documentation": "Filters results by collection_slug, where any Dashboard with a matching collection_slug in the given list (and matches all other filters) is returned."
          }
        },
        "names": {
          "target": "com.chronosphere.api#ListDashboardsRequestNamesList",
          "traits": {
            "smithy.api#httpQuery": "names",
            "smithy.api#documentation": "Filters results by name, where any Dashboard with a matching name in the given list (and matches all other filters) is returned."
          }
        },
        "include_dashboard_json": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "include_dashboard_json",
            "smithy.api#documentation": "Optional. Flag to populate the `dashboard_json` field of the returned\ndashboards. By default, `dashboard_json` is empty."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.chronosphere.api#Configv1ListDashboardsResponse": {
      "type": "structure",
      "members": {
        "page": {
          "target": "com.chronosphere.api#Configv1PageResult"
        },
        "dashboards": {
          "target": "com.chronosphere.api#Configv1ListDashboardsResponseDashboardsList"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#Configv1Dashboard": {
      "type": "structure",
      "members": {
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the Dashboard. If a `slug` isn't provided, one will be generated based of the `name` field. You can't modify this field after the Dashboard is created."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the Dashboard. You can modify this value after the Dashboard is created."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of when the Dashboard was created. Cannot be set by clients."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of when the Dashboard was last updated. Cannot be set by clients."
          }
        },
        "collection_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Slug of the collection the dashboard belongs to."
          }
        },
        "collection": {
          "target": "com.chronosphere.api#Configv1CollectionReference"
        },
        "dashboard_json": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw JSON representation that defines the structure of the dashboard."
          }
        },
        "labels": {
          "target": "com.chronosphere.api#Configv1DashboardLabelsMap",
          "traits": {
            "smithy.api#documentation": "Optional. Defines tags that add metadata about the dashboard."
          }
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#Configv1DashboardLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Optional. Defines tags that add metadata about the dashboard."
      }
    },
    "com.chronosphere.api#Configv1ListDashboardsResponseDashboardsList": {
      "type": "list",
      "member": {
        "target": "com.chronosphere.api#Configv1Dashboard"
      },
      "traits": {}
    },
    "com.chronosphere.api#ListDashboards": {
      "type": "operation",
      "input": {
        "target": "com.chronosphere.api#ListDashboardsRequest"
      },
      "output": {
        "target": "com.chronosphere.api#Configv1ListDashboardsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/config/dashboards",
          "code": 200
        },
        "smithy.api#paginated": {
          "mode": "cursor",
          "inputToken": "page_token",
          "outputToken": "page.next_token",
          "items": "dashboards",
          "pageSize": "page_max_size"
        }
      }
    },
    "com.chronosphere.api#Configv1DashboardInput": {
      "type": "structure",
      "members": {
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the Dashboard. If a `slug` isn't provided, one will be generated based of the `name` field. You can't modify this field after the Dashboard is created."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the Dashboard. You can modify this value after the Dashboard is created."
          }
        },
        "collection_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Slug of the collection the dashboard belongs to."
          }
        },
        "collection": {
          "target": "com.chronosphere.api#Configv1CollectionReference"
        },
        "dashboard_json": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw JSON representation that defines the structure of the dashboard."
          }
        },
        "labels": {
          "target": "com.chronosphere.api#Configv1DashboardInputLabelsMap",
          "traits": {
            "smithy.api#documentation": "Optional. Defines tags that add metadata about the dashboard."
          }
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#Configv1DashboardInputLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Optional. Defines tags that add metadata about the dashboard."
      }
    },
    "com.chronosphere.api#CreateDashboardRequest": {
      "type": "structure",
      "members": {
        "dashboard": {
          "target": "com.chronosphere.api#Configv1DashboardInput"
        },
        "dry_run": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the Dashboard isn't created, and no response Dashboard will be returned. The response will return an error if the given Dashboard is invalid."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.chronosphere.api#Configv1CreateDashboardResponse": {
      "type": "structure",
      "members": {
        "dashboard": {
          "target": "com.chronosphere.api#Configv1Dashboard"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#CreateDashboard": {
      "type": "operation",
      "input": {
        "target": "com.chronosphere.api#CreateDashboardRequest"
      },
      "output": {
        "target": "com.chronosphere.api#Configv1CreateDashboardResponse"
      },
      "errors": [
        {
          "target": "com.chronosphere.api#BadRequest"
        },
        {
          "target": "com.chronosphere.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/config/dashboards",
          "code": 200
        }
      }
    },
    "com.chronosphere.api#ReadDashboardRequest": {
      "type": "structure",
      "members": {
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.chronosphere.api#Configv1ReadDashboardResponse": {
      "type": "structure",
      "members": {
        "dashboard": {
          "target": "com.chronosphere.api#Configv1Dashboard"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#ReadDashboard": {
      "type": "operation",
      "input": {
        "target": "com.chronosphere.api#ReadDashboardRequest"
      },
      "output": {
        "target": "com.chronosphere.api#Configv1ReadDashboardResponse"
      },
      "errors": [
        {
          "target": "com.chronosphere.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/config/dashboards/{slug}",
          "code": 200
        }
      }
    },
    "com.chronosphere.api#UpdateDashboardRequest": {
      "type": "structure",
      "members": {
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dashboard": {
          "target": "com.chronosphere.api#Configv1DashboardInput"
        },
        "create_if_missing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the Dashboard will be created if it does not already exist, identified by slug. If false, an error will be returned if the Dashboard does not already exist."
          }
        },
        "dry_run": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the Dashboard isn't created or updated, and no response Dashboard will be returned. The response will return an error if the given Dashboard is invalid."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.chronosphere.api#Configv1UpdateDashboardResponse": {
      "type": "structure",
      "members": {
        "dashboard": {
          "target": "com.chronosphere.api#Configv1Dashboard"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#UpdateDashboard": {
      "type": "operation",
      "input": {
        "target": "com.chronosphere.api#UpdateDashboardRequest"
      },
      "output": {
        "target": "com.chronosphere.api#Configv1UpdateDashboardResponse"
      },
      "errors": [
        {
          "target": "com.chronosphere.api#BadRequest"
        },
        {
          "target": "com.chronosphere.api#NotFound"
        },
        {
          "target": "com.chronosphere.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/v1/config/dashboards/{slug}",
          "code": 200
        }
      }
    },
    "com.chronosphere.api#DeleteDashboardRequest": {
      "type": "structure",
      "members": {
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.chronosphere.api#DeleteDashboardResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.chronosphere.api#DeleteDashboard": {
      "type": "operation",
      "input": {
        "target": "com.chronosphere.api#DeleteDashboardRequest"
      },
      "output": {
        "target": "com.chronosphere.api#DeleteDashboardResponse"
      },
      "errors": [
        {
          "target": "com.chronosphere.api#BadRequest"
        },
        {
          "target": "com.chronosphere.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/config/dashboards/{slug}",
          "code": 200
        }
      }
    },
    "com.chronosphere.api#ListDatasetsRequestSlugsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.chronosphere.api#ListDatasetsRequestNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.chronosphere.api#ListDatasetsRequestType": {
      "type": "enum",
      "members": {
        "TRACES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRACES"
          }
        },
        "LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGS"
          }
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#ListDatasetsRequest": {
      "type": "structure",
      "members": {
        "page_max_size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page.max_size",
            "smithy.api#documentation": "Page size preference (i.e. how many items are returned in the next\npage). If zero, the server will use a default. Regardless of what size\nis given, clients must never assume how many items will be returned."
          }
        },
        "page_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "page.token",
            "smithy.api#documentation": "Opaque page token identifying which page to request. An empty token\nidentifies the first page."
          }
        },
        "slugs": {
          "target": "com.chronosphere.api#ListDatasetsRequestSlugsList",
          "traits": {
            "smithy.api#httpQuery": "slugs",
            "smithy.api#documentation": "Filters results by slug, where any Dataset with a matching slug in the given list (and matches all other filters) is returned."
          }
        },
        "names": {
          "target": "com.chronosphere.api#ListDatasetsRequestNamesList",
          "traits": {
            "smithy.api#httpQuery": "names",
            "smithy.api#documentation": "Filters results by name, where any Dataset with a matching name in the given list (and matches all other filters) is returned."
          }
        },
        "type": {
          "target": "com.chronosphere.api#ListDatasetsRequestType",
          "traits": {
            "smithy.api#httpQuery": "type",
            "smithy.api#documentation": "Custom filtering option: list filtered down to a specific telemetry type."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.chronosphere.api#Configv1ListDatasetsResponse": {
      "type": "structure",
      "members": {
        "page": {
          "target": "com.chronosphere.api#Configv1PageResult"
        },
        "datasets": {
          "target": "com.chronosphere.api#Configv1ListDatasetsResponseDatasetsList"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#Configv1Dataset": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the Dataset. You can modify this value after the Dataset is created."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the Dataset. If a `slug` isn't provided, one will be generated based of the `name` field. You can't modify this field after the Dataset is created."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of when the Dataset was created. Cannot be set by clients."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of when the Dataset was last updated. Cannot be set by clients."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Description of the dataset."
          }
        },
        "configuration": {
          "target": "com.chronosphere.api#DatasetDatasetConfiguration"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#DatasetDatasetConfiguration": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.chronosphere.api#DatasetDatasetType"
        },
        "trace_dataset": {
          "target": "com.chronosphere.api#Configv1TraceDataset"
        },
        "log_dataset": {
          "target": "com.chronosphere.api#Configv1LogDataset"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#DatasetDatasetType": {
      "type": "enum",
      "members": {
        "TRACES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRACES"
          }
        },
        "LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGS"
          }
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#Configv1TraceDataset": {
      "type": "structure",
      "members": {
        "match_criteria": {
          "target": "com.chronosphere.api#Configv1TraceSearchFilter"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#Configv1TraceSearchFilter": {
      "type": "structure",
      "members": {
        "trace": {
          "target": "com.chronosphere.api#TraceSearchFilterTraceFilter"
        },
        "span": {
          "target": "com.chronosphere.api#Configv1TraceSearchFilterSpanList",
          "traits": {
            "smithy.api#documentation": "Specifies the span conditions to match on. All conditions must be true in a\nsingle span for the span to be considered a match. If `span_count` is specified,\nthe number of spans within the trace that match span conditions must be within\n`[min, max]`. You can specify multiple span conditions, and each can be\nsatisfied by any number of spans within the trace."
          }
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#TraceSearchFilterTraceFilter": {
      "type": "structure",
      "members": {
        "duration": {
          "target": "com.chronosphere.api#TraceSearchFilterDurationFilter"
        },
        "error": {
          "target": "com.chronosphere.api#TraceSearchFilterBoolFilter"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#TraceSearchFilterDurationFilter": {
      "type": "structure",
      "members": {
        "min_secs": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Minimum duration, in seconds, required for a span or trace to match."
          }
        },
        "max_secs": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum duration, in seconds, required for a span or trace to match."
          }
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#TraceSearchFilterBoolFilter": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The value of the filter compared to the target trace or span field."
          }
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#TraceSearchFilterSpanFilter": {
      "type": "structure",
      "members": {
        "match_type": {
          "target": "com.chronosphere.api#SpanFilterSpanFilterMatchType"
        },
        "service": {
          "target": "com.chronosphere.api#TraceSearchFilterStringFilter"
        },
        "operation": {
          "target": "com.chronosphere.api#TraceSearchFilterStringFilter"
        },
        "parent_service": {
          "target": "com.chronosphere.api#TraceSearchFilterStringFilter"
        },
        "parent_operation": {
          "target": "com.chronosphere.api#TraceSearchFilterStringFilter"
        },
        "duration": {
          "target": "com.chronosphere.api#TraceSearchFilterDurationFilter"
        },
        "error": {
          "target": "com.chronosphere.api#TraceSearchFilterBoolFilter"
        },
        "tags": {
          "target": "com.chronosphere.api#TraceSearchFilterSpanFilterTagsList",
          "traits": {
            "smithy.api#documentation": "Matches the tags of the candidate span."
          }
        },
        "span_count": {
          "target": "com.chronosphere.api#TraceSearchFilterCountFilter"
        },
        "is_root_span": {
          "target": "com.chronosphere.api#TraceSearchFilterBoolFilter"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#SpanFilterSpanFilterMatchType": {
      "type": "enum",
      "members": {
        "INCLUDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCLUDE"
          }
        },
        "EXCLUDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCLUDE"
          }
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#TraceSearchFilterStringFilter": {
      "type": "structure",
      "members": {
        "match": {
          "target": "com.chronosphere.api#StringFilterStringFilterMatchType"
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the filter compared to the target trace or span field."
          }
        },
        "in_values": {
          "target": "com.chronosphere.api#TraceSearchFilterStringFilterInValuesList",
          "traits": {
            "smithy.api#documentation": "Values the filter tests against when using `IN` or `NOT_IN` match type."
          }
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#StringFilterStringFilterMatchType": {
      "type": "enum",
      "members": {
        "EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXACT"
          }
        },
        "REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGEX"
          }
        },
        "EXACT_NEGATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXACT_NEGATION"
          }
        },
        "REGEX_NEGATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGEX_NEGATION"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN"
          }
        },
        "NOT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_IN"
          }
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#TraceSearchFilterStringFilterInValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Values the filter tests against when using `IN` or `NOT_IN` match type."
      }
    },
    "com.chronosphere.api#TraceSearchFilterTagFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key or name of the span tag that this filter inspects."
          }
        },
        "value": {
          "target": "com.chronosphere.api#TraceSearchFilterStringFilter"
        },
        "numeric_value": {
          "target": "com.chronosphere.api#TraceSearchFilterNumericFilter"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#TraceSearchFilterNumericFilter": {
      "type": "structure",
      "members": {
        "comparison": {
          "target": "com.chronosphere.api#NumericFilterComparisonType"
        },
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The filter value used in comparison against match candidates."
          }
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#NumericFilterComparisonType": {
      "type": "enum",
      "members": {
        "EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQUAL"
          }
        },
        "NOT_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_EQUAL"
          }
        },
        "GREATER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN"
          }
        },
        "GREATER_THAN_OR_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN_OR_EQUAL"
          }
        },
        "LESS_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN"
          }
        },
        "LESS_THAN_OR_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN_OR_EQUAL"
          }
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#TraceSearchFilterSpanFilterTagsList": {
      "type": "list",
      "member": {
        "target": "com.chronosphere.api#TraceSearchFilterTagFilter"
      },
      "traits": {
        "smithy.api#documentation": "Matches the tags of the candidate span."
      }
    },
    "com.chronosphere.api#TraceSearchFilterCountFilter": {
      "type": "structure",
      "members": {
        "min": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum number of spans that must match a span query, inclusive."
          }
        },
        "max": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of spans that must match a span query, inclusive."
          }
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#Configv1TraceSearchFilterSpanList": {
      "type": "list",
      "member": {
        "target": "com.chronosphere.api#TraceSearchFilterSpanFilter"
      },
      "traits": {
        "smithy.api#documentation": "Specifies the span conditions to match on. All conditions must be true in a\nsingle span for the span to be considered a match. If `span_count` is specified,\nthe number of spans within the trace that match span conditions must be within\n`[min, max]`. You can specify multiple span conditions, and each can be\nsatisfied by any number of spans within the trace."
      }
    },
    "com.chronosphere.api#Configv1LogDataset": {
      "type": "structure",
      "members": {
        "match_criteria": {
          "target": "com.chronosphere.api#Configv1LogSearchFilter"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#Configv1LogSearchFilter": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Returns logs that match this query. The query can include only top-level\noperations. Nested clauses aren't supported. Only one type of `AND` or `OR`\noperator is allowed."
          }
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#Configv1ListDatasetsResponseDatasetsList": {
      "type": "list",
      "member": {
        "target": "com.chronosphere.api#Configv1Dataset"
      },
      "traits": {}
    },
    "com.chronosphere.api#ListDatasets": {
      "type": "operation",
      "input": {
        "target": "com.chronosphere.api#ListDatasetsRequest"
      },
      "output": {
        "target": "com.chronosphere.api#Configv1ListDatasetsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/config/datasets",
          "code": 200
        },
        "smithy.api#paginated": {
          "mode": "cursor",
          "inputToken": "page_token",
          "outputToken": "page.next_token",
          "items": "datasets",
          "pageSize": "page_max_size"
        }
      }
    },
    "com.chronosphere.api#Configv1DatasetInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the Dataset. You can modify this value after the Dataset is created."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the Dataset. If a `slug` isn't provided, one will be generated based of the `name` field. You can't modify this field after the Dataset is created."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Description of the dataset."
          }
        },
        "configuration": {
          "target": "com.chronosphere.api#DatasetDatasetConfiguration"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#CreateDatasetRequest": {
      "type": "structure",
      "members": {
        "dataset": {
          "target": "com.chronosphere.api#Configv1DatasetInput"
        },
        "dry_run": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the Dataset isn't created, and no response Dataset will be returned. The response will return an error if the given Dataset is invalid."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.chronosphere.api#Configv1CreateDatasetResponse": {
      "type": "structure",
      "members": {
        "dataset": {
          "target": "com.chronosphere.api#Configv1Dataset"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#CreateDataset": {
      "type": "operation",
      "input": {
        "target": "com.chronosphere.api#CreateDatasetRequest"
      },
      "output": {
        "target": "com.chronosphere.api#Configv1CreateDatasetResponse"
      },
      "errors": [
        {
          "target": "com.chronosphere.api#BadRequest"
        },
        {
          "target": "com.chronosphere.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/config/datasets",
          "code": 200
        }
      }
    },
    "com.chronosphere.api#ReadDatasetRequest": {
      "type": "structure",
      "members": {
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.chronosphere.api#Configv1ReadDatasetResponse": {
      "type": "structure",
      "members": {
        "dataset": {
          "target": "com.chronosphere.api#Configv1Dataset"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#ReadDataset": {
      "type": "operation",
      "input": {
        "target": "com.chronosphere.api#ReadDatasetRequest"
      },
      "output": {
        "target": "com.chronosphere.api#Configv1ReadDatasetResponse"
      },
      "errors": [
        {
          "target": "com.chronosphere.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/config/datasets/{slug}",
          "code": 200
        }
      }
    },
    "com.chronosphere.api#UpdateDatasetRequest": {
      "type": "structure",
      "members": {
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dataset": {
          "target": "com.chronosphere.api#Configv1DatasetInput"
        },
        "create_if_missing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the Dataset will be created if it does not already exist, identified by slug. If false, an error will be returned if the Dataset does not already exist."
          }
        },
        "dry_run": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the Dataset isn't created or updated, and no response Dataset will be returned. The response will return an error if the given Dataset is invalid."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.chronosphere.api#Configv1UpdateDatasetResponse": {
      "type": "structure",
      "members": {
        "dataset": {
          "target": "com.chronosphere.api#Configv1Dataset"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#UpdateDataset": {
      "type": "operation",
      "input": {
        "target": "com.chronosphere.api#UpdateDatasetRequest"
      },
      "output": {
        "target": "com.chronosphere.api#Configv1UpdateDatasetResponse"
      },
      "errors": [
        {
          "target": "com.chronosphere.api#BadRequest"
        },
        {
          "target": "com.chronosphere.api#NotFound"
        },
        {
          "target": "com.chronosphere.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/v1/config/datasets/{slug}",
          "code": 200
        }
      }
    },
    "com.chronosphere.api#DeleteDatasetRequest": {
      "type": "structure",
      "members": {
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.chronosphere.api#DeleteDatasetResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.chronosphere.api#DeleteDataset": {
      "type": "operation",
      "input": {
        "target": "com.chronosphere.api#DeleteDatasetRequest"
      },
      "output": {
        "target": "com.chronosphere.api#DeleteDatasetResponse"
      },
      "errors": [
        {
          "target": "com.chronosphere.api#BadRequest"
        },
        {
          "target": "com.chronosphere.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/config/datasets/{slug}",
          "code": 200
        }
      }
    },
    "com.chronosphere.api#ListDerivedLabelsRequestSlugsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.chronosphere.api#ListDerivedLabelsRequestNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.chronosphere.api#ListDerivedLabelsRequest": {
      "type": "structure",
      "members": {
        "page_max_size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page.max_size",
            "smithy.api#documentation": "Page size preference (i.e. how many items are returned in the next\npage). If zero, the server will use a default. Regardless of what size\nis given, clients must never assume how many items will be returned."
          }
        },
        "page_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "page.token",
            "smithy.api#documentation": "Opaque page token identifying which page to request. An empty token\nidentifies the first page."
          }
        },
        "slugs": {
          "target": "com.chronosphere.api#ListDerivedLabelsRequestSlugsList",
          "traits": {
            "smithy.api#httpQuery": "slugs",
            "smithy.api#documentation": "Filters results by slug, where any DerivedLabel with a matching slug in the given list (and matches all other filters) is returned."
          }
        },
        "names": {
          "target": "com.chronosphere.api#ListDerivedLabelsRequestNamesList",
          "traits": {
            "smithy.api#httpQuery": "names",
            "smithy.api#documentation": "Filters results by name, where any DerivedLabel with a matching name in the given list (and matches all other filters) is returned."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.chronosphere.api#Configv1ListDerivedLabelsResponse": {
      "type": "structure",
      "members": {
        "page": {
          "target": "com.chronosphere.api#Configv1PageResult"
        },
        "derived_labels": {
          "target": "com.chronosphere.api#Configv1ListDerivedLabelsResponseDerivedLabelsList"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#Configv1DerivedLabel": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the DerivedLabel. You can modify this value after the DerivedLabel is created."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the DerivedLabel. If a `slug` isn't provided, one will be generated based of the `name` field. You can't modify this field after the DerivedLabel is created."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of when the DerivedLabel was created. Cannot be set by clients."
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of when the DerivedLabel was last updated. Cannot be set by clients."
          }
        },
        "label_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the derived label. It needs to be unique across the system."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the derived label."
          }
        },
        "metric_label": {
          "target": "com.chronosphere.api#DerivedLabelMetricLabel"
        },
        "existing_label_policy": {
          "target": "com.chronosphere.api#Configv1DerivedLabelLabelPolicy"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#DerivedLabelMetricLabel": {
      "type": "structure",
      "members": {
        "constructed_label": {
          "target": "com.chronosphere.api#MetricLabelConstructedLabel"
        },
        "mapping_label": {
          "target": "com.chronosphere.api#MetricLabelMappingLabel"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#MetricLabelConstructedLabel": {
      "type": "structure",
      "members": {
        "value_definitions": {
          "target": "com.chronosphere.api#MetricLabelConstructedLabelValueDefinitionsList"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#ConstructedLabelValueDefinition": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String"
        },
        "filters": {
          "target": "com.chronosphere.api#ConstructedLabelValueDefinitionFiltersList"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#Configv1LabelFilter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the label to match."
          }
        },
        "value_glob": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Glob value of the label to match."
          }
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#ConstructedLabelValueDefinitionFiltersList": {
      "type": "list",
      "member": {
        "target": "com.chronosphere.api#Configv1LabelFilter"
      },
      "traits": {}
    },
    "com.chronosphere.api#MetricLabelConstructedLabelValueDefinitionsList": {
      "type": "list",
      "member": {
        "target": "com.chronosphere.api#ConstructedLabelValueDefinition"
      },
      "traits": {}
    },
    "com.chronosphere.api#MetricLabelMappingLabel": {
      "type": "structure",
      "members": {
        "name_mappings": {
          "target": "com.chronosphere.api#MetricLabelMappingLabelNameMappingsList"
        },
        "value_mappings": {
          "target": "com.chronosphere.api#MetricLabelMappingLabelValueMappingsList",
          "traits": {
            "smithy.api#documentation": "These value mappings apply to the whole mapping label.\nIf there's no name_mappings, these value mappings apply to the label that exists on the metric."
          }
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#MappingLabelNameMapping": {
      "type": "structure",
      "members": {
        "filters": {
          "target": "com.chronosphere.api#MappingLabelNameMappingFiltersList"
        },
        "source_label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The actual label ingested on the time series"
          }
        },
        "value_mappings": {
          "target": "com.chronosphere.api#MappingLabelNameMappingValueMappingsList",
          "traits": {
            "smithy.api#documentation": "These value mappings apply to just the name mapping they belong to."
          }
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#MappingLabelNameMappingFiltersList": {
      "type": "list",
      "member": {
        "target": "com.chronosphere.api#Configv1LabelFilter"
      },
      "traits": {}
    },
    "com.chronosphere.api#MappingLabelValueMapping": {
      "type": "structure",
      "members": {
        "source_value_globs": {
          "target": "com.chronosphere.api#MappingLabelValueMappingSourceValueGlobsList",
          "traits": {
            "smithy.api#documentation": "Defines the source label values that should be mapped into the given target_value."
          }
        },
        "target_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value that source_value_globs are mapped into.\nFor example, given this mapping:\n```yaml\nvalue_mappings:\n - source_value_globs:\n     - Cat\n     - CAT\n   target_value: cat\n```\nThis indicates that the target value `cat` maps to the source label's values `Cat` and `CAT`."
          }
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#MappingLabelValueMappingSourceValueGlobsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Defines the source label values that should be mapped into the given target_value."
      }
    },
    "com.chronosphere.api#MappingLabelNameMappingValueMappingsList": {
      "type": "list",
      "member": {
        "target": "com.chronosphere.api#MappingLabelValueMapping"
      },
      "traits": {
        "smithy.api#documentation": "These value mappings apply to just the name mapping they belong to."
      }
    },
    "com.chronosphere.api#MetricLabelMappingLabelNameMappingsList": {
      "type": "list",
      "member": {
        "target": "com.chronosphere.api#MappingLabelNameMapping"
      },
      "traits": {}
    },
    "com.chronosphere.api#MetricLabelMappingLabelValueMappingsList": {
      "type": "list",
      "member": {
        "target": "com.chronosphere.api#MappingLabelValueMapping"
      },
      "traits": {
        "smithy.api#documentation": "These value mappings apply to the whole mapping label.\nIf there's no name_mappings, these value mappings apply to the label that exists on the metric."
      }
    },
    "com.chronosphere.api#Configv1DerivedLabelLabelPolicy": {
      "type": "enum",
      "members": {
        "KEEP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEEP"
          }
        },
        "OVERRIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OVERRIDE"
          }
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#Configv1ListDerivedLabelsResponseDerivedLabelsList": {
      "type": "list",
      "member": {
        "target": "com.chronosphere.api#Configv1DerivedLabel"
      },
      "traits": {}
    },
    "com.chronosphere.api#ListDerivedLabels": {
      "type": "operation",
      "input": {
        "target": "com.chronosphere.api#ListDerivedLabelsRequest"
      },
      "output": {
        "target": "com.chronosphere.api#Configv1ListDerivedLabelsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/config/derived-labels",
          "code": 200
        },
        "smithy.api#paginated": {
          "mode": "cursor",
          "inputToken": "page_token",
          "outputToken": "page.next_token",
          "items": "derived_labels",
          "pageSize": "page_max_size"
        }
      }
    },
    "com.chronosphere.api#Configv1DerivedLabelInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the DerivedLabel. You can modify this value after the DerivedLabel is created."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the DerivedLabel. If a `slug` isn't provided, one will be generated based of the `name` field. You can't modify this field after the DerivedLabel is created."
          }
        },
        "label_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the derived label. It needs to be unique across the system."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the derived label."
          }
        },
        "metric_label": {
          "target": "com.chronosphere.api#DerivedLabelMetricLabel"
        },
        "existing_label_policy": {
          "target": "com.chronosphere.api#Configv1DerivedLabelLabelPolicy"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#CreateDerivedLabelRequest": {
      "type": "structure",
      "members": {
        "derived_label": {
          "target": "com.chronosphere.api#Configv1DerivedLabelInput"
        },
        "dry_run": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the DerivedLabel isn't created, and no response DerivedLabel will be returned. The response will return an error if the given DerivedLabel is invalid."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.chronosphere.api#Configv1CreateDerivedLabelResponse": {
      "type": "structure",
      "members": {
        "derived_label": {
          "target": "com.chronosphere.api#Configv1DerivedLabel"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#CreateDerivedLabel": {
      "type": "operation",
      "input": {
        "target": "com.chronosphere.api#CreateDerivedLabelRequest"
      },
      "output": {
        "target": "com.chronosphere.api#Configv1CreateDerivedLabelResponse"
      },
      "errors": [
        {
          "target": "com.chronosphere.api#BadRequest"
        },
        {
          "target": "com.chronosphere.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/config/derived-labels",
          "code": 200
        }
      }
    },
    "com.chronosphere.api#ReadDerivedLabelRequest": {
      "type": "structure",
      "members": {
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.chronosphere.api#Configv1ReadDerivedLabelResponse": {
      "type": "structure",
      "members": {
        "derived_label": {
          "target": "com.chronosphere.api#Configv1DerivedLabel"
        }
      },
      "traits": {}
    },
    "com.chronosphere.api#ReadDerivedLabel": {
      "type": "operation",
      "input": {
        "target": "com.chronosphere.api#ReadDerivedLabelRequest"
      },
      "output": {
        "target": "com.chronosphere.api#Configv1ReadDerivedLabelResponse"
      },
      "errors": [
        {
          "target": "com.chronosphere.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/config/derived-labels/{slug}",
          "code": 200
        }
      }
    },
    "com.chronosphere.api#UpdateDerivedLabelRequest": {
      "type": "structure",
      "members": {
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "derived_label": {
          "target": "com.chronosphere.api#Configv1DerivedLabelInput"
        },
        "create_if_missing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the DerivedLabel will be created if it does not already exist, identified by slug. If false, an error will be returned if the DerivedLabel does not already exist."
          }
        },
        "dry_run": {
          "target": "smithy.api#Boolean",
          "traits": {
[...]
