{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.adyen.checkout#PostApplePaySessionsRequest": {
      "type": "structure",
      "members": {
        "idempotencyKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "Idempotency-Key",
            "smithy.api#documentation": "A unique identifier for the message with a maximum of 64 characters (we recommend a UUID)."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the name that your shoppers will see in the Apple Pay interface.\n\nThe value returned as `configuration.merchantName` field from the [`/paymentMethods`](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post/paymentMethods) response.",
            "smithy.api#required": {}
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain name you provided when you added Apple Pay in your Customer Area.\n\nThis must match the `window.location.hostname` of the web shop.",
            "smithy.api#required": {}
          }
        },
        "merchantIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your merchant identifier registered with Apple Pay.\n\nUse the value of the `configuration.merchantId` field from the [`/paymentMethods`](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post/paymentMethods) response.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.adyen.checkout#ApplePaySessionResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base64 encoded data you need to [complete the Apple Pay merchant validation](https://docs.adyen.com/payment-methods/apple-pay/api-only?tab=adyen-certificate-validation_1#complete-apple-pay-session-validation).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.adyen.checkout#PostApplePaySessions": {
      "type": "operation",
      "input": {
        "target": "com.adyen.checkout#PostApplePaySessionsRequest"
      },
      "output": {
        "target": "com.adyen.checkout#ApplePaySessionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/applePay/sessions",
          "code": 200
        },
        "smithy.api#documentation": "Get an Apple Pay session\n\nYou need to use this endpoint if you have an API-only integration with Apple Pay which uses Adyen's Apple Pay certificate.\n\nThe endpoint returns the Apple Pay session data which you need to complete the [Apple Pay session validation](https://docs.adyen.com/payment-methods/apple-pay/api-only?tab=adyen-certificate-validation_1#complete-apple-pay-session-validation)."
      }
    },
    "com.adyen.checkout#ApplicationInfo": {
      "type": "structure",
      "members": {
        "adyenLibrary": {
          "target": "com.adyen.checkout#CommonField",
          "traits": {
            "smithy.api#documentation": "Adyen-developed software, such as libraries and plugins, used to interact with the Adyen API. For example, Magento plugin, Java API library, etc."
          }
        },
        "adyenPaymentSource": {
          "target": "com.adyen.checkout#CommonField",
          "traits": {
            "smithy.api#documentation": "Adyen-developed software to get payment details. For example, Checkout SDK, Secured Fields SDK, etc."
          }
        },
        "externalPlatform": {
          "target": "com.adyen.checkout#ExternalPlatform",
          "traits": {
            "smithy.api#documentation": "Third-party developed platform used to initiate payment requests. For example, Magento, Zuora, etc."
          }
        },
        "merchantApplication": {
          "target": "com.adyen.checkout#CommonField",
          "traits": {
            "smithy.api#documentation": "Merchant developed software, such as cashier application, used to interact with the Adyen API."
          }
        },
        "merchantDevice": {
          "target": "com.adyen.checkout#MerchantDevice",
          "traits": {
            "smithy.api#documentation": "Merchant device information."
          }
        },
        "shopperInteractionDevice": {
          "target": "com.adyen.checkout#ShopperInteractionDevice",
          "traits": {
            "smithy.api#documentation": "Shopper interaction device, such as terminal, mobile device or web browser, to initiate payment requests."
          }
        }
      },
      "traits": {}
    },
    "com.adyen.checkout#CommonField": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the field. For example, Name of External Platform."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the field. For example, Version of External Platform."
          }
        }
      },
      "traits": {}
    },
    "com.adyen.checkout#ExternalPlatform": {
      "type": "structure",
      "members": {
        "integrator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "External platform integrator."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the field. For example, Name of External Platform."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the field. For example, Version of External Platform."
          }
        }
      },
      "traits": {}
    },
    "com.adyen.checkout#MerchantDevice": {
      "type": "structure",
      "members": {
        "os": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operating system running on the merchant device."
          }
        },
        "osVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the operating system on the merchant device."
          }
        },
        "reference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Merchant device reference."
          }
        }
      },
      "traits": {}
    },
    "com.adyen.checkout#ShopperInteractionDevice": {
      "type": "structure",
      "members": {
        "locale": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Locale on the shopper interaction device."
          }
        },
        "os": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operating system running on the shopper interaction device."
          }
        },
        "osVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the operating system on the shopper interaction device."
          }
        }
      },
      "traits": {}
    },
    "com.adyen.checkout#PostCancelsRequest": {
      "type": "structure",
      "members": {
        "idempotencyKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "Idempotency-Key",
            "smithy.api#documentation": "A unique identifier for the message with a maximum of 64 characters (we recommend a UUID)."
          }
        },
        "applicationInfo": {
          "target": "com.adyen.checkout#ApplicationInfo",
          "traits": {
            "smithy.api#documentation": "Information about your application. For more details, see [Building Adyen solutions](https://docs.adyen.com/development-resources/building-adyen-solutions)."
          }
        },
        "merchantAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The merchant account that is used to process the payment.",
            "smithy.api#required": {}
          }
        },
        "paymentReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [`reference`](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post/payments__reqParam_reference) of the payment that you want to cancel.",
            "smithy.api#required": {}
          }
        },
        "reference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your reference for the cancel request. Maximum length: 80 characters."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.adyen.checkout#StandalonePaymentCancelResponse": {
      "type": "structure",
      "members": {
        "merchantAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The merchant account that is used to process the payment.",
            "smithy.api#required": {}
          }
        },
        "paymentReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [`reference`](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post/payments__reqParam_reference) of the payment to cancel.",
            "smithy.api#required": {}
          }
        },
        "pspReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Adyen's 16-character reference associated with the cancel request.",
            "smithy.api#required": {}
          }
        },
        "reference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your reference for the cancel request."
          }
        },
        "status": {
          "target": "com.adyen.checkout#StandalonePaymentCancelResponseStatus",
          "traits": {
            "smithy.api#documentation": "The status of your request. This will always have the value **received**.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.adyen.checkout#StandalonePaymentCancelResponseStatus": {
      "type": "enum",
      "members": {
        "RECEIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "received"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of your request. This will always have the value **received**."
      }
    },
    "com.adyen.checkout#PostCancels": {
      "type": "operation",
      "input": {
        "target": "com.adyen.checkout#PostCancelsRequest"
      },
      "output": {
        "target": "com.adyen.checkout#StandalonePaymentCancelResponse"
      },
      "errors": [
        {
          "target": "com.adyen.checkout#BadRequest"
        },
        {
          "target": "com.adyen.checkout#Forbidden"
        },
        {
          "target": "com.adyen.checkout#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/cancels",
          "code": 200
        },
        "smithy.api#documentation": "Cancel an authorised payment\n\nCancels the authorisation on a payment that has not yet been [captured](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post/payments/{paymentPspReference}/captures), and returns a unique reference for this request. You get the outcome of the request asynchronously, in a [**TECHNICAL_CANCEL** webhook](https://docs.adyen.com/online-payments/cancel#cancellation-webhook).\n\nIf you want to cancel a payment using the [`pspReference`](https://docs.adyen.com/api-explorer/Checkout/latest/post/payments#responses-200-pspReference), use the [`/payments/{paymentPspReference}/cancels`](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post/payments/{paymentPspReference}/cancels) endpoint instead.\n\nIf you want to cancel a payment but are not sure whether it has been captured, use the [`/payments/{paymentPspReference}/reversals`](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post/payments/{paymentPspReference}/reversals) endpoint instead.\n\nFor more information, refer to [Cancel](https://docs.adyen.com/online-payments/cancel)."
      }
    },
    "com.adyen.checkout#PostCardDetailsRequestSupportedBrandsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The card brands you support. This is the [`brands`](https://docs.adyen.com/api-explorer/Checkout/latest/post/paymentMethods#responses-200-paymentMethods-brands) array from your [`/paymentMethods`](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post/paymentMethods) response. \n\nIf not included, our API uses the ones configured for your merchant account and, if provided, the country code."
      }
    },
    "com.adyen.checkout#PostCardDetailsRequest": {
      "type": "structure",
      "members": {
        "idempotencyKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "Idempotency-Key",
            "smithy.api#documentation": "A unique identifier for the message with a maximum of 64 characters (we recommend a UUID)."
          }
        },
        "cardNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A minimum of the first six digits of the card number. The full card number gives the best result. \n\nYou must be [fully PCI compliant](https://docs.adyen.com/development-resources/pci-dss-compliance-guide) to collect raw card data. Alternatively, you can use the `encryptedCardNumber` field."
          }
        },
        "countryCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The shopper country code.\n\nFormat: [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)\nExample: NL or DE"
          }
        },
        "encryptedCardNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The encrypted card number."
          }
        },
        "merchantAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The merchant account identifier, with which you want to process the transaction.",
            "smithy.api#required": {}
          }
        },
        "supportedBrands": {
          "target": "com.adyen.checkout#PostCardDetailsRequestSupportedBrandsList",
          "traits": {
            "smithy.api#documentation": "The card brands you support. This is the [`brands`](https://docs.adyen.com/api-explorer/Checkout/latest/post/paymentMethods#responses-200-paymentMethods-brands) array from your [`/paymentMethods`](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post/paymentMethods) response. \n\nIf not included, our API uses the ones configured for your merchant account and, if provided, the country code."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.adyen.checkout#CardDetailsResponse": {
      "type": "structure",
      "members": {
        "brands": {
          "target": "com.adyen.checkout#CardDetailsResponseBrandsList",
          "traits": {
            "smithy.api#documentation": "The list of brands identified for the card."
          }
        },
        "fundingSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The funding source of the card, for example **DEBIT**, **CREDIT**, or **PREPAID**."
          }
        },
        "isCardCommercial": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this is a commercial card or a consumer card. If **true**, it is a commercial card. If **false**, it is a consumer card."
          }
        },
        "issuingCountryCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The two-letter country code  of the country where the card was issued."
          }
        }
      },
      "traits": {}
    },
    "com.adyen.checkout#CardBrandDetails": {
      "type": "structure",
      "members": {
        "healthcare": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the card supports FSA/HSA healthcare payments."
          }
        },
        "supported": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if you support the card brand."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the card brand."
          }
        }
      },
      "traits": {}
    },
    "com.adyen.checkout#CardDetailsResponseBrandsList": {
      "type": "list",
      "member": {
        "target": "com.adyen.checkout#CardBrandDetails"
      },
      "traits": {
        "smithy.api#documentation": "The list of brands identified for the card."
      }
    },
    "com.adyen.checkout#PostCardDetails": {
      "type": "operation",
      "input": {
        "target": "com.adyen.checkout#PostCardDetailsRequest"
      },
      "output": {
        "target": "com.adyen.checkout#CardDetailsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/cardDetails",
          "code": 200
        },
        "smithy.api#documentation": "Get the brands and other details of a card\n\nUse this endpoint to get information about the card or network token that enables you to decide on the routing of the transaction and the eligibility of the card for the type of transaction.\n\nIf you include [your supported brands](https://docs.adyen.com/api-explorer/#/CheckoutService/latest/post/cardDetails__reqParam_supportedBrands) in the request, the response also tells you if you support each [brand that was identified on the card](https://docs.adyen.com/api-explorer/Checkout/latest/post/cardDetails#responses-200-brands).\n\nIf you have an API-only integration and collect card data, use this endpoint to find out if the shopper's card is co-bad. For co-badged cards, you must let the shopper choose the brand to pay with  if you support both brands.\n\n## Server-side API libraries\nWe provide open-source [server-side API libraries](https://docs.adyen.com/development-resources/libraries/) in several languages: \n- PHP\n- Java\n- Node.js\n- .NET\n- Go\n- Python\n- Ruby\n- Apex (beta)\n\nSee our [integration examples](https://github.com/adyen-examples#%EF%B8%8F-official-integration-examples) for example uses of the libraries.\n\n## Developer resources\nBIN Lookup API is available through a Postman collection. Click the button below to create a fork, then set the environment variables at **Environments**&nbsp;>&nbsp;**Adyen&nbsp;APIs**. \n\n[![Run in Postman](https://run.pstmn.io/button.svg)](https://god.gw.postman.com/run-collection/25716737-677c7679-a695-4ebb-91da-68b4e7c9228a?action=collection%2Ffork&source=rip_markdown&collection-url=entityId%3D25716737-677c7679-a695-4ebb-91da-68b4e7c9228a%26entityType%3Dcollection%26workspaceId%3Da8d63f9f-cfc7-4810-90c5-9e0c60030d3e#?env%5BAdyen%20APIs%5D=W3sia2V5IjoiWC1BUEktS2V5IiwidmFsdWUiOiIiLCJlbmFibGVkIjp0cnVlLCJ0eXBlIjoic2VjcmV0In0seyJrZXkiOiJZT1VSX01FUkNIQU5UX0FDQ09VTlQiLCJ2YWx1ZSI6IiIsImVuYWJsZWQiOnRydWUsInR5cGUiOiJkZWZhdWx0In0seyJrZXkiOiJZT1VSX0NPTVBBTllfQUNDT1VOVCIsInZhbHVlIjoiIiwiZW5hYmxlZCI6dHJ1ZSwidHlwZSI6ImRlZmF1bHQifSx7ImtleSI6IllPVVJfQkFMQU5DRV9QTEFURk9STSIsInZhbHVlIjoiIiwiZW5hYmxlZCI6dHJ1ZSwidHlwZSI6ImRlZmF1bHQifV0=)"
      }
    },
    "com.adyen.checkout#PostDonationCampaignsRequest": {
      "type": "structure",
      "members": {
        "idempotencyKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "Idempotency-Key",
            "smithy.api#documentation": "A unique identifier for the message with a maximum of 64 characters (we recommend a UUID)."
          }
        },
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The three-character [ISO currency code](https://docs.adyen.com/development-resources/currency-codes/).",
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The label that is assigned to the donation campaign."
          }
        },
        "locale": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Locale on the shopper interaction device."
          }
        },
        "merchantAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your merchant account identifier.",
            "smithy.api#required": {}
          }
        },
        "store": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required for Adyen for Platforms integrations if you are a platform model. This is your [reference](https://docs.adyen.com/api-explorer/Management/3/post/merchants/(merchantId)/stores#request-reference) (on [balance platform](https://docs.adyen.com/platforms)) or the [storeReference](https://docs.adyen.com/api-explorer/Account/latest/post/updateAccountHolder#request-accountHolderDetails-storeDetails-storeReference) (in the [classic integration](https://docs.adyen.com/classic-platforms/processing-payments/route-payment-to-store/#route-a-payment-to-a-store)) for the ecommerce or point-of-sale store that is processing the payment."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.adyen.checkout#DonationCampaignsResponse": {
      "type": "structure",
      "members": {
        "donationCampaigns": {
          "target": "com.adyen.checkout#DonationCampaignsResponseDonationCampaignsList",
          "traits": {
            "smithy.api#documentation": "List of active donation campaigns for your merchant account."
          }
        }
      },
      "traits": {}
    },
    "com.adyen.checkout#DonationCampaign": {
      "type": "structure",
      "members": {
        "amounts": {
          "target": "com.adyen.checkout#Amounts",
          "traits": {
            "smithy.api#documentation": "The object that contains the fixed donation amounts that the shopper can select from."
          }
        },
        "bannerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL for the banner of the nonprofit or campaign."
          }
        },
        "campaignName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the donation campaign.."
          }
        },
        "causeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cause of the nonprofit."
          }
        },
        "donation": {
          "target": "com.adyen.checkout#Donation",
          "traits": {
            "smithy.api#documentation": "The object that contains the details of the donation."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique campaign ID of the donation campaign."
          }
        },
        "logoUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL for the logo of the nonprofit."
          }
        },
        "nonprofitDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the nonprofit."
          }
        },
        "nonprofitName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the nonprofit organization that receives the donation."
          }
        },
        "nonprofitUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The website URL of the nonprofit."
          }
        },
        "termsAndConditionsUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the terms and conditions page of the nonprofit and the campaign."
          }
        }
      },
      "traits": {}
    },
    "com.adyen.checkout#Amounts": {
      "type": "structure",
      "members": {
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The three-character [ISO currency code](https://docs.adyen.com/development-resources/currency-codes/).",
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.adyen.checkout#AmountsValuesList",
          "traits": {
            "smithy.api#documentation": "The amounts of the donation (in [minor units](https://docs.adyen.com/development-resources/currency-codes/)).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.adyen.checkout#AmountsValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "The amounts of the donation (in [minor units](https://docs.adyen.com/development-resources/currency-codes/))."
      }
    },
    "com.adyen.checkout#Donation": {
      "type": "structure",
      "members": {
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The three-character [ISO currency code](https://docs.adyen.com/development-resources/currency-codes/).",
            "smithy.api#required": {}
          }
        },
        "donationType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [type of donation](https://docs.adyen.com/online-payments/donations/#donation-types).\n\nPossible values:\n* **roundup**: a donation where the original transaction amount is rounded up as a donation.\n* **fixedAmounts**: a donation where you show fixed donations amounts that the shopper can select from."
          }
        },
        "maxRoundupAmount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum amount a transaction can be rounded up to make a donation. This field is only present when `donationType` is **roundup**."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [type of donation](https://docs.adyen.com/online-payments/donations/#donation-types).\n\nPossible values:\n* **roundup**: a donation where the original transaction amount is rounded up as a donation.\n* **fixedAmounts**: a donation where you show fixed donation amounts that the shopper can select from.",
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.adyen.checkout#DonationValuesList",
          "traits": {
            "smithy.api#documentation": "The fixed donation amounts in [minor units](https://docs.adyen.com/development-resources/currency-codes//#minor-units). This field is only present when `donationType` is **fixedAmounts**."
          }
        }
      },
      "traits": {}
    },
    "com.adyen.checkout#DonationValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "The fixed donation amounts in [minor units](https://docs.adyen.com/development-resources/currency-codes//#minor-units). This field is only present when `donationType` is **fixedAmounts**."
      }
    },
    "com.adyen.checkout#DonationCampaignsResponseDonationCampaignsList": {
      "type": "list",
      "member": {
        "target": "com.adyen.checkout#DonationCampaign"
      },
      "traits": {
        "smithy.api#documentation": "List of active donation campaigns for your merchant account."
      }
    },
    "com.adyen.checkout#PostDonationCampaigns": {
      "type": "operation",
      "input": {
        "target": "com.adyen.checkout#PostDonationCampaignsRequest"
      },
      "output": {
        "target": "com.adyen.checkout#DonationCampaignsResponse"
      },
      "errors": [
        {
          "target": "com.adyen.checkout#BadRequest"
        },
        {
          "target": "com.adyen.checkout#Forbidden"
        },
        {
          "target": "com.adyen.checkout#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/donationCampaigns",
          "code": 200
        },
        "smithy.api#documentation": "Get a list of donation campaigns.\n\nQueries the available donation campaigns for a donation based on the donation context (like merchant account, currency, and locale). The response contains active donation campaigns."
      }
    },
    "com.adyen.checkout#AccountInfo": {
      "type": "structure",
      "members": {
        "accountAgeIndicator": {
          "target": "com.adyen.checkout#AccountInfoAccountAgeIndicator",
          "traits": {
            "smithy.api#documentation": "Indicator for the length of time since this shopper account was created in the merchant's environment.\nAllowed values:\n* notApplicable\n* thisTransaction\n* lessThan30Days\n* from30To60Days\n* moreThan60Days"
          }
        },
        "accountChangeDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date when the shopper's account was last changed."
          }
        },
        "accountChangeIndicator": {
          "target": "com.adyen.checkout#AccountInfoAccountChangeIndicator",
          "traits": {
            "smithy.api#documentation": "Indicator for the length of time since the shopper's account was last updated.\nAllowed values:\n* thisTransaction\n* lessThan30Days\n* from30To60Days\n* moreThan60Days"
          }
        },
        "accountCreationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date when the shopper's account was created."
          }
        },
        "accountType": {
          "target": "com.adyen.checkout#AccountInfoAccountType",
          "traits": {
            "smithy.api#documentation": "Indicates the type of account. For example, for a multi-account card product.\nAllowed values:\n* notApplicable\n* credit\n* debit"
          }
        },
        "addCardAttemptsDay": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of attempts the shopper tried to add a card to their account in the last day."
          }
        },
        "deliveryAddressUsageDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date the selected delivery address was first used."
          }
        },
        "deliveryAddressUsageIndicator": {
          "target": "com.adyen.checkout#AccountInfoDeliveryAddressUsageIndicator",
          "traits": {
            "smithy.api#documentation": "Indicator for the length of time since this delivery address was first used.\nAllowed values:\n* thisTransaction\n* lessThan30Days\n* from30To60Days\n* moreThan60Days"
          }
        },
        "homePhone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Shopper's home phone number (including the country code)."
          }
        },
        "mobilePhone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Shopper's mobile phone number (including the country code)."
          }
        },
        "passwordChangeDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date when the shopper last changed their password.",
            "smithy.api#sensitive": {}
          }
        },
        "passwordChangeIndicator": {
          "target": "com.adyen.checkout#AccountInfoPasswordChangeIndicator",
          "traits": {
            "smithy.api#documentation": "Indicator when the shopper has changed their password.\nAllowed values:\n* notApplicable\n* thisTransaction\n* lessThan30Days\n* from30To60Days\n* moreThan60Days"
          }
        },
        "pastTransactionsDay": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of all transactions (successful and abandoned) from this shopper in the past 24 hours."
          }
        },
        "pastTransactionsYear": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of all transactions (successful and abandoned) from this shopper in the past year."
          }
        },
        "paymentAccountAge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date this payment method was added to the shopper's account."
          }
        },
        "paymentAccountIndicator": {
          "target": "com.adyen.checkout#AccountInfoPaymentAccountIndicator",
          "traits": {
            "smithy.api#documentation": "Indicator for the length of time since this payment method was added to this shopper's account.\nAllowed values:\n* notApplicable\n* thisTransaction\n* lessThan30Days\n* from30To60Days\n* moreThan60Days"
          }
        },
        "purchasesLast6Months": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of successful purchases in the last six months."
          }
        },
        "suspiciousActivity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether suspicious activity was recorded on this account."
          }
        },
        "workPhone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Shopper's work phone number (including the country code)."
          }
        }
      },
      "traits": {}
    },
    "com.adyen.checkout#AccountInfoAccountAgeIndicator": {
      "type": "enum",
      "members": {
        "NOTAPPLICABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "notApplicable"
          }
        },
        "THISTRANSACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thisTransaction"
          }
        },
        "LESSTHAN30DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lessThan30Days"
          }
        },
        "FROM30TO60DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "from30To60Days"
          }
        },
        "MORETHAN60DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "moreThan60Days"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicator for the length of time since this shopper account was created in the merchant's environment.\nAllowed values:\n* notApplicable\n* thisTransaction\n* lessThan30Days\n* from30To60Days\n* moreThan60Days"
      }
    },
    "com.adyen.checkout#AccountInfoAccountChangeIndicator": {
      "type": "enum",
      "members": {
        "THISTRANSACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thisTransaction"
          }
        },
        "LESSTHAN30DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lessThan30Days"
          }
        },
        "FROM30TO60DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "from30To60Days"
          }
        },
        "MORETHAN60DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "moreThan60Days"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicator for the length of time since the shopper's account was last updated.\nAllowed values:\n* thisTransaction\n* lessThan30Days\n* from30To60Days\n* moreThan60Days"
      }
    },
    "com.adyen.checkout#AccountInfoAccountType": {
      "type": "enum",
      "members": {
        "NOTAPPLICABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "notApplicable"
          }
        },
        "CREDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "credit"
          }
        },
        "DEBIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "debit"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates the type of account. For example, for a multi-account card product.\nAllowed values:\n* notApplicable\n* credit\n* debit"
      }
    },
    "com.adyen.checkout#AccountInfoDeliveryAddressUsageIndicator": {
      "type": "enum",
      "members": {
        "THISTRANSACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thisTransaction"
          }
        },
        "LESSTHAN30DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lessThan30Days"
          }
        },
        "FROM30TO60DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "from30To60Days"
          }
        },
        "MORETHAN60DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "moreThan60Days"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicator for the length of time since this delivery address was first used.\nAllowed values:\n* thisTransaction\n* lessThan30Days\n* from30To60Days\n* moreThan60Days"
      }
    },
    "com.adyen.checkout#AccountInfoPasswordChangeIndicator": {
      "type": "enum",
      "members": {
        "NOTAPPLICABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "notApplicable"
          }
        },
        "THISTRANSACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thisTransaction"
          }
        },
        "LESSTHAN30DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lessThan30Days"
          }
        },
        "FROM30TO60DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "from30To60Days"
          }
        },
        "MORETHAN60DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "moreThan60Days"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicator when the shopper has changed their password.\nAllowed values:\n* notApplicable\n* thisTransaction\n* lessThan30Days\n* from30To60Days\n* moreThan60Days"
      }
    },
    "com.adyen.checkout#AccountInfoPaymentAccountIndicator": {
      "type": "enum",
      "members": {
        "NOTAPPLICABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "notApplicable"
          }
        },
        "THISTRANSACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thisTransaction"
          }
        },
        "LESSTHAN30DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lessThan30Days"
          }
        },
        "FROM30TO60DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "from30To60Days"
          }
        },
        "MORETHAN60DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "moreThan60Days"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicator for the length of time since this payment method was added to this shopper's account.\nAllowed values:\n* notApplicable\n* thisTransaction\n* lessThan30Days\n* from30To60Days\n* moreThan60Days"
      }
    },
    "com.adyen.checkout#Amount": {
      "type": "structure",
      "members": {
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The three-character [ISO currency code](https://docs.adyen.com/development-resources/currency-codes#currency-codes) of the amount.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The numeric value of the amount, in [minor units](https://docs.adyen.com/development-resources/currency-codes#minor-units).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.adyen.checkout#AuthenticationData": {
      "type": "structure",
      "members": {
        "attemptAuthentication": {
          "target": "com.adyen.checkout#AuthenticationDataAttemptAuthentication",
          "traits": {
            "smithy.api#documentation": "Indicates when 3D Secure authentication should be attempted. This overrides all other rules, including [Dynamic 3D Secure settings](https://docs.adyen.com/risk-management/dynamic-3d-secure).\n\nPossible values:\n\n* **always**: Perform 3D Secure authentication.\n* **never**: Don't perform 3D Secure authentication. If PSD2 SCA or other national regulations require authentication, the transaction gets declined."
          }
        },
        "authenticationOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Required to trigger the [authentication-only flow](https://docs.adyen.com/online-payments/3d-secure/authentication-only/). If set to **true**, you will only perform the 3D Secure 2 authentication, and will not proceed to the payment authorization.\nDefault: **false**."
          }
        },
        "threeDSRequestData": {
          "target": "com.adyen.checkout#ThreeDSRequestData",
          "traits": {
            "smithy.api#documentation": "Object with additional parameters for the 3D Secure authentication flow."
          }
        }
      },
      "traits": {}
    },
    "com.adyen.checkout#AuthenticationDataAttemptAuthentication": {
      "type": "enum",
      "members": {
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "always"
          }
        },
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "never"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates when 3D Secure authentication should be attempted. This overrides all other rules, including [Dynamic 3D Secure settings](https://docs.adyen.com/risk-management/dynamic-3d-secure).\n\nPossible values:\n\n* **always**: Perform 3D Secure authentication.\n* **never**: Don't perform 3D Secure authentication. If PSD2 SCA or other national regulations require authentication, the transaction gets declined."
      }
    },
    "com.adyen.checkout#ThreeDSRequestData": {
      "type": "structure",
      "members": {
        "challengeWindowSize": {
          "target": "com.adyen.checkout#ThreeDSRequestDataChallengeWindowSize",
          "traits": {
            "smithy.api#documentation": "Dimensions of the 3DS2 challenge window to be displayed to the cardholder.\n\nPossible values:\n\n* **01** - size of 250x400 \n* **02** - size of 390x400\n* **03** - size of 500x600\n* **04** - size of 600x400\n* **05** - Fullscreen"
          }
        },
        "dataOnly": {
          "target": "com.adyen.checkout#ThreeDSRequestDataDataOnly",
          "traits": {
            "smithy.api#documentation": "Required to trigger the [data-only flow](https://docs.adyen.com/online-payments/3d-secure/data-only/). When set to **true**, forces the 3D Secure 2 data-only flow for all transactions where it is possible. "
          }
        },
        "nativeThreeDS": {
          "target": "com.adyen.checkout#ThreeDSRequestDataNativeThreeDS",
          "traits": {
            "smithy.api#documentation": "Indicates if [native 3D Secure authentication](https://docs.adyen.com/online-payments/3d-secure/native-3ds2) should be triggered when available. Adyen can still select to fallback to the redirect flow to optimize authorization rates and improve the shopper's experience.\n\nPossible values:\n* **preferred**: Use native 3D Secure authentication when available.\n* **disabled**: Use the redirect 3D Secure authentication flow."
          }
        },
        "threeDSVersion": {
          "target": "com.adyen.checkout#ThreeDSRequestDataThreeDSVersion",
          "traits": {
            "smithy.api#documentation": "The version of 3D Secure to use.\n\nPossible values:\n\n* **2.1.0**\n* **2.2.0**"
          }
        }
      },
      "traits": {}
    },
    "com.adyen.checkout#ThreeDSRequestDataChallengeWindowSize": {
      "type": "enum",
      "members": {
        "_01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "01"
          }
        },
        "_02": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "02"
          }
        },
        "_03": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "03"
          }
        },
        "_04": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "04"
          }
        },
        "_05": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "05"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dimensions of the 3DS2 challenge window to be displayed to the cardholder.\n\nPossible values:\n\n* **01** - size of 250x400 \n* **02** - size of 390x400\n* **03** - size of 500x600\n* **04** - size of 600x400\n* **05** - Fullscreen"
      }
    },
    "com.adyen.checkout#ThreeDSRequestDataDataOnly": {
      "type": "enum",
      "members": {
        "FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "false"
          }
        },
        "TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "true"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Required to trigger the [data-only flow](https://docs.adyen.com/online-payments/3d-secure/data-only/). When set to **true**, forces the 3D Secure 2 data-only flow for all transactions where it is possible. "
      }
    },
    "com.adyen.checkout#ThreeDSRequestDataNativeThreeDS": {
      "type": "enum",
      "members": {
        "PREFERRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preferred"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates if [native 3D Secure authentication](https://docs.adyen.com/online-payments/3d-secure/native-3ds2) should be triggered when available. Adyen can still select to fallback to the redirect flow to optimize authorization rates and improve the shopper's experience.\n\nPossible values:\n* **preferred**: Use native 3D Secure authentication when available.\n* **disabled**: Use the redirect 3D Secure authentication flow."
      }
    },
    "com.adyen.checkout#ThreeDSRequestDataThreeDSVersion": {
      "type": "enum",
      "members": {
        "_2_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "2.1.0"
          }
        },
        "_2_2_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "2.2.0"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The version of 3D Secure to use.\n\nPossible values:\n\n* **2.1.0**\n* **2.2.0**"
      }
    },
    "com.adyen.checkout#BillingAddress": {
      "type": "structure",
      "members": {
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the city. Maximum length: 3000 characters.",
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The two-character ISO-3166-1 alpha-2 country code. For example, **US**.\n> If you don't know the country or are not collecting the country from the shopper, provide `country` as `ZZ`.",
            "smithy.api#required": {}
          }
        },
        "houseNumberOrName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number or name of the house. Maximum length: 3000 characters.",
            "smithy.api#required": {}
          }
        },
        "postalCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A maximum of five digits for an address in the US, or a maximum of ten characters for an address in all other countries.",
            "smithy.api#required": {}
          }
        },
        "stateOrProvince": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The two-character ISO 3166-2 state or province code. For example, **CA** in the US or **ON** in Canada.\n> Required for the US and Canada."
          }
        },
        "street": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the street. Maximum length: 3000 characters.\n> The house number should not be included in this field; it should be separately provided via `houseNumberOrName`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.adyen.checkout#BrowserInfo": {
      "type": "structure",
      "members": {
        "acceptHeader": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The accept header value of the shopper's browser.",
            "smithy.api#required": {}
          }
        },
        "colorDepth": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The color depth of the shopper's browser in bits per pixel. This should be obtained by using the browser's `screen.colorDepth` property. Accepted values: 1, 4, 8, 15, 16, 24, 30, 32 or 48 bit color depth.",
            "smithy.api#required": {}
          }
        },
        "javaEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Boolean value indicating if the shopper's browser is able to execute Java.",
            "smithy.api#required": {}
          }
        },
        "javaScriptEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Boolean value indicating if the shopper's browser is able to execute JavaScript. A default 'true' value is assumed if the field is not present."
          }
        },
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `navigator.language` value of the shopper's browser (as defined in IETF BCP 47).",
            "smithy.api#required": {}
          }
        },
        "screenHeight": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total height of the shopper's device screen in pixels.",
            "smithy.api#required": {}
          }
        },
        "screenWidth": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total width of the shopper's device screen in pixels.",
            "smithy.api#required": {}
          }
        },
        "timeZoneOffset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Time difference between UTC time and the shopper's browser local time, in minutes.",
            "smithy.api#required": {}
          }
        },
        "userAgent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user agent value of the shopper's browser.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.adyen.checkout#PostDonationsRequestChannel": {
      "type": "enum",
      "members": {
        "IOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "iOS"
          }
        },
        "ANDROID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Android"
          }
        },
        "WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Web"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The platform where a payment transaction takes place. This field is optional for filtering out payment methods that are only available on specific platforms. If this value is not set, then we will try to infer it from the `sdkVersion` or `token`.\n\nPossible values:\n* iOS\n* Android\n* Web"
      }
    },
    "com.adyen.checkout#DeliveryAddress": {
      "type": "structure",
      "members": {
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the city. Maximum length: 3000 characters.",
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The two-character ISO-3166-1 alpha-2 country code. For example, **US**.\n> If you don't know the country or are not collecting the country from the shopper, provide `country` as `ZZ`.",
            "smithy.api#required": {}
          }
        },
        "firstName": {
          "target": "smithy.api#String"
        },
        "houseNumberOrName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number or name of the house. Maximum length: 3000 characters.",
            "smithy.api#required": {}
          }
        },
        "lastName": {
          "target": "smithy.api#String"
        },
        "postalCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A maximum of five digits for an address in the US, or a maximum of ten characters for an address in all other countries.",
            "smithy.api#required": {}
          }
        },
        "stateOrProvince": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The two-character ISO 3166-2 state or province code. For example, **CA** in the US or **ON** in Canada.\n> Required for the US and Canada."
          }
        },
        "street": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the street. Maximum length: 3000 characters.\n> The house number should not be included in this field; it should be separately provided via `houseNumberOrName`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.adyen.checkout#LineItem": {
      "type": "structure",
      "members": {
        "amountExcludingTax": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Item amount excluding the tax, in [minor units](https://docs.adyen.com/development-resources/currency-codes/#minor-units)."
          }
        },
        "amountIncludingTax": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Item amount including the tax, in [minor units](https://docs.adyen.com/development-resources/currency-codes/#minor-units)."
          }
        },
        "brand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Brand of the item."
          }
        },
        "color": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Color of the item."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the line item."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the line item."
          }
        },
        "imageUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to the picture of the purchased item."
          }
        },
        "itemCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Item category, used by the payment methods PayPal and Ratepay."
          }
        },
        "manufacturer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Manufacturer of the item."
          }
        },
        "marketplaceSellerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Marketplace seller id."
          }
        },
        "productUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to the purchased item."
          }
        },
        "quantity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of items."
          }
        },
        "receiverEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email associated with the given product in the basket (usually in electronic gift cards)."
          }
        },
        "returnShippingCompany": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Shipping company handling the return of the item."
          }
        },
        "returnTrackingNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tracking number for the return of the item."
          }
        },
        "returnTrackingUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tracking URI for the return of the item."
          }
        },
        "shippingCompany": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Shipping company handling the delivery of the item."
          }
        },
        "shippingMethod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Shipping method used to deliver the item."
          }
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Size of the item."
          }
        },
        "sku": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stock keeping unit."
          }
        },
        "taxAmount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Tax amount, in [minor units](https://docs.adyen.com/development-resources/currency-codes/#minor-units)."
          }
        },
        "taxPercentage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Tax percentage, represented as a [basis point](https://en.wikipedia.org/wiki/Basis_point) integer. For example:\n - **530** for 5.3% (five point three percent) \n - **2100** for 21% (twenty-one percent)"
          }
        },
        "trackingNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tracking number for the delivery of the item."
          }
        },
        "trackingUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tracking URI for the delivery of the item."
          }
        },
        "upc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Universal Product Code."
          }
        }
      },
      "traits": {}
    },
    "com.adyen.checkout#PostDonationsRequestLineItemsList": {
      "type": "list",
      "member": {
        "target": "com.adyen.checkout#LineItem"
      },
      "traits": {
        "smithy.api#documentation": "Price and product information about the purchased items, to be included on the invoice sent to the shopper.\n> This field is required for 3x 4x Oney, Affirm, Afterpay, Clearpay, Klarna, Ratepay, and Riverty."
      }
    },
    "com.adyen.checkout#MerchantRiskIndicator": {
      "type": "structure",
      "members": {
        "addressMatch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the chosen delivery address is identical to the billing address."
          }
        },
        "deliveryAddressIndicator": {
          "target": "com.adyen.checkout#MerchantRiskIndicatorDeliveryAddressIndicator",
          "traits": {
            "smithy.api#documentation": "Indicator regarding the delivery address.\nAllowed values:\n* `shipToBillingAddress`\n* `shipToVerifiedAddress`\n* `shipToNewAddress`\n* `shipToStore`\n* `digitalGoods`\n* `goodsNotShipped`\n* `other`"
          }
        },
        "deliveryEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The delivery email address (for digital goods)."
          }
        },
        "deliveryEmailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For Electronic delivery, the email address to which the merchandise was delivered. Maximum length: 254 characters."
          }
        },
        "deliveryTimeframe": {
          "target": "com.adyen.checkout#MerchantRiskIndicatorDeliveryTimeframe",
          "traits": {
            "smithy.api#documentation": "The estimated delivery time for the shopper to receive the goods.\nAllowed values:\n* `electronicDelivery`\n* `sameDayShipping`\n* `overnightShipping`\n* `twoOrMoreDaysShipping`"
          }
        },
        "giftCardAmount": {
          "target": "com.adyen.checkout#Amount",
          "traits": {
            "smithy.api#documentation": "For prepaid or gift card purchase, the purchase amount total of prepaid or gift card(s)."
          }
        },
        "giftCardCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "For prepaid or gift card purchase, total count of individual prepaid or gift cards/codes purchased."
          }
        },
        "giftCardCurr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For prepaid or gift card purchase, [ISO 4217](https://www.iso.org/iso-4217-currency-codes.html) three-digit currency code of the gift card, other than those listed in Table A.5 of the EMVCo 3D Secure Protocol and Core Functions Specification."
          }
        },
        "preOrderDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For pre-order purchases, the expected date this product will be available to the shopper."
          }
        },
        "preOrderPurchase": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicator for whether this transaction is for pre-ordering a product."
          }
        },
        "preOrderPurchaseInd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates whether Cardholder is placing an order for merchandise with a future availability or release date."
          }
        },
        "reorderItems": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicator for whether the shopper has already purchased the same items in the past."
          }
        },
        "reorderItemsInd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates whether the cardholder is reordering previously purchased merchandise."
          }
        },
        "shipIndicator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates shipping method chosen for the transaction."
          }
        }
      },
      "traits": {}
    },
    "com.adyen.checkout#MerchantRiskIndicatorDeliveryAddressIndicator": {
      "type": "enum",
      "members": {
        "SHIPTOBILLINGADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shipToBillingAddress"
          }
        },
        "SHIPTOVERIFIEDADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shipToVerifiedAddress"
          }
        },
        "SHIPTONEWADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shipToNewAddress"
          }
        },
        "SHIPTOSTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shipToStore"
          }
        },
        "DIGITALGOODS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "digitalGoods"
          }
        },
        "GOODSNOTSHIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "goodsNotShipped"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicator regarding the delivery address.\nAllowed values:\n* `shipToBillingAddress`\n* `shipToVerifiedAddress`\n* `shipToNewAddress`\n* `shipToStore`\n* `digitalGoods`\n* `goodsNotShipped`\n* `other`"
      }
    },
    "com.adyen.checkout#MerchantRiskIndicatorDeliveryTimeframe": {
      "type": "enum",
      "members": {
        "ELECTRONICDELIVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "electronicDelivery"
          }
        },
        "SAMEDAYSHIPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sameDayShipping"
          }
        },
        "OVERNIGHTSHIPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "overnightShipping"
          }
        },
        "TWOORMOREDAYSSHIPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "twoOrMoreDaysShipping"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The estimated delivery time for the shopper to receive the goods.\nAllowed values:\n* `electronicDelivery`\n* `sameDayShipping`\n* `overnightShipping`\n* `twoOrMoreDaysShipping`"
      }
    },
    "com.adyen.checkout#PostDonationsRequestMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Metadata consists of entries, each of which includes a key and a value.\nLimits:\n* Maximum 20 key-value pairs per request. When exceeding, the \"177\" error occurs: \"Metadata size exceeds limit\".\n* Maximum 20 characters per key.\n* Maximum 80 characters per value. "
      }
    },
    "com.adyen.checkout#ThreeDSecureData": {
      "type": "structure",
      "members": {
        "authenticationResponse": {
          "target": "com.adyen.checkout#ThreeDSecureDataAuthenticationResponse",
          "traits": {
            "smithy.api#documentation": "In 3D Secure 2, this is the `transStatus` from the challenge result. If the transaction was frictionless, omit this parameter.\n\n"
          }
        },
        "cavv": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cardholder authentication value (base64 encoded, 20 bytes in a decoded form)."
          }
        },
        "cavvAlgorithm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CAVV algorithm used. Include this only for 3D Secure 1."
          }
        },
        "challengeCancel": {
          "target": "com.adyen.checkout#ThreeDSecureDataChallengeCancel",
          "traits": {
            "smithy.api#documentation": "Indicator informing the Access Control Server (ACS) and the Directory Server (DS) that the authentication has been cancelled. For possible values, refer to [3D Secure API reference](https://docs.adyen.com/online-payments/3d-secure/api-reference#mpidata)."
          }
        },
        "directoryResponse": {
          "target": "com.adyen.checkout#ThreeDSecureDataDirectoryResponse",
          "traits": {
            "smithy.api#documentation": "In 3D Secure 2, this is the `transStatus` from the `ARes`.\n\n"
          }
        },
        "dsTransID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Supported for 3D Secure 2. The unique transaction identifier assigned by the Directory Server (DS) to identify a single transaction."
          }
        },
        "eci": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The electronic commerce indicator."
          }
        },
        "riskScore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Risk score calculated by Directory Server (DS). Required for Cartes Bancaires integrations."
          }
        },
        "threeDSVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the 3D Secure protocol."
          }
        },
        "tokenAuthenticationVerificationValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Network token authentication verification value (TAVV). The network token cryptogram."
          }
        },
        "transStatusReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provides information on why the `transStatus` field has the specified value. For possible values, refer to [our docs](https://docs.adyen.com/online-payments/3d-secure/api-reference#possible-transstatusreason-values)."
          }
        },
        "xid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Supported for 3D Secure 1. The transaction identifier (Base64-encoded, 20 bytes in a decoded form)."
          }
        }
      },
      "traits": {}
    },
    "com.adyen.checkout#ThreeDSecureDataAuthenticationResponse": {
      "type": "enum",
      "members": {
        "Y": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Y"
          }
        },
        "N": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N"
          }
        },
        "U": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "U"
          }
        },
        "A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "In 3D Secure 2, this is the `transStatus` from the challenge result. If the transaction was frictionless, omit this parameter.\n\n"
      }
    },
    "com.adyen.checkout#ThreeDSecureDataChallengeCancel": {
      "type": "enum",
      "members": {
        "_01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "01"
          }
        },
        "_02": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "02"
          }
        },
        "_03": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "03"
          }
        },
        "_04": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "04"
          }
        },
        "_05": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "05"
          }
        },
        "_06": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "06"
          }
        },
        "_07": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "07"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicator informing the Access Control Server (ACS) and the Directory Server (DS) that the authentication has been cancelled. For possible values, refer to [3D Secure API reference](https://docs.adyen.com/online-payments/3d-secure/api-reference#mpidata)."
      }
    },
    "com.adyen.checkout#ThreeDSecureDataDirectoryResponse": {
      "type": "enum",
      "members": {
        "A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A"
          }
        },
        "C": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C"
          }
        },
        "D": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "D"
          }
        },
        "I": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "I"
          }
        },
        "N": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N"
          }
        },
        "R": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "R"
          }
        },
        "U": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "U"
          }
        },
        "Y": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Y"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "In 3D Secure 2, this is the `transStatus` from the `ARes`.\n\n"
      }
    },
    "com.adyen.checkout#ApplePayDonations": {
      "type": "structure",
      "members": {
        "applePayToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The stringified and base64 encoded `paymentData` you retrieved from the Apple framework.",
            "smithy.api#required": {}
          }
        },
        "checkoutAttemptId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The checkout attempt identifier."
          }
        },
        "fundingSource": {
          "target": "com.adyen.checkout#ApplePayDonationsFundingSource",
          "traits": {
            "smithy.api#documentation": "The funding source that should be used when multiple sources are available. For Brazilian combo cards, by default the funding source is credit. To use debit, set this value to **debit**."
          }
        },
        "recurringDetailReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the `recurringDetailReference` returned in the response when you created the token."
          }
        },
        "sdkData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base64-encoded JSON object containing SDK related parameters required by the SDK"
          }
        },
        "storedPaymentMethodId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the `recurringDetailReference` returned in the response when you created the token."
          }
        },
        "type": {
          "target": "com.adyen.checkout#ApplePayDonationsType",
          "traits": {
            "smithy.api#documentation": "**applepay**"
          }
        }
      },
      "traits": {}
    },
    "com.adyen.checkout#ApplePayDonationsFundingSource": {
      "type": "enum",
      "members": {
        "CREDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "credit"
          }
        },
        "DEBIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "debit"
          }
        },
        "PREPAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "prepaid"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The funding source that should be used when multiple sources are available. For Brazilian combo cards, by default the funding source is credit. To use debit, set this value to **debit**."
      }
    },
    "com.adyen.checkout#ApplePayDonationsType": {
      "type": "enum",
      "members": {
        "APPLEPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "applepay"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**applepay**"
      }
    },
    "com.adyen.checkout#CardDonations": {
      "type": "structure",
      "members": {
        "billingSequenceNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sequence number for the debit. For example, send **2** if this is the second debit for the subscription. The sequence number is included in the notification sent to the shopper."
          }
        },
        "brand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Secondary brand of the card. For example: **plastix**, **hmclub**."
          }
        },
        "checkoutAttemptId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The checkout attempt identifier."
          }
        },
        "cupsecureplus_smscode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "cupsecureplus.smscode"
          }
        },
        "cvc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The card verification code. Only collect raw card data if you are [fully PCI compliant](https://docs.adyen.com/development-resources/pci-dss-compliance-guide)."
          }
        },
        "encryptedCard": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Only include this for JSON Web Encryption (JWE) implementations. The JWE-encrypted card details."
          }
        },
        "encryptedCardNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The encrypted card number."
          }
        },
        "encryptedExpiryMonth": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The encrypted card expiry month."
          }
        },
        "encryptedExpiryYear": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The encrypted card expiry year."
          }
        },
        "encryptedPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This field contains an encrypted, one-time password or an authentication code provided by the cardholder.",
            "smithy.api#sensitive": {}
          }
        },
        "encryptedSecurityCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The encrypted card verification code."
          }
        },
        "expiryMonth": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The card expiry month. Only collect raw card data if you are [fully PCI compliant](https://docs.adyen.com/development-resources/pci-dss-compliance-guide)."
          }
        },
        "expiryYear": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The card expiry year. Only collect raw card data if you are [fully PCI compliant](https://docs.adyen.com/development-resources/pci-dss-compliance-guide)."
          }
        },
        "fastlaneData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The encoded fastlane data blob"
          }
        },
        "fundingSource": {
          "target": "com.adyen.checkout#CardDonationsFundingSource",
          "traits": {
            "smithy.api#documentation": "The funding source that should be used when multiple sources are available. For Brazilian combo cards, by default the funding source is credit. To use debit, set this value to **debit**."
          }
        },
        "holderName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the card holder."
          }
        },
        "networkPaymentReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The transaction identifier from card schemes. This is the [`networkTxReference`](https://docs.adyen.com/api-explorer/Checkout/latest/post/payments#responses-200-additionalData-ResponseAdditionalDataCommon-networkTxReference) from the response to the first payment."
          }
        },
        "number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The card number. Only collect raw card data if you are [fully PCI compliant](https://docs.adyen.com/development-resources/pci-dss-compliance-guide)."
          }
        },
        "recurringDetailReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the `recurringDetailReference` returned in the response when you created the token."
          }
        },
        "sdkData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base64-encoded JSON object containing SDK related parameters required by the SDK"
          }
        },
        "shopperNotificationReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `shopperNotificationReference` returned in the response when you requested to notify the shopper. Used only for recurring payments in India."
          }
        },
        "srcCorrelationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier used for the Click to Pay transaction."
          }
        },
        "srcDigitalCardId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SRC reference for the Click to Pay token."
          }
        },
        "srcScheme": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The scheme that is being used for Click to Pay."
          }
        },
        "srcTokenReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reference for the Click to Pay token."
          }
        },
        "storedPaymentMethodId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the `recurringDetailReference` returned in the response when you created the token."
          }
        },
        "threeDS2SdkVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required for mobile integrations. Version of the 3D Secure 2 mobile SDK."
          }
        },
        "type": {
          "target": "com.adyen.checkout#CardDonationsType",
          "traits": {
            "smithy.api#documentation": "Default payment method details. Common for scheme payment methods, and for simple payment method details."
          }
        }
      },
      "traits": {}
    },
    "com.adyen.checkout#CardDonationsFundingSource": {
      "type": "enum",
      "members": {
        "CREDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "credit"
          }
        },
        "DEBIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "debit"
          }
        },
        "PREPAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "prepaid"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The funding source that should be used when multiple sources are available. For Brazilian combo cards, by default the funding source is credit. To use debit, set this value to **debit**."
      }
    },
    "com.adyen.checkout#CardDonationsType": {
      "type": "enum",
      "members": {
        "BCMC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bcmc"
          }
        },
        "SCHEME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scheme"
          }
        },
        "NETWORKTOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "networkToken"
          }
        },
        "GIFTCARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "giftcard"
          }
        },
        "CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "card"
          }
        },
        "CLICKTOPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clicktopay"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Default payment method details. Common for scheme payment methods, and for simple payment method details."
      }
    },
    "com.adyen.checkout#GooglePayDonations": {
      "type": "structure",
      "members": {
        "checkoutAttemptId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The checkout attempt identifier."
          }
        },
        "fundingSource": {
          "target": "com.adyen.checkout#GooglePayDonationsFundingSource",
          "traits": {
            "smithy.api#documentation": "The funding source that should be used when multiple sources are available. For Brazilian combo cards, by default the funding source is credit. To use debit, set this value to **debit**."
          }
        },
        "googlePayCardNetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The selected payment card network. "
          }
        },
        "googlePayToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `token` that you obtained from the [Google Pay API](https://developers.google.com/pay/api/web/reference/response-objects#PaymentData) `PaymentData` response.",
            "smithy.api#required": {}
          }
        },
        "recurringDetailReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the `recurringDetailReference` returned in the response when you created the token."
          }
        },
        "sdkData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base64-encoded JSON object containing SDK related parameters required by the SDK"
          }
        },
        "storedPaymentMethodId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the `recurringDetailReference` returned in the response when you created the token."
          }
        },
        "threeDS2SdkVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required for mobile integrations. Version of the 3D Secure 2 mobile SDK."
          }
        },
        "type": {
          "target": "com.adyen.checkout#GooglePayDonationsType",
          "traits": {
            "smithy.api#documentation": "**googlepay**, **paywithgoogle**"
          }
        }
      },
      "traits": {}
    },
    "com.adyen.checkout#GooglePayDonationsFundingSource": {
      "type": "enum",
      "members": {
        "CREDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "credit"
          }
        },
        "DEBIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "debit"
          }
        },
        "PREPAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "prepaid"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The funding source that should be used when multiple sources are available. For Brazilian combo cards, by default the funding source is credit. To use debit, set this value to **debit**."
      }
    },
    "com.adyen.checkout#GooglePayDonationsType": {
      "type": "enum",
      "members": {
        "GOOGLEPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "googlepay"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**googlepay**, **paywithgoogle**"
      }
    },
    "com.adyen.checkout#IdealDonations": {
      "type": "structure",
      "members": {
        "checkoutAttemptId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The checkout attempt identifier."
          }
        },
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The iDEAL issuer value of the shopper's selected bank. Set this to an **id** of an iDEAL issuer to preselect it."
          }
        },
        "recurringDetailReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the `recurringDetailReference` returned in the response when you created the token."
          }
        },
        "sdkData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base64-encoded JSON object containing SDK related parameters required by the SDK"
          }
        },
        "storedPaymentMethodId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the `recurringDetailReference` returned in the response when you created the token."
          }
        },
        "type": {
          "target": "com.adyen.checkout#IdealDonationsType",
          "traits": {
            "smithy.api#documentation": "**ideal**"
          }
        }
      },
      "traits": {}
    },
    "com.adyen.checkout#IdealDonationsType": {
      "type": "enum",
      "members": {
        "IDEAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ideal"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**ideal**"
      }
    },
    "com.adyen.checkout#PayWithGoogleDonations": {
      "type": "structure",
      "members": {
        "checkoutAttemptId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The checkout attempt identifier."
          }
        },
        "fundingSource": {
          "target": "com.adyen.checkout#PayWithGoogleDonationsFundingSource",
          "traits": {
            "smithy.api#documentation": "The funding source that should be used when multiple sources are available. For Brazilian combo cards, by default the funding source is credit. To use debit, set this value to **debit**."
          }
        },
        "googlePayToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `token` that you obtained from the [Google Pay API](https://developers.google.com/pay/api/web/reference/response-objects#PaymentData) `PaymentData` response.",
            "smithy.api#required": {}
          }
        },
        "recurringDetailReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the `recurringDetailReference` returned in the response when you created the token."
          }
        },
        "sdkData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base64-encoded JSON object containing SDK related parameters required by the SDK"
          }
        },
        "storedPaymentMethodId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the `recurringDetailReference` returned in the response when you created the token."
          }
        },
        "threeDS2SdkVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required for mobile integrations. Version of the 3D Secure 2 mobile SDK."
          }
        },
        "type": {
          "target": "com.adyen.checkout#PayWithGoogleDonationsType",
          "traits": {
            "smithy.api#documentation": "**paywithgoogle**"
          }
        }
      },
      "traits": {}
    },
    "com.adyen.checkout#PayWithGoogleDonationsFundingSource": {
      "type": "enum",
      "members": {
        "CREDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "credit"
          }
        },
        "DEBIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "debit"
          }
        },
        "PREPAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "prepaid"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The funding source that should be used when multiple sources are available. For Brazilian combo cards, by default the funding source is credit. To use debit, set this value to **debit**."
      }
    },
    "com.adyen.checkout#PayWithGoogleDonationsType": {
      "type": "enum",
      "members": {
        "PAYWITHGOOGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paywithgoogle"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**paywithgoogle**"
      }
    },
    "com.adyen.checkout#SepaDirectDebitDonations": {
      "type": "structure",
      "members": {
        "checkoutAttemptId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The checkout attempt identifier."
          }
        },
        "recurringDetailReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the `recurringDetailReference` returned in the response when you created the token."
          }
        },
        "sdkData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base64-encoded JSON object containing SDK related parameters required by the SDK"
          }
        },
        "storedPaymentMethodId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the `recurringDetailReference` returned in the response when you created the token."
          }
        },
        "type": {
          "target": "com.adyen.checkout#SepaDirectDebitDonationsType",
          "traits": {
            "smithy.api#documentation": "**sepadirectdebit**"
          }
        }
      },
      "traits": {}
[...]
