{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.docker.engine#ContainerListRequest": {
      "type": "structure",
      "members": {
        "all": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "all",
            "smithy.api#documentation": "Return all containers. By default, only running containers are shown.\n"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Return this number of most recently created containers, including\nnon-running ones.\n"
          }
        },
        "size": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "size",
            "smithy.api#documentation": "Return the size of container as fields `SizeRw` and `SizeRootFs`.\n"
          }
        },
        "filters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filters",
            "smithy.api#documentation": "Filters to process on the container list, encoded as JSON (a\n`map[string][]string`). For example, `{\"status\": [\"paused\"]}` will\nonly return paused containers.\n\nAvailable filters:\n\n- `ancestor`=(`<image-name>[:<tag>]`, `<image id>`, or `<image@digest>`)\n- `before`=(`<container id>` or `<container name>`)\n- `expose`=(`<port>[/<proto>]`|`<startport-endport>/[<proto>]`)\n- `exited=<int>` containers with exit code of `<int>`\n- `health`=(`starting`|`healthy`|`unhealthy`|`none`)\n- `id=<ID>` a container's ID\n- `isolation=`(`default`|`process`|`hyperv`) (Windows daemon only)\n- `is-task=`(`true`|`false`)\n- `label=key` or `label=\"key=value\"` of a container label\n- `name=<name>` a container's name\n- `network`=(`<network id>` or `<network name>`)\n- `publish`=(`<port>[/<proto>]`|`<startport-endport>/[<proto>]`)\n- `since`=(`<container id>` or `<container name>`)\n- `status=`(`created`|`restarting`|`running`|`removing`|`paused`|`exited`|`dead`)\n- `volume`=(`<volume name>` or `<mount point destination>`)\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.docker.engine#ContainerSummary": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of this container as a 128-bit (64-character) hexadecimal string (32 bytes)."
          }
        },
        "Names": {
          "target": "com.docker.engine#ContainerSummaryNamesList",
          "traits": {
            "smithy.api#documentation": "The names associated with this container. Most containers have a single\nname, but when using legacy \"links\", the container can have multiple\nnames.\n\nFor historic reasons, names are prefixed with a forward-slash (`/`)."
          }
        },
        "Image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name or ID of the image used to create the container.\n\nThis field shows the image reference as was specified when creating the container,\nwhich can be in its canonical form (e.g., `docker.io/library/ubuntu:latest`\nor `docker.io/library/ubuntu@sha256:72297848456d5d37d1262630108ab308d3e9ec7ed1c3286a32fe09856619a782`),\nshort form (e.g., `ubuntu:latest`)), or the ID(-prefix) of the image (e.g., `72297848456d`).\n\nThe content of this field can be updated at runtime if the image used to\ncreate the container is untagged, in which case the field is updated to\ncontain the the image ID (digest) it was resolved to in its canonical,\nnon-truncated form (e.g., `sha256:72297848456d5d37d1262630108ab308d3e9ec7ed1c3286a32fe09856619a782`)."
          }
        },
        "ImageID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID (digest) of the image that this container was created from."
          }
        },
        "ImageManifestDescriptor": {
          "target": "com.docker.engine#OCIDescriptor",
          "traits": {
            "smithy.api#documentation": "OCI descriptor of the platform-specific manifest of the image\nthe container was created from.\n\nNote: Only available if the daemon provides a multi-platform\nimage store.\n\nThis field is not populated in the `GET /system/df` endpoint.\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "Command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command to run when starting the container"
          }
        },
        "Created": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Date and time at which the container was created as a Unix timestamp\n(number of seconds since EPOCH)."
          }
        },
        "Ports": {
          "target": "com.docker.engine#ContainerSummaryPortsList",
          "traits": {
            "smithy.api#documentation": "Port-mappings for the container."
          }
        },
        "SizeRw": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The size of files that have been created or changed by this container.\n\nThis field is omitted by default, and only set when size is requested\nin the API request.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "SizeRootFs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total size of all files in the read-only layers from the image\nthat the container uses. These layers can be shared between containers.\n\nThis field is omitted by default, and only set when size is requested\nin the API request.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "Labels": {
          "target": "com.docker.engine#ContainerSummaryLabelsMap",
          "traits": {
            "smithy.api#documentation": "User-defined key/value metadata."
          }
        },
        "State": {
          "target": "com.docker.engine#ContainerSummaryState",
          "traits": {
            "smithy.api#documentation": "The state of this container.\n"
          }
        },
        "Status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Additional human-readable status of this container (e.g. `Exit 0`)"
          }
        },
        "HostConfig": {
          "target": "com.docker.engine#ContainerSummaryHostConfig",
          "traits": {
            "smithy.api#documentation": "Summary of host-specific runtime information of the container. This\nis a reduced set of information in the container's \"HostConfig\" as\navailable in the container \"inspect\" response."
          }
        },
        "NetworkSettings": {
          "target": "com.docker.engine#ContainerSummaryNetworkSettings",
          "traits": {
            "smithy.api#documentation": "Summary of the container's network settings"
          }
        },
        "Mounts": {
          "target": "com.docker.engine#ContainerSummaryMountsList",
          "traits": {
            "smithy.api#documentation": "List of mounts used by the container."
          }
        },
        "Health": {
          "target": "com.docker.engine#ContainerSummaryHealth",
          "traits": {
            "smithy.api#documentation": "Summary of health status\n\nAdded in v1.52, before that version all container summary not include Health.\nAfter this attribute introduced, it includes containers with no health checks configured,\nor containers that are not running with none"
          }
        }
      },
      "traits": {}
    },
    "com.docker.engine#ContainerSummaryNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The names associated with this container. Most containers have a single\nname, but when using legacy \"links\", the container can have multiple\nnames.\n\nFor historic reasons, names are prefixed with a forward-slash (`/`)."
      }
    },
    "com.docker.engine#OCIDescriptor": {
      "type": "structure",
      "members": {
        "mediaType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The media type of the object this schema refers to.\n"
          }
        },
        "digest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The digest of the targeted content.\n"
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The size in bytes of the blob.\n"
          }
        },
        "urls": {
          "target": "com.docker.engine#OCIDescriptorUrlsList",
          "traits": {
            "smithy.api#documentation": "List of URLs from which this object MAY be downloaded.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "annotations": {
          "target": "com.docker.engine#OCIDescriptorAnnotationsMap",
          "traits": {
            "smithy.api#documentation": "Arbitrary metadata relating to the targeted content.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Data is an embedding of the targeted content. This is encoded as a base64\nstring when marshalled to JSON (automatically, by encoding/json). If\npresent, Data can be used directly to avoid fetching the targeted content.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "platform": {
          "target": "com.docker.engine#OCIPlatform",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "artifactType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ArtifactType is the IANA media type of this artifact.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A descriptor struct containing digest, media type, and size, as defined in\nthe [OCI Content Descriptors Specification](https://github.com/opencontainers/image-spec/blob/v1.0.1/descriptor.md).\n"
      }
    },
    "com.docker.engine#OCIDescriptorUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of URLs from which this object MAY be downloaded."
      }
    },
    "com.docker.engine#OCIDescriptorAnnotationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Arbitrary metadata relating to the targeted content."
      }
    },
    "com.docker.engine#OCIPlatform": {
      "type": "structure",
      "members": {
        "architecture": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CPU architecture, for example `amd64` or `ppc64`.\n"
          }
        },
        "os": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operating system, for example `linux` or `windows`.\n"
          }
        },
        "os_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional field specifying the operating system version, for example on\nWindows `10.0.19041.1165`.\n",
            "smithy.api#jsonName": "os.version"
          }
        },
        "os_features": {
          "target": "com.docker.engine#OCIPlatformOsFeaturesList",
          "traits": {
            "smithy.api#documentation": "Optional field specifying an array of strings, each listing a required\nOS feature (for example on Windows `win32k`).\n",
            "smithy.api#jsonName": "os.features"
          }
        },
        "variant": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional field specifying a variant of the CPU, for example `v7` to\nspecify ARMv7 when architecture is `arm`.\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the platform which the image in the manifest runs on, as defined\nin the [OCI Image Index Specification](https://github.com/opencontainers/image-spec/blob/v1.0.1/image-index.md).\n"
      }
    },
    "com.docker.engine#OCIPlatformOsFeaturesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Optional field specifying an array of strings, each listing a required\nOS feature (for example on Windows `win32k`).\n"
      }
    },
    "com.docker.engine#PortSummary": {
      "type": "structure",
      "members": {
        "IP": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Host IP address that the container's port is mapped to"
          }
        },
        "PrivatePort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port on the container",
            "smithy.api#required": {}
          }
        },
        "PublicPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port exposed on the host"
          }
        },
        "Type": {
          "target": "com.docker.engine#PortSummaryType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a port-mapping between the container and the host.\n"
      }
    },
    "com.docker.engine#PortSummaryType": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "UDP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "udp"
          }
        },
        "SCTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sctp"
          }
        }
      },
      "traits": {}
    },
    "com.docker.engine#ContainerSummaryPortsList": {
      "type": "list",
      "member": {
        "target": "com.docker.engine#PortSummary"
      },
      "traits": {
        "smithy.api#documentation": "Port-mappings for the container."
      }
    },
    "com.docker.engine#ContainerSummaryLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "User-defined key/value metadata."
      }
    },
    "com.docker.engine#ContainerSummaryState": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paused"
          }
        },
        "RESTARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "restarting"
          }
        },
        "EXITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exited"
          }
        },
        "REMOVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "removing"
          }
        },
        "DEAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dead"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of this container.\n"
      }
    },
    "com.docker.engine#ContainerSummaryHostConfigAnnotationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Arbitrary key-value metadata attached to the container."
      }
    },
    "com.docker.engine#ContainerSummaryHostConfig": {
      "type": "structure",
      "members": {
        "NetworkMode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Networking mode (`host`, `none`, `container:<id>`) or name of the\nprimary network the container is using.\n\nThis field is primarily for backward compatibility. The container\ncan be connected to multiple networks for which information can be\nfound in the `NetworkSettings.Networks` field, which enumerates\nsettings per network."
          }
        },
        "Annotations": {
          "target": "com.docker.engine#ContainerSummaryHostConfigAnnotationsMap",
          "traits": {
            "smithy.api#documentation": "Arbitrary key-value metadata attached to the container.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Summary of host-specific runtime information of the container. This\nis a reduced set of information in the container's \"HostConfig\" as\navailable in the container \"inspect\" response."
      }
    },
    "com.docker.engine#EndpointSettings": {
      "type": "structure",
      "members": {
        "IPAMConfig": {
          "target": "com.docker.engine#EndpointIPAMConfig",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "Links": {
          "target": "com.docker.engine#EndpointSettingsLinksList"
        },
        "MacAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MAC address for the endpoint on this network. The network driver might ignore this parameter.\n"
          }
        },
        "Aliases": {
          "target": "com.docker.engine#EndpointSettingsAliasesList"
        },
        "DriverOpts": {
          "target": "com.docker.engine#EndpointSettingsDriverOptsMap",
          "traits": {
            "smithy.api#documentation": "DriverOpts is a mapping of driver options and values. These options\nare passed directly to the driver and are driver specific.\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "GwPriority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "This property determines which endpoint will provide the default\ngateway for a container. The endpoint with the highest priority will\nbe used. If multiple endpoints have the same priority, endpoints are\nlexicographically sorted based on their network name, and the one\nthat sorts first is picked.\n"
          }
        },
        "NetworkID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique ID of the network.\n"
          }
        },
        "EndpointID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique ID for the service endpoint in a Sandbox.\n"
          }
        },
        "Gateway": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gateway address for this network.\n"
          }
        },
        "IPAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IPv4 address.\n"
          }
        },
        "IPPrefixLen": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Mask length of the IPv4 address.\n"
          }
        },
        "IPv6Gateway": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IPv6 gateway address.\n"
          }
        },
        "GlobalIPv6Address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Global IPv6 address.\n"
          }
        },
        "GlobalIPv6PrefixLen": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Mask length of the global IPv6 address.\n"
          }
        },
        "DNSNames": {
          "target": "com.docker.engine#EndpointSettingsDNSNamesList",
          "traits": {
            "smithy.api#documentation": "List of all DNS names an endpoint has on a specific network. This\nlist is based on the container name, network aliases, container short\nID, and hostname.\n\nThese DNS names are non-fully qualified but can contain several dots.\nYou can get fully qualified DNS names by appending `.<network-name>`.\nFor instance, if container name is `my.ctr` and the network is named\n`testnet`, `DNSNames` will contain `my.ctr` and the FQDN will be\n`my.ctr.testnet`.\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a network endpoint."
      }
    },
    "com.docker.engine#EndpointIPAMConfig": {
      "type": "structure",
      "members": {
        "IPv4Address": {
          "target": "smithy.api#String"
        },
        "IPv6Address": {
          "target": "smithy.api#String"
        },
        "LinkLocalIPs": {
          "target": "com.docker.engine#EndpointIPAMConfigLinkLocalIPsList"
        }
      },
      "traits": {
        "smithy.api#documentation": "EndpointIPAMConfig represents an endpoint's IPAM configuration.\n"
      }
    },
    "com.docker.engine#EndpointIPAMConfigLinkLocalIPsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.docker.engine#EndpointSettingsLinksList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.docker.engine#EndpointSettingsAliasesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.docker.engine#EndpointSettingsDriverOptsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "DriverOpts is a mapping of driver options and values. These options\nare passed directly to the driver and are driver specific.\n"
      }
    },
    "com.docker.engine#EndpointSettingsDNSNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of all DNS names an endpoint has on a specific network. This\nlist is based on the container name, network aliases, container short\nID, and hostname.\n\nThese DNS names are non-fully qualified but can contain several dots.\nYou can get fully qualified DNS names by appending `.<network-name>`.\nFor instance, if container name is `my.ctr` and the network is named\n`testnet`, `DNSNames` will contain `my.ctr` and the FQDN will be\n`my.ctr.testnet`.\n"
      }
    },
    "com.docker.engine#ContainerSummaryNetworkSettingsNetworksMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.docker.engine#EndpointSettings"
      },
      "traits": {
        "smithy.api#documentation": "Summary of network-settings for each network the container is\nattached to."
      }
    },
    "com.docker.engine#ContainerSummaryNetworkSettings": {
      "type": "structure",
      "members": {
        "Networks": {
          "target": "com.docker.engine#ContainerSummaryNetworkSettingsNetworksMap",
          "traits": {
            "smithy.api#documentation": "Summary of network-settings for each network the container is\nattached to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Summary of the container's network settings"
      }
    },
    "com.docker.engine#MountPoint": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.docker.engine#MountType",
          "traits": {
            "smithy.api#documentation": "The mount type:\n\n- `bind` a mount of a file or directory from the host into the container.\n- `cluster` a Swarm cluster volume.\n- `image` an OCI image.\n- `npipe` a named pipe from the host into the container.\n- `tmpfs` a `tmpfs`.\n- `volume` a docker volume with the given `Name`.\n"
          }
        },
        "Name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name is the name reference to the underlying data defined by `Source`\ne.g., the volume name.\n"
          }
        },
        "Source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source location of the mount.\n\nFor volumes, this contains the storage location of the volume (within\n`/var/lib/docker/volumes/`). For bind-mounts, and `npipe`, this contains\nthe source (host) part of the bind-mount. For `tmpfs` mount points, this\nfield is empty.\n"
          }
        },
        "Destination": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Destination is the path relative to the container root (`/`) where\nthe `Source` is mounted inside the container.\n"
          }
        },
        "Driver": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Driver is the volume driver used to create the volume (if it is a volume).\n"
          }
        },
        "Mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mode is a comma separated list of options supplied by the user when\ncreating the bind/volume mount.\n\nThe default is platform-specific (`\"z\"` on Linux, empty on Windows).\n"
          }
        },
        "RW": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the mount is mounted writable (read-write).\n"
          }
        },
        "Propagation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Propagation describes how mounts are propagated from the host into the\nmount point, and vice-versa. Refer to the [Linux kernel documentation](https://www.kernel.org/doc/Documentation/filesystems/sharedsubtree.txt)\nfor details. This field is not used on Windows.\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MountPoint represents a mount point configuration inside the container.\nThis is used for reporting the mountpoints in use by a container.\n"
      }
    },
    "com.docker.engine#MountType": {
      "type": "enum",
      "members": {
        "BIND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bind"
          }
        },
        "CLUSTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cluster"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image"
          }
        },
        "NPIPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "npipe"
          }
        },
        "TMPFS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tmpfs"
          }
        },
        "VOLUME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "volume"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The mount type. Available types:\n\n- `bind` a mount of a file or directory from the host into the container.\n- `cluster` a Swarm cluster volume.\n- `image` an OCI image.\n- `npipe` a named pipe from the host into the container.\n- `tmpfs` a `tmpfs`.\n- `volume` a docker volume with the given `Name`."
      }
    },
    "com.docker.engine#ContainerSummaryMountsList": {
      "type": "list",
      "member": {
        "target": "com.docker.engine#MountPoint"
      },
      "traits": {
        "smithy.api#documentation": "List of mounts used by the container."
      }
    },
    "com.docker.engine#ContainerSummaryHealthStatus": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "STARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "starting"
          }
        },
        "HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "healthy"
          }
        },
        "UNHEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unhealthy"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "the health status of the container"
      }
    },
    "com.docker.engine#ContainerSummaryHealth": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.docker.engine#ContainerSummaryHealthStatus",
          "traits": {
            "smithy.api#documentation": "the health status of the container"
          }
        },
        "FailingStreak": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "FailingStreak is the number of consecutive failures"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Summary of health status\n\nAdded in v1.52, before that version all container summary not include Health.\nAfter this attribute introduced, it includes containers with no health checks configured,\nor containers that are not running with none"
      }
    },
    "com.docker.engine#ContainerListResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.docker.engine#ContainerSummary"
      },
      "traits": {}
    },
    "com.docker.engine#ContainerListResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.docker.engine#ContainerListResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.docker.engine#ContainerList": {
      "type": "operation",
      "input": {
        "target": "com.docker.engine#ContainerListRequest"
      },
      "output": {
        "target": "com.docker.engine#ContainerListResponse"
      },
      "errors": [
        {
          "target": "com.docker.engine#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/containers/json",
          "code": 200
        },
        "smithy.api#documentation": "List containers\n\nReturns a list of containers. For details on the format, see the\n[inspect endpoint](#operation/ContainerInspect).\n\nNote that it uses a different, smaller representation of a container\nthan inspecting a single container. For example, the list of linked\ncontainers is not propagated ."
      }
    },
    "com.docker.engine#ContainerCreateRequestExposedPortsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "An object mapping ports to an empty object in the form:\n\n`{\"<port>/<tcp|udp|sctp>\": {}}`\n"
      }
    },
    "com.docker.engine#ContainerCreateRequestEnvList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of environment variables to set inside the container in the\nform `[\"VAR=value\", ...]`. A variable without `=` is removed from the\nenvironment, rather than to have an empty value.\n"
      }
    },
    "com.docker.engine#ContainerCreateRequestCmdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Command to run specified as a string or an array of strings.\n"
      }
    },
    "com.docker.engine#HealthConfig": {
      "type": "structure",
      "members": {
        "Test": {
          "target": "com.docker.engine#HealthConfigTestList",
          "traits": {
            "smithy.api#documentation": "The test to perform. Possible values are:\n\n- `[]` inherit healthcheck from image or parent image\n- `[\"NONE\"]` disable healthcheck\n- `[\"CMD\", args...]` exec arguments directly\n- `[\"CMD-SHELL\", command]` run command with system's default shell\n\nA non-zero exit code indicates a failed healthcheck:\n- `0` healthy\n- `1` unhealthy\n- `2` reserved (treated as unhealthy)\n- other values: error running probe\n"
          }
        },
        "Interval": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The time to wait between checks in nanoseconds. It should be 0 or at\nleast 1000000 (1 ms). 0 means inherit.\n"
          }
        },
        "Timeout": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The time to wait before considering the check to have hung. It should\nbe 0 or at least 1000000 (1 ms). 0 means inherit.\n\nIf the health check command does not complete within this timeout,\nthe check is considered failed and the health check process is\nforcibly terminated without a graceful shutdown.\n"
          }
        },
        "Retries": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of consecutive failures needed to consider a container as\nunhealthy. 0 means inherit.\n"
          }
        },
        "StartPeriod": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Start period for the container to initialize before starting\nhealth-retries countdown in nanoseconds. It should be 0 or at least\n1000000 (1 ms). 0 means inherit.\n"
          }
        },
        "StartInterval": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The time to wait between checks in nanoseconds during the start period.\nIt should be 0 or at least 1000000 (1 ms). 0 means inherit.\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A test to perform to check that the container is healthy.\nHealthcheck commands should be side-effect free.\n"
      }
    },
    "com.docker.engine#HealthConfigTestList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The test to perform. Possible values are:\n\n- `[]` inherit healthcheck from image or parent image\n- `[\"NONE\"]` disable healthcheck\n- `[\"CMD\", args...]` exec arguments directly\n- `[\"CMD-SHELL\", command]` run command with system's default shell\n\nA non-zero exit code indicates a failed healthcheck:\n- `0` healthy\n- `1` unhealthy\n- `2` reserved (treated as unhealthy)\n- other values: error running probe\n"
      }
    },
    "com.docker.engine#ContainerCreateRequestVolumesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "An object mapping mount point paths inside the container to empty\nobjects.\n"
      }
    },
    "com.docker.engine#ContainerCreateRequestEntrypointList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The entry point for the container as a string or an array of strings.\n\nIf the array consists of exactly one empty string (`[\"\"]`) then the\nentry point is reset to system default (i.e., the entry point used by\ndocker when there is no `ENTRYPOINT` instruction in the `Dockerfile`).\n"
      }
    },
    "com.docker.engine#ContainerCreateRequestOnBuildList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "`ONBUILD` metadata that were defined in the image's `Dockerfile`.\n"
      }
    },
    "com.docker.engine#ContainerCreateRequestLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "User-defined key/value metadata."
      }
    },
    "com.docker.engine#ContainerCreateRequestShellList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Shell for when `RUN`, `CMD`, and `ENTRYPOINT` uses a shell.\n"
      }
    },
    "com.docker.engine#HostConfig": {
      "type": "structure",
      "members": {
        "CpuShares": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "An integer value representing this container's relative CPU weight\nversus other containers.\n"
          }
        },
        "Memory": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Memory limit in bytes."
          }
        },
        "CgroupParent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path to `cgroups` under which the container's `cgroup` is created. If\nthe path is not absolute, the path is considered to be relative to the\n`cgroups` path of the init process. Cgroups are created if they do not\nalready exist.\n"
          }
        },
        "BlkioWeight": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Block IO weight (relative weight)."
          }
        },
        "BlkioWeightDevice": {
          "target": "com.docker.engine#HostConfigBlkioWeightDeviceList",
          "traits": {
            "smithy.api#documentation": "Block IO weight (relative device weight) in the form:\n\n```\n[{\"Path\": \"device_path\", \"Weight\": weight}]\n```\n"
          }
        },
        "BlkioDeviceReadBps": {
          "target": "com.docker.engine#HostConfigBlkioDeviceReadBpsList",
          "traits": {
            "smithy.api#documentation": "Limit read rate (bytes per second) from a device, in the form:\n\n```\n[{\"Path\": \"device_path\", \"Rate\": rate}]\n```\n"
          }
        },
        "BlkioDeviceWriteBps": {
          "target": "com.docker.engine#HostConfigBlkioDeviceWriteBpsList",
          "traits": {
            "smithy.api#documentation": "Limit write rate (bytes per second) to a device, in the form:\n\n```\n[{\"Path\": \"device_path\", \"Rate\": rate}]\n```\n"
          }
        },
        "BlkioDeviceReadIOps": {
          "target": "com.docker.engine#HostConfigBlkioDeviceReadIOpsList",
          "traits": {
            "smithy.api#documentation": "Limit read rate (IO per second) from a device, in the form:\n\n```\n[{\"Path\": \"device_path\", \"Rate\": rate}]\n```\n"
          }
        },
        "BlkioDeviceWriteIOps": {
          "target": "com.docker.engine#HostConfigBlkioDeviceWriteIOpsList",
          "traits": {
            "smithy.api#documentation": "Limit write rate (IO per second) to a device, in the form:\n\n```\n[{\"Path\": \"device_path\", \"Rate\": rate}]\n```\n"
          }
        },
        "CpuPeriod": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The length of a CPU period in microseconds."
          }
        },
        "CpuQuota": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Microseconds of CPU time that the container can get in a CPU period.\n"
          }
        },
        "CpuRealtimePeriod": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The length of a CPU real-time period in microseconds. Set to 0 to\nallocate no time allocated to real-time tasks.\n"
          }
        },
        "CpuRealtimeRuntime": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The length of a CPU real-time runtime in microseconds. Set to 0 to\nallocate no time allocated to real-time tasks.\n"
          }
        },
        "CpusetCpus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CPUs in which to allow execution (e.g., `0-3`, `0,1`).\n"
          }
        },
        "CpusetMems": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Memory nodes (MEMs) in which to allow execution (0-3, 0,1). Only\neffective on NUMA systems.\n"
          }
        },
        "Devices": {
          "target": "com.docker.engine#HostConfigDevicesList",
          "traits": {
            "smithy.api#documentation": "A list of devices to add to the container."
          }
        },
        "DeviceCgroupRules": {
          "target": "com.docker.engine#HostConfigDeviceCgroupRulesList",
          "traits": {
            "smithy.api#documentation": "a list of cgroup rules to apply to the container"
          }
        },
        "DeviceRequests": {
          "target": "com.docker.engine#HostConfigDeviceRequestsList",
          "traits": {
            "smithy.api#documentation": "A list of requests for devices to be sent to device drivers.\n"
          }
        },
        "MemoryReservation": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Memory soft limit in bytes."
          }
        },
        "MemorySwap": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total memory limit (memory + swap). Set as `-1` to enable unlimited\nswap.\n"
          }
        },
        "MemorySwappiness": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Tune a container's memory swappiness behavior. Accepts an integer\nbetween 0 and 100.\n"
          }
        },
        "NanoCpus": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "CPU quota in units of 10<sup>-9</sup> CPUs."
          }
        },
        "OomKillDisable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disable OOM Killer for the container."
          }
        },
        "Init": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Run an init inside the container that forwards signals and reaps\nprocesses. This field is omitted if empty, and the default (as\nconfigured on the daemon) is used.\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "PidsLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Tune a container's PIDs limit. Set `0` or `-1` for unlimited, or `null`\nto not change.\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "Ulimits": {
          "target": "com.docker.engine#HostConfigUlimitsList",
          "traits": {
            "smithy.api#documentation": "A list of resource limits to set in the container. For example:\n\n```\n{\"Name\": \"nofile\", \"Soft\": 1024, \"Hard\": 2048}\n```\n"
          }
        },
        "CpuCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of usable CPUs (Windows only).\n\nOn Windows Server containers, the processor resource controls are\nmutually exclusive. The order of precedence is `CPUCount` first, then\n`CPUShares`, and `CPUPercent` last.\n"
          }
        },
        "CpuPercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The usable percentage of the available CPUs (Windows only).\n\nOn Windows Server containers, the processor resource controls are\nmutually exclusive. The order of precedence is `CPUCount` first, then\n`CPUShares`, and `CPUPercent` last.\n"
          }
        },
        "IOMaximumIOps": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum IOps for the container system drive (Windows only)"
          }
        },
        "IOMaximumBandwidth": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum IO in bytes per second for the container system drive\n(Windows only).\n"
          }
        },
        "Binds": {
          "target": "com.docker.engine#HostConfigBindsList",
          "traits": {
            "smithy.api#documentation": "A list of volume bindings for this container. Each volume binding\nis a string in one of these forms:\n\n- `host-src:container-dest[:options]` to bind-mount a host path\n  into the container. Both `host-src`, and `container-dest` must\n  be an _absolute_ path.\n- `volume-name:container-dest[:options]` to bind-mount a volume\n  managed by a volume driver into the container. `container-dest`\n  must be an _absolute_ path.\n\n`options` is an optional, comma-delimited list of:\n\n- `nocopy` disables automatic copying of data from the container\n  path to the volume. The `nocopy` flag only applies to named volumes.\n- `[ro|rw]` mounts a volume read-only or read-write, respectively.\n  If omitted or set to `rw`, volumes are mounted read-write.\n- `[z|Z]` applies SELinux labels to allow or deny multiple containers\n  to read and write to the same volume.\n    - `z`: a _shared_ content label is applied to the content. This\n      label indicates that multiple containers can share the volume\n      content, for both reading and writing.\n    - `Z`: a _private unshared_ label is applied to the content.\n      This label indicates that only the current container can use\n      a private volume. Labeling systems such as SELinux require\n      proper labels to be placed on volume content that is mounted\n      into a container. Without a label, the security system can\n      prevent a container's processes from using the content. By\n      default, the labels set by the host operating system are not\n      modified.\n- `[[r]shared|[r]slave|[r]private]` specifies mount\n  [propagation behavior](https://www.kernel.org/doc/Documentation/filesystems/sharedsubtree.txt).\n  This only applies to bind-mounted volumes, not internal volumes\n  or named volumes. Mount propagation requires the source mount\n  point (the location where the source directory is mounted in the\n  host operating system) to have the correct propagation properties.\n  For shared volumes, the source mount point must be set to `shared`.\n  For slave volumes, the mount must be set to either `shared` or\n  `slave`.\n"
          }
        },
        "ContainerIDFile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path to a file where the container ID is written"
          }
        },
        "LogConfig": {
          "target": "com.docker.engine#HostConfigLogConfig",
          "traits": {
            "smithy.api#documentation": "The logging configuration for this container"
          }
        },
        "NetworkMode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Network mode to use for this container. Supported standard values\nare: `bridge`, `host`, `none`, and `container:<name|id>`. Any\nother value is taken as a custom network's name to which this\ncontainer should connect to.\n"
          }
        },
        "PortBindings": {
          "target": "com.docker.engine#PortMap"
        },
        "RestartPolicy": {
          "target": "com.docker.engine#RestartPolicy"
        },
        "AutoRemove": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Automatically remove the container when the container's process\nexits. This has no effect if `RestartPolicy` is set.\n"
          }
        },
        "VolumeDriver": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Driver that this container uses to mount volumes."
          }
        },
        "VolumesFrom": {
          "target": "com.docker.engine#HostConfigVolumesFromList",
          "traits": {
            "smithy.api#documentation": "A list of volumes to inherit from another container, specified in\nthe form `<container name>[:<ro|rw>]`.\n"
          }
        },
        "Mounts": {
          "target": "com.docker.engine#HostConfigMountsList",
          "traits": {
            "smithy.api#documentation": "Specification for mounts to be added to the container.\n"
          }
        },
        "ConsoleSize": {
          "target": "com.docker.engine#HostConfigConsoleSizeList",
          "traits": {
            "smithy.api#documentation": "Initial console size, as an `[height, width]` array.\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "Annotations": {
          "target": "com.docker.engine#HostConfigAnnotationsMap",
          "traits": {
            "smithy.api#documentation": "Arbitrary non-identifying metadata attached to container and\nprovided to the runtime when the container is started.\n"
          }
        },
        "CapAdd": {
          "target": "com.docker.engine#HostConfigCapAddList",
          "traits": {
            "smithy.api#documentation": "A list of kernel capabilities to add to the container. Conflicts\nwith option 'Capabilities'.\n"
          }
        },
        "CapDrop": {
          "target": "com.docker.engine#HostConfigCapDropList",
          "traits": {
            "smithy.api#documentation": "A list of kernel capabilities to drop from the container. Conflicts\nwith option 'Capabilities'.\n"
          }
        },
        "CgroupnsMode": {
          "target": "com.docker.engine#HostConfigCgroupnsMode",
          "traits": {
            "smithy.api#documentation": "cgroup namespace mode for the container. Possible values are:\n\n- `\"private\"`: the container runs in its own private cgroup namespace\n- `\"host\"`: use the host system's cgroup namespace\n\nIf not specified, the daemon default is used, which can either be `\"private\"`\nor `\"host\"`, depending on daemon version, kernel support and configuration.\n"
          }
        },
        "Dns": {
          "target": "com.docker.engine#HostConfigDnsList",
          "traits": {
            "smithy.api#documentation": "A list of DNS servers for the container to use."
          }
        },
        "DnsOptions": {
          "target": "com.docker.engine#HostConfigDnsOptionsList",
          "traits": {
            "smithy.api#documentation": "A list of DNS options."
          }
        },
        "DnsSearch": {
          "target": "com.docker.engine#HostConfigDnsSearchList",
          "traits": {
            "smithy.api#documentation": "A list of DNS search domains."
          }
        },
        "ExtraHosts": {
          "target": "com.docker.engine#HostConfigExtraHostsList",
          "traits": {
            "smithy.api#documentation": "A list of hostnames/IP mappings to add to the container's `/etc/hosts`\nfile. Specified in the form `[\"hostname:IP\"]`.\n"
          }
        },
        "GroupAdd": {
          "target": "com.docker.engine#HostConfigGroupAddList",
          "traits": {
            "smithy.api#documentation": "A list of additional groups that the container process will run as.\n"
          }
        },
        "IpcMode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IPC sharing mode for the container. Possible values are:\n\n- `\"none\"`: own private IPC namespace, with /dev/shm not mounted\n- `\"private\"`: own private IPC namespace\n- `\"shareable\"`: own private IPC namespace, with a possibility to share it with other containers\n- `\"container:<name|id>\"`: join another (shareable) container's IPC namespace\n- `\"host\"`: use the host system's IPC namespace\n\nIf not specified, daemon default is used, which can either be `\"private\"`\nor `\"shareable\"`, depending on daemon version and configuration.\n"
          }
        },
        "Cgroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cgroup to use for the container."
          }
        },
        "Links": {
          "target": "com.docker.engine#HostConfigLinksList",
          "traits": {
            "smithy.api#documentation": "A list of links for the container in the form `container_name:alias`.\n"
          }
        },
        "OomScoreAdj": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "An integer value containing the score given to the container in\norder to tune OOM killer preferences.\n"
          }
        },
        "PidMode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the PID (Process) Namespace mode for the container. It can be\neither:\n\n- `\"container:<name|id>\"`: joins another container's PID namespace\n- `\"host\"`: use the host's PID namespace inside the container\n"
          }
        },
        "Privileged": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Gives the container full access to the host."
          }
        },
        "PublishAllPorts": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allocates an ephemeral host port for all of a container's\nexposed ports.\n\nPorts are de-allocated when the container stops and allocated when\nthe container starts. The allocated port might be changed when\nrestarting the container.\n\nThe port is selected from the ephemeral port range that depends on\nthe kernel. For example, on Linux the range is defined by\n`/proc/sys/net/ipv4/ip_local_port_range`.\n"
          }
        },
        "ReadonlyRootfs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Mount the container's root filesystem as read only."
          }
        },
        "SecurityOpt": {
          "target": "com.docker.engine#HostConfigSecurityOptList",
          "traits": {
            "smithy.api#documentation": "A list of string values to customize labels for MLS systems, such\nas SELinux.\n"
          }
        },
        "StorageOpt": {
          "target": "com.docker.engine#HostConfigStorageOptMap",
          "traits": {
            "smithy.api#documentation": "Storage driver options for this container, in the form `{\"size\": \"120G\"}`.\n"
          }
        },
        "Tmpfs": {
          "target": "com.docker.engine#HostConfigTmpfsMap",
          "traits": {
            "smithy.api#documentation": "A map of container directories which should be replaced by tmpfs\nmounts, and their corresponding mount options. For example:\n\n```\n{ \"/run\": \"rw,noexec,nosuid,size=65536k\" }\n```\n"
          }
        },
        "UTSMode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UTS namespace to use for the container."
          }
        },
        "UsernsMode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets the usernamespace mode for the container when usernamespace\nremapping option is enabled.\n"
          }
        },
        "ShmSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size of `/dev/shm` in bytes. If omitted, the system uses 64MB.\n"
          }
        },
        "Sysctls": {
          "target": "com.docker.engine#HostConfigSysctlsMap",
          "traits": {
            "smithy.api#documentation": "A list of kernel parameters (sysctls) to set in the container.\n\nThis field is omitted if not set.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "Runtime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Runtime to use with this container.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "Isolation": {
          "target": "com.docker.engine#HostConfigIsolation",
          "traits": {
            "smithy.api#documentation": "Isolation technology of the container. (Windows only)\n"
          }
        },
        "MaskedPaths": {
          "target": "com.docker.engine#HostConfigMaskedPathsList",
          "traits": {
            "smithy.api#documentation": "The list of paths to be masked inside the container (this overrides\nthe default set of paths).\n"
          }
        },
        "ReadonlyPaths": {
          "target": "com.docker.engine#HostConfigReadonlyPathsList",
          "traits": {
            "smithy.api#documentation": "The list of paths to be set as read-only inside the container\n(this overrides the default set of paths).\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Container configuration that depends on the host we are running on"
      }
    },
    "com.docker.engine#HostConfigBlkioWeightDeviceItem": {
      "type": "structure",
      "members": {
        "Path": {
          "target": "smithy.api#String"
        },
        "Weight": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.docker.engine#HostConfigBlkioWeightDeviceList": {
      "type": "list",
      "member": {
        "target": "com.docker.engine#HostConfigBlkioWeightDeviceItem"
      },
      "traits": {
        "smithy.api#documentation": "Block IO weight (relative device weight) in the form:\n\n```\n[{\"Path\": \"device_path\", \"Weight\": weight}]\n```\n"
      }
    },
    "com.docker.engine#ThrottleDevice": {
      "type": "structure",
      "members": {
        "Path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Device path"
          }
        },
        "Rate": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Rate"
          }
        }
      },
      "traits": {}
    },
    "com.docker.engine#HostConfigBlkioDeviceReadBpsList": {
      "type": "list",
      "member": {
        "target": "com.docker.engine#ThrottleDevice"
      },
      "traits": {
        "smithy.api#documentation": "Limit read rate (bytes per second) from a device, in the form:\n\n```\n[{\"Path\": \"device_path\", \"Rate\": rate}]\n```\n"
      }
    },
    "com.docker.engine#HostConfigBlkioDeviceWriteBpsList": {
      "type": "list",
      "member": {
        "target": "com.docker.engine#ThrottleDevice"
      },
      "traits": {
        "smithy.api#documentation": "Limit write rate (bytes per second) to a device, in the form:\n\n```\n[{\"Path\": \"device_path\", \"Rate\": rate}]\n```\n"
      }
    },
    "com.docker.engine#HostConfigBlkioDeviceReadIOpsList": {
      "type": "list",
      "member": {
        "target": "com.docker.engine#ThrottleDevice"
      },
      "traits": {
        "smithy.api#documentation": "Limit read rate (IO per second) from a device, in the form:\n\n```\n[{\"Path\": \"device_path\", \"Rate\": rate}]\n```\n"
      }
    },
    "com.docker.engine#HostConfigBlkioDeviceWriteIOpsList": {
      "type": "list",
      "member": {
        "target": "com.docker.engine#ThrottleDevice"
      },
      "traits": {
        "smithy.api#documentation": "Limit write rate (IO per second) to a device, in the form:\n\n```\n[{\"Path\": \"device_path\", \"Rate\": rate}]\n```\n"
      }
    },
    "com.docker.engine#DeviceMapping": {
      "type": "structure",
      "members": {
        "PathOnHost": {
          "target": "smithy.api#String"
        },
        "PathInContainer": {
          "target": "smithy.api#String"
        },
        "CgroupPermissions": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "A device mapping between the host and container"
      }
    },
    "com.docker.engine#HostConfigDevicesList": {
      "type": "list",
      "member": {
        "target": "com.docker.engine#DeviceMapping"
      },
      "traits": {
        "smithy.api#documentation": "A list of devices to add to the container."
      }
    },
    "com.docker.engine#HostConfigDeviceCgroupRulesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "a list of cgroup rules to apply to the container"
      }
    },
    "com.docker.engine#DeviceRequest": {
      "type": "structure",
      "members": {
        "Driver": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the device driver to use for this request.\n\nNote that if this is specified the capabilities are ignored when\nselecting a device driver.\n"
          }
        },
        "Count": {
          "target": "smithy.api#Integer"
        },
        "DeviceIDs": {
          "target": "com.docker.engine#DeviceRequestDeviceIDsList"
        },
        "Capabilities": {
          "target": "com.docker.engine#DeviceRequestCapabilitiesList",
          "traits": {
            "smithy.api#documentation": "A list of capabilities; an OR list of AND lists of capabilities.\n\nNote that if a driver is specified the capabilities have no effect on\nselecting a driver as the driver name is used directly.\n\nNote that if no driver is specified the capabilities are used to\nselect a driver with the required capabilities.\n"
          }
        },
        "Options": {
          "target": "com.docker.engine#DeviceRequestOptionsMap",
          "traits": {
            "smithy.api#documentation": "Driver-specific options, specified as a key/value pairs. These options\nare passed directly to the driver.\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request for devices to be sent to device drivers"
      }
    },
    "com.docker.engine#DeviceRequestDeviceIDsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.docker.engine#DeviceRequestCapabilitiesItemList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.docker.engine#DeviceRequestCapabilitiesList": {
      "type": "list",
      "member": {
        "target": "com.docker.engine#DeviceRequestCapabilitiesItemList"
      },
      "traits": {
        "smithy.api#documentation": "A list of capabilities; an OR list of AND lists of capabilities.\n\nNote that if a driver is specified the capabilities have no effect on\nselecting a driver as the driver name is used directly.\n\nNote that if no driver is specified the capabilities are used to\nselect a driver with the required capabilities.\n"
      }
    },
    "com.docker.engine#DeviceRequestOptionsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Driver-specific options, specified as a key/value pairs. These options\nare passed directly to the driver.\n"
      }
    },
    "com.docker.engine#HostConfigDeviceRequestsList": {
      "type": "list",
      "member": {
        "target": "com.docker.engine#DeviceRequest"
      },
      "traits": {
        "smithy.api#documentation": "A list of requests for devices to be sent to device drivers.\n"
      }
    },
    "com.docker.engine#HostConfigUlimitsItem": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of ulimit"
          }
        },
        "Soft": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Soft limit"
          }
        },
        "Hard": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Hard limit"
          }
        }
      },
      "traits": {}
    },
    "com.docker.engine#HostConfigUlimitsList": {
      "type": "list",
      "member": {
        "target": "com.docker.engine#HostConfigUlimitsItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of resource limits to set in the container. For example:\n\n```\n{\"Name\": \"nofile\", \"Soft\": 1024, \"Hard\": 2048}\n```\n"
      }
    },
    "com.docker.engine#HostConfigBindsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of volume bindings for this container. Each volume binding\nis a string in one of these forms:\n\n- `host-src:container-dest[:options]` to bind-mount a host path\n  into the container. Both `host-src`, and `container-dest` must\n  be an _absolute_ path.\n- `volume-name:container-dest[:options]` to bind-mount a volume\n  managed by a volume driver into the container. `container-dest`\n  must be an _absolute_ path.\n\n`options` is an optional, comma-delimited list of:\n\n- `nocopy` disables automatic copying of data from the container\n  path to the volume. The `nocopy` flag only applies to named volumes.\n- `[ro|rw]` mounts a volume read-only or read-write, respectively.\n  If omitted or set to `rw`, volumes are mounted read-write.\n- `[z|Z]` applies SELinux labels to allow or deny multiple containers\n  to read and write to the same volume.\n    - `z`: a _shared_ content label is applied to the content. This\n      label indicates that multiple containers can share the volume\n      content, for both reading and writing.\n    - `Z`: a _private unshared_ label is applied to the content.\n      This label indicates that only the current container can use\n      a private volume. Labeling systems such as SELinux require\n      proper labels to be placed on volume content that is mounted\n      into a container. Without a label, the security system can\n      prevent a container's processes from using the content. By\n      default, the labels set by the host operating system are not\n      modified.\n- `[[r]shared|[r]slave|[r]private]` specifies mount\n  [propagation behavior](https://www.kernel.org/doc/Documentation/filesystems/sharedsubtree.txt).\n  This only applies to bind-mounted volumes, not internal volumes\n  or named volumes. Mount propagation requires the source mount\n  point (the location where the source directory is mounted in the\n  host operating system) to have the correct propagation properties.\n  For shared volumes, the source mount point must be set to `shared`.\n  For slave volumes, the mount must be set to either `shared` or\n  `slave`.\n"
      }
    },
    "com.docker.engine#HostConfigLogConfigType": {
      "type": "enum",
      "members": {
        "LOCAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "local"
          }
        },
        "JSON_FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json-file"
          }
        },
        "SYSLOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "syslog"
          }
        },
        "JOURNALD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "journald"
          }
        },
        "GELF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gelf"
          }
        },
        "FLUENTD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fluentd"
          }
        },
        "AWSLOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "awslogs"
          }
        },
        "SPLUNK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "splunk"
          }
        },
        "ETWLOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "etwlogs"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Name of the logging driver used for the container or \"none\"\nif logging is disabled."
      }
    },
    "com.docker.engine#HostConfigLogConfigConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Driver-specific configuration options for the logging driver."
      }
    },
    "com.docker.engine#HostConfigLogConfig": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.docker.engine#HostConfigLogConfigType",
          "traits": {
            "smithy.api#documentation": "Name of the logging driver used for the container or \"none\"\nif logging is disabled."
          }
        },
        "Config": {
          "target": "com.docker.engine#HostConfigLogConfigConfigMap",
          "traits": {
            "smithy.api#documentation": "Driver-specific configuration options for the logging driver."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The logging configuration for this container"
      }
    },
    "com.docker.engine#PortMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.docker.engine#PortMapValueList"
      },
      "traits": {
        "smithy.api#documentation": "PortMap describes the mapping of container ports to host ports, using the\ncontainer's port-number and protocol as key in the format `<port>/<protocol>`,\nfor example, `80/udp`.\n\nIf a container's port is mapped for multiple protocols, separate entries\nare added to the mapping table.\n"
      }
    },
    "com.docker.engine#PortBinding": {
      "type": "structure",
      "members": {
        "HostIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Host IP address that the container's port is mapped to."
          }
        },
        "HostPort": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Host port number that the container's port is mapped to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PortBinding represents a binding between a host IP address and a host\nport.\n"
      }
    },
    "com.docker.engine#PortMapValueList": {
      "type": "list",
      "member": {
        "target": "com.docker.engine#PortBinding"
      },
      "traits": {}
    },
    "com.docker.engine#RestartPolicy": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.docker.engine#RestartPolicyName",
          "traits": {
            "smithy.api#documentation": "- Empty string means not to restart\n- `no` Do not automatically restart\n- `always` Always restart\n- `unless-stopped` Restart always except when the user has manually stopped the container\n- `on-failure` Restart only when the container exit code is non-zero\n"
          }
        },
        "MaximumRetryCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If `on-failure` is used, the number of times to retry before giving up.\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The behavior to apply when the container exits. The default is not to\nrestart.\n\nAn ever increasing delay (double the previous delay, starting at 100ms) is\nadded before each restart to prevent flooding the server.\n"
      }
    },
    "com.docker.engine#RestartPolicyName": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no"
          }
        },
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "always"
          }
        },
        "UNLESS_STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unless-stopped"
          }
        },
        "ON_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on-failure"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "- Empty string means not to restart\n- `no` Do not automatically restart\n- `always` Always restart\n- `unless-stopped` Restart always except when the user has manually stopped the container\n- `on-failure` Restart only when the container exit code is non-zero\n"
      }
    },
    "com.docker.engine#HostConfigVolumesFromList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of volumes to inherit from another container, specified in\nthe form `<container name>[:<ro|rw>]`.\n"
      }
    },
    "com.docker.engine#Mount": {
      "type": "structure",
      "members": {
        "Target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Container path."
          }
        },
        "Source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mount source (e.g. a volume name, a host path). The source cannot be\nspecified when using `Type=tmpfs`. For `Type=bind`, the source path\nmust either exist, or the `CreateMountpoint` must be set to `true` to\ncreate the source path on the host if missing.\n\nFor `Type=npipe`, the pipe must exist prior to creating the container."
          }
        },
        "Type": {
          "target": "com.docker.engine#MountType",
          "traits": {
            "smithy.api#documentation": "The mount type. Available types:\n\n- `bind` Mounts a file or directory from the host into the container. The `Source` must exist prior to creating the container.\n- `cluster` a Swarm cluster volume\n- `image` Mounts an image.\n- `npipe` Mounts a named pipe from the host into the container. The `Source` must exist prior to creating the container.\n- `tmpfs` Create a tmpfs with the given options. The mount `Source` cannot be specified for tmpfs.\n- `volume` Creates a volume with the given name and options (or uses a pre-existing volume with the same name and options). These are **not** removed when the container is removed.\n"
          }
        },
        "ReadOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the mount should be read-only."
          }
        },
        "Consistency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The consistency requirement for the mount: `default`, `consistent`, `cached`, or `delegated`."
          }
        },
        "BindOptions": {
          "target": "com.docker.engine#MountBindOptions",
          "traits": {
            "smithy.api#documentation": "Optional configuration for the `bind` type."
          }
        },
        "VolumeOptions": {
          "target": "com.docker.engine#MountVolumeOptions",
          "traits": {
            "smithy.api#documentation": "Optional configuration for the `volume` type."
          }
        },
        "ImageOptions": {
          "target": "com.docker.engine#MountImageOptions",
          "traits": {
            "smithy.api#documentation": "Optional configuration for the `image` type."
          }
        },
        "TmpfsOptions": {
          "target": "com.docker.engine#MountTmpfsOptions",
          "traits": {
            "smithy.api#documentation": "Optional configuration for the `tmpfs` type."
          }
        }
      },
      "traits": {}
    },
    "com.docker.engine#MountBindOptionsPropagation": {
      "type": "enum",
      "members": {
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        },
        "RPRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rprivate"
          }
        },
        "SHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shared"
          }
        },
        "RSHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rshared"
          }
        },
        "SLAVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "slave"
          }
        },
        "RSLAVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rslave"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A propagation mode with the value `[r]private`, `[r]shared`, or `[r]slave`."
      }
    },
    "com.docker.engine#MountBindOptions": {
      "type": "structure",
      "members": {
        "Propagation": {
          "target": "com.docker.engine#MountBindOptionsPropagation",
          "traits": {
            "smithy.api#documentation": "A propagation mode with the value `[r]private`, `[r]shared`, or `[r]slave`."
          }
        },
        "NonRecursive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disable recursive bind mount."
          }
        },
        "CreateMountpoint": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Create mount point on host if missing"
          }
        },
        "ReadOnlyNonRecursive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Make the mount non-recursively read-only, but still leave the mount recursive\n(unless NonRecursive is set to `true` in conjunction).\n\nAdded in v1.44, before that version all read-only mounts were\nnon-recursive by default. To match the previous behaviour this\nwill default to `true` for clients on versions prior to v1.44.\n"
          }
        },
        "ReadOnlyForceRecursive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Raise an error if the mount cannot be made recursively read-only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Optional configuration for the `bind` type."
      }
    },
    "com.docker.engine#MountVolumeOptionsLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "User-defined key/value metadata."
      }
    },
    "com.docker.engine#MountVolumeOptionsDriverConfigOptionsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "key/value map of driver specific options."
      }
    },
    "com.docker.engine#MountVolumeOptionsDriverConfig": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the driver to use to create the volume."
          }
        },
        "Options": {
          "target": "com.docker.engine#MountVolumeOptionsDriverConfigOptionsMap",
          "traits": {
            "smithy.api#documentation": "key/value map of driver specific options."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Map of driver specific options"
      }
    },
    "com.docker.engine#MountVolumeOptions": {
      "type": "structure",
      "members": {
        "NoCopy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Populate volume with data from the target."
          }
        },
        "Labels": {
          "target": "com.docker.engine#MountVolumeOptionsLabelsMap",
          "traits": {
            "smithy.api#documentation": "User-defined key/value metadata."
          }
        },
        "DriverConfig": {
          "target": "com.docker.engine#MountVolumeOptionsDriverConfig",
          "traits": {
            "smithy.api#documentation": "Map of driver specific options"
          }
        },
        "Subpath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source path inside the volume. Must be relative without any back traversals."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Optional configuration for the `volume` type."
      }
    },
    "com.docker.engine#MountImageOptions": {
      "type": "structure",
      "members": {
        "Subpath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source path inside the image. Must be relative without any back traversals."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Optional configuration for the `image` type."
      }
    },
    "com.docker.engine#MountTmpfsOptionsOptionsItemList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.docker.engine#MountTmpfsOptionsOptionsList": {
      "type": "list",
      "member": {
        "target": "com.docker.engine#MountTmpfsOptionsOptionsItemList"
      },
      "traits": {
        "smithy.api#documentation": "The options to be passed to the tmpfs mount. An array of arrays.\nFlag options should be provided as 1-length arrays. Other types\nshould be provided as as 2-length arrays, where the first item is\nthe key and the second the value.\n"
      }
    },
    "com.docker.engine#MountTmpfsOptions": {
      "type": "structure",
      "members": {
        "SizeBytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The size for the tmpfs mount in bytes."
          }
        },
        "Mode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The permission mode for the tmpfs mount in an integer.\nThe value must not be in octal format (e.g. 755) but rather\nthe decimal representation of the octal value (e.g. 493).\n"
          }
        },
        "Options": {
          "target": "com.docker.engine#MountTmpfsOptionsOptionsList",
          "traits": {
            "smithy.api#documentation": "The options to be passed to the tmpfs mount. An array of arrays.\nFlag options should be provided as 1-length arrays. Other types\nshould be provided as as 2-length arrays, where the first item is\nthe key and the second the value.\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Optional configuration for the `tmpfs` type."
      }
    },
    "com.docker.engine#HostConfigMountsList": {
      "type": "list",
      "member": {
        "target": "com.docker.engine#Mount"
      },
      "traits": {
        "smithy.api#documentation": "Specification for mounts to be added to the container.\n"
      }
    },
    "com.docker.engine#HostConfigConsoleSizeList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Initial console size, as an `[height, width]` array.\n"
      }
    },
    "com.docker.engine#HostConfigAnnotationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Arbitrary non-identifying metadata attached to container and\nprovided to the runtime when the container is started.\n"
      }
    },
    "com.docker.engine#HostConfigCapAddList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of kernel capabilities to add to the container. Conflicts\nwith option 'Capabilities'.\n"
      }
    },
    "com.docker.engine#HostConfigCapDropList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of kernel capabilities to drop from the container. Conflicts\nwith option 'Capabilities'.\n"
      }
    },
    "com.docker.engine#HostConfigCgroupnsMode": {
      "type": "enum",
      "members": {
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        },
        "HOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "host"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "cgroup namespace mode for the container. Possible values are:\n\n- `\"private\"`: the container runs in its own private cgroup namespace\n- `\"host\"`: use the host system's cgroup namespace\n\nIf not specified, the daemon default is used, which can either be `\"private\"`\nor `\"host\"`, depending on daemon version, kernel support and configuration.\n"
      }
    },
    "com.docker.engine#HostConfigDnsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of DNS servers for the container to use."
      }
    },
    "com.docker.engine#HostConfigDnsOptionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of DNS options."
      }
    },
    "com.docker.engine#HostConfigDnsSearchList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of DNS search domains."
      }
    },
    "com.docker.engine#HostConfigExtraHostsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of hostnames/IP mappings to add to the container's `/etc/hosts`\nfile. Specified in the form `[\"hostname:IP\"]`.\n"
      }
    },
    "com.docker.engine#HostConfigGroupAddList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of additional groups that the container process will run as.\n"
      }
    },
    "com.docker.engine#HostConfigLinksList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of links for the container in the form `container_name:alias`.\n"
      }
    },
    "com.docker.engine#HostConfigSecurityOptList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of string values to customize labels for MLS systems, such\nas SELinux.\n"
      }
    },
    "com.docker.engine#HostConfigStorageOptMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Storage driver options for this container, in the form `{\"size\": \"120G\"}`.\n"
      }
    },
    "com.docker.engine#HostConfigTmpfsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A map of container directories which should be replaced by tmpfs\nmounts, and their corresponding mount options. For example:\n\n```\n{ \"/run\": \"rw,noexec,nosuid,size=65536k\" }\n```\n"
      }
    },
    "com.docker.engine#HostConfigSysctlsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of kernel parameters (sysctls) to set in the container.\n\nThis field is omitted if not set."
      }
    },
    "com.docker.engine#HostConfigIsolation": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "PROCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "process"
          }
        },
        "HYPERV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hyperv"
          }
        },
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Isolation technology of the container. (Windows only)\n"
      }
    },
    "com.docker.engine#HostConfigMaskedPathsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of paths to be masked inside the container (this overrides\nthe default set of paths).\n"
      }
    },
    "com.docker.engine#HostConfigReadonlyPathsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of paths to be set as read-only inside the container\n(this overrides the default set of paths).\n"
      }
    },
    "com.docker.engine#NetworkingConfig": {
      "type": "structure",
      "members": {
        "EndpointsConfig": {
          "target": "com.docker.engine#NetworkingConfigEndpointsConfigMap",
          "traits": {
            "smithy.api#documentation": "A mapping of network name to endpoint configuration for that network.\nThe endpoint configuration can be left empty to connect to that\nnetwork with no particular endpoint configuration.\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NetworkingConfig represents the container's networking configuration for\neach of its interfaces.\nIt is used for the networking configs specified in the `docker create`\nand `docker network connect` commands.\n"
      }
    },
    "com.docker.engine#NetworkingConfigEndpointsConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.docker.engine#EndpointSettings"
      },
      "traits": {
        "smithy.api#documentation": "A mapping of network name to endpoint configuration for that network.\nThe endpoint configuration can be left empty to connect to that\nnetwork with no particular endpoint configuration.\n"
      }
    },
    "com.docker.engine#ContainerCreateRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "name",
            "smithy.api#documentation": "Assign the specified name to the container. Must match\n`/?[a-zA-Z0-9][a-zA-Z0-9_.-]+`.\n"
          }
        },
        "platform": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "platform",
            "smithy.api#documentation": "Platform in the format `os[/arch[/variant]]` used for image lookup.\n\nWhen specified, the daemon checks if the requested image is present\nin the local image cache with the given OS and Architecture, and\notherwise returns a `404` status.\n\nIf the option is not set, the host's native OS and Architecture are\nused to look up the image in the image cache. However, if no platform\nis passed and the given image does exist in the local image cache,\nbut its OS or architecture does not match, the container is created\nwith the available image, and a warning is added to the `Warnings`\nfield in the response, for example;\n\n    WARNING: The requested image's platform (linux/arm64/v8) does not\n             match the detected host platform (linux/amd64) and no\n             specific platform was requested\n"
          }
        },
        "Hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname to use for the container, as a valid RFC 1123 hostname.\n"
          }
        },
        "Domainname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain name to use for the container.\n"
          }
        },
        "User": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Commands run as this user inside the container. If omitted, commands\nrun as the user specified in the image the container was started from.\n\nCan be either user-name or UID, and optional group-name or GID,\nseparated by a colon (`<user-name|UID>[<:group-name|GID>]`)."
          }
        },
        "AttachStdin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to attach to `stdin`."
          }
        },
        "AttachStdout": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to attach to `stdout`."
          }
        },
        "AttachStderr": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to attach to `stderr`."
          }
        },
        "ExposedPorts": {
          "target": "com.docker.engine#ContainerCreateRequestExposedPortsMap",
          "traits": {
            "smithy.api#documentation": "An object mapping ports to an empty object in the form:\n\n`{\"<port>/<tcp|udp|sctp>\": {}}`\n",
            "com.distilled.openapi#nullable": {}
          }
        },
        "Tty": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Attach standard streams to a TTY, including `stdin` if it is not closed.\n"
          }
        },
        "OpenStdin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Open `stdin`"
          }
        },
        "StdinOnce": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Close `stdin` after one attached client disconnects"
          }
        },
        "Env": {
          "target": "com.docker.engine#ContainerCreateRequestEnvList",
          "traits": {
            "smithy.api#documentation": "A list of environment variables to set inside the container in the\nform `[\"VAR=value\", ...]`. A variable without `=` is removed from the\nenvironment, rather than to have an empty value.\n"
          }
        },
        "Cmd": {
          "target": "com.docker.engine#ContainerCreateRequestCmdList",
          "traits": {
            "smithy.api#documentation": "Command to run specified as a string or an array of strings.\n"
          }
        },
        "Healthcheck": {
          "target": "com.docker.engine#HealthConfig"
        },
        "ArgsEscaped": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Command is already escaped (Windows only)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "Image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name (or reference) of the image to use when creating the container,\nor which was used when the container was created.\n"
          }
        },
        "Volumes": {
          "target": "com.docker.engine#ContainerCreateRequestVolumesMap",
          "traits": {
            "smithy.api#documentation": "An object mapping mount point paths inside the container to empty\nobjects.\n"
          }
        },
        "WorkingDir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The working directory for commands to run in."
          }
        },
        "Entrypoint": {
          "target": "com.docker.engine#ContainerCreateRequestEntrypointList",
          "traits": {
            "smithy.api#documentation": "The entry point for the container as a string or an array of strings.\n\nIf the array consists of exactly one empty string (`[\"\"]`) then the\nentry point is reset to system default (i.e., the entry point used by\ndocker when there is no `ENTRYPOINT` instruction in the `Dockerfile`).\n"
          }
        },
        "NetworkDisabled": {
          "target": "smithy.api#Boolean",
[...]
