{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.datadog.v1#IPRanges": {
      "type": "structure",
      "members": {
        "agents": {
          "target": "com.datadog.v1#IPPrefixesAgents"
        },
        "api": {
          "target": "com.datadog.v1#IPPrefixesAPI"
        },
        "apm": {
          "target": "com.datadog.v1#IPPrefixesAPM"
        },
        "global": {
          "target": "com.datadog.v1#IPPrefixesGlobal"
        },
        "logs": {
          "target": "com.datadog.v1#IPPrefixesLogs"
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date when last updated, in the form `YYYY-MM-DD-hh-mm-ss`."
          }
        },
        "orchestrator": {
          "target": "com.datadog.v1#IPPrefixesOrchestrator"
        },
        "process": {
          "target": "com.datadog.v1#IPPrefixesProcess"
        },
        "remote_configuration": {
          "target": "com.datadog.v1#IPPrefixesRemoteConfiguration",
          "traits": {
            "smithy.api#jsonName": "remote-configuration"
          }
        },
        "synthetics": {
          "target": "com.datadog.v1#IPPrefixesSynthetics"
        },
        "synthetics_private_locations": {
          "target": "com.datadog.v1#IPPrefixesSyntheticsPrivateLocations",
          "traits": {
            "smithy.api#jsonName": "synthetics-private-locations"
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version of the IP list."
          }
        },
        "webhooks": {
          "target": "com.datadog.v1#IPPrefixesWebhooks"
        }
      },
      "traits": {
        "smithy.api#documentation": "IP ranges."
      }
    },
    "com.datadog.v1#IPPrefixesAgents": {
      "type": "structure",
      "members": {
        "prefixes_ipv4": {
          "target": "com.datadog.v1#IPPrefixesAgentsPrefixesIpv4List",
          "traits": {
            "smithy.api#documentation": "List of IPv4 prefixes."
          }
        },
        "prefixes_ipv6": {
          "target": "com.datadog.v1#IPPrefixesAgentsPrefixesIpv6List",
          "traits": {
            "smithy.api#documentation": "List of IPv6 prefixes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Available prefix information for the Agent endpoints."
      }
    },
    "com.datadog.v1#IPPrefixesAgentsPrefixesIpv4List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of IPv4 prefixes."
      }
    },
    "com.datadog.v1#IPPrefixesAgentsPrefixesIpv6List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of IPv6 prefixes."
      }
    },
    "com.datadog.v1#IPPrefixesAPI": {
      "type": "structure",
      "members": {
        "prefixes_ipv4": {
          "target": "com.datadog.v1#IPPrefixesAPIPrefixesIpv4List",
          "traits": {
            "smithy.api#documentation": "List of IPv4 prefixes."
          }
        },
        "prefixes_ipv6": {
          "target": "com.datadog.v1#IPPrefixesAPIPrefixesIpv6List",
          "traits": {
            "smithy.api#documentation": "List of IPv6 prefixes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Available prefix information for the API endpoints."
      }
    },
    "com.datadog.v1#IPPrefixesAPIPrefixesIpv4List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of IPv4 prefixes."
      }
    },
    "com.datadog.v1#IPPrefixesAPIPrefixesIpv6List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of IPv6 prefixes."
      }
    },
    "com.datadog.v1#IPPrefixesAPM": {
      "type": "structure",
      "members": {
        "prefixes_ipv4": {
          "target": "com.datadog.v1#IPPrefixesAPMPrefixesIpv4List",
          "traits": {
            "smithy.api#documentation": "List of IPv4 prefixes."
          }
        },
        "prefixes_ipv6": {
          "target": "com.datadog.v1#IPPrefixesAPMPrefixesIpv6List",
          "traits": {
            "smithy.api#documentation": "List of IPv6 prefixes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Available prefix information for the APM endpoints."
      }
    },
    "com.datadog.v1#IPPrefixesAPMPrefixesIpv4List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of IPv4 prefixes."
      }
    },
    "com.datadog.v1#IPPrefixesAPMPrefixesIpv6List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of IPv6 prefixes."
      }
    },
    "com.datadog.v1#IPPrefixesGlobal": {
      "type": "structure",
      "members": {
        "prefixes_ipv4": {
          "target": "com.datadog.v1#IPPrefixesGlobalPrefixesIpv4List",
          "traits": {
            "smithy.api#documentation": "List of IPv4 prefixes."
          }
        },
        "prefixes_ipv6": {
          "target": "com.datadog.v1#IPPrefixesGlobalPrefixesIpv6List",
          "traits": {
            "smithy.api#documentation": "List of IPv6 prefixes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Available prefix information for all Datadog endpoints."
      }
    },
    "com.datadog.v1#IPPrefixesGlobalPrefixesIpv4List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of IPv4 prefixes."
      }
    },
    "com.datadog.v1#IPPrefixesGlobalPrefixesIpv6List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of IPv6 prefixes."
      }
    },
    "com.datadog.v1#IPPrefixesLogs": {
      "type": "structure",
      "members": {
        "prefixes_ipv4": {
          "target": "com.datadog.v1#IPPrefixesLogsPrefixesIpv4List",
          "traits": {
            "smithy.api#documentation": "List of IPv4 prefixes."
          }
        },
        "prefixes_ipv6": {
          "target": "com.datadog.v1#IPPrefixesLogsPrefixesIpv6List",
          "traits": {
            "smithy.api#documentation": "List of IPv6 prefixes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Available prefix information for the Logs endpoints."
      }
    },
    "com.datadog.v1#IPPrefixesLogsPrefixesIpv4List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of IPv4 prefixes."
      }
    },
    "com.datadog.v1#IPPrefixesLogsPrefixesIpv6List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of IPv6 prefixes."
      }
    },
    "com.datadog.v1#IPPrefixesOrchestrator": {
      "type": "structure",
      "members": {
        "prefixes_ipv4": {
          "target": "com.datadog.v1#IPPrefixesOrchestratorPrefixesIpv4List",
          "traits": {
            "smithy.api#documentation": "List of IPv4 prefixes."
          }
        },
        "prefixes_ipv6": {
          "target": "com.datadog.v1#IPPrefixesOrchestratorPrefixesIpv6List",
          "traits": {
            "smithy.api#documentation": "List of IPv6 prefixes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Available prefix information for the Orchestrator endpoints."
      }
    },
    "com.datadog.v1#IPPrefixesOrchestratorPrefixesIpv4List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of IPv4 prefixes."
      }
    },
    "com.datadog.v1#IPPrefixesOrchestratorPrefixesIpv6List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of IPv6 prefixes."
      }
    },
    "com.datadog.v1#IPPrefixesProcess": {
      "type": "structure",
      "members": {
        "prefixes_ipv4": {
          "target": "com.datadog.v1#IPPrefixesProcessPrefixesIpv4List",
          "traits": {
            "smithy.api#documentation": "List of IPv4 prefixes."
          }
        },
        "prefixes_ipv6": {
          "target": "com.datadog.v1#IPPrefixesProcessPrefixesIpv6List",
          "traits": {
            "smithy.api#documentation": "List of IPv6 prefixes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Available prefix information for the Process endpoints."
      }
    },
    "com.datadog.v1#IPPrefixesProcessPrefixesIpv4List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of IPv4 prefixes."
      }
    },
    "com.datadog.v1#IPPrefixesProcessPrefixesIpv6List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of IPv6 prefixes."
      }
    },
    "com.datadog.v1#IPPrefixesRemoteConfiguration": {
      "type": "structure",
      "members": {
        "prefixes_ipv4": {
          "target": "com.datadog.v1#IPPrefixesRemoteConfigurationPrefixesIpv4List",
          "traits": {
            "smithy.api#documentation": "List of IPv4 prefixes."
          }
        },
        "prefixes_ipv6": {
          "target": "com.datadog.v1#IPPrefixesRemoteConfigurationPrefixesIpv6List",
          "traits": {
            "smithy.api#documentation": "List of IPv6 prefixes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Available prefix information for the Remote Configuration endpoints."
      }
    },
    "com.datadog.v1#IPPrefixesRemoteConfigurationPrefixesIpv4List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of IPv4 prefixes."
      }
    },
    "com.datadog.v1#IPPrefixesRemoteConfigurationPrefixesIpv6List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of IPv6 prefixes."
      }
    },
    "com.datadog.v1#IPPrefixesSynthetics": {
      "type": "structure",
      "members": {
        "prefixes_ipv4": {
          "target": "com.datadog.v1#IPPrefixesSyntheticsPrefixesIpv4List",
          "traits": {
            "smithy.api#documentation": "List of IPv4 prefixes."
          }
        },
        "prefixes_ipv4_by_location": {
          "target": "com.datadog.v1#IPPrefixesSyntheticsPrefixesIpv4ByLocationMap",
          "traits": {
            "smithy.api#documentation": "List of IPv4 prefixes by location."
          }
        },
        "prefixes_ipv6": {
          "target": "com.datadog.v1#IPPrefixesSyntheticsPrefixesIpv6List",
          "traits": {
            "smithy.api#documentation": "List of IPv6 prefixes."
          }
        },
        "prefixes_ipv6_by_location": {
          "target": "com.datadog.v1#IPPrefixesSyntheticsPrefixesIpv6ByLocationMap",
          "traits": {
            "smithy.api#documentation": "List of IPv6 prefixes by location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Available prefix information for the Synthetics endpoints."
      }
    },
    "com.datadog.v1#IPPrefixesSyntheticsPrefixesIpv4List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of IPv4 prefixes."
      }
    },
    "com.datadog.v1#IPPrefixesSyntheticsPrefixesIpv4ByLocationValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of IPv4 prefixes."
      }
    },
    "com.datadog.v1#IPPrefixesSyntheticsPrefixesIpv4ByLocationMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.datadog.v1#IPPrefixesSyntheticsPrefixesIpv4ByLocationValueList"
      },
      "traits": {
        "smithy.api#documentation": "List of IPv4 prefixes by location."
      }
    },
    "com.datadog.v1#IPPrefixesSyntheticsPrefixesIpv6List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of IPv6 prefixes."
      }
    },
    "com.datadog.v1#IPPrefixesSyntheticsPrefixesIpv6ByLocationValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of IPv6 prefixes."
      }
    },
    "com.datadog.v1#IPPrefixesSyntheticsPrefixesIpv6ByLocationMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.datadog.v1#IPPrefixesSyntheticsPrefixesIpv6ByLocationValueList"
      },
      "traits": {
        "smithy.api#documentation": "List of IPv6 prefixes by location."
      }
    },
    "com.datadog.v1#IPPrefixesSyntheticsPrivateLocations": {
      "type": "structure",
      "members": {
        "prefixes_ipv4": {
          "target": "com.datadog.v1#IPPrefixesSyntheticsPrivateLocationsPrefixesIpv4List",
          "traits": {
            "smithy.api#documentation": "List of IPv4 prefixes."
          }
        },
        "prefixes_ipv6": {
          "target": "com.datadog.v1#IPPrefixesSyntheticsPrivateLocationsPrefixesIpv6List",
          "traits": {
            "smithy.api#documentation": "List of IPv6 prefixes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Available prefix information for the Synthetics Private Locations endpoints."
      }
    },
    "com.datadog.v1#IPPrefixesSyntheticsPrivateLocationsPrefixesIpv4List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of IPv4 prefixes."
      }
    },
    "com.datadog.v1#IPPrefixesSyntheticsPrivateLocationsPrefixesIpv6List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of IPv6 prefixes."
      }
    },
    "com.datadog.v1#IPPrefixesWebhooks": {
      "type": "structure",
      "members": {
        "prefixes_ipv4": {
          "target": "com.datadog.v1#IPPrefixesWebhooksPrefixesIpv4List",
          "traits": {
            "smithy.api#documentation": "List of IPv4 prefixes."
          }
        },
        "prefixes_ipv6": {
          "target": "com.datadog.v1#IPPrefixesWebhooksPrefixesIpv6List",
          "traits": {
            "smithy.api#documentation": "List of IPv6 prefixes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Available prefix information for the Webhook endpoints."
      }
    },
    "com.datadog.v1#IPPrefixesWebhooksPrefixesIpv4List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of IPv4 prefixes."
      }
    },
    "com.datadog.v1#IPPrefixesWebhooksPrefixesIpv6List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of IPv6 prefixes."
      }
    },
    "com.datadog.v1#GetIPRanges": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.datadog.v1#IPRanges"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/",
          "code": 200
        },
        "smithy.api#documentation": "List IP Ranges\n\nGet information about Datadog IP ranges."
      }
    },
    "com.datadog.v1#ApiKeyListResponse": {
      "type": "structure",
      "members": {
        "api_keys": {
          "target": "com.datadog.v1#ApiKeyListResponseApiKeysList",
          "traits": {
            "smithy.api#documentation": "Array of API keys."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of API and application keys available for a given organization."
      }
    },
    "com.datadog.v1#ApiKey": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of creation of the API key."
          }
        },
        "created_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Datadog user handle that created the API key."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API key."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of your API key."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Datadog API key."
      }
    },
    "com.datadog.v1#ApiKeyListResponseApiKeysList": {
      "type": "list",
      "member": {
        "target": "com.datadog.v1#ApiKey"
      },
      "traits": {
        "smithy.api#documentation": "Array of API keys."
      }
    },
    "com.datadog.v1#ListAPIKeys": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.datadog.v1#ApiKeyListResponse"
      },
      "errors": [
        {
          "target": "com.datadog.v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/api_key",
          "code": 200
        },
        "smithy.api#documentation": "Get all API keys\n\nGet all API keys available for your account.\n\n**Note**: This endpoint is disabled for the Government sites (US1-FED and US2-FED). Use the [V2 Key Management](https://docs.datadoghq.com/api/latest/key-management/) endpoints instead."
      }
    },
    "com.datadog.v1#CreateAPIKeyRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of your API key."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.datadog.v1#ApiKeyResponse": {
      "type": "structure",
      "members": {
        "api_key": {
          "target": "com.datadog.v1#ApiKey"
        }
      },
      "traits": {
        "smithy.api#documentation": "An API key with its associated metadata."
      }
    },
    "com.datadog.v1#CreateAPIKey": {
      "type": "operation",
      "input": {
        "target": "com.datadog.v1#CreateAPIKeyRequest"
      },
      "output": {
        "target": "com.datadog.v1#ApiKeyResponse"
      },
      "errors": [
        {
          "target": "com.datadog.v1#BadRequest"
        },
        {
          "target": "com.datadog.v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/api_key",
          "code": 200
        },
        "smithy.api#documentation": "Create an API key\n\nCreates an API key with a given name.\n\n**Note**: This endpoint is disabled for the Government sites (US1-FED and US2-FED). Use the [V2 Key Management](https://docs.datadoghq.com/api/latest/key-management/) endpoints instead."
      }
    },
    "com.datadog.v1#GetAPIKeyRequest": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The specific API key you are working with."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.datadog.v1#GetAPIKey": {
      "type": "operation",
      "input": {
        "target": "com.datadog.v1#GetAPIKeyRequest"
      },
      "output": {
        "target": "com.datadog.v1#ApiKeyResponse"
      },
      "errors": [
        {
          "target": "com.datadog.v1#Forbidden"
        },
        {
          "target": "com.datadog.v1#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/api_key/{key}",
          "code": 200
        },
        "smithy.api#documentation": "Get API key\n\nGet a given API key.\n\n**Note**: This endpoint is disabled for the Government sites (US1-FED and US2-FED). Use the [V2 Key Management](https://docs.datadoghq.com/api/latest/key-management/) endpoints instead."
      }
    },
    "com.datadog.v1#UpdateAPIKeyRequest": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The specific API key you are working with."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of your API key."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.datadog.v1#UpdateAPIKey": {
      "type": "operation",
      "input": {
        "target": "com.datadog.v1#UpdateAPIKeyRequest"
      },
      "output": {
        "target": "com.datadog.v1#ApiKeyResponse"
      },
      "errors": [
        {
          "target": "com.datadog.v1#BadRequest"
        },
        {
          "target": "com.datadog.v1#Forbidden"
        },
        {
          "target": "com.datadog.v1#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/v1/api_key/{key}",
          "code": 200
        },
        "smithy.api#documentation": "Edit an API key\n\nEdit an API key name.\n\n**Note**: This endpoint is disabled for the Government sites (US1-FED and US2-FED). Use the [V2 Key Management](https://docs.datadoghq.com/api/latest/key-management/) endpoints instead."
      }
    },
    "com.datadog.v1#DeleteAPIKeyRequest": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The specific API key you are working with."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.datadog.v1#DeleteAPIKey": {
      "type": "operation",
      "input": {
        "target": "com.datadog.v1#DeleteAPIKeyRequest"
      },
      "output": {
        "target": "com.datadog.v1#ApiKeyResponse"
      },
      "errors": [
        {
          "target": "com.datadog.v1#BadRequest"
        },
        {
          "target": "com.datadog.v1#Forbidden"
        },
        {
          "target": "com.datadog.v1#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/api_key/{key}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an API key\n\nDelete a given API key.\n\n**Note**: This endpoint is disabled for the Government sites (US1-FED and US2-FED). Use the [V2 Key Management](https://docs.datadoghq.com/api/latest/key-management/) endpoints instead."
      }
    },
    "com.datadog.v1#ApplicationKeyListResponse": {
      "type": "structure",
      "members": {
        "application_keys": {
          "target": "com.datadog.v1#ApplicationKeyListResponseApplicationKeysList",
          "traits": {
            "smithy.api#documentation": "Array of application keys."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An application key response."
      }
    },
    "com.datadog.v1#ApplicationKey": {
      "type": "structure",
      "members": {
        "hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hash of an application key."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of an application key."
          }
        },
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Owner of an application key."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An application key with its associated metadata."
      }
    },
    "com.datadog.v1#ApplicationKeyListResponseApplicationKeysList": {
      "type": "list",
      "member": {
        "target": "com.datadog.v1#ApplicationKey"
      },
      "traits": {
        "smithy.api#documentation": "Array of application keys."
      }
    },
    "com.datadog.v1#ListApplicationKeys": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.datadog.v1#ApplicationKeyListResponse"
      },
      "errors": [
        {
          "target": "com.datadog.v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/application_key",
          "code": 200
        },
        "smithy.api#documentation": "Get all application keys\n\nGet all application keys available for your Datadog account.\nThis endpoint is disabled for organizations in [One-Time Read mode](https://docs.datadoghq.com/account_management/api-app-keys/#one-time-read-mode).\n\n**Note**: This endpoint is disabled for the Government sites (US1-FED and US2-FED). Use the [V2 Key Management](https://docs.datadoghq.com/api/latest/key-management/) endpoints instead."
      }
    },
    "com.datadog.v1#CreateApplicationKeyRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of an application key."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.datadog.v1#ApplicationKeyResponse": {
      "type": "structure",
      "members": {
        "application_key": {
          "target": "com.datadog.v1#ApplicationKey"
        }
      },
      "traits": {
        "smithy.api#documentation": "An application key response."
      }
    },
    "com.datadog.v1#CreateApplicationKey": {
      "type": "operation",
      "input": {
        "target": "com.datadog.v1#CreateApplicationKeyRequest"
      },
      "output": {
        "target": "com.datadog.v1#ApplicationKeyResponse"
      },
      "errors": [
        {
          "target": "com.datadog.v1#BadRequest"
        },
        {
          "target": "com.datadog.v1#Forbidden"
        },
        {
          "target": "com.datadog.v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/application_key",
          "code": 200
        },
        "smithy.api#documentation": "Create an application key\n\nCreate an application key with a given name.\nThis endpoint is disabled for organizations in [One-Time Read mode](https://docs.datadoghq.com/account_management/api-app-keys/#one-time-read-mode).\n\n**Note**: This endpoint is disabled for the Government sites (US1-FED and US2-FED). Use the [V2 Key Management](https://docs.datadoghq.com/api/latest/key-management/) endpoints instead."
      }
    },
    "com.datadog.v1#GetApplicationKeyRequest": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The specific APP key you are working with."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.datadog.v1#GetApplicationKey": {
      "type": "operation",
      "input": {
        "target": "com.datadog.v1#GetApplicationKeyRequest"
      },
      "output": {
        "target": "com.datadog.v1#ApplicationKeyResponse"
      },
      "errors": [
        {
          "target": "com.datadog.v1#Forbidden"
        },
        {
          "target": "com.datadog.v1#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/application_key/{key}",
          "code": 200
        },
        "smithy.api#documentation": "Get an application key\n\nGet a given application key.\nThis endpoint is disabled for organizations in [One-Time Read mode](https://docs.datadoghq.com/account_management/api-app-keys/#one-time-read-mode).\n\n**Note**: This endpoint is disabled for the Government sites (US1-FED and US2-FED). Use the [V2 Key Management](https://docs.datadoghq.com/api/latest/key-management/) endpoints instead."
      }
    },
    "com.datadog.v1#UpdateApplicationKeyRequest": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The specific APP key you are working with."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of an application key."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.datadog.v1#UpdateApplicationKey": {
      "type": "operation",
      "input": {
        "target": "com.datadog.v1#UpdateApplicationKeyRequest"
      },
      "output": {
        "target": "com.datadog.v1#ApplicationKeyResponse"
      },
      "errors": [
        {
          "target": "com.datadog.v1#BadRequest"
        },
        {
          "target": "com.datadog.v1#Forbidden"
        },
        {
          "target": "com.datadog.v1#NotFound"
        },
        {
          "target": "com.datadog.v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/v1/application_key/{key}",
          "code": 200
        },
        "smithy.api#documentation": "Edit an application key\n\nEdit an application key name.\nThis endpoint is disabled for organizations in [One-Time Read mode](https://docs.datadoghq.com/account_management/api-app-keys/#one-time-read-mode).\n\n**Note**: This endpoint is disabled for the Government sites (US1-FED and US2-FED). Use the [V2 Key Management](https://docs.datadoghq.com/api/latest/key-management/) endpoints instead."
      }
    },
    "com.datadog.v1#DeleteApplicationKeyRequest": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The specific APP key you are working with."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.datadog.v1#DeleteApplicationKey": {
      "type": "operation",
      "input": {
        "target": "com.datadog.v1#DeleteApplicationKeyRequest"
      },
      "output": {
        "target": "com.datadog.v1#ApplicationKeyResponse"
      },
      "errors": [
        {
          "target": "com.datadog.v1#Forbidden"
        },
        {
          "target": "com.datadog.v1#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/v1/application_key/{key}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an application key\n\nDelete a given application key.\nThis endpoint is disabled for organizations in [One-Time Read mode](https://docs.datadoghq.com/account_management/api-app-keys/#one-time-read-mode).\n\n**Note**: This endpoint is disabled for the Government sites (US1-FED and US2-FED). Use the [V2 Key Management](https://docs.datadoghq.com/api/latest/key-management/) endpoints instead."
      }
    },
    "com.datadog.v1#ServiceChecks": {
      "type": "list",
      "member": {
        "target": "com.datadog.v1#ServiceCheck"
      },
      "traits": {
        "smithy.api#documentation": "The service checks."
      }
    },
    "com.datadog.v1#ServiceCheck": {
      "type": "structure",
      "members": {
        "check": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The check.",
            "smithy.api#required": {}
          }
        },
        "host_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The host name correlated with the check.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Message containing check status."
          }
        },
        "status": {
          "target": "com.datadog.v1#ServiceCheckStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.datadog.v1#ServiceCheckTagsList",
          "traits": {
            "smithy.api#documentation": "Tags related to a check.",
            "smithy.api#required": {}
          }
        },
        "timestamp": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Time of check."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object containing service check and status."
      }
    },
    "com.datadog.v1#ServiceCheckStatus": {
      "type": "intEnum",
      "members": {
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 0
          }
        },
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        },
        "_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2
          }
        },
        "_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of a service check. Set to `0` for OK, `1` for warning, `2` for critical, and `3` for unknown."
      }
    },
    "com.datadog.v1#ServiceCheckTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tags related to a check."
      }
    },
    "com.datadog.v1#SubmitServiceCheckRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.datadog.v1#ServiceChecks",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.datadog.v1#SubmitServiceCheck": {
      "type": "operation",
      "input": {
        "target": "com.datadog.v1#SubmitServiceCheckRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.datadog.v1#BadRequest"
        },
        {
          "target": "com.datadog.v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v1/check_run",
          "code": 200
        },
        "smithy.api#documentation": "Submit a Service Check\n\nSubmit a list of Service Checks.\n\n**Notes**:\n- A valid API key is required.\n- Service checks can be submitted up to 10 minutes in the past."
      }
    },
    "com.datadog.v1#ListDashboardsRequest": {
      "type": "structure",
      "members": {
        "filter_shared_": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "filter[shared]",
            "smithy.api#documentation": "When `true`, this query only returns shared custom created\nor cloned dashboards."
          }
        },
        "filter_deleted_": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "filter[deleted]",
            "smithy.api#documentation": "When `true`, this query returns only deleted custom-created\nor cloned dashboards. This parameter is incompatible with `filter[shared]`."
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "count",
            "smithy.api#documentation": "The maximum number of dashboards returned in the list."
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "start",
            "smithy.api#documentation": "The specific offset to use as the beginning of the returned response."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.datadog.v1#DashboardSummary": {
      "type": "structure",
      "members": {
        "dashboards": {
          "target": "com.datadog.v1#DashboardSummaryDashboardsList",
          "traits": {
            "smithy.api#documentation": "List of dashboard definitions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dashboard summary response."
      }
    },
    "com.datadog.v1#DashboardSummaryDefinition": {
      "type": "structure",
      "members": {
        "author_handle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the dashboard author."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation date of the dashboard."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the dashboard.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dashboard identifier."
          }
        },
        "is_read_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this dashboard is read-only. If True, only the author and admins can make changes to it.\n\nThis property is deprecated; please use the [Restriction Policies API](https://docs.datadoghq.com/api/latest/restriction-policies/) instead to manage write authorization for individual dashboards."
          }
        },
        "layout_type": {
          "target": "com.datadog.v1#DashboardLayoutType"
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Modification date of the dashboard."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the dashboard."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the dashboard."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dashboard definition."
      }
    },
    "com.datadog.v1#DashboardLayoutType": {
      "type": "enum",
      "members": {
        "ORDERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ordered"
          }
        },
        "FREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "free"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Layout type of the dashboard."
      }
    },
    "com.datadog.v1#DashboardSummaryDashboardsList": {
      "type": "list",
      "member": {
        "target": "com.datadog.v1#DashboardSummaryDefinition"
      },
      "traits": {
        "smithy.api#documentation": "List of dashboard definitions."
      }
    },
    "com.datadog.v1#ListDashboards": {
      "type": "operation",
      "input": {
        "target": "com.datadog.v1#ListDashboardsRequest"
      },
      "output": {
        "target": "com.datadog.v1#DashboardSummary"
      },
      "errors": [
        {
          "target": "com.datadog.v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v1/dashboard",
          "code": 200
        },
        "smithy.api#documentation": "Get all dashboards\n\nGet all dashboards.\n\n**Note**: This query will only return custom created or cloned dashboards.\nThis query will not return preset dashboards."
      }
    },
    "com.datadog.v1#DashboardDefaultTimeframeSetting": {
      "type": "union",
      "members": {
        "DashboardLiveTimeframe": {
          "target": "com.datadog.v1#DashboardLiveTimeframe"
        },
        "DashboardFixedTimeframe": {
          "target": "com.datadog.v1#DashboardFixedTimeframe"
        }
      },
      "traits": {
        "smithy.api#documentation": "The default timeframe applied when opening the dashboard. Set to `null` to clear the dashboard's default timeframe."
      }
    },
    "com.datadog.v1#DashboardLiveTimeframe": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.datadog.v1#DashboardLiveTimeframeType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "unit": {
          "target": "com.datadog.v1#WidgetLiveSpanUnit",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Value of the live timeframe span.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A live dashboard timeframe."
      }
    },
    "com.datadog.v1#DashboardLiveTimeframeType": {
      "type": "enum",
      "members": {
        "LIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "live"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of live timeframe."
      }
    },
    "com.datadog.v1#WidgetLiveSpanUnit": {
      "type": "enum",
      "members": {
        "MINUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "minute"
          }
        },
        "HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hour"
          }
        },
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "week"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month"
          }
        },
        "YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "year"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Unit of the time span."
      }
    },
    "com.datadog.v1#DashboardFixedTimeframe": {
      "type": "structure",
      "members": {
        "from": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Start time in milliseconds since epoch.",
            "smithy.api#required": {}
          }
        },
        "to": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "End time in milliseconds since epoch.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.datadog.v1#DashboardFixedTimeframeType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A fixed dashboard timeframe."
      }
    },
    "com.datadog.v1#DashboardFixedTimeframeType": {
      "type": "enum",
      "members": {
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of fixed timeframe."
      }
    },
    "com.datadog.v1#CreateDashboardRequestNotifyListList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of handles of users to notify when changes are made to this dashboard."
      }
    },
    "com.datadog.v1#DashboardReflowType": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        },
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reflow type for a **new dashboard layout** dashboard. Set this only when layout type is 'ordered'.\nIf set to 'fixed', the dashboard expects all widgets to have a layout, and if it's set to 'auto',\nwidgets should not have layouts."
      }
    },
    "com.datadog.v1#CreateDashboardRequestRestrictedRolesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of role identifiers. Only the author and users associated with at least one of these roles can edit this dashboard."
      }
    },
    "com.datadog.v1#DashboardTab": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the tab.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the tab.",
            "smithy.api#required": {}
          }
        },
        "widget_ids": {
          "target": "com.datadog.v1#DashboardTabWidgetIdsList",
          "traits": {
            "smithy.api#documentation": "List of widget IDs belonging to this tab. The backend also accepts positional references in @N format (1-indexed) as a convenience for Terraform and other declarative tools.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dashboard tab for organizing widgets."
      }
    },
    "com.datadog.v1#DashboardTabWidgetIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "List of widget IDs belonging to this tab. The backend also accepts positional references in @N format (1-indexed) as a convenience for Terraform and other declarative tools."
      }
    },
    "com.datadog.v1#CreateDashboardRequestTabsList": {
      "type": "list",
      "member": {
        "target": "com.datadog.v1#DashboardTab"
      },
      "traits": {
        "smithy.api#documentation": "List of tabs for organizing dashboard widgets into groups."
      }
    },
    "com.datadog.v1#CreateDashboardRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of team names representing ownership of a dashboard."
      }
    },
    "com.datadog.v1#DashboardTemplateVariablePreset": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the variable."
          }
        },
        "template_variables": {
          "target": "com.datadog.v1#DashboardTemplateVariablePresetTemplateVariablesList",
          "traits": {
            "smithy.api#documentation": "List of variables."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Template variables saved views."
      }
    },
    "com.datadog.v1#DashboardTemplateVariablePresetValue": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the variable."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "(deprecated) The value of the template variable within the saved view. Cannot be used in conjunction with `values`."
          }
        },
        "values": {
          "target": "com.datadog.v1#DashboardTemplateVariablePresetValueValuesList",
          "traits": {
            "smithy.api#documentation": "One or many template variable values within the saved view, which will be unioned together using `OR` if more than one is specified. Cannot be used in conjunction with `value`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Template variables saved views."
      }
    },
    "com.datadog.v1#DashboardTemplateVariablePresetValueValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "One or many template variable values within the saved view, which will be unioned together using `OR` if more than one is specified. Cannot be used in conjunction with `value`."
      }
    },
    "com.datadog.v1#DashboardTemplateVariablePresetTemplateVariablesList": {
      "type": "list",
      "member": {
        "target": "com.datadog.v1#DashboardTemplateVariablePresetValue"
      },
      "traits": {
        "smithy.api#documentation": "List of variables."
      }
    },
    "com.datadog.v1#CreateDashboardRequestTemplateVariablePresetsList": {
      "type": "list",
      "member": {
        "target": "com.datadog.v1#DashboardTemplateVariablePreset"
      },
      "traits": {
        "smithy.api#documentation": "Array of template variables saved views."
      }
    },
    "com.datadog.v1#DashboardTemplateVariable": {
      "type": "structure",
      "members": {
        "available_values": {
          "target": "com.datadog.v1#DashboardTemplateVariableAvailableValuesList",
          "traits": {
            "smithy.api#documentation": "The list of values that the template variable drop-down is limited to.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "default": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "(deprecated) The default value for the template variable on dashboard load. Cannot be used in conjunction with `defaults`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "defaults": {
          "target": "com.datadog.v1#DashboardTemplateVariableDefaultsList",
          "traits": {
            "smithy.api#documentation": "One or many default values for template variables on load. If more than one default is specified, they will be unioned together with `OR`. Cannot be used in conjunction with `default`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the variable.",
            "smithy.api#required": {}
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tag prefix associated with the variable. Only tags with this prefix appear in the variable drop-down.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of variable. This is to differentiate between filter variables (interpolated in query) and group by variables (interpolated into group by).",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Template variable."
      }
    },
    "com.datadog.v1#DashboardTemplateVariableAvailableValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of values that the template variable drop-down is limited to."
      }
    },
    "com.datadog.v1#DashboardTemplateVariableDefaultsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "One or many default values for template variables on load. If more than one default is specified, they will be unioned together with `OR`. Cannot be used in conjunction with `default`."
      }
    },
    "com.datadog.v1#CreateDashboardRequestTemplateVariablesList": {
      "type": "list",
      "member": {
        "target": "com.datadog.v1#DashboardTemplateVariable"
      },
      "traits": {
        "smithy.api#documentation": "List of template variables for this dashboard."
      }
    },
    "com.datadog.v1#Widget": {
      "type": "structure",
      "members": {
        "definition": {
          "target": "com.datadog.v1#WidgetDefinition",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the widget."
          }
        },
        "layout": {
          "target": "com.datadog.v1#WidgetLayout"
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about widget.\n\n**Note**: The `layout` property is required for widgets in dashboards with `free` `layout_type`.\n      For the **new dashboard layout**, the `layout` property depends on the `reflow_type` of the dashboard.\n      - If `reflow_type` is `fixed`, `layout` is required.\n      - If `reflow_type` is `auto`, `layout` should not be set."
      }
    },
    "com.datadog.v1#WidgetDefinition": {
      "type": "union",
      "members": {
        "AlertGraphWidgetDefinition": {
          "target": "com.datadog.v1#AlertGraphWidgetDefinition"
        },
        "AlertValueWidgetDefinition": {
          "target": "com.datadog.v1#AlertValueWidgetDefinition"
        },
        "BarChartWidgetDefinition": {
          "target": "com.datadog.v1#BarChartWidgetDefinition"
        },
        "ChangeWidgetDefinition": {
          "target": "com.datadog.v1#ChangeWidgetDefinition"
        },
        "CheckStatusWidgetDefinition": {
          "target": "com.datadog.v1#CheckStatusWidgetDefinition"
        },
        "CohortWidgetDefinition": {
          "target": "com.datadog.v1#CohortWidgetDefinition"
        },
        "DistributionWidgetDefinition": {
          "target": "com.datadog.v1#DistributionWidgetDefinition"
        },
        "EventStreamWidgetDefinition": {
          "target": "com.datadog.v1#EventStreamWidgetDefinition"
        },
        "EventTimelineWidgetDefinition": {
          "target": "com.datadog.v1#EventTimelineWidgetDefinition"
        },
        "FreeTextWidgetDefinition": {
          "target": "com.datadog.v1#FreeTextWidgetDefinition"
        },
        "FunnelWidgetDefinition": {
          "target": "com.datadog.v1#FunnelWidgetDefinition"
        },
        "ProductAnalyticsFunnelWidgetDefinition": {
          "target": "com.datadog.v1#ProductAnalyticsFunnelWidgetDefinition"
        },
        "GeomapWidgetDefinition": {
          "target": "com.datadog.v1#GeomapWidgetDefinition"
        },
        "GroupWidgetDefinition": {
          "target": "com.datadog.v1#GroupWidgetDefinition"
        },
        "HeatMapWidgetDefinition": {
          "target": "com.datadog.v1#HeatMapWidgetDefinition"
        },
        "HostMapWidgetDefinition": {
          "target": "com.datadog.v1#HostMapWidgetDefinition"
        },
        "IFrameWidgetDefinition": {
          "target": "com.datadog.v1#IFrameWidgetDefinition"
        },
        "ImageWidgetDefinition": {
          "target": "com.datadog.v1#ImageWidgetDefinition"
        },
        "ListStreamWidgetDefinition": {
          "target": "com.datadog.v1#ListStreamWidgetDefinition"
        },
        "LogStreamWidgetDefinition": {
          "target": "com.datadog.v1#LogStreamWidgetDefinition"
        },
        "MonitorSummaryWidgetDefinition": {
          "target": "com.datadog.v1#MonitorSummaryWidgetDefinition"
        },
        "NoteWidgetDefinition": {
          "target": "com.datadog.v1#NoteWidgetDefinition"
        },
        "PowerpackWidgetDefinition": {
          "target": "com.datadog.v1#PowerpackWidgetDefinition"
        },
        "PointPlotWidgetDefinition": {
          "target": "com.datadog.v1#PointPlotWidgetDefinition"
        },
        "QueryValueWidgetDefinition": {
          "target": "com.datadog.v1#QueryValueWidgetDefinition"
        },
        "RetentionCurveWidgetDefinition": {
          "target": "com.datadog.v1#RetentionCurveWidgetDefinition"
        },
        "RunWorkflowWidgetDefinition": {
          "target": "com.datadog.v1#RunWorkflowWidgetDefinition"
        },
        "SLOListWidgetDefinition": {
          "target": "com.datadog.v1#SLOListWidgetDefinition"
        },
        "SLOWidgetDefinition": {
          "target": "com.datadog.v1#SLOWidgetDefinition"
        },
        "ScatterPlotWidgetDefinition": {
          "target": "com.datadog.v1#ScatterPlotWidgetDefinition"
        },
        "SankeyWidgetDefinition": {
          "target": "com.datadog.v1#SankeyWidgetDefinition"
        },
        "ServiceMapWidgetDefinition": {
          "target": "com.datadog.v1#ServiceMapWidgetDefinition"
        },
        "ServiceSummaryWidgetDefinition": {
          "target": "com.datadog.v1#ServiceSummaryWidgetDefinition"
        },
        "SplitGraphWidgetDefinition": {
          "target": "com.datadog.v1#SplitGraphWidgetDefinition"
        },
        "SunburstWidgetDefinition": {
          "target": "com.datadog.v1#SunburstWidgetDefinition"
        },
        "TableWidgetDefinition": {
          "target": "com.datadog.v1#TableWidgetDefinition"
        },
        "TimeseriesWidgetDefinition": {
          "target": "com.datadog.v1#TimeseriesWidgetDefinition"
        },
        "ToplistWidgetDefinition": {
          "target": "com.datadog.v1#ToplistWidgetDefinition"
        },
        "TopologyMapWidgetDefinition": {
          "target": "com.datadog.v1#TopologyMapWidgetDefinition"
        },
        "TreeMapWidgetDefinition": {
          "target": "com.datadog.v1#TreeMapWidgetDefinition"
        },
        "WildcardWidgetDefinition": {
          "target": "com.datadog.v1#WildcardWidgetDefinition"
        }
      },
      "traits": {
        "smithy.api#documentation": "[Definition of the widget](https://docs.datadoghq.com/dashboards/widgets/)."
      }
    },
    "com.datadog.v1#AlertGraphWidgetDefinition": {
      "type": "structure",
      "members": {
        "alert_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the alert to use in the widget.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the widget."
          }
        },
        "time": {
          "target": "com.datadog.v1#WidgetTime"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title of the widget."
          }
        },
        "title_align": {
          "target": "com.datadog.v1#WidgetTextAlign"
        },
        "title_size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Size of the title."
          }
        },
        "type": {
          "target": "com.datadog.v1#AlertGraphWidgetDefinitionType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "viz_type": {
          "target": "com.datadog.v1#WidgetVizType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Alert graphs are timeseries graphs showing the current status of any monitor defined on your system."
      }
    },
    "com.datadog.v1#WidgetTime": {
      "type": "union",
      "members": {
        "WidgetLegacyLiveSpan": {
          "target": "com.datadog.v1#WidgetLegacyLiveSpan"
        },
        "WidgetNewLiveSpan": {
          "target": "com.datadog.v1#WidgetNewLiveSpan"
        },
        "WidgetNewFixedSpan": {
          "target": "com.datadog.v1#WidgetNewFixedSpan"
        }
      },
      "traits": {
        "smithy.api#documentation": "Time setting for the widget."
      }
    },
    "com.datadog.v1#WidgetLegacyLiveSpan": {
      "type": "structure",
      "members": {
        "hide_incomplete_cost_data": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to hide incomplete cost data in the widget."
          }
        },
        "live_span": {
          "target": "com.datadog.v1#WidgetLiveSpan"
        }
      },
      "traits": {
        "smithy.api#documentation": "Wrapper for live span"
      }
    },
    "com.datadog.v1#WidgetLiveSpan": {
      "type": "enum",
      "members": {
        "_1M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1m"
          }
        },
        "_5M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "5m"
          }
        },
        "_10M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "10m"
          }
        },
        "_15M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "15m"
          }
        },
        "_30M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "30m"
          }
        },
        "_1H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1h"
          }
        },
        "_4H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "4h"
          }
        },
        "_1D": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1d"
          }
        },
        "_2D": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "2d"
          }
        },
        "_1W": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1w"
          }
        },
        "_1MO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1mo"
          }
        },
        "_3MO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "3mo"
          }
        },
        "_6MO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "6mo"
          }
        },
        "WEEK_TO_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "week_to_date"
          }
        },
        "MONTH_TO_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month_to_date"
          }
        },
        "_1Y": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1y"
          }
        },
        "ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alert"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The available timeframes depend on the widget you are using."
      }
    },
    "com.datadog.v1#WidgetNewLiveSpan": {
      "type": "structure",
      "members": {
        "hide_incomplete_cost_data": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to hide incomplete cost data in the widget."
          }
        },
        "type": {
          "target": "com.datadog.v1#WidgetNewLiveSpanType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "unit": {
          "target": "com.datadog.v1#WidgetLiveSpanUnit",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Value of the time span.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Used for arbitrary live span times, such as 17 minutes or 6 hours."
      }
    },
    "com.datadog.v1#WidgetNewLiveSpanType": {
      "type": "enum",
      "members": {
        "LIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "live"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type \"live\" denotes a live span in the new format."
      }
    },
    "com.datadog.v1#WidgetNewFixedSpan": {
      "type": "structure",
      "members": {
        "from": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Start time in milliseconds since epoch.",
            "smithy.api#required": {}
          }
        },
        "hide_incomplete_cost_data": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to hide incomplete cost data in the widget."
          }
        },
        "to": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "End time in milliseconds since epoch.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.datadog.v1#WidgetNewFixedSpanType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Used for fixed span times, such as 'March 1 to March 7'."
      }
    },
    "com.datadog.v1#WidgetNewFixedSpanType": {
      "type": "enum",
      "members": {
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type \"fixed\" denotes a fixed span."
      }
    },
    "com.datadog.v1#WidgetTextAlign": {
      "type": "enum",
      "members": {
        "CENTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "center"
          }
        },
        "LEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "left"
          }
        },
        "RIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "right"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How to align the text on the widget."
      }
    },
    "com.datadog.v1#AlertGraphWidgetDefinitionType": {
      "type": "enum",
      "members": {
        "ALERT_GRAPH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alert_graph"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the alert graph widget."
      }
    },
    "com.datadog.v1#WidgetVizType": {
      "type": "enum",
      "members": {
        "TIMESERIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "timeseries"
          }
        },
        "TOPLIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "toplist"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether to display the Alert Graph as a timeseries or a top list."
      }
    },
    "com.datadog.v1#AlertValueWidgetDefinition": {
      "type": "structure",
      "members": {
        "alert_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the alert to use in the widget.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the widget."
          }
        },
        "precision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of decimal to show. If not defined, will use the raw value."
          }
        },
        "text_align": {
          "target": "com.datadog.v1#WidgetTextAlign"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the widget."
          }
        },
        "title_align": {
          "target": "com.datadog.v1#WidgetTextAlign"
        },
        "title_size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Size of value in the widget."
          }
        },
        "type": {
          "target": "com.datadog.v1#AlertValueWidgetDefinitionType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unit to display with the value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Alert values are query values showing the current value of the metric in any monitor defined on your system."
      }
    },
    "com.datadog.v1#AlertValueWidgetDefinitionType": {
      "type": "enum",
      "members": {
        "ALERT_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alert_value"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the alert value widget."
      }
    },
    "com.datadog.v1#BarChartWidgetDefinition": {
      "type": "structure",
      "members": {
        "custom_links": {
          "target": "com.datadog.v1#BarChartWidgetDefinitionCustomLinksList",
          "traits": {
            "smithy.api#documentation": "List of custom links."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the widget."
          }
        },
        "requests": {
          "target": "com.datadog.v1#BarChartWidgetDefinitionRequestsList",
          "traits": {
            "smithy.api#documentation": "List of bar chart widget requests.",
            "smithy.api#required": {}
          }
        },
        "style": {
          "target": "com.datadog.v1#BarChartWidgetStyle"
        },
        "time": {
          "target": "com.datadog.v1#WidgetTime"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of your widget."
          }
        },
        "title_align": {
          "target": "com.datadog.v1#WidgetTextAlign"
        },
        "title_size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Size of the title."
          }
        },
        "type": {
          "target": "com.datadog.v1#BarChartWidgetDefinitionType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The bar chart visualization displays categorical data using vertical bars, allowing you to compare values across different groups."
      }
    },
    "com.datadog.v1#WidgetCustomLink": {
      "type": "structure",
      "members": {
        "is_hidden": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The flag for toggling context menu link visibility."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The label for the custom link URL. Keep the label short and descriptive. Use metrics and tags as variables."
          }
        },
        "link": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the custom link. URL must include `http` or `https`. A relative URL must start with `/`."
          }
        },
        "override_label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The label ID that refers to a context menu link. Can be `logs`, `hosts`, `traces`, `profiles`, `processes`, `containers`, or `rum`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Custom links help you connect a data value to a URL, like a Datadog page or your AWS console."
      }
    },
    "com.datadog.v1#BarChartWidgetDefinitionCustomLinksList": {
      "type": "list",
      "member": {
        "target": "com.datadog.v1#WidgetCustomLink"
      },
      "traits": {
        "smithy.api#documentation": "List of custom links."
      }
    },
    "com.datadog.v1#BarChartWidgetRequest": {
      "type": "structure",
      "members": {
        "apm_query": {
          "target": "com.datadog.v1#LogQueryDefinition",
          "traits": {
            "smithy.api#documentation": "Deprecated - Use `queries` and `formulas` instead."
          }
        },
        "audit_query": {
          "target": "com.datadog.v1#LogQueryDefinition",
          "traits": {
            "smithy.api#documentation": "Deprecated - Use `queries` and `formulas` instead."
          }
        },
        "conditional_formats": {
          "target": "com.datadog.v1#BarChartWidgetRequestConditionalFormatsList",
          "traits": {
            "smithy.api#documentation": "List of conditional formats."
          }
        },
        "event_query": {
          "target": "com.datadog.v1#LogQueryDefinition",
          "traits": {
            "smithy.api#documentation": "Deprecated - Use `queries` and `formulas` instead."
          }
        },
        "formulas": {
          "target": "com.datadog.v1#BarChartWidgetRequestFormulasList",
          "traits": {
            "smithy.api#documentation": "List of formulas that operate on queries."
          }
        },
        "log_query": {
          "target": "com.datadog.v1#LogQueryDefinition",
          "traits": {
            "smithy.api#documentation": "Deprecated - Use `queries` and `formulas` instead."
          }
        },
        "network_query": {
          "target": "com.datadog.v1#LogQueryDefinition",
          "traits": {
            "smithy.api#documentation": "Deprecated - Use `queries` and `formulas` instead."
          }
        },
        "process_query": {
          "target": "com.datadog.v1#ProcessQueryDefinition",
          "traits": {
            "smithy.api#documentation": "Deprecated - Use `queries` and `formulas` instead."
          }
        },
        "profile_metrics_query": {
          "target": "com.datadog.v1#LogQueryDefinition",
          "traits": {
            "smithy.api#documentation": "Deprecated - Use `queries` and `formulas` instead."
          }
        },
        "q": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Widget query. Deprecated - Use `queries` and `formulas` instead."
          }
        },
        "queries": {
          "target": "com.datadog.v1#BarChartWidgetRequestQueriesList",
          "traits": {
            "smithy.api#documentation": "List of queries that can be returned directly or used in formulas."
          }
        },
        "response_format": {
          "target": "com.datadog.v1#FormulaAndFunctionResponseFormat"
        },
        "rum_query": {
          "target": "com.datadog.v1#LogQueryDefinition",
          "traits": {
            "smithy.api#documentation": "Deprecated - Use `queries` and `formulas` instead."
          }
        },
        "security_query": {
          "target": "com.datadog.v1#LogQueryDefinition",
          "traits": {
            "smithy.api#documentation": "Deprecated - Use `queries` and `formulas` instead."
          }
        },
        "sort": {
          "target": "com.datadog.v1#WidgetSortBy"
        },
        "style": {
          "target": "com.datadog.v1#WidgetRequestStyle"
        }
      },
      "traits": {
        "smithy.api#documentation": "Updated bar chart widget."
      }
    },
    "com.datadog.v1#LogQueryDefinition": {
      "type": "structure",
      "members": {
        "compute": {
          "target": "com.datadog.v1#LogsQueryCompute"
        },
        "group_by": {
          "target": "com.datadog.v1#LogQueryDefinitionGroupByList",
          "traits": {
            "smithy.api#documentation": "List of tag prefixes to group by in the case of a cluster check."
          }
        },
        "index": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A coma separated-list of index names. Use \"*\" query all indexes at once. [Multiple Indexes](https://docs.datadoghq.com/logs/indexes/#multiple-indexes)"
          }
        },
        "multi_compute": {
          "target": "com.datadog.v1#LogQueryDefinitionMultiComputeList",
          "traits": {
            "smithy.api#documentation": "This field is mutually exclusive with `compute`."
          }
        },
        "search": {
          "target": "com.datadog.v1#LogQueryDefinitionSearch"
        }
      },
      "traits": {
        "smithy.api#documentation": "The log query."
      }
    },
    "com.datadog.v1#LogsQueryCompute": {
      "type": "structure",
      "members": {
        "aggregation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The aggregation method.",
            "smithy.api#required": {}
          }
        },
        "facet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Facet name."
          }
        },
        "interval": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Define a time interval in seconds."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Define computation for a log query."
      }
    },
    "com.datadog.v1#LogQueryDefinitionGroupBy": {
      "type": "structure",
      "members": {
        "facet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Facet name.",
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of items in the group."
          }
        },
        "sort": {
          "target": "com.datadog.v1#LogQueryDefinitionGroupBySort"
        }
      },
      "traits": {
        "smithy.api#documentation": "Defined items in the group."
      }
    },
    "com.datadog.v1#LogQueryDefinitionGroupBySort": {
      "type": "structure",
      "members": {
        "aggregation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The aggregation method.",
            "smithy.api#required": {}
          }
        },
        "facet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Facet name."
          }
        },
        "order": {
          "target": "com.datadog.v1#WidgetSort",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Define a sorting method."
      }
    },
    "com.datadog.v1#WidgetSort": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Widget sorting methods."
      }
    },
    "com.datadog.v1#LogQueryDefinitionGroupByList": {
      "type": "list",
      "member": {
        "target": "com.datadog.v1#LogQueryDefinitionGroupBy"
      },
      "traits": {
        "smithy.api#documentation": "List of tag prefixes to group by in the case of a cluster check."
      }
    },
    "com.datadog.v1#LogQueryDefinitionMultiComputeList": {
      "type": "list",
      "member": {
        "target": "com.datadog.v1#LogsQueryCompute"
      },
      "traits": {
        "smithy.api#documentation": "This field is mutually exclusive with `compute`."
      }
    },
    "com.datadog.v1#LogQueryDefinitionSearch": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Search value to apply.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The query being made on the logs."
      }
    },
    "com.datadog.v1#WidgetConditionalFormat": {
      "type": "structure",
      "members": {
        "comparator": {
          "target": "com.datadog.v1#WidgetComparator",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "custom_bg_color": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Color palette to apply to the background, same values available as palette."
          }
        },
        "custom_fg_color": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Color palette to apply to the foreground, same values available as palette."
          }
        },
        "hide_value": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True hides values."
          }
        },
        "image_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Displays an image as the background."
          }
        },
        "metric": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Metric from the request to correlate this conditional format with."
          }
        },
        "palette": {
          "target": "com.datadog.v1#WidgetPalette",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "timeframe": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the displayed timeframe."
          }
        },
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Value for the comparator.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Define a conditional format for the widget."
      }
    },
    "com.datadog.v1#WidgetComparator": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "="
          }
        },
        "VALUE_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ">"
          }
        },
        "VALUE_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ">="
          }
        },
        "VALUE_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "<"
          }
        },
        "VALUE_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "<="
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Comparator to apply."
      }
    },
    "com.datadog.v1#WidgetPalette": {
      "type": "enum",
      "members": {
        "BLUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blue"
          }
        },
        "CUSTOM_BG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_bg"
          }
        },
        "CUSTOM_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_image"
          }
        },
        "CUSTOM_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_text"
          }
        },
        "GRAY_ON_WHITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gray_on_white"
          }
        },
        "GREY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "grey"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green"
          }
        },
        "ORANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "orange"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red"
          }
        },
        "RED_ON_WHITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red_on_white"
          }
        },
        "WHITE_ON_GRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "white_on_gray"
          }
        },
        "WHITE_ON_GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "white_on_green"
          }
        },
        "GREEN_ON_WHITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green_on_white"
          }
        },
        "WHITE_ON_RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "white_on_red"
          }
        },
        "WHITE_ON_YELLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "white_on_yellow"
          }
        },
        "YELLOW_ON_WHITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yellow_on_white"
          }
        },
        "BLACK_ON_LIGHT_YELLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "black_on_light_yellow"
          }
        },
        "BLACK_ON_LIGHT_GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "black_on_light_green"
          }
        },
        "BLACK_ON_LIGHT_RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "black_on_light_red"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Color palette to apply."
      }
    },
    "com.datadog.v1#BarChartWidgetRequestConditionalFormatsList": {
      "type": "list",
      "member": {
        "target": "com.datadog.v1#WidgetConditionalFormat"
      },
      "traits": {
        "smithy.api#documentation": "List of conditional formats."
      }
    },
    "com.datadog.v1#WidgetFormula": {
      "type": "structure",
      "members": {
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Expression alias."
          }
        },
        "cell_display_mode": {
          "target": "com.datadog.v1#TableWidgetCellDisplayMode"
        },
        "cell_display_mode_options": {
          "target": "com.datadog.v1#WidgetFormulaCellDisplayModeOptions"
        },
        "conditional_formats": {
          "target": "com.datadog.v1#WidgetFormulaConditionalFormatsList",
          "traits": {
            "smithy.api#documentation": "List of conditional formats."
          }
        },
        "formula": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String expression built from queries, formulas, and functions.",
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "com.datadog.v1#WidgetFormulaLimit"
        },
        "number_format": {
          "target": "com.datadog.v1#WidgetNumberFormat"
        },
        "style": {
          "target": "com.datadog.v1#WidgetFormulaStyle"
        }
      },
      "traits": {
        "smithy.api#documentation": "Formula to be used in a widget query."
      }
    },
    "com.datadog.v1#TableWidgetCellDisplayMode": {
      "type": "enum",
      "members": {
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "BAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bar"
          }
        },
        "TREND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trend"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Define a display mode for the table cell."
      }
    },
    "com.datadog.v1#WidgetFormulaCellDisplayModeOptions": {
      "type": "structure",
      "members": {
        "trend_type": {
          "target": "com.datadog.v1#WidgetFormulaCellDisplayModeOptionsTrendType"
        },
        "y_scale": {
          "target": "com.datadog.v1#WidgetFormulaCellDisplayModeOptionsYScale"
        }
      },
      "traits": {
        "smithy.api#documentation": "Cell display mode options for the widget formula. (only if `cell_display_mode` is set to `trend`)."
      }
    },
    "com.datadog.v1#WidgetFormulaCellDisplayModeOptionsTrendType": {
      "type": "enum",
      "members": {
        "AREA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "area"
          }
        },
        "LINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "line"
          }
        },
        "BARS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bars"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Trend type for the cell display mode options."
      }
    },
    "com.datadog.v1#WidgetFormulaCellDisplayModeOptionsYScale": {
      "type": "enum",
      "members": {
        "SHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shared"
          }
        },
        "INDEPENDENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "independent"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Y scale for the cell display mode options."
      }
    },
    "com.datadog.v1#WidgetFormulaConditionalFormatsList": {
      "type": "list",
      "member": {
        "target": "com.datadog.v1#WidgetConditionalFormat"
      },
      "traits": {
        "smithy.api#documentation": "List of conditional formats."
      }
    },
    "com.datadog.v1#WidgetFormulaLimit": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of results to return."
          }
        },
        "order": {
          "target": "com.datadog.v1#QuerySortOrder"
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for limiting results returned."
      }
    },
    "com.datadog.v1#QuerySortOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Direction of sort."
      }
    },
    "com.datadog.v1#WidgetNumberFormat": {
      "type": "structure",
      "members": {
        "unit": {
          "target": "com.datadog.v1#NumberFormatUnit"
        },
        "unit_scale": {
          "target": "com.datadog.v1#NumberFormatUnitScale",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Number format options for the widget."
      }
    },
    "com.datadog.v1#NumberFormatUnit": {
      "type": "union",
      "members": {
        "NumberFormatUnitCanonical": {
          "target": "com.datadog.v1#NumberFormatUnitCanonical"
        },
        "NumberFormatUnitCustom": {
          "target": "com.datadog.v1#NumberFormatUnitCustom"
        }
      },
      "traits": {
        "smithy.api#documentation": "Number format unit."
      }
    },
    "com.datadog.v1#NumberFormatUnitCanonical": {
      "type": "structure",
      "members": {
        "per_unit_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the unit per item."
          }
        },
        "type": {
          "target": "com.datadog.v1#NumberFormatUnitScaleType"
        },
        "unit_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the unit."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Canonical unit."
      }
    },
    "com.datadog.v1#NumberFormatUnitScaleType": {
      "type": "enum",
      "members": {
        "CANONICAL_UNIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canonical_unit"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of unit scale."
      }
    },
    "com.datadog.v1#NumberFormatUnitCustom": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The label for the custom unit."
          }
        },
        "type": {
          "target": "com.datadog.v1#NumberFormatUnitCustomType"
        }
      },
      "traits": {
        "smithy.api#documentation": "Custom unit."
      }
    },
    "com.datadog.v1#NumberFormatUnitCustomType": {
      "type": "enum",
      "members": {
        "CUSTOM_UNIT_LABEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_unit_label"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of custom unit."
      }
    },
    "com.datadog.v1#NumberFormatUnitScale": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.datadog.v1#NumberFormatUnitScaleType"
        },
        "unit_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the unit."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The definition of `NumberFormatUnitScale` object."
      }
    },
    "com.datadog.v1#WidgetFormulaStyle": {
      "type": "structure",
      "members": {
        "palette": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The color palette used to display the formula. A guide to the available color palettes can be found at https://docs.datadoghq.com/dashboards/guide/widget_colors"
          }
        },
        "palette_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Index specifying which color to use within the palette."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Styling options for widget formulas."
      }
    },
    "com.datadog.v1#BarChartWidgetRequestFormulasList": {
      "type": "list",
      "member": {
        "target": "com.datadog.v1#WidgetFormula"
      },
      "traits": {
        "smithy.api#documentation": "List of formulas that operate on queries."
      }
    },
    "com.datadog.v1#ProcessQueryDefinition": {
      "type": "structure",
      "members": {
        "filter_by": {
          "target": "com.datadog.v1#ProcessQueryDefinitionFilterByList",
          "traits": {
            "smithy.api#documentation": "List of processes."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Max number of items in the filter list."
          }
        },
        "metric": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your chosen metric.",
            "smithy.api#required": {}
          }
        },
[...]
